<template>
	<div
		class="draft-booking-card col-md-10 col-lg-8"
		:class="{ 'is-flash-sale-has-discount': isFlashSaleAndHasDiscount }"
	>
		<flash-sale-label v-if="isFlashSale" class="--flash-sale-label" />
		<div class="draft-booking-card__top">
			<div class="draft-booking-card__photo">
				<img
					v-lazy="{
						src: room.image.small,
						error: '/general/img/pictures/placeholder/placeholder_loading.svg'
					}"
					:alt="room.name"
				/>
			</div>

			<div class="draft-booking-card__info">
				<h5 class="draft-booking-card__kost-name">
					{{ roomTitle }}
				</h5>

				<div class="draft-booking-card__booking-info">
					<div class="draft-booking-card__availability">
						<span class="item-top-label">
							<span
								class="--room-available text-primary"
								:class="{
									'text-alert': room.available_room <= 4,
									'text-disabled': room.available_room <= 0
								}"
							>
								{{ roomAvailableLabel }}
							</span>
							<span class="--dot">&#8226;</span>
							<span class="--gender" :class="genderClass">{{ room.type }}</span>
						</span>
						<flash-sale-price
							v-if="isFlashSaleAndHasDiscount"
							:percentage="room.price.discount"
							:price="normalPrice"
						/>
						<span class="--bold-info --price-info">{{ roomPrice }}</span>
					</div>
					<draft-booking-shortcut-date
						class="hidden-xs"
						:slug="room.slug"
						:checkin-date="checkinDate"
						:duration="room.rent_duration"
					/>
				</div>
			</div>
		</div>
		<draft-booking-shortcut-date
			class="draft-booking-card__bottom visible-xs"
			:slug="room.slug"
			:checkin-date="checkinDate"
			:duration="room.rent_duration"
		/>
	</div>
</template>

<script>
import DraftBookingShortcutDate from './DraftBookingShortcutDate';
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';
import FlashSalePrice from 'Js/_booking/flash-sale/FlashSalePrice';
import dayjs from 'dayjs';
import 'dayjs/locale/id';

export default {
	components: {
		DraftBookingShortcutDate,
		FlashSaleLabel,
		FlashSalePrice
	},
	props: {
		room: {
			type: Object,
			required: true
		},
		totalDraft: {
			type: Number,
			required: true
		}
	},
	computed: {
		isFlashSale() {
			return !!this.room.is_flash_sale;
		},
		isFlashSaleAndHasDiscount() {
			return this.isFlashSale && !!this.room.price.discount_price;
		},
		roomTitle() {
			const title = [this.room.name.trim()];
			!!this.room.subdistrict && title.push(this.room.subdistrict.trim());
			!!this.room.city && title.push(this.room.city.trim());
			return title.join(', ');
		},
		checkinDate() {
			const checkin = this.room.checkin;
			return checkin
				? dayjs(checkin)
						.locale('id')
						.format('DD MMM YYYY')
				: '';
		},
		genderClass() {
			const genderType = this.room.type;
			return {
				'--mix': genderType === 'campur',
				'--male': genderType === 'putra',
				'--female': genderType === 'putri'
			};
		},
		roomAvailableLabel() {
			const availableRoom = this.room.available_room;
			if (availableRoom <= 0) {
				return 'Kamar Penuh';
			} else if (availableRoom <= 4) {
				return `Sisa ${availableRoom} Kamar`;
			} else {
				return `Tersedia ${availableRoom} Kamar`;
			}
		},
		normalPrice() {
			return `${this.room.price.currency_symbol}${this.room.price.price}`;
		},
		roomPrice() {
			const roomPrice = this.room.price;
			const mainPrice = roomPrice.discount_price
				? roomPrice.discount_price
				: roomPrice.price;
			return `${roomPrice.currency_symbol}${mainPrice} Per ${roomPrice.rent_type_unit}`;
		}
	}
};
</script>

<style lang="scss">
.draft-booking-card {
	.--bold-info {
		margin-top: 8px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;

		@media (max-width: 767px) {
			margin-top: 4px;
			font-size: 12px;
			line-height: 18px;
		}
	}

	.item-top-label,
	.small-text {
		font-size: 12px;
		line-height: 18px;
	}
}
</style>

<style lang="scss" scoped>
@import 'Sass/_variables.scss';

.draft-booking-card {
	display: flex;
	padding: 16px;
	color: #484848;
	flex-direction: column;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

	&__top {
		position: relative;
		display: flex;
	}

	@media (max-width: 767px) {
		padding: 12px;
	}

	&__photo {
		margin-right: 15px;

		img {
			border-radius: 4px;
			height: 88px;
			width: 88px;
			background-color: #ddd;
			object-fit: cover;
			object-position: center;
		}

		@media (max-width: 767px) {
			margin-right: 24px;
		}

		@media (min-width: 991px) {
			display: flex;
			align-items: center;
		}
	}

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__kost-name {
		max-width: 405px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;
		margin-top: 0;
		margin-bottom: 16px;

		@media (max-width: 767px) {
			white-space: normal;
			margin-bottom: 4px;
			max-height: 44px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	&__availability {
		display: flex;
		flex-direction: column;

		.--dot {
			color: rgba(36, 36, 36, 0.1);
			margin: 0 4px;
		}
	}

	&__booking-info {
		display: flex;
		align-items: flex-end;

		.--price-info {
			text-transform: capitalize;
		}

		@media (max-width: 767px) {
			.--price-info {
				font-weight: normal;
			}
		}
	}

	&__bottom {
		margin-top: 16px;
	}

	.--flash-sale-label {
		margin-bottom: 12px;
	}

	&.is-flash-sale-has-discount {
		.draft-booking-card__kost-name {
			margin-bottom: 4px;
		}

		.--price-info {
			margin-top: 0;
		}
	}

	.--gender {
		text-transform: capitalize;
	}

	.--mix {
		color: $gender-color-mix;
	}

	.--female {
		color: $gender-color-female;
	}

	.--male {
		color: $gender-color-male;
	}

	.text-alert {
		color: #e52a34;
	}

	.text-disabled {
		color: #999;
	}
}
</style>
