<template>
	<div class="draft-booking-card --many col-lg-8 col-md-10 col-sm-12">
		<div class="draft-booking-card__container">
			<h3 class="draft-booking-card__title">
				{{ roomName }} dan {{ totalDraft - 1 }} kosan lainnya menunggu
				kelanjutan Booking
			</h3>
			<div class="draft-booking-card__persuade">
				<p>
					Segera selesaikan proses Booking sebelum kamar Kos tidak tersedia lagi
					untukmu.
				</p>
				<a
					href="/user/booking/draft?from=home"
					role="button"
					class="btn btn-primary visible-xs small-text"
				>
					Lihat
				</a>
			</div>
		</div>
		<a
			href="/user/booking/draft?from=home"
			role="button"
			class="btn btn-primary hidden-xs"
		>
			Lihat
		</a>
	</div>
</template>

<script>
export default {
	props: {
		roomName: {
			type: String,
			required: true
		},
		totalDraft: {
			type: Number,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.draft-booking-card {
	color: #484848;
	display: flex;
	align-items: center;
	padding: 20px 32px;
	background: #ffffff;
	box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
	border-radius: 8px;

	h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		margin-top: 0;
		margin-bottom: 8px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
	}

	&__container {
		margin-right: 60px;
	}

	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 170px;
		height: 48px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		flex-shrink: 0;
	}

	@media (max-width: 1200px) {
		&__container {
			margin-right: 30px;
		}
	}

	@media (max-width: 767px) {
		padding: 12px 14px;

		h3 {
			font-size: 16px;
			line-height: 24px;
		}

		p {
			margin-right: 15px;
			font-size: 12px;
			line-height: 18px;
		}

		&__container {
			margin-right: 0;
		}

		.btn {
			width: 84px;
			height: 32px;
			font-size: 12px;
			line-height: 18px;
		}
	}

	&__persuade {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.small-text {
		font-size: 12px;
		line-height: 18px;
	}
}
</style>
