<template>
	<div class="booking-draft-shortcut-date">
		<div class="booking-draft-shortcut-date__container">
			<div>
				<div class="--checkin-date">
					<span class="item-top-label">Tanggal Masuk</span>
					<span class="--bold-info">{{ checkinDate }}</span>
				</div>

				<div class="--rent-duration">
					<span class="item-top-label">Durasi Sewa</span>
					<span class="--bold-info">
						{{ duration || 'Belum terisi' }}
					</span>
				</div>
			</div>

			<a
				:href="`/room/${slug}?draft=true&redirection_source=homepage`"
				class="btn btn-danger"
				role="button"
			>
				Lanjut Booking
			</a>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		slug: {
			type: String,
			required: true
		},
		duration: {
			type: String,
			required: true
		},
		checkinDate: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-draft-shortcut-date {
	&__container {
		display: flex;
		margin-left: 34px;
		align-items: center;

		> div {
			width: 100%;
			display: flex;

			> div {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.--checkin-date {
		margin-right: 21px;
	}

	@media (max-width: 767px) {
		&__container {
			margin-left: 0;
			align-items: center;
			justify-content: space-between;
		}

		.btn {
			position: relative;
			height: 32px;
			padding-right: 16px;
			padding-left: 16px;
			font-size: 12px;
			line-height: 18px;
		}
	}

	@media (min-width: 768px) {
		.btn {
			position: absolute;
			top: 22px;
			right: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 48px;
			padding: 0 40px;
			font-weight: bold;
		}
	}

	@media (max-width: 991px) {
		.btn {
			padding-right: 12px;
			padding-left: 12px;
		}
	}
}
</style>
