<template>
	<div id="verificationCamera">
		<filter-close-button @press="cancelCapture"></filter-close-button>

		<div class="camera-container">
			<id-verif-camera
				:snap-type="snapType"
				@cancel-capture="cancelCapture"
				@save-canvas="saveCanvas"
				@save-selfie="saveSelfie"
				@save-card="saveCard"
			></id-verif-camera>
		</div>
	</div>
</template>

<script>
const FilterCloseButton = () => import('Js/@components/FilterCloseButton');
const IdVerifCamera = () => import('Js/@components/IdVerifCamera');

export default {
	components: {
		FilterCloseButton,
		IdVerifCamera
	},

	props: {
		snapType: {
			type: String,
			default: 'card'
		}
	},

	methods: {
		cancelCapture() {
			this.$emit('close');
		},
		saveCanvas(type) {
			this.$emit('close');
		},
		saveCard(image) {
			this.$store.commit('setIdImg', image);
		},
		saveSelfie(image) {
			this.$store.commit('setSelfieImg', image);
		}
	}
};
</script>

<style lang="scss">
#verificationCamera {
	.btn-close-filter {
		position: relative;
		right: 1.5rem;
		margin-top: -1rem;

		@media (max-width: 767px) {
			top: 1.5rem;
		}
	}
}
</style>

<style lang="scss" scoped>
#verificationCamera {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	left: 0;
	z-index: 1067;
	overflow-y: auto;

	.camera-container {
		margin-top: 6.5rem;
	}
}
</style>
