<template>
	<div class="forget-password-new-password-input">
		<template v-if="isLoadingSubmitNewPassword">
			<mami-loading-inline />
		</template>

		<template v-else>
			<form
				class="forget-password-new-password-input__form"
				@submit.prevent="submitNewPassword"
			>
				<bg-field
					label="Password Baru"
					:message="errors.first('newPassword')"
					:error="!!errors.first('newPassword')"
				>
					<bg-input-password
						v-model="newPasswordValue"
						v-validate="validationRules.new_password"
						name="newPassword"
						placeholder="Masukkan password baru"
						class="forget-password-new-password-input__password-field"
					/>
				</bg-field>
				<bg-field
					label="Ulangi Password Baru"
					:message="errors.first('confirmNewPassword')"
					:error="!!errors.first('confirmNewPassword')"
				>
					<bg-input-password
						v-model="confirmNewPasswordValue"
						v-validate="validationRules.confirm_new_password"
						name="confirmNewPassword"
						placeholder="Ulangi password baru"
						class="forget-password-new-password-input__password-field"
					/>
				</bg-field>
			</form>
			<div class="forget-password-new-password-input__footer">
				<bg-button
					variant="primary"
					size="lg"
					block
					:disabled="!isPasswordConfirmed"
					@click="submitNewPassword"
				>
					Simpan
				</bg-button>
			</div>
		</template>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import { BgField, BgInputPassword, BgButton } from 'bangul-vue';
import { isContainingEmoji } from 'Js/@utils/validation';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline';

import MixinAuthenticate from '../../mixins/MixinAuthenticate';

export default {
	name: 'ForgetPasswordNewPasswordInput',
	components: {
		BgField,
		BgInputPassword,
		BgButton,
		MamiLoadingInline
	},
	mixins: [MixinAuthenticate],
	data() {
		return {
			validationRules: {
				new_password: {
					min: 8,
					max: 25,
					emoji_regex: true
				},
				confirm_new_password: {
					confirmed_new_password: true
				}
			},
			dictionary: {
				custom: {
					newPassword: {
						min: 'Password minimal 8 karakter',
						max: 'Password maksimal 25 karakter'
					}
				}
			},
			newPasswordValue: '',
			confirmNewPasswordValue: '',
			isLoadingSubmitNewPassword: false
		};
	},
	computed: {
		...mapState(['userRole']),
		...mapState('forgetPassword', [
			'selectedOTPMethod',
			'userEmailOrPhoneNumberValue',
			'inputedOTPCode'
		]),
		isPasswordConfirmed() {
			return (
				this.newPasswordValue.length &&
				this.confirmNewPasswordValue.length &&
				!this.errors.items.length
			);
		},
		userRolePayloadName() {
			return this.userRole.key === 'owner'
				? 'owner_edit_password'
				: 'tenant_forget_pwd';
		}
	},
	watch: {
		newPasswordValue(value) {
			if (value.length) this.handleNewPasswordInput(value);
		}
	},
	mounted() {
		// Initialize custom validation rules.
		this.extendValidationRules();

		// Initialize custom validator messages.
		this.$validator.localize('id', this.dictionary);
	},
	methods: {
		...mapMutations('forgetPassword', ['setIsForgetPasswordSuccess']),
		handleNewPasswordInput(value) {
			this.$validator.validateAll();
		},

		// Set extend custom validation rules
		extendValidationRules() {
			this.$validator.extend('emoji_regex', {
				getMessage: () => 'Tidak dapat menggunakan emoji untuk password.',
				validate: value => !isContainingEmoji(value)
			});

			this.$validator.extend('confirmed_new_password', {
				getMessage: field =>
					'Masukkan password yang sama dengan Password Baru.',
				validate: value => {
					return this.newPasswordValue === this.confirmNewPasswordValue;
				}
			});
		},

		submitNewPassword() {
			const payload = {
				/* eslint-disable no-undef */
				password: md5(this.newPasswordValue),
				password_confirmation: md5(this.confirmNewPasswordValue),
				for: this.userRolePayloadName,
				via: this.selectedOTPMethod.key,
				destination: this.userEmailOrPhoneNumberValue,
				code: this.inputedOTPCode
			};

			this.isLoadingSubmitNewPassword = true;

			axios
				.post(`/auth/user/forgot-password`, payload)
				.then(async response => {
					if (response.data.status) {
						const loginPayload = {
							phone_number: this.userEmailOrPhoneNumberValue,
							password: payload.password
						};

						await this.authenticateUser(loginPayload);

						this.setIsForgetPasswordSuccess(true);
						this.$emit('next-step', 'success-state');
					} else {
						this.swalError(
							null,
							response.data.message || 'Terjadi galat. Silakan coba lagi.'
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				})
				.finally(() => (this.isLoadingSubmitNewPassword = false));
		}
	}
};
</script>

<style lang="scss" scoped>
.forget-password-new-password-input {
	&__form {
		.bg-c-field {
			margin-bottom: 16px;
		}
	}
}
</style>
