<template>
	<div class="forget-password-o-t-p-input">
		<template v-if="isLoadingGetOTP">
			<mami-loading-inline />
		</template>

		<o-t-p-input-wrapper
			v-else
			:is-loading-verification="isLoadingCheckOTP"
			:contact-type="selectedUserIdType"
			:contact-value="userEmailOrPhoneNumberValue"
			:method-label="selectedOTPMethod.label"
			:resend-counter="selectedOTPResendCounter"
			:is-invalid="isOTPInvalid"
			@resend-otp="handleResendOTP"
			@verify-otp="handleVerifyOTP"
			@reset-validation="isOTPInvalid = false"
		/>
	</div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline';
import OTPInputWrapper from '../OTPInputWrapper';

import MixinAuthTrackers from '../../mixins/MixinAuthTrackers';

export default {
	name: 'ForgetPasswordOTPInput',
	components: {
		MamiLoadingInline,
		OTPInputWrapper
	},
	mixins: [MixinAuthTrackers],
	data() {
		return {
			isStartCountDown: false,
			isLoadingGetOTP: false,
			isLoadingCheckOTP: false,
			isOTPInvalid: false
		};
	},
	computed: {
		...mapState('forgetPassword', [
			'userEmailOrPhoneNumberValue',
			'selectedUserIdType',
			'selectedOTPMethod'
		]),
		...mapState(['userRole']),
		...mapGetters('forgetPassword', ['selectedOTPResendCounter']),
		userRolePayloadName() {
			// this computed is to fill value of 'for' params on request/check OTP API
			return this.userRole.key === 'owner'
				? 'owner_edit_password'
				: 'tenant_forget_pwd';
		}
	},
	watch: {
		isStartCountDown(value) {
			if (value) this.startOTPResendCountdown();
		},
		selectedOTPResendCounter(value) {
			if (value <= 0) this.isStartCountDown = false;
		}
	},
	mounted() {
		this.trackOTPFormVisited(
			'forget password',
			this.selectedOTPMethod.label.toLowerCase()
		);
		this.getOTP();
	},
	methods: {
		...mapActions('forgetPassword', ['startOTPResendCountdown']),
		...mapMutations('forgetPassword', ['setInputedOTPCode']),

		// Methods to call API
		getOTP() {
			const payload = {
				for: this.userRolePayloadName,
				via: this.selectedOTPMethod.key,
				destination: this.userEmailOrPhoneNumberValue
			};

			this.isLoadingGetOTP = true;
			this.setInputedOTPCode(null);

			axios
				.post(`/auth/code/request`, payload)
				.then(response => {
					if (response.data.status) {
						this.isStartCountDown = true;
					} else {
						this.swalError(
							null,
							response.data.meta.message || 'Terjadi galat. Silakan coba lagi.'
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				})
				.finally(() => (this.isLoadingGetOTP = false));
		},
		handleVerifyOTP(value) {
			const payload = {
				for: this.userRolePayloadName,
				via: this.selectedOTPMethod.key,
				destination: this.userEmailOrPhoneNumberValue,
				code: value
			};

			this.isLoadingCheckOTP = true;

			axios
				.post(`/auth/code/check`, payload)
				.then(response => {
					if (response.data.status) {
						// if otp code is valid, move to next step input new password
						this.setInputedOTPCode(value);
						this.$emit('next-step', 'input-new-password');
					} else {
						// if otp code is invalid, show the invalid message
						this.isOTPInvalid = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				})
				.finally(() => (this.isLoadingCheckOTP = false));
		},

		handleResendOTP() {
			this.trackOTPResent(
				'forget password',
				this.selectedOTPMethod.label.toLowerCase()
			);
			this.getOTP();
		}
	}
};
</script>
