<template>
	<div class="forget-password-id-input">
		<form class="forget-password-id-input__form" @submit.prevent="handleSubmit">
			<bg-field
				label="Nomor Handphone"
				:message="errors.first(fieldName) || apiErrorMessage"
				:error="!!errors.first(fieldName) || !!apiErrorMessage"
			>
				<bg-input
					v-model="inputValue"
					v-validate="validationRules[inputType]"
					:name="fieldName"
					:placeholder="inputPlaceholder"
					class="forget-password-id-input__text-field"
				/>
				<div
					v-if="isPassedClientValidation && isLoadingAPIValidation"
					class="forget-password-id-input__loading-message"
				>
					<mami-loading-inline />
					<p class="loading-message-text">Memeriksa pemilik akun</p>
				</div>
			</bg-field>
		</form>
		<a
			v-if="csContactItems"
			type="button"
			class="forget-password-id-input__cs-contact-button"
			@click="handleContactCS"
		>
			{{ csContactItems.cta_message }}
		</a>
		<p class="forget-password-id-input__description">
			{{ pageDescription }}
		</p>
		<div class="forget-password-id-input__footer">
			<bg-button
				variant="primary"
				size="lg"
				block
				:disabled="!isFormValid"
				@click="handleSubmit"
			>
				Pilih metode verifikasi
			</bg-button>
		</div>
	</div>
</template>

<script>
import _debounce from 'lodash/debounce';

import { mapState, mapMutations } from 'vuex';
import { BgField, BgInput, BgButton } from 'bangul-vue';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline';

import { validateEmail, isNumberOnly } from 'Js/@utils/validation';

import MixinAuthTrackers from '../../mixins/MixinAuthTrackers';

export default {
	name: 'ForgetPasswordIdInput',
	components: {
		BgField,
		BgInput,
		BgButton,
		MamiLoadingInline
	},
	mixins: [MixinAuthTrackers],
	data() {
		return {
			validationRules: {
				// TEMPORARILY DISABLED
				// email: {
				// 	email_regex: true
				// },
				phone_number: {
					phone_number_regex: true,
					indonesian_format: true,
					min: 8,
					max: 14
				}
			},
			dictionary: {
				custom: {
					emailPhoneNumber: {
						min: 'Nomor handphone kurang dari 8 karakter.',
						max: 'Nomor handphone lebih dari 14 karakter.'
					}
				}
			},
			fieldName: 'emailPhoneNumber',
			inputValue: '',
			isLoadingAPIValidation: false,
			isPassedAPIValidation: false,
			apiErrorMessage: null,
			csContactItems: null,
			otpMethods: []
		};
	},
	computed: {
		...mapState(['userRole']),
		...mapState('forgetPassword', ['userEmailOrPhoneNumberValue']),
		// TEMPORARILY DISABLED
		// isStartedWithNumber() {
		// 	return this.inputValue.length && !isNaN(this.inputValue.charAt(0));
		// },
		inputPlaceholder() {
			return `Masukkan sesuai yang ${
				this.userRole.key === 'owner' ? 'Anda' : 'kamu'
			} daftarkan`;
		},
		pageDescription() {
			return `${
				this.userRole.key === 'owner' ? 'Anda' : 'Kamu'
			} akan membuat password baru setelah verifikasi berhasil.`;
		},
		inputType() {
			/**
			 * Currently, the input type email will be disabled and only accepting
			 * phone number. Will be re-enabled following further updates from product
			 * team.
			 */

			// return this.isStartedWithNumber &&
			// 	!isContainingSpecialCharacters(this.inputValue)
			// 	? 'phone_number'
			// 	: 'email';
			return 'phone_number';
		},
		isPassedClientValidation() {
			return this.inputValue.length && !this.errors.items.length;
		},
		isFormValid() {
			return this.isPassedClientValidation && this.isPassedAPIValidation;
		}
	},
	watch: {
		// Automatically set local input value with previously set user's email/phone-number data if any.
		userEmailOrPhoneNumberValue: {
			immediate: true,
			handler(value) {
				this.inputValue = value;
			}
		},
		inputValue(value) {
			if (value.length) this.handleUserInput(value);
		}
	},
	mounted() {
		// Initialize custom validator messages.
		this.$validator.localize('id', this.dictionary);

		// Initialize custom validation rules.
		this.extendValidationRules();

		// Validate on mounted if input value is not empty.
		if (this.inputValue.length) this.handleUserInput(this.inputValue);
	},
	methods: {
		...mapMutations('forgetPassword', [
			'setUserEmailOrPhoneNumberValue',
			'setSelectedUserIdType',
			'setOTPMethods'
		]),
		extendValidationRules() {
			this.$validator.extend('indonesian_format', {
				getMessage: () => 'Nomor handphone harus diawali dengan 08.',
				validate: value => {
					return value.startsWith('08');
				}
			});

			this.$validator.extend('phone_number_regex', {
				getMessage: () => 'Nomor handphone hanya dapat diisi dengan angka.',
				validate: value => isNumberOnly(value)
			});

			this.$validator.extend('email_regex', {
				getMessage: () => 'Gunakan format email seperti: mami@mamikos.com',
				validate: value => validateEmail(value)
			});
		},
		handleUserInput(value) {
			this.resetAPIValidationItems();
			this.handleImmediateValidation();
			this.handleAPIValidation(value);
		},
		handleImmediateValidation() {
			// Wait for input type changes for the 1st time before validating.
			setTimeout(() => {
				this.$validator.validateAll();
			}, 100);
		},
		handleAPIValidation: _debounce(function(value) {
			if (this.isPassedClientValidation) this.validateWithAPI(value);
		}, 1500),
		validateWithAPI(value) {
			const userRole = this.userRole.key === 'tenant' ? 'user' : 'owner';
			const payload = { [this.inputType]: value };

			this.isLoadingAPIValidation = true;
			this.resetAPIValidationItems();

			axios
				.post(`/${userRole}/forget/password/identifier`, payload)
				.then(response => {
					if (response.data.status) {
						this.isPassedAPIValidation = true;
						this.otpMethods = response.data.data;
					} else {
						this.csContactItems = response.data.contact;
						this.apiErrorMessage = response.data.message;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				})
				.finally(() => (this.isLoadingAPIValidation = false));
		},
		resetAPIValidationItems() {
			this.isPassedAPIValidation = false;
			this.apiErrorMessage = null;
			this.csContactItems = null;
		},
		handleContactCS() {
			const waEndpoint = `https://api.whatsapp.com/send?phone=${this.csContactItems.wa_number}&text=${this.csContactItems.pretext}`;

			window.open(waEndpoint);
		},
		handleSubmit() {
			if (this.isFormValid) {
				this.trackForgetPasswordRequested();
				this.setSelectedUserIdType(this.inputType);
				this.setUserEmailOrPhoneNumberValue(this.inputValue);
				this.setOTPMethods(this.otpMethods);
				this.$emit('next-step', 'select-otp-method');
			}
		}
	}
};
</script>

<style lang="scss">
.forget-password-id-input {
	&__loading-message {
		display: flex;
		margin-top: 4px;
		color: #757575;

		.spinner {
			margin: 0 !important;

			/* stylelint-disable selector-max-type */
			> div {
				width: 8px !important;
				height: 8px !important;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.forget-password-id-input {
	margin-top: 24px;

	&__cs-contact-button {
		color: #1baa56;
		text-decoration: underline;
	}

	&__description {
		margin-top: 24px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #757575;
	}

	&__footer {
		margin-top: 24px;
	}

	.loading-message-text {
		margin: 0 8px;
	}
}
</style>
