<template>
	<div class="forget-password-success-state">
		<div class="forget-password-success-state__body">
			<bg-illustration name="verified-account" alt="verified account" />
			<p class="forget-password-success-state__description">
				Jika ingin mengubah password lagi, silakan akses melalui menu
				<strong class="forget-password-success-state__steps">
					Profil <span class="arrow">→</span> Informasi Pribadi
					<span class="arrow">→</span> Password.
				</strong>
			</p>
		</div>
		<div class="forget-password-success-state__footer">
			<bg-button variant="primary" size="lg" block @click="returnToHomePage">
				Ke Home
			</bg-button>
		</div>
	</div>
</template>

<script>
import { BgButton, BgIllustration } from 'bangul-vue';
import MixinReverseStep from '../../mixins/MixinReverseStep';

export default {
	name: 'ForgetPasswordSuccessState',
	components: {
		BgButton,
		BgIllustration
	},
	mixins: [MixinReverseStep]
};
</script>

<style lang="scss" scoped>
.forget-password-success-state {
	&__body {
		text-align: center;
	}
	&__description {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 24px;
		text-align: left;
	}
	&__steps {
		.arrow {
			position: relative;
			bottom: 2px;
			font-size: 24px;
		}
	}
}
</style>
