<template>
	<div id="landingKostContainer">
		<global-navbar
			fixed
			need-search-box
			need-back-arrow
			join-premium-menu
			redirection-source="list kos result"
			:history-point="historyPoint"
			:open-modal-with-props="showSearch"
			@closeModalWithProps="closeSearch"
		/>
		<div
			:class="[
				'title-container',
				{
					'--title-tall': !isLogin
				}
			]"
		>
			<h1 class="text-normalize">{{ landingBreadcrumbTitle }}</h1>
		</div>
		<div
			:class="[
				'content-container',
				{
					'--tall': !isLogin
				}
			]"
		>
			<div class="list-container-wrapper">
				<div class="filter-container-wrapper">
					<filter-options @facilities-modal-handler="toggleModalFacilities" />
				</div>
				<div class="content-container-wrapper">
					<div ref="stickyWrapper" class="sticky-wrapper">
						<filter-kost-type />
						<div v-if="isMobile" class="range-container">
							<input-range-slider v-model="radius" :min="1" />
							<label class="range-label">{{ radius }} KM</label>
						</div>
					</div>
					<div ref="contentWrapper" class="content-wrapper">
						<landing-kost-list :radius="radius" />
					</div>
				</div>
			</div>
			<leaflet-map
				v-if="!isMobile && !isFacLoading"
				ref="landingMap"
				prop-id="landingMap"
				:prop-class="
					`container-fluid map-container ${!isLogin ? '--map-tall' : ''}`
				"
				type="kos"
				:center="center"
				:corner="corner"
				:min-zoom="14"
				:max-zoom="16"
				:zoom="14"
				:is-map-loading="isLoading"
				is-using-legend
				@bounds-changed="changeBounds"
				@select-cluster="openCluster"
			></leaflet-map>
		</div>
		<modal-facilities
			:facilities-data="facilitiesData"
			:is-show-modal="isShowFacilitiesModal"
			@save-facilities-handler="saveFacilitiesTag"
			@facilities-modal-handler="toggleModalFacilities"
		/>
		<filter-mobile
			v-if="isMobile"
			@reset-sticky-filter-handler="resetStickyFilterPosition"
		/>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import 'vue-strap/dist/isMobileBrowser';
import EventBus from 'Js/@global/event-bus';
import _get from 'lodash/get';
import { mapActions, mapMutations, mapState, mapGetters } from 'vuex';
import _debounce from 'lodash/debounce';
import { expandCorner } from 'Js/@utils/mapHelper';

import GlobalNavbar from 'Js/@components/GlobalNavbar';
import LandingKostList from './LandingKostList';
import FilterOptions from 'Js/_search/components/FilterOptions';
import FilterKostType from 'Js/_search/components/FilterKostType';
import ModalFacilities from 'Js/_search/components/ModalFacilities';
import InputRangeSlider from 'Js/@components/InputRangeSlider';
import FilterMobile from 'Js/_search/components/FilterMobile';

import MixinFilterHelper from 'Js/_search/mixins/MixinFilterHelper';

/* istanbul ignore next */
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);
/* istanbul ignore next */
const LeafletMap = () => import('Js/@components/LeafletMap');

export default {
	components: {
		LandingKostList,
		LeafletMap,
		LoginUser,
		GlobalNavbar,
		ModalFacilities,
		FilterKostType,
		FilterOptions,
		InputRangeSlider,
		FilterMobile
	},

	mixins: [MixinFilterHelper],

	data() {
		return {
			markerParams: {},
			isModalLogin: false,
			showSearch: false,
			isShowFacilitiesModal: false,
			radius: 3,
			lastScrollPosition: 0,
			lastShowPosition: 0,
			setUrlFilter: false
		};
	},

	computed: {
		...mapGetters(['getClusterRooms', 'getClusterStatus']),
		...mapState(['isLoading', 'isFacLoading', 'historyPoint']),
		isPwa() {
			return (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			);
		},
		centerLatitude() {
			return this.$store.state.extras.centerLatitude;
		},
		centerLongitude() {
			return this.$store.state.extras.centerLongitude;
		},
		landingBreadcrumb() {
			return this.$store.state.extras.breadcrumb;
		},
		landingBreadcrumbTitle() {
			return _get(
				this.landingBreadcrumb[this.landingBreadcrumb.length - 1],
				'name',
				''
			);
		},
		isLogin() {
			return _get(this.$store.state.authCheck, 'all', false);
		},
		corner() {
			return this.$store.state.extras.cornerMap;
		},
		center() {
			return {
				lat: parseFloat(this.$store.state.extras.centerLatitude),
				lng: parseFloat(this.$store.state.extras.centerLongitude)
			};
		},
		landingParams() {
			return this.$store.state.landing;
		},
		cluster() {
			return this.$store.state.extras.cluster;
		}
	},

	watch: {
		radius(val) {
			!this.isLoading && this.setIsLoading(true);
			this.radiusChangeHandler(val);
		},
		getClusterRooms: {
			handler(value) {
				this.$refs.landingMap.showClusters(value);
			},
			deep: true
		},
		isFacLoading: {
			handler(val) {
				if (!val) {
					this.isMobile && this.radiusChangeHandler(this.radius);
				}
			},
			immediate: true
		}
	},

	created() {
		this.fetchFacilitiesList();
		this.listenEventBus();

		if (!('scrollBehavior' in document.documentElement.style)) {
			/* istanbul ignore next */
			const ScrollBehavior = () => import('scroll-behavior-polyfill');
			ScrollBehavior();
		}
	},

	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},

	mounted() {
		window.addEventListener('scroll', this.handleScroll);
		EventBus.$emit('toTop');
	},

	methods: {
		...mapActions(['fetchFacilitiesList', 'fetchClusterList']),
		...mapMutations([
			'setIsLoading',
			'setPoint',
			'setKostLandingSource',
			'setClusterOpened'
		]),
		toggleModalFacilities(payload) {
			this.isShowFacilitiesModal = payload;
		},
		closeSearch() {
			EventBus.$emit('searchToggle');
		},
		closeModalLogin() {
			this.isModalLogin = false;
		},
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
			EventBus.$on('toTop', payload => {
				setTimeout(() => {
					window.scrollTo({ top: 0, behavior: 'smooth' });
				}, 50);
				this.isMobile && this.resetStickyFilterPosition();
			});
			EventBus.$on('openCLusterNextPage', () => {
				this.fetchClusterList();
			});
			EventBus.$on('searchToggle', payload => {
				this.showSearch = !this.showSearch;
			});
		},
		changeBounds(location) {
			this.$store.commit('setKostLocation', location);
			this.$store.commit('setKostPageList', 1);
			this.$store.commit('setKostOffset', 0);
			if (this.getClusterStatus) this.setClusterOpened(false);
			if (!this.setUrlFilter) {
				this.settingFilterUrl();
				this.setUrlFilter = true;
			} else {
				EventBus.$emit('getList');
			}
		},
		openCluster(marker) {
			this.$store.commit('setClusterOpened', true);
			this.$store.commit('setKostPageList', 1);
			this.$store.commit('setKostOffset', 0);

			EventBus.$emit('resetPaginationInnervalue');

			this.setKostLandingSource('');
			this.setPoint({
				latitude: marker.latitude,
				longitude: marker.longitude
			});

			EventBus.$emit('toTop');
			this.fetchClusterList();
		},
		radiusChangeHandler: _debounce(function(radius) {
			this.isPwa && this.$ls.set('radius' + window.location.pathname, radius);

			const quadrantA = 225;
			const quadrantB = 45;
			const distance = radius * 1000;

			this.addTrackEventChangeRadius(radius);

			const cornerA = expandCorner(
				this.centerLatitude,
				this.centerLongitude,
				quadrantA,
				distance
			);

			const cornerB = expandCorner(
				this.centerLatitude,
				this.centerLongitude,
				quadrantB,
				distance
			);

			this.$store.commit('setKostLocation', [cornerA, cornerB]);
			if (!this.setUrlFilter) {
				this.settingFilterUrl();
				this.setUrlFilter = true;
			} else {
				EventBus.$emit('getList');
			}
		}, 1000),
		addTrackEventChangeRadius(radius) {
			tracker('moe', [
				'[User] Click Map Radius',
				{
					search_keyword: _get(
						this.paramPageRelated,
						'landing_source',
						'-'
					).split(',')[0],
					map_radius: `${radius} Km`
				}
			]);
		},
		handleScroll() {
			const newPosition = window.pageYOffset;
			const topValue = this.$refs.contentWrapper.getBoundingClientRect().top;
			const isDown = newPosition > this.lastScrollPosition;
			const isMediumScreen =
				window.innerWidth > 991 && window.innerWidth < 1281;
			const topFixedValue = isMediumScreen ? (this.isLogin ? 124 : 148) : 54;

			if (!this.isMobile) return;

			if (isDown) {
				if (topValue < topFixedValue) {
					this.$refs.stickyWrapper.style.top = '-101px';
					this.$refs.stickyWrapper.classList.add('fixed-sticky');
					this.$refs.contentWrapper.style.marginTop = '101px';
				} else {
					this.resetStickyFilterPosition();
				}
			} else {
				if (topValue <= topFixedValue + 6) {
					this.$refs.stickyWrapper.style.transition = '0.3s';
					this.$refs.stickyWrapper.style.top = `${topFixedValue}px`;
				} else if (topValue >= 156) {
					this.resetStickyFilterPosition();
				}
			}

			this.lastScrollPosition = newPosition;
		},
		resetStickyFilterPosition() {
			this.$refs.stickyWrapper.style.transition = 'none';
			this.$refs.stickyWrapper.style.top = '0';
			this.$refs.stickyWrapper.classList.remove('fixed-sticky');
			this.$refs.contentWrapper.style.marginTop = '0';
		}
	}
};
</script>

<style lang="scss" scoped>
.content-container {
	display: flex;
	margin-top: 124px;
	flex-direction: column;

	@media (max-width: 991px) {
		margin-top: 0;
	}

	.list-container-wrapper {
		display: block;
		width: 872px;

		.filter-container-wrapper {
			position: fixed;
			left: 0;
			z-index: 1001;
			width: 872px;
			background: #fff;

			@media (max-width: 1280px) {
				display: none;
			}
		}

		.content-container-wrapper {
			margin-top: 90px;

			@media (max-width: 1280px) {
				margin-top: 0;
			}
		}

		@media (max-width: 1280px) {
			width: 100%;
		}
	}
}
.sticky-wrapper {
	display: flex;
	flex-direction: column;
}
.title-container {
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 1002;
	width: 872px;
	padding: 12px 24px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	background: #fff;
	border-bottom: 1px solid #e8e8e8;

	@media (max-width: 991px) {
		position: relative;
		top: 0;
		z-index: 1;
		width: 100vw;
	}
}
.--title-tall {
	top: 104px;

	@media (max-width: 991px) {
		top: 0;
	}
}
.--tall {
	margin-top: 148px;

	@media (max-width: 991px) {
		margin-top: 0;
	}
}
.map-container {
	position: fixed;
	top: 74px;
	right: 0;
	bottom: 0;
	width: calc(100% - 872px);
	padding: 0;
	background-color: #eee;

	@media (max-width: 1280px) {
		visibility: hidden;
	}
}
.--map-tall {
	top: 103px;
	margin: 0;
}
.range-container {
	display: flex;
	width: 100%;
	padding: 0 16px;
	margin: 5px 0 12px;
	justify-content: center;
	align-items: center;
}
.range-label {
	margin-left: 26px;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	color: #484848;
	white-space: nowrap;
}
.fixed-sticky {
	position: fixed;
	z-index: 5;
	width: 100%;
	background: #fff;
}
</style>
