<template>
	<div class="booking-gate">
		<div class="booking-gate__slideshow">
			<img
				v-lazy="'/general/img/icons/ic_arrow-left_s_grey.svg'"
				alt="ic_arrow-left_s_grey"
				title="Previous Slide"
				class="slider-control"
				@click="prevSlide"
			/>

			<transition-group
				tag="div"
				class="content-slider"
				name="custom-classes-transition"
				:enter-active-class="enterClass"
				:leave-active-class="leaveClass"
			>
				<div class="booking-slider" v-if="slideActive === 1" :key="slideActive">
					<img
						v-lazy="{
							src: '/general/img/pictures/img_booking_list_card_mudah-cari.png',
							loading: '/general/img/icons/ic_placeholder_loading.svg',
							error: '/general/img/icons/ic_placeholder_loading.svg'
						}"
						alt="ic_booking_list_card_second"
						title="Booking Kost"
						class="booking-icon"
					/>
					<label>Mudah cari kostnya</label>
					<span
						>Cari kost di seluruh Indonesia, tinggal pilih fasilitas dan harga
						yang kamu inginkan.</span
					>
				</div>

				<div class="booking-slider" v-if="slideActive === 2" :key="slideActive">
					<img
						v-lazy="{
							src:
								'/general/img/pictures/img_booking_list_card_mudah-booking.png',
							loading: '/general/img/icons/ic_placeholder_loading.svg',
							error: '/general/img/icons/ic_placeholder_loading.svg'
						}"
						alt="ic_booking_list_card_first"
						title="Booking Kost"
						class="booking-icon"
					/>
					<label>Mudah bookingnya</label>
					<span
						>Bisa pesan kost dengan mudah, praktis, dan aman langsung dari
						handphone atau komputermu.</span
					>
				</div>

				<div class="booking-slider" v-if="slideActive === 3" :key="slideActive">
					<img
						v-lazy="{
							src:
								'/general/img/pictures/img_booking_list_card_mudah-bayar.png',
							loading: '/general/img/icons/ic_placeholder_loading.svg',
							error: '/general/img/icons/ic_placeholder_loading.svg'
						}"
						alt="ic_booking_list_card_first"
						title="Booking Kost"
						class="booking-icon"
					/>
					<label>Mudah pembayarannya</label>
					<span
						>Pembayaran sewa kost via transfer bank, minimarket, atau bahkan
						uang elektronik milikmu!</span
					>
				</div>
			</transition-group>

			<img
				v-lazy="'/general/img/icons/ic_arrow-right_s_grey.svg'"
				alt="ic_arrow-right_s_grey"
				title="Next Slide"
				class="slider-control"
				@click="nextSlide"
			/>
		</div>

		<div class="booking-gate__action">
			<a
				href="/booking"
				role="button"
				class="btn btn-mamigreen btn-booking track-booking-card"
				:target="isPwa ? '_self' : '_blank'"
			>
				Lihat Kos yang bisa Dibooking
			</a>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			slideActive: 1,
			prevSlider: null,
			nextSlider: null,
			onSlide: false
		};
	},

	computed: {
		isPwa() {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				return true;
			} else {
				return false;
			}
		},
		enterClass() {
			return this.nextSlider && !this.prevSlider
				? 'slide-in-right'
				: 'slide-in-left';
		},
		leaveClass() {
			return this.nextSlider && !this.prevSlider
				? 'slide-out-left'
				: 'slide-out-right';
		}
	},

	methods: {
		prevSlide() {
			if (this.onSlide) {
				return;
			}

			this.onSlide = true;
			this.prevSlider = true;
			this.nextSlider = false;

			if (this.slideActive > 1) {
				this.slideActive--;
			} else if (this.slideActive === 1) {
				this.slideActive = 3;
			}

			setTimeout(() => (this.onSlide = false), 2000);
		},
		nextSlide() {
			if (this.onSlide) {
				return;
			}
			this.onSlide = true;
			this.nextSlider = true;
			this.prevSlider = false;

			if (this.slideActive < 3) {
				this.slideActive++;
			} else if (this.slideActive === 3) {
				this.slideActive = 1;
			}

			setTimeout(() => (this.onSlide = false), 2000);
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-gate {
	background-color: #fff;
	height: 400px;
	margin-top: 15px;
	margin-bottom: 30px;
	cursor: default;
	padding: 15px;
}
.booking-gate:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.booking-icon {
	height: 120px;
	margin-bottom: 15px;
}

.booking-gate__slideshow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider-control {
	cursor: pointer;
	color: #3e5168;
	height: 35px;
	margin-top: 25px;
}

.booking-slider {
	padding: 10px 15px;
	font-size: 20px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.booking-slider:after {
	content: '';
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 1.5em;
}

.booking-slider span {
	font-size: 16px;
	text-align: center;
}

.booking-slider.--highlight {
	font-size: 20px;
	font-weight: bold;
	color: #2f492b;
}
.booking-slider.--highlight .good-senior {
	color: #ec4a0c;
	font-style: italic;
}

.booking-gate__action {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.btn-booking {
	font-weight: 600;
	font-size: 16px;
}

.content-slider {
	overflow: hidden;
	position: relative;
	height: 300px;
	width: 350px;
}

.content-slider .booking-slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.slide-in-right {
	animation: slideInRight 1s ease-out;
}

.slide-out-right {
	animation: slideOutRight 1s ease-out;
}

.slide-in-left {
	animation: slideInLeft 1s ease-out;
}

.slide-out-left {
	animation: slideOutLeft 1s ease-out;
}

@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}
</style>
