<template>
	<div class="landing-promotion">
		<div class="promotion-section">
			<div class="promotion-section__heading">
				<h3><b>Apakah Anda Pemilik Kos-Kosan?</b></h3>
				<h4>Promosikan kost Anda di Mamikos.com agar lebih dikenal.</h4>
			</div>

			<div class="promotion-section__link">
				<a
					href="/promosi-kost"
					target="/blank"
					class="btn promotion-box"
					role="button"
				>
					<i class="fa fa-plus"></i>&nbsp;&nbsp; Promosikan Kostmu
				</a>
			</div>

			<div class="promotion-section__tagline mamikos-mark">
				<span>Mamikos - Aplikasi Pencari Info Kost No 1 di Indonesia</span>
			</div>
		</div>

		<div class="article-section hidden-sm hidden-xs">
			<div class="article-content" v-html="description.description_1"></div>

			<div class="article-content" v-html="description.description_2"></div>

			<div class="article-content" v-html="description.description_3"></div>
		</div>

		<div class="article-section visible-sm visible-xs">
			<accordion :one-at-atime="true" type="info">
				<panel
					:header="
						'Informasi Sekitar ' +
							breadcrumb[breadcrumb.length - 1].name.toUpperCase() +
							' Part 1'
					"
				>
					<div class="article-content" v-html="description.description_1"></div>
				</panel>

				<panel
					:header="
						'Informasi Sekitar ' +
							breadcrumb[breadcrumb.length - 1].name.toUpperCase() +
							' Part 2'
					"
				>
					<div class="article-content" v-html="description.description_2"></div>
				</panel>

				<panel
					:header="
						'Informasi Sekitar ' +
							breadcrumb[breadcrumb.length - 1].name.toUpperCase() +
							' Part 3'
					"
				>
					<div class="article-content" v-html="description.description_3"></div>
				</panel>
			</accordion>
		</div>

		<landing-faq />
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';
import landingFaq from './LandingFaq';

export default {
	components: {
		accordion,
		panel,
		landingFaq
	},

	computed: {
		description() {
			return this.$store.state.extras.description;
		},
		breadcrumb() {
			return this.$store.state.extras.breadcrumb;
		}
	}
};
</script>

<style>
.panel {
	border-radius: 0;
	box-shadow: none;
}

.panel-info {
	border-color: #eee;
}
.panel-info > .panel-heading {
	background-color: #fff;
	border-color: #eee;
	text-align: center;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #eee;
}

.panel-heading {
	padding: 15px;
}

.panel-title {
	font-size: 18px;
	color: #888;
}

.panel-group .panel {
	border-radius: 0;
	margin-left: -15px;
	margin-right: -15px;
}
.panel-group .panel + .panel {
	margin-top: 0;
}
</style>

<style scoped>
.landing-promotion {
	margin-top: 55px;
}

.promotion-section {
	text-align: center;
}

.promotion-box {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	background-color: #009b4c;
	width: 300px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.promotion-box {
		width: 100% !important;
	}
}
.promotion-box:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #1baa56;
}
.promotion-box:active,
.promotion-box:focus {
	color: #fff;
	text-decoration: none;
}

.mamikos-mark {
	text-align: center;
	font-size: 22px;
	color: #009b4c;
	padding-top: 25px;
	padding-bottom: 45px;
}

.article-toggle {
	font-size: 18px;
	color: #888;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #eee;
	text-align: center;
}
</style>
