<template>
	<div class="big-city-landing">
		<div
			v-for="(bigCity, index) in bigCityAttr"
			v-cloak
			class="col-md-4 col-sm-4 col-xs-6 landing-bigcity"
		>
			<a :href="bigCity.url" class="bigcity-grid">
				<div class="bigcity-box">
					<img
						v-cloak
						class="bigcity-img"
						:src="bigCity.img"
						:alt="bigCity.title"
					/>
					<span class="bigcity-text" v-text="bigCity.title"></span>
				</div>
			</a>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			bigCityAttr: [
				{
					title: 'JOGJAKARTA',
					img: '/assets/icons/icon_kota/jogja.png',
					url: '/kost/kost-jogja-murah'
				},
				{
					title: 'JABODETABEK',
					img: '/assets/icons/icon_kota/jabodetabek.png',
					url: '/kost/kost-jakarta-murah'
				},
				{
					title: 'SURABAYA',
					img: '/assets/icons/icon_kota/surabaya.png',
					url: '/kost/kost-surabaya-murah'
				},
				{
					title: 'BANDUNG',
					img: '/assets/icons/icon_kota/bandung.png',
					url: '/kost/kost-bandung-murah'
				},
				{
					title: 'MALANG',
					img: '/assets/icons/icon_kota/malang.png',
					url: '/kost/kost-malang-murah'
				},
				{
					title: 'SEMARANG',
					img: '/assets/icons/icon_kota/semarang.png',
					url: '/kost/kost-semarang-murah'
				},
				{
					title: 'BALI',
					img: '/assets/icons/icon_kota/bali.png',
					url: '/kost/kost-denpasar-bali-murah'
				},
				{
					title: 'MAKASSAR',
					img: '/assets/icons/icon_kota/makassar.png',
					url: '/kost/kost-makassar-murah'
				},
				{
					title: 'MEDAN',
					img: '/assets/icons/icon_kota/medan.png',
					url: '/kost/kost-medan-murah'
				}
			]
		};
	}
};
</script>

<style scoped>
.landing-bigcity {
	padding: 10px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.landing-bigcity {
		padding: 5px;
	}
}

.bigcity-grid:hover {
	text-decoration: none;
}

.bigcity-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

	border: 1px solid #c1c1c1;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	cursor: pointer;
	padding: 10px 5px;
}
.bigcity-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bigcity-img {
	height: 80px;
}
@media (max-width: 400px) {
	.bigcity-img {
		height: 50px;
	}
}

.bigcity-text {
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
@media (max-width: 400px) {
	.bigcity-text {
		font-size: 12px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.bigcity-text {
		font-size: 14px;
	}
}
</style>
