<template>
	<div class="forum-gate">
		<div class="forum-gate__header">
			<img
				src="/assets/icons/forum/good_senior_img.png"
				alt="good_senior_img"
				title="Good Senior"
				class="forum-icon"
			/>
		</div>

		<div class="forum-gate__slideshow">
			<i class="fa fa-chevron-left slider-control" @click="prevSlide"></i>

			<transition-group tag="div" name="slide" class="content-slider">
				<div class="forum-slider" v-if="slideActive === 1" key="1">
					<span
						>Mau tanya, fotokopi-an yang 24 jam di dekat UGM Jakal buat ngeprint
						tugas Ospek fakultas di mana ya?</span
					>
				</div>

				<div class="forum-slider" v-if="slideActive === 2" key="2">
					<span>Kak, ada fotokopian deket pintu masuk kampus UI nggak ya?</span>
				</div>

				<div class="forum-slider" v-if="slideActive === 3" key="3">
					<span
						>Saya orang Padang, tapi susah cari warung nasi padang di daerah
						selokan mataram, saya mahasiswa UNY kost di selokan mataram.</span
					>
				</div>

				<div class="forum-slider --highlight" v-if="slideActive === 4" key="4">
					<span class="good-senior">Good Senior</span>
					<span> siap menjawab pertanyaan tentang kota tujuan kuliahmu</span>
				</div>
			</transition-group>

			<i class="fa fa-chevron-right slider-control " @click="nextSlide"></i>
		</div>

		<div class="forum-gate__action">
			<a
				href="/forum"
				role="button"
				class="btn btn-mamiorange btn-forum"
				target="_blank"
			>
				Lihat Mamikos Forum Yuk!
			</a>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			slideActive: 1
		};
	},

	mounted() {
		setInterval(() => {
			this.nextSlide();
		}, 3000);
	},

	methods: {
		prevSlide() {
			if (this.slideActive > 1) {
				this.slideActive--;
			} else if (this.slideActive === 1) {
				this.slideActive = 4;
			}
		},
		nextSlide() {
			if (this.slideActive < 4) {
				this.slideActive++;
			} else if (this.slideActive === 4) {
				this.slideActive = 1;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.forum-gate {
	background-color: #eafee7;
	height: 400px;
	margin-top: 15px;
	margin-bottom: 30px;
	cursor: default;
	padding: 15px;
}
.forum-gate:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.forum-gate__header {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 35px;
}

.forum-icon {
	height: 120px;
}

.forum-gate__slideshow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider-control {
	color: #3e5168;
	font-size: 20px;
}

.forum-slider {
	padding: 10px 15px;
	font-size: 20px;
	height: 5em;
	overflow: hidden;
	position: relative;
}
.forum-slider:after {
	content: '';
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 1.5em;
	background: linear-gradient(
		to right,
		rgba(234, 254, 231, 0),
		rgba(234, 254, 231, 1) 50%
	);
}
@supports (-webkit-line-clamp: 2) {
	.forum-slider {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		max-height: 5em;
	}
	.forum-slider:after {
		display: none;
	}
}

.forum-slider.--highlight {
	font-size: 20px;
	font-weight: bold;
	color: #2f492b;
}
.forum-slider.--highlight .good-senior {
	color: #ec4a0c;
	font-style: italic;
}

.forum-gate__action {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.btn-forum {
	font-weight: 600;
	font-size: 16px;
}

.content-slider {
	overflow: hidden;
	position: relative;
	height: 100px;
	width: 350px;
}

.content-slider .forum-slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.slide-leave-active,
.slide-enter-active {
	transition: 1s;
}
.slide-enter {
	transform: translate(100%, 0);
}
.slide-leave-to {
	transform: translate(-100%, 0);
}
</style>
