<template>
	<div class="list-container">
		<div ref="contentWrapper" class="content-wrapper">
			<h2 v-if="titleCondition" class="list-title">
				{{ title }}
			</h2>
			<div class="room-list-container">
				<div v-if="isLoading" class="loading-section">
					<mami-loading-inline />
				</div>
				<div v-if="!isLoading && !getEmptyList">
					<room-list
						:rooms="list.rooms"
						grids="col-12"
						style="padding: 0 15px"
						:force-horizontal="true"
						redirection-source="landing area"
						@toggleLoginModal="toggleLoginModal"
					>
						<landing-kost-card-booking
							slot="forum-card"
						></landing-kost-card-booking>
						<landing-kost-card-apartment
							v-if="filter.filters.price_range[0] >= 3000000"
							slot="apartment-card"
							class="col-md-6 col-sm-6 col-xs-12"
						></landing-kost-card-apartment>
					</room-list>
				</div>
				<div v-if="!isLoading && getEmptyList" class="empty-section">
					<empty-state
						class="list-empty-state"
						:title="emptyStateData.title"
						:subtitle="emptyStateData.subTitle"
						image="/general/img/pictures/flashsale/flashsale-empty.svg"
					>
						<button
							v-if="emptyStateData.needButton"
							slot="button"
							class="empty-button"
							data-path="btn_emptySearchButton"
							@click="openSearchBar"
						>
							{{ emptyStateData.buttonText }}
						</button>
					</empty-state>
				</div>
				<div class="pagination-section">
					<paginate
						v-if="!getEmptyList"
						ref="pagination"
						:page-count="pages < 10 ? totalPage : totalPageAll"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>
				<div class="breadcrumb-container">
					<breadcrumb-trails
						:contents="breadcrumb"
						:version="2"
					></breadcrumb-trails>
				</div>
				<div class="recommendation-section">
					<related-list
						:property-type="'kost'"
						:params="paramPageRelated"
					></related-list>
					<landing-kost-list-tags></landing-kost-list-tags>
					<landing-kost-promo-menu></landing-kost-promo-menu>
				</div>
				<div class="clearfix"></div>
				<div class="info-section">
					<p>Cari info {{ breadcrumb[breadcrumb.length - 1].name }}?</p>
					<p>
						Dapatkan banyak {{ breadcrumb[breadcrumb.length - 1].name }} di
						<a href="/" class="mami-text">mamikos.com</a>!
					</p>
					<p>
						Dapatkan info {{ breadcrumb[breadcrumb.length - 1].name }} dari
						HP-mu. Download di
						<a href="/app" class="mami-text">mamikos.com/app</a>, GRATIS!
					</p>
				</div>
				<div class="big-city-section">
					<landing-kost-big-city></landing-kost-big-city>
				</div>
				<div class="clearfix"></div>
				<div class="promo-section">
					<landing-kost-article-promo></landing-kost-article-promo>
				</div>
				<div class="footer-section">
					<mami-footer view-type="COMPACT"></mami-footer>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';
import _get from 'lodash/get';
import EventBus from 'Js/@global/event-bus';
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex';
import { genderTypes, filterSorts, rentTypes } from 'Js/@utils/kostFilter';

import LandingKostArticlePromo from './LandingKostArticlePromo';
import LandingKostBigCity from './LandingKostBigCity';
import LandingKostCardApartment from './LandingKostCardApartment';
import LandingKostCardBooking from './LandingKostCardBooking';
import LandingKostListTags from './LandingKostListTags';
import LandingKostPromoMenu from './LandingKostPromoMenu';
import MixinIsMobile from 'Js/_search/mixins/MixinIsMobile';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline';
import EmptyState from 'Js/@components/EmptyState';
import RoomList from 'Js/@components/RoomList';
/* istanbul ignore next */
const MamiFooter = () => import('Js/@components/MamiFooter');
/* istanbul ignore next */
const BreadcrumbTrails = () => import('Js/@components/BreadcrumbTrails');
/* istanbul ignore next */
const RelatedList = () => import('Js/@components/RelatedList');

export default {
	components: {
		MamiLoadingInline,
		EmptyState,
		LandingKostArticlePromo,
		LandingKostBigCity,
		LandingKostCardApartment,
		LandingKostCardBooking,
		LandingKostListTags,
		LandingKostPromoMenu,
		MamiFooter,
		RelatedList,
		RoomList,
		paginate,
		BreadcrumbTrails
	},

	mixins: [MixinIsMobile],

	data() {
		return {
			paramPageRelated: {
				filters: {},
				landing_source: '',
				location: []
			},
			pages: 1,
			filterData: null
		};
	},

	computed: {
		...mapState(['isLoading', 'authCheck']),
		...mapGetters(['getRooms', 'getEmptyList', 'getTotalRooms']),
		filter() {
			return this.$store.state.landing;
		},
		totalPage() {
			let total = Math.ceil(
				this.$store.state.extras.list.total /
					this.$store.state.extras.list.limit
			);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			const total = Math.ceil(
				this.$store.state.extras.list.total /
					this.$store.state.extras.list.limit
			);

			return Number(total);
		},
		titleCondition() {
			return this.isLoading || (!this.isLoading && !this.getEmptyList);
		},
		list() {
			return this.$store.state.extras.list;
		},
		breadcrumb() {
			return this.$store.state.extras.breadcrumb;
		},
		landingTitle() {
			return this.breadcrumb[this.breadcrumb.length - 1].name;
		},
		page() {
			return this.$store.state.landing.page;
		},
		roomsCount() {
			return this.list.limit * (this.page - 1) + 1;
		},
		roomsLoaded() {
			return this.list.limit * (this.page - 1) + this.list.rooms.length;
		},
		place() {
			return this.$store.state.extras.place;
		},
		tagIds() {
			return this.$store.state.landing.filters.tag_ids;
		},
		levelInfo() {
			return this.$store.state.landing.filters.level_info;
		},
		isClusterOpen() {
			return this.$store.state.extras.isClusterOpen;
		},
		title() {
			if (this.isLoading) {
				return 'Sedang mencari...';
			} else {
				if (this.page === 1) {
					return `1 - ${this.list.rooms.length} kost dari ${this.list.total} kos-kosan di sekitar ${this.landingTitle}`;
				} else {
					return `${this.roomsCount} - ${this.roomsLoaded} kost dari ${this.list.total} kos-kosan di sekitar ${this.landingTitle}`;
				}
			}
		},
		filterChange() {
			/* eslint-disable */
			const {
				tag_ids,
				level_info,
				gender,
				rent_type,
				price_range,
				flash_sale,
				mamirooms,
				mamichecker,
				booking
			} = this.filter.filters;

			let filterStatus = false;

			if (
				flash_sale ||
				booking ||
				mamirooms ||
				mamichecker ||
				Boolean(tag_ids.length) ||
				Boolean(level_info.length) ||
				(gender.length !== 3 && Boolean(gender.length)) ||
				rent_type !== 2 ||
				this.filter.sorting.direction !== '-' ||
				price_range[0] !== 10000 ||
				price_range[1] !== 20000000
			)
				filterStatus = true;

			return filterStatus;
			/* eslint-enable */
		},
		emptyStateData() {
			const filterStatus = this.filterChange;
			return {
				title: filterStatus
					? 'Kos Tidak Ditemukan'
					: 'Belum Ada Kos di Area Ini',
				subTitle: filterStatus
					? 'Silahkan ubah filter untuk meningkatkan hasil pencarian kos.'
					: this.navigator.isMobile
					? 'Coba cari di area lain untuk meningkatkan hasil pencarian kos.'
					: 'Cari di Area lain untuk meningkatkan hasil pencarian Kos',
				needButton: !filterStatus,
				buttonText: filterStatus
					? this.navigator.isMobile
						? 'Ubah Filter'
						: ''
					: this.navigator.isMobile
					? 'Cari Area Lain'
					: 'Cari area lain'
			};
		}
	},

	watch: {
		getRooms() {
			this.addTrackEventVisitPage();
		}
	},

	created() {
		this.assignFilterData();
		this.assignParamPageRelated();
	},

	mounted() {
		this.getFilteredList();
		this.setLoadingState();
		this.resetPaginationInnervalue();
	},

	methods: {
		...mapActions(['fetchRooms', 'fetchFacilitiesList']),
		...mapMutations(['setIsLoading']),
		openSearchBar() {
			EventBus.$emit('searchToggle');
		},
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		assignFilterData() {
			this.filterData = this.$ls.get('filter' + window.location.pathname);
		},
		getRoomList() {
			this.fetchRooms();
		},
		getFilteredList() {
			EventBus.$on('getList', payload => {
				this.$store.commit('setKostLandingSource', '');
				this.$store.commit(
					'setKostPageList',
					!this.filterData ? 1 : this.filterData.page
				);
				this.$store.commit(
					'setKostOffset',
					!this.filterData ? 0 : this.filterData.offset
				);

				if (this.$refs.pagination) this.$refs.pagination.innerValue = this.page;

				this.goTop();

				this.isClusterOpen
					? EventBus.$emit('openCLusterNextPage', this.filter.filters)
					: this.getRoomList();
			});
		},
		pageChanged(pages) {
			this.pages = pages;
			const offset = this.list.limit * pages - this.list.limit;

			this.$store.commit('setKostOffset', offset);
			this.$store.commit('setKostPageList', pages);
			this.$store.commit('setKostLandingSource', '');

			this.goTop();

			this.isClusterOpen
				? EventBus.$emit('openCLusterNextPage')
				: this.getRoomList();
		},
		assignParamPageRelated() {
			this.paramPageRelated.landing_source = _get(
				this.filter,
				'landing_source',
				''
			)
				.split('-')
				.join(' ');
			this.paramPageRelated.location = this.filter.location;
			this.paramPageRelated.filters = {
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0,
				price_range: this.filter.filters.price_range,
				gender: this.filter.filters.gender,
				tag_ids: this.filter.filters.tag_ids,
				rent_type: this.filter.filters.rent_type
			};

			if (this.place !== null) {
				this.paramPageRelated.filters.place = this.place;
			}
		},
		setLoadingState() {
			EventBus.$on('setLoading', payload => {
				this.setIsLoading(payload);
			});
		},
		resetPaginationInnervalue() {
			EventBus.$on('resetPaginationInnervalue', payload => {
				if (this.$refs.pagination) this.$refs.pagination.innerValue = 1;
			});
		},
		goTop() {
			EventBus.$emit('toTop');
		},
		addTrackEventVisitPage() {
			tracker('moe', [
				'Map List Visited',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					is_owner: _get(this.authCheck, 'owner', false),
					search_keyword: _get(
						this.paramPageRelated,
						'landing_source',
						'-'
					).split(',')[0],
					contain_bookable_property:
						_get(this.list, 'rooms', []).filter(room => room.is_booking)
							.length > 0,
					map_radius: _get(this.paramPageRelated, 'radius', null),
					number_of_result: _get(this.list, 'total', null),
					filter_type:
						genderTypes[
							_get(this.paramPageRelated, 'filters.gender', '').toString()
						],
					filter_price_min: _get(
						this.paramPageRelated,
						'filters.price_range[0]',
						0
					),
					filter_price_max: _get(
						this.paramPageRelated,
						'filters.price_range[1]',
						0
					),
					filter_rent_periode:
						rentTypes[_get(this.paramPageRelated, 'filters.rent_type', 2)],
					filter_bisa_booking: Boolean(_get(this.filter, 'filters.booking', 0)),
					filter_sort:
						filterSorts[
							`${_get(this.filter, 'sorting.fields', 'price')},${_get(
								this.filter,
								'sorting.direction',
								'-'
							)}`
						],
					filter_facility: _get(this.filter, 'filters.tag_ids', null),
					is_empty_result: _get(this.list, 'rooms', []).length <= 0
				}
			]);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
.scroll-desktop {
	bottom: 70px !important;
	padding: 11px !important;
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.pagination-section {
	margin-bottom: 3rem;
}

.list-container {
	display: flex;
	width: 872px;
	padding: 16px 24px 0;
	flex-direction: column;

	@media (max-width: 1280px) {
		width: 100%;
		padding: 0 16px;
	}

	.list-content-container {
		display: flex;
		flex-direction: column;
	}
}

.loading-section,
.empty-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 315.5px);
}
.empty-section {
	height: auto;
}

.mami-text {
	color: #1baa56;
}

.info-section {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.footer-section {
	margin-top: 50px;
}

.list-title {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #535353;
}
.empty-button {
	display: flex;
	width: 100%;
	height: 48px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
	outline: none;
	align-items: center;
	justify-content: center;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
}
.breadcrumb-container {
	width: calc(100% + 48px);
	padding: 12px 24px;
	margin: 0 -24px 20px;
	background: #fff;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
</style>
