<template>
	<div class="find-apartment">
		<div class="find-apartment-container">
			<div class="find-apartment-header">
				<img
					src="/assets/logo/header.png"
					alt="mamikos"
					title="Mamikos"
					class="header-icon"
				/>
			</div>

			<div class="find-apartment-content">
				<div class="content-header">
					<img
						src="/assets/cari-apartemen/foto-apartment.png"
						alt="cari_apartemen"
						title="Cari Apartemen"
						class="find-apartment-icon"
					/>
				</div>

				<div class="content-desc">
					<span>Dengan 3jutaan kamu udah bisa tinggal di apartemen.</span>
				</div>

				<div class="content-action">
					<a
						href="/carikan-apartemen"
						role="button"
						class="btn btn-mamiorange btn-find-apartment"
						target="_blank"
						>Carikan saya apartemen</a
					>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@media (max-width: 767px) {
	.find-apartment {
		padding-left: 0;
		padding-right: 0;
	}
}

.find-apartment-container {
	background-color: #eafee7;
	height: 400px;
	margin-top: 15px;
	margin-bottom: 30px;
	cursor: default;
	padding: 15px;
}
.find-apartment-container:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.find-apartment-header {
	display: flex;
	justify-content: flex-end;
}

.header-icon {
	height: 40px;
}

.find-apartment-content {
	padding-top: 35px;
}

.content-header {
	display: flex;
	justify-content: center;
}

.find-apartment-icon {
	height: 140px;
	border-radius: 1000px;
}

.content-desc {
	margin-top: 25px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.content-action {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.btn-find-apartment {
	font-size: 16px;
	font-weight: 600;
}
</style>
