<template>
	<div class="promo-menu">
		<a href="/promo-kost" target="_self">
			<div class="col-lg-3 col-xs-6 col-md-4 promo">
				<div class="col-xs-12 promo-box">
					<img
						src="/assets/icons/ic_promo_by_mami.png"
						alt="ic_promo_by_mami"
						title="Promo & Event dari Mamikos"
						class="img-promo"
					/>
					<span class="text-promo">Promo & Event dari Mamikos</span>
				</div>
			</div>
		</a>

		<a href="/promo-kost" target="_self">
			<div class="col-lg-3 col-xs-6 col-md-4 promo">
				<div class="col-xs-12 promo-box">
					<img
						src="/assets/icons/ic_promo_by_kost.png"
						alt="ic_promo_by_kost"
						title="Promo dari Kost"
						class="img-promo"
					/>
					<span class="text-promo">Promo dari Kost</span>
				</div>
			</div>
		</a>

		<a href="/terbaru" target="_self">
			<div class="col-lg-3 col-xs-6 col-md-4 promo">
				<div class="col-xs-12 promo-box">
					<img
						src="/assets/icons/ic_kost_terbaru.png"
						alt="ic_kost_terbaru"
						title="Kost Terbaru"
						class="img-promo"
					/>
					<span class="text-promo">Kost Terbaru</span>
				</div>
			</div>
		</a>

		<!-- <a href="/kost/kost-jogja-murah" target="_self" class="">
			<div class="col-lg-3 col-xs-6 col-md-3 promo">
				<div class="col-xs-12 promo-box">
					<img
						src="/assets/icons/ic_booking.png"
						alt="Booking Kost"
						class="img-promo"
					>
					<span class="text-promo">Booking Kost</span>
				</div>
			</div>
		</a> -->
	</div>
</template>

<style scoped>
.promo {
	padding: 15px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}
@media (max-width: 458px) {
	.promo {
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 991px) and (min-width: 451px) {
	.promo {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.promo-box {
	height: 70px;
	border: 1px solid #c1c1c1;
	padding: 7px;
	padding-left: 2px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.promo-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 991px) and (min-width: 451px) {
	.promo-box {
		padding-left: 0;
		padding: 10px;
	}
}

.img-promo {
	height: 36px;
}

.text-promo {
	font-size: 14px;
	left: 53px;
	position: absolute;
	font-weight: bold;
	color: black;
}
@media (max-width: 458px) {
	.text-promo {
		left: 60px;
	}
}
@media (max-width: 991px) and (min-width: 451px) {
	.text-promo {
		left: 70px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.text-promo {
		font-size: 13px;
	}
}

@media (min-width: 1200px) {
	.promo-menu {
		margin-left: 17%;
	}
}
</style>
