<template>
	<div id="addTenantInputName">
		<mami-input-wrapper
			is-required
			input-label="Nama Lengkap"
			:error-message="errorMessage"
		>
			<input
				class="form-control"
				type="text"
				maxlength="50"
				v-model="tenantName"
				placeholder="Isi sesuai kartu identitas penyewa"
			/>
		</mami-input-wrapper>
	</div>
</template>

<script>
const MamiInputWrapper = () =>
	import('Js/@components/mami-components/MamiInputWrapper.vue');

export default {
	components: {
		MamiInputWrapper
	},

	props: {
		errorMessage: String
	},

	computed: {
		tenantName: {
			get() {
				return this.$store.state.addTenant.params.name;
			},
			set(name) {
				this.$store.commit('addTenant/setTenantName', name);
			}
		}
	}
};
</script>
