<template>
	<div id="addTenantBiodata" class="biodata-container">
		<div class="biodata-form">
			<add-tenant-input-name
				ref="addTenantInputName"
				class="field-item"
				:error-message="errorNameMessage"
			/>

			<div class="field-item">
				<label>Jenis Kelamin</label>

				<div
					v-for="(gender, index) in genders"
					:key="index"
					class="gender-options"
				>
					<mami-radio v-model="genderSelected" :selected-value="gender.val">
						{{ gender.label }}
					</mami-radio>
				</div>
			</div>

			<div class="field-button">
				<div class="button-action">
					<button
						type="button"
						class="btn btn-primary"
						:class="{ '--disabled': isDisabledNextButton }"
						:disabled="isDisabledNextButton"
						@click="nextSection"
					>
						Selanjutnya
					</button>
				</div>
			</div>
		</div>

		<add-tenant-modal-gender-mismatch
			:is-show-modal="isGenderMismatch"
			@primary-button-clicked="setDefaultGender"
			@close="setDefaultGender"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { mapGetters } from 'vuex';

import AddTenantInputName from './AddTenantInputName';
import AddTenantModalGenderMismatch from './AddTenantModalGenderMismatch';

const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

export default {
	components: {
		AddTenantInputName,
		AddTenantModalGenderMismatch,
		MamiRadio
	},

	data() {
		return {
			genders: [
				{ val: 'male', label: 'Laki-laki' },
				{ val: 'female', label: 'Perempuan' }
			]
		};
	},

	computed: {
		...mapGetters('addTenant', ['userInterface']),
		userData() {
			return this.$store.state.authData.all;
		},
		genderSelected: {
			get() {
				return this.$store.state.addTenant.params.gender;
			},
			set(val) {
				this.$store.commit('addTenant/setTenantGender', val);
			}
		},
		tenantName() {
			return this.$store.state.addTenant.params.name;
		},
		kostGender() {
			return this.$store.state.addTenant.selectedKost.gender;
		},
		isGenderMismatch() {
			return (
				(this.genderSelected === 'female' &&
					this.kostGender.toString() === '1') ||
				(this.genderSelected === 'male' && this.kostGender.toString() === '2')
			);
		},
		errorNameMessage() {
			if (this.tenantName.trim() === '') {
				return 'Wajib diisi';
			} else if (this.tenantName.trim().length < 3) {
				return 'Minimal mengandung 3 karakter';
			} else if (!/^[a-zA-Z ]+$/.test(this.tenantName)) {
				return 'Hanya dapat diisi dengan huruf';
			} else {
				return '';
			}
		},
		isDisabledNextButton() {
			return this.tenantName.trim() === '' || !!this.errorNameMessage;
		}
	},

	created() {
		!this.genderSelected && this.setDefaultGender();
	},

	mounted() {
		this.trackTenantBiodataVisited();
	},

	methods: {
		nextSection() {
			this.$router.push({ name: 'addTenantPaymentInfo' });
		},
		setDefaultGender() {
			this.genderSelected =
				this.kostGender.toString() === '2' ? 'female' : 'male';
		},
		trackTenantBiodataVisited() {
			tracker('moe', [
				'[Owner] Tambah Penyewa Informasi Penyewa Biodata - Page Visited',
				{
					interface: this.userInterface,
					owner_name: _get(this.userData, 'name', ''),
					owner_phone_number: _get(this.userData, 'phone_number', '')
				}
			]);
		}
	}
};
</script>

<style lang="scss">
#addTenantBiodata {
	font-size: 16px;

	.mami-radio {
		margin-bottom: 15px;
	}
}
</style>

<style lang="scss" scoped>
.biodata-form {
	margin-top: 27px;

	.field-item {
		margin-bottom: 32px;

		label {
			margin-bottom: 15px;
		}
	}

	.field-button {
		.button-action {
			position: fixed;
			bottom: 0;
			border-top: 1px solid #e8e8e8;
			padding: 15px;
			margin-left: -15px;
			width: 100%;

			@media (min-width: 768px) {
				width: 460px;
			}

			@media (max-width: 767px) {
				left: 0;
				margin-left: 0;
			}

			button {
				width: 100%;
			}
		}
	}
}
</style>
