<template>
	<div class="app-wrapper container">
		<navbar-custom :navigations="navigations"></navbar-custom>
		<!-- <breadcrumb-trails></breadcrumb-trails> -->
		<promo-title></promo-title>

		<promo-filter-loc></promo-filter-loc>

		<!-- <promo-filter></promo-filter> -->

		<div class="clearfix"></div>

		<promo-list-pagination-loc></promo-list-pagination-loc>

		<!-- <promo-list-pagination></promo-list-pagination> -->

		<!-- <promo-list></promo-list> -->

		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from './event-bus';

import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import PromoFilterLoc from './PromoFilterLoc';
import PromoListPaginationLoc from './PromoListPaginationLoc';

const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom,
		PromoFilterLoc,
		PromoListPaginationLoc,
		LoginUser
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			isModalLogin: false
		};
	},

	created() {
		this.listenEventBus();
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style>
.app-wrapper {
	padding-top: 54px;
}
@media (max-width: 767px) {
	.app-wrapper {
		padding-top: 0;
	}
}

/*Normalize*/
h1,
h2,
h3,
strong {
	font-size: inherit;
	line-height: 1.15;
	font-weight: inherit;
	margin: 0;
	color: inherit;
	display: inline-block;
}

.new-label.desktop-label {
	margin-top: 30px !important;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>
