<template>
	<div
		v-infinite-scroll="getMoreRoomList"
		infinite-scroll-disabled="busy"
		infinite-scroll-distance="250"
		class="promo-list-container"
	>
		<room-list :rooms="roomData"></room-list>

		<div class="clearfix"></div>

		<list-placeholder v-if="isLoading"></list-placeholder>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Apartemen tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>
	</div>
</template>

<script>
import EventBus from './event-bus';

import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

export default {
	data() {
		return {
			roomData: [],
			filter: {
				furnished: urlParams.isFurnishedFilter,
				price_range: [0, 10000000],
				property_type: 'apartment',
				rent_type: urlParams.rentTypeFilter,
				room_name: urlParams.criteriaFilter
			},
			sorting: {
				field: 'price',
				direction: '-'
			},

			place: urlParams.cityFilter,

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,

			roomLimit: 9,
			requestLimit: 90,
			offset: 0,

			showTopButton: false
		};
	},
	computed: {
		isBusy: {
			get() {
				return this.$root.state.extras.isBusy;
			},
			set(val) {
				this.$root.state.extras.isBusy = val;
			}
		}
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getRoomList();
		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterFurnishedChanged', payload => {
			// this.filter.furnished = payload;
			// this.refreshList();
		});
		EventBus.$on('filterRentTypeChanged', payload => {
			// this.filter.rent_type = payload;
			// this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			if (payload == 'availability') {
				this.sorting.field = payload;
				this.sorting.direction = 'desc';
			} else {
				this.sorting.field = 'price';
				this.sorting.direction = payload;
			}
			this.refreshList();
		});
		EventBus.$on('filterPriceRangeChanged', payload => {
			this.filter.price_range = payload;
			this.refreshList();
		});
		EventBus.$on('filterPlaceChanged', payload => {
			// this.place = payload;
			// this.refreshList();
		});
	},
	methods: {
		async getRoomList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			const places = [];
			if (this.place !== 'all' && this.place !== 'Semua Kota') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			const filters = this.filter;
			const sorting = this.sorting;
			const params = {
				filters,
				sorting,
				referrer: 'promo',
				include_promoted: true,
				include_premium: true,
				limit: 9,
				offset: this.offset
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (typeof response === 'object' && response.rooms && translateWords) {
				const rooms = translateWords(response.rooms) || [];

				this.roomData = {
					...response,
					rooms
				};
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		getMoreRoomList() {
			if (
				this.roomData.length == this.roomLimit &&
				this.roomData.length < this.requestLimit
			) {
				this.busy = true;
				this.roomLimit += 9;
				this.offset += 9;
				this.getRoomList(true);
				this.busy = false;
				ga('create', 'UA-71556143-1', 'auto');
				tracker('ga', ['send', 'pageview']);
			}
		},

		refreshList() {
			this.offset = 0;
			this.roomData = [];
			this.roomLimit = 9;
			this.busy = false;
			this.getRoomList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
	padding: 0 15px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}
</style>
