<template>
	<div>
		<div class="col-xs-12 filter-container stretch">
			<div class="col-sm-12 col-md-4 filter-component">
				<form @submit.prevent="searchCriteria()">
					<label for="vacancyCriteria"
						><h2><strong>Masukkan Kata Kunci</strong></h2></label
					>
					<div class="input-group">
						<input
							type="text"
							id="vacancyCriteria"
							class="form-control"
							placeholder="Ketik yang Anda cari..."
							required
							v-model="filter.criteria"
						/>
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="fa fa-search search-icon"></i>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm-12 col-md-12 filter-advanced">
				<div class="col-xs-12 col-md-12 stretch">
					<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
						<label
							><h2><strong>Kota dan Area</strong></h2></label
						>
						<v-select
							v-model="filter.place"
							:options="place_select_items"
							:placeholder="'Cari kota disini...'"
							id="areaFilter"
						>
							<span slot="no-options">Kota yang Anda cari tidak ada</span>
						</v-select>
					</div>

					<button
						type="button"
						class="btn btn-mamigreen btn-filter-toggle visible-xs"
						data-toggle="collapse"
						data-target="#filterHidden"
						@click="toggleFilter"
					>
						<span v-if="showSlide">Sembunyikan Filter</span>
						<span v-else>Lebih Banyak Filter</span>
						<i class="fa fa-chevron-up" v-if="showSlide"></i>
						<i class="fa fa-chevron-down" v-else></i>
					</button>

					<div id="filterHidden" class="collapse hidden-xs">
						<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
							<label
								><h3><strong>Perabotan</strong></h3></label
							>
							<select class="form-control" v-model="filter.furnished">
								<option :value="'all'">Semua</option>
								<option :value="1">Furnished</option>
								<option :value="2">Semi Furnished</option>
								<option :value="0">Not furnished</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
							<label
								><h3><strong>Jangka Waktu</strong></h3></label
							>
							<select class="form-control" v-model="filter.rent_type">
								<option :value="0">Harian</option>
								<option :value="1">Mingguan</option>
								<option :value="2">Bulanan</option>
								<option :value="3">Tahunan</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
							<label
								><h3><strong>Urutkan</strong></h3></label
							>
							<select class="form-control" v-model="filter.sorting">
								<option :value="'-'">Acak</option>
								<option :value="'asc'">Harga Termurah</option>
								<option :value="'desc'">Harga Termahal</option>
								<option :value="'availability'">Kosong ke Penuh</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 filter-price">
							<filter-price
								:property-type="'apartment'"
								:rent-type="filter.rent_type"
								@filterPrice="filterPriceRangeChanged"
							></filter-price>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from './event-bus';

const FilterPrice = () => import('Js/@components/FilterPrice');

export default {
	components: {
		'v-select': vSelect,
		FilterPrice
	},
	data() {
		return {
			filter: {
				furnished: urlParams.isFurnishedFilter,
				rent_type: urlParams.rentTypeFilter,
				sorting: '-',
				price_range: [0, 75000000],
				place: urlParams.cityFilter,
				criteria: urlParams.criteriaFilter
			},

			showSlide: false,
			place_select_items: [],
			placeList: {}
		};
	},
	computed: {
		isBusy: {
			get() {
				return this.$root.state.extras.isBusy;
			},
			set(val) {
				this.$root.state.extras.isBusy = val;
			}
		}
	},
	watch: {
		'filter.furnished'(item) {
			EventBus.$emit('filterFurnishedChanged', item);
			this.pushUrl();
		},
		'filter.rent_type'(item) {
			EventBus.$emit('filterRentTypeChanged', item);
			this.pushUrl();
		},
		'filter.sorting'(item) {
			EventBus.$emit('filterSortingChanged', item);
		},
		'filter.place'(item) {
			EventBus.$emit('filterPlaceChanged', item.value);
			this.pushUrl();
		}
	},
	mounted() {
		this.getFiltersList();

		$('#filterHidden').on('show.bs.collapse', () => {
			this.showSlide = true;
		});
	},
	methods: {
		toggleFilter() {
			this.showSlide = !this.showSlide;
		},
		filterPriceRangeChanged(payload) {
			this.filter.price_range[0] = payload.min;
			this.filter.price_range[1] = payload.max;
			if (!this.isBusy) {
				EventBus.$emit('filterPriceRangeChanged', this.filter.price_range);
			}

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'all',
					eventLabel:
						'Min: ' +
						this.filter.price_range[0] +
						' & Max: ' +
						this.filter.price_range[1]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'min',
					eventLabel: this.filter.price_range[0]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'max',
					eventLabel: this.filter.price_range[1]
				}
			]);
		},
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				this.placeList = response.cities;

				for (var item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		searchCriteria(val) {
			EventBus.$emit('filterCriteriaChanged', val);
			this.pushUrl();
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		},
		setInitialPrice(item) {
			if (item == 3) {
				this.filter.price_range = [0, 1000000000];
			} else if (item == 2) {
				this.filter.price_range = [0, 75000000];
			} else if (item == 1) {
				this.filter.price_range = [0, 25000000];
			} else if (item == 0) {
				this.filter.price_range = [0, 1000000];
			}
		},
		pushUrl() {
			let rentTypeOption = ['harian', 'mingguan', 'bulanan', 'tahunan'];

			let furnishedOption = {
				all: 'all',
				'1': 'furnished',
				'0': 'unfurnished',
				'2': 'semi-furnished'
			};

			let location = '';
			if (this.filter.place.value == undefined) {
				for (var element in this.placeList) {
					if (element == this.filter.place) {
						location = element.toLowerCase().replace(' ', '-');
						break;
					} else {
						location = 'semua-kota';
					}
				}
			} else {
				location = this.filter.place.label.toLowerCase().replace(' ', '-');
			}

			let keywordSearch = this.filter.criteria.toLowerCase().replace(' ', '-');

			let link =
				'/apartemen/sewa/' +
				location +
				'/' +
				rentTypeOption[this.filter.rent_type] +
				'/' +
				furnishedOption[this.filter.furnished.toString()] +
				'/' +
				keywordSearch;

			window.location = link;
		}
	}
};
</script>

<style scoped>
.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}
	.filter-component {
		padding-bottom: 6px;
	}
}

.refresh-button {
	text-align: right;
	margin-top: 15px;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	color: #1baa56;
	margin-bottom: 5px;
	border: none;
	background-color: #fff;
}
.btn-filter-toggle {
	box-shadow: none !important;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}

.filter-advanced {
	padding-left: 0;
	padding-right: 0;
}
@media (min-width: 768px) {
	.filter-advanced {
		padding-top: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.filter-price {
		padding-top: 15px;
	}
}

.search-icon {
	color: #ec4a0c;
}
</style>

<style>
.v-select {
	font-family: inherit !important;
}
.v-select .dropdown-toggle {
	height: 34px;
}
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select .selected-tag {
	position: absolute;
	margin: 5px 1px 0 3px;
}
.v-select .open-indicator {
	bottom: 3px;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
</style>
