<template>
	<div>
		<div v-if="!isLoading && roomData.rooms.length !== 0">
			<h2 v-if="roomData.offset == 0" class="count-label">
				1 - {{ roomData.rooms.length }} Unit Apartemen dari
				{{ roomData.total }} Unit Apartemen
			</h2>
			<h2 v-else class="count-label">
				{{ roomDataCount }} - {{ roomDataLoaded }} Unit Apartemen dari
				{{ roomData.total }} Unit Apartemen
			</h2>
		</div>

		<list-placeholder v-if="isLoading" :mode="5"></list-placeholder>

		<room-list
			v-if="!isLoading"
			:rooms="roomData.rooms"
			grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
			@toggleLoginModal="toggleLoginModal"
		></room-list>

		<div class="clearfix"></div>

		<div v-if="isRoomEmpty" class="stats-not-found col-xs-12">
			<p>Apartemen tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				v-show="showTopButton"
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				@click="gotoTop"
			></i>
		</transition>

		<div class="pagination-section">
			<paginate
				v-if="
					!(roomData.page == 1 && !roomData['has-more']) &&
						roomData.rooms.length !== 0
				"
				ref="pagination"
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				break-view-link-class="break-pagination"
				:page-class="'page-item'"
			></paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from './event-bus';
import paginate from 'vuejs-paginate';

import { round } from 'Js/@utils/math.js';
import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	components: {
		paginate
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			roomData: {
				total: 0,
				page: 1,
				offset: 0,
				rooms: [],
				limit: 0
			},
			filter: {
				furnished: urlParams.isFurnishedFilter,
				price_range: [0, 10000000],
				property_type: 'apartment',
				rent_type: urlParams.rentTypeFilter,
				room_name: urlParams.criteriaFilter,
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0
			},
			location: [],
			sorting: {
				field: 'price',
				direction: '-'
			},

			place: urlParams.cityFilter,

			isLoading: true,
			isInitialLoading: true,
			limit: 20,
			roomDataCount: 1,
			roomDataLoaded: 18,
			isRoomEmpty: false,
			busy: false,
			requestLimit: 90,

			showTopButton: false
		};
	},
	computed: {
		isBusy: {
			get() {
				return this.$root.state.extras.isBusy;
			},
			set(val) {
				this.$root.state.extras.isBusy = val;
			}
		},
		article() {
			return this.$root.state.article;
		},
		totalPage() {
			let total = Math.ceil(this.roomData.total / this.roomData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},

	created() {
		this.assignFilterPrice(this.filter.rent_type);
	},

	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			const newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.assignLocCoordinate();

		this.getRoomList();

		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterFurnishedChanged', payload => {
			this.filter.furnished = payload;
			this.refreshList();
		});
		EventBus.$on('filterRentTypeChanged', payload => {
			this.filter.rent_type = payload;
			this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			if (payload == 'availability') {
				this.sorting.field = payload;
				this.sorting.direction = 'desc';
			} else {
				this.sorting.field = 'price';
				this.sorting.direction = payload;
			}
			this.refreshList();
		});
		EventBus.$on('filterPriceRangeChanged', payload => {
			this.filter.price_range = payload;
			this.refreshList();
		});
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload.label;
			this.location = payload.value;
			this.refreshList();
		});
		EventBus.$on('filterCriteriaChanged', payload => {
			this.filter.room_name = payload;
			this.refreshList();
		});
	},
	methods: {
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		assignFilterPrice(item) {
			if (item === 0) {
				this.filter.price_range[1] = 10000000;
			} else if (item === 1) {
				this.filter.price_range[1] = 25000000;
			} else if (item === 2) {
				this.filter.price_range[1] = 50000000;
			} else if (item === 3) {
				this.filter.price_range[1] = 500000000;
			}
		},
		assignLocCoordinate() {
			if (
				this.getQueryString('lng1') !== null &&
				this.getQueryString('lat1') !== null &&
				this.getQueryString('lng2') !== null &&
				this.getQueryString('lat2') !== null
			) {
				this.location = [
					[
						round(parseFloat(this.getQueryString('lng1')), 6),
						round(parseFloat(this.getQueryString('lat1')), 6)
					],
					[
						round(parseFloat(this.getQueryString('lng2')), 6),
						round(parseFloat(this.getQueryString('lat2')), 6)
					]
				];
			}
		},
		async getRoomList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			if (typeof this.filter.place !== 'undefined') {
				delete this.filter.place;
			}

			const filters = this.filter;
			const sorting = this.sorting;
			const params = {
				filters,
				sorting,
				referrer: 'promo',
				include_promoted: true,
				include_premium: true,
				limit: this.limit,
				offset: this.roomData.offset,
				location: this.location
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (
				response &&
				typeof response === 'object' &&
				response.rooms &&
				translateWords
			) {
				const rooms = translateWords(response.rooms) || [];

				this.roomData = {
					...response,
					rooms
				};
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		refreshList() {
			this.roomData.offset = 0;
			this.busy = false;
			if (this.$refs.pagination) this.$refs.pagination.innerValue = 1;
			this.getRoomList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},

		pageChanged(page) {
			const dataOffset = page * 18 - 18;
			this.roomData.offset = dataOffset;

			const count = 18 * (page - 1) + 1;
			this.roomDataCount = count;

			const inpage = 18 * (page - 1) + this.roomData.rooms.length;

			if (inpage > this.roomData.total) {
				this.roomDataLoaded = this.roomData.total;
			} else {
				this.roomDataLoaded = inpage;
			}

			this.getRoomList();
			this.gotoTop();
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
	padding: 0 15px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	z-index: 5;
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
}

.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
