<template>
	<div id="bookingSummary">
		<div class="booking-content">
			<booking-summary-kost class="info-kost" />

			<div class="info-date">
				<div class="info-date--checkin">
					<span class="info-date--label">Tanggal Masuk</span>

					<span class="info-date--date">{{ checkinLabel || '-' }}</span>
				</div>

				<div class="info-date--checkout">
					<span class="info-date--label">Tanggal Keluar</span>

					<span class="info-date--date">{{ checkoutLabel || '-' }}</span>
				</div>

				<div class="info-date--rent-duration">
					<span class="info-date--label">Durasi Sewa</span>
					<span class="info-date--date">{{ durationLabel || '-' }}</span>
				</div>
			</div>

			<hr />

			<booking-summary-tenant-data
				v-if="isMobile"
			></booking-summary-tenant-data>

			<div class="info-price">
				<div class="info-price--each">
					<span class="info-price--each-label">
						Pembayaran Pertama
					</span>
				</div>

				<flash-sale-countdown-wrapper
					v-if="isFlashSale"
					class="info-flash-sale-countdown"
				/>

				<flash-sale-price
					v-if="isFlashSaleAndHasDiscount"
					class="info-flash-sale-price"
					:percentage="priceKost.discount"
					:price="`Rp${priceKost.normalPrice}`"
				/>

				<detail-kost-prices
					:is-show-next-payment="false"
					:is-show-title="false"
					:sort-price="sortedPrice"
					is-show-full-data
					is-booking-summary
					@show-info="showInfoPrice"
				/>
			</div>
		</div>

		<div v-if="isCheckinToday" class="alert-wrapper">
			<booking-after-night-validation />
		</div>

		<div class="booking-action">
			<mami-checkbox
				v-model="formAgreement"
				class="info-sk"
				:disabled="uncompleteBookingForm.error"
				@checkbox-clicked="assignFormAgreementValue"
			>
				Saya telah membaca deskripsi & fasilitas kos, serta menyetujui
				<a @click="showModalTerms">Syarat Ketentuan Ngekos</a>. Saya juga
				menyatakan data diri yang tercantum sudah benar.
			</mami-checkbox>

			<button
				class="btn btn-primary track_success_booking booking-action--btn"
				:class="{
					'--disabled':
						(submittingBooking && disabledSubmitBooking) || nightValidation
				}"
				:disabled="disabledSubmitBooking || nightValidation"
				@click="submitBooking"
			>
				<mami-button-loading v-if="submittingBooking" />
				<span v-else class="track_success_booking">Ajukan Sewa</span>
			</button>
		</div>

		<detail-kost-modal
			:is-show="priceInfoModal.show"
			:z-index="1051"
			:size="navigator.isMobile ? 'extra-small' : 'small'"
			@close="closePriceInfoModal"
		>
			<template v-if="priceInfoModal.items && priceInfoModal.items.length">
				<detail-kost-price-item
					v-for="(price, i) in priceInfoModal.items"
					:key="`modal-additionals-${i}`"
					:price="price"
				/>
			</template>
			<template v-else-if="priceInfoModal">{{ priceInfoModal.info }}</template>
		</detail-kost-modal>
	</div>
</template>

<script>
import dayjs from 'dayjs';
import _get from 'lodash/get';
import { propertyRentTypes } from 'Js/@utils/kostFilter';
import BookingSummaryKost from './BookingSummaryKost';
import FlashSaleCountdownWrapper from 'Js/_booking/flash-sale/FlashSaleCountdownWrapper';
import FlashSalePrice from 'Js/_booking/flash-sale/FlashSalePrice';
import { formatDate } from 'Js/_booking/request/utils/bookingRequestUtils';
import DetailKostPrices from 'Js/_detail/components/kost/kost-price/DetailKostPrices';
import DetailKostModal from 'Js/_detail/components/kost/DetailKostModal';
import MixinBookingAfterNightValidation from 'Js/_booking/request/mixins/MixinBookingAfterNightValidation.js';
import BookingAfterNightValidation from '../BookingAfterNightValidation.vue';

const MamiButtonLoading = () =>
	import('Js/@components/mami-components/MamiButtonLoading');

const MamiCheckbox = () =>
	import('Js/@components/mami-components/MamiCheckbox');

const BookingSummaryTenantData = () => import('./BookingSummaryTenantData');

export default {
	components: {
		MamiButtonLoading,
		MamiCheckbox,
		BookingSummaryKost,
		BookingSummaryTenantData,
		DetailKostPrices,
		DetailKostModal,
		FlashSaleCountdownWrapper,
		FlashSalePrice,
		BookingAfterNightValidation
	},

	mixins: [MixinBookingAfterNightValidation],

	data() {
		return {
			sortedPrice: [
				'basePrice',
				'deposit',
				'additionals',
				'adminFee',
				'flashSalePrice'
			],
			priceInfoModal: {
				show: false,
				info: '',
				items: []
			}
		};
	},
	computed: {
		isFlashSale() {
			const isFlashSaleRunning = _get(
				this.$store.state,
				'flashSale.isRunning',
				false
			);
			if (isFlashSaleRunning) {
				const { start, end } = this.$store.state.flashSale;
				const now = new Date().getTime();
				return new Date(start).getTime() < now && now < new Date(end).getTime();
			}
			return false;
		},
		isFlashSaleAndHasDiscount() {
			return this.isFlashSale && this.priceKost.discount;
		},
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		},
		authData() {
			return this.$store.state.authData;
		},
		bookingParams() {
			return this.$store.getters.bookingParams;
		},
		detailKost() {
			return this.$store.state.detail;
		},
		kostInfoLevelName() {
			return _get(this.detailKost, 'level_info.name', null);
		},
		checkinLabel() {
			return formatDate(_get(this.bookingParams, 'checkin', ''), 'D MMM YYYY');
		},
		checkoutLabel() {
			return formatDate(this.$store.getters.checkoutDate, 'D MMM YYYY');
		},
		durationLabel() {
			return this.$store.getters.durationLabel;
		},
		priceKost() {
			return this.$store.getters.priceKost;
		},
		formAgreement: {
			get() {
				return this.$store.state.formAgreement;
			},
			set(value) {
				this.$store.commit('setFormAgreement', value);
			}
		},
		uncompleteBookingForm() {
			return this.$store.getters.uncompleteBookingForm;
		},
		disabledSubmitBooking() {
			return this.$store.getters.disabledSubmitBooking;
		},
		submittingBooking() {
			return this.$store.state.submittingBooking;
		},
		submitBookingData() {
			return this.$store.state.submitBookingData;
		},
		idVerifStatus() {
			return (
				this.$store.state.extras.idVerifStatus === 'waiting' ||
				this.$store.state.extras.idVerifStatus === 'verified'
			);
		},
		emailVerifStatus() {
			return this.$store.state.extras.emailVerifStatus;
		},
		checkinDate() {
			return this.bookingParams.checkin.replace(/-/g, '/').replace('T', ' ');
		},
		tenantBirthDate() {
			const birthday = _get(this.authData.all, 'birthday', null);
			return birthday ? new Date(birthday) : birthday;
		},
		dataTracked() {
			return {
				user_id: _get(this.authData, 'all.id', null),
				interface: navigator.isMobile ? 'mobile' : 'desktop',
				property_name: _get(this.detailKost, 'room_title', null),
				property_type: 'kost',
				property_id: _get(this.detailKost, 'seq', null),
				property_city: _get(this.detailKost, 'area_city', null),
				property_subdistrict: _get(this.detailKost, 'area_subdistrict', null),
				booking_checkin_time: this.bookingParams.checkin
					? new Date(this.checkinDate)
					: null,
				booking_periode: _get(this.bookingParams, 'duration', 0),
				property_rent_type:
					propertyRentTypes[
						_get(this.bookingParams, 'rent_count_type', 'monthly')
					],
				tenant_gender:
					_get(this.bookingParams, 'contact_gender') === 'female'
						? 'Perempuan'
						: 'Laki-Laki',
				tenant_work_place: _get(this.bookingParams, 'contact_work_place', ''),
				tenant_job: _get(this.bookingParams, 'contact_job', null),
				tenant_name: _get(this.bookingParams, 'contact_name', null),
				tenant_phone_number: _get(this.bookingParams, 'contact_phone', null),
				total_renter: _get(this.bookingParams, 'total_renter', 1),
				user_email: _get(this.authData, 'all.email', null),
				tenant_birthday: this.tenantBirthDate,
				tenant_marital_status: _get(
					this.authData,
					'all.marital_status',
					'Belum Kawin'
				),
				tenant_city: _get(this.authData, 'all.city', null),
				tenant_phone_additional: _get(
					this.authData,
					'all.phone_number_additional',
					''
				),
				is_verify_phone_number:
					_get(this.authData, 'all.is_verify') === 1 ? 'true' : 'false',
				is_verify_email: this.emailVerifStatus,
				is_verify_identity_card: this.idVerifStatus
			};
		},
		bookingRoomLoaded() {
			return this.$store.state.bookingRoomLoaded;
		},
		todaysDate() {
			return dayjs().format('D MMM YYYY');
		},
		isCheckinToday() {
			const dateCheck = this.todaysDate === this.checkinLabel;
			if (dateCheck) {
				this.trackTimeWarningExecuted();
			}

			return !!dateCheck;
		}
	},

	watch: {
		uncompleteBookingForm(value) {
			if (value) {
				this.formAgreement = false;
			}
		},
		formAgreement(value) {
			if (value) {
				this.trackBookingSummaryViewed();
			}
		}
	},

	methods: {
		async submitBooking() {
			this.$store.commit('setSubmittingBooking', true);
			try {
				const params = this.$store.getters.bookingParams;
				const { detail, bookingRoom } = this.$store.state;

				const submitBookingEndpoint = `/user/booking/${detail._id}/${bookingRoom.booking_designer[0].id}`;

				const response = await axios.post(submitBookingEndpoint, params);

				const responseStatus = _get(response, 'data.status', false);
				const responseData = _get(response, 'data.data', {});

				this.$store.commit('setSubmitBookingData', responseData);
				this.$store.commit('setSubmittingBooking', false);

				if (responseStatus) {
					this.onSubmitBookingSuccess(responseData);
				} else {
					const message = _get(response, 'data.meta.message', '');
					if (message === 'flash_sale_terminated') {
						this.$store.commit('setFlashSaleTerminatedModal', true);
					} else {
						this.onSubmitBookingError(new Error(message), message);
					}
				}
			} catch (error) {
				this.$store.commit('setSubmittingBooking', false);
				this.onSubmitBookingError(error, 'Terjadi galat. Silakan coba lagi.');
			}
		},
		onSubmitBookingSuccess(responseData) {
			this.$store.commit('setShowBookingSuccess', true);
			if (responseData.chat) {
				const chatData = responseData.chat.group_channel_url
					? JSON.stringify(responseData.chat)
					: '';

				this.$store.commit('setChatData', chatData);
			}

			if (!this.isMobile) {
				this.trackInputTenantInfo();
			}

			this.trackBookingSubmitted(this.submitBookingData.booking_code);
			this.trackBookingDataLayer();
		},
		onSubmitBookingError(error, message) {
			this.$store.commit('setSubmittingBooking', false);
			this.swalError(null, message);
			bugsnagClient.notify(error);
		},
		showModalTerms() {
			this.$store.commit('setShowModalTerms', true);
		},
		assignFormAgreementValue() {
			if (!this.bookingRoomLoaded) return;

			const { error, message, path } = this.uncompleteBookingForm;
			if (!this.formAgreement && error) {
				this.$store.commit('setShowBookingAlert', { show: true, message });
				if (this.$route.path !== '/' && this.$route.path !== path) {
					this.$router.push({ path, query: { validate: true } });
				} else {
					this.$store.commit('setForcedValidation', '');
					this.$nextTick(() => {
						this.$store.commit('setForcedValidation', path);
					});
				}
			}
		},
		showInfoPrice({ show = false, info = '', items = [] }) {
			this.priceInfoModal = { show, info, items };
		},
		closePriceInfoModal() {
			this.priceInfoModal = {
				show: false,
				info: '',
				items: []
			};
		},
		trackInputTenantInfo() {
			tracker('moe', [
				'[User] Booking Personal Information Submitted',
				{
					...this.dataTracked,
					is_user_testing: _get(this.$store, 'state.isCheckinDateFirst', false)
				}
			]);
		},
		trackBookingSummaryViewed() {
			tracker('moe', ['[User] Booking Summary Viewed', this.dataTracked]);
		},
		trackBookingSubmitted(bookingId) {
			tracker('moe', [
				'[User] Booking Submitted',
				{
					...this.dataTracked,
					booking_id: bookingId,
					request_date: new Date(),
					goldplus_status: this.kostInfoLevelName,
					is_mamirooms: _get(this.detailKost, 'is_mamirooms', false),
					is_user_testing: _get(this.$store, 'state.isCheckinDateFirst', false)
				}
			]);
		},
		trackBookingDataLayer() {
			let price = _get(this.priceKost, 'price', false);
			const discountPrice = _get(this.priceKost, 'discountPrice', false);

			if (discountPrice) {
				price = discountPrice;
			}

			// eslint-disable-next-line no-undef
			dataLayer.push({
				event: 'BookingSubmited',
				selected_rent: {
					price_type: this.dataTracked.property_rent_type,
					price
				}
			});
		},
		trackTimeWarningExecuted() {
			tracker('moe', [
				'[User] Booking - Time Warning Executed',
				{
					...this.dataTracked,
					is_mamirooms: _get(this.detailKost, 'is_mamirooms', false),
					property_updated_at: _get(this.detailKost, 'updated_at', null),
					property_area_city: _get(this.detailKost, 'area_city', null),
					property_area_subdistrict: _get(
						this.detailKost,
						'area_subdistrict',
						null
					),
					goldplus_status: this.kostInfoLevelName,
					redirection_source: 'booking_form'
				}
			]);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#bookingSummary {
	.mami-checkbox {
		align-items: flex-start;
	}
}
</style>

<style lang="scss" scoped>
#bookingSummary {
	letter-spacing: 0.1px;
	font-size: 14px;
	line-height: 21px;
	color: #383746;
	background-color: #fff;

	@media (min-width: 768px) {
		border: 1px solid #e8e8e8;
		max-width: 400px;
		border-radius: 16px;
		position: sticky;
		top: 100px;
	}

	.booking-content {
		padding: 30px 36px 90px 36px;

		@media (min-width: 768px) {
			padding-bottom: 8px;
		}
	}

	hr {
		margin: 16px 0;
		border-top: 1.2px solid #dbdbdb;
	}

	.info {
		&-kost {
			padding-bottom: 25px;
			margin-bottom: 23px;
			border-bottom: 1px solid #e8e8e8;
		}

		&-date {
			font-size: 16px;

			> div {
				display: flex;
				justify-content: space-between;
			}

			> div:last-of-type {
				padding-right: 0;
			}

			&--label {
				color: #949494;
				line-height: 18px;
				letter-spacing: 0.4px;
				margin-bottom: 15px;
			}

			&--date {
				letter-spacing: 0.15px;
				font-weight: bold;
				line-height: 24px;
			}
		}

		&-flash-sale-countdown {
			margin-bottom: 12px;
		}

		&-flash-sale-price {
			justify-content: flex-end;
			margin-bottom: 8px;
		}

		&-price {
			&--each {
				display: flex;
				justify-content: space-between;
				font-weight: bold;
				margin-bottom: 12px;

				&-price {
					color: #ec4a0c;
				}

				&-label {
					font-size: 18px;
					margin-bottom: 15px;
				}
			}

			&__flash-sale {
				margin-bottom: 16px;
				font-size: 12px;
				text-align: right;
			}
		}

		&-sk {
			margin-bottom: 35px;

			@media (max-width: 767px) {
				margin-top: 0;
				margin-bottom: 15px;
			}
		}
	}

	.booking-action {
		padding: 15px;
		margin: 15px;
		background-color: #fff;

		@media (max-width: 767px) {
			border-top: 1px solid #f4f4f4;
			margin: 0;
		}

		&--btn {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			width: 100%;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:focus {
				border: none;
			}

			&:disabled {
				color: #bbb;
				background-color: #f6f6f6;
				border: 0;
			}

			&.--disabled {
				pointer-events: none;
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.booking-action {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		.booking-content {
			padding: 18px 16px 0 16px;
			border: 1px solid #e8e8e8;
			border-radius: 16px;
			margin-bottom: 30px;
			margin-top: 25px;
		}
	}

	.alert-wrapper {
		padding: 15px;
		margin: 15px;
		background-color: #fff;

		@media screen and (max-width: 767px) {
			padding: 0;
			margin: 0 0 50px 0;
			background-color: #fff;
		}
	}
}
</style>
