<template>
	<div class="info-kost">
		<div class="info-kost--data">
			<div class="info-kost__title-box">
				<span class="info-kost__title-box--name text-large">
					{{ detailKost.room_title }}
				</span>
			</div>

			<div>
				<span class="info-kost--gender">
					{{ genderString.id }}
				</span>
			</div>
		</div>

		<div
			v-lazy:background-image="{
				src: kostPhoto,
				error: '/general/img/icons/ic_placeholder_loading.svg'
			}"
			class="info-kost--image"
		></div>
	</div>
</template>

<script>
export default {
	computed: {
		detailKost() {
			return this.$store.state.detail;
		},
		genderString() {
			const genderCode = this.detailKost.gender;
			if (genderCode === 1) {
				return {
					id: 'putra',
					en: 'male'
				};
			} else if (genderCode === 2) {
				return {
					id: 'putri',
					en: 'female'
				};
			}
			return {
				id: 'campur',
				en: 'mix'
			};
		},
		kostPhoto() {
			return this.detailKost.photo_url.small;
		}
	}
};
</script>

<style lang="scss" scoped>
.info-kost {
	display: flex;
	justify-content: space-between;

	&__title-box {
		max-width: 160px;
		margin-bottom: 10px;

		&--name {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			font-weight: bold;
			font-size: 16px;
		}
	}

	&--gender {
		text-transform: capitalize;
		border: 1px solid #dadada;
		border-radius: 4px;
		padding: 4px 8px;
	}

	&--image {
		width: 96px;
		height: 96px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
	}
}
</style>
