<template>
	<ct-card class="booking-list-card">
		<ct-card-body slot="body" padding="12px 12px 0">
			<div class="row">
				<div class="col-xs-12 mb-1">
					<shimmer margin-bottom="0px" width="100px" height="22px" />
				</div>
				<div class="col-xs-12">
					<div class="tenant-section">
						<div class="row">
							<div class="col-xs-2 tenant-avatar">
								<shimmer margin-bottom="0px" width="40px" height="40px" />
							</div>
							<div class="col-xs-10">
								<div class="row">
									<div class="col-xs-12">
										<shimmer margin-bottom="15px" height="20px" />
									</div>
									<div class="col-xs-6">
										<shimmer margin-bottom="0px" height="18px" width="90%" />
									</div>
									<div class="col-xs-6">
										<shimmer margin-bottom="0px" height="18px" width="90%" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 mt-2 mb-2">
					<shimmer
						v-for="i in 3"
						:key="i"
						height="18px"
						width="70%"
						:margin-bottom="i === 3 ? 'unset' : '20px'"
					/>
				</div>
			</div>
		</ct-card-body>
		<ct-card-footer slot="footer" divider="line" class="el-center">
			<shimmer margin-bottom="0px" height="30px" width="90%" />
		</ct-card-footer>
	</ct-card>
</template>

<script>
import CtCard, {
	CtCardBody,
	CtCardFooter
} from 'Consultant/components/ct-card';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

export default {
	name: 'BookingListCardPlaceholder',

	components: {
		CtCard,
		CtCardBody,
		CtCardFooter,
		Shimmer
	}
};
</script>

<style lang="scss" scoped>
.tenant-section {
	padding: 15px 0;
	border-top: 2px dashed #e8e8e8;
	border-bottom: 2px dashed #e8e8e8;

	.tenant-avatar ::v-deep .shimmer-placeholder {
		border-radius: 50%;
	}
}
</style>
