<template>
	<ct-card class="booking-list-card">
		<ct-card-body slot="body" padding="12px 12px 0">
			<div class="row">
				<div class="col-xs-12 mb-1">
					<chip :type="status.type" medium>
						{{ status.text }}
					</chip>
				</div>
				<div class="col-xs-12">
					<div class="tenant-section">
						<div class="row">
							<div class="col-xs-2 tenant-avatar">
								<CtAvatar :src="tenantPhotoSrc" />
							</div>
							<div class="col-xs-10">
								<div class="row">
									<div class="col-xs-12">
										<h4 class="mt-0 tenant-name">
											<strong>{{ item.tenant_name }}</strong>
										</h4>
									</div>
									<div class="col-xs-6">
										<div
											class="text-muted el-center-on-start tenant-detail-label"
										>
											<ct-icon size="18px">calendar-alt</ct-icon> &nbsp; Tanggal
											Masuk
										</div>
										<strong>{{ checkinDate }}</strong>
									</div>
									<div class="col-xs-6">
										<div
											class="text-muted el-center-on-start tenant-detail-label"
										>
											<ct-icon size="18px">clock</ct-icon> &nbsp; Durasi Sewa
										</div>
										<strong>{{ rentDuration }}</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 mt-1 mb-1">
					<ul class="booking-detail-container">
						<li
							v-for="(detail, i) in detailLists"
							:key="`detail-${i}`"
							class="detail-item"
						>
							<div class="detail-icon">
								<ct-icon>{{ detail.icon }}</ct-icon>
							</div>
							<div class="detail-info">
								{{ detail.text }}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</ct-card-body>
		<ct-card-footer slot="footer" divider="line">
			<div class="row">
				<div v-if="doesShowDueDate" class="col-xs-12">
					<p class="red--text">
						Konfirmasi sebelum <strong>{{ dueDate }}</strong>
					</p>
				</div>
				<div class="col-xs-12">
					<router-link class="detail-link" :to="link">
						<ct-button large block outline>
							Lihat Detail
						</ct-button>
					</router-link>
				</div>
			</div>
		</ct-card-footer>
	</ct-card>
</template>

<script>
import CtCard, {
	CtCardBody,
	CtCardFooter
} from 'Consultant/components/ct-card';
import Chip from 'Consultant/components/Chip';
import CtButton from 'Consultant/components/ConsultantButton';
import CtAvatar from 'Consultant/components/CtAvatar';

import mixinDuration from '../mixins/mixinDuration';

import { mapGetters } from 'vuex';

export default {
	name: 'BookingListCard',

	components: {
		CtCard,
		CtCardBody,
		CtCardFooter,
		Chip,
		CtButton,
		CtAvatar
	},

	mixins: [mixinDuration],

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	computed: {
		...mapGetters('booking', ['getStatus']),
		link() {
			return {
				name: 'booking-management.detail',
				params: {
					id: this.item.booking_id
				}
			};
		},
		status() {
			const selectedStatus = this.getStatus(this.item.status);
			return {
				type:
					selectedStatus.color === 'disabled'
						? 'default'
						: selectedStatus.color,
				text: selectedStatus.label
			};
		},
		detailLists() {
			return [
				{
					text: `${this.item.kost_name}, ${this.item.area_city}`,
					icon: 'house-front'
				},
				{
					text: this.roomNumber,
					icon: 'bed'
				},
				{
					text: this.item.kost_level_name,
					icon: 'product'
				},
				{
					text: this.item.owner_phone,
					icon: 'phone-outline'
				}
			];
		},
		checkinDate() {
			return this.$dayjs(this.item.checkin_date).format('D MMM YYYY');
		},
		dueDate() {
			return this.$dayjs(this.item.due_date).format('dddd DD MMMM YYYY, HH:mm');
		},
		rentDuration() {
			// eslint-disable-next-line camelcase
			const { stay_duration, stay_duration_unit } = this.item;

			return this.getBookingDuration(stay_duration, stay_duration_unit);
		},
		roomNumber() {
			const dontShowRoomNumberAtTheStatus = [
				'Butuh Konfirmasi',
				'Dibatalkan',
				'Ditolak Pemilik',
				'Ditolak Admin',
				'Kadaluwarsa oleh Pemilik'
			];

			if (dontShowRoomNumberAtTheStatus.includes(this.item.status)) {
				return 'Belum dikonfirmasi';
			} else {
				return this.item.room_number;
			}
		},
		tenantPhotoSrc() {
			const defaultPhoto =
				'/general/img/pictures/consultant/avatar_default_image.png';
			const smallPhoto = this.item.photo ? this.item.photo.small : defaultPhoto;
			return {
				src: smallPhoto,
				error: defaultPhoto,
				loading: defaultPhoto
			};
		},
		doesShowDueDate() {
			const showDueDateStatus = ['Butuh Konfirmasi', 'Tunggu Pembayaran'];
			return showDueDateStatus.includes(this.item.status);
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-link {
	color: unset !important;
}

.red--text {
	font-size: 12px;
	color: #da3438;
}

.tenant-section {
	padding: 15px 0;
	border-top: 2px dashed #e8e8e8;
	border-bottom: 2px dashed #e8e8e8;

	.tenant-avatar {
		display: flex;
		justify-content: center;
	}

	/* stylelint-disable selector-max-type */
	.tenant-detail-label,
	.tenant-detail-label + strong {
		font-size: 12px;
	}

	.tenant-name {
		font-size: 14px;
		line-height: 20px;
	}
}

.booking-detail-container {
	padding-left: unset;
	margin-bottom: unset;
	list-style: none;
}

.detail-item {
	display: flex;
	align-items: center;

	.detail-icon {
		width: 30px;
		> .mamikos-icon {
			font-size: 20px;
		}
	}

	.detail-info {
		font-size: 12px;
	}
}
</style>
