<template>
	<div class="detail-tenant section-divider">
		<h2 class="section-title">Data Penyewa</h2>
		<hr class="custom-dashed" />

		<div class="tenant-avatar">
			<avatar v-lazy="tenant.photo_profile.small" size="56px" />
			<div class="tenant-name-phone">
				<p>{{ tenant.name }}</p>
				<p>{{ tenant.phone_number }}</p>
			</div>
		</div>

		<div class="about-tenant">
			<p class="title">Tentang Penyewa:</p>
			<p class="comment">
				{{ tenant.about_tenant === '' ? '-' : tenant.about_tenant }}
			</p>
		</div>

		<div class="tenant-photos">
			<div class="left">
				<div class="img-container" @click="openModalImage('id')">
					<img v-lazy="photoIdentifier" alt="Foto KTP Tenant" />
				</div>
				<p>Foto KTP</p>
			</div>

			<div class="right">
				<div class="img-container" @click="openModalImage('selfie')">
					<img v-lazy="photoSelfie" alt="Foto Selfie Tenant dengan KTP" />
				</div>
				<p>Foto Selfie dengan KTP</p>
			</div>
		</div>

		<p class="tenant-title">Profil Penyewa:</p>
		<ul class="fake-table soft">
			<li>
				<div>Jenis Kelamin</div>
				<div>{{ tenant.gender === 'male' ? 'Laki-laki' : 'Perempuan' }}</div>
			</li>
			<li>
				<div>Status</div>
				<div>{{ tenant.marital_status }}</div>
			</li>
			<li>
				<div>Pekerjaan</div>
				<div>{{ occupation }}</div>
			</li>
			<li>
				<div>Email</div>
				<div>{{ tenant.email }}</div>
			</li>
		</ul>

		<modal
			:open.sync="modalOpen"
			:close-on-outside-click="true"
			:small="false"
			image-mode
		>
			<div class="modal-image">
				<img v-lazy="imageUrl" :alt="imageAlt" />
			</div>
		</modal>
	</div>
</template>

<script>
import Avatar from 'Consultant/components/CtAvatar';
import Modal from 'Consultant/components/ConsultantModal';

export default {
	components: {
		Avatar,
		Modal
	},

	props: {
		tenant: {
			type: Object,
			default: () => {
				return {};
			}
		}
	},

	data() {
		return {
			modalOpen: false,
			clickedImage: '',
			imageUrl: '',
			imageAlt: '',
			clickable: true
		};
	},

	computed: {
		occupation() {
			switch (this.tenant.occupation.toLowerCase()) {
				case 'kuliah':
					return 'Mahasiswa';
				case 'kerja':
					return 'Karyawan';
				case 'mahasiswa':
					return 'Mahasiswa';
				case 'karyawan':
					return 'Karyawan';
				case 'lainnya':
					return 'Lainnya';
				default:
					return '';
			}
		},
		photoIdentifier() {
			if (this.tenant.photo_identifier.small) {
				return this.tenant.photo_identifier.small;
			}
			return '/general/img/pictures/consultant/default-booking-management-detail.png';
		},
		photoSelfie() {
			if (this.tenant.photo_selfie.small) {
				return this.tenant.photo_selfie.small;
			}
			return '/general/img/pictures/consultant/default-booking-management-detail.png';
		}
	},

	methods: {
		openModalImage(which) {
			this.imageUrl = '';
			if (which === 'id') {
				this.imageUrl = this.tenant.photo_identifier.medium;
				this.imageAlt = 'Foto KTP Tenant';
			}
			if (which === 'selfie') {
				this.imageUrl = this.tenant.photo_selfie.medium;
				this.imageAlt = 'Foto Selfie Tenant dengan KTP';
			}
			this.modalOpen = !this.modalOpen;
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/pages/booking-management.scss';

.tenant-avatar {
	position: relative;
	::v-deep .ct-avatar {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.tenant-name-phone {
	padding-left: 72px;
	margin-bottom: 20px;
	p {
		margin: 0;
		&:first-child {
			font-size: 18px;
			font-weight: 900;
			line-height: 26px;
		}
		&:last-child {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.about-tenant {
	padding: 12px 16px;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 24px;
	background: #fafafa;
	border-radius: 8px;
	.title {
		margin-bottom: 4px;
		font-weight: bold;
	}
	.comment {
		margin-bottom: 0;
		font-style: italic;
	}
}

.tenant-photos {
	display: flex;
	margin: 0 -8px;
	.left,
	.right {
		flex: 0 1 250px;
		padding: 0 8px;
	}
	p {
		font-style: italic;
		color: #949494;
	}
	.img-container {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		cursor: pointer;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(100% - 16px);
			height: calc(100% - 16px);
			border-radius: 4px;
			transform: translate(-50%, -50%);
			object-fit: cover;
			object-position: center;
		}
	}
}

.tenant-title {
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
}

.modal-image {
	img {
		width: 100%;
	}
}
</style>
