<template>
	<div class="detail-property section-divider">
		<div class="payment-status">
			<chip :custom-color="`chip-${paymentStatus}`" medium>
				{{ property.booking_status }}
			</chip>
		</div>
		<div class="invoice-number">
			<h3>
				#{{ property.booking_code }}
			</h3>
			<div v-if="toggleReason" class="booked">
				<chip :custom-color="`chip-warning`" large full-width align="left">
					{{ property.reason }}
				</chip>
			</div>
		</div>
		<h2 class="section-title">Properti yang dipesan:</h2>
		<hr class="custom-dashed" />
		<div class="data-content">
			<div class="left-content">
				<ul>
					<li>
						<icon name="house-front" />
						<p>
							{{ property.property_name }}
						</p>
					</li>
					<li>
						<icon name="user-simple" />
						<p>
							{{ property.property_owner_name }}
						</p>
					</li>
					<li>
						<icon name="product" />
						<p>
							{{ kostStatus }}
						</p>
					</li>
					<li>
						<icon name="phone-outline" />
						<p>
							{{ property.property_owner_phone }}
						</p>
					</li>
				</ul>
			</div>
			<div class="right-content">
				<img v-lazy="property.property_photo.small" alt="Property Image" />
			</div>
		</div>

		<div v-if="acceptUpdateShow" class="updated">
			{{ acceptUpdateText ? 'Accepted' : 'Updated' }} by {{ property.last_status_update_by }}
		</div>
	</div>
</template>

<script>
import Chip from 'Consultant/components/Chip';
import Icon from 'Consultant/components/CtIcon';

export default {
	components: {
		Chip,
		Icon
	},

	props: {
		property: {
			type: Object,
			default: () => {
				return {};
			}
		},
		paymentStatus: {
			type: String,
			default: ''
		},
		toggleReason: {
			type: Boolean,
			default: false
		},
		acceptUpdateShow: {
			type: Boolean,
			default: false
		},
		acceptUpdateText: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		kostStatus() {
			const substring = 'Mamikos';
			if (this.property.kost_level.length) {
				if (this.property.kost_level[0].name.includes(substring)) {
					return this.property.kost_level[0].name.replace('Mamikos', '');
				} else {
					return this.property.kost_level[0].name;
				}
			} else {
				return '-';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/pages/booking-management.scss';

.detail-property {
	padding-top: 0;
	.chip-warning {
		color: #8c3b00;
		background-color: #fcf7e3;
		border: 1px solid #f9e7b4;
	}
	.chip-success {
		color: #016034;
		background-color: #edf9f4;
		border: 1px solid #d8ede3;
	}
	.chip-disabled {
		color: #757575;
		background-color: #f6f6f6;
		border: 1px solid #e8e8e8;
	}
}

.payment-status {
	margin-bottom: 5px;
}

.invoice-number {
	margin-bottom: 28px;
	h3 {
		margin: 0 0 4px;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

ul {
	li {
		p {
			padding-left: 24px;
		}
		::v-deep .mamikos-icon {
			float: left;
		}
		& + li {
			margin-top: 8px;
		}
	}
}

.data-content {
	display: flex;
	justify-content: space-between;
}

.left-content {
	flex: 0 1 auto;
}

.right-content {
	flex: 0 0 114px;
	text-align: right;
	img {
		width: 98px;
		height: 98px;
		border-radius: 8px;
		object-fit: cover;
	}
}

.updated {
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	color: #949494;
}
</style>
