<template>
	<div class="detail-invoice section-divider">
		<h2 class="section-title">Tagihan</h2>
		<hr class="custom-dashed" />

		<ul class="fake-table">
			<li>
				<div>Harga di Invoice</div>
				<div>{{ mixRupiahConverter(invoice.full_amount) }}</div>
			</li>
			<li>
				<div>Ditransfer ke Owner</div>
				<div>{{ mixRupiahConverter(invoice.transferred_to_owner) }}</div>
			</li>
		</ul>

		<hr class="custom-dashed small-margin" />

		<ul class="fake-table soft">
			<li>
				<div>Deposit</div>
				<div>{{ mixRupiahConverter(invoice.deposit) }}</div>
			</li>
			<li>
				<div>Down Payment</div>
				<div>{{ mixRupiahConverter(invoice.down_payment) }}</div>
			</li>
			<li>
				<div>Biaya Lain</div>
				<div>{{ mixRupiahConverter(invoice.additional_cost) }}</div>
			</li>
		</ul>
	</div>
</template>

<script>
import mixinConverter from 'Consultant/mixins/mixinConverter';

export default {
	mixins: [mixinConverter],

	props: {
		invoice: {
			type: Object,
			default: () => ({})
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/pages/booking-management.scss';
</style>
