<template>
	<div class="detail-contract section-divider">
		<h2 class="section-title">Kontrak Penyewa</h2>
		<hr class="custom-dashed" />

		<div class="order-time">
			<p>Waktu Pemesanan :</p>
			<p>{{ formattedFulllDate }}</p>
		</div>

		<ul class="fake-table soft">
			<li>
				<div>Tanggal Masuk</div>
				<div>{{ mixDateConverter(contract.checkin_date) }}</div>
			</li>
			<li>
				<div>Tanggal Keluar</div>
				<div>{{ mixDateConverter(contract.checkout_date) }}</div>
			</li>
			<li>
				<div>Durasi Sewa</div>
				<div>{{ durationBahasa }}</div>
			</li>
		</ul>
	</div>
</template>

<script>
import mixinConverter from 'Consultant/mixins/mixinConverter';
import mixinDuration from '../mixins/mixinDuration';

export default {
	mixins: [mixinConverter, mixinDuration],

	props: {
		contract: {
			type: Object,
			default: () => ({})
		}
	},

	computed: {
		formattedFulllDate() {
			return this.$dayjs(this.contract.booking_created)
				.locale('id')
				.format('DD MMMM YYYY[, Pukul] HH:mm');
		},
		durationBahasa() {
			// eslint-disable-next-line camelcase
			const { stay_duration, stay_duration_unit } = this.contract;

			return this.getBookingDuration(stay_duration, stay_duration_unit);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/pages/booking-management.scss';

.order-time {
	p {
		margin: 0;
		&:first-child {
			margin-bottom: 0;
			font-weight: bold;
		}
		&:last-child {
			margin-bottom: 16px;
		}
	}
}
</style>
