<template>
	<action-sheet v-model="isOpen" reset-padding fullscreen>
		<div class="filter-actions">
			<div class="list-action__header gap-side">
				<button class="close-btn" @click="close">
					<ct-icon size="27px">cross</ct-icon>
				</button>
				<h4><strong>Filter</strong></h4>
			</div>
			<div class="list-action__body gap-side">
				<div class="row">
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Instant Booking</strong></h4>
						<div
							v-for="(instantBooking, i) in instantBookingList"
							:key="`instant-booking-${i}`"
						>
							<ct-checkbox
								v-model="selectedInstantBooking"
								:value="instantBooking.value"
							>
								{{ instantBooking.label }}
							</ct-checkbox>
						</div>
					</div>

					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>GoldPlus</strong></h4>
						<div v-for="(goldPlus, i) in goldPlusList" :key="`gold-plus-${i}`">
							<ct-checkbox v-model="selectedGoldPlus" :value="goldPlus.id">
								{{ goldPlus.name }}
							</ct-checkbox>
						</div>
					</div>

					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Lainya</strong></h4>
						<div v-for="(other, i) in otherList" :key="`gold-plus-${i}`">
							<ct-checkbox v-model="selectedOther" :value="other.id">
								{{ other.name }}
							</ct-checkbox>
						</div>
					</div>
				</div>
			</div>

			<div class="list-action__footer gap-side --fixed">
				<div class="row">
					<div class="col-xs-6">
						<ct-button
							color="secondary"
							outline
							large
							block
							@click="resetAllFilter"
							>Reset</ct-button
						>
					</div>
					<div class="col-xs-6">
						<ct-button large block @click="applyFilter">Terapkan</ct-button>
					</div>
				</div>
			</div>
		</div>
	</action-sheet>
</template>

<script>
/* eslint-disable camelcase */
import ActionSheet from 'Consultant/components/Snackbar';
import CtButton from 'Consultant/components/ConsultantButton';
import CtCheckbox from 'Consultant/components/CtCheckbox';

import instantBookingList from '../data/filterInstantBooking.json';

export default {
	name: 'FilterActionSheet',

	components: {
		ActionSheet,
		CtButton,
		CtCheckbox
	},

	props: {
		kostLevels: {
			type: Array,
			required: true
		}
	},

	data() {
		return {
			isOpen: false,
			loading: false,
			instantBookingList: instantBookingList,
			selectedInstantBooking: [],
			goldPlusList: [],
			selectedGoldPlus: [],
			otherList: [],
			selectedOther: []
		};
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				this.checkActiveFilter(route.query);
			}
		},
		kostLevels: {
			immediate: false,
			handler(value) {
				this.setFilterData(value);
			}
		}
	},

	methods: {
		/**
		 * @public
		 */
		open() {
			this.isOpen = true;
			this.checkActiveFilter(this.$route.query);
		},

		close() {
			this.isOpen = false;
		},

		resetAllFilter() {
			this.selectedInstantBooking = [];
			this.selectedGoldPlus = [];
			this.selectedOther = [];
		},

		setFilterData(data) {
			const { goldplus, others } = this.separateFilterData(data);
			this.goldPlusList = goldplus;
			this.otherList = others;
		},

		separateFilterData(filters) {
			const separatedFilter = { goldplus: [], others: [] };
			for (const filter of filters) {
				if (/goldplus|GP|gold plus/i.test(filter.name)) {
					separatedFilter.goldplus.push(filter);
				} else {
					separatedFilter.others.push(filter);
				}
			}

			return separatedFilter;
		},

		applyFilter() {
			const instantBooking = this.selectedInstantBooking.join(',');
			const kostLevel = [...this.selectedGoldPlus, ...this.selectedOther].join(
				','
			);

			this.changeQuery({
				page: 1,
				instant_booking: instantBooking,
				filters: kostLevel
			});
			this.close();
		},

		checkActiveFilter(query) {
			let isFilterActive = false;

			if (query.filters) {
				if (this.kostLevels.length) {
					const kostLevelId = query.filters.split(',');
					const updatedFilterKostLevel = [];

					// find kost level's name by id
					for (const eachId of kostLevelId) {
						const kostLevel = this.kostLevels.find(
							each => +each.id === +eachId
						);

						if (kostLevel) {
							updatedFilterKostLevel.push(kostLevel);
						}
					}

					const { goldplus, others } = this.separateFilterData(
						updatedFilterKostLevel
					);
					this.selectedGoldPlus = goldplus.map(each => each.id);
					this.selectedOther = others.map(each => each.id);
				}

				isFilterActive = true;
			}

			if (query.instant_booking) {
				this.selectedInstantBooking = query.instant_booking.split(',');
				isFilterActive = true;
			}

			this.$parent.hasActivefilter = isFilterActive;
		},

		changeQuery(updatedQuery) {
			const { query, name } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					...updatedQuery
				}
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.gap-side {
	padding: 15px 20px;
}

.filter-actions {
	position: relative;
	height: 100vh;

	.close-btn {
		position: absolute;
		top: 50%;
		left: 10px;
		background-color: transparent;
		border: unset;
		outline: unset;
		outline: none;
		transform: translateY(-50%);
	}

	.list-action__header {
		position: relative;
		border-bottom: 1px solid #e1e9f1;

		/* stylelint-disable-next-line */
		h4 {
			margin: unset;
			font-size: 18px;
			text-align: center;
		}
	}

	.list-action__body {
		max-height: calc(100vh - 125px);
		overflow-y: auto;
	}

	.list-action__footer {
		background-color: #fff;
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.04);

		&.--fixed {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
</style>
