<template>
	<popper-widget
		block-interaction-on-show
		:show-from-props="isShow"
		custom-container-style="background: #fff"
		:offset="10"
		type="ftue"
	>
		<div
			slot="content"
			:class="[
				'popper-ftue',
				{
					'popper-ftue--right': popperRightAlign
				}
			]"
			:style="popperContentStyle"
		>
			<div class="popper-ftue__content">
				<span
					:class="[
						'popper-ftue__content-arrow',
						{
							'popper-ftue__content-arrow--right': popperRightAlign
						}
					]"
					:style="popperTriangleStyle"
				/>
				<h2 class="popper-ftue__content-title" data-path="lbl_popperTitle">
					{{ popperTitle }}
				</h2>
				<div
					v-for="(content, index) in popperContent"
					:key="index"
					class="popper-ftue__content-information"
				>
					<img src="/general/img/icons/ic_checkmark_s_black.svg" />
					<p
						class="popper-ftue__content-text"
						:data-path="`lbl_popperContent${index}`"
					>
						{{ content }}
					</p>
				</div>
				<div class="popper-ftue__content-action">
					<a
						href="https://help.mamikos.com/"
						target="_blank"
						rel="noopener"
						class="popper-ftue__content-link"
						data-path="txt_pelajari"
						@click="hidePopperLearnMore"
						>Pelajari lebih lanjut
					</a>
					<button
						class="popper-ftue__content-button"
						data-path="btn_popperAction"
						@click="hidePopperUnderstand"
					>
						Saya mengerti
					</button>
				</div>
			</div>
		</div>
		<base-main-filter
			:filter-type="filterType"
			list-style="switch"
			size="small"
			:dropdown-title="dropdownTitle"
			dropdown-style="width: 352px"
			:dropdown-data="dropdownData"
			:is-ftue-show="isShow"
			:is-mobile-props="isMobile"
			@set-value="setFilterKostType"
			@callback-action="togglePopper"
		/>
	</popper-widget>
</template>

<script>
import BaseMainFilter from 'Js/@components/BaseMainFilter';
import PopperWidget from 'Js/@components/PopperWidget';
import MixinIsMobile from 'Js/_search/mixins/MixinIsMobile';

export default {
	components: {
		BaseMainFilter,
		PopperWidget
	},
	mixins: [MixinIsMobile],
	props: {
		popperContent: {
			type: Array,
			default() {
				return [];
			}
		},
		popperRightAlign: {
			type: Boolean,
			default: false
		},
		popperContentLeftOffset: {
			type: Number,
			default: 0
		},
		popperTriangleLeftOffset: {
			type: Number,
			default: 0
		},
		showFtue: {
			type: Boolean,
			default: false
		},
		popperTitle: {
			type: String,
			default: ''
		},
		filterType: {
			type: String,
			default: ''
		},
		dropdownTitle: {
			type: String,
			default: ''
		},
		dropdownData: {
			type: Object,
			default() {
				return {
					title: '',
					getValue: false,
					active: false,
					link: ''
				};
			}
		}
	},
	data() {
		return {
			isShow: false
		};
	},
	computed: {
		popperContentStyle() {
			return this.popperRightAlign && this.popperContentLeftOffset
				? `left: ${this.popperContentLeftOffset}px`
				: '';
		},
		popperTriangleStyle() {
			return this.popperRightAlign && this.popperTriangleLeftOffset
				? `left: ${this.popperTriangleLeftOffset}px`
				: '';
		}
	},
	watch: {
		showFtue: {
			handler(showStatus) {
				showStatus && this.showPopper();
			},
			immediate: true
		}
	},
	methods: {
		setFilterKostType(status, type) {
			this.$emit('set-value', status, type);
		},
		hidePopperLearnMore() {
			this.hidePopper();
			this.$emit('callback-on-learn-more');
		},
		hidePopperUnderstand() {
			this.hidePopper();
			this.$emit('callback-on-understand');
		},
		hidePopper() {
			this.isShow = false;
			this.$emit('callback-on-hide');
		},
		showPopper() {
			window.scrollTo(0, 0);
			this.isShow = true;
		},
		togglePopper() {
			this.isShow && this.hidePopper();
		}
	}
};
</script>

<style lang="scss" scoped>
.popper-ftue {
	position: absolute;
	top: 65px;
	left: 0;
	z-index: 1031;
	display: flex;
	flex-direction: column;
	border-radius: 12px;

	.popper-ftue__content {
		width: 328px;
		padding: 20px;
		color: #484848;
		background: #fff;
		border-radius: 8px;

		.popper-ftue__content-title {
			margin: 0 0 20px;
			font-size: 18px;
			font-weight: bold;
			line-height: 22px;
			text-align: left;
		}

		.popper-ftue__content-arrow {
			position: absolute;
			top: -15px;
			left: 20px;
			width: 0;
			height: 0;
			content: '';
			border-right: 12px solid transparent;
			border-bottom: 16px solid #fff;
			border-left: 12px solid transparent;
		}

		.popper-ftue__content-arrow--right {
			left: 240px;
		}
	}
}
.popper-ftue--right {
	left: -123px;
}
.popper-ftue__content-information {
	display: flex;
	align-items: center;

	.popper-ftue__content-text {
		margin: 0 0 0 8px;
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
	}

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}
}
.popper-ftue__content-action {
	display: flex;
	margin-top: 24px;
	justify-content: space-between;
	align-items: center;

	.popper-ftue__content-link {
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
		color: #1baa56;
	}

	.popper-ftue__content-button {
		display: block;
		padding: 10px 22px;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		cursor: pointer;
		background: #1baa56;
		border: 0;
		border-radius: 4px;
		outline: 0;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
}
</style>
