<template>
	<div class="card-placeholder">
		<bg-skeleton
			:width="navigator.isMobile ? 102 : 300"
			:height="navigator.isMobile ? 153 : 200"
		/>
		<div class="card-placeholder__info">
			<div class="card-placeholder__info-label">
				<bg-skeleton :width="100" :height="24" />
				<bg-skeleton
					:width="80"
					:height="24"
					class="card-placeholder__info-badge"
				/>
			</div>
			<bg-skeleton
				width="50%"
				:height="navigator.isMobile ? 20 : 24"
				class="card-placeholder__info-name"
			/>
			<bg-skeleton
				width="20%"
				:height="20"
				class="card-placeholder__info-location"
			/>
			<bg-skeleton
				width="40%"
				:height="18"
				class="card-placeholder__info-facilities"
			/>
			<div class="card-placeholder__info-footer">
				<bg-skeleton :width="34" :height="20" />
				<bg-skeleton width="40%" :height="22" />
			</div>
		</div>
	</div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	name: 'CardSkeleton',
	components: {
		BgSkeleton
	}
};
</script>

<style lang="scss" scoped>
.card-placeholder {
	display: flex;
	width: 100%;
	margin: 20px 0 10px;

	.card-placeholder__info {
		display: flex;
		width: calc(100% - 316px);
		height: 200px;
		margin: 0 0 0 16px;
		flex-direction: column;

		@media (max-width: 767px) {
			width: calc(100% - 110px);
			height: 153px;
		}
	}
}

.card-placeholder__info-label {
	display: flex;
	min-height: 24px;
	margin: 0 0 8px;

	.card-placeholder__info-badge {
		margin: 0 0 0 8px;
	}
}

.card-placeholder__info-name {
	flex-shrink: 0;
	margin: 0 0 4px;
}

.card-placeholder__info-location {
	flex-shrink: 0;
	margin: 0 0 12px;
}

.card-placeholder__info-facilities {
	flex-shrink: 0;
}

.card-placeholder__info-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
}
</style>
