<template>
	<div
		:class="[
			'area',
			{
				'area--map': contentType === 'map'
			}
		]"
	>
		<global-navbar
			fixed
			join-premium-menu
			need-search-box
			need-back-arrow
			container-style="z-index: 1032"
			:criteria="generatedCriteria"
			:history-point="historyPoint"
			redirection-source="search page"
			redirection-source-navbar="list kos result"
			:open-modal-with-props="searchModalStatus"
			@closeModalWithProps="setSearchStatus(false)"
			@handle-show-modal-callback="handleRevertCriteria"
			@handle-close-modal-callback="handleRevertTag"
		/>
		<div class="area-explorer">
			<div class="area-explorer__list">
				<h1
					v-if="kostTitle.show"
					:class="[
						'area-explorer__list-title',
						{
							'area-explorer__list-title--nominatim': kostTitle.isReadTag
						}
					]"
				>
					{{ kostTitle.text }}
				</h1>
				<div
					ref="filterWrapper"
					:class="[
						'area-explorer__list-filter',
						{
							'area-explorer__list-filter--fixed': !kostTitle.show
						}
					]"
				>
					<filter-options @facilities-modal-handler="toggleModalFacilities" />
				</div>
				<div
					ref="containerWrapper"
					:class="[
						'area-explorer__list-content',
						{ 'area-explorer__list-content--margin': !kostTitle.show }
					]"
				>
					<div ref="stickyWrapper" class="area-explorer__list-sticky">
						<filter-kost-type />
					</div>
					<div ref="contentWrapper" class="area-explorer__list-data">
						<list-container
							:content-type="contentType"
							@reset-sticky-filter-handler="resetStickyFilterPosition"
						/>
						<template v-if="isMobile">
							<mobile-map
								:content-type="contentType"
								:is-login="isLogin"
								@handle-change-content-type="handleChangeContentType"
							/>
						</template>
					</div>
				</div>
			</div>
			<search-map
				v-if="!isMobile"
				:total-active="totalActive"
				class="area-explorer__map"
				@set-url-filter="settingFilterUrl"
			></search-map>
		</div>
		<modal-facilities
			:facilities-data="facilitiesData"
			:is-show-modal="isShowFacilitiesModal"
			@save-facilities-handler="saveFacilitiesTag"
			@facilities-modal-handler="toggleModalFacilities"
		/>
		<filter-mobile
			v-if="isMobile"
			use-map-on-mobile
			:content-type="contentType"
			@reset-sticky-filter-handler="resetStickyFilterPosition"
			@handle-change-content-type="handleChangeContentType"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';

import { mapActions, mapMutations, mapState } from 'vuex';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

import GlobalNavbar from 'Js/@components/GlobalNavbar';
import SearchMap from './SearchMapOsm';
import FilterOptions from './FilterOptions';
import FilterKostType from './FilterKostType';
import ListContainer from './ListContainer';
import ModalFacilities from './ModalFacilities';
import FilterMobile from './FilterMobile';
import MobileMap from './MobileMap';

export default {
	components: {
		GlobalNavbar,
		FilterOptions,
		FilterKostType,
		ListContainer,
		SearchMap,
		ModalFacilities,
		FilterMobile,
		MobileMap
	},
	mixins: [MixinFilterHelper],
	data() {
		return {
			searchKeyword: '',
			isShowFacilitiesModal: false,
			lastScrollPosition: 0,
			lastListPosition: 0,
			contentType: 'list',
			revertedTag: null
		};
	},
	computed: {
		...mapState([
			'searchModalStatus',
			'isLoading',
			'criteria',
			'historyPoint',
			'extras'
		]),
		isShowNominatim() {
			return _get(this.criteria, 'isShowNominatim', false);
		},
		isLogin() {
			return _get(this.authCheck, 'all', false);
		},
		center() {
			return {
				lat: this.criteria.latitude,
				lng: this.criteria.longitude
			};
		},
		kostTitle() {
			const propertyName = _get(this.criteria, 'propertyName', '');
			const criteriaTag = _get(this.criteria, 'tag', null);
			const keywords = _get(this.criteria, 'keywords', '');
			let title = keywords.split(',')[0];
			const isReadTag = this.isShowNominatim;

			if (isReadTag) {
				title = criteriaTag ? criteriaTag.toLowerCase() : title;
			}

			const text = propertyName
				? `Kos di sekitar ${propertyName}`
				: isReadTag
				? `Kos di ${title}`
				: null;

			return {
				text,
				isReadTag,
				show: !!text && (!!propertyName || (isReadTag && !navigator.isMobile))
			};
		},
		generatedCriteria() {
			let keywords = '';
			let rentType = 'bulanan';
			switch (this.getKostFilters.rent_type) {
				case 1:
					rentType = 'mingguan';
					break;
				case 2:
					rentType = 'bulanan';
					break;
				case 3:
					rentType = 'tahunan';
					break;

				default:
					rentType = 'harian';
					break;
			}

			if (Cookies.get('search-keyword') !== undefined) {
				if (
					this.criteria.keywords === '' ||
					this.criteria.keywords === 'sekitar' ||
					this.criteria.keywords === 'rekomendasi'
				) {
					Cookies.remove('search-keyword');
				} else {
					keywords = Cookies.get('search-keyword');
				}
			} else {
				keywords = this.criteria.keywords;
			}

			const mainKeyword = keywords.split(',')[0];

			return {
				keywords: this.criteria.tag || mainKeyword,
				gender: 'all',
				rentType,
				price: this.getKostFilters.price_range
			};
		}
	},
	watch: {
		isLoading(val) {
			if (!val) {
				window.scrollTo(0, 0);
				this.lastListPosition = 0;
			}
		}
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	created() {
		this.fetchFacilitiesList();
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll);
	},
	methods: {
		...mapActions(['fetchFacilitiesList']),
		...mapMutations([
			'setSearchStatus',
			'setLoading',
			'setLocation',
			'setCriteria'
		]),
		handleRevertCriteria() {
			if (!this.isShowNominatim) return;

			this.revertedTag = _get(this.criteria, 'tag', null);

			this.setCriteria({
				...this.criteria,
				tag: null
			});
		},
		handleRevertTag() {
			if (!this.isShowNominatim) return;

			this.setCriteria({
				...this.criteria,
				tag: this.revertedTag
			});
		},
		handleScroll() {
			if (this.contentType === 'map') return;

			const newPosition = window.pageYOffset;
			const topValue = this.$refs.contentWrapper.getBoundingClientRect().top;
			const isDown = newPosition > this.lastScrollPosition;
			const isMediumScreen = window.innerWidth > 991 && this.isMobile;
			const isLargeScreen = !this.isMobile;
			const topFixedValue =
				isMediumScreen || isLargeScreen ? (this.isLogin ? 80 : 104) : 54;

			if (this.isMobile) {
				if (isDown) {
					if (topValue < topFixedValue) {
						const topPosition = 58;

						this.$refs.stickyWrapper.style.top = `-${topPosition}px`;
						this.$refs.stickyWrapper.classList.add(
							'area-explorer__list-sticky--fixed'
						);
						this.$refs.contentWrapper.style.marginTop = `${topPosition}px`;
					} else {
						this.resetStickyFilterPosition();
					}
				} else {
					const topCondition =
						topFixedValue + this.$refs.stickyWrapper.offsetHeight;
					if (topValue < topCondition) {
						this.$refs.stickyWrapper.style.transition = '0.3s';
						this.$refs.stickyWrapper.style.top = `${topFixedValue}px`;
					} else {
						this.resetStickyFilterPosition();
					}
				}
			} else if (this.kostTitle.show) {
				const contentTopValue = this.$refs.containerWrapper.getBoundingClientRect()
					.top;
				const topCondition = topFixedValue + 90;
				if (isDown) {
					if (contentTopValue < topCondition) {
						this.$refs.filterWrapper.classList.add(
							'area-explorer__list-filter--fixed'
						);
						this.$refs.filterWrapper.style.top = `${topFixedValue}px`;
						this.$refs.containerWrapper.classList.add(
							'area-explorer__list-content--margin'
						);
					}
				} else {
					if (contentTopValue > topCondition) {
						this.$refs.filterWrapper.classList.remove(
							'area-explorer__list-filter--fixed'
						);
						this.$refs.filterWrapper.style.top = 'auto';
						this.$refs.containerWrapper.classList.remove(
							'area-explorer__list-content--margin'
						);
					}
				}
			}

			this.lastScrollPosition = newPosition;
		},
		resetStickyFilterPosition() {
			this.$refs.stickyWrapper.style.transition = 'none';
			this.$refs.stickyWrapper.style.top = '0';
			this.$refs.stickyWrapper.classList.remove(
				'area-explorer__list-sticky--fixed'
			);
			this.$refs.contentWrapper.style.marginTop = '0';
		},
		toggleModalFacilities(payload) {
			this.isShowFacilitiesModal = payload;
		},
		handleChangeContentType(payload) {
			if (payload === 'map') {
				this.lastListPosition = this.lastScrollPosition;
				this.handleBrowserScroll(0, payload);
				this.$nextTick(() => {
					this.contentType = payload;
				});
			} else if (payload === 'list') {
				this.contentType = payload;
				this.$nextTick(() => {
					this.handleBrowserScroll(this.lastListPosition, payload);
				});
			}
		},
		handleBrowserScroll(scrollPosition, contentType) {
			document.body.style.overflow =
				contentType === 'map' ? 'hidden' : 'visible';
			document.body.style.position = contentType === 'map' ? 'fixed' : 'static';
			document.body.style.height =
				contentType === 'map' ? '100%' : 'calc(100% - 56px)';
			window.scrollTo(0, scrollPosition);
			this.resetStickyFilterPosition();
		}
	}
};
</script>

<style scoped lang="scss">
.area {
	height: 100%;
}

.area--map {
	height: calc(100% - 56px);
}

.area-explorer {
	display: flex;
	height: 100%;
	margin-top: 80px;
	flex-direction: column;

	@media (max-width: 991px) {
		margin-top: 0;
	}

	.area-explorer__list {
		display: block;
		width: 872px;
		height: 100%;

		.area-explorer__list-filter {
			position: relative;
			left: 0;
			z-index: 1001;
			width: 872px;
			background: #fff;

			@media (max-width: 1280px) {
				display: none;
			}
		}

		.area-explorer__list-filter--fixed {
			position: fixed;
		}

		.area-explorer__list-content {
			height: 100%;
		}

		.area-explorer__list-content--margin {
			margin-top: 90px;

			@media (max-width: 1280px) {
				margin-top: 0;
			}
		}

		@media (max-width: 1280px) {
			width: 100%;
		}
	}
}

.area-explorer__list-sticky {
	display: flex;
	flex-direction: column;
}

.area-explorer__list-data {
	position: relative;

	@media (max-width: 1280px) {
		height: calc(100% - 106px);
	}
}

.area-explorer__map {
	right: 0;
	width: calc(100% - 872px);

	@media (max-width: 1280px) {
		visibility: hidden;
	}
}

.area-explorer__list-sticky--fixed {
	position: fixed;
	z-index: 5;
	width: 100%;
	background: #fff;
}

.area-explorer__list-title {
	/* stylelint-disable */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	/* stylelint-enable */
	padding: 24px 0 0 24px;
	margin: 0;
	overflow: hidden;
	font-size: 24px;
	font-weight: 900;
	line-height: 32px;
	color: #303030;

	@media (max-width: 1280px) {
		padding: 32px 16px 20px;
		font-size: 18px;
		font-weight: bold;
		line-height: 26px;
		color: #000;
	}
}

.area-explorer__list-title--nominatim {
	font-size: 20px;
	line-height: 28px;
}
</style>
