<template>
	<div id="filterOptionsWrapper">
		<base-main-filter
			filter-type="gender"
			need-reset
			need-save
			save-on-close-dropdown
			:is-mobile-props="isMobile"
			dropdown-title="Tipe kos yang kamu cari berdasarkan gender."
			dropdown-style="width: 316px"
			:dropdown-data="genderData"
			@set-value="setMainFilter"
			@save-action="applyFilter"
			@reset-action="resetDesktopFilter"
		/>
		<div class="divider" />
		<base-main-filter
			filter-type="rent_type"
			need-save
			list-style="radio"
			save-on-close-dropdown
			:is-mobile-props="isMobile"
			dropdown-title="Waktu bayar sewa sesuai harga kos yang kamu inginkan."
			dropdown-style="width: 316px"
			:dropdown-data="rentData"
			@set-value="setMainFilter"
			@save-action="applyFilter"
		/>
		<div class="divider" />
		<filter-price
			:price-range="getKostFilters.price_range"
			:dropdown-data="priceData"
			@save-action="applyFilter"
			@set-value="setFilterPrice"
		/>
		<div class="divider" />
		<template v-if="getIsFacilitiesExist">
			<button
				type="button"
				:class="[
					'base-filter-button',
					{
						'--active': facilitiesData.active
					}
				]"
				@click="$emit('facilities-modal-handler', true)"
			>
				{{ facilitiesData.title }}
				<span
					v-if="facilitiesData.count"
					:class="[
						'count-filter',
						{
							'count-filter--single': facilitiesData.count < 10
						}
					]"
				>
					{{ facilitiesData.count }}
				</span>
			</button>
			<div class="divider" />
		</template>
		<base-main-filter
			v-if="getTagRules.length"
			filter-type="rules"
			need-reset
			need-save
			save-on-close-dropdown
			:is-mobile-props="isMobile"
			dropdown-title="Layanan dan peraturan kos untuk kenyamanan kamu selama ngekos."
			dropdown-style="width: 316px"
			:dropdown-data="rulesData"
			@set-value="setTagIds"
			@save-action="applyFilter"
			@reset-action="resetDesktopFilter"
		/>
	</div>
</template>

<script>
import BaseMainFilter from 'Js/@components/BaseMainFilter';
import FilterPrice from 'Js/@components/BaseMainPrice';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

export default {
	components: {
		FilterPrice,
		BaseMainFilter
	},
	mixins: [MixinFilterHelper],
	methods: {
		applyFilter() {
			this.setHistoryPoint();
			this.handleSaveFilterMoEngage();
			this.fetchRooms({ loadingMore: false, isNominatim: false });
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#filterOptionsWrapper {
	display: flex;
	width: 100%;
	padding: 24px;
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';

.divider {
	width: 8px;
}
</style>
