<template>
	<div id="filterMobile">
		<div ref="filterButton" class="filter-mobile">
			<button
				v-for="(menu, index) in buttonMenu"
				:key="`menu-${menu}-${index}`"
				:class="[
					'filter-mobile__button',
					{
						'filter-mobile__button--active': totalActive[menu.ref]
					}
				]"
				@click="handleToggleMenu(menu.name)"
			>
				<bg-icon :name="menu.icon" size="sm" />
				<span class="filter-mobile__button-text">{{ menu.name }}</span>
				<span
					v-if="menu.needCount && totalActive[menu.ref]"
					:class="[
						'filter-mobile__button-count',
						{
							'filter-mobile__button-count--single': totalActive[menu.ref] < 10
						}
					]"
					>{{ totalActive[menu.ref] }}</span
				>
			</button>
		</div>
		<modal-filter-mobile
			:is-show="isShowFilterModal"
			@toggle-modal-handler="handleToggleMenu"
		/>
		<modal-sorting-mobile
			:is-show="isShowSortingModal"
			@toggle-modal-handler="handleCloseSorting"
		/>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import ModalFilterMobile from './ModalFilterMobile';
import ModalSortingMobile from './ModalSortingMobile';
import MixinBodyScrollHandler from 'Js/@mixins/MixinBodyScrollHandler';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

export default {
	components: {
		ModalFilterMobile,
		ModalSortingMobile,
		BgIcon
	},
	mixins: [MixinBodyScrollHandler, MixinFilterHelper],
	props: {
		contentType: {
			type: String,
			default: 'list'
		},
		useMapOnMobile: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isShowFilterModal: false,
			isShowSortingModal: false,
			lastScrollPosition: 0,
			lastShowPosition: 0
		};
	},
	computed: {
		buttonMenu() {
			const navigatorMenu = [
				{
					name: 'Filter',
					icon: 'filter',
					ref: 'filter',
					needCount: true
				}
			];

			if (this.contentType === 'list') {
				navigatorMenu.push({
					name: 'Urutkan',
					icon: 'sorting',
					ref: 'sort',
					needCount: false
				});
			}

			if (this.useMapOnMobile) {
				navigatorMenu.push({
					name: this.contentType === 'map' ? 'List' : 'Peta',
					icon: this.contentType === 'map' ? 'sort' : 'map',
					needCount: false
				});
			}

			return navigatorMenu;
		}
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleToggleMenu(type) {
			if (type === 'List') {
				this.$emit('handle-change-content-type', 'list');
			} else if (type === 'Peta') {
				this.$emit('handle-change-content-type', 'map');
			} else if (type === 'Filter') {
				this.isShowFilterModal && this.$emit('reset-sticky-filter-handler');
				this.updateBodyToBeFixed(this.isShowFilterModal);
				this.isShowFilterModal = !this.isShowFilterModal;
			} else {
				this.isShowSortingModal = !this.isShowSortingModal;
			}
		},
		handleScroll() {
			const newPosition = window.pageYOffset;
			const isDown = newPosition > this.lastScrollPosition;
			const isValuePass = newPosition - this.lastShowPosition > 200;
			if (!this.$refs.filterButton) return;

			if (isDown && isValuePass) {
				this.$refs.filterButton.classList.add('filter-mobile--hide');
			} else if (!isDown) {
				this.lastShowPosition = newPosition;
				this.$refs.filterButton.classList.remove('filter-mobile--hide');
			}

			this.lastScrollPosition = newPosition;
		},
		handleCloseSorting() {
			this.isShowSortingModal = false;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#filterMobile {
	svg {
		max-width: 16px;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.filter-mobile {
	position: fixed;
	bottom: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	background: #fff;
	box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.04);
	transition: 0.3s;

	.filter-mobile__button {
		position: relative;
		display: flex;
		flex: 1;
		height: 32px;
		align-items: center;
		justify-content: center;
		color: #757575;
		background: #fff;
		border: 0;
		outline: 0;

		&:not(:first-of-type) {
			border-left: 1px solid #e8e8e8;
		}
	}

	.filter-mobile__button-text {
		margin-left: 8px;
		font-size: 14px;
		font-weight: bold;
		line-height: 16px;
	}

	.filter-mobile__button-count {
		min-width: 18px;
		height: 18px;
		padding: 0 4px;
		margin-left: 8px;
		font-size: 12px;
		line-height: 18px;
		color: #fff;
		text-align: center;
		background: #303030;
		border-radius: 6px;
	}

	.filter-mobile__button-count--single {
		border-radius: 100px;
	}

	.filter-mobile__button--active {
		color: #303030;
	}
}

.filter-mobile--hide {
	bottom: -48px;
}
</style>
