<template>
	<fragment>
		<div
			v-for="(facilityCategory,
			categoryIndex) in facilitiesData.facilityCategories"
			:key="`${facilityCategory.title}-filter-${categoryIndex}`"
		>
			<template v-if="facilityCategory.data.length">
				<div
					:class="[
						'filter-facilities',
						{
							'filter-facilities--divider': categoryIndex && getTagRooms.length
						}
					]"
				>
					<span class="filter-facilities__title">{{
						facilityCategory.title
					}}</span>
					<div class="filter-facilities__options">
						<div
							v-for="(facility, facilityIndex) in facilityCategory.data"
							:key="`${facility.fac_name}-filter-${facilityIndex}`"
							:class="[
								'filter-facilities__options-list',
								{
									'filter-facilities__options-list--active':
										facilitiesData.getValue.indexOf(facility.value) !== -1
								}
							]"
						>
							<input
								v-model="valueBinding"
								type="checkbox"
								:value="facility.value"
							/>
							<div class="filter-facilities__options-icon">
								<img
									v-lazy="{
										src: facility.fac_icon_url,
										error:
											'/general/img/pictures/placeholder/placeholder_loading.svg',
										loading:
											'/general/img/pictures/placeholder/placeholder_loading.svg'
									}"
									class="filter-facilities__options-image"
								/>
							</div>
							<div class="filter-facilities__options-title">
								<span class="filter-facilities__options-text">
									{{ facility.name }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</template>
		</div>
	</fragment>
</template>

<script>
import { mapGetters } from 'vuex';
import Fragment from 'vue-fragment';

Vue.use(Fragment.Plugin);

export default {
	props: {
		facilitiesData: {
			type: Object,
			default() {
				return {
					title: '',
					getValue: '',
					facilityCategories: [],
					count: 0,
					active: false
				};
			}
		}
	},
	computed: {
		...mapGetters(['getTagRooms']),
		valueBinding: {
			get() {
				return this.facilitiesData.getValue;
			},
			set(payload) {
				this.$emit('set-value', payload);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.filter-facilities {
	display: flex;
	flex-direction: column;

	.filter-facilities__title {
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}

	.filter-facilities__options {
		display: flex;
		padding-top: 28px;
		margin: -6px;
		flex-wrap: wrap;

		.filter-facilities__options-list {
			position: relative;
			display: flex;
			width: calc(600px / 3);
			height: 92px;
			padding: 0;
			margin: 6px;
			flex-direction: column;
			background: #fff;
			border: 1px solid #dadada;
			border-radius: 4px;
			outline: 0;

			@media (max-width: 672px) {
				width: calc((100vw - 72px) / 3);
			}

			/* stylelint-disable */
			input {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
			}

			input[type='checkbox']:checked
				~ .facility-image-container
				> .facility-image {
				filter: grayscale(100%) brightness(50%);
			}

			input[type='checkbox']:checked
				~ .facility-title-container
				> .facility-title {
				color: #303030;
			}
			/* stylelint-enable */
		}

		.filter-facilities__options-list--active {
			border: 1px solid #303030;
		}
	}
}
.filter-facilities--divider {
	padding-top: 24px;
	margin-top: 28px;
	border-top: 1px solid #e8e8e8;
}
.filter-facilities__options-icon {
	display: flex;
	width: 100%;
	height: 50px;
	padding-bottom: 4px;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;

	.filter-facilities__options-image {
		max-width: 32px;
		height: auto;
		filter: grayscale(100%) brightness(80%);
	}
}
.filter-facilities__options-title {
	display: flex;
	width: 100%;
	height: 42px;
	padding: 0 10px;
	justify-content: center;
	align-items: flex-start;

	.filter-facilities__options-text {
		/* stylelint-disable */
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		/* stylelint-enable */
		overflow: hidden;
		font-size: 12px;
		line-height: 18px;
		color: #404040;
		text-align: center;
	}
}
</style>
