<template>
	<div id="filterKostTypeWrapper">
		<hr class="filter-kost-type--accent" />
		<div class="filter-kost-type">
			<template v-if="haveFlashSale">
				<base-ftue
					popper-title="Mamikos Promo Ngebut"
					filter-type="flash_sale"
					:show-ftue="flashSaleFtueCondition"
					dropdown-title="Dapat diskon pembayaran pertama harga sewa. Diskon hanya berlaku selama program berlangsung."
					:dropdown-data="flashsale"
					:popper-content="[
						'Promo seminggu untuk diskon harga sewa kos',
						'Potongan harga untuk sewa 1 - 6 bulan',
						'Praktis! Pasti pakai Booking Langsung'
					]"
					@set-value="setFilterKostType"
					@callback-on-understand="flashSaleTracker"
					@callback-on-hide="flashSaleCallback"
				/>
				<div class="divider" />
			</template>
			<base-main-filter
				filter-type="goldplus"
				list-style="switch"
				size="small"
				:dropdown-title="goldplus.dropdownTitle"
				dropdown-style="width: 352px"
				:is-mobile-props="isMobile"
				:dropdown-data="goldplus"
				need-new-label
				@set-value="setFilterKostType"
			/>
			<div class="divider" />
			<base-ftue
				popper-title="Booking Langsung"
				filter-type="booking"
				:show-ftue="bookingFtueCondition"
				dropdown-title="Hanya menampilkan kos yang bisa di-booking dan dibayar di Mamikos, tanpa ketemuan dengan pemilik."
				:dropdown-data="booking"
				:popper-content="[
					'Mudah cari kostnya',
					'Mudah bookingnya',
					'Mudah bayarnya'
				]"
				:popper-right-align="isMobile"
				:popper-content-left-offset="-142"
				:popper-triangle-left-offset="245"
				@set-value="setFilterKostType"
				@callback-on-hide="bookingLangsungCallback"
			/>
			<div class="divider" />
			<base-main-filter
				filter-type="mamichecker"
				list-style="switch"
				size="small"
				dropdown-title="Hanya menampilkan kos yang kondisi tempatnya sesuai dengan iklan dan sudah dikunjungi oleh tim Mamikos."
				dropdown-style="width: 352px"
				:is-mobile-props="isMobile"
				:dropdown-data="mamichecker"
				@set-value="setFilterKostType"
			/>
			<div class="divider" />
			<base-main-filter
				filter-type="mamirooms"
				list-style="switch"
				size="small"
				dropdown-title="Hanya menampilkan kos yang dikelola dengan standar kualitas dari Mamikos."
				dropdown-style="width: 352px"
				:is-mobile-props="isMobile"
				:dropdown-data="mamirooms"
				@set-value="setFilterKostType"
			/>
			<div v-if="!isMobile" class="filter-mamikos-sort">
				<base-main-filter
					filter-type="sorting"
					list-style="radio"
					bold-value-on-active
					size="small"
					dropdown-style="width: 220px"
					:need-indicator="false"
					:is-mobile-props="isMobile"
					:dropdown-data="sortData"
					@set-value="setSorting"
				/>
			</div>
			<div v-else class="divider" />
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { mapGetters, mapState, mapMutations } from 'vuex';

import { isExistInStorage, setFTUEStorage } from 'Js/@utils/flashSaleHelper';

import BaseMainFilter from 'Js/@components/BaseMainFilter';
import BaseFtue from './BaseFtue';
import MixinFilterHelper from '../mixins/MixinFilterHelper';
import * as storage from 'Js/@utils/storage';

export default {
	components: {
		BaseMainFilter,
		BaseFtue
	},
	mixins: [MixinFilterHelper],
	data() {
		return {
			currentFtue: '',
			haveFlashSale: null
		};
	},
	computed: {
		...mapState(['isLoading']),
		...mapGetters(['getEmptyList', 'getTotalRooms']),
		flashsale() {
			return {
				title: 'Promo Ngebut',
				getValue: this.getKostFilters.flash_sale,
				active: this.getKostFilters.flash_sale,
				link: '/promo-ngebut'
			};
		},
		booking() {
			return {
				title: 'Booking Langsung',
				getValue: this.getKostFilters.booking,
				active: this.getKostFilters.booking,
				link: 'https://help.mamikos.com/'
			};
		},
		mamichecker() {
			return {
				title: 'MamiChecker',
				getValue: this.getKostFilters.mamichecker,
				active: this.getKostFilters.mamichecker
			};
		},
		goldplus() {
			return {
				title: process.env.MIX_GOLDPLUS_TITLE || 'Kos Andalan',
				getValue: this.isGoldPlus,
				active: this.isGoldPlus,
				link: process.env.MIX_GOLDPLUS_LANDING_URL,
				dropdownTitle:
					process.env.MIX_GOLDPLUS_DESKTOP_DESC ||
					'Hanya menampilkan kos terverifikasi dengan dukungan keamanan dan jaminan dari Mamikos.'
			};
		},
		mamirooms() {
			return {
				title: 'Singgahsini',
				link: process.env.MIX_MAMIROOMS_LANDING_URL,
				getValue: this.getKostFilters.mamirooms,
				active: this.getKostFilters.mamirooms
			};
		},
		isRoomsDataAvailable() {
			return !this.getEmptyList && !!this.getTotalRooms;
		},
		bookingFtueCondition() {
			return (
				this.isRoomsDataAvailable && this.currentFtue === 'bookingLangsung'
			);
		},
		flashSaleFtueCondition() {
			return this.isRoomsDataAvailable && this.currentFtue === 'flashSale';
		},
		flashSaleId() {
			return _get(this.haveFlashSale, 'id', 0);
		}
	},
	mounted() {
		this.checkRunningFlashsale();
	},
	methods: {
		...mapMutations(['setFlashSaleAvailability', 'setMapDisabled']),
		checkRunningFlashsale() {
			axios
				.get('/flash-sale')
				.then(response => {
					let sourceData = null;
					const payload = response.data;

					if (payload.total_running) {
						sourceData = payload.datas.find(
							flashsale => flashsale.is_running && !flashsale.is_finished
						);
						this.haveFlashSale = sourceData;
						this.setFlashSaleAvailability(true);
					}

					this.checkFtue();
				})
				.catch(error => {
					this.checkFtue();
					bugsnagClient.notify(error);
				});
		},
		checkFtue() {
			const isAlreadyShown = isExistInStorage(
				_get(this.haveFlashSale, 'id', 0)
			);

			if (this.haveFlashSale && !isAlreadyShown) {
				const moEngageData = {
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: 'list kos result',
					is_owner: _get(this.authCheck, 'owner')
				};

				tracker('moe', ['Discount Pop Up Appeared', moEngageData]);
				this.currentFtue = 'flashSale';
			} else if (
				((!this.haveFlashSale && this.isMobile) || !this.isMobile) &&
				storage.local.getItem('can-booking-hl') !== '1'
			) {
				this.currentFtue = 'bookingLangsung';
			} else {
				this.currentFtue = '';
			}

			this.$nextTick(() => {
				this.handleMapDisabled();
			});
		},
		handleMapDisabled() {
			const isMapDisabled =
				(this.currentFtue === 'bookingLangsung' ||
					this.currentFtue === 'flashSale') &&
				this.isRoomsDataAvailable;

			this.setMapDisabled(isMapDisabled);
		},
		flashSaleTracker() {
			const moEngageData = {
				interface: this.isMobile ? 'mobile' : 'desktop',
				is_owner: _get(this.authCheck, 'owner', false)
			};

			tracker('moe', ['Discount Pop Up Clicked', moEngageData]);
			this.handleMapDisabled();
		},
		bookingLangsungCallback() {
			storage.local.setItem('can-booking-hl', 1);
			this.$nextTick(() => {
				this.checkFtue();
			});
		},
		flashSaleCallback() {
			setFTUEStorage(this.flashSaleId);
			if (this.isMobile) {
				this.currentFtue = '';
			} else {
				this.$nextTick(() => {
					this.checkFtue();
				});
			}
		},
		setFilterKostType(passedPayload, name) {
			let payload = passedPayload;

			if (name === 'goldplus') {
				this.setIsGoldPlus(payload);
				payload = payload ? [0, 1, 2, 3, 4] : [];
			}

			this.setMainFilter(payload, name);
			this.fetchRooms({ loadingMore: false, isNominatim: false });

			if (name !== 'flash_sale') {
				this.handleSaveFilterMoEngage();
				this.setHistoryPoint();
			}
		},
		setSorting(payload) {
			this.settingSort(payload);
			this.setHistoryPoint();
			this.handleSaveFilterMoEngage();
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#filterKostTypeWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 24px 16px;

	.filter-kost-type {
		display: flex;
		width: 100%;
	}

	.filter-kost-type--accent {
		width: 100%;
		margin: 0 0 16px;
		border-top: 1px solid #e8e8e8;
		border-style: dashed;

		@media (max-width: 1280px) {
			display: none;
		}
	}

	@media (max-width: 1280px) {
		padding: 12px 16px;
		border-top: none;
		border-bottom: none;
		overflow-x: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&::after {
			display: none;
			content: '';
		}
	}

	@media (max-width: 767px) {
		max-width: 100vw;
	}

	.divider {
		min-width: 8px;

		@media (max-width: 1280px) {
			min-width: 4px;
		}
	}

	.filter-mamikos-sort {
		display: flex;
		flex: 1;
		justify-content: flex-end;

		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}
}
/* stylelint-enable */
</style>
