<template>
	<div
		:class="[
			'list',
			{
				'list--hide': contentType === 'map'
			}
		]"
	>
		<h2 v-if="showTitleCondition" class="list__title">{{ title }}</h2>
		<div v-if="isLoading" class="list__loading">
			<card-skeleton v-for="index in 3" :key="index" />
		</div>
		<div v-else-if="getEmptyList" class="list__empty">
			<empty-state
				class="list-empty-state"
				:title="emptyStateData.title"
				:subtitle="emptyStateData.subTitle"
				image="/general/img/pictures/flashsale/flashsale-empty.svg"
			>
				<button
					v-if="emptyStateData.needButton"
					slot="button"
					class="list__empty-button"
					data-path="btn_emptySearchButton"
					@click="setSearchStatus(true)"
				>
					{{ emptyStateData.buttonText }}
				</button>
			</empty-state>
		</div>
		<div v-else class="list__content">
			<div v-if="isAreaSuggestion" class="list__content-suggestion">
				<div>
					<span>
						Apakah kamu mencari kos sekitar {{ areaName }}? Cek area rekomendasi
						kost dekat {{ areaName }} di bawah ini.
					</span>
				</div>
				<button
					class="list__content-suggestion-button"
					@click="toggleSuggestion"
				>
					{{ suggestionLabelButton.label }}
					<i
						:class="
							`glyphicon ${suggestionLabelButton.button} list__content-suggestion-chevron`
						"
					></i>
				</button>
				<div v-if="isOpenSuggestion" class="button-group d-flex flex-wrap">
					<a
						v-for="area in areas"
						:key="area.slug"
						:href="`/kost/${area.slug}`"
						role="button"
						target="_blank"
						rel="noopener"
						class="btn list__content-suggestion-area"
						@click="trackOpenLanding(area.slug)"
						>{{ area.alias }}</a
					>
				</div>
			</div>
			<room-list
				:rooms="getRooms"
				grids="col-12"
				:force-horizontal="true"
				:limit="getRooms.length"
				:redirection-source="redirectionSource"
				@toggleLoginModal="toggleLoginModal"
			></room-list>
			<div class="list__content-footer">
				<div v-if="isMoreLoading" class="list__content-load-more">
					<card-skeleton />
				</div>
				<div
					v-if="getHasMore && !isMoreLoading"
					ref="loadMoreRef"
					class="list__content-load-action"
					@click="fetchMoreList"
				>
					<i class="glyphicon glyphicon-plus-sign" />
					<a class="list__content-load-link">Lihat lebih banyak lagi</a>
				</div>
			</div>
		</div>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
		<div
			v-if="!isLoading && !getEmptyList"
			ref="goTopRef"
			class="list__go-top"
			@click="goTop"
		>
			<div class="list__go-top-button">
				<i class="glyphicon glyphicon-arrow-up list__go-top-arrow"></i>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { mapGetters, mapActions, mapMutations, mapState } from 'vuex';
import { genderTypes, rentTypes, filterSorts } from 'Js/@utils/kostFilter';

import RoomList from 'Js/@components/RoomList';
import EmptyState from 'Js/@components/EmptyState';
import MixinFilterHelper from '../mixins/MixinFilterHelper';
import CardSkeleton from './CardSkeleton';

/* istanbul ignore next */
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	components: {
		RoomList,
		EmptyState,
		LoginUser,
		CardSkeleton
	},
	mixins: [MixinFilterHelper],
	props: {
		radius: {
			type: [Number, String],
			default: 0
		},
		contentType: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			isAreaSuggestion: false,
			areas: [],
			isShow: false,
			areaName: '',
			isOpenSuggestion: true,
			isModalLogin: false,
			lastScrollPosition: 0,
			lastShowPosition: 0
		};
	},
	computed: {
		...mapState(['isLoading', 'isMoreLoading', 'criteria']),
		...mapGetters([
			'getRooms',
			'getHasMore',
			'getTotalRooms',
			'getGeolocActive',
			'getEmptyList',
			'getResponseData',
			'getAllParams',
			'getClusterStatus'
		]),
		redirectionSource() {
			return this.getAllParams.geocode_id
				? 'list kos result boundary'
				: 'list kos result';
		},
		center() {
			return {
				lat: this.criteria.latitude,
				lng: this.criteria.longitude
			};
		},
		title() {
			if (this.isLoading) return 'Sedang mencari...';
			if (this.criteria.keywords === '') {
				return this.getGeolocActive
					? `Ditemukan ${this.getTotalRooms} kos-kosan di area sekitar saat ini`
					: `Ditemukan ${this.getTotalRooms} kos-kosan di sekitar Jabodetabek`;
			} else if (
				this.criteria.keywords === 'sekitar' ||
				this.criteria.keywords === 'rekomendasi'
			) {
				return `Ditemukan ${this.getTotalRooms} Kos-kosan`;
			} else {
				return `Ditemukan ${this.getTotalRooms} kos-kosan di sekitar ${this.criteria.keywords}`;
			}
		},
		suggestionLabelButton() {
			return {
				label: this.isOpenSuggestion ? 'Sembunyikan' : 'Tampilkan',
				button: this.isOpenSuggestion
					? 'glyphicon-chevron-up'
					: 'glyphicon-chevron-down'
			};
		},
		filterChange() {
			/* eslint-disable */
			const {
				tag_ids,
				level_info,
				gender,
				rent_type,
				price_range,
				flash_sale,
				mamirooms,
				mamichecker,
				booking,
				goldplus
			} = this.getKostFilters;

			let filterStatus = false;

			if (
				flash_sale ||
				booking ||
				mamirooms ||
				mamichecker ||
				!!tag_ids.length ||
				!!level_info.length ||
				(gender.length !== 3 && !!gender.length) ||
				rent_type !== 2 ||
				this.getKostSorting[1] !== '-' ||
				price_range[0] !== 10000 ||
				price_range[1] !== 20000000 ||
				!!goldplus.length
			)
				filterStatus = true;

			return filterStatus;
			/* eslint-enable */
		},
		emptyStateData() {
			const filterStatus = this.filterChange;

			return {
				title: filterStatus
					? 'Kos Tidak Ditemukan'
					: 'Belum Ada Kos di Area Ini',
				subTitle: filterStatus
					? 'Silahkan ubah filter untuk meningkatkan hasil pencarian kos.'
					: this.isMobile
					? 'Coba cari di area lain untuk meningkatkan hasil pencarian kos.'
					: 'Cari di Area lain untuk meningkatkan hasil pencarian Kos',
				needButton: !filterStatus,
				buttonText: filterStatus
					? this.isMobile
						? 'Ubah Filter'
						: ''
					: this.isMobile
					? 'Cari Area Lain'
					: 'Cari area lain'
			};
		},
		showTitleCondition() {
			return this.isLoading || (!this.isLoading && this.getTotalRooms > 0);
		}
	},
	watch: {
		getRooms() {
			this.handleMoEngageMap();
			this.handleMoEngageList();
		},
		getEmptyList(val) {
			if (val) {
				const zeroResultRadiusLabel =
					this.criteria.keywords === 'sekitar' ||
					this.criteria.keywords === 'rekomendasi' ||
					this.criteria.keywords === ''
						? 'Zero result in lat: ' +
						  this.center.lat +
						  ' & lng: ' +
						  this.center.lng +
						  ' with radius ' +
						  this.radius.toString() +
						  ' km'
						: 'Zero result in ' +
						  this.criteria.keywords +
						  ' with radius ' +
						  this.radius.toString() +
						  ' km';

				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Search page radius ' + this.searchType,
						eventAction: 'response',
						eventLabel: zeroResultRadiusLabel
					}
				]);
			}
		}
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll);
		this.getLandingSuggestion();
	},
	methods: {
		...mapActions(['fetchRooms']),
		...mapMutations(['setSearchStatus']),
		handleScroll() {
			const newPosition = window.pageYOffset;
			const isDown = newPosition > this.lastScrollPosition;
			const isValuePass = newPosition - this.lastShowPosition > 200;

			if (this.$refs.goTopRef) {
				if (isDown && isValuePass) {
					this.$refs.goTopRef.classList.add('list__go-top--show');

					// check loadMoreRef to be exist, coz it's dissapear when fetch more list event happen
					if (this.isMobile && this.$refs.loadMoreRef) {
						this.$refs.loadMoreRef.classList.remove(
							'list__content-load-action--shown'
						);
					}
				} else if (!isDown) {
					this.lastShowPosition = newPosition;

					if (this.isMobile && this.$refs.loadMoreRef) {
						this.$refs.loadMoreRef.classList.add(
							'list__content-load-action--shown'
						);
					}

					this.$refs.goTopRef.classList.remove('list__go-top--show');
				}
			}

			this.lastScrollPosition = newPosition;
		},
		goTop() {
			window.scrollTo({
				behavior: 'smooth',
				top: 0
			});

			this.$emit('reset-sticky-filter-handler');

			tracker('ga', [
				'send',
				{
					hitType: 'event',
					eventCategory: 'New Search Page',
					eventAction: 'click',
					eventLabel: 'Scroll List Back to Top'
				}
			]);
		},
		handleMoEngageMap() {
			tracker('moe', [
				'Map List Visited',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					is_owner: _get(this.authCheck, 'owner', false),
					search_keyword: _get(this.criteria, 'keywords', '-').split(',')[0],
					contain_bookable_property: _get(
						this.getResponseData,
						'bookable_total',
						0
					),
					map_radius: `${this.radius} Km`,
					number_of_result: this.getTotalRooms,
					filter_type:
						genderTypes[
							_get(this.getKostFilters, 'gender', [0, 1, 2]).toString()
						],
					filter_price_min: _get(this.getKostFilters, 'price_range[0]', 0),
					filter_price_max: _get(this.getKostFilters, 'price_range[1]', 0),
					filter_rent_periode:
						rentTypes[_get(this.getKostFilters, 'rent_type', 2)],
					filter_bisa_booking: this.isBooking,
					filter_sort:
						filterSorts[
							`${_get(this.getKostSorting, 'fields', 'price')},${_get(
								this.getKostSorting,
								'direction',
								'-'
							)}`
						],
					filter_facility: _get(this.getKostFilters, 'tag_ids', null),
					is_empty_result: this.getEmptyList
				}
			]);
		},
		handleMoEngageList() {
			const moEngageData = {
				search_keyword: _get(this.criteria, 'keywords', '-').split(',')[0],
				number_of_result: this.getTotalRooms,
				is_empty_result: this.getEmptyList,
				number_of_result_for_BBK: _get(
					this.getResponseData,
					'bookable_total',
					0
				)
			};

			tracker('moe', ['[User] Visit List Kost', moEngageData]);
		},
		fetchMoreList() {
			const isNominatim =
				!!this.getAllParams.geocode_id && this.getClusterStatus;

			this.fetchRooms({ loadingMore: true, isNominatim });

			tracker('ga', [
				'send',
				{
					hitType: 'event',
					eventCategory: 'New Search Page',
					eventAction: 'click',
					eventLabel: 'Trigger Load More List on Mobile'
				}
			]);
		},
		toggleLoginModal() {
			this.isModalLogin = true;
		},
		closeModalLogin() {
			this.isModalLogin = false;
		},
		toggleSuggestion() {
			this.isOpenSuggestion = !this.isOpenSuggestion;

			this.$nextTick(() => {
				if (this.isOpenSuggestion) {
					tracker('ga', [
						'send',
						{
							hitType: 'event',
							eventCategory: 'Landing Suggestion',
							eventAction: 'click',
							eventLabel: 'Track Show Landing Suggestion'
						}
					]);
				} else {
					Cookies.set('mami-hide-suggestion', 1, { expires: 7, path: '/cari' });

					tracker('ga', [
						'send',
						{
							hitType: 'event',
							eventCategory: 'Landing Suggestion',
							eventAction: 'click',
							eventLabel: 'Track Hide Landing Suggestion'
						}
					]);
				}
			});
		},
		getLandingSuggestion() {
			if (this.center.lat && this.center.lng) {
				axios
					.get(
						'/landing/suggestion?latitude=' +
							this.center.lat +
							'&longitude=' +
							this.center.lng
					)
					.then(response => {
						if (response.data.status) {
							this.areas = response.data.data.landing_rooms;
							this.areaName = response.data.data.name;
							if (this.areas.length !== 0) {
								this.isAreaSuggestion = response.data.status;
								tracker('ga', [
									'send',
									{
										hitType: 'event',
										eventCategory: 'Landing Suggestion',
										eventAction: 'click',
										eventLabel: 'Track Landing Suggestion'
									}
								]);
							}
						}
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		},
		trackOpenLanding(slug) {
			tracker('ga', [
				'send',
				{
					hitType: 'event',
					eventCategory: 'Landing Suggestion',
					eventAction: 'click',
					eventLabel: 'Track Open Landing ' + slug
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}
.list {
	display: flex;
	width: 872px;
	padding: 16px 24px 0;
	flex-direction: column;

	@media (max-width: 1280px) {
		width: 100%;
		padding: 0 16px;
	}

	.list__content {
		display: flex;
		flex-direction: column;
	}
}
.list--hide {
	display: none;
}
.list__title {
	font-size: 14px;
	line-height: 20px;
	color: #535353;
}
.list__loading,
.list__empty {
	position: relative;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
}
.list__loading {
	flex-direction: column;
}
.list__empty {
	flex-direction: row;
}
.list__content-footer {
	display: flex;
	min-height: 50px;
	align-items: center;
	justify-content: center;

	.list__content-load-more {
		display: block;
		width: 100%;
	}

	.list__content-load-action {
		display: flex;
		margin: 25px 0;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: #1baa56;
		cursor: pointer;

		.list__content-load-link {
			margin-left: 5px;
			text-decoration: none;

			&:hover {
				color: #1baa56;
			}
		}
	}

	.list__content-load-action--shown {
		margin: 25px 0 70px;
	}
}
.list__content-suggestion {
	padding: 24px;
	margin: 16px -24px;
	background-color: #e9fee9;

	@media (max-width: 1280px) {
		padding: 24px 16px;
		margin: 16px -16px;
	}
}
.list__content-suggestion-button {
	display: flex;
	margin-top: 10px;
	font-weight: 700;
	color: #00aa41;
	background: none;
	border: 0;
	justify-content: flex-start;
	align-items: center;
}
.list__content-suggestion-area {
	padding: 6px 12px;
	margin-top: 10px;
	margin-right: 10px;
	color: #00aa41;
	background-color: #fff;
	border: 1px solid #ccc;
}
.list__content-suggestion-chevron {
	margin-left: 5px;
}
.list__empty-button {
	display: flex;
	width: 100%;
	height: 48px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}
.list__go-top {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 3;
	display: flex;
	width: 50px;
	height: 50px;
	cursor: pointer;
	align-items: center;
	background-color: #fff;
	justify-content: center;
	border-color: #b9bec4;
	border-radius: 50%;
	box-shadow: 0 1px 17px -4px rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: 0.3s;

	@media (max-width: 991px) {
		right: 20px;
		bottom: 15px;
		left: auto;
	}

	&:hover {
		background-color: #e2e6ea;
		border-color: #dae0e5;
	}

	.list__go-top-button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border: 4px solid #1baa56;
		border-radius: 50%;
	}

	.list__go-top-arrow {
		position: absolute;
		top: 3px;
		left: 2.5px;
		font-size: 12px;
		color: #1baa56;
	}
}
.list__go-top--show {
	opacity: 1;
}
</style>
