<template>
	<div
		:class="[
			'map-content',
			{
				'map-content--hide': contentType === 'list'
			}
		]"
	>
		<search-map
			:total-active="totalActive"
			@set-url-filter="settingFilterUrl"
			@handle-pass-content-type="handlePassContentType"
		/>
	</div>
</template>

<script>
import SearchMap from './SearchMapOsm';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

export default {
	name: 'MobileMap',
	components: {
		SearchMap
	},
	mixins: [MixinFilterHelper],
	props: {
		contentType: {
			type: String,
			required: true
		},
		isLogin: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		const isMediumScreen = window.innerWidth > 991 && this.isMobile;
		const isLargeScreen = !this.isMobile;
		const topFixedValue =
			isMediumScreen || isLargeScreen ? (this.isLogin ? 80 : 104) : 56;

		if (this.isMobile) {
			document.body.style.height = `calc(100% - ${topFixedValue}px)`;
			document.documentElement.style.height = '100%';
			document.querySelector('#app').style.height = '100%';
		}
	},
	methods: {
		handlePassContentType(payload) {
			this.$emit('handle-change-content-type', payload);
		}
	}
};
</script>

<style lang="scss" scoped>
.map-content {
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.map-content--hide {
	visibility: hidden;
}
</style>
