<template>
	<modal
		id="modalSearchFacilities"
		:value="isShowModal"
		effect="fade"
		@closed="$emit('facilities-modal-handler', false)"
	>
		<div slot="modal-header" class="modal-header">
			<span class="modal-facilities-title">Fasilitas</span>
			<span
				class="modal-facilities-close"
				@click="$emit('facilities-modal-handler', false)"
			/>
		</div>
		<div
			v-for="(category, categoryIndex) in facilitiesData.facilityCategories"
			:key="`category-${category.title}-${categoryIndex}`"
		>
			<template v-if="category.data.length">
				<span
					v-if="categoryIndex && getTagRooms.length"
					class="facility-divider"
				/>
				<span class="facility-category">
					{{ category.title }}
				</span>
				<div class="facility-tag-container">
					<div
						v-for="(data, index) in category.data"
						:key="`facility-room-${index}`"
						class="input-container"
					>
						<label class="input-label">
							<input v-model="facTagData" type="checkbox" :value="data.value" />
							<span class="custom-checkbox"></span>
							{{ data.name }}
						</label>
					</div>
				</div>
			</template>
		</div>
		<div slot="modal-footer" class="modal-footer">
			<button type="button" class="search-btn-reset" @click="resetHandler">
				Hapus
			</button>
			<button
				type="button"
				class="search-btn-save"
				@click="$emit('save-facilities-handler', facTagData)"
			>
				Simpan
			</button>
		</div>
	</modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { modal } from 'vue-strap';
import _get from 'lodash/get';

export default {
	components: {
		modal
	},
	props: {
		facilitiesData: {
			type: Object,
			default() {
				return {
					title: '',
					data: [],
					getValue: '',
					count: 0,
					active: false,
					allFacTag: []
				};
			}
		},
		isShowModal: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			facTagData: []
		};
	},
	computed: {
		...mapGetters(['getTagRooms'])
	},
	watch: {
		isShowModal() {
			this.facTagData = _get(this.facilitiesData, 'getValue', []);
		}
	},
	methods: {
		resetHandler() {
			this.facTagData = [];
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalSearchFacilities {
	.modal-dialog {
		width: 672px;
		margin: 40px auto;
		max-height: calc(100vh - 80px);
	}
	.modal-content {
		width: 672px;
		margin: 0 auto;
		box-shadow: none;
		border: 0;
		border-radius: 8px;

		.modal-header {
			position: relative;
			display: flex;
			width: 100%;
			height: 80px;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid #e8e8e8;
		}

		.modal-body {
			display: flex;
			flex-direction: column;
			padding: 20px 48px 0;
			width: 100%;
			max-height: calc(100vh - 240px);
			overflow: auto;
		}

		.modal-footer {
			display: flex;
			align-items: center;
			height: 80px;
			padding: 0 32px;
			justify-content: space-between;
			border-top: 1px solid #e8e8e8;

			&::before,
			&::after {
				display: none;
			}
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';

.modal-facilities-title {
	font-size: 18px;
	font-weight: 900;
	line-height: 26px;
	color: #303030;
}
.modal-facilities-close {
	position: absolute;
	right: 32px;
	width: 20px;
	height: 20px;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 2px;
		content: '';
		background: #757575;
		border-radius: 2px;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 2px;
		content: '';
		background: #757575;
		border-radius: 2px;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
.facility-category {
	font-size: 20px;
	line-height: 30px;
	color: #303030;
}
.facility-tag-container {
	display: flex;
	flex-wrap: wrap;
	margin: 8px 0 32px;

	.input-container {
		width: 50%;
	}
}
.facility-divider {
	display: block;
	width: 100%;
	height: 1px;
	margin: 4px 0 24px;
	background: #e8e8e8;
}
</style>
