<template>
	<div
		v-if="isShow"
		id="modalSearchFilter"
		@click.self="handleApplyFilter(false)"
	>
		<div class="modal-filter-content-container">
			<div class="modal-header">
				<span class="modal-filter-title">Filter</span>
				<span class="modal-filter-close" @click="handleApplyFilter(false)" />
			</div>
			<div class="modal-body">
				<div class="filter-section-container">
					<span class="filter-section-title">Tipe Kos</span>
					<base-filter-option
						filter-type="gender"
						:option-data="genderData.data"
						:option-value="filters.gender"
						@set-value="handleSetFilter"
					/>
				</div>
				<div class="filter-section-container">
					<span class="filter-section-title">Spesial dari Mamikos</span>
					<div
						v-for="(kostType, index) in filterKostTypeData"
						:key="`${kostType}-filter-${index}`"
						class="filter-option-subtitle"
					>
						<base-filter-option
							:filter-type="kostType.type"
							:option-data="[kostType]"
							:option-value="kostType.getValue"
							@set-value="handleSetFilter"
						/>
						<span class="filter-subtitle">{{ kostType.subtitle }}</span>
					</div>
				</div>
				<div class="filter-section-container">
					<span class="filter-section-title">Harga</span>
					<base-filter-price
						ref="filterPriceRange"
						apply-on-change
						:price-range="filters.price_range"
						@set-value="handleSetPrice"
					/>
				</div>
				<div class="filter-section-container">
					<span class="filter-section-title">Waktu Bayar Sewa</span>
					<base-filter-option
						filter-type="rent_type"
						:option-data="rentData.data"
						:option-value="filters.rent_type"
						list-style="radio"
						@set-value="handleSetFilter"
					/>
				</div>
				<div v-if="getTagRules.length" class="filter-section-container">
					<span class="filter-section-title">Aturan Kos</span>
					<base-filter-option
						filter-type="rules"
						:option-data="rulesData.data"
						:option-value="filters.tag_ids"
						@set-value="handleSetTagIds"
					/>
				</div>
				<div v-if="getIsFacilitiesExist" class="filter-section-container">
					<filter-facilities
						:facilities-data="facilitiesDataMobile"
						@set-value="handleSetTagIds"
					/>
				</div>
			</div>
			<div class="modal-footer">
				<button class="search-btn-reset" @click="handleResetFilter">
					Hapus
				</button>
				<button
					:disabled="isCountRoomsLoading"
					class="search-btn-save search-btn-block"
					@click="handleApplyFilter"
				>
					<template v-if="!isCountRoomsLoading">
						{{ applyButtonText }}
					</template>
					<span v-else class="count-loading" />
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import { mapGetters, mapMutations, mapState } from 'vuex';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

import BaseFilterOption from 'Js/@components/BaseFilterOption';
import BaseFilterPrice from 'Js/@components/BaseFilterPrice';
import FilterFacilities from './FilterFacilities';

export default {
	components: {
		BaseFilterOption,
		FilterFacilities,
		BaseFilterPrice
	},
	mixins: [MixinFilterHelper],
	props: {
		isShow: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			filters: {
				gender: [],
				price_range: [10000, 20000000],
				tag_ids: [],
				level_info: [],
				rent_type: 2,
				property_type: 'all',
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0,
				booking: false,
				flash_sale: false,
				mamichecker: false,
				mamirooms: false,
				goldplus: []
			},
			isGoldPlusActive: false,
			isCountRoomsLoading: false,
			totalFilteredKos: 0
		};
	},
	computed: {
		...mapState(['isFlashSaleAvailable', 'isGoldPlus']),
		...mapGetters(['getAllParams', 'getTotalRooms']),
		applyButtonText() {
			const totalKos = this.totalFilteredKos;
			if (!totalKos) return 'Tampilkan 0 Kos';

			return totalKos > 900
				? 'Tampilkan 900+ Kos'
				: `Tampilkan ${totalKos} Kos`;
		},
		facilitiesDataMobile() {
			return {
				...this.facilitiesData,
				getValue: this.filters.tag_ids
			};
		},
		filterKostTypeData() {
			const filterKostType = [
				{
					type: 'goldplus',
					getValue: this.isGoldPlusActive,
					subtitle:
						process.env.MIX_GOLDPLUS_APP_DESC ||
						'Kos terverifikasi dengan dukungan keamanan dan jaminan dari Mamikos.',
					name: process.env.MIX_GOLDPLUS_TITLE || 'Kos Andalan'
				},
				{
					type: 'booking',
					getValue: this.filters.booking,
					subtitle:
						'Bisa langsung booking dan bayar kos tanpa ketemuan dengan pemilik kos.',
					name: 'Booking Langsung'
				},
				{
					type: 'mamichecker',
					getValue: this.filters.mamichecker,
					subtitle:
						'Kondisi kos sesuai dengan iklan. Sudah dikunjungi oleh tim Mamikos.',
					name: 'MamiChecker'
				},
				{
					type: 'mamirooms',
					getValue: this.filters.mamirooms,
					subtitle: 'Kos dikelola dengan standar kualitas dari Mamikos.',
					name: 'Singgahsini'
				}
			];
			if (this.isFlashSaleAvailable) {
				filterKostType.splice(1, 0, {
					type: 'flash_sale',
					getValue: this.filters.flash_sale,
					subtitle:
						'Dapat diskon pembayaran pertama harga sewa. Diskon hanya berlaku selama program berlangsung.',
					name: 'Promo Ngebut'
				});
			}
			return filterKostType;
		}
	},
	watch: {
		isShow(showStatus) {
			if (showStatus) {
				this.handleOpenFilterMoEngage();
				this.filters = this.getKostFilters;
				this.totalFilteredKos = this.getTotalRooms;
				this.isGoldPlusActive = this.isGoldPlus;
				this.$nextTick(() => {
					this.$refs.filterPriceRange &&
						this.$refs.filterPriceRange.reCalculatePrice();
				});
			}
		}
	},
	methods: {
		...mapMutations(['setIsGoldPlus']),
		handleApplyFilter(needFetch = true) {
			if (needFetch) {
				this.setHistoryPoint();
				this.settingFilter(this.filters);
				this.fetchRooms({ loadingMore: false, isNominatim: false });
				this.handleSaveFilterMoEngage();
				this.setIsGoldPlus(this.isGoldPlusActive);
			}
			this.$emit('toggle-modal-handler', 'Filter');
		},
		handleSetFilter(passedValue, name) {
			let value = passedValue;

			if (name === 'goldplus') {
				value = passedValue ? [0, 1, 2, 3, 4] : [];
				this.isGoldPlusActive = passedValue;
			}

			this.filters = {
				...this.filters,
				[name]: value
			};
			this.fetchCountRooms();
		},
		handleSetPrice(priceRange) {
			this.filters = {
				...this.filters,
				price_range: priceRange
			};
			this.fetchCountRooms();
		},
		handleSetTagIds(tag) {
			this.filters = {
				...this.filters,
				tag_ids: tag
			};
			this.fetchCountRooms();
		},
		handleResetFilter() {
			const payload = {
				filters: {
					gender: [],
					price_range: [10000, 20000000],
					tag_ids: [],
					level_info: [],
					rent_type: 2,
					property_type: 'all',
					random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0,
					booking: false,
					flash_sale: false,
					mamichecker: false,
					mamirooms: false,
					goldplus: []
				}
			};
			this.$refs.filterPriceRange && this.$refs.filterPriceRange.resetAction();
			this.filters = payload.filters;
			this.isGoldPlusActive = false;
			this.fetchCountRooms();
		},
		async fetchCountRooms() {
			this.isCountRoomsLoading = true;
			const params = this.getAllParams;
			const genderFilter = {
				gender: this.filters.gender.length ? this.filters.gender : [0, 1, 2]
			};
			const filters = {
				...this.filters,
				...genderFilter
			};
			try {
				const response = await makeAPICall({
					method: 'post',
					url: '/stories/filters/count',
					data: {
						...params,
						filters
					}
				});
				if (response) this.totalFilteredKos = response.property_total;
			} catch (error) {
				bugsnagClient.notify(error);
			} finally {
				this.isCountRoomsLoading = false;
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalSearchFilter {
	position: fixed;
	width: 100vw;
	top: 0;
	bottom: 0;
	z-index: 1035;
	display: flex;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);

	.modal-filter-content-container {
		position: fixed;
		display: flex;
		z-index: 1036;
		width: 672px;
		max-height: calc(100vh - 80px);
		margin: 40px auto;
		overflow: hidden;
		flex-direction: column;
		background: #fff;
		border: 0;
		border-radius: 8px;
		box-shadow: none;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);

		@media (max-width: 672px) {
			width: 100vw;
			height: 100%;
			overflow: hidden;
			max-height: none;
			margin: 0;
			border-radius: 0;
		}

		.modal-header {
			position: relative;
			display: flex;
			width: 100%;
			height: 56px;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid #dadada;
		}

		.modal-body {
			display: flex;
			height: calc(100vh - 216px);
			padding: 0 24px;
			overflow: auto;
			flex-direction: column;

			@media (max-width: 672px) {
				position: fixed;
				top: 56px;
				flex: 1;
				height: calc(100% - 136px);
			}

			.input-container {
				margin-top: 28px;
			}

			.input-container:not(:first-of-type) {
				margin-top: 24px;
			}

			.base-content-container {
				padding: 16px 0 0;
			}
		}

		.modal-footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 80px;
			padding: 16px 24px;
			background: #fff;
			border-top: 1px solid #e8e8e8;

			@media (max-width: 672px) {
				position: fixed;
				bottom: 0;
				z-index: 1037;
			}
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';
.modal-filter-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #303030;
	text-align: center;
}
.modal-filter-close {
	position: absolute;
	right: 16px;
	width: 20px;
	height: 20px;
	cursor: pointer;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 2px;
		content: '';
		background: #757575;
		border-radius: 2px;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 2px;
		content: '';
		background: #757575;
		border-radius: 2px;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
.filter-section-container {
	padding: 24px 0 28px;

	&:not(:first-of-type) {
		border-top: 1px solid #e8e8e8;
	}

	.filter-section-title {
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}

	.filter-option-subtitle {
		display: flex;
		flex-direction: column;

		.filter-subtitle {
			display: flex;
			margin: 4px 0 0 40px;
			font-size: 14px;
			line-height: 20px;
			color: #757575;
		}
	}
}
.input-title {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #404040;
}
.base-loading {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 4px;
}
/* stylelint-disable */
.count-loading {
	position: relative;
	@extend .base-loading;
	animation: half-fade-out 1s infinite linear alternate;
	animation-delay: 0.5s;
}
.count-loading::before {
	position: absolute;
	top: 0;
	left: -16px;
	@extend .base-loading;
	content: '';
	animation: half-fade-out 1s infinite alternate;
	animation-delay: 0s;
}
.count-loading::after {
	position: absolute;
	top: 0;
	left: 16px;
	@extend .base-loading;
	content: '';
	animation: half-fade-out 1s infinite alternate;
	animation-delay: 1s;
}
@keyframes half-fade-out {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}
/* stylelint-enable */
</style>
