<template>
	<leaflet-map
		v-if="centerReady"
		ref="mamiMap"
		prop-id="mamiMap"
		:prop-class="mapClass"
		type="kos"
		:center="center"
		:corner="corner"
		:min-zoom="14"
		:max-zoom="16"
		:is-map-disabled="isMapDisabled"
		:zoom="zoom"
		:is-map-radius="isMapRadius"
		:bounds-location="boundsLocation"
		:boundaries="boundaries"
		:is-using-zoom="isUsingZoom"
		:is-show-nominatim="isShowNominatim"
		:criteria="criteria"
		:is-empty-list="getEmptyList"
		:is-filter-on="!!totalActive.filter"
		:is-map-loading="isMapLoading"
		:geocode-type="geocodeType"
		is-using-legend
		show-center-marker
		@bounds-changed="boundsChanged"
		@select-cluster="clusterKost"
		@set-geocode="setGeocodeId"
		@set-criteria="setCriteria"
		@handle-reset-filter="handleResetFilter"
		@handle-set-cluster="setClusterStatus"
	></leaflet-map>
</template>

<script>
import _get from 'lodash/get';
import { expandCorner } from 'Js/@utils/mapHelper.js';

import LeafletMap from 'Js/@components/LeafletMap';
import MixinIsMobile from '../mixins/MixinIsMobile';
import { mapGetters, mapMutations, mapActions, mapState } from 'vuex';

export default {
	components: {
		LeafletMap
	},
	mixins: [MixinIsMobile],
	props: {
		totalActive: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			map: {},
			mapObject: false,
			center: {
				lat: null,
				lng: null
			},
			centerReady: false,
			bounds: {},
			setUrlFilter: false
		};
	},
	computed: {
		...mapState([
			'criteria',
			'authCheck',
			'isFacLoading',
			'isMapRadius',
			'isMoreLoading',
			'isLoading',
			'isMapDisabled'
		]),
		...mapGetters([
			'getClusterRooms',
			'getLocation',
			'getClusterStatus',
			'getAllParams',
			'getEmptyList'
		]),
		isLogin() {
			return _get(this.authCheck, 'all', false);
		},
		boundaries() {
			return _get(this.criteria, 'boundaries', []);
		},
		isUsingZoom() {
			return _get(this.criteria, 'isUsingZoom', true);
		},
		geocodeType() {
			return _get(this.criteria, 'geocodeType', '');
		},
		isShowNominatim() {
			return _get(this.criteria, 'isShowNominatim', false);
		},
		isMapLoading() {
			return this.isLoading || this.isMoreLoading;
		},
		corner() {
			if (this.getLocation.length > 0) {
				return [
					[this.getLocation[0][1], this.getLocation[0][0]],
					[this.getLocation[1][1], this.getLocation[1][0]]
				];
			} else {
				return [];
			}
		},
		zoom() {
			return _get(this.criteria, 'zoom', 14);
		},
		boundsLocation() {
			const bounds = _get(this.criteria, 'boundsLocation', []);

			return bounds.length ? bounds : null;
		},
		mapClass() {
			if (this.isMobile) {
				return 'map-mobile';
			} else {
				return `container-fluid map-container ${
					!this.isLogin ? 'map-container--tall' : ''
				}`;
			}
		}
	},
	watch: {
		getClusterRooms(val) {
			this.$nextTick(() => {
				const { mamiMap } = this.$refs;
				mamiMap && mamiMap.showClusters(val);
			});
		},
		isFacLoading: {
			handler(val) {
				if (!val) {
					this.initLocationCheck();
				}
			},
			immediate: true
		}
	},
	methods: {
		...mapActions(['fetchRooms', 'fetchClusters', 'settingFilter']),
		...mapMutations([
			'setLocation',
			'setPoint',
			'setCriteriaLngLat',
			'setExtrasGeolocActive',
			'setClusterStatus',
			'setGeocodeId',
			'setCriteria',
			'setIsGoldPlus'
		]),
		initLocationCheck() {
			if (
				(this.criteria.keywords === '' &&
					!this.isMapRadius &&
					!this.boundaries.length) ||
				this.criteria.latitude === null ||
				this.criteria.longitude === null
			) {
				this.getCurrentPosition();
			} else {
				this.center = {
					lat: this.criteria.latitude,
					lng: this.criteria.longitude
				};

				this.isMobile ? this.getRadiusCalculation() : (this.centerReady = true);
			}
		},
		handleCheckUserPosition(center, geolocStatus) {
			this.setCriteriaLngLat(center);
			this.setExtrasGeolocActive(geolocStatus);
			this.isMobile ? this.getRadiusCalculation() : (this.centerReady = true);
		},
		getCurrentPosition() {
			const options = {
				enableHighAccuracy: false,
				timeout: 10000,
				maximumAge: 1800000
			};

			const success = pos => {
				const crd = pos.coords;
				const center = {
					lat: crd.latitude,
					lng: crd.longitude
				};

				this.center = center;
				this.handleCheckUserPosition(center, true);
			};

			/* eslint-disable */
			const error = err => {
				const center = {
					lat: -6.2839313,
					lng: 106.7320383
				};

				this.center = center;
				this.handleCheckUserPosition(center, false);
			};
			/* eslint-enable */

			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(success, error, options);
			}
		},
		getRadiusCalculation() {
			const quadrantA = 225;
			const quadrantB = 45;
			const distance = 3 * 1000;

			const cornerA = expandCorner(
				this.center.lat,
				this.center.lng,
				quadrantA,
				distance
			);
			const cornerB = expandCorner(
				this.center.lat,
				this.center.lng,
				quadrantB,
				distance
			);

			this.setLocation([cornerA, cornerB]);
			this.centerReady = true;
		},
		boundsChanged(locations) {
			this.setLocation(locations);
			if (this.getClusterStatus) this.setClusterStatus(false);
			if (!this.setUrlFilter) {
				this.$emit('set-url-filter');
				this.setUrlFilter = true;
			} else {
				this.fetchRooms({ loadingMore: false, isNominatim: false });
			}
		},
		clusterKost(point, bindStatus) {
			this.setPoint(point);
			this.fetchClusters({
				loadingMore: false,
				isNominatim: bindStatus
			});

			if (this.isMobile) {
				this.$emit('handle-pass-content-type', 'list');
			}
		},
		handleResetFilter() {
			this.setIsGoldPlus(false);
			this.settingFilter({
				gender: [],
				price_range: [10000, 20000000],
				tag_ids: [],
				level_info: [],
				rent_type: 2,
				property_type: 'all',
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0,
				booking: false,
				flash_sale: false,
				mamichecker: false,
				mamirooms: false,
				goldplus: []
			});
			this.fetchRooms({ loadingMore: false, isNominatim: false });
		}
	}
};
</script>

<style scoped>
.map-container {
	position: fixed;
	top: 80px;
	bottom: 0;
	padding: 0;
	background-color: #eee;
}

.map-container--tall {
	top: 104px;
	margin: 0;
}

.map-mobile {
	width: 100%;
	height: 100%;
}
</style>
