<template>
	<div class="auth-wrapper">
		<global-navbar
			v-if="isResetStyling"
			:force-show-arrow="isMobile"
			:back-icon="isCurrentlyAtLastStep ? 'close' : 'arrow'"
			overlay
			homepage-style
			custom-back-action
			hide-mobile-hamburger
			redirection-source="auth-pages"
			class="auth-wrapper__navbar"
			@back="reverseStep"
		/>

		<div :class="isResetStyling ? 'auth-wrapper__body' : 'col-md-6 col-sm-12'">
			<div :class="{ 'form-container': !isResetStyling }">
				<router-view :key="$route.fullPath"></router-view>
			</div>
		</div>

		<!-- Will be fully removed once Auth Improvements is finished -->
		<div v-if="!isResetStyling">
			<div
				v-if="userRole.key === 'owner'"
				class="col-md-6 hidden-sm hidden-xs right-login-wrapper"
			>
				<div class="img-link-side">
					<div class="img-side-owner"></div>
					<h3>
						Mau iklanmu tampil di atas?<br />
						Jadilah
						<img
							v-lazy="'/assets/owner/ic_premium_on_list.svg'"
							class="icon-premium"
						/>
						<b>Premium Member</b> Mamikos!
					</h3>
				</div>
			</div>

			<div v-else class="col-md-6 hidden-sm hidden-xs right-login-wrapper">
				<div class="img-side-tenant-background">
					<div class="img-side-tenant">
						<div
							v-for="(tenantSideItem, index) in tenantSideData"
							:key="index"
							class="feature-tenant-row rows"
						>
							<div class="col-md-5 feature-tenant-img">
								<img :src="tenantSideItem.imgUrl" alt="login_find_kos" />
							</div>
							<div class="col-md-7 feature-tenant-caption">
								{{ tenantSideItem.caption }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

import MixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import MixinReverseStep from '../mixins/MixinReverseStep';

const GlobalNavbar = () => import('Js/@components/GlobalNavbar');

export default {
	components: {
		GlobalNavbar
	},
	mixins: [MixinGetQueryString, MixinReverseStep],
	data() {
		return {
			tenantSideData: [
				{
					imgUrl: '/general/img/pictures/login/login_find_kos.png',
					alt: 'login_find_kos',
					caption: 'Mudah dan cepat menemukan kos yang cocok'
				},
				{
					imgUrl: '/general/img/pictures/login/login_booking.png',
					alt: 'login_booking',
					caption: 'Bisa langsung pesan tanpa takut keduluan'
				},
				{
					imgUrl: '/general/img/pictures/login/login_clean_kos.png',
					alt: 'login_clean_kos',
					caption: 'Tanggapan positif dari penyewa'
				}
			]
		};
	},
	computed: {
		...mapState(['userRole']),
		isMobile() {
			return navigator.isMobile;
		},
		isResetStyling() {
			/**
			 * Used for gradually resetting the existing Auth components styling as
			 * Auth improvement is under development (currently done on forget
			 * password state).
			 * */
			return this.$route.path.includes('lupa-password');
		}
	},
	watch: {
		$route: {
			immediate: true,
			handler(to, from) {
				const pathTitle = to.meta.title;
				const userRoleDetail = to.path.includes('pencari')
					? { key: 'tenant', label: 'Pencari' }
					: { key: 'owner', label: 'Pemilik' };

				if (pathTitle) document.title = pathTitle;

				this.setUserRole(userRoleDetail);
			}
		}
	},
	created() {
		this.setRedirectPath();
	},
	mounted() {
		// reload if login page is accessed via history (e.g. back button)
		if (performance.navigation.type === 2) location.reload(true);
	},
	methods: {
		...mapMutations(['setUserRole']),
		setRedirectPath() {
			const redirectPath = this.getQueryString('redirect_path');
			this.$store.commit('setRedirectPath', redirectPath || '');
		}
	}
};
</script>

<style lang="scss" scoped>
.auth-wrapper {
	overflow-x: hidden;

	&__body {
		margin: 0 auto;

		@media (min-width: 768px) {
			width: 372px;
			margin-top: 48px;
		}
	}
}

.right-login-wrapper {
	background-color: #ec4a0c;
	min-height: 100vh;
	display: block;
	background-color: #1baa56;
	position: fixed;
	right: 0;
	bottom: 0;
	h3 {
		color: #fff;
		text-align: center;
		bottom: 137px;
		font-size: 1.3em;
		margin: 0;
		position: relative;
		line-height: 29px;
		> b {
			font-size: 1em;
		}
	}
}
.img-link-side {
	width: 100%;
	height: 64rem;
	display: block;
	z-index: -99999999999;
	margin: 0 auto;
}
.img-side-owner {
	background-image: url(/assets/owner/Illustration-slide-2.svg);
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	z-index: 9999999;
	margin-right: 0;
	margin: 0 auto;
	margin-top: 7%;
}

.icon-premium {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 100%;
}

//
.img-side-tenant-background {
	background-image: url('/general/img/pictures/login/login_background.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 90%;
	padding-top: 80px;
	margin-top: 40px;
}
.img-side-tenant {
	background-color: #fff;
	width: 500px;
	margin: 0 auto;
	margin-top: 7%;
	height: 480px;
	border-radius: 16px;
	padding-top: 20px;
}
.feature-tenant-row {
	width: 95%;
	height: 145px;
	margin: auto;
}
.feature-tenant-img {
	img {
		width: 90%;
	}
}
.feature-tenant-caption {
	font-size: 18px;
	line-height: 22px;
	margin-top: 30px;
}
//

.form-container {
	width: 328px;
	margin: auto;
	position: relative;
	@media (max-width: 320px) {
		width: 100%;
	}
}
</style>
