<template>
	<component :is="activeWrapperTag" class="auth-container">
		<div class="auth-container__header">
			<span
				v-if="!isMobile"
				class="auth-container__back-button"
				@click="handleBackClicked"
			>
				<bg-icon :name="activeBackButton"></bg-icon>
			</span>

			<h4 class="auth-container__title">{{ componentTitle }}</h4>
		</div>

		<div class="auth-container__body">
			<p class="auth-container__description">{{ componentDescription }}</p>

			<!-- Parent's main content goes here -->
			<slot></slot>
		</div>
	</component>
</template>

<script>
import { BgCard, BgIcon } from 'bangul-vue';

export default {
	name: 'AuthContainer',
	components: {
		BgCard,
		BgIcon
	},
	props: {
		activeBackButton: {
			type: String,
			default: 'back' // back, close
		},
		componentTitle: {
			type: String,
			required: true
		},
		componentDescription: {
			type: String,
			default: ''
		}
	},
	computed: {
		isMobile() {
			return navigator.isMobile;
		},
		activeWrapperTag() {
			return this.isMobile ? 'div' : 'bg-card';
		}
	},
	methods: {
		handleBackClicked() {
			this.$emit('back');
		}
	}
};
</script>

<style lang="scss" scoped>
.auth-container {
	padding: 24px;

	@media (max-width: 767px) {
		padding: 0 16px;
	}

	&__header {
		@media (min-width: 768px) {
			padding: 16px 0;
		}
	}

	&__back-button {
		&:hover {
			cursor: pointer;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;

		@media (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__body {
		margin-top: 8px;

		@media (max-width: 767px) {
			margin-top: 28px;
		}
	}

	&__description {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}
</style>
