<template>
	<div v-if="isSameSite" class="form-container">
		<!-- login flow -->
		<form-select v-if="user === 'select'"> </form-select>

		<form-login
			v-else
			:user="user"
			:back-button="true"
			:redirect-path="redirectPath"
			@back="changeParentState"
			@reset-password="changeParentState"
		></form-login>
	</div>
</template>

<script>
import FormLogin from './login/FormLogin';
import FormSelect from './login/FormSelect';

import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
export default {
	components: {
		FormLogin,
		FormSelect
	},
	mixins: [mixinGetQueryString],

	props: {
		user: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			currentState: 'default'
		};
	},

	computed: {
		isSameSite() {
			return Cookies.get('samesite');
		},
		redirectPath() {
			return this.$store.state.redirectPath || '';
		}
	},

	methods: {
		changeState(state) {
			this.currentState = state;
		},
		changeParentState(state) {
			this.$emit('back', state);
		}
	}
};
</script>

<style lang="scss" scoped></style>
