<template>
	<div v-if="isSameSite">
		<form-register
			v-if="currentState === 'register'"
			:user-type-text="userTypeText"
			:user="user"
			:error-register-messages="errorRegisterMessages"
			@reset="resetErrorRegisterMessages"
			@back="changeParentState"
			@register="verifyRegistrationData()"
		></form-register>

		<form-otp-validation
			v-if="currentState === 'verification'"
			:phone-number="storedPhoneNumber"
			:otp-request-url="otpRequestUrl"
			:otp-check-url="otpCheckUrl"
			:initialize-request="true"
			:user="user"
			page="register"
			@back="changeState('register')"
			@verified="submitRegistration(false)"
		></form-otp-validation>

		<form-intercept
			v-if="currentState === 'intercept'"
			:user="user"
			:user-type-text="userTypeText"
			@add-kost="changeState('add')"
		>
		</form-intercept>
		<form-intercept-add
			v-if="currentState === 'add'"
			@closed="returnToHomePage"
		>
		</form-intercept-add>
	</div>
</template>

<script>
import _get from 'lodash/get';
import FormRegister from './register/FormRegister';
import FormIntercept from './register/FormIntercept';
import FormInterceptAdd from './register/FormInterceptAdd';
import FormOtpValidation from './FormOtpValidation';

export default {
	components: {
		FormRegister,
		FormOtpValidation,
		FormIntercept,
		FormInterceptAdd
	},

	props: {
		user: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			currentState: 'register', // register, verification, intercept, add
			errorRegisterMessages: null
		};
	},

	computed: {
		isSameSite() {
			return Cookies.get('samesite');
		},
		userTypeText() {
			return this.user === 'owner' ? 'Pemilik' : 'Pencari';
		},
		storedPhoneNumber() {
			return this.$store.state.profile.phoneNumber || '';
		},
		storedEmail() {
			return this.$store.state.profile.email || '';
		},
		storedOtpCode() {
			return this.$store.state.profile.otpCode.toUpperCase() || '';
		},
		storedUsername() {
			return this.$store.state.profile.username || '';
		},
		storedPassword() {
			return this.$store.state.profile.password || ''; // encripted
		},
		storedCaptcha() {
			return this.$store.state.profile.captcha || '';
		},
		storedProfile() {
			return this.$store.state.profile || null;
		},
		redirectPath() {
			return this.$store.state.redirectPath;
		},
		otpRequestUrl() {
			if (this.user === 'owner') {
				return '/owner/verification/request';
			} else {
				return '/auth/tenant/verification/request';
			}
		},
		otpCheckUrl() {
			if (this.user === 'owner') {
				return '/owner/verification/check';
			} else {
				return '/auth/tenant/verification/check';
			}
		},
		registrationUrl() {
			if (this.user === 'owner') {
				return '/auth/owner/register/verified';
			} else {
				return '/auth/tenant/register';
			}
		},
		trackerTag() {
			return this.user === 'owner' ? '[Owner]' : '[User]';
		},
		isSkipSuccessIntercept() {
			if (!this.redirectPath) return false;

			const isFromDbetTenant =
				this.user === 'tenant' &&
				new RegExp('^/ob/.+/.+', 'g').test(this.redirectPath);

			return isFromDbetTenant;
		}
	},

	methods: {
		changeState(state) {
			this.currentState = state;
		},
		verifyRegistrationData() {
			this.submitRegistration(true);
		},
		submitRegistration(verification) {
			const parameterRegister = {
				phone_number: this.storedPhoneNumber,
				password: this.storedPassword,
				name: this.storedUsername,
				email: this.storedEmail,
				verification_code: this.storedOtpCode
			};

			if (!verification) {
				parameterRegister['g-recaptcha-response'] = this.storedCaptcha;
			}

			axios
				.post(this.registrationUrl, parameterRegister)
				.then(response => {
					if (response.data.status) {
						!this.isSkipSuccessIntercept && this.changeState('intercept');

						const trackRegisterParams = {
							register_result: true,
							interface: navigator.isMobile ? 'mobile' : 'desktop'
						};

						if (this.user === 'owner') {
							const accessToken = _get(
								response.data,
								'register.oauth.access_token',
								null
							);
							const refreshToken = _get(
								response.data,
								'register.oauth.refresh_token',
								null
							);

							const options = {
								samesite: 'strict',
								domain: oxOauth2Domain,
								'max-age': '604800' // 7 days
							};
							Cookies.set('access_token', accessToken, options);
							Cookies.set('refresh_token', refreshToken, options);

							trackRegisterParams.owner_name = parameterRegister.name;
							trackRegisterParams.owner_phone_number =
								parameterRegister.phone_number;
							trackRegisterParams.owner_email = parameterRegister.email;
						} else {
							trackRegisterParams.tenant_name = parameterRegister.name;
							trackRegisterParams.tenant_phone_number =
								parameterRegister.phone_number;
							trackRegisterParams.tenant_email = parameterRegister.email;
						}

						tracker('moe', [
							`${this.trackerTag} Register`,
							trackRegisterParams
						]);

						if (this.isSkipSuccessIntercept && !!this.redirectPath) {
							window.location.replace(this.redirectPath);
						}
					} else {
						const errorMessages = response.data.messages;
						const errorFields = ['name', 'phone_number', 'email', 'password'];
						const returnedErrorField = Object.keys(response.data.messages)[0];

						/**
						 * If all fields valid except OTP code, redirect to OTP
						 * Verification page.
						 */
						if (returnedErrorField === 'verification_code') {
							this.changeState('verification');

							// Else, display corresponding error message.
						} else if (errorFields.indexOf(returnedErrorField) > -1) {
							tracker('moe', [
								`${this.trackerTag} Register`,
								{
									register_result: false,
									fail_reason: errorMessages[returnedErrorField]
								}
							]);
							swal({
								title: 'Pendaftaran gagal',
								type: 'info',
								text: 'Mohon periksa kembali data yang Anda isi.',
								confirmButtonColor: '#EC4A0C',
								showCloseButton: true
							});
							this.errorRegisterMessages = errorMessages;
						} else {
							bugsnagClient.notify(JSON.stringify(response));
							alert('Terjadi galat. Silakan coba lagi.');
						}
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		changeParentState(state) {
			this.$emit('back', 'login');
		},
		resetErrorRegisterMessages() {
			this.errorRegisterMessages = null;
		},
		returnToHomePage() {
			window.location.href = '/';
		}
	}
};
</script>

<style lang="css" scoped></style>
