<template>
	<auth-container
		:component-title="currentStep.title"
		:component-description="currentStep.description"
		:active-back-button="currentStepKey === 'success-state' ? 'close' : 'back'"
		class="forget-password-wrapper"
		@back="reverseStep"
	>
		<component :is="currentStep.component" @next-step="forwardStep" />

		<bg-modal
			v-model="isShowAbortModal"
			:title="abortModalItems.title"
			:description="abortModalItems.description"
			button-main-text="Tidak"
			button-second-text="Ya, batalkan"
			desktop-size="sm"
			mobile-size="popup"
			class="forget-password-wrapper__abort-modal"
			@click-main-action="handleAbortModalActions(false)"
			@click-second-action="handleAbortModalActions(true)"
			@close="handleAbortModalActions(false)"
		/>
	</auth-container>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex';

import { BgModal } from 'bangul-vue';

import MixinReverseStep from '../mixins/MixinReverseStep';

/* istanbul ignore next */
const AuthContainer = () => import('./AuthContainer');
/* istanbul ignore next */
const ForgetPasswordIdInput = () =>
	import('./forget-password/ForgetPasswordIdInput');
/* istanbul ignore next */
const ForgetPasswordOTPMethodSelection = () =>
	import('./forget-password/ForgetPasswordOTPMethodSelection');
/* istanbul ignore next */
const ForgetPasswordOTPInput = () =>
	import('./forget-password/ForgetPasswordOTPInput');
/* istanbul ignore next */
const ForgetPasswordNewPasswordInput = () =>
	import('./forget-password/ForgetPasswordNewPasswordInput');
/* istanbul ignore next */
const ForgetPasswordSuccessState = () =>
	import('./forget-password/ForgetPasswordSuccessState');

export default {
	name: 'ForgetPassword',
	components: {
		AuthContainer,
		ForgetPasswordIdInput,
		ForgetPasswordOTPMethodSelection,
		ForgetPasswordOTPInput,
		ForgetPasswordNewPasswordInput,
		ForgetPasswordSuccessState,
		BgModal
	},
	mixins: [MixinReverseStep],
	data() {
		return {
			isShowAbortModal: false,
			isToNextStep: false,
			routeTarget: null
		};
	},
	computed: {
		...mapState(['userRole']),
		...mapState('forgetPassword', [
			'currentStepKey',
			'userEmailOrPhoneNumberValue',
			'selectedOTPMethod',
			'inputedOTPCode',
			'isForgetPasswordSuccess'
		]),
		...mapGetters('forgetPassword', ['currentStep']),
		abortModalItems() {
			return {
				title:
					this.currentStepKey === 'input-otp'
						? 'Yakin batalkan proses verifikasi?'
						: 'Yakin batalkan proses ubah password?',
				description:
					this.currentStepKey === 'input-otp'
						? 'Kami akan membatalkan proses pengiriman kode verifikasi.'
						: 'Kami akan membatalkan proses ubah password pada akun Anda.'
			};
		},
		isAtInputOTP() {
			return (
				this.currentStepKey === 'input-otp' &&
				this.selectedOTPMethod.key !== null &&
				this.selectedOTPMethod.key !== undefined
			);
		},
		isAtInputNewPassword() {
			return (
				this.currentStepKey === 'input-new-password' && this.inputedOTPCode
			);
		},
		isCurrentlyAtFinalSteps() {
			return this.isAtInputOTP || this.isAtInputNewPassword;
		}
	},
	watch: {
		$route: {
			immediate: true,
			handler(to) {
				if (to.query.step) this.setCurrentStepKey(to.query.step);
				else this.setCurrentStepKey('input-id'); // set to step 1 if no step query
			}
		}
	},
	created() {
		this.handleAccessRestriction();
		window.addEventListener('beforeunload', this.beforeWindowUnload);
	},
	beforeDestroy() {
		window.removeEventListener('beforeunload', this.beforeWindowUnload);
	},
	methods: {
		beforeWindowUnload(e) {
			if (this.isCurrentlyAtFinalSteps) e.returnValue = '';
		},
		...mapMutations('forgetPassword', ['setCurrentStepKey']),
		/**
		 * Restriction handler to prevent users hitting Forget Password steps route
		 * path manually. It works using currentStepKey and each step's mandatory
		 * data to check if the user accessing the step properly and then
		 * direct the user to first step (input-id) if not.
		 *
		 * Please add or change if there's feature requirement updates.
		 */
		handleAccessRestriction() {
			switch (this.currentStepKey) {
				case 'select-otp-method': {
					if (!this.userEmailOrPhoneNumberValue.length) this.returnToInputId();
					break;
				}
				case 'input-otp': {
					if (
						this.selectedOTPMethod.key === null ||
						this.selectedOTPMethod.key === undefined
					)
						this.returnToInputId();
					break;
				}
				case 'input-new-password': {
					if (!this.inputedOTPCode) this.returnToInputId();
					break;
				}
				case 'success-state': {
					if (!this.isForgetPasswordSuccess) this.returnToInputId();
					break;
				}
				default: {
					return null;
				}
			}
		},
		returnToInputId() {
			this.$router.replace({ name: `forget-password-${this.userRole.key}` });
		},
		forwardStep(stepKey) {
			this.isToNextStep = true;

			this.$router.push({
				name: `forget-password-${this.userRole.key}`,
				query: {
					step: stepKey
				}
			});
		},
		handleAbortModalActions(isAbort) {
			if (isAbort)
				this.isAtInputNewPassword ? this.returnToInputId() : this.reverseStep();
			else this.routeTarget = null;

			this.isShowAbortModal = false;
		}
	},
	beforeRouteUpdate(to, from, next) {
		if (this.isCurrentlyAtFinalSteps) {
			if (this.routeTarget || this.isToNextStep) {
				next();
			} else {
				next(false);
				this.routeTarget = to;
				this.isShowAbortModal = true;
			}
		} else {
			next();
		}
	}
};
</script>

<style lang="scss">
.forget-password-wrapper {
	&__abort-modal {
		.bg-c-modal__footer-CTA {
			justify-content: center;
			height: 48px;

			.bg-c-button {
				width: 50%;
				font-size: 16px;
			}
		}
	}
}
</style>
