<template>
	<div class="form-otp-validation">
		<img
			v-if="backButton !== 'none'"
			class="otp-exit"
			src="/general/img/icons/ic_arrow_left.svg"
			alt="ic_arrow_left"
			@click="handleBackButton"
		/>
		<hr class="otp-header-divider" />
		<p class="modal-login-title">Verifikasi Nomor HP</p>

		<form @submit.prevent="submitOtp">
			<p>Masukkan kode verifikasi yang kami kirimkan melalui SMS ke nomor:</p>
			<p class="text-center otp-phone-number">{{ phoneNumber }}</p>
			<fieldset>
				<div class="otp-input-wrapper-outer">
					<div class="otp-input-wrapper-inner">
						<input
							ref="otpinput"
							v-model="otpInput"
							type="text"
							name="otpinput"
							maxlength="4"
							class="form-control default-input form-otp-input"
							required
							@keypress="maskChars"
						/>
					</div>
				</div>

				<p v-if="!isOtpValid" class="text-center text-invalid-otp">
					Kode tidak valid. Harap periksa kembali.
				</p>

				<button
					type="submit"
					class="btn btn-verification btn-mamigreen"
					:class="gtmTrackVerificationClass"
					:disabled="isDisabledButton"
				>
					<span v-if="isLoading">
						<i class="fa fa-circle-o-notch fa-spin">&nbsp;</i>
						Sedang memverifikasi...
					</span>
					<template v-else>
						Verikasi
					</template>
				</button>
			</fieldset>
		</form>
		<p class="footer-links footer-request-otp">
			<a
				v-if="resendCounter === -2000"
				class="text-center"
				@click="requestOtp('resend')"
			>
				Kirim ulang kode verifikasi
			</a>
			<span v-else class="text-center">
				Tunggu
				<span class="counter">{{ formattedTime }}</span>
				untuk kirim ulang kode
			</span>
		</p>
	</div>
</template>

<script>
export default {
	props: {
		phoneNumber: {
			type: String,
			required: true
		},
		otpRequestUrl: {
			type: String,
			required: true
		},
		otpCheckUrl: {
			type: String,
			required: true
		},
		initializeRequest: {
			type: Boolean,
			default: false
		},
		backButton: {
			type: String,
			default: 'back'
			// back, exit, none
		},
		page: {
			type: String,
			required: true
		},
		user: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			otpInput: '',
			resendCounter: 0,
			formattedTime: '01:00',
			isOtpValid: true,
			isLoading: false
		};
	},
	computed: {
		isDisabledButton() {
			return this.isLoading || this.otpInput.length < 4;
		},
		storedProfile() {
			return this.$store.state.profile || null;
		},
		trackerTag() {
			return this.user === 'owner' ? '[Owner]' : '[User]';
		},
		gtmTrackVerificationClass() {
			return this.user === 'owner'
				? 'track-verifikasi-register-owner'
				: 'track-verifikasi-register-tenant';
		}
	},

	watch: {},

	mounted() {
		this.handleInitRequest();

		tracker('moe', [
			`${this.trackerTag} Visit Input OTP Form`,
			{
				request_from: this.page,
				interface: navigator.isMobile ? 'mobile' : 'desktop'
			}
		]);
	},

	methods: {
		handleInitRequest() {
			this.initializeRequest ? this.requestOtp() : this.startCountDown();
		},
		requestOtp(action) {
			this.isOtpValid = true;
			this.startCountDown();
			if (action === 'resend') {
				tracker('moe', [
					`${this.trackerTag} Click Resend OTP`,
					{
						request_from: this.page,
						interface: navigator.isMobile ? 'mobile' : 'desktop'
					}
				]);
			}
			axios
				.post(this.otpRequestUrl, {
					phone_number: this.phoneNumber
				})
				.then(response => {})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		submitOtp() {
			if (this.otpInput.length === 4) {
				this.isLoading = true;
				this.isOtpValid = true;
				axios
					.post(this.otpCheckUrl, this.generateSubmitParams())
					.then(response => {
						this.isLoading = false;
						if (response.data.status) {
							this.$store.commit(
								'setProfileOtpCode',
								this.otpInput.toUpperCase()
							);
							this.$emit('verified', this.otpInput);
						} else this.isOtpValid = false;

						this.trackSubmitOTP(response.data.status);
					})
					.catch(error => {
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			} else {
				this.isOtpValid = false;
			}
		},
		trackSubmitOTP(status) {
			const trackerParam = {
				interface: navigator.isMobile ? 'mobile' : 'desktop',
				request_from: this.page,
				success_status: status,
				fail_reason: status ? null : 'kode salah'
			};

			if (this.user === 'owner') {
				trackerParam.owner_name = this.storedProfile.username;
				trackerParam.owner_phone_number = this.storedProfile.phoneNumber;
				trackerParam.owner_email = this.storedProfile.email;
			} else {
				trackerParam.tenant_name = this.storedProfile.username;
				trackerParam.tenant_phone_number = this.storedProfile.phoneNumber;
				trackerParam.tenant_email = this.storedProfile.email;
			}

			tracker('moe', [
				`${this.trackerTag} Verifikasi Phone Number`,
				trackerParam
			]);
		},
		generateSubmitParams() {
			if (this.page === 'register') {
				return {
					phone_number: this.phoneNumber,
					code: this.otpInput.toUpperCase()
				};
			} else {
				return {
					phone_number: this.phoneNumber,
					verification_code: this.otpInput.toUpperCase()
				};
			}
		},
		maskChars(event) {
			const specialChars = /^[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]$/;
			if (
				specialChars.test(String.fromCharCode(event.charCode)) ||
				this.otpInput.length >= 4
			) {
				event.preventDefault();
			} else {
				return true;
			}
		},
		startCountDown() {
			this.resendCounter = 1000 * 60;
			let time = new Date(this.resendCounter);
			const counter = window.setInterval(() => {
				time = new Date(this.resendCounter);
				this.formattedTime =
					('0' + time.getMinutes()).slice(-2) +
					':' +
					('0' + time.getSeconds()).slice(-2);
				this.resendCounter -= 1000;
				if (this.resendCounter === -2000) {
					// gives condition '-2000' instead of '0' aims to provide a delay 2s
					window.clearInterval(counter);

					// set formatted time to default value '01:00' after countdown is over
					this.formattedTime = '01:00';
				}
			}, 1000); // every second
		},
		handleBackButton() {
			this.$emit('back');
		}
	}
};
</script>

<style lang="scss" scoped>
.modal-login-title {
	font-size: 24px;
	margin-bottom: 12px;
	font-weight: bold;
	margin-top: 37px;
}
@media (max-width: 991px) {
	.modal-login-title {
		margin-top: 16px;
	}
}

.btn-verification {
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
	padding: 12px;
	font-weight: bold;

	&:disabled {
		background: #f4f4f4;
		color: #dbdbdb;
		border: none;
	}
}

.form-otp-input {
	letter-spacing: 39px;
	text-transform: uppercase full-width;
	font-size: 24px;
	border: none;
	box-shadow: none;
	width: 240px;
	padding-left: 8px;

	background-image: linear-gradient(
		to left,
		black 70%,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: 52px 2px;
	background-repeat: repeat-x;
	background-position-x: 38px;
}

.otp-input-wrapper-outer {
	width: 195px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
}
.otp-input-wrapper-inner {
	position: sticky;
	left: 0;
}

.text-invalid-otp {
	color: #ff4422;
}

.counter {
	font-weight: bold;
	color: #ff4422;
}

.footer-request-otp {
	margin-top: 20px;
}
.footer-links {
	text-align: center;
}

.otp- {
	&header-divider {
		border-top: none;
		margin: 0;
	}
	@media (max-width: 425px) {
		&header-divider {
			margin: 0;
			width: 200vh;
			margin-left: -20%;
			position: absolute;
			border-top-width: 1px;
			border-color: #f4f4f4;
			border-top-style: solid;
		}
	}

	&exit {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 7vh;
		cursor: pointer;
	}

	@media (max-width: 991px) {
		&exit {
			margin: 19px auto;
		}
	}
}
</style>
