<template>
	<div class="form-group input-with-validator">
		<label
			v-if="inputLabel"
			:for="inputName"
			class="default-label"
			:class="customClassLabel"
		>
			{{ inputLabel }}
		</label>
		<input
			ref="inputText"
			v-validate="validationOption"
			:type="localType || inputType"
			:name="inputName"
			:maxlength="inputLength"
			:placeholder="inputPlaceholder"
			class="form-control default-input"
			:class="{ '--error': errorMessage.length, [customClassInput]: true }"
			:value="inputValue"
			required
			@change="updateInputText"
			@input="updateInputText"
		/>
		<i
			v-if="inputType === 'password'"
			class="password-eye"
			@click="handleEyeClicked"
		></i>
		<p class="error-message">{{ errorMessage }}</p>
	</div>
</template>

<script>
export default {
	model: {
		prop: 'inputValue',
		event: 'input'
	},
	props: {
		inputLabel: {
			type: String,
			default: ''
		},
		inputName: {
			type: String,
			default: ''
		},
		inputType: {
			type: String,
			default: 'text',
			validator: value => {
				// The value must match one of these strings
				return ['text', 'password', 'email', 'tel'].indexOf(value) !== -1;
			}
		},
		inputValue: {
			type: String,
			default: '' // for editing purposes
		},
		inputLength: {
			type: Number,
			default: 100
		},
		inputPlaceholder: {
			type: String,
			default: ''
		},
		customClassLabel: {
			type: String,
			default: ''
		},
		customClassInput: {
			type: String,
			default: ''
		},
		customErrorMessage: {
			type: Array,
			default: null
		},
		validationOption: {
			type: [String, Object],
			default: ''
		}
		// for now
	},
	data() {
		return {
			localType: null
		};
	},
	computed: {
		errorMessage() {
			if (this.errors && this.errors.items && this.errors.items.length) {
				if (this.customErrorMessage) {
					this.changeErrorMessage(this.customErrorMessage);
				}
				return this.errors.items.map(item => item.msg).join(', ');
			}
			return '';
		}
	},
	mounted() {
		this.$validator.extend('isSubmitTerminated', {
			getMessage: field => '', // need custom error messages
			validate: value => {
				return false;
			}
		});
	},
	methods: {
		changeErrorMessage(customErrorMessage) {
			this.errors.items.map(item => {
				customErrorMessage.forEach(el => {
					if (item.rule === el.typeValidation) item.msg = el.text;
				});
			});
		},
		updateInputText() {
			this.$emit('input', this.$refs.inputText.value);
		},
		handleEyeClicked(e) {
			this.$refs.inputText.focus();
			e.target.classList.toggle('--open');
			if (e.target.classList.contains('--open')) {
				this.localType = 'text';
			} else {
				this.localType = null;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
$opened_eye_grey: url(/assets/icons/svg/ic_eye_grey.svg);
$opened_eye_green: url(/assets/icons/svg/ic_eye_green.svg);
$closed_eye_grey: url(/assets/icons/svg/ic_eye_closed_grey.svg);
$closed_eye_green: url(/assets/icons/svg/ic_eye_closed_green.svg);

.default-input {
	padding: 5px 8px;
	&:focus {
		& + .password-eye {
			background: $closed_eye_grey no-repeat;
			&.--open {
				top: 44px;
				right: 2px;
				background: $opened_eye_grey no-repeat;
			}
		}
	}
	&.--error {
		border-color: #ec4a0c;
		&:focus {
			border-color: #ec4a0c;
		}
	}
}
.password-eye {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: absolute;
	top: 38px;
	right: 4px;
	cursor: pointer;

	background: $closed_eye_grey no-repeat;
	&.--open {
		top: 44px;
		right: 2px;
		background: $opened_eye_grey no-repeat;
	}
}

.input-with-validator {
	position: relative;
}

.default-label {
	display: block;
}
.error-message {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #ec4a0c;
}
</style>
