<template>
	<modal
		v-model="showModalLogin"
		class="modal-login"
		:style="{ 'padding-top': modalCustomPadding }"
		@ok="closeModal"
		@closed="closeModal"
		@opened="selectState(startingState)"
	>
		<div class="modal-exit">
			<img
				v-lazy="`/general/img/icons/ic_close_black.svg`"
				class="btn-close-overlay"
				alt="ic_close_black"
				title="Batal"
				@click.prevent="closeModal"
			/>
		</div>

		<!-- select user or owner -->
		<form-select
			v-if="currentState === 'default'"
			:is-modal="true"
			@stateChanged="selectState"
		>
		</form-select>

		<!-- form login  -->
		<!-- named form-login bcz in the future, it will acomodate both logins -->
		<form-login
			v-else
			:user="currentState"
			:mode="'modal'"
			:from-booking-landing="fromBookingLanding"
			@unverified="verifyPhonenumber"
		>
		</form-login>

		<form-otp-validation
			v-if="currentState === 'verification'"
			:phone-number="storedPhoneNumber"
		>
		</form-otp-validation>

		<div slot="modal-footer" class="modal-footer"></div>
	</modal>
</template>

<script>
import FormOtpValidation from './FormOtpValidation';
import FormSelect from './login/FormSelect';
import FormLogin from './login/FormLogin';
import { modal } from 'vue-strap';

window.swal = require('sweetalert2/dist/sweetalert2.js');
window.debounce = require('lodash/debounce');

export default {
	name: 'ModalFormLogin',

	components: {
		modal,
		FormSelect,
		FormLogin,
		FormOtpValidation
	},

	props: {
		showModalLogin: {
			type: Boolean,
			required: true
		},
		startingState: {
			type: String,
			default: 'default'
		},
		fromBookingLanding: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			loginHeaderText: 'Login Akun', // Akun, Pemilik Kos, Pencari Kos
			currentState: 'default', // default, owner, tenant
			storedPhoneNumber: ''
		};
	},

	computed: {
		modalCustomPadding() {
			return navigator.isMobile
				? '0'
				: this.currentState === 'default'
				? '160px'
				: '30px';
		}
	},

	watch: {
		startingState: {
			immediate: true,
			handler(value) {
				// Initialize current login state immediately if other than default.
				if (value !== 'default') this.selectState(value);
			}
		}
	},

	methods: {
		selectState(currentState) {
			this.currentState = currentState;
		},

		closeModal() {
			this.$emit('closeModal', false);
			this.loginHeaderText = 'Login Akun';

			// Wait for modal to close before resetting current state to default.
			setTimeout(() => {
				this.currentState = 'default';
			}, 300);
		},

		verifyPhonenumber(loginData) {
			this.storedPhoneNumber = loginData;
			this.currentState = 'verification';
		}
	}
};
</script>

<style lang="scss" scoped>
.btn-close-overlay {
	float: right;
	margin: -6px -18px 0 0;
	font-size: 36px;
	line-height: 1;
	color: inherit;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	@media only screen and (max-width: 767px) {
		float: left;
	}

	&:hover {
		color: #000;
		text-decoration: none;
	}

	&::after {
		display: block;
		font-weight: normal;
		text-align: center;
	}
}
</style>

<style lang="scss">
.modal-login {
	pointer-events: auto;

	.modal-content {
		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}

	.modal-dialog {
		width: 360px;
		margin: 30px auto 0;
		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}

	&.modal-login-select {
		padding-top: 160px;
	}

	.modal-header,
	.login-header-divider {
		display: none;
	}

	.modal-exit {
		padding: 0;
		margin-bottom: 36px;
		@media (min-width: 768px) {
			border-bottom: 0;
		}
	}

	.modal-body {
		padding: 30px 38px !important;
		background-color: #fff;
	}

	.modal-footer {
		padding: 0;
		border-top: 0;
	}
}
</style>
