<template>
	<div class="o-t-p-input-wrapper">
		<p class="o-t-p-input-wrapper__description">{{ stateDescription }}</p>

		<div class="o-t-p-input-wrapper__otp-input">
			<bg-pin v-model="codeValue" :error="isInvalid" />
		</div>

		<mami-loading-circle v-show="isLoadingVerification" />

		<div class="o-t-p-input-wrapper__footer">
			<p v-if="!isInvalid" class="o-t-p-input-wrapper__footer-request-otp">
				<a
					v-if="resendCounter <= 0"
					class="text-center"
					@click="handleResendOtp"
				>
					<strong>
						Kirim ulang kode
						<bg-icon
							class="o-t-p-input-wrapper__reload-icon"
							name="reload"
							size="sm"
						></bg-icon>
					</strong>
				</a>
				<span v-else class="text-center">
					Tunggu
					<span class="counter">{{ resendCounter }} detik</span>
					untuk kirim ulang kode
				</span>
			</p>

			<p v-else class="o-t-p-input-wrapper__footer-invalid-otp">
				Kode verifikasi salah.<br />Mohon masukkan kode verifikasi yang kami
				kirim.
			</p>
		</div>
	</div>
</template>

<script>
import { stringMask } from 'Js/@utils/stringMask';
import MamiLoadingCircle from 'Js/@components/MamiLoadingCircle';
import { BgIcon, BgPin } from 'bangul-vue';

export default {
	name: 'OTPInputWrapper',
	components: {
		MamiLoadingCircle,
		BgIcon,
		BgPin
	},
	props: {
		contactType: {
			type: String,
			required: true
		},
		contactValue: {
			type: String,
			required: true
		},
		methodLabel: {
			type: String,
			default: ''
		},
		isLoadingVerification: {
			type: Boolean,
			default: false
		},
		resendCounter: {
			type: Number,
			required: true
		},
		isInvalid: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			codeValue: ''
		};
	},
	computed: {
		maskedContactValue() {
			return this.contactType === 'phone_number'
				? stringMask(this.contactValue, 4)
				: stringMask(this.contactValue, null, /.{1,4}(?=@?)/, '****');
		},
		stateDescription() {
			return this.contactType === 'phone_number'
				? `Mohon isi kolom berikut dengan kode verifikasi yang kami kirimkan ke ${this.maskedContactValue} melalui ${this.methodLabel}.`
				: `Mohon isi kolom berikut dengan kode verifikasi yang kami kirimkan ke ${this.maskedContactValue}`;
		}
	},
	watch: {
		codeValue: {
			handler(value) {
				// autocheck OTP after inputed 4 digits
				value.length === 4
					? this.$emit('verify-otp', value)
					: this.$emit('reset-validation');
			}
		}
	},
	methods: {
		handleResendOtp() {
			this.$emit('resend-otp');
		}
	}
};
</script>

<style lang="scss" scoped>
.o-t-p-input-wrapper {
	margin-top: 16px;

	&__label {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}

	&__description {
		margin-bottom: 50px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}

	&__otp-input {
		width: 265px;
		margin: auto;
		margin-bottom: 20px;
		overflow: hidden;
	}

	&__otp-input-group {
		&.error {
			.o-t-p-input-wrapper__otp-input-digit {
				color: #da3438;
				border-bottom-color: #da3438 !important;
			}
		}

		.o-t-p-input-wrapper__otp-input-digit {
			max-width: 48px;
			margin: 0 8px;
			font-size: 24px;
			text-align: center;
			border: unset;
			border-bottom: 2px solid #757575;

			&:focus {
				outline: none;
			}

			&.active {
				border-bottom-color: #1baa56;
			}
		}
	}

	&__reload-icon {
		position: relative;
		top: 3px;
		left: 6px;
	}

	&__footer {
		margin-top: 16px;

		&-request-otp {
			margin-bottom: 0;
			text-align: center;

			.counter {
				font-weight: bold;
			}
		}

		&-invalid-otp {
			font-size: 16px;
			color: #da3438;
			text-align: center;
		}
	}
}
</style>
