<template>
	<div class="otp-method-selection-wrapper">
		<div
			v-for="(item, i) in mappedMethodItems"
			:key="`method-${i}`"
			class="otp-method-selection-wrapper__item"
			@click="selectMethod(item)"
		>
			<span class="otp-method-selection-wrapper__item-icon">
				<bg-icon :name="item.icon" />
			</span>
			<span class="otp-method-selection-wrapper__item-text">
				{{ item.text }}
			</span>
		</div>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';

import { stringMask } from 'Js/@utils/stringMask';

export default {
	name: 'OTPMethodSelectionWrapper',
	components: {
		BgIcon
	},
	props: {
		methodItems: {
			type: Array,
			required: true,
			validator: value => {
				// Please make sure the array items contain every of these keys.
				const mandatoryKeys = ['key', 'label', 'value'];

				return (
					value.length &&
					value.every(eachValue =>
						mandatoryKeys.every(key =>
							Object.hasOwnProperty.call(eachValue, key)
						)
					)
				);
			}
		}
	},
	data() {
		return {
			/**
			 * Current available configs for OTP Methods, such as Chat, WhatsApp, and
			 * Email.
			 * Please add or change if there's any design/product adjustments.
			 */
			methodConfigs: [
				{
					key: 0,
					icon: 'chat',
					preText: 'Kirim kode verifikasi via SMS ke '
				},
				{
					key: 1,
					icon: 'whatsapp',
					preText: 'Kirim kode verifikasi via WhatsApp ke '
				},
				{
					key: 2,
					icon: 'email',
					preText: 'Kirim kode verifikasi ke '
				}
			]
		};
	},
	computed: {
		mappedMethodItems() {
			return this.methodItems.map(item => {
				const key = item.key;
				const methodConfig = this.methodConfigs.find(
					config => config.key === key
				) || {
					icon: '',
					preText: ''
				};

				return {
					key,
					label: item.label,
					icon: methodConfig.icon,
					text: `${methodConfig.preText}${
						key === 2
							? stringMask(item.value, null, /.{1,4}(?=@?)/, '****')
							: stringMask(item.value, 4)
					}`
				};
			});
		}
	},
	methods: {
		selectMethod(item) {
			const sentItem = {
				key: item.key,
				label: item.label
			};

			this.$emit('select', sentItem);
		}
	}
};
</script>

<style lang="scss" scoped>
.otp-method-selection-wrapper {
	padding-top: 12px;

	&__item {
		display: flex;
		width: 100%;
		padding: 24px 22px;
		cursor: pointer;
		border-radius: 8px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

		&:not(:first-child) {
			margin-top: 16px;
		}

		&-icon {
			width: 20%;
		}

		&-text {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
	}
}
</style>
