<template>
	<div class="manage-booking-props-selections">
		<mami-checkbox
			v-model="isSelectAllChecked"
			class="manage-booking-props-selections__checkbox"
			:class="{ '--checked': isSelectAllChecked }"
		>
			<span class="checkbox-content">
				Pilih Semua
			</span>
		</mami-checkbox>
		<div
			v-if="numberOfSelected > 0"
			class="manage-booking-props-selections__details"
		>
			<span class="selection-status"> {{ numberOfSelected }} kos dipilih </span>
			<button
				class="btn manage-booking-props-selections__button"
				@click="onSubmit"
			>
				Daftarkan {{ numberOfSelected }} Kos
			</button>
		</div>
	</div>
</template>

<script>
/* istanbul ignore next */
const MamiCheckbox = () =>
	import('Js/@components/mami-components/MamiCheckbox');

export default {
	name: 'ManageBookingPropertyListSelectionControl',
	components: { MamiCheckbox },
	props: {
		numberOfSelected: {
			type: Number,
			default: 0
		},
		isSelectAll: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isSelectAllChecked: false
		};
	},
	watch: {
		/**
		 * Update local isSelectAll boolean value to match parent's
		 * isSelectAll if any changes happened.
		 **/
		isSelectAll(value) {
			this.isSelectAllChecked = value;
		},
		/**
		 * Update parents isSelectAll boolean value to local
		 * isSelectAll if any changes happened.
		 **/
		isSelectAllChecked(value) {
			this.$emit('setIsSelectAll', value);
		}
	},
	methods: {
		onSubmit() {
			this.$emit('submit');
		}
	}
};
</script>

<style lang="scss">
.manage-booking-props-selections {
	&__checkbox {
		.mami-checkbox--toggle-icon {
			background-color: #fff !important;
		}

		&.--checked {
			.mami-checkbox--toggle-icon {
				background-color: #1baa56 !important;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.manage-booking-props-selections {
	display: flex;
	margin-top: 32px;

	&__checkbox {
		padding: 10px 0;

		.checkbox-content {
			font-size: 16px;
			color: #484848;
			letter-spacing: 0;
		}
	}

	&__details {
		display: flex;
		margin-left: 16px;
		align-items: center;
		justify-content: center;

		.selection-status {
			font-size: 16px;
			font-weight: bold;
			color: #484848;
		}
	}

	&__button {
		padding: 10px 40px;
		margin-left: 34px;
		font-size: 14px;
		font-weight: bold;
		line-height: 21px;
		color: #fff;
		background-color: #1baa56;
		border: 0;
		border-radius: 4px;
	}
}
</style>
