<template>
	<div class="manage-booking-props-filter">
		<p class="manage-booking-props-filter__heading">
			Tampilkan Kos Berdasarkan:
		</p>
		<div class="manage-booking-props-filter__buttons">
			<button
				v-for="(item, i) in items"
				:key="i"
				class="btn manage-booking-props-filter__button"
				:class="getFilterButtonClasses(item)"
				:disabled="disableButton"
				@click="onSelect(item.key)"
			>
				{{ item.text }}
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ManageBookingPropertyListFilters',
	props: {
		items: {
			type: Array,
			required: true
		},
		disableButton: {
			type: Boolean,
			default: false
		},
		selectedFilter: {
			type: String,
			default: ''
		}
	},
	methods: {
		getFilterButtonClasses(item) {
			return {
				'--active': this.selectedFilter === item.key,
				'btn-disabled': this.disableButton
			};
		},
		onSelect(value) {
			this.$emit('select', value);
		}
	}
};
</script>

<style lang="scss">
.manage-booking-props-filter {
	&__heading {
		font-size: 14px;
		color: #484848;
	}

	&__button {
		min-width: 80px;
		padding: 11px 20px;
		color: #000;
		text-transform: capitalize;
		background: transparent;
		border: 0.5px solid rgba(219, 219, 219, 0.92);
		border-radius: 30px;
		outline: none;

		&:not(:first-child) {
			margin-left: 16px;
		}

		&:hover,
		&:focus,
		&:active,
		&.--active {
			color: #1baa56;
			text-decoration: none;
			background-color: rgba(27, 170, 86, 0.1);
			border-color: #1baa56;
		}
	}
}
</style>
