<template>
	<section>
		<div></div>
		<!-- line space -->
		<div></div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			name: ''
		};
	},
	// line space
	methods: {
		exampleMethod(input) {
			this.name = input;
		}
	}
};
</script>

<style lang="scss" scoped></style>
