<template>
	<div class="owner-kost-information">
		<div
			v-for="(feature, index) in ownerFeatures"
			:key="`owner-feature-${index}`"
			class="owner-kost-information__feature"
		>
			<bg-icon size="md" :name="feature.icon" :title="feature.title" />
			<span class="owner-kost-information__label">{{ feature.label }}</span>
		</div>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';

export default {
	name: 'DetailKostOwnerFeature',
	components: {
		BgIcon
	},
	props: {
		ownerFeatures: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-kost-information {
	display: flex;
	margin-bottom: 24px;

	@media (max-width: 767px) {
		padding: 0 16px;
		flex-direction: column;
	}

	.owner-kost-information__feature {
		display: flex;
		align-items: center;
		color: #1baa56;

		&:not(:first-of-type) {
			margin: 0 0 0 24px;

			@media (max-width: 767px) {
				margin: 12px 0 0;
			}
		}

		.owner-kost-information__label {
			margin-left: 8px;
			font-size: 16px;
			line-height: 24px;
			color: #404040;
		}
	}
}
</style>
