<template>
	<div class="owner-rate-information">
		<div
			v-for="(rate, index) in bookingAcceptanceRate"
			:key="`owner-rate-${index}`"
			class="owner-rate-information__info"
		>
			<span class="owner-rate-information__title">{{ rate.title }}</span>
			<div class="owner-rate-information__value">
				<bg-icon size="md" :name="rate.icon" :title="rate.iconTitle" />
				<span class="owner-rate-information__label">{{ rate.label }}</span>
			</div>
		</div>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';

export default {
	name: 'DetailKostOwnerRate',
	components: {
		BgIcon
	},
	props: {
		bookingAcceptanceRate: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-rate-information {
	display: flex;

	.owner-rate-information__info {
		position: relative;
		display: block;
		padding: 0 24px 8px;
		flex-shrink: 0;

		&:first-of-type {
			padding-left: 0;
		}

		&:not(:last-of-type) {
			/* stylelint-disable */
			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 60%;
				content: '';
				border-right: 1px solid #e8e8e8;
				transform: translate(-50%, -50%);
			}
			/* stylelint-enable */
		}
	}
}

.owner-rate-information__title {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
	color: #949494;

	@media (max-width: 767px) {
		font-size: 12px;
		line-height: 18px;
	}
}

.owner-rate-information__value {
	display: flex;
	align-items: center;
	color: #404040;

	.owner-rate-information__label {
		margin: 0 0 0 4px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
</style>
