<template>
	<modal
		id="modalDetailRate"
		:value="isShow"
		effect="fade"
		@closed="handleCloseRateModal"
	>
		<div slot="modal-header" class="owner-rate-modal-header">
			<span
				class="owner-rate-modal-header__close"
				@click="handleCloseRateModal"
			>
				<bg-icon name="close" size="md" />
			</span>
		</div>
		<div slot="modal-body" class="owner-rate-modal-content">
			<div
				v-for="(rate, index) in ownerRates"
				:key="`owner-rate-${index}`"
				class="owner-rate-modal-content__each"
			>
				<div class="owner-rate-modal-content__header">
					<bg-icon size="md" :name="rate.icon" :title="rate.title" />
					<span class="owner-rate-modal-content__header-title">{{
						rate.title
					}}</span>
				</div>
				<p class="owner-rate-modal-content__body">
					{{ rate.description }}
				</p>
			</div>
		</div>
	</modal>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import { modal } from 'vue-strap';

export default {
	name: 'DetailKostOwnerRateModal',
	components: {
		BgIcon,
		modal
	},
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		ownerRates: {
			type: Array,
			default() {
				return [];
			}
		}
	},
	methods: {
		handleCloseRateModal() {
			this.$emit('close', false);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalDetailRate {
	.modal-dialog {
		width: 376px;
		margin: 40px auto;
		max-height: calc(100vh - 80px);

		@media (max-width: 767px) {
			width: auto;
			margin: 10px;
			max-height: none;
		}
	}

	.modal-content {
		width: 100%;
		margin: 0 auto;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		border-radius: 16px;
		overflow: hidden;
		border: 0;

		.modal-footer {
			display: none;
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.owner-rate-modal-header {
	position: relative;
	display: block;
	width: 100%;
	height: 80px;

	.owner-rate-modal-header__close {
		position: absolute;
		top: 38px;
		right: 38px;
		line-height: 100%;
		cursor: pointer;

		@media (max-width: 767px) {
			top: 20px;
			right: 20px;
		}
	}
}

.owner-rate-modal-content {
	display: block;
	height: auto;
	max-height: calc(100vh - 160px);
	padding: 0 !important;
	overflow: auto;

	@media (max-width: 767px) {
		max-height: none;
	}

	.owner-rate-modal-content__each {
		display: flex;
		width: 100%;
		padding: 0 24px;
		align-items: center;
		flex-direction: column;

		&:not(:first-of-type) {
			margin-top: 24px;
		}

		&:last-of-type {
			margin-bottom: 48px;
		}
	}
}

.owner-rate-modal-content__header {
	display: flex;
	align-self: flex-start;
	color: #303030;

	.owner-rate-modal-content__header-title {
		margin-left: 8px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
	}
}

.owner-rate-modal-content__body {
	margin: 8px 0 0;
	font-size: 16px;
	line-height: 24px;
	color: #404040;
}
</style>
