<template>
	<div class="owner-information">
		<div class="owner-information__divider">
			<bg-divider />
		</div>
		<div
			v-inviewport:250="handleToggleIsRendered"
			class="owner-information__content"
		>
			<template v-if="isRendered">
				<div class="owner-information__profile">
					<img
						v-lazy="{
							src: ownerPhoto.src,
							error: '/general/img/pictures/navbar/ic_profile.svg',
							loading: '/general/img/pictures/navbar/ic_profile.svg'
						}"
						class="owner-information__profile-img"
						:alt="ownerPhoto.alt"
					/>
					<div class="owner-information__profile-data">
						<span class="owner-information__name">
							{{ ownerName || 'Pemilik Kos' }}
						</span>
						<span class="owner-information__type">
							{{ ownerInformation }}
						</span>
					</div>
				</div>
				<detail-kost-owner-feature
					v-if="ownerFeatures.length"
					:owner-features="ownerFeatures"
				/>
				<div
					v-if="
						bookingAcceptanceRate && bookingAcceptanceRate.ownerRates.length
					"
					class="owner-information__rates"
				>
					<div class="owner-information__rates-data">
						<detail-kost-owner-rate
							:booking-acceptance-rate="bookingAcceptanceRate.ownerRates"
						/>
					</div>
					<button
						class="owner-information__rates-link"
						@click="handleToggleRateModal(true)"
					>
						Tentang statistik
					</button>
				</div>
				<button
					v-if="!isOwner"
					:class="[msgTrackingClass, 'owner-information__chat']"
					@click="openChatModal"
				>
					<span class="owner-information__chat-icon">
						<bg-icon size="md" name="chat" title="tanya pemilik kos" />
					</span>
					Tanya Pemilik Kos
				</button>
				<detail-kost-owner-rate-modal
					:is-show="isRateModalShow"
					:owner-rates="ownerRatesInModal"
					@close="handleToggleRateModal"
				/>
			</template>
			<detail-kost-owner-information-skeleton v-else />
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import EventBus from 'Js/_detail/event-bus';
import { BgIcon, BgDivider } from 'bangul-vue';
import InViewPortDirective from 'Js/@directives/InViewPortDirective';

import DetailKostOwnerRate from './DetailKostOwnerRate';
import DetailKostOwnerFeature from './DetailKostOwnerFeature';
import DetailKostOwnerRateModal from './DetailKostOwnerRateModal';
import DetailKostOwnerInformationSkeleton from './DetailKostOwnerInformationSkeleton';
import MixinBookingAcceptanceRate from 'Js/_detail/mixins/MixinBookingAcceptanceRate';

export default {
	name: 'DetailKostOwnerInformation',
	components: {
		DetailKostOwnerRate,
		DetailKostOwnerFeature,
		DetailKostOwnerRateModal,
		DetailKostOwnerInformationSkeleton,
		BgIcon,
		BgDivider
	},
	directives: InViewPortDirective,
	mixins: [MixinBookingAcceptanceRate],
	data() {
		return {
			tooltipPosition: 'bottom',
			isRateModalShow: false,
			isRendered: false
		};
	},
	computed: {
		ownerName() {
			return _get(this.$store, 'state.detail.owner_name', null);
		},
		ownerPhoto() {
			const photoSource = _get(
				this.$store.state,
				'detail.owner_photo_url',
				null
			);
			const roomTitle = _get(this.$store.state, 'detail.room_title');

			return {
				src: photoSource,
				alt: this.ownerName
					? `${this.ownerName} - ${roomTitle}`
					: 'owner photo placeholder'
			};
		},
		msgTrackingClass() {
			return `track-message ${_get(this.$store.state, 'detail.msg_tracking')}`;
		},
		isBooking() {
			return _get(this.$store.state, 'detail.is_booking', false);
		},
		triggerType() {
			return this.navigator.isMobile ? 'click' : 'hover';
		},
		isOwner() {
			return _get(this.$store.state, 'authCheck.owner', false);
		},
		ownerInformation() {
			const activeFrom = this.isBooking
				? _get(this.bookingAcceptanceRate, 'activeFrom', null)
				: null;

			const ownerInfo = this.ownerName ? 'Pemilik Kos' : '';

			if (ownerInfo && activeFrom)
				return `${ownerInfo} · Aktif sejak ${activeFrom}`;
			if (ownerInfo && !activeFrom) return ownerInfo;
			if (!ownerInfo && activeFrom) return `Aktif sejak ${activeFrom}`;

			return '';
		},
		ownerRatesInModal() {
			if (!this.bookingAcceptanceRate) return;

			const ownerSuccessTransaction = _get(
				this.$store.state,
				'detail.number_success_owner_trx',
				null
			);

			const ownerRates = [...this.bookingAcceptanceRate.ownerRates];

			if (ownerSuccessTransaction) {
				ownerRates.unshift({
					icon: 'booking-success',
					iconTitle: 'jumlah transasksi berhasil',
					title: 'Transaksi Berhasil',
					description:
						'Jumlah seluruh transaksi booking yang berhasil dilakukan pemilik kos ini dengan penyewa.'
				});
			}

			return ownerRates;
		},
		ownerFeatures() {
			const features = [];
			const ownerSuccessTransaction = _get(
				this.$store.state,
				'detail.number_success_owner_trx',
				null
			);
			const isVerifiedOwner = _get(
				this.$store.state,
				'detail.is_verified_owner',
				false
			);

			if (isVerifiedOwner) {
				features.push({
					icon: 'checked-kos',
					label: 'Pemilik kos terverifikasi',
					title: 'status verifikasi'
				});
			}
			if (ownerSuccessTransaction) {
				features.push({
					icon: 'booking-success',
					label: `${ownerSuccessTransaction} transaksi berhasil`,
					title: 'jumlah transaksi berhasil'
				});
			}

			return features;
		}
	},
	methods: {
		openChatModal() {
			EventBus.$emit('openModalChat');
		},
		handleToggleRateModal(payload) {
			this.isRateModalShow = payload;
		},
		handleToggleIsRendered() {
			this.isRendered = !this.isRendered;
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-information {
	.owner-information__divider {
		@media (max-width: 767px) {
			padding: 0 16px;
		}
	}

	.owner-information__content {
		display: block;
		padding: 48px 0;

		@media (max-width: 767px) {
			padding: 32px 0;
			background: #fff;
		}
	}

	.owner-information__profile {
		display: flex;
		height: 56px;
		align-items: center;
		margin-bottom: 24px;

		@media (max-width: 767px) {
			padding: 0 16px;
		}

		.owner-information__profile-img {
			width: 56px;
			height: 56px;
			margin: 0 16px 0 0;
			border-radius: 28px;
			object-fit: cover;

			@media (max-width: 767px) {
				order: 1;
				margin: 0 0 0 16px;
			}
		}

		.owner-information__profile-data {
			display: flex;
			flex: 1;
			min-width: 0;
			flex-direction: column;

			@media (max-width: 991px) {
				max-width: calc(690px - 72px);
			}

			@media (max-width: 767px) {
				max-width: calc(100vw - 104px);
			}
		}

		.owner-information__name {
			max-width: calc(1140px - 384px);
			overflow: hidden;
			font-size: 24px;
			font-weight: 900;
			line-height: 32px;
			color: #303030;
			text-overflow: ellipsis;
			white-space: nowrap;

			@media (max-width: 1199px) {
				max-width: calc(940px - 384px);
			}

			@media (max-width: 991px) {
				max-width: calc(690px - 72px);
			}

			@media (max-width: 767px) {
				max-width: none;
				font-size: 20px;
				line-height: 28px;
			}
		}

		.owner-information__type {
			margin-top: 4px;
			font-size: 14px;
			line-height: 20px;
			color: #949494;
		}
	}

	.owner-information__rates {
		display: block;
		margin-bottom: 32px;

		.owner-information__rates-data {
			display: flex;
			overflow: auto;

			@media (max-width: 767px) {
				padding: 0 16px;
			}
		}

		.owner-information__rates-link {
			padding: 0;
			margin-top: 12px;
			font-size: 12px;
			font-weight: bold;
			line-height: 18px;
			color: #949494;
			cursor: pointer;
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid #949494;
			outline: 0;

			@media (max-width: 767px) {
				margin-left: 16px;
			}
		}
	}

	.owner-information__chat {
		display: flex;
		height: 40px;
		padding: 0 16px;
		align-items: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #1baa56;
		background-color: #fff;
		border: 1px solid #1baa56;
		border-radius: 4px;
		outline: 0;

		@media (max-width: 767px) {
			width: calc(100% - 32px);
			margin: 0 auto;
			justify-content: center;
			font-weight: bold;
		}

		.owner-information__chat-icon {
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
	}
}
</style>
