<template>
	<div class="app-wrapper">
		<navbar-custom
			:show-input-search="true"
			:navigations="navigations"
		></navbar-custom>
		<breadcrumb-trails :contents="profileBreadcrumb"></breadcrumb-trails>
		<div class="container profile-container">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');
export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			profileBreadcrumb: [
				{ name: 'Home', url: '/' },
				{ name: 'User', url: '/user' }
			],
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	},

	mounted() {
		const bannerIsHidden = Cookies.get('bannerHidden');
		if (bannerIsHidden) {
			$('.app-wrapper').addClass('banner-is-hidden');
			Cookies.set('bannerHidden', true, { expires: 1, path: '/' });
		}
	}
};
</script>

<style>
@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
	}
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>

<style scoped>
.profile-container {
	margin: auto;
}
@media (min-width: 768px) {
	.profile-container {
		padding-top: 91px;
	}
}

/*@media (max-width: 991px) {
	.profile-container {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width: 992px) {
	.profile-container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}*/
</style>
