<template>
	<div>
		<div class="dropzone-custom" v-show="!isPhotoExists">
			<p class="dropzone-title">Upload foto profil</p>

			<dropzone
				ref="photo-profile"
				id="photo-profile"
				:options="dropzoneOptions"
				@vdropzone-success="showSuccess"
			>
				<!-- <input type="hidden" name="_token" value="_token"> -->
			</dropzone>
		</div>

		<div class="dropzone-custom" v-show="isPhotoExists">
			<div
				class="dropzone-uploaded"
				:style="'background-image: url( ' + photos.medium + ' );'"
			></div>
			<div
				class="col-md-12 col-xs-12 btn-reset-container"
				v-show="isPhotoExists"
			>
				<button
					type="button"
					class="btn btn-mamigreen-inverse"
					@click="resetPhotos"
				>
					Ganti Foto
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: vue2Dropzone
	},
	data() {
		return {
			dropzoneOptions: {
				url: '/garuda/media',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: true,
				maxFilesize: 5,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: 'Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					media_type: 'user_photo',
					need_watermark: false
				}
			},
			photo_id: 0,
			isPhotoExists: false
		};
	},
	created() {
		if (this.photos != null) {
			this.isPhotoExists = true;
		}
	},
	props: {
		photos: {
			type: Object,
			required: true
		}
	},
	methods: {
		showSuccess(file, response) {
			// console.log('A file was successfully uploaded');
			if (response.media.id !== 0) {
				this.photo_id = response.media.id;
			}
			// console.log(this.photo_id);
		},
		resetPhotos() {
			this.isPhotoExists = !this.isPhotoExists;
		}
	},
	watch: {
		photo_id(val) {
			this.$emit('updated', val);
		}
	}
};
</script>

<style>
.navbar-new {
	z-index: 1000000;
}

.dropzone-custom {
	margin-bottom: 10px;
	text-align: center;
}
.dropzone-title {
	font-weight: bold;
	margin-bottom: 7px;
}
@media (max-width: 1199px) and (min-width: 992px) {
	.dropzone-title {
		height: 42px;
	}
}

.dropzone-custom > .vue-dropzone {
	margin: auto;
	font-family: 'Lato', sans-serif;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #e5e5e5;
}
.dropzone-custom > .vue-dropzone .dz-message > span {
	font-size: 12px;
	font-weight: bold;
	background-color: #1baa56;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	border-color: #1baa56;
}
.dropzone-custom > .vue-dropzone .dz-message > span > .fa {
	/*color: #ddd;*/
}
.dropzone-custom > .vue-dropzone .dz-message > span:active,
.dropzone-custom > .vue-dropzone .dz-message > span:hover,
.dropzone-custom > .vue-dropzone .dz-message > span:focus {
	color: #fff;
	background-color: #109e4b;
	border-color: #109e4b;
	text-decoration: none;
}
.dropzone-custom .dropzone .dz-preview.dz-image-preview {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}
.dropzone-custom .dz-preview .dz-image {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.dropzone-custom .dropzone .dz-preview .dz-image img {
	max-width: 100%;
	border-radius: 50%;
}
.dropzone-custom > .vue-dropzone .dz-preview .dz-details {
	background-color: rgba(39, 171, 39, 0.5);
	padding: 0;
	border-radius: 50%;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 0;
	margin-top: 65px;
	text-align: center;
}
.dropzone .dz-preview .dz-details .dz-filename {
	text-align: center;
}
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove {
	margin: 0;
	font-size: 0.75em;
	font-weight: bold;
	border-radius: 4px;
	bottom: 35px;
}
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:active,
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:hover,
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:focus {
	text-decoration: none;
}
.dropzone-uploaded {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
	border: 2px solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.dropzone-custom .btn-reset-container {
	top: -75px;
}
</style>
