<script>
import myDatepicker from 'vue-datepicker';

export default {
	data() {
		return {
			startTime: {
				time: ''
			},
			endtime: {
				time: ''
			},
			option: {
				type: 'day',
				week: ['Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sb', 'Mg'],
				month: [
					'Januari',
					'Februari',
					'Maret',
					'April',
					'Mei',
					'Juni',
					'Juli',
					'Agustus',
					'September',
					'Oktober',
					'November',
					'Desember'
				],
				format: 'YYYY-MM-DD',
				placeholder: 'YYYY-MM-DD',
				inputStyle: {
					display: 'block !important',
					width: '100% !important',
					height: '34px',
					padding: '6px 12px',
					'font-size': '14px',
					'line-height': '1.42857143',
					color: '#555',
					'background-color': '#fff',
					border: '1px solid #ccc',
					'border-radius': '4px',
					'box-shadow': 'inset 0 1px 1px rgba(0,0,0, .075)',
					transition:
						'border-color ease-in-out .15s, box-shadow ease-in-out .15s'
				},
				color: {
					header: '#109E4B',
					headerText: '#fff',
					checkedDay: '#109E4B'
				},
				buttons: {
					cancel: 'Batal'
				},
				overlayOpacity: 0.5,
				dismissible: true
			},
			timeoption: {
				type: 'min',
				week: ['Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sb', 'Mg'],
				month: [
					'Januari',
					'Februari',
					'Maret',
					'April',
					'Mei',
					'Juni',
					'Juli',
					'Agustus',
					'September',
					'Oktober',
					'November',
					'Desember'
				],
				format: 'YYYY-MM-DD'
			},
			multiOption: {
				type: 'multi-day',
				week: ['Sn', 'Sl', 'Rb', 'Km', 'Jm', 'Sb', 'Mg'],
				month: [
					'Januari',
					'Februari',
					'Maret',
					'April',
					'Mei',
					'Juni',
					'Juli',
					'Agustus',
					'September',
					'Oktober',
					'November',
					'Desember'
				],
				format: 'YYYY-MM-DD'
			},
			limit: [
				{
					type: '',
					available: []
				},
				{
					type: '',
					from: '',
					to: ''
				}
			]
		};
	},
	components: {
		'date-picker': myDatepicker
	},
	watch: {
		'startTime.time'(val) {
			this.$emit('updated', val);
		}
	},
	mounted() {
		this.$watch(
			() => this.$refs.datepicker.showInfo.check,
			val => {
				if (val) {
					$('body,html').css({
						overflow: 'hidden'
					});
				} else {
					$('body,html').css({
						overflow: ''
					});
				}
			}
		);
	},
	methods: {}
};
</script>
<template>
	<div class="card">
		<date-picker
			ref="datepicker"
			:date="startTime"
			:option="option"
			:limit="limit"
		></date-picker>
	</div>
</template>

<style>
.cov-date-body {
	font-family: 'Lato', sans-serif !important;
	margin-top: 30px !important;
}
</style>
