<template>
	<div>
		<!-- <history-kost-list-empty v-if="rooms.length == 0 && isLoading == false" :stat="stat"></history-kost-list-empty> -->
		<div class="profile-container container col-md-6 col-sm-6 col-xs-12">
			<section-title :grid="'col-xs-12'" :text="'Profil'"></section-title>

			<div class="profile-header" v-cloak>
				<div class="profile-picture" v-if="userData.photo == null">
					<img
						src="assets/icons/icon_profile_photo_kosong.png"
						alt="icon_profile_photo_kosong"
					/>
				</div>
				<div
					class="profile-picture"
					v-else
					:style="'background-image: url(' + userData.photo.medium + ')'"
				></div>
				<div class="profile-data-head" v-cloak>
					<p>{{ userData.name }}</p>
					<p>{{ userData.gender }}</p>
					<p>{{ userData.birthday }}</p>
				</div>
				<div class="profile-header-edit-container visible-lg">
					<router-link
						class="btn btn-mamigreen-inverse btn-profile"
						to="/user/edit"
						exact
						>Edit Profile</router-link
					>
					<br />
					<a
						href="/forum"
						class="btn btn-mamigreen-inverse btn-profile"
						v-if="visitedForum === true"
						style="margin-top: 10px;"
						>Kembali ke Forum</a
					>
					<div style="padding: 5px;"></div>
				</div>
			</div>
			<div class="profile-caption">
				<table class="table borderless" v-cloak>
					<tbody>
						<tr>
							<td class="table-title">Telepon</td>
							<td v-if="userData.phone == 0">-</td>
							<td v-else>{{ userData.phone }}</td>
						</tr>
						<tr>
							<td class="table-title">E-mail</td>
							<td v-if="userData.email == null">-</td>
							<td v-else>{{ userData.email }}</td>
						</tr>
						<tr>
							<td class="table-title">Kota Asal</td>
							<td v-if="userData.city == null">-</td>
							<td v-else>{{ userData.city }}</td>
						</tr>

						<tr v-for="job in jobData">
							<td class="table-title">{{ job.title }}</td>
							<td class="text-capitalize">{{ job.description }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="button-wrapper profile-edit-button hidden-lg">
				<router-link
					class="btn btn-mamigreen-inverse btn-profile"
					to="/user/edit"
					exact
					>Edit Profile</router-link
				>
				<br />
				<a
					href="/forum"
					class="btn btn-mamigreen-inverse btn-profile"
					v-if="visitedForum === true"
					style="margin-top: 10px;"
					>Kembali ke Forum</a
				>
			</div>
		</div>

		<div class="checkin-container col-md-6 col-sm-6 col-xs-12">
			<section-title
				v-if="kostData == null"
				:grid="'col-xs-12 stretch'"
				:text="'Cari kos saya'"
			></section-title>
			<section-title
				v-else
				:grid="'col-xs-12 stretch'"
				:text="'Saat ini saya tinggal di kos'"
			></section-title>

			<div class="clearfix"></div>
			<div v-if="kostData == null">
				<p>
					Apabila Anda check in nanti kami akan memberikan informasi diskon dan
					update di sekitar lokasi Anda.
				</p>
				<div class="button-wrapper button-wrapper-right">
					<router-link
						class="btn btn-mamigreen-inverse btn-profile"
						to="/user/search"
						v-if="kostData != null"
						exact
						>Pindah Kost</router-link
					>
					<router-link
						class="btn btn-mamigreen-inverse btn-profile"
						to="/user/search"
						v-else
						exact
						>Cari Kost</router-link
					>
				</div>
			</div>
			<!-- kost info placed here -->
			<div v-else class="checkin-kost flex spaced-between vertical-sm">
				<!-- review button shows up if user has checked in a room -->
				<span class="">
					<div class="room-title">{{ kostData['room-title'] }}</div>
					<p class="room-duration" v-if="kostTime != ''">
						Tinggal disini selama <label>{{ kostTime }}</label>
					</p>
				</span>

				<span class="">
					<div
						class="button-wrapper button-wrapper-right"
						v-if="kostData != null"
					>
						<a
							role="button"
							:href="kostData.share_url + '?review=true'"
							v-if="kostData.available_rating"
							class="btn btn-mamigreen-inverse btn-profile"
							>Tambah Review</a
						>
						<a
							role="button"
							:href="kostData.share_url + '?review=true'"
							v-else
							class="btn btn-mamigreen-inverse btn-profile"
							>Lihat Review</a
						>
					</div>
					<!-- search room or change room depends on wheter user has checked in before -->
					<div class="button-wrapper button-wrapper-right">
						<router-link
							class="btn btn-mamigreen-inverse btn-profile"
							to="/user/search"
							v-if="kostData != null"
							exact
							>Pindah Kost</router-link
						>
						<router-link
							class="btn btn-mamigreen-inverse btn-profile"
							to="/user/search"
							v-else
							exact
							>Cari Kost</router-link
						>
					</div>
				</span>
			</div>

			<!-- <div class="checkin-kost col-md-7 col-sm-12" v-if="kostData == null">
				<p>Apabila Anda check in nanti kami akan memberikan informasi diskon dan update di sekitar lokasi Anda.</p>
				<div class="button-wrapper hidden-sm hidden-xs">
					<router-link class="btn btn-mamigreen-inverse btn-profile" to="/user/search" exact>Cari Kost</router-link>
				</div>
			</div>
			<div class="checkin-kost col-md-7 col-sm-12" v-else>
				<kost-list :room="kostData"></kost-list>
				<div class="button-wrapper hidden-sm hidden-xs">
					<router-link class="btn btn-mamigreen-inverse btn-profile" to="/user/search" exact>Pindah Kost</router-link>
				</div>
			</div>

			<div class="checkin-caption col-md-5 col-sm-12">
				<p v-if="kostData != null">Tinggal disini sejak <label>{{ kostTime }}</label></p>
				<div class="button-wrapper visible-sm visible-xs"  v-if="kostData != null">
					<router-link class="btn btn-mamigreen-inverse btn-profile" to="/user/search" exact>Pindah Kost</router-link>
				</div>
				<div class="button-wrapper visible-sm visible-xs" v-else>
					<router-link class="btn btn-mamigreen-inverse btn-profile" to="/user/search" exact>Cari Kost</router-link>
				</div>
				<div class="button-wrapper"  v-if="kostData != null">
					<a role="button" :href="kostData.share_url + '?review=true'" v-if="kostData.available_rating" class="btn btn-mamigreen-inverse btn-profile">Tambah Review</a>
					<a role="button" :href="kostData.share_url + '?review=true'" v-else class="btn btn-mamigreen-inverse btn-profile">Lihat Review</a>
				</div>
			</div> -->

			<section-title
				:grid="'col-xs-12 stretch'"
				:text="'Status Lamaran Kerja'"
			></section-title>
			<!-- if havent sent any application -->
			<div class="clearfix"></div>
			<p v-if="userApplicationCount == 0">
				Temukan peluang kerja mulai dari kerja part-time di sekitarmu sampai
				full-time di mana saja.
			</p>
			<p><a href="/loker">Cari Lowongan Kerja</a></p>
			<!-- else -->
			<div class="application-container" v-if="userApplicationCount > 0">
				<div
					class="application-list flex spaced-between"
					v-for="application in userApplicationData"
				>
					<span class="application-title"
						><b>{{ application.name }}</b> {{ application.date }}</span
					>
					<span
						class="application-tag sent"
						v-if="application.status == 'Terkirim'"
						>{{ application.status }}</span
					>
					<span
						class="application-tag reviewed"
						v-if="application.status == 'Diproses'"
						>{{ application.status }}</span
					>
					<span
						class="application-tag expired"
						v-if="application.status == 'Berakhir'"
						>{{ application.status }}</span
					>
				</div>
			</div>

			<!-- <button v-if="userApplicationCount > 5" class="btn btn-mamigreen-inverse btn-profile btn-see-more">Lihat Lebih Banyak</button> -->
		</div>

		<div
			id="modalPostCheckin"
			class="modal fade"
			role="dialog"
			v-if="kostData != null && kostData.available_rating"
		>
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body">
						<p>Terimakasih sudah check in di kost Anda,</p>
						<p class="space-bottom">silakan review kost Anda.</p>
						<div class="button-wrapper">
							<a
								role="button"
								:href="kostData.share_url + '?review=true'"
								class="btn btn-mamiorange btn-profile"
								>Review Kost Saya</a
							>
						</div>
						<div class="button-wrapper">
							<a
								role="button"
								class="btn btn-mamiorange-inverse btn-profile"
								data-dismiss="modal"
								>Nanti Saja</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			id="modalPostUpdate"
			class="modal fade"
			role="dialog"
			v-if="kostData == null"
		>
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body">
						<p>Terimakasih sudah melakukan update pada profil Anda,</p>
						<p class="space-bottom">
							Apakah Anda ingin melakukan check in sekarang.
						</p>
						<div class="button-wrapper">
							<a
								role="button"
								href="user/search"
								class="btn btn-mamiorange btn-profile"
								>Check In Sekarang</a
							>
						</div>
						<div class="button-wrapper">
							<a
								role="button"
								class="btn btn-mamiorange-inverse btn-profile"
								data-dismiss="modal"
								>Nanti Saja</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<mami-loading
			ref="mamiLoading"
			@closed="showPostProcessModal"
		></mami-loading>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinGetQueryString, mixinScrollTop],

	data() {
		return {
			userData: {},
			userApplicationData: [],
			userApplicationCount: 0,
			kostTime: '',
			kostData: {},
			jobData: [],
			isLoading: false
		};
	},
	created() {},
	mounted() {
		// if (!this.isDataLoaded) {
		// 	this.getUser();
		// }
		this.getUser();
		this.getUserApplication();
	},
	computed: {
		visitedForum() {
			return this.getQueryString('forum') === 'true' ? true : false;
		}
		// this whole commented section was $store data method
		// ===================================================
		// userData () {
		// 	return this.$store.state.userData;
		// },
		// isDataLoaded () {
		// 	return this.$store.state.extras.isDataLoaded;
		// },
		// kostTime () {
		// 	return this.$store.state.kostTime;
		// },
		// kostData () {
		// 	return this.$store.state.kostData;
		// },
		// jobData () {
		// 	return this.$store.state.jobData;
		// }
	},
	props: {},
	methods: {
		getUser() {
			this.$refs.mamiLoading.openModal();
			axios
				.get('/user/profile')
				.then(response => {
					if (response.data.status) {
						// this.userData = response.data.data;
						this.userData = response.data.profile;
						this.kostData = response.data.kos;
						this.kostTime = response.data.kos_time;
						this.jobData = response.data.data;
						// this.$store.commit('setUserData', response.data.profile);
						// this.$store.commit('setKostData', response.data.kos);
						// this.$store.commit('setKostTime', response.data.kos_time);
						// this.$store.commit('setJobData', response.data.data);
						// this.$store.commit('changeDataLoaded', true);
						this.$refs.mamiLoading.closeModal();
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getUserApplication() {
			axios
				.get('/user/vacancy/apply')
				.then(response => {
					if (response.data.total !== 0) {
						this.userApplicationData = response.data.data;
						this.userApplicationCount = response.data.total;
					}
					this.closeSwalLoading();
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		showPostProcessModal() {
			if (this.getQueryString('post_checkin') == 'true') {
				$('#modalPostCheckin').modal('show');
			}
			if (this.getQueryString('post_update') == 'true') {
				$('#modalPostUpdate').modal('show');
			}
		},
		openRoom(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.spaced-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

@media (max-width: 991px) {
	.vertical-sm {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.checkin-kost .button-wrapper-right {
		text-align: center;
	}
}

.profile-header {
	padding: 0 15px;
	border-bottom: 1px #eee solid;
}

.profile-picture {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 15px 15px 0;
	background-size: cover;
	background-position: center center;
}

.profile-picture img {
	max-height: 100px;
	max-width: 100px;
	border-radius: 50%;
}

.profile-data-head {
	display: inline-block;
	height: 120px;
	vertical-align: top;
}

.profile-header-edit-container {
	display: inline-block;
	width: auto;
	float: right;
}

.profile-caption {
	padding: 0 15px;
	border-bottom: 1px #eee solid;
}

.profile-edit-button {
	margin: 10px 0;
}

.table-title {
	width: 115px;
	color: #aaa;
}

.checkin-container {
}
.checkin-kost {
}
.checkin-caption {
}

.room-title {
	text-transform: uppercase;
	font-weight: 600;
	color: #1baa56;
	font-size: 15px;
	line-height: 35px;
}
.room-duration {
	color: #666;
}

.button-wrapper {
	text-align: center;
	margin-bottom: 10px;
}
.button-wrapper-right {
	text-align: right;
}

@media (max-width: 767px) {
	.profile-container {
		margin-top: 50px;
	}
	.checkin-container {
		margin-bottom: 25px;
	}
}

.table-responsive,
.borderless td,
.borderless th,
.borderless tbody {
	border: none;
}

.btn-profile {
	width: 150px;
}

#modalPostCheckin .modal-content {
	text-align: center;
}
#modalPostUpdate .modal-content {
	text-align: center;
}

.space-bottom {
	margin-bottom: 25px;
}

.application-container {
}
.application-title {
	color: #666;
}
.application-title b {
	color: #000;
	font-weight: 600;
	display: block;
}
/*
@media (max-width: 991px) {
	.application-title b {
	}
	.application-title span {
		display: none;
	}
}
*/
.application-list {
	margin-top: 10px;
}

.application-tag {
	font-size: 12px;
	padding: 2px;
	color: #fff;
	width: 65px;
	min-width: 65px;
	height: 22px;
	text-align: center;
	letter-spacing: 0.3px;
	border-radius: 7px;
}
.application-tag.sent {
	background-color: #00aa41;
}
.application-tag.reviewed {
	background-color: #5784d3;
}
.application-tag.expired {
	background-color: #383746;
}

.btn-see-more {
	float: right;
	margin-top: 15px;
}
</style>
