<template>
	<div class="container">
		<form @submit.prevent="submitUpdate">
			<div class="edit-photo">
				<div class="photo-container col-md-4 col-sm-5 col-xs-12">
					<upload-photo
						@updated="onPhotoUploaded"
						:photos="photo_url"
					></upload-photo>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="edit-main col-md-4 col-sm-5 col-xs-12">
				<div class="form-group">
					<label for="name-input"
						>Nama <span class="text-danger">*</span></label
					>
					<input
						type="text"
						class="form-control"
						id="name-input"
						v-model="name"
						placeholder="Masukan nama Anda disini"
						required
					/>
				</div>
				<div class="form-group">
					<label for="gender-input" class="clearfix"
						>Jenis Kelamin <span class="text-danger">*</span></label
					>
					<!-- <div>
						<label class="radio-inline"><input type="radio" name="gender-input" value="male" v-model="gender"
							:checked="gender == 'Laki-Laki'" >Laki-laki</label>
						<label class="radio-inline"><input type="radio" name="gender-input" value="female" v-model="gender"
							:checked="gender == 'Perempuan'" >Perempuan</label>
					</div> -->
					<div>
						<div class="radio radio-success radio-inline">
							<input
								type="radio"
								id="gender-input-male"
								name="gender-input-male"
								value="male"
								v-model="gender"
							/>
							<label for="gender-input-male">
								Laki-laki &nbsp;&nbsp;&nbsp;</label
							>
						</div>
						<div class="radio radio-success radio-inline">
							<input
								type="radio"
								id="gender-input-female"
								name="gender-input-female"
								value="female"
								v-model="gender"
							/>
							<label for="gender-input-female"> Perempuan </label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="birthday-input"
						>Tanggal Lahir <span class="text-danger">*</span></label
					>
					<!-- <input type="text" class="form-control" id="birthday-input" v-model="birthday" placeholder="YYYY-MM-DD" required> -->
					<birthday-picker
						ref="birthday"
						id="birthday-input"
						v-model="birthday"
						@updated="onDateUpdated"
					></birthday-picker>
				</div>
				<div class="form-group">
					<label for="email-input"
						>E-mail <span class="text-danger">*</span></label
					>
					<input
						type="text"
						class="form-control"
						id="email-input"
						v-model="email"
						placeholder="Tulis e-mail Anda"
						required
					/>
				</div>
				<div class="form-group">
					<label for="address-input">Kota Asal</label>
					<input
						type="text"
						class="form-control"
						id="address-input"
						v-model="city"
						placeholder="Tulis dari mana Anda berasal"
					/>
				</div>
				<div class="form-group">
					<label for="education-input">Pendidikan Terakhir</label>
					<input
						type="text"
						class="form-control"
						id="education-input"
						v-model="education"
						placeholder="Tulis pendidikan terakhir Anda"
					/>
				</div>
			</div>

			<div class="edit-misc col-md-6 col-sm-7 col-xs-12">
				<div class="form-group">
					<label for="phone-input"
						>Telepon <span class="text-danger">*</span></label
					>
					<input
						type="tel"
						class="form-control"
						id="phone-input"
						v-model="phone"
						placeholder="Tulis nomor telepon atau HP Anda"
						min="0"
						inputmode="numeric"
						pattern="^0(\d{3,4}-?){2}\d{3,4}$"
						required
					/>
				</div>

				<div class="form-group">
					<label for="jobs-input"
						>Pekerjaan (Pilih salah satu di bawah ini)
						<span class="text-danger">*</span></label
					>
					<div>
						<div class="btn-group colors">
							<label
								class="btn btn-mamigreen-inverse"
								:class="isRadio1Active ? 'active' : ''"
							>
								<input
									type="radio"
									name="jobs-input"
									value="kerja"
									v-model="jobs"
									@click="activateRadio('kerja')"
								/>
								Kerja
							</label>
							<label
								class="btn btn-mamigreen-inverse"
								:class="isRadio2Active ? 'active' : ''"
							>
								<input
									type="radio"
									name="jobs-input"
									value="kuliah"
									v-model="jobs"
									@click="activateRadio('kuliah')"
								/>
								Kuliah
							</label>
							<label
								class="btn btn-mamigreen-inverse"
								:class="isRadio3Active ? 'active' : ''"
							>
								<input
									type="radio"
									name="jobs-input"
									value="lainnya"
									v-model="jobs"
									@click="activateRadio('lainnya')"
								/>
								Lainnya
							</label>
						</div>
					</div>
				</div>

				<div v-show="jobs == 'kerja'">
					<div class="form-group">
						<label for="position-input">Posisi</label>
						<input
							type="text"
							class="form-control"
							id="position-input"
							v-model="position"
							placeholder="Tulis posisi Anda disini"
						/>
					</div>
					<div class="form-group">
						<label for="workplace-input">Nama Kantor</label>
						<input
							type="text"
							class="form-control"
							id="workplace-input"
							v-model="work_place"
							placeholder="Tulis nama kantor Anda disini"
						/>
					</div>
				</div>
				<div v-show="jobs == 'kuliah'">
					<div class="form-group">
						<label for="major-input">Jurusan</label>
						<input
							type="text"
							class="form-control"
							id="major-input"
							v-model="major"
							placeholder="Tulis jurusan Anda disini"
						/>
					</div>
					<div class="form-group">
						<label for="university-input">Nama Universitas</label>
						<input
							type="text"
							class="form-control"
							id="university-input"
							v-model="university"
							placeholder="Tulis nama universitas Anda disini"
						/>
					</div>
					<div class="form-group">
						<label for="semester-input">Semester</label>
						<input
							type="number"
							class="form-control"
							id="semester-input"
							v-model="semester"
							placeholder="Tulis semester Anda saat ini"
							min="0"
							inputmode="numeric"
							pattern="[0-9]*"
						/>
					</div>
				</div>
				<div v-show="jobs == 'lainnya'">
					<div class="form-group">
						<label for="description-input">Deskripsi</label>
						<input
							type="text"
							class="form-control"
							id="description-input"
							v-model="description"
							placeholder="Deskripsikan tentang Anda disini"
						/>
					</div>
				</div>

				<div class="edit-misc-footer">
					<p><span class="text-danger">*</span> <b>Wajib diisi</b></p>
					<p>
						Apabila Anda check in nanti kami akan memberikan informasi diskon
						dan update disekitar lokasi Anda.
					</p>
					<div class="button-wrapper">
						<button
							type="button"
							class="btn btn-mamigreen-inverse btn-profile"
							@click="goToSearch"
						>
							Cari Kost Saya
						</button>
					</div>
					<div class="button-wrapper">
						<router-link
							class="btn btn-mamiorange-inverse btn-profile"
							to="."
							exact
							>Batal</router-link
						>
					</div>
					<div class="button-wrapper">
						<button type="submit" class="btn btn-mamiorange btn-profile">
							SIMPAN
						</button>
					</div>
				</div>
			</div>
		</form>

		<div id="modalPostCheckinOnEdit" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body">
						<p>Terimakasih sudah check in di kost Anda,</p>
						<p class="space-bottom">
							silakan lanjutkan melengkapi profil Anda.
						</p>
						<div class="button-wrapper">
							<a
								role="button"
								class="btn btn-mamiorange-inverse btn-profile"
								data-dismiss="modal"
								>OK !</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<mami-loading ref="mamiLoading"></mami-loading>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinAlertError from 'Js/@mixins/MixinAlertError';
export default {
	mixins: [mixinGetQueryString, mixinAlertError],
	data() {
		return {
			name: '',
			email: '',
			city: '',
			education: '',
			birthday: '',
			gender: '',
			jobs: '',
			photo_id: null,
			photo_url: {},
			position: '',
			work_place: '',
			major: '',
			university: '',
			semester: '',
			description: '',
			phone: '',
			position_container: '',
			work_place_container: '',
			semester_container: '',
			description_container: '',
			isLoading: false,
			isRadio1Active: false,
			isRadio2Active: false,
			isRadio3Active: false,
			showAddPhotos: false
		};
	},
	created() {},
	mounted() {
		if (this.getQueryString('ref') == 'detail') {
			this.name = JSON.parse(sessionStorage.userData).name;
			this.email = JSON.parse(sessionStorage.userData).email;
			this.city = JSON.parse(sessionStorage.userData).city;
			this.education = JSON.parse(sessionStorage.userData).education;
			this.birthday = JSON.parse(sessionStorage.userData).birthday;
			this.gender = JSON.parse(sessionStorage.userData).gender;
			this.photo_id = JSON.parse(sessionStorage.userData).photo_id;
			this.phone = JSON.parse(sessionStorage.userData).phone;
			this.jobs = JSON.parse(sessionStorage.userData).jobs;
			if (this.jobs == 'kerja') {
				this.position = JSON.parse(sessionStorage.userData).position;
				this.work_place = JSON.parse(sessionStorage.userData).work_place;
			}
			if (this.jobs == 'kuliah') {
				this.major = JSON.parse(sessionStorage.userData).position;
				this.university = JSON.parse(sessionStorage.userData).work_place;
				this.semester = JSON.parse(sessionStorage.userData).semester;
			}
			if (this.jobs == 'lainnya') {
				this.description = JSON.parse(sessionStorage.userData).description;
			}

			$('#modalPostCheckinOnEdit').modal('show');
		} else {
			this.getUser();
		}
	},
	computed: {
		// name () {
		// 	return this.$store.state.userData.name;
		// },
		// email () {
		// 	return this.$store.state.userData.email;
		// },
		// city () {
		// 	return this.$store.state.userData.city;
		// },
		// education () {
		// 	return this.$store.state.userData.last_education;
		// },
		userData() {
			return this.$store.state.userData;
		},
		birthdayData() {
			return this.$store.state.birthdayData;
		}
	},
	watch: {
		'$emit.birthdayPicker.startTime.time'(val) {}
	},
	props: {},
	methods: {
		getUser() {
			this.$refs.mamiLoading.openModal();
			axios
				.get('/user/edit')
				.then(response => {
					if (response.data.status) {
						this.$refs.mamiLoading.closeModal();
						this.name = response.data.data.name;
						this.email = response.data.data.email;
						this.position = response.data.data.work;
						this.work_place = response.data.data.work_place;
						this.birthday = response.data.data.birthday.substr(0, 10);

						this.$refs.birthday.startTime.time = this.birthday;

						this.phone = response.data.data.phone;

						if (response.data.data.gender == 'Perempuan') {
							this.gender = 'female';
						} else {
							this.gender = 'male';
						}

						if (response.data.data.jobs == 'kerja') {
							this.jobs = 'kerja';
							this.activateRadio('kerja');
						} else if (response.data.data.jobs == 'kuliah') {
							this.jobs = 'kuliah';
							this.activateRadio('kuliah');
						} else if (response.data.data.jobs == 'lainnya') {
							this.jobs = 'lainnya';
							this.activateRadio('lainnya');
						}

						this.education = response.data.data.last_education;
						this.city = response.data.data.city;

						if (this.jobs == 'kerja') {
							this.position = response.data.data.work;
							this.work_place = response.data.data.work_place;
						} else if (this.jobs == 'kuliah') {
							this.major = response.data.data.work;
							this.university = response.data.data.work_place;
							this.semester = response.data.data.semester;
						} else if (this.jobs == 'lainnya') {
							this.description = response.data.data.description;
						}

						this.photo_id = response.data.data.photo_id;
						this.photo_url = response.data.data.photo;
					} else {
						this.$refs.mamiLoading.closeModal();
					}
				})
				.catch(error => {
					this.$refs.mamiLoading.closeModal();
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
					bugsnagClient.notify(error);
				});
		},

		submitUpdate() {
			if (this.jobs == 'kerja') {
				this.position_container = this.position;
				this.work_place_container = this.work_place;
				this.semester_container = '';
			}
			if (this.jobs == 'kuliah') {
				this.position_container = this.major;
				this.work_place_container = this.university;
				this.semester_container = this.semester;
			}
			if (this.jobs == 'lainnya') {
				this.position_container = '';
				this.work_place_container = '';
				this.semester_container = '';
				this.description_container = this.description;
			}

			if (
				this.name != '' &&
				this.birthday != '' &&
				this.gender != '' &&
				this.email != '' &&
				this.phone != '' &&
				this.job != ''
			) {
				this.$refs.mamiLoading.openModal();
				axios
					.post('/user/update', {
						_token: this.$store.state.token,
						name: this.name,
						birthday: this.birthday,
						gender: this.gender,
						email: this.email,
						phone: this.phone,
						education: this.education,
						city: this.city,
						photo_id: this.photo_id,
						jobs: this.jobs,
						position: this.position_container,
						work_place: this.work_place_container,
						semester: this.semester_container,
						description: this.description_container
					})
					.then(response => {
						if (response.data.status) {
							this.$refs.mamiLoading.closeModal();
							swal({
								title: 'Berhasil',
								text: 'Profil berhasil di edit',
								type: 'success',
								timer: 3000,
								allowOutsideClick: false,
								confirmButtonColor: '#1BAA56',
								onOpen() {
									swal.showLoading();
								}
							}).then(
								() => {},
								dismiss => {
									// location.replace();
									this.$router.push({
										path: '/user',
										query: { post_update: 'true' }
									});
								}
							);
						} else {
							this.$refs.mamiLoading.closeModal();
							this.showError(response.data.message);
						}
					})
					.catch(error => {
						this.$refs.mamiLoading.closeModal();
						alert(error);
						bugsnagClient.notify(error);
					});
			} else {
				alert('Lengkapi data Anda dulu sebelum melanjutkan');
			}
		},

		activateRadio(param) {
			if (param == 'kerja') {
				this.isRadio1Active = true;
				this.isRadio2Active = false;
				this.isRadio3Active = false;
			} else if (param == 'kuliah') {
				this.isRadio1Active = false;
				this.isRadio2Active = true;
				this.isRadio3Active = false;
			} else if (param == 'lainnya') {
				this.isRadio1Active = false;
				this.isRadio2Active = false;
				this.isRadio3Active = true;
			}
		},

		onDateUpdated(val) {
			this.birthday = val;
		},

		onPhotoUploaded(val) {
			this.photo_id = val;
		},

		goToSearch() {
			sessionStorage.setItem(
				'userData',
				JSON.stringify({
					name: this.name,
					birthday: this.birthday,
					gender: this.gender,
					email: this.email,
					city: this.city,
					education: this.education,
					jobs: this.jobs,
					phone: this.phone,
					photo_id: this.photo_id,
					position: this.position,
					work_place: this.work_place,
					semester: this.semester,
					description: this.description
				})
			);

			// get
			// var obj = JSON.parse(sessionStorage.userData)
			// var obj.name obj.birthday etc

			window.open('/user/search?ref=edit', '_self');
		}
	}
};
</script>

<style scoped>
.edit-photo {
	margin-bottom: 25px;
}
.edit-photo .photo-container {
}
.edit-photo .photo-circle {
	border-radius: 50%;
	background-color: #eee;
	border: 2px #ddd solid;
	width: 120px;
	height: 120px;
	text-align: center;
	margin: auto;
}
.edit-photo .btn-inside-circle {
	margin-top: 40px;
}

.edit-main {
}

.edit-misc {
}

label.btn > input[type='radio'] {
	display: none;
}

.edit-misc .btn-mamigreen-inverse:active,
.edit-misc .btn-mamigreen-inverse:checked,
.edit-misc .btn-mamigreen-inverse:hover,
.edit-misc .btn-mamigreen-inverse.active {
	background-color: #1baa56;
	color: #fff;
}

@media (max-width: 767px) {
	.edit-photo {
		margin-top: 75px;
		text-align: center;
	}
}

.button-wrapper {
	text-align: center;
	margin-bottom: 15px;
}

.btn-profile {
	width: 150px;
}
</style>
