<template>
	<div>
		<div class="kost-list-container material-card-1" v-cloak>
			<div class="kost-photo" v-if="room.photo_url == null">
				<!-- background photo -->
			</div>
			<div
				class="kost-photo"
				:style="{ backgroundImage: 'url(' + room.photo_url.medium + ')' }"
				v-else
			>
				<!-- background photo -->
				<div class="kost-icon-bar">
					<div class="kost-icon-container-left" v-if="room.is_promoted">
						<img src="/assets/icons/promote_ic.png" alt="promote_ic" />
						<!-- toa -->
					</div>
					<div class="kost-icon-container-right" v-if="room.has_round_photo">
						<img src="/assets/icons/ic_vid360.png" alt="ic_vid360" />
					</div>
					<div class="kost-icon-container-right" v-if="room.has_video">
						<img src="/assets/icons/ic_video.png" alt="ic_video" />
					</div>
				</div>
			</div>
			<div class="kost-info">
				<div
					class="kost-info-container kost-status-full"
					v-if="room.available_room == 0"
				>
					Penuh
				</div>
				<!-- this is a tweak comment, pls dont remove
			 -->
				<div class="kost-info-container kost-status" v-else>
					Ada {{ room.available_room }} Kamar
				</div>
				<!-- this is a tweak comment, pls dont remove
			 -->
				<div class="kost-info-container kost-price">
					{{ room.price_title_time }}
				</div>
			</div>
			<div class="kost-detail">
				<!-- below this class should be inlines -->
				<div
					class="kost-tag-gender kost-tag-gender-mixed"
					v-if="room.gender == 0"
				>
					Campur
				</div>
				<div
					class="kost-tag-gender kost-tag-gender-male"
					v-if="room.gender == 1"
				>
					Putra
				</div>
				<div
					class="kost-tag-gender kost-tag-gender-female"
					v-if="room.gender == 2"
				>
					Putri
				</div>
				<div class="kost-premium-container" v-if="room.is_premium_owner">
					<div class="kost-premium-icon">
						<img
							src="/assets/icons/ic_premium2.png"
							class="kost-premium-icon-image"
							alt="ic_premium2"
						/>
					</div>
					<div class="kost-premium-label">Premium</div>
				</div>
				<div class="kost-booking-container" v-if="room.is_booking">
					<div class="kost-booking-icon">
						<img
							src="/assets/icons/ic_booking_ijo2.png"
							class="kost-booking-icon-image"
							alt="ic_booking_ijo2"
						/>
					</div>
					<span class="kost-booking-label">Bisa Booking</span>
				</div>
			</div>
			<div class="kost-title">{{ room['room-title'] }}</div>

			<div class="kost-review">
				<div class="kost-review-container">
					<div class="kost-review-icon" v-if="room.rating > 0">
						<span>
							<i
								class="fa fa-star rating-star"
								aria-hidden="true"
								v-for="n in room.rating"
							></i
							><!-- this is a tweak comment, pls dont remove
					 --><i
								class="fa fa-star-o rating-star"
								aria-hidden="true"
								v-for="n in 4 - room.rating"
							></i>
						</span>
					</div>
					<span class="kost-review-caption" v-if="room.review_count > 0">
						{{ room.review_count }} review
					</span>
				</div>
				<!-- tweak comment
		 -->
				<div class="kost-booking" v-if="room.min_month != null">
					Min. {{ room.min_month }} bln
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		openRoom(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		}
	},
	props: {
		room: {
			type: Object,
			required: true
		}
	}
};
</script>

<style scoped>
.kost-list-container {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.kost-zero {
	font-size: 24px;
	font-weight: bold;
	color: #006634;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.kost-photo {
	background-size: cover;
	background-position: center;
	height: 150px;
	background-image: url('/assets/default.svg');
}
.kost-photo .kost-icon-bar {
	overflow: auto;
}
.kost-photo .kost-icon-bar .kost-icon-container-left {
	display: inline-block;
	float: left;
	padding: 3px;
}
.kost-photo .kost-icon-bar .kost-icon-container-left img {
	width: 22px;
}
.kost-photo .kost-icon-bar .kost-icon-container-right {
	display: inline-block;
	float: right;
	padding: 3px;
}

.kost-info {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.kost-info .kost-info-container {
	padding: 3px 0;
	width: 50%;
	display: inline-block;
}
.kost-info .kost-info-container.kost-status {
	background-color: #1baa56;
	color: white;
}
.kost-info .kost-info-container.kost-status-full {
	background-color: #000;
	color: white;
}
.kost-info .kost-info-container.kost-price {
	color: #1baa56;
}

.kost-detail {
	font-size: 14px;
	padding: 5px;
	height: 35px;
}
.kost-tag-gender {
	display: inline-block;
	background-color: #eee;
	color: #fff;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
}
.kost-tag-gender-male {
	background-color: #3498db;
}
.kost-tag-gender-female {
	background-color: #f26389;
}
.kost-tag-gender-mixed {
	background-color: #9b59b6;
}
.kost-premium-container {
	display: inline-block;
}
.kost-premium-container .kost-premium-icon {
	display: inline-block;
}
.kost-premium-container .kost-premium-icon .kost-premium-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.kost-premium-container .kost-premium-label {
	display: inline-block;
	color: #e0af50;
	text-transform: uppercase;
	font-weight: 700;
}

.kost-booking-container {
	display: inline-block;
}
.kost-booking-container .kost-booking-icon {
	display: inline-block;
}
.kost-booking-container .kost-booking-icon .kost-booking-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.kost-booking-container .kost-booking-label {
	display: inline-block;
	color: #1baa56;
	text-transform: uppercase;
	font-weight: 700;
}

.kost-title {
	text-transform: capitalize;
	padding: 0 10px;
	font-weight: 700;
	height: 65px;
}

.kost-review {
	padding: 5px 10px;
	margin-bottom: 5px;
}
.kost-review-container {
	display: inline-block;
	width: 60%;
}
.kost-review-icon {
	display: inline-block;
	color: #1baa56;
}
.kost-review-caption {
	display: inline-block;
}
.kost-booking {
	display: inline-block;
	width: 40%;
	text-align: right;
	color: #1baa56;
	font-weight: bold;
}
</style>
