<template>
	<div class="search-container container">
		<section-title :grid="'col-xs-12'" :text="'Cari Kost'"></section-title>
		<div class="search-box">
			<form @submit.prevent="searchRooms">
				<div class="search-bar col-sm-6 col-xs-12">
					<input
						type="text"
						name="search"
						placeholder="Masukan nama kost"
						class="form-control"
						v-model="search"
					/>
				</div>
				<div class="search-bar col-sm-6 col-xs-12">
					<button type="submit" class="btn btn-mamigreen">Cari Kost</button>
					<span>atau</span>
					<!-- <button type="button" class="btn btn-mamigreen-inverse">Tambah Kost Baru</button>			 -->
					<a role="button" href="/input-kost" class="btn btn-mamigreen-inverse"
						>Tambah Kos Baru</a
					>
				</div>
			</form>
		</div>

		<div class="search-article col-sm-6 col-xs-12">
			<div v-if="total == 0" class="alert alert-danger">
				<i class="fa fa-info-circle" aria-hidden="true"></i> Tidak ditemukan
				kost dengan kriteria pencarian "{{ search }}"
			</div>
			<p v-else>
				Masukan nama kost Anda dan CARI KOST, apabila kost sudah terpasang, Anda
				bisa pilih lalu CHECK IN. Kalau belum, bisa TAMBAH KOST BARU
			</p>
		</div>

		<div class="clearfix"></div>

		<div class="search-result" id="searchResult">
			<mini-list :rooms="roomsData" :reference="ref"></mini-list>
			<!-- <div class="button-wrapper text-center">
				<button class="btn btn-mamigreen" v-if="hasMore" @click="getMoreRooms">Tampilkan lebih banyak</button>
			</div> -->
		</div>

		<mami-loading ref="mamiLoading"></mami-loading>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
export default {
	mixins: [mixinGetQueryString],
	data() {
		return {
			search: '',
			roomsData: [],
			hasMore: false,
			limit: 0,
			nextPage: 0,
			offset: 0,
			page: 0,
			total: -1,
			totalStr: '',
			ref: '',
			isLoading: false
		};
	},
	mounted() {
		if (this.getQueryString('ref') == 'edit') {
			this.ref = 'edit';
		}
	},
	methods: {
		searchRooms() {
			this.total = -1;
			if (this.search.length > 0) {
				this.$refs.mamiLoading.openModal();

				axios
					.post('/stories/free-search', {
						filters: {
							criteria: this.search,
							property_type: 'all'
						},
						limit: 30,
						offset: 0
					})
					.then(response => {
						this.$refs.mamiLoading.closeModal();
						if (response.data.status) {
							this.roomsData = response.data.rooms;
							this.hasMore = response.data['has-more'];
							this.limit = response.data.limit;
							this.nextPage = response.data['next-page'];
							this.offset = response.data.offset;
							this.page = response.data.page;
							this.total = response.data.total;
							this.totalStr = response.data.totalStr;
							// console.log(roomsData);
							$('html, body').animate(
								{
									scrollTop: $('#searchResult').offset().top - 60
								},
								1500
							);
						} else {
							this.$refs.mamiLoading.closeModal();
						}
					})
					.catch(error => {
						this.$refs.mamiLoading.closeModal();
						alert(
							'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
						);
						bugsnagClient.notify(error);
					});
			} else {
				swal('Ups', 'Kotak pencarian masih kosong', 'info');
			}
		}
	}
};
</script>

<style scoped>
.search-bar {
	padding: 7px;
}

.search-article {
	margin-top: 15px;
}

span {
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 767px) {
	.search-container {
		margin-top: 50px;
	}
	.search-box {
		text-align: center;
	}
}
.button-wrapper {
	margin-top: 15px;
	margin-bottom: 35px;
}
</style>
