<template>
	<div>
		<div v-if="!isLoading && roomData.rooms.length !== 0">
			<h2 class="count-label" v-if="roomData.offset == 0">
				1 - {{ roomData.rooms.length }} Kos dari {{ roomData.total }} Kos-Kosan
			</h2>
			<h2 class="count-label" v-else>
				{{ roomDataCount }} - {{ roomDataLoaded }} Kos dari
				{{ roomData.total }} Kos-Kosan
			</h2>
		</div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<room-list :rooms="roomData.rooms" v-if="!isLoading"></room-list>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Kost tidak ditemukan</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>

		<div class="pagination-section">
			<paginate
				v-if="!(roomData.page == 1 && !roomData['has-more'])"
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			></paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from '../../event-bus/event-bus';
import paginate from 'vuejs-paginate';
import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

const RoomList = () => import('Js/@components/RoomList');

export default {
	components: {
		RoomList,
		paginate
	},
	computed: {
		article() {
			return this.$store.state.listingData.description;
		},
		totalPage() {
			let total = Math.ceil(this.roomData.total / this.roomData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},
	data() {
		return {
			roomData: {
				page: 1,
				total: 0,
				rooms: []
			},
			filter: {
				gender: [0, 1, 2],
				rent_type: 2,
				price_range: [0, 10000000],
				property_type: 'kost',
				flash_sale: false
			},

			sorting: {
				direction: listingOptions.sorting,
				fields: 'price'
			},

			place: 'all', // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,
			roomDataCount: 1,
			roomDataLoaded: 9,

			roomLimit: 9,
			requestLimit: 90,
			offset: 0,

			showTopButton: false
		};
	},
	created() {
		this.getRoomList();
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterKostGenderChanged', payload => {
			this.filter.gender = payload;
			this.refreshList();
		});
		EventBus.$on('filterKostRentTypeChanged', payload => {
			this.filter.rent_type = payload;
			this.refreshList();
		});
		EventBus.$on('filterKostSortingChanged', payload => {
			if (payload == 'availability') {
				this.sorting.direction = 'desc';
				this.sorting.fields = payload;
			} else {
				this.sorting.direction = payload;
				this.sorting.fields = 'price';
			}
			this.refreshList();
		});
		EventBus.$on('filterKostPriceRangeChanged', payload => {
			this.filter.price_range = payload;
			this.refreshList();
		});
		EventBus.$on('filterKostPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		async getRoomList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			const places = [];
			if (this.place !== 'all') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			const filters = this.filter;
			const sorting = this.sorting;
			const params = {
				filters,
				sorting,
				include_promoted: true,
				include_premium: true,
				limit: this.roomLimit,
				offset: this.offset
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (typeof response === 'object' && response.rooms && translateWords) {
				const rooms = translateWords(response.rooms) || [];

				this.roomData = {
					...response,
					rooms
				};
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		refreshList() {
			this.offset = 0;
			this.busy = false;
			this.getRoomList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},

		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.offset = dataOffset;

			let count = 9 * (page - 1) + 1;
			this.roomDataCount = count;

			let inpage = 9 * (page - 1) + this.roomData.rooms.length;
			this.roomDataLoaded = inpage;

			this.getRoomList();
			this.gotoTop();
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}

@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
