<template>
	<router-view></router-view>
</template>

<script>
import _get from 'lodash/get';
import { mapGetters, mapState } from 'vuex';
import { getParams } from 'Js/@utils/queryString';
import { genderTypes, filterSorts, rentTypes } from 'Js/@utils/kostFilter';
import MixinIsMobile from './mixins/MixinIsMobile';

export default {
	mixins: [MixinIsMobile],

	computed: {
		...mapState(['criteria', 'authData', 'authCheck']),
		...mapGetters(['getTotalRooms', 'getKostFilters', 'getKostSorting'])
	},

	mounted() {
		this.moengageEventTrack();
	},

	methods: {
		moengageEventTrack() {
			const queryParams = getParams(null);
			const redirectionSource = queryParams.redirection_source
				? decodeURIComponent(queryParams.redirection_source[0])
				: null;
			const keywords = _get(this.criteria, 'keywords', '-').split(',')[0];
			let boundaryType = _get(this.criteria, 'geodata.geocode_type', null);
			boundaryType = boundaryType
				? `${boundaryType.charAt(0).toUpperCase()}${boundaryType.slice(1)}`
				: null;

			tracker('moe', [
				'[User] Search Page',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					user_id: _get(this.authData, 'all.id', null),
					is_owner: _get(this.authCheck, 'owner', false),
					is_empty_result: !this.getTotalRooms,
					search_keyword: keywords || '-',
					boundary_type: boundaryType,
					filter_type:
						genderTypes[
							_get(this.getKostFilters, 'gender', '0,1,2').toString()
						],
					filter_price_min: _get(this.criteria, 'price_min', 0),
					filter_price_max: _get(this.criteria, 'price_max', 10000000),
					filter_rent_periode: rentTypes[this.criteria.rent_type || 2],
					filter_bisa_booking: this.getKostFilters.booking === 1,
					filter_sort:
						filterSorts[
							`${_get(this.getKostSorting, 'fields', 'price')},${_get(
								this.getKostSorting,
								'direction',
								'-'
							)}`
						],
					filter_facility: _get(this.getKostFilters, 'tag_ids', []),
					redirection_source: redirectionSource
				}
			]);
		}
	}
};
</script>

<style>
/* stylelint-disable */
#desktopBannerWrapped,
#mobileBannerWrapped {
	pointer-events: auto;
}
</style>
