<template>
	<div class="user-kost-data row">
		<div class="kost-info">
			<user-kost-profile-section :room-data="userKost.room_data" />
		</div>

		<div class="kost-info">
			<mami-info
				v-if="isAddedByOwnerOrConsultant"
				variant="info"
				:is-rounded="true"
			>
				Kamu dimasukkan sebagai penyewa oleh pemilik kos.
			</mami-info>
		</div>

		<div class="kost-info">
			<user-review-card
				:room-id="userKost.room_data._id"
				:room-data="roomDetail"
				:review-data="reviewData"
				:rating="tenantReview.reviewScore"
			/>
		</div>
	</div>
</template>

<script>
import UserKostProfileSection from './UserKostProfileSection';
import UserReviewCard from '../UserReviewCard';

const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		UserKostProfileSection,
		UserReviewCard,
		MamiInfo
	},

	props: {
		reviewData: {
			type: Object,
			required: true
		},
		tenantReview: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			roomDetail: {}
		};
	},

	computed: {
		userKost() {
			return this.$store.state.userKost;
		},
		isAddedByOwnerOrConsultant() {
			const bookingFunnelFrom = this.$store.state.userKost.booking_data
				.booking_funnel_from;

			const user = ['owner', 'consultant'];

			return user.includes(bookingFunnelFrom);
		}
	},

	created() {
		this.getRoomDetail();
	},

	methods: {
		getRoomDetail() {
			axios
				.get(`/stories/${this.userKost.room_data._id}`)
				.then(response => {
					if (response.data.status) {
						this.roomDetail = response.data.story;
						this.$store.commit('setRoomDetail', this.roomDetail);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.user-kost-data {
	padding-top: 0;
}

.kost-info {
	padding: 15px;
	padding-top: 0;
	padding-bottom: 20px;
}
</style>
