<template>
	<div id="userKostClaim" class="user-kost-claim">
		<div class="claim-header">
			<user-kost-billing-category
				@actionChangedCategory="getClaimList"
			></user-kost-billing-category>

			<div v-if="isLoading" class="claim-loading">
				<mami-loading-inline></mami-loading-inline>
			</div>

			<div v-else class="wrapper-card">
				<div v-if="paymentHistory.length >= 1">
					<div
						v-for="(claim, index) in paymentHistory"
						:key="index"
						class="item-card"
						@click="
							openDetailClaim(
								index,
								ignorePayment(claim.realDueDate, claim.payment_status)
							)
						"
					>
						<div
							class="header-card"
							:class="getInvoiceStatusClass(claim.originalPaymentStatus)"
						>
							<div class="row">
								<div class="col-xs-6">
									<span class="title-card">{{
										statusPaymentText(claim.payment_status)
									}}</span>
								</div>
								<div class="col-xs-6 text-right">
									<span class="status-card"
										><i>{{ claim.status_payment }}</i></span
									>
								</div>
							</div>
						</div>

						<div class="body-card">
							<div>
								<span class="label-due-date"
									>Jatuh tempo {{ claim.formattedClaimDate }}</span
								>
							</div>
							<div class="payment-action">
								<span class="label-currency"
									>Rp{{ parseInt(claim.amount).toLocaleString('id') }}</span
								>
								<button
									v-if="!ignorePayment(claim.realDueDate, claim.payment_status)"
									target="_blank"
									:disabled="index !== 0"
									class="btn btn-primary --custom-button-style"
									:class="{
										'--grey-button': claim.payment_status == 'paid',
										'--green-button': claim.payment_status == 'unpaid'
									}"
									@click.stop="openInvoice(claim.invoiceLink)"
								>
									{{ labelInvoiceButton(claim.payment_status) }}
								</button>
							</div>
						</div>
					</div>
				</div>
				<div v-else class="empty-wrapper">
					<img
						v-lazy="
							'/general/img/pictures/mamipay/owner/ilustration_empty-bill.png'
						"
						class="illustration"
					/>
					<span class="description"
						>Belum Ada Tagihan Baru<br />
						Saatnya santai dan nikmati kamar kos kamu.</span
					>
				</div>
			</div>
		</div>

		<div
			v-if="!getStatusRent.status"
			class="wrapper-link-stop-contract text-center"
		>
			<a class="link-stop-contract" @click="openModalStopRent">Berhenti Sewa</a>
		</div>
	</div>
</template>

<script>
import UserKostBillingCategory from './UserKostBillingCategory';

import mixinUserKost from '../../mixins/mixinUserKost';

import EventBus from '../../event-bus/event-bus';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		UserKostBillingCategory
	},
	mixins: [mixinUserKost],

	data() {
		return {
			paymentHistory: [],
			isLoading: true,
			selectedCategory: ''
		};
	},

	computed: {
		userKost() {
			return this.$store.state.userKost;
		}
	},

	mounted() {
		this.getClaimList(true);
	},

	methods: {
		getInvoiceStatusClass(status) {
			return {
				'--status-warning': status === 'paid_deadline',
				'--status-error': status === 'unpaid_late',
				'--status-default': status === 'unpaid',
				'--status-success':
					status === 'paid' ||
					status === 'paid_late' ||
					status === 'not_in_mamipay'
			};
		},

		openInvoice(link) {
			window.open(link);
		},

		errorPayment(dueDate, paymentBillStatus) {
			return (
				(paymentBillStatus === 'unpaid' && !this.getStatusRent.status) ||
				(paymentBillStatus === 'unpaid' &&
					this.getStatusRent.status &&
					this.checkingMustPayBill(dueDate))
			);
		},

		ignorePayment(dueDate, paymentBillStatus) {
			return (
				paymentBillStatus === 'unpaid' &&
				this.getStatusRent.status &&
				!this.checkingMustPayBill(dueDate)
			);
		},

		checkingMustPayBill(dueDateBill) {
			const nowDate = this.$dayjs();
			const dueDate = this.$dayjs(dueDateBill);
			const distanceDayResult = nowDate.diff(dueDate, 'day');
			return distanceDayResult >= 0;
		},

		statusPaymentText(val) {
			return val === 'paid' ? 'Dibayar' : 'Belum Dibayar';
		},

		labelInvoiceButton(val) {
			return val === 'paid' ? 'Lunas' : 'Bayar';
		},

		openModalStopRent() {
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true
			});
		},

		getClaimList(isCategory) {
			this.isLoading = true;

			let urlTarget = `/user/booking/invoice/filter/${this.userKost.contract_id}`;
			urlTarget = (isCategory && `${urlTarget}?nearest=true`) || urlTarget;

			axios
				.get(urlTarget, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					this.isLoading = false;
					if (response.data.status) {
						this.paymentHistory = [];
						this.assignTimeline(response.data.schedules);
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat ini. Silakan coba lagi.');
				});
		},

		assignTimeline(data) {
			var i = 0;
			while (i < data.length) {
				var date = new Date(data[i].scheduled_date_raw);
				this.assignPaymentHistory(data[i], date);
				i++;
			}
		},

		assignPaymentHistory(data, date) {
			const costComponent = data.cost_components;

			const { other_cost = [], fixed_cost = [], discount = [] } = costComponent;
			const allOtherCost = [...other_cost, ...fixed_cost];

			const getFine = allOtherCost.filter(val => {
				return val.name === 'Denda';
			});

			const getDeposit = allOtherCost.filter(val => {
				return val.name === 'Deposit';
			});

			const cleanOtherCost = allOtherCost.filter(val => {
				return val.name !== 'Denda' && val.name !== 'Deposit';
			});

			const isSettlement = data.invoice_number.substring(0, 2) === 'ST';
			const isDownPayment = data.invoice_number.substring(0, 2) === 'DP';

			const rentPriceTotal = costComponent.main_cost[0].amount;

			this.paymentHistory.push({
				isDownPayment: data.is_dp,
				flashSale: data.flash_sale,
				name: data.name,
				amount: data.amount,
				payment_status: data.status,
				status_payment: data.payment_description,
				formattedClaimDate: this.$dayjs(date)
					.locale('id')
					.format('D MMMM'),
				year: date.getFullYear(),
				id: data.id,
				realDueDate: data.scheduled_date_raw,
				dueDate: this.$dayjs(data.scheduled_date_raw).format(
					'dddd, DD MMM YYYY'
				),
				invoiceNumber: data.invoice_number,
				invoiceLink: data.invoice_link,
				rentPrice: rentPriceTotal || 0,
				otherCost: cleanOtherCost || 0,
				adminPrice: costComponent.detail_cost.hasOwnProperty('admin')
					? costComponent.detail_cost.admin.amount
					: 0,
				adminPriceLabel: costComponent.detail_cost.hasOwnProperty('admin')
					? costComponent.detail_cost.admin.name
					: '',
				finePrice: getFine,
				depositPrice: getDeposit,
				discount: discount,
				originalPaymentStatus: data.payment_status
			});
		},

		openDetailClaim(i, ignorePayment) {
			!ignorePayment &&
				this.$emit('open', {
					data: this.paymentHistory[i],
					index: i
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.user-kost-claim {
	padding: 20px 0 24px;
	font-size: 14px;

	.wrapper-card {
		margin: 20px 0 24px;
		.item-card {
			width: 100%;
			height: auto;
			margin-bottom: 16px;
			border-radius: 8px;
			box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.08);
			overflow: hidden;
			cursor: pointer;

			.header-card {
				padding: 16px 16px 12px;
				font-size: 14px;
				line-height: 20px;
				border-bottom: 1px solid #e8e8e8;

				.title-card {
					font-weight: bold;
					color: #949494;
				}

				&.--status-success {
					.status-card {
						color: #008742;
					}
				}

				&.--status-error {
					.status-card {
						color: #da3438;
					}
				}

				&.--status-default {
					.status-card {
						color: #949494;
					}
				}

				&.--status-warning {
					.status-card {
						color: #d48011;
					}
				}
			}

			.body-card {
				padding: 12px 16px 16px;

				.payment-action {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.btn {
						flex-shrink: 0;
						height: 32px;
						padding: 8px;
						margin-left: 12px;
						font-size: 12px;
						font-weight: bold;
						line-height: 14px;
					}
				}

				span {
					&.label-title {
						display: block;
						font-size: 0.857em;
						color: #595959;
						margin-bottom: 0.1rem;

						b {
							color: #2e2d39;
						}
					}

					&.label-currency {
						font-size: 16px;
						font-weight: bold;
						line-height: 24px;
						color: #404040;
					}

					&.label-due-date {
						display: block;
						margin-bottom: 8px;
						font-size: 16px;
						line-height: 24px;
						color: #949494;
					}
				}

				.--custom-button-style {
					border-radius: 4px;
					position: relative;
				}

				.--green-button {
					background-color: #1baa56;
					border: 0;

					&:hover {
						background: #6ecf91;
					}

					&:active {
						background: #008742;
						outline: none;
						box-shadow: none;
					}
				}

				.--grey-button {
					background-color: #f4f4f4;
					color: #dbdbdb;
					border: none;
				}
			}
		}
	}

	.text-danger {
		color: #ee5253;
	}

	.claim-title {
		font-size: 1.2em;
		margin-bottom: 1.5rem;
	}

	.claim-options {
		select {
			appearance: none;
			background: #fff;
		}

		img {
			height: 14px;
		}

		select + img {
			float: right;
			margin-top: -2.6rem;
			margin-right: 1rem;
			pointer-events: none;
			background-color: transparent;
			padding-right: 0.5rem;
		}
	}

	.claim-loading {
		margin-top: 10rem;
	}

	.claim-timeline {
		margin-top: 2.5rem;

		.timeline-item {
			display: flex;
			margin: 2.5rem 0;

			.item-date {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-weight: 800;
				padding-right: 1.5rem;
				text-transform: uppercase;
				width: 40px;

				@media (max-width: 375px) {
					width: 35px;
				}

				.--date {
					font-size: 1.5em;

					@media (max-width: 375px) {
						font-size: 1.2em;
					}
				}

				.--month {
					font-size: 0.8em;
					margin-top: -0.8rem;
				}
			}

			.item-box {
				width: 100%;
				box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
				padding: 1.5rem;
				display: flex;
				flex-direction: column;
				cursor: pointer;

				@media (max-width: 375px) {
					font-size: 0.85em;
				}

				.box-item {
					display: flex;
					justify-content: space-between;
					margin: 0.5rem 0;

					&.--label {
						font-weight: bold;
					}

					.claim-verified {
						display: flex;
						align-items: center;

						img {
							height: 12px;
							margin-right: 0.5rem;
						}
					}

					.claim-status {
						color: #fff;
						padding: 0 1rem;
						border-radius: 12px;
						height: 25px;

						@media (max-width: 375px) {
							height: 21px;
						}

						&.--paid {
							background-color: #1baa56;
						}

						&.--paid-late {
							background-color: #ff681d;
						}

						&.--late {
							background-color: #ee5253;
						}
					}

					.claim-show {
						img {
							height: 14px;
						}
					}
				}
			}
		}
	}

	.empty-wrapper {
		text-align: center;
		> img.illustration {
			display: block;
			margin: 0 auto;
			width: 276px;
		}

		> span.description {
			color: #000000;
			font-size: 1em;
		}
	}
}
</style>
