<template>
	<div id="userKostContract" class="user-kost-contract">
		<div class="contract-detail">
			<div>
				<label class="section-title">Hitungan sewa</label>
			</div>

			<div>
				<span>
					Pembayaran tagihan di lakukan
					<span class="--bold">{{ tenantRentCountText }} sekali</span>
				</span>
			</div>
		</div>

		<div v-if="rentCountType !== 'weekly'" class="contract-detail">
			<div>
				<label class="section-title">Tanggal penagihan</label>
			</div>

			<div>
				<span>
					Jatuh tempo penagihan sewa setiap
					<span class="--bold"> tanggal {{ dateBillInfo }} </span>
				</span>
			</div>
		</div>

		<div class="contract-date">
			<div class="date-checkin">
				<label>Mulai Sewa:</label>
				<span>{{ checkin }}</span>
			</div>

			<div class="date-checkin">
				<label>Durasi Sewa:</label>
				<span>{{ tenantRentDuration }}</span>
			</div>

			<div class="date-checkin">
				<label>Sewa Berakhir:</label>
				<span>{{ checkout }}</span>
			</div>
		</div>

		<div class="contract-detail bottom-line">
			<div>
				<label class="section-title">Aturan Denda</label>
			</div>

			<div>
				<span>
					{{ rulesFineInfo }}
				</span>
			</div>
		</div>

		<div
			v-if="isShowStopContractButton"
			class="wrapper-link-stop-contract text-center"
		>
			<a class="link-stop-contract" @click="openModalStopRent">Berhenti Sewa</a>
		</div>
	</div>
</template>

<script>
import mixinRentCountLabel from 'Js/@mixins/MixinRentCountLabel';
import mixinUserKost from '../../mixins/mixinUserKost';

import EventBus from '../../event-bus/event-bus';

export default {
	mixins: [mixinRentCountLabel, mixinUserKost],

	props: {
		isReviewed: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			checkin: '',
			checkout: '',
			listRent: {
				weekly: {
					frequency: 'Mingguan',
					text: '1 Minggu'
				},
				monthly: {
					frequency: 'Bulanan',
					text: '1 Bulan'
				},
				quarterly: {
					frequency: '3 Bulanan',
					text: '3 Bulan'
				},
				semiannually: {
					frequency: '6 Bulanan',
					text: '6 Bulan'
				},
				yearly: {
					frequency: 'Tahunan',
					text: '1 Tahun'
				}
			}
		};
	},

	computed: {
		userKost() {
			return this.$store.state.userKost;
		},
		tenantRentDuration() {
			return this.$store.state.userKost.booking_data.duration_string;
		},
		rentCountType() {
			return this.$store.state.userKost.booking_data.rent_count_type;
		},
		tenantRentCount() {
			return this.listRent[this.rentCountType].frequency;
		},
		tenantRentCountText() {
			return this.listRent[this.rentCountType].text;
		},
		dateBillInfo() {
			const billingDate = this.$store.state.userKost.prices.fine.billing_date;
			const lastInvoice = this.$store.state.userKost.invoice.length;
			const dueDate = this.$dayjs(
				this.$store.state.userKost.invoice[lastInvoice - 1]
					.scheduled_date_second
			).date();

			return billingDate || dueDate;
		},
		isShowStopContractButton() {
			return (
				this.getStatusRent.status !== 'waiting' &&
				this.getStatusRent.status !== 'confirmed'
			);
		},
		rulesFineInfo() {
			const maximumLengthFine = this.$store.state.userKost.prices.fine
				.maximum_length;
			const durationType = this.$store.state.userKost.prices.fine.duration_type;
			const priceTotal = this.$store.state.userKost.prices.fine
				.price_total_string;

			if (maximumLengthFine > 0) {
				return `Denda diberlakukan jika penyewa membayar tagihan Kos melewati ${maximumLengthFine} ${durationType} dari tanggal tagihan, nominal denda adalah ${priceTotal}`;
			} else {
				return 'Tidak Ada';
			}
		}
	},

	mounted() {
		this.checkin = this.formatDate(this.userKost.booking_data.checkin);
		this.checkout = this.formatDate(this.userKost.booking_data.checkout);
	},

	methods: {
		openModalStopRent() {
			this.trackStopRentClicked();
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true
			});
		},

		formatDate(date) {
			return this.$dayjs(date).format('DD MMMM YYYY');
		},

		trackStopRentClicked() {
			tracker('moe', [
				'[User] Hentikan Kontrak Sewa Clicked',
				{
					is_reviewed: this.isReviewed,
					interface: this.navigator.isMobile ? 'mobile' : 'desktop'
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
#userKostContract,
.user-kost-contract {
	padding: 24px 0;
	font-size: 14px;
	line-height: 20px;
	color: #404040;

	.--bold {
		font-weight: bold;
	}

	.contract-detail {
		margin-bottom: 24px;
	}

	.contract-date {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		padding-top: 20px;
		margin-bottom: 24px;
		border-bottom: 1px solid #dbdbdb;
		border-top: 1px solid #dbdbdb;

		.date-checkin {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding: 4px 0;
			font-size: 16px;
			line-height: 24px;
			color: #757575;

			label {
				margin: 0;
				font-weight: normal;
			}

			span {
				font-weight: bold;
				color: #404040;
				text-align: right;
			}
		}
	}

	.bottom-line {
		padding-bottom: 24px;
		border-bottom: 1px solid #dbdbdb;
	}

	.contract-price {
		margin: 2rem 0;
		padding-bottom: 2rem;
		padding-top: 2rem;
		border-bottom: 1px solid #dbdbdb;
		border-top: 1px solid #dbdbdb;

		.price-item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0.5rem 0;

			&.--last {
				padding-top: 2rem;
				padding-bottom: 0;
			}
		}
	}

	.section-title {
		margin-bottom: 8px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
	}
}
</style>
