<template>
	<modal
		id="userKostModalStopRent"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="false"
		@closed="onModalClosedOrCancel"
		@cancel="onModalClosedOrCancel"
	>
		<div class="stop-rent-header container visible-xs">
			<img
				class="navbar-back-icon"
				src="/general/img/icons/ic_full-arrow-left_s_dark.svg"
				alt="ic full arrow left"
				@click="onModalClosedOrCancel"
			/>
		</div>

		<div ref="stopRentTitle" class="stop-rent-title container visible-xs">
			<h1 ref="stopRentTitleLabel">Berhenti Sewa</h1>
		</div>

		<div class="container --border-bottom-style">
			<div class="row">
				<div class="col-md-6 wrapper-reason hidden-xs hidden-sm">
					<h1>Silakan isi form untuk mengajukan pemberhentian sewa</h1>
					<p>
						Pemilik akan diminta untuk konfirmasi form ini, agar kamu tidak
						menerima tagihan baru berikutnya.
					</p>
				</div>
				<div class="col-md-6 col-xs-12 wrapper-reason">
					<h1 class="hidden-md hidden-lg">
						Silakan isi form untuk mengajukan pemberhentian sewa
					</h1>
					<p class="hidden-md hidden-lg">
						Pemilik akan diminta untuk konfirmasi form ini, agar kamu tidak
						menerima tagihan baru berikutnya.
					</p>

					<span class="title-list-reason hidden-xs hidden-sm"
						>Alasan hentikan sewa</span
					>

					<div class="wrapper-list-reason">
						<div
							v-for="(reason, i) in reasonLists"
							:key="i"
							class="reason-item"
						>
							<mami-radio v-model="reasonRadioValue" :selected-value="reason">
								<span class="label-list">
									{{ reason }}
								</span>
							</mami-radio>
						</div>

						<div class="reason-item">
							<mami-radio v-model="reasonRadioValue" selected-value="other">
								Lainnya
							</mami-radio>
						</div>
					</div>

					<div
						v-if="reasonRadioValue === 'other'"
						class="row wrapper-input-area"
					>
						<div class="col-xs-12">
							<span class="title-input">Alasan lain</span>
						</div>
						<div class="col-xs-12">
							<textarea
								v-model="otherReason"
								maxlength="100"
								class="form-control --is-custom-text-area"
								placeholder="Masukkan alasan lainnya di sini"
							></textarea>
							<span class="indicator-reason-text-style"
								>{{ reasonTextCount }}/100</span
							>
						</div>
					</div>

					<user-kost-stop-rent-date
						:checkout-date="dateSelected.value"
						:disabled-dates="disabledDates"
						title="Pilih Tanggal Berhenti Sewa"
						caption="Tanggal yang kamu pilih adalah tanggal di mana kamu akan meninggalkan kos."
						@select="selectDate"
					/>
				</div>
			</div>
		</div>

		<div class="container visible-xs">
			<user-review-card
				v-if="roomDetail._id"
				:room-id="roomDetail._id"
				:room-data="roomDetail"
				:review-data="reviewData"
				:rating="reviewScore"
			/>

			<div class="stop-rent-button">
				<button
					type="button"
					class="btn btn-primary stop-rent-button__submit"
					:disabled="isDisabledBtnSubmit || isButtonSubmitNotValid"
					@click="submitAllData"
				>
					Kirim Pengajuan
				</button>
			</div>
		</div>

		<div class="container --border-bottom-style hidden-xs">
			<div class="row">
				<div class="col-md-6 wrapper-reason hidden-xs hidden-sm">
					<h1>Berikan penilaianmu selama ngekos di sini</h1>
				</div>
				<div class="col-xs-12 col-md-6 wrapper-star-review">
					<h2 class="hidden-xs hidden-md hidden-lg">
						Berikan penilaianmu selama ngekos di sini
					</h2>
					<div class="row list-rating">
						<div class="col-xs-12">
							<b>Kualitas kost*</b>
						</div>
					</div>
					<div
						v-for="(rating, index) in ratingLists"
						:key="index"
						class="row list-rating"
					>
						<div class="col-xs-6">
							{{ rating.label }}
						</div>
						<div class="col-xs-6">
							<div class="wrapper-star-button">
								<star-rating
									:rating="rating.value"
									custom-style="margin-right: 0.5rem; font-size: 1.2em; cursor: pointer;"
									:star-click="changedRating"
									:rating-type="index"
								/>
							</div>
						</div>
					</div>

					<div class="row wrapper-input-area --custom-top-wrapper-input-area">
						<div class="col-xs-12 --is-custom-bottom-distance">
							<span class="title-input">Beri review kost ini*</span>
						</div>
						<div class="col-xs-12">
							<textarea
								v-model="reviewDescription"
								class="form-control"
								placeholder="Berikan review selama kost di sini"
							></textarea>
						</div>
					</div>

					<div class="row wrapper-input-area">
						<div class="col-xs-12 --is-custom-bottom-distance">
							<span class="title-input">Tambahkan foto</span>
						</div>
						<div class="col-xs-12">
							<user-kost-review-image-upload
								v-if="assigned"
								:last-image="editData.photo"
								@imageUploaded="handleImageUpload"
							></user-kost-review-image-upload>
						</div>
					</div>

					<div class="row wrapper-input-area">
						<div class="col-xs-12">
							<checkbox
								v-model="username"
								:true-value="1"
								:false-value="0"
								type="primary"
							>
								<div class="wrapper-checbox-anonim">
									<span class="checkbox-title">Tampilkan sebagai anonim</span>
									<span class="checkbox-desc"
										>Nama Anda akan ditampilkan sebagai Anonim</span
									>
								</div>
							</checkbox>
						</div>
					</div>

					<button
						class="btn btn-primary --is-custom-button"
						:disabled="isDisabledBtnSubmit || isButtonSubmitNotValid"
						@click="submitAllData"
					>
						Konfirmasi Pemberhentian Sewa
					</button>
				</div>
			</div>
		</div>

		<user-kost-stop-rent-warning
			:show-modal="isModalWarning"
			:modal-title="responseStatus.title"
			:modal-caption="responseStatus.description"
			:button-text="stopRentButtonText"
			@close="onModalClosedOrCancel"
			@confirm="confirmStopRent"
		/>
	</modal>
</template>

<script>
import _get from 'lodash/get';
import { modal, radio, checkbox } from 'vue-strap';
import vSelect from 'vue-select';

import UserKostReviewImageUpload from './UserKostReviewImageUpload';
import UserKostStopRentDate from './UserKostStopRentDate';
import UserKostStopRentWarning from './UserKostStopRentWarning';
import UserReviewCard from '../UserReviewCard';

import mixinUserKost from '../../mixins/mixinUserKost';
import mixinOpenChat from 'Js/@mixins/MixinOpenChat';

import EventBus from '../../event-bus/event-bus';
import StarRating from 'Js/@components/StarRating';

const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

const initialState = () => {
	return {
		showModal: false,
		reasonRadioValue: '',
		otherReason: '',
		reasonLists: [],
		ratingLists: [
			{
				label: 'Kebersihan',
				value: 0
			},
			{
				label: 'Keamanan',
				value: 0
			},
			{
				label: 'Kenyamanan',
				value: 0
			},
			{
				label: 'Fasilitas Umum',
				value: 0
			},
			{
				label: 'Fasilitas Kamar',
				value: 0
			},
			{
				label: 'Harga',
				value: 0
			}
		],
		dateSelected: '',
		dateFormat: '',
		isDisabledBtnSubmit: false,
		successStopRent: false,
		successReview: false,
		reviewDescription: '',
		username: 0,
		imageUploaded: [],
		assigned: false,
		errorMessage: '',
		reviewRating: 0,
		isModalWarning: false,
		responseStatus: {
			title: '',
			description: ''
		}
	};
};

export default {
	components: {
		modal,
		radio,
		checkbox,
		StarRating,
		UserKostReviewImageUpload,
		UserKostStopRentDate,
		UserKostStopRentWarning,
		UserReviewCard,
		'v-select': vSelect,
		MamiRadio
	},
	mixins: [mixinUserKost, mixinOpenChat],

	props: {
		editData: {
			type: Object,
			default() {
				return {};
			}
		}
	},

	data() {
		return initialState();
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		checkoutDateList() {
			const labelingDateCheckoutList = this.$store.state.userKost.hasOwnProperty(
				'booking_data'
			)
				? this.$store.state.userKost.booking_data.nearest_checkout_date_multiple
				: [];
			return this.labelingDateCheckoutList(labelingDateCheckoutList);
		},
		reasonTextCount() {
			return this.otherReason.length;
		},
		userKost() {
			return this.$store.state.userKost;
		},
		groupChannelUrl() {
			return _get(this.userKost.room_data, 'group_channel_url', '');
		},
		stopRentButtonText() {
			return this.groupChannelUrl ? 'Hubungi Pemilik' : 'Saya Mengerti';
		},
		roomDetail() {
			return this.$store.state.roomDetail;
		},
		reviewData() {
			return _get(this.$store.state.reviewData, 'lastReview', '');
		},
		reviewScore() {
			return _get(this.$store.state.reviewData, 'tenantReview.reviewScore', '');
		},
		isButtonSubmitNotValid() {
			const [
				clean,
				safe,
				happy,
				publicFacilities,
				roomFacilities,
				pricing
			] = this.ratingLists;

			return (
				!this.reasonRadioValue ||
				(this.reasonRadioValue === 'other' && !this.otherReason) ||
				!this.dateSelected ||
				!clean ||
				!safe ||
				!happy ||
				!publicFacilities ||
				!roomFacilities ||
				!pricing ||
				!this.reviewDescription ||
				!this.imageUploaded
			);
		},
		bookingCheckinDate() {
			return _get(this.userKost, 'booking_data.checkin', '');
		},
		bookingCheckoutDate() {
			return _get(this.userKost, 'booking_data.checkout', '');
		},
		disabledDates() {
			const checkin = new Date(this.bookingCheckinDate);
			checkin.setDate(checkin.getDate() - 1);

			return {
				to: new Date(checkin),
				from: new Date(this.bookingCheckoutDate)
			};
		}
	},

	watch: {
		showModal(val) {
			if (val && !this.assigned) {
				this.assignLastData();
			}
		}
	},

	mounted() {
		this.listenEventModal();
	},

	methods: {
		assignLastData() {
			this.assigned = true;

			if (Object.keys(this.editData).length !== 0) {
				this.ratingLists[0].value = Math.ceil(this.editData.clean);
				this.ratingLists[1].value = Math.ceil(this.editData.safe);
				this.ratingLists[2].value = Math.ceil(this.editData.happy);
				this.ratingLists[3].value = Math.ceil(this.editData.public_facilities);
				this.ratingLists[4].value = Math.ceil(this.editData.room_facilities);
				this.ratingLists[5].value = Math.ceil(this.editData.pricing);
				this.reviewDescription = this.editData.share_word;
				this.username = this.editData.is_anonim ? 1 : 0;
			}
		},
		onModalClosedOrCancel() {
			this.toggleModalWarning(false);
			this.showModal = false;
			Object.assign(this.$data, initialState());
		},
		labelingDateCheckoutList(dateList) {
			const finalDateData = [];
			dateList.forEach(val => {
				finalDateData.push({
					value: val,
					label: this.$dayjs(val).format('dddd, D MMMM YYYY')
				});
			});
			return finalDateData;
		},
		handleImageUpload(image) {
			this.imageUploaded = image;
		},
		getReasonList() {
			axios
				.get('/contract/terminate-reason/tenant', {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const dataResponse = response.data;
					if (dataResponse.status) {
						this.reasonLists = dataResponse.data;
					} else {
						this.swalError(null, dataResponse.meta.message);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		listenEventModal() {
			EventBus.$on('actionModalStopRent', payload => {
				this.showModal = payload.isOpenModal;
				this.getReasonList();
			});
		},

		changedRating(index, ratingListIndex) {
			const changeValueRating = index;
			this.ratingLists[ratingListIndex].value = changeValueRating;
		},

		selectDate(date) {
			this.dateSelected = {
				label: this.$dayjs(date).format('dddd, D MMMM YYYY'),
				value: this.$dayjs(date).format('YYYY-MM-DD')
			};
		},

		formatDate(val) {
			this.dateSelected = this.$dayjs(val).format('YYYY-MM-DD');
			return this.$dayjs(val).format('dddd, D MMMM YYYY');
		},

		submitStopRent(data) {
			return axios.post('/contract/request/terminate', data, {
				baseURL: '/user/mamipay/request'
			});
		},
		submitReviewKost(data) {
			return axios.post('/stories/review/add', data);
		},

		async submitAllData() {
			this.isDisabledBtnSubmit = true;
			this.errorMessage = '';
			this.openSwalLoading();

			const dataStopRent = {
				contract_id: this.userKost.contract_id,
				reason:
					this.reasonRadioValue === 'other'
						? this.otherReason
						: this.reasonRadioValue,
				ended_date: this.dateSelected.value
			};

			const [
				clean,
				safe,
				happy,
				publicFacilities,
				roomFacilities,
				pricing
			] = this.ratingLists;

			const dataReview = {
				id: this.userKost.room_data._id,
				clean: clean.value,
				safe: safe.value,
				happy: happy.value,
				room_facilities: roomFacilities.value,
				public_facilities: publicFacilities.value,
				pricing: pricing.value,
				content: this.reviewDescription,
				photo: this.imageUploaded,
				anonim: this.username,
				_token: this.token,
				scale: 5
			};

			await axios
				.all([
					this.submitStopRent(dataStopRent),
					this.submitReviewKost(dataReview)
				])
				.then(
					axios.spread((stopRent, review) => {
						this.closeSwalLoading();
						if (stopRent.data.status) {
							this.responseStatus = stopRent.data.data;
							this.successStopRent = true;
							this.getStatusRentTenant();
							this.toggleModalWarning(true);
							this.trackSuccessStopRent(dataStopRent.reason);
							this.$toasted.show('Pemberhentian sewa sudah di ajukan', {
								theme: 'toasted-primary',
								position: 'bottom-center',
								duration: 5000
							});
						} else if (!stopRent.data.status) {
							this.errorMessage = stopRent.data.meta.message;
							this.responseStatus.title = stopRent.data.meta.message;
							this.toggleModalWarning(true);
							this.$toasted.show(
								this.errorMessage || 'Gagal mengajukan pemberhentian sewa',
								{
									theme: 'toasted-primary',
									position: 'bottom-center',
									duration: 5000
								}
							);
						}

						if (review.data.status) {
							this.reviewRating = review.data.review.rating;
							this.successReview = true;
						}
					})
				)
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		toggleModalWarning(state) {
			this.isModalWarning = state;
		},

		confirmStopRent() {
			this.groupChannelUrl
				? this.openChatPanel()
				: this.onModalClosedOrCancel();
		},

		openChatPanel() {
			this.onModalClosedOrCancel();
			this.openGroupChannel(this.groupChannelUrl);
		},

		trackSuccessStopRent(stopReason) {
			tracker('moe', [
				'[User] Hentikan Kontrak Sewa Submitted',
				{
					stop_reason: stopReason,
					review_rating: this.reviewRating,
					requested_check_out_date: new Date(this.dateSelected.value),
					interface: this.navigator.isMobile ? 'mobile' : 'desktop'
				}
			]);
		}
	}
};
</script>

<style lang="scss">
#userKostModalStopRent {
	.modal-footer {
		display: none;
	}

	.modal-header {
		position: sticky;
		top: 0;
		background-color: #ffffff;
		z-index: 11;

		@media (max-width: 767px) {
			display: none;
		}
	}

	.modal-dialog {
		width: 100%;
		margin: 0;
	}

	.modal-content {
		height: 100vh;
		border-radius: 0;
		overflow: scroll;
	}

	.modal-body {
		padding: 0;
	}

	button {
		&.close {
			color: #2e2d39;
			opacity: 1;
			font-weight: 300;
			font-size: 3.3em;
			outline: none;
		}
	}

	label.checkbox {
		padding-left: 26px;
		> .dropdown-toggle {
			width: 24px;
			height: 24px;
			border-radius: 3px;
			border: 0.5px solid #999999;
			background-color: #1baa56;
		}
	}

	.dropdown-toggle {
		border: none;
	}

	.dropdown-menu {
		width: 100%;
		z-index: 1100;
		border-top: 1px solid rgba(0, 0, 0, 0.26);
		min-width: 0;

		& > .highlight {
			& > a {
				background: #22c264;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
#userKostModalStopRent {
	font-size: 14px;

	.container {
		padding: 15px;
	}

	.stop-rent-header {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #fff;
		height: 54px;
		display: flex;
		align-items: center;
		z-index: 2;

		img {
			cursor: pointer;
			height: 18px;
		}
	}

	.stop-rent-title {
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 54px;

		&.--on-stick {
			height: 42px;
		}

		h1 {
			font-size: 24px;
			font-weight: bold;

			&.--sticky-title {
				position: fixed;
				top: 13px;
				margin-left: 30px;
				font-size: 18px;
				line-height: 26px;
			}
		}
	}

	.wrapper-reason {
		.title-list-reason {
			color: #383746;
			font-size: 1.143em;
			font-weight: bold;
			position: relative;
			top: 17px;
		}

		h1 {
			font-size: 1.429em;
			font-weight: bold;

			@media (min-width: 992px) {
				font-size: 36px;
				line-height: 1.5;
			}
		}

		p {
			font-size: 1em;
			color: #2e2d39;

			@media (min-width: 992px) {
				font-size: 16px;
			}
		}
	}

	.wrapper-list-reason {
		width: 100%;
		padding: 0;
		margin: 2.5rem 0;

		.reason-item {
			padding: 15px 0;
			border-bottom: 1px solid #f4f4f4;
		}
	}

	.wrapper-input-area {
		margin-bottom: 2rem;

		.indicator-reason-text-style {
			float: right;
			color: #999999;
			margin-top: 0.2rem;
		}

		.--custom-top-wrapper-input-area {
			margin-top: 2rem;
		}

		.--relative-area {
			position: relative;
			img.input-image {
				position: absolute;
				top: 10px;
				right: 21px;
			}
		}

		.title-input {
			color: #383746;
			font-size: 1em;
			font-weight: bold;
		}

		&.--custom-distance-date-stop-rent {
			margin-top: 2rem;
		}

		.--is-custom-text-area {
			font-size: 1em;
		}

		.--is-custom-date-input {
			padding: 0;
			border: none;
			border-bottom: 2px solid #dbdbdb;
			border-radius: 0;
		}

		.--is-custom-bottom-distance {
			margin-bottom: 1rem;
		}
	}

	.--border-bottom-style {
		border-bottom: 8px solid #f4f4f4;
		padding-bottom: 4rem;

		@media (max-width: 767px) {
			border-bottom: none;
			padding-bottom: 1.5rem;
		}
	}

	.wrapper-star-review {
		margin-bottom: 2rem;

		@media (min-width: 992px) {
			padding-top: 2rem;
		}
		h2 {
			font-size: 1.143em;
			font-weight: bold;
			margin-bottom: 2rem;
		}

		.list-rating {
			font-size: 1em;
			margin-bottom: 1rem;
		}
	}

	.wrapper-star-button {
		width: 100%;
		span {
			&.star-btn {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url(/general/img/icons/ic_star_o.svg);
				background-repeat: no-repeat;
				background-size: cover;
				margin-right: 0.6rem;

				&:hover {
					background-image: url(/general/img/icons/ic_star_s.svg);
				}

				&.active {
					background-image: url(/general/img/icons/ic_star_s.svg);
				}

				&:nth-child(5):hover + :nth-child(4) {
					background-image: url(/general/img/icons/ic_star_s.svg);
				}
			}
		}
	}

	.--is-custom-margin-bottom {
		margin-bottom: 2rem;
	}

	.--is-custom-button {
		width: 100%;
		margin-top: 2rem;
		padding: 1.4rem 0rem;
		font-size: 1.143em;
		font-weight: bolder;
	}

	.wrapper-checbox-anonim {
		position: relative;
		top: -7px;
		padding-left: 1rem;

		.checkbox-title {
			display: block;
			color: #2e2d29;
			font-size: 1em;
			font-weight: bold;
		}

		.checkbox-desc {
			font-weight: 400;
			color: #999999;
			font-size: 0.857em;
		}
	}

	.stop-rent-button {
		width: 100%;
		margin-top: 2.5rem;

		&__submit {
			width: 100%;
			height: 48px;
			font-weight: bold;
			border: none;
		}
	}
}
</style>
