<template>
	<div id="userKostClaimDetailBill">
		<h1 class="header-detail">Rincian Tagihan</h1>

		<div class="wrapper-bill --have-line-bottom">
			<div class="row">
				<div class="col-xs-6">{{ labelBasePrice }}</div>
				<div v-if="isSettlement" class="col-xs-6 text-right">
					<b> Rp {{ parseInt(baseAmountPrice).toLocaleString('id') }} </b>
				</div>
				<div v-else class="col-xs-6 text-right">
					<b>Rp {{ parseInt(claimData.rentPrice).toLocaleString('id') }}</b>
				</div>
			</div>
			<div v-if="claimData.flashSale && isOnlyFirstInvoice" class="row">
				<div class="col-xs-6">
					<span class="total-title --is-discount"
						>{{ claimData.flashSale.title }}<br /><span class="sub-title"
							>Hanya berlaku untuk Harga Sewa</span
						></span
					>
				</div>
				<div class="col-xs-6 text-right">
					<span class="total-value --is-discount">{{
						parseInt(claimData.flashSale.amount).toLocaleString('id')
					}}</span>
				</div>
			</div>
			<div v-if="isOnlyFirstInvoice" class="row">
				<div v-if="claimData.otherCost.length > 0" class="col-xs-12">
					Biaya tambahan lain
				</div>
			</div>
			<div
				v-for="(cost, i) in claimData.otherCost"
				v-if="
					(cost.name !== 'Deposit' || cost.name !== 'Denda') &&
						isOnlyFirstInvoice
				"
				:key="i"
				class="row"
			>
				<div class="col-xs-6">&bull; {{ cost.name }}</div>
				<div class="col-xs-6 text-right">
					<b>Rp {{ parseInt(cost.amount).toLocaleString('id') }}</b>
				</div>
			</div>
			<div
				v-if="claimData.depositPrice.length > 0 && isOnlyFirstInvoice"
				class="row"
			>
				<div class="col-xs-6">Deposit</div>
				<div class="col-xs-6 text-right">
					<b>
						Rp
						{{
							parseInt(claimData.depositPrice[0].amount).toLocaleString('id')
						}}
					</b>
				</div>
			</div>
			<div v-if="claimData.finePrice.length > 0" class="row">
				<div class="col-xs-6">{{ labelFinePrice }}</div>
				<div class="col-xs-6 text-right">
					<b>
						Rp
						{{ parseInt(claimData.finePrice[0].amount).toLocaleString('id') }}
					</b>
				</div>
			</div>
			<div v-if="claimData.adminPriceLabel" class="row">
				<div class="col-xs-6">{{ claimData.adminPriceLabel }}</div>
				<div class="col-xs-6 text-right">
					<b>
						Rp
						{{ parseInt(claimData.adminPrice).toLocaleString('id') }}
					</b>
				</div>
			</div>
		</div>

		<div
			v-for="(discount, i) in claimData.discount"
			v-if="claimData.discount.length > 0"
			class="wrapper-bill"
		>
			<div class="row">
				<div class="col-xs-6">
					<span class="total-title --is-discount">{{ discount.name }}</span>
				</div>
				<div class="col-xs-6 text-right">
					<span class="total-value --is-discount">{{ discount.amount }}</span>
				</div>
			</div>
		</div>

		<div class="wrapper-bill">
			<div class="row">
				<div class="col-xs-6">
					<span class="total-title">Total Pembayaran</span>
				</div>
				<div class="col-xs-6 text-right">
					<span class="total-value"
						>Rp {{ parseInt(claimData.amount).toLocaleString('id') }}</span
					>
				</div>
			</div>
		</div>

		<div
			v-if="!getStatusRent.status && claimData.payment_status === 'unpaid'"
			class="alert alert-success --modify-alert-banner --default-alert-banner"
			role="alert"
		>
			<div class="wrapper-alert-description">
				<img
					src="/general/img/icons/ic_grey_caution_o.svg"
					alt="ic_green_caution_s"
					class="image-alert"
					width="25px"
				/>
				<span class="description-alert"
					>Kontrak sewa Anda akan di perpanjang otomatis. Apabila Anda tidak
					ingin perpanjang sewa Anda bisa menghentikan perpanjang sewa</span
				>
			</div>
		</div>

		<button
			v-if="claimData.payment_status === 'paid'"
			class="btn btn-primary --is-custom-button"
			@click="openInvoice(claimData.invoiceLink)"
		>
			Cek Bukti Pembayaran
		</button>

		<button
			v-else-if="getStatusRent.status && claimData.payment_status === 'unpaid'"
			class="btn btn-primary --is-custom-button"
			@click="openInvoice(claimData.invoiceLink)"
		>
			Bayar
		</button>

		<button
			v-else
			:disabled="claimIndex !== 0"
			class="btn btn-primary --is-custom-button"
			@click="openInvoice(claimData.invoiceLink)"
		>
			Bayar
		</button>

		<div
			v-if="!getStatusRent.status && claimData.payment_status !== 'paid'"
			class="wrapper-link-stop-contract text-center"
		>
			<a class="link-stop-contract" @click="openModalStopRent">Berhenti Sewa</a>
		</div>
	</div>
</template>

<script>
import mixinUserKost from '../../mixins/mixinUserKost';

import EventBus from '../../event-bus/event-bus';

export default {
	mixins: [mixinUserKost],

	props: {
		claimData: {
			type: Object,
			required: true,
			default: {}
		},
		claimDetail: {
			type: Object,
			required: true,
			default: {}
		},
		claimIndex: {
			type: Number
		}
	},

	data() {
		return {
			listRent: {
				weekly: 'Minggu',
				monthly: 'Bulan',
				quarterly: '3 Bulan',
				semiannually: '6 Bulan',
				yearly: 'Tahun'
			}
		};
	},

	computed: {
		labelFinePrice() {
			return `Denda lewat ${
				this.claimData.finePrice[0].fine_delay
			} ${this.fineDurationText(this.claimData.finePrice[0].fine_duration)}`;
		},
		labelBasePrice() {
			if (this.isDownPayment) {
				return `Uang muka dari sewa Per ${this.tenantRentCount}`;
			}

			return this.isSettlement
				? 'Selisih dari Uang Muka'
				: `Harga sewa Per ${this.tenantRentCount}`;
		},
		tenantRentCount() {
			const rentCount = this.$store.state.userKost.booking_data.rent_count_type;
			return this.listRent[rentCount];
		},
		isDownPayment() {
			return this.claimData.invoiceNumber.substring(0, 2) === 'DP';
		},
		isSettlement() {
			return this.claimData.invoiceNumber.substring(0, 2) === 'ST';
		},
		isOnlyFirstInvoice() {
			return this.isSettlement || (!this.isSettlement && !this.isDownPayment);
		},
		baseAmountPrice() {
			return this.claimDetail.cost_components.detail_cost.settlement
				.base_amount;
		}
	},

	methods: {
		openInvoice(link) {
			window.open(link);
		},
		fineDurationText(val) {
			return val === 'day' ? 'Hari' : val === 'week' ? 'Minggu' : 'Bulan';
		},
		openModalStopRent() {
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true
			});
		}
	}
};
</script>

<style lang="scss" scoped>
#userKostClaimDetailBill {
	font-size: 14px;
	padding: 2rem 0rem;

	h1 {
		&.header-detail {
			font-size: 1.429em;
			font-weight: bold;
			color: #000000;
			letter-spacing: 0.25px;
			margin-bottom: 2rem;
			margin-top: 1rem;
		}
	}

	.wrapper-bill {
		font-size: 1em;
		margin-top: 2rem;

		.row {
			margin-bottom: 1rem;
		}

		.total-title {
			font-size: 1.143em;
			color: #383746;
			font-weight: bold;
		}

		.--is-discount {
			color: #1baa56 !important;
			font-size: 1em !important;
		}

		.total-value {
			font-size: 1.143em;
			font-weight: bold;
			color: #e04205;
		}

		&.--have-line-bottom {
			border-bottom: 2px dashed #dbdbdb;
			padding-bottom: 2rem;
		}
	}

	.wrapper-link-stop-contract {
		padding: 4rem 0rem;
		a.link-stop-contract {
			font-size: 1.143em;
			font-weight: bold;
			color: #ec4a0c;
		}
	}

	.--is-custom-button {
		width: 100%;
		margin-top: 2rem;
		padding: 1.4rem 0rem;
		font-size: 1.143em;
		font-weight: bolder;
	}

	.--modify-alert-banner {
		position: relative;
		left: -15px;
		border-radius: 0;
		width: calc(100% + 30px);
		border: none;
		margin-bottom: 0;

		&.--success-alert-banner {
			background-color: #d1eedd;
			color: #109e4b;
		}

		&.--default-alert-banner {
			background-color: #f4f4f4;
			color: #595959;
		}

		.wrapper-alert-description {
			width: 80%;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;

			img.image-alert {
				margin-right: 1rem;
			}

			span.description-alert {
				width: 90%;
			}
		}
	}

	.sub-title {
		font-size: 0.8em;
		color: #aaaaaa;
	}
}
</style>
