<template>
	<div class="profile-section-wrapper">
		<div class="profile-section">
			<div class="section-item">
				<div class="label-gender property-gender">
					<span>{{ gender }}</span>
				</div>

				<div class="label-location">
					<span>{{ roomData.area_label }}</span>
				</div>
			</div>

			<div class="section-item">
				<span class="label-name"
					><b>
						{{ roomData.name }}
					</b></span
				>
			</div>

			<div class="section-item__room-number">
				<span
					>Nomor Kamar : <b>{{ roomData.type_name }}</b></span
				>
			</div>
		</div>

		<div class="profile-section">
			<div
				v-lazy:background-image="{
					src: roomData.photo.small,
					error: '/general/img/icons/ic_placeholder_loading.svg'
				}"
				alt="Kost Image"
				class="kost-image"
			></div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		roomData: {
			type: Object,
			required: true
		}
	},

	computed: {
		gender() {
			if (this.roomData.gender === 0) {
				return 'Campur';
			} else if (this.roomData.gender === 1) {
				return 'Putra';
			}
			return 'Putri';
		}
	}
};
</script>

<style lang="scss" scoped>
.profile-section-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.profile-section {
		.section-item {
			display: flex;
			align-items: center;

			.label-gender {
				margin-right: 10px;
				font-size: 12px;
			}

			.label-location {
				color: #949494;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 200px;
				font-size: 12px;

				@media (max-width: 375px) {
					max-width: 100px;
				}
			}

			.label-name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 265px;

				@media (max-width: 375px) {
					max-width: 165px;
				}
			}
		}

		.section-item {
			margin-bottom: 5px;

			&__room-number {
				color: #757575;
			}
		}

		.kost-image {
			width: 10rem;
			height: 10rem;
			background-position: center;
			background-size: cover;
			border-radius: 0.5rem;
		}
	}
}
</style>
