<template>
	<div id="uploadImageReview" class="upload-image-container">
		<div class="upload-image__button">
			<button
				type="button"
				class="btn btn-primary btn-show-upload"
				@click="toggleUpload"
			>
				<span v-if="!isShowing">Tambahkan Foto</span>
				<span v-else>Batal Tambahkan Foto</span>
			</button>
		</div>

		<div v-if="isShowing" class="upload-image__area">
			<div>
				<span>maksimal 3 foto, tidak wajib</span>
			</div>
			<dropzone
				id="dropzoneArea"
				ref="dropzoneArea"
				:options="dropzoneOptions"
				@vdropzone-success="uploadSuccess"
				@vdropzone-error="uploadError"
				@vdropzone-removed-file="removeFile"
				@vdropzone-mounted="assignLastImage"
			></dropzone>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: vue2Dropzone
	},

	props: {
		lastImage: {
			type: Array,
			required: false,
			default() {
				return [];
			}
		}
	},

	data() {
		return {
			isAssigned: false,
			isShowing: false,
			imageUploaded: [],
			imageCount: 0,
			dropzoneOptions: {
				url: '/garuda/media',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 3,
				maxFilesize: 5,
				autoProcessQueue: true,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: 'Pilih atau drop file disini',
				dictResponseError: 'Upload gagal. Silakan ulangi kembali',
				dictCancelUpload: 'Batal unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti file',

				params: {
					_token: null,
					media_type: 'review_photo'
				}
			}
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		}
	},

	watch: {
		imageCount: {
			handler(val) {
				if (this.isAssigned && this.isShowing) {
					if (val > 2) {
						this.$refs.dropzoneArea.disable();
					} else {
						this.$refs.dropzoneArea.enable();
					}
				}
			},
			immediate: true
		},
		imageUploaded: {
			handler(val) {
				const newSetImage = this.imageUploaded.map(value => value.val);
				this.$emit('imageUploaded', newSetImage);
			},
			immediate: true
		}
	},

	mounted() {
		this.checkLastImage();
		this.assignUploadParams();
	},

	methods: {
		toggleUpload() {
			this.isShowing = !this.isShowing;
		},
		checkLastImage() {
			if (typeof this.lastImage !== 'undefined') {
				if (this.lastImage.length !== 0) {
					this.isShowing = true;
				}
			}
		},
		assignLastImage() {
			if (typeof this.lastImage !== 'undefined') {
				if (this.lastImage.length !== 0) {
					this.isAssigned = true;
					this.imageCount = this.lastImage.length;
					let forLooping = 0;

					while (forLooping < this.lastImage.length) {
						const file = {
							size: 123,
							upload: {
								uuid: this.lastImage[forLooping].photo_id
							},
							name: forLooping,
							type: 'image/png'
						};
						const url = this.lastImage[forLooping].photo_url.small;

						if (url !== '') {
							this.$refs.dropzoneArea.manuallyAddFile(file, url);
						} else {
							this.$refs.dropzoneArea.manuallyAddFile(
								file,
								'/general/img/icons/ic_placeholder_loading.svg'
							);
						}
						this.imageUploaded.push({
							uuid: this.lastImage[forLooping].photo_id,
							val: this.lastImage[forLooping].photo_id
						});
						forLooping++;
					}
				}
			} else {
				this.isAssigned = true;
			}
		},
		assignUploadParams() {
			this.dropzoneOptions.params._token = this.token;
		},
		uploadSuccess(file, response) {
			if (response.status) {
				this.imageUploaded.push({
					uuid: file.upload.uuid,
					val: response.media.id
				});
				this.imageCount++;
			} else {
				this.swalError(
					null,
					'Upload Gagal! File gagal diupload. Silakan cek kembali tipe file atau koneksi internet Anda.'
				);
			}
		},
		uploadError(file, response) {
			const maxImageSizeInByte = 5000000;
			if (file.size > maxImageSizeInByte) {
				this.swalError(
					null,
					'Upload foto gagal! Tidak dapat mengunggah foto dengan ukuran melebihi 5MB.'
				);
			} else {
				this.swalError(
					null,
					'Upload foto gagal! Silakan cek kembali tipe file, batas jumlah foto maksimal, atau koneksi internet Anda.'
				);
			}
			this.$refs.dropzoneArea.removeFile(file);
		},
		removeFile(file) {
			const index = this.imageUploaded.findIndex(
				value => value.uuid === file.upload.uuid
			);
			if (index !== -1) {
				this.imageUploaded.splice(index, 1);
				this.imageCount--;
			}
		}
	}
};
</script>

<style lang="scss">
#uploadImageReview .dropzone .dz-preview.dz-error .dz-error-message {
	display: none;
}

#uploadImageReview .vue-dropzone .dz-preview.dz-success .dz-details {
	background-color: #1baa56;
}

#uploadImageReview .vue-dropzone .dz-preview.dz-error .dz-details {
	background-color: rgba(254, 82, 42, 0.8);
}
</style>

<style lang="scss" scoped>
.upload-image-container {
	margin-top: 2rem;
}

.btn-show-upload {
	font-weight: 700;
	width: auto;
}

.upload-image__area {
	margin-top: 1.5rem;
}
</style>
