<template>
	<mami-modal-wrap
		class="stop-rent-warning"
		:is-bottom-drawer="true"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="stop-rent-warning__wrapper">
			<div class="stop-rent-warning__image">
				<img
					src="/general/img/pictures/img_booking_list_card_mudah-cari.png"
					alt="berhenti sewa"
				/>
			</div>

			<div class="stop-rent-warning__title">
				<h1>{{ modalTitle }}</h1>
			</div>

			<div class="stop-rent-warning__caption">
				<p>{{ modalCaption }}</p>
			</div>

			<div class="stop-rent-warning__button">
				<button type="button" class="btn btn-primary" @click="onConfirm">
					{{ buttonText }}
				</button>
			</div>
		</div>
	</mami-modal-wrap>
</template>

<script>
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		modalTitle: {
			type: String,
			default: ''
		},
		modalCaption: {
			type: String,
			default: ''
		},
		buttonText: {
			type: String,
			default: 'Oke'
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		onConfirm() {
			this.$emit('confirm');
		}
	}
};
</script>

<style lang="scss">
.stop-rent-warning {
	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		height: auto !important;
		border-radius: 16px !important;
		overflow: auto !important;
	}

	.modal-sm {
		max-width: 550px !important;
		margin: 30px auto !important;
	}

	.modal-container {
		padding: 15px;
	}

	.btn-close-filter {
		font-weight: 100;
		color: #757575;
	}
}
</style>

<style lang="scss" scoped>
.stop-rent-warning {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 10px 0;

		h1 {
			font-size: 24px;
			font-weight: bold;
		}
	}

	&__caption {
		p {
			text-align: center;
		}
	}

	&__button {
		margin: 15px 0;
		width: 100%;
		display: flex;
		justify-content: center;

		button {
			height: 48px;
			border: none;
			font-weight: bold;
			width: 274px;

			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}
</style>
