<template>
	<div class="user-kost-claim-detail">
		<div class="claim-detail-header" @click="backToClaim">
			<span class="glyphicon glyphicon-menu-left"></span>
			<span>Kembali</span>
		</div>

		<h1 class="header-detail">Detail Tagihan</h1>

		<div
			class="header-card"
			:class="{
				'--error-header': claimData.payment_status === 'unpaid',
				'--success-header': claimData.payment_status === 'paid'
			}"
		>
			<div class="row">
				<div class="col-xs-6">
					<span class="title-card">{{ statusPaymentText }}</span>
				</div>
				<div class="col-xs-6 text-right">
					<span class="title-card">{{ claimData.status_payment }}</span>
				</div>
			</div>
		</div>

		<div class="wrapper-bill">
			<div class="row">
				<div class="col-md-6 col-xs-4">No. INV</div>
				<div class="col-md-6 col-xs-8">
					: <span ref="invoiceNumber">{{ claimData.invoiceNumber }}</span>
					<a class="copy-text" @click="copyInvoice">Salin</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-4">Jatuh Tempo</div>
				<div class="col-md-6 col-xs-8">
					<b>: {{ claimData.dueDate }}</b>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-4">Jumlah Tagihan</div>
				<div class="col-md-6 col-xs-8">
					<b>: Rp. {{ parseInt(claimData.amount).toLocaleString('id') }}</b>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		claimData: {
			type: Object,
			required: true,
			default: {}
		},
		claimDetail: {
			type: Object,
			required: true,
			default: {}
		}
	},

	computed: {
		statusPaymentText() {
			return this.claimData.payment_status === 'paid'
				? 'Dibayar'
				: 'Belum Dibayar';
		}
	},

	mounted() {
		this.resizeLinkWidth(document.getElementById('invoiceLink'));
	},

	methods: {
		backToClaim() {
			this.$emit('back');
		},
		resizeLinkWidth(element) {
			if (element !== null) {
				element.style.width = (element.value.length + 1) * 6.5 + 'px';
			}
		},
		selectText(element) {
			var range;
			if (document.selection) {
				// IE
				range = document.body.createTextRange();
				range.moveToElementText(element);
				range.select();
			} else if (window.getSelection) {
				range = document.createRange();
				range.selectNode(element);
				window.getSelection().removeAllRanges();
				window.getSelection().addRange(range);
			}
		},
		copyInvoice() {
			this.selectText(this.$refs.invoiceNumber);
			document.execCommand('copy');
		}
	}
};
</script>

<style lang="scss" scoped>
.user-kost-claim-detail {
	font-size: 14px;
	padding: 2rem 0rem;

	h1 {
		&.header-detail {
			font-size: 1.429em;
			font-weight: bold;
			color: #000000;
			letter-spacing: 0.25px;
			margin-bottom: 2rem;
		}
	}

	.wrapper-bill {
		font-size: 1em;
		margin-top: 2rem;

		.row {
			margin-bottom: 1rem;
		}

		.copy-text {
			font-weight: bold;
			padding-left: 1rem;
		}
	}

	.header-card {
		padding: 0.5rem 1.5rem;
		position: relative;
		left: -15px;
		width: calc(100% + 30px);

		&.--success-header {
			background: #d1eedd;
			.title-card {
				color: #109e4b;
			}
		}

		&.--error-header {
			background: #fbdace;
			.title-card {
				color: #e04205;
			}
		}
	}

	.claim-detail-header {
		font-size: 1.2em;
		font-weight: bold;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: #109e4b;
		font-size: 1em;

		.glyphicon {
			font-size: 0.85em;
			margin-right: 0.5rem;
		}
	}

	.claim-detail-data {
		margin-top: 2rem;
		margin-left: 2rem;
		margin-bottom: 2rem;

		.data-room {
			display: flex;

			.data-room__date {
				text-transform: capitalize;
			}

			.data-room__name {
				font-weight: bold;
				display: flex;

				.--name {
					@media (min-width: 768px) and (max-width: 991px) {
						max-width: 125px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					@media (max-width: 425px) {
						max-width: 125px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}

		.data-status {
			display: flex;
			align-items: center;

			img {
				height: 12px;
				margin-right: 0.5rem;
			}
		}

		.data-payment {
			margin-top: 2rem;

			.data-payment__url {
				max-width: 300px;
				display: flex;
				justify-content: space-between;
				cursor: pointer;

				input {
					max-width: 220px;
					border: none;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: pointer;
					padding-top: 0;

					&:focus {
						outline: none;
					}
				}
			}
		}

		.data-action {
			margin-top: 2rem;

			button {
				font-weight: bold;
			}
		}
	}

	.clearfix {
		height: 20px;
		border-bottom: 0.0625em solid rgba(112, 112, 112, 0.28);
		margin: 0 -1.5rem;
	}

	.claim-detail-timeline {
		margin-top: 5rem;

		@media (max-width: 425px) {
			font-size: 0.9em;
		}

		.timeline-card {
			display: flex;
			width: 100%;
			justify-content: space-around;

			.card-checkpoint {
				font-weight: bold;
				color: #8f8f8f;

				&.--active {
					color: inherit;
				}
			}

			.card-mark {
				display: flex;
				flex-direction: column;
				align-items: center;

				.bulletpoint {
					height: 15px;
					width: 15px;
					background-color: #e3e3e3;
					border-radius: 100%;
					margin-top: 1rem;

					@media (max-width: 425px) {
						margin-top: 0.5rem;
					}

					&.--active {
						background-color: #1baa56;
					}
				}

				.connector {
					height: 135px;
					width: 2px;
					background-color: #e3e3e3;
					margin-bottom: -1rem;

					@media (max-width: 425px) {
						margin-bottom: -0.5rem;
					}
				}
			}

			.card-info {
				.info-date {
					text-transform: capitalize;
					font-weight: bold;
				}

				.info-payment {
					font-size: 0.9em;
				}
			}
		}
	}
}
</style>
