<template>
	<div class="user-kost-empty">
		<div class="empty-logo">
			<img
				src="/general/img/pictures/img_empty_user_kost.svg"
				alt="img_empty_user_kost"
				title="Empty Kost"
			/>
		</div>

		<div class="empty-desc">
			<span
				>Kamu belum memiliki kos yang di sewa, yuk mulai sewa kosan yang kamu
				inginkan</span
			>
		</div>

		<div class="empty-button">
			<a href="/cari" type="button" class="btn btn-primary"
				><img
					src="/general/img/icons/ic_search-magnifier_white.svg"
					alt="ic_search-magnifier_white"
					title="Magnifier White"
				/>
				Cari Kost</a
			>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.user-kost-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 2rem;

	.empty-logo {
		img {
			height: 15rem;
		}
	}

	.empty-desc {
		margin: 2.5rem 0 3.5rem 0;
		text-align: center;
	}

	.empty-button {
		width: 100%;
		display: flex;
		justify-content: center;

		a {
			width: 50%;

			@media (max-width: 425px) {
				width: 100%;
			}
		}
	}
}
</style>
