<template>
	<div class="stop-rent-date">
		<label class="stop-rent-date__label">Kapan kamu berhenti sewa kos?</label>

		<input
			:value="formattedCheckoutDate"
			type="text"
			placeholder="Pilih tanggal"
			class="stop-rent-date__input"
			readonly
			@click="toggleDatePicker(true)"
		/>

		<user-kost-stop-rent-calendar
			:title="title"
			:caption="caption"
			:show-modal="isShowDatePicker"
			:disabled-dates="disabledDates"
			@close="toggleDatePicker(false)"
			@select="selectDate"
		/>
	</div>
</template>

<script>
import UserKostStopRentCalendar from './UserKostStopRentCalendar';

export default {
	components: {
		UserKostStopRentCalendar
	},

	props: {
		checkoutDate: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		caption: {
			type: String,
			default: ''
		},
		disabledDates: {
			type: Object,
			default: () => {}
		}
	},

	data() {
		return {
			isShowDatePicker: false
		};
	},

	computed: {
		formattedCheckoutDate() {
			return this.checkoutDate
				? this.$dayjs(this.checkoutDate).format('D MMMM YYYY')
				: '';
		}
	},

	methods: {
		toggleDatePicker(state) {
			this.isShowDatePicker = state;
		},
		selectDate(date) {
			this.$emit('select', date);
		}
	}
};
</script>

<style lang="scss">
.stop-rent-date {
	&__datepicker {
		input {
			display: none;
		}
	}

	.vdp-datepicker__calendar {
		z-index: 0 !important;
	}

	.vdp-datepicker__calendar[style] {
		display: block !important;
	}

	.vdp-datepicker__calendar {
		position: relative;
		width: 100%;
		border: 0;
		border-radius: 4px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

		.day__month_btn {
			font-size: 16px;
		}
	}

	.cell {
		font-weight: bold;
	}

	.cell.day-header {
		height: 50px;
		line-height: 50px;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
	}

	.cell.day {
		font-weight: bold;

		&.disabled {
			color: #bbb;
			background-color: #f6f6f6;
		}

		&.selected {
			color: #fff;
			background-color: #1baa56;
			border: 1px solid #1baa56;
			border-radius: 4px;
		}

		&:not(.blank):not(.disabled):hover {
			background-color: #e8f7ee;
			border: 1px solid #e8f7ee !important;
			border-radius: 4px;
		}

		&:not(.blank):not(.disabled).selected:hover {
			background-color: #1baa56;
			border: 1px solid #1baa56 !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.stop-rent-date {
	&__label {
		margin-bottom: 7px;
	}

	&__input {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		padding: 12px 48px 12px 12px;
		font-size: 16px;
		line-height: 24px;
		color: #383746;
		background-image: url('/general/img/icons/ic_date-mamipay_grey.svg');
		background-repeat: no-repeat;
		background-position: right 16px center;
		background-size: 20px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;

		&:focus {
			border-color: #1baa56;
			outline: none;
		}

		&:disabled {
			background-color: #fff;
		}
	}
}
</style>
