<template>
	<div class="container notif-center-menu">
		<div class="menu-slide">
			<button
				@click="changeCategory(true)"
				class="btn btn-default"
				:class="{
					'--active': selectedCategory
				}"
			>
				Akan Datang
			</button>
		</div>

		<div class="menu-slide">
			<button
				@click="changeCategory(false)"
				class="btn btn-default"
				:class="{
					'--active': !selectedCategory
				}"
			>
				Sudah Lunas
			</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			selectedCategory: true
		};
	},

	methods: {
		changeCategory(val) {
			this.selectedCategory = val;
			this.$emit('actionChangedCategory', val);
		}
	}
};
</script>

<style lang="scss" scoped>
.notif-center-menu {
	padding: 0 0;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}

.menu-slide {
	position: relative;
	padding-right: 12px;
}

.btn {
	box-sizing: border-box;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #404040;
	text-transform: capitalize;
	border: 1px solid #e8e8e8;
	border-radius: 20px;

	&:hover {
		background: #f6f6f6;
	}

	&.--active {
		color: #303030;
		background-color: #fff;
		border-color: #303030;
	}
}

.unread-dot {
	height: 8px;
	width: 8px;
	background-color: red;
	border-radius: 100%;
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 17px;
}
</style>
