<template>
	<mami-modal-wrap
		class="stop-rent-calendar"
		:is-bottom-drawer="true"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="stop-rent-calendar__wrapper">
			<div class="stop-rent-calendar__title">
				<h1>{{ title }}</h1>
			</div>

			<div class="stop-rent-calendar__caption">
				<p>{{ caption }}</p>
			</div>

			<div class="stop-rent-calendar__datepicker">
				<datepicker
					v-model="checkoutDate"
					class="stop-rent-date__datepicker"
					maximum-view="day"
					full-month-name
					:disabled-dates="disabledDates"
					:language="id"
					@selected="selectDate"
				/>
			</div>

			<div class="stop-rent-calendar__button">
				<button
					class="btn btn-primary"
					:class="{ '--disabled': !checkoutDate }"
					type="button"
					:disabled="!checkoutDate"
					@click="chooseDate"
				>
					Pilih
				</button>
			</div>
		</div>
	</mami-modal-wrap>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { id } from 'vuejs-datepicker/dist/locale';

const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		Datepicker,
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		title: {
			type: String,
			default: ''
		},
		caption: {
			type: String,
			default: ''
		},
		disabledDates: {
			type: Object,
			default: () => {}
		}
	},

	data() {
		return {
			checkoutDate: '',
			id
		};
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		selectDate(date) {
			this.checkoutDate = date;
		},
		chooseDate() {
			this.$emit('select', this.checkoutDate);
			this.closeModal();
		}
	}
};
</script>

<style lang="scss">
.stop-rent-calendar {
	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		height: auto !important;
		border-radius: 16px !important;
	}

	.modal-container {
		padding: 15px;
	}

	.modal-sm {
		max-width: 550px !important;
		margin: 30px auto !important;
	}

	.btn-close-filter {
		font-weight: 100;
		color: #757575;
	}
}
</style>

<style lang="scss" scoped>
.stop-rent-calendar {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__title h1 {
		font-weight: bold;
		font-size: 24px;
	}

	&__caption {
		margin-bottom: 35px;
	}

	&__datepicker {
		max-width: 320px;
	}

	&__button {
		display: flex;
		justify-content: center;
		margin-top: 25px;
		width: 100%;

		.btn-primary {
			height: 48px;
			width: 185px;
			border: none;
			font-weight: bold;

			&.--disabled {
				background-color: #f6f6f6;
				color: #bbb;
			}

			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}
</style>
