<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="agentName"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>
		<input
			type="text"
			id="agentName"
			class="form-control"
			minlength="4"
			maxlength="30"
			:name="label"
			:placeholder="placeholder"
			v-model="agentName"
			v-validate="'required|alpha_spaces|min:3|max:30'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			agentName: this.$store.state.params.agent_name
		}
	},
	watch: {
		agentName: debounce(
			function (val) {
				validator.attach(this.label, 'required|alpha_spaces|min:3|max:30');
				validator.validate(this.label, val).then((result) => {
					if (result) {
						this.$store.commit('setParamsAgentName', val);
					}
					else {
						this.$store.commit('setParamsAgentName', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>
