<template>
	<div>
		<div
			:class="[grid, 'room-container']"
			v-for="(room, index) in rooms"
			:key="index"
		>
			<div
				class="col-xs-5 stretch room-photo"
				:style="{ backgroundImage: 'url(' + room.photo_url.medium + ')' }"
			></div>
			<div class="col-xs-7 stretch room-data">
				<p>{{ room['room-title'] }}</p>
				<p>{{ room.address }}</p>
				<label class="label-gender-female" v-if="room.gender == 2">Putri</label>
				<label class="label-gender-male" v-else-if="room.gender == 1"
					>Putra</label
				>
				<label class="label-gender-mix" v-else-if="room.gender == 0"
					>Campur</label
				>
			</div>
			<div class="col-xs-12 stretch room-action">
				<a :href="room.share_url" class="btn btn-mamigreen">Klaim Kost Ini</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			rooms: []
		};
	},
	created() {
		axios
			.get('/owner/suggested')
			.then(response => {
				this.rooms = response.data.rooms;
			})
			.catch(error => {
				bugsnagClient.notify(error);
			});
	},
	props: {
		grid: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_gallery_approx: #eee;
$white: #fff;
$color_brink_pink_approx: #f26389;
$color_curious_blue_approx: #3498db;
$color_wisteria_approx: #9b59b6;

.room-container {
	margin-bottom: 20px;
	border: 1px solid $color_gallery_approx;
	border-radius: 8px;
}
.room-photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 150px;
}
.room-data {
	padding: 5px 10px;
	height: 150px;
	> p {
		margin-bottom: 15px;
		&:first-child {
			font-weight: bold;
		}
	}
}
.label-gender-female {
	padding: 2px 6px;
	border-radius: 2px;
	color: $white;
	background-color: $color_brink_pink_approx;
}
.label-gender-male {
	padding: 2px 6px;
	border-radius: 2px;
	color: $white;
	background-color: $color_curious_blue_approx;
}
.label-gender-mix {
	padding: 2px 6px;
	border-radius: 2px;
	color: $white;
	background-color: $color_wisteria_approx;
}
.room-action > .btn {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	width: 100%;
	font-size: 16px;
}
</style>
