<template>
	<div
		class="form-group"
		:class="{ 'has-error': errors.has(label), disabled: disable }"
	>
		<label for="propertyRoomAvailable"
			>{{ label }}
			<span class="text-danger" v-if="!disable">*wajib diisi</span></label
		>
		<input
			type="number"
			id="propertyRoomAvailable"
			class="form-control has-custom-width"
			min="0"
			:name="label"
			:placeholder="placeholder"
			v-model="roomAvailableValue"
			v-validate="
				'required|numeric|min_value:0|max_value:' +
					$store.state.params.room_count
			"
			:disabled="disable"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			roomAvailable: this.$store.state.params.room_available
		};
	},
	computed: {
		roomAvailableValue: {
			get() {
				return this.roomAvailable;
			},
			set(val) {
				this.roomAvailable = val;
				this.$store.commit('setParamsRoomAvailable', val);
			}
		}
	},
	watch: {
		roomAvailable: debounce(function(val) {
			validator.attach(
				this.label,
				'required|numeric|min_value:0|max_value:' +
					this.$store.state.params.room_count
			);
			validator
				.validate(this.label, val)
				.then(result => {
					this.roomAvailableValue = val ? parseInt(val) : 0;
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		},
		disable: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
@media (max-width: 767px) {
	.form-control.has-custom-width {
		width: 50%;
	}
}
@media (max-width: 991px) and(min-width: 768px) {
	.form-control.has-custom-width {
		width: 25%;
	}
}
@media (min-width: 992px) {
	.form-control.has-custom-width {
		width: 20%;
	}
}
</style>
