<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="managerPhone">{{ label }}</label>
		<input
			type="tel"
			id="managerPhone"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="managerPhone"
			v-validate="'numeric|min:9|max:15'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			managerPhone: this.$store.state.params.manager_phone
		}
	},
	watch: {
		managerPhone: debounce(
			function (val) {
				validator.attach(this.label, 'numeric|min:9|max:15');
				validator.validate(this.label, val).then((result) => {
					if (result) {
						this.$store.commit('setParamsManagerPhone', val);
					}
					else {
						this.$store.commit('setParamsManagerPhone', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>
