<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="propertyRemarks">{{ label }}</label>
		<div class="distance-label">
			<textarea
				id="propertyRemarks"
				class="form-control"
				minlength="10"
				maxlength="500"
				:name="label"
				:placeholder="placeholder"
				v-model="remarks"
				v-validate="'min:10|max:500'"
			>
			</textarea>
			<p class="text-danger" v-show="errors.has(label)">
				{{ errors.first(label) }}
			</p>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			remarks: this.$store.state.params.remarks
		};
	},
	watch: {
		remarks: debounce(function(val) {
			validator.attach(this.label, 'min:10|max:500');
			validator
				.validate(this.label, val)
				.then(result => {
					this.$store.commit('setParamsRemarks', val);
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
textarea.form-control {
	resize: none;
	min-height: 100px;
	font-size: inherit;
}
</style>
