<template>
	<div class="form-group">
		<label>
			{{ label }} (angka sesuai dengan ukuran meter)
			<span class="text-danger">*wajib diisi</span>
		</label>
		<br />
		<div class="distance-label">
			<div class="form-group-radio mami-wrap room-size-width">
				<div class="radio-mami radio-lg radio-txt radio-success radio-inline">
					<input
						type="radio"
						id="propertyRoomSize1"
						value="3x3"
						v-model="roomSize.default"
					/>
					<label for="propertyRoomSize1">3 x 3</label>
				</div>

				<div class="radio-mami radio-lg radio-txt radio-success radio-inline">
					<input
						type="radio"
						id="propertyRoomSize2"
						value="3x4"
						v-model="roomSize.default"
					/>
					<label for="propertyRoomSize2">3 x 4</label>
				</div>

				<div class="radio-mami radio-lg radio-txt radio-success radio-inline">
					<input
						type="radio"
						id="propertyRoomSize3"
						value="4x4"
						v-model="roomSize.default"
					/>
					<label for="propertyRoomSize3">4 x 4</label>
				</div>

				<div class="radio-custom stretch radio-input-field">
					<div class="radio-mami radio-lg radio-txt radio-success radio-inline">
						<input
							type="radio"
							id="propertyRoomSize4"
							value="custom"
							v-model="roomSize.default"
							@change="setCustomRoomSize(roomSize.custom)"
							:checked="roomSize.default !== 'custom' ? true : false"
						/>
						<label
							for="propertyRoomSize4"
							:class="
								roomSize.default == 'custom' && hasError == true
									? 'has-error'
									: ''
							"
							>&nbsp;</label
						>
					</div>
					<div class="input-field is-custom">
						<input
							type="text"
							v-model="roomSize.custom"
							placeholder="_X_"
							class="form-control no-border"
							@input="roomSize.default = 'custom'"
							maxlength="5"
						/>
					</div>
				</div>
			</div>
			<p v-if="roomSizeError" style="color: #b90000;">
				Mohon isi luas kamar sesuai format ..x..
			</p>
			<p>*tanpa kamar mandi</p>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			roomSizeError: false,
			roomSize: {
				default: '',
				custom: ''
			},
			hasError: false
		};
	},

	created() {
		const currentRoomSize = this.$store.state.params.room_size;
		if (
			currentRoomSize == '3x3' ||
			currentRoomSize == '3x4' ||
			currentRoomSize == '4x4'
		) {
			this.roomSize.default = currentRoomSize;
		} else {
			this.roomSize.default = 'custom';
			this.roomSize.custom = currentRoomSize.trim();
		}
	},

	watch: {
		'roomSize.default': function(val) {
			if (val == '3x3' || val == '3x4' || val == '4x4') {
				let setRoomSize = val;
				this.roomSize.custom = '';
				this.$store.commit('setParamsRoomSize', setRoomSize);
				this.roomSizeError = false;
			} else {
				this.trueCond();
			}
		},
		'roomSize.custom': debounce(function(val) {
			if (val != '') {
				this.setCustomRoomSize(val);
			}
		}, 500)
	},

	props: {
		label: {
			type: String,
			required: true
		}
	},

	methods: {
		checkingPattern(val) {
			let patternOne = 'Y11X11';
			let patternTwo = 'Y1X1';
			let patternThree = 'Y11X1';
			let patternFour = 'Y1X11';
			let patternFive = 'Y1X1X1';

			let patternResult = 'Y';

			for (let i = 0; i < val.length; i++) {
				if (parseInt(val.charAt(i)) || val.charAt(i) == 0) {
					if (i == 0 && val.charAt(i) == 0) {
						patternResult = patternResult + 'X';
					} else {
						patternResult = patternResult + '1';
					}
				} else {
					patternResult = patternResult + 'X';
				}
			}

			if (
				patternResult == patternOne ||
				patternResult == patternTwo ||
				patternResult == patternThree ||
				patternResult == patternFour ||
				patternResult == patternFive
			) {
				return true;
			} else {
				return false;
			}
		},

		trueCond() {
			this.roomSizeError = true;
			this.hasError = true;
			this.$store.commit('setParamsRoomSize', '');
		},

		falseCond(size) {
			this.hasError = false;
			this.$store.commit('setParamsRoomSize', size);
			this.roomSizeError = false;
		},

		setCustomRoomSize(size) {
			const pattern = /([1-9]x[1-9]|[1-9]\dx[1-9]\d*|[1-9]X[1-9]|[1-9]\dX[1-9]\d)/;
			const charAllowed = /^[0-9xX,]+$/;

			const rgxStepOne = pattern.test(size);
			const rgxStepTwo = charAllowed.test(size);

			if (rgxStepOne && rgxStepTwo) {
				if (this.checkingPattern(size)) {
					this.falseCond(size);
				} else {
					this.trueCond();
				}
			} else {
				this.trueCond();
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.radio-inline {
	&.has-margin-top {
		margin-top: 6px;
	}
	&.input-field {
		width: 30%;
		&.is-custom {
			width: 60%;
			text-align: center;
		}
		.form-control {
			text-align: center;
		}
	}
}

.radio-input-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

label.no-margin-bottom {
	margin-bottom: 0;
}

.radio-custom {
	position: relative;
	> .radio-mami {
		margin-left: 10px;
	}
	> .input-field {
		position: absolute;
		width: 7.1em;
		top: -1rem;
		left: calc(36% / 2);
		> input {
			border: transparent;
			background: transparent;
			font-size: 1.9em !important;
			height: 8.9rem;
			text-align: center;
		}
	}
}

.form-group-radio {
	@media (max-width: 320px) {
		justify-content: space-between;
	}
	> .radio-mami {
		&:last-child {
			@media (max-width: 554px) {
				padding-left: 0.5rem;
				margin-left: 0;
			}
		}
		&:nth-child(2) {
			@media (max-width: 484px) {
				margin-left: 1rem;
				padding-left: 0.5rem;
			}
			@media (max-width: 413px) {
				margin-top: 0;
				margin-left: 10px;
				padding-left: 20px;
			}
			@media (max-width: 320px) {
				margin-left: 0.5rem;
			}
		}
		&:nth-child(3) {
			@media (max-width: 484px) {
				margin-left: 1rem;
				padding-left: 0.5rem;
			}
			@media (max-width: 413px) {
				padding-left: 0px;
				margin-left: 0.5rem;
			}
		}
		@media (max-width: 320px) {
			padding-left: 0.5rem;
			margin-left: 0;
		}
	}
	.radio-custom {
		@media (max-width: 563px) and (min-width: 414px) {
			left: -1.8em;
		}

		@media (max-width: 320px) {
			width: 12.6rem;
		}
	}
}

.has-error {
	border: 1px solid #a94442 !important;
	background-color: #ffebeb !important;
}
</style>
