<template>
	<div class="col-md-12 col-xs-12 stretch">
		<div class="wrapper-photo-kost">
			<div
				:class="[grid, 'dropzone-custom', 'photo-kost']"
				v-for="(dropzoneObject, index) in dropzoneObjects"
				:key="index"
			>
				<p class="dropzone-title">
					{{ dropzoneObject.title }} <span class="text-danger">*</span>
				</p>
				<dropzone
					:ref="dropzoneObject.id"
					:id="dropzoneObject.id"
					:options="dropzoneOptions"
					:destroyDropzone="false"
					@vdropzone-removed-file="removePhoto(dropzoneObject.id, $event)"
					@vdropzone-thumbnail="$refs[dropzoneObject.id][0].processQueue()"
					@vdropzone-success="uploadSuccess"
					@vdropzone-file-added="showAdded(dropzoneObject.id, $event)"
				>
				</dropzone>
				<p v-if="isError[dropzoneObject.id]" class="failed-alert error-center">
					File foto terlalu besar atau tipe file tidak didukung
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: Dropzone
	},
	data() {
		return {
			dropzoneOptions: {
				url: this.postUrl,
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 100,
				autoProcessQueue: false,
				maxFilesize: 6,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: ' Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$store.state.token,
					watermarking: true,
					watermarking_type: 'reguler'
				}
			},
			photos: {
				cover: [],
				bedroom: [],
				bath: []
			},
			photosUrl: {
				cover: this.$store.state.extras.photosUrl.cover,
				bedroom: this.$store.state.extras.photosUrl.bedroom,
				bath: this.$store.state.extras.photosUrl.bath
			},
			photosAdded: false,
			isError: {
				photoCover: false,
				photoBedroom: false,
				photoBath: false
			}
		};
	},
	computed: {
		photoUrlBath() {
			return this.$store.state.extras.photosUrl.bath;
		},
		photoUrlBedRoom() {
			return this.$store.state.extras.photosUrl.bedroom;
		},
		photoUrlCover() {
			return this.$store.state.extras.photosUrl.cover;
		}
	},
	created() {},
	props: {
		grid: {
			type: String,
			required: true
		},
		dropzoneObjects: {
			type: Array,
			required: true
		},
		postUrl: {
			type: String,
			required: true
		}
	},
	methods: {
		showAdded(id, file) {
			setTimeout(() => {
				if (file.accepted) {
					this.isError[id] = false;
				} else {
					if (
						Object.keys(this.photoUrlCover).length &&
						Object.keys(this.photoUrlBedRoom).length &&
						Object.keys(this.photoUrlBath).length
					) {
						this.isError[id] = false;
					} else {
						this.isError[id] = true;
					}
				}
			}, 1000);
		},
		removePhoto(id, file) {
			if (id == 'photoCover') {
				this.photos.cover.forEach((item, index) => {
					this.photos.cover.splice(index, 1);
				});
			} else if (id == 'photoBedroom') {
				this.photos.bedroom.forEach((item, index) => {
					this.photos.bedroom.splice(index, 1);
				});
			} else if (id == 'photoBath') {
				this.photos.bath.forEach((item, index) => {
					this.photos.bath.splice(index, 1);
				});
			}
			this.rearrangePhotosValue();
		},
		rearrangePhotosValue() {
			let newPhotosValue = {
				cover: [],
				main: null,
				bath: null,
				bedroom: null
			};

			if (this.photos.cover[0]) {
				newPhotosValue.cover.push(this.photos.cover[0]);
			}
			newPhotosValue.bedroom = this.photos.cover.slice(1);
			newPhotosValue.main = this.photos.bedroom;
			newPhotosValue.bath = this.photos.bath;

			this.$store.commit('setParamsPhotos', newPhotosValue);
		},
		uploadSuccess(file, response) {
			if (response.status) {
				if (response.media.id !== 0) {
					const id = file.previewElement.parentElement.id;
					if (id == 'photoCover') {
						this.photos.cover.push(response.media.id);
						this.photosUrl.cover = response.media.url;
					} else if (id == 'photoBedroom') {
						this.photos.bedroom.push(response.media.id);
						this.photosUrl.bedroom = response.media.url;
					} else if (id == 'photoBath') {
						this.photos.bath.push(response.media.id);
						this.photosUrl.bath = response.media.url;
					}

					this.rearrangePhotosValue();
					this.$store.commit('setExtrasPhotosUrl', this.photosUrl);
				} else {
					alert(
						'Terjadi galat saat upload foto. Silakan ulangi upload foto Anda.'
					);
					this.photos = {
						cover: null,
						bedroom: null,
						bath: null
					};
					this.photosUrl = {
						cover: {},
						bedroom: {},
						bath: {}
					};
					this.$store.commit('setParamsPhotos', this.photos);
					this.$store.commit('setExtrasPhotosUrl', this.photosUrl);
					// this.$store.commit('changeSection', this.$store.state.section - 1);
				}
			} else {
				const id = file.previewElement.parentElement.id;
				swal('', 'Terjadi galat saat upload foto.', 'error');
				this.$refs[id][0].removeFile(file);
			}
		},
		resetPhotos() {
			this.photosAdded = !this.photosAdded;
			this.photos = {
				cover: null,
				bedroom: null,
				bath: null
			};
			this.photosUrl = {
				cover: {},
				bedroom: {},
				bath: {}
			};
			this.$store.commit('setParamsPhotos', this.photos);
			this.$store.commit('setExtrasPhotosUrl', this.photosUrl);
		}
	}
};
</script>

<style lang="scss" scoped>
.error-center {
	margin: 0 auto;
	text-align: center;
	color: #c51f1f;
}
</style>

<style lang="scss">
//colors
$color_green_haze_approx: #1baa56;
$white: #fff;
$color_salem_approx: #109e4b;
$mercury: #e5e5e5;

//fonts
$font_0: Lato;
$font_1: sans-serif;

.dropzone-custom {
	margin-bottom: 10px;
	> .vue-dropzone {
		font-family: $font_0, $font_1;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: left;
		overflow: hidden;
		flex-wrap: wrap;
		.dz-preview {
			.dz-details {
				background-color: $color_green_haze_approx;
				padding: 0;
			}
			.dz-remove {
				margin: 0;
				font-size: 0.75em;
				font-weight: bold;
				border-radius: 4px;
				&:active {
					text-decoration: none;
				}
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
		.dz-message {
			margin: 0 auto;
			> span {
				font-size: 16px;
				font-weight: bold;
				background-color: $color_green_haze_approx;
				color: $white;
				padding: 5px;
				border-radius: 4px;
				border-color: $color_green_haze_approx;
				&:active {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				&:hover {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				&:focus {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				> .fa {
					color: $white;
				}
			}
		}
	}
	.dropzone .dz-preview {
		&.dz-image-preview {
			margin: 1.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.dz-image img {
			max-width: 100%;
			object-fit: cover !important;
		}
	}
	.dz-preview .dz-image {
		width: 100% !important;
		height: 146px !important;
	}
}
.dropzone-title {
	font-weight: bold;
	margin-bottom: 0;
}
@media (max-width: 1199px) and(min-width: 992px) {
	.dropzone-title {
		height: 42px;
	}
}
.dropzone-uploaded {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 146px;
	border: 2px solid $mercury;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 0;
}

.dz-error-message {
	top: 0% !important;
	height: 100%;
	font-weight: bold;
	padding-top: 4.8rem !important;
	background: #c1400f !important;
	border-radius: 0px !important;
	text-align: center;
}

.dz-remove {
	z-index: 9999 !important;
	margin-top: -1.3rem !important;
}
</style>
