<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="propertyName"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
			<i
				class="fa fa-circle-o-notch fa-spin loading-spinner-default"
				v-show="checking.isLoading"
			></i>
		</label>
		<input
			type="text"
			id="propertyName"
			class="form-control"
			minlength="10"
			maxlength="200"
			:name="label"
			:placeholder="placeholder"
			v-model="name"
			v-validate="fieldNameRule"
			data-content="Isikan nama kost yang berbeda dari sebelumnya untuk tipe lain"
			data-placement="top"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
		<p class="text-danger" v-show="checking.isUsed">
			<span v-if="newType"
				>Nama '{{ checking.inputName }}' sudah terdaftar, silakan gunakan nama
				yang lain</span
			>
			<span v-else-if="inputAs == 'Pemilik Kos' || inputAs == 'Pengelola Kos'"
				>Nama '{{ checking.inputName }}' sudah terdaftar. Apakah kost tersebut
				milik Anda? <a :href="slug" target="_blank" rel="noopener">Ya</a></span
			>
			<span v-else
				>Nama '{{ checking.inputName }}' sudah terdaftar, silakan gunakan nama
				yang lain</span
			>
		</p>
		<p class="text text-muted">
			Saran penulisan nama: Kost (spasi) Nama Kost (spasi) Kecamatan (spasi)
			Nama Kota
		</p>
	</div>
</template>

<script>
import mixinGetQueryString from '../../@mixins/MixinGetQueryString';
export default {
	mixins: [mixinGetQueryString],
	data() {
		return {
			inputAs: this.$store.state.params.input_as,
			name: this.$store.state.params.name,
			checking: {
				inputName: '',
				isLoading: false,
				isUsed: false
			},
			newType: false,
			slug: this.$store.state.extras.slug
		};
	},
	computed: {
		namePrevious() {
			return this.$store.state.extras.namePrevious !== undefined
				? this.$store.state.extras.namePrevious
				: '';
		},
		isConsultantOnly() {
			return this.$store.state.isConsultantOnly;
		},
		fieldNameRule() {
			return {
				required: true,
				min: 10,
				max: 200,
				regex: /^[/()\-'"‘“’”.,a-zA-Z0-9\s]+$/
			};
		}
	},
	watch: {
		name: debounce(function(val) {
			this.checking.isUsed = false;
			this.slug = this.$store.state.extras.slug;
			validator.attach(this.label, this.fieldNameRule);
			const URL = this.isConsultantOnly
				? '/property/check-name?name='
				: '/kost/name?name=';
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.checking.inputName = val;
						this.checking.isLoading = true;
						axios
							.get(URL + this.checking.inputName)
							.then(response => {
								this.checking.isLoading = false;
								if (this.getQueryString('for') === 'new_type') {
									if (response.data.is_used) {
										this.isUsed(response);
									} else {
										this.isNoUsed();
									}
								} else {
									if (
										response.data.is_used &&
										response.data.slug !== this.slug
									) {
										this.isUsed(response);
									} else {
										this.isNoUsed();
									}
								}
							})
							.catch(error => {
								this.checking.isLoading = false;
								alert('Terjadi galat saat pengecekan nama. Silakan coba lagi.');
								bugsnagClient.notify(error);
							});
					} else {
						this.$store.commit('setParamsName', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String,
			default: ''
		}
	},
	methods: {
		isUsed(response) {
			this.checking.isUsed = true;
			this.slug = response.data.slug;
			this.$store.commit('setParamsName', '');
			$('#propertyName').popover('show');
		},
		isNoUsed() {
			this.checking.isUsed = false;
			this.$store.commit('setParamsName', this.checking.inputName);
			$('#propertyName').popover('hide');
		},
		isNewType() {
			this.checking.inputName = this.name;
			this.checking.isLoading = true;
			axios
				.get('/kost/name?name=' + this.checking.inputName)
				.then(response => {
					this.checking.isLoading = false;
					if (this.getQueryString('for') === 'new_type') {
						if (response.data.is_used) {
							this.isUsed(response);
						} else {
							this.isNoUsed();
						}
					} else {
						if (response.data.is_used && response.data.slug !== this.slug) {
							this.isUsed(response);
						} else {
							this.isNoUsed();
						}
					}
				})
				.catch(error => {
					this.checking.isLoading = false;
					alert('Terjadi galat saat pengecekan nama. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	},
	mounted() {
		if (this.namePrevious !== '') {
			if (
				this.name !== '' &&
				this.name === this.$store.state.extras.namePrevious
			) {
				$('#propertyName').popover('show');
			}
		}

		if (this.getQueryString('for') === 'new_type' && this.name) {
			this.newType = true;
			this.isNewType();
		}

		this.$validator.extend('regex', {
			getMessage: field =>
				`Nama kos harus berupa huruf, angka, dan karakter spesial seperti / ( ) - . , ' dan "`,
			validate: value => {
				return this.fieldNameRule.regex.test(value);
			}
		});
	}
};
</script>

<style lang="scss" scoped>
.loading-spinner-default {
	font-weight: normal;
}
.popover-content {
	font-weight: 600 !important;
	color: #f00 !important;
}
</style>
