<template>
	<div class="form-group">
		<label
			>{{ label }} <span class="text-danger">*pilih salah satu </span></label
		>
		<div class="distance-label">
			<div class="radio radio-success radio-inline col-sm-3 col-xs-4">
				<input
					type="radio"
					id="facBath1"
					:value="tags[0].tag_id"
					v-model="facBathRaw"
				/>
				<label for="facBath1"> {{ tags[0].name }} </label>
			</div>
			<div class="radio radio-success radio-inline col-sm-3 col-xs-4">
				<input
					type="radio"
					id="facBath2"
					:value="tags[1].tag_id"
					v-model="facBathRaw"
				/>
				<label for="facBath2"> {{ tags[1].name }} </label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			facBathRaw: null,
			facBath: this.$store.state.params.fac_bath
		};
	},
	created() {
		if (this.facBath.length > 0) {
			this.facBath.forEach((item, index) => {
				this.facBathRaw = item;
			});
		} else {
			this.facBathRaw = 1;
		}
	},
	watch: {
		facBathRaw(val) {
			this.$store.commit('setParamsFacBath', parseInt(val));
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}
</style>
