<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="ownerName"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>
		<input
			type="text"
			id="ownerName"
			class="form-control"
			minlength="4"
			maxlength="30"
			:name="label"
			:placeholder="placeholder"
			v-model="ownerName"
			v-validate="'required|alpha_spaces|min:4|max:30'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	computed: {
		ownerName: {
			get() {
				return this.$store.state.params.owner_name;
			},
			set(newVal) {
				this.$store.state.params.owner_name = newVal;
			}
		}
	},
	watch: {
		ownerName: debounce(function (val) {
			validator.attach(this.label, 'required|alpha_spaces|min:4|max:30');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsOwnerName', val);
					} else {
						this.$store.commit('setParamsOwnerName', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>
