<template>
	<div class="form-group">
		<label>
			{{ label }}
			<span class="text-muted">
				(Isi sesuai aturan kost, tidak semua harus diisi)
			</span>
		</label>
		<br />
		<div
			class="mami-wrap mami-wrap-checkbox payment-field-wrap mami-wrap-price"
		>
			<div
				:class="{ disabled: isPriceFlashSale['monthly'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox checkbox-"
				@click="handleIsPriceFlashSale(isPriceFlashSale['monthly'])"
			>
				<input
					type="checkbox"
					id="checkPriceMonthly"
					v-model="priceMonthly.checked"
					checked
					disabled
				/>
				<label for="checkPriceMonthly">
					Perbulan <span class="text-danger">*</span></label
				>
			</div>
			<div
				:class="{ disabled: isPriceFlashSale['daily'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox"
				@click="handleIsPriceFlashSale(isPriceFlashSale['daily'])"
			>
				<input
					:disabled="isPriceFlashSale['daily']"
					type="checkbox"
					id="checkPriceDaily"
					v-model="priceDaily.checked"
				/>
				<label for="checkPriceDaily"> Perhari </label>
			</div>
			<div
				:class="{ disabled: isPriceFlashSale['weekly'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox"
				@click="handleIsPriceFlashSale(isPriceFlashSale['weekly'])"
			>
				<input
					:disabled="isPriceFlashSale['weekly']"
					type="checkbox"
					id="checkPriceWeekly"
					v-model="priceWeekly.checked"
				/>
				<label for="checkPriceWeekly"> Perminggu </label>
			</div>
			<div
				:class="{ disabled: isPriceFlashSale['quarterly'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox"
				@click="handleIsPriceFlashSale(isPriceFlashSale['quarterly'])"
			>
				<input
					:disabled="isPriceFlashSale['quarterly']"
					type="checkbox"
					id="checkPriceThreeMonthly"
					v-model="priceThreeMonthly.checked"
				/>
				<label for="checkPriceThreeMonthly"> Per 3 Bulan </label>
			</div>

			<div
				:class="{ disabled: isPriceFlashSale['semiannually'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox"
				@click="handleIsPriceFlashSale(isPriceFlashSale['semiannually'])"
			>
				<input
					:disabled="isPriceFlashSale['semiannually']"
					type="checkbox"
					id="checkPriceSixMonthly"
					v-model="priceSixMonthly.checked"
				/>
				<label for="checkPriceSixMonthly"> Per 6 Bulan </label>
			</div>
			<div
				:class="{ disabled: isPriceFlashSale['annually'] }"
				class="checkbox-mami checkbox-success checkbox-inline price-checkbox"
				@click="handleIsPriceFlashSale(isPriceFlashSale['annually'])"
			>
				<input
					:disabled="isPriceFlashSale['annually']"
					type="checkbox"
					id="checkPriceYearly"
					v-model="priceYearly.checked"
				/>
				<label for="checkPriceYearly"> Pertahun </label>
			</div>
		</div>
		<div>
			<div class="form-inline row">
				<div
					class="form-group price-input col-xs-6"
					:class="{
						'has-error': errors.has('Harga perbulan'),
						disabled: isPriceFlashSale['monthly']
					}"
					v-if="priceMonthly.checked"
					@click="handleIsPriceFlashSale(isPriceFlashSale['monthly'])"
				>
					<input
						:readonly="isPriceFlashSale['monthly']"
						type="number"
						id="inputPriceMonthly"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga perbulan"
						:placeholder="placeholder"
						v-model="priceMonthly.value"
						v-validate="'required|numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga perbulan') ? errors.first('Harga perbulan') : ''
						]"
					/>
					<label for="inputPriceMonthly"> /bulan</label>
					<p class="text-danger" v-show="errors.has('Harga perbulan')">
						{{ errors.first('Harga perbulan') }}
					</p>
				</div>

				<div
					v-if="priceDaily.checked"
					:class="{ disabled: isPriceFlashSale['daily'] }"
					class="form-group price-input col-xs-6"
					@click="handleIsPriceFlashSale(isPriceFlashSale['daily'])"
				>
					<input
						:readonly="isPriceFlashSale['daily']"
						type="number"
						id="inputPriceDaily"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga perhari"
						:placeholder="placeholder"
						v-model="priceDaily.value"
						v-validate="'numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga perhari') ? errors.first('Harga perhari') : ''
						]"
					/>
					<label for="inputPriceDaily"> /hari</label>
					<p class="text-danger" v-show="errors.has('Harga perhari')">
						{{ errors.first('Harga perhari') }}
					</p>
				</div>

				<div
					v-if="priceWeekly.checked"
					:class="{ disabled: isPriceFlashSale['weekly'] }"
					class="form-group price-input col-xs-6"
					@click="handleIsPriceFlashSale(isPriceFlashSale['weekly'])"
				>
					<input
						:readonly="isPriceFlashSale['weekly']"
						type="number"
						id="inputPriceWeekly"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga perminggu"
						:placeholder="placeholder"
						v-model="priceWeekly.value"
						v-validate="'numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga perminggu')
								? errors.first('Harga perminggu')
								: ''
						]"
					/>
					<label for="inputPriceWeekly"> /minggu</label>
					<p class="text-danger" v-show="errors.has('Harga perminggu')">
						{{ errors.first('Harga perminggu') }}
					</p>
				</div>

				<div
					v-if="priceThreeMonthly.checked"
					:class="{ disabled: isPriceFlashSale['quarterly'] }"
					class="form-group price-input col-xs-6"
					@click="handleIsPriceFlashSale(isPriceFlashSale['quarterly'])"
				>
					<input
						:readonly="isPriceFlashSale['quarterly']"
						type="number"
						id="inputPriceThreeMonthly"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga per 3 bulan"
						:placeholder="placeholder"
						v-model="priceThreeMonthly.value"
						v-validate="'numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga per 3 bulan')
								? errors.first('Harga per 3 bulan')
								: ''
						]"
					/>
					<label for="inputPriceThreeMonthly"> /3 bulan</label>
					<p class="text-danger" v-show="errors.has('Harga per 3 bulan')">
						{{ errors.first('Harga per 3 bulan') }}
					</p>
				</div>

				<div
					v-if="priceSixMonthly.checked"
					:class="{ disabled: isPriceFlashSale['semiannually'] }"
					class="form-group price-input col-xs-6"
					@click="handleIsPriceFlashSale(isPriceFlashSale['semiannually'])"
				>
					<input
						:readonly="isPriceFlashSale['semiannually']"
						type="number"
						id="inputPriceSixMonthly"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga per 6 bulan"
						:placeholder="placeholder"
						v-model="priceSixMonthly.value"
						v-validate="'numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga per 6 bulan')
								? errors.first('Harga per 6 bulan')
								: ''
						]"
					/>
					<label for="inputPriceSixMonthly"> /6 bulan</label>
					<p class="text-danger" v-show="errors.has('Harga per 6 bulan')">
						{{ errors.first('Harga per 6 bulan') }}
					</p>
				</div>

				<div
					v-if="priceYearly.checked"
					:class="{ disabled: isPriceFlashSale['annually'] }"
					class="form-group price-input col-xs-6"
					@click="handleIsPriceFlashSale(isPriceFlashSale['annually'])"
				>
					<input
						:readonly="isPriceFlashSale['annually']"
						type="number"
						id="inputPriceYearly"
						class="form-control"
						min="10000"
						max="999999999"
						step="1000"
						name="Harga pertahun"
						:placeholder="placeholder"
						v-model="priceYearly.value"
						v-validate="'numeric|min_value:10000|max_value:999999999'"
						:title="[
							errors.has('Harga pertahun') ? errors.first('Harga pertahun') : ''
						]"
					/>
					<label for="inputPriceYearly"> /tahun</label>
					<p class="text-danger" v-show="errors.has('Harga pertahun')">
						{{ errors.first('Harga pertahun') }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			priceMonthly: {
				checked: true,
				value: this.$store.state.params.price_monthly
			},
			priceDaily: {
				checked: false,
				value: this.$store.state.params.price_daily
			},
			priceWeekly: {
				checked: false,
				value: this.$store.state.params.price_weekly
			},
			priceYearly: {
				checked: false,
				value: this.$store.state.params.price_yearly
			},
			priceThreeMonthly: {
				checked: false,
				value: this.$store.state.params['3_month']
			},
			priceSixMonthly: {
				checked: false,
				value: this.$store.state.params['6_month']
			},
			isToastShowing: true
		};
	},
	computed: {
		isPriceFlashSale() {
			return this.$store.state.is_price_flash_sale;
		},
		isEdit() {
			return this.$store.state.extras.is_edit;
		},
		currentSection() {
			return this.$store.state.section;
		}
	},
	created() {
		if (this.$store.state.params.price_daily > 0) {
			this.priceDaily.checked = true;
		}
		if (this.$store.state.params.price_weekly > 0) {
			this.priceWeekly.checked = true;
		}
		if (this.$store.state.params.price_yearly > 0) {
			this.priceYearly.checked = true;
		}
		if (this.$store.state.params['3_month'] > 0) {
			this.priceThreeMonthly.checked = true;
		}
		if (this.$store.state.params['6_month'] > 0) {
			this.priceSixMonthly.checked = true;
		}
	},
	watch: {
		'priceDaily.checked': function(val) {
			if (val == false) {
				this.priceDaily.value = 0;
			}
		},
		'priceWeekly.checked': function(val) {
			if (val == false) {
				this.priceWeekly.value = 0;
			}
		},
		'priceYearly.checked': function(val) {
			if (val == false) {
				this.priceYearly.value = 0;
			}
		},
		'priceThreeMonthly.checked': function(val) {
			if (val == false) {
				this.priceThreeMonthly.value = 0;
			}
		},
		'priceSixMonthly.checked': function(val) {
			if (val == false) {
				this.priceSixMonthlyvalue = 0;
			}
		},
		'priceMonthly.value': debounce(function(val) {
			validator.attach(
				'Harga perbulan',
				'required|numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perbulan', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceMonthly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceMonthly', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),
		'priceDaily.value': debounce(function(val) {
			validator.attach(
				'Harga perhari',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perhari', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceDaily', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceDaily', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),
		'priceWeekly.value': debounce(function(val) {
			validator.attach(
				'Harga perminggu',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perminggu', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceWeekly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceWeekly', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),
		'priceYearly.value': debounce(function(val) {
			validator.attach(
				'Harga pertahun',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga pertahun', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceYearly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceYearly', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),

		'priceThreeMonthly.value': debounce(function(val) {
			validator.attach(
				'Harga per 3 bulan',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga per 3 bulan', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceThreeMonthly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceThreeMonthly', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),
		'priceSixMonthly.value': debounce(function(val) {
			validator.attach(
				'Harga per 6 bulan',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga per 6 bulan', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceSixMonthly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceSixMonthly', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500),
		currentSection(newValue) {
			// check if edit kos
			if (this.isEdit) {
				const toastedPromoNgebut = document.querySelector(
					'.flashsale-toasted-container'
				);
				// remove toast if change sections
				if (toastedPromoNgebut && toastedPromoNgebut.hasChildNodes()) {
					toastedPromoNgebut.removeChild(toastedPromoNgebut.childNodes[0]);
				}
			}
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	},
	methods: {
		handleIsPriceFlashSale(value) {
			if (value) {
				if (this.isToastShowing) {
					this.isToastShowing = false;
					this.$toasted.show('Promo ngebut aktif, tidak bisa update', {
						theme: 'toasted-primary',
						containerClass: 'flashsale-toasted-container',
						className: 'toasted-price-flashsale',
						position: 'bottom-center',
						duration: 4500,
						onComplete: this.handleOnCompleteToast()
					});
				}
			}
		},
		handleOnCompleteToast() {
			setTimeout(() => {
				this.isToastShowing = true;
			}, 5000);
		}
	}
};
</script>

<style lang="scss">
@media only screen and (max-width: 375px) {
	.mami-wrap {
		justify-content: space-evenly;
	}
}

@media only screen and (max-width: 767px) {
	.price-input {
		width: 100% !important;
	}
	.room-field-on-mobile {
		margin-bottom: 10px;
	}
}
.toasted-container {
	&.flashsale-toasted-container {
		bottom: 7%;
		left: 50%;
		min-width: 285px;
		transform: translateX(-50%);
		.toasted-price-flashsale {
			margin-top: 10px;
			font-weight: normal;
			color: #fff;
			text-align: center;
			background: #242424;
			border-radius: 5px;
		}
	}
}
</style>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 1rem !important;
}

.form-inline {
	display: flex;
	flex-wrap: wrap;
}

.mami-wrap-price {
	@media only screen and (min-width: 570px) {
		margin-left: -25px;
	}
}

@media only screen and (min-width: 768px) {
	.radio {
		&.one {
			width: 31%;
			float: left;
			margin-top: 10px;
		}
		&.two {
			width: 50%;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.radio.one {
		width: 100%;
	}
	.price-label {
		color: #686868;
		font-weight: 600;
		top: 11px;
		position: relative;
		font-size: 1.1em;
	}
}

.price-checkbox {
	margin-bottom: 10px;
	&.disabled {
		label {
			color: #dadada !important;
			background-color: #fff !important;
			border: 1px solid #dadada !important;
			.text-danger {
				color: #dadada;
			}
			&:after {
				background-color: #dadada !important;
			}
		}
	}
}

.price-input {
	// margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	min-height: fit-content;
	&.disabled {
		input:read-only {
			cursor: pointer;
		}
	}
}

.form-inline {
	.form-control {
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.5rem;
		width: 71% !important;
		@media (max-width: 767px) {
			width: 50%;
		}
		@media (min-width: 768px) {
			width: auto;
		}
		@media (max-width: 666px) {
			max-width: 318px;
		}
	}
}

.price-input > p {
	margin-bottom: 5px;
}
</style>
