<template>
	<div class="form-group">
		<label>{{ label }} <span class="text-danger">*wajib diisi</span></label>
		<br />
		<div class="mami-wrap gender-width">
			<div class="radio-mami radio-lg radio-success radio-inline">
				<input
					type="radio"
					id="propertyGenderFemale"
					value="2"
					v-model="gender"
				/>
				<label for="propertyGenderFemale">
					<img src="/assets/icons/svg/noun_girl_734602.svg" />
					Putri
				</label>
			</div>
			<div class="radio-mami radio-lg radio-success radio-inline">
				<input
					type="radio"
					id="propertyGenderMale"
					value="1"
					v-model="gender"
				/>
				<label for="propertyGenderMale">
					<img src="/assets/icons/svg/noun_boy_734636.svg" />
					Putra
				</label>
			</div>
			<div class="radio-mami radio-lg radio-success radio-inline">
				<input type="radio" id="propertyGenderMix" value="0" v-model="gender" />
				<label for="propertyGenderMix">
					<img src="/assets/icons/svg/noun boy and girl.svg" />
					Campur
				</label>
			</div>
		</div>
		<!-- <div class="radio radio-success radio-inline col-sm-2 col-xs-4">
		    <input type="radio" id="propertyGenderFemale" value="2" v-model="gender">
		    <label for="propertyGenderFemale"> Putri </label>
		</div>
		<div class="radio radio-success radio-inline col-sm-2 col-xs-4">
		    <input type="radio" id="propertyGenderMale" value="1" v-model="gender">
		    <label for="propertyGenderMale"> Putra </label>
		</div>
		<div class="radio radio-success radio-inline col-sm-2 col-xs-4">
		    <input type="radio" id="propertyGenderMix" value="0" v-model="gender">
		    <label for="propertyGenderMix"> Campur </label>
		</div> -->
	</div>
</template>

<script>
export default {
	data() {
		return {
			gender: this.$store.state.params.gender
		};
	},
	watch: {
		gender(val) {
			this.$store.commit('setParamsGender', parseInt(val));
		}
	},
	props: {
		label: {
			type: String,
			required: true
		}
	}
};
</script>
