<template>
	<div class="form-group">
		<label for="unitType"
			>{{ label }}
			<span class="text-danger">*pilih salah satu</span>
		</label>
		<div class="distance-label">
			<div class="form-inline">
				<div class="form-group inline-input">
					<select
						v-model="yearSelect"
						type="select"
						id="unitType"
						class="form-control"
					>
						<option value="0">{{ placeholder }}</option>
						<option :value="n" v-for="(n, index) in listYear" :key="index">{{
							n
						}}</option>
					</select>
				</div>
				<p v-if="inputError" class="text-danger">
					Tahun bangunan kosong saat ini harus diisi.
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {

	data() {
		return {
			defaultEarly: 1950,
			listYear: [],
			yearSelect: 0,
			inputError: false
		};
	},

	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	},

	computed: {
		buildingYear() {
			let d = new Date();
			return this.$store.state.params.building_year || d.getFullYear();
		},
	},

	watch: {
		yearSelect(val) {
			if (val == 0 || val == null || val == '') {
				this.inputError = true;
				this.yearSelect = 0;
				this.$store.commit('setParamsBuildingYear', 0);
			} else {
				this.$store.commit('setParamsBuildingYear', val);
				this.inputError = false;
			}
		}
	},

	mounted() {
		this.countingYear();
		this.yearSelect = this.buildingYear;
	},

	methods: {
		countingYear() {
			let tahun = new Date();
			tahun = tahun.getFullYear();
			let count = tahun - this.defaultEarly;
			for (let i = 0; i <= count; i++) {
				this.listYear.push(this.defaultEarly + i);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.inline-input {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	> p {
		margin-bottom: 5px;
	}
}

.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
</style>
