<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="owner2Phone"
			>{{ label }} <span class="text-danger">*wajib diisi</span></label
		>
		<input
			type="tel"
			id="owner2Phone"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="owner2Phone"
			v-validate="'required|numeric|min:9|max:15'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			owner2Phone: this.$store.state.params.owner_phone,
		}
	},
	watch: {
		owner2Phone: debounce(
			function (val) {
				validator.attach(this.label, 'required|numeric|min:9|max:15');
				validator.validate(this.label, val).then((result) => {
					if (result) {
						this.$store.commit('setParamsOwnerPhone', val);
					}
					else {
						this.$store.commit('setParamsOwnerPhone', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
input[type='number']::-webkit-inner-spin-button {
	margin: 0;
}
input[type='number']::-webkit-outer-spin-button {
	margin: 0;
}
</style>
