<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="ownerPhone"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
			<i
				class="fa fa-circle-o-notch fa-spin loading-spinner-default"
				v-show="checking.isLoading"
			></i>
		</label>
		<input
			type="tel"
			id="ownerPhone"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="ownerPhone"
			v-validate="'required|numeric|min:9|max:15'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
		<p class="text-danger" v-show="checking.isUsed">
			Nomor '{{ checking.inputOwnerPhone }}' sudah terdaftar, silakan gunakan
			nomor yang lain
		</p>
		<p class="text-danger" v-show="checking.isInvalid">
			Format nomor handphone tidak valid
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			ownerPhone: this.$store.state.params.owner_phone,
			checking: {
				inputOwnerPhone: '',
				isLoading: false,
				isUsed: false,
				isInvalid: false
			}
		};
	},
	watch: {
		ownerPhone: debounce(function (val) {
			this.checking.isUsed = false;
			this.checking.isInvalid = false;
			validator.attach(this.label, 'required|numeric|min:9|max:15');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.checking.inputOwnerPhone = val;
						this.checking.isLoading = true;
						axios
							.post('/phone/check', {
								phone_number: this.checking.inputOwnerPhone
							})
							.then(response => {
								this.checking.isLoading = false;
								if (response.data.status == true) {
									if (
										response.data.phone_registered == true
									) {
										this.checking.isUsed = true;
										this.$store.commit(
											'setParamsOwnerPhone',
											''
										);
									} else {
										this.checking.isUsed = false;
										this.$store.commit(
											'setParamsOwnerPhone',
											this.checking.inputOwnerPhone
										);
									}
								} else {
									this.checking.isInvalid = true;
									this.$store.commit(
										'setParamsOwnerPhone',
										''
									);
								}
							})
							.catch(error => {
								this.checking.isLoading = false;
								alert(
									'Terjadi galat saat pengecekan nomor. Silakan coba lagi.'
								);
								bugsnagClient.notify(error);
							});
					} else {
						this.$store.commit('setParamsOwnerPhone', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
input[type='number']::-webkit-inner-spin-button {
	margin: 0;
}
input[type='number']::-webkit-outer-spin-button {
	margin: 0;
}
</style>
