<!-- https://github.com/xkjyeah/vue-google-maps -->
<template>
	<div class="map-container" :class="grid">
		<div class="form-group">
			<input
				class="form-control mami-search-pac"
				type="search"
				placeholder="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				title="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				name="Peta lokasi"
				:id="pacId + 'Mask'"
				:disabled="isLoading"
				v-model="inputMask"
				v-validate="'required'"
				v-if="isMasked"
				@focus="getSuggestions(inputMask)"
				@keyup.enter="useSuggestion('enter')"
			/>
			<gmap-autocomplete
				class="form-control"
				placeholder="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				title="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				name="Peta lokasi"
				:id="pacId"
				:selectFirstOnEnter="true"
				:value="area.map_address"
				:component-restrictions="{ country: 'id' }"
				:options="pacOptions"
				@place_changed="setPlace"
				@input.native="checkInputPac"
				v-validate="'required'"
				v-else
			></gmap-autocomplete>

			<div class="container stretch dropdown-suggestion__container">
				<ul
					id="dropdownSuggestion"
					class="dropdown-menu dropdown-suggestion__body"
					:class="{ show: suggestions.length > 0 }"
				>
					<li
						v-for="(suggestion, index) in suggestions"
						:key="index"
						:title="suggestion.title + ', ' + suggestion.area"
						@click="
							useSuggestion('select', suggestion.title + ', ' + suggestion.area)
						"
					>
						<a role="button">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<b class="dropdown-suggestion__title"> {{ suggestion.title }} </b>
							<span class="dropdown-suggestion__area">{{
								suggestion.area
							}}</span>
						</a>
					</li>
				</ul>
			</div>

			<p class="map-info">
				Silakan klik pada peta atau geser pin
				<i class="fa fa-map-marker text-mamigreen" aria-hidden="true"></i>
				hingga sesuai lokasi kost
			</p>
			<div class="map-style" id="fieldMap"></div>
		</div>
	</div>
</template>

<script>
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import * as VueGoogleMaps from 'vue2-google-maps';

Vue.use(VueGoogleMaps, {
	load: {
		key: process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY,
		libraries: 'places',
		language: 'id-ID'
	}
});

export default {
	data() {
		return {
			map: null,
			center: {
				lat: this.$store.state.params.latitude,
				lng: this.$store.state.params.longitude
			},
			area: {
				city: this.$store.state.params.city,
				subdistrict: this.$store.state.params.subdistrict,
				map_address: this.$store.state.extras.map_address
			},
			pacOptions: {
				fields: [
					'address_components',
					'formatted_address',
					'geometry',
					'name',
					'types'
				]
			},
			place: null,
			geocoder: {},
			geocoderInit: false,
			marker: null,
			markerIcon: {},
			isMasked: true,
			inputMask: this.$store.state.extras.map_address,
			inputMaskStatic: false,
			inputMaskStaticValue: '',
			isLoading: false,
			suggestions: []
		};
	},
	computed: {
		osmHost() {
			return osmHost;
		},
		isEdit() {
			return this.$store.state.extras.is_edit != undefined
				? this.$store.state.extras.is_edit
				: null;
		},
		address() {
			return this.$store.state.params.address;
		}
	},
	watch: {
		inputMask: debounce(function(val) {
			if (val == '' || this.inputMaskStaticValue != val) {
				this.inputMaskStatic = false;
			}

			this.getSuggestions(val);
		}, 750),
		address: {
			immediate: true,
			handler(addressChanges) {
				if (addressChanges !== '') {
					if (this.isMasked) {
						this.inputMaskStatic = true;
						this.inputMaskStaticValue = addressChanges;
						this.inputMask = addressChanges;
					} else {
						document.querySelector('#' + this.pacId).value = addressChanges;
					}
				}
			}
		}
	},
	mounted() {
		if (!this.isEdit) {
			this.getCurrentPosition();
		}

		this.$nextTick(() => {
			this.initMap();
		});
	},
	props: {
		grid: {
			type: String,
			required: true
		},
		pacId: {
			type: String
		},
		markerWidth: {
			type: Number
		},
		markerHeight: {
			type: Number
		}
	},
	methods: {
		initMap() {
			this.map = L.map('fieldMap', {
				center: [this.center.lat, this.center.lng],
				zoom: 14,
				minZoom: 14,
				maxZoom: 18
			});
			this.map.attributionControl.addAttribution(
				'&copy; <a href="https://www.openstreetmap.org">OpenStreetMap</a>'
			);
			this.map.attributionControl.addAttribution(
				'<a href="https://mamikos.com">Mamikos</a>'
			);
			this.tiles = new L.tileLayer(`${this.osmHost}/hot/{z}/{x}/{y}.png`).addTo(
				this.map
			);

			this.markerIcon = L.icon({
				iconUrl: '/assets/google-map/marker_map.png',
				iconAnchor: [20, 60],
				popupAnchor: [0, 0]
			});

			this.marker = L.marker([this.center.lat, this.center.lng], {
				icon: this.markerIcon,
				draggable: true,
				autoPan: true
			}).addTo(this.map);

			this.marker.on('dragend', event => {
				const newLatLng = {
					lat: event.target._latlng.lat,
					lng: event.target._latlng.lng
				};
				this.getLatLng(newLatLng);
			});

			this.map.on('click', event => {
				const newLatLng = {
					lat: event.latlng.lat,
					lng: event.latlng.lng
				};
				this.getLatLng(newLatLng);
				this.marker.setLatLng(new L.LatLng(newLatLng.lat, newLatLng.lng));
			});
		},
		getCurrentPosition() {
			const options = {
				enableHighAccuracy: false,
				timeout: 10000,
				maximumAge: 1800000
			};

			let success = pos => {
				let crd = pos.coords;
				this.center = {
					lat: crd.latitude,
					lng: crd.longitude
				};

				this.map.panTo(new L.LatLng(this.center.lat, this.center.lng));
				this.marker.setLatLng(new L.LatLng(this.center.lat, this.center.lng));
			};

			let error = err => {
				alert('Layanan GPS di perangkat Anda tidak aktif / tidak mendukung.');
			};

			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(success, error, options);
			}
		},
		setPlace(place) {
			this.place = place;
			if (this.place) {
				this.center = {
					lat: this.place.geometry.location.lat(),
					lng: this.place.geometry.location.lng()
				};

				this.map.panTo(new L.LatLng(this.center.lat, this.center.lng));
				this.marker.setLatLng(new L.LatLng(this.center.lat, this.center.lng));

				this.fillParams(this.place);
			}
		},
		getLatLng(newLatLng) {
			this.center = {
				lat: newLatLng.lat,
				lng: newLatLng.lng
			};

			this.map.panTo(new L.LatLng(this.center.lat, this.center.lng));

			this.$nextTick(() => {
				this.geocode(this.center).then(
					results => {
						this.place = results[0];
						this.fillParams(this.place);
					},
					status => {
						bugsnagClient.notify(status);
					}
				);
			});
		},
		geocode(position) {
			if (!this.geocoderInit) {
				this.geocoder = new google.maps.Geocoder();
				this.geocoderInit = true;
			}

			return new Promise((resolve, reject) => {
				this.geocoder.geocode({ location: position }, (results, status) => {
					if (status == google.maps.GeocoderStatus.OK) {
						resolve(results);
					} else {
						reject(status);
					}
				});
			});
		},
		getSuggestions(input) {
			if (!this.inputMaskStatic) {
				if (input.trim() !== '') {
					const prefixUrl = this.$store.state.isConsultantOnly
						? '/property'
						: '';
					axios
						.get(`${prefixUrl}/location-suggestion?criteria=${input}`)
						.then(response => {
							if (response.data.data !== null) {
								this.suggestions = response.data.data.suggestions;
							} else {
								this.resetSuggestions();

								let inputMaskValue = input; //insert masking value into temporary variable

								this.isMasked = false; //change the input element into input original pac
								this.$nextTick(() => {
									setTimeout(() => {
										this.area.map_address = inputMaskValue; //insert temporary masking value into original pac value
										setTimeout(() => {
											document.querySelector('#' + this.pacId).focus(); //trigger focus for input original pac element

											let titles = document.getElementsByClassName(
												'pac-container'
											);

											for (let i = titles.length - 1; i >= 0; i--) {
												let children = titles[i].children;

												setTimeout(() => {
													children = [].slice.call(children);

													let pacSuggestions = [];

													for (let j = 0; j < children.length; j++) {
														let spans = children[j].querySelectorAll('span');

														let subtitle = spans[spans.length - 1].innerText;

														pacSuggestions.push({
															title: children[j].getElementsByClassName(
																'pac-item-query'
															)[0].innerText,
															subtitle: subtitle
														});
													}

													axios
														.post('/general-search/keyword', {
															keyword: inputMaskValue,
															suggestions: pacSuggestions
														})
														.then(response => {})
														.catch(error => {
															bugsnagClient.notify(error);
														});
												}, 300);

												break;
											}
										}, 100);
									}, 100);
								});
							}
						})
						.catch(error => {
							bugsnagClient.notify(error);
						});
				} else {
					this.resetSuggestions();
				}
			}
		},
		useSuggestion(trigger, suggestion) {
			let address = '';

			if (trigger == 'enter') {
				address =
					this.suggestions.length > 0
						? this.suggestions[0].title + ', ' + this.suggestions[0].area
						: this.inputMask;
			} else if (trigger == 'select') {
				address = suggestion;
			}

			if (!this.geocoderInit) {
				this.geocoder = new google.maps.Geocoder();
				this.geocoderInit = true;
			}

			this.geocoder.geocode({ address: address }, (results, status) => {
				if (status === 'OK') {
					this.place = results[0];

					this.center = {
						lat: this.place.geometry.location.lat(),
						lng: this.place.geometry.location.lng()
					};

					this.map.panTo(new L.LatLng(this.center.lat, this.center.lng));
					this.marker.setLatLng(new L.LatLng(this.center.lat, this.center.lng));

					this.fillParams(this.place);
				} else {
					if (address.trim() !== '') {
						tracker('ga', ['send', 'event', {
							eventCategory: 'Search Kost by Location',
							eventAction: 'Not Found',
							eventLabel: address
						}]);
					}
				}
			});
		},
		resetSuggestions() {
			if (this.suggestions.length > 0) {
				this.suggestions = [];
			}
		},
		checkInputPac() {
			let inputPacValue = document.querySelector('#' + this.pacId).value; //insert original pac value into temporary variable

			if (inputPacValue.trim() === '') {
				this.isMasked = true; //change the input element into input masking
				this.$nextTick(() => {
					this.inputMask = ''; //reset masking value to empty string
					setTimeout(() => {
						document.querySelector('#' + this.pacId + 'Mask').focus(); //trigger focus for input masking element
					}, 100);
				});
			}
		},
		fillParams(payload) {
			let locations = payload.address_components;

			let cityFound = false;
			let subdistrictFound = false;

			for (let i = 0; i < locations.length; i++) {
				if (locations[i].types[0] == 'administrative_area_level_2') {
					this.area.city = locations[i].long_name;
					cityFound = true;
				} else if (locations[i].types[0] == 'administrative_area_level_3') {
					this.area.subdistrict = locations[i].long_name;
					subdistrictFound = true;
				}
			}

			if (!cityFound) {
				this.area.city = '';
			}

			if (!subdistrictFound) {
				this.area.subdistrict = '';
			}

			this.area.map_address = payload.formatted_address;

			this.inputMaskStatic = true;
			this.inputMask = payload.formatted_address;
			this.inputMaskStaticValue = payload.formatted_address;
			this.resetSuggestions();

			this.commitStore();

			this.place = null;
		},
		commitStore() {
			this.$store.commit('setParamsLocationMap', {
				latitude: this.center.lat,
				longitude: this.center.lng,
				city: this.area.city,
				subdistrict: this.area.subdistrict,
				map_address: this.area.map_address
			});
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_gallery_approx: #eee;
$color_mountain_mist_approx: #999;
$alabaster: #fafafa;
$black: #000;

.form-group {
	margin-bottom: 10px;
}
@media (max-width: 480px) {
	.map-box-img {
		top: 45%;
	}
}
.dropdown-suggestion__container {
	position: relative;
	width: 100%;
	z-index: 1001;
}
.dropdown-suggestion__body {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0 0 15px 0;
	> li {
		border-bottom: 1px solid $color_gallery_approx;
		&:last-child {
			border-bottom: none;
		}
		> a {
			cursor: default;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: $color_mountain_mist_approx;
			padding: 5px 10px;
			&:hover {
				background-color: $alabaster;
			}
		}
	}
	.fa-map-marker {
		margin-right: 5px;
	}
}
.dropdown-suggestion__title {
	color: $black;
}
.dropdown-suggestion__area {
	font-size: smaller;
}
</style>

<style lang="scss">
.map-style {
	width: 100%;
	height: 300px;
}
</style>
