<!-- https://github.com/xkjyeah/vue-google-maps -->
<template>
	<div class="map-container" :class="grid">
		<div class="form-group">
			<gmap-autocomplete
				class="form-control"
				placeholder="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				title="Masukkan nama jalan / tempat / bangunan di sekitar lokasi"
				name="Peta lokasi"
				:id="pacId"
				:selectFirstOnEnter="true"
				:value="area.map_address"
				:component-restrictions="{ country: 'id' }"
				:options="pacOptions"
				@place_changed="setPlace"
				v-validate="'required'"
			>
			</gmap-autocomplete>
			<p class="map-info">
				Silakan klik pada peta atau geser pin
				<i class="fa fa-map-marker text-mamigreen" aria-hidden="true"></i>
				hingga sesuai lokasi kost
			</p>
		</div>
		<gmap-map
			class="material-card-2"
			style="width: 100%; height: 300px;"
			:center="center"
			:zoom="15"
			:options="options"
			@click="getLatLng"
		>
			<gmap-marker
				:position="center"
				:clickable="true"
				:draggable="true"
				:icon="icon"
				@drag="markerDrag"
				@dragend="getLatLng"
				@click="getLatLng"
			></gmap-marker>
		</gmap-map>
	</div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';

Vue.use(VueGoogleMaps, {
	load: {
		key: process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY,
		libraries: 'places',
		language: 'id-ID'
	}
});

export default {
	data() {
		return {
			center: {
				lat: this.$store.state.params.latitude,
				lng: this.$store.state.params.longitude
			},
			area: {
				city: this.$store.state.params.city,
				subdistrict: this.$store.state.params.subdistrict,
				map_address: this.$store.state.extras.map_address
			},
			pacOptions: {
				fields: [
					'address_components',
					'formatted_address',
					'geometry',
					'name',
					'types'
				]
			},
			options: {
				streetViewControl: false
			},
			place: null,
			icon: '/assets/google-map/marker_map_set_loc.png',
			geocoder: {},
			geocoderInit: false
		};
	},
	computed: {
		isEdit() {
			return this.$store.state.extras.is_edit != undefined
				? this.$store.state.extras.is_edit
				: null;
		},
		address() {
			return this.$store.state.params.address;
		}
	},
	mounted() {
		if (!this.isEdit) {
			this.getCurrentPosition();
		}

		if (this.address != '') {
			document.querySelector('#' + this.pacId).value = this.address;
		}
	},
	props: {
		grid: {
			type: String,
			required: true
		},
		pacId: {
			type: String
		},
		markerWidth: {
			type: Number
		},
		markerHeight: {
			type: Number
		}
	},
	methods: {
		commitStore() {
			this.$store.commit('setParamsLocationMap', {
				latitude: this.center.lat,
				longitude: this.center.lng,
				city: this.area.city,
				subdistrict: this.area.subdistrict,
				map_address: this.area.map_address
			});
		},
		getCurrentPosition() {
			const options = {
				enableHighAccuracy: false,
				timeout: 10000,
				maximumAge: 1800000
			};

			let success = pos => {
				let crd = pos.coords;
				this.center = {
					lat: crd.latitude,
					lng: crd.longitude
				};
			};

			let error = err => {
				alert('Layanan GPS di perangkat Anda tidak aktif / tidak mendukung.');
			};

			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(success, error, options);
			}
		},
		setPlace(place) {
			this.place = place;
			if (this.place) {
				this.center = {
					lat: this.place.geometry.location.lat(),
					lng: this.place.geometry.location.lng()
				};

				let locations = this.place.address_components;
				for (let i = 0; i < locations.length; i++) {
					if (locations[i].types[0] == 'administrative_area_level_2') {
						this.area.city = locations[i].long_name;
					} else if (locations[i].types[0] == 'administrative_area_level_3') {
						this.area.subdistrict = locations[i].long_name;
					}
				}

				this.area.map_address = this.place.formatted_address;

				this.commitStore();
				this.place = null;
			}
		},
		markerDrag() {
			this.icon = '/assets/google-map/marker_map.png';
		},
		getLatLng(event) {
			this.icon = '/assets/google-map/marker_map_set_loc.png';

			this.center = {
				lat: event.latLng.lat(),
				lng: event.latLng.lng()
			};

			let geocode = position => {
				if (!this.geocoderInit) {
					this.geocoder = new google.maps.Geocoder();
					this.geocoderInit = true;
				}

				return new Promise((resolve, reject) => {
					geocoder.geocode({ location: position }, (results, status) => {
						if (status == google.maps.GeocoderStatus.OK) {
							resolve(results);
						} else {
							reject(status);
						}
					});
				});
			};

			geocode(this.center).then(
				results => {
					let locations = results[0].address_components;
					for (let i = 0; i < locations.length; i++) {
						if (locations[i].types[0] == 'administrative_area_level_2') {
							this.area.city = locations[i].long_name;
						} else if (locations[i].types[0] == 'administrative_area_level_3') {
							this.area.subdistrict = locations[i].long_name;
						}
					}

					this.area.map_address = results[0].formatted_address;

					this.commitStore();
				},
				status => {
					bugsnagClient.notify(status);
				}
			);
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 10px;
}
.map-info {
	margin-top: 10px;
	text-align: center;
}
.map-box {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	img {
		position: absolute;
		z-index: 100;
		top: 35%;
	}
	#iconDrag {
		top: 45%;
	}
}
@media (max-width: 480px) {
	.map-box-img {
		top: 45%;
	}
}
</style>
