<template>
	<div class="form-group">
		<label>{{ label }}</label>
		<br />
		<div class="distance-label">
			<div
				class="checkbox checkbox-custom checkbox-success checkbox-inline fac-checkbox"
				v-for="(tag, index) in tags"
				:key="index"
			>
				<input
					type="checkbox"
					:id="'facProperty' + index"
					:value="tag.tag_id"
					v-model="facProperty"
				/>
				<label :for="'facProperty' + index">
					<img :src="`/assets/icons/svg/facility_${tag.tag_id}.svg`" />
					<span class="tag-text">{{ tag.name }}</span>
					<div class="check"></div>
				</label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			facProperty: this.$store.state.params.fac_property
		};
	},
	watch: {
		facProperty(val) {
			this.$store.commit("setParamsFacProperty", val);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}

.checkbox.checkbox-custom {
	&:first-child {
		padding-left: 0;
	}
	@media (max-width: 312px) {
		padding-left: 0;
	}
	&:first-child {
		padding-left: 0;
	}
	&:nth-child(odd) {
		@media (max-width: 425px) {
			padding-left: 0;
			padding-right: 20px;
		}
	}
	&:nth-child(even) {
		@media (max-width: 425px) {
			padding-left: 0;
		}
	}
	&:last-child {
		@media (max-width: 545px) {
			padding-left: 0;
		}
	}
	margin-bottom: 1rem;
	> label {
		width: 98.9px !important;
		height: 90.7px !important;
		border-radius: 3px;
		border: solid 1px #cbcbcb;
		background-color: #ffffff;
		z-index: 1;
		color: #cbcbcb;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: 700;
		position: relative;
		&:before {
			display: none;
		}
		> img {
			width: 3.8em;
			height: 3.8em;
			padding-top: 0.7rem;
			display: block;
			margin: 0 auto;
			margin-bottom: 0.6rem;
		}
	}
	input[type='checkbox']:checked ~ label {
		border: solid 1px #2ecc71;
		background-color: #ebfff3;
		color: #2ecc71;
	}
	input[type='checkbox']:checked ~ label > img {
		filter: invert(0%) sepia(84%) saturate(476%) hue-rotate(79deg)
			brightness(88%) contrast(77%);
	}
	input[type='checkbox']:checked ~ label > .check {
		display: block;
		width: 1.2em;
		height: 1.2em;
		background-color: #2ecb71;
		background-image: url(/assets/icons/svg/ic_check.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px;
		border-radius: 100%;
		position: absolute;
		left: 93%;
		top: -0.4rem;
	}
}
</style>
