<template>
	<ul class="filter-room-allotment">
		<li :class="{ active: activedList == 'all' }">
			<a @click.prevent="handleFilterRoomAllotment('all')">Semua</a>
		</li>
		<li :class="{ active: activedList == 'filled' }">
			<a @click.prevent="handleFilterRoomAllotment('filled')"
				>Terisi {{ roomFilled }}</a
			>
		</li>
		<li :class="{ active: activedList == 'available' }">
			<a @click.prevent="handleFilterRoomAllotment('available')"
				>Kosong {{ roomAvailable }}</a
			>
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		roomAll: {
			type: Number,
			default: 0
		},
		roomAvailable: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			activedList: 'all'
		};
	},
	computed: {
		roomFilled() {
			return this.roomAll - this.roomAvailable;
		}
	},
	methods: {
		handleFilterRoomAllotment(value) {
			this.activedList = value;
			this.$emit('filtered', value);
		}
	}
};
</script>

<style lang="scss" scoped>
$color-white: #fff;
$color-black: #2e2d39;
$color-active: #109e4b;

.filter-room-allotment {
	list-style: none;
	padding: 0;
	margin: 25px 0;
	li {
		display: inline-block;
		margin-right: 16px;
		@media (max-width: 768px) {
			margin-right: 5px;
		}
		&:last-child {
			margin-right: 0;
		}
		&.active {
			a {
				color: $color-active;
				border: 1px solid $color-active;
				text-decoration: none;
			}
		}
		a {
			display: block;
			font-size: 16px;
			color: $color-black;
			background: $color-white;
			padding: 9px 19px;
			border: 1px solid rgba(219, 219, 219, 0.92);
			border-radius: 50px;
			@media (max-width: 500px) {
				padding: 7px 10px;
			}
			&:hover,
			&:active,
			&:focus {
				color: $color-active;
				border: 1px solid $color-active;
				text-decoration: none;
			}
		}
	}
}
</style>
