<template>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalInputPromo">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center">Submit Berhasil</h4>
				</div>
				<div class="modal-body">
					<p class="text-center">{{ message }}</p>
					<h4 class="text-center">Nama <span class="text-danger">*</span></h4>
					<input
						type="text"
						class="form-control"
						name="Nama"
						placeholder="Tulis nama kamu"
						v-model="rewardName"
						v-validate="'required|min:3|max:30'"
					/>
					<p class="text-danger" v-show="errors.has('Nama')">
						{{ errors.first('Nama') }}
					</p>
					<h4 class="text-center">
						Nomor handphone aktif untuk menerima hadiah pulsa
						<span class="text-danger">*</span>
					</h4>
					<input
						type="tel"
						class="form-control"
						name="Nomor handphone"
						placeholder="Contoh: 081234567xxx"
						v-model="rewardPhoneNumber"
						v-validate="'required|numeric|min:9|max:15'"
					/>
					<p class="text-danger" v-show="errors.has('Nomor handphone')">
						{{ errors.first('Nomor handphone') }}
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-mamigreen"
						:disabled="
							rewardPhoneNumber.length >= 9 &&
							rewardPhoneNumber.length <= 15 &&
							(rewardName.length >= 3 && rewardName.length <= 30)
								? false
								: true
						"
						@click="submitRewardPhoneNumber"
						v-text="'OK'"
					></button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			rewardName: '',
			rewardPhoneNumber: ''
		};
	},
	props: {
		message: {
			type: String,
			required: true
		},
		roomId: {
			type: Number,
			required: true
		}
	},
	methods: {
		submitRewardPhoneNumber() {
			$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });
			axios
				.post('/reward/register', {
					room_id: this.roomId,
					name: this.rewardName,
					phone_number: this.rewardPhoneNumber
				})
				.then(response => {
					$('#mamiLoading').modal('hide');
					swal('', 'Terima kasih', 'success');
					setTimeout(() => {
						location.replace('/');
					}, 3000);
				})
				.catch(error => {
					$('#mamiLoading').modal('hide');
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_green_haze_approx: #1baa56;

h4 {
	color: $color_green_haze_approx;
	font-weight: bold;
}
input[type='number']::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
.modal-header {
	border: none;
}
.modal-footer {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	> .btn {
		width: 30%;
	}
}
</style>
