<template>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalInputSuccess">
		<div class="modal-dialog modal-dialog-center" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<img
						v-if="!isRoomAllotmentIntercept && !isInterceptBBK"
						src="/assets/Booking_Kamu_Sedang_Dicek.svg"
						alt="images_modal_success"
					/>
					<img
						v-else-if="!isRoomAllotmentIntercept && isInterceptBBK"
						class="img-intercept"
						src="/general/img/pictures/input/input-intercept-join-bbk.png"
						alt="input-intercept-join-bbk"
					/>
					<img
						v-else-if="isRoomAllotmentIntercept"
						src="/assets/stop_smile.svg"
						alt="images_modal_room_allotment"
					/>
				</div>

				<div v-if="!isRoomAllotmentIntercept">
					<div class="modal-footer" v-if="!survey">
						<a
							v-if="ownerButton"
							href="/ownerpage/kos"
							class="btn btn-success btn-mamigreen full-button"
						>
							LIHAT STATUS IKLAN PROPERTY ANDA
						</a>
						<a
							v-if="ownerButton && propertyType != 'apartment'"
							@click="repeatInput"
							class="btn btn-success btn-mamigreen full-button"
							>TAMBAHKAN TIPE LAIN KOST INI
						</a>
						<a
							:href="urlButtonOtherKost"
							class="btn btn-success btn-mamigreen text-upper full-button"
							>TAMBAHKAN {{ propertyType }} LAIN
						</a>
						<a
							v-if="!ownerButton"
							:href="urlFinish"
							class="btn btn-success btn-mamigreen-inverse full-button"
							>SELESAI
						</a>
						<!-- <button
						type="button"
						class="btn btn-success mami-button"
						data-dismiss="modal">OK
						</button> -->
					</div>

					<div class="modal-footer" v-else-if="survey">
						<form
							class="form-ux-survey"
							@submit.prevent="submitFeedback"
							v-show="!isLoading"
							v-if="isBeforeSurvey"
						>
							<p>
								Bagaimana penilaian Anda tentang form input data di Mamikos?
							</p>

							<div class="form-group ux-survey-option">
								<div class="radio radio-success radio-inline">
									<input
										type="radio"
										id="uxSurveyOption4"
										:value="4"
										name="uxSurveyOption4"
										v-model="rating"
									/>
									<label for="uxSurveyOption4"> Sangat Mudah </label>
								</div>
								<div class="radio radio-success radio-inline">
									<input
										type="radio"
										id="uxSurveyOption3"
										:value="3"
										name="uxSurveyOption3"
										v-model="rating"
									/>
									<label for="uxSurveyOption3"> Mudah </label>
								</div>
								<div class="radio radio-success radio-inline">
									<input
										type="radio"
										id="uxSurveyOption2"
										:value="2"
										name="uxSurveyOption2"
										v-model="rating"
									/>
									<label for="uxSurveyOption2"> Susah </label>
								</div>
								<div class="radio radio-success radio-inline">
									<input
										type="radio"
										id="uxSurveyOption1"
										:value="1"
										name="uxSurveyOption1"
										v-model="rating"
									/>
									<label for="uxSurveyOption1"> Sangat Susah</label>
								</div>
							</div>

							<div
								class="form-group ux-survey-feedback"
								v-if="rating == 1 || rating == 2"
							>
								<label>Saran / kritik untuk form input data Mamikos:</label>
								<textarea
									class="form-control"
									maxlength="500"
									placeholder="Silakan tulis saran / kritik Anda di sini"
									v-model="feedback"
								></textarea>
							</div>

							<button
								type="button"
								class="btn btn-default"
								@click="isSkippedOver = true"
							>
								Lewati
							</button>
							<button
								type="submit"
								class="btn btn-mamigreen"
								:disabled="rating == null ? true : false"
							>
								Submit Survey
							</button>
						</form>

						<div v-else-if="isAfterSurvey" class="content-modal">
							<h1 v-if="ownerButton || propertyType == 'apartment'">
								{{ message }}
							</h1>
							<h1 v-if="!ownerButton && propertyType != 'apartment'">
								Terima kasih telah mendaftarkan kost Anda di MamiKos!
							</h1>
							<h1
								v-if="!ownerButton && propertyType != 'apartment'"
								class="text-center"
							>
								{{ message }}
							</h1>
							<p>
								Jika dalam 2x24 jam belum tayang silakan<br />
								(WA/SMS) ke 085930229138
							</p>
							<button
								type="button"
								class="btn btn-mamigreen"
								@click="showInterceptBBK"
							>
								SELESAI
							</button>
						</div>

						<div v-else-if="isInterceptBBK">
							<p class="caption-intercept">
								Kamar kosong Anda bisa langsung tersewa dengan fitur Booking
								Langsung. <br />
								Daftarkan sekarang?
							</p>

							<button
								type="button"
								class="btn btn-mamigreen-inverse"
								@click="gotoOwnerPage"
							>
								Nanti Saja
							</button>
							<button
								type="button"
								class="btn btn-mamigreen"
								@click="gotoActivateBBK"
							>
								Daftar Sekarang
							</button>
						</div>

						<div v-else class="row flex-center" v-show="isLoading">
							<mami-loading-inline></mami-loading-inline>
						</div>
					</div>
				</div>
				<div v-else>
					<div class="modal-footer">
						<div class="content-modal">
							<h1>Mohon perhatiannya sebentar</h1>
							<p>
								Ini adalah fitur baru kami. Untuk membantu anda dalam mendata
								kamar yang sudah berpenghuni dan kamar yang kosong.
							</p>
							<button
								type="button"
								class="btn btn-mamigreen"
								v-text="'SELANJUTNYA'"
								@click="handleNextSection($store.state.section)"
							></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from '../../@mixins/MixinGetQueryString';
export default {
	mixins: [mixinGetQueryString],
	data() {
		return {
			isLoading: false,
			rating: null,
			feedback: '',
			menu: false,
			ownerButton: true,
			urlButtonOtherKost: '',
			propertyType: 'kost',
			urlFinish: '',
			isSkippedOver: false,
			isInterceptBBK: false
		};
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		inputAs() {
			return this.$store.state.params.input_as;
		},
		isEdit() {
			return this.$store.state.extras.is_edit;
		},
		isMamipayUser() {
			return this.$store.state.membership.is_mamipay_user;
		},
		isBeforeSurvey() {
			return !this.isSkippedOver && !this.isEdit && !this.isInterceptBBK;
		},
		isAfterSurvey() {
			if (!this.isEdit) {
				return this.isSkippedOver && !this.isInterceptBBK;
			} else {
				return !this.isInterceptBBK;
			}
		},
		inputParams() {
			return this.$store.state.params;
		}
	},
	props: {
		message: {
			type: String,
			default: ''
		},
		survey: {
			type: Boolean,
			default: false
		},
		property: {
			type: String,
			default: 'kost'
		},
		isRoomAllotmentIntercept: {
			type: Boolean,
			default: false
		},
		authData: {
			type: Object,
			default() {
				return {
					name: '',
					email: '',
					phone_number: ''
				};
			}
		},
		roomData: {
			type: Object,
			default: null
		}
	},
	mounted() {
		if (Cookies.get('surveyUxInput')) {
			this.survey = false;
		}
		let pathName = window.location.pathname;
		if (
			this.inputAs == 'Pemilik Kos' ||
			this.inputAs == 'Pengelola Kos' ||
			this.property != 'apartment'
		) {
			this.ownerButton = true;
			this.urlButtonOtherKost = '/ownerpage/add';
			this.propertyType = 'kost';
		} else {
			this.ownerButton = false;
			if (this.inputAs == 'Pemilik Apartemen' || this.property == 'apartment') {
				this.urlButtonOtherKost = '/ownerpage/add';
				this.urlFinish = '/ownerpage/apartment';
				this.propertyType = 'apartment';
			} else {
				this.urlButtonOtherKost = pathName;
				this.urlFinish = '/promosi-kost';
				this.propertyType = 'kost';
			}
		}
	},
	methods: {
		repeatInput() {
			this.$store.commit('setParamsRoomAllotment', []);
			if (this.$store.state.property_id) {
				if (this.getQueryString('for') == 'new_type') {
					let lastName = this.$store.state.params.name;
					this.$store.commit('changeNamePrevious', lastName);
					$('#modalInputSuccess').modal('hide');
					this.$store.state.section = 1;
				} else {
					window.open(
						`/ownerpage/edit-kos/${this.$store.state.property_id}?for=new_type`,
						'_self'
					);
				}
			} else {
				let lastName = this.$store.state.params.name;
				this.$store.commit('changeNamePrevious', lastName);
				$('#modalInputSuccess').modal('hide');
				this.$store.state.section = 1;
			}
		},
		submitFeedback() {
			this.isLoading = true;
			axios
				.post('/feedback', {
					_token: this.token,
					input_as: this.inputAs,
					rating: this.rating,
					feedback: this.feedback
				})
				.then(response => {
					this.isLoading = false;
					Cookies.set('surveyUxInput', true, { expires: 120 });

					swal({
						title: '',
						text: 'Terima kasih atas penilaiannnya',
						type: 'success',
						timer: 3000,
						allowOutsideClick: false,
						confirmButtonColor: '#1BAA56',
						onOpen() {
							swal.showLoading();
						}
					}).then(
						() => {},
						dismiss => {
							// location.reload();
							this.menu = true;
							this.isSkippedOver = true;
						}
					);
				})
				.catch(error => {
					this.isLoading = false;
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		gotoOwnerPage() {
			window.onbeforeunload = null;
			window.open('/ownerpage', '_self');
		},
		gotoActivateBBK() {
			tracker('moe', [
				'[Owner] Register - Click Activate Booking',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.authData.name,
					owner_phone_number: this.authData.phone_number,
					owner_email: this.authData.email
				}
			]);
			window.onbeforeunload = null;
			window.open('/ownerpage/manage/activate', '_self');
		},
		showInterceptBBK() {
			if (this.propertyType === 'kost' && this.roomData) {
				if (!this.isMamipayUser) {
					if (
						this.roomData &&
						(this.roomData.status_kos === 'verified' ||
							this.roomData.status_kos === 'add')
					) {
						this.isInterceptBBK = true;
					} else {
						this.gotoOwnerPage();
					}
				} else {
					this.gotoOwnerPage();
				}
			} else {
				this.gotoOwnerPage();
			}
		},
		handleNextSection(currentSection) {
			$('#modalInputSuccess').modal('hide');
			this.$store.commit('changeSection', currentSection + 1);
			window.onbeforeunload = null;
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_lima_approx: #5fcc34;
$white: #fff;

@media (max-width: 767px) {
	.modal-content {
		max-height: 550px;
	}
	.ux-survey-option {
		text-align: left;
		.radio {
			width: 100%;
		}
	}
	.form-ux-survey > p {
		text-align: left;
	}
}
@media (min-width: 768px) {
	.modal-dialog {
		max-width: 444px;
	}
	.ux-survey-option {
		text-align: left;
	}
	.form-ux-survey > p {
		text-align: center;
	}
}
.modal-dialog-center {
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ux-survey-option {
	text-align: left;
	width: 140px;
	margin: 15px auto;
	> .radio {
		display: block;
	}
	.radio > label {
		margin-right: 5px;
	}
}
.modal-content {
	border-radius: 10px;
}
.modal-footer {
	display: block;
	padding-top: 0 !important;
	border: none;
	text-align: center;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	button {
		width: 48.66666666%;
	}
	.content-modal {
		h1 {
			font-weight: bold;
			font-size: 16px;
			color: #242424;
		}
		p {
			font-size: 14px;
			padding: 0px 45px;
			margin-bottom: 4em;
		}
		button {
			width: 100%;
		}
	}
}
.mami-button {
	display: block;
	margin: 5px 0;
	height: 45px;
	line-height: 30px;
	font-size: 1em;
	margin-left: 0 !important;
}
.full-button {
	display: block;
	height: 45px;
	line-height: 30px;
	margin-bottom: 9px !important;
	margin-left: 0 !important;
	font-size: 13px;
}
.bar-header {
	background-color: $color_lima_approx;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	> h4 {
		font-weight: 700;
		color: $white;
	}
}
.modal-body {
	padding-bottom: 0 !important;
	> h1 {
		font-size: 1.4em;
		margin: 0;
		font-weight: 600;
	}
	> img {
		margin: auto;
	}
}
.modal-header {
	border: none;
}
@media (max-width: 320px) {
	.mami-button {
		font-size: 0.9em;
	}
}
.ux-survey-feedback {
	text-align: left;
	margin-bottom: 15px;
}
.text-upper {
	text-transform: uppercase !important;
}
.form-ux-survey > p {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
	padding: 0 35px;
}
.img-intercept {
	width: 80%;
	margin-top: 20px;
}
.caption-intercept {
	margin-bottom: 40px;
}
</style>
