<template>
	<div :class="{ 'modalInputFailedNew': newType, 'isModalMobile': mobile }" class="modal fade" tabindex="-1" role="dialog" id="modalInputFailed">
		<div class="modal-dialog modal-sm" role="document">
			<div v-if="!newType" class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center">Submit Gagal</h4>
				</div>
				<div class="modal-body text-center">
					<img src="/assets/iconfailed.png" alt="submit data gagal" />
					<ul>
						<li v-for="(message, index) in messages" :key="index">
							{{ message }}
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-mamiorange" data-dismiss="modal">
						OK
					</button>
				</div>
			</div>
			<div v-else class="modal-content">
				<div class="modal-body text-center">
					<div class="content-modal">
						<img src="/assets/stop_smile.svg" alt="images_modal_room_allotment" />
						<h1>Perhatian!</h1>
						<p>{{ messagesString }}</p>
						<button
							type="button"
							class="btn btn-mamigreen"
							v-text="'Batal'"
							data-dismiss="modal"
						></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		messages: {
			type: Array
		},
		messagesString: {
			type: String,
			default: '',
		},
		newType: {
			type: Boolean,
			default: false,
		},
		mobile: {
			type: Boolean,
			default: false,
		}
	}
}
</script>

<style lang="scss" scoped>
.modal-body {
	> img {
		width: 150px;
		margin: auto;
	}
	ul {
		text-align: left !important;
	}
}
.modal-header {
	border: none;
}
.modal-footer {
	border: none;
}
.modalInputFailedNew {
	.modal-content {
		border: none;
	}
	.modal-sm {
		max-width: 444px;
		width: auto;
	}
	img {
		width: auto;
	}
	.content-modal {
		padding: 25px;
		h1 {
			font-weight: bold;
			font-size: 16px;
			color: #242424;
		}
		p {
			font-size: 14px;
			padding: 0px 45px;
			margin-bottom: 4em;
		}
		button {
			width: 100%;
		}
	}
}
.isModalMobile {
	&.in {
		.modal-dialog {
			transform: translate(0,0);
		}
	}
	.modal-dialog {
		position: absolute;
		left: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		max-width: 100%;
		transform: translate(0,50%);
		.modal-content {
			border-radius: 0;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			img {
				display: none;
			}
			.content-modal {
				padding: 15px;
				text-align: left;
				position: relative;
				&:before {
					content: '';
					width: 40px;
					height: 6px;
					border-radius: 50px;
					background: #DDDDDD;
					position: absolute;
					left: 50%;
					display: block;
					transform: translate(-50%, 0);
				}
				h1 {
					font-size: 20px;
					margin-bottom: 15px;
				}
				p {
					padding: 0;
					margin-bottom: 2em;
				}
			}
		}
	}
}
</style>
