<template>
	<div :class="grid">
		<div class="alert" :class="alertType">
			<strong v-if="icons === ''">Perhatian!</strong>
			<span v-else class="icons" :class="icons"></span>
			<span>{{ text }}</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		grid: {
			type: String,
			required: true
		},
		text: {
			type: String,
			required: true
		},
		icons: {
			type: String,
			default: ''
		},
		alertType: {
			type: String,
			default: 'alert-danger'
		}
	}
};
</script>

<style lang="scss" scoped>
$color-bg-warning: #fdede7;
$color-txt-warning: #ec4a0c;
$color-bg-success: #E8F7EE;
$color-txt-success: #1BAA56;

.alert {
	display: flex;
	.icons {
		margin-right: 12px;
		top: 4px;
	}
	&.alert-warning {
		background: $color-bg-warning;
		color: $color-txt-warning;
		.icons {
			color: $color-txt-warning;
		}
	}
	&.alert-success {
		background: $color-bg-success;
		border: none;
		color: $color-txt-success;
		.icons {
			color: $color-txt-success;
		}
	}
}
</style>
