<template>
	<div :class="grid">
		<h3 class="section-title">{{ text }}</h3>
	</div>
</template>

<script>
export default {
	props: {
		grid: {
			type: String,
			required: true
		},
		text: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_green_haze_approx: #1baa56;

.section-title {
	margin-bottom: 15px;
	&:after {
		content: '';
		display: block;
		width: 120px;
		height: 50%;
		border-bottom: 2px solid $color_green_haze_approx;
		margin-top: 10px;
	}
}
</style>
