<template>
	<div v-show="isShown">
		<button
			class="btn btn-mamiorange widget-help-button track-help-input-owner"
			@click="startHelpChat"
			v-if="!isLoading"
		>
			CS Bantu Input Data
		</button>
		<button class="btn btn-mamiorange widget-help-button" disabled v-else>
			Memulai chat...
			<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
		</button>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isShown: false,
			isLoading: false,
			groupChannel: null,
			userGroup: []
		};
	},

	mounted() {
		$(document).ready(() => {
			this.isShown = true;
		});
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		authData() {
			return this.$store.state.authData;
		},
		chatData() {
			return this.$store.state.extras.chatData;
		}
	},

	methods: {
		startHelpChat() {
			this.isLoading = true;

			const groupName = `${this.chatData.chatName} : CS Mamikos`;

			const channelListQuery = sb.GroupChannel.createMyGroupChannelListQuery();
			channelListQuery.includeEmpty = true;

			channelListQuery.next((groupChannels, error) => {
				if (error) {
					return;
				}

				const groups = groupChannels;

				for (let group of groups) {
					if (
						group.name.trim().toLowerCase() === groupName.trim().toLowerCase()
					) {
						this.groupChannel = group;

						break;
					}
				}

				if (this.groupChannel == null) {
					this.userGroup = [this.authData.all.id, this.chatData.adminId];

					const groupImage = '/assets/default_chat_channel_cover.png';
					const isDistinct = true;

					sb.GroupChannel.createChannelWithUserIds(
						this.userGroup,
						isDistinct,
						groupName,
						groupImage,
						'',
						(groupChannel, error) => {
							if (error) {
								return;
							}

							this.groupChannel = groupChannel;

							this.insertMetadata();

							this.getReplyHelpChat();
						}
					);
				} else {
					this.insertMetadata();

					this.getReplyHelpChat();
				}
			});
		},
		insertMetadata() {
			const metadata = {
				chat_support: true
			};
			const upsertIfNotExist = true;

			this.groupChannel.updateMetaData(
				metadata,
				upsertIfNotExist,
				(response, error) => {
					if (error) {
						return;
					}
				}
			);
		},
		getReplyHelpChat() {
			axios
				.post('/owner/reply', {
					group_id: this.groupChannel.url,
					group_channel_url: this.groupChannel.url
				})
				.then(response => {
					sbWidget.showChannel(this.groupChannel.url);

					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$black_14: rgba(0, 0, 0, 0.14);
$black_28: rgba(0, 0, 0, 0.28);

@media (max-width: 767px) {
	.widget-help-button {
		position: fixed;
		z-index: 1000;
		bottom: 0;
		right: 0;
		padding-right: 16px;
		padding-left: 16px;
		border-radius: 0;
		width: 100%;
		font-size: larger;
	}
}
@media (min-width: 768px) {
	.widget-help-button {
		position: fixed;
		z-index: 1000;
		bottom: 10px;
		left: 20px;
		padding-right: 16px;
		padding-left: 16px;
		box-shadow: 0 0 4px $black_14, 0 4px 8px $black_28;
	}
}
</style>
