<template>
	<div>
		<button
			class="btn btn-mamiorange widget-form-bookmark to-save"
			:class="{ 'is-saved': isSaved }"
			@click="bookmarkForm('save')"
		>
			<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; SIMPAN SEMENTARA
		</button>
		<button
			class="btn btn-mamiorange-inverse widget-form-bookmark to-load"
			@click="bookmarkForm('load')"
			v-if="isSaved"
		>
			<i class="fa fa-repeat" aria-hidden="true"></i>&nbsp; MUAT ULANG DATA
		</button>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isSaved: false,
			stateBookmark: {}
		};
	},
	mounted() {
		if (Cookies.get('bookmarkFormAgentKost') != undefined) {
			this.isSaved = true;
		}
	},
	computed: {
		state() {
			return this.$store.state;
		}
	},
	methods: {
		bookmarkForm(action) {
			if (action == 'save') {
				if (
					confirm(
						'Beberapa data fasilitas kost & foto tidak dapat disimpan sementara. Lanjutkan?'
					)
				) {
					Cookies.set('bookmarkFormAgentKost', this.state, { expires: 1 });
					this.isSaved = true;
					alert('Data isian form berhasil tersimpan sementara!');
				}
			} else if (action == 'load') {
				this.stateBookmark = Cookies.getJSON('bookmarkFormAgentKost');
				this.$store.commit('setStateBookmark', this.stateBookmark);
				this.$store.commit('changeSection', 0);
				this.$nextTick(() => {
					this.$store.commit('changeSection', 1);
				});
				alert('Data isian form (selain foto) berhasil dimuat ulang!');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$black_14: rgba(0, 0, 0, 0.14);
$black_28: rgba(0, 0, 0, 0.28);

@media (max-width: 1054px) {
	.widget-form-bookmark {
		position: fixed;
		z-index: 1000;
		bottom: 0;
		padding: 6px 0;
		border-radius: 0;
		font-size: small;
		&.to-save {
			left: 0;
			width: 100%;
			&.is-saved {
				width: 50%;
			}
		}
		&.to-load {
			right: 0;
			width: 50%;
		}
	}
}
@media (min-width: 1054px) {
	.widget-form-bookmark {
		position: fixed;
		z-index: 1000;
		width: 240px;
		right: 20px;
		padding: 6px 0;
		box-shadow: 0 0 4px $black_14, 0 4px 8px $black_28;
		&.to-save {
			bottom: 50px;
		}
		&.to-load {
			bottom: 10px;
		}
	}
}
</style>
