<template>
	<bg-modal
		:value="isShown"
		title="Verifikasi Nomor Handphone"
		desktop-size="sm"
		mobile-size="popup"
		class="owner-phone-number-otp-modal"
		@close="$emit('update:is-shown', false)"
	>
		<otp-input-wrapper
			method-label="SMS"
			contact-type="phone_number"
			:contact-value="contactValue"
			:resend-counter="resendCounter"
			:is-loading-verification="isLoadingVerification"
			:is-invalid="isOTPInvalid"
			@verify-otp="handleVerifyOTP"
			@resend-otp="handleResendOTP"
			@reset-validation="isOTPInvalid = false"
		/>
	</bg-modal>
</template>

<script>
import { BgModal } from 'bangul-vue';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

import OtpInputWrapper from 'Js/_login/components/OTPInputWrapper';

import trackerMixin from '../../mixins/OwnerMixinSettingsTrackers';

export default {
	name: 'OwnerPhoneNumberOTPModal',
	components: {
		BgModal,
		OtpInputWrapper
	},
	mixins: [trackerMixin],
	props: {
		isShown: {
			type: Boolean,
			default: false
		},
		contactValue: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			resendCounter: 0,
			isLoadingVerification: false,
			isOTPInvalid: false
		};
	},
	watch: {
		isShown: {
			immediate: true,
			handler(value) {
				if (value) {
					this.trackOTPFormOpened();
					this.startResendCountdown();
				}
			}
		}
	},
	methods: {
		async handleVerifyOTP(value) {
			this.isLoadingVerification = true;

			try {
				const response = await makeAPICall({
					method: 'post',
					url: '/owner/edit/phone',
					data: {
						phone_number: this.contactValue,
						verification_code: value
					}
				});

				response && response.status
					? this.$emit('verified')
					: (this.isOTPInvalid = true);

				this.trackOTPSubmitted(response.status ? null : 'kode salah');
			} catch (error) {
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
			} finally {
				this.isLoadingVerification = false;
			}
		},
		handleResendOTP() {
			const data = {
				key: 'phone_number',
				label: 'Nomor Handphone',
				payload: { phone_number: this.contactValue }
			};

			this.trackOTPResent();
			this.$emit('resend-code', data);
		},
		startResendCountdown() {
			this.resendCounter = 60;

			const counter = setInterval(() => {
				this.resendCounter -= 1;

				if (this.resendCounter === 0) {
					clearInterval(counter);
					this.resendCounter = 0;
				}
			}, 1000);
		}
	}
};
</script>

<style lang="scss" scoped></style>
