<template>
	<div id="ownerPersonalInfoWrapper" class="owner-personal-info-wrapper">
		<bg-text size="heading-4" class="owner-personal-info-wrapper__title">
			Informasi Pribadi
		</bg-text>

		<!-- eslint-disable vue/attribute-hyphenation -->
		<bg-grid
			v-for="(item, i) in personalInfoItems"
			:key="`item-${i}`"
			:mobile-only="isMobile"
			vAlign="center"
			class="owner-personal-info-wrapper__item"
		>
			<bg-grid-item
				:col="isMobile ? 3 : 8"
				class="owner-personal-info-wrapper__item-left"
			>
				<bg-text size="body-1" class="owner-personal-info-wrapper__item-label">
					{{ item.label }}
					<bg-red-dot v-if="item.redDot" top="2" />
				</bg-text>
				<bg-text size="body-2" class="owner-personal-info-wrapper__item-value">
					{{ item.value }}
				</bg-text>
			</bg-grid-item>

			<bg-grid-item
				:col="isMobile ? 1 : 4"
				class="owner-personal-info-wrapper__item-right"
			>
				<bg-link :variant="ctaVariant(item)" @click="handleCtaClicked(item)">
					<bg-text size="body-1">{{ item.ctaText || 'Ubah' }}</bg-text>
				</bg-link>
			</bg-grid-item>

			<bg-grid-item
				v-if="item.hasAlert"
				:variant="item.alert.variant"
				:col="isMobile ? 4 : 12"
			>
				<bg-alert
					:variant="item.alert.variant"
					:title="item.alert.title"
					:description="item.alert.message"
				/>
			</bg-grid-item>

			<transition name="slide">
				<bg-grid-item
					v-if="
						item.ctaBehavior === 'toggle' && shownEditForms.includes(item.key)
					"
					:col="isMobile ? 4 : 12"
					class="owner-personal-info-wrapper__item-form"
				>
					<edit-form
						:item-key="item.key"
						:item-value="item.value"
						:item-label="item.label"
						:item-placeholder="item.placeholder"
						:item-validation-rules="item.validationRules"
						@submit="handleUpdateInfo"
					/>
				</bg-grid-item>
			</transition>
		</bg-grid>

		<phone-otp-modal
			v-if="isPhoneOTPModalShown"
			:is-shown.sync="isPhoneOTPModalShown"
			:contact-value="otpContactValue"
			@resend-code="handleUpdateInfo"
			@verified="onUpdateInfoSucceeded('phone_number', 'Nomor Handphone')"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { mapState } from 'vuex';
import {
	BgGrid,
	BgGridItem,
	BgText,
	BgLink,
	BgRedDot,
	BgAlert
} from 'bangul-vue';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';

import EditForm from './OwnerPersonalInfoForm';

import trackerMixin from '../../mixins/OwnerMixinSettingsTrackers';

/* istanbul ignore next */
const PhoneOtpModal = () => import('./OwnerPhoneNumberOTPModal');

/* eslint-disable camelcase */
export default {
	name: 'OwnerPersonalInfoWrapper',
	components: {
		BgGrid,
		BgGridItem,
		BgText,
		BgLink,
		BgRedDot,
		BgAlert,
		EditForm,
		PhoneOtpModal
	},
	mixins: [trackerMixin],
	data() {
		return {
			shownEditForms: [],
			otpContactValue: '',
			isPhoneOTPModalShown: false
		};
	},
	computed: {
		...mapState(['profile', 'mamipayDetail']),
		isMobile() {
			return navigator.isMobile;
		},
		personalInfoItems() {
			const { name, phone_number, email } = this.profile.user;
			const items = [
				{
					key: 'name',
					label: 'Nama Lengkap',
					placeholder: 'Masukkan nama lengkap',
					validationRules: {},
					value: name,
					apiUrl: '/owner/edit/name',
					ctaBehavior: 'toggle'
				},
				{
					key: 'phone_number',
					label: 'Nomor Handphone',
					placeholder: 'Masukkan nomor handphone',
					validationRules: {},
					value: phone_number,
					apiUrl: '/owner/edit/phone/request',
					ctaBehavior: 'toggle'
				},
				{
					key: 'password',
					label: 'Password',
					placeholder: 'Password minimal 6 karakter',
					validationRules: { min: 6 },
					value: 'xxxxxxxx',
					apiUrl: '/owner/password/update',
					ctaBehavior: 'toggle'
				},
				{
					key: 'email',
					label: 'Email',
					placeholder: 'Masukkan email baru',
					validationRules: {},
					value: email,
					apiUrl: '/owner/verification/email',
					ctaBehavior: 'toggle'
				}
			];

			if (this.isMobile && this.documentVerificationData)
				items.push(this.documentVerificationData);

			return items;
		},
		documentVerificationData() {
			const { verification_data } = this.mamipayDetail;

			if (verification_data) {
				const {
					identity_card_label,
					notification,
					identity_card_status
				} = verification_data;

				const ctaText =
					!identity_card_status || identity_card_status === 'rejected'
						? 'Tambahkan'
						: 'Ubah';

				const alertVariant =
					identity_card_status === 'waiting'
						? 'info'
						: identity_card_status === 'verified'
						? 'success'
						: 'error';

				return {
					key: 'doc_verification',
					label: 'Verifikasi Kartu Identitas',
					value: identity_card_label,
					ctaBehavior: 'link',
					ctaText: ctaText,
					redDot: !identity_card_status,
					targetPath: '/settings/document-verification',
					hasAlert: notification.body,
					alert: {
						variant: alertVariant,
						title: notification.title || '',
						message: notification.body
					}
				};
			} else return null;
		}
	},
	methods: {
		ctaVariant(item) {
			if (item.ctaBehavior === 'toggle') {
				return this.isMobile ? 'high' : 'low-naked';
			}

			return 'medium-naked';
		},
		handleCtaClicked(item) {
			if (item.key === 'doc_verification')
				this.trackDocumentVerificationClicked();

			item.ctaBehavior === 'link'
				? this.$router.push(item.targetPath)
				: this.toggleEditForm(item.key);
		},
		toggleEditForm(key) {
			this.shownEditForms.includes(key)
				? this.shownEditForms.splice(this.shownEditForms.indexOf(key), 1)
				: this.shownEditForms.push(key);
		},
		async handleUpdateInfo(data) {
			this.isPhoneOTPModalShown = false;
			this.openSwalLoading();

			const apiUrl = this.personalInfoItems.find(item => item.key === data.key)
				.apiUrl;
			const response = await makeAPICall({
				method: 'post',
				url: apiUrl,
				data: data.payload
			});

			if (response && response.status) {
				this.closeSwalLoading();

				if (data.key === 'phone_number') {
					this.otpContactValue = data.payload[data.key];
					this.isPhoneOTPModalShown = true;
				} else {
					if (data.key === 'password') this.trackUpdatePasswordSucceeded();

					this.onUpdateInfoSucceeded(data.key, data.label);
				}
			} else {
				this.swalError(
					null,
					_get(
						response,
						`${data.key === 'email' ? 'message' : 'meta.message'}`,
						''
					)
				);
			}
		},
		onUpdateInfoSucceeded(key, label) {
			const config = {
				needReload: key !== 'email',
				message:
					key === 'email'
						? 'Mohon cek email yang baru Anda masukkan untuk verifikasi.'
						: `${label} berhasil diubah.`
			};

			this.isPhoneOTPModalShown = false;

			this.$emit('update-succeeded', config);
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-personal-info-wrapper {
	padding-bottom: 0;

	&__title {
		margin-bottom: 32px;
	}

	&__item {
		@media (max-width: 767px) {
			&:not(:last-child) {
				padding-bottom: 16px;
			}
		}

		&-left {
			display: block;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
		}

		&-label {
			margin-bottom: 4px;
		}

		&-form {
			transition: transform 0.25s ease-in-out;
			transform-origin: top;
		}
	}

	.slide-enter,
	.slide-leave-to {
		transform: scaleY(0);
	}
}
</style>
