<template>
	<div
		id="ownerNotificationSettingsWrapper"
		class="owner-notification-settings-wrapper"
	>
		<bg-text
			size="heading-4"
			class="owner-notification-settings-wrapper__title"
		>
			Pengaturan Akun
		</bg-text>

		<template v-if="isLoadingItems">
			<bg-skeleton
				v-for="i in 3"
				:key="i"
				width="75%"
				:height="24"
				class="owner-notification-settings-wrapper__skeleton"
			/>
		</template>

		<template v-else>
			<bg-checkbox
				v-for="(item, i) in notifcationSettingsItems"
				:id="item.key"
				:key="`item-${i}`"
				v-model="item.value"
				:label="item.label"
				class="owner-notification-settings-wrapper__item"
				@input="handleUpdateSetting(item)"
			/>
		</template>
	</div>
</template>

<script>
import { BgText, BgSkeleton, BgCheckbox } from 'bangul-vue';

import { makeAPICall } from 'Js/@utils/makeAPICall';

export default {
	name: 'OwnerNotificationSettingsWrapper',
	components: {
		BgText,
		BgSkeleton,
		BgCheckbox
	},
	data() {
		return {
			isLoadingItems: false,
			notifcationSettingsItems: []
		};
	},
	created() {
		this.fetchNotificationSettingsItems();
	},
	methods: {
		async fetchNotificationSettingsItems() {
			this.isLoadingItems = true;

			try {
				const response = await makeAPICall({
					method: 'get',
					url: '/setting/notif'
				});

				if (response && typeof response === 'object')
					this.notifcationSettingsItems = response.settings;
			} catch (error) {
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
			}

			this.isLoadingItems = false;
		},
		async handleUpdateSetting(settingItem) {
			const response = await makeAPICall({
				method: 'post',
				url: '/setting/notif',
				data: {
					settings: {
						[settingItem.key]: settingItem.value
					}
				}
			});

			if (response && typeof response === 'object') {
				const config = {
					needReload: false,
					message: `${settingItem.label} berhasil ${
						settingItem.value ? 'diaktifkan' : 'dinonaktifkan'
					}`
				};

				this.$emit('update-succeeded', config);
			} else {
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-notification-settings-wrapper {
	&__title {
		margin-bottom: 36px;
	}

	&__skeleton,
	&__item {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__alert {
		position: fixed;
		top: 142px;
		right: 32px;
		width: 35%;
	}
}
</style>
