<template>
	<div class="sanjunipero-wrap">
		<global-navbar
			fixed
			:overlay="navigator.isMobile"
			:max-width="1138"
			need-brand-mobile
			need-notification-feature
			:need-chat-feature="false"
			:need-favourite-feature="false"
		/>
		<san-junipero-header></san-junipero-header>
		<section class="container">
			<san-junipero-filter v-if="!isMobile"></san-junipero-filter>
			<div v-if="!isLoading" class="list">
				<room-list
					:rooms="getRooms"
					grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
				></room-list>
				<div class="pagination-section">
					<paginate
						ref="pagination"
						v-model="currentPage"
						:page-count="currentPage < 10 ? totalPage : totalPageAll"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>
			</div>
			<div v-else>
				<div class="row">
					<div v-for="i in 8" :key="i" class="col-md-3 col-sm-4 col-xs-12">
						<div class="item-loader">
							<div class="item-loader__image">
								<skeleton-loader v-if="isMobile" :height="150" />
								<skeleton-loader v-else :height="190" />
							</div>
							<div class="item-loader__meta">
								<skeleton-loader :height="14" :width="150" />
								<skeleton-loader :height="18" />
								<skeleton-loader :height="14" :width="180" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<san-junipero-faqs></san-junipero-faqs>
		<san-junipero-filter-mobile v-if="isMobile"></san-junipero-filter-mobile>
		<mami-footer></mami-footer>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import MixinIsMobile from '../mixins/MixinIsMobile';

import GlobalNavbar from 'Js/@components/GlobalNavbar';
import SanJuniperoHeader from './SanJuniperoHeader';
import SanJuniperoFilter from './SanJuniperoFilter';
import RoomList from 'Js/@components/RoomList';
import paginate from 'vuejs-paginate';
import SkeletonLoader from 'Js/@components/SkeletonLoader';
import SanJuniperoFaqs from './SanJuniperoFaqs';
import SanJuniperoFilterMobile from './SanJuniperoFilterMobile';
import MamiFooter from 'Js/@components/MamiFooter';

export default {
	name: 'SanJunipero',
	components: {
		GlobalNavbar,
		SanJuniperoHeader,
		SanJuniperoFilter,
		RoomList,
		paginate,
		SkeletonLoader,
		SanJuniperoFaqs,
		SanJuniperoFilterMobile,
		MamiFooter
	},
	mixins: [MixinIsMobile],
	data() {
		return {
			currentPage: 1,
			filter: window.filters
		};
	},
	computed: {
		...mapState(['isLoading']),
		...mapGetters(['getRooms']),
		totalPage() {
			let total = Math.ceil(
				this.$store.state.mainData.kos.totalRooms /
					this.$store.state.mainData.kos.params.limit
			);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			const total = Math.ceil(
				this.$store.state.mainData.kos.totalRooms /
					this.$store.state.mainData.kos.params.limit
			);

			return Number(total);
		}
	},
	created() {
		this.initRooms();
	},
	methods: {
		...mapActions([
			'fetchFacilitiesList',
			'fetchRooms',
			'settingFilter',
			'settingInitialLocationFilter'
		]),
		initRooms() {
			this.settingInitialLocationFilter();
			this.fetchFacilitiesList();
			this.settingFilter(this.filter);
			this.fetchRooms();
		},
		pageChanged(page) {
			const offset = page - 1;
			this.$store.commit('setOffset', offset);

			setTimeout(() => {
				window.scrollTo({ top: 0, behavior: 'smooth' });
			}, 50);

			this.fetchRooms();
		}
	}
};
</script>

<style lang="scss" scoped>
.sanjunipero-wrap {
	scroll-behavior: smooth;
}

.item-loader {
	margin: 20px auto;

	@media (max-width: 768px) {
		display: flex;
	}

	&__image {
		@media (max-width: 768px) {
			width: 30%;
			height: 150px;
		}
	}

	&__meta {
		@media (max-width: 768px) {
			padding-left: 10px;
		}
	}
}

.pagination-section {
	display: flex;
	justify-content: center;
}
</style>
