<template>
	<div id="searchSortMobile">
		<modal-sorting-mobile
			window-width-on-fixed
			:show="isShow"
			:close-modal="handleResetSorting"
		>
			<template v-slot:custom-header>
				<span class="sorting-close" @click="handleResetSorting" />
			</template>
			<template v-slot:custom-body>
				<div class="sorting-body">
					<div class="sorting-title">Urutkan Berdasarkan</div>
					<base-filter-option
						filter-type="sort"
						:option-data="sortData.data"
						:option-value="sorting"
						list-style="radio"
						@set-value="handleSetSorting"
					/>
				</div>
			</template>
			<template v-slot:custom-footer>
				<div class="sorting-footer">
					<button class="search-btn-reset" @click="handleResetSorting">
						Batal
					</button>
					<button class="search-btn-save" @click="handleApplySorting">
						Terapkan
					</button>
				</div>
			</template>
		</modal-sorting-mobile>
	</div>
</template>

<script>
import ModalSortingMobile from 'Js/@components/PickABooSelectModal';
import BaseFilterOption from 'Js/@components/BaseFilterOption';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

export default {
	components: {
		ModalSortingMobile,
		BaseFilterOption
	},
	mixins: [MixinFilterHelper],
	props: {
		isShow: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			sorting: ['price', '-']
		};
	},
	watch: {
		isShow(showStatus) {
			if (showStatus) this.sorting = this.getKostSorting;
		}
	},
	methods: {
		handleSetSorting(value) {
			this.sorting = value;
		},
		handleApplySorting() {
			this.settingSort(this.sorting);
			this.$emit('toggle-modal-handler');
		},
		handleResetSorting() {
			this.sorting = ['price', '-'];
			this.$emit('toggle-modal-handler');
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#searchSortMobile {
	#pickABooSelectModal {
		.modal-dialog > .modal-content > .pick-a-boo-header {
			padding: 0;
			border-bottom: 0;
		}
		.modal-dialog > .modal-content > .pick-a-boo-content {
			padding: 0 24px 44px;

			.input-container {
				margin-top: 28px;
			}

			.input-container:not(:first-of-type) {
				margin-top: 24px;
			}
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';

.sorting-close {
	width: 40px;
	height: 6px;
	margin: 8px auto 0;
	background: #e8e8e8;
	border-radius: 100px;
}
.sorting-body {
	margin-top: 20px;

	.sorting-title {
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}
}
.sorting-footer {
	display: flex;
	justify-content: space-between;
	padding: 16px 24px;
	border-top: 1px solid #e8e8e8;

	.search-btn-reset,
	.search-btn-save {
		width: calc((100vw - 80px) / 2);
		padding: 0;
		margin: 0;
	}
}
</style>
