<template>
	<div
		v-if="isShow"
		id="modalSearchFilter"
		@click.self="handleApplyFitler(false)"
	>
		<div class="modal-filter-mobile">
			<div class="modal-header">
				<span class="modal-header-close" @click="handleApplyFilter(false)" />
			</div>
			<div class="modal-body">
				<span class="modal-body-title">Filter Pencarian</span>
				<div class="filter-section">
					<span class="filter-section-title">Area</span>
					<san-junipero-area-filter-mobile
						:dropdown-data="areaData"
					></san-junipero-area-filter-mobile>
				</div>
				<div class="filter-section">
					<span class="filter-section-title">Tipe Kos</span>
					<base-filter-option
						filter-type="gender"
						:option-data="genderData.data"
						:option-value="filters.gender"
						@set-value="handleSetFilter"
					/>
				</div>
				<div class="filter-section">
					<span class="filter-section-title">Harga Sewa</span>
					<base-filter-price
						ref="filterPriceRange"
						apply-on-change
						:show-label="false"
						:price-range="filters.price_range"
						@set-value="handleSetPrice"
					/>
				</div>
				<div class="filter-section">
					<span class="filter-section-title">Waktu Bayar Sewa</span>
					<base-filter-option
						filter-type="rent_type"
						:option-data="rentData.data"
						:option-value="filters.rent_type"
						list-style="radio"
						@set-value="handleSetFilter"
					/>
				</div>
			</div>

			<div class="modal-footer">
				<button class="search-btn-reset" @click="handleResetFilter">
					Hapus
				</button>
				<button
					:disabled="isCountRoomsLoading"
					class="search-btn-save search-btn-block"
					@click="handleApplyFilter"
				>
					<template v-if="!isCountRoomsLoading">
						{{ applyButtonText }}
					</template>
					<span v-else class="count-loading"></span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import { mapGetters } from 'vuex';
import MixinFilterHelper from '../mixins/MixinFilterHelper';
import BaseFilterOption from 'Js/@components/BaseFilterOption';
import BaseFilterPrice from 'Js/@components/BaseFilterPrice';
import SanJuniperoAreaFilterMobile from './SanJuniperoAreaFilterMobile';

export default {
	components: {
		BaseFilterOption,
		BaseFilterPrice,
		SanJuniperoAreaFilterMobile
	},
	mixins: [MixinFilterHelper],
	props: {
		isShow: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isCountRoomsLoading: false,
			totalFilteredKos: 0,
			filters: {
				gender: [],
				price_range: [10000, 20000000],
				rent_type: 2
			}
		};
	},
	computed: {
		...mapGetters(['getAllParams', 'getTotalRooms']),
		applyButtonText() {
			const totalKos = this.totalFilteredKos;
			if (!totalKos) return 'Tampilkan 0 Kos';

			return totalKos > 900
				? 'Tampilkan 900+ Kos'
				: `Tampilkan ${totalKos} Kos`;
		}
	},
	methods: {
		handleResetFilter() {
			const payload = {
				filters: {
					gender: [],
					price_range: [10000, 20000000],
					rent_type: 2
				}
			};
			this.$refs.filterPriceRange && this.$refs.filterPriceRange.resetAction();
			this.filters = payload.filters;
			this.fetchCountRooms();
		},
		handleApplyFilter(needFetch = true) {
			const filter = {
				...this.filters,
				...window.filters
			};

			if (needFetch) {
				this.settingFilter(filter);
				this.scrollToTop();
				this.fetchRooms();
			}
			this.$emit('toggle-modal-handler', 'Filter');
		},
		handleSetFilter(value, name) {
			const payload = { [name]: value };
			this.filters = { ...this.filters, ...payload };
			this.fetchCountRooms();
		},
		handleSetPrice(priceRange) {
			this.filters = { ...this.filters, price_range: priceRange };
			this.fetchCountRooms();
		},
		async fetchCountRooms() {
			this.isCountRoomsLoading = true;
			const params = this.getAllParams;
			const genderFilter = {
				gender: this.filters.gender.length ? this.filters.gender : [0, 1, 2]
			};
			const filters = { ...this.filters, ...genderFilter, ...window.filters };

			try {
				const res = await makeAPICall({
					method: 'post',
					url: '/stories/filters/count',
					data: {
						...params,
						filters
					}
				});
				if (res) this.totalFilteredKos = res.property_total;
			} catch (error) {
				bugsnagClient.notify(error);
			} finally {
				this.isCountRoomsLoading = false;
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalSearchFilter {
	position: fixed;
	width: 100vw;
	top: 0;
	bottom: 0;
	z-index: 1035;
	display: flex;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);

	.modal-filter-mobile {
		position: fixed;
		display: flex;
		z-index: 1036;
		width: 672px;
		max-height: calc(100vh - 80px);
		margin: 40px auto;
		overflow: hidden;
		flex-direction: column;
		background: #fff;
		border: 0;
		border-radius: 8px;
		box-shadow: none;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);

		@media (max-width: 672px) {
			width: 100vw;
			height: 100%;
			overflow: hidden;
			max-height: none;
			margin: 0;
			border-radius: 0;
		}

		.modal-header {
			position: relative;
			display: flex;
			width: 100%;
			height: 56px;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid #dadada;
		}

		.modal-body {
			display: flex;
			height: calc(100vh - 216px);
			padding: 0 24px;
			overflow: auto;
			flex-direction: column;

			@media (max-width: 672px) {
				position: fixed;
				top: 56px;
				flex: 1;
				height: calc(100% - 136px);
			}

			.input-container {
				margin-top: 28px;
			}

			.input-container:not(:first-of-type) {
				margin-top: 24px;
			}

			.base-content-container {
				padding: 16px 0 0;
			}
		}

		.modal-footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 80px;
			padding: 16px 24px;
			background: #fff;
			border-top: 1px solid #e8e8e8;

			@media (max-width: 672px) {
				position: fixed;
				bottom: 0;
				z-index: 1037;
			}
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';

.modal-header {
	.modal-header-close {
		position: absolute;
		left: 34px;
		height: 20px;
		cursor: pointer;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 2px;
			content: '';
			background: #757575;
			border-radius: 2px;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 2px;
			content: '';
			background: #757575;
			border-radius: 2px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.modal-body {
	.modal-body-title {
		margin-top: 12px;
		font-size: 20px;
		font-weight: 900;
		line-height: 28px;
		color: #303030;
	}

	.filter-section {
		padding: 12px 0 28px;

		&:not(:first-of-type) {
			border-top: 1px solid #e8e8e8;
		}

		.filter-section-title {
			font-size: 18px;
			font-weight: 900;
			line-height: 26px;
			color: #303030;
		}
	}
}

.modal-footer {
	.base-loading {
		display: inline-block;
		width: 8px;
		height: 8px;
		background-color: #fff;
		border-radius: 4px;
	}
	/* stylelint-disable */
	.count-loading {
		position: relative;
		@extend .base-loading;
		animation: half-fade-out 1s infinite linear alternate;
		animation-delay: 0.5s;
	}
	.count-loading::before {
		position: absolute;
		top: 0;
		left: -16px;
		@extend .base-loading;
		content: '';
		animation: half-fade-out 1s infinite alternate;
		animation-delay: 0s;
	}
	.count-loading::after {
		position: absolute;
		top: 0;
		left: 16px;
		@extend .base-loading;
		content: '';
		animation: half-fade-out 1s infinite alternate;
		animation-delay: 1s;
	}
	@keyframes half-fade-out {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
	/* stylelint-enable */
}
</style>
