<template>
	<div id="sanJuniperoAreaFilter">
		<dropdown>
			<button
				:ref="`dropdownMenuarea`"
				slot="button"
				type="button"
				:class="[
					'base-filter-button',
					{
						'--small': size === 'small',
						'--active': dropdownData.active
					}
				]"
			>
				<div
					v-if="dropdownData.icon"
					:class="[
						'icon-filter',
						{
							'--icon-active': dropdownData.active
						}
					]"
				>
					<component :is="dropdownData.icon"></component>
				</div>
				<span v-if="dropdownData.title">{{ dropdownData.title }}</span>
				<span v-if="dropdownData.count" class="count-filter">
					{{ dropdownData.count }}
				</span>
			</button>
			<div slot="dropdown-menu" class="dropdown-menu">
				<div class="base-filter-container" :style="dropdownStyle">
					<div class="base-content-container">
						<input
							v-model="searchInputValue"
							type="text"
							placeholder="Cari"
							autocomplete="off"
							class="area-search-form"
						/>
						<ul class="area-list">
							<li
								v-for="area in searchedAreaLists"
								:key="area.slug"
								@click="handleUpdateValue(area.slug)"
							>
								{{ area.area_name }}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
import BaseFilterOption from 'Js/@components/BaseFilterOption';
import SearchIcon from 'Js/@icons/Search';

export default {
	components: {
		dropdown,
		SearchIcon,
		BaseFilterOption
	},
	props: {
		size: {
			type: String,
			default: 'large'
		},
		dropdownStyle: {
			type: String,
			default: ''
		},
		dropdownData: {
			type: Object,
			default() {
				return {
					title: '',
					data: []
				};
			}
		}
	},
	data() {
		return {
			searchInputValue: ''
		};
	},
	computed: {
		searchedAreaLists() {
			return this.dropdownData.data.filter(area =>
				area.area_name
					.toLowerCase()
					.includes(this.searchInputValue.toLowerCase())
			);
		}
	},
	methods: {
		closeAction() {
			this.$refs.dropdownMenuarea && this.$refs.dropdownMenuarea.click();
		},
		handleUpdateValue(selectedAreaSlug) {
			this.closeAction();
			window.location.href = `/kos/${window.parent.slug}/${selectedAreaSlug}`;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#sanJuniperoAreaFilter {
	.dropdown-toggle {
		padding: 0;

		&:active,
		&:not(:focus),
		&:focus {
			background: none;
			border: 0;
			outline: none;
			box-shadow: none;
		}

		.caret {
			display: none;
		}
	}

	.dropdown-menu {
		padding: 0;
		margin-top: 16px;
		background: #fff;
		border: 0;
		border-radius: 8px;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
	}
}
/* stylelint-enable */
.base-full-padding {
	padding: 20px !important;

	.filter-content > .input-container {
		margin-top: 0 !important;

		&:not(:first-child) {
			margin-top: 16px !important;
		}
	}
}
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';

.base-content-container {
	padding: 20px;
	max-height: 312px;
	overflow-y: auto;
	// Hide scrollbar
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.area-search-form {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #303030;
	padding: 12px;
	margin-bottom: 8px;
	border-radius: 4px;
	border: 1px solid #e8e8ee;
}

.area-list {
	list-style-type: none;
	padding: 0;

	> li {
		padding: 8px;
		border-radius: 4px;
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;

		&:hover {
			background-color: #f6f6f6;
		}
	}
}
</style>
