<template>
	<div>
		<div ref="filterButton" class="filter-buttons">
			<button
				v-for="(menu, index) in btnMenu"
				:key="`menu-${menu}-${index}`"
				:class="['filter-button']"
				@click="handleToggleModal(menu.name)"
			>
				<component :is="menu.icon" />
				<span class="filter-text"> {{ menu.name }} </span>
				<span
					v-if="menu.needCount && totalActive[menu.name]"
					class="filter-count"
					>{{ totalActive[menu.name] }}</span
				>
			</button>
		</div>
		<modal-filter-mobile
			:is-show="showFilterModal"
			@toggle-modal-handler="handleToggleModal"
		></modal-filter-mobile>
		<modal-sorting-mobile
			:is-show="showSortingModal"
			@toggle-modal-handler="handleCloseSorting"
		></modal-sorting-mobile>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import MixinBodyScrollHandler from 'Js/@mixins/MixinBodyScrollHandler';
import FilterIcon from 'Js/@icons/Filter';
import SortingIcon from 'Js/@icons/Sorting';
import ModalFilterMobile from './ModalFilterMobile';
import ModalSortingMobile from './ModalSortingMobile';

export default {
	components: {
		FilterIcon,
		SortingIcon,
		ModalFilterMobile,
		ModalSortingMobile
	},
	mixins: [MixinBodyScrollHandler],
	data() {
		return {
			showFilterModal: false,
			showSortingModal: false,
			lastScrollPosition: 0,
			lastShowPosition: 0,
			btnMenu: [
				{
					name: 'Filter',
					icon: 'filter-icon',
					needCount: true
				},
				{
					name: 'Urutkan',
					icon: 'sorting-icon',
					needCount: false
				}
			]
		};
	},
	computed: {
		...mapGetters(['getKostFilters', 'getKostSorting']),
		/* eslint-disable */
		totalActive() {
			let totalFilterActive = 0;
			let totalSortingActive = 0;

			const { gender, price_range, rent_type } = this.getKostFilters;

			if (gender.length) totalFilterActive += gender.length;
			rent_type !== 2 && totalFilterActive++;

			if (price_range[0] !== 10000 || price_range[1] !== 20000000)
				totalFilterActive++;

			if (this.getKostSorting[1] !== '-' || this.getKostSorting[0] !== 'price')
				totalSortingActive++;

			return { Filter: totalFilterActive, Urutkan: totalSortingActive };
		}
		/* eslint-enable */
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll);
	},

	methods: {
		handleToggleModal(type) {
			if (type === 'Filter') {
				this.showFilterModal = !this.showFilterModal;
			} else {
				this.showSortingModal = !this.showSortingModal;
			}
		},
		handleCloseSorting() {
			this.showSortingModal = false;
		},
		handleScroll() {
			const newPosition = window.pageYOffset;
			const isDown = newPosition > this.lastScrollPosition;
			const isValuePass = newPosition - this.lastShowPosition > 200;
			if (!this.$refs.filterButton) return;

			if (isDown && isValuePass) {
				this.$refs.filterButton.classList.add('filter-hide');
			} else if (!isDown) {
				this.lastShowPosition = newPosition;
				this.$refs.filterButton.classList.remove('filter-hide');
			}

			this.lastScrollPosition = newPosition;
		}
	}
};
</script>

<style lang="scss" scoped>
.filter-buttons {
	position: fixed;
	bottom: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	background: #fff;
	box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.04);
	transition: 0.3s;

	.filter-button {
		position: relative;
		display: flex;
		flex: 1;
		height: 32px;
		align-items: center;
		justify-content: center;
		color: #757575;
		background: #fff;
		border: 0;
		outline: 0;

		&:not(:first-of-type) {
			border-left: 1px solid #e8e8e8;
		}
	}

	.filter-text {
		margin-left: 8px;
		font-size: 14px;
		font-weight: bold;
		line-height: 16px;
	}

	.filter-count {
		padding: 2px 4px;
		margin-left: 8px;
		font-size: 12px;
		line-height: 13px;
		color: #fff;
		text-align: center;
		background: #303030;
		border-radius: 100px;
	}
}
.filter-hide {
	bottom: -48px;
}
</style>
