<template>
	<div v-lazy:background-image="bgImage" class="sj-header">
		<div class="sj-header__container">
			<h1 class="title">{{ title }}</h1>
			<h2 class="subtitle">{{ subtitle }}</h2>
		</div>
	</div>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	mixins: [MixinIsMobile],
	data() {
		return {
			title: window.parent.title_header,
			subtitle: window.parent.subtitle_header
		};
	},
	computed: {
		bgImage() {
			if (this.isMobile && parent.mobile_header_image) {
				return parent.mobile_header_image.large;
			} else if (parent.desktop_header_image) {
				return parent.desktop_header_image.large;
			} else {
				return '/general/img/pictures/sanjunipero/background-header.jpg';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.sj-header {
	padding-top: 90px;
	padding-bottom: 170px;
	background-position: 50% 63%;
	background-size: cover;

	@media (max-width: 768px) {
		padding-top: 110px;
		padding-bottom: 190px;
	}

	&__container {
		padding: 0 20px;
		text-align: center;

		.title {
			margin-top: 0;
			font-size: 48px;
			font-weight: 900;
			line-height: 60px;
			color: #303030;

			@media (max-width: 768px) {
				font-size: 32px;
				line-height: 40px;
			}
		}

		.subtitle {
			margin-top: 0;
			font-size: 20px;
			font-weight: normal;
			line-height: 30px;
			color: #404040;

			@media (max-width: 768px) {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
</style>
