<template>
	<div class="sj-area-filter-mobile">
		<div class="sj-area-filter-mobile__input-container">
			<input
				v-model="searchInputValue"
				type="text"
				:placeholder="searchInputPlaceholder"
				autocomplete="off"
				class="sj-area-filter-mobile__search-input"
				@focus="handleActiveInput"
				@blur="handleActiveInput"
			/>
			<clear-input-icon
				v-show="!isOptionsActive && searchInputPlaceholder !== 'Semua Area'"
				class="sj-area-filter-mobile__clear-input-icon"
				@click.native="handleUpdateValue('', 'Semua Area')"
			></clear-input-icon>
		</div>
		<div
			v-show="isOptionsActive && searchedAreaLists.length > 0"
			class="sj-area-filter-mobile__base-content-container"
		>
			<ul class="sj-area-filter-mobile__area-list">
				<li
					v-for="area in searchedAreaLists"
					:key="area.slug"
					@click="handleUpdateValue(area.slug, area.area_name)"
				>
					{{ area.area_name }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import ClearInputIcon from 'Js/@icons/ClearInput';

export default {
	components: {
		ClearInputIcon
	},
	props: {
		dropdownData: {
			type: Object,
			default() {
				return {
					title: '',
					data: []
				};
			}
		}
	},
	data() {
		return {
			searchInputValue: '',
			isOptionsActive: false,
			searchInputPlaceholder: this.dropdownData.title
		};
	},
	computed: {
		searchedAreaLists() {
			return this.dropdownData.data.filter(area =>
				area.area_name
					.toLowerCase()
					.includes(this.searchInputValue.toLowerCase())
			);
		}
	},
	methods: {
		handleActiveInput() {
			if (!this.isOptionsActive) {
				this.isOptionsActive = true;
			} else {
				setTimeout(() => {
					this.searchInputValue = '';
					this.isOptionsActive = false;
				}, 0);
			}
		},
		handleUpdateValue(selectedAreaSlug, selectedAreaName) {
			this.searchInputPlaceholder = selectedAreaName;
			window.location.href = `/kos/${window.parent.slug}/${selectedAreaSlug}`;
		}
	}
};
</script>

<style lang="scss" scoped>
.sj-area-filter-mobile {
	&__input-container {
		position: relative;
		margin-top: 4px;
	}

	&__search-input {
		display: block;
		width: 100%;
		font-size: 16px;
		color: #303030;
		padding: 12px;
		margin-top: 4px;
		margin-bottom: 8px;
		border-radius: 4px;
		border: 1px solid #e8e8ee;

		&::placeholder {
			color: #303030;
		}
	}

	&__clear-input-icon {
		position: absolute;
		right: 3px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__base-content-container {
		background-color: #ffffff;
		margin-top: 8px;
		padding: 12px;
		position: absolute;
		z-index: 10;
		width: 88%;
		max-height: 312px;
		border-radius: 8px;
		-webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
		overflow-y: auto;
		// Hide scrollbar
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__area-list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {
			padding: 8px;
			border-radius: 4px;
			font-size: 16px;
			line-height: 24px;
			cursor: pointer;

			&:hover {
				background-color: #f6f6f6;
			}
		}
	}
}
</style>
