<template>
	<div id="sj-filter">
		<san-junipero-area-filter
			dropdown-style="width: 328px"
			:dropdown-data="areaData"
		></san-junipero-area-filter>
		<div class="divider" />
		<base-main-filter
			filter-type="gender"
			need-save
			save-on-close-dropdown
			:is-mobile-props="isMobile"
			dropdown-title="Tipe kos yang kamu cari berdasarkan gender."
			dropdown-style="width: 316px"
			:dropdown-data="genderData"
			@set-value="setMainFilter"
			@save-action="applyFilter"
		></base-main-filter>
		<div class="divider" />
		<base-main-filter
			filter-type="rent_type"
			need-save
			list-style="radio"
			save-on-close-dropdown
			:is-mobile-props="isMobile"
			dropdown-title="Waktu bayar sewa sesuai harga kos yang kamu inginkan."
			dropdown-style="width: 316px"
			:dropdown-data="rentData"
			@set-value="setMainFilter"
			@save-action="applyFilter"
		>
		</base-main-filter>
		<div class="divider" />
		<base-main-price
			:price-range="getKostFilters.price_range"
			:dropdown-data="priceData"
			@set-value="setFilterPrice"
			@save-action="applyFilter"
		></base-main-price>
		<div class="divider" />
		<base-main-filter
			filter-type="sorting"
			list-style="radio"
			bold-value-on-active
			dropdown-style="width: 220px"
			:need-indicator="false"
			:is-mobile-props="isMobile"
			:dropdown-data="sortData"
			@set-value="setSorting"
		></base-main-filter>
	</div>
</template>

<script>
import BaseMainFilter from 'Js/@components/BaseMainFilter';
import BaseMainPrice from 'Js/@components/BaseMainPrice';
import SanJuniperoAreaFilter from './SanJuniperoAreaFilter';
import MixinFilterHelper from '../mixins/MixinFilterHelper';

export default {
	components: {
		BaseMainFilter,
		BaseMainPrice,
		SanJuniperoAreaFilter
	},
	mixins: [MixinFilterHelper],
	methods: {
		applyFilter() {
			console.log('fetchRooms');
			this.fetchRooms();
		},
		setSorting(payload) {
			this.settingSort(payload);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#sj-filter {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 24px 0;

	> div {
		margin: 6px 0;
	}

	.dropdown-toggle {
		padding: 0;

		&:active,
		&:not(:focus),
		&:focus {
			background: none;
			outline: none;
			border: 0;
			box-shadow: none;
		}

		.caret {
			display: none;
		}
	}

	.dropdown-menu {
		margin-top: 16px;
		padding: 0;
		border: 0;
		background: #fff;
		box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
	}

	.divider {
		width: 12px;
	}
}
</style>
