<template>
	<div class="sj-faqs row">
		<div class="sj-faqs__content col-sm-12 col-md-6 col-md-offset-3">
			<div class="title text-center">
				<h2 class="text">Tanya Jawab</h2>
				<h4 class="sub-title">Pertanyaan yang sering ditanyakan</h4>
			</div>
			<div class="accordions">
				<accordion :one-at-atime="true">
					<panel v-for="(question, index) in faq_question" :key="index">
						<div
							slot="header"
							class="accordion-header"
							@click="faqClicked(index)"
						>
							<h3 class="title">
								{{ question }}
							</h3>
							<img
								v-lazy="`/general/img/icons/ic_chevron_down.svg`"
								alt="ic_chevron_down"
								:class="isActive(index)"
								class="arrow"
							/>
						</div>
						<h4 class="accordion-description">
							{{ faq_answer[index] }}
						</h4>
					</panel>
				</accordion>
			</div>
			<div class="help text-center">
				<span class="title">Ingin mengetahui lebih lanjut?</span>
				<a href="https://help.mamikos.com/" target="_blank" rel="noopener">
					<button class="btn btn-mamigreen-inverse help-btn">
						Pusat Bantuan
					</button>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel
	},
	data() {
		return {
			faq_question: window.parent.faq_question,
			faq_answer: window.parent.faq_answer,
			activeAccordion: ''
		};
	},
	methods: {
		isActive(val) {
			return this.activeAccordion === val ? '--active' : '--closed';
		},
		faqClicked(val) {
			return val !== this.activeAccordion
				? (this.activeAccordion = val)
				: (this.activeAccordion = 'closed');
		}
	}
};
</script>

<style lang="scss" scoped>
.sj-faqs {
	margin: 48px 0;

	>>> .panel-default {
		padding: 0;
		border-color: transparent;

		> .panel-heading {
			padding: 0;
			background-color: #fff;
		}

		.panel-body {
			padding: 15px 0;
		}
	}

	&__content {
		.title {
			.text {
				padding: 0;
				font-weight: 900;
				font-size: 48px;
				line-height: 60px;

				/* stylelint-disable  */
				@media (max-width: 576px) {
					font-size: 28px;
					line-height: 36px;
				}
			}

			.sub-title {
				font-size: 20px;
				line-height: 30px;
				color: #404040;

				@media (max-width: 769px) {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.accordions {
			.accordion-header {
				display: flex;
				justify-content: space-between;

				.title {
					font-size: 24px;
					font-weight: bold;
					line-height: 32px;

					@media (max-width: 576px) {
						font-size: 20px;
						line-height: 28px;
					}
				}

				.arrow {
					&.--active {
						transition: 0.5s ease-in-out;
						transform: rotate(180deg);
					}
					&.--closed {
						transition: 0.5s ease-in-out;
						transform: rotate(0deg);
					}
				}
			}

			.accordion-description {
				font-size: 20px;
				line-height: 30px;

				@media (max-width: 576px) {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.help {
			display: flex;
			flex-direction: column;

			.title {
				margin-bottom: 12px;
				font-size: 20px;
				font-weight: bold;
				line-height: 28px;
			}

			.help-btn {
				padding: 8px 24px;
				font-size: 16px;
				font-weight: bold;
				color: #000;
				background-color: #fff;
				border-color: #e8e8e8;
			}
		}
	}
}
</style>
