<template>
	<container-landing-house></container-landing-house>
</template>

<script>
import ContainerLandingHouse from './ContainerLandingHouse.vue';

export default {
	components: {
		ContainerLandingHouse
	}
};
</script>

<style lang="scss">
.btn-mamigreen {
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;

	&:active,
	&:hover,
	&:focus {
		color: #fff;
		background-color: #109e4b;
		border-color: #109e4b;
		text-decoration: none;
	}
}

.btn-mamiorange {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;

	&:active,
	&:hover,
	&:focus {
		color: #fff;
		background-color: #e04205;
		border-color: #e04205;
		text-decoration: none;
	}
}
</style>
