<template>
	<div id="landingHouseContainer">
		<div v-if="!showFilterMobile">
			<navbar-custom
				:show-promotion="true"
				:show-input-search="true"
				:navigations="navigations"
			></navbar-custom>

			<div class="breadcrumb">
				<breadcrumb-trails
					:contents="landingBreadcrumb"
					:fixed="true"
				></breadcrumb-trails>
			</div>

			<div class="landing-container">
				<landing-house-filter></landing-house-filter>
			</div>

			<div class="hidden-sm hidden-md hidden-lg">
				<filter-mobile-button
					v-if="showButtonFilterMobile"
					@open="toggleFilterMobile(true)"
				></filter-mobile-button>
			</div>
		</div>

		<div v-show="!showFilterMobile" class="col-md-12 main-content">
			<landing-house-list
				class="col-xs-12 col-md-7 stretch list-component"
				@set-list-loading="setListLoading"
			></landing-house-list>

			<leaflet-map
				ref="landingMap"
				:prop-id="'landingMap'"
				:prop-class="'col-md-5 stretch map-container'"
				:type="'house'"
				:is-map-loading="isListLoading"
				:center="center"
				:corner="corner"
				:min-zoom="14"
				:max-zoom="16"
				@bounds-changed="changeBounds"
				@select-cluster="openCluster"
			></leaflet-map>
		</div>

		<transition name="fade">
			<keep-alive>
				<landing-house-filter-mobile
					v-if="showFilterMobile"
					class="hidden-sm hidden-md hidden-lg"
					@close="toggleFilterMobile(false)"
				></landing-house-filter-mobile>
			</keep-alive>
		</transition>
	</div>
</template>

<script>
import 'vue-strap/dist/isMobileBrowser';
import EventBus from '../../../@global/event-bus';

import BreadcrumbTrails from '../../../@components/BreadcrumbTrails.vue';
import FilterMobileButton from '../../../@components/FilterMobileButton';
import LeafletMap from '../../../@components/LeafletMap';
import NavbarCustom from '../../../@components/NavbarCustom';

import LandingHouseFilter from './LandingHouseFilter';
import LandingHouseFilterMobile from './LandingHouseFilterMobile';
import LandingHouseList from './LandingHouseList';

import mixinResizeObserver from '../../../@mixins/MixinResizeObserver';

export default {
	components: {
		BreadcrumbTrails,
		FilterMobileButton,
		LandingHouseFilter,
		LandingHouseFilterMobile,
		LandingHouseList,
		LeafletMap,
		NavbarCustom
	},

	mixins: [mixinResizeObserver],

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			isListLoading: true,
			showFilterMobile: false,
			params: {},
			showButtonFilterMobile: true
		};
	},

	computed: {
		landingBreadcrumb() {
			return this.$store.state.extras.breadcrumb;
		},
		corner() {
			return this.$store.state.extras.cornerMap;
		},
		center() {
			return {
				lat: parseFloat(this.$store.state.extras.centerLatitude),
				lng: parseFloat(this.$store.state.extras.centerLongitude)
			};
		},
		landingParams() {
			return this.$store.state.landing;
		},
		cluster() {
			return this.$store.state.extras.cluster;
		}
	},

	created() {
		EventBus.$emit('toTop');
	},

	mounted() {
		this.getFilteredCluster();
		this.goTop();
		this.hideFilterButton();
	},

	methods: {
		setListLoading(payload) {
			this.isListLoading = payload;
		},
		getCluster(params) {
			if (window.innerWidth > 991) {
				axios
					.post('/stories/house_property/cluster', this.landingParams)
					.then(response => {
						this.$store.commit('setHouseCluster', response.data);

						this.$refs.landingMap.showClusters(this.cluster.data);

						EventBus.$emit('toTop');
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		},
		getFilteredCluster() {
			EventBus.$on('getCluster', payload => {
				this.$store.commit('setHouseLandingSource', '');

				EventBus.$emit('toTop');

				this.getCluster();
			});
		},
		toggleFilterMobile(state) {
			this.showFilterMobile = state;
		},
		goTop() {
			EventBus.$on('toTop', payload => {
				window.scroll({
					top: 0,
					left: 0,
					behavior: 'smooth'
				});
			});
		},
		handleResize() {
			if (window.innerWidth > 767) {
				this.showFilterMobile = false;
			}
		},
		changeBounds(location) {
			this.$store.commit('setHouseLocation', location);
			this.$store.commit('setHousePageList', 1);
			this.$store.commit('setHouseOffset', 0);

			EventBus.$emit('getList');

			this.getCluster();
		},
		openCluster(marker) {
			EventBus.$emit('toTop');

			this.$store.commit('setHousePageList', 1);
			this.$store.commit('setHouseOffset', 0);

			const params = this.landingParams;
			params.landing_source = '';
			params.point = {
				latitude: marker.latitude,
				longitude: marker.longitude
			};

			EventBus.$emit('setLoading', true);
			axios
				.post('/stories/house_property/cluster/list', params)
				.then(response => {
					this.$store.commit('setHouseList', response.data);

					EventBus.$emit('setLoading', false);
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		hideFilterButton() {
			EventBus.$on('searchBox', payload => {
				if (payload === true) {
					this.showButtonFilterMobile = false;
				} else {
					this.showButtonFilterMobile = true;
				}
			});
		}
	}
};
</script>

<style>
.desktop-label {
	margin-top: 70px !important;
}
.breadcrumb {
	border-radius: 0;
}

.breadcrumb-trails {
	padding: 6px 15px;
}
@media (min-width: 992px) {
	.breadcrumb-trails {
		position: fixed !important;
		z-index: 2;
	}
}
</style>

<style scoped>
.breadcrumb {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.map-container {
	padding: 0;
	background-color: #eee;
	position: fixed;
}

@media (max-width: 991px) {
	.map-container {
		visibility: hidden;
		height: 550px;
		width: 650px;
	}
}

@media (min-width: 992px) {
	.map-container {
		top: 205px;
		bottom: 0;
		right: 0;
	}
}

.list-component {
	bottom: 0;
	height: 100%;
}

.main-content {
	padding: 0;
}

.landing-container {
	margin-top: 83px;
}

.navbar-fixed-bottom {
	height: 54px;
}
</style>
