<template>
	<div class="filter-price-container">
		<filter-price
			class="hidden-xs"
			:property-type="'house'"
			:rent-type="rentType"
			:is-landing-kost="true"
			@filterPrice="filterPriceChanged"
		></filter-price>
		<filter-price
			class="visible-xs"
			:property-type="'house'"
			:rent-type="rentType"
			:display-button="false"
			:is-landing-kost="true"
			@filterPriceMin="changePriceMin"
			@filterPriceMax="changePriceMax"
		></filter-price>
	</div>
</template>

<script>
import EventBus from '../../../@global/event-bus';

import FilterPrice from '../../../@components/FilterPrice';

export default {
	components: {
		FilterPrice
	},

	data() {
		return {
			filterPriceRange: [0, 100000000]
		};
	},

	computed: {
		priceRange() {
			return this.$store.state.landing.filters.price_range;
		},
		rentType() {
			return this.$store.state.landing.filters.rent_type;
		}
	},

	watch: {
		rentType(val) {
			this.setInitialPrice(val);
		}
	},

	created() {
		this.assignPriceRange();
	},

	methods: {
		assignPriceRange() {
			this.filterPriceRange = this.priceRange;
		},
		filterPriceChanged(payload) {
			this.filterPriceRange[0] = payload.min;
			this.filterPriceRange[1] = payload.max;

			this.$store.commit('setHouseFilterPriceRange', this.filterPriceRange);

			EventBus.$emit('getList');
		},
		changePriceMin(payload) {
			this.filterPriceRange[0] = parseInt(payload);

			this.$store.commit('setHouseFilterPriceRange', this.filterPriceRange);
		},
		changePriceMax(payload) {
			this.filterPriceRange[1] = parseInt(payload);

			this.$store.commit('setHouseFilterPriceRange', this.filterPriceRange);
		},
		setInitialPrice(item) {
			if (item == 3) {
				this.filterPriceRange = [0, 50000000];
			} else if (item == 2) {
				this.filterPriceRange = [0, 15000000];
			} else if (item == 1) {
				this.filterPriceRange = [0, 10000000];
			} else if (item == 0) {
				this.filterPriceRange = [0, 5000000];
			}
		}
	}
};
</script>
