<template>
	<div id="landingHouseFilter" class="filter-container">
		<div class="filter-title filter-section --border-right col-md-2 col-sm-12">
			<h1 class="filter-title__heading">
				{{ landingBreadcrumb[landingBreadcrumb.length - 1].name }}
			</h1>
		</div>

		<div
			class="filter-list col-sm-12"
			:class="{
				'col-md-6': landingConnector.length === 0,
				'col-md-7': landingConnector.length !== 0
			}"
		>
			<div
				v-if="landingConnector.length !== 0"
				class="filter-section --border-right col-sm-4 col-xs-12"
			>
				<filter-landing-connector
					:landingBreadcrumb="landingBreadcrumb"
					:landingConnector="landingConnector"
				></filter-landing-connector>
			</div>

			<div
				class="filter-section hidden-xs"
				:class="{
					'col-sm-3': landingConnector.length === 0,
					'col-sm-2': landingConnector.length !== 0
				}"
			>
				<filter-tenant-capacity
					:tenantCapacity="capacity"
					@setFilter="setTenantCapacity"
				></filter-tenant-capacity>
			</div>

			<div
				class="filter-section hidden-xs"
				:class="{
					'col-sm-3': landingConnector.length === 0,
					'col-sm-2': landingConnector.length !== 0
				}"
			>
				<filter-room-total
					:roomTotal="roomTotal"
					@setFilter="setRoomTotal"
				></filter-room-total>
			</div>

			<div
				class="filter-section col-xs-12 hidden-xs"
				:class="{
					'col-sm-3': landingConnector.length === 0,
					'col-sm-2': landingConnector.length !== 0
				}"
			>
				<filter-time
					:durationVal="rentType"
					@setFilter="setFilterTime"
				></filter-time>
			</div>

			<div
				class="filter-section col-xs-12 hidden-xs"
				:class="{
					'col-sm-3': landingConnector.length === 0,
					'col-sm-2': landingConnector.length !== 0
				}"
			>
				<filter-kost-sort
					:sortVal="filterSort"
					@setFilter="setFilterSort"
				></filter-kost-sort>
			</div>
		</div>

		<div
			class="filter-section filter-price col-sm-12 hidden-xs"
			:class="{
				'col-md-4': landingConnector.length === 0,
				'col-md-3': landingConnector.length !== 0
			}"
		>
			<landing-house-filter-price></landing-house-filter-price>
		</div>
	</div>
</template>

<script>
import EventBus from '../../../@global/event-bus';

import FilterKostSort from '../../../@components/FilterKostSort';
import FilterTenantCapacity from '../../../@components/FilterTenantCapacity';
import FilterRoomTotal from '../../../@components/FilterRoomTotal';
import FilterLandingConnector from '../../../@components/FilterLandingConnector';
import FilterTime from '../../../@components/FilterTime';

import LandingHouseFilterPrice from './LandingHouseFilterPrice';

export default {
	components: {
		FilterKostSort,
		FilterTenantCapacity,
		FilterRoomTotal,
		FilterLandingConnector,
		FilterTime,
		LandingHouseFilterPrice
	},

	data() {
		return {
			filterSort: []
		};
	},

	computed: {
		landingBreadcrumb() {
			return this.$store.state.extras.breadcrumb;
		},
		landingConnector() {
			return this.$store.state.extras.landing_connector;
		},
		rentType() {
			return this.$store.state.landing.filters.rent_type;
		},
		sorting() {
			return this.$store.state.landing.sorting;
		},
		capacity() {
			return this.$store.state.landing.filters.capacity;
		},
		roomTotal() {
			return this.$store.state.landing.filters.bedroom;
		}
	},

	created() {
		this.assignSortValue();
	},

	methods: {
		assignSortValue() {
			this.filterSort[0] = this.sorting.fields;
			this.filterSort[1] = this.sorting.direction;
		},
		setFilterTime(val) {
			this.$store.commit('setHouseFilterRentType', val);

			EventBus.$emit('getList');
		},
		setFilterSort(val) {
			this.$store.commit('setHouseSorting', val);

			EventBus.$emit('getList');
		},
		setTenantCapacity(val) {
			this.$store.commit('setHouserFilterCapacity', val);

			EventBus.$emit('getList');
		},
		setRoomTotal(val) {
			this.$store.commit('setHouseFilterRoomTotal', val);

			EventBus.$emit('getList');
		}
	}
};
</script>

<style>
.filter-price label h3 {
	font-size: 14px;
	font-weight: bold;
}

#landingHouseFilter .filter-sort__title,
#landingHouseFilter .filter-time__title,
#landingHouseFilter .filter-room-total__title,
#landingHouseFilter .filter-tenant__title {
	margin-bottom: 5px;
}
</style>

<style scoped>
.filter-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	border-bottom: 1px solid #eee;
	background-color: #fff;
	width: 100%;
}
@media (max-width: 991px) {
	.filter-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
@media (min-width: 992px) {
	.filter-container {
		position: fixed;
		z-index: 1000;
	}
}

.filter-list {
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 767px) {
	.filter-list {
		padding-bottom: 25px;
	}
}

.filter-section {
	padding: 10px 15px 25px 15px;
}
@media (max-width: 991px) {
	.filter-section {
		padding-top: 15px;
		padding-bottom: 0;
	}
	.filter-section.filter-price {
		padding-bottom: 25px;
	}
}
@media (min-width: 992px) {
	.filter-section.--border-right {
		border-right: 1px solid #eee;
	}
}

.filter-title__heading {
	font-size: 16px;
	font-weight: 700;
	color: #1baa56;
	text-transform: uppercase;
	margin-top: 0;
}

.filter-price {
	padding-top: 0;
	margin-top: -10px;
}
</style>
