<template>
	<div class="container-fluid filter-mobile">
		<filter-close-button
			class="button-close"
			@press="hideFilterOverlay('exit')"
		></filter-close-button>

		<div class="container filter-options">
			<label class="filter-options__header">Filter Pencarian</label>
		</div>

		<div class="col-xs-12 filter-component">
			<filter-tenant-capacity
				:tenantCapacity="capacity"
				@setFilter="setTenantCapacity"
			></filter-tenant-capacity>
		</div>

		<div class="col-xs-12 filter-component">
			<filter-room-total
				:roomTotal="roomTotal"
				@setFilter="setRoomTotal"
			></filter-room-total>
		</div>

		<div class="col-xs-12 filter-component">
			<filter-time
				:durationVal="rentType"
				@setFilter="setFilterTime"
			></filter-time>
		</div>

		<div class="col-xs-12 filter-component">
			<filter-kost-sort
				:sortVal="filterSort"
				@setFilter="setFilterSort"
			></filter-kost-sort>
		</div>

		<div class="col-xs-12 filter-price">
			<landing-house-filter-price></landing-house-filter-price>
		</div>

		<nav class="navbar navbar-fixed-bottom">
			<button class="btn btn-mamiorange btn-set-filter" @click="setFilter">
				SET FILTER
			</button>
		</nav>
	</div>
</template>

<script>
import EventBus from '../../../@global/event-bus';

import FilterCloseButton from '../../../@components/FilterCloseButton';
import FilterKostSort from '../../../@components/FilterKostSort';
import FilterTenantCapacity from '../../../@components/FilterTenantCapacity';
import FilterRoomTotal from '../../../@components/FilterRoomTotal';
import FilterPrice from '../../../@components/FilterPrice';
import FilterTime from '../../../@components/FilterTime';

import LandingHouseFilterFac from './LandingHouseFilterFac';
import LandingHouseFilterPrice from './LandingHouseFilterPrice';

export default {
	components: {
		FilterCloseButton,
		FilterKostSort,
		FilterTenantCapacity,
		FilterRoomTotal,
		FilterPrice,
		FilterTime,
		LandingHouseFilterFac,
		LandingHouseFilterPrice
	},

	data() {
		return {
			filterSort: []
		};
	},

	computed: {
		rentType() {
			return this.$store.state.landing.filters.rent_type;
		},
		sorting() {
			return this.$store.state.landing.sorting;
		},
		tagIds() {
			return this.$store.state.landing.filters.tag_ids;
		},
		capacity() {
			return this.$store.state.landing.filters.capacity;
		},
		roomTotal() {
			return this.$store.state.landing.filters.bedroom;
		}
	},

	created() {
		this.assignSortValue();
	},

	methods: {
		assignSortValue() {
			this.filterSort[0] = this.sorting.fields;
			this.filterSort[1] = this.sorting.direction;
		},
		hideFilterOverlay(intent) {
			this.$emit('close');
		},
		setFilterTime(val) {
			this.$store.commit('setHouseFilterRentType', val);
		},
		setFilterSort(val) {
			this.$store.commit('setHouseSorting', val);
		},
		setTenantCapacity(val) {
			this.$store.commit('setHouserFilterCapacity', val);
		},
		setRoomTotal(val) {
			this.$store.commit('setHouseFilterRoomTotal', val);
		},
		setFilter() {
			this.$emit('close');

			EventBus.$emit('getList');
		}
	}
};
</script>

<style>
.filter-price label h3 {
	font-size: 14px;
	font-weight: bold;
}
</style>

<style scoped>
.filter-mobile {
	padding-bottom: 80px;
}

.filter-options {
	margin-top: 45px;
}
.filter-options__header {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}
.filter-options__header:after {
	content: '';
	display: block;
	width: 120px;
	height: 50%;
	border-bottom: 2px solid #1baa56;
	margin-top: 10px;
}

.filter-component {
	margin-top: 15px;
}

.button-close {
	padding-top: 10px;
}

.btn-set-filter {
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0;
}

.navbar-fixed-bottom {
	height: 54px;
}
</style>
