<template>
	<div class="list-container" data-sticky-container>
		<div
			v-if="filter.radius === 1"
			id="filterRadius"
			class="hidden-md hidden-lg"
		>
			<div
				class="sticky-radius"
				data-margin-top="54"
				data-sticky-class="is-sticked"
			>
				<filter-radius
					:radius-val="radius"
					@changeRadius="radiusChanged"
				></filter-radius>
			</div>
		</div>

		<div class="room-list-container">
			<div v-if="isLoading" class="loading-section">
				<mami-loading-list
					:inline="true"
					:text="'Sedang mencari...'"
				></mami-loading-list>
				<list-placeholder :mode="2"></list-placeholder>
			</div>

			<div v-if="!isLoading && list.data.length !== 0" class="list-section">
				<h2 v-if="page === 1" class="room-list-count label-normalize">
					1 - {{ list.data.length }} {{ propertyType }} dari {{ list.total }}
					{{ propertyType }} di sekitar {{ landingTitle }}
				</h2>
				<h2 v-else class="room-list-count label-normalize">
					{{ roomsCount }} - {{ roomsLoaded }} {{ propertyType }} dari
					{{ list.total }} {{ propertyType }} di sekitar {{ landingTitle }}
				</h2>

				<house-list
					:houses="list.data"
					:filter-time="filter.filters.rent_type"
					:grids="'col-xs-12 col-sm-6'"
				>
				</house-list>
			</div>

			<div v-if="!isLoading && list.data.length === 0" class="empty-section">
				<span
					>Tidak ditemukan
					<span class="--property-type">{{ propertyType }}...</span></span
				>
			</div>

			<div class="pagination-section">
				<paginate
					v-if="!(page == 1 && !list['has-more'])"
					ref="pagination"
					:page-count="page < 10 ? totalPage : totalPageAll"
					:click-handler="pageChanged"
					:prev-text="'<'"
					:next-text="'>'"
					:container-class="'pagination'"
					:break-view-link-class="'break-pagination'"
					:page-class="'page-item'"
				></paginate>
			</div>

			<div class="recommendation-section">
				<landing-house-list-tags></landing-house-list-tags>
			</div>

			<div class="clearfix"></div>

			<div class="promo-section">
				<landing-house-article-promo></landing-house-article-promo>
			</div>

			<div class="footer-section">
				<mami-footer></mami-footer>
			</div>
		</div>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';
import Sticky from 'sticky-js';

import EventBus from '../../../@global/event-bus';

import MamiFooter from '../../../@components/MamiFooter';
import MamiLoadingList from '../../../@components/MamiLoadingList';
import ListPlaceholder from '../../../@components/ListPlaceholder';
import HouseList from '../../../@components/HouseList';
import FilterRadius from '../../../@components/FilterRadius';

import LandingHouseArticlePromo from './LandingHouseArticlePromo';
import LandingHouseListTags from './LandingHouseListTags';

export default {
	components: {
		FilterRadius,
		LandingHouseArticlePromo,
		LandingHouseListTags,
		ListPlaceholder,
		MamiFooter,
		MamiLoadingList,
		paginate,
		HouseList
	},

	data() {
		return {
			isLoading: true,
			paramPageRelated: {
				filters: {},
				landing_source: '',
				location: []
			},
			stickyRadius: null,
			radius: 0
		};
	},

	computed: {
		centerLatitude() {
			return this.$store.state.extras.centerLatitude;
		},
		centerLongitude() {
			return this.$store.state.extras.centerLongitude;
		},
		filter() {
			return this.$store.state.landing;
		},
		list() {
			return this.$store.state.extras.list;
		},
		breadcrumb() {
			return this.$store.state.extras.breadcrumb;
		},
		landingTitle() {
			return this.breadcrumb[this.breadcrumb.length - 1].name;
		},
		page() {
			return this.$store.state.landing.page;
		},
		roomsCount() {
			return this.list.limit * (this.page - 1) + 1;
		},
		roomsLoaded() {
			return this.list.limit * (this.page - 1) + this.list.data.length;
		},
		place() {
			return this.$store.state.extras.place;
		},
		tagIds() {
			return this.$store.state.landing.filters.tag_ids;
		},
		propertyType() {
			return this.$store.state.landing.filters.property_type;
		},
		totalPage() {
			let total = Math.ceil(
				this.$store.state.extras.list.total /
					this.$store.state.extras.list.limit
			);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			const total = Math.ceil(
				this.$store.state.extras.list.total /
					this.$store.state.extras.list.limit
			);

			return Number(total);
		}
	},

	created() {
		this.assignParamPageRelated();
	},

	mounted() {
		this.getFilteredList();
		this.setLoadingState();
	},

	methods: {
		setFilterFac(val) {
			this.$store.commit('setHouseFilterTagIds', val);
			EventBus.$emit('getList');
		},
		getRoomList() {
			this.isLoading = true;
			axios
				.post('/stories/house_property/list', this.filter)
				.then(response => {
					this.$store.commit('setHouseList', response.data);

					this.isLoading = false;

					this.stickyRadius = new Sticky('.sticky-radius');
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getFilteredList() {
			EventBus.$on('getList', payload => {
				this.$store.commit('setHouseLandingSource', '');
				this.$store.commit('setHousePageList', 1);
				this.$store.commit('setHouseOffset', 0);

				if (!(this.page == 1 && !this.list['has-more'])) {
					this.$refs.pagination.currentPage = 1;
				}

				this.goTop();
				this.getRoomList();
			});
		},
		pageChanged(page) {
			const offset = this.list.limit * page - this.list.limit;

			this.$store.commit('setHouseOffset', offset);
			this.$store.commit('setHousePageList', page);
			this.$store.commit('setHouseLandingSource', '');

			this.goTop();
			this.getRoomList();
		},
		assignParamPageRelated() {
			this.paramPageRelated.landing_source = this.filter.landing_source;
			this.paramPageRelated.location = this.filter.location;
			this.paramPageRelated.filters = {
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0,
				price_range: this.filter.filters.price_range,
				tag_ids: this.filter.filters.tag_ids,
				rent_type: this.filter.filters.rent_type
			};

			if (this.place !== null) {
				this.paramPageRelated.filters.place = this.place;
			}
		},
		setLoadingState() {
			EventBus.$on('setLoading', payload => {
				this.isLoading = payload;
				this.$emit('set-list-loading', payload);
			});
		},
		goTop() {
			EventBus.$emit('toTop');
		},
		radiusChanged(val) {
			const quadrantA = 225;
			const quadrantB = 45;
			const distance = val * 1000;

			function toRad(n) {
				return (n * Math.PI) / 180;
			}

			function toDeg(n) {
				return (n * 180) / Math.PI;
			}

			function expandCorner(lat1, lon1, brng, dist) {
				var a = 6378137;
				var b = 6356752.3142;
				var f = 1 / 298.257223563; // WGS-84 ellipsiod
				var s = dist;
				var alpha1 = toRad(brng);
				var sinAlpha1 = Math.sin(alpha1);
				var cosAlpha1 = Math.cos(alpha1);
				var tanU1 = (1 - f) * Math.tan(toRad(lat1));
				var cosU1 = 1 / Math.sqrt(1 + tanU1 * tanU1);
				var sinU1 = tanU1 * cosU1;
				var sigma1 = Math.atan2(tanU1, cosAlpha1);
				var sinAlpha = cosU1 * sinAlpha1;
				var cosSqAlpha = 1 - sinAlpha * sinAlpha;
				var uSq = (cosSqAlpha * (a * a - b * b)) / (b * b);
				var A =
					1 + (uSq / 16384) * (4096 + uSq * (-768 + uSq * (320 - 175 * uSq)));
				var B = (uSq / 1024) * (256 + uSq * (-128 + uSq * (74 - 47 * uSq)));
				var sigma = s / (b * A);
				var sigmaP = 2 * Math.PI;
				while (Math.abs(sigma - sigmaP) > 1e-12) {
					var cos2SigmaM = Math.cos(2 * sigma1 + sigma);
					var sinSigma = Math.sin(sigma);
					var cosSigma = Math.cos(sigma);
					var deltaSigma =
						B *
						sinSigma *
						(cos2SigmaM +
							(B / 4) *
								(cosSigma * (-1 + 2 * cos2SigmaM * cos2SigmaM) -
									(B / 6) *
										cos2SigmaM *
										(-3 + 4 * sinSigma * sinSigma) *
										(-3 + 4 * cos2SigmaM * cos2SigmaM)));
					sigmaP = sigma;
					sigma = s / (b * A) + deltaSigma;
				}
				var tmp = sinU1 * sinSigma - cosU1 * cosSigma * cosAlpha1;
				var lat2 = Math.atan2(
					sinU1 * cosSigma + cosU1 * sinSigma * cosAlpha1,
					(1 - f) * Math.sqrt(sinAlpha * sinAlpha + tmp * tmp)
				);
				var lambda = Math.atan2(
					sinSigma * sinAlpha1,
					cosU1 * cosSigma - sinU1 * sinSigma * cosAlpha1
				);
				var C = (f / 16) * cosSqAlpha * (4 + f * (4 - 3 * cosSqAlpha));
				var L =
					lambda -
					(1 - C) *
						f *
						sinAlpha *
						(sigma +
							C *
								sinSigma *
								(cos2SigmaM +
									C * cosSigma * (-1 + 2 * cos2SigmaM * cos2SigmaM)));
				var revAz = Math.atan2(sinAlpha, -tmp); // final bearing
				return [lon1 + toDeg(L), toDeg(lat2)];
			}

			const cornerA = expandCorner(
				this.centerLatitude,
				this.centerLongitude,
				quadrantA,
				distance
			);

			const cornerB = expandCorner(
				this.centerLatitude,
				this.centerLongitude,
				quadrantB,
				distance
			);

			this.$store.commit('setHouseLocation', [cornerA, cornerB]);

			EventBus.$emit('getList');
		}
	}
};
</script>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}

.scroll-desktop {
	bottom: 70px !important;
	padding: 11px !important;
}
</style>

<style scoped>
.list-container {
	display: inline-block;
}
@media (min-width: 992px) {
	.list-container {
		margin-top: 115px;
	}
}

.room-list-container {
	padding: 15px;
}

.loading-section {
	min-height: 70vh;
}

.room-list-count {
	font-weight: bold;
	font-size: 14px;
	color: #006634;
}

.mami-text {
	color: #1baa56;
}

.info-section {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer-section {
	margin-top: 50px;
}

.empty-section {
	text-align: center;
	color: #006634;
	font-size: 24px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 50px;
}

.empty-section .--property-type {
	text-transform: capitalize;
}

.sticky-radius {
	z-index: 4;
	background-color: rgb(255, 255, 255);
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>
