<template>
	<div class="filter-advanced">
		<accordion type="info">
			<panel>
				<button
					slot="header"
					type="button"
					class="btn btn-default btn-advanced-filter hidden-xs"
					@click="toggleFilter"
				>
					<img
						src="/assets/icons/svg/ic_sliders.svg"
						alt="ic_sliders"
						title="Filter Lanjutan"
						class="ic-advanced-filter"
					/>
					<span>&nbsp; Filter Lanjutannnn&nbsp;&nbsp;</span>
					<span
						v-if="filterAdvanced"
						class="glyphicon glyphicon-chevron-up"
					></span>
					<span v-else class="glyphicon glyphicon-chevron-down"></span>
				</button>

				<div class="filter-advanced__tags">
					<div class="tag-list">
						<label>Fasilitas</label>

						<div class="tag-list__check col-md-12">
							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facAC"
										:value="13"
										v-model="tagIds"
									/>
									<label for="facAC">AC</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facCupboard"
										:value="11"
										v-model="tagIds"
									/>
									<label for="facCupboard">Lemari</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facPet"
										:value="78"
										v-model="tagIds"
									/>
									<label for="facPet">Hewan Peliharaan</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facBathroom"
										:value="1"
										v-model="tagIds"
									/>
									<label for="facBathroom">Kamar Mandi Dalam</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facCar"
										:value="22"
										v-model="tagIds"
									/>
									<label for="facCar">Parkir Mobil</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facEmptyRoom"
										:value="62"
										v-model="tagIds"
									/>
									<label for="facEmptyRoom">Kamar Kosongan</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facTV"
										:value="12"
										v-model="tagIds"
									/>
									<label for="facTV">TV</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facInternet"
										:value="15"
										v-model="tagIds"
									/>
									<label for="facInternet">Internet</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facDouble"
										:value="76"
										v-model="tagIds"
									/>
									<label for="facDouble">Sekamar Berdua</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facMattress"
										:value="10"
										v-model="tagIds"
									/>
									<label for="facMattress">Tempat Tidur</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facFurniture"
										:value="14"
										v-model="tagIds"
									/>
									<label for="facFurniture">Meja dan Kursi</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facSecurity"
										:value="32"
										v-model="tagIds"
									/>
									<label for="facSecurity">Security</label>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="tag-list --others">
						<label>Lainnya</label>

						<div class="tag-list__check col-md-12">
							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facCouple"
										:value="60"
										v-model="tagIds"
									/>
									<label for="facCouple">Pasutri</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facTimeFree"
										:value="59"
										v-model="tagIds"
									/>
									<label for="facTimeFree">Akses 24 Jam</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-3">
								<div class="checkbox checkbox-success tag-list__item">
									<input
										type="checkbox"
										id="facEmployee"
										:value="82"
										v-model="tagIds"
									/>
									<label for="facEmployee">Karyawan</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</panel>
		</accordion>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';
import EventBus from '../../../@global/event-bus';

export default {
	components: {
		accordion,
		panel
	},

	props: {
		deviceType: {
			type: String
		}
	},

	data() {
		return {
			filterAdvanced: false
		};
	},

	computed: {
		tagIds: {
			get() {
				return this.$store.state.landing.filters.tag_ids;
			},
			set(newVal) {
				this.$store.commit('setHouseFilterTagIds', newVal);
				if (!navigator.isMobile) {
					EventBus.$emit('getList');
				}
			}
		}
	},

	mounted() {
		if (this.deviceType === 'mobile') {
			this.filterAdvanced = true;
		}
	},

	methods: {
		toggleFilter() {
			this.filterAdvanced = !this.filterAdvanced;
		}
	}
};
</script>

<style scoped>
.filter-advanced {
	margin-top: -10px;
	margin-left: 15px;
}
.filter-advanced__tags {
	margin-top: 15px;
}
@media (max-width: 767px) {
	.filter-advanced__tags {
		margin-left: -15px;
	}
}
@media (min-width: 768px) {
	.filter-advanced__tags {
		margin-left: 15px;
	}
}

.btn-advanced-filter {
	font-size: 14px;
	margin-top: 20px;
	border-color: #fff;
	color: #1baa56;
	box-shadow: none;
	padding-left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.btn-advanced-filter:focus,
.btn-advanced-filter:hover,
.btn-advanced-filter:active:focus {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #1baa56;
}

.ic-advanced-filter {
	height: 14px;
}

.always-shown {
	display: block !important;
}

.tag-list.--others {
	margin-top: 15px;
}
.tag-list.--others .tag-list__check {
	margin-bottom: 25px;
}
@media (max-width: 767px) {
	.tag-list__check {
		margin-left: -15px;
	}
}
@media (min-width: 768px) {
	.tag-list__item {
		margin-bottom: 0;
	}
}
</style>
