<template>
	<div class="landing-tags">
		<div v-if="landingRelatedArea.length > 0" class="landing-tags__area">
			<p>
				Cari <span class="--property-type">{{ propertyType }}</span> di
				<b>Area</b> lain yang kamu mau.
			</p>

			<div class="tag-list">
				<a
					v-for="(landingRelatedArea, index) in landingRelatedArea"
					v-if="index === 0"
					:key="index"
					class="tag-parent"
					:href="`/${propertyType}/${landingRelatedArea.slug}`"
				>
					{{ landingRelatedArea.keyword }}
				</a>

				<div
					v-for="(landingRelatedArea, index) in landingRelatedArea"
					v-if="index !== 0"
					:key="index"
					class="d-inline"
				>
					<a :href="`/${propertyType}/${landingRelatedArea.slug}`">{{
						landingRelatedArea.keyword
					}}</a>
				</div>
			</div>
		</div>

		<div class="landing-tags__campus" v-if="landingRelatedCampus.length > 0">
			<p>Temukan Kost di dekat <b>KAMPUS</b> idamanmu.</p>

			<div class="tag-list">
				<div
					v-for="(landingRelatedCampus, index) in landingRelatedCampus"
					:key="index"
					class="d-inline"
				>
					<a :href="`/${propertyType}/${landingRelatedArea.slug}`">{{
						landingRelatedCampus.keyword
					}}</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		landingRelatedArea() {
			return this.$store.state.extras.landing_related_area;
		},
		landingRelatedCampus() {
			return this.$store.state.extras.landing_related_campus;
		},
		propertyType() {
			return this.$store.state.landing.filters.property_type;
		}
	}
};
</script>

<style scoped>
.landing-tags__area .--property-type {
	text-transform: capitalize;
}
.tag-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3px;
	padding-bottom: 3px;
}
.tag-list .d-inline {
	background: #ebebeb;
	border-radius: 30px;
	padding: 6px 12px;
	margin: 15px 15px 0 0;
}
.tag-list .d-inline a {
	color: #333333;
}
.tag-list .d-inline:hover {
	background: #1baa56;
}
.tag-list .d-inline:hover a {
	color: #fff;
	text-decoration: none;
}
@media (max-width: 414px) {
	.tag-list .d-inline:nth-child(n + 6) {
		display: none;
	}
}

.d-inline {
	display: inline;
}

.tag-parent {
	background: #ebebeb;
	border-radius: 30px;
	font-weight: bold;
	padding: 6px 12px;
	margin: 15px 15px 0 0;
}
.tag-parent:focus,
.tag-parent:hover {
	background: #1baa56;
	color: #fff;
	text-decoration: none;
}

.landing-tags__campus {
	margin-top: 30px;
	margin-bottom: 50px;
}
</style>
