<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Data Apartemen'"
		></section-title>

		<p class="col-md-12 col-xs-12">
			Isikan data unit apartemen yang ingin Anda tambahkan
		</p>
		<br />

		<div class="col-md-12 col-xs-12">
			<field-name
				:label="'Nama project / apartemen'"
				:placeholder="'Tulis nama project'"
			></field-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-unit-name
				:label="'Nama unit'"
				:placeholder="'Tulis nama project'"
			></field-unit-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-unit-number
				:label="'Nomor unit'"
				:placeholder="'Tulis nama project'"
			></field-unit-number>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-type
				:label="'Tipe unit'"
				:placeholder="'Tuliskan tipe di sini'"
				:tags="facTags.unitType"
			></field-type>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-floor
				:label="'Lantai'"
				:placeholder="'Tulis angka'"
				:tags="facTags.unitType"
			></field-floor>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-size
				:label="'Luas unit'"
				:placeholder="'Tulis angka'"
				:tags="facTags.unitType"
			></field-size>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-price
				:label="'Harga sewa'"
				:placeholder="'Tulis angka'"
			></field-price>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-price-extra
				:placeholder="'Tulis angka'"
				:tags="facTags.minPayment"
			></field-price-extra>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-facility-unit
				:label="'Fasilitas unit'"
				:tags="facTags.unit"
			></field-facility-unit>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-facility-room
				:label="'Fasilitas kamar'"
				:tags="facTags.room"
			></field-facility-room>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-photos
				:label="'Foto-foto Apartemen'"
				:tags="facTags.photoExample"
			></field-photos>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.project_name == '' ||
					$store.state.params.unit_name == '' ||
					$store.state.params.unit_number == '' ||
					($store.state.params.unit_type == 'Lainnya' &&
						$store.state.params.unit_type_name == '') ||
					$store.state.params.floor == null ||
					$store.state.params.unit_size == null ||
					$store.state.params.price_monthly == '' ||
					$store.state.params.fac_unit.length == 0 ||
					($store.state.params.is_furnished &&
						$store.state.params.fac_room.length == 0)
			"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<a
				role="button"
				class="btn btn-kost  btn-mamiorange track-owner-cancel-form"
				href="/ownerpage/apartment"
				v-text="'Batal'"
			></a>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.project_name == '' ||
						$store.state.params.unit_name == '' ||
						$store.state.params.unit_number == '' ||
						($store.state.params.unit_type == 'Lainnya' &&
							$store.state.params.unit_type_name == '') ||
						$store.state.params.floor == null ||
						$store.state.params.unit_size == null ||
						$store.state.params.price_monthly == '' ||
						$store.state.params.fac_unit.length == 0 ||
						($store.state.params.is_furnished &&
							$store.state.params.fac_room.length == 0)
				"
				@click="submitInputData($store.state.params)"
				v-text="'Submit'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import mixinMoengageInputProperti from 'Js/@mixins/MixinMoengageInputProperti';

export default {
	mixins: [mixinScrollTop, mixinMoengageInputProperti],
	data() {
		return {
			facTags: {
				unitType: this.$store.state.extras.fac_tags.unit_type,
				minPayment: this.$store.state.extras.fac_tags.min_payment,
				unit: this.$store.state.extras.fac_tags.unit,
				room: this.$store.state.extras.fac_tags.room,
				photoExample: this.$store.state.extras.fac_tags.photo_example
			},
			facTagsLoading: false,
			postUrl: 'apartment',
			message: {
				success: '',
				failed: []
			}
		};
	},
	created() {
		this.facTagsLoading = true;
		axios
			.get('/stories/input/tags/apartment')
			.then(response => {
				this.facTagsLoading = false;
				this.facTags = {
					unitType: response.data.data.unit_type,
					minPayment: response.data.data.min_payment,
					unit: response.data.data.unit_facilities,
					room: response.data.data.room_facilities,
					photoExample: response.data.data.photo_example
				};

				this.$store.commit('setExtrasFacTags', this.facTags);
			})
			.catch(error => {
				alert('Terjadi galat. Silakan coba lagi.');
				bugsnagClient.notify(error);
			});
	},
	methods: {
		submitInputData(params) {
			$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });
			axios
				.post('/' + this.postUrl + '/input', params)
				.then(response => {
					$('#mamiLoading').modal('hide');
					if (response.data.status == true) {
						this.message.success = response.data.data.dialog_message;
						$('#modalInputSuccess').modal();
						$('#modalInputSuccess').on('hide.bs.modal', e => {
							window.open('/ownerpage', '_self');
						});

						this.moengageInputPropertiEvent('Apartment', 'edit data', params);

						// unuse this temporarily for experiment
						// showMoengageOptin(
						// 	'Terima notifikasi tepat setelah update data iklan Anda disetujui. Pilih OKE'
						// );
					} else {
						this.message.failed = response.data.messages;
						$('#modalInputFailed').modal();
					}
				})
				.catch(error => {
					$('#mamiLoading').modal('hide');
					alert('Terjadi galat. Silakan coba lagi.');
					this.$store.commit('changeSection', this.$store.state.section - 1);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
</style>
