<template>
	<div>
		<div class="list-with-button">
			<img
				class="list-image social-image"
				v-lazy="'/general/img/icons/ic_google.svg'"
			/>
			<div class="detail-text">
				<h1>Login dengan Google</h1>
				<p>Your Google account has been connected</p>
			</div>
			<button class="btn btn-success btn-list-with-button">
				Disconnect
			</button>
		</div>
	</div>
</template>
