<template>
	<div class="wrapper-email-success">
		<img v-lazy="'/general/img/icons/ic_email-verified_s.svg'" />
		<p>Selamat, Email Kamu sudah terverifikasi</p>
		<router-link v-if="url" to="/" class="btn btn-primary"
			>Ke halaman profil</router-link
		>
		<a v-else href="/" class="btn btn-primary">Ke halaman profil</a>
	</div>
</template>

<script>
export default {
	data() {
		return {
			url: false
		};
	},
	mounted() {
		if (!this.$store.state.authData.all.id) {
			this.url = false;
		} else {
			this.url = true;
		}
		this.$store.commit('setBreadcrumb', 'user');
		this.$store.commit('setMenu', 'no-menu');
	}
};
</script>

<style lang="scss" scoped>
.wrapper-email-success {
	max-width: 298px;
	margin: 0 auto;
	margin-top: 27px;
	text-align: center;
	p {
		margin-top: 19px;
		margin-bottom: 40px;
		color: #686868;
		font-size: 1.2em;
	}
	a {
		margin-bottom: 44px;
	}
}
</style>
