<template>
	<div>
		<div class="list-with-button" v-if="phoneVerification.stepOne">
			<div class="icon-list">
				<img class="list-image" v-lazy="'/general/img/icons/ic_phone_o.svg'" />
			</div>

			<div class="detail-text">
				<h1>Nomor Handphone</h1>
				<p v-if="!isVerifyPhone">
					Belum verifikasi
				</p>
				<p v-else>
					{{ $store.state.userProfile.phone }}
				</p>
			</div>

			<button
				@click="changeUserNumber"
				class="btn btn-primary btn-list-with-button --verification"
			>
				<span v-if="!isVerifyPhone">Verifikasi</span>

				<span v-else>Ubah</span>
			</button>
		</div>

		<div
			class="list-with-button"
			:class="{
				'custom-margin': errorInput
			}"
			v-if="phoneVerification.stepTwo"
		>
			<div class="icon-list">
				<img class="list-image" v-lazy="'/general/img/icons/ic_phone_o.svg'" />
			</div>

			<div class="detail-text edit-detail">
				<h1>Nomor Handphone</h1>

				<div class="form-group form-group-custom">
					<div class="input-group">
						<div class="input-group-addon">+62</div>

						<input
							type="tel"
							class="form-control"
							:class="{
								'error-field': errorInput
							}"
							placeholder="8xxxxxxxxxx"
							v-model="userPhoneVerification"
							minlength="5"
							maxlength="14"
							:name="label"
							v-validate="'required|min:8|max:14|numeric'"
						/>
					</div>
					<p v-show="errors.has(label)" class="failed-alert">
						{{ errors.first(label) }}
					</p>
				</div>

				<button
					@click="settingPhone"
					:disabled="isDisabledButton"
					class="btn btn-primary --verification"
				>
					<span v-if="!isVerifyPhone">Verifikasi</span>

					<span v-else>Ubah</span>
				</button>

				<button @click="cancel" class="btn btn-success --verification">
					Batal
				</button>
			</div>
		</div>

		<div class="list-with-button" v-if="phoneVerification.stepThree">
			<div class="icon-list">
				<img class="list-image" v-lazy="'/general/img/icons/ic_phone_o.svg'" />
			</div>

			<div class="detail-text">
				<h1>Nomor Handphone</h1>

				<p class="notif-phone-verification">
					Kami telah mengirimkan Kode OTP ke nomor
					{{ userPhoneVerification | phoneZero }}
				</p>

				<div class="control-pin">
					<input
						maxlength="4"
						v-model="otpCode"
						class="form-control pin-textbox"
					/>

					<p class="otp-desc">Masukkan 4 digit kode OTP</p>
				</div>

				<p class="patient-text">
					Mohon tunggu <span class="countdown">{{ timer }}</span> untuk mengirim
					ulang kode OTP ?
				</p>

				<a
					v-if="sendAgainOtp"
					@click="settingPhone"
					class="send-back-otp"
					href="#"
					>Kirim ulang kode OTP</a
				>

				<button
					@click="codeVerification"
					class="btn btn-primary btn-otp-verification"
					:disabled="btnStepThree"
				>
					Verifikasi
				</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	filters: {
		phoneZero(value) {
			let phoneUser = value;
			if (phoneUser[0] != 0) {
				phoneUser = '0' + phoneUser;
				return phoneUser;
			} else {
				return phoneUser;
			}
		}
	},

	data() {
		return {
			phoneVerification: {
				stepOne: true,
				stepTwo: false,
				stepThree: false
			},
			btnStepThree: false,
			userPhoneVerification: this.$store.state.userProfile.phone,
			notifPhoneVerif: false,
			timer: '',
			countTimer: 60 * 3, //60 * 3
			sendAgainOtp: false,
			otpCode: '',
			label: 'Nomor Handphone',
			errorInput: false
		};
	},

	watch: {
		userPhoneVerification: debounce(function(val) {
			validator.attach(this.label, 'required|min:8|max:14|numeric');
			validator.validate(this.label, val).then(result => {
				if (!result) {
					this.errorInput = true;
				} else {
					this.errorInput = false;
				}
			});
		})
	},

	computed: {
		isVerifyPhone() {
			return this.$store.state.userProfile.is_verify_phone_number;
		},
		userPhone() {
			return this.$store.state.userProfile.phone;
		},
		isDisabledButton() {
			return this.errorInput || !this.userPhoneVerification;
		}
	},

	methods: {
		changeUserNumber() {
			this.phoneVerification.stepOne = false;
			this.phoneVerification.stepTwo = true;
			if (this.userPhone) {
				this.userPhoneVerification = this.userPhone.slice(1);
			}
		},
		codeVerificationSuccessAction() {
			this.phoneVerification.stepThree = false;
			this.phoneVerification.stepOne = true;
			location.reload();
		},
		codeVerification() {
			this.openSwalLoading();
			this.btnStepThree = true;
			let phoneUser = this.userPhoneVerification;
			if (phoneUser[0] == 6 && phoneUser[1] == 2) {
				phoneUser = phoneUser;
			} else if (phoneUser[0] == 0) {
				phoneUser = phoneUser;
			} else {
				phoneUser = '0' + phoneUser;
			}
			let data = {
				verification_code: this.otpCode,
				phone_number: phoneUser
			};
			axios
				.post('/user/verification/verify-code-otp', data)
				.then(response => {
					if (response.data.status) {
						this.swalSuccess(
							'Verifikasi Nomor Handphone',
							'Selamat nomor handphone anda telah diverifikasi.',
							this.codeVerificationSuccessAction
						);
					} else {
						this.swalError(null, 'Kode OTP anda salah.');
						this.btnStepThree = false;
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					this.btnStepThree = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		settingPhone() {
			this.sendAgainOtp = false;
			this.openSwalLoading();
			let uPhone = this.userPhoneVerification;
			if (uPhone[0] == 6 && uPhone[1] == 2) {
				uPhone = uPhone;
			} else if (uPhone[0] == 0) {
				uPhone = uPhone;
			} else {
				uPhone = '0' + uPhone;
			}
			let data = {
				phone: uPhone
			};
			axios
				.post('/setting/phone', data)
				.then(response => {
					if (response.data.status) {
						this.phoneVerification.stepTwo = false;
						this.phoneVerification.stepThree = true;
						this.startTimer(this.countTimer);
						this.closeSwalLoading();
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		cancel() {
			this.phoneVerification.stepTwo = false;
			this.phoneVerification.stepOne = true;
			this.userPhoneVerification = this.userPhone;
		},
		startTimer(duration) {
			var timer = duration,
				minutes,
				seconds;
			var myInterval = setInterval(() => {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? '0' + minutes : minutes;
				seconds = seconds < 10 ? '0' + seconds : seconds;

				this.timer = minutes + ':' + seconds;

				if (--timer < 0) {
					timer = duration;
					clearInterval(myInterval);
					this.sendAgainOtp = true;
				}
			}, 1000);
		}
	}
};
</script>

<style lang="scss" scoped>
.failed-alert {
	color: #ff3860 !important;
}

.custom-margin {
	margin-bottom: 68px;
}

.btn {
	&.--verification {
		height: 34px;
	}
}
</style>
