<template>
	<div>
		<div
			class="list-with-button"
			:class="{
				'error-email': errorInput
			}"
			v-if="changeEmail"
		>
			<div class="icon-list">
				<img class="list-image" v-lazy="'/general/img/icons/ic_email_o.svg'" />
			</div>

			<div class="detail-text edit-detail">
				<h1>Email</h1>
				<input
					:placeholder="userEmail"
					type="email"
					class="form-control input-email"
					:class="{
						'error-field': errorInput
					}"
					v-model="userEmail"
					:name="label"
					v-validate="'required|email'"
				/>

				<p v-show="errors.has(label)" class="failed-alert">
					{{ errors.first(label) }}
				</p>

				<button
					@click="updateEmail"
					:disabled="isButtonDisabled"
					class="btn btn-success"
					:class="{
						'--verification': !isVerifyEmail
					}"
				>
					<span v-if="isVerifyEmail">Ubah</span>
					<span v-else>Verifikasi</span>
				</button>

				<button @click="abort" class="btn btn-success --verification">
					Batal
				</button>
			</div>
		</div>

		<div class="list-with-button" v-else>
			<div class="icon-list">
				<img class="list-image" v-lazy="'/general/img/icons/ic_email_o.svg'" />
			</div>

			<div class="detail-text">
				<h1>Email</h1>

				<p v-if="isVerifyEmail">{{ userEmail }}</p>

				<p v-else>Belum verifikasi</p>

				<p v-if="notifEmail" class="notif-email">
					Cek email kamu, kami sudah mengirimkan link untuk konfirmasi
				</p>
			</div>

			<button
				v-if="isVerifyEmail"
				@click="getCurrentPosition()"
				class="btn btn-primary btn-list-with-button"
			>
				Ubah
			</button>

			<button
				v-else
				@click="getCurrentPosition()"
				class="btn btn-primary btn-list-with-button --verification"
			>
				Verifikasi
			</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			changeEmail: false,
			notifEmail: false,
			btnChangeConfirmDisabled: false,
			location: '',
			label: 'Email',
			errorInput: false
		};
	},

	computed: {
		isVerifyEmail() {
			return this.$store.state.userProfile.is_verify_email;
		},
		userEmail: {
			get() {
				return this.$store.state.userProfile.email;
			},
			set(val) {
				this.$store.commit('setEmail', val);
			}
		},
		isButtonDisabled() {
			return this.btnChangeConfirmDisabled || !this.userEmail;
		}
	},

	watch: {
		userEmail: debounce(function(val) {
			validator.attach(this.label, 'required|email');
			validator.validate(this.label, val).then(result => {
				if (!result) {
					this.errorInput = true;
				} else {
					this.errorInput = false;
				}
			});
		})
	},

	methods: {
		getCurrentPosition() {
			this.changeEmail = true;
			const options = {
				enableHighAccuracy: false,
				timeout: 10000,
				maximumAge: 1800000
			};

			let success = pos => {
				this.location = `${pos.coords.latitude}, ${pos.coords.longitude}`;
			};

			let error = err => {
				this.geolocationAlert = true;
			};

			if (this.location == '') {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(success, error, options);
				} else {
					this.geolocationAlert = true;
				}
			}
		},
		abort() {
			this.changeEmail = false;
			this.userEmail = this.$store.state.userProfile.email;
		},
		updateEmail() {
			this.openSwalLoading();
			this.btnChangeConfirmDisabled = true;
			var data = {
				email: this.userEmail,
				location: this.location
			};
			axios
				.post('/user/verification/email', data)
				.then(response => {
					if (response.data.status) {
						this.changeEmail = false;
						this.notifEmail = true;
						this.btnChangeConfirmDisabled = false;
						this.closeSwalLoading();
					} else {
						this.swalError(null, response.data.meta.message);
						this.userEmail = this.$store.state.userProfile.email;
						this.btnChangeConfirmDisabled = false;
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.error-email {
	margin-bottom: 43px;
}

.failed-alert {
	color: #ff3860 !important;
}

.btn {
	&.--verification {
		height: 34px;
	}
}
</style>
