<template>
	<div>
		<div class="list-with-button">
			<img
				class="list-image social-image"
				v-lazy="'/general/img/icons/ic_facebook.svg'"
			/>
			<div class="detail-text">
				<h1>Facebook</h1>
				<p>john_doebol@gmail.com</p>
			</div>
			<button class="btn btn-primary btn-facebook btn-list-with-button">
				Connect
			</button>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.btn-facebook {
	background-color: #414f98 !important;
	border-color: #414f98 !important;
}
</style>
