<template>
	<div class="choose-room-number">
		<h4 class="mb-2">
			<strong>Pilih nomor kamar</strong>
		</h4>

		<div class="row">
			<div class="col-xs-12">
				<ct-input-text
					:value="search"
					class="input-shadow"
					placeholder="Cari nomor kamar"
					prepend-icon="search"
					:radius="4"
					background-color="#fff"
					flat
					clearable
					@input="handleSearch"
				></ct-input-text>
			</div>

			<div class="col-xs-12">
				<div class="el-center-on-end">
					<p>Sisa {{ totalAvailableRoom }} Kamar</p>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="scrollable-number-room">
					<div v-if="loading">
						<shimmer height="17px" width="60%"></shimmer>
						<shimmer height="17px" width="60%"></shimmer>
						<shimmer height="17px" width="60%"></shimmer>
					</div>
					<template v-else>
						<ct-radio-group
							v-if="roomNumberProcessed.length"
							v-model="selectedRoom"
							:options="roomNumberProcessed"
						></ct-radio-group>
						<div v-else class="empty-search el-center flex-col">
							<img
								v-lazy="'/general/img/pictures/consultant/empty_room.png'"
								alt="Empty Room"
							/>
							<h3 class="mt-3">
								<strong>Nomor kamar tidak ditemukan</strong>
							</h3>
							<p class="text-muted">Pastikan nomor kamar sesuai</p>
						</div>
					</template>
				</div>
			</div>

			<div class="col-xs-12 mt-3">
				<div class="el-center">
					<router-link class="add-room-link" :to="roomAllotmentRoute">
						Tidak ada di daftar? Tambah disini
					</router-link>
				</div>

				<ct-button
					large
					block
					:disabled="!selectedRoom"
					@click="handleSelectRoom"
					>Terapkan</ct-button
				>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

import CtRadioGroup from 'Consultant/components/ConsultantRadioGroup';
import CtButton from 'Consultant/components/ConsultantButton';
import CtInputText from 'Consultant/components/CtInputText';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';

import EventBus from 'Consultant/event-bus';
import mixinUniqueId from 'Consultant/mixins/mixinUniqueId';

export default {
	name: 'ChooseRoomNumber',

	components: {
		CtRadioGroup,
		CtButton,
		CtInputText,
		Shimmer
	},

	mixins: [mixinUniqueId],

	data() {
		return {
			search: '',
			selectedRoom: '',
			roomNumberLists: [],
			loading: false,
			timeout: null
		};
	},

	computed: {
		...mapState('createContract', ['roomNumber']),
		roomNumberProcessed() {
			const roomSearched = this.roomNumberLists.filter(room => {
				return room.name.toLowerCase().includes(this.search.toLowerCase());
			});
			return this.groupingRoomsNumber(roomSearched);
		},
		totalAvailableRoom() {
			return this.roomNumberProcessed.filter(
				room => !room.disabled && !room.subtitle
			).length;
		},
		propertyId() {
			return this.$route.params.propertyId;
		},
		roomAllotmentRoute() {
			return {
				name: 'room-allotment',
				params: { song_id: this.propertyId },
				query: { from: 'choose_room_number' }
			};
		}
	},

	watch: {
		roomNumber: {
			immediate: true,
			handler(value) {
				if (value.id) {
					this.selectedRoom = value.id;
				}
			}
		}
	},

	created() {
		this.initRoomNumber();
		this.$route.meta.navbarOptions.onClickBack = this.goToCreateContract;
	},

	methods: {
		...mapMutations('createContract', ['setRoomNumber']),
		async initRoomNumber() {
			this.loading = true;
			const result = await this.fetchAvailableRoom(this.propertyId);

			if (result.success) {
				this.roomNumberLists = this.updateAndSortRoomList(result.data);
			} else {
				EventBus.$emit('openAlert', result.error.message);
			}

			this.loading = false;
		},

		async fetchAvailableRoom(propertyId) {
			const result = { success: false, data: [], error: {} };
			try {
				const response = await axios.get(
					`/api/room-unit/${propertyId}/available`
				);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.room_units;
				} else {
					/* istanbul ignore next */
					const message =
						response.data.meta.message || 'Terjadi galat, silahkan coba lagi';
					result.error.message = message;
				}
			} catch (error) {
				bugsnagClient.notify(error);
				result.error.message = 'Terjadi galat, silahkan coba lagi';
			}

			return result;
		},

		updateAndSortRoomList(rooms) {
			return rooms.map(room => ({
				...room,
				label: room.name,
				value: room.id,
				disabled: room.has_active_contract && room.occupied
			}));
		},

		groupingRoomsNumber(rooms) {
			const availableRooms = [];
			const occupiedAndNotContractedRooms = [];
			const occupiedAndContractedRooms = [];
			let roomsUpdated = [];

			for (const room of rooms) {
				if (room.disabled) {
					occupiedAndContractedRooms.push({ ...room });
				} else if (room.occupied && !room.has_active_contract) {
					occupiedAndNotContractedRooms.push({ ...room });
				} else {
					availableRooms.push({ ...room });
				}
			}

			if (availableRooms.length) {
				roomsUpdated = [
					...roomsUpdated,
					{ subtitle: true, label: 'Kamar Tersedia' },
					...availableRooms
				];
			}

			if (occupiedAndNotContractedRooms.length) {
				roomsUpdated = [
					...roomsUpdated,
					{ subtitle: true, label: 'Kamar Terisi Tanpa Kontrak' },
					...occupiedAndNotContractedRooms
				];
			}

			if (occupiedAndContractedRooms.length) {
				roomsUpdated = [
					...roomsUpdated,
					{ subtitle: true, label: 'Kamar Terisi Dengan Kontrak' },
					...occupiedAndContractedRooms
				];
			}
			return roomsUpdated;
		},

		handleSearch(value) {
			if (this.timeout) {
				clearTimeout(this.timeout);
			}

			this.timeout = setTimeout(() => {
				this.search = value;
			}, 500);
		},

		handleSelectRoom() {
			const roomSelected = this.roomNumberLists.find(
				room => room.id === this.selectedRoom
			);

			this.setRoomNumber(roomSelected);
			this.goToCreateContract();
		},

		goToCreateContract() {
			this.$router.push({
				name: 'contract.create',
				query: {
					previous_page: 'room_number_page'
				}
			});
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/variables/theme.scss';

.input-shadow {
	::v-deep &.ct-input-text {
		margin-bottom: 10px;
		.ct-input__body {
			box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);
		}

		.ct-input__subtext {
			display: none;
		}
	}
}

.add-room-link {
	display: inline-block;
	margin-bottom: 20px;
	font-weight: 600;
	color: $mamikos-green;
}

.scrollable-number-room {
	max-height: 440px;
	padding: 0 10px;
	margin-top: 20px;
	overflow-y: auto;
}

.empty-search {
	height: 350px;
}
</style>
