<template>
	<div class="create-contract-page">
		<keep-alive>
			<component :is="currentComponent" ref="contractPageSection"></component>
		</keep-alive>
	</div>
</template>
<script>
import { mapGetters, mapMutations, mapState } from 'vuex';

export default {
	name: 'CreateContractPage',

	components: {
		SearchProperty: () => import('./partials/SearchProperty.vue'),
		SearchPhone: () => import('./partials/SearchPhone.vue'),
		TenantInformations: () => import('./partials/TenantInformations.vue'),
		PropertyDetails: () => import('./partials/PropertyDetails.vue')
	},

	computed: {
		...mapGetters('createContract', ['activeComponent']),
		...mapState('createContract', ['totalSection']),
		currentComponent() {
			return this.activeComponent;
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(routeChanges) {
				this.handleRouteChanges(routeChanges);
			}
		}
	},

	mounted() {
		this.$route.meta.navbarOptions.onClickBack = this.handleNavbarBack;
	},

	beforeDestroy() {
		this.resetAllState();
		this.changeSection(1);
	},

	methods: {
		...mapMutations('createContract', [
			'prevSection',
			'changeSection',
			'resetAllState'
		]),

		handleNavbarBack() {
			const activeComponent = this.$refs.contractPageSection;
			if (typeof activeComponent.handleClickBackAction === 'function') {
				activeComponent.handleClickBackAction();
			} else {
				this.prevSection();
			}
		},

		handleRouteChanges(route) {
			/* eslint-disable camelcase */
			const { skip_sec_to = 0 } = route.query;
			/* istanbul ignore else */
			if (
				isFinite(skip_sec_to) &&
				+skip_sec_to > 0 &&
				+skip_sec_to <= this.totalSection
			) {
				this.changeSection(+skip_sec_to);
			}
			/* eslint-enable camelcase */
		}
	}
};
</script>
