<template>
	<section id="bookingInputId">
		<booking-verif-breadcrumb />

		<div class="input-id-container">
			<div class="input-id-title text-primary">
				<span>Verifikasi Identitas</span>
			</div>

			<div class="input-id-info text-primary">
				<span>
					<strong>Lengkapi datamu untuk mempercepat verifikasi</strong>
				</span>

				<br />

				<span
					>Kami melindungi informasi dan penggunaan data diri para pengguna
					kami.</span
				>
			</div>

			<id-verif-form
				:card-id="cardIdVal"
				:id-img="idImg"
				:selfie-img="selfieImg"
				@set-card-id="setCardId"
				@delete-photo="deletePhoto"
				@open-camera="openCamera"
			></id-verif-form>

			<div class="input-id-disclaimer">
				<div class="disclaimer-sign">
					<span>i</span>
				</div>

				<div class="disclaimer-text">
					<span>
						Dengan melanjutkan, saya menjamin data yang diberikan adalah benar
						dan menyetujui
						<a class="text-primary" href="/privacy" target="_blank"
							>privacy policy</a
						>
					</span>
				</div>
			</div>

			<div class="input-id-button">
				<button
					type="button"
					class="btn btn-primary"
					:class="{ '--disabled': selfieImg === null || idImg === null }"
					:disabled="selfieImg === null || idImg === null"
					@click="saveIdVerif"
				>
					Lanjutkan
				</button>

				<!-- <button
					type="button"
					class="btn btn-primary btn-skip-id"
					@click="skipUploadId"
				>
					Skip
				</button>-->
			</div>

			<id-verif-modal-change-photo
				:show-modal="isModalChange"
				@close="closeModalChange"
				@show="showPhoto"
				@change="changePhoto"
				@delete="openModalDeletePhoto"
			></id-verif-modal-change-photo>

			<id-verif-modal-show-photo
				:show-modal="isModalShow"
				:image-type="snapCamType"
				@close="closeModalShow"
			></id-verif-modal-show-photo>

			<id-verif-modal-warning
				:show-modal="isModalWebcam"
				@close="closeModalWebcam"
				@next="nextStep"
			></id-verif-modal-warning>

			<id-verif-modal-cancel-action
				:show-modal="isModalCancelChange"
				:label-modal="changeId ? labelChangeId : labelDeletePhoto"
				@close="changeId ? closeModalCancel(true) : closeModalCancel(false)"
				@ok="changeId ? deleteAllPhoto() : deletePhoto()"
			></id-verif-modal-cancel-action>
		</div>
	</section>
</template>

<script>
import BookingVerifBreadcrumb from './BookingVerifBreadcrumb';

const IdVerifForm = () => import('Js/@components/IdVerifForm');
const IdVerifModalCancelAction = () =>
	import('Js/@components/IdVerifModalCancelAction');
const IdVerifModalChangePhoto = () =>
	import('Js/@components/IdVerifModalChangePhoto');
const IdVerifModalShowPhoto = () =>
	import('Js/@components/IdVerifModalShowPhoto');
const IdVerifModalWarning = () => import('Js/@components/IdVerifModalWarning');

export default {
	components: {
		BookingVerifBreadcrumb,
		IdVerifForm,
		IdVerifModalCancelAction,
		IdVerifModalChangePhoto,
		IdVerifModalShowPhoto,
		IdVerifModalWarning
	},

	data() {
		return {
			isModalChange: false,
			isModalShow: false,
			isModalWebcam: false,
			isModalCancelChange: false,
			snapCamType: 'card',
			changeId: false,
			labelChangeId: 'Apakah Anda yakin ingin mengubah jenis identitas?',
			labelDeletePhoto: 'Apakah Anda yakin ingin menghapus foto?'
		};
	},

	computed: {
		currentId: {
			get() {
				return this.$store.state.extras.currentId;
			},
			set(newVal) {
				this.$store.commit('setCurrentId', newVal);
			}
		},
		cardIdVal() {
			return this.$store.state.extras.cardType;
		},
		token() {
			return this.$store.state.token;
		},
		selfieImg() {
			return this.$store.state.extras.selfieImg || null;
		},
		idImg() {
			return this.$store.state.extras.idImg || null;
		},
		selfieId() {
			return this.$store.state.extras.selfieId;
		},
		cardId() {
			return this.$store.state.extras.cardId;
		},
		detail() {
			return this.$store.state.detail;
		},
		bookingParams() {
			return this.$store.state.params;
		},
		savedIds: {
			get() {
				return this.$store.state.savedIds;
			},
			set(val) {
				this.$store.commit('setSavedIds', val);
			}
		},
		isAlreadyInputIds() {
			return this.$store.state.savedIds;
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(val) {
				this.closeModalChange();
			}
		},
		selfieImg(newVal) {
			if (newVal !== null) {
				this.uploadImage(newVal, 'selfie');
			}
		},
		idImg(newVal) {
			if (newVal !== null) {
				this.uploadImage(newVal, 'card');
			}
		},
		cardIdVal: {
			handler(newVal, oldVal) {
				if (this.selfieImg != null || this.idImg != null) {
					if (this.currentId !== newVal) {
						this.currentId = oldVal;
						this.changeId = true;
						this.isModalCancelChange = true;
					}
				} else {
					this.currentId = newVal;
				}
			}
		}
	},

	methods: {
		saveIdVerif() {
			this.openSwalLoading();

			axios
				.all([
					sendImageParams('photo_identity', this.cardId, this.cardIdVal),
					sendImageParams('selfie_identity', this.selfieId, this.cardIdVal)
				])
				.then(
					axios.spread((id, selfie) => {
						this.closeSwalLoading();
						if (id.data.status && selfie.data.status) {
							this.savedIds = true;
							this.$router.push({ name: 'tenant-info' });
						} else {
							if (!id.data.status && selfie.data.status) {
								this.swalError(null, id.data.meta.message);
							} else if (id.data.status && !selfie.data.status) {
								this.swalError(null, id.data.meta.message);
							} else {
								this.swalError(
									null,
									'Maaf foto Anda gagal diverifikasi. Silahkan ulangi kembali atau cek konekasi internet Anda.'
								);
							}
						}
					})
				)
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});

			this.moengageEventTrack();

			function sendImageParams(imgType, id, cardId) {
				return axios.post(`/user/verification/identity-card/${id}`, {
					type: cardId,
					from: 'booking',
					description: imgType
				});
			}
		},
		skipUploadId() {
			this.$router.push({ name: 'tenant-info' });
		},
		uploadImage(image, type) {
			this.openSwalLoading();

			let blob = this.convertToBlob(image.src);
			let file = new File([blob], 'image.png', { type: 'image/png' });
			let formData = new FormData();

			formData.append('media', file);

			axios
				.post('/user/verification/identity-card/upload', formData)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						if (type === 'selfie') {
							this.$store.commit('setSelfieId', response.data.media.id);
						} else {
							this.$store.commit('setCardId', response.data.media.id);
						}
					} else {
						this.swalError(
							null,
							'Maaf foto Anda gagal diupload. Silahkan ulangi kembali atau cek konekasi internet Anda.'
						);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		convertToBlob(dataURI) {
			let binary = atob(dataURI.split(',')[1]);
			let array = [];
			for (var i = 0; i < binary.length; i++) {
				array.push(binary.charCodeAt(i));
			}
			return new Blob([new Uint8Array(array)], { type: 'image/jpeg' });
		},
		openCamera(type) {
			this.snapCamType = type;

			if (this.snapCamType == 'selfie') {
				if (this.selfieImg !== null) {
					!navigator.isMobile ? this.showPhoto() : (this.isModalChange = true);
				} else {
					this.isModalWebcam = true;
				}
			} else if (this.snapCamType == 'card') {
				if (this.idImg !== null) {
					!navigator.isMobile ? this.showPhoto() : (this.isModalChange = true);
				} else {
					this.isModalWebcam = true;
				}
			}
		},
		changePhoto() {
			this.deletePhoto();
			this.nextPage();
		},
		showPhoto() {
			this.closeModalChange();
			this.isModalShow = true;
		},
		deletePhoto(type) {
			if (!navigator.isMobile) {
				if (type === 'card') {
					this.$store.commit('setIdImg', null);
				} else if (type === 'selfie') {
					this.$store.commit('setSelfieImg', null);
				}
			} else {
				if (this.snapCamType === 'card') {
					this.$store.commit('setIdImg', null);
				} else if (this.snapCamType === 'selfie') {
					this.$store.commit('setSelfieImg', null);
				}
			}

			this.isModalCancelChange = false;
		},
		deleteAllPhoto() {
			this.$store.commit('setSelfieImg', null);
			this.$store.commit('setIdImg', null);

			this.$store.commit('setSelfieId', null);
			this.$store.commit('setCardId', null);

			this.isModalCancelChange = false;
		},
		nextStep() {
			this.closeModalWebcam();
			this.nextPage();
		},
		nextPage() {
			this.$router.push({
				name: 'snap',
				params: { snapType: this.snapCamType, camActive: true }
			});
		},
		openModalDeletePhoto() {
			this.changeId = false;
			this.isModalCancelChange = true;
			this.closeModalChange();
		},
		closeModalChange() {
			this.isModalChange = false;
		},
		closeModalShow() {
			this.isModalShow = false;
		},
		closeModalWebcam() {
			this.isModalWebcam = false;
		},
		closeModalCancel(state) {
			this.$store.commit('setCardType', this.currentId);

			this.isModalCancelChange = false;
		},
		setCardId(val) {
			this.$store.commit('setCardType', val);
		},
		moengageEventTrack() {
			tracker('moe', [
				'[User] Booking - Input ID',
				{
					id_type: this.cardIdVal ? this.cardIdVal : null,
					status_id: true,
					property_type: 'kost',
					property_id: this.detail.seq ? this.detail.seq : null,
					property_city: this.detail.area_city ? this.detail.area_city : null,
					property_subdistrict: this.detail.area_subdistrict
						? this.detail.area_subdistrict
						: null,
					property_name: this.detail.room_title ? this.detail.room_title : null,
					property_monthly_price: this.detail.price_monthly
						? this.detail.price_monthly.toString()
						: null,
					tenant_name: this.bookingParams.contact_name
						? this.bookingParams.contact_name
						: null,
					tenant_job: this.bookingParams.contact_job
						? this.bookingParams.contact_job
						: null,
					booking_start_time: this.bookingParams.checkin
						? this.bookingParams.checkin
						: null,
					booking_periode: this.bookingParams.duration
						? this.bookingParams.duration
						: null
				}
			]);
		}
	}
};
</script>

<style lang="scss">
#bookingInputId {
	.verif-breadcrumb-container {
		@media (max-width: 767px) {
			padding: 1rem 0 2rem 0;
			margin-left: -5px;
		}
	}
}

.booking-steps-container {
	@media (max-width: 767px) {
		padding-bottom: 0 !important;
	}
}
</style>

<style lang="scss" scoped>
#bookingInputId {
	@media (max-width: 767px) {
		padding: 1rem 2.5rem;
	}
}

.input-id-line {
	height: 3px;
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 2.4rem;
	margin-left: -2.5rem;
	margin-right: -2.5rem;
}

.input-id-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 350px;
	margin: 0 auto;

	@media (min-width: 768px) {
		padding-top: 2rem;
	}

	@media (max-width: 767px) {
		overflow-y: scroll;
	}

	.input-id-title {
		font-size: 1.2em;
		font-weight: 800;
	}

	.input-id-info {
		background-color: rgba(16, 158, 75, 0.1);
		margin: 1.5rem -2.5rem;
		padding: 1.5rem 2.5rem;
	}

	.input-id-disclaimer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
		margin-bottom: 2rem;

		@media (max-width: 767px) {
			margin-bottom: 5rem;
		}

		.disclaimer-sign {
			margin-right: 1rem;

			span {
				width: 2rem;
				height: 2rem;
				background-color: #1baa56;
				border-radius: 100%;
				color: #fff;
				font-weight: bold;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.disclaimer-text {
		display: flex;
		font-size: 12px;

		.text-primary {
			font-weight: bold;
		}
	}

	.input-id-button {
		margin-top: 1rem;
		margin-bottom: 1.5rem;

		@media (max-width: 767px) {
			padding-bottom: 2rem;
			margin-bottom: 45px;
		}

		button {
			width: 100%;
		}

		.btn-skip-id {
			background-color: transparent;
			color: #646464;
			font-weight: bold;
			border: none;
			margin-top: 1rem;

			&:active {
				box-shadow: none;
			}
		}
	}
}
</style>
