<template>
	<div id="BookingPlaceholderIdVerif" class="placeholder-container">
		<div class="placeholder-container__label">
			<span>Verifikasi Identitas</span>
		</div>

		<div
			class="placeholder-container__box"
			:class="{ '--is-verified': idVerifStatus }"
			@click="goToVerification"
		>
			<div class="placeholder-container__section">
				<div class="placeholder-img">
					<icon-id-card v-if="!idVerifStatus" />
					<icon-check-round v-else color="#1BAA56" />
				</div>

				<div class="placeholder-info">
					<label v-if="idVerifStatus">
						Kartu identitas berhasil disimpan
					</label>

					<label v-else>
						Verifikasi Identitas
						<span>(opsional)</span>
					</label>

					<span class="info-label">
						Digunakan saat pemilik menerimamu di kos
					</span>
				</div>
			</div>

			<div class="placeholder-container__section">
				<icon-arrow-right v-if="!idVerifStatus" />
			</div>
		</div>
	</div>
</template>

<script>
import IconArrowRight from 'Js/@icons/ArrowRight';
import IconIdCard from 'Js/@icons/IdCard';
import IconCheckRound from 'Js/@icons/CheckRound';

export default {
	components: {
		IconArrowRight,
		IconIdCard,
		IconCheckRound
	},

	computed: {
		idVerifStatus() {
			return (
				this.$store.state.extras.idVerifStatus === 'waiting' ||
				this.$store.state.extras.idVerifStatus === 'verified' ||
				this.$store.state.savedIds
			);
		}
	},

	methods: {
		goToVerification() {
			this.$router.push({ name: 'id-verification' });
		}
	}
};
</script>

<style lang="scss" scoped>
.placeholder-container {
	margin-top: 20px;
	padding-top: 30px;
	border-top: 1px solid #e8e8e8;

	&__label {
		font-weight: bold;
		font-size: 20px;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		padding: 15px;
		margin-top: 20px;

		&.--is-verified {
			pointer-events: none;

			.placeholder-img {
				margin-top: 5px;
			}
		}
	}

	&__section {
		display: flex;
		align-items: flex-start;
	}

	.placeholder-info {
		display: flex;
		flex-direction: column;
		margin-left: 15px;

		label {
			font-size: 16px;
		}

		span {
			font-size: 12px;
		}

		.info-label {
			color: #949494;
		}

		> label > span {
			color: #999;
			font-weight: normal;
		}
	}

	.placeholder-img {
		margin-top: 2px;

		img {
			height: 20px;
		}
	}
}
</style>
