<template>
	<div
		id="bookingVerifBreadcrumb"
		class="verif-breadcrumb-container"
		@click="backRoute"
	>
		<img
			src="/general/img/icons/ic_left-pagination-mamipay_s.svg"
			alt="ic_left-pagination-mamipay_s"
		/>
		<span class="text-primary"> Kembali ke {{ pageStateLabel }} </span>
	</div>
</template>

<script>
export default {
	computed: {
		pageStateLabel() {
			return this.$route.name === 'id-verification'
				? 'Informasi Penyewa'
				: 'Verifikasi Identitas';
		},
		isAlreadyInputIds() {
			return this.$store.state.savedIds;
		}
	},

	methods: {
		backRoute() {
			if (this.$route.name === 'id-verification') {
				if (!this.isAlreadyInputIds) {
					this.$store.commit('setSelfieImg', null);
					this.$store.commit('setIdImg', null);
					this.$store.commit('setSelfieId', null);
					this.$store.commit('setCardId', null);
				}
				this.$router.push({ name: 'tenant-info' });
			} else {
				this.$router.push({ name: 'id-verification' });
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.verif-breadcrumb-container {
	display: flex;
	cursor: pointer;
	padding: 2rem;

	img {
		margin-right: 1rem;
	}

	span {
		font-size: 16px;
	}
}
</style>
