<template>
	<section id="bookingInputCamera">
		<booking-verif-breadcrumb />
		<id-verif-camera
			ref="refIdVerifCamera"
			:snap-type="snapType"
			@cancel-capture="cancelCapture"
			@save-selfie="saveSelfie"
			@save-card="saveCard"
		></id-verif-camera>
	</section>
</template>

<script>
import BookingVerifBreadcrumb from './BookingVerifBreadcrumb';

const IdVerifCamera = () => import('Js/@components/IdVerifCamera');

export default {
	components: {
		BookingVerifBreadcrumb,
		IdVerifCamera
	},

	data() {
		return {
			snapType: null
		};
	},

	watch: {
		$route: {
			immediate: true,
			handler(val) {
				if (this.$route.params.length !== 0) {
					this.snapType = this.$route.params.snapType;
				}

				this.toggleVideoStream();
			}
		}
	},

	methods: {
		toggleVideoStream() {
			if (this.$route.name === 'id-verification') {
				if (this.$refs.refIdVerifCamera) {
					this.$refs.refIdVerifCamera.isPhotoTaken = false;
					this.$refs.refIdVerifCamera.stopVideoStream();
				}
			} else if (this.$route.name === 'snap') {
				this.$refs.refIdVerifCamera &&
					this.$refs.refIdVerifCamera.createVideoElement();
			}
		},
		cancelCapture() {
			this.$router.push({ name: 'id-verification' });
		},
		saveSelfie(image) {
			this.$store.commit('setSelfieImg', image);
			this.$router.push({ name: 'id-verification' });
		},
		saveCard(image) {
			this.$store.commit('setIdImg', image);
			this.$router.push({ name: 'id-verification' });
		}
	}
};
</script>

<style lang="scss">
#bookingInputCamera {
	.input-camera-line,
	.btn-success,
	.--shutter {
		display: none;
	}

	.input-camera-container {
		@media (max-width: 767px) {
			overflow-y: scroll;
			margin-bottom: 55px;
		}
	}
}
</style>
