<template>
	<div class="ct-card__header" :class="classes" :style="styles">
		<slot></slot>
	</div>
</template>

<script>
import {
	generateBackgroundStyle,
	createStyle
} from 'Consultant/components/ct-card/utils';

export default {
	name: 'CtCardHeader',

	props: {
		color: {
			type: [String, Object],
			default: ''
		},
		divider: {
			type: String,
			default: '',
			validator: value => ['', 'line', 'shadow'].indexOf(value) !== -1
		},
		minHeight: {
			type: String,
			default: ''
		}
	},

	computed: {
		classes() {
			const classes = {};
			if (this.divider) {
				classes[`divider--${this.divider}`] = true;
			}
			return classes;
		},
		styles() {
			return `
				${generateBackgroundStyle(this.color)};
				${createStyle('min-height', this.minHeight)}
			`;
		}
	}
};
</script>
<style lang="scss" scoped>
.ct-card__header {
	width: 100%;
	height: auto;
	padding: 15px;

	/* ----- Divider style ------ */
	&.divider--line {
		border-bottom: 1px solid #e8e8e8;
	}

	&.divider--shadow {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	}

	/* --- end Divider style ---- */
}
</style>
