<template>
	<div class="ct-card__footer" :class="classes" :style="styles">
		<slot></slot>
	</div>
</template>

<script>
import {
	generateBackgroundStyle,
	createStyle
} from 'Consultant/components/ct-card/utils';

export default {
	name: 'CtCardFooter',

	props: {
		color: {
			type: [String, Object],
			default: ''
		},
		divider: {
			type: String,
			default: '',
			validator: value => ['', 'line', 'shadow'].indexOf(value) !== -1
		},
		minHeight: {
			type: String,
			default: ''
		},
		center: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		classes() {
			const classes = {
				'footer--center': this.center
			};

			if (this.divider) {
				classes[`divider--${this.divider}`] = true;
			}

			return classes;
		},
		styles() {
			return `
				${generateBackgroundStyle(this.color)};
				${createStyle('min-height', this.minHeight)}
			`;
		}
	}
};
</script>
<style lang="scss" scoped>
.ct-card__footer {
	width: 100%;
	height: auto;
	padding: 15px;

	/* ----- Divider style ------ */
	&.divider--line {
		border-top: 1px solid #e8e8e8;
	}

	&.divider--shadow {
		box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.08);
	}

	/* --- end Divider style ---- */

	// Center style
	&.footer--center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
</style>
