<template>
	<div class="ct-card__body" :class="classes" :style="styles">
		<slot></slot>
	</div>
</template>

<script>
import { createStyle } from 'Consultant/components/ct-card/utils';

export default {
	name: 'CtCardBody',

	props: {
		minHeight: {
			type: String,
			default: ''
		},
		maxHeight: {
			type: String,
			default: ''
		},
		scrollable: {
			type: Boolean,
			default: false
		},
		resetPadding: {
			type: Boolean,
			default: false
		},
		padding: {
			type: String,
			default: ''
		}
	},

	computed: {
		classes() {
			return {
				'body--scrollable': this.scrollable,
				'body--reset-padding': this.resetPadding
			};
		},
		styles() {
			return `
				${createStyle('min-height', this.minHeight)}
				${createStyle('max-height', this.maxHeight)}
				${!this.resetPadding ? createStyle('padding', this.padding) : ''}
			`;
		}
	}
};
</script>
<style lang="scss" scoped>
.ct-card__body {
	width: 100%;
	height: auto;
	padding: 15px;

	&.body--scrollable {
		overflow-y: auto;
	}

	&.body--reset-padding {
		padding: unset;
	}
}
</style>
