<template>
	<div class="ct-card" :class="classes" :style="styles" @click="handleClick">
		<div class="ct-card__wrapper">
			<slot name="header"></slot>
			<slot name="body"></slot>
			<slot name="footer"></slot>
		</div>
	</div>
</template>

<script>
import {
	generateBackgroundStyle,
	createStyle
} from 'Consultant/components/ct-card/utils';

export default {
	name: 'CtCard',

	props: {
		color: {
			type: [String, Object],
			default: '#fff'
		},
		minHeight: {
			type: String,
			default: ''
		},
		minWidth: {
			type: String,
			default: ''
		},
		radius: {
			type: String,
			default: '8px'
		},
		flat: {
			type: Boolean,
			default: false
		},
		outlined: {
			type: Boolean,
			default: false
		},
		tile: {
			type: Boolean,
			default: false
		},
		scrollable: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		},
		to: {
			type: Object,
			default: () => ({})
		}
	},

	computed: {
		classes() {
			return {
				'ct-card--outlined': this.outlined,
				'ct-card--flat': this.flat,
				'ct-card--tile': this.tile,
				'ct-card--disabled': this.disabled,
				'ct-card--scrollable': this.scrollable,
				'ct-card--clickable': this.clickable
			};
		},
		styles() {
			return `
				${generateBackgroundStyle(this.color)};
				${createStyle('min-width', this.minWidth)}
				${createStyle('min-height', this.minHeight)}
				${createStyle('border-radius', this.radius)}
			`;
		},
		clickable() {
			return (
				!this.disabled &&
				(typeof this.$listeners.click === 'function' || this.asLink)
			);
		},
		asLink() {
			return Object.keys(this.to).length > 0;
		}
	},

	methods: {
		handleClick(event) {
			if (this.clickable) {
				if (this.asLink) {
					this.$router.push(this.to);
				} else {
					this.$emit('click', event);
				}
			}
		}
	}
};
</script>
<style lang="scss" scoped>
.ct-card {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

	// Outline style
	&.ct-card--outlined {
		border: 1px solid #e8e8e8;
		box-shadow: unset;
	}

	&.ct-card--flat {
		border: unset;
		box-shadow: unset;
	}

	// Tile style
	&.ct-card--tile {
		border-radius: 2px !important;
	}

	// disabled style
	&.ct-card--disabled {
		cursor: default;
		opacity: 0.9 !important;
	}

	// clickable style
	&.ct-card--clickable {
		cursor: pointer;
	}
}
</style>
