<template>
	<div class="mami-field-dropdown">
		<div v-if="fieldLabel" class="field-label">
			<label>
				{{ fieldLabel }}
			</label>
			<span v-if="isRequired" class="text-danger">*</span>
		</div>

		<input
			readonly
			class="form-control"
			:class="{ '--is-option': isShowOptions && optionValues }"
			:placeholder="placeholderLabel"
			:value="displayValue"
			@click="toggleOptions"
		/>

		<span
			class="ic-dropdown"
			:class="{ '--is-show-over': optionValues }"
		></span>

		<mami-modal-wrap
			ref="dropdownOptions"
			v-if="optionValues"
			:show-modal="isShowOptions"
		>
			<div v-for="(option, index) in optionValues" :key="index">
				<mami-radio v-model="selectedValue" :selected-value="option.val">
					{{ option.label }}
				</mami-radio>
			</div>
			<mami-inline-loading v-if="isLoading" />
		</mami-modal-wrap>
	</div>
</template>

<script>
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');
const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');
const MamiInlineLoading = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiModalWrap,
		MamiRadio,
		MamiInlineLoading
	},

	props: {
		fieldLabel: String,
		optionValues: {
			type: Array,
			default: null
		},
		isRequired: {
			type: Boolean,
			default: false
		},
		defaultValue: {
			type: Object,
			default: null
		},
		placeholderLabel: {
			type: String,
			default: ''
		},
		displayValue: {
			type: String,
			default: ''
		},
		isInfinite: {
			type: Boolean,
			default: false
		},
		hasMore: {
			type: Boolean,
			default: false
		},
		isLoading: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			isShowOptions: false,
			selectedValue: this.defaultValue
		};
	},

	watch: {
		selectedValue: {
			deep: true,
			handler(value) {
				this.$emit('select', value);
				this.toggleOptions();
			}
		},
		isShowOptions: {
			handler(value) {
				if (this.isInfinite) {
					this.setScrollEventListener(value ? 'add' : 'remove');
				}
			}
		}
	},

	beforeDestroy() {
		if (this.isInfinite) {
			this.setScrollEventListener('remove');
		}
	},

	methods: {
		toggleOptions() {
			this.isShowOptions = !this.isShowOptions;
			this.isShowOptions && this.$emit('on-open-options');
		},
		setScrollEventListener(type = 'add') {
			const dropdownOptions = this.$refs.dropdownOptions;
			if (dropdownOptions) {
				const dropdownOptionsBody = dropdownOptions.$el.querySelector(
					'.modal-body'
				);
				if (dropdownOptionsBody) {
					dropdownOptionsBody[`${type}EventListener`](
						'scroll',
						this.setEmitOnBottomScroll
					);
				}
			}
		},
		setEmitOnBottomScroll() {
			if (!this.$refs || !this.$refs.dropdownOptions) return;

			const dropdownOptionsEl = this.$refs.dropdownOptions.$el;
			const dropdownOptionsBody = dropdownOptionsEl.querySelector(
				'.modal-body'
			);

			const isOnBottom =
				dropdownOptionsBody.clientHeight + dropdownOptionsBody.scrollTop >=
				dropdownOptionsBody.scrollHeight;

			if (isOnBottom && this.hasMore && !this.isLoading) {
				this.$emit('load-more');
			}
		}
	}
};
</script>

<style lang="scss">
.mami-field-dropdown {
	.modal-header,
	.modal-footer {
		display: none;
	}
	.btn-close-filter {
		display: none;
	}

	.mami-radio {
		padding: 15px 0;
		border-bottom: 1px solid #f4f4f4;
	}

	#commonMamiModalWrap {
		overflow: hidden;

		.modal-dialog {
			margin-top: 185px;
			max-width: 388px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 768px) {
				margin-top: 220px;
				width: 422px;
			}

			.modal-body {
				overflow-y: scroll;
				height: 50vh;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.mami-field-dropdown {
	position: relative;

	.field-label {
		display: flex;

		label {
			margin-right: 2px;
		}
	}

	.ic-dropdown {
		position: absolute;
		bottom: 18px;
		right: 11px;
		display: block;
		width: 0;
		height: 0;
		content: '';
		border-top: 7px solid #484848;
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;

		&.--is-show-over {
			z-index: 1051;
		}
	}

	.form-control[readonly] {
		background-color: #fff;
	}

	.form-control {
		&.--is-option {
			position: inherit;
			z-index: 1051;
		}
	}
}
</style>
