<template>
	<div class="mami-select-options" :class="{ '--is-error': !!errorMessage }">
		<mami-input-wrapper
			:input-label="label"
			:is-required="isRequired"
			:error-message="errorMessage"
		>
			<v-select
				:key="optionsChangeCount"
				v-model="selectedValue"
				:placeholder="placeholder"
				:disabled="disabled"
			>
				<v-option
					v-for="(option, i) in options"
					:key="i"
					:value="
						optionsValue ? option[optionsValue] : isValueIndex ? i + 1 : option
					"
				>
					{{ optionsLabel ? option[optionsLabel] : option }}
				</v-option>
			</v-select>
		</mami-input-wrapper>
	</div>
</template>

<script>
import { select, option } from 'vue-strap';
import MamiInputWrapper from './MamiInputWrapper';

export default {
	components: {
		MamiInputWrapper,
		vSelect: select,
		vOption: option
	},
	props: {
		options: {
			type: Array,
			required: true
		},
		label: {
			type: String,
			default: ''
		},
		isValueIndex: {
			type: Boolean,
			default: false
		},
		isRequired: {
			type: Boolean,
			default: false
		},
		placeholder: {
			type: String,
			default: ''
		},
		optionsValue: {
			type: String,
			default: ''
		},
		optionsLabel: {
			type: String,
			default: ''
		},
		value: {
			type: [Number, String],
			required: true
		},
		errorMessage: {
			type: String,
			default: ''
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			selectedValue: this.value,
			optionsChangeCount: 0
		};
	},
	watch: {
		options: {
			deep: true,
			handler(val) {
				this.optionsChangeCount += 1;
			}
		},
		selectedValue(val) {
			this.$emit('input', val);
		},
		value(val) {
			this.selectedValue = val;
		}
	}
};
</script>

<style lang="scss">
.mami-select-options {
	.btn-group {
		width: 100%;
		height: 48px;

		.dropdown-toggle {
			width: 100%;
			height: 100%;
			padding: 12px 48px 12px 16px;
			line-height: 1;

			span {
				font-size: 16px;
				line-height: 24px;
			}

			&:focus {
				border-color: #1baa56 !important;
			}

			&::after {
				right: 18px;
				margin-top: -2px;
				border-top-width: 6px;
				border-right-width: 6px;
				border-left-width: 6px;
			}
		}

		.dropdown-menu {
			width: 100%;

			.check-mark {
				display: none;
			}

			a {
				padding: 8px 16px;
				font-size: 16px;
				line-height: 24px;

				&:hover {
					color: #1baa56;
					background-color: #e8f7ee;
					outline: none;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	&.--is-error {
		.dropdown-toggle,
		.dropdown-toggle:focus {
			border-color: #da3438 !important;
		}
	}
}
</style>
