<template>
	<div class="mami-input-wrapper" :class="{ '--is-error': !!errorMessage }">
		<label v-if="inputLabel" class="mami-input-label">
			{{ inputLabel }}<span v-if="isRequired" class="text-danger">*</span>
			<span v-else-if="inputInfo" class="text-muted">
				<i> ({{ inputInfo }})</i>
			</span>
		</label>
		<slot></slot>
		<p v-if="errorMessage" class="mami-input-error text-danger">
			{{ errorMessage }}
		</p>
	</div>
</template>

<script>
export default {
	props: {
		errorMessage: {
			type: String,
			default: ''
		},
		inputLabel: {
			type: String,
			default: ''
		},
		isRequired: {
			type: Boolean,
			default: false
		},
		inputInfo: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss">
.mami-input-wrapper {
	.form-control {
		padding-left: 16px;
	}
}
</style>

<style lang="scss" scoped>
.mami-input-wrapper {
	color: #303030;

	.mami-input-label {
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;

		.text-danger {
			margin-left: 2px;
		}
	}

	.mami-input-error {
		margin-top: 4px;
		font-size: 14px;
		line-height: 21px;
	}

	input {
		width: 100%;
		height: 48px;
		font-size: 16px;
		line-height: 24px;
		color: #404040;

		&:active,
		&:focus {
			border: 1px solid #1baa56;
			outline: none;
		}
	}

	&.--is-error {
		input {
			padding-right: 48px;
			background-image: url('/general/img/icons/ic_warning_circle_red.svg');
			background-repeat: no-repeat;
			background-position: right 18px center;
			background-size: 20px;
			border: 1px solid #da3438;

			&:focus {
				border: 1px solid #da3438 !important;
			}
		}
	}
}
</style>
