<template>
	<div class="mami-room-empty-wrapper">
		<img
			v-lazy="'/general/img/pictures/mamipay/owner/illustration_empty_room.svg'"
			alt="empty_room"
		/>
		<slot name="caption"></slot>
	</div>
</template>

<style lang="scss" scoped>
.mami-room-empty-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px 0;

	img {
		height: 100px;
	}
}
</style>
