<template>
	<v-alert
		class="mami-info"
		:class="[
			{ '--is-dismissable': isDismissable, '--is-rounded': isRounded },
			`mami-info--${variant} mami-info--${size}`
		]"
		:style="`width: ${width};`"
		:type="variant"
		:dismissable="isDismissable"
	>
		<div class="mami-info__body" :class="`mami-info__body--${alignment}`">
			<component :is="infoIcon" class="mami-info__icon" />
			<div class="mami-info__content">
				<p v-if="title" class="mami-info__content-title">{{ title }}</p>
				<div v-if="$slots.default" class="mami-info__description">
					<slot></slot>
				</div>
			</div>
		</div>
	</v-alert>
</template>

<script>
import { alert } from 'vue-strap';
import IconInfoRound from 'Js/@icons/InfoRound';
import IconInfoRoundInverse from 'Js/@icons/InfoRoundInverse';
import IconInfoTriangle from 'Js/@icons/InfoTriangle';
import IconCrossRound from 'Js/@icons/CrossRound';
import IconCheckRound from 'Js/@icons/CheckRound';

const iconVariants = ['info', 'success', 'warning', 'error', 'default'];

export default {
	components: {
		vAlert: alert,
		IconInfoRound,
		IconInfoRoundInverse,
		IconCheckRound,
		IconInfoTriangle,
		IconCrossRound
	},
	props: {
		variant: {
			type: String,
			default: 'default',
			validator(variant) {
				return [...iconVariants, 'disabled', 'default'].includes(variant);
			}
		},
		alignment: {
			type: String,
			default: 'center',
			validator(alignment) {
				return ['top', 'center', 'bottom'].includes(alignment);
			}
		},
		title: {
			type: String,
			default: ''
		},
		icon: {
			type: String,
			default: '',
			validator(icon) {
				return ['', ...iconVariants].includes(icon);
			}
		},
		size: {
			type: String,
			default: 'medium',
			validator(size) {
				return ['small', 'medium'].includes(size);
			}
		},
		width: {
			type: String,
			default: '100%'
		},
		isDismissable: {
			type: Boolean,
			default: false
		},
		isRounded: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			iconComponents: {
				info: 'IconInfoRound',
				success: 'IconCheckRound',
				error: 'IconCrossRound',
				warning: 'IconInfoTriangle',
				default: 'IconInfoRoundInverse'
			},
			iconVariants
		};
	},
	computed: {
		infoIcon() {
			let icon = '';
			if (this.icon && this.validateIcon(this.icon)) {
				icon = this.icon;
			} else if (this.variant && this.validateIcon(this.variant)) {
				icon = this.variant;
			} else {
				icon = 'info';
			}

			return this.iconComponents[icon];
		}
	},
	methods: {
		validateIcon(icon) {
			return this.iconVariants.includes(icon);
		}
	}
};
</script>

<style lang="scss">
.mami-info {
	.close {
		margin-top: -6px;
		margin-left: 8px;
		font-size: 30px;
		font-weight: 300;
		color: inherit !important;
		opacity: 1;

		&:focus {
			outline: none;
		}
	}
}
</style>

<style lang="scss" scoped>
$mami-info-variants: (
	'success': (
		color: #1baa56,
		backgroundColor: #e8f7ee,
		iconColor: #008742,
		titleColor: #003826
	),
	'warning': (
		color: #8c3b00,
		backgroundColor: #fcf7e3,
		iconColor: #d48011,
		titleColor: #5b1b00
	),
	'error': (
		color: #e52a34,
		backgroundColor: #fff4f2,
		iconColor: #da3438,
		titleColor: #da3438
	),
	'disabled': (
		color: #aaa,
		backgroundColor: #f5f5f5,
		iconColor: #aaa,
		titleColor: #595959
	),
	'info': (
		color: #0052a4,
		backgroundColor: #e5edf8,
		iconColor: #0074db,
		titleColor: #142e63
	),
	'default': (
		backgroundColor: #fff,
		borderColor: #e8e8e8
	)
);

.mami-info {
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 0;
	color: #595959;
	flex-direction: row-reverse;
	background-color: #fcfcfc;
	border: 1px solid #f4f4f4;
	border-radius: 0;

	&.--is-rounded {
		border-radius: 4px;
	}

	&__body {
		display: flex;
		width: 100%;

		&--top {
			align-items: flex-start;
		}

		&--center {
			align-items: center;
		}

		&--bottom {
			align-items: flex-end;
		}
	}

	&__icon {
		margin: 2px;
		color: #999;
		fill: #999;
	}

	&__content {
		word-break: break-word;

		&-title {
			margin: 0;
			color: #5e5e5e;

			+ * {
				margin-top: 4px;
			}
		}

		&__description {
			width: 100%;
		}
	}

	@each $variant, $states in $mami-info-variants {
		&--#{$variant} {
			@if $variant == default {
				border-color: map-get($states, 'borderColor');
				background-color: map-get($states, 'backgroundColor');
				border-left: 0;
				border-right: 0;
			} @else {
				color: map-get($states, 'color');
				background-color: map-get($states, 'backgroundColor');
				border-color: map-get($states, 'backgroundColor');

				.mami-info__content-title {
					color: map-get($states, 'titleColor');
				}

				.mami-info__icon {
					color: map-get($states, 'iconColor');
					fill: map-get($states, 'iconColor');
				}
			}
		}
	}

	&--small {
		padding: 8px 16px;

		.mami-info__content {
			font-size: 12px;
			line-height: 18px;

			&-title {
				font-size: 14px;
				font-weight: bold;
				line-height: 20px;
			}
		}

		.mami-info__icon {
			width: 14px;
			min-width: 14px;
			height: 14px;
			margin-right: 12px;
		}
	}

	&--medium {
		padding: 12px 40px 12px 16px;

		&.--is-dismissable {
			padding-right: 12px;
		}

		.mami-info__content {
			font-size: 14px;
			line-height: 20px;

			&-title {
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
			}
		}

		.mami-info__icon {
			width: 20px;
			min-width: 20px;
			height: 20px;
			margin-right: 18px;
		}
	}
}
</style>
