<template>
	<div
		class="mami-checkbox"
		:class="{
			'mami-checkbox__active': value,
			'mami-checkbox__disabled': disabled
		}"
	>
		<div class="mami-checkbox--toggle-icon" @click="onCheckboxClicked">
			<input
				v-if="!disabled"
				:id="id"
				v-model="isActive"
				type="checkbox"
				:disabled="disabled"
			/>
		</div>
		<div class="mami-checkbox--description">
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		id: {
			type: String,
			default: 'mamiCheckboxCommon'
		},
		value: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isActive: this.value
		};
	},
	watch: {
		isActive: {
			handler(value) {
				this.$emit('change', this.isActive);
				this.onCheckboxClicked();
			}
		},
		value: {
			handler(value) {
				this.isActive = value;
			}
		}
	},
	methods: {
		onCheckboxClicked() {
			this.$emit('checkbox-clicked', this.isActive);
		}
	}
};
</script>

<style lang="scss" scoped>
.mami-checkbox {
	display: flex;
	align-items: center;
	position: relative;

	&--toggle-icon {
		background-color: #f4f4f4;
		border: 1px solid #dbdbdb;
		box-sizing: border-box;
		border-radius: 2px;
		min-width: 24px;
		width: 24px;
		height: 24px;
		margin-right: 16px;
		position: relative;
		cursor: pointer;

		input[type='checkbox'] {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			opacity: 0;
			width: 100%;
			height: 100%;

			&:not(:disabled) {
				cursor: pointer;
			}
		}

		.mami-checkbox__active & {
			background-color: #1baa56;
			border: none;
			background-image: url('/general/img/icons/ic_check_white.svg');
			background-size: 14px 14px;
			background-repeat: no-repeat;
			background-position: center;
		}

		.mami-checkbox__disabled & {
			cursor: default;
		}
	}

	&--description {
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.4px;
		color: #2e2d39;
	}
}
</style>
