<template>
	<div
		class="mami-radio"
		:class="{
			'--disabled': disabled,
			'button-style': isButtonStyle,
			selected: isSelected
		}"
		role="radiobutton"
		@click="onRadioClick"
	>
		<input :id="id" type="radio" :checked="isSelected" :disabled="disabled" />
		<div
			v-if="!isButtonStyle"
			class="mami-radio-icon"
			:class="{ 'mami-radio-icon--selected': isSelected }"
		></div>
		<slot v-if="$slots.default"></slot>
		<label v-else class="mami-radio-label">{{ label }}</label>
	</div>
</template>

<script>
export default {
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		id: String,
		label: String,
		value: null,
		selectedValue: null,
		disabled: Boolean,
		isButtonStyle: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isActive: false
		};
	},
	computed: {
		isSelected() {
			return this.value === this.selectedValue;
		}
	},
	watch: {
		isActive(val) {
			if (val) {
				this.$emit('change', this.selectedValue);
			}
		},
		value(val) {
			this.isActive = this.isSelected;
		}
	},
	methods: {
		onRadioClick() {
			!this.disabled && (this.isActive = true);
		}
	}
};
</script>

<style lang="scss" scoped>
.mami-radio {
	display: flex;
	align-items: center;
	position: relative;

	&.button-style {
		border: 1px solid #e8e8e8;
		padding: 5px 15px;
		border-radius: 30px;
		margin-right: 15px;

		&.selected {
			border-color: #303030;

			.mami-radio-label {
				color: #303030;
			}
		}

		.mami-radio-label {
			font-size: 14px;
			font-weight: normal;
			color: #404040;
		}
	}

	* {
		cursor: pointer;
	}

	input[type='radio'] {
		position: absolute;
		opacity: 0;
	}

	&-label {
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		margin: 0;
		flex-shrink: 0;

		.--disabled & {
			color: #999999 !important;
			cursor: default;
		}
	}

	&-icon {
		min-width: 24px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 1px solid #dbdbdb;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		margin-right: 20px;
		transition: 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);
		background-color: #ffff;

		&::after {
			display: block;
			opacity: 0;
			content: '';
			width: 14px;
			height: 14px;
			border-radius: 50%;
		}

		&--selected {
			border-color: #1baa56;
			background-color: #fff;

			&::after {
				opacity: 1;
				background-color: #1baa56;

				.--disabled & {
					background-color: #f4f4f4;
					opacity: 0;
				}
			}
		}

		.--disabled & {
			background-color: #f4f4f4;
			border-color: #f4f4f4;
		}
	}
}
</style>
