<template>
	<button
		ref="button"
		class="mami-button"
		:type="type"
		:class="extraClasses"
		:disabled="disabled"
		:style="extraStyles"
		@click="handleClick"
	>
		<template v-if="loading">
			<slot v-if="$slots.loading" />
			<div v-else class="mami-button__loading">
				<div v-for="i in 3" :key="i" class="mami-button__loading-dot" />
			</div>
		</template>
		<slot v-else></slot>
	</button>
</template>

<script>
export default {
	name: 'MamiButton',
	props: {
		/**
		 * The overall color style of the button
		 * primary , primary-inverse, orange, orange-inverse, default
		 * Please add another option if needed
		 */
		color: {
			type: String,
			validator: type => {
				return ['primary', 'secondary', 'tertiary', 'destructive'].includes(
					type
				);
			},
			default: 'primary'
		},
		/**
		 * Whether the button has block display or not
		 * true , false
		 */
		block: {
			type: Boolean,
			default: false
		},
		/**
		 * same as block but only for < 768px
		 */
		blockOnMobile: {
			type: Boolean,
			default: false
		},
		/**
		 * Whether the button is disabled or not
		 * true , false
		 * Please note that 'disabled' prop will overwrite any passed colors
		 */
		disabled: {
			type: Boolean,
			default: false
		},
		/**
		 * Add loading state to the button
		 */
		loading: {
			type: Boolean,
			default: false
		},
		/**
		 * The size of the button
		 * props: small, medium, large
		 */
		size: {
			type: String,
			validator: size => {
				return ['small', 'medium', 'large'].includes(size);
			},
			default: 'medium'
		},
		/**
		 * Custom style: min-width
		 */
		minWidth: {
			type: String,
			default: ''
		},
		/**
		 * Custom style: width
		 */
		width: {
			type: String,
			default: ''
		},
		/**
		 * Type of the button
		 * example: button, submit, reset
		 */
		type: {
			type: String,
			default: 'button'
		},
		/**
		 * Only icon inside button
		 */
		isIconOnly: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		extraClasses() {
			const prefix = 'mami-button--';
			const { block, color, size, loading, isIconOnly, blockOnMobile } = this;

			return [
				color,
				size,
				block && 'block',
				blockOnMobile && 'block-mobile',
				loading && 'loading',
				isIconOnly && 'icon-only'
			].map(modifier => {
				if (modifier) return `${prefix}${modifier}`;
				return null;
			});
		},
		extraStyles() {
			return {
				minWidth: this.minWidth || null,
				width: this.width || null
			};
		}
	},
	methods: {
		handleClick(event) {
			this.$refs.button && this.$refs.button.blur();
			this.$emit('click', event);
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable primer/no-unused-vars, max-nesting-depth */
$mami-button-variants: (
	'primary': (
		'normal': (
			'background-color': #1baa56,
			'border-color': #1baa56,
			'color': #fff
		),
		'hover': (
			'background-color': #6ecf91,
			'border-color': #6ecf91,
			'color': #fff
		),
		'active': (
			'background-color': #008742,
			'border-color': #008742,
			'color': #fff
		),
		'disabled': (
			'background-color': #f6f6f6,
			'border-color': 0,
			'color': #bbb
		),
		'loading': (
			'loading-color': #fff
		)
	),
	'secondary': (
		'normal': (
			'background-color': #fff,
			'border-color': #1baa56,
			'color': #1baa56
		),
		'hover': (
			'background-color': #fff,
			'border-color': #6ecf91,
			'color': #6ecf91
		),
		'active': (
			'background-color': #fff,
			'border-color': #008742,
			'color': #008742
		),
		'disabled': (
			'background-color': #f6f6f6,
			'border-color': #e8e8e8,
			'color': #bbb
		),
		'loading': (
			'loading-color': #1baa56
		)
	),
	'tertiary': (
		'normal': (
			'background-color': #fff,
			'border-color': #e8e8e8,
			'color': #404040
		),
		'hover': (
			'background-color': #fff,
			'border-color': #e8e8e8,
			'color': #949494
		),
		'active': (
			'background-color': #fff,
			'border-color': #dadada,
			'color': #303030
		),
		'disabled': (
			'background-color': #f6f6f6,
			'border-color': #e8e8e8,
			'color': #bbb
		),
		'loading': (
			'loading-color': #404040
		)
	),
	'destructive': (
		'normal': (
			'background-color': #da3438,
			'border-color': 0,
			'color': #fff
		),
		'hover': (
			'background-color': #fa6155,
			'border-color': 0,
			'color': #fff
		),
		'active': (
			'background-color': #9b292d,
			'border-color': 0,
			'color': #fff
		),
		'disabled': (
			'background-color': #f6f6f6,
			'border-color': 0,
			'color': #bbb
		),
		'loading': (
			'loading-color': #fff
		)
	)
);

$mami-button-sizes: (
	'small': (
		'h-padding': 8px,
		'v-padding': 8px,
		'font-size': 12px,
		'line-height': 14px,
		'height': 32px
	),
	'medium': (
		'h-padding': 16px,
		'v-padding': 8px,
		'font-size': 14px,
		'line-height': 24px,
		'height': 40px
	),
	'large': (
		'h-padding': 16px,
		'v-padding': 12px,
		'font-size': 16px,
		'line-height': 24px,
		'height': 48px
	)
);

@mixin border($value) {
	@if $value == 0 {
		border: 0;
	} @else {
		border: 1px solid $value;
	}
}

.mami-button {
	display: inline-flex;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	outline: 0;
	align-items: center;
	justify-content: center;
	box-shadow: none;

	&--block {
		display: flex;
		width: 100%;
	}

	&__loading {
		position: relative;
		display: flex;
		width: 50px;
		padding: 0;
		justify-content: space-between;
		align-items: center;

		&-dot {
			display: block;
			width: 10px;
			height: 10px;
			margin: 0;
			line-height: 10px;
			background: #fff;
			border-radius: 100%;
			animation: dots-loading 1s infinite;

			&:nth-child(2) {
				animation-delay: 0.2s;
			}

			&:nth-child(3) {
				animation-delay: 0.4s;
			}
		}
	}

	@each $size, $props in $mami-button-sizes {
		&--#{$size} {
			height: map-get($props, 'height');
			padding: map-get($props, 'v-padding') map-get($props, 'h-padding');
			font-size: map-get($props, 'font-size');
			line-height: map-get($props, 'line-height');
		}

		&--icon-only {
			padding: map-get($props, 'v-padding') map-get($props, 'v-padding');
		}
	}

	$this: &;
	@each $variant, $states in $mami-button-variants {
		$normal: map-get($states, 'normal');
		$hover: map-get($states, 'hover');
		$active: map-get($states, 'active');
		$disabled: map-get($states, 'disabled');
		$loading: map-get($states, 'loading');

		&--#{$variant} {
			color: map-get($normal, 'color');
			background-color: map-get($normal, 'background-color');
			@include border(map-get($normal, 'border-color'));

			&:hover,
			&:focus {
				&:not(:disabled):not(#{$this}--loading) {
					color: map-get($hover, 'color');
					background-color: map-get($hover, 'background-color');
					border-color: map-get($hover, 'border-color');
				}
			}

			&:not(:disabled):not(#{$this}--loading):active {
				color: map-get($active, 'color');
				background-color: map-get($active, 'background-color');
				border-color: map-get($active, 'border-color');
			}

			&:disabled {
				&,
				&:hover,
				&:active {
					color: map-get($disabled, 'color');
					cursor: default;
					background-color: map-get($disabled, 'background-color');
					@include border(map-get($disabled, 'border-color'));
				}
			}

			#{$this}__loading {
				cursor: default;

				> * {
					background-color: map-get($loading, 'loading-color');
				}
			}
		}
	}

	@keyframes dots-loading {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.4;
		}
		100% {
			opacity: 0;
		}
	}

	@media (max-width: 767px) {
		&--block-mobile {
			width: 100%;
		}
	}
}
</style>
