<template>
	<div class="mami-field-phone-number">
		<div v-if="fieldLabel" class="field-label">
			<label>
				{{ fieldLabel }}
			</label>
			<span v-if="isRequired" class="text-danger">*</span>
		</div>

		<input
			:id="inputId"
			type="tel"
			class="form-control"
			:placeholder="placeholderLabel"
			:value="defaultValue"
			:pattern="phonePattern"
			minlength="10"
			maxlength="13"
			:required="isRequired"
			@input="$emit('input', $event.target.value)"
		/>
	</div>
</template>

<script>
export default {
	props: {
		inputId: String,
		fieldLabel: String,
		defaultValue: String,
		phonePattern: String,
		isRequired: {
			type: Boolean,
			default: false
		},
		placeholderLabel: {
			type: String,
			default: '081234567xxx'
		}
	}
};
</script>
