<template>
	<div class="mami-autocomplete">
		<mami-text-field
			v-model="inputValue"
			:input-label="inputLabel"
			:input-name="inputName"
			input-type="text"
			:input-placeholder="inputPlaceholder"
			:is-required="isRequired"
			is-autocomplete
			:error-messages="errorMessages"
			class="mami-autocomplete__text-field"
			@click="onClickInput"
			@blur="onBlurInput"
			@input="onChangeInput"
		/>
		<transition name="slide-fade">
			<ul
				v-if="itemListWrapper && filteredItems.length"
				data-path="ddl_autocompleteItems"
				class="mami-autocomplete__list"
				:style="`width: 100%; height: ${height}; max-height: ${maxHeight}`"
			>
				<li
					v-for="(item, i) in filteredItems"
					:key="i"
					class="mami-autocomplete__list-item"
					@click="onSelectItem(item)"
				>
					{{ item.text }}
				</li>
			</ul>
		</transition>
	</div>
</template>

<script>
/* istanbul ignore next */
const MamiTextField = () =>
	import('Js/@components/mami-components/MamiTextField');

export default {
	name: 'MamiAutocomplete',
	components: { MamiTextField },
	model: {
		prop: 'selectedItem',
		event: 'input'
	},
	props: {
		items: {
			type: Array,
			required: true
		},
		itemValue: {
			type: String,
			default: null
		},
		itemText: {
			type: String,
			default: null
		},
		height: {
			type: String,
			default: 'unset'
		},
		maxHeight: {
			type: String,
			default: '270px'
		},
		inputLabel: {
			type: String,
			default: ''
		},
		inputName: {
			type: String,
			default: ''
		},
		inputPlaceholder: {
			type: String,
			default: ''
		},
		selectedItem: {
			type: String,
			default: ''
		},
		errorMessages: {
			type: Array,
			default() {
				return [];
			}
		},
		isRequired: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			inputValue: '',
			itemListWrapper: false,
			isItemSelected: false
		};
	},
	computed: {
		mappedItems() {
			return this.items.map(item => {
				return {
					value: this.itemValue ? item[this.itemValue] : item,
					text: this.itemText ? item[this.itemText] : item
				};
			});
		},
		filteredItems() {
			return this.inputValue
				? this.mappedItems.filter(item =>
						item.text.toLowerCase().includes(this.inputValue.toLowerCase())
				  )
				: this.mappedItems;
		}
	},
	methods: {
		onClickInput() {
			this.$emit('click', this.inputValue);
			this.itemListWrapper = true;
		},
		onBlurInput() {
			setTimeout(() => {
				this.$emit('blur', this.inputValue);
				this.itemListWrapper = false;
				this.isItemSelected = false;
			}, 300);
		},
		onChangeInput() {
			this.itemListWrapper = true;
			this.$emit('input', this.inputValue);
		},
		onSelectItem(selectedItem) {
			this.inputValue = selectedItem.text;
			this.isItemSelected = true;
			this.$emit('select', selectedItem.value);
			this.$emit('input', selectedItem.value);
		}
	}
};
</script>

<style lang="scss" scoped>
.mami-autocomplete {
	&__list {
		position: absolute;
		z-index: 1;
		padding: 0;
		margin-top: -10px;
		overflow-y: scroll;
		text-overflow: ellipsis;
		white-space: nowrap;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

		&-item {
			padding: 12px 18px;
			font-size: 14px;
			font-weight: bold;
			line-height: 21px;
			list-style: none;
			cursor: pointer;

			&:hover {
				background-color: #dbdbdb;
			}
		}
	}
}
</style>
