<template>
	<div class="manage-booking-props-header">
		<h3 class="manage-booking-props-header__intro">
			Pilih Kos yang ingin Anda daftarkan menjadi
			<strong>Booking Langsung</strong>
			.
		</h3>
		<manage-booking-property-list-filters
			:items="filterItems"
			:disable-button="isLoading"
			:selected-filter="selectedFilter"
			class="manage-booking-props-header__filter"
			@select="setFilter"
		/>
		<manage-booking-property-list-selection-control
			v-if="showSelectionControl"
			:is-select-all="isSelectAll"
			:number-of-selected="numberOfSelectedProperties"
			@submit="submitBookingProperties"
			@setIsSelectAll="setIsSelectAll"
		/>
	</div>
</template>

<script>
import ManageBookingPropertyListFilters from './header-wrapper/ManageBookingPropertyListFilters';
import ManageBookingPropertyListSelectionControl from './header-wrapper/ManageBookingPropertyListSelectionControl';

import { mapState, mapMutations, mapGetters } from 'vuex';

export default {
	name: 'ManageBookingPropertyListHeader',
	components: {
		ManageBookingPropertyListFilters,
		ManageBookingPropertyListSelectionControl
	},
	data() {
		return {
			filterItems: [
				{ key: 'all', text: 'Semua' },
				{ key: 'approve', text: 'Aktif' },
				{ key: 'waiting', text: 'Diperiksa Admin' },
				{ key: 'not_active', text: 'Belum Aktif' }
			]
		};
	},
	computed: {
		...mapState({
			isLoading: state => state.bookingPropertyList.isLoadingProperties,
			selectedFilter: state => state.bookingPropertyList.selectedFilter,
			isSelectAll: state => state.bookingPropertyList.isSelectAll,
			numberOfSelectedProperties: state =>
				state.bookingPropertyList.numberOfSelectedProperties
		}),
		...mapGetters({
			showSelectionControl: 'bookingPropertyList/isSelectionControlShown'
		})
	},
	watch: {
		selectedFilter() {
			this.setIsSelectAll(false);
		},
		isLoading() {
			this.setIsSelectAll(false);
		}
	},
	methods: {
		...mapMutations({
			setIsSelectAll: 'bookingPropertyList/setIsSelectAll',
			setFilter: 'bookingPropertyList/setSelectedFilter'
		}),
		submitBookingProperties() {
			this.$emit('submit');
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-props-header {
	&__intro {
		color: #2e2d39;
	}

	&__filter {
		margin-top: 20px;
	}

	&__selection-controls {
		margin-top: 32px;
	}
}
</style>
