<template>
	<div id="manageBookingPropertyList" class="manage-booking-props">
		<manage-booking-property-list-header @submit="submitBookingProperties" />
		<manage-booking-property-list-content
			class="manage-booking-props__content"
			@loadMore="loadMore"
		/>
		<manage-modal-booking
			:selected-component="activeModalComponentName"
			:show-modal="showConfirmationModal"
			@changeComponent="changeActiveModalComponent"
		></manage-modal-booking>
	</div>
</template>

<script>
import ManageBookingPropertyListHeader from './ManageBookingPropertyListHeader';
import ManageBookingPropertyListContent from './ManageBookingPropertyListContent';

import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import EventBus from '../../event-bus/event-bus';

/* istanbul ignore next */
import ManageModalBooking from '../ManageModalBooking';

export default {
	name: 'ManageBookingPropertyList',
	components: {
		ManageBookingPropertyListHeader,
		ManageBookingPropertyListContent,
		ManageModalBooking
	},
	data() {
		return {
			showConfirmationModal: false,
			activeModalComponentName: 'ManageModalBookingConfirmation'
		};
	},
	computed: {
		...mapState({
			propertyList: state => state.bookingPropertyList.propertyList,
			perScreenLimit: state => state.bookingPropertyList.perScreenLimit,
			currentOffset: state => state.bookingPropertyList.currentOffset,
			selectedFilter: state => state.bookingPropertyList.selectedFilter,
			isSelectAll: state => state.bookingPropertyList.isSelectAll,
			selectedProperties: state => state.bookingPropertyList.selectedProperties,
			numberOfSelectedProperties: state =>
				state.bookingPropertyList.numberOfSelectedProperties
		}),
		...mapGetters({
			selectableProperties: 'bookingPropertyList/selectableProperties',
			selectedPropertiesInDetail:
				'bookingPropertyList/selectedPropertiesInDetail'
		}),
		ownerDetail() {
			return this.$store.state.ownerDetail;
		}
	},
	watch: {
		selectedFilter() {
			this.reFetchProperties();
		},
		selectableProperties(value) {
			if (value.length !== this.selectedProperties.length && this.isSelectAll)
				this.setIsSelectAll(false);
		},
		isSelectAll(value) {
			if (value) {
				this.setSelectedProperties(this.selectableProperties);
			} else {
				if (this.selectedProperties.length === this.selectableProperties.length)
					this.resetSelectedProperties();
			}
		},
		selectedProperties(value) {
			if (value.length !== this.selectableProperties.length) {
				if (this.isSelectAll) this.setIsSelectAll(false);
			} else this.setIsSelectAll(true);
		}
	},
	created() {
		this.trackVisitPage();
	},
	mounted() {
		this.listenEventBus();
		this.handleFetchProperties();
	},
	methods: {
		...mapMutations({
			setPropertyList: 'bookingPropertyList/setPropertyList',
			setCurrentOffset: 'bookingPropertyList/setCurrentOffset',
			setIsLoading: 'bookingPropertyList/setIsLoadingProperties',
			setIsLoadingMore: 'bookingPropertyList/setIsLoadingMore',
			setIsSelectAll: 'bookingPropertyList/setIsSelectAll',
			setSelectedProperties: 'bookingPropertyList/setSelectedProperties'
		}),
		...mapActions({
			fetchProperties: 'bookingPropertyList/fetchProperties'
		}),
		trackVisitPage() {
			tracker('moe', [
				'[Owner] Kelola Tagihan dan Booking Langsung Visited',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.ownerDetail.name,
					owner_phone_number: this.ownerDetail.phone_number,
					bank_id: this.ownerDetail.bank_name_key,
					account_name: this.ownerDetail.bank_account_owner
				}
			]);
		},
		trackSubmitBooking() {
			tracker('moe', [
				'[Owner] Daftar Booking Langsung button clicked',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.ownerDetail.name,
					owner_phone_number: this.ownerDetail.phone_number,
					bank_id: this.ownerDetail.bank_name_key,
					account_name: this.ownerDetail.bank_account_owner,
					total_property_activation: this.numberOfSelectedProperties,
					property_id: this.selectedProperties,
					redirection_source: 'Kelola Tagihan dan Booking page'
				}
			]);
		},
		trackActivationSucceeded() {
			this.selectedPropertiesInDetail.forEach(item => {
				tracker('moe', [
					'[Owner] activate booking app',
					{
						name: item.room_title,
						available_room: item.room_available,
						area_city: item.area_formatted,
						price_daily: item.price_daily,
						price_weekly: item.price_weekly,
						price_monthly: item.price_monthly,
						price_3_months: item.price_quarterly,
						price_6_months: item.price_semiannualy,
						price_yearly: item.price_yearly
					}
				]);
			});
		},
		listenEventBus() {
			/* istanbul ignore next */
			EventBus.$on('modalActiveBooking', value => {
				this.$store.commit('setBulkProcessBookingActivation', value);
				this.showConfirmationModal = value;
			});

			/* istanbul ignore next */
			EventBus.$on('bulkBookingSucceeded', async () => {
				this.setIsLoading(true);
				await this.trackActivationSucceeded();
				this.reFetchProperties();
			});
		},
		handleFetchProperties() {
			if (this.propertyList.length === 0) this.setIsLoading(true);
			else this.setIsLoadingMore(true);

			this.fetchProperties()
				.catch(error => {
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				})
				.finally(() => {
					this.setIsLoading(false);
					this.setIsLoadingMore(false);
				});
		},
		reFetchProperties() {
			this.resetPropertylist();
			this.resetSelectedProperties();
			this.setCurrentOffset(0);
			this.handleFetchProperties();
		},
		resetPropertylist() {
			this.setPropertyList([]);
		},
		resetSelectedProperties() {
			this.setSelectedProperties([]);
		},
		loadMore() {
			this.setCurrentOffset(this.currentOffset + this.perScreenLimit);
			this.handleFetchProperties();
		},
		submitBookingProperties() {
			this.trackSubmitBooking();
			this.$store.commit('setBulkProcessBookingActivation', true);
			this.showConfirmationModal = true;
		},
		changeActiveModalComponent(value) {
			this.activeModalComponentName = value;
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-props {
	padding: 0 16px;

	&__content {
		margin-top: 30px;
	}
}
</style>
