<template>
	<div class="landing-billing-warp">
		<landing-billing-navbar></landing-billing-navbar>
		<landing-billing-header></landing-billing-header>
		<landing-billing-information></landing-billing-information>
		<landing-billing-advantages></landing-billing-advantages>
		<landing-billing-comparison></landing-billing-comparison>
		<landing-billing-faq></landing-billing-faq>
		<landing-billing-entry-point></landing-billing-entry-point>
		<landing-billing-footer></landing-billing-footer>
	</div>
</template>

<script>
import LandingBillingNavbar from './LandingBillingNavbar';
import LandingBillingHeader from './LandingBillingHeader';
import LandingBillingInformation from './LandingBillingInformation';
import LandingBillingAdvantages from './LandingBillingAdvantages';
import LandingBillingComparison from './LandingBillingComparison';
import LandingBillingFaq from './LandingBillingFaq';
import LandingBillingEntryPoint from './LandingBillingEntryPoint';
import LandingBillingFooter from './LandingBillingFooter';

export default {
	name: 'LandingBilling',
	components: {
		LandingBillingNavbar,
		LandingBillingHeader,
		LandingBillingInformation,
		LandingBillingAdvantages,
		LandingBillingComparison,
		LandingBillingFaq,
		LandingBillingEntryPoint,
		LandingBillingFooter
	}
};
</script>
