<template>
	<div class="landing-billing-footer">
		<div class="landing-billing-footer__container">
			<div class="landing-billing-brand">
				<a href="/" class="landing-billing-brand__link">
					<img
						class="landing-billing-brand__image"
						title="Mamikos"
						src="/assets/logo/svg/logo_mamikos_green.svg"
						alt="Mamikos Logo"
					/>
				</a>
			</div>
			<div class="landing-billing-menu">
				<ul class="landing-billing-menu__list">
					<li
						v-for="(menu, indexMenu) in menus"
						:key="indexMenu"
						class="landing-billing-menu__item"
					>
						<a class="landing-billing-menu__link" :href="menu.link">{{
							menu.label
						}}</a>
					</li>
				</ul>

				<div class="landing-billing-menu__list--mobile">
					<a
						v-for="(menu, indexMenu) in menus"
						:key="indexMenu"
						:href="menu.link"
						class="landing-billing-menu__link"
					>
						<span v-if="indexMenu !== 0">|</span> {{ menu.label }}
					</a>
				</div>
			</div>
			<div class="landing-billing-social">
				<a
					v-for="(social, indexSocial) in socialLinks"
					:key="indexSocial"
					:href="social.url"
					:rel="social.rel"
					class="landing-billing-social__link"
				>
					<img
						class="landing-billing-social__img"
						:src="social.imgSrc"
						:alt="social.name"
					/>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			menus: [
				{
					label: 'Tentang',
					link: '#about'
				},
				{
					label: 'Manfaat Fitur',
					link: '#feature'
				},
				{
					label: 'Produk',
					link: '#product'
				},
				{
					label: 'Tanya Jawab',
					link: '#qna'
				}
			],
			socialLinks: [
				{
					name: 'Facebook',
					imgSrc: '/assets/home-mobile/facebook_grey.png',
					url:
						'https://www.facebook.com/Mamikos-Cari-Kos-Gampang-1043376389026435/?fref=ts',
					rel: 'nofollow noopener'
				},
				{
					name: 'Twitter',
					imgSrc: '/assets/home-mobile/twitter_grey.png',
					url: 'https://twitter.com/mamikosapp',
					rel: 'nofollow noopener'
				},
				{
					name: 'Instagram',
					imgSrc: '/assets/home-mobile/instagram_grey.png',
					url: 'https://www.instagram.com/mamikosapp/',
					rel: 'nofollow noopener'
				}
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.landing-billing-footer {
	padding: 56px 15px;

	&__container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1300px;
		margin: 0 auto;

		@media (max-width: 1000px) {
			flex-wrap: wrap;
		}
	}
}

.landing-billing-brand {
	display: flex;
	align-items: center;
	width: 25%;

	@media (max-width: 1000px) {
		width: 100%;
		justify-content: center;
		margin-bottom: 40px;
	}

	&__image {
		height: 32px;
	}
}

.landing-billing-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;

	@media (max-width: 1000px) {
		width: 100%;
		margin-bottom: 35px;
	}

	&__list {
		margin: 0;
		padding: 0;

		@media (max-width: 1000px) {
			display: none;
		}

		&--mobile {
			text-align: center;
			display: none;

			@media (max-width: 1000px) {
				display: block;
			}
		}
	}

	&__item {
		display: inline;
		padding: 0 20px;

		@media (max-width: 1130px) {
			padding: 0 10px;
		}
	}

	&__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		color: #303030;

		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
			color: #303030;
		}
	}
}

.landing-billing-social {
	width: 15%;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 1000px) {
		width: 100%;
		justify-content: center;
	}

	&__link:nth-child(even) {
		margin: 0 30px;
	}

	&__img {
		height: 26px;
	}
}
</style>
