<template>
	<div id="faq" class="landing-billing-faq row">
		<div
			class="landing-billing-faq__content col-sm-12 col-md-6 col-md-offset-3"
		>
			<div class="title">
				<h1 class="main-title">Tanya Jawab</h1>
				<h4 class="sub-title">Pertanyaan yang sering ditanyakan</h4>
			</div>
			<div class="accordions">
				<accordion :one-at-atime="true">
					<panel v-for="(faq, index) in faqs" :key="index">
						<div
							slot="header"
							class="accordion-header"
							@click="faqClicked(index)"
						>
							<h2 class="title">
								{{ faq.question }}
							</h2>
							<div class="icon">
								<img
									v-lazy="`/general/img/icons/ic_chevron_down.svg`"
									alt="ic_chevron_down"
									:class="isActive(index)"
									class="arrow"
								/>
							</div>
						</div>
						<div class="accordion-description">
							{{ faq.answer }}
						</div>
					</panel>
				</accordion>
			</div>
			<div class="help">
				<span class="title"
					>Masih bingung? Jangan takut, Mamikos siap membantu Anda</span
				>
				<a href="https://help.mamikos.com/" target="_blank" rel="noopener">
					<button class="btn btn-mamigreen-inverse help-btn">
						Pusat Bantuan
					</button>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel
	},

	data() {
		return {
			faqs: [
				{
					question: 'Bagaimana cara mendaftar Manajemen Kos?',
					answer:
						'Untuk menikmati fitur Manajemen Kos, Anda dapat mendaftar ke salah satu produk Mamikos yang menyediakan fitur tersebut, yakni Booking Langsung atau Mamikos GoldPlus.'
				},
				{
					question:
						'Apakah saya bisa memakai Manajemen Kos tanpa membeli Booking Langsung atau GoldPlus?',
					answer:
						'Saat ini, Manajemen Kos masih tersedia dalam Booking Langsung dan Mamikos GoldPlus, sehingga Anda perlu mendaftar ke salah satu produk tersebut untuk memakai Manajemen Kos.'
				},
				{
					question:
						'Apakah saya dapat mengakses Manajemen Kos di dalam aplikasi maupun website?',
					answer:
						'Ya, Manajemen Kos tersedia dalam aplikasi dan website Mamikos.'
				}
			],
			activeAccordion: ''
		};
	},

	methods: {
		isActive(val) {
			return this.activeAccordion === val ? '--active' : '--closed';
		},
		faqClicked(val) {
			return val !== this.activeAccordion
				? (this.activeAccordion = val)
				: (this.activeAccordion = 'closed');
		}
	}
};
</script>

<style lang="scss" scoped>
.landing-billing-faq {
	display: block;
	margin: 38px 10px;
	height: auto;

	>>> .panel-default {
		padding: 0;
		border-color: transparent;

		> .panel-heading {
			padding: 0;
			background-color: #fff;
		}

		.panel-body {
			padding: 15px 0;
		}
	}

	&__content {
		.title {
			.main-title {
				padding: 0;
				font-weight: 900;
				font-size: 48px;
				line-height: 60px;
				text-align: center;

				/* stylelint-disable  */
				@media (max-width: 576px) {
					font-size: 32px;
				}
			}

			.sub-title {
				font-size: 20px;
				text-align: center;
				line-height: 30px;

				@media (max-width: 576px) {
					font-size: 16px;
				}
			}
		}

		.accordions {
			margin-top: 60px;

			@media (max-width: 576px) {
				margin-top: 20px;
			}
			.accordion-header {
				display: flex;
				justify-content: space-between;

				.title {
					padding-bottom: 24px;
					font-size: 24px;
					font-weight: bold;
					line-height: 32px;
				}

				.arrow {
					margin-top: 90%;
					margin-left: 10px;

					&.--active {
						transition: 0.5s ease-in-out;
						transform: rotate(180deg);
					}
					&.--closed {
						transition: 0.5s ease-in-out;
						transform: rotate(0deg);
					}
				}
			}
			.accordion-description {
				font-size: 16px;
				line-height: 24px;
			}
		}

		.help {
			text-align: center;
			display: block;
			align-content: center;

			.title {
				margin-bottom: 12px;
				font-size: 20px;
				font-weight: bold;
				line-height: 28px;
				display: block;

				@media (max-width: 576px) {
					font-size: 16px;
				}
			}

			.help-btn {
				margin: 20px auto;
				padding: 8px 24px;
				font-weight: bold;
				font-size: 16px;
				color: #1baa56;
				border-color: #1baa56;
				background-color: #fff;
				border-color: #e8e8e8;
				display: block;
			}
		}
	}
}
</style>
