<template>
	<section id="about" class="container landing-billing-info">
		<div class="landing-billing-text">
			<div class="landing-billing-text__container">
				<h1 class="landing-billing-text__title">Manajemen Kos</h1>
			</div>
			<div class="landing-billing-text__container">
				<p class="landing-billing-text__description">
					Mamikos membantu Anda mengurus berbagai aktivitas finansial dalam kos Anda, antara lain Kelola Tagihan, Kelola Penyewa, Kelola Booking dan Laporan Keuangan.
				</p>
			</div>
		</div>
		<div class="landing-billing-video" @click="playVideo">
			<img
				:src="`https://img.youtube.com/vi/${video}/0.jpg`"
				alt="landing_billing_mamikos"
			/>
		</div>
		<transition name="fade" mode="out-in">
			<div
				v-if="showVideo"
				class="landing-billing-video__modal"
				@click="closeModal"
			>
				<div class="landing-billing-video__close">
					<a @click="closeModal"
						><img src="/assets/banner/C/close.png" alt="close"
					/></a>
				</div>
				<div class="landing-billing-video__embed">
					<iframe :src="`https://www.youtube.com/embed/${video}`"></iframe>
				</div>
			</div>
		</transition>
	</section>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	mixins: [MixinIsMobile],

	data() {
		return {
			video: 'X4GY_uSflVU',
			showVideo: false
		};
	},

	methods: {
		playVideo() {
			if (this.isMobile) {
				window.open(`https://youtu.be/${this.video}`, '_blank', 'noopener');
			} else {
				this.showVideo = true;
			}
		},
		closeModal() {
			this.showVideo = false;
		}
	}
};
</script>

<style lang="scss" scoped>
.landing-billing-info {
	padding: 100px 15px;

	@media (max-width: 769px) {
		padding: 64px 15px;
	}
}

.landing-billing-text {
	display: flex;
	align-items: center;
	margin-bottom: 72px;

	@media (max-width: 769px) {
		flex-wrap: wrap;
		margin-bottom: 32px;
	}

	&__container {
		width: 50%;

		@media (max-width: 769px) {
			width: 100%;
		}
	}

	&__title {
		margin: 0;
		margin-right: 28px;
		font-weight: 900;
		font-size: 48px;
		line-height: 60px;

		@media (max-width: 769px) {
			margin-right: 0;
			margin-bottom: 24px;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__description {
		font-size: 20px;
		line-height: 30px;
		margin: 0;
	}
}

.landing-billing-video {
	height: 508px;
	position: relative;
	border-radius: 16px;
	justify-content: center;
	￼align-items: center;
	￼height: 100%;
	cursor: pointer;
	overflow: hidden;

	@media (max-width: 769px) {
		height: 40vw;
	}

	img {
		position: relative;
		transform: translateY(-50%);
		top: 50%;
		width: 100%;
		z-index: -1;
	}

	&:after {
		content: '';
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		background-image: url(/assets/icons/ic_video.png);
		background-size: cover;
		width: 50px;
		height: 50px;

		@media (max-width: 510px) {
			width: 20px;
			height: 20px;
		}
	}

	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 3;
	}

	&__close {
		position: absolute;
		right: 15px;
		top: 15px;
	}

	&__embed {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		iframe {
			border: none;
			width: 90%;
			height: 45vw;
			border-radius: 16px;
		}
	}
}
</style>
