<template>
	<div id="product" class="landing-billing-comparison">
		<div class="landing-billing-comparison__container">
			<div class="landing-billing-comparison-title">
				<h2>
					Pakai fiturnya dan nikmati mudahnya <br />
					mengelola kos
				</h2>
			</div>
			<div class="landing-billing-comparison-subtitle">
				<h3>
					Fitur Manajemen Kos tersedia dalam produk-produk Mamikos di bawah ini.
				</h3>
			</div>
			<div v-if="!isMobile" class="landing-billing-comparison-table-wrapper">
				<table>
					<thead>
						<tr>
							<th class="table-header-left"><h4>Fitur</h4></th>
							<th>
								<h4>Booking Langsung</h4>
							</th>
							<th>
								<h4>GoldPlus 1</h4>
							</th>
							<th>
								<h4>GoldPlus 2</h4>
							</th>
							<th>
								<h4>GoldPlus 3</h4>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(feature, index) in features" :key="index">
							<td>
								<div class="table-data-left">
									<div class="table-data-text" v-if="index < 5">
										{{ feature.name }}
									</div>
									<div class="table-data-text-left" v-if="index === 5">
										Bonus Top Up Saldo Premium
									</div>
									<!-- <div class="table-data-border-left" v-if="index === 6"></div> -->
									<div class="table-data-border" v-if="index === 6">
										<span class="table-data-text">Biaya Langganan</span> <br/> <div class="table-data-text-plain">100% Cashback menjadi Saldo Premium</div> 
									</div>
								</div>
							</td>
							<td class="table-data-icon">
								<div v-if="index < 5" class="tavle-data-icon-section">
									<img
										v-lazy="`/general/img/icons/ic_${feature.booking}_circle.svg`"
									/>
								</div>
								<div class="table-data-price" v-if="index === 5">
									Tidak tersedia
								</div>
								<!-- <div class="table-data-border" v-if="index === 6"></div> -->
								<div class="table-data-border" v-if="index === 6">
									<span class="table-data-price">-</span>
								</div>
								<div v-if="index === 7">
									<a href="https://mamikos.com/booking/owner" target="_blank">
										<button class="table-button">Cek Sekarang</button>
									</a>
								</div>
							</td>
							<td class="table-data-icon">
								<div v-if="index < 5" class="tavle-data-icon-section">
									<img
										v-lazy="`/general/img/icons/ic_${feature.goldplus1}_circle.svg`"
									/>
								</div>
								<div class="table-data-price" v-if="index === 5">
									10%
								</div>
								<!-- <div class="table-data-border" v-if="index === 6"></div> -->
								<div class="table-data-border" v-if="index === 6">
									<span class="table-data-price">Rp59.000</span><br/> 
									<span class="table-data-price-plain">per bulan</span> 
								</div>
								<div v-if="index === 7">
									<a
										href="https://mamikos.com/goldplus/paket1/"
										target="_blank"
									>
										<button class="table-button">Cek Sekarang</button>
									</a>
								</div>
							</td>
							<td class="table-data-icon">
								<div v-if="index < 5" class="tavle-data-icon-section">
									<img
										v-lazy="`/general/img/icons/ic_${feature.goldplus2}_circle.svg`"
									/>
								</div>
								<div class="table-data-price" v-if="index === 5">
									15%
								</div>
								<!-- <div class="table-data-border" v-if="index === 6"></div> -->
								<div class="table-data-border" v-if="index === 6">
									<span class="table-data-price">Rp145.000</span> <br/>
									<span class="table-data-price-plain">per bulan</span> 
								</div>
								<div v-if="index === 7">
									<a
										href="https://mamikos.com/goldplus/paket2/"
										target="_blank"
									>
										<button class="table-button">Cek Sekarang</button>
									</a>
								</div>
							</td>
							<td class="table-data-icon">
								<div v-if="index < 5" class="tavle-data-icon-section">
									<img
										v-lazy="`/general/img/icons/ic_${feature.goldplus3}_circle.svg`"
									/>
								</div>
								<div class="table-data-price" v-if="index === 5">
									30%
								</div>
								<!-- <div class="table-data-border" v-if="index === 6"></div> -->
								<div class="table-data-border" v-if="index === 6">
									<span class="table-data-price">Rp500.000</span><br/>
									<span class="table-data-price-plain">per bulan</span> 
								</div>
								<div v-if="index === 7">
									<a
										href=" https://mamikos.com/goldplus/paket3/"
										target="_blank"
									>
										<button class="table-button">Cek Sekarang</button>
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div 
				v-if="isMobile" 
				class="landing-billing-comparison-table-mobile-container"
			>
			<div
				id="landingBillingMobileId"
				class="landing-billing-comparison-table-mobile-wrapper"
			><swiper class="swiper" :options="swiperOption">
					<swiper-slide v-for="(mobileFeature, i) in mobileFeatures" :key="'table'+i">
					<table>
					<tr v-for="(tabelHead, i) in mobileFeature.tabelHeads" :key="'head'+i">
						<td class="table-title" colspan="2">
							<h5 class="table-title-feature">Fitur</h5>
							<h4>{{tabelHead.title}}</h4>
						</td>
					</tr>
					<tr v-for="(tabel, i) in mobileFeature.tabels" :key="'content'+i">
						<td class="table-text">
							{{ tabel.name }}
						</td>
						<td class="table-content">
							<div v-if="i < 5">
							<img v-lazy="`/general/img/icons/ic_${tabel.check}_circle.svg`" />
							</div>
							<div class="table-content__bonus" v-if="i === 5">
								{{tabel.saldo}}
							</div>
						</td>
					</tr>
					<tr v-for="(price, i) in mobileFeature.prices" :key="'price'+i">
						<td class="table-price-section" colspan="2">
							<div class="table-price-section__wrapper">
								<span class="table-price-section__price-caption">
									Biaya Langganan
								</span> <br>
								<div class="table-price-section__price-subcaption">
									100% Cashback menjadi Saldo Premium</div>	
								<span class="table-price-section__price-tag">
									{{price.priceData}}
								</span> 
								<span v-if="`${price.priceData}` != '-'" class="table-price-section__monthly">per bulan</span>
							</div>
						</td>
					</tr>
					<tr v-for="(link, i) in mobileFeature.links" :key="'link'+i">
						<td class="table-content-button" colspan="2">
							<div>
								<a :href="link.url" target="_blank">
									<button class="table-button-mobile">
										Cek Sekarang
									</button>
								</a>
							</div>
						</td>
					</tr>
					</table>
					</swiper-slide>
					<div class="swiper-pagination-comparison" slot="pagination"></div>
				</swiper>
			</div>

			</div>
		</div>
	</div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import 'swiper/dist/css/swiper.css';

export default {
	components: {
		swiper,
		swiperSlide
	},
	data() {
		return {
			swiperOption: {
					slidesPerView: 1,
					centeredSlides: true,
          spaceBetween: 30,
          pagination: {
            el: '.swiper-pagination-comparison',
            clickable: true
          }
        },
			features: [
				{
					name: 'Manajemen Kos',
					booking: 'checkmark',
					goldplus1: 'checkmark',
					goldplus2: 'checkmark',
					goldplus3: 'checkmark'
				},
				{
					name: 'Laporan Statistik',
					booking: 'x-mark',
					goldplus1: 'checkmark',
					goldplus2: 'checkmark',
					goldplus3: 'checkmark'
				},
				{
					name: 'Premium',
					booking: 'x-mark',
					goldplus1: 'checkmark',
					goldplus2: 'checkmark',
					goldplus3: 'checkmark'
				},
				{
					name: 'Cek Properti Sekitar',
					booking: 'x-mark',
					goldplus1: 'checkmark',
					goldplus2: 'checkmark',
					goldplus3: 'checkmark'
				},
				{
					name: 'Account Manager',
					booking: 'x-mark',
					goldplus1: 'x-mark',
					goldplus2: 'x-mark',
					goldplus3: 'checkmark'
				},
				{
					name: '',
					booking: '',
					goldplus1: '',
					goldplus2: '',
					goldplus3: ''
				},
				{
					name: '',
					booking: '',
					goldplus1: '',
					goldplus2: '',
					goldplus3: ''
				},
				{
					name: '',
					booking: '',
					goldplus1: '',
					goldplus2: '',
					goldplus3: ''
				},
			],

			mobileFeatures: [
				{
					tabelHeads: [
						{
							title: 'Booking Langsung'
						}
					],
					prices:[
						{
							priceData: '-'
						}
					],
					links:[
						{
							url: 'https://mamikos.com/booking/owner'
						}
					],
					tabels: [
						{
							name: 'Manajemen Kos',
							check: 'checkmark'
						},
						{
							name: 'Laporan Statistik',
							check: 'x-mark'
						},
						{
							name: 'Premium',
							check: 'x-mark'
						},
						{
							name: 'Cek Properti Sekitar',
							check: 'x-mark'
						},
						{
							name: 'Account Manager',
							check: 'x-mark'
						},
						{
							name: 'Bonus Top Up Saldo Premium',
							saldo: 'Tidak Tersedia'
						},
					]
				},
				{
					tabelHeads: [
						{
							title: 'GoldPlus 1',
						}
					],
					prices:[
						{
							priceData: 'Rp59.000'
						}
					],
					links:[
						{
							url: 'https://mamikos.com/goldplus/paket1/'
						}
					],
					tabels: [
						{
							name: 'Manajemen Kos',
							check: 'checkmark'
						},
						{
							name: 'Laporan Statistik',
							check: 'checkmark'
						},
						{
							name: 'Premium',
							check: 'checkmark'
						},
						{
							name: 'Cek Properti Sekitar',
							check: 'checkmark'
						},
						{
							name: 'Account Manager',
							check: 'x-mark'
						},
						{
							name: 'Bonus Top Up Saldo Premium',
							saldo: '10%'
						},
					]
				},
				{
					tabelHeads: [
						{
							title: 'GoldPlus 2',
						}
					],
					prices:[
						{
							priceData: 'Rp145.000'
						}
					],
					links:[
						{
							url: 'https://mamikos.com/goldplus/paket2/'
						}
					],
					tabels: [
						{
							name: 'Manajemen Kos',
							check: 'checkmark'
						},
						{
							name: 'Laporan Statistik',
							check: 'checkmark'
						},
						{
							name: 'Premium',
							check: 'checkmark'
						},
						{
							name: 'Cek Properti Sekitar',
							check: 'checkmark'
						},
						{
							name: 'Account Manager',
							check: 'x-mark'
						},
						{
							name: 'Bonus Top Up Saldo Premium',
							saldo: '15%'
						},
					]
				},
				{
					tabelHeads: [
						{
							title: 'GoldPlus 3'
						}
					],
					prices:[
						{
							priceData: 'Rp500.000'
						}
					],
					links:[
						{
							url: 'https://mamikos.com/goldplus/paket3/'
						}
					],
					tabels: [
						{
							name: 'Manajemen Kos',
							check: 'checkmark'
						},
						{
							name: 'Laporan Statistik',
							check: 'checkmark'
						},
						{
							name: 'Premium',
							check: 'checkmark'
						},
						{
							name: 'Cek Properti Sekitar',
							check: 'checkmark'
						},
						{
							name: 'Account Manager',
							check: 'checkmark'
						},
						{
							name: 'Bonus Top Up Saldo Premium',
							saldo: '30%'
						},
					]
				}
			]
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	}
};
</script>

<style lang="scss">
.swiper-pagination-comparison {
	text-align: center;
	z-index: 1;
	color: #e8e8e8;
	position: relative;
	margin-top: -10px;

	&-bullet {
		background-color: #DADADA;
	}

	&-bullet-active {
		background-color: #1baa56;
	}
}
</style>

<style lang="scss" scoped>
.landing-billing-comparison {
	background-color: #303030;
	padding: 100px 0px 100px 0px;

	@media (max-width: 769px) {
			padding: 65px 0px 80px 0px;
		}
		
	&__container {
		h2 {
			font-weight: 900;
			font-size: 48px;
			line-height: 60px;
			color: white;

			@media (max-width: 769px) {
				font-size: 32px;
				line-height: 40px;
			}
		}

		h3 {
			font-size: 20px;
			font-weight: normal;
			line-height: 30px;
			color: white;

			@media (max-width: 769px) {
				font-size: 20px;
				line-height: 30px;
			}
		}

		h4 {
			font-weight: 900;
			font-size: 24px;
			line-height: 32px;
		}

		p {
			font-weight: normal;
			font-size: 20px;
			line-height: 30px;
		}

		.landing-billing-comparison-title {
			text-align: center;
		}

		.landing-billing-comparison-subtitle {
			text-align: center;

			@media (max-width: 769px) {
				padding: 0px 15px;
			}
		}

		.landing-billing-comparison-table-wrapper {
			margin-top: 50px;

			table {
				background-color: white;
				padding-left: 15px;
				width: 80%;
				margin: auto;
				margin-bottom: 100px;
				border-radius: 8px;
			}

			table,
			td,
			th {
				border: 0px solid #e8e8e8;
			}

			.table-header-left {
				border-left: 0px solid #e8e8e8;
			}

			th {
				text-align: center;
				width: 249px;
				height: 100px;
				border-left: 1px solid #e8e8e8;
				border-bottom: 1px solid #e8e8e8;
			}

			td {
				height: 50px;
				width: 249px;
			}

			.table-data-text {
				font-weight: bold;
				font-size: 20px;
				padding-left: 16px;
			}

			.table-data-text-left {
				font-weight: bold;
				font-size: 20px;
				padding-left: 16px;
				padding-bottom: 15px;
				padding-top: 10px;
			}

			.table-data-text-plain {
				font-size: 16px;
				padding-left: 16px;
			}

			.table-data-icon {
				text-align: center;
				border-left: 1px solid #e8e8e8;
				padding: 0px;
			}

			.table-data-left {
				min-width: 200px;
			}

			.table-button {
				padding: 12px 16px;
				width: 190px;
				background-color: white;
				color: #1baa56;
				border: 2px solid #1baa56;
				border-radius: 4px;
				margin-bottom: 24px;
			}

			.table-data-price{
				font-weight: bold;
				font-size: 20px;
				padding-bottom: 15px;
				padding-top: 10px;
			}

			.table-data-price-plain{
				font-size: 20px;
			}

			.table-data-border{
				border-top: 1px solid #e8e8e8;
				font-size: 20px;
				height: 90px;
				padding: 15px 0px;
				margin-bottom: 40px;
			}
		}

		.landing-billing-comparison-table-mobile-wrapper::-webkit-scrollbar {
			display: none;
		}

		.swiper{
			padding-right: 10px;
		}

		.swiper-slide {
    width: 60%;
		}
		.swiper-slide:nth-child(2n) {
			width: 60%;
		}
		.swiper-slide:nth-child(3n) {
			width: 60%;
		}

		.landing-billing-comparison-table-mobile-wrapper {
      display: flex;
			padding: 0px 20px 0px 8px;
			width: auto;
			overflow: visible;

			table {
				background-color: white;
				width: 85vw;
				margin: auto;
				margin-top: 32px;
				margin-bottom: 25px;
				margin-left: 20px;
				border-radius: 8px;
				margin-right: 20px;
			}

			td {
				width: 100px;
				height: 60px;
			}

			.table-title {
				padding-left: 15px;
				height: 115px;
			}

			.table-title-feature {
				font-size: 17px;
				font-weight: 700;
			}

			.table-button-mobile {
				width: 90%;
				padding: 12px 54px 12px 54px;
				background-color: white;
				color: #1baa56;
				border: 2px solid #1baa56;
				border-radius: 4px;
				margin: 25px 0px;
				font-size: 20px;
				font-weight: 700;
			}

			.table-text {
				font-weight: 700;
				padding-left: 15px;
				font-size: 16px;
			}

			.table-content {
				text-align: center;
				padding: 0px 45px;

				&__bonus{
					font-size: 16px;
					font-weight: 700;
					width: 100%;
				}
			}

			.table-price-section{
				padding: 10px 15px 0px 15px;

				&__wrapper{
				border-top: 1px solid #e8e8e8;
				margin-top: 10px;
				padding-top: 10px;
				}

				&__price-caption{
					font-size: 16px;
					font-weight: 700;
				}

				&__price-subcaption{
					font-size: 16px;
					margin-bottom: 10px;
				}

				&__price-tag{
					font-size: 24px;
					font-weight: 700;
				}

				&__monthly{
					font-size: 16px;
				}
			}

      .table-content-button{
        text-align: center;
        border: 0px solid #e8e8e8;
				}
			}
	}
}
</style>
