<template>
	<div
		id="manageActiveMamipay"
		class="mamipay-activation-section"
		:class="{
			'green-background': isIntro
		}"
	>
		<manage-intro-slider
			v-if="isIntro"
			@skipSlide="goToForm"
		></manage-intro-slider>
		<manage-form-register v-else></manage-form-register>
	</div>
</template>

<script>
import ManageFormRegister from './ManageFormRegister';
import ManageIntroSlider from './ManageIntroSlider';
import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		ManageFormRegister,
		ManageIntroSlider
	},

	data() {
		return {
			isIntro: true
		};
	},

	created() {
		this.listenEventBus();
		this.$store.commit(
			'setIsFromGoldPlusFlow',
			this.$route.query['gp-flow'] === 'true'
		);
	},

	methods: {
		goToForm() {
			this.isIntro = false;
		},
		listenEventBus() {
			/* istanbul ignore next */
			EventBus.$on('backToIntro', () => {
				this.isIntro = true;
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.mamipay-activation-section {
	height: 100vh;
	background-color: #fcfcfc;

	&.green-background {
		background-color: #21c164;
	}
}
</style>
