<template>
	<div id="manageIntroSlider" class="mamipay-activation-intro">
		<div class="mamipay-activation-intro__container">
			<div class="wrapper-image-slider">
				<div v-for="(img, i) in imageSlide" :key="i" class="image-slider">
					<div v-if="indexImage == i">
						<a v-if="!isAutoBBK" class="skip-link" @click="skipSlide">Lewati</a>
						<form
							v-else-if="isAutoBBK"
							action="/input-properti?autobbk=1"
							method="POST"
						>
							<input type="hidden" name="_token" :value="token" />
							<input type="hidden" name="property_type" value="Kost" />
							<input type="hidden" name="input_as" value="Pemilik Kos" />
							<input type="hidden" name="phone_number" :value="ownerPhone" />
							<button
								type="submit"
								class="skip-link --button"
								data-path="btn_skipToInputProperti"
							>
								Lewati
							</button>
						</form>
						<img v-lazy="img" alt="Booking KYC" />
					</div>
				</div>
			</div>

			<div class="wrapper-text-slider">
				<div class="text-slider">
					<swiper
						ref="mySwiper"
						:options="swiperOption"
						@slideChange="slideFormation"
					>
						<swiper-slide
							v-for="(text, i) in textSlide"
							:key="i"
							class="custom-slider"
						>
							<h1>{{ text.header }}</h1>
							<p>{{ text.description }}</p>
						</swiper-slide>
						<div slot="pagination" class="swiper-pagination"></div>
					</swiper>
					<form
						v-if="isAutoBBK && isLastSlide"
						action="/input-properti?autobbk=1"
						method="POST"
					>
						<input type="hidden" name="_token" :value="token" />
						<input type="hidden" name="property_type" value="Kost" />
						<input type="hidden" name="input_as" value="Pemilik Kos" />
						<input type="hidden" name="phone_number" :value="ownerPhone" />
						<button
							type="submit"
							class="next-link --button"
							data-path="btn_nextToInputProperti"
						>
							<span>{{ nextSlideTextContent }}</span>
							<img
								v-if="!navigator.isMobile"
								v-lazy="'/general/img/icons/ic_arrow-right-button_s.svg'"
								alt="arrow next"
							/>
						</button>
					</form>
					<a
						v-else
						data-path="btn_mamipayIntroNextSlide"
						class="next-link"
						@click="nextSlide"
					>
						<span>{{ nextSlideTextContent }}</span>
						<img
							v-if="!navigator.isMobile"
							v-lazy="'/general/img/icons/ic_arrow-right-button_s.svg'"
							alt="arrow next"
						/>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import MixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import * as storage from 'Js/@utils/storage';

export default {
	components: {
		swiper,
		swiperSlide
	},

	mixins: [MixinGetQueryString],

	data() {
		return {
			indexImage: 0,
			imageSlide: [
				'/general/img/pictures/mamipay/owner/slider/image_slider-01.png',
				'/general/img/pictures/mamipay/owner/slider/image_slider-02.png',
				'/general/img/pictures/mamipay/owner/slider/image_slider-03.png'
			],
			textSlide: [
				{
					header: 'Kelola Booking dari Pencari Kos',
					description:
						'Di fitur ini, Anda juga bisa memproses atau menolak pengajuan sewa dari Pencari Kos, tanpa harus bertatap muka.'
				},
				{
					header: 'Beragam Metode Pembayaran',
					description:
						'Penyewa bisa mudah bayar Kos dengan transfer bank, virtual account, bahkan Alfamart. Anda cukup melihat status pembayaran dan terima pembayaran di rekening Anda.'
				},
				{
					header: 'Pencairan Dana 1x24 Jam',
					description:
						'Untuk keamanan transaksi, uang sewa akan diteruskan pada Anda 1 hari setelah penyewa check-in.'
				}
			],
			swiperOption: {
				pagination: {
					el: '.swiper-pagination'
				}
			}
		};
	},

	computed: {
		nextSlideTextContent() {
			return navigator.isMobile ? 'Lanjutkan' : 'Selanjutnya';
		},
		isAutoBBK() {
			return (
				this.getQueryString('autobbk') && this.getQueryString('autobbk') === '1'
			);
		},
		token() {
			return this.$store.state.token;
		},
		ownerPhone() {
			return this.$store.state.authData.all.phone_number;
		},
		isLastSlide() {
			return this.indexImage === this.imageSlide.length - 1;
		}
	},

	created() {
		this.trackVisitPage();
	},

	methods: {
		nextSlide() {
			if (this.isLastSlide) {
				this.skipSlide();
			} else {
				this.$refs.mySwiper.swiper.slideNext();
			}
		},
		skipSlide() {
			this.$emit('skipSlide', true);
		},
		slideFormation() {
			this.indexImage = this.$refs.mySwiper.swiper.activeIndex;
		},
		async trackVisitPage() {
			const redirectionSource = storage.local.getItem(
				'activate_booking_redirection_source'
			);

			await tracker('moe', [
				'[Owner] Activation BBK - Onboarding Booking Screen Viewed',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					redirection_source: redirectionSource || 'deeplink'
				}
			]);

			if (redirectionSource)
				storage.local.removeItem('activate_booking_redirection_source');
		}
	}
};
</script>

<style lang="scss">
#manageIntroSlider {
	.swiper-container {
		height: 262px;
		position: relative;
	}

	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-container-horizontal > .swiper-pagination-bullets {
		left: -179px;
		position: absolute;
		bottom: 0px;

		@media (max-width: 767px) {
			left: -41%;
		}
	}

	.swiper-pagination-bullet-active {
		background: #ffffff;
	}

	.custom-slider {
		font-size: 21px;

		> h1 {
			margin-top: 3.9rem;
			margin-bottom: 2rem;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			color: #fff;
		}

		> p {
			font-size: 16px;
			line-height: 24px;
			color: #fff;
		}

		@media (max-width: 767px) {
			width: 100%;

			> h1 {
				font-size: 16px;
				line-height: 24px;
			}

			> p {
				font-size: 14px;
				line-height: 21px;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.mamipay-activation-intro {
	height: 100vh;
	background-color: #1fb960;

	&__container {
		background-color: #21c164;
	}
}

.wrapper-image-slider {
	width: 100%;
	margin: 0 auto;
	height: 681px;
	overflow: hidden;

	.image-slider {
		margin: 0 auto;

		@media (min-width: 768px) {
			width: 463px;
		}

		img {
			width: 100%;
			position: relative;
		}
	}
}

.wrapper-text-slider {
	width: 100%;
	background-color: #1fb960;
	height: 50%;
	position: relative;
	margin-top: -220px;

	@media (max-width: 767px) {
		margin-top: -300px;
	}

	.text-slider {
		margin: 0 auto;
		background-color: #1fb960;
		height: 100%;

		@media (max-width: 767px) {
			padding: 0 12% 10%;
		}

		@media (min-width: 768px) {
			width: 405px;
		}
	}
}

.skip-link {
	color: #fff;
	float: right;
	position: relative;
	bottom: -35px;
	left: -44px;
	z-index: 1;
}

.next-link {
	color: #fff;
	float: right;
	position: relative;
	top: -25px;
	z-index: 1;
	font-weight: 600;
	> span {
		margin-right: 1rem;
	}
}

.skip-link,
.next-link {
	&.--button {
		background: transparent;
		border: 0;
	}
}
</style>
