<template>
	<div id="manageFormRegister" class="mamipay-activation-register">
		<manage-active-mamipay-navbar />

		<div class="mamipay-activation-register__wrapper">
			<div class="mamipay-activation-register__header">
				<h1 class="mamipay-activation-register__header-title">
					Lengkapi data diri anda
				</h1>
				<p class="mamipay-activation-register__header-text">
					Data yang diisi adalah syarat pendaftaran Kos untuk fitur Booking
					Langsung.
				</p>
			</div>

			<manage-active-mamipay-form-wrapper
				:additional-error="formAdditionalError"
				@submit="submitMamipayActivation"
			/>
		</div>
	</div>
</template>

<script>
import ManageActiveMamipayNavbar from './ManageActiveMamipayNavbar';
import ManageActiveMamipayFormWrapper from './ManageActiveMamipayFormWrapper';

export default {
	components: {
		ManageActiveMamipayNavbar,
		ManageActiveMamipayFormWrapper
	},
	data() {
		return {
			formAdditionalError: null
		};
	},
	methods: {
		submitMamipayActivation(payload) {
			this.openSwalLoading();

			axios
				.post('auth/owner/ver2/register-bbk', payload)
				.then(response => {
					if (response.data.status) {
						this.trackActivationSubmitted(payload);
						this.$router.push('/all/property-list');
					} else {
						const errorFields = [
							'name',
							'bank_name',
							'bank_account_number',
							'bank_account_owner'
						];
						const returnedErrorKeyName = Object.keys(response.data.messages)[0];

						if (errorFields.indexOf(returnedErrorKeyName) > -1) {
							this.formAdditionalError = {
								field: returnedErrorKeyName,
								messages: response.data.messages[returnedErrorKeyName]
							};
						}
					}

					this.closeSwalLoading();
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		trackActivationSubmitted(ownerData) {
			tracker('moe', [
				'[Owner] Activation BBK - Personal Identity Submitted',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: ownerData.name,
					owner_phone_number: this.$store.state.authData.all.phone_number,
					bank_id: ownerData.bank_name,
					account_name: ownerData.bank_account_owner
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.mamipay-activation-register {
	background-color: #fcfcfc;

	&__wrapper {
		width: 376px;
		padding: 88px 0 60px;
		margin: 0 auto;

		@media (max-width: 767px) {
			width: 90%;
			padding-top: 60px;
		}
	}

	&__header {
		padding-bottom: 20px;

		&-title {
			font-size: 24px;
			font-weight: bold;
			line-height: 36px;
			color: #242424;
		}

		&-text {
			font-size: 14px;
			line-height: 21px;
			color: #484848;
		}
	}
}
</style>
