<template>
	<div class="mamipay-activation-form-wrapper">
		<mami-text-field
			v-model="ownerName"
			v-validate="ownerNameRules"
			data-vv-name="owner_name"
			input-label="Nama Lengkap"
			input-name="Nama Lengkap"
			input-type="text"
			input-placeholder="Masukkan nama lengkap"
			is-required
			:error-messages="errors.collect('owner_name')"
			class="mamipay-activation-form-wrapper__input-group"
		/>
		<mami-text-field
			v-model="bankAccountNumber"
			v-validate="bankAccountNumberRules"
			data-vv-name="bank_account_number"
			input-label="Nomor Rekening"
			input-name="Nomor Rekening"
			input-type="text"
			input-placeholder="Masukkan nomor rekening"
			is-required
			:error-messages="errors.collect('bank_account_number')"
			class="mamipay-activation-form-wrapper__input-group"
		/>
		<mami-autocomplete
			v-model="bankNameValue"
			v-validate="bankNameRules"
			data-vv-name="bank_name"
			input-label="Nama Bank"
			input-name="Nama Bank"
			input-placeholder="Masukkan nama bank"
			:items="bankList"
			item-value="key"
			item-text="bank_name"
			is-required
			:error-messages="errors.collect('bank_name')"
			class="mamipay-activation-form-wrapper__input-group"
			@select="onSelectedBankName"
		/>
		<mami-text-field
			v-model="bankAccountOwnerName"
			v-validate="ownerNameRules"
			data-vv-name="bank_account_owner"
			input-label="Nama Pemilik Rekening"
			input-name="Nama Pemilik Rekening"
			input-type="text"
			input-placeholder="Masukkan nama pemilik rekening"
			is-required
			:error-messages="errors.collect('bank_account_owner')"
			class="mamipay-activation-form-wrapper__input-group"
		/>
		<mami-info variant="success" size="small" icon="info" is-rounded>
			Pastikan data rekening yang Anda isi benar dan sesuai dengan rekening yang
			Anda tuju.
		</mami-info>
		<mami-checkbox
			v-model="isAgree"
			:disabled="!inputIsValid"
			class="mamipay-activation-form-wrapper__agreement-checkbox"
			@checkbox-clicked="checkboxIsClicked"
		>
			<div
				class="mamipay-activation-form-wrapper__agreement-checkbox-description"
			>
				Saya menyetujui
				<a
					href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=mamipay&slug=mamipay"
					target="_blank"
					rel="noopener"
					@click="trackTnCClicked"
				>
					kebijakan privasi MamiPAY
				</a>
			</div>
		</mami-checkbox>
		<button
			class="btn mamipay-activation-form-wrapper__submit-button"
			:class="submitButtonClassNamesObject"
			:disabled="!formIsValid"
			data-path="btn_submitMamipayActivation"
			@click="onSubmitForm"
		>
			Lanjutkan
		</button>
	</div>
</template>

<script>
/* istanbul ignore next */
const MamiTextField = () =>
	import('Js/@components/mami-components/MamiTextField');
/* istanbul ignore next */
const MamiAutocomplete = () =>
	import('Js/@components/mami-components/MamiAutocomplete');
/* istanbul ignore next */
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');
/* istanbul ignore next */
const MamiCheckbox = () =>
	import('Js/@components/mami-components/MamiCheckbox');

export default {
	name: 'ManageActiveMamipayFormWrapper',
	components: {
		MamiTextField,
		MamiAutocomplete,
		MamiInfo,
		MamiCheckbox
	},
	props: {
		additionalError: {
			type: Object,
			default() {
				return {
					field: '',
					messages: ''
				};
			}
		}
	},
	data() {
		return {
			ownerName: null,
			bankAccountNumber: null,
			bankNameValue: null,
			bankNameText: '',
			bankAccountOwnerName: null,
			isAgree: false,
			bankNameIsSelected: false,
			lettersOnlyPattern: /^[a-zA-Z ]*$/,
			numbersOnlyPattern: /^[0-9]*$/,
			defaultRequiredRuleMessage: 'Wajib diisi'
		};
	},
	computed: {
		bankList() {
			return this.$store.state.bankList;
		},
		ownerNameRules() {
			return {
				required: true,
				min: 3,
				max: 50,
				regex: this.lettersOnlyPattern
			};
		},
		bankAccountNumberRules() {
			return {
				required: true,
				max: 25,
				regex: this.numbersOnlyPattern
			};
		},
		bankNameRules() {
			return {
				required: true,
				bank_name_unavailable: true
			};
		},
		ownerNameCustomErrorMessages() {
			return {
				required: this.defaultRequiredRuleMessage,
				min: this.customCharacterCountRuleMessage('Minimal', 3),
				max: this.customCharacterCountRuleMessage('Maksimal', 50),
				regex: 'Hanya diisi dengan huruf'
			};
		},
		dictionary() {
			/**
			 * Initialize custom validation messages.
			 */
			return {
				custom: {
					owner_name: this.ownerNameCustomErrorMessages,
					bank_account_number: {
						required: this.defaultRequiredRuleMessage,
						max: this.customCharacterCountRuleMessage('Maksimal', 25),
						regex: 'Hanya diisi dengan angka'
					},
					bank_name: {
						required: this.defaultRequiredRuleMessage
					},
					bank_account_owner: this.ownerNameCustomErrorMessages
				}
			};
		},
		inputIsValid() {
			return (
				!this.errors.items.length &&
				this.ownerName &&
				this.bankAccountNumber &&
				this.bankAccountOwnerName
			);
		},
		formIsValid() {
			return this.inputIsValid && this.isAgree;
		},
		submitButtonClassNamesObject() {
			return {
				'btn-primary': this.formIsValid,
				'btn-disabled': !this.formIsValid
			};
		},
		token() {
			return this.$store.state.token;
		},
		registeredOwnerName() {
			return this.$store.state.authData.all.name || '';
		},
		registeredOwnerNameIsValid() {
			const isCharsLengthMatched =
				this.registeredOwnerName.length >= 3 &&
				this.registeredOwnerName.length <= 50;
			const isLettersOnly = this.lettersOnlyPattern.test(
				this.registeredOwnerName
			);

			return isCharsLengthMatched && isLettersOnly;
		},
		ownerPayload() {
			return {
				_token: this.token,
				registration_type: 'update',
				user_id: this.$store.state.authData.all.id,
				name: this.ownerName,
				bank_name: this.bankNameValue,
				bank_account_number: this.bankAccountNumber,
				bank_account_owner: this.bankAccountOwnerName
			};
		}
	},
	watch: {
		inputIsValid(value) {
			if (this.isAgree && !value) this.isAgree = false;
		},
		bankNameValue(value) {
			if (this.bankNameIsSelected) this.bankNameIsSelected = false;
			else this.bankNameText = value;
		},
		additionalError(value) {
			if (value) this.addNewError(value.field, value.messages);
		}
	},
	created() {
		this.trackVisitPage();
	},
	mounted() {
		this.$validator.localize('id', this.dictionary);
		this.extendValidationRules();
		this.fillOwnerNameField();
		this.fetchBankList();
	},
	methods: {
		trackVisitPage() {
			tracker('moe', [
				'[Owner] Activation BBK - Form Request Visited',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.registeredOwnerName
				}
			]);
		},
		trackTnCClicked() {
			tracker('moe', [
				'[Owner] Activation BBK - TnC Mamipay Clicked',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.registeredOwnerName
				}
			]);
		},
		extendValidationRules() {
			this.$validator.extend('bank_name_unavailable', {
				getMessage: field => 'Nama bank tidak ditemukan',
				validate: value => {
					return this.bankList.some(item =>
						item.bank_name
							.toLowerCase()
							.includes(this.bankNameText.toLowerCase())
					);
				}
			});
		},
		fetchBankList() {
			this.openSwalLoading();

			this.$store
				.dispatch('fetchBankList')
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				})
				.finally(() => {
					this.closeSwalLoading();
				});
		},
		fillOwnerNameField() {
			if (this.registeredOwnerNameIsValid)
				this.ownerName = this.registeredOwnerName;
		},
		customCharacterCountRuleMessage(rule, count) {
			return `${rule} diisi dengan ${count} karakter`;
		},
		onSelectedBankName() {
			this.bankNameIsSelected = true;
		},
		addNewError(field, messages) {
			this.errors.add({
				scope: null,
				field: field,
				msg: messages
			});
		},
		checkboxIsClicked() {
			if (!this.inputIsValid) {
				this.$toasted.show('Anda belum melengkapi data', {
					theme: 'toasted-primary',
					className: 'booking-toasted-default',
					position: 'bottom-center',
					duration: 1500
				});
			}
		},
		onSubmitForm() {
			this.$emit('submit', this.ownerPayload);
		}
	}
};
</script>

<style lang="scss" scoped>
.mamipay-activation-form-wrapper {
	position: relative;

	&__input-group {
		margin-bottom: 24px;
	}

	&__agreement-checkbox {
		margin: 24px 0 16px;

		&-description {
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__submit-button {
		width: 100%;
		padding: 12px 0;
		margin-bottom: 12px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		border: 0;
	}
}
</style>
