<template>
	<div class="copy-code-card">
		<div class="copy-code-text">
			<div class="copy-code-text__container">
				<p class="copy-code-text__label" :class="classText">
					Kode Voucher
				</p>
				<p class="copy-code-text__code" :class="classText">
					{{ voucherCode }}
				</p>
			</div>
			<div class="copy-code-text__icon">
				<img v-lazy="`/general/img/icons/${ticketIcon}`" alt="ticket_icon" />
			</div>
		</div>
		<button
			class="copy-code-card__button"
			:class="classButton"
			:disabled="!isAvailable"
			@click="copyPromoCode"
		>
			<transition name="fade">
				<span v-if="showTooltip" class="copy-code-card__tooltip">{{
					tooltipMessage
				}}</span>
			</transition>

			Salin Kode
		</button>
	</div>
</template>

<script>
import mixinVoucherTracker from '../../mixins/mixinVoucherTracker';

export default {
	mixins: [mixinVoucherTracker],

	props: {
		voucherId: {
			type: Number,
			required: true
		},
		voucherCode: {
			type: String,
			required: true
		},
		isAvailable: {
			type: Boolean,
			required: true
		}
	},

	data() {
		return {
			showTooltip: false,
			tooltipMessage: undefined
		};
	},

	computed: {
		ticketIcon() {
			return this.isAvailable
				? 'ic_voucher_detail_active.svg'
				: 'ic_voucher_detail_disable.svg';
		},

		classText() {
			return this.isAvailable ? 'text-active' : 'text-disable';
		},

		classButton() {
			return this.isAvailable ? 'button-active' : 'button-disable';
		}
	},

	methods: {
		copyPromoCode(e) {
			this.$copyText(this.voucherCode).then(
				e => {
					tracker('moe', [
						'[User] Voucher Code Copied',
						{
							user_id: this.authData.all.id,
							voucher_id: this.voucherId,
							voucher_code: this.voucherCode,
							source_page: 'voucher detail'
						}
					]);

					this.promoCodeCopied('Kode berhasil disalin');
				},
				e => {
					this.promoCodeCopied('Gagal salin kode voucher');
				}
			);
		},
		promoCodeCopied(message) {
			if (!this.copying) {
				this.copying = true;

				this.tooltipMessage = message;
				this.showTooltip = true;

				setTimeout(() => (this.showTooltip = false), 1000);

				setTimeout(() => (this.copying = false), 1500);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.copy-code-card {
	margin-top: 32px;
	padding: 24px;
	border: 1px solid #dddddd;
	border-radius: 8px;

	&__button {
		position: relative;
		margin-top: 16px;
		width: 100%;
		height: 48px;
		border-radius: 4px;
		border: 0;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;

		&.button-active {
			background: #1baa56;
			color: #fff;
		}

		&.button-disable {
			background: #f5f5f5;
			color: #ddd;
		}
	}

	&__tooltip {
		position: absolute;
		top: -60px;
		left: 20%;
		width: 159px;
		padding: 16px;
		border-radius: 8px;
		background-color: #242424;
		color: #fff;
		font-size: 14px;
		line-height: 21px;
		font-weight: normal;

		&::after {
			content: '';
			position: absolute;
			bottom: -13px;
			left: 50%;
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 14px solid #242424;
		}
	}
}

.copy-code-text {
	display: flex;
	justify-content: space-between;

	&__label {
		margin: 0;
		font-size: 15px;
		line-height: 24px;

		&.text-active {
			color: #727272;
		}

		&.text-disable {
			color: #dddddd;
		}
	}

	&__code {
		margin: 0;
		font-weight: bold;
		font-size: 15px;
		line-height: 30px;

		&.text-active {
			color: #242424;
		}

		&.text-disable {
			color: #dddddd;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
</style>