<template>
	<div class="copy-code-card">
		<div class="copy-code-text">
			<div class="copy-code-text__container">
				<p class="copy-code-text__label" :class="classText">
					Kode Voucher
				</p>
				<p class="copy-code-text__code" :class="classText">
					{{ voucherCode }}
				</p>
			</div>

			<voucher-copy-button
				:voucher-id="voucherId"
				:code="voucherCode"
				:is-mobile="true"
				:is-available="isAvailable"
			/>
		</div>
	</div>
</template>

<script>
import VoucherCopyButton from '../voucher/voucher-card/VoucherCopyButton';

export default {
	components: {
		VoucherCopyButton
	},

	props: {
		voucherId: {
			type: Number,
			required: true
		},
		voucherCode: {
			type: String,
			required: true
		},
		isAvailable: {
			type: Boolean,
			required: true
		}
	},

	computed: {
		buttonIcon() {
			return this.isAvailable
				? 'ic_voucher_copy_green.svg'
				: 'ic_voucher_copy_grey.svg';
		},

		classText() {
			return this.isAvailable ? 'text-active' : 'text-disable';
		}
	}
};
</script>

<style lang="scss" scoped>
.copy-code-card {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 16px;
	background-color: #fff;
}

.copy-code-text {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__label {
		margin: 0;
		font-size: 14px;
		line-height: 24px;

		&.text-active {
			color: #727272;
		}

		&.text-disable {
			color: #dddddd;
		}
	}

	&__code {
		margin: 0;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;

		@media (max-width: 450px) {
			font-size: 14px;
		}

		&.text-active {
			color: #242424;
		}

		&.text-disable {
			color: #dddddd;
		}
	}
}
</style>