<template>
	<div class="app-wrapper">
		<global-navbar
			fixed
			need-search-box
			need-brand-mobile
			:need-chat-feature="false"
			:need-bottom-navigation="redirectionSource === 'homepage'"
			:need-favourite-feature="false"
			:need-back-arrow="redirectionSource !== 'homepage'"
			:max-width="1140"
			:redirection-source-navbar="redirectionSourceNavbar"
		/>
		<div class="breadcrumb-container">
			<breadcrumb-trails
				:contents="historyBreadcrumb"
				:version="2"
				custom-style="max-width: 1140px"
			></breadcrumb-trails>
		</div>
		<history-tabs :redirection-source="redirectionSource"></history-tabs>
		<div class="container history-container">
			<router-view
				:key="$route.path"
				:redirection-source="redirectionSource"
			></router-view>
		</div>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin" />
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';
import { getParams } from 'Js/@utils/queryString';
import GlobalNavbar from 'Js/@components/GlobalNavbar';
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	components: {
		LoginUser,
		GlobalNavbar
	},

	data() {
		return {
			historyBreadcrumb: [
				{ name: 'Home', url: '/' },
				{ name: 'User', url: '/user' },
				{ name: 'History', url: '/history' }
			],
			isModalLogin: false,
			redirectionSource: ''
		};
	},

	computed: {
		redirectionSourceNavbar() {
			return ~this.$route.path.indexOf('favourite')
				? 'wishlist favorit'
				: 'seen kos';
		}
	},

	watch: {
		$route: {
			handler(val) {
				const params = getParams(null);
				this.redirectionSource = params['nav-source']
					? decodeURIComponent(params['nav-source'][0])
					: '';
			},
			deep: true,
			immediate: true
		}
	},

	created() {
		this.listenEventBus();
	},

	mounted() {
		if (!authCheck.all) {
			this.isModalLogin = true;
		}

		const bannerIsHidden = Cookies.get('bannerHidden');
		if (bannerIsHidden) {
			$('.app-wrapper').addClass('banner-is-hidden');
			Cookies.set('bannerHidden', true, { expires: 1, path: '/' });
		}
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
				this.$nextTick(() => {
					document.getElementById('modalUser').classList.add('show');
				});
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style>
@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
	}
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>

<style scoped lang="scss">
.history-container {
	margin: auto;

	@media (max-width: 991px) {
		padding-top: 78px;
	}
}
.breadcrumb-container {
	width: 100%;
	padding: 12px 24px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;

	@media (max-width: 991px) {
		display: none;
	}
}
</style>
