<template>
	<div>
		<div class="container">
			<div class="stats-not-found">
				<p v-if="stat=='view'">Belum ada kost yang dilihat.</p>
				<p v-if="stat=='love'">Belum ada kost yang di favorit.</p>
				<p v-if="stat=='call'">Belum ada chat</p>
				<p v-if="stat=='survey'">Belum ada kost yang di survey</p>
				<img src="/assets/history_zero.png" alt="Belum ada data kost">
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			stat: {
				type: String,
				required: true
			}
		}
	}
</script>

<style scoped>
.stats-not-found{
	padding:30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img{
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

</style>