<template>
	<div class="container tabs">
		<a
			:class="{ 'router-link-active': ~$route.path.indexOf('favourite') }"
			@click="routeTo('favourite')"
		>
			<div class="col-xs-6 tabs-container">
				<div class="tabs-label-container">
					<div class="tabs-label-caption">
						Difavoritkan
					</div>
				</div>
			</div>
		</a>
		<a
			:class="{ 'router-link-active': ~$route.path.indexOf('view') }"
			@click="routeTo('view')"
		>
			<div class="col-xs-6 tabs-container">
				<div class="tabs-label-container">
					<div class="tabs-label-caption">
						Pernah Dilihat
					</div>
				</div>
			</div>
		</a>
	</div>
</template>

<script>
export default {
	props: {
		redirectionSource: {
			type: String,
			required: true
		}
	},
	methods: {
		routeTo(route) {
			this.$router.push({
				path: route,
				query: this.redirectionSource
					? { 'nav-source': this.redirectionSource }
					: {}
			});
		}
	}
};
</script>
<style lang="scss" scoped>
a {
	color: #999;
}
.tabs {
	margin: 0 auto 25px;
	font-weight: bold;
	color: #999;
	text-align: center;

	@media (max-width: 991px) {
		position: fixed;
		top: 56px;
		z-index: 3;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-left: 0;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		background: #fff;
	}
}
.tabs-container {
	padding: 15px 0;
	border-bottom: 3px solid #eee;
	transition: 0.3s;
}
.tabs-container:hover,
.router-link-active .tabs-container {
	color: #303030;
	border-color: #1baa56;
}
a:visited,
a:focus {
	color: #999;
	text-decoration: none;
}
.tabs-label-caption {
	display: inline-block;
}
@media (min-width: 992px) {
	.tabs {
		font-size: 16px;
		cursor: pointer;
	}
}
</style>
