<template>
	<div>
		<div v-if="isLoading" class="row flex-center">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<history-kost-list-empty
			v-if="rooms.length == 0 && !isLoading"
			:stat="stat"
		></history-kost-list-empty>

		<div v-if="rooms.length > 0">
			<div class="button-container-delete">
				<button
					v-if="isShowButton"
					class="btn btn-danger btn-xs"
					@click="deleteCookies"
				>
					<i class="fa fa-ban" aria-hidden="true"></i> Hapus Histori
				</button>
			</div>

			<room-list
				v-if="!isLoading"
				:rooms="rooms"
				:redirection-source="detailRedirectionSource"
				grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
				@toggleLoginModal="toggleLoginModal"
			></room-list>

			<div class="clearfix"></div>

			<div class="kost-pagination">
				<div class="kost-pagination-label">
					<p>Halaman {{ currentPage }} / {{ totalPage }}</p>
				</div>

				<paginate
					:page-count="totalPage"
					:click-handler="pageChanged"
					:prev-text="'<'"
					:next-text="'>'"
					:container-class="'pagination'"
					:break-view-link-class="'break-pagination'"
					:page-class="'page-item'"
				>
				</paginate>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';

import paginate from 'vuejs-paginate';
import EventBus from 'Js/@global/event-bus';

export default {
	components: {
		paginate
	},
	props: {
		stat: {
			type: String,
			required: true
		},
		redirectionSource: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			rooms: [],
			isLoading: true,
			currentOffset: 0,
			currentPage: 1,
			hasMore: false,
			totalPage: 0,
			dataTotal: 0,
			dataLimit: 8
		};
	},
	computed: {
		isShowButton() {
			return this.stat === 'view' && this.rooms.length > 0 && !this.isLoading;
		},
		detailRedirectionSource() {
			return this.stat === 'view' ? 'seen kos' : 'wishlist favorit';
		}
	},
	watch: {
		$route: {
			handler() {
				this.handleMoEngage();
			},
			deep: true,
			immediate: true
		}
	},
	created() {
		if (this.stat === 'view') {
			document.title = 'Histori Kost Dilihat - Mamikos';
		} else if (this.stat === 'love') {
			document.title = 'Histori Kost Favorit - Mamikos';
		}

		if (authCheck.all) {
			this.getRooms();
		} else {
			this.isLoading = false;
		}
	},
	methods: {
		handleMoEngage() {
			const moEngageData = {
				interface: this.navigator.isMobile ? 'mobile' : 'desktop',
				is_empty: this.rooms.length === 0,
				is_logged_in: _get(this.$store.state.authCheck, 'all', false),
				favorite_seen: this.stat === 'view' ? 'Seen' : 'Favourite',
				redirection_source: this.redirectionSource || null
			};
			tracker('moe', ['[User] Favorit/Dilihat Visited', moEngageData]);
		},
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		getRooms() {
			this.isLoading = true;
			axios
				.get(
					'/stories/' +
						this.stat +
						'?limit=' +
						this.dataLimit +
						'&offset=' +
						this.currentOffset
				)
				.then(response => {
					window.scrollTo(0, 0);
					if (response.data.status) {
						this.rooms = response.data.rooms;
						this.currentOffset = response.data.offset;
						this.currentPage = response.data.page;
						this.dataLimit = response.data.limit;
						this.hasMore = response.data['has-more'];
						this.totalPage = Number(
							Math.ceil(response.data.total / this.dataLimit)
						);
						this.dataTotal = response.data.total;
						this.isLoading = false;
					} else {
						bugsnagClient.notify(
							`Error status: ${JSON.stringify(response.status)}`
						);
						this.isLoading = false;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.isLoading = false;
				});
		},
		pageChanged(page) {
			const dataOffset = page * this.dataLimit - this.dataLimit;
			this.currentOffset = dataOffset;

			this.getRooms();
			this.gotoTop();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},
		deleteCookies() {
			swal({
				title: 'Anda yakin?',
				text: 'Data histori kost yang Anda lihat akan hilang',
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#1BAA56',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Hapus',
				cancelButtonText: 'Batal'
			}).then(() => {
				Cookies.remove('idkamar');
				this.getRooms();
				swal({
					title: 'Terhapus',
					text: 'Data histori anda sudah dihapus.',
					type: 'success',
					timer: 3000,
					confirmButtonColor: '#1BAA56',
					onOpen() {
						swal.showLoading();
					}
				}).then(
					() => {},
					dismiss => {}
				);
			});
		}
	}
};
</script>

<style scoped>
.button-container-delete {
	padding-left: 10px;
}
.kost-pagination {
	text-align: center;
}
.kost-pagination-label {
	margin-top: 20px;
	font-weight: bold;
}
.button-container {
	display: inline-block;
	padding: 15px;
}
.button {
	padding: 8px 15px;
	color: #fff;
	background-color: #ec4a0c;
	border: 0;
	border-radius: 5px;
}
</style>
