<template>
	<div>
		<div
			class="col-md-4 col-sm-6 col-xs-12"
			v-for="(room, index) in rooms"
			:key="index"
		>
			<div
				class="kost-list-container"
				@click="openRoom(room.share_url)"
				:title="room['room-title']"
			>
				<div
					class="kost-photo"
					v-if="room.photo_url.medium == ''"
					style="background-image: url('/assets/default.svg')"
				></div>
				<div
					class="kost-photo"
					:style="{ backgroundImage: 'url(' + room.photo_url.medium + ')' }"
					:class="room.available_room <= 0 ? 'fade' : ''"
					v-else
				>
					<div class="kost-icon-container">
						<div
							class="kost-icon kost-icon-promote"
							v-if="room.is_promoted"
							title="Promoted Kost"
						></div>
						<div
							class="kost-icon kost-icon-360"
							v-if="room.has_round_photo"
							title="Kost ini memiliki foto 360"
						></div>
						<div
							class="kost-icon kost-icon-video"
							v-if="room.has_video"
							title="Kost ini memiliki video"
						></div>
					</div>
				</div>
				<div class="kost-promo">
					<div
						class="kost-promo-room is-more"
						v-if="room.apartment_project_id !== 0"
					>
						UNIT APARTEMEN
					</div>
					<div
						class="kost-promo-room is-more"
						v-if="room.apartment_project_id == 0 && room.available_room > 0"
					>
						ADA {{ room.available_room }} KAMAR
					</div>
					<div
						class="kost-promo-room is-empty"
						v-if="room.apartment_project_id == 0 && room.available_room <= 0"
					>
						PENUH
					</div>
					<div class="kost-promo-price">Rp {{ room.price_title_time }}</div>
				</div>

				<div class="kost-promo" v-if="room.apartment_project_id == 0">
					<div class="kost-promo-gender">
						<span class="kost-badge-mix" v-if="room.gender == 0">CAMPUR</span>
						<span class="kost-badge-male" v-if="room.gender == 1">PUTRA</span>
						<span class="kost-badge-female" v-if="room.gender == 2">PUTRI</span>
					</div>
					<div class="kost-promo-premium" v-if="room.is_premium_owner">
						<div class="kost-badge-premium-icon"></div>
						<span class="kost-badge-premium">PREMIUM</span>
					</div>
					<div class="kost-promo-booking" v-if="room.is_booking">
						<div class="kost-badge-booking-icon"></div>
						<span class="kost-badge-booking">BISA BOOKING</span>
					</div>
				</div>
				<div class="kost-promo" v-if="room.apartment_project_id !== 0">
					<div class="unit-detail">
						<!-- below this class should be inlines -->
						<div class="unit-tag-label">
							{{ room.unit_type }} - {{ room.unit_size }} m<sup>2</sup>
						</div>
						<div class="unit-tag-label">{{ room.furnished_status }}</div>
						<div class="unit-premium-container" v-if="room.is_premium_owner">
							<div class="unit-premium-icon">
								<img
									src="/assets/icons/ic_premium2.png"
									class="unit-premium-icon-image"
								/>
							</div>
							<div class="unit-premium-label">Premium</div>
						</div>
					</div>
				</div>

				<div class="kost-caption">
					{{ room['room-title'] }}
				</div>

				<div class="kost-footer" v-if="room.apartment_project_id == 0">
					<div class="kost-review">
						<div class="kost-review-icon">
							<span v-if="room.rating !== 0">
								<i
									class="fa fa-star rating-star"
									aria-hidden="true"
									v-for="n in room.rating"
								></i>
								<i
									class="fa fa-star-o rating-star"
									aria-hidden="true"
									v-for="n in 4 - room.rating"
								></i>
							</span>
						</div>
						<span class="kost-review-caption" v-if="room.review_count !== 0">
							{{ room.review_count }} review
						</span>
					</div>
					<div class="kost-min-book" v-if="room.min_month !== null">
						{{ room.min_month }}
					</div>
				</div>

				<div class="kost-footer" v-if="room.apartment_project_id !== 0">
					<div class="unit-icons">
						<div
							class="unit-icon-container"
							v-if="room.unit_type_rooms !== null"
						>
							<div class="unit-icon">
								<img
									src="/assets/icons/apartment/bedroom_count.png"
									class="unit-icon-image"
								/>
							</div>
							<div class="unit-icon-label">
								{{ room.unit_type_rooms.bedroom }}
							</div>
							<!-- hang on -->
						</div>
						<div
							class="unit-icon-container"
							v-if="room.unit_type_rooms !== null"
						>
							<div class="unit-icon">
								<img
									src="/assets/icons/apartment/bathroom_count.png"
									class="unit-icon-image"
								/>
							</div>
							<div class="unit-icon-label">
								{{ room.unit_type_rooms.bathroom }}
							</div>
						</div>
						<div class="unit-icon-container" v-if="room.floor !== null">
							<div class="unit-icon">
								<img
									src="/assets/icons/apartment/floor_count.png"
									class="unit-icon-image"
								/>
							</div>
							<div class="unit-icon-label">{{ room.floor }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</template>

<script>
export default {
	methods: {
		openRoom(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		}
	},
	props: {
		rooms: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
.kost-list-container {
	margin: auto;
	height: 320px;
	min-width: 240px;
	max-width: 100%;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-top: 15px;
	margin-bottom: 15px;
}
.kost-list-container:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.kost-photo {
	height: 125px;
	width: auto;
	background-image: url('/assets/image/kamar1.jpg');
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
}
.fade {
	opacity: 0.4;
}

.kost-icon-container {
	display: block;
	width: 100%;
	height: 36px;
	padding-top: 7px;
}
.kost-icon {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.kost-icon-promote {
	float: left;
	background-image: url('/assets/icons/promote_ic.png');
	margin-left: 7px;
	width: 28px;
	height: 28px;
}
.kost-icon-360 {
	float: right;
	background-image: url('/assets/icons/ic_vid360.png');
	margin-right: 7px;
}
.kost-icon-video {
	float: right;
	background-image: url('/assets/icons/ic_video.png');
	margin-right: 7px;
}

.kost-promo {
	height: 30px;
	display: flex;
	text-align: center;
}
.kost-promo-room {
	width: 50%;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
}
.kost-promo-room.is-more {
	background-color: #1baa56;
}
.kost-promo-room.is-empty {
	background-color: black;
}
.kost-promo-price {
	width: 50%;
	color: #1baa56;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	border-bottom: 1px #eee solid;
}

.kost-promo-gender {
	margin-top: 18px;
	width: 75px;
	margin-left: 10px;
	font-size: 12px;
}
.kost-badge-male,
.kost-badge-female,
.kost-badge-mix {
	display: inline-block;
	border-radius: 5px;
	padding: 4px 8px;
	color: #ffffff;
	width: 65px;
}
.kost-badge-male {
	background-color: #3498db;
}
.kost-badge-female {
	background-color: #f26389;
}
.kost-badge-mix {
	background-color: #9b59b6;
}

.kost-promo-premium {
	vertical-align: center;
	margin-top: 5px;
	width: auto;
	padding: 10px;
	padding-right: 0;
}
.kost-badge-premium-icon {
	margin-left: -5px;
	margin-top: 7px;
	display: inline-block;
	float: left;
	background-image: url('/assets/icons/ic_premium2.png');
	background-position: center;
	background-size: cover;
	width: 18px;
	height: 18px;
}
.kost-badge-premium {
	display: inline-block;
	margin-left: 3px;
	padding-top: 7px;
	color: #e0af50;
	font-weight: bold;
	font-size: 12px;
}

.kost-promo-booking {
	margin-top: 10px;
	width: 125px;
	padding: 10px 0 10px 10px;
	float: right;
}
.kost-badge-booking-icon {
	margin-left: 0px;
	margin-top: 2px;
	display: inline-block;
	float: left;
	background-image: url('/assets/icons/ic_booking_ijo2.png');
	background-position: center;
	background-size: cover;
	width: 18px;
	height: 18px;
}
.kost-badge-booking {
	text-align: left;
	display: inline-block;
	margin-left: 5px;
	color: #1baa56;
	font-weight: bold;
	font-size: 12px;
}

.kost-caption {
	padding: 24px 15px 0;
	height: 80px;
	font-weight: bold;
}

.kost-footer {
	padding: 10px 20px 35px;
}
.kost-review {
	margin-top: 10px;
	width: 60%;
}
.kost-review-icon {
	margin-top: 2px;
	float: left;
	height: 14px;
	width: 80px;
	color: #1baa56;
}
.kost-review-caption {
	float: left;
	color: #444;
	padding-top: 2px;
	margin-left: -10px;
}
.kost-min-book {
	margin-top: 2px;
	float: right;
	width: 40%;
	color: #1baa56;
	font-weight: bold;
	text-align: right;
}

@media (min-width: 375px) {
	.kost-badge-premium {
		font-size: 14px;
	}
	.kost-badge-booking {
		font-size: 14px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.kost-badge-premium {
		font-size: 12px;
	}
	.kost-badge-booking {
		font-size: 12px;
	}
}

.unit-detail {
	font-size: 14px;
	padding: 5px;
	height: 50px;
}
.unit-tag-label {
	display: inline-block;
	background-color: #eee;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
}
.unit-premium-container {
	display: inline-block;
}
.unit-premium-container .unit-premium-icon {
	display: inline-block;
}
.unit-premium-container .unit-premium-icon .unit-premium-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.unit-premium-container .unit-premium-label {
	display: inline-block;
	color: #e0af50;
	text-transform: uppercase;
	font-weight: 700;
}

.unit-icons {
	padding: 5px 10px;
}
.unit-icon-container {
	display: inline-block;
	padding-right: 10px;
}
.unit-icon-container .unit-icon {
	display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
	height: 30px;
	width: 30px;
}
.unit-icon-container .unit-icon-label {
	vertical-align: middle;
	display: inline-block;
	padding: 0 5px;
}
</style>
