<template>
	<div>
		<navbar-custom
			:show-input-search="true"
			:navigations="navigations"
		></navbar-custom>
		<div class="breadcrumb">
			<breadcrumb-trails
				id="sticker"
				:contents="landingBreadcrumb"
				:fixed="true"
			></breadcrumb-trails>
		</div>
		<div class="landing-container">
			<container-list :grid="'col-xs-stretch'"></container-list>
		</div>
	</div>
</template>

<script>
import ContainerList from './ContainerList';

const BreadcrumbTrails = () => import('Js/@components/BreadcrumbTrails');
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		BreadcrumbTrails,
		NavbarCustom,
		ContainerList
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari loker lainnya', url: '/loker' }
			]
		};
	},

	computed: {
		landingBreadcrumb() {
			return this.$store.state.breadcrumb;
		}
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
</style>

<style scoped>
.breadcrumb {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 767px) {
	.breadcrumb {
		margin-top: -50px;
	}
}
</style>
