<template>
	<div id="containerLandingVacancy">
		<div class="vacancy-container">
			<div class="container-fluid stretch landing-control col-xs-12">
				<div class="landing-heading col-md-4">
					<div class="heading-vacancy filter-item col-md-6">
						<div class="caption-container">
							<h1 itemprop="headline">
								<strong>{{ keyword }}</strong>
							</h1>
						</div>
					</div>

					<div class="col-md-6 filter-category filter-item">
						<div class="side-bordered control-type">
							<label for="suggestionCategory" class="track-jobs-filter-type">
								Cari Kategori
							</label>
							<select
								id="suggestionCategory"
								v-model="landingConnectorData"
								class="btn btn-default filter-jobs full-width track-switch-category"
								:class="{ 'pulsing-animation': isAnimating }"
								@click="isAnimating = false"
							>
								<option value="landing_vacancy" selected>
									{{ keyword }}
								</option>
								<option
									v-for="(connector, connectorId) in getLandingConnector"
									:key="connectorId"
									:value="connector.slug"
								>
									{{ connector.title }}</option
								>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-8 filter-item hidden-xs">
					<landing-vacancy-filters></landing-vacancy-filters>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 landing-content">
			<div class="col-md-7 landing-list">
				<mami-loading-list
					v-if="isLoading"
					:text="'Memuat Lowongan Kerja..'"
				></mami-loading-list>

				<list-placeholder
					v-if="isLoading"
					type="job"
					:mode="2"
				></list-placeholder>

				<div v-else>
					<div v-if="jobs.vacancy.length != 0" class="vacancy-count">
						<div class="add-vacancy-button hidden-sm hidden-md hidden-lg">
							<button
								class="btn btn-mamiorange track-jobs-promotion track-pasang-loker-button"
								@click="addVacancy"
							>
								<i class="fa fa-plus track-jobs-promotion"></i
								>&nbsp;&nbsp;GRATIS Pasang Lowongan Kerja
							</button>
						</div>
						<div>
							<h4 v-if="jobs.page == 1" class="list-title">
								1 - {{ jobs.vacancy.length }} Lowongan Kerja dari
								{{ jobs.total }} di sekitar {{ keyword }}
							</h4>
							<h4 v-else class="list-title">
								{{ jobsCount }} - {{ jobsLoaded }} Lowongan Kerja dari
								{{ jobs.total }} di sekitar {{ keyword }}
							</h4>
						</div>
						<div class="add-vacancy-button hidden-xs">
							<button
								class="btn btn-mamiorange track-jobs-promotion track-pasang-loker-button"
								@click="addVacancy"
							>
								<i class="fa fa-plus track-jobs-promotion"></i
								>&nbsp;&nbsp;GRATIS Pasang Lowongan Kerja
							</button>
						</div>
					</div>
					<vacancy-list :jobs="jobs"></vacancy-list>
					<div
						v-if="jobs.vacancy.length >= 4"
						class="scroll-top"
						@click="scrollTop(500)"
					>
						<i
							class="fa fa-arrow-circle-o-up"
							aria-hidden="true"
							alt="Back to Top"
						></i>
					</div>
				</div>

				<div class="pagination-section">
					<paginate
						ref="pagination"
						:page-count="jobs.page < 10 ? totalPage : totalPageAll"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>

				<!-- landing related is under construction -->

				<related-list
					v-if="jobs.vacancy.length != 0"
					:property-type="'apartment'"
					:params="params"
				>
				</related-list>

				<!-- landing related is under construction -->

				<div
					class="landing-info"
					itemprop="description"
					v-html="description"
				></div>
				<mami-footer></mami-footer>
			</div>

			<leaflet-map
				ref="mamiMap"
				:prop-id="'mamiMap'"
				:prop-class="'col-md-5 vacancy-map'"
				:type="'vacancy'"
				:center="center"
				:corner="corner"
				:is-map-loading="isLoading"
				:min-zoom="14"
				:max-zoom="16"
				@bounds-changed="boundsChanged"
				@select-cluster="clusterJobs"
			></leaflet-map>
		</div>

		<div class="visible-xs">
			<filter-mobile-button
				@open="toggleFilterMobile(true)"
			></filter-mobile-button>
		</div>

		<transition name="fade">
			<keep-alive>
				<landing-vacancy-filter-mobile
					v-if="showFilterMobile"
					@close="toggleFilterMobile(false)"
					@set="setFilterMobile"
				></landing-vacancy-filter-mobile>
			</keep-alive>
		</transition>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import paginate from 'vuejs-paginate';

import LandingVacancyFilterMobile from './LandingVacancyFilterMobile';
import LandingVacancyFilters from './LandingVacancyFilters';
import VacancyList from './VacancyList';

const FilterMobileButton = () => import('Js/@components/FilterMobileButton');
const LeafletMap = () => import('Js/@components/LeafletMap');
const ListPlaceholder = () => import('Js/@components/ListPlaceholder');
const MamiFooter = () => import('Js/@components/MamiFooter');
const MamiLoadingList = () => import('Js/@components/MamiLoadingList');
const RelatedList = () => import('Js/@components/RelatedList');

export default {
	components: {
		paginate,
		FilterMobileButton,
		LeafletMap,
		ListPlaceholder,
		MamiFooter,
		MamiLoadingList,
		RelatedList,
		LandingVacancyFilterMobile,
		LandingVacancyFilters,
		VacancyList
	},

	props: {
		grid: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			showFilterMobile: false,
			isAnimating: true,
			isOwner: false,
			isUser: false,
			isLoading: true,
			filters: {
				type: 'all',
				sort: 'default',
				last_education: 'all',
				spesialisasi: 'all',
				place: [],
				is_niche: 'general'
			},
			jobs: {
				page: 1,
				limit: 20,
				total: 0,
				vacancy: []
			},
			params: {},
			cluster: {},
			clustersReady: false,
			bounds: {
				east: parseFloat(this.$store.state.area.longitude_2),
				west: parseFloat(this.$store.state.area.longitude_1),
				south: parseFloat(this.$store.state.area.latitude_1),
				north: parseFloat(this.$store.state.area.latitude_2)
			},
			corner: [
				[this.$store.state.area.latitude_1, this.$store.state.area.longitude_1],
				[this.$store.state.area.latitude_2, this.$store.state.area.longitude_2]
			],
			landingConnectorData: 'landing_vacancy',
			isClusterOpened: false,
			clusterParams: {}
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		keyword() {
			return this.$store.state.area.keyword;
		},
		description() {
			return this.$store.state.area.description;
		},
		jobsCount() {
			return 20 * (this.jobs.page - 1) + 1;
		},
		jobsLoaded() {
			return 20 * (this.jobs.page - 1) + this.jobs.vacancy.length;
		},
		landingSlug() {
			return this.$store.state.area.slug;
		},
		center() {
			return {
				lat: parseFloat(this.$store.state.centerpoint.latitude),
				lng: parseFloat(this.$store.state.centerpoint.longitude)
			};
		},
		filterType() {
			return this.$store.state.area.type;
		},
		areaCity() {
			return this.$store.state.area.area_city;
		},
		areaSubsdistrict() {
			return this.$store.state.area.area_subdistrict;
		},
		getLandingConnector() {
			return this.$store.state.landingConnector;
		},
		spesialisasiId() {
			return this.$store.state.area.spesialisasi_id;
		},
		hasMap() {
			if ($(window).width() <= 991) {
				return false;
			} else {
				return true;
			}
		},
		totalPage() {
			let total = Math.ceil(this.jobs.total / this.jobs.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			const total = Math.ceil(this.jobs.total / this.jobs.limit);

			return Number(total);
		}
	},

	watch: {
		landingConnectorData(newData, oldData) {
			window.location.href = newData;
		}
	},

	created() {
		this.checkIsNiche();

		this.isOwner = this.authCheck.owner;
		this.isUser = this.authCheck.user;

		this.assignFiltersVal();
		this.assignParamsVal();
	},

	mounted() {
		this.changeFilterType();
		this.changeFilterSort();
		this.changeFilterEdu();
		this.changeFilterSpesialisasi();
	},

	methods: {
		checkIsNiche() {
			if (this.$store.state.area.is_niche === true) {
				this.filters.is_niche = 'niche';
			} else {
				this.filters.is_niche = 'general';
			}
		},
		assignFiltersVal() {
			this.filters.spesialisasi =
				this.spesialisasiId !== null ? this.spesialisasiId : 'all';

			this.filters.type = this.filterType !== null ? this.filterType : 'all';

			if (this.areaCity !== '' && this.areaSubsdistrict !== '') {
				this.filters.place = [this.areaCity, this.areaSubsdistrict];
			} else if (this.areaCity !== '' && this.areaSubsdistrict === '') {
				this.filters.place = [this.areaCity];
			} else if (this.areaCity === '' && this.areaSubsdistrict !== '') {
				this.filters.place = [this.areaSubsdistrict];
			} else if (this.areaCity === '' && this.areaSubsdistrict === '') {
				this.filters.place = [];
			}
		},
		assignParamsVal() {
			this.params = {
				location: [
					[this.bounds.west, this.bounds.south],
					[this.bounds.east, this.bounds.north]
				],
				filters: {
					type: this.filters.type,
					// sort: this.filters.sort,
					last_education: this.filters.last_education,
					spesialisasi: this.filters.spesialisasi,
					place: this.filters.place,
					group: this.filters.is_niche
				},
				offset: 1,
				landing_source: this.landingSlug
				// landing_source: ''
			};
		},
		changeFilterType() {
			EventBus.$on('changeFilterType', payload => {
				this.filters.type = payload;
				this.jobs.page = 1;

				if (this.isClusterOpened) {
					this.clusterParams.filters.type = payload;
					this.clusterParams.landing_source = '';
					this.clusterParams.page = 1;
					this.clusterParams.offset = 0;

					this.$refs.pagination.innerValue = 1;

					this.getClusterList(this.clusterParams);
				} else {
					this.params.filters.type = payload;
					this.params.landing_source = '';
					this.params.page = 1;
					this.params.offset = 0;

					this.$refs.pagination.innerValue = 1;

					if (window.innerWidth > 767) {
						this.getList();
						this.getCluster();
					}
				}
			});
		},
		changeFilterSort() {
			EventBus.$on('changeFilterSort', payload => {
				this.jobs.page = 1;
				this.$refs.pagination.innerValue = 1;

				if (this.isClusterOpened) {
					if (payload === 'default') {
						delete this.clusterParams.filters.sort;
					} else {
						this.clusterParams.filters.sort = payload;
					}

					this.clusterParams.landing_source = '';
					this.clusterParams.page = 1;
					this.clusterParams.offset = 0;

					this.getClusterList(this.clusterParams);
				} else {
					if (payload === 'default') {
						delete this.params.filters.sort;
					} else {
						this.params.filters.sort = payload;
					}
					this.params.landing_source = '';
					this.params.page = 1;
					this.params.offset = 0;

					if (window.innerWidth > 767) {
						this.getList();
						this.getCluster();
					}
				}
			});
		},
		changeFilterEdu() {
			EventBus.$on('changeFilterEdu', payload => {
				this.filters.last_education = payload;
				this.jobs.page = 1;
				this.$refs.pagination.innerValue = 1;

				if (this.isClusterOpened) {
					this.clusterParams.filters.last_education = payload;
					this.clusterParams.landing_source = '';
					this.clusterParams.page = 1;
					this.clusterParams.offset = 1;

					this.getClusterList(this.clusterParams);
				} else {
					this.params.filters.last_education = payload;
					this.params.landing_source = '';
					this.params.page = 1;
					this.params.offset = 0;

					if (window.innerWidth > 767) {
						this.getList();
						this.getCluster();
					}
				}
			});
		},
		changeFilterSpesialisasi() {
			EventBus.$on('changeFilterSpesialisasi', payload => {
				this.filters.spesialisasi = payload;
				this.jobs.page = 1;
				this.$refs.pagination.innerValue = 1;

				if (this.isClusterOpened) {
					this.clusterParams.filters.spesialisasi = payload;
					this.clusterParams.landing_source = '';
					this.clusterParams.page = 1;
					this.clusterParams.offset = 0;

					this.getClusterList(this.clusterParams);
				} else {
					this.params.filters.spesialisasi = payload;
					this.params.landing_source = '';
					this.params.page = 1;
					this.params.offset = 0;

					if (window.innerWidth > 767) {
						this.getList();
						this.getCluster();
					}
				}
			});
		},
		pageChanged(page) {
			this.jobs.page = page;

			if (this.isClusterOpened) {
				this.clusterParams.page = page;
				this.clusterParams.offset = (page - 1) * this.jobs.limit;
				this.getClusterList(this.clusterParams);
			} else {
				this.params.page = page;
				this.params.offset = (page - 1) * this.jobs.limit;
				this.getList();
			}
		},
		scrollTop(scrollDuration) {
			const scrollStep = -window.pageYOffset / (scrollDuration / 15);
			const scrollInterval = setInterval(() => {
				if (window.pageYOffset != 0) {
					window.scrollBy(0, scrollStep);
				} else clearInterval(scrollInterval);
			}, 15);
		},
		getList() {
			window.scrollTo(0, 0);
			this.isLoading = true;
			axios
				.post('/stories/jobs/list', this.params)
				.then(response => {
					this.isLoading = false;
					this.jobs = response.data;
					window.scrollTo(0, 0);

					this.createSchemaItemLIst();
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getCluster() {
			if (this.hasMap) {
				axios
					.post('stories/jobs/cluster', this.params)
					.then(response => {
						this.cluster = response.data;
						this.clustersReady = true;

						this.$nextTick(() => {
							this.$refs.mamiMap.showClusters(this.cluster.vacancy);
						});
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		},
		createSchemaItemLIst() {
			try {
				const itemListElementData = [];

				this.jobs.vacancy.forEach((item, index) => {
					itemListElementData.push({
						'@type': 'ListItem',
						url: `https://mamikos.com/${item.share_slug}`,
						position: ++index
					});
				});

				const schemaData = {
					'@context': 'http://schema.org',
					'@type': 'ItemList',
					itemListElement: itemListElementData
				};

				const script = document.createElement('script');

				script.type = 'application/ld+json';
				script.innerHTML = JSON.stringify(schemaData);

				document.head.appendChild(script);
			} catch (err) {}
		},
		addTrackingClass() {
			try {
				$('.gmnoprint img').addClass('track-jobs-open-marker');
			} catch (err) {}
		},
		setBounds(event) {
			this.bounds = {
				east: event.b.f,
				west: event.b.b,
				south: event.f.b,
				north: event.f.f
			};
		},
		boundsChanged(locations) {
			this.params = {
				page: 1,
				location: locations,
				filters: {
					type: this.filters.type,
					sort: this.filters.sort,
					last_education: this.filters.last_education,
					spesialisasi: this.filters.spesialisasi,
					place: this.filters.place,
					group: this.filters.is_niche
				},
				limit: 20,
				offset: 0,
				landing_source: this.landingSlug
			};
			this.params.landing_source = '';

			this.jobs.page = 1;
			this.$refs.pagination.innerValue = 1;

			this.getList();
			this.getCluster();
		},
		clusterJobs(marker) {
			this.isClusterOpened = true;

			this.params.page = 1;
			this.params.offset = 0;

			this.$refs.pagination.innerValue = 1;

			const params = this.params;
			params.landing_source = '';
			params.point = {
				latitude: marker.latitude,
				longitude: marker.longitude
			};

			this.jobs.page = 1;
			this.clusterParams = params;

			this.getClusterList(params);
		},
		getClusterList(params) {
			this.isLoading = true;

			window.scrollTo(0, 0);

			axios
				.post('/stories/jobs/list/cluster', params)
				.then(response => {
					this.isLoading = false;
					this.jobs = response.data;
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		openDetail(slug) {
			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = slug;
			} else {
				window.open(slug, '_blank');
			}
		},
		addVacancy() {
			if (this.isUser) {
				swal(
					'',
					'Maaf, untuk bisa menambahkan data lowongan kerja Anda harus login sebagai Pemilik terlebih dahulu',
					'warning'
				);
			} else if (this.isOwner) {
				window.open('/input-loker', '_self');
			} else {
				window.open('/login?register=vacancy', '_self');
			}
		},
		changeCategory() {
			window.location.href = this.landingConnectorData;
		},
		toggleFilterMobile(state) {
			this.showFilterMobile = state;
		},
		setFilterMobile() {
			this.showFilterMobile = false;
			this.getList();
			this.getCluster();
		}
	}
};
</script>

<style>
.landing-info h1 {
	font-size: 24px;
}
.landing-info h2 {
	font-size: 21px;
}
.landing-info h3 {
	font-size: 18px;
}
.landing-info h4 {
	font-size: 16px;
}
.landing-info h5 {
	font-size: 15px;
}
.landing-info h6 {
	font-size: 14px;
}

#containerLandingVacancy .v-select input {
	height: 33px !important;
}

.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

#containerLandingVacancy .pagination > .disabled > span,
#containerLandingVacancy .pagination > .disabled > span:hover,
#containerLandingVacancy pagination > .disabled > span:focus,
#containerLandingVacancy .pagination > .disabled > a,
#containerLandingVacancy .pagination > .disabled > a:hover,
#containerLandingVacancy .pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>

<style scoped>
.vacancy-container {
	margin: auto;
}

@media (min-width: 768px) {
	.vacancy-container {
		padding-top: 80px;
	}
}

.landing-control {
	width: 100%;
	background-color: #fff;
}

@media (max-width: 767px) {
	.landing-control {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (min-width: 992px) {
	.landing-control {
		width: 100%;
		padding-top: 10px;
		position: fixed;
		z-index: 200;
		margin-top: -20px;
		padding-bottom: 25px;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
		display: flex;
	}
}

@media (max-width: 767px) {
	.landing-heading {
		margin-top: 45px;
	}
}

@media (min-width: 992px) {
	.landing-heading {
		display: flex;
		padding-right: 0;
	}
}

.heading-vacancy {
	padding-top: 20px;
}

.heading-vacancy h1 {
	color: #1baa56;
	font-size: 16px;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.heading-vacancy {
		margin-top: -21px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.heading-vacancy {
		margin-top: -20px;
		margin-bottom: 25px;
	}

	.heading-vacancy .caption-container {
		border: none;
	}
}

@media (min-width: 992px) {
	.heading-vacancy {
		text-align: center;
		margin-top: -14px;
		margin-bottom: -11px;
		text-align: left;
		padding-top: 0;
	}
}

.filter-item {
	padding: 0;
}

@media (max-width: 767px) {
	.filter-category {
		margin-top: 20px;
	}
}

.control-type > .btn {
	cursor: pointer;
}

.control-type > .btn:hover,
.control-type > .btn:focus {
	background-color: #fff;
}

@media (max-width: 767px) {
	.control-type {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.control-type {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 991px) {
	.filter-jobs {
		text-align: left;
	}
}

.landing-list,
.landing-content {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 992px) {
	.landing-content {
		margin-top: 86px;
	}
}

.vacancy-count {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding: 10px 0;
	padding-right: 15px;
}

.vacancy-count span {
	font-weight: bold;
	padding: 15px;
	padding-top: 25px;
	color: #006634;
}

@media (max-width: 767px) {
	.vacancy-count {
		display: inherit;
		text-align: center;
	}
}

.add-vacancy-button button {
	font-size: 14px;
	font-weight: bold;
}

@media (max-width: 767px) {
	.add-vacancy-button {
		margin-bottom: 7px;
	}
}

.list-title {
	font-weight: bold;
	padding: 15px;
	padding-top: 25px;
	color: #006634;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

.landing-info {
	padding: 20px 15px;
}

.vacancy-map {
	padding: 0;
	background-color: #eee;
	position: fixed;
}

@media (max-width: 991px) {
	.vacancy-map {
		visibility: hidden;
		/*height: 550px;*/
		/*width: 650px;*/
		position: fixed;
		top: 191px;
		bottom: 0;
		left: 200%;
		height: 471px;
		width: 562px;
	}
}

@media (min-width: 992px) {
	.vacancy-map {
		top: 185px;
		bottom: 0;
		right: 0;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.scroll-top {
	font-size: 30px;
	color: #009b4c;
	cursor: pointer;
	padding: 15px;
	padding-bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}

.pulsing-animation {
	box-shadow: 0 0 0 rgba(39, 171, 39, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(39, 171, 39, 1);
	}
	70% {
		box-shadow: 0 0 15px 6px rgba(39, 171, 39, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(39, 171, 39, 0);
	}
}
</style>
