<template>
	<div>
		<label for="filterEdu" class="track-jobs-filter-education">Pendidikan Terakhir</label>
		<select id="filterEdu" class="btn btn-default full-width track-jobs-filter-education filter-edu" v-model="lastEdu" @change="changeFilterEdu(lastEdu)">
			<option class="track-jobs-filter-education" v-for="(educationOption, index) in educationOptions" :key="index" :value="educationOption.key">
				{{ educationOption.value }}
			</option>
		</select>
	</div>
</template>

<script>
export default {
	data() {
		return {
			lastEdu: 'all'
		}
	},
	computed: {
		educationOptions() {
			return this.$store.state.educationOptions;
		},
		lastEducation() {
			return this.$store.state.area.last_education;
		}
	},
	created() {
		this.lastEdu = this.lastEducation !== null ? this.lastEducation : 'all';
	},
	methods: {
		changeFilterEdu(val) {
			this.$emit('change-edu', val);
		}
	}
}
</script>

<style scoped>
@media (max-width: 991px) {
	.filter-edu {
		text-align: left;
	}
}	
</style>

<style>
.btn-default:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
	background-color: #fff;
}
</style>