
<template>
	<div>
		<label for="spesialisasiOption" class="track-jobs-speciality">Spesialisasi</label>
		<v-select 
		 	class="track-jobs-speciality"
			id="spesialisasiOption"
			v-model="spesialisasi"
			:options="spesialisasi_option"
			:placeholder="'Cari spesialisasi di sini...'"
			>
			<span slot="no-options" class="track-jobs-speciality">Filter yang Anda cari tidak ada</span>
		</v-select>
		<!-- <select id="spesialisasiOption" class="btn btn-default full-width track-jobs-speciality" v-model="spesialisasi" @change="changeFilterSpesialisasi(spesialisasi)">
			<option v-for="(spesialisasiOption, index) in spesialisasiOptions" :key="index" :value="spesialisasiOption.key" class="track-jobs-speciality">
				{{ spesialisasiOption.value }}
			</option>
		</select> -->
	</div>
</template>

<script>
import vSelect from 'vue-select';

export default {
	components: {
		'v-select': vSelect
	},
	data() {
		return {
			spesialisasi: {
				label: 'Semua',
				value: 'all'
			},
			spesialisasi_option: [],
			spesialisasi_value: ''
		}
	},
	computed: {
		spesialisasiOptions() {
			return this.$store.state.spesialisasiOptions;
		},
		spesialisasiId() {
			return this.$store.state.area.spesialisasi_id;
		}
	},
	mounted() {
		if (this.spesialisasiOptions) {
			for (var index in spesialisasiOptions) {
				this.spesialisasi_option.push({
					label: this.spesialisasiOptions[index].value,
					value: this.spesialisasiOptions[index].key
				});
			}
		}

		if (this.spesialisasiId !== null) {
			// let speciality;
			// let speciality = this.spesialisasi_option.find(object => object.value === this.spesialisasiId);
			this.spesialisasi_option.forEach((item, index) => {
				if (item.value === this.spesialisasiId) {
					this.spesialisasi.label = item.label;
				}
			});
			// console.log(speciality)
			// this.spesialisasi.label = speciality.label;
		}
	},
	watch: {
		spesialisasi(val) {
			this.$emit('change-spec', val.value);
		}
	}
}
</script>

<style>
.btn-default:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
	background-color: #fff;
}
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select.single .selected-tag {
	position: absolute;
	font-family: 'Lato', sans-serif;
}
.v-select input[type=search], 
.v-select input[type=search]:focus {
	height: 37px;
}

@media (max-width: 991px) {
	.v-select.single .selected-tag {
		padding-left: 13px;
	}
}
@media (min-width: 992px) {
	.v-select.single .selected-tag {
		white-space: nowrap;
		width: 100px;
		overflow: hidden;
	}
}
</style>