<template>
	<div id="landingVacancyFilters" class="landing-vacancy-filters col-sm-12">
		<div class="control-type mobile-filter col-sm-6 col-md-3">
			<label for="filterType" class="track-jobs-filter-type">
				Status Pekerjaan &nbsp;
				<i
					class="fa fa-circle is-fulltime"
					v-if="filters.type == 'all' || filters.type == 'full-time'"
					>&nbsp;</i
				>
				<i
					class="fa fa-circle is-parttime"
					v-if="filters.type == 'all' || filters.type == 'part-time'"
					>&nbsp;</i
				>
				<i
					class="fa fa-circle is-freelance"
					v-if="filters.type == 'all' || filters.type == 'freelance'"
					>&nbsp;</i
				>
				<i
					class="fa fa-circle is-internship"
					v-if="filters.type == 'all' || filters.type == 'magang'"
					>&nbsp;</i
				>
			</label>
			<select
				id="filterType"
				class="btn btn-default filter-jobs full-width track-jobs-filter-type"
				v-model="filters.type"
				@change="changeFilterType(filters.type)"
			>
				<option
					class="track-jobs-filter-type"
					v-for="(item, key) in jobTypeFilter"
					:value="key"
					>{{ item }}</option
				>
			</select>
		</div>

		<div class="col-sm-6 col-md-3">
			<filter-last-education
				class="control-type mobile-filter"
				aria-expanded="true"
				@change-edu="changeFilterEdu"
			></filter-last-education>
		</div>

		<div class="col-sm-6 col-md-3">
			<filter-specialization
				class="control-type mobile-filter"
				aria-expanded="true"
				@change-spec="changeFilterSpesialisasi"
			></filter-specialization>
		</div>

		<div class="control-type mobile-filter col-sm-6  col-md-3">
			<label for="filterSort" class="track-jobs-filter-sorting">Urutkan</label>
			<select
				class="btn btn-default full-width track-jobs-filter-sorting filter-jobs"
				v-model="filters.sort"
				@change="changeFilterSort(filters.sort)"
			>
				<option class="track-jobs-filter-sorting" value="default"
					>Via Mamikos</option
				>
				<option class="track-jobs-filter-sorting" value="new"
					>Dari Lowongan Terbaru</option
				>
				<option class="track-jobs-filter-sorting" value="old"
					>Dari Lowongan Terlama</option
				>
			</select>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import FilterLastEducation from './FilterLastEducation';
import FilterSpecialization from './FilterSpecialization';

export default {
	components: {
		FilterLastEducation,
		FilterSpecialization
	},

	data() {
		return {
			filterCollapse: false,
			filters: {
				type: 'all',
				sort: 'default',
				last_education: 'all',
				spesialisasi: 'all',
				place: [],
				is_niche: 'general'
			}
		};
	},

	computed: {
		jobTypeFilter() {
			return this.$store.state.jobTypeFilter;
		}
	},

	methods: {
		toggleFilter() {
			this.filterCollapse = !this.filterCollapse;
		},
		changeFilterType(type) {
			EventBus.$emit('changeFilterType', type);
		},
		changeFilterSort(sort) {
			EventBus.$emit('changeFilterSort', sort);
		},
		changeFilterEdu(edu) {
			EventBus.$emit('changeFilterEdu', edu);
		},
		changeFilterSpesialisasi(spec) {
			EventBus.$emit('changeFilterSpesialisasi', spec);
		}
	}
};
</script>

<style>
@media (max-width: 767px) {
	#landingVacancyFilters .mobile-filter label {
		margin-bottom: 10px;
	}
}
</style>

<style scoped>
.filter-vacancy {
	padding-bottom: 20px;
}
.filter-collapse {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
}
.filter-collapse > i {
	color: #1baa56;
}
.collapse.in {
	display: block;
}
.control-type > .btn {
	cursor: pointer;
}
.control-type > .btn:hover,
.control-type > .btn:focus {
	background-color: #fff;
}
.mobile-filter i {
	font-size: 10px;
}

@media (max-width: 767px) {
	.mobile-filter {
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.mobile-filter {
		margin-top: 15px;
	}
}
.is-fulltime {
	color: #a25390;
}
.is-parttime {
	color: #e89122;
}
.is-freelance {
	color: #5eaca6;
}
.is-internship {
	color: #a3c502;
}

.landing-vacancy-filters {
	padding: 0;
}

@media (max-width: 767px) {
	.control-type {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.filter-jobs {
		text-align: left;
	}
}

@media (min-width: 992px) {
	.landing-vacancy-filters {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}
</style>
