<template>
	<div class="container-filter-mobile">
		<filter-close-button
			class="button-close"
			@press="hideFilterOverlay('exit')"
		></filter-close-button>

		<div class="container filter-options">
			<label class="filter-options__header">Filter Pencarian</label>
		</div>

		<div class="container filter-group">
			<landing-vacancy-filters></landing-vacancy-filters>
		</div>

		<nav class="navbar navbar-fixed-bottom navbar-filter-bottom">
			<button
				class="btn btn-mamiorange btn-set-filter"
				@click="hideFilterOverlay('set')"
			>
				SET FILTER
			</button>
		</nav>
	</div>
</template>

<script>
import LandingVacancyFilters from './LandingVacancyFilters';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		LandingVacancyFilters
	},

	methods: {
		hideFilterOverlay(intent) {
			if (intent === 'exit') {
				this.$emit('close');
			} else {
				this.$emit('set');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.container-filter-mobile {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1100;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-bottom: 80px;
}

.button-close {
	padding-top: 10px;
	padding-right: 15px;
}

.filter-options {
	margin-top: 45px;
	padding: 0 30px;
}

.filter-options__header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;

	&:after {
		content: '';
		display: block;
		width: 120px;
		height: 50%;
		border-bottom: 2px solid #1baa56;
		margin-top: 10px;
	}
}

.navbar-filter-bottom {
	height: 48px;

	.btn-set-filter {
		height: 100%;
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		border-radius: 0;
	}
}
</style>
