<template>
	<div class="container-list-vacancy">
		<div class="col-xs-12 vacancy-null" v-if="jobs.vacancy.length == 0">
			<div class="add-vacancy-icon">
				<img src="/assets/icons/tmbh_loker.gif" alt="tmbh_loker" />
			</div>
			<div class="add-vacancy-title">
				<span>Pasang Lowongan Kerja</span>
			</div>
			<div class="add-vacancy-text">
				<span
					>Sekarang di Mamikos bisa pasang<br />
					Lowongan Kerja GRATIS loh. Dan dapat <br />
					calon pegawai dari 26.000 mahasiswa <br />
					yang berkunjung ke Mamikos.</span
				>
			</div>
			<div class="add-vacancy-button">
				<button
					class="btn btn-mamiorange track-jobs-promotion track-pasang-loker-null-listing"
					@click="addVacancy"
				>
					Pasang Lowongan
				</button>
			</div>
		</div>

		<div
			class="vacancy-list col-md-6 col-sm-6 col-xs-12 track-jobs-open-detail"
			v-for="(vacancy, index) in jobs.vacancy"
			:key="index"
			v-else
		>
			<div
				class="box-vacancy track-jobs-open-detail"
				@click="openDetailVacancy(vacancy.share_slug)"
				:title="vacancy.title"
			>
				<div class="middle" v-show="vacancy.apply == true">
					<span class="text">SUDAH DILAMAR</span>
				</div>
				<div :class="{ overlay: vacancy.apply == true }">
					<div class="vacancy-header flex track-jobs-open-detail">
						<img
							:src="vacancy.photo.small"
							alt="company_logo"
							class="company-logo"
							v-if="vacancy.photo.small !== null && vacancy.photo.small !== ''"
						/>
						<h2
							class="vacancy-title track-jobs-open-detail"
							itemprop="name"
							:content="vacancy.title"
						>
							{{ vacancy.title }}
						</h2>
						<span
							class="badge-fulltime track-jobs-open-detail"
							v-if="vacancy.type == 'FULL-TIME'"
							>FULLTIME</span
						>
						<span
							class="badge-parttime track-jobs-open-detail"
							v-else-if="vacancy.type == 'PART-TIME'"
							>PARTTIME</span
						>
						<span
							class="badge-freelance track-jobs-open-detail"
							v-else-if="vacancy.type == 'FREELANCE'"
							>FREELANCE</span
						>
						<span
							class="badge-internship track-jobs-open-detail"
							v-else-if="vacancy.type == 'MAGANG'"
							>MAGANG</span
						>
					</div>
					<div class="vacancy-body track-jobs-open-detail">
						<div
							class="last-education track-jobs-open-detail"
							v-if="
								vacancy.last_education !== '' && vacancy.last_education !== null
							"
						>
							<span
								class="last-edu flex justify-center align-content-center track-jobs-open-detail"
								>Min. {{ vacancy.last_education }}</span
							>
						</div>
						<div class="no-edu track-jobs-open-detail" v-else></div>
						<div class="company-name flex track-jobs-open-detail">
							<h3 class="company-label track-jobs-open-detail">
								{{ vacancy.place_name }}
							</h3>
							<div
								class="apply-via flex justify-space-around align-items-center from-mamikos"
								v-if="vacancy.apply_other_web == false"
							>
								<div class="apply-icon flex justify-center align-items-center">
									<i class="fa fa-check"></i>
								</div>
								<span>via mamikos</span>
							</div>
							<div
								class="apply-via flex justify-space-around align-items-center from-others"
								v-else
							>
								<div class="apply-icon flex justify-center align-items-center">
									<i class="fa fa-ellipsis-h"></i>
								</div>
								<span>via web lain</span>
							</div>
						</div>
						<div class="company-location track-jobs-open-detail">
							<span class="track-open-detail">{{ vacancy.subdistrict }}</span>
							<span
								class="track-open-detail"
								v-if="
									vacancy.subdistrict !== null &&
										vacancy.subdistrict !== '' &&
										(vacancy.city !== null && vacancy.city !== '')
								"
								>,&nbsp;</span
							>
							<span class="track-open-detail">{{ vacancy.city }}</span>
						</div>
					</div>
					<div
						class="vacancy-salary flex justify-space-between track-jobs-open-detail"
					>
						<span
							class="salary track-jobs-open-detail"
							v-if="vacancy.salary == null"
							>Gaji Dirahasiakan</span
						>
						<span class="salary track-jobs-open-detail" v-else>{{
							vacancy.salary
						}}</span>
					</div>
					<div
						class="vacancy-date flex justify-space-between track-jobs-open-detail"
					>
						<span class="exp-date text-danger track-jobs-open-detail">{{
							vacancy.expired_string
						}}</span>
						<span class="post-date track-jobs-open-detail">{{
							vacancy.created_at
						}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isOwner: false,
			isUser: false
		};
	},
	props: {
		jobs: {
			type: Object,
			required: true
		}
	},
	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		}
	},
	created() {
		this.isOwner = this.authCheck.owner;
		this.isUser = this.authCheck.user;
	},
	methods: {
		openDetailVacancy(slug) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = slug;
			} else {
				window.open(slug, '_blank');
			}
		},
		addVacancy() {
			if (this.isUser == true) {
				swal(
					'',
					'Maaf, untuk bisa menambahkan data lowongan kerja Anda harus login sebagai Pemilik terlebih dahulu',
					'warning'
				);
			} else if (this.isOwner == true) {
				window.open('/input-loker', '_self');
			} else {
				window.open('/login?register=vacancy', '_self');
			}
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.justify-center {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.justify-space-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.justify-space-around {
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.align-content-center {
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
}
.align-items-center {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.vacancy-null {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.add-vacancy-icon {
	margin-bottom: 7px;
}
.add-vacancy-title {
	font-size: 22px;
	font-weight: bold;
	color: #1baa56;
}
.add-vacancy-text {
	margin-top: 7px;
	margin-bottom: 7px;
}
.vacancy-list {
	text-decoration: none;
}
.add-vacancy-button {
	margin-top: 15px;
}
.add-vacancy-button button {
	width: 250px;
	font-size: 18px;
	font-weight: bold;
}
.box-vacancy {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 15px;
	height: 250px;
	padding: 15px;
	background-color: #fff;
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
}
.box-vacancy:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (min-width: 992px) and (max-width: 1199px) {
	.box-vacancy {
		height: 265px;
	}
}
.vacancy-header {
	padding-bottom: 10px;
}
.company-logo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.vacancy-title {
	color: #1baa56;
	font-size: 16px;
	font-weight: normal;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 3.25em;
	margin-top: 1px;
}
.vacancy-title:after {
	content: '';
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 2em;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) 50%
	);
}
.vacancy-body,
.vacancy-salary .post-date {
	color: #3e5168;
}
.badge-fulltime {
	font-weight: normal;
	background-color: #a25390;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 28px;
}
.badge-parttime {
	font-weight: normal;
	background-color: #e89122;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 28px;
}
.badge-freelance {
	font-weight: normal;
	background-color: #5eaca6;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 28px;
}
.badge-internship {
	font-weight: normal;
	background-color: #a3c502;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 28px;
}

.vacancy-body {
	padding-top: 10px;
	padding-bottom: 10px;
}
.last-edu {
	background-color: #e7e7e7;
	color: #333;
	width: 140px;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 3px;
}
.no-edu {
	height: 25px;
	background-color: #fff;
	margin-bottom: 10px;
}
.company-name {
	font-weight: bold;
	padding-bottom: 10px;
}
.company-label {
	padding-right: 7px;
	max-width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
.company-location {
	font-size: 13px;
}
.vacancy-date {
	padding-top: 7px;
}
.salary {
	font-weight: bold;
	font-size: 15px;
	color: #1baa56;
}
.post-date {
	font-size: 12px;
}
.overlay {
	opacity: 0.3;
}
.middle {
	transition: 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	z-index: 2;
}
.text {
	color: #000;
	font-size: 14px;
	padding: 16px 32px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff;
}
.apply-via {
	width: 105px;
	padding-right: 5px;
	border-radius: 1000px;
	color: #fff;
	font-weight: normal;
}
.apply-icon {
	background-color: #fff;
	border-radius: 1000px;
	font-size: 10px;
	height: 14px;
	width: 14px;
	padding: 0 2px;
}
.from-mamikos {
	background-color: #1baa56;
}
.from-mamikos .apply-icon {
	color: #1baa56;
}
.from-others {
	background-color: #7a7a7a;
}
.from-others .apply-icon {
	color: #7a7a7a;
}

@media (max-width: 350px) {
	.company-label {
		max-width: 150px;
	}
}
@media (min-width: 992px) and (max-width: 1190px) {
	.company-label {
		padding-right: 3px;
		max-width: 130px;
	}
	.vacancy-list {
		padding-right: 5px;
	}
	.container-list-vacancy {
		padding-right: 5px;
	}
}

@supports (-webkit-line-clamp: 3) {
	.vacancy-title {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	.vacancy-title:after {
		display: none;
	}
}
</style>
