<template>
	<div>
		<div class="kost-widget">
			<div class="widget-header text-center">
				<h2>mamikos</h2>
			</div>
			<div class="widget-body text-center">
				<h3
					v-if="job == 'kuliah'"
					class="header-text"
					:class="{ addMarginBtm: openMore }"
				>
					Temukan Kosan di dekat {{ campusAlias }}
				</h3>
				<h3 v-else class="header-text" :class="{ addMarginBtm: openMore }">
					Ada lebih dari 1000 Kost tersedia di {{ area }}
				</h3>
				<span class="open-more">
					<i
						class="glyphicon glyphicon-chevron-right"
						@click="openMore = !openMore"
						v-show="openMore == false && isMoreThanOneRoom"
					></i>
				</span>
				<div
					class="kost-slider"
					:class="{ scroll: openMore, kostWithoutSlider: !isMoreThanOneRoom }"
				>
					<div class="kost" v-for="(room, i) in rooms">
						<a :href="room.share_url" target="_blank">
							<img :src="room.photo_url.medium" />
							<span>
								<h5>
									{{ room.price_title }}/bl -
									<span v-if="room.gender == 0" class="kost-tag kost-tag-mixed"
										>Campur</span
									>
									<span v-if="room.gender == 1" class="kost-tag kost-tag-male"
										>Putra</span
									>
									<span v-if="room.gender == 2" class="kost-tag kost-tag-female"
										>Putri</span
									>
								</h5>
								<p>{{ room['room-title'] }}</p>
							</span>
						</a>
					</div>
					<div class="list-related">
						<a :href="getMoreKostLink"
							><i class="glyphicon glyphicon-chevron-right"></i><br />Lihat
							Lainnya</a
						>
					</div>
				</div>
				<br />
				<a :href="getMoreKostLink" target="_blank"
					><button class="btn ">Cari Kost Sekarang</button></a
				>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		job: {
			type: String,
			required: true
		},
		area: {
			type: String,
			required: true
		},
		rooms: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			openMore: false,
			campusAlias: campusAlias
		};
	},
	computed: {
		getMoreKostLink() {
			if (this.job == 'kuliah') {
				return `https://mamikos.com/kost/kost-dekat-${this.area.toLowerCase()}-murah`;
			} else {
				return `https://mamikos.com/kost/kost-${this.area.toLowerCase()}-murah`;
			}
		},
		isMoreThanOneRoom() {
			if (this.rooms.length > 1) {
				return true;
			} else {
				return false;
			}
		}
	}
};
</script>

<style scoped>
.kost-widget {
	margin: auto;
	padding-bottom: 5px;
	width: 350px;
	background-color: #00be2f;
	border-radius: 5px;
}

@media screen and (max-width: 425px) {
	.kost-widget {
		width: 100%;
	}
}

.widget-header {
	color: white;
}

.widget-body {
	background-color: white;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header-text {
	color: #14b255;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: -15px;
}

.addMarginBtm {
	margin-bottom: 13px;
}

.kost-slider {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
}

.kostWithoutSlider {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	margin-top: 20px;
	margin-bottom: -20px;
}

.scroll {
	overflow-x: scroll;
	overflow-y: hidden;
}

.kost {
	margin: 5px;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.kost a:link,
.kost a:visited,
.kost a:hover {
	text-decoration: none;
}

.kost:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.kost h5,
.kost p {
	padding-left: 5px;
	padding-right: 5px;
}

.kost h5 {
	color: rgb(88, 88, 88);
}

.kost p {
	color: rgb(146, 146, 146);
}

/*
.kost p {
	text-overflow: ellipsis;
}*/

.kost img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.kost-tag {
	font-weight: 600;
}

.kost-tag-mixed {
	color: #860eb7;
}

.kost-tag-male {
	color: #066baf;
}

.kost-tag-female {
	color: #d80c42;
}

.open-more {
	position: relative;
	top: 100px;
	left: 152px;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
}

.list-related {
	margin-top: 70px;
	margin-left: 10px;
	font-size: 18px;
}

.list-related i {
	background-color: grey;
	font-size: 36px;
	border-radius: 30px;
	background-color: #00be2f;
	color: white;
}

@media only screen and (max-width: 425px) {
	.open-more {
		left: 104px;
	}
}

.btn {
	height: 50px;
	width: 100%;
	background-color: #f95516;
	color: white;
	font-size: 2.3rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.placeholder {
	height: 180px;
	overflow: hidden;
}
</style>
