<template>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
		<div class="widget">
			<h3>Artikel Terbaru!</h3>
			<div class="articleList">
				<ul>
					<li v-for="(article, i) in listArticle" :key="i">
						<a :href="article.link" target="_blank">{{ article.title }}</a>
					</li>
				</ul>
				<div class="moreArticle">
					<a href="https://mamikos.com/info/" target="_blank"
						>Lihat Lebih banyak!
					</a>
					<a href="https://mamikos.com/info/"
						><span class="glyphicon glyphicon-chevron-down"></span
					></a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		listArticle: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
.widget {
	margin: auto;
	width: 350px;
}

@media screen and (max-width: 425px) {
	.widget {
		width: 250px;
	}
}

.moreArticle {
	margin-left: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.glyphicon {
	/*margin-left: 22%;*/
	color: #2ed573;
}
</style>
