<template>
	<!-- newest article -->
	<widget-article-blog-new :listArticle="newArticle"></widget-article-blog-new>
	<!-- popular article -->
	<!--  -->
</template>

<script>
import EventBus from '../../event-bus';
import WidgetArticleBlogNew from './WidgetArticleBlogNew';

export default {
	components: {
		WidgetArticleBlogNew
	},
	data() {
		return {
			newArticle: newArticle
		};
	}
};
</script>

<style scoped>
.widget {
	margin: auto;
	width: 350px;
}

@media screen and (max-width: 425px) {
	.widget {
		width: 250px;
	}
}

.moreArticle {
	margin-left: 33%;
}

.glyphicon {
	margin-left: 22%;
	color: #2ed573;
}
</style>
