<template>
	<div>
		<div class="kost-widget">
			<div class="widget-header text-center">
				<h2>mamikos</h2>
			</div>
			<div class="widget-body text-center">
				<h3>Temukan Kost Favoritmu Di Mana Saja</h3>
				<p>
					Dapatkan lebih banyak rekomendasi kost murah di sekitar areamu hanya
					di Mamikos! Kamu juga bisa review dan laporkan kost yang tidak sesuai,
					lho. Kost favoritmu penuh? Manfaatkan fitur waiting list dari Mamikos
					untuk mendapatkan notifikasi kamar kosong. Tunggu apalagi? Mau cari
					kost gampang, Mamikos aja! <span class="hashtag">#CepatCocok</span>.
				</p>
				<a href="https://mamikos.com/cari/" target="_blank"
					><button class="btn ">Cari Kost Sekarang</button></a
				>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		loading: {
			type: Boolean,
			required: true
		}
	}
};
</script>

<style scoped>
.kost-widget {
	margin: auto;
	padding-bottom: 5px;
	width: 350px;
	background-color: #00be2f;
	border-radius: 5px;
}

@media screen and (max-width: 425px) {
	.kost-widget {
		width: 100%;
	}
}

.widget-header {
	color: white;
}

.widget-body {
	background-color: white;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.widget-body h3 {
	color: #14b255;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 15px;
}

.hashtag {
	color: #e04205;
}

/*.widget-body p {
		margin-bottom: 10px;
	}*/

.btn {
	height: 50px;
	width: 100%;
	background-color: #f95516;
	color: white;
	font-size: 2.3rem;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
</style>
