<template>
	<div>
		<widget-article-submitted
			v-if="relatedArticle !== null"
			:listArticle="relatedArticle"
		></widget-article-submitted>
	</div>
</template>

<script>
import EventBus from '../../event-bus';
import WidgetArticleSubmitted from './WidgetArticleSubmitted';

export default {
	components: {
		WidgetArticleSubmitted
	},
	data() {
		return {
			relatedArticle: null
		};
	},
	created() {
		EventBus.$on('getRelatedArticle', payload => {
			this.relatedArticle = payload;
		});
	}
};
</script>

<style scoped>
.widget {
	margin: auto;
	width: 350px;
}

@media screen and (max-width: 425px) {
	.widget {
		width: 250px;
	}
}

.moreArticle {
	margin-left: 33%;
}

.glyphicon {
	margin-left: 22%;
	color: #2ed573;
}
</style>
