<template>
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-12 stretch-sm">
		<div v-if="!isLoading">
			<span v-if="userSubmit.job == null || roomData.length == 0">
				<widget-kost-default></widget-kost-default>
			</span>
			<span v-else>
				<widget-kost-submitted
					:job="userSubmit.job"
					:area="userSubmit.area"
					:rooms="roomData"
				></widget-kost-submitted>
			</span>
		</div>
	</div>
</template>

<script>
import EventBus from '../../event-bus';
import RoomList from '../../../@components/RoomList.vue';
import mixinGetQueryString from '../../../@mixins/MixinGetQueryString';
import WidgetKostDefault from './WidgetKostDefault';
import WidgetKostSubmitted from './WidgetKostSubmitted.vue';

export default {
	components: {
		RoomList,
		WidgetKostDefault,
		WidgetKostSubmitted
	},
	mixins: [mixinGetQueryString],
	data() {
		return {
			location: 'Yogyakarta',
			userSubmit: {
				job: null,
				area: null
			},
			isLoading: false,
			roomData: [],
			busy: false,
			offset: 0,
			limit: 5
		};
	},
	created() {
		this.getUserSubmit();

		if (this.userSubmit.job) {
			this.getRoomList();
		}
	},
	methods: {
		getUserSubmit() {
			this.userSubmit.job = this.getQueryString('job');
			this.userSubmit.area = this.getQueryString('area');

			let needSubscribed = Cookies.get('needSubscribed');
			if (needSubscribed == undefined) {
				Cookies.set('needSubscribed', true);
			}
		},
		getRoomList() {
			this.isLoading = true;
			let url = `/stories/subscribe/content?job=${this.userSubmit.job}&area=${this.userSubmit.area}`;

			axios
				.get(url)
				.then(response => {
					this.isLoading = false;
					if (response.data.status) {
						if (response.data.kos == null) {
							this.roomData = [];
						} else {
							this.roomData = response.data.kos;
						}
						console.log(this.roomData);

						let relatedArticle = response.data.article;
						EventBus.$emit('getRelatedArticle', relatedArticle);
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style scoped></style>
