<template>
	<div class="flash-sale-label">
		<img src="/general/img/icons/ic_lightning_white.svg" alt="icon lightning" />
		<span>Promo Ngebut</span>
	</div>
</template>

<style lang="scss" scoped>
.flash-sale-label {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	background-color: #da3438;
	height: 26px;
	width: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;

	img {
		height: 13px;
		margin-right: 5px;
	}
}
</style>
