<template>
	<div class="flash-sale-countdown countdown__container">
		<span class="countdown__item countdown__days">
			<span>{{ days }} </span>
			<span class="--day-label">Hari</span>
		</span>
		<span class="countdown__item">
			{{ hours }}
		</span>
		<span class="countdown__separator"></span>
		<span class="countdown__item">
			{{ minutes }}
		</span>
		<span class="countdown__separator"></span>
		<span class="countdown__item">
			{{ seconds }}
		</span>
	</div>
</template>

<script>
const MINUTE_IN_SECONDS = 60;
const HOUR_IN_SECONDS = MINUTE_IN_SECONDS * 60;
const DAY_IN_SECONDS = HOUR_IN_SECONDS * 24;

export default {
	name: 'FlashSaleCountdown',
	props: {
		endTime: {
			type: Number,
			required: true
		},
		startTime: {
			type: Number,
			default: 0
		},
		isStart: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			now: 0,
			diff: 0,
			interval: null
		};
	},
	computed: {
		seconds() {
			return this.twoDigits(Math.trunc(this.diff) % 60);
		},
		minutes() {
			return this.twoDigits(Math.trunc(this.diff / MINUTE_IN_SECONDS) % 60);
		},
		hours() {
			return this.twoDigits(Math.trunc(this.diff / HOUR_IN_SECONDS) % 24);
		},
		days() {
			return Math.trunc(this.diff / DAY_IN_SECONDS);
		},
		endTimeInSeconds() {
			return this.endTime / 1000;
		}
	},
	watch: {
		isStart: {
			immediate: true,
			handler(isStart) {
				if (isStart) {
					this.startCountdown();
				} else {
					clearInterval(this.interval);
					this.diff = 0;
				}
			}
		}
	},
	destroyed() {
		clearInterval(this.interval);
	},
	methods: {
		twoDigits(value) {
			return ('0' + value.toString()).slice(-2);
		},
		checkIfCountdownIsStarted(startTime, endTime) {
			const now = new Date().getTime();
			return startTime < now && now < endTime;
		},
		startCountdown() {
			const isCountdownStarted = this.checkIfCountdownIsStarted(
				this.startTime,
				this.endTime
			);
			if (isCountdownStarted) {
				this.interval = setInterval(() => {
					this.calculateCountdown();
				}, 1000);
			}
		},
		calculateCountdown() {
			this.now = Math.trunc(new Date().getTime() / 1000);
			this.diff = this.endTimeInSeconds - this.now;
			if (this.diff <= 0) {
				this.diff = 0;
				clearInterval(this.interval);
				this.$emit('countdown-end');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
%dot-separator {
	display: block;
	width: 3px;
	height: 3px;
	content: '';
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.countdown {
	&__item {
		display: inline-flex;
		padding: 8px;
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		color: #fff;
		text-align: center;
		letter-spacing: 0.05em;
		background: #da3438;
		border-radius: 4px;
		align-items: center;
		justify-content: center;
	}

	&__separator {
		display: inline-block;
		width: 3px;
		margin: 0 4px;

		&::after {
			@extend %dot-separator;
			margin-bottom: -1px;
		}

		&::before {
			@extend %dot-separator;
			margin-bottom: 4px;
		}
	}

	&__days {
		margin-right: 12px;
		color: #404040;
		background-color: #e8e8e8;

		.--day-label {
			margin-left: 4px;
			font-size: 9px;
			font-weight: bold;
			line-height: 11px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}
}
</style>
