<template>
	<div class="flash-sale-price">
		<div class="discount-percentage">
			<span>{{ percentage }}</span>
		</div>

		<div class="discount-price">
			<span>{{ price }}</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		percentage: {
			type: String,
			default: '0%'
		},
		price: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.flash-sale-price {
	display: flex;
	align-items: center;
	font-size: 12px;

	.discount-percentage {
		margin-right: 3px;
		color: #ec4a0c;
	}

	.discount-price {
		color: #999;
		text-decoration: line-through;
	}
}
</style>
