<template>
	<div class="flash-sale-countdown-wrapper">
		<flash-sale-label />
		<span class="flash-sale-end-wording">akan berakhir dalam</span>
		<flash-sale-countdown
			:is-start="isShowBookingRequestProcess"
			:end-time="flashSaleEndTime"
			:start-time="flashSaleStartTime"
			@countdown-end="onCountdownComplete"
		/>
	</div>
</template>

<script>
import FlashSaleCountdown from './FlashSaleCountdown';
import FlashSaleLabel from './FlashSaleLabel';

export default {
	components: {
		FlashSaleCountdown,
		FlashSaleLabel
	},
	computed: {
		flashSaleEndTime() {
			const endTime = new Date(this.$store.state.flashSale.end).getTime();
			return !isNaN(endTime) ? endTime : 0;
		},
		flashSaleStartTime() {
			const endTime = new Date(this.$store.state.flashSale.start).getTime();
			return !isNaN(endTime) ? endTime : 0;
		},
		isShowBookingRequestProcess() {
			return this.$store.state.showBookingRequestProcess;
		},
		isSubmittingBooking() {
			return this.$store.state.submittingBooking;
		},
		isShowBookingSuccess() {
			return this.$store.state.showBookingSuccess;
		},
		isOnBookingProcess() {
			return (
				this.isShowBookingRequestProcess &&
				!this.isSubmittingBooking &&
				!this.isShowBookingSuccess
			);
		}
	},
	methods: {
		onCountdownComplete() {
			this.$store.dispatch('stopFlashSale');
			if (this.isOnBookingProcess) {
				this.$toasted.show('Promo ngebut telah berakhir', {
					theme: 'toasted-primary',
					className: 'booking-toasted-default',
					containerClass: 'booking-toasted-container',
					position: 'bottom-left',
					duration: 5000,
					onComplete: this.reloadPage
				});
			}
		},
		reloadPage() {
			window.location.reload();
		}
	}
};
</script>

<style lang="scss" scoped>
.flash-sale-countdown-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	.flash-sale-end-wording {
		margin: 16px 0;
		font-size: 12px;
		font-weight: 600;
		line-height: 14px;
		color: #949494;

		@media (max-width: 767px) {
			margin: 14px 0 12px;
		}
	}
}
</style>
