<template>
	<section class="area-body">
		<table-of-content :content-links="contentLinks" :active-link="activeLink" />

		<div class="area-content">
			<h1>{{ title }}</h1>
			<area-list :areas="areas" />
		</div>
	</section>
</template>

<script>
import AreaList from '../AreaList';
import TableOfContent from './TableOfContent';

export default {
	components: {
		AreaList,
		TableOfContent
	},
	props: {
		activeLink: {
			type: Object,
			default: null
		},
		areas: {
			type: Array,
			default: null
		},
		contentLinks: {
			type: Array,
			default: null
		},
		title: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss" scoped>
.area-body {
	display: flex;

	.area-content {
		padding: 60px;
		flex: 1 1 60%;

		h1 {
			margin-top: 0;
			margin-bottom: 36px;
			font-weight: bold;
			font-size: 26px;
			line-height: 31px;
		}

		@media (max-width: 767px) {
			padding: 16px;
		}
	}

	.area-toc {
		flex: 1 1 40%;
	}

	@media (max-width: 767px) {
		display: block;
	}
}
</style>
