<template>
	<nav class="area-toc">
		<div>
			<h3>SITEMAPS</h3>
			<ul>
				<li v-for="(contentLink, i) in contentLinks" :key="i">
					<a
						:href="contentLink.url"
						:class="{ 'is-active': isActiveLink(contentLink) }"
						><h3>{{ contentLink.name }}</h3></a
					>
				</li>
			</ul>
		</div>
	</nav>
</template>

<script>
import _get from 'lodash/get';

export default {
	props: {
		contentLinks: {
			type: Array,
			default: null
		},
		activeLink: {
			type: Object,
			default: null
		}
	},
	methods: {
		isActiveLink(link) {
			return _get(this.activeLink, 'name', '') === link.name;
		}
	}
};
</script>

<style lang="scss" scoped>
.area-toc {
	color: #000000;
	background: #f4f4f4;
	padding: 60px;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 767px) {
		padding: 16px;
		justify-content: flex-start;
	}

	h3,
	a,
	li,
	ul {
		margin: 0;
		padding: 0;
	}

	h3 {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 28px;
	}

	ul {
		list-style: none;
	}

	li {
		a {
			color: inherit;

			h3 {
				font-size: 16px;
				line-height: 19px;
				font-weight: normal;
				margin: 0;
				margin-bottom: 28px;
				display: inline-block;

				@media (max-width: 767px) {
					margin-bottom: 8px;
					font-size: 14px;
					line-height: 17px;
				}
			}

			&.is-active {
				h3 {
					font-weight: bold;
				}
			}

			&:hover {
				h3 {
					text-decoration: underline;
				}
			}
		}
	}
}
</style>