<template>
	<div class="wrapper-bill">
		<div class="row">
			<div
				class="col-xs-8"
				:class="{
					'--is-big-font-size': isTotal,
					'--is-discount-title': isDiscount
				}"
			>
				<span class="title">
					{{ title }}
					<manage-popper
						v-if="popperDescription"
						:description="popperDescription"
						class="image-wrapper"
					>
						<img
							src="/general/img/icons/ic_alert_icon-mamipay_grey_o.svg"
							alt="icon information"
							class="image"
						/> </manage-popper
				></span>

				<span
					v-for="(sub, i) in subs"
					v-if="subs.length >= 1"
					:key="i"
					class="subtitle"
					>{{ sub }}</span
				>
			</div>
			<div
				class="col-xs-4 text-right"
				:class="{
					'--is-big-font-size': isTotal,
					'--is-red-color': isTotal,
					'--is-discount-value': isDiscount
				}"
			>
				<b>{{ value }}</b>
			</div>
		</div>
	</div>
</template>

<script>
import ManagePopper from '../ManagePopper';

export default {
	components: {
		ManagePopper
	},

	props: {
		isDiscount: {
			type: Boolean,
			default: false
		},
		isTotal: {
			type: Boolean,
			default: false
		},
		title: {
			type: String,
			default: '-'
		},
		subs: {
			type: Array,
			default: () => {
				return [];
			}
		},
		value: {
			type: String,
			default: '-'
		},
		popperDescription: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-bill {
	font-size: 1em;
	margin-top: 2rem;
	width: calc(100% - 42px);

	.row {
		margin-bottom: 1rem;
	}

	.total-title {
		font-size: 1.143em;
		color: #383746;
		font-weight: bold;
	}

	.--is-discount {
		color: #1baa56 !important;
		font-size: 1em !important;
	}

	.total-value {
		font-size: 1.143em;
		font-weight: bold;
		color: #e04205;
	}

	.title {
		display: inline-flex;

		.popper-wrapper {
			margin-left: 0.7rem;
			position: relative;
			top: -1px;
		}
	}

	.subtitle {
		display: block;
		color: #aaaaaa;
	}

	&.--have-line-bottom {
		border-bottom: 2px dashed #dbdbdb;
		padding-bottom: 2rem;
	}

	.--is-big-font-size {
		font-size: 1.2em;
		font-weight: bold;
	}

	.--is-red-color {
		color: #e04205;
	}

	.--is-discount-title {
		color: #1baa56;
	}

	.--is-discount-value {
		color: #1baa56;
		font-weight: bold;
	}
}
</style>
