<template>
	<div class="app-wrapper">
		<navbar-custom
			:show-input-search="true"
			:navigations="navigations"
		></navbar-custom>
		<div v-if="isLoading" class="vacancy-container">
			<div class="row flex-center">
				<mami-loading-inline></mami-loading-inline>
			</div>
		</div>
		<container-detail-vacancy></container-detail-vacancy>
	</div>
</template>

<script>
import ContainerDetailVacancy from './ContainerDetailVacancy';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		MamiLoadingInline,
		NavbarCustom,
		ContainerDetailVacancy
	},

	data() {
		return {
			isLoading: false,
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari loker lainnya', url: '/loker' }
			]
		};
	},

	computed: {
		slug() {
			return this.$store.state.slug;
		}
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}

@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
		border-radius: 0;
	}
}
</style>

<style scoped>
.vacancy-container {
	margin: auto;
}
@media (min-width: 768px) {
	.vacancy-container {
		padding-top: 91px;
	}
}
</style>
