<template>
  <div>
    <div id="applyJob" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <label
              >SILAKAN MASUKKAN DATA DIRI ANDA <br />
              DAN UPLOAD CV ANDA</label
            >
          </div>
          <div class="modal-body">
            <form @submit.prevent="submitCv" enctype="multipart/form-data">
              <div class="form-group">
                <label for="form-name"
                  >Nama<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="user"
                  id="form-name"
                  placeholder="masukkan nama lengkap anda"
                  v-model="user"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="masukkan email anda"
                  v-model="email"
                />
              </div>
              <div class="form-group">
                <label for="phone"
                  >Nomor Telepon<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phone"
                  pattern="^0(\d{3,4}-?){2}\d{3,4}$"
                  placeholder="masukkan nomor handphone anda"
                  v-model="phone"
                  required
                />
              </div>
              <div>
                <div>
                  <label
                    >Upload CV<span class="text-danger"
                      >* (format .pdf, maksimal ukuran file 2 MB)</span
                    ></label
                  >
                </div>
                <dropzone
                  ref="app-letter"
                  id="app-letter"
                  :options="dropzoneOptions"
                  @vdropzone-success="showSuccess"
                >
                </dropzone>
                <button
                  type="submit"
                  class="btn btn-mamiorange button-submit"
                  :disabled="this.cv == ''"
                >
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="uploadSuccess" class="modal fade modal-success" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <label class="success-message"
              >Selamat! <br />
              Lamaran Pekerjaan <br />
              Berhasil Kami Terima</label
            >
            <label class="success-desc"
              >Lamaran sudah kami sampaikan, tunggu dihubungi oleh
              perusahaan.</label
            >
            <button
              type="button"
              class="btn btn-mamigreen"
              data-dismiss="modal"
              @click="closeModal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
  components: {
    Dropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
        url: '/garuda/stories/jobs/cv/file',
        paramName: 'cv',
        acceptedFiles: 'application/pdf',
        maxFiles: 1,
        autoProcessQueue: true,
        maxFilesize: 2,
        createImageThumbnails: false,
        addRemoveLinks: true,

        dictDefaultMessage: 'Pilih atau Drop File disini',
        dictFileTooBig: 'Ukuran file terlalu besar',
        dictInvalidFileType: 'Harap mengunggah file berformat pdf',
        dictCancelUpload: 'Batal Unggah',
        dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
        dictRemoveFile: 'Ganti File',

        params: {
          _token: this.$store.state.token
        }
      },
      isClosed: false,
      user: '',
      email: '',
      phone: '',
      cv: ''
    };
  },
  watch: {
    isClosed(val) {
      if (val) {
        this.$emit('closed', val);
      } else {
        this.$emit('opened', val);
      }
    }
  },
  computed: {
    token() {
      return this.$store.state.token;
    },
    seq() {
      return this.$store.state.detail.id;
    },
    authData() {
      return this.$store.state.authData;
    }
  },
  created() {
    this.user = this.authData.all.name;
    this.phone = this.authData.all.phone_number;
    this.email = this.authData.all.email;
  },
  mounted() {
    $('#applyJob').on('show.bs.modal', e => {
      this.isClosed = false;
    });
    $('#applyJob').on('hide.bs.modal', e => {
      this.isClosed = true;
    });
  },
  methods: {
    openModal() {
      $('#applyJob').modal('show');
    },
    closeModal() {
      $('#applyJob').modal('hide');
    },
    showSuccess(file, response) {
      if ((file.status = true)) {
        this.cv = response.name;
      } else {
        alert('Upload gagal! Silakan ulangi kembali.');
      }
    },
    submitCv() {
      if (this.name != '' && this.phone != '') {
        this.openSwalLoading('Mohon tunggu...', null);
        axios
          .post('/stories/jobs/cv/add', {
            _token: this.token,
            identifier: this.seq,
            user: this.user,
            email: this.email,
            phone: this.phone,
            cv: this.cv
          })
          .then(response => {
            this.closeSwalLoading();
            if (response.data.status) {
              $('#uploadSuccess').modal('show');
            } else {
              this.swalError(response.data.messages, null);
            }
          })
          .catch(error => {
            alert(error);
            bugsnagClient.notify(error);
          });
      } else {
        alert('Lengkapi data Anda sebelum melanjutkan');
      }
    }
  }
};
</script>

<style scoped>
.button-submit {
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
.input-file {
  padding-top: 10px;
}
.modal-content {
  border: 3px solid #338c56;
}
.modal-header {
  text-align: center;
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-success .modal-dialog {
  width: 300px;
}
.modal-success .modal-body {
  text-align: center;
}
.modal-success .modal-body button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.modal-success .success-message {
  font-size: 20px;
}
.modal-success .success-desc {
  font-weight: normal;
  padding-top: 20px;
}
</style>

<style>
.dropzone .dz-preview {
  display: flex;
}
.vue-dropzone .dz-preview .dz-image img:not([src]) {
  width: 100%;
  height: 70px;
}
.dropzone.dz-clickable * {
  cursor: pointer;
}
.vue-dropzone .dz-preview .dz-details {
  background-color: #1baa56;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  display: flex;
}
.dropzone .dz-preview .dz-details .dz-size {
  font-size: 14px;
  margin-top: 0px;
}
.vue-dropzone .dz-preview .dz-remove {
  position: initial;
  z-index: 30;
  color: white;
  margin-left: 15px;
  padding: 10px;
  top: inherit;
  bottom: 15px;
  border: 2px white solid;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.1px;
  opacity: 0;
  height: 40px;
  width: 250px;
  margin-top: 15px;
  margin-right: 15px;
}
.dropzone .dz-preview {
  position: relative;
  vertical-align: top;
  margin: 16px;
  min-height: 70px;
}
.vue-dropzone .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  max-width: 230px;
}
.vue-dropzone .dz-preview .dz-success-mark,
.vue-dropzone .dz-preview .dz-error-mark {
  margin-left: auto;
  margin-top: 10px;
  width: 100%;
  top: 35%;
  left: 0;
}

@media (max-width: 767px) {
  .vue-dropzone .dz-preview .dz-details .dz-filename {
    overflow: hidden;
    max-width: 100px;
  }
}
</style>
