<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Kompetensi Pelamar Kerja'"
		></section-title>

		<div class="col-md-12 col-xs-12">
			<field-last-education
				:label="'Pendidikan Terakhir'"
				:placeholder="'Tuliskan pendidikan terakhir Anda'"
			></field-last-education>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-skills
				:label="'Skill dan Kemampuan'"
				:placeholder="
					'Tulis dengan lengkap skill dan kemampuan yang Anda miliki, jika pernah ikut pelatihan atau kursus silakan tulis juga'
				"
			></field-skills>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-experience
				:label="'Pengalaman Kerja'"
				:placeholder="
					'Tulis dengan lengkap pengalaman kerja anda selama ini, sertakan berapa lama dan apa saja yang Anda kerjakan'
				"
			></field-experience>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-last-salary
				:label="'Penghasilan Terakhir'"
				:placeholder="'Jika tidak ada tulis 0'"
			></field-last-salary>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-expect-salary
				:label="'Ekspektasi Gaji'"
				:placeholder="'Tuliskan penghasilan yang Anda harapkan'"
			></field-expect-salary>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-placement
				:label="'Saya bersedia ditempatkan di'"
			></field-placement>
		</div>

		<div class="col-md-12 col-xs-12 cv-upload">
			<field-upload></field-upload>
		</div>

		<div v-if="workplace == 1">
			<section-alert
				:grid="'col-md-12 col-xs-12'"
				:text="
					'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
				"
				v-show="
					$store.state.params.education == '' ||
						$store.state.params.skill == '' ||
						$store.state.params.job_experience == '' ||
						$store.state.params.jobs_salary == '' ||
						$store.state.params.workplace_status == ''
				"
			></section-alert>
			<div class="col-md-12 col-xs-12 input-footer-btn">
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					@click="previousSection($store.state.section)"
					v-text="'Kembali'"
				></button>
				<button
					type="button"
					class="btn btn-kost btn-mamiorange track-submit-apply-vacancy"
					:disabled="
						$store.state.params.education !== '' &&
						$store.state.params.skill !== '' &&
						$store.state.params.job_experience !== '' &&
						$store.state.params.last_salary !== '' &&
						$store.state.params.jobs_salary !== '' &&
						$store.state.params.workplace_status !== 0
							? false
							: true
					"
					@click="submitApplyJob"
					v-text="'Submit'"
				></button>
			</div>
		</div>

		<div v-else>
			<section-alert
				:grid="'col-md-12 col-xs-12'"
				:text="
					'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
				"
				v-show="
					$store.state.params.education == '' ||
						$store.state.params.skill == '' ||
						$store.state.params.job_experience == '' ||
						$store.state.params.jobs_salary == ''
				"
			></section-alert>
			<div class="col-md-12 col-xs-12 input-footer-btn">
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					@click="previousSection($store.state.section)"
					v-text="'Kembali'"
				></button>
				<button
					type="button"
					class="btn btn-kost btn-mamiorange track-submit-apply-vacancy"
					:disabled="
						$store.state.params.education !== '' &&
						$store.state.params.skill !== '' &&
						$store.state.params.job_experience !== '' &&
						$store.state.params.last_salary !== '' &&
						$store.state.params.jobs_salary !== ''
							? false
							: true
					"
					@click="submitApplyJob"
					v-text="'Submit'"
				></button>
			</div>
		</div>

		<modal-input-success :message="message.success"></modal-input-success>
		<modal-input-failed :messages="message.failed"></modal-input-failed>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';

import FieldExpectSalary from 'Js/input/components/input-vacancy/FieldSalary';
import ModalInputFailed from 'Js/input/components/ModalInputFailed';
import ModalInputSuccess from 'Js/input/components/ModalInputSuccess';
import SectionAlert from 'Js/input/components/SectionAlert';
import SectionTitle from 'Js/input/components/SectionTitle';

import FieldExperience from './FieldExperience';
import FieldLastEducation from './FieldLastEducation';
import FieldLastSalary from './FieldLastSalary';
import FieldPlacement from './FieldPlacement';
import FieldSkills from './FieldSkills';
import FieldUpload from './FieldUpload';

export default {
	components: {
		FieldExpectSalary,
		SectionAlert,
		SectionTitle,
		FieldExperience,
		FieldLastEducation,
		FieldLastSalary,
		FieldPlacement,
		FieldSkills,
		FieldUpload
	},

	mixins: [mixinScrollTop],

	data() {
		return {
			message: {
				success: '',
				failed: []
			}
		};
	},
	computed: {
		seq() {
			return this.$store.state.seq;
		},
		idJob() {
			return this.$store.state.detail.id;
		},
		workplace() {
			return this.$store.state.detail.workplace_status;
		}
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		submitApplyJob() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/stories/jobs/cv/add', {
					_token: this.$store.state.token,
					identifier: this.idJob,
					user: this.$store.state.params.owner_name,
					email: this.$store.state.params.owner_email,
					phone: this.$store.state.params.insert_phone,
					address: this.$store.state.params.address,
					education: this.$store.state.params.education,
					skill: this.$store.state.params.skill,
					job_experience: this.$store.state.params.job_experience,
					last_salary: this.$store.state.params.last_salary,
					expectation_salary: this.$store.state.params.jobs_salary,
					workplace_status: this.$store.state.params.workplace_status,
					cv: this.$store.state.params.cv
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.message.success = response.data.meta.message;
						swal({
							title: 'Tersimpan!',
							text: 'Data Anda telah berhasil kami simpan.',
							type: 'success',
							confirmButtonColor: '#1BAA56',
							confirmButtonText: 'OK'
						}).then(result => {
							location.reload();
						});
					} else {
						this.message.failed = response.data.messages;
						swal({
							title: 'Gagal!',
							text: 'Data Anda tidak tersimpan',
							type: 'warning',
							confirmButtonColor: '##EC4A0C',
							confirmButtonText: 'OK'
						});
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style scoped>
.input-footer-btn {
	text-align: right;
	margin-right: 25px;
	margin-bottom: 90px;
}
.input-footer-btn button {
	width: 204.42px;
	font-weight: bold;
	margin-top: 10px;
}
.cv-upload {
	margin-bottom: 20px;
}
</style>

<style>
input#inputSalary {
	width: 300px;
}
</style>
