<template>
	<div>
		<div v-if="apply === false">
			<breadcrumb-trails :contents="vacancyBreadcrumb"></breadcrumb-trails>

			<div class="container-detail">
				<div class="detail-container">
					<header-detail></header-detail>
					<div class="clearfix"></div>
					<div class="inner-container-detail container stretch">
						<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 stretch">
							<vacancy-title></vacancy-title>
							<div
								v-if="!isExpired"
								class="visible-xs hidden-sm hidden-md hidden-lg"
							>
								<vacancy-detail></vacancy-detail>
							</div>
							<vacancy-description v-if="!isExpired"></vacancy-description>
						</div>

						<div v-if="isExpired" class="clearfix"></div>

						<div v-if="isExpired" class="col-md-12">
							<p class="inactive-subtitle">
								Maaf lowongan pekerjaan ini sedang tidak aktif...
							</p>
						</div>

						<div
							v-if="!isExpired"
							class="col-sm-5 col-md-4 col-lg-4 hidden-xs vacancy-card"
						>
							<div id="sticker">
								<vacancy-detail></vacancy-detail>
								<div class="apply-job">
									<div v-if="urbanHire === 1" class="container-urbanhire">
										<img
											src="/assets/logo/urbanhire_logo.png"
											alt="urbanhire_logo"
											class="urbanhire-logo"
										/>
									</div>

									<button
										v-if="applyViaOther === true"
										type="button"
										class="btn btn-mamiorange track-apply-job track-apply-job-body"
										:disabled="hasApply === false && !isExpired ? false : true"
										@click="applyJobOther(applyViaUrl)"
									>
										<span v-if="authCheck.all === false">
											<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR SEKARANG
										</span>
										<span v-else>
											<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR VIA
											{{ applyViaName }}
										</span>
									</button>
									<button
										v-else
										type="button"
										class="btn btn-mamiorange  track-apply-job track-apply-job-body"
										:disabled="hasApply === false && !isExpired ? false : true"
										@click="applyJob"
									>
										<span v-if="hasApply === false"
											><i class="fa fa-file"></i>&nbsp;&nbsp; LAMAR
											SEKARANG</span
										>
										<span v-else
											><i class="fa fa-file"></i>&nbsp;&nbsp; SUDAH
											DILAMAR</span
										>
									</button>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>

						<social-media v-if="!isExpired"></social-media>

						<div v-if="suggestions.length > 0" class="section-label">
							<h4>
								<label class="sub-heading"
									>Rekomendasi Lowongan Kerja Lainnya :</label
								>
							</h4>
						</div>
						<div class="clearfix"></div>

						<vacancy-recommend
							v-if="suggestions.length > 0"
							:suggestions="suggestions"
						></vacancy-recommend>

						<div v-if="!isExpired" class="section-label">
							<h4><label class="sub-heading">Peta Lokasi Perusahaan</label></h4>
						</div>
						<div class="clearfix"></div>

						<div v-if="!isExpired" class="show-map-container">
							<div v-if="!isShowing" class="show-map" @click="toggleShow">
								<button class="btn btn-mamigreen">
									<i class="fa fa-map-marker"></i>&nbsp;&nbsp;Tampilkan Lokasi
								</button>
							</div>
							<div v-else class="vacancy-map">
								<location-osm
									:grid="'col-xs-12 stretch'"
									:center="latlng"
								></location-osm>
							</div>
						</div>
					</div>
				</div>
			</div>

			<vacancy-button-footer
				v-if="!isExpired"
				:verify="verify"
				@postJob="postJob"
				@rejectJob="rejectJob"
				@applyJobOther="applyJobOther(applyViaUrl)"
				@applyJob="applyJob"
			/>
		</div>

		<div v-else>
			<div class="close-tab">
				<button class="btn btn-close" @click="returnDetail">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="container input-container">
				<!-- <breadcrumb-pills
					class="breadcrumb-apply"
					:contents="['1. Data Pelamar Kerja', '2. Kompetensi Pelamar Kerja']"
					:grid="'col-md-4 col-xs-6'"
					v-if="$store.state.section !== 0"
				></breadcrumb-pills> -->
				<applicant-data v-if="$store.state.section === 1"></applicant-data>
				<applicant-competence
					v-else-if="$store.state.section === 2"
				></applicant-competence>
			</div>
		</div>

		<login-user
			:show-modal="isModalLogin"
			@close="closeModalLogin"
		></login-user>
	</div>
</template>

<script>
import 'jquery-sticky/jquery.sticky.js';

import ApplicantData from './ApplicantData';
import ApplicantCompetence from './ApplicantCompetence';
import HeaderDetail from './HeaderDetail';
import SocialMedia from './SocialMedia';
import VacancyButtonFooter from './VacancyButtonFooter';
import VacancyTitle from './VacancyTitle';
import VacancyDescription from './VacancyDescription';
import VacancyDetail from './VacancyDetail';
import VacancyRecommend from './VacancyRecommend';

const BreadcrumbTrails = () => import('Js/@components/BreadcrumbTrails');
const LocationOsm = () => import('Js/@components/LocationOsm');
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	components: {
		BreadcrumbTrails,
		LocationOsm,
		LoginUser,
		ApplicantData,
		ApplicantCompetence,
		HeaderDetail,
		SocialMedia,
		VacancyButtonFooter,
		VacancyTitle,
		VacancyDescription,
		VacancyDetail,
		VacancyRecommend
	},
	data() {
		return {
			apply: false,
			isShowing: false,
			isOwner: '',
			isUser: '',
			verify: false,
			isModalLogin: false
		};
	},
	computed: {
		vacancyBreadcrumb() {
			return this.$store.state.detail.breadcrumb;
		},
		latlng() {
			return {
				lat: this.$store.state.detail.latitude,
				lng: this.$store.state.detail.longitude
			};
		},
		subDist() {
			return this.$store.state.detail.subdistrict;
		},
		titleJob() {
			return this.$store.state.detail.title;
		},
		hasApply() {
			return this.$store.state.detail.apply;
		},
		applyViaOther() {
			return this.$store.state.detail.apply_other_web;
		},
		applyViaName() {
			return this.$store.state.detail.other_web_name;
		},
		applyViaUrl() {
			return this.$store.state.detail.other_web_url;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		verification() {
			return this.$store.state.verificationStatus;
		},
		verificationId() {
			return this.$store.state.verificationFor;
		},
		suggestions() {
			return this.$store.state.detail.related === null
				? []
				: this.$store.state.detail.related;
		},
		urbanHire() {
			return this.$store.state.detail.aggregator_partner_id;
		},
		isDeleted() {
			return !(
				this.$store.state.detail.deleted_at === null ||
				this.$store.state.detail.deleted_at === undefined
			);
		},
		isExpired() {
			return this.$store.state.detail.is_expired || this.isDeleted;
		},
		isExpiredString() {
			try {
				if (
					this.$store.state.detail.expired_string.includes('Sudah') ||
					this.$store.state.detail.expired_string.includes('lalu')
				) {
					return true;
				}
			} catch (err) {
				return false;
			}
		}
	},
	mounted() {
		$('#sticker').sticky({
			topSpacing: 53,
			bottomSpacing: 700,
			zIndex: 20,
			getWidthFrom: '.vacancy-card',
			responsiveWidth: true
		});
	},
	created() {
		this.isOwner = this.authCheck.owner;
		this.isUser = this.authCheck.user;
		if (this.verification === '1') {
			this.verify = true;
		}
	},
	methods: {
		toggleLocation(map) {
			this.map = map;
		},
		toggleShow() {
			// tracker
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Detail Map',
					eventAction: 'click',
					eventLabel: 'Open Detail Vacancy Map'
				}
			]);
			this.isShowing = !this.isShowing;
		},
		applyJob() {
			if (this.isUser === true) {
				this.apply = !this.apply;
			} else if (this.isOwner === true) {
				swal(
					'',
					'Maaf, untuk bisa melamar pekerjaan ini Anda harus login sebagai User terlebih dahulu',
					'warning'
				);
			} else {
				this.openModalLogin();
			}
		},
		applyJobOther(url) {
			if (this.isUser === true) {
				if (
					(typeof window.matchMedia === 'function' &&
						window.matchMedia('(display-mode: standalone)').matches) ||
					('standalone' in navigator && navigator.standalone)
				) {
					window.location.href = url;
				} else {
					window.open(url, '_blank');
				}
			} else if (this.isOwner === true) {
				swal(
					'',
					'Maaf, untuk bisa melamar pekerjaan ini Anda harus login sebagai User terlebih dahulu',
					'warning'
				);
			} else {
				this.openModalLogin();
			}
		},
		postJob() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('stories/jobs/verification', {
					verification_status: true,
					verification_for: this.verificationId
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						$('#modalInputSuccess').modal();
						$('#modalInputSuccess').on('hide.bs.modal', e => {
							location.reload();
						});
					} else {
						$('#modalInputFailed').modal();
					}
				});
		},
		rejectJob() {
			this.verify = false;
			window.open('/', '_self');
		},
		returnDetail() {
			this.apply = !this.apply;
		},
		openModalLogin() {
			this.isModalLogin = true;
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style lang="scss">
@import 'Sass/form/style.scss';
</style>

<style lang="scss" scoped>
//colors
$color_gallery_approx: #eee;
$white: #fff;
$color_celeste_approx: #ccc;
$color_green_haze_approx: #1baa56;
$color_concord_approx: #7c7c7c;

.inactive-subtitle {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 100px;
}
.container-detail {
	padding: 0;
}
.inner-container-detail {
	padding: 0;
}
#sticker {
	border: 1px solid $color_gallery_approx;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	background-color: $white;
}
.box {
	background-color: $color_celeste_approx;
	height: 250px;
}
.promoted-lowker-label {
	color: $color_green_haze_approx;
	font-size: 16px;
	padding-left: 15px;
	padding-top: 10px;
}
.show-map-container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.show-map {
	height: 300px;
	background-color: $color_celeste_approx;
	display: flex;
	justify-content: center;
	align-items: center;
	.btn {
		font-size: 20px;
		padding: 15px;
	}
}
.vacancy-map {
	height: 300px;
}
.close-tab {
	margin-top: 54px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: $white;
	z-index: 2;
	border-bottom: 2px solid $color_gallery_approx;
	button {
		font-size: 14px;
		background-color: $white;
		border-color: $white;
		color: $color_concord_approx;
		display: flex;
		align-items: center;
		margin-right: 20px;
		i {
			font-size: 25px;
		}
	}
}
.breadcrumb-apply {
	margin-top: 150px;
}
.footer {
	background-color: $white;
}
.container-urbanhire {
	display: flex;
	justify-content: center;
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 10px;
}
.urbanhire-logo {
	height: 28px;
	margin-top: -3px;
}
.sub-heading {
	font-size: 14px;
}
@media (max-width: 767px) {
	.detail-container {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.vacancy-map {
		margin-bottom: 50px;
	}
	.show-map {
		margin-bottom: 50px;
	}
	.show-map-container {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) {
	.detail-container {
		padding-top: 91px;
	}
}
@media (min-width: 768px) and(max-width: 991px) {
	.apply-job button {
		font-size: 15px;
	}
}
@media (max-width: 1199px) {
	.urbanhire-logo {
		height: 24px;
	}
}
@media (max-width: 450px) and(min-width: 321px) {
	.breadcrumb-apply .breadcrumb-pills-content span {
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 420px) and(min-width: 316px) {
	.breadcrumb-apply .breadcrumb-pills-content span {
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (min-width: 992px) {
	.breadcrumb-pills-content {
		padding: 0;
		margin-left: 16.5%;
	}
}
.breadcrumb-trails {
	position: absolute;
}
.verification button {
	width: 100%;
	border-radius: 4px;
}
.apply-job button {
	width: 100%;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	text-transform: uppercase;
}
.section-label label {
	width: 100%;
	background-color: $color_gallery_approx;
	padding: 10px;
}

.input-container {
	padding-top: 11.9rem;
	@media (max-width: 767px) {
		padding-top: 6.9rem;
	}
}

.close-tab {
	@media (max-width: 767px) {
		margin-top: 0px;
	}
}
</style>
