<template>
	<div class="form-group">
		<label for="inputSalary"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>
		<br />
		<div class="form-inline">
			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
			>
				<input
					type="text"
					id="inputSalary"
					class="form-control"
					min="0"
					max="999999999"
					name="Gaji"
					:placeholder="placeholder"
					v-model="salary"
					v-validate="'required|numeric|max_value:999999999'"
					v-mask="'9999999999'"
				/>
				<p class="text-danger" v-show="errors.has('Gaji')">
					{{ errors.first('Gaji') }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import mask from 'awesome-mask';
const WAITING_VALIDATOR_TIME = 500;

export default {
	directives: {
		mask: mask
	},

	data() {
		return {
			salary: this.$store.state.params.last_salary.toString()
		};
	},
	watch: {
		salary: debounce(function(val) {
			console.log(val);
			validator.attach('Gaji', 'required|numeric|max_value:999999999');
			validator
				.validate('Gaji', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsLastSalary', parseInt(val));
					} else {
						this.$store.commit('setParamsLastSalary', '');
						this.salary = '';
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, WAITING_VALIDATOR_TIME)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
.price-checkbox {
	margin-bottom: 10px;
}
.price-input {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	> p {
		margin-bottom: 5px;
	}
}
@media (max-width: 767px) {
	.form-inline .form-control {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.form-inline .form-control {
		width: 160px;
	}
}
.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
}
</style>
