<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="experienceDesc"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
		</label>
		<div class="distance-label">
			<textarea
				type="text"
				id="experienceDesc"
				class="form-control"
				:name="label"
				:placeholder="placeholder"
				v-model="description"
				v-validate="'required'"
			>
			</textarea>
			<p class="text-danger" v-show="errors.has(label)">
				{{ errors.first(label) }}
			</p>
		</div>
	</div>
</template>

<script>
const WAITING_VALIDATOR_TIME = 500;

export default {
	data() {
		return {
			description: this.$store.state.params.job_experience
		};
	},
	watch: {
		description: debounce(function(val) {
			validator.attach(this.label, 'required');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsJobExperience', val);
					} else {
						this.$store.commit('setParamsJobExperience', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, WAITING_VALIDATOR_TIME)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style scoped>
textarea {
	height: 200px;
}
.loading-spinner-default {
	font-weight: normal;
}
</style>
