<template>
    <div class="form-group">
        <label
            >{{ label }}
            <span v-if="workplace == 1" class="text-danger"
                >*wajib diisi</span
            ></label
        >
        <br />
        <span>{{ location }}</span>
        <br />
        <div class="checkbox checkbox-inline">
            <input type="checkbox" id="jobsPlacement" v-model="jobsPlacement" />
            <label for="jobsPlacement">Saya bersedia</label>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            jobsPlacement: false
        };
    },
    computed: {
        location() {
            return this.$store.state.detail.workplace;
        },
        workplace() {
            return this.$store.state.detail.workplace_status;
        }
    },
    watch: {
        jobsPlacement(val) {
            if (val == true) {
                this.$store.commit('setParamsWorkplaceStatus', 1);
            } else if (val == false) {
                this.$store.commit('setParamsWorkplaceStatus', 0);
            }
        }
    },
    props: {
        label: {
            type: String,
            required: true
        }
    }
};
</script>

<style scoped>
.form-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
</style>
