<template>
	<div>
		<div class="add-cv" @click="toggleShow" v-if="isShowing == false">
			<div class="label-add">
				<span>maks 2MB (tidak wajib)</span>
			</div>
			<div>
				<button class="btn btn-mamigreen">Tambahkan CV / Portofolio</button>
			</div>
		</div>
		<div class="add-cv" @click="toggleShow" v-if="isShowing == true">
			<div class="label-cancel">
				<span>maks 2MB (tidak wajib)</span>
			</div>
			<div>
				<button class="btn btn-mamigreen">
					Batal Tambahkan CV / Portofolio
				</button>
			</div>
		</div>
		<div v-if="isShowing == true">
			<div>
				<label
					>Upload CV
					<span class="text-danger"
						>(format .pdf, maksimal ukuran file 2 MB)</span
					></label
				>
			</div>
			<dropzone
				ref="dropzoneArea"
				id="dropzoneArea"
				:options="dropzoneOptions"
				@vdropzone-success="showSuccess"
				@vdropzone-file-added="fileAdded"
			>
			</dropzone>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: vue2Dropzone
	},
	data() {
		return {
			isShowing: false,
			dropzoneOptions: {
				url: '/garuda/stories/jobs/cv/file',
				paramName: 'cv',
				acceptedFiles: 'application/pdf',
				maxFiles: 1,
				autoProcessQueue: true,
				createImageThumbnails: false,
				addRemoveLinks: true,

				dictDefaultMessage: 'Pilih atau Drop File disini',
				dictResponseError: 'Upload gagal. Silakan ulangi kembali.',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti File',

				params: {
					_token: this.$store.state.token
				}
			}
		};
	},
	methods: {
		toggleShow() {
			this.isShowing = !this.isShowing;
		},

		conditionFailedUpload() {
			swal({
				title: 'Upload Gagal',
				text:
					'File gagal diupload. Silakan cek kembali ukuran, format file atau koneksi internet Anda.',
				type: 'warning',
				confirmButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(result => {
				this.$refs.dropzoneArea.removeAllFiles();
			});
		},

		fileAdded(file) {
			setTimeout(() => {
				if (!file.accepted) {
					this.conditionFailedUpload();
				}
			}, 1000);
		},

		showSuccess(file, response) {
			if (response.status == true) {
				this.$store.state.params.cv = response.name;
			} else {
				this.conditionFailedUpload();
			}
		}
	}
};
</script>

<style scoped>
.add-cv {
	text-align: right;
	padding: 10px 0;
}
.add-cv span {
	font-weight: bold;
	font-size: 12px;
}
.add-cv button {
	font-weight: bold;
}
.label-add {
	margin-right: 66px;
}
.label-cancel {
	margin-right: 102px;
}
</style>

<style>
.dropzone .dz-preview {
	display: flex;
}
.vue-dropzone .dz-preview .dz-image img:not([src]) {
	width: 100%;
	height: 70px;
}
.dropzone.dz-clickable * {
	cursor: pointer;
}
.vue-dropzone .dz-preview .dz-details {
	background-color: #1baa56;
}
.dropzone .dz-preview.dz-file-preview .dz-details {
	display: flex;
}
.dropzone .dz-preview .dz-details .dz-size {
	font-size: 14px;
	margin-top: 0px;
}
.vue-dropzone .dz-preview .dz-remove {
	position: initial;
	z-index: 30;
	color: white;
	margin-left: 15px;
	padding: 10px;
	top: inherit;
	bottom: 15px;
	border: 2px white solid;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 1.1px;
	opacity: 0;
	height: 40px;
	width: 250px;
	margin-top: 15px;
	margin-right: 15px;
}
.dropzone .dz-preview {
	position: relative;
	vertical-align: top;
	margin: 16px;
	min-height: 70px;
}
.vue-dropzone .dz-preview .dz-details .dz-filename {
	overflow: hidden;
	max-width: 230px;
}
.vue-dropzone .dz-preview .dz-success-mark,
.vue-dropzone .dz-preview .dz-error-mark {
	margin-left: auto;
	margin-top: 10px;
	width: 100%;
	top: 35%;
	left: 0;
}

@media (max-width: 767px) {
	.vue-dropzone .dz-preview .dz-details .dz-filename {
		overflow: hidden;
		max-width: 100px;
	}
}
</style>
