<template>
	<div class="header-container">
		<div class="header-shadow">
			<div class="container company-detail">
				<div class="company-logo">
					<img :src="photoUrl" alt="company_logo" v-if="photoUrl !== null && photoUrl !== ''">
				</div>
				<div class="company-title">
					<h2 class="name">{{ placeName }}</h2>
					<span class="address">{{ address }}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		placeName() {
			return this.$store.state.detail.place_name;
		},
		address() {
			return this.$store.state.detail.address;
		},
		photoUrl() {
			return this.$store.state.detail.photo.small;
		}
	}
};
</script>

<style scoped>
.header-container {
	background-image: url(/assets/icons/pattern.jpg);
	background-repeat-x: repeat;
	background-size: contain;
}
.header-shadow {
	background-color: rgba(0, 0, 0, 0.5);
}
.company-detail {
	padding-top: 5px;
	padding-bottom: 5px;
}
.company-logo {
	float: left;
}
.company-logo img{
	width: 55px;
	height: 55px;
	border-radius: 7px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	margin-left: 0;
}
.company-title {
	float: left;
	margin-top: 6px;
}
.company-title .name {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
	margin-bottom: 5px;
}
.company-title .address {
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
