<template>
	<div class="sns-container stretch-xs col-sm-7 col-md-8">
		<label class="sns-title col-lg-3 col-md-3">Bagikan Lewat</label>
		<div class="sns-icons col-lg-6 col-md-9">
			<mami-share></mami-share>
		</div>
	</div>
</template>

<script>
const MamiShare = () => import('Js/@components/MamiShare');

export default {
	components: {
		MamiShare
	}
};
</script>

<style scoped>
.sns-container {
	padding: 0;
}
.sns-title {
	padding: 15px;
}

.sns-icons {
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.sns-title {
		width: 100%;
		background-color: #eee;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
	.sns-icons {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}
@media (min-width: 768px) {
	.sns-container {
		border-top: 1px solid #eee;
		padding-top: 15px;
		padding-bottom: 5px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}
</style>
