<template>
	<div class="vacancy-desc stretch-xs">
		<h2 class="desc-title col-lg-3 col-md-3">Deskripsi Pekerjaan</h2>
		<div class="desc-job col-lg-9 col-md-9">
			<div>
				<span 
					class="last_edu" 
					v-if="last_education !== '' && last_education !== null"
				>Min. {{ last_education }}</span>
			</div>
			<div class="vacancy-desc" v-html="description"></div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		description() {
			return this.$store.state.detail.description;
		},
		last_education() {
			return this.$store.state.detail.last_education;
		}
	}
};
</script>

<style scoped>
.vacancy-desc {
	padding: 0;
}
.desc-title {
	font-size: 14px;
	font-weight: bold;
}
.desc-job {
	padding: 15px;
}
.last_edu {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
	background-color: #e7e7e7;
	color: #333;
	width: 140px;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 3px;
}

.vacancy-desc {
	display: inline-block !important;
	font-size: 14px;
	margin-top: 0;
	line-height: 20px;
}

@media (max-width: 767px) {
	.desc-title {
		width: 100%;
		background-color: #eee;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
}
@media (min-width: 768px) {
	.vacancy-desc {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.desc-job {
		margin-left: 35px;
	}
}
</style>
