<template>
	<footer class="verification">
		<div class="hidden-xs visible-sm visible-md visible-lg footer-stretch">
			<div
				class="footer navbar-fixed-bottom nav-bottom verification"
				v-if="verify == true"
			>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange footer-apply-button track-apply-job track-apply-job-footer"
					@click="postJob"
				>
					SETUJU TAMPILKAN LOWONGAN KERJA
				</button>
				<button
					type="button"
					class="btn btn-apply btn-reject track-apply-job track-apply-job-footer"
					@click="rejectJob"
				>
					TIDAK SETUJU DITAMPILKAN
				</button>
			</div>
			<div class="footer navbar-static-bottom nav-bottom" v-else>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange footer-apply-button track-apply-job track-apply-job-footer"
					:disabled="hasApply == false && !isExpiredString ? false : true"
					v-if="applyViaOther == true"
					@click="applyJobOther"
				>
					<span v-if="authCheck.all == false">
						<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR SEKARANG
					</span>
					<span v-else>
						<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR VIA {{ applyViaName }}
					</span>
				</button>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange footer-apply-button track-apply-job track-apply-job-footer"
					:disabled="hasApply == false && !isExpiredString ? false : true"
					v-else
					@click="applyJob"
				>
					<span v-if="hasApply == false"
						><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;LAMAR SEKARANG</span
					>
					<span v-else
						><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;SUDAH DILAMAR</span
					>
				</button>
			</div>
		</div>

		<div
			class="visible-xs hidden-sm hidden-md hidden-lg verification footer-stretch"
		>
			<div
				class="footer navbar-fixed-bottom nav-bottom verification"
				v-if="verification == true"
			>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange"
					@click="postJob"
				>
					<i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;SETUJU TAMPILKAN
					LOWONGAN KERJA
				</button>
				<button
					type="button"
					class="btn btn-apply btn-reject track-apply-job track-apply-job-footer"
					@click="rejectJob"
				>
					TIDAK SETUJU DITAMPILKAN
				</button>
			</div>
			<div class="footer navbar-fixed-bottom nav-bottom" v-else>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange track-apply-job track-apply-job-footer"
					:disabled="hasApply == false && !isExpiredString ? false : true"
					v-if="applyViaOther == true"
					@click="applyJobOther(applyViaUrl)"
				>
					<span v-if="authCheck.all == false">
						<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR SEKARANG
					</span>
					<span v-else>
						<i class="fa fa-file"></i>&nbsp;&nbsp;LAMAR VIA {{ applyViaName }}
					</span>
				</button>
				<button
					type="button"
					class="btn btn-apply btn-mamiorange track-apply-job track-apply-job-footer"
					v-else
					:disabled="hasApply == false && !isExpiredString ? false : true"
					@click="applyJob"
				>
					<span v-if="hasApply == false"
						><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;LAMAR SEKARANG</span
					>
					<span v-else
						><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;SUDAH DILAMAR</span
					>
				</button>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	props: {
		verify: {
			type: Boolean
		}
	},
	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		applyViaName() {
			return this.$store.state.detail.other_web_name;
		},
		hasApply() {
			return this.$store.state.detail.apply;
		},
		applyViaOther() {
			return this.$store.state.detail.apply_other_web;
		},
		verification() {
			return this.$store.state.verificationStatus;
		},
		isExpiredString() {
			try {
				if (
					this.$store.state.detail.expired_string.includes('Sudah') ||
					this.$store.state.detail.expired_string.includes('lalu')
				) {
					return true;
				}
			} catch (err) {
				return false;
			}
		}
	},
	methods: {
		postJob() {
			this.$emit('postJob');
		},
		rejectJob() {
			this.$emit('rejectJob');
		},
		applyJobOther() {
			this.$emit('applyJobOther');
		},
		applyJob() {
			this.$emit('applyJob');
		}
	}
};
</script>

<style scoped>
.verification {
	background-color: #fff;
	text-align: center;
}
.verification button {
	width: 100%;
	/*border-radius: 4px;*/
}
.footer-apply-button {
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-reject {
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid #eee;
}
.btn-reject:hover {
	background-color: #eee;
}
.btn-apply {
	border-radius: 0px;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
</style>
