<template>
	<div class="vacancy-detail stretch-xs">
		<div class="salary-detail">
			<h4 v-if="!isLogin" class="track-login-cek-gaji">
				<a
					href="javascript:void(0)"
					class="track-login-cek-gaji salary-info"
					data-target="#login"
					data-toggle="modal"
					>{{ salary }}</a
				>
			</h4>
			<h4 class="salary-amount" v-else>{{ salary }}</h4>
		</div>
		<div class="sub-detail">
			<div class="post-date">
				<div class="created-date">
					<label class="date-label">Tanggal Tayang</label>
					<label class="date-posted">{{ created }}</label>
				</div>
				<div class="closed-date">
					<label class="date-label">Lamaran Ditutup</label>
					<label class="date-posted">{{ expiredDate }}</label>
				</div>
				<div class="date-count">
					<span class="text-danger">{{ expiredString }}</span>
				</div>
			</div>
			<div class="post-contact">
				<div><label>Penanggung Jawab :</label></div>
				<label class="contact-person" v-if="inputBy == ''">{{
					placeName
				}}</label>
				<label class="contact-person" v-else>{{ inputBy }}</label>
			</div>
			<div
				class="urbanhire-logo-box hidden-sm hidden-md hidden-lg"
				v-if="urbanHire == 1"
			>
				<img
					src="/assets/logo/urbanhire_logo.png"
					alt="urbanhire_logo"
					class="urbanhire-logo"
				/>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		salary() {
			return this.$store.state.detail.salary;
		},
		created() {
			return this.$store.state.detail.created_at;
		},
		inputBy() {
			return this.$store.state.detail.input_by;
		},
		placeName() {
			return this.$store.state.detail.place_name;
		},
		isLogin() {
			return this.$store.state.authCheck.all;
		},
		urbanHire() {
			return this.$store.state.detail.aggregator_partner_id;
		},
		expiredDate() {
			return this.$store.state.detail.expired_date;
		},
		expiredString() {
			return this.$store.state.detail.expired_string;
		}
	}
};
</script>

<style scoped>
.salary-detail {
	font-size: 18px;
	text-align: center;
	padding: 11px;
	background-color: #eee;
	margin-right: -15px;
	margin-left: -15px;
}
.salary-amount-button {
	padding: 0;
	font-size: 18px;
	color: #1baa56;
}
.salary-amount-button.active,
.salary-amount-button:active {
	box-shadow: none;
}
.salary-amount-button label,
.salary-amount {
	color: #1baa56;
}
.salary-info {
	font-weight: bold;
	color: ;
}
.post-date {
	border-bottom: 1px solid #eee;
	padding: 15px;
}
.created-date,
.closed-date,
.date-count {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.post-date .date-label {
	font-weight: normal;
}
.post-date .date-posted {
	font-weight: normal;
}
.post-contact {
	padding: 15px;
}
.contact-person {
	font-weight: normal;
}
.urbanhire-logo-box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	border-top: 1px solid #eee;
	padding: 20px;
}
.urbanhire-logo {
	height: 28px;
	margin-top: -3px;
}

@media (max-width: 320px) {
	.urbanhire-logo {
		height: 24px;
	}
}
@media (max-width: 767px) {
	.vacancy-detail {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 768px) {
	.salary-detail {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-color: #eee;
		font-size: 16px;
		margin-top: -1px;
	}
	.salary-detail .salary-amount {
		color: #3e5168;
	}
	.sub-detail {
		margin-top: 15px;
		border: 1px solid #eee;
	}
	.vacancy-detail {
		padding: 0;
		margin-bottom: 30px;
	}
}
</style>
