<template>
	<div class="vacancy-recommend-fixed">
		<div class="vacancy-recommend">
			<div
				class="col-md-3 related-card"
				v-for="(suggestion, index) in suggestions"
				:key="index"
				@click="openDetailVacancy(suggestion.slug)"
				v-if="breadcrumb.length == 2 ? index < 4 : index < 3"
			>
				<div class="related-box">
					<div class="related-content">
						<div class="related-content-data">
							<h3 class="related-content-title">{{ suggestion.title }}</h3>
						</div>
						<div class="related-content-data">
							<div class="related-content-salary">
								<label
									class="badge-fulltime"
									v-if="suggestion.type == 'FULL-TIME'"
									>FULL TIME</label
								>
								<label
									class="badge-parttime"
									v-else-if="suggestion.type == 'PART-TIME'"
									>PART TIME</label
								>
								<label
									class="badge-freelance"
									v-else-if="
										suggestion.type == 'FREELANCE' ||
											suggestion.type == 'FREELANCER'
									"
									>FREELANCE</label
								>
								<label
									class="badge-internship"
									v-else-if="suggestion.type == 'MAGANG'"
									>MAGANG</label
								>
							</div>
						</div>
						<div class="related-content-data">
							<div class="related-content-salary company-salary">
								<span>{{ suggestion.salary }}&nbsp;</span>
							</div>
						</div>
						<div class="related-content-data">
							<p class="related-content-company">{{ suggestion.place_name }}</p>
						</div>
					</div>
				</div>
				<!-- <div class="related-box promoted" v-else>
					<div class="related-content">
						<div class="related-content-data">
							<div class="related-content-salary">
								<span>{{ salary }}&nbsp;</span>
								<label class="badge-fulltime" v-if="type == 'FULL-TIME'">FULL TIME</label>
								<label class="badge-parttime" v-else-if="type == 'PART-TIME'">PART TIME</label>
								<label class="badge-freelance" v-else-if="type == 'FREELANCE'">FREELANCE</label>
							</div>
						</div>
						<div class="related-content-data">
							<p class="related-content-title" :title="jobTitle">{{ jobTitle }}</p>
						</div>
						<div class="related-content-data">
							<p class="related-content-company">{{ placeName }}</p>
						</div>
						<div class="promoted-label flex-center">
							<img src="assets/icons/ic_premium2.png" alt="ic_premium2">
							<span>PREMIUM</span>
						</div>
					</div>
				</div> -->
			</div>
			<div class="col-md-3 related-card" v-if="breadcrumb.length > 2">
				<div class="related-box more-jobs" @click="openMoreSuggestions">
					<div>
						<p>Lihat Lowongan Pekerjaan</p>
						<p>
							di Sekitar
							<span class="more-loc" v-if="subdistrict !== null">{{
								subdistrict
							}}</span>
							<span class="more-loc" v-else>{{ city }}</span>
						</p>
						<p>Lainnya</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		breadcrumb() {
			return this.$store.state.detail.breadcrumb;
		},
		subdistrict() {
			return this.$store.state.detail.subdistrict;
		},
		city() {
			return this.$store.state.detail.city;
		},
		jobsSuggestions() {
			return this.$store.state.detail.landing;
		}
	},
	props: {
		suggestions: {
			type: Array,
			required: true
		}
	},
	methods: {
		openDetailVacancy(slug) {
			tracker('ga', ['send', {
				hitType: 'event',
				eventCategory: 'Vacany Detail',
				eventAction: 'click',
				eventLabel: 'Open Recommendation Vacany Detail'
			}]);

			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = '/lowongan/' + slug;
			} else {
				window.open('/lowongan/' + slug, '_blank');
			}
		},
		openMoreSuggestions() {
			tracker('ga', ['send', {
				hitType: 'event',
				eventCategory: 'Vacany Detail',
				eventAction: 'click',
				eventLabel: 'Open Recommendation Vacany Landing'
			}]);

			window.open(this.jobsSuggestions);
		}
	}
};
</script>

<style scoped>
.vacancy-recommend-fixed {
	margin-bottom: 30px;
}
.vacancy-recommend {
	padding-top: 15px;
}
.vacancy-recommend a {
	text-decoration: none;
}
.related-card {
	display: inline-block;
	vertical-align: top;
	cursor: default;
}
.promoted {
	border: 3px solid #1baa56;
}
.related-box {
	position: relative;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	/*height: 250px;*/
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
}
.related-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.related-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*background-color: rgba(0, 0, 0, 0.7);*/
	text-align: center;
	/*color: #fff;*/
	transition: all ease-in 500ms;
	-webkit-transition: all ease-in 500ms;
	-moz-transition: all ease-in 500ms;
}
.related-content-data {
	padding-top: 2px;
	padding-bottom: 2px;
}
.related-content-salary {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.related-content-salary span {
	padding-bottom: 3px;
}
.related-content-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 10px;
	color: #1baa56;
	font-weight: bold;
	font-size: 16px;
}
.related-content-company,
.company-salary {
	font-weight: bold;
}
.related-content-company {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 20px;
	padding-right: 20px;
}
.badge-fulltime {
	font-weight: normal;
	background-color: #a25390;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-parttime {
	font-weight: normal;
	background-color: #e89122;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-freelance {
	font-weight: normal;
	background-color: #5eaca6;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-internship {
	font-weight: normal;
	background-color: #a3c502;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.promoted .promoted-label img {
	width: 20px;
	margin-right: 5px;
}
.promoted .promoted-label span {
	color: #e0af50;
}
.more-jobs {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: center;
	background-color: #009b4c;
	color: #fff;
	font-size: 18px;
}
.more-loc {
	font-weight: bold;
}

@media (max-width: 991px) {
	.vacancy-recommend-fixed {
		width: 100%;
		overflow-x: scroll;
	}
	.vacancy-recommend {
		width: 1180px;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.related-card {
		width: 293px;
	}
}
@media (min-width: 992px) {
	.related-card {
		padding-bottom: 30px;
	}
}
</style>
