<template>
	<div>
		<div class="heading-detail">
			<h1 class="vacancy-name">
				<strong>{{ jobTitle }}</strong>
			</h1>
			<label class="badge-fulltime" v-if="type == 'FULL-TIME'">FULLTIME</label>
			<label class="badge-parttime" v-else-if="type == 'PART-TIME'"
				>PARTTIME</label
			>
			<label class="badge-freelance" v-else-if="type == 'FREELANCE'"
				>FREELANCE</label
			>
			<label class="badge-internship" v-else-if="type == 'MAGANG'"
				>MAGANG</label
			>
			<!-- <div class="company-name">
				<label>{{ placeName }}</label>
			</div>
			<div class="company-location">
				<label>{{ address }}</label>
			</div> -->
			<div
				class="search-kost track-lihat-kost-area-kerja"
				v-if="landingKost !== null && landingKost !== ''"
			>
				<button
					class="btn btn-mamigreen-inverse search-kost-button track-lihat-kost-area-kerja"
					@click="openLandingKost"
				>
					<img
						src="assets/icons/ic_kost_detailjob.png"
						alt="ic_owner_kat_kost"
					/>
					Lihat Kost di sekitar tempat kerja
				</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		jobTitle() {
			return this.$store.state.detail.title;
		},
		type() {
			return this.$store.state.detail.type;
		},
		landingKost() {
			return this.$store.state.detail.landing_kost;
		}
	},
	methods: {
		openLandingKost() {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = this.landingKost;
			} else {
				window.open(this.landingKost, '_blank');
			}
		}
	}
};
</script>

<style scoped>
.heading-detail {
	padding-right: 15px;
	padding-left: 15px;
}
.heading-detail label {
	margin-top: 10px;
}
.heading-detail .vacancy-name {
	font-size: 28px;
}
.heading-detail .company-name {
	color: #1baa56;
	font-size: 18px;
	font-weight: normal;
}
.heading-detail .company-location label {
	font-weight: normal;
}
.badge-fulltime {
	font-weight: normal;
	background-color: #a25390;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-parttime {
	font-weight: normal;
	background-color: #e89122;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-freelance {
	font-weight: normal;
	background-color: #5eaca6;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-internship {
	font-weight: normal;
	background-color: #a3c502;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.search-kost-button {
	margin: 10px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.search-kost a {
	text-decoration: none;
}
.search-kost-button img {
	height: 20px;
	padding-right: 5px;
}

@media (max-width: 767px) {
	.search-kost {
		margin-bottom: 20px;
	}
}
</style>
