<template>
	<div v-if="!blacklistFromHistory">
		<h1 class="title">Riwayat Poin</h1>
		<poin-history-tab />
	</div>
</template>

<script>
import mixinMamipoin from '../../mixins/mixinMamipoin';
import PoinHistoryTab from './PoinHistoryTab.vue';
export default {
	name: 'MamipoinHistory',
	components: {
		PoinHistoryTab
	},
	mixins: [mixinMamipoin],
	computed: {
		blacklistFromHistory() {
			return this.$store.state.isBlacklistedOnHistory;
		}
	},

	watch: {
		blacklistFromHistory(isBlacklist) {
			if (isBlacklist) {
				this.$router.push({ path: '/kost-saya' });
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 28px;
	line-height: 36px;
	color: #303030;
}
</style>
