<template>
	<div class="card">
		<h1 class="card__title">{{ title }}</h1>
		<p class="card__text">
			<span
				><img
					class="card__icon"
					v-lazy="`/general/img/icons/ic_coin.svg`"/></span
			>{{ poin }}
		</p>
		<p
			v-if="nearExpiredPoin !== '0'"
			class="card__info-poin"
			:class="{ 'long-poin': nearExpiredPoin.length > 6 }"
		>
			{{ info }}
		</p>
		<p v-else class="card__info-poin">Tidak ada poin yang tersedia</p>
		<router-link
			:to="url"
			class="card__footer"
			:class="{ 'long-poin': nearExpiredPoin.length > 6 }"
		>
			Lihat Informasi Poin
		</router-link>
	</div>
</template>

<script>
export default {
	name: 'MamipoinCardTotalPoin',
	props: {
		title: {
			type: String,
			default: ''
		},
		content: {
			type: String,
			default: ''
		},
		url: {
			type: String,
			default: ''
		},
		poin: {
			type: String,
			default: ''
		},
		nearExpiredPoin: {
			type: String,
			default: '',
			required: true
		},
		info: {
			type: String,
			default: '-'
		}
	}
};
</script>

<style lang="scss" scoped>
.card {
	width: 320px;
	height: 168px;
	margin: 0;
	align-items: center;
	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);

	@media (min-width: 1025px) and (max-width: 1280px) {
		width: 290px;
		height: 172px;
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		width: 290px;
		height: 172px;
	}
	@media (max-width: 767px) {
		width: 328px;
		height: 152px;
		background: #ffffff;
		box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.04),
			0px 4px 8px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
	}

	&__title {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		margin: 0;
		font-size: 16px;
		line-height: 24px;
		color: #303030;
		padding: 24px 0px 2px 24px;

		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 16px 0px 2px 16px;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 16px 0px 2px 16px;
		}

		@media (max-width: 767px) {
			padding: 16px 0px 2px 16px;
		}
	}

	&__text {
		display: flex;
		padding: 2px 4px 4px 0px;
		width: 272px;
		margin: 0;
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		line-height: 28px;
		color: #303030;
	}
	&__icon {
		max-width: 20px;
		max-height: 20px;
		margin: 0px 4px 8px 24px;

		@media (min-width: 1025px) and (max-width: 1280px) {
			margin: 0px 4px 8px 16px;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			margin: 0px 4px 8px 16px;
		}

		@media (max-width: 767px) {
			margin: 0px 4px 8px 16px;
		}
	}

	&__footer {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #1baa56;
		padding: 6px 0px 24px 24px;
		text-decoration: none;

		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 6px 0px 16px 16px;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			position: relative;
			top: 10px;
			padding: 6px 0px 16px 16px;
		}

		@media (max-width: 767px) {
			padding: 6px 0px 16px 16px;
		}
	}

	&__info-poin {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		margin: 0;
		font-size: 14px;
		line-height: 20px;
		color: #404040;
		padding: 4px 24px 12px 24px;

		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 4px 24px 12px 16px;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 4px 24px 12px 16px;
		}

		@media (max-width: 767px) {
			padding: 4px 24px 12px 16px;
		}
	}

	.long-poin {
		padding: 4px 24px 0 !important;
	}
}
</style>
