<template>
	<div class="card">
		<h1 class="card__title">{{ title }}</h1>
		<p class="card__text">
			{{ content }}
		</p>
		<router-link :to="url" class="card__footer">
			<p
				:class="{
					'card__footer-long': isContentLong,
					'card__footer-sort': !isContentLong
				}"
				@click="sendEvent(title)"
			>
				Lihat Semua
			</p>
		</router-link>
	</div>
</template>

<script>
import mixinMamipoin from '../../mixins/mixinMamipoin';
export default {
	name: 'MamipoinCard',
	mixins: [mixinMamipoin],
	props: {
		title: {
			type: String,
			default: ''
		},
		content: {
			type: String,
			default: ''
		},
		url: {
			type: String,
			default: ''
		},
		isContentLong: {
			type: Boolean,
			default: true
		}
	},
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	methods: {
		sendEvent(page) {
			if (page === 'Riwayat Poin') {
				this.sendMamipoinHistoryPageTrackerEvent();
			} else {
				this.sendMamipoinGuidelineTrackerEvent();
			}
		},

		sendMamipoinGuidelineTrackerEvent() {
			tracker('moe', [
				'[User] MamiPoin Guideline Tab Viewed',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: this.$store.state.redirectionSource,
					point_total: this.toThousand(this.$store.state.totalPoin.point)
				}
			]);
		},

		sendMamipoinHistoryPageTrackerEvent() {
			tracker('moe', [
				'[User] MamiPoin History Page Visited',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: this.$store.state.redirectionSource,
					point_total: this.toThousand(this.$store.state.totalPoin.point)
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
a {
	text-decoration: none;
}
.card {
	width: 320px;
	height: 168px;
	margin: 0;
	align-items: center;
	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);

	@media (min-width: 1025px) and (max-width: 1280px) {
		width: 290px;
		height: 172px;
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		width: 290px;
		height: 172px;
	}

	@media (max-width: 767px) {
		width: 328px;
		height: 152px;
		background: #ffffff;
		box-shadow: none;
		border-radius: 0px;
	}
	&__title {
		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 16px 0px 0px 16px;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 16px 0px 0px 16px;
		}
		@media (max-width: 767px) {
			padding: 16px 0px 0px 16px;
		}
		font-family: Lato;
		font-style: normal;
		margin: 0;
		font-weight: 900;
		font-size: 20px;
		line-height: 28px;
		color: #303030;
		padding: 24px 0px 0px 24px;
	}

	&__text {
		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 8px 0px 0px 16px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 8px 0px 0px 16px;
		}
		@media (max-width: 767px) {
			padding: 8px 0px 0px 16px;
		}
		display: flex;
		padding: 8px 0px 0px 24px;
		width: 272px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #535353;
	}

	&__footer-long {
		@media (min-width: 1025px) and (max-width: 1280px) {
			padding: 0px 0px 16px 16px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			padding: 11px 0px 16px 16px;
		}
		@media (max-width: 767px) {
			margin: 0px;
			padding: 0px 0px 16px 16px;
		}
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		padding: 0px 0px 24px 24px;
		color: #1baa56;
	}
	&__footer-sort {
		@media (min-width: 1025px) and (max-width: 1280px) {
			margin: 0px;
			padding: 16px 0px 16px 16px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			margin: 0px;
			padding: 37px 0px 16px 16px;
		}
		@media (max-width: 767px) {
			margin: 0px;
			padding: 1px 0px 16px 16px;
		}
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		padding: 0px 0px 24px 24px;
		color: #1baa56;
		margin: 0px;
		padding: 24px 0px 24px 24px;
	}
}
</style>
