<template>
	<div class="c-main">
		<div class="b-image">
			<img src="/general/img/icons/ic_empty-poin.svg" />
		</div>
		<div class="title">
			Riwayat Masih Kosong
		</div>
		<div class="footer">
			<div class="footer__text">
				Penerimaan dan penukaran poin Kamu akan tercatat di halaman ini.
			</div>
		</div>
	</div>
</template>

<script>
export default { name: 'MamipoinEmpety' };
</script>

<style lang="scss" scoped>
.c-main {
	width: 523px;
	@media (min-width: 768px) and (max-width: 1024px) {
		width: 480px;
	}
	@media (max-width: 767px) {
		margin-left: 15px;
		width: 100%;
		margin: 0px;
	}
}
.b-image {
	margin: 80px 0px 0px 137px;
	@media (min-width: 768px) and (max-width: 1024px) {
		margin: 80px 0px 0px 120px;
	}

	@media (max-width: 767px) {
		max-width: 255px;
		max-height: 171px;
		margin-left: auto;
		margin-top: 49px;
		margin-right: auto;
	}
}
.title {
	margin: 28px auto 17px auto;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 28px;
	color: #303030;
}

.footer {
	height: 48px;
	margin: 17px 0px;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	text-align: center;
	color: #404040;
	&__text {
		width: 410px;
		margin-left: 50px;
		@media (max-width: 767px) {
			width: 328px;
			margin: 0px auto 150px auto;
		}
	}
}
</style>
