<template>
	<div id="mobile-content" class="container-mobile">
		<div class="b-close">
			<img
				@click="closeHistoryPoin"
				class="b-close__icon"
				src="/general/img/icons/ic_close-mamipoin.svg"
			/>
		</div>
		<h1 class="title-mobile">Riwayat Poin</h1>
		<hr class="line-top" />
		<div class="b-tab">
			<div class="b-tab__box">
				<div
					class="b-tab__box-button b-tab__text"
					:class="{ 'b-tab__box-active ': isActive === 'all' }"
					@click="curentActive('all')"
				>
					Semua
				</div>
				<div
					class="b-tab__box-button b-tab__text"
					:class="{ 'b-tab__box-active ': isActive === 'recieved' }"
					@click="curentActive('recieved')"
				>
					Poin Diterima
				</div>
				<div
					class="b-tab__box-button b-tab__text"
					:class="{ 'b-tab__box-active ': isActive === 'exchanged' }"
					@click="curentActive('exchanged')"
				>
					Poin Ditukar
				</div>
				<div
					class="b-tab__box-button b-tab__text"
					:class="{ 'b-tab__box-active ': isActive === 'expired' }"
					@click="curentActive('expired')"
				>
					Poin Kedaluwarsa
				</div>
			</div>
		</div>
		<mamipoin-list-data
			v-if="isActive === 'all'"
			:history="allPoin"
			:isLoading="loadAllPoin"
		/>
		<mamipoin-list-data
			v-if="isActive === 'recieved'"
			:history="earnPoin"
			:isLoading="loadEarnPoin"
		/>
		<mamipoin-list-data
			v-if="isActive === 'exchanged'"
			:history="redeemPoin"
			:isLoading="loadRedeemPoin"
		/>
		<mamipoin-list-data
			v-if="isActive === 'expired'"
			:history="expiredPoin"
			:isLoading="loadExpiredPoin"
		/>
	</div>
</template>

<script>
import MamipoinListData from './list-poin/MamipoinListData';
import mixinMamipoin from '../../mixins/mixinMamipoin';
export default {
	name: 'PoinHistoryTabMobile',
	components: {
		MamipoinListData
	},
	mixins: [mixinMamipoin],
	data() {
		return {
			isActive: 'all'
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	mounted() {
		this.infiniteScroll();
		this.getAllPoin();
	},

	methods: {
		infiniteScroll() {
			const isElementReady = document.getElementById('mobile-content');
			if (isElementReady) {
				isElementReady.addEventListener('scroll', () => {
					this.onScrollBottom();
				});
			}
		},
		closeHistoryPoin() {
			this.$router.push({ path: '/mamipoin' });
		},
		onScrollBottom() {
			const element = document.getElementById('mobile-content');
			const scrollPosition = element.scrollHeight - element.scrollTop;
			const minScroll = element.clientHeight;
			if (scrollPosition - 10 <= minScroll) {
				if (
					this.isActive === 'all' &&
					this.allPoinHasNextPage &&
					!this.loadAllPoin
				) {
					this.nextAllPoint();
				}
				if (
					this.isActive === 'recieved' &&
					this.earnPoinHasNextPage &&
					!this.loadEarnPoin
				) {
					this.nextEarnPoint();
				}
				if (
					this.isActive === 'exchanged' &&
					this.redeemPoinHasNextPage &&
					!this.loadRedeemPoin
				) {
					this.nextRedeemPoint();
				}
				if (
					this.isActive === 'expired' &&
					this.expiredPoinHasNextPage &&
					!this.loadExpiredPoin
				) {
					this.nextExpiredPoint();
				}
			}
		},

		curentActive(menu) {
			this.isActive = menu;
			if (
				menu === 'recieved' &&
				!this.loadEarnPoin &&
				this.earnPoin.length < 1
			) {
				this.getRecievedPoin();
			}
			if (
				menu === 'exchanged' &&
				!this.loadRedeemPoin &&
				this.redeemPoin.length < 1
			) {
				this.getRedeemPoin();
			}
			if (
				menu === 'expired' &&
				!this.loadExpiredPoin &&
				this.expiredPoin.length < 1
			) {
				this.getExpiredPoin();
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.container-mobile {
	display: flex;
	flex-direction: column;
}
.b-tab {
	display: flex;
	float: left;
	width: 523px;
	height: 60px;
	background: #ffffff;

	&__box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-left: 8px;
		padding: 0px;
		&-button {
			display: flex;
			margin: 0px 8px 0px 8px;
			border: 1px solid #e8e8e8;
			box-sizing: border-box;
			border-radius: 18px;
			align-self: center;
			cursor: pointer;
		}
		&-active {
			display: flex;
			margin: 0px 8px 0px 8px;
			border: 1px solid #303030 !important;
			box-sizing: border-box;
			border-radius: 18px;
			align-self: center;
			cursor: pointer;
		}
	}

	&__text {
		padding: 8px 12px 8px 12px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #303030;
	}
}

@media (max-width: 767px) {
	.line-top {
		height: 2px;
		border-top: solid 1px #e8e8e8;
		padding-bottom: 25px;
		background: #ffff;
		margin: 0;
		position: sticky;
		top: 56px;
		z-index: 1051;
	}
	.title-mobile {
		position: relative;
		top: 25px;
		font-family: Lato;
		font-size: 24px;
		font-style: normal;
		font-weight: bold;
		line-height: 36px;
		color: #303030;
		background-color: #ffff;
		margin: 48px 0px 16px 0px;
		padding-left: 20px;
		z-index: 1052;
	}
	.container-mobile {
		position: fixed;
		z-index: 1050;
		background-color: #fff;
		top: 0;
		left: 0;
		height: 100%;
		overflow: scroll;
		width: 100%;
		&__title {
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 36px;
			color: #303030;
		}
	}

	.b-close {
		position: fixed;
		width: 100%;
		height: 56px;
		background: #ffffff;
		z-index: 1053;

		&__icon {
			float: right;
			margin: 18px 18px 18px 0px;
		}
	}
	::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
	.b-tab {
		width: 100%;
		height: 60px;
		margin: 16px 0px 0px;
		background: #ffffff;
		position: sticky;
		top: 80px;
		z-index: 1050;
		&__box {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			margin: 0px;
			overflow-x: auto;
			padding-left: 8px;
			&-button {
				white-space: nowrap;
			}
		}
	}
}
</style>
