<template>
	<div>
		<div v-if="!isMobile" class="main">
			<div class="b-tab">
				<div class="b-tab__box">
					<div
						class="b-tab__box-button b-tab__text"
						:class="{ 'b-tab__box-active ': isActive == 'all' }"
						@click="curentActive('all')"
					>
						Semua
					</div>
					<div
						class="b-tab__box-button b-tab__text"
						:class="{ 'b-tab__box-active ': isActive == 'recieved' }"
						@click="curentActive('recieved')"
					>
						Poin Diterima
					</div>
					<div
						class="b-tab__box-button b-tab__text"
						:class="{ 'b-tab__box-active ': isActive == 'exchanged' }"
						@click="curentActive('exchanged')"
					>
						Poin Ditukar
					</div>
					<div
						class="b-tab__box-button b-tab__text"
						:class="{ 'b-tab__box-active ': isActive == 'expired' }"
						@click="curentActive('expired')"
					>
						Poin Kedaluwarsa
					</div>
				</div>
			</div>
			<div>
				<mamipoin-list-data
					v-if="isActive === 'all'"
					:history="allPoin"
					:isLoading="loadAllPoin"
				/>
				<mamipoin-list-data
					v-if="isActive === 'recieved'"
					:history="earnPoin"
					:isLoading="loadEarnPoin"
				/>
				<mamipoin-list-data
					v-if="isActive === 'exchanged'"
					:history="redeemPoin"
					:isLoading="loadRedeemPoin"
				/>
				<mamipoin-list-data
					v-if="isActive === 'expired'"
					:history="expiredPoin"
					:isLoading="loadExpiredPoin"
				/>
			</div>
		</div>
		<poin-history-tab-mobile v-else />
	</div>
</template>

<script>
import MamipoinListData from './list-poin/MamipoinListData';
import mixinMamipoin from '../../mixins/mixinMamipoin';
import PoinHistoryTabMobile from './PoinHistoryTabMobile';
export default {
	name: 'PoinHistoryTab',
	components: {
		MamipoinListData,
		PoinHistoryTabMobile
	},
	mixins: [mixinMamipoin],
	data() {
		return {
			isActive: 'all'
		};
	},

	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	mounted() {
		if (!this.isMobile) {
			this.infiniteScoll();
			this.getAllPoin();
		}
	},

	methods: {
		curentActive(menu) {
			this.isActive = menu;
			if (
				menu === 'recieved' &&
				!this.loadEarnPoin &&
				this.earnPoin.length < 1
			) {
				this.getRecievedPoin();
			}
			if (
				menu === 'exchanged' &&
				!this.loadRedeemPoin &&
				this.redeemPoin.length < 1
			) {
				this.getRedeemPoin();
			}
			if (
				menu === 'expired' &&
				!this.loadExpiredPoin &&
				this.expiredPoin.length < 1
			) {
				this.getExpiredPoin();
			}
		},
		infiniteScoll() {
			window.onscroll = () => {
				const bottomOfWindow =
					Math.ceil(
						window.pageYOffset,
						document.documentElement.scrollTop,
						document.body.scrollTop
					) +
						window.innerHeight +
						10 >=
					document.documentElement.offsetHeight;
				if (bottomOfWindow && !this.isMobile) {
					if (
						this.isActive === 'all' &&
						this.allPoinHasNextPage &&
						!this.loadAllPoin
					) {
						this.nextAllPoint();
					}
					if (
						this.isActive === 'recieved' &&
						this.earnPoinHasNextPage &&
						!this.loadEarnPoin
					) {
						this.nextEarnPoint();
					}
					if (
						this.isActive === 'exchanged' &&
						this.redeemPoinHasNextPage &&
						!this.loadRedeemPoin
					) {
						this.nextRedeemPoint();
					}
					if (
						this.isActive === 'expired' &&
						this.expiredPoinHasNextPage &&
						!this.loadExpiredPoin
					) {
						this.nextExpiredPoint();
					}
				}
			};
		}
	}
};
</script>

<style lang="scss" scoped>
.main {
	display: flex;
	flex-direction: column;
}
.b-tab {
	display: flex;
	float: left;
	width: 523px;
	height: 60px;
	background: #ffffff;

	&__box {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-left: 8px;
		padding: 0px;
		&-button {
			display: flex;
			margin: 0px 8px 0px 8px;
			border: 1px solid #e8e8e8;
			box-sizing: border-box;
			border-radius: 18px;
			align-self: center;
			cursor: pointer;
		}
		&-active {
			display: flex;
			margin: 0px 8px 0px 8px;
			border: 1px solid #303030 !important;
			box-sizing: border-box;
			border-radius: 18px;
			align-self: center;
			cursor: pointer;
		}
	}

	&__text {
		padding: 8px 12px 8px 12px;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #303030;
	}
}
</style>
