<template>
	<div :class="grid">
		<landing-child-title
			grid="col-lg-2 col-md-3 col-xs-12 stretch"
			title="Bagikan Lewat"
			collapse-id="#landingShare"
		></landing-child-title>
		<div
			id="landingShare"
			:class="[
				'col-lg-10 col-md-9 col-xs-12 stretch share-box',
				{
					collapse: isMediumDevice
				}
			]"
		>
			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<mami-share></mami-share>
		</div>
	</div>
</template>

<script>
/* istanbul ignore next */
const MamiShare = () => import('Js/@components/MamiShare');

export default {
	components: {
		MamiShare
	},

	props: {
		grid: {
			type: String,
			required: true
		}
	},

	computed: {
		isMediumDevice() {
			return this.$store.state.extras.windowWidth < 992;
		}
	}
};
</script>

<style scoped>
.landing-share {
	padding: 10px 15px;
}

@media (max-width: 991px) {
	.share-box {
		padding-top: 20px;
	}
}
</style>
