<template>
	<div :class="grid" v-if="towers.length > 0">
		<landing-child-title :grid="'col-lg-2 col-md-3 col-xs-12 stretch'" :title="'Tower'" :collapse-id="'#landingTower'"></landing-child-title>
		<div id="landingTower" class="col-lg-10 col-md-9 col-xs-12 stretch" :class="$store.state.extras.windowWidth < 992 ? 'collapse' : ''">
			<div class="col-sm-3 col-xs-12" v-for="(tower, index) in towers" :key="index">
				<div class="col-xs-12 stretch tower-card">
					<div class="col-xs-12 stretch tower-card-header">
						{{ tower.name }}
					</div>
					<div class="col-xs-12 stretch tower-card-body">
						<ul class="col-xs-4 stretch" v-if="tower.status !== ''">
							<li>Status</li>
						</ul>
						<ul class="col-xs-8 stretch">
							<li>: {{ tower.status }}</li>
						</ul>
					</div>		
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		towers() {
			return this.$store.state.project.towers;
		}
	},
	props: {
		grid: {
			type: String,
			required: true
		}
	}
};
</script>

<style scoped>
.tower-card {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #eeefec;
	border-radius: 4px;
}
.tower-card-header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #eeefec;
	text-align: center;
}
.tower-card-body {
	padding-right: 5px;
	padding-left: 5px;
}
.tower-card-body > ul {
	display: inline;
}
.tower-card-body > ul > li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
</style>
