<template>
	<div class="col-xs-12 list-filter-advanced">
		<div class="col-xs-12 stretch advanced-toggle hidden-xs">
			<button
				type="button"
				class="btn btn-default btn-advanced-filter"
				:disabled="tags.unit_facilities.length == 0"
				@click="toggleFilterAdvanced"
			>
				<img
					class="ic-advanced-filter"
					src="assets/icons/svg/ic_sliders.svg"
					alt="ic_sliders"
					title="Filter Lanjutan"
				/>
				<span
					><h4><strong>&nbsp; Filter Lanjutan&nbsp;&nbsp;</strong></h4></span
				>
				<i class="fa fa-chevron-up" v-if="filterAdvanced"></i>
				<i class="fa fa-chevron-down" v-else></i>
			</button>
		</div>
		<div
			v-if="filterAdvanced"
			class="col-xs-12 stretch advanced-content"
			id="advancedFilter"
		>
			<div class="form-group">
				<label
					><h4><strong>Fasilitas</strong></h4></label
				>
				<br />
				<div
					class="checkbox checkbox-success checkbox-inline fac-checkbox col-md-2 col-sm-3 col-xs-6"
					v-for="(unit_facility, index) in tags.unit_facilities"
					:key="index"
				>
					<input
						type="checkbox"
						:id="'facFilter' + index"
						:value="unit_facility.tag_id"
						v-model="tagIds"
					/>
					<label :for="'facFilter' + index"> {{ unit_facility.name }} </label>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';

export default {
	props: {
		deviceType: {
			type: String,
			default: 'desktop'
		},
		tags: {
			type: Object,
			required: true,
			default: {}
		}
	},

	data() {
		return {
			filterAdvanced: false
		};
	},

	computed: {
		tagIds: {
			get() {
				return this.$store.state.filters.tagIds;
			},
			set(newVal) {
				this.$store.commit('setFilterTagIds', newVal);
				EventBus.$emit('changeFilter', 'tagIds');
			}
		}
	},

	mounted() {
		this.checkDeviceType();
	},

	methods: {
		checkDeviceType() {
			if (this.deviceType === 'mobile') {
				this.filterAdvanced = true;
			}
		},
		toggleFilterAdvanced() {
			this.filterAdvanced = !this.filterAdvanced;
		}
	}
};
</script>

<style scoped>
.list-filter-advanced {
	padding-top: 10px;
}
.list-filter-advanced > .advanced-toggle {
	padding-bottom: 10px;
}

@media (max-width: 991px) {
	.list-filter-advanced > .advanced-toggle {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;

		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.list-filter-advanced > .advanced-content > .form-group {
		width: 100%;
	}
}

.btn-advanced-filter {
	margin-top: 20px;
	border-color: #fff;
	color: #1baa56;
	box-shadow: none;
	margin-left: -15px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.btn-advanced-filter:focus,
.btn-advanced-filter:hover,
.btn-advanced-filter:active:focus {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #1baa56;
}
.ic-advanced-filter {
	height: 14px;
}

@media (max-width: 767px) {
	.form-group > label {
		margin-bottom: 15px;
	}

	.fac-checkbox {
		margin-bottom: 10px;
	}
}
</style>
