<template>
	<section id="landingAreaUnitFilters">
		<div class="filter-unit-container col-sm-12 col-xs-12">
			<div class="filter-item col-sm-2 col-xs-12">
				<label class="track-pilih-tipe-unit"
					><h4><strong>Tipe Unit</strong></h4></label
				>
				<select
					v-if="tags.unit_type.length === 0"
					class="form-control track-pilih-tipe-unit"
					disabled
				>
					<option>Memuat..</option>
				</select>
				<select
					v-else
					v-model="area.unit_type"
					class="form-control track-pilih-tipe-unit"
				>
					<option :value="null">Semua</option>
					<option
						v-for="(unit_type, unit_type_index) in tags.unit_type"
						:key="unit_type_index"
						:value="unit_type"
						>{{ unit_type }}</option
					>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label class="track-pilih-tipe-prabotan"
					><h4><strong>Perabotan</strong></h4></label
				>
				<select
					v-model="area.is_furnished"
					class="form-control track-pilih-tipe-prabotan"
				>
					<option :value="null">Semua</option>
					<option :value="1">Furnished</option>
					<option :value="2">Semi Furnished</option>
					<option :value="0">Not furnished</option>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label class="track-pilih-urutkan"
					><h4><strong>Urutkan</strong></h4></label
				>
				<select
					v-model="sorting.direction"
					class="form-control track-pilih-urutkan"
				>
					<option value="-">Acak</option>
					<option value="asc">Harga Termurah</option>
					<option value="desc">Harga Termahal</option>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label class="track-pilih-rent-type"
					><h4><strong>Jangka Waktu</strong></h4></label
				>
				<select
					v-model="area.rent_type"
					class="form-control track-pilih-rent-type"
				>
					<option :value="0">Harian</option>
					<option :value="1">Mingguan</option>
					<option :value="2">Bulanan</option>
					<option :value="3">Tahunan</option>
				</select>
			</div>

			<div class="filter-item col-sm-4 col-xs-12">
				<filter-price
					class="hidden-xs"
					:property-type="'apartment'"
					:rent-type="area.rent_type"
					@filterPrice="filterPriceRange"
				></filter-price>
				<filter-price
					class="visible-xs"
					:property-type="'apartment'"
					:rent-type="area.rent_type"
					:display-button="false"
					@filterPriceMin="changePriceMin"
					@filterPriceMax="changePriceMax"
				></filter-price>
			</div>
		</div>
	</section>
</template>

<script>
import EventBus from '../event-bus';
/* istanbul ignore next */
const FilterPrice = () => import('Js/@components/FilterPrice');

export default {
	components: {
		FilterPrice
	},

	props: {
		tags: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			sorting: {
				fields: 'price',
				direction: '-'
			}
		};
	},

	computed: {
		area() {
			return this.$store.state.area;
		}
	},

	watch: {
		'sorting.direction'(val) {
			EventBus.$emit('sortApartmentList', val);
		}
	},

	methods: {
		filterPriceRange(val) {
			EventBus.$emit('changeFilterPrice', val);
		},
		changePriceMin(val) {
			EventBus.$emit('changeFilterPriceMin', val);
		},
		changePriceMax(val) {
			EventBus.$emit('changeFilterPriceMax', val);
		}
	}
};
</script>

<style scoped>
@media (max-width: 767px) {
	.filter-unit-container {
		padding: 0;
	}

	.filter-item {
		margin-bottom: 15px;
	}

	.filter-item > label {
		margin-bottom: 10px;
	}
}
</style>
