<template>
	<section id="landingAreaUnit">
		<div class="col-xs-12 stretch list-filter-basic hidden-xs">
			<landing-area-unit-filter-group
				:tags="tags"
			></landing-area-unit-filter-group>
		</div>

		<div class="col-xs-12 list-filter-advanced hidden-xs">
			<landing-area-unit-filter-advance></landing-area-unit-filter-advance>
		</div>

		<div v-if="loadingUnit" class="col-xs-12 stretch loading-container">
			<mami-loading-list
				:inline="true"
				:text="'Memuat Unit Apartemen..'"
			></mami-loading-list>
			<list-placeholder :mode="5"></list-placeholder>
		</div>

		<div v-if="!loadingUnit && unit.rooms.length !== 0">
			<h2 v-if="unit.offset === 0" class="count-label">
				1 - {{ unit.rooms.length }} Unit Apartemen dari {{ unit.total }} di
				{{ landingTitle }}
			</h2>
			<h2 v-else class="count-label">
				{{ unitCount }} - {{ unitLoaded }} Unit Apartemen dari
				{{ unit.total }} di {{ landingTitle }}
			</h2>
		</div>

		<div v-if="!loadingUnit" class="landing-unit-list-container">
			<landing-unit-list
				v-if="unit.rooms.length !== 0"
				:rooms="unit.rooms"
				grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
				@toggleLoginModal="toggleLoginModal"
			></landing-unit-list>

			<div v-else class="col-xs-12 project-zero">
				<span>Tidak ditemukan Unit Apartemen..</span>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="flex-center">
			<paginate
				ref="pagination"
				v-model="page"
				:page-count="params.page < 10 ? totalPage : totalPageAll"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			>
			</paginate>
		</div>

		<related-list
			v-if="!loadingUnit"
			property-type="apartment"
			:params="params"
		></related-list>
	</section>
</template>

<script>
import EventBus from 'Js/@global/event-bus';
import paginate from 'vuejs-paginate';
import LandingAreaUnitFilterAdvance from './LandingAreaUnitFilterAdvance';
import LandingAreaUnitFilterGroup from './LandingAreaUnitFilterGroup';

export default {
	components: {
		paginate,
		LandingAreaUnitFilterAdvance,
		LandingAreaUnitFilterGroup
	},

	props: {
		unit: {
			type: Object,
			required: true
		},
		params: {
			type: Object,
			required: true
		},
		loadingUnit: {
			type: Boolean,
			required: true,
			default: true
		},
		unitCount: {
			type: Number,
			required: true,
			default: 1
		},
		unitLoaded: {
			type: Number,
			required: true,
			default: 18
		},
		tags: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			page: 1
		};
	},

	computed: {
		landingTitle() {
			return this.$store.state.area.keyword;
		},
		totalPage() {
			let total = Math.ceil(this.unit.total / this.unit.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			const total = Math.ceil(this.unit.total / this.unit.limit);

			return Number(total);
		}
	},

	methods: {
		pageChanged(page) {
			this.page = page;
			this.$emit('pageChanged', page);
		},
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		}
	}
};
</script>

<style scoped>
.list-filter-basic {
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
	.list-filter-basic > div > div {
		margin-bottom: 10px;
	}
}

.list-filter-advanced {
	padding-top: 10px;
}

.list-filter-advanced > .advanced-toggle {
	padding-bottom: 10px;
}

@media (max-width: 991px) {
	.list-filter-advanced > .advanced-toggle {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;

		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.list-filter-advanced > .advanced-content > .form-group {
		width: 100%;
	}
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
}

.landing-unit-list-container {
	padding: 0 20px;
}

@media (min-width: 768px) {
	.landing-unit-list-container {
		padding: 0px !important;
	}
}

.project-zero {
	font-size: 24px;
	font-weight: bold;
	color: #006634;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
</style>
