<template>
	<div>
		<div class="col-xs-12 unit-zero" v-if="rooms.length == 0">
			Tidak ditemukan Unit Apartemen..
		</div>

		<div
			class="col-md-4 col-sm-6 col-xs-12 unit-container"
			:title="room['room-title']"
			v-for="(room, roomIndex) in rooms"
			:key="roomIndex"
			v-else
		>
			<div
				class="unit-list-container material-card-1 track-open-unit-apartemen"
				@click="openDetail(room.share_url)"
			>
				<div
					class="unit-photo"
					:style="
						room.photo_url !== null
							? { backgroundImage: 'url(' + room.photo_url.medium + ')' }
							: {
									backgroundImage:
										'url(' +
										'/assets/loading/mamikos_placeholder_load.svg' +
										')'
							  }
					"
				>
					<!-- background photo -->
					<div class="unit-icon-bar">
						<div class="unit-icon-container-left" v-if="room.is_promoted">
							<img src="/assets/icons/promote_ic.png" />
							<!-- toa -->
						</div>

						<span
							class="room-promo"
							:class="{ 'track-list-promo-kost': room.promo_title != null }"
							v-if="room.promo_title != null"
						>
							<span class="promo-ic-container">
								<img
									src="/assets/icons/ic_kado_putih.png"
									class="promo-icon"
									alt="ic_kado_putih"
								/>
							</span>
							<span class="promo-caption-container">
								Ada Promo
							</span>
						</span>

						<div class="unit-icon-container-right" v-if="room.has_round_photo">
							<img src="/assets/icons/ic_vid360.png" />
						</div>
						<div class="unit-icon-container-right" v-if="room.has_video">
							<img src="/assets/icons/ic_video.png" />
						</div>
					</div>
				</div>
				<div class="unit-info">
					<div
						class="unit-info-container unit-status-full"
						v-if="room['status-title'] == 'full'"
					>
						UNIT APARTEMEN
					</div>
					<!-- this is a tweak comment, pls dont remove
					 -->
					<div class="unit-info-container unit-status-available" v-else>
						UNIT APARTEMEN
					</div>
					<!-- this is a tweak comment, pls dont remove
					 -->
					<div class="unit-info-container unit-price">
						Rp {{ room.price_title_time }}
					</div>
				</div>
				<div class="unit-detail">
					<!-- below this class should be inlines -->
					<div class="unit-tag-label">
						{{ room.unit_type }} - {{ room.size }} m<sup>2</sup>
					</div>
					<div class="unit-tag-label">{{ room.furnished_status }}</div>
					<div class="unit-premium-container" v-if="room.is_premium_owner">
						<div class="unit-premium-icon">
							<img
								src="/assets/icons/ic_premium2.png"
								class="unit-premium-icon-image"
							/>
						</div>
						<div class="unit-premium-label">Premium</div>
					</div>
				</div>
				<div class="unit-title">
					<h3>
						<strong>{{ room['room-title'] }}</strong>
					</h3>
				</div>
				<div class="unit-icons">
					<div class="unit-icon-container" v-if="room.unit_type_rooms !== null">
						<div
							class="unit-icon"
							:title="room.unit_type_rooms.bedroom + ' kamar'"
						>
							<img
								src="/assets/icons/apartment/bedroom_count.png"
								alt="bedroom_count"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">
							{{ room.unit_type_rooms.bedroom }}
						</div>
						<!-- hang on -->
					</div>
					<div class="unit-icon-container" v-if="room.unit_type_rooms !== null">
						<div
							class="unit-icon"
							:title="room.unit_type_rooms.bathroom + ' kamar mandi'"
						>
							<img
								src="/assets/icons/apartment/bathroom_count.png"
								alt="bathroom_count"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">
							{{ room.unit_type_rooms.bathroom }}
						</div>
					</div>
					<div class="unit-icon-container" v-if="room.floor !== null">
						<div class="unit-icon" :title="room.floor + ' lantai'">
							<img
								src="/assets/icons/apartment/floor_count.png"
								img="floor_count"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">{{ room.floor }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		rooms: {
			type: Array,
			required: true
		}
	},
	methods: {
		openDetail(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		}
	}
};
</script>

<style scoped>
/*warning : unit list card styling*/

/*debuggin purpose*/
/*.redboxx {
		outline: 1px red solid;
	}*/

.unit-list-container {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.unit-zero {
	font-size: 24px;
	font-weight: bold;
	color: #006634;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.unit-photo {
	background-size: cover;
	background-position: center;
	height: 150px;
}
.unit-photo .unit-icon-bar {
	overflow: auto;
}
.unit-photo .unit-icon-bar .unit-icon-container-left {
	display: inline-block;
	float: left;
}
.unit-photo .unit-icon-bar .unit-icon-container-left img {
	width: 28px;
}
.unit-photo .unit-icon-bar .unit-icon-container-right {
	display: inline-block;
	float: right;
	padding: 3px;
}
.unit-photo .room-promo {
	display: flex;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	border: 2px #1baa56 solid;
	margin-top: 4px;
	margin-left: 32px;
}
.unit-photo .room-promo .promo-ic-container {
	background-color: #1baa56;
	padding: 4px;
}
.unit-photo .room-promo .promo-caption-container {
	color: #1baa56;
	font-weight: bold;
	font-size: 14px;
	padding: 4px 6px;
}
.unit-photo .promo-icon {
	width: 19px;
	height: 19px;
}

.unit-info {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.unit-info .unit-info-container {
	padding: 3px 0;
	width: 50%;
	display: inline-block;
}
.unit-info .unit-info-container.unit-status-available {
	background-color: #1baa56;
	color: white;
}
.unit-info .unit-info-container.unit-status-full {
	background-color: #7d7d7d;
	color: white;
}
.unit-info .unit-info-container.unit-price {
	color: #1baa56;
}

.unit-detail {
	font-size: 14px;
	padding: 5px;
	height: 50px;
}
.unit-tag-label {
	display: inline-block;
	background-color: #eee;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
}
.unit-premium-container {
	display: inline-block;
}
.unit-premium-container .unit-premium-icon {
	display: inline-block;
}
.unit-premium-container .unit-premium-icon .unit-premium-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.unit-premium-container .unit-premium-label {
	display: inline-block;
	color: #e0af50;
	text-transform: uppercase;
	font-weight: 700;
}

.unit-title {
	text-transform: capitalize;
	padding: 0 10px;
	font-weight: 700;
	height: 65px;
}

.unit-icons {
	padding: 5px 10px;
}
.unit-icon-container {
	display: inline-block;
	padding-right: 10px;
}
.unit-icon-container .unit-icon {
	display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
	height: 30px;
	width: 30px;
}
.unit-icon-container .unit-icon-label {
	vertical-align: middle;
	display: inline-block;
	padding: 0 5px;
}
</style>
