<template>
	<div class="col-xs-12" :class="{'col-md-8' : halfwidth}">
		<p class="landing-description" v-html="description"></p>
	</div>
</template>

<script>
export default {
	props: {
		description: {
			type: String,
			required: true,
			default: ''
		},
		halfwidth: {
			type: Boolean,
			required: false,
			default: false
		}
	}
};
</script>

<style scoped>
.landing-description {
	text-align: justify;
	padding-right: 5px;
	/*height: 320px;
		overflow-y: scroll;*/
}
</style>
