<template>
	<div class="col-xs-12 list-filter-advanced">
		<div class="col-xs-12 stretch advanced-toggle hidden-xs">
			<button
				type="button"
				class="btn btn-default btn-advanced-filter"
				:disabled="tags.project_facilities.length == 0"
				@click="toggleFilterProject"
			>
				<img
					class="ic-advanced-filter"
					src="assets/icons/svg/ic_sliders.svg"
					alt="ic_sliders"
					title="Filter Lanjutan"
				/>
				<span>&nbsp; Filter Project&nbsp;&nbsp;</span>
				<i v-if="filterProject" class="fa fa-chevron-up"></i>
				<i v-else class="fa fa-chevron-down"></i>
			</button>
		</div>

		<div v-if="filterProject" class="col-xs-12 stretch advanced-content">
			<div class="form-group">
				<label>Fasilitas</label>
				<br />
				<div
					v-for="(project_facility,
					project_facility_index) in tags.project_facilities"
					:key="project_facility_index"
					class="checkbox checkbox-success checkbox-inline fac-checkbox col-md-2 col-sm-3 col-xs-6"
				>
					<input
						:id="'facFilterProject' + project_facility_index"
						v-model="tagIds"
						type="checkbox"
						:value="project_facility.tag_id"
					/>
					<label :for="'facFilterProject' + project_facility_index">
						{{ project_facility.name }}
					</label>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';

export default {
	props: {
		deviceType: {
			type: String,
			default: 'desktop'
		}
	},

	data() {
		return {
			filterProject: false
		};
	},

	computed: {
		tags() {
			return this.$store.state.extras.tags;
		},
		tagIds: {
			get() {
				return this.$store.state.extras.tag_ids_project;
			},
			set(newVal) {
				this.$store.commit('setFilterFacilitiesProject', newVal);
				if (window.innerWidth > 767) {
					EventBus.$emit('addFilterTagsProject', newVal);
				}
			}
		}
	},

	watch: {
		tagIds: {
			immediate: true,
			handler(val) {
				if (val.length > 0) {
					this.filterProject = true;
				}
			}
		}
	},

	mounted() {
		this.checkDeviceType();
	},

	methods: {
		checkDeviceType() {
			if (this.deviceType === 'mobile') {
				this.filterProject = true;
			}
		},
		toggleFilterProject() {
			this.filterProject = !this.filterProject;
		}
	}
};
</script>

<style scoped>
.list-filter-advanced {
	padding-top: 10px;
}
.list-filter-advanced > .advanced-toggle {
	padding-bottom: 10px;
}
@media (max-width: 991px) {
	.list-filter-advanced > .advanced-toggle {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;

		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	.list-filter-advanced > .advanced-content > .form-group {
		width: 100%;
	}
}

.btn-advanced-filter {
	margin-top: 20px;
	border-color: #fff;
	color: #1baa56;
	box-shadow: none;
	margin-left: -15px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.btn-advanced-filter:focus,
.btn-advanced-filter:hover,
.btn-advanced-filter:active:focus {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #1baa56;
}
.ic-advanced-filter {
	height: 14px;
}
.fac-checkbox {
	margin-right: 0 !important;
	height: 36px;
}
</style>
