<template>
	<div :class="grid">
		<label
			><h4><strong>Nomor Telepon:</strong></h4></label
		>
		<p>
			<span v-if="phones.building" class="col-sm-4 col-xs-6 stretch"
				>Telepon Gedung {{ phones.building }}
			</span>
			<span v-if="phones.marketing" class="col-sm-4 col-xs-6 stretch"
				>Telepon Marketing {{ phones.marketing }}
			</span>
			<span v-if="phones.other" class="col-sm-4 col-xs-6 stretch"
				>Telepon Lainnya {{ phones.other }}
			</span>
			<span v-if="noPhones" class="col-sm-4 col-xs-6 stretch">-</span>
		</p>
	</div>
</template>

<script>
export default {
	props: {
		grid: {
			type: String,
			required: true
		}
	},
	computed: {
		phones() {
			return this.$store.state.project.phones;
		},
		noPhones() {
			return !!(
				!this.$store.state.project.phones.building &&
				!this.$store.state.project.phones.marketing &&
				!this.$store.state.project.phones.other
			);
		}
	}
};
</script>
