<template>
	<div>
		<div
			class="col-xs-12 landing-photo"
			:class="{
				'is-default':
					$store.state.section == null ||
					$store.state.project.photos.length == 0
			}"
			v-if="landingType == 'project'"
		>
			<carousel
				:autoplay="true"
				:autoplayTimeout="5000"
				:perPage="1"
				:navigationEnabled="photos.length > 1 ? true : false"
				:paginationEnabled="false"
				:loop="true"
			>
				<slide
					v-for="(photo, index) in photos"
					:key="index"
					v-if="photos.length > 0"
				>
					<img
						:src="photo.photo_url.medium"
						:alt="
							photo.description +
								' ' +
								$store.state.project.city +
								' Project' +
								' Mamikos'
						"
					/>
				</slide>
			</carousel>
		</div>
		<div
			class="col-md-4 col-xs-12 landing-photo is-default"
			v-else-if="landingType == 'area'"
		>
			<carousel
				:autoplay="true"
				:autoplayTimeout="5000"
				:perPage="1"
				:navigationEnabled="false"
				:paginationEnabled="false"
				:loop="true"
			>
				<slide
					v-for="(photo, index) in photos"
					:key="index"
					v-if="photos !== null"
				>
					<img
						:src="
							photo.photo_url !== null
								? photo.photo_url.medium
								: '/assets/photos/mamikos_apartemen.png'
						"
						:alt="
							'Apartemen di sekitar ' + $store.state.area.keyword + ' Mamikos'
						"
					/>
				</slide>
			</carousel>
		</div>
	</div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
	components: {
		Carousel,
		Slide
	},
	computed: {
		landingType() {
			return this.$store.state.extras.landingType;
		}
	},
	props: {
		photos: {
			type: Array,
			required: true
		}
	}
};
</script>

<style>
.VueCarousel-navigation > .VueCarousel-navigation-button {
	padding: 0 !important;
}
</style>

<style scoped>
.landing-photo {
	margin-bottom: 15px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #eeefec;
	border-radius: 8px;
}
@media (min-width: 992px) {
	.landing-photo {
		float: right;
	}
}
.landing-photo.is-default .VueCarousel-slide {
	background-color: #fff;
}
.landing-photo .VueCarousel-slide {
	background-color: #000;
	position: relative;
	height: 200px;
	text-align: center;
	color: #fff;
}
.landing-photo .VueCarousel-slide > img {
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
</style>
