<template>
	<div class="col-xs-12 stretch list-filter-basic">
		<div class="list-filter-container col-sm-12 col-xs-12">
			<div class="filter-item col-sm-2 col-xs-12">
				<label
					><h4><strong>Tipe Unit</strong></h4></label
				>
				<select
					v-if="tags.unit_type.length === 0"
					class="form-control"
					disabled
				>
					<option>Memuat..</option>
				</select>
				<select v-else v-model="unitType" class="form-control">
					<option :value="''">Semua</option>
					<option
						v-for="(unit_type, index) in tags.unit_type"
						:key="index"
						:value="unit_type"
						>{{ unit_type }}</option
					>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label
					><h4><strong>Perabotan</strong></h4></label
				>
				<select v-model="furnished" class="form-control">
					<option value="all">Semua</option>
					<option :value="1">Furnished</option>
					<option :value="2">Semi Furnished</option>
					<option :value="0">Not furnished</option>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label
					><h4><strong>Urutkan</strong></h4></label
				>
				<select v-model="sortingDirection" class="form-control">
					<option value="-">Acak</option>
					<option value="asc">Terendah ke Tertinggi</option>
					<option value="desc">Tertinggi ke Terendah</option>
				</select>
			</div>

			<div class="filter-item col-sm-2 col-xs-12">
				<label
					><h4><strong>Jangka Waktu</strong></h4></label
				>
				<select v-model="rentType" class="form-control">
					<option :value="0">Harian</option>
					<option :value="1">Mingguan</option>
					<option :value="2">Bulanan</option>
					<option :value="3">Tahunan</option>
				</select>
			</div>

			<div class="filter-item col-sm-4 col-xs-12">
				<filter-price
					class="hidden-xs"
					:property-type="'apartment'"
					:rent-type="rentType"
					@filterPrice="filterPriceRange"
				></filter-price>
				<filter-price
					class="visible-xs"
					:property-type="'apartment'"
					:rent-type="rentType"
					:display-button="false"
					@filterPriceMin="changePriceMin"
					@filterPriceMax="changePriceMax"
				></filter-price>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';

const FilterPrice = () => import('Js/@components/FilterPrice');

export default {
	components: {
		FilterPrice
	},

	props: {
		tags: {
			type: Object,
			required: true,
			default: () => {}
		}
	},

	computed: {
		filters() {
			return this.$store.state.filters;
		},
		unitType: {
			get() {
				return this.$store.state.filters.unitType;
			},
			set(newVal) {
				this.$store.commit('setFilterUnitType', newVal);
				EventBus.$emit('changeFilter', 'unitType');
			}
		},
		furnished: {
			get() {
				return this.$store.state.filters.furnished;
			},
			set(newVal) {
				this.$store.commit('setFilterFurnished', newVal);
				EventBus.$emit('changeFilter', 'furnished');
			}
		},
		rentType: {
			get() {
				return this.$store.state.filters.rentType;
			},
			set(newVal) {
				this.$store.commit('setFilterRentType', newVal);
				EventBus.$emit('changeFilter', 'rentType');
			}
		},
		sortingDirection: {
			get() {
				return this.$store.state.sorting.direction;
			},
			set(newVal) {
				this.$store.commit('setSortingDirection', newVal);
				EventBus.$emit('changeFilter', 'sortingDirection');
			}
		}
	},

	methods: {
		filterPriceRange(payload) {
			this.$store.commit('setFilterUnitPriceRange', [payload.min, payload.max]);
			EventBus.$emit('changeFilter', 'priceRange');

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'all',
					eventLabel:
						'Min: ' +
						this.filters.priceRange[0] +
						' & Max: ' +
						this.filters.priceRange[1]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'min',
					eventLabel: this.filters.priceRange[0]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'max',
					eventLabel: this.filters.priceRange[1]
				}
			]);
		},
		changePriceMin(val) {
			this.$store.commit('setFilterUnitPriceRange', [
				val,
				this.filters.priceRange[1]
			]);
		},
		changePriceMax(val) {
			this.$store.commit('setFilterUnitPriceRange', [
				this.filters.priceRange[0],
				val
			]);
		}
	}
};
</script>

<style scroped>
@media (max-width: 767px) {
	.list-filter-container {
		padding: 0;
	}

	.filter-item {
		margin-bottom: 15px;
	}

	.filter-item label {
		margin-bottom: 10px;
	}
}
</style>
