<template>
	<div :class="grid" v-if="facilities.length > 0">
		<landing-child-title :grid="'col-md-3 col-xs-12 stretch'" :title="'Fasilitas'" :collapse-id="'#landingFacility'"></landing-child-title>
		<div id="landingFacility" class="col-md-8 col-xs-12 stretch" :class="$store.state.extras.windowWidth < 992 ? 'collapse' : ''">
			<div class="col-sm-4 col-xs-12 facility-list" v-for="(facility, index) in facilities" :key="index">
				<img :src="facility.photo_url" class="facility-list-icon">
				<span class="facility-list-name">{{ facility.name }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		facilities() {
			return this.$store.state.project.facilities;
		}
	},
	props: {
		grid: {
			type: String,
			required: true
		}
	}
};
</script>

<style scoped>
.facility-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 60px;
}
.facility-list-icon {
	max-width: 30px;
	margin-right: 5px;
}
.facility-list-name {
	margin-left: 5px;
}
</style>
