<template>
	<div>
		<div class="col-xs-12 stretch landing-section">
			<div id="listHeader" class="col-md-4 col-xs-12 list-header">
				<span
					role="tablist"
					class="list-toggle track-cari-unit-apt"
					:class="{ 'is-active': apartmentType === 'unit' }"
					@click="toggleApartmentType('unit')"
					><h3><strong>Cari Unit Apartemen</strong></h3></span
				>
				<span class="list-toggle as-separator"></span>
				<span
					role="tablist"
					class="list-toggle track-cari-project-apt"
					:class="{ 'is-active': apartmentType === 'project' }"
					@click="toggleApartmentType('project')"
					><h3><strong>Cari Project Apartemen</strong></h3></span
				>
			</div>
			<div class="col-md-8 col-xs-12 stretch list-header">
				<button
					type="button"
					class="btn btn-mamigreen track-add-unit-apartemen track-kost-promotion track-tambah-unit"
					title="Tambahkan data unit apartemen"
					@click="registerUnit"
				>
					<i class="fa fa-plus" aria-hidden="true"></i>
					<h3><strong>Tambahkan Unit Saya Di Sini</strong></h3>
				</button>
			</div>

			<div v-show="apartmentType === 'unit'">
				<landing-area-unit
					:unit="unit"
					:params="params"
					:loading-unit="loadingUnit"
					:unit-count="unitCount"
					:unit-loaded="unitLoaded"
					:tags="tags"
					@pageChanged="pageChanged"
				></landing-area-unit>
			</div>

			<div v-show="apartmentType === 'project'">
				<landing-area-project-filter-advance
					class="hidden-xs"
					:device-type="'desktop'"
				></landing-area-project-filter-advance>

				<div v-if="loadingProject" class="col-xs-12 stretch loading-container">
					<mami-loading-list
						:inline="true"
						:text="'Memuat Project Apartemen..'"
					></mami-loading-list>
					<list-placeholder></list-placeholder>
				</div>

				<div
					v-else-if="!loadingProject && project.apartment_projects.length !== 0"
				>
					<h2 v-if="project.offset === 0" class="count-label">
						1 - {{ project.apartment_projects.length }} Project Apartemen dari
						{{ project.total }} di {{ landingTitle }}
					</h2>
					<h2 v-else class="count-label">
						{{ projectCount }} - {{ projectLoaded }} Project Apartemen dari
						{{ project.total }} di {{ landingTitle }}
					</h2>
				</div>

				<landing-project-list
					v-if="!loadingProject"
					:projects="project.apartment_projects"
				></landing-project-list>

				<div class="clearfix"></div>

				<div class="flex-center">
					<paginate
						v-model="page"
						:page-count="totalPageProject"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					>
					</paginate>
				</div>
			</div>
		</div>

		<leaflet-map
			ref="mamiMap"
			:prop-id="'mamiMap'"
			:prop-class="'map-container ' + grid"
			:type="apartmentType"
			:center="center"
			:corner="corner"
			:min-zoom="14"
			:max-zoom="16"
			:is-map-loading="isMapLoading"
			:scroll-zoom="false"
			@bounds-changed="boundsChanged"
			@select-cluster="clusterUnits"
		></leaflet-map>

		<div class="clearfix"></div>

		<div class="visible-xs">
			<filter-mobile-button
				@open="toggleFilterMobile(true)"
			></filter-mobile-button>
		</div>

		<transition name="fade">
			<landing-apartment-filter-mobile
				v-if="isFilterMobile"
				class="visible-xs"
				:tags="tags"
				:apartment-type="apartmentType"
				:landing-type="'area'"
				@close="toggleFilterMobile(false)"
				@set-filter="setFilterUnit"
			></landing-apartment-filter-mobile>
		</transition>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import paginate from 'vuejs-paginate';
import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

import LandingApartmentFilterMobile from './LandingApartmentFilterMobile';
import LandingAreaUnit from './LandingAreaUnit';
import LandingAreaProjectFilterAdvance from './LandingAreaProjectFilterAdvance';
/* istanbul ignore next */
const FilterMobileButton = () => import('Js/@components/FilterMobileButton');

export default {
	components: {
		paginate,
		FilterMobileButton,
		LandingApartmentFilterMobile,
		LandingAreaUnit,
		LandingAreaProjectFilterAdvance
	},

	props: {
		grid: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			isFilterMobile: false,
			setFilterMobile: false,
			filterAdvanced: false,
			filterProject: false,
			paginationOptions: {
				offset: 1,
				alwaysShowPrevNext: false,
				pageSize: 20
			},
			apartmentType: this.$store.state.extras.apartmentType,
			params: {},
			tags: {
				unit_type: '',
				unit_facilities: [],
				project_facilities: [],
				isChanged: false
			},
			sorting: {
				fields: 'price',
				direction: '-'
			},
			filters: {
				unitType: '',
				furnished: '',
				priceRange: [
					this.$store.state.area.price_min,
					this.$store.state.area.price_max
				],
				tagIds: []
			},
			unit: {
				rooms: [],
				total: 0,
				limit: 20,
				offset: 0
			},
			unitCount: 1,
			unitLoaded: 18,
			page: 1,
			loadingUnit: true,
			project: {
				apartment_projects: [],
				total: 0,
				limit: 20,
				offset: 0
			},
			projectCount: 1,
			projectLoaded: 18,
			loadingProject: false,
			cluster: {},
			clustersReady: false,
			firstLoad: false,
			map: {},
			bounds: {
				east: parseFloat(this.$store.state.area.longitude_1),
				west: parseFloat(this.$store.state.area.longitude_2),
				south: parseFloat(this.$store.state.area.latitude_2),
				north: parseFloat(this.$store.state.area.latitude_1)
			},
			corner: [
				[this.$store.state.area.latitude_1, this.$store.state.area.longitude_1],
				[this.$store.state.area.latitude_2, this.$store.state.area.longitude_2]
			],
			options: {
				minZoom: 14,
				maxZoom: 16,
				fullscreenControl: false
			},
			showingInfo: null
		};
	},

	computed: {
		isMapLoading() {
			return this.apartmentType === 'project'
				? this.loadingProject
				: this.apartmentType === 'unit'
				? this.loadingUnit
				: false;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		area() {
			return this.$store.state.area;
		},
		landingTitle() {
			return this.$store.state.area.keyword;
		},
		landingSlug() {
			return this.$store.state.area.slug;
		},
		randomSeeds() {
			return this.$store.state.extras.random_seeds;
		},
		center() {
			return {
				lat: parseFloat(this.$store.state.area.center_latitude),
				lng: parseFloat(this.$store.state.area.center_longitude)
			};
		},
		// the map won't load if screen isn't larger than value below
		hasMap() {
			if ($(window).width() <= 991) {
				return false;
			} else {
				return true;
			}
		},
		landingConnector() {
			return this.$store.state.area.landing_connector;
		},
		totalPageProject() {
			let total = Math.ceil(this.project.total / this.project.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},

	watch: {
		'area.rent_type'(val) {
			this.params.filters.rent_type = val;
			this.params.landing_source_apartment = '';

			if (window.innerWidth > 767) {
				this.getUnitData();
				this.getClusterData();
			}
		},
		'area.unit_type'(val) {
			this.params.filters.unit_type = val;
			this.params.landing_source_apartment = '';

			if (window.innerWidth > 767) {
				this.getUnitData();
				this.getClusterData();
			}
		},
		'area.is_furnished'(val) {
			this.params.filters.furnished = val;
			this.params.landing_source_apartment = '';

			if (window.innerWidth > 767) {
				this.getUnitData();
				this.getClusterData();
			}
		},
		apartmentType(val) {
			this.filters.tagIds.length = 0;
			if (val === 'unit') {
				this.params.page = 1;
				this.params.offset = 0;

				if (this.tags.unit_facilities.length > 0) {
					this.filters.tagIds = this.area.tag_ids;
				}

				this.getUnitData();
				this.getClusterData();
			} else if (val === 'project') {
				if (!this.firstLoad) {
					this.params = {
						page: 1,
						location: [
							[this.bounds.east, this.bounds.north],
							[this.bounds.west, this.bounds.south]
						],
						filters: {
							tag_ids: this.filters.tagIds,
							random_seeds: this.randomSeeds,
							property_type: 'apartment'
						},
						referer: '',
						limit: 20,
						offset: 0,
						landing_source_apartment: this.landingSlug
					};

					this.getUnitData();
					this.getClusterData();
				}
			}
		}
	},

	created() {
		window.addEventListener('hashchange', this.goToProject, false);
		const locationHash = window.location.hash;
		this.apartmentType = locationHash === '#project' ? 'project' : 'unit';

		this.assignInitParams();
		this.getUnitTags();
		this.getProjectTags();
	},

	mounted() {
		this.addFilterTagsUnit();
		this.addFilterTagsProject();
		this.sortApartmentList();
		this.filterPriceRange();
		this.filterPriceRangeMin();
		this.filterPriceRangeMax();
	},

	methods: {
		toggleFilterMobile(state) {
			this.isFilterMobile = state;
			this.setFilterMobile = false;
		},
		setFilterUnit() {
			this.isFilterMobile = false;
			this.setFilterMobile = true;
			window.scrollTo(0, 0);
			this.getUnitData();
			this.getClusterData();
		},
		assignInitParams() {
			this.params = {
				page: 1,
				location: [
					[this.bounds.east, this.bounds.north],
					[this.bounds.west, this.bounds.south]
				],
				filters: {
					price_range: this.filters.priceRange,
					tag_ids: this.filters.tagIds,
					unit_type: this.area.unit_type,
					furnished: this.area.is_furnished,
					random_seeds: this.randomSeeds,
					rent_type: this.area.rent_type,
					property_type: 'apartment'
				},
				sorting: {
					fields: this.sorting.fields,
					direction: this.sorting.direction
				},
				referer: '',
				limit: 20,
				offset: 0,
				include_promoted: true,
				landing_source_apartment: this.landingSlug
			};
		},
		getUnitTags() {
			axios
				.get('/stories/input/tags/apartment')
				.then(response => {
					this.tags.unit_type = response.data.data.unit_type;

					response.data.data.unit_facilities.forEach((item, index) => {
						this.tags.unit_facilities.push(item);
					});
					response.data.data.room_facilities.forEach((item, index) => {
						this.tags.unit_facilities.push(item);
					});

					this.$store.state.area.tag_ids.forEach((itemA, indexA) => {
						this.tags.unit_facilities.forEach((itemB, indexB) => {
							if (itemA === itemB.tag_id) {
								this.filters.tagIds.push(itemA);
							}
						});
					});

					this.$store.commit('setUnitTags', this.tags.unit_facilities);
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		},
		getProjectTags() {
			axios
				.get('/apartment/project-tags')
				.then(response => {
					response.data.tags.forEach((item, index) => {
						this.tags.project_facilities.push(item);
					});

					this.$store.commit('setProjectTags', this.tags.project_facilities);
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		},
		goToProject() {
			const locationHash = window.location.hash;
			this.apartmentType = locationHash === '#project' ? 'project' : 'unit';
		},
		removeHash() {
			let scrollV;
			let scrollH;
			const loc = window.location;
			if ('pushState' in history)
				history.pushState('', document.title, loc.pathname + loc.search);
			else {
				// Prevent scrolling by storing the page's current scroll offset
				scrollV = document.body.scrollTop;
				scrollH = document.body.scrollLeft;

				loc.hash = '';

				// Restore the scroll offset, should be flicker free
				document.body.scrollTop = scrollV;
				document.body.scrollLeft = scrollH;
			}
		},
		pageChanged(page) {
			this.page = page;
			window.scrollTo(0, 0);
			const nextOffsetUnit = (page - 1) * 20;
			this.params.offset = nextOffsetUnit;
			this.getUnitData();
			this.getUnitCount();
			this.getUnitLoaded();
			this.getProjectCount();
			this.getProjectLoaded();
		},
		addFilterTagsUnit() {
			EventBus.$on('addFilterTags', payload => {
				this.params.filters.tag_ids = payload;
				this.params.landing_source_apartment = '';

				if (window.innerWidth > 767) {
					this.getUnitData();
					this.getClusterData();
				}
			});
		},
		addFilterTagsProject() {
			EventBus.$on('addFilterTagsProject', payload => {
				this.params.filters.tag_ids = payload;
				this.params.landing_source_apartment = '';

				if (window.innerWidth > 767) {
					this.getUnitData();
					this.getClusterData();
				}
			});
		},
		sortApartmentList() {
			EventBus.$on('sortApartmentList', payload => {
				this.params.sorting.direction = payload;
				this.params.landing_source_apartment = '';

				if (window.innerWidth > 767) {
					this.getUnitData();
					this.getClusterData();
				}
			});
		},
		getUnitCount() {
			const count = 20 * (this.page - 1) + 1;
			this.unitCount = count;
		},
		getUnitLoaded() {
			const inpage = 20 * (this.page - 1) + this.unit.rooms.length;
			this.unitLoaded = inpage;
		},
		getProjectCount() {
			const count = 20 * (this.page - 1) + 1;
			this.projectCount = count;
		},
		getProjectLoaded() {
			const inpage =
				20 * (this.page - 1) + this.project.apartment_projects.length;
			this.projectLoaded = inpage;
		},
		toggleApartmentType(type) {
			this.$store.commit('changeApartmentType', type);
			this.apartmentType = type;
			if (type === 'project') {
				if (window.location.hash === '') {
					window.location.href = window.location.href + '#project';
				}
			} else {
				this.removeHash();
			}
		},
		registerUnit() {
			if (this.authCheck.user) {
				swal(
					'',
					'Maaf, untuk bisa menambahkan data unit apartemen Anda harus login sebagai Pemilik terlebih dahulu',
					'warning'
				);
			} else if (this.authCheck.owner) {
				window.location.href = '/ownerpage/add';
			} else {
				window.location.href = '/login?register=apartment';
			}
		},
		async getUnitData() {
			if (this.apartmentType === 'unit') {
				this.loadingUnit = true;
			} else if (this.apartmentType === 'project') {
				this.loadingProject = true;
			}

			const type = this.apartmentType === 'unit' ? 'stories' : 'apartment';

			const response = await makeAPICall({
				method: 'post',
				url: `/${type}/list`,
				data: this.params
			});

			if (
				response &&
				typeof response === 'object' &&
				response.rooms &&
				translateWords
			) {
				if (this.apartmentType === 'unit') {
					const rooms = translateWords(response.rooms) || [];
					this.unit = {
						...response,
						rooms
					};
					this.loadingUnit = false;
				} else if (this.apartmentType === 'project') {
					this.project = response;
					this.loadingProject = false;
				}
				this.firstLoad = false;
			} else {
				this.loadingUnit = false;
				this.loadingProject = false;
				this.firstLoad = false;
			}
		},
		getClusterData() {
			// cluster can only be called when in desktop
			if (this.hasMap) {
				const type = this.apartmentType === 'unit' ? 'stories' : 'apartment';

				axios
					.post('/' + type + '/cluster', this.params)
					.then(response => {
						const data = response.data;
						if (this.apartmentType === 'project') {
							data.rooms = response.data.apartment_projects;
						}
						this.cluster = data;
						this.clustersReady = true;

						this.$nextTick(() => {
							this.$refs.mamiMap.showClusters(data.rooms);
						});
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		},
		boundsChanged(locations) {
			this.params.location = locations;

			this.getUnitData();
			this.getClusterData();

			this.firstLoad = true;
		},
		clusterUnits(marker) {
			document
				.getElementById('landingTitle')
				.scrollIntoView({ behavior: 'smooth' });

			const params = this.params;
			params.point = {
				latitude: Number(marker.latitude),
				longitude: Number(marker.longitude)
			};
			params.offset = 0;

			if (this.apartmentType === 'unit') {
				this.loadingUnit = true;
			} else if (this.apartmentType === 'project') {
				this.loadingProject = true;
			}

			const type = this.apartmentType === 'unit' ? 'room' : 'apartment';

			axios
				.post('/' + type + '/list/cluster/', params)
				.then(response => {
					if (this.apartmentType === 'unit') {
						this.unit = response.data;
						this.loadingUnit = false;
					} else if (this.apartmentType === 'project') {
						this.project = response.data;
						this.loadingProject = false;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		filterPriceRangeMin() {
			EventBus.$on('changeFilterPriceMin', payload => {
				this.filters.priceRange[0] = payload;
				this.params.filters.price_range = this.filters.priceRange;
			});
		},
		filterPriceRangeMax() {
			EventBus.$on('changeFilterPriceMax', payload => {
				this.filters.priceRange[1] = payload;
				this.params.filters.price_range = this.filters.priceRange;
			});
		},
		filterPriceRange() {
			EventBus.$on('changeFilterPrice', payload => {
				this.filters.priceRange[0] = payload.min;
				this.filters.priceRange[1] = payload.max;
				this.params.filters.price_range = this.filters.priceRange;

				if (window.innerWidth > 767) {
					this.getUnitData();
					this.getClusterData();
				}

				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Price Filter',
						eventAction: 'all',
						eventLabel:
							'Min: ' +
							this.filters.priceRange[0] +
							' & Max: ' +
							this.filters.priceRange[1]
					}
				]);

				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Price Filter',
						eventAction: 'min',
						eventLabel: this.filters.priceRange[0]
					}
				]);

				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Price Filter',
						eventAction: 'max',
						eventLabel: this.filters.priceRange[1]
					}
				]);
			});
		}
	}
};
</script>

<style scoped>
@media (max-width: 767px) {
	.select-container {
		padding: 106px 0 0 15px !important;
	}

	.landing-unit-list-container {
		padding: 0px !important;
	}

	.list-header {
		display: flex;
		justify-content: center;
	}

	.list-toggle[role='tablist'] {
		width: calc(50% - 6px);
		display: block;
		text-align: center;
		border-bottom: 2px solid #eaeaea;
	}

	.list-filter-basic > div > div {
		margin-bottom: 10px;
	}
}

.list-header {
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}
.list-toggle {
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-toggle:hover {
	color: #1baa56;
}
.list-toggle.is-active {
	color: #1baa56;
	border-bottom: 2px solid #1baa56 !important;
}
.list-toggle.as-separator {
	margin-right: 10px;
	margin-left: 10px;
	border-right: 1px solid #eee;
	cursor: default;
}
.list-header > .btn {
	margin-left: 10px;
}

.list-filter-basic {
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.landing-unit-list-container {
	padding: 0 15px;
}

.filter-mark {
	font-size: 10px;
	color: #1baa56;
}

.map-container {
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #eee;
}

@media (max-width: 991px) {
	.map-container {
		position: fixed;
		visibility: hidden;
		height: 400px;
		width: 1170px;
	}
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
}
.project-zero {
	font-size: 24px;
	font-weight: bold;
	color: #006634;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}
</style>
