<template>
	<section class="container-fluid filter-mobile">
		<filter-close-button
			class="button-close"
			@press="hideFilterOverlay('exit')"
		></filter-close-button>

		<div class="container filter-options">
			<label class="filter-options__header">Filter Pencarian</label>
		</div>

		<div v-if="landingType === 'area'">
			<div v-if="apartmentType === 'unit'">
				<landing-area-unit-filter-group
					:tags="tags"
				></landing-area-unit-filter-group>

				<landing-area-unit-filter-advance
					:device-type="'mobile'"
				></landing-area-unit-filter-advance>
			</div>

			<div v-else>
				<landing-area-project-filter-advance
					:device-type="'mobile'"
				></landing-area-project-filter-advance>
			</div>
		</div>

		<div v-else>
			<landing-unit-filter-group :tags="tags"></landing-unit-filter-group>
			<landing-unit-filter-advance
				:tags="tags"
				:device-type="'mobile'"
			></landing-unit-filter-advance>
		</div>

		<nav class="navbar navbar-fixed-bottom navbar-filter-bottom">
			<button
				class="btn btn-mamiorange btn-set-filter"
				@click="hideFilterOverlay('set')"
			>
				SET FILTER
			</button>
		</nav>
	</section>
</template>

<script>
import LandingAreaProjectFilterAdvance from './LandingAreaProjectFilterAdvance';
import LandingAreaUnitFilterAdvance from './LandingAreaUnitFilterAdvance';
import LandingAreaUnitFilterGroup from './LandingAreaUnitFilterGroup';
import LandingUnitFilterAdvance from './LandingUnitFilterAdvance';
import LandingUnitFilterGroup from './LandingUnitFilterGroup';
/* istanbul ignore next */
const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		LandingAreaProjectFilterAdvance,
		LandingAreaUnitFilterAdvance,
		LandingAreaUnitFilterGroup,
		LandingUnitFilterAdvance,
		LandingUnitFilterGroup
	},

	props: {
		tags: {
			type: Object,
			required: true
		},
		apartmentType: {
			type: String,
			default: 'unit'
		},
		landingType: {
			type: String,
			default: 'area'
		}
	},

	methods: {
		hideFilterOverlay(intent) {
			if (intent === 'exit') {
				this.$emit('close');
			} else {
				this.$emit('set-filter');
			}
		}
	}
};
</script>

<style scoped>
.filter-mobile {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1100;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-bottom: 80px;
}

.filter-options {
	margin-top: 45px;
}

.filter-options__header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}

.filter-options__header:after {
	content: '';
	display: block;
	width: 120px;
	height: 50%;
	border-bottom: 2px solid #1baa56;
	margin-top: 10px;
}

.button-close {
	padding-top: 10px;
}

.navbar-filter-bottom {
	height: 48px;
}

.btn-set-filter {
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0;
}
</style>
