<template>
	<div :class="grid">
		<landing-child-title
			:grid="'col-lg-2 col-md-3 col-xs-12 stretch'"
			:title="'Informasi'"
			:collapse-id="'#landingInfo'"
		></landing-child-title>
		<div
			id="landingInfo"
			class="col-lg-10 col-md-9 col-xs-12 stretch"
			:class="$store.state.extras.windowWidth < 992 ? 'collapse' : ''"
		>
			<div class="col-md-3 col-sm-4 col-xs-12 data-list">
				<p class="data-list-title">Pengembang:</p>
				<p class="data-list-content is-green" v-if="developer !== ''">
					{{ developer }}
				</p>
				<p class="data-list-content" v-else>-</p>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 data-list">
				<p class="data-list-title">Luas Tanah:</p>
				<p class="data-list-content" v-if="sizeString !== ''">
					{{ sizeString }}
				</p>
				<p class="data-list-content" v-else>-</p>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 data-list">
				<p class="data-list-title">Jumlah Unit:</p>
				<p class="data-list-content" v-if="unitCount !== null">
					{{ unitCount }} unit
				</p>
				<p class="data-list-content" v-else>-</p>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 data-list">
				<p class="data-list-title">Lantai:</p>
				<p class="data-list-content" v-if="floorsCount !== null">
					{{ floorsCount }}
				</p>
				<p class="data-list-content" v-else>-</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		developer() {
			return this.$store.state.project.developer;
		},
		sizeString() {
			return this.$store.state.project.size_string;
		},
		unitCount() {
			return this.$store.state.project.unit_count;
		},
		floorsCount() {
			return this.$store.state.project.floors_count;
		}
	},
	props: {
		grid: {
			type: String,
			required: true
		}
	}
};
</script>

<style scoped>
.data-list {
	padding-top: 10px;
}
.data-list-title {
	margin-bottom: 5px;
}
.data-list-content.is-green {
	color: #1baa56;
}
</style>
