<template>
	<div class="col-xs-12 pull-right stretch">
		<div class="landing-available is-available" v-if="available > 0">
			<p>Tersedia {{ available }} Unit</p>
			<p class="small">dari total {{ total }} unit</p>
		</div>
		<div class="landing-available is-zero" v-else>
			<p>Unit Sedang Tidak Tersedia</p>
			<p class="small">dari total {{ total }} unit</p>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		available: {
			type: Number,
			required: true
		},
		total: {
			type: Number,
			required: true
		}
	}
};
</script>

<style scoped>
.landing-available {
	padding: 5px;
	border-radius: 8px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
}
.landing-available.is-available {
	background-color: #1baa56;
}
.landing-available.is-zero {
	background-color: #7d7d7d;
}
.landing-available p {
	margin-bottom: 0;
}
.landing-available .small {
	font-weight: normal;
}
</style>
