<template>
	<div :class="grid">
		<label><h4><strong>Alamat:</strong></h4></label>
		<p v-if="address !== ''">{{ address }}</p>
		<p v-else>-</p>
	</div>
</template>

<script>
export default {
	computed: {
		address() {
			return this.$store.state.project.address;
		}
	},
	props: {
		grid: {
			type: String,
			required: true
		}
	}
};
</script>
