<template>
	<div class="container-recommendation">
		<div class="section-label">
			<label
				>Rekomendasi Apartment Project menarik di sekitar
				{{ cityLocation }}</label
			>
		</div>
		<div class="apartment-recommend-fixed">
			<div class="apartment-recommend">
				<div
					class="col-md-3 related-card track-rekomendasi-others-apartemen"
					v-for="(suggestion, index) in suggestions"
					:key="index"
					@click="openDetailApartment(suggestion.share_url)"
					v-if="breadcrumb.length == 2 ? index < 4 : index < 3"
				>
					<div
						class="related-box"
						:style="{
							backgroundImage:
								'url(' + suggestion.photos[0].photo_url.medium + ')'
						}"
					>
						<div class="related-content">
							<div class="related-content-data">
								<p class="related-content-title">
									{{ suggestion.name }}
								</p>
							</div>
							<div class="related-content-data">
								<p class="related-content-location">
									{{ suggestion.subdistrict }} {{ suggestion.city }}
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 related-card" v-if="breadcrumb.length > 2">
					<div
						class="related-box more-apt track-unit-others"
						@click="openMoreSuggestions"
					>
						<div>
							<p>
								Lihat Apartemen <br />
								Disekitar <br />
							</p>
							<p class="more-loc">{{ cityLocation }} <br /></p>
							<p>Lainnya</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		cityLocation() {
			return this.$store.state.project.city;
		},
		breadcrumb() {
			return this.$store.state.project.breadcrumb;
		},
		apartmentSuggestions() {
			let index = this.breadcrumb.length - 2;
			return this.breadcrumb[index].url;
		}
	},
	props: {
		suggestions: {
			type: Array,
			required: true
		}
	},
	methods: {
		openDetailApartment(slug) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = slug;
			} else {
				window.open(slug, '_blank');
			}
		},
		openMoreSuggestions() {
			window.open(this.apartmentSuggestions);
		}
	}
};
</script>

<style scoped>
.apartment-recommend-fixed {
	margin-bottom: 30px;
}
.section-label label {
	width: 100%;
	background-color: #eee;
	padding: 10px;
}
.apartment-recommend {
	padding-top: 15px;
} /*
.apartment-recommend a {
	text-decoration: none;
}*/
.related-card {
	display: inline-block;
	vertical-align: top;
	cursor: default;
}
.related-box {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
}
.related-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.related-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	color: #fff;
	transition: all ease-in 500ms;
	-webkit-transition: all ease-in 500ms;
	-moz-transition: all ease-in 500ms;
}
.related-content-data {
	padding-top: 2px;
	padding-bottom: 2px;
}
.related-content-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 10px;
}
.more-apt {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: center;
	background-color: #009b4c;
	color: #fff;
	font-size: 25px;
}
.more-loc {
	font-weight: bold;
}
.is-loading {
	height: 78px;
}

@media (max-width: 991px) {
	.apartment-recommend-fixed {
		width: 100%;
		overflow-x: scroll;
	}
	.apartment-recommend {
		width: 1180px;
		display: -webkit-inline-box;
		display: -moz-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.related-card {
		width: 293px;
	}
}
@media (min-width: 992px) {
	.related-card {
		padding-bottom: 30px;
	}
}
</style>
