<template>
	<div>
		<div class="child-title hidden-sm hidden-xs" :class="grid">
			<span
				><h4>
					<strong>{{ title }}</strong>
				</h4></span
			>
		</div>
		<div
			class="child-title hidden-lg hidden-md"
			:class="grid"
			data-toggle="collapse"
			:data-target="collapseId"
			@click="toggleCollapse"
		>
			<span
				><h4>
					<strong>{{ title }}</strong>
				</h4></span
			>
			<i class="fa fa-chevron-down" aria-hidden="true" v-if="isCollapsed"></i>
			<i class="fa fa-chevron-up" aria-hidden="true" v-else></i>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isCollapsed: true
		};
	},
	props: {
		grid: {
			type: String,
			required: true
		},
		title: {
			type: String,
			required: true
		},
		collapseId: {
			type: String,
			required: true
		}
	},
	methods: {
		handleResize() {
			if (this.$store.state.extras.windowWidth > 991) {
				this.isCollapsed = true;
			}
		},
		toggleCollapse() {
			this.isCollapsed = !this.isCollapsed;
		}
	}
};
</script>

<style scoped>
.child-title {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (max-width: 991px) {
	.child-title {
		border-bottom: 1px solid #eee;
		background-color: #fff;
	}
}
.child-title .fa {
	float: right;
}
</style>
