<template>
	<div class="col-xs-12 stretch landing-section landing-map" :title="mapTitle">
		<div
			v-if="!showMap"
			class="col-xs-12 stretch flex-center landing-map-preview"
		>
			<button class="btn btn-mamigreen" @click="toggleShowMap(true)">
				<i aria-hidden="true" class="fa fa-map-marker"></i> Tampilkan Lokasi
			</button>
		</div>

		<div v-else>
			<div class="col-xs-12 stretch">
				<span class="col-xs-6 col-sm-4 col-md-3 map-tab is-active">Peta</span>
			</div>

			<div v-if="map === 'location'">
				<location-osm grid="col-xs-12 stretch" :center="latlng"></location-osm>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';

export default {
	data() {
		return {
			showMap: false,
			map: 'location'
		};
	},
	computed: {
		latlng() {
			return {
				lat: this.$store.state.project.location.latitude,
				lng: this.$store.state.project.location.longitude
			};
		},
		projectName() {
			return _get(this.$store.state, 'project.name', '');
		},
		mapTitle() {
			return `Peta Lokasi ${this.projectName}`;
		}
	},
	methods: {
		toggleShowMap(state) {
			this.showMap = true;
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Apartment Project Map',
					eventAction: 'click',
					eventLabel: 'Toggle Show Map'
				}
			]);
		}
	}
};
</script>

<style scoped>
.landing-map {
	padding: 15px;
	background-color: #fff;
	border: 1px solid #eeefec;
	border-radius: 8px;
}
.landing-map-preview {
	height: 328px;
	background-color: #ccc;
}
.landing-map-preview > .btn {
	padding: 8px 16px;
	font-size: larger;
}
.map-tab {
	font-weight: bold;
	padding: 0 5px 5px;
	background-color: #fff;
	cursor: pointer;
}
.map-tab.is-active {
	border-bottom: 3px solid #1baa56;
}
</style>

<style>
.gm-iv-address {
	height: 64px !important;
}
</style>
