<template>
	<div class="col-xs-12 stretch landing-section">
		<div class="col-md-4 col-xs-12 stretch pull-right has-margin-bottom">
			<landing-photo :photos="landingPhotos"></landing-photo>
			<landing-available
				:available="landingAvailableUnit"
				:total="landingTotalUnit"
			></landing-available>
		</div>

		<div class="col-md-8 col-xs-12">
			<landing-data-address
				:grid="'col-xs-12 stretch landing-data-child'"
			></landing-data-address>
			<landing-data-phone
				:grid="'col-xs-12 stretch landing-data-child'"
			></landing-data-phone>
			<landing-data-facility
				:grid="'col-xs-12 stretch landing-data-child'"
			></landing-data-facility>
		</div>

		<landing-data-info
			:grid="'col-xs-12 landing-data-child has-border-bottom has-border-top'"
		></landing-data-info>
		<landing-data-type
			:grid="'col-xs-12 landing-data-child has-border-bottom'"
		></landing-data-type>
		<landing-data-tower
			:grid="'col-xs-12 landing-data-child has-border-bottom'"
		></landing-data-tower>
		<landing-data-share
			:grid="'col-xs-12 landing-data-child has-border-bottom'"
		></landing-data-share>
		<!-- <landing-data-suggestion></landing-data-suggestion> -->
	</div>
</template>

<script>
export default {
	computed: {
		landingPhotos() {
			return this.$store.state.project.photos.length !== 0
				? this.$store.state.project.photos
				: this.$store.state.extras.photosFallback;
		},
		landingAvailableUnit() {
			return this.$store.state.project.unit_available;
		},
		landingDescription() {
			return this.$store.state.project.description;
		},
		landingTotalUnit() {
			return this.$store.state.project.unit_total;
		}
	}
};
</script>

<style scoped>
@media (max-width: 991px) {
	.landing-section {
		margin-bottom: 0;
	}
}

.landing-section .has-margin-bottom {
	margin-bottom: 20px;
}
.landing-data-child {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 992px) {
	.landing-data-child.has-border-top {
		border-top: 1px solid #eee;
	}
	.landing-data-child.has-border-bottom {
		border-bottom: 1px solid #eee;
	}
}
</style>
