<template>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalAddUnit">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center"><b>Daftarkan Unit Apartemen Saya</b></h4>
				</div>
				<form @submit.prevent="submitAddUnit">
					<div class="modal-body">
						<h5 class="modal-title text-center">Silakan isi form di bawah ini:</h5>					
							<div class="form-group">
								<label>Nama <span class="text-danger">*</span></label>
								<input type="text" class="form-control" required minlength="3" maxlength="30" placeholder="Tuliskan Nama Lengkap Anda" v-model="name">
							</div>
							<div class="form-group">
								<label>Email <span class="text-danger">*</span></label>
								<input type="email" class="form-control" required placeholder="Tuliskan Alamat Email Anda" v-model="email">
							</div>
							<div class="form-group">
								<label>No. Handphone <span class="text-danger">*</span></label>
								<input type="tel" class="form-control" required pattern="^0(\d{3,4}-?){2}\d{3,4}$" placeholder="Tuliskan Nomor Handphone Anda" v-model="phone">
							</div>
					</div>
					<div class="modal-footer">
						<button
							type="submit"
							class="btn btn-mamigreen"
							:disabled="isLoading ? true : false"
						>
						Submit <i class="fa fa-circle-o-notch fa-spin loading-spinner-small" v-if="isLoading"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			name: '',
			email: '',
			phone: '',
			isLoading: false
		};
	},
	methods: {
		openModal() {
			$('#modalAddUnit').modal();
		},
		submitAddUnit() {
			this.isLoading = true;
			axios
				.post('/apartment/request-input', {
					name: this.name,
					email: this.email,
					phone_number: this.phone
				})
				.then(response => {
					this.isLoading = false;
					$('#modalAddUnit').modal('hide');
					swal(
						'',
						'Terima kasih telah mendaftarkan Unit Apartemen Anda. Silakan tunggu tim dari Mamikos menghubungi Anda untuk konfirmasi lebih lanjut',
						'success'
					);
				})
				.catch(error => {
					this.isLoading = false;
					$('#modalAddUnit').modal('hide');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style scoped>
.modal-header,
.modal-footer {
	border: none;
}
.modal-footer > .btn {
	width: 100%;
}
</style>
