<template>
	<div>
		<h3 class="title">Upload Foto</h3>
		<p>Silakan pilih foto yang akan dimasukkan</p>
		<div class="row button__container">
			<div class="col-xs-6">
				<ct-button block large outline @click="handleOpenImagePicker('galery')"
					>Galeri</ct-button
				>
			</div>
			<div class="col-xs-6">
				<ct-button
					outline
					:disabled="!isMobileBrowser"
					large
					block
					@click="handleOpenImagePicker('camera')"
					>Kamera</ct-button
				>
			</div>
		</div>
	</div>
</template>
<script>
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';

export default {
	name: 'IdentityModalContent',

	components: {
		'ct-button': ConsultantButton
	},

	computed: {
		isMobileBrowser() {
			const MOBILE_BROWSER_REGEX = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
			return (
				this.navigator.isMobile &&
				MOBILE_BROWSER_REGEX.test(navigator.userAgent)
			);
		}
	},

	methods: {
		handleOpenImagePicker(type) {
			this.$emit('onSelectPicker', type);
		}
	}
};
</script>
<style lang="scss" scoped>
.title {
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
}

.button__container {
	margin-top: 20px;
}
</style>
