<template>
	<div class="identity-snackbar">
		<ul class="action-list">
			<li class="action__item disabled">
				<img
					v-lazy="'/general/img/icons/ic_eye_s_grey.svg'"
					alt="Icon Eye"
					class="action__icon"
				/>
				<span class="action__title">Lihat Foto</span>
			</li>
			<li class="action__item" @click="toggleModalUploadOption(true)">
				<img
					v-lazy="'/general/img/icons/ic_camera-consultant_green.svg'"
					alt="Icon Camera"
					class="action__icon"
				/>
				<span class="action__title">Ubah Foto</span>
			</li>
			<li class="action__item" @click="handleRemoveImage">
				<img
					v-lazy="'/general/img/icons/ic_trash-o_red.svg'"
					alt="Icon Delete"
					class="action__icon"
				/>
				<span class="action__title">Hapus Foto</span>
			</li>
		</ul>
		<div class="cancel-btn" @click="closeSnackbar">
			Batalkan
		</div>
	</div>
</template>

<script>
export default {
	name: 'IdentitySnackbarContent',

	methods: {
		toggleModalUploadOption(value) {
			this.$emit('onImageChange', value);
		},

		handleRemoveImage() {
			this.$emit('onImageRemove');
		},

		closeSnackbar() {
			this.$emit('onCloseSnackbar');
		}
	}
};
</script>

<style lang="scss" scoped>
.action-list {
	padding: unset;
	list-style: none;

	.action__item {
		display: flex;
		padding: 15px 20px;
		cursor: pointer;
		align-items: center;

		.action__icon {
			width: 22px;
			margin-right: 10px;
		}

		.action__title {
			font-size: 14px;
			font-weight: bold;
			color: #383746;
		}

		&.disabled {
			cursor: default;
			.action__title {
				color: #dbdbdb;
			}
		}
	}

	+ .cancel-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		font-size: 14px;
		font-weight: bold;
		color: #383746;
		cursor: pointer;
		border-top: 1px solid #f4f4f4;

		&:active {
			background-color: rgba(#eee, 0.2);
		}
	}
}
</style>
