<template>
	<div class="identity-uploader">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="label__upload">Foto</h4>
			</div>
			<div class="col-xs-6">
				<upload-image
					type="identity"
					icon="ic_id-card-consultant_green"
					upload-url="/api/tenant/upload/identifier"
					title="Kartu Identitas"
					:updated-data="identityPhoto"
					@onUpload="handleImageUpload"
				></upload-image>
			</div>
			<div class="col-xs-6">
				<upload-image
					type="document"
					icon="ic_camera-consultant_green"
					upload-url="/api/tenant/upload/selfie"
					title="Selfie dengan Kartu Identitas"
					:updated-data="documentPhoto"
					@onUpload="handleImageUpload"
				></upload-image>
			</div>
		</div>
	</div>
</template>

<script>
import UploadImage from './UploadImage.vue';

export default {
	name: 'IdentityUploader',

	components: {
		UploadImage
	},

	props: {
		value: {
			type: Object,
			required: true
		},
		documentPhoto: {
			type: Object,
			default: null
		},
		identityPhoto: {
			type: Object,
			default: null
		}
	},

	methods: {
		handleImageUpload(data) {
			this.$emit('input', {
				...this.value,
				[data.type]: data.data
			});
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/variables/theme.scss';

.identity-uploader {
	margin-bottom: 25px;

	.label__upload {
		font-size: 14px;
		font-weight: bold;

		&::after {
			display: inline-block;
			margin-left: 3px;
			font-size: 15px;
			color: rgb(255, 0, 0);
			content: '*';
		}
	}
}
</style>
