<template>
	<div class="upload-image" :class="uploadClassName">
		<div class="upload-activator" @click="handleOpenSelectInputType">
			<img
				v-lazy="`/general/img/icons/${icon}.svg`"
				:alt="icon"
				class="activator__image"
			/>
			<p class="activator__title">{{ title }}</p>
			<div
				ref="imagePreview"
				class="image__preview"
				:class="{ 'is--focused': isImagePreviewFocused }"
			></div>
		</div>
		<ct-modal :open.sync="isModalUploadOptionOpen">
			<identity-modal-content
				@onSelectPicker="handleOpenImagePicker"
			></identity-modal-content>
		</ct-modal>
		<input
			ref="inputImage"
			class="input-picker"
			type="file"
			accept="image/*"
			capture="user"
			@change="handleImageSelected"
		/>
		<ct-snackbar v-model="isSnackbarOpened">
			<identity-snackbar-content
				@onImageChange="modalUploadOption(true)"
				@onImageRemove="handleRemoveImage"
				@onCloseSnackbar="handleSnackbar(false)"
			></identity-snackbar-content>
		</ct-snackbar>
	</div>
</template>

<script>
import IdentitySnackbarContent from './IdentitySnackbarContent.vue';
import IdentityModalContent from './IdentityModalContent.vue';
import ConsultantModal from 'Consultant/components/ConsultantModal.vue';
import Snackbar from 'Consultant/components/Snackbar.vue';

import getOrientedImage from 'exif-orientation-image';

import EventBus from 'Consultant/event-bus';
import { contract } from 'Consultant/event-bus/eventNames';
import { mapState } from 'vuex';

export default {
	name: 'UploadImage',

	components: {
		'ct-modal': ConsultantModal,
		'ct-snackbar': Snackbar,
		IdentitySnackbarContent,
		IdentityModalContent
	},

	props: {
		icon: {
			type: String,
			required: true
		},

		uploadUrl: {
			type: String,
			required: true
		},

		type: {
			type: String,
			required: true
		},

		title: {
			type: String,
			default: ''
		},
		updatedData: {
			type: Object,
			default: null
		}
	},

	data() {
		return {
			isSnackbarOpened: false,
			isModalUploadOptionOpen: false,
			isLoading: false,
			isLoaded: false,
			isInvalid: false,
			isImagePreviewFocused: false
		};
	},

	computed: {
		...mapState('createContract', ['section']),
		uploadClassName() {
			return {
				'upload--loaded': this.isLoaded,
				'upload--loading': this.isLoading,
				'upload--invalid': this.isInvalid,
				'upload--focused': this.isImagePreviewFocused
			};
		}
	},

	watch: {
		updatedData: {
			immediate: true,
			handler(value) {
				if (value && value.urls) {
					this.createCurrentUploadedImage(value);
				} else {
					this.handleRemoveImage();
				}
			}
		},
		isSnackbarOpened(isOpen) {
			if (isOpen && this.isLoaded) {
				this.isImagePreviewFocused = true;
			} else {
				this.isImagePreviewFocused = false;
			}
		},
		section: {
			immediate: true,
			handler(currentSection) {
				if (currentSection === 3 && !this.$isEmpty(this.updatedData)) {
					this.createCurrentUploadedImage(this.updatedData);
				}
			}
		}
	},

	created() {
		EventBus.$on(contract.resetImageUpload, this.handleRemoveImage);
	},

	methods: {
		sendToParent(data) {
			this.$emit('onUpload', { type: this.type, data });
		},

		createCurrentUploadedImage(data) {
			setTimeout(() => {
				const imagePreview = this.$refs.imagePreview;
				if (imagePreview) {
					imagePreview.innerHTML = '';
					this.$nextTick(() => {
						const image = this.createImagePreviewElement(data.urls.large);
						imagePreview.appendChild(image);
						this.isLoaded = true;
						this.sendToParent(data);
					});
				}
			}, 100);
		},

		handleOpenSelectInputType() {
			if (!this.isLoading) {
				if (this.isLoaded) {
					this.handleSnackbar(true);
				} else {
					this.modalUploadOption(true);
				}
			}
		},

		modalUploadOption(value) {
			this.isModalUploadOptionOpen = value;
			this.handleSnackbar(false);
		},

		handleOpenImagePicker(pickerType) {
			this.openImagePicker(pickerType);
			this.modalUploadOption(false);
		},

		openImagePicker(pickerType) {
			const input = this.$refs.inputImage;
			// reset input before upload again
			input.value = '';

			if (pickerType === 'camera') {
				input.setAttribute('capture', 'user');
			} else if (pickerType === 'galery') {
				input.removeAttribute('capture');
			}

			input.click();
		},

		handleImageSelected(event) {
			const file = event.target.files[0];

			if (file) {
				this.isLoading = true;
				this.isInvalid = false;
				this.sendToParent({});
				getOrientedImage(file, async (error, canvas) => {
					if (error) {
						console.error(error);
						this.sendToParent({});
					} else {
						const imagePreview = this.$refs.imagePreview;
						const currentImage = imagePreview.querySelector('img');

						if (currentImage) {
							imagePreview.removeChild(currentImage);
						}

						const image = this.createImagePreviewElement(
							canvas.toDataURL('image/png')
						);

						imagePreview.appendChild(image);

						const response = await this.uploadImage(this.uploadUrl, image);
						this.isLoaded = true;

						if (response.success) {
							this.sendToParent(response.data);
						} else {
							this.isInvalid = true;
							this.sendToParent({});
						}
					}
					this.isLoading = false;
				});
			}
		},

		async uploadImage(url, image) {
			const blob = this.convertToBlob(image.src);
			const file = new File([blob], 'image.png', { type: 'image/png' });
			const formData = new FormData();
			formData.append('media', file);
			const data = { success: false, data: {} };
			try {
				const response = await axios.post(url, formData);

				if (response.data.status) {
					data.success = true;
					data.data = response.data.media;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}

			return data;
		},

		convertToBlob(dataURI) {
			const binary = atob(dataURI.split(',')[1]);
			const array = [];
			for (var i = 0; i < binary.length; i++) {
				array.push(binary.charCodeAt(i));
			}
			return new Blob([new Uint8Array(array)], { type: 'image/jpeg' });
		},

		createImagePreviewElement(src) {
			const image = new Image();
			image.src = src;
			image.style.cssText = 'max-width: 100%; max-height: 100%';
			return image;
		},

		handleSnackbar(value) {
			this.isSnackbarOpened = value;
		},

		handleRemoveImage() {
			this.sendToParent({});
			this.isLoaded = false;
			this.isInvalid = false;
			const imagePreview = this.$refs.imagePreview;
			if (imagePreview) {
				imagePreview.innerHTML = '';
			}
			this.handleSnackbar(false);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/variables/theme.scss';
@import 'Consultant/styles/mixins/_selector.scss';

.input-picker {
	display: none;
}

.upload-image {
	.upload-activator {
		display: flex;
		width: 140px;
		height: 140px;
		box-sizing: border-box;
		cursor: pointer;
		flex-direction: column;
		background: #fff;
		border: 1px dashed #dbdbdb;
		border-radius: 3px;
		align-items: center;
		justify-content: center;

		.activator__title {
			margin: unset;
			margin-top: 10px;
			font-size: 12px;
			color: $mamikos-green;
			text-align: center;
		}

		.image__preview {
			max-width: 100%;
			max-height: 100%;

			&.is--focused {
				display: flex;
				width: 140px;
				height: 140px;
				justify-content: center;
				align-items: center;
			}
		}

		@include variant('.upload--focused') {
			z-index: 999999;
			padding: 5px;
		}

		@include variant('.upload--loading', '.upload--loaded') {
			position: relative;
			border: unset;

			.activator__title,
			.activator__image {
				display: none;
			}
		}

		@include variant('.upload--loading') {
			.activator__title,
			.activator__image,
			.image__preview {
				opacity: 0.6;
			}

			&::before,
			&::after {
				position: absolute;
				display: block;
			}

			&::before {
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 2;
				content: '';
				background-color: rgba($color: #555, $alpha: 0.3);
			}

			&::after {
				top: 50%;
				left: 50%;
				z-index: 3;
				font-size: 13px;
				font-weight: bold;
				color: #fff;
				content: 'Loading...';
				transform: translate(-50%, -50%);
			}
		}

		@include variant('.upload--loaded') {
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				cursor: pointer;
				content: '';
			}
		}

		@include variant('.upload--invalid') {
			position: relative;
			opacity: 0.6;
			.image__preview {
				filter: grayscale(1);
			}

			@at-root .upload--focused#{&} {
				opacity: 1;
			}

			&::after {
				position: absolute;
				bottom: -10px;
				left: 50%;
				font-size: 11px;
				font-weight: 600;
				color: rgb(255, 0, 0);
				content: 'Gagal Upload';
				transform: translateX(-50%);
			}
		}
	}
}
</style>

<style lang="scss">
.consultant-snackbar.identity-snackbar {
	.consultant-snackbar__content {
		padding: 20px 0 0 !important;
	}
}
</style>
