<template>
	<div class="padding-bottom">
		<graduation-photo-navbar></graduation-photo-navbar>
		<graduation-photo-big-banner></graduation-photo-big-banner>
		<graduation-photo-recommendation-job></graduation-photo-recommendation-job>
		<graduation-photo-recommendation-kost></graduation-photo-recommendation-kost>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';

const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	components: {
		LoginUser
	},

	data() {
		return {
			isModalLogin: false
		};
	},

	created() {
		this.listenEventBus();
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style scoped>
.padding-bottom {
	padding-bottom: 100px;
}
</style>
