<template>
	<div>
		<div class="custom-navbar">
			<span class="logo-container">
				<img class="logo-image" src="assets/logo/header.png" />
			</span>
			<span class="link-container dark-green hidden-xs" v-if="includeLinks">
				<span class="job-link" @click="goToSection('#jobRecommendation')"
					>Rekomendasi Lowongan Kerja</span
				>
				<span class="kost-link" @click="goToSection('#kostRecommendation')"
					>Rekomendasi Kost</span
				>
			</span>
			<span
				class="link-container dark-green visible-flex-xs"
				v-if="includeLinks"
			>
				<span
					class="job-icon"
					@click="goToSection('#jobRecommendation', 'job')"
				>
					<img src="assets/owner/ic_owner_kat_loker.png" />
					<span class="red-dot" v-if="!isClicked.job"></span>
				</span>
				<span
					class="kost-icon"
					@click="goToSection('#kostRecommendation', 'kost')"
				>
					<img src="assets/owner/ic_owner_kat_kost.png" />
					<span class="red-dot" v-if="!isClicked.kost"></span>
				</span>
			</span>
		</div>

		<div
			class="custom-navbar slideable"
			:class="isScrolled ? 'nav-slides-down' : 'nav-slides-up'"
		>
			<span class="logo-container">
				<img class="logo-image" src="assets/logo/header.png" />
			</span>
			<span class="link-container dark-green hidden-xs" v-if="includeLinks">
				<span class="job-link" @click="goToSection('#jobRecommendation')"
					>Rekomendasi Lowongan Kerja</span
				>
				<span class="kost-link" @click="goToSection('#kostRecommendation')"
					>Rekomendasi Kost</span
				>
			</span>
			<span
				class="link-container dark-green visible-flex-xs"
				v-if="includeLinks"
			>
				<span
					class="job-icon"
					@click="goToSection('#jobRecommendation', 'job')"
				>
					<img src="assets/owner/ic_owner_kat_loker.png" />
					<span class="red-dot" v-if="!isClicked.job"></span>
				</span>
				<span
					class="kost-icon"
					@click="goToSection('#kostRecommendation', 'kost')"
				>
					<img src="assets/owner/ic_owner_kat_kost.png" />
					<span class="red-dot" v-if="!isClicked.kost"></span>
				</span>
			</span>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isScrolled: false,
			isClicked: {
				job: false,
				kost: false
			}
		};
	},
	props: {
		includeLinks: {
			type: Boolean,
			required: false,
			default: true
		}
	},
	methods: {
		goToSection(target, clicked) {
			if (clicked == 'job') {
				this.isClicked.job = true;
			} else {
				this.isClicked.kost = true;
			}
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	},
	mounted() {
		window.onscroll = () => {
			if (window.pageYOffset >= 400) {
				this.isScrolled = true;
			} else {
				this.isScrolled = false;
			}
		};
	}
};
</script>

<style scoped>
.custom-navbar {
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	height: 75px;
	padding: 5px 60px;
}

.logo-image {
	height: 100%;
}

.link-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.job-link {
	margin-right: 30px;
	font-weight: 600;
	cursor: pointer;
}
.kost-link {
	font-weight: 600;
	cursor: pointer;
}
.job-icon {
	margin-right: 10px;
}
.kost-icon,
.job-icon {
	display: inline-block;
	border: 2px #1baa56 solid;
	padding: 8px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.kost-icon img,
.job-icon img {
	height: 25px;
}

.red-dot {
	position: absolute;
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #ec4a0c;
	margin-left: 23px;
	margin-top: -32px;
}

@media (max-width: 767px) {
	.custom-navbar {
		padding: 5px 15px;
		height: 50px;
	}
}

@media (max-width: 767px) {
	.visible-flex-xs {
		display: flex !important;
	}
}
@media (min-width: 768px) {
	.visible-flex-xs {
		display: none !important;
	}
}

.slideable {
	position: fixed;
	width: 100%;
	background-color: #e9fee9;
	border-bottom: 1px solid #1baa56;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
	transition: top 0.5s;
	transition-timing-function: ease;
}
.nav-slides-down {
	top: 0;
}
.nav-slides-up {
	top: -160px;
}
</style>

<style></style>
