<template>
	<div id="jobRecommendation" class="container recommendation-container">
		<div class="recommendation-job-title">
			<img
				class="recommendation-job-image"
				src="assets/owner/ic_owner_kat_loker.png"
			/>
			<span class="recommendation-job-caption medium-grey"
				>Rekomendasi Lowongan Kerja</span
			>
			<span class="recommendation-job-more hidden-xs"
				>Lihat semua lowongan kerja di sekitar</span
			>
		</div>

		<div class="recommendation-job-container">
			<list-placeholder :type="'job'" v-if="isLoading"></list-placeholder>
			<job-list :jobs="jobData"></job-list>

			<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
				<p>Lowongan pekerjaan tidak ditemukan.</p>
				<img
					src="/assets/history_zero.png"
					alt="Lowongan pekerjaan tidak ditemukan"
				/>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="container">
			<span
				class="recommendation-job-more-bottom visible-xs"
				@click="openLanding('https://mamikos.com/kost/kost-dekat-ugm-murah')"
			>
				Lihat semua lowongan kerja di sekitar
			</span>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			jobData: [],
			filter: {
				type: 'all',
				last_education: 'all',
				price_range: [0, 10000000]
			},
			isRoomEmpty: false,
			isLoading: false
		};
	},
	mounted() {
		this.getJobList();
	},
	methods: {
		openLanding(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		getJobList() {
			this.isLoading = true;
			let filters = this.filter;
			axios
				.post('/stories/jobs/list', {
					filters,
					limit: 3,
					offset: 0
				})
				.then(response => {
					if (response.data.status) {
						this.isLoading = false;
						this.jobData = this.jobData.concat(response.data.vacancy);
						if (response.data.total == 0) {
							this.isRoomEmpty = true;
						}
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style scoped>
.recommendation-container {
	margin-top: 50px;
}

@media (max-width: 767px) {
	.recommendation-job-container {
		padding: 0px 15px;
	}
}

.recommendation-job-title {
	display: flex;
	padding-left: 15px;
	margin-bottom: 10px;
}
.recommendation-job-image {
	height: 32px;
}
.recommendation-job-caption {
	font-size: 24px;
	font-weight: 700;
	margin-left: 10px;
}
.recommendation-job-more {
	background-color: #1baa56;
	color: #fff;
	line-height: 1.7;
	height: 25px;
	padding: 0 10px;
	margin-top: 6px;
	margin-left: 13px;
	border-radius: 3px;
	cursor: pointer;
}
.recommendation-job-more-bottom {
	background-color: #1baa56;
	color: #fff;
	line-height: 2.8;
	height: 40px;
	padding: 0 10px;
	margin-top: 6px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}

@media (max-width: 767px) {
	.recommendation-container {
		padding: 0;
	}
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}
</style>

<style></style>
