<template>
	<div class="invoice-list-page">
		<div v-show="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<Profile
			:profile-name="profile.name"
			:avatar-image="
				profile.profile_picture
					? profile.profile_picture.small
					: '/general/img/pictures/default-profile-avatar.svg'
			"
			:disable-profile-detail="contractStatusBool"
			@childProfileClick="handleClickDetailProfile(profile.id)"
		/>

		<section class="year-dropdown">
			<div class="custom-simple-select">
				<select
					id="invoice-year"
					v-model="selectedYear"
					name="invoice-year"
					@change="changeInvoiceYear"
				>
					<option
						v-for="year in yearList"
						:key="`invoice-year-${year}`"
						:value="year"
						>Tahun {{ year }}</option
					>
				</select>
			</div>
		</section>

		<section class="invoice-list">
			<InvoiceItem
				v-for="(item, index) in invoiceList"
				:key="item.id"
				:item="item"
				:index="index"
				:cancelled-terminated="contractStatusBool"
				:index-unpaid="findUnpaid"
				@childClickOpenNotes="handleClickOpenNotes"
				@childClickRemindTenant="handleClickRemindTenant(index, ...arguments)"
			></InvoiceItem>

			<div v-show="!invoiceList.length" class="center-empty">
				<img
					v-lazy="'/general/img/pictures/consultant/consultant_empty_state.png'"
					alt="Invoice empty state"
					title="Invoice empty state"
				/>
				<h3>Tagihan Tidak Ditemukan</h3>
				<p>Silakan ubah pengaturan filter tahun tagihan anda</p>
			</div>
		</section>

		<section
			v-if="!contractStatusBool && isAdminConsultant"
			class="contract-action"
		>
			<Button
				color="warning"
				:disabled="contractBookingNot"
				large
				block
				outline
				@click="handleClickCancelTerminate('cancel')"
			>
				Batalkan Kontrak
			</Button>
			<Button
				color="warning"
				large
				block
				outline
				@click="handleClickCancelTerminate('terminate')"
			>
				Akhiri Kontrak
			</Button>
		</section>

		<Snackbar v-model="snackbarReminder" show-button-close>
			<div class="reminder-snackbar">
				<h4>Ingatkan Penyewa?</h4>
				<p>Penyewa akan menerima notifikasi untuk melakukan pembayaran</p>
				<div class="button-container">
					<div class="row">
						<div class="col-xs-6">
							<Button
								large
								block
								outline
								:disabled="loadingButton"
								@click="snackbarReminder = false"
								>Tidak</Button
							>
						</div>
						<div class="col-xs-6">
							<Button
								large
								block
								:loading="loadingButton"
								@click="reminderEvent"
								>Ya</Button
							>
						</div>
					</div>
				</div>
			</div>
		</Snackbar>

		<Snackbar v-model="snackbarReminderPost" show-button-close>
			<div class="reminder-snackbar">
				<p>{{ reminderMessage }}</p>
				<div class="button-container">
					<div class="row">
						<div class="col-xs-12">
							<Button large block outline @click="snackbarReminderPost = false"
								>OK</Button
							>
						</div>
					</div>
				</div>
			</div>
		</Snackbar>

		<Snackbar v-model="snackbarCancelTerminate">
			<div class="cancel-terminate-snackbar">
				<h4 v-if="snackbarCancel">
					Yakin ingin membatalkan kontrak dengan penyewa ini?
				</h4>
				<p v-if="snackbarCancel">
					Kontrak yang telah dikonfirmasi batal tidak dapat dilanjutkan kembali.
				</p>
				<h4 v-if="!snackbarCancel">
					Yakin ingin mengakhiri kontrak dengan penyewa ini?
				</h4>
				<p v-if="!snackbarCancel">
					Kontrak yang telah dikonfirmasi berakhir tidak dapat dilanjutkan
					kembali.
				</p>
				<div class="button-container">
					<div class="row">
						<div class="col-xs-6">
							<Button
								large
								block
								outline
								:disabled="loadingButton"
								@click="snackbarCancelTerminate = false"
								>Tidak</Button
							>
						</div>
						<div class="col-xs-6">
							<Button
								large
								block
								:loading="loadingButton"
								@click="handleCancelingTerminatingContract(snackbarCancel)"
								>Ya</Button
							>
						</div>
					</div>
				</div>
			</div>
		</Snackbar>

		<FreeTextInputPage
			v-model="note.value"
			placeholder="Jelaskan catatan di sini"
			:open.sync="note.open"
			prevent-save
			sync-value
			:max-length="200"
			:loading="note.loading"
			@save="saveNote"
		></FreeTextInputPage>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import Profile from './components/Profile.vue';
import InvoiceItem from './components/InvoiceItem.vue';
import Button from 'Consultant/components/ConsultantButton.vue';
import Snackbar from 'Consultant/components/Snackbar.vue';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import FreeTextInputPage from 'Consultant/components/FreeTextInputPage.vue';

export default {
	name: 'InvoiceList',

	components: {
		Profile,
		InvoiceItem,
		Button,
		Snackbar,
		MamiLoadingInline,
		FreeTextInputPage
	},

	data() {
		return {
			contractId: '',
			contractBooking: null,
			contractStatus: '',
			profile: {},
			invoiceYears: {},
			yearList: [],
			selectedYear: '',
			invoiceList: [],
			selectedInvoice: {},
			reminderMessage: '',
			snackbarReminder: false,
			snackbarReminderPost: false,
			snackbarCancelTerminate: false,
			snackbarCancel: false,
			showLoading: true,
			loadingButton: false,
			note: {
				open: false,
				loading: false,
				selectedId: '',
				value: ''
			}
		};
	},

	computed: {
		...mapGetters(['isAdminConsultant']),

		...mapState('contract', ['prevQuery']),

		contractStatusBool() {
			return (
				this.contractStatus === 'cancelled' ||
				this.contractStatus === 'terminated'
			);
		},

		contractBookingNot() {
			return !this.contractBooking;
		},

		findUnpaid() {
			return this.invoiceList.findIndex(item => item.status === 'unpaid');
		}
	},

	created() {
		this.contractId = this.$route.params.id;
		this.contractBooking = +this.$route.params.booking;
		this.contractStatus = this.$route.params.contract_status;

		this.initDataInvoiceLists(this.contractId);
		this.$route.meta.navbarOptions.onClickBack = this.handleGoToContract;
	},

	methods: {
		generateDropdown(firstYear, lastYear) {
			if (+lastYear - +firstYear > 0) {
				for (let i = +firstYear; i <= +lastYear; i++) {
					this.yearList.unshift(i);
				}
			} else {
				this.yearList.unshift(lastYear);
			}
		},

		// ----------------------------------------------------------------------
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		// ----------------------------------------------------------------------
		async initDataInvoiceLists(id) {
			const [
				{
					value: { successYears, resultYears }
				},
				{
					value: { successProfile, resultProfile }
				}
			] = await Promise.allSettled([
				this.getInvoiceYears(id),
				this.getProfile(id)
			]);

			if (successYears && successProfile) {
				this.invoiceYears = resultYears.data;
				this.selectedYear = this.invoiceYears.last_year;
				this.profile = resultProfile.data;

				if (!this.yearList.length) {
					this.generateDropdown(
						this.invoiceYears.first_year,
						this.invoiceYears.last_year
					);
				}

				const { successInvoices, resultInvoices } = await this.getInvoiceList(
					id,
					this.selectedYear
				);

				if (successInvoices) {
					this.invoiceList = resultInvoices.data;
				}
			} else {
				console.log('error init data for invoice lists');
			}

			this.showLoading = false;
		},

		async getProfile(query) {
			const data = { successProfile: false, resultProfile: {} };
			try {
				const response = await axios.get(`/api/contract/tenant-info/${query}`);
				if (response.data.status) {
					data.successProfile = true;
					data.resultProfile = response.data;
				}
			} catch (error) {
				console.log(error);
			}

			return Promise.resolve(data);
		},

		async getInvoiceYears(id) {
			const data = { successYears: false, resultYears: {} };
			try {
				const response = await axios.get(
					`/api/contract/invoice/year-list/${id}`
				);
				if (response.data.status) {
					data.successYears = true;
					data.resultYears = response.data;
				}
			} catch (error) {
				console.log(error);
			}

			return Promise.resolve(data);
		},

		async getInvoiceList(id, year) {
			const data = { successInvoices: false, resultInvoices: {} };
			try {
				const response = await axios.get(`/api/contract/invoice/${id}/${year}`);
				if (response.data.status) {
					data.successInvoices = true;
					data.resultInvoices = response.data;

					for (let i = 0; i < data.resultInvoices.data.length; i++) {
						data.resultInvoices.data[i].disabled = false;
					}
				}
			} catch (error) {
				console.log(error);
			}

			return Promise.resolve(data);
		},

		async getReminderStatus(id) {
			try {
				this.loadingButton = true;
				const response = await axios.post(
					`/api/contract/invoice/reminder/${id}`
				);

				if (response.data.meta.code === 200) {
					this.reminderMessage = response.data.meta.message;
				}

				if (response.data.meta.code === 401) {
					this.reminderMessage = 'Wrong invoice ID';
				}

				this.snackbarReminder = false;
				this.snackbarReminderPost = true;

				this.invoiceList[this.selectedInvoice.index].disabled = true;
			} catch (error) {
				console.log(error);
			}
		},

		async changeInvoiceYear() {
			const { successInvoices, resultInvoices } = await this.getInvoiceList(
				this.contractId,
				this.selectedYear
			);
			if (successInvoices) {
				this.invoiceList = resultInvoices.data;
			}
		},

		async reminderEvent() {
			await this.getReminderStatus(this.selectedInvoice.id);
			this.loadingButton = false;
		},

		async handleCancelingTerminatingContract(param) {
			this.loadingButton = true;

			if (param) {
				await axios.post(`/api/contract/cancel/${this.contractId}`);

				this.snackbarCancelTerminate = false;
				this.loadingButton = false;

				this.contractStatus = 'cancelled';
			} else {
				await axios.post(`/api/contract/terminate/${this.contractId}`);

				this.snackbarCancelTerminate = false;
				this.loadingButton = false;

				this.contractStatus = 'terminated';
			}

			this.$router.push({
				name: 'invoice',
				params: {
					id: this.contractId,
					booking: this.contractBooking,
					contract_status: this.contractStatus
				}
			});

			this.initDataInvoiceLists(this.contractId);

			this.showLoading = true;
		},

		async saveNote() {
			this.note.loading = true;
			await axios.post(`/api/contract/invoice/note/${this.note.selectedId}`, {
				content: this.note.value
			});
			this.note.open = false;
			this.note.value = '';
			this.selectedId = '';
			this.note.loading = false;

			this.initDataInvoiceLists(this.contractId);
			this.showLoading = true;
		},

		// ----------------------------------------------------------------------
		// ----------------------------------------------------------------------
		// HANDLING EVENTS
		// ----------------------------------------------------------------------
		// ----------------------------------------------------------------------

		handleClickCancelTerminate(param) {
			this.snackbarCancelTerminate = true;
			if (param === 'cancel') {
				this.snackbarCancel = true;
			} else {
				this.snackbarCancel = false;
			}
		},

		handleClickRemindTenant(index, payload) {
			this.snackbarReminder = true;
			this.selectedInvoice.index = index;
			this.selectedInvoice.id = payload;
		},

		handleClickOpenNotes(payload) {
			this.note.open = true;
			this.note.selectedId = payload;
		},

		handleClickDetailProfile(id) {
			this.$router.push({ path: `/active-tenant/${id}` });
		},

		handleGoToContract() {
			const query = { ...this.prevQuery };

			this.$router.push({
				name: 'contract',
				query
			});
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Sass/_mamikos-icon.scss';
@import 'Sass/_variables.scss';
@import 'Sass/_function.scss';

.invoice-list-page {
	padding-bottom: 34px;
}

.year-dropdown {
	margin-bottom: 16px;
	text-align: right;
}

.invoice-list {
	margin-bottom: 16px;
}

.center-empty {
	width: 100%;
	padding: 24px 0 64px;
	text-align: center;
	p {
		display: inline-block;
		max-width: 225;
	}
}

.invoice-profile {
	margin-bottom: 16px;
}

.contract-action {
	.consultant-btn:first-child {
		margin-bottom: 16px;
	}
}

.paid-outside-snackbar {
	padding-bottom: 16px;
	h4 {
		margin: 0 0 16px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #000;
	}
	p {
		margin-bottom: 24px;
		color: #ec4a0c;
	}
}

.reminder-snackbar {
	padding-bottom: 16px;
	h4 {
		margin: 0 0 32px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #000;
	}
	p {
		margin-bottom: 24px;
	}
}

.cancel-terminate-snackbar {
	padding-top: 24px;
	h4 {
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #000;
	}
	p {
		margin-bottom: 40px;
		color: #ec4a0c;
	}
}

// ---------------------------------------------------
// NOTES
.add-notes {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	transition: transform 0.3s ease-in-out;
	transform: translateY(100%);
}
</style>
