<template>
	<div>
		<global-navbar
			fixed
			need-search-box
			:max-width="1140"
			need-back-arrow
			:redirection-source="redirectionSource"
			:redirection-source-navbar="redirectionSourceNavbar"
		/>

		<bg-grid is-container class="landing-content">
			<bg-grid h-align="center">
				<bg-grid-item :col="10">
					<bg-text class="landing-content__title" size="heading-2" tag="h2">
						{{ article.title }}
					</bg-text>

					<bg-grid h-align="center">
						<bg-grid-item :col="8">
							<bg-text size="body-2">
								<span v-html="article.contentOpen"></span>
							</bg-text>
						</bg-grid-item>
					</bg-grid>

					<bg-grid v-if="showHiddenContent" h-align="center">
						<bg-grid-item :col="8">
							<bg-text size="body-2">
								<span v-html="article.contentHidden"></span>
							</bg-text>
						</bg-grid-item>
					</bg-grid>

					<bg-grid v-else h-align="center">
						<bg-grid-item :col="8">
							<bg-card>
								<bg-text size="title-3"> Lihat {{ article.title }} </bg-text>
								<br />
								<bg-button
									size="lg"
									variant="primary"
									@click="handleShowModalLogin"
								>
									{{ article.buttonLabel }}
								</bg-button>
							</bg-card>
						</bg-grid-item>
					</bg-grid>

					<bg-grid h-align="center">
						<bg-grid-item :col="8">
							<bg-card>
								<bg-text size="title-3"> Artikel Terbaru </bg-text>
								<ul>
									<li
										v-for="latestArticle in latestArticles"
										:key="latestArticle.link"
									>
										<bg-text size="body-2">
											<bg-link
												:href="latestArticle.link"
												variant="medium-naked"
												>{{ latestArticle.title }}</bg-link
											>
										</bg-text>
									</li>
								</ul>
							</bg-card>
						</bg-grid-item>
					</bg-grid>
				</bg-grid-item>
			</bg-grid>
		</bg-grid>

		<mami-footer></mami-footer>
		<modal-form-login
			v-if="isModalLoginVisible"
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="handleCloseModalLogin"
		></modal-form-login>
	</div>
</template>

<script>
import GlobalNavbar from 'Js/@components/GlobalNavbar';
import {
	BgGrid,
	BgGridItem,
	BgText,
	BgButton,
	BgCard,
	BgLink
} from 'bangul-vue';

import 'bangul-vue/dist/bangul.css';

const MamiFooter = () => import('Js/@components/MamiFooter');
/* istanbul ignore next */
const ModalFormLogin = () => import('Js/_login/components/ModalFormLogin');

export default {
	components: {
		GlobalNavbar,
		MamiFooter,
		BgGrid,
		BgGridItem,
		BgText,
		BgButton,
		BgCard,
		BgLink,
		ModalFormLogin
	},
	data() {
		return {
			redirectionSource: '',
			redirectionSourceNavbar: '',
			isModalLoginVisible: false,
			modalLoginState: 'tenant'
		};
	},
	computed: {
		isLoggedin() {
			return authCheck && authCheck.all;
		},
		article() {
			// eslint-disable-next-line no-undef
			return window.landingContent;
		},
		latestArticles() {
			// eslint-disable-next-line no-undef
			return window.latestArticles;
		},
		showHiddenContent() {
			if (this.article.isLoginRequired) {
				return this.isLoggedin;
			}

			return true;
		}
	},
	methods: {
		handleShowModalLogin() {
			this.isModalLoginVisible = true;
		},
		handleCloseModalLogin() {
			document.body.classList.remove('modal-open');
			this.isModalLoginVisible = false;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type */
.landing-content {
	width: 100%;
	padding: 32px 16px;

	img {
		max-width: 100% !important;
		height: auto;
	}

	&__title {
		margin-bottom: 36px;
		text-align: center;
	}

	h3 {
		margin-bottom: 24px;
	}
}
</style>
