<template>
	<section id="keuntungan" class="container">
		<div class="advantages">
			<h2 class="advantages__title">
				Kenapa harus bergabung dengan Singgahsini?
			</h2>
			<p class="advantages__sub-title">
				Tersedia berbagai fasilitas untuk memaksimalkan bisnis kos Anda.
			</p>
			<landing-singgahsini-advantages-mobile
				v-if="isMobile"
				:advantages="list"
			></landing-singgahsini-advantages-mobile>
			<landing-singgahsini-advantages-desktop
				v-else
				:advantages="list"
				:start-index="startIndex"
			></landing-singgahsini-advantages-desktop>
		</div>
	</section>
</template>

<script>
import LandingSinggahsiniAdvantagesMobile from './LandingSinggahsiniAdvantagesMobile';
import LandingSinggahsiniAdvantagesDesktop from './LandingSinggahsiniAdvantagesDesktop';

export default {
	name: 'LandingSinggahsiniAdvantage',

	components: {
		LandingSinggahsiniAdvantagesMobile,
		LandingSinggahsiniAdvantagesDesktop
	},

	data() {
		return {
			startIndex: 0,
			list: [
				{
					title: 'Kerja Sama Yang Profesional',
					description:
						'Berkoordinasi transparan dengan pemilik properti untuk pengelolaan dan kebijakan kos.',
					image: {
						src:
							'/general/img/pictures/landing-singgahsini/advantages/svg/landing-singgahsini-kerjasama.svg'
					},
					hasVideo: false
				},
				{
					title: 'Standardisasi Properti',
					description:
						'Konsultasi perawatan aset dan perbaikan fasilitas dari tim Singgahsini.',
					image: {
						src:
							'/general/img/pictures/landing-singgahsini/advantages/svg/landing-singgahsini-standardisasi.svg'
					},
					hasVideo: false
				},
				{
					title: 'Pengelolaan Operasional Properti',
					description:
						'Manajemen komplain kos serta pengelolaan operasional kos yang terukur dan maksimal.',
					image: {
						src:
							'/general/img/pictures/landing-singgahsini/advantages/svg/landing-singgahsini-pengelolaan.svg'
					},
					hasVideo: false
				},
				{
					title: 'Pemasaran Kamar',
					description:
						'Pemasaran pada platform kami ke 5 juta pengguna aktif dengan harga optimal serta foto dan video eksklusif.',
					image: {
						src:
							'/general/img/pictures/landing-singgahsini/advantages/svg/landing-singgahsini-pemasaran.svg'
					},
					hasVideo: false
				},
				{
					title: 'Infrastruktur Digital',
					description:
						'Singgahsini melalui Mamikos sebagai market leader dalam industri teknologi properti mengelola bisnis kos secara digital.',
					image: {
						src:
							'/general/img/pictures/landing-singgahsini/advantages/svg/landing-singgahsini-infrastruktur.svg'
					},
					hasVideo: false
				}
			]
		};
	},

	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 769;
		}
	}
};
</script>

<style lang="scss" scoped>
.advantages {
	margin-top: 44px;
	padding: 60px 45px;

	@media (max-width: 769px) {
		margin-top: 28px;
		padding: 0;
	}

	&__title {
		text-align: center;
		font-size: 48px;
		font-weight: 900;
		line-height: 60px;

		@media (max-width: 769px) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	&__sub-title {
		text-align: center;
		font-size: 20px;
		font-weight: 400px;
		line-height: 30px;
		margin-bottom: 100px;

		@media (max-width: 769px) {
			margin-bottom: 50px;
		}
	}
}
</style>
