<template>
	<div class="advantage-desktop">
		<div class="advantage-slider">
			<transition name="slide-fade" mode="out-in">
				<div
					v-for="i in [currentIndex]"
					:key="i"
					class="advantage-slider__card"
				>
					<div class="slider-text">
						<h5 class="slider-text__title">
							{{ currentAdvantage.title }}
						</h5>
						<p class="slider-text__description">
							{{ currentAdvantage.description }}
						</p>
						<a
							v-if="currentAdvantage.hasVideo"
							href=""
							target="_blank"
							rel="noopener"
							class="slider-text__tnc"
						>
							Tonton cara pakainya
						</a>
					</div>

					<div class="slider-image">
						<div class="slider-image__container">
							<img
								v-lazy="currentAdvantage.image"
								class="slider-image__image"
								alt="adventages"
							/>
						</div>
					</div>
				</div>
			</transition>

			<slider-button
				:total-advantage="totalAdvantages"
				:current-index="currentIndex"
				@prevButtonCLicked="prevSlide"
				@nextButtonCLicked="nextSlide"
			/>
		</div>

		<slider-list
			:current-index="currentIndex"
			:advantages="advantages"
			@listClicked="goToSlide"
		/>
	</div>
</template>

<script>
import SliderButton from './components/SliderButton';
import SliderList from './components/SliderList';

export default {
	components: {
		SliderButton,
		SliderList
	},

	props: {
		advantages: {
			type: Array,
			required: true
		},

		startIndex: {
			type: Number,
			required: false,
			default: 0
		}
	},

	data() {
		return {
			totalAdvantages: this.advantages.length,
			currentIndex: this.startIndex
		};
	},

	computed: {
		currentAdvantage() {
			return this.advantages[
				Math.abs(this.currentIndex) % this.advantages.length
			];
		}
	},

	mounted() {
		this.autoSlide();
		this.currentIndex = 0;
	},

	methods: {
		nextSlide() {
			this.currentIndex++;
		},

		prevSlide() {
			this.currentIndex--;
		},

		goToSlide(index) {
			this.currentIndex = index;
		},

		autoSlide(){
			if(this.currentIndex < 4){
				this.currentIndex++
			} else {
				this.currentIndex = 0;
			}
			setTimeout(
				function() {
					this.autoSlide()
					}.bind(this), 
				10000)
		},
		
	}
};
</script>

<style lang="scss" scoped>
.advantage-slider {
	position: relative;

	&__card {
		display: flex;
	}
}

.slider-text {
	display: flex;
	flex-direction: column;
	padding-right: 46px;

	&__title {
		color: #949494;
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
	}

	&__description {
		font-size: 28px;
		line-height: 48px;
		margin-bottom: 4px;
		font-weight: 700;
	}

	&__tnc {
		margin-top: 28px;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		color: #1baa56;
		font-weight: bold;
	}
}

.slider-image {
	&__container {
		width: 376px;
		height: 360px;
		background-color: #ffffff;
		overflow: hidden;
		position: relative;
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
	}
}

/**
 * Animation Slider
 */

.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
</style>
