<template>
	<div id="detailKostOverviewFavShare" class="detail-kost-overview-widget">
		<div class="detail-kost-overview-widget__favorite-button">
			<bg-button-icon
				:icon="favoriteData.icon"
				variant="tertiary"
				class="detail-kost-additional-widget__outer"
				:class="{
					'detail-kost-additional-widget__outer--favorited':
						favoriteData.text === 'Hapus'
				}"
				size="md"
				@click="$emit('toggle-favorite')"
			>
				{{ favoriteData.text }}
			</bg-button-icon>
		</div>

		<dropdown>
			<u slot="button">
				<bg-button-icon
					icon="share"
					variant="tertiary"
					class="detail-kost-additional-widget__outer --not-first"
					size="md"
					@click="$emit('share-page')"
				>
					Bagikan
				</bg-button-icon>
			</u>
			<ul
				slot="dropdown-menu"
				:class="[
					'dropdown-menu detail-kost-additional-widget__mamishare',
					{
						'dropdown-menu--hide': isSupportNativeShare
					}
				]"
			>
				<mami-share
					@track="platform => this.$emit('handle-share-tracking', platform)"
				></mami-share>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { BgButtonIcon } from 'bangul-vue';
import { dropdown } from 'vue-strap';
/* istanbul ignore next */
const MamiShare = () => import('Js/@components/MamiShare');

export default {
	name: 'DetailKostOverviewFavShare',
	components: { BgButtonIcon, MamiShare, dropdown },
	props: {
		favoriteData: {
			type: Object,
			default() {
				return {
					icon: 'wishlist',
					text: 'Simpan'
				};
			}
		},
		isSupportNativeShare: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#detailKostOverviewFavShare {
	#mamiShareContainer .social-icon {
		height: 30px;
	}

	.btn-group {
		display: flex;

		.dropdown-toggle {
			padding: 0;
			border: 0;
			box-shadow: none;
			background: none !important;

			u {
				text-decoration: none;
			}

			.caret {
				display: none;
			}
		}
	}

	.dropdown-menu--hide {
		display: none !important;
	}
}

.detail-kost-additional-widget__outer--favorited {
	svg {
		color: #da3438;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.detail-kost-overview-widget {
	display: flex;
	flex: 1;
	justify-content: flex-end;

	@media (max-width: 767px) {
		justify-content: flex-start;
		padding-top: 20px;
		margin-top: 16px;
		border-top: 1px solid #e8e8e8;
	}

	.detail-kost-additional-widget__outer {
		&.--not-first {
			margin-left: 8px;

			@media (max-width: 767px) {
				margin-left: 20px;
			}
		}
	}

	.detail-kost-additional-widget__mamishare {
		width: auto;
		padding: 5px;
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
	}
}
</style>
