<template>
	<fragment>
		<section class="detail-kost-overview">
			<div class="detail-kost-overview__left-section">
				<span v-if="gender" class="detail-kost-overview__gender">
					{{ gender }}
				</span>
				<span v-if="showGenderDivider" class="detail-kost-overview__divider"
					>·</span
				>
				<div
					v-if="rating"
					class="detail-kost-overview__rating"
					@click="handleScrollToComponent('detailKostReview')"
				>
					<img
						src="/general/img/icons/ic_star_s_green.svg"
						class="detail-kost-overview__rating-img"
						alt="star rating icon"
					/>
					<span class="detail-kost-overview__rating-text">{{
						ratingValue
					}}</span>
					<span class="detail-kost-overview__rating-review"
						>({{ totalReview }})</span
					>
				</div>
				<span v-if="showRatingDivider" class="detail-kost-overview__divider"
					>·</span
				>
			</div>
			<div class="detail-kost-overview__right-section">
				<div v-if="area" class="detail-kost-overview__area">
					<bg-icon
						name="place-holder"
						size="sm"
						class="detail-kost-overview__area-icon"
					/>
					<span class="detail-kost-overview__area-text">{{ area }}</span>
				</div>
			</div>
		</section>
		<section class="detail-kost-additional-widget">
			<div class="detail-kost-additional-widget__left-section">
				<div class="detail-kost-overview__availability">
					<div
						v-if="roomAvailability.icon"
						class="detail-kost-overview__availability-icon"
					>
						<bg-icon-advance :name="roomAvailability.icon" size="md" />
					</div>
					<div class="detail-kost-overview__availability-wrapper">
						<span
							v-if="roomAvailability.style === 'availability'"
							class="detail-kost-overview__availability-text"
						>
							Tersisa
							<span class="detail-kost-overview__availability-text--danger">{{
								roomAvailability.title
							}}</span>
						</span>
						<span
							v-else-if="roomAvailability.style === 'recommendation'"
							class="detail-kost-overview__availability-text"
						>
							{{ roomAvailability.title }}
							<span
								v-if="roomAvailability.needRecommendation"
								class="detail-kost-overview__availability-text--recommendation"
								@click="handleScrollToComponent('detailKostRelated')"
								>lihat kos lain yang serupa
							</span>
						</span>
						<span v-else>{{ roomAvailability.title }}</span>
					</div>
				</div>
			</div>
			<detail-kost-overview-fav-share
				:favorite-data="favoriteData"
				:is-support-native-share="isSupportNativeShare"
				@toggle-favorite="toggleFavorite"
				@share-page="sharePage"
				@handle-share-tracking="handleShareTracking"
			/>
		</section>
	</fragment>
</template>

<script>
import _get from 'lodash/get';
import { genderLabels } from 'Js/@utils/kostFilter';
import Fragment from 'vue-fragment';
import { BgIcon, BgIconAdvance } from 'bangul-vue';

import DetailKostOverviewFavShare from './DetailKostOverviewFavShare';

Vue.use(Fragment.Plugin);

export default {
	name: 'DetailKostOverview',
	components: {
		BgIcon,
		BgIconAdvance,
		DetailKostOverviewFavShare
	},
	data() {
		return {
			isFavoritedByMe: false
		};
	},
	computed: {
		isKostBenefitAvailable() {
			const kostBenefit = _get(this.$store.state, 'detail.benefit', []);
			return !!kostBenefit.length;
		},
		gender() {
			const genderId = _get(this.$store.state, 'detail.gender', 0);
			return genderLabels[genderId] ? `Kos ${genderLabels[genderId]}` : null;
		},
		area() {
			return _get(this.$store.state, 'detail.area_subdistrict', null);
		},
		rating() {
			return _get(this.$store.state, 'detail.rating', null);
		},
		ratingValue() {
			return this.rating ? parseFloat(this.rating).toFixed(1) : '';
		},
		totalReview() {
			return _get(this.$store.state, 'detail.review_count', 0);
		},
		roomAvailability() {
			const room = _get(this.$store.state, 'detail.available_room', 0);
			const isHasRecommendation = _get(
				this.$store.state,
				'detail.has_recommendation',
				false
			);

			if (room > 3) {
				return {
					icon: 'more-choices',
					title: 'Banyak pilihan kamar untukmu'
				};
			} else if (room <= 3 && room > 0) {
				return {
					icon: 'room-available',
					style: 'availability',
					title: `${room} kamar`
				};
			} else {
				return {
					icon: 'fully-booked',
					style: 'recommendation',
					needRecommendation: isHasRecommendation,
					title: `Kamar penuh${isHasRecommendation ? ', ' : ''}`
				};
			}
		},
		showGenderDivider() {
			return !!this.rating && !!this.gender;
		},
		showRatingDivider() {
			return (
				!navigator.isMobile &&
				((!!this.rating && !!this.area) ||
					(!this.rating && !!this.gender && !!this.area))
			);
		},
		showAreaDivider() {
			return !!this.gender || !!this.rating || !!this.area;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		authData() {
			return this.$store.state.authData;
		},
		detail() {
			return _get(this.$store.state, 'detail', {});
		},
		token() {
			return _get(this.$store.state, 'token', null);
		},
		seq() {
			return _get(this.$store.state, 'detail._id', null);
		},
		detailTypeName() {
			return _get(this.$store.state, 'detailTypeName', null);
		},
		favoriteData() {
			return {
				icon: this.isFavoritedByMe ? 'wishlist-glyph' : 'wishlist',
				text: this.isFavoritedByMe ? 'Hapus' : 'Simpan'
			};
		},
		isSupportNativeShare() {
			return !!navigator.share;
		}
	},
	mounted() {
		this.isFavoritedByMe = _get(this.$store.state, 'detail.love_by_me', false);
	},
	methods: {
		handleScrollToComponent(selectedComponent) {
			this.$emit('scroll-to-component', selectedComponent);
		},
		sharePage() {
			if (this.isSupportNativeShare) {
				navigator.share({
					title: document.title,
					text:
						document.head.querySelector('meta[name="description"]') == null
							? 'Cek halaman ini di Mamikos.com'
							: document.head.querySelector('meta[name="description"]').content,
					url: window.location.href
				});
			}
		},
		toggleFavorite() {
			if (this.authCheck.all) {
				if (this.authCheck.user) {
					this.submitFavorite();
				} else {
					this.swalError(
						null,
						'Silakan logout akun Pemilik dan login akun Pencari terlebih dahulu'
					);
				}
			} else {
				this.$emit('open-modal-login');
			}
		},
		submitFavorite() {
			this.openSwalLoading();
			axios
				.post('/stories/' + this.seq + '/love', {
					_id: this.seq,
					_token: this.token
				})
				.then(response => {
					if (
						response &&
						typeof response === 'object' &&
						response.data.status
					) {
						if (response.data.success === 'love') {
							this.isFavoritedByMe = true;
							tracker('moe', [
								'[User] Submit Favorit',
								{
									is_booking: _get(this.detail, 'is_booking', false),
									is_premium: _get(this.detail, 'is_premium_owner', false),
									is_promoted: _get(this.detail, 'is_promoted', false),
									is_promo_ngebut: _get(this.detail, 'is_flash_sale', false),
									goldplus_status: _get(this.detail, 'goldplus_status', null),
									success_status: _get(response, 'data.status', false),
									property_type:
										this.detailTypeName.toLowerCase() || 'apartemen',
									property_id: this.seq,
									property_city:
										this.detail.area_city || this.detail.city || '',
									property_name:
										this.detail.room_title || this.detail['room-title'] || '',
									room_available: _get(this.detail, 'available_room', '')
								}
							]);

							this.closeSwalLoading();
							this.$toasted.show('Sukses tersimpan', {
								position: 'bottom-center',
								duration: 2000
							});
						} else if (response.data.success === 'unlove') {
							this.isFavoritedByMe = false;
							this.closeSwalLoading();
						}
					} else {
						this.closeSwalLoading();
						this.$toasted.show('Gagal, silahkan coba lagi', {
							position: 'bottom-center',
							duration: 2000
						});
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.$toasted.show('Gagal, silahkan coba lagi', {
						position: 'bottom-center',
						duration: 2000
					});
				});
		},
		handleShareTracking(platform) {
			tracker('moe', [
				'[User] Click Share',
				{
					share_id: null,
					user_phone: _get(this.authData, 'all.phone_number', ''),
					user_name: _get(this.authData, 'all.name', ''),
					share_platform: platform || '',
					is_booking: _get(this.detail, 'is_booking', false),
					is_premium: _get(this.detail, 'is_premium_owner', false),
					is_promoted: _get(this.detail, 'is_promoted', false),
					success_status: true,
					property_type: 'kost',
					property_id: this.seq,
					property_city: _get(this.detail, 'area_city', ''),
					property_name: _get(this.detail, 'room_title', ''),
					room_available: _get(this.detail, 'available_room', '')
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-kost-overview {
	display: flex;
	margin-top: 4px;
	align-items: center;

	@media (max-width: 767px) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-direction: column;
		align-items: flex-start;
	}

	.detail-kost-overview__divider {
		display: flex;
		width: 4px;
		height: 100%;
		margin: 0 8px;
		font-size: 14px;
		line-height: 20px;
		color: #949494;
		align-items: center;
		justify-content: center;
	}

	.detail-kost-overview__divider--last {
		@media (max-width: 767px) {
			display: none;
		}
	}

	.detail-kost-overview__left-section {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.detail-kost-overview__area {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			margin-top: 8px;
		}

		.detail-kost-overview__area-icon {
			width: 24px;
			height: 16px;
			margin: 4px 4px 4px 0;
			align-self: self-end;

			@media (min-width: 768px) {
				width: 16px;
				margin-left: 0;
			}
		}

		.detail-kost-overview__area-text {
			font-size: 16px;
			line-height: 24px;
			color: #404040;
			white-space: break-spaces;

			@media (max-width: 767px) {
				overflow: hidden;
				font-size: 14px;
				text-overflow: ellipsis;
				white-space: break-spaces;
			}
		}
	}

	.detail-kost-overview__gender {
		display: flex;
		padding: 2px 8px;
		align-items: center;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		border: 1px solid #dadada;
		border-radius: 4px;

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.detail-kost-overview__rating {
		display: flex;
		align-items: center;
		cursor: pointer;

		.detail-kost-overview__rating-img {
			width: 15px;
			height: auto;
		}

		.detail-kost-overview__rating-text {
			margin-left: 4px;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #404040;
		}

		.detail-kost-overview__rating-review {
			margin-left: 4px;
			font-size: 16px;
			line-height: 24px;
			color: #949494;
		}
	}
}

.detail-kost-additional-widget {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	align-items: center;

	@media (max-width: 767px) {
		margin-top: 16px;
		align-items: stretch;
		flex-direction: column;
	}

	.detail-kost-overview__availability {
		display: flex;
		flex: 1;
		overflow: hidden;
		align-items: center;

		.detail-kost-overview__availability-icon {
			display: flex;
			min-width: 24px;
			margin-right: 4px;
		}

		.detail-kost-overview__availability-wrapper {
			display: block;
			overflow: hidden;

			/* stylelint-disable */
			.detail-kost-overview__availability-text {
				display: inline;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #303030;
				font-size: 16px;
				line-height: 20px;

				@media (max-width: 767px) {
					font-size: 14px;
				}

				.detail-kost-overview__availability-text--danger {
					color: #da3438;
					font-weight: bold;
				}

				.detail-kost-overview__availability-text--recommendation {
					font-weight: bold;
					border-bottom: 1px solid #303030;
					padding-bottom: 1px;
					cursor: pointer;
				}
			}
			/* stylelint-enable */
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}
}
</style>
