<template>
	<div>
		<container-graduation-upload></container-graduation-upload>
	</div>
</template>

<script>
export default {};
</script>

<style scoped></style>

<style>
/* colours */
.dark-green {
	color: #2d482d;
}
.main-green {
	color: #1baa56;
}
.light-green {
	color: #e7feea;
}
.main-orange {
	color: #ec4a0c;
}
.medium-grey {
	color: #323232;
}

h1,
h2,
h3,
strong {
	font-size: inherit;
	line-height: 1.15;
	font-weight: inherit;
	margin: 0;
	color: inherit;
	display: inline-block;
}
</style>
