<template>
	<div class="padding-bottom background-main-green">
		<graduation-photo-navbar :includeLinks="false"></graduation-photo-navbar>
		<div class="container">
			<graduation-uploader></graduation-uploader>
		</div>
	</div>
</template>

<script>
export default {

};
</script>

<style scoped>
.background-main-green {
	background-color: #e7feea;
}
.padding-bottom {
	padding-bottom: 100px;
}
</style>
