<template>
	<div>
		<div class="dropzone-custom" v-show="!isPhotoExists">
			<dropzone
				:ref="'photoGraduation'"
				:id="'photoGraduation'"
				:options="dropzoneOptions"
				@vdropzone-success="showSuccess"
			>
				<!-- <input type="hidden" name="_token" value="_token"> -->
			</dropzone>
		</div>

		<div class="dropzone-custom" v-show="isPhotoExists">
			<div
				class="dropzone-uploaded"
				:style="'background-image: url( ' + photos.medium + ' );'"
			></div>
			<div
				class="col-md-12 col-xs-12 btn-reset-container"
				v-show="isPhotoExists"
			>
				<button
					type="button"
					class="btn btn-mamigreen-inverse"
					@click="resetPhotos"
				>
					Ganti Foto
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

import EventBus from '../../eventbus/event-bus';

export default {
	components: {
		Dropzone: vue2Dropzone
	},
	data() {
		return {
			dropzoneOptions: {
				url: '/garuda/photobooth/upload',
				paramName: 'photo',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: false,
				maxFilesize: 5,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: 'Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					// media_type: 'user_photo',
					need_watermark: false,
					voucher_code: this.voucherCode
				}
			},
			photo_id: 0,
			isPhotoExists: false,
			voucherCode: ''
		};
	},
	created() {},
	props: {
		photos: {
			type: Object,
			required: true
		},
		photoIndex: {
			type: Number,
			required: true
		}
	},
	methods: {
		uploadManually(payload) {
			this.dropzoneOptions.params.voucher_code = payload;
			this.$refs['photoGraduation'].processQueue();
		},
		showSuccess(file, response) {
			if (response.status) {
				EventBus.$emit('uploadPhotoSuccess', this.photoIndex);
			} else {
				swal('!', response.meta.message);
				EventBus.$emit('uploadPhotoUnsuccessful', this.photoIndex);
			}
		},
		resetPhotos() {
			this.isPhotoExists = !this.isPhotoExists;
		},
		clearQueue() {
			this.$refs['photoGraduation'].removeAllFiles();
		}
	},
	watch: {
		photo_id(val) {
			this.$emit('updated', val);
		}
	},
	mounted() {
		// EventBus.$on('uploadPhoto1', payload => {
		// 	// this.$refs['photoGraduation' + payload].processQueue();
		// 	console.log('on1');
		// 	EventBus.$off('uploadPhoto1', payload)
		// });
		// EventBus.$on('uploadPhoto2', payload => {
		// 	// this.$refs['photoGraduation' + payload].processQueue();
		// 	console.log('on2');
		// });
		// EventBus.$on('uploadPhoto3', payload => {
		// 	// this.$refs['photoGraduation' + payload].processQueue();
		// 	console.log('on3');
		// });
		// EventBus.$on('uploadPhoto4', payload => {
		// 	// this.$refs['photoGraduation' + payload].processQueue();
		// 	console.log('on4');
		// });
		// EventBus.$on('uploadPhoto5', payload => {
		// 	// this.$refs['photoGraduation' + payload].processQueue();
		// 	console.log('on5');
		// });
	}
};
</script>

<style>
.navbar-new {
	z-index: 1000000;
}

.dropzone-custom {
	margin-bottom: 10px;
	text-align: center;
}
.dropzone-title {
	font-weight: bold;
	margin-bottom: 7px;
}
@media (max-width: 1199px) and (min-width: 992px) {
	.dropzone-title {
		height: 42px;
	}
}

.dropzone-custom > .vue-dropzone {
	margin: auto;
	font-family: 'Lato', sans-serif;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	min-height: 120px;
	border: 2px solid #e5e5e5;
}
.dropzone-custom > .vue-dropzone .dz-message > span {
	font-size: 12px;
	font-weight: bold;
	background-color: #1baa56;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	border-color: #1baa56;
}
.dropzone-custom > .vue-dropzone .dz-message > span > .fa {
	/*color: #ddd;*/
}
.dropzone-custom > .vue-dropzone .dz-message > span:active,
.dropzone-custom > .vue-dropzone .dz-message > span:hover,
.dropzone-custom > .vue-dropzone .dz-message > span:focus {
	color: #fff;
	background-color: #109e4b;
	border-color: #109e4b;
	text-decoration: none;
}
.dropzone-custom .dropzone .dz-preview.dz-image-preview {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #e5e5e5;
}
.dropzone-custom .dz-preview .dz-image {
	height: 120px;
	width: 120px;
}
.dropzone-custom .dropzone .dz-preview .dz-image img {
	max-width: 100%;
}

.dropzone-custom .dz-progress {
	opacity: 0 !important;
}

.dropzone-custom > .vue-dropzone .dz-preview .dz-details {
	background-color: rgba(39, 171, 39, 0.5);
	padding: 0;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 0;
	margin-top: 65px;
	text-align: center;
}
.dropzone .dz-preview .dz-details .dz-filename {
	text-align: center;
}
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove {
	margin: 0;
	font-size: 0.75em;
	font-weight: bold;
	border-radius: 4px;
	bottom: 35px;
}
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:active,
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:hover,
.dropzone-custom > .vue-dropzone .dz-preview .dz-remove:focus {
	text-decoration: none;
}
.dropzone-uploaded {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
	border: 2px solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}
.dropzone-custom .btn-reset-container {
	top: -75px;
}
</style>
