<template>
	<div class="uploader-container">
		<div class="uploader-title">
			Silakan upload foto dan nomor voucher disini.
		</div>
		<div class="uploader-forms-container">
			<div class="col-xs-12 col-sm-6">
				<div class="uploader-form">
					<span class="uploader-photo">
						<upload-photo
							:ref="'dz1'"
							@updated="onPhotoUploaded"
							:photoIndex="0"
							:photos="photo_url"
						></upload-photo>
					</span>

					<div class="uploader-voucher">
						<span class="">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									v-model="voucher_codes.voucher_code1"
									placeholder="Tulis nomor voucher"
									required
								/>
							</div>
						</span>

						<span class="upload-button">
							<button
								class="btn btn-mamiorange"
								@click="uploadPhoto1(voucher_codes.voucher_code1)"
								v-if="buttons_state.button0"
								:disabled="loading_state.isLoading0"
							>
								<i
									class="fa fa-spinner fa-pulse"
									v-if="loading_state.isLoading0"
								></i>
								Upload
							</button>
							<button class="btn btn-mamigreen" disabled v-else>
								<i class="fa fa-check"></i> Sukses
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="uploader-form">
					<span class="uploader-photo">
						<upload-photo
							:ref="'dz2'"
							@updated="onPhotoUploaded"
							:photoIndex="1"
							:photos="photo_url"
						></upload-photo>
					</span>

					<div class="uploader-voucher">
						<span class="">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									v-model="voucher_codes.voucher_code2"
									placeholder="Tulis nomor voucher"
									required
								/>
							</div>
						</span>

						<span class="upload-button">
							<button
								class="btn btn-mamiorange"
								@click="uploadPhoto2(voucher_codes.voucher_code2)"
								v-if="buttons_state.button1"
								:disabled="loading_state.isLoading1"
							>
								<i
									class="fa fa-spinner fa-pulse"
									v-if="loading_state.isLoading1"
								></i>
								Upload
							</button>
							<button class="btn btn-mamigreen" disabled v-else>
								<i class="fa fa-check"></i> Sukses
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="uploader-form">
					<span class="uploader-photo">
						<upload-photo
							:ref="'dz3'"
							@updated="onPhotoUploaded"
							:photoIndex="2"
							:voucherCode="voucher_codes.voucher_code3"
							:photos="photo_url"
						></upload-photo>
					</span>

					<div class="uploader-voucher">
						<span class="">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									v-model="voucher_codes.voucher_code3"
									placeholder="Tulis nomor voucher"
									required
								/>
							</div>
						</span>

						<span class="upload-button">
							<button
								class="btn btn-mamiorange"
								@click="uploadPhoto3(voucher_codes.voucher_code3)"
								v-if="buttons_state.button2"
								:disabled="loading_state.isLoading2"
							>
								<i
									class="fa fa-spinner fa-pulse"
									v-if="loading_state.isLoading2"
								></i>
								Upload
							</button>
							<button class="btn btn-mamigreen" disabled v-else>
								<i class="fa fa-check"></i> Sukses
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="uploader-form">
					<span class="uploader-photo">
						<upload-photo
							:ref="'dz4'"
							@updated="onPhotoUploaded"
							:photoIndex="3"
							:voucherCode="voucher_codes.voucher_code4"
							:photos="photo_url"
						></upload-photo>
					</span>

					<div class="uploader-voucher">
						<span class="">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									v-model="voucher_codes.voucher_code4"
									placeholder="Tulis nomor voucher"
									required
								/>
							</div>
						</span>

						<span class="upload-button">
							<button
								class="btn btn-mamiorange"
								@click="uploadPhoto4(voucher_codes.voucher_code4)"
								v-if="buttons_state.button3"
								:disabled="loading_state.isLoading3"
							>
								<i
									class="fa fa-spinner fa-pulse"
									v-if="loading_state.isLoading3"
								></i>
								Upload
							</button>
							<button class="btn btn-mamigreen" disabled v-else>
								<i class="fa fa-check"></i> Sukses
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="uploader-form">
					<span class="uploader-photo">
						<upload-photo
							:ref="'dz5'"
							@updated="onPhotoUploaded"
							:photoIndex="4"
							:voucherCode="voucher_codes.voucher_code5"
							:photos="photo_url"
						></upload-photo>
					</span>

					<div class="uploader-voucher">
						<span class="">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									v-model="voucher_codes.voucher_code5"
									placeholder="Tulis nomor voucher"
									required
								/>
							</div>
						</span>

						<span class="upload-button">
							<button
								class="btn btn-mamiorange"
								@click="uploadPhoto5(voucher_codes.voucher_code5)"
								v-if="buttons_state.button4"
								:disabled="loading_state.isLoading4"
							>
								<i
									class="fa fa-spinner fa-pulse"
									v-if="loading_state.isLoading4"
								></i>
								Upload
							</button>
							<button class="btn btn-mamigreen" disabled v-else>
								<i class="fa fa-check"></i> Sukses
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="button-container">
					<button class="btn btn-mamigreen" @click="clearDropzone">
						Upload Lagi
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../../eventbus/event-bus';

export default {
	data() {
		return {
			photo_url: {},
			photo_id: null,
			voucher_codes: {
				voucher_code1: '',
				voucher_code2: '',
				voucher_code3: '',
				voucher_code4: '',
				voucher_code5: ''
			},
			buttons_state: {
				button0: true,
				button1: true,
				button2: true,
				button3: true,
				button4: true
			}, //is clickable
			loading_state: {
				isLoading0: false,
				isLoading1: false,
				isLoading2: false,
				isLoading3: false,
				isLoading4: false
			}
		};
	},
	methods: {
		onPhotoUploaded(val) {
			this.photo_id = val;
		},
		uploadPhoto1(payload) {
			this.loading_state.isLoading0 = true;
			if (this.voucher_codes.voucher_code1 != '') {
				this.$refs['dz1'].uploadManually(payload);
			} else {
				swal('!', 'Nomor Voucher harus diisi');
				this.loading_state.isLoading0 = false;
			}
		},
		uploadPhoto2(payload) {
			this.loading_state.isLoading1 = true;
			if (this.voucher_codes.voucher_code2 != '') {
				this.$refs['dz2'].uploadManually(payload);
			} else {
				swal('!', 'Nomor Voucher harus diisi');
				this.loading_state.isLoading1 = false;
			}
		},
		uploadPhoto3(payload) {
			this.loading_state.isLoading2 = true;
			if (this.voucher_codes.voucher_code3 != '') {
				this.$refs['dz3'].uploadManually(payload);
			} else {
				swal('!', 'Nomor Voucher harus diisi');
				this.loading_state.isLoading2 = false;
			}
		},
		uploadPhoto4(payload) {
			this.loading_state.isLoading3 = true;
			if (this.voucher_codes.voucher_code4 != '') {
				this.$refs['dz4'].uploadManually(payload);
			} else {
				swal('!', 'Nomor Voucher harus diisi');
				this.loading_state.isLoading3 = false;
			}
		},
		uploadPhoto5(payload) {
			this.loading_state.isLoading4 = true;
			if (this.voucher_codes.voucher_code5 != '') {
				this.$refs['dz5'].uploadManually(payload);
			} else {
				swal('!', 'Nomor Voucher harus diisi');
				this.loading_state.isLoading4 = false;
			}
		},
		clearDropzone() {
			this.$refs['dz1'].clearQueue();
			this.$refs['dz2'].clearQueue();
			this.$refs['dz3'].clearQueue();
			this.$refs['dz4'].clearQueue();
			this.$refs['dz5'].clearQueue();

			this.voucher_codes.voucher_code1 = '';
			this.voucher_codes.voucher_code2 = '';
			this.voucher_codes.voucher_code3 = '';
			this.voucher_codes.voucher_code4 = '';
			this.voucher_codes.voucher_code5 = '';
			this.buttons_state.button0 = true;
			this.buttons_state.button1 = true;
			this.buttons_state.button2 = true;
			this.buttons_state.button3 = true;
			this.buttons_state.button4 = true;
			this.loading_state.isLoading0 = false;
			this.loading_state.isLoading1 = false;
			this.loading_state.isLoading2 = false;
			this.loading_state.isLoading3 = false;
			this.loading_state.isLoading4 = false;
		}
	},
	mounted() {
		EventBus.$on('uploadPhotoSuccess', payload => {
			this.buttons_state['button' + payload] = false;
			this.loading_state['isLoading' + payload] = false;
		});
		EventBus.$on('uploadPhotoUnsuccessful', payload => {
			this.buttons_state['button' + payload] = true;
			this.loading_state['isLoading' + payload] = false;
		});
	}
};
</script>

<style scoped>
.uploader-container {
	padding-top: 95px;
	margin-bottom: 75px;
	min-height: 100vh;
	max-height: 999px;
}

.uploader-form {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 991px) {
	.uploader-form {
		margin-bottom: 45px;
	}
}

.uploader-title {
	margin: 0px 0 30px 16px;
	font-size: 18px;
	font-weight: 600;
}

.uploader-photo {
	margin-right: 8px;
	height: 130px;
}
.uploader-voucher {
	display: flex;
	align-items: center;
}
.form-group {
	margin-bottom: 0;
}

.upload-button {
	padding-left: 8px;
	display: flex;
	align-items: center;
}

.button-container {
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	width: 100px;
}
</style>
