<template>
	<div class="payment-container">
		<payment-info v-if="paymentType == 'info'"></payment-info>
		<payment-methods v-if="paymentType == 'methods'"></payment-methods>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	props: {
		paymentType: {
			type: String,
			required: true,
			default: ''
		}
	}
};
</script>

<style lang="css">
.payment-container {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 650px;
	margin: auto;
}

.payment-box {
	display: flex;
	flex-flow: column nowrap;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.2);
	font-size: 16px;
}
.mamibtn {
	padding: 15px 35px;
	border: none;
	border-radius: 6px;
	letter-spacing: 0.5px;
	font-size: 16px;
	transition: all 0.2s ease-in;
}
.mamibtn:focus {
	outline: none;
}

.mamibtn-green {
	background-color: #2ab929;
	color: #fff;
	box-shadow: 0px 8px 16px -5px rgba(41, 185, 41, 0.25);
}
.mamibtn-green:hover {
	background-color: #109e4b;
}
.mamibtn-green:disabled {
	background-color: #94dc94;
}
</style>
