<template>
	<div class="payment-box">
		<div class="info-timer">
			<div class="info-timer-clock">
				{{ countdown.hours }} : {{ countdown.minutes }} :
				<span class="info-timer-seconds">{{ countdown.seconds }}</span>
			</div>
			<div class="info-timer-caption">Selesaikan Pembayaran sebelum</div>
			<div class="info-timer-caption">sisa waktu habis.</div>
		</div>

		<div class="info-package info-transfer">
			<div class="info-package-transfer">
				<div class="info-package-label">Total Transfer :</div>
				<div class="info-package-copyable">
					<div class="info-package-price info-package-transfer-price">
						{{ priceSplit.head }}
						<span class="info-package-unique-code">{{ priceSplit.tail }}</span>
					</div>
					<div
						class="info-package-copy info-package-copy-big"
						@click="copyToClipboard(membership.package_price_number)"
					>
						SALIN
					</div>
				</div>
				<div class="info-package-notice">
					Penting, mohon transfer hingga 3 digit terakhir
				</div>
			</div>
			<div class="info-package-bank">
				<div class="info-package-label">Silakan transfer ke :</div>
				<div class="info-package-image-container">
					<img
						:src="`assets/owner/payment/bank_logo_${selectedBank.id}.svg`"
						:alt="selectedBank.name"
					/>
				</div>
				<div class="info-package-copyable">
					<div class="info-package-account">{{ selectedBank.number }}</div>
					<div
						class="info-package-copy info-package-copy-small"
						@click="copyToClipboard(selectedBank.number)"
					>
						SALIN
					</div>
				</div>
				<div class="info-package-label info-package-label-light">
					{{ selectedBank.account_name }}
				</div>
			</div>

			<div class="info-package-confirm">
				<a
					href="/promosi-kost/premium-package"
					class="btn btn-mamigreen change-pkg-btn"
				>
					Ganti Paket
				</a>
				<button class="btn btn-mamigreen confirmation-btn">Konfirmasi</button>
			</div>
		</div>
	</div>
</template>

<script>
import * as moment from 'moment';

export default {
	data() {
		return {
			isBankChoosen: true,

			bankList: [],
			selectedBank: {},
			membership: {},
			countdown: {
				hours: 0,
				minutes: 0,
				seconds: 0,
				date: '',
			},

			priceSplit: {
				tail: '',
				head: '',
			},

			showModal: false,
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		confirmationData() {
			return this.$store.state.extras.confirmationData;
		},
	},

	mounted() {
		this.getPaymentData();
	},

	methods: {
		getPaymentData() {
			this.membership = this.confirmationData.membership;
			this.bankList = this.confirmationData.bank;

			this.startPremiumConfirmCountDown(this.membership);
			this.splitUniquePrice(this.membership.package_price);
			this.setSelectedBankDestination(this.bankList);
		},
		startPremiumConfirmCountDown(membership) {
			if (
				membership.status === 'Konfirmasi Pembayaran' &&
				membership.countdown !== null
			) {
				this.premiumConfirmCountdown(parseInt(membership.countdown));
			}
		},
		premiumConfirmCountdown(duration) {
			let countdownDuration = moment.duration(duration * 1000);
			let realSeconds = duration;
			const interval = 1000;

			this.countdown.date = moment(moment().valueOf() + duration * 1000)
				.locale('id')
				.format('LLL');

			const countdownInterval = setInterval(() => {
				countdownDuration = moment.duration(countdownDuration - interval);
				realSeconds -= 1;

				this.countdown.hours = parseInt(countdownDuration.asHours());
				this.countdown.minutes = countdownDuration.minutes();
				this.countdown.seconds = countdownDuration.seconds();

				if (realSeconds <= 0) {
					clearInterval(countdownInterval);
					this.reloadOwnerProfile();
				}
			}, interval);
		},
		setSelectedBankDestination(banks) {
			this.selectedBank = banks.filter(
				bank => bank.id === this.confirmationData.bankDestination
			)[0];
		},
		splitUniquePrice(price) {
			this.priceSplit.tail = price.slice(price.length - 3);
			this.priceSplit.head = price.slice(0, price.length - 3);
		},

		copyToClipboard(item) {
			const el = document.createElement('textarea');
			el.value = item;
			document.body.appendChild(el);
			el.select();
			document.execCommand('copy');
			document.body.removeChild(el);
		},
	},
};
</script>

<style lang="css" scoped>
.info-timer,
.info-package {
	flex-shrink: 0;
	text-align: center;
}

.info-timer {
	background-color: #f7f7f7;
	padding: 10px 0px 25px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.info-timer-clock {
	font-size: 40px;
	font-weight: 700;
}
.info-timer-seconds {
	color: #ff7270;
}
.info-timer-caption {
	line-height: 1.5em;
}

.info-package {
	font-size: 20px;
	padding: 10px 0 30px;
}
.info-package-discount {
	margin-top: 18px;
	color: #2ab929;
	font-size: 16px;
	font-weight: 700;
}
.info-package-price {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 30px;
}
.info-package-unique-code {
	color: #2ab929;
}

.info-transfer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 30px;
	padding-right: 30px;
}

.info-package-transfer {
	flex: 1;
	padding-right: 40px;
	border-right: 1px solid #ddd;
	margin-bottom: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.info-package-label {
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
}
.info-package-label-light {
	color: #999;
}
.info-package-copyable {
	display: flex;
}
.info-package-transfer-price {
	flex: 1;
	font-size: 30px;
	margin-bottom: 15px;
	text-align: left;
}
.info-package-copy {
	color: #636bd6;
	padding-left: 10px;
	font-size: 14px;
	cursor: pointer;
}
.info-package-copy-big {
	line-height: 2.5;
}
.info-package-copy-small {
	line-height: 2.2;
}
.info-package-notice {
	font-size: 13px;
	color: #fff;
	background-color: #ff7270;
	padding: 15px;
	text-align: center;
	position: relative;
}
.info-package-notice:after {
	content: '';
	position: absolute;
	top: -10px;
	left: calc(50% - 10px / 2);
	border-width: 0 10px 10px;
	border-style: solid;
	border-color: #ff6766 transparent;
	display: block;
	width: 0;
}

.info-package-bank {
	flex: 1;
	padding-left: 40px;
	margin-bottom: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.info-package-account {
	font-weight: bold;
}
.info-package-image-container {
	text-align: left;
	margin-bottom: 5px;
	height: 70px;
}
.info-package-image-container > img {
	height: 100%;
}
.info-package-confirm {
	display: flex;
	width: 100%;
}

.info-package-confirm .change-pkg-btn {
	width: 50%;
	margin-right: 4px;
	color: #000;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
}

.info-package-confirm .confirmation-btn {
	width: 50%;
	margin-left: 4px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
}

@media (max-width: 576px) {
	.info-package-confirm {
		flex-direction: column;
	}

	.info-package-confirm .change-pkg-btn {
		width: 100%;
		margin-right: 0;
	}

	.info-package-confirm .confirmation-btn {
		width: 100%;
		margin-top: 8px;
		margin-left: 0;
	}
}

/* Modal */

.modal-header--clean {
	border: none;
	padding: 0 0 15px 0;
}
</style>

<style>
#paymentDate {
	background-color: #fff;
}
</style>
