<template>
	<div class="user-booking-empty-list">
		<img
			v-lazy="'/general/img/pictures/img_empty_user_kost.svg'"
			class="empty-icon"
			alt="img empty user kost"
		/>
		<p class="empty-text"><slot></slot></p>
		<a class="btn btn-primary" href="/cari">
			<img
				class="search-icon"
				src="/general/img/icons/ic_search-magnifier_white.svg"
				alt="icon search magnifier"
			/>
			Cari Kos
		</a>
	</div>
</template>

<style lang="scss" scoped>
.user-booking-empty-list {
	padding-top: 20px;
	padding-bottom: 5rem;
	text-align: center;

	.empty-icon {
		margin: 0 auto;
	}

	.empty-text {
		max-width: 374px;
		margin: 0 auto;
		margin-top: 44px;
		margin-bottom: 44px;
		color: #3b445b;
		text-align: center;
	}

	.btn {
		display: flex;
		max-width: 320px;
		height: 48px;
		margin: 0 auto;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		align-items: center;
		justify-content: center;
	}

	.search-icon {
		margin-right: 12px;
	}
}
</style>
