<template>
	<div class="draft-card-container" :class="{ 'is-flash-sale': isFlashSale }">
		<div v-if="isFlashSale" class="draft-card-flash-sale">
			<flash-sale-label />
		</div>
		<div class="draft-main">
			<div
				v-lazy:background-image="{
					src: draftRoom.image.small,
					error: '/general/img/icons/ic_placeholder_loading.svg'
				}"
				class="draft-card-photo"
			></div>

			<div class="draft-card-info">
				<div class="info-title">
					<span>
						{{ roomTitle }}
					</span>
				</div>

				<div
					class="info-gender --mix"
					:class="{
						'--mix': draftRoom.type == 'campur',
						'--female': draftRoom.type == 'putri',
						'--male': draftRoom.type == 'putra'
					}"
				>
					<span v-if="draftRoom.available_room > 4" class="text-primary">
						Tersedia {{ draftRoom.available_room }} Kamar
					</span>
					<span v-else-if="draftRoom.available_room <= 0" class="text-disabled">
						Kamar Penuh
					</span>
					<span v-else class="text-red">
						Sisa {{ draftRoom.available_room }} Kamar
					</span>
					<span class="--separator">
						&#8226;
					</span>
					<span>{{ draftRoom.type }}</span>
				</div>

				<div class="info-others">
					<div class="info-item">
						<span class="hidden-xs hidden-sm">
							Hitungan Sewa
						</span>
						<flash-sale-price
							v-if="isFlashSaleAndHasDiscount"
							:percentage="draftRoom.price.discount"
							:price="normalPrice"
						/>
						<span class="price-number text-capitalize">
							{{ roomPrice }}
						</span>
					</div>

					<div class="info-booking">
						<div class="info-item">
							<span>Tanggal Masuk</span>
							<span>{{ checkinDate }}</span>
						</div>

						<div class="info-item">
							<span>Durasi Sewa</span>
							<span>
								{{ draftRoom.rent_duration || 'Belum terisi' }}
							</span>
						</div>

						<div class="info-detail" @click="openDetailRoom">
							<span>Lihat Detail</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="draft-footer">
			<button type="button" class="btn btn-default" @click="deleteDraft">
				<img src="/general/img/icons/ic_bin_grey.svg" />
			</button>

			<button
				type="button"
				class="btn"
				:class="actionButtonClass"
				:disabled="draftRoom.available_room == 0"
				@click="continueBooking"
			>
				<span>{{ actionButtonText }}</span>
			</button>
		</div>
	</div>
</template>

<script>
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';
import FlashSalePrice from 'Js/_booking/flash-sale/FlashSalePrice';

export default {
	components: {
		FlashSaleLabel,
		FlashSalePrice
	},

	props: {
		draftRoom: {
			type: Object,
			required: true
		},
		draftInfo: {
			type: Object,
			default: null
		},
		deleteId: {
			type: [Number, String],
			default: ''
		},
		redirectionSource: {
			type: String,
			default: ''
		},
		isLastSeen: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		draftAllData() {
			return this.draftInfo || this.draftRoom;
		},
		isFlashSale() {
			return !!this.draftRoom.is_flash_sale;
		},
		isFlashSaleAndHasDiscount() {
			return this.isFlashSale && !!this.draftRoom.price.discount_price;
		},
		isExpired() {
			if (this.draftAllData.checkin) {
				const checkinDate = new Date(this.draftAllData.checkin);
				const todayDate = new Date();

				if (
					checkinDate.getDate() === todayDate.getDate() &&
					checkinDate.getMonth() === todayDate.getMonth() &&
					checkinDate.getFullYear() === todayDate.getFullYear()
				) {
					return false;
				} else {
					return checkinDate < todayDate;
				}
			}

			return false;
		},
		actionButtonClass() {
			return this.draftRoom.available_room !== 0
				? 'btn-primary'
				: 'btn-disabled';
		},
		actionButtonText() {
			if (this.draftRoom.available_room == 0) {
				return 'Kamar Penuh';
			} else if (this.isLastSeen) {
				return 'Booking Langsung';
			} else if (this.isExpired) {
				return 'Booking Ulang';
			} else {
				return 'Lanjut Booking';
			}
		},
		normalPrice() {
			const roomPrice = this.draftRoom.price;
			return `${roomPrice.currency_symbol}${roomPrice.price}`;
		},
		roomPrice() {
			const roomPrice = this.draftRoom.price;
			const mainPrice = roomPrice.discount_price || roomPrice.price;
			return `${roomPrice.currency_symbol}${mainPrice} Per ${roomPrice.rent_type_unit}`;
		},
		checkinDate() {
			if (
				this.draftAllData.checkin &&
				this.draftAllData.checkin != '0000-00-00'
			) {
				return this.$dayjs(this.draftAllData.checkin)
					.locale('id')
					.format('D MMM YYYY');
			} else {
				return 'Belum terisi';
			}
		},
		roomTitle() {
			const { name, subdistrict, city } = this.draftRoom;
			const title = [name.trim()];
			!!subdistrict && title.push(subdistrict.trim());
			!!city && title.push(city.trim());
			return title.join(', ');
		}
	},

	methods: {
		deleteDraft() {
			this.$emit('delete', this.deleteId);
		},
		openDetailRoom() {
			window.open(
				`/room/${this.draftRoom.slug}?redirection_source=${encodeURI(
					this.redirectionSource
				)}`,
				'_blank'
			);
		},
		continueBooking() {
			this.setPrimaryActionTracker();

			if (this.isLastSeen) {
				dataLayer.push({
					event: 'AddToCartProfile',
					profile_addtocart: {
						content_ids: this.draftRoom.kost_id,
						value: this.draftRoom.price.price.split('.').join(''),
						price_type: this.draftRoom.price.rent_type_unit,
						city: this.draftRoom.subdistrict,
						region: this.draftRoom.city
					}
				});
			}

			window.open(
				`/room/${this.draftRoom.slug}?draft=true&redirection_source=${encodeURI(
					this.redirectionSource
				)}`,
				'_self'
			);
		},
		setPrimaryActionTracker() {
			const trackerData = { data: this.draftAllData };

			if (this.isLastSeen) {
				trackerData.type = 'last-seen';
			} else if (this.isExpired) {
				trackerData.type = 'continue-booking-expired';
			} else {
				trackerData.type = 'continue-booking';
			}

			this.$emit('track', trackerData);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Sass/_variables.scss';

.draft-card-container {
	color: #484848;
	margin: 5px;
	margin-bottom: 20px;
	border-radius: 8px;
	box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
	background-color: #fff;

	@media (max-width: 991px) {
		font-size: 12px;
	}
}

.draft-card-flash-sale {
	padding: 10px 16px 0;
}

.text-red {
	color: #e04205;
}

.text-disabled {
	color: #999;
}

.draft-main {
	display: flex;
	padding: 15px;

	.draft-card-photo {
		margin-right: 15px;
		height: 100px;
		width: 120px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;

		@media (max-width: 991px) {
			height: 90px;
			width: 150px;
		}
	}

	.draft-card-info {
		width: 100%;
		padding-right: 10px;
		line-height: 2;

		.info-title {
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 400px;
				display: block;
				font-weight: bold;
				font-size: 16px;

				@media (max-width: 991px) {
					font-size: 14px;
					white-space: inherit;
					line-height: 22px;
					height: 45px;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
		}

		.info-gender {
			display: flex;

			&.--mix {
				color: $gender-color-mix;
			}

			&.--female {
				color: $gender-color-female;
			}

			&.--male {
				color: $gender-color-male;
			}

			.--separator {
				color: rgba(36, 36, 36, 0.1);
			}

			span {
				margin-right: 5px;
				text-transform: capitalize;
			}
		}

		.info-others {
			display: flex;
			justify-content: space-between;

			@media (max-width: 991px) {
				flex-direction: column;
			}

			.info-item {
				display: flex;
				flex-direction: column;
				margin-right: 15px;

				span:last-of-type {
					font-size: 16px;
					font-weight: bold;

					@media (max-width: 991px) {
						font-size: 12px;
					}

					&.price-number {
						@media (max-width: 991px) {
							font-weight: normal;
						}
					}
				}
			}

			.info-booking {
				display: flex;

				@media (max-width: 991px) {
					margin-left: -100px;
					margin-top: 25px;
					display: flex;
					justify-content: space-between;
				}

				.info-detail {
					color: $brand-primary;
					cursor: pointer;
					font-weight: bold;
					display: flex;
					align-items: center;

					span {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.is-flash-sale {
	.info-detail {
		@media (min-width: 768px) {
			padding-bottom: 20px;
		}
	}
}

.draft-footer {
	border-top: 4px solid rgba(36, 36, 36, 0.05);
	padding: 15px;
	display: flex;
	justify-content: space-between;

	.btn {
		height: 40px;

		&.btn-primary,
		&.btn-disabled {
			width: 160px;
			font-weight: bold;
			border: none;

			@media (max-width: 991px) {
				width: 100%;
			}
		}

		&.btn-default {
			border: none;

			@media (max-width: 991px) {
				margin-right: 15px;
			}
		}

		&.btn-disabled {
			background-color: #9e9e9e;
			border-color: #9e9e9e;
			cursor: not-allowed;
		}
	}
}
</style>
