<template>
	<div id="draftBookingWrapper">
		<div v-if="isLoading" class="row">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-else>
			<draft-booking-empty-list v-if="isEmpty">
				{{ emptyListText }}
			</draft-booking-empty-list>

			<div v-else class="draft-booking-list">
				<slot
					name="list-data"
					:drafts="draftList.data"
					:delete="openModalDelete"
				></slot>

				<div class="draft-booking-sort" @click="openModalSort">
					<img src="/general/img/icons/ic_black_sort.svg" alt="ic_black_sort" />
					<span>Urutkan</span>
				</div>

				<div class="draft-booking-sort-modal">
					<select-modal
						:show="isShowModalSort"
						:initial-option="sortVal"
						:active-option="sortVal"
						:options="sortOptions"
						:title="'Urutkan'"
						:on-click-option="selectSort"
						:close-modal="closeModalSort"
					/>
				</div>

				<detached-pagination
					v-if="draftList.total > 5"
					:total-page="totalPage"
					:value="draftList.current_page"
					@input="pageChanged"
				/>

				<div class="draft-booking-search">
					<a href="/cari" role="button" class="btn btn-success">
						<img
							src="/general/img/icons/ic_search-magnifier_green.svg"
							alt="icon magnifier green"
						/>
						<span>Cari Kos</span>
					</a>
				</div>

				<draft-booking-modal-delete
					:show-modal="isShowModalDelete"
					:modal-title="deleteTitle"
					:modal-caption="deleteCaption"
					:modal-action-primary="deleteActionText"
					@close="closeModalDelete"
					@delete="deleteDraftBooking"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import _isEmpty from 'lodash/isEmpty';
import Toasted from 'vue-toasted';
import DraftBookingEmptyList from './DraftBookingEmptyList.vue';
import DraftBookingModalDelete from './DraftBookingModalDelete';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

const DetachedPagination = () => import('Js/@components/DetachedPagination');
const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');
const SelectModal = () => import('Js/@components/PickABooSelectModal');

// eslint-disable-next-line no-undef
Vue.use(Toasted);

export default {
	components: {
		SelectModal,
		MamiLoadingInline,
		DraftBookingEmptyList,
		DetachedPagination,
		DraftBookingModalDelete
	},

	props: {
		endpoint: {
			type: String,
			required: true
		},
		deleteTitle: {
			type: String,
			default: ''
		},
		deleteCaption: {
			type: String,
			default: ''
		},
		deleteActionText: {
			type: String,
			default: ''
		},
		deleteToastText: {
			type: String,
			default: ''
		},
		emptyListText: {
			type: String,
			default: ''
		},
		sortOptions: {
			type: Array,
			required: true
		}
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			isLoading: false,
			isShowModalSort: false,
			isShowModalDelete: false,
			idSelected: '',
			sortVal: this.sortOptions[0],
			draftPage: 1,
			draftList: {}
		};
	},

	computed: {
		authData() {
			return this.$store.state.authData;
		},
		totalPage() {
			if (this.draftList.total) {
				const total = Math.ceil(this.draftList.total / this.draftList.per_page);
				return Number(total);
			}
			return 0;
		},
		redirectionSourceDraft() {
			if (this.getQueryString('from') === 'home') {
				return 'Homepage';
			} else if (document.referrer.includes('room')) {
				return 'Kost Detail Page';
			} else if (document.referrer.includes('user')) {
				return 'User Profile';
			} else {
				return 'Booking Navbar';
			}
		},
		isEmpty() {
			return !this.draftList.data || this.draftList.data.length === 0;
		}
	},

	watch: {
		'sortVal.val'(val) {
			this.pageChanged(1);
		}
	},

	activated() {
		if (_isEmpty(this.draftList)) {
			this.getDraftList(true);
		} else {
			this.trackPageVisited();
		}
	},

	methods: {
		openModalSort() {
			this.isShowModalSort = true;
		},
		closeModalSort() {
			this.isShowModalSort = false;
			document.body.style.overflow = 'auto';
		},
		selectSort(option) {
			this.sortVal = option;
		},
		openModalDelete(id) {
			this.isShowModalDelete = true;
			this.idSelected = id;
		},
		closeModalDelete() {
			this.isShowModalDelete = false;
		},
		pageChanged(page) {
			this.draftPage = page;
			this.getDraftList();
		},
		getDraftList(track = false) {
			this.isLoading = true;
			axios
				.get(`${this.endpoint}?page=${this.draftPage}&sort=${this.sortVal.val}`)
				.then(response => {
					this.isLoading = false;
					if (response.data.status) {
						this.draftList = response.data.data;
						this.$emit('content-loaded');
						track && this.trackPageVisited();
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		deleteDraftBooking() {
			this.closeModalDelete();
			this.openSwalLoading();
			axios
				.delete(`${this.endpoint}/${this.idSelected}`)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.onSuccessDeleteDraftBooking();
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		onSuccessDeleteDraftBooking() {
			this.showToast(this.deleteToastText);

			if (this.draftList.data.length === 1 && this.draftPage > 1) {
				this.pageChanged(this.draftPage - 1);
			} else {
				this.getDraftList();
			}
		},

		showToast(message) {
			this.$toasted.show(message, {
				theme: 'toasted-primary',
				className: 'booking-toasted-default',
				containerClass: 'booking-toasted-container',
				position: 'bottom-left',
				duration: 3000
			});
		},
		trackPageVisited() {
			this.$emit('track-page-visited', {
				listData: this.draftList,
				redirectionSource: this.redirectionSourceDraft,
				authData: this.authData
			});
		}
	}
};
</script>

<style lang="scss">
#draftBookingWrapper {
	.draft-booking-sort-modal {
		@media (min-width: 768px) {
			.modal-dialog {
				position: relative !important;
				width: 300px !important;
				margin: 200px auto !important;
			}
			.modal-content {
				border-radius: 6px !important;
			}

			#pickABooSelectModal {
				&.modal.fade .modal-dialog {
					transform: translate(0, -25%) !important;
				}

				&.modal.in .modal-dialog {
					transform: translate(0, 0) !important;
				}

				.pick-a-boo-header {
					border-bottom: none !important;

					button {
						margin-top: -30px !important;
						margin-right: -10px !important;
					}

					h3 {
						margin-top: 40px;
					}
				}
			}
		}
	}
}

.modal-open {
	position: relative !important;
	top: 0 !important;
}

.toasted.booking-toasted-default {
	background-color: #242424;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	height: 48px;
	min-width: 376px;
	max-width: 100%;

	.action {
		font-size: 1em;
		color: #ec4a0c;
	}

	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 21px;
		width: calc(100% - 32px);
		margin: 0 auto;
	}
}

.booking-toasted-container.bottom-left {
	@media (max-width: 767px) {
		bottom: 80px;
	}
}
</style>

<style lang="scss" scoped>
@import 'Sass/_variables.scss';
.draft-booking-sort {
	border-radius: 6px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.5rem;
	cursor: pointer;
	position: sticky;
	bottom: 35px;
	background-color: #fff;
	margin: 40px auto 15px auto;
	height: 44px;
	width: 95px;

	span {
		color: $brand-primary;
	}

	img {
		margin-right: 5px;
		height: 24px;
	}

	* {
		cursor: pointer;
	}
}

.draft-booking-search {
	width: 100%;
	display: flex;
	justify-content: center;

	.btn-success {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		border: none;
		color: $brand-primary;

		&:hover {
			background-color: #fff;
			color: #6ecf91;

			img {
				opacity: 0.7;
			}
		}

		img {
			margin-right: 10px;
		}
	}
}
</style>
