<template>
	<div
		id="ownerSettingsDocumentVerificationFinish"
		class="owner-settings-document-verification-finish"
	>
		<owner-settings-document-verification-header
			title-text="Kami sedang memeriksa kartu identitas Anda"
			class="owner-settings-document-verification-finish__header"
		/>
		<div class="owner-settings-document-verification-finish__message">
			Terima kasih, foto kartu identitas Anda telah kami terima. Mohon menunggu
			pemberitahuan berikutnya dari kami.
		</div>
		<img
			src="/general/img/pictures/kyc-owner/img_identity_uploads_on_verification.svg"
			alt="Identity on Verification Illustration"
			class="owner-settings-document-verification-finish__illustration"
		/>
		<owner-settings-document-verification-footer-nav
			only-go-to-next
			go-to-next-text="Selesai"
			class="owner-settings-document-verification-finish__footer"
			@continue="returnToSettingsPage"
		/>
	</div>
</template>

<script>
import OwnerSettingsDocumentVerificationHeader from './OwnerSettingsDocumentVerificationHeader';
import OwnerSettingsDocumentVerificationFooterNav from './OwnerSettingsDocumentVerificationFooterNav';

export default {
	name: 'OwnerSettingsDocumentVerificationFinish',
	components: {
		OwnerSettingsDocumentVerificationHeader,
		OwnerSettingsDocumentVerificationFooterNav
	},
	methods: {
		returnToSettingsPage() {
			window.location.replace('/ownerpage/settings');
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-finish {
	&__message {
		margin-top: 20px;
		font-size: 16px;
		line-height: 24px;
		color: #484848;
	}

	&__illustration {
		display: block;
		margin: 44px auto;
	}

	&__footer {
		border-top: 1px solid #e8e8e8;
	}
}
</style>
