<template>
	<div
		id="ownerSettingsDocumentVerificationInput"
		class="owner-settings-document-verification-input"
	>
		<mami-loading-inline
			v-if="isLoadingFetchDocumentTypeList"
			class="owner-settings-document-verification__loader"
		/>
		<div v-else>
			<document-type-list-modal
				:is-modal-shown="isDocumentTypeListModalShown"
				@modal-closed="handleSelectNewType"
			/>
			<owner-settings-document-verification-header :title-text="titleText" />
			<owner-settings-document-verification-input-body
				v-if="selectedDocument.key"
				class="owner-settings-document-verification-input__body"
				@show-document-type-list="showDocumentTypeList"
			/>
			<owner-settings-document-verification-footer-nav
				:go-to-next-text="selectedMethod === 'upload' ? 'Mulai' : 'Lanjutkan'"
				class="owner-settings-document-verification-input__footer"
				@back="shiftState(false)"
				@continue="toNextState"
			/>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

import OwnerSettingsDocumentVerificationHeader from './OwnerSettingsDocumentVerificationHeader';
import OwnerSettingsDocumentVerificationInputBody from './input-state/OwnerSettingsDocumentVerificationInputBody';
import OwnerSettingsDocumentVerificationFooterNav from './OwnerSettingsDocumentVerificationFooterNav';
import OwnerSettingsDocumentVerificationSelect from './OwnerSettingsDocumentVerificationSelect';

export default {
	name: 'OwnerSettingsDocumentVerificationInput',
	components: {
		OwnerSettingsDocumentVerificationHeader,
		OwnerSettingsDocumentVerificationInputBody,
		OwnerSettingsDocumentVerificationFooterNav,
		'document-type-list-modal': OwnerSettingsDocumentVerificationSelect
	},
	data() {
		return {
			isDocumentTypeListModalShown: false
		};
	},
	computed: {
		...mapState('settingsDocumentVerification', [
			'selectedMethod',
			'selectedDocument',
			'currentPhotoStep',
			'isLoadingFetchDocumentTypeList'
		]),
		...mapGetters('settingsDocumentVerification', ['documentLabel']),
		titleText() {
			return this.currentPhotoStep === 2
				? `Masukkan foto diri bersama kartu identitas (${this.selectedDocument.label})`
				: `Masukkan kartu identitas (${this.selectedDocument.label}) Anda`;
		}
	},
	methods: {
		...mapMutations('settingsDocumentVerification', ['setSelectedDocument']),
		...mapActions('settingsDocumentVerification', ['shiftState']),
		showDocumentTypeList() {
			this.isDocumentTypeListModalShown = true;
		},
		handleSelectNewType(documentTypeKey) {
			this.isDocumentTypeListModalShown = false;

			if (documentTypeKey) {
				// Wait for modal to close before mutating selected document value
				// for experience purpose.
				setTimeout(() => {
					this.setSelectedDocument({
						key: documentTypeKey,
						label: this.documentLabel(documentTypeKey, true)
					});
				}, 300);
			}
		},
		toNextState() {
			this.shiftState(true);
			this.trackCaptureState();
		},
		trackCaptureState() {
			const eventName =
				this.currentPhotoStep === 1
					? '[Owner] ID Verification - Foto ID'
					: '[Owner] ID Verification - Foto Diri';

			const trackedData = {
				interface: navigator.isMobile ? 'mobile' : 'desktop',
				owner_name: this.$store.state.profile.user.name,
				owner_phone_number: this.$store.state.profile.user.phone_number,
				verification_status: this.$store.state.mamipayDetail.verification_data
					.identity_card_status,
				type_id: this.selectedDocument.label,
				flow_type: this.selectedMethod
			};

			tracker('moe', [eventName, trackedData]);
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-input {
	&__body {
		padding: 20px 0;
	}

	&__footer {
		border-top: 1px solid #e8e8e8;
	}
}
</style>
