<template>
	<div
		id="ownerSettingsDocumentVerificationUpload"
		class="owner-settings-document-verification-upload"
	>
		<owner-settings-document-verification-header
			title-text="Upload foto tampak depan identitas"
		/>

		<div class="owner-settings-document-verification-upload__body">
			<div class="owner-settings-document-verification-upload__body-heading">
				Pastikan seluruh tulisan dan isi kartu identitas yang Anda upload
				terlihat jelas dan bisa terbaca.
			</div>

			<div class="owner-settings-document-verification-upload__body-main">
				<div class="image-dropzone" @click="startImageUpload">
					<div v-if="!isLoadingImage" class="image-dropzone__click-area">
						<bg-icon name="upload" />
						<p class="image-dropzone__description">
							Upload foto<br />kartu identitas tampak depan
						</p>
					</div>
					<p v-else class="image-dropzone__loader">Memuat foto...</p>
				</div>

				<input
					ref="imageInput"
					type="file"
					style="display: none"
					accept="image/png,image/jpeg,image/jpg"
					@change="handleImageInputChanges"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions } from 'vuex';
import { BgIcon } from 'bangul-vue';

import OwnerSettingsDocumentVerificationHeader from './OwnerSettingsDocumentVerificationHeader';

import mixinUploadImage from 'Js/@mixins/MixinUploadImage';

export default {
	name: 'OwnerSettingsDocumentVerificationUpload',
	components: {
		BgIcon,
		OwnerSettingsDocumentVerificationHeader
	},
	mixins: [mixinUploadImage],
	watch: {
		loadedImage(value) {
			if (value) {
				this.toNextState();
			}
		}
	},
	methods: {
		...mapActions('settingsDocumentVerification', [
			'shiftState',
			'handlePhotoValue'
		]),
		startImageUpload() {
			if (!this.isLoadingImage) this.$refs.imageInput.click();
		},
		handleImageInputChanges(event) {
			this.uploadImage(event, 8000000); // 8 MB (in bytes) is the maximum file size to be sent to server, the size above that will be resized automatically.
		},
		toNextState() {
			this.handlePhotoValue(this.loadedImage);
			this.shiftState(true);
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-upload {
	&__body {
		padding: 20px 0;
		font-size: 16px;
		line-height: 24px;
	}

	.image-dropzone {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 208px;
		margin-top: 40px;
		font-weight: 700;
		text-align: center;
		cursor: pointer;
		border: 1px dashed #e8e8e8;
		border-radius: 4px;

		&__loader {
			color: #aaa;
		}
	}
}
</style>
