<template>
	<modal
		v-model="isModalShown"
		class="owner-settings-document-verification-select"
	>
		<div
			slot="modal-header"
			class="owner-settings-document-verification-select__header"
		>
			<span
				class="owner-settings-document-verification-select__close-button"
				@click.prevent="closeModal"
			></span>
		</div>

		<div class="owner-settings-document-verification-select__body">
			<owner-settings-document-verification-header
				title-text="Pilih kartu identitas lain yang akan dimasukkan"
			/>

			<div class="owner-settings-document-verification-select__list">
				<div
					v-for="(documentType, index) in filteredDocumentTypeList"
					:key="index"
					class="owner-settings-document-verification-select__list-item"
				>
					<mami-radio
						v-model="localSelectedDocument"
						:selected-value="documentType.key"
					>
						{{ documentLabel(documentType.key) }}
					</mami-radio>
				</div>
			</div>
		</div>

		<owner-settings-document-verification-footer-nav
			slot="modal-footer"
			only-go-to-next
			go-to-next-text="Simpan"
			:is-disabled-go-to-next="!localSelectedDocument"
			class="owner-settings-document-verification-select__footer"
			@continue="closeModal"
		/>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import { mapState, mapGetters } from 'vuex';

import MamiRadio from 'Js/@components/mami-components/MamiRadio';
import OwnerSettingsDocumentVerificationHeader from './OwnerSettingsDocumentVerificationHeader';
import OwnerSettingsDocumentVerificationFooterNav from './OwnerSettingsDocumentVerificationFooterNav';

export default {
	name: 'OwnerSettingsDocumentVerificationSelect',
	components: {
		modal,
		MamiRadio,
		OwnerSettingsDocumentVerificationHeader,
		OwnerSettingsDocumentVerificationFooterNav
	},
	props: {
		isModalShown: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			localSelectedDocument: null
		};
	},
	computed: {
		...mapState('settingsDocumentVerification', [
			'selectedDocument',
			'documentTypeList'
		]),
		...mapGetters('settingsDocumentVerification', ['documentLabel']),
		filteredDocumentTypeList() {
			return this.documentTypeList.filter(
				type => type.key !== this.selectedDocument.key
			);
		}
	},
	watch: {
		isModalShown(value) {
			if (value) this.localSelectedDocument = null;
		}
	},
	methods: {
		closeModal() {
			this.$emit('modal-closed', this.localSelectedDocument);
		}
	}
};
</script>

<style lang="scss">
.owner-settings-document-verification-select {
	.modal-dialog {
		height: 100%;
		margin: 0 auto;
	}

	.modal-content {
		height: 100%;
		padding: 16px;
		border: 0;
		border-radius: 0;
	}

	.modal-body {
		padding: 0;
	}

	.mami-radio-icon {
		background-color: #fff !important;
	}
}
</style>

<style lang="scss" scoped>
.owner-settings-document-verification-select {
	&__header {
		display: flex;
		justify-content: flex-start;
	}

	&__close-button {
		&::after {
			content: url('/general/img/icons/ic_close_black.svg');
		}
	}

	&__body {
		max-height: calc(100vh - 29px - 96px);
		padding: 24px 0 72px;
		overflow: scroll;
	}

	&__list {
		padding: 36px 0;

		&-item {
			font-size: 16px;
			line-height: 24px;
			color: #303030;

			&:not(:first-child) {
				padding-top: 36px;
			}
		}
	}

	&__footer {
		padding-bottom: 16px !important;
	}
}
</style>
