<template>
	<div
		id="ownerSettingsDocumentVerificationCapture"
		class="owner-settings-document-verification-capture"
	>
		<div class="hole-overlay" :class="overlayClasses"></div>
		<div
			v-show="!isPreviewPhoto"
			class="owner-settings-document-verification-capture__base-elements"
		>
			<p class="owner-settings-document-verification-capture__helper-text">
				{{ helperText }}
			</p>

			<owner-settings-document-verification-capture-controls
				v-if="!timerCount"
				class="owner-settings-document-verification-capture__controls"
			/>
			<owner-settings-document-verification-capture-timer
				v-else
				class="owner-settings-document-verification-capture__timer"
			/>
		</div>
		<div class="owner-settings-document-verification-capture__camera-display">
			<device-camera-display
				:is-facing-rear="!isSwitchCamera"
				:is-capture-photo="isCapturePhoto"
				:video-constraint-ideal-width="idealResolution"
				:video-constraint-ideal-height="idealResolution"
				@no-browser-support="handleCameraError('no-support')"
				@permission-denied="handleCameraError('no-permission')"
				@finish-capture-photo="handleFinishCapture"
			/>
		</div>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

import DeviceCameraDisplay from 'Js/@components/DeviceCameraDisplay';
import OwnerSettingsDocumentVerificationCaptureControls from './capture-state/OwnerSettingsDocumentVerificationCaptureControls';
import OwnerSettingsDocumentVerificationCaptureTimer from './capture-state/OwnerSettingsDocumentVerificationCaptureTimer';

export default {
	name: 'OwnerSettingsDocumentVerificationCapture',
	components: {
		DeviceCameraDisplay,
		OwnerSettingsDocumentVerificationCaptureControls,
		OwnerSettingsDocumentVerificationCaptureTimer
	},
	computed: {
		...mapState('settingsDocumentVerification', [
			'currentPhotoStep',
			'isSwitchCamera',
			'isCapturePhoto',
			'timerCount',
			'isPreviewPhoto'
		]),
		helperText() {
			return this.currentPhotoStep === 1
				? 'Gunakan bagian data diri di kartu identitas sebagai obyek foto. Arahkan ke area foto, lalu ambil foto.'
				: 'Arahkan wajah dan kartu identitas ke area foto yang telah disediakan, lalu ambil foto.';
		},
		overlayClasses() {
			return {
				'border-only': this.isPreviewPhoto,
				'hole-overlay--selfie': this.currentPhotoStep === 2
			};
		},
		idealResolution() {
			return !this.isSwitchCamera ? 1024 : 720;
		}
	},
	methods: {
		...mapMutations('settingsDocumentVerification', [
			'setIsCapturePhoto',
			'setIsPreviewPhoto'
		]),
		...mapActions('settingsDocumentVerification', [
			'shiftState',
			'handlePhotoValue'
		]),
		handleCameraError(errorType) {
			let errorMessage;

			switch (errorType) {
				case 'no-support': {
					errorMessage =
						'Browser anda tidak mendukung akses ke kamera perangkat, mohon gunakan browser lain atau aplikasi Mamikos.';

					break;
				}
				case 'no-permission': {
					errorMessage =
						'Mohon berikan izin akses ke kamera perangkat agar fitur dapat digunakan.';

					break;
				}
				default: {
					return null;
				}
			}

			alert(errorMessage);
		},
		handleFinishCapture(generatedImage) {
			this.handlePhotoValue(generatedImage.src);
			this.setIsPreviewPhoto(true);

			setTimeout(() => {
				this.shiftState(true);
				this.setIsPreviewPhoto(false);
				this.setIsCapturePhoto(false);
			}, 1000);
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-capture {
	&__helper-text {
		position: absolute;
		top: 66px;
		z-index: 2;
		max-width: calc(100% - 32px);
		font-size: 16px;
		line-height: 24px;
		color: #fff;
	}

	&__camera-display {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100vw;
		transform: translateY(-50%);
	}

	&__controls,
	&__timer {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	.hole-overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100vw;
		height: 100vh;
		background-image: url('/general/img/pictures/kyc-owner/camera_overlay_card_only.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&--selfie {
			background-image: url('/general/img/pictures/kyc-owner/camera_overlay_selfie.png');

			&.border-only {
				background-image: url('/general/img/pictures/kyc-owner/camera_overlay_selfie_border.png') !important;
			}
		}

		&.border-only {
			background-image: url('/general/img/pictures/kyc-owner/camera_overlay_card_only_border.png');
		}
	}
}
</style>
