<template>
	<div
		id="ownerSettingsDocumentVerificationReview"
		class="owner-settings-document-verification-review"
	>
		<img
			:src="photoValue[lastCapturedPhotoType]"
			alt="captured photo"
			class="owner-settings-document-verification-review__photo-display"
		/>
		<div class="owner-settings-document-verification-review__text-message">
			<h3 class="text-message-heading">
				Periksa hasil foto
			</h3>
			<p class="text-message-body">
				{{ messageText }}
			</p>
		</div>
		<owner-settings-document-verification-footer-nav
			:go-to-prev-text="backButtonText"
			class="owner-settings-document-verification-review__footer"
			@back="shiftState(false)"
			@continue="handleNextStep"
		/>
	</div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

import OwnerSettingsDocumentVerificationFooterNav from './OwnerSettingsDocumentVerificationFooterNav';

import { convertToFile } from 'Js/@utils/imageFileHelper';

export default {
	name: 'OwnerSettingsDocumentVerificationReview',
	components: {
		OwnerSettingsDocumentVerificationFooterNav
	},
	computed: {
		...mapState('settingsDocumentVerification', [
			'selectedMethod',
			'currentPhotoStep',
			'selectedDocument',
			'photoValue'
		]),
		...mapGetters('settingsDocumentVerification', [
			'lastCapturedPhotoType',
			'isLastPhotoStep'
		]),
		backButtonText() {
			return this.selectedMethod === 'upload' ? 'Unggah Ulang' : 'Foto Ulang';
		},
		messageText() {
			return this.currentPhotoStep === 1
				? 'Mohon periksa kembali hasil foto berikut. Pastikan tulisan dan seluruh isi kartu identitas terlihat jelas.'
				: 'Mohon periksa kembali hasil foto berikut. Pastikan wajah dan kartu identitas Anda terlihat jelas.';
		}
	},
	methods: {
		...mapMutations('settingsDocumentVerification', ['setCurrentState']),
		...mapActions('settingsDocumentVerification', [
			'shiftPhotoStep',
			'shiftState'
		]),
		handleNextStep() {
			if (this.isLastPhotoStep) {
				this.handleSubmitPhotos();
			} else {
				this.shiftPhotoStep(true);
				this.setCurrentState('input');
			}
		},
		handleSubmitPhotos() {
			this.openSwalLoading();

			const cardOnlyFile = convertToFile(this.photoValue.cardOnly);
			const selfieFile = convertToFile(this.photoValue.selfie);
			const cardOnlyFormData = new FormData();
			const selfieFormData = new FormData();

			cardOnlyFormData.append('description', 'photo_identity');
			cardOnlyFormData.append('type', this.selectedDocument.key);
			cardOnlyFormData.append('from_file', 'user_profile');
			cardOnlyFormData.append('media', cardOnlyFile);

			selfieFormData.append('description', 'selfie_identity');
			selfieFormData.append('type', this.selectedDocument.key);
			selfieFormData.append('from_file', 'user_profile');
			selfieFormData.append('media', selfieFile);

			axios
				.all([
					this.submitPhotoRequest(cardOnlyFormData),
					this.submitPhotoRequest(selfieFormData)
				])
				.then(
					axios.spread((cardOnlyResponse, selfieResponse) => {
						this.closeSwalLoading();

						if (cardOnlyResponse.data.status && selfieResponse.data.status) {
							this.trackPhotoSubmitted();
							this.shiftState(true);
						} else {
							if (!cardOnlyResponse && selfieResponse) {
								bugsnagClient.notify(JSON.stringify(cardOnlyResponse));
								this.swalError(null, cardOnlyResponse.data.message);
							} else if (cardOnlyResponse && !selfieResponse) {
								bugsnagClient.notify(JSON.stringify(selfieResponse));
								this.swalError(null, selfieResponse.data.message);
							} else {
								bugsnagClient.notify(JSON.stringify(cardOnlyResponse));
								bugsnagClient.notify(JSON.stringify(selfieResponse));
								this.swalError(
									null,
									'Maaf foto Anda gagal diverifikasi. Silakan ulangi kembali.'
								);
							}
						}
					})
				)
				.catch(errors => {
					this.closeSwalLoading();
					bugsnagClient.notify(errors);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		submitPhotoRequest(payload) {
			return axios.post('/user/verification/identity-card/upload', payload);
		},
		trackPhotoSubmitted() {
			tracker('moe', [
				'[Owner] ID Verification Uploaded',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.$store.state.profile.user.name,
					owner_phone_number: this.$store.state.profile.user.phone_number,
					verification_status: this.$store.state.mamipayDetail.verification_data
						.identity_card_status,
					flow_type: this.selectedMethod,
					type_id: this.selectedDocument.label
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-review {
	position: relative;
	overflow-x: hidden;

	&__photo-display {
		width: 100vw;
		margin-left: -16px; // override parent's wrapper padding
	}

	&__text-message {
		.text-message-heading {
			font-weight: bold;
			line-height: 32px;
		}

		.text-message-body {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__footer {
		border-top: 1px solid #e8e8e8;
	}
}
</style>
