<template>
	<modal
		v-model="isModalShown"
		class="owner-settings-document-verification-guide"
	>
		<div
			slot="modal-header"
			class="owner-settings-document-verification-guide__header"
		>
			<span
				class="owner-settings-document-verification-guide__close-button"
				@click.prevent="closeModal"
			></span>
		</div>

		<div
			ref="modalBody"
			class="owner-settings-document-verification-guide__body"
		>
			<owner-settings-document-verification-header
				title-text="Cara Mengambil Foto"
				class="owner-settings-document-verification-guide__body-title"
			/>

			<div
				class="owner-settings-document-verification-guide__sample-image-wrapper"
			>
				<div
					v-for="(sample, i) in sampleImages"
					:key="`sample-${i}`"
					class="sample-image"
				>
					<img
						v-lazy="sample.image"
						class="sample-image__image"
						:alt="sample.imageAlt"
					/>
					<div class="sample-image__description">
						<img
							v-lazy="sample.badge"
							class="sample-image__description-badge"
							:alt="sample.badgeAlt"
						/>
						<span class="sample-image__description-text">
							{{ sample.text }}
						</span>
					</div>
				</div>
			</div>

			<ol class="owner-settings-document-verification-guide__text-content">
				<li
					v-for="(item, i) in textContentItems"
					:key="`item-${i}`"
					class="text-content-item"
				>
					{{ item }}
				</li>
			</ol>
		</div>

		<owner-settings-document-verification-footer-nav
			slot="modal-footer"
			only-go-to-next
			go-to-next-text="Ambil Foto"
			class="owner-settings-document-verification-guide__footer"
			@continue="closeModal"
		/>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import OwnerSettingsDocumentVerificationHeader from './OwnerSettingsDocumentVerificationHeader';
import OwnerSettingsDocumentVerificationFooterNav from './OwnerSettingsDocumentVerificationFooterNav';

export default {
	components: {
		modal,
		OwnerSettingsDocumentVerificationHeader,
		OwnerSettingsDocumentVerificationFooterNav
	},
	props: {
		isModalShown: {
			type: Boolean,
			required: true
		},
		photoStep: {
			type: Number,
			required: true
		}
	},
	computed: {
		sampleImages() {
			return [
				{
					image:
						this.photoStep === 1
							? '/general/img/pictures/kyc-owner/photo_preview_id_front.png'
							: '/general/img/pictures/kyc-owner/photo_preview_selfie_front.png',
					imageAlt:
						this.photoStep === 1
							? 'Right card only sample image'
							: 'Right selfie sample image',
					badge: '/general/img/icons/ic_checkmark_m_green.svg',
					badgeAlt: 'Right image badge',
					text: 'Benar'
				},
				{
					image:
						this.photoStep === 1
							? '/general/img/pictures/kyc-owner/photo_preview_id_back.png'
							: '/general/img/pictures/kyc-owner/photo_preview_selfie_back.png',
					imageAlt:
						this.photoStep === 1
							? 'Wrong card only sample image'
							: 'Wrong selfie sample image',
					badge: '/general/img/icons/ic_cross_m_red.svg',
					badgeAlt: 'Wrong image badge',
					text: 'Salah'
				}
			];
		},
		textContentItems() {
			return this.photoStep === 1
				? [
						'Bagian yang difoto adalah bagian yang berisi nama lengkap dan informasi data diri lainnya.',
						'Ambil foto di tempat dengan cahaya cukup dan pastikan tulisan di kartu identitas terlihat jelas.'
				  ]
				: [
						'Pastikan kartu identitas Anda tidak menutupi wajah saat mengambil foto.',
						'Ambil foto di tempat dengan cahaya cukup agar wajah dan kartu identitas Anda terlihat jelas.'
				  ];
		}
	},
	methods: {
		closeModal() {
			this.$emit('update:isModalShown', false);
			this.$refs.modalBody.scrollTop = 0;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable max-nesting-depth */
.owner-settings-document-verification-guide {
	.modal-dialog {
		height: 100%;
		margin: 0 auto;
	}

	.modal-content {
		height: 100%;
		padding: 16px;
		border: 0;
		border-radius: 0;
	}

	.modal-body {
		padding: 0;
	}

	&__header {
		display: flex;
		justify-content: flex-end;
	}

	&__close-button {
		&::after {
			content: url('/general/img/icons/ic_close_black.svg');
		}
	}

	&__body {
		max-height: calc(100vh - 29px - 96px);
		padding: 24px 0 72px;
		overflow: scroll;
	}

	&__sample-image-wrapper {
		display: flex;
		margin-top: 22px;
		justify-content: space-between;

		.sample-image {
			width: calc(50% - 8px);

			&__image {
				width: 100%;
				border-radius: 8px;
			}

			&__description {
				display: flex;
				margin-top: 18px;

				&-text {
					margin-left: 16px;
					font-size: 16px;
				}
			}
		}
	}

	&__text-content {
		padding-left: 24px;
		margin-top: 42px;
		font-size: 16px;
		line-height: 24px;

		.text-content-item {
			padding-left: 16px;

			&:not(:first-child) {
				margin-top: 16px;
			}
		}
	}

	&__footer {
		padding: 24px 8px !important;
	}
}
</style>
