<template>
	<div class="app-wrapper">
		<global-navbar
			fixed
			need-search-box
			need-brand-mobile
			need-back-arrow
			:max-width="1140"
			redirection-source-navbar="home promo recommendation"
		/>

		<div class="breadcrumb-container">
			<breadcrumb-trails
				:contents="promoBreadcrumbs"
				:version="2"
				custom-style="max-width: 1140px"
			></breadcrumb-trails>
		</div>

		<div class="promo-container">
			<promo-event></promo-event>
		</div>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';
import GlobalNavbar from 'Js/@components/GlobalNavbar';

const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);
export default {
	name: 'ContainerUserPromo',

	components: {
		LoginUser,
		GlobalNavbar
	},

	data() {
		return {
			promoBreadcrumbs: [
				{
					name: 'Home',
					url: '/'
				},
				{
					name: 'Halaman Promo',
					url: '/user/promokost'
				}
			],
			isModalLogin: false
		};
	},

	created() {
		this.listenEventBus();
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>

<style scoped>
.promo-container {
	margin: auto;
}
.breadcrumb-container {
	width: 100%;
	padding: 12px 24px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
</style>
