<template>
	<div id="promoEventContainer">
		<div class="container promo-container">
			<div class="promo-title col-xs-12">
				<div class="title-center">
					<img
						src="/assets/icons/ic_promo_by_mami.png"
						alt="ic_promo_by_mami"
					/>
					<span>Promo dan Event dari Mamikos</span>
				</div>
			</div>

			<div class="clearfix"></div>

			<mami-loading-inline v-if="!initSwiper"></mami-loading-inline>
			<div v-else class="swiper">
				<swiper ref="mySwiper" :options="swiperOption">
					<swiper-slide
						v-for="(data, i) in swiperData"
						:key="i"
						class="track-poster-promo"
					>
						<img
							class="track-poster-promo clickable"
							:title="data.title"
							:src="data.photo_url.large"
							:alt="data.title"
							@click="openPromo(data)"
						/>
					</swiper-slide>

					<div
						slot="pagination"
						class="swiper-pagination track-promo-others"
					></div>
				</swiper>

				<div
					slot="button-prev"
					class="swiper-button-prev swiper-arrow hidden-xs hidden-sm"
				>
					<img
						src="general/img/icons/ic_arrow-left_s_grey.svg"
						alt="ic_arrow-left_s_grey"
					/>
				</div>
				<div
					slot="button-next"
					class="swiper-button-next swiper-arrow hidden-xs hidden-sm"
				>
					<img
						src="general/img/icons/ic_arrow-right_s_grey.svg"
						alt="ic_arrow-right_s_grey"
					/>
				</div>
			</div>
			<div class="promo-title promo-title-kost col-xs-12">
				<div class="title-center">
					<img
						src="/assets/icons/ic_promo_by_kost.png"
						alt="ic_promo_by_kost"
					/>
					<span>Promo dari Kost</span>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="form-group">
				<label for="filterList" class="mr-10">Filter dari Kota</label>
				<select
					id="filterList"
					class="form-control track-select-city"
					@change="changeCity()"
				>
					<option v-for="(city, id) in filterData" :key="id" :value="id">{{
						city
					}}</option>
				</select>
			</div>

			<!-- Room List was here -->
			<mami-loading-inline v-if="isLoading"></mami-loading-inline>
			<room-list
				v-if="!isLoading"
				:rooms="roomData"
				grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
				redirection-source="lp promo kos"
				@toggleLoginModal="toggleLoginModal"
			></room-list>
			<!-- :rooms="roomData" v-if="!isLoading" -->

			<div v-if="isRoomEmpty" class="room-not-found">
				<p>Belum ada kost dengan promo</p>
				<img src="/assets/history_zero.png" alt="Belum ada kost dengan promo" />
			</div>

			<div class="clearfix"></div>

			<div class="pagination-section">
				<paginate
					:page-count="totalPage"
					:click-handler="pageChanged"
					:prev-text="'<'"
					:next-text="'>'"
					:container-class="'pagination'"
					:break-view-link-class="'break-pagination'"
					:page-class="'page-item'"
				>
				</paginate>
			</div>

			<div class="promo-title">
				<span>Cari Kost Berdasar Kota</span>
			</div>
			<div class="greenline"></div>
			<div class="city-region">
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-jogja-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/jogja.png" alt="Jogja" />
					<label>Jogjakarta</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-jakarta-murah"
					target="_self"
				>
					<img
						src="/assets/icons/icon_kota/jabodetabek.png"
						alt="Jabodetabek"
					/>
					<label>Jabodetabek</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-surabaya-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/surabaya.png" alt="Surabaya" />
					<label>Surabaya</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-bandung-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/bandung.png" alt="Bandung" />
					<label>Bandung</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-malang-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/malang.png" alt="Malang" />
					<label>Malang</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-semarang-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/semarang.png" alt="Semarang" />
					<label>Semarang</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-bali-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/bali.png" alt="Bali" />
					<label>Bali</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-makassar-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/makassar.png" alt="Makassar" />
					<label>Makassar</label>
				</a>
				<a
					class="city-icon track-bigcity-kost"
					href="/kost/kost-medan-murah"
					target="_self"
				>
					<img src="/assets/icons/icon_kota/medan.png" alt="Medan" />
					<label>Medan</label>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import EventBus from 'Js/@global/event-bus';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import paginate from 'vuejs-paginate';

export default {
	components: {
		swiper,
		swiperSlide,
		paginate
	},

	data() {
		return {
			roomData: [],
			swiperData: [],
			initSwiper: false,
			filterData: {},
			swiperOption: {
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				},
				autoplay: {
					delay: 5000,
					disableOnInteraction: false
				},

				slidesPerView: 3,
				spaceBetween: 30,
				breakpoints: {
					768: {
						slidesPerView: 1,
						spaceBetween: 10
					},
					992: {
						slidesPerView: 2,
						spaceBetween: 20
					}
				}
			},

			isLoading: true,
			isRoomEmpty: false,

			offset: 0,
			rooms: {
				total: 0,
				limit: 0
			}
		};
	},

	computed: {
		swiper() {
			return this.$refs.mySwiper.swiper;
		},
		totalPage() {
			let total = Math.ceil(this.rooms.total / this.rooms.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},

	mounted() {
		$('.page-link').addClass('track-promo-kost-others');
		this.getRoomList();
		this.getSwiperList();
		this.getFiltersList();
	},

	methods: {
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		openPromo(data) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = data.scheme;
			} else {
				window.open(data.scheme, '_blank');
			}
		},

		async pageChanged(page) {
			this.isRoomEmpty = false;
			this.roomData = [];
			this.isLoading = true;

			const places = [];
			let filters = {
				promotion: true,
				property_type: 'kost'
			};
			places.push($('#filterList').val());

			if (places[0] !== 'all') {
				filters = {
					promotion: true,
					property_type: 'kost',
					place: places
				};
			}
			const params = {
				filters,
				referrer: 'promo',
				include_promoted: true,
				limit: 9,
				offset: this.offset + (page - 1) * 9
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (typeof response === 'object' && response.rooms && translateWords) {
				const rooms = translateWords(response.rooms) || [];

				this.rooms = response;
				this.roomData = rooms;
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		async changeCity() {
			this.isRoomEmpty = false;
			const places = [];
			let filters = {
				promotion: true,
				property_type: 'kost'
			};
			places.push($('#filterList').val());

			if (places[0] !== 'all') {
				filters = {
					promotion: true,
					property_type: 'kost',
					place: places
				};
			}

			this.roomData = [];
			this.isLoading = true;

			const params = {
				filters,
				referrer: 'promo',
				include_promoted: true,
				limit: 9,
				offset: 0
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (typeof response === 'object' && response.rooms && translateWords) {
				const rooms = translateWords(response.rooms) || [];

				this.rooms = response;
				this.roomData = rooms;
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		async getRoomList() {
			this.isRoomEmpty = false;
			const params = {
				filters: {
					promotion: true,
					property_type: 'kost'
				},
				referrer: 'promo',
				include_promoted: true,
				limit: 20,
				offset: 0
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (typeof response === 'object' && response.rooms && translateWords) {
				const rooms = translateWords(response.rooms) || [];

				this.rooms = response;
				this.roomData = rooms;
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		getSwiperList() {
			axios
				.get('/events')
				.then(response => {
					if (response.data.status) {
						this.initSwiper = true;
						this.swiperData = response.data.homes.posters;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo'
			});

			if (response && typeof response === 'object' && response.cities) {
				this.filterData = response.cities;
			}
		}
	}
};
</script>

<style scoped>
.promo-container {
	padding-bottom: 50px;
}

.swiper {
	position: relative;
}

.swiper-slide {
	display: flex;
	align-items: center;
	min-height: 20rem;
	margin-bottom: 1rem;
}

.swiper-slide img {
	width: 100%;
}

.swiper-arrow {
	background-image: none;
	display: flex;
	align-items: center;
}

.swiper-arrow:focus {
	outline: none;
}

.swiper-arrow.swiper-button-prev {
	left: -4rem;
}

.swiper-arrow.swiper-button-next {
	right: -4rem;
}

.swiper-arrow > img {
	height: 2.5rem;
}

.title-center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.promo-title {
	margin-top: 15px;
	padding-left: 0;
}
.promo-title img {
	width: 50px;
	height: 37.5px;
}
.promo-title span {
	font-weight: bold;
	font-size: 22px;
}
.promo-title-kost {
	margin-bottom: 10px;
}
.greenline {
	width: 120px;
	height: 10px;
	border-bottom: 2px solid #1baa56;
}
.city-region {
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
}
.city-region a:hover {
	text-decoration: none;
}
.city-icon {
	width: 140px;
	height: 80px;
	float: left;
	margin: 8px;
	padding-left: 3px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	padding: 2rem;
}
.city-icon:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.city-icon img {
	height: 50px;
}
.city-icon label {
	font-size: 14px;
	color: #3e5168;
}

.mr-10 {
	margin-right: 10px;
}

@media (max-width: 350px) {
	.city-icon {
		width: 130px;
		padding-left: 0;
		margin: 5px;
	}
	.city-icon label {
		font-size: 13px;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.swiper-pagination {
	position: relative;
}

@media (min-width: 992px) {
	.swiper-pagination span:last-child {
		/* display: none; */
	}
}

.swiper-pagination-bullets {
	text-align: left !important;
}

.swiper-pagination-bullets > .swiper-pagination-bullet {
	bottom: -0.5rem !important;
}

.swiper-pagination-bullets > .swiper-pagination-bullet:focus {
	outline: none !important;
}

.swiper-pagination-bullets > .swiper-pagination-bullet-active {
	width: 2rem !important;
	border-radius: 1em !important;
	background: #1baa56 !important;
}

.form-control {
	width: auto;
	display: inline-block;
}

.room-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.room-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

#promoEventContainer .pagination > .disabled > span,
#promoEventContainer .pagination > .disabled > span:hover,
#promoEventContainer .pagination > .disabled > span:focus,
#promoEventContainer .pagination > .disabled > a,
#promoEventContainer .pagination > .disabled > a:hover,
#promoEventContainer .pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
