<template>
	<div class="cost-title-container">
		<mami-input-wrapper input-label="Jenis Biaya">
			<input
				v-model="costLabel"
				class="form-control"
				type="text"
				placeholder="Contoh: Listrik"
				:disabled="isDisabled"
			/>
		</mami-input-wrapper>
	</div>
</template>

<script>
const MamiInputWrapper = () =>
	import('Js/@components/mami-components/MamiInputWrapper.vue');

export default {
	components: {
		MamiInputWrapper
	},

	props: {
		value: {
			type: String,
			required: true
		},
		isDisabled: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		costLabel: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.cost-title-container {
	input:disabled {
		color: #949494;
		pointer-events: none;
		background-color: #fff;
		border: 1px solid #e8e8e8;
	}
}
</style>
