<template>
	<div id="addTenantFineDate" class="fine-date-container">
		<label>Batas Akhir Waktu Keterlambatan</label>

		<div class="field-days">
			<div class="field-item">
				<input
					ref="addTenantFineDateInput"
					class="form-control"
					type="number"
					v-model="fineDurationMax"
					@click="selectTextContent"
				/>
			</div>

			<div class="field-item --duration-type">
				<mami-select-options
					:options="durationTypeOptions"
					options-label="label"
					options-value="value"
					v-model="durationType"
				/>
			</div>
		</div>
	</div>
</template>

<script>
const MamiSelectOptions = () =>
	import('Js/@components/mami-components/MamiSelectOptions.vue');

export default {
	components: {
		MamiSelectOptions
	},

	data() {
		return {
			durationTypeOptions: [
				{ label: 'Hari', value: 'day' },
				{ label: 'Minggu', value: 'week' },
				{ label: 'Bulan', value: 'month' }
			]
		};
	},

	computed: {
		fineDurationMax: {
			get() {
				return this.$store.state.addTenant.params.fine_maximum_length;
			},
			set(duration) {
				this.$store.commit('addTenant/setFineMaxLength', duration);
			}
		},
		durationType: {
			get() {
				return this.$store.state.addTenant.params.fine_duration_type;
			},
			set(fineDurationType) {
				this.$store.commit('addTenant/setFineDurationType', fineDurationType);
			}
		}
	},

	methods: {
		selectTextContent() {
			this.$refs.addTenantFineDateInput.select();
		}
	}
};
</script>

<style lang="scss" scoped>
.fine-date-container {
	font-size: 16px;

	.field-days {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.field-item {
			width: 100%;

			&.--duration-type {
				margin-left: 15px;
			}
		}
	}
}
</style>
