<template>
	<div class="cost-price-container">
		<mami-input-wrapper input-label="Harga" :error-message="errorMessage">
			<manage-currency-input
				v-model="costData"
				maxlength="9"
				class="form-control"
				:disabled="isDisabled"
			/>
		</mami-input-wrapper>
	</div>
</template>

<script>
import ManageCurrencyInput from '../../page-tenant-profile/form-input/ManageCurrencyInput';

const MamiInputWrapper = () =>
	import('Js/@components/mami-components/MamiInputWrapper.vue');

export default {
	components: {
		ManageCurrencyInput,
		MamiInputWrapper
	},

	props: {
		value: {
			type: [Number, String],
			required: true
		},
		isDisabled: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		costData: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			}
		},
		errorMessage() {
			return this.costData >= 1 &&
				this.costData.toString().length >= 1 &&
				this.costData.toString().length < 4
				? 'Min. 4 karakter'
				: '';
		}
	}
};
</script>

<style lang="scss">
.cost-price-container {
	input:disabled {
		color: #949494;
		pointer-events: none;
		background-color: #fff;
		border: 1px solid #e8e8e8;
	}
}
</style>

<style lang="scss" scoped>
.cost-price-container {
	margin: 0 15px;

	@media (max-width: 767px) {
		margin-left: 0;
	}
}
</style>
