<template>
	<div>
		<div v-if="lookHereBtn">
			<p v-if="setDirectionBefore" class="head-announc">
				{{ setDirectionBefore }}
			</p>
			<a :href="setRedirect" class="btn btn-primary button-announcment">
				Lihat Pengumuman Disini!
			</a>
		</div>

		<div v-else>
			<div v-if="setDayAppear">
				<p class="head-announc">{{ setDirection }}</p>
				<Countdown :end="setDate"></Countdown>
				<p class="head-announc distance">
					<b>{{ setDayAppear + ',' }}</b> {{ setDateAppear }}
				</p>
				<div v-if="setDirectionBefore">
					<p class="head-announc">{{ setDirectionBefore }}</p>
					<a :href="setRedirect" class="btn btn-primary button-announcment">
						Lihat Disini!
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Countdown from 'vuejs-countdown';
import moment from 'moment';

export default {
	components: { Countdown },
	data() {
		return {
			konten: {
				'pengumuman-hasil-un': ['akan diumumkan pada', 'may 6, 2019'],
				'pengumuman-hasil-snmptn': ['akan diumumkan pada', 'march 22, 2019'],
				'pengumuman-sbmptn': ['akan diumumkan pada', 'july 9, 2019'],
				'daftar-utbk': ['Pendaftaran dilaksanakan pada', 'april 1, 2019'],
				'pengumuman-nilai-utbk': {
					title: 'Hasil UTBK Sesi -- akan diumumkan pada',
					textBefore: false,
					sesi_1: 'april 23, 2019',
					sesi_2: 'april 24, 2019',
					sesi_3: 'may 7, 2019',
					sesi_4: 'may 8, 2019',
					sesi_5: 'may 14, 2019',
					sesi_6: 'may 21, 2019',
					sesi_7: 'may 22, 2019',
					sesi_8: 'may 28, 2019',
					sesi_9: 'june 1, 2019',
					sesi_10: 'june 2, 2019',
					action: ['scroll', 'konten/pengumuman-nilai-utbk']
				},
				'daftar-snmptn': [
					'akan dimulai pada',
					'february 4, 2019',
					'akan berakhir pada',
					'february 14, 2019',
					'redirect',
					'konten/pengumuman-hasil-snmptn'
				],
				// 'daftar-utbk': {
				// 	title: 'Pendaftaran UTBK Sesi -- akan dimulai pada',
				// 	textBefore: 'Untuk melihat Pengumuman UBTK Sesi --',
				// 	sesi_1: 'april 23, 2019',
				// 	sesi_2: 'april 24, 2019',
				// 	sesi_3: 'may 7, 2019',
				// 	sesi_4: 'may 8, 2019',
				// 	sesi_5: 'may 14, 2019',
				// 	sesi_6: 'may 21, 2019',
				// 	sesi_7: 'may 22, 2019',
				// 	sesi_8: 'may 28, 2019',
				// 	sesi_9: 'june 1, 2019',
				// 	sesi_10: 'june 2, 2019',
				// 	action: ['redirect', 'konten/pengumuman-nilai-utbk']
				// },
				'daftar-sbmptn': [
					'akan dimulai pada',
					'june 10, 2019',
					'akan berakhir pada',
					'june 25, 2019',
					'redirect',
					'konten/pengumuman-sbmptn'
				]
			},
			setDayAppear: '',
			setDateAppear: '',
			setDate: '',
			setDirection: '',
			setDirectionBefore: '',
			setRedirect: '',
			lookHereBtn: false
		};
	},
	created() {
		this.startCountdown();
	},
	methods: {
		scrollHalf() {
			window.scrollTo(0, document.body.scrollHeight / 2);
		},
		startCountdown() {
			let pathArray = window.location.pathname.split('/');
			if (pathArray[2] in this.konten) {
				if (Array.isArray(this.konten[pathArray[2]])) {
					if (this.konten[pathArray[2]].length == 2) {
						let comingSoon = moment(this.konten[pathArray[2]][1]);
						let now = moment();
						if (now.diff(comingSoon, 'days') < 1) {
							this.setDirection = this.konten[pathArray[2]][0];
							this.setDate = this.konten[pathArray[2]][1];
							this.setDayAppear = moment(this.setDate)
								.lang('id')
								.format('dddd');
							this.setDateAppear = moment(this.setDate)
								.lang('id')
								.format('DD MMMM YYYY');
						} else {
							this.scrollHalf();
						}
					} else if (
						this.konten[pathArray[2]].length == 4 ||
						this.konten[pathArray[2]].length == 6
					) {
						let comingSoon = moment(this.konten[pathArray[2]][1]);
						let now = moment();
						if (now.diff(comingSoon, 'days') <= 0) {
							this.setDirection = this.konten[pathArray[2]][0];
							this.setDate = this.konten[pathArray[2]][1];
						} else {
							comingSoon = moment(this.konten[pathArray[2]][3]);
							if (now.diff(comingSoon, 'days') <= 0) {
								this.setDirection = this.konten[pathArray[2]][2];
								this.setDate = this.konten[pathArray[2]][3];
							} else {
								this.lookHereBtn = true;
								this.setRedirect = this.konten[pathArray[2]][5];
							}
						}
						if (this.lookHereBtn != true) {
							this.setDayAppear = moment(this.setDate)
								.lang('id')
								.format('dddd');
							this.setDateAppear = moment(this.setDate)
								.lang('id')
								.format('DD MMMM YYYY');
						}
					}
				} else {
					let sesiCount = -1;
					for (let sesi in this.konten[pathArray[2]]) {
						if (sesi != 'title' || sesi != 'textBefore') {
							let comingSoon = moment(this.konten[pathArray[2]][sesi]);
							let now = moment();
							if (now.diff(comingSoon, 'days') < 0 && sesi != 'action') {
								let title = this.konten[pathArray[2]]['title'];
								let textBefore = this.konten[pathArray[2]]['textBefore'];
								this.setDirection = title.replace('--', sesiCount);
								if (textBefore) {
									this.setDirectionBefore = textBefore.replace(
										'--',
										sesiCount - 1
									);
								}
								this.setRedirect = this.konten[pathArray[2]]['action'][1];
								this.setDate = this.konten[pathArray[2]][sesi];
								this.setDayAppear = moment(this.setDate)
									.lang('id')
									.format('dddd');
								this.setDateAppear = moment(this.setDate)
									.lang('id')
									.format('DD MMMM YYYY');
								break;
							} else if (sesi == 'action') {
								if (this.konten[pathArray[2]][sesi][0] == 'redirect') {
									let textBefore = this.konten[pathArray[2]]['textBefore'];
									this.setDirectionBefore = textBefore.replace(
										'--',
										sesiCount - 1
									);
									this.lookHereBtn = true;
									this.setRedirect = this.konten[pathArray[2]][sesi][1];
								}
							}
							sesiCount++;
						}
					}
				}
			}
		}
	}
};
</script>

<style>
.vuejs-countdown li {
	display: inline-block;
	margin: 0 8px;
	text-align: center;
	position: relative;
	width: auto;
	height: auto;
	background-color: #1baa56;
	color: #fff;
	padding: 10px;
	border-radius: 8px;
}

.vuejs-countdown li:after {
	content: ':';
	position: absolute;
	top: 0;
	right: -14px !important;
	font-size: 41px !important;
	color: #1baa56;
	top: 1px;
}

.button-announcment {
	background-color: #1baa56;
	border-color: #1baa56;
	margin-bottom: 33px;
}

.distance {
	margin-bottom: 45px;
}

@media screen and (max-width: 385px) {
	.vuejs-countdown li {
		padding: 5px;
	}
}

@media screen and (max-width: 347px) {
	.vuejs-countdown li {
		padding: 0;
	}
}
</style>
