<template>
	<div>
		<div class="mapouter">
			<div class="gmap_canvas">
				<iframe 
					width="100%"
					height="210" 
					id="gmap_canvas" 
	  			frameborder="0"
	  			style="border:0" 
	  			allowfullscreen
	  			:src="mapUrl"
	  		>
  			</iframe>
			</div>
		</div>
	</div>
	</iframe>
</template>

<script>
export default {
	computed: {
		lat() {
			return this.$store.state.detail.lat;
		},
		long() {
			return this.$store.state.detail.long;
		},
		mapUrl() {
			return (
				`https://google.com/maps/embed/v1/place?key=${process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY}&region=id&q=` +
				this.lat +
				',' +
				this.long
			);
		}
	}
};
</script>

<style scoped>
.mapouter {
	overflow: hidden;
	height: 210px;
	width: 100%;
}
.gmap_canvas {
	background: none !important;
	height: 210px;
	width: 100%;
}
</style>
