<template>
	<div class="container-company-culture">
		<div class="company-culture">
			<div class="data-title">
				<h4 class="data-title__heading">Budaya Kerja</h4>
			</div>
			<div class="data-content">
				<img src="/assets/icons/pakaian.png" class="data-icon" alt="pakaian">
				<span class="sub-heading">&nbsp;Dresscode<br></span>
				<span class="company-data heading" v-if="companyDresscode !== '' && companyDresscode !== null">{{ companyDresscode }}</span>
				<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
			</div>
			<div class="data-content">
				<img src="/assets/icons/bahasa.png" class="data-icon" alt="bahasa">
				<span class="sub-heading">&nbsp;Bahasa<br></span>
				<span class="company-data heading" v-if="companyLanguage !== '' && companyLanguage !== null">{{ companyLanguage }}</span>
				<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
			</div>
			<div class="data-content">
				<img src="/assets/icons/waktu_kerja.png" class="data-icon" alt="waktu_kerja">
				<span class="sub-heading">&nbsp;Waktu kerja<br></span>
				<span class="company-data heading" v-if="companyHours !== '' && companyHours !== null">{{ companyHours }}</span>
				<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
			</div>
			<div class="data-content">
				<img src="/assets/icons/tunjangan.png" class="data-icon" alt="tunjangan">
				<span class="sub-heading">&nbsp;Tunjangan<br></span>
				<span class="company-data heading" v-if="companySubsidy !== '' && companySubsidy !== null">{{ companySubsidy }}</span>
				<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
			</div>
			<div class="data-content last">
				<img src="/assets/icons/fasilitas.png" class="data-icon" alt="fasilitas">
				<span class="sub-heading">&nbsp;Fasilitas<br></span>
				<span class="company-data heading" v-if="companyFacilities !== '' && companyFacilities !== null">{{ companyFacilities }}</span>
				<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
			</div>
		</div>

		<social-media class="hidden-xs hidden-sm"></social-media>
	</div>
</template>

<script>
export default {
	computed: {
		companyDresscode() {
			return this.$store.state.detail.company_dresscode;
		},
		companyLanguage() {
			return this.$store.state.detail.company_language;
		},
		companyHours() {
			return this.$store.state.detail.company_time;
		},
		companySubsidy() {
			return this.$store.state.detail.company_subsidy;
		},
		companyFacilities() {
			return this.$store.state.detail.company_facilities;
		}
	}
};
</script>

<style scoped>
.company-culture {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}
.data-title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
	border-bottom: 1px solid #f2f2f2;
}
.data-title__heading {
	font-size: 15px;
	font-weight: bold;
}
.data-content {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #f2f2f2;
}
.data-icon {
	height: 16px;
	margin-top: -2px;
}
.sub-heading {
	color: #787878;
}
.heading {
	color: #414040;
}
.company-data {
	font-size: 15px;
}
.last {
	border-bottom: none;
}

@media (max-width: 991px) {
	.container-company-culture {
		margin-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.company-culture {
		border-radius: 0;
	}
}
</style>
