<template>
	<div class="container-company-desc">
		<div class="company-desc">
			<div class="section-left col-md-8">
				<div class="data-title">
					<h2 class="desc-heading">Deskripsi</h2>
				</div>
				<div class="data-desc">
					<div class="desc-content" v-html="companyDesc"></div>
					<!-- <p class="desc-content">{{ companyDesc }}</p> -->
				</div>
			</div>
			<div class="section-right col-md-4">

				<div class="contacts">
					<div class="data-content phone-number">
						<div class="data-content__title">
							<img src="/assets/icons/telepon.png" class="data-icon" alt="pakaian">
							<h5 class="sub-heading">&nbsp;Telepon<br></h5>
						</div>
						<h5 class="company-data heading" v-if="companyPhone !== '' && companyPhone !== null">{{ companyPhone }}</h5>
						<span class="company-data heading" v-else>&nbsp;&nbsp;-</span>
					</div>
					<div class="data-content">
						<div class="data-content__title">
							<img src="/assets/icons/email.png" class="data-icon" alt="pakaian">
							<h5 class="sub-heading">&nbsp;Email<br></h5>
						</div>
						<h5 class="company-data heading" v-if="companyEmail !== '' && companyEmail !== null">{{ companyEmail }}</h5>
						<h5 class="company-data heading" v-else>&nbsp;&nbsp;-</h5>
					</div>
				</div>
				
				<div class="data-title map-title">
					<h5 class="data-title__heading">Peta Lokasi</h5>
				</div>
				<div class="box-map">
					<company-map></company-map>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		companyDesc() {
			return this.$store.state.detail.description;
		},
		companyPhone() {
			return this.$store.state.detail.company_phone;
		},
		companyEmail() {
			return this.$store.state.detail.company_email;
		}
	}
};
</script>

<style scoped>
.company-desc {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}
.data-title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
}
.data-title__heading {
	font-size: 15px;
	font-weight: bold;
}
.desc-heading {
	font-size: 15px;
	font-weight: bold;
}
.desc-content {
	height: 405px;
	overflow-y: scroll;
	color: #6d6d6d;
	padding-right: 5px;
}
.data-content {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #f2f2f2;
}
.data-content__title {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.data-icon {
	height: 16px;
	margin-top: -2px;
}
.sub-heading {
	color: #787878;
	font-size: 14px;
}
.heading {
	color: #414040;
}
.company-data {
	font-size: 15px;
}
.map-title {
	margin-top: 10px;
}
.box-map {
	background-color: #eee;
	height: 210px;
}

@media (max-width: 349px) {
	.phone-number {
		padding-right: 15px;
	}
}
@media (min-width: 350px) and (max-width: 991px) {
	.phone-number {
		padding-right: 70px;
	}
}
@media (max-width: 991px) {
	.container-company-desc {
		margin-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	.company-desc {
		border-radius: 0;
	}
	.desc-content {
		height: 250px;
	}
	.phone-number {
		float: left;
	}
	.data-content {
		padding-top: 7px;
		padding-bottom: 7px;
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
	}
	.box-map {
		margin-bottom: 20px;
	}
}
@media (min-width: 992px) {
	.company-desc {
		height: 468px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.container-company-desc {
		padding-left: 0;
	}
}
@media (min-width: 1200px) {
	.company-desc {
		height: 421px;
	}
	.desc-content {
		height: 355px;
	}
	.container-company-desc {
		padding-left: 0;
	}
}
</style>
