<template>
	<div class="container-content">
		<div class="container">
			<!-- <div class="col-md-9 hidden-xs hidden-sm"> -->
			<div class="col-md-12 hidden-xs hidden-sm">
				<company-vacancy></company-vacancy>
			</div>
			<social-media class="hidden-md hidden-lg"></social-media>
			<div class="hidden-md hidden-lg">
				<company-vacancy></company-vacancy>
			</div>
		</div>
	</div>
</template>

<style scoped>
.container-content {
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 20px;
}
.company-recommend {
	padding-left: 0;
}

@media (max-width: 991px) {
	.container-content {
		padding-top: 0;
	}
	.company-recommend {
		padding-right: 0;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container-content {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.section-two {
		padding-top: 30px;
	}
}
</style>