<template>
	<div class="container-recommendation">
		<div class="data-title">
			<h2 class="recommendation-heading" v-if="companyVacancy == null">
				Belum ada lowongan kerja di sini.
			</h2>
			<h2 class="recommendation-heading" v-else>
				Lowongan yang tersedia di sini
			</h2>
		</div>

		<div class="vacancy-list" v-if="companyVacancy !== null">
			<div
				class="col-md-3 col-sm-4 related-card"
				v-for="(vacancy, index) in vacancyShow"
				:key="index"
				@click="openDetailVacancy(vacancy.share_slug)"
			>
				<div class="related-box more-jobs">
					<div class="related-content">
						<div class="related-content-data">
							<h3 class="related-content-title">{{ vacancy.title }}</h3>
						</div>
						<div class="related-content-data">
							<div class="related-content-salary">
								<label class="badge-fulltime" v-if="vacancy.type == 'FULL-TIME'"
									>FULL TIME</label
								>
								<label
									class="badge-parttime"
									v-else-if="vacancy.type == 'PART-TIME'"
									>PART TIME</label
								>
								<label
									class="badge-freelance"
									v-else-if="vacancy.type == 'FREELANCER'"
									>FREELANCE</label
								>
							</div>
						</div>
						<div class="related-content-data">
							<div class="related-content-salary company-salary">
								<span>{{ vacancy.salary }}</span>
							</div>
						</div>
						<div class="related-content-data">
							<p class="related-content-company">{{ vacancy.place_name }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="vacancy-more">
			<button
				type="button"
				class="btn btn-mamigreen btn-more"
				@click="addVacancy"
				v-if="companyVacancy == null"
			>
				Tambahkan Lowongan Kerja disini
			</button>
			<button
				type="button"
				class="btn btn-mamigreen btn-more"
				@click="moreVacancy(vacancyShow.length)"
				:disabled="vacancyShow.length == companyVacancy.length"
				v-else
			>
				Lihat Lebih Banyak
			</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			type: 'FULL-TIME',
			isOwner: '',
			isUser: '',
			verify: false,
			showList: 4,
			vacancyShow: []
		};
	},
	computed: {
		companyVacancy() {
			return this.$store.state.detail.vacancy_list;
		},
		slug() {
			return this.$store.state.detail.slug;
		}
	},
	created() {
		this.isOwner = this.$store.state.authCheck.owner;
		this.isUser = this.$store.state.authCheck.user;
		if (this.verification == '1') {
			this.verify = true;
		}
	},
	mounted() {
		if (this.companyVacancy !== null) {
			if (this.companyVacancy.length !== 0) {
				this.vacancyShow = this.companyVacancy.slice(0, 4);
			}
		}
	},
	methods: {
		moreVacancy(length) {
			let data = this.companyVacancy.slice(length, length + 4);
			this.vacancyShow.push.apply(this.vacancyShow, data);
		},
		addVacancy() {
			if (this.isUser == true) {
				swal(
					'',
					'Maaf, untuk bisa menambahkan data lowongan kerja Anda harus login sebagai Pemilik terlebih dahulu',
					'warning'
				);
			} else if (this.isOwner == true) {
				window.open('/input-loker', '_self');
			} else {
				window.open('/login?register=vacancy', '_self');
			}
		},
		openDetailVacancy(slug) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = slug;
			} else {
				window.open(slug, '_blank');
			}
		}
	}
};
</script>

<style scoped>
.container-recommendation {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}
.data-title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
}
.recommendation-heading {
	font-size: 14px;
	font-weight: bold;
}
.btn-more {
	width: 100%;
}
.vacancy-list {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}
.related-card {
	display: inline-block;
	vertical-align: top;
	cursor: default;
}
.related-box {
	position: relative;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
	/*height: 250px;*/
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	margin-bottom: 15px;
}
.related-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.related-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
	/*background-color: rgba(0, 0, 0, 0.7);*/
	text-align: center;
	/*color: #fff;*/
	transition: all ease-in 500ms;
	-webkit-transition: all ease-in 500ms;
	-moz-transition: all ease-in 500ms;
}
.related-content-data {
	padding-top: 2px;
	padding-bottom: 2px;
}
.related-content-salary {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.related-content-salary span {
	padding-bottom: 3px;
}
.related-content-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 10px;
	color: #1baa56;
	font-weight: bold;
	font-size: 16px;
}
.related-content-company,
.company-salary {
	font-weight: bold;
}
.related-content-company {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.badge-fulltime {
	font-weight: normal;
	background-color: #a25390;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-parttime {
	font-weight: normal;
	background-color: #e89122;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-freelance {
	font-weight: normal;
	background-color: #5eaca6;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

@media (max-width: 450px) {
	.related-card {
		width: 100%;
	}
}
@media (min-width: 451px) and (max-width: 767px) {
	.related-card {
		width: 50%;
	}
}
@media (max-width: 991px) {
	.container-recommendation {
		padding-bottom: 15px;
		border-radius: 0;
		margin-bottom: 20px;
	}
}
</style>
