<template>
	<div class="container-header">
		<div class="header-img"></div>
		<div class="header-detail container">
			<div class="section-one col-md-12 col-sm-12 col-xs-12">
				<div class="section-left">
					<img
						class="company-logo"
						:src="companyLogo"
						:alt="companyName"
						v-if="companyLogo !== '' && companyLogo !== null"
					/>
					<!-- <img class="company-logo" src="/assets/photos/mamikos_apartemen.png" alt="company_logo"> -->
					<div class="company-name">
						<h1 class="name-text heading">{{ companyName }} <br /></h1>
						<span class="category-text">{{ companyIndustry }}</span>
					</div>
				</div>
				<!-- <div class="section-right">
					<button type="button" class="btn btn-mamiorange btn-follow">Ikuti</button>
				</div> -->
			</div>

			<div class="clearfix"></div>

			<div class="section-two">
				<div class="data-head col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="data-content">
						<div class="data-content__title">
							<img
								src="/assets/icons/alamat.png"
								class="data-icon"
								alt="alamat"
							/>
							<h4 class="sub-heading">&nbsp;Lokasi<br /></h4>
						</div>
						<h4
							class="company-data heading"
							v-if="companyAddress !== '' && companyAddress !== null"
						>
							{{ companyAddress }}
						</h4>
						<h4 class="company-data heading" v-else>&nbsp;&nbsp;-</h4>
					</div>
				</div>
				<div class="data-head col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="data-content">
						<div class="data-content__title">
							<img
								src="/assets/icons/website.png"
								class="data-icon"
								alt="website"
							/>
							<h4 class="sub-heading">&nbsp;Website<br /></h4>
						</div>
						<a
							:href="companyWebsite"
							target="_blank"
							class="company-data link"
							v-if="companyUrl !== '' && companyUrl !== null"
							><h4 class="company-data heading">{{ companyUrl }}</h4></a
						>
						<!-- <span class="company-data link" v-if="companyWebsite !== '' && companyWebsite !== null">{{ companyWebsite }}</span> -->
						<span class="company-data link" v-else>&nbsp;&nbsp;-</span>
					</div>
				</div>
				<div class="data-head last col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="data-content">
						<div class="data-content__title">
							<img
								src="/assets/icons/ukuran_perusahaan.png"
								class="data-icon"
								alt="ukuran_perusahaan"
							/>
							<h4 class="sub-heading">&nbsp;Ukuran Perusahaan<br /></h4>
						</div>
						<h4
							class="company-data heading"
							v-if="companySize !== '' && companySize !== null"
						>
							{{ companySize }}
						</h4>
						<h4 class="company-data heading" v-else>&nbsp;&nbsp;-</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			affixWeb: '//',
			companyWebsite: ''
		};
	},
	computed: {
		companyName() {
			return this.$store.state.detail.name;
		},
		companyIndustry() {
			return this.$store.state.detail.industry;
		},
		companyAddress() {
			return this.$store.state.detail.company_address;
		},
		companyUrl() {
			return this.$store.state.detail.company_website;
		},
		companySize() {
			return this.$store.state.detail.company_size;
		},
		companyLogo() {
			return this.$store.state.detail.photo.small;
		}
	},
	mounted() {
		this.checkCompanyUrl();
	},
	methods: {
		checkCompanyUrl() {
			if (!this.companyUrl.includes('http')) {
				this.companyWebsite = this.affixWeb.concat(this.companyUrl);
			}
		}
	}
};
</script>

<style scoped>
.header-img {
	background-image: url(/assets/icons/pattern.jpg);
	background-repeat-x: repeat;
	background-size: 130px;
	margin-top: 45px;
	height: 70px;
}
.header-detail {
	background-color: #fff;
	padding-bottom: 10px;
}
.section-one {
	padding-bottom: 10px;
}
.section-left {
	float: left;
}
.company-logo {
	margin-top: -30px;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.company-name {
	margin-top: 10px;
}
.name-text {
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}
.category-text {
	font-size: 16px;
	color: #383746;
}
.btn-follow {
	float: right;
	width: 150px;
	margin-top: 15px;
}

.section-two {
	padding-bottom: 20px;
}
.data-content {
	padding-left: 15px;
}
.data-content__title {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.data-icon {
	height: 16px;
	margin-top: -2px;
}
.data-head {
	padding-left: 0;
}
.sub-heading {
	color: #787878;
	font-size: 14px;
}
.company-data.heading {
	font-size: 14px;
}
.heading {
	color: #414040;
}
.link {
	color: #2191c6;
}
.company-data {
	font-size: 15px;
}

@media (max-width: 320px) {
	.company-name {
		max-width: 150px;
	}
}
@media (min-width: 321px) and (max-width: 499px) {
	.company-name {
		max-width: 200px;
	}
}
@media (max-width: 499px) {
	.name-text {
		font-size: 18px;
	}
	.category-text {
		font-size: 14px;
	}
	.btn-follow {
		width: 50px;
	}
}
@media (min-width: 500px) and (max-width: 550px) {
	.company-name {
		max-width: 350px;
	}
}
@media (min-width: 500px) and (max-width: 699px) {
	.name-text {
		font-size: 20px;
	}
	.btn-follow {
		width: 70px;
	}
}
@media (max-width: 991px) {
	.section-one {
		border-bottom: 1px solid #f2f2f2;
	}
	.data-head {
		padding-bottom: 7px;
		padding-top: 5px;
		border-bottom: 1px solid #f2f2f2;
	}
	.last {
		border-bottom: none;
	}
}
@media (min-width: 992px) {
	.section-two {
		padding-top: 30px;
	}
	.header-detail {
		padding-bottom: 20px;
	}
	.company-name,
	.company-logo {
		float: left;
	}
	.name-text,
	.category-text {
		margin-left: 15px;
	}
}
</style>
