<template>
	<div class="container-recommend">
		<div class="data-title">
			<span>Perusahaan Lain di Industri yang Sama</span>
		</div>
		<div class="company-list">
			<div class="company-list-detail">
				<img
					class="company-logo"
					src="/assets/photos/mamikos_apartemen.png"
					alt="company_logo"
				/>
				<div class="company-title">
					<span>PT. Pamapersada Nusantara</span>
				</div>
				<div class="vacancy-count">
					<span>12 Lowongan Kerja</span>
				</div>
			</div>

			<div class="clearfix space"></div>

			<div class="company-list-detail">
				<img
					class="company-logo"
					src="/assets/photos/mamikos_apartemen.png"
					alt="company_logo"
				/>
				<div class="company-title">
					<span>PT. Pamapersada Nusantara</span>
				</div>
				<div class="vacancy-count">
					<span>12 Lowongan Kerja</span>
				</div>
			</div>

			<div class="clearfix space"></div>

			<div class="company-list-detail">
				<img
					class="company-logo"
					src="/assets/photos/mamikos_apartemen.png"
					alt="company_logo"
				/>
				<div class="company-title">
					<span>PT. Pamapersada Nusantara</span>
				</div>
				<div class="vacancy-count">
					<span>12 Lowongan Kerja</span>
				</div>
			</div>

			<div class="clearfix space"></div>
		</div>

		<div class="company-more">
			<button
				type="button"
				class="btn btn-mamigreen btn-more"
				@click="moreCompany"
			>
				Lihat Perusahaan Lain
			</button>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		moreCompany() {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = '/company-related';
			} else {
				window.open('/company-related', '_blank');
			}
		}
	}
};
</script>

<style scoped>
.container-recommend {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}
.data-title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
	border-bottom: 1px solid #f2f2f2;
}
.company-logo {
	width: 45px;
	height: 45px;
	float: left;
	padding-right: 7px;
}
.company-list {
	margin-top: 10px;
}
/*.company-list-detail {
	padding-left: 0;
	padding-bottom: 10px;
}*/
.vacancy-count {
	font-size: 12px;
}
.company-title {
	white-space: nowrap;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.space {
	margin-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
}
.btn-more {
	width: 100%;
}

@media (max-width: 991px) {
	.container-recommend {
		border-radius: 0;
		padding-bottom: 15px;
	}
}
</style>
