<template>
	<div class="container-content">
		<div class="container">
			<company-culture class="col-md-4"></company-culture>
			<!-- <company-vacancy class="hidden-md hidden-lg"></company-vacancy> -->
			<company-description class="col-md-8"></company-description>
		</div>
	</div>
</template>

<script>
	
</script>

<style scoped>
.container-content {
	background-color: #f2f2f2;
	padding-top: 20px;
}

@media (max-width: 991px) {
	.container {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container-content {
		padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.section-two {
		padding-top: 30px;
	}
}
</style>