<template>
	<div class="container-company">
		<div v-if="isLoading"></div>
		<div v-else>
			<company-header></company-header>
			<company-profile-content></company-profile-content>
			<company-list-other></company-list-other>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoading: false
		};
	},
	computed: {
		slug() {
			return this.$store.state.slug;
		}
	},
	created() {
		this.isLoading = true;
		axios
			.get('/stories/jobs/company/detail/' + this.slug)
			.then(response => {
				this.isLoading = false;
				if (response.data.status) {
					this.$store.commit('setDetail', response.data.data);
				}
			})
			.catch(error => {
				bugsnagClient.notify(error);
				alert(
					'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
				);
			});
	}
};
</script>

<style scoped></style>
