<template>
	<div class="container-sns">
		<div class="data-title">
			<h5 class="data-title__heading">Bagikan Lewat</h5>
		</div>
		<div class="data-content">
			<div class="addthis_inline_share_toolbox landing-share"></div>
		</div>
	</div>
</template>

<script>
</script>

<style scoped>
.container-sns {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}
.data-title {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
}
.data-title__heading {
	font-size: 15px;
	font-weight: bold;
}
.data-content {
	padding-top: 7px;
	padding-bottom: 7px;
}

@media (min-width: 385px) and (max-width: 429px) {
	.container-sns {
		height: 150px;
	}
}
@media (min-width: 430px) and (max-width: 991px) {
	.container-sns {
		height: 85px;
	}
}
@media (min-width: 385px) and (max-width: 991px) {
	.data-title {
		float: left;
		padding-right: 10px;
		padding-top: 17px;
	}
	.data-content {
		float: left;
	}
}
@media (max-width: 991px) {
	.container-sns {
		border-radius: 0;
		margin-top: 0;
		margin-bottom: 20px;
	}
}
</style>
