<template>
	<div>
		<div class="title">
			Cara Mudah Mendapatkan MamiPoin
		</div>
		<div class="subtitle">
			Kamu bisa mengumpulkan MamiPoin dengan melakukan aktivitas-aktivitas
			berikut.
		</div>
		<div v-for="(item, key) in content" :key="key" class="guideline">
			<div class="guideline-title">{{ item.title }}</div>
			<div class="guideline-content" v-html="item.description"></div>
		</div>
		<div v-if="content && !isLoad" class="footer">
			<hr class="footer__line" />
			<div class="footer__text">
				Untuk informasi lebih lanjut, silakan ke halaman

				<span class="footer__link"
					><a
						href="http://help.mamikos.com/penghuni/?category=mamipoin&subCategory=tentang-mamipoin"
						target="_blank"
						rel="noopener"
						>Pusat Bantuan</a
					>
				</span>
			</div>
		</div>
		<mamipoin-skeleton v-if="isLoad" />
	</div>
</template>

<script>
import MamipoinSkeleton from '../MamipoinSkeleton';
export default {
	name: 'MamipoinGuideLinePage',
	components: {
		MamipoinSkeleton
	},

	props: {
		content: {
			type: Array,
			required: true
		},
		isLoad: {
			type: Boolean,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.title {
	display: flex;
	height: 36px;
	margin: 24px 0px 8px;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: 36px;
	align-items: flex-end;
	color: #242424;
	@media (max-width: 767px) {
		width: 328px;
		height: 56px;
		margin: 122px 0px 8px 16px;
		line-height: 28px;
		color: #242424;
	}
}
.subtitle {
	margin-bottom: 24px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: flex-end;
	color: #484848;
	@media (max-width: 767px) {
		width: 328px;
		margin-bottom: 24px;
		margin-left: 16px;
		color: #484848;
	}
}

.guideline {
	width: 655px;
	font-family: Lato;
	font-style: normal;
	@media (min-width: 768px) and (max-width: 1024px) {
		width: 95%;
	}
	@media (max-width: 767px) {
		width: 328px;
		margin-left: 16px;
		font-family: Lato;
		font-style: normal;
	}
	.guideline-title {
		margin-bottom: 8px;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		color: #484848;
		@media (max-width: 767px) {
			margin-bottom: 0;
			font-size: 18px;
			font-weight: 900;
			line-height: 26px;
			color: #303030;
		}
	}

	.guideline-content {
		margin: -7px 0 17px;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		color: #484848;
		@media (max-width: 767px) {
			margin: 0 0 15px;
			font-size: 16px;
			font-weight: normal;
			line-height: 24px;
			color: #484848;
		}
	}
}

a:hover {
	text-decoration: none;
}
.footer {
	width: 619px;
	font-family: Lato;
	font-style: normal;

	@media (min-width: 768px) and (max-width: 1024px) {
		width: 95%;
	}

	@media (max-width: 767px) {
		width: 328px;
		height: 48px;
		margin-top: 41px;
		margin-left: 16px;
		font-family: Lato;
		font-style: normal;
	}

	&__line {
		height: 1px;
		margin: 24px 0px 24px;
		background: #e8e8e8;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__text {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #404040;

		@media (max-width: 767px) {
			font-size: 16px;
			font-weight: normal;
			line-height: 24px;
			color: #404040;
		}
	}

	&__link {
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #1baa56;

		@media (max-width: 767px) {
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			color: #1baa56;
		}
	}
}
</style>
