<template>
	<div class="main-container">
		<div class="content">
			<div v-html="content"></div>
		</div>
		<mamipoin-skeleton v-if="isLoad" />
	</div>
</template>

<script>
import MamipoinSkeleton from '../MamipoinSkeleton';
import mixinMamipoin from '../../../mixins/mixinMamipoin';
export default {
	name: 'MamipoinTnC',
	components: {
		MamipoinSkeleton
	},
	mixins: [mixinMamipoin],
	props: {
		content: {
			type: String,
			required: true
		},
		isLoad: {
			type: Boolean,
			required: true
		}
	},
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},
	mounted() {
		this.sendMamipoinTncTrackerEvent();
	},
	methods: {
		sendMamipoinTncTrackerEvent() {
			tracker('moe', [
				'[User] MamiPoin TnC Tab Viewed',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: this.$store.state.redirectionSource,
					point_total: this.toThousand(this.$store.state.totalPoin.point)
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.main-container {
	width: 656px;
	margin-top: 24px;
	@media (min-width: 768px) and (max-width: 1024px) {
		width: 95%;
		margin-top: 24px;
	}
}

.content {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #484848;
	@media (max-width: 767px) {
		width: 326px;
		margin: 95px 0 35px 16.5px;
	}
	&ol {
		&li {
			margin-bottom: 20px;
		}
	}
}
</style>
