<template>
	<div class="main-container">
		<div v-if="!isMobile" class="title">Dapatkan Poin</div>
		<div v-else class="b-close">
			<img
				class="b-close__icon"
				src="/general/img/icons/ic_close-mamipoin.svg"
				@click="closeMamipoinGuideline"
			/>
		</div>

		<div class="tab">
			<div
				class="tab__content"
				:class="{ tab__active: selected === 'guideline' }"
				@click="curentActive('guideline')"
			>
				Petunjuk
			</div>
			<div
				class="tab__content"
				:class="{ tab__active: selected === 'TnC' }"
				@click="curentActive('TnC')"
			>
				Syarat dan Ketentuan
			</div>
		</div>
		<div class="content">
			<mamipoin-guideline-page
				v-if="selected === 'guideline'"
				:content="guideline"
				:isLoad="isLoadGuideline"
			/>
			<mamipoin-tn-c
				v-if="selected === 'TnC'"
				:content="contentTnc"
				:isLoad="isLoadTnc"
			/>
		</div>
	</div>
</template>

<script>
import MamipoinGuidelinePage from './MamipoinGuideLinePage';
import MamipoinTnC from './MamipoinTnC';
import mixinsMamipoin from '../../../mixins/mixinMamipoin';
export default {
	name: 'MamipoinGuideline',
	components: { MamipoinGuidelinePage, MamipoinTnC },
	mixins: [mixinsMamipoin],
	data() {
		return {
			selected: 'guideline'
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},
	mounted() {
		this.getGuideLine();
		this.getTnC();
	},
	methods: {
		curentActive(menu) {
			this.selected = menu;
			if (menu === 'guideline') {
				this.sendMamipoinGuidelineTrackerEvent();
			}
		},
		closeMamipoinGuideline() {
			this.$router.push({ path: '/mamipoin' });
		},
		sendMamipoinGuidelineTrackerEvent() {
			tracker('moe', [
				'[User] MamiPoin Guideline Tab Viewed',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: this.$store.state.redirectionSource,
					point_total: this.toThousand(this.$store.state.totalPoin.point)
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	margin: 0px;
	color: #303030;
}
.tab {
	display: flex;
	width: 352px;
	margin-top: 16px;
	cursor: pointer;

	@media (max-width: 767px) {
		display: flex;
		margin-top: 56px;
		border-bottom: solid 1px #e8e8e8;
		cursor: pointer;
		width: 100%;
		position: fixed;
		background: rgb(255, 255, 255);
		z-index: 1051;
	}
	&__content {
		height: 48px;
		width: 176px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #949494;
		padding: 13px 8px 14px;
		border-bottom: solid 2px #e8e8e8;

		@media (max-width: 767px) {
			height: 42px;
			margin: 0px 16px 0px 16px;
			width: auto;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: #757575;
			padding: 8px 0px 8px;
			margin-left: 16px;
			border-bottom: none;
		}
	}
	&__active {
		border-bottom: solid 2px #1baa56;
		color: #303030;
	}
}

@media (max-width: 767px) {
	.main-container {
		position: fixed;
		z-index: 1050;
		background: #ffffff;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.b-close {
		width: 100%;
		height: 56px;
		background: #ffffff;
		position: fixed;
		z-index: 1055;
		&__icon {
			float: right;
			margin: 18px;
		}
	}
}
</style>
