<template>
	<action-sheet v-model="isActionSheetOpen">
		<div class="row">
			<div class="col-xs-12">
				<h4><strong>Yakin ingin hapus data ini?</strong></h4>
			</div>
			<div class="col-xs-12">
				<p class="text-muted">
					Data properti potensial pada pemilik ini juga akan terhapus dan tidak
					bisa dikembalikan.
				</p>
			</div>
			<div class="col-xs-12 mt-2">
				<div class="row">
					<div class="col-xs-6">
						<ct-button
							:loading="loadingDelete"
							color="secondary"
							loading-text="Menghapus..."
							outline
							large
							block
							@click="handleDeletePotentialOwner"
							>Hapus</ct-button
						>
					</div>
					<div class="col-xs-6">
						<ct-button
							color="warning"
							large
							block
							@click="isActionSheetOpen = false"
							>Batalkan</ct-button
						>
					</div>
				</div>
			</div>
		</div>
	</action-sheet>
</template>

<script>
import ActionSheet from 'Consultant/components/Snackbar';
import CtButton from 'Consultant/components/ConsultantButton';
import EventBus from 'Consultant/event-bus';

export default {
	name: 'DeleteConfirmActionSheet',

	components: {
		ActionSheet,
		CtButton
	},

	data() {
		return {
			isActionSheetOpen: false,
			loadingDelete: false
		};
	},

	computed: {
		ownerId() {
			return this.$route.params.id;
		}
	},

	methods: {
		/**
		 * @public
		 */
		openActionSheet() {
			this.isActionSheetOpen = true;
		},

		async handleDeletePotentialOwner() {
			this.loadingDelete = true;
			let errorMessage = '';
			try {
				const response = await axios.delete(
					`/api/potential-owner/${this.ownerId}`
				);

				if (response.data.status) {
					EventBus.$emit(
						'openAlert',
						'Data pemilik potensial behasil dihapus.',
						'dark',
						{ placement: 'bottom' }
					);
					this.$route.meta.navbarOptions.onClickBack();
				} else {
					errorMessage = response.data.meta.message;
				}
			} catch (error) {
				bugsnagClient.notify(error);
				errorMessage = 'Terjadi galat, silahkan coba lagi';
			} finally {
				this.loadingDelete = false;
				if (errorMessage) {
					EventBus.$emit('openAlert', errorMessage);
				}
			}
		}
	}
};
</script>
