<template>
	<div class="filter-dates">
		<div class="row">
			<div class="col-xs-6">
				<Datepicker
					:value="dateStart"
					:format="'dd/MM/yyyy'"
					placeholder="Start"
					:disabled-dates="disabledDateStart"
					outlined-activator
					black-icon
					prepend-icon
					picker-on-above
					@selected="selectDate($event, 'start')"
				/>
			</div>
			<div class="col-xs-6">
				<Datepicker
					class="datepicker-end"
					:value="dateEnd"
					:format="'dd/MM/yyyy'"
					placeholder="End"
					:disabled-dates="disabledDateEnd"
					outlined-activator
					black-icon
					prepend-icon
					picker-on-above
					@selected="selectDate($event, 'end')"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

export default {
	name: 'FilterDates',

	components: {
		Datepicker: () => ({
			component: import('Consultant/components/ConsultantDatepicker.vue'),
			loading: Shimmer
		})
	},

	props: {
		dateStart: {
			type: String,
			default: ''
		},
		dateEnd: {
			type: String,
			default: ''
		}
	},

	computed: {
		disabledDateStart() {
			if (!this.dateEnd) {
				return {};
			}

			return { from: new Date(this.dateEnd) };
		},
		disabledDateEnd() {
			if (!this.dateStart) {
				return {};
			}

			return { to: new Date(this.dateStart) };
		}
	},

	methods: {
		selectDate(data, type) {
			const formattedDate = this.$dayjs(data).format('YYYY-MM-DD');

			switch (type) {
				case 'start':
					this.$emit('update:dateStart', formattedDate);
					break;

				case 'end':
					this.$emit('update:dateEnd', formattedDate);
					break;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.filter-dates {
	::v-deep .consultant-datepicker.datepicker-end {
		.vdp-datepicker__calendar {
			left: -117px;
		}
	}
}
</style>
