<template>
	<router-link class="owner-list-card" :to="link">
		<ct-card>
			<ct-card-body slot="body">
				<div class="row">
					<div class="col-xs-12 mb-1">
						<h4>
							<strong>{{ item.name }}</strong>
						</h4>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<i class="mamikos-icon icon-phone"></i> &nbsp;&nbsp;
							{{ ('0' + item.phone_number) | handleEmpty }}
						</div>
						<div class="detail-icon">
							<i class="mamikos-icon icon-email"></i> &nbsp;&nbsp;
							{{ item.email | handleEmpty }}
						</div>
						<div class="detail-icon">
							<i class="mamikos-icon icon-calendar"></i> &nbsp;&nbsp;
							{{ visitDate }}
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="detail-icon">
									<i class="mamikos-icon icon-building"></i> &nbsp;&nbsp;
									{{ item.total_property }} Data Properti
								</div>
							</div>
							<div class="col-xs-6">
								<div class="detail-icon">
									<i class="mamikos-icon icon-room-inside"></i> &nbsp;&nbsp;
									{{ item.total_room }} Kamar
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<hr />
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<div>BBK Status</div>
								<chip :type="item.bbkStatus.color" medium>
									{{ item.bbkStatus.text }}
								</chip>
							</div>
							<div class="col-xs-6">
								<div>Follow Up Status</div>
								<chip :type="item.followupStatus.color" medium>
									{{ item.followupStatus.text }}
								</chip>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<hr />
					</div>
					<div class="col-xs-12">
						<span class="text-muted">
							<i
								>Update Terakhir: {{ lastUpdate }} oleh {{ item.updated_by }}</i
							>
						</span>
					</div>
				</div>
			</ct-card-body>
		</ct-card>
	</router-link>
</template>

<script>
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import Chip from 'Consultant/components/Chip';

export default {
	name: 'OwnerListCard',

	components: {
		CtCard,
		CtCardBody,
		Chip
	},

	filters: {
		handleEmpty(value) {
			return value || '-';
		}
	},

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	computed: {
		link() {
			return {
				name: 'po.detail',
				params: {
					id: this.item.id
				}
			};
		},
		visitDate() {
			const visitDate = this.item.date_to_visit;
			if (visitDate !== '0000-00-00') {
				return this.$dayjs(visitDate).format('DD MMMM YYYY');
			} else {
				return '-';
			}
		},
		lastUpdate() {
			const lastDate = this.item.updated_at.replace(' ', 'T');
			return this.$dayjs(lastDate).format('DD MMM YYYY');
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-list-card {
	color: unset !important;

	.detail-icon {
		display: flex;
		align-items: center;
		color: #303030;

		.mamikos-icon {
			font-size: 20px;
		}
	}

	/* stylelint-disable-next-line */
	hr {
		margin: 20px 0;
	}

	::v-deep .chip {
		margin: 8px 0 0;
	}
}
</style>
