<template>
	<action-sheet v-model="isOpen" reset-padding :fullscreen="type === 'filter'">
		<div class="list-action__wrapper" :class="`action--${type}`">
			<div v-if="type === 'filter'" class="list-action__header gap-side">
				<button class="close-btn" @click="close">
					<i class="mamikos-icon icon-cross"></i>
				</button>
				<h4><strong>Filter</strong></h4>
			</div>
			<div class="list-action__body gap-side">
				<div v-if="type === 'filter'" class="row">
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Dibuat oleh</strong></h4>
						<div v-for="(filter, i) in filterItems" :key="`filter-${i}`">
							<ct-checkbox v-model="selectedFilter" :value="filter.value">
								{{ filter.label }}
							</ct-checkbox>
						</div>
					</div>
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>BBK Status</strong></h4>
						<div v-for="(filter, i) in bbkStatusFilters" :key="`bbk-filter-${i}`">
							<ct-checkbox v-model="selectedBbkFilters" :value="filter.value">
								{{ filter.label }}
							</ct-checkbox>
						</div>
					</div>
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Follow Up Status</strong></h4>
						<div v-for="(filter, i) in followupStatusFilters" :key="`followup-filter-${i}`">
							<ct-checkbox v-model="selectedFollowupFilters" :value="filter.value">
								{{ filter.label }}
							</ct-checkbox>
						</div>
					</div>
					<div class="col-xs-12">
						<h4 class="mb-2"><strong>Tanggal Kunjungan</strong></h4>
					</div>
					<div class="col-xs-12">
						<FilterDates
							:date-start.sync="dateStart"
							:date-end.sync="dateEnd"
						/>
					</div>
				</div>
				<div v-else-if="type === 'sort'" class="mt-2 mb-2">
					<ct-radio-group
						v-model="selectedSort"
						:options="sortItems"
					></ct-radio-group>
				</div>
			</div>
			<div
				class="list-action__footer gap-side"
				:class="{ '--fixed': type === 'filter' }"
			>
				<div class="row">
					<div class="col-xs-6">
						<ct-button
							color="secondary"
							outline
							large
							block
							@click="handleLeftButton"
							>{{ type === 'filter' ? 'Reset' : 'Batal' }}</ct-button
						>
					</div>
					<div class="col-xs-6">
						<ct-button
							:disabled="isDisabledApplyButton"
							large
							block
							@click="applyAction"
							>Terapkan</ct-button
						>
					</div>
				</div>
			</div>
		</div>
	</action-sheet>
</template>

<script>
/* eslint-disable camelcase */
import ActionSheet from 'Consultant/components/Snackbar';
import CtButton from 'Consultant/components/ConsultantButton';
import CtCheckbox from 'Consultant/components/CtCheckbox';
import CtRadioGroup from 'Consultant/components/ConsultantRadioGroup';
import FilterDates from './FilterDates';

import EventBus from 'Consultant/event-bus';
import { find } from 'lodash';

import bbkStatusFilters from '../data/bbkStatusFilters.json';
import followupStatusFilters from '../data/followupStatusFilters.json';

export default {
	name: 'PotentialOwnerListAction',

	components: {
		ActionSheet,
		CtButton,
		CtCheckbox,
		CtRadioGroup,
		FilterDates
	},

	data() {
		return {
			isOpen: false,
			filterItems: [
				{
					label: 'Pemilik',
					value: 'owner'
				},
				{
					label: 'Konsultan',
					value: 'consultant'
				}
			],
			sortItems: [
				{
					label: 'Update Terakhir',
					value: 'updated_at',
					sort: 'updated_at',
					order: 'desc'
				},
				{
					label: 'Tanggal Kunjungan Terlama',
					value: 'oldest_visit_date',
					sort: 'date_to_visit',
					order: 'asc'
				},
				{
					label: 'Tanggal Kunjungan Terbaru',
					value: 'newest_visit_date',
					sort: 'date_to_visit',
					order: 'desc'
				}
			],
			type: 'sort',
			selectedFilter: [],
			selectedSort: '',
			dateStart: '',
			dateEnd: '',
			bbkStatusFilters: bbkStatusFilters,
			followupStatusFilters: followupStatusFilters,
			selectedBbkFilters: [],
			selectedFollowupFilters: []
		};
	},

	computed: {
		isDisabledApplyButton() {
			if (this.type === 'filter') {
				const numberOfConcatenationDate =
					Number(!!this.dateStart) + Number(!!this.dateEnd);
				return numberOfConcatenationDate === 1;
			}
			return false;
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				this.checkActiveFilterAndSort(route.query);
			}
		},
		isOpen: {
			immediate: true,
			handler(isActionSheetOpen) {
				if (isActionSheetOpen) {
					this.checkActiveFilterAndSort(this.$route.query);
				}
			}
		}
	},

	methods: {
		/**
		 * @public
		 */
		open(type) {
			this.type = type;

			if (type === 'filter') {
				this.setCurrentActiveFilter();
			}

			this.isOpen = true;
		},

		close() {
			this.isOpen = false;
		},

		/**
		 * set active filter after component appeared
		 */
		setCurrentActiveFilter() {
			const {
				filters,
				date_visit_from = '',
				date_visit_to = ''
			} = this.$route.query;

			this.dateStart = date_visit_from;
			this.dateEnd = date_visit_to;

			if (filters) {
				this.selectedFilter = filters.split(',');
			} else {
				this.selectedFilter = [];
			}
		},

		handleLeftButton() {
			switch (this.type) {
				case 'filter':
					this.selectedFilter = [];
					this.dateStart = '';
					this.dateEnd = '';
					this.selectedBbkFilters = [];
					this.selectedFollowupFilters = [];
					break;

				case 'sort':
					this.close();
					break;
			}
		},

		applyAction() {
			if (this.type === 'filter') {
				let dateFilter = {};
				const currentQuery = { ...this.$route.query };

				if (this.dateStart && this.dateEnd) {
					dateFilter = {
						date_visit_from: this.dateStart,
						date_visit_to: this.dateEnd
					};
				} else {
					delete currentQuery.date_visit_from;
					delete currentQuery.date_visit_to;
				}

				this.chnageRoute(
					{
						filters: this.selectedFilter.join(','),
						bbk_status: this.selectedBbkFilters.join(','),
						followup_status: this.selectedFollowupFilters.join(','),
						...dateFilter
					},
					currentQuery
				);
			} else if (this.type === 'sort') {
				const selectedSort = find(this.sortItems, {
					value: this.selectedSort
				});

				this.chnageRoute(
					{
						sort_by: selectedSort.sort,
						order_direction: selectedSort.order
					},
					this.$route.query
				);
			}

			this.close();
		},

		chnageRoute(updatedQuery, currentQuery) {
			this.$router.push({
				name: this.$route.name,
				query: {
					...currentQuery,
					page: 1,
					...updatedQuery
				}
			});
		},

		checkActiveFilterAndSort(query) {
			this.setActiveSort(query);
			this.setActiveFilter(query);
		},

		setActiveSort({ sort_by = 'updated_at', order_direction = 'desc' }) {
			const selectedSort = find(this.sortItems, {
				sort: sort_by,
				order: order_direction
			});

			if (selectedSort) {
				this.selectedSort = selectedSort.value;
				this.setParentLabel('sort', selectedSort.label);
			} else {
				this.selectedSort = 'updated_at';
				this.setParentLabel('sort', 'Update Terakhir');
			}
		},

		setActiveFilter(query) {
			const { filters, date_visit_from, date_visit_to, bbk_status, followup_status } = query;
			let activeFilterLength = 0;

			if (filters) {
				this.selectedFilter = filters.split(',');
				activeFilterLength += this.selectedFilter.length;
			}

			if (date_visit_from && date_visit_to) {
				this.dateStart = date_visit_from;
				this.dateEnd = date_visit_to;
				activeFilterLength += 1;
			}

			if (bbk_status) {
				this.selectedBbkFilters = bbk_status.split(',');
				activeFilterLength += this.selectedBbkFilters.length;
			}

			if (followup_status) {
				this.selectedFollowupFilters = followup_status.split(',');
				activeFilterLength += this.selectedFollowupFilters.length;
			}

			this.setParentLabel('filter', activeFilterLength);
		},

		setParentLabel(type, value) {
			EventBus.$emit('SET_OWNER_ACTION_LABEL', { type, value });
		}
	}
};
</script>

<style lang="scss" scoped>
.gap-side {
	padding: 15px 20px;
}

.list-action__wrapper {
	position: relative;

	&.action--filter {
		min-height: 100vh;
	}

	.close-btn {
		position: absolute;
		top: 50%;
		left: 10px;
		background-color: transparent;
		border: unset;
		outline: unset;
		transform: translateY(-50%);

		.mamikos-icon {
			font-size: 27px;
		}
	}

	.list-action__header {
		position: relative;
		border-bottom: 1px solid #e1e9f1;

		/* stylelint-disable-next-line */
		h4 {
			margin: unset;
			font-size: 18px;
			text-align: center;
		}
	}

	.list-action__body {
		max-height: calc(100vh - 150px);
		overflow-y: auto;
	}

	.list-action__footer {
		background-color: #fff;
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.04);

		&.--fixed {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
</style>
