<template>
	<div>
		<history-select-filter
			header-title="Filter"
			title="Jenis Kos"
			:option-filter="filterGender"
			:active-bottom-line="true"
			:is-multiple-select="false"
		></history-select-filter>

		<history-select-filter
			title="Harga Sewa"
			:option-filter="filterPriceRent"
		></history-select-filter>
	</div>
</template>

<script>
import HistorySelectFilter from './HistorySelectFilter';

export default {
	components: {
		HistorySelectFilter
	},

	data() {
		return {
			filterGender: [
				{
					label: 'Putra',
					value: 'male',
					active: false
				},
				{
					label: 'Putri',
					value: 'female',
					active: false
				},
				{
					label: 'Campur',
					value: 'mix',
					active: false
				}
			],
			filterPriceRent: [
				{
					label: 'Per Hari',
					value: '',
					active: false
				},
				{
					label: 'Per Minggu',
					value: '',
					active: false
				},
				{
					label: 'Per Bulan',
					value: '',
					active: false
				},
				{
					label: 'Per 3 Bulan',
					value: '',
					active: false
				},
				{
					label: 'Per 6 Bulan',
					value: '',
					active: false
				},
				{
					label: 'Per Tahun',
					value: '',
					active: false
				}
			]
		};
	}
};
</script>
