<template>
	<div
		id="bookingListCard"
		@click="$router.push(`/riwayat-transaksi/${transaction.invoiceId}`)"
	>
		<div class="booking-card">
			<div class="card-header">
				<span class="text-header">
					{{ transaction.status }}
				</span>
				<span class="text-header">
					{{ detailDate }}
				</span>
			</div>

			<div class="card-body row detail-transaction">
				<div class="col-xs-6">
					<span class="left-text"
						>{{ transaction.type }} - {{ simpleDate }}</span
					>
				</div>
				<div class="col-xs-6 text-right">
					<span class="right-text">{{ price }}</span>
				</div>
			</div>

			<div class="card-footer row detail-footer-transaction">
				<div class="col-xs-6">
					<span class="left-text"> {{ transaction.kostName }}</span>
				</div>
				<div class="col-xs-6 text-right">
					<a class="right-text" href="#"
						><span>Detail Tagihan</span>
						<img
							width="17px"
							src="/general/img/icons/ic_chevron_right_green.svg"
							alt="ic_chevron_right_green"
					/></a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		transaction: {
			type: Object,
			default: () => {
				return {
					invoiceId: '',
					paidDate: '',
					type: '',
					price: '',
					kostName: '',
					status: ''
				};
			}
		}
	},

	computed: {
		simpleDate() {
			const formating = this.$dayjs(this.transaction.paidDate).format('D MMM');
			return formating;
		},
		detailDate() {
			const formating = this.$dayjs(this.transaction.paidDate).format(
				'D MMM YYYY, HH:mm'
			);
			return formating;
		},
		price() {
			return `Rp${Number(this.transaction.price).toLocaleString('id')}`;
		}
	}
};
</script>

<style lang="scss">
.modal-booking-detail {
	.modal-dialog {
		margin: 0;
		height: 100%;

		.modal-header {
			font-size: 1.6rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			background: white;
			width: 100%;

			&:after,
			&:before {
				content: none;
			}

			> span {
				line-height: 1;
			}

			span.modal--close {
				font-size: 2em;
				cursor: pointer;
				display: inline-block;
				background-color: transparent;
				border: none;
				box-shadow: none;
			}
		}

		.modal-content {
			border-radius: 0;
			border: unset;
			box-shadow: unset;
			padding-top: 6.4rem;
			padding-bottom: 8.7rem;
			height: 100%;
			overflow-y: scroll;
		}

		.modal-footer {
			display: none;
		}
	}
}
</style>

<style lang="scss" scoped>
#bookingListCard {
	cursor: pointer;
}

.booking-card {
	box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
	margin-bottom: 2rem;
	border-radius: 8px;
}

.card-header {
	padding: 1.6rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f5;
	height: 26px;

	> label {
		margin-bottom: 0px;
		margin-top: 3px;
	}

	@media (max-width: 425px) {
		font-size: 0.9em;
	}

	.text-header {
		color: #484848;
		font-size: 1em;
	}
}

.card-body {
	padding: 1.5rem 1.5rem 0.1rem;
	display: flex;
}

.card-footer {
	padding: 1rem 1.5rem 1.4rem;
}

.detail-transaction {
	.left-text {
		font-weight: bold;
		font-size: 1em;
		color: #484848;
	}

	.right-text {
		font-weight: bold;
		font-size: 1.333em;
		color: #484848;
	}
}

.detail-footer-transaction {
	.left-text {
		color: #aaaaaa;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		display: block;
	}

	.right-text {
		color: #1baa56;
		font-weight: bold;
		white-space: nowrap;
	}
}
</style>
