<template>
	<div class="filter-options" @click="$emit('showModalFilter', true)">
		<span v-if="headerTitle" class="text-header-filter">{{ headerTitle }}</span>
		<span v-if="title" class="text-header-sub-filter">{{ title }}</span>
		<div
			v-if="isMultipleSelect"
			class="wrapper-filter"
			:class="{ '--is-custom-border-bottom': activeBottomLine }"
		>
			<span
				v-for="(option, i) in options"
				:key="i"
				:class="{ '--is-active': option.active }"
				@click="multipleSelect(i)"
				>{{ option.label }}</span
			>
		</div>

		<div
			v-else
			class="wrapper-filter"
			:class="{ '--is-custom-border-bottom': activeBottomLine }"
		>
			<span
				v-for="(option, i) in options"
				:key="i"
				:class="{ '--is-active': option.active }"
				@click="singleSelect(i)"
				>{{ option.label }}</span
			>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		headerTitle: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		activeBottomLine: {
			type: Boolean,
			default: false
		},
		optionFilter: {
			type: Array,
			default: () => {
				return [
					{
						label: '',
						value: '',
						active: false
					}
				];
			}
		},
		isMultipleSelect: {
			type: Boolean,
			default: true
		}
	},

	data() {
		return {
			options: this.optionFilter
		};
	},

	methods: {
		multipleSelect(index) {
			this.options[index].active = !this.options[index].active;
		},
		singleSelect(index) {
			this.options = this.optionFilter;
			this.options[index].active = true;
		}
	}
};
</script>

<style lang="scss" scoped>
.filter-options {
	margin-top: 0.5rem;
	line-height: 2;

	.text-header-filter {
		display: block;
		font-size: 1.667em;
		font-weight: bold;
		color: #242424;
	}

	.text-header-sub-filter {
		display: block;
		font-size: 1.333em;
		font-weight: bold;
		color: #484848;
	}

	.wrapper-filter {
		display: flex;
		flex-wrap: wrap;
		margin: 1rem 0rem;

		&.--is-custom-border-bottom {
			border-bottom: 1px solid #dddddd;
		}

		span {
			border: 1px solid #dddddd;
			border-radius: 20px;
			color: #484848;
			margin-right: 1rem;
			padding: 0.2rem 1.1rem;
			margin-bottom: 1.5rem;
			cursor: pointer;

			&.--is-active {
				background-color: #1baa56;
				border: 1px solid #1baa56;
				color: white;
			}
		}
	}
}
</style>
