<template>
	<modal
		id="bookingModalMobileFilter"
		effect="fade"
		:value="showModal"
		:backdrop="true"
		:small="true"
		@closed="closeModal"
	>
		<div class="filter-header">
			<filter-close-button @press="closeModal"></filter-close-button>
		</div>

		<history-select-filter-wrapper></history-select-filter-wrapper>

		<div class="filter-options">
			<button class="btn btn-primary --is-custom-button-filter">
				Terapkan Filter
			</button>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

import HistorySelectFilterWrapper from './HistorySelectFilterWrapper';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		modal,
		HistorySelectFilterWrapper
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		setFilter(val) {
			this.$emit('set', val);
		}
	}
};
</script>

<style lang="scss">
#bookingModalMobileFilter {
	overflow-y: hidden;

	.modal.in {
		display: block !important;
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-dialog {
		position: absolute;
		width: 100vw;
		margin: 0;
		bottom: 0;
	}

	.modal-content {
		box-shadow: unset;
		border-radius: 0;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		overflow-y: scroll;
		border-color: white;
	}

	.btn-close-filter {
		margin-right: 0.4rem;

		&:after {
			content: '';
		}
	}
}

#bookingModalMobileFilter.modal.fade .modal-dialog {
	transform: translate3d(0, 100vh, 0) !important;
}

#bookingModalMobileFilter.modal.in .modal-dialog {
	transform: translate3d(0, 1px, 0) !important;
}
</style>

<style lang="scss" scoped>
.filter-header {
	margin-bottom: 5rem;
	label {
		font-size: 16px;
	}
}

.filter-options {
	margin-top: 0.5rem;
	line-height: 2;

	.text-header-filter {
		display: block;
		font-size: 1.667em;
		font-weight: bold;
		color: #242424;
	}

	.text-header-sub-filter {
		display: block;
		font-size: 1.333em;
		font-weight: bold;
		color: #484848;
	}

	.--is-custom-button-filter {
		width: 100%;
		height: 40px;
		margin: 2rem 0rem 0.2rem;
		font-weight: bold;
	}

	.wrapper-filter {
		display: flex;
		flex-wrap: wrap;
		margin: 1rem 0rem;

		&.--is-custom-border-bottom {
			border-bottom: 1px solid #dddddd;
		}

		span {
			border: 1px solid #dddddd;
			border-radius: 20px;
			color: #484848;
			margin-right: 1rem;
			padding: 0.2rem 1.1rem;
			margin-bottom: 1.5rem;
			cursor: pointer;

			&.--is-active {
				background-color: #1baa56;
				border: 1px solid #1baa56;
				color: white;
			}
		}
	}
}
</style>
