<template>
	<dropdown class="wrapper-desktop-filter">
		<div slot="button" class="wrapper-input-text">
			<img
				src="/general/img/icons/ic_option-filter_grey.svg"
				alt="ic_calendar-history-transaction_grey"
			/>
		</div>
		<div slot="dropdown-menu" class="dropdown-menu">
			<history-select-filter-wrapper></history-select-filter-wrapper>

			<div class="footer-button-filter">
				<a href="#">
					Reset
				</a>
				<button class="btn btn-primary --is-custom-button-filter">
					Terapkan Filter
				</button>
			</div>
		</div>
	</dropdown>
</template>

<script>
import { dropdown } from 'vue-strap';

import HistorySelectFilterWrapper from './HistorySelectFilterWrapper';

export default {
	components: {
		dropdown,
		HistorySelectFilterWrapper
	}
};
</script>

<style lang="scss" scoped>
.wrapper-input-text {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 1.3rem 1rem;
	margin-bottom: 2rem;
	text-align: center;
	width: 48px;
	float: right;
	cursor: pointer;
	margin-bottom: 0;
}

.footer-button-filter {
	display: flex;
	justify-content: space-between;
	> a {
		color: #1baa56;
		font-weight: bold;
		padding-top: 0.6rem;
		padding-left: 2rem;
		font-size: 1.067em;
	}
}

.--is-custom-button-filter {
	height: 40px;
	width: 44%;
	font-weight: bold;
}
</style>

<style lang="scss">
.wrapper-desktop-filter {
	.open > .btn-default.dropdown-toggle:hover {
		background: none;
		box-shadow: none;
	}

	.dropdown-toggle {
		width: 100%;
		background: none;
		border: none;
		padding: 0;
		border-radius: 4px;
	}

	span.caret {
		display: none;
	}

	.dropdown-menu {
		top: 58px;
		left: -312px;
		border: 1px solid #f5f5f5;
		box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
		border-radius: 8px;
		padding: 1rem;
		width: 360px;
	}
}
</style>
