<template>
	<dropdown class="wrapper-input-date-search">
		<div slot="button" class="wrapper-input-text">
			<img
				src="/general/img/icons/ic_calendar-history-transaction_grey.svg"
				alt="ic_calendar-history-transaction_grey"
			/>
			<div class="selected-date-info">
				<span class="title-date-info">{{ label }}</span>
				<span class="value-date-info">{{ formattedSelectedDate }}</span>
			</div>
		</div>
		<div
			slot="dropdown-menu"
			class="dropdown-menu"
			:class="{
				'left-date': datePickerPosition === 'left'
			}"
		>
			<datepicker
				v-model="dateSelected"
				:inline="true"
				:language="id"
				:disabled-dates="disabledDates"
				@selected="dateChange"
			></datepicker>
		</div>
	</dropdown>
</template>

<script>
import { dropdown } from 'vue-strap';
import Datepicker from 'vuejs-datepicker';
import { id } from 'vuejs-datepicker/dist/locale';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		dropdown,
		Datepicker
	},

	props: {
		datePickerPosition: {
			type: String,
			default: 'right'
		},
		label: {
			type: String,
			default: ''
		},
		dateType: {
			type: String,
			default: ''
		},
		initialDateSelected: {
			type: String,
			default: ''
		},
		disabledDates: {
			type: Object,
			default: () => {
				return {
					to: '',
					from: ''
				};
			}
		}
	},

	data() {
		return {
			id: id,
			dateSelected: ''
		};
	},

	computed: {
		formattedSelectedDate() {
			const dateValue = this.dateSelected;
			return this.$dayjs(dateValue).format('D MMM YYYY');
		}
	},

	watch: {
		initialDateSelected: {
			immediate: true,
			handler(val) {
				this.dateSelected = val;
			}
		}
	},

	methods: {
		dateChange(val) {
			EventBus.$emit('dateSearchChange', {
				dateType: this.dateType,
				date: val
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-input-text {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 0.1rem 1rem;
	margin-bottom: 2rem;
	display: flex;
	cursor: pointer;
	margin-bottom: 0;

	.selected-date-info {
		margin-left: 2rem;
		width: 100%;
		overflow: hidden;
		text-align: left;

		span {
			display: block;

			&.title-date-info {
				font-weight: bold;
				font-size: 1em;
				color: #aaaaaa;
				margin-bottom: -0.3rem;
			}

			&.value-date-info {
				color: #484848;
				font-size: 1.167em;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100%;
				overflow: hidden;
			}
		}
	}
}
</style>

<style lang="scss">
.wrapper-input-date-search {
	margin-bottom: 2rem;
	.open > .btn-default.dropdown-toggle:hover {
		background-color: #f1f1f1;
		box-shadow: none;
	}

	.dropdown-toggle {
		width: 100%;
		background: none;
		border: none;
		padding: 0;
		border-radius: 4px;
	}

	span.caret {
		display: none;
	}

	.dropdown-menu {
		top: 58px;
		left: calc(100% + -322px);
		border: 1px solid #f5f5f5;
		box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
		border-radius: 8px;
		padding: 1rem;

		.vdp-datepicker__calendar {
			border: none;
		}

		.vdp-datepicker__calendar .cell.selected {
			background: #1baa56;
			border-radius: 4px;
			color: white;
		}

		&.left-date {
			@media (max-width: 991px) {
				right: calc(100% + -322px);
				left: 0;
			}
		}
	}
}
</style>
