<template>
	<div class="booking-management-accept">
		<div v-show="pageLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<section
			class="accept-date section-divider small-padding"
			style="padding-top: 0;"
		>
			<ul class="fake-table normal">
				<li>
					<div>Tanggal Masuk</div>
					<div>{{ mixDateConverter(data.date.enter) }}</div>
				</li>
				<li>
					<div>Tanggal Keluar</div>
					<div>{{ mixDateConverter(data.date.exit) }}</div>
				</li>
				<li>
					<div>Durasi Sewa</div>
					<div>{{ data.date.duration }}</div>
				</li>
			</ul>

			<div style="padding-top: 20px">
				<Select
					v-model="input.room"
					label="Pilih Kamar"
					placeholder="Pilih"
					:options="options.room"
					:show-invalid-message="false"
				/>
			</div>
		</section>

		<section class="invoice section-divider small-padding">
			<h2 class="section-title">Tagihan</h2>
			<hr class="custom-dashed" />

			<div class="item-title">Harga di Invoice</div>
			<p class="item-text">Biaya yang tertera pada invoice dan dilunasi penyewa.</p>
			<div class="invoice-price">{{ data.invoice | mixFilterRupiah }}</div>

			<hr class="custom-dashed" />

			<div class="item-title">Ditransfer ke Pemilik</div>
			<p class="item-text">Biaya sewa yang disepakati antara pemilik dan Mamikos yang akan diteruskan ke rekening pemilik.</p>
			<div class="invoice-price">{{ data.transfer | mixFilterRupiah }}</div>

			<hr class="custom-dashed" />

			<input-text
				v-model="input.deposit"
				:hide-invalid-message="true"
				label="Biaya Deposit"
				type="currency"
				outlined
			/>

			<hr class="custom-dashed" />

			<input-text
				v-model="input.fine"
				:hide-invalid-message="true"
				label="Biaya Denda Keterlambatan"
				type="currency"
				outlined
			/>

			<hr class="custom-dashed" />

			<div class="fine">
				<div class="row">
					<div class="col-xs-12">
						<div class="input-label">Denda Terlambat Pembayaran Jika Melewati</div>
					</div>
					<div class="col-xs-6">
						<Select
							v-model="input.fineLength"
							placeholder="Pilih"
							:options="listNumberValue"
							:show-invalid-message="false"
						/>
					</div>
					<div class="col-xs-6">
						<Select
							v-model="input.fineTimeType"
							placeholder="Pilih"
							:options="options.unitOfTime"
							:show-invalid-message="false"
						/>
					</div>
				</div>
			</div>
		</section>

		<section class="other-cost section-divider small-padding">
			<h2 class="section-title">Biaya Lain</h2>
			<hr class="custom-dashed" />

			<div class="item-title">Ada tambahan biaya lainnya</div>
			<p class="item-text">Biaya tambahan seperti iuran kebersihan, listrik, dsb.</p>

			<div v-if="input.additionalFees.length" class="additional-fees">
				<div
					v-for="(fee, index) in input.additionalFees"
					:key="`${index}-${fee.label}`"
					class="additional-fee"
				>
					<div style="padding-right: 40px;">
						<input-text
							v-model="fee.field_value"
							:hide-invalid-message="true"
							type="currency"
							:label="fee.field_title"
							outlined
						/>
					</div>
					<div class="delete-fee" @click="deleteFee(index)">
						<ct-icon name="bin" size="24px" />
					</div>
				</div>
			</div>

			<div style="padding-top: 10px;">
				<Button outline @click="modalOpen = true">Tambah Biaya Lain</Button>
			</div>

			<hr class="custom-dashed" />

			<div class="item-title">Ada biaya Uang Muka (DP)?</div>
			<p class="item-text">Biaya uang muka (DP) diambil dari harga sewa.</p>

			<div class="dp-detail">
				<div class="dp-toggle">
					<toggle-button v-model="toggleDp" />
					<span>{{ toggleDp ? 'Ada' : 'Tidak Ada' }}</span>
				</div>

				<div v-if="toggleDp" class="dp-calculate">
					<Select
						v-model="input.dpPercentage"
						label="Presentase Uang Muka"
						placeholder="Pilih"
						:options="options.percentage"
						:show-invalid-message="false"
					/>
					<ul class="fake-table normal">
						<li>
							<div>Uang Muka</div>
							<div>{{ dpValue | mixFilterRupiah }}</div>
						</li>
						<li>
							<div>Sisa Pelunasan</div>
							<div>{{ dpRepayment | mixFilterRupiah }}</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<bottom-container normal styles="padding: 28px 0 0">
			<Button
				large
				block
				:loading="submitLoading"
				:disabled="submitDisable"
				@click="postAcceptBookingAPI"
			>
				Simpan Kontrak
			</Button>
		</bottom-container>

		<!-- MODAL -->
		<modal
			:open.sync="modalOpen"
			:close-on-outside-click="true"
			:small="false"
			:hide-header="false"
			header-text="Tambah Biaya Lain"
		>
			<form @submit="addFee">
				<div style="margin-bottom: 16px;">
					<input-text
						v-model="temp.feeLabel"
						:hide-invalid-message="true"
						label="Nama Biaya"
						placeholder="Contoh: Listrik"
						outlined
					/>
				</div>
				<div style="margin-bottom: 28px;">
					<input-text
						v-model="temp.feeValue"
						:hide-invalid-message="true"
						label="Jumlah"
						type="currency"
						outlined
					/>
				</div>
				<div>
					<Button block large :disabled="disableAddFee">Tambah Biaya Lain</Button>
				</div>
			</form>
		</modal>
	</div>
</template>

<script>
import mixinConverter from 'Consultant/mixins/mixinConverter';

import { ToggleButton } from 'vue-js-toggle-button';

import EventBus from 'Consultant/event-bus';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import Select from 'Consultant/components/CtSelect';
import InputText from 'Consultant/components/CtInputText';
import Button from 'Consultant/components/ConsultantButton';
import BottomContainer from 'Consultant/components/CtBottomContainer';
import Modal from 'Consultant/components/ConsultantModal';

export default {
	name: 'BookingManagementAccept',

	components: {
		MamiLoadingInline,
		Select,
		InputText,
		Button,
		BottomContainer,
		ToggleButton,
		Modal
	},

	mixins: [mixinConverter],

	data() {
		return {
			pageLoading: true,
			toggleDp: false,
			modalOpen: false,
			submitLoading: false,
			contractInvoice: {},
			data: {
				invoice: 0,
				transfer: 0,
				date: {
					enter: '',
					exit: '',
					duration: '1 bulan'
				}
			},
			options: {
				room: [
					{
						label: 'Pilih di tempat',
						value: 'onthespot'
					}
				],
				unitOfTime: [
					{ label: 'Hari', value: 'day' },
					{ label: 'Minggu', value: 'week' },
					{ label: 'Bulan', value: 'month' },
					{ label: 'Tahun', value: 'year' }
				],
				percentage: [
					{ label: '10%', value: 10 },
					{ label: '20%', value: 20 },
					{ label: '30%', value: 30 }
				]
			},
			temp: {
				feeLabel: '',
				feeValue: 0
			},
			input: {
				room: null,
				fineLength: 0,
				fineTimeType: null,
				deposit: 0,
				fine: 0,
				dpPercentage: null,
				additionalFees: []
			}
		};
	},

	computed: {
		bookingId() {
			return this.$route.params.id;
		},
		submitDisable() {
			if (this.input.room && !this.toggleDp) {
				return false;
			}

			if (this.input.room && this.toggleDp && !!this.input.dpPercentage) {
				return false;
			}

			return true;
		},
		listNumberValue() {
			let listArray;
			switch (this.input.fineTimeType) {
				case 'day':
					listArray = [...Array(32).keys()];
					break;
				case 'week':
					listArray = [...Array(11).keys()];
					break;
				case 'month':
					listArray = [...Array(13).keys()];
					break;
				case 'year':
					listArray = [...Array(11).keys()];
					break;
				default:
					listArray = [0];
					break;
			}
			return listArray;
		},
		dpValue() {
			return (this.data.invoice * this.input.dpPercentage) / 100;
		},
		dpRepayment() {
			return (
				this.input.deposit +
				this.totalAdditionalFees +
				(this.data.invoice - this.dpValue)
			);
		},
		totalAdditionalFees() {
			const reducer = (acc, curr) => acc + curr;
			if (this.input.additionalFees.length) {
				return this.input.additionalFees
					.map(el => el.field_value)
					.reduce(reducer);
			} else {
				return 0;
			}
		},
		disableAddFee() {
			if (this.temp.feeLabel !== '' && this.temp.feeValue !== 0) {
				return false;
			} else {
				return true;
			}
		},
		durationBahasa() {
			let bahasa;
			switch (this.contractInvoice.contract.stay_duration_unit) {
				case 'daily':
					bahasa = 'Hari';
					break;
				case 'weekly':
					bahasa = 'Minggu';
					break;
				case 'monthly':
					bahasa = 'Bulan';
					break;
				case 'quarterly':
					bahasa = '3 Bulan';
					break;
				case 'semiannually':
					bahasa = 'Semester';
					break;
				case 'yearly':
					bahasa = 'Tahun';
					break;
				default:
					bahasa = '';
					break;
			}
			return bahasa;
		}
	},

	mounted() {
		this.$route.meta.navbarOptions.onClickBack = () => {
			this.$router.push({
				name: 'booking-management.detail',
				id: this.bookingId
			});
		};
	},

	created() {
		this.initAPI();
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPI() {
			const propertyId = await this.getDetailPropertyIdAPI();
			const roomList = await this.getRoomListAPI(propertyId);

			roomList.forEach(el => {
				if (el.occupied === false && el.disable === false) {
					this.options.room.push({
						label: el.name,
						value: el.id
					});
				}
			});

			this.contractInvoice = await this.getDetailContractInvoiceAPI();
			this.data.invoice = +this.contractInvoice.invoice.full_amount;
			this.data.transfer = +this.contractInvoice.invoice.transferred_to_owner;
			this.data.date.enter = this.contractInvoice.contract.checkin_date;
			this.data.date.exit = this.contractInvoice.contract.checkout_date;
			this.data.date.duration = `${this.contractInvoice.contract.stay_duration} ${this.durationBahasa}`;

			this.pageLoading = false;
		},

		async getDetailContractInvoiceAPI() {
			let data = {};
			try {
				const response = await axios.get(
					`/api/booking-management/detail/contract/${this.bookingId}`
				);
				data = response.data.data;
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data);
		},

		async getDetailPropertyIdAPI() {
			let data = {};
			try {
				const response = await axios.get(
					`/api/booking-management/detail/property/${this.bookingId}`
				);
				data = response.data.data.property_id;
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data);
		},

		async getRoomListAPI(propertyId) {
			let data = {};
			try {
				const response = await axios.get(`/api/room-unit/${propertyId}`);

				data = response.data.data;
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data);
		},

		async postAcceptBookingAPI() {
			try {
				this.submitLoading = true;

				const response = await axios.post(
					`/api/booking-management/accept/${this.bookingId}`,
					{
						designer_room_id:
							this.input.room === 'onthespot' ? null : this.input.room,
						deposit_amount: +this.input.deposit,
						fine_amount: +this.input.fine === 0 ? null : this.input.fine,
						fine_maximum_length: this.input.fineLength,
						fine_duration_type: this.input.fineTimeType,
						additional_costs: this.input.additionalFees.length
							? this.input.additionalFees
							: null,
						use_dp: this.toggleDp,
						dp_amount: this.dpValue
					}
				);

				if (response.data.status) {
					EventBus.$emit('openAlert', 'Kontrak telah disimpan', 'dark', {
						placement: 'bottom'
					});

					this.$router.push({
						name: 'booking-management.detail',
						id: this.bookingId
					});
				}
			} catch (error) {
				const errorMessage =
					(error.response && error.response.data.errors) ||
					'Terjadi galat, silahkan coba lagi.';

				EventBus.$emit('openAlert', errorMessage);
				this.submitLoading = false;
			}
		},

		// ----------------------------------------------------------------------
		// EVENTS
		// ----------------------------------------------------------------------
		deleteFee(index) {
			this.input.additionalFees.splice(index, 1);
		},
		addFee(e) {
			this.input.additionalFees.push({
				field_title: this.temp.feeLabel,
				field_value: this.temp.feeValue
			});
			this.temp.feeLabel = '';
			this.temp.feeValue = 0;

			this.modalOpen = false;

			e.preventDefault();
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/pages/booking-management.scss';

.item-title {
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: bold;
}

.invoice-price {
	font-size: 16px;
	font-weight: bold;
}

.item-text {
	margin-bottom: 8px;
	color: #757575;
}

.input-label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

.dp-toggle {
	span {
		padding-left: 10px;
	}
}

.dp-calculate {
	margin-top: 18px;
	ul {
		margin-top: 16px;
	}
}

.additional-fee {
	position: relative;
	margin-bottom: 16px;
}

.delete-fee {
	position: absolute;
	right: 0;
	bottom: 1px;
	cursor: pointer;
}
</style>
