<template>
	<div class="booking-management-list">
		<BookingListActions />

		<section class="list-section">
			<div class="row">
				<template v-if="loading">
					<div v-for="i in 2" :key="i" class="col-xs-12 mb-2">
						<BookingListCardPlaceholder />
					</div>
				</template>
				<template v-else>
					<template v-if="bookings.length">
						<div
							v-for="(booking, i) in bookings"
							:key="`booking-card-${i}`"
							class="col-xs-12 mb-2"
						>
							<BookingListCard :item="booking" />
						</div>
						<div
							v-if="pagination.totalData > pagination.limit"
							class="col-xs-12"
						>
							<consultant-pagination
								class="ct-pagination--green"
								:total-data="pagination.totalData"
								:page-active="pagination.page"
								green-version
								@change="handlePaginationChange"
							></consultant-pagination>
						</div>
					</template>
					<template v-else>
						<div class="col-xs-12 mt-3">
							<EmptyState
								title="Belum Ada Booking"
								subtitle="Daftar permintaan booking akan tampil di sini."
								relative
							/>
						</div>
					</template>
				</template>
			</div>
		</section>
	</div>
</template>

<script>
import BookingListActions from './components/BookingListActions';
import BookingListCard from './components/BookingListCard';
import BookingListCardPlaceholder from './components/BookingListCardPlaceholder';

import mixinPagination from 'Consultant/mixins/mixinPagination';
import mixinApi from 'Consultant/mixins/mixinApi';

import { mapMutations } from 'vuex';

import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';
import {
	createMultipleParam,
	makeQueryParam,
	mergeParams
} from 'Consultant/helpers/url';

export default {
	name: 'BookingManagementList',

	components: {
		BookingListActions,
		BookingListCard,
		BookingListCardPlaceholder,
		EmptyState: () => import('Consultant/components/ConsultantEmptyState')
	},

	mixins: [mixinPagination, mixinApi],

	data() {
		return {
			loading: false,
			bookings: []
		};
	},

	beforeRouteLeave(to, from, next) {
		if (to.name === 'booking-management.detail') {
			this.mutSetQuery({
				type: 'booking-management',
				query: this.$route.query
			});
		}
		next();
	},

	computed: {
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Kelola Booking',
			{ consultant_id: consultant.id || null }
		]);
	},

	methods: {
		...mapMutations({
			mutSetQuery: 'route/setPrevQuery'
		}),
		/** *********** QUERY HANDLER ****************** */
		/**
		 * will executed on route change
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		defaultPagination({ query }) {
			this.pagination.status = query.status || '';
			this.pagination.instantBooking = [];
			this.pagination.search = query.search || '';

			if (query.instant_booking) {
				this.pagination.instantBooking = query.instant_booking
					.split(',')
					.map(instantBooking => {
						switch (instantBooking) {
							case 'active':
								return true;

							case 'inactive':
								return false;
						}
					});
			}
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData(pagination) {
			const { offset, search, status, filters, instantBooking } = pagination;

			const singleQuery = makeQueryParam({ offset, search, status });
			const kostLevelQuery = createMultipleParam(filters, 'kost_level');
			const instantBookingQuery = createMultipleParam(
				instantBooking,
				'is_instant_booking'
			);

			this.initBookingData(
				mergeParams(singleQuery, kostLevelQuery, instantBookingQuery)
			);
		},

		/** ********* END QUERY HANDLER **************** */

		async initBookingData(queryParams) {
			this.loading = true;
			const result = await this.mixApiGet({
				url: '/api/booking-management?' + queryParams
			});

			if (result.success) {
				this.bookings = result.data;
				this.pagination.totalData = result.response.total;
			}

			this.loading = false;
		},

		handlePaginationChange(page) {
			const { query, name } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					page
				}
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.list-section {
	padding: 0 20px;
}
</style>
