<template>
	<section v-if="isShowing" id="flashsale" class="flashsale container">
		<div class="flashsale-header">
			<div class="flashsale-left">
				<div :class="['flashsale-left-inner', { shimmer: getIsLoading }]">
					<title-section text="Promo Ngebut" />
				</div>
				<a
					:class="['flashsale-learn-more', { shimmer: getIsLoading }]"
					href="/promo-ngebut?from=home_discount"
				>
					Pelajari
				</a>
			</div>
			<button
				class="button-location"
				:class="getIsLoading ? 'shimmer' : ''"
				type="button"
				@click="openModalSelectLocation"
			>
				<span class="selection-label"> {{ selectedLocation }}</span>
				<img
					class="dropdown-down"
					src="general/img/icons/ic_dropdown_down.svg"
					alt="dropdown-down"
				/>
			</button>

			<div class="flashsale-right">
				<label :class="['flashsale-label', { shimmer: getIsLoading }]"
					>Akan Berakhir<br />
					dalam waktu:</label
				>
				<div class="flashsale-inner-right">
					<div class="flashsale-box-container">
						<div
							v-for="(count, remainingIndex) in remaining"
							:key="remainingIndex"
							class="flashsale-inner-box-container"
						>
							<tooltip
								v-if="remainingIndex > 0"
								effect="fadein"
								placement="top"
								:content="count.tag"
							>
								<div :class="['flashsale-box', { shimmer: showCondition }]">
									{{ count.value }} {{ remainingIndex === 0 ? count.tag : '' }}
								</div>
							</tooltip>
							<div
								v-else
								:class="['flashsale-box', { shimmer: showCondition }]"
							>
								{{ count.value }} {{ remainingIndex === 0 ? count.tag : '' }}
							</div>
							<div
								:class="[
									'flashsale-box-dif',
									{ '--big-space': remainingIndex === 0 }
								]"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-if="isEmptyList" class="flashsale-empty-list">
			<span>Tidak ditemukan rekomendasi kamar di area yang kamu pilih.</span>
		</div>

		<template v-else>
			<div v-if="flashRooms && !isListLoading" class="flashsale-list">
				<div
					v-for="room in flashRooms"
					:key="room._id"
					class="col-xs-6 no-padding"
				>
					<room-card
						:detail="room"
						:cover="room.photo_url.medium"
						:title="room['room-title']"
						:gender-id="room.gender"
						:city="room.subdistrict"
						:discount="room.price_title_format.discount"
						:price-title-format="room.price_title_format"
						:promo-name="room.promotionName"
						:price-after-discount="room.priceLabel"
						:price-other-discount="room.otherDiscountLabel"
						:rating="room.rating_string"
						:last-update-label="room.online"
						:is-bookable="room.is_booking"
						:available-room="room.available_room"
						:room-project-id="room.apartment_project_id"
						:is-premium="room.is_premium_owner"
						:is-promoted="room.is_promoted"
						:has-promo="Boolean(room.promo_title)"
						:room-level-id="room.level_info.id"
						:is-flash-sale="room.is_flash_sale"
						:is-goldplus="room.isGoldplus"
						:goldplus-name="room.goldplusName"
						:open-room="() => handleClickRoom(room)"
					/>
				</div>
			</div>

			<div v-else class="flashsale-list">
				<div v-for="i in 4" :key="i" class="flashsale-item">
					<skeleton-loader :height="106" />
					<skeleton-loader :height="12" width="80%" />
					<skeleton-loader :height="14" />
					<skeleton-loader :height="12" width="95%" />
				</div>
			</div>
		</template>

		<div v-if="getIsLoading" class="cta-loading-container shimmer" />
		<div v-else class="link-cta" @click="handleGoToMore">Lihat semua</div>

		<unsupported-location-alert v-if="isShowGeoLocationAlert" />
		<PickABooSelectModal
			:show="isShowModalSelectLocation"
			:close-modal="closeModalSelectLocation"
			:options="locationOptions"
			:on-click-option="onClickOption"
			:active-option="selectedLocation"
			title="Pilih Kota"
		/>
	</section>
</template>

<script>
import MixinFlashSaleData from '../mixins/MixinFlashSaleData';
import MixinFlashSaleHelper from 'Js/_flash-sale/mixins/MixinFlashSale';

import { tooltip } from 'vue-strap';

const PickABooSelectModal = () => import('Js/@components/PickABooSelectModal');

export default {
	components: {
		PickABooSelectModal,
		tooltip
	},
	mixins: [MixinFlashSaleData, MixinFlashSaleHelper],
	props: {
		rooms: {
			type: Array,
			default: function() {
				return [];
			}
		}
	},
	data() {
		return {
			isShowModalSelectLocation: false
		};
	},
	methods: {
		openModalSelectLocation() {
			this.isShowModalSelectLocation = true;
			document.body.style.width = '100%';
		},
		closeModalSelectLocation() {
			this.isShowModalSelectLocation = false;
			document.body.style.width = 'auto';
		},
		onClickOption(option) {
			this.selectedLocation = option;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#flashsale {
	margin: 0 auto 64px;

	.swiper-container {
		padding: 15px;
		margin: -15px;
	}

	.flashsale-swiper-arrow {
		background-image: none;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		z-index: 10;
	}

	.flashsale-swiper-button-prev {
		left: -20px;
	}

	.flashsale-swiper-button-next {
		right: -20px;
	}

	.tooltip {
		z-index: 100;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';
.cta-loading-container {
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 32px;
}

.no-padding {
	padding: 0;
	margin-bottom: 16px;

	&:nth-child(odd) {
		padding-right: 6px;
	}

	&:nth-child(even) {
		padding-left: 6px;
	}
}

.flashsale {
	.flashsale-header {
		display: flex;
		margin-bottom: 33px;
		flex-direction: column;
		align-items: center;

		h2 {
			margin: 0;
			border-bottom: 1px solid transparent;
		}
	}

	.button-location {
		padding: 0 16px;
		display: flex;
		width: 100%;
		height: 48px;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		background: #ffffff;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-top: 16px;
	}

	.flashsale-wrapper {
		position: relative;
		color: #383746;
	}

	.flashsale-empty-list {
		text-align: center;
	}

	.link-cta {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-top: 4px;
	}

	.flashsale-list {
		display: flex;
		flex-wrap: wrap;

		.flashsale-item {
			position: relative;
			flex: 1 0 45%;
			margin-bottom: 16px;
		}

		.flashsale-item:nth-child(odd) {
			margin-right: 12px;
		}
	}
}
.flashsale-icon {
	width: 16px;
	height: auto;
	margin-right: 4px;
}
.flashsale-left {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.flashsale-left-inner {
		display: flex;
		align-items: center;
	}
}

.button-location {
	display: flex;
	min-width: 90px;
	min-height: 16px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #109e4b;
	background: transparent;
	border: 0;
	align-items: center;

	svg {
		width: 16px;
		height: 16px;
	}

	.selection-label {
		max-width: 90%;
		overflow: hidden;
		line-height: normal;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.flashsale-right {
	display: flex;
	flex: 1;
	width: 100%;
	margin-top: 20px;
	align-items: center;
	justify-content: flex-end;

	.flashsale-inner-right {
		display: flex;
		width: auto;
		margin-left: 8px;

		.flashsale-label {
			font-size: 12px;
			font-weight: 600;
			line-height: 19px;
			color: #949494;
			text-align: right;
		}
		.flashsale-box-container {
			background: #f6f6f6;
			border-radius: 4px;
			padding: 8px;
			display: flex;

			.flashsale-inner-box-container {
				display: flex;

				.flashsale-box {
					padding: 4px 8px;
					font-size: 16px;
					font-weight: 600;
					line-height: 20px;
					color: #303030;
					letter-spacing: 0.05em;
					background: #ffffff;
					border-radius: 4px;
				}

				.flashsale-box-dif {
					position: relative;
					display: block;
					width: 11px;
					height: 100%;

					&::before {
						position: absolute;
						top: 8px;
						left: 50%;
						display: block;
						width: 4px;
						height: 4px;
						content: '';
						background: rgba(0, 0, 0, 0.4);
						border-radius: 2px;
						transform: translate(-50%, 0);
					}

					&::after {
						position: absolute;
						bottom: 8px;
						left: 50%;
						display: block;
						width: 4px;
						height: 4px;
						content: '';
						background: rgba(0, 0, 0, 0.4);
						border-radius: 2px;
						transform: translate(-50%, 0);
					}
				}

				&:last-child {
					.flashsale-box-dif {
						display: none;
					}
				}

				.--big-space {
					width: 16px;

					&::before {
						display: none;
						content: '';
					}

					&::after {
						display: none;
						content: '';
					}
				}
			}
		}
	}
}

.flashsale-label {
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	color: #949494;
	text-align: right;
}

.flashsale-learn-more {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #1baa56;
	text-align: right;
	text-decoration: none;
}
</style>
