<template>
	<div>
		<section class="product-search-bar-container">
			<div ref="searchBarHomepage" class="product-search-bar">
				<search-bar
					class="navbar-search-theme"
					placeholder="Mau ngekos di mana?"
					@onClickEvent="openModalSearch"
				/>
			</div>
		</section>
		<section class="product-search-content-container">
			<p v-if="userName">Hai {{ userName }},</p>
			<p v-else>Hai,</p>
			<h1>Lagi cari apa?</h1>

			<swiper
				ref="productSearchButton"
				:options="swiperOptions"
				class="product-image-buttons"
			>
				<swiper-slide
					v-for="product in products"
					:key="product.name"
					role="button"
					class="product-image-button-item"
				>
					<a
						:href="product.url"
						:class="product.gaTrackingLabel"
						@click.prevent="handleClickProductImage(product)"
					>
						<picture>
							<source :srcset="product.imgSrc.webp" type="image/webp" />
							<source :srcset="product.imgSrc.jpeg" type="image/jpeg" />
							<img
								v-lazy="{
									src: product.imgSrc.png,
									error:
										'/general/img/pictures/placeholder/placeholder_loading.svg'
								}"
								:alt="product.name"
							/>
						</picture>
						<h3>{{ product.name }}</h3>
					</a>
				</swiper-slide>
			</swiper>
		</section>
	</div>
</template>

<script>
import SearchBar from 'Js/@components/ProductSearchInput';

export default {
	name: 'ProductSearch',
	components: {
		SearchBar
	},
	props: {
		userName: {
			type: String,
			default: ''
		},
		openModalSearch: {
			type: Function,
			default: () => {}
		}
	},
	data() {
		return {
			products: [
				{
					name: 'Kamar Kos',
					imgSrc: {
						webp: '/assets/category/kost.webp',
						jpeg: '/assets/category/kost.jpeg',
						png: '/assets/category/kost.png'
					},
					url: '/',
					gaTrackingLabel: 'kamar-kost-tabs'
				},
				{
					name: 'Apartemen',
					imgSrc: {
						webp: '/assets/category/apartment.webp',
						jpeg: '/assets/category/apartment.jpeg',
						png: '/assets/category/apartment.png'
					},
					url: '/apartemen',
					gaTrackingLabel: 'apartemen-tabs'
				},
				{
					name: 'Lowongan Kerja',
					imgSrc: {
						webp: '/assets/category/vacancy.webp',
						jpeg: '/assets/category/vacancy.jpeg',
						png: '/assets/category/vacancy.png'
					},
					url: '/loker',
					gaTrackingLabel: 'loker-tabs'
				}
			],
			swiperOptions: {
				loop: false,
				freeMode: true,
				slidesPerView: 'auto',
				spaceBetween: 12
			},
			isSearchModalShow: false
		};
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll);
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleClickProductImage({ gaTrackingLabel, name, url }) {
			if (url !== '/') {
				window.location.href = url;
			} else {
				this.openModalSearch();
			}
		},
		handleScroll() {
			const scrollPosition = window.pageYOffset;
			scrollPosition > 110
				? this.$refs.searchBarHomepage.classList.add('--fixed')
				: this.$refs.searchBarHomepage.classList.remove('--fixed');
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */
.product-search-content-container {
	margin-top: 16px;
	padding: 0px 16px;

	p,
	h3 {
		margin: 0;
	}

	.product-image-buttons {
		padding: 0 16px;
		margin: 0 -16px;
	}

	.product-image-button-item {
		width: 138px !important;
		margin-top: 16px;
		margin-bottom: 36px;
		overflow: hidden;
		background: #c4c4c4;
		border-radius: 6px;
		box-shadow: 0 1px 8px rgba(153, 153, 153, 0.2),
			0 3px 4px rgba(153, 153, 153, 0.12), 0 3px 3px rgba(153, 153, 153, 0.14);

		img {
			width: 100%;
			height: 78px;
		}

		h3 {
			height: 30px;
			padding: 0 8px;
			font-size: 12px;
			font-weight: normal;
			line-height: 30px;
			color: #2e2d39;
			background: #fff;
		}

		&:hover a {
			text-decoration: none;
		}
	}

	& > p,
	& > h1 {
		margin: 0;
		font-weight: bold;
		color: #000;
	}

	& > p {
		font-size: 12px;
		line-height: 14px;
	}

	& > h1 {
		font-size: 18px;
		line-height: 22px;
	}
}
/* stylelint-enable */
.product-search-bar {
	display: flex;
	width: 100%;
	height: 48px;
	padding: 0 16px;
	background: #fff;
}
.--fixed {
	position: fixed;
	top: 0;
	z-index: 3;
	height: 80px;
	padding: 16px;
	background: #fff;
}
.product-search-bar-container {
	display: flex;
	height: 56px;
	align-items: center;
}
</style>
