<template>
	<section id="promoted" class="promoted container">
		<title-section text="Promo kos" />
		<button
			v-if="selectedLocation"
			class="button-location"
			:class="isLoading ? 'shimmer' : ''"
			type="button"
			@click="openModalSelectLocation"
		>
			<span class="selection-label"> {{ selectedLocation }}</span>
			<img
				class="dropdown-down"
				src="general/img/icons/ic_dropdown_down.svg"
				alt="dropdown-down"
			/>
		</button>

		<div v-if="isLoading" class="promoted-list">
			<div v-for="i in 4" :key="i" class="promoted-item">
				<skeleton-loader :height="106" />
				<skeleton-loader :height="12" width="80%" />
				<skeleton-loader :height="14" />
				<skeleton-loader :height="12" width="95%" />
			</div>
		</div>

		<div v-else-if="isEmptyList" class="promoted-empty-list">
			<span>Tidak ditemukan kamar di area yang kamu pilih.</span>
		</div>

		<template v-else>
			<div v-if="promotedRooms && !isLoading" class="promoted-list">
				<div
					v-for="room in promotedRooms"
					:key="room._id"
					class="col-xs-6 no-padding"
				>
					<room-card
						:cover="room.photo_url.medium"
						:title="room['room-title']"
						:gender-id="room.gender"
						:city="room.subdistrict"
						:discount="room.price_title_format.discount"
						:price-title-format="room.price_title_format"
						:promo-name="room.promotionName"
						:price-after-discount="room.price_title_time"
						:price-other-discount="room.otherDiscountLabel"
						:rating="room.rating_string"
						:last-update-label="room.online"
						:is-bookable="room.is_booking"
						:is-premium="room.is_premium_owner"
						:available-room="room.available_room"
						:room-project-id="room.apartment_project_id"
						:is-promoted="room.is_promoted"
						:has-promo="Boolean(room.promo_title)"
						:room-level-id="room.level_info.id"
						:is-goldplus="room.isGoldplus"
						:goldplus-name="room.goldplusName"
						:open-room="() => handleClickRoom(room)"
						:oke-kost-id="okeKostId"
						:super-kost-id="superKostId"
					/>
				</div>
			</div>
		</template>

		<a class="link-cta kost-promo-home" href="/promo-kost">
			Lihat semua
		</a>

		<unsupported-location-alert v-if="isShowGeoLocationAlert" />
		<PickABooSelectModal
			:show="isShowModalSelectLocation"
			:close-modal="closeModalSelectLocation"
			:options="locationOptions"
			:on-click-option="onClickOption"
			:active-option="selectedLocation"
			title="Pilih Kota"
		/>
	</section>
</template>

<script>
import MixinPromoted from '../mixins/MixinPromoted';
/* istanbul ignore next */
const PickABooSelectModal = () => import('Js/@components/PickABooSelectModal');

export default {
	components: {
		PickABooSelectModal
	},
	mixins: [MixinPromoted],
	props: {
		rooms: {
			type: Array,
			default: function() {
				return [];
			}
		}
	},
	data() {
		return {
			isShowModalSelectLocation: false
		};
	},
	methods: {
		openModalSelectLocation() {
			this.isShowModalSelectLocation = true;
			document.body.style.width = '100%';
		},
		closeModalSelectLocation() {
			this.isShowModalSelectLocation = false;
			document.body.style.width = 'auto';
		},
		onClickOption(option) {
			this.selectedLocation = option;
		}
	}
};
</script>

<style lang="scss">
#promoted {
	margin-bottom: 64px;

	.swiper-container {
		padding: 15px;
		margin: -15px;
	}

	.promoted-swiper-arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		display: flex;
		width: 40px;
		height: 40px;
		background: #fff;
		background-image: none;
		border-radius: 50%;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		align-items: center;
		justify-content: center;
	}

	.promoted-swiper-button-prev {
		left: -20px;
	}

	.promoted-swiper-button-next {
		right: -20px;
	}
}
</style>

<style lang="scss" scoped>
.no-padding {
	padding: 0;
	margin-bottom: 16px;

	&:nth-child(odd) {
		padding-right: 6px;
	}

	&:nth-child(even) {
		padding-left: 6px;
	}
}
.promoted {
	.promoted-wrapper {
		position: relative;
		color: #383746;
	}

	.promoted-empty-list {
		text-align: center;
	}

	.button-location {
		padding: 0 16px;
		display: flex;
		width: 100%;
		height: 48px;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		background: #ffffff;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-bottom: 24px;

		.selection-label {
			max-width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.link-cta {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-top: 4px;
	}

	.promoted-list {
		display: flex;
		flex-wrap: wrap;

		.promoted-item {
			flex: 1 0 45%;
			margin-bottom: 16px;
		}

		.promoted-item:nth-child(odd) {
			margin-right: 12px;

			@media (max-width: 767px) {
				width: calc((100vw / 2) - 32px);
				flex: none;
			}
		}
	}
}
</style>
