<template>
	<section id="recommendation" class="recommendation container">
		<div class="recommendation-header">
			<title-section text="Rekomendasi kos" />
		</div>
		<button
			v-if="selectedLocation && selectedLocation.name"
			class="button-location"
			:class="isLoading ? 'shimmer' : ''"
			type="button"
			@click="openModalSelectLocation"
		>
			<span class="selection-label"> {{ selectedLocation.name }}</span>
			<img
				class="dropdown-down"
				src="general/img/icons/ic_dropdown_down.svg"
				alt="dropdown-down"
			/>
		</button>

		<div v-if="isEmptyList" class="recommendation-empty-list">
			<span>Tidak ditemukan rekomendasi kamar di area yang kamu pilih.</span>
		</div>

		<template v-else>
			<div v-if="recommendedRooms && !isLoading" class="recommendation-list">
				<div
					v-for="room in recommendedRooms"
					:key="room._id"
					class="col-xs-6 no-padding"
				>
					<room-card
						:is-flash-sale="room.is_flash_sale"
						:cover="room.photo_url.medium"
						:title="room['room-title']"
						:gender-id="room.gender"
						:city="room.subdistrict"
						:discount="room.price_title_format.discount"
						:price-title-format="room.price_title_format"
						:promo-name="room.promotionName"
						:price-after-discount="room.price_title_time"
						:price-other-discount="room.otherDiscountLabel"
						:rating="room.rating_string"
						:last-update-label="room.online"
						:is-bookable="room.is_booking"
						:is-premium="room.is_premium_owner"
						:available-room="room.available_room"
						:room-project-id="room.apartment_project_id"
						:is-promoted="room.is_promoted"
						:has-promo="Boolean(room.promo_title)"
						:room-level-id="room.level_info.id"
						:is-goldplus="room.isGoldplus"
						:goldplus-name="room.goldplusName"
						:open-room="() => handleClickRoom(room)"
						:oke-kost-id="okeKostId"
						:super-kost-id="superKostId"
					/>
				</div>
			</div>

			<div v-else class="recommendation-list">
				<div v-for="i in 4" :key="i" class="recommendation-item">
					<skeleton-loader :height="106" />
					<skeleton-loader :height="12" width="80%" />
					<skeleton-loader :height="14" />
					<skeleton-loader :height="12" width="95%" />
				</div>
			</div>
		</template>

		<div class="link-cta kost-rekomendasi-homepage" @click="handleGoToMore">
			Lihat semua
		</div>

		<unsupported-location-alert v-if="isShowGeoLocationAlert" />
		<PickABooSelectModal
			:show="isShowModalSelectLocation"
			:close-modal="closeModalSelectLocation"
			:options="locationOptions"
			:on-click-option="onClickOption"
			:active-option="selectedLocation"
			title="Pilih Kota"
		/>
	</section>
</template>

<script>
import MixinRecommendation from '../mixins/MixinRecommendation';

const PickABooSelectModal = () => import('Js/@components/PickABooSelectModal');

export default {
	components: {
		PickABooSelectModal
	},
	mixins: [MixinRecommendation],
	props: {
		rooms: {
			type: Array,
			default: function() {
				return [];
			}
		}
	},
	data() {
		return {
			isShowModalSelectLocation: false
		};
	},
	methods: {
		openModalSelectLocation() {
			this.isShowModalSelectLocation = true;
			document.body.style.width = '100%';
		},
		closeModalSelectLocation() {
			this.isShowModalSelectLocation = false;
			document.body.style.width = 'auto';
		},
		onClickOption(option) {
			this.selectedLocation = option;
		}
	}
};
</script>

<style lang="scss">
#recommendation {
	margin-bottom: 64px;

	.swiper-container {
		padding: 15px;
		margin: -15px;
	}

	.recommendation-swiper-arrow {
		background-image: none;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		z-index: 10;
	}

	.recommendation-swiper-button-prev {
		left: -20px;
	}

	.recommendation-swiper-button-next {
		right: -20px;
	}
}
</style>

<style lang="scss" scoped>
.no-padding {
	padding: 0;
	margin-bottom: 16px;

	&:nth-child(odd) {
		padding-right: 6px;
	}

	&:nth-child(even) {
		padding-left: 6px;
	}
}

.recommendation {
	.recommendation-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.button-location {
		background: transparent;
		font-size: 12px;
		padding: 0;
		border: 0;
		color: #109e4b;
		outline: 0;
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		svg {
			width: 16px;
			height: 16px;
		}

		svg:first-child {
			margin-right: 4px;
		}

		svg:last-child {
			margin-left: 8px;
			color: #2e2d39;
		}

		.selection-label {
			max-width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.button-location {
		padding: 0 16px;
		display: flex;
		width: 100%;
		height: 48px;
		align-items: center;
		justify-content: space-between;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		background: #ffffff;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-bottom: 24px;
	}

	.recommendation-wrapper {
		color: #383746;
		position: relative;
	}

	.recommendation-empty-list {
		text-align: center;
	}

	.link-cta {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		margin-top: 4px;
	}

	.recommendation-list {
		display: flex;
		flex-wrap: wrap;

		.recommendation-item {
			position: relative;
			flex: 1 0 45%;
			margin-bottom: 16px;
		}

		.recommendation-item:nth-child(odd) {
			margin-right: 12px;
		}
	}
}
</style>
