<template>
	<div class="active-tenant-detail-page">
		<detail-card>
			<active-tenant-detail-placeholder
				v-if="loadingGetActiveTenant"
			></active-tenant-detail-placeholder>
			<template v-else>
				<template slot="header">
					<div class="text-muted">ID Penghuni: {{ activeTenant.id }}</div>
					<div class="title">{{ ellipsis(activeTenant.name, 48) }}</div>
					<div>
						<a class="link" :href="activeTenant.link" target="_blank">{{
							ellipsis(activeTenant.link, 30)
						}}</a>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<consultant-button :disabled="true" large block outline>
								Chat
							</consultant-button>
						</div>
					</div>
				</template>
				<template v-for="(eachActiveTenant, index) in activeTenantProcessed">
					<div
						v-if="eachActiveTenant.key === 'images'"
						:key="index"
						class="row mt-3"
					>
						<card-list-image
							v-for="(image, indexImage) in eachActiveTenant.value"
							:key="indexImage + 1"
							class="col-xs-6"
							:src="image.url"
							:title="image.title"
						></card-list-image>
					</div>
					<card-list
						v-else
						:key="index"
						:label="eachActiveTenant.label"
						:content="eachActiveTenant.value"
						:type="eachActiveTenant.type"
						:link="eachActiveTenant.link || ''"
					></card-list>
				</template>
			</template>
		</detail-card>
	</div>
</template>
<script>
import DetailCard from 'Consultant/components/detail-card/DetailCard.vue';
import CardList from 'Consultant/components/detail-card/CardList.vue';
import CardListImage from 'Consultant/components/detail-card/CardListImage.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import ActiveTenantDetailPlaceholder from 'Consultant/components/placeholders/ActiveTenantDetailPlaceholder.vue';
import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';
import mixinProcessingDataList from 'Consultant/mixins/mixinProcessingDataList.js';
import activeTenantDetailLists from './data/activeTenantDetailLists.json';

export default {
	name: 'ActiveTenantDetail',

	components: {
		DetailCard,
		CardList,
		ConsultantButton,
		CardListImage,
		ActiveTenantDetailPlaceholder
	},

	mixins: [mixinEllipsis, mixinProcessingDataList],

	data() {
		return {
			activeTenant: {},
			activeTenantProcessed: [],
			loadingGetActiveTenant: true
		};
	},

	created() {
		this.initDataActiveTenantDetail();
	},

	methods: {
		async initDataActiveTenantDetail() {
			const tenantId = this.$route.params.id;
			this.loadingGetActiveTenant = true;
			const responseGetActiveTenantDetail = await this.getActiveTenantDetail(
				tenantId
			);
			if (responseGetActiveTenantDetail.success) {
				this.activeTenant = responseGetActiveTenantDetail.data;
				this.activeTenantProcessed = this.updateDetailActiveTenantValue(
					responseGetActiveTenantDetail.data,
					activeTenantDetailLists
				);
			}
			this.loadingGetActiveTenant = false;
		},

		async getActiveTenantDetail(tenantId) {
			const result = { success: false, data: {} };
			try {
				const response = await axios.get(`/api/tenant/active/${tenantId}`);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return Promise.resolve(result);
		},

		updateDetailActiveTenantValue(activeTenantDetail, activeTenantDetailLists) {
			return activeTenantDetailLists.map(eachActiveTenantList => {
				let updatedActiveTenantList = { ...eachActiveTenantList };

				if (updatedActiveTenantList.type === 'images') {
					updatedActiveTenantList.value = this.getValueOfIdentifierTenantImage(
						updatedActiveTenantList.value,
						activeTenantDetail
					);
				}

				if (updatedActiveTenantList.key === 'price_unit') {
					updatedActiveTenantList = this.processingPriceUnit(
						updatedActiveTenantList,
						activeTenantDetail
					);
				}

				if (updatedActiveTenantList.key === 'duration') {
					updatedActiveTenantList.value = this.createDurationValue(
						activeTenantDetail.duration_unit,
						activeTenantDetail.duration
					);
				}

				if (
					!(
						updatedActiveTenantList.type === 'images' ||
						updatedActiveTenantList.key === 'price_unit' ||
						updatedActiveTenantList.key === 'duration'
					) &&
					Object.prototype.hasOwnProperty.call(
						activeTenantDetail,
						updatedActiveTenantList.key
					)
				) {
					if (updatedActiveTenantList.type === 'email') {
						updatedActiveTenantList.link = `mailto:${
							activeTenantDetail[updatedActiveTenantList.key]
						}`;
					} else if (updatedActiveTenantList.type === 'phone') {
						updatedActiveTenantList.link = `tel:${
							activeTenantDetail[updatedActiveTenantList.key]
						}`;
					}
					const formatDate = { format: updatedActiveTenantList.format || null };
					updatedActiveTenantList.value = this.mixinChangeDataValueByType(
						updatedActiveTenantList.type,
						activeTenantDetail[updatedActiveTenantList.key],
						{ ...formatDate }
					);
				}

				return updatedActiveTenantList;
			});
		},

		getValueOfIdentifierTenantImage(listOfImage, sourceOfImage) {
			return listOfImage.map(eachImage => ({
				...eachImage,
				url: sourceOfImage[eachImage.key]
			}));
		}
	}
};
</script>
