/* ------------------------------------------------------ */
.swal2-container .swal2-popup {
	font-size: 1.6rem;
}

.swal2-container .swal2-icon.swal2-question::before,
.swal2-container .swal2-icon.swal2-warning::before {
	content: '';
}

.one-input {
}

.one-input + .one-input {
	padding-top: 20px;
}

.one-input p {
}

.one-input p span {
	color: red;
}

.one-input input {
	width: 100%;
}

.one-input input[type='text'] {
	padding: 4px 6px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
}

.one-input input[type='text']:disabled {
	background-color: #eee;
	border: 1px solid #ebebeb;
}

.one-input select {
	width: 100%;
}

.modal {
	background-image: none;
}

textarea {
	width: 100%;
	min-height: 75px;
	max-height: 250px;
	padding: 5px 10px;
	resize: vertical;
}

.box-header {
	padding: 10px 0;

	/* cursor: pointer; */
	background-color: rgba(0, 0, 0, 0.03);
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.custom-table td {
	padding: 7px 10px;
	font-size: 16px;
	border: 1px solid #ddd;
}

.custom-table tr td:first-child {
	width: 250px;
	font-weight: bold;
}

.modal {
	z-index: 15;
	background: rgba(255, 255, 255, 0.4);
}

.modal-backdrop {
	z-index: 14;
}

.navbar-static-top {
	z-index: 13;
}

body > .header {
	z-index: 10;
}

.modal-header h3 {
	margin: 0;
}

/* ------------------------------------------------------ */

.toggle {
	display: inline-block;
	cursor: pointer;
}
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 58px;
	height: 32px;
	vertical-align: middle;
	background: #ccc;
	border-radius: 16px;
	transition: background 0.25s;
}
.toggle-switch::before,
.toggle-switch::after {
	content: '';
}
.toggle-switch::before {
	position: absolute;
	top: 4px;
	left: 4px;
	display: block;
	width: 24px;
	height: 24px;
	background: linear-gradient(to bottom, #fff 0%, #eee 100%);
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
	transition: left 0.25s;
}
.toggle:hover .toggle-switch::before {
	background: linear-gradient(to bottom, #fff 0%, #fff 100%);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
	background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch::before {
	left: 30px;
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	position: relative;
	top: 2px;
	margin-left: 5px;
}

.modal-flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.modal-flex-container .modal-dialog {
	flex: 0 0 auto;
	max-height: 100%;
}

a {
	cursor: pointer;
}

/* ------------------------------------------------------ */
/* add .dropdown-menu.inside-popup + .btn.dropdown-toggle.center */

.dropdown-menu.inside-popup {
	position: static;
	margin-top: 8px;
}

.open > .dropdown-menu.inside-popup {
	position: static;
	float: none;
}

.datepicker-dropdown {
	position: absolute;
}

.btn-group > .btn.dropdown-toggle.center {
	float: none;
}

@keyframes scalingAnimation {
	from {
		max-height: 0;
		opacity: 0;
		transform: scaleY(0);
	}

	to {
		max-height: 194px;
		opacity: 1;
		transform: scaleY(1);
	}
}

#potential-property-package .open > .dropdown-menu {
	transform-origin: 0 0;
	animation-name: scalingAnimation;
}

/* ------------------------------------------------------ */

.monitor-group {
	font-size: 0;
	color: #fff;
	letter-spacing: 0;
}

.monitor-group:not(:last-child) {
	margin-bottom: 4px;
}

.monitor-group.red .small-box {
	background-color: #da3438;
}

.monitor-group.blue .small-box {
	background-color: #0074db;
}

.monitor-group.green .small-box {
	background-color: #008742;
}

.monitor-group .small-box {
	display: inline-block;
	width: 284px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.monitor-group .small-box .inner h3 {
	margin-bottom: 8px;
	font-size: 32px;
}

.monitor-group .small-box .inner p {
	height: 48px;
	margin-bottom: 0;
}

.monitor-group .small-box .small-box-footer {
	padding: 4px 10px;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

.monitor-group .small-box .small-box-footer .fa {
	float: right;
	line-height: 1.3;
}

.select2 {
	text-align: left;
}

.select2-container .select2-selection--single {
	height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	top: 3px;
}

.select2-container--default .select2-results__option {
	position: relative;
	padding-right: 26px;
}

.select2-container--default
	.select2-results__option[aria-selected='true']::after {
	position: absolute;
	top: 50%;
	right: 6px;
	font: normal normal normal 14px/1 FontAwesome;
	color: #333;
	content: '\f00c';
	transform: translateY(-50%);
}
