/** Base **/

body {
  font-family: 'Lato', sans-serif;
  color: #3e5168;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

[v-cloak] {
  display: none !important;
}

textarea {
  resize: none;
}

a {
  color: #1baa56;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #1baa56;
}

s {
  text-decoration: line-through;
}

b {
  font-weight: bold;
}

p.text {
  margin-bottom: 0;
}

.stretch {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 767px) {
  .stretch-xs {
    padding-right: 0;
    padding-left: 0;
  }
  .stretch-r-xs {
    padding-right: 0;
  }
  .stretch-l-xs {
    padding-left: 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .stretch-sm {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .stretch-md {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .stretch-lg {
    padding-right: 0;
    padding-left: 0;
  }
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none,
.input-none {
  display: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pos-fixed {
  position: fixed;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.clickable {
  cursor: pointer;
}

.forbidden {
  cursor: not-allowed;
}

.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-center-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.flex-between {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

button.closemodal {
  position: absolute;
  top: -3px;
  right: 4px;
  opacity: 1;
  z-index: 3;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-smaller {
  font-size: smaller;
}

.text-mamigreen {
  color: #1baa56;
}

.text-mamiorange {
  color: #EC4A0C;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.btn-disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

.outline-mamigreen {
  outline: 2px #1baa56 solid;
}

.btn-mamigreen {
  color: #fff;
  background-color: #1baa56;
  border-color: #239923;
}

.btn-mamigreen:active,
.btn-mamigreen:hover,
.btn-mamigreen:focus {
  color: #fff;
  background-color: #1f881f;
  border-color: #1b771b;
  text-decoration: none;
}

.btn-mamigreen-inverse,
.btn-mamigreen-inverse2 {
  color: #1baa56;
  background-color: #fff;
  border-color: #239923;
}

.btn-mamigreen-inverse:active,
.btn-mamigreen-inverse:hover,
.btn-mamigreen-inverse:focus {
  color: #1baa56;
  background-color: #e6e6e6;
  border-color: #239923;
  text-decoration: none;
}

.btn-mamigreen-inverse2:active,
.btn-mamigreen-inverse2:hover,
.btn-mamigreen-inverse2:focus {
  color: #fff;
  background-color: #1baa56;
  border-color: #239923;
  text-decoration: none;
}

.btn-mamiorange {
  color: #fff;
  background-color: #EC4A0C;
  border-color: #e44925;
}

.btn-mamiorange:active,
.btn-mamiorange:hover,
.btn-mamiorange:focus {
  color: #fff;
  background-color: #cb4121;
  border-color: #b1391d;
  text-decoration: none;
}

.btn-mamiorange-inverse,
.btn-mamiorange-inverse2 {
  color: #EC4A0C;
  background-color: #fff;
  border-color: #e44925;
}

.btn-mamiorange-inverse:active,
.btn-mamiorange-inverse:hover,
.btn-mamiorange-inverse:focus {
  color: #cb4121;
  background-color: #e6e6e6;
  border-color: #b1391d;
  text-decoration: none;
}

.btn-mamiorange-inverse2:active,
.btn-mamiorange-inverse2:hover,
.btn-mamiorange-inverse2:focus {
  color: #fff;
  background-color: #EC4A0C;
  border-color: #e44925;
  text-decoration: none;
}

.btn-mamigrey {
  color: #fff;
  background-color: #6a6a6a;
  border-color: #5f5f5f;
}

.btn-mamigrey:active,
.btn-mamigrey:hover,
.btn-mamigrey:focus {
  color: #fff;
  background-color: #545454;
  border-color: #4a4a4a;
  text-decoration: none;
}

.loading-spinner-green {
  color: #1baa56;
}

.loading-spinner-default {
  font-size: inherit;
}

.loading-spinner-small {
  font-size: 14px;
}

.loading-spinner-big {
  font-size: 42px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*Wrapper*/

@media (max-width: 767px) {
  .app-wrapper {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .banner-is-hidden {
    margin-top: 0 !important;
  }
  .hidden-banner {
    margin-top: 54px !important;
  }
}

.modal-content {
  border: 1px solid #1baa56;
}

.modal-no-border .modal-header {
  border-bottom: none;
}
.modal-no-border .modal-footer {
  border-top: none;
}

.mami-loading-wrapper {
  height: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/*Modal Loading*/

#modalLoading.modal {
  z-index: 10010;
}

#modalLoading .modal-content {
  border: 1px solid #3cb33c;
}

#modalLoading .spinner {
  margin: 35px auto 30px;
  width: auto;
  text-align: center;
}

#modalLoading .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #3cb33c;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#modalLoading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#modalLoading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*Checbox & Radio Button*/

/*https://bootsnipp.com/snippets/ZkMKE*/

.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  position: relative;
  line-height: 1.2;
  padding-left: 5px;
}

.checkbox label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type='checkbox'] {
  opacity: 0;
}

.checkbox input[type='checkbox']:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type='checkbox']:checked + label::after {
  font-family: 'FontAwesome';
  content: '\f00c';
}

.checkbox input[type='checkbox']:disabled + label {
  opacity: 0.65;
  cursor: not-allowed;
}

.checkbox input[type='checkbox']:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
  margin-right: 5px;
  margin-left: 0;
}

.checkbox-primary input[type='checkbox']:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type='checkbox']:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type='checkbox']:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type='checkbox']:checked + label::after {
  color: #fff;
}

.checkbox-info input[type='checkbox']:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type='checkbox']:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type='checkbox']:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type='checkbox']:checked + label::after {
  color: #fff;
}

.checkbox-success input[type='checkbox']:checked + label::before {
  background-color: #1baa56;
  border-color: #1baa56;
}

.checkbox-success input[type='checkbox']:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  position: relative;
  padding-left: 0;
  line-height: 1;
}

.radio label::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type='radio'] {
  opacity: 0;
}

.radio input[type='radio']:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type='radio']:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type='radio']:disabled + label {
  opacity: 0.65;
}

.radio input[type='radio']:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
  margin-left: 0;
}

.radio.radio-inline.input-field {
  margin: 0;
  padding: 0;
}

.radio-primary input[type='radio'] + label::after {
  background-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::before {
  border-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::after {
  background-color: #428bca;
}

.radio-danger input[type='radio'] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type='radio'] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type='radio'] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type='radio'] + label::after {
  background-color: #1baa56;
}

.radio-success input[type='radio']:checked + label::before {
  border-color: #1baa56;
}

.radio-success input[type='radio']:checked + label::after {
  background-color: #1baa56;
}

/*Material Card*/

.material-card {
  background: #fff;
  border-radius: 2px;
  position: relative;
}

.material-card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.material-card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/** Modal Login **/

#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}

#login .modal-dialog {
  width: 300px;
}

.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 5px;
}

.modal-title.login-title.login-select {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
}

.login-description {
  color: #3e5168;
}

.login-popup-img {
  width: 134px;
  height: auto;
  margin-bottom: 15px;
}

.login-selector {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #545454;
}

.facebook-login-button {
  width: 75%;
  margin: 0px auto auto;
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.modal-title.login-title.login-title-google {
  padding-top: 15px;
  padding-bottom: 5px;
}

.google-login-button {
  width: 75%;
  margin: 0 auto auto;
  background-color: #fff;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.google-login-button img {
  width: 22px;
  margin-bottom: 1px;
}

.navbar-brand.navbar-logo {
  position: relative;
}

.new-label {
  background-color: #f95516;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  right: -3px;
  top: 3px;
  font-size: 10px;
  padding: 0px 5px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 600;
}
