/*Banner*/
.banner-section {
  background-color: #33cc33;
  border-color: #33cc33;
  z-index: 1050;
}
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content > .content-close {
  font-size: 20px;
  color: #807e78;
}
.banner-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.banner-app > p {
  color: #fff;
  margin: 0;
}
.banner-app > .app-star {
  color: #ffd200;
}
.banner-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  color: #fff;
}
.banner-button > label {
  background: transparent;
  font-weight: normal;
  border: 1px solid #fff;
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 54px;
}
.navbar-new {
  background-color: #1baa56;
  border-color: #1baa56;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-new {
    top: 54px;
  }
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar-toggle {
  border-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-toggle > .icon-bar {
  background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
  color: #fff;
  font-size: 16px;
  width: 22px;
}
.toggle-search {
  padding-top: 7px;
  padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-logo {
    padding: 5px 5px 5px 0;
  }
  .navbar-app {
    padding: 5px 15px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    width: 104px;
    height: 34px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    height: 34px !important;
  }
}
.navbar-search {
  padding-right: 0;
  padding-left: 0;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
  color: #1baa56;
}
@media (max-width: 1199px) {
  .navbar-search > .form-group > .input-group > input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .navbar-search > .form-group > .input-group > input {
    width: 374px;
  }
}
.input-group-addon {
  background-color: #fff;
  color: #1baa56;
}
.input-group-addon:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.navbar-promotion {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-promotion > a {
  color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #fff;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.navbar-promotion > a {
  color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #fff;
  }
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #1baa56;
    background-color: #fff;
  }
}
.user-photo,
.owner-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.user-name,
.owner-name {
  padding-right: 5px;
  padding-left: 5px;
}
.booking-counter.is-loading .fa {
  color: #fff;
  font-size: inherit;
}
.booking-counter.is-shown {
  background-color: #fff;
  color: #1baa56;
  font-weight: bold;
  padding: 0px 6px;
  border-radius: 100%;
}

.breadcrumb-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media (max-width: 767px) {
  .breadcrumb-new {
    margin-top: 108px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: fixed;
    z-index: 100;
  }
}
.breadcrumb-new > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-list {
  color: #1baa56;
}

/*Container Booking*/
@media (max-width: 767px) {
  .booking-container {
    margin-top: 108px;
  }
}
@media (min-width: 768px) {
  .booking-container {
    margin-top: 54px;
  }
}

/*Header Booking*/
.booking-header-title {
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 991px) {
  .booking-header-title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  .booking-header-title {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/*Breadcrumb Booking*/
.booking-breadcrumb {
  text-align: center;
}
@media (max-width: 991px) {
  .booking-breadcrumb {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .booking-breadcrumb {
    font-size: 16px;
  }
}
.booking-breadcrumb-content {
  padding: 0;
}
.booking-breadcrumb-content > span {
  border-top: 2px solid #1f881f;
  border-bottom: 2px solid #1f881f;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #9b9b9b;
  background-color: #fff;
  cursor: default;
}
@media (max-width: 767px) {
  .booking-breadcrumb-content > span {
    padding-right: 0;
    padding-left: 0;
  }
}
.booking-breadcrumb-content > span.most-left {
  border-left: 2px solid #1f881f;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.booking-breadcrumb-content > span.most-right {
  border-right: 2px solid #1f881f;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.booking-breadcrumb-content > span.is-selected {
  color: #fff;
  background-color: #1f881f;
}

/*Summary Booking*/
.booking-summary {
  border: 2px solid #3e5068;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.booking-summary-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3e5068;
  text-align: center;
  padding: 8px 0;
}
.booking-summary-content {
  color: #3e5068;
  text-align: left;
  cursor: default;
  user-select: none;
  padding: 10px 0 0;
}
.booking-summary-content.has-border-top {
  border-top: 1px solid #3e5068;
}

/*Select Booking*/
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover,
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover,
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
  color: #a94442;
  text-decoration: line-through;
}
.booking-select {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .booking-select-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .booking-select-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.booking-select-check {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}
.booking-select-check > p {
  font-weight: bold;
  color: #1baa56;
}
.booking-select-check > .check-input,
.booking-select-check > .check-submit {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 767px) {
  .booking-select-check > .check-input > #checkDuration {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .booking-select-check > .check-input > #checkDuration {
    width: 60%;
  }
}
.booking-select-check > .check-input > #checkTotalRoom {
  width: 100%;
}
.booking-select-info {
  color: #888;
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking-select-result > .result-title {
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.booking-select-result > .result-room {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}
.booking-select-result > .result-room.is-low-qty {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.result-room .room-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .result-room .room-photo {
    height: 50px;
  }
}
@media (min-width: 768px) {
  .result-room .room-photo {
    height: 100px;
  }
}
3 .result-room > .room-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}
.result-room > .room-title > .extra {
  color: #a94442;
  font-weight: normal;
}
.result-room .room-label {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
}
.result-room .room-label > p {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .result-room .room-label > p {
    font-size: 12px;
  }
}
.result-room .room-label > .main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.result-room .room-label > .main > img {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .result-room .room-label > .main > img {
    width: 20px;
  }
}
@media (min-width: 992px) {
  .result-room .room-label > .main > img {
    width: 25px;
  }
}
.result-room .room-label > .extra {
  color: #1baa56;
}
@media (max-width: 991px) {
  .result-room .room-label > .extra {
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .result-room .room-label > .extra {
    margin-left: 30px;
  }
}
.result-room.is-null {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 30px 0;
  border-top: 1px solid #eee;
  color: #999;
  font-weight: bold;
}
.result-room.is-null > p {
  white-space: pre-wrap;
}
@media (max-width: 991px) {
  .result-room.is-null > p {
    font-size: 14px;
  }
  .result-room.is-null > img {
    height: 100px;
  }
}
@media (min-width: 992px) {
  .result-room.is-null > p {
    font-size: 16px;
  }
  .result-room.is-null > img {
    height: 120px;
  }
}

.room-person {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
}
@media (min-width: 992px) {
  .room-person.as-title {
    padding-top: 7px;
  }
}
.room-person > label {
  font-weight: normal;
  margin: 0;
}
@media (max-width: 767px) {
  .room-person > select {
    width: 60%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .room-person > select {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .room-person > select {
    width: 60%;
  }
}

.room-price {
  padding: 0 15px 0 0;
  text-align: right;
}
.room-price.is-before {
  color: #888;
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .room-price.is-before {
    margin-bottom: 5px;
  }
}
.room-price.is-current {
  color: #1baa56;
  font-weight: bold;
}
@media (max-width: 767px) {
  .room-price.is-current {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .room-price.is-current {
    font-size: 20px;
  }
}

.room-choose > p {
  margin: 0;
}
@media (min-width: 768px) {
  .room-choose > p {
    text-align: right;
  }
}
.room-choose > .btn {
  float: right;
}
@media (max-width: 767px) {
  .room-choose > .btn {
    width: 100%;
    margin-top: 5px;
  }
}

/*Detail Booking*/
.booking-detail {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .booking-detail-content {
    padding-top: 5px;
  }
}
@media (min-width: 992px) {
  .booking-detail-content {
    padding-top: 20px;
  }
}
.booking-detail-person-title {
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.booking-detail-person {
  margin-bottom: 10px;
}
.booking-detail-person > .check-similarity {
  padding-right: 5px;
}
.booking-detail-person > .btn {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .booking-detail-person > .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .booking-detail-person > .btn {
    width: 50%;
    float: right;
  }
}

/*Review Booking*/
.booking-review {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .booking-review-content {
    padding-top: 15px;
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .booking-review-content {
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .booking-review-action {
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
}
@media (max-width: 991px) {
  .booking-review-action > .btn {
    width: 100%;
  }
  .booking-review-action > .btn:first-child {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .booking-review-action > .btn {
    margin-bottom: 10px;
  }
}

/*Payment Booking*/
.booking-payment {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .booking-payment-content {
    padding-top: 15px;
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .booking-payment-content {
    padding-top: 20px;
  }
}
.booking-payment-countdown > .main {
  background-color: #EC4A0C;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
}
.booking-payment-countdown > .extra {
  padding: 6px 12px;
  color: #EC4A0C;
}
@media (max-width: 767px) {
  .booking-payment-countdown > .main,
  .booking-payment-countdown > .extra {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .booking-payment-countdown > .main,
  .booking-payment-countdown > .extra {
    font-size: 18px;
  }
  .booking-payment-countdown > .main {
    text-align: center;
  }
}
.booking-payment-info {
  color: #000;
}
.booking-payment-info > p {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .booking-payment-info > p:first-child {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .booking-payment-info {
    margin-top: 15px;
  }
  .booking-payment-info > p {
    font-size: 22px;
  }
}
.booking-payment-account {
  color: #000;
  border-bottom: 2px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}
.booking-payment-account:last-child {
  border-bottom: none;
}
@media (max-width: 767px) {
  .booking-payment-account > p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .booking-payment-account > p:nth-child(2),
  .booking-payment-account > p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .booking-payment-account > p:nth-child(1) {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .booking-payment-account > p:nth-child(2),
  .booking-payment-account > p:nth-child(3) {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.booking-payment-confirm {
  color: #000;
  margin-bottom: 5px;
}
.booking-payment-confirm > .confirm-alert {
  background: whitesmoke;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

/*Receipt Booking*/
@media (max-width: 991px) {
  .booking-receipt {
    margin-bottom: 50px;
  }
}
.booking-receipt-content {
  color: #000;
}
@media (min-width: 460px) {
  .receipt-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}
.receipt-title > img {
  width: 150px;
}
.receipt-title > label {
  margin: 0;
  padding: 3px 6px;
  color: #fff;
  background-color: #009b4c;
  border-radius: 4px;
}
.receipt-header {
  color: #000;
  font-weight: bold;
}
.receipt-header > h3:after {
  content: '';
  display: block;
  width: 100px;
  height: 50%;
  border-bottom: 3px solid #1baa56;
  margin-top: 15px;
}
.receipt-room {
  padding-bottom: 5px;
}
.receipt-room > p,
.receipt-room > .room-name > p:last-child {
  margin-bottom: 5px;
}
.receipt-data {
  padding-top: 10px;
}
.receipt-data.has-separator {
  border-top: 1px solid #eee;
}
.receipt-data > .as-header > p:after {
  content: '';
  display: block;
  width: 80px;
  height: 50%;
  border-bottom: 3px solid #1baa56;
  margin-top: 10px;
}
.receipt-data > .as-header {
  font-size: 18px;
  font-weight: bold;
}
.receipt-data-subheader {
  color: #555;
  font-size: 12px;
  margin-bottom: 5px;
}
.receipt-data-subheader.is-bigger {
  font-size: 14px;
}
.receipt-data-object {
  font-weight: 600;
}
.receipt-data-object.is-bigger {
  font-size: 16px;
}
.receipt-data-object.is-smaller {
  font-size: 12px;
}
.receipt-data-object.is-green {
  color: #1baa56;
}
.receipt-data-object img {
  width: 20px;
}
@media (max-width: 991px) {
  .receipt-action {
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
}
@media (max-width: 991px) {
  .receipt-action > .btn {
    width: 100%;
  }
  .receipt-action > .btn:nth-child(2) {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .receipt-action {
    margin: 10px 0;
  }
  .receipt-action:first-child {
    margin-top: 60px;
  }
  .receipt-action > .btn {
    width: 130px;
  }
}
/*Modal Cancel Booking & Claim Guarantee*/
.cancel-claim-modal .modal-content {
  border: 1px solid #3cb33c;
}
.cancel-claim-modal .modal-body > textarea {
  min-height: 100px;
}
.cancel-claim-modal .modal-header,
.cancel-claim-modal .modal-footer {
  border: none;
}

/*Booking History*/
@media (min-width: 768px) {
  .booking-voucher-container,
  .booking-history-container {
    margin-top: 90px;
    padding-top: 15px;
  }
}
.booking-history-null {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 30px 0;
  color: #999;
  font-weight: bold;
}
@media (max-width: 991px) {
  .booking-history-null > p {
    font-size: 14px;
  }
  .booking-history-null > img {
    height: 100px;
  }
}
@media (min-width: 992px) {
  .booking-history-null > p {
    font-size: 16px;
  }
  .booking-history-null > img {
    height: 120px;
  }
}
.booking-history-data {
  color: #000;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.booking-history-data > .data-title,
.booking-history-data .data-detail {
  padding-top: 10px;
  padding-bottom: 10px;
}
.booking-history-data .data-status,
.booking-history-data .data-info {
  padding-top: 5px;
  padding-bottom: 5px;
}
.booking-history-data > .data-title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .booking-history-data > .data-title {
    font-size: 16px;
  }
}
.booking-history-data > .data-photo {
  padding-right: 0;
}
.booking-history-data > .data-photo > img {
  width: 100%;
}
@media (max-width: 767px) {
  .booking-history-data > .data-photo > img {
    min-height: 80px;
    max-height: 120px;
  }
}
@media (min-width: 768px) {
  .booking-history-data > .data-photo > img {
    height: 100px;
  }
}
.booking-history-data > .data-status {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 449px) {
  .booking-history-data .data-status > label,
  .booking-history-data .data-info > p {
    font-size: 12px;
  }
}
.booking-history-data .data-status > label {
  margin-bottom: 0;
}
.booking-history-data .data-status > label:first-child {
  color: #fff;
  font-weight: normal;
  margin-right: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}
.booking-history-data .data-status > label:first-child.is-green {
  background-color: #196c18;
}
.booking-history-data .data-status > label:first-child.is-grey {
  background-color: #6a6a6a;
}
.booking-history-data .data-status > label:last-child.is-green {
  color: #196c18;
}
.booking-history-data .data-status > label:last-child.is-grey {
  color: #6a6a6a;
}
.booking-history-data .data-info > p:first-child {
  margin-bottom: 5px;
}
.booking-history-data .data-info > p:last-child {
  margin-bottom: 0;
}
.booking-history-data .data-detail > .btn {
  width: 100%;
}
