body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
[v-cloak] {
  display: none !important;
}

a {
  color: #1baa56;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1baa56;
}
h5 {
  font-size: 16px;
}
label {
  margin-bottom: 0;
  font-weight: normal;
}

.p0 {
  padding-right: 0;
  padding-left: 0;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.clickable {
  cursor: pointer;
}
.forbidden {
  cursor: not-allowed;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.input-none {
  display: none;
}
.closemodal {
  position: absolute;
  top: -3px;
  right: 4px;
  opacity: 1;
  z-index: 3;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}

/*Banner*/
.banner-section {
  background-color: #33cc33;
  border-color: #33cc33;
  z-index: 1050;
}
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content > .content-close {
  font-size: 20px;
  color: #807e78;
}
.banner-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.banner-app > p {
  color: #fff;
  margin: 0;
}
.banner-app > .app-star {
  color: #ffd200;
}
.banner-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  color: #fff;
}
.banner-button > label {
  background: transparent;
  font-weight: normal;
  border: 1px solid #fff;
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 54px;
}
.navbar-new {
  background-color: #1baa56;
  border-color: #1baa56;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-new {
    top: 54px;
  }
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar-toggle {
  border-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-toggle > .icon-bar {
  background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
  color: #fff;
  font-size: 16px;
  width: 22px;
}
.toggle-search {
  padding-top: 7px;
  padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-logo {
    padding: 5px 0;
  }
  .navbar-app {
    padding: 5px 15px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    width: 104px;
    height: 34px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    height: 34px !important;
  }
}
.navbar-search {
  padding-right: 0;
  padding-left: 0;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
  color: #1baa56;
}
@media (max-width: 1199px) {
  .navbar-search > .form-group > .input-group > input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .navbar-search > .form-group > .input-group > input {
    width: 374px;
  }
}
.input-group-addon {
  background-color: #fff;
  color: #1baa56;
  height: 34px;
}
.input-group-addon:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.navbar-promotion {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-promotion > a {
  color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #fff;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.navbar-promotion > a {
  color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #fff;
  }
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #1baa56;
    background-color: #fff;
  }
}
.user-photo,
.owner-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.user-name,
.owner-name {
  padding-right: 5px;
  padding-left: 5px;
}
.booking-counter.is-loading .fa {
  color: #fff;
  font-size: inherit;
}
.booking-counter.is-shown {
  background-color: #fff;
  color: #1baa56;
  font-weight: bold;
  padding: 0px 6px;
  border-radius: 100%;
}

.breadcrumb-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media (max-width: 767px) {
  .breadcrumb-new {
    margin-top: 108px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    z-index: 100;
  }
}
.breadcrumb-new > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-list {
  color: #1baa56;
}

/*Pagination*/
.pagination > li > a,
.pagination > li > span {
  color: #1baa56;
}

@media (max-width: 991px) and (min-width: 768px) {
  .mobile-search-input {
    margin-top: 108px;
  }
}
.mobile-search-input,
.mobile-search-campus {
  margin-bottom: 20px;
}
.mobile-search-campus > button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-search-campus > #campusLanding {
  border: 1px solid #eee;
}
#campusLanding > div,
.campus-landing {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .section-result {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .section-result {
    margin-top: 110px;
  }
}
.result-title {
  background-color: whitesmoke;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
}
.result-title a:hover,
.result-title a:active,
.result-title a:focus {
  text-decoration: underline !important;
}
@media (max-width: 767px) {
  .result-title span {
    display: block;
    margin-bottom: 5px;
  }
}
.result-loading {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 20px;
}
.result-loading .fa {
  color: #1baa56;
}
.result-count {
  margin: 10px 0 10px 0;
  padding-right: 15px;
  padding-left: 15px;
  color: #1baa56;
}
.result-count-null {
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .result-count-null {
    font-size: 14px;
  }
}
.result-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.result-room {
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 435px;
  cursor: pointer;
  position: relative;
}
.room-available {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.available-one {
  background-color: #e81a29;
  padding: 2px 0;
  width: 100%;
}
.available-more {
  background-color: #1baa56;
  padding: 2px 0;
  width: 100%;
}
.available-none {
  background-color: #333;
  padding: 2px 0;
  width: 100%;
}
.not-updated {
  background-color: #EC4A0C;
  color: #fff;
  padding: 2px 0;
  width: 100%;
}
.result-room:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.room-photo-price-icon {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.price-photo {
  color: #fff;
  font-size: 16px;
  background-color: #555;
  padding: 3px 10px;
  text-align: center;
  width: 50%;
}
.icon-photo {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.icon-photo > img {
  padding-right: 5px;
  padding-left: 5px;
  height: 29px;
}
.room-photo-full {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  opacity: 0.5;
}
.room-info {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
}
.info-title {
  font-weight: bold;
  font-size: 16px;
}
.info-female {
  padding: 2px 6px;
  border-radius: 2px;
  color: #fff;
  background-color: #f26389;
}
.info-male {
  padding: 2px 6px;
  border-radius: 2px;
  color: #fff;
  background-color: #3498db;
}
.info-mix {
  padding: 2px 6px;
  border-radius: 2px;
  color: #fff;
  background-color: #9b59b6;
}
.info-keyword {
  padding: 2px 6px;
  border-radius: 2px;
  color: #fff;
  background-color: #1baa56;
}
.room-badge {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.badge-premium,
.badge-booking {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-weight: bold;
}
.badge-premium {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  color: #e0af50;
}
.badge-booking {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  color: #009b4c;
}
.room-rating {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
}
.rating-star {
  color: #1baa56;
  padding-left: 2px;
  padding-right: 2px;
}
.rating-count {
  color: #555;
}
.room-contact {
  position: absolute;
  bottom: 10px;
  margin-top: 5px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.contact-label {
  border: 1px solid #009b4c;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  width: 100%;
  color: #009b4c;
  font-weight: bold;
  cursor: pointer;
}

.page-scroll {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.scroll-top {
  color: #009b4c;
  font-size: 30px;
  cursor: pointer;
}
.scroll-top:hover {
  color: #ccc;
}

.section-landing {
  margin-top: 110px;
  padding: 0 10px 0 10px;
  border: 1px solid #eee;
}
.landing-heading {
  padding: 5px 0 5px 0;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 1200px) {
  .landing-bigcity {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.bigcity-grid {
  border: 1px solid #c1c1c1;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.bigcity-grid:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #000;
  text-decoration: none;
}
.bigcity-grid:focus {
  color: #000;
  text-decoration: none;
}
.bigcity-grid > b {
  font-size: 14px;
}

.landing-tag {
  margin-bottom: 10px;
}
.tag-list {
  padding-top: 3px;
  padding-bottom: 3px;
}
.tag-list > p {
  margin-bottom: 0;
}
.tag-list > div > a {
  font-size: 14px;
}

.section-promotion {
  text-align: center;
  padding: 35px 15px;
  margin-top: 30px;
  background-color: whitesmoke;
  color: #2d2d2d;
}
@media (max-width: 767px) {
  .promotion-box {
    width: 100% !important;
  }
}
.promotion-box {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #009b4c;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.promotion-box:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #1baa56;
}
.promotion-box:active,
.promotion-box:focus {
  color: #fff;
  text-decoration: none;
}

.mamikos-mark {
  text-align: center;
  font-size: 22px;
  color: #009b4c;
  padding-top: 45px;
  padding-bottom: 45px;
}

.desc-section {
  margin-bottom: 30px;
}
.desc-title {
  font-size: 18px;
  color: #888888;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee;
}

/** Modal Login **/
#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#login .modal-dialog {
  width: 300px;
}
.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 5px;
}
.modal-title.login-title.login-select {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
}
.login-description {
  color: #3e5168;
}
.login-popup-img {
  width: 134px;
  height: auto;
  margin-bottom: 15px;
}
.login-selector {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #545454;
}
.facebook-login-button {
  width: 75%;
  margin: 0px auto auto;
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.modal-title.login-title.login-title-google {
  padding-top: 15px;
  padding-bottom: 5px;
}
.google-login-button {
  width: 75%;
  margin: 0 auto auto;
  background-color: #fff;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.google-login-button img {
  width: 22px;
  margin-bottom: 1px;
}

/*Modal Loading*/
.overlay-loading {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.overlay-loading > h4 {
  margin-top: 0;
}

/*Include Footer*/
.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.logo-footer .img-logo-footer {
  width: 240px;
}
.text-footer {
  color: #000;
  text-align: center;
}
.link-footer,
.social-footer,
.contact-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-footer > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .link-footer > a {
    color: #009b4c;
  }
}
@media screen and (min-width: 767px) {
  .link-footer > a {
    color: #009b4c;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.link-footer > span {
  color: #888;
}
.social-footer > a {
  margin-right: 5px;
  margin-left: 5px;
}
.social-footer .icon-social-footer {
  width: 45px;
}
.contact-footer > a {
  color: #333;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
}
.contact-footer .icon-contact-footer {
  width: 20px;
}
.contact-footer .text-contact-footer {
  font-size: 11px;
  font-weight: bold;
}

/* icon promo kost is available (fix-promo-page)*/
.icon-top-container {
  position: absolute;
  margin-top: -144px;
}
.room-promo {
  display: flex;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  border: 2px #1baa56 solid;
  margin-top: -25px;
  margin-left: 6px;
  width: max-content;
}

.room-promo .promo-ic-container {
  background-color: #1baa56;
  padding: 4px;
}

.room-promo .promo-caption-container {
  color: #1baa56;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
}

.promo-icon {
  width: 19px;
  height: 19px;
}

/* APARTMENT STYLING */
.unit-icons {
  padding: 2px 12px;
}
.unit-icon-container {
  display: inline-block;
  padding-right: 10px;
}
.unit-icon-container .unit-icon {
  display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
  height: 25px;
  width: 25px;
}
.unit-icon-container .unit-icon-label {
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}
.unit-detail {
  font-size: 14px;
  padding: 5px;
  height: 30px;
}
.unit-tag-label {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
}
.landing-bigcity-md {
  padding: 10px;
}
.bigcity-box-md {
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.bigcity-box-md:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bigcity-img-md {
  height: 90px;
}
.bigcity-text-md {
  color: #000;
  font-weight: bold;
}

@media (max-width: 400px) {
  .bigcity-img-md {
    height: 50px;
  }
  .bigcity-text-md {
    font-size: 13px;
  }
}

a {
  text-decoration: none !important;
}
.landing-bigcity-lg {
  padding: 2px;
}
#bigCityLanding {
  padding-bottom: 20px;
}
.bigcity-box-lg {
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.bigcity-box-lg:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bigcity-img-lg {
  height: 50px;
}
.bigcity-text-lg {
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.text-promo {
  font-weight: bold;
  color: #000;
}
.img-promo {
  height: 40px;
}
.promo-box {
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 10px 15px;
  height: 65px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.promo-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.promo {
  padding: 5px;
}
.promo-menu-container {
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  background: #fff;
}
@media (max-width: 350px) {
  .promo-box {
    padding: 10px 0;
  }
  .text-promo {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .promo-menu-container {
    padding-left: 19%;
  }
}

.room-click-count {
  font-size: 16px;
  color: #000;
  text-align: left;
  margin-left: 3px;
  position: absolute;
  bottom: 43px;
  left: 10px;
}

.icon-container {
  margin-left: 15px;
  margin-top: 5px;
}
.icon-facility {
  height: 28px;
  margin-right: 5px;
}

.sponsored {
  padding: 3px 34px 3px 10px;
  background-color: #4fac28;
  color: #fff;
  position: absolute;
  top: 216px;
  right: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100px;
  font-weight: bolder;
  font-size: 0.9em;
}

/*NEW STYLE V1*/

.wrap-content {
  margin: 0 auto;
  padding-top: 19px;
  max-width: 321px;
  letter-spacing: 0.1px;
}

.kost-tag {
  display: inline-block;
  /*background-color: #eee;*/
  color: #000;
  border-radius: 5px;
  /*padding: 2px 5px;
  margin: 0 3px;*/
  float: left;
  position: relative;
  margin-right: -1px;
  font-size: 1.1em;
}

.kost-tag-gender-male {
  background-color: #fff !important;
  color: #3498db;
  font-weight: 600;
  margin-right: 0px;
}

.kost-tag-gender-female {
  background-color: #fff !important;
  color: #f26389;
  font-weight: 600;
  margin-right: 0px;
}

.kost-tag-gender-mixed {
  background-color: #fff !important;
  color: #9b59b6;
  font-weight: 600;
  margin-right: 0px;
}

.area-label {
  /*position: relative;
  top: 2.1px;*/
  color: #616161;
  font-weight: 600;
  letter-spacing: 0.2px;
  /*width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;*/
  display: flex;
}

.area-label > .sparator {
  color: #909090;
  left: 13px;
  /*height: 100px;*/
  margin: 0px;
  display: block;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

.kost-detail {
  font-size: 1.1em;
  padding: 0px 5px 0px 13px;
  /*height: 35px;*/
  margin-bottom: -7px;
  position: relative;
}

.kost-address {
  width: 100%;
  max-width: 229px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 24px;
  font-size: 1.1em;
  height: 25px;
}

.detail-price-kost {
  padding: 0px 12px;
  clear: both;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.detail-price-kost > .price > .available-room {
  font-size: 0.7em;
  color: #00bc25;
  /*margin-left: 10px;*/
}

.detail-price-kost > .price > .available-room.green {
  color: #00bc25;
}

.detail-price-kost > .price > .available-room.black {
  color: #626262;
}

.detail-price-kost > .price > .available-room.red {
  color: #dc1717;
}

.detail-price-kost > .price {
  font-size: 1.5em;
  color: #757575;
}

.detail-price-kost > .price > .rent-unit {
  font-size: 0.7em;
  position: relative;
}

span.sparator.rent-unit {
  margin-right: 0px;
}

span.sparator {
  font-weight: 700;
  color: #adadad;
  margin-right: 8px;
}

.kost-title {
  text-transform: capitalize;
  padding: 0 12px;
  font-weight: 500;
  font-size: 1.3em;
  color: #929292;
  margin-bottom: 10px;
  width: 100%;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
  display: block !important;
  height: 23px;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kost-detail-two {
  width: 100%;
  display: block;
  height: 20px;
  padding: 0px 12px;
  margin-top: -4px;
  margin-bottom: 13px;
}

.kost-detail-two img {
  width: 10px;
}

.kost-detail-two > ul {
  margin: 0px;
}

.kost-detail-two > ul > li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.kost-detail-two > ul > li.rating {
  color: darkgrey;
  line-height: 24px;
}

.kost-detail-two > ul > li.rating > img {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.kost-detail-two > ul > li.history {
  color: #00bc25;
  line-height: 23px;
}

.kost-detail-two > ul {
  padding: 0px;
}

.icon-container {
  margin-left: 12px;
  /*  margin-top: 10px;*/
  padding: 0px 12px;
  margin-top: 9px;
  padding: 0px 0px !important;
}
.icon-facility {
  height: 24px;
  margin-right: 10px;
}

.mami-room-promo {
  padding: 1px 4px 1px 4px;
  border: 1px solid;
  font-size: 0.8em;
  border-radius: 6px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  /*left: 373px;*/
  bottom: 0;
  color: #33ab3c;
  right: 0;
}

.area-promo {
  max-width: 60%;
}

.apartment-tag {
  color: #01921d;
  font-weight: 600;
}

.unit-tag-label {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  font-size: 0.94em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 133px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .unit-tag-label {
    max-width: 138px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .unit-tag-label {
    max-width: 133px;
  }
}

.apart-detail {
  margin-top: 12px !important;
}

img.icon-floor {
  height: 20px !important;
  width: 20px !important;
}
