html,
body {
  font-family: 'Asap', sans-serif;
  height: 100%;
  background-color: #ffffff;
}
.navbarTop {
  background-color: #006634;
  position: fixed;
  color: white;
  padding: 0px 50px;
  z-index: 999;
}
.navLogo {
  padding: 15px;
  padding-left: 20px;
}
.titleh1 {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.titleh2 {
  font-size: 20px;
  margin-top: 0px;
  padding-left: 2px;
}
.navRightSearch,
.navRightAdd {
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
  padding-right: 20px;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.menuText {
  font-size: 20px;
}
.img-room {
  margin: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  background-color: rgba(60, 63, 64, 0.9);
  font-size: 24px;
  font-weight: normal;
  left: 15px;
  bottom: -10px;
  padding: 2px 15px;
  font-family: 'Lato', sans-serif;
}
.listing {
  z-index: 99;
  padding: 0px 0px;
}
.roomDetail {
  background-color: white;
  height: 150px;
  padding-top: 15px;
  padding-left: 15px;
}
.labelMinRent {
  margin-top: 110px;
  background-color: #ff6700;
  color: white;
  position: absolute;
  bottom: 35px;
  right: 130px;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 15px;
  text-align: center;
  width: 110px;
}
.labelMale {
  margin-top: 110px;
  background-color: #3498db;
  color: white;
  position: absolute;
  bottom: 35px;
  right: 10px;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 15px;
  width: 110px;
  text-align: center;
}
.labelFemale {
  margin-top: 110px;
  background-color: #f26389;
  color: white;
  position: absolute;
  bottom: 35px;
  right: 10px;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 15px;
  width: 110px;
  text-align: center;
}
.labelMix {
  margin-top: 110px;
  background-color: #9b59b6;
  color: white;
  position: absolute;
  bottom: 35px;
  right: 10px;
  border-radius: 3px;
  font-size: 18px;
  padding: 2px 15px;
  width: 110px;
  text-align: center;
}
.priceDetail {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #545454;
}
.roomTitle {
  font-size: 20px;
  font-weight: bold;
  color: #545454;
}
.roomAddress {
  color: #c3c3c3;
}
.position {
  position: absolute;
  bottom: 28px;
  left: 0px;
  color: #c3c3c3;
}
.tambahkanKos {
  top: 25px;
  padding: 5px 15px;
  border: 1px solid white;
  color: white;
  float: right;
  cursor: pointer;
}
.logo {
  width: 70px;
}
.foot1 {
  font-size: 25px;
  font-weight: bold;
}
.foot2 {
  font-size: 18px;
}
.foot3 {
  top: 25px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  float: none;
  position: initial;
  font-size: 18px;
  padding: 10px;
}
.roomCount {
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #006634;
}
.desc {
  font-size: 15px;
}
@media (min-width: 320px) {
  .populartag {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .populartag {
    text-align: left;
  }
  .bannerOff {
    margin-top: 194px;
  }
  .bannerinstall {
    margin-top: 124px;
  }
  .bannerOn {
    margin-top: 124px;
  }
}
@media (min-width: 599px) and (max-width: 1023px) {
  .populartag {
    text-align: center;
  }
  .bannerOn {
    margin-top: 194px;
  }
  .bannerOff {
    margin-top: 194px;
  }
  .bannerinstall {
    margin-top: 94px;
  }
  .navbarTop {
    padding: 0px;
  }
  .title {
    padding-left: 50px;
  }
  .labelMinRent {
    font-size: 15px;
    right: 100px;
  }
  .navRight {
    top: 35px;
  }
  .listing {
    padding: 0px;
  }
  .navRightSearch {
    top: 25px;
  }
  #text,
  .roomTitle,
  .priceDetail,
  .menuText {
    font-size: 15px;
  }

  .labelFemale,
  .labelMale,
  .labelMix {
    font-size: 15px;
    width: 80px;
  }
}
@media (max-width: 599px) {
  .navbarTop {
    padding: 0px;
  }
  .bannerOn {
    margin-top: 152px;
  }
  .bannerOff {
    margin-top: 152px;
  }
  .bannerinstall {
    margin-top: 62px;
  }
  .navRightSearch {
    top: 12px;
    right: 0px;
  }
  .navRightAdd {
    right: 0px;
    top: 24px;
  }
  .navLogo {
    padding-left: 15px;
  }
  .listing {
    padding: 0px;
  }
  .titleh1 {
    font-size: 15px;
  }
  .titleh2 {
    font-size: 10px;
    margin-top: 1px;
    padding-left: 0px;
  }
  .logo {
    width: 35px;
  }
  #text {
    font-size: 15px;
    left: 0px;
  }
  .priceDetail,
  .menuText {
    font-size: 10px;
  }
  .roomTitle {
    font-size: 15px;
  }
  .labelMale {
    font-size: 10px;
    width: 50px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMinRent {
    font-size: 10px;
  }
  .labelFemale {
    font-size: 10px;
    width: 45px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMix {
    font-size: 10px;
    width: 58px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMinRent {
    font-size: 10px;
    width: 62px;
    padding: 2px 8px;
    bottom: 30px;
    right: 60px;
  }
  .listing {
    margin-top: 0px;
  }
  .foot1,
  .foot3 {
    font-size: 15px;
  }
  .foot2 {
    font-size: 12px;
  }
  .roomCount {
    padding-left: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #006634;
  }
}
@media (max-width: 320px) {
  .navRightAdd {
    right: -55px;
    top: 10px;
  }
  .navRightSearch {
    top: 14px;
    left: 5px;
  }
  .bannerinstall {
    margin-top: 62px;
  }
  .bannerOn {
    margin-top: 152px;
  }
  .bannerOff {
    margin-top: 152px;
  }
}

.bannerinstall {
  height: 75px;

  position: fixed;
  left: 0px;
  right: 0px;
}
.bannercontent {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}
.bannernone {
  display: none;
  height: 0px;
}

.urllanding {
  cursor: pointer;
  font-size: 12px;
  color: #006634 !important;
}
.urllanding:hover {
  font-weight: bold;
}
.urllandingArea {
  cursor: pointer;
  font-size: 13px;
}
.urllandingArea:hover {
  font-weight: bold;
}
.urlactive:hover {
  font-weight: bold;
  color: green;
}
.left-title {
  text-align: center;
  background-color: #006634;
  padding: 5px;
  color: white;
  font-size: 20px;
}
.left-box {
  border: 1px solid whitesmoke;
  padding: 15px;
}
.form-search {
  margin-top: 5px;
  border-color: #46bc46;
}
.form_search {
  position: relative;
  padding: 0px 0px 10px 0px;
}
.button-search {
  height: 45px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5%;
  width: 45px;
  padding: 0px 0px;
  font-size: 20px;
  border-radius: 40px;
  background: #1baa56;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
}
.form_search input[type='search'] {
  width: 100%;
  margin-right: -40px;
  padding: 0px 20px;
  font-size: 15px;
  border: none;
  border-right: none;
  border-radius: 40px;
  box-sizing: border-box;
}
.breadcrumblg {
  font-size: 15px;
  font-weight: bold;
  color: #006634;
  margin-bottom: 15px;
  padding: 0px;
}
.advFilter {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: #006634;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.dispInit {
  display: initial;
}
.dispNone {
  display: none;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
  color: #ffffff;
  background-color: #006634;
  border-color: whitesmoke;
}
.content-button {
  padding: 0px;
}
.content {
  border-radius: 5px;
  border-color: whitesmoke;
}
.form-control {
  margin-bottom: 10px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 5px;
}
.gsc-input-box {
  border: 1px solid #d9d9d9;
  background: #fff;
  height: 35px !important;
  border-radius: 50px;
}
.gsc-control-cse,
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.gsc-search-button-v2 {
  height: 35px !important;
  display: none !important;
}
.searchResults {
  color: #006634;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.searchResultsxs {
  color: #006634;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.gscb_a {
  position: relative;
  right: 0px;
  top: 7px;
}
.city-jabodetabek {
  padding: 10px 10px;
}
.city-jabodetabekLg {
  padding: 10px 0px;
}
/**Bread Crumb**/
.breadcrumb {
  padding: 0px !important;
  list-style: none;
  overflow: hidden;
  font: 18px;
  border-radius: 0px;
  background-color: white !important;
  margin-bottom: 0px !important;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  background: brown; /* fallback color */
  background: hsla(149, 100%, 30%, 1);
  position: relative;
  display: block;
  float: left;
}
.breadcrumb li a:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(149, 100%, 30%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.breadcrumb li a:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.breadcrumb li:first-child a {
  padding-left: 20px;
  font-size: 20px;
  padding: 5px 0 7px 20px;
}
.breadcrumb li:nth-child(2) a {
  background: hsla(240, 3%, 94%, 1);
  color: #009b4c;
}
.breadcrumb li:nth-child(2) a:after {
  border-left-color: hsla(240, 3%, 94%, 1);
}
.breadcrumb li:nth-child(3) a {
  background: hsla(240, 3%, 94%, 1);
  color: #009b4c;
}
.breadcrumb li:nth-child(3) a:after {
  border-left-color: hsla(240, 3%, 94%, 1);
}
.breadcrumb li:nth-child(4) a {
  background: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(4) a:after {
  border-left-color: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(5) a {
  background: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(5) a:after {
  border-left-color: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:last-child a {
  background: white !important;
  color: #969696;
  pointer-events: none;
  padding-top: 10px !important;
  cursor: default;
  padding-left: 45px !important;
}
.breadcrumb li:last-child a:after {
  border: 0;
  background-color: white;
  padding-left: 45px !important;
}
.breadcrumb li a:hover {
  background: hsla(149, 95%, 23%, 1);
  color: white;
}
.breadcrumb li a:hover:after {
  border-left-color: hsla(149, 95%, 23%, 1) !important;
  color: white;
}

@media (max-width: 768px) {
  .breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    background: brown; /* fallback color */
    background: hsla(149, 100%, 30%, 1);
    position: relative;
    display: block;
    float: left;
  }
  .breadcrumb li:last-child a {
  }
  .breadcrumbdiv {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .breadcrumbdiv {
    margin-bottom: 10px;
  }
}
.breadcrumbdiv {
  margin-bottom: 20px;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
  padding-left: 10px !important;
  margin-right: 15px !important;
}
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
  padding-left: 10px !important;
  margin-right: 15px !important;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
  padding-left: 10px !important;
}
.gsc-control-cse {
  font-family: Asap, sans-serif !important;
}
