/** Base **/
body {
  font-family: 'Lato', sans-serif;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
[v-cloak] {
  display: none !important;
}
textarea {
  resize: none;
}
a {
  color: #1baa56;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1baa56;
}

.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.input-none {
  display: none;
}
.closemodal {
  position: absolute;
  top: -3px;
  right: 4px;
  opacity: 1;
  z-index: 3;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}

/*Banner*/
.banner-section {
  background-color: #33cc33;
  border-color: #33cc33;
  z-index: 1050;
}
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content > .content-close {
  font-size: 20px;
  color: #807e78;
}
.banner-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.banner-app > p {
  color: #fff;
  margin: 0;
}
.banner-app > .app-star {
  color: #ffd200;
}
.banner-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  color: #fff;
}
.banner-button > label {
  background: transparent;
  font-weight: normal;
  border: 1px solid #fff;
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 54px;
}
.navbar-new {
  background-color: #1baa56;
  border-color: #1baa56;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-new {
    top: 54px;
  }
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar-toggle {
  border-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-toggle > .icon-bar {
  background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
  color: #fff;
  font-size: 16px;
  width: 22px;
}
.toggle-search {
  padding-top: 7px;
  padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-logo {
    padding: 5px 0;
  }
  .navbar-app {
    padding: 5px 15px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    width: 104px;
    height: 34px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    height: 34px !important;
  }
}
.navbar-search {
  padding-right: 0;
  padding-left: 0;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
  color: #1baa56;
}
@media (max-width: 1199px) {
  .navbar-search > .form-group > .input-group > input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .navbar-search > .form-group > .input-group > input {
    width: 374px;
  }
}
.input-group-addon {
  background-color: #fff;
  color: #1baa56;
}
.input-group-addon:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.navbar-promotion {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-promotion > a {
  color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #fff;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.navbar-promotion > a {
  color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #fff;
  }
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #1baa56;
    background-color: #fff;
  }
}
.user-photo,
.owner-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.user-name,
.owner-name {
  padding-right: 5px;
  padding-left: 5px;
}

.breadcrumb-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media (max-width: 767px) {
  .breadcrumb-new {
    margin-top: 108px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
    overflow-x: scroll;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    z-index: 100;
  }
}
.breadcrumb-new > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-list {
  color: #1baa56;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: px;
}
.small,
small {
  font-size: 110%;
  line-height: 2.067;
}
.main-content {
  margin-top: 75px;
}
@media (max-width: 992px) {
  .main-content {
    margin-top: 10px;
  }
}

/*Modal Loading*/
.modal-loading {
  text-align: center;
}
.modal-loading h3 {
  margin-top: 0;
}

.list-group {
  margin-top: 54px;
}

/** Hubungi Kost**/
.room-info {
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  padding: 15px 75px;
  height: 60px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
/*.room-info-phone{
      vertical-align: middle;
      text-align: center;
      padding: 3px 10px 0px 10px;
      font-size: 16px;
      font-weight: bold;
      background-color:#EC4A0C!important;
      color:#FFF;
      border: 1px solid #EC4A0C;
      cursor: pointer;
      margin-top: 15px;
    }
    .room-info-phone img{
      width: 30px;
      margin-bottom: 5px;
    }*/
.room-info-book,
.room-info-chat {
  vertical-align: middle;
  text-align: center;
  padding: 3px 10px 0px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  border: 1px solid #EC4A0C;
}
.room-info-book img,
.room-info-chat img {
  width: 30px;
  margin-bottom: 5px;
}
.room-info-book {
  background-color: #fff !important;
  color: #EC4A0C;
}
.room-info-chat {
  background-color: #EC4A0C !important;
  color: #fff;
}

.female {
  background-color: #f26389;
  border: 1px solid #f26389;
  color: #ffffff;
}
.male {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #ffffff;
}
.mix {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  color: #ffffff;
}
.title_room_mix {
  color: #9b59b6;
}
.title_room_male {
  color: #3498db;
}
.title_room_female {
  color: #f26389;
}
.room-info1 {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
.room-info2 {
  border-radius: 0px;
}
.room-info3 {
  border-radius: 0px 5px 5px 0px;
}
.room-info-box {
  margin: 5px 0px;
}
.nopad {
  padding: 0px 0px;
}
.noborder {
  border: none;
}

/** Facility **/

.icon_facility {
  width: 35px;
  margin-right: 10px;
}
.trim-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.h3Class {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.h4Class {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

.facility {
  padding: 10px 15px;
  border-radius: 0px;
  vertical-align: middle;
  text-align: center;
  color: #34495e;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .facility {
    margin-bottom: 20px;
  }
}
.facilityOther {
  padding: 5px 15px;
  border-radius: 0px;
  vertical-align: middle;
  color: #34495e;
  border-radius: 0px;
}
.fac-other {
  padding-left: 35px !important;
}
.facility-below {
  border-top: none;
  padding-left: 6px;
  border-radius: 0px;
  font-weight: 600;
  padding-top: 8px;
}
.facility-other {
  box-sizing: border-box;
  border-top: none;
  border-radius: 0px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}
.title {
  font-weight: bold;
  color: #3e5168;
  background-color: #eeefec;
  text-align: left;
  border: none;
}
.titleOther {
  font-weight: bold;
  color: #3e5168;
  background-color: #eeefec;
  text-align: left;
  border-top: 0px;
  border-bottom: 0px;
  padding: 10px 15px;
}
@media (min-width: 768px) {
  .titleOther {
    margin-bottom: 20px;
  }
}
.foot {
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  background-color: #EC4A0C;
  border-color: #EC4A0C;
  color: #ffffff;
  height: 50px;
  padding-top: 12px;
  cursor: pointer;
}
.foot-btn {
  background-color: #EC4A0C;
  color: white;
}
#footerDesktopTablet footer {
  background-color: #EC4A0C;
  font-size: larger;
}
#footerDesktopTablet img {
  width: 25px;
  margin-bottom: 5px;
}
#footerDesktopTablet .border {
  border-right: 1px solid #fff;
}

#footerMobile footer {
  background-color: #EC4A0C;
  font-size: larger;
  padding: 12px 2px 15px 0;
}
#footerMobile img {
  width: 25px;
  margin-bottom: 5px;
}
#footerMobile .border {
  border-right: 1px solid #fff;
}

.cardbox-pad {
  padding: 0px 0px;
}
.cardli-pad {
  padding: 5px 0px;
}
.card-room {
  padding: 20px 0px 0px 0px;
}
.card-bathroom {
  padding: 0px;
}
.card-general {
  padding: 0px;
}
.card-other {
  padding: 0px;
}
.facility-li {
  padding: 10px 0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fa-li {
  padding-top: 6px;
}
.title-kos {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-top: 15px;
}

/** Title Mobile (INFORMASI KAMAR) **/
.info-room-heart-box {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
@media (min-width: 767px) {
  .info-room-heart-box {
    padding-top: 15px;
  }
}
.title-kosHeading {
  font-weight: bold;
  font-size: 23px;
  margin-top: 15px;
  color: #34495e;
}
.title-kos-address {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

.title-filter {
  padding: 0px 0px;
  font-weight: bold;
}
.title-kos-box {
  padding: 5px 10px;
}
.map {
  width: 100%;
  height: 150px;
}
.img-thumb {
  max-width: 150px;
  max-height: 100px;
  text-align: center;
  vertical-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
.img-box {
  text-align: center;
  vertical-align: center;
}
.carousel-img {
  position: center;
}
@media (max-width: 768px) {
  .center-cropped {
    margin: 0;
    height: 300px;
    width: auto;
    background-size: contain;
    background-color: #030303;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .center-cropped {
    margin: 0;
    height: 450px;
    width: auto;
    background-size: contain;
    background-color: #030303;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}
.center-croppedxs {
  margin: 0;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  background-color: #1d1d1d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-croppedxs img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.modalfoot {
  padding-top: 5px;
  border: none;
  padding-right: 0px;
}
.modalbod {
  padding-bottom: 0px;
}
.slickpadding {
  padding-right: 5px 1px;
}
.carousel-pad {
  padding: 0px;
}
.room-status {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.container-custom {
  border: 1px solid #dfdfdf;
  margin-top: -10px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.claimOwner {
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  background-color: #EC4A0C;
  border-color: #EC4A0C;
  color: #ffffff;
  height: 50px;
  padding-top: 13px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.col-4 {
  margin-left: 31.333333%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control {
  color: grey;
}
.love {
  cursor: pointer;
}

/** Pop Up**/
.imgpopupdesktop {
  width: 580px;
}
.imgpopupmobile {
  width: auto;
  height: 280px;
  background-repeat: no-repeat;
  background-image: url(/assets/popupmobile.png);
  background-size: contain;
}
.closetext {
  position: absolute;
  right: -10px;
  top: -2px;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}
.closemodal {
  position: absolute;
  top: -3px;
  right: 4px;
  opacity: 1;
  z-index: 3;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}

.close {
  font-size: 19px;
}

.style-modal {
  border: 0px;
  border-radius: 5px;
}
.modal-body {
  border-radius: 5px;
}

/** Room Card **/

input[type='checkbox'] {
  margin: 10px 0 0;
  left: 30px;
}
.textsubs {
  color: #33cc33;
  position: absolute;
  top: 0px;
  left: 35px;
  margin-bottom: 20px;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  background-color: rgba(60, 63, 64, 0.6);
  font-weight: normal;
  left: 0px;
  bottom: -10px;
  padding: 2px 15px;
  font-family: 'Lato', sans-serif;
}
.img-room {
  margin: 0;
  width: 100%;
  height: 180px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.room-card,
.room-card:first-child,
.room-card:last-child {
  padding: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  cursor: pointer;
}
.list-inline {
  white-space: nowrap;
}
.relcon {
  height: 290px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  padding: 15px;
}

/** Label Gender **/
.labelMix {
  background-color: #9b59b6;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.labelMale {
  background-color: #3498db;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.labelFemale {
  background-color: #f26389;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.labelgender {
  padding: 3px 12px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  position: inherit;
}

@media (max-width: 768px) {
  .labelgender {
    padding: 0px 10px;
  }
}

#subSuccess .modal-dialog {
  width: 349px;
}

@media (min-width: 300px) and (max-width: 992px) {
  .relcon {
    height: 330px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 0px 15px;
    padding-top: 13px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .landinglink {
    font-size: 20px !important;
  }
}

.bodyon {
  display: initial;
}

.bodylanding {
  font-family: 'Asap', sans-serif;
  height: 100%;
  background-color: #33cc33;
}

.bodyafterlanding {
  font-family: 'Asap', sans-serif;
  height: 100%;
}
.room-card,
.room-card:first-child,
.room-card:last-child {
  padding: 0px 5px;
}
.priceTag {
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0px 3px;
  font-size: 15px;
}
.priceTagXs {
  font-weight: bold;
  padding: 10px 15px;
  margin-top: -1px;
  font-size: 15px;
  border: 1px solid #e8e8e8;
}
.b0 {
  border-right: 0px;
}

.priceInner {
  width: 99%;
  margin: 0 auto;
}
.col-centered {
  float: none;
  padding: 0px 15px;
  margin: 0 auto;
}

.photoslide {
  height: 300px;
  width: 100%;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23ffffff'/></svg>");
  right: 10px;
  left: auto;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23ffffff'/></svg>");
  left: 10px;
  right: auto;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}
#photoSwipe .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0px;
  border-radius: 0px;
}
#photoSwipe .modal-content {
  height: 100%;
  border: 0px;
  border-radius: 0px;
}
#theta-viewer {
  width: 100%;
  height: 500px;
}
#theta-viewerxs {
  width: 100%;
  height: 300px;
}

#theta-viewer.active {
}

/*.telpKos{
    background-color: #009933;
    height: 50px;
    font-size: 10px;
    text-align: center;
  }*/
.smsKos {
  background-color: #1987c2;
  height: 66px;
  padding-top: 9px;
  font-size: 12px;
  text-align: center;
}
.waKos {
  background-color: #33cc33;
  height: 66px;
  padding-top: 9px;
  font-size: 12px;
  text-align: center;
}
.chatMami {
  background-color: #33cc33;
  height: 50px;
  padding-top: 9px;
  font-size: 10px;
  text-align: center;
}

/** Map **/
#map {
  height: 300px;
}
.landinglink {
  font-size: 25px;
}
.landinglinkbox {
  background: #43a943;
  height: 250px;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.map-cover-button {
  background: #1baa56;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px #7a7b7a;
  cursor: pointer;
}
.map-cover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #cccccc;
}
.map-cover-button.btn:hover,
.map-cover-button.btn:focus {
  color: white !important;
  background: #009933;
}

@media (max-width: 767px) {
  .divtitleaddress {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}

/*********************************

  Update Kost for Owner Page

*********************************/

/** Form **/

.form-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.form-gender {
  width: 50px;
  text-align: center;
}
.form-select-value {
  text-align: center;
}
.form-title-room {
  font-size: 20px;
  font-weight: bold;
}
.form-room-number {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.form-container {
  margin-top: 150px;
}
@media (max-width: 768px) {
  .form-container {
    margin-top: 70px;
  }
}

/*** NAVBAR ***/
a .login-button {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
a .login-button:hover {
  text-decoration: underline;
  color: #fff !important;
}
a .search-by-loc {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
a .search-by-loc:hover {
  text-decoration: underline;
  color: #fff !important;
}
.navbarTop {
  background-color: #1baa56;
  position: fixed;
  color: white;
  padding: 0px 0px;
  z-index: 999;
  height: 54px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  top: 0px;
}

.navLogo {
  padding: 15px;
  padding-left: 20px;
  padding-right: 8px;
}

.navRightSearch,
.navRightAdd {
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
  padding-right: 0px;
  padding-left: 10px;
}

.menuText {
  font-size: 13px;
  text-align: center;
}

.promosi-kost {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 50px;
  color: #1baa56;
  cursor: pointer;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .promosi-kost {
    padding: 13px 15px;
  }
}

.logo {
  width: 70px;
}

@media (min-width: 768px) {
  .logo {
    width: 130px !important;
  }
  #search {
    font-size: 13px;
    padding: 8px 15px !important;
    text-align: left;
    height: 37px;
  }
}

.see-map {
  cursor: pointer;
  background: #009b4c;
  color: #fff;
  border: 1px solid #009b4c;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 30px;
}
.see-map:hover {
  border-bottom: 3px solid #1baa56;
}
.see-map i {
  font-size: 20px;
}

/** Updated at **/
.update-title {
  color: #43a943;
  font-weight: bold;
}

.update-time {
  color: #43a943;
  font-weight: bold;
}

.update-note {
  color: #43a943;
  font-size: 12px;
  font-weight: bold;
}

.update-desktop {
  font-size: 15px;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

/**Label Available Room**/
.label-room {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #009b4c;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.label-room.label-room-1 {
  background-color: red;
}

.label-room.label-room-full {
  background-color: #898989;
  color: #464646;
}

/** Description Collapse IN **/
#descriptionText.collapse.in {
  display: inline !important;
}
.btn-read-more {
  background-color: #eeefec;
  color: #adadad;
  border-color: #eeefec;
}

/** Verification Room **/
.p0 {
  padding: 0px;
}
.verification-parent {
  padding-bottom: 15px;
  color: rgb(0, 155, 77);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.verification-div {
  text-align: left;
  font-size: 12px;
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.verification-small {
  width: 40px;
  margin-right: 10px;
}
.verification-big {
  width: 80px;
}
.verification-small-span {
  vertical-align: middle;
}
@media (min-width: 768px) {
  .verification-box {
    padding: 0px 15px;
  }
}

/** Review **/
.whitesmoke {
  background: whitesmoke;
}
.testimoni-img {
  width: 50px;
  border-radius: 50%;
}
.testimoni-div {
  text-align: left;
}
.testimoni-text {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .review-point,
  .review-star {
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 12px;
  }
  .testimoni-div {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .review-point,
  .review-star {
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .rating-all {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0 0;
    font-size: 16px;
  }
  .rating-all > i {
    color: #1baa56;
    padding-right: 1px;
    padding-left: 1px;
  }
  .rating-all > span {
    padding-right: 3px;
    padding-left: 3px;
    cursor: default;
  }
  .testimoni-rating {
    font-size: 100%;
    margin: 0;
  }
  .btn-review-show {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    background: #1baa56;
    border: 2px solid #1baa56;
    margin-top: 5px;
    color: #fff;
  }
  .btn-review-add {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    background: #fff;
    border: 2px solid #1baa56;
    margin-top: 5px;
    color: #1baa56;
  }
  .review-container {
    margin-top: 100px;
  }
  .review-star > .green {
    color: #1baa56;
  }
  .review-top {
    margin-bottom: 5px;
  }
  .review-photo {
    width: 100px;
    height: 75px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }
  .dz-details > img {
    width: 90px;
    height: 90px;
  }
  .progress {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
    height: 10px;
  }
  .review-photoedit > img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .rating-all {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 5px 0;
    font-size: 16px;
  }
  .rating-all > i {
    color: #1baa56;
    padding-right: 2px;
    padding-left: 2px;
  }
  .rating-all > span {
    padding-right: 5px;
    padding-left: 5px;
    cursor: default;
  }
  .testimoni-rating {
    padding-left: 40px;
    font-size: 100%;
    margin: 0;
  }
  .btn-review-show {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    background: #1baa56;
    border: 2px solid #1baa56;
    margin-top: 5px;
    color: #fff;
  }
  .btn-review-add {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    background: #fff;
    border: 2px solid #1baa56;
    margin-top: 5px;
    color: #1baa56;
  }
  .review-container {
    margin-top: 100px;
  }
  .review-point,
  .review-star {
    padding-top: 2px;
    padding-bottom: 1px;
  }
  .review-star > .green {
    color: #1baa56;
    padding-right: 1px;
    padding-left: 1px;
  }
  .review-detail {
    padding-right: 0;
    padding-left: 0;
  }
  .review-photo {
    width: 150px;
    height: 100px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
  }
  .dz-details > img {
    width: 120px;
    height: 90px;
  }
  .progress {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    height: 10px;
  }
  .review-photoedit > img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
  }
}

.review-back {
  background: #fff;
  color: #1baa56;
  font-size: 16px;
  padding: 5px 5px;
  margin: 0 0 15px 0;
  border: 2px solid #1baa56;
}
.review-back:hover {
  background: rgba(0, 0, 0, 0.1);
}

.review-loading {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  top: 150px;
}
.review-list {
  margin-bottom: 30px;
}
.review-waiting {
  background-color: #eeefec;
  color: #adadad;
  padding: 0 8px 1px 8px;
}
.review-edit {
  background-color: #1baa56;
  color: #fff;
  padding: 0 8px 1px 8px;
  border-radius: 3px;
  cursor: pointer;
}
.review-name {
  font-weight: bold;
}
.review-date {
  color: #888;
}
.review-photo:hover {
  opacity: 0.5;
}
.review-input {
  height: 85px !important;
}

#swipebox-close,
#swipebox-next,
#swipebox-prev {
  background-image: url('/assets/swipebox/icons.png');
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  color: #1baa56;
}
.review-content {
  height: auto;
  margin-bottom: 5px;
}
.review-image {
  padding-top: 20px;
  padding-bottom: 20px;
}
.add-image {
  cursor: pointer;
  background: #1baa56;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}
.reset-image {
  cursor: pointer;
  background: #EC4A0C;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}
.edit-image {
  cursor: pointer;
  background: #EC4A0C;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}
.scroll-top {
  color: #009b4c;
  font-size: 30px;
  cursor: pointer;
}

/*Share Review*/
.review-share {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.btn-facebook {
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}

/** Payment **/
.min-payment {
  color: #43a943;
}

/** Hovering Status Desktop **/
.hover-status {
  background-color: #1baa56;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.hover-box {
  padding: 15px;
  border: 1px solid #eeeeee;
}
.hover-status-1 {
  background-color: red;
}
.hover-status-full {
  background-color: #898989;
  color: #464646;
}

/**Title Room Desktop**/
.title-room {
  font-size: 25px;
  font-weight: bold;
}
.title-room-gender {
  padding: 5px 0px 20px 0px;
}
.heart-desktop {
  width: 30px;
  padding-top: 5px;
  cursor: pointer;
}

/** Modal Login **/
#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#login .modal-dialog {
  width: 300px;
}
.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 5px;
}
.modal-title.login-title.login-select {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
}
.login-description {
  color: #3e5168;
}
.login-popup-img {
  width: 134px;
  height: auto;
  margin-bottom: 15px;
}
.login-selector {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #545454;
}
.facebook-login-button {
  width: 75%;
  margin: 0px auto auto;
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.modal-title.login-title.login-title-google {
  padding-top: 15px;
  padding-bottom: 5px;
}
.google-login-button {
  width: 75%;
  margin: 0 auto auto;
  background-color: #fff;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.google-login-button img {
  width: 22px;
  margin-bottom: 1px;
}

/** Modal Chat **/
#chat .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#chat .modal-dialog {
  width: 350px;
}
.modal-title.chat-title {
  font-size: 20px;
  text-align: center;
  color: #EC4A0C;
  font-weight: bold;
  padding-bottom: 20px;
}
.chatOption {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: black;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.inputChat {
  font-weight: normal;
  font-size: 16px;
  color: black;
  width: 100%;
  height: 60px;
}
.submit-chat-button {
  text-align: center;
  width: 100%;
  margin: 20px auto auto;
  background-color: #EC4A0C;
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.submit-claim-button {
  width: 50%;
  margin: 20px auto auto;
  background-color: #43a943;
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/*********************************
    
    Update Kost for Owner Page 

  *********************************/

/** Form **/

.form-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.form-gender {
  width: 50px;
  text-align: center;
}
.form-select-value {
  text-align: center;
}
.form-title-room {
  font-size: 20px;
  font-weight: bold;
}
.form-room-number {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.form-container {
  margin-top: 150px;
}
@media (max-width: 768px) {
  .form-container {
    margin-top: 70px;
  }
}

/****************************
     
    Non Active Room 

  *****************************/

.title-kos.title-room-exp {
  font-size: 20px;
}
.title-kos.title-room-exp-lg {
  font-size: 30px;
}
.title-kos.title-related-exp {
  font-size: 18px;
}
.title-kos.title-related-exp-lg {
  font-size: 25px;
}
.box-exp {
  text-align: center;
  padding: 0px;
  /*margin-top: 60px;*/
}
.title-status-exp {
  padding: 10px 20px;
  background: rgb(39, 171, 39) none repeat scroll 0% 0%;
  color: white;
  margin: 20px 0px;
  display: -moz-inline-box;
  font-size: 20px;
  font-weight: bold;
}
.title-sorry-exp {
  font-size: 20px;
  font-weight: bold;
}
ul.list-related {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 768px) {
  ul.list-related {
    flex-direction: column;
  }
  .relcon.ovrflow {
    overflow: auto;
  }
}
.back-to-landing {
  width: 220px;
  color: rgb(39, 171, 39);
  border: 1px solid rgb(39, 171, 39);
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

/*********************BAWAH*****************************/

/****************************
       
      Non Active Room 

    *****************************/

.title-kos.title-room-exp {
  font-size: 20px;
  display: block;
}
.title-kos.title-room-exp-lg {
  font-size: 30px;
  display: block;
  margin-top: 0px;
}
.title-kos.title-related-exp {
  font-size: 18px;
  display: block;
}
.title-kos.title-related-exp-lg {
  font-size: 25px;
  display: block;
}
.box-exp {
  text-align: center;
  padding: 0px;
  /*margin-top: 60px;*/
}
.title-status-exp {
  padding: 10px 20px;
  background: rgb(39, 171, 39) none repeat scroll 0% 0%;
  color: white;
  margin: 20px 0px;
  display: -moz-inline-box;
  font-size: 20px;
  font-weight: bold;
}
.title-sorry-exp {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
ul.list-related {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media (max-width: 768px) {
  ul.list-related {
    flex-direction: column;
  }
  .relcon.ovrflow {
    overflow: auto;
  }
}
.back-to-landing {
  width: 220px;
  color: rgb(39, 171, 39);
  border: 1px solid rgb(39, 171, 39);
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.card-other > .expired-related {
  border: 0px !important;
}
.expired-page {
  height: 100%;
  z-index: 999;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .recommendLg {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .recommendLg {
    margin-top: 75px;
  }
}

.promoted-box-icon {
  width: auto;
  padding-right: 5px;
  padding-left: 10px;
}
.promoted-box-text {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  margin-top: 6px;
  text-align: left;
  color: #1baa56;
}
.premium-star-icon-rec {
  height: 26px;
  width: auto;
  margin-bottom: 5px;
}
.premium-star-text-rec {
  font-size: 14px;
  color: #e0af50;
}
.booking-calendar-box-rec {
  background-color: #009b4c;
  padding: 3px 6px 3px 4px;
  border-radius: 3px;
}
.booking-calendar-icon-rec {
  height: 26px;
  width: auto;
  margin-bottom: 5px;
}
.booking-calendar-text-rec {
  font-size: 14px;
  color: #009b4c;
}
.premium-star-icon-rec-xs {
  height: 25px;
  width: auto;
  margin-bottom: 5px;
}
.premium-star-text-rec-xs {
  font-size: 14px;
  color: #e0af50;
}
.premium-star-icon-top {
  height: 30px;
  width: auto;
  margin-bottom: 5px;
}
.premium-star-text-top {
  font-size: 16px;
  color: #e0af50;
}
.booking-calendar-icon-top {
  height: 30px;
  width: auto;
  margin-bottom: 5px;
}
.booking-calendar-text-top {
  font-size: 16px;
  color: #009b4c;
}
.premium-star-icon-top-sm {
  height: 30px;
  width: auto;
  margin-bottom: 4px;
}
.premium-star-text-top-sm {
  font-size: 16px;
  color: #e0af50;
  font-weight: normal;
}
.booking-calendar-icon-top-sm {
  height: 30px;
  width: auto;
  margin-bottom: 4px;
}
.booking-calendar-text-top-sm {
  font-size: 16px;
  color: #009b4c;
  font-weight: normal;
}
.premium-star-icon-top-xs {
  height: 30px;
  width: auto;
}
.premium-star-text-top-xs {
  font-size: 16px;
  color: #e0af50;
  font-weight: normal;
}
.booking-calendar-icon-top-xs {
  height: 30px;
  width: auto;
}
.booking-calendar-text-top-xs {
  font-size: 16px;
  color: #009b4c;
  font-weight: normal;
}

/*Modal Download App*/
#download-app .modal-header {
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
  background-color: #1baa56;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#download-app .modal-content {
  border: 2px solid #1baa56;
  width: 320px;
}
#download-app p {
  color: #000;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
#download-app .modal-body h4 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}
#download-app img {
  margin-bottom: 10px;
}
#form-download-app label {
  color: #000;
  text-align: left;
  font-size: 14px;
}
#form-download-app .btn {
  background-color: #1baa56 !important;
  color: #fff !important;
  font-size: 15px;
}

/* CSS For survey modal */
.submit-chat-button {
  background: #1baa56;
}

.survey-button {
  background: #EC4A0C;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
}

p.button-separator {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 12px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

p.button-separator span {
  background: #fff;
  left: 50%;
  padding: 0 10px;
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#survey .modal-content {
  border-radius: 0;
}

#survey .survey-title {
  color: #1baa56;
  font-size: 16px;
  margin-bottom: 30px;
}

#survey .form-control {
  border-radius: 0;
}

#occupation-selector {
  display: block;
  width: 100%;
}

#occupation-selector .btn-occupation {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  width: 33%;
}

#occupation-selector .btn-occupation.active {
  background: #1baa56;
  border: 1px solid #1baa56;
  color: #fff;
}

#occupation-selector .btn:first-child,
#occupation-selector .btn:last-child {
  border-radius: 0;
}

.occupation-group {
  display: none;
  margin-top: 50px;
}

.occupation-group.active {
  display: block;
}

#survey-page-2 {
  display: none;
}

#survey-page-2 .checkbox label {
  padding-left: 30px;
}

#survey-page-2 .checkbox label input {
  margin-top: 5px;
}

/** Theta Viewer (360) **/

#theta-viewer {
  width: 100%;
  height: 300px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.room-related-container {
  /*margin-bottom: 50px;*/
}
@media (max-width: 767px) {
  .room-related-container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .related-container-fixed {
    width: 100%;
    overflow-x: scroll;
  }
  .related-container-grid {
    width: 1180px;
  }
  .related-card {
    width: 293px;
  }
}
@media (min-width: 992px) {
  .related-container-grid {
    width: 100%;
  }
}
.related-card {
  display: inline-block;
  vertical-align: top;
  cursor: default;
}
.related-card:active,
.related-card:hover,
.related-card:focus {
  text-decoration: none;
}
.related-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeefec;
  font-weight: bold;
}
.related-promoted-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1baa56;
  font-size: 16px;
}
.related-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.related-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.related-box.is-promoted {
  border: 3px solid #1baa56;
}
.related-box.is-loading,
.related-box.is-promoted,
.related-box.is-normal {
  position: relative;
}
.related-box.is-loading {
  background-image: url('/assets/default.svg');
}
.related-box.is-loading > .related-content {
  height: 72px;
}
.related-box.is-other {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  background-color: #009b4c;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 50px 10px;
}
.related-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
}
.related-content-data {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.related-content-gender {
  padding: 2px 8px;
  border-radius: 2px;
}
.related-content-gender.is-female {
  color: #fff;
  background-color: #f26389;
}
.related-content-gender.is-male {
  color: #fff;
  background-color: #3498db;
}
.related-content-gender.is-mix {
  color: #fff;
  background-color: #9b59b6;
}
.related-content-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.related-content-premium,
.related-content-booking {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 0;
  margin: 0 3px;
  font-weight: normal;
}
.related-content-premium {
  color: #e0af50;
}
.related-content-booking {
  color: #009b4c;
  background-color: #fff;
  border-radius: 2px;
  padding: 2px;
}
.related-content-premium > img,
.related-content-booking > img {
  width: 20px;
  margin-right: 5px;
}

.ask-phone-number {
  color: #333;
}
