body {
  font-family: 'Asap', sans-serif;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: px;
}
.room-info {
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  padding: 15px 75px;
  height: 60px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}
.room-infoxs {
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.female {
  background-color: #f26389;
  border: 1px solid #f26389;
  color: #ffffff;
}
.male {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #ffffff;
}
.mix {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  color: #ffffff;
}
.title_room_mix {
  color: #9b59b6;
}
.title_room_male {
  color: #3498db;
}
.title_room_female {
  color: #f26389;
}
.room-info1 {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
.room-info2 {
  border-radius: 0px;
}
.room-info3 {
  border-radius: 0px 5px 5px 0px;
}
.room-info-box {
  margin: 5px 0px;
}
.nopad {
  padding: 0px 0px;
}
.noborder {
  border: none;
}
.facility {
  padding: 10px 20px;
  border: 1px solid #dddfe2;
  border-radius: 0px;
  vertical-align: middle;
  text-align: center;
  color: #34495e;
  border-radius: 5px 5px 0px 0px;
}
.facility-below {
  border-top: none;
  padding-left: 10px;
  border-radius: 0px 0px 0px 0px;
}
.facility-other {
  box-sizing: border-box;
  border: 1px solid #dddfe2;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  line-height: 30px;
}
.foot {
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  height: 60px;
}
.telpKos {
  background-color: #009933;
  height: 70px;
  padding-top: 9px;
  font-size: 12px;
}
.smsKos {
  background-color: #1987c2;
  height: 66px;
  padding-top: 9px;
  font-size: 12px;
}
.waKos {
  background-color: #33cc33;
  height: 66px;
  padding-top: 9px;
  font-size: 12px;
}
.chatMami {
  background-color: #33cc33;
  height: 70px;
  padding-top: 9px;
  font-size: 12px;
}
.foot-btn {
  background-color: #319944;
  padding: 10px;
}
.style-modal {
  border: 0px;
  border-radius: 5px;
}
.modal-body {
  border-radius: 5px;
}
.title {
  font-weight: bold;
  color: #34495e;
  background-color: #edefed;
  text-align: left;
  border: 1px solid #dddfe2;
}
.cardbox-pad {
  padding: 0px 0px;
}
.cardli-pad {
  padding: 5px 0px;
}
.card-room {
  padding: 20px 0px 10px 0px;
}
.card-bathroom {
  padding: 15px 0px 0px 0px;
}
.card-general {
  padding: 15px 0px 10px 0px;
}
.card-other {
  padding: 15px 0px 10px 0px;
}
.facility-li {
  padding: 2px;
  text-align: left;
}
.fa-li {
  padding-top: 8px;
}
.title-kos {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-top: 15px;
}
.title-kos-address {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

.title-filter {
  padding: 0px 0px;
  font-weight: bold;
}
.title-kos-box {
  padding: 5px 10px;
}
.map {
  width: 100%;
  height: 150px;
}
.img-thumb {
  max-width: 150px;
  max-height: 100px;
  text-align: center;
  vertical-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
.img-box {
  text-align: center;
  vertical-align: center;
}
.carousel-img {
  position: center;
}
.center-cropped {
  margin: 0;
  width: 100%;
  height: 300px;
  background-color: #4d4f52;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-croppedxs {
  margin: 0;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  background-color: #4d4f52;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-custom {
  background-color: #ffffff;
  border-radius: 0px;
  margin-bottom: 0px;
}
.brand-text {
  color: #1baa56;
  font-weight: bold;
}
.brand-text-right {
  color: #676869;
  font-weight: bold;
}
.brand-text-right:hover {
  color: #1baa56;
  font-weight: bold;
}
.nav-brand {
  padding: 5px;
}
.modalfoot {
  padding: 0px;
  padding-top: 15px;
  border: none;
}
.modalbod {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.menu-top:hover {
  background-color: transparent;
}
.slickpadding {
  padding-right: 5px 1px;
}
.carousel-pad {
  padding: 0px;
}
.room-status {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 20px;
}
.container-custom {
  border: 1px solid #dfdfdf;
  margin-top: 54px;
  padding-top: 5px;
  padding-bottom: 30px;
  border-radius: 5px;
}
@media (min-width: 992px) .col-4 {
  margin-left: 31.333333%;
}
.titleOther {
  font-weight: bold;
  color: #34495e;
  background-color: #eaf1f3;
  text-align: left;
  border: none;
}
.facilityOther {
  padding: 5px 20px;
  border: 1px solid #dddfe2;
  border-top: 0px;
  vertical-align: middle;
  color: #34495e;
  border-radius: 0px 0px 0px 0px;
}
.h3Class {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
}
.h4Class {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
}
.otherInfo {
  padding-left: 25px;
  font-size: 15px;
  text-align: left;
}
.button-instagram {
  margin: 0;
  margin-left: 25px;
  width: 42px;
  height: 42px;
  background-color: #4d4f52;
  background-size: 24px 24px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.shareaholic-button {
  position: absolute;
  left: 62px;
  top: 2px;
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  background-color: rgba(60, 63, 64, 0.6);
  font-weight: normal;
  width: 225px;
  left: 0px;
  bottom: -15px;
  padding: 2px 15px;
  font-family: 'Lato', sans-serif;
}
.img-room {
  margin: 0;
  width: 100%;
  height: 180px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.room-card,
.room-card:first-child,
.room-card:last-child {
  padding: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  cursor: pointer;
}
.list-inline {
  white-space: nowrap;
}
.relcon {
  height: 290px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  padding: 15px;
}
.labelMix {
  background-color: #9b59b6;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.labelMale {
  background-color: #3498db;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.labelFemale {
  background-color: #f26389;
  color: white;
  border-radius: 2px;
  font-size: 13px;
  padding: 2px 5px;
}
.room-card,
.room-card:first-child,
.room-card:last-child {
  padding: 0px 5px;
}
.priceTag {
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0px 3px;
  font-size: 15px;
}
.priceTagXs {
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 5px;
  margin: 2px 0px;
  font-size: 15px;
}
.priceInner {
  width: 99%;
  margin: 0 auto;
}
.col-centered {
  float: none;
  padding: 0px 15px;
  margin: 0 auto;
}
#map {
  height: 300px;
}
.modal-header {
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
  background-color: #009bde;
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
}
.icon-modal-header {
  height: 25px;
  position: relative;
  right: 12px;
  margin-bottom: 5px;
}
.footer a {
  color: white;
}
.displaynone {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#ffffff'/></svg>");
  right: 10px;
  left: auto;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#ffffff'/></svg>");
  left: 10px;
  right: auto;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
}

#modalCall .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0px;
  border-radius: 0px;
}
#modalCall .modal-content {
  height: 100%;
  border: 0px;
  border-radius: 0px;
}
#photoSwipe .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0px;
  border-radius: 0px;
}
#photoSwipe .modal-content {
  height: 100%;
  border: 0px;
  border-radius: 0px;
}
.photoslide {
  height: 300px;
  width: 100%;
}
.id-kost-div {
  text-align: center;
}
.id-kost {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: larger;
}
.map-cover-button {
  background: #33cc33;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px #7a7b7a;
  cursor: pointer;
}
.map-cover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #cccccc;
}
.map-cover-button.btn:hover,
.map-cover-button.btn:focus {
  color: white !important;
  background: #009933;
}
