/*Normalize*/
h1,
h2,
h3,
strong {
  font-size: inherit;
  line-height: 1;
  font-weight: inherit;
  margin: 0;
  color: inherit;
  display: inline-block;
}

/*Banner*/
.banner-section {
  background-color: #33cc33;
  border-color: #33cc33;
  z-index: 1050;
}
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content > .content-close {
  font-size: 20px;
  color: #807e78;
}
.banner-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.banner-app > p {
  color: #fff;
  margin: 0;
}
.banner-app > .app-star {
  color: #ffd200;
}
.banner-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  color: #fff;
}
.banner-button > label {
  background: transparent;
  font-weight: normal;
  border: 1px solid #fff;
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 54px;
}
.navbar-new {
  background-color: #1baa56;
  border-color: #1baa56;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-new {
    top: 54px;
  }
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar-toggle {
  border-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-toggle > .icon-bar {
  background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
  color: #fff;
  font-size: 16px;
  width: 22px;
}
.toggle-search {
  padding-top: 7px;
  padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-logo {
    border: none;
    padding: 0;
    margin: 0 10px;
  }
  .navbar-app {
    padding: 5px 15px 0 0;
  }
  .navbar-search {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    width: 104px;
    height: 34px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    height: 34px !important;
  }
}
.navbar-search {
  padding-right: 0;
  padding-left: 0;
}
.navbar-search.no-stretch {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
  color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-search > .form-group > .input-group > input {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-search > .form-group > .input-group > input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .navbar-search > .form-group > .input-group > input {
    width: 374px;
  }
}
.input-group-addon,
.input-group-btn > .btn {
  background-color: #fff;
  color: #1baa56;
}
.navbar-promotion {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-promotion > a {
  color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #fff;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.navbar-promotion > a {
  color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #fff;
  }
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #1baa56;
    background-color: #fff;
  }
}
.user-photo,
.owner-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.user-name,
.owner-name {
  padding-right: 5px;
  padding-left: 5px;
}
.booking-counter.is-loading .fa {
  color: #fff;
  font-size: inherit;
}
.booking-counter.is-shown {
  background-color: #fff;
  color: #1baa56;
  font-weight: bold;
  padding: 0px 6px;
  border-radius: 100%;
}

.breadcrumb-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media (max-width: 767px) {
  .breadcrumb-new {
    margin-top: 54px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
    overflow-x: scroll;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    z-index: 100;
  }
}
.breadcrumb-new > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-list {
  color: #1baa56;
}
#mamiSearchPacMobile {
  border-radius: 4px 0 0 4px;
}
/** Modal Login **/
#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#login .modal-dialog {
  width: 300px;
}
.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 5px;
}
.modal-title.login-title.login-select {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
}
.login-description {
  color: #3e5168;
}
.login-popup-img {
  width: 134px;
  height: auto;
  margin-bottom: 15px;
}
.login-selector {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #545454;
}
.facebook-login-button {
  width: 75%;
  margin: 0px auto auto;
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.modal-title.login-title.login-title-google {
  padding-top: 15px;
  padding-bottom: 5px;
}
.google-login-button {
  width: 75%;
  margin: 0 auto auto;
  background-color: #fff;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.google-login-button img {
  width: 22px;
  margin-bottom: 1px;
}

/*DETAIL PREMIUM PAGE*/
@media (min-width: 768px) {
  .detail-wrapper {
    margin-top: 91px;
  }
}

.room-info-container {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 991px) {
  .room-info-overlay {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .room-info-overlay {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 61%,
      rgba(0, 0, 0, 0.35) 71%,
      rgba(0, 0, 0, 0.45) 80%,
      rgba(0, 0, 0, 0.55) 90%,
      rgba(0, 0, 0, 0.65) 100%
    );
    background: -o-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 61%,
      rgba(0, 0, 0, 0.35) 71%,
      rgba(0, 0, 0, 0.45) 80%,
      rgba(0, 0, 0, 0.55) 90%,
      rgba(0, 0, 0, 0.65) 100%
    );
    background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 61%,
      rgba(0, 0, 0, 0.35) 71%,
      rgba(0, 0, 0, 0.45) 80%,
      rgba(0, 0, 0, 0.55) 90%,
      rgba(0, 0, 0, 0.65) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.room-info-action {
  padding: 0 15px;
  text-align: right;
  height: 350px;
  cursor: pointer;
}

.btn-report-room {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  padding: 5px 15px;
}

.btn-report-room.disabled {
  background: rgba(216, 216, 216, 0.8);
  color: #afafaf;
  cursor: not-allowed;
}

.btn-report-room:hover,
.btn-report-room:focus,
.btn-report-room:active {
  text-decoration: none;
}

@media (max-width: 767px) {
  .room-info-action {
    width: 100%;
  }
}

.room-info-section {
  margin-top: auto;
}

.label-female,
.label-male,
.label-mix {
  padding: 3px 12px;
  border-radius: 2px;
  margin-right: 5px;
}
.label-female {
  color: #fff;
  background-color: #f26389;
}
.label-male {
  color: #fff;
  background-color: #3498db;
}
.label-mix {
  color: #fff;
  background-color: #9b59b6;
}
.label-booking {
  padding: 3px 9px;
  border-radius: 2px;
  color: #009b4c;
  background-color: #fff;
}
.label-booking > img {
  width: 20px;
}

.room-info-title > h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.rating-star,
.rating-star-o {
  color: #1baa56;
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
}
.room-info-rating > .rating-title {
  color: #1baa56;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 22px;
  font-weight: bold;
}
.room-info-rating > .rating-count {
  padding: 2px 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #1baa56;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .room-info-mark {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .room-info-mark > label {
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .room-info-mark {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
}
.mark-premium,
.mark-favorite {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.mark-premium {
  color: #e0af50;
  font-size: 18px;
}
.mark-premium > img {
  width: 24px;
  margin-right: 5px;
}
.mark-favorite > span {
  font-size: 16px;
  color: #fff;
}
.mark-favorite > i {
  color: #ee678e;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}
.mark-favorite .unclickable {
  cursor: default;
}

.media-title {
  color: #fff;
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 320px) {
  .media-title {
    width: 80px;
  }
}
@media (min-width: 321px) {
  .media-title {
    width: 100px;
  }
}
.media-photo,
.media-360,
.media-video {
  border: 1px solid #fff;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 320px) {
  .media-photo,
  .media-360,
  .media-video {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 321px) {
  .media-photo,
  .media-360,
  .media-video {
    height: 100px;
    width: 100px;
  }
}
.media-photo:hover,
.media-photo:active,
.media-photo:focus {
  text-decoration: none;
}
.media-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.media-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#swipebox-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
#swipebox-close {
  background-color: #000;
  border: none !important;
  border-radius: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  top: 75px;
  right: 25px;
}

#photosModal {
  background-color: #000;
}
@media (min-width: 768px) {
  #photosModal .swiper-wrapper {
    height: 480px;
  }
  #photosModal .swiper-wrapper img {
    display: block;
    /*height: auto;
    width: 100%;*/
    height: 100%;
    width: auto;
    margin: auto;
  }
}
@media (max-width: 767px) {
  #photosModal .swiper-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
#photosModal .modal-content {
  background-color: #000;
  border: none;
}
#photosModal .modal-body {
  width: 100%;
  height: 100%;
  padding: 5px;
}
#photosModal .modal-header {
  border-bottom: 1px solid #000;
}
#photosModal .modal-footer {
  padding: 5px;
  border-top: 1px solid #000;
}
#photosModal .modal-footer > .btn {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
#photosModal .close .fa {
  color: #fff;
}
#photosModal .close {
  opacity: 1;
}
#photosModal .swiper-container {
  width: 100%;
  height: 400px;
  background-color: #000;
}
#photosModal .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
#photosModal .swiper-pagination {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

#youtubeModal .modal-body {
  padding: 5px;
}
.option-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
.option-title > a:active,
.option-title > a:hover,
.option-title > a:focus {
  text-decoration: none;
}
.option-data,
.option-review,
.option-verif {
  cursor: pointer;
  padding: 10px 0;
  color: #7d7d7d;
}
.option-active {
  color: #1baa56;
  border-bottom: 2px solid #1baa56;
}
@media (max-width: 320px) {
  .option-data,
  .option-review,
  .option-verif {
    font-size: 16px;
  }
  .option-active {
    font-weight: normal;
  }
}
@media (min-width: 321px) {
  .option-data,
  .option-review,
  .option-verif {
    font-size: 18px;
  }
  .option-active {
    font-weight: bold;
  }
}
.option-inactive {
  color: #7d7d7d;
}

#roomTab-sticky-wrapper,
#roomTab {
  background-color: #fff;
}

.room-tab-container {
  border-bottom: 1px solid #d6d6d6;
}
.room-tab-container > .container {
  background: #fff;
}
.room-tab-option {
  background: #fff;
}
.display-room {
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
}
.display-room.is-one {
  background-color: #e81a29;
}
.display-room.is-more {
  background-color: #009b4c;
}
.display-room.is-full {
  background-color: #7d7d7d;
}
.display-room.is-not-updated {
  background-color: #ffffff;
  color: #EC4A0C;
  border: 1px solid #EC4A0C;
}
.display-room-content {
  color: #000;
  background: #fff;
}
.display-title {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
}
.display-title.orange {
  color: #EC4A0C;
  font-weight: normal;
}
@media (max-width: 991px) {
  .display-room-content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .display-room-content {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #d6d6d6;
  }
}
.display-room-price {
  border: 1px solid #eee;
}
@media (max-width: 991px) {
  .display-room-price {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .display-room-price {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.price-data,
.price-term,
.price-payment {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.price-data {
  border-bottom: 1px solid #eee;
}
.price-term {
  border-bottom: 1px solid #eee;
}
.price-electricity {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #eee;
}
.price-electricity-icon-container {
  display: inline-block;
}
.price-electricity-icon {
  width: 25px;
  height: 25px;
}
.price-electricity-label {
  font-weight: normal;
  display: inline-block;
}
@media (max-width: 991px) {
  .price-electricity {
    /*margin-top: 50px;*/
  }
}
.price-payment {
  color: #1baa56;
}
.display-room-action > a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.display-room-action > a > img {
  width: 30px;
}
.display-room-latest {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.room-data-fac,
.room-data-review,
.room-data-verif {
  border-bottom: 1px solid #eee;
}
@media (min-width: 992px) {
  .fac-container,
  .review-container,
  .verif-container,
  .share-container {
    padding-top: 15px;
  }
}
@media (max-width: 991px) {
  .fac-title,
  .review-title,
  .verif-title,
  .share-title {
    font-weight: bold;
    padding-bottom: 10px;
    background-color: #eee;
    margin-bottom: 15px;
    padding-top: 10px;
  }
}
@media (min-width: 992px) {
  .fac-title,
  .review-title,
  .verif-title,
  .share-title {
    font-weight: bold;
    padding-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .fac-room {
    padding-top: 54px;
  }
}
.fac-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
  padding: 0;
}
.fac-text {
  padding: 0 0 15px 0;
  text-align: left;
}
.fac-icon {
  height: 30px;
  text-align: left;
}
.fac-icon > img {
  height: 30px;
  margin-right: 10px;
}

.room-data-review {
  padding-bottom: 5px;
}
@media (max-width: 991px) {
  .review-header {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
@media (min-width: 992px) {
  .review-header {
    padding: 0;
    margin-bottom: 5px;
  }
}
.review-header > .review-sum {
  color: #1baa56;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: bold;
}
.review-header > .review-count {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
}
.review-sort-btn {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
}
.review-add-btn {
  color: #fff;
  background-color: #1baa56;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}
.review-add-btn:active,
.review-add-btn:hover,
.review-add-btn:focus {
  background-color: #1f881f;
}
.review-grade {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 15px;
}
.review-grade > p {
  margin-bottom: 0;
}
.review-top {
  margin-top: 5px;
}
.review-list {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.review-list.is-loading {
  padding-top: 35px;
  margin-bottom: 35px;
}
.review-waiting {
  background-color: #eeefec;
  color: #adadad;
  padding: 0 8px 1px 8px;
}
.review-edit {
  background-color: #1baa56;
  color: #fff;
  padding: 0 8px 1px 8px;
  border-radius: 3px;
  cursor: pointer;
}
.review-edit:active,
.review-edit:hover,
.review-edit:focus {
  color: #fff;
  background-color: #1f881f;
  border-color: #1b771b;
}
.review-name {
  font-weight: bold;
  font-size: 16px;
}
.review-date {
  color: #888;
}
.review-content {
  padding-bottom: 5px;
}
.review-photo a.swipebox {
  height: 100px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 4px;
}
.review-photo img {
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
.review-photo img:hover {
  opacity: 0.75;
}
.review-page {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.review-page > button {
  margin-right: 5px;
}

/*Share Review*/
.review-share {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.review-content .collapse.in {
  display: inline;
}

/* replies bellow the review lists */
.review-reply {
  margin-left: 40px;
}
.rating-star-small {
  font-size: 13px;
}

.btn-facebook {
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}

/*Add Review*/
.review-area {
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .review-area {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .review-area {
    margin-top: 120px;
  }
}
.footer-action-container.is-review {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  color: #1baa56;
}
.review-back {
  font-size: 16px;
  margin-bottom: 30px;
  white-space: pre-wrap;
}
@media (max-width: 991px) {
  .dz-details > img {
    width: 90px;
    height: 90px;
  }
  .dz-progress.progress {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
    height: 10px;
  }
  .review-photoedit > img {
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .dz-details > img {
    width: 120px;
    height: 90px;
  }
  .dz-progress.progress {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    height: 10px;
  }
  .review-photoedit > img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
  }
}
.review-image {
  padding-top: 20px;
  padding-bottom: 20px;
}
.add-image {
  cursor: pointer;
  background: #1baa56;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}
.add-image:active,
.add-image:hover,
.add-image:focus {
  color: #fff;
  background-color: #1f881f;
  border-color: #1b771b;
}
.reset-image {
  cursor: pointer;
  background: #EC4A0C;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}
.reset-image:active,
.reset-image:hover,
.reset-image:focus {
  color: #fff;
  background-color: #cb4121;
  border-color: #b1391d;
}
.edit-image {
  cursor: pointer;
  background: #EC4A0C;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}

.verif-list {
  margin-bottom: 15px;
}
.verif-content {
  font-weight: 600;
  padding: 0;
}
.verif-content.is-big {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  padding-right: 5px;
}
.verif-content.is-big > img {
  width: 80px;
}
.verif-content.is-small {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-right: 5px;
}
.verif-content.is-small > img {
  width: 40px;
  margin-right: 5px;
}
.verif-content.is-not-verified {
  color: grey;
}

.share-list {
  margin-bottom: 10px;
}

.room-related-container {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .room-related-container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .related-container-fixed {
    width: 100%;
    overflow-x: scroll;
  }
  .related-container-grid {
    width: 1180px;
  }
  .related-card {
    width: 293px;
  }
}
@media (min-width: 992px) {
  .related-container-grid {
    width: 100%;
  }
}
.related-card {
  display: inline-block;
  vertical-align: top;
  cursor: default;
}
.related-card:active,
.related-card:hover,
.related-card:focus {
  text-decoration: none;
}
.related-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeefec;
  font-weight: bold;
}
.related-promoted-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1baa56;
  font-size: 16px;
}
.related-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.related-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.related-box.is-promoted {
  border: 3px solid #1baa56;
}
.related-box.is-loading,
.related-box.is-promoted,
.related-box.is-normal {
  position: relative;
}
.related-box.is-loading {
  background-image: url('/assets/loading/mamikos_placeholder_load.svg');
}
.related-box.is-loading > .related-content {
  height: 72px;
}
.related-box.is-other {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  background-color: #009b4c;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 50px 10px;
}
.related-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
}
.related-content-data {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.related-content-gender {
  padding: 2px 8px;
  border-radius: 2px;
}
.related-content-gender.is-female {
  color: #fff;
  background-color: #f26389;
}
.related-content-gender.is-male {
  color: #fff;
  background-color: #3498db;
}
.related-content-gender.is-mix {
  color: #fff;
  background-color: #9b59b6;
}
.related-content-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.related-content-premium,
.related-content-booking {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 0;
  margin: 0 3px;
  font-weight: normal;
}
.related-content-premium {
  color: #e0af50;
}
.related-content-booking {
  color: #009b4c;
  background-color: #fff;
  border-radius: 2px;
  padding: 2px;
}
.related-content-premium > img,
.related-content-booking > img {
  width: 20px;
  margin-right: 5px;
}

.room-location-container {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .room-location-container {
    padding-right: 0;
    padding-left: 0;
  }
}
.location-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeefec;
  font-weight: bold;
}
.location-map {
  height: 300px;
  width: 100%;
}
.location-map.is-hidden {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  background-color: #cccccc;
}
.location-map.is-hidden > .btn {
  font-size: 20px;
  padding: 15px;
}
.location-map.is-visible {
  display: block;
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}
.location-map > #map {
  height: 100%;
  width: 100%;
}
.location-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 0;
  color: #000;
}
.location-info > .fa {
  font-size: 24px;
  margin-right: 5px;
  color: #1baa56;
}

@media (max-width: 991px) {
  .footer-action-container {
    padding-top: 45px;
  }
  .footer-action-body {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
.footer-action {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  height: 48px;
}
.footer-action > img {
  width: 30px;
  margin-right: 5px;
}
.footer-right-separator {
  border-right: 1px solid #fff;
}
.footer-left-separator {
  border-left: 1px solid #fff;
}

/*Modal Large*/
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

/** Modal Chat **/
#chat .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
.modal-title.chat-title {
  font-size: 20px;
  text-align: center;
  color: #EC4A0C;
  font-weight: bold;
  padding-bottom: 20px;
}
.chat-option {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: black;
  line-height: 30px;
  padding-bottom: 10px;
  max-height: 150px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.chat-option > label {
  font-weight: normal;
}
.toogle-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 5px;
  font-size: 13px;
  margin: 3px;
}
.toogle-container > a {
  float: right;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
  display: none;
}

.chat-input {
  font-weight: normal;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 52px;
}

.chat-button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

/* Modal Survey */
.survey-button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
p.button-separator {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 12px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}
p.button-separator span {
  background: #fff;
  left: 50%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#survey .modal-content {
  border-radius: 0;
}
#survey .survey-title {
  color: #1baa56;
  font-size: 16px;
  margin-bottom: 30px;
}
#survey .form-control {
  border-radius: 0;
}
#occupation-selector {
  display: block;
  width: 100%;
}
#occupation-selector .btn-occupation {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  width: 33%;
}
#occupation-selector .btn-occupation.active {
  background: #1baa56;
  border: 1px solid #1baa56;
  color: #fff;
}
#occupation-selector .btn:first-child,
#occupation-selector .btn:last-child {
  border-radius: 0;
}
.occupation-group {
  display: none;
  margin-top: 50px;
}
.occupation-group.active {
  display: block;
}
#survey-page-2 {
  display: none;
}
#survey-page-2 .checkbox label {
  padding-left: 30px;
}
#survey-page-2 .checkbox label input {
  margin-top: 5px;
}

/* Modal Booking */
#bookingModal .modal-body {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#bookingModal .modal-header {
  border-bottom: none;
}
#bookingModal .modal-content {
  min-width: 300px;
}
#bookingModal .modal-footer {
  border-top: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) {
  #bookingModal .modal-footer .btn {
    font-size: 16px;
  }
}

/*Modal Loading*/
.modal-loading {
  text-align: center;
}
/*.modal-loading h3 {
  margin-top: 0;
}*/
.modal-loading .fa {
  color: #1baa56;
  font-size: large;
}

/* Modal Report */
#reportModal .modal-title {
  color: #1baa56;
  font-size: 32px;
}

#reportModal .report-type-label {
  display: inline-block;
  width: 100%;
}

#reportModal input[type='checkbox'] {
  display: inline-block;
  float: left;
  width: 5%;
}

#reportModal input[type='checkbox'] + span {
  display: inline-block;
  float: left;
  margin-left: 5px;
  width: 90%;
}

#reportModal #report-submit {
  display: block;
  margin-top: 30px;
  width: 100%;
}

/*temporary css for swipebox button*/

.btn-in-swipebox {
  width: 70%;
  margin-left: 9%;
  font-size: 26px;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
}
@media (max-width: 760px) {
  .btn-in-swipebox {
    width: 65%;
    margin-left: 5%;
  }
}
@media (max-width: 760px) {
  .btn-in-swipebox {
    margin-left: 3%;
  }
}

.swipebox-bottom-bar {
  opacity: 1;
}

/* show little promo banner on the upper left corner fix-promo-page */

.promo-container {
  display: inline-block;
  background-color: #fff;
  float: left;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid #1baa56;
}
@media screen and (max-width: 767px) {
  .promo-container {
    max-width: 55%;
  }
}

.promo-label {
  font-style: italic;
  font-weight: 600;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: left;
  float: left;
}

.promo-ic-container {
  background-color: #1baa56;
  padding: 5px 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.promo-ic-wrapper {
  margin: auto;
}
.promo-icon {
  height: 21px;
  width: 21px;
}

.promo-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.promo-caption-container {
  padding: 5px 5px;
}

.promo-link-container {
  padding: 5px 10px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .promo-container {
    max-width: 55%;
  }
}
.promo-link {
  color: #1baa56;
  font-weight: bold;
}

/*----- PROMOTION MODAL -----*/

#promotionModal .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #1baa56;
}
#promotionModal .promo-icon {
  height: 30px;
  width: 30px;
}
#promotionalModal h4 {
  margin-left: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#promotionalModal img {
  display: inline-block;
}
#promotionModal .expiration-label {
  font-size: 16px;
  font-weight: bold;
}
#promotionModal .expiration-date {
  font-size: 13px;
}
#promotionModal .expiration {
  margin-top: 15px;
}

/*----- See More Review Replies  -----*/

.reply-textarea {
  width: 330px;
}
.reply-button {
  margin-top: 7px;
}
.review-reply a,
.review-reply a:hover,
.review-reply a:active,
.review-reply a:visited {
  text-decoration: none;
}
.reply-show-link:hover {
  color: #145b14;
}

/*----- Checkin Modals          -----*/
#checkin .btn-modal {
  width: 100%;
}
#chekinModal .modal-header {
  text-align: center;
}
#checkinModal .modal-content {
  text-align: center;
}
#checkinModal .modal-dialog {
  width: 400px;
  margin-left: auto !important;
}

#updateAvailability .content-availability {
  margin-top: 25px;
  text-align: center;
}
#updateAvailability .content-availability {
  font-size: 16px;
}
#updateAvailability .content-availability p {
  font-size: 16px;
  margin-top: 15px;
}
#updateAvailability .availability-title {
  color: #1baa56;
  font-size: 18px;
}
#updateAvailability .form-inline {
  margin-top: 15px;
}
#updateAvailability .form-inline .form-control {
  width: 80px;
}
#updateAvailability .form-inline label {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
}
#updateAvailability .form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
#updateAvailability .btn-update {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.fa.update-room {
  cursor: pointer;
  color: #fff;
}

.room-info-map {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: 700;
}
.room-info-map-icon {
  background-color: #fff;
  padding: 2px 15px;
  color: #1baa56;
  border-radius: 20px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
}
.room-info-map-label {
  padding: 3px;
  text-transform: uppercase;
  color: #fff;
}

.ask-phone-number {
  color: #333;
  border-top: 1px solid #eee;
}

@media (max-width: 767px) {
  .ask-phone-number {
    margin-top: 51px;
  }
}
.ask-phone-number .link-mamiorange {
  text-decoration: underline;
  cursor: pointer;
}
.ask-phone-number .link-mamiorange:focus,
.ask-phone-number .link-mamiorange:hover {
  color: #EC4A0C;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.popover-title {
  height: 55px;
}
.popover-title-text {
  width: 220px;
  float: left;
  margin-right: 8px;
}
.popover-title-close {
  font-size: 24px;
  margin-top: -6px;
  float: left;
}
.popover-content-input {
  width: 180px;
}

.dropdown-suggestion__container {
  position: relative;
  width: 100%;
}
.dropdown-suggestion__body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 0 15px 0;
}
.dropdown-suggestion__body > li {
  border-bottom: 1px solid #eee;
}
.dropdown-suggestion__body > li:last-child {
  border-bottom: none;
}
.dropdown-suggestion__body > li > a {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999 !important;
  padding: 5px 10px;
}
.dropdown-suggestion__body > li > a:hover {
  background-color: #fafafa;
}
.dropdown-suggestion__body .fa-map-marker {
  margin-right: 5px;
}
.dropdown-suggestion__title {
  color: #000 !important;
}
.dropdown-suggestion__area {
  font-size: smaller;
}
