body {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    .labels {
      color: white;
      font-family: "Lucida Grande", "Arial", sans-serif;
      font-size: 13px;
      text-align: center;
      width: 40px;
      border: none;
      white-space: nowrap;

    }
    .bg-default{
      padding: 5px;
    }
    .listPad{
      padding: 20px 15px;
    }

    .form-bordered .form-group {
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #EEE;
    }
    .form-control{
      margin-bottom: 0px;
    }
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
      position: absolute;
      margin-top: 4px\9;
      margin-top: 10px;
      margin-left: -20px;
    }
    .thumb {
      width: 100%;
      height: 200px;
      float: none;
      position: relative;
      top: 7px;
      border-radius: 5px 5px 0px 0px;
    }
    .thumbCover{
      border: 3px solid #DDD;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
      display: inline-block;
      width: 100%;
      height: 20px !important;
      border: 3px solid #f4d313;
    }
    .progress div {
      font-size: smaller;
      background: #f4d313;
      width: 0;
    }
    .button {
      -moz-appearance: button;
      /* Firefox */
      -webkit-appearance: button;
      /* Safari and Chrome */
      padding: 10px;
      margin: 10px;
      width: 70px;
    }
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }
    .dragover {
        border: 5px dashed blue;
    }
    .box-title {
      padding-left: 30px;
    }

    input[type="checkbox"]{
    display: none;
    }
    .activebutton, .activebutton:active, .activebutton:hover, .activebutton:focus, .activebutton:active:focus, .activebutton:active:hover, .activebutton.active {
      color: #ffffff;
      background-color: #16a085;
      border-color: #ffffff;
    }
     .content, .content:focus {
      box-sizing: border-box;
      vertical-align:middle;
      text-align: center;
      padding: 10px;
      border: 1px solid #ffffff;
      border-radius: 4px;
      background-color: white;
      color: #1abc9c;
      font-weight: normal;
      border-radius: 5px;
    }
    .content:hover,
    .content:active:hover,
    {
      color: #1abc9c;
      background-color: #ffffff;
      border-color:#dddfe2;
    }

    .box-title{
      margin-left: 30px;
      font-size: 30px;
    }
    .box-title2Div{
      padding: 45px;
      text-align: center;
      background-color: #16a085;
      color: white;
    }
    .box-title2{
      font-size: 25px;
      margin:0px;
    }
    .progress{
      color:white;
      text-align:center;
    }
    .trim-text{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
    @media (min-width: 320px) and (max-width: 767px) {
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
      border-radius: 0px;
    }
    .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
      border-radius: 0px;
    }
  }
  .imglogo{
    width: 150px;
    margin-bottom: 15px;
  }
  .tooltip-inner {
    max-width: 320px;
    /* If max-width does not work, try using width instead */
    width: 320px;
  }
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.fac-desc.ng-invalid {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78E0CC;
  }
  input:-webkit-autofill.ng-valid {
    -webkit-box-shadow: 0 0 0px 1000px #78E0CC inset;
  }
  input:-webkit-autofill.ng-invalid {
    -webkit-box-shadow: 0 0 0px 1000px #FA787E inset;
  }
  .check-btn{
    background-color:#A2AFAC;
    color:white;
  }
  .btn-delete{
    color:white;
    background-color:#FA787E;
  }
  .input-group-btn > .btn-default {
    background-color: #16a085 !important;
    border-color: #16a085 !important;
  }
  .faq{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: #16A085;
    color: white;
    padding: 15px;
  }
  .nameok{
    background-color: #78E0CC !important;
  }
  .namenotok{
    background-color: #FA787E !important;
  }
  .namecheck{
    background-color: #E0E0E0 !important;
  }

  .form-action-container {
    height: auto;
    width: 250px;
    position: fixed;
    z-index: 10;
    right: 0;
    background: transparent;
    overflow-x: hidden;
  }

  .form-action-container a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
  }

  .form-action-container a:hover, .offcanvas a:focus{
      color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .form-action-container {padding-top: 15px;}
    .form-action-container a {font-size: 18px;}
  }
  .form-action-tooltip-text {
    background-color: #555;
    color: #fff;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 14px;
  }
  .form-action-tooltip-text-close {
    color: #fff;
    cursor: pointer;
    line-height: 1;
  }
  .form-action-tooltip-icon {
    line-height: 0;
    text-align: center;
  }
  .form-action-icon,
  .form-action-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #29bfa1;
  }
  .form-action-icon {
    border-radius: 4px 0 0 4px;
    cursor: pointer;
  }
  .form-action-icon > i {
    color: #fff;
    font-size: 20px;
  }
  .form-action-button {
    border-radius: 0 0 0 4px;
  }
  .form-action-button > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    width: 180px;
    text-align: center;
    color: #29bfa1;
    background-color: #fff;
  }
  .form-action-button > .btn:hover,
  .form-action-button > .btn:focus,
  .form-action-button > .btn:active {
    background-color: #555;
  }

  /* Modal2 */
  #submitfailed .modal-dialog  {width:345px;}
  #submitOk .modal-dialog  {width:345px;}
  #submitfailedserver .modal-dialog  {width:345px;}
  #submitLoading .modal-dialog  {width:345px;}
  #errorLandscape .modal-dialog  {width:345px;}
