@media (max-width: 767px) {
  .home-list__heading {
    display: block;
  }

  .home-list__heading__text {
    margin: 20px 0 10px 0;
    font-size: 18px;
    text-align: center;
  }

  .home-list__heading__option {
    margin: 10px 0 20px 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .home-list__more {
    text-align: center;
    font-size: large;
  }

  .home-list__related__child {
    overflow: auto;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .home-list__heading {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;

    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;

    margin: 30px 0 20px 0;
  }

  .home-list__heading__text {
    margin: 0 15px 0 0;
    font-size: 20px;
  }

  .home-list__heading__option {
    min-width: 150px;
    font-size: 18px;
    border-radius: 0 !important;
  }

  .home-list__more {
    text-align: right;
    font-size: larger;
    padding-right: 10px;
  }
}

.home-list__heading__option {
  background-color: #fff;
  color: #1baa56;
  border-bottom: 1px solid #1baa56;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.home-list__heading__option__child {
  color: #1baa56;
  background-color: #fff;
  border: none;
}

.home-list__heading__option__child.is-geolocation {
  color: #fff;
  background-color: #3cb33c;
}

.home-list__more,
.home-list__more > a {
  color: #1baa56;
}

.home-list__related__text {
  font-size: 20px;
}

.home-list__related__child {
  margin-bottom: 15px;
}

.home-list__related__child__btn {
  border-radius: 30px;
  color: #333;
  background-color: #eee;
  margin: 15px 15px 0 0;
}

.home-list__related__child__btn.is-active,
.home-list__related__child__btn:hover,
.home-list__related__child__btn:active,
.home-list__related__child__btn:focus {
  color: #fff;
  background-color: #1baa56;
}

.home-list__related__child__btn.is-active,
.home-list__related__child__btn.is-active[disabled] {
  cursor: default;
  opacity: 1;
}

.home-list__related {
  min-height: 500px;
  margin-top: 50px;
}

.home-list__related__rooms {
  overflow: auto;
  white-space: nowrap;
}

.home-list__related__rooms > .row {
  padding: 5px;
}

.list-related-grid {
  min-width: 300px;
  max-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kost-list-container {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 360px;
}
.kost-zero {
  font-size: 24px;
  font-weight: bold;
  color: #006634;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.kost-photo {
  background-size: cover;
  background-position: center;
  height: 250px;
}
.kost-photo .kost-icon-bar {
  overflow: auto;
}
.kost-photo .kost-icon-bar .kost-icon-container-left {
  display: inline-block;
  float: left;
  padding: 3px;
}
.kost-photo .kost-icon-bar .kost-icon-container-left img {
  width: 22px;
}
.kost-photo .kost-icon-bar .kost-icon-container-right {
  display: inline-block;
  float: right;
  padding: 3px;
}
.kost-photo.fade {
  opacity: 0.5;
}

.kost-photo .room-promo {
  display: flex;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  border: 2px #1baa56 solid;
  margin-top: 4px;
  margin-left: 32px;
}

.kost-photo .room-promo .promo-ic-container {
  background-color: #1baa56;
  padding: 4px;
}

.kost-photo .room-promo .promo-caption-container {
  color: #1baa56;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
}
.kost-photo .promo-icon {
  width: 19px;
  height: 19px;
}

.kost-info {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.kost-info .kost-info-container {
  padding: 3px 0;
  width: 50%;
  display: inline-block;
}
.kost-info .kost-info-container.kost-status {
  background-color: #1baa56;
  color: white;
  float: left;
}
.kost-info .kost-info-container.kost-status-full {
  background-color: #7d7d7d;
  color: white;
  float: left;
}
.kost-info .kost-info-container.kost-price {
  color: #1baa56;
}

.kost-detail {
  font-size: 14px;
  padding: 5px;
  height: 35px;
}

.kost-booking-container {
  display: inline-block;
}
.kost-booking-container .kost-booking-icon {
  display: inline-block;
}
.kost-booking-container .kost-booking-icon .kost-booking-icon-image {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.kost-booking-container .kost-booking-label {
  display: inline-block;
  color: #1baa56;
  text-transform: uppercase;
  font-weight: 700;
}

.kost-detail-secondary {
  font-size: 14px;
  color: #777;
  text-align: left;
  padding: 0 10px;
}

.kost-premium-container {
  display: inline-block;
  margin-left: 3px;
}
.kost-premium-container .kost-premium-icon {
  display: inline-block;
}
.kost-premium-container .kost-premium-icon .kost-premium-icon-image {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.kost-premium-container .kost-premium-label {
  display: inline-block;
  color: #e0af50;
  text-transform: uppercase;
  font-weight: 700;
}

.kost-review {
  padding: 10px 10px 15px 10px;
  height: 45px;
}
.kost-review-container {
  display: inline-block;
  width: 60%;
}
.kost-review-icon {
  display: inline-block;
  color: #1baa56;
}
.kost-review-caption {
  display: inline-block;
}
.kost-booking {
  display: inline-block;
  width: 40%;
  text-align: right;
  color: #1baa56;
  font-weight: bold;
  text-transform: capitalize;
  float: right;
}

.unit-icons {
  padding: 5px 10px 10px 10px;
}
.unit-icon-container {
  display: inline-block;
  padding-right: 10px;
}
.unit-icon-container .unit-icon {
  display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
  height: 30px;
  width: 30px;
}
.unit-icon-container .unit-icon-label {
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}

.icon-container {
  margin-left: 15px;
  margin-top: 10px;
}
.icon-facility {
  height: 28px;
  margin-right: 5px;
}

/*reduced font size in smol screens*/

@media (max-width: 320px) {
  .kost-premium-label,
  .kost-booking-label,
  .kost-tag {
    font-size: 12px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .kost-premium-label,
  .kost-booking-label,
  .kost-tag {
    font-size: 12px;
  }
}

/*remove padding on smol screens*/
@media (max-width: 767px) {
  .no-padding-xs {
    padding-left: 0;
    padding-right: 0;
  }
}
