/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1100; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  color: #1baa56;
}

.sidenav .form-control {
  height: auto;
}

@media (max-width: 767px) {
  .sidenav,
  .sidenav .form-control {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .sidenav,
  .sidenav .form-control {
    font-size: 18px;
  }
}

.sidenav > .left-part {
  background-color: #216b0f;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.sidenav > .left-part > .fa {
  position: absolute;
  top: 45px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .sidenav > .left-part > .fa {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .sidenav > .left-part > .fa {
    font-size: 30px;
  }
}

.sidenav > .left-part,
.sidenav > .right-part {
  padding: 0;
}

.sidenav > .right-part {
  top: 45px;
  color: #000;
}

.sidenav > .right-part .as-title {
  color: #1baa56;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .sidenav > .right-part .has-margin-bottom {
    margin-bottom: 10px;
  }
  .sidenav > .right-part .has-margin-bottom-big {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .sidenav > .right-part .has-margin-bottom {
    margin-bottom: 15px;
  }
  .sidenav > .right-part .has-margin-bottom-big {
    margin-bottom: 30px;
  }
}

.sidenav > .right-part .has-left-indent {
  padding-left: 30px;
}

.sidenav .radio.radio-inline {
  margin-right: 10px;
}

.sidenav .label-beta {
  right: -20px;
  top: -15px;
}

#sidenavOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1090; /* Specify a stack order in case you're using a different order for other elements */
}
