body {
  font-family: 'Lato', sans-serif;
}

/** - Bar **/
.navbarTop {
  background-color: #1baa56;
  position: fixed;
  color: white;
  padding: 0px 0px;
  z-index: 999;
  height: 54px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  top: 0px;
}

.navLogo {
  padding: 15px;
  padding-left: 20px;
  padding-right: 8px;
}

.navRightSearch,
.navRightAdd {
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
  padding-right: 0px;
  padding-left: 10px;
}

.menuText {
  font-size: 13px;
  text-align: center;
}

.promosi-kost {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 50px;
  color: #1baa56;
  cursor: pointer;
}
.search-by-loc {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.search-by-loc:hover {
  text-decoration: underline;
}
.menu-right-bar {
  width: 70%;
  float: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-right: 15px;
}
.search-symbol {
  position: absolute;
  color: rgb(39, 171, 39);
  font-weight: bold;
  font-size: 23px;
  top: 15px;
  right: 22px;
  cursor: pointer;
}
a .login-button {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
#search {
  font-size: 13px;
  padding: 8px 15px !important;
  text-align: left;
  height: 37px;
}
.input-custom-search {
  max-width: 800px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  color: black;
  border: 0px;
}

@media (min-width: 768px) {
  .logo {
    width: 130px !important;
  }
  #search {
    font-size: 13px !important;
    padding: 8px 15px !important;
    height: 37px;
  }
}
/* Navbar Mobile */
a.menu-top {
  background-color: #313131;
}
.menu-top:hover {
  background-color: transparent;
}
.brand-text-right {
  color: white;
  font-weight: bold;
}
.brand-text-right:hover {
  color: #092509;
  font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
.navbar-custom {
  background-color: #1baa56;
  border-radius: 0px;
  margin-bottom: 0px;
  color: white;
  border: 0px;
}
.imglogo-navxs {
  position: absolute;
  left: 15px;
  right: 0;
  top: 10px;
  width: 115px;
  padding: 0px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}
.imgbanner-navxs {
  position: absolute;
  right: 15px;
  top: 7px;
  width: 75px;
  padding: 0px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .navbar-custom {
    margin-top: 65px;
  }
}
.banner-off {
  margin-top: 0px !important;
}

/** Title **/
.titleh1 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
}
.titleh2 {
  font-size: 18px;
  margin-top: 0px;
  padding-left: 2px;
}
.titleh3 {
  font-size: 15px !important;
  margin-top: 0px;
  padding-left: 2px;
}
.h2,
h2 {
  font-size: 20px;
  font-weight: 600;
}
.h3,
h3 {
  font-size: 20px;
  font-weight: 600;
}

a,
a > b {
  color: #1baa56;
  text-decoration: none;
}
a:hover,
a > b:hover {
  color: #1baa56;
  text-decoration: underline;
}
.room-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.room-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-room {
  margin: 0;
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  border: 1px solid #d1d1d1;
  background-size: cover;
  border-bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  background-color: rgba(60, 63, 64, 0.9);
  font-size: large;
  font-weight: normal;
  left: 1px;
  bottom: -10px;
  padding: 2px 15px;
}
.listing {
  z-index: 99;
  padding: 0px 0px;
}
.roomDetail {
  background-color: white;
  border: 1px solid #d1d1d1;
  height: 200px;
  padding-top: 15px;
  padding-left: 15px;
}
.labelMinRent {
  /*margin-top: 110px;*/
  background-color: #35b5a9;
  color: white;
  /*position: absolute;
    bottom: 35px;
    right:110px;*/
  border-radius: 3px;
  font-size: small;
  padding: 2px 10px;
  text-align: center;
  /*width:90px;*/
}
.labelStatusOne {
  text-align: center;
  color: white;
  background-color: red;
  font-size: large;
  font-weight: normal;
}
.labelStatusMore {
  text-align: center;
  color: white;
  background-color: #1baa56;
  font-size: large;
  font-weight: normal;
}
.labelMale {
  /*margin-top: 110px;*/
  background-color: #3498db;
  color: white;
  /*position: absolute;
    bottom: 35px;
    right:10px;*/
  border-radius: 3px;
  font-size: small;
  padding: 2px 15px;
  /*width:90px;*/
  text-align: center;
}
.labelFemale {
  /*margin-top: 110px;*/
  background-color: #f26389;
  color: white;
  /*position: absolute;
    bottom: 35px;
    right:10px;*/
  border-radius: 3px;
  font-size: small;
  padding: 2px 15px;
  /*width: 90px;*/
  text-align: center;
}
.labelMix {
  /*margin-top: 110px;*/
  background-color: #9b59b6;
  color: white;
  /*position: absolute;*/
  /*bottom: 35px;
    right:10px;*/
  border-radius: 3px;
  font-size: small;
  padding: 2px 12px;
  /*width:90px;*/
  text-align: center;
}
.labelKeyword {
  /*margin-top: 110px;*/
  background-color: #1baa56;
  color: white;
  /*position: absolute;*/
  /*bottom: 35px;
    right:10px;*/
  border-radius: 3px;
  font-size: small;
  padding: 2px 12px;
  /*width:90px;*/
  text-align: center;
}
.labelCall {
  background-color: white;
  color: #00994a;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 7px;
  text-align: center;
  border: 1px solid #1baa56;
}
.labelCall2 {
  background-color: #1baa56;
  color: white;
  border-radius: 0px;
  font-size: smaller;
  padding: 5px 7px;
  text-align: center;
  border: 1px solid #1baa56;
}
.priceDetail {
  float: right;
  font-size: medium;
  font-weight: bold;
  color: #545454;
}
.roomTitle {
  font-size: medium;
  font-weight: bold;
  color: #545454;
}
.roomAddress {
  color: #888888;
  font-size: smaller;
}
.position {
  position: absolute;
  bottom: 28px;
  left: 0px;
  color: #c3c3c3;
}
.tambahkanKos {
  top: 25px;
  padding: 5px 15px;
  border: 1px solid white;
  color: white;
  float: right;
  cursor: pointer;
}
.tambahkanKos:hover {
  border-bottom: 3px solid #1baa56;
}
.logo {
  width: 70px;
}
.foot1 {
  font-size: 25px;
  font-weight: bold;
}
.foot2 {
  font-size: 18px;
}
.foot3 {
  top: 25px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  float: none;
  position: initial;
  font-size: 18px;
  padding: 10px;
}
.roomCount {
  padding-left: 15px;
  font-size: medium;
  font-weight: bold;
  color: #006634;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-right: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.see-map {
  cursor: pointer;
  background: #009b4c;
  color: #fff;
  border: 1px solid #009b4c;
  padding: 8px;
  font-size: 16px;
}
.see-map:hover {
  border-bottom: 3px solid #1baa56;
}
.see-map i {
  font-size: 20px;
}
.scroll-top {
  float: right;
  color: #009b4c;
  font-size: 30px;
  cursor: pointer;
  padding-right: 14px;
}
.scroll-top:hover {
  color: #ccc;
}
.desc {
  font-size: 15px;
}
@media (min-width: 300px) and (max-width: 380px) {
  .populartag {
    text-align: center;
  }
  .roomTitle {
    font-size: 12px !important;
    font-weight: bold;
  }
  .icon-feature {
    font-size: 12px;
    padding: 0px 20px 0px 0px;
  }
  .min-rent-flex {
    flex: 2 !important;
  }
  .jobs-about-button {
    font-size: 11px !important;
  }
}
@media (min-width: 1024px) {
  .populartag {
    text-align: left;
  }
  .bannerOff {
    margin-top: 15px;
  }
  .bannerinstall {
    margin-top: 124px;
  }
  .bannerOn {
    margin-top: 15px;
  }
  .icon-feature {
    padding: 0px 20px 0px 0px;
  }
}
@media (min-width: 599px) and (max-width: 1023px) {
  .populartag {
    text-align: center;
  }
  .bannerOn {
    margin-top: 15px !important;
  }
  .bannerOff {
    margin-top: 15px !important;
  }
  .bannerinstall {
    margin-top: 0px;
  }
  .navbarTop {
    padding: 0px;
  }
  .title {
    padding-left: 50px;
  }
  .labelMinRent {
    font-size: 12px;
    right: 100px;
  }
  .navRight {
    top: 35px;
  }
  .listing {
    padding: 0px;
  }
  .navRightSearch {
    top: 25px;
  }
  #text,
  .roomTitle,
  .priceDetail {
    font-size: 15px;
  }

  .menuText {
    font-size: 11px;
  }

  .promosi-kost {
    padding: 13px 50px;
  }

  .labelFemale,
  .labelMale,
  .labelMix,
  .labelKeyword {
    font-size: 12px;
    width: 90px;
  }
}

@media (max-width: 599px) {
  .navbarTop {
    padding: 0px;
  }
  .bannerOn {
    margin-top: 15px !important;
  }
  .bannerOff {
    margin-top: 15px !important;
  }
  .bannerinstall {
    margin-top: 0px;
  }
  .navRightSearch {
    top: 14px;
    right: 0px;
  }
  .navRightAdd {
    right: 0px;
    top: 22px;
  }
  .navLogo {
    padding-left: 5px;
    padding-top: 18px;
  }
  .listing {
    padding: 0px;
  }
  .titleh1 {
    font-size: 25px;
    font-weight: bold;
  }
  .titleh2 {
    font-size: 18px;
    margin-top: 1px;
    padding-left: 0px;
  }
  .logo {
    width: 70px;
  }
  #text {
    font-size: 15px;
    left: 0px;
  }
  .priceDetail,
  .menuText {
    font-size: 10px;
  }
  .roomTitle {
    font-size: 15px;
  }
  .labelMale {
    font-size: 10px;
    width: 50px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMinRent {
    font-size: 10px;
  }
  .labelFemale {
    font-size: 10px;
    width: 45px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMix {
    font-size: 10px;
    width: 58px;
    padding: 2px 8px;
    bottom: 30px;
    right: 0px;
  }
  .labelMinRent {
    font-size: 10px;
    width: 62px;
    padding: 2px 8px;
    bottom: 30px;
    right: 60px;
  }
  .listing {
    margin-top: 0px;
  }
  .foot1,
  .foot3 {
    font-size: 15px;
  }
  .foot2 {
    font-size: 12px;
  }
  .roomCount {
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #006634;
  }
}
@media (max-width: 320px) {
  .navRightAdd {
    right: 0px;
    top: 18px;
    padding-right: 10px;
  }
  .navRightSearch {
    top: 14px;
    left: 5px;
  }
  .bannerinstall {
    margin-top: 0px;
  }
  .bannerOn {
    margin-top: 15px;
  }
  .bannerOff {
    margin-top: 15px;
  }
}

.bannerinstall {
  height: 75px;
  position: fixed;
  left: 0px;
  right: 0px;
}
.bannercontent {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}
.bannernone {
  display: none;
  height: 0px;
}
.urllanding {
  cursor: pointer;
  font-size: 12px;
}
.urllanding:hover {
  font-weight: bold;
}
.urllandingArea {
  cursor: pointer;
  font-size: 13px;
}
.urllandingArea:hover {
  font-weight: bold;
}
.urlactive:hover {
  font-weight: bold;
  color: green;
}
.left-title {
  text-align: center;
  background-color: #006634;
  padding: 5px;
  color: white;
  font-size: 20px;
}
.left-box {
  border: 1px solid whitesmoke;
}
.form-search {
  margin-top: 5px;
  border-color: #46bc46;
}
.form_search {
  position: relative;
  padding: 0px 0px 10px 0px;
}
.button-search {
  height: 45px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5%;
  width: 45px;
  padding: 0px 0px;
  font-size: 20px;
  border-radius: 40px;
  background: #1baa56;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
}
.form_search input[type='search'] {
  width: 100%;
  margin-right: -40px;
  padding: 0px 20px;
  font-size: 15px;
  border: none;
  border-right: none;
  border-radius: 40px;
  box-sizing: border-box;
}
.breadcrumblg {
  font-size: 15px;
  font-weight: bold;
  color: #006634;
  margin-bottom: 15px;
  padding: 0px;
}
.advFilter {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: #cccccc;
  padding: 10px;
  padding-left: 15px;
  border-radius: 0px;
  margin-bottom: 15px;
  border: 1px solid #eeeeee;
}
.dispInit {
  display: initial;
}
.dispNone {
  display: none;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
  color: #ffffff !important;
  background-color: #00994a !important;
  border-color: whitesmoke !important;
}
.content-button {
  padding: 0px;
}
.content {
  border-radius: 5px;
  border-color: whitesmoke;
}
.form-control {
  margin-bottom: 10px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 5px;
}
.pac-container {
  z-index: 10000;
}
.button-search {
  height: 45px;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 5%;
  width: 45px;
  padding: 0px 0px;
  font-size: 20px;
  border-radius: 40px;
  background: #1baa56;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
}
.form_search input[type='search'] {
  width: 100%;
  margin-right: -40px;
  padding: 0px 20px;
  font-size: 15px;
  border: none;
  border-right: none;
  border-radius: 40px;
  box-sizing: border-box;
}
.breadcrumblg {
  font-size: 15px;
  font-weight: bold;
  color: #006634;
  margin-bottom: 15px;
  padding: 0px;
}
.dispInit {
  display: initial;
}
.dispNone {
  display: none;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
  color: #ffffff !important;
  background-color: #00994a !important;
  border-color: whitesmoke !important;
}
.content-button {
  padding: 0px;
}
.content {
  border-radius: 5px;
  border-color: whitesmoke;
}
.form-control {
  margin-bottom: 10px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 5px;
}
.filter-icon-up {
  position: inherit;
  top: 1px;
}
.filter-icon-down {
  position: inherit;
  top: 2px;
}
/**Bread Crumb**/
.breadcrumb {
  padding: 0px !important;
  list-style: none;
  overflow: hidden;
  font: 18px;
  border-radius: 0px;
  background-color: white !important;
  margin-bottom: 0px !important;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  background: brown; /* fallback color */
  background: hsla(149, 100%, 30%, 1);
  position: relative;
  display: block;
  float: left;
}
.breadcrumb li a:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(149, 100%, 30%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.breadcrumb li a:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.breadcrumb li:first-child a {
  padding-left: 20px;
  font-size: 20px;
  padding: 5px 0 7px 20px;
}
.breadcrumb li:nth-child(2) a {
  background: hsla(240, 3%, 94%, 1);
  color: #009b4c;
}
.breadcrumb li:nth-child(2) a:after {
  border-left-color: hsla(240, 3%, 94%, 1);
}
.breadcrumb li:nth-child(3) a {
  background: hsla(240, 3%, 94%, 1);
  color: #009b4c;
}
.breadcrumb li:nth-child(3) a:after {
  border-left-color: hsla(240, 3%, 94%, 1);
}
.breadcrumb li:nth-child(4) a {
  background: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(4) a:after {
  border-left-color: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(5) a {
  background: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:nth-child(5) a:after {
  border-left-color: hsla(0, 0%, 100%, 1);
  color: #969696;
}
.breadcrumb li:last-child a {
  background: white !important;
  color: #969696;
  pointer-events: none;
  padding-top: 10px !important;
  cursor: default;
  padding-left: 45px !important;
}
.breadcrumb li:last-child a:after {
  border: 0;
  background-color: white;
  padding-left: 45px !important;
}
.breadcrumb li a:hover {
  background: hsla(149, 95%, 23%, 1);
  color: white;
}
.breadcrumb li a:hover:after {
  border-left-color: hsla(149, 95%, 23%, 1) !important;
  color: white;
}

@media (max-width: 768px) {
  .breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    background: brown; /* fallback color */
    background: hsla(149, 100%, 30%, 1);
    position: relative;
    display: block;
    float: left;
  }
}
.breadcrumbdiv {
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .breadcrumbdiv {
    margin-top: 20px;
  }
}
.jobsabout {
  padding: 12px 15px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.list-landing {
  /*border:1px solid #D1D1D1;*/
  margin-top: 10px;
}
.layerFull {
  background-color: rgba(70, 70, 70, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.textFull {
  background-color: gray;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 30%;
  right: 30%;
  left: 30%;
  border-radius: 5px;
}
a:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
.text-modal-download-love {
  color: green;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18;
}
.text-modal-download-call {
  color: green;
  padding-top: 20px;
  font-size: 15px;
  padding-bottom: 10px;
}
.icon-feature {
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

#btnfac {
  background-color: #cecece;
}
.label-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 0px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.min-rent-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
  /* height: 80%; */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex1 {
  flex: 1;
}
.city-jabodetabek {
  padding: 10px 10px;
}
.link-mamikos {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  border-top: 2px solid whitesmoke;
  padding-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.desc_2 {
  font-size: 15px;
}
.desc_2 h3 {
  font-size: 18px;
}
.desc_2 ul {
  padding-left: 15px;
}
.desc_2 ul li {
  font-size: 15px;
}
.desc_1 h3 {
  font-size: 18px;
  text-align: justify;
  line-height: inherit;
}

.desc_1 p,
.desc_1 div {
  font-size: 15px;
  text-align: justify;
  line-height: 15px;
}

/** Footer **/
.advertisement-app {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.advertisement-title {
  text-align: left;
  font-size: 40px;
  color: #009b4c;
  font-weight: bold;
}
.advertisement-subtitle {
  text-align: left;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.advertisement-download {
  text-align: left;
}
.footer-desktop {
  text-align: center;
  padding: 50px 15px;
  background-color: white;
  color: #2d2d2d;
  border-bottom: 2px solid #f5f5f5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.footer-info > a {
  color: #333;
}

.footer-page {
  padding: 0px;
  background-color: white;
  color: black;
  text-align: center;
}
.footer-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  padding: 0px;
}
.footer-about {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #eeeeee;
  border-left: 0px;
  border-right: 0px;
  color: #888888;
  text-align: center;
}
.footer-about-text {
  padding: 20px;
  color: #888888;
  text-align: justify;
}
.footer-info-text {
  text-align: left;
  margin-bottom: 30px;
  color: #888888;
  padding: 20px;
}

/*Include Footer*/
.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.logo-footer .img-logo-footer {
  width: 240px;
}
.text-footer {
  color: #000;
  text-align: center;
}
.link-footer,
.social-footer,
.contact-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-footer > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .link-footer > a {
    color: #009b4c;
  }
}
@media screen and (min-width: 767px) {
  .link-footer > a {
    color: #009b4c;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.link-footer > span {
  color: #888;
}
.social-footer > a {
  margin-right: 5px;
  margin-left: 5px;
}
.social-footer .icon-social-footer {
  width: 45px;
}
.contact-footer > a {
  color: #333;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
}
.contact-footer .icon-contact-footer {
  width: 20px;
}
.contact-footer .text-contact-footer {
  font-size: 11px;
  font-weight: bold;
}

/**Title Recommendation**/
.recommendation-kost {
  font-size: 20px;
  font-weight: bold;
}
.recommendation-city {
  font-size: 20px;
  font-weight: bold;
  color: #1baa56;
}

@media (min-width: 768px) {
  .recommendation-kost {
    font-size: 35px;
    font-weight: bold;
  }
  .recommendation-city {
    font-size: 35px;
    font-weight: bold;
    color: #1baa56;
  }
}

/** Big City **/
.img-city {
  margin: 0;
  height: 380px;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.img-bigcity {
  height: 100px;
  position: absolute;
  margin: auto;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-bigcity {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.bigcity-box {
  border: 1px solid #c1c1c1;
  padding: 0px;
  cursor: pointer;
  height: 200px;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bigcity-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bigCity-title {
  text-align: center !important;
}
.bigCity-title {
  background-size: cover;
  opacity: 0.9;
  color: white;
  background-attachment: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}
.bottom {
  margin-bottom: 100px;
}
#text-bigCity {
  z-index: 100;
  position: absolute;
  color: white;
  width: 100%;
  background-color: #1baa56;
  font-size: 18px;
  font-weight: normal;
  bottom: 35%;
  padding: 5px;
}

/** Map **/
.mapstyle {
  width: 100%;
  height: 100%;
}
.labels {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: center;
  width: 40px;
  border: none;
  white-space: nowrap;
}

/** Rekomendasi dan Favorit (recommendation and favorite) **/
.recommendation-button {
  color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  padding: 10px 0px;
  width: 20%;
  margin-left: 20%;
  background-color: rgb(39, 171, 39);
  margin-top: 20px;
}
.adv-filter-button {
  color: #949494;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 10px 0px;
  margin-top: 20px;
}

/** Modal Login **/
#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#login .modal-dialog {
  width: 300px;
}
.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 20px;
}
.login-description {
  color: #3e5168;
  padding-top: 20px;
}
.facebook-login-button {
  width: 75%;
  margin: 20px auto auto;
  background-color: grey;
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/** Recommendation-Favorite **/
.p0 {
  padding: 0px;
}
.tab-recommendation > a {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-color: #cccccc;
}
.tab-recommendation.active > a {
  border-bottom: 5px solid green;
  color: green;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  text-align: center;
  background-color: #f1f1f1;
  color: #009b4c;
  font-weight: bold;
  border: 0px;
  border-radius: 0px;
  padding: 20px;
  border-bottom: 4px solid #009b4c;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  text-align: center;
  padding: 20px;
  color: #3e5168;
}
.nav-tabs > li {
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
  color: #3e5168;
  font-weight: bold;
  border: 0px;
  border-radius: 0px;
}
.room-recfav-info {
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
  font-size: 17px;
  font-weight: bold;
}
.photo-recfav {
  height: 150px;
  background: url('/assets/98-1.jpg');
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0px;
}
.photo-recfav.full {
  filter: brightness(50%);
}
.room-recfav-div {
  border: 1px solid #eeeeee;
}
/* if no more room left */
.label-full {
  vertical-align: middle;
  width: 100%;
  text-align: center;
  background: rgb(137, 137, 137) none repeat scroll 0% 0%;
  padding: 5px;
  color: #424242;
  font-weight: bold;
  font-size: 18px;
}
/* if one room left */
.label-one-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  background: red none repeat scroll 0% 0%;
  padding: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
/* if more than one room left */
.label-more-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  background: #ff7701 none repeat scroll 0% 0%;
  padding: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.title-recfav {
  font-size: 15px;
  padding: 5px 0px;
}
.label-minimal-rent {
  color: #1baa56;
}
.labelFemale.label-gender-recfav,
.labelMale.label-gender-recfav,
.labelMix.label-gender-recfav {
  font-size: 15px !important;
  width: 75px;
}
.breadcrumbdiv.breadcrumb-recfav {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .breadcrumbdiv.breadcrumb-recfav {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    text-align: center;
    background-color: #f1f1f1;
    color: #009b4c;
    font-weight: bold;
    border: 0px;
    border-radius: 0px;
    padding: 15px;
    border-left: 4px solid #009b4c;
  }
  .nav-tabs > li > a,
  .nav-tabs > li > a:focus,
  .nav-tabs > li > a:hover {
    text-align: center;
    padding: 15px;
    color: #3e5168;
  }
  .nav-tabs > li {
    padding: 0px;
    text-align: center;
    background-color: #f1f1f1;
    color: #3e5168;
    font-weight: bold;
    border: 0px;
    border-radius: 0px;
    border-bottom: 5px solid white;
  }
  .title-recfav {
    font-size: 18px;
    padding: 5px 0px;
  }
  .room-recfav-info {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .breadcrumbdiv.breadcrumb-recfav {
    margin-top: 75px;
    margin-bottom: 20px;
  }
}
.tabOwner {
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}
.tabOwnerData {
  text-align: left;
}
.foot {
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  background-color: green;
  border-color: green;
  color: #ffffff;
  background-color: rgba(35, 154, 35, 0.85);
  height: 50px;
  padding-top: 15px;
  cursor: pointer;
}
.surveycontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.promoted-box-icon-lg {
  width: auto;
  padding-right: 5px;
  padding-left: 15px;
}
.promoted-box-text-lg {
  width: 11.66666667%;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  margin-top: 6px;
  text-align: left;
  color: #1baa56;
}
.promoted-box-border-lg {
  width: 80%;
  padding: 0;
}
.promoted-box-border-top-lg {
  border-top: 2px solid #1baa56;
  margin-top: 18px;
}
.promoted-box-icon-sm {
  width: auto;
  padding-right: 5px;
  padding-left: 5px;
}
.promoted-box-text-sm {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
  margin-top: 6px;
  text-align: left;
  color: #1baa56;
}
.promoted-box-border-sm {
  padding: 0;
}
.promoted-box-border-top-sm {
  border-top: 2px solid #1baa56;
  margin-top: 18px;
}
.promoted-box-icon-xs {
  width: auto;
  height: 25px;
  padding-right: 0px;
  padding-left: 5px;
}
.promoted-box-text-xs {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  margin-top: 3px;
  text-align: left;
  color: #1baa56;
}
.promoted-box-border-xs {
  padding: 0;
  margin-left: 15px;
}
.promoted-box-border-top-xs {
  border-top: 2px solid #1baa56;
  margin-top: 13px;
}
.promoted-box-border {
  padding: 0 10px 0 10px;
}
.promoted-box-border-bottom {
  border-top: 2px solid #1baa56;
}
.premium-star-icon {
  height: 28px;
  width: auto;
  margin-bottom: 5px;
}
.premium-star-text {
  font-size: 15px;
  color: #e0af50;
}
.booking-calendar-icon {
  height: 29px;
  width: auto;
  margin-bottom: 5px;
}
.booking-calendar-text {
  font-size: 15px;
  color: #009b4c;
}
/*Premium Space*/
.space-premium-top {
  margin: 0;
  width: 100%;
  height: 105px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  border-bottom-width: 0;
  text-align: center;
  color: #009b4c;
}
.space-premium-text1 {
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 24px;
}
.space-premium-text2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.space-premium-img {
  margin: 0;
  width: 100%;
  height: 240px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  border-top-width: 0;
  border-bottom-width: 0;
  text-align: center;
  color: #009b4c;
}
.space-premium-img-sm {
  margin: 0;
  width: 100%;
  height: 215px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  border-top-width: 0;
  border-bottom-width: 0;
  text-align: center;
  color: #009b4c;
}
.space-premium-bottom {
  margin: 0;
  width: 100%;
  height: 45px;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #c1c1c1;
  padding: 5px 10px 0 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #009b4c;
}
