body {
  font-family: 'Lato', sans-serif;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
[v-cloak] {
  display: none !important;
}

a {
  color: #1baa56;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1baa56;
}

h5 {
  font-size: 16px;
}

.p0 {
  padding-right: 0;
  padding-left: 0;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.input-none {
  display: none;
}
.closemodal {
  position: absolute;
  top: -3px;
  right: 4px;
  opacity: 1;
  z-index: 3;
  background-color: #eee;
  color: #1baa56;
  width: 35px;
  height: 35px;
  border-radius: 21px;
  opacity: 1;
  border: 7px solid #1baa56;
}
.no-break {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Banner*/
.banner-section {
  background-color: #33cc33;
  border-color: #33cc33;
  z-index: 1050;
}
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.banner-content > .content-close {
  font-size: 20px;
  color: #807e78;
}
.banner-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.banner-app > p {
  color: #fff;
  margin: 0;
}
.banner-app > .app-star {
  color: #ffd200;
}
.banner-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  color: #fff;
}
.banner-button > label {
  background: transparent;
  font-weight: normal;
  border: 1px solid #fff;
  margin: 0;
  padding: 6px 16px;
  border-radius: 4px;
}

/*Navbar*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 54px;
}
.navbar-new {
  background-color: #1baa56;
  border-color: #1baa56;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar-new {
    top: 54px;
  }
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.navbar-toggle {
  border-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-toggle > .icon-bar {
  background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
  color: #fff;
  font-size: 16px;
  width: 22px;
}
.toggle-search {
  padding-top: 7px;
  padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-logo {
    border: none;
    padding: 0;
    margin: 0 10px;
  }
  .navbar-app {
    padding: 5px 15px 0 0;
  }
  .navbar-search {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    width: 104px;
    height: 34px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-select {
    padding-top: 5px;
    padding-bottom: 6px;
    color: #1baa56;
    height: 34px !important;
  }
}
.navbar-search {
  padding-right: 0;
  padding-left: 0;
}
.navbar-search.no-stretch {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
  color: #1baa56;
}
@media (max-width: 767px) {
  .navbar-search > .form-group > .input-group > input {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-search > .form-group > .input-group > input {
    width: 264px;
  }
}
@media (min-width: 1200px) {
  .navbar-search > .form-group > .input-group > input {
    width: 374px;
  }
}
.input-group-addon,
.input-group-btn > .btn {
  background-color: #fff;
  color: #1baa56;
}
.input-group-addon:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.navbar-promotion {
  background-image: url('/assets/home-desktop/mamikos-promosi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar-promotion > a {
  color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #fff;
}
.nav > li > a {
  color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.navbar-promotion > a {
  color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #1baa56;
}
@media (max-width: 767px) {
  .dropdown-menu > li > a {
    color: #fff;
  }
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    color: #1baa56;
    background-color: #fff;
  }
}
.user-photo,
.owner-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
.user-name,
.owner-name {
  padding-right: 5px;
  padding-left: 5px;
}
.booking-counter.is-loading .fa {
  color: #fff;
  font-size: inherit;
}
.booking-counter.is-shown {
  background-color: #fff;
  color: #1baa56;
  font-weight: bold;
  padding: 0px 6px;
  border-radius: 100%;
}

.breadcrumb-new {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media (max-width: 767px) {
  .breadcrumb-new {
    margin-top: 108px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-new {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: fixed;
    z-index: 100;
  }
}
.breadcrumb-new > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-list {
  color: #1baa56;
}

@media (max-width: 767px) {
  .landing-control {
    /*margin-top: 100px;*/
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .landing-control {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}
@media (min-width: 992px) {
  .landing-control {
    margin-top: 90px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 100;
  }
}

.toggle-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.toggle-filter > i {
  color: #1baa56;
}
@media (max-width: 991px) {
  .heading-mobile {
    text-align: center;
  }
}
.landing-title {
  color: #1baa56;
  margin-top: 0;
  padding: 0px 0 10px 0px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
}
@media (min-width: 992px) {
  .side-bordered {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-top: -10px;
    padding-top: 10px;
    margin-bottom: -10px;
    padding-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .control-type {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.control-type > .btn {
  cursor: default;
}
.control-type > .btn:active,
.control-type > .btn:hover,
.control-type > .btn:focus {
  background-color: #fff;
}
.female-icon {
  font-size: 10px;
  color: #f26389;
  padding-right: 2px;
  padding-left: 2px;
}
.male-icon {
  font-size: 10px;
  color: #3498db;
  padding-right: 2px;
  padding-left: 2px;
}
.mix-icon {
  font-size: 10px;
  color: #9b59b6;
  padding-right: 2px;
  padding-left: 2px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .price-filter {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .price-range-slider {
    height: 50px;
  }
}

.map-container {
  position: fixed;
  top: 192px;
  bottom: 0;
  background-color: #eee;
}

@media (max-width: 991px) {
  .map-container {
    position: fixed;
    left: 200%;
    height: 471px;
    width: 562px;
  }
}

.map-style {
  width: 100%;
  height: 100%;
}
.labels {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding-top: 1px;
  width: 42px;
  border: none;
  white-space: nowrap;

  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.labels2 {
  color: #e0af50;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 1px 5px;
  width: 70px;
  border: none;
  white-space: nowrap;
}

.labels-premium {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding-top: 1px;
  width: 42px;
  border: none;
  white-space: nowrap;
}

.labels2.labels-premium-text {
  color: #1baa56;
  font-weight: bold;
  width: 80px;
}

.labels2.labels-premium-text.labels-premium-gender-0 {
  color: #9b59b6;
}

.labels2.labels-premium-text.labels-premium-gender-1 {
  color: #3498db;
}

.labels2.labels-premium-text.labels-premium-gender-2 {
  color: #f26389;
}

.labels2 .icon-premium {
  width: 20px;
}

.landing-filter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.landing-filter > button {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  margin-top: 10px;
}
.filter-container {
  margin-top: 5px;
}
.filter-fac {
  margin-top: 10px;
}
.filter-other {
  margin-top: 10px;
  margin-bottom: 5px;
}
.filter-fac > p,
.filter-other > p {
  margin-bottom: 5px;
}
.filter-fac > label,
.filter-other > label {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0;
}
.filter-fac > label:hover,
.filter-fac > label:focus,
.filter-fac > label:active,
.filter-other > label:hover,
.filter-other > label:focus,
.filter-other > label:active {
  background-color: #1baa56;
  color: #fff;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
  background-color: #1baa56;
  color: #fff;
}

.sticky-radius {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
@media (max-width: 767px) {
  .sticky-radius {
    padding: 15px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sticky-radius {
    padding: 15px 150px;
  }
}
.sticky-radius.is-sticked {
  width: 100% !important;
  left: 0 !important;
  background-color: #fff;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.btn-group.btn-radius {
  width: 100%;
}
.btn-group.btn-radius > .btn {
  cursor: default;
  color: inherit;
  background-color: #fff;
  border: 1px solid #1baa56;
  height: 38px;
  display: flex;
  align-items: center;
}
.btn-group.btn-radius > .btn:first-child {
  width: 60%;
  box-shadow: none;
}
.btn-group.btn-radius > .btn:last-child {
  width: 40%;
}

@media (max-width: 767px) {
  .room-count {
    font-size: 12px !important;
  }
}
.room-count {
  font-size: 14px;
  font-weight: bold;
  color: #006634;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.room-count-title {
  font-size: inherit;
}

.count-zero {
  font-size: 24px;
  padding-top: 15px;
}
.count-loading {
  padding-top: 5px;
}
.count-loading > i {
  font-size: 16px;
}

@media (max-width: 767px) {
  .count-loading > i {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .room-list {
    /*margin-top: 186px;*/
    padding-top: 11px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .room-list {
    margin-top: 335px;
    padding-top: 11px;
  }
}
@media (min-width: 992px) {
  .room-list {
    margin-top: 191px;
    padding-top: 11px;
    border-left: 1px solid #eee;
  }
}
.promoted-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  color: #1baa56;
  font-size: 16px;
}
.promoted-border {
  border-top: 2px solid #1baa56;
}
.space-promoted {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  color: #000;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 270px;
  padding-top: 5px;
}
.space-promoted:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.rooms {
  margin-top: 10px;
  margin-bottom: 10px;
}

.room-container {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 15px;
  height: 466px;
  background-color: #fff;
}

.room-container:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.room-photo {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  font-size: 16px;
}
.room-promoted {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.room-promoted > img {
  padding: 5px 0 0 5px;
  height: 28px;
  width: 28px;
}
.room-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.room-icon > img {
  padding: 5px 5px 0 0;
  height: 29px;
  width: 29px;
}
.room-full {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  font-size: 16px;
  opacity: 0.5;
}
.label-full {
  color: #fff;
  font-size: 20px;
  background-color: #000;
  border-radius: 3px;
  padding: 10px 15px;
}
.label-not-updated {
  background-color: #EC4A0C;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 15px;
}

.room-label {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  .label-one,
  .label-more,
  .label-price {
    font-size: 16px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .label-one,
  .label-more,
  .label-price {
    font-size: 14px !important;
  }
}
.label-one {
  background-color: #e81a29;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 1px 0;
  border-bottom: 1px solid #e81a29;
}
.label-more {
  background-color: #1baa56;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 1px 0;
  border-bottom: 1px solid #1baa56;
}
.label-price {
  background-color: #fff;
  color: #1baa56;
  font-size: 18px;
  margin: 0;
  padding: 1px 0;
  border-bottom: 1px solid #eee;
}

.room-badge {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 5px;
}
.badge-female {
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #f26389;
}
.badge-male {
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #3498db;
}
.badge-mix {
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #9b59b6;
}
.badge-premium {
  display: inline;
  margin: 0 5px 0 2px;
  color: #e0af50;
  font-size: 12px;
}
.badge-booking {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  color: #009b4c;
}
.badge-premium > img,
.badge-booking > img {
  width: 22px;
}
.room-title {
  text-align: left;
}
.room-title > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  margin-bottom: 5px;
}
.room-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 0 15px 5px 15px;
  width: 100%;
}

.info-rating {
  margin: 0;
  font-weight: normal;
}
.rating-star {
  color: #1baa56;
}
.rating-count {
  color: #999;
}
.info-keyword {
  margin: 0;
  color: #1baa56;
}

.landing-loading {
  margin-top: 30px;
  margin-bottom: 30px;
}
.landing-loading > h4 {
  margin-top: 0;
}

.page-scroll {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.scroll-top {
  color: #009b4c;
  font-size: 30px;
  cursor: pointer;
}
.scroll-top:hover {
  color: #ccc;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #1baa56;
}

@media (min-width: 768px) {
  .landing-bigcity {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.bigcity-grid {
  border: 1px solid #c1c1c1;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 10px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.bigcity-grid:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #000;
  text-decoration: none;
}
.bigcity-grid:focus {
  color: #000;
  text-decoration: none;
}
.bigcity-grid > img {
  height: 100px;
}

.bigcity-grid-2:hover {
  text-decoration: none;
}

.owner-section {
  text-align: center;
  padding: 35px 15px;
  margin-top: 30px;
  background-color: whitesmoke;
  color: #2d2d2d;
}
@media (max-width: 767px) {
  .promotion-box {
    width: 100% !important;
  }
}
.promotion-box {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  background-color: #009b4c;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.promotion-box:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #1baa56;
}
.promotion-box:active,
.promotion-box:focus {
  color: #fff;
  text-decoration: none;
}

.mamikos-mark {
  text-align: center;
  font-size: 22px;
  color: #009b4c;
  padding-top: 45px;
  padding-bottom: 45px;
}

.landing-tag {
  margin-bottom: 10px;
}
.tag-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.tag-list .d-inline {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
}

.tag-list .d-inline a {
  color: #333333;
}

.tag-list .d-inline:hover {
  background: #fff;
  border: 1px solid #1baa56;
}

.tag-list .d-inline:hover a {
  color: #1baa56;
}

.tag-parent {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
}

.tag-parent:focus,
.tag-parent:hover {
  background: #fff;
  border: 1px solid #1baa56;
  color: #000;
}

/* handle mobile: 414px is iPhone 8 plus width in portrait mode*/
@media (max-width: 414px) {
  .tag-list .d-inline:nth-child(n + 6) {
    display: none;
  }
}

.desc-section {
  margin-bottom: 30px;
}
.desc-title {
  font-size: 18px;
  color: #888888;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee;
}

/*Include Footer*/
.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.logo-footer .img-logo-footer {
  width: 240px;
}
.text-footer {
  color: #000;
  text-align: center;
}
.link-footer,
.social-footer,
.contact-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.link-footer > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .link-footer > a {
    color: #009b4c;
  }
}
@media screen and (min-width: 767px) {
  .link-footer > a {
    color: #009b4c;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.link-footer > span {
  color: #888;
}
.social-footer > a {
  margin-right: 5px;
  margin-left: 5px;
}
.social-footer .icon-social-footer {
  width: 45px;
}
.contact-footer > a {
  color: #333;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;
}
.contact-footer .icon-contact-footer {
  width: 20px;
}
.contact-footer .text-contact-footer {
  font-size: 11px;
  font-weight: bold;
}

/** Modal Login **/
#login .modal-content {
  border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #1baa56;
}
#login .modal-dialog {
  width: 300px;
}
.modal-title.login-title {
  text-align: center;
  color: #1baa56;
  font-weight: bold;
  padding-bottom: 5px;
}
.modal-title.login-title.login-select {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding-bottom: 10px;
}
.login-description {
  color: #3e5168;
}
.login-popup-img {
  width: 134px;
  height: auto;
  margin-bottom: 15px;
}
.login-selector {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #545454;
}
.facebook-login-button {
  width: 75%;
  margin: 0px auto auto;
  background-color: #3b5998;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.modal-title.login-title.login-title-google {
  padding-top: 15px;
  padding-bottom: 5px;
}
.google-login-button {
  width: 75%;
  margin: 0 auto auto;
  background-color: #fff;
  padding: 9px 15px 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.google-login-button img {
  width: 22px;
  margin-bottom: 1px;
}

/* icon promo kost is available (fix-promo-page)*/
.room-promo {
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  border: 2px #1baa56 solid;
  margin-top: 6px;
  margin-left: 6px;
}

.room-promo .promo-ic-container {
  background-color: #1baa56;
  padding: 4px;
}

.room-promo .promo-caption-container {
  color: #1baa56;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
}

.promo-icon {
  width: 19px;
  height: 19px;
}

.outline-mamigreen {
  outline: 2px #1baa56 solid;
}

/* APARTMENT STYLING */
.unit-icons {
  padding: 0;
}
.unit-icon-container {
  display: inline-block;
  padding-right: 10px;
}
.unit-icon-container .unit-icon {
  display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
  height: 24px;
  width: 24px;
}
.unit-icon-container .unit-icon-label {
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}
.unit-detail {
  font-size: 12px;
  padding: 3px 0;
  height: 30px;
}
.unit-tag-label {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  font-size: 0.8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.new-label {
  background-color: #f95516;
  border-radius: 5px;
  position: absolute;
  right: -3px;
  top: 3px;
  font-size: 10px;
  padding: 0px 5px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 600;
}

.ranked-container {
  text-align: center;
}

#rankedRoomList {
}

#rankedRoomList .tab-content {
  background-color: #d8f9c6;
  border-left: 2px solid #1baa56;
  border-right: 2px solid #1baa56;
}
#rankedRoomList .nav > li > a {
  color: #1baa56 !important;
}

#rankedRoomList .nav-tabs > .active > a,
#rankedRoomList .nav-tabs > .active > a:focus,
#rankedRoomList .nav-tabs > .active > a:hover {
  font-weight: bold;
  color: #1baa56;
  border-bottom: none;
}
#rankedRoomList .nav > li > a {
  background-color: #fff;
  border-color: #1baa56;
  border-width: 2px;
  border-bottom: none;
  margin-right: 0;
}

#rankedRoomList .nav > li {
  width: 50%;
  text-align: center;
}

#rankedRoomList .nav-tabs > .active > a,
#rankedRoomList .nav-tabs > .active > a:focus,
#rankedRoomList .nav-tabs > .active > a:hover {
  background-color: #d8f9c6;
  border-bottom: none;
}

#rankedRoomList .nav-tabs. a {
  background-color: #fff;
  border-bottom: none;
}

#rankedRoomList .nav-tabs. a:focus,
#rankedRoomList .nav-tabs. a:hover {
  background-color: #f0f0f0;
}

#rankedRoomList .nav > li > a:focus,
#rankedRoomList .nav > li > a:hover,
#rankedRoomList .nav > li > a:active {
  color: #1baa56;
  border-bottom: none;
}

#rankedRoomList .tab-content > .active {
  padding-top: 10px;
}

#rankedRoomList img.ranked-image {
  width: 30px;
  margin-right: 3px;
}

@media (max-width: 400px) {
  #rankedRoomList .ranked-word {
    display: none;
  }
}

#rankedRoomList .panel-heading {
  background-color: #1baa56;
  color: #fff;
  letter-spacing: 0.03em;
  text-align: center;
  border: 2px solid #1baa56;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle='collapse']:not(.collapsed) .if-collapsed {
  display: none;
}

[data-toggle='collapse'].collapsed .panel-heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

[data-toggle='collapse']:not(.collapsed) .panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.not-found-txt {
  padding: 30px;
  margin: 30px;
  background-color: #f5f5f5;
  font-size: 24px;
  color: #006634;
}

.promo-box {
  height: 70px;
  border: 1px solid #c1c1c1;
  padding: 7px;
  padding-left: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.promo-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.promo {
  padding: 15px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
.img-promo {
  height: 36px;
}
.text-promo {
  font-size: 14px;
  left: 53px;
  position: absolute;
  font-weight: bold;
  color: black;
}
.promo-menu-container {
  padding: 36px;
}
.landing-bigcity-2 {
  padding: 10px;
}
.bigcity-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 10px 5px;
}
.bigcity-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bigcity-img {
  height: 80px;
}
.bigcity-text {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 400px) {
  .bigcity-img {
    height: 50px;
  }
  .bigcity-text {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .promo-menu-container {
    padding: 10px;
  }
  .text-promo {
    left: 60px;
  }
  .promo {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 991px) and (min-width: 451px) {
  .promo {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text-promo {
    left: 70px;
  }
  .promo-box {
    padding-left: 0;
    padding: 10px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .promo-menu-container {
    padding: 30px;
  }
  .text-promo {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  .promo-menu-container {
    margin-left: 17%;
  }
}

.room-click-count {
  font-size: 14px;
  color: #777;
  text-align: left;
  margin-left: 15px;
}

/*select fancy*/

.filter-suggestion {
  margin-top: -11px;
  margin-bottom: -11px;
}

.filter-suggestion .select-fancy {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.4);
  text-align: left;
}

.filter-suggestion .select-fancy,
> * {
  cursor: pointer;
}

.filter-suggestion select {
  background: transparent;
  border: 0;
  outline: 0;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
  padding: 6px 0 6px 6px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  -webkit-appearance: none;
  -moz-appearance: radio-container;
  appearance: none;
}

.filter-suggestion select:active {
  border: none;
}

.filter-suggestion .select-fancy-noimage::after {
  content: '';
  width: 0;
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 4px;
  border-style: solid;
  pointer-events: none;
  border-color: #1baa56 transparent transparent transparent;
}

.filter-suggestion p {
  font-size: 12px;
  color: #1baa56;
  position: absolute;
  top: 8px;
  right: 8%;
  z-index: -1;
}

.filter-suggestion .caption-container {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #eee;
}

.filter-suggestion .select-container {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.pulsing-animation {
  box-shadow: 0 0 0 rgba(39, 171, 39, 1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(39, 171, 39, 1);
  }
  70% {
    box-shadow: 0 0 15px 6px rgba(39, 171, 39, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(39, 171, 39, 0);
  }
}

@media (max-width: 767px) {
  .filter-suggestion {
    margin-top: -21px;
  }
  .filter-suggestion .caption-container {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .price-slider {
    height: 90px;
    margin-top: 12px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .filter-suggestion {
    margin-top: -10px;
    margin-bottom: -14px;
  }
  .landing-title {
    padding: 10px 0 24px 10px;
  }
  .filter-suggestion .caption-container {
    border: none;
  }
}

.push-notif {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 15px;
  padding: 20px;
  background-color: #fff;
}
.push-notif:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.close-notif {
  text-align: right;
}
.push-notif .btn-close {
  font-size: 16px;
  cursor: pointer;
}
.push-notif-desc {
  text-align: center;
}
.push-notif .notif-title {
  font-weight: bold;
  font-size: 20px;
}
.push-notif .notif-title,
.push-notif .notif-subtitle {
  padding-bottom: 10px;
}

.field-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.field-price__separator {
  margin-left: 5px;
  margin-right: 5px;
}
.field-price input[type='number']::-webkit-inner-spin-button,
.field-price input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-price {
  margin-left: 5px;
}
.border-danger,
.border-danger:focus {
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a94442;
}

.ic-advanced-filter {
  height: 14px;
}
.btn-advanced-filter {
  margin-top: 20px;
  border-color: #fff;
  color: #1baa56;
  box-shadow: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.btn-advanced-filter:focus,
.btn-advanced-filter:hover,
.btn-advanced-filter:active:focus {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
  color: #1baa56;
}

.find-apartment-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.header-icon {
  height: 40px;
}
.find-apartment-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 55px;
}
.find-apartment-icon {
  height: 120px;
  border-radius: 1000px;
  margin-right: 10px;
}
.find-apartment-desc {
  margin-top: 10px;
}
.find-apartment-text {
  margin-bottom: 10px;
}
.find-apartment-text {
  font-weight: bold;
  font-size: 16px;
}
.btn-find-apartment {
  font-size: 16px;
}
.forum-gate {
  padding-top: 96px !important;
}

.forum-gate,
.kontrakan-user,
.find-apartment {
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 15px;
  background-color: #eafee7;
  height: 466px;
  padding: 10px;
}
.kontrakan-icon {
  height: 150px;
}
.kontrakan-desc {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 15px;
  margin-left: 15px;
}
.kontrakan-label {
  font-size: 18px;
}
.btn-kontrakan {
  margin-top: 15px;
}
.forum-gate .carousel .item {
  background-color: #eafee7;
  padding: 0 15px;
}
.forum-icon {
  height: 120px;
}
.forum-slider {
  height: 100px;
  margin-top: 5px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.quest-list {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  height: 5em;
}
.quest-list:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 2em;
  background: linear-gradient(
    to right,
    rgba(234, 254, 231, 0),
    rgba(234, 254, 231, 1) 50%
  );
}

@supports (-webkit-line-clamp: 2) {
  .quest-list {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 5em;
  }
  .quest-list: after {
    display: none;
  }
}

.btn-forum {
  font-weight: bold;
  margin: 10px;
}
.forum-title {
  font-size: 20px;
  font-weight: bold;
  color: #2f492b;
}
.forum-title .good-senior {
  color: #EC4A0C;
  font-style: italic;
}

/* PLACEHOLDERS */

.placeholder-wrapper {
  display: flex;
}

.placeholder-container {
  height: 310px;
  width: 100%;
}
.placeholder-photo {
  height: 175px;
  border-radius: 5px;
  background-color: #e2e6ea;
  margin: 25px;
}

.placeholder-text {
  height: 7px;
  background-color: #e2e6ea;
  border-radius: 5px;
  margin: 25px;
}

.placeholder-short {
  width: 70%;
}

.shine-me-to-the-moon {
  -webkit-animation-name: ShineAnimation;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
}

@-webkit-keyframes ShineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(
      top left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 45%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.5) 55%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 0) 100%
    );
    background-position: -300px -300px;
    background-size: 600px 600px;
  }
  to {
    background-repeat: no-repeat;
    background-position: 300px 300px;
  }
}

.category-intro-highlight {
  background-color: rgba(255, 255, 255, 0.5);
}

/* OSM STYLINGS */

.clean-text {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #fff;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
}

.premium-marker {
  position: absolute;
  padding: 5px 3px;
  margin: 1em 0 3em;
  background: #fff;
  width: 75px;
  top: -10px;
}
.premium-marker:before {
  content: '';
  position: absolute;
  bottom: -13px; /* value = - border-top-width - border-bottom-width */
  left: 23px; /* controls horizontal position */
  border-width: 12px 12px 0;
  border-style: solid;
  display: block;
  width: 0;
}
.premium-marker:after {
  content: '';
  position: absolute;
  bottom: -10px; /* value = - border-top-width - border-bottom-width */
  left: 25px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}
.premium-marker-mixed {
  border: 2px solid #9b59b6;
  color: #9b59b6;
}
.premium-marker-mixed:before {
  border-color: #9b59b6 transparent;
}
.premium-marker-male {
  border: 2px solid #3498db;
  color: #3498db;
}
.premium-marker-male:before {
  border-color: #3498db transparent;
}
.premium-marker-female {
  border: 2px solid #f26389;
  color: #f26389;
}
.premium-marker-female:before {
  border-color: #f26389 transparent;
}

.circle-base {
  opacity: 1 !important;
  border: 2px transparent solid;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  padding-left: 3.5px;
  color: #fff;
}

.circle-radius-3 {
  height: 30px;
  width: 30px;
  line-height: 15px;
}
.circle-radius-5 {
  height: 48px;
  width: 48px;
  line-height: 30px;
}
.circle-radius-7 {
  height: 60px;
  width: 60px;
  line-height: 46px;
}
.circle-radius-10 {
  height: 82px;
  width: 82px;
  line-height: 68px;
}

.circle-word-break {
  letter-spacing: 0px;
  font-size: 11px;
  white-space: normal;
  padding: 6px 1px 0px 1px;
  line-height: 0.9;
}
.circle-green {
  background-color: rgba(37, 171, 37, 0.6);
}
.circle-purple {
  background-color: rgba(155, 89, 182, 0.6);
}
.circle-blue {
  background-color: rgba(52, 152, 219, 0.6);
}
.circle-pink {
  background-color: rgba(242, 99, 137, 0.6);
}

.icon-premium {
  width: 20px;
}

.dropdown-suggestion__container {
  position: relative;
  width: 100%;
}
.dropdown-suggestion__body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0 0 15px 0;
}
.dropdown-suggestion__body > li {
  border-bottom: 1px solid #eee;
}
.dropdown-suggestion__body > li:last-child {
  border-bottom: none;
}
.dropdown-suggestion__body > li > a {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999 !important;
  padding: 5px 10px;
}
.dropdown-suggestion__body > li > a:hover {
  background-color: #fafafa;
}
.dropdown-suggestion__body .fa-map-marker {
  margin-right: 5px;
}
.dropdown-suggestion__title {
  color: #000 !important;
}
.dropdown-suggestion__area {
  font-size: smaller;
}
.icon-container {
  margin: 5px;
  margin-left: 12px;
}

/* Filter Mobile Overlay */

.filter-mobile-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  z-index: 1;

  color: #fff;
  background-color: #1baa56;

  font-weight: bold;
  font-size: 18px;

  border-radius: 0;
  border: none;
}

.filter-box {
  position: fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1102;
}

@media (min-width: 768px) {
  .filter-box {
    padding: 25px 50px;
  }
}

.filter-box .btn-close-filter {
  text-align: center;
  float: right;
  color: inherit;
  text-decoration: none;
}

.filter-box .btn-close-filter span {
  line-height: 30px;
}

.filter-box .btn-close-filter:hover {
  color: #000;
}

.filter-box .btn-close-filter:after {
  content: 'esc';
  display: block;
  text-align: center;
  font-weight: normal;
}

@media (max-width: 767px) {
  .filter-box .btn-close-filter {
    font-size: 40px;
    line-height: 0.9;
  }
  .filter-box .btn-close-filter:after {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .filter-box .btn-close-filter {
    font-size: 45px;
  }
  .filter-box .btn-close-filter:after {
    font-size: 16px;
  }
}

.filter-box .filter-title {
  font-size: 32px;
  margin-top: 45px;
  margin-bottom: 30px;
  font-weight: bold;
}

.filter-box .filter-title:after {
  content: '';
  display: block;
  width: 120px;
  height: 50%;
  border-bottom: 2px solid #1baa56;
  margin-top: 10px;
}

.filter-box label {
  margin-bottom: 5px;
}

.filter-box .female-icon {
  font-size: 10px;
  color: #f26389;
  padding-right: 2px;
  padding-left: 2px;
}

.filter-box .male-icon {
  font-size: 10px;
  color: #3498db;
  padding-right: 2px;
  padding-left: 2px;
}

.filter-box .mix-icon {
  font-size: 10px;
  color: #9b59b6;
  padding-right: 2px;
  padding-left: 2px;
}

.filter-box .btn-activate-filter {
  left: 0;
  height: 41px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0;
  border: none;
}

.filter-box .additional-filter-container {
  margin-top: 5px;
  padding-bottom: 70px;
}

/*NEW STYLING*/

.material-card-1 {
  box-shadow: none;
}

.material-card-1:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.sponsored {
  padding: 3px 34px 3px 10px;
  background-color: #4fac28;
  color: #fff;
  position: absolute;
  top: 216px;
  right: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100px;
  font-weight: bolder;
  font-size: 0.9em;
}

.love-by-me {
  float: right;
}

.love-by-me > a {
  background: url(/assets/icons/svg/ic_love_o.svg) no-repeat;
  width: 43px;
  height: 40px;
  display: block;
  position: relative;
  top: 12px;
  left: -10px;
}

.love-by-me > a:hover {
  background: url(/assets/icons/svg/ic_love_s.svg) no-repeat;
  width: 63px;
  height: 125px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
}

.love-by-me > a.set {
  background: url(/assets/icons/svg/ic_love_s.svg) no-repeat;
  width: 63px;
  height: 125px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
}

.love-by-me > a > img {
  width: 43px;
  margin: 10px;
}

span.sparator {
  font-weight: 700;
  color: #adadad;
}

.room-online {
  margin-right: 5px;
}

span.sparator.apartment-sparator {
  font-weight: 700;
  color: #adadad;
  margin-right: 4px;
}

.kost-detail-two {
  width: 100%;
  display: block;
  height: 20px;
  padding: 0px 12px;
  margin-top: -1px;
  margin-bottom: 13px;
}

.kost-detail-two img {
  width: 10px;
}

.kost-detail-two > ul {
  margin: 0px;
}

.kost-detail-two > ul > li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.kost-detail-two > ul > li.rating {
  color: darkgrey;
  line-height: 24px;
}

.kost-detail-two > ul > li.rating > img {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.kost-detail-two > ul > li.history {
  color: #00bc25;
  line-height: 23px;
  max-width: 192px;
  width: 57%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.kost-detail-two > ul {
  padding: 0px;
}

.detail-price-kost {
  padding: 0px 12px;
  clear: both;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.detail-price-kost > .price > .available-room {
  font-size: 0.7em;
  color: #00bc25;
  margin-left: 10px;
}

.detail-price-kost > .price > .available-room.green {
  color: #00bc25;
}

.detail-price-kost > .price > .available-room.black {
  color: #626262;
}

.detail-price-kost > .price > .available-room.red {
  color: #dc1717;
}

.detail-price-kost > .price {
  font-size: 1.5em;
  color: #757575;
}

.detail-price-kost > .price > .rent-unit::after {
  content: '.';
  position: absolute;
  color: #909090;
  top: -7px;
  right: -6px;
  font-size: 1.3em;
}

.detail-price-kost > .price > .rent-unit.apartment-unit::after {
  content: '';
}

.detail-price-kost > .price > .rent-unit {
  font-size: 0.8em;
  position: relative;
}

.mami-room-promo {
  padding: 1px 4px 1px 4px;
  border: 1px solid;
  font-size: 0.8em;
  border-radius: 6px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  right: 11px;
  top: 5px;
}

.area-label {
  position: relative;
  top: 2.2px;
  color: #616161;
  font-weight: 600;
  letter-spacing: 0.2px;
  width: 177px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1em;
}

.area-label.apartment-label {
  position: relative;
  top: 2.2px;
  color: #616161;
  font-weight: 600;
  letter-spacing: 0.2px;
  width: 204px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.full {
  width: calc(100% - 72px);
}

.full-apartment {
  width: 266px;
}

.wrap-content {
  margin: 0 auto;
  padding-top: 19px;
  max-width: 321px;
  letter-spacing: 0.1px;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kost-list-container {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  min-height: 448px;
}
.kost-zero {
  font-size: 24px;
  font-weight: bold;
  color: #006634;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.kost-photo {
  background-size: cover;
  background-position: center;
  height: 250px;
}
.kost-photo .kost-icon-bar {
  overflow: auto;
  overflow-y: hidden;
}
.kost-photo .kost-icon-bar .kost-icon-container-left {
  display: inline-block;
  float: left;
  padding: 3px;
}
.kost-photo .kost-icon-bar .kost-icon-container-left img {
  width: 22px;
}
.kost-photo .kost-icon-bar .kost-icon-container-right {
  display: inline-block;
  float: right;
  padding: 3px;
}
.kost-photo.fade {
  opacity: 0.5;
}

.kost-photo .room-promo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: relative;
  background-color: #fff;
  border-radius: 3px;
  border: 2px #1baa56 solid;
  margin-top: 4px;
  margin-left: 32px;
  width: 120px;
}

.kost-photo .room-promo .promo-ic-container {
  background-color: #1baa56;
  padding: 4px;
}

.kost-photo .room-promo .promo-caption-container {
  color: #1baa56;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
}
.kost-photo .promo-icon {
  width: 19px;
  height: 19px;
}

.kost-info {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.kost-info .kost-info-container {
  padding: 3px 0;
  width: 50%;
  display: inline-block;
}
.kost-info .kost-info-container.kost-status {
  background-color: #1baa56;
  color: white;
  float: left;
}
.kost-info .kost-info-container.kost-status-full {
  background-color: #7d7d7d;
  color: white;
  float: left;
}
.kost-info .kost-info-container.kost-price {
  color: #1baa56;
}

.kost-detail {
  font-size: 1.1em;
  padding: 0px 5px 0px 5px;
  margin-bottom: 4px;
  position: relative;
  margin-top: 18px;
}

.kost-tag {
  display: inline-block;
  color: #000;
  border-radius: 5px;
  padding: 2px 5px;
  padding-right: 0px;
  margin: 0 3px;
  float: left;
  position: relative;
  margin-right: 4px;
  font-size: 1.1em;
}

.area-label::before {
  content: '.';
  position: absolute;
  color: #909090;
  top: -6px;
  right: -5px;
  font-size: 20px;
}

.kost-tag-gender-male {
  color: #3498db;
  font-weight: 600;
}

.kost-tag-gender-female {
  color: #f26389;
  font-weight: 600;
}

.kost-tag-gender-mixed {
  color: #9b59b6;
  font-weight: 600;
}

.kost-booking-container {
  display: inline-block;
}
.kost-booking-container .kost-booking-icon {
  display: inline-block;
}
.kost-booking-container .kost-booking-icon .kost-booking-icon-image {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.kost-booking-container .kost-booking-label {
  display: inline-block;
  color: #1baa56;
  text-transform: uppercase;
  font-weight: 700;
}

.kost-title {
  text-transform: capitalize;
  padding: 0 12px;
  font-weight: 500;
  font-size: 1.3em;
  color: #929292;
  margin-bottom: 4px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.apartment-title {
  text-transform: capitalize;
  padding: 0 12px;
  font-weight: 500;
  font-size: 1.3em;
  color: #929292;
  margin-bottom: 4px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.kost-detail-secondary {
  font-size: 14px;
  color: #777;
  text-align: left;
  padding: 0 10px;
}

.kost-premium-container {
  display: inline-block;
  margin-left: 3px;
}
.kost-premium-container .kost-premium-icon {
  display: inline-block;
}
.kost-premium-container .kost-premium-icon .kost-premium-icon-image {
  height: 18px;
  width: 18px;
  margin-top: -4px;
}
.kost-premium-container .kost-premium-label {
  display: inline-block;
  color: #e0af50;
  text-transform: uppercase;
  font-weight: 700;
}

.kost-review {
  padding: 10px 10px 15px 10px;
  height: 45px;
}
.kost-review-container {
  display: inline-block;
  width: 60%;
}
.kost-review-icon {
  display: inline-block;
  color: #1baa56;
}
.kost-review-caption {
  display: inline-block;
}
.kost-booking {
  display: inline-block;
  width: 40%;
  text-align: right;
  color: #1baa56;
  font-weight: bold;
  text-transform: capitalize;
  float: right;
}

.unit-icons {
  padding: 0px;
  margin-top: 4px;
}

.apart-detail {
  margin-top: 10px !important;
}

.unit-icon-container {
  display: inline-block;
  padding-right: 10px;
}
.unit-icon-container .unit-icon {
  display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
  height: 24px;
  width: 24px;
}
.unit-icon-container .unit-icon-label {
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}

.icon-container {
  margin-top: 9px;
}
.icon-facility {
  height: 24px;
  margin-right: 9px;
}

/*reduced font size in smol screens*/

@media (max-width: 320px) {
}

@media (max-width: 1199px) and (min-width: 992px) {
}

/*remove padding on smol screens*/
@media (max-width: 767px) {
  .no-padding-xs {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-related-grid {
  min-width: 300px;
  max-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}

.list-related-grid.--related-landing {
  min-width: 200px;
}
.list-related-grid.--related-landing > .kost-list-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  cursor: default;
}

.list-related-grid.--related-landing > .kost-list-container > .fa {
  color: #1baa56;
  font-size: 60px;
  margin-bottom: 5px;
  cursor: pointer;
}
.list-related-grid.--related-landing > .kost-list-container > a {
  color: #1baa56;
  font-size: 20px;
}

.apartment-tag {
  color: #01921d;
  font-weight: 600;
}

@media (min-width: 992px) {
  .col-md-offset-5 {
    margin-left: 33.666667% !important;
  }
}

.landing-list {
  padding-top: 0px !important;
}

/*FULL PHOTO KOST OR APARTMENT*/
@media (max-width: 767px) {
  .room-photo {
    width: 100%;
    position: relative;
  }

  .room-container {
    height: 449px;
  }

  .room-container:hover {
    box-shadow: none;
  }
}

.area-promo {
  max-width: 167px;
}

.area-promo-apart {
  max-width: 139px;
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .area-promo {
    max-width: 121px;
  }

  .unit-tag-label {
    max-width: 85px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1186px) {
  .area-promo-apart {
    max-width: calc(39% - 5px);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1151px) {
  .col-md-7.container-list {
    width: 69.333333% !important;
  }

  .col-md-5.map-container {
    width: 30.666667% !important;
  }

  .map-container {
    right: 0;
  }

  .col-md-push-7.map-container {
    left: auto;
  }
}
