body {
	font-family: 'Lato', sans-serif;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

[v-cloak] {
	display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: #1baa56;
	text-decoration: none;
}
a:focus,
a:hover {
	color: #1baa56;
}

h5 {
	font-size: 16px;
}

/*  .p0 {
padding-right: 0;
padding-left: 0;
}*/
.d-inline {
	display: inline;
}
.d-block {
	display: block;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.input-none {
	display: none;
}
.closemodal {
	position: absolute;
	top: -3px;
	right: 4px;
	opacity: 1;
	z-index: 3;
	background-color: #eee;
	color: #1baa56;
	width: 35px;
	height: 35px;
	border-radius: 21px;
	opacity: 1;
	border: 7px solid #1baa56;
}

/*Banner*/
.banner-section {
	background-color: #33cc33;
	border-color: #33cc33;
	z-index: 1050;
}
.banner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.banner-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.banner-content > .content-close {
	font-size: 20px;
	color: #807e78;
}
.banner-app {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.banner-app > p {
	color: #fff;
	margin: 0;
}
.banner-app > .app-star {
	color: #ffd200;
}
.banner-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	color: #fff;
}
.banner-button > label {
	background: transparent;
	font-weight: normal;
	border: 1px solid #fff;
	margin: 0;
	padding: 6px 16px;
	border-radius: 4px;
}

/*Navbar*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	height: 54px;
}
.navbar-new {
	background-color: #1baa56;
	border-color: #1baa56;
	z-index: 1000;
}
@media (max-width: 767px) {
	.navbar-new {
		top: 54px;
	}
}
.navbar-mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navbar-toggle {
	border-color: #fff;
	margin-left: 15px;
	margin-right: 15px;
}
.navbar-toggle > .icon-bar {
	background-color: #fff;
}
.navbar-toggle > .glyphicon-search {
	color: #fff;
	font-size: 16px;
	width: 22px;
}
.toggle-search {
	padding-top: 7px;
	padding-bottom: 7px;
}
#mamikosNavbarLeft,
#mamikosNavbarRight {
	background-color: #1baa56;
}
@media (max-width: 767px) {
	.navbar-logo {
		padding: 5px 0;
	}
	.navbar-app {
		padding: 5px 15px 0 0;
	}
}
@media (min-width: 768px) {
	.navbar-logo {
		padding-top: 5px;
		padding-bottom: 0;
	}
}
@media (max-width: 1199px) {
	.navbar-select {
		padding-top: 5px;
		padding-bottom: 6px;
		color: #1baa56;
		width: 104px;
		height: 34px !important;
	}
}
@media (min-width: 1200px) {
	.navbar-select {
		padding-top: 5px;
		padding-bottom: 6px;
		color: #1baa56;
		height: 34px !important;
	}
}
.navbar-search {
	padding-right: 0;
	padding-left: 0;
}
.navbar-select:focus,
.navbar-select:hover,
.navbar-select:active {
	color: #1baa56;
}
@media (max-width: 1199px) {
	.navbar-search > .form-group > .input-group > input {
		width: 264px;
	}
}
@media (min-width: 1200px) {
	.navbar-search > .form-group > .input-group > input {
		width: 374px;
	}
}
.input-group-addon {
	background-color: #fff;
	color: #1baa56;
}
.input-group-addon:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}
.navbar-promotion {
	background-image: url('/assets/home-desktop/mamikos-promosi.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.navbar-promotion > a {
	color: #1baa56 !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	background-color: transparent;
	border-color: #fff;
}
.nav > li > a {
	color: #fff;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
	background-color: transparent;
	color: #fff;
	border-bottom: 3px solid #fff;
	cursor: pointer;
}
.navbar-promotion > a {
	color: #1baa56;
}
#dropdownUser,
#dropdownOwner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #1baa56;
}
@media (max-width: 767px) {
	.dropdown-menu > li > a {
		color: #fff;
	}
	.dropdown-menu > li > a:focus,
	.dropdown-menu > li > a:hover {
		color: #1baa56;
		background-color: #fff;
	}
}
.user-photo,
.owner-photo {
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}
.user-name,
.owner-name {
	padding-right: 5px;
	padding-left: 5px;
}

@media (max-width: 767px) {
	.ownerpage-container {
		margin-top: 108px;
		padding-bottom: 30px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.ownerpage-container {
		margin-top: 54px;
	}
}
@media (min-width: 992px) {
	.ownerpage-container {
		margin-top: 0;
	}
}

/** Title **/
.titleh1 {
	font-size: 25px;
	margin-bottom: 5px;
	margin-top: 15px;
	font-weight: bold;
}
.titleh2 {
	font-size: 18px;
	margin-top: 0px;
	padding-left: 2px;
}
.titleh3 {
	font-size: 15px !important;
	margin-top: 0px;
	padding-left: 2px;
}
.h2,
h2 {
	font-size: 20px;
	font-weight: 600;
}
.h3,
h3 {
	font-size: 20px;
	font-weight: 600;
}

.img-room {
	margin: 0;
	width: 100%;
	height: 200px;
	background-color: #eeeeee;
	border: 1px solid #d1d1d1;
	background-size: cover;
	border-bottom: 0px;
	background-position: center;
	background-repeat: no-repeat;
}

.btn-orange {
	background-color: #ec4a0c !important;
	color: #fff !important;
}
.text-green {
	color: #1baa56 !important;
}

#text {
	z-index: 100;
	position: absolute;
	color: white;
	background-color: rgba(60, 63, 64, 0.9);
	font-size: large;
	font-weight: normal;
	left: 1px;
	bottom: -10px;
	padding: 2px 15px;
}
.listing {
	z-index: 99;
	padding: 0px 0px;
}
.roomDetail {
	background-color: white;
	border: 1px solid #d1d1d1;
	height: 200px;
	padding-top: 15px;
	padding-left: 15px;
}
.labelMinRent {
	/*margin-top: 110px;*/
	background-color: #35b5a9;
	color: white;
	/*position: absolute;
bottom: 35px;
right:110px;*/
	border-radius: 3px;
	font-size: small;
	padding: 2px 10px;
	text-align: center;
	/*width:90px;*/
}
.labelStatusOne {
	text-align: center;
	color: white;
	background-color: red;
	font-size: large;
	font-weight: normal;
}
.labelStatusMore {
	text-align: center;
	color: white;
	background-color: #1baa56;
	font-size: large;
	font-weight: normal;
}
.labelMale {
	/*margin-top: 110px;*/
	background-color: #3498db;
	color: white;
	/*position: absolute;
bottom: 35px;
right:10px;*/
	border-radius: 3px;
	font-size: small;
	padding: 2px 15px;
	/*width:90px;*/
	text-align: center;
}
.labelFemale {
	/*margin-top: 110px;*/
	background-color: #f26389;
	color: white;
	/*position: absolute;
bottom: 35px;
right:10px;*/
	border-radius: 3px;
	font-size: small;
	padding: 2px 15px;
	/*width: 90px;*/
	text-align: center;
}
.labelMix {
	background-color: #9b59b6;
	color: white;
	border-radius: 3px;
	font-size: small;
	padding: 2px 12px;
	text-align: center;
}
.labelCall {
	background-color: white;
	color: #00994a;
	border-radius: 0px;
	font-size: smaller;
	padding: 5px 7px;
	text-align: center;
	border: 1px solid #1baa56;
}
.labelCall2 {
	background-color: #1baa56;
	color: white;
	border-radius: 0px;
	font-size: smaller;
	padding: 5px 7px;
	text-align: center;
	border: 1px solid #1baa56;
}
.priceDetail {
	float: right;
	font-size: medium;
	font-weight: bold;
	color: #545454;
}
.roomTitle {
	font-size: medium;
	font-weight: bold;
	color: #545454;
}
.roomAddress {
	color: #888888;
	font-size: smaller;
}
.position {
	position: absolute;
	bottom: 28px;
	left: 0px;
	color: #c3c3c3;
}
.tambahkanKos {
	top: 25px;
	padding: 5px 15px;
	border: 1px solid white;
	color: white;
	float: right;
	cursor: pointer;
}
.tambahkanKos:hover {
	border-bottom: 3px solid #1baa56;
}
.logo {
	width: 70px;
}
.foot1 {
	font-size: 25px;
	font-weight: bold;
}
.foot2 {
	font-size: 18px;
}
.foot3 {
	top: 25px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	float: none;
	position: initial;
	font-size: 18px;
	padding: 10px;
}
.roomCount {
	padding-left: 15px;
	font-size: medium;
	font-weight: bold;
	color: #006634;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 15px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.see-map {
	float: right;
	cursor: pointer;
}
.desc {
	font-size: 15px;
}
@media (min-width: 300px) and (max-width: 380px) {
	.populartag {
		text-align: center;
	}
	.roomTitle {
		font-size: 12px !important;
		font-weight: bold;
	}
	.icon-feature {
		font-size: 12px;
		padding: 0px 20px 0px 0px;
	}
	.min-rent-flex {
		-webkit-box-flex: 2 !important;
		-ms-flex: 2 !important;
		flex: 2 !important;
	}
	.jobs-about-button {
		font-size: 11px !important;
	}
}
@media (min-width: 1024px) {
	.populartag {
		text-align: left;
	}
	.bannerOff {
		margin-top: 15px;
	}
	.bannerinstall {
		margin-top: 124px;
	}
	.bannerOn {
		margin-top: 15px;
	}
	.icon-feature {
		padding: 0px 20px 0px 0px;
	}
}
@media (min-width: 599px) and (max-width: 1023px) {
	.populartag {
		text-align: center;
	}
	.bannerOn {
		margin-top: 15px !important;
	}
	.bannerOff {
		margin-top: 15px !important;
	}
	.bannerinstall {
		margin-top: 0px;
	}
	.navbarTop {
		padding: 0px;
	}
	.title {
		padding-left: 50px;
	}
	.labelMinRent {
		font-size: 12px;
		right: 100px;
	}
	.navRight {
		top: 35px;
	}
	.listing {
		padding: 0px;
	}
	.navRightSearch {
		top: 25px;
	}
	#text,
	.roomTitle,
	.priceDetail {
		font-size: 15px;
	}

	.menuText {
		font-size: 11px;
	}

	.promosi-kost {
		padding: 13px 50px;
	}

	.labelFemale,
	.labelMale,
	.labelMix {
		font-size: 12px;
		width: 80px;
	}
}

@media (max-width: 599px) {
	.navbarTop {
		padding: 0px;
	}
	.bannerOn {
		margin-top: 15px !important;
	}
	.bannerOff {
		margin-top: 15px !important;
	}
	.bannerinstall {
		margin-top: 0px;
	}
	.navRightSearch {
		top: 14px;
		right: 0px;
	}
	.navRightAdd {
		right: 0px;
		top: 22px;
	}
	.navLogo {
		padding-left: 5px;
		padding-top: 18px;
	}
	.listing {
		padding: 0px;
	}
	.titleh1 {
		font-size: 25px;
		font-weight: bold;
	}
	.titleh2 {
		font-size: 18px;
		margin-top: 1px;
		padding-left: 0px;
	}
	.logo {
		width: 70px;
	}
	#text {
		font-size: 15px;
		left: 0px;
	}
	.priceDetail,
	.menuText {
		font-size: 10px;
	}
	.roomTitle {
		font-size: 15px;
	}
	.labelMale {
		font-size: 10px;
		width: 50px;
		padding: 2px 8px;
		bottom: 30px;
		right: 0px;
	}
	.labelMinRent {
		font-size: 10px;
	}
	.labelFemale {
		font-size: 10px;
		width: 45px;
		padding: 2px 8px;
		bottom: 30px;
		right: 0px;
	}
	.labelMix {
		font-size: 10px;
		width: 58px;
		padding: 2px 8px;
		bottom: 30px;
		right: 0px;
	}
	.labelMinRent {
		font-size: 10px;
		width: 62px;
		padding: 2px 8px;
		bottom: 30px;
		right: 60px;
	}
	.listing {
		margin-top: 0px;
	}
	.foot1,
	.foot3 {
		font-size: 15px;
	}
	.foot2 {
		font-size: 12px;
	}
	.roomCount {
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		color: #006634;
	}
}
@media (max-width: 320px) {
	.navRightAdd {
		right: 0px;
		top: 18px;
		padding-right: 10px;
	}
	.navRightSearch {
		top: 14px;
		left: 5px;
	}
	.bannerinstall {
		margin-top: 0px;
	}
	.bannerOn {
		margin-top: 15px;
	}
	.bannerOff {
		margin-top: 15px;
	}
}

.bannerinstall {
	height: 75px;
	position: fixed;
	left: 0px;
	right: 0px;
}
.bannercontent {
	position: absolute;
	left: 0px;
	right: 0px;
	margin-top: 0px;
}
.bannernone {
	display: none;
	height: 0px;
}
.urllanding {
	cursor: pointer;
	font-size: 12px;
}
.urllanding:hover {
	font-weight: bold;
}
.urllandingArea {
	cursor: pointer;
	font-size: 13px;
}
.urllandingArea:hover {
	font-weight: bold;
}
.urlactive:hover {
	font-weight: bold;
	color: green;
}
.left-title {
	text-align: center;
	background-color: #006634;
	padding: 5px;
	color: white;
	font-size: 20px;
}
.left-box {
	border: 1px solid whitesmoke;
}
.form-search {
	margin-top: 5px;
	border-color: #46bc46;
}
.form_search {
	position: relative;
	padding: 0px 0px 10px 0px;
}
.button-search {
	height: 45px;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 5%;
	width: 45px;
	padding: 0px 0px;
	font-size: 20px;
	border-radius: 40px;
	background: #1baa56;
	border: none;
	box-sizing: border-box;
	color: #ffffff;
}
.form_search input[type='search'] {
	width: 100%;
	margin-right: -40px;
	padding: 0px 20px;
	font-size: 15px;
	border: none;
	border-right: none;
	border-radius: 40px;
	box-sizing: border-box;
}
.breadcrumblg {
	font-size: 15px;
	font-weight: bold;
	color: #006634;
	margin-bottom: 15px;
	padding: 0px;
}
.advFilter {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	color: #cccccc;
	padding: 10px;
	padding-left: 15px;
	border-radius: 0px;
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
}
.dispInit {
	display: initial;
}
.dispNone {
	display: none;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
	color: #ffffff !important;
	background-color: #00994a !important;
	border-color: whitesmoke !important;
}
.content-button {
	padding: 0px;
}
.content {
	border-radius: 5px;
	border-color: whitesmoke;
}
.form-control {
	margin-bottom: 10px;
}
.control-label {
	font-size: 16px;
	margin-bottom: 0px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 5px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-radius: 5px;
}
.pac-container {
	z-index: 10000;
}
.button-search {
	height: 45px;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 5%;
	width: 45px;
	padding: 0px 0px;
	font-size: 20px;
	border-radius: 40px;
	background: #1baa56;
	border: none;
	box-sizing: border-box;
	color: #ffffff;
}
.form_search input[type='search'] {
	width: 100%;
	margin-right: -40px;
	padding: 0px 20px;
	font-size: 15px;
	border: none;
	border-right: none;
	border-radius: 40px;
	box-sizing: border-box;
}
.breadcrumblg {
	font-size: 15px;
	font-weight: bold;
	color: #006634;
	margin-bottom: 15px;
	padding: 0px;
}
.dispInit {
	display: initial;
}
.dispNone {
	display: none;
}
.activebutton,
.activebutton:active,
.activebutton:hover,
.activebutton:focus,
.activebutton:active:focus,
.activebutton:active:hover {
	color: #ffffff !important;
	background-color: #00994a !important;
	border-color: whitesmoke !important;
}
.content-button {
	padding: 0px;
}
.content {
	border-radius: 5px;
	border-color: whitesmoke;
}
.form-control {
	margin-bottom: 10px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 5px;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-radius: 5px;
}
.filter-icon-up {
	position: inherit;
	top: 1px;
}
.filter-icon-down {
	position: inherit;
	top: 2px;
}
/**Bread Crumb**/
.breadcrumbdiv {
	margin-top: 80px;
}
@media (max-width: 1024px) {
	.breadcrumbdiv {
		margin-top: 20px;
	}
}
.jobsabout {
	padding: 12px 15px;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}
.list-landing {
	/*border:1px solid #D1D1D1;*/
	margin-top: 10px;
}
.layerFull {
	background-color: rgba(70, 70, 70, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.textFull {
	background-color: gray;
	padding: 5px 15px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	top: 30%;
	right: 30%;
	left: 30%;
	border-radius: 5px;
}
a:focus {
	outline: -webkit-focus-ring-color auto 0px;
}
.text-modal-download-love {
	color: green;
	padding-top: 20px;
	font-weight: bold;
	font-size: 18;
}
.text-modal-download-call {
	color: green;
	padding-top: 20px;
	font-size: 15px;
	padding-bottom: 10px;
}
.icon-feature {
	display: inline-block;
	padding: 0px 20px 0px 0px;
}
.img-room:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.img-room:hover:after {
	opacity: 1;
}
#btnfac {
	background-color: #cecece;
}
.label-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0px;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.min-rent-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-right: 10px;
	margin-left: 10px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/* height: 80%; */
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.flex1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.city-jabodetabek {
	padding: 10px 10px;
}
.link-mamikos {
	background-color: #2d2d2d;
	color: white;
	text-align: center;
	border-top: 2px solid whitesmoke;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.desc_2 {
	font-size: 15px;
}
.desc_2 h3 {
	font-size: 18px;
}
.desc_2 ul {
	padding-left: 15px;
}
.desc_2 ul li {
	font-size: 15px;
}
.desc_1 h3 {
	font-size: 18px;
	text-align: justify;
	line-height: inherit;
}

.desc_1 p,
.desc_1 div {
	font-size: 15px;
	text-align: justify;
	line-height: 15px;
}

/** Footer **/
.advertisement-app {
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
.advertisement-title {
	text-align: left;
	font-size: 40px;
	color: #009b4c;
	font-weight: bold;
}
.advertisement-subtitle {
	text-align: left;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.advertisement-download {
	text-align: left;
}
.footer-desktop {
	text-align: center;
	padding: 50px 15px;
	background-color: white;
	color: #2d2d2d;
	border-bottom: 2px solid #f5f5f5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.footer-info > a {
	color: #333;
}
.footer-page {
	padding: 0px;
	background-color: white;
	color: black;
	text-align: center;
}
.footer-title {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
	padding: 0px;
}
.footer-about {
	font-size: 18px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #eeeeee;
	border-left: 0px;
	border-right: 0px;
	color: #888888;
	text-align: center;
}
.footer-about-text {
	padding: 20px;
	color: #888888;
	text-align: justify;
}
.footer-info-text {
	text-align: left;
	margin-bottom: 30px;
	color: #888888;
	padding: 20px;
}
.footer-jobs {
	padding: 20px;
	background-color: white;
	color: white;
	text-align: center;
}
.jobs-about-button {
	color: #009b4c;
	font-size: 15px;
	border: 1px solid #009b4c;
	padding: 10px;
	text-align: center;
}
.jobs-about-button:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.jobs-about-button:hover:after {
	opacity: 1;
}
.footer-social {
	padding: 20px 0px;
	background-color: white;
	color: #2d2d2d;
	text-align: center;
}

/**Title Recommendation**/
.recommendation-kost {
	font-size: 20px;
	font-weight: bold;
}
.recommendation-city {
	font-size: 20px;
	font-weight: bold;
	color: #1baa56;
}

@media (min-width: 768px) {
	.recommendation-kost {
		font-size: 35px;
		font-weight: bold;
	}
	.recommendation-city {
		font-size: 35px;
		font-weight: bold;
		color: #1baa56;
	}
}

/** Big City **/
.img-city {
	margin: 0;
	height: 380px;
	background-color: white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.img-bigcity {
	height: 100px;
	position: absolute;
	margin: auto;
	top: -20px;
	left: 0;
	right: 0;
	bottom: 0;
}
.text-bigcity {
	position: absolute;
	bottom: 15px;
	right: 0;
	left: 0;
	font-size: 15px;
	font-weight: bold;
	color: black;
}
.bigcity-box {
	border: 1px solid #c1c1c1;
	padding: 0px;
	cursor: pointer;
	height: 200px;
	margin-top: 20px;
}
.bigcity-box:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.bigcity-box:hover:after {
	opacity: 1;
}
.bigCity-title {
	text-align: center !important;
}
.bigCity-title {
	background-size: cover;
	opacity: 0.9;
	color: white;
	background-attachment: inherit;
	margin-top: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}
.bottom {
	margin-bottom: 100px;
}
#text-bigCity {
	z-index: 100;
	position: absolute;
	color: white;
	width: 100%;
	background-color: #1baa56;
	font-size: 18px;
	font-weight: normal;
	bottom: 35%;
	padding: 5px;
}

/** Map **/
.mapstyle {
	width: 100%;
	height: 100%;
}
.labels {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	text-align: center;
	width: 40px;
	border: none;
	white-space: nowrap;
}

/** Rekomendasi dan Favorit (recommendation and favorite) **/
.recommendation-button {
	color: rgb(255, 255, 255);
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	padding: 10px 0px;
	width: 20%;
	margin-left: 20%;
	background-color: rgb(39, 171, 39);
	margin-top: 20px;
}
.adv-filter-button {
	color: #949494;
	text-align: center;
	border: 1px solid #cccccc;
	padding: 10px 0px;
	margin-top: 20px;
}

/*Modal Pin Saldo*/
.form-control-input-saldo {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out 0.15s,
		box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.modal-pin-saldo-title-top {
	font-weight: bold;
	padding: 0;
	color: #000;
	margin-top: 0;
	margin-bottom: 5px;
}
.modal-pin-saldo-name {
	margin-top: 0;
	margin-bottom: 15px;
	color: #7f7f7f;
}
.modal-pin-saldo-input {
	font-size: 27px;
	color: #1baa56;
	text-align: center;
	margin-bottom: 10px;
}
.modal-pin-saldo-decr {
	color: hsla(149, 95%, 23%, 1);
	cursor: pointer;
	font-size: 24px;
	padding: 0;
	margin-top: 5px;
}
.modal-pin-saldo-decr-dis {
	color: #cacfd2;
	cursor: pointer;
	font-size: 24px;
	padding: 0;
	margin-top: 5px;
}
.modal-pin-saldo-incr {
	color: hsla(149, 95%, 23%, 1);
	cursor: pointer;
	font-size: 24px;
	padding: 0;
	margin-top: 5px;
}
.modal-pin-saldo-incr-dis {
	color: #cacfd2;
	cursor: pointer;
	font-size: 24px;
	padding: 0;
	margin-top: 5px;
}
.modal-pin-saldo-text {
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.modal-pin-saldo-text-notif {
	color: #ed2024;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.modal-pin-saldo-text-a {
	text-align: center;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}
.modal-pin-saldo-text-b {
	color: #1baa56;
	text-align: center;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}
.modal-pin-saldo-text-b-notif {
	color: #ed2024;
	text-align: center;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}
.modal-pin-saldo-title-bottom {
	font-weight: bold;
	padding: 0;
	color: #000;
	margin-top: 0;
	margin-bottom: 10px;
}
.modal-pin-saldo-total {
	font-weight: normal;
	font-size: 27px;
	padding: 0;
	color: #1baa56;
	margin-top: 0;
	margin-bottom: 25px;
}
.modal-pin-saldo-total-notif {
	font-weight: normal;
	font-size: 27px;
	padding: 0;
	color: #ed2024;
	margin-top: 0;
	margin-bottom: 25px;
}
.modal-pin-saldo-ok {
	width: 208px;
	background: hsla(149, 95%, 23%, 1);
	font-size: 18px;
	border: 1px solid hsla(149, 95%, 23%, 1);
	color: #fff;
	padding: 7px 0 7px 0;
	margin-bottom: 20px;
}
.modal-pin-saldo-ok-notif {
	width: 208px;
	background: hsla(149, 95%, 23%, 1);
	font-size: 18px;
	border: 1px solid hsla(149, 95%, 23%, 1);
	color: #fff;
	padding: 7px 0 7px 0;
	margin-bottom: 20px;
	cursor: not-allowed;
}
.modal-pin-saldo-cancel {
	width: 208px;
	background: #fff;
	border: 1px solid hsla(149, 95%, 23%, 1);
	font-size: 18px;
	color: hsla(149, 95%, 23%, 1);
	padding: 7px 0 7px 0;
	margin-bottom: 20px;
}
.modal-pin-saldo-plus {
	width: 208px;
	background: #ec4a0c;
	border: 1px solid #ec4a0c;
	font-size: 18px;
	color: #fff;
	padding: 7px 0 7px 0;
}

/** Modal Update Data **/
.modal-body {
	text-align: center;
}
.modal-content {
	border-radius: 4px;
	border: 1px solid #1baa56;
}
.modal-dialog {
	width: 300px;
}
.modal-title.login-title {
	text-align: center;
	color: #1baa56;
	font-weight: bold;
	padding-bottom: 20px;
}
.login-description {
	color: #3e5168;
	padding-top: 20px;
}
.photo-modal {
	height: 120px;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0px;
	font-size: 16px;
}
.submit-button {
	width: 75%;
	margin: 20px auto auto;
	background-color: hsla(149, 95%, 23%, 1);
	color: white;
	margin-top: 10px;
	padding: 7px 15px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

.modal-owner p {
	font-size: 16px;
}
.modal-owner .modal-content {
	min-height: 270px;
}
.modal-owner .modal-header {
	background-color: #1baa56;
	color: #fff;
}
.modal-owner .modal-header,
.modal-owner .modal-footer {
	border: none;
	text-align: center;
}
.modal-owner .form-control {
	text-align: center;
	font-size: 16px;
}
.modal-owner .btn {
	font-weight: bold;
	font-size: 16px;
}

.p0 {
	padding: 0px;
}
.m0 {
	margin: 0px;
}
.b0 {
	background: transparent;
}
.pointer {
	cursor: pointer;
}
.tab-recommendation > a {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	background-color: #cccccc;
}
.tab-recommendation.active > a {
	border-bottom: 5px solid green;
	color: green;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	text-align: center;
	background-color: #f1f1f1;
	color: #009b4c;
	font-weight: bold;
	border: 0px;
	border-radius: 0px;
	padding: 20px;
	border-bottom: 4px solid #009b4c;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
	text-align: center;
	padding: 20px;
	color: #3e5168;
}
.nav-tabs > li {
	padding: 0px;
	text-align: center;
	background-color: #f1f1f1;
	color: #3e5168;
	font-weight: bold;
	border: 0px;
	border-radius: 0px;
}
.room-data {
}
.room-recfav-info {
	height: 126px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: left;
	font-size: 17px;
	font-weight: bold;
}
.open-room-owner {
	height: 125px;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.photo-recfav {
	height: 100px;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0px;
	font-size: 16px;
}
.photo-recfav-owner {
	height: 180px;
	background-position: center !important;
	background-size: cover !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0px;
	font-size: 16px;
}
.photo-recfav.full {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}
.room-recfav-div {
	border: 1px solid #999;
	margin-bottom: 10px;
}
/* if no more room left */
.label-full {
	vertical-align: middle;
	width: 100%;
	text-align: center;
	background: rgb(137, 137, 137) none repeat scroll 0% 0%;
	padding: 5px;
	color: #424242;
	font-weight: bold;
	font-size: 18px;
}
/* if one room left */
.label-one-left {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	background: red none repeat scroll 0% 0%;
	padding: 5px;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
/* if more than one room left */
.label-more-left {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	background: #ff7701 none repeat scroll 0% 0%;
	padding: 5px;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
.title-recfav {
	font-size: 15px;
}
.label-minimal-rent {
	color: #1baa56;
}
.labelFemale.label-gender-recfav,
.labelMale.label-gender-recfav,
.labelMix.label-gender-recfav {
	font-size: 15px !important;
	width: 75px;
}
.breadcrumbdiv.breadcrumb-recfav {
	margin-top: 15px;
	margin-bottom: 15px;
}

.room-data.unverified .status-kost,
.room-data.unverified .status-kost-mobile {
	background: #fff;
	border-bottom: 1px solid #ff0000;
	color: #ff0000;
	font-weight: bold;
}

.room-data.unverified .room-recfav-div {
	border-color: #ff0000;
}

.room-data.unverified .room-recfav-info {
	border-bottom: 1px solid #ff0000;
}

.room-data.unverified .reject-remark {
	clear: both;
	font-size: 16px;
	font-weight: bold;
	padding: 15px;
}

@media (min-width: 768px) {
	.breadcrumbdiv.breadcrumb-recfav {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover {
		text-align: center;
		background-color: #f1f1f1;
		color: #009b4c;
		font-weight: bold;
		border: 0px;
		border-radius: 0px;
		padding: 15px;
		border-left: 4px solid #009b4c;
	}
	.nav-tabs > li > a,
	.nav-tabs > li > a:focus,
	.nav-tabs > li > a:hover {
		text-align: center;
		padding: 15px;
		color: #3e5168;
	}
	.nav-tabs > li {
		padding: 0px;
		text-align: center;
		background-color: #f1f1f1;
		color: #3e5168;
		font-weight: bold;
		border: 0px;
		border-radius: 0px;
		border-bottom: 5px solid white;
	}
	.title-recfav {
		font-size: 16px;
		font-weight: normal;
	}
	.room-recfav-info {
		font-size: 18px;
	}
}
@media (min-width: 992px) {
	.breadcrumbdiv.breadcrumb-recfav {
		margin-top: 75px;
		margin-bottom: 20px;
	}
}
.text-owner-mobile {
	font-size: 14px;
	margin-bottom: 3px;
	margin-top: 3px;
}
.status-kost-mobile {
	background-color: #007137;
	text-align: center;
	font-size: 18px;
	color: #ffff00;
	padding: 3px 0 3px 0;
}
.status-kost {
	background-color: #007137;
	text-align: center;
	font-size: 20px;
	color: #ffff00;
	padding: 3px 0 3px 0;
}
.tabOwner {
	font-weight: bold;
	text-align: center;
	padding: 0;
}
.tabOwnerPhone {
	text-align: left;
	border: 3px solid #fff;
}
.tabOwnerSaldo {
	background: #d0f6fc;
	text-align: center;
	border: 3px solid #d0f6fc;
	color: #1baa56;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-tabs > li.tabOwnerSaldoMobileContainer {
	background-color: #d0f6fc;
	border: 3px solid #fff;
	border-top: 0;
	margin-bottom: 5px;
	margin-top: 0;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.tabOwnerSaldoMobile {
	background: #d0f6fc;
	margin-top: 2px;
	margin-bottom: 0;
	text-align: center;
	border: 3px solid #d0f6fc;
	color: #1baa56;
	font-weight: bold;
}
.tabOwnerSaldoRed {
	text-align: center;
	border: 3px solid #fff;
	color: #ed2024;
	font-weight: bold;
}
.tabOwnerSaldoRedMobile {
	margin-top: 2px;
	margin-bottom: 0;
	text-align: center;
	border: 3px solid #fff;
	color: #ed2024;
	font-weight: bold;
}
.tabOwnerSaldoPlus {
	padding: 0;
	cursor: pointer;
	height: 45px;
	width: auto;
}
.tabOwnerSaldoPlusMobile {
	padding: 0;
	cursor: pointer;
	height: 25px;
	width: auto;
}
.tabOwnerSaldoExclamation {
	height: 20px;
	width: auto;
	margin-top: 12px;
}
.tabOwnerSaldoExclamationMobile {
	margin-top: 0px;
	height: 18px;
	width: auto;
}
.tabOwnerSaldoNotif {
	text-align: left;
	color: #ed2024;
	margin-top: 14px;
}
.tabOwnerSaldoNotifMobile {
	text-align: center;
	color: #ed2024;
	margin: 0;
	bottom: 16px;
}
.tabOwnerData {
	text-align: left;
}
.tabOwnerMember {
	border: 3px solid #ec4a0c;
	background-color: #fff;
	padding: 0 15px;
	color: #ec4a0c;
	text-align: center;
}
.tabOwnerPremium {
	border: 3px solid #ec4a0c;
	background-color: #ec4a0c;
	padding: 0 10px;
	color: #fff;
	text-align: center;
}
.tabOwnerExpired {
	font-size: 16px;
	color: #7f7f7f;
}
.tabOwnerAdd {
	border: 3px solid #1baa56;
	margin-bottom: 15px;
	background-color: #1baa56;
	padding: 0 10px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.tabOwnerAdd:hover {
	border-bottom: 5px solid hsla(149, 100%, 30%, 1);
}
.nav-tabs > li.tabOwner-balance {
	background: #d0f6fc;
	border: 3px solid #d0f6fc;
	margin-bottom: 5px;
}
.viewSaldo {
	margin-top: 14px;
	padding-left: 5px;
	font-size: 18px;
	color: grey;
}
.viewSaldoMobile {
	margin-top: 6px;
	padding-right: 15px;
	padding-left: 0;
	font-size: 14px;
	color: grey;
}
.owner-button {
	text-decoration: none;
}
.room-report {
	font-size: 16px;
	margin-bottom: 5px;
	cursor: pointer;
}
@media (max-width: 767px) {
	.room-report-result {
		color: #000;
		font-size: 14px;
	}
}
@media (min-width: 768px) {
	.room-report-result {
		color: #000;
		font-size: 18px;
	}
}

.report-list {
	border-bottom: 1px solid #eee;
	padding-top: 5px;
	padding-bottom: 5px;
}
@media (max-width: 767px) {
	.report-click {
		width: 14px;
		height: 16px;
	}
}
@media (min-width: 768px) {
	.report-click {
		width: 19px;
		height: 21px;
	}
}
.report-list > span > i {
	color: #999;
}
.report-list > span > a:hover,
.report-list > span > a:active,
.report-list > span > a:focus {
	text-decoration: none;
}
.report-btn {
	border: 1px solid #1baa56;
	border-radius: 4px;
	color: #1baa56;
	padding: 0 5px;
}

.room-report-survey {
	background-color: #ec4a0c;
	text-align: center;
	margin-bottom: 10px;
}
.promote-kost {
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #f4f4f4;
	padding-left: 0;
	margin: 0;
}
.promote-view {
	background: #d0f6fc;
	border-top-width: 0;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
	border-color: #f4f4f4;
	padding-left: 0;
	padding-right: 10px;
	margin: 0 0 15px 0;
}
.ad-view-head-balance {
	background: #d0f6fc;
}
.promote-select {
	text-align: center;
	padding: 0;
	margin-top: 10px;
}
.promote-on {
	background-color: #cacfd2;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	cursor: pointer;
}
.promote-off {
	background-color: hsla(149, 95%, 23%, 1);
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	cursor: pointer;
}
.promote-ad-view-count {
	background: #d0f6fc;
	padding: 0;
	text-align: center;
	/*margin-top: 5px;*/
}
.promote-total-view-count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0;
	text-align: center;
	margin-top: 9px;
}
.ad-view-arrow-green {
	padding: 0;
	text-align: center;
	height: 22px;
	cursor: pointer;
}
.ad-view-arrow-red {
	padding: 0;
	text-align: center;
	height: 22px;
	cursor: pointer;
}
.ad-view-text-green {
	padding: 0 2px 0 0;
	text-align: right;
	color: hsla(149, 100%, 30%, 1);
	margin-bottom: 0;
	cursor: pointer;
}
.ad-view-text-red {
	padding: 0;
	text-align: right;
	color: #ed2024;
	margin-bottom: 0;
	cursor: pointer;
}
.ad-view-text-grey {
	padding: 0 2px 0 0;
	text-align: right;
	color: #6a6a6a;
	margin-bottom: 0;
	cursor: default;
}
.ad-view-eye-green {
	font-size: 20px;
	color: grey;
	text-align: center;
}
.ad-view-progress {
	background-color: #5cb85c;
	height: 5px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.ad-view-progress-notif {
	background-color: #ed2024;
	height: 5px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.ad-view-progress-bar {
	background-color: #f5f5f5;
}
.roomAvailable {
	cursor: pointer;
	border: 3px solid #1baa56;
	font-size: 16px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #1baa56;
}
.roomAvailable > a {
	text-decoration: none;
	color: #1baa56;
}
.roomAvailableButton:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.roomAvailableButton:hover:after {
	opacity: 1;
}
.roomFull {
	cursor: pointer;
	border: 3px solid red;
	font-size: 16px;
	margin-bottom: 10px;
	text-decoration: none;
	color: red;
}
.roomFull > a {
	text-decoration: none;
	color: red;
}
.roomFullButton:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.roomFullButton:hover:after {
	opacity: 1;
}
.roomEditDelete {
	cursor: pointer;
	border: 3px solid #1baa56;
	font-size: 14px;
	text-align: center;
	color: #000;
}
.roomEditDelete:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.roomEditDelete:hover:after {
	opacity: 1;
}
.foot {
	margin: 0px;
	vertical-align: middle;
	text-align: center;
	background-color: green;
	border-color: green;
	color: #ffffff;
	background-color: rgba(35, 154, 35, 0.85);
	height: 50px;
	padding-top: 15px;
	cursor: pointer;
}
.surveycontainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.owner-input {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
	margin-bottom: 23px;
	margin-right: 20px;
	width: 35%;
	height: auto;
	margin-top: 2px;
}
.owner-search {
	padding-top: 0px;
	padding-bottom: 0px;
	border: 3px solid #1baa56;
	background-color: #1baa56;
	color: #fff;
	text-align: center;
	margin-bottom: 25px;
}
.owner-or {
	padding: 0;
	border: 3px solid #fff;
	background-color: #fff;
	color: #969696;
	text-align: center;
	margin-bottom: 25px;
}
.owner-new {
	padding-top: 0px;
	padding-bottom: 0px;
	border: 3px solid #1baa56;
	background-color: #fff;
	color: #1baa56;
	text-align: center;
	margin-bottom: 25px;
}
.owner-new:active,
.owner-new:hover,
.owner-new:focus {
	text-decoration: none;
}
.owner-input-mobile {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	margin-bottom: 15px;
	width: 100%;
	height: auto;
}
.owner-search-mobile {
	padding: 0;
	border: 3px solid #1baa56;
	background-color: #1baa56;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.owner-or-mobile {
	padding: 0;
	border: 3px solid #fff;
	background-color: #fff;
	color: #969696;
	text-align: center;
	margin-bottom: 20px;
}
.owner-new-mobile {
	padding: 0;
	border: 3px solid #1baa56;
	background-color: #fff;
	color: #1baa56;
	text-align: center;
	margin-bottom: 20px;
}
.owner-new-mobile:active,
.owner-new-mobile:hover,
.owner-new-mobile:focus {
	text-decoration: none;
}

/*Survey Report*/
.table-survey {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.table-survey tr td {
	width: 50%;
}

.table-survey .survey-action {
	text-align: center;
}

.table-survey .survey-action td {
	background: #fff;
}

.btn-change-schedule {
	background: transparent;
	border: 2px solid #1baa56;
	border-radius: 0;
	color: #1baa56;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-change-schedule:hover,
.btn-change-schedule:active,
.btn-change-schedule:focus {
	color: #1baa56;
}

.btn-send-chat {
	background: #ec4a0c;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	margin-left: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-send-chat:hover,
.btn-send-chat:active,
.btn-send-chat:focus {
	color: #fff;
}

#premium-prompt .modal-dialog .modal-content {
	border: 1px solid #1baa56;
	border-radius: 0;
}

#premium-prompt .modal-dialog .modal-content .modal-header {
	background: #1baa56;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#premium-prompt .modal-dialog .modal-content .modal-body {
	text-align: center;
}

#premium-prompt .modal-dialog .modal-content .modal-body #prompt-discount {
	color: #1baa56;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

#premium-prompt
	.modal-dialog
	.modal-content
	.modal-body
	#prompt-discount-package {
	color: #1baa56;
	font-size: 20px;
	font-weight: bold;
}

.btn-activate {
	background: transparent;
	border: 1px solid #1baa56;
	border-radius: 0;
	color: #1baa56;
	display: block;
	margin: 20px auto 10px auto;
	text-decoration: none;
	width: 80%;
}

.btn-activate:hover,
.btn-activate:active,
.btn-activate:focus {
	color: #1baa56;
}

.btn-return {
	text-decoration: none;
}

.btn-submit-schedule {
	background: #ec4a0c;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-submit-schedule:hover,
.btn-submit-schedule:active,
.btn-submit-schedule:focus {
	color: #fff;
}

/*Premium Package*/
.package-description-title {
	color: #1baa56;
	font-weight: bold;
}

.package-description-sub-title {
	font-size: 16px;
	font-weight: bold;
}

.premium-pricing-container {
	border: 2px solid #ccc;
	display: block;
	padding: 15px;
	width: 100%;
}

.premium-pricing-title {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.premium-pricing-discount {
	color: #1baa56;
	font-size: 18px;
	font-weight: bold;
}

.premium-pricing-base-price {
	color: #777;
	font-weight: bold;
	text-decoration: line-through;
}

.premium-pricing-price {
	color: #1baa56;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-premium-purchase {
	background: #1baa56;
	border-radius: 0;
	color: #fff;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.btn-premium-purchase:hover,
.btn-premium-purchase:active,
.btn-premium-purchase:focus {
	color: #fff;
}

.btn-premium-purchase:disabled {
	background: #ccc;
}

.premium-pricing-promo-separator {
	background: #1baa56;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
	text-align: center;
	width: 100%;
}

/*Premium Purchase*/
.premium-pricing-title {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.premium-pricing-discount {
	color: #1baa56;
	font-size: 18px;
	font-weight: bold;
}

.premium-pricing-base-price {
	color: #777;
	font-weight: bold;
	text-decoration: line-through;
}

.premium-pricing-price {
	color: #1baa56;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-premium-purchase {
	background: #1baa56;
	border-radius: 0;
	color: #fff;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.purchase-separator {
	background: #eee;
	display: block;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px;
	width: 100%;
}

.bank-account tr {
	margin-bottom: 10px;
}

.bank-account tr td {
	padding: 0 5px;
}

.bank-account tr td:last-child {
	font-weight: bold;
}

.btn-confirmation {
	border-radius: 0;
	background: #1baa56;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.btn-confirmation:hover,
.btn-confirmation:active,
.btn-confirmation:focus {
	color: #fff;
	text-decoration: none;
}

#balance-form label {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.balance-selector {
	border-radius: 0;
	width: 80%;
}

.balance-price {
	color: #1baa56;
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.balance-action {
	padding-top: 40px;
}

.btn-balance-purchase {
	background: #1baa56;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 40%;
}

.btn-balance-purchase:hover,
.btn-balance-purchase:active,
.btn-balance-purchase:focus {
	color: #fff;
}

.btn-balance-purchase:disabled {
	background: #ccc;
}

/*Balance Confirm*/
.balance-info-container {
	width: 150px;
}

.balance-view {
	color: #1baa56;
	font-size: 20px;
	font-weight: bold;
}

.balance-view i.fa {
	color: #777;
	display: inline-block;
	width: 20%;
}

.balance-view span {
	display: inline-block;
	width: 75%;
}

.balance-price {
	color: #1baa56;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	width: 150px;
}

.btn-premium-purchase {
	background: #1baa56;
	border-radius: 0;
	color: #fff;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.purchase-separator {
	background: #eee;
	display: block;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px;
	width: 100%;
}

.bank-account tr {
	margin-bottom: 10px;
}

.bank-account tr td {
	padding: 0 5px;
}

.bank-account tr td:last-child {
	font-weight: bold;
}

.btn-confirmation {
	border-radius: 0;
	background: #1baa56;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.btn-confirmation:hover,
.btn-confirmation:active,
.btn-confirmation:focus {
	color: #fff;
	text-decoration: none;
}

.link-owner-add {
	display: inline-block;
	height: auto;
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
}

.link-owner-add .tabOwnerAdd {
	margin-bottom: 0;
}

.tooltip-owner {
	z-index: 999;
}

.tooltip-owner .tooltip-inner {
	background: #fff;
	border: 2px solid #1baa56;
	color: #1baa56;
	font-size: 14px;
	width: 100%;
}

.tooltip-owner.bottom .tooltip-arrow {
	border-bottom-color: #1baa56;
}

#no-room-modal-trigger {
	display: none;
}

#no-room-modal .modal-header {
	background: #1baa56;
	color: #fff;
	text-align: center;
}

#no-room-modal .modal-body {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#no-room-modal .modal-body #no-room-modal-link {
	background: #1baa56;
	color: #fff;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 30px;
	padding: 10px 15px;
	text-decoration: none;
}

/*Modal Loading*/
.overlay-loading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.overlay-loading > h4 {
	margin-top: 0;
}

/*Modal Download App*/
#download-app .modal-header {
	padding: 5px 0 5px 0;
	margin-bottom: 10px;
	background-color: #1baa56;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#download-app .modal-content {
	border: 2px solid #1baa56;
	width: 320px;
}
#download-app p {
	color: #000;
	font-size: 14px;
}
#download-app .modal-body h4 {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}
#download-app img {
	margin-bottom: 10px;
}
#download-app .modal-footer {
	text-align: center;
}

/*History Stats*/
.whitesmoke {
	background: whitesmoke;
}
.green {
	color: #1baa56;
}
.stats-page > p {
	margin-top: 10px;
	text-align: center;
}
@media (min-width: 992px) {
	.stats-title-active,
	.stats-title-inactive {
		font-size: 16px;
		padding: 10px 0;
		cursor: pointer;
	}
}
@media (max-width: 991px) {
	.stats-title-active,
	.stats-title-inactive {
		font-size: 14px;
		font-weight: bold;
		padding: 10px 0;
		cursor: pointer;
	}
}
.stats-title-active {
	color: #1baa56;
	border-bottom: 3px solid #1baa56;
}
.stats-title-inactive {
	color: #999;
	border-bottom: 3px solid #eee;
}
.stats-loading,
.stats-null {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 0;
}
@media (max-width: 991px) {
	.stats-loading > p,
	.stats-null > p {
		font-size: 14px;
	}
	.stats-loading > i {
		font-size: 28px;
	}
	.stats-null > img {
		height: 100px;
	}
}
@media (min-width: 992px) {
	.stats-loading,
	.stats-null > p {
		font-size: 16px;
	}
	.stats-loading > i {
		font-size: 36px;
	}
	.stats-null > img {
		height: 120px;
	}
}
.stats-null {
	color: #999;
	font-weight: bold;
}
.stats-list {
	font-weight: bold;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}
.stats-date,
.stats-phone,
.stats-email {
	color: #999;
	font-weight: bold;
}
.stats-index,
.stats-name {
	font-weight: bold;
}
.stats-name,
.stats-email {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}
.stats-phone > .is-no-premium {
	color: #1baa56;
	cursor: pointer;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.stats-phone > .is-no-premium {
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding-left: 5px;
	}
}
@media (min-width: 992px) {
	.stats-phone > .is-no-premium {
		display: block;
	}
}
.stats-phone > .is-no-premium:hover {
	color: #1f881f;
}
.stats-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
@media (max-width: 991px) {
	.stats-btn {
		margin-top: 5px;
	}
}
.stats-btn > button {
	margin-right: 5px;
	margin-left: 5px;
}
.phone-info {
	border-bottom: 1px solid #eee;
	padding: 0 0 15px 0;
}
.review-point {
	padding-right: 0;
	padding-left: 0;
}
@media (max-width: 767px) {
	.review-point {
		font-size: 12px;
	}
}
.review-point > .container-fluid {
	padding: 2px 0;
}
.review-point,
.review-content {
	font-weight: normal !important;
}
@media (max-width: 991px) {
	.review-photo {
		width: 100px;
		height: 75px;
		border: 2px solid whitesmoke;
		border-radius: 5px;
	}
}
@media (min-width: 992px) {
	.review-star {
		padding-right: 1px;
		padding-left: 1px;
	}
	.review-photo {
		width: 150px;
		height: 100px;
		border: 2px solid whitesmoke;
		border-radius: 5px;
	}
}
.pagination-button {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*review reply modal ( fix-review )*/
padding-left-5 {
	padding-left: 5px;
}

.btn-reply-review {
	margin-top: 15px;
}
.modal-medium {
	width: 600px;
}
@media (max-width: 767px) {
	.modal-medium {
		width: 94%;
		margin-left: 3%;
	}
	.modal-body .col-xs-6 {
		height: 20px;
		vertical-align: middle;
	}
	.modal-body .container-fluid {
		padding: 0;
	}
	.whitesmoke-inverse {
		background-color: white;
	}
	.white-inverse {
		background-color: whitesmoke;
	}
}
.modal-top {
	margin-top: 100px;
}
.reply-box {
	text-align: left;
	margin-bottom: 20px;
}
.reply-text {
	width: 100%;
	border: 2px #ddd solid;
	border-radius: 5px;
	padding: 5px;
	height: 75px;
}
.char-counter {
	text-align: right;
	font-size: 12px;
}
.char-counter.no-margin {
	margin-bottom: 0;
}
.review-date {
	color: #888;
}
.review-approval {
	background-color: #eee;
	color: #999;
	padding: 0 5px;
}
.review-name {
	font-weight: bold;
}
.review-reply {
	border-top: 1px #ddd solid;
	padding-top: 5px;
}

/* Promo inside the ownerpage ( fix-promo-page )*/
.full-width {
	width: 100%;
}
.btn-show-promo {
	width: 100%;
	color: red;
	border: 2px red solid;
	margin: 7px 0;
	font-weight: bold;
}
@media screen only and (max-width: 991px) {
	.room-recfav-info {
		height: 116px;
	}
}

/* Add promo ()*/

.owner-promo-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.owner-promo {
	max-width: 600px;
	margin-bottom: 40px;
}
.owner-promo .inside-container {
	margin-top: 20px;
}
.owner-promo .input-sec-container {
	margin-bottom: 20px;
}
.owner-promo .form-group {
	margin-bottom: 0;
}
.owner-promo label {
	font-size: 16px;
}
.owner-promo textarea {
	height: 90px;
}
.owner-promo hr {
	border-color: #ddd;
}
.owner-promo .date-container {
	display: inline-block;
	float: left;
	width: 175px;
}
.owner-promo .line-container {
	display: inline-block;
	float: left;
	padding: 12px 8px 0;
	width: 50px;
	margin-right: 12px;
}
.owner-promo button {
	margin-top: 20px;
}
.owner-promo .space-bottom {
	margin-bottom: 15px;
}

.breadcrumb-owner {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}
@media (max-width: 767px) {
	.breadcrumb-owner {
		margin-top: -54px;
		margin-bottom: 0;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		position: relative;
		overflow-x: scroll;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.breadcrumb-owner {
		margin-top: 0;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		position: absolute;
	}
}
@media (min-width: 992px) {
	.breadcrumb-owner {
		margin-top: 54px;
		border-bottom: 1px solid #eee;
		background-color: #fff;
		position: absolute;
		z-index: 100;
	}
}
.breadcrumb-owner > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: '\003e';
}
.breadcrumb-list {
	color: #1baa56;
}

.loading-spinner-green {
	color: #1baa56;
}
