<template>
	<div>
		<career-navbar></career-navbar>
		<career-header></career-header>
		<career-content
			:isLoading="isLoading"
			:vacancies="vacancies"
		></career-content>
		<career-footer></career-footer>
	</div>
</template>

<script>
import CareerContent from './CareerContent';
import CareerFooter from './CareerFooter';
import CareerHeader from './CareerHeader';
import CareerNavbar from './CareerNavbar';

export default {
	components: {
		CareerContent,
		CareerFooter,
		CareerHeader,
		CareerNavbar
	},

	data() {
		return {
			isLoading: false,
			vacancies: []
		};
	},

	created() {
		this.getVacancyList();
	},

	mounted() {
		this.smoothLink();
	},

	methods: {
		smoothLink() {
			document.querySelectorAll('a[href^="#"]').forEach(anchor => {
				anchor.addEventListener('click', function(e) {
					e.preventDefault();

					document.querySelector(this.getAttribute('href')).scrollIntoView({
						behavior: 'smooth'
					});
				});
			});
		},
		sortVacancies(vacancy) {
			const sortVacancies = vacancy.slice(0);
			const sortedVacancies = sortVacancies.sort((a, b) => {
				let positionA = a.position.name;
				let positionB = b.position.name;
				return positionA < positionB ? -1 : positionA > positionB ? 1 : 0;
			});
			return sortedVacancies;
		},
		getVacancyList() {
			this.isLoading = true;
			axios
				.get('/career/vacancy')
				.then(response => {
					this.isLoading = false;

					let vacancies = response.data.data;
					let sortByPosition = this.sortVacancies(vacancies);

					sortByPosition.forEach(sortedOpenVacancy => {
						if (sortedOpenVacancy.is_open === 1) {
							this.vacancies.push(sortedOpenVacancy);
						}
					});
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss">
@media (min-width: 992px) {
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media (max-width: 991px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

#app {
	background-color: #fff;
	overflow: hidden;
}

div.container {
	padding: 0;
}

.photo {
	max-width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.photo {
		margin-top: 10%;
	}
	.container > .navbar-header {
		margin-right: 5%;
		margin-left: 5%;
	}
}
</style>
