<template>
	<div>
		<section class="container">
			<h3 class="text-3">What you’ll be building</h3>
		</section>

		<section class="container-fluid text-center photos-2">
			<div class="container">
				<img
					v-lazy="`/general/img/pictures/career/bg-ownerHomepage.png`"
					alt="bg-ownerHomepage"
					class="photo desktop"
				/>
				<img
					v-lazy="`/general/img/pictures/career/bg-ownerHomepage.png`"
					alt="bg-ownerHomepage"
					class="photo mobile"
				/>
			</div>
		</section>

		<section class="container">
			<h3 class="text-3">Who you’ll be building with</h3>
			<p class="text-4">
				We're on a mission to transform how people find "kos-kosan". Help them
				and make their lives easier. We have all felt how difficult it is to
				find a boarding house, and hope that someday we can help other people
				who are in same difficulties.
			</p>
			<p class="text-4">
				Our team is made up of people who enjoy making things people love. We’re
				building a company where the principles of sharing and openness have
				taken the place of our everydays life.
			</p>
		</section>

		<section class="container container-2">
			<img
				v-lazy="`/general/img/pictures/career/bg-team-dekstop.jpg`"
				alt="bg-team-dekstop"
				class="photo photos-3 desktop"
			/>

			<img
				v-lazy="`/general/img/icons/ic_career_girl.png`"
				alt="ic_career_girl"
				class="block-separator-girl desktop"
			/>

			<img
				v-lazy="`/general/img/pictures/career/bg-team-mobile.jpg`"
				alt="bg-team-mobile"
				class="photo photos-3 mobile"
			/>

			<img
				v-lazy="`/general/img/icons/ic_career_girl.png`"
				alt="ic_career_girl"
				class="block-separator-girl mobile"
			/>
		</section>

		<section class="container text-center">
			<div class="row">
				<h3 class="text-5">The Mamikos Advantage</h3>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_beermugs.png`"
							alt="ic-career-beermugs"
						/>
						<h4 class="text-6">Monthly Outing</h4>
						<p class="text-7">
							We have monthly outing for all of our employee to enjoy time and
							free food with their team
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_snack.png`"
							alt="ic-career-snack"
						/>
						<h4 class="text-6">Free Lunch</h4>
						<p class="text-7">
							We provide lunch and also dinner for overtime working. We all need
							good free food!
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_male.png`"
							alt="ic-career-male"
						/>
						<h4 class="text-6">Remote Work</h4>
						<p class="text-7">
							All of our employee can have 2 remote works every month. Enjoy
							"kerja kolor" mode!
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_money.png`"
							alt="ic-career-money"
						/>
						<h4 class="text-6">Competitive Salary</h4>
						<p class="text-7">
							We belive everyone deserve all of their hard work. We give good
							salary for all of our employees
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_shortcake.png`"
							alt="ic-career-shortcake"
						/>
						<h4 class="text-6">Monthly B'Day Party</h4>
						<p class="text-7">
							We celebrate our employees birthday party every month with cakes
							and happiness
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="box">
						<img
							class="career-icon"
							v-lazy="`/general/img/icons/ic_career_thunder.png`"
							alt="ic-career-thunder"
						/>
						<h4 class="text-6">We are Agile</h4>
						<p class="text-7">
							It's not starup if not agile. We will learn together how to work
							agile and achieve our goal
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="apply" class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<div
						class="slice-circle desktop"
						v-lazy:background-image="{
							src: '/general/img/pictures/career/bg-circle-dekstop.png'
						}"
						alt="bg-circle-dekstop"
					></div>
					<div
						class="slice-circle mobile"
						v-lazy:background-image="{
							src: '/general/img/pictures/career/bg-circle-mobile.png'
						}"
						alt="bg-circle-mobile"
					></div>
					<h3 class="text-8">Available jobs</h3>
					<h4 class="text-9">
						What we look for in a teammate is someone who’s thoughtful,
						skillful, and enjoyable to work with. Every person we hire is
						someone we see ourselves working with for the long run.
					</h4>
					<img
						v-lazy="`/general/img/icons/ic_career_heart.png`"
						alt="ic-career-heart"
						class="heavy-black-heart_2764"
					/>
					<img
						v-lazy="`/general/img/icons/ic_career_hand.png`"
						alt="ic-career-hand"
						class="victory-hand_270c"
					/>
					<div class="separator"></div>
					<p class="text-10">Send your CV and portfolios to:</p>
					<div class="email-section">
						<a class="text-11" href="mailto:careertech@mamiteam.com"
							>careertech@mamiteam.com</a
						><br />
						<a class="text-11" href="mailto:career@mamiteam.com"
							>career@mamiteam.com</a
						>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 collapse-box">
					<mami-loading-inline v-if="isLoading"></mami-loading-inline>
					<career-accordion v-else :vacancies="vacancies"></career-accordion>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import CareerAccordion from './CareerAccordion';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		CareerAccordion
	},

	props: {
		isLoading: {
			type: Boolean,
			default: false
		},
		vacancies: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.text-3 {
	font-family: 'Tiempos Headline';
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.79;
	letter-spacing: normal;
	text-align: left;
	padding-left: 16%;
	color: #000000;
	position: relative;
	padding-bottom: 1%;
	margin-top: 10%;
	margin-bottom: 5%;

	@media (min-width: 320px) and (max-width: 480px) {
		font-size: 18px;
		padding-left: 0%;
	}
	&:before {
		content: '';
		position: absolute;
		width: 6%;
		height: 1px;
		bottom: 0;
		left: 16%;
		border-bottom: 3px solid #000000;

		@media (min-width: 320px) and (max-width: 480px) {
			width: 18%;
			bottom: 1px;
			left: 0%;
		}
	}
}

.photos-2 {
	background: linear-gradient(#22c264 78%, transparent 20%);
	padding-top: 40px;
	@media (min-width: 320px) and (max-width: 480px) {
		background: linear-gradient(#22c264 82%, transparent 20%);
	}
}

.text-4 {
	padding-left: 16%;
	padding-right: 35%;
	color: #000000;
	line-height: 1.78;
	font-size: 18px;
	font-family: Lato;

	@media (min-width: 320px) and (max-width: 480px) {
		padding-left: 0%;
		padding-right: 0%;
		line-height: 2.7;
		padding-top: 5%;
		line-height: 1.78;
		font-size: 14px;
	}

	@media (max-width: 1023px) and (min-width: 768px) {
		font-size: 14px;
	}
}

.photos-3 {
	width: 100%;
}

.container-2 {
	position: relative;
	margin-top: 5%;
}

.block-separator-girl {
	position: absolute;
	top: -155px;
	right: 130px;
	max-width: 100%;
	object-fit: contain;

	@media (min-width: 320px) and (max-width: 480px) {
		top: -8px;
		right: 37px;
		max-width: 11%;
	}

	@media (min-width: 481px) and (max-width: 767px) {
		position: absolute;
		top: -114px;
		right: 20px;
		max-width: 15%;
		object-fit: contain;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		right: 100px;
	}

	@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
		position: absolute;
		top: -155px;
		right: 40px;
		max-width: 100%;
		object-fit: contain;
	}
}

.text-5 {
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.79;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	position: relative;
	margin-top: 15%;
	margin-bottom: 5%;
	width: 100%;

	@media (min-width: 320px) and (max-width: 480px) {
		font-size: 24px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 7%;
		height: 1px;
		bottom: 0;
		left: 47%;
		border-bottom: 3px solid #000000;

		@media (min-width: 320px) and (max-width: 480px) {
			width: 20%;
			bottom: 0;
			left: 40%;
		}
	}
}

.box {
	height: 330px;
	background-color: #e8fff1;
	padding: 10% 5%;
	margin: 10% auto 0;

	@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
		height: 330px;
		background-color: #e8fff1;
		padding: 5% 5%;
		margin: 10% auto 0;
	}
}

.career-icon {
	width: 57px;
	height: 57px;
	margin-bottom: 2px;
}

.text-6 {
	font-size: 22px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.55;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	font-family: Lato;
}

.text-7 {
	width: 242px;
	height: 88px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.73;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin: 0 auto;
	font-family: Lato;
}

.text-8 {
	margin-top: 256px;
	width: 402px;
	height: 41px;
	font-size: 42px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.17;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	font-family: Lato;
}

.text-9 {
	margin-top: 10%;
	width: 300px;
	height: 109px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	margin-bottom: 10%;
	font-family: Lato;
}

.text-10 {
	width: 210px;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	text-align: left;
	color: #4a4a4a;
	margin-top: 5px;

	@media (min-width: 320px) and (max-width: 480px) {
		width: 210px;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-align: left;
		color: #4a4a4a;
		margin-top: 15%;
	}
}

.separator {
	height: 15px;
	border-bottom: 1px solid #4a4a4a;
	width: 12%;
}

.slice-circle {
	position: absolute;
	top: 11vw;
	left: -18vw;
	width: 114%;
	height: 100%;
	/* z-index: 99999; */
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	@media (min-width: 320px) and (max-width: 480px) {
		position: absolute;
		top: 56vw;
		left: -48vw;
		max-width: 100%;
		width: none;
		height: 68%;
		/* z-index: 99999; */
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		left: -49vw;
	}

	@media (min-width: 2560px) {
		top: 5vw;
		left: -10vw;
	}
}

.email-section {
	position: absolute;
}

.text-11 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	top: unset;
	color: #000000;
}

.heavy-black-heart_2764 {
	width: 23.7px;
	height: 23.7px;
	object-fit: contain;
	align-items: left;
}

.victory-hand_270c {
	width: 25px;
	height: 25px;
	object-fit: contain;
}

.collapse-box {
	margin-top: 256px;

	@media (min-width: 320px) and (max-width: 480px) {
		margin-top: 20%;
	}
}
</style>
