<template>
	<section id="listJobCareer">
		<div class="career-container">
			<accordion :one-at-atime="false" type="info">
				<panel v-for="(vacancy, i) in vacancies" :key="i">
					<div slot="header" class="career-header career-icon">
						<h5>
							<span class="career-position">
								<span v-if="vacancy.level">{{vacancy.level}} </span>{{ vacancy.position.name }}</span>
						</h5>
					</div>

					<div class="description-job">Location:</div>

					<p class="content location">
						<ul>
							<li v-for="(location, i) in vacancy.locations" :key="i">
								{{location.name}}
							</li>
						</ul>
					</p>

					<div v-if="vacancy.requirements.length >= 1" class="description-job">
						Requirements:
					</div>

					<div class="content">
						<ul>
							<li v-for="(requirement, i) in vacancy.requirements" :key="i">
								{{ requirement.content }}
							</li>
						</ul>
					</div>

					<div v-if="vacancy.description.length >= 1" class="description-job">
						Job Description:
					</div>

					<div class="content">
						<ul>
							<li v-for="(description, i) in vacancy.description" :key="i">
								{{ description.content }}
							</li>
						</ul>
					</div>

					<p class="apply-job">
						<a
							v-if="vacancy.level"
							:href="
								`mailto:${vacancy.contact}?subject=${vacancy.level} ${vacancy.position.name} - Mamikos Career`
							"
							>Apply job</a
						>
					<a
							v-else
							:href="
								`mailto:${vacancy.contact}?subject=${vacancy.position.name} - Mamikos Career`
							"
							>Apply job</a
						>
						<img
							v-lazy="`/general/img/icons/ic_career_arrow.png`"
							alt="ic_career_arrow"
							class="arrow-right"
						/>
					</p>
				</panel>
			</accordion>
		</div>
	</section>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel
	},

	props: {
		vacancies: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss">
#listJobCareer {
	font-size: 0.9em;

	.career-container {
		background-color: transparent;
	}

	.career-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 2rem;
		font-family: Lato;
	}

	.panel {
		box-shadow: none;
		border-radius: 0;
	}

	.panel-group {
		margin-bottom: 0;
		padding-bottom: 0.5rem;
	}

	.panel-info {
		border: none;
		border-bottom: solid 1px #22c264;

		> .panel-heading {
			border: none;
			background-color: white;
			color: inherit;
			border-radius: 0;
			padding-left: 0;
			padding-bottom: 10px;
			line-height: 3;
		}
	}

	.panel-info > .panel-heading + .panel-collapse > .panel-body {
		border: none;
		padding-left: 0;
	}
}

.career-header span:after {
	font-family: 'Glyphicons Halflings';
	content: '\e259';
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 13px;
	margin-top: 10px;
	font-size: 1rem;
	color: #22c264;
}

.career-icon:after {
	font-family: 'Glyphicons Halflings';
	content: '\e260';
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 13px;
	margin-top: -3px;
	font-size: 1rem;
	color: #22c264;
}

.career-position {
	font-weight: bold;
	font-size: 18px;
	font-family: Lato;
}

.apply-job {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.13;
	letter-spacing: normal;
	text-align: left;
	color: #22c264;
	margin-top: 5%;
}

.arrow-right {
	margin-left: 2%;
	width: 10.7px;
	height: 7.8px;
	object-fit: contain;
}

.content {
	font-size: 15px;
	line-height: 1.87;
	text-align: left;
	color: #000000;

	&.location {
		ul {
			padding-left: 24px;

			li {
				display: inline;
			}

			li + li::before {
				content: '-';
			}
		}
	}
}

.description-job {
	font-weight: bold;
	font-size: 18px;
}
</style>
