<template>
	<navbar class="navbar-career" placement="static" type="default">
		<div slot="brand" class="brand-logo-wrapper" v-if="isBack">
			<div class="back-button-wrapper visible-xs">
				<a @click="goBack">
					<img
						class="back-button"
						src="/general/img/icons/ic_full-arrow-left_s_green.svg"
					/>
				</a>
			</div>
			<div class="logo-konten">
				<a href="/" title="Home" class="navbar-brand navbar-brand-custom">
					<img
						v-lazy="`/general/img/logo/mamikos-logo-career.png`"
						class="logo"
					/>
				</a>
			</div>
		</div>

		<a slot="brand" href="/" title="Home" class="navbar-brand" v-else>
			<img v-lazy="`/general/img/logo/mamikos-logo-career.png`" class="logo" />
		</a>

		<li slot="right" class="view-all-jobs">
			<a href="#apply">View all Jobs</a>
		</li>
	</navbar>
</template>

<script>
import { navbar } from 'vue-strap';

import mixinListenerBurgerNavigation from 'Js/@mixins/MixinListenerBurgerNavigation';

export default {
	components: {
		navbar
	},

	mixins: [mixinListenerBurgerNavigation],

	data() {
		return {
			iconBar: document.getElementsByClassName('icon-bar'),
			navbarToggle: document.getElementsByClassName('navbar-toggle')
		};
	},

	computed: {
		isBack() {
			return document.referrer == '' ||
				document.referrer === document.location.href
				? false
				: true;
		}
	},

	methods: {
		goBack() {
			window.history.go(-1);
		}
	}
};
</script>

<style lang="scss" scoped>
.navbar-career {
	padding-top: 10px;
}
.logo {
	width: 144.7px;
	height: 21px;
	object-fit: contain;
}
.view-all-jobs {
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: normal;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;

	.navbar-nav > li > a {
		text-align: center;
	}
}

.navbar-brand-custom {
	float: none;
	padding: 13px 0px;
	font-size: 18px;
	line-height: 24px;
	height: 50px;
	margin: 0 auto;
	display: block;
	width: 145px;
}

.brand-logo-wrapper {
	display: flex;
	.back-button-wrapper {
		width: calc(100% / 5);
		img.back-button {
			width: 20px;
			margin-top: 13px;
			margin-left: 8px;
		}
	}
	.logo-konten {
		width: 100%;
	}
}
</style>

<style lang="scss">
.navbar-toggle {
	margin-top: 4px;
	background-color: transparent !important;
	border-color: transparent !important;

	.icon-bar {
		background-color: #1baa56 !important;
	}

	span {
		transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
	}

	span:nth-child(2) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(3) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(4) {
		width: 11px;
		float: right;
	}
}
</style>
