<template>
	<section>
		<header class="container">
			<div class="row">
				<h1 class="text-center text-1">
					<strong>We help people find their home</strong>
				</h1>
				<h2 class="text-center text-2">
					Mamikos is the leading "kost" finder in Indonesia. Join our journey to
					unleash social impact through technology!
				</h2>
				<div class="text">
					<a class="btn btn-default text-center" href="#apply" role="button"
						>View all jobs</a
					>
				</div>
			</div>
		</header>

		<div class="container-fluid text-center photos-1">
			<img
				v-lazy="`/general/img/pictures/career/bg-hero-mobile.jpg`"
				alt="bg-hero-mobile"
				class="photo photos mobile"
			/>

			<img
				v-lazy="`/general/img/pictures/career/bg-hero-dekstop.jpg`"
				alt="bg-hero-dekstop"
				class="photo photos desktop"
			/>
		</div>
	</section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.text-1 {
	font-family: 'Tiempos Headline';
	width: 100%;
	font-size: 4em;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.58;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-top: 120px;

	@media (min-width: 320px) and (max-width: 480px) {
		font-size: 1.9em;
		width: 100%;
		margin-top: 44px;
	}

	@media (max-width: 1023px) and (min-width: 768px) {
		font-size: 3.5em;
	}
}

.text {
	width: 100%;
	text-align: center;
}

.text-2 {
	align-items: center;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.78;
	letter-spacing: normal;
	color: #454545;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 2%;
	font-family: Lato;

	@media (min-width: 320px) and (max-width: 480px) {
		margin-top: 5%;
		padding-left: 12%;
		padding-right: 12%;
		font-size: 15px;
	}

	@media (max-width: 1023px) and (min-width: 768px) {
		font-size: 16px;
	}
}

.btn {
	font-family: Lato;
	border-radius: 100px;
	border: solid 1px #000000;
	background-color: #ffffff;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #000000;
	padding: 15px 30px;
	margin-top: 3%;

	@media (min-width: 320px) and (max-width: 480px) {
		margin-top: 5%;
		padding: 10px;
	}
	&:hover {
		background-color: #27ab27;
		border-color: #27ab27;
		color: #ffffff;
	}
}

.photos-1 {
	overflow: hidden;
}

.photos {
	transform: scale(1.33);
	transform-origin: center bottom;

	@media (min-width: 320px) and (max-width: 480px) {
		transform: scale(1.54);
		transform-origin: center bottom;
	}
}
</style>
