<template>
	<footer class="container-fluid rectangle-7 text-center">
		<img
			v-lazy="'/general/img/pictures/career/Clouds.png'"
			class="clouds photo"
		/>
		<mami-footer :isCareerPage="true"></mami-footer>
	</footer>
</template>

<script>
const MamiFooter = () => import('Js/@components/MamiFooter2');

export default {
	components: {
		MamiFooter
	}
};
</script>

<style lang="scss" scoped>
.rectangle-7 {
	background: linear-gradient(transparent 20%, #22c264 0%);
	overflow: hidden;
	margin-top: 10%;
}

.clouds {
	transform: scale(1.29);
	transform-origin: center;

	@media (min-width: 320px) and (max-width: 480px) {
		transform: scale(3.1);
		transform-origin: center;
		margin-bottom: 70px;
		margin-top: 128px;
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		margin-top: 50px;
	}
	@media (min-width: 2560px) {
		transform: scale(2);
	}
}
</style>
