.scoreboard {
	background-color: #fff;
}
.nav > li > a {
	color: #3e5168;
	text-align: center;
	font-size: 16px;
	padding: 0;
}
.nav-tabs {
	border-bottom: 1px solid #eee;
	background-color: #fff;
	position: fixed;
}
.nav-tabs > li {
	margin-bottom: 0;
	height: 75px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.nav-tabs > li > a:hover {
	border: none;
	color: #3e5168;
}
.nav-tabs > li.active {
	border-bottom: 3px solid #1baa56;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #1baa56;
	font-weight: bold;
	border: none;
}
#statusTab {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.tab-content {
	margin-top: 85px;
}
.label-status {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	color: #000;
}
.get-point {
	background-color: #f7f7f7;
	margin-bottom: 15px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.get-point label {
	font-size: 16px;
	color: #000;
}
.get-point button {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	width: 100%;
}
.number-status {
	font-size: 25px;
}
.verified {
	color: #1baa56;
}
.label-status .input-kost,
.table {
	color: #383746;
}
.exchange-point tbody {
	border-bottom: 1px solid #ddd;
}
.verif-stat {
	font-weight: bold;
}
.kost-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 90px;
}
.items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	border-right: 1px solid #ddd;
}
.items .verified {
	font-weight: bold;
}
.announce {
	padding: 15px;
	padding-top: 10px;
}
.trade-nav {
	text-align: center;
}
.trade-nav a {
	color: #ec4a0c;
	font-weight: bold;
	text-align: center;
}
.trade-nav a:hover {
	text-decoration: none;
}
.off {
	color: #3e5168;
}
.table td,
.table th {
	padding-left: 15px !important;
}
.my-rank thead th,
.top-ten thead th {
	background-color: #f7f7f7;
}
.my-rank tbody td {
	font-weight: bold;
	color: #ec4a0c;
}
.status-input th {
	border-top: 2px solid #ddd !important;
}
.status-input td,
.my-rank td,
.top-ten td {
	border-top: none !important;
}
.modal {
	text-align: center;
	padding: 0 !important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.modal-content {
	text-align: center;
	border: 2px solid #1baa56;
}
.modal-header {
	color: #1baa56;
	font-size: 25px;
	border-bottom: 2px solid #1baa56;
	margin-left: 5px;
	margin-right: 5px;
}
.modal-body p {
	font-size: 18px;
}
.modal-body span {
	font-weight: bold;
	color: #1baa56;
}
.modal-body button {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
}
#termsModal .modal-body p {
	font-size: 14px;
}
#termsModal .modal-body button {
	margin-top: 20px;
}
.footer {
	text-align: center;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #eee;
}
.footer a {
	font-weight: bold;
	color: #383746;
}
.footer a:hover {
	text-decoration: none;
}

@media (max-width: 991px) {
	.nav-tabs {
		width: 100%;
	}
}
@media (min-width: 992px) {
	body {
		background-image: url('/assets/100-1-blur.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.scoreboard {
		min-height: 680px;
	}
	.footer {
		width: inherit;
	}
}
