<template>
	<div class="dashboard-page">
		<div class="row">
			<div
				v-for="(dashboardList, index) in dashboardLists"
				class="col-xs-12"
				:key="index"
			>
				<div
					@click="handleClickCard(dashboardList)"
					:class="[
						'dashboard-card',
						!!dashboardList.amount ? 'has-notify' : 'is--disabled'
					]"
				>
					<div class="row el-center-on-start">
						<div class="col-xs-3">
							<div class="amount-data el-center-on-start">
								<span>
									{{ dashboardList.amount | amount }}
								</span>
							</div>
						</div>
						<div class="col-xs-9">
							<div class="detail-data el-center-on-start flex-col">
								<h3 class="detail-data__title">
									{{
										!!dashboardList.amount
											? dashboardList.title
											: dashboardList.disabledText
									}}
								</h3>
								<p class="detail-data__subtitle">
									{{ dashboardList.subtitle }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import EventBus from 'Consultant/event-bus';
import dashboardLists from './data/dashboardLists.json';

export default {
	name: 'DashboardPage',

	data() {
		return {
			dashboardLists: dashboardLists
		};
	},

	created() {
		this.initDataDashboard();
		EventBus.$on('REFRESH_DASHBOARD', this.initDataDashboard);
	},

	beforeDestroy() {
		EventBus.$off('REFRESH_DASHBOARD', this.initDataDashboard);
	},

	methods: {
		async initDataDashboard() {
			const responseGetDashboardDataLists = await this.getDashboardDataLists();

			if (responseGetDashboardDataLists.success) {
				for (let [key, value] of Object.entries(
					responseGetDashboardDataLists.data
				)) {
					const index = this.dashboardLists.findIndex(
						_list => _list.key === key
					);
					if (index !== -1) {
						this.dashboardLists[index].amount = value;
					}
				}
				EventBus.$emit(
					'SET_NOTIFICATION_ON_SIDEBAR',
					responseGetDashboardDataLists.data
				);
			}
		},

		async getDashboardDataLists() {
			let result = { success: false, data: {} };
			try {
				const response = await axios.get('/api/dashboard');
				/* istanbul ignore else */
				if (response.data.status) {
					result.success = true;
					const {
						hangingBooking,
						hangingPayment,
						recurringTenant,
						unpaidContract,
						has_new_sales_motion: salesMotion
					} = response.data.data;
					result.data = {
						booking: hangingBooking,
						payment: hangingPayment,
						recurring: recurringTenant,
						contract: unpaidContract,
						sales_motion: salesMotion
					};
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return Promise.resolve(result);
		},

		handleClickCard({ route }) {
			if (!this.$isEmpty(route)) {
				this.$router.push(route);
			}
		}
	},

	filters: {
		amount(value) {
			if (value && isFinite(value)) {
				let strToNumber = Number(value);
				if (strToNumber > 99) {
					return '99+';
				}
			}
			return value;
		}
	}
};
</script>
<style lang="scss" scoped>
$red-mamikos: #e04205;
.dashboard-page {
	.dashboard-card {
		padding: 20px;
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		margin-bottom: 20px;
		cursor: pointer;
		min-height: 110px;

		* {
			color: #2e2d39;
		}

		h3,
		p {
			margin: unset;
		}

		.amount-data {
			height: 100%;
			font-weight: bold;
			font-size: 36px;
		}

		.detail-data {
			height: 100%;
			.detail-data__title {
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 10px;
				line-height: 22px;
			}

			.detail-data__subtitle {
				font-weight: bold;
				font-size: 12px;
			}
		}

		// disabled
		&.is--disabled {
			cursor: not-allowed;
			display: flex;
			align-items: center;
			.row {
				> .col-xs-3,
				> .col-xs-9 .detail-data__subtitle {
					display: none !important;
				}

				.detail-data__title {
					color: #dbdbdb;
					margin: unset;
				}
			}
		}

		&.has-notify {
			.amount-data {
				span {
					position: relative;
					&::after {
						content: '';
						display: inline-block;
						width: 8px;
						height: 8px;
						background-color: $red-mamikos;
						border-radius: 50%;
						position: absolute;
						right: -10px;
						top: 30%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}
</style>
