<template>
	<div class="owner-settings-document-verification-input-body">
		<div class="owner-settings-document-verification-input-body__top-section">
			Lakukan verifikasi identitas Anda untuk mencegah penyalahgunaan akun. Kami
			menjamin keamanan data Anda.
		</div>

		<owner-settings-document-verification-input-body-main
			class="owner-settings-document-verification-input-body__main-section"
		/>

		<div
			v-if="currentPhotoStep === 1"
			class="owner-settings-document-verification-input-body__bottom-section"
		>
			<p class="bottom-section-text">
				{{ bottomSectionText }}
			</p>
			<button class="bottom-section-button" @click="showDocumentTypeList">
				Pilih kartu identitas
			</button>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex';

import OwnerSettingsDocumentVerificationInputBodyMain from './OwnerSettingsDocumentVerificationInputBodyMain';

export default {
	name: 'OwnerSettingsDocumentVerificationInputBody',
	components: {
		OwnerSettingsDocumentVerificationInputBodyMain
	},
	computed: {
		...mapState('settingsDocumentVerification', [
			'currentPhotoStep',
			'selectedDocument'
		]),
		bottomSectionText() {
			return `Tidak punya ${this.selectedDocument.label}? Gunakan kartu identitas lainnya.`;
		}
	},
	methods: {
		showDocumentTypeList() {
			this.$emit('show-document-type-list');
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-input-body {
	&__top-section,
	&__bottom-section {
		font-size: 16px;
		line-height: 24px;
		color: #484848;
	}

	&__bottom-section {
		.bottom-section-text {
			margin-bottom: 8px;
		}

		.bottom-section-button {
			padding: 0;
			color: #404040;
			background: transparent;
			border: 0;
			border-bottom: 1px solid #404040;
			outline: 0;
		}
	}
}
</style>
