<template>
	<div class="owner-settings-document-verification-input-body-main">
		<div
			v-for="step in stepItems"
			:key="`step-${step.id}`"
			:class="stateClass(step.id)"
			class="owner-settings-document-verification-input-body-main__item"
		>
			<!-- STEP BULLET -->
			<div
				class="owner-settings-document-verification-input-body-main__item-bullet"
			>
				<div class="item-bullet-style">
					<div class="item-bullet-style__content">
						{{ step.id }}
					</div>
				</div>
			</div>

			<!-- STEP DESCRIPTION -->
			<div
				class="owner-settings-document-verification-input-body-main__item-description"
			>
				<span class="item-description-text">
					{{ adjustedStepDescription(step.description) }}
				</span>
				<check-icon
					v-if="stateClass(step.id) === 'completed'"
					class="item-description-check-icon"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import CheckIcon from 'Js/@icons/CheckRoundGreenOutline';

export default {
	name: 'OwnerSettingsDocumentVerificationInputBodyMain',
	components: { CheckIcon },
	computed: {
		...mapState('settingsDocumentVerification', [
			'selectedMethod',
			'currentPhotoStep',
			'selectedDocument'
		]),
		...mapGetters('settingsDocumentVerification', [
			'completedSteps',
			'documentLabel'
		]),
		stepItems() {
			return [
				{
					id: 1,
					description: `Foto ${this.selectedDocumentLabel}`
				},
				{
					id: 2,
					description: `Foto diri bersama ${this.selectedDocumentLabel}`
				}
			];
		},
		selectedDocumentLabel() {
			return this.documentLabel(this.selectedDocument.key, true);
		}
	},
	methods: {
		stateClass(stepId) {
			return this.completedSteps.includes(stepId)
				? 'completed'
				: this.currentPhotoStep === stepId
				? 'active'
				: 'disabled';
		},
		adjustedStepDescription(description) {
			return this.selectedMethod === 'upload'
				? `Upload ${description}`
				: description;
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable max-nesting-depth */
.owner-settings-document-verification-input-body-main {
	padding: 29px 0 12px;
	margin-left: 24px;

	&__item {
		display: flex;
		width: 100%;
		margin: 0 auto 28px;

		&.disabled {
			.item-bullet-style {
				color: #aaa;
				background-color: transparent;
				border: 1px solid #aaa;
			}

			.item-description-text {
				color: #aaa;
			}
		}

		&.completed {
			.item-bullet-style {
				color: #303030;
				background-color: transparent;
				border: 1px solid #303030;
			}
		}

		&-bullet {
			padding-top: 3px;

			.item-bullet-style {
				position: relative;
				width: 24px;
				height: 24px;
				font-size: 12px;
				font-weight: bold;
				line-height: 18px;
				color: #fff;
				text-align: center;
				background-color: #1baa56;
				border-radius: 50%;

				&__content {
					position: absolute;
					top: 50%;
					width: inherit;
					height: auto;
					transform: translateY(-50%);
				}
			}
		}

		&-description {
			position: relative;
			width: 100%;
			padding-bottom: 20px;
			margin-left: 18px;
			align-items: center;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			border-bottom: 1px solid #e8e8e8;

			.item-description-check-icon {
				position: absolute;
				top: 3px;
				right: 0;
			}
		}
	}
}
</style>
