<template>
	<div id="bookingRadioDuration" class="container-radio-duration">
		<div
			v-for="(price, index) in prices"
			class="rent-type-group"
			:key="index"
			v-if="price.priceItems"
		>
			<mami-radio
				v-model="rentCountType"
				:selected-value="price.value"
				:disabled="false"
			>
				<div class="rent-type">
					<div class="rent-type-desc">
						<span class="rent-type-desc--label">{{ price.label }}</span>
						<span
							v-if="rentCountType === price.value"
							class="rent-type-desc--selected"
							>{{ price.label | priceDescription }}</span
						>
					</div>

					<div class="price-value">
						<span v-if="price.priceItems.discount_price" class="--normal-price">
							Rp {{ price.priceItems.price }}
						</span>
						<strong>
							Rp
							{{
								price.priceItems.discount_price
									? price.priceItems.discount_price
									: price.priceItems.price
							}}
						</strong>
					</div>
				</div>
			</mami-radio>
		</div>
	</div>
</template>

<script>
const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

export default {
	components: {
		MamiRadio
	},

	filters: {
		priceDescription(priceLabel) {
			const priceLabelArr = priceLabel.split(' ');
			if (priceLabelArr.length === 2) {
				priceLabelArr[1] = `se${priceLabelArr[1].toLowerCase()}`;
			}
			priceLabelArr.splice(0, 1);
			return `Dibayar ${priceLabelArr.join(' ')} sekali`;
		}
	},

	computed: {
		prices() {
			return [
				{
					label: 'Per Minggu',
					value: 'weekly',
					priceItems: this.$store.state.detail.price_title_formats.price_weekly
				},
				{
					label: 'Per Bulan',
					value: 'monthly',
					priceItems: this.$store.state.detail.price_title_formats.price_monthly
				},
				{
					label: 'Per 3 Bulan',
					value: 'quarterly',
					priceItems: this.$store.state.detail.price_title_formats
						.price_quarterly
				},
				{
					label: 'Per 6 Bulan',
					value: 'semiannually',
					priceItems: this.$store.state.detail.price_title_formats
						.price_semiannually
				},
				{
					label: 'Per Tahun',
					value: 'yearly',
					priceItems: this.$store.state.detail.price_title_formats.price_yearly
				}
			];
		},
		rentCountType: {
			get() {
				return this.$store.state.params.rent_count_type;
			},
			set(rentCountType) {
				this.$store.commit('setRentCountType', rentCountType);
			}
		}
	},

	created() {
		if (!this.rentCountType) {
			this.$store.commit(
				'setRentCountType',
				this.$store.getters.defaultRentType || ''
			);
		}
	}
};
</script>

<style lang="scss" scoped>
.container-radio-duration {
	.rent-type {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #f4f4f4;
		padding: 1.5rem 0;

		.rent-type-desc {
			display: flex;
			flex-direction: column;

			&--label {
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
			}

			&--selected {
				font-size: 14px;
				line-height: 15px;
				color: #999;
			}
		}

		&:last-child {
			border: none;
		}

		.price-value {
			display: flex;
			flex-direction: column-reverse;
			align-items: flex-end;
			font-size: 16px;

			.--normal-price {
				color: #999999;
				font-size: 14px;
				text-decoration: line-through;
			}
		}
	}
}
</style>
