<template>
	<section
		v-click-outside="handleClickOutside"
		class="booking-input-checkin"
		:class="{ 'is-open': isShowDatePicker }"
	>
		<label v-if="label" class="booking-input-checkin__label">{{ label }}</label>
		<div class="booking-input-checkin__input-wrapper">
			<input
				:value="formatedSelectedDate"
				:class="{
					'is-flat': isFlat,
					'is-error': isShowErrorMessage && isError
				}"
				:placeholder="placeholder"
				:disabled="disabled"
				class="booking-input-checkin__input"
				type="text"
				readonly
				@click="toggleDatePicker"
			/>
			<icon-calendar
				class="booking-input-checkin__input-icon"
				@click.native="toggleDatePicker"
			/>
		</div>
		<span
			v-if="isShowErrorMessage && isError"
			class="booking-input-checkin__input-error"
		>
			Mohon isi tanggal masuk sewa
		</span>
		<booking-input-checkin-content
			v-show="isShowDatePicker && !disabled"
			class="booking-input-checkin__date"
			:class="{ 'is-absolute': isAbsolute }"
			:title="title"
			@date-selected="handleOnDateSelected"
		/>
	</section>
</template>

<script>
import IconCalendar from 'Js/@icons/Calendar';
import BookingInputCheckinContent from './BookingInputCheckinContent';
import ClickOutside from 'vue-click-outside';
import 'dayjs/locale/id';

import MixinBookingRequestDate from 'Js/_booking/request/mixins/MixinBookingRequestDate';
import MixinBookingAfterNightValidation from 'Js/_booking/request/mixins/MixinBookingAfterNightValidation';

export default {
	components: {
		IconCalendar,
		BookingInputCheckinContent
	},
	directives: {
		ClickOutside
	},
	mixins: [MixinBookingRequestDate, MixinBookingAfterNightValidation],
	props: {
		isScrollOnOpen: {
			type: Boolean,
			default: false
		},
		isFlat: {
			type: Boolean,
			default: false
		},
		isShowErrorMessage: {
			type: Boolean,
			default: false
		},
		isAbsolute: {
			type: Boolean,
			default: false
		},
		isCloseFromOutside: {
			type: Boolean,
			default: false
		},
		scrollTopOffset: {
			type: Number,
			default: 0
		},
		scrollParent: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		format: {
			type: String,
			default: 'D MMMM YYYY'
		},
		disabled: {
			type: Boolean,
			default: false
		},
		title: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			isError: false,
			isDatePickerClicked: false,
			isShowDatePicker: false,
			isOpenFromOutsite: false
		};
	},

	computed: {
		formatedSelectedDate() {
			return this.formatDate(this.checkinDate, this.format);
		},
		isValidCheckinDate() {
			return this.checkIsValidDate(this.checkinDate);
		}
	},

	watch: {
		isValidCheckinDate(isValid) {
			this.isError = !isValid;
		},
		isShowDatePicker(isShow) {
			if (isShow) {
				if (this.isScrollOnOpen) {
					this.$nextTick(() => {
						const datePicker = document.querySelector(
							'.booking-input-checkin__date'
						);
						if (datePicker) {
							const topPosition = datePicker.getBoundingClientRect().top;
							const bodyTop = document.body.getBoundingClientRect().top;
							const scrollPosition =
								topPosition - this.scrollTopOffset - bodyTop;
							const scrollParent = this.scrollParent
								? document.querySelector(this.scrollParent)
								: window;

							scrollParent &&
								scrollParent.scrollTo({
									top: scrollPosition,
									behavior: 'smooth'
								});
						}
					});
				}
				this.$emit('opened');
			} else {
				this.$emit('closed');
			}
		}
	},

	methods: {
		toggleDatePicker() {
			if (!this.disabled) {
				this.isShowDatePicker = !this.isShowDatePicker;
			}

			this.isShowDatePicker && this.trackViewedCalendar();
			this.handleNightValidation();
			this.isShowDatePicker &&
				this.nightValidation &&
				this.trackTimeWarningExecuted();
		},
		handleClickOutside() {
			if (!this.isOpenFromOutsite) {
				this.isShowDatePicker = false;
			}

			this.isOpenFromOutsite = false;
		},
		openDatePickerFromOutside() {
			this.isOpenFromOutsite = true;
			this.isShowDatePicker = true;
		},
		validateDate() {
			this.isError = !this.isValidCheckinDate;
		},
		handleOnDateSelected() {
			this.isShowDatePicker = false;
			this.$emit('date-selected');
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-input-checkin {
	position: relative;

	&__label {
		margin-bottom: 4px;
	}

	&__input-wrapper {
		position: relative;
		width: 100%;
	}

	&__input {
		width: 100%;
		height: 40px;
		box-sizing: border-box;
		padding: 12px 48px 16px 16px;
		font-size: 16px;
		line-height: 24px;
		color: #383746;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: right 16px center;
		background-size: 20px;
		border: 1px solid #dadada;
		border-radius: 4px;

		&-icon {
			position: absolute;
			top: calc(50% - 12px);
			right: 16px;
			width: 24px;
			height: 24px;
			color: #303030;
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		/* TO DO: enable this eslint rule */

		// eslint-disable-next-line no-use-before-define no-unused-vars
		/* stylelint-disable primer/no-unused-vars */
		$input: &;

		&:disabled {
			color: #dadada;
			background-color: #fff;

			+ #{$input}-icon {
				color: #dadada;
				cursor: default;
			}
		}

		&::placeholder {
			color: #949494;
			opacity: 1;
		}
	}

	&__date {
		position: relative;
		width: 374px;
		max-width: 100vw;
		padding: 16px 20px;
		border-radius: 4px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

		&.is-absolute {
			position: absolute;
			z-index: 1;
			margin-top: 4px;
		}
	}

	&__input.is-flat {
		padding: 1px 2px;
		background-position: right 0 center;
		background-size: 24px;
		border: 0;
		border-bottom: 2px solid #dbdbdb;
		border-radius: 0;

		&.is-error {
			border-color: #f42;
		}
	}

	&__input-error {
		position: absolute;
		display: block;
		margin-top: 8px;
		font-size: 14px;
		line-height: 21px;
		color: #f42;
	}
}
</style>
