<template>
	<div id="bookingInputDurationCounter">
		<mami-text-counter
			id="inputDuration"
			class="input-duration"
			label="Mau ngekos berapa lama?"
			:class="durationInputLabelClass"
			:disabled-counter="!durationList.length"
			:min="durationMin"
			:max="durationMax"
			:counter.sync="duration"
			:counter-label="durationLabel"
			:step="durationStep"
			disabled-text
			no-input-style
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import _find from 'lodash/find';

const MamiTextCounter = () =>
	import('Js/@components/mami-components/MamiTextCounter');

export default {
	components: {
		MamiTextCounter
	},

	data() {
		return {
			quarterlyDuration: [0, 3, 6, 9, 12],
			semiannuallyDuration: [0, 6, 12],
			durationInputLabel: '',
			loadingRentCount: false
		};
	},

	computed: {
		rentCountType() {
			return this.$store.state.bookingRoom.rent_count_type;
		},
		rentType() {
			return this.$store.state.params.rent_count_type;
		},
		durationLabel() {
			return this.$store.getters.durationLabel;
		},
		durationInputLabelClass() {
			return {
				'--loading': this.loadingRentCount
			};
		},
		durationList() {
			const selectedRentCountType = _find(this.rentCountType, [
				'format',
				this.rentType
			]);
			return _get(selectedRentCountType, 'data', []);
		},
		durationMin() {
			if (this.durationList.length > 0) {
				return Number(this.durationList[0].split(' ')[0]);
			}
			return 1;
		},
		durationStep() {
			if (this.rentType === 'quarterly') {
				return 3;
			} else if (this.rentType === 'semiannually') {
				return 6;
			}
			return 1;
		},
		durationMax() {
			return this.rentType === 'yearly' ? 3 : 12;
		},
		duration: {
			get() {
				return this.getDurationValue(
					this.$store.state.params.duration,
					this.rentType
				);
			},
			set(duration) {
				this.$store.commit(
					'setRentDuration',
					this.countParamsRentDuration(duration)
				);
			}
		}
	},

	watch: {
		rentType: {
			handler(val) {
				this.duration = this.durationMin || 1;
			}
		}
	},

	methods: {
		getDurationValue(duration, rentCountType) {
			if (rentCountType === 'quarterly') {
				return this.quarterlyDuration[duration];
			} else if (rentCountType === 'semiannually') {
				return this.semiannuallyDuration[duration];
			}

			return duration || 0;
		},
		countParamsRentDuration(duration) {
			let rentDuration = duration;
			let multiplePeriode = false;
			let durationIndex = 0;

			if (this.rentType === 'quarterly') {
				durationIndex = this.quarterlyDuration.indexOf(duration);
				multiplePeriode = true;
			} else if (this.rentType === 'semiannually') {
				durationIndex = this.semiannuallyDuration.indexOf(duration);
				multiplePeriode = true;
			}

			if (multiplePeriode) {
				rentDuration = durationIndex >= 0 ? durationIndex : 1;
			}

			return rentDuration;
		}
	}
};
</script>

<style lang="scss">
#bookingInputDurationCounter {
	.input-duration {
		::placeholder {
			color: #383746;
			opacity: 1;
		}

		&.--loading {
			::placeholder {
				color: #999;
			}
		}

		&__minimum-duration {
			color: #999;
			margin-top: 8px;
			display: block;
		}
	}

	.--input-deactive {
		.mami-text-counter__counter-minus {
			background-color: #f4f4f4;
			pointer-events: none;

			&::after {
				background-color: #dbdbdb;
			}
		}
	}
}
</style>
