<template>
	<detail-kost-modal
		class="booking-input-checkin-modal"
		is-backdrop-close
		:is-show="isShowModal"
		:close-button="false"
		@close="$emit('update:is-show-modal', false)"
	>
		<div class="booking-input-checkin-modal__content">
			<booking-input-checkin-content
				:title="title"
				@date-selected="$emit('date-selected')"
			/>
		</div>
		<template #modal-footer>
			<div
				class="action-button-container"
				:class="{ '--is-error': !!isShowRequiredMessage }"
			>
				<p
					v-show="isShowRequiredMessage && !nightValidation"
					class="required-checkin__error-message"
				>
					*Masukkan tanggal sebelum booking
				</p>
				<mami-button
					color="primary"
					size="large"
					class="btn-action track-booking-date-picker "
					block
					:class="{ '--is-disabled': isDisabledActionButton }"
					@click="handleActionButtonClick"
				>
					{{ actionButtonText }}
				</mami-button>
			</div>
		</template>
	</detail-kost-modal>
</template>

<script>
import BookingInputCheckinContent from './BookingInputCheckinContent';
import MixinBookingRequestDate from '../../mixins/MixinBookingRequestDate';
import DetailKostModal from 'Js/_detail/components/kost/DetailKostModal';
import MamiButton from 'Js/@components/mami-components/MamiButton';
import MixinBookingAfterNightValidation from '../../mixins/MixinBookingAfterNightValidation';

export default {
	components: {
		BookingInputCheckinContent,
		DetailKostModal,
		MamiButton
	},
	mixins: [MixinBookingRequestDate, MixinBookingAfterNightValidation],
	props: {
		isShowModal: {
			type: Boolean,
			default: false
		},
		actionButtonText: {
			type: String,
			default: 'Booking'
		},
		title: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isShowRequiredMessage: false
		};
	},
	computed: {
		isDisabledActionButton() {
			return (
				!this.checkinDate ||
				!this.$dayjs(this.checkinDate).isValid() ||
				this.nightValidation
			);
		}
	},
	watch: {
		isDisabledActionButton(isDisabled) {
			this.isShowRequiredMessage = isDisabled;
		}
	},
	created() {
		this.handleNightValidation();
	},
	methods: {
		handleActionButtonClick() {
			if (this.isDisabledActionButton) {
				this.isShowRequiredMessage = true;
			} else {
				this.$emit('action-button-clicked');
			}
		}
	}
};
</script>

<style lang="scss">
.booking-input-checkin-modal {
	.modal-content {
		display: flex;
		width: 572px;
		max-height: calc(100vh - 32px) !important;
		padding: 24px;
		overflow: hidden;
		flex-direction: column;
		background-color: #fff;
		border: 0;
		border-radius: 16px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

		.modal-header {
			display: none;
		}

		.modal-footer {
			display: none;
		}
	}

	&.modal.fade .modal-dialog {
		transform: translate(0, -5%);
	}

	&.modal.in .modal-dialog {
		transform: translate(0, 0);
	}

	.modal-dialog {
		display: flex;
		width: 100%;
		max-width: 100vw;
		height: 100%;
		padding: 30px 0;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
	}

	@media (max-width: 991px) {
		&.modal {
			overflow: hidden;
		}

		.modal-dialog {
			align-items: flex-end !important;
			width: 100% !important;
			padding: 0 !important;
		}

		.detail-booking-date__date-picker {
			margin: 8px 0;
		}

		.modal-content {
			width: 100% !important;
			padding: 0 !important;
			margin: 0 !important;
			overflow-y: auto;
			border: 0;
			border-radius: 20px 20px 0 0 !important;
		}

		.detail-kost-modal__nav {
			padding: 16px 38px 0;
		}

		.modal-button-close {
			margin-bottom: -20px;
		}

		&.modal.fade .modal-dialog {
			transform: translate3d(0, 100vh, 0) !important;
		}

		&.modal.in .modal-dialog {
			transform: translate3d(0, 1px, 0) !important;
		}
	}

	@media (max-width: 767px) {
		.detail-booking-date__date-picker {
			margin: 8px 0;
		}

		.detail-kost-modal__nav {
			padding: 8px 8px 0;
		}
	}
}
</style>

<style lang="scss" scoped>
/* TO DO: enable stylelint rules */

/* stylelint-disable selector-max-specificity, max-nesting-depth */
.booking-input-checkin-modal {
	.action-button-container {
		display: none;
		width: 100%;
		background-color: #fff;

		.btn-action {
			&.--is-disabled {
				color: #bbb;
				background-color: #f6f6f6;
				border: 0;
				box-shadow: none;

				&:hover,
				&:focus,
				&:active {
					color: #bbb;
					background-color: #f6f6f6;
					border: 0;
					box-shadow: none;
				}
			}
		}

		@media (max-width: 991px) {
			display: block;
		}
	}

	&__content {
		padding: 25px 16px 8px;
	}

	.required-checkin__error-message {
		margin: 0 0 4px;
		font-size: 14px;
		line-height: 20px;
		color: #da3438;
	}

	@media (min-width: 767px) {
		&__content {
			padding: 0 38px 28px;
		}

		.action-button-container {
			padding: 0 22px;
		}
	}
}
</style>
