<template>
	<div id="bookingInputPriceDate" class="booking-input-price">
		<div class="booking-input-price__title">
			<h2>Tentukan harga dan masa sewa yang Anda butuhkan</h2>
			<span>Pilih sesuai kebutuhan dan lamanya Anda akan menetap</span>
		</div>

		<booking-room-available-card class="booking-input-price__room-available" />

		<div class="booking-input-price__radio">
			<booking-input-duration-radio />
		</div>

		<div class="booking-input-price__counter">
			<booking-input-duration-counter />
			<span class="--info">
				Durasi sewa dapat disesuaikan di kemudian hari
			</span>
		</div>

		<div class="booking-input-price__checkin">
			<booking-input-checkin
				ref="bookingInputCheckin"
				class="form-date-checkin"
				label="Kapan mau mulai ngekos?"
				placeholder="Pilih tanggal masuk"
				scroll-parent="#bookingInputPriceDate"
				is-scroll-on-open
				is-close-from-outside
				is-show-error-message
				:scroll-top-offset="120"
				title="Pilih tanggal mulai ngekos"
			/>
		</div>
	</div>
</template>

<script>
import BookingInputCheckin from './BookingInputCheckin';
import BookingInputDurationCounter from './BookingInputDurationCounter';
import BookingInputDurationRadio from './BookingInputDurationRadio';
import BookingRoomAvailableCard from './BookingRoomAvailableCard';

export default {
	components: {
		BookingInputCheckin,
		BookingInputDurationCounter,
		BookingInputDurationRadio,
		BookingRoomAvailableCard
	}
};
</script>

<style lang="scss">
.booking-input-price {
	.booking-input-checkin {
		&__label {
			margin-bottom: 10px !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.booking-input-price {
	&__title {
		/* TO DO: enable this stylelint rule */

		/* stylelint-disable selector-max-type */
		h2 {
			font-size: 20px;
			font-weight: bold;
			line-height: 28px;
		}

		span {
			font-size: 16px;
		}
	}

	&__room-available {
		margin: 24px 0 40px;
	}

	&__radio {
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 1px solid #e8e8e8;
	}

	&__counter {
		padding: 20px 0;

		.--info {
			color: #949494;
		}
	}

	&__checkin {
		padding: 20px 0;
	}

	@media (max-width: 767px) {
		&__room-available {
			margin-bottom: 32px;
		}
	}
}
</style>
