<template>
	<div class="room-available-card">
		<icon-total-room class="room-available-card__icon" />
		<div class="room-available-card__label">Kamar Tersedia:</div>
		<div class="room-available-card__value">{{ roomAvailable }} Kamar</div>
	</div>
</template>

<script>
import IconTotalRoom from 'Js/@icons/TotalRoom';

export default {
	components: {
		IconTotalRoom
	},
	computed: {
		roomAvailable() {
			return this.$store.state.detail.available_room;
		}
	}
};
</script>

<style lang="scss" scoped>
.room-available-card {
	display: flex;
	width: 100%;
	padding: 16px;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 8px;

	> * {
		margin: 0;

		&:not(:first-child) {
			margin-top: 4px;
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
		color: #303030;
	}

	&__label {
		font-size: 16px;
		line-height: 24px;
		color: #949494;
	}

	&__value {
		font-size: 20px;
		font-weight: 900;
		line-height: 28px;
		color: #303030;
	}
}
</style>
