<template>
	<modal
		v-model="showModal"
		@ok="closeModal"
		@cancel="closeModal"
		effect="fade"
	>
		<div slot="modal-header" class="modal-header">
			<p class="title modal-title">Apa yang ingin anda ketahui..?</p>
		</div>

		<form @submit.prevent="submitRequest">
			<checkbox
				v-for="(question, index) in questionRequest"
				v-model="question.value"
				:key="index"
				type="info"
				class="modal-questions-check "
			>
				{{ question.text }}
			</checkbox>

			<hr />

			<p class="modal-semi-text">
				Tim MamiKos akan menghubungi Anda untuk menindaklanjuti permintaan Anda,
				silakan tinggalkan kontak Anda di bawah :
			</p>

			<div class="input-modal-promo">
				<label for="userDataName"> Nama <span class="required">*</span> </label>
				<input
					type="text"
					id="userDataName"
					placeholder="Tuliskan nama Anda di sini"
					minlength="3"
					required
					v-model="userData.name"
				/>
			</div>

			<div class="input-modal-promo">
				<label for="userDataPhone">
					Nomor HP <span class="required">*</span>
				</label>
				<input
					type="tel"
					id="userDataPhone"
					placeholder="Tuliskan handphone Anda di sini"
					required
					v-model="userData.phone"
				/>
			</div>

			<div class="input-modal-promo">
				<label for="userDataEmail">
					Email <span class="required">*</span>
				</label>
				<input
					type="email"
					id="userDataEmail"
					placeholder="Tuliskan email Anda di sini"
					required
					v-model="userData.email"
				/>
			</div>

			<div class="input-modal-promo">
				<label for="userDataStatus">
					Status <span class="required">*</span>
				</label>
				<select
					name="userDataStatus"
					id="userDataStatus"
					v-model="userData.userStatus"
				>
					<option :value="0">Pemilik</option>
					<option :value="1">Pengelola Kost</option>
					<option :value="2">Anak Kost</option>
					<option :value="3">Agen</option>
				</select>
			</div>

			<hr />

			<div class="input-modal-promo">
				<label for="userDataRoomName">
					Nama Kost <span class="required">*</span>
				</label>
				<input
					type="text"
					id="userDataRoomName"
					placeholder="Ex: Kost Griya Bagus Jakarta"
					minlength="4"
					required
					v-model="userData.roomName"
				/>
			</div>

			<div class="input-modal-promo">
				<label for="userDataName">
					Link
				</label>
				<input
					type="text"
					id="userDataName"
					placeholder="Ex: https://mamikos.com/room/kost-malang-kost-putri-eksklusif-kost-griya-kedawung-lowokwaru-malang-1"
					v-model="userData.roomLink"
				/>
			</div>
			<p class="modal-semi-text">
				Jika kost anda sudah ada di Mamikos, silakan tuliskan linknya
			</p>

			<div class="modal-button-container">
				<button
					type="button"
					class="btn btn-warning btn-box"
					@click="closeModal"
				>
					Batal
				</button>
				<button type="submit" class="btn btn-info btn-box">
					Kirim
				</button>
			</div>
		</form>
	</modal>
</template>

<script>
import { modal, checkbox, bsInput } from 'vue-strap';

export default {
	components: {
		modal,
		checkbox,
		bsInput
	},
	props: {
		show: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			questionRequest: [
				{
					value: false,
					text: 'Penjelasan Tentang Premium Membership'
				},
				{
					value: false,
					text: 'Ingin Daftarkan Kamar Saya Untuk Layanan Booking'
				},
				{
					value: false,
					text: 'Ingin Daftarkan Kost Saya Untuk Layanan Standarisasi'
				}
			],
			userData: {
				name: '',
				phone: '',
				email: '',
				userStatus: 0,
				roomName: '',
				roomLink: '' //optional
			}
		};
	},
	computed: {
		showModal: {
			get() {
				return this.show;
			},
			set() {}
		}
	},
	methods: {
		submitRequest() {
			if (this.validateForm()) {
				this.sendDirectionRequest();
			}
		},
		validateForm() {
			if (this.generateRequestItems().length == 0) {
				alert(
					'Pilih minimal satu pertanyaan yang ingin Anda ketahui (bisa memilih lebih dari satu)'
				);
				return false;
			} else if (
				this.userData.name == '' ||
				this.userData.phone == '' ||
				this.userData.email == '' ||
				this.userData.roomName == ''
			) {
				alert('Masih ada form yang belum diisi');
				return false;
			} else {
				return true;
			}
		},
		generateRequestItems() {
			let requestItems = [];
			this.questionRequest.forEach(item => {
				if (item.value) {
					requestItems.push(item.text);
				}
			});

			return requestItems;
		},

		sendDirectionRequest() {
			this.openSwalLoading();
			axios
				.post('/premium/request-direction', {
					'request-item': this.generateRequestItems(),
					name: this.userData.name,
					phone: this.userData.phone,
					email: this.userData.email,
					status: this.userData.userStatus,
					'kost-name': this.userData.roomName,
					'kost-url': this.userData.roomLink
				})
				.then(response => {
					if (response.data.status) {
						this.closeModal();
						this.swalSuccess(
							null,
							'Permintaan Anda telah berhasil dikirim.\nSilakan tunggu Tim dari MamiKos untuk menghubungi Anda.'
						);
					} else {
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		closeModal() {
			this.$emit('close-modal');
		}
	}
};
</script>

<style lang="scss">
.modal-dialog {
	width: 35em;
	@media screen and (max-width: 767px) {
		width: auto;
	}
}
.modal-header {
	border: none;
}
.modal-body {
	padding: 1.5rem 2.5rem;
}
.modal-footer {
	display: none;
}

// checkbox style override

.modal-questions-check {
	line-height: 1.2;
	margin-bottom: 1.8rem;
	color: #ec4a0c;
	padding: 1rem 1rem 1rem 3.5rem !important;
	border: 1px solid;
	transition: all 0.3s ease;
	cursor: pointer !important;
	user-select: none;

	&.active {
		color: #fff;
		background-color: #ec4a0c;
	}
	.icon {
		top: 1.2rem !important;
		left: 1.2rem !important;
	}
	&:not(.active) > .icon {
		background-color: #fff !important;
		border: 2px solid #ec4a0c !important;
	}
	&.active > .icon {
		background-color: #ec4a0c !important;
		border: 2px solid #fff !important;
	}
}
</style>

<style lang="scss" scoped>
.modal-title {
	font-size: 2em;
	margin-bottom: -2rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

.modal-semi-text {
	color: #999;
	margin-bottom: 2rem;
	width: 30em;
}

.input-modal-promo {
	display: flex;
	width: auto;
	margin: 1rem 0;
	@media screen and (max-width: 480px) {
		flex-direction: column;
	}

	label {
		flex: 1;
		padding: 0.4rem 1rem;
	}
	input,
	select {
		flex: 3;
		padding: 0.4rem 1rem;
		border: 1px solid #ccc;
		border-radius: 3px;

		&:focus {
			border: 1px solid #2ed573;
		}
	}
}

.modal-button-container {
	padding: 2rem;
	text-align: right;
}
.btn-box {
	padding: 1rem 2rem;
	border-radius: 2px;
	font-weight: 600;
	border-color: #ec4a0c;
}
.required {
	color: #ff4422;
}
</style>
