<template>
	<div id="manageOwnerBooking">
		<div class="header-section">
			<div class="left-header-section">
				<h1 class="title-section">
					<span class="title-blur">Kelola Penyewa</span> - {{ kostName }}
				</h1>
			</div>
		</div>

		<div v-if="userRoomsLength === 0" class="custom-top-distance">
			<manage-message-page
				image-message="/general/img/pictures/mamipay/owner/ilustration_nothing-kost.png"
				title-message="Belum ada Kos di sini"
				description-message="Kos Anda belum ada yang terdaftar untuk fitur Booking. Yuk, daftar sekarang!"
				alt-image="Ilustration Room list not found"
			>
				<a
					slot="button"
					target="_blank"
					href="/ownerpage/add"
					class="btn btn-primary"
				>
					+ Tambah data properti
				</a>
			</manage-message-page>
		</div>

		<div
			v-else-if="!userRoom.booking_status && bookingActiveStatus == 'waiting'"
			class="wrapper-section distance-wrapper"
		>
			<manage-message-page
				image-message="/general/img/pictures/mamipay/owner/ilustration_waiting-proccess.png"
				description-message="Terima kasih sudah mendaftar Booking Langsung. Mohon menunggu pemberitahuan berikutnya dari kami."
				alt-image="Ilustration Waiting Proccess"
			></manage-message-page>
		</div>

		<div
			v-else-if="!userRoom.booking_status || bookingActiveStatus == 'reject'"
			class="wrapper-section distance-wrapper-not-active"
		>
			<manage-message-page
				image-message="/general/img/pictures/voucherku/img_voucher_empty.svg"
				title-message="Kos Anda belum bisa di-booking langsung"
				description-message="Agar lebih mudah dicari dan disewa oleh penyewa, daftarkan kos Anda untuk pakai Booking Langsung."
				alt-image="Ilustration Booking is not active"
			>
				<button
					slot="button"
					class="btn btn-primary"
					@click="openModalActiveBooking"
				>
					Daftar Sekarang
				</button>
			</manage-message-page>
		</div>

		<div v-else>
			<div class="wrapper-section">
				<manage-header-table
					:tenant-id="deleteItem"
					:data-length="rowsBillLength"
				></manage-header-table>
			</div>

			<div v-if="rowsBillLength != 0" class="wrapper-section">
				<vue-good-table
					v-if="rowsBill"
					mode="remote"
					:columns="columns"
					:rows="rowsBill"
					:pagination-options="{
						enabled: true,
						perPage: perPage
					}"
					:sort-options="{
						enabled: true
					}"
					:select-options="{
						enabled: false,
						disableSelectInfo: true,
						selectOnCheckboxOnly: true
					}"
					:search-options="{ enabled: true, externalQuery: querySearch }"
					:style-class="styleControl"
					@on-selected-rows-change="selectionChanged"
					@on-sort-change="onSortChange"
					@on-row-click=""
					@on-cell-click="goToDetailBill"
				>
					<template slot="table-row" slot-scope="props">
						<span v-if="props.column.field == 'tenantName'">
							<div class="name-box">
								<img
									v-if="props.row.photo"
									:src="props.row.photo.medium"
									alt="Photo User"
									@error="onImageError"
								/>
								<img
									v-else
									src="/general/img/pictures/default-user-image.png"
									alt="Photo User Default"
								/>
								<span>
									{{ props.formattedRow[props.column.field] }}
									<br />
									<span
										:class="
											statusLabel(
												props.row['terminateInfo'],
												props.row['hasCheckIn']
											)
										"
										><span
											v-if="
												props.row['terminateInfo'] &&
													props.row['terminateInfo'].status === 'confirmed'
											"
											>Sewa telah selesai</span
										>
										<span
											v-else-if="
												props.row['terminateInfo'] &&
													props.row['terminateInfo'].status === 'waiting'
											"
											>Berhenti sewa kos</span
										>
										<span v-else-if="props.row['hasCheckIn']"
											>Telah Check-in kos</span
										>
									</span></span
								>
							</div>
						</span>
						<span v-else-if="props.column.field == 'paymentStatusCode'">
							<span
								v-if="props.formattedRow[props.column.field] == 'paid'"
								class="label label-success label-custom"
								>DIBAYAR</span
							>
							<span
								v-else-if="
									props.formattedRow[props.column.field] == 'not_in_mamipay' ||
										props.formattedRow[props.column.field] == 'transferred'
								"
								class="label label-success label-custom"
							>
								Pembayaran di luar MamiPAY
							</span>
							<span v-else class="label label-danger label-custom"
								>BELUM DIBAYAR</span
							>
						</span>
						<span v-else-if="props.column.field == 'roomNumber'">
							<span class="room-number">
								{{ props.row.roomNumber }}
							</span>
						</span>
						<span v-else-if="props.column.field == 'amount'">
							<span class="total-bill"
								>Rp.
								{{ convertToRupiah(props.formattedRow[props.column.field]) }}
							</span>
						</span>
						<span v-else-if="props.column.field == 'menu'">
							<manage-bill-menu
								:status-termination="
									props.row['terminateInfo'] &&
										props.row['terminateInfo'].status
								"
								:tenant-id="props.formattedRow[props.column.field]"
								:tenant-name="props.formattedRow['tenantName']"
								:checkout-date="props.row['checkoutDate']"
							></manage-bill-menu>
						</span>
						<span v-else-if="props.column.field == 'renewButton'">
							<a
								v-if="
									props.formattedRow[props.column.field] &&
										!isHiddenExtendButton
								"
								v-tooltip="`Perpanjang Kontrak Penyewa`"
								:href="
									`/ownerpage/manage/profile-tenant/${props.formattedRow['menu']}/billing-tenant#perpanjanganDurasi`
								"
								class="btn btn-primary"
								>Perpanjang</a
							>
						</span>
					</template>
					<div slot="emptystate">
						<manage-message-page
							class="margin-top-custom"
							image-message="/general/img/pictures/mamipay/owner/ilustration_empty-bill.png"
							title-message="Belum ada tagihan Penyewa di sini"
							description-message="Tambah Penyewa Kos untuk memudahkan Anda melakukan penagihan."
						>
							<router-link
								slot="button"
								to="/add-tenant/check-phone"
								class="btn btn-primary"
							>
								<img
									v-lazy="'/general/img/icons/ic_add-user_white.svg'"
									alt="Icon add user"
								/>
								<span>Tambah data penghuni kost</span>
							</router-link>
						</manage-message-page>
					</div>
					<template slot="pagination-bottom" slot-scope="props">
						<manage-bill-pagination
							:per-page="perPage"
							:total="props.total"
							:page-changed="props.pageChanged"
							:per-page-changed="props.perPageChanged"
						></manage-bill-pagination>
					</template>
				</vue-good-table>
			</div>

			<div v-else class="wrapper-section">
				<manage-message-page
					class="margin-top-custom"
					image-message="/general/img/pictures/mamipay/owner/ilustration_empty-bill.png"
					title-message="Belum ada tagihan Penyewa di sini"
					description-message="Tambah Penyewa Kos untuk memudahkan Anda melakukan penagihan."
				>
					<router-link
						slot="button"
						to="/add-tenant/check-phone"
						class="btn btn-primary"
					>
						<img
							v-lazy="'/general/img/icons/ic_add-user_white.svg'"
							alt="Icon add user"
						/>
						<span>Tambah data penghuni kost</span>
					</router-link>
				</manage-message-page>
			</div>
		</div>
	</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';

import ManageMessagePage from '../ManageMessagePage';
import ManageBillPagination from './ManageBillPagination';
import ManageHeaderTable from './ManageHeaderTable';
import ManageBillMenu from './ManageBillMenu';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		VueGoodTable,
		ManageMessagePage,
		ManageBillPagination,
		ManageHeaderTable,
		ManageBillMenu
	},
	mixins: [MixinMamipayBill],

	data() {
		return {
			deleteItem: '',
			activeBooking: false,
			querySearch: '',
			sortColumns: [
				{ field: 'tenantName', type: 'asc' },
				{ field: 'roomNumber', type: 'asc' },
				{ field: 'paymentStatusCode', type: 'asc' },
				{ field: 'paymentSchedule', type: 'asc' },
				{ field: 'contractEndDate', type: 'asc' }
			],
			columns: [
				{
					label: 'Nama Penyewa',
					field: 'tenantName'
				},
				{
					label: 'No. Kamar',
					field: 'roomNumber'
				},
				{
					label: 'Status',
					field: 'paymentStatusCode'
				},
				{
					label: 'Jatuh Tempo',
					field: 'paymentSchedule'
				},
				{
					label: 'Tanggal Keluar',
					field: 'contractEndDate'
				},
				{
					label: 'Jumlah Penagihan',
					field: 'amount'
				},
				{
					label: '',
					sortable: false,
					field: 'renewButton'
				},
				{
					label: '',
					sortable: false,
					field: 'menu'
				}
			],
			isHiddenExtendButton: true
		};
	},

	computed: {
		bookingActiveStatus() {
			return this.$store.state.userRoomStatus.booking_active_status;
		},
		rowsBillLength() {
			if (this.rowsBill) {
				return this.rowsBill.length || 0;
			} else {
				return 0;
			}
		},
		rowsBill() {
			return this.$store.state.manageBill.listBill.data;
		},
		styleControl() {
			if (!this.rowsBill) {
				return 'vgt-table striped empty-data';
			} else {
				return 'vgt-table striped';
			}
		},
		kostName() {
			return this.$store.state.userRoom.room_title;
		},
		userRoom() {
			return this.$store.state.userRoom;
		},
		userRooms() {
			return this.$store.state.userRooms;
		},
		userRoomsLength() {
			if (this.userRooms) {
				return this.userRooms.length || 0;
			} else {
				return 0;
			}
		}
	},

	created() {
		const ROOM_ID = this.$route.params.seq;
		const USER_ROOM_LENGTH = Object.keys(this.userRoom).length;
		const USER_ROOMS_LENGTH = this.userRooms.length;

		const isRoomSelected =
			ROOM_ID != 'all' || !USER_ROOM_LENGTH || !USER_ROOMS_LENGTH;

		this.initPaginationNumber(1);

		if (isRoomSelected) {
			this.getUserRooms(ROOM_ID);
		} else {
			this.getAllDataBill();
		}
	},

	methods: {
		initPaginationNumber(pageNumber) {
			this.$store.commit('setBillSelectedNumberPagination', pageNumber);
		},
		statusLabel(terminateInfo, hasCheckIn) {
			const { status } = terminateInfo;
			if (terminateInfo && status === 'waiting') {
				return '--status-waiting';
			} else if (terminateInfo && status === 'confirmed') {
				return '--status-confirmed';
			} else if (hasCheckIn) {
				return '--status-checkin';
			}
		},
		openModalActiveBooking() {
			EventBus.$emit('modalActiveBooking', true);
		},
		onImageError(event) {
			event.target.src = '/general/img/pictures/default-user-image.png';
		},
		columnValueForSendToApi(columnTable) {
			if (columnTable == 'tenantName') {
				return 'name';
			} else if (columnTable == 'roomNumber') {
				return 'room-number';
			} else if (columnTable == 'paymentStatusCode') {
				return 'status';
			} else if (columnTable == 'paymentSchedule') {
				return 'date';
			} else if (columnTable == 'contractEndDate') {
				return 'end-date';
			} else if (columnTable == 'amount') {
				return 'amount';
			} else {
				return false;
			}
		},
		onSortChange(params) {
			const columnName = this.columnValueForSendToApi(params[0].field);
			if (columnName) {
				this.getBill(
					this.userRoom.id,
					this.searchBill,
					null,
					null,
					null,
					null,
					params[0].type,
					columnName
				);
				this.$store.commit('setSearchBillOrder', columnName);
				this.$store.commit('setSearchBillSort', params[0].type);
			}
		},
		convertToRupiah(val) {
			return val.toLocaleString('id-ID');
		},
		goToDetailBill(params) {
			if (params.column.field != 'menu') {
				this.$router.push(
					`/profile-tenant/${params.row.contractId}/payment-tenant`
				);
			}
		},
		selectionChanged(val) {
			let i = 0;
			const list = [];
			val.selectedRows.forEach(data => {
				list[i] = data.menu;
				i++;
			});
			this.deleteItem = list.join();
		},

		searchInput(val) {
			this.querySearch = val;
		}
	}
};
</script>

<style lang="scss">
@import '../../style/StyleTooltip.scss';
@import '../../style/TableStyle.scss';
</style>

<style lang="scss" scoped>
@import '../../style/PageStyle.scss';

.distance-wrapper {
	margin-top: 12rem;
}

.distance-wrapper-not-active {
	margin-top: 6rem;
}
</style>

<style lang="scss" scoped>
.room-number {
	word-break: break-word;
	max-width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
</style>
