<template>
	<div id="inputSearchDate" class="wrapper-status-filter">
		<datepicker
			v-model="dateSelected"
			:format="formatDate"
			minimum-view="month"
			maximum-view="month"
			@selected="getDataBill"
		></datepicker>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

export default {
	mixins: [MixinMamipayBill],

	components: {
		Datepicker
	},

	data() {
		return {
			dateSelected: ''
		};
	},

	computed: {
		userRoomId() {
			return this.$store.state.userRoom.id;
		}
	},

	mounted() {
		this.dateSelected = this.$dayjs().format();
	},

	methods: {
		formatDate(val) {
			return this.$dayjs(val).format('MMMM - YYYY');
		},
		getDataBill(val) {
			this.$store.commit('setBillDatePeriode', val);
			this.searchBillMonth = this.$dayjs(val).format('M');
			this.searchBillYear = this.$dayjs(val).format('YYYY');
			this.getBill(
				this.userRoomId,
				null,
				this.searchBillMonth,
				this.searchBillYear,
				null,
				'0'
			);
			this.getDataBillReport(val);
			this.setNumberPaginationToFirst();
		},
		getDataBillReport(val) {
			this.getReportBill(
				this.userRoomId,
				this.$dayjs(val).format('M'),
				this.$dayjs(val).format('YYYY')
			);
		},
		setNumberPaginationToFirst() {
			this.$store.commit('setBillSelectedNumberPagination', 1);
		}
	}
};
</script>

<style lang="scss">
#inputSearchDate {
	.vdp-datepicker {
		input {
			width: 100%;
			height: 53px;
			background: #ffffff;
			border: 0.5px solid #e4e4e4;
			box-sizing: border-box;
			box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.04);
			border-radius: 5px;
			text-indent: 20px;
			background-image: url('/general/img/icons/ic_date-mamipay_grey.svg');
			background-repeat: no-repeat;
			background-position: right 12px center;
			background-size: 24px;
		}
	}

	.vdp-datepicker__calendar {
		border-radius: 5px;
		border: 1px solid #e4e4e4;
	}
}
</style>

<style lang="scss" scoped>
.wrapper-status-filter {
	width: 236px;
	max-width: 236px;
	position: relative;
}
</style>
