<template>
	<div>
		<dropdown class="button-setting">
			<a slot="button" href="#"
				><img
					v-lazy="'/general/img/icons/ic_setting.svg'"
					alt="Icon Setting"
					class="image-setting"
			/></a>
			<ul slot="dropdown-menu" class="dropdown-menu">
				<li>
					<router-link
						:to="`/profile-tenant/${tenantId}/payment-tenant`"
						class="menu-link"
						><img
							src="/general/img/icons/ic_bill-mamipay_o.svg"
							alt="Icon bill"
						/>
						<span class="green">Tagihan</span></router-link
					>
				</li>
				<li>
					<router-link
						:to="`/profile-tenant/${tenantId}/biodata-tenant`"
						class="menu-link"
					>
						<img
							src="/general/img/icons/ic_user-mamipay_o.svg"
							alt="Icon user"
						/>
						<span>Biodata</span>
					</router-link>
				</li>
				<li>
					<router-link
						:to="`/profile-tenant/${tenantId}/billing-tenant`"
						class="menu-link"
					>
						<img
							src="/general/img/icons/ic_edit-mamipay_o.svg"
							alt="Icon edit"
						/>
						<span>Atur Kontak</span>
					</router-link>
				</li>
				<li v-if="statusTermination === 'noCheckout'">
					<a class="menu-link" @click="openModalReasonStopRent">
						<img src="/general/img/icons/ic_bin-mamipay_o.svg" alt="Icon bin" />
						<span class="red">Hentikan Kontrak</span>
					</a>
				</li>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		dropdown
	},
	mixins: [MixinMamipayBill],

	props: {
		tenantId: {
			type: Number,
			default: 0,
			required: true
		},
		tenantName: {
			type: String,
			default: ''
		},
		checkoutDate: {
			type: Array,
			default: () => {
				return [];
			}
		},
		statusTermination: {
			type: String,
			default: 'noCheckout'
		}
	},

	data() {
		return {
			isModalDelete: false
		};
	},

	methods: {
		openModalReasonStopRent() {
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true,
				contractId: this.tenantId,
				tenantName: this.tenantName,
				checkoutDateList: this.checkoutDate
			});
		}
	}
};
</script>

<style lang="scss">
.button-setting {
	.btn {
		border: 0px;
		background-color: #f3fbf6;
		.caret {
			display: none;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: #ffffff !important;
			box-shadow: none;
		}
	}
}

.open {
	> .dropdown-menu {
		left: unset;
		right: 0;
	}
}
</style>

<style lang="scss" scoped>
.menu-link {
	> img {
		margin-right: 0.8rem;
		width: 14px;
		height: 14px;
	}

	> span {
		&.green {
			color: #27ab27;
		}

		&.red {
			color: #ff6f55;
		}
	}
}
</style>
