<template>
	<div class="wrapper-input-filter">
		<input
			v-model="textSearch"
			placeholder="Cari kamar atau penyewa"
			class="input-filter-kost"
			type="text"
			@keyup.enter="getSearch"
		/>
		<img
			v-lazy="'/general/img/icons/ic_search-magnifier_green.svg'"
			class="icon-down"
			alt="Image Magnifier"
			@click="getSearch"
		/>
	</div>
</template>

<script>
import MixinMamipayBill from '../../mixins/MixinMamipayBill';

export default {
	mixins: [MixinMamipayBill],

	props: {
		dataLength: {
			type: Number,
			required: true,
			default: 0
		}
	},

	data() {
		return {
			textSearch: ''
		};
	},

	computed: {
		userRoomId() {
			return this.$store.state.userRoom.id;
		},
		billMonth() {
			return this.$store.state.manageBill.searchBill.month;
		}
	},

	methods: {
		getSearch() {
			this.getBill(this.userRoomId, this.textSearch, null, null, null, '0');
			this.setNumberPaginationToFirst();
		},
		setNumberPaginationToFirst() {
			this.$store.commit('setBillSelectedNumberPagination', 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-input-filter {
	width: 236px;
	max-width: 236px;
	position: relative;

	img {
		&.icon-down {
			position: absolute;
			top: 17px;
			right: 14px;
			cursor: pointer;
		}
	}
}

.input-filter-kost {
	width: 100%;
	height: 53px;
	background: #ffffff;
	border: 0.5px solid #e4e4e4;
	box-sizing: border-box;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	text-indent: 20px;
}
</style>
