<template>
	<div id="manageTablePagination">
		<paginate
			ref="pagination"
			v-model="selectedNumberPagination"
			:page-count="totalPage"
			:click-handler="pageChanged"
			:prev-text="'<'"
			:next-text="'>'"
			:container-class="'pagination-table'"
			:break-view-link-class="'break-pagination'"
			:page-class="'page-item'"
		>
		</paginate>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

export default {
	components: {
		paginate
	},
	mixins: [MixinMamipayBill],

	computed: {
		totalPage() {
			return this.$store.state.manageBill.searchBill.totalPage;
		},
		userRoomId() {
			return this.$store.state.userRoom.id;
		},
		selectedNumberPagination: {
			get() {
				return this.$store.state.manageBill.searchBill.selectedNumberPagination;
			},
			set(val) {
				this.$store.commit('setBillSelectedNumberPagination', val);
			}
		}
	},

	methods: {
		pageChanged(activePage) {
			const pageOffset =
				this.searchBillLimit * activePage - this.searchBillLimit;
			this.$store.commit('setSearchBillOffset', pageOffset);
			this.getBill(
				this.userRoomId,
				this.searchBill,
				this.searchBillMonth,
				null,
				null,
				pageOffset
			);
		}
	}
};
</script>
