<template>
	<div id="manageHeaderTable">
		<div class="right-box">
			<span class="title">Periode Tagihan</span>
			<div class="wrapper-in-box">
				<manage-input-search-date
					class="add-margin-right"
				></manage-input-search-date>
				<button
					v-if="!isHiddenButtonStopContract"
					:disabled="isButtonDisabled"
					@click="openModalReasonStopRent"
					class="btn btn-danger is-btn-search-red is-flex-button"
				>
					<span class="text-add-user-button">Hentikan Kontrak</span>
				</button>
			</div>
		</div>
		<div class="left-box">
			<manage-input-search-tenant
				:dataLength="dataLength"
				class="add-margin-right"
			></manage-input-search-tenant>
			<button
				@click="openReportBill = !openReportBill"
				class="btn btn-primary is-btn-search-red is-flex-button"
			>
				<img
					v-lazy="'/general/img/icons/ic_download_white_o.svg'"
					alt="Icon download"
				/>
				<span class="text-add-user-button">Download laporan</span>
			</button>
		</div>
		<manage-modal-bill-report
			:show-modal="openReportBill"
			@closeModal="openReportBill = !openReportBill"
		></manage-modal-bill-report>
	</div>
</template>

<script>
import ManageInputSearchDate from './ManageInputSearchDate';
import ManageInputSearchTenant from './ManageInputSearchTenant';

import ManageModalBillReport from './ManageModalBillReport';

import EventBus from '../../event-bus/event-bus';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

export default {
	mixins: [MixinMamipayBill],

	components: {
		ManageInputSearchDate,
		ManageInputSearchTenant,
		ManageModalBillReport
	},

	props: {
		tenantId: {
			type: String,
			required: true
		},
		dataLength: {
			type: Number,
			required: true,
			default: 0
		}
	},

	computed: {
		isButtonDisabled() {
			return !this.tenantId;
		}
	},

	data() {
		return {
			isModalDelete: false,
			openReportBill: false,
			isHiddenButtonStopContract: true
		};
	},

	methods: {
		openModalReasonStopRent() {
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true,
				contractId: this.tenantId
			});
		}
	}
};
</script>

<style lang="scss" scoped>
#manageHeaderTable {
	display: flex;
	justify-content: space-between;
}

.is-flex-button {
	display: flex;
	align-items: center;

	> img {
		top: 0;
	}
}

.title {
	color: #000000;
	display: block;
	margin-bottom: 2rem;
	font-size: 1.1em;
}

.right-box,
.left-box {
	width: 50%;
}

.left-box {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.wrapper-in-box {
	display: flex;
}

.add-margin-right {
	margin-right: 2rem;
}
</style>
