<template>
	<div id="manageDetailBilling">
		<modal
			v-model="showModal"
			effect="zoom"
			:backdrop="false"
			@opened="getPaymentSchedule(billingTenant.menu)"
			@cancel="cancelModal"
		>
			<div slot="modal-header" class="modal-header">
				<div class="row">
					<div class="col-xs-6 info-header --cursor-pointer">
						<h4>
							<strong>{{ tenantName }} ({{ tenantRoom }})</strong>
						</h4>
						<p
							v-clipboard:copy="billingTenant.invoiceNumber"
							v-clipboard:success="clipboardOnCopy"
							v-clipboard:error="clipboardOnError"
						>
							{{ billingTenant.invoiceNumber }}
							<img
								v-lazy="`/general/img/icons/ic_copy_green.svg`"
								alt="Icon Copy"
								width="13px"
							/>
						</p>
					</div>
					<div class="col-xs-6">
						<button type="button" class="close" @click="cancelModal">
							<img
								v-lazy="'/general/img/icons/ic_close-mamipay_black.svg'"
								alt="Icon Close"
							/>
						</button>
					</div>
				</div>
			</div>

			<div class="wrapper-detail-billing">
				<div class="row custom-row-wrapper">
					<div class="col-xs-8 custom-row-left custom-border-right no-padding">
						<div class="table-billing --is-custom-border-bottom">
							<table style="width:100%">
								<thead>
									<tr>
										<th>Status</th>
										<th>Keterangan</th>
										<th>Jumlah Tagihan</th>
										<th>Tanggal Penagihan</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<span
												v-if="isPaidBilling"
												class="label label-success label-custom"
												>Dibayar</span
											>
											<span
												v-else-if="isNotPaidInMamipay"
												class="label label-success label-custom"
												>Pembayaran di luar MamiPAY</span
											>
											<span v-else class="label label-danger label-custom"
												>Belum Dibayar</span
											>
										</td>
										<td>
											<span
												:class="{
													'--is-green-color': isPaidBilling,
													'--is-red-color': !isPaidBilling
												}"
												>{{ billingTenant.paymentDescription }}</span
											>
										</td>
										<td>
											<span class="text-primary is-bold --is-red-color">
												Rp{{
													billingTenant.billingAmount.toLocaleString('id-ID')
												}}
											</span>
										</td>
										<td>
											{{
												$dayjs(billingTenant.dateBill).format('DD MMMM YYYY')
											}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div
							class="other-cost"
							:class="{
								'--is-custom-border-bottom': !isDownPayment
							}"
						>
							<span v-if="isDownPayment" class="title-other-cost">
								Uang Muka Sewa
							</span>
							<span v-else-if="isSettlement" class="title-other-cost"
								>Selisih Dari Uang Muka
							</span>
							<span v-else class="title-other-cost"
								>Harga Sewa {{ rentCountLabel[rentTypeText] }}
							</span>
							<manage-popper
								:description="infoPopperInputAmount"
								class="image-wrapper"
							>
								<img
									src="/general/img/icons/ic_alert_icon-mamipay_grey_o.svg"
									alt="icon information"
									class="image"
								/>
							</manage-popper>
							<div class="wrapper-input-cost">
								<manage-input-amount-bill
									:status-invoice="billingTenant.status"
									:invoice-id="billingTenant.menu"
									:invoice-number="billingTenant.invoiceNumber"
									:init-amount-bill="basicAmount"
									@updateDetailBill="getPaymentSchedule"
								></manage-input-amount-bill>

								<detail-billing-other-cost
									v-if="isFlashSale && !isDownPayment"
									popper-description="Potongan ini hanya
berlaku untuk Harga Sewa"
									:is-discount="true"
									:title="flashSaleTitle"
									:subs="flashSaleDetail"
									:value="`${flashSaleAmount.toLocaleString('id-ID')}`"
								></detail-billing-other-cost>
							</div>
						</div>

						<div
							v-if="isShowInputOtherCostPayment"
							class="other-cost --is-custom-border-bottom"
						>
							<div class="wrapper-input-cost">
								<manage-input-other-cost-payment
									:status-invoice="billingTenant.status"
									:invoice-id="billingTenant.menu"
									:invoice-number="billingTenant.invoiceNumber"
									@isApplyAllCost="actionApplyAllCost"
								></manage-input-other-cost-payment>
							</div>
						</div>

						<div v-if="isShowFooterBillDetail" class="other-cost">
							<div class="wrapper-input-cost">
								<detail-billing-other-cost
									v-if="
										otherCostComponent.deposit.amount !== 0 && !isDownPayment
									"
									:title="otherCostComponent.deposit.name"
									:value="
										`Rp${otherCostComponent.deposit.amount.toLocaleString(
											'id-ID'
										)}`
									"
								></detail-billing-other-cost>
								<detail-billing-other-cost
									v-if="otherCostComponent.admin.amount !== 0"
									:title="otherCostComponent.admin.name"
									:value="
										`Rp${otherCostComponent.admin.amount.toLocaleString(
											'id-ID'
										)}`
									"
								></detail-billing-other-cost>
								<detail-billing-other-cost
									v-if="otherCostComponent.discount.amount !== 0"
									:is-discount="true"
									:title="otherCostComponent.discount.name"
									:subs="['100% akan di tanggung oleh Mamikos']"
									:value="
										`Rp${otherCostComponent.discount.amount.toLocaleString(
											'id-ID'
										)}`
									"
								></detail-billing-other-cost>
								<span class="dashed-line"></span>
								<detail-billing-other-cost
									:is-total="true"
									title="Total dibayar penyewa"
									:value="
										`Rp${billingTenant.billingAmount.toLocaleString('id-ID')}`
									"
								></detail-billing-other-cost>
							</div>
						</div>

						<div
							v-if="!isNonActiveInvoice"
							class="other-cost --is-button-save-bill"
						>
							<button
								:disabled="isEndedContract"
								class="btn btn-success"
								@click="saveBilling"
							>
								Simpan Perubahan Harga
							</button>
						</div>
					</div>
					<div class="col-xs-4 custom-row-right no-padding">
						<div
							v-if="billingTenant.status === 'paid'"
							class="wrapper-info-disbursement"
						>
							<span class="title">{{ disbursementInfo }}</span
							><br />
							<span class="sub"
								>(Jumlah bersih yang telah dipotong oleh biaya layanan dan
								lain-lain.)
							</span>
						</div>

						<div
							v-if="billingTenant.status !== 'paid'"
							class="wrapper-checked-payment"
						>
							<checkbox
								v-model="paidOutside"
								class="--is-custom-checkbox"
								:true-value="true"
								type="success"
								:disabled="isEndedContract"
								><span class="label-checkbox"
									>Tandai Invoice dibayar di luar MamiPAY</span
								></checkbox
							>
						</div>

						<div class="wrapper-timeline">
							<manage-detail-timeline
								:timeline-invoice="dataTimeline"
							></manage-detail-timeline>
						</div>

						<div
							v-if="isCanReminderTenant"
							class="wrapper-button-remember-tenant"
						>
							<button
								class="btn btn-primary --is-button-custom-remember"
								@click="modalRememberTenant = true"
							>
								Ingatkan Penyewa Bayar
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="footer"></div>

			<div slot="modal-footer" class="modal-footer"></div>
		</modal>

		<manage-other-custom-action-modal :show-modal.sync="modalPayOutsideMamipay">
			<span slot="textHeader"
				>Yakin menandai tagihan ini sudah dibayar diluar MamiPAY?</span
			>
			<span slot="textDescription"
				>Pastikan kembali penyewa sudah membayar. karena setelah Anda menandai
				proses tidak bisa di batalkan dan Penyewa di anggap telah membayar
				tagihan kepada Anda di luar MamiPAY</span
			>
			<div slot="button">
				<button
					class="btn --is-custom-btn"
					@click="modalPayOutsideMamipay = false"
				>
					Batalkan
				</button>
				<button
					class="btn btn-primary"
					@click="setManualPayment(billingTenant.menu)"
				>
					Ya, Tandai
				</button>
			</div>
		</manage-other-custom-action-modal>

		<manage-other-custom-action-modal :show-modal.sync="modalRememberTenant">
			<span slot="textHeader">Ingatkan Penyewa untuk Bayar</span>
			<span slot="textDescription"
				>Apakah Anda yakin ingin mengirimkan pengingat pembayaran ?</span
			>
			<div slot="button">
				<button
					class="btn --is-custom-btn"
					@click="modalRememberTenant = false"
				>
					Batalkan
				</button>
				<button
					class="btn btn-primary"
					@click="sendNotificationToTenant(billingTenant.menu)"
				>
					Ya, Ingatkan
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import _filter from 'lodash/filter';
import _get from 'lodash/get';
import _find from 'lodash/find';
import { modal, checkbox } from 'vue-strap';
import { mapState } from 'vuex';

import ManageInputOtherCostPayment from './form-input/ManageInputOtherCostPayment';
import ManageInputAmountBill from './form-input/ManageInputAmountBill';
import ManageDetailTimeline from './ManageDetailTimeline';
import ManageOtherCustomActionModal from '../other-custom/ManageOtherCustomActionModal';
import ManagePopper from './ManagePopper';
import DetailBillingOtherCost from './detail-billing/DetailBillingOtherCost';

import MixinTenantProfile from '../../mixins/MixinTenantProfile';
import MixinBookingRoom from '../../mixins/MixinBookingRoom';
import MixinClipboard from '../../mixins/MixinClipboard';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		modal,
		checkbox,
		ManageInputOtherCostPayment,
		ManageInputAmountBill,
		ManageDetailTimeline,
		ManageOtherCustomActionModal,
		ManagePopper,
		DetailBillingOtherCost
	},

	mixins: [MixinTenantProfile, MixinBookingRoom, MixinClipboard],

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: true
		},
		dataIndex: {
			type: Number,
			required: true
		}
	},

	data() {
		return {
			paidOutside: false,
			modalPayOutsideMamipay: false,
			modalRememberTenant: false,
			rentTypeText: '',
			rentCountLabel: {
				week: 'Per Minggu',
				month: 'Per Bulan',
				'3_month': 'Per 3 Bulan',
				'6_month': 'Per 6 Bulan',
				year: 'Per Tahun'
			},
			isApplyAllCost: false,
			defaultDataBillingTenant: {
				menu: 0,
				status: '',
				paymentDescription: '',
				billingAmount: '',
				dateBill: '',
				invoiceNumber: ''
			},
			basicAmount: 0,
			dataTimeline: [],
			offlinePaymentCheck: false,
			infoPopperInputAmount:
				'Mohon hubungi dahulu penyewa sebelum mengubah harga & Harga sewa baru ini tidak berpengaruh kepada tagihan penyewa lain.',
			isFlashSale: false,
			otherCostComponent: {
				discount: {
					name: '',
					amount: 0
				},
				admin: {
					name: '',
					amount: 0
				},
				deposit: {
					name: '',
					amount: 0
				}
			},
			isDisbursed: false,
			disburseAmount: 0,
			isEndedContract: false,
			isFlashSale: null,
			isDownPayment: false,
			isSettlement: false
		};
	},

	computed: {
		...mapState({
			billingProfile: state => state.tenantProfile.billingProfile,
			tenantProfile: state => state.tenantProfile.tenantProfile,
			widgetInfo: state => state.tenantProfile.widgetInfo
		}),
		tenantName() {
			return this.tenantProfile.fullName;
		},
		roomAllotment() {
			return this.tenantProfile.roomAllotment;
		},
		tenantRoom() {
			if (this.roomAllotment && this.roomAllotment.name) {
				let roomName = this.roomAllotment.name;
				if (this.roomAllotment.floor) {
					roomName += ` ${this.roomAllotment.floor}`;
				}
				return roomName;
			} else if (this.widgetInfo.roomNumber) {
				return 'Kamar ' + this.sanitizeStr(this.widgetInfo.roomNumber, 'kamar');
			}
			return 'Kamar Pilih di Tempat';
		},
		billingTenant() {
			return (
				this.billingProfile[this.dataIndex] || this.defaultDataBillingTenant
			);
		},
		isPaidBilling() {
			return this.billingTenant.status === 'paid';
		},
		isNotPaidInMamipay() {
			return this.billingTenant.status === 'not_in_mamipay';
		},
		isCanReminderTenant() {
			return !this.isPaidBilling && this.billingTenant.reminder;
		},
		isShowInputOtherCostPayment() {
			return !this.isDownPayment;
		},
		isShowFooterBillDetail() {
			const { discount, deposit, admin } = this.otherCostComponent;
			return (
				discount.amount !== 0 ||
				(deposit.amount !== 0 && !this.isDownPayment) ||
				admin.amount !== 0
			);
		},
		disbursementInfo() {
			const isDisbursementText = this.isDisbursed ? 'yang sudah' : 'yang akan';
			return `Jumlah ${isDisbursementText} diterima Rp${this.disburseAmount.toLocaleString(
				'id-ID'
			)}`;
		},
		isNonActiveInvoice() {
			return (
				this.isPaidBilling ||
				this.isNotPaidInMamipay ||
				this.billingTenant.invoiceNumber.substring(0, 2) === 'ST'
			);
		},
		flashSaleAmount() {
			return _get(this.isFlashSale, 'amount', '');
		},
		flashSaleTitle() {
			return _get(this.isFlashSale, 'title', '');
		},
		flashSaleMamikos() {
			return _get(this.isFlashSale, 'detail.mamikos', '');
		},
		flashSaleOwner() {
			return _get(this.isFlashSale, 'detail.owner', '');
		},
		flashSaleDetail() {
			return [
				`akan di tanggung oleh Mamikos (Rp${this.flashSaleMamikos.toLocaleString(
					'id-ID'
				)})`,
				`akan di tanggung oleh Pemilik (Rp${this.flashSaleOwner.toLocaleString(
					'id-ID'
				)})`
			];
		}
	},

	watch: {
		paidOutside(val) {
			if (val) this.modalPayOutsideMamipay = true;
		},
		modalPayOutsideMamipay(val) {
			if (!val) this.paidOutside = false;
		},
		offlinePaymentCheck(val) {
			if (!val) {
				this.paidOutside = false;
			}
		}
	},

	mounted() {
		EventBus.$on('isToggleModalRememberTenant', val => {
			this.modalRememberTenant = val;
		});

		EventBus.$on('isToggleModalSetManualPayment', val => {
			this.modalPayOutsideMamipay = val;
		});

		EventBus.$on('isEndedContract', payload => {
			this.isEndedContract = payload;
		});
	},

	methods: {
		actionApplyAllCost(val) {
			this.isApplyAllCost = val;
		},
		toastedAlert(text) {
			this.$toasted.show(text, {
				type: 'info',
				className: 'toasted-default',
				theme: 'bubble',
				position: 'bottom-center',
				duration: 2000
			});
		},

		saveBilling() {
			if (!this.isPaidBilling) {
				this.updateAdditionalPrice(this.billingTenant.menu);
			}
		},

		cancelModal() {
			this.$emit('closeModal', false);
			this.basicAmount = 0;
		},

		normalizeOtherBill() {
			const normalData = [];
			this.otherBill.forEach(item => {
				normalData.push({
					cost_title: item.field_title,
					cost_value: item.field_value,
					cost_type: item.type,
					cost_id: item.field_id,
					is_deleted: item.is_deleted
				});
			});
			return normalData;
		},

		updateAdditionalPrice(invoiceId) {
			const yearNow = this.$dayjs().format('YYYY');

			const params = {
				costs: this.normalizeOtherBill(),
				invoice_id: invoiceId,
				apply_all: this.isApplyAllCost
			};

			this.openSwalLoading();

			axios
				.post(`/additional-cost-field/invoice/bulk-create`, params)
				.then(response => {
					const dataResponse = response.data;
					EventBus.$emit('isUpdateAmountBill');
					this.closeSwalLoading();
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(
						null,
						'Terjadi galat update biaya lainnya. Silakan coba lagi.'
					);
				});
		},

		setToPayOutsideMamipay() {
			this.setManualPayment(this.billingTenant.menu);
			this.modalPayOutsideMamipay = false;
		},

		setManualPayment(invoiceId) {
			const yearNow = this.$dayjs().format('YYYY');
			this.openSwalLoading();
			axios
				.put(`/set-manual-payment/${invoiceId}`)
				.then(response => {
					const responseData = response.data;
					if (responseData.status) {
						this.getPaymentSchedule(invoiceId);
						this.getContractBill(this.$route.params.tenantId, yearNow);
						this.toastedAlert(responseData.meta.message);
					}
					this.closeSwalLoading();
					EventBus.$emit('isToggleModalSetManualPayment', false);
					this.countTotalTransfered();
				})
				.catch(error => {
					EventBus.$emit('isToggleModalSetManualPayment', false);
					bugsnagClient.notify(error);
					this.swalError(
						null,
						'Terjadi galat set manual payment. Silakan coba lagi.'
					);
				});
		},

		getOtherCostComponent(cost) {
			const otherCost = _get(cost, 'other_cost', []);
			const adminCost = _get(cost, 'detail_cost.admin');

			if (otherCost.length >= 1) {
				const deposit = _find(
					otherCost,
					cost => cost.original_type === 'deposit'
				);
				const discount = _find(
					otherCost,
					cost => cost.original_type === 'discount'
				);

				if (discount) this.otherCostComponent.discount = discount;

				if (deposit) this.otherCostComponent.deposit = deposit;
			}

			if (adminCost) this.otherCostComponent.admin = adminCost;
		},

		getPaymentSchedule(invoiceId) {
			this.openSwalLoading();
			axios
				.get(`/payment-schedule/detail/${invoiceId}`)
				.then(response => {
					const status = _get(response, 'data.status', null);
					if (status) {
						const tenantId = this.$route.params.tenantId;
						const dataResponse = response.data.data;
						const {
							is_dp,
							is_settlement,
							flash_sale,
							disburse_amount,
							disbursed,
							cost_components,
							duration_unit,
							not_in_mamipay,
							timeline,
							cost_components: {
								detail_cost: {
									kost_price: { amount }
								}
							}
						} = dataResponse;

						this.isDownPayment = is_dp;
						this.isSettlement = is_settlement;
						this.isFlashSale = flash_sale || null;

						this.getOtherCostComponent(cost_components);

						this.otherBillFilter(cost_components);
						this.getContractBill(tenantId, this.setSelectedPaymentYear);

						this.offlinePaymentCheck = not_in_mamipay;
						this.dataTimeline = timeline;
						this.basicAmount = this.isSettlement
							? Number(cost_components.detail_cost.settlement.base_amount)
							: Number(amount);
						this.invoiceData = duration_unit;
						this.isDisbursed = disbursed;
						this.disburseAmount = disburse_amount;
						EventBus.$emit('isSaveToOtherBillCheckbox', false);

						this.closeSwalLoading();
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(
						null,
						'Terjadi galat mengambil detail invoice. Silakan coba lagi.'
					);
				});
		}
	}
};
</script>

<style lang="scss">
#manageDetailBilling {
	.modal-dialog {
		width: 1000px;

		.modal-content {
		}
	}

	.modal-header {
		height: auto;
		border-radius: 4px;

		.close {
			top: 20px;
			img {
				top: 0;
			}
		}
	}

	.modal-body {
		padding: 0;
	}

	.is-bold {
		font-weight: 700;
	}

	.info-header {
		p {
			color: #1baa56;
			img {
				margin-left: 1rem;
				position: relative;
				top: -1px;
			}
		}
	}
}

.--is-custom-checkbox {
	span.dropdown-toggle {
		top: 2px !important;
		width: 24px !important;
		height: 24px !important;
		margin-right: 5rem;
	}

	span.label-checkbox {
		position: relative !important;
		top: 3px !important;
		right: -17px !important;
		font-weight: normal;
	}
}

.wrapper-checked-payment {
	padding: 2rem;
	background-color: #e8f7ee;
	label {
		margin: 0;
		font-weight: 600;
		color: #fff;

		span {
			&.label-checkbox {
				position: relative;
				top: -3px;
				right: -2px;
				color: #242424;
			}
		}
	}
}

.--is-custom-alert {
	padding: 1rem;
	margin-top: 1.1rem;
	color: #595959;
	background: #fcfcfc;
	border: 1px solid #f4f4f4;

	img {
		width: 16px;
		margin-right: 1rem;
		vertical-align: text-bottom;
	}
}
</style>

<style lang="scss" scoped>
@import '../../style/ManageDetailModal.scss';

#manageDetailBilling {
	.--is-custom-border-bottom {
		border-bottom: 12px solid #f2f2f2;
	}

	.table-billing {
		padding: 2rem 3rem;
		padding-bottom: 2rem;
		padding-left: 4.6rem;

		table {
			tbody {
				tr {
					td {
						padding-top: 1rem;
					}
				}
			}
		}
	}

	.other-cost {
		padding: 2rem 3rem;
		padding-left: 4.6rem;

		.wrapper-input-cost {
			margin-top: 1.5rem;
		}
	}

	.custom-border-right {
		border-right: 1px solid #ededed;
	}

	.no-padding {
		padding: 0;
	}

	.title-other-cost {
		float: left;
		margin-right: 1rem;
		font-size: 1.1em;
		font-weight: 600;
	}

	.text-has-pay {
		font-weight: 600;
		color: #fff;
	}

	.wrapper-timeline {
		height: 100%;
		min-height: 322px;
		overflow: auto;
	}

	.wrapper-button-remember-tenant {
		position: absolute;
		bottom: 21px;
		right: 41px;

		.--is-button-custom-remember {
			display: block;
			width: 260px;
			margin: 0 auto;
			font-weight: bold;
			border-radius: 4px;
			height: 40px;
		}
	}

	.custom-row-wrapper {
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		.custom-row-left {
			height: calc(100vh - 174px);
			overflow-x: hidden;
			overflow-y: scroll;
		}

		.custom-row-right {
			position: sticky;
			top: 0;
			height: calc(100vh - 174px);
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}

	::-webkit-scrollbar {
		width: 4px;
		&-track {
			background-color: #f5f5f5;
			border-radius: 10px;
		}
		&-thumb {
			background: #ddd;
			border-radius: 10px;
		}
	}
}

.wrapper-detail-billing {
	overflow: hidden;
}

.wrapper-info-disbursement {
	background-color: #e8f7ee;
	padding: 1.5rem 2.4rem;

	.title {
		font-weight: bold;
		font-size: 1.1em;
		color: #242424;
	}

	.sub {
		font-size: 0.9em;
		color: #484848;
	}
}

.--cursor-pointer {
	cursor: pointer;
}

.dashed-line {
	border-bottom: 2px dashed #dbdbdb;
	display: block;
	width: calc(100% - 39px);
}

.--is-red-color {
	color: #e04205;
}

.--is-green-color {
	color: #1baa56;
}

.--is-button-save-bill {
	position: sticky;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #dddddd;
}
</style>
