<template>
	<div id="manageBillMenu">
		<dropdown class="button-setting">
			<a slot="button" href="#"
				><img
					v-lazy="'/general/img/icons/ic_setting.svg'"
					alt="Icon Setting"
					class="image-setting"
			/></a>
			<ul slot="dropdown-menu" class="dropdown-menu">
				<li>
					<a class="menu-link" @click="openModalBill"
						><img
							src="/general/img/icons/ic_bill-mamipay_o.svg"
							alt="Icon bill"
						/>
						<span class="green">Detail Tagihan</span></a
					>
				</li>
				<li
					v-if="
						billingTenant.status !== 'paid' &&
							billingTenant.status !== 'not_in_mamipay'
					"
				>
					<a class="menu-link" @click="openModalBill">
						<img
							src="/general/img/icons/ic_user-mamipay_o.svg"
							alt="Icon user"
						/>
						<span>Tambah Biaya Lainnya</span>
					</a>
				</li>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
import { mapState } from 'vuex';

export default {
	components: {
		dropdown
	},

	props: {
		dataIndex: {
			type: Number,
			required: true
		}
	},

	computed: {
		...mapState({
			billingProfile: state => state.tenantProfile.billingProfile
		}),
		billingTenant() {
			return this.billingProfile[this.dataIndex];
		}
	},

	methods: {
		openModalBill() {
			this.$emit('openModalBill', this.dataIndex);
		}
	}
};
</script>

<style lang="scss">
.button-setting {
	.btn {
		border: 0px;
		background-color: #f3fbf6;
		.caret {
			display: none;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: #ffffff !important;
			box-shadow: none;
		}
	}
}

.open {
	> .dropdown-menu {
		left: unset;
		right: 0;
	}
}
</style>

<style lang="scss" scoped>
.menu-link {
	> img {
		margin-right: 0.8rem;
		width: 14px;
		height: 14px;
	}

	> span {
		&.green {
			color: #27ab27;
		}

		&.red {
			color: #ff6f55;
		}
	}
}
</style>
