<template>
	<div id="manageProfileContentPayment">
		<vue-good-table
			v-if="billingProfile"
			:columns="columns"
			:rows="billingProfile"
			:sort-option="{
				enabled: true
			}"
			style-class="vgt-table striped"
			@on-row-click=""
			@on-cell-click="openModalPayment"
		>
			<template slot="table-row" slot-scope="props">
				<span v-if="props.column.field == 'billingAmount'">
					<span class="text-primary is-bold">
						Rp{{
							props.formattedRow[props.column.field].toLocaleString('id-ID')
						}}
					</span>
				</span>
				<span v-else-if="props.column.field == 'dateBill'">
					{{
						$dayjs(props.formattedRow[props.column.field]).format(
							'DD MMMM YYYY'
						)
					}}
				</span>
				<span v-else-if="props.column.field == 'status'">
					<span
						v-if="props.formattedRow[props.column.field] == 'paid'"
						class="label label-success label-custom"
						>DIBAYAR</span
					>
					<span
						v-else-if="
							props.formattedRow[props.column.field] == 'not_in_mamipay'
						"
						class="label label-success label-custom"
						>Pembayaran di luar MamiPAY</span
					>
					<span v-else class="label label-danger label-custom"
						>BELUM DIBAYAR</span
					>
				</span>
				<span v-else-if="props.column.field == 'reminder'">
					<button
						v-if="props.formattedRow[props.column.field]"
						class="btn btn-primary"
						@click="openModalSendNotification(props.formattedRow['menu'])"
					>
						<img
							v-lazy="'/general/img/icons/ic_mamipay_notification.svg'"
							class="notification"
							alt="Icon notification"
						/>
						<span>Kirim Pengingat</span>
					</button>
				</span>
				<span v-else-if="props.column.field == 'menu'">
					<manage-bill-menu
						:data-index="props.row.originalIndex"
						@openModalBill="openModalBilling"
					></manage-bill-menu>
				</span>
			</template>
		</vue-good-table>

		<manage-detail-billing
			:data-index="lastIndexBilling"
			:show-modal="isModalBillingShow"
			@closeModal="isModalBillingShow = false"
		></manage-detail-billing>

		<manage-other-custom-action-modal :show-modal.sync="isModalNotification">
			<span slot="textHeader">Ingatkan Penyewa untuk Bayar</span>
			<span slot="textDescription"
				>Apakah Anda yakin ingin mengirimkan pengingat pembayaran ?</span
			>
			<div slot="button">
				<button
					class="btn --is-custom-btn"
					@click="isModalNotification = false"
				>
					Batalkan
				</button>
				<button class="btn btn-primary" @click="sendNotification()">
					Ya, Ingatkan
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';

import ManageBillMenu from './ManageBillMenu';
import ManageDetailBilling from './ManageDetailBilling';
import ManageOtherCustomActionModal from '../other-custom/ManageOtherCustomActionModal';

import MixinTenantProfile from '../../mixins/MixinTenantProfile';

export default {
	components: {
		VueGoodTable,
		ManageBillMenu,
		ManageDetailBilling,
		ManageOtherCustomActionModal
	},
	mixins: [MixinTenantProfile],

	data() {
		return {
			lastIndexBilling: 0,
			lastInvoiceId: 0,
			isModalNotification: false,
			isModalBillingShow: false,
			rowsBillReport: [],
			columns: [
				{
					label: 'Tanggal Penagihan',
					field: 'dateBill'
				},
				{
					label: 'Status',
					field: 'status'
				},
				{
					label: 'Jumlah Penagihan',
					field: 'billingAmount',
					type: 'number'
				},
				{
					label: 'Keterangan',
					field: 'information'
				},
				{
					label: ' ',
					field: 'reminder',
					sortable: false
				},
				{
					label: ' ',
					field: 'menu',
					sortable: false
				}
			]
		};
	},

	computed: {
		billingProfile() {
			return this.$store.state.tenantProfile.billingProfile;
		}
	},

	methods: {
		openModalPayment(params) {
			const COLUMN_FIELD = params.column.field;
			if (
				COLUMN_FIELD !== 'menu' &&
				COLUMN_FIELD !== 'reminder' &&
				COLUMN_FIELD !== 'invoiceLink'
			) {
				this.lastIndexBilling = params.row.originalIndex;
				this.isModalBillingShow = true;
			}
		},
		openModalBilling(dataIndexBilling) {
			this.lastIndexBilling = dataIndexBilling;
			this.isModalBillingShow = true;
		},
		openModalSendNotification(invoiceId) {
			this.lastInvoiceId = invoiceId;
			this.isModalNotification = true;
		},
		sendNotification() {
			this.sendNotificationToTenant(this.lastInvoiceId);
			this.isModalNotification = false;
		}
	}
};
</script>

<style lang="scss">
@import '../../style/TableStyle.scss';
</style>

<style lang="scss" scoped>
#manageProfileContentPayment {
	margin-top: 3rem;

	.is-bold {
		font-weight: 700;
	}

	img {
		&.notification {
			width: 16px;
			height: 16px;
			margin-right: 0.6rem;
		}
	}
}
</style>
