<template>
	<div id="manageProfileContentBiodata">
		<div v-show="isLoading" class="skeleton-loader-content-billing">
			<skeleton-loader width="50%" height="32px" :radius="4" />

			<div
				v-for="i in 5"
				:key="`field-${i}`"
				class="skeleton-loader-field-item"
			>
				<skeleton-loader width="30%" height="32px" :radius="4" />
				<skeleton-loader width="50%" height="32px" :radius="4" />
			</div>
		</div>

		<accordion
			v-show="!isLoading"
			v-if="statusPage == 'newMember' || statusPage == 'member'"
			type="info"
		>
			<panel is-open type="primary">
				<strong id="waktuSewaPenghuni" slot="header" class="header-custom"
					>Waktu Sewa
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-check-in></manage-input-check-in>
					<manage-input-rent-count></manage-input-rent-count>
					<manage-input-tenant-rent-fees
						v-if="statusPage == 'newMember'"
					></manage-input-tenant-rent-fees>
					<manage-input-cost-landlord
						v-if="statusPage == 'newMember'"
					></manage-input-cost-landlord>
					<manage-input-rent-duration></manage-input-rent-duration>
					<manage-input-rent-price
						v-if="statusPage == 'member'"
					></manage-input-rent-price>
				</div>
			</panel>

			<panel v-if="!isHiddenExtendContract" is-open type="primary">
				<strong
					id="perpanjanganDurasi"
					slot="header"
					class="header-custom element"
					>Perpanjang durasi sewa penghuni ?
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<div class="row">
						<div class="col-xs-8">
							<manage-input-rent-duration-new></manage-input-rent-duration-new>
						</div>
						<div class="col-xs-4">
							<manage-input-toggle-extension></manage-input-toggle-extension>
							<div>
								<span class="title-caution-prorated"
									><img
										v-lazy="'/general/img/icons/ic_info-mamipay_o_green.svg'"
										alt="icon info"
									/>
									<span class="text-success">Digunakan : </span></span
								>
								<div class="alert alert-success custom-size-font" role="alert">
									<p>
										Jika penghuni mengajukan penambahan durasi sewa baru dari
										durasi sewa yang lama.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</panel>

			<panel v-if="!isHiddenDateBill" is-open type="primary">
				<strong id="penagihanTetap" slot="header" class="header-custom"
					>Kost punya tanggal penagihan tetap ?
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<div class="row">
						<div class="col-xs-8">
							<manage-input-date-bill></manage-input-date-bill>
							<manage-input-prorated></manage-input-prorated>
							<manage-simulated-prorated></manage-simulated-prorated>
						</div>
						<div class="col-xs-4">
							<manage-input-fixed-billing></manage-input-fixed-billing>
							<div>
								<span class="title-caution-prorated"
									><img
										v-lazy="'/general/img/icons/ic_info-mamipay_o_green.svg'"
										alt="icon info"
									/>
									<span class="text-success">Biaya Protata : </span></span
								>
								<div class="alert alert-success custom-size-font" role="alert">
									<p>
										Adalah biaya sewa total periode pertama pembayaran (di luar
										biaya tambahan) menyesuaikan tanggal pembayaran tetap dan
										tanggal mulai sewa
									</p>
									<p>
										Harap diperhatikan bahwa biaya yang diisi sesuai dengan
										hitungan sewa yang dipilih.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong id="biayaDeposit" slot="header" class="header-custom"
					>Biaya Deposit &amp; Denda
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-cost-deposit
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
					<manage-input-cost-fine
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
					<manage-input-duration-day
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
				</div>
			</panel>

			<panel v-if="statusPage == 'newMember'" is-open type="primary">
				<strong id="biayaLainnya" slot="header" class="header-custom"
					>Biaya Lainnya
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-other-cost
						@add="showAdditionalPriceModal"
						@delete="showAdditionalPriceModal"
						@change="showAdditionalPriceModal"
					/>
				</div>
			</panel>

			<panel v-if="statusPage == 'newMember'" is-open type="primary">
				<strong slot="header" class="header-custom"
					>Terapkan Down Payment (DP) ?
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<div class="row">
						<div class="col-xs-8">
							<manage-input-cost-down-payment
								@change="showAdditionalPriceModal('dp')"
							/>
							<manage-simulated-down-payment />
						</div>
						<div class="col-xs-4">
							<manage-input-down-payment
								@active="showAdditionalPriceModal('dp')"
							/>
							<manage-simulated-cost-down-payment />
						</div>
					</div>
				</div>
			</panel>
		</accordion>

		<accordion v-else-if="statusPage == 'acceptBooking'" type="info">
			<panel is-open type="primary">
				<strong slot="header" class="header-custom"
					>Waktu Sewa
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-check-in></manage-input-check-in>
					<manage-input-rent-count></manage-input-rent-count>
					<manage-input-tenant-rent-fees></manage-input-tenant-rent-fees>
					<manage-input-cost-landlord></manage-input-cost-landlord>
					<manage-input-rent-duration></manage-input-rent-duration>
				</div>
			</panel>

			<panel v-if="!isHiddenDateBill" is-open type="primary">
				<strong slot="header" class="header-custom"
					>Kost punya tanggal penagihan tetap ?
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<div class="row">
						<div class="col-xs-8">
							<manage-input-date-bill></manage-input-date-bill>
							<manage-input-prorated></manage-input-prorated>
							<manage-simulated-prorated></manage-simulated-prorated>
						</div>
						<div class="col-xs-4">
							<manage-input-fixed-billing></manage-input-fixed-billing>
							<div v-if="statusPage == 'newMember'">
								<span class="title-caution-prorated"
									><img
										v-lazy="'/general/img/icons/ic_info-mamipay_o_green.svg'"
										alt="icon info"
									/>
									<span class="text-success">Biaya Protata : </span></span
								>
								<div class="alert alert-success custom-size-font" role="alert">
									<p>
										Adalah biaya sewa total periode pertama pembayaran (di luar
										biaya tambahan) menyesuaikan tanggal pembayaran tetap dan
										tanggal mulai sewa
									</p>
									<p>
										Harap diperhatikan bahwa biaya yang diisi sesuai dengan
										hitungan sewa yang dipilih.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong slot="header" class="header-custom"
					>Biaya Deposit &amp; Denda
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-cost-deposit
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
					<manage-input-cost-fine
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
					<manage-input-duration-day
						@change="showAdditionalPriceModal('depositAndFine')"
					/>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong slot="header" class="header-custom"
					>Biaya Lainnya
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-other-cost
						@add="showAdditionalPriceModal('otherPrice')"
						@delete="showAdditionalPriceModal('otherPrice')"
						@change="showAdditionalPriceModal('otherPrice')"
					/>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong id="downPayment" slot="header" class="header-custom"
					>Terapkan Down Payment (DP) ?
					<img
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						class="accordion-icon"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<div class="row">
						<div class="col-xs-8">
							<manage-input-cost-down-payment
								@change="showAdditionalPriceModal('dp')"
							/>
							<manage-simulated-down-payment />
						</div>
						<div class="col-xs-4">
							<manage-input-down-payment
								@active="showAdditionalPriceModal('dp')"
							/>
							<manage-simulated-cost-down-payment />
						</div>
					</div>
				</div>
			</panel>
		</accordion>

		<mami-info
			v-if="ownerTermsAgreement"
			class="disclaimer-info"
			variant="info"
			is-rounded
		>
			Untuk keamanan transaksi, uang sewa akan diteruskan pada Anda 1 hari
			setelah penyewa check-in.
		</mami-info>

		<manage-additional-price-modal />

		<div v-if="statusPage == 'newMember'" class="wrapper-button">
			<button class="btn btn-primary" @click="validationBillingForm">
				Simpan Data
			</button>
			<button class="btn btn-default" @click="$router.go(-1)">
				Kembali
			</button>
		</div>

		<div v-else-if="statusPage == 'acceptBooking'" class="wrapper-button">
			<button class="btn btn-primary" @click="validationBillingForm">
				Simpan
			</button>
			<button class="btn btn-default" @click="$router.go(-1)">
				Kembali
			</button>
		</div>

		<div v-else-if="!isLoading" class="wrapper-button">
			<button class="btn btn-primary" @click="validationBillingForm">
				Simpan Data
			</button>
			<button class="btn btn-default" @click="goBack">
				Kembali
			</button>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';

import ManageInputCheckIn from './form-input/ManageInputCheckIn';
import ManageInputRentCount from './form-input/ManageInputRentCount';
import ManageInputTenantRentFees from './form-input/ManageInputTenantRentFees';
import ManageInputCostLandlord from './form-input/ManageInputCostLandlord';
import ManageInputRentDuration from './form-input/ManageInputRentDuration';
import ManageInputRentDurationNew from './form-input/ManageInputRentDurationNew';
import ManageInputToggleExtension from './form-input/ManageInputToggleExtension';
import ManageInputRentPrice from './form-input/ManageInputRentPrice';
import ManageInputFixedBilling from './form-input/ManageInputFixedBilling';
import ManageInputDateBill from './form-input/ManageInputDateBill';
import ManageInputProrated from './form-input/ManageInputProrated';
import ManageSimulatedProrated from './form-input/ManageSimulatedProrated';
import ManageInputCostDeposit from './form-input/ManageInputCostDeposit';
import ManageInputCostFine from './form-input/ManageInputCostFine';
import ManageInputDurationDay from './form-input/ManageInputDurationDay';
import ManageInputOtherCost from './form-input/ManageInputOtherCost';
import ManageInputDownPayment from './form-input/ManageInputDownPayment';
import ManageSimulatedDownPayment from './form-input/ManageSimulatedDownPayment';
import ManageSimulatedCostDownPayment from './form-input/ManageSimulatedCostDownPayment';
import ManageInputCostDownPayment from './form-input/ManageInputCostDownPayment';
import ManageAdditionalPriceModal from './ManageAdditionalPriceModal';

import SkeletonLoader from 'Js/@components/SkeletonLoader';

import MixinTenantProfile from '../../mixins/MixinTenantProfile';
import MixinManagePanelArrow from '../../mixins/MixinManagePanelArrow';
import MixinProfileContentNavigation from '../../mixins/MixinProfileContentNavigation';

const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		accordion,
		panel,
		ManageInputCheckIn,
		ManageInputRentCount,
		ManageInputTenantRentFees,
		ManageInputCostLandlord,
		ManageInputRentDuration,
		ManageInputRentDurationNew,
		ManageInputToggleExtension,
		ManageInputRentPrice,
		ManageInputFixedBilling,
		ManageInputDateBill,
		ManageInputProrated,
		ManageSimulatedProrated,
		ManageInputCostDeposit,
		ManageInputCostFine,
		ManageInputDurationDay,
		ManageInputOtherCost,
		ManageInputDownPayment,
		ManageSimulatedDownPayment,
		ManageSimulatedCostDownPayment,
		ManageInputCostDownPayment,
		SkeletonLoader,
		MamiInfo,
		ManageAdditionalPriceModal
	},
	mixins: [
		MixinTenantProfile,
		MixinManagePanelArrow,
		MixinProfileContentNavigation
	],

	data() {
		return {
			isHiddenExtendContract: true,
			isHiddenDateBill: true
		};
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		tenantProfile() {
			return this.$store.state.tenantProfile.tenantProfile;
		},
		seq() {
			return this.$route.params.tenantId;
		},
		isLoading() {
			return (
				this.$route.name === 'tenantBill' &&
				this.statusPage === 'member' &&
				this.$store.getters.isLoadingContractForm
			);
		},
		ownerTermsAgreement() {
			return this.$store.state.manageBooking.ownerTermsAgreement;
		}
	},

	mounted() {
		this.onExtendTime();
	},

	methods: {
		onExtendTime() {
			const hashUrl = window.location.hash;
			if (hashUrl === '#perpanjanganDurasi') {
				window.scroll({
					behavior: 'smooth',
					top: 1030,
					left: 0
				});
			}
		},
		goToBiodataForm() {
			this.$router.push(
				`/profile-tenant/${this.seq}/biodata-tenant/new-member`
			);
		},

		showAdditionalPriceModal(type) {
			this.$store.commit('setAdditionalPriceModal', { show: true, type });
		}
	}
};
</script>

<style lang="scss" scoped>
.custom-size-font {
	font-size: 0.9em;
}

.title-caution-prorated {
	display: block;
	margin-bottom: 0.6rem;

	img {
		margin-right: 0.6rem;
	}
}

.wrapper-button {
	position: sticky;
	bottom: 0px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	padding: 2rem;
}

.disclaimer-info {
	margin-bottom: 25px !important;
}

.skeleton-loader-content-billing {
	display: flex;
	flex-direction: column;

	.skeleton-loader-field-title {
		display: flex;
		flex-direction: column;

		> * {
			&:nth-of-type(2) {
				margin-top: 20px;
				margin-bottom: 4px;
			}
		}
	}

	.skeleton-loader-field-item {
		display: flex;
		flex-direction: column;

		> * {
			&:first-of-type {
				margin-top: 24px;
			}

			&:last-of-type {
				margin-top: 20px;
			}
		}

		&:nth-of-type(4) {
			margin-top: 94px;
		}

		&:first-of-type {
			> *:first-of-type {
				margin-top: 28px;
			}
		}
	}
}
</style>
