<template>
	<div
		id="managetenantProfile"
		:class="{
			'give-distance': statusPage == 'member'
		}"
	>
		<div class="row" v-if="statusPage == 'member'">
			<div class="col-xs-4">
				<img
					v-if="profilePicture"
					class="image-profile-tenant"
					v-lazy="profilePicture.medium"
					alt="Photo User Default"
				/>
				<img
					v-else
					class="image-profile-tenant"
					v-lazy="'/general/img/pictures/default-user-image.png'"
					alt="Photo User Default"
				/>
			</div>
			<div class="col-xs-8">
				<div class="box-profile">
					<span class="name-tenant">{{ tenantName }}</span>
					<div class="room-tenant">
						<span class="room-name" v-if="roomAllotment && roomAllotment.name"
							>{{ roomAllotment.name }} {{ roomAllotment.floor }}</span
						>
						<span class="room-name" v-else-if="roomNumber">{{
							tenantRoom
						}}</span>
						<span v-else>Kamar Pilih di Tempat</span>
						<span
							v-if="roomAllotment && roomAllotment.is_gold_plus"
							class="goldplus-label"
						>
							GoldPlus
						</span>
					</div>
					<span>{{ phoneNumber }}</span>
				</div>
			</div>
		</div>

		<div class="row" v-else-if="statusPage == 'acceptBooking'">
			<div class="col-xs-4">
				<img
					v-if="tenantData.tenant_photo"
					class="image-profile-tenant"
					v-lazy="tenantData.tenant_photo.medium"
					alt="Photo User Default"
				/>
				<img
					v-else
					class="image-profile-tenant"
					v-lazy="'/general/img/pictures/default-user-image.png'"
					alt="Photo User Default"
				/>
			</div>
			<div class="col-xs-8">
				<div class="box-profile">
					<span class="name-tenant">{{ tenantData.name }}</span>
					<span>{{ maskingPhoneNumber(tenantData.phone_number) }}</span>
				</div>
				<div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-6">
						<img
							class="arrow-look-profile"
							v-lazy="'/general/img/icons/ic_arrow-down-mamipay_green.svg'"
							alt=""
						/>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<hr />
			</div>
		</div>
	</div>
</template>

<script>
import MixinMaskingPhoneNumber from '../../mixins/MixinMaskingPhoneNumber';
import MixinBookingRoom from '../../mixins/MixinBookingRoom';

export default {
	mixins: [MixinMaskingPhoneNumber, MixinBookingRoom],

	computed: {
		tenantName() {
			return this.$store.state.tenantProfile.widgetInfo.tenantName;
		},
		roomNumber() {
			return this.$store.state.tenantProfile.widgetInfo.roomNumber;
		},
		tenantRoom() {
			return 'Kamar ' + this.sanitizeStr(this.roomNumber, 'kamar');
		},
		roomAllotment() {
			return this.$store.state.tenantProfile.tenantProfile.roomAllotment;
		},
		phoneNumber() {
			return this.$store.state.tenantProfile.widgetInfo.phoneNumber;
		},
		profilePicture() {
			return this.$store.state.tenantProfile.widgetInfo.profilePicture;
		},
		tenantAcceptBooking() {
			return this.$store.state.tenantProfile.dataAcceptBooking;
		},
		tenantData() {
			return this.$store.state.manageBooking.acceptBookingProfile;
		}
	}
};
</script>

<style lang="scss" scoped>
#managetenantProfile {
	position: sticky;
	top: 0px;
	background: #ffff;
	font-size: 16px;
	z-index: 2;
	padding: 2rem 3rem 2rem 3rem;
	&.give-distance {
		margin-bottom: 1.5rem;
	}

	.image-profile-tenant {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		object-fit: cover;
	}

	.box-profile {
		span {
			&.name-tenant {
				font-size: 1em;
				color: #000000;
				margin: 0;
				margin-bottom: 0.3rem;
				margin-top: 0.4rem;
				font-weight: 700;
			}
			font-size: 0.857em;
			color: #999999;
			display: block;
			width: 100%;
			word-break: break-word;
		}

		.room-tenant {
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				width: auto;
			}

			.room-name {
				max-width: 80px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.goldplus-label {
				flex-shrink: 0;
			}
		}
	}

	.link-edit {
		font-weight: 700;
	}

	img {
		&.arrow-look-profile {
			width: 15px;
			height: 15px;
			float: right;
			position: relative;
			top: 6px;
		}
	}

	.goldplus-label {
		color: inherit !important;
	}
}
</style>
