<template>
	<div class="popper-wrapper">
		<popper
			ref="popper"
			:trigger="trigger"
			:options="{
				placement: 'top-start'
			}"
		>
			<div class="popper">
				<p class="popper-hl-body">
					{{ description }}
				</p>
			</div>
			<slot slot="reference" />
		</popper>
	</div>
</template>

<script>
import Popper from 'vue-popperjs';
import 'vue-popperjs/dist/vue-popper.css';
import MixinNavigatorIsMobile from 'Js/@mixins/MixinNavigatorIsMobile';
export default {
	name: 'ManagePopper',
	components: {
		Popper
	},
	mixins: {
		MixinNavigatorIsMobile
	},
	props: {
		description: {
			type: String,
			required: true
		}
	},
	computed: {
		trigger() {
			return navigator.isMobile ? 'click' : 'hover';
		}
	},
	methods: {
		hide() {
			this.$refs.popper.doClose();
		}
	}
};
</script>

<style lang="scss">
.popper[x-placement^='top'] .popper__arrow,
.popper[x-placement^='bottom'] .popper__arrow {
	border-color: #2e2d39 transparent transparent transparent;
}
</style>

<style lang="scss" scoped>
.popper {
	padding: 15px;
	border: none;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
	background-color: #2e2d39;
	color: #fff;
	text-align: left;
	width: 328px;
	font-size: 12px;
	margin-top: 20px;
	border-radius: 8px;
	top: -7px !important;
}

.popper-hl-title {
	font-size: 14px;
	font-weight: bold;
}

.popper-hl-body {
	font-size: 12px;
}

.popper-hl-footer {
	display: flex;
	justify-content: flex-end;

	> .btn {
		color: #fff;
		background-color: #1baa56;
		border-color: #1baa56;
		font-size: 12px;
		width: 120px;

		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: #109e4b;
			border-color: #109e4b;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.popper-wrapper {
		position: relative;
		.popper {
			right: 0;
		}
	}
}
</style>
