<template>
	<div id="manageProfileContentBiodata">
		<accordion
			type="info"
			v-if="statusPage == 'newMember' || statusPage == 'member'"
		>
			<panel is-open type="primary">
				<strong id="informasiPersonal" class="header-custom" slot="header">
					Informasi Umum
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>

				<div class="wrapper-input-box">
					<manage-input-full-name></manage-input-full-name>
					<manage-input-room-number></manage-input-room-number>
					<manage-input-gender></manage-input-gender>
					<manage-input-status></manage-input-status>
					<manage-input-work></manage-input-work>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong id="dokumenIdentitas" class="header-custom" slot="header">
					Dokumen Identitas
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-upload-identity
						:key="refreshComponentKey"
					></manage-input-upload-identity>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong id="kontakPenghuni" class="header-custom" slot="header">
					Kontak Penyewa
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-phone-number
						@validation="setPhoneNumberValidation('tenant', $event)"
					></manage-input-phone-number>
					<manage-input-email></manage-input-email>
				</div>
			</panel>

			<panel v-if="workingStatus == 'Mahasiswa'" is-open type="primary">
				<strong id="kontakOrangTua" class="header-custom" slot="header">
					Kontak Orang tua / Wali
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-parent-name></manage-input-parent-name>
					<manage-input-parent-phone
						@validation="setPhoneNumberValidation('parent', $event)"
					></manage-input-parent-phone>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong class="header-custom" slot="header">
					Data Lainnya untuk Penyewa
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-question></manage-input-question>
				</div>
			</panel>
		</accordion>

		<accordion type="info" v-else-if="statusPage == 'acceptBooking'">
			<panel is-open type="primary">
				<strong class="header-custom" slot="header">
					Kamar untuk Penyewa
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-room-number></manage-input-room-number>
				</div>
			</panel>

			<panel is-open type="primary">
				<strong class="header-custom" slot="header">
					Data Lainnya untuk Penyewa
					<img
						class="accordion-icon"
						v-lazy="'/general/img/icons/ic_accordion-mamipay_s.svg'"
						alt="icon up"
					/>
				</strong>
				<div class="wrapper-input-box">
					<manage-input-question></manage-input-question>
				</div>
			</panel>
		</accordion>

		<div v-if="statusPage === 'newMember'" class="wrapper-button">
			<button class="btn btn-primary" @click="checkInput">Lanjutkan</button>
			<button @click="backToBill" class="btn btn-default">Batalkan</button>
		</div>

		<div v-else-if="statusPage === 'acceptBooking'" class="wrapper-button">
			<button
				:class="['btn', isEmptyRoomNumber ? 'btn-disabled' : 'btn-primary']"
				:disabled="isEmptyRoomNumber"
				@click="checkInputAcceptBooking"
			>
				Lanjutkan
			</button>
		</div>

		<div v-else class="wrapper-button">
			<button @click="checkInput" class="btn btn-primary">Simpan</button>
			<button @click="goBack" class="btn btn-default">Kembali</button>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';
import _get from 'lodash/get';

import ManageInputFullName from './form-input/ManageInputFullName';
import ManageInputRoomNumber from './form-input/ManageInputRoomNumber';
import ManageInputGender from './form-input/ManageInputGender';
import ManageInputStatus from './form-input/ManageInputStatus';
import ManageInputWork from './form-input/ManageInputWork';
import ManageInputUploadIdentity from './form-input/ManageInputUploadIdentity';
import ManageInputPhoneNumber from './form-input/ManageInputPhoneNumber';
import ManageInputEmail from './form-input/ManageInputEmail';
import ManageInputParentName from './form-input/ManageInputParentName';
import ManageInputParentPhone from './form-input/ManageInputParentPhone';
import ManageInputQuestion from './form-input/ManageInputQuestion';

import MixinTenantProfile from '../../mixins/MixinTenantProfile';
import MixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import MixinManagePanelArrow from '../../mixins/MixinManagePanelArrow';
import MixinProfileContentNavigation from '../../mixins/MixinProfileContentNavigation';

export default {
	mixins: [
		MixinTenantProfile,
		MixinGetQueryString,
		MixinManagePanelArrow,
		MixinProfileContentNavigation
	],

	components: {
		accordion,
		panel,
		ManageInputFullName,
		ManageInputRoomNumber,
		ManageInputGender,
		ManageInputStatus,
		ManageInputWork,
		ManageInputUploadIdentity,
		ManageInputPhoneNumber,
		ManageInputEmail,
		ManageInputParentName,
		ManageInputParentPhone,
		ManageInputQuestion
	},

	data() {
		return {
			refreshComponentKey: 0,
			phoneNumberValidation: {
				tenant: '',
				parent: ''
			}
		};
	},

	computed: {
		workingStatus() {
			return this.$store.state.tenantProfile.tenantProfile.work;
		},
		conditionPersonalInformation() {
			return this.$refs.personalInformation.open;
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		tenantProfile() {
			return this.$store.state.tenantProfile.tenantProfile;
		},
		roomNumber() {
			return this.$store.state.tenantProfile.tenantProfile.roomNumber;
		},
		tenantId() {
			return this.$route.params.tenantId;
		},
		isEmptyRoomNumber() {
			return this.tenantProfile.roomAllotment.id === null;
		}
	},

	mounted() {
		this.forceRerenderImageIdentity();
		this.assignParamsConfirmBooking();
	},

	methods: {
		setPhoneNumberValidation(type, validationMessage) {
			this.phoneNumberValidation[type] = validationMessage;
		},

		forceRerenderImageIdentity() {
			setTimeout(() => {
				this.refreshComponentKey += 1;
			}, 5000);
		},

		assignParamsConfirmBooking() {
			const requestDate =
				this.getQueryString('request') &&
				this.getQueryString('request')
					.replace(/-/g, ' ')
					.replace('x', ':');

			this.$store.commit('setConfirmParamsDate', requestDate);
			this.$store.commit('setConfirmParamsFrom', this.getQueryString('from'));
		},
		backToBill() {
			this.$router.push('/all/bill');
		},
		toastedWarning(message = 'Ada beberapa isian yang belum diisi') {
			this.$toasted.show(message, {
				type: 'info',
				className: 'toasted-default',
				theme: 'bubble',
				position: 'bottom-center',
				duration: 2000
			});
		},
		setPhoneNumberErrorMessage() {
			const { tenant, parent } = this.phoneNumberValidation;
			let errorMessage = '';
			if (tenant) {
				errorMessage = tenant;
			} else if (parent && this.workingStatus === 'Mahasiswa') {
				errorMessage = parent;
			}
			return errorMessage;
		},

		checkInput() {
			const phoneNumberErrorMessage = this.setPhoneNumberErrorMessage();
			if (this.isInvalidBiodataForm()) {
				this.toastedWarning();
			} else if (phoneNumberErrorMessage) {
				this.toastedWarning(phoneNumberErrorMessage);
			} else {
				if (
					this.tenantProfile.work === 'Mahasiswa' &&
					(!this.tenantProfile.parentName || !this.tenantProfile.parentNumber)
				) {
					this.toastedWarning();
				} else {
					if (this.statusPage === 'member') {
						this.updateBiodata();
					} else {
						this.$router.push(
							`/profile-tenant/${this.tenantId}/billing-tenant/new-member`
						);
					}
				}
			}
		},

		checkInputAcceptBooking() {
			let tenantRoomNumberErrorMessage = '';
			const tenantRoomId = this.tenantProfile.roomAllotment.id;
			if (tenantRoomId === null) {
				tenantRoomNumberErrorMessage = 'Nomor Kamar masih kosong.';
			}

			if (tenantRoomNumberErrorMessage) {
				this.$toasted.show(tenantRoomNumberErrorMessage, {
					type: 'info',
					className: 'toasted-default',
					theme: 'bubble',
					position: 'bottom-center',
					duration: 2000
				});
			} else {
				this.trackOwnerFillingRoomNumber();
				this.$router.push(
					`/profile-tenant/${this.tenantId}/billing-tenant/accept-booking`
				);
			}
		},

		trackOwnerFillingRoomNumber() {
			const {
				fullName,
				email,
				phoneNumber,
				gender,
				status,
				work,
				roomNumber,
				roomId
			} = this.tenantProfile;
			const { user_id } = this.$store.state.manageBooking.acceptBookingProfile;
			const { name, area_city } = this.allDetailRoom;
			tracker('moe', [
				'[Owner] Owner Filling Room Number',
				{
					booking_id: this.bookingCode,
					property_name: name,
					property_id: roomId,
					property_city: area_city,
					tenant_name: fullName,
					tenant_phone_number: phoneNumber,
					tenant_gender: gender === 'female' ? 'perempuan' : 'laki-laki',
					tenant_marital_status: status,
					tenant_job: work,
					user_email: email,
					user_id: parseInt(user_id),
					room_number: roomNumber
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-button {
	position: sticky;
	bottom: 0;
	z-index: 11;
	padding: 2rem;
	background-color: #fff;
	border: 1px solid #dbdbdb;
}
</style>
