<template>
	<div id="manageCheckPhone">
		<div slot="header-page" class="modal-header">
			<a class="icon-close" @click="$router.go(-1)">
				<img v-lazy="'/general/img/icons/ic_remove_s.svg'" alt="Icon Close" />
			</a>
		</div>
		<div v-if="statusCheck === null" class="wrapper-check-phone">
			<h1 class="title">Masukkan nomor handphone Penyewa</h1>
			<p class="description">
				Nomor handphone ini digunakan untuk memastikan apakah Penyewa adalah
				pengguna Mamikos.
			</p>
			<form class="control-form" @submit.prevent="checkingPhone">
				<div class="form-group">
					<label class="label-form-custom" for="numberPhone"
						>Nomor Handphone</label
					>
					<input
						v-lazy:background-image="
							'/general/img/icons/ic_bagde-mamipay_o_green.svg'
						"
						type="tel"
						class="form-control input-form-custom"
						id="numberPhone"
						placeholder="081234567xxx"
						minlength="6"
						maxlength="13"
						pattern="^08(\d{3,4}-?){2}\d{3,4}$"
						v-model="tenantNumber"
						required
					/>
				</div>
				<div class="control-button">
					<button
						:disabled="isButtonDisabledCheckPhone"
						type="submit"
						class="btn btn-primary button-custom"
					>
						Cek Sekarang
					</button>
				</div>
			</form>
		</div>

		<div
			v-if="statusCheck === 1"
			class="wrapper-check-phone phone-number-result"
		>
			<h1 class="title text-primary">
				Nomor handphone terdaftar sebagai Penyewa
			</h1>
			<p class="description">
				Sebagian data sudah terisi, karena Penyewa adalah pengguna Mamikos.
				Mohon lengkapi data di halaman selanjutnya.
			</p>
			<button @click="nextSection" class="btn btn-primary is-custom-distance">
				Lanjutkan
			</button>
		</div>

		<div
			v-if="statusCheck === 0"
			class="wrapper-check-phone phone-number-result"
		>
			<h1 class="title text-danger">
				Nomor handphone belum terdaftar sebagai Penyewa
			</h1>
			<p class="description">
				Untuk memasukkan data Penyewa, silakan isi form yang tersedia di halaman
				selanjutnya.
			</p>
			<button @click="nextSection" class="btn btn-danger is-custom-distance">
				Isi form
			</button>
		</div>
	</div>
</template>

<script>
import MixinTenantProfile from '../../mixins/MixinTenantProfile';

export default {
	mixins: [MixinTenantProfile],

	data() {
		return {
			tenantNumber: '',
			statusCheck: null,
			isButtonDisabledCheckPhone: false
		};
	},

	computed: {
		userSelected() {
			return this.$store.state.tenantProfile.userSelectedProfile;
		}
	},

	methods: {
		changeStatus(status) {
			if (status === 2) {
				this.isButtonDisabledCheckPhone = false;
			} else {
				this.statusCheck = status;
			}
		},
		nextSection() {
			if (this.userSelected.tenant_id) {
				this.$router.push(
					`/profile-tenant/${this.userSelected.tenant_id}/biodata-tenant/new-member`
				);
			} else {
				this.$store.commit('setNewTenantNumberPhone', this.tenantNumber);
				this.$store.commit('setPhoneNumber', this.tenantNumber);
				this.$router.push(`/profile-tenant/0/biodata-tenant/new-member`);
			}
		},
		checkingPhone() {
			this.isButtonDisabledCheckPhone = true;
			this.cekTenantPhone(this.tenantNumber, this.changeStatus);
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-check-phone {
	padding-top: 4rem;
	font-size: 14px;

	.title {
		margin-bottom: 3rem;
		font-size: 24px;
		font-weight: 600;
		line-height: 36px;
	}

	.description {
		width: 100%;
		max-width: 310px;
		font-size: 14px;
		line-height: 21px;
	}
}

.wrapper-check-phone {
	width: 442px;
	margin: 0 auto;
}

a {
	&.icon-close {
		float: right;
		margin-right: 2rem;
		padding: 0.3rem 1rem;
		background: #dadada;
		border-radius: 100%;
	}
}

.phone-number-result {
	width: 100%;
	max-width: 600px;

	.description {
		max-width: 468px;
	}
}

.control-form {
	margin-top: 6rem;

	.label-form-custom {
		color: #7d7d7d;
	}

	.input-form-custom {
		border: none;
		box-shadow: none;
		border-bottom: 1px solid #cccccc;
		border-radius: 0;
		background-repeat: no-repeat;
		background-position: right;
		background-size: inherit;
		padding-left: 0;
		font-weight: 600;
	}

	.button-custom {
		width: 100%;
		height: 57px;
		font-weight: 600;
		margin-top: 3rem;
	}
}

.is-custom-distance {
	margin-top: 4rem;
}
</style>
