<template>
	<div
		id="manageProfileMenu"
		:class="{
			'addition-top-padding': isNewMember
		}"
	>
		<manage-tenant-profile v-if="!isNewMember"></manage-tenant-profile>

		<div v-if="isMember" class="wrapper-menu">
			<ul>
				<li>
					<a
						class="parent"
						:href="
							`/ownerpage/billing-management/profile-tenant/${tenantId}/payment-tenant`
						"
						:class="{
							'parent-active': $route.name === 'paymentTenant'
						}"
					>
						<span class="parent-link" :class="anchorStyleTenant('payment')"
							>Tagihan Pembayaran</span
						>
					</a>
				</li>
			</ul>
		</div>

		<div v-if="!isAcceptingBooking" class="wrapper-menu">
			<ul>
				<li>
					<router-link
						class="parent"
						:class="{
							'parent-active': $route.name === 'biodataTenant'
						}"
						:to="urlLinkTenant('profile')"
					>
						<span class="parent-link" :class="anchorStyleTenant('profile')">{{
							firstTitle
						}}</span>
					</router-link>
					<ul>
						<li class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#informasiPersonal, 50px'"
								:to="`${urlLinkTenant('profile')}#informasiPersonal`"
							>
								<img v-lazy="'/general/img/icons/ic_personal-mamipay_o.svg'" />
								<span>Informasi Personal</span>
							</router-link>
						</li>
						<li class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#dokumenIdentitas, 50px'"
								:to="`${urlLinkTenant('profile')}#dokumenIdentitas`"
							>
								<img v-lazy="'/general/img/icons/ic_dokumen-mamipay_o.svg'" />
								<span>Dokumentasi Identitas</span>
							</router-link>
						</li>
						<li class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#kontakPenghuni, 50px'"
								:to="`${urlLinkTenant('profile')}#kontakPenghuni`"
							>
								<img v-lazy="'/general/img/icons/ic_phone-mamipay_o.svg'" />
								<span>Kontak Penyewa</span>
							</router-link>
						</li>
						<li v-if="isCollegeTenant" class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#kontakOrangTua, 50px'"
								:to="`${urlLinkTenant('profile')}#kontakOrangTua`"
							>
								<img
									v-lazy="'/general/img/icons/ic_parent-phone-mamipay_o.svg'"
								/>
								<span>Kontak Orang Tua / Wali</span>
							</router-link>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div v-if="!isAcceptingBooking" class="wrapper-menu">
			<ul>
				<li>
					<router-link
						class="parent"
						:class="{
							'parent-active': $route.name === 'tenantBill'
						}"
						:to="urlLinkTenant('bill')"
					>
						<span class="parent-link" :class="anchorStyleTenant('bill')">{{
							secondTitle
						}}</span>
					</router-link>
					<ul>
						<li class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#waktuSewaPenghuni, 50px'"
								:to="`${urlLinkTenant('bill')}#waktuSewaPenghuni`"
							>
								<img
									v-lazy="'/general/img/icons/ic_time-mamipay_o.svg'"
									alt="Icon Mamipay Time"
								/>
								<span>Waktu Sewa Penyewa</span>
							</router-link>
						</li>
						<li
							v-if="isMember && !isHiddenExtendContractMenu"
							class="child-link"
						>
							<router-link
								active-class="active"
								v-scroll-to="'#perpanjanganDurasi, 50px'"
								:to="`${urlLinkTenant('bill')}#perpanjanganDurasi`"
							>
								<img
									src="/general/img/icons/ic_duration-mamipay_o.svg"
									alt="Icon Mamipay Duration"
								/>
								<span>Perpanjang Durasi Sewa Penyewa</span>
							</router-link>
						</li>
						<li v-if="!isHiddenDateBill" class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#penagihanTetap, 50px'"
								:to="`${urlLinkTenant('bill')}#penagihanTetap`"
							>
								<img v-lazy="'/general/img/icons/ic_home-mamipay_o.svg'" />
								<span>Kost Punya Tanggal Penagihan Tetap</span>
							</router-link>
						</li>
						<li class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#biayaDeposit, 50px'"
								:to="`${urlLinkTenant('bill')}#biayaDeposit`"
							>
								<img v-lazy="'/general/img/icons/ic_deposit-mamipay_o.svg'" />
								<span>Biaya Deposit &amp; Denda</span>
							</router-link>
						</li>
						<li v-if="!isMember" class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#biayaLainnya, 50px'"
								:to="`${urlLinkTenant('bill')}#biayaLainnya`"
							>
								<img v-lazy="'/general/img/icons/ic_other-mamipay_o.svg'" />
								<span>Biaya Lainnya</span>
							</router-link>
						</li>
						<li v-if="!isMember" class="child-link">
							<router-link
								active-class="active"
								v-scroll-to="'#downPayment, 50px'"
								:to="`${urlLinkTenant('bill')}#downPayment`"
							>
								<img
									v-lazy="'/general/img/icons/ic_down-payment-mamipay_o.svg'"
								/>
								<span>Terapkan Down Payment (DP)</span>
							</router-link>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div v-if="isShowTerminationMenu" class="wrapper-menu">
			<ul>
				<li>
					<a class="parent">
						<span
							class="parent-link text-default"
							@click="openModalReasonStopRent"
							>Hentikan Kontrak Sewa</span
						>
					</a>
				</li>
			</ul>
		</div>

		<manage-profile-accept-booking
			v-if="isAcceptingBooking"
		></manage-profile-accept-booking>

		<manage-other-custom-action-modal :show-modal.sync="isModalEndContract">
			<span slot="textHeader"
				>Apakah Anda yakin mengakhiri kontrak Penghuni ini ?</span
			>
			<span slot="textDescription"
				>Setelah Anda mengakhiri kontrak Penghuni ini, data kontrak penghuni
				perlu dimasukan kembali secara manual</span
			>
			<div slot="button">
				<button class="btn" @click="isModalEndContract = !isModalEndContract">
					Batal
				</button>
				<button class="btn btn-danger" @click="deleteTenant(contractId, true)">
					Akhiri kontrak
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import { mapState } from 'vuex';

import ManageTenantProfile from './ManageProfileTenant';
import ManageProfileAcceptBooking from './ManageProfileAcceptBooking';

import ManageOtherCustomActionModal from '../other-custom/ManageOtherCustomActionModal';

import MixinMamipayBill from '../../mixins/MixinMamipayBill';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		ManageTenantProfile,
		ManageProfileAcceptBooking,
		ManageOtherCustomActionModal
	},
	mixins: [MixinMamipayBill],

	props: {
		nearestCheckoutDate: {
			type: Array,
			default: () => {
				return [];
			}
		}
	},

	data() {
		return {
			isModalEndContract: false,
			isHiddenExtendContractMenu: true,
			isHiddenDateBill: true
		};
	},

	computed: {
		...mapState({
			tenantProfile: state => state.tenantProfile
		}),
		terminationInfo() {
			const widgetInfo = this.tenantProfile.widgetInfo;
			return widgetInfo ? widgetInfo.terminationInfo : null;
		},
		isShowTerminationMenu() {
			return (
				this.isMember &&
				(!this.terminationInfo ||
					!['waiting', 'confirmed'].includes(this.terminationInfo.status))
			);
		},
		isCollegeTenant() {
			return this.tenantProfile.tenantProfile.work === 'Mahasiswa';
		},
		contractId() {
			return this.tenantProfile.widgetInfo.contractId;
		},
		statusPage() {
			return this.tenantProfile.statusPage;
		},
		tenantId() {
			return this.$route.params.tenantId;
		},
		isMember() {
			return this.statusPage === 'member';
		},
		isNewMember() {
			return this.statusPage === 'newMember';
		},
		isAcceptingBooking() {
			return this.statusPage === 'acceptBooking';
		},
		firstTitle() {
			return this.isNewMember ? 'Tambah Biodata Penyewa' : 'Biodata Penyewa';
		},
		secondTitle() {
			return this.isNewMember
				? 'Tambah Kontrak & Tagihan Penyewa'
				: 'Atur Kontrak & Tagihan Penyewa';
		},
		rentCount() {
			return this.tenantProfile.tenantBill.rentCount;
		}
	},

	methods: {
		labellingCheckoutList(checkoutDateList) {
			return checkoutDateList.map(value => {
				return {
					value,
					label: this.$dayjs(value).format('dddd, D MMMM YYYY')
				};
			});
		},

		openModalReasonStopRent() {
			EventBus.$emit('actionModalStopRent', {
				isOpenModal: true,
				contractId: this.tenantId,
				tenantName: this.tenantProfile.tenantProfile.fullName,
				checkoutDateList: this.labellingCheckoutList(this.nearestCheckoutDate)
			});
		},

		anchorStyleTenant(menu) {
			const routeName =
				menu === 'profile'
					? 'biodataTenant'
					: menu === 'payment'
					? 'paymentTenant'
					: 'tenantBill';
			return {
				'text-primary': this.$route.name === routeName,
				'text-default': this.$route.name !== routeName
			};
		},
		urlLinkTenant(menu) {
			const link = menu === 'profile' ? 'biodata-tenant' : 'billing-tenant';
			let url = `/profile-tenant/${this.tenantId}/${link}`;
			this.isNewMember && (url = `${url}/new-member`);
			return url;
		}
	}
};
</script>

<style lang="scss" scoped>
#manageProfileMenu {
	width: 100%;
	height: 84vh;
	background-color: #fff;
	border: 0.5px solid #dbdbdb;
	border-radius: 3px;
	overflow: auto;

	&.addition-top-padding {
		padding-top: 2rem;
	}
}

.wrapper-menu {
	padding: 0rem 3rem 0rem 3rem;
	ul {
		padding-left: 0;
		li {
			list-style: none;
			a.parent {
				display: block;
				width: 100%;
				padding: 1rem 2rem;
				span {
					&.parent-link {
						font-weight: 600;
						font-size: 1.2em;
						&.default-color {
							color: #999999;
						}
						&.active {
							color: #1baa56;
						}
					}
				}
			}

			.parent-active {
				background: rgba(0, 0, 0, 0.02);
				border-radius: 5px;
			}

			ul {
				padding: 1rem 2rem;
				li {
					&.child-link {
						padding: 1.1rem 0rem;
						a {
							&:active {
								color: #1baa56;
							}
							color: #999999;
							&.active {
								color: #1baa56;
							}
							text-decoration: none;
							> img {
								margin-right: 0.8rem;
								width: 21px;
								height: 21px;
							}
							> span {
								font-size: 1em;
							}
						}
					}
				}
			}
		}
	}
}

::-webkit-scrollbar {
	width: 4px;
	&-track {
		background-color: #f5f5f5;
		border-radius: 10px;
	}
	&-thumb {
		background: #ddd;
		border-radius: 10px;
	}
}
</style>
