<template>
	<div
		v-if="status === 'waiting'"
		class="termination-card termination-card-action"
	>
		<h5 class="termination-card-action__title">
			Konfirmasi Pemberhentian Sewa
		</h5>
		<p class="termination-card-action__description">
			{{ tenantName }} ({{ roomNumber }}) menghentikan sewa kos. Mohon periksa
			tagihan penyewa.
		</p>
		<div class="termination-card-action__footer">
			<mami-button
				v-if="isAllowReject"
				class="termination-card-action__button-reject"
				color="tertiary"
				size="large"
				min-width="140px"
				:disabled="isConfirming"
				:loading="isRejecting"
				@click="handleRejectClicked"
			>
				Tolak
			</mami-button>
			<mami-button
				color="primary"
				size="large"
				min-width="140px"
				class="termination-card-action__button-confirm"
				:disabled="isRejecting"
				:loading="isConfirming"
				@click="handleConfirmClicked"
			>
				Konfirmasi
			</mami-button>
		</div>
	</div>
	<div
		v-else-if="status === 'confirmed'"
		class="termination-card termination-card-info"
	>
		<p class="termination-card-info__description">
			Penyewa telah selesai mengakhiri kontrak sewa kos
		</p>
	</div>
</template>

<script>
import _get from 'lodash/get';
import MamiButton from 'Js/@components/mami-components/MamiButton';

export default {
	components: {
		MamiButton
	},
	props: {
		tenantName: {
			type: String,
			default: ''
		},
		roomNumber: {
			type: String,
			default: ''
		},
		status: {
			type: String,
			default: ''
		},
		isAllowReject: {
			type: Boolean,
			default: false
		},
		terminationId: {
			type: Number,
			required: true
		}
	},
	data() {
		return {
			isRejecting: false,
			isConfirming: false
		};
	},
	computed: {
		isLoading() {
			return this.isRejecting || this.isConfirming;
		}
	},
	methods: {
		showToast(message) {
			this.$toasted.show(message, {
				theme: 'toasted-primary',
				position: 'bottom-left',
				duration: 5000
			});
		},
		async handleConfirmClicked() {
			if (this.isLoading) return;
			this.isConfirming = true;
			try {
				const res = await axios.get(
					`/contract/terminate/${this.terminationId}`
				);
				const responseStatus = _get(res, 'data.status', false);
				const responseMessage = _get(res, 'data.meta.message', '');
				if (responseStatus) {
					this.showToast(responseMessage || 'Pemberhentian sewa terkonfirmasi');
					this.$emit('confirmed');
				} else {
					this.showToast(responseMessage || 'Konfirmasi akhiri kontrak gagal');
				}
				this.isConfirming = false;
			} catch (error) {
				this.isConfirming = false;
				bugsnagClient.notify(error);
				this.$emit('submit-error');
			}
		},
		async handleRejectClicked() {
			if (this.isLoading) return;
			this.isRejecting = true;
			try {
				const res = await axios.post(
					`/contract/reject-terminate/${this.terminationId}`
				);
				const responseStatus = _get(res, 'data.status', false);
				const responseMessage = _get(res, 'data.meta.message', '');
				if (responseStatus) {
					this.showToast(responseMessage);
					this.$emit('rejected');
				} else {
					this.showToast(responseMessage);
				}
				this.isRejecting = false;
			} catch (error) {
				this.isRejecting = false;
				bugsnagClient.notify(error);
				this.$emit('submit-error');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.termination-card {
	background-color: #fff;

	&.termination-card-action {
		padding: 16px;
		border-radius: 8px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
	}

	.termination-card-action__title {
		margin: 0 0 8px;
		font-size: 20px;
		font-weight: 900;
		line-height: 28px;
		color: #303030;
	}

	.termination-card-action__description,
	.termination-card-info__description {
		margin-bottom: 0;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
	}

	.termination-card-action__footer {
		display: flex;
		margin-top: 24px;

		> *:not(:first-of-type) {
			margin-left: 16px;
		}
	}

	&.termination-card-info {
		position: relative;
		padding: 16px 16px 16px 20px;
		overflow: hidden;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.08);

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 4px;
			height: 100%;
			content: '';
			background-color: #0074db;
		}
	}
}
</style>
