<template>
	<div id="manageProfileAcceptBooking">
		<div class="wrapper-card">
			<img
				v-if="tenantData.tenant_photo_identifier"
				class="user-card"
				:src="tenantData.tenant_photo_identifier.medium"
				alt="Photo User Default"
			/>
			<img
				v-else
				v-lazy="'/general/img/example/example-ktp.jpg'"
				class="user-card"
			/>
			<p class="type-document">
				(KTP)
			</p>

			<div class="wrapper-disclaimer">
				<div class="row">
					<div class="col-xs-2">
						<img
							v-lazy="'/general/img/icons/ic_padlock-mamipay_o.svg'"
							class="image-padlock"
							alt="Image Padlock"
						/>
					</div>
					<div class="col-xs-10">
						<p>
							Foto e-KTP dan Data Penyewa berasal dari penyewa langsung. Kami
							tidak bisa menjamin keabsahan data tersebut
						</p>
					</div>
				</div>
			</div>

			<div class="wrapper-user-information">
				<div class="row">
					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">Jenis Kelamin</span>
							</div>
							<div class="col-xs-6">
								<span class="desc">{{ genderTenant || '-' }}</span>
							</div>
						</div>
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">Status</span>
							</div>
							<div class="col-xs-6">
								<span class="desc">{{
									tenantData.user_status || 'Belum Kawin'
								}}</span>
							</div>
						</div>
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">Pekerjaan</span>
							</div>
							<div class="col-xs-6">
								<span class="desc">{{ tenantJob }}</span>
							</div>
						</div>
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">Email</span>
							</div>
							<div class="col-xs-6">
								<span class="desc text-orange">{{
									tenantData.email || '-'
								}}</span>
							</div>
						</div>
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">Nama Orangtua</span>
							</div>
							<div class="col-xs-6">
								<span class="desc">{{ tenantData.parent_name || '-' }}</span>
							</div>
						</div>
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row user-information">
							<div class="col-xs-6">
								<span class="title">No Telepon orangtua</span>
							</div>
							<div class="col-xs-6">
								<span class="desc text-orange">{{
									maskingPhoneNumber(tenantData.parent_phone_number)
								}}</span>
							</div>
						</div>
						<hr />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MixinMaskingPhoneNumber from '../../mixins/MixinMaskingPhoneNumber';

export default {
	mixins: [MixinMaskingPhoneNumber],

	computed: {
		tenantData() {
			return this.$store.state.manageBooking.acceptBookingProfile;
		},
		genderTenant() {
			if (this.tenantData.gender == 'female') {
				return 'Perempuan';
			} else {
				return 'Laki - laki';
			}
		},
		tenantJob() {
			/* eslint-disable camelcase */
			const { occupation = '-', occupation_description = '' } = this.tenantData;
			let tenantWorkPlace = occupation;
			if (occupation_description) {
				tenantWorkPlace += ` - ${occupation_description}`;
			}
			return tenantWorkPlace || '-';
		}
	}
};
</script>

<style lang="scss" scoped>
#manageProfileAcceptBooking {
	overflow: hidden;
	.wrapper-card {
		img {
			&.user-card {
				width: 100%;
				height: auto;
				padding: 0rem 3rem 2rem 3rem;
			}
		}

		p {
			&.type-document {
				text-align: center;
				margin-top: 1rem;
				color: #999999;
				font-style: italic;
			}
		}
	}

	.wrapper-disclaimer {
		background-color: #1baa5640;
		color: #006d2e;
		position: relative;
		left: -30px;
		width: calc(100% + 60px);

		.row {
			width: 335px;
			margin: 0 auto;
			padding: 2rem 0rem;
		}

		img {
			&.image-padlock {
				position: relative;
				top: 18px;
				right: -9px;
			}
		}
	}

	.wrapper-user-information {
		margin-top: 4rem;
		padding: 0rem 3rem 2rem 3rem;

		.user-information {
			.title {
				font-weight: 700;
			}

			.desc {
				float: right;
				&.text-orange {
					color: #ec4a0c;
				}
			}
		}
	}
}
</style>
