<template>
	<div class="container-forum">
		<navbar-custom
			:navbarColor="'navbar-custom-color'"
			:navbarColorScrolled="'navbar-custom-scrolled'"
			:navigations="navigations"
			:logo="'/general/img/logo/logo_mamikos_green.svg'"
			:alt-logo="'logo_mamikos_green'"
		></navbar-custom>
		<router-view :key="$route.fullPath"></router-view>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	}
};
</script>

<style>
.navbar-custom-color {
	background-color: #eafee7;
	border: none;
	padding: 0 15px;
}
.navbar-custom-scrolled {
	background-color: #eafee7;
	border: none;
	border-bottom: 1px solid #e7e7e7;
	padding: 0 15px;
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}

@media (min-width: 768px) {
	.navbar-nav button.btn.btn-default.dropdown-toggle,
	.navbar-default .navbar-nav > li > a {
		color: #1baa56 !important;
		font-weight: 650 !important;
	}
	.navbar-nav button.btn.btn-default.dropdown-toggle:hover,
	button.btn.btn-default.dropdown-toggle:focus,
	button.btn.btn-default.dropdown-toggle:active,
	.nav > li > a:focus,
	.nav > li > a:hover,
	.nav > li > a:active {
		color: #1baa56 !important;
		border-bottom: 3px solid #1baa56 !important;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1baa56 !important;
}
</style>
