<template>
	<div>
		<label for="questionAsked" class="form-label">Mulai bertanya sekarang</label>
		<div class="input-group">
			<textarea 
				id="questionAsked"
				class="form-control"
				:class="input"
				minlength="10"
				maxlength="190"
				required
				:placeholder="placeholder"
				v-model="question"
			></textarea>
			<div class="input-group-btn" :class="append">
				<button type="button" class="btn btn-send" @click="sendQuestion">Kirim</button>
			</div>
		</div>
		<span class="howto-text">contoh: Dimana tempat makan yang murah dan bersih?</span>
	</div>
</template>

<script>
export default {
	data() {
		return {
			question: '',
			label: 'Pertanyaan'
		}
	},
	created() {
		if (Cookies.get('ForumQuestion') !== undefined) {
			this.question = Cookies.getJSON('ForumQuestion').question;
		}
	},
	watch: {
		question(val) {
			this.$store.commit('setParamsQuestion', val);
		}
	},
	props: {
		placeholder: {
			type: String
		},
		append: {
			type: String
		},
		input: {
			type: String
		}
	},
	methods: {
		sendQuestion() {
			this.$emit('send');
		}
	}
}
</script>

<style scoped>
.form-label {
	font-size: 16px;
	color: #2f492b;
}
.form-control {
	height: 55px;
	border: 1.5px solid #a3e896;
}
.howto-text {
	font-style: italic;
}
.input-group-btn .btn {
	height: 55px;
}
</style>
