<template>
	<div class="category-select">
		<label for="categoryOptions" class="form-label">Kota tujuan kuliah</label>
		<v-select 
			id="categoryOptions"
			v-model="category"
			label="name" 
			required
			placeholder="Pilih kota"
			:options="categoryOptions"
			v-show="!loading"
		>		
			<span slot="no-options">Tidak ditemukan</span>
		</v-select>
		<select class="form-control" disabled v-show="loading">
			<option>Memuat...</option>
		</select>
	</div>
</template>

<script>
import vSelect from 'vue-select';

export default {
	components: {
		'v-select': vSelect
	},
	data() {
		return {
			category: ''
		}
	},
	created() {
		if (Cookies.get('ForumQuestion') !== undefined) {
			this.category = Cookies.getJSON('ForumQuestion').category;
		}
	},
	watch: {
		category(val) {
			this.$store.commit('setParamsCategory', val);
		}
	},
	props: {
		loading: {
			type: Boolean
		},
		categoryOptions: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
@media (max-width: 767px) {
	.category-select {
		width: 75%;
	}
}
.form-label {
	font-size: 16px;
	color: #2f492b;
}
.form-control {
	height: 40px;
	border: 1.5px solid #a3e896;
}
</style>

<style>
.v-select .dropdown-toggle {
	background: #fff;
	height: 40px;
	font-family: 'Lato', sans-serif;
	border: 1.5px solid #a3e896;
}
</style>