<template>
	<div id="forumModalConfirmOff" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-msg flex justify-content-center">
					<span>Tolak sebagai jawaban terbaik?</span>
				</div>
				<div class="modal-btn-yes flex justify-content-center">
					<button type="button" class="btn btn-mamigreen" @click="minBest">
						Ya
					</button>
				</div>
				<div class="modal-btn-no flex justify-content-center">
					<button
						type="button"
						class="btn btn-mamigreen-inverse"
						data-dismiss="modal"
					>
						Tidak
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		openModal() {
			$('#forumModalConfirmOff').modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#forumModalConfirmOff').modal('hide');
		},
		minBest() {
			this.$emit('minBestAnswer');
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 5px;
}
.justify-content-center {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.modal-content {
	border: 1.5px solid #1baa56;
	padding: 15px;
}
.modal-msg {
	font-size: 16px;
	padding-bottom: 10px;
}
.modal-btn-yes button,
.modal-btn-no button {
	width: 58px;
}
</style>
