<template>
	<div class="comment-form col-md-8 col-md-offset-2" id="commentForm">
		<field-answer
			:placeholder="'Tulis jawabanmu di sini...'"
			:input="'field-ans'"
			:append="'btn-append'"
			@send="answerThread"
		></field-answer>
		<forum-modal-register
			:ref="'forumModalRegister'"
			:auto="'answer'"
		></forum-modal-register>
	</div>
</template>

<script>
import FieldAnswer from './FieldAnswer';
import ForumModalRegister from './ForumModalRegister';

export default {
	components: {
		FieldAnswer,
		ForumModalRegister
	},

	props: {
		slug: {
			type: String,
			required: true
		}
	},

	computed: {
		userData() {
			return this.$store.state.userData;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		answer() {
			return this.$store.state.params.answer;
		}
	},

	methods: {
		answerThread() {
			Cookies.set('ForumAnswer', { answer: this.answer });
			if (!this.authCheck.all) {
				$('#login').modal('show');
			} else {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					this.openSwalLoading('Mohon tunggu...', null);
					axios
						.post('/forum/thread/answer/' + this.slug, {
							answer: this.answer
						})
						.then(response => {
							this.closeSwalLoading();
							if (response.data.status) {
								let refreshDetailThread = () => {
									this.$emit('refresh', response.data.last_page);
								};

								this.swalSuccessTimer(
									null,
									'Jawaban Anda telah berhasil kami simpan',
									refreshDetailThread()
								);

								Cookies.remove('ForumAnswer');
								this.$store.commit('setParamsAnswer', '');
							} else {
								this.swalError(null, response.data.meta.message);
								Cookies.remove('ForumAnswer');
								this.$store.commit('setParamsAnswer', '');
							}
						})
						.catch(error => {
							this.closeSwalLoading();
							bugsnagClient.notify(error);
							alert(
								'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
							);
						});
				}
			}
		}
	}
};
</script>

<style scoped>
.comment-form {
	padding-top: 15px;
	background-color: #a3e896;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
}

@media (max-width: 991px) {
	.comment-form {
		padding-top: 16px;
		padding-bottom: 1px;
	}
}
</style>

<style>
.field-ans {
	border-right: none !important;
}
.btn-append button {
	height: 40px;
	border-top: 1.5px solid #a3e896;
	border-right: 1.5px solid #a3e896;
	border-bottom: 1.5px solid #a3e896;
	background-color: #fff;
	color: #fe522e;
	font-weight: bold;
}
</style>
