<template>
	<div class="container-landing-header">
		<div class="question-box">
			<div class="city-title">
				<h1 v-if="loading">{{ route.params.category }}</h1>
				<h1 v-else>{{ category.name }}</h1>
			</div>
			<div class="field-question">
				<field-question
					:placeholder="'Tulis pertanyaanmu di sini...'"
					:input="'field-quest'"
					:append="'btn-append'"
					@send="postThread"
				></field-question>
			</div>
		</div>
		<forum-modal-register :ref="'forumModalRegister'"></forum-modal-register>
	</div>
</template>

<script>
import FieldQuestion from './FieldQuestion';
import ForumModalRegister from './ForumModalRegister';

export default {
	components: {
		FieldQuestion,
		ForumModalRegister
	},

	props: {
		loading: {
			type: Boolean,
			default: true
		}
	},

	computed: {
		userData() {
			return this.$store.state.userData;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		route() {
			return this.$route;
		},
		category() {
			return this.$store.state.params.category;
		},
		question() {
			return this.$store.state.params.question;
		}
	},

	methods: {
		postThread() {
			Cookies.set('ForumQuestion', {
				category: this.category,
				question: this.question
			});

			if (!this.authCheck.all) {
				$('#login').modal('show');
			} else {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					this.openSwalLoading('Mohon tunggu...', null);
					axios
						.post('/forum/thread/new', {
							category: this.category.id,
							question: this.question
						})
						.then(response => {
							this.closeSwalLoading();
							if (response.data.status) {
								let refreshLandingCategory = () => {
									this.$emit('refresh');
								};

								this.swalSuccessTimer(
									null,
									'Pertanyaan Anda telah berhasil kami simpan',
									refreshLandingCategory()
								);

								Cookies.remove('ForumQuestion');
								this.$store.commit('setParamsCategory', {});
								this.$store.commit('setParamsQuestion', '');
							} else {
								this.swalError(null, response.data.meta.message);
								Cookies.remove('ForumQuestion');
								this.$store.commit('setParamsCategory', {});
								this.$store.commit('setParamsQuestion', '');
							}
						})
						.catch(error => {
							this.closeSwalLoading();
							bugsnagClient.notify(error);
							alert(
								'Terjadi galat.\nSilakan cek koneksi internet Anda dan coba lagi.'
							);
						});
				}
			}
		}
	}
};
</script>

<style scoped>
.container-landing-header {
	background-color: #eafee7;
}
.city-title h1 {
	text-transform: uppercase;
	color: #1baa56;
	font-weight: bold;
	font-size: 25px;
}

@media (max-width: 991px) {
	.question-box {
		padding: 1px 15px;
		margin-right: auto;
		margin-left: auto;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.question-box {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.question-box {
		width: 66.67%;
		margin-left: 16.67%;
		padding: 10px 15px;
	}
}
</style>

<style>
.field-quest {
	border-right: none !important;
}
.btn-append button,
.btn-append button:hover {
	height: 40px;
	border-top: 1.5px solid #a3e896;
	border-right: 1.5px solid #a3e896;
	border-bottom: 1.5px solid #a3e896;
	background-color: #fff;
	color: #fe522e;
	font-weight: bold;
}
</style>
