<template>
	<div class="container-content-preview">
		<div class="content-preview container">
			<div class="col-md-12">
				<div class="preview-box col-md-6">
					<div class="preview-content top">
						<span>Atau temukan pertanyaan tentang kota tujuanmu</span>
					</div>

					<div class="preview-content is-loading flex-center" v-if="loading">
						<mami-loading-inline></mami-loading-inline>
					</div>

					<router-link
						class="preview-content"
						v-else
						v-for="(category, index) in categoryList.categories"
						:key="index"
						:to="category.slug"
						exact
					>
						<div class="left">
							<div class="city-box">
								<span class="city">{{ category.name }}</span>
								<br class="hidden-sm hidden-md hidden-lg" />
								<span class="stat"
									>{{ category.question_count }} pertanyaan
									<span class="stat-separator">|</span>
									{{ category.answer_count }} jawaban</span
								>
							</div>
							<div
								class="question-box hidden-xs"
								v-for="(thread, index) in (3, category.threads)"
								:key="index"
							>
								<span>{{ thread.title }}</span
								><br />
							</div>
						</div>
						<div class="right">
							<img
								src="assets/owner/icon_arrow_hijau.png"
								alt="icon_arrow_hijau"
							/>
						</div>
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline
	},

	props: {
		loading: {
			type: Boolean
		},
		categoryList: {
			type: Object,
			required: true
		}
	},
	methods: {
		openLandingCategory(slug) {
			window.open('/forum/' + slug, '_self');
		}
	}
};
</script>

<style scoped>
.container-content-preview {
	background-color: #a3e896;
	padding-bottom: 30px;
}
.preview-box {
	border: 1.5px solid #a3e896;
	border-radius: 7px;
	background-color: #fff;
	margin-top: -40px;
	padding-left: 0;
	padding-right: 0;
}
.content-preview {
	padding-left: 0;
	min-height: 50vh;
}
.preview-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	text-decoration: none;
	padding: 15px;
	padding-left: 20px;
	border-top: 1.5px solid #a3e896;
}
a.preview-content:hover,
a.preview-content:active,
a.preview-content:focus {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.1);
	background-size: cover;
}
.preview-content.top {
	border-top: none;
}
.preview-content.top span {
	font-size: 16px;
	color: #414040;
}
.city-box {
	padding-bottom: 7px;
}
.city {
	font-size: 25px;
	color: #414040;
	padding-right: 10px;
}
.stat {
	color: #1baa56;
}
.question-box span,
.stat-separator {
	color: #939393;
}
.preview-content .left {
	float: left;
	width: 95%;
}
.preview-content .right {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.preview-content .right img {
	height: 30px;
	opacity: 0.6;
}

@media (max-width: 767px) {
	.preview-content.top span {
		font-size: 14px;
	}
	.city {
		font-size: 20px;
	}
	.preview-content .right img {
		height: 25px;
	}
}
</style>
