<template>
	<div id="forumModalReportThread" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="clearfix"></div>
					<br>
					<div class="form-group">
						<textarea
							type="text"
							id="reportForm"
							class="form-control"
							minlength="5"
							maxlength="200"
							placeholder="Silakan tulis di sini..."
							v-model="reportForm"
							></textarea>
					</div>
					<div class="send-button flex justify-flex-end">
						<button type="button" class="btn btn-mamiorange" @click="reportPost">Kirim</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default{
	data() {
		return {
			reportForm: '',
			label: 'Laporan'
		}
	},
	computed: {
		reportThread() {
			return this.$store.state.params.report_thread
		}
	},
	props: {
		slug: {
			type: String,
			required: true
		}
	},
	watch: {
		reportForm(val) {
			this.$store.commit('setParamsReportThread', val)
		}
	},
	methods: {
		openModal() {
			$('#forumModalReportThread').modal();
		},
		closeModal() {
			$('#forumModalReportThread').modal('hide');
		},
		doneReport() {
			$('#forumModalReportThread').modal('hide');
			this.$emit('reported');
		},
		reportPost() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/forum/thread/report/' + this.slug, {
					report: this.reportThread
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.swalSuccessTimer(
							null, 
							'Laporan Anda telah terkirim', 
							this.doneReport()
						);
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				}) 
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 5px;
}
.justify-flex-end {
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;	
}
</style>