<template>
	<div class="landing-content container col-md-8 col-md-offset-2">
		<div v-for="(thread, index) in threadList.threads" :key="index">
			<div :class="{ overlay: !authCheck.all && index > 2 }">
				<div
					class="content-box material-card"
					:class="
						!authCheck.all && index > 2 ? 'material-card-2' : 'material-card-1'
					"
					v-if="(index < 5 && !authCheck.all) || authCheck.all"
				>
					<div @click="openDetailThread(thread.slug, index)">
						<div class="content-question">
							<span>{{ thread.title }}</span>
						</div>
						<div class="question-detail">
							<div class="name">
								<span>{{ thread.author.name }}</span>
							</div>
							<div class="date">
								<span>&nbsp;| {{ thread.created_time }}</span>
							</div>
						</div>
					</div>
					<div
						class="content-answer"
						@click="openDetailThread(thread.slug, index)"
					>
						<div class="left">
							<img src="/assets/icons/forum/ic_jawaban.png" alt="ic_jawaban" />
							<span class="answer-count">{{ thread.answer_count }} Jawaban</span
							><br />
							<span
								class="answer-detail"
								v-if="
									thread.last_answer_time !== '' &&
										thread.last_answer_time !== null
								"
								>terakhir dijawab: {{ thread.last_answer_time }}</span
							>
							<!-- <span class="answer-detail" v-else>terakhir dijawab: -</span> -->
						</div>
						<div class="right">
							<button
								type="button"
								class="btn btn-default"
								:class="!thread.is_followed ? 'not-follow' : 'is-follow'"
								:disabled="!authCheck.all && index > 2"
								@click.stop="follow(thread.is_followed, thread.slug, index)"
								v-text="!thread.is_followed ? 'Ikuti' : 'Mengikuti'"
							></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-login" v-if="!authCheck.all">
			<label
				><span class="login-link" @click="register">LOGIN</span> untuk melihat
				semua pertanyaan</label
			>
		</div>

		<div
			class="container-pagination flex-center col-md-12"
			v-if="
				authCheck.all &&
					!(
						threadList.pagination.current_page == 1 &&
						!threadList.pagination.has_more
					)
			"
		>
			<button
				type="button"
				class="btn btn-mamiorange-inverse"
				@click="paginate('previous')"
				:disabled="threadList.pagination.current_page == 1 || loading"
			>
				<i class="fa fa-chevron-left" aria-hidden="true"></i> Sebelumnya
			</button>
			<button
				type="button"
				class="btn btn-mamiorange-inverse"
				@click="paginate('next')"
				:disabled="!threadList.pagination.has_more || loading"
			>
				Selanjutnya <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</button>
		</div>

		<forum-modal-register :ref="'forumModalRegister'"></forum-modal-register>
	</div>
</template>

<script>
import ForumModalRegister from './ForumModalRegister';

export default {
	components: {
		ForumModalRegister
	},

	props: {
		threadList: {
			type: Object,
			required: true
		},
		loading: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		userData() {
			return this.$store.state.userData;
		},
		authCheck() {
			return this.$store.state.authCheck;
		}
	},

	methods: {
		paginate(direction) {
			if (direction == 'previous') {
				this.$emit('previous', this.threadList.pagination.current_page - 1);
			} else if (direction == 'next') {
				this.$emit('next', this.threadList.pagination.next_page);
			}
		},
		openDetailThread(slug, index) {
			tracker('ga', ['send', 'event', {
				eventCategory: 'Forum User',
				eventAction: 'click',
				eventLabel: 'Track Open Thread' + slug
			}]);
			if (!this.authCheck.all) {
				if (index < 3) {
					this.$router.push({
						name: 'detail',
						params: { thread: slug }
					});
				}
			} else {
				this.$router.push({
					name: 'detail',
					params: { thread: slug }
				});
			}
		},
		follow(state, slug, index) {
			if (this.authCheck.all) {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					let postUrl = !state
						? '/forum/thread/follow/'
						: '/forum/thread/unfollow/';
					axios
						.post(postUrl + slug)
						.then(response => {
							if (response.data.status) {
								this.threadList.threads[index].is_followed = !state;
							} else {
								this.swalError(null, response.data.meta.message);
							}
						})
						.catch(error => {
							bugsnagClient.notify(error);
							alert(
								'Terjadi galat.\nSilakan cek koneksi internet Anda dan coba lagi.'
							);
						});
				}
			} else {
				$('#login').modal();
			}
		},
		register() {
			if (!this.authCheck.all) {
				$('#login').modal('show');
			} else {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				}
			}
		}
	}
};
</script>

<style scoped>
.landing-content {
	padding-top: 15px;
}
.content-box {
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}
.overlay {
	filter: blur(5px);
	opacity: 0.9;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.overlay * {
	cursor: default !important;
}
.overlay .content-box {
	cursor: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*.overlay .content-box:hover {
	box-shadow: none
}*/
.content-question {
	padding: 15px;
	padding-bottom: 5px;
}
.content-question span {
	color: #414040;
	font-size: 20px;
}
.question-detail {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 5px 15px;
	padding-bottom: 15px;
}
.question-detail span,
.content-answer .answer-detail {
	font-size: 13px;
}
.question-detail .name,
.question-detail .date,
.content-answer .answer-detail {
	color: #949494;
}
.question-detail .name {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
}
.content-answer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background-color: #f4f4f4;
	padding: 10px 15px;
}
.content-answer img {
	height: 14px;
	margin-top: -1px;
}
.content-answer .answer-count {
	font-size: 15px;
	color: #1baa56;
}
.content-answer .answer-detail {
	padding-left: 21px;
}
.btn-default {
	width: 90px;
}
.not-follow {
	color: #414040;
}
.is-follow {
	color: #1baa56;
}

.container-pagination {
	margin-bottom: 15px;
}
.container-pagination .btn {
	margin-right: 5px;
	margin-left: 5px;
}

.container-login {
	padding: 25px;
	padding-bottom: 50px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.container-login label {
	font-size: 18px;
}
.login-link {
	color: #1baa56;
	cursor: pointer;
}

@media (max-width: 400px) {
	.content-answer .answer-detail {
		padding-left: 0px;
	}
}
</style>
