<template>
	<div class="detail-thread col-md-8 col-md-offset-2">
		<div class="thread-box">
			<div class="thread-header flex justify-space-between">
				<div class="junior-detail flex">
					<div class="profile-picture">
						<div
							class="prof-pict"
							v-lazy:background-image="detailThread.author.photo.small"
							:title="detailThread.author.name"
						></div>
					</div>
					<div class="info-detail">
						<div class="flex">
							<div class="name">
								<span>{{ detailThread.author.name }}</span>
							</div>
							<div class="stat">
								<span>{{ detailThread.author.role_string }}</span>
							</div>
						</div>
						<span class="origin">{{ detailThread.author.description }}</span
						><br />
						<span class="time">{{ detailThread.created_time }}</span>
					</div>
				</div>
			</div>

			<div class="category-detail">
				<span>{{ detailThread.breadcrumbs[1].name }}</span>
			</div>

			<div class="quest-content" v-html="detailThread.title"></div>

			<div class="flex justify-flex-end">
				<div class="follow">
					<button
						type="button"
						class="btn btn-default"
						:class="!isFollowed ? 'not-follow' : 'is-follow'"
						@click="follow(isFollowed, detailThread.slug)"
						v-text="!isFollowed ? 'Ikuti' : 'Mengikuti'"
					></button>
				</div>
				<div class="quest-options flex">
					<div class="shared" @click="sharedThread">
						<img src="/assets/icons/forum/ic_bagikan.png" alt="ic_bagikan" />
						<span>Bagikan</span>
					</div>

					<div class="dropdown">
						<button
							class="btn dropdown-toggle"
							type="button"
							data-toggle="dropdown"
						>
							<i class="fa fa-ellipsis-h"></i>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a @click="reportThread(detailThread.is_reported)">Laporkan</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<forum-modal-shared :ref="'forumModalShared'"></forum-modal-shared>
		<forum-modal-report-thread
			:ref="'forumModalReportThread'"
			:slug="detailThread.slug"
			@reported="handleReport"
		></forum-modal-report-thread>
		<forum-modal-register :ref="'forumModalRegister'"></forum-modal-register>
	</div>
</template>

<script>
import ForumModalRegister from './ForumModalRegister';
import ForumModalReportThread from './ForumModalReportThread';
import ForumModalShared from './ForumModalShared';

export default {
	components: {
		ForumModalRegister,
		ForumModalReportThread,
		ForumModalShared
	},

	data() {
		return {
			isFollowed: false
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		userData() {
			return this.$store.state.userData;
		}
	},
	props: {
		detailThread: {
			type: Object,
			required: true
		}
	},
	created() {
		this.isFollowed = this.detailThread.is_followed;
	},
	methods: {
		follow(state, slug, index) {
			if (this.authCheck.all) {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					let postUrl = !state
						? '/forum/thread/follow/'
						: '/forum/thread/unfollow/';
					axios
						.post(postUrl + slug)
						.then(response => {
							if (response.data.status) {
								this.isFollowed = !state;
							} else {
								this.swalError(null, response.data.meta.message);
							}
						})
						.catch(error => {
							bugsnagClient.notify(error);
							alert(
								'Terjadi galat.\nSilakan cek koneksi internet Anda dan coba lagi.'
							);
						});
				}
			} else {
				$('#login').modal();
			}
		},
		sharedThread() {
			this.$refs.forumModalShared.openModal();
		},
		reportThread(state) {
			if (this.authCheck.all) {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					if (!state) {
						this.$refs.forumModalReportThread.openModal();
					} else {
						alert('Sudah pernah dilaporkan');
					}
				}
			} else {
				$('#login').modal();
			}
		},
		handleReport() {
			this.$emit('reported');
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.justify-space-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.justify-flex-end {
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.detail-thread {
	background-color: #fff;
}
.thread-box {
	padding-top: 20px;
	padding-bottom: 15px;
}
.prof-pict {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	margin-top: 7px;
	background-size: cover;
	background-position: center;
}
.info-detail {
	padding-left: 10px;
	padding-top: 2px;
}
.info-detail .name {
	color: #414040;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}
.info-detail .stat {
	color: #1baa56;
	padding-left: 5px;
	padding-right: 5px;
}
.info-detail .time,
.info-detail .origin {
	color: #949494;
}
.btn-default {
	width: 90px;
}
.not-follow {
	color: #414040;
}
.is-follow,
.category-detail span {
	color: #1baa56;
}
.category-detail {
	margin-top: 10px;
}
.category-detail span {
	background-color: #e9fee9;
	padding: 2px 15px;
	border-radius: 4px;
}
.quest-content {
	margin: 10px 0;
	font-size: 18px;
	color: #414040;
}
.quest-options {
	color: #949494;
	padding-top: 5px;
	padding-left: 10px;
}
.quest-options img {
	height: 15px;
	padding-right: 3px;
}
.quest-options button,
.quest-options button:hover,
.quest-options button:active,
.quest-options button:focus {
	background-color: #fff;
	border: none;
	margin-top: -1.5px;
}
.shared:hover,
.shared:focus,
.shared:active {
	cursor: pointer;
}

@media (max-width: 349px) {
	.info-detail .name {
		max-width: 98px;
	}
}
@media (min-width: 350px) and (max-width: 449px) {
	.info-detail .name {
		max-width: 150px;
	}
}
@media (max-width: 991px) {
	.dropdown-menu {
		left: -100px;
		text-align: center;
	}
	.dropdown-menu > li > a {
		color: #333;
	}
}
</style>
