<template>
	<div class="modal fade" role="dialog" id="forumModalRegister">
		<div class="modal-dialog">
			<div class="modal-content modal-loading-data" v-if="isLoading.getUser">
				<mami-loading-inline></mami-loading-inline>
			</div>
			<div class="modal-content modal-no-border" v-else>
				<form @submit.prevent="forumRegister">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-mamigreen">Daftar Forum</h4>
					</div>
					<div class="modal-body">
						<div class="form-group col-xs-12">
							<label class="d-block">Saat ini saya sebagai</label>
							<div class="radio radio-success radio-inline">
								<input
									type="radio"
									id="registerAsStudent"
									v-model="registrant.registerAs"
									:value="'student'"
								/>
								<label for="registerAsStudent"> Pelajar / belum kuliah </label>
							</div>
							<div class="radio radio-success radio-inline">
								<input
									type="radio"
									id="registerAsCollegeStudent"
									v-model="registrant.registerAs"
									:value="'college_student'"
								/>
								<label for="registerAsCollegeStudent"> Mahasiswa </label>
							</div>
						</div>
						<div class="clearfix" v-if="registrant.registerAs === 'student'">
							<div class="form-group col-xs-12 col-sm-6">
								<label for="studentHometown"
									>Kota Asal <span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="studentHometownn"
									required
									placeholder="Tulis kota asalmu"
									v-model="registrant.hometown"
								/>
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="studentDestination"
									>Kota Tujuan <span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="studentDestination"
									required
									placeholder="Tulis kota tujuanmu"
									v-model="registrant.destination"
								/>
							</div>
						</div>
						<div class="clearfix" v-else>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="collegeStudentNim"
									>NIM <span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="collegeStudentNim"
									required
									minlength="3"
									maxlength="40"
									placeholder="Tuliskan NIM"
									v-model="registrant.nim"
								/>
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="collegeStudentUniversity"
									>Nama Universitas <span class="text-danger">*</span></label
								>
								<select
									class="form-control"
									id="collegeStudentUniversity"
									required
									:disabled="isLoading.getCollege"
									v-model="registrant.university"
								>
									<option :value="null">Pilih salah satu</option>
									<option
										:value="university.university"
										v-for="(university, index) in universities"
										:key="index"
										>{{ university.university }}</option
									>
									<option :value="''">Lainnya</option>
								</select>
							</div>
							<div
								class="form-group col-xs-12 col-sm-6"
								v-if="registrant.university === ''"
							>
								<label for="collegeStudentUniversityOther"
									>Nama Universitas Lainnya
									<span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="collegeStudentUniversityOther"
									required
									minlength="10"
									maxlength="50"
									placeholder="Tuliskan Nama Universitas"
									v-model="registrant.universityOther"
								/>
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="collegeStudentMajor"
									>Jurusan <span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="collegeStudentMajor"
									required
									minlength="5"
									maxlength="50"
									placeholder="Tuliskan Nama Jurusan"
									v-model="registrant.major"
								/>
							</div>
							<div
								class="form-group col-xs-12 col-sm-6"
								v-if="registrant.university !== ''"
							>
								<label for="collegeStudentUniversityCity"
									>Kota Universitas <span class="text-danger">*</span></label
								>
								<select
									class="form-control"
									id="collegeStudentUniversityCity"
									required
									disabled
									v-model="registrant.universityCity"
								>
									<option :value="null">Otomatis menyesuaikan</option>
									<option
										:value="university.city"
										v-for="(university, index) in universities"
										:key="index"
										>{{ university.city }}</option
									>
								</select>
							</div>
							<div class="form-group col-xs-12 col-sm-6" v-else>
								<label for="collegeStudentUniversityCity"
									>Kota Universitas <span class="text-danger">*</span></label
								>
								<input
									type="text"
									class="form-control"
									id="collegeStudentUniversityCity"
									required
									minlength="5"
									maxlength="30"
									placeholder="Tuliskan Nama Kota"
									v-model="registrant.universityCity"
								/>
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="collegeStudentYearStart"
									>Tahun Masuk <span class="text-danger">*</span>
									<i
										class="fa fa-circle-o-notch fa-spin loading-spinner-default"
										v-show="isLoading.checkRole"
									></i>
								</label>
								<select
									class="form-control"
									id="collegeStudentYearStart"
									required
									:disabled="isLoading.checkRole"
									v-model.number="registrant.yearStart"
								>
									<option :value="null">Pilih salah satu</option>
									<option>2018</option>
									<option>2017</option>
									<option>2016</option>
									<option>2015</option>
									<option>2014</option>
									<option>2013</option>
									<option>2012</option>
									<option>2011</option>
								</select>
							</div>
						</div>
						<div
							class="form-group col-xs-12 col-sm-6"
							v-if="user.photo_id === null"
						>
							<label class="d-block">Tambahkan Foto Profil</label>
							<forum-upload-photo ref="photo-uploader"></forum-upload-photo>
						</div>
						<div
							class="form-group register-category col-xs-12 col-sm-6"
							v-if="
								registrant.registerAs === 'college_student' &&
									registrant.yearStart !== null &&
									registrant.role === 'senior'
							"
						>
							<label class="d-block"
								>Ikuti pertanyaan pada kategori
								<span class="text-danger">*</span></label
							>
							<select
								class="btn btn-mamigreen"
								:disabled="isLoading.getCategory"
								:required="registrant.categoryIds.length === 0"
								v-model="category.select"
							>
								<option :value="null">&plus; Tambah Kategori</option>
								<option
									:value="option"
									v-for="(option, index) in category.options"
									:key="index"
									>{{ option.name }}</option
								>
							</select>
							<div
								class="register-category-selected"
								v-for="(card, index) in category.cards"
								:key="index"
							>
								<span>{{ card.name }} </span>
								<span class="remove" @click="removeCategory(card.id)">
									&times;</span
								>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div
						class="modal-footer is-top"
						v-if="
							registrant.registerAs === 'student' ||
								(isChecked && registrant.role === 'junior')
						"
					>
						<p class="register-alert">
							Kamu akan aktif sebagai <b>ADIK KELAS</b>
						</p>
						<p class="register-alert">
							Sebagai <b>ADIK KELAS</b> kamu bisa bertanya dan menjawab
						</p>
					</div>
					<div
						class="modal-footer is-top"
						v-else-if="
							registrant.registerAs === 'college_student' &&
								isChecked &&
								registrant.role === 'senior'
						"
					>
						<p class="register-alert">Kamu akan aktif sebagai <b>SENIOR</b></p>
						<p class="register-alert">
							Sebagai <b>SENIOR</b> kamu bisa bertanya dan menjawab
						</p>
					</div>
					<div class="modal-footer">
						<button
							type="submit"
							class="btn btn-mamiorange"
							:disabled="isLoading.submitReg || isLoading.checkRole"
						>
							<span v-if="!isLoading.submitReg">Daftarkan Diri Saya</span>
							<span v-else>Mendaftarkan...</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import ForumUploadPhoto from './ForumUploadPhoto';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		ForumUploadPhoto
	},

	props: {
		auto: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			isClosed: false,
			isFetched: false,
			isChecked: false,
			isLoading: {
				getUser: false,
				getCollege: false,
				getCategory: false,
				checkRole: false,
				submitReg: false
			},
			user: {},
			universities: [],
			category: {
				options: [],
				select: null,
				cards: []
			},
			registrant: {
				registerAs: 'student',
				hometown: '',
				destination: '',
				nim: '',
				university: null,
				universityOther: '',
				major: null,
				universityCity: null,
				yearStart: null,
				photoId: null,
				categoryIds: [],
				role: 'junior'
			}
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		city() {
			return this.$store.state.params.city;
		},
		inquiry() {
			return {
				category: this.$store.state.params.category,
				question: this.$store.state.params.question,
				answer: this.$store.state.params.answer
			};
		}
	},

	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged
				});
			} else {
				this.$emit('opened', val);
			}
		},
		'registrant.university'(val) {
			if (val !== null) {
				if (val !== '') {
					for (let university of this.universities) {
						if (university.university === val) {
							this.registrant.universityCity = university.city;
						}
					}
					this.registrant.universityOther = '';
				} else {
					this.registrant.universityCity = '';
				}
			} else {
				this.registrant.universityOther = '';
				this.registrant.universityCity = null;
			}
		},
		'registrant.yearStart'(val) {
			if (val !== null) {
				this.isLoading.checkRole = true;
				axios
					.get('/forum/user/check-role?year=' + val)
					.then(response => {
						this.registrant.role = response.data.role;
						this.isChecked = true;
						this.isLoading.checkRole = false;
					})
					.catch(error => {
						this.isLoading.checkRole = false;
						alert('Terjadi galat. Silakan coba lagi.');
						bugsnagClient.notify(error);
					});
			} else {
				this.isChecked = false;
			}
		},
		'category.select': debounce(function(val) {
			if (val !== null) {
				if (this.category.cards.length === 0) {
					this.registrant.categoryIds.push(val.id);
					this.category.cards.push(val);
				} else {
					const exist = card => {
						return card.id === val.id;
					};
					if (!this.category.cards.some(exist)) {
						this.registrant.categoryIds.push(val.id);
						this.category.cards.push(val);
					}
				}
				this.category.select = null;
			}
		}, 250)
	},

	mounted() {
		$('#forumModalRegister').on('show.bs.modal', e => {
			this.isClosed = false;
			if (!this.isFetched) {
				this.fetchUserData();
			}
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Forum User',
					eventAction: 'click',
					eventLabel: 'Track Open Register'
				}
			]);
		});
		$('#forumModalRegister').on('hide.bs.modal', e => {
			this.isClosed = true;
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Forum User',
					eventAction: 'click',
					eventLabel: 'Track Close Register'
				}
			]);
		});
	},

	methods: {
		openModal() {
			$('#forumModalRegister').modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#forumModalRegister').modal('hide');
		},
		fetchUserData() {
			this.isLoading.getUser = true;
			axios
				.get('/forum/user/data/register')
				.then(response => {
					this.user = response.data.user;

					this.registrant.registerAs = this.user.register_as;
					this.registrant.destination = this.city;
					this.registrant.photoId = this.user.photo_id;

					this.isFetched = true;
					this.isLoading.getUser = false;

					this.fetchCollegeData();
					this.fetchCategoryOptions();
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		fetchCollegeData() {
			this.isLoading.getCollege = true;
			axios
				.get('/forum/universities')
				.then(response => {
					this.universities = response.data.universities;

					this.isLoading.getCollege = false;
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		fetchCategoryOptions() {
			this.isLoading.getCategory = true;
			axios
				.get('/forum/category/option')
				.then(response => {
					this.category.options = response.data.categories;

					this.isLoading.getCategory = false;
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		removeCategory(target) {
			this.category.cards = this.category.cards.filter(
				card => card.id != target
			);
			this.registrant.categoryIds = this.registrant.categoryIds.filter(
				categoryId => categoryId != target
			);
		},
		forumRegister() {
			let params;

			if (this.registrant.registerAs === 'student') {
				params = {
					_token: this.token,
					register_as: this.registrant.registerAs,
					hometown: this.registrant.hometown,
					destination: this.registrant.destination,
					photo_id: this.registrant.photoId
				};
			} else {
				params = {
					_token: this.token,
					register_as: this.registrant.registerAs,
					nim: this.registrant.nim,
					university:
						this.registrant.university === ''
							? this.registrant.universityOther
							: this.registrant.university,
					major: this.registrant.major,
					university_city: this.registrant.universityCity,
					year_start: this.registrant.yearStart,
					photo_id: this.registrant.photoId,
					category_ids: this.registrant.categoryIds
				};
			}

			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/forum/user/register', params)
				.then(response => {
					this.closeSwalLoading();
					this.$store.commit('setUserData', {
						register_as: this.registrant.registerAs
					});
					if (response.data.status) {
						if (this.registrant.registerAs === 'student') {
							if (this.auto === 'thread') {
								this.swalSuccessTimer(
									null,
									'Sebagai Adik Kelas kamu bisa bertanya dan menjawab',
									this.postThread()
								);
								tracker('ga', [
									'send',
									'event',
									{
										eventCategory: 'Forum User',
										eventAction: 'click',
										eventLabel: 'Track Register Student'
									}
								]);
							} else {
								this.swalSuccessTimer(
									null,
									'Sebagai Adik Kelas kamu bisa bertanya dan menjawab',
									this.closeModal()
								);
								location.reload();
								tracker('ga', [
									'send',
									'event',
									{
										eventCategory: 'Forum User',
										eventAction: 'click',
										eventLabel: 'Track Register Student'
									}
								]);
							}
						} else {
							this.swalSuccessTimer(
								null,
								'Sebagai Senior kamu bisa bertanya dan menjawab',
								this.closeModal()
							);
							location.reload();
							tracker('ga', [
								'send',
								'event',
								{
									eventCategory: 'Forum User',
									eventAction: 'click',
									eventLabel: 'Track Register Senior'
								}
							]);
						}
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		postThread() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/forum/thread/new', {
					category: this.inquiry.category.id,
					question: this.inquiry.question
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						let openLandingCategory = () => {
							this.$router.push({
								name: 'landing',
								params: {
									category: response.data.category.slug
								}
							});
						};

						this.swalSuccessTimer(
							null,
							'Pertanyaan Anda telah berhasil kami simpan',
							openLandingCategory()
						);

						Cookies.remove('ForumQuestion');
						this.$store.commit('setParamsCategory', {});
						this.$store.commit('setParamsQuestion', '');
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		}
	}
};
</script>

<style scoped>
.modal-content.modal-loading-data {
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.register-category > .btn {
	display: block;
	padding: 5px 8px;
	margin-bottom: 5px;
}
.register-category-selected {
	display: inline-block;
	padding: 1px 8px 4px 8px;
	margin: 5px 5px 5px 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #1baa56;
	background-color: #e8feeb;
}
.register-category-selected > .remove {
	text-align: right;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
	margin-left: 5px;
}
.register-category-selected > .remove:hover,
.register-category-selected > .remove:active,
.register-category-selected > .remove:focus {
	color: #109e4b;
}
.modal-footer {
	text-align: left;
}
.modal-footer.is-top {
	background-color: #ffd7ce;
}
@media (max-width: 767px) {
	.modal-footer .btn {
		width: 100%;
	}
}
.register-alert {
	color: #e04205;
}
.register-alert:last-child {
	margin-bottom: 0;
}
</style>
