<template>
	<div class="best-answer">
		<div class="box-title flex justify-space-between">
			<div class="title-text">
				<span>Jawaban Terbaik</span>
			</div>
			<div class="close-button">
				<button type="button" class="btn btn-close">
					<i class="fa fa-close"></i>
				</button>
			</div>
		</div>
		<div class="answer-box">
			<div class="answer-header">
				<div class="answer-detail flex">
					<div class="profil-picture">
						<img
							class="prof-pict"
							src="/assets/testimoni/Cynthiara_Alona_Kia Residences.jpg"
							alt="prof-pict"
						/>
						<img
							class="badge-senior"
							src="/assets/icons/forum/ic_badge_good_senior.png"
							alt="ic_badge_good_senior"
							v-if="goodSenior == true"
						/>
					</div>
					<div
						class="info-detail"
						:class="{ 'add-padding': goodSenior == false }"
					>
						<div class="flex">
							<div class="name">
								<span>Cynthiara Alona</span>
							</div>
							<div class="stat">
								<span class="good-senior" v-if="goodSenior">Good Senior</span>
								<span class="junior" v-if="!goodSenior && senior">Senior</span>
								<span class="junior" v-if="!goodSenior && !senior"
									>Adik Kelas</span
								>
							</div>
						</div>
						<span class="time">8:16 . 17 Agt 2018</span><br />
						<span class="origin">dari Palangkaraya</span>
					</div>
				</div>
			</div>
			<div class="answer-content">
				<span
					>Tempat fotokopi murah ada di seberang kampus samping Alfamart. Di
					daerah belakang kampus juga ada. Kalau pas musim akhir semester bisa
					rame banget.</span
				>
			</div>
			<div class="answer-options flex justify-space-between">
				<div class="love-stat">
					<img
						src="/assets/icons/forum/ic_love_on.png"
						alt="ic_love_on"
						@click="minLove"
						v-if="love !== 0 && love !== null"
					/>
					<img
						src="/assets/icons/forum/ic_love_off.png"
						class="love-off"
						alt="ic_love_off"
						@click="addLove"
						v-else
					/>
					<span class="love-count" v-if="love !== 0 && love !== null">{{
						love
					}}</span>
				</div>
				<div class="unlike-stat flex">
					<img
						src="/assets/icons/forum/ic_tdksuka_on.png"
						alt="ic_tdksuka_on"
						@click="minUnlike"
						v-if="unlike !== 0 && unlike !== null"
					/>
					<img
						src="/assets/icons/forum/ic_tdksuka_off.png"
						alt="ic_tdksuka_off"
						@click="addUnlike"
						v-else
					/>
					<span :class="{ 'unlike-true': unlike !== 0 && unlike !== null }"
						>tidak suka</span
					>
					<div class="dropdown report">
						<button
							class="btn dropdown-toggle"
							:class="{ 'unlike-true': unlike !== 0 && unlike !== null }"
							type="button"
							data-toggle="dropdown"
						>
							<i class="fa fa-ellipsis-h"></i>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Laporkan</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			love: 0,
			unlike: 0,
			goodSenior: true,
			senior: true
		};
	},
	methods: {
		addLove() {
			this.love++;
		},
		minLove() {
			if (this.love !== 0) {
				this.love--;
			}
		},
		addUnlike() {
			this.unlike++;
		},
		minUnlike() {
			if (this.unlike !== 0) {
				this.unlike--;
			}
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.justify-space-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.box-title {
	background-color: #87d36c;
	padding: 7px 15px;
}
.title-text {
	font-size: 15px;
	font-weight: bold;
	color: #4b814c;
	padding-top: 4px;
}
.box-title .close-button button,
.box-title .close-button button:hover,
.box-title .close-button button:active,
.box-title .close-button button:focus {
	color: #4b814c;
	background-color: #87d36c;
	border-color: #87d36c;
	margin-right: -10px;
}
.answer-box {
	border: 1.5px solid #87d36c;
	background-color: #fff;
	padding: 15px;
}
.prof-pict {
	height: 50px;
	border-radius: 1000px;
	margin-top: 7px;
}
.badge-senior {
	height: 22px;
	margin-left: -58px;
	margin-top: 40px;
}
.info-detail {
	padding-left: 10px;
	padding-top: 2px;
}
.add-padding {
	padding-left: 17px;
}
.info-detail .name {
	color: #414040;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}
.info-detail .stat {
	padding-left: 5px;
	padding-right: 5px;
}
.stat .good-senior {
	color: #fe522e;
}
.stat .junior {
	color: #1baa56;
}
.info-detail .time,
.info-detail .origin {
	color: #949494;
}
.answer-content {
	color: #414040;
	padding-top: 7px;
	font-size: 15px;
	padding-bottom: 15px;
}
.report button,
.report button:hover,
.report button:active,
.report button:focus {
	background-color: #fff;
	border: none;
	margin-top: -1.5px;
}
.love-stat img {
	height: 20px;
	margin-top: -3px;
	margin-right: 5px;
}
.love-stat img:hover,
.love-stat img:focus,
.love-stat img:active,
.unlike-stat img:hover,
.unlike-stat img:focus,
.unlike-stat img:active {
	cursor: pointer;
}
.love-stat .love-count {
	color: #fe522e;
	font-size: 15px;
}
.love-off {
	margin-top: 2px !important;
}
.unlike-stat img {
	height: 23px;
	padding-right: 7px;
}
.unlike-stat span,
.unlike-stat .report button {
	color: #c0c0c0;
}
.unlike-true {
	color: #949494 !important;
}

@media (max-width: 301px) {
	.info-detail .name {
		max-width: 80px;
	}
}
@media (min-width: 302px) and (max-width: 349px) {
	.info-detail .name {
		max-width: 98px;
	}
}
@media (min-width: 350px) and (max-width: 449px) {
	.info-detail .name {
		max-width: 150px;
	}
}
@media (max-width: 767px) {
	.answer-content,
	.answer-options {
		padding-left: 0;
	}
}
</style>
