<template>
	<div id="forumModalShared" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
					<label>Bagikan ke Sosial Media</label>
				</div>
				<div class="modal-body flex justify-content-center">
					<mami-share></mami-share>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MamiShare from '../../../@components/MamiShare';

export default {
	components: {
		MamiShare
	},

	computed: {
		shareBtnShow() {
			return this.$store.state.extras.shareBtnShow;
		}
	},
	created() {
		this.$store.commit('toggleShareBtnShow', false);
	},
	methods: {
		openModal() {
			$('#forumModalShared').modal();
			$('#forumModalShared').on('shown.bs.modal', e => {
				if (!this.shareBtnShow) {
					const script = document.createElement('script');
					script.src =
						'//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592531df92c0e6ca';
					document.getElementsByTagName('body')[0].appendChild(script);

					this.$store.commit('toggleShareBtnShow', true);
				}
			});
		},
		closeModal() {
			$('#forumModalShared').modal('hide');
			// $('#forumModalShared').on('hide.bs.modal', (e) => {

			// })
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 5px;
}
.justify-content-center {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.modal-content {
	border: 1.5px solid #1baa56;
	padding: 15px;
}
.modal-header {
	padding: 5px;
}
.modal-body {
	padding-top: 15px;
}
</style>
