<template>
	<div class="container-forum-thread">
		<div class="loading-viewport flex-center" v-if="isLoadingDetail">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-else>
			<forum-breadcrumbs :contents="detailBreadcrumb"></forum-breadcrumbs>

			<div class="clearfix"></div>

			<div class="container-detail-thread col-md-12">
				<forum-content-thread
					:detailThread="detailThread"
					@reported="getThreadAnswer"
				></forum-content-thread>

				<div class="answer-thread col-md-8 col-md-offset-2">
					<div class="answer-stat">
						<img src="/assets/icons/forum/ic_jawaban.png" alt="ic_jawaban" />
						<span class="answer-count"
							>{{ detailThread.answer_count }} Jawaban</span
						>
						<br />
						<span
							class="answer-detail"
							v-if="detailThread.last_answer_time !== ''"
							>terakhir dijawab: {{ detailThread.last_answer_time }}</span
						>
						<span v-else>terakhir dijawab: -</span>
					</div>

					<!-- <forum-answer-best></forum-answer-best>

					<div class="answer-partition">
						<span>Jawaban Lainnya</span>
					</div> -->

					<forum-answer-list
						:thread="detailThread"
						:loading="isLoadingAnswer"
						@voted="handleVote"
						@reported="getThreadAnswer"
						@previous="getThreadAnswer"
						@next="getThreadAnswer"
					></forum-answer-list>
				</div>

				<forum-answer-form
					:slug="detailThread.slug"
					@refresh="getDetailThread"
				></forum-answer-form>
			</div>
		</div>
	</div>
</template>

<script>
import ForumBreadcrumbs from './ForumBreadcrumbs';
import ForumAnswerForm from './ForumAnswerForm';
import ForumAnswerList from './ForumAnswerList';
import ForumContentThread from './ForumContentThread';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		ForumBreadcrumbs,
		ForumAnswerForm,
		ForumAnswerList,
		ForumContentThread
	},

	data() {
		return {
			isLoadingDetail: false,
			isLoadingAnswer: false,
			detailThread: {},
			detailBreadcrumb: [],
			goToAnswer: false
		};
	},

	computed: {
		route() {
			return this.$route;
		}
	},

	created() {
		this.getDetailThread(0);
	},

	// mounted() {
	// 	const element = document.querySelector('#navbarCustomize');
	// 	element.classList.add('landing-navbar');

	// 	window.onscroll = () => {
	// 		element.classList.add('landing-navbar');
	// 	};
	// },

	methods: {
		getDetailThread(page) {
			this.isLoadingDetail = true;
			axios
				.get('/forum/thread/detail/' + this.route.params.thread)
				.then(response => {
					if (response.data.status) {
						document.title = response.data.thread.meta_title;

						this.detailThread = response.data.thread;
						this.detailBreadcrumb = response.data.thread.breadcrumbs;

						this.isLoadingDetail = false;

						this.$nextTick(() => {
							if (page == 0) {
								window.scrollTo(0, 0);
							} else {
								this.getThreadAnswer(page);
								this.goToAnswer = true;
							}
						});
					}
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		getThreadAnswer(page) {
			this.isLoadingAnswer = true;
			axios
				.get(
					'/forum/thread/answer/list/' +
						this.detailThread.slug +
						'?page=' +
						page
				)
				.then(response => {
					this.detailThread.answers = response.data.answers;
					this.detailThread.answer_pagination = response.data.pagination;

					this.isLoadingAnswer = false;

					this.$nextTick(() => {
						if (this.goToAnswer === true) {
							window.scrollTo(0, document.body.scrollHeight);
						} else {
							window.scrollTo(0, 0);
						}
						this.goToAnswer = false;
					});
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		handleVote(payload) {
			this.detailThread.answers[payload.index].is_voted_up =
				payload.answerData.is_voted_up;
			this.detailThread.answers[payload.index].is_voted_down =
				payload.answerData.is_voted_down;
			this.detailThread.answers[payload.index].vote_up =
				payload.answerData.vote_up;
			this.detailThread.answers[payload.index].vote_down =
				payload.answerData.vote_down;
		}
	}
};
</script>

<style scoped>
.container-detail-thread {
	background-color: #eafee7;
	min-height: 90vh;
}

@media (min-width: 768px) {
	.container-detail-thread {
		margin-top: 91px;
	}
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.justify-space-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.answer-thread {
	padding-left: 0;
	padding-right: 0;
}
.answer-stat {
	background-color: #f4f4f4;
	padding: 15px;
}
.answer-stat img {
	height: 14px;
	margin-top: -1px;
}
.answer-stat .answer-count {
	font-size: 15px;
	color: #1baa56;
}
.answer-stat .answer-detail {
	padding-left: 21px;
	font-size: 13px;
	color: #949494;
}
.answer-partition {
	background-color: #f4f4f4;
	padding: 10px 15px;
}
.answer-partition span {
	font-size: 15px;
	font-weight: bold;
	color: #4b814c;
}
</style>

<style>
.landing-navbar {
	border-bottom: 1px solid #eee;
}
</style>
