<template>
	<div>
		<div class="dropzone-custom">
			<dropzone
				ref="photo-profile"
				id="photo-profile"
				:options="dropzoneOptions"
				@vdropzone-success="showSuccess"
			>
				<!-- <input type="hidden" name="_token" value="_token"> -->
			</dropzone>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: vue2Dropzone
	},
	data() {
		return {
			dropzoneOptions: {
				url: '/garuda/media',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: true,
				maxFilesize: 5,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: '<i class="fa fa-plus" aria-hidden="true"></i>',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batalkan',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					media_type: 'user_photo',
					need_watermark: false
				}
			},
			photo_id: 0,
			isPhotoExists: false
		};
	},
	created() {},
	methods: {
		showSuccess(file, response) {
			if (response.media.id !== 0) {
				this.photo_id = response.media.id;
			}
		},
		resetPhotos() {
			this.isPhotoExists = !this.isPhotoExists;
		}
	},
	watch: {
		photo_id(val) {
			this.$emit('updated', val);
		}
	}
};
</script>

<style>
.dropzone-custom .dropzone {
	width: 100px;
	min-height: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 0;
}
.dropzone-custom .dropzone .dz-message {
	line-height: 0;
	font-size: 20px;
}
.dropzone-custom .dropzone i {
	color: #1baa56;
}

.dropzone-custom .dropzone .dz-preview {
	margin: 0;
	height: 100px;
	width: 100px;
}
.dropzone-custom .dropzone .dz-preview .dz-image {
	border-radius: 50%;
}
.dropzone-custom .dropzone .dz-preview .dz-image img {
	height: 100px;
}

.dropzone-custom .dropzone .dz-preview .dz-details {
	background-color: rgba(37, 171, 37, 0.8);
	border-radius: 50%;
}

.dropzone-custom .dropzone .dz-preview .dz-details .dz-size,
.dropzone-custom .dropzone .dz-preview .dz-details .dz-filename {
	display: none;
}
.dropzone-custom .dropzone .dz-preview .dz-remove {
	padding: 5px;
	margin-left: 11px;
	bottom: 35px;
	font-size: 8px;
	letter-spacing: 0;
	line-height: 1.8;
	width: 78px;
}
</style>
