<template>
	<div class="container-header">
		<div class="container flex">
			<form class="title-and-form" @submit.prevent="postThread">
				<div class="good-senior-sm hidden-md hidden-lg">
					<img
						src="/assets/icons/forum/good_senior_img.png"
						alt="good_senior_img"
					/>
				</div>
				<div class="forum-title">
					<h1>
						<span class="title-line"
							>Tanya <span class="good-senior">Good Senior</span> supaya</span
						>
						<span class="title-line"
							><span class="highlight">#CepatCocok</span> dengan kota</span
						>
						<span class="title-line">tujuan kuliah</span>
					</h1>
				</div>
				<div class="form-box col-md-12">
					<div class="form-question col-xs-12 col-sm-9 col-md-8">
						<field-question
							:placeholder="'Tulis pertanyaanmu di sini...'"
							:append="'invisible'"
							:input="'input-field'"
						></field-question>
					</div>
					<div class="form-category col-xs-12 col-sm-3 col-md-4">
						<field-category
							:loading="isLoadingCategory"
							:categoryOptions="categoryList"
						></field-category>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="btn-submit">
					<button type="submit" class="btn btn-mamiorange">
						Tanya Sekarang
					</button>
				</div>
			</form>
			<div class="good-senior-md hidden-sm hidden-xs">
				<img
					src="/assets/icons/forum/good_senior_img.png"
					alt="good_senior_img"
				/>
			</div>
		</div>
		<forum-modal-register :ref="'forumModalRegister'"></forum-modal-register>
	</div>
</template>

<script>
import FieldCategory from './FieldCategory';
import FieldQuestion from './FieldQuestion';
import ForumModalRegister from './ForumModalRegister';

export default {
	components: {
		FieldCategory,
		FieldQuestion,
		ForumModalRegister
	},

	data() {
		return {
			isLoadingCategory: false,
			categoryList: []
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		userData() {
			return this.$store.state.userData;
		},
		category() {
			return this.$store.state.params.category;
		},
		question() {
			return this.$store.state.params.question;
		}
	},

	created() {
		this.getCategoryList();
	},

	methods: {
		getCategoryList() {
			this.isLoadingCategory = true;
			axios
				.get('/forum/category/option')
				.then(response => {
					if (response.data.status) {
						this.categoryList = response.data.categories;
					}
					this.isLoadingCategory = false;
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		postThread() {
			Cookies.set('ForumQuestion', {
				category: this.category,
				question: this.question
			});

			if (!this.authCheck.all) {
				$('#login').modal('show');
			} else {
				if (this.userData == null) {
					this.$refs.forumModalRegister.openModal();
				} else {
					this.openSwalLoading('Mohon tunggu...', null);
					axios
						.post('/forum/thread/new', {
							category: this.category.id,
							question: this.question
						})
						.then(response => {
							this.closeSwalLoading();
							if (response.data.status) {
								let openLandingCategory = () => {
									this.$router.push({
										name: 'landing',
										params: {
											category: this.category.slug
										}
									});
								};

								this.swalSuccessTimer(
									null,
									'Pertanyaan Anda telah berhasil kami simpan',
									openLandingCategory()
								);

								Cookies.remove('ForumQuestion');
								this.$store.commit('setParamsCategory', {});
								this.$store.commit('setParamsQuestion', '');
							} else {
								this.swalError(null, response.data.meta.message);
								Cookies.remove('ForumQuestion');
								this.$store.commit('setParamsCategory', {});
								this.$store.commit('setParamsQuestion', '');
							}
						})
						.catch(error => {
							this.closeSwalLoading();
							bugsnagClient.notify(error);
							alert(
								'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
							);
						});
				}
			}
		}
	}
};
</script>

<style scoped>
.container-header {
	padding-top: 25px;
	background-color: #eafee7;
	padding-bottom: 100px;
}

@media (max-width: 767px) {
	.container-header {
		padding-bottom: 60px;
	}
}

.forum-title {
	margin-top: 54px;
	margin-bottom: 35px;
}
.forum-title h1 {
	font-weight: bold;
	margin-top: 0;
}
.forum-title h1,
.forum-label span {
	color: #2f492b;
}
.title-line {
	margin-bottom: 10px;
	display: block;
}
.highlight {
	font-style: italic;
	color: #1baa56;
}
.forum-label {
	margin-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}
.forum-label span {
	font-size: 16px;
	font-weight: bold;
}
.form-box,
.form-category,
.form-question {
	padding-left: 0;
}
.btn-submit .btn {
	width: 172.5px;
}
@media (min-width: 768px) {
	.btn-submit {
		margin-top: 10px;
	}
}
.invisible {
	display: none;
}
.good-senior-md img {
	margin-top: 70px;
	height: 350px;
}
.good-senior-sm img {
	margin-top: 40px;
	height: 200px;
}
.good-senior {
	color: #fe522e;
}

@media (max-width: 767px) {
	.forum-title {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.forum-title h1 {
		font-size: 19px;
	}
	.forum-label span {
		font-size: 14px;
	}
	.good-senior-sm img {
		margin-top: 40px;
		height: 100px;
	}
}
@media (max-width: 767px) {
	.form-category,
	.form-question {
		margin-bottom: 10px;
	}
}
@media (min-width: 768px) {
	.form-category {
		padding-right: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.good-senior-md img {
		margin-top: 90px;
		height: 265px;
	}
}
</style>

<style>
.input-field {
	border-radius: 4px !important;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.input-field {
		width: 111% !important;
	}
}
@media (min-width: 1200px) {
	.input-field {
		width: 119% !important;
	}
}
</style>
