<template>
	<div>
		<div class="navbar-custom">
			<nav
				id="forumNavbar"
				class="navbar navbar-fixed-top"
				:class="{ 'scrolled-navbar': isScrolled == true }"
			>
				<div class="container-fluid">
					<div class="navbar-header">
						<button
							type="button"
							class="navbar-toggle"
							data-toggle="collapse"
							data-target="#mamikosForumNavbar"
						>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/forum">
							<img
								class="navbar-icon"
								src="assets/logo/mamikos_header_logo_full_inverse.png"
							/>
							<span class="new-label">FORUM</span>
						</a>
					</div>
					<div class="collapse navbar-collapse" id="mamikosForumNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li class="hidden-xs">
								<a
									class="btn btn-custom btn-transparent"
									href="/"
									@click="trackHome"
									>Beranda</a
								>
							</li>
							<li class="user-data hidden-sm hidden-md hidden-lg">
								<a
									class="btn btn-custom btn-transparent"
									href="/"
									@click="trackHome"
									>Beranda</a
								>
							</li>
							<li class="hidden-xs">
								<a class="btn btn-custom btn-transparent" href="/cari"
									>Cari Kost</a
								>
							</li>
							<li class="user-data" v-if="!authCheck.all">
								<a
									href="javascript:void(0)"
									data-toggle="modal"
									data-target="#login"
									@click="trackLogin"
									>Masuk</a
								>
							</li>
							<li class="user-data hidden-sm hidden-md hidden-lg">
								<a href="/cari">Cari Kost</a>
							</li>
							<li
								class="user-data hidden-sm hidden-md hidden-lg"
								v-if="authCheck.all"
							>
								<a href="/user?forum=true">Halaman Profil</a>
							</li>
							<li
								class="user-data hidden-sm hidden-md hidden-lg"
								v-if="authCheck.all"
							>
								<a href="/auth/logout">Keluar</a>
							</li>
							<li class="hidden-xs" v-if="authCheck.all">
								<a
									class="dropdown-toggle dropdown-user"
									id="dropdownUser"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="true"
									title="Akun Pencari Kos"
								>
									<span class="user-photo"></span>
									<span class="user-name">{{ authData.all.name }}</span>
									<i
										class="fa fa-caret-down dropdown-caret"
										aria-hidden="true"
									></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownUser">
									<li><a href="/user?forum=true">Halaman Profil</a></li>
									<li><a href="/auth/logout">Keluar</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- <div class="nav-colored navbar-fixed-top" id="navbarCustom" :class="isScrolled ? 'nav-slides-down' : 'nav-slides-up'">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mamikosForumNavbarScrolled">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>                  
					     </button>
					     <a class="navbar-brand" href="/"><img class="navbar-icon" src="assets/icons/landing-agent/header.png"></a>
					</div>
					<div class="collapse navbar-collapse" id="mamikosForumNavbarScrolled">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-custom btn-transparent" @click="openLink('/cari', true)">Cari Kost</button></li>
							<li v-if="!authCheck.all"><button class="btn btn-custom btn-transparent" @click="openModal('#login')">Masuk</button></li>
							<li class="user-data hidden-sm hidden-md hidden-lg" v-if="authCheck.all"><a href="/user">Halaman Profil</a></li>
							<li class="user-data hidden-sm hidden-md hidden-lg" v-if="authCheck.all"><a href="/auth/logout">Keluar</a></li>
							<li class="hidden-xs" v-if="authCheck.all">
								<a class="dropdown-toggle dropdown-user" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Akun Pencari Kos">
								<span class="user-photo"></span>
								<span class="user-name">{{ authData.all.name }}</span>
								<i class="fa fa-caret-down dropdown-caret" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownUser">
									<li><a href="/user">Halaman Profil</a></li>
              						<li><a href="/auth/logout">Keluar</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div> -->
	</div>
</template>

<script>
export default {
	data() {
		return {
			isScrolled: false,
			isCollapse: false
		};
	},
	mounted() {
		window.onscroll = () => {
			if (window.pageYOffset >= 100) {
				this.isScrolled = true;
			} else {
				this.isScrolled = false;
			}
		};
	},
	methods: {
		openLink(url, newtab) {
			if (newtab) {
				window.open(url, '_blank');
			} else {
				window.open(url, '_self');
			}
		},
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		},
		openModal(target) {
			$(target).modal('show');
		},
		toggleCollapse() {
			this.isCollapse = !this.isCollapse;
		},
		trackLogin() {
			tracker('ga', ['send', 'event', {
				eventCategory: 'Forum User',
				eventAction: 'click',
				eventLabel: 'Track Button Masuk'
			}]);
		},
		trackHome() {
			tracker('ga', ['send', 'event', {
				eventCategory: 'Forum User',
				eventAction: 'click',
				eventLabel: 'Track Home Mamikos'
			}]);
		}
	},
	props: {
		// buttons: [{
		// 	label: '',			// button display text
		// 	target: '',			// can be a url or a class to scroll into
		// 	class: '',			// for styling purposes
		// 	method: '',			// 'openlink' / 'scroll' into a class (default)
		//  newtab: false,	// decides whether open in newtab or not (default is not)
		// }]
	},
	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		authData() {
			return this.$store.state.authData;
		}
	}
};
</script>

<style scoped>
.navbar {
	background-color: #eafee7;
	height: auto;
}
.navbar-custom {
	width: 100%;
	top: 0;
	position: absolute;
}
.navbar-brand-custom {
	display: flex;
	align-items: center;
}
.navbar-right-custom {
	margin: 5px 0;
	float: right;
}
.navbar-icon {
	height: 40px;
}
.nav-colored {
	position: fixed;
	width: 100%;
	background-color: #e9fee9;
	border-bottom: 1px solid #1baa56;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
	transition: top 0.5s;
	transition-timing-function: ease;
}
.nav-slides-down {
	top: 0;
}
.nav-slides-up {
	top: -160px;
}
.btn-custom {
	min-width: 100px;
	height: 40px;
}
.btn-transparent {
	background: none;
	border: none;
	color: #1baa56;
	font-weight: 600;
}
.navbar-toggle {
	border-color: #1baa56;
	margin-top: 15px;
}
.navbar-toggle .icon-bar {
	background-color: #1baa56;
}
.navbar-brand {
	margin-top: -5px;
	position: relative;
}
.new-label {
	top: 8px;
}
.nav-colored .navbar-brand {
	margin-top: 0;
}
.user-photo {
	background-image: url('/assets/icons/ic_akun_user.png');
}
.user-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 150px;
	font-weight: 600;
}
.user-name,
.dropdown-user .dropdown-caret {
	color: #1baa56;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
	border-color: #1baa56;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	border-color: #1baa56;
}
.navbar-right-custom {
	margin-top: -50px;
}
.collapse-active {
	background-color: #eafee7;
	margin-left: -16px;
	margin-right: -20px;
	padding-left: 20px;
}
.user-data a {
	color: #1baa56;
	font-weight: 600;
}
.nav-slides-down .navbar-header {
	margin-top: -10px;
}
.navbar-collapse {
	background-color: #eafee7;
}
.navbar-collapse.collapse.in {
	border-bottom: 1px solid #1baa56;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
	color: #1baa56;
	border-bottom: none;
}
.scrolled-navbar {
	border-bottom: 1px solid #1baa56;
	/* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1); */
}

@media (min-width: 768px) {
	.nav-colored .navbar-expand-md {
		justify-content: space-between;
	}
	/* 	.navbar-collapse {
		margin-top: 7px;
		float: right;
	} */
}
@media (max-width: 767px) {
	.btn-custom {
		width: auto !important;
		text-align: left;
		background: none;
		border: none;
		color: #1baa56;
		font-weight: 600;
	}
}
</style>

<style>
/* #nav_collapse {
	justify-content: flex-end;
} */
</style>
