<template>
  <section>
    <ol
      class="col-xs-12 breadcrumb breadcrumb-trails"
      :class="{ 'hidden-xs': !mobile, 'is-fixed': fixed }"
    >
      <li v-for="(content, index) in contents" :key="index" v-if="index == 0">
        <router-link class="breadcrumb-trail" :to="content.url" exact>{{
          content.name
        }}</router-link>
      </li>

      <li
        class="breadcrumb-trail active"
        v-for="(content, index) in contents"
        :key="index"
        v-if="index > 0"
      >
        <span v-if="index == contents.length - 1">{{ content.name }}</span>
        <router-link class="breadcrumb-trail" :to="content.url" exact v-else>{{
          content.name
        }}</router-link>
      </li>
    </ol>
  </section>
</template>

<script>
export default {
  props: {
    contents: {
      type: Array
    },
    mobile: {
      type: Boolean,
      default: true
    },
    fixed: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped>
.breadcrumb-trails {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

@media (max-width: 767px) {
  .breadcrumb-trails {
    margin-top: 54px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
    overflow-x: scroll;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .breadcrumb-trails {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .breadcrumb-trails {
    margin-top: 54px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    z-index: 100;
  }
  .breadcrumb-trails.is-fixed {
    position: fixed !important;
  }
}
.breadcrumb-trails > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '\003e';
}
.breadcrumb-trail {
  color: #1baa56;
  text-transform: capitalize;
}
.breadcrumb-trail.active {
  color: #777;
}
</style>
