<template>
	<div>
		<div class="container-landing">
			<div>
				<forum-breadcrumbs
					:contents="categoryDetail.breadcrumbs"
					v-if="!isLoadingHeader"
				></forum-breadcrumbs>
				<div class="clearfix"></div>

				<div class="landing-city">
					<forum-landing-header
						:loading="isLoadingHeader"
						@refresh="getThreadList"
					></forum-landing-header>
				</div>
			</div>
			<div v-if="!isLoadingContent">
				<forum-landing-content
					:threadList="threadList"
					:loading="isLoadingContent"
					@previous="getThreadList"
					@next="getThreadList"
				></forum-landing-content>
				<!-- <i id="scrollToTop" class="fa fa-arrow-circle-o-up scroll-top material-card-3" aria-hidden="true" v-show="threadList.threads.length > 5" @click="gotoTop"></i> -->
			</div>
			<mami-loading-inline v-else></mami-loading-inline>
		</div>
	</div>
</template>

<script>
import ForumBreadcrumbs from './ForumBreadcrumbs';
import ForumLandingHeader from './ForumLandingHeader';
import ForumLandingContent from './ForumLandingContent';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		ForumBreadcrumbs,
		ForumLandingHeader,
		ForumLandingContent
	},

	data() {
		return {
			isLoadingHeader: false,
			isLoadingContent: false,
			threadList: {},
			categoryDetail: {},
			showScrollTop: false
		};
	},

	computed: {
		route() {
			return this.$route;
		},
		category() {
			return this.$store.state.params.category;
		},
		question() {
			return this.$store.state.params.question;
		}
	},

	created() {
		this.getCategoryDetail();
		this.getThreadList(1);
	},

	// mounted() {
	// 	const element = document.querySelector('#navbarCustomize');
	// 	element.classList.add('landing-navbar');

	// 	window.onscroll = () => {
	// 		element.classList.add('landing-navbar');
	// 	};
	// },

	methods: {
		getCategoryDetail() {
			this.isLoadingHeader = true;
			axios
				.get('/forum/category/detail/' + this.route.params.category)
				.then(response => {
					if (response.data.status) {
						document.title = response.data.category.meta_title;

						this.categoryDetail = response.data.category;
						this.$store.commit('setParamsCategory', this.categoryDetail);

						tracker('ga', [
							'send',
							'event',
							{
								eventCategory: 'Forum User',
								eventAction: 'click',
								eventLabel: 'Track Open Landing' + this.route.params.category
							}
						]);
					}
					this.isLoadingHeader = false;
				})
				.catch(error => {
					this.isLoadingHeader = false;
					bugsnagClient.notify(error);
					alert(
						'Terjadi galat.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		},
		getThreadList(page) {
			this.isLoadingContent = true;
			axios
				.get(
					'/forum/thread/list/' + this.route.params.category + '?page=' + page
				)
				.then(response => {
					if (response.data.status) {
						this.threadList = response.data;
						if (this.threadList.threads > 5) {
							this.showScrollTop = true;
						}
					}
					this.isLoadingContent = false;

					this.$nextTick(() => {
						window.scrollTo(0, 0);
					});
				})
				.catch(error => {
					this.isLoadingContent = false;
					bugsnagClient.notify(error);
					alert(
						'Terjadi galat.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		},
		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		}
	}
};
</script>

<style scoped>
.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}

@media (min-width: 768px) {
	.landing-city {
		margin-top: 91px;
	}
}
</style>

<style>
.landing-navbar {
	border-bottom: 1px solid #eee;
}
</style>
