<template>
	<div>
		<forum-header></forum-header>
		<forum-content-preview
			:loading="isLoadingCategory"
			:categoryList="categoryList"
		></forum-content-preview>
	</div>
</template>

<script>
import ForumContentPreview from './ForumContentPreview';
import ForumHeader from './ForumHeader';

export default {
	components: {
		ForumContentPreview,
		ForumHeader
	},

	data() {
		return {
			isLoadingCategory: false,
			categoryList: {}
		};
	},

	created() {
		document.title =
			'Forum Good Senior #cepatcocok dengan Kota Tujuan - Mamikos';

		this.isLoadingCategory = true;
		axios
			.get('/forum/category/list')
			.then(response => {
				if (response.data.status) {
					this.categoryList = response.data;
				}
				this.isLoadingCategory = false;
			})
			.catch(error => {
				bugsnagClient.notify(error);
				alert(
					'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
				);
			});
	}
};
</script>
