<template>
	<forum-detail-thread></forum-detail-thread>
</template>

<script>
import ForumDetailThread from './ForumDetailThread';

export default {
	components: {
		ForumDetailThread
	}
};
</script>
