<template>
	<forum-landing-category></forum-landing-category>
</template>

<script>
import ForumLandingCategory from './ForumLandingCategory';

export default {
	components: {
		ForumLandingCategory
	}
};
</script>
