<template>
	<div
		class="modal fade"
		id="login"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalLabel"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body text-center">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
						v-if="!modalStatic"
					>
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title login-title">Masuk</h4>
					<p class="login-description">Silakan masuk {{ modalText }}</p>
					<form
						method="POST"
						action="/auth/facebook"
						name="formLogin"
						v-cloak
						@submit="loginTrack('facebook')"
					>
						<input type="hidden" name="_token" :value="_token" />
						<input type="hidden" name="url" :value="convertedUrl" /><br />
						<button
							class="facebook-login-button track-user-login"
							type="submit"
							ng-click="loginSubmit()"
							v-cloak
						>
							<img
								src="/assets/icons/svg/ic_facebook.svg"
								alt="ic_facebook"
								title="Facebook"
								class="facebook-logo"
							/>
							Masuk dengan Facebook
						</button>
					</form>
					<br />
					<div
						class="separator"
						:class="disableGoogleAuth ? 'hidden-xs hidden-sm' : ''"
					>
						<div class="strike">
							<span>atau</span>
						</div>
					</div>
					<form
						method="POST"
						action="/auth/google"
						name="formLogin"
						:class="disableGoogleAuth ? 'hidden-xs hidden-sm' : ''"
						v-cloak
						@submit="loginTrack('google')"
					>
						<input type="hidden" name="_token" :value="_token" />
						<input type="hidden" name="url" :value="convertedUrl" /><br />
						<button
							class="google-login-button track-user-login"
							type="submit"
							ng-click="loginSubmit()"
							v-cloak
						>
							<img
								src="/assets/icons/svg/ic_google.svg"
								alt="ic_google"
								title="Google"
								class="google-logo"
							/>
							Masuk dengan Google
						</button>
					</form>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</template>

<script>
export default {
	data() {
		return {
			modalText: 'lewat :',
			modalStatic: false
		};
	},
	computed: {
		_token() {
			return document.head.querySelector('meta[name="csrf-token"]').content;
		},
		convertedUrl() {
			// str_replace('http','https',request()->url())
			return window.location.href;
		},
		disableGoogleAuth() {
			return window.location.pathname.indexOf(
				'freelancer-mamikos-campus-ambassador-mca-pt-mama-teknologi-properti-depok-sleman'
			) > -1
				? true
				: false;
		},
		trackLoginForum() {
			try {
				return trackLoginForumSource;
			} catch (e) {
				return false;
			}
		}
	},
	// mounted() {
	// 	$('.form-download-app').on('submit', function(e) {
	// 		$form = $(this);

	// 		email_download = $form.find('.email-download').val();
	// 		phone_download = $form.find('.phone-download').val();

	// 		if (email_download == '') {
	// 			return false;
	// 		} else {
	// 			$.ajax({
	// 				type: 'POST',
	// 				url: '/garuda/download/link',
	// 				headers: {
	// 					'Content-Type': 'application/json',
	// 					'X-GIT-Time': '1406090202',
	// 					Authorization: 'GIT WEB:WEB'
	// 				},
	// 				data: JSON.stringify({
	// 					_token: $('meta[name="csrf-token"]').attr('content'),
	// 					user_phone: phone_download,
	// 					user_email: email_download
	// 				}),
	// 				crossDomain: true,
	// 				dataType: 'json',
	// 				success: function(data) {
	// 					$('#download-app').modal('hide');
	// 					$('#modalDownload').modal('hide');
	// 					swal(
	// 						'',
	// 						'Link telah dikirim. Silakan download Aplikasi MamiKos.',
	// 						'success'
	// 					);
	// 				}
	// 			});
	// 		}
	// 	});

	// 	// INSERT GOOGLE LOGIN IMAGE
	// 	var gImg = document.createElement('img');
	// 	gImg.setAttribute('src', 'https://mamikos.com/assets/google_logo.png');
	// 	$('.google-login-button').prepend($(gImg));

	// 	$('#login').on('show.bs.modal', e => {
	// 		let modalOptions = $('#login').data('bs.modal').options;

	// 		if (modalOptions.backdrop == 'static' || !modalOptions.keyboard) {
	// 			this.modalStatic = true;
	// 		}

	// 		let modalText = $(e.relatedTarget).data('modal-text');
	// 		// console.log(modalText);
	// 		if (modalText !== undefined) {
	// 			this.modalText = modalText;
	// 		} else {
	// 			this.modalText = 'lewat :';
	// 		}
	// 	});
	// },
	methods: {
		loginTrack(val) {
			if (this.trackLoginForum === true) {
				if (val == 'facebook') {
					tracker('ga', ['send', 'event', {
						eventCategory: 'Forum User',
						eventAction: 'click',
						eventLabel: 'Track Login Facebook'
					}]);
				} else if (val == 'google') {
					tracker('ga', ['send', 'event', {
						eventCategory: 'Forum User',
						eventAction: 'click',
						eventLabel: 'Track Login Google'
					}]);
				}
			}
		}
	},
	props: {
		text: {
			type: String
		}
	}
};
</script>

<style>
.modal-backdrop {
	z-index: 1029;
}
.modal-body {
	padding-bottom: 30px;
}
</style>

<style scoped>
#login .modal-content {
	border-radius: 0px;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border: none;
}
#login .modal-dialog {
	width: 300px;
}
.modal-title.login-title {
	text-align: center;
	color: #1baa56;
	font-weight: bold;
	padding-bottom: 5px;
}
.login-description {
	color: #3e5168;
}

.facebook-login-button {
	background-color: #fff;
	border: 1px solid #ddd;
	font-weight: 600;
	width: 210px;
	color: #3e5168;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.facebook-logo,
.google-logo {
	width: 16px;
}
.modal-title.login-title.login-title-google {
	padding-top: 15px;
	padding-bottom: 5px;
}
.google-login-button {
	background-color: #fff;
	border: 1px solid #ddd;
	font-weight: 600;
	width: 200px;
	color: #3e5168;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.google-login-button img {
	width: 22px;
	margin-bottom: 1px;
}

.separator {
	width: 75%;
	margin: 5px auto;
}

.strike {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.strike > span {
	position: relative;
	display: inline-block;
}

.strike > span:before,
.strike > span:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	background: #ddd;
}

.strike > span:before {
	right: 100%;
	margin-right: 15px;
}

.strike > span:after {
	left: 100%;
	margin-left: 15px;
}
</style>
