<template>
	<modal
		id="modalUser"
		effect="fade"
		title="Modal title"
		:small="true"
		:value="showModal"
		:backdrop="true"
		@closed="dropModal"
		@ok="showModal = false"
	>
		<div class="modal-exit">
			<button type="button" class="close" @click="closeModal">&times;</button>
		</div>

		<div class="modal-action">
			<div class="modal-action__header">
				<span class="action-title">Masuk</span>
				<span class="action-subtitle">Silakan masuk lewat:</span>
			</div>

			<div class="modal-action__content">
				<form
					v-cloak
					method="POST"
					action="/auth/facebook"
					name="formLogin"
					@submit="extraAction"
				>
					<input type="hidden" name="_token" :value="_token" />
					<input type="hidden" name="url" :value="convertedUrl" /><br />
					<button type="submit" class="btn btn-action btn-facebook">
						<img
							src="/assets/icons/svg/ic_facebook.svg"
							alt="ic_facebook"
							title="Facebook"
							class="facebook-logo"
						/>
						<span class="modal-action__content-text">
							Masuk dengan Facebook
						</span>
					</button>
				</form>

				<div
					class="separator"
					:class="disableGoogleAuth ? 'hidden-xs hidden-sm' : ''"
				>
					<div class="strike">
						<span>atau</span>
					</div>
				</div>

				<form
					v-cloak
					method="POST"
					action="/auth/google"
					name="formLogin"
					:class="disableGoogleAuth ? 'hidden-xs hidden-sm' : ''"
					@submit="extraAction"
				>
					<input type="hidden" name="_token" :value="_token" />
					<input type="hidden" name="url" :value="convertedUrl" /><br />
					<button type="submit" class="btn btn-action btn-google">
						<img
							src="/assets/icons/svg/ic_google.svg"
							alt="ic_google"
							title="Google"
							class="google-logo"
						/>
						<span class="modal-action__content-text">
							Masuk dengan Google
						</span>
					</button>
				</form>

				<a v-if="isLimitedContent" href="/login?page=login" class="login-owner">
					Login Sebagai Pemilik
				</a>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		isLimitedContent: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		_token() {
			return document.head.querySelector('meta[name="csrf-token"]').content;
		},
		convertedUrl() {
			return window.location.href;
		},
		disableGoogleAuth() {
			return (
				window.location.pathname.indexOf(
					'freelancer-mamikos-campus-ambassador-mca-pt-mama-teknologi-properti-depok-sleman'
				) > -1
			);
		}
	},

	methods: {
		closeModal() {
			this.$emit('close', false);
		},
		dropModal() {
			this.$emit('close', false);
		},
		extraAction() {
			if (this.isLimitedContent) {
				this.setLimitedContentSession();
			}
		},
		setLimitedContentSession() {
			sessionStorage.setItem('moengage-detail-limited-content', 'true');
		}
	}
};
</script>

<style lang="scss">
#modalUser {
	pointer-events: auto;
}

#modalUser .action-subtitle,
#modalUser .btn-action,
#modalUser .strike {
	color: #3e5168;
}

#modalUser .modal-header,
#modalUser .modal-footer {
	display: none !important;
}
#modalUser .modal-content {
	border: 0;
}
</style>

<style scoped lang="scss">
.modal-action {
	padding-top: 15px;
	padding-bottom: 25px;
}

.modal-action__header,
.modal-action__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-action__content button:hover {
	text-decoration: none !important;
}

.modal-action__content-text {
	margin-left: 5px;
}

.modal-action__content-text:hover {
	text-decoration: underline !important;
}

.action-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	color: #1baa56;
}

.google-logo,
.facebook-logo {
	width: 22px;
}

.btn-action {
	width: 200px;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #ddd;
}

.separator {
	width: 75%;
	margin-top: 20px;
}

.strike {
	display: block;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
.strike > span {
	position: relative;
	display: inline-block;
}
.strike > span:before,
.strike > span:after {
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	content: '';
	background: #ddd;
}
.strike > span:before {
	right: 100%;
	margin-right: 15px;
}
.strike > span:after {
	left: 100%;
	margin-left: 15px;
}

.login-owner {
	margin-top: 30px;
}
</style>
