<template>
    <div class="col-md-6 col-sm-12">
        <div class="survey survey-container">
            <table class="table table-striped table-responsive survey-table">
                <tbody>
                    <tr>
                        <td>Tanggal Survey</td>
                        <td>01 Feb 2020</td>
                    </tr>
                    <tr>
                        <td>Nama User</td>
                        <td>Layla</td>
                    </tr>
                    <tr>
                        <td>Lama Sewa</td>
                        <td>2 Bulan</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>Perempuan</td>
                    </tr>
                    <tr>
                        <td>Usia</td>
                        <td>1 Tahun</td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>Kerja, Sad, Sky</td>
                    </tr>
                    <tr>
                        <td>No. Handphone</td>
                        <td>+6281911667805</td>
                    </tr>
                    <tr>
                        <td class="survey-button-container" colspan="2">
                            <button class="survey-button">Kirim Chat</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        surveys: {
            type: Array,
            required: true
        }
    }
};
</script>

<style scoped>
.survey {
    font-size: 14px;
    text-transform: capitalize;
}
.survey-container {
    padding: 10px;
}
.survey-table {
    border: 1px #ddd solid;
}

.survey-button-container {
    text-align: center;
}
.survey-button {
    font-weight: bold;
    display: inline-block;
    margin: auto;
    background-color: #ec4a0c;
    border: none;
    color: #fff;
    padding: 6px 12px;
}
</style>
