<template>
	<div
		v-if="hasMobileWidth && deferredPrompt !== null && !isDismissed"
		class="pwa-install-card"
	>
		<span class="close" @click="hideCard">&times;</span>

		<p class="title">Mau cari kost lagi besok-besok?</p>

		<p class="subtitle">
			Gak usah repot buka browser atau download App.
		</p>

		<p class="subtitle">
			Tambahkan dan akses langsung Mamikos dari Layar Utama HPmu!
		</p>

		<button
			type="button"
			class="btn"
			:class="`--${buttonColor}`"
			@click="promptUser"
		>
			Tambahkan
		</button>
	</div>
</template>

<script>
import * as storage from 'Js/@utils/storage';

export default {
	data() {
		return {
			deferredPrompt: null,
			isDismissed: false,
			isViewed: false
		};
	},

	computed: {
		hasMobileWidth() {
			return window.innerWidth < 768 ? true : false;
		},
		buttonColor() {
			const randomized = Math.floor(Math.random() * 2 + 1);

			return randomized == 1 ? 'green' : 'orange';
		}
	},

	created() {
		this.checkPrompt();

		this.checkViewed();
	},

	methods: {
		checkPrompt() {
			window.addEventListener('beforeinstallprompt', e => {
				e.preventDefault();

				this.deferredPrompt = e;

				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'A2HS',
						eventAction: 'listen',
						eventLabel: 'The beforeinstallprompt A2HS has been initialized'
					}
				]);
			});

			this.isDismissed = storage.local.getItem('a2hsHidden') === 'yes';
		},
		checkViewed() {
			window.addEventListener('scroll', e => {
				const elem = document.querySelector('.pwa-install-card');

				if (elem !== null) {
					if (!this.isViewed && isInViewport(elem)) {
						this.isViewed = true;

						tracker('ga', [
							'send',
							'event',
							{
								eventCategory: 'A2HS',
								eventAction: 'view',
								eventLabel: 'User viewed the A2HS download button card'
							}
						]);
					}
				}
			});

			function isInViewport(elem) {
				const bounding = elem.getBoundingClientRect();

				return (
					bounding.top >= 0 &&
					bounding.left >= 0 &&
					bounding.bottom <=
						(window.innerHeight || document.documentElement.clientHeight) &&
					bounding.right <=
						(window.innerWidth || document.documentElement.clientWidth)
				);
			}
		},
		hideCard() {
			this.deferredPrompt = null;

			storage.local.setItem('a2hsHidden', 'yes');

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'A2HS',
					eventAction: 'click',
					eventLabel: 'User hid the A2HS download button card'
				}
			]);
		},
		promptUser() {
			this.deferredPrompt.prompt();

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'A2HS',
					eventAction: 'click',
					eventLabel: 'User clicked the A2HS download button card'
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'A2HS-AB-Test-Button',
					eventAction: 'click',
					eventLabel: `${this.buttonColor.toUpperCase()} BUTTON`
				}
			]);

			this.deferredPrompt.userChoice.then(choiceResult => {
				if (choiceResult.outcome === 'accepted') {
					try {
						this.swalSuccess(
							'Berhasil Ditambahkan',
							'Aplikasi Web Mamikos akan segera muncul di Layar Utama HPmu.',
							null
						);
					} catch (e) {
						alert(
							'Berhasil Ditambahkan\nAplikasi Web Mamikos akan segera muncul di Layar Utama HPmu.'
						);
					}

					tracker('ga', [
						'send',
						'event',
						{
							eventCategory: 'A2HS',
							eventAction: 'prompt',
							eventLabel: 'User accepted the A2HS prompt'
						}
					]);
				} else {
					tracker('ga', [
						'send',
						'event',
						{
							eventCategory: 'A2HS',
							eventAction: 'click',
							eventLabel: 'User dismissed the A2HS prompt'
						}
					]);
				}

				this.deferredPrompt = null;
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.pwa-install-card {
	position: relative;
	padding: 30px 15px 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
	background-color: #fff;
	text-align: center;

	> .close {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 30px;
	}

	> .title {
		font-size: large;
		font-weight: bold;
	}

	> .subtitle {
		margin-bottom: 0;
	}

	> .btn {
		margin-top: 10px;
		padding: 10px 20px;
		font-weight: bold;
		color: #fff;
		border-radius: 3px;

		&.--green {
			background-color: #1baa56;
			border-color: #1baa56;

			&:active,
			&:hover,
			&:focus {
				color: #fff;
				background-color: #109e4b;
				border-color: #109e4b;
				text-decoration: none;
			}
		}

		&.--orange {
			background-color: #ec4a0c;
			border-color: #ec4a0c;

			&:active,
			&:hover,
			&:focus {
				color: #fff;
				background-color: #e04205;
				border-color: #e04205;
				text-decoration: none;
			}
		}
	}
}
</style>
