<template>
	<div id="baseFilterPrice">
		<dropdown @input="handleCloseDropdown">
			<button
				ref="dropdownMenuPrice"
				slot="button"
				type="button"
				:class="[
					'base-filter-button',
					{
						'--active': dropdownData.active
					}
				]"
			>
				<span>{{ dropdownData.title }}</span>
			</button>
			<div slot="dropdown-menu" class="dropdown-menu">
				<div class="base-filter-container">
					<base-filter-price
						ref="priceRangeFilter"
						:price-range="priceRange"
						@set-value="setFilterPrice"
						@save-action="$emit('save-action')"
					/>
					<div class="base-action-container">
						<button type="button" class="base-reset" @click="resetPrice">
							Hapus
						</button>
						<button type="button" class="base-save" @click="closeAction">
							Simpan
						</button>
					</div>
				</div>
			</div>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
import BaseFilterPrice from 'Js/@components/BaseFilterPrice';

export default {
	components: {
		dropdown,
		BaseFilterPrice
	},
	props: {
		priceRange: {
			type: Array,
			default() {
				return [10000, 20000000];
			}
		},
		dropdownData: {
			type: Object,
			default() {
				return {
					title: 'Harga',
					active: false
				};
			}
		},
		saveOnlyOnChange: {
			type: Boolean,
			default: true
		}
	},
	methods: {
		setFilterPrice(priceRange) {
			this.$emit('set-value', priceRange);
		},
		handleCloseDropdown(statusDropdown) {
			this.$refs.priceRangeFilter &&
				this.$refs.priceRangeFilter.handleStatusDropdownChange(statusDropdown);
		},
		resetPrice() {
			this.$refs.priceRangeFilter && this.$refs.priceRangeFilter.resetAction();
		},
		closeAction() {
			this.$refs.dropdownMenuPrice && this.$refs.dropdownMenuPrice.click();
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#baseFilterPrice {
	.dropdown-toggle {
		padding: 0;

		&:active,
		&:not(:focus),
		&:focus {
			background: none;
			border: 0;
			outline: none;
			box-shadow: none;
		}

		.caret {
			display: none;
		}
	}

	.dropdown-menu {
		padding: 0;
		margin-top: 16px;
		background: #fff;
		border: 0;
		border-radius: 8px;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';
.base-filter-container {
	display: block;
	width: 431px;
}
.base-action-container {
	display: flex;
	width: 100%;
	height: 56px;
	padding: 0 20px;
	align-items: center;
	border-top: 1px solid #e8e8e8;
}
.base-action {
	display: flex;
	flex: 1;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #404040;
	background: #fff;
	border: 0;
}
.base-save {
	/* stylelint-disable */
	@extend .base-action;
	/* stylelint-enable */
	color: #1baa56;
	justify-content: flex-end;
}
.base-reset {
	/* stylelint-disable */
	@extend .base-action;
	/* stylelint-enable */
	justify-content: flex-start;
}
</style>
