<template>
	<div class="base-content-container">
		<div class="input-price-container">
			<div class="input-price-content">
				<label v-if="showLabel" class="price-label">
					Minimal
				</label>
				<div class="price-input-group">
					<label class="price-currency">Rp</label>
					<input
						ref="minInputPrice"
						type="tel"
						class="price-input"
						maxlength="15"
						:value="minPriceShow"
						@input="handleOnInput($event, 'min')"
						@blur="handleInputBlur($event, 'min')"
					/>
				</div>
			</div>
			<div class="price-divider" />
			<div class="input-price-content">
				<label v-if="showLabel" class="price-label">
					Maksimal
				</label>
				<div class="price-input-group">
					<label class="price-currency">Rp</label>
					<input
						ref="maxInputPrice"
						type="tel"
						class="price-input"
						maxlength="15"
						:value="maxPriceShow"
						@input="handleOnInput($event, 'max')"
						@blur="handleInputBlur($event, 'max')"
					/>
				</div>
			</div>
		</div>
		<div ref="rangeTrack" class="input-range-container">
			<div class="input-range-track" />
			<div ref="activeRangeTrack" class="active-track" />
			<span
				ref="minTrackThumb"
				class="track-thumb"
				v-on="
					navigator.isMobile
						? { touchstart: event => handleHoldingThumb(event, 'min') }
						: { mousedown: event => handleHoldingThumb(event, 'min') }
				"
			/>
			<span
				ref="maxTrackThumb"
				class="track-thumb"
				v-on="
					navigator.isMobile
						? { touchstart: event => handleHoldingThumb(event, 'max') }
						: { mousedown: event => handleHoldingThumb(event, 'max') }
				"
			/>
		</div>
	</div>
</template>

<script>
import _isEqual from 'lodash/isEqual';

export default {
	props: {
		minPriceDefault: {
			type: Number,
			default: 10000
		},
		maxPriceDefault: {
			type: Number,
			default: 20000000
		},
		stepPrice: {
			type: Number,
			default: 10000
		},
		priceRange: {
			type: Array,
			default() {
				return [10000, 20000000];
			}
		},
		applyOnChange: {
			type: Boolean,
			default: false
		},
		saveOnlyOnChange: {
			type: Boolean,
			default: true
		},
		showLabel: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			minPrice: 10000,
			maxPrice: 20000000,
			currentRef: null
		};
	},
	computed: {
		minPriceShow() {
			return this.minPrice.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
		},
		maxPriceShow() {
			return this.maxPrice.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
		}
	},
	destroyed() {
		this.removeNecessaryListener();
	},
	methods: {
		sanitizeInput(price) {
			return price.toString().replace(/\./g, '');
		},
		currencyFormat(price) {
			return price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
		},
		roundPriceFormat(type, price) {
			return type === 'min'
				? Math.floor(price / 10000) * 10000
				: Math.ceil(price / 10000) * 10000;
		},
		handleOnInput(event, type) {
			const currentValue = this.sanitizeInput(
				this.$refs[`${type}InputPrice`].value
			);
			const isContainWord = new RegExp(/\D/g).test(currentValue);

			if (currentValue === '0' && currentValue.toString().length === 1) {
				this.$refs[`${type}InputPrice`].value = '';
				return;
			}

			if (isContainWord || event.data === '.') {
				const updatedValue = currentValue.toString().replace(/\D+/g, '');
				this.$refs[`${type}InputPrice`].value = this.currencyFormat(
					updatedValue
				);
				return;
			}

			const isInvalid = this.checkInvalidCondition(type, currentValue);
			this[`${type}Price`] = currentValue;
			!isInvalid && this.setThumbOnInput();
		},
		resetAction() {
			this.minPrice = this.minPriceDefault;
			this.maxPrice = this.maxPriceDefault;
			this.setThumbOnInput();
		},
		reCalculatePrice() {
			this.minPrice = this.priceRange[0];
			this.maxPrice = this.priceRange[1];
			this.setThumbOnInput();
		},
		handleStatusDropdownChange(statusDropdown) {
			if (statusDropdown) {
				this.$nextTick(() => {
					this.reCalculatePrice();
				});
			} else {
				const currentValue = [this.minPrice, this.maxPrice];
				const isDataNotChange = _isEqual(currentValue, this.priceRange);
				const valueChangeCondition =
					this.saveOnlyOnChange && !this.applyOnChange
						? !isDataNotChange
						: true;

				valueChangeCondition &&
					this.$emit('set-value', currentValue) &&
					this.$emit('save-action');
			}
		},
		addNecessaryListener() {
			if (this.navigator.isMobile) {
				window.addEventListener('touchmove', this.handleThumbMove);
				window.addEventListener('touchend', this.handleReleaseThumb);
			} else {
				window.addEventListener('mousemove', this.handleThumbMove);
				window.addEventListener('mouseup', this.handleReleaseThumb);
			}
		},
		removeNecessaryListener() {
			if (this.navigator.isMobile) {
				window.removeEventListener('touchmove', this.handleThumbMove);
				window.removeEventListener('touchend', this.handleReleaseThumb);
			} else {
				window.removeEventListener('mousemove', this.handleThumbMove);
				window.removeEventListener('mouseup', this.handleReleaseThumb);
			}
		},
		reRouteTrack() {
			const trackElement = this.$refs.rangeTrack;
			const activeTrackElement = this.$refs.activeRangeTrack;
			const minThumbElement = this.$refs.minTrackThumb;
			const maxThumbElement = this.$refs.maxTrackThumb;
			const trackLeft = trackElement.getBoundingClientRect().left;
			const activeTrackLeft = minThumbElement.getBoundingClientRect().left;
			const activeTrackMaxLeft = maxThumbElement.getBoundingClientRect().left;
			const updateTrackLeft = activeTrackLeft - trackLeft;
			const updateTrackWidth = activeTrackMaxLeft - activeTrackLeft;

			activeTrackElement.style.width = `${updateTrackWidth}px`;
			activeTrackElement.style.left = `${updateTrackLeft}px`;
		},
		checkInvalidCondition(type, price) {
			return type === 'min' ? price > this.maxPrice : price < this.minPrice;
		},
		checkPriceThumb(updatedPrice) {
			const currentTag = this.currentRef;
			const otherTag = currentTag === 'min' ? 'max' : 'min';
			const isInvalid = this.checkInvalidCondition(currentTag, updatedPrice);

			if (isInvalid) {
				const currentOtherPrice = this[`${otherTag}Price`];
				const currentOtherTag = currentTag;
				this.currentRef = otherTag;
				this[`${currentOtherTag}Price`] = currentOtherPrice;
				this.setThumbOnInput();
			}
		},
		setThumbOnInput() {
			const trackElement = this.$refs.rangeTrack;
			const minThumbElement = this.$refs.minTrackThumb;
			const maxThumbElement = this.$refs.maxTrackThumb;
			const trackWidth = trackElement.getBoundingClientRect().width;
			const thumbWidth = minThumbElement.getBoundingClientRect().width;
			const minPricePercentage = this.minPrice / this.maxPriceDefault;
			const maxPrice =
				this.maxPrice > this.maxPriceDefault
					? this.maxPriceDefault
					: this.maxPrice;
			const maxPricePercentage = maxPrice / this.maxPriceDefault;
			let minPosition = (trackWidth - thumbWidth) * minPricePercentage;
			let maxPosition = (trackWidth - thumbWidth) * maxPricePercentage;
			minPosition = minPosition > maxPosition ? maxPosition : minPosition;
			maxPosition = maxPosition < minPosition ? minPosition : maxPosition;
			minThumbElement.style.left = `${minPosition}px`;
			maxThumbElement.style.left = `${maxPosition}px`;
			this.reRouteTrack();
		},
		handleCheckPrice(type, price) {
			const otherTag = type === 'min' ? 'max' : 'min';
			const isInvalid = this.checkInvalidCondition(type, price);

			if (isInvalid) {
				this[`${otherTag}Price`] = price;
			}

			this[`${type}Price`] = price;
			this.setThumbOnInput();
			this.applyOnChange && this.handleEmitPrice();
		},
		handleInputBlur(event, type) {
			const inputPrice = this.sanitizeInput(event.target.value);
			const isContainWord = new RegExp(/\D/g).test(inputPrice);
			const otherTag = type === 'min' ? 'max' : 'min';

			let validPrice =
				isContainWord || !inputPrice
					? this[`${type}PriceDefault`]
					: +inputPrice;

			let otherValidPrice = this.roundPriceFormat(
				otherTag,
				this[`${otherTag}Price`]
			);

			validPrice =
				validPrice < this.minPriceDefault ? this.minPriceDefault : validPrice;
			validPrice = this.roundPriceFormat(type, validPrice);
			validPrice = validPrice.toString().length > 9 ? 999990000 : validPrice;

			otherValidPrice =
				otherValidPrice < this.minPriceDefault
					? this.minPriceDefault
					: otherValidPrice;
			otherValidPrice =
				otherValidPrice.toString().length > 9 ? 999990000 : otherValidPrice;

			this[`${otherTag}Price`] = otherValidPrice;

			this.handleCheckPrice(type, validPrice);
		},
		handleHoldingThumb(event, type) {
			event.preventDefault();
			this.currentRef = type;
			this.addNecessaryListener();
		},
		handleReleaseThumb() {
			this.removeNecessaryListener();
			this.currentRef = null;
			this.applyOnChange && this.handleEmitPrice();
		},
		handleThumbMove(event) {
			const type = this.currentRef;
			const windowLeft = this.navigator.isMobile
				? event.touches[0].clientX
				: event.clientX;
			const thumbElement = this.$refs[`${type}TrackThumb`];
			const trackElement = this.$refs.rangeTrack;
			const trackLeft = trackElement.getBoundingClientRect().left;
			const trackWidth = trackElement.getBoundingClientRect().width;
			const thumbWidth = thumbElement.getBoundingClientRect().width;
			const minLeft = 0;
			const maxLeft = trackWidth - thumbWidth;

			/* Change thumb position */
			const moveFromLeft = windowLeft - trackLeft - thumbWidth / 2;
			if (moveFromLeft >= minLeft && moveFromLeft < maxLeft) {
				thumbElement.style.left = `${moveFromLeft}px`;
			} else if (moveFromLeft >= maxLeft) {
				thumbElement.style.left = `${maxLeft}px`;
			} else {
				thumbElement.style.left = `${minLeft}px`;
			}

			/* Bind thumb position into min or max price */
			const moveInPercent = (moveFromLeft / maxLeft) * 100;
			const totalRangeDots = this.maxPriceDefault / this.stepPrice;
			const valuePerDots = this.stepPrice / totalRangeDots / 100;
			let updatedPrice = this.minPriceDefault;
			if (moveInPercent >= 0 && moveInPercent < 100) {
				const priceInDots = moveInPercent / valuePerDots;
				const priceInDotsFloor = Math.floor(priceInDots);
				updatedPrice =
					priceInDotsFloor > 0
						? priceInDotsFloor * this.stepPrice
						: this.stepPrice;
			} else if (moveFromLeft >= maxLeft) {
				updatedPrice = this.maxPriceDefault;
			} else {
				updatedPrice = this.minPriceDefault;
			}
			this[`${type}Price`] = updatedPrice;

			/* Checking if currentRef value already pass the other value */
			this.checkPriceThumb(updatedPrice);

			/* Active track handler */
			this.reRouteTrack();
		},
		handleEmitPrice() {
			this.$emit('set-value', [this.minPrice, this.maxPrice]);
		}
	}
};
</script>

<style lang="scss" scoped>
.base-content-container {
	display: flex;
	padding: 20px;
	flex-direction: column;

	.input-price-container {
		display: flex;
		width: 100%;

		.input-price-content {
			display: flex;
			width: calc((100% - 24px) / 2);
			flex-direction: column;
		}

		.price-divider {
			position: relative;
			display: flex;
			width: 24px;
			align-items: center;

			&::after {
				position: absolute;
				bottom: 24px;
				left: 50%;
				width: 8px;
				height: 1px;
				content: '';
				background: #949494;
				transform: translate(-50%, 0);
			}
		}
	}
}
.price-label {
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #303030;
}
.price-input-group {
	position: relative;
	height: 48px;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;

	.price-currency {
		position: absolute;
		top: 50%;
		left: 12px;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		transform: translate(0, -50%);
	}

	.price-input {
		width: 100%;
		height: 100%;
		padding: 12px 12px 12px 40px;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		border: 0;
		border-radius: 4px;
		outline: 0;
	}
}
.input-range-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 22px;
	margin-top: 20px;

	.input-range-track {
		width: 100%;
		height: 4px;
		background: #e8e8e8;
		border-radius: 100px;
	}

	.active-track {
		position: absolute;
		top: 50%;
		width: 100%;
		height: 4px;
		background: #1baa56;
		transform: translate(0, -50%);
	}

	.track-thumb {
		position: absolute;
		top: 50%;
		width: 22px;
		height: 22px;
		cursor: pointer;
		background: #fff;
		border: 1px solid #1baa56;
		border-radius: 11px;
		transform: translate(0, -50%);

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 14px;
			height: 14px;
			content: '';
			background: #1baa56;
			border-radius: 7px;
			transform: translate(-50%, -50%);
		}

		&:last-child {
			left: 369px;
		}
	}
}
</style>
