<template>
	<fragment>
		<div
			v-for="(data, index) in optionData"
			:key="`${filterType}-option-${index}`"
			class="input-container"
		>
			<label class="input-label">
				<input v-model="valueBinding" :type="listStyle" :value="data.value" />
				<span v-if="needIndicator" :class="`custom-${listStyle}`"></span>
				<span :class="{ '--label-active': boldValueOnActive }">{{
					data.name
				}}</span>
			</label>
		</div>
	</fragment>
</template>

<script>
import Fragment from 'vue-fragment';

Vue.use(Fragment.Plugin);

export default {
	props: {
		filterType: {
			type: String,
			default: ''
		},
		optionData: {
			type: Array,
			default() {
				return [];
			}
		},
		optionValue: {
			type: [Array, Boolean, String, Number, Object],
			required: true
		},
		listStyle: {
			type: String,
			default: 'checkbox'
		},
		needIndicator: {
			type: Boolean,
			default: true
		},
		boldValueOnActive: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		valueBinding: {
			get() {
				return this.optionValue;
			},
			set(payload) {
				this.$emit('set-value', payload, this.filterType);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Js/_search/style/index.scss';
</style>
