<template>
	<section
		:class="{ '--display-block': overflow, '--theme-2': version === 2 }"
		:style="customStyle"
	>
		<ol
			v-if="contents.length == 0"
			class="col-xs-12 breadcrumb breadcrumb-trails"
		>
			<li><a class="breadcrumb-trail inactive" href="/">Home</a></li>
			<li class="breadcrumb-trail active">{{ parent }}</li>
			<li class="breadcrumb-trail active">{{ active }}</li>
		</ol>
		<ol
			v-else
			class="col-xs-12 breadcrumb breadcrumb-trails"
			:class="{ 'hidden-xs': !mobile, 'is-fixed': fixed }"
		>
			<li v-for="(content, index) in contents" :key="index">
				<a
					v-if="index < contents.length - 1"
					class="breadcrumb-trail"
					:href="content.url"
					>{{ content.name }}</a
				>
				<span v-else class="breadcrumb-trail active">{{ content.name }}</span>
			</li>
		</ol>
	</section>
</template>

<script>
export default {
	props: {
		customStyle: {
			type: String,
			default: ''
		},
		parent: {
			type: String,
			default: ''
		},
		active: {
			type: String,
			default: ''
		},
		contents: {
			type: Array,
			default() {
				return [];
			}
		},
		mobile: {
			type: Boolean,
			default: true
		},
		fixed: {
			type: Boolean,
			default: false
		},
		overflow: {
			type: Boolean,
			default: false
		},
		version: {
			type: Number,
			default: 1
		}
	}
};
</script>

<style scoped lang="scss">
.breadcrumb-trails {
	z-index: 1;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}

@media (max-width: 767px) {
	.breadcrumb-trails {
		position: relative;
		margin-top: 54px;
		margin-bottom: 0;
		overflow-x: scroll;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.breadcrumb-trails {
		position: absolute;
		margin-top: 54px;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
}
@media (min-width: 992px) {
	.breadcrumb-trails {
		position: absolute;
		z-index: 100;
		margin-top: 54px;
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
	.breadcrumb-trails.is-fixed {
		position: fixed !important;
	}
}
/* stylelint-disable */
.breadcrumb-trails > li + li:before {
	padding: 0 11px;
	content: url('/general/img/pictures/navbar/ic_bcright.svg');
}
/* stylelint-enable */
.--display-block .breadcrumb-trails {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0 !important;
	overflow-x: auto;
	text-overflow: unset;
	white-space: normal;
}

.breadcrumb-trail {
	color: #1baa56;
	text-transform: capitalize;
}
.breadcrumb-trail.active {
	color: #777;
}
.--theme-2 {
	display: flex;
	margin: 0 auto;
	align-items: center;

	.breadcrumb-trails {
		position: relative;
		padding: 0;
		margin: 0;
		background-color: #fff;
		border: 0;

		.breadcrumb-trail {
			font-size: 14px;
			font-weight: normal;
			line-height: 20px;
			color: #949494;
		}

		.active {
			font-weight: bold;
			color: #404040;
		}
	}
}
</style>
