<template>
  <!-- <div class="col-md-12 col-xs-12 breadcrumb-pills">

        <div class="col-md-12 col-xs-12 breadcrumb-pills-content">
            <span v-for="content in contents" :class="[grid, contents.indexOf(content)+1 ==  currentSection ? 'is-active' : '']">{{ content }}</span>
        </div>
     </div> -->

  <div class="row bs-wizard" style="border-bottom:0;">
    <div
      v-for="content in contents"
      class="bs-wizard-step"
      :class="[
        grid,
        contents.indexOf(content) + 1 == currentSection
          ? 'active'
          : contents.indexOf(content) + 1 < currentSection
          ? 'complete'
          : 'disabled'
      ]"
    >
      <div class="text-center bs-wizard-stepnum">&nbsp;</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="bs-wizard-dot">
        <img src="/assets/icons/svg/ic_check.svg" class="checklist" />
      </a>
      <div class="bs-wizard-info text-center">{{ content }}</div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    currentSection() {
      return this.$store.state.section;
    }
  },
  props: {
    grid: {
      type: String,
      required: true
    },
    contents: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
* {
  --breadcrumb-title-color-active: #0c0c0c;
  --breadcrumb-title-color-nonactive: #595959;
  --breadcrumb-dot-color-active: #27ab27;
  --breadcrumb-dot-color-nonactive: #dbdbdb;
}

.breadcrumb-pills {
  text-align: center;
}

@media (max-width: 991px) {
  .breadcrumb-pills {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .breadcrumb-pills {
    font-size: 16px;
  }
}

.breadcrumb-pills-content {
  padding: 0;
  > span {
    border-top: 2px solid #1f881f;
    border-bottom: 2px solid #1f881f;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #9b9b9b;
    background-color: #fff;
    cursor: default;
    &:first-child {
      border-left: 2px solid #1f881f;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    &:last-child {
      border-right: 2px solid #1f881f;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    &.is-active {
      color: #fff;
      background-color: #1f881f;
    }
  }
}

@media (max-width: 767px) {
  .breadcrumb-pills-content > span {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 321px) {
  .breadcrumb-pills-content > span {
    font-size: medium;
  }
}

/*BREADCRUMBS V2*/
/*Form Wizard*/

.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
  width: calc(100% - 181px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  > .bs-wizard-step {
    padding: 0;
    position: relative;
    + .bs-wizard-step {
    }
    .bs-wizard-stepnum {
      color: #595959;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .bs-wizard-info {
      font-size: 14px;
      margin-top: 32px;
    }
    &.complete .bs-wizard-info {
      color: var(--breadcrumb-title-color-active);
      font-weight: 600;
    }
    &.active .bs-wizard-info,
    &.disabled .bs-wizard-info {
      color: var(--breadcrumb-title-color-nonactive);
      font-weight: normal;
    }
    > {
      .bs-wizard-dot {
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        background: var(--breadcrumb-dot-color-active);
        top: 45px;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        &:after {
          content: ' ';
          width: 24px;
          height: 24px;
          background: var(--breadcrumb-dot-color-active);
          border-radius: 50px;
          position: absolute;
          top: 3px;
          left: 3px;
        }
      }
      .progress {
        background-color: var(--breadcrumb-dot-color-nonactive);
        position: relative;
        border-radius: 0px;
        height: 4px;
        box-shadow: none;
        margin: 21px 0;
        > .progress-bar {
          width: 0px;
          box-shadow: none;
          background: var(--breadcrumb-dot-color-active);
        }
      }
    }
    &.complete > .progress > .progress-bar {
      width: 100%;
    }
    &.active > .progress > .progress-bar {
      width: 50%;
    }
    &:first-child.active > .progress > .progress-bar {
      width: 0%;
    }
    &:last-child.active > .progress > .progress-bar {
      width: 100%;
    }
    &.disabled > .bs-wizard-dot {
      background-color: var(--breadcrumb-dot-color-nonactive);
      &:after {
        opacity: 0;
      }
    }
    &:first-child > .progress {
      left: 50%;
      width: 100%;
    }
    &:last-child > .progress {
      width: 50%;
    }
    &.disabled a.bs-wizard-dot {
      pointer-events: none;
    }
  }
}

@media (max-width: 767px) {
  .bs-wizard {
    width: 100%;
  }
}

img.checklist {
  color: #fff;
  position: relative;
  top: 3px;
  left: 8px;
  z-index: 1;
  width: 13.8px;
}

.bs-wizard-step.active > .bs-wizard-dot:after {
  background-color: #fff;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot > img {
  /*color: var(--breadcrumb-dot-color-nonactive);*/
  display: none;
}
</style>
