<template>
	<h3 class="button-cta" :style="{ width, lineHeight: height }">
		<a :class="gtmTrackingClass" @click.prevent="handleOnClick">{{ text }}</a>
	</h3>
</template>

<script>
export default {
	props: {
		goTo: String,
		gtmTrackingClass: {
			type: String,
			default: ''
		},
		onClick: Function,
		text: {
			type: String,
			required: true
		},
		width: String,
		height: String
	},
	methods: {
		handleOnClick() {
			if (this.goTo) {
				window.location.href = this.goTo;
			}

			if (this.onClick) {
				this.onClick();
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.button-cta {
	display: inline-block;
	width: 430px;
	max-width: 100%;
	padding: 0;
	margin: 0;
	background: #1baa56;
	border: 0;
	border-radius: 3px;

	a {
		display: block;
		margin: 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 48px;
		color: #fff;
		text-decoration: none;
	}

	@media (min-width: 768px) {
		a {
			font-size: 16px;
		}
	}
}
</style>
