<template>
	<div :class="['countdown-box', { shimmer: isLoading }]">
		<span
			v-if="!isLoading"
			class="countdown-number"
			:data-path="`lbl_contentValue${text}`"
			>{{ value }}</span
		>
		<p
			v-if="!isLoading"
			class="countdown-label"
			:data-path="`lbl_contentTag${text}`"
		>
			{{ text }}
		</p>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: '0'
		},
		text: {
			type: String,
			default: ''
		},
		isLoading: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.countdown-box {
	display: flex;
	width: 130px;
	height: 112px;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 16px 32px rgba(34, 37, 35, 0.08);

	@media (max-width: 767px) {
		width: 100px;
		height: 90px;
	}

	@media (max-width: 575px) {
		width: 64px;
		height: 56px;
		border-radius: 8px;
	}

	.countdown-number {
		font-size: 40px;
		font-weight: bold;
		color: #303030;
		text-align: center;
		letter-spacing: 1px;

		@media (max-width: 767px) {
			font-size: 30px;
		}

		@media (max-width: 575px) {
			font-size: 20px;
		}
	}

	.countdown-label {
		margin-top: 16px;
		font-size: 16px;
		font-weight: bold;
		color: #bbb;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.7px;

		@media (max-width: 767px) {
			font-size: 14px;
		}

		@media (max-width: 575px) {
			margin-top: 8px;
			font-size: 11px;
		}
	}
}
</style>
