<template>
	<div class="detached-pagination">
		<pagination
			v-if="totalPage > 0"
			v-model="page"
			ref="detachedPagination"
			:page-count="totalPage"
			:page-range="visiblePage"
			:first-last-button="true"
			container-class="pagination"
			disabled-class="page-item-disabled"
			prev-class="page-item-prev"
			next-class="page-item-next"
			first-button-text=""
			last-button-text=""
			prev-text=""
			next-text=""
		></pagination>
	</div>
</template>

<script>
import pagination from 'vuejs-paginate';
export default {
	name: 'DetachedPagination',
	components: {
		pagination
	},
	props: {
		totalPage: {
			type: Number,
			required: true
		},
		value: {
			type: Number,
			required: true
		}
	},
	data() {
		return {
			page: this.value,
			visiblePage: 3
		};
	},
	watch: {
		page(page) {
			this.$emit('input', page);
		},
		value(page) {
			this.page = page;
		}
	}
};
</script>

<style lang="scss" scoped>
.detached-pagination {
	text-align: center;
}
</style>

<style lang="scss">
@import 'Sass/_variables.scss';

.detached-pagination {
	li {
		display: inline-block;
		font-size: 16px;

		@media (max-width: 767px) {
			font-size: 12px;
		}
	}

	li:first-of-type a {
		margin: 0;
		background-image: url('/general/img/icons/ic_double-arrow-left.svg');
	}

	li:last-of-type a {
		margin: 0;
		background-image: url('/general/img/icons/ic_double-arrow-right.svg');
	}

	.page-item-prev a {
		background-image: url('/general/img/icons/ic_angle-right_s_green.svg');
		transform: rotate(180deg);
	}

	.page-item-next a {
		background-image: url('/general/img/icons/ic_angle-right_s_green.svg');
	}

	li a {
		font-size: 1em;
		width: 2em;
		height: 2em;
		border-radius: 4px;
		border: 1px solid $brand-primary;
		padding: 0;
		margin: 0 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-repeat: no-repeat;
		background-size: auto 50%;
		background-position: center;
	}

	.page-item-disabled {
		border-color: $brand-primary;
	}
}
</style>
