<template>
	<div class="consultant-empty-state">
		<img
			v-lazy="image"
			v-bind="$attrs"
			alt="Consultant empty state"
			title="Consultant empty state"
		/>
		<div class="el-center flex-col">
			<h3>{{ title }}</h3>
			<p>{{ subtitle }}</p>
		</div>
		<div v-if="hasSlotButton" class="action-button">
			<slot name="button"></slot>
		</div>
	</div>
</template>
<script>
export default {
	name: 'ConsultantEmptyState',

	inheritAttrs: true,

	props: {
		title: {
			type: String,
			default: ''
		},
		subtitle: {
			type: String,
			default: ''
		},
		image: {
			type: String,
			default: '/general/img/pictures/consultant/consultant_empty_state.png'
		}
	},

	computed: {
		hasSlotButton() {
			return !!this.$slots.button;
		}
	}
};
</script>
<style lang="scss" scoped>
.consultant-empty-state {
	position: absolute;
	top: 50vh;
	left: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
	> div > * {
		text-align: center;
	}

	.action-button {
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
}

/* stylelint-disable */
.list-empty-state {
	position: relative;
	top: 0;
	width: 328px;
	padding: 30px 0;
	transform: translateY(0);

	img {
		width: 224px;
		height: auto;
	}

	.action-button {
		margin-top: 16px;
		width: 100%;
	}

	.el-center {
		margin-top: 31px;

		h3,
		p {
			margin: 0;
			padding: 0;
			font-size: 14px;
			line-height: 21px;
			font-style: normal;
			color: #000;
			font-weight: bold;
			text-align: center;
		}
		p {
			font-weight: normal;
		}
	}
}

.flashsale-theme {
	position: relative;
	top: auto;
	left: auto;
	display: flex;
	transform: none;
	align-items: center;

	.img {
		width: 335px;
		height: auto;
	}

	.el-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			margin: 45px 0 16px;
			font-size: 24px;
			font-weight: bold;
			line-height: 32px;
			color: #303030;
			text-align: center;

			@media (max-width: 767px) {
				width: 330px;
				font-size: 20px;
				line-height: 32px;
			}
		}

		p {
			margin: 0;
			font-size: 20px;
			font-weight: normal;
			line-height: 32px;
			color: #303030;
			text-align: center;

			@media (max-width: 767px) {
				width: 340px;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.action-button {
		margin-top: 32px;
	}
}
</style>
