<template>
	<div id="favShareWidget" class="fav-share-container" :style="customStyle">
		<div
			:class="[
				'default-widget-container',
				{
					'default-widget-margin': needShare,
					'no-background': !background
				}
			]"
			@click.stop="$emit('toggleLove')"
		>
			<img
				v-if="isLove"
				:style="size ? `width: ${size}%` : ''"
				src="/general/img/icons/ic_love_red_new.svg"
				alt="favorit icon red"
			/>
			<img
				v-else-if="!isLove && !fill"
				:style="size ? `width: ${size}%` : ''"
				src="/general/img/icons/ic_love_o_white.svg"
				alt="favorit icon outline black"
			/>
			<img
				v-else
				:style="size ? `width: ${size}%` : ''"
				src="/general/img/icons/ic_love_o_grey.svg"
				alt="favorit icon fill grey"
			/>
		</div>
		<div
			v-if="isNativeShare && needShare"
			class="default-widget-container"
			@click="$emit('shareThisPage')"
		>
			<img
				src="/general/img/icons/ic_share_o_black.svg"
				alt="icon share black native"
			/>
		</div>
		<dropdown v-else-if="!isNativeShare && needShare">
			<img
				slot="button"
				src="/general/img/icons/ic_share_o_black.svg"
				alt="icon share black"
				title="icon share black"
			/>
			<ul slot="dropdown-menu" class="dropdown-menu dropdown-share">
				<social-sharing
					:url="urlShare"
					inline-template
					@open="network => $emit('handleShareMoEngage', network)"
				>
					<div>
						<network network="facebook">
							<img
								src="/general/img/icons/ic_facebook_edge.svg"
								class="social-icon"
							/>
						</network>

						<network network="twitter">
							<img
								src="/general/img/icons/ic_twitter.svg"
								class="social-icon"
							/>
						</network>

						<network network="linkedin">
							<img
								src="/general/img/icons/ic_linkedin.svg"
								class="social-icon"
							/>
						</network>

						<network network="whatsapp">
							<img
								src="/general/img/icons/ic_whatsapp.svg"
								class="social-icon"
							/>
						</network>
					</div>
				</social-sharing>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
import SocialSharing from 'vue-social-sharing';

export default {
	components: {
		dropdown,
		SocialSharing
	},
	props: {
		isNativeShare: {
			type: Boolean,
			default: false
		},
		needShare: {
			type: Boolean,
			required: false,
			default: true
		},
		customStyle: {
			type: String,
			default: ''
		},
		background: {
			type: Boolean,
			default: true
		},
		size: {
			type: Number,
			default: 100
		},
		fill: {
			type: Boolean,
			default: false
		},
		isSupportNativeShare: {
			type: Boolean,
			default: false
		},
		isLove: {
			type: Boolean,
			default: false
		},
		urlShare: {
			type: String,
			default: `https://${window.location.host}${window.location.pathname}`
		}
	}
};
</script>

<style lang="scss">
.fav-share-widget-custom-toast-success {
	left: calc(50% - 77.5px);
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 155px !important;
	min-width: 0;
	margin-bottom: 7%;
	border-radius: 2px !important;

	@media (max-width: 600px) {
		left: calc((100vw - 155px) / 2);
	}
}

.fav-share-widget-custom-toast-fail {
	left: calc(50% - 77.5px);
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 200px !important;
	min-width: 0;
	margin-bottom: 7%;
	border-radius: 2px !important;

	@media (max-width: 600px) {
		left: calc((100vw - 200px) / 2);
	}
}

#favShareWidget {
	.open {
		.dropdown-toggle {
			box-shadow: none;
		}
	}

	.btn-group ul {
		left: -115px;
		width: 100px;
		padding: 5px 8px;
		margin-top: 10px;
		white-space: nowrap;

		div {
			display: flex;

			height: 30px;

			span {
				display: flex;
				flex: none;
				width: 35px;
				height: 30px;
				align-items: center;
				justify-content: center;

				img {
					height: 30px;
					margin: 0;
				}
			}
		}
	}

	.dropdown-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 6px;
		background-color: #fff;
		border: 0;
		border-radius: 16px;
		box-shadow: none;

		span {
			display: none;
		}

		&:active {
			box-shadow: none;
		}
	}
}
</style>

<style lang="scss" scoped>
.fav-share-container {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 2;
	//temporary
	display: none;

	.default-widget-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 6px;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 16px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.08);

		img {
			position: relative;
			width: 100%;
			height: auto;
			border-radius: 0;

			&:hover {
				cursor: pointer;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}

	.default-widget-margin {
		margin-right: 10px;
	}
	.no-background {
		width: 100%;
		height: 100%;
		padding: 0;
		background: none;
		border-radius: 0;
		box-shadow: none;
	}
}
</style>
