<template>
	<div class="filter-sort">
		<label
			v-if="label"
			for="filterSort"
			class="filter-sort__title text-ellipsis"
			title="Urutkan"
		>
			Urutkan
		</label>
		<select
			id="filterSort"
			class="form-control"
			:disabled="disabled"
			v-model="sorting"
		>
			<option
				v-for="(filterSortVal, filterSortKey) in filterSorts"
				:key="filterSortKey"
				:value="filterSortKey.split(',')"
				>{{ filterSortVal }}</option
			>
		</select>
	</div>
</template>

<script>
import { filterSorts } from 'Js/@utils/kostFilter';

export default {
	props: {
		sortVal: {
			type: Array,
			required: true,
			default: ['price', '-']
		},
		label: {
			type: Boolean,
			default: true
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			sorting: this.sortVal,
			filterSorts: filterSorts
		};
	},

	watch: {
		sorting(val) {
			this.$emit('setFilter', val);
		}
	}
};
</script>

<style scoped>
.filter-sort__title {
	margin-bottom: 10px;
}
</style>
