<template>
	<div class="mobile-filter hidden-md hidden-lg">
		<button class="btn-mobile-filter" :disabled="isLoading" @click="toggleShow">
			<strong>FILTER & URUTKAN</strong>
		</button>

		<div v-if="showModal" class="overlay-filter-container">
			<div class="overlay-container">
				<button
					class="btn-close-overlay"
					title="Batal mengubah filter"
					@click="toggleShow"
				>
					<span>&times;</span>
				</button>
				<label class="filter-header">Filter Pencarian</label>
				<div class="form-wrapper">
					<div class="form-wrapper-label-container">
						<label class="form-wrapper-label">Tipe Kost</label>
						<div v-for="bullet in 3" :key="bullet" class="bullet-style"></div>
					</div>
					<filter-kost-type
						:label="false"
						:gender-val="filterTemp.gender"
						@setFilter="setFilterType"
					></filter-kost-type>
				</div>
				<div class="form-wrapper">
					<div class="form-wrapper-label-container">
						<label class="form-wrapper-label">Urutkan</label>
					</div>
					<filter-kost-sort
						:label="false"
						:sort-val="sortingTemp"
						@setFilter="setFilterSort"
					></filter-kost-sort>
				</div>
				<div v-if="needTime" class="form-wrapper">
					<div class="form-wrapper-label-container">
						<label class="form-wrapper-label">Jangka Waktu</label>
					</div>
					<filter-time
						:label="false"
						:duration-val="filterTemp.rent_type"
						@setFilter="setFilterTime"
					></filter-time>
				</div>
				<div class="form-wrapper">
					<div class="form-wrapper-label-container">
						<label class="form-wrapper-label">Rentang Harga</label>
					</div>
					<filter-price
						:label="false"
						property-type="kost"
						:display-button="false"
						:rent-type="filterTemp.rent_type"
						:no-reset="true"
						:first-value="filterTemp.price_range"
						@filterPriceMin="changePriceMin"
						@filterPriceMax="changePriceMax"
					/>
				</div>
				<div class="form-wrapper">
					<slot name="others"></slot>
				</div>
			</div>
			<button class="btn-set-filter" @click="setAllFilter">
				<strong>SET FILTER</strong>
			</button>
		</div>
	</div>
</template>

<script>
import FilterKostType from 'Js/@components/FilterKostType';
import FilterKostSort from 'Js/@components/FilterKostSort';
import FilterTime from 'Js/@components/FilterTime';
import FilterPrice from 'Js/@components/FilterPrice';

export default {
	components: {
		FilterKostType,
		FilterTime,
		FilterPrice,
		FilterKostSort
	},
	props: {
		needTime: {
			type: Boolean,
			default: true
		},
		location: {
			type: Array,
			default() {
				return [];
			}
		},
		filter: {
			type: Object,
			default() {
				return {};
			}
		},
		isLoading: {
			type: Boolean,
			default: false
		},
		sorting: {
			type: Array,
			default() {
				return [];
			}
		},
		selectedLocation: {
			type: [Number, String],
			default: 0
		}
	},
	data() {
		return {
			showModal: false,
			filterTemp: {},
			sortingTemp: []
		};
	},
	watch: {
		filter: {
			handler(val) {
				this.filterTemp = val;
			},
			deep: true
		}
	},
	created() {
		this.filterTemp = this.filter;
		this.sortingTemp = this.sorting;
	},
	methods: {
		toggleShow() {
			this.showModal = !this.showModal;
			if (this.showModal) {
				document.body.style.overflow = 'hidden';
				tracker('ga', [
					'send',
					{
						hitType: 'event',
						eventCategory: 'New Search Page',
						eventAction: 'open',
						eventLabel: 'Open Footer Filter in Mobile'
					}
				]);
			} else {
				document.body.style.overflow = 'auto';
			}
		},
		setFilterType(payload) {
			this.filterTemp.gender = payload;
		},
		setFilterSort(payload) {
			this.sortingTemp = payload;
		},
		setFilterTime(payload) {
			this.filterTemp.rent_type = payload;
		},
		changePriceMin(payload) {
			this.filterTemp.price_range[0] = parseInt(payload);
		},
		changePriceMax(payload) {
			this.filterTemp.price_range[1] = parseInt(payload);
		},
		setAllFilter() {
			const payload = {
				selectedLocationPayload: this.selectedLocation,
				filterPayload: this.filterTemp,
				sortingPayload: this.sortingTemp
			};
			this.toggleShow();
			this.$emit('mobileFilterHandler', payload);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.mobile-filter {
	.btn:disabled {
		background-color: #1ec061 !important;
		opacity: 1;
		border: 0;
	}

	.overlay-filter-container {
		position: fixed;
		top: 0;
		z-index: 1032;
		left: 0;
		right: 0;
		bottom: 0;

		.overlay-container {
			height: calc(100% - 47px);
			padding: 40px 45px;
			background: #fff;
			overflow-y: scroll;
		}
	}

	.form-wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: auto;
		padding-left: 0px;

		.filter-title {
			font-size: 16px;
		}

		.filter-checkbox-container > .checkbox-container {
			margin-top: 12px;

			.checkbox-label {
				font-size: 16px;

				.custom-checkbox {
					margin-right: 8px;
				}
			}
		}

		.form-wrapper-label-container {
			display: flex;
			align-items: center;
			margin-bottom: 8px;

			.form-wrapper-label {
				font-size: 16px;
				font-weight: bold;
				line-height: 17px;
				color: #303030;
				white-space: nowrap;
			}
		}

		&:not(:first-child) {
			margin-top: 20px;
		}

		.form-custom {
			width: 100%;
			height: 45px;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

			.dropdown-toggle {
				display: flex;
				align-items: center;
				height: 100%;
				border: 1px solid #ccc;

				&:focus,
				&:active {
					border-color: #1baa56 !important;
				}

				.btn-content {
					display: flex;
					flex: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.filter-type,
		.filter-time,
		.filter-sort {
			label {
				height: 16px;
			}

			select {
				font-size: 16px;
				height: 45px;
			}
		}

		.container-field-price,
		.container-field-price > form,
		.container-field-price > form > .field-price,
		.container-field-price > form > .field-price {
			height: auto;

			input {
				font-size: 16px;
				height: 45px;
			}

			.form-control {
				font-size: 16px;
				height: 45px;
			}
		}
	}
}
/* stylelint-enable */
</style>
<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.bullet-style {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;

	&:nth-of-type(1) {
		margin-left: 12px;
		background: #c9389b;
	}

	&:nth-of-type(2) {
		margin-left: 4px;
		background: #0074db;
	}

	&:nth-of-type(3) {
		margin-left: 4px;
		background: #9259cd;
	}
}
.btn-mobile-filter {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 47px;
	padding: 12px 0;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background-color: #1baa56;
	border: 0;
	border-color: #18944b;
	border-radius: 0;
	outline: none;

	&:hover {
		background-color: #18944b;
	}

	:disabled {
		color: #666 !important;
		background-color: #ccc !important;
	}
}
.btn-set-filter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 47px;
	padding: 12px 0;
	font-size: 18px;
	color: #fff;
	background-color: #ec4a0c;
	border: 0;
	border-radius: 0;
	outline: none;
}
.btn-close-overlay {
	float: right;
	margin-top: -30px;
	margin-right: -30px;
	line-height: 1;
	color: inherit;
	text-align: center;
	text-decoration: none;
	background: none;
	border: 0;

	@media (max-width: 767px) {
		font-size: 40px;

		&::after {
			font-size: 14px;
			content: 'tutup';
		}
	}
	@media (min-width: 768px) {
		font-size: 45px;

		&::after {
			font-size: 16px;
			content: 'esc';
		}
	}

	/* stylelint-disable */
	span {
		line-height: 30px;
	}
	/* stylelint-enable */

	&:hover {
		color: #000;
		text-decoration: none;
	}

	&::after {
		display: block;
		font-weight: normal;
		text-align: center;
	}
}
.filter-header {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;

	&::after {
		display: block;
		width: 120px;
		height: 50%;
		margin-top: 10px;
		content: '';
		border-bottom: 2px solid #1baa56;
	}
}
</style>
