<template>
	<div class="filter-tenant-capacity">
		<label
			for="filterTenantCapacity"
			class="filter-tenant__title text-ellipsis"
			title="Kapasitas"
			>Kapasitas</label
		>
		<select
			id="filterTenantCapacity"
			class="form-control"
			v-model="capacityVal"
		>
			<option :value="null">Semua</option>
			<option v-for="n in capacityTotal" :value="n">{{ n }} Orang</option>
		</select>
	</div>
</template>

<script>
export default {
	props: {
		tenantCapacity: {
			type: Number,
			default: 0
		},
		capacityTotal: {
			type: Number,
			default: 10
		}
	},

	data() {
		return {
			capacityVal: this.tenantCapacity
		};
	},

	watch: {
		capacityVal(val) {
			this.$emit('setFilter', val);
		}
	}
};
</script>

<style scoped>
.filter-tenant__title {
	margin-bottom: 10px;
}
</style>
