<template>
	<div ref="filterCanBooking" class="component-wrapper">
		<popper-widget
			block-interaction-on-show
			:show-from-props="isShow"
			:offset="10"
			type="ftue"
		>
			<div
				slot="content"
				class="popper-content-container"
				:style="`left: ${popperOffset}px`"
			>
				<div class="popper-content">
					<span class="triangle" :style="`left: ${popperTriangleOffset}px`" />
					<h2 class="popper-title" data-path="lbl_popperTitle">
						Booking Langsung
					</h2>
					<div
						v-for="(content, index) in popperContent"
						:key="index"
						class="popper-information"
					>
						<img src="/general/img/icons/ic_checkmark_s_black.svg" />
						<p class="popper-text" :data-path="`lbl_popperContent${index}`">
							{{ content }}
						</p>
					</div>
					<div class="popper-action">
						<a
							href="https://help.mamikos.com/"
							target="_blank"
							rel="noopener"
							class="link"
							data-path="txt_pelajari"
							@click="hidePopper"
							>Pelajari lebih lanjut
						</a>
						<button
							class="btn-popper"
							data-path="btn_popperAction"
							@click="hidePopper"
						>
							Saya mengerti
						</button>
					</div>
				</div>
			</div>
			<div class="popper-reference-container">
				<button
					type="button"
					:class="[
						'btn btn-can-booking track-booking-filter',
						{
							'--active': isBooking,
							'--rounded': theme === 'rounded',
							'--rounded-active': theme === 'rounded' && isBooking,
							'ftue-pointer': isShow
						}
					]"
					data-path="btn_toggleBooking"
					@click="toggleBooking"
				>
					<img
						v-if="needIcon"
						:src="
							isBooking
								? '/general/img/icons/ic_check_white.svg'
								: '/general/img/icons/ic_check_green.svg'
						"
						:alt="isBooking ? 'ic_check_white' : 'ic_check_green'"
						data-path="img_checkBooking"
						class="track-booking-filter"
					/>
					<span data-path="lbl_bookingLangsung">Booking Langsung</span>
				</button>
				<span
					v-if="needLabel"
					class="can-booking-mark track-booking-filter"
					data-path="lbl_baru"
					>Baru</span
				>
			</div>
		</popper-widget>
	</div>
</template>

<script>
import * as storage from 'Js/@utils/storage';
import PopperWidget from 'Js/@components/PopperWidget';

export default {
	components: {
		PopperWidget
	},
	props: {
		isBooking: {
			type: Boolean,
			default: false
		},
		theme: {
			type: String,
			default: ''
		},
		needIcon: {
			type: Boolean,
			default: true
		},
		needLabel: {
			type: Boolean,
			default: true
		},
		showFromProps: {
			type: Boolean,
			default: false
		},
		showStatus: {
			type: Boolean,
			default: false
		},
		needCallback: {
			type: Boolean,
			default: false
		},
		popperOffset: {
			type: Number,
			default: 0
		},
		popperTriangleOffset: {
			type: Number,
			default: 20
		}
	},
	data() {
		return {
			isShow: false,
			popperContent: [
				'Mudah cari kostnya',
				'Mudah bookingnya',
				'Mudah bayarnya'
			]
		};
	},
	watch: {
		showStatus: {
			handler(val) {
				if (this.showFromProps && val) this.showPopper();
			}
		}
	},
	created() {
		if (!this.showFromProps) this.checkShowCondition();
	},
	methods: {
		hidePopper() {
			storage.local.setItem('can-booking-hl', 1);
			this.isShow = false;

			if (this.needCallback) {
				this.$emit('callback');
			}
		},
		toggleBooking() {
			if (this.isShow) {
				this.hidePopper();
			}
			this.$emit('toggle-booking');
		},
		checkShowCondition() {
			const isViewed = storage.local.getItem('can-booking-hl');
			if (isViewed !== '1') {
				this.showPopper();
			}
		},
		showPopper() {
			window.scrollTo(0, 0);
			this.isShow = true;
		}
	}
};
</script>

<style lang="scss" scoped>
.component-wrapper {
	display: flex;
	align-items: center;
}

.btn-can-booking {
	margin-right: 5px;
	color: #1baa56;
	background-color: #fff;
	border: 1px solid #1baa56;

	&.--active {
		color: #fff;
		background-color: #1baa56;
	}

	@media (max-width: 375px) {
		margin-right: 3px;
		font-size: 12px;
	}
}

.ftue-pointer {
	pointer-events: auto;
}

.can-booking-mark {
	display: flex;
	height: 50%;
	padding: 1px 4px;
	margin-left: 5px;
	font-size: 10px;
	align-items: center;
	justify-content: flex-start;
	font-weight: bold;
	color: #e04205;
	background-color: #f9d9cd;
	border-radius: 4px;

	@media (max-width: 375px) {
		font-size: 8px;
	}
}

.popper-content-container {
	position: absolute;
	top: 65px;
	left: 0;
	z-index: 1031;
	display: flex;
	flex-direction: column;
	border-radius: 12px;

	.popper-content {
		width: 328px;
		padding: 20px;
		color: #484848;
		background: #fff;
		border-radius: 8px;

		.popper-title {
			margin: 0 0 20px;
			font-size: 18px;
			font-weight: bold;
			line-height: 22px;
		}

		.triangle {
			position: absolute;
			top: -15px;
			left: 20px;
			width: 0;
			height: 0;
			content: '';
			border-right: 12px solid transparent;
			border-bottom: 16px solid #fff;
			border-left: 12px solid transparent;
		}
	}
}

.popper-information {
	display: flex;
	align-items: center;

	.popper-text {
		margin: 0 0 0 8px;
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
	}

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}
}

.popper-action {
	display: flex;
	margin-top: 24px;
	justify-content: space-between;
	align-items: center;

	.link {
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
		color: #1baa56;
	}

	.btn-popper {
		display: block;
		padding: 10px 22px;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
		cursor: pointer;
		background: #1baa56;
		border: 0;
		border-radius: 4px;
		outline: 0;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
}

.--rounded {
	display: block;
	height: 32px;
	padding: 0 16px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	color: #757575;
	background: #fff;
	border: 1px solid #dadada;
	border-radius: 100px;
	outline: none;
	box-shadow: none;
}

.--rounded-active {
	color: #fff;
	background: #1baa56;
	border: 1px solid #1baa56;
	border: 0;
}

.popper-reference-container {
	display: flex;
	align-items: center;
}
</style>
