<template>
	<nav class="navbar navbar-fixed-bottom navbar-filter-bottom">
		<button class="btn btn-mamigreen btn-filter" @click="openFilterMobile">
			FILTER & URUTKAN
		</button>
	</nav>
</template>

<script>
export default {
	methods: {
		openFilterMobile() {
			this.$emit('open');
		}
	}
};
</script>

<style scoped>
.navbar-filter-bottom {
	height: 48px;
}
.btn-filter {
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-weight: 700;
	border-radius: 0;
}
</style>
