<template>
	<div class="filter-type">
		<label
			v-if="label"
			for="filterType"
			class="filter-type__title text-ellipsis"
			title="Tipe Kost"
		>
			Tipe Kost &nbsp;
			<i
				v-for="genderId in gender"
				:key="genderId"
				class="fa fa-circle"
				:class="getGenderIconClassName(genderId)"
			></i>
		</label>
		<select
			id="filterType"
			:disabled="disabled"
			class="form-control"
			v-model="gender"
		>
			<option
				v-for="optionOrder in optionOrders"
				:key="optionOrder"
				:value="optionOrder.split(',')"
			>
				{{ genderTypes[optionOrder] }}
			</option>
		</select>
	</div>
</template>

<script>
import { genderTypes } from 'Js/@utils/kostFilter';

export default {
	props: {
		genderVal: {
			type: Array,
			default() {
				return [];
			}
		},
		label: {
			type: Boolean,
			default: true
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			gender: this.genderVal,
			genderTypes: genderTypes,
			optionOrders: ['0,1,2', '2', '1', '0,2', '0,1']
		};
	},

	watch: {
		gender(val) {
			this.$emit('setFilter', val);
		}
	},

	methods: {
		getGenderIconClassName(genderId) {
			if (genderId === 0) {
				return '--is-mix';
			} else if (genderId === 1) {
				return '--is-male';
			}

			return '--is-female';
		}
	}
};
</script>

<style scoped>
.filter-type__title {
	margin-bottom: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.filter-type__title .--is-female {
	color: #f26389;
	font-size: 10px;
	padding: 0 2px;
}
.filter-type__title .--is-male {
	color: #3498db;
	font-size: 10px;
	padding: 0 2px;
}
.filter-type__title .--is-mix {
	color: #9b59b6;
	font-size: 10px;
	padding: 0 2px;
}
</style>
