<template>
	<div class="container-field-price">
		<label v-if="label" title="Rentang Harga"><h3>Rentang Harga</h3></label>
		<form autocomplete="off" @submit.prevent="setPrice">
			<div class="field-price">
				<vue-numeric
					id="filterPriceMin"
					v-model="price.min"
					class="form-control"
					:currency="'Rp'"
					:separator="'.'"
					:min="0"
					:max="price.max"
					:disabled="isDisabled"
					data-testid="filterPriceMin"
				/>
				<span class="field-price__separator"></span>
				<vue-numeric
					id="filterPriceMax"
					v-model="price.max"
					class="form-control"
					:currency="'Rp'"
					:separator="'.'"
					:min="price.min"
					:max="priceMax"
					:disabled="isDisabled"
					data-testid="filterPriceMax"
				/>
				<button
					type="submit"
					class="btn btn-mamigreen btn-primary btn-price"
					:class="{ 'display-button-false': !displayButton }"
					:disabled="isDisabled"
				>
					Set
				</button>
			</div>
		</form>
	</div>
</template>

<script>
import VueNumeric from 'vue-numeric';

export default {
	components: {
		VueNumeric
	},

	props: {
		propertyType: {
			type: String,
			default: 'kost',
			validator(value) {
				return ['kost', 'apartment', 'house'].includes(value);
			}
		},
		noReset: {
			type: Boolean,
			default: false
		},
		firstValue: {
			type: Array,
			default() {
				return [0, 15000000];
			}
		},
		rentType: {
			type: Number,
			default: 0
		},
		displayButton: {
			type: Boolean,
			default: true
		},
		isDisabled: {
			type: Boolean,
			default: false,
			required: false
		},
		isLandingKost: {
			type: Boolean,
			default: false
		},
		label: {
			type: Boolean,
			default: true
		}
	},

	data() {
		return {
			price: {
				min: 0,
				max: 10000
			},
			priceMin: 0,
			priceMax: 100000000
		};
	},

	computed: {
		priceLandingMin /* istanbul ignore next */: function() {
			try {
				return this.$store.state.landing.filters.price_range[0];
			} catch (e) {
				return 0;
			}
		},

		priceLandingMax /* istanbul ignore next */: function() {
			try {
				return this.$store.state.landing.filters.price_range[1];
			} catch (e) {
				return 100000000;
			}
		}
	},

	watch: {
		rentType(val) {
			this.setInitialPrice(this.propertyType, val);
		},
		'price.min'(val) {
			this.$emit('filterPriceMin', val);
		},
		'price.max'(val) {
			this.$emit('filterPriceMax', val);
		},
		priceMax() {
			this.assignMaxValue();
		},
		priceMin() {
			this.assignMinValue();
		}
	},

	created() {
		if (this.noReset) {
			this.priceMin = this.firstValue[0];
			this.priceMax = this.firstValue[1];
		} else {
			this.checkLandingKost();
		}
	},

	methods: {
		setPrice() {
			document.getElementById('filterPriceMin').blur();
			document.getElementById('filterPriceMax').blur();
			if (this.price.min === 0) {
				this.price.min = 10000;
			}
			if (this.price.max === 0) {
				this.price.max = 100000000;
			}
			this.$emit('filterPrice', this.price);
		},
		assignMaxValue() {
			this.price.max = this.priceMax;
		},
		assignMinValue() {
			this.price.min = this.priceMin;
		},
		setInitialPrice(type, item) {
			if (type === 'kost') {
				if (item === 0) {
					this.priceMax = 5000000;
				} else if (item === 1) {
					this.priceMax = 10000000;
				} else if (item === 2) {
					this.priceMax = 15000000;
				} else if (item === 3) {
					this.priceMax = 50000000;
				}
			} else if (type === 'apartment') {
				if (item === 0) {
					this.priceMax = 10000000;
				} else if (item === 1) {
					this.priceMax = 25000000;
				} else if (item === 2) {
					this.priceMax = 50000000;
				} else if (item === 3) {
					this.priceMax = 500000000;
				}
			} else if (type === 'house') {
				this.priceMax = 50000000000;
			}

			this.assignMinValue();
			this.assignMaxValue();
		},
		checkLandingKost() {
			/* istanbul ignore if */
			if (this.isLandingKost) {
				// This block only used by _landing/house and that page isn't managed anymore.
				if (this.priceLandingMax === 100000000) {
					this.setInitialPrice(this.propertyType, this.rentType);
				} else {
					this.priceMin = this.priceLandingMin;
					this.priceMax = this.priceLandingMax;

					this.assignMinValue();
					this.assignMaxValue();
				}
			} else {
				this.setInitialPrice(this.propertyType, this.rentType);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.field-price {
	display: flex;
}
.field-price__separator {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 8px;

	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 8px;
		height: 1px;
		content: '';
		background: #555;
		transform: translate(-50%, -50%);
	}
}
.btn-price {
	margin-left: 5px;
}
.price-alert {
	margin-top: 15px;
	margin-left: -15px;
	margin-right: -15px;
}
.border-danger,
.border-danger:focus {
	border-color: #a94442 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a94442;
}
.display-button-false {
	display: none;
}
.field-price input[type='number']::-webkit-inner-spin-button,
.field-price input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.form-control {
	font-size: 14px;
	width: 42%;

	@media (max-width: 991px) {
		width: 100%;
	}
}
</style>
