<template>
	<div class="filter-connector">
		<label
			for="landingConnector"
			class="filter-connector__title text-ellipsis"
			title="Cari Kategori Lain"
			>Cari Kategori Lain</label
		>
		<select
			id="landingConnector"
			class="form-control pulsing-animation"
			v-model="landingCategory"
			@click="turnOffPulse"
		>
			<option :value="'active'">{{
				landingBreadcrumb[landingBreadcrumb.length - 1].name
			}}</option>
			<option
				:value="landingConnector[0].slug"
				v-if="typeof landingConnector[0] != 'undefined'"
				>{{ landingConnector[0].title }}</option
			>
			<option
				:value="landingConnector[1].slug"
				v-if="typeof landingConnector[1] != 'undefined'"
				>{{ landingConnector[1].title }}</option
			>
		</select>
	</div>
</template>

<script>
export default {
	props: {
		landingBreadcrumb: {
			type: Array,
			required: true
		},
		landingConnector: {
			type: Array,
			required: true
		}
	},

	data() {
		return {
			landingCategory: 'active',
			isAnimating: true
		};
	},

	watch: {
		landingCategory(val) {
			if (val !== 'active') {
				window.open(val, '_self');
			}
		}
	},

	methods: {
		turnOffPulse() {
			document
				.getElementById('landingConnector')
				.classList.remove('pulsing-animation');
		}
	}
};
</script>

<style scoped>
.filter-connector__title {
	margin-bottom: 10px;
}
.pulsing-animation {
	box-shadow: 0 0 0 rgba(39, 171, 39, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(39, 171, 39, 1);
	}
	70% {
		box-shadow: 0 0 15px 6px rgba(39, 171, 39, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(39, 171, 39, 0);
	}
}
</style>
