<template>
	<div class="filter-room-total">
		<label
			for="filterRoomTotal"
			class="filter-room-total__title text-ellipsis"
			title="Banyak Kamar"
			>Banyak Kamar</label
		>
		<select id="filterRoomTotal" class="form-control" v-model="roomTotalVal">
			<option :value="null">Semua</option>
			<option v-for="n in optionTotal" :value="n">{{ n }} Kamar</option>
		</select>
	</div>
</template>

<script>
export default {
	props: {
		roomTotal: {
			type: Number,
			default: 0
		},
		optionTotal: {
			type: Number,
			default: 10
		}
	},

	data() {
		return {
			roomTotalVal: this.roomTotal
		};
	},

	watch: {
		roomTotalVal(val) {
			this.$emit('setFilter', val);
		}
	}
};
</script>

<style scoped>
.filter-room-total__title {
	margin-bottom: 10px;
}
</style>
