<template>
	<div class="container-fluid stretch">
		<div class="filter-radius hidden-lg hidden-xl">
			<div class="btn-group btn-radius" role="group" aria-label="radius">
				<div class="btn">Radius</div>

				<select class="btn" v-model="radius">
					<option :value="0" v-if="showNoRadius">-</option>
					<option :value="n" v-for="n in 20">{{ n }} km</option>
				</select>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		radiusVal: {
			type: Number,
			required: true,
			default: 0
		}
	},

	data() {
		return {
			radius: this.radiusVal,
			showNoRadius: true
		};
	},

	watch: {
		radius(val) {
			this.$emit('changeRadius', val);
			if (val !== 0) {
				this.showNoRadius = false;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.btn-group {
	width: 100%;
}
.btn-group.btn-radius {
	> .btn {
		cursor: default;
		color: inherit;
		background-color: #fff;
		border: 1px solid #1baa56;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		width: 50%;

		@media (max-width: 375px) {
			font-size: 12px;
		}
	}
}
</style>
