<template>
	<a
		class="btn-close-filter"
		:class="{ 'has-text': hasText }"
		title="Tutup"
		@click.prevent="hideFilter"
	>
		<span>&times;</span>
	</a>
</template>

<script>
export default {
	props: {
		hasText: {
			type: Boolean,
			default: true
		}
	},

	created() {
		window.addEventListener('keyup', this.onEsc);
	},

	methods: {
		hideFilter() {
			this.$emit('press', false);
		},
		onEsc(event) {
			if (event.keyCode === 27) {
				this.$emit('press', false);
			}
		}
	}
};
</script>

<style scoped>
.btn-close-filter {
	text-align: center;
	float: right;
	color: inherit;
	text-decoration: none;
	font-size: 40px;
	cursor: pointer;
}
.btn-close-filter:hover {
	color: #000;
}
.btn-close-filter.has-text:after {
	content: 'tutup';
	display: block;
	text-align: center;
	font-weight: normal;
	margin-top: 2px;
	font-size: 12px;
}
.btn-close-filter span {
	line-height: 30px;
}

@media (max-width: 767px) {
	.btn-close-filter {
		font-size: 40px;
		line-height: 0.9;
	}
	.btn-close-filter.has-text:after {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.btn-close-filter.has-text:after {
		content: 'esc';
		margin-top: -23px;
	}
}
</style>
