<template>
	<fragment>
		<div
			:class="[
				'nav-section',
				{ 'nav-fixed': fixed, 'nav-column': navbarMobile && homepageStyle }
			]"
			:style="containerStyle"
		>
			<div v-if="isShowTopBar" class="nav-main-topbar">
				<div ref="navTopbar" class="nav-topbar">
					<div class="nav-topbar-left">
						<a :href="downloadAppUrl" class="nav-topbar-url">
							<img
								v-lazy="`/general/img/pictures/navbar/ic_smartphone.svg`"
								alt="Icon Smartphone"
							/>
							<span class="nav-topbar-label">Download App</span>
						</a>
						<a v-if="bookingKosMenu" href="/booking" class="nav-topbar-url">
							<img
								v-lazy="`/general/img/pictures/navbar/ic_calendar.svg`"
								alt="Icon Booking Kos"
							/>
							<span class="nav-topbar-label">Booking Kos</span>
						</a>
					</div>
					<div v-if="!isLogin || isOwner" class="nav-topbar-right">
						<a href="/promosi-kost" class="nav-topbar-url">
							<img
								v-lazy="`/general/img/pictures/navbar/ic_promote.svg`"
								class="nav-topbar-icon"
								alt="Icon Promote"
							/>
							<span class="nav-topbar-label">Promosikan Iklan Anda</span>
							<div class="promote-caret">Gratis</div>
						</a>
					</div>
				</div>
			</div>
			<div
				ref="navWrapper"
				:class="[
					'nav-main-container',
					{
						'nav-only': !isShowTopBar,
						'nav-transparent': transparent && !navbarMobile,
						'--no-border': navbarMobile && homepageStyle
					}
				]"
			>
				<div ref="navMainContainer" class="nav-container">
					<!-- Navbar Left -->
					<a v-if="isShowArrow" class="nav-back" @click="backPrevPage">
						<img
							v-if="backIcon === 'arrow'"
							src="/general/img/pictures/navbar/ic_back.svg"
							alt="Icon Back"
						/>
						<img
							v-else
							src="/general/img/icons/ic_close_black.svg"
							alt="Icon Close"
						/>
					</a>
					<a
						v-if="!navbarMobile || needBrandMobile"
						ref="navBrand"
						href="/"
						:class="['nav-brand', { 'brand-short': isShowSearchBar }]"
					>
						<img
							ref="menuBrandReference"
							class="nav-brand-img"
							title="Mamikos"
							src="/assets/logo/svg/logo_mamikos_green.svg"
							alt="Mamikos Logo"
						/>
					</a>
					<!-- Navbar Center and Slider on Mobile -->
					<div v-if="isShowSearchBar" class="nav-search-bar">
						<search-bar
							class="navbar-search-theme"
							:placeholder="searchPlaceholder"
							:value="searchInputValue"
							:need-button="!navbarMobile"
							@onClickEvent="showSearchBoxModal"
						/>
					</div>
					<nav id="globalNavbar" ref="navMain" class="nav-main-navbar">
						<span
							v-if="navbarMobile"
							class="mobile-close-button"
							@click="toggleMobile"
						/>
						<ul
							ref="navUl"
							:class="[
								'nav-main-ul',
								{
									'nav-main-ul-transparent': transparent && !navbarMobile
								}
							]"
						>
							<template v-if="navbarMobile">
								<user-profile-dropdown
									v-if="isLogin"
									:profile-picture="profilPicture"
									:is-tenant="isTenant"
									:user-name="userName"
									container-style="margin: 24px 0 8px"
									type="horizontal"
								/>
								<div class="nav-main-group outline-bottom">
									<li
										v-for="(search, index) in searchNavigations"
										:key="`search-navigation-mobile-${index}`"
										class="nav-main-li"
									>
										<a :href="search.url" class="nav-main-link"
											>Cari {{ search.name }}</a
										>
									</li>
								</div>
								<div
									:class="[
										'nav-main-group outline-bottom',
										{
											'display-none': isTenant
										}
									]"
								>
									<li v-if="promotionMobileShowCondition" class="nav-main-li">
										<a href="/promosi-kost" class="nav-main-link">
											Promosikan Iklan Anda
										</a>
										<div class="promote-caret">
											Gratis
										</div>
									</li>
									<li v-if="isOwner && joinPremiumMenu" class="nav-main-li">
										<a href="/promosi-kost" class="nav-main-link">
											Gabung Premium
										</a>
									</li>
									<li v-if="isOwner && urlLoc" class="nav-main-li">
										<span class="nav-main-link" @click="handleSharePage">
											Bagikan Halaman Ini
										</span>
										<input
											id="shareUrl"
											type="hidden"
											class="share-url"
											:value="urlLoc"
											readonly
										/>
									</li>
									<template v-if="isLogin">
										<li
											v-for="(nav, index) in mainNavigationMobile"
											:key="`main-nav-mobile-${index}`"
											class="nav-main-li"
										>
											<a :href="nav.url" class="nav-main-link">{{
												nav.name
											}}</a>
										</li>
									</template>
								</div>
								<div class="nav-main-group outline-bottom">
									<li class="nav-main-li">
										<a :href="downloadAppUrl" class="nav-main-link">
											Download Aplikasi
										</a>
									</li>
									<li
										v-for="(other, index) in otherNavigations"
										:key="`other-navigation-mobile-${index}`"
										class="nav-main-li"
									>
										<a :href="other.url" class="nav-main-link">{{
											other.name
										}}</a>
									</li>
								</div>
								<li v-if="isLogin" class="nav-main-li">
									<img
										src="/general/img/pictures/navbar/ic_logout.svg"
										alt="Icon Logout"
									/>
									<a href="/auth/logout" class="nav-main-link logout">Keluar</a>
								</li>
							</template>
							<template v-else>
								<dropdown text="Cari Iklan" class="nav-search">
									<li
										v-for="(search, index) in searchNavigations"
										:key="`search-navigation-${index}`"
									>
										<img :src="search.icon" :alt="search.alt" />
										<a :href="search.url">{{ search.name }}</a>
									</li>
								</dropdown>
								<li v-if="isOwner && joinPremiumMenu" class="nav-main-li">
									<a href="/promosi-kost" class="nav-main-link">
										Gabung Premium
									</a>
								</li>
								<li
									v-for="(nav, index) in mainNavigation"
									:key="`main-nav-${index}`"
									class="nav-main-li"
									v-on="nav.clickEvent ? { click: nav.clickEvent } : {}"
								>
									<a :href="nav.url" class="nav-main-link">
										{{ nav.name }}
										<floating-label
											v-if="nav.name === 'Chat' && unreadChatCount > 0"
											:text="unreadCountLabel"
											need-outline
											:top="floatingTopPosition"
											right="-10px"
										/>
									</a>
								</li>
								<template v-if="isTenant">
									<li class="nav-main-li">
										<notif-center
											is-homepage
											:redirection-source="
												redirectionSourceNavbar || redirectionSource
											"
											:top="floatingTopPosition"
										></notif-center>
									</li>
									<dropdown text="Lainnya" class="nav-others">
										<li
											v-for="(other, index) in otherNavigations"
											:key="`other-navigation-${index}`"
										>
											<a :href="other.url">{{ other.name }}</a>
										</li>
									</dropdown>
								</template>
								<user-profile-dropdown
									v-if="isLogin"
									:profile-picture="profilPicture"
									:is-homepage="homepageStyle"
									:is-tenant="isTenant"
									@onLogout="handleLogout"
								/>
							</template>
						</ul>
						<div v-if="redirectionSource !== 'auth-pages'">
							<template v-if="navbarMobile && !isLogin">
								<button
									class="nav-login-button"
									@click="openModalLogin('owner')"
								>
									Masuk Sebagai Pemilik
								</button>
								<button
									class="nav-login-button"
									@click="openModalLogin('tenant')"
								>
									Masuk Sebagai Pencari
								</button>
							</template>
							<template v-else>
								<button
									v-if="!isLogin"
									class="nav-login-button"
									@click="openModalLogin()"
								>
									Masuk
								</button>
							</template>
						</div>
					</nav>
					<!-- Navbar Right -->
					<div v-if="navbarMobile" class="nav-main-right">
						<div v-if="isLogin && isTenant" class="nav-center-mobile">
							<div
								v-if="homepageStyle || needNotificationFeature"
								class="nav-icon-group"
							>
								<notif-center
									is-homepage
									:redirection-source="
										redirectionSourceNavbar || redirectionSource
									"
									right="-5px"
									theme="outline"
								></notif-center>
							</div>
							<a
								v-if="needChatFeature"
								class="nav-icon-group"
								@click="handleOpenChat"
							>
								<img
									src="/general/img/pictures/navbar/ic_chat.svg"
									alt="Icon Chat Mobile"
								/>
								<floating-label
									v-if="unreadChatCount > 0"
									:text="unreadCountLabel"
									top="0"
									right="-7px"
									need-outline
								/>
							</a>
							<a
								v-if="needFavouriteFeature"
								:href="mainNavigationTenant[0].url"
								class="nav-icon-group"
							>
								<img
									src="/general/img/pictures/navbar/ic_wishlist.svg"
									alt="Icon Wishlist"
								/>
							</a>
						</div>
						<div
							v-if="!hideMobileHamburger"
							class="hamburger-container"
							@click="toggleMobile"
						>
							<span class="hamburger-menu" />
						</div>
					</div>
					<span class="overlay-background" @click="toggleMobile" />
				</div>
			</div>
			<keep-alive>
				<search-box-modal
					v-if="needSearchBox || homepageStyle"
					:is-shown="searchBoxModalShown || openModalWithProps"
					:redirection-source="redirectionSource"
					:criteria-keyword="criteria.keywords"
					:criteria-gender="criteria.gender"
					:criteria-rent-type="criteria.rentType"
					:criteria-price-range="criteria.Price"
					@hide-modal="hideSearchBoxModal"
				>
				</search-box-modal>
			</keep-alive>
		</div>
		<div
			v-if="!overlay"
			:class="[
				'main-content-space',
				{
					'--login-space': isLogin && !homepageStyle
				}
			]"
		/>
		<modal-form-login
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="closeModalLogin"
		></modal-form-login>
		<div v-if="bottomNavShowCondition" ref="navBottom" class="nav-footer">
			<div
				v-for="(nav, navSequence) in bottomNavigations"
				:key="`nav-bottom-${navSequence}`"
				:class="['nav-footer-menu', { '--active': nav.isActive }]"
				@click="handleNavigationBottom(nav.name)"
			>
				<div class="footer-menu-top">
					<component :is="nav.component"></component>
					<floating-label
						v-if="unreadChatCount > 0 && nav.name === 'Chat'"
						:text="unreadCountLabel"
						need-outline
						top="-5px"
						right="-8px"
					/>
				</div>
				<div class="footer-menu-bottom">
					{{ nav.name }}
				</div>
			</div>
		</div>
	</fragment>
</template>

<script>
import _get from 'lodash/get';
import { dropdown } from 'vue-strap';
import Fragment from 'vue-fragment';
import id from 'vee-validate/dist/locale/id';
import VeeValidate, { Validator } from 'vee-validate';

import UserProfileDropdown from 'Js/@components/UserProfilDropdown';
import FloatingLabel from 'Js/@components/FloatingLabel';
import NotifCenter from 'Js/@components/NotifCenter';
import SearchBar from 'Js/@components/ProductSearchInput';

import IconChat from 'Js/@icons/CallOut';
import IconSearch from 'Js/@icons/SearchExplore';
import IconFav from 'Js/@icons/WishList';

/* istanbul ignore next */
const ModalFormLogin = () =>
	import(
		/* webpackChunkName: "detail_ModalFormLogin" */ 'Js/_login/components/ModalFormLogin'
	);
/* istanbul ignore next */
const SearchBoxModal = () => import('Js/@components/SearchBoxModal');

/* eslint-disable-next-line */
window.validator = new Validator();
Validator.localize('id', id);

Vue.use(Fragment.Plugin);
Vue.use(VeeValidate, {
	locale: 'id'
});

export default {
	components: {
		dropdown,
		ModalFormLogin,
		UserProfileDropdown,
		FloatingLabel,
		NotifCenter,
		SearchBar,
		SearchBoxModal,
		IconChat,
		IconSearch,
		IconFav
	},
	props: {
		redirectionSourceNavbar: {
			type: String,
			default: ''
		},
		overlay: {
			type: Boolean,
			default: false
		},
		transparent: {
			type: Boolean,
			default: false
		},
		containerStyle: {
			type: String,
			default: ''
		},
		transparentUntil: {
			type: Number,
			default: 0
		},
		redirectionSource: {
			type: String,
			default: ''
		},
		joinPremiumMenu: {
			type: Boolean,
			default: false
		},
		openModalWithProps: {
			type: Boolean,
			default: false
		},
		criteria: {
			type: Object,
			default() {
				return {
					keywords: '',
					gender: 'all',
					rentType: 'bulanan',
					price: [0, 15000000]
				};
			}
		},
		homepageStyle: {
			type: Boolean,
			default: false
		},
		needNotificationFeature: {
			type: Boolean,
			default: false
		},
		needBrandMobile: {
			type: Boolean,
			default: false
		},
		needBackArrow: {
			type: Boolean,
			default: false
		},
		needBottomNavigation: {
			type: Boolean,
			default: false
		},
		// props only applied on mobile screen
		needChatFeature: {
			type: Boolean,
			default: true
		},
		// props only applied on mobile screen
		needFavouriteFeature: {
			type: Boolean,
			default: true
		},
		bookingKosMenu: {
			type: Boolean,
			default: true
		},
		maxWidth: {
			type: Number,
			default: 0
		},
		searchNavigations: {
			type: Array,
			default() {
				return [
					{
						icon: '/general/img/pictures/navbar/ic_kost.svg',
						alt: 'Icon Kost',
						name: 'Kos',
						url: '/cari'
					},
					{
						icon: '/general/img/pictures/navbar/ic_apartment.svg',
						alt: 'Icon Apartment',
						name: 'Apartemen',
						url: '/apartemen'
					},
					{
						icon: '/general/img/pictures/navbar/ic_job.svg',
						alt: 'Icon Lowongan Kerja',
						name: 'Lowongan Kerja',
						url: '/loker'
					}
				];
			}
		},
		fixed: {
			type: Boolean,
			default: false
		},
		needSearchBox: {
			type: Boolean,
			default: false
		},
		historyPoint: {
			type: Number,
			default: -1
		},
		customBackAction: {
			type: Boolean,
			default: false
		},
		forceShowArrow: {
			type: Boolean,
			default: false
		},
		hideMobileHamburger: {
			type: Boolean,
			default: false
		},
		backIcon: {
			type: String,
			default: 'arrow'
		}
	},
	data() {
		return {
			downloadAppUrl:
				'/app?utm_campaign=DownloadAppNavmenu&utm_source=DownloadAppNavmenu&utm_medium=DownloadAppNavmenu&utm_term=DownloadAppNavmenu',
			mainNavigationOwner: [
				{
					name: 'Pusat Bantuan',
					url: 'https://help.mamikos.com/booking'
				}
			],
			mainNavigationGuest: [
				{
					name: 'Pusat Bantuan',
					url: 'https://help.mamikos.com/booking'
				},
				{
					name: 'Syarat dan Ketentuan',
					url: 'https://help.mamikos.com/syarat-dan-ketentuan'
				}
			],
			mainNavigationTenant: [
				{
					name: 'Favorit',
					url: '/history/favourite'
				},
				{
					name: 'Chat',
					url: 'javascript:void(0)',
					clickEvent: () => this.handleOpenChat()
				}
			],
			isModalLoginVisible: false,
			searchBoxModalShown: false,
			unreadChatCount: 0,
			modalLoginState: 'default',
			ownerDashboardUrl: oxWebUrl,
			navbarMobile: false,
			lastScrollPosition: 0,
			lastShowPosition: 0,
			topPosition: 0
		};
	},
	computed: {
		urlLoc() {
			const urlPathname = window.location.pathname;
			if (!urlPathname.includes('ownerpage') && !urlPathname.includes('user')) {
				return window.location.href;
			} else {
				return null;
			}
		},
		bottomNavShowCondition() {
			return (
				this.needBottomNavigation &&
				this.navbarMobile &&
				!this.isOwner &&
				(!this.isLogin || this.isTenant)
			);
		},
		isShowSearchBar() {
			return this.navbarMobile
				? this.isShowMobileSearchBar
				: this.needSearchBox;
		},
		isShowMobileSearchBar() {
			return this.navbarMobile && !this.needBrandMobile && this.needSearchBox;
		},
		promotionMobileShowCondition() {
			return !this.isLogin || (this.isOwner && this.homepageStyle);
		},
		isShowArrow() {
			return (
				this.navbarMobile &&
				(this.forceShowArrow || (!this.homepageStyle && this.needBackArrow))
			);
		},
		searchInputValue() {
			return this.criteria.keywords === '' ||
				this.criteria.keywords === 'sekitar' ||
				this.criteria.keywords === 'rekomendasi'
				? ''
				: `${this.criteria.keywords}`;
		},
		searchPlaceholder() {
			return this.navbarMobile
				? 'Cari di mamikos'
				: 'Masukan nama lokasi/area/alamat';
		},
		authCheck() {
			try {
				return this.$store.state.authCheck;
			} catch (e) {
				return this.$root.state.authCheck;
			}
		},
		authData() {
			try {
				return this.$store.state.authData;
			} catch (e) {
				return this.$root.state.authData;
			}
		},
		unreadCountLabel() {
			return this.unreadChatCount > 99 ? '99+' : this.unreadChatCount;
		},
		isLogin() {
			return this.authCheck.all;
		},
		isOwner() {
			return this.isLogin && this.authCheck.owner;
		},
		isTenant() {
			return this.isLogin && this.authCheck.user;
		},
		profilPicture() {
			return _get(
				this.authData,
				'all.photo_user',
				'/general/img/pictures/navbar/ic_profile.svg'
			);
		},
		floatingTopPosition() {
			return this.homepageStyle ? '11px' : '19px';
		},
		userName() {
			return _get(this.authData, 'all.name', '');
		},
		mainNavigation() {
			return this.isLogin
				? this.isOwner
					? this.mainNavigationOwner
					: this.mainNavigationTenant
				: this.mainNavigationGuest;
		},
		mainNavigationMobile() {
			return this.mainNavigation.filter(nav => {
				if (
					nav.name !== 'Chat' &&
					nav.name !== 'Favorit' &&
					nav.name !== 'Pusat Bantuan'
				)
					return nav;
			});
		},
		otherNavigations() {
			return [
				{
					name: 'Pusat Bantuan',
					url: `https://help.mamikos.com/booking/${
						this.isLogin && !this.isTenant ? 'owner' : 'tenant'
					}`
				},
				{
					name: 'Syarat dan Ketentuan',
					url: 'https://help.mamikos.com/syarat-dan-ketentuan'
				}
			];
		},
		bottomNavigations() {
			const isHomepage = this.redirectionSourceNavbar === 'homepage';
			const isHistory =
				this.redirectionSourceNavbar === 'wishlist favorit' ||
				this.redirectionSourceNavbar === 'seen kos';
			return [
				{
					name: 'Cari',
					component: 'icon-search',
					isActive: isHomepage
				},
				{
					name: 'Favorit',
					component: 'icon-fav',
					isActive: isHistory
				},
				{
					name: 'Chat',
					component: 'icon-chat',
					isActive: false
				}
			];
		},
		isShowTopBar() {
			return (
				(this.homepageStyle || !this.isLogin) &&
				this.redirectionSource !== 'auth-pages'
			);
		}
	},
	watch: {
		redirectionSourceNavbar: {
			handler(val) {
				window.currentChatSource = val || this.redirectionSource;
				this.handleAppendParamFavorit();
			},
			immediate: true
		}
	},
	created() {
		this.navbarMobile = window.innerWidth < 992;
		this.authData.all && this.getChatUnreadCount();
		this.handleAppendParamFavorit();
	},
	mounted() {
		if (typeof sbWidget === 'object') {
			sbWidget.registerLocalHandlerCb('onChannelChanged', () => {
				this.getChatUnreadCount();
			});
			sbWidget.registerLocalHandlerCb('onReconnectSucceeded', () => {
				this.getChatUnreadCount();
			});
		}
		window.addEventListener('resize', this.setMaxWidthNavbar);
		window.addEventListener('scroll', this.handleScroll);
		this.setMaxWidthNavbar();
	},
	destroyed() {
		window.removeEventListener('resize', this.setMaxWidthNavbar);
		window.removeEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleSendBirdConnectivity() {
			/* eslint-disable */
			connectSendBird(() => {
				this.getChatUnreadCount();
			});
			/* eslint-enable */
		},
		handleAppendParamFavorit() {
			this.mainNavigationTenant = this.mainNavigationTenant.map(navigation => {
				if (navigation.name !== 'Favorit') return navigation;

				return {
					...navigation,
					url: `/history/favourite?nav-source=${this.redirectionSourceNavbar ||
						this.redirectionSource}`
				};
			});
		},
		handleSharePage() {
			if ('share' in navigator) {
				navigator.share({
					title: document.title,
					text:
						document.head.querySelector('meta[name="description"]') == null
							? 'Cek halaman ini di Mamikos.com'
							: document.head.querySelector('meta[name="description"]').content,
					url: this.urlLoc
				});
			} else {
				var copyText = document.getElementById('shareUrl');
				copyText.setAttribute('type', 'text');
				copyText.select();

				document.execCommand('copy');

				copyText.setAttribute('type', 'hidden');
				window.getSelection().removeAllRanges();

				this.$toasted.show('Link berhasil dicopy!', {
					theme: 'bubble',
					position: 'bottom-center',
					duration: 2000
				});
			}
		},
		handleNavigationBottom(type) {
			if (!this.isLogin && type !== 'Cari') return this.openModalLogin();

			switch (type) {
				case 'Chat':
					this.handleOpenChat();
					break;
				case 'Favorit':
					window.location.href = 'history/favourite?nav-source=homepage';
					break;
				case 'Cari':
					window.location.href = '/';
					break;
				default:
					break;
			}
		},
		handleMoEngage() {
			const moEngageData = {
				interface: this.navbarMobile ? 'mobile' : 'desktop',
				is_owner: this.isOwner,
				redirection_source:
					this.redirectionSourceNavbar || this.redirectionSource
			};
			tracker('moe', ['Chat Screen Viewed', moEngageData]);
		},
		hideSearchBoxModal() {
			this.openModalWithProps
				? this.$emit('closeModalWithProps')
				: (this.searchBoxModalShown = false);
			document.body.style.overflow = 'initial';

			this.$emit('handle-close-modal-callback');
		},
		showSearchBoxModal() {
			this.$emit('handle-show-modal-callback');

			this.searchBoxModalShown = true;
			document.body.style.overflow = 'hidden';
		},
		backPrevPage() {
			if (this.customBackAction) {
				this.$emit('back');
			} else {
				// check if the browser history cant go back anymore
				let needToClose = true;

				window.addEventListener('beforeunload', function() {
					needToClose = false;
				});

				window.history.go(this.historyPoint);
				setTimeout(() => {
					if (needToClose) close();
				}, 500);
			}
		},
		toggleMobile() {
			const navbar = this.$refs.navMain;
			if (navbar) {
				navbar.classList.toggle('nav-main-mobile');

				const isSideBarOpen = document.body.style.position === 'fixed';
				this.updateBodyToBeFixed(isSideBarOpen);
			}
		},
		updateBodyToBeFixed(status) {
			if (!status) {
				const top = window.scrollY;
				this.topPosition = top;
				document.body.style.position = 'fixed';
				document.body.style.top = `-${top}px`;
				document.body.style.width = '100vw';
			} else {
				document.body.style.position = 'initial';
				document.body.style.top = '';
				document.body.style.width = 'auto';
				window.scrollTo(0, this.topPosition);
			}
		},
		handleScroll() {
			const scrollPosition = window.pageYOffset;
			// toggle transparent style on scroll
			if (!this.navbarMobile && this.transparentUntil > 0) {
				if (scrollPosition > this.transparentUntil) {
					this.$refs.navWrapper.classList.remove('nav-transparent');
					this.$refs.navUl.classList.remove('nav-main-ul-transparent');
				} else {
					this.$refs.navWrapper.classList.add('nav-transparent');
					this.$refs.navUl.classList.add('nav-main-ul-transparent');
				}
			}

			// make bottom navigation hide on scroll down and show on scroll up
			if (this.navbarMobile && this.needBottomNavigation) {
				const isDown = scrollPosition > this.lastScrollPosition;
				const isValuePass = scrollPosition - this.lastShowPosition > 200;
				if (this.$refs.navBottom) {
					if (isDown && isValuePass) {
						this.$refs.navBottom.classList.remove('nav-footer-show');
					} else if (!isDown) {
						this.lastShowPosition = scrollPosition;
						this.$refs.navBottom.classList.add('nav-footer-show');
					}
				}
			}
			this.lastScrollPosition = scrollPosition;
			// make search bar to stick on navbar when scrolling on homepage (desktop screen)
			if (!this.navbarMobile && this.homepageStyle) {
				scrollPosition > 214
					? this.$refs.navBrand.classList.add('brand-short')
					: this.$refs.navBrand.classList.remove('brand-short');
			}
		},
		setLeftPoint() {
			const menuRef = this.$refs.menuBrandReference;
			menuRef &&
				this.$emit('setLeftPoint', menuRef.getBoundingClientRect().left);
		},
		getChatUnreadCount() {
			if (typeof sb !== 'undefined') {
				try {
					sb.getTotalUnreadChannelCount((count, error) => {
						if (error) {
							error.code.toString() === '800101' &&
								this.handleSendBirdConnectivity();
							return;
						}

						this.unreadChatCount = count;
					});
				} catch (e) {
					bugsnagClient.notify(e);
				}
			}
		},
		handleOpenChat() {
			try {
				const chatElement = document.querySelector('#sb_widget .widget');
				const isActive = chatElement.classList.contains('sb-fade-out');
				if (isActive) {
					if (window.currentChatSource === 'pretext')
						window.currentChatSource = 'property detail page';

					const closeChatElement = document.querySelector(
						'#sb_widget .ic-minimize'
					);
					closeChatElement.click();
				} else {
					chatElement.click();
					this.handleMoEngage();
				}
			} catch (e) {
				bugsnagClient.notify(e);
			}
		},
		setMaxWidthNavbar() {
			this.navbarMobile = window.innerWidth < 992;
			if (this.maxWidth > 0 && window.innerWidth > this.maxWidth) {
				this.$refs.navMainContainer.style.maxWidth = `${this.maxWidth}px`;
				this.$refs.navMainContainer.style.padding = '0';
				if (this.isShowTopBar) {
					this.$refs.navTopbar.style.maxWidth = `${this.maxWidth}px`;
					this.$refs.navTopbar.style.padding = '0';
				}
			} else {
				const padding = this.navbarMobile ? '0 18px' : '0 24px';
				this.$refs.navMainContainer.style.padding = padding;
				if (this.isShowTopBar) this.$refs.navTopbar.style.padding = padding;
			}
			if (this.homepageStyle && !this.navbarMobile) this.setLeftPoint();
		},
		closeModalLogin() {
			this.isModalLoginVisible = false;
			this.modalLoginState = 'default';
			this.updateBodyToBeFixed(true);
		},
		openModalLogin(loginState = 'default') {
			this.isModalLoginVisible = true;
			this.modalLoginState = loginState;
			this.updateBodyToBeFixed(false);
		},
		handleLogout() {
			const options = {
				samesite: 'strict',
				domain: 'mamikos.com',
				'max-age': '604800' // 7 days
			};
			Cookies.remove('access_token', options);
			Cookies.remove('refresh_token', options);

			if (typeof sb !== 'undefined') {
				try {
					sb.disconnect(() => {});
				} catch (e) {
					console.error('Can not disconnect sendbird');
				}
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#globalNavbar {
	.dropdown-toggle {
		position: relative;
		height: 100%;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		color: #303030;
		text-decoration: none;
		border: 0;
		box-shadow: none;

		&:active,
		&:not(:focus),
		&:focus {
			background: none;
		}

		.caret {
			margin-left: 2px;
		}
	}

	.dropdown-menu {
		width: auto;
		padding: 12px;

		li {
			width: 100%;
			min-width: 162px;
			padding: 0 8px;
			height: 40px;
			display: flex;
			align-items: center;
			border-radius: 4px;
			cursor: pointer;

			a {
				width: 100%;
				margin-left: 12px;
				padding: 0;
				font-weight: 600;
				font-size: 14px;
				line-height: 20px;
				color: #303030;

				&:hover {
					background-color: #f6f6f6;
				}
			}

			&:hover {
				background: #f6f6f6;
			}
		}
	}

	.main-nav-dropdown {
		display: flex;
		height: 100%;
		align-items: center;

		&:hover {
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				content: '';
				background: #1baa56;
				border-radius: 2px 2px 0 0;
			}
		}
	}

	.nav-search {
		@extend .main-nav-dropdown;

		.dropdown-menu {
			width: auto;
			left: -90px;
		}
	}

	.nav-others {
		@extend .main-nav-dropdown;

		.dropdown-menu {
			width: auto;
			left: -100px;

			li {
				padding: 0 8px;

				a {
					margin-left: 0;
				}
			}
		}
	}

	#notifCenter {
		height: 100%;

		span {
			height: 100%;

			.nav-notification {
				display: flex;
				height: 100%;
				align-items: center;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				color: #303030;
				text-decoration: none;

				.floating-label {
					right: -10px !important;
					display: flex;
					padding: 3px 4px;
					align-items: center;
					justify-content: center;
					border: 1px solid #fff;
					line-height: 100%;
				}
			}
		}
	}

	.nav-main-ul-transparent {
		.dropdown-toggle {
			color: #fff;
		}

		#notifCenter > span > .nav-notification {
			color: #fff !important;
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}
.hamburger-base {
	width: 100%;
	height: 2px;
	background: #757575;
	border-radius: 4px;
}
.close-line-base {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 2px;
	content: '';
	background: #757575;
	border-radius: 4px;
}
.brand-short {
	width: 37px;
	margin-right: 16px;
	overflow: hidden;
}
.nav-section {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.nav-main-topbar {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		background: #fafafa;

		@media (max-width: 991px) {
			display: none;
		}

		.nav-topbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 40px;
			padding: 0 24px;
		}
	}

	.nav-main-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 64px;
		background: #fff;
		border-bottom: 1px solid #e8e8e8;
		transition: 0.3s;

		@media (max-width: 991px) {
			height: 56px;
		}

		.nav-container {
			display: flex;
			width: 100%;
			height: 100%;
			padding: 0 24px;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 991px) {
				padding: 0 18px;
				justify-content: flex-start;
			}
		}
	}

	.nav-only {
		height: 80px;

		@media (max-width: 991px) {
			height: 56px;
		}
	}

	.nav-transparent {
		background: none;
		border-bottom: 0;
		transition: 0.3s;

		.nav-main-link {
			color: #fff;
		}

		.nav-login-button {
			color: #fff;
			border: 1px solid #fff;
		}
	}
}
.nav-fixed {
	position: fixed;
	top: 0;
	z-index: 1031;
}
.nav-topbar-left,
.nav-topbar-right {
	display: flex;
	align-items: center;

	.nav-topbar-url {
		display: flex;
		text-decoration: none;

		.nav-topbar-label {
			margin-left: 8px;
			font-size: 12px;
			font-weight: bold;
			line-height: 18px;
			color: #757575;
		}

		&:not(:first-child) {
			margin-left: 24px;
		}
	}
}
.promote-caret {
	display: flex;
	padding: 1px 8px;
	margin-left: 8px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	color: #fff;
	letter-spacing: 0.01em;
	background: #da3438;
	border-radius: 20px;
}
.nav-brand {
	display: flex;
	min-width: 37px;
	align-items: center;

	.nav-brand-img {
		width: auto;
		height: 30px;

		@media (max-width: 991px) {
			height: 20px;
		}
	}
}
.nav-main-navbar {
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: flex-end;

	.nav-main-ul {
		display: flex;
		height: 100%;
	}

	~ .overlay-background {
		display: none;
	}

	@media (max-width: 991px) {
		position: fixed;
		top: 0;
		right: -100%;
		bottom: 0;
		z-index: 1033;
		display: block;
		width: 100%;
		max-width: 360px;
		padding: 0 24px 24px;
		overflow-y: scroll;
		background: #fff;
		transition: 0.3s ease-out;

		.nav-main-ul {
			width: 100%;
			height: auto;
			padding: 0 0 20px;
			margin-top: 64px;
			flex-direction: column;
		}
	}

	@media (max-width: 575px) {
		max-width: none;
	}
}
.nav-main-li {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 12px;
	list-style-type: none;

	@media (max-width: 991px) {
		padding: 20px 0;
	}

	&:hover {
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			content: '';
			background: #1baa56;
			border-radius: 2px 2px 0 0;

			@media (max-width: 991px) {
				display: none;
			}
		}
	}
}
.nav-main-link {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #303030;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;

	@media (max-width: 991px) {
		width: 100%;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		color: #242424;
	}
}
.nav-main-group {
	display: block;
	padding: 10px 0;

	.nav-main-li {
		padding: 10px 0;
	}
}
.outline-bottom {
	border-bottom: 1px solid #e8e8e8;
}
.nav-login-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 82px;
	height: 40px;
	margin-left: 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #1baa56;
	background: none;
	border: 1px solid #1baa56;
	border-radius: 4px;

	&:hover {
		color: #6ecf91;
		border: 1px solid #6ecf91;
	}

	&:focus {
		color: #008742;
		border: 1px solid #008742;
	}

	@media (max-width: 991px) {
		width: 100%;
		margin-left: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;

		&:first-of-type {
			color: #fff;
			background: #1baa56;
		}

		&:last-of-type {
			margin-top: 16px;
		}
	}
}
.hamburger-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	height: 14px;
	margin-left: 16px;
	cursor: pointer;

	/* stylelint-disable */
	.hamburger-menu {
		@extend .hamburger-base;

		&::before {
			position: absolute;
			top: 0;
			@extend .hamburger-base;
			content: '';
		}

		&::after {
			position: absolute;
			bottom: 0;
			@extend .hamburger-base;
			content: '';
		}
	}
	/* stylelint-enable */
}
.nav-main-mobile {
	right: 0;

	@media (min-width: 576px) {
		~ .overlay-background {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1032;
			display: block;
			width: 100%;
			height: 100vh;
			background: rgba(#000, 0.5);
		}
	}
}
.mobile-close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 1034;
	display: block;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: #f6f6f6;
	border-radius: 8px;

	/* stylelint-disable */
	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
		@extend .close-line-base;
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
		@extend .close-line-base;
	}
	/* stylelint-enable */
}
.logout {
	margin-left: 8px;
}
.nav-back {
	margin-right: 16px;
	cursor: pointer;
}
.nav-main-right {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;

	.nav-center-mobile {
		display: flex;
		align-items: center;
		height: 100%;

		.nav-icon-group {
			position: relative;
			display: flex;
			margin-left: 16px;
			align-items: center;
			justify-content: center;
		}
	}
}
.nav-search-bar {
	width: 100%;
	max-width: 434px;
	height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 -1px 4px rgba(0, 0, 0, 0.02);

	@media (max-width: 1100px) {
		width: 375px;
	}

	@media (max-width: 1024px) {
		width: 350px;
	}

	@media (max-width: 991px) {
		width: 100%;
		max-width: none;
		height: 36px;
	}
}
.main-content-space {
	margin-top: 104px;

	@media (max-width: 991px) {
		margin-top: 56px;
	}
}
.--login-space {
	margin-top: 80px;

	@media (max-width: 991px) {
		margin-top: 56px;
	}
}
.nav-column {
	position: relative;
	flex-direction: column;
}
.--search-bar-fixed {
	position: fixed;
	top: 0;
	height: 80px;
	padding: 16px;
}
.--no-border {
	border-bottom: 0 !important;
}
.nav-footer {
	position: fixed;
	bottom: -56px;
	z-index: 1030;
	display: flex;
	width: 100%;
	height: 56px;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border-top: 1px solid #e8e8e8;
	transition: 0.3s;

	.nav-footer-menu {
		display: flex;
		width: 100%;
		max-width: 90px;
		height: 100%;
		padding: 9px 0 7px;
		text-decoration: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.footer-menu-top {
			position: relative;
			display: flex;
			width: 24px;
			height: 24px;
			align-items: center;
			justify-content: center;
			color: #aaa;
		}

		.footer-menu-bottom {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 18px;
			font-size: 12px;
			color: #949494;
		}
	}

	.--active > .footer-menu-top,
	.--active > .footer-menu-bottom {
		color: #1baa56;
	}
}
.nav-footer-show {
	bottom: 0;
}
.display-none {
	display: none;
}
</style>
