<template>
	<modal
		id="idVerifModalCancelAction"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
	>
		<div class="booking-confirmation-container">
			<div class="confirmation-text">
				<label>{{ labelModal }}</label>
			</div>

			<div class="confirmation-button-group">
				<button type="button" class="btn btn-default" @click="closeModal">
					Tidak
				</button>
				<button type="button" class="btn btn-primary" @click="throwAction">
					Ya
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		labelModal: {
			type: String,
			required: true,
			default: ''
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		throwAction() {
			this.$emit('ok');
		}
	}
};
</script>

<style lang="scss">
#idVerifModalCancelAction {
	.modal-header,
	.modal-footer {
		display: none !important;
	}
}
</style>

<style lang="scss" scoped>
.confirmation-button-group {
	display: flex;
	justify-content: space-between;

	@media (max-width: 767px) {
		justify-content: center;

		.btn-default {
			margin-right: 1rem;
		}
	}

	button {
		width: 120px;
	}
}
</style>
