<template>
	<modal
		id="idVerifModalShowPhoto"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
	>
		<div class="booking-show-photo-container">
			<div class="photo-esc">
				<filter-close-button @press="closeModal"></filter-close-button>
			</div>

			<div v-if="imageType == 'card' && ktpImg != null" class="photo-box">
				<img :src="ktpImg.src" />
			</div>

			<div
				v-else-if="imageType == 'selfie' && selfieImg != null"
				class="photo-box"
			>
				<img :src="selfieImg.src" />
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		modal,
		FilterCloseButton
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		imageType: {
			type: String,
			required: true,
			default: 'card'
		}
	},

	computed: {
		selfieImg() {
			return this.$store.state.extras.selfieImg;
		},
		ktpImg() {
			return this.$store.state.extras.idImg;
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
#idVerifModalShowPhoto {
	@media (min-width: 768px) {
		.modal-sm {
			width: 350px;
		}
	}
}
</style>

<style lang="scss" scoped>
.booking-show-photo-container {
	display: flex;
	flex-direction: column;

	.photo-esc {
		margin-top: -1rem;
	}

	.photo-box {
		text-align: center;

		img {
			margin-top: 1.5rem;
		}
	}
}
</style>
