<template>
	<modal
		id="idVerifModalWarning"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
		v-if="showModal"
	>
		<div class="booking-modal-webcam-error">
			<div class="booking-webcam-close" @click="closeModal">
				<span>&times;</span>
			</div>

			<div class="booking-webcam-logo">
				<img
					v-lazy="'/general/img/pictures/img_booking_webcam.png'"
					alt="img_booking_webcam"
				/>
			</div>

			<div class="booking-webcam-caption">
				<span>
					Kami merekomendasikan kamu untuk menggunakan browser Google Chrome,
					Firefox, atau
					<a href="/app" class="text-primary" target="_blank" rel="noopener">
						download aplikasi mamikos</a
					>
					untuk pengalaman terbaik.
				</span>
			</div>

			<div class="booking-webcam-button">
				<button type="button" class="btn btn-primary" @click="nextStep">
					Lanjutkan
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		nextStep() {
			this.$emit('next');
		}
	}
};
</script>

<style lang="scss">
#idVerifModalWarning {
	.modal-header,
	.modal-footer {
		display: none;
	}
}
</style>

<style lang="scss" scoped>
.booking-modal-webcam-error {
	padding: 1rem;

	.booking-webcam-close {
		font-size: 1.5em;
		text-align: right;
		cursor: pointer;
	}

	.booking-webcam-logo {
		display: flex;
		justify-content: center;
	}

	.booking-webcam-caption {
		text-align: center;
	}

	.booking-webcam-button {
		margin: 2.5rem 0;

		button {
			width: 100%;
		}
	}
}
</style>
