<template>
	<modal
		id="idVerifModalShowPhoto"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
		v-if="showModal"
	>
		<div class="booking-change-photo-container">
			<div class="button-actions">
				<button type="button" class="btn btn-primary" @click="seePhoto">
					Lihat Foto
				</button>
				<button type="button" class="btn btn-primary" @click="changePhoto">
					Ubah
				</button>
				<button type="button" class="btn btn-info" @click="detelePhoto">
					Hapus
				</button>
			</div>

			<div class="button-cancel">
				<button type="button" class="btn btn-success" @click="closeModal">
					Batal
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		seePhoto() {
			this.$emit('show');
		},
		changePhoto() {
			this.$emit('change');
		},
		detelePhoto() {
			this.$emit('delete');
		},
		closeModal() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-change-photo-container {
	text-align: center;

	.button-actions {
		button {
			width: 200px;
			margin: 0.5rem 0;

			&.btn-info,
			&.btn-info:focus,
			&.btn-info:active,
			&.btn-info:hover {
				color: #e04205;
				background-color: transparent;
				border-color: #ddd;
			}
		}
	}

	.button-cancel {
		margin: 0.5rem 0;

		.btn-success,
		.btn-success:active,
		.btn-success:hover,
		.btn-success:focus {
			width: 200px;
			border: none;
			background-color: transparent !important;
			color: #1baa56;
		}
	}
}
</style>
