<template>
	<div id="formIdVerification">
		<div class="input-id-options">
			<label>Jenis Identitas</label>

			<div class="radio-group-options">
				<div v-for="(idData, index) in idDatas" :key="index">
					<mami-radio v-model="cardIdVal" :selected-value="idData.value">
						{{ idData.label }}
					</mami-radio>
				</div>
			</div>
		</div>

		<div class="input-id-upload">
			<label>Upload Foto Identitas</label>

			<div class="upload-box-container">
				<div v-if="idImg">
					<div class="delete-button hidden-xs" @click="deletePhoto('card')">
						<span>&times;</span>
					</div>

					<div
						class="upload-box --photo"
						:style="{ backgroundImage: 'url(' + idImg.src + ')' }"
						@click="openCamera('card')"
					></div>
				</div>

				<div v-else class="upload-box" @click="openCamera('card')">
					<div class="box-placeholder">
						<img
							v-lazy="'/general/img/icons/ic_identity_card.svg'"
							alt="ic_identity_card"
						/>
						<span>Kartu Identitas</span>
					</div>
				</div>

				<div v-if="selfieImg !== null">
					<div class="delete-button hidden-xs" @click="deletePhoto('selfie')">
						<span>&times;</span>
					</div>

					<div
						class="upload-box --photo"
						@click="openCamera('selfie')"
						:style="{ backgroundImage: 'url(' + selfieImg.src + ')' }"
					></div>
				</div>

				<div v-else class="upload-box" @click="openCamera('selfie')">
					<div class="box-placeholder">
						<img
							v-lazy="'/general/img/icons/ic_selfie_camera.svg'"
							alt="ic_selfie_camera"
						/>
						<span>Selfie dengan Kartu Identitas</span>
					</div>
				</div>
			</div>
		</div>

		<div v-if="idImg == null || selfieImg == null" class="input-id-warning">
			<div class="warning-sign">
				<span>i</span>
			</div>

			<div class="warning-text">
				<span v-if="idImg == null"
					>Kamu belum mengunggah foto kartu identitas</span
				>
				<span v-else-if="selfieImg == null"
					>Kamu belum mengunggah foto selfie dengan kartu identitas</span
				>
			</div>
		</div>
	</div>
</template>

<script>
const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

export default {
	components: {
		MamiRadio
	},

	props: {
		cardId: {
			type: String,
			required: true
		},
		idImg: {
			required: true
		},
		selfieImg: {
			required: true
		}
	},

	data() {
		return {
			cardIdVal: this.cardId,
			idDatas: [
				{ label: 'eKTP', value: 'e_ktp' },
				{ label: 'SIM', value: 'sim' },
				{ label: 'Passport', value: 'passport' }
			]
		};
	},

	watch: {
		cardIdVal(val) {
			this.$emit('set-card-id', val);
		},
		cardId(val) {
			this.cardIdVal = val;
		}
	},

	methods: {
		deletePhoto(params) {
			this.$emit('delete-photo', params);
		},
		openCamera(params) {
			this.$emit('open-camera', params);
		}
	}
};
</script>

<style lang="scss">
#formIdVerification {
	.radio > label > .icon {
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
	}

	.radio + .radio,
	.checkbox + .checkbox {
		margin-top: 8px;
	}

	.radio:not(.active) > label > .icon {
		background-color: #fff;
		border: 2px solid #1baa56;
	}

	.radio label,
	.checkbox label {
		padding-left: 3rem;
	}

	.btn-success:active,
	.btn-success.active,
	.open > .btn-success.dropdown-toggle {
		background-color: #1baa56;
		border-color: #1baa56;
	}
}
</style>

<style lang="scss" scoped>
.input-id-options {
	.radio-group-options {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.input-id-upload {
	margin-top: 1rem;

	.upload-box-container {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;

		> div {
			position: relative;
		}

		.delete-button {
			background-color: #1baa56;
			height: 1.2em;
			width: 1.2em;
			border-radius: 100%;
			color: #fff;
			font-weight: bold;
			font-size: 1.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			margin-top: -0.7rem;
			margin-left: 12.5rem;
			z-index: 2;
			cursor: pointer;
		}

		.upload-box {
			width: 140px;
			height: 140px;
			background-color: #fafafa;
			border: 1px dashed #dbdbdb;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #1baa56;
			cursor: pointer;
			overflow: hidden;

			&.--photo {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				@media (min-width: 768px) {
					&:hover {
						filter: brightness(0.8);

						&::after {
							content: 'Lihat Foto';
							color: #fff;
							border: 1px solid #fff;
							padding: 0 1rem;
							border-radius: 2px;
						}
					}
				}
			}

			.box-placeholder {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 0.85em;

				img {
					margin-bottom: 1rem;
					height: 3em;
				}
			}
		}
	}
}

.input-id-warning {
	display: flex;
	font-size: 0.8em;
	margin-top: 1rem;

	.warning-sign {
		span {
			color: #fff;
			background-color: #e04205;
			height: 1.5em;
			width: 1.5em;
			border-radius: 100%;
			font-weight: bold;
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			margin-right: 0.5rem;
		}
	}

	.warning-text {
		color: #e04205;
	}
}
</style>
