<template>
	<section id="bookingInputCamera">
		<div class="input-camera-line"></div>

		<div class="input-camera-container">
			<div class="camera-info">
				<label v-if="this.snapType === 'card'">Foto Kartu Identitas</label>
				<label v-else>Foto Selfie dengan Kartu Identitas</label>
				<br />
				<span>
					Pastikan kartu identitas kamu terlihat jelas dengan penerangan yang
					cukup.
				</span>
			</div>

			<div class="camera-box">
				<div class="camera-capture" :class="{ '--shutter': shutterOn }"></div>

				<video
					v-show="!isPhotoTaken"
					ref="video"
					class="video"
					:width="mediaWidth"
					:height="mediaHeight"
					autoplay
				></video>

				<canvas
					v-show="isPhotoTaken"
					ref="canvas"
					class="canvas"
					:width="mediaWidth"
					:height="mediaHeight"
				></canvas>
				<!-- </div> -->

				<div class="camera-shutter" :class="{ '--taken': isPhotoTaken }">
					<span v-if="isPhotoTaken">Ambil ulang foto &#8594;</span>

					<img
						v-if="!isPhotoTaken"
						src="/general/img/icons/ic_camera_shoot.svg"
						alt="ic_camera_shoot.svg"
						role="button"
						@click="takePhoto"
					/>

					<img
						v-else
						src="/general/img/icons/ic_camera_reload.svg"
						alt="ic_camera_reload.svg"
						role="button"
						@click="takePhoto"
					/>
				</div>
			</div>

			<div class="camera-button">
				<button
					type="button"
					class="btn btn-primary"
					:class="{ '--disabled': !isPhotoTaken }"
					:disabled="!isPhotoTaken"
					@click="saveCanvas"
				>
					Simpan
				</button>

				<button type="button" class="btn btn-success" @click="cancelCapture">
					Kembali
				</button>
			</div>
		</div>

		<id-verif-modal-warning
			:show-modal="isModalWebcam"
			@close="closeModalWebcam"
			@next="closeModalWebcam"
		></id-verif-modal-warning>
	</section>
</template>

<script>
const IdVerifModalWarning = () => import('Js/@components/IdVerifModalWarning');

export default {
	components: {
		IdVerifModalWarning
	},

	props: {
		snapType: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			isPhotoTaken: false,
			shutterOn: false,
			isModalWebcam: false,
			isHasPermission: true
		};
	},

	computed: {
		mediaWidth() {
			const widthSmaller = 300;
			const widthLarger = 318;
			return this.navigator.isMobile ? widthLarger : widthSmaller;
		},
		mediaHeight() {
			const heightSmaller = 225;
			const heightLonger = 424;
			return this.navigator.isMobile ? heightLonger : heightSmaller;
		}
	},

	mounted() {
		this.createVideoElement();
	},

	async beforeDestroy() {
		await this.stopVideoStream();
	},

	methods: {
		createVideoElement() {
			this.stopVideoStream();

			let constraints = (window.constraints = {
				audio: false,
				video: true
			});

			if (this.snapType === 'card' && navigator.isMobile) {
				constraints = window.constraints = {
					audio: false,
					video: { facingMode: { exact: 'environment' } }
				};
			}

			navigator.mediaDevices
				.getUserMedia(constraints)
				.then(stream => {
					window.stream = stream;
					this.$refs.video.srcObject = stream;
				})
				.catch(error => {
					this.isModalWebcam = true;
					this.isHasPermission = false;

					bugsnagClient.notify(error);
				});
		},
		takePhoto() {
			this.shutterOn = true;

			const flashTimeout = 50;

			setTimeout(() => {
				this.shutterOn = false;
			}, flashTimeout);

			this.isPhotoTaken = !this.isPhotoTaken;

			const context = this.$refs.canvas.getContext('2d');
			if (this.navigator.isMobile) {
				context.drawImage(this.$refs.video, 0, 0, 318, 424);
			} else {
				context.drawImage(this.$refs.video, 0, 0, 300, 225);
			}
		},
		cancelCapture() {
			this.$emit('cancel-capture');
		},
		saveCanvas() {
			if (!this.isHasPermission) {
				return;
			}

			const image = new Image();
			image.src = this.$refs.canvas.toDataURL('image/png');

			if (this.snapType === 'selfie') {
				this.$emit('save-selfie', image);
			} else if (this.snapType === 'card') {
				this.$emit('save-card', image);
			}

			const imgBlob = this.convertToBlob(image.src);
			const formData = new FormData();
			formData.append('myFile', imgBlob, 'thumb.jpg');

			this.stopVideoStream();

			this.$emit('save-canvas', this.snapType);
		},
		stopVideoStream() {
			let tracks = [];

			if (typeof window.stream !== 'undefined') {
				tracks = window.stream.getTracks();
			}

			tracks.forEach(track => {
				track.stop();
			});
		},
		convertToBlob(dataURI) {
			const imgBinary = atob(dataURI.split(',')[1]);
			const imgArrayStore = [];
			for (var i = 0; i < imgBinary.length; i++) {
				imgArrayStore.push(imgBinary.charCodeAt(i));
			}
			return new Blob([new Uint8Array(imgArrayStore)], { type: 'image/jpeg' });
		},
		closeModalWebcam() {
			this.isModalWebcam = false;
		}
	}
};
</script>

<style lang="scss" scoped>
.input-camera-line {
	height: 3px;
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 2.4rem;
	margin-left: -2.5rem;
	margin-right: -2.5rem;
}

.input-camera-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 350px;
	margin: 0 auto;

	.camera-info {
		label {
			font-size: 1.1em;
		}
	}

	.camera-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1.5rem -0.5rem;
		border: 1px solid #dbdbdb;
		padding: 1rem 0;

		img {
			height: 55px;
			border-radius: 100%;
			margin: 1rem 0;
		}
	}

	.camera-button {
		margin-top: 1rem;

		button {
			width: 100%;
		}

		.btn-success {
			margin-top: 1rem;
		}
	}

	.camera-capture {
		opacity: 0;
		transition: all 30ms ease-in;
		position: fixed;
		height: 0%;
		width: 0%;
		pointer-events: none;
		background-color: white;
		left: 50%;
		top: 320px;
		transform: translate(-50%, -50%);

		&.--shutter {
			opacity: 1;
			height: 225px;
			width: 318px;

			@media (max-width: 767px) {
				height: 424;
			}
		}
	}

	.camera-shutter {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&.--taken {
			justify-content: flex-start;
			padding-left: 2.5rem;
		}

		span {
			margin-right: 0.9rem;
		}
	}
}
</style>
