<template>
	<div :class="propClass">
		<div :id="propId" class="map-style" @click="handleMapClicked">
			<div
				v-if="isShowSearchButton"
				class="map-style__search-area"
				@click="handleSearchArea"
			>
				<bg-button
					v-if="isMapLoading"
					variant="tertiary-naked"
					size="md"
					loading
				/>
				<template v-else>
					<bg-icon name="reload" size="md" />
					<span class="map-style__search-text">Cari di area ini</span>
				</template>
			</div>
			<bg-alert
				v-if="isShowAlert"
				class="map-style__alert"
				title="Kos Tidak Ditemukan di Area Ini"
				:description="emptyStateText"
				@close="handleCloseAlert"
			>
				<template v-slot:footer>
					<span
						v-if="isFilterOn"
						class="map-style__alert-action"
						@click="$emit('handle-reset-filter')"
					>
						Reset Filter
					</span>
				</template>
			</bg-alert>
		</div>

		<bg-button-icon
			v-if="isUsingLegend"
			class="map-style__legend-button"
			:icon="actionIcon"
			size="lg"
			@click="openLegend"
		/>

		<!-- Legend Modal -->
		<transition name="fade">
			<div v-show="isLegendModalShown" class="map-style__legend">
				<bg-grid>
					<bg-grid
						v-for="(item, i) in legendItems"
						:key="`item-${i}`"
						class="map-style__legend-item"
					>
						<bg-grid-item :col="4" class="map-style__legend-icon">
							<div
								class="map-style__legend-marker"
								:class="['marker-base', `marker-${item.type}`]"
							>
								{{ item.filledValue }}
							</div>
						</bg-grid-item>
						<bg-grid-item :col="8" class="map-style__legend-description">
							<span>{{ item.description.spanText }}</span>
							&nbsp;{{ item.description.text }}
						</bg-grid-item>
					</bg-grid>
				</bg-grid>
			</div>
		</transition>

		<!-- Legend Modal on Mobile-->
		<bg-modal
			v-model="isLegendModalMobileShown"
			title="Simbol-Simbol di Peta"
			button-main-text="Saya mengerti"
			mobile-size="default"
			:backdrop="true"
			:close-on-click-backdrop="false"
			:closable="false"
			@click-main-action="handleMobileLegend(false)"
		>
			<bg-grid
				v-for="(item, i) in legendItems"
				:key="`item-${i}`"
				:mobile-only="true"
				class="map-style__legend-item"
			>
				<bg-grid-item :col="1" class="map-style__legend-icon">
					<div
						class="map-style__legend-marker"
						:class="['marker-base', `marker-${item.type}`]"
					>
						{{ item.filledValue }}
					</div>
				</bg-grid-item>
				<bg-grid-item :col="3" class="map-style__legend-description">
					<span>{{ item.description.spanText }}</span>
					&nbsp;{{ item.description.text }}
				</bg-grid-item>
			</bg-grid>
		</bg-modal>
	</div>
</template>

<script>
import {
	BgIcon,
	BgButton,
	BgAlert,
	BgButtonIcon,
	BgGrid,
	BgGridItem,
	BgModal
} from 'bangul-vue';
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import _get from 'lodash/get';
import _debounce from 'lodash/debounce';
import * as storage from 'Js/@utils/storage';

import MixinIsMobile from 'Js/_search/mixins/MixinIsMobile';

export default {
	components: {
		BgIcon,
		BgButton,
		BgAlert,
		BgButtonIcon,
		BgGrid,
		BgGridItem,
		BgModal
	},
	mixins: [MixinIsMobile],
	props: {
		propId: {
			type: String,
			required: true
		},
		propClass: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			required: true
		},
		center: {
			type: Object,
			required: true
		},
		corner: {
			type: Array,
			default() {
				return [];
			}
		},
		minZoom: {
			type: Number,
			required: true
		},
		maxZoom: {
			type: Number,
			required: true
		},
		zoom: {
			type: Number,
			default: 14
		},
		showCenterMarker: {
			type: Boolean,
			default: false
		},
		scrollZoom: {
			type: Boolean,
			default: true
		},
		isMapRadius: {
			type: Boolean,
			default: false
		},
		boundsLocation: {
			type: Array,
			default() {
				return [];
			}
		},
		boundaries: {
			type: Array,
			default() {
				return [];
			}
		},
		isUsingZoom: {
			type: Boolean,
			default: true
		},
		isShowNominatim: {
			type: Boolean,
			default: false
		},
		criteria: {
			type: Object,
			default() {
				return {};
			}
		},
		isFilterOn: {
			type: Boolean,
			default: false
		},
		isEmptyList: {
			type: Boolean,
			default: false
		},
		isMapLoading: {
			type: Boolean,
			default: false
		},
		isUsingLegend: {
			type: Boolean,
			default: false
		},
		isMapDisabled: {
			type: Boolean,
			default: false
		},
		geocodeType: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			map: {},
			bounds: {},
			tiles: null,
			isShowSearchButton: true,
			isLayerExist: false,
			isFirstTimeRendered: false,
			isWindowHideOnNominatim: false,
			isUnbindBoundaries: false,
			isAlertOpen: false,
			actionIcon: 'information-round',
			isLegendModalShown: false,
			isLegendModalMobileShown: false,
			lastMarkerCode: null,
			legendItems: [
				{
					type: 'cluster',
					filledValue: '33',
					description: {
						spanText: 'Lebih dari 1 kos:',
						text: 'Angka menunjukkan jumlah kos yang ada di titik tersebut.'
					}
				},
				{
					type: 'campur',
					filledValue: 'Rp750rb',
					description: {
						spanText: 'Kos Campur:',
						text: 'Harga berwarna ungu menandakan sebuah kos campur.'
					}
				},
				{
					type: 'putra',
					filledValue: 'Rp1,85jt',
					description: {
						spanText: 'Kos Putra:',
						text: 'Harga berwarna biru menandakan sebuah kos putra.'
					}
				},
				{
					type: 'putri',
					filledValue: 'Rp2,455jt',
					description: {
						spanText: 'Kos Putri:',
						text: 'Harga berwarna merah muda menandakan ada sebuah kos putri.'
					}
				}
			]
		};
	},

	computed: {
		osmHost() {
			// eslint-disable-next-line
			return osmHost;
		},
		isNominatim() {
			return !!this.boundaries.length && this.isShowNominatim;
		},
		emptyStateText() {
			return this.isFilterOn
				? 'Coba ubah kata kunci, ubah filter, atau geser peta untuk memperbanyak hasil pencarian.'
				: 'Coba geser peta atau ganti kata kunci pencarian.';
		},
		isShowAlert() {
			return (
				this.isMobile &&
				this.isEmptyList &&
				this.isAlertOpen &&
				!this.isMapLoading
			);
		}
	},

	watch: {
		isMapLoading(loading) {
			this.isShowSearchButton = loading;
			!loading && this.isEmptyList && (this.isAlertOpen = true);
		},
		isMapDisabled: {
			handler(isDisabled) {
				if (!this.map) return;

				this.handleSetMarkerEvent(isDisabled);
			}
		}
	},

	created() {
		this.checkShowCondition();
	},

	mounted() {
		document.addEventListener('visibilitychange', this.checkVisibility);

		const mapObject = {
			center: [this.center.lat, this.center.lng],
			zoomControl: false
		};

		if (this.isUsingZoom) {
			mapObject.minZoom = this.minZoom;
			mapObject.maxZoom = this.maxZoom;
		}

		if (this.zoom) mapObject.zoom = this.zoom;

		this.map = L.map(this.propId, mapObject);

		if (!this.isMobile) {
			new L.Control.Zoom({ position: 'topright' }).addTo(this.map);
		}

		this.map.whenReady(this.onMapReady);

		if (!this.scrollZoom) {
			this.map.scrollWheelZoom.disable();
		}

		this.map.attributionControl.addAttribution(
			'&copy; <a href="https://www.openstreetmap.org">OpenStreetMap</a>'
		);
		this.map.attributionControl.addAttribution(
			'<a href="https://mamikos.com">Mamikos</a>'
		);

		// eslint-disable-next-line
		this.tiles = new L.tileLayer(`${this.osmHost}/hot/{z}/{x}/{y}.png`).addTo(
			this.map
		);

		this.map.on('dragend', () => {
			this.handleShowButtonToggle();
		});

		const chatElement = document.querySelector('#sb_widget');
		if (chatElement) {
			chatElement.style.width = '0';
			chatElement.style.height = '0';
		}
	},

	destroyed() {
		document.removeEventListener('visibilitychange', this.checkVisibility);
	},

	methods: {
		handleCloseAlert() {
			this.isAlertOpen = false;
		},
		handleSetMarkerEvent(isDisabled) {
			if (isDisabled) {
				this.map.dragging && this.map.dragging.disable();
				this.map.doubleClickZoom && this.map.doubleClickZoom.disable();
			} else {
				this.map.dragging && this.map.dragging.enable();
				this.map.doubleClickZoom && this.map.doubleClickZoom.enable();
			}
		},
		handleSearchArea() {
			if (!this.isUnbindBoundaries && this.isShowNominatim) {
				this.$emit('set-geocode', null);
				this.$emit('set-criteria', {
					...this.criteria,
					tag: 'Area sesuai peta'
				});
				this.isUnbindBoundaries = true;
			}
			this.$emit('handle-set-cluster', false);
			this.applyLoc();
		},
		handleZoomArea: _debounce(function() {
			this.$emit('handle-set-cluster', false);
			this.handleShowButtonToggle();
			this.applyLoc();
		}, 700),
		handleShowButtonToggle() {
			this.isShowSearchButton = true;
		},
		checkShowCondition() {
			const isViewed = storage.local.getItem('nominatim-visited');
			if (this.isUsingLegend && isViewed !== '1') {
				storage.local.setItem('nominatim-visited', 1);
				this.openLegend();
			}
		},
		openLegend() {
			if (this.isMobile) {
				this.handleMobileLegend(true);
			} else {
				this.isLegendModalShown = !this.isLegendModalShown;
			}

			this.actionIcon = this.isLegendModalShown ? 'close' : 'information-round';
		},
		handleMobileLegend(payload) {
			this.isLegendModalMobileShown = payload;
		},
		handleMapClicked() {
			if (this.isLegendModalShown && !this.isMapDisabled) {
				this.isLegendModalShown = false;
				this.actionIcon = 'information-round';
			}
		},
		checkVisibility() {
			if (this.isWindowHideOnNominatim && !document.hidden) {
				setTimeout(() => {
					this.setPolygon();
				}, 1000);
				this.isWindowHideOnNominatim = false;
			}

			this.handleSetMarkerEvent(this.isMapDisabled);
		},
		setPolygon() {
			const polygonOption = [this.boundaries];
			const polygon = L.polygon(polygonOption, {
				color: '#666',
				weight: 2,
				fillOpacity: 0.05,
				fillColor: '#000',
				className: 'map-style__polygon'
			}).addTo(this.map);

			if (!this.isFirstTimeRendered) {
				this.map.fitBounds(polygon.getBounds());
				this.isFirstTimeRendered = true;

				setTimeout(() => {
					this.map.on('zoomend', () => {
						this.handleZoomArea();
					});
				}, 1000);
			}
		},
		onMapReady() {
			this.bounds = this.corner.length
				? L.latLngBounds(this.corner)
				: this.isNominatim && !this.isFirstTimeRendered
				? L.latLngBounds(this.boundsLocation)
				: this.map.getBounds();

			if (this.isNominatim && !this.isFirstTimeRendered) {
				this.map.fitBounds(this.bounds);
				this.locations = this.getDirection(this.bounds);
				this.$emit('bounds-changed', this.locations);
			} else {
				const boundsReady = !!this.corner.length;
				this.applyLoc(boundsReady);

				boundsReady && this.map.fitBounds(this.bounds);

				setTimeout(() => {
					this.map.on('zoomend', () => {
						this.handleZoomArea();
					});
				}, 1000);
			}
		},
		getDirection(bounds) {
			const nw = bounds.getNorthWest();
			const se = bounds.getSouthEast();

			return [
				[nw.lng, se.lat],
				[se.lng, nw.lat]
			];
		},
		applyLoc(boundsReady = false) {
			/* read current bounds, left top right bottom position of the map. if the page has lat long in the query string, it will be use as a center of the map. The map will use distance props as their bounds when the page has lat long query string */
			this.bounds = boundsReady ? this.bounds : this.map.getBounds();
			this.$store.commit('setMapCenter', this.map.getCenter());
			this.locations = this.getDirection(this.bounds);

			this.$emit('bounds-changed', this.locations);
		},
		priceFormatter(price) {
			const splitPrice = price.split(' ');
			const priceNumber = splitPrice[0].split('.');
			const fractionalPrice = priceNumber ? priceNumber[1] : null;

			if (fractionalPrice && fractionalPrice.length > 2) {
				splitPrice[0] = parseFloat(splitPrice[0]).toFixed(2);
				return 'Rp' + splitPrice.join('').replace('.', ',');
			}

			return 'Rp' + price.replace('.', ',').replace(/ /g, '');
		},
		showClusters(clusters) {
			const markersLayer = new L.FeatureGroup();
			let latlng = [];
			let markerContent = '';
			let markerClass = '';
			let markerHover = '';
			const markerOption = {
				color: 'transparent',
				fillOpacity: 0,
				weight: 0,
				radius: 0,
				fillColor: 'transparent',
				clusterData: {}
			};

			if (this.isLayerExist) {
				this.map.eachLayer(layer => {
					if (layer._url === undefined) {
						this.map.removeLayer(layer);
					}
				});
			}

			if (
				(this.showCenterMarker && !this.isNominatim) ||
				(this.isNominatim && this.geocodeType && this.geocodeType !== 'area')
			) {
				const centerIcon = L.icon({
					iconUrl: '/assets/icons/map/poin_pencarian.svg',
					iconSize: [40, 40],
					iconAnchor: [20, 40],
					className: 'marker-unclickable'
				});
				const centerMarker = L.marker(this.center, {
					icon: centerIcon,
					draggable: false,
					keyboard: false
				});
				centerMarker.setIcon(centerIcon);
				markersLayer.addLayer(centerMarker);
			}

			this.$nextTick(() => {
				clusters.forEach((cluster, index) => {
					latlng = [
						parseFloat(cluster.latitude),
						parseFloat(cluster.longitude)
					];
					let customMarker = null;
					markerOption.radius = cluster.radius * 4.5;
					markerOption.clusterData = cluster;
					markerContent = '' + cluster.count;

					if (this.type === 'vacancy') {
						markerHover =
							cluster.count === 1
								? 'Loker ' + cluster.vacancy.title
								: 'Ada ' + markerContent + ' loker di area ini';
					} else if (this.type === 'unit') {
						markerHover =
							cluster.count === 1
								? 'Ada ' + cluster.room.room_available + ' Kamar '
								: 'Ada ' + markerContent + ' apartemen di area ini';
					} else if (this.type === 'project') {
						markerHover =
							cluster.count === 1
								? cluster.room.name
								: 'Ada ' + markerContent + ' apartemen di area ini';
					} else if (this.type === 'kos') {
						if (cluster.count === 1) {
							markerHover =
								cluster.room.room_available === 0
									? 'Kost ini penuh'
									: 'Ada ' + cluster.room.room_available + ' Kamar Tersedia';
						} else {
							markerHover = 'Ada ' + cluster.count + ' kost di area ini';
						}
					} else if (this.type === 'house') {
						if (cluster.count === 1) {
							markerHover = 'Tersedia';
						} else {
							markerHover = 'Ada ' + cluster.count + ' rumah di area ini';
						}
					}

					if (cluster.type === 'cluster') {
						if (this.type === 'kos') {
							markerClass = 'marker-base';
						} else {
							markerClass = 'circle-base circle-green circle-radius-3';
							if (markerContent.length > 3) {
								markerClass += ' circle-radius-3-bigger';
							}
						}
					} else {
						if (cluster.type === 'vacancy') {
							if (cluster.vacancy.type === 'FULL-TIME') {
								markerClass = 'circle-base circle-purple circle-radius-3';
							} else if (cluster.vacancy.type === 'PART-TIME') {
								markerClass = 'circle-base circle-orange circle-radius-3';
							} else if (cluster.vacancy.type === 'FREELANCE') {
								markerClass = 'circle-base circle-cobalt circle-radius-3';
							} else if (cluster.vacancy.type === 'MAGANG') {
								markerClass = 'circle-base circle-yellow circle-radius-3';
							}
						} else if (cluster.type === 'room') {
							if (this.type === 'kos') {
								if (cluster.room.gender === 1) {
									markerContent =
										'' + this.priceFormatter(cluster.room.price_marker);
									markerClass = 'marker-base marker-putra';
								} else if (cluster.room.gender === 2) {
									markerContent =
										'' + this.priceFormatter(cluster.room.price_marker);
									markerClass = 'marker-base marker-putri';
								} else if (cluster.room.gender === 0) {
									markerClass = 'marker-base marker-campur';
									markerContent =
										'' + this.priceFormatter(cluster.room.price_marker);
								} else {
									markerClass = 'marker-base circle-green-inverse';
								}
							} else {
								if (cluster.room.gender === 1) {
									markerContent = '' + cluster.room.price_marker;
									markerClass =
										'circle-base circle-blue circle-word-break circle-radius-3';
								} else if (cluster.room.gender === 2) {
									markerContent = '' + cluster.room.price_marker;
									markerClass =
										'circle-base circle-pink circle-word-break circle-radius-3';
								} else if (cluster.room.gender === 0) {
									markerClass =
										'circle-base circle-purple circle-word-break circle-radius-3';
									markerContent = '' + cluster.room.price_marker;
								} else {
									markerClass =
										'circle-base circle-green-inverse circle-word-break circle-radius-3';
								}
							}
						} else if (cluster.type === 'house') {
							markerClass =
								'circle-base circle-green-inverse circle-word-break circle-radius-3';
							markerContent = '' + cluster.house.price_marker;
						}
					}

					if (this.type === 'kos') {
						customMarker = new L.Marker(latlng, {
							icon: new L.DivIcon({
								html: `<span class="${markerClass}" cluster-code="cluster-${cluster.code}">${markerContent}</span>`
							}),
							clusterData: cluster
						});
					} else {
						customMarker = L.circleMarker(latlng, markerOption);
						customMarker
							.bindTooltip(markerContent, {
								permanent: true,
								direction: 'center',
								className: markerClass
							})
							.openTooltip();

						customMarker.bindPopup(markerHover, {
							closeButton: false
						});
					}

					this.$nextTick(() => {
						customMarker.on('click', e => {
							if (this.isMapDisabled) return;

							const data = e.target.options.clusterData;

							if (data.type === 'cluster') {
								if (this.type === 'kos') {
									const lastSelectedMarker = this.lastMarkerCode
										? document.querySelectorAll(
												`[cluster-code=cluster-${this.lastMarkerCode}]`
										  )
										: [];
									const clusterCode = _get(data, 'code', null);
									const selectedMarker = clusterCode
										? document.querySelectorAll(
												`[cluster-code=cluster-${clusterCode}]`
										  )
										: [];

									if (this.lastMarkerCode && lastSelectedMarker.length) {
										const lastSelectedMarkerElement = lastSelectedMarker[0];
										lastSelectedMarkerElement.style.backgroundColor = '#fff';
										lastSelectedMarkerElement.style.color = '#303030';
									}

									if (clusterCode && selectedMarker.length) {
										const markerElement = selectedMarker[0];
										markerElement.style.backgroundColor = '#303030';
										markerElement.style.color = '#fff';
										markerElement.style.opacity = 1;

										this.$emit('select-cluster', data, this.isUnbindBoundaries);
										this.lastMarkerCode = clusterCode;
									}
								} else {
									this.$emit('select-cluster', data, this.isUnbindBoundaries);
								}
							} else {
								if (data.type === 'vacancy') {
									this.openDetail(data.vacancy.share_slug);
								} else if (data.type === 'room') {
									this.openDetail(data.room.share_url);
								} else if (data.type === 'house') {
									this.openDetail(data.house.share_url);
								}
							}

							this.addTrackEventClickCluster({
								count: _get(data, 'count', 0),
								price: _get(data, 'room.price_marker', null),
								type: _get(data, 'type', null)
							});
						});

						customMarker.on('mouseover', () => {
							customMarker.openPopup();
						});

						customMarker.on('mouseout', () => {
							customMarker.closePopup();
						});

						markersLayer.addLayer(customMarker);
					});
				});

				if (this.isNominatim) {
					document.hidden
						? (this.isWindowHideOnNominatim = true)
						: this.setPolygon();
				}

				this.isLayerExist = true;
				markersLayer.addTo(this.map);
			});
		},
		openDetail(slug) {
			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = slug;
			} else {
				window.open(slug, '_blank');
			}
		},
		addTrackEventClickCluster({ count, price, type }) {
			tracker('moe', [
				'[User] Click Map Cluster',
				{
					cluster_number: count,
					cluster_price: price,
					cluster_type: type
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.map-style {
	position: relative;
	width: 100%;
	height: 100%;

	.map-style__search-area {
		position: absolute;
		top: 24px;
		left: 50%;
		z-index: 401;
		display: flex;
		max-width: 170px;
		max-height: 40px;
		align-items: center;
		padding: 8px 12px;
		cursor: pointer;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
		transform: translate(-50%, 0);

		@media (max-width: 350px) {
			max-width: none;
		}

		.map-style__search-text {
			margin: 0 0 0 8px;
			font-family: Lato;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #303030;

			@media (max-width: 350px) {
				white-space: nowrap;
			}
		}
	}

	.map-style__alert {
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 401;
		width: calc(100% - 40px);
		border-radius: 8px;
		transform: translate(-50%, 0);

		.map-style__alert-action {
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			color: #303030;
			border-bottom: 1px solid #303030;
		}
	}
}

.map-style__legend {
	position: absolute;
	right: 16px;
	bottom: 64px;
	z-index: 950;
	width: 346px;
	padding: 16px;
	margin: 8px 0;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	&-button {
		position: absolute;
		right: 16px;
		bottom: 16px;
		z-index: 950;
		border-radius: 8px;

		@media (max-width: 768px) {
			top: 12px;
			bottom: auto;
		}
	}

	&-item {
		z-index: 950;
		padding-bottom: 12px;
		margin: auto;
		align-items: center;

		&:last-child {
			padding-bottom: 0;
		}

		@media (max-width: 768px) {
			padding-bottom: 16px;
		}
	}

	&-icon {
		z-index: 950;
		margin-bottom: 0 !important;
		text-align: center;
	}

	&-description {
		z-index: 950;
		padding: 0 16px 0 0 !important;
		margin-bottom: 0 !important;
		font-size: 12px;

		/* stylelint-disable */
		> span {
			font-weight: bold;
		}
		/* stylelint-enable */
	}

	&-marker {
		inline-size: fit-content;
	}
}

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-leave-active {
	transition: opacity 0s;
}

.bg-c-grid {
	&__item.bg-is-col-1 {
		width: 30% !important;
	}

	&__item.bg-is-col-3 {
		width: 70% !important;
	}

	@media (max-width: 320px) {
		&__item.bg-is-col-1 {
			width: 40% !important;
		}

		&__item.bg-is-col-3 {
			width: 60% !important;
		}
	}
}
</style>

<style lang="scss">
.clean-text {
	padding: 0;
	font-family: Lato, sans-serif;
	font-size: 14px;
	color: #fff;
	background: none;
	border: 0;
	box-shadow: none;
}

.circle-base {
	padding-left: 3.5px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	border: 2px transparent solid;
	border-radius: 50%;
	opacity: 1 !important;
}

.circle-radius-3 {
	width: 30px;
	height: 30px;
	line-height: 15px;
}
.circle-radius-3-bigger {
	width: 35px;
	height: 35px;
	line-height: 1.9;
	letter-spacing: 0;
}

.circle-radius-5 {
	width: 42px;
	height: 42px;
	line-height: 28px;
}
.circle-radius-7 {
	width: 60px;
	height: 60px;
	line-height: 46px;
}
.circle-radius-10 {
	width: 82px;
	height: 82px;
	line-height: 68px;
}

.circle-word-break {
	padding: 6px 1px 0;
	font-size: 11px;
	line-height: 0.9;
	letter-spacing: 0;
	white-space: normal;
}

.circle-green {
	/* background-color: #41ba41; */
	background-color: rgba(37, 171, 37, 0.6);
}
.circle-green-inverse {
	color: rgba(37, 171, 37, 1);
	background-color: rgba(255, 255, 255, 0.6);
	border-color: #41ba41;
}
.circle-purple {
	background-color: rgba(162, 83, 144, 0.6);
}
.circle-orange {
	background-color: rgba(232, 145, 34, 0.6);
}
.circle-cobalt {
	background-color: rgba(94, 172, 166, 0.6);
}
.circle-yellow {
	background-color: rgba(163, 197, 2, 0.6);
}
.circle-pink {
	background-color: rgba(242, 99, 137, 0.6);
}
.circle-blue {
	background-color: rgba(52, 152, 219, 0.6);
}

.marker-unclickable {
	z-index: 194 !important;
	cursor: default;
}

/* stylelint-disable */
#mamiMap,
#landingMap {
	.leaflet-control-zoom {
		top: 24px;
		right: 24px;
		margin: 0;
		border: 0;
		box-shadow: none;

		.leaflet-control-zoom-in,
		.leaflet-control-zoom-out {
			display: flex;
			width: 40px;
			height: 40px;
			align-items: center;
			justify-content: center;
			font-size: 24px;

			&:hover {
				background: #fefefe;
			}
		}

		.leaflet-control-zoom-in {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		.leaflet-control-zoom-out {
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}

	.bg-c-alert > .bg-c-alert__content {
		padding: 0 20px 0 0;
	}

	.bg-c-alert > .bg-c-alert__content > .bg-c-text--title-5 {
		font-size: 14px;
	}

	.bg-c-alert > .bg-c-alert__content > .bg-c-text--body-4 {
		font-size: 12px;
	}

	.leaflet-marker-pane {
		z-index: 200;
	}

	.leaflet-overlay-pane {
		z-index: 200;
	}

	.map-style__polygon {
		pointer-events: none !important;
	}

	.leaflet-div-icon {
		width: auto !important;
		height: auto !important;
		background: none;
		border: 0;
	}
}

@media (max-width: 350px) {
	#mamiMap
		~ .bg-c-modal
		> .bg-c-modal__wrapper
		> .bg-c-modal__inner
		> .bg-c-modal__body,
	#landingMap
		~ .bg-c-modal
		> .bg-c-modal__wrapper
		> .bg-c-modal__inner
		> .bg-c-modal__body {
		max-height: 250px !important;
	}
}
/* stylelint-enable */

.marker-base {
	display: flex;
	min-width: 32px;
	height: 32px;
	padding: 6px 8px;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	text-align: center;
	flex-direction: column;
	background: #fff;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.02), 0 1px 8px rgba(0, 0, 0, 0.08),
		0 0 0 1px rgba(0, 0, 0, 0.1);
}

.marker-putra {
	color: #0052a4;
}

.marker-putri {
	color: #c9389b;
}

.marker-campur {
	color: #9259cd;
}

.map-content {
	@media (max-width: 768px) {
		z-index: 1031 !important;
	}
}

.bg-c-modal__body-title {
	margin-bottom: 16px;
}
</style>
