<template>
	<div>
		<div class="placeholder-wrapper" v-if="type == 'not-job' && mode == 1">
			<div class="placeholder-container">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container hidden-xs">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container hidden-xs hidden-sm">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'not-job' && mode == 2">
			<div class="placeholder-container">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container hidden-xs">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'not-job' && mode == 4">
			<div v-for="index in 4" class="placeholder-container" :key="index">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
		</div>

		<div
			v-if="type === 'not-job' && mode === 5"
			:class="[
				'placeholder-wrapper placeholder-responsive',
				{ 'placeholder-horizontal': horizontal }
			]"
		>
			<div v-for="index in 4" :key="index" class="placeholder-container">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
				<div class="placeholder-text-container">
					<div class="placeholder-text shine-me-to-the-moon"></div>
					<div class="placeholder-text shine-me-to-the-moon"></div>
					<div
						class="placeholder-text placeholder-short shine-me-to-the-moon"
					></div>
				</div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'job' && mode == 1">
			<div class="placeholder-container-job">
				<div class="placeholder-photo-job shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container-job hidden-xs">
				<div class="placeholder-photo-job shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container-job hidden-xs hidden-sm">
				<div class="placeholder-photo-job shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'job' && mode == 2">
			<div class="placeholder-container-job">
				<div class="placeholder-photo-job shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
			<div class="placeholder-container-job hidden-xs">
				<div class="placeholder-photo-job shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div class="placeholder-text shine-me-to-the-moon"></div>
				<div
					class="placeholder-text placeholder-short shine-me-to-the-moon"
				></div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'only-pic' && mode == 1">
			<div class="placeholder-container for-pic">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
			</div>
			<div class="placeholder-container for-pic hidden-xs">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
			</div>
			<div class="placeholder-container for-pic hidden-xs hidden-sm">
				<div class="placeholder-photo shine-me-to-the-moon"></div>
			</div>
		</div>

		<div class="placeholder-wrapper" v-if="type == 'only-pic' && mode == 4">
			<div
				v-for="index in 4"
				class="placeholder-container for-pic"
				:key="index"
			>
				<div class="placeholder-photo shine-me-to-the-moon"></div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		// props guide
		// mode default aka 1 untuk 3 placeholder 3 kolom
		// untuk placeholder 2 kolom kyk di search dan landing, pake mode 2
		// type default aka 'not-job', untuk placeholder buat kost dan apartemen
		// untuk job pake type 'job' bedanya ini lebih pendek

		// update 26-04-2020
		// tambahan mode 5 untuk handle revamp kost & apartemen list

		mode: {
			type: Number,
			required: false,
			default: 1
		},
		type: {
			type: String,
			required: false,
			default: 'not-job'
		},
		horizontal: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style scoped lang="scss">
.placeholder-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.placeholder-container {
	height: 310px;
	width: 100%;
}

.placeholder-container.for-pic {
	height: 200px;
}

.placeholder-container-job {
	height: 185px;
	width: 100%;
}

.placeholder-photo {
	height: 175px;
	border-radius: 5px;
	background-color: #e2e6ea;
	margin: 25px;
}

.placeholder-photo-job {
	height: 50px;
	border-radius: 5px;
	background-color: #e2e6ea;
	margin: 25px;
}

.placeholder-text {
	height: 7px;
	background-color: #e2e6ea;
	border-radius: 5px;
	margin: 25px;
}

.placeholder-short {
	width: 70%;
}

.shine-me-to-the-moon {
	-webkit-animation-name: ShineAnimation;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
}

@-webkit-keyframes ShineAnimation {
	from {
		background-repeat: no-repeat;
		background-image: -webkit-linear-gradient(
			top left,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0) 20%,
			rgba(255, 255, 255, 0.5) 45%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0.5) 55%,
			rgba(255, 255, 255, 0) 80%,
			rgba(255, 255, 255, 0) 100%
		);
		background-position: -300px -300px;
		background-size: 600px 600px;
	}
	to {
		background-repeat: no-repeat;
		background-position: 300px 300px;
	}
}

.placeholder-responsive {
	.placeholder-container {
		.placeholder-text-container {
			display: flex;
			height: 100%;
			flex-direction: column;

			.placeholder-text {
				margin: 0 25px;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
	@media (max-width: 991px) {
		.placeholder-container:nth-child(1) {
			display: none;
		}
	}

	@media (max-width: 767px) {
		.placeholder-container:nth-child(odd),
		.placeholder-container:nth-child(2) {
			display: none;
		}

		.placeholder-container {
			display: flex;
			height: 140px;

			.placeholder-photo {
				display: flex;
				width: 30%;
				min-width: 150px;
				height: calc(100% - 25px);
				box-sizing: border-box;
				margin: 25px 0 0;
			}

			.placeholder-text-container {
				width: 70%;
				margin-top: 25px;

				.placeholder-text {
					height: 10px;
					margin-right: 0;
				}

				.placeholder-short {
					height: 10px;
				}
			}
		}
	}
}

.placeholder-horizontal {
	.placeholder-container:nth-child(odd),
	.placeholder-container:nth-child(2) {
		display: none;
	}

	.placeholder-container {
		display: flex;
		height: 140px;

		.placeholder-photo {
			display: flex;
			width: 30%;
			min-width: 150px;
			height: calc(100% - 25px);
			box-sizing: border-box;
			margin: 25px 0 0;
		}

		.placeholder-text-container {
			width: 70%;
			margin-top: 25px;

			.placeholder-text {
				height: 10px;
				margin-right: 0;
			}

			.placeholder-short {
				height: 10px;
			}
		}
	}
}
</style>
