<template>
	<div class="map-container" :class="grid">
		<div class="map-style" id="detailMap"></div>
	</div>
</template>

<script>
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';

export default {
	props: {
		grid: {
			type: String,
			required: true
		},
		center: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			map: null,
			bounds: [],
			tiles: null,
			layerExists: false
		};
	},

	computed: {
		osmHost() {
			return osmHost;
		}
	},

	mounted() {
		this.$nextTick(() => {
			this.map = L.map('detailMap', {
				center: [this.center.lat, this.center.lng],
				zoom: 14,
				minZoom: 14,
				maxZoom: 16
			});
			this.map.attributionControl.addAttribution(
				'&copy; <a href="https://www.openstreetmap.org">OpenStreetMap</a>'
			);
			this.map.attributionControl.addAttribution(
				'<a href="https://mamikos.com">Mamikos</a>'
			);
			this.tiles = new L.tileLayer(`${this.osmHost}/hot/{z}/{x}/{y}.png`).addTo(
				this.map
			);

			let markerOption = {
				color: '#FFF',
				fillOpacity: 0.7,
				weight: 1,
				radius: 30,
				fillColor: '#41BA41',
				clusterData: {}
			};
			let circle = L.circleMarker(
				[this.center.lat, this.center.lng],
				markerOption
			).addTo(this.map);
		});
	}
};
</script>

<style scoped>
.map-style {
	width: 100%;
	height: 300px;
}
</style>
