<template>
	<div class="map-container" :class="grid">
		<gmap-map
			style="width: 100%; height: 300px;"
			:center="center"
			:zoom="16"
			:options="options"
		>
			<gmap-marker :position="center" :icon="icon"></gmap-marker>
		</gmap-map>
	</div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';

Vue.use(VueGoogleMaps, {
	load: {
		key: process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY
	}
});

export default {
	data() {
		return {
			options: {
				minZoom: 14,
				maxZoom: 16,
				streetViewControl: false
			},
			icon: {
				path: 'M-20,0a20,20 0 1,0 40,0a20,20 0 1,0 -40,0',
				fillOpacity: 0.7,
				fillColor: '#41BA41',
				strokeOpacity: 1.0,
				strokeColor: '#fff',
				strokeWeight: 2.0,
				scale: 1.5
			}
		};
	},
	props: {
		grid: {
			type: String,
			required: true
		},
		center: {
			type: Object,
			required: true
		}
	}
};
</script>

<style scoped></style>
