<template>
	<modal
		id="commonMamiModalWrap"
		effect="fade"
		:class="{ '--is-bottom-drawer': isBottomDrawer }"
		:value="showModal"
		:backdrop="isBackdropClose"
		:small="isModalSmall"
		@closed="closeModal"
	>
		<div class="modal-container">
			<div class="modal-button-close">
				<filter-close-button @press="closeModal"></filter-close-button>
			</div>

			<slot></slot>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		isBackdropClose: {
			type: Boolean,
			default: false
		},
		isModalSmall: {
			type: Boolean,
			default: true
		},
		isBottomDrawer: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		closeModal() {
			if (this.showModal) {
				this.$emit('close');
			}
		}
	}
};
</script>

<style lang="scss">
$dark-grey: #999;

#commonMamiModalWrap {
	.modal {
		&.in {
			display: flex !important;
			justify-content: center;
			align-items: center;
		}
	}

	.btn-close-filter {
		color: $dark-grey;

		&.has-text {
			&:after {
				display: none;
			}
		}

		@media (max-width: 767px) {
			line-height: 1.5;
		}
	}

	&.--is-bottom-drawer {
		@media (max-width: 767px) {
			.modal-dialog {
				position: absolute;
				bottom: 0;
				margin: 0 auto !important;
				border: none;
				max-width: 100% !important;
			}

			.modal-content {
				border-bottom-right-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
			}

			&.modal.fade .modal-dialog {
				transform: translate3d(0, 100vh, 0) !important;
			}

			&.modal.in .modal-dialog {
				transform: translate3d(0, 1px, 0) !important;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-container {
	.modal-button-close {
		display: flex;
		justify-content: flex-end;
		font-size: 2em;
		margin-top: -1.5rem;

		span {
			cursor: pointer;
		}
	}
}
</style>
