<template>
	<div class="mami-loading-circle">
		<svg
			class="mami-loading-circle__the-circle"
			width="28"
			height="28"
			viewBox="0 0 28 28"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M25.1712 18.5263C25.7062 17.1551 26 15.6616 26 14.099C26 7.4169 20.6274 2 14 2C7.37258 2 2 7.4169 2 14.099C2 20.0327 6.2366 24.9688 11.8264 26"
				stroke="#1BAA56"
				stroke-width="3"
			/>
		</svg>
	</div>
</template>

<script>
export default {
	name: 'MamiLoadingCircle'
};
</script>

<style lang="scss" scoped>
.mami-loading-circle {
	text-align: center;
	&__the-circle {
		animation: spinner 2s linear infinite;
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>
