<template>
	<div class="mami-loading-list">
		<p v-if="inline">
			<span
				class="glyphicon glyphicon-repeat glyphicon-repeat-animate"
				v-if="icon == 'glyph'"
			></span>

			<i class="fa fa-circle-o-notch fa-spin" v-else-if="icon == 'fa'"></i>
			&nbsp;{{ text }}
		</p>

		<p v-if="!inline">
			{{ text }}
		</p>

		<span
			class="glyphicon glyphicon-repeat glyphicon-repeat-animate"
			v-if="!inline && icon == 'glyph'"
		></span>
		<i class="fa fa-circle-o-notch fa-spin" v-if="!inline && icon == 'fa'"></i>
	</div>
</template>

<script>
export default {
	props: {
		text: {
			type: String
		},
		inline: {
			type: Boolean,
			default: false
		},
		icon: {
			type: String,
			default: 'glyph'
		}
	}
};
</script>

<style scoped>
.mami-loading-list {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.mami-loading-list > p {
	font-size: 18px;
}
.mami-loading-list .fa,
.mami-loading-list .glyphicon {
	color: #1baa56;
}

.glyphicon-repeat-animate {
	-animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}
</style>
