<template>
	<div id="mamiShareContainer" class="mami-share-container">
		<button
			v-if="isSupportNativeShare"
			type="button"
			class="btn btn-action"
			@click="shareThisPage"
		>
			<img
				src="/general/img/icons/ic_share_grey.svg"
				alt="ic_share_grey"
				title="icon share grey"
			/>
			<span>Bagikan</span>
		</button>

		<social-sharing
			v-else
			:url="urlShare"
			inline-template
			@open="network => $emit('track', network)"
		>
			<div>
				<network network="facebook">
					<img
						src="/general/img/icons/ic_facebook_edge.svg"
						class="social-icon"
					/>
				</network>

				<network network="twitter">
					<img src="/general/img/icons/ic_twitter.svg" class="social-icon" />
				</network>

				<network network="linkedin">
					<img src="/general/img/icons/ic_linkedin.svg" class="social-icon" />
				</network>

				<network network="whatsapp">
					<img src="/general/img/icons/ic_whatsapp.svg" class="social-icon" />
				</network>
			</div>
		</social-sharing>
	</div>
</template>

<script>
import SocialSharing from 'vue-social-sharing';

export default {
	components: {
		SocialSharing
	},

	data() {
		return {
			urlShare: '',
			isSupportNativeShare: false
		};
	},

	created() {
		this.assignUrlShare();
	},

	mounted() {
		this.checkNativeShareSupport();
	},

	methods: {
		checkNativeShareSupport() {
			if ('share' in navigator) {
				this.isSupportNativeShare = true;
			} else {
				this.isSupportNativeShare = false;
			}
		},
		assignUrlShare() {
			this.urlShare = `https://${location.host}${location.pathname}`;
		},
		shareThisPage() {
			navigator.share({
				title: document.title,
				text:
					document.head.querySelector('meta[name="description"]') == null
						? 'Cek halaman ini di Mamikos.com'
						: document.head.querySelector('meta[name="description"]').content,
				url: window.location.href
			});
			this.$emit('track');
		}
	}
};
</script>

<style lang="scss">
#mamiShareContainer {
	span {
		&:focus {
			outline: none;
		}
	}
	.social-icon {
		height: 40px;
		margin: 2px;
		cursor: pointer;
	}

	.btn-action {
		display: flex;
		color: #333;
		background-color: #fff;
		border: 1px solid #bfbaba;
		align-items: center;

		&:focus {
			outline: none !important;
		}

		img {
			height: 1.42em;
			margin-right: 0.7rem;
		}
	}
}
</style>
