<template>
	<footer class="mami-footer" :class="{ '--compact': viewType === 'COMPACT' }">
		<ComplaintModal
			v-if="isComplaintModalLoaded"
			:open-modal.sync="isComplaintModalOpened"
		/>

		<div class="container">
			<div class="footer-content">
				<div class="product-identity">
					<img
						v-lazy="{
							src: '/assets/logo/svg/logo_mamikos_green.svg',
							error: '/general/img/icons/ic_placeholder_loading.svg'
						}"
						alt="Mamikos.com"
					/>

					<div class="product-value-proposition">
						<h4>Dapatkan "info kos murah" hanya di MamiKos App.</h4>
						<h4>Mau "Sewa Kost Murah"?</h4>
					</div>

					<div class="product-download">
						<a
							v-for="(appStore, i) in appStores"
							:key="i"
							:href="appStore.redirectUrl"
							:rel="appStore.rel"
							@click.prevent="handleClickDownload(appStore)"
						>
							<img v-lazy="appStore.imgSrc" :alt="appStore.label" height="50" />
						</a>
					</div>
				</div>

				<div class="site-links --desktop">
					<h5>MAMIKOS</h5>
					<a
						v-for="link in links"
						:key="link.name"
						:href="link.url"
						target="_blank"
						:rel="link.rel"
					>
						<h6>{{ link.name }}</h6>
					</a>
				</div>

				<div class="site-links --desktop">
					<h5>KEBIJAKAN</h5>
					<a
						v-for="link in policyLinks"
						:key="link.name"
						:href="link.url"
						target="_blank"
						:rel="link.rel"
					>
						<h6>{{ link.name }}</h6>
					</a>
				</div>

				<div class="site-links">
					<h5>HUBUNGI KAMI</h5>
					<div class="site-links-social">
						<a
							v-for="link in socialLinks"
							:key="link.name"
							:href="link.url"
							target="_blank"
							:rel="link.rel"
						>
							<img v-lazy="link.imgSrc" :alt="link.name" />
						</a>
					</div>

					<div class="site-links-contact">
						<a
							v-for="link in contactLinks"
							:key="link.name"
							:href="link.url"
							@click.prevent="handleContactClick(link)"
						>
							<div class="site-links-contact-image">
								<img v-lazy="link.imgSrc" :alt="link.name" />
							</div>
							<p>{{ link.name }}</p>
						</a>
						<div class="whatsapp-contact">
							<div class="site-links-contact-image">
								<img
									v-lazy="'/assets/home-mobile/telp.png'"
									alt="whatsapp icon"
								/>
							</div>
							<div class="whatsapp-contact-list-wrapper">
								<p>Customer Service (whatsapp only)</p>
								<div class="whatsapp-contact-list">
									<p class="--flex">
										<a
											href="https://wa.me/6281325111171"
											target="_blank"
											rel="noopener"
										>
											0813-2511-1171
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="mobile-links --mobile">
					<a
						v-for="link in mobileLinks"
						:key="link.name"
						:href="link.url"
						target="_blank"
						:rel="link.rel"
					>
						<h6>{{ link.name }}</h6>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© {{ currentYear }} Mamikos.com, All rights reserved
			</div>
		</div>
	</footer>
</template>

<script>
import _get from 'lodash/get';
import VueLazyload from 'vue-lazyload';
import MixinComplaintHandler from 'Js/@mixins/MixinComplaintHandler';

Vue.use(VueLazyload);

export default {
	mixins: [MixinComplaintHandler],

	props: {
		// Currently footer only have 2 viewType COMPACT and default (empty string)
		viewType: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			appStores: [
				{
					name: 'Google Play',
					label: 'GET IT ON Google Play',
					redirectUrl:
						'https://play.google.com/store/apps/details?id=com.git.mami.kos&utm_campaign=DAppAndroFooter&utm_source=DownloadAppFooter&utm_medium=DownloadAppFooter&utm_term=DownloadAppFooter',
					imgSrc: '/general/img/pictures/download_gplay.png',
					rel: 'nofollow noopener'
				},
				{
					name: 'App Store',
					label: 'Available on the App Store',
					redirectUrl: 'https://itunes.apple.com/id/app/mami-kos/id1055272843',
					imgSrc: '/general/img/pictures/download_ios.png',
					rel: 'nofollow noopener'
				}
			],
			links: [
				{
					name: 'Tentang Kami',
					url: '/tentang-kami'
				},
				{
					name: 'Job Mamikos',
					url: '/career'
				},
				{
					name: 'Promosikan Kost Anda',
					url: '/promosi-kost'
				},
				{
					name: 'Pusat Bantuan',
					url: 'https://help.mamikos.com/booking/user',
					rel: 'nofollow noopener'
				}
			],
			policyLinks: [
				{
					name: 'Kebijakan Privasi',
					url: '/privacy'
				},
				{
					name: 'Syarat dan Ketentuan Umum',
					url:
						'https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&subCategory=syarat-dan-ketentuan-umum&slug=syarat-dan-ketentuan-umum',
					rel: 'nofollow noopener'
				}
			],
			socialLinks: [
				{
					name: 'Facebook',
					imgSrc: '/assets/home-mobile/facebook.png',
					url:
						'https://www.facebook.com/Mamikos-Cari-Kos-Gampang-1043376389026435/?fref=ts',
					rel: 'nofollow noopener'
				},
				{
					name: 'Twitter',
					imgSrc: '/assets/home-mobile/twitter.png',
					url: 'https://twitter.com/mamikosapp',
					rel: 'nofollow noopener'
				},
				{
					name: 'Instagram',
					imgSrc: '/assets/home-mobile/instagram.png',
					url: 'https://www.instagram.com/mamikosapp/',
					rel: 'nofollow noopener'
				}
			],
			contactLinks: [
				{
					name: 'cs@mamikos.com',
					imgSrc: '/assets/home-mobile/email.png',
					url: 'mailto:cs@mamikos.com',
					action: this.openComplaintModal
				}
			],
			mobileLinks: [
				{
					name: 'Tentang Kami',
					url: '/tentang-kami'
				},
				{
					name: 'Pusat Bantuan',
					url: 'https://help.mamikos.com/booking/user',
					rel: 'nofollow noopener'
				},
				{
					name: 'Kebijakan Privasi',
					url: '/privacy'
				},
				{
					name: 'Syarat dan Ketentuan Umum',
					url:
						'https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&subCategory=syarat-dan-ketentuan-umum&slug=syarat-dan-ketentuan-umum',
					rel: 'nofollow noopener'
				}
			],
			currentYear: new Date().getFullYear()
		};
	},

	computed: {
		authCheck() {
			return authCheck;
		},
		isOwner() {
			return _get(authCheck, 'owner');
		},
		isLogin() {
			return _get(authCheck, 'all');
		}
	},

	methods: {
		handleClickDownload(appStore) {
			const isGooglePlay = appStore.name === 'Google Play';
			const moEngageData = {
				google_play_click: isGooglePlay,
				app_store_click: !isGooglePlay
			};

			if (this.isLogin) moEngageData.is_owner = this.isOwner;

			tracker('moe', ['Download App Click', moEngageData]);

			const redirectWindow = window.open();
			redirectWindow.opener = null;
			redirectWindow.location = appStore.redirectUrl;
		},

		handleContactWhatsapp(number) {
			window.location.href = `https://api.whatsapp.com/send?phone=${number}&text=Hai%20Mamikos%2C`;
		},

		handleContactClick(link) {
			if (typeof link.action === 'function') {
				link.action();
			} else {
				window.location.href = link.url;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */
.mami-footer {
	padding: 28px 0;

	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	a {
		display: inline-block;
	}

	.footer-copyright {
		margin-top: 16px;
		border-top: 1px solid rgba(153, 153, 153, 0.5);
		padding: 28px 0;
		text-align: right;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	.footer-content {
		display: flex;
		justify-content: space-between;

		.product-identity {
			> img {
				height: 40px;
				margin-bottom: 16px;
			}

			.product-value-proposition {
				margin-bottom: 24px;

				h4 {
					font-size: 14px;
				}
			}

			.product-download {
				a {
					margin-right: 8px;

					img {
						height: 45px;
					}
				}
			}
		}

		.site-links {
			display: flex;
			flex-direction: column;

			a {
				color: #000000;
			}

			h5 {
				font-weight: bold;
				font-size: 14px;
				margin-bottom: 20px;
			}

			h6 {
				font-size: 12px;
				margin-bottom: 16px;
			}

			&.--desktop {
				@media (max-width: 991px) {
					display: none;
				}
			}
		}

		.site-links-social {
			display: flex;

			a {
				margin-right: 8px;
				margin-bottom: 16px;
			}

			img {
				height: 28px;
			}
		}

		.site-links-contact {
			display: flex;
			flex-direction: column;

			a {
				display: flex;
				align-items: center;
				margin-bottom: 16px;
			}

			.site-links-contact-image {
				border-radius: 50%;
				height: 40px;
				width: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 12px;
				background: #f4f4f4;

				img {
					height: 16px;
				}
			}

			p {
				font-size: 12px;

				a {
					margin-bottom: 0;
				}
			}

			@media (max-width: 991px) {
				p {
					font-size: 14px;
				}

				a:last-child {
					margin-bottom: 0;
				}
			}

			.whatsapp-contact {
				display: flex;
				color: #000;

				.whatsapp-contact-list-wrapper {
					display: flex;
					align-items: flex-start;
					padding-top: 8px;
					flex-direction: column;

					@media (max-width: 991px) {
						width: 115px;
						text-align: left;
					}

					.whatsapp-contact-list {
						display: flex;
						margin-top: 10px;
						align-items: flex-start;
						flex-direction: column;
					}
				}
			}
		}

		.mobile-links {
			a {
				color: #000000;
			}
			h6 {
				font-size: 14px;
				margin-bottom: 0;
				padding: 0 4px;
				border-left: 1px solid;
			}

			a:first-child {
				h6 {
					border-left: none;
				}
			}

			&.--mobile {
				@media (min-width: 992px) {
					display: none;
				}
			}
		}

		@media (max-width: 991px) {
			flex-direction: column;

			.product-identity,
			.site-links,
			.mobile-links {
				text-align: center;
				margin-right: 0;
				margin-bottom: 24px;
			}

			.site-links-social {
				justify-content: center;
			}

			.site-links-contact {
				align-items: center;
			}
		}
	}

	&.--compact {
		.container {
			max-width: 100% !important;
		}

		.footer-copyright {
			text-align: center;
		}

		.footer-content {
			flex-direction: column;
		}

		.site-links.--desktop {
			display: none;
		}

		.mobile-links {
			display: block !important;
		}

		.mobile-links,
		.product-identity,
		.site-links {
			text-align: center;
			margin-right: 0;
			margin-bottom: 24px;
		}

		.site-links-social {
			justify-content: center;
		}

		.site-links-contact {
			align-items: center;

			p {
				font-size: 14px;
			}

			a:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.--flex {
	display: flex;

	@media (max-width: 991px) {
		flex-direction: column;
	}
}
.--divider {
	padding: 0 4px;

	@media (max-width: 991px) {
		display: none;
	}
}
</style>
