<template>
	<div class="modal fade" role="dialog" id="mamiLoading">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isClosed: false
		};
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', val);
			} else {
				this.$emit('opened', val);
			}
		}
	},
	mounted() {
		$('#mamiLoading').on('show.bs.modal', e => {
			this.isClosed = false;
		});
		$('#mamiLoading').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	methods: {
		openModal() {
			$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });
		},
		closeModal() {
			$('#mamiLoading').modal('hide');
		}
	}
};
</script>

<style lang="scss" scoped>
#mamiLoading .modal-content {
	border: 1px solid #3cb33c;
}
#mamiLoading .spinner {
	margin: 35px auto 30px;
	width: auto;
	text-align: center;
}
#mamiLoading .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #3cb33c;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
#mamiLoading .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
#mamiLoading .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}
@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
</style>
