<template>
	<div class="alert alert-success --is-custom-alert" role="alert">
		<img v-lazy="`/general/img/icons/${icon}`" :alt="alt" />
		<span>{{ description }}</span>
	</div>
</template>

<script>
export default {
	props: {
		icon: {
			type: String,
			default: ''
		},
		alt: {
			type: String,
			default: ''
		},
		description: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss" scoped>
.--is-custom-alert {
	padding: 1rem;
	margin-top: 1.1rem;
	color: #595959;
	background: #fcfcfc;
	border: 1px solid #f4f4f4;

	img {
		width: 16px;
		margin-right: 1rem;
		vertical-align: text-bottom;
	}
}
</style>
