<template>
	<ul class="mami-steppers mami-steppers-steps" ref="mami-steppers">
		<slot v-if="$slots.steps" name="steps"></slot>
		<li
			v-for="(step, index) in steps"
			v-else
			:key="index"
			class="mami-steppers-step"
			:class="mamiSteppersStepClass(index)"
		>
			<div class="mami-steppers-icon">
				<icon-check-round
					v-if="index <= activeStep"
					class="mami-steppers-icon__active"
				/>
				<div v-else class="mami-steppers-icon__inactive" />
			</div>
			<div class="mami-steppers-label">
				<span v-if="stepLabel" v-html="step[stepLabel]"></span>
				<span v-else v-html="step"></span>
				<slot v-if="$slots.step" name="step" :step="step" :index="index"></slot>
			</div>
		</li>
	</ul>
</template>

<script>
import IconCheckRound from 'Js/@icons/CheckRound';

export default {
	components: {
		IconCheckRound
	},
	model: {
		prop: 'activeStep',
		event: 'change'
	},
	props: {
		steps: {
			type: Array,
			default: () => []
		},
		activeStep: {
			type: Number,
			default: 0
		},
		stepLabel: {
			type: String,
			default: ''
		},
		stepTemplate: {
			type: String,
			default: ''
		},
		labelBold: {
			type: Boolean,
			default: false
		}
	},
	watch: {
		activeStep(value, oldValue) {
			if (this.$slots.steps) {
				this.toggleActiveClass('add', value);
				this.toggleActiveClass('remove', oldValue);
			}
		}
	},
	mounted() {
		if (this.$slots.steps) {
			this.toggleActiveClass('add', this.activeStep);
		}
	},
	methods: {
		toggleActiveClass(type, index) {
			this.$refs['mami-steppers'].children[index].classList[type]('is-active');
		},
		mamiSteppersStepClass(index) {
			return {
				'is-active': this.activeStep === index,
				'is-bold': this.labelBold
			};
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Sass/_variables.scss';

.mami-steppers {
	%remaining-steps {
		&::after {
			background-color: $brand-primary;
		}
	}

	&-icon {
		width: 32px;
		height: 32px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 50%;

		&__inactive {
			border: 4px solid #e8e8e8;
			border-radius: 50%;
		}

		&__active {
			color: $brand-primary;
		}

		> * {
			width: 100%;
			height: 100%;
		}
	}

	&-label {
		margin-top: 6px;
		font-size: 14px;
		line-height: 20px;
		color: #404040;
	}

	&-steps {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding-inline-start: 0;
		list-style: none;
		margin-bottom: 0;

		> * {
			text-align: center;
			display: table-cell;
			position: relative;
			color: $text-color;
			vertical-align: top;

			&.is-bold {
				font-weight: bold;
			}

			&::after {
				content: '';
				height: 4px;
				width: 100%;
				background-color: $brand-primary;
				position: absolute;
				top: 14px;
				left: 50%;
				z-index: -1;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			&.is-active {
				@extend %remaining-steps;

				~ *:not(:last-of-type)::after {
					background-color: #e8e8e8;
				}

				&::after {
					background-color: $brand-primary;
				}
			}
		}
	}
}
</style>
