<template>
	<div class=" container page-footer">
		<ComplaintModal
			v-if="isComplaintModalLoaded"
			:open-modal.sync="isComplaintModalOpened"
		/>
		<div class="logo-footer">
			<img
				v-lazy="'/general/img/pictures/promotion/mamikos_logo_white.svg'"
				alt="mamikos_logo"
			/>
		</div>

		<div class="text-footer" v-if="isShowDownloadCard">
			<h5>Dapatkan "info kost murah" hanya di MamiKos App.</h5>
			<h5>Mau "Sewa Kost Murah"?</h5>
			<h5><strong>Download MamiKos App Sekarang!</strong></h5>
		</div>

		<div class="link-footer">
			<a v-if="!isAboutUsPage" href="/career" target="_blank">
				<h3>Job MamiKos</h3>
			</a>

			<template v-if="isAboutUsPage">
				<a
					v-if="isOwner"
					href="https://help.mamikos.com/booking/owner"
					target="_blank"
					rel="noopener"
					><h3>Pusat Bantuan</h3></a
				>

				<a
					v-else
					href="https://help.mamikos.com/booking/user"
					target="_blank"
					rel="noopener"
					><h3>Pusat Bantuan</h3></a
				>
			</template>

			<span>&nbsp;|&nbsp;</span>

			<a href="/tentang-kami" :target="isAboutUsPage ? '_self' : '_blank'"
				><h3>Tentang Kami</h3></a
			>

			<span>&nbsp;|&nbsp;</span>

			<a id="promosiKost" href="/promosi-kost" target="_blank">
				<h3>Promosikan Kost Anda - GRATIS</h3>
			</a>

			<span>&nbsp;|&nbsp;</span>

			<a href="/privacy" target="_blank"><h3>Kebijakan Privasi</h3></a>

			<span>&nbsp;|&nbsp;</span>

			<a
				href="https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&subCategory=syarat-dan-ketentuan-umum&slug=syarat-dan-ketentuan-umum"
				rel="noopener"
				target="_blank"
				>Syarat dan Ketentuan Umum</a
			>

			<template v-if="!isAboutUsPage">
				<span>&nbsp;|&nbsp;</span>

				<a
					v-if="isOwner"
					href="https://help.mamikos.com/booking/owner"
					rel="noopener"
					target="_blank"
					><h3>Pusat Bantuan</h3></a
				>

				<a
					v-else
					href="https://help.mamikos.com/booking/user"
					target="_blank"
					rel="noopener"
					><h3>Pusat Bantuan</h3></a
				>
			</template>
		</div>

		<div class="social-footer">
			<a
				href="https://www.facebook.com/Mamikos-Cari-Kos-Gampang-1043376389026435/?fref=ts"
				target="_blank"
				rel="nofollow noopener"
			>
				<img
					class="footer-icon"
					v-lazy="'/general/img/pictures/promotion/006-facebook-logo.svg'"
					alt="facebook-icon"
				/>
			</a>
			<span class="separator"></span>
			<a
				href="https://twitter.com/mamikosapp"
				target="_blank"
				rel="nofollow noopener"
			>
				<img
					class="footer-icon"
					v-lazy="'/general/img/pictures/promotion/005-twitter-logo.svg'"
					alt="twitter-icon"
				/>
			</a>
			<span class="separator"></span>
			<a :href="instagramUrl" target="_blank" rel="nofollow noopener">
				<img
					class="footer-icon"
					v-lazy="'/general/img/pictures/promotion/004-instagram-logo.svg'"
					alt="instagram-icon"
				/>
			</a>
			<template v-if="isCareerPage">
				<span class="separator"></span>
				<a
					href="https://www.linkedin.com/company/mamikos/"
					target="_blank"
					rel="nofollow noopener"
				>
					<img
						class="footer-icon"
						v-lazy="'/general/img/pictures/promotion/011-icon-linkedin.svg'"
						alt="linkedin-icon"
					/>
				</a>
			</template>
		</div>

		<hr class="footer-line" />

		<div class="contact-footer">
			<h3 v-if="hasContactUsLabel" class="contact-footer-label">
				Hubungi Kami :
			</h3>
			<div class="contact-footer-action">
				<a href="mailto:cs@mamikos.com" @click.prevent="openComplaintModal">
					<img
						class="icon-contact-footer"
						v-lazy="'/general/img/pictures/promotion/001-envelope.svg'"
						alt="email-icon"
					/>
					<h3 class="text-contact-footer">cs@mamikos.com</h3>
				</a>
				<a href="https://wa.me/6281325111171" rel="nofollow noopener">
					<img
						class="icon-contact-footer"
						v-lazy="'/general/img/pictures/promotion/002-whatsapp-logo.svg'"
						alt="whatsapp-icon"
					/>
					<h3 class="text-contact-footer">0813-2511-1171 (Whatsapp Only)</h3>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
import MixinComplaintHandler from 'Js/@mixins/MixinComplaintHandler';

export default {
	mixins: [MixinComplaintHandler],

	props: {
		isCareerPage: {
			type: Boolean,
			default: false
		},
		isShowDownloadCard: {
			type: Boolean,
			default: true
		},
		hasContactUsLabel: {
			type: Boolean,
			default: false
		},
		isAboutUsPage: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			isOwner: authCheck.owner
		};
	},

	computed: {
		instagramUrl() {
			return this.isCareerPage
				? 'https://www.instagram.com/mamikos_talent/'
				: 'https://www.instagram.com/mamikosapp/';
		}
	}
};
</script>

<style lang="scss" scoped>
.page-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
.logo-footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-footer {
	text-align: center;
	color: #ffffff;
	margin-top: 40px;
}

.link-footer,
.social-footer,
.contact-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.link-footer {
	> a {
		color: #fff;

		h3 {
			display: inline-block;
			font-size: 1em;
			margin-bottom: 0;
			margin-top: 0;
		}

		@media screen and (min-width: 767px) {
			margin-right: 10px;
			margin-left: 10px;
			color: #fff;
		}
	}

	> span {
		color: #fff;
	}
}

.social-footer {
	> a {
		margin-right: 5px;
		margin-left: 5px;
	}

	.footer-icon {
		width: 30px;
		color: #fff;
	}
}

.footer-line {
	max-width: 1366px;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.contact-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	.icon-contact-footer {
		width: 20px;
		color: #fff;
	}

	.text-contact-footer {
		font-size: 11px;
		font-weight: bold;
	}

	.contact-footer-action {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		> a {
			color: #fff;
			text-decoration: none;
			margin-right: 2px;
			margin-left: 2px;

			h3 {
				display: inline;
				font-size: 1em;
			}
		}
	}
}

.separator {
	margin: 0 2rem;
}
</style>
