<template>
	<modal
		id="modalMamiLoading"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
	>
		<div class="loading-container">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
#modalMamiLoading {
	.spinner {
		margin: 35px auto 30px;
		width: auto;
		text-align: center;

		> div {
			width: 18px;
			height: 18px;
			background-color: #3cb33c;
			border-radius: 100%;
			display: inline-block;
			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}

		.bounce1 {
			animation-delay: -0.32s;
		}

		.bounce2 {
			animation-delay: -0.16s;
		}
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
</style>
