<template>
	<header class="navbar-owner-dashboard" :class="chatOnlyOnMobileClass">
		<div class="navbar-owner-dashboard__logo">
			<a href="/">
				<img
					class="navbar-owner-dashboard__logo-desktop"
					src="/assets/logo/svg/logo_mamikos_green.svg"
				/>
			</a>
		</div>

		<ul class="navbar-owner-dashboard__menu">
			<li class="navbar-owner-dashboard__menu-item">
				<a
					href="https://help.mamikos.com/booking/owner"
					class="navbar-owner-dashboard__menu-item-link"
					tabindex="0"
				>
					<bg-text size="body-2">Pusat Bantuan</bg-text>
				</a>
				<div class="navbar-owner-dashboard__menu-item-border"></div>
			</li>

			<li class="navbar-owner-dashboard__menu-item">
				<a
					class="navbar-owner-dashboard__menu-item-link chat-menu"
					@click.stop="handleToggleChat"
				>
					<bg-text size="body-2">Chat</bg-text>
					<bg-badge-counter
						v-if="unreadMessages"
						:value="unreadMessages"
						class="chat-menu__counter"
					/>
				</a>
				<div class="navbar-owner-dashboard__menu-item-border"></div>
			</li>

			<li ref="notificationMenu" class="navbar-owner-dashboard__menu-item">
				<a
					class="navbar-owner-dashboard__menu-item-link notification-menu"
					@click="
						handleMenuClicked(
							$event,
							'isNotificationDropdownOpened',
							'notificationMenu'
						)
					"
				>
					<bg-icon name="notification" />
					<bg-badge-counter
						v-if="notifCount"
						:value="notifCount"
						class="notification-menu__counter"
					/>
				</a>
				<notif-owner
					:class="{
						'navbar-owner-dashboard__menu-dropdown-visible': isNotificationDropdownOpened
					}"
					:notifications="notifData"
					:count="notifCount"
					:is-owner-data="!!ownerHasProfileData"
					:loading="isLoading"
					class="navbar-owner-dashboard__notification navbar-owner-dashboard__menu-dropdown"
				/>

				<div class="navbar-owner-dashboard__menu-item-border"></div>
			</li>

			<li ref="userMenu" class="navbar-owner-dashboard__menu-item">
				<a
					class="navbar-owner-dashboard__menu-item-link user-menu"
					@click="handleMenuClicked($event, 'isUserDropdownOpened', 'userMenu')"
				>
					<img
						v-if="ownerHasProfileData"
						v-lazy="{
							src: userData.all.photo_user,
							error: '/assets/icons/ic_akun_user.png'
						}"
						class="navbar-owner-dashboard__avatar"
					/>
					<img
						v-else
						:src="userData.all.photo_user"
						class="navbar-owner-dashboard__avatar"
						@error="setImageError"
					/>
					<bg-text size="body-2" class="navbar-owner-dashboard__username">
						{{ trimmedUsername }}
					</bg-text>
				</a>
				<div class="navbar-owner-dashboard__menu-item-border"></div>

				<div
					class="navbar-owner-dashboard__user navbar-owner-dashboard__menu-dropdown"
					:class="{
						'navbar-owner-dashboard__menu-dropdown-visible': isUserDropdownOpened
					}"
				>
					<bg-text size="body-1" class="navbar-owner-dahsboard__user-name">
						{{ trimmedUsername }}
					</bg-text>

					<bg-text size="body-4" class="navbar-owner-dashboard__user-email">
						{{ userShowInfo }}
					</bg-text>

					<div @click="handleSettingClicked">
						<bg-text class="navbar-owner-dashboard__user-setting" size="body-3">
							Setelan Akun
						</bg-text>
					</div>

					<bg-divider />

					<div @click="handleLogoutClicked">
						<bg-text class="navbar-owner-dashboard__user-logout" size="body-1">
							Logout
						</bg-text>
					</div>
				</div>
			</li>
		</ul>
		<template
			v-if="
				deviceType === 'desktop' ||
					(deviceType === 'mobile' && isChatOnlyOnMobile)
			"
		>
			<owner-chat-widget
				:is-chat-open="isChatOpen"
				:footer-text="footerText"
				@handle-close-chat="handleToggleChat"
				@handle-set-unread-messages="handleSetUnreadMessages"
			/>
			<span
				v-show="isChatOpen"
				class="navbar-owner-dashboard__overlay"
				@click="handleToggleChat"
			/>
		</template>
	</header>
</template>

<script>
/* eslint-disable no-undef */
import 'bangul-vue/dist/bangul.css';
import { mapState, mapMutations } from 'vuex';
import { BgDivider, BgIcon, BgText, BgBadgeCounter } from 'bangul-vue';
import NotifOwner from 'Js/@components/NotifOwner';
import OwnerChatWidget from 'Js/owner/components/OwnerChatWidget';

export default {
	components: {
		BgDivider,
		BgIcon,
		BgText,
		BgBadgeCounter,
		NotifOwner,
		OwnerChatWidget
	},

	props: {
		isChatOnlyOnMobile: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			notifData: [],
			getDataProfile: [],
			unreadMessages: 0,
			isLoading: false,
			isUserDropdownOpened: false,
			isNotificationDropdownOpened: false
		};
	},

	computed: {
		...mapState(['isChatOpen']),
		chatOnlyOnMobileClass() {
			const baseClass = 'navbar-owner-dashboard--chat-only-mobile';
			const chatOpen = `${baseClass}--open`;

			return {
				[baseClass]: this.isChatOnlyOnMobile,
				[chatOpen]: this.isChatOnlyOnMobile && this.isChatOpen
			};
		},
		footerText() {
			return this.unreadMessages
				? `${this.unreadMessages} belum terbaca`
				: 'Chat kosong';
		},
		deviceType() {
			return navigator.isMobile ? 'mobile' : 'desktop';
		},
		ownerHasProfileData() {
			return this.$store && this.$store.state.profile;
		},
		checkOwnerStatisticPage() {
			const state = window.location.href;
			return state.includes('/ownerpage/statistics');
		},
		authCheck() {
			try {
				return this.$store.state.authCheck;
			} catch (e) {
				return this.$root.state.authCheck;
			}
		},
		username() {
			try {
				return this.$store.state.authData.all.name || '';
			} catch (e) {
				return this.$root.state.authData.all.name || '';
			}
		},
		trimmedUsername() {
			const username = this.username;

			return username && username.length > 30
				? `${username.substring(0, 30)}...`
				: username;
		},
		userData() {
			try {
				return this.$store.state.authData;
			} catch (e) {
				return this.$root.state.authData;
			}
		},
		userEmail() {
			try {
				return this.$store.state.authData.all.email || '';
			} catch (e) {
				return this.$root.state.authData.all.email || '';
			}
		},
		userPhoneNumber() {
			try {
				return this.$store.state.authData.all.phone_number || '';
			} catch (e) {
				return this.$root.state.authData.all.phone_number || '';
			}
		},
		userShowInfo() {
			return this.userPhoneNumber || this.userEmail;
		},

		profile() {
			if (this.ownerHasProfileData) {
				return this.$store.state.profile;
			} else {
				return this.getDataProfile;
			}
		},
		notifCount() {
			if (this.ownerHasProfileData) {
				if (this.profile.user) {
					return this.profile.user.notification_count;
				}
			}
			return 0;
		},
		isGoldPlusOwner() {
			return this.profile.gp_status || '';
		},
		isMamiRooms() {
			return this.profile.is_mamirooms || '';
		},
		isPremium() {
			return (
				!this.profile.membership.expired &&
				this.profile.membership.status === 'Premium'
			);
		},
		isBbk() {
			return (
				this.profile.membership.is_mamipay_user &&
				this.profile.is_booking_all_room
			);
		}
	},

	watch: {
		isUserDropdownOpened(value) {
			if (value) {
				tracker('moe', [
					'[Owner] OD Profile - Profile Clicked',
					{
						owner_name: this.username,
						owner_phone_number: this.userPhoneNumber,
						owner_email: this.userEmail,
						goldplus_status: this.isGoldPlusOwner,
						is_premium: this.isPremium,
						is_mamirooms: this.isMamiRooms,
						is_booking: this.isBbk,
						interface: this.deviceType
					}
				]);
			}
		},
		isNotificationDropdownOpened(value) {
			if (value) {
				tracker('moe', [
					'Notification Screen Viewed',
					{
						is_owner: true,
						interface: this.deviceType
					}
				]);
			}
		},
		isChatOpen(isOpen) {
			if (isOpen) {
				this.handleChatMoEngage();
			}
		}
	},

	created() {
		if (this.checkOwnerStatisticPage) {
			this.getProfile();
		}
	},

	methods: {
		...mapMutations(['setIsChatOpen']),
		handleSetUnreadMessages(payload) {
			this.unreadMessages = payload;
		},
		handleToggleChat() {
			if (this.isChatOpen) {
				const closeChatElement = document.querySelector('.ic-close');
				closeChatElement && closeChatElement.click();
				document.body.style.overflow = 'unset';
			} else {
				document.body.style.overflow = 'hidden';
			}

			this.setIsChatOpen(!this.isChatOpen);
		},
		handleChatMoEngage() {
			const moEngageData = {
				interface: this.deviceType,
				is_owner: true,
				redirection_source: 'owner dashboard'
			};
			tracker('moe', ['Chat Screen Viewed', moEngageData]);
		},
		handleMenuClicked(e, flagname, refName) {
			const focusClassName = 'navbar-owner-dashboard__menu-item--focus';
			this.openedMenu = refName;
			this[flagname] = !this[flagname];

			if (flagname === 'isNotificationDropdownOpened') {
				this.isUserDropdownOpened = false;
				this.$refs.notificationMenu.classList.toggle(focusClassName);
				this.$refs.userMenu.classList.remove(focusClassName);
				this.getNotifications();
			} else {
				this.$refs.userMenu.classList.toggle(focusClassName);
				this.$refs.notificationMenu.classList.remove(focusClassName);
				this.isNotificationDropdownOpened = false;
			}
			// prevent bubbling to window
			e.stopPropagation();
			this.handleClickOutside(flagname, refName);
		},
		handleClickOutside(flagname, refName) {
			if (this[flagname]) {
				this.windowOutsideCallback = e => {
					this[flagname] = false;
					this.$refs[refName].classList.remove(
						'navbar-owner-dashboard-item--focus'
					);
				};
				window.addEventListener('click', this.windowOutsideCallback, {
					once: true
				});
				return;
			}
			// remove event when user click again on menu (not outside)
			window.removeEventListener('click', this.windowOutsideCallback, {
				once: true
			});
		},
		getNotifications() {
			this.isLoading = true;
			axios
				.get('/owner/data/notification', { baseURL: '/garuda' })
				.then(response => {
					this.isLoading = false;
					if (this.ownerHasProfileData) {
						this.$store.commit('setNotifCount', 0);
					}
					const { data } = response.data;
					this.notifData = data.slice(0, 5);
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		getProfile() {
			axios
				.get('/owner/data/profile', { baseURL: '/garuda' })
				.then(response => {
					if (response.data.status) {
						this.getDataProfile = response.data;
					} else {
						bugsnagClient.notify(JSON.stringify(response));
						alert(
							'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		},
		openNotif(notif) {
			if (notif.type === 'survey' || notif.type === 'chat') {
				if (this.profile.membership.expired) {
					window.open(
						'/ownerpage/statistics/' + notif.room_id + '#' + notif.type
					);
				} else {
					if (notif.type === 'survey') {
						if (notif.survey_data.chat_group_id !== null) {
							sbWidget.showChannel(notif.survey_data.group_channel_url);
						} else {
							channelListQuery.next((groupChannels, error) => {
								if (error) {
									return;
								}

								const groups = groupChannels;
								const groupName =
									'Survey - ' + notif.user_name + ' : ' + notif.room_name;

								for (const group of groups) {
									if (
										group.name.trim().toLowerCase() ===
										groupName.trim().toLowerCase()
									) {
										this.insertMetadata({
											groupChannel: group,
											room: notif.room_id
										});

										sbWidget.showChannel(group.url);
									}

									break;
								}
							});
						}
					} else if (notif.type === 'chat') {
						if (notif.chat_data.group_id !== null) {
							sbWidget.showChannel(notif.chat_data.group_channel_url);
						} else {
							channelListQuery.next((groupChannels, error) => {
								if (error) {
									return;
								}

								const groups = groupChannels;
								const groupName = notif.user_name + ' : ' + notif.room_name;

								for (const group of groups) {
									if (
										group.name.trim().toLowerCase() ===
										groupName.trim().toLowerCase()
									) {
										this.insertMetadata({
											groupChannel: group,
											room: notif.room_id
										});

										sbWidget.showChannel(group.url);
									}

									break;
								}
							});
						}
					}
				}
			} else if (notif.type === 'review') {
				window.open(
					'/ownerpage/statistics/' + notif.room_id + '#' + notif.type
				);
			} else if (
				[
					'premium_verify',
					'premium_request_reminder',
					'premium_payment_reminder'
				].includes(notif.type)
			) {
				this.$router.push({ path: '/invoice' });
			} else if (
				['balance_verify', 'balance_request_reminder'].includes(notif.type)
			) {
				this.$router.push({ path: '/premium/balance/confirmation' });
			} else if (notif.type === 'booking_rejected') {
				window.location.href = `${notif.url}&redirect_url=${window.location.href}`;
			} else if (notif.url !== '') {
				window.open(notif.url);
			}
		},
		insertMetadata(params) {
			const metadata = {
				room: params.room,
				chat_support: false
			};

			const upsertIfNotExist = true;

			params.groupChannel.updateMetaData(
				metadata,
				upsertIfNotExist,
				(response, error) => {
					if (error) {
						return false;
					}
				}
			);
		},
		handleSettingClicked() {
			if (this.ownerHasProfileData) {
				this.$router.push('/settings');
			} else {
				window.location.href = '/ownerpage/settings';
			}
		},
		handleLogoutClicked() {
			Moengage.track_event('[Owner] Logout', {
				logout_result: true,
				interface: this.deviceType
			});

			const options = {
				samesite: 'strict',
				domain: oxOauth2Domain,
				'max-age': '604800' // 7 days
			};
			Cookies.remove('access_token', options);
			Cookies.remove('refresh_token', options);

			if (typeof sb !== 'undefined') {
				try {
					sb.disconnect(() => {});
				} catch (e) {}
			}

			window.location.href = '/auth/logout';
		},
		setImageError(event) {
			event.target.src = '/assets/icons/ic_akun_user.png';
		}
	}
};
</script>

<style lang="scss">
@mixin owner-sendbird-mobile {
	.owner-sendbird {
		top: 0;
		width: 100%;
		height: calc(100vh - 61px - 56px);

		.owner-sendbird__body {
			width: 100%;
			height: calc(100% - 56px);

			.board-top {
				display: none;
			}
		}

		.owner-sendbird__footer,
		.owner-sendbird__header-close {
			display: none;
			height: 0;
		}
	}
}

.navbar-owner-dashboard {
	/* stylelint-disable-next-line */
	$this: &;

	@media (max-width: 768px) {
		&#{$this}--chat-only-mobile {
			&--open {
				z-index: 1031;
				pointer-events: auto;
				opacity: 1;

				@include owner-sendbird-mobile;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.navbar-owner-dashboard {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1032;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	box-shadow: 0 4px 20px rgba(86, 86, 86, 0.05);

	&__logo {
		float: left;
		margin-left: 35px;

		&-desktop {
			height: 27px;
			vertical-align: middle;
		}
	}

	&__menu {
		float: right;
		height: 100%;
		list-style: none;

		&-item {
			position: relative;
			float: left;
			max-height: 100%;
			margin: 0 15px;

			&:hover,
			&--focus {
				/* stylelint-disable max-nesting-depth */
				.navbar-owner-dashboard__menu-item-border {
					position: relative;
					top: -3px;
					border-top: 3px solid #1baa56;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}
			}

			&:focus {
				outline: none;
			}
		}

		&-item-link {
			display: flex;
			height: 80px;
			align-items: center;
			color: #2e2d39;
			text-decoration: none;

			&:focus {
				outline: none;
			}
		}

		&-dropdown {
			visibility: hidden;
			transition-timing-function: ease-out;
			transition-duration: 0.1s;
			transform: scaleY(0);
			transform-origin: top;

			&-visible {
				visibility: visible;
				transition-delay: 0.13s;
				transition-timing-function: ease-out;
				transition-duration: 0.25s;
				transform: scaleY(1);
				transform-origin: center top;
			}
		}

		.chat-menu {
			position: relative;

			&__counter {
				position: absolute !important;
				top: 22px;
				left: 28px;
			}
		}

		.notification-menu {
			position: relative;

			&__counter {
				position: absolute !important;
				top: 22px;
				left: 10px;
			}
		}
	}

	&__avatar {
		width: 32px;
		height: 32px;
		object-fit: cover;
		margin-right: 14px;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 20px;
	}

	&__notification {
		top: 100%;
		right: 0;
		width: 342px;
	}

	&--left {
		float: left;
	}

	&--right {
		float: right;
	}

	&__user {
		position: relative;
		top: 100%;
		right: 0;
		z-index: 5;
		min-width: 208px;
		height: 165px;
		padding: 16px;
		text-align: left;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 4px 20px rgba(86, 86, 86, 0.15);

		&-name {
			overflow: hidden;
			line-height: 24px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-email {
			margin-bottom: 8px;
			overflow: hidden;
			line-height: 21px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-setting {
			margin-bottom: 16px;
			line-height: 21px;
			color: #1baa56;
			cursor: pointer;
		}

		&-logout {
			margin-top: 16px;
			line-height: 24px;
			cursor: pointer;
		}
	}

	&__overlay {
		position: fixed;
		top: 80px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}

	@media (max-width: 768px) {
		&--chat-only-mobile {
			top: -100vh;
			z-index: -1;
			pointer-events: none;
			opacity: 0;

			&--open {
				z-index: 1031;
				pointer-events: auto;
				opacity: 1;
			}
		}

		&__overlay {
			display: none;
		}
	}
}
</style>
