<template>
	<div class="navbar-owner-bottom">
		<bg-bottom-nav>
			<bg-bottom-nav-item
				v-for="(menu, index) in menus"
				:key="index"
				:icon="menu.icon"
				:active="activeMenu === menu.icon"
				:show-badge="menu.showBadge"
				:badge-number-value="menu.badgeNumber"
				@click="changeMenu(menu)"
			>
				{{ menu.label }}
			</bg-bottom-nav-item>
		</bg-bottom-nav>
	</div>
</template>

<script>
import _find from 'lodash/find';
import { BgBottomNav, BgBottomNavItem } from 'bangul-vue';

const SENDBRID_ERROR_CONNECTION = 800101;

export default {
	components: {
		BgBottomNav,
		BgBottomNavItem
	},

	props: {
		isEmitChatClicked: {
			type: Boolean,
			default: false
		},
		isChatOpen: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			activeMenu: 'kos-management',
			unreadChatCount: 0,
			menus: [
				{
					label: 'Home',
					icon: 'home',
					showBadge: false,
					badgeNumber: 0,
					route: oxWebUrl
				},
				{
					label: 'Chat',
					icon: 'chat',
					showBadge: false,
					badgeNumber: 0,
					route: null
				},
				{
					label: 'Kelola',
					icon: 'kos-management',
					showBadge: false,
					badgeNumber: 0,
					route: `${oxWebUrl}/manage-kos`
				},
				{
					label: 'Statistik',
					icon: 'statistic',
					showBadge: false,
					badgeNumber: 0,
					route: `${oxWebUrl}/statistic`
				},
				{
					label: 'Akun',
					icon: 'profile',
					showBadge: false,
					badgeNumber: 0,
					route: `/settings`
				}
			]
		};
	},

	computed: {
		authData() {
			try {
				return this.$store.state.authData;
			} catch (e) {
				return this.$root.state.authData;
			}
		}
	},

	watch: {
		unreadChatCount: {
			immediate: true,
			handler(total) {
				this.updateTotalMessages(total);
			}
		},
		isChatOpen(val) {
			!val && this.isEmitChatClicked && this.checkActiveMenu();
		}
	},

	created() {
		this.checkActiveMenu();
		this.authData.all && this.getChatUnreadCount();
	},

	methods: {
		changeMenu(menu) {
			this.activeMenu = menu.icon;

			if (menu.icon === 'profile') {
				this.$emit('chat-close');
				this.$route.path !== menu.route && this.$router.push(menu.route);
			} else if (menu.icon === 'chat') {
				this.isEmitChatClicked
					? this.$emit('chat-clicked')
					: this.handleOpenChat();
			} else {
				window.location.href = menu.route;
			}
		},
		checkActiveMenu() {
			const currentRoute = this.$route.name;
			const homeMenu = ['default', 'notification'];
			const accountMenu = ['settings', 'document_verification_setting'];

			if (homeMenu.includes(currentRoute)) {
				this.activeMenu = 'home';
			} else if (accountMenu.includes(currentRoute)) {
				this.activeMenu = 'profile';
			} else {
				this.activeMenu = 'kos-management';
			}
		},
		updateTotalMessages(total) {
			const chatProps = _find(this.menus, menu => menu.icon === 'chat');

			if (total > 0) {
				chatProps.showBadge = true;
				chatProps.badgeNumber = total;
			} else {
				chatProps.showBadge = false;
			}
		},
		handleSendBirdConnectivity() {
			/* eslint-disable */
			connectSendBird(() => {
				this.getChatUnreadCount();
			});
			/* eslint-enable */
		},
		getChatUnreadCount() {
			if (typeof sb !== 'undefined') {
				try {
					sb.getTotalUnreadChannelCount((count, error) => {
						if (error) {
							error.code.toString() === SENDBRID_ERROR_CONNECTION &&
								this.handleSendBirdConnectivity();
							return;
						}

						this.unreadChatCount = count;
					});
				} catch (e) {
					bugsnagClient.notify(e);
				}
			}
		},
		handleOpenChat() {
			try {
				const chatElement = document.querySelector('#sb_widget .widget');
				const isActive = chatElement.classList.contains('sb-fade-out');
				if (isActive) {
					if (window.currentChatSource === 'pretext')
						window.currentChatSource = 'property detail page';

					this.handleCloseChat();
				} else {
					chatElement.click();
				}
			} catch (e) {
				bugsnagClient.notify(e);
			}
		},
		handleCloseChat() {
			const closeChatElement = document.querySelector(
				'#sb_widget .ic-minimize'
			);
			closeChatElement.click();
		}
	}
};
</script>

<style lang="scss" scoped>
.navbar-owner-bottom {
	position: fixed;
	z-index: 99992;
}
</style>
