<template>
	<fragment>
		<div
			:id="theme === 'white' ? 'navbarWhiteTheme' : 'navbarCustomize'"
			class="navbar-custom-container"
			:class="{
				'nav-open': isSidenav,
				'navbar-fixed-top': isFixed,
				'navbar-white-theme': theme === 'white'
			}"
		>
			<nav
				id="toggleColor"
				class="navbar navbar-default"
				:class="isScrolled ? navbarColorScrolled : navbarColor"
			>
				<div :class="['container-fluid', { 'd-flex': theme === 'white' }]">
					<div class="navbar-header">
						<button
							v-if="!isWebview"
							type="button"
							class="navbar-toggle"
							data-toggle="collapse"
							:data-target="
								theme === 'white' ? '#toggleWhiteTheme' : '#toggleMenu'
							"
							@click="toggleSidenav"
						>
							<span class="icon-bar --top"></span>
							<span class="icon-bar --mid"></span>
							<span class="icon-bar --bot"></span>
						</button>

						<div class="navbar-brand">
							<a href="/">
								<img
									title="Mamikos"
									:src="
										logo
											? logo
											: isCustomWidth
											? logoImageSmall
											: logoImageRegular
									"
									:class="[
										logoStyle,
										{ 'navbar-icon-white-theme': theme === 'white' }
									]"
									:alt="altLogo"
								/>
							</a>
							<a @click="backPrevPage">
								<img
									title="Mamikos"
									:src="brandLogoSmall"
									:class="[
										isHomePage && !isHomeReturn
											? smallCustomLogoStyle
											: arrowLeftLogoStyle,
										{
											'--white-theme-back': theme === 'white'
										}
									]"
									:alt="altLogoSmall"
								/>
							</a>
						</div>

						<!-- CHAT BUTTON -->
						<div
							v-if="authCheck.user && hasChatMenu"
							class="navbar-icon-chat visible-xs"
							:class="{ '--home-chat': isHomePage }"
							@click="openChat"
						>
							<img src="/general/img/icons/ic_chat.svg" alt="ic_chat" />
							<floating-label
								v-if="chatUnreadCount > 0"
								:text="unreadCountLabel"
								top="10px"
								right="-6px"
							/>
						</div>

						<div
							v-if="notificationCondition"
							class="nav-notification-mobile"
							:class="{
								'--has-chat': hasChatMenu,
								'--notif-home': isHomePage && hasChatMenu
							}"
						>
							<notif-center></notif-center>
						</div>

						<div
							class="navbar-form navbar-left navbar-input-search"
							:class="{
								'--home-chat': isHomePage
							}"
						>
							<div
								v-if="showInputSearch"
								class="input-group"
								:class="{
									'--detail-chat': isDetailPage && authCheck.user,
									'--white-theme': theme === 'white',
									'--mobile-search': forceSearchMobile
								}"
							>
								<div class="input-group-btn">
									<button
										class="btn btn-default btn-input-search"
										type="click"
										@click="showSearchBoxModal"
									>
										<i
											:class="[
												'glyphicon glyphicon-search',
												{ '--theme-white-icon': theme === 'white' }
											]"
										></i>
									</button>
								</div>
								<input
									id="mamiSearchField"
									ref="mamiSearchField"
									type="search"
									class="form-control input-search"
									:placeholder="inputPlaceholder"
									:title="inputPlaceholder"
									:value="searchInputValue"
									required
									@focus="showSearchBoxModal"
								/>
							</div>

							<a href="/">
								<img
									v-if="!showInputSearch && !isHomePage && !isDetailPage"
									title="Mamikos"
									:src="logo ? logo : logoImageRegular"
									class="navbar-logo-center visible-xs"
									:alt="altLogo"
								/>
							</a>
						</div>
					</div>
					<div class="navbar-menu-container">
						<div
							:class="{ 'navbar-outside-screen': isSidenav }"
							@click="toggleSidenav"
						></div>
						<div
							:id="theme === 'white' ? 'toggleWhiteTheme' : 'toggleMenu'"
							class="collapse navbar-collapse navbar-menu-items"
						>
							<ul
								v-if="!isHomePage && showInputSearch"
								:class="[
									'nav navbar-nav navbar-nav-custom visible-xs',
									{
										'hidden-xs hidden-sm': theme === 'white'
									}
								]"
							>
								<li><a class="--home" href="/">Home</a></li>
							</ul>

							<ul class="nav navbar-nav navbar-nav-custom">
								<li v-if="navigations.length < 2">
									<a :href="navigations[0].url">{{ navigations[0].name }} </a>
								</li>

								<li
									v-if="isHomePage && isShowDownloadButton"
									class="hidden-xs hidden-sm"
								>
									<a href="#download-app">
										<h3>Download App</h3>
									</a>
								</li>

								<li
									v-if="navigations.length > 1"
									class="dropdown hidden-xs menu-adds"
								>
									<dropdown>
										<u slot="button" class="dropdown-toggle menu-adds__label">
											<h3>Cari Iklan&nbsp;</h3>
											<div v-if="theme === 'white'" class="caret-white-theme">
												<icon-arrow-down />
											</div>
											<span v-else class="caret  --show"></span>
										</u>
										<ul
											slot="dropdown-menu"
											class="dropdown-menu dropdown-nav-list"
										>
											<li
												v-for="(navigation, index) in navigations"
												:key="index"
												class="menu-item"
											>
												<a :href="navigation.url"
													><h3>{{ navigation.name }}</h3></a
												>
											</li>
										</ul>
									</dropdown>
								</li>

								<template v-if="navigations.length > 1">
									<li
										v-for="(navigation, index) in navigations"
										:key="index"
										class="hidden-sm hidden-md hidden-lg"
									>
										<a :href="navigation.url"
											><h3>{{ navigation.name }}</h3></a
										>
									</li>
								</template>
							</ul>

							<ul class="nav navbar-nav">
								<li class="nav-promotion visible-xs">
									<a
										href="/app?utm_campaign=DownloadAppNavmenu&utm_source=DownloadAppNavmenu&utm_medium=DownloadAppNavmenu&utm_term=DownloadAppNavmenu"
									>
										<h3>Download app</h3>
									</a>
								</li>

								<li v-if="urlLoc !== null" class="nav-promotion visible-xs">
									<a @click="shareThisPage"><h3>Bagikan halaman ini</h3></a>
									<input
										id="shareUrl"
										type="hidden"
										class="share-url"
										:value="urlLoc"
										readonly
									/>
								</li>

								<li v-if="isPromotionNav" class="nav-promotion">
									<a v-if="authCheck.owner" href="/promosi-kost">
										<h3>Gabung Premium</h3>
									</a>
									<a v-else href="/promosi-kost">
										<h3>
											Promosikan Iklan Anda
											<span
												:class="
													theme === 'white'
														? 'new-label-white-theme'
														: 'new-label'
												"
												>Gratis</span
											>
										</h3>
									</a>
								</li>

								<li v-if="!authCheck.all" class="nav-help-center">
									<a
										href="https://help.mamikos.com/booking/tenant"
										target="_blank"
										rel="noopener"
									>
										<h3>Pusat Bantuan</h3>
									</a>
								</li>
							</ul>

							<ul v-if="showLogin" class="nav navbar-nav login-nav">
								<li v-if="authCheck.user" class="nav-help-center">
									<a
										href="https://help.mamikos.com/booking/tenant"
										target="_blank"
										rel="noopener"
									>
										<h3>Pusat Bantuan</h3>
									</a>
								</li>

								<li v-if="authCheck.owner" class="nav-help-center">
									<a
										href="https://help.mamikos.com/booking/owner"
										target="_blank"
										rel="noopener"
									>
										<h3>Pusat Bantuan</h3>
									</a>
								</li>

								<!-- CHAT BUTTON -->

								<li
									v-if="authCheck.user && hasChatMenu"
									class="hidden-xs nav-chat"
								>
									<a @click="openChat"><h3>Chat</h3></a>
									<floating-label
										v-if="chatUnreadCount > 0"
										:text="unreadCountLabel"
										top="6px"
										right="6px"
									/>
								</li>

								<li
									v-if="enableNotif && !authCheck.owner && isDesktop"
									class="nav-item nav-notification"
								>
									<notif-center></notif-center>
								</li>

								<li
									v-if="!authCheck.all"
									:class="[
										'user-nav user-login hidden-xs',
										{ 'user-nav-white-theme': theme === 'white' }
									]"
								>
									<a @click="openModalLogin('default')">Masuk</a>
								</li>

								<li
									v-else
									class="dropdown user-nav log-in hidden-xs"
									:class="{
										'--is-long-name': isLongName,
										'dropdown-user-white-theme': theme === 'white'
									}"
								>
									<dropdown>
										<u slot="button" class="dropdown-toggle login-toggle">
											<img
												v-if="userData.all.photo_user !== ''"
												:class="[
													'user-photo-not-null',
													{ 'user-photo-white-theme': theme === 'white' }
												]"
												:src="userData.all.photo_user"
												@error="handleImageError"
											/>
											<img
												v-else
												:class="[
													'user-photo-null',
													{ 'user-photo-white-theme': theme === 'white' }
												]"
												src="/assets/icons/ic_akun_user.png"
											/>
											<span
												v-if="userName.trim() !== '' && theme !== 'white'"
												class="username-text"
												:class="{
													' --cropped': showPromotion && authCheck.owner
												}"
											>
												&nbsp;{{ userData.all.name }}&nbsp;
											</span>

											<span
												v-else-if="userName.trim() === '' && authCheck.owner"
												class="username-text"
												:class="{
													' --cropped': showPromotion && authCheck.owner
												}"
											>
												&nbsp;Pemilik&nbsp;
											</span>

											<span
												v-else-if="userName.trim() === '' && authCheck.user"
												class="username-text"
											>
												&nbsp;Pencari&nbsp;
											</span>

											<div v-if="theme === 'white'" class="caret-white-theme">
												<icon-arrow-down />
											</div>
											<span v-else class="caret  --show"></span>
										</u>
										<ul
											slot="dropdown-menu"
											class="dropdown-menu dropdown-danger"
										>
											<li v-if="authCheck.user">
												<a href="/user"><h3>Halaman Profil</h3></a>
											</li>
											<li v-if="authCheck.user">
												<a href="/user/booking"><h3>Booking</h3></a>
											</li>
											<li v-if="authCheck.user">
												<a href="/user/riwayat-transaksi"
													><h3>Riwayat Transaksi</h3></a
												>
											</li>
											<li v-if="authCheck.owner">
												<a :href="ownerDashboardUrl"
													><h3>Halaman Pemilik</h3></a
												>
											</li>
											<li v-if="authCheck.user">
												<a href="/history"><h3>Histori</h3></a>
											</li>
											<li>
												<a href="/auth/logout" @click="handleLogout">
													<h3>Keluar</h3>
												</a>
											</li>
										</ul>
									</dropdown>
								</li>

								<li v-if="authCheck.user" class="hidden-sm hidden-md hidden-lg">
									<a href="/user"><h3>Halaman Profil</h3></a>
								</li>
								<li v-if="authCheck.user" class="hidden-sm hidden-md hidden-lg">
									<a href="/user/booking"><h3>Booking</h3></a>
								</li>
								<li v-if="authCheck.user" class="hidden-sm hidden-md hidden-lg">
									<a href="/user/riwayat-transaksi"
										><h3>Riwayat Transaksi</h3></a
									>
								</li>
								<li
									v-if="authCheck.owner"
									class="hidden-sm hidden-md hidden-lg"
								>
									<a :href="ownerDashboardUrl"><h3>Halaman Pemilik</h3></a>
								</li>
								<li v-if="authCheck.user" class="hidden-sm hidden-md hidden-lg">
									<a href="/history"><h3>Histori</h3></a>
								</li>
								<li v-if="authCheck.all" class="hidden-sm hidden-md hidden-lg">
									<a href="/auth/logout" @click="handleLogout"
										><h3>Keluar</h3></a
									>
								</li>
								<li v-if="!authCheck.all" class="hidden-sm hidden-md hidden-lg">
									<a @click="openModalLogin('tenant')">
										<h3>Masuk Sebagai Pencari</h3>
									</a>
								</li>
								<li v-if="!authCheck.all" class="hidden-sm hidden-md hidden-lg">
									<a @click="openModalLogin('owner')">
										<h3>Masuk Sebagai Pemilik</h3>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<keep-alive>
				<search-box-modal
					v-if="showInputSearch || theme === 'white'"
					:is-shown="searchBoxModalShown || openModalWithProps"
					:redirection-source="redirectionSource"
					:criteria-keyword="criteria.keywords"
					:criteria-gender="criteria.gender"
					:criteria-rent-type="criteria.rentType"
					:criteria-price-range="criteria.Price"
					@hide-modal="onSearchBoxModalHidden"
				>
				</search-box-modal>
			</keep-alive>
		</div>
		<modal-form-login
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="closeModalLogin"
		></modal-form-login>
	</fragment>
</template>

<script>
/* eslint-disable no-undef */
import 'Js/@mixins/MixinNavigatorIsMobile';
import id from 'vee-validate/dist/locale/id';
import IconArrowDown from 'Js/@icons/ArrowDown';
import VeeValidate, { Validator } from 'vee-validate';
import { dropdown } from 'vue-strap';
import EventBus from 'Js/@global/event-bus';
import Toasted from 'vue-toasted';
import Fragment from 'vue-fragment';
import VueLazyload from 'vue-lazyload';

window.debounce = require('lodash/debounce');
window.validator = new Validator();

Validator.localize('id', id);

Vue.use(VeeValidate, {
	locale: 'id'
});
Vue.use(Toasted);
Vue.use(Fragment.Plugin);
Vue.use(VueLazyload);

const ModalFormLogin = () =>
	import(
		/* webpackChunkName: "detail_ModalFormLogin" */ 'Js/_login/components/ModalFormLogin'
	);
const NotifCenter = () => import('Js/@components/NotifCenter');
const SearchBoxModal = () => import('Js/@components/SearchBoxModal');
const FloatingLabel = () => import('Js/@components/FloatingLabel');

export default {
	components: {
		dropdown,
		FloatingLabel,
		NotifCenter,
		SearchBoxModal,
		ModalFormLogin,
		IconArrowDown
	},

	props: {
		isWebview: {
			type: Boolean,
			default: false
		},
		theme: {
			type: String,
			default: 'green'
		},
		criteria: {
			type: Object,
			default() {
				return {
					keywords: '',
					gender: 'all',
					rentType: 'bulanan',
					price: [0, 15000000]
				};
			}
		},
		isFixed: {
			type: Boolean,
			default: true
		},
		showLogin: {
			type: Boolean,
			default: true
		},
		showPromotion: {
			type: Boolean,
			default: false
		},
		showInputSearch: {
			type: Boolean,
			default: false
		},
		forceSearchMobile: {
			type: Boolean,
			default: false
		},
		navbarColorScrolled: {
			type: String,
			default: 'navbar-scrolled'
		},
		navbarColor: {
			type: String,
			default: 'navbar-color'
		},
		logoImageRegular: {
			type: String,
			default: '/assets/logo/svg/logo_mamikos_white.svg'
		},
		logoImageSmall: {
			type: String,
			default: '/assets/logo/svg/icon_mamikos.svg'
		},
		logo: {
			type: String,
			default: ''
		},
		logoStyle: {
			type: String,
			default: 'navbar-icon hidden-xs'
		},
		altLogo: {
			type: String,
			default: 'logo_mamikos_white'
		},
		arrowLeftLogo: {
			type: String,
			default: '/general/img/icons/ic_full-arrow-left_s_white.svg'
		},
		altLogoSmall: {
			type: String,
			default: 'ic_full-arrow-left_s_white'
		},
		arrowLeftLogoStyle: {
			type: String,
			default: 'navbar-icon-small visible-xs'
		},
		smallCustomLogoStyle: {
			type: String,
			default: 'navbar-custom-icon visible-xs'
		},
		navigations: {
			type: Array,
			required: true
		},
		isHomePage: {
			type: Boolean,
			default: false
		},
		isDetailPage: {
			type: Boolean,
			default: false
		},
		downloadAppLoc: {
			type: String,
			default: ''
		},
		hasChatMenu: {
			type: Boolean,
			default: false
		},
		enableNotif: {
			type: Boolean,
			default: true
		},
		isShowDownloadButton: {
			type: Boolean,
			default: true
		},
		redirectionSource: {
			type: String,
			default: ''
		},
		openModalWithProps: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			isScrolled: false,
			isSidenav: false,
			isModalLoginVisible: false,
			searchBoxModalShown: false,
			isPromotionNav: false,
			isLongName: false,
			isHomeReturn: true,
			chatUnreadCount: 0,
			modalLoginState: 'default', // default, owner, tenant
			ownerDashboardUrl: oxWebUrl
		};
	},

	computed: {
		searchInputValue() {
			return this.criteria.keywords === '' ||
				this.criteria.keywords === 'sekitar' ||
				this.criteria.keywords === 'rekomendasi'
				? ''
				: `${this.criteria.keywords}`;
		},
		inputPlaceholder() {
			return this.theme === 'white'
				? 'Masukan nama lokasi/area/alamat'
				: 'Cari di Mamikos';
		},
		authCheck() {
			if (this.showLogin) {
				try {
					return this.$store.state.authCheck;
				} catch (e) {
					return this.$root.state.authCheck;
				}
			}
		},
		userData() {
			if (this.showLogin) {
				try {
					return this.$store.state.authData;
				} catch (e) {
					return this.$root.state.authData;
				}
			}
		},
		userName() {
			if (this.showLogin) {
				try {
					return this.$store.state.authData.all.name || '';
				} catch (e) {
					return this.$root.state.authData.all.name || '';
				}
			}
		},
		urlLoc() {
			const urlPathname = window.location.pathname;
			if (!urlPathname.includes('ownerpage') && !urlPathname.includes('user')) {
				return window.location.href;
			} else {
				return null;
			}
		},
		isCustomWidth() {
			return window.innerWidth >= 768 && window.innerWidth <= 920;
		},
		isDesktop() {
			return window.innerWidth >= 768;
		},
		isSmallMobile() {
			return window.innerWidth < 360;
		},
		brandLogoSmall() {
			if (this.isHomePage && !this.isHomeReturn) {
				return this.isSmallMobile ? this.logoImageSmall : this.logoImageRegular;
			} else if (this.theme === 'white') {
				return '/general/img/icons/ic_full-arrow-left_s_green.svg';
			} else {
				return this.arrowLeftLogo;
			}
		},
		unreadCountLabel() {
			return this.chatUnreadCount > 99 ? '99+' : this.chatUnreadCount;
		},
		notificationCondition() {
			return (
				this.enableNotif &&
				!this.authCheck.owner &&
				!this.isDesktop &&
				!this.forceSearchMobile
			);
		}
	},

	watch: {
		searchBoxModalShown(val) {
			EventBus.$emit('searchBox', val);
		}
	},

	created() {
		this.checkHomeReturn();

		if (authData.all) {
			this.getChatUnreadCount();
		}
	},

	mounted() {
		if (this.isFixed) {
			this.scrollWindow();
			this.checkCurrentScrollWindow();
		}

		this.togglePromotionNav();
		this.checkLongName();

		if (typeof sbWidget !== 'undefined' && sbWidget !== null) {
			sbWidget.registerLocalHandlerCb('onChannelChanged', () => {
				this.getChatUnreadCount();
			});
			sbWidget.registerLocalHandlerCb('onReconnectSucceeded', () => {
				this.getChatUnreadCount();
			});
		}
	},

	methods: {
		handleImageError(event) {
			event.target.src = '/assets/icons/ic_akun_user.png';
		},
		handleLogout() {
			if (!this.authCheck.user) {
				Moengage.track_event('[Owner] Logout', {
					logout_result: true,
					interface: this.navigator.isMobile ? 'mobile' : 'desktop'
				});
			}

			const options = {
				samesite: 'strict',
				domain: oxOauth2Domain,
				'max-age': '604800' // 7 days
			};
			Cookies.remove('access_token', options);
			Cookies.remove('refresh_token', options);

			if (typeof sb !== 'undefined') {
				try {
					sb.disconnect(() => {});
				} catch (e) {}
			}
		},
		checkHomeReturn() {
			if (
				document.referrer == '' ||
				document.referrer === document.location.href
			) {
				this.isHomeReturn = false;
			} else {
				this.isHomeReturn = true;
			}
		},
		getChatUnreadCount() {
			if (typeof sb !== 'undefined') {
				try {
					sb.getTotalUnreadChannelCount((count, error) => {
						if (error) {
							return;
						}

						this.chatUnreadCount = count;
					});
				} catch (e) {}
			}
		},
		scrollWindow() {
			window.addEventListener('scroll', e => {
				if (window.pageYOffset >= 75) {
					this.isScrolled = true;
				} else {
					this.isScrolled = false;
				}
			});
		},
		checkCurrentScrollWindow() {
			const currentScroll =
				window.pageYOffset || document.documentElement.scrollTop;
			if (currentScroll >= 75) {
				this.isScrolled = true;
			} else {
				this.isScrolled = false;
			}
		},
		toggleSidenav() {
			this.isSidenav = !this.isSidenav;
		},
		openModalLogin(loginState) {
			this.isModalLoginVisible = true;
			this.modalLoginState = loginState || 'default';
		},
		closeModalLogin() {
			this.isModalLoginVisible = false;
			this.modalLoginState = 'default';
		},
		onSearchBoxModalHidden() {
			if (this.openModalWithProps) {
				this.$emit('closeModalWithProps');
			} else {
				this.searchBoxModalShown = false;
			}
			document.body.style.overflow = '';
		},
		showSearchBoxModal() {
			if (this.$refs.mamiSearchField) this.$refs.mamiSearchField.blur();
			this.searchBoxModalShown = true;
			document.body.style.overflow = 'hidden';
		},
		togglePromotionNav() {
			if (this.showPromotion) {
				if (typeof this.authCheck === 'undefined') {
					this.isPromotionNav = true;
				} else if (!this.authCheck.user) {
					this.isPromotionNav = true;
				}
			}
		},
		checkLongName() {
			if (this.authCheck.all) {
				if (this.userData.all.name.length >= 7) {
					this.isLongName = true;
				}
			}
		},
		backPrevPage() {
			if (this.isWebview) {
				window.Android.onBackPressed();
			} else {
				if (this.isHomePage && !this.isHomeReturn) {
					window.location.reload();
				} else {
					if (window.history.go(-1)) {
						window.history.go(-1);
					} else {
						window.close();
					}
				}
			}
		},
		shareThisPage() {
			if ('share' in navigator) {
				navigator.share({
					title: document.title,
					text:
						document.head.querySelector('meta[name="description"]') == null
							? 'Cek halaman ini di Mamikos.com'
							: document.head.querySelector('meta[name="description"]').content,
					url: this.urlLoc
				});
			} else {
				var copyText = document.getElementById('shareUrl');
				copyText.setAttribute('type', 'text');
				copyText.select();

				document.execCommand('copy');

				copyText.setAttribute('type', 'hidden');
				window.getSelection().removeAllRanges();

				this.$toasted.show('Link berhasil dicopy!', {
					theme: 'bubble',
					position: 'bottom-center',
					duration: 2000
				});
			}
		},
		openChat() {
			try {
				document.querySelector('#sb_widget .widget').click();
			} catch (e) {
				console.error(e);
			}
		}
	}
};
</script>
<style lang="scss">
#navbarCustomize {
	.nav-notification .floating-label {
		top: 6px !important;
		right: 6px !important;

		@media (max-width: 767px) {
			top: -5px !important;
			right: 0px !important;
		}
	}

	u,
	ins {
		text-decoration: none !important;
	}

	a.nav-notification {
		padding: 14px 10px;
		color: #ffffff;

		@media (max-width: 767px) {
			padding: 0;
			margin: 14px 8px;
		}
	}

	.input-group {
		margin-top: 1px;

		@media (max-width: 767px) {
			margin-top: -9px;
		}
	}

	.navbar {
		border: none !important;
		border-radius: 0 !important;
		height: 54px !important;
	}
	button {
		&.btn {
			&.btn-default {
				&.dropdown-toggle {
					background: transparent;
					border: none;
					color: #fff;
					height: 52px;

					&:hover,
					&:focus,
					&:active {
						background: transparent;
						border: none;
						color: #fff;
						height: 54px;
						box-shadow: none !important;
						border-bottom: 3px solid #fff;
						border-radius: 0;
					}
				}
			}
		}
	}

	.btn {
		.caret {
			display: none;

			&.--show {
				display: block;
			}
		}
	}

	.btn-group {
		&.open {
			.dropdown-toggle {
				box-shadow: none !important;
			}
		}
	}

	.menu-adds {
		button {
			&.btn {
				&.btn-default {
					&.dropdown-toggle {
						height: 50px;

						&:hover,
						&:focus,
						&:active {
							height: 54px;
							padding-bottom: 0.8rem;
						}
					}
				}
			}
		}
	}

	#login {
		.modal-dialog {
			margin-top: 25vh;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#navbarWhiteTheme {
	.nav-notification .floating-label {
		top: -11px !important;
		right: 2px !important;

		@media (max-width: 767px) {
			top: -5px !important;
			right: 0 !important;
		}
	}

	u,
	ins {
		text-decoration: none !important;
	}

	a.nav-notification {
		padding: 0 12px;
		font-size: 12px;
		line-height: 17px;
		color: #242424;

		@media (max-width: 767px) {
			padding: 0;
			margin: 14px 8px;
		}
	}

	.input-group {
		display: flex;
		width: 200%;
		align-items: center;
		height: 48px;
		margin-top: -4px;
		margin-left: 0;

		.input-group-btn {
			right: 0;
			left: 10px;
			width: 30px;

			.btn-input-search {
				padding: 0;

				@media (min-width: 992px) and (max-width: 1048px) {
					width: auto;
				}
			}

			.glyphicon-search {
				@media (min-width: 992px) and (max-width: 1048px) {
					right: 0;
				}

				@media (min-width: 1048px) {
					right: 0;
				}
			}
		}

		.input-search {
			width: 100%;
			height: 100%;
		}

		@media (max-width: 1100px) {
			width: 150%;
		}
	}

	.--mobile-search {
		@media (max-width: 767px) {
			width: calc(100vw - 150px);
			height: 34px;
		}
	}

	.navbar {
		height: 80px !important;
		background: #fff;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid hsla(0, 0%, 86%, 0.92);
		border-left: 0;
		border-radius: 0 !important;

		@media (max-width: 767px) {
			height: 56px !important;
		}

		@media (min-width: 1367px) {
			padding: 0 calc((100vw - 1366px) / 2);
		}
	}

	button {
		&.btn {
			&.btn-default {
				&.dropdown-toggle {
					padding: 12px;
					background: transparent;
					border: 0;

					&:hover,
					&:focus,
					&:active {
						box-shadow: none !important;
					}
				}
			}
		}
	}

	.btn {
		.caret {
			display: none;

			&.--show {
				display: block;
			}
		}
	}

	.btn-group {
		&.open {
			.dropdown-toggle {
				box-shadow: none !important;

				&:hover,
				&:focus,
				&:active {
					box-shadow: none !important;
				}
			}
		}
	}

	.menu-adds {
		button {
			&.btn {
				&.btn-default {
					&.dropdown-toggle {
						padding: 12px;
						color: #242424;
						&:hover,
						&:focus,
						&:active {
							text-decoration: underline;
							box-shadow: none;
						}
					}
				}
			}
		}
	}

	#login {
		.modal-dialog {
			margin-top: 25vh;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
</style>

<style lang="scss" scoped>
#toggleMenu {
	h3 {
		font-size: 1em;
		margin: 0;
		line-height: 24px;
	}
}

.navbar-custom-container {
	z-index: 1032;
}

.navbar-color {
	background-color: #1baa56;
	border: none;
	padding: 0 1.5rem;
}

.navbar-scrolled {
	background-color: #1baa56;
	border-color: #1baa56;
	padding: 0 1.5rem;
}

.navbar-icon {
	height: 25px;
	margin-top: -4px;
}

.navbar-icon-small {
	width: 20px;
	margin-left: -1.5rem;
	margin-top: 0.2rem;
}

@media (min-width: 768px) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-default {
	transition: background-color 0.4s ease-out;

	.navbar-toggle {
		padding: 1.1rem 1.2rem;
		border: none;
		margin-right: 0;

		@media (max-width: 767px) {
			margin-right: -1.2rem;
			margin-left: 0px;
			z-index: 2;
		}

		&:focus,
		&:hover {
			background-color: transparent;
		}

		.icon-bar {
			background-color: #fff;
			height: 3px;
			transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);

			&.--top {
				transform: translate3d(0, -1px, 0px);
			}

			&.--mid {
				transform: translate3d(0px, 0px, 0px);
			}

			&.--bot {
				width: 11px;
				margin-left: 11px;
				margin-top: 5px;
				transform-origin: center center;
			}
		}
	}

	.navbar-nav {
		.nav-history,
		.nav-chat,
		.nav-promotion,
		.nav-help-center,
		.nav-notification {
			a:hover {
				border-bottom: 3px solid #fff;
				padding-bottom: 1.6rem;
			}
		}

		.nav-chat {
			@media (min-width: 768px) {
				position: relative;
			}
		}

		> li {
			> a {
				color: #fff;
				font-size: 14px;

				@media (min-width: 768px) {
					padding-bottom: 1.6rem;
				}
			}
		}

		.open {
			> a {
				color: #fff;
				background-color: transparent;

				&:focus,
				&:hover {
					background-color: transparent;

					@media (max-width: 767px) {
						color: #25c025;
					}
				}

				@media (max-width: 767px) {
					color: #25c025;
					background-color: transparent;
				}
			}
		}
	}
}

.nav-open {
	@media (max-width: 767px) {
		.navbar {
			.navbar-header {
				transform: translate3d(-225px, 0, 0);
			}
		}

		.navbar-collapse {
			transform: translate3d(25px, 0, 0);
		}

		.navbar-toggle {
			.icon-bar {
				&.--top {
					transform: translate3d(0, 7px, 0) rotate(45deg);
				}

				&.--mid {
					transform: translate3d(0, 0, 0) rotate(-45deg);
				}

				&.--bot {
					transform: scaleX(0);
				}
			}
		}
	}
}

.container-fluid {
	@media (min-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-header {
	@media (max-width: 767px) {
		transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
	}

	.navbar-brand {
		padding: 1.5rem;
		cursor: pointer;

		.navbar-custom-icon {
			height: 30px;
			margin-top: -3px;
			margin-left: -10px;
		}
	}
}

.navbar-form {
	margin-top: 0.9rem;
	margin-left: 0;
	margin-right: 0;
}

.navbar-input-search {
	border: none;
	box-shadow: none;

	@media (min-width: 768px) {
		padding-right: 0;
	}

	@media (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}

	&.--home-chat {
		justify-content: flex-end;
	}

	.input-group {
		@media (max-width: 767px) {
			margin-top: -1rem;
			width: 100%;
			margin-left: -1rem;

			&.--detail-chat {
				margin-left: -2.5rem;
			}
		}

		@media (max-width: 888px) {
			width: 90%;
		}

		@media (min-width: 992px) and (max-width: 1048px) {
			width: 130%;
		}

		@media (min-width: 768px) and (max-width: 1048px) {
			margin-left: -30px;
		}

		@media (min-width: 1048px) {
			width: 140%;
		}

		@media (min-width: 1200px) {
			width: 150%;
		}

		.input-search {
			border: none;
			box-shadow: none;
			background-color: #fff;
			height: 34px;
		}

		.input-group-btn {
			right: -3rem;

			.glyphicon-search {
				&::before {
					top: 50%;
					transform: translateY(-50%);
				}

				@media (min-width: 992px) and (max-width: 1048px) {
					right: 9px;
				}

				@media (min-width: 1048px) {
					right: 7px;
				}
			}

			@media (max-width: 991px) {
				right: -1rem;
			}
		}

		.btn-input-search,
		.btn-input-search:hover,
		.btn-input-search:focus,
		.btn-input-search:active {
			border-color: #fff;
			color: #ec4a0c;
			background-color: #fff;
			box-shadow: none;
			height: 34px;
			display: flex;
			align-items: center;

			@media (min-width: 992px) and (max-width: 1048px) {
				width: 44px;
			}
		}
	}

	@media (max-width: 888px) {
		.--mobile-search {
			width: 100%;
		}
	}
}

.navbar-icon-chat {
	position: relative;
	float: right;
	height: 55px;
	margin-left: 0;
	margin-right: 10px;
	padding-top: 13px;

	img {
		height: 20px;
	}

	&.--home-chat {
		img {
			top: -2.85em;

			@media (max-width: 335px) {
				top: -3.45em;
			}

			@media (max-width: 450px) {
				right: 1.1em;
			}
		}
	}
}

.navbar-menu-container {
	display: flex;
	justify-content: flex-end;

	.navbar-outside-screen {
		@media (max-width: 767px) {
			background-color: rgba(0, 0, 0, 0.5);
			height: 100vh;
			width: 100%;
			position: absolute;
			top: 54px;
			transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		}
	}

	.nav {
		> li {
			> a {
				padding: 14px 10px;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 886px) {
		position: absolute;
		right: 10px;
	}
}

.navbar-collapse {
	@media (max-width: 767px) {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		height: 100vh;
		width: 252px;
		z-index: 1032;
		visibility: visible;
		background-color: #ffffff;
		overflow-y: auto;
		text-align: left;
		border-top: none;
		border-left: 1px solid #e3e3e3;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		max-height: none !important;
		transform: translate3d(252px, 0, 0);
		transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

		ul {
			position: relative;
			z-index: 3;
			overflow-y: auto;
			height: auto;
			margin-left: 0.7rem;
			padding-bottom: 1rem;
			border-bottom: 1.5px solid #eeee;
			width: 83%;
		}

		&::after {
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			position: absolute;
			background-color: #ffffff;
			display: block;
			content: '';
			z-index: 1;
		}

		&.in {
			overflow-y: visible;
		}

		.nav {
			> li {
				padding-right: 1.5rem;

				&:last-child {
					border-bottom: 0;
				}

				> a {
					margin: 0;
					color: #3e5168;
					font-weight: 500;
					font-size: 13px;
					line-height: 13px;
					padding: 1.5rem 0;

					&:hover,
					&.active {
						color: #25c025 !important;
						padding-bottom: 1.2rem !important;
					}

					&.--home {
						font-weight: 600;
					}
				}
			}
		}
	}
}

.dropdown-menu {
	visibility: hidden;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	display: block;
	z-index: 9000;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
	transform: translate3d(0, -20px, 0);
	transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);

	> li {
		> a {
			padding: 1rem 2rem;

			&:hover,
			&:focus,
			&:active {
				background-color: #f5f5f5;
				color: #262626;
				text-decoration: none;
			}
		}

		&:first-child {
			> a {
				&:hover,
				&:focus,
				&:active {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
			}
		}

		&:last-child {
			> a {
				&:hover,
				&:focus,
				&:active {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
	}
}

.user-nav {
	&.--is-long-name {
		.dropdown-menu {
			transform: translate3d(-27px, -20px, 0);
		}

		.open {
			.dropdown-menu {
				transform: translate3d(-27px, 5px, 0);
			}
		}
	}

	.dropdown-toggle {
		&.--not-login {
			display: flex;
			align-items: center;
		}
	}

	.dropdown-menu {
		transform: translate3d(-60px, -20px, 0);
	}

	.open {
		.dropdown-menu {
			transform: translate3d(-60px, 5px, 0);
		}
	}

	.user-photo-not-null,
	.user-photo-null {
		margin-right: 0.3rem;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		object-fit: cover;
	}

	.username-text {
		max-width: 80px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (min-width: 768px) and (max-width: 790px) {
			max-width: 50px;
		}

		&.--cropped {
			@media (min-width: 768px) and (max-width: 835px) {
				max-width: 35px;
			}
		}
	}
}

.open {
	.dropdown-menu {
		opacity: 1;
		border-radius: 5px;
		filter: alpha(opacity=100);
		visibility: visible;
		transform: translate3d(0px, 5px, 0);

		@media (max-width: 767px) {
			padding-bottom: 1rem;
		}
	}
}

.login-nav {
	@media (max-width: 767px) {
		border-bottom: none !important;
		margin-bottom: -0.5rem !important;
	}
}

.login-toggle {
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		padding-bottom: 0 !important;
	}
}

.menu-adds__label {
	display: flex;
	align-items: center;
}

.navbar-custom-icon {
	height: 30px;
	margin-top: -3px;
	margin-left: -10px;
}

.navbar-logo-center {
	width: 150px;
	margin-top: -0.5rem;
}

.new-label {
	background-color: #f95516;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	right: -0.3rem;
	top: 0.3rem;
	font-size: 10px;
	padding: 0 0.5rem;
	line-height: 17px;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;

	@media (max-width: 767px) {
		right: 0.5rem;
		top: 0;
	}
}

.desktop-label {
	margin-top: 3rem;
	margin-right: 1rem;
	position: relative !important;
	top: -15px !important;
}

.mobile-label {
	margin-right: 3rem;
	margin-top: 0.2rem;
}

.toast-green {
	background-color: #1baa56 !important;
	color: #fff !important;
}

.nav-notification {
	padding-right: 5px !important;
	padding-left: 5px !important;

	@media (max-width: 767.67px) {
		display: none;
	}
}

.nav-notification-mobile {
	float: right;
	padding: 0;
	position: relative;

	@media (min-width: 767.67px) {
		display: none;
	}
}

// White theme Style
.navbar-white-theme {
	.navbar {
		padding: 0 30px 0 30px;
		margin: 0;
	}

	.navbar-brand {
		height: auto;
		padding: 0;
		margin: 0;
	}

	.navbar-menu-container {
		flex: 1;
		height: 80px;
		align-items: center;

		@media (max-width: 767px) {
			height: 55px;
		}

		ul {
			li > a {
				padding: 0 12px;
				font-size: 12px;
				line-height: 17px;
				color: #242424;

				h3 {
					font-size: 12px !important;
					line-height: 17px !important;
					color: #242424;
				}

				@media (max-width: 767px) {
					padding: 15px 0;
				}
			}

			.user-nav-white-theme > a {
				color: #1baa56;

				&:hover {
					text-decoration: underline;
				}
			}

			.menu-item > a {
				padding: 8px 16px;
			}
		}

		.dropdown-nav-list {
			transform: none !important;
		}

		.dropdown-danger {
			left: -100px;
			transform: none !important;

			li > a {
				padding: 8px 16px;
			}
		}

		@media (min-width: 768px) and (max-width: 886px) {
			position: absolute;
			right: 30px;
		}
	}

	.navbar-nav {
		display: flex;
		align-items: center;

		.nav-history,
		.nav-chat,
		.nav-promotion,
		.nav-help-center,
		.nav-notification {
			a {
				color: #242424 !important;

				&:hover {
					padding-bottom: 0;
					text-decoration: underline;
					border-bottom: 0;
				}
			}
		}

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.navbar-header {
		display: flex;
		height: 80px;
		align-items: center;

		@media (max-width: 767px) {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			justify-content: space-between;
			margin: 0;

			.navbar-input-search {
				display: none;
			}

			.--force-search {
				position: fixed;
				top: 14px;
				left: 50%;
				display: flex;
				padding: 0;
				margin: 0;
				transform: translate(-50%, 0);
			}

			.nav-notification-mobile {
				display: none;
			}
		}

		.navbar-toggle {
			position: absolute;
			right: 15px;
			padding: 0;
			margin: 0;

			.icon-bar {
				background: #25ab25;
			}
		}
	}
}

.d-flex {
	display: flex;
	align-items: center;
}

#toggleWhiteTheme {
	display: flex !important;
	align-items: center;

	h3 {
		margin: 0;
		font-size: 12px;
		line-height: 17px;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
	}
}

.navbar-icon-white-theme {
	width: 36px;
	height: auto;

	@media (max-width: 767px) {
		position: absolute;
		top: 17px;
		left: 50%;
		display: block !important;
		width: auto;
		height: 27px;
		transform: translate(-50%, 0);
	}
}

.new-label-white-theme {
	position: absolute;
	top: -14px;
	right: 0;
	display: flex;
	min-width: 16px;
	align-items: center;
	justify-content: center;
	height: 12px;
	padding: 8px;
	font-size: 10px;
	font-weight: 700;
	line-height: 11px;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	background: #ec4a0c;
	border-radius: 8px;

	@media (max-width: 767px) {
		top: 0;
		right: -15px;
	}
}

.user-nav-white-theme {
	display: flex;
	width: 80px;
	height: 40px;
	margin-left: 10px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border: 1px solid #1baa56;
	border-radius: 3px;
}

.caret-white-theme {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-left: 4px;

	svg {
		width: 12px;
		height: 12px;
	}
}
.login-toggle {
	padding: 0;
}

.dropdown-user-white-theme {
	.user-photo-white-theme {
		width: 32px;
		height: 32px;
		margin-right: 5px;
	}
}

.--white-theme {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);
}

.--theme-white-icon {
	width: 16.8px;
	height: 16.8px;
	font-size: 16px;
	color: #242424;
}

.--white-theme-back {
	position: absolute;
	top: 16px;
	left: 30px;
}
</style>
