<template>
	<modal
		id="pickABooSelectModal"
		effect="fade"
		:value="show"
		:backdrop="true"
		@closed="closeModal"
	>
		<div slot="modal-header" class="pick-a-boo-header">
			<slot name="custom-header">
				<h3>{{ title }}</h3>

				<button type="button" @click="closeModal">
					<icon-cross />
				</button>
			</slot>
		</div>

		<div slot="modal-body" class="pick-a-boo-content">
			<slot name="custom-body">
				<ul>
					<li v-for="(option, i) in options" :key="i" role="button">
						<button
							type="button"
							:class="{ 'is-active': isActiveOption(option) }"
							@click="handleClickOption(option, i)"
						>
							{{ typeof option === 'object' ? option.name : option }}

							<icon-check-round v-if="isActiveOption(option)" />
						</button>
					</li>
				</ul>
			</slot>
		</div>

		<div slot="modal-footer">
			<slot name="custom-footer" />
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

import IconCheckRound from 'Js/@icons/CheckRound';
import IconCross from 'Js/@icons/Cross';

export default {
	components: {
		modal,
		IconCheckRound,
		IconCross
	},
	props: {
		options: {
			type: Array,
			default() {
				return [];
			}
		},
		initialOption: {
			type: [Object, String],
			default: ''
		},
		activeOption: {
			type: [Object, String],
			default: ''
		},
		show: {
			type: Boolean,
			default: false
		},
		title: {
			type: String,
			default: ''
		},
		closeModal: {
			type: Function,
			default: () => {}
		},
		onClickOption: {
			type: Function,
			default: () => {}
		},
		windowWidthOnFixed: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			topPosition: 0
		};
	},
	watch: {
		show(value) {
			if (value) {
				const top = window.scrollY;
				this.topPosition = top;
				document.body.style.position = 'fixed';
				document.body.style.top = `-${top}px`;
				if (this.windowWidthOnFixed) document.body.style.width = '100vw';
			} else {
				document.body.style.position = '';
				document.body.style.top = '';
				if (this.windowWidthOnFixed) document.body.style.width = '';
				window.scrollTo(0, this.topPosition);
			}
		}
	},
	methods: {
		handleClickOption(option, index) {
			this.onClickOption(option, index);
			this.closeModal();
		},
		isActiveOption(option) {
			if (typeof option === 'object')
				return option.name === this.activeOption.name;

			return option === this.activeOption;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#pickABooSelectModal {
	overflow-y: hidden;
	.modal.in {
		display: block !important;
	}
	.modal-dialog {
		position: absolute;
		bottom: 0;
		margin: 0 auto;
		width: 100%;
		border: none;
		width: 100%;
	}
	.modal-content {
		border-radius: 0;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		box-shadow: none;
		border: none;
	}
	&.modal.fade .modal-dialog {
		transform: translate3d(0, 100vh, 0) !important;
	}

	&.modal.in .modal-dialog {
		transform: translate3d(0, 1px, 0) !important;
	}
	.pick-a-boo-header {
		border-bottom: 1px solid rgba(219, 219, 219, 0.5);
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h3 {
			font-size: 16px;
			line-height: 19px;
			margin: 0;
			font-weight: bold;
		}

		button {
			border: none;
			background: none;
			height: 24px;
		}
	}
	.pick-a-boo-content {
		padding: 8px 0;
		max-height: 80vh;
		overflow: auto;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			button {
				border: none;
				background: none;
				margin: 0;
				padding: 0;
				padding: 8px 16px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&.is-active {
					background: #e8f7ee;
				}

				svg {
					color: #1baa56;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	button {
		&:focus {
			outline: none;
		}
	}
}
/* stylelint-enable */
</style>
