<template>
	<div ref="popperPivot">
		<div
			v-if="isShow"
			ref="popperWrapper"
			:class="{ 'popper-container': blockInteractionCondition }"
			:style="customContainerStyle"
		>
			<slot name="content">
				<div
					ref="popperContent"
					:class="[
						'popper-widget-content-container',
						{
							'popper-widget-pointer-none': blockInteractionCondition
						}
					]"
				>
					<div ref="popperArrow" class="popper-widget-arrow" />
					{{ content }}
				</div>
			</slot>
		</div>
		<div
			ref="popperReference"
			v-click-outside="handleClickClose"
			@mouseover="handleHover"
			@mouseout="handleHover"
			@click="handleClick"
		>
			<slot></slot>
		</div>
	</div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

const DEFAULT_MARGIN = 15;

export default {
	directives: {
		ClickOutside
	},
	props: {
		offset: {
			type: Number,
			default: 10
		},
		type: {
			type: String,
			default: 'tooltip'
		},
		fullWidth: {
			type: String,
			default: 'none'
		},
		hPaddingFullWidth: {
			type: Number,
			default: 0
		},
		content: {
			type: String,
			default: ''
		},
		placement: {
			type: String,
			default: 'bottom'
		},
		trigger: {
			type: String,
			default: 'hover'
		},
		showFromProps: {
			type: Boolean,
			default: false
		},
		closeOnClickOutside: {
			type: Boolean,
			default: false
		},
		blockInteractionOnShow: {
			type: Boolean,
			default: false
		},
		customContainerStyle: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isShow: false
		};
	},
	computed: {
		blockInteractionCondition() {
			return this.blockInteractionOnShow && this.isShow;
		},
		fullWidthStatus() {
			return (
				(this.fullWidth === 'desktop' && !this.navigator.isMobile) ||
				(this.fullWidth === 'mobile' && this.navigator.isMobile)
			);
		},
		diffWidth() {
			return this.hPaddingFullWidth * 2;
		}
	},
	watch: {
		showFromProps: {
			handler(val) {
				if (val) {
					this.mainEvent();
				} else {
					this.isShow = false;
					this.setPointerEvent(true);
					this.setRelativeReference();
				}
			}
		}
	},
	methods: {
		setPointerEvent(type) {
			if (type) {
				document.body.style.overflow = 'auto';
				document.body.style.pointerEvents = 'auto';
			} else {
				document.body.style.overflow = 'hidden';
				document.body.style.pointerEvents = 'none';
			}
		},
		setWrapperElement(width, height, top, left) {
			const elementWrapper = this.$refs.popperWrapper;
			const totalWrapperWidth = width + this.offset;
			const totalWrapperHeight = height + this.offset;
			const totalWrapperLeft = left - (totalWrapperWidth - width) / 2;
			const totalWrapperTop = top - (totalWrapperHeight - height) / 2;

			elementWrapper.style.width = `${totalWrapperWidth}px`;
			elementWrapper.style.height = `${totalWrapperHeight}px`;
			elementWrapper.style.left = `${totalWrapperLeft}px`;
			elementWrapper.style.top = `${totalWrapperTop}px`;
		},
		setWidthElement(element) {
			this.fullWidthStatus && element.classList.add('popper-widget-full');
			const totalWidth = this.fullWidthStatus
				? `calc(100vw - ${this.diffWidth}px)`
				: '100vw';
			element.style.width = totalWidth;
		},
		setLeftElement(element, elementLeft, elementWidth) {
			let totalLeft = 0;
			const elementContentWidth = element.offsetWidth;
			if (this.fullWidthStatus) {
				totalLeft = this.blockInteractionOnShow
					? -Math.abs(elementLeft) + this.offset / 2 + this.hPaddingFullWidth
					: this.hPaddingFullWidth;
			} else {
				totalLeft = this.blockInteractionOnShow
					? -Math.abs(elementContentWidth / 2) +
					  this.offset / 2 +
					  elementWidth / 2
					: elementLeft - elementContentWidth / 2 + elementWidth / 2;
			}
			element.style.left = `${totalLeft}px`;
		},
		setTopElement(element, elementTop, elementHeight) {
			let totalTop = 0;
			const elementContentHeight = element.offsetHeight;
			if (this.blockInteractionOnShow) {
				totalTop =
					this.placement === 'top'
						? -Math.abs(elementContentHeight + DEFAULT_MARGIN)
						: elementHeight + DEFAULT_MARGIN + this.offset;
			} else {
				totalTop =
					this.placement === 'top'
						? elementTop - (elementContentHeight + DEFAULT_MARGIN)
						: elementTop + elementHeight + DEFAULT_MARGIN;
			}
			element.style.top = `${totalTop}px`;
		},
		setArrowElement(element, elementContent, elementWidth, elementLeft) {
			element.style.transform = this.fullWidthStatus
				? 'none'
				: 'translate(-50%, 0)';
			element.style.left = this.fullWidthStatus
				? `${elementLeft - this.hPaddingFullWidth + (elementWidth - 16) / 2}px`
				: '50%';

			element.classList.toggle(`popper-widget-arrow-${this.placement}`);
			elementContent.classList.toggle(`popper-widget-${this.placement}`);
		},
		setRelativeReference() {
			const elementReference = this.$refs.popperReference;
			this.type === 'ftue' &&
				elementReference.classList.toggle('popper-widget-reference-container');
		},
		setPosition() {
			const elementContent = this.$refs.popperContent;
			const elementArrow = this.$refs.popperArrow;
			const mainElement = this.$slots.reference
				? this.$slots.reference
				: this.$slots.default.filter(value => value.tag);
			const elementTop = mainElement[0].elm.offsetTop;
			const elementLeft = mainElement[0].elm.offsetLeft;
			const elementWidth = mainElement[0].elm.offsetWidth;
			const elementHeight = mainElement[0].elm.offsetHeight;

			// set wrapper highlight around element when block interaction on show or FTUE tooltip
			this.blockInteractionOnShow &&
				this.setWrapperElement(
					elementWidth,
					elementHeight,
					elementTop,
					elementLeft
				);

			// if user not use slot content
			if (elementContent) {
				// set element width
				this.setWidthElement(elementContent);

				// set left element position based on left window
				this.setLeftElement(elementContent, elementLeft, elementWidth);

				// set top element position based on top window
				this.setTopElement(elementContent, elementTop, elementHeight);

				// set arrow position
				this.setArrowElement(
					elementArrow,
					elementContent,
					elementWidth,
					elementLeft
				);
			}

			this.setRelativeReference();
		},
		handleHover() {
			this.trigger === 'hover' && this.type === 'tooltip' && this.mainEvent();
		},
		handleClick() {
			(this.trigger === 'click' ||
				(this.type === 'ftue' && this.showFromProps)) &&
				this.mainEvent();
		},
		handleClickClose() {
			this.isShow && !this.blockInteractionCondition && this.mainEvent();
		},
		mainEvent() {
			const lastScrollPosition = window.pageYOffset;
			this.isShow = !this.isShow;
			this.$nextTick(() => {
				if (this.isShow) {
					this.setPosition();
					this.trigger === 'click' && window.scrollTo(0, lastScrollPosition);
				}
				this.blockInteractionOnShow && this.setPointerEvent(!this.isShow);
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.popper-index {
	position: relative;
	z-index: 1033;
	pointer-events: auto;
}
.popper-default {
	display: flex;
	align-items: center;
}
.popper-container {
	position: absolute;
	z-index: 1032;
	pointer-events: auto;
	border-radius: 6px;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}
.popper-widget-pointer-none {
	pointer-events: none;
}
.popper-widget-content-container {
	position: absolute;
	z-index: 100;
	width: 100%;
	max-width: 328px;
	padding: 16px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background: #303030;
	border-radius: 4px;
	opacity: 0;
}
.popper-widget-arrow {
	position: absolute;
	width: 0;
	height: 0;
}
.popper-widget-arrow-top {
	bottom: -10px;
	border-top: 12px solid #303030;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.popper-widget-arrow-bottom {
	top: -10px;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #303030;
	border-left: 8px solid transparent;
}
.popper-widget-bottom,
.popper-widget-top {
	opacity: 1;
}
.popper-widget-full {
	max-width: none;
	transform: none;
}
.popper-widget-reference-container {
	position: relative;
	z-index: 1033;
	pointer-events: auto;
}
</style>
