<template>
	<div ref="btnCTA" class="btn-cta-search" @click="$emit('onClickEvent')">
		<img
			src="/general/img/pictures/navbar/ic_search.svg"
			class="btn-icon"
			alt="Icon Search"
		/>
		<div
			:class="[
				'btn-cta-label',
				{
					'cta-active': value !== ''
				}
			]"
		>
			{{ value !== '' ? value : placeholder }}
		</div>
		<div v-if="needButton" class="btn-cta-span">
			<span class="btn-cta-search-label">Cari</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		placeholder: {
			type: String,
			default: 'Masukan nama lokasi/area/alamat'
		},
		needButton: {
			type: Boolean,
			default: false
		},
		value: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss" scoped>
.btn-cta-search {
	position: relative;
	z-index: 1032;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4px;
	cursor: pointer;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

	@media (max-width: 991px) {
		z-index: 1;
	}

	.btn-icon {
		margin: 8px 12px 8px 8px;
	}

	.btn-cta-label {
		display: block;
		width: 100%;
		margin: 0;
		overflow: hidden;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #949494;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.cta-active {
		color: #555;
	}

	.btn-cta-span {
		display: flex;
		flex: 1;
		height: 100%;
		justify-content: flex-end;
		align-items: center;

		.btn-cta-search-label {
			display: flex;
			width: 90px;
			height: 100%;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #fff;
			background: #1baa56;
			border-radius: 4px;
			align-items: center;
			justify-content: center;
		}
	}
}
.navbar-search-theme {
	padding: 4px;
	border-radius: 4px;

	.btn-icon {
		width: 20px;
		height: 20px;
		margin: 0 16px 0 8px;
	}

	.btn-cta-label {
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
	}
}
</style>
