<template>
	<div class="suggestion-container">
		<div
			v-if="propertyType !== 'kost'"
			v-show="!isEmptyRelatedListKost"
			v-cloak
		>
			<div class="suggestion-title-bar">Rekomendasi Kost</div>

			<div class="suggestion-scrollable">
				<div
					class="suggestion-box-container"
					v-if="
						!isLoading && relatedListKost != null && relatedListKost.length > 0
					"
				>
					<div
						class="suggestion-box"
						:class="{
							'track-list-booking-kost':
								related.is_booking && related.apartment_project_id === 0,
							'track-list-premium-kost':
								related.is_promoted &&
								!related.is_booking &&
								related.apartment_project_id === 0,
							'track-list-regular-kost':
								!related.is_promoted &&
								!related.is_booking &&
								related.apartment_project_id === 0,
							'track-list-promo-kost':
								related.promo_title != null &&
								related.apartment_project_id === 0
						}"
						v-for="(related, relatedKostIndex) in relatedListKost"
						:key="relatedKostIndex"
						:title="related['room-title']"
						@click="openLink(related.share_url)"
					>
						<img
							:src="related.photo_url.medium"
							class="suggestion-box-image"
							:alt="`${related['room-title']} - Mamikos`"
						/>

						<div class="suggestion-inside">
							<div class="suggestion-inside-content">
								{{ related.price_title_time }}
								<span
									v-if="related.gender === 0"
									class="suggestion-tag suggestion-tag-gender-mixed"
									>Campur</span
								>
								<span
									v-if="related.gender === 1"
									class="suggestion-tag suggestion-tag-gender-male"
									>Putra</span
								>
								<span
									v-if="related.gender === 2"
									class="suggestion-tag suggestion-tag-gender-female"
									>Putri</span
								>
								<span class="elipsis">{{ related['room-title'] }}</span>
							</div>
							<div class="suggestion-inside-premium" v-if="related.is_promoted">
								<div class="suggestion-premium-icon">
									<img
										src="/assets/icons/ic_premium2.png"
										class="suggestion-premium-icon-image"
										alt="ic_premium2"
									/>
								</div>
								<div class="suggestion-premium-label">Premium</div>
							</div>
							<div class="suggestion-inside-premium" v-else></div>
						</div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room"
						v-if="relatedKostLink != null"
						@click="openLinkKost(relatedKostLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							Lihat Kost di Sekitar {{ relatedKostLink.title }} Lainnya
						</p>
					</div>
				</div>

				<div class="suggestion-box-container" v-else>
					<div
						class="suggestion-box suggestion-box-placeholder"
						v-for="index in 4"
					>
						<div class="suggestion-inside suggestion-inside-placeholder"></div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room"
						v-if="relatedKostLink != null"
						@click="openLinkKost(relatedKostLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							Lihat Kost di Sekitar {{ relatedKostLink.title }} Lainnya
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- RELATED LIST FOR APARTEMEN -->

		<div
			v-if="propertyType !== 'apartment'"
			v-show="!isEmptyRelatedListApartment"
			v-cloak
		>
			<div class="suggestion-title-bar margin-top">Rekomendasi Apartemen</div>

			<div class="suggestion-scrollable">
				<div
					class="suggestion-box-container"
					v-if="
						!isLoading &&
							relatedListApartment != null &&
							relatedListApartment.length > 0
					"
				>
					<div
						class="suggestion-box"
						v-for="(related, relatedApartmentIndex) in relatedListApartment"
						:key="relatedApartmentIndex"
						:title="related['room-title']"
						@click="openLinkApartment(related.share_url)"
					>
						<img
							:src="related.photo_url.medium"
							class="suggestion-box-image"
							:alt="`${related['room-title']} - Mamikos`"
						/>

						<div class="suggestion-inside">
							<div class="suggestion-inside-content">
								{{ related.price_title_time }}
								<span class="elipsis">{{ related['room-title'] }}</span>
							</div>
							<div class="suggestion-inside-premium" v-if="related.is_promoted">
								<div class="suggestion-premium-icon">
									<img
										src="/assets/icons/ic_premium2.png"
										class="suggestion-premium-icon-image"
										alt="ic_premium2"
									/>
								</div>
								<div class="suggestion-premium-label">Premium</div>
							</div>
							<div class="suggestion-inside-premium" v-else></div>
						</div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room"
						v-if="relatedApartmentLink != null"
						@click="openLink(relatedApartmentLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							{{ relatedApartmentLink.title }} Lainnya
						</p>
					</div>
				</div>

				<div class="suggestion-box-container" v-else>
					<div
						class="suggestion-box suggestion-box-placeholder"
						v-for="index in 4"
					>
						<div class="suggestion-inside suggestion-inside-placeholder"></div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room"
						v-if="relatedKostLink != null"
						@click="openLinkKost(relatedKostLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							Lihat Kost di Sekitar {{ relatedKostLink.title }} Lainnya
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- RELATED LIST FOR LOKER -->

		<div
			v-if="propertyType !== 'vacancy'"
			v-show="!isEmptyRelatedListVacancy"
			v-cloak
		>
			<div class="suggestion-title-bar">Rekomendasi Lowongan Pekerjaan</div>

			<div class="suggestion-scrollable">
				<div
					class="suggestion-box-container"
					v-if="
						!isLoading &&
							relatedListVacancy != null &&
							relatedListVacancy.length > 0
					"
				>
					<div
						class="suggestion-box suggestion-box-vacancy"
						v-for="(related, relatedVacancyIndex) in relatedListVacancy"
						:key="relatedVacancyIndex"
						:title="related.place_name"
						@click="openLinkVacancy(related.share_slug)"
					>
						<div class="suggestion-vacancy-content">
							<div class="suggestion-vacancy-type">
								<span
									class="suggestion-vacancy-tag"
									:class="vacancyTagClass[related.type]"
									>{{ related.type }}</span
								>
							</div>
							<div class="suggestion-vacancy-salary">{{ related.salary }}</div>
							<div class="suggestion-vacancy-title elipsis">
								{{ related.title }}
							</div>
							<div class="suggestion-vacancy-company elipsis">
								{{ related.place_name }}
							</div>
						</div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room suggestion-see-more-room-vacancy"
						v-if="relatedVacancyLink != null"
						@click="openLink(relatedVacancyLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							Lihat {{ relatedVacancyLink.title }} Lainnya
						</p>
					</div>
				</div>

				<div class="suggestion-box-container" v-else>
					<div
						class="suggestion-box suggestion-box-placeholder"
						v-for="index in 4"
					>
						<div class="suggestion-inside suggestion-inside-placeholder"></div>
					</div>

					<div
						class="suggestion-box suggestion-see-more-room"
						v-if="relatedKostLink != null"
						@click="openLinkKost(relatedKostLink.slug)"
					>
						<p class="suggestion-see-more-room-label">
							Lihat Kost di Sekitar {{ relatedKostLink.title }} Lainnya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import mixinTrackingClass from 'Js/@mixins/MixinTrackingClass';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import _get from 'lodash/get';

export default {
	mixins: [mixinTrackingClass],

	props: {
		propertyType: {
			type: String,
			required: true
		},
		params: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			relatedListKost: null,
			relatedListApartment: null,
			relatedListVacancy: null,
			isLoading: false,
			hasScrolledPastSuggestion: false,
			isEmptyRelatedListKost: false,
			isEmptyRelatedListApartment: false,
			isEmptyRelatedListVacancy: false
		};
	},

	computed: {
		vacancyTagClass() {
			return {
				FREELANCE: 'suggestion-vacancy-tag-freelance',
				'FULL-TIME': 'suggestion-vacancy-tag-fulltime',
				'PART-TIME': 'suggestion-vacancy-tag-parttime',
				MAGANG: 'suggestion-vacancy-tag-internship'
			};
		},
		relatedKostLink() {
			return relatedKostLink;
		},
		relatedApartmentLink() {
			return relatedApartmentLink;
		},
		relatedVacancyLink() {
			return relatedVacancyLink;
		}
	},

	watch: {
		relatedListKost: {
			deep: true,
			handler(val) {
				if (val !== null && val.length > 0) {
					this.$nextTick(() => {
						this.setupTrackingClassKost();
					});
				}
			}
		}
	},

	mounted() {
		window.addEventListener('scroll', e => {
			if (window.pageYOffset > 300 && !this.hasScrolledPastSuggestion) {
				this.getRelatedList();
				this.hasScrolledPastSuggestion = true;
			}
		});
	},

	methods: {
		async getRelatedList() {
			this.isLoading = true;
			this.params.filters.sorting = 'rand';

			const response = await makeAPICall({
				method: 'post',
				url: '/related/web',
				data: this.params
			});
			if (response) {
				const kostData = _get(response, 'kost', null);
				const apartmentData = _get(response, 'apartment', null);
				const vacancyData = _get(response, 'vacancy', null);

				this.relatedListKost = kostData;
				this.relatedListApartment = apartmentData;
				this.relatedListVacancy = vacancyData;

				this.isEmptyRelatedListKost = !kostData || !kostData.length;
				this.isEmptyRelatedListApartment =
					!apartmentData || !apartmentData.length;
				this.isEmptyRelatedListVacancy = !vacancyData || !vacancyData.length;
			} else {
				this.isEmptyRelatedListKost = true;
				this.isEmptyRelatedListApartment = true;
				this.isEmptyRelatedListVacancy = true;
			}
			this.isLoading = false;
		},
		openLink(link) {
			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		openLinkKost(link) {
			if (this.propertyType === 'apartment') {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_kost_lp_apt'
					}
				]);
			} else {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_kost_lp_loker'
					}
				]);
			}

			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		openLinkApartment(link) {
			if (this.propertyType === 'kost') {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_apt_lp_kost'
					}
				]);
			} else {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_apt_lp_loker'
					}
				]);
			}

			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		openLinkVacancy(link) {
			if (this.propertyType === 'kost') {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_loker_lp_kost'
					}
				]);
			} else {
				tracker('ga', [
					'send',
					'event',
					{
						eventCategory: 'Related Landing',
						eventAction: 'click',
						eventLabel: 'rekomend_loker_lp_apt'
					}
				]);
			}

			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		setupTrackingClassKost() {
			this.applyTrackingClass(
				'.track-list-booking-kost *',
				'track-list-booking-kost'
			);

			this.applyTrackingClass(
				'.track-list-premium-kost *',
				'track-list-premium-kost'
			);

			this.applyTrackingClass(
				'.track-list-regular-kost *',
				'track-list-regular-kost'
			);

			this.applyTrackingClass(
				'.track-list-promo-kost *',
				'track-list-promo-kost'
			);
		}
	}
};
</script>

<style scoped>
/* utility */
.elipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.margin-top {
	margin-top: 15px;
}

/*  */
.suggestion-container {
	width: 100%;
}

.suggestion-title-bar {
	padding: 10px 15px;
	font-weight: 700;
	background-color: #eaeaea;
	text-align: left;
}

.suggestion-scrollable {
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 20px;
}

.suggestion-promotion-label {
	margin: 25px 15px;
}

.suggestion-box-container {
	display: flex;
	width: 100%;
	margin: 16px 0 13px 0;
}

.suggestion-box {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	min-width: 280px;
	max-width: 280px;
	height: 250px;
	margin: 0 15px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.suggestion-box-image {
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.suggestion-box-placeholder {
	background-image: url('/general/img/pictures/placeholder/placeholder_loading.svg');
}

.suggestion-box:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.suggestion-inside {
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.suggestion-inside-placeholder {
	height: 80px;
}

.suggestion-inside-content {
	padding: 7px 10px;
}
.suggestion-inside-premium {
	min-height: 20px;
	padding-bottom: 10px;
}

.suggestion-tag {
	display: inline-block;
	color: #fff;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
}
.suggestion-tag-gender-male {
	background-color: #3498db;
}
.suggestion-tag-gender-female {
	background-color: #f26389;
}
.suggestion-tag-gender-mixed {
	background-color: #9b59b6;
}

.suggestion-premium-icon {
	display: inline-block;
}
.suggestion-premium-icon .suggestion-premium-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.suggestion-premium-label {
	display: inline-block;
	color: #e0af50;
	text-transform: uppercase;
	font-weight: 700;
}

.suggestion-box-vacancy {
	height: 180px;
	padding: 0 15px;
}

.suggestion-vacancy-content {
	text-align: center;
	padding: 40px 0;
}

.suggestion-vacancy-type {
	margin-bottom: 10px;
}
.suggestion-vacancy-salary {
	font-weight: 700;
	margin-bottom: 8px;
}
.suggestion-vacancy-title {
	font-weight: 700;
	color: #1baa56;
	margin-bottom: 5px;
	font-size: 14px;
}
.suggestion-vacancy-company {
	font-weight: 700;
}

.suggestion-vacancy-tag {
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
}
.suggestion-vacancy-tag-fulltime {
	background-color: #a25390;
}
.suggestion-vacancy-tag-freelance {
	background-color: #5eaca6;
}
.suggestion-vacancy-tag-parttime {
	background-color: #e89122;
}
.suggestion-vacancy-tag-internship {
	background-color: #a3c502;
}

.suggestion-see-more-room {
	height: 250px;
	background-color: #1baa56;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 25px;
	text-align: center;
}
.suggestion-see-more-room-vacancy {
	height: 180px;
}

.suggestion-see-more-room-label {
	white-space: normal;
	padding: 0 20px;
}
</style>
