<template>
	<section id="relatedCard" ref="relatedCard" class="related-card-container">
		<div v-if="isLoading">
			<div class="related-box">
				<list-placeholder class="hidden-xs" :mode="4"></list-placeholder>
				<list-placeholder class="visible-xs" :mode="2"></list-placeholder>
			</div>
		</div>
		<div v-else-if="!isLoading && relatedKost.length" class="related-box">
			<div class="related-box__header">
				<label class="related-box__title">Kamu mungkin menyukainya</label>
				<div class="slider-nav">
					<a :href="seeMoreUrl" target="_blank" class="slider-nav__link">
						Lihat semua
					</a>
					<span class="slider-nav__divider" />
					<span
						slot="pagination"
						class="slider-nav__navigation swiper-pagination"
					>
					</span>
					<div class="slider-nav__prev swiper-kos-prev">
						<icon-arrow-left />
					</div>
					<div class="slider-nav__next swiper-kos-next">
						<icon-arrow-right />
					</div>
				</div>
			</div>
			<div class="related-box__slider">
				<swiper ref="swiperKost" :options="swiperOptionKost">
					<swiper-slide
						v-for="relatedKostSet in relatedKost"
						:key="`related-data-${relatedKostSet.index}`"
					>
						<div
							v-for="(room, index) in relatedKostSet.data"
							:key="`related-data-set${relatedKostSet.index}-kost-${index}`"
							class="related-box__room"
						>
							<div
								:class="{
									'track-list-booking-kost':
										room.is_booking && room.apartment_project_id === 0,
									'track-list-premium-kost':
										room.is_promoted &&
										!room.is_booking &&
										room.apartment_project_id === 0,
									'track-list-regular-kost':
										!room.is_promoted &&
										!room.is_booking &&
										room.apartment_project_id === 0,
									'track-list-promo-kost':
										room.promo_title != null && room.apartment_project_id === 0
								}"
							>
								<room-card
									:photo-list="room.photo_url"
									:area-name="room.subdistrict"
									:last-online="room.online"
									:available-room="+room.available_room"
									:is-kost="room.isKost"
									:is-goldplus="room.isGoldplus"
									:goldplus-name="room.goldplusName"
									:unit-type-detail="room.unit_type_rooms"
									:is-verified="room.checker"
									:room-title="room['room-title']"
									:unit-type="room.unit_type"
									:price-title-format="room.price_title_format"
									:price-other-discount="room.otherDiscountLabel"
									:is-flash-sale="room.is_flash_sale"
									:price-title-time="room.price_title_time"
									:furnished-status="room.furnished_status"
									:is-premium-owner="room.is_premium_owner"
									:is-promoted="room.is_promoted"
									:price-label="room.priceLabel"
									:detail-type-name="room.roomType"
									:top-facilities="room.top_facilitiy"
									:unit-floor="room.floor"
									:rating="room.rating"
									:gender-props="room.genderProperties"
									:show-favorite-condition="room.favoriteCondition"
									:show-promotion-condition="room.promotionCondition"
									:promo-name="room.promotionName"
									:tag-ribbon-props="room.tagRibbonProperties"
									:not-owner="notOwner"
									:is-love="room.love_by_me"
									:rent-type-unit="room.rentTypeUnit"
									:price-label-only="room.priceLabelOnly"
									@openRoom="() => openDetail(room.share_url)"
									@toggleLove="() => loveThisPage(room)"
								/>
							</div>
						</div>
					</swiper-slide>
				</swiper>
			</div>
			<a
				v-if="navigator.isMobile"
				:href="seeMoreUrl"
				target="_blank"
				class="related-box__footer"
			>
				Lihat semua
			</a>
		</div>
	</section>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import _find from 'lodash/find';
import _get from 'lodash/get';
import _findIndex from 'lodash/findIndex';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import { appendParams } from 'Js/@utils/queryString.js';

import IconArrowRight from 'Js/@icons/ArrowRight';
import IconArrowLeft from 'Js/@icons/ArrowLeft';

import RoomCard from 'Js/@components/RoomCard';
import { generateRoomData } from 'Js/@utils/roomCardHelper.js';
import mixinTrackingClass from 'Js/@mixins/MixinTrackingClass';
import MixinFavorite from 'Js/@mixins/MixinFavorite';

const ListPlaceholder = () => import('Js/@components/ListPlaceholder');

export default {
	components: {
		swiper,
		swiperSlide,
		ListPlaceholder,
		RoomCard,
		IconArrowRight,
		IconArrowLeft
	},
	mixins: [mixinTrackingClass, MixinFavorite],
	props: {
		params: {
			type: Object,
			required: true
		},
		seeMore: {
			type: String,
			default: '/cari'
		},
		latitude: {
			type: Number,
			default: 0
		},
		longitude: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			isLoading: true,
			relatedCalled: false,
			relatedKost: [],
			boundLocation: [],
			swiperOptionKost: {
				navigation: {
					nextEl: '.swiper-kos-next',
					prevEl: '.swiper-kos-prev'
				},
				pagination: {
					el: '.swiper-pagination',
					type: 'fraction'
				}
			},
			relatedFilter: null
		};
	},
	computed: {
		roomTitle() {
			return _get(this.$store.state, 'detail.room_title', null);
		},
		seeMoreUrl() {
			const appendObject = {
				lat: this.latitude,
				long: this.longitude,
				location: JSON.stringify(this.boundLocation),
				title: this.roomTitle
			};
			if (this.relatedFilter) {
				for (const [key, value] of Object.entries(this.relatedFilter)) {
					switch (key) {
						case 'gender':
							appendObject.gender = value.join();
							break;
						case 'price_range':
							appendObject.price = value.join('-');
							break;
						default:
							appendObject.rent = value;
							break;
					}
				}
			}
			return appendParams(this.seeMore, appendObject, false);
		}
	},
	watch: {
		relatedKost: {
			handler(val) {
				if (val && val.length) {
					this.$nextTick(() => {
						this.setupTrackingClassKost();
					});
				}
			},
			deep: true
		}
	},
	mounted() {
		window.addEventListener('scroll', () => {
			if (!this.relatedCalled && this.isInViewport(this.$refs.relatedCard)) {
				this.getRelated();
			}
		});
	},
	methods: {
		isInViewport(elem) {
			const bounding = elem.getBoundingClientRect();

			return (
				bounding.top <=
				(window.innerHeight || document.documentElement.clientHeight)
			);
		},
		setSwiperOptionsEach(slide, space) {
			if (this.navigator && this.navigator.isMobile) {
				this.swiperOptionKost.feeMode = true;
				this.swiperOptionKost.slidesPerView = 'auto';
				this.swiperOptionKost.spaceBetween = space;
			} else {
				this.swiperOptionKost.slidesPerView = slide;
				this.swiperOptionKost.spaceBetween = space;
			}
		},
		async getRelated() {
			this.relatedCalled = true;
			if (!this.isLoading) this.isLoading = true;

			try {
				const response = await makeAPICall({
					method: 'get',
					url: `/stories/${this.params.seq}/recommendation`
				});
				if (response) {
					this.boundLocation = _get(response, 'location', []);
					this.relatedFilter = response.filters;
					this.handleRelatedData(response);
				} else {
					this.isLoading = false;
				}
			} catch (e) {
				this.isLoading = false;
			}
		},
		setLoveStatus(id, status) {
			const roomData = _find(this.related.kost, room => room._id === id);
			const roomIndex = _findIndex(this.related.kost, room => room._id === id);
			roomData.love_by_me = status;
			this.related.kost.splice(roomIndex, 1, roomData);
		},
		setData(rooms) {
			const generatedKost = generateRoomData(
				rooms,
				false,
				this.navigator.isMobile
			);
			const relatedKostTemp = [];
			let newSetData = [];
			generatedKost.map((data, index) => {
				newSetData.push(data);
				if (
					newSetData.length === 4 ||
					index + 1 === generatedKost.length ||
					this.navigator.isMobile
				) {
					relatedKostTemp.push({
						index: relatedKostTemp.length + 1,
						data: newSetData
					});
					newSetData = [];
				}
			});
			this.relatedKost = relatedKostTemp;
			this.isLoading = false;
		},
		handleRelatedData(response) {
			this.updateSwiper();
			response.recommendation_room &&
				this.setData(response.recommendation_room);
		},
		updateSwiper() {
			this.setSwiperOptionsEach(1, 0);
		},
		openDetail(slug) {
			const updatedSlug = `${slug}?redirection_source=property recommendation`;
			if (
				(typeof window.matchMedia === 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = updatedSlug;
			} else {
				window.open(updatedSlug, '_blank');
			}
		},
		setupTrackingClassKost() {
			this.applyTrackingClass(
				'.track-list-booking-kost *',
				'track-list-booking-kost'
			);

			this.applyTrackingClass(
				'.track-list-premium-kost *',
				'track-list-premium-kost'
			);

			this.applyTrackingClass(
				'.track-list-regular-kost *',
				'track-list-regular-kost'
			);

			this.applyTrackingClass(
				'.track-list-promo-kost *',
				'track-list-promo-kost'
			);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#relatedCard {
	.swiper-container {
		@media (max-width: 767px) {
			height: 315px;
		}
	}
	.swiper-wrapper {
		margin-bottom: 3rem;
	}
	.swiper-slide {
		display: flex;
		padding-left: 16px;
		background-color: #fff;

		@media (max-width: 767px) {
			width: 216px;
			padding-left: 12px;
		}

		.related-box__room {
			display: block;
			width: 265px;
			height: auto;

			@media (max-width: 1200px) {
				width: 215px;
			}

			@media (max-width: 991px) {
				width: 160px;
			}

			@media (max-width: 767px) {
				width: 100%;
			}

			&:not(:first-of-type) {
				margin-left: 24px;

				@media (max-width: 767px) {
					margin-left: 0;
				}
			}
		}
	}
	.swiper-slide-active {
		padding-left: 16px;
	}
	.placeholder-wrapper {
		flex-direction: row;
	}
	.placeholder-photo {
		margin: 10px;
	}
	.placeholder-text {
		margin-left: 10px;
		margin-right: 10px;
	}
	.swiper-button-disabled {
		background-color: #fafafa;
	}
	.swiper-pagination-fraction {
		bottom: auto;
		left: auto;
		width: auto;
	}
	.swiper-pagination {
		position: static;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.related-card-container {
	margin-top: 3rem;

	@media (max-width: 767px) {
		padding: 0;
	}

	.related-box {
		@media (max-width: 991px) {
			padding: 0;
		}
	}
}
.related-box__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;

	@media (max-width: 767px) {
		margin-bottom: 24px;
	}

	.related-box__title {
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;
		color: #303030;

		@media (max-width: 767px) {
			font-size: 20px;
			font-weight: bold;
			line-height: 28px;
		}
	}

	.slider-nav {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			display: none;
		}

		.slider-nav__next,
		.slider-nav__prev {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 100px;
			outline: 0;
			box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		}

		.slider-nav__prev {
			margin-right: 12px;
		}
	}
}
.related-box__slider {
	margin: 0 -15px;
}
.related-box__footer {
	display: flex;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: center;
	margin: 28px 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #404040;
	text-decoration: none;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
}
.slider-nav__link {
	display: flex;
	width: 123px;
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #404040;
	text-decoration: none;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
}
.slider-nav__divider {
	display: block;
	width: 1px;
	height: 24px;
	margin: 0 28px 0 24px;
	background-color: #dadada;
}
.slider-nav__navigation {
	margin-right: 20px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #404040;
	text-align: right;
}
</style>
