<template>
	<div class="row">
		<div class="col-sm-6 col-12" v-for="n in roomCount">
			<div class="kost-list-container material-card-1" v-cloak>
				<div class="kost-photo">
					<!-- background photo -->
					<div class="kost-icon-bar">
						<div class="kost-icon-container-left">
							<img src="/assets/icons/promote_ic.png" />
							<!-- toa -->
						</div>

						<span class="room-promo">
							<span class="promo-ic-container">
								<img src="/assets/icons/ic_kado_putih.png" class="promo-icon" />
							</span>
							<span class="promo-caption-container">
								Ada Promo
							</span>
						</span>

						<div class="kost-icon-container-right">
							<img src="/assets/icons/ic_vid360.png" />
						</div>
						<div class="kost-icon-container-right">
							<img src="/assets/icons/ic_video.png" />
						</div>
					</div>
				</div>

				<!-- apartment_project_id -->
				<div class="kost-info" v-if="isKost">
					<div class="kost-info-container kost-status">Ada 5 Kamar</div>
					<!-- this is a tweak comment, pls dont remove
				 -->
					<div class="kost-info-container kost-price">Rp. 1jt/bln</div>
				</div>
				<div class="kost-info" v-else>
					<div class="kost-info-container kost-status">Unit Apartemen</div>
					<!-- this is a tweak comment, pls dont remove
				 -->
					<div class="kost-info-container kost-price">Rp. 1jt/bln</div>
				</div>

				<div class="kost-detail" v-if="isKost">
					<div class="kost-tag kost-tag-gender-mixed">Campur</div>
					<div class="kost-booking-container">
						<div class="kost-booking-icon">
							<img
								src="/assets/icons/ic_booking_ijo2.png"
								class="kost-booking-icon-image"
							/>
						</div>
						<span class="kost-booking-label">Bisa Booking</span>
					</div>
				</div>

				<div class="kost-detail" v-else>
					<div class="kost-tag">1-Room Studio - 30 m<sup>2</sup></div>
					<div class="kost-tag">Not Furnished</div>
				</div>

				<div class="kost-title">
					Lorem ipsum dolor sit amet esse fugit facilisi ne sed falli expetenda
				</div>

				<div class="kost-detail-secondary">
					<span>8921 Klik</span>
					<div class="kost-premium-container">
						<div class="kost-premium-icon">
							<img
								src="/assets/icons/ic_premium2.png"
								class="kost-premium-icon-image"
							/>
						</div>
						<div class="kost-premium-label">Premium</div>
					</div>
				</div>

				<div class="kost-review" v-if="isKost">
					<div class="kost-review-container">
						<div class="kost-review-icon">
							<span>
								<i class="fa fa-star rating-star" aria-hidden="true"></i
								><!-- this is a tweak comment, pls dont remove
						 --><i class="fa fa-star rating-star" aria-hidden="true"></i
								><!-- this is a tweak comment, pls dont remove
						 --><i class="fa fa-star rating-star" aria-hidden="true"></i
								><!-- this is a tweak comment, pls dont remove
						 --><i class="fa fa-star-o rating-star" aria-hidden="true"></i>
							</span>
						</div>
						<span class="kost-review-caption">
							6 review
						</span>
					</div>
					<!-- tweak comment
			 -->
					<div class="kost-booking">
						Min. 3 Bln
					</div>
				</div>

				<div class="unit-icons" v-else>
					<div class="unit-icon-container">
						<div class="unit-icon">
							<img
								src="/assets/icons/apartment/bedroom_count.png"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">3</div>
						<!-- hang on -->
					</div>
					<div class="unit-icon-container">
						<div class="unit-icon">
							<img
								src="/assets/icons/apartment/bathroom_count.png"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">2</div>
					</div>
					<div class="unit-icon-container">
						<div class="unit-icon">
							<img
								src="/assets/icons/apartment/floor_count.png"
								class="unit-icon-image"
							/>
						</div>
						<div class="unit-icon-label">12</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			roomCount: 3,
			isKost: true //true for kost, false for apartment
		};
	},
	methods: {
		openRoom(link) {
			window.open(link, '_blank');
		}
	},
	props: {}
};
</script>

<style scoped>
.kost-list-container {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
.kost-zero {
	font-size: 24px;
	font-weight: bold;
	color: #006634;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.kost-photo {
	background-size: cover;
	background-position: center;
	height: 150px;
	background-image: url('/assets/loading/mamikos_placeholder_load.svg');
}
.kost-photo .kost-icon-bar {
	overflow: auto;
}
.kost-photo .kost-icon-bar .kost-icon-container-left {
	display: inline-block;
	float: left;
	padding: 3px;
}
.kost-photo .kost-icon-bar .kost-icon-container-left img {
	width: 22px;
}
.kost-photo .kost-icon-bar .kost-icon-container-right {
	display: inline-block;
	float: right;
	padding: 3px;
}
.kost-photo.fade {
	opacity: 0.5;
}

.kost-photo .room-promo {
	display: flex;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	border: 2px #1baa56 solid;
	margin-top: 4px;
	margin-left: 32px;
}

.kost-photo .room-promo .promo-ic-container {
	background-color: #1baa56;
	padding: 4px;
}

.kost-photo .room-promo .promo-caption-container {
	color: #1baa56;
	font-weight: bold;
	font-size: 14px;
	padding: 4px 6px;
}
.kost-photo .promo-icon {
	width: 19px;
	height: 19px;
}

.kost-info {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.kost-info .kost-info-container {
	padding: 3px 0;
	width: 50%;
	display: inline-block;
}
.kost-info .kost-info-container.kost-status {
	background-color: #1baa56;
	color: white;
}
.kost-info .kost-info-container.kost-status-full {
	background-color: #000;
	color: white;
}
.kost-info .kost-info-container.kost-price {
	color: #1baa56;
}

.kost-detail {
	font-size: 14px;
	padding: 5px;
	height: 35px;
}

.kost-tag {
	display: inline-block;
	background-color: #eee;
	color: #000;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
}
.kost-tag-gender-male {
	background-color: #3498db;
	color: #fff;
}
.kost-tag-gender-female {
	background-color: #f26389;
	color: #fff;
}
.kost-tag-gender-mixed {
	background-color: #9b59b6;
	color: #fff;
}

.kost-booking-container {
	display: inline-block;
}
.kost-booking-container .kost-booking-icon {
	display: inline-block;
}
.kost-booking-container .kost-booking-icon .kost-booking-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.kost-booking-container .kost-booking-label {
	display: inline-block;
	color: #1baa56;
	text-transform: uppercase;
	font-weight: 700;
}

.kost-title {
	text-transform: capitalize;
	padding: 0 10px;
	font-weight: 700;
	height: 45px;
}

.kost-detail-secondary {
	font-size: 14px;
	color: #777;
	text-align: left;
	padding: 0 10px;
}

.kost-premium-container {
	display: inline-block;
	margin-left: 3px;
}
.kost-premium-container .kost-premium-icon {
	display: inline-block;
}
.kost-premium-container .kost-premium-icon .kost-premium-icon-image {
	height: 18px;
	width: 18px;
	margin-top: -4px;
}
.kost-premium-container .kost-premium-label {
	display: inline-block;
	color: #e0af50;
	text-transform: uppercase;
	font-weight: 700;
}

.kost-review {
	padding: 10px 10px 15px 10px;
}
.kost-review-container {
	display: inline-block;
	width: 60%;
}
.kost-review-icon {
	display: inline-block;
	color: #1baa56;
}
.kost-review-caption {
	display: inline-block;
}
.kost-booking {
	display: inline-block;
	width: 40%;
	text-align: right;
	color: #1baa56;
	font-weight: bold;
	text-transform: capitalize;
}

.unit-icons {
	padding: 5px 10px 10px 10px;
}
.unit-icon-container {
	display: inline-block;
	padding-right: 10px;
}
.unit-icon-container .unit-icon {
	display: inline-block;
}
.unit-icon-container .unit-icon .unit-icon-image {
	height: 30px;
	width: 30px;
}
.unit-icon-container .unit-icon-label {
	vertical-align: middle;
	display: inline-block;
	padding: 0 5px;
}

/*reduced font size in smol screens*/

@media (max-width: 320px) {
	.kost-premium-label,
	.kost-booking-label,
	.kost-tag {
		font-size: 12px;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.kost-premium-label,
	.kost-booking-label,
	.kost-tag {
		font-size: 12px;
	}
}

/*remove padding on smol screens*/
@media (max-width: 767px) {
	.no-padding-xs {
		padding-left: 0;
		padding-right: 0;
	}
}
</style>
