<template>
	<button class="room-card" type="button" @click="openRoom">
		<div
			v-lazy:background-image="{
				src: cover,
				error: '/general/img/pictures/placeholder/placeholder_loading.svg'
			}"
			class="room-cover"
		>
			<div v-if="isPromoted" class="room-labels-sponsor">
				<img
					data-path="img_promotedKost"
					class="room-general-img"
					src="/general/img/icons/ic_promoted_ads.svg"
					alt="Promoted Kost"
				/>
			</div>
		</div>
		<div v-if="promoName" class="room-promo">
			<img
				v-if="isFlashSale"
				class="flashsale-label-icon"
				src="/general/img/pictures/flashsale/flashsale-icon-mini.svg"
				alt="flashsale icon"
			/>
			<span>{{ promoName }}</span>
		</div>

		<div class="room-labels">
			<tag-ribbon
				v-if="isGoldplus && goldplusName"
				variant="black"
				is-bold
				size="sm"
				:text="goldplusName"
			/>
			<tag-ribbon variant="black" size="sm" :text="genderLabel" />
			<tag-ribbon
				v-if="availableRoom && !isGoldplus"
				size="sm"
				v-bind="tagRibbonProps"
			/>
		</div>

		<h3 class="room-title">{{ title }}</h3>
		<div class="room-location">
			<div v-if="city" class="room-icon">
				<img
					class="room-general-img"
					src="/general/img/icons/ic_location_o_black.svg"
					alt="Location Kost"
				/>
			</div>
			<span class="room-location-name">{{ city }}</span>
		</div>
		<div class="room-prices">
			<div class="room-discount">
				<p v-if="discount" class="discount discount-percentage">
					{{ discount }}
				</p>
				<p
					v-if="priceTitleFormat && priceTitleFormat.discount"
					class="previous-prices"
				>
					{{ priceTitleFormat.currency_symbol }} {{ priceTitleFormat.price }}
				</p>
				<p v-else-if="priceOtherDiscount" class="discount">
					{{ priceOtherDiscount }}
				</p>
			</div>
			<p v-if="priceTitleFormat" class="real-price">
				{{ priceTitleFormat.currency_symbol }}
				{{ priceTitleFormat.discount_price || priceTitleFormat.price }}
				<span class="real-price-type"
					>/ {{ priceTitleFormat.rent_type_unit }}</span
				>
			</p>
		</div>
	</button>
</template>

<script>
/* eslint-disable no-undef */
import TagRibbon from 'Js/@components/TagRibbon';

import { genderLabels } from 'Js/@utils/kostFilter';
import { renderTagRibbonProps } from 'Js/@utils/roomCardHelper';

export default {
	components: {
		TagRibbon
	},
	props: {
		promoName: {
			type: String,
			default: ''
		},
		isFlashSale: {
			type: Boolean,
			default: false
		},
		priceTitleFormat: {
			type: Object,
			default() {
				return {};
			}
		},
		priceOtherDiscount: {
			type: String,
			default: ''
		},
		availableRoom: {
			type: Number,
			default: 0
		},
		showFavorite: {
			type: Boolean,
			required: false,
			default: false
		},
		cover: String,
		title: {
			type: String,
			required: true
		},
		detail: {
			type: Object,
			default() {
				return {};
			}
		},
		genderId: Number,
		city: String,
		discount: [Number, String],
		priceAfterDiscount: {
			type: String,
			required: true
		},
		roomProjectId: {
			type: Number,
			required: true
		},
		priceBeforeDiscount: String,
		rating: String,
		lastUpdateLabel: String,
		isBookable: Boolean,
		isMamirooms: Boolean,
		isPremium: Boolean,
		isPromoted: Boolean,
		isVerified: Boolean,
		isMoneyBackGuarantee: Boolean,
		hasPromo: Boolean,
		roomLevelId: Number,
		okeKostId: Number,
		superKostId: Number,
		openRoom: {
			type: Function,
			required: true
		},
		isGoldplus: {
			type: Boolean,
			default: false
		},
		goldplusName: {
			type: String,
			default: ''
		}
	},
	computed: {
		tagRibbonProps() {
			return renderTagRibbonProps(
				this.roomProjectId,
				this.isGoldplus,
				this.availableRoom
			);
		},
		isOkeLevel() {
			return this.roomLevelId === this.okeKostId;
		},
		isSuperLevel() {
			return this.roomLevelId === this.superKostId;
		},
		genderLabel() {
			return genderLabels[this.genderId];
		},
		genderColorVariant() {
			const mapGenderColorVariantions = ['purple', 'blue', 'pink'];

			return mapGenderColorVariantions[this.genderId];
		},
		isRating() {
			return Math.ceil(parseFloat(this.rating).toFixed(1)) > 0;
		},
		hasBadges() {
			return (
				this.isMoneyBackGuarantee ||
				this.isPremium ||
				this.isVerified ||
				this.isSuperLevel ||
				this.isOkeLevel
			);
		},
		detailTypeName() {
			return this.detail.apartment_project_id === 0 ? 'kost' : 'apartemen';
		}
	}
};
</script>

<style lang="scss" scoped>
.flashsale-label-icon {
	margin-right: 7px;

	@media (max-width: 767px) {
		width: 6.25px;
		height: auto;
		margin-right: 3.8px;
	}
}

.room-card {
	position: relative;
	width: 100%;
	padding: 4px;
	margin: -4px;
	text-align: left;
	background: transparent;
	border: 0;
	transition: box-shadow 0.1s;

	.room-promo {
		position: absolute;
		top: 8px;
		left: -8px;
		z-index: 2;
		display: flex;
		padding: 3px 6px;
		font-size: 10px;
		line-height: 12px;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: #da3438;
		border-radius: 4px 4px 4px 0;

		&::after {
			position: absolute;
			top: 100%;
			left: 0%;
			width: 0;
			height: 0;
			content: '';
			border-top: solid 12px #ca3d07;
			border-right: solid 0 transparent;
			border-left: solid 8px transparent;
		}
	}

	p,
	h3 {
		margin: 0;
	}

	.room-cover {
		position: relative;
		width: 100%;
		height: 190px;
		margin-bottom: 8px;
		background-color: #999;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 3px;

		@media (max-width: 767px) {
			height: 106px;
			margin-bottom: 4px;
		}

		.room-labels-sponsor {
			position: absolute;
			bottom: 8px;
			left: 8px;
			z-index: 2;
			display: flex;
			width: 16px;
			height: 16px;
			flex: none;
		}
	}

	.room-labels {
		> * {
			margin-top: 8px;
			margin-right: 8px;
			margin-bottom: 8px;
		}
	}

	.room-labels {
		display: flex;
		align-items: center;
	}

	.room-badges {
		img {
			height: 14px;
			margin-right: 4px;
		}

		img:last-child {
			margin-right: 0;
		}
	}

	.room-prices {
		display: flex;
		font-size: 10px;
		line-height: 12px;
		align-items: flex-start;
		flex-direction: column;

		> * {
			margin-bottom: 8px;

			@media (max-width: 767px) {
				margin-bottom: 4px;
			}
		}

		.room-discount {
			display: flex;
			height: 18px;
		}

		.previous-prices {
			margin-left: 5px;
			color: #999;
			text-decoration: line-through;
		}

		.real-price {
			margin-right: 8px;
			font-size: 12px;
			font-weight: bold;
			line-height: 14px;

			.real-price-type {
				font-weight: normal;
			}
		}

		.discount {
			font-weight: bold;
			color: #ec4a0c;
		}
	}

	.room-title {
		max-height: 34px;
		margin-bottom: 2px;
		overflow: hidden;
		font-size: 14px;
		font-weight: normal;
		line-height: 17px;
		color: #383746;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (max-width: 767px) {
			max-height: 20px;
			line-height: 20px;
		}
	}

	.room-location {
		display: flex;
		align-items: center;
		height: 20px;
		margin-bottom: 8px;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		line-height: 18px;
		color: #242424;

		.room-location-name {
			height: 20px;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			color: #303030;
		}
	}

	.room-general-img {
		width: auto;
		height: 16px;
	}

	.room-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 4px;
	}

	.--desktop {
		display: inline-block;
	}

	&:hover,
	&:focus {
		border-radius: 3px;
		outline: none;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	@media (max-width: 767px) {
		padding: 0;
		margin: 0;

		.--desktop {
			display: none;
		}

		&:hover,
		&:focus {
			box-shadow: none;
			.room-title {
				text-decoration: underline;
			}
		}
	}
}
.dot-separator {
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #999;
	border-radius: 50%;
}
</style>
