<template>
	<div
		id="roomCardListGallery"
		:class="[
			'room-card-gallery',
			{ 'room-card-gallery-horizontal': isHorizontal }
		]"
	>
		<fav-share-widget
			v-if="showFavoriteCondition && notOwner"
			:need-share="false"
			:is-native-share="isNativeShare"
			:is-love="isLove"
			custom-style="top: 12px; right: 12px;"
			@toggleLove="$emit('toggleLove')"
		/>
		<div v-if="isPromoted" class="room-labels-sponsor">
			<img
				data-path="img_promotedKost"
				class="room-general-img"
				src="/general/img/icons/ic_promoted_ads.svg"
				alt="Promoted Kost"
			/>
		</div>
		<div class="room-cover">
			<img
				v-lazy="{
					src: photoList.large,
					error: '/general/img/pictures/placeholder/placeholder_loading.svg',
					loading: '/general/img/pictures/placeholder/placeholder_loading.svg'
				}"
				class="room-cover-image"
			/>
			<img
				v-lazy="{
					src: photoList.large,
					error: '/general/img/pictures/placeholder/placeholder_loading.svg'
				}"
				class="room-cover-image-background"
			/>
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import FavShareWidget from 'Js/@components/FavShareWidget';
export default {
	components: {
		FavShareWidget
	},
	props: {
		isPromoted: {
			type: Boolean,
			default: false
		},
		isNativeShare: {
			type: Boolean,
			default: false
		},
		notOwner: {
			type: Boolean,
			default: false
		},
		photoList: {
			type: Object,
			default() {
				return {};
			}
		},
		isHorizontal: {
			type: Boolean,
			default: false
		},
		showFavoriteCondition: {
			type: Boolean,
			default: true
		},
		isLove: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
.room-card-gallery {
	position: relative;
	width: 100%;
	height: 184px;
	border-radius: 8px;

	@media (max-width: 1199px) {
		height: 154px;
	}

	.room-labels-sponsor {
		position: absolute;
		bottom: 8px;
		left: 8px;
		z-index: 2;
		display: block;
		width: 24px;
		height: 24px;
		flex: none;
	}
}

.room-card-gallery-horizontal {
	width: 300px;
	height: 100%;

	@media (max-width: 767px) {
		width: 102px;
	}

	.room-cover {
		height: 200px;

		@media (max-width: 767px) {
			height: 153px;

			.room-cover-image {
				width: auto;
				height: 100%;
			}
		}
	}

	.room-labels-sponsor {
		@media (max-width: 767px) {
			bottom: 9px;
			left: 4px;
			width: 16px;
			height: 16px;

			.room-general-img {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.room-general-img {
	width: 24px;
	height: 24px;
}

.room-cover {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #999;
	border-radius: 6px;

	.room-cover-image {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: auto;
		height: 105%;
		transform: translate(-50%, -50%);
	}

	.room-cover-image-background {
		width: 100%;
		height: 100%;
		filter: blur(8px);
	}

	@media (max-width: 1199px) {
		height: 154px;
	}
}
</style>
