<template>
	<transition name="fade">
		<div v-if="isShown" class="container search-box-modal">
			<div :class="layoutGrid">
				<div class="form-group">
					<div class="form-group-img" @click="hideModalClick">
						<bg-icon name="back" size="md" title="icon back arrow" />
					</div>
					<input
						ref="searchBoxModalField"
						type="search"
						class="form-control"
						title="Cari nama tempat atau alamat"
						placeholder="Coba Tebet Jakarta Selatan"
						required
						minlength="3"
						maxlength="100"
						autocomplete="off"
						:value="keyword"
						@input="e => (keyword = e.target.value)"
						@keyup.enter="$event.target.blur()"
					/>
					<a
						v-show="keyword"
						role="button"
						class="field-reset"
						@click="resetKeyword"
						>&times;
					</a>
				</div>

				<mami-loading-inline
					v-if="isLoadingPopular || isLoadingKeyword"
				></mami-loading-inline>

				<div v-else-if="!keywordActive && !isLoadingPopular" class="content">
					<search-box-modal-geoloc></search-box-modal-geoloc>

					<search-box-modal-tabs
						:active-tab="activeTab"
						@changed="changeActiveTab"
					></search-box-modal-tabs>

					<search-box-modal-popular-primary
						:active-populars="activePopulars"
						@select="selectSuggestion"
					></search-box-modal-popular-primary>

					<search-box-modal-popular-secondary
						:base-icons="baseIcons"
						:active-tab="activeTab"
						:active-populars="activePopulars"
						@select="selectSuggestion"
					></search-box-modal-popular-secondary>
				</div>

				<div
					v-else-if="keywordActive && !isLoadingKeyword"
					id="suggestionsBox"
					class="content"
				>
					<div v-if="keywordFound">
						<div class="instruction">
							<p>Pilih salah satu di bawah ini</p>
						</div>

						<transition name="fade">
							<button
								v-if="keywordSuggestion && canSeeMoreSuggestions"
								class="btn btn-sm btn-see-more"
								:class="{
									'btn-primary': baseIcons == 'glyph',
									'btn-success': baseIcons == 'fa'
								}"
								@click="seeMoreSuggestions"
							>
								<img
									src="/general/img/icons/ic_full-arrow-down_s_white.svg"
									alt="ic_full-arrow-down_s_white"
								/>

								<span>Lebih banyak</span>
							</button>
						</transition>

						<search-box-modal-suggestions
							category="Area"
							:suggestions="keywordSuggestion.areas"
							@select="useKeywordSuggestionArea"
						></search-box-modal-suggestions>

						<search-box-modal-suggestions
							category="Landing"
							:suggestions="keywordSuggestion.landings"
							@select="useKeywordSuggestionLanding"
						></search-box-modal-suggestions>

						<search-box-modal-suggestions
							category="Room"
							:suggestions="keywordSuggestion.rooms"
							@select="useKeywordSuggestionRoom"
						></search-box-modal-suggestions>
					</div>

					<div v-else class="notfound" @click="resetKeyword">
						<div>
							<span>Tidak menemukan nama tempat / nama kost yang sesuai.</span>

							<a role="button" class="reset-btn">
								Ubah kata kunci
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
import 'vue-strap/dist/isMobileBrowser';
import 'bangul-vue/dist/bangul.css';
import _debounce from 'lodash/debounce';
import _get from 'lodash/get';

import SearchBoxModalGeoloc from './search-box-modal/SearchBoxModalGeoloc';
import SearchBoxModalTabs from './search-box-modal/SearchBoxModalTabs';
import SearchBoxModalPopularPrimary from './search-box-modal/SearchBoxModalPopularPrimary';
import SearchBoxModalPopularSecondary from './search-box-modal/SearchBoxModalPopularSecondary';
import SearchBoxModalSuggestions from './search-box-modal/SearchBoxModalSuggestions';
import { BgIcon } from 'bangul-vue';

import 'Js/@mixins/MixinSwalLoading';
import 'Js/@mixins/MixinSwalSuccessError';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
/* istanbul ignore next */
const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		SearchBoxModalGeoloc,
		SearchBoxModalTabs,
		SearchBoxModalPopularPrimary,
		SearchBoxModalPopularSecondary,
		SearchBoxModalSuggestions,
		BgIcon
	},

	props: {
		layoutGrid: {
			type: Array,
			default() {
				return [
					'col-xs-12 stretch-xs',
					'col-sm-10 col-sm-offset-1',
					'col-md-6 col-md-offset-3'
				];
			}
		},
		isShown: {
			type: Boolean,
			required: true,
			default: false
		},
		criteriaKeyword: {
			type: String,
			default: ''
		},
		criteriaGender: {
			type: String,
			default: 'all'
		},
		criteriaRentType: {
			type: String,
			default: 'bulanan'
		},
		criteriaPriceRange: {
			type: Array,
			default() {
				return [0, 15000000];
			}
		},
		baseIcons: {
			type: String,
			default: 'glyph'
		},
		redirectionSource: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			activeTab: 'campus',
			isLoadingPopular: false,
			isDonePopular: false,
			campusPopulars: {},
			areaPopulars: {},
			mrtPopulars: {},
			activePopulars: {},
			keyword: '',
			keywordLock: '',
			keywordActive: false,
			keywordFound: false,
			isLoadingKeyword: false,
			sessionToken: {},
			sessionTokenInit: false,
			autocompleteService: {},
			autocompleteServiceInit: false,
			taggingSuggestions: {},
			locationSuggestions: {},
			resultSuggestions: [],
			keywordSuggestion: null,
			geocoder: {},
			geocoderInit: false,
			searchCriteria: {
				keywords: '',
				gender: this.criteriaGender,
				rent_type: this.criteriaRentType,
				price_min: this.criteriaPriceRange[0],
				price_max: this.criteriaPriceRange[1],
				administrative_type: '',
				latitude: null,
				longitude: null,
				place_id: null,
				title: null,
				subtitle: null
			},
			canSeeMoreSuggestions: false,
			keywordIgnores: [
				'jl.',
				'jln',
				'jln.',
				'jlan',
				'jaln',
				'jalan',
				'kos',
				'kost',
				'kosan',
				'kostan',
				'uni',
				'univ',
				'unive',
				'univer',
				'univers',
				'universi',
				'universit',
				'universita',
				'universitas',
				'dekat',
				'dkt',
				'dekt',
				'dkat'
			]
		};
	},

	watch: {
		isShown: {
			immediate: true,
			handler(val) {
				if (val) {
					this.handleIsShown();
				}
			}
		},
		keyword: {
			immediate: true,
			handler: _debounce(function(val) {
				let isIgnored = false;

				for (const keywordIgnore of this.keywordIgnores) {
					if (val.trim().toLowerCase() === keywordIgnore.toLowerCase()) {
						isIgnored = true;
					}
				}

				if (!isIgnored) {
					this.watchKeyword(val.trim());
				}
			}, 1000)
		},
		keywordFound(val) {
			if (val) {
				this.$nextTick(() => {
					this.checkCanSeeMoreSuggestions();
				});
			}
		}
	},

	created() {
		this.initEscKeyup();
	},

	methods: {
		fetchGoogleMapsApi() {
			if (!('google' in window)) {
				var script = document.createElement('script');

				script.src =
					'https://maps.googleapis.com/maps/api/js?key=' +
					process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY +
					'&libraries=places&language=id-ID';

				document.querySelector('body').append(script);
			}
		},
		initEscKeyup() {
			window.addEventListener('keyup', this.hideModalEsc);
		},
		handleIsShown() {
			this.fetchGoogleMapsApi();

			if (!this.isDonePopular) {
				this.getPopulars();
			}

			if (!navigator.isMobile) {
				this.$nextTick(() => {
					this.$refs.searchBoxModalField.focus();
				});
			}

			if (
				this.criteriaKeyword !== '' &&
				this.criteriaKeyword.toLowerCase() !== 'rekomendasi'
			) {
				this.keyword = this.criteriaKeyword;
			}

			tracker('moe', [
				'Location Search Visited',
				{
					interface: _get(this.navigator, 'isMobile') ? 'mobile' : 'desktop',
					is_owner: _get(authCheck, 'all')
						? _get(authCheck, 'owner', false)
						: null,
					user_id: _get(authData, 'all.id', null),
					redirection_source: this.redirectionSource
				}
			]);
		},
		hideModalEsc(e) {
			if (e !== undefined && e.keyCode === 27) {
				this.$emit('hide-modal', 'esc');
			}
		},
		hideModalClick() {
			this.$emit('hide-modal', 'click');
		},
		getPopulars() {
			this.isLoadingPopular = true;

			axios
				.all([getPopularsCampus(), getPopularsArea(), getPopularsMrt()])
				.then(
					axios.spread((campus, area, mrt) => {
						this.campusPopulars = campus.data;
						this.areaPopulars = area.data;
						this.mrtPopulars = mrt.data;

						this.setActivePopulars(this.activeTab);

						this.isLoadingPopular = false;
						this.isDonePopular = true;
					})
				)
				.catch(error => {
					bugsnagClient.notify(error);
				});

			function getPopularsCampus() {
				return axios.get('/area/campus?top=true');
			}

			function getPopularsArea() {
				return axios.get('/area?top=true');
			}

			function getPopularsMrt() {
				return axios.get('/area/mrt?top=true');
			}
		},
		changeActiveTab(state) {
			this.activeTab = state;

			this.setActivePopulars(this.activeTab);
		},
		setActivePopulars(state) {
			if (state === 'campus') {
				this.activePopulars = this.campusPopulars;
			} else if (state === 'area') {
				this.activePopulars = this.areaPopulars;
			} else {
				this.activePopulars = this.mrtPopulars;
			}
		},
		selectSuggestion(suggestion) {
			this.openSwalLoading();

			const latitudeCalc =
				(parseFloat(suggestion.coordinate[1][0]) +
					parseFloat(suggestion.coordinate[0][0])) /
				2;
			const longitudeCalc =
				(parseFloat(suggestion.coordinate[1][1]) +
					parseFloat(suggestion.coordinate[0][1])) /
				2;

			this.searchCriteria = {
				keywords: suggestion.name,
				gender: this.criteriaGender,
				rent_type: this.criteriaRentType,
				price_min: this.criteriaPriceRange[0],
				price_max: this.criteriaPriceRange[1],
				administrative_type: '',
				latitude: latitudeCalc,
				longitude: longitudeCalc,
				place_id: null,
				title: null,
				subtitle: null
			};

			this.requestKeywordSlug();
		},
		watchKeyword(keyword) {
			if (keyword.length >= 3) {
				this.isLoadingKeyword = true;

				this.keywordActive = true;

				this.checkKeywordSuggestions(keyword);
			} else {
				this.keywordActive = false;

				this.keywordFound = false;
			}
		},
		async checkKeywordSuggestions(keyword) {
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Search v2',
					eventAction: 'suggestions-request',
					eventLabel: keyword
				}
			]);

			const response = await makeAPICall({
				method: 'get',
				url: `/suggest?q=${keyword}`
			});

			if (response) {
				if (
					_get(response, 'data.areas', []).length > 0 ||
					_get(response, 'data.landings', []).length > 0 ||
					_get(response, 'data.rooms', []).length > 0
				) {
					tracker('ga', [
						'send',
						'event',
						{
							eventCategory: 'Search v2',
							eventAction: 'suggestions-available',
							eventLabel: keyword
						}
					]);

					this.keywordSuggestion = response.data;

					if (this.keywordSuggestion.areas.length > 0) {
						this.handleKeywordSuggestionAreas(
							this.keywordSuggestion.areas,
							'local'
						);
					} else {
						this.checkAutocompleteSuggestions(this.keywordSuggestion.keyword);
					}
				} else {
					tracker('ga', [
						'send',
						'event',
						{
							eventCategory: 'Search v2',
							eventAction: 'suggestions-unavailable',
							eventLabel: keyword
						}
					]);

					this.keywordFound = false;

					this.isLoadingKeyword = false;
				}
			}
		},
		handleKeywordSuggestionAreas(predictions, source) {
			const suggestions = [];

			if (source === 'local') {
				predictions.forEach((prediction, i) => {
					suggestions.push({
						title: prediction.title,
						subtitle: prediction.area,
						place_id: prediction.place_id,
						latitude: prediction.latitude,
						longitude: prediction.longitude,
						type: prediction.type,
						geocode_id: prediction.geocode_id
					});
				});

				this.keywordSuggestion.areas = suggestions;
			} else if (source === 'google') {
				predictions.forEach((prediction, i) => {
					suggestions.push({
						title: prediction.structured_formatting.main_text,
						subtitle: prediction.structured_formatting.secondary_text,
						place_id: prediction.place_id
					});
				});

				this.keywordSuggestion.areas = suggestions;

				this.sendGeneralSearchKeyword({
					keyword: this.keyword,
					suggestions: this.keywordSuggestion.areas
				});
			}

			this.keywordFound = true;

			this.isLoadingKeyword = false;
		},
		checkAutocompleteSuggestions(keyword) {
			const initService = () => {
				const displaySuggestions = (predictions, status) => {
					/* eslint-disable-next-line */
					if (status === google.maps.places.PlacesServiceStatus.OK) {
						this.handleKeywordSuggestionAreas(predictions, 'google');
					} else {
						if (
							this.keywordSuggestion.landings.length > 0 ||
							this.keywordSuggestion.rooms.length > 0
						) {
							this.keywordFound = true;
						} else {
							this.keywordFound = false;
						}

						this.isLoadingKeyword = false;
					}
				};

				if (!this.sessionTokenInit) {
					/* eslint-disable-next-line */
					this.sessionToken = new google.maps.places.AutocompleteSessionToken();

					this.sessionTokenInit = true;
				}

				if (!this.autocompleteServiceInit) {
					/* eslint-disable-next-line */
					this.autocompleteService = new google.maps.places.AutocompleteService();

					this.autocompleteServiceInit = true;
				}

				this.autocompleteService.getPlacePredictions(
					{
						input: keyword,
						sessionToken: this.sessionToken
					},
					displaySuggestions
				);
			};

			initService();
		},
		sendGeneralSearchKeyword(params) {
			axios
				.post('/general-search/keyword', {
					keyword: params.keyword,
					suggestions: params.suggestions
				})
				.then(response => {})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		useKeywordSuggestionArea(area) {
			this.openSwalLoading();

			if (area.latitude && area.longitude) {
				const searchCriteria = {
					keywords: `${area.title}, ${area.subtitle}`,
					gender: this.criteriaGender,
					rent_type: this.criteriaRentType,
					price_min: this.criteriaPriceRange[0],
					price_max: this.criteriaPriceRange[1],
					administrative_type: null,
					latitude: area.latitude,
					longitude: area.longitude,
					place_id: area.place_id,
					title: area.title,
					subtitle: area.subtitle
				};

				if (area.type && area.geocode_id) {
					searchCriteria.type = area.type;
					searchCriteria.geocode_id = area.geocode_id;
				}

				this.searchCriteria = searchCriteria;

				this.requestKeywordSlug();
			} else {
				const address = `${area.title}, ${area.subtitle}`;

				if (!this.geocoderInit) {
					/* eslint-disable-next-line */
					this.geocoder = new google.maps.Geocoder();

					this.geocoderInit = true;
				}

				this.geocoder.geocode({ address: address }, (results, status) => {
					if (status === 'OK') {
						this.searchCriteria = {
							keywords: `${area.title}, ${results[0].formatted_address}`,
							gender: this.criteriaGender,
							rent_type: this.criteriaRentType,
							price_min: this.criteriaPriceRange[0],
							price_max: this.criteriaPriceRange[1],
							administrative_type: results[0].types[0],
							latitude: results[0].geometry.location.lat(),
							longitude: results[0].geometry.location.lng(),
							place_id: results[0].place_id,
							title: area.title,
							subtitle: area.subtitle
						};

						this.requestKeywordSlug();
					}
				});
			}
		},
		async requestKeywordSlug() {
			this.setKeywordCookies(this.searchCriteria);

			const response = await makeAPICall({
				method: 'post',
				url: '/general-search/criteria',
				data: this.searchCriteria
			});

			if (response) {
				let cariUrl = `/cari/${response.slug}`;
				if (this.searchCriteria.geocode_id)
					cariUrl = `${cariUrl}?geocode=${this.searchCriteria.geocode_id}`;

				window.location.href = cariUrl;
			} else {
				this.closeSwalLoading();

				this.swalError(
					null,
					'Terjadi kesalahan saat pencarian. Silakan coba lagi.'
				);
			}
		},
		setKeywordCookies(params) {
			const in30Minutes = 1 / 48;

			const savedKeyword =
				params.title === null ? params.keywords : params.title;

			Cookies.set('search-keyword', savedKeyword, {
				path: '/cari',
				expires: in30Minutes
			});
		},
		useKeywordSuggestionLanding(landing) {
			this.openSwalLoading();

			window.location.href = `/kost/${landing.slug}`;
		},
		useKeywordSuggestionRoom(room) {
			this.openSwalLoading();

			window.location.href = `/room/${room.slug}`;
		},
		resetKeyword() {
			this.keyword = '';

			this.$refs.searchBoxModalField.focus();
		},
		checkCanSeeMoreSuggestions() {
			try {
				const suggestionsBox = document.querySelector('#suggestionsBox');

				if (suggestionsBox.scrollHeight > suggestionsBox.clientHeight) {
					this.canSeeMoreSuggestions = true;

					suggestionsBox.addEventListener('scroll', () => {
						this.canSeeMoreSuggestions = false;

						suggestionsBox.removeEventListener('scroll', () => {});
					});
				} else {
					this.canSeeMoreSuggestions = false;
				}

				window.addEventListener('resize', () => {
					this.canSeeMoreSuggestions = false;
				});
			} catch (e) {
				this.canSeeMoreSuggestions = false;
			}
		},
		seeMoreSuggestions() {
			try {
				const suggestionsBox = document.querySelector('#suggestionsBox');

				suggestionsBox.scroll({
					top: suggestionsBox.scrollHeight,
					left: 0,
					behavior: 'smooth'
				});

				this.canSeeMoreSuggestions = false;
			} catch (e) {
				this.canSeeMoreSuggestions = false;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.search-box-modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1060;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 15px 16px 0;
	margin: 0;
	overflow-x: hidden;
	background-color: #fff;

	@media (min-width: 768px) {
		padding: 25px 50px;
	}

	.label-title {
		width: 100%;
		padding: 15px;
		font-weight: bold;
		color: #333;
	}
}

.form-group {
	position: relative;
	display: flex;
	padding-left: 24px;
	margin-bottom: 0;
	align-items: center;

	@media (max-width: 767px) {
		padding-left: 8px;
	}

	> img {
		height: 15px;
		margin-right: 22px;
		cursor: pointer;
	}

	.form-group-img {
		display: flex;
		margin-right: 22px;
		cursor: pointer;
	}
}

input.form-control {
	width: 100%;
	height: 44px;
	padding: 10px 44px 10px 16px;
	font-size: 16px;
	line-height: 24px;
	color: #404040;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

	&:focus {
		border: 1px solid #ccc !important;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
	}
	&:active {
		border: 1px solid #000;
	}
	&:disabled {
		cursor: not-allowed;
		background-color: #eee;
		box-shadow: none;
	}
	&::placeholder {
		color: #bbb;
	}
}

.field-reset {
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: x-large;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transform: translateY(-50%);
}

.content {
	max-height: 85vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.instruction {
	background-color: #fff;
	border-bottom: 1px solid #f7f7f7;

	p {
		padding: 5px 15px;
		margin-bottom: 0;
		color: #333;
	}
}

.notfound {
	display: flex;
	padding: 15px;
	font-size: 16px;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 1px solid #f7f7f7;

	> div {
		padding: 0 5px;
	}

	img {
		height: 20px;
	}

	.reset-btn {
		color: #ec4a0c;

		&:active,
		&:hover,
		&:focus {
			color: #e04205;
			text-decoration: underline;
		}
	}
}

.btn-see-more {
	position: fixed;
	bottom: 20px;
	left: 50%;
	display: flex;
	font-size: 14px;
	transform: translateX(-50%);
	align-items: center;

	> img {
		height: 12.5px;
		margin-right: 7.5px;
	}
}
</style>
