<template>
	<!-- eslint-disable vue/no-v-html -->
	<section id="bookingFAQ" class="booking-section booking-faq">
		<div class="booking-section__container booking-faq__container">
			<h1 class="booking-section__heading booking-faq__heading">{{ title }}</h1>

			<div class="booking-faq__content">
				<accordion :one-at-atime="true" type="white">
					<panel
						v-for="(question, index) in questions"
						:key="index"
						:is-open="index === indexToOpenFirst"
						class="booking-shadow booking-faq__question"
					>
						<div
							slot="header"
							class="booking-faq__question-panel-header"
							:class="index === activeQuestion ? 'active' : ''"
							@click="$emit('activeToggle', index)"
						>
							<h4 class="booking-faq__question-title">
								{{ question.title }}
							</h4>
						</div>
						<div class="booking-faq__question-panel-body">
							<span
								class="booking-faq__question-answer"
								v-html="question.answer"
							></span>
						</div>
					</panel>
				</accordion>
			</div>

			<div class="booking-faq__footer">
				<span>Punya pertanyaan lain? Silakan kunjungi</span>
				<br v-if="!navigator.isMobile" />
				<a
					href="https://help.mamikos.com/"
					target="blank"
					@click="$emit('footerTracker')"
				>
					Pusat Bantuan
				</a>
			</div>
		</div>
	</section>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	name: 'SectionFAQ',
	components: {
		accordion,
		panel
	},
	props: {
		title: {
			type: String,
			required: true
		},
		questions: {
			type: Array,
			required: true
		},
		activeQuestion: {
			type: Number,
			default: -1
		},
		indexToOpenFirst: {
			type: Number,
			default: -1
		}
	}
};
</script>

<style lang="scss">
@import 'Js/_landing/direct-booking/style/main.scss';

.booking-faq {
	background-image: url('/general/img/pictures/booking/faq-bg.png');
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		padding-top: 28px;
	}

	&__container {
		padding-bottom: 8rem;
	}

	&__heading {
		margin-bottom: 44px;
		text-align: center;
	}

	&__content {
		width: 85%;
		margin: 0 auto;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__question {
		padding: 0 32px;
		margin-bottom: 32px !important;
		text-align: left;
		border-radius: 8px;

		@media (max-width: 768px) {
			padding: 0 16px;
			margin-bottom: 24px !important;
			box-shadow: 0 1px 5px 1px rgba(219, 219, 219, 1);
		}

		&-panel-header,
		&-panel-body {
			padding: 24px 0;

			@media (max-width: 768px) {
				padding: 16px 0;
			}
		}

		&-panel-header {
			position: relative;

			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				content: url('/general/img/icons/ic_chevron_down.svg');
				transform: translateY(-50%);
			}

			&.active::after {
				content: url('/general/img/icons/ic_chevron_up.svg');
			}
		}

		&-panel-body {
			border-top: 1px solid #f5f5f5;
		}

		&-title {
			max-width: 95%;
			margin: 0;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
			color: #242424;

			@media (max-width: 767px) {
				max-width: 85%;
				font-size: 16px;
				line-height: 24px;
			}
		}

		&-answer {
			font-size: 16px;

			@media (max-width: 768px) {
				font-size: 14px;
			}
		}
	}

	&__footer {
		padding: 12px;
		font-size: 1.25em;
		font-weight: bold;
		color: #484848;
		text-align: center;
	}
}

.panel-heading,
.panel-body {
	padding: 0;
	border: 0 !important;
}
</style>
