<template>
	<div class="map-container" :class="grid">
		<gmap-street-view-panorama
			style="width: 100%; height: 300px;"
			:position="position"
			:pov="pov"
			:visible="true"
			:zoom="1"
		>
		</gmap-street-view-panorama>
	</div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';

Vue.use(VueGoogleMaps, {
	load: {
		key: process.env.MIX_GOOGLE_MAPS_JAVASCRIPT_API_KEY
	}
});

export default {
	data() {
		return {
			pov: {
				heading: 0,
				pitch: 0,
				zoom: 1
			}
		};
	},
	props: {
		grid: {
			type: String,
			required: true
		},
		position: {
			type: Object,
			required: true
		}
	}
};
</script>

<style scoped>
</style>
