<template>
	<label
		v-if="text"
		data-path="lbl_genreRuangan"
		:class="[
			'tag-ribbon',
			`--${size}`,
			`--${variant}`,
			isBold ? `--${variant}-bold` : '',
			textOnly ? `--${variant}-text --text-only` : ''
		]"
	>
		{{ text }}
	</label>
</template>

<script>
export default {
	props: {
		text: {
			type: String,
			default: ''
		},
		variant: {
			type: String,
			default: 'green'
		},
		isBold: {
			type: Boolean,
			default: false
		},
		textOnly: {
			type: Boolean,
			default: false
		},
		size: {
			type: String,
			default: 'md'
		}
	}
};
</script>

<style lang="scss" scoped>
.tag-ribbon {
	padding: 4px;
	margin-right: 8px;
	overflow: hidden;
	font-size: 10px;
	line-height: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 4px;

	@media (max-width: 767px) {
		padding: 4px;
	}

	&.--green {
		color: #1baa56;
		background-color: rgba(#1baa56, 0.1);
	}

	&.--grey {
		color: #aaa;
		background-color: #f5f5f5;
	}

	&.--red {
		color: #ec4a0c;
		background-color: #fdede7;
	}

	&.--black {
		padding: 8px;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		color: hsl(0, 0%, 19%);
		border: 1px solid #dadada;
	}

	&.--black-bold {
		font-weight: 700;
		color: #303030;
		border: 1px solid #303030;
	}

	&.--red-text {
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
		line-height: 20px;
		color: #da3438;
		background: none;
		border: 0;
	}

	&.--black-text {
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
		line-height: 20px;
		color: #949494;
		background: none;
		border: 0;
	}

	&.--sm {
		padding: 2px 8px;
		font-size: 12px;
		line-height: 18px;
	}

	&.--md {
		padding: 1px 8px;
		font-size: 14px;
		line-height: 20px;
	}

	&.--text-only {
		padding: 0;
	}
}
</style>
