<template>
	<label
		data-path="lbl_infoRuangan"
		:class="[
			'tag-text',
			`--${variant}`,
			isBold ? `--${variant}-bold` : '',
			{
				'tag-ellipsis': ellipsis,
				'tag-cursor': needPointer
			}
		]"
	>
		{{ text }}
	</label>
</template>

<script>
export default {
	props: {
		ellipsis: {
			type: Boolean
		},
		text: {
			type: String,
			required: true
		},
		variant: {
			type: String,
			default: 'purple' // purple, pink, blue, dark, black
		},
		isBold: {
			type: Boolean,
			default: false
		},
		needPointer: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
.tag-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tag-text {
	padding: 4px;
	margin-right: 8px;
	font-size: 10px;
	line-height: 12px;
	border-radius: 4px;

	&.--purple {
		color: #860eb7;
		background: #f5eff8;
	}

	&.--pink {
		color: #f26389;
		background: #ffeef5;
	}

	&.--blue {
		color: #3498db;
		background: #e5edf8;
	}

	&.--black {
		display: flex;
		align-content: center;
		justify-content: center;
		height: 24px;
		padding: 0 8px;
		margin: 0;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		color: #303030;
		background: #fff;
		border: 1px solid #dadada;
	}

	&.--black-bold {
		font-weight: 700;
		color: #303030;
		border: 1px solid #dadada;
	}
}
.tag-cursor {
	cursor: pointer;
}
</style>
