<template>
	<nav class="mobile-navbar">
		<button type="button" @click="handleButtonClicked">
			<component :is="icon" />
		</button>
		<h3>{{ title }}</h3>
	</nav>
</template>

<script>
import IconBackward from 'Js/@icons/Backward';
import IconBackwardGrey from 'Js/@icons/BackwardGrey';
import IconBackwardWhite from 'Js/@icons/BackwardWhite';
import IconCrossGrey from 'Js/@icons/CrossGrey';

export default {
	components: {
		IconBackward,
		IconBackwardGrey,
		IconBackwardWhite,
		IconCrossGrey
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		icon: {
			type: String,
			default: 'icon-backward'
		}
	},
	methods: {
		handleButtonClicked() {
			this.$emit('buttonClick');
		}
	}
};
</script>

<style lang="scss" scoped>
.mobile-navbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	border-bottom: 1px solid #dbdbdb;

	button {
		border: none;
		background-color: transparent;
		padding: 16px;
		position: absolute;
		left: 0;
		top: 0;
		height: 56px;
		outline: 0;
	}

	h3 {
		font-size: 18px;
		margin: 0;
		font-weight: bold;
	}
}
</style>
