<template>
	<alert
		:type="'warning'"
		:placement="'top'"
		:width="'300px'"
		:duration="3000"
		dismissable
	>
		<strong>Perhatian!</strong>

		<p>Layanan GPS di perangkat Anda tidak aktif / tidak mendukung.</p>
	</alert>
</template>

<script>
import { alert } from 'vue-strap';

export default {
	components: {
		alert
	}
};
</script>