<template>
	<dropdown v-if="type === 'dropdown'" id="userProfile">
		<div slot="button" class="user-profil-dropdown">
			<img
				v-lazy="{
					src: profilePicture,
					error: '/general/img/pictures/navbar/ic_profile.svg',
					loading: '/general/img/pictures/navbar/ic_profile.svg'
				}"
				alt="User Photo"
				class="user-profil-img"
			/>
		</div>
		<ul slot="dropdown-menu" class="dropdown-menu">
			<template v-if="isTenant">
				<li>
					<a href="/user">Profil</a>
				</li>
				<li v-if="isHomepage">
					<a href="/user/riwayat-transaksi">Riwayat Transaksi</a>
				</li>
			</template>
			<li v-else>
				<a :href="ownerDashboardUrl">Halaman Pemilik</a>
			</li>
			<li>
				<a href="/auth/logout" @click="$emit('onLogout')">Keluar</a>
			</li>
		</ul>
	</dropdown>
	<a
		v-else
		class="nav-main-profile"
		:style="containerStyle"
		:href="isTenant ? '/user' : ownerDashboardUrl"
	>
		<div class="nav-main-profile-photo">
			<img
				v-lazy="{
					src: profilePicture,
					error: '/general/img/pictures/navbar/ic_profile.svg',
					loading: '/general/img/pictures/navbar/ic_profile.svg'
				}"
				alt="User Photo"
				class="user-profil-img"
			/>
		</div>
		<span class="user-profile-name">{{ userName }}</span>
	</a>
</template>

<script>
import { dropdown } from 'vue-strap';

export default {
	components: {
		dropdown
	},
	props: {
		profilePicture: {
			type: String,
			default: '/general/img/pictures/navbar/ic_profile.svg'
		},
		isTenant: {
			type: Boolean,
			default: false
		},
		type: {
			type: String,
			default: 'dropdown'
		},
		userName: {
			type: String,
			default: ''
		},
		containerStyle: {
			type: String,
			default: ''
		},
		isHomepage: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			ownerDashboardUrl: oxWebUrl
		};
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#userProfile {
	display: flex;
	align-items: center;

	.user-profil-dropdown {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #e8e8e8;
		overflow: hidden;

		.user-profil-name {
			margin-bottom: 0;
			margin-right: 12px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 80px;
		}

		.user-profil-img {
			width: 40px;
			height: 40px;
			object-fit: cover;
		}
	}

	.dropdown-menu {
		left: -135px;

		li {
			padding: 0 8px;

			a {
				margin-left: 0;
			}
		}
	}

	.dropdown-toggle {
		margin-left: 12px;
		padding: 0;

		.caret {
			display: none;
		}

		&:hover {
			&::after {
				display: none;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.nav-main-profile {
	display: flex;
	align-items: center;
	width: 100%;
	height: 56px;
	padding: 8px;
	cursor: pointer;
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 -1px 4px rgba(0, 0, 0, 0.04);
	text-decoration: none;

	.nav-main-profile-photo {
		display: flex;
		min-width: 40px;
		height: 40px;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

		.user-profil-img {
			width: 40px;
			height: 40px;
			object-fit: cover;
		}
	}

	.user-profile-name {
		margin-left: 12px;
		overflow: hidden;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
</style>
