<template>
	<div class="row">
		<div class="col-xs-12">
			<shimmer-placeholder width="80%" height="20px"></shimmer-placeholder>
			<shimmer-placeholder width="80%" height="20px"></shimmer-placeholder>
		</div>
		<div class="col-xs-12">
			<shimmer-placeholder></shimmer-placeholder>
		</div>
		<div class="col-xs-12 mt-4">
			<div class="row">
				<div class="col-xs-12 mb-2" v-for="i in 3" :key="i">
					<shimmer-placeholder width="90%" height="20px"></shimmer-placeholder>
				</div>
			</div>
		</div>
		<div class="col-xs-12 mb-2">
			<div class="row">
				<div class="col-xs-6">
					<shimmer-placeholder height="100px"></shimmer-placeholder>
				</div>
				<div class="col-xs-6">
					<shimmer-placeholder height="100px"></shimmer-placeholder>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 mb-2" v-for="i in 5" :key="i">
					<shimmer-placeholder width="90%" height="20px"></shimmer-placeholder>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';

export default {
	name: 'ActiveTenantDetailPlaceholder.',

	components: {
		ShimmerPlaceholder
	}
};
</script>
<style lang="scss" scoped>
.mt-4 {
	margin-top: 40px;
}

.mb-2 {
	margin-bottom: 20px;
}
</style>
