<template>
	<div class="row">
		<div class="col-xs-12 mb-2" v-for="i in 10" :key="i">
			<shimmer-placeholder width="90%" height="20px"></shimmer-placeholder>
		</div>
		<div class="col-xs-12">
			<shimmer-placeholder height="50px"></shimmer-placeholder>
		</div>
	</div>
</template>
<script>
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';

export default {
	name: 'PotentialTenantDetailPlaceholder',

	components: {
		ShimmerPlaceholder
	}
};
</script>
<style lang="scss" scoped>
.mt-4 {
	margin-top: 40px;
}

.mb-2 {
	margin-bottom: 20px;
}
</style>
