<template>
	<div class="shimmer-placeholder" :style="placeholderStyle"></div>
</template>
<script>
export default {
	name: 'ShimmerPlaceholder',

	props: {
		height: {
			type: String,
			default: '40px'
		},
		width: {
			type: String,
			default: '100%'
		},
		marginBottom: {
			type: String,
			default: ''
		}
	},

	computed: {
		placeholderStyle() {
			return `
        height: ${this.height};
				width: ${this.width};
				${this.additionalStyle}
      `;
		},
		additionalStyle() {
			let style = '';

			if (this.marginBottom) {
				style += `margin-bottom: ${this.marginBottom};`;
			}

			return style;
		}
	}
};
</script>
<style lang="scss" scoped>
.shimmer-placeholder {
	position: relative;
	display: block;
	margin-bottom: 20px;
	border-radius: 3px;
	animation-name: BackgroundMove;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	/* stylelint-disable */
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	/* stylelint-enable */
}

@keyframes BackgroundMove {
	from {
		background-position: -468px 0;
	}
	to {
		background-position: 468px 0;
	}
}
</style>
