<template>
	<div>
		<navbar-custom
			:show-input-search="true"
			:show-promotion="true"
			theme="white"
			:logo="logo"
			:is-webview="getIsWebview"
			:navigations="navigations"
			:open-modal-with-props="getSearchStatus"
			:redirection-source="redirectionSource"
			@closeModalWithProps="setSearchStatus(false)"
		></navbar-custom>
		<router-view></router-view>
		<flash-sale-faq
			v-if="notEmpty"
			title="Frequently asked questions"
			:questions="getAllFaq"
			:index-to-open-first="0"
			:active-question="getActiveQuestion"
			@activeToggle="openFaqHandler"
		/>
		<flash-sale-footer v-if="notEmpty" />
		<mami-footer v-if="!getIsWebview"></mami-footer>
		<div v-else class="android-ios-space"></div>
	</div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import _get from 'lodash/get';

import NavbarCustom from 'Js/@components/NavbarCustom';
import FlashSaleFaq from 'Js/@components/SectionFAQ';
import MamiFooter from 'Js/@components/MamiFooter';
import FlashSaleFooter from './components/FlashSaleFooter';
import { gql } from 'apollo-boost';

export default {
	components: {
		NavbarCustom,
		FlashSaleFaq,
		MamiFooter,
		FlashSaleFooter
	},
	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			posts: []
		};
	},
	apollo: {
		posts: gql`
			query GET_PROMO_NGEBUT_POSTS {
				posts(where: { status: PUBLISH, tag: "promo-ngebut-tenant" }) {
					edges {
						node {
							id
							slug
							title
							content
						}
					}
				}
			}
		`
	},
	computed: {
		...mapGetters([
			'getIsWebview',
			'getActiveQuestion',
			'getAllFaq',
			'getSearchStatus',
			'getFlashSaleStatus',
			'getSourceWebview',
			'getAuthCheck'
		]),
		notEmpty() {
			return (
				this.getFlashSaleStatus !== 'empty' && this.getFlashSaleStatus !== ''
			);
		},
		logo() {
			return this.navigator.isMobile
				? '/general/img/logo/logo_mamikos_green.svg'
				: '/general/img/logo/icon_mamikos.svg';
		},
		redirectionSource() {
			return window.location.pathname.includes('/kost-promo-ngebut')
				? 'promo ngebut kos lp'
				: 'promo ngebut';
		}
	},
	watch: {
		posts: {
			handler(val) {
				const payload = val.edges.reduce((filtered, value) => {
					const newSetProperty = {
						id: filtered.length + 1,
						title: value.node.title,
						answer: value.node.content
					};
					filtered.push(newSetProperty);
					return filtered;
				}, []);
				this.setFAQ(payload);
			}
		}
	},
	methods: {
		...mapMutations(['setFAQStatus', 'setSearchStatus', 'setFAQ']),
		openFaqHandler(index) {
			this.setFAQStatus(index);
			if (index === this.getActiveQuestion)
				this.handleMoEngage(this.getAllFaq[index]);
		},
		handleMoEngage(content) {
			let device = this.navigator.isMobile ? 'mobile' : 'desktop';
			if (this.getIsWebview) device = `mobile-${this.getSourceWebview}`;
			const isOwner = _get(this.getAuthCheck, 'owner');
			const isLogin = _get(this.getAuthCheck, 'all');
			const moEngageData = {
				interface: device,
				redirection_source: window.location.pathname.includes(
					'/kost-promo-ngebut'
				)
					? 'discount Kos LP'
					: 'discount LP',
				faq_content: content.title
			};
			if (isLogin) moEngageData.is_owner = isOwner;
			if (this.getIsWebview) {
				window.Android.trackFAQDiscountClicked(
					moEngageData.faq_content,
					moEngageData.redirection_source
				);
			} else {
				tracker('moe', ['FAQ Discount Clicked', moEngageData]);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.android-ios-space {
	height: 40px;
}
</style>
