<template>
	<div class="flash-main-container">
		<div class="flash-content-container">
			<div v-if="getFlashSaleStatus === ''" class="flash-idle-container">
				<mami-loading-inline />
			</div>
			<div v-else-if="getFlashSaleStatus === 'empty'" class="flash-empty">
				<flash-sale-empty
					class="flashsale-theme"
					title="Sampai jumpa di Mamikos Promo Ngebut berikutnya!"
					subtitle="Mamikos Promo Ngebut sudah selesai, tapi Mami masih punya banyak Kos untukmu. Cari sekarang yuk?"
					image="/general/img/pictures/flashsale/flashsale-empty.svg"
				>
					<button
						slot="button"
						class="content-button"
						data-path="btn_emptyFlashSaleButton"
						@click="openSearchBarFromLanding"
					>
						Cari Kos
					</button>
				</flash-sale-empty>
			</div>
			<template v-else>
				<count-down-section
					:title="flashSaleTitle"
					:status="getFlashSaleStatus"
					:duration="flashSaleDuration"
					:need-count-down="true"
					@goToList="goToList"
				>
					<img
						slot="illustration"
						class="countdown-illustration-img"
						src="/general/img/pictures/flashsale/countdown-illustration.svg"
						alt="countdown illustration"
					/>
				</count-down-section>
				<div class="flash-content-banner">
					<img
						v-lazy="{
							src: getBannerData.large,
							error:
								'/general/img/pictures/placeholder/placeholder_loading.svg',
							loading:
								'/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						class="flash-content-image"
						alt="flash sale banner"
					/>
				</div>
				<flash-sale-information
					v-if="getFlashSaleStatus === 'running'"
					@goToList="goToList"
				/>
			</template>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import { getParams } from 'Js/@utils/queryString';
import _get from 'lodash/get';

import CountDownSection from './components/CountDownSection';
import FlashSaleInformation from './components/FlashSaleInformation';
import FlashSaleEmpty from 'Js/@components/EmptyState';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline';
import MixinFlashSale from './mixins/MixinFlashSale';

export default {
	components: {
		CountDownSection,
		FlashSaleInformation,
		FlashSaleEmpty,
		MamiLoadingInline
	},
	mixins: [MixinFlashSale],
	computed: {
		...mapGetters([
			'getFlashSaleStatus',
			'getFlashSaleTimeline',
			'getIsWebview',
			'getAuthCheck',
			'getSourceWebview',
			'getBannerData'
		]),
		flashSaleTitle() {
			let title = '';
			switch (this.getFlashSaleStatus) {
				case 'running':
					title = 'Mamikos Promo Ngebut akan berakhir dalam';
					break;
				case 'upcoming':
					title = 'Bersiap menuju Mamikos Promo Ngebut!';
					break;
				default:
					title = '';
			}
			return title;
		},
		flashSaleDuration() {
			if (
				this.$dayjs(this.getFlashSaleTimeline[0]).isValid() &&
				this.$dayjs(this.getFlashSaleTimeline[1]).isValid()
			) {
				const start = this.$dayjs(this.getFlashSaleTimeline[0])
					.locale('id')
					.format('D MMMM YYYY');
				const end = this.$dayjs(this.getFlashSaleTimeline[1])
					.locale('id')
					.format('D MMMM YYYY');
				return `${start} - ${end}`;
			}
			return '';
		}
	},
	watch: {
		getFlashSaleStatus(val) {
			let title = '';
			let description = '';
			let keywords = '';
			const url = window.location.href;
			switch (val) {
				case 'running':
					title =
						'Mamikos Promo Ngebut Akan Berakhir beberapa menit lagi, cek sekarang';
					description =
						'Pengumuman pengumuman! mamikos promo ngebut sebentar lagi berakhir, yuk cek sekarang dan dapatkan kost impianmu dengan harga diskon promo ngebut dari mamikos.com';
					keywords =
						'mamikos promo ngebut, flash sale kost, promo kost murah, diskon kost murah, flash sale mamikos';
					break;
				case 'upcoming':
					title = 'Bersiap menuju Mamikos Promo Ngebut! - Mamikos';
					description =
						'Jangan sampai kelewat! sebentar lagi mamikos promo ngebut akan di buka, flash sale diskon kost besar besaran di mamikos, lihat & bersiap menuju mamikos promo ngebut';
					keywords =
						'mamikos promo ngebut, flash sale mamikos, flash sale kost, promo kost, diskon kost';
					break;
				case 'empty':
					title = 'Sampai jumpa di mamikos promo ngebut berikutnya! - Mamikos';
					description =
						'Mamikos Promo ngebut sudah selesai, Sampai jumpa di mamikos promo ngebut berikutnya ya! Jangan bersedih, mamikos masih punya banyak kost promo lainnya, cari di sini.';
					keywords =
						'mamikos promo ngebut, flash sale kost, promo kost murah, diskon kost murah, flash sale mamikos';
					break;
				default:
					break;
			}
			this.settingDocumentMeta({ url, title, description, keywords });
		}
	},
	created() {
		this.setFlashSaleStatus('');
		this.fetchFlashSaleData();
	},
	mounted() {
		this.handleMoEngage();
	},
	methods: {
		...mapActions(['fetchFlashSaleData']),
		...mapMutations(['setSearchStatus', 'setFlashSaleStatus', 'setLoading']),
		goToList(redirectionSource) {
			let url = `/kost-promo-ngebut?from=${redirectionSource}`;
			if (this.getIsWebview) url = `${url}&source=${this.getSourceWebview}`;
			window.location.href = url;
		},
		handleMoEngage() {
			let device = this.navigator.isMobile ? 'mobile' : 'desktop';
			if (this.getIsWebview) device = `mobile-${this.getSourceWebview}`;
			const params = getParams(null);
			let acquiredParams = window.location.href;
			if (params.from) {
				acquiredParams = params.from[0].replace(/_/g, ' ');
			}
			const isOwner = _get(this.getAuthCheck, 'owner');
			const isLogin = _get(this.getAuthCheck, 'all');
			const moEngageData = {
				interface: device,
				redirection_source: acquiredParams
			};
			if (isLogin) moEngageData.is_owner = isOwner;
			if (this.getIsWebview) {
				window.Android.trackDiscountLPVisited(moEngageData.redirection_source);
			} else {
				tracker('moe', ['Discount LP Visited', moEngageData]);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.flash-main-container {
	display: flex;
	flex-direction: column;
}
.flash-content-container {
	display: flex;
	margin-top: 80px;
	flex-direction: column;

	.flash-content-banner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1366px;
		height: auto;
		max-height: 500px;
		margin: 0 auto;
		overflow: hidden;
		background-color: #1baa56;

		.flash-content-image {
			width: 100%;
			max-width: 1140px;
			height: auto;
		}
	}

	@media (max-width: 767px) {
		margin-top: 55px;
	}

	.flash-empty {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
		padding: 64px 0;
		background: #fafafa;
	}
}
.content-button {
	display: flex;
	width: 156px;
	height: 48px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}
.countdown-illustration-img {
	position: absolute;
	top: 30px;
	left: 15px;
	width: auto;
	height: 250px;

	@media (max-width: 1280px) {
		width: auto;
		height: 220px;
	}

	@media (max-width: 767px) {
		width: auto;
		height: 150px;
	}

	@media (max-width: 575px) {
		top: 13.5px;
		left: 10px;
		width: auto;
		height: 110px;
	}

	@media (min-width: 1360px) {
		left: calc((100vw - 1360px) / 2);
	}
}
.flash-idle-container {
	display: flex;
	height: 50vh;
	align-items: center;
	justify-content: center;
}
</style>
