<template>
	<div class="flash-main-container">
		<div v-if="getFlashSaleStatus === ''" class="flash-idle-container">
			<mami-loading-inline />
		</div>
		<div
			v-else-if="
				getFlashSaleStatus === 'empty' || getFlashSaleStatus === 'upcoming'
			"
			class="flash-empty"
		>
			<flash-sale-empty
				class="flashsale-theme"
				title="Sampai jumpa di Mamikos Promo Ngebut berikutnya!"
				subtitle="Mamikos Promo Ngebut sudah selesai, tapi Mami masih punya banyak Kos untukmu. Cari sekarang yuk?"
				image="/general/img/pictures/flashsale/flashsale-empty.svg"
			>
				<button
					slot="button"
					class="content-button"
					data-path="btn_emptyFlashSaleButton"
					@click="openSearchBarFromList"
				>
					Cari Kos
				</button>
			</flash-sale-empty>
		</div>
		<template v-else>
			<count-down-section title="Mamikos Promo Ngebut" time-detection-only>
				<img
					slot="illustration"
					class="countdown-illustration-img"
					src="/general/img/pictures/flashsale/countdown-illustration-list.svg"
					alt="countdown illustration"
				/>
			</count-down-section>
			<filter-desktop
				:location="getLocation"
				:selected-location="getSelectedLocation"
				:filter="getFilter"
				:sorting="getSorting"
				:is-loading="getIsListLoading"
				:display-number="getDisplayNumber"
				:is-empty-list="getEmptyList"
				:search-directly="navigator.isMobile"
				:need-time="false"
				@locationHandler="setLocation"
				@searchHandler="setFillterData"
			/>
			<filter-mobile
				:location="getLocation"
				:selected-location="getSelectedLocation"
				:filter="getFilter"
				:sorting="getSorting"
				:is-loading="getIsListLoading"
				:need-time="false"
				@mobileFilterHandler="setFillterData"
			/>
			<div ref="content" class="flash-main-content">
				<div v-show="getIsListLoading" class="loading-container">
					<list-placeholder
						v-for="i in 5"
						:key="i"
						:mode="5"
					></list-placeholder>
				</div>
				<room-list
					v-if="!getIsListLoading && !getEmptyList"
					:rooms="getRooms"
					:is-webview="getIsWebview"
					redirection-source="promo ngebut kos lp"
					grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
					@toggleLoginModal="toggleLoginModal"
				></room-list>
				<div
					v-else-if="!getIsLoading && getEmptyList"
					class="flash-empty no-background"
				>
					<flash-sale-empty
						class="flashsale-theme"
						title="Kos Tidak Ditemukan"
						subtitle="Tenang! Mami masih punya banyak Kosan! Coba atur lagi filter pencariannya, atau cari Kos lain yang sreg di hati."
						image="/general/img/pictures/flashsale/flashsale-empty.svg"
					>
						<button
							slot="button"
							class="content-button"
							data-path="btn_emptyFlashSaleButton"
							@click="openSearchBarFromList"
						>
							Cari Kos Lain
						</button>
					</flash-sale-empty>
				</div>
				<div
					v-if="!getEmptyList"
					:class="['pagination-wrapper', { shimmer: getIsListLoading }]"
				>
					<paginate
						v-if="!getIsListLoading"
						ref="pagination"
						v-model="currentPage"
						:page-count="getTotalPage"
						:click-handler="pageChangeHandler"
						prev-text="<"
						next-text=">"
						container-class="pagination pagination-overwrite"
						break-view-link-class="break-pagination"
						page-class="page-item"
					></paginate>
				</div>
			</div>
		</template>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import _get from 'lodash/get';

import paginate from 'vuejs-paginate';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline';
import FlashSaleEmpty from 'Js/@components/EmptyState';
import FilterMobile from 'Js/@components/FilterMobile';
import CountDownSection from './components/CountDownSection';
import FilterDesktop from './components/FilterDesktop';
import RoomList from 'Js/@components/RoomList';
import ListPlaceholder from 'Js/@components/ListPlaceholder';
import MixinFlashSale from './mixins/MixinFlashSale';

/* istanbul ignore next */
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	components: {
		CountDownSection,
		FilterDesktop,
		FilterMobile,
		RoomList,
		paginate,
		ListPlaceholder,
		FlashSaleEmpty,
		MamiLoadingInline,
		LoginUser
	},
	mixins: [MixinFlashSale],
	data() {
		return {
			isModalLogin: false
		};
	},
	computed: {
		...mapGetters([
			'getRooms',
			'getEmptyList',
			'getIsLoading',
			'getFilter',
			'getSorting',
			'getDisplayNumber',
			'getTotalPage',
			'getLocation',
			'getSelectedLocation',
			'getFlashSaleStatus',
			'getIsListLoading',
			'getCurrentPage',
			'getIsWebview',
			'getAuthCheck',
			'getSourceWebview',
			'getFlashSaleTimeline'
		]),
		currentPage: {
			set(pageNum) {
				this.settingPage(pageNum);
			},
			get() {
				return this.getCurrentPage;
			}
		}
	},
	watch: {
		getFlashSaleStatus(val) {
			let title = '';
			let description = '';
			let keywords = '';
			const url = window.location.href;
			switch (val) {
				case 'running':
					title = 'Flash Sale Mamikos Promo Ngebut - Mamikos';
					description =
						'Flash Sale mamikos promo ngebut sedang berjalan, Satu satunya promo kost terbesar di indonesia. ingat, flash sale mamikos promo ngebut tidak berlangsung lama, Booking kost favoritmu sekarang hanya di mamikos.com';
					keywords =
						'flash sale mamikos, mamikos promo Ngebut, flash sale kost, promo kost, diskon kost';
					break;
				default:
					title = 'Sampai jumpa di mamikos promo ngebut berikutnya! - Mamikos';
					description =
						'Mamikos Promo ngebut sudah selesai, Sampai jumpa di mamikos promo ngebut berikutnya ya! Jangan bersedih, mamikos masih punya banyak kost promo lainnya, cari di sini.';
					keywords =
						'mamikos promo ngebut, flash sale kost, promo kost murah, diskon kost murah, flash sale mamikos';
					break;
			}
			this.settingDocumentMeta({ url, title, description, keywords });
		}
	},
	created() {
		this.fetchFlashSaleWithUrl(this.$route.params.area)
			.then(() => {
				this.handleMoEngage();
			})
			.catch(error => bugsnagClient.notify(error));
	},
	methods: {
		...mapActions([
			'settingPage',
			'fetchFlashSaleData',
			'settingAllFilter',
			'settingLandings',
			'fetchFlashSaleWithUrl'
		]),
		...mapMutations(['setSearchStatus', 'setLoading']),
		toggleLoginModal() {
			this.isModalLogin = true;
		},
		closeModalLogin() {
			this.isModalLogin = false;
		},
		handleMoEngage() {
			let device = this.navigator.isMobile ? 'mobile' : 'desktop';
			if (this.getIsWebview) device = `mobile-${this.getSourceWebview}`;
			const isOwner = _get(this.getAuthCheck, 'owner');
			const isLogin = _get(this.getAuthCheck, 'all');
			const moEngageData = {
				interface: device,
				redirection_source: this.$route.query.from
					? `button cari kos discount ${this.$route.query.from}`
					: window.location.href,
				is_empty_result: this.getEmptyList
			};
			if (isLogin) moEngageData.is_owner = isOwner;
			if (this.getIsWebview) {
				window.Android.trackDiscountKosLPVisited(
					moEngageData.is_empty_result,
					moEngageData.redirection_source
				);
			} else {
				tracker('moe', ['Discount Kos LP Visited', moEngageData]);
			}
		},
		pageChangeHandler() {
			window.scrollTo({
				top: this.$refs.content.offsetTop,
				behavior: 'smooth'
			});
		},
		setLocation(payload) {
			this.settingLandings(payload);
		},
		setFillterData(payload) {
			this.settingAllFilter(payload);
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';
.flash-empty {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 60px 0;
	background: #fafafa;
}
.no-background {
	background: none;
}
.content-button {
	display: flex;
	width: 156px;
	height: 48px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
}
.pagination-overwrite {
	margin: 0 auto;
}
.flash-main-container {
	display: flex;
	margin-top: 80px;
	flex-direction: column;

	@media (max-width: 767px) {
		margin-top: 55px;
	}
}
.countdown-illustration-img {
	position: absolute;
	top: 55px;
	left: 24px;
	width: 409px;
	height: auto;

	@media (max-width: 767px) {
		top: 25px;
		left: 10px;
		width: auto;
		height: 70px;
	}

	@media (max-width: 575px) {
		top: 17px;
		left: 5px;
	}

	@media (min-width: 1360px) {
		left: calc(((100vw - 1360px) / 2) + 24px);
	}
}
.flash-main-content {
	display: flex;
	width: 90%;
	max-width: 1230px;
	margin: 0 auto;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 767px) {
		width: 100%;
	}
}
.pagination-wrapper {
	display: flex;
	min-width: 200px;
	min-height: 35px;
	margin: 30px auto 0;
}
.flash-idle-container {
	display: flex;
	height: 50vh;
	align-items: center;
	justify-content: center;
}
.loading-container {
	@media (max-width: 767px) {
		padding: 0 15px;
	}
}
</style>
