<template>
	<div>
		<container-landing-area></container-landing-area>
	</div>
</template>

<script>
import mixinResizeObserver from 'Js/@mixins/MixinResizeObserver';

export default {
	mixins: [mixinResizeObserver],

	data() {
		return {
			windowWidth: this.$store.state.extras.windowWidth
		};
	},

	methods: {
		handleResize() {
			let currentWidth = $(window).width();
			if (this.windowWidth !== currentWidth) {
				this.windowWidth = currentWidth;
				this.$store.commit('updateWindowWidth', this.windowWidth);
			}
		}
	}
};
</script>

<style>
/*Normalize*/
h1,
h2,
h3,
h4,
strong {
	font-size: inherit;
	line-height: 1;
	font-weight: inherit;
	margin: 0;
	color: inherit;
	display: inline-block;
}
</style>
