<template>
	<div class="app-wrapper">
		<navbar-custom
			:show-input-search="true"
			:navigations="navigations"
		></navbar-custom>

		<breadcrumb-trails :contents="landingBreadcrumb"></breadcrumb-trails>
		<div class="container stretch landing-container">
			<landing-switch
				:keyword-selector="keywordSelector"
				:landing-connector="landingConnector"
			></landing-switch>

			<landing-title :title="landingTitle"></landing-title>
			<landing-area :grid="'col-xs-12 stretch'"></landing-area>

			<landing-description
				:description="landingDescription"
			></landing-description>

			<div class="clearfix"></div>

			<mami-footer></mami-footer>
		</div>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';

const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom,
		LoginUser
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen lainnya', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			isModalLogin: false
		};
	},

	computed: {
		keywordSelector() {
			return this.$store.state.area.keyword;
		},
		landingConnector() {
			return this.$store.state.area.landing_connector;
		},
		landingBreadcrumb() {
			return this.$store.state.area.breadcrumb;
		},
		landingTitle() {
			return this.$store.state.area.keyword;
		},
		landingDescription() {
			return this.$store.state.area.description_1 !== null ||
				this.$store.state.area.description_2 !== null ||
				this.$store.state.area.description_3 !== null
				? this.$store.state.area.description_1 +
						this.$store.state.area.description_2 +
						this.$store.state.area.description_3
				: '';
		},
		landingPhotos() {
			return this.$store.state.area.photos !== null
				? this.$store.state.area.photos
				: this.$store.state.extras.photosFallback;
		}
	},

	created() {
		this.listenEventBus();
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style>
@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
	}
	.select-container.track-switch-category {
		padding: 50px 0 0 15px !important;
	}
}
</style>

<style scoped>
.landing-container {
	margin: auto;
}
@media (min-width: 768px) {
	.landing-container {
		padding-top: 91px;
	}
}
.landing-section {
	padding-top: 10px;
	padding-bottom: 10px;
}
</style>
