<template>
	<div class="input-note row">
		<select-note-dialog
			:value="noteSelected"
			:open.sync="isDialogSelectNoteOpen"
			@input="handleNoteInputed"
		></select-note-dialog>
		<free-text-input-page
			v-model="additionalNote"
			placeholder="Tulis catatan di sini"
			:max-length="maxLengthAdditionalNote"
			:open.sync="isFreeTextOpen"
		></free-text-input-page>
		<div class="col-xs-12 mgb-2">
			<consultant-select
				:value="noteSelected"
				placeholder="Pilih catatan"
				legend="Catatan"
				:options="noteSelectedAsOption"
				readonly
				:clear-button="false"
				@click="isDialogSelectNoteOpen = true"
			></consultant-select>
		</div>
		<div class="col-xs-12">
			<input-textarea
				:value="additionalNote"
				label="Penjelasan Catatan"
				placeholder="Tulis catatan di sini"
				auto-grow
				counter
				:max-length="maxLengthAdditionalNote"
				@focus="isFreeTextOpen = true"
			></input-textarea>
		</div>
	</div>
</template>

<script>
import ConsultantSelect from 'Consultant/components/ConsultantSelect.vue';
import InputTextarea from 'Consultant/components/InputTextarea.vue';
import SelectNoteDialog from './SelectNoteDialog.vue';
import FreeTextInputPage from 'Consultant/components/FreeTextInputPage.vue';

import noteOptions from './noteOptions.json';

export default {
	name: 'InputNote',

	components: {
		InputTextarea,
		ConsultantSelect,
		SelectNoteDialog,
		FreeTextInputPage
	},

	props: {
		remarksCategory: {
			type: String,
			default: null
		},
		remarksNote: {
			type: String,
			default: null
		}
	},

	data() {
		return {
			isDialogSelectNoteOpen: false,
			noteSelected: '',
			additionalNote: '',
			isFreeTextOpen: false,
			maxLengthAdditionalNote: 200
		};
	},

	computed: {
		noteSelectedAsOption() {
			if (this.noteSelected) {
				return [
					{
						label: this.getLabelNote(this.noteSelected),
						value: this.noteSelected
					}
				];
			}

			return [];
		}
	},

	watch: {
		remarksCategory: {
			immediate: true,
			handler(value) {
				if (value !== this.noteSelected) {
					this.noteSelected = value;
				}
			}
		},
		remarksNote: {
			immediate: true,
			handler(value) {
				if (value !== this.additionalNote) {
					this.additionalNote = value;
				}
			}
		},
		additionalNote(value) {
			this.handleSaveAdditionalNote(value);
		}
	},

	methods: {
		handleNoteInputed(value) {
			this.noteSelected = value;
			this.$emit('update:remarksCategory', value);
		},

		handleSaveAdditionalNote(value) {
			this.$emit('update:remarksNote', value);
		},

		getLabelNote(value) {
			const labelSelected = noteOptions.find(option => option.value === value);
			return labelSelected ? labelSelected.label : value;
		}
	}
};
</script>

<style lang="scss" scoped>
.mgb-2 {
	margin-bottom: 20px;
}
</style>
