<template>
	<consultant-modal
		:open="open"
		class="select-note-dialog"
		close-on-outside-click
		hide-close-button
		@close="handleDialogClose"
	>
		<div class="dialog__content">
			<consultant-radio-group
				v-model="noteSelected"
				:options="noteOptions"
			></consultant-radio-group>
		</div>
	</consultant-modal>
</template>

<script>
import ConsultantModal from 'Consultant/components/ConsultantModal.vue';
import ConsultantRadioGroup from 'Consultant/components/ConsultantRadioGroup.vue';
import noteOptions from './noteOptions.json';

export default {
	name: 'SelectNoteDialog',

	components: {
		ConsultantModal,
		ConsultantRadioGroup
	},

	props: {
		value: {
			type: String,
			default: null
		},
		open: {
			type: Boolean,
			required: true
		}
	},

	data() {
		return {
			noteSelected: '',
			noteOptions: noteOptions
		};
	},

	watch: {
		noteSelected(value) {
			this.$emit('input', value);
			this.handleDialogClose();
		},
		value: {
			immediate: true,
			handler(value) {
				if (value !== this.noteSelected) {
					this.noteSelected = value || '';
				}
			}
		}
	},

	methods: {
		handleDialogClose() {
			this.$emit('update:open', false);
		}
	}
};
</script>

<style lang="scss">
.select-note-dialog {
	.modal__container {
		max-height: 480px;
		overflow-y: auto;
	}

	.dialog__content {
		.consultant-radio-group {
			/* stylelint-disable-next-line */
			.radio-group__content .radio {
				padding: 5px 0;
				position: relative;
				margin-bottom: 15px;
				border-bottom: 1px solid #f4f4f4;

				/* stylelint-disable-next-line */
				label {
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					min-height: 35px;

					.radio-label {
						position: absolute;
						left: 0;
						display: inline-block;
						width: calc(100% - 40px);
						line-height: 17px;
					}

					input,
					.icon {
						position: absolute;
						right: 0;
						left: unset;
						top: unset;
					}
				}
			}
		}
	}
}
</style>
