<template>
	<div class="booking-reason-item">
		<div
			v-lazy:background-image="{ src: itemIcon }"
			class="booking-reason-item__icon"
			data-path="img_mamikosBenefits"
		></div>
		<p class="booking-section__title booking-reason-item__title">
			<span>{{ itemTitle }}</span>
		</p>
		<p class="booking-section__text booking-reason-item__text">
			{{ itemText }}
		</p>
	</div>
</template>

<script>
export default {
	name: 'BookingReasonItem',
	props: {
		itemIcon: {
			type: String,
			default: null,
			required: true
		},
		itemTitle: {
			type: String,
			default: null,
			required: true
		},
		itemText: {
			type: String,
			default: null,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../../style/main.scss';

.booking-reason-item {
	&__icon {
		width: 178px;
		height: 178px;
		margin: 40px auto;
		background-color: #e8f7ee;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}
	&__title {
		min-height: 85px;
		line-height: 85px;
		@media (max-width: 768px) {
			min-height: 100%;
			line-height: normal;
		}
		// stylelint-disable-next-line
		span {
			display: inline-block;
			line-height: 36px;
			vertical-align: middle;
		}
	}
}
</style>
