<template>
	<div class="contract-management-wrapper">
		<router-view></router-view>

		<mami-modal-error
			:show-modal="isModalError"
			:is-backdrop-close="true"
			@close="toggleModalError(false)"
		/>
	</div>
</template>

<script>
import EventBus from '../event-bus/event-bus';
import MixinCheckMamipayBooking from '../mixins/MixinCheckMamipayBooking';
const MamiModalError = () => import('Js/@components/MamiModalError');

export default {
	components: {
		MamiModalError
	},

	mixins: [MixinCheckMamipayBooking],

	data() {
		return {
			isModalError: false
		};
	},

	mounted() {
		this.checkingDevice();
		this.listenToError();
	},

	methods: {
		listenToError() {
			EventBus.$on('showModalError', val => {
				this.toggleModalError(true);
			});
		},
		toggleModalError(state) {
			this.isModalError = state;
		},
		checkingDevice() {
			const { meta = {} } = this.$route;
			if (!meta.isResponsive && this.navigator.isMobile) {
				alert(
					'Peringatan: Tampilan halaman kelola tagihan dan booking kurang optimal apabila diakses melalui mobile browser!'
				);
			}
		}
	}
};
</script>

<style lang="scss">
@import 'Sass/_mamikos-icon.scss';

.text-default {
	color: #999999;
}

.goldplus-label {
	background-color: #fad686;
	padding: 3px 10px;
	border-radius: 30px;
	margin-left: 7px;
	font-weight: bold;
}

html,
body {
	height: 100%;
	background-color: #fff;

	#app {
		height: 100%;
		> div {
			height: 100%;
			> #mamipayOwnerContainer {
				height: 100%;
				> #wrapper-section {
					min-height: 100%;
				}
			}
		}
	}
}

ul.pagination-table {
	width: fit-content;
	margin: 0 auto;
	list-style: none;
	li {
		&:hover {
			background-color: #e8e8e8;
		}

		&:first-child {
			font-weight: 900;
			a {
				color: #1baa56;
			}
		}

		&:last-child {
			font-weight: 900;
			a {
				color: #1baa56;
			}
		}

		float: left;
		font-size: 1.1em;
		margin: 4rem 0.4rem;
		border-radius: 5px;
		color: #737373;
		text-align: center;

		&.active {
			background: #1baa56;
			a {
				color: #fff;
			}
		}

		a {
			color: #737373;
			position: relative;
			top: 2px;
			width: 27px;
			height: 30px;
			display: block;
			text-decoration: none;

			&:focus,
			&:active {
				outline: none;
			}
		}
	}
}

.btn-primary {
	border: none;
}

.contract-management-wrapper {
	height: auto !important;

	#mamiModalGeneralError {
		&.modal {
			z-index: 1051;
		}
	}
}
</style>
