<template>
	<div>
		<div ref="textareaPrivacyPolicy" class="textarea-term">
			<div class="c22">
				<p class="c19">
					<span class="c4">Syarat dan Ketentuan Booking Langsung </span
					><span class="c4 c1">Owner</span>
				</p>
				<p class="c6"><span class="c2"></span></p>
				<p class="c13">
					<span class="c0"
						>Sebagai upaya pemberian layanan yang maksimal kepada setiap
						pengguna atau </span
					><span class="c0 c1">user,</span
					><span class="c0"
						>&nbsp;Mamikos (selanjutnya disebut &ldquo;Kami&rdquo;) menerapkan
						syarat dan ketentuan untuk &nbsp;digunakan sebagai acuan apabila
						ditemukan permasalahan di dalam penggunaan fitur Booking Langsung
						(selanjutnya disebut &ldquo;</span
					><span class="c4">Booking Langsung</span
					><span class="c0"
						>&rdquo;). Kami menyarankan Anda sebagai pemilik atau pengelola kos
						atau </span
					><span class="c0 c1">Owner</span
					><span class="c0"
						>&nbsp;(selanjutnya disebut &ldquo;Anda&rdquo;) untuk membaca Syarat
						dan Ketentuan Turunan Fitur Booking Langsung (selanjutnya disebut
						&ldquo;</span
					><span class="c4">S&amp;K Turunan</span
					><span class="c0">&rdquo;) ini secara berkala bersama dengan </span
					><span class="c9 c0"
						><a
							class="c16"
							href="https://help.mamikos.com/syarat-dan-ketentuan/?category%3Dpemilik-dan-penghuni%26subCategory%3Dsyarat-dan-ketentuan-umum"
							>S&amp;K Umum</a
						></span
					><span class="c0">&nbsp;dan </span
					><span class="c0 c9"
						><a class="c16" href="https://mamikos.com/privacy"
							>Kebijakan Privasi Data</a
						></span
					><span class="c3 c0"
						>&nbsp;yang merupakan bagian yang tidak terpisahkan dari S&amp;K
						Turunan ini.</span
					>
				</p>
				<p class="c6"><span class="c3 c0"></span></p>
				<p class="c13">
					<span class="c3 c0"
						>S&amp;K Turunan ini berlaku sebagaimana mestinya dan wajib
						diperhatikan oleh Anda sebelum menggunakan Booking Langsung.</span
					>
				</p>
				<p class="c6"><span class="c2"></span></p>
				<p class="c7 c14">
					<span class="c2">A. Definisi</span>
				</p>
				<p class="c7">
					<span class="c3 c0"
						>Sebagaimana yang digunakan dalam S&amp;K Turunan ini,
						istilah-istilah berikut memiliki artinya masing-masing sebagaimana
						yang dijelaskan di bawah:</span
					>
				</p>
				<ol class="c11 lst-kix_y44br7y7d0ji-0 start" start="1">
					<li class="c5">
						<span class="c4">Biaya Administrasi Booking Langsung </span
						><span class="c0">atau</span
						><span class="c4">&nbsp;Biaya Administrasi </span
						><span class="c0"
							>berarti biaya tambahan yang ditagihkan oleh Kami pada tagihan </span
						><span class="c0 c1">Tenant</span><span class="c3 c0">. </span>
					</li>
					<li class="c5">
						<span class="c4">Biaya Layanan</span
						><span class="c0"
							>&nbsp;berarti biaya layanan untuk transaksi yang besarnya sesuai
							pada kebijakan Kami dan akan Kami dipotong langsung dari transaksi
							yang Kami terima.</span
						>
					</li>
					<li class="c5">
						<span class="c4">Booking Langsung </span
						><span class="c0"
							>berarti fitur yang Kami sediakan pada situs web (</span
						><span class="c0 c1">website</span
						><span class="c0"
							>) Mamikos.com atau aplikasi Mamikos yang memungkinkan </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;dapat memesan terlebih dahulu (</span
						><span class="c0 c1">booking</span
						><span class="c0">) dan melakukan pembayaran kepada </span
						><span class="c0 c1">Owner</span
						><span class="c3 c0">&nbsp;melalui MamiPAY.</span>
					</li>
					<li class="c5">
						<span class="c4">Deposit</span
						><span class="c0">&nbsp;berarti uang yang dijaminkan oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;ketika Kontrak dibuat dan ditagihkan pada transaksi
							pertama. Deposit akan dikembalikan sesuai kesepakatan antara </span
						><span class="c0 c1">Tenant</span><span class="c0">&nbsp;dan </span
						><span class="c0 c1">Owner</span
						><span class="c3 c0"
							>&nbsp;pada saat jangka waktu Kontrak berakhir.</span
						>
					</li>
					<li class="c5">
						<span class="c4">Harga Sewa</span
						><span class="c0">&nbsp;berarti biaya yang dibebankan kepada </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;yang yang di dalamnya terdapat komponen: i) pembayaran utuh
							(</span
						><span class="c0 c1">full payment</span
						><span class="c0">), atau ii) &nbsp;pembayaran di muka (</span
						><span class="c0 c1">down payment</span
						><span class="c0"
							>&nbsp;atau DP) dan pembayaran pelunasan dibayarkan sesuai dengan
							Hitungan Sewa yang disepakati antara </span
						><span class="c0 c1">Tenant</span><span class="c0">&nbsp;dan</span
						><span class="c0 c1">&nbsp;Owner</span><span class="c3 c0">.</span>
					</li>
					<li class="c5">
						<span class="c4">Hitungan Sewa</span
						><span class="c0"
							>&nbsp;berarti jangka waktu yang digunakan untuk mengirimkan
							tagihan Transaksi sesuai kesepakatan antara </span
						><span class="c0 c1">Tenant</span><span class="c0">&nbsp;dan </span
						><span class="c0 c1">Owner</span><span class="c0 c3">. </span>
					</li>
					<li class="c5">
						<span class="c4">Jadwal Pembayaran</span
						><span class="c0">&nbsp;adalah tanggal-tanggal dimana </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;memiliki kewajiban untuk menyelesaikan transaksi tagihan
							sesuai Nominal Tagihan.</span
						>
					</li>
					<li class="c5">
						<span class="c4">Jangka Waktu Kontrak</span
						><span class="c3 c0"
							>&nbsp;berarti jumlah waktu dalam &nbsp;hari/minggu/bulan/tahun
							atas tanggal Kontrak dimulai hingga tanggal Kontrak selesai.
						</span>
					</li>
					<li class="c5">
						<span class="c4">Kontrak</span
						><span class="c0">&nbsp;berarti kesepakatan sewa antara </span
						><span class="c0 c1">Owner</span><span class="c0">&nbsp;dan </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0">&nbsp;yang dikelola melalui Sistem.</span>
					</li>
					<li class="c5">
						<span class="c4">MamiPAY </span
						><span class="c0">berarti sistem </span
						><span class="c0 c1">billing management </span
						><span class="c0">dan pembayaran pada </span
						><span class="c0 c1">platform</span
						><span class="c0">&nbsp;Kami melalui pilihan-pilihan </span
						><span class="c0 c1">payment gateway </span
						><span class="c0">(seperti bank, </span
						><span class="c0 c1">fintech</span><span class="c0">, </span
						><span class="c0 c1">merchant</span><span class="c0">)</span
						><span class="c0"
							>&nbsp;yang disediakan didalamnya dan dapat digunakan oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;untuk melakukan pembayaran Nominal Tagihan.
						</span>
					</li>
					<li class="c5">
						<span class="c4">Nominal Tagihan </span
						><span class="c0">berarti total biaya yang harus dibayarkan </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;pada setiap Transaksi yang timbul selama jangka waktu
							Kontrak. Nominal Tagihan terdiri dari Harga Sewa, Deposit (apabila
							ada), Biaya Tambahan Tetap (apabila ada), Biaya Tambahan Lainnya
							(apabila ada) dan Biaya Administrasi.</span
						>
					</li>
					<li class="c5">
						<span class="c4 c1">Owner</span><span class="c4">&nbsp;</span
						><span class="c0">atau </span><span class="c4">Pemilik </span
						><span class="c3 c0"
							>berarti pemilik dari properti Indekos (kos) yang namanya tertera
							pada surat kepemilikan properti sebagai pihak yang sah berdasarkan
							hukum atau pengelola yang memiliki hak pengelolaan atau kuasa
							untuk mengelola kos yang didaftarkan dan bisa dibuktikan secara
							hukum melalui suatu dokumen yang dianggap sah berdasarkan hukum di
							Indonesia.</span
						>
					</li>
					<li class="c5">
						<span class="c4">Rekening </span
						><span class="c0"
							>berarti rekening resmi atas nama Kami yang Kami gunakan untuk
							mengirimkan pembayaran dari </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;kepada </span
						><span class="c0 c1">Owner </span><span class="c0">atau nomor </span
						><span class="c0 c1">virtual account </span
						><span class="c0"
							>yang Kami sediakan secara resmi pada situs web (</span
						><span class="c0 c1">website</span
						><span class="c3 c0">) Mamikos.com atau aplikasi Mamikos.</span>
					</li>
					<li class="c5">
						<span class="c4">Sistem Kelola Tagihan</span
						><span class="c0">&nbsp;atau </span><span class="c4">Sistem </span
						><span class="c0"
							>berarti sistem yang berfungsi untuk mengelola tagihan </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>, Booking Langsung dan laporan transaksi untuk </span
						><span class="c0">Owner</span
						><span class="c0">&nbsp;selama menggunakan situs web (</span
						><span class="c0 c1">website</span
						><span class="c3 c0">) Mamikos.com atau aplikasi Mamikos.</span>
					</li>
					<li class="c5">
						<span class="c4">Tagihan</span
						><span class="c0">&nbsp;berarti resi yang dikirimkan kepada </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;yang wajib dibayar oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0">&nbsp;sebelum Kontrak disepakati. </span>
					</li>
					<li class="c5">
						<span class="c4">Tambahan Biaya Lainnya </span
						><span class="c0"
							>berarti biaya tambahan atas layanan tertentu dan dibebankan
							kepada </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;di luar Harga Sewa dan Tambahan Biaya Tetap. Tambahan Biaya
							Lainnya ini akan ditagihkan secara tidak rutin (insidental dan
							diatur oleh </span
						><span class="c0 c1">Owner</span><span class="c3 c0">).</span>
					</li>
					<li class="c5">
						<span class="c4">Tambahan Biaya Tetap </span
						><span class="c0"
							>berarti biaya tambahan atas layanan tertentu dan dibebankan
							kepada </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;di luar Harga Sewa. Tambahan Biaya Tetap tetap ditagihkan
							secara rutin di setiap Transaksi dan diatur oleh</span
						><span class="c0 c1">&nbsp;Owner</span><span class="c0">.</span>
					</li>
					<li class="c5">
						<span class="c4 c1">Tenant</span><span class="c0">&nbsp;atau </span
						><span class="c4">Penyewa </span><span class="c0">atau </span
						><span class="c4">Penghuni</span><span class="c4">&nbsp;</span
						><span class="c3 c0"
							>berarti calon atau penghuni kos yang menggunakan fitur Booking
							Langsung.
						</span>
					</li>
					<li class="c5">
						<span class="c4">Transaksi </span
						><span class="c0"
							>berarti aktivitas sewa dan pembayaran secara daring (dalam
							jaringan) ataupun manual yang dilakukan oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;kepada </span
						><span class="c0 c1">Owner</span
						><span class="c0">&nbsp;melalui Sistem.</span>
					</li>
				</ol>
				<p class="c8">
					<span class="c3 c0"
						>Istilah-istilah yang menggunakan huruf besar yang didefinisikan dan
						digunakan dalam S&amp;K Turunan ini berlaku secara sama untuk kedua
						bentuk tunggal atau jamak dari istilah yang didefinisikan tersebut.
						Apabila konteksnya mungkin mempersyaratkan, setiap kata ganti benda
						mencakup bentuk maskulin, feminin dan netralnya. Kata-kata
						&ldquo;mencakup&rdquo; dan &rdquo;meliputi&rdquo; dianggap diikuti
						oleh frasa &ldquo;tanpa pembatasan&rdquo;.</span
					>
				</p>
				<p class="c6"><span class="c3 c0"></span></p>
				<p class="c8 c18">
					<span class="c4"
						>B. </span
					><span class="c4">Hak dan Kewajiban </span
					><span class="c4 c1">Owner</span>
				</p>
				<p class="c8">
					<span class="c0">Hak </span><span class="c0 c1">Owner </span
					><span class="c3 c0"
						>selama menggunakan Booking Langsung antara lain:
					</span>
				</p>
				<ol class="c11 lst-kix_5mrgu688c5gz-0 start" start="1">
					<li class="c5">
						<span class="c3 c0"
							>Dapat menggunakan fitur MamiPAY secara otomatis dengan melakukan
							aktivasi fitur Booking Langsung.
						</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Aktivasi fitur Booking Langsung pada kos yang baru dibuat, </span
						><span class="c3 c0"
							>akan otomatis mengaktifkan fitur Booking Langsung pada kos lain
							yang belum aktif.</span
						>
					</li>
					<li class="c5">
						<span class="c3 c0">Mendapatkan dukungan teknis dari Kami.</span>
					</li>
					<li class="c5">
						<span class="c3 c0">Menerima informasi status Transaksi. </span>
					</li>
					<li class="c5">
						<span class="c3 c0">Menerima informasi status Kontrak. </span>
					</li>
					<li class="c5">
						<span class="c3 c0"
							>Menerima informasi status pengiriman dana dari Kami.</span
						>
					</li>
					<li class="c5">
						<span class="c0"
							>Menerima pencairan dana Transaksi ke dalam rekening yang
							didaftarkan dalam waktu sebagaimana diatur dalam </span
						><span class="c4">butir C</span
						><span class="c0"
							>&nbsp;di bawah sejak Kami terima dan konfirmasi.</span
						>
					</li>
				</ol>
				<p class="c8">
					<span class="c0">Kewajiban </span><span class="c0 c1">Owner</span
					><span class="c3 c0"
						>&nbsp;selama menggunakan Booking Langsung antara lain:
					</span>
				</p>
				<ol class="c11 lst-kix_5lopwjg46lpb-0 start" start="1">
					<li class="c5">
						<span class="c3 c0"
							>Bersedia untuk melakukan seluruh Transaksi pembayaran melalui
							Sistem, Kami menganggap setiap Transaksi yang dilakukan di luar
							Sistem sebagai tindakan ilegal dan oleh karenanya akan
							mengakibatkan dimatikannya fitur Booking Langsung ataupun tindakan
							lain yang Kami anggap perlu.</span
						>
					</li>
					<li class="c5">
						<span class="c0">Memasukkan Kontrak </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;yang memiliki tanggal mulai huni setelah aktivasi fitur ke
							dalam Sistem. Kami berhak untuk menggunakan properti kamar yang
							didaftarkan oleh </span
						><span class="c0 c1">Owner</span
						><span class="c0">&nbsp;meskipun </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;telah menghuni unit kamar tersebut tanpa pengembalian dana
							apabila ditemukan Transaksi yang dilakukan diluar Sistem.
						</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Memberikan hak atas penggunaan atas unit kamar sesuai tipe dan
							fasilitas yang tertera pada iklan properti pada </span
						><span class="c0 c1">platform</span><span class="c3 c0">. </span>
					</li>
					<li class="c5">
						<span class="c3 c0"
							>Memberikan deskripsi dan data ketersediaan unit kamar secara
							benar, terkini dan sesuai keadaan sesungguhnya.
						</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Tidak melakukan penagihan pembayaran diluar Tagihan yang tercatat
							pada Sistem kepada Kami kepada </span
						><span class="c0 c1">Tenant</span><span class="c3 c0">. </span>
					</li>
					<li class="c5">
						<span class="c0"
							>Menjamin kepastian harga dan menyatakan harga yang berlaku adalah
							harga sebagaimana tertuang pada iklan properti pada </span
						><span class="c0 c1">platform</span><span class="c3 c0">.</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Melakukan upaya dan imbauan dengan usaha terbaiknya kepada </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;eksisting untuk melakukan pembayaran tagihan bulanan
							melalui </span
						><span class="c0 c1">platform</span
						><span class="c0"
							>&nbsp;Kami dan tidak menerima pembayaran dari </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;di luar </span
						><span class="c0 c1">platform</span
						><span class="c3 c0">&nbsp;Kami. </span>
					</li>
					<li class="c5">
						<span class="c0"
							>Menyelesaikan segala permasalahan, sengketa, perbedaan pendapat
							(&ldquo;Perselisihan&rdquo;) termasuk namun tidak terbatas terkait
							permintaan pengembalian atau </span
						><span class="c0 c1">refund</span
						><span class="c0"
							>, perbaikan atau peningkatan fasilitas kos yang terjadi antara
							Anda dengan </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;dengan baik dan membebaskan Kami dari segala tuntutan,
							permintaan ganti kerugian dalam bentuk apapun atas perselisihan
							yang timbul.</span
						>
					</li>
					<li class="c5">
						<span class="c0"
							>Dalam hal terjadi permintaan pengembalian dana ataupun pembatalan
							oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c0">&nbsp;setelah Kami melakukan </span
						><span class="c0 c1">disbursement </span
						><span class="c0">pembayaran kepada </span
						><span class="c0">Anda</span><span class="c0">&nbsp;atau </span
						><span class="c0 c1">Tenant </span
						><span class="c0">telah melakukan </span
						><span class="c0 c1">check in</span
						><span class="c0"
							>, maka Anda wajib untuk segera menyelesaikan permasalahan
							tersebut secara langsung dengan </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>. Kami tidak bertanggung jawab atas penggantian dalam bentuk
							apapun akibat pembatalan tersebut namun demikian Kami berdasarkan
							kebijaksanaan Kami dapat menawarkan bantuan komunikasi
							penyelesaian antara </span
						><span class="c0 c1">Owner</span><span class="c0">&nbsp;dan </span
						><span class="c0 c1">Tenant</span><span class="c0">.</span
						><span class="c0"><br /></span>
					</li>
				</ol>
				<br />
				<p class="c13">
					<span class="c4">C. </span
					><span class="c4">Biaya Transaksi Dan Pembayaran Tagihan</span>
				</p>
				<ol class="c11 lst-kix_2abk43hdeozy-0 start" start="1">
					<li class="c5">
						<span class="c0 c1">Owner</span
						><span class="c0"
							>&nbsp;dilarang untuk meminta atau memerintahkan </span
						><span class="c0 c1">Tenant</span
						><span class="c0"
							>&nbsp;dengan cara apapun untuk melakukan pembayaran diluar metode
							pembayaran pada Sistem. Kami tidak bertanggung jawab terhadap
							Transaksi diluar Sistem dan tetap berhak untuk menggunakan unit
							kamar yang didaftarkan oleh </span
						><span class="c0 c1">Owner</span
						><span class="c3 c0"
							>&nbsp;atau mengambil langkah-langkah yang kami perlukan
							berdasarkan diskresi Kami.</span
						>
					</li>
					<li class="c5">
						<span class="c0 c1">Owner</span
						><span class="c0"
							>&nbsp;dapat melihat status pembayaran dari setiap Transaksi pada </span
						><span class="c0 c1">platform</span
						><span class="c3 c0">&nbsp;ini.</span>
					</li>
					<li class="c5">
						<span class="c0">Kami akan meneruskan pembayaran </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>&nbsp;kepada Anda dengan ketentuan sebagai berikut:
						</span>
					</li>
				</ol>
				<ul class="c11 lst-kix_mgqtu4l2qpvm-0 start">
					<li class="c13 c15">
						<span class="c0">Pembayaran untuk Tagihan pertama </span
						><span class="c0 c1">Tenant </span
						><span class="c0">dilakukan maksimal 1x24 jam setelah </span
						><span class="c0 c1">Tenant </span><span class="c0">melakukan </span
						><span class="c0 c1">check in</span
						><span class="c0">&nbsp;pada aplikasi Mamikos. Lebih lanjut </span
						><span class="c0 c1">Owner </span
						><span class="c0">diwajibkan untuk melanjutkan proses </span
						><span class="c0 c1">assign room</span
						><span class="c3 c0"
							>&nbsp;pada aplikasi Mamikos agar Kami dapat meneruskan pembayaran
							tersebut.</span
						>
					</li>
					<li class="c13 c15">
						<span class="c0"
							>Pembayaran untuk Tagihan bulan selanjutnya atau Transaksi
							berulang (</span
						><span class="c0 c1">recurring Transaction</span
						><span class="c0">) dilakukan maksimal</span
						><span class="c3 c0">&nbsp;1x24 jam. </span>
					</li>
					<li class="c13 c15">
						<span class="c0"
							>Apabila hari pembayaran jatuh pada hari libur yang ditetapkan
							oleh pemerintah maka Kami akan meneruskan pembayaran tersebut pada
							hari kerja berikutnya.
						</span>
					</li>
				</ul>
				<ol class="c11 lst-kix_2abk43hdeozy-0" start="4">
					<li class="c5">
						<span class="c3 c0"
							>Kami hanya akan meneruskan pembayaran ke Rekening yang Anda
							daftarkan di Kami. Dalam hal terdapat kegagalan transfer
							dikarenakan informasi Rekening yang Anda berikan tidak tepat,
							tidak sesuai maupun terjadinya kesalahan input atas informasi
							Rekening yang Anda daftarkan di Kami maka, Anda memahami bahwa hal
							ini sepenuhnya adalah bukan kesalahan Kami dan oleh karenanya Anda
							tidak dapat mengajukan tuntutan, klaim, gugatan, permohonan ganti
							rugi, kompensasi atau permintaan apapun dan kapanpun kepada Kami
							terhadap kesalahan tersebut.
						</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Anda akan dikenakan Biaya Layanan atas fitur Booking Langsung
							sebesar 7% (tujuh persen) dari pembayaran pertama Transaksi oleh </span
						><span class="c0 c1">Tenant</span
						><span class="c3 c0"
							>. Lebih lanjut Biaya Tambahan Lainnya dalam hal ini tidak akan
							dikenakan Biaya Layanan.</span
						>
					</li>
				</ol>
				<p class="c6"><span class="c3 c0"></span></p>
				<p class="c13">
					<span class="c2"
						>D. Penghentian Sementara Layanan Booking Langsung</span
					>
				</p>
				<p class="c7">
					<span class="c3 c0"
						>Penghentian layanan fitur Booking Langsung dapat disebabkan oleh
						alasan-alasan sebagai berikut:</span
					>
				</p>
				<ol class="c11 lst-kix_w5gtp68iacj-0 start" start="1">
					<li class="c5">
						<span class="c3 c0"
							>Adanya inspeksi, perbaikan, pemeliharaan, dan/atau peningkatan
							sistem. Kami akan memberitahukan sebelumnya kepada Anda dengan
							memberikan notifikasi melalui aplikasi, tertulis, atau
							lainnya.</span
						>
					</li>
					<li class="c5">
						<span class="c0"
							>Adanya alasan tertentu untuk melindungi hak-hak dan/atau
							kepentingan </span
						><span class="c0 c1">Tenant</span><span class="c0">, </span
						><span class="c0 c1">Owner</span
						><span class="c3 c0">, dan/atau Kami.</span>
					</li>
					<li class="c5">
						<span class="c3 c0"
							>Apabila terdapat gangguan tiba-tiba terhadap fitur Booking
							Langsung dan/atau Sistem, Kami akan memberikan notifikasi melalui
							aplikasi, tertulis, atau lainnya.</span
						>
					</li>
				</ol>
				<p class="c6"><span class="c3 c0"></span></p>
				<p class="c13">
					<span class="c2">E. Keamanan dan Perlindungan Informasi</span>
				</p>
				<p class="c7">
					<span class="c0"
						>Kami sangat menghargai kerahasiaan atas data dan informasi Anda dan
						oleh karenanya Kami beritikad baik untuk memberikan usaha terbaik
						Kami dalam mematuhi peraturan maupun persyaratan perlindungan data
						yang relevan. Lebih lanjut Anda dapat mempelajari ketentuan
						penggunaan data dan informasi pribadi anda secara terpisah yang
						merupakan bagian dari S&amp;K Turunan ini pada bagian </span
					><span class="c9 c0"
						><a class="c16" href="https://mamikos.com/privacy"
							>Kebijakan Privasi Data</a
						></span
					><span class="c3 c0">.</span>
				</p>
				<p class="c6"><span class="c2"></span></p>
				<p class="c13"><span class="c2">F. Hak Kami</span></p>
				<p class="c8">
					<span class="c0"
						>Kami atas pertimbahan terbaik menurut Kami dan/atau alasan lainnya
						yang wajar dalam rangka melaksanakan kewajiban Kami sehubungan
						dengan penerapan prinsip </span
					><span class="c0 c1">Know Your Customer</span
					><span class="c0"
						>, prinsip kehati-hatian, dan prinsip bisnis lainnya yang bertujuan
						untuk menjaga Kami terhadap Transaksi yang patut dianggap
						mencurigakan, tidak sesuai dengan hukum dan peraturan
						perundang-undang serta potensi terjadinya pelanggaran (</span
					><span class="c0 c1">fraud</span
					><span class="c3 c0"
						>) dapat berhak untuk melakukan upaya-upaya sebagai berikut:
					</span>
				</p>
				<ol class="c11 lst-kix_g3fu6p9o23iv-0 start" start="1">
					<li class="c5">
						<span class="c3 c0"
							>Meminta data ataupun informasi tambahan atau melakukan verifikasi
							lebih lanjut kepada Anda maupun pihak ketiga lainnya untuk
							memvalidasi dan mengkonfirmasi Transaksi yang terjadi dalam
							kondisi-kondisi tertentu;</span
						>
					</li>
					<li class="c5">
						<span class="c0"
							>Menahan pembayaran Kami kepada Anda dalam hal patut untuk
							dicurigai dan terbukti berdasarkan data dan pertimbangan Kami
							bahwa terjadinya pelanggaran (</span
						><span class="c0 c1">noncompliance</span
						><span class="c0">) maupun kecurangan (</span
						><span class="c0 c1">fraud</span
						><span class="c0">) Transaksi pada </span
						><span class="c0 c1">platform </span><span class="c0">Kami</span
						><span class="c3 c0">;</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Tidak meneruskan pembayaran yang Kami terima kepada Anda dalam
							hal patut untuk dicurigai dan terbukti berdasarkan data dan
							pertimbangan Kami bahwa terjadinya pelanggaran (</span
						><span class="c0 c1">noncompliance</span
						><span class="c0">) maupun kecurangan (</span
						><span class="c0 c1">fraud</span
						><span class="c0">) Transaksi pada </span
						><span class="c0 c1">platform</span
						><span class="c3 c0"
							>&nbsp;Kami. Selanjutnya pembayaran yang Kami terima dapat Kami
							kembalikan kepada pihak yang melakukan pembayaran;
						</span>
					</li>
					<li class="c5">
						<span class="c0"
							>Memberikan teguran kepada Anda terhadap terjadinya pelanggaran
							(</span
						><span class="c0 c1">noncompliance</span
						><span class="c0">) maupun kecurangan (</span
						><span class="c0 c1">fraud)</span><span class="c3 c0">; </span>
					</li>
					<li class="c5">
						<span class="c0">Menonaktifkan </span
						><span class="c0 c1">listing</span
						><span class="c0"
							>&nbsp;properti Anda, akun Anda untuk jangka waktu tertentu
							ataupun selamanya pada </span
						><span class="c0 c1">platform</span
						><span class="c3 c0">&nbsp; Kami; </span>
					</li>
					<li class="c5">
						<span class="c0"
							>Memasukkan Anda pada daftar hitam Kami atas terjadinya
							pelanggaran (</span
						><span class="c0 c1">noncompliance</span
						><span class="c0">) maupun kecurangan (</span
						><span class="c0 c1">fraud</span
						><span class="c0">) dan menolak semua permintaan </span
						><span class="c0 c1">listing</span
						><span class="c3 c0"
							>&nbsp;yang Anda ajukan di kemudian hari; dan/atau</span
						>
					</li>
					<li class="c5">
						<span class="c0"
							>Melakukan upaya hukum baik secara perdata maupun pidana terhadap
							setiap pelanggaran (</span
						><span class="c0 c1">noncompliance</span
						><span class="c0">) maupun kecurangan (</span
						><span class="c0 c1">fraud)</span
						><span class="c3 c0">&nbsp;yang terjadi.</span>
					</li>
				</ol>
				<p class="c6"><span class="c2"></span></p>
				<p class="c13"><span class="c2">G. Pembaruan </span></p>
				<p class="c7">
					<span class="c0"
						>S&amp;K Turunan ini mungkin diubah dan/atau diperbaharui dari waktu
						ke waktu tanpa pemberitahuan sebelumnya. Kami menyarankan untuk
						membaca secara seksama dan memeriksa kembali laman S&amp;K ini dari
						waktu ke waktu untuk mengetahui perubahan apapun, dengan tetap
						mengakses dan menggunakan </span
					><span class="c0 c1">platform</span
					><span class="c3 c0"
						>, maka Anda dianggap menyetujui perubahan-perubahan dalam S&amp;K
						Turunan yang ada. Anda memahami bahwa versi terbaru dari S&amp;K
						Turunan ini akan menggantikan semua versi sebelumnya.</span
					>
				</p>
				<p class="c7">
					<span class="c3 c0"
						>Kami dapat menyediakan tautan ke situs ataupun aplikasi lain yang
						dikelola oleh pihak lain, dan dengan mengklik tautan tersebut Anda
						dengan menyatakan, mengakui, dan menyetujui bahwa tindakan tersebut
						adalah tindakan sukarela Anda untuk melihat atau memasuki situs lain
						yang tidak diawasi atau ditanggung oleh Kami.</span
					>
				</p>
				<p class="c6"><span class="c2"></span></p>
				<p class="c13"><span class="c2">H. Lain-lain</span></p>
				<p class="c7">
					<span class="c3 c0"
						>Tidak sahnya atau tidak dapat dilaksanakannya suatu ketentuan atau
						suatu bagian dari suatu ketentuan dalam S&amp;K Turunan ini tidak
						mempengaruhi keabsahan bagian-bagian lain dari ketentuan yang tidak
						sah tersebut serta keabsahan ketentuan-ketentuan lain dari S&amp;K
						Turunan ini.</span
					>
				</p>
				<p class="c7"><span class="c3 c0">&nbsp;</span></p>
				<p class="c7">
					<span class="c3 c0"
						>Judul pasal/butir dalam S&amp;K Turunan ini berdasarkan
						pertimbangan praktis saja dan tidak dapat dipergunakan untuk
						menafsirkan isi dari pasal/butir dalam S&amp;K ini.</span
					>
				</p>
				<p class="c13"><span class="c3 c0">&nbsp;</span></p>
				<p class="c13">
					<span class="c4">I. </span><span class="c0">&nbsp;</span
					><span class="c2">Kontak Kami</span>
				</p>
				<p class="c7">
					<span class="c0"
						>Lebih lanjut apabila Anda mengalami permasalahan ataupun sekedar
						ingin mengajukan pertanyaan, Anda dapat melakukan kontak dengan Kami
						pada: <br />Email
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span
					><span class="c9 c0"
						><a class="c16" href="mailto:cs@mamikos.com"
							>cs@mamikos.com</a
						></span
					><span class="c3 c0">&nbsp;</span>
				</p>
				<p class="c7">
					<span class="c0"
						>Whatsapp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
						0859-3022-9138 &amp; 0857-2567-6911</span
					>
				</p>
				<p class="c6"><span class="c3 c0"></span></p>
				<p class="c13">
					<span class="c3 c0"
						>Diperbaharui pada tanggal 24 &nbsp;September 2020</span
					>
				</p>
				<p class="c13">
					<span class="c0 c1">&copy;</span
					><span class="c3 c0">&nbsp;Mamikos.com</span>
				</p>
				<p class="c10"><span class="c3 c0"></span></p>
			</div>
			<div id="gotLastScroll"></div>
		</div>
	</div>
</template>

<script>
export default {
	mounted() {
		this.$refs.textareaPrivacyPolicy.addEventListener('scroll', e => {
			const elem = document.querySelector('#gotLastScroll');

			if (this.isInViewport(elem)) {
				this.$emit('progressReading', true);
			}
		});
	},

	methods: {
		isInViewport(elem) {
			let bounding = elem.getBoundingClientRect();

			return (
				bounding.top >= 0 &&
				bounding.left >= 0 &&
				bounding.bottom <=
					(window.innerHeight || document.documentElement.clientHeight) &&
				bounding.right <=
					(window.innerWidth || document.documentElement.clientWidth)
			);
		}
	}
};
</script>

<style scoped>
.wrapper-term {
	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 1.75;
	color: #383746;
	margin-top: 3rem;
	padding: 1rem;
	height: 100px;
}

.textarea-term {
	max-width: 768px;
	text-align: justify;
	height: 70vh;
	max-height: 200px;
	overflow-y: scroll;
	background-color: #f4f2f3;
	border: none;
	padding: 10px 80px;
	font-size: 12px;
	margin: 0 auto 15px;
}

.textarea-term .header {
	font-size: 14px;
	font-weight: bold;
	color: #1baa56;
}

.textarea-term > h1 {
	margin: 0;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 1rem;
}

.textarea-term > ul {
	padding-left: 1rem;
}

.textarea-term > ul > ul {
	padding-left: 1rem;
}

.zero-bottom {
	margin-bottom: 0;
}

.distance {
	margin-bottom: 2rem !important;
}

.textarea-term::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f4f2f3;
	visibility: hidden;
}

.textarea-term::-webkit-scrollbar {
	width: 10px;
	background-color: #f4f2f3;
	visibility: hidden;
}

.textarea-term::-webkit-scrollbar-thumb {
	height: 10px;
	border-radius: 10px;
	background-color: #999999;
}
ol {
	margin: 0;
	padding: 0;
}
table td,
table th {
	padding: 0;
}
.c5 {
	margin-left: 36pt;
	padding-top: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: justify;
}
.c7 {
	margin-left: 18pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: justify;
}
.c10 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 11pt;
}
.c8 {
	margin-left: 13.5pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: justify;
}
.c6 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: justify;
	height: 11pt;
}
.c2 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: 'Lato';
	font-style: normal;
}
.c13 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: justify;
}
.c19 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: center;
}
.c3 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-style: normal;
}
.c12 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
}
.c9 {
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}
.c17 {
	background-color: #ffffff;
	max-width: 468pt;
	padding: 40.5pt 72pt 45pt 72pt;
}
.c16 {
	color: inherit;
	text-decoration: inherit;
}
.c4 {
	font-weight: 700;
	font-family: 'Lato';
}
.c15 {
	margin-left: 54pt;
	padding-left: 0pt;
}
.c11 {
	padding: 0;
	margin: 0;
}
.c0 {
	font-weight: 400;
	font-family: 'Lato';
}
.c18 {
	text-indent: -13.5pt;
}
.c1 {
	font-style: italic;
}
.c14 {
	text-indent: -18pt;
}
.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
li {
	color: #000000;
	font-size: 11pt;
	font-family: 'Arial';
}
p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: 'Arial';
}
h1 {
	padding-top: 20pt;
	color: #000000;
	font-size: 20pt;
	padding-bottom: 6pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
h2 {
	padding-top: 18pt;
	color: #000000;
	font-size: 16pt;
	padding-bottom: 6pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
h3 {
	padding-top: 16pt;
	color: #434343;
	font-size: 14pt;
	padding-bottom: 4pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
h4 {
	padding-top: 14pt;
	color: #666666;
	font-size: 12pt;
	padding-bottom: 4pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
h5 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left;
}
h6 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: 'Arial';
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left;
}
</style>
