<template>
	<modal
		id="ManageProfileModalStopRent"
		ref="manageProfileModalStopRent"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="false"
		@closed="onModalClosedOrCancel"
		@cancel="onModalClosedOrCancel"
	>
		<div
			v-if="navigator.isMobile"
			ref="modalHeader"
			slot="modal-header"
			class="modal-header"
		>
			<div class="modal-nav">
				<img
					src="/general/img/icons/ic_arrow-left_alt_black.svg"
					alt="icon arrow left"
					class="icon-arrow-left"
					@click="onModalClosedOrCancel"
				/>
			</div>
		</div>
		<div ref="wrapperContainer" class="container">
			<div class="row">
				<div class="col-sm-6 wrapper-reason hidden-xs">
					<h2>Mohon masukkan alasan menghentikan sewa</h2>
					<p>
						Penyewa akan diberi tahu alasan pemberhentian sewa dan tagihan baru
						tidak akan di kirim kembali kepada penyewa
					</p>
				</div>
				<div class="col-sm-6 col-xs-12 wrapper-reason">
					<h1 ref="wrapperTitle" class="wrapper-title visible-xs">
						Hentikan Sewa
					</h1>
					<h2 class="visible-xs">
						Mohon masukkan alasan menghentikan sewa
					</h2>
					<p class="visible-xs">
						Penyewa akan diberi tahu alasan pemberhentian sewa dan tagihan baru
						tidak akan di kirim kembali kepada penyewa
					</p>

					<span class="title-list-reason title-input hidden-xs"
						>Alasan hentikan sewa</span
					>

					<ul class="wrapper-list-reason">
						<li v-for="(reason, i) in reasonLists" :key="i">
							<mami-radio
								v-model="reasonRadioValue"
								:selected-value="reason"
								type="success"
								><span class="label-list">{{ reason }}</span></mami-radio
							>
						</li>
						<li>
							<mami-radio
								v-model="reasonRadioValue"
								:selected-value="'other'"
								type="success"
								><span class="label-list">Lainnya</span></mami-radio
							>
						</li>
					</ul>

					<div
						v-if="reasonRadioValue === 'other'"
						class="row wrapper-input-area"
					>
						<div class="col-xs-12">
							<span class="title-input">Alasan lain</span>
						</div>
						<div class="col-xs-12">
							<textarea
								v-model="otherReason"
								maxlength="100"
								class="form-control --is-custom-text-area"
								placeholder="Masukkan alasan lainnya di sini"
								:rows="navigator.isMobile ? 1 : 2"
							></textarea>
							<span class="indicator-reason-text-style"
								>{{ reasonTextCount }}/100</span
							>
						</div>
					</div>

					<div class="row wrapper-input-area">
						<div class="col-xs-12">
							<span class="title-input">Kapan penyewa berhenti sewa kos?</span>
						</div>
						<div class="col-xs-12">
							<user-kost-stop-rent-date
								class="stop-rent__date-picker"
								title="Pilih Tanggal Berhenti Sewa"
								caption="Tanggal yang Anda pilih adalah tanggal di mana penyewa akan meninggalkan kos."
								:checkout-date="dateSelected"
								:disabled-dates="checkoutDisabledDates"
								@select="selectDate"
							/>
						</div>
						<div class="col-xs-12">
							<mami-button
								color="primary"
								block
								size="large"
								class="btn-submit-termination"
								:disabled="isButtonSubmitNotValid"
								@click="submitAllData"
							>
								Konfirmasi Pemberhentian Sewa
							</mami-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</modal>
</template>

<script>
import _get from 'lodash/get';
import { modal } from 'vue-strap';
import MamiRadio from 'Js/@components/mami-components/MamiRadio';
import MamiButton from 'Js/@components/mami-components/MamiButton';
import UserKostStopRentDate from 'Js/_user/components/user-kost/UserKostStopRentDate';

import EventBus from '../event-bus/event-bus';

const initialState = () => {
	return {
		showModal: false,
		reasonRadioValue: '',
		otherReason: '',
		dateSelected: '',
		isDisabledBtnSubmit: false,
		contractId: '',
		tenantName: '',
		checkoutDateList: []
	};
};

export default {
	components: {
		modal,
		MamiRadio,
		MamiButton,
		UserKostStopRentDate
	},

	data() {
		return {
			...initialState(),
			reasonLists: [],
			priceLabel: {
				week: 'Mingguan',
				month: 'Bulanan',
				year: 'Tahunan',
				'3_month': '3 Bulanan',
				'6_month': '6 Bulanan'
			}
		};
	},

	computed: {
		reasonTextCount() {
			return this.otherReason.length;
		},
		isButtonSubmitNotValid() {
			return (
				!this.reasonRadioValue ||
				(this.reasonRadioValue === 'other' && !this.otherReason) ||
				!this.dateSelected ||
				!this.dateSelected ||
				this.isDisabledBtnSubmit
			);
		},
		terminateReason() {
			return this.reasonRadioValue === 'other'
				? this.otherReason
				: this.reasonRadioValue;
		},
		tenantProfile() {
			return _get(this.$store, 'state.tenantProfile.tenantProfile', {});
		},
		tenantBill() {
			return _get(this.$store, 'state.tenantProfile.tenantBill', {});
		},
		propertyData() {
			return _get(this.$store, 'state.userRoom', {});
		},
		checkoutDisabledDates() {
			const checkoutDisabledDates = {};
			const checkinDate = _get(this, 'tenantBill.checkInDate', '');
			const latestCheckoutDate =
				this.checkoutDateList.length > 0
					? this.checkoutDateList[this.checkoutDateList.length - 1].value
					: '';

			if (checkinDate) {
				checkoutDisabledDates.to = this.$dayjs(checkinDate).$d;
			}
			if (latestCheckoutDate) {
				checkoutDisabledDates.from = this.$dayjs(latestCheckoutDate).$d;
			}
			return checkoutDisabledDates;
		}
	},

	beforeDestroy() {
		document
			.querySelector('#ManageProfileModalStopRent .modal-content')
			.removeEventListener('scroll', this.setStickyModalTitle);
	},

	mounted() {
		this.getReasonList();
		this.listenEventModal();
		document
			.querySelector('#ManageProfileModalStopRent .modal-content')
			.addEventListener('scroll', this.setStickyModalTitle);
	},

	methods: {
		setStickyModalTitle() {
			const titleTopStickyPosition = 17;
			const wrapperTitle = this.$refs.wrapperTitle;

			if (!this.navigator.isMobile && !wrapperTitle) return;

			const titleFromTop = wrapperTitle.getBoundingClientRect().top;

			const type = titleFromTop <= titleTopStickyPosition ? 'add' : 'remove';
			wrapperTitle.classList[type]('--sticky-title');
		},

		onModalClosedOrCancel() {
			this.showModal = false;
			Object.assign(this.$data, initialState());
		},

		selectDate(date) {
			this.dateSelected = this.$dayjs(date).format('YYYY-MM-DD');
		},

		getReasonList() {
			axios
				.get('/contract/terminate-reason/owner', {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const dataResponse = response.data;
					if (dataResponse.status) {
						this.reasonLists = dataResponse.data;
					} else {
						EventBus.$emit('showModalError');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		},

		listenEventModal() {
			EventBus.$on('actionModalStopRent', payload => {
				this.showModal = payload.isOpenModal;
				this.contractId = payload.contractId;
				this.tenantName = payload.tenantName;
				this.checkoutDateList = payload.checkoutDateList;
			});
		},

		getTrackerFormattedData(date) {
			return date && this.$dayjs(date).isValid() ? new Date(date) : '';
		},

		sendTerminateContractSubmittedTracker(contractProfile, bill, property) {
			const rentCount = _get(bill, 'rentCount', '');
			const genderLabel =
				_get(contractProfile, 'gender') === 'female'
					? 'Perempuan'
					: 'Laki-Laki';

			const checkoutDate = this.getTrackerFormattedData(this.dateSelected);
			const tenantBirthday = this.getTrackerFormattedData(
				_get(contractProfile, 'birthday', '')
			);

			tracker('moe', [
				'[Owner] Hentikan Kontrak Sewa Submitted',
				{
					stop_reason: this.terminateReason,
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					tenant_gender: genderLabel,
					tenant_job: _get(contractProfile, 'work', ''),
					tenant_work_place: _get(contractProfile, 'workplace', ''),
					tenant_phone_number: _get(contractProfile, 'phoneNumber', ''),
					tenant_marital_status: _get(contractProfile, 'status', ''),
					requested_check_out_date: checkoutDate,
					tenant_birthday: tenantBirthday,
					property_city: _get(property, 'area_city'),
					property_subdistrict: _get(property, 'area_subdistrict'),
					tenant_name: _get(contractProfile, 'fullName', ''),
					booking_periode: _get(bill, 'rentPeriode', 0),
					property_rent_type: _get(this.priceLabel, rentCount, ''),
					property_name: _get(property, 'room_title'),
					property_rent_price: _get(bill, 'rentPrice', 0)
				}
			]);
		},

		submitAllData() {
			this.isDisabledBtnSubmit = true;
			this.openSwalLoading();

			const dataStopRent = {
				contract_id: this.contractId,
				reason: this.terminateReason,
				ended_date: this.dateSelected
			};

			axios
				.post('/contract/request/terminate', dataStopRent, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const dataResponse = response.data;
					if (dataResponse.status) {
						this.sendTerminateContractSubmittedTracker(
							this.tenantProfile,
							this.tenantBill,
							this.propertyData
						);
						this.$toasted.show(
							`Anda berhasil memberhentikan kontrak sewa ${this.tenantName}`,
							{
								theme: 'toasted-primary',
								position: 'bottom-left',
								duration: 5000
							}
						);

						setTimeout(() => {
							Object.assign(this.$data, initialState());
							this.closeSwalLoading();
							location.reload();
						}, 1000);
					} else {
						this.closeSwalLoading();
						this.$toasted.show(dataResponse.meta.message, {
							theme: 'toasted-primary',
							position: 'bottom-left',
							duration: 5000
						});
					}
					this.isDisabledBtnSubmit = false;
				})
				.catch(error => {
					this.closeSwalLoading();
					this.isDisabledBtnSubmit = false;
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		}
	}
};
</script>

<style lang="scss">
#ManageProfileModalStopRent {
	.modal-footer {
		display: none;
	}

	.modal-header {
		position: sticky;
		top: 0;
		background-color: #ffffff;
		z-index: 1;
		padding-right: calc((100% - 1058px) / 2);
		padding-left: calc((100% - 1058px) / 2);

		@media (max-width: 1074px) {
			padding-right: 16px;
			padding-left: 16px;
		}
	}

	.modal-dialog {
		width: 100%;
		margin: 0;
	}

	.modal-content {
		height: 100vh;
		border-radius: 0;
		overflow: auto;
	}

	.modal-body {
		padding: 0;
	}

	button {
		&.close {
			color: #2e2d39;
			opacity: 1;
			font-weight: 300;
			font-size: 3.3em;
		}
	}

	.mami-radio {
		.mami-radio-icon {
			background-color: #fff;
		}
	}

	.stop-rent__date-picker {
		h1 {
			margin: 0 0 8px;
			line-height: 32px;
		}

		p {
			margin: 0;
		}

		.stop-rent-calendar__caption {
			margin-bottom: 24px;
		}

		.stop-rent-date__label {
			display: none;
		}
	}

	@media (max-width: 767px) {
		.modal-header {
			padding: 18px;
			border: 0;
		}

		.stop-rent__date-picker {
			.stop-rent-calendar__title {
				width: 100%;
				text-align: left;

				h1 {
					margin-bottom: 24px;
					font-size: 20px;
					font-weight: 900;
					line-height: 28px;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
#ManageProfileModalStopRent {
	font-size: 14px;

	.container {
		max-width: 766px;
		padding: 36px 0 42px;
	}

	.title-input {
		display: block;
		margin-bottom: 4px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
	}

	.btn-submit-termination {
		margin-top: 24px;
	}

	.icon-arrow-left {
		cursor: pointer;
	}

	.wrapper-reason {
		h2 {
			margin: 0 0 20px;
			font-size: 36px;
			font-weight: bold;
			line-height: 54px;
			color: #000;
		}

		p {
			font-size: 24px;
			line-height: 36px;
			color: #2e2d39;
		}
	}

	ul.wrapper-list-reason {
		width: 100%;
		padding: 0;
		margin-top: 20px;

		li {
			padding: 12px 0 12px 8px;
			list-style: none;
			border-bottom: 1px solid #f4f4f4;

			.label-list {
				font-size: 16px;
				line-height: 24px;
				color: #404040;
			}
		}
	}

	.wrapper-input-area {
		margin-top: 24px;

		.indicator-reason-text-style {
			float: right;
			margin-top: 4px;
			font-size: 14px;
			line-height: 20px;
			color: #949494;
		}
		.--relative-area {
			position: relative;
		}

		.--is-custom-text-area {
			box-sizing: border-box;
			padding: 12px 16px;
			font-size: 16px;
			font-weight: normal;
			line-height: 24px;
			color: #404040;
			background: #fff;
			border: 1px solid #e8e8e8;
			border-radius: 4px;
			box-shadow: none;

			&::placeholder {
				color: #949494;
				opacity: 1;
			}
		}

		.--is-custom-date-input {
			padding: 0;
			border: none;
			border-bottom: 2px solid #dbdbdb;
			border-radius: 0;
			background: #ffff;
			box-shadow: none;
		}
	}

	@media (max-width: 767px) {
		.container {
			padding: 0 18px 18px;

			&.--on-stick {
				margin-top: 50px;
			}
		}

		.wrapper-reason {
			h1 {
				margin: 0;
				margin-bottom: 40px;
				font-size: 24px;
				font-weight: 900;
				line-height: 32px;
				color: #303030;
				transition: 0.2s;
				position: sticky;
				top: 16px;
				z-index: 1;

				&.--sticky-title {
					margin-left: 36px;
					font-size: 18px;
				}
			}

			h2 {
				margin-top: 0;
				margin-bottom: 12px;
				font-size: 20px;
				font-weight: 900;
				line-height: 28px;
				color: #000;
			}

			p {
				margin-bottom: 4px;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
</style>
