<template>
	<modal v-model="showModal" effect="zoom" @cancel="cancelModal">
		<div slot="modal-header" class="modal-header">
			<img
				v-lazy="
					'/general/img/pictures/mamipay/owner/booking_confirmation_owner.png'
				"
				alt="Booking Confirmation Illustration"
			/>
			<h3 class="text-center">Terima Booking, Kost Langsung Terisi!</h3>
			<p class="text-center">
				Informasi lebih lanjut silakan baca
				<a
					href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik"
					target="_blank"
					rel="noopener"
					@click="trackTnCClicked"
				>
					<u>disini</u>
				</a>
			</p>
		</div>

		<div slot="modal-body" class="modal-body">
			<manage-booking-privacy-policy
				v-if="renderComponent"
				@progressReading="isFinishReading = true"
			></manage-booking-privacy-policy>
			<div class="text-center box-term-condition">
				<checkbox
					v-if="isFinishReading"
					v-model="checked"
					:true-value="true"
					type="success"
				>
					<span class="term-text">
						Saya setuju
						<a
							target="_blank"
							rel="noopener"
							href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik"
							@click="trackTnCClicked"
						>
							<u>Syarat dan Ketentuan</u>
						</a>
						fitur Booking Langsung Mamikos.
					</span>
				</checkbox>
				<span v-else class="term-text">
					<b>Baca Syarat dan Ketentuan untuk melanjutkan.</b>
				</span>
			</div>
		</div>

		<div slot="modal-footer" class="modal-footer">
			<button
				type="button"
				class="btn btn-primary is-register custom-button button-register track-register-bbk-ownerpage"
				:disabled="!isFinishReading"
				@click="reqDaftarBooking"
			>
				Daftar
			</button>
			<button
				type="button"
				class="btn btn-default is-cancel custom-button"
				@click="cancelModal"
			>
				Kembali
			</button>
		</div>
	</modal>
</template>

<script>
import { modal, checkbox } from 'vue-strap';
import EventBus from '../event-bus/event-bus';

import ManageBookingPrivacyPolicy from './ManageBookingPrivacyPolicy';

export default {
	components: {
		modal,
		checkbox,
		ManageBookingPrivacyPolicy
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		}
	},

	data() {
		return {
			checked: false,
			isFinishReading: false,
			renderComponent: true
		};
	},

	methods: {
		backToFirstCondition() {
			this.isFinishReading = false;
			this.forceRerender();
		},

		forceRerender() {
			this.renderComponent = false;
			this.$nextTick(() => {
				this.renderComponent = true;
			});
		},

		cancelModal() {
			this.backToFirstCondition();
			EventBus.$emit('modalActiveBooking', false);
		},

		reqDaftarBooking() {
			if (this.checked == true) {
				this.$emit('reqDaftarBooking');
				this.backToFirstCondition();
			} else {
				this.$toasted.show('Klik Setuju terlebih dahulu', {
					type: 'info',
					className: 'toasted-default',
					theme: 'bubble',
					position: 'bottom-center',
					duration: 2000
				});
			}
		},

		trackTnCClicked() {
			tracker('moe', [
				'[Owner] Activation BBK - TnC Booking Clicked',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					owner_name: this.$store.state.authData.all.name
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.modal-header {
	border-bottom: none !important;
	padding: 0;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}

	h3 {
		font-size: 18px;
		color: #1baa56;
		font-weight: bold;
	}

	p {
		font-size: 14px;
		color: #2e2d39;

		a {
			color: #1baa56;
		}
	}
}

.modal-body {
	padding: 15px 0;

	form {
		font-size: 14px;
	}
}

.modal-footer {
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;

	.custom-button {
		width: 164px;
		height: 55px;
		&.button-register {
			box-shadow: 0px 10px 40px rgba(27, 170, 86, 0.25);
			margin-right: 2rem;
		}
	}

	.btn {
		.is-register {
			background: #1baa56;
			border: none;
			border-radius: 0;
			margin-left: 15px;
			padding: 7.5px 40px;
			color: #ffffff;
		}
		.is-cancel {
			border: 1px solid #dbdbdb;
			box-sizing: border-box;
			border-radius: 0;
			margin: 30px;
			padding: 7.5px 40px;
		}
	}
}

.box-term-condition {
	width: 352px;
	margin: 0 auto;
	margin-top: 3rem;

	label {
		.term-text {
			position: relative;
			top: -3px;
		}
	}
}
</style>
