<template>
	<bg-dropdown
		id="SelectFilterKos"
		v-model="isShowKosOptions"
		class="select-filter-kos"
	>
		<template #trigger>
			<bg-input
				placeholder="Pilih Kos"
				:value="selectedKosName"
				icon-right="dropdown-down"
				readonly
				class="select-filter-kos__input-trigger"
			/>
		</template>
		<bg-search-bar
			size="md"
			:value="keywordSearch"
			class="select-filter-kos__input-search"
			@input="onSearchInputChanged"
		/>
		<template v-if="isLoading">
			<bg-skeleton width="80%" height="40px" />
		</template>
		<template v-else-if="kosOptions && kosOptions.length">
			<bg-dropdown-item
				v-for="(kos, i) in kosOptions"
				:key="`${kos.id}-${i}`"
				:active="kos.id === selectedKosId"
				@click="pickKost(kos)"
			>
				{{ kos.room_title }}
			</bg-dropdown-item>
		</template>
		<bg-dropdown-item
			v-else
			key="select-filter-kos__empty"
			class="select-filter-kos__empty"
		>
			Kos tidak ditemukan
		</bg-dropdown-item>
	</bg-dropdown>
</template>

<script>
import {
	BgInput,
	BgDropdown,
	BgDropdownItem,
	BgSearchBar,
	BgSkeleton
} from 'bangul-vue';
import MixinMamipayBill from '../mixins/MixinMamipayBill';
import MixinMamipayBooking from '../mixins/MixinMamipayBooking';

import EventBus from '../event-bus/event-bus';

export default {
	components: {
		BgInput,
		BgDropdown,
		BgDropdownItem,
		BgSearchBar,
		BgSkeleton
	},

	mixins: [MixinMamipayBill, MixinMamipayBooking],

	data() {
		return {
			openListKost: false,
			keywordSearch: '',
			searchedRooms: [],
			timeout: null,
			isLoading: false,
			cancelRequest: null,
			isShowKosOptions: false,
			cancelToken: axios.CancelToken
		};
	},

	computed: {
		listRoom() {
			return this.$store.state.userRooms;
		},
		roomSet() {
			return this.$store.state.userRoom;
		},
		selectedKosName() {
			return (this.roomSet && this.roomSet.room_title) || '';
		},
		selectedKosId() {
			return this.roomSet && this.roomSet.id;
		},
		kosOptions() {
			return this.keywordSearch ? this.searchedRooms : this.listRoom;
		}
	},

	methods: {
		onSearchInputChanged(searchInput) {
			this.keywordSearch = searchInput;
			this.onSearchKost();
		},
		onSearchKost() {
			clearTimeout(this.timeout);
			this.cancelRequest && this.cancelRequest();

			this.timeout = setTimeout(() => {
				this.getPropertyKost();
			}, 200);
		},
		getPropertyKost(offset) {
			this.searchedRooms = [];
			const CancelToken = this.cancelToken;
			this.isLoading = true;
			axios
				.get(`room/list?keyword=${this.keywordSearch}`, {
					cancelToken: new CancelToken(c => {
						this.cancelRequest = c;
					}),
					params: {
						keyword: this.keywordSearch,
						limit: 20,
						offset: offset || 0
					}
				})
				.then(response => {
					if (response && response.data.status) {
						this.searchedRooms = response.data.data;
						this.isLoading = false;
					}
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		},
		pickKost(dataKost) {
			this.isShowKosOptions = false;
			this.$store.commit('setUserRoom', dataKost);
			this.getBill(dataKost.id);
			this.getBookingList({
				seq: dataKost.id
			});
			this.getAllDetailRoom(dataKost.id);
			this.getReportBill(dataKost.id);
			this.getIncomeAndTransfer(dataKost.id);
			this.openListKost = false;
			EventBus.$emit('activeToggleAll');
		}
	}
};
</script>

<style lang="scss">
.select-filter-kos {
	&.bg-c-dropdown {
		.bg-c-dropdown__menu {
			max-height: 264px;
			overflow: auto;

			&-item {
				word-break: break-word;
				white-space: normal;
			}
		}

		> * {
			width: 100%;
		}
	}
}
</style>

<style lang="scss" scoped>
.select-filter-kos {
	> * {
		width: 100%;
	}

	&__loading {
		padding: 0;
		background-color: #fff;
	}

	&__input-trigger {
		width: 100%;
	}

	&__input-search {
		margin-bottom: 8px;
	}
}
</style>
