<template>
	<div id="manageEmptyBooking" class="booking-empty">
		<bg-illustration name="empty-invoice" alt="booking empty" height="300" />
		<bg-text size="title-3" class="booking-empty__title">{{
			message.title
		}}</bg-text>
		<bg-text size="body-2">{{ message.caption }}</bg-text>
		<bg-button
			v-if="message.button"
			variant="primary"
			class="booking-empty__button"
			@click="registerKos"
			>{{ buttonText }}</bg-button
		>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { BgButton, BgIllustration, BgText } from 'bangul-vue';

export default {
	components: {
		BgButton,
		BgIllustration,
		BgText
	},

	props: {
		totalKos: {
			type: Number,
			required: true
		},
		totalBooking: {
			required: true
		},
		roomData: {
			type: [Object, Array],
			default() {
				return {};
			}
		},
		noFilter: {
			type: Boolean,
			default: true
		},
		bbkAllStatus: {
			type: String,
			default: 'other'
		}
	},

	computed: {
		message() {
			if (!this.noFilter) {
				return {
					title: 'Belum Ada Pengajuan Booking',
					caption: 'Belum ada pengajuan booking di filter yang Anda pilih.',
					button: false
				};
			} else {
				if (this.totalKos === 0) {
					return {
						title: 'Kos Anda Belum Terdaftar',
						caption:
							'Sebelum mengelola booking kos, yuk daftarkan dulu kos Anda di Mamikos.',
						button: true
					};
				} else if (
					_get(this.roomData, 'bbk_status.key') === 'approve' &&
					!this.totalBooking
				) {
					return {
						title: 'Belum Ada Pengajuan Booking',
						caption:
							'Anda akan melihat semua booking kos dari calon penyewa di sini.',
						button: false
					};
				} else if (
					_get(this.roomData, 'bbk_status.key') === 'waiting' ||
					this.bbkAllStatus === 'waiting'
				) {
					return {
						title: 'Kos Anda Belum Bisa Di-Booking',
						caption:
							'Terima kasih sudah mendaftar ke fitur Booking Langsung. Mohon menunggu, tim kami sedang memverifikasi data Anda.',
						button: false
					};
				} else {
					return {
						title: 'Kos Anda Belum Bisa Di-Booking',
						caption:
							'Booking Langsung adalah fitur agar kos Anda bisa di-booking di Mamikos. Daftar ke fitur ini agar Anda bisa mengelola booking di sini.',
						button: true
					};
				}
			}
		},
		buttonText() {
			return this.totalKos === 0 ? 'Daftar Kos' : 'Daftar Booking Langsung';
		}
	},

	methods: {
		registerKos() {
			this.totalKos === 0
				? window.open('/ownerpage/add', '_blank')
				: this.$emit('register-bbk');
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-empty {
	max-width: 460px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;

	&__title {
		margin-bottom: 15px;
	}

	&__button {
		margin-top: 25px;
	}
}
</style>
