<template>
	<modal
		v-model="showModal"
		effect="zoom"
		class="booking-confirmed-modal"
		@cancel="cancelModal"
	>
		<div slot="modal-header" class="modal-header">
			<a class="close-button" @click.prevent="cancelModal"></a>
		</div>

		<div class="modal-body">
			<img
				v-lazy="'/general/img/pictures/mamipay/owner/booking_is_processed.svg'"
				alt="Booking Confirmed Illustration"
			/>
			<h3>Berhasil!</h3>
			<div class="description">
				<p>
					{{ modalData.description }}
				</p>
			</div>
		</div>

		<div slot="modal-footer" class="modal-footer">
			<button type="button" class="btn btn-primary" @click="cancelModal">
				{{ modalData.buttonText }}
			</button>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import EventBus from '../event-bus/event-bus';

import mixinCheckMamipayBooking from '../mixins/MixinCheckMamipayBooking';

export default {
	mixins: [mixinCheckMamipayBooking],

	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		isLoading: {
			type: Boolean,
			required: true
		},
		seq: {
			type: Number,
			default: 0
		}
	},

	computed: {
		isBulkRequest() {
			return this.$store.state.bulkProcessBookingActivation;
		},
		isFromGoldPlusFlow() {
			return this.$store.state.isFromGoldPlusFlow;
		},
		modalData() {
			return this.isFromGoldPlusFlow
				? {
						description:
							'Pengajuan fitur Booking Langsung dan verifikasi identitas berhasil dikirim. Admin Mamikos kini sedang memeriksa data Anda.',
						buttonText: 'Lanjut Daftar GoldPlus'
				  }
				: {
						description:
							'Pengajuan fitur Booking Langsung berhasil dikirim. Admin Mamikos sedang memverifikasi data Anda. Mohon menunggu, ya!',
						buttonText: 'Kembali'
				  };
		}
	},

	methods: {
		cancelModal() {
			if (this.isFromGoldPlusFlow) {
				window.location.href = `${oxWebUrl}/goldplus/submission`;
				return;
			}

			this.$emit('changeComponent', true);

			if (this.isBulkRequest) {
				EventBus.$emit('modalActiveBooking', false);
				EventBus.$emit('bulkBookingSucceeded');
			} else {
				this.checkingActiveBooking();
				EventBus.$emit('modalActiveBooking', false);
				this.$router.push(`/${this.seq}/booking`);
				window.location.reload(true);
			}
		}
	}
};
</script>

<style lang="scss">
.booking-confirmed-modal {
	> .modal-dialog {
		display: flex;
		height: 92vh;
		justify-content: center;
		align-items: center;

		> .modal-content {
			padding: 17px;
			border-radius: 8px;
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-header {
	border-bottom: none !important;
	padding: 0;

	> .close-button {
		float: right;

		&::after {
			content: url('/general/img/icons/ic_close_black.svg');
		}
	}
}

.modal-body {
	padding: 0 15px;
	text-align: center;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}

	h3 {
		margin-top: 0;
		font-weight: bold;
		color: #242424;
	}

	.description {
		p {
			font-size: 16px;
			line-height: 24px;
			color: #484848;
		}
	}
}

.modal-footer {
	border-top: none;
	display: flex;
	align-items: center;
	justify-content: center;

	.btn {
		width: 100%;
		padding: 12px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		background: #1baa56;
		border: 0;
		border-radius: 0;
		border-radius: 4px;
	}
}
</style>
