<span class="content-form-h3">Periode waktu yang diinginkan :</span><br>
<span class="content-from-h2">(Klik untuk Pilih)</span><br>
  <div class="row">
  	<div class="col-xs-12">
  		<span><% messageError %></span>
  	</div>
    <div class="col-xs-12">
      <div class="col-xs-12 p0 form-sub">
        <label for="dates" class="title-label">Waktu Masuk</label>
          <datepicker
            date-format="y-MM-dd"
            button-prev='<i class="fa fa-arrow-circle-left"></i>'
            button-next='<i class="fa fa-arrow-circle-right"></i>'>
            <input ng-model="dates" type="text" id="dates" class="fa form-control" placeholder="&#xf073; Pilih Tanggal"/>
          </datepicker>
      </div>
      <div class="col-xs-12 p0 form-sub">
        <label class="title-label">Durasi</label><br>
        <div class="col-xs-12 p0">
          <select class="form-control" ng-model="duration">
            <option  value="1">1 Bulan</option>
            <option  value="2">2 Bulan</option>
            <option  value="3">3 Bulan</option>
            <option  value="4">4 Bulan</option>
            <option  value="5">5 Bulan</option>
            <option  value="6">6 Bulan</option>
            <option  value="7">7 Bulan</option>
            <option  value="8">8 Bulan</option>
            <option  value="9">9 Bulan</option>
            <option  value="10">10 Bulan</option>
            <option  value="11">11 Bulan</option>
            <option  value="12">12 Bulan</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-9 next-button-box" ng-click="change3('templates/carikankost4.html', dates, duration)">
    	<button class="btn btn-success next-button">LANJUT</button>
    </div>
    <!-- <div class="col-xs-3 col-xs-offset-9 next-button-box" ng-click="change('templates/carikankost2.html')">
      <button class="btn btn-success next-button">BACK</button>
    </div> -->
  </div>
<span class="content-form-step">Langkah 3/4</span>