<span class="content-form-h3">Silakan isi filter berikut :</span><br>
<span class="content-from-h2">(Klik untuk Pilih)</span><br>
  <div class="row">
  	<div class="col-xs-12">
  		<span style="color:red; font-size:17px;"><% messageError %></span>
  	</div>
    <div class="col-xs-12 form-sub">
	    <label class="title-label">Tipe Kos</label><br>
	    <select class="form-control" name="tipe" id="tipe" ng-model="gender">
	      <option  value="2">Khusus Putri</option>
	      <option  value="1">Khusus Putra</option>
	      <option  value="0,2">Putri dan Campur</option>
	      <option  value="0,1">Putra dan Campur</option>
	      <option  value="0,1,2" selected="selected">All</option>
	    </select>
    </div>
    <div class="col-xs-12 form-sub">
    	<label class="title-label">Range Harga</label><br>
    	<div class="form-group col-xs-5 p0">
            <!-- priceFrom didapat dari directive formTemplate -->
		    <select class="form-control col-xs-6" name="priceFrom" id="priceFrom" ng-model="price1">
		      <option value="50000">50000</option>
		      <option value="100000">100000</option>
		      <option value="200000">200000</option>
		      <option value="300000">300000</option>
		      <option value="400000">400000</option>
		      <option value="500000">500000</option>
		      <option value="600000">600000</option>
		      <option value="700000">700000</option>
		      <option value="800000">800000</option>
		      <option value="900000">900000</option>
		      <option value="900000">1000000</option>
		      <option value="900000">2000000</option>
		    </select>
	    </div>
	    <div class="col-xs-2 text-center" style="margin-top: 7px;">
	    	-
	    </div>
	    <div class="form-group col-xs-5 p0">
		    <select class="form-control" name="priceTo" id="priceTo" ng-model="price2">
		      <option value="50000">50000</option>
		      <option value="100000">100000</option>
		      <option value="200000">200000</option>
		      <option value="300000">300000</option>
		      <option value="400000">400000</option>
		      <option value="500000">500000</option>
		      <option value="600000">600000</option>
		      <option value="700000">700000</option>
		      <option value="800000">800000</option>
		      <option value="900000">900000</option>
		      <option value="900000">1000000</option>
		      <option value="900000">2000000</option>
		    </select>
	    </div>
		</div>
    <div class="col-xs-12 form-sub">
    	<label class="title-label">Fasilitas</label><br>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[0]==13}">
    		<input type="checkbox" style="display: none;" ng-model="facility.value[0]" autocomplete="off" ng-true-value=13  ng-false-value=0 checked> AC
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[1]==1}">
    		<input type="checkbox" style="display: none;" ng-model="facility.value[1]" autocomplete="off" ng-true-value=1  ng-false-value=0 checked> 
            <span class="visible-xs">Kmr Md Dalam</span>
            <span class="hidden-xs">Kamar Mandi Dalam</span>
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[2]==12}">
				<input type="checkbox" style="display: none;" ng-model="facility.value[2]" autocomplete="off" ng-true-value=12  ng-false-value=0 checked> TV
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[3]==10}">
        <input type="checkbox" style="display: none;" ng-model="facility.value[3]" autocomplete="off" ng-true-value=10 ng-false-value=0> Tempat Tidur
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[4]==11}">
        <input type="checkbox" style="display: none;" ng-model="facility.value[4]" autocomplete="off" ng-true-value=11 ng-false-value=0 checked> Lemari
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[5]==22}">
        <input type="checkbox" style="display: none;" ng-model="facility.value[5]" autocomplete="off" ng-true-value=22 ng-false-value=0> Parkir Mobil
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[6]==15}">
        <input type="checkbox" style="display: none;" ng-model="facility.value[6]" autocomplete="off" ng-true-value=15 ng-false-value=0 checked> Internet
    	</label>
    	<label class="col-xs-6 btn label-facility btn-default" ng-class="{'btn-success':facility.value[7]==14}">
        <input type="checkbox" style="display: none;" ng-model="facility.value[7]" autocomplete="off" ng-true-value=14 ng-false-value=0> Meja dan Kursi
    	</label>
    </div>
    <div class="col-xs-12 form-sub">
    	<label class="title-label">Catatan Khusus</label><br>
    	<textarea class="form-control" placeholder="Silakan isi sesuai kebutuhan anda.." ng-model="notes"></textarea>
    </div>
    <div class="col-xs-3 col-xs-offset-9 next-button-box" ng-click="change2('templates/carikankost3.html', gender, price1, price2, notes, facility)">
    	<button class="btn btn-success next-button">LANJUT</button>
    </div>
    <!-- <div class="col-xs-3 col-xs-offset-9 next-button-box" ng-click="change('templates/carikankost1.html')">
      <button class="btn btn-success next-button">BACK</button>
    </div> -->
  </div>
<span class="content-form-step">Langkah 2/4</span>
