<span class="content-form-h3">Silakan Isi Data Dirimu :</span><br>
  <div class="row">
  	<div class="col-xs-12">
  		<span><% messageError %></span>
  	</div>
    <form name="contact">
      <div class="col-xs-12 form-group">
        <label for="name">Nama :</label>
        <input type="text" class="form-control" id="name" name="name" ng-maxlength="25" required maxlength="100" ng-model="name">
      </div>
      <div class="col-xs-12 form-group">
        <label for="email">Email :</label>
        <input type="e-mail" class="form-control" id="email" name="email" required maxlength="100" ng-model="email">
      </div>
      <div class="col-xs-12 form-group">
        <label for="hp">No Hp :</label>
        <input type="text" class="form-control" id="hp" name="hp" required ng-pattern="/^[0-9]{6,15}$/" ng-model="hp">
      </div>
      <!-- <div class="col-xs-3 col-xs-offset-9 next-button-box" ng-click="change('templates/carikankost3.html')">
        <button class="btn btn-success next-button">BACK</button>
      </div> -->
      <div class="col-xs-12">
        <button id="submitSubscribe" class="btn btn-success col-xs-12 button-submit" type="submit" ng-disabled="contact.$invalid" ng-click="submit(name,hp,email)">Kirim Saya Daftar Rekomendasi Kost</button>
      </div>
    </form>
  </div>
<span class="content-form-step">Langkah 4/4</span>