<span class="content-form-h3">Mencari kost di kota mana ?</span><br>
<span class="content-from-h2">(Klik untuk Pilih)</span><br>
  <div class="row">
    <a ng-click="change1('templates/carikankost2.html', 'jogja', '43')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_jogjakarta.png" alt="Cari Kost Jogja Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">JOGJAKARTA</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'jakarta', '73')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_jakarta.png" alt="Cari Kost Jabodetabek Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">JABODETABEK</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'surabaya', '82')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_surabaya.png" alt="Cari Kost Surabaya Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">SURABAYA</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'bandung', '91')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_bandung.png" alt="Cari Kost Bandung Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">BANDUNG</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'malang', '219')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_malang.png" alt="Cari Kost Malang Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">MALANG</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'semarang', '220')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_semarang.png" alt="Cari Kost Semarang Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">SEMARANG</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'bali', '793')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_bali_new.png" alt="Cari Kost Bali Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">BALI</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'makassar', '772')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_makassar_new.png" alt="Cari Kost Makassar Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">MAKASSAR</span>
        </div>
      </div>
    </a>
    <a ng-click="change1('templates/carikankost2.html', 'medan', '773')" target="_self">
      <div class="col-xs-6 bigcity">
        <div class="col-xs-12 bigcity-box">
          <img src="/assets/home-mobile/kota_medan_new.png" alt="Cari Kost Medan Mamikos.com" class="img-bigcity"><br>
          <span class="text-bigcity">MEDAN</span>
        </div>
      </div>
    </a>
  </div>
<span class="content-form-step">Langkah 1/4</span>