<template>
	<div class="landing-singgahsini-warp">
		<!-- For SEO only, you may delete it if the page has other H1 -->
		<h1 class="sr-only">Gabung Singgahsini Pemilik Kos</h1>
		<landing-singgahsini-navbar></landing-singgahsini-navbar>
		<landing-singgahsini-header></landing-singgahsini-header>
		<landing-singgahsini-advantages></landing-singgahsini-advantages>
		<landing-singgahsini-intro></landing-singgahsini-intro>
		<landing-singgahsini-testimoni></landing-singgahsini-testimoni>
		<landing-singgahsini-join-step></landing-singgahsini-join-step>
		<landing-singgahsini-faq></landing-singgahsini-faq>
		<landing-singgahsini-gallery></landing-singgahsini-gallery>
		<landing-singgahsini-footer></landing-singgahsini-footer>
	</div>
</template>

<script>
import LandingSinggahsiniNavbar from './LandingSinggahsiniNavbar';
import LandingSinggahsiniHeader from './LandingSinggahsiniHeader';
import LandingSinggahsiniAdvantages from './LandingSinggahsiniAdvantages';
import LandingSinggahsiniIntro from './LandingSinggahsiniIntro';
import LandingSinggahsiniFaq from './LandingSinggahsiniFaq';
import LandingSinggahsiniJoinStep from './LandingSinggahsiniJoinStep';
import LandingSinggahsiniTestimoni from './LandingSinggahsiniTestimoni';
import LandingSinggahsiniGallery from './LandingSinggahsiniGallery';
import LandingSinggahsiniFooter from './LandingSinggahsiniFooter';

export default {
	name: 'LandingSinggahsini',
	components: {
		LandingSinggahsiniNavbar,
		LandingSinggahsiniHeader,
		LandingSinggahsiniAdvantages,
		LandingSinggahsiniIntro,
		LandingSinggahsiniFaq,
		LandingSinggahsiniJoinStep,
		LandingSinggahsiniTestimoni,
		LandingSinggahsiniGallery,
		LandingSinggahsiniFooter
	}
};
</script>
