<template>
	<section id="testimoni" class="container-fluid home-testimoni">
		<div class="container">
			<div class="row">
				<div class="col-md-5 testimoni-text">
					<h2 class="testimoni-text__title">Kata Pemilik Kos</h2>
					<div v-if="!isMobile" class="testimoni-button">
						<div slot="button-prev" class="swiper-prev">
							<bg-icon name="chevron-left" size="md" />
						</div>
						<div slot="button-next" class="swiper-next">
							<bg-icon name="chevron-right" size="md" />
						</div>
					</div>
				</div>
				<div class="col-md-7 testimoni-slider">
					<swiper class="swiper" :options="swiperOption">
						<swiper-slide
							v-for="(testimoni, index) in testimonial"
							:key="index"
							class="testimoni-card"
						>
							<p class="testimoni-card__text">“{{ testimoni.text }}”</p>
							<div class="testimoni-card__person">
								<div
									v-lazy:background-image="testimoni.image"
									class="testimoni-card__photo"
								></div>
								<div class="testimoni-personal">
									<p class="testimoni-personal__name">{{ testimoni.person }}</p>
									<p class="testimoni-personal__kost">
										Pemilik {{ testimoni.kost }}
									</p>
								</div>
							</div>
						</swiper-slide>
						<div
							v-if="isMobile"
							slot="pagination"
							class="swiper-pagination-testimoni"
						></div>
					</swiper>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { BgIcon } from 'bangul-vue';
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	name: 'HomeTestimoni',

	components: {
		swiper,
		swiperSlide,
		BgIcon
	},

	mixins: [MixinIsMobile],

	computed: {
		testimonial() {
			return [
				{
					text:
						'Baru bekerja sama dengan Singgahsini di awal tahun 2020, tetapi manfaatnya sudah terasa. Saya senang marketing dan penagihan ke penghuni kos dibantu oleh Tim Singgahsini yang profesional.',
					person: 'Endy Dwi Tjahjono',
					kost: 'Singgahsini Wisma Seruni',
					image: '/assets/testimoni/singgahsini/wisma_seruni_owner.png'
				},
				{
					text:
						'Bekerja sama dengan Singgahsini merupakan win-win solution bagi pemilik kos seperti saya yang memiliki banyak kesibukan. Tidak perlu susah-susah mencari penghuni kos, Singgahsini senantiasa membantu melalui pengelolaan dan pemasaran yang baik, serta memberikan jaminan kamar.',
					person: 'Andhie Hajar Mahatmadi Putra',
					kost: 'Singgahsini Ghea 2',
					image: '/assets/testimoni/singgahsini/ghea2_owner.png'
				},
				{
					text:
						'Tinggal di tempat yang jauh dari kos milik saya pribadi, tak lagi jadi masalah. Singgahsini adalah solusi terpercaya yang membantu saya memasarkan dan mengelola kos dengan pelayanan optimal. Kerjasama dengan Singgahsini sangat menguntungkan.',
					person: 'Endang Murtiningsih',
					kost: 'Singgahsini Griya Moerti',
					image: '/assets/testimoni/singgahsini/griya_moerti_owner.png'
				}
			];
		},
		swiperOption() {
			if (this.isMobile) {
				return {
					slidesPerView: 1,
					spaceBetween: 8,
					pagination: {
						el: '.swiper-pagination-testimoni',
						clickable: true
					}
				};
			} else {
				return {
					slidesPerView: 1,
					spaceBetween: 24,
					navigation: {
						nextEl: '.swiper-next',
						prevEl: '.swiper-prev'
					}
				};
			}
		}
	}
};
</script>

<style lang="scss">
.swiper-pagination-testimoni {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	.swiper-pagination-bullet-active {
		background-color: #fff;
	}
}
</style>

<style lang="scss" scoped>
.home-testimoni {
	max-width: 2000px;
	padding: 100px 0;
	background-color: #2f1e55;

	@media (max-width: 769px) {
		padding: 60px 0;
	}
}

.swiper {
	padding: 15px 10px;

	@media (max-width: 769px) {
		padding: 15px 5px;
	}
}

.testimoni-text {
	position: relative;
	padding: 20px 15px 0 95px;

	@media (max-width: 769px) {
		padding: 0 15px;
	}

	&__title {
		margin-bottom: 48px;
		font-size: 48px;
		font-weight: 900;
		line-height: 68px;
		color: #fff;

		@media (max-width: 769px) {
			margin-bottom: 24px;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__description {
		margin-bottom: 35px;
		font-size: 24px;
		line-height: 36px;
	}
}

.testimoni-button {
	display: flex;

	.swiper-next,
	.swiper-prev {
		width: 56px;
		height: 56px;
		padding: 16px 15px;
		color: #757575;
		cursor: pointer;
		background: #fff;
		border: 0;
		border-radius: 50%;
		-webkit-box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);
		box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);
		-webkit-transition: 0.7s ease;
		transition: 0.7s ease;
	}

	.swiper-prev {
		margin-right: 24px;
	}

	.testimoni-slider {
		display: flex;
		overflow: auto;
	}

	.swiper-button-disabled {
		color: #bbb;
	}
}

.testimoni-card {
	padding: 40px;
	color: #fff;

	@media (max-width: 769px) {
		padding: 0;
	}

	&__photo {
		width: 56px;
		height: 56px;
		background-color: #c5c5c5;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
	}

	&__text {
		display: -webkit-box;
		min-height: 175px;
		margin-bottom: 31px;
		overflow: hidden;
		font-size: 20px;
		line-height: 30px;
		text-overflow: ellipsis;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;

		@media (max-width: 769px) {
			min-height: 150px;
		}

		@media (max-width: 600px) {
			min-height: 200px;
			-webkit-line-clamp: 7;
		}

		@media (max-width: 460px) {
			min-height: 300px;
			-webkit-line-clamp: 10;
		}

		@media (max-width: 350px) {
			min-height: 325px;
			-webkit-line-clamp: 12;
		}
	}

	&__person {
		display: flex;
		align-items: center;
	}
}

.testimoni-personal {
	flex-grow: 1;
	padding: 0 20px;

	&__name {
		margin-bottom: 0;
		font-size: 20px;
		font-weight: bold;
		line-height: 38px;

		@media (max-width: 769px) {
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
		}
	}

	&__kost {
		margin-bottom: 0;
		font-style: italic;
		line-height: 30px;

		@media (max-width: 769px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.testimoni-index {
	span {
		font-size: 60px;
		font-weight: 800;
		line-height: 60px;
		color: #bbb;
		opacity: 0.2;
	}
}

.swiper-pagination {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
</style>
