<template>
	<section class="landing-singgahsini-header">
		<div class="landing-singgahsini-header__container">
			<div class="landing-singgahsini-header__text">
				<img
					v-if="!isMobile"
					v-lazy="logoImage"
					class="landing-singgahsini-header__logo"
					alt="singgahsini logo"
				/>
				<h2 class="landing-singgahsini-header__title">
					Optimalkan Okupansi &amp; Pendapatan Bulanan Bersama Singgahsini
				</h2>
				<button
					class="landing-singgahsini-header__button"
					@click="handleClickRegister('header singgahsini')"
				>
					Gabung Sekarang
				</button>
			</div>
			<div class="landing-singgahsini-header__image">
				<img
					v-if="isMobile"
					v-lazy="logoImage"
					class="landing-singgahsini-header__logo"
					alt="singgahsini logo"
				/>
				<img
					v-lazy="
						'general/img/pictures/landing-singgahsini/singgahsini-header-image.png'
					"
					class="landing-singgahsini-header__hero"
					alt="singgahsini header image"
				/>
			</div>
		</div>
		<div class="landing-singgahsini-header__object"></div>
	</section>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';
import MixinMoengageTracker from '../mixins/MixinMoengageTracker';

export default {
	mixins: [MixinIsMobile, MixinMoengageTracker],

	computed: {
		logoImage() {
			return this.isMobile
				? 'general/img/pictures/landing-singgahsini/singgahsini-logo-all-white.png'
				: 'general/img/pictures/landing-singgahsini/singgahsini-logo-white.png';
		}
	}
};
</script>

<style lang="scss" scoped>
.landing-singgahsini-header {
	position: relative;
	height: 456px;
	overflow: hidden;
	background-color: #2f1e55;

	&__container {
		display: flex;
		align-items: center;
		max-width: 1350px;
		height: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@media (max-width: 1400px) {
			margin: 0 60px;
		}

		@media (max-width: 769px) {
			padding-top: 16px;
			padding-bottom: 36px;
			margin: 0;
			flex-direction: column-reverse;
		}
	}

	&__text {
		z-index: 1;
		width: 80%;

		@media (max-width: 769px) {
			text-align: center;
		}
	}

	&__logo {
		width: 165px;
		margin-bottom: 15px;

		@media (max-width: 769px) {
			width: 86px;
			align-self: flex-start;
			margin-bottom: 0;
		}
	}

	&__title {
		margin: 0 0 48px;
		font-size: 48px;
		font-weight: 900;
		line-height: 60px;
		color: #fff;

		@media (max-width: 769px) {
			margin: 20px 0 24px;
			font-size: 28px;
			line-height: 36px;
		}

		@media (max-width: 400px) {
			font-size: 25px;
		}

		@media (max-width: 350px) {
			font-size: 22px;
			line-height: 33px;
		}
	}

	&__button {
		width: 177px;
		height: 48px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #fff;
		background-color: #932571;
		border: none;
		border-radius: 4px;

		&:active,
		&:focus,
		&:hover {
			border: none;
		}
	}

	&__image {
		display: flex;
		align-items: center;
		z-index: 1;
		height: 100%;

		@media (max-width: 769px) {
			width: 100%;
			flex-direction: column;
		}
	}

	&__hero {
		width: 100%;

		@media (max-width: 769px) {
			width: 250px;
		}

		@media (max-width: 500px) {
			width: 60%;
		}
	}

	&__object {
		position: absolute;
		top: 0;
		right: 0;
		width: 35vw;
		height: 100%;
		background-color: #932571;
		border-radius: 350px 0 0 350px;

		@media (max-width: 769px) {
			top: -40%;
			width: 100%;
			height: 90%;
			border-radius: 0 0 100% 100%;
		}

		@media (max-width: 500px) {
			top: 0;
			width: 100%;
			height: 50%;
			border-radius: 0 0 350px 350px;
		}
	}
}
</style>
