<template>
  <div id="galeri" class="landing-singgahsini-gallery">
    <div class="landing-singgahsini-gallery__container">
      <div class="landing-singgahsini-gallery__text">
        <h2 class="landing-singgahsini-gallery__title">Galeri</h2>
        <h3 class="landing-singgahsini-gallery__subtitle">Lebih dari ribuan kamar di ratusan kos sudah bergabung dengan Singgahsini </h3>
      </div>
      <div class="container landing-singgahsini-gallery_room-list-container">
        <div 
        v-for="(room, index) in getRoomsDataAtrribute" :key="index" class="landing-singgahsini-gallery_room-list">
        <a
          rel="noopener"
          target="_blank"
          :href="room.share_url">
            <div class="col-lg-4 landing-singgahsini-gallery__room-card">
              <div class="landing-singgahsini-gallery__room-cover">
                <img
                  v-lazy="{
                    src: room.photo_list.large,
                    error: '/general/img/pictures/placeholder/placeholder_loading.svg',
                    loading: '/general/img/pictures/placeholder/placeholder_loading.svg'
                  }"
                  class="room-cover-image"
                />
                <img
                v-lazy="{
                  src: room.photo_list.large,
                  error: '/general/img/pictures/placeholder/placeholder_loading.svg'
                }"
                class="room-cover-image-background"
              />
              </div>

              <div class="landing-singgahsini-gallery__room-detail">
                <p class="landing-singgahsini-gallery__room-title">
                  {{room.room_title}}
                </p>
                <p class="landing-singgahsini-gallery__room-area">
                  {{room.subdistrict}}, {{room.area_name}}
                </p>
                <p class="landing-singgahsini-gallery__room-price">
                <span class="price">
                  {{room.price_title_format.currency_symbol}}{{room.price_title_format.price}}/
                </span>
                  {{room.price_title_format.rent_type_unit}}
                </p>
              </div>
              
            </div>
          </a>
        </div>
      </div>

      <div class="landing-singgahsini-gallery__cta-button">
        <a class="btn btn-singgahsini-gallery" 
        rel="noopener"
        target="_blank"
        href="https://mamikos.com/kos/singgahsini">
          Lihat Lebih Banyak
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LandingSinggahsiniGallery',
  data(){
    return{
      getRoomsDataAtrribute: []
    }
  },
  computed:{
    getRoomsData(){
      return this.$store.getters.getRooms
    },
  },
  mounted(){
    this.getRoomsData.forEach((data) => {
      data['area_name'] = data['city'];
      data['price_title_format'] = data['price'];
      data['photo_list'] = data['photo_url'];
      data['room_title'] = data['room-title'];
      delete data['city'];
      delete data['price'];
      delete data['photo_url'];
      delete data['room-title'];
    });
    this.getRoomsDataAtrribute = this.getRoomsData
  }
}
</script>

<style lang="scss" scoped>
.landing-singgahsini-gallery{
  padding: 65px 80px;

  @media (max-width: 769px) {
			padding: 56px 15px;
		}

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
     text-decoration: none; 
     cursor:pointer;
    }

  &__container {
    align-content: center;
    text-align: center;
		max-width: 1300px;
		margin: 0 auto;

		@media (max-width: 769px) {
			flex-wrap: wrap;
		}
	}

  &__title{
    font-weight: 900;
    font-size: 48px;

    @media (max-width: 767px) {
    font-size: 32px;
    margin-bottom: 0px;
	  }
  }

  &__subtitle{
    font-weight: 400;
    font-size: 32px;
    padding: 0px 150px;
    line-height: 50px;

    @media (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    padding: 0px 15px;

    .subtitle-breakline{
      display: none;
      margin-top: 30px;
    }
	  }
  }

  &__room-card{
    margin: 50px 0px;
    text-align: left;
    min-height: 450px;

    @media (max-width: 767px) {
      min-height: auto;
      margin: 40px 0px;
      padding: 0px 0px;
    }
  }

  &__room-title{
    margin-top: 10px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__room-area{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__room-price{
    font-size: 20px;
    line-height: 32px;

    .price{
    font-weight: 900;
    }
  }

  &__cta-button{
    .btn-singgahsini-gallery{
      height: 48px;
      width: 179px;
      background-color: #932571;
      color: white;
      border-radius: 4px;
      padding: 9px 16px;
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__room-cover {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 258px;
	overflow: hidden;
	background-color: #999;
	border-radius: 16px;

    @media (max-width: 769px) {
			border-radius: 8px;
		}

	.room-cover-image {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: auto;
		height: 105%;
		transform: translate(-50%, -50%);
	}

	.room-cover-image-background {
		width: 100%;
		height: 100%;
		filter: blur(8px);
	}

	@media (max-width: 1199px) {
		height: 154px;
	}
}
}
</style>