<template>
	<div id="pertanyaan" class="singgahsini-faqs row">
		<div class="singgahsini-faqs__content col-sm-12 col-md-6 col-md-offset-3">
			<div class="title text-center">
				<h2 class="text">Pertanyaan Seputar Singgahsini</h2>
			</div>
			<div class="accordions">
				<accordion :one-at-atime="true">
					<panel is-open>
						<div slot="header" class="accordion-header" @click="faqClicked(0)">
							<h3 class="title">Apa perbedaan Singgahsini dengan Mamirooms?</h3>
							<img
								v-lazy="`/general/img/icons/ic_chevron_down.svg`"
								alt="ic_chevron_down"
								:class="isActive(0)"
								class="arrow"
							/>
						</div>
						<p class="accordion-description">
							Singgahsini merupakan rebranding dan wajah baru Mamirooms yang
							didukung oleh Mamikos. Properti yang bergabung dengan Singgahsini
							sudah diverifikasi kualitas dan standarnya oleh tim kami serta
							memiliki logo Singgahsini dalam aplikasi dan website Mamikos.
						</p>
					</panel>
					<panel>
						<div slot="header" class="accordion-header" @click="faqClicked(1)">
							<h3 class="title">
								Apa saja layanan yang disediakan oleh Singgahsini?
							</h3>
							<img
								v-lazy="`/general/img/icons/ic_chevron_down.svg`"
								alt="ic_chevron_down"
								:class="isActive(1)"
								class="arrow"
							/>
						</div>
						<div class="accordion-description">
							<p>Kami menyediakan fasilitas berupa:</p>
							<ul class="fac-list">
								<ul>
									1. Konsultasi perawatan aset dan perbaikan fasilitas kos
								</ul>
								<ul>
									2. Sistem pembayaran dan penagihan biaya kos
								</ul>
								<ul>
									3. Penanganan komplain
								</ul>
								<ul>
									4. Pemasaran kos
								</ul>
								<ul>
									5. Foto dan video eksklusif
								</ul>
								<ul>
									6. Minimal jaminan pendapatan
								</ul>
								<ul>
									7. Laporan penjualan bulanan
								</ul>
								<ul>
									8. Pelatihan penjaga untuk menjaga kebersihan dan keamanan kos
								</ul>
								<ul>
									9. Jaminan pembayaran tepat waktu ke pemilik
								</ul>
								<ul>
									10. Asuransi perlindungan bagi pemilik dan penghuni kos
									melalui program Mamikos Proteksi.
								</ul>
							</ul>
						</div>
					</panel>
					<panel>
						<div slot="header" class="accordion-header" @click="faqClicked(2)">
							<h3 class="title">
								Bagaimana model kerja sama dengan Singgahsini?
							</h3>
							<img
								v-lazy="`/general/img/icons/ic_chevron_down.svg`"
								alt="ic_chevron_down"
								:class="isActive(2)"
								class="arrow"
							/>
						</div>
						<p class="accordion-description">
							Kerja sama dapat dilakukan dengan sistem Revenue Sharing (Bagi
							Hasil), Minimal Jaminan Pendapatan, atau Jaminan Pendapatan Penuh,
							tergantung dari hasil evaluasi properti Anda
						</p>
					</panel>
				</accordion>
			</div>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel,
	},
	data() {
		return {
			activeAccordion: '',
		};
	},
	methods: {
		isActive(val) {
			return this.activeAccordion === val ? '--active' : '--closed';
		},
		faqClicked(val) {
			return val !== this.activeAccordion
				? (this.activeAccordion = val)
				: (this.activeAccordion = 'closed');
		},
	},
};
</script>


<style lang="scss">
.singgahsini-faqs {
	.accordions {
		.accordion-header,
		.panel-group,
		.panel-default,
		.panel-heading {
			background-color: #fafafa;
		}
	}
}
</style>

<style lang="scss" scoped>
.singgahsini-faqs {
	padding: 70px 0;
	margin: 48px 0 0;
	background-color: #fafafa;

	>>> .panel-default {
		padding: 0;
		border-color: transparent;

		> .panel-heading {
			padding: 0;
			background-color: #fff;
		}

		.panel-body {
			padding: 15px 0;
		}
	}

	&__content {
		.title {
			.text {
				padding: 0;
				font-weight: 900;
				font-size: 48px;
				line-height: 60px;

				/* stylelint-disable  */
				@media (max-width: 576px) {
					font-size: 28px;
					line-height: 36px;
				}
			}
		}

		.accordions {
			.accordion-header {
				display: flex;
				justify-content: space-between;

				.title {
					font-size: 24px;
					font-weight: bold;
					line-height: 32px;

					@media (max-width: 576px) {
						font-size: 20px;
						line-height: 28px;
					}
				}

				.arrow {
					&.--active {
						transition: 0.5s ease-in-out;
						transform: rotate(180deg);
					}
					&.--closed {
						transition: 0.5s ease-in-out;
						transform: rotate(0deg);
					}
				}
			}

			.accordion-description {
				font-size: 20px;
				line-height: 30px;

				@media (max-width: 576px) {
					font-size: 16px;
					line-height: 24px;
				}

				.fac-list {
					padding: 0;

					ul {
						padding: 0;
					}
				}
			}
		}
	}
}
</style>
