<template>
	<section id="carabergabung" class="landing-singgahsini-join-step">
		<div class="container landing-singgahsini-container">
			<div class="join-step-header">
				<h2 class="join-step-header__title">
					Ingin mengoptimalkan pendapatan dari kos bulanan?
				</h2>
				<p class="join-step-header__subtitle">
					Cukup dengan melakukan lima langkah saja.
				</p>
			</div>
		</div>

		<div v-if="!isMobile">
			<div class="container join-step">
				<div
					v-for="(step, index) in steps"
					:key="index"
					class="join-step__card"
				>
					<div class="join-step__count">0{{ index + 1 }}</div>
					<p class="join-step__text">
						{{ step }}
					</p>
				</div>
			</div>

			<div class="join-cta-container text-center">
				<button
					class="join-cta"
					@click="handleClickRegister('step join singgahsini')"
				>
					Gabung Sekarang
				</button>
			</div>
		</div>

		<swiper v-else class="swiper" :options="swiperOption">
			<swiper-slide
				v-for="(step, index) in steps"
				:key="index"
				class="join-step__card"
			>
				<div class="join-step__count">0{{ index + 1 }}</div>
				<p class="join-step__text">
					{{ step }}
				</p>
			</swiper-slide>
			<div slot="pagination" class="swiper-pagination-step"></div>
		</swiper>
	</section>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import MixinIsMobile from '../mixins/MixinIsMobile';
import MixinMoengageTracker from '../mixins/MixinMoengageTracker';

export default {
	components: {
		swiper,
		swiperSlide
	},

	mixins: [MixinIsMobile, MixinMoengageTracker],

	data() {
		return {
			steps: [
				'Isi form pendaftaran.',
				'Tim kami akan menghubungi Anda.',
				'Tim kami menjadwalkan survei properti.',
				'Perjanjian kontrak kerja sama.',
				'Selamat! Anda tergabung bersama Singgahsini.'
			],
			swiperOption: {
				slidesPerView: 1,
				spaceBetween: 8,
				pagination: {
					el: '.swiper-pagination-step',
					clickable: true
				}
			}
		};
	}
};
</script>

<style lang="scss">
.swiper-pagination-step {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	.swiper-pagination-bullet-active {
		background-color: #583f99;
	}
}
</style>

<style lang="scss" scoped>
.landing-singgahsini-join-step {
	padding: 100px 0;

	@media (max-width: 769px) {
		padding: 100px 0;
	}
}

.join-step-header {
	display: flex;
	margin-bottom: 88px;
	flex-direction: column;
	align-items: center;

	&__title {
		width: 826px;
		font-size: 48px;
		font-weight: 900;
		line-height: 60px;
		color: #303030;
		text-align: center;

		@media (max-width: 769px) {
			width: auto;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: 30px;
		color: #404040;
	}
}

.join-step {
	display: flex;
	justify-content: space-between;

	@media (min-width: 1200px) {
		width: 1300px;
	}

	&__card {
		position: relative;
		display: flex;
		width: 250px;
		margin: 0 15px;
		flex-direction: column;
		align-items: center;

		@media (max-width: 769px) {
			margin: 0;
		}

		&:nth-child(odd):not(:nth-child(5)) {
			&:after {
				position: absolute;
				top: -40px;
				right: -75px;
				width: 130px;
				height: 100px;
				content: '';
				border: 2px dashed #dadada;
				border-color: transparent transparent #dadada transparent;
				border-radius: 0 0 50% 50%;
				transform: rotate(-20deg);

				@media (max-width: 769px) {
					width: 210px;
					transform: rotate(-10deg);
				}
			}
		}

		&:nth-child(even) {
			&:after {
				position: absolute;
				top: 30px;
				right: -75px;
				width: 130px;
				height: 100px;
				content: '';
				border: 2px dashed #dadada;
				border-color: #dadada transparent transparent transparent;
				border-radius: 50% 50% 0 0;
				-webkit-transform: rotate(-20deg);
				transform: rotate(20deg);

				@media (max-width: 769px) {
					width: 210px;
					transform: rotate(10deg);
				}
			}
		}
	}

	&__count {
		display: flex;
		width: 80px;
		height: 80px;
		margin-bottom: 32px;
		font-size: 28px;
		font-weight: 900;
		line-height: 36px;
		justify-content: center;
		align-items: center;
		background-color: #f8f5ff;
		border-radius: 50%;
	}

	&__text {
		font-size: 20px;
		line-height: 30px;
		text-align: center;

		@media (max-width: 769px) {
			margin: 0 15px;
		}
	}
}

.join-cta-container {
	margin-top: 64px;
}

.join-cta {
	width: 180px;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	background: #932571;
	border: none;
	border-radius: 4px;
}
</style>
