<template>
	<section id="tentangkami" class="container landing-singgahsini-intro">
		<div class="landing-singgahsini-intro__row">
			<div class="landing-singgahsini-intro__col">
				<div class="landing-singgahsini-intro__image-container">
					<img
						v-lazy="
							'/general/img/pictures/landing-singgahsini/singgahsini-intro.png'
						"
						class="landing-singgahsini-intro__image"
						alt="singgahsini_intro"
					/>
				</div>
			</div>
			<div class="landing-singgahsini-intro__col">
				<div class="landing-singgahsini-intro__text">
					<h2 class="landing-singgahsini-intro__title">
						Apa itu Singgahsini ?
					</h2>
					<p class="landing-singgahsini-intro__desc">
						Singgahsini adalah bagian dari Mamikos yang menawarkan layanan
						manajemen pemasaran, pengelolaan dan standardisasi kamar kos,
						mengatur pembayaran dan laporan okupansi bulanan kepada para pemilik
						kos, serta membantu penagihan biaya kos secara digital kepada para
						penghuni kos.
					</p>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
.landing-singgahsini-intro {
	padding: 125px 0;

	@media (max-width: 769px) {
		padding: 32px 0 64px;
	}

	&__row {
		display: flex;
		flex-flow: wrap;

		@media (max-width: 991px) {
			flex-flow: column-reverse;
		}
	}

	&__col {
		width: 50%;

		@media (max-width: 991px) {
			width: 100%;
			padding: 0 15px !important;
		}

		&:first-child {
			padding-right: 66px;
		}

		&:nth-child(2) {
			display: flex;
			padding: 0 130px 0 66px;
			align-items: center;

			@media (max-width: 1199px) {
				padding-right: 20px;
			}

			@media (max-width: 1010px) {
				padding-right: 66px;
			}
		}
	}

	&__title {
		margin-bottom: 32px;
		font-size: 48px;
		font-weight: 900;
		line-height: 60px;

		@media (max-width: 769px) {
			margin-bottom: 24px;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&__desc {
		font-size: 20px;
		line-height: 30px;

		@media (max-width: 991px) {
			margin-bottom: 50px;
		}

		@media (max-width: 769px) {
			margin-bottom: 25px;
		}
	}

	&__image {
		width: 100%;
	}
}
</style>
