<template>
	<div
		id="navbar"
		class="landing-singgahsini-navbar"
		:class="{ 'landing-singgahsini-navbar--fixed': isScrolling }"
	>
		<div class="landing-singgahsini-navbar__container">
			<div class="landing-singgahsini-navbar__left">
				<a :href="registerUrl" class="landing-singgahsini-brand">
					<img
						class="landing-singgahsini-brand__image"
						title="Mamikos"
						src="/assets/logo/svg/logo_singgahsini_full_color.svg"
						alt="Singgahsini Logo"
					/>
				</a>
			</div>
			<div class="landing-singgahsini-navbar__right">
				<div class="landing-singgahsini-menu">
					<ul class="landing-singgahsini-menu__list">
						<li
							v-for="(menu, index) in menus"
							:key="index"
							class="landing-singgahsini-menu__item"
						>
							<a class="landing-singgahsini-menu__link" :href="menu.link">{{
								menu.label
							}}</a>
						</li>
					</ul>
				</div>
			</div>

			<div v-if="isScrollRegBtn" class="landing-singgahsini-navbar__register">
				<button
					class="landing-singgahsini-navbar__register-btn"
					@click="handleClickRegister('navbar singgahsini')"
				>
					Gabung Sekarang
				</button>
			</div>

			<a class="landing-singgahsini-navbar__mobile" @click="toggleMenu(true)">
				<bg-icon name="hamburger-menu" size="md" />
			</a>
		</div>

		<landing-singgahsini-mobile-menu
			:show="showMobileMenu"
			:menus="menus"
			@toggleMenu="toggleMenu"
		></landing-singgahsini-mobile-menu>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import LandingSinggahsiniMobileMenu from './LandingSinggahsiniMobileMenu';
import MixinMoengageTracker from '../mixins/MixinMoengageTracker';

export default {
	components: {
		BgIcon,
		LandingSinggahsiniMobileMenu
	},

	mixins: [MixinMoengageTracker],

	data() {
		return {
			showMobileMenu: false,
			menus: [
				{
					label: 'Tentang Kami',
					link: '#tentangkami'
				},
				{
					label: 'Cara Bergabung',
					link: '#carabergabung'
				},
				{
					label: 'Testimoni',
					link: '#testimoni'
				},
				{
					label: 'Galeri',
					link: '#galeri'
				}
			],
			isScrolling: false,
			isScrollRegBtn: false,
			regBtnScroll: 0
		};
	},

	computed: {
		registerUrl() {
			const patt = /\/singgahsini\/daftar/g;
			return patt.test(window.location.pathname) ? '/singgahsini' : '/';
		}
	},

	mounted() {
		window.addEventListener('scroll', this.handleScroll);
		window.addEventListener('scroll', this.handleScrollRegBtn);
		this.bannerHeight();
		window.addEventListener('resize', this.bannerHeight);
	},

	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
		window.addEventListener('scroll', this.handleScrollRegBtn);
		window.addEventListener('resize', this.bannerHeight);
	},

	methods: {
		handleScroll() {
			this.isScrolling = window.scrollY > 0;
		},
		handleScrollRegBtn() {
			return window.scrollY > this.regBtnScroll
				? (this.isScrollRegBtn = true)
				: (this.isScrollRegBtn = false);
		},
		bannerHeight() {
			const bannerElmnt = document.getElementById('banner');
			const navbarElmnt = document.getElementById('navbar');
			const diffElement = bannerElmnt.offsetHeight - navbarElmnt.offsetHeight;
			this.regBtnScroll = diffElement;
		},
		toggleMenu(val) {
			this.showMobileMenu = val;
		}
	}
};
</script>

<style lang="scss" scoped>
.landing-singgahsini-navbar {
	padding: 25px 60px;
	height: 96px;

	@media (min-width: 1400px) {
		padding: 25px 15px;
		height: 96px;
		max-width: 100vw;
	}

	@media (max-width: 768px) {
		padding: 13px 15px;
		height: 56px;
		max-width: 100vw;
	}

	&--fixed {
		position: fixed;
		z-index: 2;
		background-color: #ffffff;
		top: 0;
		left: 0;
		width: 100%;
	}

	&__left {
		width: 30%;
	}

	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	&__register-btn {
		width: 161px;
		height: 48px;
		background: #932571;
		border: none;
		border-radius: 4px;
		color: #fff;
		padding: 12px 16px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		margin-left: 40px;

		@media (max-width: 769px) {
			width: 118px;
			height: 30px;
			font-weight: 700;
			font-size: 12px;
			line-height: 14px;
			margin-right: 10px;
			margin-left: 0px;
			padding: 8px 8px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
		max-width: 1350px;

		@media (max-width: 768px) {
			padding: 0;
		}
	}

	&__mobile {
		display: none;

		@media (max-width: 768px) {
			display: flex;
			align-items: center;
			color: #404040;
		}
	}
}

.landing-singgahsini-brand {
	&__image {
		height: 41px;

		@media (max-width: 768px) {
			height: 29px;
		}
	}
}

.landing-singgahsini-menu {
	@media (max-width: 768px) {
		display: none;
	}

	&__list {
		margin: 0;
	}

	&__item {
		display: inline;
		padding: 10px 12px;
	}

	&__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		color: #303030;
		text-decoration: none;

		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
			color: #303030;
		}
	}
}

.landing-singgahsini-register-btn {
	height: 40px;
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border: 1px solid #1baa56;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #1baa56;

	@media (max-width: 768px) {
		height: 32px;
	}
}
</style>
