<template>
	<transition name="fade" mode="out-in">
		<div v-if="show" class="mobile-navbar-menu">
			<div class="mobile-navbar-menu__close">
				<a @click="closeMenu">
					<bg-icon name="close" size="md" />
				</a>
			</div>
			<ul class="container mobile-navbar-menu__list">
				<li v-for="(menu, index) in menus" :key="index">
					<a :href="menu.link" class="item" @click="closeMenu">
						{{ menu.label }}
					</a>
				</li>
			</ul>
			<div class="mobile-navbar-menu__button">
				<button
					class="mobile-navbar-menu__register-btn"
					@click="handleClickRegister('navbar singgahsini')"
				>
					Daftar Sekarang
				</button>
			</div>
		</div>
	</transition>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import MixinMoengageTracker from '../mixins/MixinMoengageTracker';

export default {
	components: {
		BgIcon
	},

	mixins: [MixinMoengageTracker],

	props: {
		show: {
			type: Boolean,
			required: true
		},
		menus: {
			type: Array,
			required: true
		}
	},

	computed: {
		registerUrl() {
			const patt = /\/singgahsini\//g;
			return patt.test(window.location.pathname)
				? 'singgahsini/daftar'
				: '/daftar';
		}
	},

	methods: {
		closeMenu() {
			this.$emit('toggleMenu', false);
		}
	}
};
</script>

<style lang="scss" scoped>
.mobile-navbar-menu {
	position: fixed;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 12px;
	z-index: 1030;

	&__close {
		cursor: pointer;
		float: right;
		margin-right: 15px;

		a {
			color: #404040;
		}
	}

	&__list {
		margin-top: 48px;
		list-style-type: none;

		li {
			&:not(:first-child) {
				margin-top: 18px;
			}
		}

		.item {
			color: #303030;
		}
	}

	&__button {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 0px 16px 24px 16px;
	}

	&__register-btn {
		width: 100%;
		height: 48px;
		background: #932571;
		border: none;
		border-radius: 4px;
		color: #fff;
		padding: 12px 16px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
	}
}
</style>
