/* merriweather-regular - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/general/fonts/Merriweather/merriweather-v22-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Merriweather Regular'), local('Merriweather-Regular'),
		url('/general/fonts/Merriweather/merriweather-v22-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('/general/fonts/Merriweather/merriweather-v22-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/general/fonts/Merriweather/merriweather-v22-latin-regular.svg#Merriweather')
			format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/general/fonts/Merriweather/merriweather-v22-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Merriweather Italic'), local('Merriweather-Italic'),
		url('/general/fonts/Merriweather/merriweather-v22-latin-italic.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('/general/fonts/Merriweather/merriweather-v22-latin-italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-italic.woff')
			format('woff'),
		/* Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-italic.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/general/fonts/Merriweather/merriweather-v22-latin-italic.svg#Merriweather')
			format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/general/fonts/Merriweather/merriweather-v22-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Merriweather Bold'), local('Merriweather-Bold'),
		url('/general/fonts/Merriweather/merriweather-v22-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700.woff')
			format('woff'),
		/* Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700.svg#Merriweather')
			format('svg'); /* Legacy iOS */
}
/* merriweather-700italic - latin */
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
		url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.woff')
			format('woff'),
		/* Modern Browsers */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('/general/fonts/Merriweather/merriweather-v22-latin-700italic.svg#Merriweather')
			format('svg'); /* Legacy iOS */
}
