@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Medium.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Medium.woff')
			format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-MediumItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-MediumItalic.woff')
			format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Bold.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Bold.woff')
			format('woff');
	font-weight: bold;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Light.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Light.woff')
			format('woff');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-LightItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-LightItalic.woff')
			format('woff');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-BoldItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-BoldItalic.woff')
			format('woff');
	font-weight: bold;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-BlackItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-BlackItalic.woff')
			format('woff');
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-SemiboldItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-SemiboldItalic.woff')
			format('woff');
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline Regular';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-RegularItalic.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-RegularItalic.woff')
			format('woff');
	font-weight: normal;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Black.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Black.woff')
			format('woff');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Semibold.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Semibold.woff')
			format('woff');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Headline';
	src: url('/general/fonts/TiemposHeadline/TiemposHeadline-Regular.woff2')
			format('woff2'),
		url('/general/fonts/TiemposHeadline/TiemposHeadline-Regular.woff')
			format('woff');
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}
