<template>
	<section class="search-filter">
		<template v-for="filter in roomFilters">
			<chip
				:key="filter.id"
				:type="filter.active ? 'success' : 'default'"
				pill
				outlined
				medium
				@click="handleClickFilter(filter.key)"
			>
				<slot name="label" v-bind="filter"></slot>
			</chip>
		</template>
	</section>
</template>

<script>
import Chip from 'Consultant/components/Chip.vue';
import listRoomFilters from './listRoomFilters.json';

export default {
	name: 'RoomFilter',

	components: {
		Chip
	},

	props: {
		value: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			roomFilters: listRoomFilters
		};
	},

	watch: {
		value: {
			immediate: true,
			handler(val) {
				this.updateActiveFilter(val);
			}
		}
	},

	methods: {
		updateActiveFilter(val) {
			this.roomFilters = this.roomFilters.map(filter => ({
				...filter,
				active: filter.key === val
			}));
		},

		handleClickFilter(filter) {
			this.$emit('input', filter);
		}
	}
};
</script>

<style lang="scss" scoped>
.search-filter {
	margin-bottom: 28px;
	::v-deep .chip {
		cursor: pointer;
	}

	::v-deep .chip--outlined.chip.chip--default {
		background-color: #fff;
		border: 1px solid #dadada;
	}
}
</style>
