<template>
	<div v-sticky="{ stickyTop: -1 }" class="tabs">
		<ul class="nav nav-tabs">
			<li role="presentation" :class="{ active: activeTab == 'campus' }">
				<a role="tab" @click="changeActiveTab('campus')">
					Kampus
				</a>
			</li>

			<li role="presentation" :class="{ active: activeTab == 'area' }">
				<a role="tab" @click="changeActiveTab('area')">
					Area
				</a>
			</li>

			<li role="presentation" :class="{ active: activeTab == 'mrt' }">
				<a role="tab" @click="changeActiveTab('mrt')">
					Stasiun & Halte
				</a>
			</li>
		</ul>
	</div>
</template>

<script>
import VueSticky from 'vue-sticky';

export default {
	directives: {
		sticky: VueSticky
	},

	props: {
		activeTab: {
			type: String,
			required: true,
			default: 'campus'
		}
	},

	methods: {
		changeActiveTab(state) {
			if (this.activeTab !== state) {
				this.$emit('changed', state);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.tabs {
	margin-bottom: 15px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #fafafa;
	background-color: #fff;
	overflow: auto;
	white-space: nowrap;

	.nav-tabs {
		width: 100%;

		> li {
			cursor: pointer;
			margin-bottom: -1px;
			padding-right: 0;
			padding-left: 0;
			text-align: center;

			&.active > a,
			&.active > a:focus,
			&.active > a:hover {
				font-weight: bold;
				color: #303030;
				border: none;
				border-bottom: 2px solid #1baa56;
			}

			> a {
				position: relative;
				font-weight: bold;
				display: block;
				padding: 10px 15px;
				color: #757575;
				border: none;

				@media (max-width: 767px) {
					padding: 10px 8px;
					margin-right: 4px;
				}

				&:hover {
					font-weight: bold;
					background: #fff;
					color: #303030;
				}
			}
		}
	}
}
</style>
