<template>
	<div class="popular-secondary">
		<label v-if="activeTab == 'campus'" class="label-title">
			Kampus berdasarkan kota
		</label>

		<label v-else-if="activeTab == 'area'" class="label-title">
			Area berdasarkan kota
		</label>

		<label v-else class="label-title">
			Stasiun & Halte berdasarkan kota
		</label>

		<accordion v-if="activeTab == 'campus'" :one-at-atime="true">
			<panel
				v-for="(city, panelIndex) in activePopulars.cities"
				:id="`campusParent${panelIndex}`"
				:key="`campusParent${panelIndex}`"
			>
				<div
					slot="header"
					:class="[
						'panel-with-icon',
						{
							'popular-secondary__panel-active':
								selectedPanel.campus === panelIndex
						}
					]"
					@click="selectPanel(panelIndex, 'campus')"
				>
					<span>{{ city.city }}</span>

					<bg-icon
						size="md"
						:name="
							selectedPanel.campus === panelIndex
								? 'chevron-up'
								: 'chevron-down'
						"
					/>
				</div>

				<a
					v-for="(campus, i) in city.campus"
					:key="`campusChild${i}`"
					class="panel-child"
					@click="selectSuggestion(campus)"
				>
					<img
						src="/general/img/icons/ic_pin-location.svg"
						alt="ic_current-location"
						class="icon-pin"
					/>
					{{ campus.name }}
				</a>
			</panel>
		</accordion>

		<accordion v-else-if="activeTab == 'area'" :one-at-atime="true">
			<panel
				v-for="(city, panelIndex) in activePopulars.cities"
				:id="`areaParent${panelIndex}`"
				:key="`areaParent${panelIndex}`"
			>
				<div
					slot="header"
					:class="[
						'panel-with-icon',
						{
							'popular-secondary__panel-active':
								selectedPanel.area === panelIndex
						}
					]"
					@click="selectPanel(panelIndex, 'area')"
				>
					<span>{{ city.city }}</span>

					<bg-icon
						size="md"
						:name="
							selectedPanel.area === panelIndex ? 'chevron-up' : 'chevron-down'
						"
					/>
				</div>

				<a
					v-for="(area, i) in city.area"
					:key="`areaChild${i}`"
					class="panel-child"
					@click="selectSuggestion(area)"
				>
					<img
						src="/general/img/icons/ic_pin-location.svg"
						alt="ic_current-location"
						class="icon-pin"
					/>
					{{ area.name }}
				</a>
			</panel>
		</accordion>

		<accordion v-else-if="activeTab == 'mrt'" :one-at-atime="true">
			<panel
				v-for="(city, panelIndex) in activePopulars.cities"
				:id="`mrtParent${panelIndex}`"
				:key="`mrtParent${panelIndex}`"
			>
				<div
					slot="header"
					:class="[
						'panel-with-icon',
						{
							'popular-secondary__panel-active':
								selectedPanel.mrt === panelIndex
						}
					]"
					@click="selectPanel(panelIndex, 'mrt')"
				>
					<span>{{ city.city }}</span>

					<bg-icon
						size="md"
						:name="
							selectedPanel.mrt === panelIndex ? 'chevron-up' : 'chevron-down'
						"
					/>
				</div>

				<a
					v-for="(area, i) in city.area"
					:key="`mrtChild${i}`"
					class="panel-child"
					@click="selectSuggestion(area)"
				>
					<img
						src="/general/img/icons/ic_pin-location.svg"
						alt="ic_current-location"
						class="icon-pin"
					/>
					{{ area.name }}
				</a>
			</panel>
		</accordion>
	</div>
</template>

<script>
import 'bangul-vue/dist/bangul.css';
import { accordion, panel } from 'vue-strap';
import { BgIcon } from 'bangul-vue';

export default {
	components: {
		accordion,
		panel,
		BgIcon
	},

	props: {
		baseIcons: {
			type: String,
			default: 'glyph'
		},
		activeTab: {
			type: String,
			default: 'campus'
		},
		activePopulars: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			selectedPanel: {
				campus: null,
				area: null,
				mrt: null
			}
		};
	},

	watch: {
		activeTab() {
			this.selectedPanel = {
				campus: null,
				area: null,
				mrt: null
			};
		}
	},

	methods: {
		selectSuggestion(suggestion) {
			this.$emit('select', suggestion);
		},
		selectPanel(index, name) {
			if (this.selectedPanel[name] === index) {
				this.selectedPanel[name] = null;
			} else {
				this.selectedPanel[name] = index;
			}
		}
	}
};
</script>

<style lang="scss">
.popular-secondary {
	.panel {
		padding: 0;
		margin-top: 0 !important;
		border: 0;
		box-shadow: none;
	}

	.label-title {
		padding-left: 16px;

		@media (max-width: 767px) {
			padding-left: 8px;
		}
	}

	.panel-default {
		> .panel-heading {
			padding: 0;
			color: #333;
			background-color: #fff;
			border: 0;
		}
	}

	.panel-body {
		padding: 0;
		color: #333;
		border: 0 !important;
	}

	.panel-with-icon {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 15px 15px 16px;
		color: #333;
		background-color: #fff;
		border: 0;
		border-top: 1px solid #f7f7f7;

		@media (max-width: 767px) {
			padding: 15px 15px 15px 8px;
		}

		&:hover {
			background-color: #fafafa !important;
		}
	}

	.panel-child {
		display: block;
		padding: 0 16px;
		color: #333;
		cursor: pointer;
		border-top: 1px solid #f7f7f7;

		&:hover,
		&:focus,
		&:active {
			color: #333;
			text-decoration: none;
			background-color: #f7f7f7;
		}

		.icon-pin {
			height: 48px;
			margin: 8px 16px 8px 0;
		}
	}

	.popular-secondary__panel-active {
		background-color: #fafafa !important;
	}
}
</style>
