<template>
	<div class="popular-primary">
		<label class="label-title">Pencarian Populer</label>

		<div class="pills">
			<button
				v-for="(campus, i) in activePopulars.campus"
				:key="i"
				type="button"
				class="btn btn-popular"
				@click="selectSuggestion(campus)"
			>
				{{ campus.name }}
			</button>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		activePopulars: {
			type: Object,
			required: true
		}
	},

	methods: {
		selectSuggestion(suggestion) {
			this.$emit('select', suggestion);
		}
	}
};
</script>

<style lang="scss" scoped>
.popular-primary {
	> .pills {
		padding: 0 15px;

		@media (max-width: 767px) {
			padding: 8px;
		}
	}

	.btn-popular {
		margin: 0 15px 15px 0;
		color: #404040;
		background-color: #fff;
		border: 1px solid #dadada;
		border-radius: 30px;

		&:hover,
		&:active,
		&:focus {
			color: #404040;
			background-color: #fff;
			border: 1px solid #404040;
		}
	}

	.label-title {
		padding-left: 16px;

		@media (max-width: 767px) {
			padding-left: 8px;
		}
	}
}
</style>
