<template>
	<div v-if="suggestions.length > 0" class="search-box-modal__results">
		<div class="results-header">{{ categoryTitle }}</div>

		<a
			v-for="(suggestion, i) in suggestions"
			:key="i"
			class="results-list"
			@click="useSuggestion(suggestion)"
		>
			<div class="results-icon-wrapper">
				<div class="results-icon">
					<bg-icon size="md" :name="iconName" :title="iconTitle" />
				</div>
			</div>

			<div class="results-box">
				<label class="results-title" :title="suggestion.title"
					>{{ suggestion.title }}
				</label>

				<label
					v-if="category == 'Area'"
					class="results-subtitle"
					:title="suggestion.subtitle"
					>{{ suggestion.subtitle }}
				</label>

				<label
					v-else-if="category == 'Landing' && suggestion.tags.length > 0"
					class="results-subtitle"
					:title="suggestion.tags.join(', ')"
					>{{ suggestion.tags.join(', ') }}
				</label>
			</div>
		</a>
	</div>
</template>

<script>
import 'bangul-vue/dist/bangul.css';
import { BgIcon } from 'bangul-vue';

export default {
	components: {
		BgIcon
	},

	props: {
		category: {
			type: String,
			required: true
		},
		suggestions: {
			type: Array,
			required: true
		}
	},

	computed: {
		categoryTitle() {
			if (this.category === 'Area') {
				return 'Area';
			} else if (this.category === 'Landing') {
				return 'Pencarian terkait';
			} else {
				return 'Nama kost';
			}
		},
		iconName() {
			return this.category === 'Area' || this.category === 'Landing'
				? 'place-holder'
				: 'home';
		},
		iconTitle() {
			return this.category === 'Area' || this.category === 'Landing'
				? 'icon area'
				: 'icon home';
		}
	},

	methods: {
		useSuggestion(suggestion) {
			this.$emit('select', suggestion);
		}
	}
};
</script>

<style lang="scss" scoped>
.results-header {
	padding-left: 16px;
	margin: 12px 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #949494;
}

.results-list {
	display: flex;
	padding: 8px 15px;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	color: #333;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: #f7f7f7;
	}

	> img {
		height: 15px;
		margin-right: 10px;
	}

	label {
		display: block;
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
	}

	.results-icon-wrapper {
		display: flex;
		min-width: 48px;
		height: 48px;
		margin-right: 16px;
		align-items: center;
		justify-content: center;
		background: #f6f6f6;
		border: 1px solid #dadada;
		border-radius: 4px;

		.results-icon {
			display: flex;
			opacity: 0.7;
		}
	}
}

.results-box {
	overflow: hidden;
}

.results-title {
	font-weight: bold;
}
.results-subtitle {
	font-size: small;
	font-weight: normal !important;
	color: #9a9a9a;
}
</style>
