<template>
	<div class="search-box-modal__geoloc">
		<a role="button" class="geoloc-action" @click="getCurrentPosition">
			<img
				src="/general/img/icons/ic_nearby-location.svg"
				alt="ic_current-location"
			/>
			<span class="search-box-modal__geotext">Cari di lokasi sekitar saya</span>
		</a>

		<alert
			v-model="geolocationAlert"
			:type="'warning'"
			:placement="'top'"
			:width="'300px'"
			:duration="3000"
			:dismissable="false"
		>
			<strong>Perhatian!</strong>
			<p>Layanan GPS di perangkat Anda tidak aktif / tidak mendukung.</p>
		</alert>
	</div>
</template>

<script>
import { alert } from 'vue-strap';

export default {
	components: {
		alert
	},

	data() {
		return {
			geolocationAlert: false
		};
	},

	methods: {
		getCurrentPosition() {
			if (navigator.geolocation) {
				const options = {
					enableHighAccuracy: false,
					timeout: 10000,
					maximumAge: 1800000
				};

				const successFn = () => {
					if (Cookies.get('search-keyword') !== undefined) {
						Cookies.remove('search-keyword');
					}

					this.openSwalLoading();

					window.location.href = '/cari';
				};

				const errorFn = () => {
					this.geolocationAlert = true;
				};

				navigator.geolocation.getCurrentPosition(successFn, errorFn, options);
			} else {
				this.geolocationAlert = true;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.search-box-modal__geoloc {
	.geoloc-action {
		display: flex;
		align-items: center;
		padding: 8px 8px 8px 16px;
		margin-top: 16px;
		color: #404040;
		cursor: pointer;
		background-color: #fff;

		@media (max-width: 767px) {
			padding: 8px;
		}

		&:hover,
		&:focus,
		&:active {
			color: #404040;
			text-decoration: none;
			background-color: #f2f2f2;
		}

		> img {
			height: 48px;
			margin-right: 16px;
		}
	}
	.search-box-modal__geotext {
		font-size: 16px;
		line-height: 24px;
		color: #404040;
	}
}
</style>
