<template>
	<modal
		id="detailKostModalBooking"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
	>
		<div class="kost-booking-container">
			<div class="modal-booking-img">
				<img
					v-lazy="{
						src: '/general/img/pictures/img_booking_full.svg',
						loading: '/general/img/icons/ic_placeholder_loading.svg',
						error: '/general/img/icons/ic_placeholder_loading.svg'
					}"
					alt="img_booking_full"
					title="Booking Cancel"
				/>
			</div>

			<div class="modal-booking-caption">
				<div class="caption-title">
					<span>Belum bisa booking</span>
				</div>

				<div class="caption-content">
					<span>Selesaikan proses booking sebelumnya.</span>
				</div>
			</div>

			<div class="modal-booking-button">
				<button type="button" class="btn btn-primary" @click="openBookingList">
					Lihat history booking
				</button>

				<button type="button" class="btn btn-default" @click="closeModal">
					Batal
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		openBookingList() {
			window.open('/user/booking', '_self');
		},
		closeModal() {
			this.$emit('close', false);
		}
	}
};
</script>

<style lang="scss">
#detailKostModalBooking {
	.modal-header,
	.modal-footer {
		display: none !important;
	}
}
</style>

<style lang="scss" scoped>
.kost-booking-container {
	.modal-booking-img {
		text-align: center;

		img {
			height: 150px;
		}
	}

	.modal-booking-caption {
		text-align: center;
		margin: 2.5rem 0;

		.caption-title {
			font-size: 1.2em;
			font-weight: bold;
		}

		.caption-content {
			color: #999;
			margin-top: 1.5rem;
		}
	}

	.modal-booking-button {
		button {
			width: 100%;

			&.btn-primary {
				margin-bottom: 1.5rem;
			}

			&.btn-default {
				border: none;
				font-weight: bold;
				color: #1baa56;

				&:active,
				&:focus,
				&:hover {
					background-color: none;
					box-shadow: none;
				}
			}
		}
	}
}
</style>
