<template>
	<div class="placeholder-wrapper">
		<div class="placeholder-container">
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text placeholder-short shine-me"></div>
		</div>
		<div class="placeholder-container">
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text placeholder-short shine-me"></div>
		</div>
		<div class="placeholder-container">
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text shine-me"></div>
			<div class="placeholder-text placeholder-short shine-me"></div>
		</div>
	</div>
</template>

<style lang="scss">
.placeholder-wrapper {
	display: flex;
	flex-direction: column;
}

.placeholder-container {
	width: 50%;

	@media (max-width: 575px) {
		width: 100%;
	}
}

.placeholder-text {
	height: 0.5em;
	background-color: #e2e6ea;
	border-radius: 5px;
	margin: 2rem;
}

.placeholder-short {
	width: 70%;
}

.shine-me {
	-webkit-animation-name: ShineAnimation;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes ShineAnimation {
	from {
		background-repeat: no-repeat;
		background-image: -webkit-linear-gradient(
			top left,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0) 20%,
			rgba(255, 255, 255, 0.5) 45%,
			rgba(255, 255, 255, 0.8) 50%,
			rgba(255, 255, 255, 0.5) 55%,
			rgba(255, 255, 255, 0) 80%,
			rgba(255, 255, 255, 0) 100%
		);
		background-position: -300px -300px;
		background-size: 600px 600px;
	}
	to {
		background-repeat: no-repeat;
		background-position: 300px 300px;
	}
}
</style>
