<template>
	<modal
		id="modalDetailKostSwiperGallery"
		:value="isShow"
		:effect="modalEffect"
		@cancel="handleCloseGalleryModal"
		@closed="handleUpdateSwiperComponent"
	>
		<div slot="modal-header" class="kost-gallery-modal-header">
			<span
				class="kost-gallery-modal-header__close"
				@click="handleCloseGalleryModal"
			>
				<bg-icon name="close" size="md" />
			</span>
			<div
				v-if="isMobileGallery"
				slot="pagination"
				class="kost-gallery-modal-header__pagination"
			></div>
		</div>
		<div slot="modal-body" class="kost-gallery-modal-content">
			<template v-if="isSwiperReady">
				<swiper
					ref="swiperGallery"
					:options="swiperGalleryOptions"
					class="kost-gallery-modal-content__gallery"
					@slideChange="handleSwiperUpdate"
				>
					<swiper-slide
						v-for="(card, indexGallery) in images"
						:key="indexGallery"
					>
						<div class="kost-gallery-modal-content__gallery-slide">
							<img
								:data-src="card.large"
								class="swiper-lazy kost-gallery-modal-content__gallery-img"
							/>
						</div>
						<div class="swiper-lazy-preloader">
							<img
								class="swiper-lazy-placeholder"
								src="/general/img/pictures/placeholder/placeholder_loading.svg"
							/>
						</div>
					</swiper-slide>
					<template v-if="!isSingle && !isMobileGallery">
						<div
							slot="button-prev"
							class="kost-gallery-modal-content__gallery-prev swiper-arrow"
						>
							<bg-icon size="md" name="chevron-left" title="previous button" />
						</div>
						<div
							slot="button-next"
							class="kost-gallery-modal-content__gallery-next swiper-arrow"
						>
							<bg-icon size="md" name="chevron-right" title="next button" />
						</div>
					</template>
				</swiper>
				<swiper
					ref="swiperThumbnails"
					:options="swiperThumbnailsOption"
					:class="[
						'kost-gallery-modal-content__thumbnails',
						{
							'kost-gallery-modal-content__thumbnails--centered': isThumbnailCentered
						}
					]"
				>
					<swiper-slide
						v-for="(card, indexThumbnail) in images"
						:key="indexThumbnail"
						:class="[
							'kost-gallery-modal-content__thumbnails-slide',
							{
								'kost-gallery-modal-content__thumbnails-slide--active':
									indexThumbnail === activeIndex
							}
						]"
					>
						<img
							:src="card.large"
							class="kost-gallery-modal-content__thumbnails-img"
							@click="handleUpdateGallery(indexThumbnail)"
						/>
					</swiper-slide>
				</swiper>
			</template>
		</div>
	</modal>
</template>

<script>
import 'swiper/dist/css/swiper.css';

import { BgIcon } from 'bangul-vue';
import _get from 'lodash/get';
import { modal } from 'vue-strap';
import { swiper, swiperSlide } from 'vue-awesome-swiper';

export default {
	name: 'DetailKostSwiperGalleryModal',
	components: {
		BgIcon,
		modal,
		swiper,
		swiperSlide
	},
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		images: {
			type: Array,
			required: true
		},
		isSingle: {
			type: Boolean,
			required: false
		},
		isMobileGallery: {
			type: Boolean,
			default: false
		},
		modalEffect: {
			type: String,
			default: ''
		},
		isThumbnailCentered: {
			type: Boolean,
			default: false
		},
		swiperInitialSlide: {
			type: Number,
			default: 0
		},
		reInitSwiperOnUpdate: {
			type: Boolean,
			default: false
		},
		entryPoint: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			activeIndex: 0,
			isSwiperReady: false,
			swiperGalleryOptions: {
				lazy: {
					loadPrevNext: true,
					loadOnTransitionStart: true
				},
				loop: true,
				loopedSlides: this.images.length,
				initialSlide: 0,
				navigation: {
					nextEl: '.kost-gallery-modal-content__gallery-next',
					prevEl: '.kost-gallery-modal-content__gallery-prev'
				},
				keyboard: {
					enabled: true
				},
				simulateTouch: true,
				pagination: {
					el: '.kost-gallery-modal-header__pagination',
					type: 'fraction'
				}
			},
			swiperThumbnailsOption: {
				lazy: true,
				spaceBetween: 16,
				slidesPerView: 'auto',
				initialSlide: 0,
				touchRatio: 0,
				loop: false,
				loopedSlides: this.images.length,
				slideToClickedSlide: true
			}
		};
	},
	watch: {
		isShow(value) {
			if (value) {
				this.handleMoEngageTracker();
				const indexSlide = this.swiperInitialSlide;
				this.swiperGalleryOptions.initialSlide = indexSlide;
				this.swiperThumbnailsOption.initialSlide = indexSlide;
				this.activeIndex = indexSlide;
				this.handleUpdateSwiperOption();
				this.isSwiperReady = true;

				if (
					!this.$refs.swiperGallery &&
					!this.$refs.swiperThumbnails &&
					this.reInitSwiperOnUpdate
				)
					return;

				const swiperGallery = this.$refs.swiperGallery.swiper;
				const swiperThumbnails = this.$refs.swiperThumbnails.swiper;

				swiperGallery.slideTo(this.activeIndex, 0, false);
				swiperThumbnails.slideTo(this.activeIndex, 0, false);
			}
		}
	},
	created() {
		this.handleUpdateSwiperOption();
		this.isSwiperReady = !this.reInitSwiperOnUpdate;
	},
	methods: {
		handleMoEngageTracker() {
			tracker('moe', [
				'Photo Gallery Visited',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					entry_point: this.entryPoint,
					is_owner: _get(authCheck, 'owner', null),
					user_id: _get(authData, 'all.id', null)
				}
			]);
		},
		handleUpdateSwiperOption() {
			this.swiperGalleryOptions.loop = !this.isSingle;
			this.swiperGalleryOptions.keyboard.enabled = !this.isSingle;
			this.swiperGalleryOptions.touchRatio = this.isSingle ? 0 : 0.2;
			this.swiperThumbnailsOption.spaceBetween = this.isMobileGallery ? 0 : 16;
			this.swiperThumbnailsOption.freeMode = !this.isThumbnailCentered;
			this.swiperThumbnailsOption.touchRatio = this.isThumbnailCentered
				? 0
				: 0.2;
		},
		handleCloseGalleryModal() {
			this.$emit('close', false);
		},
		handleSwiperUpdate() {
			if (!this.$refs.swiperGallery && !this.$refs.swiperThumbnails) return;

			const swiperGallery = this.$refs.swiperGallery.swiper;
			const swiperThumbnails = this.$refs.swiperThumbnails.swiper;
			const swiperGalleryActiveIndex = swiperGallery.realIndex;

			let swiperThumbnailsIndex =
				swiperGalleryActiveIndex > this.images.length
					? swiperGalleryActiveIndex - this.images.length
					: swiperGalleryActiveIndex;

			if (swiperThumbnailsIndex === this.images.length) {
				swiperThumbnailsIndex = 0;
			}

			this.activeIndex = swiperThumbnailsIndex;
			swiperThumbnails.slideTo(swiperThumbnailsIndex);
		},
		handleUpdateGallery(indexThumbnail) {
			if (!this.$refs.swiperGallery) return;

			const swiperGallery = this.$refs.swiperGallery.swiper;

			swiperGallery.slideToLoop(indexThumbnail);
			this.$nextTick(() => {
				this.handleSwiperUpdate();
			});
		},
		handleUpdateSwiperComponent(status) {
			this.isSwiperReady = !this.reInitSwiperOnUpdate;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalDetailKostSwiperGallery {
	.modal-dialog {
		width: 800px;
		margin: 40px auto;

		@media (max-width: 800px) {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}

	.modal-content {
		width: 100%;
		margin: 0 auto;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		border-radius: 16px;
		overflow: hidden;
		border: 0;

		.modal-footer {
			display: none;
		}

		@media (max-width: 800px) {
			height: 100%;
			border-radius: 0;
			background: #000;
		}
	}

	.swiper-lazy-preloader {
		background: none;
		background-image: none;
		animation: none;

		.swiper-lazy-placeholder {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 200px;
			height: auto;
			transform: translate(-50%, -50%);
		}
	}

	.kost-gallery-modal-content__thumbnails .swiper-wrapper {
		display: flex;
		align-items: center;
	}

	.kost-gallery-modal-content__thumbnails--centered {
		width: 100%;

		.swiper-wrapper {
			justify-content: center;
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.kost-gallery-modal-header {
	position: relative;
	display: block;
	width: 100%;
	height: 80px;

	@media (max-width: 800px) {
		height: 56px;
	}

	.kost-gallery-modal-header__close {
		position: absolute;
		top: 38px;
		right: 38px;
		line-height: 100%;
		cursor: pointer;

		@media (max-width: 800px) {
			top: 16px;
			left: 16px;
			color: #fff;
		}
	}

	.kost-gallery-modal-header__pagination {
		position: absolute;
		top: 50%;
		right: 16px;
		left: auto;
		display: flex;
		max-width: 200px;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		align-items: center;
		justify-content: flex-end;
		transform: translate(0, -50%);
	}
}

.kost-gallery-modal-content {
	display: block;
	height: auto;
	padding: 0 !important;
	margin-top: 22px;
	overflow: auto;

	@media (max-width: 800px) {
		height: calc(100% - 200px);
		margin: 20px 0 60px;
	}
}

.kost-gallery-modal-content__gallery {
	position: relative;
	width: 100%;
	height: 320px;

	@media (max-width: 800px) {
		height: 100%;
	}

	.kost-gallery-modal-content__gallery-slide {
		position: relative;
		width: 596px;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
		background: none;

		@media (max-width: 800px) {
			width: 100%;
		}

		.kost-gallery-modal-content__gallery-img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: auto;
			height: 100%;
			cursor: pointer;
			transform: translate(-50%, -50%);

			@media (max-width: 800px) {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.swiper-lazy {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.kost-gallery-modal-content__gallery-prev,
.kost-gallery-modal-content__gallery-next {
	position: absolute;
	z-index: 1;
	display: flex;
	background-image: none;
	justify-content: center;
	align-items: center;
}

.kost-gallery-modal-content__gallery-prev {
	top: 50%;
	left: 38px;
	transform: translate(0, -50%);
}

.kost-gallery-modal-content__gallery-next {
	top: 50%;
	right: 38px;
	transform: translate(0, -50%);
}

.kost-gallery-modal-content__thumbnails {
	width: 692px;
	height: 112px;
	padding: 0 16px;
	margin: 24px auto 0;

	@media (max-width: 800px) {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 68px;
		padding: 0;
		margin: 0 auto;
	}

	.kost-gallery-modal-content__thumbnails-slide {
		position: relative;
		width: 120px;
		height: 80px;
		cursor: pointer;
		background-color: #999;
		filter: none;
		border-radius: 8px;

		@media (max-width: 800px) {
			width: 96px;
			height: 64px;
			border-radius: 0;
		}

		&:hover {
			filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.04))
				drop-shadow(0 6px 8px rgba(0, 0, 0, 0.24));

			@media (max-width: 800px) {
				filter: none;
			}
		}
	}

	.kost-gallery-modal-content__thumbnails-img {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		object-fit: cover;
		border-radius: 8px;

		&:hover {
			filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0))
				drop-shadow(0 6px 8px rgba(0, 0, 0, 0));

			@media (max-width: 800px) {
				filter: none;
			}
		}

		@media (max-width: 800px) {
			border-radius: 0;
		}
	}

	.kost-gallery-modal-content__thumbnails-slide--active {
		filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.04))
			drop-shadow(0 6px 8px rgba(0, 0, 0, 0.24));

		@media (max-width: 800px) {
			margin: 0 2px;
			filter: none;
			outline: 2px solid #fff;
		}
	}
}
</style>
