<template>
	<div
		v-if="!isOwner"
		id="kostAction"
		:class="[
			'kost-action',
			{
				'--kost-space': isKost
			}
		]"
	>
		<div class="kost-action__love">
			<button type="button" class="btn btn-action" @click="toggleLove">
				<img
					v-if="!isLove"
					:src="'/general/img/icons/ic_love_grey.svg'"
					alt="ic_love_grey"
					title="icon love grey"
				/>
				<img
					v-else
					:src="'/general/img/icons/ic_love_red.svg'"
					alt="ic_love_red"
					title="icon love red"
				/>
				<span>{{ displayLoveCount }} Disimpan</span>
			</button>
		</div>

		<div class="kost-action__share">
			<button
				v-if="isSupportNativeShare"
				type="button"
				class="btn btn-action"
				@click="shareThisPage"
			>
				<img
					v-lazy="'/general/img/icons/ic_share_grey.svg'"
					alt="ic_share_grey"
					title="icon share grey"
				/>
				<span>Bagikan</span>
			</button>

			<dropdown v-else>
				<u slot="button">
					<button type="button" class="btn btn-action">
						<img
							v-lazy="'/general/img/icons/ic_share_grey.svg'"
							alt="ic_share_grey"
							title="icon share grey"
						/>
						<span>Bagikan</span>
					</button>
				</u>

				<ul slot="dropdown-menu" class="dropdown-menu dropdown-share">
					<mami-share @track="moengageEventTrackShare"></mami-share>
				</ul>
			</dropdown>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { dropdown } from 'vue-strap';
import EventBus from '../../event-bus';

/* istanbul ignore next */
const MamiShare = () =>
	import(/* webpackChunkName: "detail_MamiShare" */ 'Js/@components/MamiShare');

export default {
	components: {
		dropdown,
		MamiShare
	},

	data() {
		return {
			isLove: false,
			displayLoveCount: 0,
			urlShare: '',
			isSupportNativeShare: false
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		authData() {
			return this.$store.state.authData;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		seq() {
			return this.$store.state.detail._id;
		},
		loveCount() {
			return this.$store.state.detail.love_count;
		},
		loveByMe() {
			return this.$store.state.detail.love_by_me;
		},
		slug() {
			return this.$store.state.detail.slug;
		},
		detailTypeName() {
			return this.$store.state.detailTypeName;
		},
		detail() {
			return this.$store.state.detail;
		},
		isOwner() {
			return _get(this.authCheck, 'owner');
		},
		isKost() {
			return this.detailTypeName.toLowerCase() === 'kost';
		}
	},

	created() {
		this.assignLoveCount();
		this.checkLoveByMe();
		this.assignUrlShare();
	},

	mounted() {
		this.checkNativeShareSupport();
	},

	methods: {
		checkNativeShareSupport() {
			if ('share' in navigator) {
				this.isSupportNativeShare = true;
			} else {
				this.isSupportNativeShare = false;
			}
		},
		toggleLove() {
			if (this.authCheck.all) {
				if (this.authCheck.user) {
					this.toggleLovePost();
				} else {
					this.swalError(
						null,
						'Silakan logout akun Pemilik dan login akun Pencari terlebih dahulu'
					);
				}
			} else {
				EventBus.$emit('openModalLogin');
			}
		},
		toggleLovePost() {
			this.openSwalLoading();

			axios
				.post('/stories/' + this.seq + '/love', {
					_id: this.seq,
					_token: this.token
				})
				.then(response => {
					if (response.data.status) {
						if (response.data.success === 'love') {
							this.isLove = true;
							this.displayLoveCount++;
							tracker('moe', [
								'[User] Submit Favorit',
								{
									is_booking: _get(this.detail, 'is_booking', false),
									is_premium: _get(this.detail, 'is_premium_owner', false),
									is_promoted: _get(this.detail, 'is_promoted', false),
									is_promo_ngebut: _get(this.detail, 'is_flash_sale', false),
									goldplus_status: _get(this.detail, 'goldplus_status', null),
									success_status: _get(response, 'data.status', false),
									property_type:
										this.detailTypeName.toLowerCase() || 'apartemen',
									property_id: this.seq,
									property_city: this.detail.area_city
										? this.detail.area_city
										: this.detail.city
										? this.detail.city
										: '',
									property_name: this.detail.room_title
										? this.detail.room_title
										: this.detail['room-title']
										? this.detail['room-title']
										: '',
									room_available: _get(this.detail, 'available_room', '')
								}
							]);

							this.closeSwalLoading();
							this.$toasted.show('Sukses tersimpan', {
								position: 'bottom-center',
								duration: 2000
							});
						} else if (response.data.success === 'unlove') {
							this.isLove = false;
							this.displayLoveCount--;
							this.closeSwalLoading();
						}
					} else {
						this.$toasted.show('Gagal, silahkan coba lagi', {
							position: 'bottom-center',
							duration: 2000
						});
					}
				})
				.catch(error => {
					this.closeSwalLoading();

					bugsnagClient.notify(error);
					this.$toasted.show('Gagal, silahkan coba lagi', {
						position: 'bottom-center',
						duration: 2000
					});
				});
		},
		assignLoveCount() {
			this.displayLoveCount = this.loveCount;
		},
		checkLoveByMe() {
			if (this.loveByMe) {
				this.isLove = true;
			}
		},
		assignUrlShare() {
			this.urlShare = `https://${location.host}/room/${this.slug}`;
		},
		shareThisPage() {
			navigator.share({
				title: document.title,
				text:
					document.head.querySelector('meta[name="description"]') == null
						? 'Cek halaman ini di Mamikos.com'
						: document.head.querySelector('meta[name="description"]').content,
				url: window.location.href
			});
		},
		moengageEventTrackShare(platform) {
			tracker('moe', [
				'[User] Click Share',
				{
					share_id: null,
					user_phone: _get(this.authData, 'all.phone_number', ''),
					user_name: _get(this.authData, 'all.name', ''),
					share_platform: platform || '',
					is_booking: _get(this.detail, 'is_booking', false),
					is_premium: _get(this.detail, 'is_premium_owner', false),
					is_promoted: _get(this.detail, 'is_promoted', false),
					success_status: true,
					property_type: this.detailTypeName || 'kost',
					property_id: this.seq,
					property_city: _get(this.detail, 'area_city', ''),
					property_name: _get(this.detail, 'room_title', ''),
					room_available: _get(this.detail, 'available_room', '')
				}
			]);
		}
	}
};
</script>

<style lang="scss">
#kostAction {
	button {
		&.btn {
			&.btn-default {
				&.dropdown-toggle {
					padding: 0;
					background: transparent;
					border: none;
					color: #fff;
					height: 52px;
					box-shadow: none;
				}
			}
		}
	}

	.dropdown-menu {
		position: absolute;
		display: flex;
		padding: 1rem 1rem 0.5rem;
		margin: 0;
		visibility: hidden;
		flex-wrap: wrap;
		justify-content: space-between;
		filter: alpha(opacity=0);
		border-radius: 4px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
		opacity: 0;
		transform: translate3d(-30px, -20px, 0);
		transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);

		li {
			margin: 0.2rem 0.5rem;
		}
	}

	.open {
		.dropdown-menu {
			visibility: visible;
			filter: alpha(opacity=100);
			border-radius: 5px;
			opacity: 1;
			transform: translate3d(-30px, -3px, 0);
		}
	}

	.social-icon {
		height: 28px !important;
	}
}
</style>

<style lang="scss" scoped>
.kost-action {
	display: flex;
	margin-top: 2rem;

	@media (max-width: 991px) {
		margin-top: 3rem;
	}
}

.--kost-space {
	margin-top: 32px;
}

.kost-action__love {
	margin-right: 2.5rem;

	@media (max-width: 991px) {
		margin-right: 1.5rem;
	}
}

.btn-action {
	display: flex;
	color: #333;
	background-color: #fff;
	border: 1px solid #bfbaba;
	align-items: center;

	&:focus {
		outline: none !important;
	}

	img {
		height: 1.42em;
		margin-right: 0.7rem;
	}
}

.kost-action__share {
	.btn-action {
		width: 8em;
	}

	.dropdown-share {
		li {
			cursor: pointer;
		}
	}
}
</style>
