<template>
	<div id="reviewReply" class="review-reply">
		<accordion type="info">
			<panel :is-open="isReply">
				<span slot="header" class="--green" @click="toggleReply">Balas</span>

				<div>
					<textarea
						type="text"
						class="form-control"
						placeholder="Tulis balasan Anda di sini..."
						v-model="replyReview"
					></textarea>
					<button type="submit" class="btn btn-success" @click="sendReply">
						Kirim Balasan
					</button>
				</div>
			</panel>
		</accordion>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel
	},

	props: {
		replyInfo: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			isReply: false,
			replyReview: ''
		};
	},

	methods: {
		toggleReply() {
			this.isReply = !this.isReply;
		},
		sendReply() {
			if (this.replyReview === '') {
				this.swalError(null, 'Anda tidak bisa menulis balasan kosong');
			} else if (this.replyReview.length < 10) {
				this.swalError(
					null,
					'Anda tidak bisa menulis balasan kurang dari 10 karakter.'
				);
			} else if (this.replyReview.length >= 10) {
				this.openSwalLoading('Mohon tunggu...', null);
				axios
					.post('/stories/review/reply', {
						song_id: this.replyInfo.song_id,
						id: this.replyInfo.review_id,
						content: this.replyReview,
						_token: this.$store.state.token
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.swalSuccessTimer(
								'Tersimpan!',
								'Balasan Anda telah berhasil kami simpan.',
								window.location.reload()
							);
						} else {
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						this.swalError(
							null,
							'Terjadi galat. Silakan coba lagi. (sendReply, DetailKostReviewAddReply)'
						);
					});
			}
		}
	}
};
</script>

<style lang="scss">
#reviewReply .panel {
	box-shadow: none;
}

#reviewReply .panel-group {
	margin-bottom: 0;
}

#reviewReply .panel-info {
	border: none;
}

#reviewReply .panel-info > .panel-heading {
	background-color: #fff;
	border: none;
	padding-top: 0.5rem;
	padding-bottom: 0;
}

#reviewReply .panel-info > .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
}
</style>

<style lang="scss" scoped>
.review-reply {
	.btn-success {
		margin-top: 1rem;
	}
}
</style>
