<template>
	<div
		id="kostReviewSection"
		ref="kostReviewSection"
		class="kost-review-container"
	>
		<div class="kost-review__title">
			<div class="review-title">
				<h2 class="label-normalize">Review</h2>
				<span class="glyphicon glyphicon-star icon-review --green"></span>
				<span>{{ rating }}</span>
			</div>
		</div>

		<div class="kost-review__detail col-xs-12 col-sm-8 col-md-10">
			<div
				v-for="(ratingFac, index) in facRating"
				:key="`${index}-rating`"
				class="kost-detail col-xs-6 col-sm-4"
			>
				<div class="kost-detail__title">
					<span>{{ ratingFac.name }}</span>
				</div>

				<div v-if="reviewData.total > 0" class="kost-detail__rating">
					<star-rating
						:rating="ratingFac.ratingValue || 0"
						custom-style="margin-right: 0.5rem"
					/>
				</div>

				<div v-else class="kost-detail__rating">
					<span
						v-for="indexNR in 5"
						:key="`${indexNR}-no-review`"
						class="glyphicon glyphicon-star icon-review --grey"
					></span>
				</div>
			</div>
		</div>

		<div v-if="reviewData.total > 1" class="kost-review__sort">
			<label class="horizontal" for="reviewSort">Urutkan</label>
			<select
				id="reviewSort"
				v-model="sortReview"
				class="review-sort form-control"
				@change="getMoreReviews"
			>
				<option value="new">Paling Baru</option>
				<option value="last">Paling Lama</option>
				<option value="best">Tertinggi</option>
				<option value="bad">Terendah</option>
			</select>
		</div>

		<div v-if="isLoading" class="kost-review__loading">
			<detail-kost-review-loading></detail-kost-review-loading>
		</div>

		<div v-else class="kost-review__list">
			<div
				v-for="(reviewer, index) in reviewData.review"
				:key="index"
				class="review-list"
			>
				<div class="review-list__main">
					<div class="review-content__title">
						<div class="reviewer-data">
							<div class="review-title__name">
								{{ reviewer.name }}
							</div>

							<span>&nbsp;| {{ reviewer.tanggal }}</span>
							<span class="glyphicon glyphicon-star icon-review --green"></span>
							<span>{{ ratingFormatter(reviewer.rating) }}</span>
						</div>

						<div v-if="reviewer.is_me" class="review-status">
							<span v-if="reviewer.status === 'waiting'" class="--waiting"
								>tunggu disetujui</span
							>
						</div>
					</div>

					<div class="review-content__text">
						<span>{{ reviewer.content }}</span>
					</div>

					<div
						v-if="reviewer.photo.length !== 0"
						class="review-content__images"
					>
						<img
							v-for="(image, i) in reviewer.photo"
							:key="i"
							v-lazy="{
								src: image.photo_url.medium,
								error:
									'/general/img/pictures/placeholder/placeholder_loading.svg',
								loading:
									'/general/img/pictures/placeholder/placeholder_loading.svg'
							}"
							class="review-image"
							alt="Foto review kost'"
							@click="openViewImage(reviewer.photo)"
						/>
					</div>

					<div
						v-if="reviewer.is_me && reviewer.status === 'live'"
						class="review-content__share"
					>
						<button
							type="button"
							class="btn btn-fb-share"
							@click="shareMyReview()"
						>
							<img
								v-lazy="'/general/img/icons/ic_facebook.svg'"
								alt="ic_facebook"
								title="icon facebook"
							/>
							<span>Bagikan</span>
						</button>
					</div>
				</div>

				<div
					v-if="Object.keys(reviewer.reply_owner).length !== 0"
					class="review-list__reply"
				>
					<div class="review-content__title">
						<label>Pemilik Kost&nbsp;</label>
						<span>| {{ reviewer.reply_owner.date }}</span>
					</div>

					<span>{{ reviewer.reply_owner.reply }}</span>

					<span
						v-if="reviewer.reply_count > 1"
						class="--green"
						@click="openReplyReview(reviewer)"
						>Lihat Semua Balasan</span
					>

					<div
						v-if="reviewer.reply_count === 1 && reviewer.can_reply"
						class="review-content__reply-box col-sm-6"
					>
						<detail-kost-review-add-reply
							:reply-info="reviewer"
						></detail-kost-review-add-reply>
					</div>
				</div>
			</div>
		</div>

		<div v-if="reviewData.total > 3" class="kost-review__pagination">
			<paginate
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			>
			</paginate>
		</div>

		<transition name="fade">
			<detail-kost-review-all-replies
				v-if="isReplyReview"
				:reviewer-data="reviewerData"
				@close="closeReplyReview"
			></detail-kost-review-all-replies>
		</transition>

		<transition name="fade">
			<detail-photo-carousel
				v-if="isViewImage"
				:initial-state="0"
				:carousel-gallery-photo="imageShowData"
				@close-carousel="closeViewImage"
			></detail-photo-carousel>
		</transition>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';
import _get from 'lodash/get';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

import DetailPhotoCarousel from '../DetailPhotoCarousel';
import StarRating from 'Js/@components/StarRating';
import DetailKostReviewAddReply from './DetailKostReviewAddReply';
import DetailKostReviewLoading from './DetailKostReviewLoading';
import DetailKostReviewAllReplies from './DetailKostReviewAllReplies';

import mixinGetQueryString from '../../../@mixins/MixinGetQueryString';

export default {
	components: {
		paginate,
		StarRating,
		DetailKostReviewAddReply,
		DetailKostReviewLoading,
		DetailKostReviewAllReplies,
		DetailPhotoCarousel
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			isLoading: false,
			reviewedCalled: false,
			reviewData: {
				total: 0,
				review: [],
				limit: 3
			},
			reviewerData: {},
			imageShowData: [],
			lastReviewData: {},
			facRating: [
				{ name: 'Kebersihan', tag: 'clean' },
				{ name: 'Keamanan', tag: 'safe' },
				{ name: 'Kenyamanan', tag: 'happy' },
				{ name: 'Fasilitas Kamar', tag: 'room_facilities' },
				{ name: 'Fasilitas Bersama', tag: 'public_facilities' },
				{ name: 'Harga', tag: 'pricing' }
			],
			sortReview: 'new',
			pageReview: 1,
			isReplyReview: false,
			isViewImage: false
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		seq() {
			return this.$store.state.detail._id;
		},
		rating() {
			return parseFloat(this.$store.state.detail.rating).toFixed(1);
		},
		totalPage() {
			const total = Math.ceil(this.reviewData.total / this.reviewData.limit);

			return Number(total);
		}
	},

	mounted() {
		this.checkIfReview();

		this.initReview();
	},

	methods: {
		ratingFormatter(value) {
			return parseFloat(value).toFixed(1);
		},
		checkIfReview() {
			if (this.getQueryString('review') === 'true') {
				setTimeout(() => {
					this.$refs.kostReviewSection.scrollIntoView();
				}, 1500);
			}
		},
		initReview() {
			window.addEventListener('scroll', e => {
				if (!this.reviewedCalled) {
					if (this.isInViewport(this.$refs.kostReviewSection)) {
						this.getReviews();
					}
				}
			});
		},
		isInViewport(elem) {
			const bounding = elem.getBoundingClientRect();

			return (
				bounding.top >= 0 &&
				bounding.left >= 0 &&
				bounding.bottom <=
					(window.innerHeight || document.documentElement.clientHeight) &&
				bounding.right <=
					(window.innerWidth || document.documentElement.clientWidth)
			);
		},
		async getReviews() {
			this.reviewedCalled = true;
			this.isLoading = true;
			try {
				const response = await makeAPICall({
					method: 'get',
					url: `/stories/review/${this.seq}`
				});
				if (response) {
					this.reviewData = response;
					this.facRating = this.facRating.map(rating => {
						const ratingValue = _get(response, `all_rating.${rating.tag}`, 0);
						return {
							...rating,
							ratingValue
						};
					});
					response.review &&
						response.review.length > 0 &&
						response.review[0].is_me &&
						this.importFacebookShare();
				}
			} catch (err) {
				bugsnagClient.notify(err);
			}
			this.isLoading = false;
		},
		importFacebookShare() {
			/* istanbul ignore next */
			window.fbAsyncInit = function() {
				FB.init({
					appId: '607562576051242',
					xfbml: true,
					version: 'v2.5'
				});
			};

			(function(d, s, id) {
				var js;
				var fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = '//connect.facebook.net/en_US/sdk.js';
				fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');
		},
		getMoreReviews() {
			this.isLoading = true;
			axios
				.get(
					'/stories/review/' +
						this.seq +
						'?page=' +
						this.pageReview +
						'&sort=' +
						this.sortReview
				)
				.then(response => {
					this.reviewData = response.data;
					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
				});
		},
		pageChanged(page) {
			this.$refs.kostReviewSection.scrollIntoView({ behavior: 'smooth' });

			this.pageReview = page;
			this.getMoreReviews();
		},
		openReplyReview(data) {
			this.reviewerData = data;
			this.isReplyReview = true;
		},
		closeReplyReview() {
			this.isReplyReview = false;
		},
		openViewImage(data) {
			this.imageShowData = data || [];
			this.isViewImage = true;
		},
		closeViewImage() {
			this.isViewImage = false;
		},
		shareMyReview() {
			/* istanbul ignore next */
			FB.ui(
				{
					method: 'share',
					mobile_iframe: true,
					quote: this.reviewData.review[0].share_word,
					hashtag: '#' + this.reviewData.review[0].share_hashtag,
					href: this.reviewData.review[0].share_url
				},
				function(response) {}
			);
		}
	}
};
</script>

<style lang="scss">
.pagination > li > a,
.pagination > li > span {
	line-height: 1.42857143;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	z-index: 0;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}

.--green {
	color: #1baa56;
}

.review-content__title {
	display: flex;
	align-items: center;

	@media (max-width: 425px) {
		align-items: flex-start;
	}

	.reviewer-data {
		display: flex;
		align-items: center;

		.review-title__name {
			max-width: 10em;
			margin-top: 0.3rem;
			overflow: hidden;
			font-weight: 700;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.review-content__share {
	margin-top: 0.5rem;

	.btn-fb-share {
		display: flex;
		font-weight: 600;
		background-color: #fff;
		border: 1px solid #ddd;
		align-items: center;

		img {
			width: 1.2em;
			margin-right: 0.7rem;
		}
	}
}

.review-image {
	width: 9em;
	height: 7em;
	margin: 1.5rem 0.7rem;
	margin-left: 0;
	cursor: pointer;

	@media (max-width: 575px) {
		width: 8em;
	}
}

.review-content__reply-box {
	padding-left: 0;
	margin-left: -1.5rem;
}

.review-list__main {
	margin-bottom: 0.5rem;

	.review-status {
		margin-left: 0.5rem;

		@media (max-width: 425px) {
			margin-left: 0;
		}

		.--waiting {
			padding: 0 0.5rem;
			color: #adadad;
			background-color: #f2f2f2;
		}

		.--green {
			cursor: pointer;
		}
	}
}

.review-list__reply {
	display: flex;
	margin-left: 2rem;
	flex-direction: column;

	.--green {
		margin-top: 0.5rem;
		cursor: pointer;
	}
}
</style>

<style lang="scss" scoped>
.kost-review-container {
	display: flex;
	padding-top: 2rem;
	flex-direction: column;

	@media (min-width: 768px) {
		border-top: 1px solid #e8e8e8;
	}
}

.icon-review {
	margin-right: 0.5rem;

	&.--grey {
		color: #ddd;
	}
}

.kost-review__title {
	display: flex;
	margin-bottom: 1.5rem;
	justify-content: space-between;
	align-items: center;
}

.review-title {
	display: flex;
	align-items: center;

	h2 {
		margin-top: 0.5rem;
		margin-right: 1rem;
	}
}

.review-add {
	span {
		color: #1baa56;
		cursor: pointer;
	}
}

.kost-review__detail {
	display: flex;
	flex-wrap: wrap;
	padding-right: 0;
	padding-left: 0;

	.kost-detail {
		padding-left: 0;
		margin-bottom: 1rem;
	}
}

.kost-review__sort {
	display: flex;
	align-items: center;
	margin-top: 1rem;

	.review-sort {
		width: auto;
		height: 2em;
		padding: 0.2rem 1.5rem;
		padding-right: 2.5rem;
		margin-left: 0.5rem;
	}
}

.kost-review__loading {
	margin-left: -2rem;
}

.kost-review__list {
	margin-top: 1rem;

	.review-list {
		padding-bottom: 1.5rem;
		margin-top: 1rem;
		border-bottom: 1px solid #f2f2f2;
	}

	.icon-review {
		margin-left: 0.7rem;
	}
}

.review-title__name {
	@media (max-width: 575px) {
		max-width: 6.5rem;
	}
}
</style>
