<template>
	<div id="replyReview" class="review-reply-container">
		<filter-close-button @press="hideReply"></filter-close-button>

		<div class="clearfix"></div>

		<div
			class="review-reply col-xs-12 stretch-xs col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3"
		>
			<div class="review-list__main">
				<div class="review-content__title">
					<div class="review-title__name">
						{{ reviewerData.name }}
					</div>

					<span>&nbsp;| {{ reviewerData.tanggal }}</span>
					<span class="glyphicon glyphicon-star icon-review --green"></span>
					<span>{{ reviewerData.rating }}</span>

					<div v-if="reviewerData.is_me && reviewerData.status !== 'live'">
						<span class="--waiting">tunggu disetujui</span>
					</div>
				</div>

				<div class="review-content__text">
					<span>{{ reviewerData.content }}</span>
				</div>

				<div
					v-if="reviewerData.photo.length !== 0"
					class="reviewe-content__images"
				>
					<img
						v-for="(image, index) in reviewerData.photo"
						v-lazy="{
							src: image.photo_url.small,
							error:
								'/general/img/pictures/placeholder/placeholder_loading.svg',
							loading:
								'/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						class="review-image"
						:key="index"
					/>
				</div>

				<div v-if="reviewerData.is_me" class="review-content__share">
					<button type="button" class="btn btn-fb-share">
						<img
							v-lazy="'/general/img/icons/ic_facebook.svg'"
							alt="ic_facebook"
							title="icon facebook"
						/>
						<span>Bagikan</span>
					</button>
				</div>
			</div>

			<div
				v-if="Object.keys(reviewerData.reply_owner).length !== 0"
				class="review-list__reply"
			>
				<div v-if="isLoading">
					<detail-kost-review-loading></detail-kost-review-loading>
				</div>

				<div v-else v-for="(data, index) in replies.reply" :key="index">
					<div v-if="data.is_show">
						<div class="review-content__title">
							<div class="review-title__name">
								<label>{{ data.name }}</label>
							</div>

							<span>&nbsp;| {{ data.time }}</span>
						</div>
						<span>{{ data.content }}</span>
					</div>
				</div>
			</div>

			<div
				v-if="reviewerData.can_reply && !isLoading"
				class="review-content__reply-box col-sm-6"
			>
				<detail-kost-review-add-reply
					:reply-info="reviewerData"
				></detail-kost-review-add-reply>
			</div>
		</div>
	</div>
</template>

<script>
import DetailKostReviewAddReply from './DetailKostReviewAddReply';
import DetailKostReviewLoading from './DetailKostReviewLoading';

const FilterCloseButton = () =>
	import(
		/* webpackChunkName: "detail_FilterCloseButton" */ 'Js/@components/FilterCloseButton'
	);

export default {
	components: {
		DetailKostReviewAddReply,
		DetailKostReviewLoading,
		FilterCloseButton
	},

	props: {
		reviewerData: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			replies: {
				reply: []
			},
			isLoading: false
		};
	},

	mounted() {
		this.getReplies();
	},

	methods: {
		getReplies() {
			this.isLoading = true;
			axios
				.get('/stories/review/reply/' + this.reviewerData.token)
				.then(response => {
					this.replies = response.data;
					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.swalError(
						null,
						'Terjadi galat. Silakan coba lagi. (getReplies, DetailKostReviewAllReplies)'
					);
				});
		},
		hideReply() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss" scoped>
.review-reply-container {
	position: fixed;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	background-color: #fff;
	overflow-x: hidden;
	z-index: 1060;

	@media (min-width: 768px) {
		padding: 2.5rem 5rem;
	}

	@media (max-width: 767px) {
		padding: 1.5rem 2rem;
	}
}

.review-reply {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}

.review-image {
	cursor: inherit;
}

.review-list__main {
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 1.5rem;
}

.review-list__reply {
	margin-left: 5rem;

	@media (max-width: 400px) {
		margin-left: 0;
	}
}

.review-content__reply-box {
	margin-left: 3.5rem;
	margin-top: -1rem;

	@media (max-width: 400px) {
		margin-left: -1.5rem;
	}
}

.icon-review {
	margin-left: 0.5rem;
	margin-right: 0.2rem;
}
</style>
