<template>
	<div class="detail-category-gallery">
		<div class="detail-category-header">
			<span
				class="detail-category-header__close"
				@click="$emit('close-carousel')"
			>
				<bg-icon name="close" size="md" />
			</span>
		</div>
		<div
			v-for="(categoryPhoto, categoryPhotoIndex) in categoryGalleryPhoto"
			:key="`category-${categoryPhoto.category_title}-${categoryPhotoIndex}`"
			class="detail-category-content"
		>
			<span class="detail-category-content__title">{{
				categoryPhoto.category_title
			}}</span>
			<div
				v-for="(photo, photoIndex) in categoryPhoto.items"
				:key="`photo-${photo.description}-${photoIndex}`"
				:class="[
					'detail-category-content__img-wrapper',
					{
						'detail-category-content__img-wrapper--cover': !photoIndex,
						'detail-category-content__img-wrapper--solo':
							!!photoIndex &&
							photoIndex % 2 &&
							photoIndex + 1 === categoryPhoto.items.length
					}
				]"
			>
				<picture class="detail-category-content__picture">
					<source media="(min-width:768px)" :srcset="photo.photo_url.large" />
					<source media="(max-width:767px)" :srcset="photo.photo_url.medium" />
					<img
						v-lazy="{
							src: photo.photo_url.large,
							error:
								'/general/img/pictures/placeholder/placeholder_loading.svg',
							loading:
								'/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						class="detail-category-content__img"
						:alt="photo.description"
						:title="photo.description"
						@click="$emit('toggle-category-carousel', photo.file_name)"
					/>
				</picture>
			</div>
		</div>
	</div>
</template>

<script>
import 'bangul-vue/dist/bangul.css';
import { BgIcon } from 'bangul-vue';

export default {
	name: 'DetailCategoryGallery',
	components: {
		BgIcon
	},
	props: {
		categoryGalleryPhoto: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-category-gallery {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1049;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	background-color: #fff;
	outline: 0;

	.detail-category-header {
		display: flex;
		width: 100%;
		max-width: 1012px;
		min-height: 64px;
		margin: 0 auto 56px;
		justify-content: flex-end;
		align-items: center;

		@media (max-width: 1050px) {
			max-width: calc(100% - 80px);
		}

		@media (max-width: 767px) {
			max-width: none;
			padding: 0 16px;
			margin: 0 auto;
		}

		.detail-category-header__close {
			line-height: 100%;
			color: #404040;
			cursor: pointer;
		}
	}
}

.detail-category-content {
	display: block;
	width: 100%;
	max-width: 700px;
	height: auto;
	margin: 0 auto 56px;

	@media (max-width: 767px) {
		margin: 0 auto 36px;
	}

	.detail-category-content__title {
		display: block;
		width: 100%;
		margin-bottom: 24px;
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
		color: #303030;

		@media (max-width: 700px) {
			padding-left: 16px;
			margin-bottom: 16px;
			font-size: 20px;
			line-height: 28px;
		}
	}

	.detail-category-content__img-wrapper {
		position: relative;
		display: block;
		float: left;
		width: calc((100% / 2) - 4px);
		height: 209px;
		margin-top: 8px;
		overflow: hidden;
		cursor: pointer;
		background-color: #d1d3e1;

		@media (max-width: 700px) {
			width: calc((100% / 2) - 4px);
			height: auto;
			padding-top: 33%;
		}

		&:nth-child(even) {
			margin-left: 8px;
		}

		&.detail-category-content__img-wrapper--solo {
			width: 100%;
			height: 284px;

			@media (max-width: 700px) {
				height: auto;
				padding-top: 56.25%;
			}
		}

		&.detail-category-content__img-wrapper--cover {
			width: 100%;
			height: 350px;
			margin-top: 0;
			margin-left: 0;

			@media (max-width: 700px) {
				height: auto;
				padding-top: 66%;
			}
		}
	}
}

.detail-category-content__picture {
	width: 100%;
	height: 100%;

	@media (max-width: 700px) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.detail-category-content__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
</style>
