<template>
	<div class="app-wrapper container">
		<navbar-custom :navigations="navigations"></navbar-custom>
		<listing-title />

		<component :is="isComponentType" />

		<div class="clearfix"></div>

		<router-view></router-view>
	</div>
</template>

<script>
import ListingTitle from './ListingTitle';
import VacancyListingFilter from './vacancy/VacancyListingFilter';
import KostListingFilter from './kost/KostListingFilter';
import ApartmentListingFilter from './apartment/ApartmentListingFilter';

const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom,
		ListingTitle,
		VacancyListingFilter,
		KostListingFilter,
		ApartmentListingFilter
	},
	data() {
		return {
			isComponentType: 'kost-listing-filter',
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	},
	computed: {
		listingType() {
			return this.$store.state.listingData.type;
		}
	},
	mounted() {
		if (this.listingType === 'job') {
			this.isComponentType = 'vacancy-listing-filter';
		} else if (this.listingType === 'kost') {
			this.isComponentType = 'kost-listing-filter';
		} else if (this.listingType === 'apartment') {
			this.isComponentType = 'apartment-listing-filter';
		}
	}
};
</script>

<style>
.app-wrapper {
	padding-top: 54px;
}
@media (max-width: 767px) {
	.app-wrapper {
		padding-top: 0;
	}
}

/*Normalize*/
h1,
h2,
h3,
strong {
	font-size: inherit;
	line-height: 1.15;
	font-weight: inherit;
	margin: 0;
	color: inherit;
	display: inline-block;
}

.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>
