<template>
	<div>

		<div class="flex flex-spaced-between title-icon">
			<span class="flex">
				<img src="assets/owner/ic_owner_kat_loker.png" title="ic_kost_kmr_mandi_dlm">
				<span><h1><strong>{{ listingTitle }}</strong></h1></span>
			</span>
		</div>

	</div>
</template>

<script>
export default {
	computed: {
		listingTitle() {
			return this.$store.state.listingData.keyword;
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-vertical-center {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.flex-spaced-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.title-icon {
	margin-top: 35px;
}
.title-icon span {
	font-weight: bold;
	font-size: 22px;
}
.title-icon img {
	width: 40px;
	height: 37.5px;
	margin-right: 10px;
}

.mobile-button {
	margin-top: 10px;
	text-align: right;
}
</style>