/** Base **/

body {
	font-family: 'Lato', sans-serif;
	color: #383746;
	background-color: #fff;
	position: relative;
	overflow-x: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

[v-cloak] {
	display: none !important;
}

.resize-observer {
	display: none !important;
}

img:-moz-loading {
	visibility: hidden;
}

textarea {
	resize: none;
}

a {
	color: #1baa56;
	text-decoration: none;
	cursor: pointer;
}

a:focus,
a:hover {
	color: #1baa56;
}

s {
	text-decoration: line-through;
}

b {
	font-weight: bold;
}

p.text {
	margin-bottom: 0;
}

.p-like {
	margin: 0 0 10px 0;
	font-size: 14px;
	display: block;
}
.span-like {
	margin: 0;
	font-size: 14px;
	display: inline;
}

.stretch {
	padding-right: 0;
	padding-left: 0;
}

@media (max-width: 767px) {
	.stretch-xs {
		padding-right: 0;
		padding-left: 0;
	}
	.stretch-r-xs {
		padding-right: 0;
	}
	.stretch-l-xs {
		padding-left: 0;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.stretch-sm {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.stretch-md {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (min-width: 1200px) {
	.stretch-lg {
		padding-right: 0;
		padding-left: 0;
	}
}

.d-inline {
	display: inline;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-none,
.input-none {
	display: none;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.full-height {
	height: 100%;
}

.half-height {
	height: 50%;
}

.pos-fixed {
	position: fixed;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.clickable {
	cursor: pointer;
}

.forbidden {
	cursor: not-allowed;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-center-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-between {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

button.closemodal {
	position: absolute;
	top: -3px;
	right: 4px;
	opacity: 1;
	z-index: 3;
	background-color: #eee;
	color: #1baa56;
	width: 35px;
	height: 35px;
	border-radius: 21px;
	opacity: 1;
	border: 7px solid #1baa56;
}

.text-bold {
	font-weight: bold;
}

.text-semibold {
	font-weight: 600;
}

.text-normal {
	font-weight: normal;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-smaller {
	font-size: smaller;
}

.text-mamigreen {
	color: #1baa56;
}

.text-mamiorange {
	color: #ec4a0c;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font-weight: inherit;
}

.label-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 5px 0;
	font-weight: bold;
}

.outline-mamigreen {
	outline: 2px #1baa56 solid;
}

.form-control::-webkit-input-placeholder {
	color: #999;
	opacity: 0.95;
}
.form-control::-moz-placeholder {
	color: #999;
	opacity: 0.95;
}
.form-control:-ms-input-placeholder {
	color: #999;
	opacity: 0.95;
}
.form-control::-ms-input-placeholder {
	color: #999;
	opacity: 0.95;
}

.form-control:focus {
	border-color: #1baa56;
}

.form-control--auto {
	width: auto;
}

select,
select.btn,
select.form-control {
	vertical-align: middle;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
		no-repeat right 0.75rem center/8px 10px;
	background-size: 8px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 20px !important;
}

.btn-disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	box-shadow: none;
	opacity: 0.65;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: none;
}

.btn-mamigreen {
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;
}

.btn-mamigreen:active,
.btn-mamigreen:hover,
.btn-mamigreen:focus {
	color: #fff;
	background-color: #109e4b;
	border-color: #109e4b;
	text-decoration: none;
}

.btn-mamigreen-link {
	color: #1baa56;
}

.btn-mamigreen-link:active,
.btn-mamigreen-link:hover,
.btn-mamigreen-link:focus {
	color: #109e4b;
	text-decoration: underline;
}

.btn-mamigreen-inverse,
.btn-mamigreen-inverse2 {
	color: #1baa56;
	background-color: #fff;
	border-color: #1baa56;
}

.btn-mamigreen-inverse:active,
.btn-mamigreen-inverse:hover,
.btn-mamigreen-inverse:focus {
	color: #1baa56;
	background-color: #dbdbdb;
	border-color: #1baa56;
	text-decoration: none;
}

.btn-mamigreen-inverse2:active,
.btn-mamigreen-inverse2:hover,
.btn-mamigreen-inverse2:focus {
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;
	text-decoration: none;
}

.btn-mamiorange {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
}

.btn-mamiorange:active,
.btn-mamiorange:hover,
.btn-mamiorange:focus {
	color: #fff;
	background-color: #e04205;
	border-color: #e04205;
	text-decoration: none;
}

.btn-mamiorange-link {
	color: #ec4a0c;
}

.btn-mamiorange-link:active,
.btn-mamiorange-link:hover,
.btn-mamiorange-link:focus {
	color: #e04205;
	text-decoration: underline;
}

.btn-mamiorange-inverse,
.btn-mamiorange-inverse2 {
	color: #ec4a0c;
	background-color: #fff;
	border-color: #ec4a0c;
}

.btn-mamiorange-inverse:active,
.btn-mamiorange-inverse:hover,
.btn-mamiorange-inverse:focus {
	color: #e04205;
	background-color: #dbdbdb;
	border-color: #e04205;
	text-decoration: none;
}

.btn-mamiorange-inverse2:active,
.btn-mamiorange-inverse2:hover,
.btn-mamiorange-inverse2:focus {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
	text-decoration: none;
}

.btn-mamigrey {
	color: #fff;
	background-color: #383746;
	border-color: #383746;
}

.btn-mamigrey:active,
.btn-mamigrey:hover,
.btn-mamigrey:focus {
	color: #fff;
	background-color: #2e2d39;
	border-color: #2e2d39;
	text-decoration: none;
}

.loading-spinner-green {
	color: #1baa56;
}

.loading-spinner-default {
	font-size: inherit;
}

.loading-spinner-small {
	font-size: 14px;
}

.loading-spinner-big {
	font-size: 42px;
}

.loading-viewport {
	height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

/*Leaflet*/
.leaflet-top,
.leaflet-bottom {
	z-index: 400 !important;
}

/*Wrapper*/

@media (max-width: 767px) {
	.app-wrapper {
		margin-top: 54px;
	}
}

@media (max-width: 767px) {
	.banner-is-hidden {
		margin-top: 0 !important;
	}
	.hidden-banner {
		margin-top: 54px !important;
	}
}

.modal-content {
	border: 1px solid #1baa56;
}

.modal-no-border .modal-header {
	border-bottom: none;
}
.modal-no-border .modal-footer {
	border-top: none;
}

.mami-loading-wrapper {
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*Modal Loading*/

#modalLoading.modal {
	z-index: 10010;
}

#modalLoading .modal-content {
	border: 1px solid #3cb33c;
}

#modalLoading .spinner {
	margin: 35px auto 30px;
	width: auto;
	text-align: center;
}

#modalLoading .spinner > div {
	width: 18px;
	height: 18px;
	background-color: #3cb33c;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#modalLoading .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

#modalLoading .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/*Pagination*/
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #1baa56;
	border-color: #109e4b;
	color: #fff !important;
}

.pagination > li > a,
.pagination > li > span,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	color: #1baa56 !important;
}

/*Checkbox & Radio Button*/
.open > .dropdown-toggle.btn-success {
	background-color: #1baa56;
	border-color: #1baa56;
}

.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
	color: #fff;
	background-color: #109e4b;
	border-color: #109e4b;
}

label.checkbox {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label.checkbox:not(.active) > .icon {
	background-color: #fff !important;
}

/*https://bootsnipp.com/snippets/ZkMKE*/
.checkbox {
	padding-left: 20px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	line-height: 1.2;
	padding-left: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox label::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type='checkbox'] {
	opacity: 0;
}

.checkbox input[type='checkbox']:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type='checkbox']:checked + label::after {
	font-family: 'FontAwesome';
	content: '\f00c';
}

.checkbox input[type='checkbox']:disabled + label {
	opacity: 0.65;
	cursor: not-allowed;
}

.checkbox input[type='checkbox']:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
	margin-right: 5px;
	margin-left: 0;
}

.checkbox-primary input[type='checkbox']:checked + label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type='checkbox']:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type='checkbox']:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type='checkbox']:checked + label::after {
	color: #fff;
}

.checkbox-info input[type='checkbox']:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type='checkbox']:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type='checkbox']:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type='checkbox']:checked + label::after {
	color: #fff;
}

.checkbox-success input[type='checkbox']:checked + label::before {
	background-color: #1baa56;
	border-color: #1baa56;
}

.checkbox-success input[type='checkbox']:checked + label::after {
	color: #fff;
}

.radio {
	padding-left: 20px;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 0;
	line-height: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio label::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: ' ';
	width: 8px;
	height: 8px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33),
		-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33),
		-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33),
		-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33),
		-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type='radio'] {
	opacity: 0;
}

.radio input[type='radio']:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio input[type='radio']:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio input[type='radio']:disabled + label {
	opacity: 0.65;
}

.radio input[type='radio']:disabled + label::before {
	cursor: not-allowed;
}

.radio.radio-inline {
	margin-top: 0;
	margin-left: 0;
	margin-right: 6px;
}

.radio.radio-inline.input-field {
	margin: 0;
	padding: 0;
}

.radio-primary input[type='radio'] + label::after {
	background-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::before {
	border-color: #428bca;
}

.radio-primary input[type='radio']:checked + label::after {
	background-color: #428bca;
}

.radio-danger input[type='radio'] + label::after {
	background-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::before {
	border-color: #d9534f;
}

.radio-danger input[type='radio']:checked + label::after {
	background-color: #d9534f;
}

.radio-info input[type='radio'] + label::after {
	background-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::before {
	border-color: #5bc0de;
}

.radio-info input[type='radio']:checked + label::after {
	background-color: #5bc0de;
}

.radio-warning input[type='radio'] + label::after {
	background-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::before {
	border-color: #f0ad4e;
}

.radio-warning input[type='radio']:checked + label::after {
	background-color: #f0ad4e;
}

.radio-success input[type='radio'] + label::after {
	background-color: #1baa56;
}

.radio-success input[type='radio']:checked + label::before {
	border-color: #1baa56;
}

.radio-success input[type='radio']:checked + label::after {
	background-color: #1baa56;
}

/*Material Card*/

.material-card {
	background: #fff;
	border-radius: 2px;
	position: relative;
}

.material-card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (min-width: 992px) {
	.material-card-1:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
}

.material-card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-card-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-card-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-card-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/** Modal Login **/

#login .modal-content {
	border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #1baa56;
}

#login .modal-dialog {
	width: 300px;
}

.modal-title.login-title {
	text-align: center;
	color: #1baa56;
	font-weight: bold;
	padding-bottom: 5px;
}

.modal-title.login-title.login-select {
	text-align: center;
	color: #000;
	font-weight: bold;
	padding-bottom: 10px;
}

.login-description {
	color: #3e5168;
}

.login-popup-img {
	width: 134px;
	height: auto;
	margin-bottom: 15px;
}

.login-selector {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #2e2d39;
}

.facebook-login-button {
	width: 75%;
	margin: 0px auto auto;
	background-color: #3b5998;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.modal-title.login-title.login-title-google {
	padding-top: 15px;
	padding-bottom: 5px;
}

.google-login-button {
	width: 75%;
	margin: 0 auto auto;
	background-color: #fff;
	padding: 9px 15px 8px 15px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.google-login-button img {
	width: 22px;
	margin-bottom: 1px;
}

.navbar-brand.navbar-logo {
	position: relative;
}

.new-label {
	background-color: #f95516;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	right: -3px;
	top: 3px;
	font-size: 10px;
	padding: 0px 5px;
	line-height: 17px;
	letter-spacing: 1px;
	font-weight: 600;
}

.category-intro-highlight {
	background-color: rgba(255, 255, 255, 0.5);
}

.swal2-container {
	z-index: 22435001 !important;
}

.toasted-default {
	background-color: #383746 !important;
	color: #fff !important;
}
