body {
	font-family: 'Lato', sans-serif;
	color: #383746;
	background-color: #fff;
}

[v-cloak] {
	display: none !important;
}

.resize-observer {
	display: none !important;
}

img:-moz-loading {
	visibility: hidden;
}

input:disabled,
button:disabled {
	cursor: not-allowed;
}

.p-like {
	margin: 0 0 10px 0;
	font-size: 14px;
	display: block;
}
.span-like {
	margin: 0;
	font-size: 14px;
	display: inline;
}

.col-stretch {
	padding-right: 0;
	padding-left: 0;
}

@media (max-width: 575.98px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.hidden-sm {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.hidden-md {
		display: none !important;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hidden-lg {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden-xl {
		display: none !important;
	}
}

.material-card {
	background: #fff;
	border-radius: 2px;
	position: relative;
}

.material-card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (min-width: 992px) {
	.material-card-1:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
}

.material-card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-card-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-card-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-card-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* ===== COLORS AND STUFF ===== */

/* == BUTTONs == */
.btn-mamigreen {
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;
}
.btn-mamigreen:active,
.btn-mamigreen:hover,
.btn-mamigreen:focus {
	color: #fff;
	background-color: #109e4b;
	border-color: #109e4b;
	text-decoration: none;
}

.btn-mamigreen-link {
	color: #1baa56;
}
.btn-mamigreen-link:active,
.btn-mamigreen-link:hover,
.btn-mamigreen-link:focus {
	color: #109e4b;
	text-decoration: underline;
}

.btn-mamigreen-inverse,
.btn-mamigreen-inverse2 {
	color: #1baa56;
	background-color: #fff;
	border-color: #1baa56;
}
.btn-mamigreen-inverse:active,
.btn-mamigreen-inverse:hover,
.btn-mamigreen-inverse:focus {
	color: #1baa56;
	background-color: #dbdbdb;
	border-color: #1baa56;
	text-decoration: none;
}
.btn-mamigreen-inverse2:active,
.btn-mamigreen-inverse2:hover,
.btn-mamigreen-inverse2:focus {
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;
	text-decoration: none;
}

.btn-mamiorange {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
}
.btn-mamiorange:active,
.btn-mamiorange:hover,
.btn-mamiorange:focus {
	color: #fff;
	background-color: #e04205;
	border-color: #e04205;
	text-decoration: none;
}

.btn-mamiorange-link {
	color: #ec4a0c;
}
.btn-mamiorange-link:active,
.btn-mamiorange-link:hover,
.btn-mamiorange-link:focus {
	color: #e04205;
	text-decoration: underline;
}

.btn-mamiorange-inverse,
.btn-mamiorange-inverse2 {
	color: #ec4a0c;
	background-color: #fff;
	border-color: #ec4a0c;
}
.btn-mamiorange-inverse:active,
.btn-mamiorange-inverse:hover,
.btn-mamiorange-inverse:focus {
	color: #e04205;
	background-color: #dbdbdb;
	border-color: #e04205;
	text-decoration: none;
}
.btn-mamiorange-inverse2:active,
.btn-mamiorange-inverse2:hover,
.btn-mamiorange-inverse2:focus {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
	text-decoration: none;
}

.btn-material-orange {
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
	border-top-color: rgb(228, 73, 37);
	border-right-color: rgb(228, 73, 37);
	border-bottom-color: rgb(228, 73, 37);
	border-left-color: rgb(228, 73, 37);
	box-shadow: 3px 3px 3px 3px #f59e80;
}
.btn-material-orange:hover,
.btn-material-orange:active,
.btn-material-orange:focus {
	box-shadow: none;
	background-color: #e04205;
	border-color: #e04205;
}

.btn-material-orangeinverse {
	color: #ec4a0c;
	background-color: #fff;
	border-color: #ec4a0c;
	border-top-color: rgb(228, 73, 37);
	border-right-color: rgb(228, 73, 37);
	border-bottom-color: rgb(228, 73, 37);
	border-left-color: rgb(228, 73, 37);
	box-shadow: 3px 3px 3px 3px #f59e80;
}
.btn-material-orangeinverse:hover,
.btn-material-orangeinverse:active,
.btn-material-orangeinverse:focus {
	box-shadow: none;
	color: #e04205;
	background-color: #dbdbdb;
	border-color: #e04205;
}

/* == URLS LINKS == */

a:hover {
	color: #1baa56;
	text-decoration: underline;
}

a {
	color: #1baa56;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

/* CSS SHORTCUT */

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font-weight: inherit;
}

.label-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 5px 0;
	font-weight: bold;
}

/*Leaflet*/
.leaflet-top,
.leaflet-bottom {
	z-index: 400 !important;
}

/*Hide Addthis Banner App on Desktop*/
@media (min-width: 992px) {
	.addthis_bar.addthis_bar_bottom {
		display: none;
		visibility: hidden;
	}
}

.swal2-container {
	z-index: 22435001 !important;
}
