<template>
	<div class="add-potential-tenant">
		<template v-if="showEmailSearchForm">
			<search-tenant-by-phone
				:phone.sync="phone"
				@onSearch="handleSearchPhone"
			></search-tenant-by-phone>
		</template>
		<template v-else>
			<search-input-property
				:active.sync="isSearchActive"
				@change="handleSelectProperty"
			></search-input-property>
			<div v-if="loadingGetDetailTenant" class="row">
				<div v-for="i in 10" :key="i" class="col-xs-12 mb-3">
					<shimmer-placeholder></shimmer-placeholder>
				</div>
			</div>
			<template v-else>
				<div v-if="!isSearchActive" class="row">
					<div class="col-xs-12 mb-2">
						<input-field
							v-model="tenantData.email"
							type="email"
							placeholder="Email Penyewa"
							legend="Email"
							rules="required|email"
						></input-field>
					</div>
					<div class="col-xs-12 mb-2">
						<input-field
							v-model="tenantData.name"
							placeholder="Nama Lengkap"
							legend="Nama Lengkap"
							rules="required|min:3|max:100"
						></input-field>
					</div>
					<div class="col-xs-12 mb-2">
						<input-field
							v-model="tenantData.phone_number"
							placeholder="08xxx"
							legend="Nomor HP"
							rules="required|min:3|phone"
						></input-field>
					</div>
					<div class="col-xs-12 mb-2">
						<consultant-radio-group
							v-model="tenantData.gender"
							legend="Jenis Kelamin"
							:options="genderOptions"
							inline
						></consultant-radio-group>
					</div>
					<div class="col-xs-12 mb-2">
						<consultant-select
							v-model="tenantData.job_information"
							legend="Okupasi"
							placeholder="Okupasi"
							:options="okupasiOptions"
							insensitive
						></consultant-select>
					</div>
					<div class="col-xs-12 mb-2">
						<shimmer-placeholder
							v-if="loadingGetDetailProperty"
						></shimmer-placeholder>
						<input-field
							v-else
							:value="propertySelected.name"
							placeholder="Cari Kos"
							legend="Nama Kos"
							rules="required"
							@focus="isSearchActive = true"
						>
							<img
								slot="append"
								src="/general/img/icons/ic_search-consultant_black.svg"
								alt="Icon search"
							/>
						</input-field>
					</div>
					<div class="col-xs-12 mb-2">
						<shimmer-placeholder
							v-if="loadingGetDetailProperty"
						></shimmer-placeholder>
						<consultant-select
							v-else
							v-model="tenantData.duration_unit"
							legend="Hitungan Sewa"
							placeholder="Pilih hitungan sewa"
							:options="countRentOptions"
							insensitive
							@change="handleDurationUnitChange"
						></consultant-select>
					</div>
					<div class="col-xs-12 mb-2">
						<shimmer-placeholder
							v-if="loadingGetDetailProperty"
						></shimmer-placeholder>
						<input-currency
							v-else
							v-model="tenantData.price"
							currency="Rp"
							separator="."
							:min="0"
							label="Harga Sewa"
							outlined
						></input-currency>
					</div>
					<div class="col-xs-12 mb-2">
						<label>Jatuh Tempo</label>
						<ct-datepicker
							:value="tenantData.scheduled_date || ''"
							class-name="potential-datepicker"
							:disabled-dates="{}"
							:format="formatDate"
							picker-on-above
							full-width
							black-icon
							outlined-activator
							placeholder="Pilih tanggal jatuh tempo"
							@selected="handleDateSelected"
						></ct-datepicker>
					</div>

					<div class="col-xs-12 mb-2">
						<input-note
							:remarks-category.sync="tenantData.remarks_category"
							:remarks-note.sync="tenantData.remarks_note"
						></input-note>
					</div>

					<div class="col-xs-12 mt-1">
						<div class="row">
							<div v-if="isUpdatePage" class="col-xs-6">
								<consultant-button block large outline @click="goBack">
									Batal
								</consultant-button>
							</div>
							<div :class="[isUpdatePage ? 'col-xs-6' : 'col-xs-12']">
								<consultant-button
									:loading="loadingSaveData"
									block
									large
									:disabled="isButtonDisabled"
									loading-text="Menyimpan..."
									@click="handleSaveData"
								>
									{{ isUpdatePage ? 'Simpan' : 'Daftarkan Penyewa' }}
								</consultant-button>
							</div>
						</div>
					</div>
				</div>
			</template>
		</template>
	</div>
</template>
<script>
import InputField from 'Consultant/components/InputField.vue';
import InputCurrency from 'Consultant/components/InputCurrency.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import ConsultantRadioGroup from 'Consultant/components/ConsultantRadioGroup.vue';
import ConsultantSelect from 'Consultant/components/ConsultantSelect.vue';
import ConsultantDatepicker from 'Consultant/components/ConsultantDatepicker.vue';
import SearchInputProperty from './SearchInputProperty.vue';
import SearchTenantByPhone from './SearchTenantByPhone.vue';
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';
import InputNote from 'Consultant/components/input-note';

import countRentOptions from './data/countRentOptions.json';
import deleteOptionalField from 'Consultant/helpers/deleteOptionalField.js';

import EventBus from 'Consultant/event-bus';

export default {
	name: 'AddPotentialTenant',
	components: {
		InputField,
		InputCurrency,
		ConsultantButton,
		ConsultantRadioGroup,
		ConsultantSelect,
		SearchInputProperty,
		SearchTenantByPhone,
		'ct-datepicker': ConsultantDatepicker,
		InputNote,
		ShimmerPlaceholder
	},
	data() {
		return {
			isSearchActive: false,
			phone: '',
			isPhoneHasBeenSearched: false,
			tenantData: {
				id: null,
				room_id: null,
				room_name: null,
				name: '',
				email: '',
				phone_number: '',
				gender: '',
				job_information: '',
				scheduled_date: '',
				price: '',
				duration_unit: '',
				remarks_category: '',
				remarks_note: ''
			},
			propertySelected: {},
			loadingGetDetailTenant: false,
			loadingSaveData: false,
			genderOptions: [
				{
					label: 'Laki-laki',
					value: 'male'
				},
				{
					label: 'Perempuan',
					value: 'female'
				}
			],
			okupasiOptions: [
				{
					label: 'Mahasiswa',
					value: 'Mahasiswa'
				},
				{
					label: 'Karyawan',
					value: 'Karyawan'
				}
			],
			countRentOptions: countRentOptions,
			loadingGetDetailProperty: false,
			preventChangePrice: true
		};
	},

	computed: {
		isUpdatePage() {
			return !!this.$route.params.tenantId;
		},
		isButtonDisabled() {
			return (
				!this.tenantData.name ||
				!this.tenantData.email ||
				!this.tenantData.phone_number ||
				!this.tenantData.job_information ||
				!this.tenantData.duration_unit ||
				!this.tenantData.scheduled_date ||
				!this.tenantData.price ||
				this.$isEmpty(this.tenantData.gender) ||
				this.$isEmpty(this.propertySelected)
			);
		},
		showEmailSearchForm() {
			return (
				!this.isPhoneHasBeenSearched &&
				!this.tenantData.email &&
				!this.isUpdatePage
			);
		}
	},

	created() {
		if (this.isUpdatePage) {
			this.initDataTenant();
		}
	},

	methods: {
		handleSelectProperty(propertyData) {
			this.initPropertyDetail(propertyData.id);
			this.isSearchActive = false;
		},

		goBack() {
			this.$router.go(-1);
		},

		formatDate(date) {
			return this.$dayjs(date).format('DD MMMM YYYY');
		},

		handleDateSelected(date) {
			const formatedDate = this.$dayjs(date).format('YYYY-MM-DD');
			this.tenantData.scheduled_date = formatedDate;
		},

		async handleSaveData() {
			if (!this.isButtonDisabled) {
				this.loadingSaveData = true;
				const dataTenant = deleteOptionalField(
					{
						...this.tenantData,
						room_id: this.propertySelected.id,
						room_name: this.propertySelected.name
					},
					['remarks_category', 'remarks_note']
				);

				const resultSaveData = await this.saveDataTenant(dataTenant);
				if (resultSaveData.success) {
					if (this.isUpdatePage) {
						this.$router.push({
							name: 'potential-tenant.detail',
							params: {
								id: this.$route.params.tenantId
							},
							query: {
								from: 'edit_page'
							}
						});
					} else {
						this.$router.push({ name: 'potential-tenant' });
					}
				} else {
					const messages = this.mixGetMessagesFromError(
						resultSaveData.error,
						3
					);
					EventBus.$emit('openAlert', messages);
				}
				this.loadingSaveData = false;
			}
		},

		mixGetMessagesFromError(errors = {}, maxReturn) {
			const messages = [];
			for (const [_, message] of Object.entries(errors)) {
				messages.push(message[0]);
			}
			return messages.splice(0, maxReturn);
		},

		async saveDataTenant(dataTenant) {
			const result = { success: false, error: {} };
			try {
				const response = await axios.post(
					'/api/tenant/potential/addOrUpdate',
					dataTenant
				);
				if (response.data.status) {
					result.success = true;
				} else {
					result.error = response.data.messages;
				}
			} catch (error) {
				bugsnagClient.notify(error);
				result.error = { error: ['Terjadi galat. Silakan coba lagi.'] };
			}
			return result;
		},

		handleSearchPhone(tenantData) {
			this.isPhoneHasBeenSearched = true;
			this.tenantData = { ...this.tenantData, ...tenantData };
			this.$route.meta.navbarOptions.onClickBack = () => {
				this.resetState();
				delete this.$route.meta.navbarOptions.onClickBack;
			};
		},

		resetState() {
			this.tenantData = {
				id: null,
				room_id: null,
				room_name: null,
				name: '',
				email: '',
				phone_number: '',
				gender: '',
				job_information: '',
				scheduled_date: '',
				price: '',
				duration_unit: '',
				remarks_category: '',
				remarks_note: ''
			};
			this.propertySelected = {};
			this.isPhoneHasBeenSearched = false;
		},

		async initDataTenant() {
			const tenantId = this.$route.params.tenantId;
			this.loadingGetDetailTenant = true;
			const response = await this.getDetailTenant(tenantId);
			this.loadingGetDetailTenant = false;
			if (response.success) {
				this.isPhoneHasBeenSearched = true;
				this.tenantData = { ...this.tenantData, ...response.data };
				if (this.tenantData.property_id) {
					this.initPropertyDetail(this.tenantData.property_id, false);
				}
			} else {
				this.$router.go(-1);
			}
		},

		async initPropertyDetail(propertyId, needChangePrice = true) {
			this.loadingGetDetailProperty = true;
			const property = await this.getPropertyDetailById(propertyId);
			if (property.success) {
				this.propertySelected = {
					...property.data,
					selected: true
				};
				this.countRentOptions = this.sortingRentOptionBy(
					property.data,
					countRentOptions
				);

				this.tenantData.duration_unit =
					this.tenantData.duration_unit || 'month';

				if (needChangePrice) {
					this.tenantData.price = this.getPriceCurrent(
						this.tenantData.duration_unit,
						this.countRentOptions,
						property.data
					);
				}
			} else {
				EventBus.$emit('openAlert', 'Gagal Mendapatkan data properti');
				this.propertySelected = {};
				this.countRentOptions = countRentOptions;
				this.tenantData.duration_unit = '';
				this.tenantData.price = '';
			}
			this.loadingGetDetailProperty = false;
		},

		async getDetailTenant(tenantId) {
			const result = { success: false, data: {} };

			try {
				const response = await axios.get('/api/tenant/potential/' + tenantId);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data[0];
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		},

		async getPropertyDetailById(propertyId) {
			const result = { success: false, data: {} };
			try {
				// eslint-disable-next-line no-undef
				const response = await axios.get(`/api/property/${propertyId}`);
				if (response.data.status && response.data.data.length) {
					result.success = true;
					result.data = response.data.data[0];
				}
			} catch (error) {
				// eslint-disable-next-line no-undef
				bugsnagClient.notify(error);
			}
			return Promise.resolve(result);
		},

		sortingRentOptionBy(property, options) {
			return options.filter(option => property[option.propertyField]);
		},

		getPriceCurrent(unit, options, property) {
			if (options.length) {
				const optionSelected = options.find(option => option.value === unit);

				if (optionSelected) {
					return property[optionSelected.propertyField] || '';
				}
			}

			return '';
		},

		handleDurationUnitChange(unit) {
			if (this.isUpdatePage && this.preventChangePrice) {
				this.preventChangePrice = false;
				return;
			}

			this.tenantData.price = this.getPriceCurrent(
				unit,
				this.countRentOptions,
				this.propertySelected
			);
		}
	}
};
</script>
<style lang="scss" scoped>
/* stylelint-disable-next-line */
.mb-2 {
	margin-bottom: 20px;
}
</style>

<style lang="scss">
.vdp-datepicker.potential-datepicker {
	/* stylelint-disable-next-line */
	> div > input {
		font-size: 14px !important;
		/* stylelint-disable-next-line  */
		&::placeholder {
			color: #999 !important;
		}
	}
}
</style>
