<template>
	<div class="edit-notes">
		<div class="row">
			<div class="col-xs-12">
				<input-note
					:remarks-category.sync="notes.note_category"
					:remarks-note.sync="notes.content"
				></input-note>
			</div>
			<div class="col-xs-12 mt-3">
				<consultant-button
					:loading="loading"
					block
					large
					:disabled="disableButtonSubmit"
					loading-text="Menyimpan..."
					@click="handleSaveNote"
				>
					Simpan
				</consultant-button>
			</div>
		</div>
	</div>
</template>

<script>
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import InputNote from 'Consultant/components/input-note';

import mixinUniqueId from 'Consultant/mixins/mixinUniqueId.js';

import { mapState, mapMutations } from 'vuex';

import EventBus from 'Consultant/event-bus';

export default {
	name: 'EditNotePage',

	components: {
		InputNote,
		ConsultantButton
	},

	mixins: [mixinUniqueId],

	data() {
		return {
			loading: false,
			notes: {
				note_category: '',
				content: ''
			}
		};
	},

	computed: {
		...mapState('tenant', ['editableNotes']),
		tenantId() {
			return this.$route.params.id;
		},
		disableButtonSubmit() {
			return !this.notes.note_category;
		}
	},

	watch: {
		editableNotes: {
			immediate: true,
			handler(value) {
				if (!this.$isEmpty(value)) {
					this.notes = { ...value };
				}
			}
		}
	},

	beforeDestroy() {
		this.resetNote();
	},

	methods: {
		...mapMutations('tenant', ['resetNote']),

		throwBackRoute() {
			this.$router.push({
				name: 'potential-tenant.detail',
				params: {
					id: this.tenantId
				},
				query: {
					from: 'edit_note'
				}
			});
		},

		async handleSaveNote() {
			this.loading = true;
			const { success } = await this.saveNote(this.notes, this.tenantId);

			if (success) {
				this.$router.push({
					name: 'potential-tenant.detail',
					params: this.tenantId,
					query: {
						from: 'edit_note'
					}
				});
			} else {
				EventBus.$emit('openAlert', 'Terjadi galat. Silakan coba lagi.');
			}
			this.loading = false;
		},

		async saveNote(notes, id) {
			const result = { success: false, data: {} };
			try {
				const response = await axios.post(
					`/api/tenant/potential/save-note/${id}`,
					notes
				);
				if (response.data.status) {
					result.success = true;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		}
	}
};
</script>

<style>
</style>