<template>
	<div class="potential-tenant-list-page">
		<div class="potential-tenant-filter-and-search">
			<search-box-and-filter
				v-if="hasFilterAndSearchActivator || isLoadingFilterAndSearch"
				:indicator="hasIndicator"
				:loading="isLoadingFilterAndSearch"
				search-placeholder="Cari Penyewa"
				@onSearch="handleSearch"
			>
				<template slot="filter">
					<h4>Filter</h4>
					<template v-for="(filterItem, index) in filterItems">
						<consultant-checkbox
							:key="index"
							v-model="filterItem.checked"
							type="success"
							:label="filterItem.label"
							@change="handleChangeFilter($event, filterItem.value)"
						></consultant-checkbox>
					</template>
				</template>
			</search-box-and-filter>
		</div>
		<consultant-empty-state
			v-if="!potentialTenantLists.length && !isLoadingFilterAndSearch"
			:title="isSearchActive ? 'Data tidak ditemukan' : 'Belum Ada Penyewa'"
			:subtitle="
				isSearchActive
					? 'Silakan cek kembali penulisan di kolom pencarian.'
					: 'Silakan mulai tambah penyewa potensial di sini.'
			"
		>
			<consultant-button
				v-if="!isSearchActive"
				slot="button"
				large
				block
				@click="goToAddTenantPage"
			>
				Tambah Penyewa
			</consultant-button>
		</consultant-empty-state>
		<template v-else>
			<div class="mb-2">
				<consultant-button
					:disabled="disableButtonAddPotentialTenant"
					large
					block
					@click="goToAddTenantPage"
				>
					Tambah Data Penyewa
				</consultant-button>
			</div>
			<div class="tenant-list">
				<card-list
					v-for="(potentialTenantList, index) in potentialTenantLists"
					:key="`tenant-${index}`"
					no-arrow
					:to="{
						name: 'potential-tenant.detail',
						params: { id: potentialTenantList.id }
					}"
				>
					<div class="card-chip">
						<chip :type="potentialTenantList.registerStatus.type">
							{{ potentialTenantList.registerStatus.title }}
						</chip>
						<chip :type="potentialTenantList.contract.type">
							{{ potentialTenantList.contract.title }}
						</chip>
					</div>
					<div class="card-title">
						{{ potentialTenantList.name }}
					</div>
					<p class="ellipsis">{{ potentialTenantList.property_name }}</p>
					<p class="ellipsis">
						Area: {{ potentialTenantList.area_city || '-' }}
					</p>
					<div class="tenant-status ellipsis">
						Nomor Handphone: {{ potentialTenantList.phone_number }}
					</div>
					<div class="tenant-note">Catatan: {{ potentialTenantList.note }}</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-xs-6">
								<consultant-button block outline small>
									Lihat Detail
								</consultant-button>
							</div>
							<div class="col-xs-6">
								<consultant-button
									block
									small
									:disabled="
										potentialTenantList.active_contract ||
											disableButtonAddPotentialTenant
									"
									@click.stop="goToCreateContract(potentialTenantList)"
								>
									Buat Kontrak
								</consultant-button>
							</div>
						</div>
					</div>
				</card-list>
			</div>
		</template>
		<consultant-pagination
			v-if="pagination.totalData > pagination.limit"
			:total-data="pagination.totalData"
			:page-active="pagination.page"
			@change="paginationChanged"
		></consultant-pagination>
	</div>
</template>
<script>
import CardList from 'Consultant/components/CardList.vue';
import SearchBoxAndFilter from 'Consultant/components/search-and-filter/SearchBoxAndFilter.vue';
import consultantCheckbox from 'Consultant/components/ConsultantCheckbox.vue';
import ConsultantEmptyState from 'Js/@components/EmptyState.vue';
import Chip from 'Consultant/components/Chip.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import mixinPagination from 'Consultant/mixins/mixinPagination.js';
import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';
import filterLists from './data/filterLists.json';

import uniqueId from 'Consultant/helpers/uniqueId.js';

import { mapMutations } from 'vuex';

import searchNote from 'Consultant/components/input-note/searchNote';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

export default {
	name: 'PotentialTenantLists',

	components: {
		CardList,
		SearchBoxAndFilter,
		consultantCheckbox,
		ConsultantEmptyState,
		ConsultantButton,
		Chip
	},

	mixins: [mixinPagination, mixinEllipsis],

	data() {
		return {
			potentialTenantLists: [],
			filterItems: filterLists,
			isLoadingFilterAndSearch: false
		};
	},

	computed: {
		hasFilterAndSearchActivator() {
			const { query } = this.$route;
			if (!this.potentialTenantLists.length) {
				return query.search;
			}
			return true;
		},
		hasIndicator() {
			return this.filterItems.some(eachFilter => eachFilter.checked);
		},
		isSearchActive() {
			return !!this.$route.query.search;
		},
		disableButtonAddPotentialTenant() {
			return !this.$store.getters.isAdminConsultant;
		},
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Penyewa Potensial',
			{ consultant_id: consultant.id || null }
		]);
	},

	methods: {
		...mapMutations({
			mutSetUniqueId: 'createContract/setUniqueId'
		}),
		triggerGetData(queries) {
			this.initDataPotentialTenantLists(queries);
		},

		triggerRouteChanged(routeData) {
			this.setFilterActiveByQuery(routeData.query);
		},

		setFilterActiveByQuery(query) {
			if (query.filters) {
				const filterActive = query.filters.split(',');
				this.filterItems = this.filterItems.map(eachFilter => ({
					...eachFilter,
					checked: filterActive.includes(eachFilter.value)
				}));

				this.$route.meta.navbarOptions.onClickBack = this.resetFilterAndGoTo({
					name: 'potential-tenant'
				});
			} else {
				// reset filter
				this.filterItems = this.filterItems.map(eachFilter => ({
					...eachFilter,
					checked: false
				}));
				this.$route.meta.navbarOptions.onClickBack = null;
			}
		},

		async initDataPotentialTenantLists(queries) {
			this.isLoadingFilterAndSearch = true;
			const { success, result } = await this.getPotentialTenantLists(queries);
			if (success) {
				this.potentialTenantLists = this.mappingDataPotentialTenant(
					result.data
				);
				this.changeQueryPaginate({
					totalData: Number(result.total)
				});
			}
			this.isLoadingFilterAndSearch = false;
		},

		async getPotentialTenantLists(queries) {
			const data = { success: false, result: {} };
			try {
				// eslint-disable-next-line no-undef
				const response = await axios.get(
					'/api/tenant/potential?' + this.createPaginationQueryUrl(queries)
				);
				if (response.data.status) {
					data.success = true;
					data.result = response.data;
				}
			} catch (error) {
				// eslint-disable-next-line no-undef
				bugsnagClient.notify(error);
			}

			return Promise.resolve(data);
		},

		mappingDataPotentialTenant(potentialTenantLists) {
			return potentialTenantLists.map(eachPotentialTenant => {
				const isRegistered = !!Number(eachPotentialTenant.registered);
				const isContract = eachPotentialTenant.active_contract;
				return {
					...eachPotentialTenant,
					registerStatus: {
						type: isRegistered ? 'success' : 'default',
						title: isRegistered ? 'Terdaftar' : 'Tidak Terdaftar'
					},
					contract: {
						type: isContract ? 'info' : 'error',
						title: isContract ? 'Sudah ada kontrak' : 'Belum ada kontrak'
					},
					note: searchNote(eachPotentialTenant.remarks_category)
				};
			});
		},

		handleSearch(searchText) {
			if (searchText !== this.pagination.search) {
				this.pagination.search = searchText;
				this.handleChangeRoute({
					page: 1,
					sort_by: 'updated_at',
					filters: [],
					search: searchText
				});
			}
		},

		handleChangeFilter(isChecked, filterBy) {
			const filters = this.pagination.filters;
			if (isChecked) {
				filters.push(filterBy);
			} else {
				filters.splice(filters.indexOf(filterBy), 1);
			}

			this.handleChangeRoute({
				page: 1,
				sort_by: this.pagination.sort_by,
				search: '',
				filters
			});
		},

		goToAddTenantPage() {
			this.$router.push({ name: 'add.potential-tenant' });
		},

		goToCreateContract(tenant) {
			const ID = uniqueId();
			this.mutSetUniqueId(ID);

			setTimeout(() => {
				this.$router.push({
					name: 'contract.create',
					query: {
						unique_id: ID,
						prev_page: 'potential-tenant',
						skip_sec_to: 3,
						tenant_phone: tenant.phone_number,
						property_id: tenant.property_id
					}
				});
			}, 0);
		}
	}
};
</script>
<style lang="scss" scoped>
/* stylelint-disable-next-line */
.mb-2 {
	margin-bottom: 20px;
}

.potential-tenant-filter-and-search {
	margin-bottom: 20px;
}

.card-title {
	margin-bottom: 10px;
}

.ellipsis {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tenant-note {
	font-weight: 600;
	color: #484848;
}

.sort-body {
	padding: unset;
	list-style: none;

	.sort__item {
		margin-bottom: 5px;
		font-size: 14px;
		color: #595959;
		cursor: pointer;

		&.is--active {
			color: #1baa56;
		}
	}
}
</style>
