<template>
	<div class="search-tenant-by-phone">
		<div class="row">
			<div class="col-xs-12">
				<h3>Silakan isi data penyewa</h3>
			</div>
		</div>
		<div class="row __content">
			<div class="col-xs-12">
				<input-field
					v-model="phoneSearch"
					placeholder="Tulis nomor handphone di sini"
					legend="Nomor Handphone"
					rules="regex:^(08(\d+))$"
					regular
				></input-field>
			</div>
			<div class="col-xs-12">
				<consultant-button
					:loading="loadingPhoneChecking"
					block
					large
					loading-text="Memeriksa..."
					@click="handleCheckPhone"
				>
					Lanjutkan
				</consultant-button>
			</div>
		</div>
	</div>
</template>
<script>
import InputField from 'Consultant/components/InputField.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';

export default {
	name: 'SearchTenantByPhone',

	components: {
		InputField,
		ConsultantButton
	},

	props: {
		phone: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			phoneSearch: '',
			loadingPhoneChecking: false
		};
	},

	watch: {
		phone: {
			immediate: true,
			handler(phone) {
				if (this.phoneSearch !== phone) {
					this.phoneSearch = phone;
				}
			}
		}
	},

	methods: {
		async handleCheckPhone() {
			if (this.phoneSearch) {
				this.loadingPhoneChecking = true;
				const resultCheckPhone = await this.checkDataTenantByPhone(
					this.phoneSearch
				);
				this.$emit('onSearch', resultCheckPhone.data);
				this.$emit('update:phone', resultCheckPhone.data.phone_number);
				this.loadingPhoneChecking = false;
			}
		},

		async checkDataTenantByPhone(phone) {
			let result = { success: false, data: {} };

			try {
				const response = await axios.get(
					'/api/tenant/potential/search-tenant/' + phone
				);
				if (response.data.status) {
					result.success = true;
					result.data = this.setDefaultValueEachAttribute(
						response.data.data,
						phone
					);
				} else {
					result.data = { phone_number: phone };
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		},

		setDefaultValueEachAttribute(tenantData, phone) {
			let updateDataTenant = {};
			for (let [key, value] of Object.entries(tenantData)) {
				if (value) {
					updateDataTenant[key] = value;
				} else {
					updateDataTenant[key] = key === 'phone_number' ? phone : '';
				}
			}

			return updateDataTenant;
		}
	}
};
</script>
<style lang="scss" scoped>
.search-tenant-by-phone {
	position: relative;
	.__content {
		margin-top: 80px;
		> .col-xs-12 {
			margin-bottom: 40px;
		}
	}
}
</style>