<template>
	<div class="search-input-kos" :class="{ 'search--active': active }">
		<search-input
			v-show="active"
			@focus="toggleFocus(true)"
			@close="toggleFocus(false)"
			@onSearch="handleSearchInput"
			@onSearchCancel="handleCloseSearchPage"
			v-model="searchText"
			ref="searchInput"
			placeholder="Cari property"
			is-custom
		></search-input>
		<div class="search-input__body">
			<template v-if="loadingSearchingProperty">
				<div class="search__loading">
					<mami-loading-inline></mami-loading-inline>
				</div>
			</template>
			<template v-else>
				<empty-state
					v-if="!propertyLists.length"
					:title="
						searchText ? 'Properti tidak ditemukan' : 'Belum Ada Data Properti'
					"
					:subtitle="
						searchText
							? 'Silakan cek kembali penulisan nama properti di kolom pencarian.'
							: 'Silakan cari properti di kolom pencarian.'
					"
				>
				</empty-state>
				<template v-else>
					<card-list
						v-for="(propertyList, index) in propertyLists"
						:key="`property-${index}`"
						@click="handleSelectProperty(propertyList)"
						no-arrow
					>
						<p>{{ propertyList.name }}</p>
					</card-list>
				</template>
			</template>
		</div>
	</div>
</template>
<script>
import SearchInput from 'Consultant/components/search-and-filter/SearchInput.vue';
import EmptyState from 'Js/@components/EmptyState.vue';
import CardList from 'Consultant/components/CardList.vue';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';

export default {
	name: 'SearchInputKos',

	components: {
		SearchInput,
		EmptyState,
		CardList,
		MamiLoadingInline
	},

	props: {
		active: {
			type: Boolean,
			required: true
		}
	},

	data() {
		return {
			isSearchFocused: false,
			searchText: '',
			propertyWasSelected: false,
			isSearchActive: false,
			loadingSearchingProperty: false,
			propertyLists: []
		};
	},

	watch: {
		active(isActive) {
			if (isActive) {
				this.setInputFocus();
			} else {
				this.setInputBlur();
			}
		}
	},

	methods: {
		handleClickSearchInput() {
			this.isSearchActive = true;
		},

		toggleFocus(isFocused) {
			this.isSearchFocused = isFocused;
		},

		handleSearchInput(searchText) {
			this.searchText = searchText;
			this.searchProperty(searchText);
		},

		setInputFocus() {
			this.isSearchFocused = true;
			this.$nextTick(() => {
				this.$refs.searchInput.focus();
			});
		},

		setInputBlur() {
			this.$refs.searchInput.inputBlur();
		},

		handleCloseSearchPage() {
			if (!this.propertyWasSelected) {
				this.searchText = '';
				this.propertyLists = [];
			}
			this.loadingSearchingProperty = false;
			this.setInputBlur();
			this.$emit('update:active', false);
		},

		handleSelectProperty(propertyData) {
			this.propertyWasSelected = true;
			this.$emit('change', { ...propertyData, selected: true });
			this.searchText = propertyData.name;
			this.propertyLists = this.propertyLists.map(eachProperty => ({
				...eachProperty,
				selected: propertyData.id === eachProperty.id
			}));
		},

		async searchProperty(propertyName) {
			this.loadingSearchingProperty = true;
			const resultGetDataProperty = await this.getDataPropertyByName(
				propertyName
			);
			if (resultGetDataProperty.success) {
				this.propertyLists = this.mappingDataProperty(
					resultGetDataProperty.data
				);
			}
			this.loadingSearchingProperty = false;
		},

		mappingDataProperty(propertyData) {
			return propertyData.map(eachProperty => ({
				...eachProperty,
				selected: false
			}));
		},

		async getDataPropertyByName(propertyName) {
			let result = { success: false, data: [] };
			try {
				const response = await axios.get(
					'/api/tenant/potential/search-property/' + propertyName
				);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';
.search-input-kos {
	.search-input__body {
		display: none;

		@include variant('.search--active') {
			display: block;
		}
	}

	.search__loading {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
}
</style>
