<template>
	<bg-modal
		v-model="isShowModal"
		class="dbet-tenant-id-camera"
		:closable="false"
		mobile-size="fullpage"
	>
		<dbet-tenant-navbar is-right-close @close="isShowModal = false" />
		<id-verif-camera
			snap-type="card"
			@save-card="setIdCard"
			@cancel-capture="isShowModal = false"
		/>
	</bg-modal>
</template>

<script>
import DbetTenantNavbar from '../DbetTenantNavbar';
import IdVerifCamera from 'Js/@components/IdVerifCamera';
import { BgModal } from 'bangul-vue';

export default {
	components: {
		DbetTenantNavbar,
		IdVerifCamera,
		BgModal
	},
	props: {
		value: {
			type: Boolean,
			default: true
		}
	},
	computed: {
		isShowModal: {
			get() {
				return this.value;
			},
			set(isShow) {
				this.$emit('input', isShow);
				!isShow && this.$emit('close');
			}
		}
	},
	methods: {
		setIdCard(image) {
			this.$emit('save', image);
			this.isShowModal = false;
		}
	}
};
</script>

<style lang="scss">
.dbet-tenant-id-camera {
	.bg-c-modal__inner {
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		border-radius: 0;
	}

	.bg-c-modal__body {
		width: 100%;
		padding-top: 0;
		margin-top: 56px;
		overflow-x: hidden;
	}

	.bg-c-modal__footer {
		display: none;
	}

	.input-camera-container {
		margin-bottom: 24px;
	}

	@media (max-width: 991px) {
		.input-camera-container {
			margin-bottom: 16px;
		}
	}
}
</style>
