<template>
	<dbet-tenant-field
		label="Foto KTP"
		:error-message="errorMessage"
		:is-optional="!isRequired"
		class="dbet-tenant-input-id"
	>
		<bg-alert
			:closable="false"
			description="Mamikos menjaga keamanan data identitas setiap penggunanya."
		>
			<template slot="footer">
				<bg-link variant="medium" @click="openDisclaimerLink"
					>Bagaimana caranya?</bg-link
				>
			</template>
		</bg-alert>
		<div class="dbet-tenant-input-id__input">
			<template v-if="!!idImage">
				<div class="dbet-tenant-input-id__card">
					<img
						v-lazy="idImage"
						class="dbet-tenant-input-id__photo"
						alt="id photo"
					/>
				</div>
				<bg-button variant="tertiary" block @click="toggleModalWarning(true)">
					Ubah
				</bg-button>
			</template>
			<div
				v-else
				class="dbet-tenant-input-id__card dbet-tenant-input-id__action"
				@click="toggleModalWarning(true)"
			>
				<bg-icon name="camera" size="lg" />
				<bg-text size="body-1">Upload Foto KTP</bg-text>
			</div>
		</div>
		<id-verif-modal-warning
			:show-modal="isShowModalWarning"
			@close="toggleModalWarning(false)"
			@next="openCamera"
		/>
		<dbet-tenant-modal-id-camera
			v-if="isShowModalIdCamera"
			v-model="isShowModalIdCamera"
			@save="onSaveIdImage"
			@close="toggleModalCamera(false)"
		/>
	</dbet-tenant-field>
</template>

<script>
import DbetTenantField from './DbetTenantField';
import DbetTenantModalIdCamera from './DbetTenantModalIdCamera';
import IdVerifModalWarning from 'Js/@components/IdVerifModalWarning';

import { BgAlert, BgButton, BgIcon, BgLink, BgText } from 'bangul-vue';

export default {
	components: {
		DbetTenantModalIdCamera,
		IdVerifModalWarning,
		DbetTenantField,
		BgAlert,
		BgButton,
		BgIcon,
		BgLink,
		BgText
	},
	props: {
		isRequired: {
			type: Boolean,
			default: false
		},
		value: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			errorMessage: '',
			errorMessageRequired: 'KTP belum di-upload',
			isShowModalWarning: false,
			isShowModalIdCamera: false,
			idImage: ''
		};
	},
	watch: {
		idImage(value) {
			if (value !== this.value) {
				this.$emit('input', value);
			}
			this.validate();
		}
	},
	created() {
		this.idImage = this.value;
	},
	methods: {
		validate() {
			if (!this.idImage && this.isRequired) {
				this.errorMessage = this.errorMessageRequired;
				return false;
			}

			this.errorMessage = '';
			return true;
		},
		toggleModalWarning(state) {
			this.isShowModalWarning = state;
			this.setBodyOverflow(state ? 'hidden' : 'auto');
		},
		toggleModalCamera(state) {
			this.isShowModalIdCamera = state;
			this.setBodyOverflow(state ? 'hidden' : 'auto');
		},
		openCamera() {
			this.toggleModalWarning(false);
			this.toggleModalCamera(true);
		},
		onSaveIdImage(idImage) {
			this.idImage = idImage.src || '';
		},
		setBodyOverflow(overflow) {
			this.$nextTick(() => {
				document.body.style.overflow = overflow;
			});
		},
		openDisclaimerLink() {
			window.open(
				'https://help.mamikos.com/info-umum/?category=tentang-akun&subCategory=verifikasi-akun-dan-identitas&slug=bagaimana-cara-mamikos-menjaga-keamanan-data-saya-sebagai-pengguna',
				'_blank'
			);
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-tenant-input-id {
	> * {
		width: 100%;
	}

	&__card {
		display: flex;
		width: 100%;
		height: 184px;
		padding: 8px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
	}

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 4px;
	}

	&__action {
		cursor: pointer;
		border-style: dashed;

		> *:not(:first-child) {
			margin-top: 4px;
		}
	}

	&__input {
		width: 100%;

		> * {
			margin-top: 8px;
		}
	}
}
</style>
