<template>
	<dbet-tenant-field
		class="dbet-tenant-input-phone"
		label="Nomor HP"
		:error-message="errorMessage"
	>
		<bg-input
			v-model="phone"
			type="tel"
			maxlength="13"
			placeholder="Masukkan nomor HP"
		/>
	</dbet-tenant-field>
</template>

<script>
import DbetTenantField from './DbetTenantField';
import { BgInput } from 'bangul-vue';

export default {
	components: {
		DbetTenantField,
		BgInput
	},
	props: {
		value: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			errorMessage: '',
			errorMessageOptions: {
				required: 'Wajib Diisi',
				number: 'Hanya bisa menggunakan angka',
				format: 'Harus diawali 08',
				min: 'Nomor HP minimal 8 karakter',
				max: 'Nomor HP maksimal 13 karakter'
			}
		};
	},
	computed: {
		phone: {
			get() {
				return this.value;
			},
			set(phone) {
				this.$emit('input', phone);
			}
		}
	},
	watch: {
		value() {
			this.validate();
		}
	},
	methods: {
		validate() {
			let valid = true;
			this.errorMessage = '';

			const { errorMessageOptions } = this;

			if (!this.phone || !this.phone.trim()) {
				valid = false;
				this.errorMessage = errorMessageOptions.required;
			} else if (!/^[0-9]+$/g.test(this.phone)) {
				valid = false;
				this.errorMessage = errorMessageOptions.number;
			} else if (!/^08.*/g.test(this.phone)) {
				valid = false;
				this.errorMessage = errorMessageOptions.format;
			} else if (this.phone.length < 8) {
				valid = false;
				this.errorMessage = errorMessageOptions.min;
			} else if (this.phone.length > 13) {
				valid = false;
				this.errorMessage = errorMessageOptions.max;
			}

			return valid;
		}
	}
};
</script>

<style></style>
