<template>
	<bg-modal
		v-model="isShowModal"
		class="modal-rent-price"
		title="Harga Sewa"
		desktop-size="md"
		mobile-size="popup"
	>
		<div class="modal-rent-price__option">
			<div
				v-for="(price, i) in priceOptions"
				:key="`${i}-${price.type}`"
				class="modal-rent-price__option-wrapper"
			>
				<bg-radio
					:id="`dbetTenantPrice${price.type}`"
					v-model="selectedRentPrice"
					:custom-value="price.type"
					:label="price.label"
					class="modal-rent-price__option-radio"
				/>
				<bg-text
					v-if="price.price"
					class="modal-rent-price__option-price"
					size="body-1"
					@click.native="selectedRentPrice = price.type"
				>
					{{ price.price_label }}
				</bg-text>
			</div>
		</div>
		<template #footer>
			<div class="modal-rent-price__action">
				<bg-button
					class="modal-rent-price__action-cancel"
					variant="tertiary"
					size="lg"
					@click="closeModal"
				>
					Batal
				</bg-button>
				<bg-button
					class="modal-rent-price__action-save"
					variant="primary"
					size="lg"
					@click="saveRentPrice"
				>
					Simpan
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import _find from 'lodash/find';
import { BgModal, BgRadio, BgButton, BgText } from 'bangul-vue';
import { mapState, mapMutations } from 'vuex';

export default {
	components: { BgModal, BgRadio, BgButton, BgText },
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		value: {
			type: String,
			default: 'custom'
		}
	},
	data() {
		return {
			customPrice: {
				label: 'Tidak menemukan harga yang sesuai',
				type: 'custom'
			},
			selectedRentPrice: 'custom'
		};
	},
	computed: {
		...mapState('room', ['roomPrices']),
		isShowModal: {
			get() {
				return this.isShow;
			},
			set(isShow) {
				this.$emit('update:isShow', isShow);
			}
		},
		selectedRentData() {
			return _find(this.priceOptions, ['type', this.selectedRentPrice]) || null;
		},
		priceOptions() {
			return [this.customPrice, ...this.roomPrices];
		}
	},
	watch: {
		isShowModal(isShow) {
			if (isShow) {
				this.selectedRentPrice = this.value;
			}
		}
	},
	created() {
		this.selectedRentPrice = this.value;
	},
	methods: {
		...mapMutations('dbet', ['setRentData']),
		...mapMutations('saved', ['setSavedState']),
		closeModal() {
			this.isShowModal = false;
		},
		saveRentPrice() {
			if (this.selectedRentPrice === 'custom') {
				this.$emit('custom');
			} else if (this.selectedRentData) {
				this.setRentData({
					rentType: this.selectedRentData.type,
					price: this.selectedRentData.price,
					rentTypeCustom: ''
				});
				this.setSavedState({ savedRentPrice: true });
			}
			this.closeModal();
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type */
.modal-rent-price {
	* {
		word-break: break-word;
	}

	&__option {
		p {
			font-weight: bold;
			color: #404040;
		}

		&-radio {
			label {
				margin-bottom: 0;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-rent-price {
	&__option {
		display: flex;
		width: 100%;
		margin-top: 16px;
		flex-direction: column;

		&-wrapper {
			display: flex;
			width: 100%;
			cursor: pointer;
			border-bottom: 1px solid #e8e8e8;

			> * {
				padding: 16px 0;
			}
		}

		&-radio {
			width: 100%;
		}

		&-price {
			flex-shrink: 0;
			margin-left: 16px;
		}
	}

	&__action {
		display: flex;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	@media (max-width: 991px) {
		&__option {
			margin-top: 12px;
		}

		&__action {
			justify-content: space-between;

			> * {
				width: 100%;
			}
		}
	}
}
</style>
