<template>
	<div class="dbet-tenant-input-job">
		<dbet-tenant-field label="Pekerjaan" :error-message="errorMessage">
			<div class="dbet-tenant-input-job__types">
				<dbet-tenant-tag-radio
					v-for="jobOption in jobOptions"
					:key="`job-option-${jobOption.type}`"
					v-model="selectedJob"
					:selected-value="jobOption.type"
					:label="jobOption.label"
				/>
			</div>
		</dbet-tenant-field>
		<div v-for="jobOption in jobOptions" :key="`job-select-${jobOption.type}`">
			<div v-if="jobOption.type === job" class="dbet-tenant-input-job__select">
				<dbet-tenant-field :label="jobOption.fieldLabel" is-optional>
					<bg-select
						v-if="jobOption.options"
						v-model="selectedWorkPlace"
						searchable
						options-label-key="val"
						options-value-key="val"
						:options="jobOption.options"
						:placeholder="jobOption.placeholder"
					/>
					<bg-input
						v-else
						v-model="selectedWorkPlace"
						:placeholder="jobOption.placeholder"
					/>
				</dbet-tenant-field>
				<dbet-tenant-field
					v-if="jobOption && jobOption.options && workPlace === 'Lainnya'"
					label="Lainnya"
					class="dbet-tenant-input-job__other"
				>
					<bg-input
						v-model="selectedOtherWorkPlace"
						:placeholder="jobOption.placeholderOther"
					/>
				</dbet-tenant-field>
			</div>
		</div>
	</div>
</template>

<script>
import DbetTenantTagRadio from './DbetTenantTagRadio';
import DbetTenantField from './DbetTenantField';
import { BgSelect, BgInput } from 'bangul-vue';

import universities from 'Json/universities.json';
import companies from 'Json/companies.json';

const generateJobOptions = options =>
	options.map(({ name }) => {
		return {
			val: name
		};
	});

export default {
	components: {
		DbetTenantTagRadio,
		DbetTenantField,
		BgSelect,
		BgInput
	},
	props: {
		job: {
			type: String,
			default: ''
		},
		workPlace: {
			type: String,
			default: ''
		},
		otherWorkPlace: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			jobOptions: {
				kuliah: {
					type: 'kuliah',
					label: 'Mahasiswa',
					options: generateJobOptions(universities),
					fieldLabel: 'Nama Universitas',
					placeholder: 'Masukkan nama perguruan tinggi',
					placeholderOther: 'Masukkan nama perguruan tinggi lainnya'
				},
				kerja: {
					type: 'kerja',
					label: 'Karyawan',
					options: generateJobOptions(companies),
					fieldLabel: 'Nama Perusahaan',
					placeholder: 'Masukkan nama perusahaan',
					placeholderOther: 'Masukkan nama perusahaan lainnya'
				},
				lainnya: {
					type: 'lainnya',
					label: 'Lainnya',
					fieldLabel: 'Deskripsi',
					placeholder: 'Contoh: Wiraswasta'
				}
			},
			errorMessage: '',
			errorMessageRequired: 'Wajib diisi'
		};
	},
	computed: {
		selectedJob: {
			get() {
				return this.job;
			},
			set(job) {
				this.selectedWorkPlace = '';
				this.selectedOtherWorkPlace = '';
				this.$emit('update:job', job);
			}
		},
		selectedWorkPlace: {
			get() {
				return this.workPlace;
			},
			set(workPlace) {
				this.selectedOtherWorkPlace = '';
				this.$emit('update:workPlace', workPlace);
			}
		},
		selectedOtherWorkPlace: {
			get() {
				return this.otherWorkPlace;
			},
			set(otherWorkPlace) {
				this.$emit('update:otherWorkPlace', otherWorkPlace);
			}
		}
	},
	watch: {
		job() {
			this.validate();
		}
	},
	created() {
		this.assignJob();
	},
	methods: {
		assignJob() {
			if (
				this.job &&
				this.job !== 'lainnya' &&
				this.workPlace &&
				this.jobOptions[this.job]
			) {
				const workPlace = this.workPlace;
				const type = this.jobOptions[this.job];
				const isSelectedOtherWorkPlaceOption = !type.options.some(option => {
					return option.val === workPlace;
				});
				if (isSelectedOtherWorkPlaceOption) {
					this.selectedWorkPlace = 'Lainnya';
					this.$nextTick(() => {
						this.selectedOtherWorkPlace = workPlace;
					});
				} else {
					this.selectedOtherWorkPlace = '';
				}
			}
		},
		validate() {
			if (!this.selectedJob) {
				this.errorMessage = this.errorMessageRequired;
				return false;
			}

			this.errorMessage = '';
			return true;
		}
	}
};
</script>

<style lang="scss">
.dbet-tenant-input-job {
	.bg-c-dropdown__menu {
		width: 100%;
		max-height: 300px;
		overflow: auto;
	}
}
</style>

<style lang="scss" scoped>
.dbet-tenant-input-job {
	display: flex;
	width: 100%;
	flex-direction: column;

	&__types {
		display: flex;
		width: 100%;
		max-width: 100%;
		overflow-y: auto;

		> *:not(:first-child) {
			margin-left: 8px;
		}
	}
}
</style>
