<template>
	<bg-modal
		:value="value"
		class="dbet-modal-success"
		illustration-name="review-successfully-provided"
		illustration-alt="dbet success illustration"
		title="Berhasil mengirim data"
		description="Hore! Data yang kamu isi dan lengkapi sudah terkirim ke pemilik kos. Sekarang, tunggu konfirmasi dari pemilik dulu ya!"
		mobile-size="popup"
		centered
		@close="goToHomepage"
	>
		<template #footer>
			<div class="dbet-modal-success__action">
				<bg-button
					variant="primary"
					size="lg"
					class="dbet-modal-success__action-button"
					@click="goToHomepage"
				>
					Saya Mengerti
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import { BgModal, BgButton } from 'bangul-vue';

export default {
	components: { BgModal, BgButton },
	props: {
		value: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		goToHomepage() {
			window.location.assign('/');
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-modal-success {
	&__action {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	@media (max-width: 991px) {
		&__action-button {
			width: 100%;
		}
	}
}
</style>
