<template>
	<bg-modal
		v-model="isShowModal"
		class="dbet-due-date"
		title="Tanggal Jatuh Tempo"
		desktop-size="md"
		mobile-size="popup"
	>
		<bg-text size="title-5" class="dbet-due-date__label">
			Anda akan ditagih di tanggal:
		</bg-text>
		<dbet-tenant-field
			class="dbet-due-date__select"
			:error-message="errorMessage"
		>
			<bg-select
				v-model="selectedDueDate"
				:options="dueDateOptions"
				size="lg"
				options-label-key="val"
				placeholder="Pilih tanggal penagihan uang kos"
				class="dbet-due-date__select-input"
			/>
		</dbet-tenant-field>
		<template #footer>
			<div class="dbet-due-date__action">
				<bg-button
					class="dbet-due-date__action-cancel"
					variant="tertiary"
					size="lg"
					@click="cancel"
				>
					Kembali
				</bg-button>
				<bg-button
					class="dbet-due-date__action-save"
					variant="primary"
					size="lg"
					@click="saveDueDate"
				>
					Simpan
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import { BgModal, BgText, BgButton, BgSelect } from 'bangul-vue';
import DbetTenantField from './DbetTenantField';

export default {
	components: {
		BgModal,
		BgText,
		BgButton,
		BgSelect,
		DbetTenantField
	},
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		value: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			selectedDueDate: 0,
			errorMessage: '',
			errorMessageRequired: 'Pilih tanggal jatuh tempo'
		};
	},
	computed: {
		isShowModal: {
			get() {
				return this.isShow;
			},
			set(isShow) {
				this.$emit('update:isShow', isShow);
			}
		},
		dueDateOptions() {
			return [...Array(31).keys()].map((_, index) => {
				return { val: index + 1 };
			});
		},
		isValidDueDate() {
			return !!this.selectedDueDate && this.selectedDueDate > 0;
		}
	},
	watch: {
		selectedDueDate() {
			this.errorMessage = this.isValidDueDate ? '' : this.errorMessageRequired;
		}
	},
	created() {
		this.selectedDueDate = this.value;
	},
	methods: {
		cancel() {
			this.isShowModal = false;
		},
		saveDueDate() {
			if (this.isValidDueDate) {
				this.errorMessage = '';
				this.$store.commit('dbet/setDueDate', this.selectedDueDate);
				this.$store.commit('saved/setSavedState', { savedDueDate: true });
				this.isShowModal = false;
			} else {
				this.errorMessage = this.errorMessageRequired;
			}
		}
	}
};
</script>

<style lang="scss">
.dbet-due-date {
	.bg-c-dropdown__menu--open {
		position: relative !important;
		transform: translate(0, 4px) !important;
	}
}
</style>

<style lang="scss" scoped>
.dbet-due-date {
	&__action {
		display: flex;
		width: 100%;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	&__label {
		margin-top: 16px;
		margin-bottom: 44px;
	}

	&__select {
		width: 100%;
	}

	@media (max-width: 991px) {
		> * {
			width: 100%;
		}

		&__label {
			margin-top: 12px;
			margin-bottom: 8px;
		}

		&__select {
			margin-bottom: 0;
		}

		&__action {
			> * {
				width: 100%;
			}
		}
	}
}
</style>
