<template>
	<bg-modal
		v-model="isShowModal"
		class="modal-select-room"
		title="Nomor Kamar"
		desktop-size="md"
		mobile-size="popup"
	>
		<bg-radio
			v-for="(room, i) in roomOptions"
			:id="`dbetTenantRoom${room.id}`"
			:key="`${i}-${room.id}`"
			v-model="selectedRoom"
			:custom-value="room.id"
			:label="room.label || roomName(room)"
			class="modal-select-room__option"
		/>
		<template #footer>
			<div class="modal-select-room__action">
				<bg-button
					class="modal-select-room__action-cancel"
					variant="tertiary"
					size="lg"
					@click="closeModal"
				>
					Batal
				</bg-button>
				<bg-button
					class="modal-select-room__action-save"
					variant="primary"
					size="lg"
					@click="saveSelectedRoom"
				>
					Simpan
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import _get from 'lodash/get';
import _find from 'lodash/find';
import _filter from 'lodash/filter';
import { mapState, mapMutations } from 'vuex';
import { BgModal, BgRadio, BgButton } from 'bangul-vue';

export default {
	components: { BgModal, BgRadio, BgButton },
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		value: {
			type: Number,
			default: 0
		},
		roomId: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			selectedRoom: 0
		};
	},
	computed: {
		...mapState('room', ['roomUnits', 'isLoadedRoomUnits', 'designerId']),
		isShowModal: {
			get() {
				return this.isShow;
			},
			set(isShow) {
				this.$emit('update:isShow', isShow);
			}
		},
		roomOptions() {
			return [
				{
					name: 'Tidak Mengetahui',
					label: 'Saya tidak tahu nomor kamar saya',
					id: 0
				},
				...this.roomUnits
			];
		},
		roomName() {
			return function(room) {
				let roomName = room.name || '';
				if (room.floor) {
					roomName += ` ${room.floor}`;
				}
				return (roomName || '').trim();
			};
		}
	},
	created() {
		this.selectedRoom = this.value;
		!this.isLoadedRoomUnits && this.getRoomNumberList();
	},
	methods: {
		...mapMutations('room', ['setRoomUnits', 'setLoadedRoomUnits']),
		...mapMutations('dbet', ['setSelectedRoomId']),
		...mapMutations('saved', ['setSavedState']),
		closeModal() {
			this.isShowModal = false;
		},
		saveSelectedRoom() {
			const selectedRoom = _find(this.roomOptions, ['id', this.selectedRoom]);
			if (selectedRoom) {
				this.setSelectedRoomId({ ...selectedRoom });
				this.setSavedState({ savedRoomNumber: true });
			}
			this.closeModal();
		},
		async getRoomNumberList() {
			this.setLoadedRoomUnits(false);
			this.openSwalLoading();
			try {
				const response = await axios.get(
					`/owner/booking/room-allotment/${this.designerId}`,
					{
						baseURL: '/ownerpage/mamipay/request'
					}
				);
				const responseStatus = _get(response, 'data.status', false);
				if (responseStatus) {
					const roomNumberList = _filter(
						_get(response, 'data.data.units') || [],
						room => room.available
					);
					this.setRoomUnits(roomNumberList);
					this.setLoadedRoomUnits(true);
					this.closeSwalLoading();
				} else {
					this.onErrorGetRoomNumberList();
				}
			} catch (error) {
				bugsnagClient.notify(error);
				this.onErrorGetRoomNumberList();
			}
		},
		onErrorGetRoomNumberList() {
			this.setLoadedRoomUnits(false);
			this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type */
.modal-select-room {
	&__option {
		p {
			font-weight: bold;
		}

		.bg-c-radio__icon {
			flex-shrink: 0;
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-select-room {
	&__option {
		padding: 16px 0;
		margin-top: 16px;
		border-bottom: 1px solid #e8e8e8;
	}

	&__action {
		display: flex;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	@media (max-width: 991px) {
		&__action {
			justify-content: space-between;

			> * {
				width: 100%;
			}
		}
	}
}
</style>
