<template>
	<bg-modal
		v-model="isShowModal"
		class="modal-custom-price"
		title="Harga sewa kos yang sesuai"
		desktop-size="sm"
		mobile-size="popup"
		@close="$emit('close')"
	>
		<div class="modal-custom-price__input">
			<dbet-tenant-field
				label="Hitungan Sewa"
				:error-message="invalidRentTypeMessage"
			>
				<bg-select
					v-model="selectedRentType"
					:options="roomPrices"
					placeholder="Per Bulan"
					options-label-key="label"
					options-value-key="type"
					class="modal-custom-price__select"
				/>
			</dbet-tenant-field>
		</div>
		<div class="modal-custom-price__input">
			<dbet-tenant-field
				label="Harga Sewa"
				:error-message="invalidCustomPriceMessage"
			>
				<vue-numeric
					ref="customPriceInput"
					v-model="customPrice"
					class="modal-custom-price__amount"
					currency="Rp"
					separator="."
					:placeholder="customPrice ? '' : 'Rp'"
				/>
			</dbet-tenant-field>
		</div>
		<template #footer>
			<div class="modal-custom-price__action">
				<bg-button
					class="modal-custom-price__action-save"
					variant="primary"
					size="lg"
					@click="saveCustomPrice"
				>
					Simpan
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import VueNumeric from 'vue-numeric';
import DbetTenantField from './DbetTenantField';
import { BgModal, BgButton, BgSelect } from 'bangul-vue';
import { mapState, mapMutations } from 'vuex';

export default {
	components: {
		BgModal,
		BgButton,
		BgSelect,
		VueNumeric,
		DbetTenantField
	},
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		rentCountType: {
			type: String,
			default: ''
		},
		price: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			selectedRentType: '',
			customPrice: 0,
			invalidCustomPriceMessage: '',
			invalidRentTypeMessage: ''
		};
	},
	computed: {
		...mapState('room', ['roomPrices']),
		isShowModal: {
			get() {
				return this.isShow;
			},
			set(isShow) {
				this.$emit('update:isShow', isShow);
			}
		}
	},
	watch: {
		isShowModal(isShow) {
			if (isShow) {
				this.selectedRentType = this.rentCountType;
			}
		},
		selectedRentType(selectedRentType) {
			if (selectedRentType) {
				this.invalidRentTypeMessage = '';
			}
		},
		customPrice() {
			this.validateCustomPrice();
		}
	},
	created() {
		if (this.rentCountType) {
			this.selectedRentType = this.rentCountType;
			this.customPrice = this.price;
		}
	},
	mounted() {
		this.blurCustomPriceInput();
	},
	methods: {
		...mapMutations('dbet', ['setRentData']),
		...mapMutations('saved', ['setSavedState']),
		blurCustomPriceInput() {
			this.$refs.customPriceInput.$refs.numeric.blur();
		},
		validateCustomPrice() {
			this.invalidCustomPriceMessage = '';
			if (this.customPrice < 10000) {
				this.invalidCustomPriceMessage = 'Minimal Rp10.000';
			}
			return !this.invalidCustomPriceMessage;
		},
		validateRentType() {
			this.invalidRentTypeMessage = '';
			if (!this.selectedRentType) {
				this.invalidRentTypeMessage = 'Pilih harga sewa';
			}
			return !this.invalidRentTypeMessage;
		},
		closeModal() {
			this.isShowModal = false;
		},
		saveCustomPrice() {
			const isValidCustomPrice = this.validateCustomPrice();
			const isValidRentType = this.validateRentType();

			if (isValidCustomPrice && isValidRentType) {
				this.setRentData({
					rentType: 'custom',
					rentTypeCustom: this.selectedRentType,
					price: this.customPrice
				});
				this.setSavedState({ savedRentPrice: true });
				this.closeModal();
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type */
.modal-custom-price {
	* {
		word-break: break-word;
	}

	&__option {
		p {
			font-weight: bold;
			color: #404040;
		}

		&-radio {
			label {
				margin-bottom: 0;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-custom-price {
	&__amount {
		width: 100%;
		box-sizing: border-box;
		padding: 12px;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
		background-color: #fff;
		border: 1px solid #dadada;
		border-radius: 4px;

		&:focus {
			border-color: #1baa56;
			outline: none;
		}

		&::placeholder {
			color: #949494;
			opacity: 1;
		}
	}

	&__input {
		&:first-of-type {
			margin-top: 48px;
		}

		&:last-of-type {
			margin-top: 36px;
		}
	}

	&__action {
		display: flex;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	@media (max-width: 991px) {
		&__option {
			margin-top: 12px;
		}

		&__input {
			&:first-of-type {
				margin-top: 24px;
			}

			&:last-of-type {
				margin-top: 12px;
			}
		}

		&__action {
			justify-content: space-between;

			> * {
				width: 100%;
			}
		}
	}
}
</style>
