<template>
	<dbet-tenant-field
		class="dbet-tenant-input-gender"
		label="Jenis Kelamin"
		:error-message="errorMessage"
	>
		<div class="dbet-tenant-input-gender__types">
			<dbet-tenant-tag-radio
				v-for="genderOption in genderOptions"
				:key="`job-option-${genderOption.type}`"
				v-model="gender"
				:label="genderOption.label"
				:selected-value="genderOption.type"
				:disabled="genderOption.type === disabledGender"
			/>
		</div>
	</dbet-tenant-field>
</template>

<script>
import DbetTenantTagRadio from './DbetTenantTagRadio';
import DbetTenantField from './DbetTenantField';

export default {
	components: {
		DbetTenantTagRadio,
		DbetTenantField
	},
	props: {
		value: {
			type: String,
			default: ''
		},
		disabledGender: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			genderOptions: [
				{
					type: 'male',
					label: 'Laki-laki'
				},
				{
					type: 'female',
					label: 'Perempuan'
				}
			],
			errorMessage: '',
			errorMessageRequired: 'Wajib diisi'
		};
	},
	computed: {
		gender: {
			get() {
				return this.value;
			},
			set(gender) {
				this.$emit('input', gender);
			}
		}
	},
	watch: {
		value() {
			this.validate();
		}
	},
	created() {
		this.assignDefaultGender();
	},
	methods: {
		assignDefaultGender() {
			if (
				this.value &&
				this.disabledGender &&
				this.value === this.disabledGender
			) {
				this.gender = this.value === 'male' ? 'female' : 'male';
			}
		},
		validate() {
			if (
				!this.gender ||
				this.gender === this.disabledGender ||
				!['male', 'female'].includes(this.gender)
			) {
				this.errorMessage = this.errorMessageRequired;
				return false;
			}

			this.errorMessage = '';
			return true;
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-tenant-input-gender {
	&__types {
		display: flex;
		width: 100%;
		max-width: 100%;
		overflow-y: auto;

		> *:not(:first-child) {
			margin-left: 8px;
		}
	}
}
</style>
