<template>
	<div class="dbet-tenant-form">
		<bg-text class="dbet-tenant-form__title" size="heading-4" tag="h4">
			Formulir Data Penyewa
		</bg-text>

		<dbet-tenant-sticky-title
			title="Formulir Data Penyewa"
			class="dbet-tenant-form__title-sticky hidden-md hidden-lg"
		/>

		<bg-card size="sm" class="dbet-tenant-form__kost">
			<div class="dbet-tenant-form__kost-info">
				<bg-text size="title-5" tag="h5">
					{{ roomName }}
				</bg-text>
				<bg-text size="body-2">
					{{ roomAddress }}
				</bg-text>
			</div>
			<img
				v-lazy="{
					src: roomPhotoSmall || propertyImageLoading,
					error: propertyImageLoading,
					loading: propertyImageLoading
				}"
				class="dbet-tenant-form__kost-image"
				alt="kost image"
			/>
		</bg-card>

		<ul class="dbet-tenant-form__info">
			<template v-for="(info, i) in infoList">
				<li v-if="!info.hide" :key="i" class="dbet-tenant-form__info-item">
					<div class="dbet-tenant-form__info-item-value">
						<bg-text tag="span" size="body-1">
							{{ info.title }}
							<bg-text v-if="info.optional" tag="span" size="body-2" italic>
								{{ ' (opsional)' }}
							</bg-text>
						</bg-text>
						<bg-text tag="span" size="body-2">
							{{ info.value && info.saved ? info.value : info.placeholder }}
						</bg-text>
					</div>
					<bg-link
						role="button"
						class="dbet-tenant-form__info-item-action"
						:variant="`${info.saved ? 'high' : 'medium-naked'}`"
						@click="onActionItemClicked(info)"
					>
						<bg-text tag="span" size="body-1">
							{{ info.saved ? 'Ubah' : 'Pilih' }}
						</bg-text>
					</bg-link>
				</li>
			</template>
		</ul>
		<div class="dbet-tenant-form__action">
			<bg-button
				block
				size="lg"
				variant="primary"
				class="dbet-tenant-form__action-save"
				:disabled="!isValid"
				@click="onSendButtonClicked"
			>
				Kirim Data
			</bg-button>
			<div
				v-if="!isValid"
				class="dbet-tenant-form__action-disabled"
				@click="showUncompleteFormToast"
			/>
		</div>

		<dbet-tenant-modal-success
			v-if="isShowModalSuccess"
			v-model="isShowModalSuccess"
		/>
		<dbet-tenant-modal-select-room
			v-if="isShowModalSelectRoom"
			:value="designerRoomId"
			:room-id="designerId"
			:is-show.sync="isShowModalSelectRoom"
		/>
		<dbet-tenant-modal-due-date
			v-if="isShowModalDueDate"
			:value="dueDate"
			:is-show.sync="isShowModalDueDate"
		/>
		<dbet-tenant-modal-rent-price
			v-if="isShowModalRentPrice"
			:is-show.sync="isShowModalRentPrice"
			:value="rentType"
			@custom="isShowModalRentPriceCustom = true"
		/>
		<dbet-tenant-modal-rent-price-custom
			v-if="isShowModalRentPriceCustom"
			:is-show.sync="isShowModalRentPriceCustom"
			:rent-count-type="rentTypeCustom"
			:price="price"
			@close="isShowModalRentPrice = true"
		/>
		<dbet-tenant-modal-select-additional
			v-if="isShowModalAdditionalPrice && !!additionalPrices.length"
			:is-show.sync="isShowModalAdditionalPrice"
			:additional-price="additionalPrices"
			:selected-ids="selectedAdditionalIds || []"
		/>
		<bg-toast
			v-model="isShowUncompleteFormToast"
			class="dbet-tenant-form__toast"
			:duration="3"
		>
			Data belum dilengkapi
		</bg-toast>
	</div>
</template>

<script>
import _map from 'lodash/map';
import _get from 'lodash/get';
import { mapState, mapGetters, mapMutations } from 'vuex';
import { formatCurrency } from 'Js/@utils/currencyString';

import { BgCard, BgText, BgLink, BgButton, BgToast } from 'bangul-vue';

import DbetTenantStickyTitle from '../DbetTenantStickyTitle';
import DbetTenantModalSelectRoom from './DbetTenantModalSelectRoom';
import DbetTenantModalDueDate from './DbetTenantModalDueDate';
import DbetTenantModalRentPrice from './DbetTenantModalRentPrice';
import DbetTenantModalRentPriceCustom from './DbetTenantModalRentPriceCustom';
import DbetTenantModalSelectAdditional from './DbetTenantModalSelectAdditional';
import DbetTenantModalSuccess from './DbetTenantModalSuccess';

export default {
	components: {
		BgCard,
		BgText,
		BgLink,
		BgButton,
		BgToast,
		DbetTenantStickyTitle,
		DbetTenantModalSelectRoom,
		DbetTenantModalDueDate,
		DbetTenantModalRentPrice,
		DbetTenantModalRentPriceCustom,
		DbetTenantModalSelectAdditional,
		DbetTenantModalSuccess
	},
	data() {
		return {
			isShowModalSelectRoom: false,
			isShowModalDueDate: false,
			isShowModalRentPrice: false,
			isShowModalRentPriceCustom: false,
			isShowModalAdditionalPrice: false,
			isShowModalSuccess: false,
			isShowUncompleteFormToast: false,
			propertyImageLoading:
				'/general/img/pictures/placeholder/placeholder_loading.svg'
		};
	},
	computed: {
		...mapState(['user']),
		...mapState('saved', [
			'savedUser',
			'savedRoomNumber',
			'savedDueDate',
			'savedRentPrice',
			'savedAdditionalPrice'
		]),
		...mapState('room', [
			'roomName',
			'designerId',
			'roomDistrict',
			'roomCity',
			'roomProvince',
			'roomLevel',
			'roomType',
			'isMamirooms'
		]),
		...mapState('dbet', [
			'isRequiredIdentity',
			'isRequiredDueDate',
			'designerRoomId',
			'price',
			'dueDate',
			'rentType',
			'rentTypeCustom',
			'selectedAdditionalIds'
		]),
		...mapGetters('dbet', ['selectedRentType', 'selectedRoomName']),
		...mapGetters('room', ['rentPricesObj', 'roomPhotoSmall']),
		...mapGetters('user', ['workPlace', 'identityIdUrl', 'userJobAlias']),
		...mapGetters([
			'bookingRequestParams',
			'additionalPrices',
			'selectedAdditionals'
		]),
		infoList() {
			return [
				{
					title: 'Informasi Penyewa',
					placeholder: 'Masukkan data diri Anda',
					value: this.user.name,
					saved: this.savedUser,
					route: { name: 'biodata' }
				},
				{
					title: 'Nomor Kamar',
					placeholder: 'Pilih nomor kamar',
					value: this.selectedRoomName,
					saved: this.savedRoomNumber,
					modal: 'isShowModalSelectRoom'
				},
				{
					title: 'Tanggal Jatuh Tempo',
					placeholder: 'Pilih tanggal penagihan uang kos',
					value: this.dueDate,
					saved: this.savedDueDate,
					modal: 'isShowModalDueDate',
					hide: !this.isRequiredDueDate
				},
				{
					title: 'Harga Sewa',
					placeholder: 'Pilih sesuai waktu pembayaran Anda',
					value: this.rentPriceLabel,
					saved: this.savedRentPrice,
					modal: 'isShowModalRentPrice'
				},
				{
					title: 'Biaya Tambahan',
					placeholder: 'Pilih biaya tambahan',
					value: this.additionalPriceLabel,
					saved: this.savedAdditionalPrice,
					optional: true,
					modal: 'isShowModalAdditionalPrice',
					hide: !this.additionalPrices.length
				}
			];
		},
		isValid() {
			return this.infoList.every(
				info => !!info.optional || !!info.hide || !!info.saved
			);
		},
		isCustomPrice() {
			return this.rentType === 'custom';
		},
		rentPriceLabel() {
			return this.selectedRentType && this.rentPricesObj[this.selectedRentType]
				? `${formatCurrency(this.price)} ${
						this.rentPricesObj[this.selectedRentType].label
				  }`
				: '';
		},
		additionalPriceLabel() {
			return _map(this.selectedAdditionals, price => price.name).join(', ');
		},
		roomAddress() {
			return [this.roomCity, this.roomProvince]
				.filter(address => !!address)
				.join(', ');
		},
		deviceInterface() {
			return this.navigator.isMobile ? 'mobile' : 'desktop';
		},
		trackerPropertyData() {
			return {
				interface: this.deviceInterface,
				is_mamirooms: this.isMamirooms,
				property_type: this.roomType || 'kost',
				property_name: this.roomName,
				property_id: this.designerId,
				property_city: this.roomCity,
				property_subdistrict: this.roomDistrict,
				goldplus_status: _get(this.roomLevel, 'name', '')
			};
		}
	},
	created() {
		this.setFormVisitedState(true);
		this.trackDbetFormVisited();
	},
	methods: {
		...mapMutations(['setFormVisitedState']),
		formatCurrency,
		async submitBookingRequestData() {
			try {
				this.openSwalLoading();
				const response = await axios.post(
					`/user/contract-submission`,
					this.bookingRequestParams
				);
				const responseStatus = _get(response, 'data.status', false);

				if (responseStatus) {
					this.trackDbetFormSubmitted();
					this.isShowModalSuccess = true;
					this.closeSwalLoading();
				} else {
					const responseMessage = _get(response, 'data.meta.message');
					this.swalError(
						null,
						responseMessage || 'Terjadi galat. Silakan coba lagi.'
					);
				}
			} catch (error) {
				bugsnagClient.notify(error);
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
			}
		},
		onSendButtonClicked() {
			!this.isValid
				? this.showUncompleteFormToast()
				: this.submitBookingRequestData();
		},
		showUncompleteFormToast() {
			this.isShowUncompleteFormToast = true;
		},
		onActionItemClicked(info) {
			if (
				info.modal &&
				Object.prototype.hasOwnProperty.call(this, info.modal)
			) {
				this[info.modal] = true;
			} else if (info.route) {
				this.$router.push(info.route);
			}
		},
		getSelectedAdditionalPriceKeyValue(key) {
			return _map(this.selectedAdditionals, price => price[key]);
		},
		trackDbetFormVisited() {
			tracker('moe', [
				'[User] DBET Tenant Form - Visited',
				{ ...this.trackerPropertyData }
			]);
		},
		trackDbetFormSubmitted() {
			tracker('moe', [
				'[User] DBET Tenant Form - Submitted',
				{
					...this.trackerPropertyData,
					is_id_photo_mandatory: this.isRequiredIdentity,
					is_due_date_mandatory: this.isRequiredDueDate,
					tenant_name: this.user.name,
					tenant_gender:
						this.user.gender === 'male' ? 'Laki-Laki' : 'Perempuan',
					tenant_phone_number: this.user.phone,
					tenant_job: this.userJobAlias,
					tenant_work_place: this.workPlace,
					tenant_id_photo: this.identityIdUrl,
					room_id: this.designerRoomId || null,
					due_date: this.dueDate || null,
					rent_price: this.price || 0,
					is_other_rent_price: this.isCustomPrice,
					property_rent_type: this.selectedRentType,
					other_price_name: this.getSelectedAdditionalPriceKeyValue('name'),
					other_price: this.getSelectedAdditionalPriceKeyValue('price')
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.dbet-tenant-form {
	&__kost {
		border-radius: 8px !important;
	}

	&__toast {
		bottom: 72px;
	}
}
</style>

<style lang="scss" scoped>
.dbet-tenant-form {
	position: relative;
	display: flex;
	width: 612px;
	max-width: 100%;
	padding: 8px;
	margin: 68px auto 38px;
	flex-direction: column;
	border: 1px solid #dadada;
	border-radius: 8px;

	&__title {
		padding: 0 16px;
		margin-bottom: 70px;

		&-sticky {
			padding: 0 16px;
		}
	}

	&__kost {
		display: flex;
		justify-content: space-between;
	}

	&__kost-info {
		display: flex;
		flex-direction: column;

		> *:not(:first-child) {
			margin-top: 4px;
		}
	}

	&__kost-image {
		width: 88px;
		height: 88px;
		border-radius: 8px;
		object-position: center;
		object-fit: cover;
		flex-shrink: 0;
	}

	&__action {
		position: relative;
		width: 100%;
		padding: 12px 16px;
		background-color: #fff;
		border-top: 1px solid #e8e8e8;

		&-disabled {
			position: absolute;
			top: 12px;
			left: 16px;
			z-index: 1;
			width: calc(100% - 32px);
			height: calc(100% - 24px);
			cursor: pointer;
			background-color: transparent;
		}
	}

	&__info {
		padding: 16px 0 24px;
		margin: 0;
		list-style: none;

		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px;

			&-value {
				display: flex;
				flex-direction: column;
			}

			&-value > *:not(:first-child) {
				margin-top: 4px;
			}

			&-action {
				flex-shrink: 0;
				margin-left: 8px;
			}
		}
	}

	@media (max-width: 991px) {
		width: 768px;
		padding: 0 0 74px;
		margin: 0 auto;
		border: 0;
		border-radius: 0;

		&__title {
			display: none;
		}

		&__kost {
			margin: 0 16px;
		}

		&__action {
			position: fixed;
			bottom: 0;
			left: 50%;
			width: 768px;
			max-width: 100%;
			transform: translateX(-50%);
		}
	}
}
</style>
