<template>
	<div
		class="dbet-tenant-tag-radio"
		:class="{
			'dbet-tenant-tag-radio--selected': value === selectedValue,
			'dbet-tenant-tag-radio--disabled': disabled
		}"
		@click="inputValue = selectedValue"
	>
		<input
			v-model="inputValue"
			:value="selectedValue"
			:disabled="disabled"
			class="dbet-tenant-tag-radio__radio"
			type="radio"
		/>
		<bg-text tag="span" size="body-3" class="dbet-tenant-tag-radio__label">
			{{ label }}
		</bg-text>
	</div>
</template>

<script>
import { BgText } from 'bangul-vue';

export default {
	components: {
		BgText
	},
	props: {
		value: {
			type: String,
			required: true
		},
		selectedValue: {
			type: String,
			required: true
		},
		label: {
			type: String,
			default: ''
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		inputValue: {
			get() {
				return this.value;
			},
			set(value) {
				if (!this.disabled) {
					this.$emit('input', value);
				}
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-tenant-tag-radio {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	height: 40px;
	padding: 12px 16px;
	color: #404040;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 40px;

	&__radio {
		position: absolute;
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}

	&--selected {
		color: #fff;
		background-color: #404040;
		border-color: #404040;
	}

	&--disabled {
		color: #dadada;
		pointer-events: none;
		border-color: #dadada;
	}
}
</style>
