<template>
	<div class="back-to-top" @click="backToTop">
		<img v-lazy="'/general/img/icons/ic_voucher_back_to_top.svg'" />
	</div>
</template>

<script>
export default {
	props: {
		backToTop: {
			type: Function,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.back-to-top {
	position: absolute;
	bottom: 26px;
	right: 30px;
	background-color: #1baa56;
	height: 56px;
	width: 56px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	@media (max-width: 767px) {
		bottom: 37px;
		right: 16px;
	}
}
</style>
