<template>
	<div class="voucher-card">
		<router-link
			:to="{
				name: 'Voucher Detail',
				params: { voucherId, isAvailable, voucherValidDate, label }
			}"
		>
			<div class="voucher-image" @click="moengageTrackEvent">
				<img
					v-if="image !== null"
					v-lazy="{
						src: image.medium,
						error: '/general/img/pictures/placeholder/placeholder_loading.svg',
						loading: '/general/img/pictures/placeholder/placeholder_loading.svg'
					}"
					class="voucher-image__image"
					:alt="title"
				/>
				<img
					v-else
					v-lazy="'/general/img/pictures/placeholder/placeholder_loading.svg'"
					class="voucher-image__image"
					:alt="title"
				/>
			</div>
		</router-link>

		<voucher-card-valid
			:voucher-valid-date="voucherValidDate"
			:is-available="isAvailable"
			:label="label"
		/>

		<voucher-card-code
			:voucher-id="voucherId"
			:code="code"
			:is-available="isAvailable"
		/>
	</div>
</template>

<script>
import VoucherCardCode from './voucher-card/VoucherCardCode';
import VoucherCardValid from './voucher-card/VoucherCardValid';
import mixinVoucherTracker from '../../mixins/mixinVoucherTracker';

export default {
	components: {
		VoucherCardCode,
		VoucherCardValid
	},

	mixins: [mixinVoucherTracker],

	props: {
		voucherId: {
			type: Number,
			required: true
		},
		code: {
			type: String,
			required: true
		},
		endDate: {
			type: String,
			required: false,
			default: null
		},
		title: {
			type: String,
			required: true
		},
		image: {
			type: Object,
			required: false,
			default: null
		},
		discountType: {
			type: String,
			required: false,
			default: null
		},
		discountAmount: {
			type: Number,
			required: false,
			default: 0
		},
		minAmount: {
			type: Number,
			required: false,
			default: 0
		},
		maxAmount: {
			type: Number,
			required: false,
			default: 0
		},
		applicableType: {
			type: String,
			required: false,
			default: null
		},
		isAvailable: {
			type: Boolean,
			required: true
		},
		label: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			voucherUsage: {
				booking: {
					text: 'pembayaran kos pertama'
				},
				recurring: {
					text: 'pembayaran kos bulan selanjutnya'
				},
				pelunasan: {
					text: 'pelunasan DP'
				},
				multiple: {
					text: 'pembayaran kos'
				}
			}
		};
	},

	computed: {
		voucherValidDate() {
			if (this.endDate !== null) {
				const convertedDate = this.endDate.replace(/-/g, '/');
				const date = new Date(convertedDate);
				const expiredDate = date.toLocaleDateString('id-ID', {
					day: 'numeric',
					month: 'short',
					year: 'numeric'
				});

				return `hingga ${expiredDate}`;
			} else {
				return 'kapan saja';
			}
		}
	},

	mounted() {
		this.checkUserDevice();
	},

	methods: {
		moengageTrackEvent() {
			tracker('moe', [
				'[User] Voucherku Detail Page Visited',
				{
					user_id: this.$store.state.authData.all.id,
					interface: this.userInterface,
					voucher_id: this.voucherId,
					voucher_code: this.code
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher-card {
	padding: 12px;
	margin: 24px 12px;
	margin-bottom: 24px;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

	@media (max-width: 767px) {
		margin: 24px 2px;
	}
}

.voucher-image {
	position: relative;
	top: -12px;
	left: -12px;
	width: calc(100% + 24px);
	height: 130px;
	border-radius: 8px 8px 0 0;

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 8px 8px 0 0;
	}
}
</style>
