<template>
	<div class="voucher__container">
		<div v-if="!isMobile" class="other-promo">
			<div class="other-promo__container">
				<span class="other-promo__text">Promo Lainnya</span>
				<a href="https://promo.mamikos.com" target="_blank" rel="noopener">
					<button class="other-promo__button" @click="otherPromoClick">
						Lihat
					</button>
				</a>
			</div>
		</div>

		<masonry
			v-if="!isEmpty && !isLoading"
			:id="type"
			class="voucher__list"
			:class="{ fixed: isHeaderOnTop }"
			:cols="listCols"
			:gutter="0"
			@scroll.native="infiniteScoll"
		>
			<voucher-card
				v-for="(voucher, index) in vouchers"
				:key="index"
				:voucher-id="voucher.id"
				:code="voucher.code"
				:end-date="voucher.end_date"
				:title="voucher.title"
				:image="voucher.image"
				:discount-type="voucher.discount_type"
				:discount-amount="voucher.discount_amount"
				:min-amount="voucher.min_amount"
				:max-amount="voucher.max_amount"
				:is-available="isAvailable"
				:label="label"
			/>

			<div v-show="isLoadingNextVoucher" class="loader">
				<mami-loading-inline />
			</div>
		</masonry>

		<back-to-top-button v-if="isScrolled" :back-to-top="backToTop" />

		<voucher-empty
			v-if="isEmpty && !isLoading"
			:empty-text="emptyText"
			:empty-title="emptyTitle"
		/>

		<div v-if="isLoading">
			<mami-loading-inline />
		</div>
	</div>
</template>

<script>
import VoucherEmpty from './VoucherEmpty';
import VoucherCard from './VoucherCard';
import BackToTopButton from './BackToTopButton';
import mixinVoucherTracker from '../../mixins/mixinVoucherTracker';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		VoucherEmpty,
		VoucherCard,
		BackToTopButton
	},

	mixins: [mixinVoucherTracker],

	props: {
		isAvailable: {
			type: Boolean,
			required: true
		},
		isMobile: {
			type: Boolean,
			required: true
		},
		label: {
			type: String,
			required: true
		},
		type: {
			type: String,
			required: true
		},
		emptyTitle: {
			type: String,
			required: true
		},
		emptyText: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			isLoading: true,
			isLoadingNextVoucher: false,
			isHeaderOnTop: false,
			pageNumber: 1,
			limit: 10,
			isEmpty: true,
			listCols: {
				default: 2,
				991: 1,
				767: 2,
				500: 1
			},
			vouchers: [],
			hasNext: false,
			isScrolled: false
		};
	},

	mounted() {
		window.addEventListener('scroll', this.handleScroll);
		this.getVoucher();
		this.checkUserDevice();
	},

	methods: {
		getVoucher() {
			this.isLoading = true;
			axios
				.get(`/user/voucher/list/`, {
					params: {
						type: this.type,
						page: this.pageNumber,
						limit: this.limit
					}
				})
				.then(response => {
					this.isLoading = false;
					if (response.data.status && response.data.data.length !== 0) {
						this.vouchers = [...this.vouchers, ...response.data.data];
						this.hasNext = response.data.has_next;
						this.pageNumber++;

						this.isEmpty = false;
					} else {
						this.isEmpty = true;
					}
				})
				.catch(error => {
					this.isLoading = false;
					this.isEmpty = true;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		nextVoucher() {
			if (!this.isLoadingNextVoucher) {
				this.isLoadingNextVoucher = true;
				axios
					.get(`/user/voucher/list/`, {
						params: {
							type: this.type,
							page: this.pageNumber,
							limit: this.limit
						}
					})
					.then(response => {
						this.vouchers = [...this.vouchers, ...response.data.data];
						this.hasNext = response.data.has_next;
						this.pageNumber++;
						this.isLoadingNextVoucher = false;
					})
					.catch(error => {
						bugsnagClient.notify(error);
						this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
						this.isLoadingNextVoucher = false;
					});
			}
		},

		infiniteScoll() {
			const element = document.getElementById(this.type);
			const scrollPosition = element.scrollHeight - element.scrollTop;
			const minScroll = element.clientHeight;

			this.isScrolled = element.scrollTop > 200;

			if (scrollPosition - 10 <= minScroll) {
				this.isScrolled = false;

				if (this.hasNext) {
					this.nextVoucher();
				}
			}
		},

		backToTop() {
			document.getElementById(this.type).scrollTop = 0;
		},

		handleScroll() {
			this.isHeaderOnTop =
				window.innerHeight + window.scrollY >= document.body.offsetHeight;
		},

		otherPromoClick() {
			tracker('moe', [
				'[User] Promo Lainnya Clicked',
				{
					user_id: this.authData.all.id,
					interface: this.userInterface
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher__list {
	height: 65vh;
	padding-right: 10px;
	overflow-y: auto;
	scroll-behavior: smooth;

	&.fixed {
		overflow-x: hidden;
		overflow-y: auto !important;
		-webkit-overflow-scrolling: touch;
	}

	&::-webkit-scrollbar {
		width: 5px;

		@media (max-width: 767px) {
			width: 0;
		}
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1);

		@media (max-width: 767px) {
			background-color: transparent;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: #a9a9a9;
		border-radius: 5px;

		@media (max-width: 767px) {
			background-color: transparent;
		}
	}

	@media (max-width: 767px) {
		height: calc(100vh - 220px);
		padding-right: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: hidden;
	}

	.loader {
		text-align: center;
		width: 200%;
		zoom: 1;
		-moz-transform: scale(1);

		@media (max-width: 992px) {
			width: 100%;
		}

		@media (max-width: 767px) {
			width: 200%;
		}

		@media (max-width: 480px) {
			width: 100%;
		}
	}
}

.other-promo {
	position: relative;
	left: -15px;
	width: calc(100% + 15px);
	padding: 23px 29px 14px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 72px;
		padding: 24px 32px;
		border-radius: 8px;
		box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);
	}

	&__text {
		font-size: 18px;
		font-weight: bold;
		line-height: 24px;
		color: #484848;
	}

	&__button {
		height: 40px;
		padding: 0 55px;
		color: #1baa56;
		background-color: #fff;
		border: 1px solid #1baa56;
		border-radius: 4px;
	}
}
</style>
