<template>
	<div class="voucher-empty">
		<img
			v-lazy="'/general/img/pictures/voucherku/img_voucher_empty.svg'"
			alt="voucher_empty"
		/>
		<h1>{{ emptyTitle }}</h1>
		<p>{{ emptyText }}</p>
	</div>
</template>

<script>
export default {
	props: {
		emptyTitle: {
			type: String,
			required: true
		},
		emptyText: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher-empty {
	text-align: center;
	margin-top: 32px;
	height: 60vh;

	img {
		margin-bottom: 38px;
	}

	h1 {
		font-size: 20px;
		line-height: 22px;
		font-weight: bold;
	}

	p {
		font-size: 14px;
		line-height: 20px;
	}

	@media (max-width: 767px) {
		height: 62vh;
	}
}
</style>
