<template>
	<mami-modal-wrap
		id="roomAllotmentWrapper"
		:class="{ 'in --is-virtual-keyboard': isVirtualKeyboard, in: showModal }"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="modal-title">
			Pilih nomor kamar
		</div>

		<room-allotment-search-input
			v-model="searchVal"
			@delete="deleteRoomAllotmentVal"
		/>

		<div class="room-left">
			<span>Sisa {{ availableRoom }} kamar</span>
		</div>

		<div v-if="!isLoadingRoomNumberList" class="room-option-box">
			<mami-radio
				v-if="selectedRoomAllotment && isShowPreviousSelectedRoom"
				v-model="roomAllotmentId"
				:selected-value="selectedRoomAllotment.id"
			>
				<span class="room-name">{{
					`${selectedRoomAllotment.name} ${selectedRoomAllotment.floor}`
				}}</span>
				<span v-if="selectedRoomAllotment.is_gold_plus" class="goldplus-label"
					>GoldPlus</span
				>
			</mami-radio>

			<mami-room-empty v-if="isEmpty">
				<div slot="caption">
					<span class="empty-title">Nomor kamar tidak ditemukan</span>
					<br />
					<span class="empty-caption">Pastikan nomor kamar sesuai</span>
				</div>
			</mami-room-empty>

			<template v-else>
				<div v-for="room in availableRooms" :key="room.id" class="room-option">
					<mami-radio
						v-if="room.id !== takeOutSelectedRoom"
						v-model="roomAllotmentId"
						:selected-value="room.id"
						:disabled="false"
					>
						<span class="room-name">{{ `${room.name} ${room.floor}` }}</span>
						<span v-if="room.is_gold_plus" class="goldplus-label"
							>GoldPlus</span
						>
					</mami-radio>
				</div>

				<div
					v-for="room in notAvailableRooms"
					:key="room.id"
					class="room-option --disabled"
					@click="showWarningToast"
				>
					<mami-radio :disabled="true">
						<span class="room-name">{{ `${room.name} ${room.floor}` }}</span>
						<span v-if="room.is_gold_plus" class="goldplus-label"
							>GoldPlus</span
						>
					</mami-radio>
				</div>
			</template>
		</div>

		<div class="room-add-new text-primary">
			<span @click="closeModal('change')"
				>Tidak ada di daftar? Tambah di sini</span
			>
		</div>

		<div class="room-action">
			<button
				type="button"
				class="btn btn-primary"
				:class="{ '--disabled': roomAllotmentId === null }"
				:disabled="roomAllotmentId === null"
				@click="selectRoom(roomAllotmentId)"
			>
				Terapkan
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
import RoomAllotmentSearchInput from './RoomAllotmentSearchInput';
import _filter from 'lodash/filter';
import _find from 'lodash/find';
import _get from 'lodash/get';

import MixinOxWebUrl from 'Js/_ownerpage/mamipay/mixins/MixinOxWebUrl.js';

const MamiModalWrap = () => import('Js/@components/MamiModalWrap');
const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');
const MamiRoomEmpty = () =>
	import('Js/@components/mami-components/MamiRoomEmpty');

export default {
	components: {
		RoomAllotmentSearchInput,
		MamiModalWrap,
		MamiRadio,
		MamiRoomEmpty
	},

	mixins: [MixinOxWebUrl],

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		statusPage: {
			type: String,
			default: ''
		},
		isCanSelectOnLocation: {
			type: Boolean,
			default: true
		},
		isShowPreviousSelectedRoom: {
			type: Boolean,
			default: true
		},
		isAddTenant: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			roomAllotmentId: null,
			searchVal: '',
			availableRoom: 0,
			rooms: [],
			isLoadingRoomNumberList: false,
			selectNewValue: false,
			selectInPlaceData: {
				id: '',
				name: 'Pilih',
				floor: 'di Tempat',
				available: true,
				disable: false
			},
			initialHeight: 0,
			isVirtualKeyboard: false
		};
	},

	computed: {
		isMemberPage() {
			return this.statusPage === 'member';
		},
		addTenantWebview() {
			return _get(this.$store, 'state.addTenant.webviewInterface', '');
		},
		preSelectedRoomId() {
			return _get(this.$store, 'state.addTenant.queryData.room');
		},
		isAddTenantWebView() {
			return (
				this.addTenantWebview === 'ios' || this.addTenantWebview === 'android'
			);
		},
		selectedRoomAllotment() {
			return this.$store.state.tenantProfile.tenantProfile
				.selectedRoomAllotment;
		},
		previousRoomAllotmentData() {
			if (this.isMemberPage && this.selectedRoomAllotment) {
				return _find(
					this.rooms,
					room => room.id === this.selectedRoomAllotment.id
				);
			}

			return null;
		},
		isCanSelectInPlace() {
			return (
				this.isCanSelectOnLocation &&
				(!this.isMemberPage || !this.roomAllotment.id === '')
			);
		},
		notAvailableRooms() {
			return _filter(this.filteredRooms, room => {
				const selectedId = this.previousRoomAllotmentData
					? this.previousRoomAllotmentData.id
					: null;
				return !room.available && room.id !== selectedId;
			});
		},
		availableRooms() {
			return _filter(this.filteredRooms, 'available');
		},
		filteredRooms() {
			const roomList = _filter(this.rooms, data => {
				const roomName = data.name.concat(' ', data.floor);
				return roomName.toLowerCase().includes(this.searchVal.toLowerCase());
			});

			return roomList;
		},
		roomId() {
			return this.$store.state.userRoom.id;
		},
		isEmpty() {
			return this.rooms.length === 0 || this.filteredRooms.length === 0;
		},
		roomNumber() {
			return this.$store.state.tenantProfile.tenantProfile.roomNumber;
		},
		roomAllotment: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.roomAllotment;
			},
			set(value) {
				this.$store.commit('setRoomAllotment', value);
			}
		},
		takeOutSelectedRoom() {
			return this.isShowPreviousSelectedRoom && this.selectedRoomAllotment
				? this.selectedRoomAllotment.id
				: 0;
		},
		getDataUrl() {
			return this.isAddTenant
				? `/owner/booking/room-allotment/${this.roomId}?from=add`
				: `/owner/booking/room-allotment/${this.roomId}`;
		}
	},

	watch: {
		roomNumber(storedRoomNumber) {
			this.roomAllotmentId = storedRoomNumber;
		},
		roomId: {
			immediate: true,
			handler(roomId) {
				!!roomId && this.getRoomNumberList();
			}
		}
	},

	created() {
		this.initialHeight = window.innerHeight;
	},

	mounted() {
		this.$nextTick(() => {
			window.addEventListener('resize', this.checkVirtualKeyboard);
		});
	},

	beforeDestroy() {
		window.removeEventListener('resize', this.checkVirtualKeyboard);
	},

	methods: {
		checkVirtualKeyboard() {
			const heightConstraint = 0.75 * this.initialHeight;
			this.isVirtualKeyboard =
				window.innerHeight < heightConstraint && this.showModal;
		},
		getRoomNumberList() {
			this.isLoadingRoomNumberList = true;
			this.openSwalLoading();
			axios
				.get(this.getDataUrl, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.availableRoom = response.data.data.room_available;
						this.rooms = response.data.data.units;
						this.isCanSelectInPlace &&
							this.rooms.unshift(this.selectInPlaceData);
						this.roomAllotmentId = this.roomAllotment.id;
						this.$emit('room-loaded', this.availableRoom);
						this.checkRoomId();
					}
					this.isLoadingRoomNumberList = false;
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.isLoadingRoomNumberList = false;
				});
		},
		checkRoomId() {
			if (this.preSelectedRoomId) {
				this.roomAllotmentId = this.preSelectedRoomId;
				this.selectRoom(this.preSelectedRoomId);
			}
		},
		closeModal(params) {
			if (params === 'change') {
				const webviewQuery = this.isAddTenantWebView
					? `?interface=${this.addTenantWebview}`
					: '';

				window.location = `${this.ownerDashboardUrl}/kos/rooms/${this.roomId}/edit${webviewQuery}`;
			} else {
				this.$emit('close');
			}
		},
		showWarningToast() {
			if (this.$toasted.toasts.length === 0) {
				this.$toasted.show('Kamar telah terisi di sistem kami', {
					theme: 'toasted-primary',
					className: 'disabled-room',
					containerClass: 'disabled-room-container',
					position: 'bottom-center',
					duration: 5000,
					action: {
						text: 'Ubah',
						onClick: (e, toastObject) => {
							toastObject.goAway(0);
							this.closeModal('change');
						}
					}
				});
			}
		},
		selectRoom(roomId) {
			const selectedRooms = _find(this.rooms, room => room.id == roomId);
			this.roomAllotment = selectedRooms || this.selectInPlaceData;
			roomId === '' && this.$emit('select-on-location');
			this.closeModal('select');
		},
		deleteRoomAllotmentVal() {
			this.searchVal = '';
		}
	}
};
</script>

<style lang="scss">
#roomAllotmentWrapper {
	&.modal.in {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-dialog {
		width: 360px;
		max-width: 100%;
	}

	.modal-content {
		border-radius: 8px;
	}

	.btn-close-filter {
		&.has-text {
			&:after {
				display: none;
			}
		}
	}

	&.--is-virtual-keyboard {
		.modal-dialog {
			margin-top: 250px;
		}
	}
}

.toasted-container.disabled-room-container {
	position: absolute;
	align-items: center;
	bottom: 30% !important;

	&.bottom-center > * {
		margin: 0 auto;
	}
}

.toasted.disabled-room {
	font-size: 14px !important;
	width: 315px !important;
	border-radius: 4px !important;

	.action {
		font-size: 12px !important;
		color: #ec4a0c !important;
	}
}

.modal-open {
	overflow: hidden !important;
}
</style>

<style lang="scss" scoped>
.modal-title {
	margin-top: -20px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

.room-left {
	margin-top: 10px;
	text-align: right;
}

.room-option-box {
	margin: 15px 0;
	height: 300px;
	overflow-y: auto;

	.room-option {
		margin: 10px 0;
		color: #484848;

		&.--disabled {
			color: #ddd;

			.goldplus-label {
				color: #bbb;
			}
		}
	}
}

.room-add-new {
	text-align: center;
	margin: 10px 0;

	span {
		font-weight: bold;
		cursor: pointer;
	}
}

.room-action {
	margin-top: 15px;

	button {
		width: 100%;
		font-weight: bold;
		border: 0;

		.--disabled {
			background-color: #9e9e9e;
			border-color: #9e9e9e;
			pointer-events: none;
		}
	}
}

.room-name {
	word-break: break-word;
	max-width: 200px;
}

.empty-title {
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}

.goldplus-label {
	font-size: 12px;
}
</style>
