<template>
	<div id="roomAllotmentSearchInput">
		<div class="search-box">
			<icon-magnify-glass />
			<input
				id="roomAllotmentInputElement"
				@input="$emit('input', $event.target.value)"
				type="text"
				placeholder="Cari nomor kamar"
			/>

			<div class="search-delete-value" @click="deleteValue">
				<img
					src="/general/img/icons/ic_close-consultant_white.svg"
					alt="icon close"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import MagnifyGlass from 'Js/@icons/MagnifyGlass';

export default {
	components: {
		IconMagnifyGlass: MagnifyGlass
	},

	methods: {
		deleteValue() {
			document.getElementById('roomAllotmentInputElement').value = '';
			this.$emit('delete');
		}
	}
};
</script>

<style lang="scss">
#roomAllotmentSearchInput {
	.search-box {
		svg {
			height: 24px;
		}
	}
}
</style>

<style lang="scss" scoped>
.search-box {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.14);
	height: 48px;
	padding: 0 10px;

	input {
		border: none;
		margin-left: 5px;
		width: 100%;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #aaa;
			font-weight: bold;
		}
	}

	.search-delete-value {
		background-color: #aaa;
		border-radius: 100%;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
</style>
