<template>
	<div>
		<modal v-model="show" @ok="$emit('close')" @closed="$emit('close')">
			<div slot="modal-header" class="modal-header">
				<h4 class="modal-title">
					Konfirmasi PIN
				</h4>
			</div>
			<div class="wrapper-pin">
				<h1>Masukan PIN Anda saat ini.</h1>
				<input
					v-model="myPin"
					placeholder="******"
					type="password"
					maxlength="6"
				/>
			</div>
			<div slot="modal-footer" class="modal-footer">
				<!-- 				<button type="button" class="btn btn-danger" @click="show = false">
					Batal
				</button> -->
				<button
					type="button"
					class="btn btn-primary btn-confirm"
					@click="checkValid"
				>
					Konfirmasi
				</button>
			</div>
		</modal>
	</div>
</template>

<script>
import { modal } from 'vue-strap';
import md5 from 'md5';

export default {
	components: {
		modal
	},

	props: ['show'],

	data() {
		return {
			myPin: ''
		};
	},

	methods: {
		checkValid() {
			this.openSwalLoading();
			const data = {
				pin: md5(this.myPin)
			};
			axios
				.post('/user/check-pin', data)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.$emit('action');
					} else {
						this.swalError(null, 'PIN tidak valid');
					}
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.modal-title {
	color: #22c264;
	font-weight: 600;
	text-align: center;
}

.wrapper-pin {
	h1 {
		color: #686868;
		text-align: center;
		font-size: 1.2em;
	}
	input {
		margin: 0 auto;
		border: none;
		border-bottom: 2px solid #c3c3c3;
		display: block;
		text-align: center;
		outline: none;
	}
}

.btn-confirm {
	margin: 0 auto;
	display: block;
}
</style>
