<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title custom-margin">Riwayat Transaksi</h1>

			<div class="transaction-wrapper">
				<div
					class="transaction-list"
					v-for="(history, key) in userHistory"
					:key="key"
				>
					<div class="transaction-type">
						<h1>
							Pencairan Dana
							<span class="code-trans">{{ history.trx_number }}</span>
						</h1>

						<p>{{ history.transaction_date }}</p>
					</div>

					<div class="transaction-total">
						<h1 v-if="history.reference == 'WDR'" class="min">
							- Rp {{ formatPrice(history.amount) }}
						</h1>

						<h1 v-else class="plus">+ Rp {{ formatPrice(history.amount) }}</h1>

						<p>Sisa saldo Rp.{{ formatPrice(history.balance) }}</p>
					</div>

					<accordion
						type="info"
						class="history-accordion"
						v-if="history.reference == 'KOS'"
					>
						<panel type="primary" class="history-panel">
							<strong slot="header">
								<div class="text-accordion text-accordion-history">
									detail
									<img
										class="down-icon"
										v-lazy="'/general/img/icons/ic_down_s.svg'"
									/>
								</div>
							</strong>

							<div class="detail-transaction">
								<h1>Rincian Pembayaran</h1>

								<div class="list-detail-transaction">
									<div class="column-one">
										Harga Kost (2 bulan)
									</div>
									<div class="column-two">
										2 x Rp 350.000
									</div>
								</div>

								<div class="list-detail-transaction">
									<div class="column-one">
										Denda dibebankan
									</div>
									<div class="column-two">
										Rp 50.000
									</div>
								</div>

								<div class="list-detail-transaction">
									<div class="column-one">
										Biaya Tambahan
									</div>
									<div class="column-two">
										Rp 30.000
									</div>
								</div>

								<div class="list-detail-transaction">
									<div class="column-one">
										Biaya Layanan
									</div>
									<div class="column-two">
										GRATIS
									</div>
								</div>
							</div>
						</panel>
					</accordion>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { accordion, panel } from 'vue-strap';
import moment from 'moment';

export default {
	components: {
		accordion,
		panel
	},

	computed: {
		idUser() {
			return this.$store.state.authData.all.id;
		},
		userHistory() {
			return this.$store.state.userHistory;
		}
	},

	mounted() {
		this.$store.dispatch('getHistory');
		this.$store.commit('setMenu', 'user-menu-mamipay');
	},

	methods: {
		formatTime(value) {
			return moment.unix(value).format('DD MMM YYYY - HH:mm');
		},
		formatPrice(value) {
			let val = (value / 1).toFixed(0).replace('.', ',');
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
		}
	}
};
</script>

<style lang="scss" scoped>
.transaction-list {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1em solid #e5e5e5;
	flex-wrap: wrap;
	.transaction-type {
		h1 {
			color: #90a4ae;
			font-size: 1em;
			.code-trans {
				color: #2e2d39;
				text-decoration: underline;
			}
			@media (max-width: 400px) {
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 148px;
				position: relative;
			}
		}
		p {
			color: #90a4ae;
			font-size: 0.9em;
		}
	}

	.transaction-total {
		@media (max-width: 400px) {
			padding-top: 15px;
		}
		h1 {
			font-size: 1em;
			text-align: right;
		}
		p {
			color: #90a4ae;
			font-size: 0.9em;
		}
	}
}

.min {
	color: #ec4a0c;
}

.plus {
	color: #1baa56;
}

img.down-icon {
	width: 1.2857em;
	position: relative;
	top: -0.1429em;
	margin-left: 0.5rem;
}

.detail-transaction {
	h1 {
		color: #2e2d39;
		font-size: 1em;
		font-weight: 800;
		margin: 0;
		margin-bottom: 0.5em;
	}

	.list-detail-transaction {
		display: flex;
		justify-content: space-between;
	}
}

.custom-margin {
	@media (min-width: 768px) {
		margin-bottom: -1rem !important;
	}
}
</style>

<style lang="scss">
.panel.history-panel {
	box-shadow: 0 0em 0em !important;
	border-color: #ffff !important;
}

.panel-group.history-accordion {
	margin-bottom: 0.2143rem;
	margin-top: -0.9286rem;
	clear: both;
	width: 100%;
}

.panel-primary.history-panel > {
	border-color: #ffff !important;
	.panel-heading {
		padding: 0rem 0rem;
		color: #383746;
		background-color: #ffff;
		text-align: right;
		border-bottom: 0.0714em solid #ffff;
		strong {
			position: relative;
			display: flex;
			.icon-accordion {
				min-width: 3.3571em;
				img {
					width: 1.9286em;
					height: 1.9286em;
				}
			}
			.text-accordion {
				font-weight: 200;
				min-width: 100%;
				color: #989898;
				font-size: 1em;
			}
			.bank-accordion {
				position: relative;
				top: -0.1429em;
			}
			.down-accordion {
				position: absolute;
				right: 0;
			}
		}
	}
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #f4f4f4;
	padding: 1.4286rem 0rem;
}
</style>
