<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper" v-if="state == 'main'">
			<h1 class="title">Tarik Saldo</h1>

			<!-- <div class="mamipay-saldo">
				<h1 class="menu-desc">Hai, Saldo MamiPAY kamu saat ini</h1>
				<p class="menu-balance">Rp. {{ formatPrice(getBalance) }}</p>
			</div> -->

			<div class="detail-form">
				<p class="label-form">
					Jumlah Penarikan
				</p>

				<div class="control-phone-number">
					<span class="code-phone">Rp.</span>

					<vue-numeric
						class="form-control"
						separator="."
						v-model="balance"
					></vue-numeric>

					<span v-if="errorSaldo" class="remove-text"
						><img v-lazy="'/general/img/icons/ic_error_s.svg'"
					/></span>

					<p v-if="errorSaldo" class="error-alert">Nominal melebihi saldo</p>

					<p v-if="errorInputBalance.status" class="error-alert">
						{{ errorInputBalance.desc }}
					</p>

					<span
						class="remove-text"
						v-if="removeSaldo === true"
						@click="removeText"
						><img v-lazy="'/general/img/icons/ic_remove_s.svg'"
					/></span>
				</div>
			</div>

			<div class="account-wrapper">
				<h1>Pilih Akun Bank</h1>

				<div class="account-list-wrapper">
					<div
						class="user-account non-primary"
						:class="{
							'user-account-selected': account.primary
						}"
						v-for="(account, key) in listAccounts"
						:key="key"
						@click="selectAccount(key)"
					>
						<div class="user-account-detail hidden-lg hidden-md">
							<h1>{{ account.name }}</h1>
							<p>{{ account.bank_number }} / {{ account.bank }}</p>
						</div>
						<div class="user-account-detail visible-lg visible-md">
							<h1>{{ account.name }}</h1>
							<p>{{ account.bank_number }}</p>
							<p>{{ account.bank }}</p>
						</div>
						<div class="user-account-status">
							<div class="icon-status" v-if="account.primary">
								<img v-lazy="'/general/img/icons/ic_check_s.svg'" />
							</div>
							<div
								v-else
								@click.stop="deleteAccountConfirm(key)"
								class="icon-status delete-action"
							>
								<img v-lazy="'/general/img/icons/ic_remove_s.svg'" />
							</div>
						</div>
					</div>

					<div class="area-add-bank">
						<a @click="addNewAccount">+ Tambah bank lain</a>
					</div>
				</div>

				<p class="helper-text">*Anda hanya dapat menambahkan 3 Akun Bank</p>
			</div>

			<button
				:disabled="btnWithdraw"
				class="btn btn-primary btn-lg"
				@click="withdrawBalance"
			>
				Tarik Saldo
			</button>
		</div>

		<div class="col-xs-12 form-wrapper" v-if="state == 'confirm'">
			<h1 class="title">Konfirmasi Tarik Saldo</h1>

			<!-- <div class="mamipay-saldo">
				<h1 class="menu-desc">Hai, Saldo MamiPAY kamu saat ini</h1>

				<p class="menu-balance">Rp. {{ formatPrice(getBalance) }}</p>
			</div> -->

			<div class="detail-form">
				<p class="label-form title-confirm">
					Rincian Penarikan
				</p>

				<div class="wrapper-detail-withdraw">
					<div class="detail-withdraw">
						<span class="box">Jumlah Penarikan</span>
						<span class="box">Rp. {{ formatPrice(balance) }}</span>
					</div>

					<div class="detail-withdraw with-border">
						<span class="box">Biaya Admin</span>
						<span class="box">Rp. 2.000</span>
					</div>

					<div class="total-detail-withdraw">
						<span class="box">Jumlah Penarikan</span>
						<span class="box">Rp. {{ formatPrice(totalCost) }}</span>
					</div>
				</div>
			</div>

			<div class="account-wrapper">
				<h1>Ke Akun Bank</h1>

				<div class="account-list-wrapper">
					<div
						class="user-account user-account-single non-primary user-account-selected"
						v-for="(account, key) in listAccounts"
						:key="key"
					>
						<div v-if="account.primary">
							<div class="user-account-detail hidden-lg hidden-md">
								<h1>{{ account.name }}</h1>
								<p>{{ account.bank_number }} / {{ account.bank }}</p>
							</div>

							<div class="user-account-detail visible-lg visible-md">
								<h1>{{ account.name }}</h1>
								<p>{{ account.bank_number }}</p>
								<p>{{ account.bank }}</p>
							</div>

							<div class="user-account-status">
								<div class="icon-status" v-if="account.primary">
									<img v-lazy="'/general/img/icons/ic_check_s.svg'" />
								</div>

								<div
									v-else
									@click.stop="deleteAccountConfirm(key)"
									class="icon-status delete-action"
								>
									<img v-lazy="'/general/img/icons/ic_remove_s.svg'" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<p class="helper-text term-text">
					Dengan melanjutkan, Anda menyetujui segala
					<span>Syarat dan Ketentuan</span>
				</p>
			</div>

			<button class="btn btn-primary btn-lg" @click="insertPin">
				Tarik Saldo
			</button>
		</div>

		<input-pin
			:show="showPinModal"
			@close="showPinModal = !showPinModal"
			@action="withdrawProcess"
		></input-pin>

		<div class="col-xs-12 form-wrapper" v-if="state == 'success'">
			<h1 class="title">Tarik Saldo</h1>

			<img
				class="img-balance-success"
				v-lazy="'/general/img/icons/ic_success_o.svg'"
			/>

			<h1 class="title-balance-success">Oke Permintaan Diproses</h1>

			<p class="desc-balance-success">
				Permintaan kamu akan diproses maksimal dalam 2 hari kerja Jauh lebih
				cepat dari pada nunggu gebetan sadar akan perasaan kamu
			</p>

			<button
				class="btn btn-primary custom-button-success"
				@click="state = 'main'"
			>
				Selesai
			</button>
		</div>

		<withdraw-add-bank
			:showModal="showModal"
			:listBank="listBank"
			@close="showModal = !showModal"
		></withdraw-add-bank>
	</div>
</template>

<script>
import VueNumeric from 'vue-numeric';

import WithdrawAddBank from './WithdrawAddBank';
import InputPin from './InputPin';

export default {
	components: {
		VueNumeric,
		WithdrawAddBank,
		InputPin
	},

	data() {
		return {
			inputBalance: 0,
			removeSaldo: false,
			errorSaldo: false,
			errorInputBalance: {
				status: false,
				desc: ''
			},
			price: '',
			showModal: false,
			valueBank: '',
			listBank: [],
			state: 'main',
			selectedAccount: 0,
			btnWithdraw: true,
			costAdmin: 2000,
			showPinModal: false
		};
	},

	computed: {
		totalCost() {
			let total = this.balance + this.costAdmin;
			return total;
		},
		getPrimaryBank() {
			return this.$store.state.bankList;
		},
		balance: {
			get() {
				if (this.inputBalance > this.getBalance) {
					this.removeSaldo = false;
					this.errorSaldo = true;
					this.errorInputBalance.status = false;
					this.btnWithdraw = true;
				} else {
					this.errorSaldo = false;
					if (
						this.inputBalance.toString().length == 0 ||
						this.inputBalance == '0'
					) {
						this.removeSaldo = false;
						this.errorInputBalance.status = false;
						this.btnWithdraw = true;
					} else if (this.inputBalance >= '1' && this.inputBalance < '10000') {
						this.errorInputBalance.status = true;
						this.errorInputBalance.desc = 'Minimal 10.000 untuk tarik saldo.';
						this.btnWithdraw = true;
					} else {
						this.removeSaldo = true;
						this.errorInputBalance.status = false;
						this.btnWithdraw = false;
					}
				}
				return this.inputBalance;
			},
			set(val) {
				this.inputBalance = val;
			}
		},
		getBalance() {
			return this.$store.state.userBalance;
		},
		listAccounts() {
			return this.$store.state.bankList;
		}
	},

	mounted() {
		this.$store.dispatch('getBankList');
		this.getBankList();
		this.$store.commit('setMenu', 'user-menu-mamipay');
	},

	methods: {
		insertPin() {
			this.showPinModal = !this.showPinModal;
		},
		deleteAccountConfirm(key) {
			swal({
				title: 'Hapus akun bank ?',
				type: 'warning',
				text: 'Apakah ingin menghapus akun bank ?',
				confirmButtonColor: '#EC4A0C',
				confirmButtonText: 'OK',
				showCancelButton: true,
				showCloseButton: true
			}).then(result => {
				this.deleteAccount(this.listAccounts[key].id);
				this.$store.dispatch('getBankList');
			});
		},
		withdrawBalance() {
			if (this.listAccounts.length == 0) {
				swal({
					title: 'Tarik Saldo Gagal',
					type: 'warning',
					text:
						'Akun bank masih kosong, tambahkan akun bank untuk dapat melanjutkan.',
					confirmButtonColor: '#EC4A0C',
					confirmButtonText: 'OK',
					showCloseButton: true
				});
			} else {
				if (this.inputBalance == 0 || this.inputBalance < 10000) {
					this.errorInputBalance.status = true;
					this.errorInputBalance.desc = 'Minimal 10.000 untuk tarik saldo.';
				} else {
					this.state = 'confirm';
					this.errorInputBalance.status = false;
				}
			}
		},
		withdrawProcessOk() {
			location.reload();
		},
		withdrawProcess() {
			this.openSwalLoading();
			let data = {
				amount: this.balance,
				remark: 'tarik saldo',
				bank_account: this.$store.state.bankList[0].id
			};
			axios
				.post('/user/withdraw', data)
				.then(response => {
					this.closeSwalLoading();
					this.showPinModal = false;
					this.swalSuccess(
						'Oke Permintaan Diproses',
						'Permintaan kamu akan diproses maksimal dalam 2 hari kerja Jauh lebih cepat dari pada nunggu gebetan sadar akan perasaan kamu',
						this.withdrawProcessOk
					);
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		},
		addNewAccount() {
			if (this.listAccounts.length == 3) {
				swal({
					title: 'Gagal Tambah Akun',
					type: 'warning',
					text: 'Hanya dapat menambahkan 3 akun bank.',
					confirmButtonColor: '#EC4A0C',
					confirmButtonText: 'OK',
					showCloseButton: true
				});
			} else {
				this.showModal = true;
			}
		},
		selectAccount(key) {
			swal({
				title: 'Set Primary',
				type: 'question',
				text: 'Ingin mengganti akun bank sebagai primary ?',
				confirmButtonColor: '#EC4A0C',
				confirmButtonText: 'OK',
				showCancelButton: true,
				showCloseButton: true
			}).then(result => {
				this.settingAccount(this.listAccounts[key].id, 'primary');
				this.$store.dispatch('getBankList');
			});
		},
		removeText() {
			this.inputBalance = 0;
		},
		formatPrice(value) {
			let val = (value / 1).toFixed(0).replace('.', ',');
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
		},
		getBankList() {
			axios
				.get('/user/bank/list')
				.then(response => {
					this.listBank = response.data.data;
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		},
		deleteAccount(idAccount) {
			this.openSwalLoading();
			axios
				.get(`/user/bank/remove/${idAccount}`)
				.then(response => {
					this.closeSwalLoading();
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		},
		settingAccount(idAccount, status) {
			this.openSwalLoading();
			axios
				.get(`/user/bank/${idAccount}/${status}`)
				.then(response => {
					this.closeSwalLoading();
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.mamipay-saldo {
	h1 {
		font-size: 1em;
		text-align: center;
		color: #3b445b;
		margin: 0;
		margin-top: 1.2857rem;
		@media (min-width: 992px) {
			text-align: left;
		}
	}

	p {
		font-size: 1.8em;
		text-align: center;
		font-weight: 600;
		margin: 0;
		margin-top: 0.2143rem;
		@media (min-width: 992px) {
			text-align: left;
		}
	}
}

.detail-form {
	margin-top: 1.7143rem;
	p.label-form {
		color: #999999;
		font-weight: 600;
	}
}

.control-phone-number {
	position: relative;
	@media (min-width: 992px) {
		max-width: 22.2143em;
	}
	.code-phone {
		position: absolute;
		color: #2e2d39;
		font-weight: 700;
		top: 0.8571em;
		left: 1.1429em;
		font-size: 1em;
	}
	.remove-text {
		position: absolute;
		right: 1.2143em;
		top: 0.7143em;
	}
	input {
		background-color: #f6f6f6;
		text-indent: 2.3571em;
		font-size: 1em;
		height: 3.3571em;
		color: #2e2d39;
		font-weight: 700;
		@media (min-width: 992px) {
			max-width: 22.2143em;
		}
	}
	p.text-under-input {
		margin-top: 1.1429rem;
		color: #686868;
		font-size: 1em;
		span.user-phone {
			color: #22c264;
		}
	}
}

.account-list-wrapper {
	display: block;
	@media (min-width: 992px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.account-wrapper {
	margin-top: 2.8571rem;
	margin-bottom: 1.4286rem;
	h1 {
		color: #22c264;
		font-size: 1.1em;
		font-weight: 700;
		margin-bottom: 1.5rem;
	}

	.area-add-bank {
		text-align: center;
		width: 100%;
		height: 4.2857em;
		border-radius: 0.2857em;
		background-color: rgba(246, 246, 246, 0.5);
		@media (min-width: 992px) {
			width: 12.7143em;
			height: 6.7857em;
			margin-right: 0.7857rem;
		}
		a {
			cursor: pointer;
			@media (min-width: 992px) {
				line-height: 6.8571em;
			}
			line-height: 4.2143em;
		}
	}

	p.helper-text {
		margin-top: 1.4286rem;
		color: #3b445b;
		font-size: 0.9em;
	}
}

.custom-button {
	width: 100%;
	height: 3.9286em;
	border-radius: 0.2143em;
	box-shadow: 0 0.2143em 0.4286em 0 rgba(0, 0, 0, 0.16);
	background-color: #22c264;
	border-color: #22c264;
	@media (min-width: 992px) {
		width: 10em;
	}
}

.custom-button-success {
	width: 100%;
	height: 3.9286em;
	border-radius: 0.2143em;
	box-shadow: 0 0.2143em 0.4286em 0 rgba(0, 0, 0, 0.16);
	background-color: #22c264;
	border-color: #22c264;
	@media (min-width: 992px) {
		width: 10em;
		margin: 0 auto;
		display: block;
	}
}

.cancel-button {
	margin-left: 0em;
	margin-top: 0.7143rem;
	background-color: #ffff;
	border-color: #fff;
	box-shadow: 0em 0em 0em;
}

.user-account-selected {
	background-color: #22c264 !important;
	.user-account-detail {
		width: 88%;
		h1 {
			color: #ffff !important;
		}
		p {
			color: #ffff !important;
		}
	}
}

.user-account {
	height: 4.2857em;
	border-radius: 0.2143em;
	background-color: #f7f7f7;
	padding: 0.8571rem;
	margin-bottom: 0.9286rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	@media (min-width: 992px) {
		width: 12.7857em;
		height: 6.7857em;
		margin-right: 0.7857rem;
		margin-bottom: 0.7143rem;
	}
	.user-account-detail {
		width: 88%;
		h1 {
			color: #ffff;
			margin: 0;
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			@media (min-width: 992px) {
				margin-bottom: 0.8571rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 9.2857em;
			}
		}

		p {
			color: #ffff;
			font-size: 0.9em;
			margin-top: 0.2143rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			text-transform: uppercase;
			@media (min-width: 992px) {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 9.2857em;
			}
		}
	}
}

.icon-status {
	width: 1.8571em;
	height: 1.8571em;
	background-color: #fff;
	text-align: center;
	border-radius: 100%;
	margin-top: 0.4286rem;
}

.delete-action {
	background-color: #dedede;
	img {
		width: 0.6429em;
	}
}

p.error-alert {
	margin: 0em;
	margin-top: 0.6429rem;
	color: #ec4a0c;
}

.modal-header {
	border-bottom: 0em solid black;
}

.modal-title {
	color: #22c264;
	font-weight: 600;
}

.modal-input {
	text-indent: 0 !important;
	font-weight: 100 !important;
	max-width: 100% !important;
}

.btn-group {
	width: 100%;
}

.non-primary {
	background-color: #f7f7f7;
	.user-account-detail {
		width: 88%;
		h1 {
			color: #686868;
		}
		p {
			color: #686868;
		}
	}
}

.modal-button {
	width: 100%;
}

.img-balance-success {
	display: block;
	margin: 0 auto;
}

.title-balance-success {
	color: #686868;
	font-size: 1.3em;
	text-align: center;
	font-weight: 700;
}

.desc-balance-success {
	color: #3b445b;
	text-align: center;
	max-width: 26.2857em;
	display: block;
	margin: 0 auto;
	margin-top: 1.2143rem;
	margin-bottom: 3.0714rem;
}

.wrapper-detail-withdraw {
	width: 100%;
	background-color: #f5f5f5;
	border-radius: 0.2857em;
	padding: 0.7143rem;
	.detail-withdraw,
	.total-detail-withdraw {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.7143rem;
		span.box {
			color: #3b445b;
		}
	}
	.total-detail-withdraw {
		font-weight: bold;
	}
	.with-border {
		padding-bottom: 1.7143rem;
		border-bottom: 0.1429em dashed #6f6f70;
	}
}

.title-confirm {
	color: #2e2d39 !important;
}

.term-text {
	font-weight: 600;
	span {
		color: #1a844b;
	}
}
</style>
