<template>
	<div>
		<modal v-model="showModal" @ok="showModal = false" :backdrop="backdrop">
			<div slot="modal-header" class="modal-header">
				<h4 class="modal-title">
					Tambah Akun
				</h4>
			</div>

			<div class="detail-form modal-form">
				<p class="label-form">
					Nama Bank
				</p>

				<div class="control-phone-number input-modal">
					<v-select
						v-model="valueBank"
						search
						class="select-custom"
						placeholder="Pilih Bank"
					>
						<v-option
							v-for="bank in listBank"
							:value="bank"
							v-bind:key="bank.bank_name"
							>{{ bank.bank_name }} ({{ bank.bank_code }})
						</v-option>
					</v-select>
				</div>
			</div>

			<div class="detail-form modal-form">
				<p class="label-form">
					Nama Pemilik Rekening
				</p>

				<div class="control-phone-number input-modal">
					<input
						placeholder="Masukan Nama Pemilik Rekening"
						class="form-control modal-input"
						v-model="ownerName"
						:name="lblOwnerName"
						v-validate="'required|alpha_spaces'"
					/>
					<p v-show="errors.has(lblOwnerName)" class="failed-alert">
						{{ errors.first(lblOwnerName) }}
					</p>
				</div>
			</div>

			<div class="detail-form modal-form">
				<p class="label-form">
					Nomor Rekening
				</p>

				<div class="control-phone-number input-modal">
					<input
						placeholder="Masukan No. Rekening Bank"
						class="form-control modal-input"
						v-model="numberAccount"
						:name="lblAccount"
						v-validate="'required|numeric'"
					/>
					<p v-show="errors.has(lblAccount)" class="failed-alert">
						{{ errors.first(lblAccount) }}
					</p>
				</div>
			</div>

			<div slot="modal-footer" class="modal-footer">
				<button
					type="button"
					class="btn btn-primary custom-button modal-button"
					@click="createBankAccount"
					:disabled="saveAccountDisabledOne || saveAccountDisabledTwo"
				>
					Simpan
				</button>

				<button
					type="button"
					class="btn btn-default custom-button cancel-button modal-button"
					@click="$emit('close')"
				>
					Batal
				</button>
			</div>
		</modal>
	</div>
</template>

<script>
import { modal, select, option } from 'vue-strap';

export default {
	components: {
		modal,
		vSelect: select,
		vOption: option
	},

	props: ['showModal', 'listBank'],

	data() {
		return {
			valueBank: '',
			saveAccountDisabledOne: true,
			saveAccountDisabledTwo: true,
			ownerName: '',
			numberAccount: '',
			backdrop: false,
			lblOwnerName: 'Nama Pemilik Rekening',
			lblAccount: 'Nomor Rekening'
		};
	},

	watch: {
		ownerName: debounce(function (val) {
			validator.attach(this.lblOwnerName, 'required|alpha_spaces');
			validator.validate(this.lblOwnerName, val).then(result => {
				if (!result) {
					this.saveAccountDisabledOne = true;
				} else {
					this.saveAccountDisabledOne = false;
				}
			});
		}),
		numberAccount: debounce(function (val) {
			validator.attach(this.lblAccount, 'required|numeric');
			validator.validate(this.lblAccount, val).then(result => {
				if (!result) {
					this.saveAccountDisabledTwo = true;
				} else {
					this.saveAccountDisabledTwo = false;
				}
			});
		})
	},

	methods: {
		createBankAccount() {
			this.openSwalLoading();
			this.saveAccountDisabled = true;
			let data = {
				bank: this.valueBank.bank_name,
				name: this.ownerName,
				bank_number: this.numberAccount,
				bank_code: this.valueBank.bank_code,
				tenant_id: this.$store.state.authData.all.id
			};
			axios
				.post('/user/bank/store', data)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.showModal = false;
						swal({
							title: 'Akun Disimpan',
							type: 'success',
							text: 'Kamu telah berhasil menambah akun baru',
							confirmButtonColor: '#EC4A0C',
							confirmButtonText: 'OK',
							showCloseButton: true
						}).then(result => {
							this.$store.dispatch('getBankList');
							this.saveAccountDisabled = false;
						});
					} else {
						this.swalError(
							null,
							'Tidak dapat menambahkan akun Bank untuk sementara.'
						);
					}
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.mamipay-saldo {
	h1 {
		font-size: 1em;
		text-align: center;
		color: #3b445b;
		margin: 0;
		margin-top: 18px;
		@media (min-width: 992px) {
			text-align: left;
		}
	}

	p {
		font-size: 1.8em;
		text-align: center;
		font-weight: 600;
		margin: 0;
		margin-top: 3px;
		@media (min-width: 992px) {
			text-align: left;
		}
	}
}

.detail-form {
	margin-top: 24px;
	p.label-form {
		color: #999999;
		font-weight: 600;
	}
}

.control-phone-number {
	position: relative;
	@media (min-width: 992px) {
		max-width: 100%;
	}
	.code-phone {
		position: absolute;
		color: #2e2d39;
		font-weight: 700;
		top: 12px;
		left: 16px;
		font-size: 1em;
	}
	.remove-text {
		position: absolute;
		right: 17px;
		top: 10px;
	}
	input {
		background-color: #f6f6f6;
		text-indent: 33px;
		font-size: 1em;
		height: 47px;
		color: #2e2d39;
		font-weight: 700;
		@media (min-width: 992px) {
			max-width: 311px;
		}
	}
	p.text-under-input {
		margin-top: 16px;
		color: #686868;
		font-size: 1em;
		span.user-phone {
			color: #22c264;
		}
	}
}

.account-list-wrapper {
	display: block;
	@media (min-width: 992px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.account-wrapper {
	margin-top: 40px;
	margin-bottom: 20px;
	h1 {
		color: #22c264;
		font-size: 1.1em;
		font-weight: 700;
		margin-bottom: 21px;
	}

	.area-add-bank {
		text-align: center;
		width: 100%;
		height: 60px;
		border-radius: 4px;
		background-color: rgba(246, 246, 246, 0.5);
		@media (min-width: 992px) {
			width: 178px;
			height: 95px;
			margin-right: 11px;
		}
		a {
			cursor: pointer;
			@media (min-width: 992px) {
				line-height: 96px;
			}
			line-height: 59px;
		}
	}

	p.helper-text {
		margin-top: 20px;
		color: #3b445b;
		font-size: 0.9em;
	}
}

.custom-button {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	@media (min-width: 992px) {
		width: 140px;
	}
}

.custom-button-success {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #22c264;
	border-color: #22c264;
	@media (min-width: 992px) {
		width: 140px;
		margin: 0 auto;
		display: block;
	}
}

.cancel-button {
	margin-left: 0px;
	margin-top: 10px;
	background-color: #ffff;
	border-color: #fff;
	box-shadow: 0px 0px 0px;
}

.user-account-selected {
	background-color: #22c264 !important;
	.user-account-detail {
		width: 88%;
		h1 {
			color: #ffff !important;
		}
		p {
			color: #ffff !important;
		}
	}
}

.user-account {
	height: 60px;
	border-radius: 3px;
	background-color: #f7f7f7;
	padding: 12px;
	margin-bottom: 13px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	@media (min-width: 992px) {
		width: 179px;
		height: 95px;
		margin-right: 11px;
		margin-bottom: 10px;
	}
	.user-account-detail {
		width: 88%;
		h1 {
			color: #ffff;
			margin: 0;
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			@media (min-width: 992px) {
				margin-bottom: 12px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 130px;
			}
		}

		p {
			color: #ffff;
			font-size: 0.9em;
			margin-top: 3px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
			text-transform: uppercase;
			@media (min-width: 992px) {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 130px;
			}
		}
	}
}

.icon-status {
	width: 26px;
	height: 26px;
	background-color: #fff;
	text-align: center;
	border-radius: 100%;
	margin-top: 6px;
}

.delete-action {
	background-color: #dedede;
	img {
		width: 9px;
	}
}

p.error-alert {
	margin: 0px;
	margin-top: 9px;
	color: #ec4a0c;
}

.modal-header {
	border-bottom: 0px solid black;
}

.modal-title {
	color: #22c264;
	font-weight: 600;
}

.modal-input {
	text-indent: 0 !important;
	font-weight: 100 !important;
	max-width: 100% !important;
}

.btn-group {
	width: 100%;
}

.non-primary {
	background-color: #f7f7f7;
	.user-account-detail {
		width: 88%;
		h1 {
			color: #686868;
		}
		p {
			color: #686868;
		}
	}
}

.modal-button {
	width: 100%;
}

.img-balance-success {
	display: block;
	margin: 0 auto;
}

.title-balance-success {
	color: #686868;
	font-size: 1.3em;
	text-align: center;
	font-weight: 700;
}

.desc-balance-success {
	color: #3b445b;
	text-align: center;
	max-width: 368px;
	display: block;
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 43px;
}
</style>

<style lang="scss">
.modal-body {
	padding-top: 0px;
}
.dropdown-toggle:not(.login-toggle):not(u) {
	height: 47px !important;
	background-color: #f6f6f6;
}

.dropdown-toggle {
	&:after {
		right: 23px !important;
	}
}

.btn-content {
	line-height: 33px;
}

.dropdown-menu {
	width: 98%;
}

.select-custom.open > .dropdown-menu {
	display: block;
	height: 275px;
	overflow-y: scroll;
}

.bs-searchbox {
	position: fixed !important;
	padding: 9px 6px !important;
	width: 94%;
	background: white;
	left: 9px;
	bottom: 330px;
}

li.bs-searchbox + li {
	margin-top: 48px;
}
</style>
