<template>
	<div class="container input-container">
		<navbar-custom
			:show-promotion="true"
			:navigations="navigations"
		></navbar-custom>
		<breadcrumb-pills
			v-if="$store.state.section !== 0"
			:contents="[
				'1. Lokasi Kantor',
				'2. Data Pekerjaan',
				'3. Penanggung Jawab'
			]"
			:grid="'col-md-4 col-xs-4'"
		></breadcrumb-pills>
		<div v-if="!isLoading">
			<keep-alive v-if="$store.state.section === 1 && !isLoading">
				<vacancy-location></vacancy-location>
			</keep-alive>

			<keep-alive v-else-if="$store.state.section === 2 && !isLoading">
				<data-vacancy></data-vacancy>
			</keep-alive>

			<keep-alive v-else-if="$store.state.section === 3 && !isLoading">
				<data-owner></data-owner>
			</keep-alive>
		</div>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			isLoading: true,
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	},

	computed: {
		seq() {
			return this.$store.state.seq;
		}
	},

	created() {
		if (this.seq > -1) {
			this.isLoading = true;
			axios
				.get('/stories/jobs/edit/' + this.seq)
				.then(response => {
					this.isLoading = false;
					if (response.data.status) {
						let mapAddress = '';

						if (
							response.data.data.subdistrict !== '' &&
							response.data.data.city !== null
						) {
							mapAddress =
								response.data.data.subdistrict + ', ' + response.data.data.city;
						}

						if (
							response.data.data.photo !== null &&
							response.data.data.photo_id !== '' &&
							response.data.data.photo_id !== null
						) {
							this.$store.commit(
								'setExtrasPhotoSmall',
								response.data.data.photo.small
							);
						}

						this.$store.commit('setParamsLocationMap', {
							latitude: response.data.data.latitude,
							longitude: response.data.data.longitude,
							city: response.data.data.city,
							subdistrict: response.data.data.subdistrict,
							map_address: mapAddress,
							address: response.data.data.address
						});
						this.$store.commit(
							'setParamsPlaceName',
							response.data.data.place_name
						);
						this.$store.commit(
							'setParamsWorkplace',
							response.data.data.workplace
						);
						this.$store.commit(
							'setParamsWorkplaceStatus',
							response.data.data.workplace_status
						);
						this.$store.commit(
							'setParamsJobsName',
							response.data.data.jobs_name
						);
						this.$store.commit(
							'setParamsLastEducation',
							response.data.data.last_education
						);
						this.$store.commit(
							'setParamsJobsType',
							response.data.data.jobs_type
						);
						this.$store.commit(
							'setParamsJobsDescription',
							response.data.data.jobs_description
						);
						this.$store.commit(
							'setParamsJobsSalary',
							response.data.data.jobs_salary
						);
						this.$store.commit(
							'setParamsJobsSalaryMax',
							response.data.data.jobs_max_salary
						);
						this.$store.commit(
							'setParamsJobsSalaryTime',
							response.data.data.jobs_salary_time
						);
						this.$store.commit(
							'setParamsInsertUsername',
							response.data.data.insert_username
						);
						this.$store.commit(
							'setParamsInsertPhone',
							response.data.data.insert_phone
						);
						this.$store.commit(
							'setParamsInsertEmail',
							response.data.data.insert_email
						);
						this.$store.commit(
							'setParamsSpesialisasi',
							response.data.data.spesialisasi_id
						);
						this.$store.commit(
							'setParamsExpiredDate',
							response.data.data.expired_date
						);
						this.$store.commit('setEditStatus', true);

						this.$store.commit('setParamsPhotoId', response.data.data.photo_id);
					} else {
						alert(response.data.messages);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert(
						'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
					);
				});
		} else {
			this.isLoading = false;
		}
	}
};
</script>

<style lang="scss">
@import 'Sass/form/style.scss';

@media (max-width: 501px) {
	.breadcrumb-pills-content > span {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 367px) {
	.breadcrumb-pills-content > span {
		font-size: small !important;
		height: 60px;
		padding-right: 5px !important;
	}
}
@media (max-width: 767px) {
	.wrapper {
		margin-top: 65px;
	}
	.new-label {
		right: auto;
	}
}
#navbarCustomize {
	.dropdown-toggle {
		font-weight: 400 !important;
	}
	.input-group-btn > .btn {
		height: 34px;
	}
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
</style>
