<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Data Penanggung Jawab'"
		></section-title>

		<div class="col-md-12 col-xs-12">
			<field-owner-name
				:label="'Nama penanggung jawab'"
				:placeholder="'Tulis nama Anda'"
			></field-owner-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-phone-number
				:label="'Nomor telepon/HP penanggung jawab'"
				:placeholder="'Tulis nomor telepon Anda'"
			></field-phone-number>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-email
				:label="'Email penanggung jawab'"
				:placeholder="'Tulis email Anda'"
			></field-email>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-expired
				:label="'Lowongan ditutup pada tanggal'"
				:placeholder="'Tulis tanggal lowongan ditutup'"
			></field-expired>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.insert_username == '' ||
					$store.state.params.insert_phone == '' ||
					$store.state.params.insert_email == '' ||
					$store.state.params.expired_date == ''
			"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.insert_username !== '' &&
					$store.state.params.insert_phone !== '' &&
					$store.state.params.insert_email !== '' &&
					$store.state.params.expired_date !== ''
						? false
						: true
				"
				@click="submitInputData($store.state.params)"
				v-text="'Submit'"
			></button>
		</div>

		<!-- <modal-input-success :message="message.success"></modal-input-success>
				<modal-input-failed :messages="message.failed"></modal-input-failed> -->
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import mixinMoengageInputProperti from 'Js/@mixins/MixinMoengageInputProperti';

export default {
	mixins: [mixinScrollTop, mixinMoengageInputProperti],
	data() {
		return {
			message: {
				success: '',
				failed: []
			}
		};
	},
	computed: {
		seq() {
			return this.$store.state.seq;
		}
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		submitInputData(params) {
			this.openSwalLoading('Mohon tunggu...', null);
			if (this.seq == -1) {
				axios
					.post('/stories/jobs/add', params)
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status == true) {
							swal({
								title: 'Tersimpan!',
								text: 'Data Anda telah berhasil kami simpan.',
								type: 'success',
								confirmButtonColor: '#27ab27',
								confirmButtonText: 'OK'
							}).then(result => {
								window.open('/ownerpage/vacancy', '_self');
							});

							this.moengageInputPropertiEvent('Jobs', 'new data', params);
						} else {
							swal({
								title: 'Gagal!',
								text: 'Data Anda tidak tersimpan',
								type: 'warning',
								confirmButtonColor: '##fe522a',
								confirmButtonText: 'OK'
							});
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						alert('Terjadi galat. Silakan coba lagi.', e => {
							this.closeSwalLoading();
						});
						this.$store.commit('changeSection', this.$store.state.section - 1);
						bugsnagClient.notify(error);
					});
			} else {
				axios
					.post('/stories/jobs/edit/' + this.seq, params)
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status == true) {
							swal({
								title: 'Tersimpan!',
								text: 'Data Anda telah berhasil kami simpan.',
								type: 'success',
								confirmButtonColor: '#27ab27',
								confirmButtonText: 'OK'
							}).then(result => {
								window.open('/ownerpage/vacancy', '_self');
							});

							this.moengageInputPropertiEvent('Jobs', 'edit data', params);
						} else {
							swal({
								title: 'Gagal!',
								text: 'Data Anda tidak tersimpan',
								type: 'warning',
								confirmButtonColor: '##fe522a',
								confirmButtonText: 'OK'
							});
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						alert('Terjadi galat. Silakan coba lagi.');
						bugsnagClient.notify(error);
					});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 20px;
}
.btn-submit {
	margin-left: 10px;
}
</style>
