<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Data Pekerjaan'"
		></section-title>

		<div class="col-md-12 col-xs-12">
			<field-jobs-name
				:label="'Nama pekerjaan'"
				:placeholder="'Tulis nama pekerjaan (ex: Penjaga Fotocopy Kampus)'"
			></field-jobs-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-specialization
				:label="'Spesialisasi pekerjaan'"
				:tags="tags.spesialisasi"
			></field-specialization>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-last-education
				:label="'Pendidikan minimal'"
				:placeholder="'Tulis pendidikan terakhir'"
				:tags="tags.lastEdu"
			></field-last-education>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-jobs-type
				:label="'Status pekerjaan'"
				:placeholder="'Tulis status pekerjaan'"
				:tags="tags.jobsType"
			></field-jobs-type>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-description
				:label="'Deskripsi pekerjaan'"
				:placeholder="
					'Jelaskan lebih lengkap tentang pekerjaan dan tanggung jawab'
				"
			></field-description>
		</div>

		<!-- <div class="col-md-12 col-xs-12">
						<field-salary :label="'Gaji Sekitar'" :placeholder="'Tulis angka'"></field-salary>
				</div> -->

		<div class="col-md-12 col-xs-12">
			<field-salary
				:label="'Gaji Minimal'"
				:placeholder="'Tulis angka'"
			></field-salary>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-salary-max
				:label="'Gaji Maksimal'"
				:placeholder="'Tulis angka'"
			></field-salary-max>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-show-salary></field-show-salary>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-salary-time
				:label="'Satuan gaji'"
				:placeholder="'Tulis satuan gaji'"
				:tags="tags.jobsSalaryTime"
			></field-salary-time>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.jobs_name == '' ||
					$store.state.params.last_education == '' ||
					$store.state.params.jobs_type == '' ||
					$store.state.params.jobs_description == '' ||
					$store.state.params.jobs_salary == '' ||
					$store.state.params.jobs_salary_time == '' ||
					$store.state.params.jobs_salary > $store.state.params.jobs_max_salary
			"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.jobs_name !== '' &&
					$store.state.params.last_education !== '' &&
					$store.state.params.jobs_type !== '' &&
					$store.state.params.jobs_description !== '' &&
					$store.state.params.jobs_salary !== '' &&
					$store.state.params.jobs_max_salary !== '' &&
					$store.state.params.jobs_salary_time !== '' &&
					$store.state.params.jobs_salary <= $store.state.params.jobs_max_salary
						? false
						: true
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	data() {
		return {
			tags: {
				jobsType: this.$store.state.extras.tags.jobs_type,
				jobsSalaryTime: this.$store.state.extras.tags.jobs_salary_time,
				lastEdu: this.$store.state.extras.tags.education_options,
				spesialisasi: this.$store.state.extras.tags.spesialisasi_options
			}
		};
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>
