<template>
	<div class="form-group">
		<label for="lastEdu"
			>{{ label }} <span class="text-danger">*pilih salah satu</span></label
		>
		<div class="distance-label">
			<div class="form-inline">
				<div class="form-group inline-input">
					<select
						type="select"
						id="lastEdu"
						class="form-control"
						v-model="lastEdu"
					>
						<option
							v-for="(educationOption, index) in educationOptions"
							:key="index"
							:value="educationOption.key"
							>{{ educationOption.value }}</option
						>
					</select>
					<p class="text-danger" v-show="errors.has(label)">
						{{ errors.first(label) }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		lastEdu: {
			get() {
				return this.$store.state.params.last_education;
			},
			set(val) {
				this.$store.commit('setParamsLastEducation', val);
			}
		},
		educationOptions() {
			return this.$store.state.extras.tags.education_options;
		},
		seq() {
			return this.$store.state.seq;
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>
