<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="phoneNumber"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
		</label>
		<input
			type="tel"
			id="phoneNumber"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="phoneNumber"
			v-validate="'required|numeric|min:9|max:15'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
const WAITING_VALIDATOR_TIME = 500;

export default {
	data() {
		return {
			phoneNumber: this.$store.state.params.insert_phone
		};
	},

	computed: {
		seq() {
			return this.$store.state.seq;
		},
		authData() {
			return this.$store.state.authData;
		}
	},
	created() {
		if (this.seq == -1) {
			this.phoneNumber = this.authData.all.phone_number;
		}
	},
	watch: {
		phoneNumber: debounce(function(val) {
			validator.attach(this.label, 'required|numeric|min:9|max:15');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsInsertPhone', val);
					} else {
						this.$store.commit('setParamsInsertPhone', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, WAITING_VALIDATOR_TIME)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
.loading-spinner-default {
	font-weight: normal;
}
</style>
