<template>
	<div class="form-group">
		<label for="jobsType"
			>{{ label }} <span class="text-danger">*pilih salah satu</span></label
		>
		<div class="distance-label">
			<div class="form-inline">
				<div class="form-group inline-input">
					<!-- <select
										type="select"
										id="jobsType"
										class="form-control"
										v-model="jobsType"
								>
										<option value="full-time">Full Time</option>
										<option value="part-time">Part Time</option>
										<option value="freelance">Freelance</option>
										<option value="magang">Magang</option>
								</select> -->
					<select
						type="select"
						class="form-control"
						id="jobsType"
						v-model="jobsType"
					>
						<option
							v-for="(item, key) in jobTypeOptions"
							:key="key"
							:value="key"
							>{{ item }}</option
						>
					</select>
					<p class="text-danger" v-show="errors.has(label)">
						{{ errors.first(label) }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			jobsType: this.$store.state.params.jobs_type,
			jobTypeOptions: jobTypeOptions
		};
	},
	watch: {
		jobsType(val) {
			this.$store.commit('setParamsJobsType', val);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
.inline-input {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
}
.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.inline-input > p {
	margin-bottom: 5px;
}
</style>
