<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="jobExpired"
			>{{ label }}<span class="text-danger">*wajib diisi </span></label
		>
		<input
			type="date"
			id="jobExpired"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="jobExpired"
			v-validate="'required'"
		/>
		<p class="text-danger" v-if="expiredDate == '' || errors.has(label)">
			Mohon periksa kembali isian anda
		</p>
	</div>
</template>

<script>
import moment from 'moment';

export default {
	data() {
		return {
			jobExpired: this.$store.state.params.expired_date
		};
	},

	computed: {
		expiredDate() {
			return this.$store.state.params.expired_date;
		}
	},

	watch: {
		jobExpired: debounce(function (val) {
			validator.attach(this.label, 'required');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result && this.dateDiff(val) > 0) {
						this.$store.commit('setParamsExpiredDate', val);
					} else {
						this.$store.commit('setParamsExpiredDate', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 100)
	},

	methods: {
		dateDiff(nowDate) {
			let now = moment(new Date());
			let end = moment(nowDate);
			let duration = moment.duration(end.diff(now));
			let days = duration.asDays();
			return days;
		}
	},

	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>
