<template>
	<div class="form-group">
		<label for="spesialisasi"
			>{{ label }} <span class="text-danger">*pilih salah satu</span></label
		>
		<div class="distance-label">
			<div class="form-inline">
				<div class="form-group inline-input">
					<select
						type="select"
						id="spesialisasi"
						class="form-control"
						v-model="spesialisasi"
					>
						<option
							v-for="(spesialisasiOption, index) in spesialisasiOptions"
							:key="index"
							:value="spesialisasiOption.key"
							>{{ spesialisasiOption.value }}</option
						>
					</select>
					<p class="text-danger" v-show="errors.has(label)">
						{{ errors.first(label) }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		spesialisasi: {
			get() {
				return this.$store.state.params.spesialisasi;
			},
			set(val) {
				this.$store.commit('setParamsSpesialisasi', val);
			}
		},
		spesialisasiOptions() {
			return this.$store.state.extras.tags.spesialisasi_options;
		},
		seq() {
			return this.$store.state.seq;
		}
	},
	created() {
		if (!this.spesialisasi) {
			this.$store.commit(
				'setParamsSpesialisasi',
				this.spesialisasiOptions[0].key
			);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>