<template>
	<div class="form-group">
		<label for="inputSalary"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>
		<br />
		<div class="form-inline">
			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
			>
				<input
					type="number"
					id="inputSalary"
					class="form-control"
					min="10000"
					max="999999999"
					step="1000"
					:name="label"
					:placeholder="placeholder"
					v-model="salary"
					v-validate="
						`required|numeric|min_value:${minSalary}|max_value:999999999`
					"
					v-mask="'9999999999'"
				/>
				<p class="text-danger" v-show="errors.has(label)">
					{{ errors.first(label) }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import mask from 'awesome-mask';
const WAITING_VALIDATOR_TIME = 500;

export default {
	directives: {
		mask: mask
	},
	data() {
		return {
			salary: this.$store.state.params.jobs_max_salary.toString()
		};
	},
	watch: {
		salary: debounce(function(val) {
			validator.attach(
				this.label,
				`required|numeric|min_value:${this.minSalary}|max_value:999999999`
			);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsJobsSalaryMax', parseInt(val));
					} else {
						this.$store.commit('setParamsJobsSalaryMax', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, WAITING_VALIDATOR_TIME)
	},
	computed: {
		minSalary() {
			return this.$store.state.params.jobs_salary;
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
.price-checkbox {
	margin-bottom: 10px;
}
.price-input {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	> p {
		margin-bottom: 5px;
	}
}
@media (max-width: 767px) {
	.form-inline .form-control {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.form-inline .form-control {
		width: 160px;
	}
}
.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
}
</style>
