<template>
	<div class="company-logo-box">
		<label for="companyLogo" class="company-logo-label">Logo Perusahaan</label>
		<div class="distance-label">
			<div class="photo-container" v-if="photoUrl !== '' && isUpload !== true">
				<div><img :src="photoUrl" alt="companyLogo" /></div>
				<div>
					<button
						type="button"
						class="btn btn-mamigreen btn-change"
						@click="changePhoto"
					>
						Ganti Logo
					</button>
				</div>
			</div>
			<div class="dropzone-logo" v-if="isUpload == true || photoUrl == ''">
				<dropzone
					ref="dropzoneArea"
					id="dropzoneArea"
					:options="dropzoneOptions"
					:destroyDropzone="false"
					@vdropzone-success="showSuccess"
					@vdropzone-file-added="fileAdded"
				>
				</dropzone>
				<span class="warn">*ukuran file maksimal 1MB</span>
				<span class="warn" v-if="photoUrl !== ''"
					><br />Tekan lanjutkan sebelum upload untuk batal ganti logo</span
				>
			</div>
		</div>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: vue2Dropzone
	},
	data() {
		return {
			isUpload: true,
			dropzoneOptions: {
				url: '/garuda/media',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: true,
				maxFilesize: 1,
				createImageThumbnails: true,
				addRemoveLinks: true,
				thumbnailHeight: 180,
				thumbnailWidth: 180,

				dictDefaultMessage: 'Pilih atau Drop Foto disini',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictResponseError: 'Upload gagal. Silakan ulangi kembali.',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					watermarking: false,
					media_type: 'company_photo'
				}
			}
		};
	},
	computed: {
		seq() {
			return this.$store.state.seq;
		},
		photoUrl() {
			return this.$store.state.extras.photo_small;
		}
	},
	created() {
		if (this.seq > -1) {
			this.isUpload = !this.isUpload;
		}
	},
	methods: {
		conditionFailedUpload() {
			swal({
				title: 'Upload Gagal',
				text:
					'Foto gagal diupload. Silakan cek kembali ukuran foto atau koneksi internet Anda.',
				type: 'warning',
				confirmButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(result => {
				this.$refs.dropzoneArea.removeAllFiles();
			});
		},

		fileAdded(file) {
			setTimeout(() => {
				if (!file.accepted) {
					this.conditionFailedUpload();
				}
			}, 1000);
		},

		showSuccess(file, response) {
			if (response.status == true) {
				console.log(response);
				this.$store.state.params.photo_id = response.media.id;
				this.$store.state.extras.photo_small = response.media.url.small;
			} else {
				this.conditionFailedUpload();
			}
		},
		changePhoto() {
			this.isUpload = !this.isUpload;
		}
	}
};
</script>

<style lang="scss" scoped>
.dropzone-logo {
	margin-bottom: 20px;
}
.warn {
	font-size: 14px;
}
.btn-change {
	margin-top: 5px;
}
</style>

<style lang="scss">
//colors
$color_forest_green_approx: #27ab27;

.vue-dropzone {
	width: 235px;
	padding: 0;
	.dz-preview .dz-details {
		background-color: $color_forest_green_approx;
	}
}
</style>
