<template>
	<div class="form-group show-salary">
		<div class="checkbox checkbox-inline">
			<input type="checkbox" id="showSalary" v-model="showSalaryVal" />
			<label for="showSalary">jangan tampilkan gaji pada kandidat</label>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showSalaryVal: false
		}
	},
	created() {
		this.showSalaryVal = this.showSalary == 1 ? false : true;
	},
	computed: {
		showSalary: {
			get() {
				return this.$store.state.params.show_salary;
			},
			set(newVal) {
				this.$store.state.params.show_salary = newVal;
			}
		}
	},
	watch: {
		showSalaryVal(val) {
			if (val == true) {
				this.$store.commit('setParamsShowSalary', 0);
			} else if (val == false) {
				this.$store.commit('setParamsShowSalary', 1);
			} else {
				this.$store.commit('setParamsShowSalary', 1);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.show-salary {
	margin-top: -20px;
}
</style>