<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="ownerEmail"
			>{{ label }}<span class="text-danger">*wajib diisi </span></label
		>
		<input
			type="email"
			id="ownerEmail"
			class="form-control"
			:name="label"
			:placeholder="placeholder"
			v-model="ownerEmail"
			v-validate="'required|email'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			ownerEmail: this.$store.state.params.insert_email
		};
	},
	computed: {
		seq() {
			return this.$store.state.seq;
		},
		authData() {
			return this.$store.state.authData;
		}
	},
	created() {
		if (this.seq == -1) {
			this.ownerEmail = this.authData.all.email;
		}
	},
	watch: {
		ownerEmail: debounce(function (val) {
			validator.attach(this.label, 'required|email');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsInsertEmail', val);
					} else {
						this.$store.commit('setParamsInsertEmail', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 500)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>
