<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="userName"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
		</label>
		<input
			type="text"
			id="userName"
			class="form-control"
			minlength="3"
			maxlength="200"
			:name="label"
			:placeholder="placeholder"
			v-model="name"
			v-validate="'required|min:3|max:200'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			name: this.$store.state.params.insert_username
		}
	},
	computed: {
		seq() {
			return this.$store.state.seq
		},
		authData() {
			return this.$store.state.authData
		}
	},
	created() {
		if (this.seq == -1) {
			this.name = this.authData.all.name
		}
	},
	watch: {
		name: debounce(function (val) {
			validator.attach(this.label, "required|min:3|max:200");
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit("setParamsInsertUsername", val);
					} else {
						this.$store.commit("setParamsInsertUsername", "");
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
.loading-spinner-default {
	font-weight: normal;
}
</style>
