<template>
	<div>
		<v-popover offset="20">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange tooltip-target"
				:disabled="
					$store.state.params.place_name !== '' &&
					$store.state.params.address !== '' &&
					$store.state.extras.map_address !== '' &&
					$store.state.params.workplace !== ''
						? false
						: true
				"
				v-text="'Lanjutkan'"
			></button>

			<template slot="popover">
				<p>
					Tambahkan logo perusahaan untuk<br />menambah kredibilitas perusahaan.
				</p>

				<div class="button-group-popover">
					<a v-close-popover class="popover-close">Tambahkan Foto </a>

					<button
						type="button"
						class="btn btn-kost  btn-mamiorange"
						@click="nextSection($store.state.section)"
					>
						Lanjut Tanpa Foto
					</button>
				</div>
			</template>
		</v-popover>
	</div>
</template>

<script>
import { VTooltip, VPopover, VClosePopover } from 'v-tooltip';

Vue.directive('tooltip', VTooltip);
Vue.directive('close-popover', VClosePopover);
Vue.component('v-popover', VPopover);

export default {
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss">
//colors
$black: black;
$white: white;
$color_green_haze_approx: #1baa56;

.tooltip-target {
	width: 175px;
}
.tooltip {
	display: block !important;
	z-index: 10000;
	.tooltip-inner {
		background: $black;
		color: $white;
		border-radius: 16px;
	}
	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: $black;
		z-index: 1;
	}
	&.popover {
		.popover-inner {
			background: $white;
			color: $black;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, 0.1);
		}
		.popover-arrow {
			display: none;
		}
	}
	.wrapper {
		margin-top: 0;
	}
}
.tooltip-inner {
	max-width: 100%;
}
.tooltip[x-placement^='top'] {
	margin-bottom: 40px;
	.tooltip-arrow {
		border-width: 5px 5px 0 5px;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
		border-bottom-color: transparent !important;
		bottom: -5px;
		left: calc(50% - 5px);
		margin-top: 0;
		margin-bottom: 0;
	}
}
.tooltip[aria-hidden='true'] {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden='false'] {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s;
	border: 2px solid $color_green_haze_approx;
}
@media (max-width: 320px) {
	.tooltip[x-placement^='top'] {
		margin-right: 5%;
	}
}
@media (min-width: 321px) and(max-width: 420px) {
	.tooltip[x-placement^='top'] {
		margin-right: 15%;
	}
}
@media (min-width: 421px) and(max-width: 500px) {
	.tooltip[x-placement^='top'] {
		margin-right: 20%;
	}
}
@media (min-width: 501px) and(max-width: 619px) {
	.tooltip[x-placement^='top'] {
		margin-right: 25%;
	}
}
@media (min-width: 620px) and(max-width: 767px) {
	.tooltip[x-placement^='top'] {
		margin-right: 30%;
	}
}
@media (max-width: 767px) {
	.tooltip[x-placement^='top'] {
		margin-bottom: 95px;
	}
}
@media (min-width: 768px) and(max-width: 799px) {
	.tooltip[x-placement^='top'] {
		margin-right: 7%;
	}
}
@media (min-width: 800px) and(max-width: 825px) {
	.tooltip[x-placement^='top'] {
		margin-right: 9%;
	}
}
@media (min-width: 826px) {
	.tooltip[x-placement^='top'] {
		margin-right: 8%;
	}
}
</style>

<style lang="scss" scoped>
//colors
$color_trinidad_approx: #ec4a0c;

.btn {
	margin-left: 10px;
}
.button-group-popover {
	display: flex;
	a {
		color: $color_trinidad_approx;
		font-size: 14px;
		padding-right: 5px;
		padding-top: 4px;
		&:hover {
			text-decoration: none;
		}
	}
	button {
		padding: 5px 7px;
		font-size: 14px !important;
		margin-left: 5px;
	}
}
</style>
