<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Lokasi Kerja'"
		></section-title>

		<!-- <p class="col-md-12 col-xs-12">Isikan data lowongan kerja yang ingin Anda tambahkan</p> -->
		<br />

		<div class="col-md-12 col-xs-12">
			<field-place-name
				:label="'Nama tempat usaha / perusahaan'"
				:placeholder="'Tulis nama perusahaan'"
			></field-place-name>
		</div>

		<label for="propertyMap" class="col-md-12 col-xs-12"
			>Peta lokasi tempat kerja
			<span class="text-danger">*wajib diisi</span></label
		>

		<field-map
			:grid="'col-md-12 col-xs-12'"
			:pac-id="'vacancyMap'"
			:marker-width="50"
			:marker-height="50"
		></field-map>

		<div class="col-md-12 col-xs-12 address-container">
			<field-workplace
				:label="'Alamat lokasi penempatan kerja'"
				:placeholder="'Tulis alamat lengkap lokasi kerja'"
			></field-workplace>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-placement></field-placement>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-company-logo></field-company-logo>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.place_name == '' ||
					$store.state.params.address == '' ||
					$store.state.params.workplace == ''
			"
		></section-alert>

		<div
			class="col-md-12 col-xs-12 input-footer-btn"
			v-if="$store.state.params.photo_id !== null"
		>
			<a
				role="button"
				class="btn btn-kost  btn-mamiorange track-owner-cancel-form"
				href="/ownerpage/vacancy"
				v-text="'Batal'"
			></a>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.place_name !== '' &&
					$store.state.params.address !== '' &&
					$store.state.extras.map_address !== '' &&
					$store.state.params.workplace !== ''
						? false
						: true
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
			></button>
		</div>

		<div class="col-md-12 col-xs-12 input-footer-btn" v-else>
			<a
				role="button"
				class="btn btn-kost  btn-mamiorange track-owner-cancel-form"
				href="/ownerpage/vacancy"
				v-text="'Batal'"
			></a>
			<modal-warning-logo></modal-warning-logo>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from '../../../@mixins/MixinScrollTop';

export default {
	mixins: [mixinScrollTop],
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.address-container {
	margin-top: 30px;
}
</style>
