<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="vacancyName"
			>{{ label }} <span class="text-danger">*wajib diisi </span>
		</label>
		<input
			type="text"
			id="vacancyName"
			class="form-control"
			minlength="3"
			maxlength="200"
			:name="label"
			:placeholder="placeholder"
			v-model="name"
			v-validate="'required|min:3|max:200'"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			name: this.$store.state.params.jobs_name
		}
	},
	watch: {
		name: debounce(function (val) {
			validator.attach(this.label, 'required|min:3|max:200');
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsJobsName', val);
					} else {
						this.$store.commit('setParamsJobsName', '');
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
};
</script>

<style lang="scss" scoped>
.loading-spinner-default {
	font-weight: normal;
}
</style>
