<template>
	<div>
		<global-navbar
			fixed
			need-search-box
			join-premium-menu
			need-brand-mobile
			need-back-arrow
			:booking-kos-menu="false"
			:max-width="1140"
			overlay
			transparent
			:transparent-until="50"
			redirection-source-navbar="lp booking"
		/>

		<section id="header">
			<div class="header-container">
				<div class="container">
					<h1>
						<strong>
							{{ landingTitle }}
						</strong>
					</h1>
				</div>
			</div>
		</section>

		<promo-filter
			:landing-type="landingType"
			:city-list="cityList"
			:parent-landing="parentLanding"
		></promo-filter>
		<promo-filter-mobile
			:landing-type="landingType"
			:city-list="cityList"
			:parent-landing="parentLanding"
		></promo-filter-mobile>

		<promo-listing
			:rooms="rooms"
			:rooms-display-number="roomsDisplayNumber"
			:is-room-empty="isRoomEmpty"
			:is-loading="isLoading"
			:landing-type="'booking'"
		></promo-listing>

		<section
			id="pagination"
			class="container pagination-container"
			v-show="!isLoading"
		>
			<paginate
				v-if="rooms.length !== 0 && rooms.length !== 0"
				ref="pagination"
				v-model="currentPage"
				:page-count="totalPage"
				:click-handler="onPageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			></paginate>
		</section>
		<section id="article">
			<promo-article :article="article"></promo-article>
		</section>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from 'Js/_promo/event-bus/event-bus';
import paginate from 'vuejs-paginate';
import mixinContainerKost from 'Js/_promo/@mixins/mixinContainerRoot';

import PromoFilter from 'Js/_promo/@components-shared/SharedPromoFilter';
import PromoFilterMobile from 'Js/_promo/@components-shared/SharedPromoFilterMobile';
import PromoListing from 'Js/_promo/@components-shared/SharedPromoListing';
import PromoArticle from 'Js/_promo/@components-shared/SharedPromoArticle';

import GlobalNavbar from 'Js/@components/GlobalNavbar';
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

export default {
	name: 'BookingContainer',

	components: {
		PromoFilter,
		PromoFilterMobile,
		PromoListing,
		PromoArticle,
		GlobalNavbar,
		paginate,
		LoginUser
	},

	mixins: [mixinContainerKost],

	data() {
		return {
			isModalLogin: false
		};
	},

	created() {
		this.listenEventBus();
	},

	methods: {
		closeModalLogin() {
			this.isModalLogin = false;
		},
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.header-container {
	height: auto;
	background-color: #333;
	color: #fff;
	margin-bottom: -60px;
	padding: 110px 0 100px;
	text-align: center;
	background-position: center;
	background-size: cover;

	@media (max-width: 991px) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('/general/img/pictures/promo/booking/booking-hero-mobile.jpg');
		margin-bottom: -30px;
	}
	@media (min-width: 992px) {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('/general/img/pictures/promo/booking/booking-hero.jpg');
	}

	.container {
		max-width: 560px;
	}

	h1 {
		font-size: 32px;
		@media (max-width: 991px) {
			font-size: 24px;
		}
	}
	h2 {
		font-size: 18px;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
}

.pagination-container {
	text-align: center;
	margin-bottom: 80px;
}
</style>

<style>
.navbar-custom-color {
	background-color: transparent;
	border: none;
	padding: 0 15px;
}
.navbar-custom-scrolled {
	background-color: #1baa56;
	border-color: #1baa56;
	padding: 0 15px;
	height: 54px;
}
</style>
