<template>
	<section v-if="isShowing" id="flashsale" class="flashsale container">
		<div class="flashsale-header">
			<div :class="['flashsale-left', { shimmer: getIsLoading }]">
				<title-section text="Promo Ngebut" />
				<div
					v-if="selectedLocation && locationOptions.length > 0 && !getIsLoading"
					class="area-selector"
				>
					<select
						id="userLocation"
						v-model="selectedLocation"
						name="userLocation"
					>
						<option
							v-for="(locationOption, i) in locationOptions"
							:key="i"
							:value="locationOption"
							>{{ locationOption }}</option
						>
					</select>
					<img
						class="dropdown-down"
						src="general/img/icons/ic_dropdown_down.svg"
						alt="dropdown-down"
					/>
				</div>
			</div>
			<div class="flashsale-right">
				<label :class="['flashsale-label', { shimmer: getIsLoading }]"
					>Akan Berakhir<br />
					dalam waktu:</label
				>
				<div class="flashsale-inner-right">
					<div class="flashsale-box-container">
						<div
							v-for="(count, remainingIndex) in remaining"
							:key="remainingIndex"
							class="flashsale-inner-box-container"
						>
							<tooltip
								v-if="remainingIndex > 0"
								effect="fadein"
								placement="top"
								:content="count.tag"
							>
								<div :class="['flashsale-box', { shimmer: showCondition }]">
									{{ count.value }} {{ remainingIndex === 0 ? count.tag : '' }}
								</div>
							</tooltip>
							<div
								v-else
								:class="['flashsale-box', { shimmer: showCondition }]"
							>
								{{ count.value }} {{ remainingIndex === 0 ? count.tag : '' }}
							</div>
							<div
								:class="[
									'flashsale-box-dif',
									{ '--big-space': remainingIndex === 0 }
								]"
							/>
						</div>
					</div>
				</div>
				<div class="slider-nav">
					<div @click="handleGoToMore" target="_blank" class="slider-nav__link">
						Lihat semua
					</div>
					<span class="slider-nav__divider" />
					<div class="slider-nav__prev swiper-kos-prev">
						<icon-arrow-left />
					</div>
					<div class="slider-nav__next swiper-kos-next">
						<icon-arrow-right />
					</div>
				</div>
			</div>
		</div>

		<div v-if="isListLoading" class="flash-loader">
			<list-placeholder :mode="4"></list-placeholder>
		</div>

		<div v-else-if="isEmptyList" class="flashsale-empty-list">
			<span>Tidak ditemukan kamar di area yang kamu pilih.</span>
		</div>

		<div v-else class="flashsale-wrapper">
			<swiper
				v-if="flashRooms && !isListLoading"
				ref="flashsale"
				:options="swiperOptions"
			>
				<swiper-slide
					v-for="(flashRoomsSet, setIndex) in flashRooms"
					:key="`flash-roooms-${flashRoomsSet.index}-${setIndex}`"
					class="flashsale-item"
				>
					<div
						v-for="(room, roomIndex) in flashRoomsSet.data"
						:key="`flash-rooms-${flashRoomsSet.index}-kost-${roomIndex}`"
						class="flashsale-item__room"
					>
						<room-card
							:photo-list="room.photo_url"
							:area-name="room.subdistrict"
							:last-online="room.online"
							:available-room="+room.available_room"
							:is-kost="room.isKost"
							:is-goldplus="room.isGoldplus"
							:goldplus-name="room.goldplusName"
							:unit-type-detail="room.unit_type_rooms"
							:is-verified="room.checker"
							:room-title="room['room-title']"
							:unit-type="room.unit_type"
							:price-title-format="room.price_title_format"
							:price-other-discount="room.otherDiscountLabel"
							:price-title-time="room.price_title_time"
							:furnished-status="room.furnished_status"
							:is-premium-owner="room.is_premium_owner"
							:is-promoted="room.is_promoted"
							:price-label="room.priceLabel"
							:detail-type-name="room.roomType"
							:top-facilities="room.top_facilitiy"
							:unit-floor="room.floor"
							:rating="room.rating"
							:gender-props="room.genderProperties"
							:show-favorite-condition="room.favoriteCondition"
							:show-promotion-condition="room.promotionCondition"
							:promo-name="room.promotionName"
							:tag-ribbon-props="room.tagRibbonProperties"
							:not-owner="notOwner"
							:is-love="room.love_by_me"
							:is-flash-sale="room.is_flash_sale"
							:rent-type-unit="room.rentTypeUnit"
							:price-label-only="room.priceLabelOnly"
							@openRoom="() => handleClickRoom(room)"
							@toggleLove="() => loveThisPage(room)"
						/>
					</div>
				</swiper-slide>
			</swiper>
		</div>
		<unsupported-location-alert v-if="isShowGeoLocationAlert" />
	</section>
</template>

<script>
import IconArrowRight from 'Js/@icons/ArrowRight';
import IconArrowLeft from 'Js/@icons/ArrowLeft';
import RoomCard from 'Js/@components/RoomCard';
import ListPlaceholder from 'Js/@components/ListPlaceholder';
import { tooltip } from 'vue-strap';

import MixinFlashSaleData from '../mixins/MixinFlashSaleData';
import MixinFlashSaleHelper from 'Js/_flash-sale/mixins/MixinFlashSale';
import MixinFavorite from 'Js/@mixins/MixinFavorite';

export default {
	components: {
		IconArrowRight,
		IconArrowLeft,
		RoomCard,
		tooltip,
		ListPlaceholder
	},
	mixins: [MixinFlashSaleData, MixinFavorite, MixinFlashSaleHelper],
	data() {
		return {
			swiperOptions: {
				loop: false,
				slidesPerView: 1,
				spaceBetween: 24,
				navigation: {
					nextEl: '.swiper-kos-next',
					prevEl: '.swiper-kos-prev'
				}
			}
		};
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#flashsale {
	margin: 0 auto 60px;

	@media (max-width: 767px) {
		margin: 0 auto 36px;
	}

	.swiper-container {
		padding: 15px;
		margin: -15px;
	}

	.flashsale-swiper-arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		display: flex;
		width: 40px;
		height: 40px;
		background: #fff;
		background-image: none;
		border-radius: 50%;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		align-items: center;
		justify-content: center;
	}

	.flashsale-swiper-button-prev {
		left: -20px;
	}

	.flashsale-swiper-button-next {
		right: -20px;
	}

	.swiper-button-disabled {
		background: #fafafa;
		cursor: context-menu;
	}

	.placeholder-container {
		height: auto;

		&:not(:first-child) {
			margin-left: 24px;
		}

		.placeholder-photo {
			margin: 0;
		}

		.placeholder-text {
			height: 12px;
			margin: 10px 0;
		}
	}

	.tooltip {
		z-index: 100;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.cta-loading-container {
	display: block;
	width: 90px;
	height: 20px;
	margin-top: 32px;
}

.flashsale {
	.flashsale-header {
		display: flex;
		align-items: center;
		margin-bottom: 33px;
		justify-content: space-between;

		@media (max-width: 1200px) {
			flex-direction: column;
		}

		h2 {
			margin: 0;
			border-bottom: 1px solid transparent;
		}

		.area-selector {
			position: relative;

			.dropdown-down {
				position: absolute;
				top: 8px;
				right: 4px;
				z-index: -1;
				width: 20px;
				color: #000;
			}
		}

		select {
			max-width: 191px;
			padding-right: 36px;
			margin-left: 8px;
			overflow: hidden;
			font-size: 24px;
			font-weight: bold;
			line-height: 34px;
			color: #1baa56;
			text-overflow: ellipsis;
			white-space: nowrap;
			background: transparent;
			border: 0;
			border-bottom: 1px solid #dadada;
			border-radius: 0 !important;
			outline: 0;

			@media (max-width: 1200px) {
				max-width: 300px;
			}

			@media (max-width: 767px) {
				padding-right: 32px;
				margin-left: 4px;
				font-size: 18px;
			}
		}
	}

	.flashsale-empty-list {
		text-align: center;
	}

	.flashsale-wrapper {
		position: relative;
		color: #383746;
	}

	.flashsale-item {
		display: flex;

		.flashsale-item__room {
			width: 267px;

			@media (max-width: 1199px) {
				width: 217px;
			}

			@media (max-width: 991px) {
				width: 162px;
			}

			&:not(:first-of-type) {
				margin-left: 24px;
			}
		}
	}

	.link-cta {
		margin-top: 32px;
	}
}

.flashsale-icon {
	width: 16px;
	height: auto;
	margin-right: 4px;
}

.flashsale-icon-next {
	margin-left: 9px;
}

.flashsale-left {
	display: flex;
	align-items: center;

	@media (max-width: 1200px) {
		width: 100%;
		justify-content: flex-start;
	}
}

.flashsale-right {
	display: flex;
	flex: 1;
	width: 100%;
	align-items: center;
	padding: 0px 12px 0 108px;

	@media (max-width: 1200px) {
		padding: 0;
		margin-top: 20px;
		justify-content: flex-start;
	}

	.flashsale-inner-right {
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-left: 8px;
	}

	.slider-nav {
		display: flex;
		align-items: center;
		margin-left: 35px;

		@media (max-width: 767px) {
			display: none;
		}

		.slider-nav__next,
		.slider-nav__prev {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 100px;
			outline: 0;
			box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		}

		.slider-nav__prev {
			margin-right: 12px;
		}
	}

	.slider-nav__link {
		cursor: pointer;
		display: flex;
		width: 123px;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		text-decoration: none;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
	}
	.slider-nav__divider {
		display: block;
		width: 1px;
		height: 24px;
		margin: 0 28px 0 24px;
		background-color: #dadada;
	}
	.slider-nav__navigation {
		margin-right: 20px;
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		color: #404040;
		text-align: right;
	}
}

.flashsale-label {
	font-size: 12px;
	font-weight: 600;
	line-height: 19px;
	color: #949494;
	text-align: right;
}
.flashsale-box-container {
	background: #f6f6f6;
	border-radius: 4px;
	padding: 8px;
	display: flex;

	.flashsale-inner-box-container {
		display: flex;

		.flashsale-box {
			padding: 4px 8px;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			color: #303030;
			letter-spacing: 0.05em;
			background: #ffffff;
			border-radius: 4px;
		}

		.flashsale-box-dif {
			position: relative;
			display: block;
			width: 11px;
			height: 100%;

			&::before {
				position: absolute;
				top: 8px;
				left: 50%;
				display: block;
				width: 4px;
				height: 4px;
				content: '';
				background: rgba(0, 0, 0, 0.4);
				border-radius: 2px;
				transform: translate(-50%, 0);
			}

			&::after {
				position: absolute;
				bottom: 8px;
				left: 50%;
				display: block;
				width: 4px;
				height: 4px;
				content: '';
				background: rgba(0, 0, 0, 0.4);
				border-radius: 2px;
				transform: translate(-50%, 0);
			}
		}

		&:last-child {
			.flashsale-box-dif {
				display: none;
			}
		}

		.--big-space {
			width: 16px;

			&::before {
				display: none;
				content: '';
			}

			&::after {
				display: none;
				content: '';
			}
		}
	}
}
</style>
