<template>
	<div class="home-top-container">
		<div ref="homeTopSearch" class="home-top-search-section">
			<h1 class="home-top-search-title">Mau cari kos?</h1>
			<span ref="btnCTATag" class="home-top-search-subtitle"
				>Dapatkan infonya dan langsung sewa di Mamikos.</span
			>
			<div class="product-btn-container">
				<product-search-input
					ref="productCta"
					need-button
					placeholder="Masukan nama lokasi/area/alamat"
					@onClickEvent="openModalSearch"
				/>
			</div>
		</div>
		<promo-banner
			:banners="banners"
			:on-click-banner="onClickBanner"
		></promo-banner>
	</div>
</template>

<script>
import ProductSearchInput from 'Js/@components/ProductSearchInput';

import promoBanner from './PromoBanner';

export default {
	components: {
		promoBanner,
		ProductSearchInput
	},
	props: {
		banners: {
			type: Array,
			required: true
		},
		onClickBanner: {
			type: Function,
			required: true
		},
		openModalSearch: {
			type: Function,
			required: true
		},
		leftPoint: {
			type: Number,
			required: true
		}
	},
	created() {
		window.addEventListener('scroll', this.handleScroll);
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleScroll(event) {
			const isLargeScreen = window.innerWidth > 991;
			if (!isLargeScreen) return;

			const ctaElement = this.$refs.productCta.$refs.btnCTA;
			const ctaTagElement = this.$refs.btnCTATag;
			const topElement = ctaTagElement.getBoundingClientRect().top;

			if (topElement < -7) {
				ctaElement.style.left = `${this.leftPoint + 54}px`;
				ctaElement.classList.add('--custom-sticky');
			} else {
				ctaElement.style.left = 'auto';
				ctaElement.classList.remove('--custom-sticky');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.home-top-container {
	display: flex;
	padding: 0 16px;
	margin: 0 auto;
	flex-direction: column;
	background-image: url('/general/img/pictures/home/bg_hero_section_top.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100%;

	@media (min-width: 768px) {
		width: 750px;
	}

	@media (min-width: 992px) {
		width: 970px;
		background-position: 100% 15%;
	}

	@media (min-width: 1200px) {
		width: 1170px;
		background-position: 100% -5%;
	}

	@media (max-width: 991px) {
		margin: 56px auto 0;
	}

	@media (max-width: 767px) {
		width: 100%;
	}

	.home-top-search-section {
		display: flex;
		padding: 60px 0;
		flex-direction: column;

		@media (max-width: 767px) {
			align-items: center;
		}

		.home-top-search-title {
			font-size: 32px;
			font-weight: 900;
			line-height: 42px;
			color: #484848;
		}

		.home-top-search-subtitle {
			font-size: 20px;
			line-height: 30px;
			color: #484848;

			@media (max-width: 480px) {
				text-align: center;
			}
		}

		.--custom-sticky {
			position: fixed;
			top: 49px;
			width: 400px;
			height: 44px;
			margin-top: 0;
		}
	}
}
.product-btn-container {
	width: 400px;
	height: 48px;
	margin-top: 26px;
}
</style>
