<template>
	<section class="product-search">
		<div class="product-search-wrapper container">
			<div class="product-search-title">
				<h1>Mau cari kos?</h1>
				<h2>Dapatkan infonya dan langsung sewa di Mamikos.</h2>
			</div>
			<div class="product-search-action">
				<p>Cari kos di</p>
				<button type="button" @click="openModalSearch">
					<icon-magnify-glass />
					<p>Ketik nama lokasi/ area/ alamat</p>
				</button>
			</div>
		</div>
	</section>
</template>

<script>
import MagnifyGlass from 'Js/@icons/MagnifyGlass';

export default {
	components: {
		IconMagnifyGlass: MagnifyGlass
	},
	props: {
		openModalSearch: Function
	}
};
</script>

<style lang="scss" scoped>
.product-search {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		background-color: #1baa56;
		height: 60%;
	}

	.product-search-wrapper {
		display: flex;
		background: #ffffff;
		box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 0;
		position: relative;
		z-index: 30;
		margin-bottom: 60px;
		background-color: #ffffff;

		@media (max-width: 767px) {
			flex-direction: column;
			margin-bottom: 36px;
		}
	}
}

.product-search-title {
	padding: 16px 32px 24px;
	border-right: 1px solid rgba(219, 219, 219, 0.92);

	h1,
	h2 {
		margin: 0;
	}

	h1 {
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #000000;
		margin-bottom: 8px;
	}

	h2 {
		font-size: 16px;
		line-height: 19px;
		color: #999999;
	}

	@media (max-width: 767px) {
		border-right: none;
		border-bottom: 1px solid rgba(219, 219, 219, 0.92);
	}
}

.product-search-action {
	flex: 1;
	padding: 16px 32px;

	p {
		font-size: 16px;
		line-height: 19px;
		color: #2e2d39;
		line-height: 34px;
		margin-bottom: 4px;
	}

	button {
		background: transparent;
		border: none;
		padding: 0px;
		text-align: left;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0 4px;

		svg {
			color: #000000;
			width: 24px;
			margin-right: 8px;
		}

		p {
			color: #999999;
			font-size: 16px;
			font-weight: bold;
			margin: 0;
			line-height: 19px;
		}
	}
}
</style>
