<template>
	<section id="promoBannerDesktop" class="promo-banner">
		<div class="banner-swiper">
			<swiper
				v-if="banners && banners.length > 0"
				ref="promoSwiper"
				:options="swiperOptions"
			>
				<swiper-slide v-for="(banner, i) in banners" :key="i">
					<a
						class="banner-click-homepage"
						:href="banner.scheme"
						@click.prevent="onClickBanner(banner, i)"
					>
						<img
							src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
							:data-src="banner.photo_url.large"
							:alt="banner.title"
							:title="banner.description"
							role="button"
							class="swiper-lazy"
							@error="e => handleErrorImage(e)"
						/>
						<div class="swiper-lazy-preloader"></div>
					</a>
				</swiper-slide>
			</swiper>
		</div>
		<div class="more-banner">
			<div slot="button-prev" class="swiper-button-prev swiper-arrow hidden-xs">
				<icon-arrow-left />
			</div>
			<a class="semua-promo-slide" @click.prevent="handleClickSeeAll"
				>Lihat semua promo</a
			>
			<div slot="button-next" class="swiper-button-next swiper-arrow hidden-xs">
				<icon-arrow-right />
			</div>
		</div>
	</section>
</template>

<script>
/* eslint-disable no-undef */

import _get from 'lodash/get';
import ArrowRight from 'Js/@icons/ArrowRight';
import ArrowLeft from 'Js/@icons/ArrowLeft';

export default {
	components: {
		IconArrowRight: ArrowRight,
		IconArrowLeft: ArrowLeft
	},

	props: {
		banners: {
			type: Array,
			required: true
		},
		onClickBanner: {
			type: Function,
			required: true
		}
	},

	data() {
		return {
			swiperOptions: {
				centeredSlides: true,
				slidesPerView: 'auto',
				loop: true,
				preloadImages: false,
				lazy: {
					loadPrevNext: true,
					loadOnTransitionStart: true
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				},
				speed: 600,
				autoplay: {
					delay: 10000
				}
			},
			seeAllUrl: 'https://promo.mamikos.com'
		};
	},

	computed: {
		isOwner() {
			return _get(authCheck, 'owner');
		}
	},

	methods: {
		handleErrorImage(e) {
			e.target.src =
				'/general/img/pictures/placeholder/placeholder_loading.svg';
			e.target.style.height = '70%';
			e.target.style.auto = 'auto';
		},
		handleClickSeeAll() {
			tracker('moe', [
				'Homepage See All Promo Click',
				{
					see_all_promo_click: true,
					is_owner: this.isOwner
				}
			]);

			window.location.href = this.seeAllUrl;
		}
	}
};
</script>

<style lang="scss">
#promoBannerDesktop {
	.swiper-wrapper {
		align-items: center;
	}

	.swiper-button-disabled {
		display: flex;
	}
}
</style>

<style lang="scss" scoped>
.swiper-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 6px;
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);

	&:focus {
		outline: none;
	}
}

.promo-banner {
	position: relative;
	margin-bottom: 60px;

	.banner-swiper {
		position: relative;
	}

	.more-banner {
		display: flex;
		justify-content: center;
		margin-top: 28px;

		.swiper-button-next {
			position: static;
			top: 0;
			align-self: center;
			left: 240px;
			margin-top: 0;
			svg {
				color: #000;
			}
		}

		.swiper-button-prev {
			position: static;
			top: 0;
			align-self: center;
			left: 0;
			margin-top: 0;
			svg {
				color: #000;
			}
		}

		.swiper-button-disabled {
			display: flex;
			opacity: 1;
		}

		a {
			position: static;
			top: 0;
			width: 136px;
			margin: 8px 32px;
			font-weight: bold;
			color: #000;
			text-align: center;
		}
	}
}

.banner-swiper {
	position: relative;
}

.swiper-container {
	height: 300px;
	padding: 0 24px !important;
	margin: 0 -24px !important;
}

.swiper-slide {
	display: flex;
	align-items: center;
	width: 590px;
	height: 250px;
	margin: 0 28px;
	overflow: hidden;
	background: #1baa56;
	filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.12));
	border-radius: 8px;
	transition: 0.75s;
	transform: scale(0.9);

	a {
		margin: 0 auto;
		color: #fff;
	}

	img {
		max-width: calc(100vw - 48px);
		max-height: 253px;
	}

	@media (max-width: 1024px) {
		width: 490px;
		height: 210px;

		img {
			max-width: calc(100vw - 48px);
			max-height: 210px;
		}
	}
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
	transform: scale(1) !important;
}
</style>
