<template>
	<section id="recommendation" class="recommendation container">
		<div class="recommendation-header">
			<div class="recommendation-title">
				<title-section text="Rekomendasi kos di" />
				<div v-if="selectedLocation" class="area-selector">
					<select
						id="userLocation"
						v-model="selectedLocation"
						name="userLocation"
					>
						<option
							v-for="(recommendationCity, i) in recommendationCities"
							:key="i"
							:value="recommendationCity"
							class="locationOption"
							>{{ recommendationCity.name }}</option
						>
					</select>
					<img
						class="dropdown-down"
						src="general/img/icons/ic_dropdown_down.svg"
						alt="dropdown-down"
					/>
				</div>
			</div>

			<div class="slider-nav">
				<div @click="handleGoToMore" target="_blank" class="slider-nav__link">
					Lihat semua
				</div>
				<span class="slider-nav__divider" />
				<div class="slider-nav__prev swiper-kos-recommendation-prev">
					<icon-arrow-left />
				</div>
				<div class="slider-nav__next swiper-kos-recommendation-next">
					<icon-arrow-right />
				</div>
			</div>
		</div>

		<div v-if="isLoading" class="recommendation-loader">
			<list-placeholder :mode="4"></list-placeholder>
		</div>

		<div v-else-if="isEmptyList" class="recommendation-empty-list">
			<span>Tidak ditemukan rekomendasi kamar di area yang kamu pilih.</span>
		</div>

		<div v-else class="recommendation-wrapper">
			<swiper
				v-if="recommendedRooms"
				ref="recommendation"
				:options="swiperOptions"
			>
				<swiper-slide
					v-for="(recommendedRoomsSet, setIndex) in recommendedRooms"
					:key="`recommended-roooms-${recommendedRoomsSet.index}-${setIndex}`"
					class="recommendation-item"
				>
					<div
						v-for="(room, roomIndex) in recommendedRoomsSet.data"
						:key="
							`recommended-rooms-${recommendedRoomsSet.index}-kost-${roomIndex}`
						"
						class="recommendation-item__room"
					>
						<room-card
							:is-flash-sale="room.is_flash_sale"
							:photo-list="room.photo_url"
							:area-name="room.subdistrict"
							:last-online="room.online"
							:available-room="+room.available_room"
							:is-kost="room.isKost"
							:is-goldplus="room.isGoldplus"
							:goldplus-name="room.goldplusName"
							:unit-type-detail="room.unit_type_rooms"
							:is-verified="room.checker"
							:room-title="room['room-title']"
							:unit-type="room.unit_type"
							:price-title-format="room.price_title_format"
							:price-other-discount="room.otherDiscountLabel"
							:price-title-time="room.price_title_time"
							:furnished-status="room.furnished_status"
							:is-premium-owner="room.is_premium_owner"
							:is-promoted="room.is_promoted"
							:price-label="room.priceLabel"
							:detail-type-name="room.roomType"
							:top-facilities="room.top_facilitiy"
							:unit-floor="room.floor"
							:rating="room.rating"
							:gender-props="room.genderProperties"
							:show-favorite-condition="room.favoriteCondition"
							:show-promotion-condition="room.promotionCondition"
							:promo-name="room.promotionName"
							:tag-ribbon-props="room.tagRibbonProperties"
							:not-owner="notOwner"
							:is-love="room.love_by_me"
							:rent-type-unit="room.rentTypeUnit"
							:price-label-only="room.priceLabelOnly"
							@openRoom="() => handleClickRoom(room)"
							@toggleLove="() => loveThisPage(room)"
						/>
					</div>
				</swiper-slide>
			</swiper>
		</div>
		<unsupported-location-alert v-if="isShowGeoLocationAlert" />
	</section>
</template>

<script>
import IconArrowRight from 'Js/@icons/ArrowRight';
import IconArrowLeft from 'Js/@icons/ArrowLeft';
import RoomCard from 'Js/@components/RoomCard';

import MixinRecommendation from '../mixins/MixinRecommendation';
import MixinFavorite from 'Js/@mixins/MixinFavorite';
import ListPlaceholder from 'Js/@components/ListPlaceholder';

export default {
	components: {
		IconArrowRight,
		IconArrowLeft,
		RoomCard,
		ListPlaceholder
	},
	mixins: [MixinRecommendation, MixinFavorite],
	data() {
		return {
			swiperOptions: {
				slidesPerView: 1,
				spaceBetween: 24,
				navigation: {
					nextEl: '.swiper-kos-recommendation-next',
					prevEl: '.swiper-kos-recommendation-prev'
				}
			}
		};
	}
};
</script>

<style lang="scss">
#recommendation {
	margin-bottom: 60px;

	@media (max-width: 767px) {
		margin-bottom: 36px;
	}

	.swiper-container {
		padding: 15px;
		margin: -15px;
	}

	.recommendation-swiper-arrow {
		background-image: none;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		z-index: 10;
	}

	.recommendation-swiper-button-prev {
		left: -20px;
	}

	.recommendation-swiper-button-next {
		right: -20px;
	}

	.swiper-button-disabled {
		background-color: #fafafa;
		cursor: context-menu;
	}

	.placeholder-container {
		height: auto;

		&:not(:first-child) {
			margin-left: 24px;
		}

		.placeholder-photo {
			margin: 0;
		}

		.placeholder-text {
			height: 12px;
			margin: 10px 0;
		}
	}
}
</style>

<style lang="scss" scoped>
.recommendation {
	.recommendation-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			border-bottom: 1px solid transparent;
		}

		.recommendation-title {
			display: flex;
		}

		.area-selector {
			position: relative;

			.dropdown-down {
				position: absolute;
				top: 8px;
				right: 4px;
				z-index: -1;
				width: 20px;
				color: #000000;
			}
		}

		select {
			max-width: 191px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			border: none;
			border-radius: 0 !important;
			font-weight: bold;
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 32px;
			padding-right: 36px;
			border-bottom: 1px solid #dadada;
			color: #1baa56;
			background: transparent;
			margin-left: 8px;
			outline: 0;

			@media (max-width: 767px) {
				font-size: 18px;
				margin-bottom: 20px;
				margin-left: 4px;
				padding-right: 32px;
			}
		}
	}

	.recommendation-wrapper {
		position: relative;
		color: #383746;
	}

	.recommendation-loader {
		height: 235px;
	}

	.recommendation-empty-list {
		text-align: center;
	}

	.recommendation-item {
		display: flex;

		.recommendation-item__room {
			width: 267px;

			@media (max-width: 1199px) {
				width: 217px;
			}

			@media (max-width: 991px) {
				width: 162px;
			}

			&:not(:first-of-type) {
				margin-left: 24px;
			}
		}
	}

	.link-cta {
		margin-top: 32px;
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	margin-bottom: 32px;

	@media (max-width: 767px) {
		display: none;
	}

	.slider-nav__next,
	.slider-nav__prev {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 100px;
		outline: 0;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
	}

	.slider-nav__prev {
		margin-right: 12px;
	}
}

.slider-nav__link {
	cursor: pointer;
	display: flex;
	width: 123px;
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #404040;
	text-decoration: none;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
}
.slider-nav__divider {
	display: block;
	width: 1px;
	height: 24px;
	margin: 0 28px 0 24px;
	background-color: #dadada;
}
.slider-nav__navigation {
	margin-right: 20px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #404040;
	text-align: right;
}
</style>
