<template>
	<div>
		<navbar-custom
			:navigations="navigations"
			theme="white"
			logoStyle="navbar-icon hidden-xs billing-management-navbar"
			logo="/assets/logo/svg/logo_mamikos_green.svg"
			logoImageRegular="/assets/logo/svg/logo_mamikos_green.svg"
		></navbar-custom>
		<router-view></router-view>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	}
};
</script>

<style lang="scss">
.billing-management-navbar {
	width: auto !important;
	height: 25px !important;
}
</style>