<template>
	<div>
		<div class="col-xs-12 filter-container stretch">
			<div class="col-xs-12 col-md-12 stretch">
				<div class="col-xs-12 col-sm-3 col-md-3 filter-component">
					<label
						><h3><strong>Kota dan Area</strong></h3></label
					>
					<v-select
						id="areaFilter"
						v-model="filter.place"
						:options="place_select_items"
						:placeholder="'Cari kota disini...'"
					>
						<span slot="no-options">Kota yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<button
					type="button"
					class="btn btn-mamigreen btn-filter-toggle visible-xs"
					data-toggle="collapse"
					data-target="#filterHidden"
				>
					<span class="if-collapsed">Lebih Banyak Filter</span>
					<span v-if="showSlide" class="if-not-collapsed"
						>Sembunyikan Filter</span
					>
					<span v-else>Lebih Banyak Filter</span>
				</button>

				<div id="filterHidden" class="collapse hidden-xs">
					<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
						<label
							><h3><strong>Tipe Kost</strong></h3></label
						>
						<select v-model="filter.gender" class="form-control">
							<option :value="[0, 1, 2]">Semua</option>
							<option :value="[2]">Khusus Putri</option>
							<option :value="[1]">Khusus Putra</option>
							<option :value="[0, 2]">Putri dan Campur</option>
							<option :value="[0, 1]">Putra dan Campur</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
						<label
							><h3><strong>Jangka Waktu</strong></h3></label
						>
						<select v-model="filter.rent_type" class="form-control">
							<option :value="0">Harian</option>
							<option :value="1">Mingguan</option>
							<option :value="2">Bulanan</option>
							<option :value="3">Tahunan</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-2 filter-component">
						<label
							><h3><strong>Urutkan</strong></h3></label
						>
						<select v-model="filter.sorting" class="form-control">
							<option :value="'-'">Acak</option>
							<option :value="'asc'">Harga Termurah</option>
							<option :value="'desc'">Harga Termahal</option>
							<option :value="'availability'">Kosong ke Penuh</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3">
						<filter-price
							:property-type="'kost'"
							:rent-type="filter.rent_type"
							@filterPrice="filterPriceRangeChanged"
						></filter-price>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from './event-bus';

const FilterPrice = () => import('Js/@components/FilterPrice');

export default {
	components: {
		'v-select': vSelect,
		FilterPrice
	},
	data() {
		return {
			filter: {
				gender: [0, 1, 2],
				rent_type: 0,
				sorting: '-',
				price_range: [0, 10000000],
				place: selectDefault
			},

			showSlide: false,
			place_select_items: []
		};
	},
	watch: {
		'filter.gender'(item) {
			EventBus.$emit('filterGenderChanged', item);
		},
		'filter.rent_type'(item) {
			EventBus.$emit('filterRentTypeChanged', item);
		},
		'filter.sorting'(item) {
			EventBus.$emit('filterSortingChanged', item);
		},
		'filter.price_range'(item) {
			EventBus.$emit('filterPriceRangeChanged', item);
		},
		'filter.place'(item) {
			EventBus.$emit('filterPlaceChanged', item.value);
		}
	},
	mounted() {
		this.getFiltersList();

		$('#filterHidden').on('show.bs.collapse', () => {
			this.showSlide = true;
		});
	},
	methods: {
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				for (var item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		},
		filterPriceRangeChanged(payload) {
			this.filter.price_range[0] = payload.min;
			this.filter.price_range[1] = payload.max;
			EventBus.$emit('filterPriceRangeChanged', this.filter.price_range);
		}
	}
};
</script>

<style scoped>
.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}

	.filter-component {
		padding-bottom: 6px;
	}
}

.refresh-button {
	text-align: right;
	margin-top: 15px;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	font-size: 12px;
	margin-bottom: 5px;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}
</style>

<style>
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select.single .selected-tag {
	position: absolute;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
</style>
