<template>
	<div>

		<div class="flex flex-spaced-between title-icon">
			<span class="flex">
				<img src="assets/icons/ic_kost_bebas.png" title="ic_kost_bebas">
				<span><h1><strong>Promo Kost Harian Spesial untuk Kamu</strong></h1></span>
			</span>
			<!-- <button class="btn btn-mamigreen-inverse btn-refresh hidden-xs" @click="refreshList">
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button> -->
		</div>

		<!-- <div class="mobile-button visible-xs">
			<button class="btn btn-mamigreen-inverse btn-refresh" @click="refreshList">
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div> -->

	</div>
</template>

<script>
import EventBus from './event-bus';

export default {
	methods : {
		// refreshList () {
		// 	EventBus.$emit('refreshedList', true);
		// }
	}
}
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-vertical-center {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.flex-spaced-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.title-icon {
	margin-top: 35px;
}
.title-icon span {
	font-weight: bold;
	font-size: 22px;
}
.title-icon img {
	width: 50px;
	height: 37.5px;
}

.mobile-button {
	margin-top: 10px;
	text-align: right;
}
</style>