<template>
	<div>
		<div v-if="!isLoading && roomData.rooms.length !== 0">
			<h2 v-if="roomData.offset == 0" class="count-label">
				1 - {{ roomData.rooms.length }} Unit Kost dari {{ roomData.total }} Unit
				Kost
			</h2>
			<h2 v-else class="count-label">
				{{ roomDataCount }} - {{ roomDataLoaded }} Unit Kost dari
				{{ roomData.total }} Unit Kost
			</h2>
		</div>

		<list-placeholder v-if="isLoading"></list-placeholder>

		<room-list :rooms="roomData.rooms" v-if="!isLoading"></room-list>

		<div class="clearfix"></div>

		<div v-if="isRoomEmpty" class="stats-not-found col-xs-12">
			<p>Kost tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			>
			</i>
		</transition>

		<div class="pagination-section">
			<paginate
				v-if="
					!(roomData.page == 1 && !roomData['has-more']) &&
						roomData.rooms.length !== 0
				"
				ref="pagination"
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			>
			</paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from './event-bus';
import paginate from 'vuejs-paginate';

import { translateWords } from 'Js/@utils/langTranslator.js';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

export default {
	components: {
		paginate
	},
	data() {
		return {
			roomData: {
				total: 0,
				page: 1,
				offset: 0,
				rooms: []
			},
			filter: {
				furnished: '',
				price_range: [0, 10000000],
				property_type: 'kost',
				rent_type: 0,
				room_name: '',
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0
			},
			sorting: {
				field: 'price',
				direction: '-'
			},

			place: 'all',

			isLoading: true,
			isInitialLoading: true,
			limit: 20,
			roomDataCount: 1,
			roomDataLoaded: 18,
			isRoomEmpty: false,
			busy: false,
			requestLimit: 90,

			showTopButton: false
		};
	},
	computed: {
		isBusy: {
			get() {
				return this.$store.state.extras.isBusy;
			},
			set(val) {
				this.$store.commit('setBusyState', val);
			}
		},
		article() {
			return this.$store.state.article;
		},
		totalPage() {
			let total = Math.ceil(this.roomData.total / this.roomData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};
		this.getRoomList();

		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterGenderChanged', payload => {
			this.filter.gender = payload;
			this.refreshList();
		});
		EventBus.$on('filterFurnishedChanged', payload => {
			this.filter.furnished = payload;
			this.refreshList();
		});
		EventBus.$on('filterRentTypeChanged', payload => {
			this.filter.rent_type = payload;
			this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			if (payload == 'availability') {
				this.sorting.field = payload;
				this.sorting.direction = 'desc';
			} else {
				this.sorting.field = 'price';
				this.sorting.direction = payload;
			}
			this.refreshList();
		});
		EventBus.$on('filterPriceRangeChanged', payload => {
			this.filter.price_range = payload;
			this.refreshList();
		});
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		async getRoomList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			const places = [];
			if (this.place !== 'all' && this.place !== 'Semua Kota') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			const filters = this.filter;
			const sorting = this.sorting;
			const params = {
				filters,
				sorting,
				referrer: 'promo',
				include_promoted: true,
				include_premium: true,
				limit: this.limit,
				offset: this.roomData.offset
			};

			const response = await makeAPICall({
				method: 'post',
				url: '/stories/list',
				data: params
			});

			if (
				response &&
				typeof response === 'object' &&
				response.rooms &&
				translateWords
			) {
				const rooms = translateWords(response.rooms) || [];

				this.roomData = {
					...response,
					rooms
				};
				this.isLoading = false;
				if (response.total === 0) {
					this.isRoomEmpty = true;
				}
			} else {
				this.isLoading = false;
				this.isRoomEmpty = true;
			}
		},

		refreshList() {
			this.roomData.offset = 0;
			this.busy = false;
			this.$refs.pagination.currentPage = 1;
			this.getRoomList();
		},

		gotoTop() {
			window.scroll({
				top: 0,
				left: 0,
				behavior: 'smooth'
			});
		},

		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.roomData.offset = dataOffset;

			let count = 18 * (page - 1) + 1;
			this.roomDataCount = count;

			let inpage = 18 * (page - 1) + this.roomData.rooms.length;
			this.roomDataLoaded = inpage;

			this.getRoomList();
			this.gotoTop();
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
	padding: 0 15px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
}

.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
