<template>
	<div
		v-infinite-scroll="getMoreRoomList"
		infinite-scroll-disabled="busy"
		infinite-scroll-distance="250"
		class="promo-list-container"
	>
		<vacancy-list :jobs="jobData"></vacancy-list>

		<div class="clearfix"></div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Lowongan pekerjaan tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>
	</div>
</template>

<script>
import EventBus from '../../event-bus/event-bus';

export default {
	data() {
		return {
			jobData: [],
			filter: {
				type: listingOptions.job_status,
				last_education: listingOptions.last_education,
				sort: listingOptions.sorting,
				// price_range: [0,10000000],
				spesialisasi: listingOptions.spesialisasi
			},

			place: 'all', // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,

			roomLimit: 9,
			requestLimit: 90,
			offset: 0,

			showTopButton: false
		};
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getJobList();
		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterJobStatusChanged', payload => {
			this.filter.type = payload;
			this.refreshList();
		});
		EventBus.$on('filterEducationChanged', payload => {
			this.filter.last_education = payload;
			this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			this.filter.sort = payload;
			this.refreshList();
		});
		EventBus.$on('filterSpesialisasiChanged', payload => {
			this.filter.spesialisasi = payload;
			this.refreshList();
		});
		// EventBus.$on('filterPriceRangeChanged', payload => {
		// 	this.filter.price_range = payload;
		// 	this.refreshList();
		// });
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		getJobList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			let places = [];
			if (this.place != 'all') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			let filters = this.filter;
			if (listingOptions.partner_id != null) {
				filters.aggregator = listingOptions.partner_id;
			}

			let sorting = this.sorting;

			axios
				.post('/stories/jobs/list', {
					filters,
					sorting,
					limit: 9,
					offset: this.offset
				})
				.then(response => {
					if (response.data.status) {
						this.jobData = this.jobData.concat(response.data.vacancy);
						this.isLoading = false;
						if (response.data.total == 0) {
							this.isRoomEmpty = true;
						}
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		getMoreRoomList() {
			if (
				this.jobData.length == this.roomLimit &&
				this.jobData.length < this.requestLimit
			) {
				this.busy = true;
				this.roomLimit += 9;
				this.offset += 9;
				this.getJobList(true);
				this.busy = false;
				ga('create', 'UA-71556143-1', 'auto');
				tracker('ga', ['send', 'pageview']);
			}
		},

		refreshList() {
			this.offset = 0;
			this.jobData = [];
			this.roomLimit = 9;
			this.busy = false;
			this.getJobList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}
</style>
