<template>
	<div>
		<div v-if="!isLoading && jobData.vacancy.length !== 0">
			<h2 class="count-label" v-if="jobData.offset == 0">
				1 - {{ jobData.vacancy.length }} lowongan pekerjaan dari
				{{ jobData.total }} lowongan pekerjaan
			</h2>
			<h2 class="count-label" v-else>
				{{ jobdataCount }} - {{ jobDataLoaded }} lowongan pekerjaan dari
				{{ jobData.total }} lowongan pekerjaan
			</h2>
		</div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<vacancy-list :jobs="jobData.vacancy" v-if="!isLoading"></vacancy-list>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Lowongan pekerjaan tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>

		<div class="pagination-section">
			<paginate
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
				v-if="!(jobData.page == 1 && !jobData['has-more'])"
			></paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from '../../event-bus/event-bus';
import paginate from 'vuejs-paginate';
import VacancyList from 'Js/promo/all-job/components/VacancyList';

export default {
	components: {
		paginate,
		VacancyList
	},
	computed: {
		article() {
			return this.$store.state.listingData.description;
		},
		totalPage() {
			let total = Math.ceil(this.jobData.total / this.jobData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},
	data() {
		return {
			jobData: {
				total: 0,
				page: 1,
				offset: 0,
				limit: 9,
				vacancy: []
			},
			filter: {
				type: listingOptions.job_status,
				last_education: listingOptions.last_education,
				sort: listingOptions.sorting,
				// price_range: [0,10000000],
				spesialisasi: listingOptions.spesialisasi
			},

			place: 'all', // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,
			jobdataCount: 1,
			jobDataLoaded: 9,

			roomLimit: 9,
			requestLimit: 90,
			offset: 0,

			showTopButton: false
		};
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getJobList();
		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterJobStatusChanged', payload => {
			this.filter.type = payload;
			this.refreshList();
		});
		EventBus.$on('filterEducationChanged', payload => {
			this.filter.last_education = payload;
			this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			this.filter.sort = payload;
			this.refreshList();
		});
		EventBus.$on('filterSpesialisasiChanged', payload => {
			this.filter.spesialisasi = payload;
			this.refreshList();
		});
		// EventBus.$on('filterPriceRangeChanged', payload => {
		// 	this.filter.price_range = payload;
		// 	this.refreshList();
		// });
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		getJobList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			let places = [];
			if (this.place != 'all') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			let filters = this.filter;
			if (listingOptions.partner_id != null) {
				filters.aggregator = listingOptions.partner_id;
			}

			let sorting = this.sorting;

			axios
				.post('/stories/jobs/list', {
					filters,
					sorting,
					limit: this.jobData.limit,
					offset: this.jobData.offset
				})
				.then(response => {
					if (response.data.status) {
						this.jobData = response.data;
						this.isLoading = false;
						if (response.data.total == 0) {
							this.isRoomEmpty = true;
						}
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		refreshList() {
			this.jobData.offset = 0;
			this.busy = false;
			this.getJobList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},

		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.jobData.offset = dataOffset;

			let count = 18 * (page - 1) + 1;
			this.jobdataCount = count;

			let inpage = 18 * (page - 1) + this.jobData.vacancy.length;
			this.jobDataLoaded = inpage;

			this.getJobList();
			this.gotoTop();
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}

@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
