<template>
	<div class="manage-booking-props-cards">
		<ul class="manage-booking-props-cards__list">
			<li
				v-for="(property, i) in propertyList"
				:key="i"
				class="manage-booking-props-cards__list-row"
				:class="{
					'--justified': property.bbk_status.key !== 'not_active'
				}"
			>
				<div
					v-if="property.bbk_status.key === 'not_active'"
					class="manage-booking-props-cards__checkbox"
					:class="{
						'--checked': selectedProperties.includes(property.id)
					}"
				>
					<div class="manage-booking-props-cards__checkbox-toggler">
						<input
							v-model="localSelectedProperties"
							:value="property.id"
							type="checkbox"
							class="manage-booking-props-cards__checkbox-toggler-input"
						/>
					</div>
					<div class="manage-booking-props-cards__checkbox-content">
						<manage-booking-property-list-card :property-detail="property" />
					</div>
				</div>
				<manage-booking-property-list-card v-else :property-detail="property" />
			</li>
		</ul>
	</div>
</template>

<script>
import ManageBookingPropertyListCard from './ManageBookingPropertyListCard';

export default {
	name: 'ManageBookingPropertyListCardSelectionSection',
	components: {
		ManageBookingPropertyListCard
	},
	props: {
		propertyList: {
			type: Array,
			default() {
				return [];
			}
		},
		selectedProperties: {
			type: Array,
			default() {
				return [];
			}
		}
	},
	data() {
		return {
			localSelectedProperties: []
		};
	},
	watch: {
		/**
		 * Update local selected properties to match parent's
		 * selected properties if any changes happened.
		 **/
		selectedProperties(value) {
			this.localSelectedProperties = value;
		},
		/**
		 * Update parent's selected properties to match
		 * local selected properties if any changes happened.
		 **/
		localSelectedProperties(value) {
			this.$emit('setSelectedProperties', value);
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-props-cards {
	&__list {
		padding-left: 0;
		list-style-type: none;

		&-row {
			&:not(:first-child) {
				margin-top: 24px;
			}

			&.--justified {
				margin-left: 38.5px;
			}
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;

		&-toggler {
			position: relative;
			width: 24px;
			height: 24px;
			background: #fff;
			border: 1px solid #dadada;
			border-radius: 2px;

			.--checked & {
				background-color: #1baa56;
				background-image: url('/general/img/icons/ic_check_white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 14px 14px;
				border: 0;
			}

			&-input {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				opacity: 0;
			}
		}

		&-content {
			width: 100%;
			margin-left: 16.5px;
		}
	}
}
</style>
