<template>
	<div
		id="manageBookingPropertyListCard"
		class="container manage-booking-props-card"
	>
		<template v-if="!isLoading">
			<div class="row manage-booking-props-card__header">
				<div class="col-md-6 manage-booking-props-card__header-left">
					{{ propertyDetail.bbk_status.value }}
				</div>
				<div class="col-md-6 manage-booking-props-card__header-right">
					Diperbarui {{ propertyDetail.last_update }}
				</div>
			</div>

			<div class="row manage-booking-props-card__body">
				<div class="col-md-9 manage-booking-props-card__body-left">
					<div
						v-lazy:background="{
							src: propertyDetail.photo
								? propertyDetail.photo.small
								: '/assets/header_logo.png',
							error: '/assets/header_logo.png'
						}"
						alt="Foto kos"
						class="manage-booking-props-card__photo-content"
					></div>
					<div class="manage-booking-props-card__main-content">
						<p class="manage-booking-props-card__main-content--heading">
							{{ genderDetail }}
						</p>
						<p class="manage-booking-props-card__main-content--body">
							{{ propertyDetail.room_title }}
						</p>
						<mami-info
							v-if="propertyDetail.bbk_status.key === 'waiting'"
							variant="warning"
							width="auto"
							class="manage-booking-props-card__main-content--info"
							is-rounded
						>
							<span class="info-content">
								Mohon menunggu, pengajuan Booking Langsung sedang diperiksa
							</span>
						</mami-info>
					</div>
				</div>
				<div class="col-md-3 manage-booking-props-card__body-right">
					<div class="manage-booking-props-card__room-availability">
						<i class="manage-booking-props-card__room-availability-icon"></i>
						<p class="manage-booking-props-card__room-availability-text">
							{{ propertyDetail.room_available }} Kamar tersedia
						</p>
					</div>
					<button
						v-if="propertyDetail.bbk_status.key === 'approve'"
						class="manage-booking-props-card__button manage-bill-link"
						@click="goToManageBill"
					>
						Kelola Tagihan
					</button>
				</div>
			</div>
		</template>

		<template v-else>
			<div class="row manage-booking-props-card__header">
				<skeleton-loader />
			</div>
			<div class="row manage-booking-props-card__body">
				<skeleton-loader :height="150" />
			</div>
		</template>
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';

/* istanbul ignore next */
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	name: 'ManageBookingPropertyListCard',
	components: { SkeletonLoader, MamiInfo },
	props: {
		propertyDetail: {
			type: Object,
			default() {
				return {
					id: '',
					photo: {
						small: ''
					},
					bbk_status: {
						key: '',
						value: ''
					},
					room_title: '',
					gender: '',
					last_update: '',
					room_available: 0
				};
			}
		},
		isLoading: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			ownerDashboardUrl: oxWebUrl
		};
	},

	computed: {
		genderDetail() {
			const genderList = ['Kos Campur', 'Kos Putra', 'Kos Putri'];

			return genderList[parseInt(this.propertyDetail.gender)];
		}
	},
	methods: {
		goToManageBill() {
			window.location = `${this.ownerDashboardUrl}/billing-management`;
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-props-card {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);

	&__header,
	&__body {
		padding: 16px 9px;
	}

	&__header {
		border-bottom: 1px solid rgba(219, 219, 219, 0.5);

		&-left {
			font-size: 18px;
			font-weight: bold;
		}

		&-right {
			font-size: 14px;
			line-height: 2;
			color: #aaa;
			text-align: right;
		}
	}

	&__body {
		display: flex;

		&-left {
			display: flex;
		}

		&-right {
			font-size: 16px;
			font-weight: bold;
		}
	}

	&__photo-content {
		min-width: 150px;
		height: 150px;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: cover !important;
		border-radius: 8px;
	}

	&__main-content {
		margin-left: 24px;
		font-weight: bold;

		&--heading {
			font-size: 16px;
		}

		&--body {
			font-size: 20px;
		}

		&--info {
			margin-top: 30px !important;

			.info-content {
				font-size: 14px;
				font-weight: normal;
				letter-spacing: 0;
			}
		}
	}

	&__button {
		position: absolute;
		right: 15px;
		bottom: 0;
		padding: 8px 48px;
		color: #1baa56;
		background-color: transparent;
		border: 1px solid #1baa56;
		border-radius: 4px;
		outline: none;
	}

	&__room-availability {
		display: flex;
		justify-content: flex-end;

		&-icon {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin: 3px 5px;
			background: url('/general/img/icons/ic_room_availability.svg') no-repeat;
		}
	}
}
</style>
