<template>
	<ul class="manage-booking-props-cards-loader">
		<li
			v-for="i in total"
			:key="i"
			class="manage-booking-props-cards-loader__row"
		>
			<manage-booking-property-list-card is-loading />
		</li>
	</ul>
</template>

<script>
import ManageBookingPropertyListCard from './ManageBookingPropertyListCard';

export default {
	name: 'ManageBookingPropertyListCardLoadingPlaceholder',
	components: { ManageBookingPropertyListCard },
	props: {
		total: {
			type: Number,
			default: 1
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-props-cards-loader {
	padding-left: 0;
	list-style-type: none;

	&__row {
		margin-left: 38.5px;

		&:not(:first-child) {
			margin-top: 24px;
		}
	}
}
</style>
