<template>
	<div class="purchase-detail">
		<mami-loading-inline v-if="isLoading" />
		<template v-else>
			<div class="purchase-detail__header">
				<span class="back-btn">
					<a @click="goBack"
						><img
							class="icon"
							src="/general/img/icons/ic_arrow-left_alt_black.svg"
					/></a>
				</span>
				<span class="title">Detail Tagihan</span>
			</div>
			<div class="purchase-detail__body">
				<div class="item-chosen">
					<span class="title">Pilihan Anda</span>
					<div class="chosen-option">
						<span class="chosen-subtitle">{{ purchaseData.name }}</span>
						<a :href="changePurchase" class="change-purchase">Ubah</a>
					</div>
				</div>
				<div class="detail-purchase">
					<span class="title">Rincian Pembayaran</span>
					<div class="detail-info">
						<span class="detail-subtitle">{{ purchaseData.name }}</span>
						<span class="nominal">{{ purchaseData.amount | currencyID }}</span>
					</div>
				</div>
				<div class="total-purchase">
					<span class="title">Total Pembayaran</span>
					<span class="nominal"
						><strong>{{ purchaseData.amount | currencyID }}</strong></span
					>
				</div>
			</div>
			<div class="purchase-detail__footer">
				<bg-button
					variant="primary"
					size="md"
					class="purchase-btn"
					@click="proceedPurchase"
				>
					<div v-if="processingPurchase" class="loader"></div>
					<span v-else>
						Bayar Sekarang {{ purchaseData.amount | currencyID }}
					</span>
				</bg-button>
			</div>
		</template>
	</div>
</template>

<script>
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import mixinFilterCurrency from 'Js/_consultant/mixins/mixinFilterCurrency.js';
import mixinVoucherTracker from 'Js/_user/mixins/mixinVoucherTracker.js';
import { BgButton } from 'bangul-vue';
import dayjs from 'dayjs';

export default {
	name: 'OwnerPurchaseDetail',
	components: {
		MamiLoadingInline,
		BgButton
	},
	mixins: [mixinFilterCurrency, mixinVoucherTracker],
	data() {
		return {
			isLoading: false,
			ownerDashboardUrl: oxWebUrl,
			purchaseData: window.data,
			processingPurchase: false
		};
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		profile() {
			return this.$store.state.profile;
		},
		membership() {
			return this.profile.membership;
		},
		changePurchase() {
			return this.purchaseData.type === 'package'
				? 'promosi-kost/premium-package'
				: 'ownerpage/premium/balance?change-package=true';
		},
		ownerPremiumStatus() {
			return !this.membership.expired;
		},
		trackerData() {
			return {
				owner_premium_package_id: this.membership.active_premium_package_id,
				owner_premium_package_name: this.membership.active_premium_package_name,
				owner_premium_end_date: dayjs(
					this.profile.membership.active_date
				).format('YYYY-MM-DDTHH:mm:ss'),
				package_type: this.purchaseData.type,
				package_id: this.purchaseData.id,
				package_name: this.purchaseData.name,
				package_price: this.purchaseData.amount,
				package_end_date: '',
				interface: this.userInterface
			};
		}
	},
	created() {
		if (this.purchaseData !== null) {
			this.isLoading = false;
			this.hideChatBox();
			this.initTracker();
		} else {
			this.isLoading = false;
			window.open(this.ownerDashboardUrl, '_self');
		}
	},
	methods: {
		hideChatBox() {
			try {
				document.querySelector('#sb_widget .widget').style.display = 'none';
			} catch (e) {
				console.error(e);
			}
		},
		goBack() {
			window.history.back();
		},
		proceedPurchase() {
			this.processingPurchase = true;
			axios
				.post('/owner/premium/package/order', {
					package_id: this.purchaseData.id
				})
				.then(response => {
					window.open(`${response.data.invoice_url}`, '_self');
				})
				.catch(error => {
					this.processingPurchase = false;
					bugsnagClient.notify(error);
				});
		},
		initTracker() {
			const visitedTrackerData = {
				...this.trackerData,
				owner_id: this.profile.user.user_id,
				owner_premium_status: this.ownerPremiumStatus
			};
			tracker('moe', [
				'[Owner] Premium Detail Tagihan Visited',
				visitedTrackerData
			]);
			tracker('logger', [
				'[Owner] Premium Detail Tagihan Visited',
				visitedTrackerData
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.purchase-detail {
	width: 100%;
	max-width: 596px;
	margin: 0 auto;

	@media (max-width: 768px) {
		max-width: 100%;
		padding: 0;
	}

	&__header {
		margin-bottom: 24px;

		.back-btn {
			.icon {
				width: 24px;
			}
		}

		.title {
			position: relative;
			top: 7px;
			left: 18px;
			font-size: 28px;
			font-weight: 900;

			@media (max-width: 768px) {
				font-size: 24px;
			}
		}
	}

	&__body {
		padding: 28px 24px;
		margin-bottom: 36px;
		font-size: 16px;
		border: 1px solid #e8e8e8;
		border-radius: 5px;

		@media (max-width: 768px) {
			padding: 0;
			border: 0;
		}

		.after-chosen-methods {
			.header {
				.title {
					margin: 0;
					font-size: 20px;
					font-weight: 900;
				}
			}

			.chosen-bank {
				width: 100%;
				padding-bottom: 24px;
				margin: 16px 0;
				border-bottom: 1px solid #e8e8e8;

				.title {
					font-size: 16px;
					font-weight: 700;
				}
			}

			.virtual-account {
				padding-bottom: 24px;
				margin: 24px 0;
				border-bottom: 1px solid #e8e8e8;

				.va-code {
					margin-bottom: 24px;
				}

				.va-number,
				.va-company-number {
					.va-title {
						font-size: 16px;
						font-weight: bold;
					}

					.va-copy {
						position: relative;
						top: 10px;
						float: right;
						font-weight: bold;
						color: #1baa56;
					}
				}

				.va-nominal,
				.va-company-nominal {
					position: relative;
					top: 4px;
				}
			}
		}

		.item-chosen,
		.detail-purchase,
		.total-purchase {
			padding-bottom: 24px;
			margin: 0 0 16px;

			> .title {
				margin: 0;
				font-size: 20px;
				font-weight: 900;
			}
		}

		.item-chosen {
			border-bottom: 1px solid #e8e8e8;

			.chosen-option {
				margin-top: 16px;

				.chosen-subtitle {
					font-weight: bold;

					@media (max-width: 400px) {
						display: inline-block;
						width: 150px;
					}
				}

				.active-package {
					margin-top: 4px;
					color: #404040;
				}

				.change-purchase {
					font-weight: bold;
					color: #1baa56;
				}
			}
		}

		.detail-purchase {
			border-bottom: 1px dashed #e8e8e8;

			.detail-info {
				margin: 16px 0;

				.detail-subtitle {
					@media (max-width: 400px) {
						display: inline-block;
						width: 150px;
					}
				}

				.nominal {
					font-weight: bold;
				}
			}
		}

		.verification-desc {
			.verif-caption {
				width: 67%;
				margin-top: 4px;
				font-size: 14px;
				color: #949494;
			}

			.verif-nominal {
				position: relative;
				top: 24px;
				float: right;
				font-weight: bold;
			}
		}

		.total-purchase {
			padding-bottom: 0;
			margin-bottom: 0;

			.nominal {
				font-size: 18px;
			}
		}

		.reminder-box {
			padding: 8px 10px 10px;
			margin: 24px 0;
			border: 1px solid #e8e8e8;
			border-radius: 8px;

			.reminder-icon {
				width: 15px;
				margin: 0 7px;
			}

			.reminder-text {
				font-size: 14px;
				color: #404040;
			}
		}

		.change-purchase,
		.nominal {
			float: right;
		}
	}

	&__footer {
		padding-top: 12px;
		border-top: 1px solid #e8e8e8;

		.purchase-btn {
			width: 98%;
			margin-left: 1%;
			font-weight: 700;
			color: #fff;
			background-color: #1baa56;
			border-color: transparent;
			border-radius: 4px;
		}

		.loader {
			width: 15px;
			height: 15px;
			padding: 10px;
			margin: auto;
			border: 2px solid #f3f3f3;
			border-top: 2px solid #c1c1c1;
			border-radius: 50%;
			-webkit-animation: spin 1s linear infinite; /* Safari */
			animation: spin 1s linear infinite;
		}
	}
	/* Safari */
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
</style>
