<template>
	<div>
		<div class="row" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-if="!isLoading" class="confirmation-body col-xs-12 col-md-9">
			<p>
				Anda membeli premium membership
			</p>
			<p class="text-semibold">
				{{ membership.package_name }}
			</p>

			<p class="price-label text-semibold bottom-space">
				<span class="text-green">
					{{ membership.package_price }}
				</span>
			</p>

			<!-- jika sudah konfirmasi -->
			<p class="payment-title" v-if="membership.status == 'Proses Verifikasi'">
				<span>
					<strong>Terima kasih! <br /><br /> </strong>
				</span>
				<span v-if="membership.confirm_from == 'manual'">
					Paket anda akan aktif setelah masa verifikasi pembayaran, maksimal 1
					&times; 24 jam.
				</span>
				<span v-else
					>Selesaikan pembayaran anda sesuai dengan instruksi pembayaran, dan
					tunggu beberapa saat. <br />Paket anda akan segera aktif!</span
				>
			</p>
			<p class="payment-title" v-if="membership.status == 'Premium'">
				<span>
					<strong>Terima kasih! <br /><br /> </strong>
				</span>
				Paket Premium Anda sudah aktif!
			</p>

			<div class="help">
				Jika ada yang ingin ditanyakan silakan hubungi kami. <br />
				<div class="hidden-xs hidden-sm">Telepon &amp; Whatsapp CS</div>
				<div class="hidden-xs hidden-sm">0859-3022-9138</div>
				<a
					href="http://wa.me/6285930229138"
					class="help__link visible-xs visible-sm"
					>Whatsapp CS</a
				>
				<a href="tel:+6285930229138" class="help__link visible-xs visible-sm"
					>Telepon CS</a
				>
				<label
					@click="startSupportChat"
					class="help__link"
					v-if="profile.user.enable_chat"
				>
					Chat CS
				</label>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</template>

<script>
import * as moment from 'moment';
import ownerMixinSupportChat from '../../mixins/OwnerMixinSupportChat';

export default {
	mixins: [ownerMixinSupportChat],
	data() {
		return {
			bankList: [],
			membership: {},
			countdown: {
				hours: 0,
				minutes: 0,
				seconds: 0,
				date: ''
			},
			confirmationForm: {
				_token: '',
				bankAccount: '',
				accountHolder: '',
				bankDestination: '',
				amount: '',
				transferDate: '2018-10-17'
			},

			isLoading: false
		};
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		confirmationData() {
			return this.$store.state.extras.confirmationData;
		},
		profile() {
			return this.$store.state.profile;
		}
	},
	props: {
		confirmationType: {
			type: String,
			required: true
		}
	},
	mounted() {
		this.getPaymentData();
	},
	methods: {
		getPaymentData() {
			this.isLoading = true;
			axios
				.get('owner/premium/confirmation')
				.then(response => {
					this.membership = response.data.membership;
					this.isLoading = false;
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style scoped>
.text-semibold {
	font-weight: 600;
}

.card {
	padding: 20px;
	border-radius: 8px;
}
.bottom-space {
	margin-bottom: 10px;
}

.confirmation-notice {
	background-color: #dcffde;
	color: #1baa56;
	margin-bottom: 30px;
}

.text-green {
	color: #1baa56;
}

.time-stamp {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.2;
}
.flex-table {
	display: flex;
	text-align: center;
	width: 175px;
}
.flex-item {
	flex: 1;
}

.price-label {
	font-size: 24px;
	line-height: 0.5;
}

.payment-title {
	margin-top: 35px;
	width: 270px;
}

.bank-account {
	padding-bottom: 10px;
	margin-top: 10px;
	width: 190px;
	line-height: 1.7;
}
.bank-account:not(:nth-last-child(1)) {
	border-bottom: 1px solid #aaa;
}

.bank-account--top {
	margin-top: 25px;
	border-bottom: 1px #000 solid;
}
.bank-account__number {
	font-size: 20px;
	line-height: 1.2;
}

.button-container {
	margin-top: 15px;
}
.btn-account {
	width: 190px;
}
.btn-replace-package {
	height: 28px;
	padding-top: 4px;
	text-align: center;
}

.help {
	margin-top: 15px;
	line-height: 1.8;
}
.help__link {
	font-weight: bold;
	color: #1baa56;
	cursor: pointer;
}

/* Modal */
</style>
