<template>
	<div>
		<div v-if="isLoading" class="row">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-if="!isLoading" class="confirmation-body col-xs-12 col-md-9">
			<p>
				<strong>Anda membeli saldo premium sebesar</strong>
			</p>

			<p class="price-label text-semibold bottom-space">
				<span class="text-green">{{ balancePrice }}</span>
			</p>

			<!-- jika belum konfirmasi -->
			<label v-if="needConfirmationStatus" class="payment-title text-bold"
				>Cara pembayaran</label
			>
			<p v-if="needConfirmationStatus">
				Silakan transfer ke salah satu rekening di bawah ini
			</p>

			<div v-if="needConfirmationStatus">
				<div
					v-for="(bank, bankKey) in bankList"
					:key="bankKey"
					class="bank-account text-semibold"
				>
					{{ bank.name }}
					<br />
					{{ bank.account_name }}
					<br />
					<span class="bank-account__number">{{ bank.number }}</span>
				</div>
			</div>

			<div v-if="needConfirmationStatus" class="button-container">
				<button
					type="button"
					class="btn btn-account btn-mamigreen d-block bottom-space"
					@click="openConfirmationModal"
				>
					Konfirmasi Pembayaran
				</button>
				<a
					href="ownerpage/premium/balance?change-package=true"
					class="btn-account btn-replace-package d-block"
					>Ganti Paket</a
				>
			</div>

			<!-- ketika nunggu konfirmasi -->
			<p v-if="verificationProcess" class="payment-title">
				<span>
					<strong>
						Terima kasih!
						<br />
						<br />
					</strong>
				</span>
				<span>
					Saldo anda akan otomatis bertambah setelah masa verifikasi pembayaran,
					maksimal 1 &times; 24 jam.
				</span>
			</p>

			<!-- jika sudah konfirmasi -->

			<p v-if="membership.balance_status == 'verif'" class="payment-title">
				<span>
					<strong>
						Terima kasih!
						<br />
						<br />
					</strong>
				</span>
				Saldo Anda sudah berhasil ditambahkan!
			</p>

			<div class="help">
				Jika ada yang ingin ditanyakan silakan hubungi kami.
				<br />
				<div class="hidden-xs hidden-sm">Telepon &amp; Whatsapp CS</div>
				<div class="hidden-xs hidden-sm">0859-3022-9138</div>
				<a
					href="http://wa.me/6285930229138"
					class="help__link visible-xs visible-sm"
					>Whatsapp CS</a
				>
				<a href="tel:+6285930229138" class="help__link visible-xs visible-sm"
					>Telepon CS</a
				>
				<label
					v-if="profile.user.enable_chat"
					class="help__link"
					@click="startSupportChat"
					>Chat CS</label
				>
			</div>
		</div>

		<div class="clearfix"></div>

		<!-- MODAL -->
	</div>
</template>

<script>
import ownerMixinSupportChat from '../../mixins/OwnerMixinSupportChat';

export default {
	mixins: [ownerMixinSupportChat],

	props: {
		confirmationType: {
			type: String,
			required: true,
		},
	},

	data() {
		return {
			bankList: [],
			membership: {},
			countdown: {
				hours: 0,
				minutes: 0,
				seconds: 0,
				date: '',
			},
			confirmationAmount: 0,
			confirmationForm: {
				bankDestination: '',
			},
			isLoading: false,
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		confirmationData() {
			return this.$store.state.extras.confirmationData;
		},
		profile() {
			return this.$store.state.profile;
		},
		needConfirmationStatus() {
			return (
				this.membership.balance_status === 'add' ||
				this.membership.status === 'Konfirmasi Pembayaran'
			);
		},
		verificationProcess() {
			return (
				this.membership.balance_status === 'waiting' ||
				this.membership.status === 'Proses Verifikasi'
			);
		},
		isOnAbTesting() {
			return (
				this.$store.state.abTestResult.is_active &&
				this.$store.state.abTestResult.experiment_id > 0
			);
		},
		abTestingScenario() {
			if (this.isOnAbTesting) {
				return this.$store.state.abTestResult.experiment_value === 'control'
					? 'A'
					: 'B';
			} else {
				return false;
			}
		},
		isOnBScenario() {
			return this.abTestingScenario === 'B';
		},
		balancePrice() {
			return this.isOnBScenario
				? this.membership.package_price_number
				: this.membership.balance_price;
		},
		confirmationAmounts() {
			return this.isOnBScenario
				? this.membership.package_price_number
				: this.membership.balance_price_number;
		},
	},

	mounted() {
		this.getPaymentData();
	},

	methods: {
		setSelectedBankDestination(banks) {
			this.bankList = banks.filter(
				bank => bank.id === this.confirmationData.bankDestination
			);
			this.confirmationForm.bankDestination = this.confirmationData.bankDestination;
		},

		getPaymentData() {
			this.isLoading = true;
			axios
				.get('owner/premium/confirmation')
				.then(response => {
					if (this.confirmationData != null) {
						this.setSelectedBankDestination(response.data.bank);
					} else {
						this.bankList = response.data.bank;
					}
					this.membership = response.data.membership;
					this.isLoading = false;
					this.fillFormFields();
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},

		fillFormFields() {
			this.confirmationForm.bankDestination = this.bankList[0].id;
			this.confirmationAmount = this.confirmationAmounts;
		},

		openConfirmationModal() {
			this.$refs.balanceConfirmationModal.toggleModal(true);
		},
	},
};
</script>

<style>
#paymentDate {
	background-color: #fff;
}
</style>

<style scoped>
.text-semibold {
	font-weight: 600;
}

.card {
	padding: 20px;
	border-radius: 8px;
}
.bottom-space {
	margin-bottom: 10px;
}

.confirmation-notice {
	background-color: #dcffde;
	color: #1baa56;
	margin-bottom: 30px;
}

.text-green {
	color: #1baa56;
}

.time-stamp {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.2;
}
.flex-table {
	display: flex;
	text-align: center;
	width: 175px;
}
.flex-item {
	flex: 1;
}

.price-label {
	font-size: 24px;
	line-height: 0.5;
}

.payment-title {
	margin-top: 35px;
	width: 270px;
}

.bank-account {
	padding-bottom: 10px;
	margin-top: 10px;
	width: 190px;
	line-height: 1.7;
}
.bank-account:not(:nth-last-child(1)) {
	border-bottom: 1px solid #aaa;
}

.bank-account--top {
	margin-top: 25px;
	border-bottom: 1px #000 solid;
}
.bank-account__number {
	font-size: 20px;
	line-height: 1.2;
}

.button-container {
	margin-top: 15px;
}
.btn-account {
	width: 190px;
}
.btn-replace-package {
	height: 28px;
	padding-top: 4px;
	text-align: center;
}

.help {
	margin-top: 15px;
	line-height: 1.8;
}
.help__link {
	font-weight: bold;
	color: #1baa56;
	cursor: pointer;
}
</style>
