<template>
	<div class="consultant-page" :style="consultantStylePage">
		<consultant-alert></consultant-alert>
		<navbar-component v-if="hasNavbar"></navbar-component>
		<div
			class="app-content container-for-mobile"
			:class="contentClasses"
			:style="contentStyles"
		>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
import NavbarComponent from 'Consultant/components/layouts/Navbar.vue';
import ConsultantAlert from './ConsultantAlert.vue';
import { toKebebCase } from 'Consultant/helpers/stringManipulation';

export default {
	name: 'App',

	components: {
		NavbarComponent,
		ConsultantAlert
	},
	data() {
		return {
			background: '',
			contentStyles: '',
			hasNavbar: true
		};
	},
	computed: {
		consultantStylePage() {
			return `background-color: ${this.background}`;
		},

		contentClasses() {
			return {
				'has-extend-navbar': !!this.$route.meta.navbarExtended
			};
		}
	},
	watch: {
		$route: {
			immediate: true,
			handler(routeChanges) {
				this.background = this.getBackgroundStyle(routeChanges);
				this.contentStyles = this.getContentStyles(routeChanges);
				this.hasNavbar = this.checkingNavbar(routeChanges);
			}
		}
	},

	methods: {
		getContentStyles({ meta }) {
			let styles = '';
			const { contentOptions = {} } = meta;
			if (contentOptions.style) {
				for (const [prop, value] of Object.entries(contentOptions.style)) {
					styles += `${toKebebCase(prop)}: ${value};`;
				}
			}

			return styles;
		},

		getBackgroundStyle({ meta }) {
			const { theme = {} } = meta;
			return theme.background || '#f4f4f4';
		},

		checkingNavbar({ meta }) {
			if (Object.hasOwnProperty.call(meta, 'navbar')) {
				return meta.navbar;
			}

			return true;
		}
	}
};
</script>

<style lang="scss" scoped>
.consultant-page {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 30px;

	.app-content {
		&.has-extend-navbar {
			position: relative;
			z-index: 2;
			margin-top: -90px;
		}
	}
}
</style>
