<template>
	<div class="consultant-card-list" :class="{ 'has-arrow': !noArrow }">
		<div class="card-list__body" @click="handleClickCard">
			<div class="card-list__content">
				<slot></slot>
			</div>
			<div v-if="!noArrow" class="card-list__icon">
				<img
					v-lazy="'/general/img/icons/ic_chevron_right_black.svg'"
					alt="Icon chevron right"
				/>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'CardList',

	props: {
		to: {
			type: Object,
			default: null
		},
		noArrow: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		handleClickCard(event) {
			if (this.to) this.$router.push(this.to);
			else this.$emit('click', event);
		}
	}
};
</script>
<style lang="scss" scoped>
.consultant-card-list {
	margin-bottom: 20px;

	.card-list__body {
		padding: 10px;
		cursor: pointer;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

		/* stylelint-disable */
		.card-list__content {
			[class^='card-'] {
				font-size: 14px;
			}
			.card-id,
			.card-descriptions {
				font-weight: normal;
				color: #595959;
			}

			.card-title {
				color: #383746;
				font-weight: 600;
			}

			.card-footer {
				padding: 15px 0;
				border-top: 1px solid #f4f4f4;
				margin-top: 10px;
			}
			/* stylelint-enable */
		}

		@at-root .has-arrow#{&} {
			display: flex;
			.card-list__content {
				width: 90%;
			}

			.card-list__icon {
				width: 10%;
				display: flex;
				align-item: center;
				justify-content: center;
			}
		}
	}
}
</style>
