<template>
	<div class="chip" :class="classes" @click="onclick">
		<span class="chip__content">
			<slot></slot>
		</span>
	</div>
</template>
<script>
const CHIP_TYPES = ['default', 'success', 'info', 'error', 'warning'];

export default {
	name: 'Chip',

	props: {
		type: {
			type: String,
			default: 'default',
			validator: value => CHIP_TYPES.includes(value)
		},
		outlined: {
			type: Boolean,
			default: false
		},
		pill: {
			type: Boolean,
			default: false
		},
		medium: {
			type: Boolean,
			default: false
		},
		large: {
			type: Boolean,
			default: false
		},
		customColor: {
			type: String,
			default: ''
		},
		fullWidth: {
			type: Boolean,
			default: false
		},
		align: {
			type: String,
			default: ''
		}
	},

	computed: {
		classes() {
			const obj = {
				[this.customColor]: this.customColor !== '',
				[`chip--${this.type}`]: this.customColor === '',
				'chip--outlined': this.outlined && this.customColor === '',
				'chip--pill': this.pill,
				'chip--medium': this.medium,
				'chip--large': this.large,
				'chip--clickable': this.clickable,
				'full-width': this.fullWidth,
				'align-left': this.align === 'left'
			};

			return obj;
		},
		clickable() {
			return typeof this.$listeners.click === 'function';
		}
	},

	methods: {
		onclick(event) {
			/* istanbul ignore else */
			if (this.clickable) {
				this.$emit('click', event);
			}
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

/* stylelint-disable-next-line */
$map-colors: (
	default: #383746,
	success: #1baa56,
	info: #078fca,
	error: #ec4a0c,
	warning: #8c3b00
);

/* stylelint-disable-next-line */
$map-chip-sizes: (
	medium: (
		height: 32px,
		radius: 23px,
		font-size: 14px,
		padding: 0 12px
	),
	large: (
		height: 42px,
		radius: 32px,
		font-size: 16px,
		padding: 0 15px
	)
);

.chip {
	display: inline-flex;
	min-height: 23px;
	padding: 0 8px;
	margin: 0 5px 5px 0;
	color: #383746;
	background-color: #f4f4f4;
	border-radius: 4px;
	justify-content: center;
	align-items: center;

	.chip__content {
		font-size: 10px;
		font-weight: bold;
	}

	&.chip--pill {
		border-radius: 11px;
	}

	&.chip--clickable {
		cursor: pointer;
	}

	&.full-width {
		width: 100%;
		margin-right: 0;
	}

	&.align-left {
		justify-content: flex-start;
	}

	@each $size, $value in $map-chip-sizes {
		&.chip--#{$size} {
			min-height: map-get($value, height);
			padding: map-get($value, padding);
			&.chip--pill {
				border-radius: map-get($value, radius);
			}

			.chip__content {
				font-size: map-get($value, font-size);
			}
		}
	}

	@each $className, $color in $map-colors {
		&.chip--#{$className} {
			background-color: rgba(lighten($color, 15%), 0.1);
			color: $color;
			@include variant('.chip--outlined') {
				background-color: rgba(lighten($color, 50%), 0.15);
				border: 1px solid $color;
			}
		}
	}
}
</style>
