<template>
	<div
		v-if="isComponentLoaded"
		class="consultant-success-page"
		:class="{ 'is-page--open': open }"
	>
		<div class="success-page__header">
			<div class="mamikos-logo">
				<img
					v-lazy="'/general/img/logo/logo_mamikos_white.svg'"
					alt="logo mamikos white"
					title="Mamikos logo"
				/>
			</div>
			<div class="header__title">
				Konsultan Mamikos
			</div>
		</div>
		<div class="success-page__body">
			<div class="body__image">
				<img
					src="/general/img/pictures/consultant/property_room-price-success.svg"
					alt="property room price success"
					title="Property room and price success"
				/>
			</div>
			<div v-if="$slots.default" class="body__caption">
				<slot></slot>
			</div>
			<div class="body__button">
				<slot name="button">
					<consultant-button large block @click="handleClosePage">
						Ok, saya mengerti
					</consultant-button>
				</slot>
			</div>
		</div>
	</div>
</template>
<script>
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';

export default {
	name: 'ConsultantSuccessPage',

	components: {
		ConsultantButton
	},

	props: {
		open: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			isComponentLoaded: false
		};
	},

	watch: {
		open: {
			immediate: true,
			handler(isOpen) {
				if (isOpen) {
					this.isComponentLoaded = true;
					document.body.classList.add('success-page-open');
				} else {
					document.body.classList.remove('success-page-open');
					const DELAY_HIDE_COMPONENT = 500;
					setTimeout(() => {
						this.isComponentLoaded = false;
					}, DELAY_HIDE_COMPONENT);
				}
			}
		}
	},

	methods: {
		handleClosePage() {
			this.$emit('close');
			this.$emit('update:open', false);
		}
	}
};
</script>
<style lang="scss" scoped>
@import '../styles/variables/theme';
@import '../styles/mixins/media';

$header-height: 90px;

.consultant-success-page {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: 999999;
	width: 480px;
	margin: auto;
	background-color: #f4f4f4;
	transition: transform 0.3s;
	transform: translateX(-500%);

	@include respond-bellow(480px) {
		width: 100%;
	}

	&.is-page--open {
		transform: translateX(-50%);
	}

	.success-page__header {
		height: $header-height;
		background-color: $mamikos-green;
		border-bottom-right-radius: 8%;
		border-bottom-left-radius: 8%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		img {
			height: 24px;
			width: auto;
			margin-bottom: 10px;
		}

		.header__title {
			font-weight: bold;
			font-size: 20px;
			color: white;
		}
	}

	.success-page__body {
		padding: 20px;
		height: calc(100vh - #{$header-height});
		position: relative;

		.body__image {
			height: calc(40vh - #{$header-height});
			position: relative;

			img {
				max-width: calc(50vw + 5vh);
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.body__caption {
			text-align: center;

			.title {
				font-weight: bold;
				font-size: 20px;
				color: #383746;
			}

			.subtitle {
				font-weight: normal;
				font-size: 16px;
				color: #383746;
			}
		}

		.body__button {
			height: calc(50vh - #{$header-height});
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}
	}
}
</style>
