<template>
	<div class="consultant-empty-state" :class="classes">
		<img
			v-lazy="'/general/img/pictures/consultant/consultant_empty_state.png'"
			v-bind="$attrs"
			alt="Consultant empty state"
			title="Consultant empty state"
		/>
		<div class="el-center flex-col">
			<h3>{{ title }}</h3>
			<p>{{ subtitle }}</p>
		</div>
		<div v-if="hasSlotButton" class="action-button">
			<slot name="button"></slot>
		</div>
	</div>
</template>
<script>
export default {
	name: 'ConsultantEmptyState',

	inheritAttrs: true,

	props: {
		title: {
			type: String,
			default: ''
		},
		subtitle: {
			type: String,
			default: ''
		},
		relative: Boolean
	},

	computed: {
		hasSlotButton() {
			return !!this.$slots.button;
		},
		classes() {
			return {
				'empty-state--relative': this.relative
			};
		}
	}
};
</script>
<style lang="scss" scoped>
.consultant-empty-state {
	position: absolute;
	top: 50vh;
	left: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;

	&.empty-state--relative {
		position: relative;
		top: 0;
		transform: translateY(0%);
	}

	/* stylelint-disable-next-line */
	> div > * {
		text-align: center;
	}

	.action-button {
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
}
</style>
