<template>
	<div class="consultant-checkbox">
		<checkbox
			v-model="checked"
			type="success"
			v-bind="$attrs"
			@input="handleChangeCheckbox"
		>
			<slot name="label">
				{{ label }}
			</slot>
		</checkbox>
	</div>
</template>
<script>
import { checkbox } from 'vue-strap';

export default {
	name: 'ConsultantCheckbox',

	components: {
		checkbox
	},

	inheritAttrs: true,

	props: {
		value: {
			type: Boolean,
			required: true
		},
		label: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			checked: false
		};
	},

	watch: {
		value: {
			immediate: true,
			handler(isChecked) {
				this.checked = isChecked;
			}
		}
	},

	methods: {
		handleChangeCheckbox() {
			this.$emit('change', this.checked);
			this.$emit('input', this.checked);
		}
	}
};
</script>
<style lang="scss">
.consultant-checkbox {
	label.checkbox {
		display: flex;
		align-items: center;
		padding-left: 22px;
		font-size: 14px;
		font-weight: 600;
		color: #383746;

		span.icon {
			margin-top: 3px;
		}
	}
}
</style>
