<template>
	<div class="consultant-alert" :class="alertParentClassName">
		<div role="alert" class="alert__wrapper" :class="alertClassName">
			<div class="alert__content">
				<ul class="message__container">
					<li
						v-for="(message, index) in messages"
						:key="`message-${index}`"
						class="message__item"
					>
						{{ message }}
					</li>
				</ul>
				<button type="button" class="alert__close-button" @click="closeAlert">
					<img
						v-lazy="'/general/img/icons/ic_close-consultant_white.svg'"
						alt="Icon close"
					/>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from 'Consultant/event-bus';

export default {
	name: 'ConsultantAlert',

	data() {
		return {
			isOpen: false,
			alertClassType: {
				error: 'alert--error',
				dark: 'alert--dark',
				success: 'alert--success'
			},
			currentType: 'error',
			messages: [],
			timeout: null,
			closeTimeout: 6000,
			autoClose: true,
			options: {
				placement: 'top'
			}
		};
	},

	computed: {
		alertParentClassName() {
			return {
				'alert--active': this.isOpen,
				'alert--multiple-line': this.messages.length > 1,
				[this.options.placement]: true
			};
		},
		alertClassName() {
			const alertTypeClass =
				this.alertClassType[this.currentType] || this.alertClassType.error;

			return {
				[alertTypeClass]: true
			};
		}
	},

	watch: {
		isOpen: {
			immediate: false,
			handler(value) {
				this.handleAutoCloseAlert(value);
			}
		}
	},

	created() {
		this.listenOpenAlert();
	},

	beforeDestroy() {
		EventBus.$off('openAlert', this.handleOpenAlert);
	},

	methods: {
		handleAutoCloseAlert(isOpen) {
			if (isOpen && this.autoClose) {
				if (this.timeout) {
					clearTimeout(this.timeout);
				}

				this.timeout = setTimeout(() => {
					this.closeAlert();
				}, this.closeTimeout);
			}
		},

		resetAlertState() {
			this.currentType = 'error';
			this.messages = [];
			this.closeTimeout = 6000;
			this.autoClose = true;
		},

		listenOpenAlert() {
			EventBus.$on('openAlert', this.handleOpenAlert);
		},

		handleOpenAlert(message, type = 'error', options = {}) {
			if (message) {
				this.messages = this.changeToArray(message);
				this.currentType = type;
				this.setAlertStateByOption(options);

				this.openAlert();
			}
		},

		changeToArray(data) {
			if (Array.isArray(data)) {
				return [...data];
			} else {
				return [data];
			}
		},

		setAlertStateByOption(options) {
			if (options.timeout) {
				this.closeTimeout = options.timeout;
			}

			if (options.placement) {
				this.placement = options.placement;
			}

			if (Object.prototype.hasOwnProperty.call(options, 'autoClose')) {
				this.autoClose = options.autoClose;
			}

			if (options.placement) {
				this.options.placement = options.placement;
			}
		},

		closeAlert() {
			this.isOpen = false;
			setTimeout(() => {
				this.resetAlertState();
				this.$el.style.display = 'none';
			}, 300);
		},

		openAlert() {
			this.$el.style.display = 'block';
			setTimeout(() => {
				this.isOpen = true;
			}, 100);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

/* stylelint-disable-next-line primer/no-unused-vars */
$color-themes: (
	error: red,
	dark: #29455a,
	success: #1baa56
);

.consultant-alert {
	position: fixed;
	z-index: 888889;
	display: none;
	width: 100%;
	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}

	.alert__wrapper {
		max-width: 480px;
		padding: 0 20px;
		margin: auto;
		opacity: 0;
		transition: opacity 0.3s ease-in, transform 0.3s ease-in;
		@include variant('.top') {
			transform: translateY(-40%);
		}

		@include variant('.bottom') {
			transform: translateY(40%);
		}

		@include variant('.alert--active') {
			opacity: 1;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			transform: translateY(0%) !important;
		}
	}

	@each $name, $color in $color-themes {
		.alert__wrapper.alert--#{$name} .alert__content {
			background-color: $color;
		}
	}

	.alert__content {
		position: relative;
		min-width: 350px;
		padding: 15px;
		margin: 10px auto;
		border-radius: 4px;

		.message__container {
			width: 100%;
			padding: 0 20px 0 0;
			margin: unset;
			list-style: none;
		}

		.message__item {
			font-size: 13px;
			font-weight: 600;
			color: #fff;
		}

		.alert__close-button {
			position: absolute;
			top: 50%;
			right: 5px;
			background-color: transparent;
			border: unset;
			outline: none;
			transform: translateY(-50%);

			@include variant('.alert--multiple-line') {
				top: 5px;
				transform: translateY(0%);
			}
		}
	}
}
</style>
