<template>
	<modal
		effect="fade"
		:value="open"
		:backdrop="backdropClick"
		:small="small"
		class="consultant-modal"
		:class="{ 'image-mode': imageMode }"
		@closed="handleCloseModal"
	>
		<div class="modal__container">
			<div
				v-if="!hideCloseButton || !hideHeader"
				class="modal-custom-header"
				:class="{ 'flex-end': hideHeader }"
			>
				<h2 v-if="!hideHeader">{{ headerText }}</h2>

				<div
					v-if="!hideCloseButton"
					class="modal__close-btn"
					@click="closeModal"
				>
					<ct-icon
						v-if="imageMode"
						name="cross-circle-outline"
						size="32px"
						:line-height="1"
						color="#fff"
					/>
					<ct-icon v-else name="cross" size="24px" :line-height="1" />
				</div>
			</div>

			<div class="modal__content">
				<slot></slot>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	name: 'ConsultantModal',

	components: {
		modal
	},

	props: {
		open: {
			type: Boolean,
			required: true,
			default: false
		},
		hideCloseButton: {
			type: Boolean,
			default: false
		},
		hideHeader: {
			type: Boolean,
			default: true
		},
		headerText: {
			type: String,
			default: ''
		},
		closeOnOutsideClick: {
			type: Boolean,
			default: false
		},
		imageMode: {
			type: Boolean,
			default: false
		},
		small: {
			type: Boolean,
			default: true
		}
	},

	data() {
		return {
			backdropClick: false
		};
	},

	watch: {
		closeOnOutsideClick: {
			immediate: true,
			handler(value) {
				this.backdropClick = value;
			}
		},
		open: {
			immediate: false,
			handler(value) {
				if (value && this.closeOnOutsideClick) {
					this.backdropClick = false;
					setTimeout(() => {
						this.backdropClick = true;
					}, 300);
				}
			}
		}
	},

	methods: {
		closeModal() {
			this.$emit('update:open', false);
			this.$emit('close');
		},
		handleCloseModal() {
			if (this.closeOnOutsideClick) {
				this.closeModal();
			}
		}
	}
};
</script>

<style lang="scss">
.consultant-modal.modal {
	.modal-dialog {
		top: 20%;
	}

	.modal-content {
		.modal-header,
		.modal-footer {
			display: none;
		}
	}

	.modal-content .modal__container {
		padding: 0;
	}

	.modal__close-btn {
		display: flex;
		padding: 0;
		margin-bottom: 10px;
		justify-content: flex-end;
		align-items: center;
		& > div {
			flex: 0 0 auto;
			cursor: pointer;
		}
	}

	.modal-custom-header {
		display: flex;
		margin-bottom: 20px;
		justify-content: space-between;
		&.flex-end {
			justify-content: flex-end;
			margin-bottom: 0;
		}
		h2 {
			margin: 0;
			font-size: 24px;
			font-weight: 900;
			line-height: 32px;
			flex: 0 1 auto;
		}
		.modal__close-btn {
			flex: 0 0 24px;
		}
	}
}

.consultant-modal.image-mode {
	.modal-content {
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.modal-body {
		padding: 0;
	}
}
</style>
