<template>
	<div class="consultant-datepicker" :class="datepickerClassName">
		<div v-if="label" class="label-text">
			{{ label }}
		</div>
		<Datepicker
			ref="refDatepicker"
			:format="format"
			:class="className"
			:disabled-dates="disabledDates"
			:value="dateValue"
			:placeholder="placeholder"
			@selected="selectedDate"
		></Datepicker>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
	name: 'ConsultantDatepicker',

	components: {
		Datepicker
	},

	props: {
		format: {
			type: [String, Function],
			default: ''
		},
		className: {
			type: String,
			default: ''
		},
		disabledDates: {
			type: Object,
			default() {
				return {};
			}
		},
		label: {
			type: String,
			default: ''
		},
		value: {
			type: [String, Date],
			default: null
		},
		placeholder: {
			type: String,
			default: ''
		},
		fullWidth: {
			type: Boolean,
			default: false
		},
		pickerOnAbove: {
			type: Boolean,
			default: false
		},
		outlinedActivator: {
			type: Boolean,
			default: false
		},
		blackIcon: {
			type: Boolean,
			default: false
		},
		prependIcon: Boolean
	},

	data() {
		return {
			dateValue: '',
			refValue: ''
		};
	},

	computed: {
		datepickerClassName() {
			return {
				'datepicker--full-width': this.fullWidth,
				'picker--on-above': this.pickerOnAbove,
				'datepicker--outlined-activator': this.outlinedActivator,
				'datepicker--icon-black': this.blackIcon,
				'datepicker--prepend-icon': this.prependIcon
			};
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(val) {
				this.dateValue = val;
			}
		}
	},

	methods: {
		selectedDate(date) {
			this.dateValue = date;
			this.$emit('selected', date);
		},
		showCalendar() {
			this.$refs.refDatepicker.showCalendar();
		}
	}
};
</script>

<style lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.label-text {
	margin-bottom: 5px;
	font-weight: bold;
}

// ---------------------------------------------------
// CUSTOM DATEPICKER TAKEN FROM BOOKING INPUT DATE
.consultant-datepicker {
	.datepicker-left {
		.vdp-datepicker__calendar {
			bottom: 40px;
			left: 0;
		}
	}
	.datepicker-right {
		.vdp-datepicker__calendar {
			right: 0;
			bottom: 40px;
		}
	}

	.vdp-datepicker {
		// stylelint-disable
		input[type='text'] {
			width: 100%;
			height: 3em;
			padding: 6px 30px 6px 0;
			font-size: 14px;
			line-height: 24px;
			background: transparent url('/general/img/icons/icon_calendar.svg') right
				center no-repeat;
			border: 0;
			border-bottom: 2px solid #dbdbdb;
			border-radius: 0;
			outline: none;

			@include variant('.datepicker--prepend-icon') {
				padding: 6px 12px 6px 30px;
				background-position: left;
			}

			@include variant('.datepicker--outlined-activator') {
				padding: 6px 35px 6px 12px;
				background: #fff url('/general/img/icons/icon_calendar.svg')
					calc(100% - 10px) center no-repeat;
				border: 1px solid #ccc;
				border-radius: 3px;

				@include variant('.datepicker--prepend-icon') {
					padding: 6px 12px 6px 45px;
					background-position: 10px;
				}
			}

			@include variant('.datepicker--icon-black') {
				background-image: url('/general/img/icons/ic_calendar_black.svg') !important;
			}

			&::placeholder {
				color: rgb(160, 160, 160);
			}
		}
		// stylelint-enable
	}

	.vdp-datepicker__calendar {
		width: 298px;
		padding: 8px;
		// width: 100% !important;
		border-radius: 3px;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
		&::after {
			position: absolute;
			bottom: -80px;
			width: 100%;
			height: 80px;
			content: '';
		}

		// stylelint-disable-next-line
		header {
			// stylelint-disable-next-line
			.day__month_btn {
				font-weight: bold;
			}
		}

		@include variant('.datepicker--full-width') {
			width: 100%;
		}

		@include variant('.picker--on-above') {
			bottom: 40px;
		}
	}

	.vdp-datepicker__calendar .day {
		width: 40px;
	}

	.vdp-datepicker__calendar .cell.selected {
		color: #fff;
		background: #60ab57 !important;
		border-radius: 3px;
	}

	// OVERLAY
	.overlay-bg {
		&.enable {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100vw;
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
}
</style>
