<template>
	<div class="consultant-select" :class="selectClassName">
		<div v-if="legend" class="select__legend">{{ legend }}</div>
		<div class="select__content" @click="handleClickSelectParent">
			<v-select
				:value="valueSelected"
				:options="options"
				:options-value="itemValue"
				:placeholder="placeholder"
				:clear-button="clearButton"
				@change="onchange"
			></v-select>
		</div>
	</div>
</template>
<script>
import { select } from 'vue-strap';

export default {
	name: 'ConsultantSelect',

	components: {
		'v-select': select
	},

	props: {
		value: {
			required: true,
			validator: value => typeof value === 'string' || value === null
		},
		legend: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		options: {
			type: Array,
			required: true
		},
		itemValue: {
			type: String,
			default: 'value'
		},
		insensitive: {
			type: Boolean
		},
		regular: {
			type: Boolean,
			default: false
		},
		mandatorySign: {
			type: Boolean,
			default: false
		},
		readonly: {
			type: Boolean,
			default: false
		},
		clearButton: {
			type: Boolean,
			default: true
		}
	},

	data() {
		return {
			valueSelected: ''
		};
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				this.handleParentValueChanged(value);
			}
		}
	},

	computed: {
		isDirty() {
			return !!this.valueSelected;
		},
		isInSensitiveValue() {
			return this.insensitive;
		},
		selectClassName() {
			return {
				select__dirty: this.isDirty,
				select__regular: this.regular,
				'has-mandatory-sign': this.mandatorySign,
				'select--readonly': this.readonly
			};
		}
	},

	methods: {
		sendToParent(value) {
			this.$emit('input', value);
		},

		handleClickSelectParent(event) {
			if (this.readonly) {
				this.$emit('click', event);
			}
		},

		handleParentValueChanged(value) {
			if (!value) {
				this.valueSelected = null;
			} else {
				const optionSelected = this.selectOption(this.options, value);
				if (
					!this.isStringSame(
						this.valueSelected,
						value,
						this.isInSensitiveValue
					) &&
					optionSelected
				) {
					this.valueSelected = optionSelected;
				}
			}
		},

		selectOption(optionLists, optionValueWasSelected) {
			const optionSelected = optionLists.find(eachOption =>
				this.isStringSame(
					eachOption[this.itemValue],
					optionValueWasSelected,
					this.isInSensitiveValue
				)
			);

			return optionSelected ? optionSelected[this.itemValue] : '';
		},

		isStringSame(compareData1, compareData2, isInsensitive) {
			if (isInsensitive) {
				return (
					String(compareData1).toLowerCase() ===
					String(compareData2).toLowerCase()
				);
			} else {
				return compareData1 === compareData2;
			}
		},

		onchange(value) {
			this.valueSelected = value;
			this.sendToParent(this.valueSelected);
			this.$emit('change', value);
		}
	}
};
</script>
<style lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.consultant-select {
	.select__legend {
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: bold;

		@include variant('.has-mandatory-sign') {
			&::after {
				display: inline-block;
				margin-left: 3px;
				font-size: 15px;
				color: #ff0000;
				content: '*';
			}
		}
	}

	.select__content {
		position: relative;
		@include variant('.select--readonly') {
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 2;
				cursor: default;
				content: '';
			}
		}
		.btn-group {
			display: block;
			width: 100%;

			.dropdown-menu {
				width: 100%;
				li a .glyphicon {
					display: none;
				}
			}

			.form-control {
				@include variant('.select__regular') {
					box-shadow: unset;
				}

				&.dropdown-toggle {
					&:focus {
						border-color: #ccc !important;
						box-shadow: unset;
					}

					@include variant('.select__regular') {
						border: unset;
						position: relative;
						&::before {
							content: '';
							display: inline-block;
							width: 100%;
							height: 2px;
							border-radius: 2px;
							background-color: #ccc;
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}
			}

			&.open {
				.form-control.dropdown-toggle {
					&,
					&:focus {
						border-color: #1baa56 !important;
					}
				}
			}

			.btn-content {
				color: #999;
				@include variant('.select__dirty') {
					color: #555;
				}
			}
		}
	}
}
</style>
