<template>
	<div class="consultant-pagination" :class="{ 'green-version': greenVersion }">
		<paginate
			v-model="activePagination"
			:page-count="totalPagination"
			:page-range="pageRange"
			:prevText="''"
			:nextText="''"
			:click-handler="handleChangePage"
		>
			<template slot="breakViewContent">
				<img
					v-if="!greenVersion"
					class="more-indicator"
					src="/general/img/icons/ic_ellipsis-h_black.svg"
					alt="Icon Ellipsis"
				/>
			</template>
		</paginate>
	</div>
</template>
<script>
import paginate from 'vuejs-paginate';

export default {
	name: 'ConsultantPagination',

	components: {
		paginate
	},

	props: {
		totalData: {
			type: Number,
			required: true
		},
		pageActive: {
			type: Number,
			required: true
		},
		greenVersion: {
			type: Boolean,
			default: false
		},
		maxPagination: {
			type: Number,
			default: 100
		}
	},

	data() {
		return {
			activePagination: 1
		};
	},

	computed: {
		pageRange() {
			/* istanbul ignore if */
			if (
				(this.activePagination === 1 && this.totalPagination > 2) ||
				(this.activePagination === this.totalPagination &&
					this.totalPagination > 2)
			) {
				return 2;
			}

			return 1;
		},
		totalPagination() {
			const totalPagination = Math.ceil(this.totalData / 10);
			return totalPagination > this.maxPagination
				? this.maxPagination
				: totalPagination;
		}
	},

	watch: {
		pageActive: {
			immediate: true,
			handler(page) {
				const currentPage =
					page > this.maxPagination ? this.maxPagination : page;
				/* istanbul ignore else */
				if (currentPage <= this.totalPagination) {
					this.activePagination = currentPage;
				}
			}
		}
	},

	methods: {
		handleChangePage(pageNumber) {
			this.$emit('change', pageNumber);
		}
	}
};
</script>
<style lang="scss">
@import 'Consultant/styles/mixins/_media.scss';
@import 'Consultant/styles/mixins/_selector.scss';
@import 'Consultant/styles/variables/theme';

.consultant-pagination {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	> ul {
		display: inline-flex;
		align-items: center;
		margin: auto;
		list-style: none;
		padding: unset;
		max-width: 100%;

		li {
			margin: 0 8px;
			@include respond-bellow(378px) {
				margin: 0;
				@include parent {
					justify-content: space-between;
					margin: unset;
					width: 100%;
				}
			}

			a {
				outline: none;
				&:hover,
				&:active {
					text-decoration: none;
				}

				&.small-text {
					word-break: break-word;
					line-height: 20px;
					font-size: 12px !important;
					text-align: center;
				}
			}

			// ellipsis
			&:not(:first-child):not(:last-child).disabled {
				padding-bottom: 10px;
				a {
					border: none;
					align-items: flex-end;
					cursor: default;
				}
			}

			&:not(:first-child) a,
			&:not(:last-child) a {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 1px solid #29323c;
				color: #29323c;
				font-size: 16px;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&:first-child,
			&:last-child {
				a {
					width: 45px;
					height: 45px;
					margin: unset;
					background-position: center;
					background-repeat: no-repeat;
					border: none;
				}

				&.disabled {
					a {
						opacity: 0.6;
						cursor: not-allowed;
					}
				}
			}

			&:first-child a {
				background-image: url('/general/img/icons/ic_chevron-consultant-pagination_left_black.svg');
			}

			&:last-child a {
				background-image: url('/general/img/icons/ic_chevron-consultant-pagination_right_black.svg');
			}

			&.active {
				a {
					background-color: #29323c;
					color: #fff;
					&,
					&:active,
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	&.green-version {
		&.consultant-pagination > ul {
			li {
				margin: 0 6px;
				a {
					width: 30px;
					height: 30px;
					color: #404040;
					background-color: #fff;
					border: 1px solid #E8E8E8;
					border-radius: 4px;
				}
				&.active {
					a {
						color: #fff;
						background-color: $mamikos-green;
						border-color: $mamikos-green;
					}
				}
				&:first-child {
					a {
						background: #fff url('/general/img/icons/ic_chevron_right_green.svg')
							center center / 18px auto no-repeat;
						filter: grayscale(100%);
						transform: rotateY(180deg);
					}
				}
				&:last-child {
					a {
						background: #fff url('/general/img/icons/ic_chevron_right_green.svg')
							center center / 18px auto no-repeat;
						filter: grayscale(100%);
					}
				}

				&:first-child,
				&:last-child {
					&.disabled {
						opacity: 0.6;
					}
				}

				&:not(:first-child):not(:last-child).disabled {
					padding-bottom: unset;
				}
			}
		}
	}
}
</style>
