<template>
	<div class="consultant-menu" :class="menuClassName">
		<div
			ref="activator"
			class="menu__activator"
			@click.stop="handleActivatorClick"
		>
			<slot name="activator"></slot>
		</div>
		<ul
			ref="menuContent"
			class="menu__content list-container"
			:class="contentClass"
			role="menu"
		>
			<template v-if="options.length">
				<li
					v-for="(option, index) in options"
					:key="`list-${index}`"
					class="list__tile"
					:class="tileClassName(option)"
					role="menuitem"
					@click.stop="handleClickMenuItem(option)"
				>
					<div class="tile__title">
						<slot name="item" v-bind="{ index, item: option }">
							{{ option.title }}
						</slot>
					</div>
				</li>
			</template>
			<li v-else class="list__tile list--no-data">
				Tidak ada data
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'ConsultantMenu',

	props: {
		value: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		},
		options: {
			type: Array,
			default: () => [],
			validator: value => {
				if (
					value.length &&
					!value.every(eachValue =>
						Object.hasOwnProperty.call(eachValue, 'title')
					)
				) {
					throw new Error(
						'Invalid prop: prop "options" must contain "title" inside Array of Object'
					);
				}
				return true;
			}
		},
		offsetLeft: {
			type: Boolean,
			default: false
		},
		contentClass: {
			type: String,
			default: ''
		},
		closeOnContentClick: {
			type: Boolean,
			default: true
		}
	},

	computed: {
		menuClassName() {
			return {
				'menu--is-disabled': this.disabled
			};
		}
	},

	watch: {
		value: {
			immediate: false,
			handler(value) {
				if (value) {
					this.handleActivatorClick();
				} else {
					this.deactivateMenu();
				}
			}
		}
	},

	mounted() {
		this.setMenuStyle();
		this.handleClickOutside();
	},

	methods: {
		tileClassName(option) {
			const additionalClass = this.makeAdditionalClass(option.class);
			return {
				...additionalClass,
				'tile--is-disabled': option.disabled,
				'tile--is-active': option.active
			};
		},

		makeAdditionalClass(className) {
			const updatedClass = {};
			if (className) {
				className.split(' ').forEach(eachClass => {
					updatedClass[eachClass] = true;
				});
			}

			return updatedClass;
		},

		handleClickMenuItem(option) {
			if (!option.disabled) {
				this.$emit('select', option);
				if (this.closeOnContentClick) {
					this.deactivateMenu();
				}
			}
		},

		async handleActivatorClick() {
			this.resetClassActiveOtherComponent();
			if (!this.disabled) {
				this.$refs.menuContent.style.display = 'block';
				await this.setMenuPosition();
				this.$emit('input', true);
				setTimeout(() => {
					this.$el.classList.add('menu--is-active');
				}, 100);
			}
		},

		resetClassActiveOtherComponent() {
			document.querySelectorAll('.consultant-menu').forEach(menu => {
				menu.classList.remove('menu--is-active');
			});
		},

		deactivateMenu() {
			this.$el.classList.remove('menu--is-active');
			this.$emit('input', false);
			setTimeout(() => {
				if (this.$refs.menuContent) {
					this.$refs.menuContent.style.display = 'none';
				}
			}, 300);
		},

		handleClickOutside() {
			const app = document.body;
			app.addEventListener('click', this.deactivateMenu);
		},

		/**
		 * set style of menu content after component loaded
		 */
		setMenuStyle() {
			const WAITING_SLOT_LOADED = 100;
			setTimeout(() => {
				const activator = this.$refs.activator.getBoundingClientRect();
				const menu = this.$refs.menuContent;
				const menuDetail = menu.getBoundingClientRect();

				const left = this.getLeftPositionMenu(
					menuDetail.width,
					activator.width,
					this.offsetLeft
				);

				const top = activator.height;

				menu.style.cssText = `
						min-width: ${activator.width}px;
						left: ${left}px;
						top: ${top};
						display: none;
					`;
			}, WAITING_SLOT_LOADED);
		},

		getLeftPositionMenu(menuWidth, activatorWidth, isOffsetLeft) {
			if (isOffsetLeft && menuWidth > activatorWidth) {
				return -(menuWidth - activatorWidth);
			}

			return 0;
		},

		setMenuPosition() {
			const activator = this.$refs.activator.getBoundingClientRect();
			const menu = this.$refs.menuContent;
			const menuDetail = menu.getBoundingClientRect();
			const windowHeight = window.innerHeight;

			if (
				windowHeight <
				activator.top + (activator.height + menuDetail.height)
			) {
				menu.style.top = 'unset';
				menu.style.bottom = `${activator.height}px`;
			} else {
				menu.style.top = `${activator.height}px`;
				menu.style.bottom = 'unset';
			}

			return Promise.resolve(true);
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.consultant-menu {
	position: relative;
	display: inline-block;

	.menu__activator {
		display: inline-block;
		@include variant('.menu--is-disabled') {
			position: relative;
			opacity: 0.8;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				/* stylelint-disable-next-line */
				cursor: not-allowed;
				content: '';
			}
		}
	}

	.menu__content {
		position: absolute;
		z-index: 10;
		max-height: 180px;
		padding: unset;
		overflow-x: hidden;
		overflow-y: auto;
		list-style: none;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		transform: translateY(-10%);

		@include variant('.menu--is-active') {
			opacity: 1;
			transform: translateY(0%);
		}

		.list__tile {
			padding: 10px;
			cursor: pointer;

			&.list--no-data,
			&.tile-item--disabled {
				cursor: default;
			}

			&.tile--is-disabled {
				opacity: 0.5;
			}
		}
	}

	.list__tile {
		.tile__title {
			font-size: 14px;
		}

		&.tile--is-active {
			background-color: rgba(#eee, 0.5);
			.tile__title {
				font-weight: 600;
			}
		}
	}
}
/* stylelint-disable */
.list__tile:not(.tile--is-disabled):not(.list--no-data):not(.tile--is-active) {
	&:hover {
		background-color: rgba(#eee, 0.4);
		transition: background-color 0.2s;
	}

	&:active {
		background-color: rgba(#eee, 0.5);
	}
}
/* stylelint-enable */
</style>
