<template>
	<div class="consultant-btn" :class="parentBtnClassName">
		<button
			:type="type"
			class="btn"
			:class="btnClassName"
			:disabled="disabled"
			@click="handleClickButton"
		>
			<template v-if="!loading">
				<slot></slot>
			</template>
			<template v-else>
				<slot name="loading">
					{{ loadingText }}
				</slot>
			</template>
		</button>
	</div>
</template>
<script>
export default {
	name: 'ConsultantButton',

	props: {
		color: {
			type: String,
			default: 'primary',
			validator: value =>
				['primary', 'secondary', 'warning', 'danger'].indexOf(value) !== -1
		},
		loading: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		},
		loadingText: {
			type: String,
			default: 'Loading...'
		},
		flat: {
			type: Boolean,
			default: false
		},
		large: {
			type: Boolean,
			default: false
		},
		medium: {
			type: Boolean,
			default: false
		},
		block: {
			type: Boolean,
			default: false
		},
		submit: {
			type: Boolean,
			default: false
		},
		outline: {
			type: Boolean,
			default: false
		},
		to: {
			type: Object,
			default: null
		}
	},

	computed: {
		type() {
			return this.submit ? 'submit' : '';
		},
		btnClassName() {
			return [
				`btn-${this.color}`,
				this.block ? 'btn-block' : '',
				this.disabled ? 'btn-disabled' : ''
			];
		},
		parentBtnClassName() {
			return {
				'-large': this.large,
				'-medium': this.medium,
				'-outline': this.outline,
				'-block': this.block,
				'--disabled': this.disabled,
				'--loading': this.loading,
				'-flat': this.flat
			};
		}
	},

	methods: {
		handleClickButton(event) {
			if (!this.loading && !this.disabled) {
				if (this.to) {
					this.$router.push(this.to);
				} else {
					this.$emit('click', event);
				}
			}
		}
	}
};
</script>
<style lang="scss" scoped>
@import '../styles/mixins/selector';

/* stylelint-disable max-nesting-depth, selector-max-type, selector-max-specificity, primer/no-unused-vars */
$map-color: (
	'primary': #1baa56,
	'secondary': #999,
	'warning': #ec4a0c,
	'danger': #da3438
);

.consultant-btn {
	display: inline-block;

	.btn {
		line-height: 15px;
		white-space: unset;
		border-radius: 3px;
	}

	// theme color
	@each $name, $color in $map-color {
		.btn.btn-#{$name} {
			color: #fff;
			background-color: $color;
			border-color: darken($color, 3%);

			&:hover {
				background-color: darken($color, 10%);
				border-color: darken($color, 13%);
			}

			&:active {
				background-color: darken($color, 15%);
				border-color: darken($color, 18%);
			}

			/**
			 * common loading style
			 */
			@include variant('.--loading') {
				opacity: 0.6;
			}

			/**
			 * outline style
			 */
			@include variant('.-outline') {
				color: $color;
				background-color: transparent;
				border-color: $color;
				&:active {
					box-shadow: unset;
				}

				@include variant('.--disabled') {
					&.btn-disabled {
						&,
						&:hover {
							color: #dbdbdb;
							background-color: transparent;
							border-color: #dbdbdb;
						}
					}
				}

				@include variant('.--loading') {
					background-color: transparent;
					border-color: $color;
				}
			}

			/**
			 * flat style
			 */
			@include variant('.-flat') {
				color: $color;
				background-color: transparent;
				border: unset;

				@include variant('.--disabled') {
					&.btn-disabled {
						color: #dbdbdb;

						&:hover,
						&:active {
							background-color: transparent;
						}
					}
				}

				&:hover {
					background-color: rgba(lighten($color, 10%), 0.1);
					transition: background-color 0.3s ease-in;
				}

				&:active {
					background-color: rgba(lighten($color, 10%), 0.2);
					box-shadow: unset;
				}
			}
		}
	}

	&.-large {
		.btn {
			height: 48px;
			font-size: 14px;
			font-weight: 600;
		}
	}

	&.-medium {
		.btn {
			height: 40px;
			font-size: 14px;
		}
	}

	&.-block {
		width: 100%;
	}
}
/* stylelint-enable max-nesting-depth, selector-max-type, selector-max-specificity, primer/no-unused-vars */
</style>
