<template>
	<div class="ct-activity-item">
		<ct-list-item :disabled="disabled" @onContentClick="onContentClick">
			<div
				v-show="hasLeftContent"
				slot="action"
				:class="{ 'item-left': hasLeftContent }"
			>
				<ct-checkbox
					v-if="itemType === 'checkbox'"
					:value="isChecked"
					@change="handleCheck"
				></ct-checkbox>
				<i v-if="itemType === 'icon'" class="mamikos-icon" :class="icon"></i>
			</div>
			<div class="activity__content">
				<div class="activity-task">
					<div class="task-label">
						<slot v-if="hasSlotSubtext" name="subtext"></slot>
						<template v-else>
							{{ subtext }}
						</template>
					</div>
					<div v-if="!hideProgress" class="task-progress">{{ progress }}%</div>
				</div>
				<div class="activity-user-name">
					{{ text }}
				</div>
			</div>
		</ct-list-item>
	</div>
</template>

<script>
import CtListItem from 'Consultant/components/CtListItem.vue';
/* istanbul ignore next */
const CtCheckbox = () => import('Consultant/components/ConsultantCheckbox.vue');

export default {
	name: 'CtActivityItem',

	components: {
		CtListItem,
		CtCheckbox
	},

	props: {
		itemType: {
			type: String,
			default: '',
			validator: value => ['', 'icon', 'checkbox'].includes(value)
		},
		disabled: {
			type: Boolean,
			default: false
		},
		progress: {
			type: Number,
			default: 0
		},
		text: {
			type: String,
			default: ''
		},
		subtext: {
			type: String,
			default: ''
		},
		icon: {
			type: String,
			default: ''
		},
		checked: {
			type: Boolean,
			default: false
		},
		hideProgress: Boolean
	},

	data() {
		return {
			isChecked: false
		};
	},

	computed: {
		hasLeftContent() {
			return this.itemType !== '';
		},
		hasSlotSubtext() {
			return !!this.$slots.subtext;
		}
	},

	watch: {
		checked: {
			immediate: true,
			handler(value) {
				this.isChecked = value;
			}
		}
	},

	methods: {
		handleCheck(value) {
			if (this.itemType === 'checkbox') {
				this.$emit('change:checkbox', value);
			}
		},

		onContentClick(event) {
			this.$emit('onContentClick', event);
		}
	}
};
</script>

<style lang="scss">
.ct-activity-item {
	.ct-list-item {
		outline: none !important;
	}

	.consultant-checkbox {
		.checkbox {
			padding-left: 25px !important;
		}
		.icon {
			top: unset !important;
			left: 5px !important;
			margin: unset !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.activity-task {
	display: flex;
	align-items: center;
	font-size: 12px;

	.task-label {
		color: rgba(0, 0, 0, 0.6);
	}

	.task-progress {
		display: inline-block;
		margin-left: 5px;
		font-weight: bold;
		color: #000;
	}
}

.activity-user-name {
	font-size: 14px;
	font-weight: 600;
}

.ct-activity-item {
	.item-left {
		> .mamikos-icon {
			font-size: 25px;
			color: #949494;
		}
	}
}
</style>
