<template>
	<div class="ct-avatar" :class="classes">
		<div class="ct-avatar__wrapper" :style="wrapperStyle">
			<img
				v-lazy="imageSrc"
				v-bind="$attrs"
				class="ct-avatar__image"
				alt="Tenant Avatar Image"
			/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CtAvatar',

	props: {
		src: {
			type: [String, Object],
			default: ''
		},
		size: {
			type: String,
			default: '40px'
		},
		classes: {
			type: String,
			default: ''
		}
	},

	computed: {
		wrapperStyle() {
			let style = '';

			if (this.size) {
				style += `width: ${this.size}; height: ${this.size}; min-width: ${this.size}`;
			}

			return style;
		},
		imageSrc() {
			if (this.src) {
				return this.src;
			} else {
				return '/general/img/pictures/consultant/avatar_default_image.png';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.ct-avatar {
	display: inline-block;

	.ct-avatar__wrapper {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
	}

	.ct-avatar__image {
		width: inherit;
		height: inherit;
		object-fit: cover;
		object-position: center center;
	}
}
</style>
