<template>
	<div class="ct-bottom-container" :class="classes" :style="styles">
		<div class="inner-container">
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CtBottomContainer',

	props: {
		noShadow: {
			type: Boolean,
			default: false
		},
		border: {
			type: Boolean,
			default: false
		},
		normal: {
			type: Boolean,
			default: false
		},
		noPadding: {
			type: Boolean,
			default: false
		},
		styles: {
			type: String,
			default: ''
		}
	},

	computed: {
		classes() {
			return {
				'no-shadow': this.noShadow,
				border: this.border,
				normal: this.normal,
				'no-padding': this.noPadding
			};
		}
	}
};
</script>

<style lang="scss" scoped>
.ct-bottom-container {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 15;
	background-color: #fff;
	box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.08);
	&.no-shadow {
		box-shadow: none;
	}
	&.border {
		border-top: 1px solid #e8e8e8;
	}
	.inner-container {
		width: 100%;
		max-width: 480px;
		padding: 12px 16px;
		margin: 0 auto;
	}
	&.normal {
		position: static;
		box-shadow: none;
	}
	&.no-padding {
		.inner-container {
			padding: 12px 0;
		}
	}
}
</style>
