<template>
	<div class="card-task-list">
		<ct-card>
			<ct-card-header slot="header" :color="headerColor">
				<h3 class="task-type">{{ taskType }}</h3>
				<h2 class="task-title">{{ taskTitle }}</h2>
				<p class="task-subtitle">{{ taskSubtitle }}</p>
			</ct-card-header>
			<ct-card-body slot="body" reset-padding>
				<div class="data-counter">
					<p class="counter-text">{{ counterText }}</p>
				</div>
				<div class="list-container" :class="{ 'no-list': noList }">
					<template v-if="!noList">
						<div v-for="(list, index) in lists" :key="index">
							<slot name="lists" :list="list"></slot>
						</div>
					</template>
					<template v-else>
						<slot name="no-list"></slot>
					</template>
				</div>
			</ct-card-body>
			<ct-card-footer v-if="!noList" slot="footer" divider="shadow">
				<ct-btn large block @click="handleClickButton">
					Lihat Semua
				</ct-btn>
			</ct-card-footer>
		</ct-card>
	</div>
</template>

<script>
import CtCard, {
	CtCardHeader,
	CtCardBody,
	CtCardFooter
} from 'Consultant/components/ct-card';
import CtBtn from 'Consultant/components/ConsultantButton';

export default {
	name: 'CtCardTaskList',

	components: {
		CtCard,
		CtCardHeader,
		CtCardBody,
		CtCardFooter,
		CtBtn
	},

	props: {
		headerColor: {
			type: String,
			default: '#787878'
		},
		taskType: {
			type: String,
			default: ''
		},
		taskTitle: {
			type: String,
			default: ''
		},
		taskSubtitle: {
			type: String,
			default: ''
		},
		lists: {
			type: Array,
			required: true
		},
		totalList: {
			type: Number,
			required: true
		},
		dataType: {
			type: String,
			default: 'tipe data',
			required: true
		}
	},

	computed: {
		counterText() {
			if (this.lists.length) {
				let items;
				if (this.lists.length <= 10) {
					items = this.lists.length;
				} else {
					items = 10;
				}

				return `1-${items} dari ${this.totalList} ${this.dataType} ditampilkan`;
			} else {
				return `0 ${this.dataType} di tampilkan`;
			}
		},
		noList() {
			return this.lists.length <= 0;
		}
	},

	methods: {
		handleClickButton() {
			this.$emit('click:button');
		}
	}
};
</script>
<style lang="scss" scoped>
.task-type,
.task-title,
.task-subtitle {
	margin: 0 0 5px;
}

.task-type {
	font-size: 12px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}

.task-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.task-subtitle {
	min-height: 40px;
	margin-bottom: 0;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
}

.data-counter {
	padding: 8px 16px;
	border-bottom: 1px solid #e8e8e8;

	.counter-text {
		margin-bottom: 0;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.4);
	}
}

.list-container {
	height: 300px;
	padding: 0 16px;
	overflow-y: auto;

	&.no-list {
		height: 378px;
	}
}
</style>
