<template>
	<div class="ct-card-funnel">
		<div
			class="outer"
			:class="disabled ? 'disabled' : `gradient-${gradient}`"
			@click="handleClick"
		>
			<div class="inner">
				<h4>
					<i :class="`mamikos-icon icon-${titleIcon}`"></i>
					<span>{{ title }}</span>
				</h4>
				<p>
					<i :class="`mamikos-icon icon-${subtitleIcon}`"></i>
					<span>{{ subtitle }}</span>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CtCardFunnel',

	props: {
		to: {
			type: Object,
			default: null
		},
		title: {
			type: String,
			default: ''
		},
		subtitle: {
			type: String,
			default: ''
		},
		titleIcon: {
			type: String,
			default: 'board'
		},
		subtitleIcon: {
			type: String,
			default: 'user-circle-outline'
		},
		gradient: {
			type: String,
			default: 'blue'
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		handleClick(event) {
			if (this.to) this.$router.push(this.to);
			else this.$emit('click', event);
		}
	}
}
</script>

<style lang="scss" scoped>
.ct-card-funnel {
	display: inline-block;
}

.outer {
	width: 192px;
	height: 96px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 8px;
}

.inner {
	display: block;
	height: 100%;
	padding: 16px 12px;
	background: url('/general/img/pictures/consultant/ct-card-funnel-bg.svg')
		right center / auto 100% no-repeat;
}

h4 {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	.mamikos-icon {
		font-size: 20px;
		vertical-align: text-bottom;
	}
}

p {
	margin: 0;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	.mamikos-icon {
		font-size: 16px;
		color: rgba(255, 255, 255, 0.4);
	}
}

.gradient-blue {
	background-image: linear-gradient(to right, #067f7d, #52c1be);
}

.disabled {
	pointer-events: none;
	background-color: #cacaca;
}
</style>
