<template>
	<div class="ct-form-input-hour" :class="classes">
		<ct-input-text
			v-mask="'99:99'"
			v-validate="veeValidateRules"
			:value="inputValue"
			:label="label"
			placeholder="__:__"
			background-color="#fff"
			outlined
			:data-vv-name="dataVvName"
			:data-vv-scope="dataVvScope"
			:data-vv-as="dataVvAs"
			:data-vv-delay="dataVvDelay"
			:invalid-message="errors.first(`${dataVvScope}.${dataVvName}`)"
			:mandatory-sign="mandatorySign"
			@input="hanldeInput"
		></ct-input-text>
	</div>
</template>

<script>
import AwesomeMask from 'awesome-mask';
import CtInputText from 'Consultant/components/CtInputText';

export default {
	name: 'CtFormInputHour',

	components: {
		CtInputText
	},

	directives: {
		mask: AwesomeMask
	},

	props: {
		value: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		dataVvName: {
			type: String,
			default: ''
		},
		dataVvScope: {
			type: String,
			default: ''
		},
		dataVvDelay: {
			type: String,
			default: '100'
		},
		dataVvAs: {
			type: String,
			default: ''
		},
		mandatorySign: Boolean,
		block: Boolean
	},

	data() {
		return {
			inputValue: ''
		};
	},

	computed: {
		veeValidateRules() {
			return (this.mandatorySign ? 'required|' : '') + 'timeFormat';
		},
		classes() {
			return {
				'ct-input-hour--block': this.block
			};
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				this.inputValue = value;
			}
		}
	},

	methods: {
		hanldeInput(value) {
			this.$emit('input', value);
		}
	}
};
</script>
<style lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.ct-form-input-hour {
	.ct-input-text {
		.ct-input__body {
			display: inline-flex !important;
			@include variant('.ct-input-hour--block') {
				display: flex !important;
			}
		}

		.input {
			letter-spacing: 5px !important;

			&::placeholder {
				color: #555 !important;
			}
		}
	}
}
</style>
