<template>
	<div class="ct-form-upload-image" :class="classes">
		<dropzone
			:id="`upload-image-${_uid}`"
			ref="uploadImage"
			:options="dropzoneOptions"
			@vdropzone-success="handleUploadSuccess"
			@vdropzone-removed-file="handleRemovedFile"
			@vdropzone-error="handleError"
		>
		</dropzone>
	</div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone';
import { getAccessToken, clearToken } from 'Consultant/helpers/cookiesToken';
import { removeCredential } from 'Consultant/helpers/credentials';

export default {
	name: 'CtFromUploadImage',

	components: {
		Dropzone: vue2Dropzone
	},

	props: {
		url: {
			type: String,
			required: true
		},
		currentImage: {
			type: String,
			default: ''
		},
		options: {
			type: Object,
			default: () => ({})
		}
	},

	data() {
		return {
			dropzoneOptions: {
				url: this.url,
				paramName: 'file',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: true,
				maxFilesize: 2,
				createImageThumbnails: true,
				addRemoveLinks: true,

				headers: {
					Authorization: `Bearer ${getAccessToken()}`
				},

				dictDefaultMessage: 'Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto'
			},
			isHideImageInfo: false,
			errorMessage: ''
		};
	},

	computed: {
		classes() {
			return {
				'ct-upload--hide-info': this.isHideImageInfo
			};
		}
	},

	watch: {
		options: {
			immediate: true,
			handler(value) {
				this.handleCustomOption(value);
			}
		},
		currentImage: {
			immediate: false,
			handler(value) {
				this.isHideImageInfo = true;
				this.$refs.uploadImage.manuallyAddFile({ type: 'image/png' }, value);
			}
		},
		errorMessage: {
			immediate: false,
			handler(msg) {
				this.changeErrorMessage(msg);
			}
		}
	},

	methods: {
		handleUploadSuccess(file, response) {
			this.isHideImageInfo = false;
			this.$emit('updated', { file, response });
		},

		handleCustomOption(options) {
			if (Object.keys(options).length) {
				if (options.url) {
					this.dropzoneOptions = options;
				} else {
					throw new Error('Option prop must contain url');
				}
			}
		},

		handleRemovedFile(file, response, xhr) {
			this.$emit('remove', { file, response, xhr });
			this.errorMessage = '';
		},

		handleError(file, response, xhr) {
			if (xhr && xhr.status === 401) {
				try {
					swal({
						title: '',
						text: 'Session Anda telah habis, coba muat ulang halaman',
						type: 'warning',
						confirmButtonColor: '#ec4a0c'
					});
				} catch (e) {
					alert('Session Anda telah habis, coba muat ulang halaman');
				}

				clearToken();
				removeCredential();
			} else {
				this.isHideImageInfo = false;
				this.$emit('error', { file, response, xhr });
				const message = response.message || 'Gagal upload gambar';
				this.errorMessage = message;
			}
		},

		changeErrorMessage(message) {
			const errorMessageElm = this.$el.querySelector(
				'.dz-error-message [data-dz-errormessage]'
			);

			/* istanbul ignore next */
			if (errorMessageElm) {
				errorMessageElm.innerHTML = message;
			}
		}
	}
};
</script>

<style lang="scss">
@import '~vue2-dropzone/dist/vue2Dropzone.css';
@import 'Consultant/styles/mixins/_selector.scss';

.ct-form-upload-image {
	.vue-dropzone {
		display: flex;
		padding: unset;
		align-items: center;
		justify-content: center;
		border-radius: 4px;

		.dz-preview {
			display: block;
			width: 100%;
			height: 100%;
			padding: 16px;
			margin: unset;

			@include variant('.ct-upload--hide-info') {
				/* stylelint-disable */
				.dz-details {
					.dz-size,
					.dz-filename {
						display: none;
					}
				}
				/* stylelint-enable */
			}
		}

		.dz-image {
			display: flex;
			justify-content: center;
		}

		&.dz-clickable {
			.dz-button {
				font-size: 16px;
				font-weight: 600;
				color: #999;
				background: transparent;
				border: unset;
			}
		}
	}
}
</style>
