<template>
	<i :class="`mamikos-icon ${iconClassName}`" :style="styles"></i>
</template>

<script>
export default {
	name: 'CtIcon',

	props: {
		name: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: ''
		},
		color: {
			type: String,
			default: ''
		},
		lineHeight: {
			type: Number,
			default: 1.75
		}
	},

	computed: {
		defaultSlot() {
			return this.$slots.default ? this.$slots.default[0] : {};
		},

		iconClassName() {
			return 'icon-' + (this.defaultSlot.text || this.name);
		},

		styles() {
			let style = '';

			if (this.size) {
				style += `font-size: ${this.size};`;
			}

			if (this.color) {
				style += `color: ${this.color};`;
			}

			style += `line-height: ${this.lineHeight}`;

			return style;
		}
	}
};
</script>
