<template>
	<div class="ct-input-text" :class="parentClasses">
		<div class="ct-input__wrapper">
			<div
				v-if="label"
				class="ct-input__label"
				:class="{ 'has-mandatory-sign': mandatorySign }"
			>
				{{ label }}
			</div>
			<div class="ct-input__body" :style="inputStyles" @click="focus">
				<div v-if="prependIcon" class="ct-input__prepend-icon inner-icon">
					<i class="mamikos-icon" :class="`icon-${prependIcon}`"></i>
				</div>
				<div class="ct-input__field">
					<template v-if="type === 'currency'">
						<vue-numeric
							class="input"
							currency="Rp"
							separator="."
							:value="localValue"
							:disabled="disabled"
							:read-only="readonly"
							@input="oninput"
							@focus="onfocus"
							@blur="onblur"
						/>
					</template>
					<template v-else>
						<input
							ref="input"
							class="input"
							v-bind="$attrs"
							:value="localValue"
							:type="type"
							:placeholder="placeholder"
							:disabled="disabled"
							:readonly="readonly"
							@input="oninput"
							@focus="onfocus"
							@blur="onblur"
							@keydown.enter="onEnter"
						/>
					</template>
				</div>
				<div
					v-if="clearable"
					class="ct-input__append-icon inner-icon clearable-icon"
				>
					<i
						class="mamikos-icon icon-cross-circle"
						@click.stop="handleClearInput"
					></i>
				</div>
				<div v-if="appendIcon" class="ct-input__append-icon inner-icon">
					<i
						class="mamikos-icon"
						:class="`icon-${appendIcon}`"
						@click="onAppendClick"
					></i>
				</div>
			</div>
			<div v-if="!hideInvalidMessage" class="ct-input__subtext">
				<div class="message-text">{{ invalidMessage }}</div>
			</div>
		</div>
	</div>
</template>

<script>
import VueNumeric from 'vue-numeric';

export default {
	name: 'CtInputText',

	components: {
		VueNumeric
	},

	inheritAttrs: true,

	props: {
		value: {
			type: [String, Number],
			default: null
		},
		label: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		appendIcon: {
			type: String,
			default: ''
		},
		prependIcon: {
			type: String,
			default: ''
		},
		backgroundColor: {
			type: String,
			default: ''
		},
		invalidMessage: {
			type: String,
			default: ''
		},
		radius: {
			type: Number,
			default: NaN
		},
		onlyNumbers: {
			type: Boolean,
			default: false
		},
		mandatorySign: Boolean,
		disabled: {
			type: Boolean,
			default: false
		},
		readonly: {
			type: Boolean,
			default: false
		},
		outlined: Boolean,
		flat: Boolean,
		clearable: Boolean,
		hideInvalidMessage: Boolean
	},

	data() {
		return {
			localValue: '',
			isFocused: false
		};
	},

	computed: {
		parentClasses() {
			return {
				'ct-input--focus': this.isFocused,
				'ct-input--dirty': !!this.localValue,
				'ct-input--outlined': this.outlined,
				'ct-input--flat': this.flat,
				'ct-input--disabled': this.disabled,
				'ct-input--readonly': this.readonly,
				'ct-input--invalid': !!this.invalidMessage
			};
		},

		inputStyles() {
			let styles = '';

			if (!isNaN(this.radius)) {
				styles += `border-radius: ${this.radius}px;`;
			}

			if (this.backgroundColor) {
				styles += `background-color: ${this.backgroundColor};`;
			}

			return styles;
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				this.localValue = (value || '').toString();
			}
		}
	},

	methods: {
		/**
		 * @public
		 */
		focus() {
			if (this.type !== 'currency') {
				this.$refs.input.focus();
			}
		},

		/**
		 * @public
		 */
		blur() {
			this.$refs.input.blur();
		},

		oninput(event) {
			if (!this.disabled && !this.readonly) {
				let value;
				if (this.onlyNumbers) {
					value = event.target.value.replace(/\D/g, '');
					this.localValue = '';
				} else if (this.type !== 'currency') {
					value = event.target.value;
				} else {
					value = event;
				}
				this.sendValueToParent(value);
			}
		},

		onfocus(event) {
			this.isFocused = true;
			this.$emit('focus', event);
		},

		onblur(event) {
			this.isFocused = false;
			this.$emit('blur', event);
		},

		onEnter(event) {
			this.$emit('enter', event);
			this.blur();
		},

		onAppendClick() {
			this.$emit('click:append');
		},

		sendValueToParent(value) {
			this.localValue = value;
			this.$emit('input', value);
		},

		handleClearInput() {
			this.sendValueToParent('');
			this.focus();
			this.$emit('click:clear');
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../styles/mixins/selector';
/* stylelint-disable primer/no-unused-vars */
$active-color: #53ab57;
$invalid-color: #a94442;
$disable-color: rgba(#555, 0.5);
$border-color: #ccc;
/* stylelint-enable primer/no-unused-vars */

.ct-input-text {
	position: relative;

	&.ct-input--disabled {
		&:not(.ct-input--readonly) {
			pointer-events: none;
		}
	}

	.ct-input__label {
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: bold;

		&.has-mandatory-sign {
			&::after {
				display: inline-block;
				margin-left: 1.5px;
				font-size: 15px;
				color: rgb(255, 0, 0);
				content: '*';
			}
		}
	}

	.ct-input__body {
		position: relative;
		display: flex;
		padding: 0;
		align-items: stretch;
		cursor: text;
		background-color: transparent;

		&::after {
			position: absolute;
			bottom: -1px;
			left: 0;
			width: 100%;
			content: '';
			border-color: $border-color;
			border-style: solid;
			border-width: 1px 0 0;

			@include variant('.ct-input--invalid') {
				border-color: $invalid-color !important;
			}

			@include variant('.ct-input--focus') {
				border-color: $active-color;
			}

			@include variant('.ct-input--disabled') {
				border-color: rgba($border-color, 0.8);
			}
		}

		@include variant('.ct-input--outlined', '.ct-input--flat') {
			padding: 0 10px;
			border-radius: 3px;

			&::after {
				display: none;
			}
		}

		/** input theme outlined */
		@include variant('.ct-input--outlined') {
			border: 1px solid #ccc;

			@include variant('.ct-input--focus') {
				border-color: $active-color;
			}

			@include variant('.ct-input--invalid') {
				border-color: $invalid-color !important;
			}
		}

		/** input theme flat */
		@include variant('.ct-input--flat') {
			border: unset;
		}
	}

	.inner-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px;

		&.ct-input__prepend-icon {
			padding-left: 0;
		}

		&.ct-input__append-icon {
			padding-right: 0;
		}

		> .mamikos-icon {
			font-size: 20px;
			color: #555;

			@include variant('.ct-input--focus') {
				color: $active-color;
			}

			@include variant('.ct-input--invalid') {
				color: $invalid-color !important;
			}

			@include variant('.ct-input--disabled') {
				color: $disable-color;
			}
		}
	}

	.clearable-icon {
		.mamikos-icon {
			visibility: hidden;
			@include variant('.ct-input--dirty') {
				cursor: pointer;
				visibility: visible;
			}
		}
	}

	.ct-input__field {
		display: flex;
		align-self: center;
		flex: 1 1;
		.input {
			width: 100%;
			height: 3em;
			padding: 6px 0;
			font-size: 14px;
			background-color: transparent;
			border: unset;
			outline: none;

			&::placeholder {
				color: rgb(160, 160, 160);
			}

			@include variant('.ct-input--disabled') {
				color: $disable-color;
				/* stylelint-disable-next-line max-nesting-depth */
				&::placeholder {
					color: rgb(180, 180, 180);
				}
			}
		}
	}

	.ct-input__subtext {
		min-height: 25px;
		padding-top: 5px;
		overflow: hidden;
		line-height: 15px;

		.message-text {
			font-size: 12px;
			color: $invalid-color;
			transform: translateY(-100%);

			@include variant('.ct-input--invalid') {
				transition: transform 0.3s;
				transform: translateY(0%);
			}
		}
	}
}
</style>
