<template>
	<div class="ct-label" :class="{ 'has-mandatory-sign': mandatory }">
		<slot></slot>
	</div>
</template>

<script>
export default {
	name: 'CtLabel',

	props: {
		mandatory: Boolean
	}
};
</script>

<style lang="scss" scoped>
.ct-label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;

	&.has-mandatory-sign {
		&::after {
			display: inline-block;
			margin-left: 1.5px;
			font-size: 15px;
			color: rgb(255, 0, 0);
			content: '*';
		}
	}
}
</style>
