<template>
	<div
		class="ct-list-item"
		role="listitem"
		tabindex="0"
		:class="classes"
		@click="onclick"
	>
		<div v-if="hasActionSlot" class="ct-list__action">
			<slot name="action"></slot>
		</div>
		<div class="ct-list__content" @click="onContentClick">
			<div class="content__wrapper">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CtListItem',

	props: {
		divider: {
			type: Boolean,
			default: true
		},
		fullDivider: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		hasActionSlot() {
			return !!this.$slots.action;
		},
		clickable() {
			return !this.disabled && typeof this.$listeners.click === 'function';
		},
		classes() {
			return {
				'item--clickable': this.clickable,
				'item--has-divider': this.divider,
				'item--full-divider': this.fullDivider,
				'item--disabled': this.disabled
			};
		}
	},

	mounted() {
		this.toggleAriaDisabled(this.disabled);
	},

	methods: {
		onclick(event) {
			if (this.clickable) {
				this.$emit('click', event);
			}
		},

		onContentClick(event) {
			this.$emit('onContentClick', event);
		},

		toggleAriaDisabled(isDisabled) {
			if (isDisabled) {
				this.$el.setAttribute('aria-disabled', true);
			} else {
				this.$el.removeAttribute('aria-disabled');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.ct-list-item {
	position: relative;
	display: flex;

	&.item--full-divider {
		border-bottom: 1px solid #e8e8e8;
	}

	&.item--clickable {
		cursor: pointer;
	}

	&.item--disabled {
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			content: '';
			background-color: rgba(#fff, 0.3);
		}
	}

	.ct-list__action {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		padding: 12px 16px;
		align-self: center;
	}

	.ct-list__content {
		width: 100%;
		align-self: center;

		@include variant('.item--has-divider') {
			border-bottom: 1px solid #e8e8e8;
		}

		@include variant('.item--full-divider') {
			border-bottom: unset;
		}

		.content__wrapper {
			padding: 12px 16px 12px 0;
		}
	}
}
</style>
