<template>
	<div class="ct-radio-group-icon">
		<ct-label v-if="label" :mandatory="mandatorySign">
			{{ label }}
		</ct-label>
		<selection
			:value="valueSelected"
			:items="items"
			@change="handleChangeSelection"
		>
			<div slot="item" slot-scope="props" :class="itemClassNames(props)">
				<div class="__radio-selection-control"></div>
				<div class="__radio-icon">
					<i :class="`mamikos-icon icon-${props.item.icon}`"></i>
				</div>
				<div class="__radio-label">
					{{ props.item.label }}
				</div>
			</div>
		</selection>
	</div>
</template>

<script>
import Selection from 'Consultant/components/templates/Selection';
import CtLabel from 'Consultant/components/CtLabel';

export default {
	name: 'CtRadioGroupIcon',

	components: {
		Selection,
		CtLabel
	},

	props: {
		value: {
			type: [String, Number, Object],
			default: null
		},
		items: {
			type: Array,
			required: true
		},
		itemValue: {
			type: String,
			default: 'value'
		},
		label: {
			type: String,
			default: ''
		},
		mandatorySign: Boolean,
		returnObject: Boolean
	},

	data() {
		return {
			valueSelected: null
		};
	},

	computed: {
		itemClassNames() {
			return propsItem => ({
				'__radio-item': true,
				'__radio-item--active': propsItem.active,
				'__radio-item--disabled': !!propsItem.item.disabled
			});
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				this.setValueSelected(value);
			}
		}
	},

	methods: {
		handleChangeSelection(data) {
			this.valueSelected = data;
			if (this.returnObject) {
				this.sendToParent(data);
			} else {
				this.sendToParent(
					data[this.itemValue] || /* istanbul ignore next */ null
				);
			}
		},

		sendToParent(value) {
			this.$emit('input', value);
			this.$emit('change', value);
		},

		setValueSelected(value) {
			let parentValue;
			if (this.returnObject) {
				parentValue = { ...value };
			} else {
				const valueMatch = this.items.find(
					item => item[this.itemValue] === value
				);
				parentValue = valueMatch || null;
			}

			/* istanbul ignore else */
			if (JSON.stringify(parentValue) !== JSON.stringify(this.valueSelected)) {
				this.valueSelected = parentValue;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable at-rule-blacklist */
@import 'Consultant/styles/variables/theme.scss';

%center {
	align-items: center;
	justify-content: center;
}

.__radio-item {
	position: relative;
	display: flex;
	width: 96px;
	height: 96px;
	box-sizing: border-box;
	flex-direction: column;
	border: 1px solid #c9d1d9;
	border-radius: 4px;
	@extend %center;
	transition: border-color 0.3s;

	.__radio-selection-control {
		position: absolute;
		top: 10px;
		left: 10px;
		display: inline-flex;
		width: 16px;
		height: 16px;
		box-sizing: border-box;
		border: 1px solid #c9d1d9;
		@extend %center;
		border-radius: 50%;
		transition: border-color 0.3s;

		&::before {
			display: inline-block;
			width: 10px;
			height: 10px;
			content: '';
			background-color: #c9d1d9;
			border-radius: 50%;
			transition: 0.3s;
			transform: scale(0);
		}
	}

	.__radio-icon {
		margin-bottom: -5px;
		.mamikos-icon {
			font-size: 25px;
			color: #647482;
		}
	}

	.__radio-label {
		font-weight: 600;
		color: #647482;
	}

	&.__radio-item--active {
		border-color: $mamikos-green;
		transition: 0.3s;

		.__radio-selection-control {
			border-color: $mamikos-green;
			transition: 0.3s;

			&::before {
				background-color: $mamikos-green;
				transition: 0.3s;
				transform: scale(1);
			}
		}

		.__radio-icon {
			.mamikos-icon {
				color: $mamikos-green;
				transition: 0.3s;
			}
		}

		.__radio-label {
			color: $mamikos-green;
			transition: 0.3s;
		}
	}

	&.__radio-item--disabled {
		border-color: #dde3e8 !important;

		.__radio-selection-control {
			border-color: #e4e8ec !important;

			&::before {
				background-color: #e4e8ec !important;
			}
		}

		.__radio-label,
		.__radio-icon .mamikos-icon {
			color: #ccd5dc !important;
		}
	}
}
</style>
