<template>
	<div class="ct-select" :class="classes">
		<div class="ct-select__wrapper">
			<div
				v-if="label"
				class="ct-select__label"
				:class="{ 'mandatory-sign': mandatorySign }"
			>
				{{ label }}
			</div>
			<ct-menu
				v-model="isMenuActive"
				:disabled="disabled"
				:options="optionItems"
				@select="handleSelectMenu"
			>
				<div slot="activator" class="ct-select__activator">
					<ct-input-text
						ref="input"
						:value="inputValue"
						:placeholder="placeholder"
						autocomplete="off"
						:background-color="backgroundColor"
						outlined
						:readonly="!disabled"
						:disabled="disabled"
						append-icon="arrow-down"
						:clearable="clearable"
						:invalid-message="invalidMessage"
						@click:clear="handleClickClear"
					>
					</ct-input-text>
				</div>
			</ct-menu>
			<div v-if="showInvalidMessage" class="ct-select__subtext">
				<div class="message-text">{{ invalidMessage }}</div>
			</div>
		</div>
	</div>
</template>

<script>
import CtMenu from 'Consultant/components/ConsultantMenu';
import CtInputText from 'Consultant/components/CtInputText';

export default {
	name: 'CtSelect',

	$_veeValidate: {
		value /* istanbul ignore next */: function() {
			return this.value;
		}
	},

	components: {
		CtMenu,
		CtInputText
	},

	props: {
		value: {
			type: [String, Number, Object],
			default: null
		},
		label: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		options: {
			type: Array,
			default: () => []
		},
		optionLabel: {
			type: String,
			default: 'label'
		},
		optionValue: {
			type: String,
			default: 'value'
		},
		backgroundColor: {
			type: String,
			default: 'transparent'
		},
		invalidMessage: {
			type: String,
			default: ''
		},
		mandatorySign: Boolean,
		disabled: Boolean,
		returnObject: Boolean,
		clearable: Boolean,
		showInvalidMessage: {
			type: Boolean,
			default: true
		}
	},

	data: () => {
		return {
			optionItems: [],
			inputValue: '',
			isMenuActive: false
		};
	},

	computed: {
		classes() {
			return {
				'ct-select--active': this.isMenuActive,
				'ct-select--dirty': !!this.inputValue,
				'ct-select--invalid': !!this.invalidMessage
			};
		}
	},

	watch: {
		options: {
			immediate: true,
			handler(value) {
				if (value.length) {
					this.optionItems = this.mappingOptions(
						value,
						this.optionLabel,
						this.optionValue,
						this.value
					);
				}
			}
		},
		value: {
			immediate: true,
			handler(value) {
				this.handlingValueChange(value);
			}
		}
	},

	methods: {
		mappingOptions(options, optionLabel, optionValue, value) {
			return options.map(option => {
				if (option && typeof option === 'object') {
					return {
						...option,
						active: this.isActiveOption(option, optionValue, value),
						title: option[optionLabel] || ''
					};
				} else {
					return {
						active: option === value,
						title: option
					};
				}
			});
		},

		isActiveOption(option, optionValue, optionSelected) {
			if (option && typeof option === 'object') {
				if (optionSelected && typeof optionSelected === 'object') {
					return option[optionValue] === optionSelected[optionValue];
				} else {
					return option[optionValue] === optionSelected;
				}
			} else {
				return option === optionSelected;
			}
		},

		handleSelectMenu(value) {
			this.inputValue = value.title;
			this.handleSendValueToParent(value);
		},

		handleSendValueToParent(optionSelected) {
			let emitValue = null;
			if (optionSelected[this.optionValue]) {
				if (this.returnObject) {
					emitValue = this.options.find(
						option =>
							option[this.optionValue] === optionSelected[this.optionValue]
					);
				} else {
					emitValue = optionSelected[this.optionValue];
				}
			} else {
				emitValue = optionSelected.title;
			}

			this.sendingEmitToParent(emitValue);
		},

		handlingValueChange(optionSelected) {
			if (optionSelected && typeof optionSelected === 'object') {
				const value = optionSelected[this.optionLabel];
				this.inputValue = value;
			} else {
				const optionMatch = this.options.find(__option => {
					if (typeof __option === 'object') {
						return __option[this.optionValue] === optionSelected;
					} else {
						return __option === optionSelected;
					}
				});

				this.inputValue =
					typeof optionMatch === 'object'
						? optionMatch[this.optionLabel]
						: optionMatch;
			}

			this.optionItems = this.optionItems.map(__option => {
				const option = __option[this.optionValue] ? __option : __option.title;
				return {
					...__option,
					active: this.isActiveOption(option, this.optionValue, optionSelected)
				};
			});
		},

		handleClickClear() {
			this.inputValue = '';
			this.$refs.input.blur();
			this.sendingEmitToParent(this.returnObject ? {} : '');
		},

		sendingEmitToParent(value) {
			this.$emit('input', value);
			this.$emit('change', value);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.ct-select {
	.ct-select__label {
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
	}

	.ct-select__subtext {
		min-height: 25px;
		padding-top: 5px;
		overflow: hidden;
		line-height: 15px;

		.message-text {
			font-size: 12px;
			color: #a94442;
			transform: translateY(-150%);

			@include variant('.ct-select--invalid') {
				transition: transform 0.3s;
				transform: translateY(0%);
			}
		}
	}
}
</style>

<style lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.ct-select {
	.consultant-menu,
	.menu__activator,
	.ct-select__activator {
		width: 100%;
	}

	.ct-input-text {
		.ct-input__body,
		.input {
			cursor: pointer !important;
		}
		.ct-input__subtext {
			display: none;
		}

		.ct-input__append-icon {
			/* stylelint-disable */
			.mamikos-icon.icon-arrow-down {
				transition: transform 0.3s;
				transform: rotate(0deg);

				@include variant('.ct-select--active') {
					transition: transform 0.3s;
					transform: rotate(180deg);
				}
			}
			/* stylelint-enable */
		}
	}
}
</style>
