<template>
	<div class="ct-step-disc" :class="classes">
		<i v-if="showIcon && activated" class="mamikos-icon icon-checkmark"></i>
	</div>
</template>

<script>
export default {
	name: 'CTStepDisc',

	props: {
		showIcon: {
			type: Boolean,
			default: false
		},
		gradient: {
			type: String,
			default: 'blue',
			validator: value => ['blue', 'green'].includes(value)
		},
		activated: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		classes() {
			return {
				[`disc--${this.gradient}`]: true,
				'disc--activated': this.activated
			};
		}
	}
};
</script>

<style lang="scss" scoped>
.disc--blue {
	--gradient-from: #074a49;
	--gradient-center: #067f7d;
	--gradient-to: #52c1be;
}

.disc--green {
	--gradient-from: #08622f;
	--gradient-center: #46a265;
	--gradient-to: #6fc287;
}

.ct-step-disc {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	.icon-checkmark {
		color: #fff;
	}

	&.disc--activated {
		background: var(--gradient-from);
		border: unset;
		/* stylelint-disable */
		background: -moz-linear-gradient(
			100.98deg,
			var(--gradient-from) -1.57%,
			var(--gradient-center) 62.44%,
			var(--gradient-to) 98.92%
		);
		background: -webkit-linear-gradient(
			100.98deg,
			var(--gradient-from) -1.57%,
			var(--gradient-center) 62.44%,
			var(--gradient-to) 98.92%
		);
		background: linear-gradient(
			100.98deg,
			var(--gradient-from) -1.57%,
			var(--gradient-center) 62.44%,
			var(--gradient-to) 98.92%
		);
		/* stylelint-enable */
	}
}
</style>
