<template>
	<div class="ct-stage-step">
		<ct-card>
			<ct-card-header slot="header" :color="loading ? '#fff' : headerColor">
				<template v-if="loading">
					<shimmer height="12px" width="90px"></shimmer>
					<shimmer height="14px" width="70%"></shimmer>
					<shimmer height="12px" width="150px"></shimmer>
				</template>
				<template v-else>
					<h3 class="stage-label">
						<i class="mamikos-icon icon-board"></i>
						<span class="label">{{ stageLabel }}</span>
					</h3>
					<h2 class="stage-title">{{ stageTitle }}</h2>
					<p class="stage-subtitle">{{ stageSubtitle }}</p>
				</template>
			</ct-card-header>
			<ct-card-body slot="body">
				<div class="step-indicators">
					<template v-if="loading">
						<shimmer height="20px" width="80%" margin-bottom="10px"></shimmer>
					</template>
					<template v-else>
						<ct-step-disc
							v-for="(step, index) in steps"
							:key="`step-${index}`"
							:gradient="step.gradient"
							:show-icon="!!step.showIcon"
							:activated="!!step.activated"
						></ct-step-disc>
					</template>
				</div>
			</ct-card-body>
			<ct-card-footer slot="footer" divider="line">
				<div class="stage-footer">
					<shimmer
						v-if="loading"
						height="12px"
						width="80px"
						margin-bottom="5px"
					></shimmer>
					<div v-else class="stage-action" @click="handleClickDetail">
						Lihat Riwayat Data
					</div>
				</div>
			</ct-card-footer>
		</ct-card>
	</div>
</template>

<script>
import CtCard, {
	CtCardHeader,
	CtCardBody,
	CtCardFooter
} from 'Consultant/components/ct-card';
import CtStepDisc from 'Consultant/components/CtStepDisc';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

export default {
	name: 'CtCardTaskList',

	components: {
		CtCard,
		CtCardHeader,
		CtCardBody,
		CtCardFooter,
		CtStepDisc,
		Shimmer
	},

	props: {
		headerColor: {
			type: [String, Object],
			default: '#067F7D'
		},
		stageLabel: {
			type: String,
			default: ''
		},
		stageTitle: {
			type: String,
			default: ''
		},
		stageSubtitle: {
			type: String,
			default: ''
		},
		steps: {
			type: Array,
			required: true
		},
		loading: Boolean
	},

	methods: {
		handleClickDetail() {
			this.$emit('click:detail');
		}
	}
};
</script>
<style lang="scss" scoped>
.stage-label,
.stage-title {
	margin: 0 0 10px;
}

.stage-label {
	display: flex;
	align-items: center;

	.label {
		display: inline-block;
		margin-right: 8px;
		font-size: 14px;
	}

	.mamikos-icon,
	.label {
		color: rgba(255, 255, 255, 0.6);
	}

	.mamikos-icon {
		font-size: 18px;
	}
}

.stage-title {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.stage-subtitle {
	min-height: 45px;
	margin-bottom: 0;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
}

.stage-footer {
	display: flex;
	align-items: center;
	justify-content: center;

	.stage-action {
		padding: 4px 8px;
		font-size: 12px;
		font-weight: 600;
		color: #1baa56;
		cursor: pointer;
	}
}

.step-indicators {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
</style>
