<template>
	<div class="ct-status-text">
		<div class="label-text">
			{{ label }}
		</div>
		<div :class="`content mini-block-${blockColor}`">
			{{ contentText }}
		</div>
	</div>
</template>

<script>
export default {
	name: 'CtStatusText',

	props: {
		label: {
			type: String,
			default: ''
		},
		contentText: {
			type: String,
			default: ''
		},
		blockColor: {
			type: String,
			default: 'blue'
		}
	}
}
</script>

<style lang="scss" scoped>
.ct-status-text {

}

.label-text {
	padding: 0;
	margin-bottom: 16px;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	color: #8e8e8e;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.content {
	position: relative;
	padding-left: 16px;
	font-size: 20px;
	font-weight: bold;
	line-height: 16px;
	&::before {
		position: absolute;
		top: 4px;
		left: 0;
		width: 8px;
		height: 8px;
		content: '';
		border-radius: 2px;
	}
	&.mini-block-blue {
		&::before {
			background-image: linear-gradient(100.93deg, #074A49 -1.57%, #067F7D 62.44%, #52C1BE 98.92%);
		}
	}
	&.mini-block-green {
		&::before {
			background-image: linear-gradient(94.19deg, #08622F 2.57%, #46A265 75.52%, #6FC287 120.72%);
		}
	}
}
</style>
