<template>
	<div class="ct-swiper" :style="styles">
		<template v-for="(item, index) in items">
			<div :key="index" class="ct-swiper__item">
				<slot
					name="items"
					v-bind="{ index, item, active: !!item.active }"
				></slot>
			</div>
		</template>
	</div>
</template>

<script>
export default {
	name: 'CtSwiper',

	props: {
		maxWidth: {
			type: String,
			default: '100%'
		},
		items: {
			type: Array,
			default: () => []
		},
		autofocus: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		styles() {
			return `
        max-width: ${this.maxWidth}
      `;
		}
	},

	mounted() {
		this.setFocusElement();
	},

	methods: {
		setFocusElement /* istanbul ignore next */() {
			if (this.autofocus) {
				const childs = this.$el.children;
				const indexActive = this.items.findIndex(item => item.active);
				if (indexActive !== -1) {
					const scrollLeft =
						childs[indexActive].offsetLeft - this.$el.offsetWidth / 2;
					this.$el.scroll({
						left: scrollLeft,
						behavior: 'smooth'
					});
				}
			}
		}
	}
};
</script>
<style scoped lang="scss">
.ct-swiper {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	// animation on IOS
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	> .ct-swiper__item {
		display: inline-block;
	}
}
</style>
