<template>
	<div class="ct-tabs" role="tablist">
		<div class="ct-tabs__wrapper">
			<div v-show="hasActiveTab" ref="slider" class="ct-tabs__slider"></div>
			<template v-for="(item, index) in items">
				<div
					:key="`tab-${index}`"
					:ref="`tabItems`"
					class="ct-tab"
					:class="tabClassNames(item, index)"
					tabindex="0"
					:aria-selected="String(index === activeTabIndex)"
					role="tab"
					@click="handleTabClick(index)"
				>
					<slot name="item" v-bind="{ index, item }">
						<div class="tab__content">
							{{ item[itemLabel] || '-' }}
						</div>
					</slot>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
import { getOffsetLeft } from 'Consultant/helpers/dom';

export default {
	name: 'CtTabs',

	props: {
		/**
		 * index of active tab
		 * @model
		 */
		value: {
			type: Number,
			default: null
		},
		/**
		 * lists of tab
		 */
		items: {
			type: Array,
			required: true
		},
		/**
		 * object property of tab to be label
		 */
		itemLabel: {
			type: String,
			default: 'label'
		}
	},

	data() {
		return {
			activeTabIndex: null
		};
	},

	computed: {
		tabClassNames() {
			return (tab, index) => ({
				'ct-tab--active': index === this.activeTabIndex,
				'ct-tab--disabled': !!tab.disabled
			});
		},
		hasActiveTab() {
			return typeof this.activeTabIndex === 'number';
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(parentActiveTabIndex) {
				if (parentActiveTabIndex !== this.activeTabIndex) {
					this.activeTabIndex = parentActiveTabIndex;
				}
			}
		},
		activeTabIndex: {
			immediate: false,
			handler(activeTabIndex) {
				this.countSliderLength(activeTabIndex);
			}
		}
	},

	mounted() {
		if (this.hasActiveTab) {
			this.countSliderLength(this.activeTabIndex);
		}
	},

	methods: {
		handleTabClick(index) {
			const itemSelected = { ...this.items[index] };
			if (!itemSelected.disabled) {
				this.activeTabIndex = index;
				this.$emit('input', index);
				this.$emit('change', itemSelected, index);
			}
		},

		countSliderLength(activeTabIndex) {
			const activeTab = this.$refs.tabItems[activeTabIndex];
			const slider = this.$refs.slider;

			const tabDOM = activeTab.getBoundingClientRect();
			const left = getOffsetLeft(activeTab, activeTab.parentElement);
			const width = tabDOM.width;

			slider.style.width = `${width}px`;
			slider.style.left = `${left}px`;
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';
@import 'Consultant/styles/variables/theme.scss';

.ct-tabs {
	position: relative;

	.ct-tabs__wrapper {
		position: relative;
		display: flex;

		.ct-tabs__slider {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 3px;
			content: '';
			background-color: $mamikos-green;
			border-radius: 20px 20px 0 0;
			transition: 0.3s;
		}
	}
}

.ct-tab {
	display: flex;
	height: 49px;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;

	.tab__content {
		font-weight: 600;
		color: #858d9f;

		@include variant('.ct-tab--active') {
			color: #37383c;
			transition: color 0.3s linear;
		}

		@include variant('.ct-tab--disabled') {
			color: #b5bac5;
			cursor: default;
		}
	}

	&:not(.ct-tab--disabled):active {
		background-color: #f9f9f9;
	}
}
</style>
