<template>
	<div class="free-text-input" :class="freeTextClassName">
		<div class="free-text__wrapper">
			<div class="free-text__header">
				<slot name="header">
					<button class="button__close" @click="closeTextInput">
						<img
							v-lazy="'/general/img/icons/ic_close_black.svg'"
							alt="ic_close_black"
						/>
					</button>
					<button class="button__save" @click="handleSaveInput">
						{{ loading ? 'Loading...' : 'Simpan' }}
					</button>
				</slot>
			</div>
			<div class="free-text__body">
				<input-textarea
					v-model="localValue"
					:placeholder="placeholder"
					:max-length="maxLength"
					class="free-text__input"
					@input="handleInputEvent"
				></input-textarea>
			</div>
			<div class="free-text__footer">
				<p class="count-character">{{ countCharacter }}</p>
			</div>
		</div>
	</div>
</template>

<script>
import InputTextarea from 'Consultant/components/InputTextarea.vue';

export default {
	name: 'FreeTextInputPage',

	components: {
		InputTextarea
	},

	props: {
		value: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		preventSave: {
			type: Boolean,
			default: false
		},
		loading: {
			type: Boolean,
			default: false
		},
		open: {
			type: Boolean,
			default: false
		},
		maxLength: {
			type: Number,
			default: 100
		},
		syncValue: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			localValue: ''
		};
	},

	computed: {
		countCharacter() {
			const text = this.localValue || '';
			return `${text.length}/${this.maxLength}`;
		},
		freeTextClassName() {
			return {
				'free-text--loading': this.loading,
				'free-text--prevent-save': this.preventSave,
				'free-text--active': this.open
			};
		}
	},

	watch: {
		open(isOpen) {
			const body = document.body || document.querySelector('body');
			if (body) {
				if (isOpen) {
					this.autoFillLocalValueWith(this.value);
					body.classList.add('overflow-hidden');
				} else {
					this.resetLocalValue();
					body.classList.remove('overflow-hidden');
				}
			}
		}
	},

	methods: {
		closeTextInput() {
			this.$emit('update:open', false);
			this.$emit('close');
		},

		handleSaveInput() {
			if (!this.preventSave) {
				this.$emit('input', this.localValue);
				this.closeTextInput();
			}
			this.$emit('save', this.localValue);
		},

		handleInputEvent(value) {
			if (this.syncValue) {
				this.$emit('input', this.localValue);
			}
		},

		autoFillLocalValueWith(value) {
			this.localValue = value;
		},

		resetLocalValue() {
			this.localValue = '';
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/variables/theme';
@import 'Consultant/styles/mixins/_selector';
@import 'Sass/_variables.scss';
@import 'Sass/_function.scss';

.free-text-input {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 999;
	display: block;
	width: 100%;
	max-width: 480px;
	height: 100vh;
	background-color: #fff;
	transition: transform 0.2s linear;
	transform: translate(-50%, 100%);

	&.free-text--active {
		transform: translate(-50%, 0%);
	}

	.free-text__wrapper {
		padding: 0 20px;

		.free-text__header,
		.free-text__footer {
			display: flex;
			height: 56px;
			align-items: center;
		}

		.free-text__header {
			justify-content: space-between;
		}
	}

	.free-text__header {
		.button__close,
		.button__save {
			cursor: pointer;
			background: none;
			border: unset;
			outline: none;
		}

		.button__save {
			font-size: 14px;
			font-weight: 600;
			color: $mamikos-green;
			@include variant('.free-text--loading') {
				color: color(link, disabled);
				pointer-events: none;
			}
		}
	}
}
</style>

<style lang="scss">
.free-text-input {
	.free-text__input.input-textarea {
		.textarea__slot {
			height: calc(100vh - 112px);
		}

		.textarea__input {
			min-height: 100% !important;
			resize: none !important;
		}
	}

	.free-text__input {
		.textarea__slot::after {
			display: none !important;
		}
	}
}
</style>
