<template>
	<div class="consultant-input-field" :class="inputParentClassName">
		<label
			v-if="legend"
			class="consultant-input__legend"
			:for="`input-field-${_uid}`"
			>{{ legend }}</label
		>
		<div class="form-group" :class="{ 'has-error': hasError }">
			<input
				:id="`input-field-${_uid}`"
				v-model="inputData"
				v-validate="rules"
				v-bind="$attrs"
				class="form-control"
				:disabled="disabled"
				:readonly="readonly"
				:style="`border-radius: ${roundedConversion}`"
				:name="name || legend"
				:data-vv-name="name || legend"
				:data-vv-as="legend || name"
				@focus="handleInputOnFocus"
				@blur="handleInputOnBlur"
			/>
			<div v-if="hasAppendSlot" class="consultant-input__append">
				<slot name="append"></slot>
			</div>
		</div>
		<div v-show="isErrorMessageAppear" class="error__message">
			<p class="text-danger">{{ errorMessage }}</p>
		</div>
	</div>
</template>
<script>
import EventBus from 'Consultant/event-bus';
import { input } from 'Consultant/event-bus/eventNames';

export default {
	name: 'InputField',

	inheritAttrs: true,

	props: {
		value: {
			type: String,
			default: null
		},
		name: {
			type: String,
			default: ''
		},
		legend: {
			type: String,
			default: ''
		},
		rules: {
			type: String,
			default: ''
		},
		disabled: {
			type: Boolean,
			default: false
		},
		readonly: {
			type: Boolean,
			default: false
		},
		rounded: {
			type: [String, Number],
			default: 3
		},
		noRounded: {
			type: Boolean,
			default: false
		},
		mandatorySign: {
			type: Boolean,
			default: false
		},
		inputDelay: {
			type: [String, Number],
			default: 500
		}
	},

	data() {
		return {
			inputData: '',
			isFocus: false,
			timeout: null
		};
	},

	computed: {
		roundedConversion() {
			if (isFinite(this.rounded)) {
				return String(this.rounded) + 'px';
			} else if (/^(\d+(px|em|rem|%))$/.test(this.rounded)) {
				return this.rounded;
			} else {
				return '3px';
			}
		},
		isDirty() {
			return !!this.inputData;
		},
		inputStyleClassName() {
			if (this.hasAttr('solo')) {
				return 'is--solo';
			} else if (this.hasAttr('regular')) {
				return this.hasAttr('placeholder')
					? 'is--regular-placeholder'
					: 'is--regular';
			} else {
				return 'is--bordered';
			}
		},
		inputParentClassName() {
			const className = {
				'is--focus': this.isFocus,
				'is--dirty': this.isDirty,
				'is--readonly': this.readonly,
				'is--disabled': this.disabled,
				'is--invalid': this.hasError,
				'no-rounded': this.noRoundedInput,
				'has-append': this.hasAppendSlot,
				'has-mandatory-sign': this.mandatorySign
			};

			className[this.inputStyleClassName] = true;
			return className;
		},
		hasAppendSlot() {
			return !!this.$slots.append;
		},
		hasRules() {
			return !!this.rules;
		},
		hasError() {
			return this.errors.has(this.name || this.legend);
		},
		errorMessage() {
			return this.errors.first(this.name || this.legend);
		},
		isErrorMessageAppear() {
			return this.hasRules && this.hasError;
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				if (value !== this.inputData && !this.hasError) {
					this.inputData = value;
				}
			}
		},
		inputData: {
			immediate: false,
			handler(value) {
				if (this.timeout) {
					clearTimeout(this.timeout);
				}
				this.timeout = setTimeout(() => {
					this.handleValueChange(value);
				}, +this.inputDelay);
			}
		},
		errorMessage: {
			immediate: false,
			handler(message) {
				if (message) {
					this.sendValueToParent('');
				}
			}
		}
	},

	created() {
		this.listenResetError();
	},

	methods: {
		hasAttr(attr) {
			// eslint-disable-next-line no-prototype-builtins
			return this.$attrs.hasOwnProperty(attr);
		},

		handleInputOnBlur(event) {
			this.isFocus = false;
			this.inputData = event.target.value;
		},

		handleInputOnFocus(event) {
			this.isFocus = true;
			this.$emit('focus', event);
		},

		sendValueToParent(value) {
			this.$emit('input', value);
		},

		async handleValueChange(value) {
			if (!this.hasRules) {
				this.inputData = value;
				this.sendValueToParent(value);
			} else {
				try {
					const isValid = await this.$validator.validate(
						this.name || this.legend
					);

					if (isValid) {
						this.sendValueToParent(value);
					} else {
						this.sendValueToParent('');
					}
				} catch (error) {
					bugsnagClient.notify(error);
				}
			}
		},

		listenResetError() {
			EventBus.$on(input.resetErrors, this.resetError);
		},

		resetError() {
			this.$nextTick(() => {
				this.errors.clear();
				this.$nextTick(() => {
					this.$validator.reset();
				});
			});
		}
	}
};
</script>
<style lang="scss">
@import '../styles/mixins/selector';
$green: #53ab57;

.consultant-input-field {
	.consultant-input__legend {
		@include variant('.has-mandatory-sign') {
			&::after {
				display: inline-block;
				margin-left: 3px;
				font-size: 15px;
				color: rgb(255, 0, 0);
				content: '*';

				@include variant('.is--regular') {
					display: none;
					@include variant('.is--dirty', '.is--focus') {
						display: inline-block;
					}
				}
			}
		}
	}

	.form-group {
		$form-group: &;
		margin-bottom: 5px;

		.form-control {
			// reset border and box-shadow
			@include variant(
				'.is--solo',
				'.is--regular',
				'.is--regular-placeholder'
			) {
				&,
				&:hover,
				&:focus {
					border: unset;
					box-shadow: unset;
				}
			}

			@include variant('.has-append') {
				padding-right: 50px;
			}

			@include variant('.is--invalid') {
				&,
				&:focus {
					border-color: #a94442 !important;
				}
			}

			@include variant('.is--regular', '.is--regular-placeholder') {
				background-color: transparent;

				// underline
				@include parent {
					position: relative;

					&::after {
						content: '';
						display: inline-block;
						height: 2px;
						background-color: #ccc;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						transition: background-color 0.3s;
						border-radius: 2px;

						@include variant('.is--focus') {
							background-color: #53ab57;
							@include variant('.is--invalid') {
								background-color: #a94442;
							}
						}
					}
				}
			}

			@include variant('.is--regular') {
				&::placeholder {
					display: none;
				}

				@include parent(2) {
					&:not(.is--dirty) {
						.consultant-input__legend {
							font-size: 13px;
							font-weight: 500;
							color: #aaa;
							transform: translate(10px, 37px);
							transition: all 0.3s;

							@include variant('.is--focus') {
								transform: translate(0px, 0px);
								font-size: 14px;
								font-weight: 600;
								color: #383746;
								transition: all 0.3s;
							}
						}
					}
				}
			}
			/* ---- end of input style --- */
		}

		.consultant-input__append {
			@include variant('.has-append') {
				@include parent {
					position: relative;
				}

				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
</style>
