<template>
	<div class="input-textarea" :class="textareaClassName">
		<div class="textarea__wrapper">
			<div class="textarea__body">
				<label v-if="label" class="textarea__label">
					{{ label }}
				</label>
				<div class="textarea__slot">
					<textarea
						ref="textarea"
						:value="localValue"
						:rows="rows"
						:placeholder="placeholder"
						:maxlength="maxLength"
						class="textarea__input"
						@focus="handleFocus"
						@blur="handleBlur"
						@input="handleInput"
					></textarea>
				</div>
			</div>
			<div v-if="hasFooter" class="textarea__footer">
				<div v-if="counter" class="textarea__counter">
					<span class="counter-character">
						{{ `${countCharacter}/${maxLength}` }}
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'InputTextarea',

	props: {
		value: {
			type: [String, null],
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		readonly: {
			type: Boolean,
			default: false
		},
		disabled: {
			type: Boolean,
			default: false
		},
		autoGrow: {
			type: Boolean,
			default: false
		},
		counter: {
			type: Boolean,
			default: false
		},
		maxLength: {
			type: Number,
			default: 5
		},
		rows: {
			type: Number,
			default: 1
		},
		outlined: Boolean,
		hideResizer: Boolean
	},

	data() {
		return {
			localValue: '',
			focused: false
		};
	},

	computed: {
		textareaClassName() {
			return {
				'textarea--focused': this.focused,
				'textarea--dirty': !!this.localValue,
				'textarea--readonly': this.readonly,
				'textarea--disabled': this.disabled,
				'textarea--auto-grow': this.autoGrow,
				'textarea--has-counter': this.counter,
				'textarea--outlined': this.outlined,
				'textarea--hide-resizer': this.hideResizer
			};
		},
		hasFooter() {
			return this.counter;
		},
		countCharacter() {
			return this.localValue.length;
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(parentValue) {
				if (parentValue !== this.localValue) {
					this.localValue = parentValue || '';
					this.$nextTick(() => {
						this.handleAutoGrowTextarea();
					});
				}
			}
		}
	},

	methods: {
		handleFocus(event) {
			this.focused = true;
			this.$emit('focus', event);
		},

		handleBlur(event) {
			this.focused = false;
			this.$emit('blur', event);
		},

		handleInput(event) {
			this.handleAutoGrowTextarea();
			const value = event.target.value;
			this.localValue = value;
			this.$emit('input', value);
		},

		handleAutoGrowTextarea() {
			if (this.autoGrow) {
				const textarea = this.$refs.textarea;
				// Reset field height
				textarea.style.height = 'inherit';
				// set height
				textarea.style.height = `${textarea.scrollHeight}px`;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';
@import 'Consultant/styles/variables/theme.scss';

.input-textarea {
	.textarea__body {
		.textarea__label {
			display: block;
			margin-bottom: 5px;
		}

		.textarea__slot {
			position: relative;
			&::after {
				position: absolute;
				right: 0;
				bottom: 5px;
				left: 0;
				display: block;
				height: 2px;
				content: '';
				background-color: #ddd;
				border-radius: 2px;

				/* stylelint-disable-next-line max-nesting-depth */
				@include variant('.textarea--focused') {
					background-color: $mamikos-green;
				}
			}

			@include variant('.textarea--outlined') {
				/* stylelint-disable-next-line */
				&::after {
					display: none;
				}

				/* stylelint-disable-next-line */
				textarea {
					border: 1px solid #ccc;
					border-radius: 3px;

					/* stylelint-disable-next-line max-nesting-depth */
					@include variant('.textarea--focused') {
						border-color: $mamikos-green;
					}
				}
			}
		}

		.textarea__input {
			width: 100%;
			min-width: 100%;
			min-height: 42px;
			max-height: 50vh;
			padding: 10px;
			line-height: 1.75;
			resize: vertical;
			border: unset;
			outline: none;

			@include variant('.textarea--auto-grow') {
				overflow: hidden;
			}

			@include variant('.textarea--hide-resizer') {
				/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
				resize: none;
			}
		}
	}
	.textarea__counter {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.counter-character {
			font-size: 12px;
			color: #727272;
		}
	}
}
</style>
