<template>
	<div class="input-currency" :class="inputClassName">
		<label :for="label" class="input__label">{{ label }}</label>
		<vue-numeric
			:id="label"
			v-model="currency"
			v-bind="$attrs"
			class="form-control"
			@input="sendToParent"
			@focus="handleInputFocus"
			@blur="handleInputBlur"
		/>
	</div>
</template>
<script>
import VueNumeric from 'vue-numeric';

export default {
	name: 'InputCurrency',

	components: {
		VueNumeric
	},

	inheritAttrs: true,

	props: {
		value: {},
		label: {
			type: String,
			default: ''
		},
		mandatorySign: {
			type: Boolean,
			default: false
		},
		outlined: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			currency: '',
			isFocus: false,
			inputThemeAllowed: ['regular', 'outlined']
		};
	},

	computed: {
		inputClassName() {
			return {
				'is--focus': this.isFocus,
				'has-mandatory-sign': this.mandatorySign,
				['input--' + this.currentTheme]: true
			};
		},
		currentTheme() {
			let theme = 'regular';
			for (const themeAllowed of this.inputThemeAllowed) {
				if (this[themeAllowed]) {
					theme = themeAllowed;
				}
			}
			return theme;
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				this.currency = value;
			}
		}
	},

	methods: {
		sendToParent(data) {
			this.$emit('input', data);
		},

		handleInputFocus() {
			this.isFocus = true;
		},

		handleInputBlur() {
			this.isFocus = false;
		}
	}
};
</script>
<style lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.input-currency {
	position: relative;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: inline-block;
		height: 2px;
		content: '';
		background-color: #ccc;
		border-radius: 2px;
		transition: background-color 0.3s;

		@include variant('.input--outlined') {
			display: none;
		}
	}

	&.is--focus {
		&::after {
			background-color: #53ab57;
		}
	}

	.input__label {
		@include variant('.has-mandatory-sign') {
			&::after {
				display: inline-block;
				margin-left: 3px;
				font-size: 15px;
				color: rgb(255, 0, 0);
				content: '*';
			}
		}
	}

	/* stylelint-disable-next-line */
	input.form-control {
		@include variant('.input--regular') {
			border: unset;
			box-shadow: unset;
		}
	}
}
</style>
