<template>
	<div class="consultant-snackbar" :class="classes">
		<div class="consultant-snackbar__bg" @click="handleClickOutside"></div>
		<div class="consultant-snackbar__body container-for-mobile">
			<slot name="snackbar-header">
				<div v-if="hasCloseButton" class="consultant-snackbar__close">
					<img
						v-lazy="'/general/img/icons/ic_close-consultant_grey.svg'"
						alt="Icon close"
						@click="closeSnackbar"
					/>
				</div>
			</slot>

			<div class="consultant-snackbar__content container-for-mobile">
				<slot></slot>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'Snackbar',

	props: {
		value: {
			type: Boolean,
			required: true
		},
		contractList: {
			type: Boolean,
			default: false
		},
		resetPadding: Boolean,
		showButtonClose: Boolean,
		fullscreen: Boolean
	},

	data() {
		return {
			isSnackbarOpened: false
		};
	},

	computed: {
		hasCloseButton() {
			return this.showButtonClose;
		},
		classes() {
			return {
				'consultant-snackbar--open': this.isSnackbarOpened,
				'no-btn-close': !this.hasCloseButton,
				'ct-snackbar--reset-padding': this.resetPadding,
				'ct-snackbar--fullscreen': this.fullscreen
			};
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(val) {
				this.isSnackbarOpened = val;
			}
		},
		isSnackbarOpened: function(isOpen) {
			if (isOpen) {
				document.body.style.overflowY = 'hidden';
			} else {
				document.body.style.overflowY = null;
			}
		}
	},

	beforeDestroy() {
		document.body.style.overflowY = null;
	},

	methods: {
		closeSnackbar() {
			this.$emit('input', false);
		},

		handleClickOutside() {
			if (!this.hasCloseButton) {
				this.closeSnackbar();
			}
		},

		handleClickResetFilter() {
			this.$emit('input', false);
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.consultant-snackbar {
	.consultant-snackbar__bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 8888;
		display: none;
		background-color: rgba(0, 0, 0, 0.58);
		opacity: 0;
	}

	.consultant-snackbar__body {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		min-height: 158px;
		background: #fcfcfc;
		border-radius: 20px 20px 0 0;
		transition: transform 0.3s ease-in-out;
		transform: translateY(200%);

		@include variant('.ct-snackbar--reset-padding') {
			padding: unset;
		}

		@include variant('.ct-snackbar--fullscreen') {
			top: 0;
			border-radius: 0;
		}

		// close btn
		.consultant-snackbar__close {
			padding: 10px 20px;
			text-align: right;
			/* stylelint-disable-next-line */
			img {
				cursor: pointer;
			}
		}

		.consultant-snackbar__content {
			padding: 0 20px;

			@include variant('.ct-snackbar--reset-padding') {
				padding: unset;
			}

			@include variant('.ct-snackbar--fullscreen') {
				min-height: 100vh;
			}
		}
	}

	// no btn close
	&.no-btn-close {
		.consultant-snackbar__body {
			.consultant-snackbar__content {
				padding: 20px;

				/* stylelint-disable-next-line */
				@include variant('.ct-snackbar--reset-padding') {
					padding: unset;
				}
			}
		}
	}

	// snackbar opened
	&.consultant-snackbar--open {
		.consultant-snackbar__body {
			transition: transform 0.3s ease-in;
			transform: translateY(0%);
		}
		.consultant-snackbar__bg {
			display: block;
			animation-name: FadeIn;
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
			animation-timing-function: linear;
			animation-delay: 0.3s;
		}
	}
}
@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// ---------------------------------------------------
// CONTRACT LIST FILTER HEADER
.contract-list-filter-header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid #f4f4f4;
	/* stylelint-disable-next-line */
	div {
		flex: 0 0 auto;
	}
	.title {
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
	}
	/* stylelint-disable-next-line */
	a {
		font-size: 12px;
		line-height: 18px;
	}
}
</style>
