<template>
	<div id="bookingContainer">
		<booking-navbar :steps="conditionalStep" @back="closeBooking(true)" />

		<div class="booking-content container">
			<div class="booking-wrapper col-xs-12">
				<div class="booking-steps-container col-xs-12 col-sm-6 col-md-7">
					<booking-breadcrumb
						v-if="showBookingBreadcrumbs"
						:steps="steps"
						class="hidden-xs hidden-sm"
						@back="closeBooking(true)"
					/>

					<booking-title-form :steps="conditionalStep" />

					<keep-alive>
						<router-view
							class="booking-steps__router"
							:class="routerContainerClass"
						></router-view>
					</keep-alive>

					<booking-action-buttons
						v-if="showBookingButtons"
						class="booking-steps__button"
					/>
				</div>

				<div class="booking-summary-container hidden-xs col-sm-6 col-md-5">
					<component :is="bookingSummary" />
				</div>
			</div>
		</div>

		<booking-modal-cancel
			v-if="isShowBookingRequest"
			:show-modal="showModalCancelBooking"
			:modal-type="'booking'"
			@close="closeBooking(false)"
			@ok="submitDraftBooking"
		></booking-modal-cancel>

		<booking-success :show="showBookingSuccess"></booking-success>

		<booking-alert
			v-if="showAlert"
			v-model="showAlert.show"
			:message="showAlert.message"
		></booking-alert>

		<booking-modal-terms
			class="booking-modal-terms"
			:show-modal="isShowModalTerms"
			@close="showModalTerms(false)"
		/>
		<div v-if="submittingBooking" class="transparent-backdrop"></div>

		<booking-loader-submit-draft
			v-if="isShowBookingRequest"
			:show-modal="isSubmittingDraft"
		/>

		<flash-sale-terminated-modal
			:is-modal-open="isShowFlashSaleTerminatedModal"
		/>
	</div>
</template>

<script>
/* eslint-disable camelcase */
import _get from 'lodash/get';
import BookingAlert from './BookingAlert';
import BookingActionButtons from './BookingActionButtons';
import BookingBreadcrumb from './BookingBreadcrumb';
import BookingModalCancel from './BookingModalCancel';
import BookingSuccess from './BookingSuccess';
import BookingNavbar from './BookingNavbar';
import BookingModalTerms from './BookingModalTerms';
import BookingLoaderSubmitDraft from './BookingLoaderSubmitDraft';
import BookingTitleForm from './BookingTitleForm';
import FlashSaleTerminatedModal from '../../flash-sale/FlashSaleTerminatedModal';

const BookingSummary = () => import('./booking-summary/BookingSummary');

export default {
	components: {
		BookingActionButtons,
		BookingBreadcrumb,
		BookingModalCancel,
		BookingNavbar,
		BookingSuccess,
		BookingAlert,
		BookingModalTerms,
		BookingLoaderSubmitDraft,
		BookingTitleForm,
		FlashSaleTerminatedModal
	},

	data() {
		return {
			steps: [
				{
					label: 'Harga & Masa Sewa',
					mobileLabel: 'Pengajuan Sewa',
					routeName: 'booking-date',
					input: true
				},
				{
					label: 'Data Penyewa',
					mobileLabel: 'Pengajuan Sewa',
					routeName: 'tenant-info',
					input: true
				}
			],
			additionalStepsForMobile: [
				{
					mobileLabel: 'Ringkasan Pengajuan Sewa',
					routeName: 'booking-summary'
				}
			],
			isSubmittingDraft: false
		};
	},

	computed: {
		isLogin() {
			return this.$store.state.authCheck.all;
		},
		showModalCancelBooking: {
			set(value) {
				this.$store.commit('setShowModalCancelBooking', value);
			},
			get() {
				return this.$store.state.showModalCancelBooking;
			}
		},
		showAlert: {
			get() {
				return this.$store.state.showBookingAlert;
			},
			set(value) {
				this.$store.commit('setShowBookingAlert', value);
			}
		},
		submittingBooking() {
			return this.$store.state.submittingBooking;
		},
		showBookingSuccess() {
			return this.$store.state.showBookingSuccess;
		},
		isMobile() {
			return navigator.isMobile && window.innerWidth < 768;
		},
		bookingSummary() {
			return !this.isMobile ? BookingSummary : null;
		},
		detail() {
			return this.$store.state.detail;
		},
		bookingParams() {
			return this.$store.getters.bookingParams;
		},
		conditionalStep() {
			if (this.isMobile) {
				return [...this.steps, ...this.additionalStepsForMobile];
			}

			return this.steps;
		},
		uncompleteRentInfo() {
			return this.$store.getters.uncompleteRentInfo;
		},
		showBookingButtons() {
			return (
				this.$route.name !== 'booking-summary' &&
				this.$route.name !== 'id-verification' &&
				this.$route.name !== 'snap'
			);
		},
		showBookingBreadcrumbs() {
			return (
				this.$route.name !== 'id-verification' && this.$route.name !== 'snap'
			);
		},
		isShowModalTerms: {
			get() {
				return this.$store.state.isShowModalTerms;
			},
			set(value) {
				this.$store.commit('setShowModalTerms', value);
			}
		},
		routeIsChild() {
			return this.$route.meta && this.$route.meta.child;
		},
		routerContainerClass() {
			return {
				'booking-steps__router-child': this.routeIsChild
			};
		},
		roomSeq() {
			return this.$store.state.detail._id;
		},
		isShowBookingRequest() {
			return this.$store.state.showBookingRequestProcess;
		},
		isShowFlashSaleTerminatedModal() {
			return this.$store.state.isShowFlashSaleTerminatedModal;
		},
		isOverrideDraftCheckin() {
			return this.$store.state.isOverrideDraftCheckin;
		},
		isOverrideDraftRentCountType() {
			return this.$store.state.isOverrideDraftRentCountType;
		}
	},

	watch: {
		uncompleteRentInfo: {
			immediate: true,
			handler(value) {
				this.steps[1].disabled = value;
			}
		},
		isShowBookingRequest: {
			immediate: true,
			handler(show) {
				show && this.getDetailRoom();
			}
		}
	},

	created() {
		this.checkRouter();

		if (this.isLogin) {
			this.getUserProfile();
		}
	},

	methods: {
		showModalTerms(state) {
			this.isShowModalTerms = state;
		},
		checkRouter() {
			if (
				!this.$store.state.bookingRequestProcess &&
				this.$route.name !== 'booking-date' &&
				this.$route.path !== '/'
			) {
				this.$router.replace('/');
			}
		},
		getUserProfile() {
			axios
				.get('/user/profile')
				.then(response => {
					if (response.data.status) {
						this.$store.commit(
							'setIdVerifStatus',
							response.data.profile.is_verify_identity_card
						);
						this.$store.commit(
							'setEmailVerifStatus',
							response.data.profile.is_verify_email
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		closeBooking(state) {
			this.showModalCancelBooking = state;
		},
		getFlashSale() {
			this.openSwalLoading();
			axios
				.get('/flash-sale/running')
				.then(response => {
					const isStatusSuccess = _get(response, 'data.status', false);
					if (isStatusSuccess) {
						const flashSaleData = _get(response, 'data.data', {
							start: null,
							end: null
						});
						const { start, end } = flashSaleData;
						this.$store.commit('setFlashSale', {
							isRunning: !!start && !!end,
							start,
							end
						});
					} else {
						this.$store.dispatch('stopFlashSale');
					}
					this.closeSwalLoading();
				})
				.catch(error => {
					this.$store.dispatch('stopFlashSale');
					this.closeSwalLoading();
					bugsnagClient.notify(error);
				});
		},
		getDetailRoom() {
			this.openSwalLoading();
			axios
				.get(`/user/booking/detail-room/${this.roomSeq}`)
				.then(response => {
					this.closeSwalLoading();
					const status = _get(response, 'data.status', false);
					if (status) {
						const { room, draft } = response.data.data;
						this.$store.commit('setBookingRoom', room);
						this.initBookingRequestDate(draft);
						if (room.is_flash_sale) {
							this.getFlashSale();
						} else {
							this.$store.dispatch('stopFlashSale');
						}
					} else {
						this.onErrorGetDetailRoom(response.data.meta.message);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.closeSwalLoading();
					this.onErrorGetDetailRoom('Terjadi galat. Silakan coba lagi.');
				});
		},
		setInitialTenantInfo({
			name,
			phone_number,
			gender,
			job,
			work_place,
			description,
			introduction
		}) {
			const isExistJob = ['kuliah', 'kerja', 'lainnya'].indexOf(job) > -1;
			const assignedJob = isExistJob ? job : 'kuliah';
			const tenantWorkPlace =
				assignedJob === 'lainnya' ? description : work_place;

			this.$store.commit('setUserDataName', name);
			this.$store.commit('setUserDataPhone', phone_number);
			this.$store.commit('setUserDataGender', gender || null);
			this.$store.commit('setUserDataJob', assignedJob);
			this.$store.commit('setUserDataWorkPlace', tenantWorkPlace);
			this.$store.commit('setTenantDesc', introduction);
		},
		initBookingRequestDate(draft) {
			if (!draft) {
				return this.setInitialTenantInfo(this.$store.state.authData.all);
			}

			this.$store.commit('setUserDataIsMarriedStatus', draft.is_married);
			this.$store.commit('setUserDataTotalRenter', draft.total_rent_count);

			this.setInitialTenantInfo({
				job: draft.tenant_job,
				description: draft.tenant_description,
				work_place: draft.tenant_work_place,
				name: draft.tenant_name,
				phone_number: draft.tenant_phone,
				gender: draft.tenant_gender,
				introduction: draft.tenant_introduction
			});
			this.setBookingInfoDate(draft);

			this.$toasted.show('Lanjutkan Bookingmu di kos ini', {
				theme: 'toasted-primary',
				className: 'booking-toasted-default',
				containerClass: 'booking-toasted-container',
				position: 'bottom-left',
				duration: 3000
			});
		},
		setBookingInfoDate({ checkin, duration, rent_count_type }) {
			if (!this.isOverrideDraftRentCountType) {
				this.$store.state.params.rent_count_type = rent_count_type;
			}

			this.$nextTick(() => {
				if (!this.isOverrideDraftCheckin) {
					this.$store.commit('setCheckin', checkin || '');
				}
				this.$store.commit('setRentDuration', duration || 1);
			});
		},
		onErrorGetDetailRoom(text) {
			swal({
				title: '',
				type: 'error',
				text,
				confirmButtonColor: '#ff3860',
				allowOutsideClick: false
			}).then(result => {
				result && this.closeBookingRequest();
			});
		},
		closeBookingRequest() {
			this.$store.commit('setBookingRequestProcess', false);
			document.body.style.overflowY = 'scroll';
			this.$router.push('/');
		},
		submitDraftBooking() {
			this.closeBooking(false);
			this.isSubmittingDraft = true;
			const params = {
				...this.bookingParams,
				room_id: this.$store.state.bookingRoom.id
			};
			axios
				.post('/user/draft-booking', params)
				.then(response => {
					const { status, data } = response.data;
					if (status) {
						if (data.first_draft) {
							window.location.href = '/user/booking/draft';
						} else {
							this.isSubmittingDraft = false;
							this.terminateBooking();
							this.$toasted.show('Tersimpan sebagai Draft', {
								theme: 'toasted-primary',
								className: 'booking-toasted-default',
								containerClass: 'booking-toasted-container',
								position: 'bottom-left',
								duration: 5000,
								action: {
									text: 'LIHAT',
									href: '/user/booking/draft'
								}
							});
						}
					} else {
						this.isSubmittingDraft = false;
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.isSubmittingDraft = false;
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		terminateBooking() {
			this.closeBooking(false);
			setTimeout(() => {
				this.closeBookingRequest();
			}, 350);

			this.moengageEventTrack();
		},
		moengageEventTrack() {
			tracker('moe', [
				'[User] Booking - Cancel Process Request',
				{
					last_page: document.referrer ? document.referrer : null,
					property_type: 'kost',
					property_id: this.detail.seq ? this.detail.seq : null,
					property_city: this.detail.area_city ? this.detail.area_city : null,
					property_subdistrict: this.detail.area_subdistrict
						? this.detail.area_subdistrict
						: null,
					property_name: this.detail.room_title ? this.detail.room_title : null,
					property_monthly_price: this.detail.price_monthly
						? this.detail.price_monthly.toString()
						: null,
					tenant_name: this.bookingParams.contact_name
						? this.bookingParams.contact_name
						: null,
					tenant_job: this.bookingParams.contact_job
						? this.bookingParams.contact_job
						: null,
					booking_start_time: this.bookingParams.checkin
						? this.bookingParams.checkin
						: null,
					booking_periode: this.bookingParams.duration
						? this.bookingParams.duration
						: null
				}
			]);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.booking-toasted-container {
	.toasted.toasted-primary.booking-toasted-default {
		min-width: 376px;
		max-width: 100%;
		height: 48px;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		background-color: #242424;
		border-radius: 4px;

		.action {
			font-size: 1em;
			color: #ec4a0c;
		}

		@media (max-width: 767px) {
			width: calc(100% - 32px);
			margin: 0 auto;
			font-size: 14px;
			line-height: 21px;
		}
	}

	&.toasted-container.bottom-left {
		@media (max-width: 767px) {
			bottom: 80px;
		}
	}
}

#bookingContainer {
	.--orange {
		color: #ec4a0c;
	}

	.btn {
		border-radius: 4px;

		@media (min-width: 768px) {
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.btn-primary {
		&.--disabled {
			background-color: #f4f4f4;
			border-color: #f4f4f4;
			color: #dbdbdb;
			cursor: not-allowed;
			pointer-events: none;

			&:hover,
			&:focus,
			&:active,
			&:active:hover,
			&:active:focus {
				background-color: #f4f4f4;
				border-color: #f4f4f4;
			}
		}
	}

	.bordered-form {
		width: 100%;
		height: 48px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		box-sizing: border-box;
		padding: 15px;
		font-size: 16px;
		line-height: 24px;

		&:focus {
			outline: none;
			border: 1px solid #1baa56;
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
/* stylelint-disable */
#bookingContainer {
	position: fixed;
	z-index: 2010;
	background-color: #fff;
	top: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;

	.transparent-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 1060;
		cursor: default;
	}

	&.--hide {
		visibility: hidden;
		opacity: 0;
	}

	@media (min-width: 768px) {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.booking-content {
		margin-top: 100px;
		padding: 0;

		@media (max-width: 767px) {
			margin: 54px 0 0 0;
			padding: 0;
		}

		.booking-wrapper {
			height: 100%;
			min-height: calc(100vh - 56px);
			background-color: #fff;

			@media (min-width: 768px) {
				display: flex;
				justify-content: space-between;
			}

			@media (max-width: 767px) {
				padding: 0;
			}

			.booking-steps-container {
				height: 100%;
				background-color: #fff;

				@media (min-width: 768px) {
					position: relative;
					height: 100%;
					margin-bottom: 25px;

					.booking-steps__router {
						&-child {
							max-height: calc(100vh - 128px);
						}
					}

					.booking-steps__button {
						margin-top: 25px;
					}
				}

				@media (max-width: 767px) {
					height: calc(100vh - 55px);
					padding-bottom: 120px;
					overflow-y: auto;
					overflow-x: hidden;
				}
			}
		}
	}
}
/* stylelint-enable */
</style>
