<template>
	<div id="bookingActionButtons" class="action-buttons-container">
		<button
			type="button"
			class="btn btn-primary track_next_booking"
			:class="{
				'--disabled': disabledNext,
				'--hide-desktop': $route.name === 'tenant-info'
			}"
			@click="goNextStep"
		>
			<span class="hidden-xs track_next_booking">Selanjutnya</span>
			<span class="visible-xs track_next_booking">Simpan & Lanjutkan</span>
		</button>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { propertyRentTypes } from 'Js/@utils/kostFilter';

export default {
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		},
		authData() {
			return this.$store.state.authData;
		},
		detailKost() {
			return this.$store.state.detail;
		},
		kostLevelInfoName() {
			return _get(this.detailKost, 'level_info.name', null);
		},
		bookingParams() {
			return this.$store.state.params;
		},
		checkinDate() {
			return this.bookingParams.checkin.replace(/-/g, '/').replace('T', ' ');
		},
		formError() {
			return this.$store.state.formError;
		},
		validInputForm() {
			return !this.formError.name && !this.formError.phone_number;
		},
		nextRouteDefault() {
			return this.bookingParams.checkin && !!this.bookingParams.duration;
		},
		nextRouteTenantInfo() {
			return (
				this.bookingParams.contact_name &&
				this.bookingParams.contact_phone &&
				this.validInputForm
			);
		},
		disabledNext() {
			if (this.$route.name === 'booking-date') {
				return !this.nextRouteDefault;
			} else if (this.$route.name === 'tenant-info') {
				return !this.nextRouteTenantInfo;
			}

			return false;
		},
		idVerifStatus() {
			return (
				this.$store.state.extras.idVerifStatus === 'waiting' ||
				this.$store.state.extras.idVerifStatus === 'verified'
			);
		},
		emailVerifStatus() {
			return this.$store.state.extras.emailVerifStatus;
		}
	},

	methods: {
		goNextStep() {
			if (this.$route.name === 'booking-date') {
				this.$router.push('tenant-info');
				this.trackInputDuration();
			} else {
				this.$router.push('booking-summary');
				this.trackInputTenantInfo();
			}
		},
		trackInputDuration() {
			tracker('moe', [
				'[User] Booking Date and Duration Submitted',
				{
					user_id: _get(this.authData, 'all.id', null),
					interface: this.isMobile ? 'mobile' : 'desktop',
					property_name: _get(this.detailKost, 'room_title', null),
					property_type: 'kost',
					property_id: _get(this.detailKost, 'seq', null),
					property_city: _get(this.detailKost, 'area_city', null),
					property_subdistrict: _get(this.detailKost, 'area_subdistrict', null),
					booking_checkin_time: new Date(this.checkinDate),
					booking_periode: _get(this.bookingParams, 'duration', 0),
					property_rent_type:
						propertyRentTypes[
							_get(this.bookingParams, 'rent_count_type', 'monthly')
						],
					tenant_gender:
						_get(this.authData, 'all.gender') === 'female'
							? 'Perempuan'
							: 'Laki-Laki',
					goldplus_status: this.kostLevelInfoName,
					is_user_testing: _get(this.$store, 'state.isCheckinDateFirst', false)
				}
			]);
		},
		trackInputTenantInfo() {
			const birthDate = this.authData.all.birthday
				.replace(/-/g, '/')
				.replace('T', ' ');

			tracker('moe', [
				'[User] Booking Personal Information Submitted',
				{
					user_id: _get(this.authData, 'all.id', null),
					interface: this.isMobile ? 'mobile' : 'desktop',
					property_name: _get(this.detailKost, 'room_title', null),
					property_type: 'kost',
					property_id: _get(this.detailKost, 'seq', null),
					property_city: _get(this.detailKost, 'area_city', null),
					property_subdistrict: _get(this.detailKost, 'area_subdistrict', null),
					booking_checkin_time: new Date(this.checkinDate),
					booking_periode: _get(this.bookingParams, 'duration', 0),
					property_rent_type:
						propertyRentTypes[
							_get(this.bookingParams, 'rent_count_type', 'monthly')
						],
					tenant_gender:
						_get(this.bookingParams, 'contact_gender') === 'female'
							? 'Perempuan'
							: 'Laki-Laki',
					tenant_work_place: _get(this.bookingParams, 'contact_work_place', ''),
					tenant_job: _get(this.bookingParams, 'contact_job', null),
					tenant_name: _get(this.bookingParams, 'contact_name', null),
					tenant_phone_number: _get(this.bookingParams, 'contact_phone', null),
					user_email: _get(this.authData, 'all.email', null),
					total_renter: _get(this.bookingParams, 'total_renter', 0),
					tenant_birthday: new Date(birthDate),
					tenant_marital_status: _get(
						this.authData,
						'all.marital_status',
						'Belum Kawin'
					),
					tenant_city: _get(this.authData, 'all.city', null),
					tenant_phone_additional: _get(
						this.authData,
						'all.phone_number_additional',
						''
					),
					is_verify_phone_number:
						_get(this.authData, 'all.is_verify') === 1 ? 'true' : 'false',
					is_verify_email: this.emailVerifStatus,
					is_verify_identity_card: this.idVerifStatus,
					is_user_testing: _get(this.$store, 'state.isCheckinDateFirst', false)
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.action-buttons-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: #fff;

	@media (max-width: 767px) {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 15px;
		border-top: 1px solid #e8e8e8;
	}

	button {
		width: 156px;
		font-weight: bold;
		letter-spacing: 0.75px;
		height: 48px;

		&:disabled {
			cursor: default;
			pointer-events: none;
			border: none;
			background-color: #f4f4f4;
			color: #dbdbdb;
		}

		&.--hide-desktop {
			@media (min-width: 768px) {
				display: none !important;
			}
		}

		@media (max-width: 767px) {
			width: 100% !important;
		}

		img {
			transform: rotate(180deg);
			margin-left: 1.5rem;

			@media (max-width: 767px) {
				float: right;
				margin: 4px 0 0 0;
			}
		}
	}

	.btn-danger {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
</style>
