<template>
	<modal
		id="bookingModalTerms"
		effect="fade"
		:value="showModal"
		:small="false"
		@closed="closeModal"
		@cancel="closeModal"
	>
		<div slot="modal-header" class="modal-header-close">
			<span class="close-btn" @click="closeModal">&times;</span>
		</div>
		<div class="booking-terms-container">
			<div class="wrapper-term">
				<p class="h1">Syarat dan Ketentuan Bisa Booking</p>
				<p>
					Syarat dan Ketentuan Penggunaan Sistem Manajemen Properti Mamikos,
					Sistem Booking, dan Waiting List untuk Pemilik/Kost dan User/Anak Kost
				</p>

				<div class="textarea-term">
					<p class="h1">
						<b>Pasal 1: Definisi/Terms</b>
					</p>

					<ul>
						<li>
							<b>Mamikos</b>&nbsp;adalah aplikasi pencari kost yang
							menghubungkan antara User pencari kost dengan pemilik kost
							tersedia di Web dan aplikasi.
						</li>
						<li>
							<b>Sistem Manajemen Properti Mamikos</b>&nbsp;adalah sistem
							manajemen properti yang dibuat oleh Mamikos dengan fungsi meliputi
							manajemen listing properti terhubung di aplikasi dan web mamikos,
							pengelolaan user yang kontak Mamikos, pengelolaan booking, antrian
							dan pengelolaan tagihan serta manajemen laporan keuangan.
						</li>
						<li>
							<b>Pemilik Kost</b>&nbsp;adalah dalam hal ini pemilik kost yang
							Namanya tertera di surat kepemilikan properti sebagai pemilik kost
							atau pengelola kost yang memiliki hak pengelolaan atau kuasa untuk
							mengelola properti kost yang didaftarkan dan bisa dibuktikan
							secara legal melalui surat.
						</li>
						<li>
							<b>User</b>&nbsp;adalah penyewa kost, anak kost yang menyewa kamar
							kepada Pemilik kost dan melakukan transaksi booking dan bayar kost
							bulanan sesuai kontrak yang tercantum di Mamikos.&nbsp;
						</li>
						<li>
							<b>Properti&nbsp;atau&nbsp;Kost&nbsp;</b>adalah bangunan kost
							milik pemilik yang kamarnya disewakan kepada User.&nbsp;
						</li>
					</ul>

					<ul>
						<li>
							<b>Kontrak</b>&nbsp;adalah perjanjian sewa menyewa yang terjadi
							antara Pemilik kost dan user yang dikelola lewat sistem manajemen
							properti Mamikos dari Mamikos dimana dalam kontrak tersebut
							tertera jangka waktu kontrak, jadwal pembayaran nilai kontrak dan
							nominal tagihan setiap jadwal pembayaran.
						</li>
						<li>
							<b>Jangka Waktu Kontrak</b>&nbsp;mengandung informasi tanggal
							kontrak dimulai hingga tanggal kontrak selesai.
						</li>
						<li>
							<b>Jadwal Pembayaran</b>&nbsp;adalah tanggal-tanggal dimana user
							memiliki kewajiban membayar tagihan pembayaran kos dan biaya lain
							yang tertera dalam kontrak.
						</li>
						<li>
							<b>Nilai Kontrak</b>&nbsp;adalah total nilai perjanjian sewa
							selama jangka waktu kontrak.
						</li>
						<li>
							<b>Nominal Tagihan</b>&nbsp;adalah nilai yang harus dibayarkan
							oleh user untuk setiap tagihan.
						</li>
						<li>
							<b>Pengingat Tagihan</b>&nbsp;adalah fitur yang disediakan oleh
							sistem manajemen properti Mamikos oleh mamikos untuk secara
							otomatis mengingatkan pembayaran user.
						</li>
						<li>
							<b>Booking</b>&nbsp;adalah fasilitas untuk bisa memesan kamar
							secara langsung dari aplikasi yang bisa diaktifkan oleh Pemilik
							Kost lewat sistem manajemen properti Mamikos oleh Mamikos untuk
							User, adapun pengelolaannya juga bisa dilakukan lewat Mamikos oleh
							Mamikos.
						</li>
						<li>
							<b>Tanggal Check-In</b>&nbsp;adalah tanggal anak kost mulai
							menghuni kost.
						</li>
						<li>
							<b>Tanggal Check-Out</b>&nbsp;adalah tanggal anak kost harus
							keluar kost karena masa sewa kost selesai.
						</li>
					</ul>

					<ul>
						<li>
							<b>Antri/Waiting List</b>&nbsp;adalah fasilitas untuk bisa memesan
							kamar ketika kamar penuh secara langsung dari aplikasi yang bisa
							diaktifkan oleh Pemilik Kost lewat sistem manajemen properti
							Mamikos oleh Mamikos untuk User, adapun pengelolaannya juga bisa
							dilakukan lewat Mamikos oleh Mamikos.
						</li>
						<li>
							<b>Harga</b>&nbsp;disini merujuk pada harga sewa kamar dengan
							jangka waktu tertentu dari harian, mingguan, bulanan, tahunan yang
							dapat disetting sendiri oleh Pemilik Kost.
						</li>
						<li>
							<b
								>Bayar Penuh&nbsp;adalah kondisi dimana transaksi booking atau
								sewa kamar kost diatur oleh pemilik wajib dibayar sepenuhnya
								dalam 1 (satu) tagihan.&nbsp;</b
							>
						</li>
						<li>
							<b>DP/Down Payment/Uang Muka&nbsp;</b>adalah kondisi dimana
							transaksi booking atau sewa kamar kost diatur oleh pemilik untuk
							dibagi dua menjadi DP/Down Payment/Uang Muka dan Pelunasan.
							DP/Down Payment/Uang Muka adalah transaksi pembayaran pertamanya.
						</li>
						<li>
							<b>Pelunasan&nbsp;</b>adalah kondisi dimana transaksi booking atau
							sewa kamar kost diatur oleh pemilik untuk dibagi dua menjadi
							DP/Down Payment/Uang Muka dan Pelunasan. DP/Down Payment/Uang Muka
							adalah transaksi pembayaran keduanya.
						</li>
						<li>
							<b>Deposit</b>&nbsp;adalah uang yang dijaminkan oleh user ketika
							menyewa kamar kepada Pemilik Kost yang bisa ditagihkan , dikelola,
							disimpan, kemudian dikembalikan secara otomatis pada saat jangka
							waktu kontrak habis lewat sistem manajemen properti Mamikos.
						</li>
						<li>
							<b>Biaya Tambahan Pro-Rata</b>&nbsp;adalah biaya tambahan ketika
							User tidak masuk di tanggal awal/akhir bulan namun tagihan
							berikutnya dihitung setiap tanggal awal/akhir bulan yang bisa
							disetting oleh Pemilik Kost dan ditagihkan sekaligus lewat sistem
							manajemen properti Mamikos.
						</li>
						<li>
							<b>Biaya Tambahan Per Bulan</b>&nbsp;adalah biaya tambahan atas
							layanan tambahan yang digunakan user diluar standar sewa kamar
							yang tersedia misalnya tambahan sewa parkir , laundry dll yang
							secara rutin ditagihkan perbulan yang bisa disetting oleh Pemilik
							Kost dan ditagihkan sekaligus lewat sistem manajemen properti
							Mamikos.
						</li>
						<li>
							<b>Biaya Tambahan Insidental</b>&nbsp;adalah biaya tambahan atas
							layanan tambahan yang digunakan user diluar standar sewa kamar
							yang tersedia misalnya tambahan ada teman menginap beberapa hari
							yang tidak secara rutin ditagihkan perbulan yang bisa disetting
							oleh Pemilik Kost dan ditagihkan sekaligus lewat sistem manajemen
							properti Mamikos.
						</li>
						<li>
							<b>Bank</b>&nbsp;adalah badan hukum yang bergerak di bidang
							perbankan dan didirikan berdasarkan hukum Indonesia, yang dalam
							hal ini memiliki fungsi sebagai penyedia jasa sarana Layanan
							Pembayaran.
						</li>
						<li>
							<b>Biaya Transaksi</b>&nbsp;adalah biaya yang dikenakan oleh
							Sistem Manajemen Properti kepada Pemilik Kost untuk setiap
							Transaksi yang berhasil dilaporkan.
						</li>
						<li>
							<b>Hari Kerja</b>&nbsp;adalah hari selain Sabtu, Minggu dan hari
							libur nasional, di mana bank-bank di Indonesia buka dan
							operasional untuk kegiatan sehari-hari.
						</li>
						<li>
							<b>Layanan Pembayaran</b>&nbsp;adalah jenis-jenis metode
							pembayaran Transaksi Internet yang tersedia di Sistem Manajemen
							Properti Mamikos.
						</li>
						<li>
							<b>Service Provider</b>&nbsp;adalah penyedia jasa metode
							pembayaran selain Bank, yang memiliki kerjasama dan telah
							terhubung dengan Sistem manajemen properti.
						</li>
						<li>
							<b>Payment Gateway</b>&nbsp;adalah pihak penyelenggara sistem
							pembayaran yang dimana Pihak Pertama bekerjasama dalam rangka
							memberikan layanan metode pembayaran ke sistem manajemen properti.
						</li>
						<li>
							<b>Transaksi</b>&nbsp;adalah transaksi melalui media elektronik
							maupun manual yang dilakukan oleh User yang dilaporkan secara
							otomatis maupun manual dikonfirmasi oleh Pemilik melalui sistem
							manajemen properti Mamikos.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 2: Proses Pendaftaran dan Persyaratan Pemilik Kost</b>
					</p>

					<ul>
						<li>
							Transaksi hanya dapat dilakukan melalui sistem manajemen properti
							Mamikos.
						</li>
						<li>
							Pemilik Kost berjanji untuk tidak menjual barang atau jasa yang
							melanggar hukum/peraturan perundang-undangan/ketertiban umum
							dan/atau yang secara spesifik dilarang oleh Bank dan Hukum yang
							berlaku di Indonesia.&nbsp;
						</li>
						<li>
							Sistem Manajemen Properti Mamikos dapat menolak memberikan layanan
							kepada Pemilik Kost dengan kategori sebagai berikut:
							<ul>
								<li>
									Terlibat tindakan kriminal atau melanggar norma hukum, sosial,
									agama dan moral;
								</li>
								<li>terlibat dalam kelompok atau organisasi terlarang;</li>
								<li>
									Masuk ke dalam daftar hitam Payment Gateway, Bank atau Service
									Provider;
								</li>
								<li>
									Pertimbangan jelas lain yang ditentukan oleh Payment Gateway,
									Bank, atau Service Provider.
								</li>
								<li>
									Pertimbangan kompetisi dan adanya potensi kompetisi di masa
									depan.&nbsp;
								</li>
							</ul>
						</li>
						<li>
							Pemilik Kost wajib memberikan pemberitahuan tertulis kepada
							Mamikos apabila Pemilik Kost merubah susunan kepemilikan, atau
							penanggungjawab perubahan kuasa pengelolaan Pemilik Kost, maupun
							perubahan data-data terkait kepemilikan dan pengelolaan properti
							lainnya selambat-lambatnya 5 (lima) Hari Kerja setelah terjadinya
							perubahan. Dalam hal Pemilik Kost tidak memenuhi kewajibannya
							berdasarkan Pasal ini, maka seluruh akibat yang muncul menjadi
							tanggung jawab Pemilik Kost sepenuhnya.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 3: Hak Dan Kewajiban Sistem Manajemen Properti Mamikos</b>
					</p>

					<p>
						Hak Sistem Manajemen Properti Mamikos, selain hak-hak yang telah
						dinyatakan dalam pasal-pasal lain Perjanjian ini adalah :
					</p>

					<ul>
						<li>
							Menerima pembayaran ­ untuk setiap Transaksi Booking Kost baik
							manual maupun otomatis yang berhasil sesuai metode pembayaran yang
							dipilih baik untuk booking.
						</li>
						<li>
							Mendapat data laporan transaksi yang berhasil sesuai konfirmasi
							dari Pemilik Kost;
						</li>
						<li>
							Menerima data kontrak sewa untuk setiap perjanjian sewa menyewa
							antara Pemilik Kost dan user.
						</li>
						<li>
							Membatasi, memblokir, memperlambat, menghapus dan/atau mengakhiri
							layanan Sistem Manajemen Properti dan mengambil langkah-langkah
							hukum yang diperlukan apabila Pemilik Kost dinilai telah melakukan
							pelanggaran baik berdasarkan perjanjian ini maupun hukum lainnya
							yang berlaku;
						</li>
						<li>
							Berhak untuk menggunakan nama, logo, lambang, simbol merek
							dagang/jasa milik Pemilik Kost untuk tujuan promosi atau publikasi
							terkait dengan pelaksanaan Perjanjian ini, tanpa mengalihkan Hak
							Kekayaan Intelektual yang terkandung didalamnya.
						</li>
						<li>
							Berhak untuk menolak meneruskan pembayaran Kos ke Pemilik Kost
							apabila diketahui bahwa data identitas Pemilik kost dan data
							rekening bank yang diberikan dianggap tidak sesuai atau data belum
							lengkap.&nbsp;
						</li>
					</ul>

					<p>
						Kewajiban Sistem Manajemen Properti Mamikos, selain
						kewajiban-kewajiban yang telah dinyatakan dalam pasal-pasal lain
						Perjanjian ini adalah:
					</p>

					<ul>
						<li>
							Mengelola dan merawat Sistem Manajemen Properti Mamikos agar tetap
							lancar dan operasional;
						</li>
						<li>
							Mengelola dan merawat kontrak sewal antara User dan Pemilik Kost.
						</li>
						<li>
							Mengirim reminder atau pengingat pembayaran kepada user sesuai
							jadwal pembayaran yang tertera di kontrak.
						</li>
						<li>
							Meneruskan pembayaran kost dari User ke Pemilik Kost dalam waktu
							yang dijanjikan kecuali pada hari libur atau selain hari kerja,
							maka dikirim pada hari kerja berikutnya.
						</li>
						<li>
							Memverifikasikan data identitas pemilik dan rekening Pemilik
							Kost.&nbsp;
						</li>
						<li>
							Memberikan informasi kepada Pemilik Kost akan status Transaksi
							Kosnya;
						</li>
						<li>
							Memberikan dukungan teknis atau operasional kepada Pemilik Kost
							apabila diperlukan;
						</li>
						<li>
							Menyiapkan Prosedur Operasi Standar (Standard Operating Procedure)
							untuk kebutuhan operasional layanan Sistem Manajemen Properti
							Mamikos.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 4: Hak dan Kewajiban Pemilik Kost</b>
					</p>

					<p>
						Hak Pemilik Kost, selain hak-hak yang telah dinyatakan dalam
						pasal-pasal lain Perjanjian ini adalah:
					</p>

					<ul>
						<li>
							Mendapatkan dukungan teknis maupun operasional dari Sistem
							Manajemen Properti Mamikos.
						</li>
						<li>Menerima informasi status Transaksi otomatis dan manual</li>
						<li>
							Untuk transaksi manual , Pemilik Kost memiliki hak untuk
							mengkonfirmasi status transaksi
						</li>
						<li>
							Menerima edukasi terkait akan penyelenggaraan layanan Sistem
							Manajemen properti.
						</li>
						<li>
							Menerima pembayaran dari user kos sesuai waktu yang dijanjikan
							namun hanya apabila rekening bank dengan nomor dan nama akun dan
							identitas diri Pemilik Kost akun sistem manajemen properti sudah
							diverifikasi.
						</li>
						<li>
							Menerima informasi perubahan layanan minimal 1 (satu) hari sebelum
							perubahan terjadi.
						</li>
						<li>
							Mengubah data properti dan mengajukan perubahan data properti
							kepada sistem manajemen properti Mamikos, dan mendapatkan
							kepastian dalam 2 (dua) hari kerja apakah perubahan disetujui.
						</li>
						<li>
							Mengupdate data properti kapanpun dan mengajukan update data
							tersebut kepada sistem manajemen properti Mamikos dan mendapatkan
							kepastian dalam 2(dua) hari kerja apakah update disetujui.
						</li>
						<li>
							Menonaktifkan iklan properti maupun sistem manajemen properti
							dengan menginformasikan ke Tim Mamikos. Tim Mamikos akan
							menindaklanjuti paling lambat 5 (lima) hari kerja.&nbsp;
						</li>
					</ul>

					<p>
						Kewajiban Pemilik Kost, selain kewajiban-kewajiban yang telah
						dinyatakan dalam pasal-pasal lain Perjanjian ini adalah:
					</p>

					<ul>
						<li>
							Melengkapi data diri Pemilik Kost sesuai form yang diberikan dan
							menyertakan identitas terbaru dan foto diri dengan identitas yang
							sesuai dengan nama di no rekening penerima.
						</li>
						<li>
							Apabila yang mendaftarkan akun atau/dan yang namanya tertera di no
							rekening bukan Pemilik Kost yang tertulis di sertifikat sah wajib
							melampirkan surat kuasa pengelolaan atau menunjukkan bukti bahwa
							yang mendaftar atau no rekening yang didaftarkan punya hak untuk
							mendaftar dan mengelola sistem manajemen properti Mamikos.
						</li>
						<li>
							Identitas Pemilik Kost , nomor rekening dan nama Pemilik Kost
							rekening wajib terverifikasi untuk Pemilik Kost bisa menerima
							pembayaran dari sistem manajemen properti Mamikos.
						</li>
						<li>
							Memberikan informasi yang sebenar-benarnya mengenai data properti
							, sistem manajemen properti Mamikos tidak bertanggung jawab atas
							sanksi hukum yang mungkin berlaku dan sistem manajemen properti
							Mamikos bisa memproses secara hukum atas kerugian yang diakibatkan
							data properti yang tidak benar.
						</li>
						<li>
							Memberikan deskripsi dan data ketersediaan kamar secara benar dan
							sesuai dengan keadaan
						</li>
						<li>
							Memberikan hak atas sewa kamar beserta fasilitasnya kepada User
							dengan benar sesuai dengan keadaan sesungguhnya.
						</li>
						<li>
							Melakukan pembayaran kepada Sistem Manajemen Properti Mamikos atas
							Biaya Transaksi apabila ada.
						</li>
						<li>
							Mematuhi prosedur sistem manajemen properti terlampir dibawah.
						</li>
						<li>
							Mematuhi ketentuan dan persyaratan dari masing-masing Layanan
							Pembayaran yang telah ditetapkan oleh Bank dan Service Provider
							yang bekerja sama dengan Sistem manajemen properti.&nbsp;
						</li>
					</ul>

					<p class="h1">
						<b
							>Pasal 5: Prosedur Operasi Standar (Standard Operating System /
							SOP)</b
						>
					</p>

					<ul>
						<li>
							<b>Laporan Transaksi</b>
							<ul>
								<li>
									Pemilik Kost dapat mengakses laporan dan status Transaksi
									Internet melalui aplikasi Mamikos secara real-time (langsung
									setelah Transaksi berhasil dilakukan).
								</li>
							</ul>
						</li>
						<li>
							<b
								>Jadwal Pengiriman Uang Transaksi Kos dari User ke Pemilik
								Kost</b
							>
							<ul>
								<li>
									Jadwal pengiriman transaksi dari user ke rekening pemilik kost
									adalah maksimal 1 (satu) hari kerja dengan kondisi data
									identitas dan data pemilik kost sudah diverifikasi benar dan
									sama oleh tim Mamikos.
								</li>
								<li>
									Hanya booking dengan status
									pembayaran&nbsp;<b>“Terbayar”</b>&nbsp;pada list permintaan
									Booking yang akan dikirimkan oleh Mamikos kepada pemilik kost.
									Status tersebut menandakan bahwa Anak Kost telah melakukan
									pembayaran via Mamikos.
								</li>
								<li>
									Pembayaran yang dilakukan pada hari Sabtu, Minggu, dan hari
									libur nasional akan diproses pada hari kerja terdekat
									berikutnya.
								</li>
							</ul>
						</li>
						<li>
							<b>Bayar Penuh, DP , dan Pelunasan</b>
							<ul>
								<li>
									Pemilik Kost berhak mengatur apakah untuk setiap Booking
									pembayarannya harus dibayar penuh, atau dibagi menjadi DP (
									Down Payment) atau uang muka dan pelunasan.&nbsp;
								</li>
								<li>
									Terkait dengan poin Jadwal pengiriman uang transaksi kos dari
									user ke pemilik kost diatas, apabila diatur sehingga dalam
									booking tersebut user membayar penuh (<i
										>full amount),&nbsp;</i
									>seluruh transaksi tersebut akan diteruskan ke pemilik kost
									dalam 1(satu) hari kerja.&nbsp;
								</li>
								<li>
									Terkait dengan poin Jadwal pengiriman uang transaksi kos dari
									user ke pemilik kost diatas, apabila diatur sehingga dalam
									booking tersebut pembayaran user dibagi dua menjadi DP/Uang
									Muka dan Pelunasan maka sistem akan mengatur bahwa DP akan
									ditagihkan terlebih dahulu pada saat booking diterima dan
									pelunasan akan ditagihkan pada Tanggal check-in/Tanggal mulai.
									Transaksi DP akan dikirimkan dalam 1(satu) hari kerja sejak
									transaksi DP diterima, sedangkan pelunasan akan dikirimkan
									dalam 1(Satu) hari kerja sejak transaksi pelunasan diterima.
								</li>
							</ul>
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 6 : Biaya Transaksi Dan Pembayaran Tagihan</b>
					</p>

					<ul>
						<li>
							Pemilik Kost akan dikenakan Biaya Transaksi/Booking Fee kepada
							Sistem manajemen properti Mamikos kecuali ada kebijakan atau
							program promosi tertentu.
						</li>
						<li>
							Pemilik Kost akan dikenakan Biaya Transaksi sebagaimana yang telah
							disepakati, dimana biaya tersebut tidak termasuk biaya
							administrasi Bank dan Pajak yang berlaku kecuali ada kebijakan
							atau program tertentu.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 7 : Biaya Transaksi Dan Pembayaran Tagihan</b>
					</p>

					<ul>
						<li>
							Sistem manajemen properti Mamikos dapat setiap saat
							menghentikan/mematikan Sistemnya untuk sementara waktu dengan
							pemberitahuan selambat-lambatnya 5 (lima) Hari Kerja sebelumnya
							kepada Pemilik Kost .
						</li>
						<li>
							Penghentian layanan Sistem Pembayaran Internet dapat disebabkan
							oleh alasan-alasan sebagai berikut:
							<ul>
								<li>
									Inspeksi, perbaikan, pemeliharaan atau peningkatan sistem;
								</li>
								<li>
									Adanya alasan tertentu berupa melindungi hak-hak dan/atau
									kepentingan Para Pihak; atau
								</li>
								<li>
									Alasan jelas lain yang ditentukan oleh Payment Gateway, Bank,
									atau Service Provider.
								</li>
							</ul>
						</li>
						<li>
							Apabila terdapat gangguan tiba-tiba terhadap Sistem Pembayaran
							Internet akibat kegagalan sistem, jaringan, koneksi internet atau
							alasan lainnya, Sistem Manajemen Properti Mamikos akan memberitahu
							Pemilik Kost secara tertulis mengenai gangguan ini, serta
							informasi lanjutan apabila gangguan tersebut telah selesai.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 8 : Keamanan dan Perlindungan Informasi</b>
					</p>

					<ul>
						<li>
							Sistem Manajemen Properti Mamikos memiliki sistem dan jaringan
							yang aman guna melindungi informasi yang bersifat sensitif,
							termasuk namun tidak terbatas kepada:
						</li>
						<li>Informasi Transaksi (user id, dan lain-lain);</li>
						<li>Informasi User (data pribadi, alamat, dan lain-lain); dan</li>
						<li>Informasi lainnya yang dianggap sensitif oleh Para Pihak.</li>
						<li>
							Sistem Manajemen Properti Mamikos akan menyimpan dan melindungi
							data Transaksi selama 24 (dua puluh empat) bulan setelah tanggal
							terjadinya Transaksi tersebut.
						</li>
						<li>
							Pemilik Kost menjamin bahwa Pemilik Kost tidak akan melakukan
							hal-hal sebagai berikut:
						</li>
						<li>
							Melakukan upaya pemecahan kode (reverse engineering) terhadap
							Sistem Manajemen Properti Mamikos;
						</li>
						<li>
							Melakukan hal-hal yang mengakibatkan kerusakan terhadap Sistem
							Manajemen Properti Mamikos dengan sengaja; atau
						</li>
						<li>
							Melakukan hal-hal yang bertujuan untuk mencuri data Transaksi dan
							User.
						</li>
						<li>
							Pemilik Kost wajib menjamin keamanan data informasi User dan
							miliknya. Dalam hal Pemilik Kost melanggar ketentuan ini, maka
							Sistem Manajemen Properti Mamikos berhak untuk mengnonaktifkan
							akun Pemilik Kost sampai Pemilik Kost bisa memenuhi kewajibannya.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 9 : Jangka Waktu Dan Pengakhiran Perjanjian</b>
					</p>

					<ul>
						<li>
							Perjanjian ini berlaku selama 1 (satu) tahun sejak tanggal
							ditandatanganinya Perjanjian ini dan akan diperpanjang secara
							otomatis, sepanjang tidak ada pemberitahuan untuk mengakhiri
							Perjanjian sekurang-kurangnya 30 (tiga puluh) hari kerja sebelum
							tanggal berakhirnya Perjanjian.
						</li>
						<li>
							Para Pihak berhak untuk sewaktu-waktu mengakhiri Perjanjian ini
							apabila terjadi salah satu dari hal-hal sebagai berikut:
						</li>
						<li>
							Salah satu Pihak melanggar salah satu ketentuan di Perjanjian ini,
							dan pelanggaran tersebut tidak dapat diperbaiki;
						</li>
						<li>
							Salah satu Pihak melanggar salah satu ketentuan di Perjanjian ini,
							dan pelanggaran tersebut dapat diperbaiki, namun Pihak yang
							melanggar tidak mampu memperbaiki pelanggaran tersebut dalam
							jangka waktu 30 (tiga puluh) hari kerja sejak tanggal terjadinya
							pelanggaran tersebut; atau
						</li>
						<li>
							Salah satu Pihak pailit, menghentikan layanan serta kegiatan
							operasionalnya dan izin usahanya dicabut baik sebagian atau secara
							keseluruhan, memenuhi ketentuan Force Majeure Pasal 15 Perjanjian
							ini, dan oleh karena itu tidak mampu melanjutkan kegiatan
							usahanya;
						</li>
						<li>
							Pengakhiran Perjanjian ini tidak melepaskan Para Pihak dari
							kewajibannya yang timbul sebelum dan/atau pada saat pengakhiran
							Perjanjian ini. Para Pihak wajib menyelesaikan kewajiban dimaksud
							dalam jangka waktu selambat-lambatnya 7 (tujuh) Hari Kerja setelah
							tanggal efektif berakhirnya Perjanjian ini.
						</li>
						<li>
							Dalam pelaksanaan pengakhiran Perjanjian ini, Para Pihak sepakat
							untuk mengesampingkan ketentuan- yang tercantum di dalam Pasal
							1266 dan Pasal 1267 Kitab Undang-Undang Hukum Perdata Indonesia.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 10 : Pernyataan Dan Jaminan</b>
					</p>

					<ul>
						<li>
							Dengan mengaktifkan , menggunakan Sistem Manajemen Properti dari
							Mamikos , para pihak menyetujui syarat dan ketentuan yang tertera
							di halaman/dokumen ini sampai ketika Para Pihak memutuskan untuk
							menonaktifkan penggunaan Sistem Manajemen Properti dari
							Mamikos.&nbsp;
						</li>
						<li>
							Syarat dan ketentuan ini dapat dianggap sebagai Perjanjian antara
							Pihak Mamikos dan Pihak Pemilik Kost.
						</li>
						<li>
							Pihak yang menyetujui syarat dan ketentuan ini adalah pihak yang
							berwenang atau wakil yang dalam mengikatkan dirinya atau badan
							usahanya (baik badan hukum maupun bukan badan hukum); dalam hal
							ternyata pihak yang menyetujui syarat dan ketentuan ini bukan
							pihak yang berwenang atau wakil yang sah, maka masing-masing pihak
							bertanggung jawab secara pribadi.
						</li>
						<li>
							Para Pihak menjamin bahwa dokumen yang diberikan kepada pihak
							lainnya adalah merupakan dokumen resmi, asli, sah, masih berlaku
							dan setiap informasi yang tercantum dalam dokumen tersebut adalah
							benar, sesuai dengan keadaan sebenarnya dan bukan merupakan
							rekayasa maupun tipu muslihat atau kebohongan serta sesuai dengan
							ketentuan atau peraturan yang berlaku.
						</li>
						<li>
							Para Pihak dengan ini dan untuk seterusnya dikemudian hari
							membebaskan dan melepaskan Pihak lainnya dari segala gugatan,
							tuntutan atau tagihan dari siapapun yang tidak langsung
							berhubungan dengan Perjanjian ini.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 11 : Kerahasiaan</b>
					</p>

					<ul>
						<li>
							Para Pihak sepakat bahwa pertukaran informasi yang muncul karena
							syarat dan ketentuan ini dikategorikan sebagai rahasia dan untuk
							itu Para Pihak sepakat untuk saling menjaga kerahasiaan informasi
							tersebut kecuali telah mendapatkan izin tertulis dari salah satu
							pihak lainnya dan/atau informasi tersebut telah berlaku dan
							diketahui secara umum.
						</li>
						<li>
							Selama menggunakan Sistem manajemen properti yang diartikan para
							pihak setuju terhadap syarat dan ketentuan ini maka para Pihak dan
							semua pihak yang bekerja pada/untuk Para Pihak berikut afiliasinya
							wajib menjaga kerahasiaan data dan/atau informasi dalam bentuk
							apapun mengenai User baik yang diperoleh dari pihak lainnya maupun
							dari Transaksi Internet melalui Sistem Pembayaran Internet baik
							yang termasuk sebagai rahasia Bank dan/atau Para Pihak, ataupun
							hal-hal yang wajib dan sepatutnya dirahasiakan kepada siapapun.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 12 : Keadaan Memaksa (Force Majeure)</b>
					</p>

					<ul>
						<li>
							Yang dimaksud dengan Force Majeure adalah suatu peristiwa atau
							keadaan yang terjadi di luar kekuasaan atau kemampuan salah satu
							atau Para Pihak, yang mengakibatkan salah satu atau Para Pihak
							tidak dapat melaksanakan hak-hak dan/atau kewajiban-kewajiban
							sesuai dengan ketentuan-ketentuan di dalam Perjanjian ini,
							termasuk namun tidak terbatas kepada kebakaran, tidak berfungsinya
							tenaga listrik untuk jangka waktu lama, putusnya koneksi internet,
							bencana alam, peperangan, aksi militer, huru-hara, malapetaka,
							pemogokan, epidemi, dan kebijaksanaan maupun peraturan Pemerintah
							atau penguasa setempat yang secara langsung dapat mempengaruhi
							pemenuhan pelaksanaan Perjanjian ini.
						</li>
						<li>
							Dalam hal terjadi Force Majeure, Pihak yang mengalami peristiwa
							yang dikategorikan sebagai Force Majeure wajib memberikan
							pemberitahuan secara tertulis tentang hal tersebut kepada Pihak
							lainnya selambat-lambatnya 7 (tujuh) hari terhitung sejak tanggal
							terjadinya Force Majeure tersebut, karenanya Para Pihak dengan ini
							menjadi tidak bertanggung jawab atas kelalaian atau keterlambatan
							pelaksanaan seluruh atau sebagian Perjanjian ini.
						</li>
						<li>
							Segala permasalahan yang timbul sebagai akibat dari terjadinya
							Force Majeure tersebut akan diselesaikan secara musyawarah oleh
							Para Pihak. Dalam hal Force Majeure berkanjut terus-menerus sampai
							dengan 30 (tiga puluh) hari kalender, maka pihak yang tidak
							mengalami Force Majeure dapat mengakhiri Perjanjian ini.
						</li>
					</ul>

					<p class="h1">
						<b>Pasal 13 : Komunikasi</b>
					</p>

					<p>
						Untuk kelancaran pelaksanaan Perjanjian ini, segala surat menyurat
						atau korespondensi dilakukan ke alamat sebagai berikut :
					</p>

					<p><b>PT MAMA TEKNOLOGI PROPERTI</b></p>

					<p><b>Puri Gejayan Indah B12 Kaliwaru CondongCatur</b></p>

					<p><b>Sleman DI Yogyakarta 55281</b></p>

					<p><b>0274 2923340</b></p>

					<p class="h1">
						<b>Pasal 14 : Ketentuan Lainnya</b>
					</p>

					<ul>
						<li>
							Segala Lampiran, Addendum, Surat Komunikasi, serta dokumen-dokumen
							lainnya yang dibuat berdasarkan atau sehubungan dengan Perjanjian
							ini, merupakan bagian integral dari dan menjadi lampiran yang
							tidak terpisahkan dari Perjanjian ini.
						</li>
						<li>
							<b>Perubahan.</b>&nbsp;Perjanjian ini tidak boleh diubah atau
							ditambah kecuali disetujui oleh Para Pihak dan termaktub dalam
							perjanjian formal yang ditandatangani oleh Para Pihak.
						</li>
						<li>
							<b>Addendum.</b>&nbsp;Hal-hal yang tidak atau belum diatur dalam
							atau perubahan atas Perjanjian ini, akan diatur kemudian melalui
							addendum yang disepakati dan ditandatangani oleh Para Pihak;
							addendum mana menjadi bagian integral dan menjadi lampiran yang
							tidak terpisahkan dari Perjanjian ini.
						</li>
						<li>
							<b>Pelepasan Hak.</b>&nbsp;Dalam hal terjadi kegagalan, penundaan
							atau keterlambatan oleh salah satu Pihak dalam melaksanakan haknya
							atau menuntut pemenuhan kewajiban dari Pihak lainnya berdasarkan
							Perjanjian ini, maka kegagalan, penundaan atau keterlambatan
							tersebut bukan merupakan pelepasan hak oleh pihak tersebut untuk
							di kemudian hari melaksanakan haknya atau menuntut pemenuhan
							kewajiban pihak lainnya berdasarkan Perjanjian ini.
						</li>
						<li>
							<b>Tidak Ada Pengalihan.</b>&nbsp;Perjanjian ini mengikat dan
							dibuat untuk kepentingan dari setiap Pihak dan penerima dan/atau
							pengganti haknya masing-masing, akan tetapi dengan ketentuan bahwa
							tidak ada Pihak yang boleh mengalihkan setiap hak-hak yang timbul
							dari atau berkenaan dengan Perjanjian ini kepada pihak ketiga
							manapun, tanpa persetujuan tertulis terlebih dahulu dari Pihak
							lainnya.
						</li>
					</ul>
				</div>
			</div>

			<div class="button-term">
				<button type="button" class="btn btn-primary" @click="closeModal">
					Oke Paham
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close', false);
		}
	}
};
</script>

<style lang="scss">
#bookingModalTerms {
	.modal-header-close {
		padding: 0 15px;
		border-bottom: 1px solid #f4f4f4;

		.close-btn {
			font-size: 32px;
			color: #999999;
			cursor: pointer;
		}
	}

	.modal-content {
		border: 1px solid #fff;
		border-radius: 0;
	}

	@media (max-width: 767px) {
		.modal-dialog {
			min-height: 100vh;
			height: 100vh;
			width: 100%;
			margin: 0;
		}

		.modal-body {
			padding-top: 72px !important;
		}

		.modal-header-close {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			z-index: 1;
			background-color: #fff;
		}

		.modal-content {
			height: 100%;
			overflow-y: scroll;
		}
	}

	@media (min-width: 768px) {
		.modal-header-close {
			display: flex;
			justify-content: flex-end;
		}
	}
}

@media (max-width: 768px) {
	.modal-open #bookingModalTerms .modal {
	}
}
</style>

<style lang="scss" scoped>
.wrapper-term {
	text-align: center;
	> p.h1 {
		margin-bottom: 0.3rem;
		margin-top: 0;
		font-size: 20px;
		font-weight: bold;
	}

	> p {
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
}

.textarea-term {
	width: 100%;
	max-width: 768px;
	text-align: justify;
	border: none;
	padding: 0;
	font-size: 0.9em;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 2.5rem;
	height: 49vh;
	max-height: 500px;
	overflow-y: scroll;

	> p.h1 {
		margin: 0;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	ul {
		padding-left: 1rem;
	}

	@media (max-width: 768px) {
		border: none;
		height: 100%;
		max-height: 100%;
		padding: 0;
		overflow: auto;

		ul {
			padding-left: 3rem;
		}
	}
}

.zero-bottom {
	margin-bottom: 0;
}

.distance {
	margin-bottom: 2rem !important;
}

.button-term {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;

	button {
		letter-spacing: 1px;
		width: 200px;
	}
}
</style>
