<template>
	<nav id="bookingNavbar" class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-wrapper container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand hidden-xs">
					<img
						v-lazy="'/general/img/logo/logo_mamikos_green.svg'"
						alt="logo_mamikos_green"
						title="Mamikos"
					/>
				</a>
				<template v-if="!isHideStep">
					<img
						src="/general/img/icons/ic_full-arrow-left_s_dark.svg"
						alt="ic_full-arrow-left_s_dark"
						title="Back Arrow"
						class="navbar-back visible-xs"
						@click="goToPreviousStep"
					/>

					<div
						v-if="$route.name !== 'booking-summary'"
						class="header-title visible-xs"
					>
						<label>{{ activeLabel }}</label>
					</div>
				</template>
			</div>
		</div>
	</nav>
</template>

<script>
import _findIndex from 'lodash/findIndex';

export default {
	props: {
		steps: {
			type: Array,
			default: () => []
		},
		isHideStep: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		activeLabel() {
			const stepActive = this.steps[this.stepActive];
			const stepCount =
				stepActive && stepActive.input ? ` ${this.stepActive + 1} dari 2` : '';
			return `Langkah${stepCount}`;
		},
		stepActive() {
			if (
				this.$route.name !== 'snap' &&
				this.$route.name !== 'id-verification'
			) {
				return _findIndex(this.steps, { routeName: this.$route.name }) >= 0
					? _findIndex(this.steps, { routeName: this.$route.name })
					: 0;
			} else {
				return 1;
			}
		}
	},

	methods: {
		backRoute() {
			this.$emit('back');
		},
		goToPreviousStep() {
			if (this.stepActive > 0) {
				const previousStep = this.steps[this.stepActive - 1];
				this.$router.push({ name: previousStep.routeName });
			} else {
				this.$store.commit('setShowModalCancelBooking', true);
				this.backRoute();
			}
		}
	}
};
</script>

<style lang="scss">
$dark-grey: #999;

#bookingNavbar {
	.progress-bar-success {
		height: 5px;
		position: relative;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.btn-close-filter {
		color: $dark-grey;

		&.has-text {
			&:after {
				display: none;
			}
		}

		@media (max-width: 767px) {
			line-height: 1.5;
		}
	}
}
</style>

<style lang="scss" scoped>
.navbar {
	background-color: #fff;
	height: 56px;

	@media (max-width: 767px) {
		border: none;
	}

	.booking-progress::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100vw;
		height: 100%;
		background-color: rgba(27, 172, 87, 0.05);
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.navbar-wrapper {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.navbar-header {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			height: 51px;
			width: 100%;
			padding-left: 1.6rem;
		}

		.navbar-back {
			cursor: pointer;
			width: 25px;
			margin-right: 2.5rem;

			@media (max-width: 767px) {
				height: 18px;
			}
		}

		.navbar-brand {
			img {
				height: 25px;
			}
		}

		.header-title {
			margin-left: 1.5rem;

			@media (max-width: 767px) {
				width: 100%;
				text-align: right;
			}

			label {
				font-size: 14px;
				font-weight: normal;
				color: #949494;
				margin-top: 6px;
			}
		}
	}
}
</style>
