<template>
	<div id="bookingBreadcrumb" class="booking-breadcrumb__container">
		<div class="booking-breadcrumb__back-nav" @click="backRoute">
			<icon-arrow-left :height="15" />
			<span>Kembali</span>
		</div>

		<div class="booking-breadcrumb__crumbs-group">
			<span
				v-for="(step, index) in steps"
				:key="index"
				@click="changeStep(step)"
			>
				<span
					:class="{
						'--is-active': stepActive === index,
						'--is-disabled': step.disabled
					}"
				>
					{{ step.label }}
				</span>
				<img
					v-if="index !== steps.length - 1"
					src="/general/img/icons/ic_arrow-right_s_grey.svg"
					alt="ic_arrow-right_s_grey"
					title="Arrow Grey"
				/>
			</span>
		</div>
	</div>
</template>

<script>
import _findIndex from 'lodash/findIndex';
import IconArrowLeft from 'Js/@icons/ArrowLeft';

export default {
	components: {
		IconArrowLeft
	},

	props: {
		steps: {
			type: Array,
			required: true
		}
	},

	computed: {
		stepActive() {
			return _findIndex(this.steps, { routeName: this.$route.name });
		},
		uncompleteBookingForm() {
			return this.$store.getters.uncompleteBookingForm;
		}
	},

	methods: {
		backRoute() {
			this.$emit('back');
		},
		changeStep(step) {
			if (step.disabled) {
				const { error, message, path } = this.uncompleteBookingForm;
				if (error) {
					this.$store.commit('setShowBookingAlert', { show: true, message });
					if (this.$route.path !== path) {
						this.$router.push({ path, query: { validate: true } });
					} else {
						this.$store.commit('setForcedValidation', '');
						this.$nextTick(() => {
							this.$store.commit('setForcedValidation', path);
						});
					}
				}
			} else {
				this.$router.push({ name: step.routeName });
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-breadcrumb {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		span {
			font-size: 14px;
			color: #949494;
			cursor: pointer;

			&.--is-active {
				color: #404040;
				font-weight: bold;
			}
		}

		img {
			height: 13px;
			margin: 0 1rem;
		}
	}

	&__back-nav {
		display: flex;
		align-items: center;
		color: #404040;
		margin-bottom: 15px;

		span {
			color: #404040;
		}
	}
}
</style>
