<template>
	<transition name="slide">
		<div class="booking-alert" v-if="show">{{ message }}</div>
	</transition>
</template>

<script>
export default {
	model: {
		prop: 'show',
		event: 'change'
	},

	props: {
		duration: {
			type: Number,
			default: 3000
		},
		message: {
			type: String,
			default: ''
		},
		show: {
			type: Boolean,
			dafault: false
		}
	},

	data() {
		return {
			activeTimeout: -1
		};
	},

	watch: {
		show(val) {
			val && this.setActiveAlertTimeout();
		}
	},

	methods: {
		setActiveAlertTimeout() {
			window.clearTimeout(this.activeTimeout);

			if (this.show && this.duration) {
				this.activeTimeout = window.setTimeout(() => {
					this.$emit('change', false);
				}, this.duration);
			}
		}
	}
};
</script>

<style lang="scss">
.booking-alert {
	min-width: 300px;
	max-width: calc(100% - 40px);
	padding: 16px;
	border-radius: 4px;
	background: #383746;
	color: white;
	position: fixed;
	top: 80px;
	right: 20px;
	display: flex;
	align-items: center;
	opacity: 1;
}

.slide-enter-active,
.slide-leave-active {
	transform: translateX(0);
	transition: all 0.5s;
}
.slide-enter,
.slide-leave-to {
	transform: translateX(30px);
	opacity: 0;
}
</style>
