<template>
	<div class="booking-title-form">
		<div class="booking-title-form__name">
			<h1 class="hidden-xs">Pengajuan Sewa</h1>
			<h1 class="visible-xs">
				{{ steps[stepActive].mobileLabel }}
			</h1>
		</div>

		<div class="booking-title-form__step hidden-xs">
			<span>{{ activeLabel }}</span>
		</div>
	</div>
</template>

<script>
import _findIndex from 'lodash/findIndex';

export default {
	props: {
		steps: {
			type: Array,
			required: true
		}
	},

	computed: {
		activeLabel() {
			const stepActive = this.steps[this.stepActive];
			const stepCount = stepActive.input
				? ` ${this.stepActive + 1} dari 2`
				: '';
			return `Langkah${stepCount}`;
		},
		stepActive() {
			if (
				this.$route.name !== 'snap' &&
				this.$route.name !== 'id-verification'
			) {
				return _findIndex(this.steps, { routeName: this.$route.name }) >= 0
					? _findIndex(this.steps, { routeName: this.$route.name })
					: 0;
			} else {
				return 1;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-title-form {
	&__name {
		h1 {
			font-size: 32px;
			font-weight: bold;

			@media (max-width: 767px) {
				font-size: 24px;
			}
		}
	}

	&__step {
		font-size: 16px;
		color: #949494;
	}
}
</style>
