<template>
	<modal
		id="bookingLoaderSubmitDraft"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		small
	>
		<div class="loader-bullets">
			<mami-button-loading />
		</div>

		<div class="loader-caption text-primary">
			<span>Tunggu bentar ya!</span>
			<span>Enggak bakal lama kok. Mami beresin halamannya dulu.</span>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

const MamiButtonLoading = () =>
	import('Js/@components/mami-components/MamiButtonLoading');

export default {
	components: {
		MamiButtonLoading,
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		}
	}
};
</script>

<style lang="scss">
#bookingLoaderSubmitDraft {
	.mami-button-loading {
		ul {
			li {
				background-color: #1baa56;
			}
		}
	}

	@media (min-width: 768px) {
		.modal-sm {
			width: 360px;
		}
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-dialog {
		top: 30%;

		@media (max-width: 767px) {
			top: 0;
			height: 100vh;
			margin: 0;
		}
	}

	.modal-content {
		border-radius: 8px;

		@media (max-width: 767px) {
			border-radius: 0;
		}
	}

	.modal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			height: 100vh;
		}

		@media (min-width: 768px) {
			padding: 50px 0 !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.loader-bullets {
	margin-bottom: 15px;
}

.loader-caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	text-align: center;
	font-size: 12px;

	span:first-child {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 5px;
	}
}
</style>
