<template>
	<mami-modal-wrap
		id="bookingModalGenderMismatch"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="modal-gender-img">
			<img
				v-lazy="{
					src: '/general/img/pictures/booking/img_booking_gender-mismatch.svg'
				}"
				alt="img_booking_gender-error"
				title="Gender Error"
			/>
		</div>

		<div v-if="isModalGenderNull" class="modal-gender-caption">
			<label>
				Belum Ada Data Jenis Kelamin
			</label>

			<span>
				Kos ini butuh data jenis kelamin. Mohon masukkan informasi tersebut di
				Halaman Profil kamu.
			</span>
		</div>

		<div v-else class="modal-gender-caption">
			<label> Mohon Maaf, Ini Kos Khusus {{ kostGender.value }} </label>

			<span v-if="isForCouple" class="modal-gender-caption__warning-pasutri">
				Pasangan Suami Istri hanya dapat menyewa kos ini atas nama pengguna
				{{ kostGender.value }} ({{ kostGender.for }}). Silakan gunakan akun yang
				sesuai.
			</span>

			<span v-else class="modal-gender-caption__warning">
				Hanya penyewa {{ kostGender.value }} yang dapat menyewa kos ini. Silakan
				gunakan akun yang sesuai.
			</span>
		</div>

		<div class="modal-gender-button">
			<button type="button" class="btn btn-primary" @click="submitAction">
				{{ buttonActionText }}
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
import _find from 'lodash/find';

const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		isModalGenderNull: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		kostGender() {
			return this.$store.state.detail.gender === 1
				? { value: 'pria', for: 'suami' }
				: { value: 'wanita', for: 'istri' };
		},
		isForCouple() {
			return _find(
				this.$store.state.detail.fac_room_icon,
				item => item.id === 60
			);
		},
		buttonActionText() {
			return this.isModalGenderNull ? 'Edit Profil' : 'Saya Mengerti';
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		submitAction() {
			if (this.isModalGenderNull) {
				window.open('/user/edit-profil?change=gender', '_self');
			} else {
				this.closeModal();
			}
		}
	}
};
</script>

<style lang="scss">
#bookingModalGenderMismatch {
	.btn-close-filter {
		@media (max-width: 767px) {
			display: none;
		}

		&.has-text {
			&:after {
				display: none;
			}
		}

		span {
			color: #999;
		}
	}

	.modal-button-close {
		padding-top: 4px;
		padding-right: 4px;
		line-height: 48px;
	}

	.modal-dialog {
		width: 328px;
	}

	.modal-content {
		border-radius: 8px;
	}

	@media (max-width: 767px) {
		.modal-container {
			margin-top: 2rem;
		}

		.modal-button-close {
			padding-top: 8px;
			margin-bottom: 4px;
		}

		.modal-dialog {
			position: absolute;
			bottom: 0;
			margin: 0 auto;
			width: 100%;
			border: none;
			width: 100%;
		}

		.modal-content {
			border-radius: 0;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		&.modal.fade .modal-dialog {
			transform: translate3d(0, 100vh, 0) !important;
		}

		&.modal.in .modal-dialog {
			transform: translate3d(0, 1px, 0) !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-gender-img {
	text-align: center;

	img {
		height: 180px;
	}
}

.modal-gender-caption {
	display: flex;
	margin: 40px 0 48px;
	flex-direction: column;

	label {
		font-size: 16px;
		text-transform: capitalize;
		margin-bottom: 1.5rem;
	}
}

.modal-gender-button {
	.btn {
		width: 100%;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 16px;
		font-weight: bold;
		line-height: 22px;
		border-radius: 4px;
	}
}
</style>
