<template>
	<modal
		id="bookingModalCancel"
		ref="booking-modal-cancel"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		small
	>
		<div class="booking-confirmation-container">
			<div class="confirmation-header">
				<button class="confirmation-header--close-btn" @click="closeModal">
					&times;
				</button>
			</div>
			<div class="confirmation-text">
				<h4>Yakin batalkan Booking?</h4>
				<p>
					Jika kamu batalkan, kamu tetap bisa melihat Kos ini di Draft. Untuk
					melanjutkan Booking, klik “Lanjut Booking”.
				</p>
			</div>
		</div>

		<div slot="modal-footer" class="modal-footer confirmation-button-group">
			<button type="button" class="btn btn-primary" @click="closeModal">
				Lanjut Booking
			</button>
			<button type="button" class="btn btn-success" @click="cancelBooking">
				Simpan Draft
			</button>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		cancelBooking() {
			this.$emit('ok');
		}
	}
};
</script>

<style lang="scss">
#bookingModalCancel {
	.modal-header {
		display: none !important;
	}

	.modal-body {
		padding: 16px 16px 0 16px !important;
	}

	.modal-footer {
		border-top: none;
	}

	.modal-dialog {
		display: flex;
		align-items: center;
		margin: 0 auto;
		height: 100%;
	}

	&.modal.fade .modal-dialog {
		transform: translate(0, -5%);
	}

	&.modal.in .modal-dialog {
		transform: translate(0, 0);
	}

	@media (min-width: 768px) {
		.modal-dialog.modal-sm {
			width: 328px;
		}
	}

	@media (max-width: 767px) {
		.modal-dialog {
			display: block;
			height: auto;
			position: absolute;
			bottom: 0;
			margin: 0 auto;
			width: 100%;
			border: none;
		}

		.modal-content {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
		}

		&.modal.fade .modal-dialog {
			transform: translate3d(0, 100vh, 0) !important;
		}

		&.modal.in .modal-dialog {
			transform: translate3d(0, 1px, 0) !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.confirmation-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&--close-btn {
		background-color: transparent;
		border: none;
		box-shadow: none;
		font-weight: bold;
		font-size: 32px;
		line-height: 16px;
		color: #999999;
		padding: 0;

		&:focus,
		&:active {
			outline: none;
		}
	}
}

.confirmation-text {
	color: #000;

	h4 {
		font-size: 20px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 16px;
	}

	p {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 32px;
	}
}

.confirmation-button-group {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 16px;

	button {
		width: 100%;
		font-weight: bold;
		border: none;

		&.btn-primary {
			margin-bottom: 15px;
		}

		&.btn-success {
			&:hover,
			&:focus,
			&:active {
				background-color: #fff;
				color: #1baa56;
				box-shadow: none;
			}
		}
	}
}
</style>
