<template>
	<div class="consultant-sidebar">
		<div class="consultant-sidebar__bg" @click="closeSidebar"></div>
		<div class="consultant-sidebar__content">
			<div class="close-button">
				<img
					alt="Icon close"
					src="/general/img/icons/ic_close-consultant_grey.svg"
					@click="closeSidebar"
				/>
			</div>
			<ul class="sidebar__menu">
				<template v-for="(sidebarMenu, index) in sidebarMenus">
					<menu-item
						v-if="!sidebarMenu.hide"
						:key="`menu-${index + 1}`"
						:item="sidebarMenu"
						@click="handleClickMenu"
					></menu-item>
				</template>
			</ul>
		</div>
		<snackbar v-model="snackbarOpened">
			<div class="row">
				<div class="col-xs-12">
					<p class="logout-message mb-2">Apakah kamu yakin ingin logout?</p>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
							<consultant-button
								outline
								color="secondary"
								block
								large
								@click="snackbarOpened = false"
							>
								Tidak
							</consultant-button>
						</div>
						<div class="col-xs-6">
							<consultant-button
								:loading="loadingLogout"
								outline
								color="primary"
								block
								large
								@click="handleLogoutAccount"
							>
								Ya
							</consultant-button>
						</div>
					</div>
				</div>
			</div>
		</snackbar>
	</div>
</template>
<script>
import Snackbar from 'Consultant/components/Snackbar.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import MenuItem from './MenuItem.vue';

import sidebarMenus from './data/sidebarMenus';
import EventBus from 'Consultant/event-bus';
import { clearToken } from 'Consultant/helpers/cookiesToken';
import { removeCredential } from 'Consultant/helpers/credentials';

const ID_HIDDEN_NON_CONSULTANT_MENU = ['activity'];

export default {
	name: 'ConsultantSidebar',

	components: {
		Snackbar,
		ConsultantButton,
		MenuItem
	},

	props: {
		value: {
			type: Boolean,
			required: true
		},
		right: Boolean
	},

	data() {
		return {
			sidebarMenus: sidebarMenus,
			loadingLogout: false,
			snackbarOpened: false
		};
	},

	computed: {
		isAdminConsultant() {
			return this.$store.getters.isAdminConsultant;
		}
	},

	watch: {
		isAdminConsultant: {
			immediate: true,
			handler(isConsultant) {
				this.hideMenuNonConsultant(isConsultant);
			}
		},
		value: {
			immediate: false,
			handler(isOpen) {
				this.handleOpenSidebar(isOpen);
			}
		}
	},

	created() {
		this.listenAmountDataChanged();
	},

	methods: {
		listenAmountDataChanged() {
			EventBus.$on(
				'SET_NOTIFICATION_ON_SIDEBAR',
				this.handleSetNotificationOnMenu
			);
		},

		closeSidebar() {
			this.$emit('input', false);
		},

		handleSetNotificationOnMenu(dashboardDataLists) {
			if (dashboardDataLists && dashboardDataLists.constructor === Object) {
				this.sidebarMenus = this.sidebarMenus.map(eachMenu => {
					const menu = { ...eachMenu };
					if (
						menu.key &&
						Object.hasOwnProperty.call(dashboardDataLists, menu.key)
					) {
						menu.hasNotify = !!dashboardDataLists[menu.key];
					}
					if (menu.child && menu.child.length) {
						menu.child = menu.child.map(eachChild => {
							return {
								...eachChild,
								hasNotify:
									eachChild.key &&
									Object.hasOwnProperty.call(
										dashboardDataLists,
										eachChild.key
									) &&
									!!dashboardDataLists[eachChild.key]
							};
						});

						if (menu.child.some(eachChild => eachChild.hasNotify)) {
							menu.hasNotify = true;
						}
					}
					return menu;
				});
			} else {
				const error = new TypeError(
					'type of bus event "SET_NOTIFICATION_ON_SIDEBAR" must object'
				);
				bugsnagClient.notify(error);
			}
		},

		handleClickMenu(data) {
			if (
				data.pathName === null &&
				Object.hasOwnProperty.call(data, 'action') &&
				typeof data.action === 'function'
			) {
				data.action(this.handleCallbackActionMenu);
			} else if (data.pathName) {
				this.goToPage(data.pathName);
			}
		},

		goToPage(pathName) {
			if (pathName === this.$route.name && this.$route.name === 'dashboard') {
				EventBus.$emit('REFRESH_DASHBOARD');
			} else {
				this.$router.push({ name: pathName }).catch(() => {});
			}
			this.closeSidebar();
		},

		handleCallbackActionMenu(type) {
			switch (type) {
				case 'logout':
					this.snackbarOpened = true;
					break;
			}
		},

		handleLogoutAccount() {
			this.loadingLogout = true;
			axios.get('/logout')
				.then(response => {
					if (response.data.status === 'success') {
						this.snackbarOpened = false;
						clearToken();
						removeCredential();
						this.$store.commit('resetState');
						const baseURL = window.location.origin;
						window.location.replace(baseURL + '/consultant-tools/');
					}
				})
				.catch((error) => {
					if (error.response && error.response.status !== 401) {
						EventBus.$emit(
							'openAlert',
							'Logout gagal silahkan coba lagi atau refresh halaman anda.'
						);
					}
				})
				.finally(() => {
					this.loadingLogout = false;
				})
		},

		hideMenuNonConsultant(isConsultant) {
			function hideMenu(menus) {
				const menuUpdated = [];

				for (const menu of menus) {
					if (menu.child && menu.child.length) {
						menu.child = hideMenu(menu.child);
					}

					menuUpdated.push({
						...menu,
						hide:
							!isConsultant && ID_HIDDEN_NON_CONSULTANT_MENU.includes(menu.id)
					});
				}

				return menuUpdated;
			}

			this.sidebarMenus = hideMenu(this.sidebarMenus);
		},

		sleep(time) {
			return new Promise(resolve => {
				setTimeout(() => {
					resolve(true);
				}, time);
			});
		},

		async handleOpenSidebar(isOpen) {
			if (isOpen) {
				if (this.right) {
					this.$el.style.display = 'none';
					this.$el.classList.add('--move-to-right');

					await this.sleep(0);
					this.$el.style.display = 'block';
					await this.sleep(10);
					this.$el.classList.add('--is-opened');
				} else {
					this.$el.classList.add('--is-opened');
				}
			} else {
				if (this.right) {
					this.$el.classList.remove('--is-opened');
					await this.sleep(300);
					this.$el.style.display = 'none';
					this.$el.classList.remove('--move-to-right');
				} else {
					this.$el.classList.remove('--is-opened');
				}
			}
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.consultant-sidebar {
	.consultant-sidebar__bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 8;
		display: none;
		background-color: rgba(0, 0, 0, 0.58);
		opacity: 0;
	}

	.consultant-sidebar__content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		width: 260px;
		min-height: 328px;
		padding: unset;
		background-color: #fff;
		box-shadow: 0 0 10px 0 rgba(185, 185, 185, 0.2);
		transition: transform 0.3s ease-in-out;
		transform: translateX(-200%);

		@include variant('.--move-to-right') {
			right: 0;
			left: unset;
			transform: translateX(200%);
		}

		.close-button {
			display: flex;
			padding: 20px;
			align-items: center;
			justify-content: flex-end;

			/* stylelint-disable-next-line */
			> img {
				cursor: pointer;
			}
		}

		.sidebar__menu {
			padding: unset;
			list-style: none;
		}
	}

	// sidebar open
	&.--is-opened {
		.consultant-sidebar__bg {
			display: block;
			animation-name: FadeIn;
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
			animation-timing-function: linear;
			animation-delay: 0.3s;
		}
		.consultant-sidebar__content {
			transition: transform 0.3s ease-in;
			transform: translateX(0%);
		}
	}
}

@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
</style>
