<template>
	<li class="menu-item" :class="menuClassName">
		<div class="menu__content" @click="handleClickMenu">
			<span class="menu__icon">
				<img
					:src="`/general/img/icons/${menu.icon}`"
					:alt="`Icon ${menu.title}`"
				/>
			</span>
			<span class="menu__title">
				{{ menu.title }}
			</span>
		</div>
		<ul class="menu__child">
			<template v-for="(child, indexChild) in menu.child">
				<li
					v-if="!child.hide"
					:key="`child-${indexChild}`"
					class="menu-item menu__child-item"
					:class="childClassName(child)"
				>
					<div class="menu__content" @click="onClickMenu(child)">
						<span class="menu__title">
							{{ child.title }}
						</span>
					</div>
				</li>
			</template>
		</ul>
	</li>
</template>

<script>
export default {
	name: 'MenuItem',

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			menu: {}
		};
	},

	computed: {
		menuClassName() {
			return {
				'has-notify': this.menu.hasNotify,
				'has-children': this.menu.child,
				'is--expanded': this.menu.child && this.menu.expanded,
				'menu--disabled': !!this.menu.disabled
			};
		},
		childClassName() {
			return child => ({
				'has-notify': child.hasNotify,
				'menu--disabled': child.disabled
			});
		}
	},

	watch: {
		item: {
			immediate: true,
			handler(value) {
				this.menu = { ...value };
			}
		}
	},

	methods: {
		onClickMenu(value) {
			if (!value.disabled) {
				this.$emit('click', value);
			}
		},

		handleClickMenu() {
			if (
				Object.hasOwnProperty.call(this.menu, 'child') &&
				this.menu.child.length
			) {
				this.menu.expanded = !this.menu.expanded;
			} else {
				this.onClickMenu(this.menu);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.menu-item {
	.menu__content {
		display: flex;
		padding: 20px;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: #f9f9f9;
		}

		&:active {
			background-color: #f4f4f4;
		}

		@include variant('.menu--disabled') {
			cursor: default;
			&:hover,
			&:active {
				background-color: transparent;
			}
		}

		.menu__icon {
			display: flex;
			width: 28px;
			margin-right: 20px;
			justify-content: center;

			@include variant('.menu--disabled') {
				/* stylelint-disable-next-line */
				img {
					filter: grayscale(1);
					opacity: 0.3;
				}
			}
		}

		.menu__title {
			font-size: 14px;
			font-weight: bold;

			@include variant('.menu--disabled') {
				color: #ccc;
			}
		}
	}

	&.has-children {
		> .menu__child {
			max-height: 0;
			padding: unset;
			overflow: hidden;
			list-style: none;
			transition: max-height 0.3s linear;

			/* stylelint-disable-next-line */
			> .menu-item.menu__child-item {
				/* stylelint-disable-next-line */
				.menu__content {
					padding-left: 70px;
				}
			}
		}

		&.is--expanded {
			> .menu__child {
				max-height: 400px;
				transition: max-height 0.3s linear;
			}
		}
	}
}
// dot notification
.has-notify {
	> .menu__content {
		> .menu__title {
			position: relative;
			&::after {
				position: absolute;
				top: 0;
				right: -10px;
				display: inline-block;
				width: 8px;
				height: 8px;
				content: '';
				background-color: #e04205;
				border-radius: 50%;
			}
		}
	}
}
</style>
