<template>
	<div id="advantage-list" class="advantage-list">
		<div
			v-for="(advantage, index) in advantages"
			:key="index"
			class="advantage-list__card"
			:class="{ active: index === currentIndex }"
			@click="$emit('listClicked', index)"
		>
			<span
				class="advantage-list__count"
				:class="{ active: index === currentIndex }"
				>{{ index | padNumber }}</span
			>
			<span
				class="advantage-list__title"
				:class="{ active: index === currentIndex }"
			>
				{{ advantage.title }}
				<p v-if="advantage.isComingSoon" class="coming-soon">Segera Hadir</p>
			</span>
		</div>
	</div>
</template>

<script>
export default {
	filters: {
		padNumber(val) {
			const queue = val + 1;
			return String(queue).padStart(2, '0');
		}
	},

	props: {
		currentIndex: {
			type: Number,
			required: true
		},
		advantages: {
			type: Array,
			required: true
		}
	},

	watch: {
		currentIndex: function(value) {
			this.handleScroll();
		}
	},

	mounted() {
		this.handleScroll();
	},

	methods: {
		handleScroll() {
			const element = document.getElementById('advantage-list');

			var maxScrollLeft = element.scrollWidth - element.clientWidth;

			if (this.currentIndex > 4) {
				element.scrollLeft = maxScrollLeft;
			} else {
				element.scrollLeft = 0;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.advantage-list {
	display: flex;
	margin-top: 83px;
	padding-bottom: 20px;
	overflow-x: hidden;

	&__card {
		display: flex;
		padding: 16px 14px;
		min-width: 210px;
		cursor: pointer;

		.coming-soon {
			background: #f6f6f6;
			border-radius: 30px;
			padding: 4px 8px;
			margin-top: 6px;
			margin-bottom: 0;
			opacity: 0.4;
		}

		&.active {
			box-shadow: 0px 8px 24px rgba(56, 55, 70, 0.08);
			border-radius: 16px;

			.coming-soon {
				background: #fad686;
				opacity: 1;
			}
		}
	}

	&__count {
		font-weight: 800;
		font-size: 28px;
		line-height: 30px;
		margin-right: 8px;
		color: #bbbbbb;

		&.active {
			color: #000000;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #bbbbbb;

		&.active {
			color: #535353;
		}
	}
}
</style>
