body {
	position: relative;
	overflow-x: hidden;
}

[v-cloak] {
	display: none !important;
}

.resize-observer {
	display: none !important;
}

img:-moz-loading {
	visibility: hidden;
}

a {
	cursor: pointer;
}

label {
	&.horizontal {
		margin-bottom: 0;
	}
}

label.checkbox:not(.active) {
	> .icon {
		background-color: #fff !important;
	}
}

select,
select.btn,
select.form-control {
	vertical-align: middle;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
		no-repeat right 0.75rem center/8px 10px;
	background-size: 8px 10px;
	appearance: none;
	padding-right: 2rem;
}

.form-control {
	height: 3em;

	&:focus {
		border-color: $brand-primary !important;
		box-shadow: none !important;
	}
}

.btn {
	border-radius: 3px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
	outline: none;
}

.btn-success {
	color: $brand-primary;
	background-color: #fff;
	border-color: #229622;
}

.btn-warning {
	color: $brand-info;
	background-color: #fff;
	border-color: #fe3d11;
}

.btn-disabled,
.btn-disabled:focus,
.btn-disabled:hover,
.btn-disabled:active {
	color: #fff;
	background-color: #9e9e9e;
	border-color: #9e9e9e;
}

.text-default {
	color: $text-color;
}

.text-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	font-weight: inherit;
}

.label-normalize {
	font-size: inherit;
	line-height: inherit;
	margin: 0 0 5px 0;
	font-weight: bold;
}

.dot-separator {
	font-size: 8px;
	color: #797979;
}

.stretch {
	padding-right: 0;
	padding-left: 0;
}

.stretch-r {
	padding-right: 0;
}

.stretch-l {
	padding-left: 0;
}

@media (max-width: 767px) {
	.stretch-xs {
		padding-right: 0;
		padding-left: 0;
	}

	.stretch-r-xs {
		padding-right: 0;
	}

	.stretch-l-xs {
		padding-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.stretch-sm {
		padding-right: 0;
		padding-left: 0;
	}

	.stretch-r-sm {
		padding-right: 0;
	}

	.stretch-l-sm {
		padding-left: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.stretch-md {
		padding-right: 0;
		padding-left: 0;
	}

	.stretch-r-md {
		padding-right: 0;
	}

	.stretch-l-md {
		padding-left: 0;
	}
}

@media (min-width: 1200px) {
	.stretch-lg {
		padding-right: 0;
		padding-left: 0;
	}

	.stretch-r-lg {
		padding-right: 0;
	}

	.stretch-l-lg {
		padding-left: 0;
	}
}

.material-card {
	background: #fff;
	border-radius: 2px;
	position: relative;
}

.material-card-list {
	@media (min-width: 992px) {
		&:hover {
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
		}
	}
}

.material-card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	@media (min-width: 992px) {
		&:hover {
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
				0 10px 10px rgba(0, 0, 0, 0.22);
		}
	}
}

.material-card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-card-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-card-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-card-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.swal2-container {
	z-index: 99901 !important;
}

.toasted-default {
	background-color: #383746 !important;
	color: #fff !important;
}

.btn-group {
	.dropdown-menu .bs-searchbox input:focus,
	.form-control.dropdown-toggle:focus {
		border-color: #1baa56 !important;
	}
}

.borderless-form {
	border: none;
	border-bottom: 2px solid #dbdbdb;
	padding: 8px 0 8px;
	font-size: 16px;
	line-height: 24px;
	color: #383746;
	cursor: text;

	&:disabled {
		background: transparent;
		cursor: default;
		pointer-events: none;
		color: #dbdbdb;
		border-color: #dbdbdb;
	}

	&:focus {
		border-color: $brand-primary;
		caret-color: $brand-primary;
		outline: none;
	}

	&::placeholder {
		color: #dbdbdb;
	}
}

.search-placeholder {
	border: 1px solid #C2CDD8;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px;
	color: #A5B2BE;
	font-size: 16px;
	cursor: pointer;
	display: block;
	&:hover {
		color: #A5B2BE;
		text-decoration: none;
	}
	.mamikos-icon {
		color: #617485;
		margin-right: 12px;
	}
}