/* stylelint-disable */

[class^="mamikos-icon"]:before,
[class*=" icon-"]:before {
	font-family: "mamikos-icon";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	// margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	// margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
@font-face {
	font-family: 'mamikos-icon';
	src: url('/general/fonts/mamikos-icon/mamikos-icon.eot?62477525');
	src: url('/general/fonts/mamikos-icon/mamikos-icon.eot?62477525#iefix') format('embedded-opentype'),
		url('/general/fonts/mamikos-icon/mamikos-icon.woff2?62477525') format('woff2'),
		url('/general/fonts/mamikos-icon/mamikos-icon.woff?62477525') format('woff'),
		url('/general/fonts/mamikos-icon/mamikos-icon.ttf?62477525') format('truetype'),
		url('/general/fonts/mamikos-icon/mamikos-icon.svg?62477525#mamikos-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: 'mamikos-icon';
			src: url('../font/mamikos-icon.svg?12427469#mamikos-icon') format('svg');
		}
	}
	*/

.mamikos-icon {
	// alias
	&.icon-delete:before { content: '\e84c'; } /* '' */
	// -------------------------------------------------------
	&.icon-add-square:before { content: '\e82b'; } /* '' */
	&.icon-add:before { content: '\e809'; } /* '' */
	&.icon-adjustment:before { content: '\e83a'; } /* '' */
	&.icon-app-drawer:before { content: '\e819'; } /* '' */
	&.icon-area:before { content: '\e831'; } /* '' */
	&.icon-arrow-down:before { content: '\e803'; } /* '' */
	&.icon-arrow-right-long:before { content: '\e813'; } /* '' */
	&.icon-bed:before { content: '\e83b'; } /* '' */
	&.icon-billing:before { content: '\e804'; } /* '' */
	&.icon-bin-filled:before { content: '\e82c'; } /* '' */
	&.icon-bin:before { content: '\e84c'; } /* '' */
	&.icon-board:before { content: '\e805'; } /* '' */
	&.icon-bookmark:before { content: '\e814'; } /* '' */
	&.icon-box:before { content: '\e826'; } /* '' */
	&.icon-building:before { content: '\e836'; } /* '' */
	&.icon-burger-menu:before { content: '\e81b'; } /* '' */
	&.icon-calendar-alt:before { content: '\e83c'; } /* '' */
	&.icon-calendar-filled:before { content: '\e81d'; } /* '' */
	&.icon-calendar:before { content: '\e81c'; } /* '' */
	&.icon-checked-box:before { content: '\e806'; } /* '' */
	&.icon-checked-circle:before { content: '\e81e'; } /* '' */
	&.icon-checkmark:before { content: '\e802'; } /* '' */
	&.icon-chevron-right:before { content: '\e815'; } /* '' */
	&.icon-chevron-up-circle:before { content: '\e807'; } /* '' */
	&.icon-circle:before { content: '\e827'; } /* '' */
	&.icon-clock:before { content: '\e83d'; } /* '' */
	&.icon-comment:before { content: '\e820'; } /* '' */
	&.icon-copy:before { content: '\e801'; } /* '' */
	&.icon-cross-circle-outline:before { content: '\e840'; } /* '' */
	&.icon-cross-circle:before { content: '\e808'; } /* '' */
	&.icon-cross:before { content: '\e821'; } /* '' */
	&.icon-data-lead:before { content: '\e832'; } /* '' */
	&.icon-edit-1:before { content: '\e816'; } /* '' */
	&.icon-edit:before { content: '\e800'; } /* '' */
	&.icon-email:before { content: '\e812'; } /* '' */
	&.icon-file-bookmark:before { content: '\e838'; } /* '' */
	&.icon-file-filled:before { content: '\e82d'; } /* '' */
	&.icon-file:before { content: '\e80a'; } /* '' */
	&.icon-home-circle:before { content: '\e80c'; } /* '' */
	&.icon-home:before { content: '\e80b'; } /* '' */
	&.icon-house-front:before { content: '\e83e'; } /* '' */
	&.icon-image:before { content: '\e830'; } /* '' */
	&.icon-info:before { content: '\e80d'; } /* '' */
	&.icon-label:before { content: '\e822'; } /* '' */
	&.icon-lightbulb:before { content: '\e817'; } /* '' */
	&.icon-location:before { content: '\e81f'; } /* '' */
	&.icon-more-vertical:before { content: '\e82a'; } /* '' */
	&.icon-note:before { content: '\e82e'; } /* '' */
	&.icon-phone-outline:before { content: '\e83f'; } /* '' */
	&.icon-phone:before { content: '\e80e'; } /* '' */
	&.icon-priority:before { content: '\e828'; } /* '' */
	&.icon-product:before { content: '\e829'; } /* '' */
	&.icon-room-inside:before { content: '\e81a'; } /* '' */
	&.icon-search:before { content: '\e823'; } /* '' */
	&.icon-selection:before { content: '\e825'; } /* '' */
	&.icon-send:before { content: '\e818'; } /* '' */
	&.icon-shortcut:before { content: '\e824'; } /* '' */
	&.icon-slider-h:before { content: '\e834'; } /* '' */
	&.icon-sort:before { content: '\e835'; } /* '' */
	&.icon-stopwatch:before { content: '\e833'; } /* '' */
	&.icon-user-circle-fill:before { content: '\e810'; } /* '' */
	&.icon-user-circle-outline:before { content: '\e811'; } /* '' */
	&.icon-user-simple:before { content: '\e839'; } /* '' */
	&.icon-user:before { content: '\e80f'; } /* '' */
	&.icon-users:before { content: '\e837'; } /* '' */
	&.icon-whatsapp:before { content: '\e841'; } /* '' */
}
