// Bootstrap3
$body-bg: #fff;
$brand-primary: #1baa56;
$brand-success: #1baa56;
$brand-info: #ec4a0c;
$brand-warning: #ec4a0c;
$brand-danger: #f42;
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.75;
$text-color: #383746;

$gender-color-male: #078fca;
$gender-color-female: #d80c42;
$gender-color-mix: #860eb7;

$colors: (
	brand: (
		primary: #1baa56,
		success: #1baa56,
		info: #ec4a0c,
		warning: #ec4a0c,
		danger: #f42
	),
	gender: (
		male: #078fca,
		female: #d80c42,
		mix: #860eb7
	),
	link: (
		active: #1baa56,
		disabled: #999
	),
	background: (
		success: #e8f7ee,
		warning: #f9ede7
	),
	text: (
		payment-warning: #ff863a,
		information: #727272
	),
	border: (
		grey: #f5f5f5
	)
);
