<template>
	<div class="manage-booking-info-card">
		<div class="card-body">
			<manage-booking-status-handle
				:status-booking="bookingDetail.status"
				:status-label="bookingDetail.status_label"
			/>
			<h6 class="card-title">Waktu Pemesanan:</h6>
			<p class="card-date">{{ requestDate || '-' }}</p>
			<table class="card-table">
				<tr>
					<td>Mulai Sewa:</td>
					<td class="date-checkin">{{ checkinDate || '-' }}</td>
				</tr>
				<tr>
					<td>Sewa Berakhir:</td>
					<td class="date-checkout">{{ checkoutDate || '-' }}</td>
				</tr>
				<tr>
					<td>Durasi Sewa:</td>
					<td class="rent-duration">{{ bookingDetail.duration || '-' }}</td>
				</tr>
			</table>
		</div>
		<div class="card-footer" :class="{ 'is-empty': isNoActionButton }">
			<manage-booking-due-date
				class="card-footer__due-date"
				:status="bookingDetail.status"
				:due-date="bookingDetail.confirm_expired_date"
			/>
			<manage-booking-action-button
				:booking-data="bookingDetail"
				size="large"
				is-detail-booking
				is-info-card
			/>
		</div>
	</div>
</template>

<script>
import ManageBookingStatusHandle from '../ManageBookingStatusHandle';
import ManageBookingActionButton from '../ManageBookingActionButton';
import ManageBookingDueDate from '../ManageBookingDueDate';

export default {
	components: {
		ManageBookingStatusHandle,
		ManageBookingActionButton,
		ManageBookingDueDate
	},
	props: {
		bookingDetail: {
			type: Object,
			required: true
		}
	},
	computed: {
		requestDate() {
			return this.formatDate(
				this.bookingDetail.request_date,
				'D MMMM YYYY, Pukul HH:mm'
			);
		},
		checkinDate() {
			return this.formatDate(this.bookingDetail.checkin_date, 'D MMMM YYYY');
		},
		checkoutDate() {
			return this.formatDate(this.bookingDetail.checkout_date, 'D MMMM YYYY');
		},
		isNoActionButton() {
			return !['booked', 'confirmed', 'paid', 'verified'].includes(
				this.bookingDetail.status
			);
		}
	},
	methods: {
		formatDate(date, format) {
			if (!!date && this.$dayjs(date).isValid()) {
				return this.$dayjs(date)
					.locale('id')
					.format(format);
			}
			return '';
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-info-card {
	border-radius: 16px;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	.card-title {
		margin: 12px 0 4px;
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}

	.card-body {
		padding: 24px 24px 20px;
	}

	.card-date {
		margin-bottom: 20px;
	}

	.card-table {
		width: 100%;

		> tr {
			&:not(:last-of-type) {
				> td {
					padding-bottom: 8px;
				}
			}

			> td {
				font-size: 16px;
				line-height: 24px;
				color: #949494;

				&:last-of-type {
					font-weight: bold;
					color: #404040;
					text-align: right;
				}
			}
		}
	}

	.card-footer {
		padding: 16px 24px 24px;
		border-top: 1px solid #e8e8e8;

		&__due-date {
			display: block;
			margin-bottom: 8px;
		}

		&.is-empty {
			padding-top: 0;
			border-color: transparent;
		}
	}
}
</style>
