<template>
	<div class="manage-booking-tenant-info">
		<div class="tenant-info-main">
			<div class="tenant-info-contact">
				<div class="tenant-avatar">
					<img
						v-lazy="{
							src: tenantAvatar,
							loading: defaultTenantAvatar,
							error: defaultTenantAvatar
						}"
						class="tenant-avatar__image"
						alt="tenant avatar"
					/>
				</div>
				<div>
					<h6 class="tenant-name">{{ bookingDetail.name }}</h6>
					<div class="tenant-phone">{{ phoneNumber }}</div>
				</div>
				<manage-booking-action-button
					class="tenant-chat-button"
					type="chat"
					action-text="Chat"
					is-detail-booking
					:booking-data="bookingDetail"
				/>
			</div>

			<mami-info
				v-if="!isStatusPaidOrVerified"
				class="tenant-phone-disclaimer"
				variant="info"
				alignment="top"
				is-rounded
			>
				Nomor Handphone akan muncul setelah penyewa membayar
			</mami-info>

			<div class="tenant-description">
				<div class="content-title">{{ descriptionInfo.title }}</div>
				<p class="tenant-description__content">
					<i>{{ descriptionInfo.description || '-' }}</i>
				</p>
			</div>

			<manage-booking-detail-id
				class="tenant-id"
				:id-photo="photoIds.idPhoto"
				:selfie-photo="photoIds.selfiePhoto"
			/>
		</div>

		<manage-booking-detail-info
			class="tenant-info-detail"
			:booking-detail="bookingDetail"
			:is-status-success-or-verified="isStatusPaidOrVerified"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import ManageBookingDetailId from '../ManageBookingDetailId';
import ManageBookingDetailInfo from '../ManageBookingDetailInfo';
import ManageBookingActionButton from '../ManageBookingActionButton';

const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		MamiInfo,
		ManageBookingDetailId,
		ManageBookingDetailInfo,
		ManageBookingActionButton
	},
	props: {
		bookingDetail: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			defaultTenantAvatar: '/general/img/pictures/default-profile-avatar.svg'
		};
	},
	computed: {
		photoIds() {
			return {
				idPhoto: _get(this.bookingDetail, 'id_photo.medium', ''),
				selfiePhoto: _get(this.bookingDetail, 'selfie_photo.medium', '')
			};
		},
		tenantAvatar() {
			return (
				_get(this.bookingDetail, 'photo.medium') || this.defaultTenantAvatar
			);
		},
		isStatusPaidOrVerified() {
			return ['paid', 'verified'].includes(this.bookingDetail.status);
		},
		isStatusBookedOrConfirmed() {
			return ['booked', 'confirmed'].includes(this.bookingDetail.status);
		},
		isStatusTerminated() {
			return this.bookingDetail.status === 'terminated';
		},
		phoneNumber() {
			const phoneNumber = _get(this.bookingDetail, 'phone_number', '');
			return this.isStatusPaidOrVerified
				? phoneNumber
				: phoneNumber.replace(/\d{3}$/g, 'XXX');
		},
		descriptionInfo() {
			if (this.isShowTerminatedReason) {
				if (this.bookingDetail.status === 'cancelled') {
					return {
						title: 'Alasan:',
						description: this.bookingDetail.cancel_reason
					};
				}
				return {
					title: 'Alasan:',
					description: this.bookingDetail.reject_reason
				};
			}

			return {
				title: 'Tentang Penyewa:',
				description: this.bookingDetail.about_renter
			};
		},
		isShowTerminatedReason() {
			return (
				!this.isStatusBookedOrConfirmed &&
				!this.isStatusPaidOrVerified &&
				!this.isStatusTerminated
			);
		}
	}
};
</script>

<style lang="scss">
.manage-booking-tenant-info {
	.tenant-chat-button {
		> * {
			width: 98px;
			min-width: 98px;
		}
	}
}
</style>

<style lang="scss" scoped>
.manage-booking-tenant-info {
	font-size: 16px;
	line-height: 24px;
	color: #404040;

	* {
		word-break: break-word;
	}

	.tenant-info-main {
		padding: 32px 0;
		border-top: 1px solid #e8e8e8;

		> *:not(:last-of-type) {
			margin-bottom: 16px;
		}
	}

	.tenant-info-contact {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.tenant-avatar {
		flex-shrink: 0;

		&__image {
			width: 56px;
			height: 56px;
			margin-right: 16px;
			background-color: #e8e8e8;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}
	}

	.tenant-name {
		margin: 0;
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}

	.tenant-chat-button {
		flex-shrink: 0;
		margin-left: 16px;
	}

	.content-title {
		margin: 4px 0;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
	}

	.tenant-description {
		padding: 12px 16px;
		background-color: #fafafa;
		border-radius: 8px;

		&__content {
			margin: 0;
		}
	}
}
</style>
