<template>
	<div class="price-estimation-skeleton">
		<skeleton-loader width="255px" height="32px" />
		<div class="price-estimation-skeleton__inline">
			<skeleton-loader
				v-for="i in 3"
				:key="`price-estimation-skeleton-2-${i}`"
				width="84px"
				height="24px"
			/>
		</div>
		<skeleton-loader
			v-for="i in 7"
			:key="`price-estimation-skeleton-3-${i}`"
			width="100%"
			height="24px"
		/>
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';
export default {
	components: {
		SkeletonLoader
	}
};
</script>

<style lang="scss" scoped>
.price-estimation-skeleton {
	display: flex;
	flex-direction: column;

	&__inline {
		display: flex;

		> *:not(:first-of-type) {
			margin-left: 20px;
		}
	}

	> * {
		&:not(:last-child) {
			margin-bottom: 24px;
		}

		&:nth-child(2) {
			margin-bottom: 40px;
		}
	}
}
</style>
