<template>
	<div class="rent-type-select">
		<rent-type-radio
			v-for="rentCountType in shortedRentCountTypeOptions"
			:key="rentCountType.type"
			v-model="rentTypeParams"
			class="rent-type-select__option"
			:selected-value="rentCountType.type"
		>
			{{ rentCountType.unitLabel }}
		</rent-type-radio>
	</div>
</template>

<script>
import MixinPriceDetail from '../../../mixins/MixinPriceDetail';
import { radio } from 'vue-strap';

export default {
	components: {
		RentTypeRadio: radio
	},
	mixins: [MixinPriceDetail],
	computed: {
		selectedRentType: {
			get() {
				return this.rentTypeParams;
			},
			set(selectedRentType) {
				this.rentTypeParams = selectedRentType;
				this.$store.commit('setIsOverrideDraftRentCountType', true);
			}
		},
		shortedRentCountTypeOptions() {
			const shortedRentCountTypeOptions = [];
			[
				'monthly',
				'quarterly',
				'semiannually',
				'yearly',
				'weekly',
				'daily'
			].forEach(type => {
				!!this.availablePrices[type] &&
					shortedRentCountTypeOptions.push(this.availablePrices[type]);
			});
			return shortedRentCountTypeOptions;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type, selector-no-qualifying-type */
.rent-type-select {
	& &__option {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 12px;
		margin: 0 4px;
		color: #404040;
		border: 1px solid #e8e8e8;
		border-radius: 18px;
		flex-shrink: 0;

		label {
			min-height: 0;
			padding: 0;
			font-size: 14px;
			line-height: 20px;
		}

		input[type='radio'],
		.icon {
			visibility: hidden;
		}

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&.active {
			color: #303030;
			background-color: #fff;
			border-color: #303030;
		}
	}
}
</style>

<style lang="scss" scoped>
.rent-type-select {
	display: flex;
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}
</style>
