<template>
	<div
		:class="{
			'kost-price-item--nested': price.items && isMany && isShowPriceItemList,
			'is-bold': isBold,
			'is-bolder': isBolder
		}"
		class="kost-price-item"
	>
		<div
			v-if="!isHideLabel"
			class="kost-price-item__label"
			:class="{
				'is-underline is-clickable': isClickablePriceLabel,
				'is-highlighted': isHighlighted
			}"
			@click="handlePriceLabelClicked"
		>
			{{ price.name || '-' }}
			<detail-kost-price-info
				v-if="price.info && isShowInfo"
				class="kost-price-item__info pointer-event-auto"
				:content="price.info"
				@click="showInfoMobile(price.info)"
				@show-info="$emit('show-info', price.info)"
			/>
		</div>
		<div
			v-if="(isMany && !isShowPriceItemList) || !isMany"
			class="kost-price-item__amount"
			:class="{ 'is-highlighted': price.highlighted || isHighlighted }"
		>
			<template>
				{{ price.priceLabel || formatCurrency(price.price) }}
			</template>
		</div>
		<ul
			v-else-if="
				price.items && price.items.length > 0 && isMany && isShowPriceItemList
			"
			class="kost-price-item__list"
			:class="{ 'kost-price-item__list--flat': isFlatNesting }"
		>
			<template v-for="(priceItem, i) in price.items">
				<li :key="`${price.type}-item-${i}`" class="kost-price-item__list-item">
					<div>
						<span>{{ priceItem.name }}</span>
						<span class="kost-price-item__amount">
							{{ priceItem.priceLabel || formatCurrency(priceItem.price) }}
						</span>
					</div>
				</li>
			</template>
		</ul>
	</div>
</template>

<script>
import { formatCurrency } from 'Js/@utils/currencyString.js';
import DetailKostPriceInfo from './DetailKostPriceInfo';

export default {
	components: {
		DetailKostPriceInfo
	},
	props: {
		price: {
			type: Object,
			required: true
		},
		isMany: {
			type: Boolean,
			default: false
		},
		isFlatNesting: {
			type: Boolean,
			default: false
		},
		isShowPriceItemList: {
			type: Boolean,
			default: true
		},
		isClickablePriceLabel: {
			type: Boolean,
			default: false
		},
		isHideLabel: {
			type: Boolean,
			default: false
		},
		isShowInfo: {
			type: Boolean,
			default: true
		},
		isBolder: {
			type: Boolean,
			default: false
		},
		isBold: {
			type: Boolean,
			default: false
		},
		isHighlighted: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		formatCurrency,
		handlePriceLabelClicked() {
			this.isClickablePriceLabel &&
				this.$emit('price-label-clicked', this.price);
		},
		showInfoMobile(priceInfo) {
			if (this.navigator.isMobile) {
				this.$emit('show-info', priceInfo);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-price-item {
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	color: #404040;

	* {
		word-break: break-word;
	}

	&,
	&__list-item {
		display: flex;
		width: 100%;
		padding: 8px 0;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__amount {
		margin-left: 8px;
		font-weight: bold;
		color: #303030;
		flex-shrink: 0;
	}

	&__label {
		pointer-events: none;
	}

	$this: &;

	&--nested {
		padding: 0;
		flex-direction: column;
		justify-content: flex-start;

		#{$this}__label {
			width: 100%;
			padding: 8px 0;
		}

		#{$this}__list {
			display: list-item;
			width: calc(100% - 20px);
			padding: 0;
			margin-bottom: 0;
			margin-inline-start: 20px;

			&-item {
				display: list-item;
				width: 100%;

				> * {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: flex-start;
				}
			}

			&--flat {
				display: flex;
				width: 100%;
				padding: 0;
				margin: 0;
				justify-content: space-between;
				align-items: flex-start;
				flex-direction: column;

				#{$this}__list-item {
					display: flex;
					width: 100%;
				}
			}
		}
	}

	&.is-bolder {
		font-weight: 900;
		color: #404040;

		#{$this}__amount {
			font-weight: inherit;
			color: inherit;
		}
	}

	&.is-bold {
		font-size: 18px;
		font-weight: bold;
		line-height: 26px;

		#{$this}__amount {
			font-weight: inherit;
		}
	}

	.is-highlighted {
		color: #1baa56;
	}

	.is-underline {
		text-decoration: underline;
	}

	.is-clickable {
		pointer-events: auto;
		cursor: pointer;
	}

	.pointer-event-auto {
		pointer-events: auto;
	}
}
</style>
