<template>
	<span
		v-if="isMobile"
		class="detail-kost-price-info"
		@click="$emit('show-info')"
	>
		<icon-question-round />
	</span>
	<span
		v-else
		v-tooltip="{
			content,
			placement
		}"
		class="detail-kost-price-info"
	>
		<icon-question-round />
	</span>
</template>

<script>
import IconQuestionRound from 'Js/@icons/QuestionRound';
import { VTooltip } from 'v-tooltip';

export default {
	directives: {
		tooltip: VTooltip
	},
	components: {
		IconQuestionRound
	},
	props: {
		content: {
			type: String,
			default: ''
		},
		placement: {
			type: String,
			default: 'bottom'
		}
	},
	computed: {
		isMobile() {
			return this.navigator.isMobile;
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-type */
body {
	// override relative body position for tooltip placement
	position: static;
}

.tooltip {
	z-index: 10000;
	display: block !important;
	.tooltip-inner {
		width: 328px;
		min-width: 328px;
		padding: 16px;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		text-align: left;
		background: #303030;
		border-radius: 4px;
	}
	.tooltip-arrow {
		position: absolute;
		z-index: 1;
		width: 0;
		height: 0;
		margin: 5px;
		border-color: #303030;
		border-style: solid;
	}
	&[x-placement^='top'] {
		margin-bottom: 5px;
		.tooltip-arrow {
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
			border-width: 5px 5px 0;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
		}
	}
	&[x-placement^='bottom'] {
		margin-top: 5px;
		.tooltip-arrow {
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
			border-width: 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-left-color: transparent !important;
		}
	}
	&[x-placement^='right'] {
		margin-left: 5px;
		.tooltip-arrow {
			top: calc(50% - 5px);
			left: -5px;
			margin-right: 0;
			margin-left: 0;
			border-width: 5px 5px 5px 0;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
		}
	}
	&[x-placement^='left'] {
		margin-right: 5px;
		.tooltip-arrow {
			top: calc(50% - 5px);
			right: -5px;
			margin-right: 0;
			margin-left: 0;
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
		}
	}
	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s, visibility 0.15s;
	}
	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.15s;
	}
}
</style>

<style lang="scss" scoped>
.detail-kost-price-info {
	position: relative;
	bottom: -6px;
	display: inline-block;
	margin-top: -6px;
	line-height: 0;
	color: #757575;
}
</style>
