<template>
	<div class="ct-file-upload" :class="rootClassNames">
		<div class="ct-file-upload__wrapper">
			<div class="ct-file-upload__preview">
				<div class="file-preview-wrapper">
					<div class="preview__detail">
						<div class="preview__icon">
							<img :src="fileIcon" />
						</div>
						<div class="preview__filename">
							<div class="truncate">{{ filename }}</div>
						</div>
						<div v-show="loading" class="preview__loading"></div>
					</div>

					<div class="preview__action">
						<button v-if="loading" @click="handleCancelUpload">
							<i class="mamikos-icon icon-cross"></i>
						</button>
						<button v-else @click="handleDeleteFile">
							<i class="mamikos-icon icon-bin-filled"></i>
						</button>
					</div>

					<div v-if="deleteLoading" class="delete-loading">
						Deleting file...
					</div>
				</div>

				<div v-if="!hideMessage" class="ct-file-upload__message">
					<p class="error-text">{{ errorMessage }}</p>
				</div>
			</div>
			<div class="ct-file-upload__picker" @click="onClickPicker">
				<input
					ref="input"
					type="file"
					style="display: none"
					@change="handleFileChange"
				/>
				<div class="ct-file-upload__placeholder">
					<slot>
						<span>Pilih file</span>
					</slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Uploader from './Uploader';

export default {
	name: 'CtFileUploader',

	props: {
		/**
		 * endpoint of upload
		 */
		url: {
			type: String,
			required: true
		},
		paramName: {
			type: String,
			default: 'file'
		},
		maxFilesize: {
			type: Number,
			default: 2 // MB
		},
		acceptedFiles: {
			type: Array,
			default: () => []
		},
		hideMessage: Boolean
	},

	data() {
		return {
			loading: false,
			isInvalid: false,
			errorMessage: '',
			file: null,
			upload: null,
			deleteLoading: false,
			canRequestDelete: false
		};
	},

	computed: {
		rootClassNames() {
			return {
				'--dirty': !!this.file,
				'--loading': this.loading,
				'--hide-message': this.hideMessage,
				'--is-invalid': this.isInvalid,
				'delete-loading': this.deleteLoading
			};
		},
		filename() {
			return this.file ? this.file.name : '';
		},
		fileExtention() {
			const lastIndexOfDot = this.filename.lastIndexOf('.');
			if (lastIndexOfDot !== -1) {
				return this.filename.substring(lastIndexOfDot + 1);
			}
			return '';
		},
		fileIcon() {
			const ext = this.fileExtention;
			/* istanbul ignore next */
			if (ext === 'pdf') {
				return '/general/img/icons/ic_pdf_filetype.svg';
			} else if (/jpg|png|gif|jpeg/i.test(ext)) {
				return '/general/img/icons/ic_image_filetype.svg';
			} else if (/doc/i.test(ext)) {
				return '/general/img/icons/ic_word_filetype.svg';
			} else {
				return '/general/img/icons/ic_default_filetype.svg';
			}
		}
	},

	created() {
		this.upload = new Uploader({
			url: this.url,
			maxFilesize: this.maxFilesize,
			acceptedFiles: this.acceptedFiles,
			paramName: this.paramName
		});

		this.upload.on('progress', this.onUploading);
		this.upload.on('error', this.onError);
		this.upload.on('success', this.onSuccess);
	},

	methods: {
		onClickPicker /* istanbul ignore next */() {
			this.$refs.input.click();
		},

		handleFileChange(event) {
			const files = event.target.files;

			/* istanbul ignore if */
			if (!files.length) return;

			this.file = files[0];
			this.loading = true;
			this.upload.process(files[0]);
		},

		handleDeleteFile() {
			if (this.$listeners.delete && this.canRequestDelete) {
				this.$emit('delete');
			} else {
				this.reset();
			}
		},

		handleCancelUpload() {
			/* istanbul ignore else */
			if (confirm('Yakin ingin membatalkan upload')) {
				this.upload.cancel();
				this.reset();
			}
		},

		onUploading(percentage, file) {
			const loadingEl = this.$el.querySelector('.preview__loading');
			/* istanbul ignore else */
			if (loadingEl) {
				loadingEl.style.width = `${percentage}%`;
			}
		},

		onError(message, error, file) {
			this.loading = false;
			this.isInvalid = true;
			this.errorMessage = message;
			this.$emit('error', error, file);
		},

		onSuccess(response, file) {
			this.loading = false;
			this.canRequestDelete = true;
			this.$emit('success', response, file);
		},

		reset() {
			const input = this.$refs.input;
			this.file = null;
			this.isInvalid = false;
			this.errorMessage = '';
			input.value = '';
			this.deleteLoading = false;
			this.canRequestDelete = false;

			/* istanbul ignore next */
			if (!/safari/i.test(navigator.userAgent)) {
				input.type = '';
				input.type = 'file';
			}
		}
	}
};
</script>

<style lang="scss" scoped src="./style.scss"></style>
