<template>
	<manage-booking-reject-modal
		id="manageBookingReject"
		:show-modal="showModal"
		@closed="closeModalReject"
	>
		<div v-if="showModal" class="container">
			<div class="row">
				<div class="col-xs-6">
					<h1>
						Mengapa Anda
						<br />menolak permintaan <br />sewa penyewa ?
					</h1>
				</div>
				<div class="col-xs-6 reject-reason">
					<div class="reject-reason__options">
						<h4>Alasan menolak permintaan sewa</h4>
						<manage-booking-reject-options
							v-model="selectedReason"
							:reason-options="reasonOptions"
							:ignored-value="otherReasonId"
						/>
					</div>
					<div
						v-if="selectedReason === otherReasonId"
						class="reject-reason__other-reason"
					>
						<h4>Alasan lain</h4>
						<other-reject-reason-description
							v-model="otherReasonDescription"
							placeholder="Masukkan alasan lainnya di sini"
							:max-length="200"
						/>
					</div>
					<div class="reject-reason__tnc">
						<mami-checkbox v-model="isAcceptTermsAndConditions">
							Saya telah menyetujui
							<a
								href="https://help.mamikos.com/syarat-dan-ketentuan/?category=snk-pemilik&subCategory=bisa-booking-pemilik&slug=syarat-dan-ketentuan-bisa-booking-pemilik"
								target="_blank"
								rel="noopener"
								>Syarat & Ketentuan</a
							>
							untuk penolakan permintaan sewa penyewa.
						</mami-checkbox>
					</div>
					<div class="reject-reason__btn-action">
						<button class="btn btn-cancel" @click="closeModalReject">
							Batalkan
						</button>
						<button
							class="btn btn-primary btn-submit"
							:disabled="!formCompleted"
							@click="submitBookingRejectReason"
						>
							Ya, Tolak
						</button>
					</div>
				</div>
			</div>
		</div>
		<reject-booking-modal-intercept
			:show-modal="isShowRejectSuccessIntercept"
			@close="closeManageBookingReject"
		/>
		<mami-modal-error
			:show-modal="isModalError"
			:is-action-button="true"
			@press="onTryAgain"
			@close="toggleModalError(false)"
		/>
	</manage-booking-reject-modal>
</template>

<script>
import _find from 'lodash/find';
import ManageBookingRejectModal from './ManageBookingRejectModal';
import ManageBookingRejectOptions from './ManageBookingRejectOptions';
import OtherRejectReasonDescription from './OtherRejectReasonDescription';
import RejectBookingModalIntercept from './RejectBookingModalIntercept';

import MixinMamipayBooking from '../../../mixins/MixinMamipayBooking';

import EventBus from '../../../event-bus/event-bus';

const MamiCheckbox = () =>
	import('Js/@components/mami-components/MamiCheckbox');
const MamiModalError = () => import('Js/@components/MamiModalError');

const OTHER_REASON_ID = 0;

export default {
	components: {
		ManageBookingRejectModal,
		ManageBookingRejectOptions,
		RejectBookingModalIntercept,
		OtherRejectReasonDescription,
		MamiCheckbox,
		MamiModalError
	},
	mixins: [MixinMamipayBooking],
	props: {
		showModal: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isModalError: false,
			selectedReason: OTHER_REASON_ID,
			otherReasonId: OTHER_REASON_ID,
			otherReasonDescription: '',
			isAcceptTermsAndConditions: false,
			isShowRejectSuccessIntercept: false,
			reasonOptions: [{ id: OTHER_REASON_ID, description: 'Lainnya' }]
		};
	},
	computed: {
		formCompleted() {
			const isValidReason =
				this.selectedReason === this.otherReasonId
					? this.otherReasonDescription.length > 0
					: true;

			return isValidReason && this.isAcceptTermsAndConditions;
		},
		selectedReasonContent() {
			if (this.selectedReason === this.otherReasonId) {
				return {
					id: this.selectedReason,
					description: this.otherReasonDescription
				};
			}
			const selectedReasonContent = _find(
				this.reasonOptions,
				option => option.id === this.selectedReason
			);
			return selectedReasonContent || {};
		}
	},
	watch: {
		showModal(isShow) {
			if (isShow) {
				this.getRejectReasons();
			}
		},
		selectedReason() {
			this.otherReasonDescription = '';
		}
	},
	methods: {
		toggleModalError(state) {
			this.isModalError = state;
		},
		onTryAgain() {
			this.isShowRejectSuccessIntercept = false;
			this.resetData();
			this.$emit('closeModal', false);
		},
		resetData() {
			this.selectedReason = this.otherReasonId;
			this.otherReasonDescription = '';
			this.isAcceptTermsAndConditions = false;
		},
		setRoomAvailabilityToNull() {
			this.$store.commit('setRoomAvailability', 0);
		},
		closeModalReject() {
			this.isAcceptTermsAndConditions = false;
			this.$emit('closeModal', false);
		},
		submitBookingRejectReason() {
			const { id, description } = this.selectedReasonContent;
			this.rejectBookingRequest(
				id,
				description,
				this.onSubmittedBookingRejectReason
			);
		},
		onSubmittedBookingRejectReason() {
			if (this.selectedReasonContent.make_kost_not_available) {
				this.setRoomAvailabilityToNull();
				this.isShowRejectSuccessIntercept = true;
			} else {
				this.closeManageBookingReject();
			}
		},
		closeManageBookingReject() {
			this.isShowRejectSuccessIntercept = false;
			this.resetData();
			this.$emit('closeModal', false);
			EventBus.$emit('activeToggleAll');
		},
		onErrorRequestRejectReasons(text) {
			swal({
				title: '',
				type: 'error',
				text,
				confirmButtonColor: '#ff3860',
				allowOutsideClick: false,
				allowEscapeKey: false,
				allowEnterKey: false
			}).then(() => {
				this.isShowRejectSuccessIntercept = false;
				this.resetData();
				this.$emit('closeModal', false);
			});
		},
		async getRejectReasons() {
			this.reasonOptions.splice(0, this.reasonOptions.length - 1);
			this.openSwalLoading();
			try {
				const response = await axios.get('owner/booking/reject/reason');
				const { status, data, meta } = response.data;
				if (status) {
					this.reasonOptions.unshift(...data);
					this.closeSwalLoading();
				} else if (meta && meta.message) {
					this.onErrorRequestRejectReasons(meta.message);
				} else {
					this.toggleModalError(true);
				}
			} catch (error) {
				this.toggleModalError(true);
				bugsnagClient.notify(error);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
#manageBookingReject {
	.row {
		padding-top: 15px;
	}

	h1 {
		font-weight: bold;
		font-size: 36px;
		line-height: 54px;
	}

	h4 {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
	}

	.reject-reason {
		&__other-reason {
			margin-top: 4px;
		}

		&__tnc {
			margin: 24px 0 40px 0;
		}

		&__btn-action {
			margin-bottom: 16px;

			> button {
				padding: 8px 38px;
				border-radius: 4px;
				text-align: center;
				font-weight: bold;
			}

			.btn-cancel {
				border: 1px solid #1baa56;
				background: #fff;
				color: #1baa56;
			}

			.btn-submit {
				margin-left: 24px;
			}

			.btn-submit:disabled {
				background-color: #f4f4f4;
				border-color: #f4f4f4;
				color: #dbdbdb;
			}
		}
	}

	@media (max-height: 652px) {
		.row {
			padding-top: 0;
		}

		h4 {
			margin-bottom: 0;
		}

		.reject-reason {
			&__tnc {
				margin: 8px 0 16px 0;
			}

			&__btn-action {
				margin-bottom: 0;
			}
		}
	}
}
</style>
