<template>
	<modal
		class="manage-booking-reject-modal"
		effect="fade"
		:value="showModal"
		@closed="onModalClosed"
	>
		<slot></slot>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
export default {
	components: {
		modal
	},
	props: {
		showModal: {
			type: Boolean,
			default: false
		}
	},
	watch: {
		showModal(val) {
			document.body.style.overflow = val ? 'hidden' : 'inherit';
		}
	},
	methods: {
		onModalClosed() {
			this.$emit('closed');
		}
	}
};
</script>

<style lang="scss">
.manage-booking-reject-modal.modal {
	> .modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0 !important;

		> .modal-content {
			height: 100%;
			border: none;
			border-radius: 0;

			> .modal-body {
				height: calc(100vh - 76px);
				overflow-y: auto;
				overflow-x: hidden;
			}

			> .modal-header {
				padding: 0 9%;
				height: 76px;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				@media (max-height: 652px) {
					height: 48px;
				}

				button.close {
					font-size: 40px;
					line-height: 0.5;
					font-weight: 300;
					opacity: 1;
					color: #2e2d39;
				}
			}

			> .modal-footer {
				display: none;
			}
		}
	}
}
</style>
