<template>
	<div class="manage-booking-reject-options">
		<mami-radio
			v-for="option in reasonOptions"
			:key="option.id"
			v-model="selectedOption"
			:selected-value="option.id"
			class="reject-options"
			:class="{ '--show-info': isShowOptionInfo(option) }"
			@click.native="handleOptionClicked(option)"
		>
			<div class="reject-option">
				<span class="reject-option__label">{{ option.description }}</span>
				<span
					v-if="
						selectedReasonContent &&
							selectedReasonContent.id === option.id &&
							option.make_kost_not_available
					"
					class="reject-option__info"
					>Status kos akan diubah menjadi penuh</span
				>
			</div>
		</mami-radio>

		<reject-booking-modal
			button-text="Saya Mengerti"
			:show-modal="isShowIntercept"
			:modal-title="interceptTitle"
			:modal-caption="interceptDescription"
			is-backdrop-close
			@close="applyOption(false)"
			@send="applyOption(true)"
		/>
	</div>
</template>

<script>
import _find from 'lodash/find';
import RejectBookingModal from './RejectBookingModal';
const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

export default {
	components: {
		MamiRadio,
		RejectBookingModal
	},
	props: {
		value: {
			type: Number,
			default: 0
		},
		reasonOptions: {
			type: Array,
			required: true
		},
		ignoredValue: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			interceptDescription:
				'Status kos akan diubah menjadi penuh. Silakan perbarui ketersediaan kamar apabila kamar kos telah kembali tersedia',
			interceptTitle: '',
			isShowIntercept: false,
			applyValue: 0
		};
	},
	computed: {
		isShowOptionInfo() {
			return function(option) {
				return (
					option.id === this.value &&
					option.make_kost_not_available &&
					option.id !== this.ignoredValue
				);
			};
		},
		selectedOption: {
			get() {
				return this.value;
			},
			set(value) {
				this.setValueIntercept(value);
			}
		},
		selectedReasonContent() {
			return _find(this.reasonOptions, option => option.id === this.value);
		}
	},
	methods: {
		handleOptionClicked(option) {
			if (option.make_kost_not_available) {
				this.toggleInterceptModal(true);
			}
		},
		toggleInterceptModal(isShow) {
			this.isShowIntercept = isShow;
		},
		setValueIntercept(value) {
			const selectedOption = _find(
				this.reasonOptions,
				option => option.id === value
			);
			if (selectedOption && selectedOption.make_kost_not_available) {
				this.interceptTitle = `Pengajuan sewa ditolak karena ${selectedOption.description}`;
				this.applyValue = value;
				this.toggleInterceptModal(true);
			} else {
				this.$emit('input', value);
			}
		},
		applyOption(isApply) {
			if (isApply) {
				this.$emit('input', this.applyValue);
			}
			this.toggleInterceptModal(false);
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-reject-options {
	.reject-options {
		padding: 16px 0;
		border-bottom: 1px solid #f4f4f4;

		&.--show-info {
			padding: 10px 0;
		}
	}

	.reject-option {
		display: flex;
		flex-direction: column;
		width: 100%;

		&__label {
			font-weight: bold;
			font-size: 14px;
			line-height: 21px;
			color: #383746;
		}

		&__info {
			font-size: 10px;
			line-height: 15px;
			color: #595959;
		}
	}
}
</style>
