<template>
	<div class="other-reason-description">
		<textarea
			v-model="otherReasonDescription"
			class="borderless-form other-reason-description__textarea"
			rows="3"
			:placeholder="placeholder"
			:maxlength="maxLength"
		></textarea>
		<span class="other-reason-description__counter">
			{{ otherReasonDescriptionCounter }}
		</span>
	</div>
</template>

<script>
export default {
	model: {
		props: 'value',
		event: 'input'
	},
	props: {
		maxLength: {
			type: Number,
			default: 200
		},
		value: {
			type: String,
			required: true
		},
		placeholder: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			otherReasonDescription: this.value
		};
	},
	computed: {
		otherReasonDescriptionCounter() {
			return `${this.otherReasonDescription.length}/${this.maxLength}`;
		}
	},
	watch: {
		otherReasonDescription(val) {
			this.$emit('input', val);
		}
	}
};
</script>

<style lang="scss" scoped>
.other-reason-description {
	&__textarea {
		width: 100%;
	}
	&__counter {
		width: 100%;
		text-align: right;
		color: #999999;
		display: block;
	}
}
</style>
