<template>
	<mami-modal-wrap
		id="rejectBookingModal"
		:is-backdrop-close="isBackdropClose"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="modal-title">
			<span>{{ modalTitle }}</span>
		</div>

		<div class="modal-caption">
			<span>{{ modalCaption }}</span>
		</div>

		<div class="modal-action">
			<button type="button" class="btn btn-primary" @click="sendAction">
				{{ buttonText }}
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		modalTitle: {
			type: String,
			default: ''
		},
		modalCaption: {
			type: String,
			default: ''
		},
		buttonText: {
			type: String,
			default: 'OK'
		},
		isBackdropClose: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		sendAction() {
			this.$emit('send');
		}
	}
};
</script>

<style lang="scss">
#rejectBookingModal {
	&.modal {
		.modal-dialog {
			margin-top: calc(50vh - 155px);
			margin-bottom: 0;
		}
	}

	&.modal.in {
		display: flex !important;
		align-items: center;
		justify-content: center;

		.modal-dialog {
			margin: 0;
		}
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		border-radius: 8px;
	}

	.modal-body {
		padding: 16px;
	}

	.modal-button-close {
		margin-top: 0;
	}

	.btn-close-filter {
		color: #999;
		display: flex;
		align-items: center;
		padding: 2px;

		&.has-text {
			&:after {
				display: none;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.modal-action {
	margin-top: 20px;
	margin-bottom: 0;

	button {
		width: 100%;
		font-size: 16px;
		height: 48px;
	}
}
</style>
