<template>
	<mami-modal-wrap
		id="rejectBookingModalIntercept"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="modal-logo">
			<img
				v-lazy="
					'/general/img/pictures/booking/img_booking_reject_intercept.svg'
				"
				alt="Booking Reject"
			/>
		</div>

		<div class="modal-title">
			<label>Pengajuan Sewa Ditolak</label>
		</div>

		<div class="modal-caption">
			Meskipun tidak dapat menerima pengajuan sewa, tapi kos yang penuh masih
			dapat dihubungi oleh calon penyewa.
		</div>

		<div class="modal-action">
			<button type="button" class="btn btn-success" @click="goToUpdateKostPage">
				Update Kos
			</button>

			<button type="button" class="btn btn-primary" @click="closeModal">
				Selesai
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
import MixinOxWebUrl from 'Js/_ownerpage/mamipay/mixins/MixinOxWebUrl.js';
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		MamiModalWrap
	},

	mixins: [MixinOxWebUrl],

	props: {
		showModal: {
			type: Boolean,
			required: true
		}
	},

	computed: {
		roomId() {
			return this.$store.state.userRoom.id;
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		goToUpdateKostPage() {
			window.location = `${this.ownerDashboardUrl}/kos/rooms/${this.roomId}/edit`;
		}
	}
};
</script>

<style lang="scss">
#rejectBookingModalIntercept {
	&.modal {
		.modal-dialog {
			margin-top: calc(50vh - 242px);
			margin-bottom: 0;
		}
	}

	&.modal.in {
		display: flex !important;
		align-items: center;
		justify-content: center;

		.modal-dialog {
			margin: 0;
		}
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		border-radius: 8px;
	}

	.modal-body {
		padding: 16px;
	}

	.modal-action {
		margin-bottom: 0;
	}

	.modal-button-close {
		margin-top: 0;
	}

	.btn-close-filter {
		color: #999;
		display: flex;
		align-items: center;
		padding: 2px;

		&.has-text {
			&:after {
				display: none;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-title label {
	font-weight: bold;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 16px;
}

.modal-logo {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 35px;
}

.modal-action {
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;

	button {
		width: 48%;
		height: 48px;
	}
}
</style>
