<template>
	<div class="potential-owner-add">
		<div v-show="showLoading" class="preloader-container">
			<mami-loading-inline />
		</div>

		<div class="one-input">
			<input-text
				v-model="input.name"
				:placeholder="placeholder.name"
				:label="label.name"
				outlined
				hide-invalid-message
			/>
		</div>

		<div class="one-input">
			<input-text
				v-model="input.phone_number"
				:placeholder="placeholder.phone_number"
				:label="label.phone_number"
				only-numbers
				outlined
				hide-invalid-message
			/>
		</div>

		<div class="one-input">
			<input-text
				v-model="input.email"
				:placeholder="placeholder.email"
				:label="label.email"
				type="email"
				outlined
				hide-invalid-message
			/>
		</div>

		<div class="one-input">
			<datepicker
				:label="label.date_to_visit"
				:placeholder="placeholder.date_to_visit"
				:format="'dd-MM-yyyy'"
				:disabled-dates="{ to: yesterday }"
				:value="input.date_to_visit ? input.date_to_visit : ''"
				outlined
				prepend-icon
				black-icon
				outlined-activator
				@selected="selectDate"
			/>
		</div>

		<div class="one-input">
			<input-textarea
				v-model="input.remark"
				:label="label.remark"
				:placeholder="placeholder.remark"
				:max-length="250"
				:rows="2"
				counter
				outlined
				hide-invalid-message
			/>
		</div>

		<bottom-container>
			<div class="row">
				<div class="col-xs-12">
					<Button
						large
						block
						:disabled="submitDisable"
						:loading="submitOnProgress"
						@click="addUpdatePotentialOwner"
						>{{ isEdit ? 'Ubah' : 'Simpan' }}</Button
					>
				</div>
			</div>
		</bottom-container>
	</div>
</template>

<script>
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';

import InputText from 'Consultant/components/CtInputText';
import Datepicker from 'Consultant/components/ConsultantDatepicker';
import InputTextarea from 'Consultant/components/InputTextarea';
import Button from 'Consultant/components/ConsultantButton.vue';
import BottomContainer from 'Consultant/components/CtBottomContainer.vue';

export default {
	name: 'AddPotentialOwner',

	components: {
		MamiLoadingInline,
		InputText,
		Datepicker,
		InputTextarea,
		BottomContainer,
		Button
	},

	data() {
		return {
			showLoading: false,
			label: {
				name: 'Nama Lengkap',
				phone_number: 'Nomor HP',
				email: 'Email',
				date_to_visit: 'Tanggal Kunjungan',
				remark: 'Catatan'
			},
			placeholder: {
				name: 'Isi nama pemilik di sini',
				phone_number: 'Isi nomor HP di sini',
				email: 'Isi email di sini',
				date_to_visit: 'Isi tanggal kunjungan',
				remark: 'Tulis catatan di sini'
			},
			input: {
				name: '',
				phone_number: '',
				email: null,
				date_to_visit: '',
				remark: ''
			},
			submitDisable: false,
			submitOnProgress: false
		};
	},

	computed: {
		yesterday() {
			const d = new Date(Date.now() - 24 * 60 * 60 * 1000);
			return d;
		},
		potentialOwnerId() {
			return this.$route.params.id;
		},
		isEdit() {
			return !!this.potentialOwnerId;
		}
	},

	watch: {
		input: {
			immediate: true,
			deep: true,
			handler(value) {
				const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if (
					!!value.name &&
					!!value.phone_number &&
					(value.email === '' || value.email === null || re.test(value.email))
				) {
					this.submitDisable = false;
				} else {
					this.submitDisable = true;
				}
			}
		}
	},

	created() {
		if (this.isEdit) {
			this.showLoading = true;
			this.initGetData();
		}
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async addUpdatePotentialOwner() {
			this.submitDisable = true;
			this.submitOnProgress = true;

			if (this.input.email === '') {
				this.input.email = null;
			}

			let response;
			try {
				if (!this.isEdit) {
					response = await axios.post(`/api/potential-owner/store`, this.input);

					/* istanbul ignore else */
					if (response.data.status) {
						this.$router.push({
							name: 'po.detail',
							params: { id: response.data.owner.id }
						});
					} else {
						alert(response.message);
					}
				} else {
					response = await axios.put(
						`/api/potential-owner/update/${this.potentialOwnerId}`,
						this.input
					);

					/* istanbul ignore else */
					if (response.data.status) {
						this.$router.push({
							name: 'po.detail',
							params: { id: this.potentialOwnerId }
						});
					} else {
						alert(response.message);
					}
				}
			} catch (error) {
				this.submitDisable = false;
				this.submitOnProgress = false;
				alert(error);
			}
		},

		async getPotentialOwner() {
			const data = { success: false, result: {} };
			try {
				const response = await axios.get(
					`/api/potential-owner/${this.potentialOwnerId}`
				);

				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.result = response.data.owner;
				} else {
					alert(response.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.result);
		},

		async initGetData() {
			const inputted = await this.getPotentialOwner();

			const dateFormatted = inputted.date_to_visit !== '0000-00-00' ? this.$dayjs(inputted.date_to_visit).format('YYYY-MM-DD') : '';

			this.input = {
				name: inputted.name,
				phone_number: `0${inputted.phone_number}`,
				email: inputted.email === '-' ? null : inputted.email,
				date_to_visit: dateFormatted,
				remark: inputted.notes
			};

			this.showLoading = false;
		},

		// ----------------------------------------------------------------------
		// event
		// ----------------------------------------------------------------------
		selectDate(payload) {
			const formattedDate = this.$dayjs(payload).format('YYYY-MM-DD');
			this.input.date_to_visit = formattedDate;
		}
	}
};
</script>

<style lang="scss" scoped></style>
