<template>
	<div class="potential-owner-deatil">
		<div v-if="loading" class="loading-state">
			<MamiLoadingInline />
		</div>
		<template v-else>
			<template v-if="!isInvalid">
				<div class="row gap-side detail-section white">
					<div class="col-xs-12">
						<h4>
							<strong>{{ owner.name }}</strong>
						</h4>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<i class="mamikos-icon icon-phone"></i> &nbsp;&nbsp;
							{{ owner.phone_number | handleEmpty }}
						</div>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<i class="mamikos-icon icon-email"></i> &nbsp;&nbsp;
							{{ owner.email | handleEmpty }}
						</div>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<i class="mamikos-icon icon-calendar"></i> &nbsp;&nbsp;
							<span class="text-muted">Tanggal Kunjungan</span>
						</div>
						<div>
							{{ owner.visitDate }}
						</div>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<i class="mamikos-icon icon-note"></i> &nbsp;&nbsp;
							<span class="text-muted">Notes</span>
						</div>
						<div>{{ owner.notes | handleEmpty }}</div>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<div class="detail-icon">
									<i class="mamikos-icon icon-building"></i> &nbsp;&nbsp;
									{{ owner.total_property }} Data Properti
								</div>
							</div>
							<div class="col-xs-6">
								<div class="detail-icon">
									<i class="mamikos-icon icon-room-inside"></i> &nbsp;&nbsp;
									{{ owner.total_room }} Kamar
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<hr />
					</div>
					<div class="col-xs-12">
						<div class="row status">
							<div class="col-xs-6">
								<div>BBK Status</div>
								<chip :type="owner.bbkStatus.color" medium>
									{{ owner.bbkStatus.text }}
								</chip>
							</div>
							<div class="col-xs-6">
								<div>Follow Up Status</div>
								<chip :type="owner.followupStatus.color" medium>
									{{ owner.followupStatus.text }}
								</chip>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<hr />
					</div>
					<div class="col-xs-12">
						<div class="text-muted">
							<i
								>Update Terakhir: {{ owner.updated_by || owner.created_by }},
								{{ owner.lastUpdate }}</i
							>
						</div>
						<div class="text-muted">
							<i>Dibuat Oleh: {{ owner.created_by }}, {{ owner.createAt }}</i>
						</div>
					</div>
				</div>

				<div class="gap-side">
					<h4>
						<strong>Properti Potensial</strong>
					</h4>
				</div>

				<router-link class="property-link" :to="owner.propertyLink">
					<div class="gap-side white mb-2">
						<span class="link-title">
							<i class="mamikos-icon icon-building"></i> &nbsp;&nbsp;{{
								owner.total_property
							}}
							Properti Potensial
						</span>
						<i class="mamikos-icon icon-chevron-right"></i>
					</div>
				</router-link>

				<!-- <div class="gap-side">
					<p class="mb-1">
						Pemilik memiliki properti yang berpotensi? Silakan tambahkan di
						sini.
					</p>

					<ct-button block large :to="addPotentialPropertyRoute">
						<i class="mamikos-icon icon-add"></i>&nbsp; Tambah Potensial
						Properti
					</ct-button>
				</div> -->
			</template>
		</template>
		<DeleteConfirmAction ref="deleteConfirm" />
	</div>
</template>

<script>
// import CtButton from 'Consultant/components/ConsultantButton';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import DeleteConfirmAction from './components/DeleteConfirmActionSheet';
import Chip from 'Consultant/components/Chip';

import EventBus from 'Consultant/event-bus';
import mixinApi from 'Consultant/mixins/mixinApi';
import mixinStatus from './mixins/status';

import { mapMutations, mapGetters } from 'vuex';

export default {
	name: 'PotentialOwnerDetail',

	components: {
		// CtButton,
		MamiLoadingInline,
		DeleteConfirmAction,
		Chip
	},

	filters: {
		handleEmpty(value) {
			return value || /* istanbul ignore next */ '-';
		}
	},

	mixins: [mixinApi, mixinStatus],

	data() {
		return {
			loading: false,
			isInvalid: false,
			owner: {}
		};
	},

	computed: {
		...mapGetters({
			gxPrevQuery: 'route/getPrevQuery'
		}),
		ownerId() {
			return this.$route.params.id;
		}
		// addPotentialPropertyRoute() {
		// 	return {
		// 		name: 'potential-property.add',
		// 		query: {
		// 			from: 'owner_detail'
		// 		},
		// 		params: {
		// 			ownerId: this.ownerId
		// 		}
		// 	};
		// }
	},

	created() {
		this.initPotentialOwner(this.ownerId);
		this.$route.meta.navbarOptions.onClickBack = this.handleNavbarBack;
	},

	mounted() {
		EventBus.$on('NAVBAR_MENU_OWNER', this.menuHandler);
	},

	beforeRouteLeave(to, from, next) {
		/* istanbul ignore else */
		if (to.name === 'potential-owner') {
			this.clearPrevQuery('potential-owner');
		}
		next();
	},

	methods: {
		...mapMutations('route', ['clearPrevQuery']),

		handleNavbarBack() {
			this.$router.push({
				name: 'potential-owner',
				query: this.gxPrevQuery('potential-owner')
			});
		},

		async initPotentialOwner(id) {
			this.loading = true;
			const result = await this.mixApiGet({
				url: `/api/potential-owner/${id}`,
				field: 'owner'
			});

			if (result.success) {
				this.owner = this.updateOwnerData(result.data);
			} else {
				EventBus.$emit('openAlert', result.message);
				this.isInvalid = true;
			}

			this.loading = false;
		},

		updateOwnerData(data) {
			return {
				...data,
				propertyLink: {
					name: 'potential-property',
					query: {
						owner_id: data.id
					}
				},
				visitDate:
					data.date_to_visit !== '0000-00-00'
						? this.$dayjs(data.date_to_visit).format('D MMMM YYYY')
						: '-',
				lastUpdate: this.$dayjs(data.updated_at).format('D MMM YYYY'),
				createAt: this.$dayjs(data.created_at).format('D MMM YYYY'),
				bbkStatus: this.getDetailBbkStatus(data.bbk_status),
				followupStatus: this.getFollowupStatus(data.followup_status)
			};
		},

		menuHandler(value) {
			switch (value.type) {
				case 'delete':
					this.$refs.deleteConfirm.openActionSheet();
					break;

				case 'edit':
					this.$router.push({ name: 'po.edit', params: { id: this.ownerId } });
					break;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-section {
	padding-top: 24px;
}
.detail-icon {
	display: flex;
	align-items: center;
	color: #303030;

	.mamikos-icon {
		font-size: 20px;
	}

	/* stylelint-disable-next-line */
	+ div {
		padding: 0 27px;
	}
}

.gap-side {
	padding: 10px 20px;
}

.white {
	background-color: #fff;
}

.property-link {
	color: unset;
	text-decoration: none;
	.white {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.mamikos-icon {
			font-size: 30px;
			color: #757575;
		}
	}

	.link-title {
		font-size: 16px;
		font-weight: bold;
		color: #212d39;
		.mamikos-icon {
			font-size: 20px;
		}
	}

	&:active {
		background-color: #fafafa;
	}
}

.icon-add,
.property-link .icon-building {
	font-size: 20px;
}

.loading-state {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.status ::v-deep .chip {
	margin: 8px 0 0;
}

/* stylelint-disable-next-line */
.potential-owner-deatil hr {
	margin: 20px 0;
}
</style>
