<template>
	<div class="potential-owner-lists">
		<div class="gap-side mb-2 potential-owner__search">
			<ct-input-text
				v-model="pagination.search"
				placeholder="Cari Pemilik Potensial"
				prepend-icon="search"
				background-color="#F6F6F6"
				:radius="4"
				hide-invalid-message
				flat
				clearable
				@enter="searchOwner"
				@blur="handleBlurSearch"
			></ct-input-text>
		</div>

		<div class="potential-owner__body">
			<div class="filter-container">
				<ct-button color="secondary" small outline @click="openAction('filter')">
					<i class="mamikos-icon icon-slider-h"></i> Filter
					{{ activeFilterLength ? `・ ${activeFilterLength}` : '' }}
				</ct-button>
				<ct-button color="secondary" small outline @click="openAction('sort')">
					<i class="mamikos-icon icon-sort"></i> {{ activeSort }}
				</ct-button>
			</div>

			<div class="row list-container">
				<template v-if="loading">
					<div v-for="i in 2" :key="i" class="col-xs-12 mb-2">
						<OwnerListCardPlaceholder />
					</div>
				</template>
				<template v-else>
					<template v-if="owners.length">
						<div
							v-for="owner in owners"
							:key="`owner-card-${owner.id}`"
							class="col-xs-12 mb-2"
						>
							<OwnerListCard :item="owner" />
						</div>
						<div v-if="pagination.totalData > pagination.limit" class="col-xs-12">
							<consultant-pagination
								class="ct-pagination--green"
								:total-data="pagination.totalData"
								:page-active="pagination.page"
								green-version
								@change="handlePaginationChange"
							></consultant-pagination>
						</div>
					</template>
					<div v-else class="col-xs-12 mt-3">
						<EmptyState
							title="Belum Ada Pemilik Potensial"
							subtitle="Daftar pemilik potensial akan tampil di sini."
							relative
						/>
					</div>
				</template>
			</div>

			<!-- <ct-bottom-container>
				<ct-button block large :to="{ name: 'po.add' }">
					<i class="mamikos-icon icon-add"></i> &nbsp; Tambah Pemilik Potensial
				</ct-button>
			</ct-bottom-container> -->

			<PotentialOwnerListAction ref="action" />
		</div>
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';
import CtButton from 'Consultant/components/ConsultantButton';
import OwnerListCard from './components/OwnerListCard';
import PotentialOwnerListAction from './components/PotentialOwnerListAction';
// import CtBottomContainer from 'Consultant/components/CtBottomContainer';

import mixinPagination from 'Consultant/mixins/mixinPagination';
import mixinStatus from './mixins/status';

import EventBus from 'Consultant/event-bus';
import {
	makeQueryParam,
	createMultipleParam,
	mergeParams
} from 'Consultant/helpers/url';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

import { mapMutations } from 'vuex';

export default {
	name: 'PotentialOwnerLists',

	components: {
		CtInputText,
		CtButton,
		OwnerListCard,
		PotentialOwnerListAction,
		// CtBottomContainer,
		EmptyState: () => import('Consultant/components/ConsultantEmptyState'),
		OwnerListCardPlaceholder: () =>
			import('./components/OwnerListCardPlaceholder')
	},

	mixins: [mixinPagination, mixinStatus],

	data() {
		return {
			activeFilterLength: 0,
			activeSort: '',
			loading: false,
			owners: []
		};
	},

	computed: {
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		EventBus.$on('SET_OWNER_ACTION_LABEL', this.handleSetActionLabel);
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Pemilik Potensial',
			{ consultant_id: consultant.id || null }
		]);
	},

	beforeRouteLeave(to, from, next) {
		if (to.name === 'po.detail') {
			this.mutSetQuery({ type: 'potential-owner', query: this.$route.query });
		}
		next();
	},

	methods: {
		/* eslint-disable camelcase */
		...mapMutations({
			mutSetQuery: 'route/setPrevQuery'
		}),

		/** *********** QUERY HANDLER ****************** */
		/**
		 * will executed on route change
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		defaultPagination(route) {
			const {
				sort_by = 'updated_at',
				order_direction = 'desc',
				date_visit_from,
				date_visit_to,
				bbk_status,
				followup_status
			} = route.query;

			this.pagination = {
				...this.pagination,
				sort_by: sort_by,
				order_direction: order_direction,
				bbkStatus: bbk_status ? bbk_status.split(',') : [],
				followUpStatus: followup_status ? followup_status.split(',') : []
			}

			if (date_visit_from && date_visit_to) {
				this.pagination.date_visit_from = date_visit_from;
				this.pagination.date_visit_to = date_visit_to;
			} else {
				delete this.pagination.date_visit_from;
				delete this.pagination.date_visit_to;
			}
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData(pagination) {
			let dateFilter = {};
			const {
				offset,
				limit,
				sort_by,
				order_direction,
				filters,
				search,
				date_visit_from,
				date_visit_to,
				bbkStatus,
				followUpStatus
			} = pagination;

			if (date_visit_from && date_visit_to) {
				dateFilter = { date_visit_from, date_visit_to };
			}

			const paginationQuery = makeQueryParam({
				offset,
				limit,
				order_by: sort_by,
				order_direction,
				search,
				...dateFilter
			});

			const createdByQuery = createMultipleParam(filters, 'created_by');
			const bbkQuery = createMultipleParam(bbkStatus, 'bbk_status');
			const followUpQuery = createMultipleParam(followUpStatus, 'followup_status');

			this.initPotentialOwner(
				mergeParams(
					paginationQuery,
					createdByQuery,
					bbkQuery,
					followUpQuery
				)
			);
		},

		/** ********* END QUERY HANDLER **************** */

		initPotentialOwner(query) {
			this.loading = true;
			axios
				.get('/api/potential-owner/list?' + query)
				.then(res => {
					if (res.data.status) {
						this.owners = this.updatePotentialOwnerData(res.data.data.data);
						this.pagination.totalData = res.data.total;
					}
				})
				/* istanbul ignore next */
				.catch(error => {
					console.error(error);
				})
				.finally(() => {
					this.loading = false;
				});
		},

		updatePotentialOwnerData(owners) {
			return owners.map(owner => ({
				...owner,
				bbkStatus: this.getDetailBbkStatus(owner.bbk_status),
				followupStatus: this.getFollowupStatus(owner.followup_status)
			}));
		},

		openAction(type) {
			this.$refs.action.open(type);
		},

		handleSetActionLabel({ type, value }) {
			switch (type) {
				case 'sort':
					this.activeSort = value;
					break;

				case 'filter':
					this.activeFilterLength = value;
					break;
			}
		},

		searchOwner() {
			const { name, query } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					page: 1,
					search: this.pagination.search
				}
			});
		},

		/**
		 * search owner when doesn't have search query
		 */
		handleBlurSearch() {
			if (!this.pagination.search) {
				this.searchOwner();
			}
		},

		handlePaginationChange(page) {
			const { name, query } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					page
				}
			});
		}
		/* eslint-enable camelcase */
	}
};
</script>

<style lang="scss" scoped>
.filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.potential-owner-lists ::v-deep .ct-bottom-container {
	z-index: 2;
}

.list-container {
	margin: 20px 0;

	> .col-xs-12 {
		padding: unset;
	}
}

.potential-owner__search {
	padding: 20px;
	background-color: #fff;
}

.potential-owner__body {
	padding: 0 20px;

	.filter-container ::v-deep .consultant-btn.-outline {
		background-color: #fff;
	}
}
</style>
