<template>
	<div id="bookingLanding" ref="wrapper" class="app-wrapper">
		<booking-navbar></booking-navbar>
		<booking-header></booking-header>
		<booking-reason></booking-reason>
		<booking-benefits></booking-benefits>
		<booking-testimonial></booking-testimonial>
		<section-f-a-q
			title="FAQ"
			:questions="questions"
			:active-question="activeQuestion"
			@activeToggle="setActiveQuestion"
			@footerTracker="trackHelpCenterIsClicked"
		></section-f-a-q>
		<mami-footer></mami-footer>
		<booking-restriction-modal
			:show-modal="restrictionModal"
		></booking-restriction-modal>
		<owner-login-modal
			:show-modal-login="ownerLoginModal"
			starting-state="owner"
			from-booking-landing
			@closeModal="closeOwnerLoginModal"
		></owner-login-modal>
	</div>
</template>

<script>
import BookingNavbar from './BookingNavbar';
import EventBus from '../event-bus';
import MixinOwnerStatus from '../mixins/MixinOwnerStatus';

/* istanbul ignore next */
import BookingHeader from './BookingHeader';
/* istanbul ignore next */
import BookingReason from './BookingReason';
/* istanbul ignore next */
import BookingBenefits from './BookingBenefits';
/* istanbul ignore next */
import BookingTestimonial from './BookingTestimonial';
/* istanbul ignore next */
import BookingRestrictionModal from './BookingRestrictionModal';
/* istanbul ignore next */
import OwnerLoginModal from 'Js/_login/components/ModalFormLogin';

/* istanbul ignore next */
const SectionFAQ = () => import('Js/@components/SectionFAQ');
const MamiFooter = () => import('Js/@components/MamiFooter');

export default {
	components: {
		BookingNavbar,
		BookingHeader,
		BookingReason,
		BookingBenefits,
		BookingTestimonial,
		SectionFAQ,
		BookingRestrictionModal,
		MamiFooter,
		OwnerLoginModal
	},
	mixins: [MixinOwnerStatus],
	data() {
		return {
			ownerLoginModal: false,
			restrictionModal: false,
			questions: [
				{
					title: 'Apa itu Booking Langsung?',
					answer:
						'Dengan fitur Booking Langsung, pencari kos dapat langsung mengajukan permintaan sewa pada pemilik kos. Agar kos Anda dapat di-Booking Langsung, silakan lakukan proses aktivasi Booking Langsung. Tim Mamikos akan cek data dan foto untuk memastikan sesuai dengan kondisi sesungguhnya.'
				},
				{
					title:
						'Apa beda keuntungan Booking Langsung dibanding free listing dan Premium?',
					answer:
						'Dengan daftar di Mamikos, Anda bisa lebih mudah mengelola iklan kost Anda. Namun, iklan kost Anda harus bersaing dengan iklan kost lainnya untuk mudah ditemukan dan menarik hati calon penghuni. Fitur Premium membantu iklan kost untuk mudah ditemukan oleh para pencari kost, karena muncul di area “sponsored”, dan diutamakan di hasil pencarian.'
				},
				{
					title:
						'Bisakah saya membatalkan pengajuan sewa dan kontrak sewa bila saya kurang berkenan dengan penyewa? ',
					answer:
						'Di setiap pengajuan sewa (booking) dari pencari kos, Anda memiliki hak penuh untuk menerima ataupun menolak. Anda juga disarankan untuk meninjau terlebih dahulu profil calon penyewa yang tersedia di sana. <br />Apabila di kemudian hari Anda berubah pikiran karena kurang berkenan, Anda juga dapat mengakhiri kontrak sewa dari dashboard aplikasi Mamikos.'
				},
				{
					title:
						'Apakah aman bagi saya mencantumkan informasi nomor rekening di Mamikos?',
					answer:
						'Mamikos memiliki kebijakan privasi yang sangat berhati-hati dalam menggunakan data yang diperoleh dari setiap penggunanya. Dalam fitur Booking Langsung, nomor rekening hanya akan kami gunakan untuk mengirimkan pendapatan Anda, yang telah dibayarkan oleh para penyewa lewat berbagai metode pembayaran.'
				},
				{
					title:
						'Apakah lewat Booking Langsung, pendapatan sewa kos bisa saya dapatkan dengan mudah?',
					answer:
						'Demi keamanan transaksi, uang sewa dari pembayaran booking pertama akan diteruskan maks. 1x24 jam setelah penyewa check in, langsung ke rekening Anda. <br />Untuk tagihan berikut dan seterusnya, uang sewa akan Anda terima maks. 1x24 jam setelah penyewa membayar. <br /> Status pembayaran dari penyewa dapat Anda lihat selengkapnya di Kelola Tagihan (fitur bagi pengguna Booking Langsung dan GoldPlus).'
				}
			],
			activeQuestion: -1
		};
	},
	computed: {
		isOwner() {
			return this.$store.state.authCheck.owner;
		}
	},
	created() {
		this.fetchOwnerData();
	},
	mounted() {
		this.listenEventBus();
	},
	methods: {
		listenEventBus() {
			/* istanbul ignore next */
			EventBus.$on('showOwnerLoginModal', () => {
				this.ownerLoginModal = true;
			});

			/* istanbul ignore next */
			EventBus.$on('showRestrictionModal', () => {
				this.restrictionModal = true;
			});

			/* istanbul ignore next */
			EventBus.$on('closeRestrictionModal', () => {
				this.restrictionModal = false;
			});
		},
		closeOwnerLoginModal() {
			this.ownerLoginModal = false;
		},
		setActiveQuestion(payload) {
			this.activeQuestion = payload !== this.activeQuestion ? payload : -1;
		},
		trackHelpCenterIsClicked() {
			tracker('moe', [
				'[Owner] Landing Page Booking Langsung - Pusat Bantuan',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					is_booking: this.isBBKActive,
					is_premium: this.isPremium
				}
			]);
		},
		fetchOwnerData() {
			if (this.isOwner) this.$store.dispatch('fetchOwnerData');
		}
	}
};
</script>
