<template>
	<modal
		v-model="showModal"
		class="booking-restriction-modal"
		@closed="closeModal"
	>
		<div
			slot="modal-header"
			class="modal-header booking-restriction-modal__header"
		>
			<a
				class="booking-restriction-modal__close-button"
				@click.prevent="closeModal"
			></a>
		</div>

		<div class="modal-header booking-restriction-modal__body">
			<img
				v-lazy="'/general/img/pictures/booking/img_booking_restriction.svg'"
				class="booking-restriction-modal__body-icon"
				data-path="img_bookingRestriction"
			/>
			<h3 class="booking-restriction-modal__body-heading">
				Maaf ya, kamu tidak bisa akses
			</h3>
			<p class="booking-restriction-modal__body-message">
				{{ message }}
			</p>
		</div>

		<div
			slot="modal-footer"
			class="modal-footer booking-restriction-modal__footer"
		>
			<a
				href="/"
				class="btn btn-primary booking-restriction-modal__action-button"
				data-path="btn_toHomepage"
			>
				Ke Halaman Utama
			</a>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import EventBus from '../event-bus';

export default {
	name: 'BookingRestrictionModal',
	components: { modal },
	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},
	data() {
		return {
			message:
				'Pendaftaran Booking Langsung ini hanya buat Pemilik Kos. Kalau kamu tertarik dengan fitur ini, cari Kos bertanda Booking Langsung di Mamikos!'
		};
	},
	methods: {
		closeModal() {
			EventBus.$emit('closeRestrictionModal');
		}
	}
};
</script>

<style lang="scss">
.booking-restriction-modal {
	> .modal-dialog {
		display: flex;
		height: 92vh;
		justify-content: center;
		align-items: center;
	}

	&__header,
	&__body,
	&__footer {
		border: 0;

		@media (min-width: 768px) {
			padding: 3rem;
		}
	}

	&__close-button {
		float: right;

		&::after {
			content: url('/general/img/icons/ic_close_black.svg');
		}
	}

	&__header {
		padding-bottom: 0;
	}

	&__body {
		padding-top: 0;
		padding-bottom: 0;
		color: #484848;
		text-align: center;

		&-icon {
			@media (max-width: 767px) {
				width: 100%;
			}
		}

		&-heading {
			font-weight: bold;
		}

		&-message {
			margin-top: 2rem;
			font-size: 1.15em;
		}
	}

	&__footer {
		padding-top: 0;
	}

	&__action-button {
		width: 100%;
		padding: 12px;
		font-size: 1.15em;
		border: 0;

		&:hover,
		&:focus {
			background-color: #1baa56;
		}
	}
}
</style>
