<template>
	<section id="bookingBenefits" class="booking-section booking-benefits">
		<div class="booking-section__container booking-benefits__container">
			<h1 class="booking-section__heading booking-benefits__heading">
				Enaknya Kelola Kos Lewat Mamikos
			</h1>
			<p class="booking-section__subheading booking-benefits__subheading">
				Apa saja keuntungan menggunakan
				<strong>Booking Langsung?</strong>
			</p>
			<div class="row booking-benefits__content">
				<booking-benefits-list :items="captionItems"></booking-benefits-list>
			</div>
		</div>

		<booking-benefits-activation-block />
	</section>
</template>

<script>
import BookingBenefitsList from './booking-benefits/BookingBenefitsList';
import BookingBenefitsActivationBlock from './booking-benefits/BookingBeneftisActivationBlock';

export default {
	name: 'BookingBenefits',
	components: { BookingBenefitsList, BookingBenefitsActivationBlock },
	data() {
		return {
			captionItems: [
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-1.png'
					},
					title: 'Tagihan Otomatis',
					text:
						'Mamikos otomatis mengirimkan notifikasi tagihan ke penyewa. Anda juga akan diberitahu jika sudah ditransfer.'
				},
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-2.png'
					},
					title: 'Tinjauan Keuangan',
					text: 'Lihat overview keuangan kos Anda langsung dari dashboard.'
				},
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-3.png'
					},
					title: 'Okupansi',
					text:
						'Calon penyewa gampang untuk mulai sewa dan bayar kos secara online, tanpa harus janji bertemu dengan Anda.'
				},
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-4.png'
					},
					title: 'Administrasi Penyewa Mudah',
					text:
						'Setiap penyewa kos Anda yang terdaftar di Mamikos akan otomatis terdata dan memiliki kontrak sewa. Administrasi kos Anda menjadi lebih rapi dan mudah.'
				},
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-5.png'
					},
					title: 'Hanya 7% dari Harga Sewa',
					text:
						'Anda hanya perlu menyisihkan 7% dari harga sewa ketika terjadi transaksi booking, <b>di pembayaran pertama saja.</b>'
				},
				{
					icon: {
						src: '/general/img/pictures/booking/new-benefits-6.png'
					},
					title: 'Pencairan Dana 1x24 Jam ',
					text:
						'Untuk keamanan transaksi, uang sewa akan diteruskan pada Anda 1 hari setelah penyewa check-in.'
				}
			]
		};
	}
};
</script>

<style lang="scss" scoped>
@import '../style/main.scss';

.booking-benefits {
	padding-bottom: 10rem;
	color: #fff;
	text-align: center;
	background-color: #1baa56;
	background-image: url('/general/img/pictures/booking/benefits-bg.png');
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 1440px) {
		padding-bottom: 16rem;
	}

	@media (max-width: 767px) {
		padding-bottom: 16rem;
		background-image: url('/general/img/pictures/booking/benefits-bg-sm.png');
		background-size: contain;
	}

	&__container {
		@media (max-width: 767px) {
			padding-bottom: 88px;
		}

		@media (min-width: 1440px) {
			padding-bottom: 0;
		}
	}

	&__heading {
		color: #fff;
	}

	&__content {
		margin-top: 6rem;
	}
}
</style>
