<template>
	<!-- eslint-disable vue/no-v-html -->
	<header id="bookingHeader" class="booking-section booking-header">
		<div class="booking-section__container booking-header__container">
			<h1
				class="booking-section__heading booking-header__heading"
				v-html="headingText"
			></h1>
			<ul class="booking-header__list">
				<li v-for="(item, index) in listItems" :key="index">{{ item }}</li>
			</ul>
			<booking-activate-button
				class="booking-header__button"
				extra-class="booking-shadow--green"
				@activateBooking="activateBooking('header')"
			/>
		</div>
	</header>
</template>

<script>
import BookingActivateButton from './BookingActivateButton';
import MixinActivateBooking from '../mixins/MixinActivateBooking';

export default {
	name: 'BookingHeader',
	components: {
		BookingActivateButton
	},
	mixins: [MixinActivateBooking],
	data() {
		return {
			listItems: [
				'Penagihan dan pembayaran sewa gampang',
				'Laporan keuangan otomatis',
				'Terima booking kapan dan di mana saja'
			]
		};
	},
	computed: {
		headingText() {
			return `<span class="text-primary">Booking Langsung</span><br />Enaknya kelola kos lewat Mamikos`;
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../style/main.scss';

.booking-header {
	padding: 6rem 0;
	background-image: url('/general/img/pictures/booking/header-bg.png');
	background-repeat: no-repeat;
	background-size: contain;

	@media (min-width: 1440px) {
		padding: 8rem 0;
		background-image: url('/general/img/pictures/booking/header-bg-lg.png');
	}

	@media (min-width: 1680px) {
		background-size: cover;
	}

	@media (min-width: 2560px) {
		padding: 22rem 0;
		background-image: url('/general/img/pictures/booking/header-bg-xl.png');
		background-size: contain;
	}

	@media (max-width: 1024px) {
		background-position: 0% 8%;
	}

	@media (max-width: 767px) {
		padding-bottom: 0;
		background-image: url('/general/img/pictures/booking/header-bg-xs.png');
	}

	&__container {
		padding: 0;
		margin: 6rem auto;
		text-align: left;

		@media (min-width: 1920px) {
			margin: 12rem auto;
		}

		@media (max-width: 767px) {
			padding: 16rem 16px 0;
		}
	}

	&__heading {
		font-size: 40px;
		font-weight: bold;

		@media (max-width: 768px) {
			font-size: 28px;
		}

		@media (min-width: 768px) {
			width: 60%;
		}
	}

	&__list {
		padding-left: 3rem;
		font-size: 20px;
		color: #484848;
		list-style-image: url('/general/img/icons/ic_check_green_medium.svg');
	}

	&__button {
		margin: 1rem 0;
	}
}
</style>
