<template>
	<section id="bookingTestimonial" class="booking-section booking-testimonial">
		<div class="row booking-section__container booking-testimonial__container">
			<div class="col-md-3 booking-testimonial__heading">
				<h1 class="booking-section__heading booking-testimonial__heading">
					Kata Pemilik Kos
				</h1>

				<!-- SWIPER ARROWS -->
				<div class="booking-testimonial__slider-control hidden-xs hidden-sm">
					<div
						slot="button-next"
						class="booking-shadow swiper-button-next booking-testimonial__slider-control--left"
						data-path="btn_nextBookingTestimonialSlide"
					></div>
					<div
						slot="button-prev"
						class="booking-shadow swiper-button-prev booking-testimonial__slider-control--right"
						data-path="btn_prevBookingTestimonialSlide"
					></div>
				</div>
			</div>

			<div class="col-md-9 booking-testimonial__content">
				<!-- CONTENT WHEN TESTIMONIAL IS FETCHED SUCCSESFULLY -->
				<swiper v-if="testimonial && !isFetching" :options="swiperOptions">
					<swiper-slide
						v-for="(testimony, i) in testimonial"
						:key="i"
						class="booking-shadow booking-testimonial__slider-card"
					>
						<div class="booking-testimonial__slider-card-header">
							<div
								v-lazy:background-image="{
									src: testimony.photo_url.small,
									error: '/assets/icons/ic_akun_user.png'
								}"
								class="booking-testimonial__slider-card-avatar"
								data-path="img_bookingTestimonialAvatar"
							></div>
							<div class="booking-testimonial__slider-card-intro">
								<h4 class="booking-testimonial__slider-card-title">
									{{ testimony.owner_name }}
								</h4>
								<em
									class="text-muted booking-testimonial__slider-card-subtitle"
								>
									{{ testimony.kost_name }}
								</em>
							</div>
						</div>
						<div class="booking-testimonial__slider-card-body">
							"{{ testimony.quote }}"
						</div>
					</swiper-slide>
					<div
						slot="pagination"
						class="swiper-pagination hidden-md hidden-lg hidden-xl"
					></div>
				</swiper>

				<!-- CONTENT WHEN TESTIMONIAL IS LOADING TO BE FETCHED -->
				<swiper v-else :options="swiperOptions">
					<swiper-slide
						v-for="i in 8"
						:key="i"
						class="booking-shadow booking-testimonial__slider-card"
					>
						<div class="booking-testimonial__slider-card-header">
							<skeleton-loader
								:width="66"
								:height="66"
								class="booking-testimonial__slider-card-avatar"
							/>
							<div>
								<skeleton-loader :height="24" :width="150" /><br />
								<skeleton-loader :height="24" :width="200" />
							</div>
						</div>
						<skeleton-loader
							:height="190"
							class="booking-testimonial__slider-card-body"
						/>
					</swiper-slide>
					<div
						slot="pagination"
						class="swiper-pagination hidden-md hidden-lg hidden-xl"
					></div>
				</swiper>
			</div>
		</div>
	</section>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import SkeletonLoader from 'Js/@components/SkeletonLoader';

export default {
	name: 'BookingTestimonial',
	components: {
		swiper,
		swiperSlide,
		SkeletonLoader
	},
	data() {
		return {
			isFetching: true,
			swiperOptions: {
				loop: false,
				spaceBetween: 24,
				slidesPerView: navigator.isMobile ? 1 : 2,
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
					clickable: true
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				}
			}
		};
	},
	computed: {
		testimonial() {
			return this.$store.state.testimonial;
		}
	},
	mounted() {
		this.fetchTestimonial();
	},
	methods: {
		async fetchTestimonial() {
			await this.$store.dispatch('fetchTestimonial');
			this.isFetching = false;
		}
	}
};
</script>

<style lang="scss">
@import '../style/main.scss';

.booking-testimonial {
	padding-top: 24rem;
	background-image: url('/general/img/pictures/booking/testimonial-bg.png');
	background-repeat: no-repeat;
	background-size: contain;

	@media (min-width: 1440px) {
		background-size: cover;
	}

	@media (max-width: 767px) {
		padding-top: 28rem;
		background-image: url('/general/img/pictures/booking/testimonial-bg-sm.png');
	}

	&__container {
		padding: 0;

		@media (max-width: 768px) {
			padding-right: 16px;
			padding-left: 16px;
		}
	}

	&__heading,
	&__content {
		@media (max-width: 768px) {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&__heading {
		margin-top: 0;
		font-size: 32px;
		text-align: left;
	}

	&__content {
		@media (max-width: 768px) {
			margin-top: 40px;
		}
	}

	&__slider-control {
		position: relative;
		top: 4rem;
		display: flex;

		@media (max-width: 768px) {
			top: 2rem;
		}

		&--right,
		&--left {
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 50%;
			outline: none;
		}

		&--right {
			left: 70px;
			background-image: url('/general/img/icons/ic_arrow_right_alt.svg');
		}

		&--left {
			left: 0;
			background-image: url('/general/img/icons/ic_arrow_left_alt.svg');
		}
	}

	&__slider-card {
		height: auto;
		padding: 20px;
		text-align: left;
		background: #fff;
		border-radius: 6px;

		&-header {
			display: flex;
			align-items: center;
		}

		&-avatar {
			width: 66px;
			height: 66px;
			margin-right: 16px;
			background-color: #999;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 50% !important;
			flex: 0 0 66px;
		}

		&-title {
			font-size: 16px;
			font-weight: bold;
		}

		&-subtitle,
		&-body {
			font-size: 14px;
		}

		&-body {
			margin-top: 18px;
		}
	}
}

.swiper-container {
	padding: 8px 16px 54px;
	margin: -8px -16px -24px;
}

.swiper-pagination {
	transform: translateY(50%);

	&-bullet-active {
		background: #1baa56 !important;
	}
}
</style>
