<template>
	<nav
		id="bookingNavbar"
		class="navbar navbar-default navbar-fixed-top booking-navbar"
		:class="{ 'nav-open': navbarMenu }"
	>
		<div class="container-fluid">
			<div class="navbar-header booking-navbar__header">
				<a class="navbar-brand booking-navbar__brand" href="/">
					<img
						v-lazy="'/general/img/logo/logo_mamikos_green.svg'"
						alt="Logo Mamikos"
						class="booking-navbar__brand-img"
						data-path="img_mamikosLogo"
					/>
				</a>
				<button
					v-if="!isScrolling"
					type="button"
					class="navbar-toggle booking-navbar__toggle"
					data-path="tgl_bookingNavbarMenu"
					@click="toggleNavbarMenu"
				>
					<span :class="!navbarMenu ? 'icon-burger' : 'icon-close'"></span>
				</button>
				<booking-activate-button
					v-else
					:extra-class="['navbar-toggle', '--small']"
					@activateBooking="activateBooking"
				/>
			</div>

			<div class="booking-navbar__content">
				<div
					:class="{ 'navbar-outside-screen': navbarMenu }"
					@click="toggleNavbarMenu"
				></div>
				<div id="toggleMenu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right booking-navbar__menu">
						<li v-if="navigator.isMobile">
							<a
								class="btn btn-link booking-navbar__menu-link"
								data-path="btn_activateBooking"
								@click="activateBooking"
							>
								Aktifkan Sekarang
							</a>
						</li>
						<li
							v-for="(item, key) in menuItems"
							:key="key"
							class="booking-navbar__menu-items"
						>
							<a
								class="btn btn-link booking-navbar__menu-link"
								data-path="btn_goToBookingSections"
								@click="goToSection(item.targetId, item.trackerEventName)"
							>
								{{ item.title }}
							</a>
						</li>
						<li v-if="!navigator.isMobile">
							<booking-activate-button
								:extra-class="isScrolling ? '--small' : '--small-outline'"
								@activateBooking="activateBooking('navbar')"
							/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</template>

<script>
import BookingActivateButton from './BookingActivateButton';
import MixinActivateBooking from '../mixins/MixinActivateBooking';

export default {
	name: 'BookingNavbar',
	components: { BookingActivateButton },
	mixins: [MixinActivateBooking],
	data() {
		return {
			navbarMenu: false,
			menuItems: [
				{
					targetId: 'bookingBenefits',
					title: 'Keuntungan',
					trackerEventName: '[Owner] Landing Page Booking Langsung - Keuntungan'
				},
				{
					targetId: 'bookingTestimonial',
					title: 'Testimonial',
					trackerEventName:
						'[Owner] Landing Page Booking Langsung - Testimonial'
				},
				{
					targetId: 'bookingFAQ',
					title: 'FAQ',
					trackerEventName: null
				}
			],
			isScrolling: false
		};
	},
	created() {
		window.addEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleScroll() {
			this.isScrolling = window.scrollY > 0;
		},
		goToSection(target, trackerEventName) {
			const yOffset = -60;
			const element = document.getElementById(target);
			const y =
				element.getBoundingClientRect().top + window.pageYOffset + yOffset;

			if (trackerEventName) this.trackGoToSection(trackerEventName);
			if (navigator.isMobile) this.toggleNavbarMenu();

			window.scrollTo({ top: y, behavior: 'smooth' });
		},
		toggleNavbarMenu() {
			this.navbarMenu = !this.navbarMenu;
			this.updateBodyOverflow();
		},
		updateBodyOverflow() {
			if (this.navbarMenu) {
				document.body.style.overflow = 'hidden';
			} else {
				document.body.style.overflow = 'inherit';
			}
		},
		trackGoToSection(eventName) {
			tracker('moe', [
				eventName,
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					is_booking: this.isBBKActive,
					is_premium: this.isPremium
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
@import '../style/main.scss';

.booking-navbar {
	padding: 12px 25px;
	background: #fff;
	border: 0;
	border-radius: 0;

	@media (max-width: 768px) {
		padding: 3px 0;
	}

	&__header {
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
			transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		}
	}

	&__content {
		display: flex;
		justify-content: flex-end;

		.navbar-outside-screen {
			@media (max-width: 767px) {
				position: fixed;
				top: 56px;
				left: 0;
				z-index: 200;
				width: 100%;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.5);
				transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
			}
		}

		@media (min-width: 992px) and (max-width: 886px) {
			position: absolute;
			right: 10px;
		}
	}

	&__brand {
		padding-right: 0;
		padding-left: 0;

		@media (max-width: 768px) {
			transform: scale(0.75);
		}

		&-img {
			width: 170px;
		}
	}

	&__toggle {
		padding: 0;
		margin-top: 14.5px;
		margin-bottom: 0;
		border: 0;
		outline: none;
		transition: 0.2s ease-in-out;

		&:hover,
		&:focus {
			background: #fff !important;
			border: 0 !important;
		}
	}

	&__menu {
		&-link {
			color: #484848 !important;

			@media (max-width: 767px) {
				display: flex !important;
				max-height: 100vh;
				overflow: scroll;
				text-align: left;
			}
		}
	}
}

.nav-open {
	@media (max-width: 767px) {
		.booking-navbar__header {
			transform: translate3d(-220px, 0, 0);
		}

		.navbar-collapse {
			transform: translate3d(0, 0, 0);
		}
	}
}

.navbar-collapse {
	@media (max-width: 767px) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1032;
		display: block;
		width: 220px;
		height: 100vh;
		padding: 0 24px;
		overflow-y: visible;
		visibility: visible;
		background-color: #fff;
		transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		transform: translate3d(220px, 0, 0);

		.booking-navbar__menu {
			position: relative;
			z-index: 3;
			height: auto;
			overflow-y: auto;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: block;
			width: 100%;
			height: 100vh;
			content: '';
			background-color: #fff;
		}
	}
}

.icon-burger {
	&::after {
		content: url('/general/img/icons/ic_menu_hamburger.svg');
	}
}

.icon-close {
	&::after {
		content: url('/general/img/icons/ic_close_black.svg');
	}
}
</style>
