<template>
	<button
		class="btn booking-button"
		:class="extraClass"
		data-path="btn_activateBooking"
		@click="activateBooking"
	>
		Aktifkan Sekarang
	</button>
</template>

<script>
export default {
	name: 'BookingActivateButton',
	props: {
		extraClass: {
			type: [String, Array],
			default: null
		}
	},
	methods: {
		activateBooking() {
			this.$emit('activateBooking');
		}
	}
};
</script>
