<template>
	<section id="bookingReason" class="booking-section booking-reason">
		<div class="booking-section__container booking-reason__container">
			<h1 class="booking-section__heading booking-reason__heading">
				Mengapa Mamikos?
			</h1>
			<div class="row booking-reason__content">
				<booking-reason-list :items="captionItems"></booking-reason-list>
			</div>
		</div>
	</section>
</template>

<script>
import BookingReasonList from './booking-reason/BookingReasonList';

export default {
	name: 'BookingReason',
	components: { BookingReasonList },
	data() {
		return {
			captionItems: [
				{
					icon: {
						src: '/general/img/icons/ic_account.svg'
					},
					title: 'Terhubung ke Lebih dari 6 Juta Pengguna',
					text:
						'Kelola kos Anda secara online, dan pasarkan ke lebih dari 6 juta pencari kos di seluruh Indonesia.'
				},
				{
					icon: {
						src: '/general/img/icons/ic_check_list.svg'
					},
					title: 'Kelola Kos Jadi Mudah',
					text:
						'Dengan fitur Booking Langsung, Anda bisa kelola kos secara online dengan mudah dan fleksibel, di mana saja, kapan saja.'
				},
				{
					icon: {
						src: '/general/img/icons/ic_finding_kos.svg'
					},
					title: 'Kerja Sama Menarik',
					text:
						'Bekerja sama dengan Mamikos adalah pilihan terbaik untuk kembangkan bisnis kos. Pilih produk & layanan yang sesuai dengan skala bisnis kos Anda.'
				}
			]
		};
	}
};
</script>

<style lang="scss" scoped>
@import '../style/main.scss';

.booking-reason {
	text-align: center;
	background-color: #fff;
	background-image: url('/general/img/pictures/booking/intro-bg.png');
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: url('/general/img/pictures/booking/intro-bg-sm.png');
	}

	&__container {
		@media (min-width: 1366px) {
			padding-bottom: 8rem;
		}

		@media (max-width: 768px) {
			padding-top: 2px;
		}
	}

	&__content {
		margin-top: 48px;

		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
}
</style>
