.label-custom {
	padding: 0.7rem 2rem;
	font-size: 0.8em;
}

.label-custom {
	&.label-primary {
		background-color: #3f8c5621;
		color: #3f8cff;
	}
	&.label-danger {
		background-color: #ff445621;
		color: #ff4422;
	}
	&.label-success {
		background-color: #1baa5621;
		color: #1baa56;
	}
	&.label-warning {
		background-color: #e68d5621;
		color: #e68d3c;
	}
}
