.modal-header {
	height: 65px;
	background-color: #f5f5f5;
	padding: 5px 30px;
	border-bottom: none;

	.info-header {
		h4 {
			margin-bottom: 0.5rem;
			margin-top: 1.5rem;
		}

		p {
			color: #888888;
		}
	}

	.close {
		position: relative;
		img {
			width: 18px;
			position: relative;
			top: 20px;
		}
	}
}

.description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px 25px;

	.left-side {
		display: flex;
		flex-direction: row;

		img {
			width: 84px;
		}

		.kost {
			line-height: 16px;
			margin-left: 25px;
			padding-top: 20px;
			font-size: 18px;
		}
	}

	.right-side {
		p {
			margin-left: 1px;
		}
	}
}

.label {
	padding: 0.9rem 0.9rem;
	border-radius: 4px;
	font-size: 0.8em;

	&.label-primary {
		background-color: #d5efdf;
		color: #1baa56;
	}

	&.label-danger {
		background-color: #f7e4e6;
		color: #e52a34;
	}
}

.footer {
	float: right;
	margin-top: 30px;

	.btn {
		box-shadow: 0px 7px 40px rgba(27, 170, 86, 0.25);
		border-radius: 5px;
		padding: 15px 35px;
	}
}

.modal-footer {
	display: none;
}
