#manageProfileContentBiodata {
	margin-top: 3rem;
}

.wrapper-button {
	margin-bottom: 5rem;
	button {
		margin-right: 1rem;
	}
}

.header-custom {
	width: 100%;
	display: block;
	padding: 10px 15px;
}

img {
	&.accordion-icon {
		transition: transform 0.25s ease-out;
		float: right;
		top: 9px;
		position: relative;

		&.to-down {
			transform: rotate(-180deg);
		}

		&.to-up {
			transform: rotate(0deg);
		}
	}
}

.wrapper-upload-foto {
	margin-top: 2rem;
	display: flex;

	.foto-upload-custom {
		width: 198px;
		height: 217px;
		border: 1px dashed;
		margin-right: 2rem;
	}
}

a {
	&.add-question {
		font-weight: 600;
	}
}

.form-group {
	width: 40%;
  margin-bottom: 4.1rem;
	min-width: 436px;
	max-width: 436px;
	position: relative;

	.is-position-absolute {
		position: absolute;
		bottom: -39px;
	}

	> label {
		margin-bottom: 1.8rem;
	}

	input {
		&.input-custom {
			height: 60px;
			box-shadow: none;
			border: 0.5px solid #dbdbdb;
			border-radius: 3px;
			text-indent: 6px;
		}
	}

	select {
		&.input-select-custom {
			height: 60px;
			box-shadow: none;
			border: 0.5px solid #dbdbdb;
			border-radius: 3px;
			text-indent: 6px;
		}
	}

	.radio-control {
		margin-right: 1rem;
	}

	span.label-radio {
		position: relative;
		top: -4px;
	}
}

.wrapper-radio {
	display: flex;
}

.no-margin {
	margin: 0;
}

.wrapper-input-question {
	position: relative;
	a {
		&.link-delete-question {
			position: absolute;
			right: -55px;
			top: 16px;
		}
	}
}

.input-error {
	    border-color: #FF4422 !important;
}