/* stylelint-disable selector-max-id, selector-max-specificity */
#mamipayOwnerContainer {
	width: 100%;
	min-width: 920px;
	max-width: 100%;
	background-color: #fff;
}

#contentSection {
	width: 100%;
	padding: 2rem;
	margin-left: 238px;
	overflow: auto;
	background-color: #fff;
}

#wrapper-section {
	display: flex;
	margin-top: 64px;
	background-color: #f9f9f9;
	justify-content: flex-start;
}

#navigation-section {
	position: fixed;
	z-index: 2;
	height: 100%;
	padding: 6rem 2rem 0;
	background: #fff;
	box-shadow: 6px 0 9px -2px #d4d4d4;
}
/* stylelint-enable */
