#manageOwnerBooking {
	font-size: 14px;
	margin: 0rem 2rem;
}

.title-section {
	color: #2e2d39;
	font-size: 1.714em;
	font-weight: 600;
}

.wrapper-section {
	margin-top: 4rem;
}

.header-section {
	display: flex;
	justify-content: space-between;

	.left-header-section {
		width: 50%;
	}

	.right-header-section {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 11px;
	}
}

.distance-custom {
	margin-left: 1rem;
}

.name-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	img {
		width: 42px;
		height: 42px;
		border-radius: 100%;
		margin-right: 1rem;
		object-fit: cover;
	}
	span {
		padding-top: 0.5rem;
		width: 68%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
		> span {
			font-size: 0.8em;
			position: relative;
			top: -6px;
			width: 100%;
			&.--status-waiting {
				color: #ec4a0c;
			}

			&.--status-confirmed {
				color: #999999;
			}

			&.--status-checkin {
				color: #3485ea;
			}
		}
	}
}

.manage-owner-booking-header {
	.page-title {
		margin: 10px 0 0;
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
		color: #303030;
	}

	.property-area {
		margin-top: 8px;
		font-size: 16px;
		line-height: 24px;
		color: #949494;
	}
}

.wrapper-section {
	margin-top: 32px;
}

.total-bill {
	color: #1baa56;
	font-weight: 700;
}

.title-blur {
	color: #999999;
}

.margin-top-custom {
	margin-top: 4rem !important;
}

@import 'LabelCustom';
