$color_gallery_approx: #f0f0f0;
$color_gunsmoke_approx: #838383;
$black: #000000;
$mercury: #e5e5e5;
$color_green_haze_5_approx: rgba(27, 170, 86, 0.05);
$white: #fff;

.vgt-responsive {
  display: block;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  overflow-x: unset;
}
.vgt-table {
  tbody {
    th {
      border: none !important;
    }
    td {
      border: none !important;
      height: 85px;
      color: $black;
      vertical-align: inherit;
      padding: 0.75em 1.75em 0.75em 1.75em !important;
    }
  }
  &.striped {
    &.empty-data tbody tr:nth-of-type(odd) {
      background: $mercury !important;
    }
    tbody tr {
      &:nth-of-type(odd) {
        background: $color_green_haze_5_approx !important;
      }
      &:nth-of-type(even) {
        background: $white;
      }
    }
  }
  thead th {
    background: $color_gallery_approx !important;
    color: $color_gunsmoke_approx;
    font-weight: 600;
    border: none !important;
    height: 57px;
    vertical-align: inherit;
    padding: 0.75em 1.75em 0.75em 1.75em !important;
  }
}
