<template>
	<div id="bookingDetailCard">
		<div>
			<div class="booking-card-header">
				<div v-if="isBookingFailed" class="header-reject-reason">
					<label>Alasan {{ cancelReasonLabel }} : </label>
					<span>{{ bookingDetail.cancel_reason }}</span>
				</div>

				<div class="header-price">
					<booking-detail-card-price
						:is-discount-applied="isDiscountApplied"
						:booking-detail="bookingDetail"
						:rent-count="rentCount"
					/>

					<span class="text-primary" @click="openModalFac">
						<b>Lihat Fasilitas</b>
					</span>
				</div>
			</div>

			<div class="booking-card-detail">
				<div
					v-if="bookingStatus.status !== 'terminated'"
					class="detail-warning"
				>
					<img
						class="detail-warning__icon"
						src="/general/img/icons/ic_info.svg"
						alt="ic_info"
					/>
					<span>Ini adalah rincian kost terakhir pada {{ createdDate }}, </span>
					<a
						class="text-primary"
						:href="
							`/room/${bookingDetail.room.slug}?redirection_source=riwayat%20booking`
						"
						target="_blank"
					>
						lihat informasi terbaru
					</a>
				</div>

				<div
					v-if="
						bookingStatus.status === 'waiting_payment' ||
							bookingStatus.status === 'paid'
					"
					class="detail-invoice"
				>
					<div class="invoice-item">
						<span>Nomor Invoice</span>
						<span>
							<b>{{ bookingDetail.invoice_number }}</b>
						</span>
					</div>

					<div class="invoice-item">
						<span>Biaya Total</span>
						<span>
							<b>
								Rp.
								{{
									parseInt(bookingDetail.invoice_total_amount).toLocaleString(
										'id'
									)
								}}
							</b>
						</span>
					</div>

					<div class="invoice-item --see-invoice">
						<a class="text-primary" :href="bookingDetail.invoice_url">
							Lihat Invoice
						</a>
					</div>
				</div>

				<div v-if="bookingStatus.status === 'paid'" class="detail-checkin">
					<booking-checkin-instruction
						:room-name="bookingDetail.room.name"
						:coordinate-number="
							`${bookingDetail.room.latitude},${bookingDetail.room.longitude}`
						"
						:invoice-url="bookingDetail.invoice_url"
					></booking-checkin-instruction>
				</div>

				<div
					v-if="bookingStatus.status === 'terminated'"
					class="review-box --is-cursor-pointer"
					@click="giveReview"
				>
					<span class="info">
						<span class="first-text">{{ reviewInstruction }}</span>
						<span v-if="!terminatedDetail.hasReviewed" class="second-text"
							>Bagaimana kesanmu selama disini?</span
						>
					</span>
					<mami-loading-inline
						v-if="isLoadingGetUserReview"
						class="custom-loading"
					></mami-loading-inline>
					<img v-else v-lazy="reviewIcon" class="start-image" />
				</div>

				<booking-detail-card-tenant-info
					:name="bookingDetail.name"
					:phone-number="bookingDetail.phone_number"
				/>

				<booking-detail-card-spending
					v-if="bookingStatus.status === 'terminated'"
					:total-payment="terminatedDetail.totalPayment"
					:total-discount="terminatedDetail.totalDiscount"
					:duration="bookingDetail.duration_string"
					@view-transaction="goHistoryTransaction"
				/>

				<booking-detail-card-contract-info
					:booking-detail="bookingDetail"
					:rent-type="rentCount.rentType"
					:checkin-date="checkinDate"
					:checkout-date="checkoutDate"
				/>

				<div
					v-if="bookingStatus.status === 'waiting_confirmation'"
					class="detail-cancel"
				>
					<button type="button" class="btn btn-success" @click="cancelBooking">
						Batalkan Booking
					</button>
				</div>

				<div class="detail-collapse" @click="togglePanel">
					<span class="text-primary">Lihat lebih sedikit</span>
					<img
						src="/general/img/icons/ic_angle-down_s_green.svg"
						alt="ic_angle-down_s_green"
					/>
				</div>
			</div>

			<div
				class="booking-card-footer"
				:class="{
					'--footer-waiting-payment': bookingStatus.status === 'waiting_payment'
				}"
			>
				<div v-if="showCountdownTimer" class="footer-warning-text">
					<img src="/general/img/icons/ic_warning.svg" alt="ic_warning.svg" />
					<span>Sisa waktu pembayaran</span>
					<span v-if="!isCountdownEnd" class="timer">
						{{ hoursLeft }}:{{ minutesLeft }}:{{ secondsLeft }}
					</span>
					<span v-else class="timer">
						00:00:00
					</span>
				</div>

				<button
					v-if="isStatusCanChatOwner"
					type="button"
					class="btn btn-success"
					@click="openGroupChannel(bookingDetail.group_channel_url)"
				>
					Chat Pemilik
				</button>

				<a
					v-if="bookingStatus.status === 'waiting_payment'"
					role="button"
					class="btn btn-primary"
					:class="{ disabled: isCountdownEnd }"
					:href="bookingDetail.invoice_url"
					target="_blank"
				>
					Bayar Sekarang
				</a>

				<button
					v-if="isCheckinStatus"
					type="button"
					class="btn btn-primary"
					@click="openKostList"
				>
					Kost Saya
				</button>

				<button
					v-if="isDisplayButtonCheckin"
					type="button"
					class="btn btn-primary"
					@click="openCheckin(false)"
				>
					{{ isLabelButtonCheckin }}
				</button>

				<a
					v-if="isBookingFailed"
					role="button"
					class="btn btn-primary"
					href="/cari"
					target="_self"
				>
					Cari Kost Lain
				</a>

				<a
					v-if="bookingStatus.status === 'terminated'"
					role="button"
					class="btn btn-primary --btn-booking-again"
					:href="
						`/room/${bookingDetail.room.slug}?redirection_source=${encodeURI(
							'riwayat booking'
						)}`
					"
					target="_blank"
				>
					Booking Lagi
				</a>
			</div>
		</div>

		<booking-modal-facilities
			:show-modal="isShowBookingModalFacilities"
			:room-facility="roomFacility"
			@close="closeModalFac"
		></booking-modal-facilities>

		<booking-modal-cancel
			:show-modal="isModalCancel"
			:booking-code="bookingDetail.booking_code"
			@close="closeModalCancel"
			@success="showModalCancelSuccess"
		></booking-modal-cancel>

		<booking-modal-cancel-success
			:show-modal="isModalCancelSuccess"
		></booking-modal-cancel-success>
	</div>
</template>

<script>
import mixinOpenChat from 'Js/@mixins/MixinOpenChat';
import mixinBookingDetail from '../../../mixins/mixinBookingDetail';

import BookingModalCancelSuccess from './BookingModalCancelSuccess';
import BookingCheckinInstruction from './BookingCheckinInstruction';
import BookingModalCancel from './BookingModalCancel';
import BookingModalFacilities from './BookingModalFacilities';
import BookingDetailCardContractInfo from './BookingDetailCardContractInfo';
import BookingDetailCardPrice from './BookingDetailCardPrice';
import BookingDetailCardSpending from './BookingDetailCardSpending';
import BookingDetailCardTenantInfo from './BookingDetailCardTenantInfo';

import EventBus from '../../../event-bus/event-bus';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		BookingModalCancelSuccess,
		BookingCheckinInstruction,
		BookingModalCancel,
		BookingModalFacilities,
		BookingDetailCardContractInfo,
		BookingDetailCardPrice,
		BookingDetailCardSpending,
		BookingDetailCardTenantInfo,
		MamiLoadingInline
	},

	mixins: [mixinOpenChat, mixinBookingDetail],

	props: {
		terminatedDetail: {
			type: Object,
			default: () => {
				return {
					hasReviewed: '',
					totalDiscount: '',
					totalPayment: '',
					ownerName: '',
					tenantName: '',
					contractId: ''
				};
			}
		},
		bookingDetail: {
			type: Object,
			required: true
		},
		bookingStatus: {
			type: Object,
			required: true
		},
		isCheckinStatus: {
			type: Boolean,
			required: true
		},
		hoursLeft: {
			type: Number,
			default: 0
		},
		minutesLeft: {
			type: Number,
			default: 0
		},
		secondsLeft: {
			type: Number,
			default: 0
		},
		isCountdownEnd: {
			type: Boolean,
			required: false
		}
	},

	data() {
		return {
			isLoadingGetUserReview: false
		};
	},

	computed: {
		isDiscountApplied() {
			return (
				!!this.bookingDetail.is_flash_sale &&
				!!this.bookingDetail.flash_sale.discount
			);
		},
		isStatusCanChatOwner() {
			return (
				this.bookingStatus.status === 'waiting_confirmation' ||
				this.bookingStatus.status === 'paid' ||
				this.bookingStatus.status === 'terminated'
			);
		},
		reviewIcon() {
			const starImage = this.terminatedDetail.hasReviewed
				? 'ic_star-mamipay_s.svg'
				: 'ic_star-mamipay_o.svg';
			return {
				src: `/general/img/icons/${starImage}`
			};
		},
		reviewInstruction() {
			return this.terminatedDetail.hasReviewed
				? 'Sudah direview'
				: 'Berikan Review';
		},
		isPaidInvoice() {
			return (
				this.bookingStatus.status === 'paid' ||
				this.bookingStatus.status === 'paid_late' ||
				this.bookingStatus.status === 'verified'
			);
		},
		isFullyPaid() {
			return this.bookingDetail.is_fully_paid;
		},
		isDownPayment() {
			return this.bookingDetail.invoice_number.substring(0, 2) === 'DP';
		},
		isLabelButtonCheckin() {
			return this.isFullyPaid ? 'Check-in Kos' : 'Bayar Sekarang';
		},
		isDisplayButtonCheckin() {
			const isInvoiceDownPaymentCondition =
				!this.isCheckinStatus && this.isPaidInvoice && !this.isDownPayment;
			const isInvoiceNoDownPaymentCondition =
				!this.isCheckinStatus && this.isPaidInvoice;

			return (
				(isInvoiceDownPaymentCondition || isInvoiceNoDownPaymentCondition) &&
				!this.isCheckinStatus
			);
		},
		contractId() {
			return this.terminatedDetail.contractId;
		}
	},

	watch: {
		bookingDetail: {
			immediate: true,
			handler(val) {
				this.updateDateFormat('id');
			}
		}
	},

	mounted() {
		EventBus.$on('eventLoadingReview', data => {
			this.isLoadingGetUserReview = data.status;
		});

		if (this.bookingStatus.status === 'terminated') {
			this.isOpenDetailBooking = false;
		}
	},

	methods: {
		giveReview() {
			const roomId = this.bookingDetail.room._id;
			EventBus.$emit('showRoomReview', {
				roomId
			});
		},

		goHistoryTransaction() {
			this.contractId &&
				this.$router.push(
					`/riwayat-transaksi?contract=${Number(this.contractId)}`
				);
		},
		togglePanel() {
			this.$emit('toggle');
		},
		openCheckin() {
			this.$emit('open-checkin', false);
		}
	}
};
</script>

<style lang="scss">
.custom-loading {
	h3 {
		display: none;
	}

	.spinner {
		margin: 0 !important;
		position: relative;
		top: 5.9px;
	}
}
</style>

<style lang="scss" scoped>
.booking-card-header {
	margin-left: 12rem;
	margin-top: -1rem;

	.header-reject-reason,
	.header-price {
		display: flex;
		flex-direction: column;

		span {
			word-break: break-word;
			margin-right: 20px;
		}
	}

	.header-price {
		margin-top: 1rem;

		.text-primary {
			cursor: pointer;
		}
	}
}

.booking-card-detail {
	line-height: 2.5;
	padding: 1.5rem;
	transition: height 2s;
}

.detail-warning {
	border-radius: 6px;
	border: 1px solid rgba(219, 219, 219, 0.5);
	background-color: rgba(27, 170, 86, 0.1);
	font-style: italic;
	padding: 1rem;

	.text-primary {
		cursor: pointer;
	}

	img {
		margin: 0 0.5rem 0.3rem 0;
	}
}

.detail-invoice {
	border-radius: 6px;
	border: 1px dashed rgba(219, 219, 219, 0.5);
	background-color: rgba(27, 170, 86, 0.1);
	padding: 1rem;
	margin-top: 1.5rem;

	.invoice-item {
		display: flex;
		justify-content: space-between;

		&.--see-invoice {
			justify-content: flex-end;
			cursor: pointer;
			font-size: 12px;
		}
	}
}

.detail-checkin {
	border-radius: 6px;
	border: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem;
	margin-top: 1.5rem;

	ul {
		.text-primary {
			cursor: pointer;
		}
	}
}

.detail-cancel {
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;

	button {
		width: 153px;
		height: 48px;
	}
}

.detail-collapse {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	cursor: pointer;

	span {
		font-weight: bold;
	}

	img {
		height: 14px;
		transform: rotate(180deg);
		margin-left: 1rem;
	}
}

.booking-card-footer {
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem 1.5rem;

	&.--footer-waiting-payment {
		justify-content: space-between;
	}

	button,
	a {
		height: 46px;
		margin-left: 1.5rem;
		width: 153px;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-warning-text {
		color: #e04205;
		display: flex;
		align-items: center;
		font-size: 0.9em;

		@media (max-width: 991px) {
			margin-bottom: 1rem;
		}

		img {
			margin-right: 0.5rem;
			margin-top: -0.2rem;
		}

		.timer {
			margin-left: 0.5rem;
			font-weight: bold;
		}
	}
}

.review-box {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;

	.info {
		line-height: 1.8em;

		.first-text {
			display: block;
			color: #109e4b;
			font-size: 1.1em;
			font-weight: bold;
		}

		.second-text {
			color: #000000;
		}
	}
}

.--btn-booking-again {
	background: #ec4a0c;
	border: none;
	font-size: 1.1em;
}

.--is-cursor-pointer {
	cursor: pointer;
}
</style>
