<template>
	<div class="detail-price-wrapper">
		<flash-sale-price
			v-if="isDiscountApplied"
			:percentage="bookingDetail.flash_sale.percentage"
			:price="`Rp${bookingDetail.flash_sale.rent_price.toLocaleString('id')}`"
		/>
		<span v-if="isDefaultFormat">
			<b>
				{{ priceText }}
			</b>

			/{{ rentCount.rentType }}
		</span>

		<span v-else>
			Per {{ rentCount.rentType }} -
			{{ priceText }}
		</span>
	</div>
</template>

<script>
import FlashSalePrice from 'Js/_booking/flash-sale/FlashSalePrice';

export default {
	components: {
		FlashSalePrice
	},

	props: {
		isDiscountApplied: {
			type: Boolean,
			default: false
		},
		bookingDetail: {
			type: Object,
			required: true
		},
		rentCount: {
			type: Object,
			required: true
		},
		isDefaultFormat: {
			type: Boolean,
			default: true
		}
	},

	computed: {
		priceText() {
			return this.isDiscountApplied
				? `Rp${this.bookingDetail.flash_sale.price_after_discount.toLocaleString(
						'id'
				  )}`
				: `Rp${this.rentCount.rentPrice.toLocaleString('id')}`;
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-price-wrapper {
	display: flex;
	flex-direction: column;

	.text-primary {
		cursor: pointer;
	}

	span {
		word-break: break-word;
		margin-right: 20px;
	}
}
</style>
