<template>
	<div class="card-info-wrapper">
		<div
			class="kost-img"
			:style="{
				'background-image':
					'url(' +
					bookingDetail.room.photo.small +
					'), url(/general/img/pictures/placeholder/placeholder_loading.svg)'
			}"
		></div>

		<div class="kost-detail">
			<div class="kost-item">
				<label class="kost-title">
					{{ bookingDetail.room.name }}
				</label>
			</div>

			<div
				class="kost-item --custom-distance"
				:class="{ '--card-open': isCardOpen }"
			>
				<img
					src="/general/img/icons/ic_grey_room.svg"
					title="Nomor Kamar"
					alt="ic_grey_room"
				/>
				<div v-if="bookingDetail.room.number">
					<span class="--room-lighter">
						Kamar {{ bookingDetail.room.number }}
					</span>
					<span v-if="bookingDetail.room.floor" class="--room-semibold">
						Lantai {{ bookingDetail.room.floor }}
					</span>
				</div>

				<div v-else>
					<span class="--room-lighter">
						Kamar Belum Dikonfirmasi
					</span>
				</div>
			</div>

			<div class="kost-date">
				<div class="date-item">
					<div class="date-title">
						<img
							src="/general/img/icons/ic_grey_calendar.svg"
							title="Tanggal Masuk"
							alt="ic_grey_calendar"
						/>
						<label>{{ customDateLabel }}</label>
					</div>

					<label class="date-value">{{ customDateValue }}</label>
				</div>

				<div class="date-item">
					<div class="date-title">
						<img
							src="/general/img/icons/ic_grey_clock.svg"
							alt="ic_grey_clock"
						/>
						<label>Durasi Sewa</label>
					</div>

					<label class="date-value">
						{{ bookingDetail.duration_string }}
					</label>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		bookingDetail: {
			type: Object,
			required: true
		},
		customDateLabel: {
			type: String,
			default: 'Tanggal Masuk'
		},
		customDateValue: {
			type: String,
			default: '01 Jan 00'
		},
		isCardOpen: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
.card-info-wrapper {
	padding: 1.5rem;
	display: flex;

	.kost-img {
		width: 90px;
		height: 84px;
		border-radius: 3px;
		background-color: #999;
		background-size: cover;
		background-position: center;

		@media (max-width: 425px) {
			width: 60px;
			height: 60px;
		}
	}

	.kost-detail {
		display: flex;
		flex-direction: column;
		margin-left: 1.5rem;

		.kost-item {
			display: flex;
			align-items: center;

			&.--custom-distance {
				margin: -0.5rem 0rem 0.2rem;
			}

			&.--card-open {
				label {
					font-weight: normal;
				}
			}

			img {
				margin-right: 0.5rem;
			}

			.kost-title {
				max-width: 400px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@media (min-width: 425px) and (max-width: 991px) {
					max-width: 250px;
				}

				@media (max-width: 424px) {
					max-width: 170px;
				}
			}

			.--separator {
				color: #c4c4c4;
			}

			.--room-lighter {
				color: #2e2d39;
				font-weight: normal;
			}
		}

		.kost-date {
			display: flex;

			.date-item {
				display: flex;
				flex-direction: column;
				margin-right: 1rem;

				@media (max-width: 425px) {
					margin-right: 0.5rem;
				}

				.date-title {
					display: flex;
					align-items: center;

					img {
						margin-right: 0.5rem;
						margin-top: -0.5rem;
					}

					label {
						font-weight: lighter;
						font-size: 0.9em;

						@media (max-width: 425px) {
							font-size: 11px;
						}
					}
				}

				.date-value {
					margin-left: 2.2rem;
					font-weight: 500;

					@media (max-width: 425px) {
						font-size: 11px;
					}
				}
			}
		}
	}
}</style
>}
