<template>
	<div id="bookingModalHistoryFilter">
		<select-modal
			:show="showModal"
			:initial-option="filterSelected"
			:active-option="filterSelected"
			:options="filterOptions"
			:title="'Filter'"
			:on-click-option="setFilter"
			:close-modal="closeModal"
		/>
	</div>
</template>

<script>
const SelectModal = () => import('Js/@components/PickABooSelectModal');

export default {
	components: {
		SelectModal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			filterOptions: [
				{ name: 'Tampilkan Semua', value: 'all' },
				{ name: 'Tunggu Konfirmasi', value: 'booked' },
				{ name: 'Butuh Pembayaran', value: 'confirmed' },
				{ name: 'Terbayar', value: 'verified' },
				{ name: 'Dibatalkan', value: 'cancelled' },
				{ name: 'Pemilik Menolak', value: 'rejected' },
				{ name: 'Sewa Berakhir', value: 'terminated' },
				{ name: 'Kedaluwarsa', value: 'expired' }
			],
			filterSelected: { name: 'Tampilkan Semua', value: 'all' }
		};
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		setFilter(val) {
			this.filterSelected = val;
			this.$emit('set', val.value);
		}
	}
};
</script>

<style lang="scss">
#bookingModalHistoryFilter {
	@media (min-width: 768px) {
		.modal-dialog {
			position: relative !important;
			width: 300px !important;
		}
		.modal-content {
			border-radius: 6px !important;
		}

		#pickABooSelectModal {
			&.modal.fade .modal-dialog {
				transform: translate(0, -25%) !important;
			}

			&.modal.in .modal-dialog {
				transform: translate(0, 0) !important;
			}

			.pick-a-boo-header {
				border-bottom: none !important;

				button {
					margin-top: -30px !important;
					margin-right: -10px !important;
				}

				h3 {
					margin-top: 40px;
				}
			}
		}
	}
}

.modal-open {
	position: relative !important;
	top: 0 !important;
}
</style>
