<template>
	<div
		class="detail-booking"
		:class="{
			'--is-close': !isOpenDetailBooking
		}"
		@click="toggleDetailBooking"
	>
		<label
			><span>Detail Booking</span>
			<img
				v-lazy="{
					src: '/general/img/icons/ic_arrow-right-mamipay_grey.svg'
				}"
				class="arrow hidden-xs"
				:class="{
					'--is-open': isOpenDetailBooking
				}"
		/></label>
		<div class="booking-item">
			<span>ID Booking</span>
			<span>
				<b>{{ bookingDetail.booking_code }}</b>
			</span>
		</div>

		<div class="booking-item">
			<span>Tanggal Masuk</span>
			<span>
				<b>{{ checkinDate }}</b>
			</span>
		</div>

		<div class="booking-item">
			<span>Tanggal Keluar</span>
			<span>
				<b>{{ checkoutDate }}</b>
			</span>
		</div>

		<div class="booking-item">
			<span>Durasi Sewa</span>
			<span>
				<b>{{ bookingDetail.duration_string }}</b>
			</span>
		</div>

		<div class="booking-item">
			<span>Hitungan Sewa</span>
			<span class="--rent-count-type">
				<b>{{ rentType }}an</b>
			</span>
		</div>

		<div class="booking-item --tenant-description">
			<span>Deskripsi Diri</span>
			<div class="desc-box">
				<p>
					{{ bookingDetail.description || '-' }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		bookingDetail: {
			type: Object,
			required: true
		},
		rentType: {
			type: String,
			required: true
		},
		checkinDate: {
			type: String,
			required: true
		},
		checkoutDate: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			isOpenDetailBooking: true
		};
	},

	methods: {
		toggleDetailBooking() {
			if (!this.navigator.isMobile) {
				this.isOpenDetailBooking = !this.isOpenDetailBooking;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-booking {
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem 2rem;
	margin-top: 1.5rem;
	overflow: hidden;
	height: auto;
	transition: height 0.5s ease;

	@media (max-width: 767px) {
		border: none;
		padding: 15px 0;
		margin-top: 0;
		cursor: default;
	}

	&.--is-close {
		height: 55px;
		transition: height 0.5s ease;
	}

	label {
		cursor: pointer;
		display: flex;
		justify-content: space-between;

		img.arrow {
			margin-right: 0.5rem;
			&.--is-open {
				transform: rotate(-90deg);
			}
		}
	}

	.booking-item {
		display: flex;
		justify-content: space-between;

		&.--tenant-description {
			flex-direction: column;
			justify-content: flex-start;
		}

		.--rent-count-type {
			text-transform: capitalize;
		}

		.desc-box {
			border-radius: 6px;
			border: 1px solid rgba(219, 219, 219, 0.5);
			padding: 1rem;
			margin-top: 0.5rem;

			p {
				word-break: break-word;
			}
		}
	}
}
</style>
