<template>
	<div class="booking-detail-mobile">
		<div>
			<div class="booking-card-header">
				<div class="header-status">
					<div
						class="booking-status"
						:class="bookingStatusClass"
						v-text="bookingStatus.label"
					></div>

					<flash-sale-label v-if="bookingDetail.is_flash_sale" />
				</div>

				<div class="wrapper-detail">
					<div class="first-column wrapper-room-detail">
						<span class="room-title">{{ bookingDetail.room.name }}</span>
						<div class="room-detail">
							<span class="room-gender" :class="typeKostStyle">{{
								roomGender
							}}</span>
							<span class="separator">&bull;</span>
							<span class="room-number"
								>Kamar <b>{{ bookingDetail.room.number }}</b></span
							>
						</div>

						<flash-sale-price
							v-if="isDiscountApplied"
							:percentage="bookingDetail.flash_sale.percentage"
							:price="
								`Rp. ${bookingDetail.flash_sale.rent_price.toLocaleString(
									'id'
								)}`
							"
						/>
						<span class="room-rent">
							<b>
								{{
									isDiscountApplied
										? `Rp. ${bookingDetail.flash_sale.price_after_discount.toLocaleString(
												'id'
										  )}`
										: `Rp. ${rentCount.rentPrice.toLocaleString('id')}`
								}}
							</b>

							/{{ rentCount.rentType }}
						</span>
					</div>
					<div class="second-column wrapper-room-detail">
						<img
							v-lazy="{
								src: bookingDetail.room.photo.small,
								error:
									'/general/img/pictures/placeholder/placeholder_loading.svg'
							}"
							class="room-image"
						/>
						<a :href="`/room/${bookingDetail.room.slug}`" target="_blank"
							>Lihat Iklan</a
						>
					</div>
				</div>

				<div v-if="isBookingFailed" class="header-reject-reason">
					<label>Alasan {{ cancelReasonLabel }} : </label>
					<span>{{ bookingDetail.cancel_reason }}</span>
				</div>

				<booking-detail-card-mobile-date
					:duration-string="bookingDetail.duration_string"
					:checkin-date="checkinDate"
					:checkout-date="checkoutDate"
				/>

				<div
					v-if="bookingStatus.status === 'terminated'"
					class="review-box"
					@click="giveReview"
				>
					<span class="info">
						<span class="first-text">{{ reviewInstruction }}</span>
						<span v-if="!terminatedDetail.hasReviewed" class="second-text"
							>Bagaimana kesanmu selama disini?</span
						>
					</span>
					<img v-lazy="reviewIcon" class="start-image" />
				</div>
			</div>

			<div class="booking-card-detail">
				<div
					v-if="
						bookingStatus.status === 'waiting_payment' ||
							bookingStatus.status === 'paid'
					"
					class="detail-invoice"
				>
					<div class="invoice-item">
						<span>Nomor Invoice</span>
						<span>
							<b>{{ bookingDetail.invoice_number }}</b>
						</span>
					</div>

					<div class="invoice-item">
						<span>Biaya Total</span>
						<span>
							<b>
								{{
									'Rp' +
										Number(bookingDetail.invoice_total_amount).toLocaleString(
											'id'
										)
								}}
							</b>
						</span>
					</div>

					<div class="invoice-item --see-invoice">
						<a class="text-primary" :href="bookingDetail.invoice_url">
							Lihat Invoice
						</a>
					</div>
				</div>

				<div
					v-if="bookingStatus.status !== 'terminated'"
					class="detail-warning"
				>
					<img
						class="detail-warning__icon"
						src="/general/img/icons/ic_info.svg"
						alt="ic_info"
					/>
					<span>Ini adalah rincian kost terakhir pada {{ createdDate }}, </span>
					<a
						class="text-primary"
						:href="
							`/room/${bookingDetail.room.slug}?redirection_source=riwayat%20booking`
						"
						target="_blank"
					>
						lihat informasi terbaru
					</a>
				</div>

				<booking-checkin-instruction
					v-if="bookingStatus.status === 'paid'"
					:room-name="bookingDetail.room.name"
					:coordinate-number="
						`${bookingDetail.room.latitude},${bookingDetail.room.longitude}`
					"
					:invoice-url="bookingDetail.invoice_url"
				></booking-checkin-instruction>

				<div v-if="bookingStatus.status !== 'terminated'" class="detail-tenant">
					<label>Data Penyewa</label>
					<div class="tenant-item">
						<span>Nama</span>
						<span class="--name">
							<b>{{ bookingDetail.name }}</b>
						</span>
					</div>

					<div class="tenant-item">
						<span>Nomor Telepon</span>
						<span>
							<b>{{ bookingDetail.phone_number }}</b>
						</span>
					</div>
				</div>

				<div
					v-if="bookingStatus.status !== 'terminated'"
					class="detail-booking"
				>
					<label><span>Detail Booking</span></label>
					<div class="booking-item">
						<span>ID Booking</span>
						<span>
							<b>{{ bookingDetail.booking_code }}</b>
						</span>
					</div>

					<div class="booking-item">
						<span>Tanggal Masuk</span>
						<span>
							<b>{{ checkinDate }}</b>
						</span>
					</div>

					<div class="booking-item">
						<span>Tanggal Keluar</span>
						<span>
							<b>{{ checkoutDate }}</b>
						</span>
					</div>

					<div class="booking-item">
						<span>Durasi Sewa</span>
						<span>
							<b>{{ bookingDetail.duration_string }}</b>
						</span>
					</div>

					<div class="booking-item">
						<span>Hitungan Sewa</span>
						<span class="--rent-count-type">
							<b>{{ rentCount.rentType }}an</b>
						</span>
					</div>

					<div class="booking-item --tenant-description">
						<span>Deskripsi Diri</span>
						<div class="desc-box">
							<p>
								{{ bookingDetail.description || '-' }}
							</p>
						</div>
					</div>
				</div>

				<div
					v-if="bookingStatus.status === 'terminated'"
					class="other-info --is-custom-line"
				>
					<div class="data-info">
						<span class="title">Pemilik Kos</span>
						<span class="desc">{{ ownerName }}</span>
					</div>
					<img
						v-lazy="{
							src: '/general/img/icons/ic_green_chat_o.svg'
						}"
						class="chat-to-owner"
						@click="openGroupChannel(bookingDetail.group_channel_url)"
					/>
				</div>

				<div
					v-if="bookingStatus.status === 'terminated'"
					class="other-info --is-custom-line"
				>
					<div class="data-info">
						<span class="title">Penyewa</span>
						<span class="desc">{{ bookingDetail.name }}</span>
					</div>
				</div>

				<div
					v-if="bookingStatus.status === 'terminated'"
					class="other-info total-outcome"
					@click="goHistoryTransaction"
				>
					<div class="data-info">
						<span class="title"
							><span>Total Pengeluaran</span>
							<img
								v-lazy="{
									src: '/general/img/icons/ic_arrow-right-mamipay_grey.svg'
								}"
						/></span>
						<mami-loading-inline
							v-if="terminatedDetail.totalPayment === ''"
						></mami-loading-inline>
						<div v-else class="desc-detail">
							<span v-if="terminatedDetail.totalDiscount" class="discount">
								{{ totalDiscount }}</span
							>
							<span class="rent">{{ totalPayment }}</span>
							<a @click="goHistoryTransaction">Lihat Riwayat Transaksi</a>
						</div>
					</div>
				</div>
			</div>

			<div class="booking-card-footer">
				<div v-if="showCountdownTimer" class="footer-warning-text">
					<img src="/general/img/icons/ic_warning.svg" alt="ic_warning.svg" />
					<span>Sisa waktu pembayaran</span>
					<span
						v-countdown="{
							target: bookingDetail.payment_expired_date,
							format: 'HH:mm:ss'
						}"
						class="timer"
					></span>
				</div>
				<div class="footer-action-button">
					<button
						v-if="
							bookingStatus.status === 'waiting_confirmation' ||
								bookingStatus.status === 'paid'
						"
						type="button"
						class="btn btn-success"
						@click="openChat"
					>
						Chat Pemilik
					</button>

					<button
						v-if="bookingStatus.status === 'waiting_confirmation'"
						type="button"
						class="btn btn-success"
						@click="cancelBooking"
					>
						Batalkan Booking
					</button>

					<a
						v-if="bookingStatus.status === 'waiting_payment'"
						role="button"
						class="btn btn-primary"
						:href="bookingDetail.invoice_url"
						target="_blank"
					>
						Bayar Sekarang
					</a>

					<button
						v-if="isCheckinStatus"
						type="button"
						class="btn btn-primary"
						@click="openKostList"
					>
						Kost Saya
					</button>

					<button
						v-if="isDisplayButtonCheckin"
						type="button"
						class="btn btn-primary"
						@click="openCheckin"
					>
						{{ isLabelButtonCheckin }}
					</button>

					<a
						v-if="isBookingFailed"
						role="button"
						class="btn btn-primary"
						href="/cari"
						target="_self"
					>
						Cari Kost Lain
					</a>

					<a
						v-if="bookingStatus.status === 'terminated'"
						role="button"
						class="btn btn-primary --btn-booking-again"
						:href="`/room/${bookingDetail.room.slug}`"
						target="_blank"
					>
						Booking Lagi
					</a>
				</div>
			</div>
		</div>

		<booking-modal-facilities
			:show-modal="isShowBookingModalFacilities"
			:room-facility="roomFacility"
			is-fullscreen-modal
			with-navbar
			@close="closeModalFac"
		></booking-modal-facilities>

		<booking-modal-cancel
			:show-modal="isModalCancel"
			:booking-code="bookingDetail.booking_code"
			@close="closeModalCancel"
			@success="showModalCancelSuccess"
		></booking-modal-cancel>

		<booking-modal-cancel-success
			:show-modal="isModalCancelSuccess"
			is-fullscreen-modal
		></booking-modal-cancel-success>
	</div>
</template>

<script>
import mixinOpenChat from 'Js/@mixins/MixinOpenChat';
import mixinBookingDetail from '../../../mixins/mixinBookingDetail';

import BookingModalCancelSuccess from './BookingModalCancelSuccess';
import BookingModalCancel from './BookingModalCancel';
import BookingCheckinInstruction from './BookingCheckinInstruction';
import BookingModalFacilities from './BookingModalFacilities';
import BookingDetailCardMobileDate from './BookingDetailCardMobileDate';

import 'dayjs/locale/id';
import EventBus from '../../../event-bus/event-bus';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';
import FlashSalePrice from 'Js/_booking/flash-sale/FlashSalePrice';

export default {
	components: {
		BookingModalCancelSuccess,
		BookingModalCancel,
		BookingCheckinInstruction,
		BookingModalFacilities,
		BookingDetailCardMobileDate,
		MamiLoadingInline,
		FlashSaleLabel,
		FlashSalePrice
	},

	mixins: [mixinOpenChat, mixinBookingDetail],

	props: {
		terminatedDetail: {
			type: Object,
			default: () => {
				return {
					hasReviewed: '',
					totalDiscount: '',
					totalPayment: '',
					ownerName: '',
					tenantName: '',
					contractId: ''
				};
			}
		},
		bookingDetail: {
			type: Object,
			required: true
		},
		bookingStatus: {
			type: Object,
			required: true
		},
		isCheckinStatus: {
			type: Boolean,
			required: true
		},
		bookingStatusClass: {
			type: String,
			default: '--failed'
		},
		ownerName: {
			type: String,
			required: true
		}
	},

	computed: {
		isDiscountApplied() {
			return (
				!!this.bookingDetail.is_flash_sale &&
				!!this.bookingDetail.flash_sale.discount
			);
		},
		reviewIcon() {
			const starImage = this.terminatedDetail.hasReviewed
				? 'ic_star-mamipay_s.svg'
				: 'ic_star-mamipay_o.svg';
			return {
				src: `/general/img/icons/${starImage}`
			};
		},
		reviewInstruction() {
			return this.terminatedDetail.hasReviewed
				? 'Sudah direview'
				: 'Berikan Review';
		},
		totalPayment() {
			return `Selama ${this.bookingDetail.duration_string} menyewa kamu telah
							membayar tagihan dengan total sebesar Rp${this.formattedTotalPayment}`;
		},
		formattedTotalPayment() {
			return parseInt(this.terminatedDetail.totalPayment).toLocaleString('id');
		},
		totalDiscount() {
			return `Hemat Rp.
							${parseInt(this.terminatedDetail.totalDiscount).toLocaleString('id')}`;
		},
		typeKostStyle() {
			const roomGender = this.bookingDetail.room.gender;
			let styleSelected = 'is-all';

			if (roomGender === 1) {
				styleSelected = 'is-male';
			} else if (roomGender === 2) {
				styleSelected = 'is-female';
			}

			return styleSelected;
		},
		isPaidInvoice() {
			return (
				this.bookingStatus.status === 'paid' ||
				this.bookingStatus.status === 'paid_late' ||
				this.bookingStatus.status === 'verified'
			);
		},
		isFullyPaid() {
			return this.bookingDetail.is_fully_paid;
		},
		isLabelButtonCheckin() {
			return this.isFullyPaid ? 'Check-in Kos' : 'Bayar Sekarang';
		},
		isDownPayment() {
			return this.bookingDetail.invoice_number.substring(0, 2) === 'DP';
		},
		isDisplayButtonCheckin() {
			const isInvoiceDownPaymentCondition =
				!this.isCheckinStatus && this.isPaidInvoice && !this.isDownPayment;

			const isInvoiceNoDownPaymentCondition =
				!this.isCheckinStatus && this.isPaidInvoice;

			return (
				(isInvoiceDownPaymentCondition || isInvoiceNoDownPaymentCondition) &&
				!this.isCheckinStatus
			);
		},
		contractId() {
			return this.terminatedDetail.contractId;
		}
	},

	mounted() {
		this.updateDateFormat('id');
	},

	methods: {
		giveReview() {
			const roomId = this.bookingDetail.room._id;
			EventBus.$emit('showRoomReview', {
				roomId
			});
		},

		goHistoryTransaction() {
			this.contractId &&
				this.$router.push(
					`/riwayat-transaksi?contract=${Number(this.contractId)}`
				);
		},
		openCheckin() {
			this.$emit('open-checkin', false);
		}
	}
};
</script>

<style lang="scss">
.booking-detail-mobile {
	.modal-dialog {
		width: 100%;
	}

	.modal.in .modal-dialog {
		width: 100%;
	}

	.mami-loading-inline {
		margin: 0 auto;
	}
}
</style>

<style lang="scss" scoped>
.booking-detail-mobile {
	padding: 0.1rem;
	padding-bottom: 100px;

	.--text-lighter {
		font-weight: lighter;
	}

	.--text-capitalize {
		text-transform: capitalize;
	}

	.--separator {
		color: #c4c4c4;
		margin: 0 0.4rem;
	}

	.booking-card-header {
		font-size: 12px;

		.header-status {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.booking-status {
			font-size: 1.6rem;
			font-weight: bold;
			margin-bottom: 1rem;

			&.--waiting {
				color: #f39c12;
			}

			&.--paid {
				color: #1baa56;
			}

			&.--failed {
				color: #999;
			}

			&.--expired {
				color: #e04205;
			}
		}

		.kost-info {
			display: flex;
			justify-content: space-between;

			.kost-img {
				flex-shrink: 0;
				width: 6rem;
				height: 6rem;
				object-fit: cover;
				object-position: center;
				border-radius: 3px;
				background-color: #c4c4c4;
				margin-left: 1.5rem;
			}

			.kost-title {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				margin-bottom: 0;
			}
		}

		.header-reject-reason,
		.header-price {
			display: flex;
			flex-direction: column;

			span {
				word-break: break-word;
				margin-right: 20px;
			}
		}

		.header-price {
			margin: 0.5rem 0;

			.text-primary {
				cursor: pointer;
			}
		}

		.header-facilities-trigger {
			margin-top: 1rem;
		}
	}

	.booking-card-detail {
		line-height: 2.5;
		transition: height 2s;
	}

	.detail-warning {
		border-radius: 6px;
		border: 1px solid rgba(219, 219, 219, 0.5);
		background-color: rgba(27, 170, 86, 0.1);
		font-style: italic;
		padding: 1rem;
		margin: 2.4rem 0;
		line-height: 2rem;
		display: flex;
		align-items: center;

		.detail-warning__icon {
			width: 16px;
			height: 16px;
			flex-shrink: 0;
			margin-right: 1rem;
		}

		.detail-warning__content {
			font-size: 10px;
			line-height: 1.2;

			a {
				cursor: pointer;
			}
		}
	}

	.detail-invoice {
		border-radius: 6px;
		border: 2px dashed rgba(219, 219, 219, 0.5);
		background-color: rgba(27, 170, 86, 0.1);
		padding: 1rem;
		margin-top: 1.5rem;
		margin-bottom: 0.8rem;

		.invoice-item {
			display: flex;
			justify-content: space-between;

			&.--see-invoice {
				justify-content: flex-end;
				cursor: pointer;
				font-size: 12px;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}

	.detail-tenant {
		margin-top: 1.5rem;
		margin-bottom: 2.8rem;

		.tenant-item {
			padding: 0 0.2rem;
			display: flex;
			justify-content: space-between;

			> span:first-of-type {
				font-weight: lighter;
			}

			.--name {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 200px;
			}
		}
	}

	.detail-booking {
		margin-top: 2.8rem;
		padding-top: 2.8rem;
		border-top: 1px solid rgba(219, 219, 219, 0.5);

		.booking-item {
			padding: 0 0.2rem;
			display: flex;
			justify-content: space-between;

			> span:first-of-type {
				font-weight: lighter;
			}

			&.--tenant-description {
				flex-direction: column;
				justify-content: flex-start;
			}

			.desc-box {
				border-radius: 6px;
				border: 1px solid rgba(219, 219, 219, 0.5);
				padding: 1.2rem;
				line-height: 1.5;
				margin-top: 0.5rem;

				p {
					display: inline;
					word-break: break-word;

					&:before {
						content: '" ';
					}

					&:after {
						content: ' "';
					}
				}
			}
		}
	}

	.detail-checkin {
		margin-top: 3.5rem;
		padding-top: 2.8rem;
		border-top: 1px solid rgba(219, 219, 219, 0.5);

		ul {
			padding-left: 2rem;
			line-height: 1.8;

			.text-primary {
				cursor: pointer;
			}
		}
	}

	.detail-cancel {
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;

		button {
			width: 153px;
			height: 46px;
		}
	}

	.detail-collapse {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		cursor: pointer;

		span {
			font-weight: bold;
		}

		img {
			height: 14px;
			transform: rotate(180deg);
			margin-left: 1rem;
		}
	}

	.booking-card-footer {
		display: flex;
		flex-direction: column;
		border-top: 1px solid rgba(219, 219, 219, 0.5);
		padding: 1.9rem 0.6rem;
		background-color: white;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 0;
		width: 100%;

		> .footer-warning-text {
			color: #e04205;
			display: flex;
			align-items: center;
			font-size: 0.9em;
			justify-content: center;

			@media (max-width: 991px) {
				margin-bottom: 1rem;
			}

			img {
				margin-right: 0.5rem;
			}

			.timer {
				margin-left: 0.5rem;
				font-weight: bold;
			}
		}

		> .footer-action-button {
			display: flex;
			justify-content: space-between;

			> * {
				flex-grow: 1;
				margin: 0 1rem;

				&.btn {
					height: 48px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: bold;
				}

				&:nth-of-type(2) {
					width: 100%;
					max-width: calc(50% - 2rem);
				}
			}
		}
	}
}

.wrapper-detail {
	display: flex;
	width: 100%;
	justify-content: space-between;

	.first-column {
		width: 72%;
	}

	.second-column {
		a {
			font-weight: bold;
			font-size: 1em;
			margin-top: 0.7rem;
			display: block;
		}
	}

	@media screen and (min-width: 1024px) {
		margin-top: -1.3rem;
	}

	.first-column {
		.text-label {
			font-size: 1em;
			color: #000000;
			font-weight: 500;

			.bull-style {
				margin-right: 0.6rem;
			}
		}

		&.--no-padding-left-right {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.second-column {
		.invoice-text {
			font-weight: bold;
			margin-right: 0.4rem;
		}
	}

	.--is-font-size-bigger {
		font-size: 1.143em;
		font-weight: bold;
	}

	.--is-color-black-light {
		color: #383746;
	}

	.--is-vertical-align-sub {
		vertical-align: sub;
	}

	.wrapper-room-detail {
		.room-title {
			color: #2e2d39;
			font-weight: bold;
			font-size: 1.143em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: auto;
			display: block;
			margin-bottom: 0.3rem;
		}

		.room-detail {
			font-size: 1em;
			margin-bottom: 0.1rem;

			.room-gender {
				&.is-male {
					color: #078fca;
				}

				&.is-female {
					color: #f26389;
				}

				&.is-all {
					color: #860eb7;
				}
			}

			.separator {
				color: #c4c4c4;
			}

			.room-number {
				color: #383746;
			}
		}

		.room-image {
			border-radius: 4px;
			display: block;
			width: 64px;
			height: 64px;
			object-fit: cover;
		}

		.room-rent {
			font-size: 1em;
			color: #383746;
		}
	}

	&.booking-id-label {
		background: #fcfcfc;
		position: relative;
		left: -8px;
		width: calc(100% + 40px);
		padding: 0rem 0.7rem;
		margin-bottom: 1.5rem;

		@media screen and (min-width: 1023px) {
			left: -14px;
			width: calc(100% + 52px);
			margin-bottom: 0.9rem;
			top: -5px;
			padding-top: 0.2rem;
		}
	}

	.info-detail-rent {
		span {
			display: block;
			&.info-label {
				font-size: 0.857em;
				color: #595959;
			}

			&.info-value {
				color: #383746;
				font-weight: 700;
				font-size: 1.143em;
				margin-top: 0.5rem;
			}
		}
	}

	.tenant-name {
		color: #383746;
		font-size: 1.143em;
	}

	.--is-no-padding-top {
		padding-top: 0;
	}
}

.--btn-booking-again {
	background: #ec4a0c;
	border: none;
	font-size: 1.1em;
}

.total-outcome {
	cursor: pointer;
}

.other-info {
	display: flex;
	justify-content: space-between;
	img.chat-to-owner {
		cursor: pointer;
	}

	.data-info {
		width: 100%;
		overflow: hidden;
		line-height: 1.8em;

		.title {
			display: block;
			font-size: 1.033em;
			color: #484848;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1.3rem;
		}

		.desc {
			font-size: 1.067em;
			color: #484848;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			display: block;
		}

		.desc-detail {
			.discount {
				border: 1px solid #dddddd;
				display: block;
				width: fit-content;
				padding: 0.4rem 1.1rem;
				border-radius: 20px;
				margin-bottom: 1rem;
				color: #484848;
			}

			.rent {
				display: block;
				color: #484848;
				margin-bottom: 0.7rem;
			}

			a {
				font-weight: bold;
			}
		}
	}

	a.look-invoice {
		font-size: 1.167em;
		font-weight: bold;
		padding-top: 3rem;
	}
}

.--is-custom-line {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 1.7rem;
	margin-bottom: 1.7rem;
}

.review-box {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;

	.info {
		line-height: 1.8em;

		.first-text {
			display: block;
			color: #109e4b;
			font-size: 1.1em;
			font-weight: bold;
		}

		.second-text {
			color: #000000;
		}
	}
}
</style>
