<template>
	<div id="bookingListCard">
		<div class="booking-card">
			<div class="card-header">
				<label :class="classByStatus">
					{{ displayStatus.label }}
				</label>

				<div class="left-header">
					<div
						v-if="isCardOpen && showCountdownTimer"
						class="header-warning-text hidden-xs hidden-sm"
					>
						<span>Sisa waktu pembayaran</span>
						<span v-if="!isCountdownEnd" class="timer">
							{{ hoursLeft }}:{{ minutesLeft }}:{{ secondsLeft }}
						</span>
						<span v-else class="timer">
							00:00:00
						</span>
					</div>

					<flash-sale-label v-if="bookingDetail.is_flash_sale" />
				</div>
			</div>

			<div class="card-body" @click="openBookingDetail">
				<booking-list-card-info :booking-detail="bookingDetail" :custom-date-value="checkinDate" :is-card-open="isCardOpen" />
			</div>

			<div
				v-if="!isCardOpen"
				class="card-toggle hidden-xs"
				@click="togglePanel"
			>
				<label class="text-primary">
					Lihat selengkapnya
				</label>

				<img
					src="/general/img/icons/ic_angle-down_s_green.svg"
					alt="ic_angle-down_s_green"
				/>
			</div>

			<div class="card-toggle visible-xs visible-sm">
				<modal
					v-model="isModalOpen"
					class="modal-booking-detail"
					:style="{ height: fullMobileHeight }"
					@ok="toggleModal"
				>
					<div slot="modal-header" class="modal-header">
						<span class="modal--title">Detail Booking</span>
						<span class="modal--close pull-right" @click="toggleModal"
							>&times;</span
						>
					</div>
					<booking-detail-card-mobile
						:is-checkin-status="bookingDetail.has_checked_in"
						:booking-detail="bookingDetail"
						:booking-status="displayStatus"
						:booking-status-class="classByStatus"
						:show-detail="isCardOpen"
						:terminated-detail="detailTerminatedContract"
						:owner-name="ownerName"
						@toggle="toggleModal"
						@open-checkin="openCheckin"
					></booking-detail-card-mobile>
					<div slot="modal-footer" class="modal-footer"></div>
				</modal>
			</div>

			<div
				v-if="!isCardOpen"
				class="card-footer"
				:class="{
					'--need-payment': displayStatus.status === 'waiting_payment'
				}"
			>
				<div v-if="showCountdownTimer" class="footer-warning-text">
					<img src="/general/img/icons/ic_warning.svg" alt="ic_warning.svg" />
					<span>Sisa waktu pembayaran</span>
					<span v-if="!isCountdownEnd" class="timer">
						{{ hoursLeft }}:{{ minutesLeft }}:{{ secondsLeft }}
					</span>
					<span v-else class="timer">
						00:00:00
					</span>
				</div>

				<div class="footer-buttons">
					<a
						v-if="displayStatus.status === 'waiting_payment'"
						role="button"
						class="btn btn-primary"
						:class="{ disabled: isCountdownEnd }"
						@click="payBooking(bookingDetail)"
					>
						Bayar Sekarang
					</a>

					<button
						v-if="isStatusCanChatOwner"
						type="button"
						class="btn btn-success"
						@click="openGroupChannel(bookingDetail.group_channel_url)"
					>
						Chat Pemilik
					</button>

					<button
						v-if="bookingDetail.has_checked_in"
						type="button"
						class="btn btn-primary"
						@click="openKostList(bookingDetail)"
					>
						Kost Saya
					</button>

					<button
						v-if="isDisplayButtonCheckin"
						type="button"
						class="btn btn-primary"
						@click="openCheckin(true)"
					>
						{{ isLabelButtonCheckin }}
					</button>

					<a
						v-if="isBookingFailed"
						role="button"
						class="btn btn-primary"
						href="/cari"
						target="_self"
					>
						Cari Kost Lain
					</a>
				</div>
			</div>

			<div class="booking-detail" :class="{ '--is-detail': isCardOpen }">
				<transition name="slide-fade">
					<booking-detail-card
						v-if="isCardOpen"
						:is-checkin-status="bookingDetail.has_checked_in"
						:booking-detail="bookingDetail"
						:booking-status="displayStatus"
						:show-detail="isCardOpen"
						:hours-left="hoursLeft"
						:minutes-left="minutesLeft"
						:seconds-left="secondsLeft"
						:is-countdown-end="isCountdownEnd"
						:terminated-detail="detailTerminatedContract"
						@toggle="togglePanel"
						@open-checkin="openCheckin"
					></booking-detail-card>
				</transition>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import _flatten from 'lodash/flatten';

import mixinOpenChat from 'Js/@mixins/MixinOpenChat';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

import BookingDetailCard from './BookingDetailCard';
import BookingDetailCardMobile from './BookingDetailCardMobile';
import BookingListCardInfo from './BookingListCardInfo';

import { modal } from 'vue-strap';

import EventBus from '../../../event-bus/event-bus';

import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';

const HOUR_IN_MINUTES = 60;

export default {
	components: {
		BookingDetailCard,
		BookingDetailCardMobile,
		BookingListCardInfo,
		FlashSaleLabel,
		modal
	},

	mixins: [mixinOpenChat, mixinGetQueryString],

	props: {
		bookingDetail: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			isCardOpen: false,
			isModalOpen: false,
			displayStatus: {
				label: 'Tunggu Konfirmasi',
				status: 'waiting_confirmation'
			},
			checkinDate: '',
			fullMobileHeight: '',
			countdownTimer: {
				nowDate: 0,
				limitDate: 0
			},
			bookingDetailResponse: null,
			detailTerminatedContract: {
				hasReviewed: '',
				totalDiscount: '',
				totalPayment: '',
				ownerName: '',
				tenantName: '',
				contractId: ''
			}
		};
	},

	computed: {
		authData() {
			return this.$store.state.authData;
		},
		isStatusCanChatOwner() {
			return ['waiting_confirmation', 'paid', 'terminated'].includes(
				this.displayStatus.status
			);
		},
		isBookingFailed() {
			return ['cancelled', 'expired', 'rejected'].includes(
				this.displayStatus.status
			);
		},
		classByStatus() {
			if (
				this.displayStatus.status === 'waiting_confirmation' ||
				this.displayStatus.status === 'waiting_payment'
			) {
				return '--waiting';
			} else if (this.displayStatus.status === 'paid') {
				return '--paid';
			} else if (this.displayStatus.status === 'expired') {
				return '--expired';
			} else {
				return '--failed';
			}
		},
		roomGender() {
			if (this.bookingDetail.room.gender === 1) {
				return 'Putra';
			} else if (this.bookingDetail.room.gender === 2) {
				return 'Putri';
			} else {
				return 'Campur';
			}
		},
		hoursLeft() {
			return Math.trunc(
				(this.countdownTimer.limitDate - this.countdownTimer.nowDate) /
					HOUR_IN_MINUTES /
					HOUR_IN_MINUTES
			);
		},
		minutesLeft() {
			return (
				Math.trunc(
					(this.countdownTimer.limitDate - this.countdownTimer.nowDate) /
						HOUR_IN_MINUTES
				) % HOUR_IN_MINUTES
			);
		},
		secondsLeft() {
			return (
				(this.countdownTimer.limitDate - this.countdownTimer.nowDate) %
				HOUR_IN_MINUTES
			);
		},
		showCountdownTimer() {
			return (
				this.displayStatus.status === 'waiting_payment' &&
				this.bookingDetail.payment_expired_date
			);
		},
		isCountdownEnd() {
			return (
				this.hoursLeft <= 0 && this.minutesLeft <= 0 && this.secondsLeft <= 0
			);
		},
		isPaidInvoice() {
			return (
				this.displayStatus.status === 'paid' ||
				this.displayStatus.status === 'paid_late' ||
				this.displayStatus.status === 'verified'
			);
		},
		isFullyPaid() {
			return this.bookingDetail.is_fully_paid;
		},
		isLabelButtonCheckin() {
			return this.isFullyPaid ? 'Check-in Kos' : 'Bayar Sekarang';
		},
		isDownPayment() {
			return this.bookingDetail.invoice_number.substring(0, 2) === 'DP';
		},
		isDisplayButtonCheckin() {
			const isInvoiceDownPaymentCondition =
				!this.bookingDetail.has_checked_in &&
				this.isPaidInvoice &&
				!this.isDownPayment;
			const isInvoiceNoDownPaymentCondition =
				!this.bookingDetail.has_checked_in && this.isPaidInvoice;

			return (
				(isInvoiceDownPaymentCondition || isInvoiceNoDownPaymentCondition) &&
				!this.bookingDetail.has_checked_in
			);
		},
		isDownpaymentPaid() {
			return (
				this.bookingDetail.invoice_number.substring(0, 2) === 'DP' &&
				(this.bookingDetail.status === 'paid' ||
					this.bookingDetail.status === 'paid_late' ||
					this.bookingDetail.status === 'verified')
			);
		},
		ownerName() {
			return _get(this.bookingDetailResponse, 'room_data.owner_name', '-');
		}
	},

	watch: {
		bookingDetail: {
			immediate: true,
			handler(val) {
				this.isCardOpen = false;
				this.assignBookingStatus();
				this.assignBookingDate(val.status);
				this.calculateTimer(val.payment_expired_date);
			}
		},
		isCardOpen(val) {
			if (val) {
				this.getBookingDetail(this.bookingDetail._id);
			}
		},
		isModalOpen(val) {
			if (val) {
				this.getBookingDetail(this.bookingDetail._id);
			}
		}
	},

	mounted() {
		this.setFullHeightForMobile();
		window.addEventListener('resize', () => {
			this.setFullHeightForMobile();
		});
		window.addEventListener('orientationchange', () => {
			this.setFullHeightForMobile();
		});
	},

	beforeDestroy() {
		window.removeEventListener('resize', this.setFullHeightForMobile);
		window.removeEventListener(
			'orientationchange',
			this.setFullHeightForMobile
		);
	},

	methods: {
		getTerminateBookingDetail(id) {
			axios
				.get(`/user/booking/${id}`, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const { data, status } = response.data;
					if (status) {
						this.detailTerminatedContract = {
							hasReviewed: data.has_reviewed,
							totalDiscount: data.total_discount,
							totalPayment: data.total_payment,
							ownerName: data.owner_name,
							tenantName: data.tenant_name,
							contractId: data.contract_id
						};
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		openCheckin(openWithInstruction) {
			if (this.isDownpaymentPaid && this.bookingDetail.unpaid_invoice_url) {
				this.$emit('openSettlementConfirmModal');
				this.$emit(
					'setInvoiceSettlement',
					this.bookingDetail.unpaid_invoice_url
				);
			} else {
				EventBus.$emit('proccessCheckinEvent', {
					bookingStatus: this.displayStatus.status,
					checkInStatus: this.bookingDetail.has_checked_in,
					isCheckinWithInstruction: openWithInstruction,
					bookingId: this.bookingDetail.booking_code,
					roomName: this.bookingDetail.room.name,
					coordinate: `${this.bookingDetail.room.latitude},${this.bookingDetail.room.longitude}`,
					invoiceUrl: this.bookingDetail.invoice_url,
					checkinTime: this.bookingDetail.checkin_date
				});
			}
		},
		getBookingDetail(id) {
			axios
				.get('/user/booking/detail/' + id)
				.then(response => {
					const responseData = response.data;
					if (responseData.status) {
						this.bookingDetailResponse = responseData.data;
						this.trackBookingDetailViewed(this.bookingDetailResponse);
					} else {
						this.swalError(null, responseData.meta.message, onConfirm => {
							window.open('/user/booking', '_self');
						});
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		assignBookingStatus() {
			this.displayStatus.label = this.checkBookingStatus(
				this.bookingDetail.status
			).label;
			this.displayStatus.status = this.checkBookingStatus(
				this.bookingDetail.status
			).status;
		},
		checkBookingStatus(state) {
			if (state === 'confirmed' || state === 'waiting_payment') {
				return { label: 'Butuh Pembayaran', status: 'waiting_payment' };
			} else if (state === 'verified' || state === 'paid') {
				return { label: 'Terbayar', status: 'paid' };
			} else if (state === 'checked_in') {
				return { label: 'Sudah Check In', status: 'paid' };
			} else if (
				state === 'cancelled' ||
				state === 'cancel_by_admin' ||
				state === 'cancel'
			) {
				return { label: 'Dibatalkan', status: 'cancelled' };
			} else if (state === 'rejected') {
				return { label: 'Pemilik Menolak', status: 'rejected' };
			} else if (state === 'expired_date' || state === 'expired') {
				return { label: 'Kedaluwarsa', status: 'expired' };
			} else if (state === 'terminated' || state === 'finished') {
				return { label: 'Sewa Berakhir', status: 'terminated' };
			} else {
				return { label: 'Tunggu Konfirmasi', status: 'waiting_confirmation' };
			}
		},
		assignBookingDate() {
			this.checkinDate = this.$dayjs(this.bookingDetail.checkin_date).format(
				'DD MMM YYYY'
			);
		},
		calculateTimer(val) {
			const MILLISECONDS_IN_SECOND = 1000;

			this.countdownTimer.limitDate = Math.trunc(
				new Date(val).getTime() / MILLISECONDS_IN_SECOND
			);

			setInterval(() => {
				this.countdownTimer.nowDate = Math.trunc(
					new Date().getTime() / MILLISECONDS_IN_SECOND
				);
			}, MILLISECONDS_IN_SECOND);
		},
		togglePanel() {
			this.isCardOpen = !this.isCardOpen;

			if (this.displayStatus.status === 'terminated' && this.isCardOpen) {
				this.getTerminateBookingDetail(this.bookingDetail._id);
			}
		},
		openKostList(bookingData) {
			this.$router.push({
				path: '/kost-saya',
				query: { from: 'booking_history' }
			});
		},
		toggleModal() {
			this.isModalOpen = !this.isModalOpen;

			if (this.displayStatus.status === 'terminated' && this.isModalOpen) {
				this.getTerminateBookingDetail(this.bookingDetail._id);
			}
		},
		isMobile() {
			const width =
				window.innerWidth ||
				document.documentElement.clientWidth ||
				document.body.clientWidth;

			return width < 768;
		},
		openBookingDetail() {
			if (this.isMobile()) {
				this.toggleModal();
			}
		},
		setFullHeightForMobile() {
			this.fullMobileHeight = window.innerHeight + 'px';
		},
		propertyRentType(bookingData) {
			const rentCountLabel = {
				daily: 'Harian',
				monthly: 'Bulanan',
				weekly: 'Mingguan',
				quarterly: '3 Bulanan',
				semiannually: '6 Bulanan',
				yearly: 'Tahunan'
			};

			const rentCountType = _get(bookingData, 'rent_count_type', 'monthly');

			const isExistRentCount = Object.prototype.hasOwnProperty.call(
				rentCountLabel,
				rentCountType
			);

			return isExistRentCount
				? rentCountLabel[rentCountType]
				: rentCountLabel.monthly;
		},
		bookingDataTenantGender(bookingData) {
			const isFemale = _get(bookingData, 'user_booking.gender') === 'female';
			return isFemale ? 'Perempuan' : 'Laki-Laki';
		},
		redirectionSource() {
			const isFromBooking = this.getQueryString('from') === 'booking';
			return isFromBooking ? 'Booking Success Landing Page' : 'User Profile';
		},
		propertyFacilitesName() {
			const room = this.bookingDetail.room;
			const FAC_REGEX = /fac_.+/g;

			const facNameArray = Object.keys(room).map(key => {
				if (room[key] && FAC_REGEX.test(key)) {
					return room[key].map(fac => fac.name);
				}
				return [];
			});

			return _flatten(facNameArray);
		},
		otherPriceName(bookingData) {
			const otherPrice = _get(bookingData, 'booking_data.prices.other', []);
			return otherPrice.map(price => price.price_name);
		},
		payBooking(booking) {
			this.trackPayBooking(booking);
			window.open(booking.invoice_url, '_blank');
		},
		trackPayBooking(booking) {
			tracker('moe', [
				'[User] "Bayar Sekarang" Clicked',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					booking_periode: _get(booking, 'duration', ''),
					tenant_name: _get(this.authData, 'all.name', ''),
					booking_checkin_time: new Date(booking.checkin_date),
					property_rent_type: this.propertyRentType(booking),
					booking_id: _get(booking, 'booking_code', ''),
					request_date: new Date(booking.created_at),
					property_name: _get(booking, 'room.name', ''),
					property_id: _get(booking, 'room._id', ''),
					property_city: _get(booking, 'room.city', ''),
					property_subdistrict: _get(booking, 'room.subdistrict', ''),
					redirection_source: 'Riwayat Booking',
					goldplus_status: _get(booking, 'room.level_info.name', null)
				}
			]);
		},
		trackBookingDetailViewed(bookingData) {
			tracker('moe', [
				'[User] Visit Detail Booking',
				{
					user_id: _get(this.authData, 'all.id'),
					booking_status: _get(bookingData, 'booking_data.status', null),
					property_type: 'kost',
					property_rent_type: this.propertyRentType(bookingData.booking_data),
					booking_start_time: new Date(bookingData.booking_data.checkin),
					booking_end_time: new Date(bookingData.booking_data.checkout),
					booking_periode: _get(bookingData, 'booking_data.duration', 0),
					tenant_job: _get(bookingData, 'user_booking.job', null),
					tenant_name: _get(bookingData, 'user_booking.name', ''),
					tenant_phone_number: _get(bookingData, 'user_booking.phone', ''),
					tenant_gender: this.bookingDataTenantGender(bookingData),
					property_id: _get(bookingData, 'room_data._id', null),
					property_name: _get(bookingData, 'room_data.name', ''),
					owner_name: _get(bookingData, 'room_data.owner_name', ''),
					owner_phone_number: _get(bookingData, 'room_data.owner_phone', ''),
					owner_email: '',
					property_address: _get(bookingData, 'room_data.address', ''),
					property_area: _get(bookingData, 'room_data.area_label', ''),
					property_province: _get(bookingData, 'room_data.province', ''),
					property_city: _get(bookingData, 'room_data.area_city', ''),
					property_subdistrict: _get(
						bookingData,
						'room_data.area_subdistrict',
						''
					),
					booking_id: _get(bookingData, 'booking_data.booking_code', ''),
					requestDate: new Date(bookingData.booking_data.date),
					property_url: _get(bookingData, 'room_data.slug', ''),
					property_photo_medium: _get(
						bookingData,
						'room_data.photo.medium',
						null
					),
					property_facilities: this.propertyFacilitesName(),
					property_total_room: 0,
					booking_expired_date: new Date(bookingData.booking_data.expired_date),
					booking_cancel_reason: _get(
						bookingData,
						'booking_data.cancel_reason',
						''
					),
					is_premium: false,
					is_promoted: false,
					is_booking: true,
					base_price: _get(
						bookingData,
						'booking_data.prices.base.price_total',
						0
					),
					other_price_name: this.otherPriceName(bookingData),
					admin_price: 0,
					deposit_price: 0,
					dp_price: 0,
					total_price: _get(
						bookingData,
						'booking_data.prices.total.price_total',
						0
					),
					prorate_price: 0,
					schedule_date: new Date(bookingData.booking_data.schedule_date),
					fine_price: _get(
						bookingData,
						'booking_data.prices.fine.price_total',
						0
					),
					redirection_source: this.redirectionSource(bookingData)
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.modal-booking-detail {
	.modal-dialog {
		margin: 0;
		width: 100%;
		height: 100%;

		.modal-header {
			font-size: 1.6rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			background: white;
			width: 100%;

			&:after,
			&:before {
				content: none;
			}

			> span {
				line-height: 1;
			}

			span.modal--close {
				font-size: 2em;
				cursor: pointer;
				display: inline-block;
				background-color: transparent;
				border: none;
				box-shadow: none;
			}
		}

		.modal-content {
			border-radius: 0;
			border: unset;
			box-shadow: unset;
			padding-top: 6.4rem;
			padding-bottom: 8.7rem;
			height: 100%;
			overflow-y: scroll;
		}

		.modal-footer {
			display: none;
		}
	}
}
</style>

<style lang="scss" scoped>
.booking-card {
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
	border-radius: 4px;
}

.card-header {
	border-bottom: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> label {
		margin-bottom: 0px;
		margin-top: 3px;
	}

	@media (max-width: 425px) {
		font-size: 0.9em;
	}

	.--waiting {
		color: #f39c12;
	}

	.--paid {
		color: #1baa56;
	}

	.--failed,
	.--expired {
		color: #999;
	}

	.left-header {
		display: flex;
	}

	.header-warning-text {
		font-size: 0.9em;
		color: #999;
		margin-right: 10px;

		.timer {
			font-weight: bold;
			color: #e04205;
			margin-left: 0.5rem;
		}
	}
}

.card-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;

	label {
		margin-right: 1.5rem;
		cursor: pointer;
	}

	img {
		height: 12px;
		cursor: pointer;
	}
}

.card-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 1.5rem;
	border-top: 1px solid rgba(219, 219, 219, 0.5);

	@media (max-width: 991px) {
		flex-direction: column;
	}

	&.--need-payment {
		justify-content: space-between;
	}

	.footer-warning-text {
		color: #e04205;
		display: flex;
		align-items: center;
		font-size: 0.9em;

		@media (max-width: 991px) {
			margin-bottom: 1rem;
		}

		img {
			margin-right: 0.5rem;
		}

		.timer {
			margin-left: 0.5rem;
			font-weight: bold;
		}
	}

	.footer-buttons {
		@media (max-width: 991px) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		button,
		a {
			height: 48px;
			width: 153px;

			@media (min-width: 992px) {
				margin-left: 1.5rem;
			}

			@media (max-width: 991px) {
				width: 100%;
				margin: 0 0.5rem;
			}

			@media (max-width: 767px) {
				height: 36px;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.booking-detail {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;

	&.--is-detail {
		max-height: 1500px;
		overflow: visible;
		transition: max-height 0.5s ease;
	}

	.slide-fade-enter-active {
		transition: all 0.8s ease;
	}
	.slide-fade-leave-active {
		transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
	}
	.slide-fade-enter,
	.slide-fade-leave-to {
		transform: translateY(-100px);
		opacity: 0;
	}
}

.modal-booking-detail {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	margin: 0;

	&.in {
		align-items: flex-start;
	}
}
</style>
