<template>
	<div class="booking-time">
		<div class="booking-time-detail">
			<span class="title-time">Booking</span>
			<span class="title-value">{{ checkinDate }}</span>
		</div>
		<div class="booking-time-detail">
			<span class="title-time">Durasi Sewa</span>
			<span class="title-value">{{ duration }}</span>
		</div>
	</div>
</template>

<script>
import moment from 'moment';

export default {
	props: {
		checkin: String,
		checkout: String,
		duration: String
	},

	computed: {
		checkinDate() {
			moment.locale('id');
			return moment(this.checkin).format('D MMM YYYY');
		}

		// duration() {
		// 	let checkin = moment(this.checkin);
		// 	let checkout = moment(this.checkout);
		// 	return checkout.diff(checkin, 'month');
		// }
	}
};
</script>

<style lang="scss" scoped>
.booking-time {
	display: flex;
	margin-top: 1rem;
	.booking-time-detail {
		width: 50%;
		@media (min-width: 1024px) {
			width: 30%;
		}
		.title-time {
			display: block;
			color: #9e9e9e;
		}
		.title-value {
			color: #3b445b;
		}
	}
}
</style>
