<template>
	<modal
		id="bookingContractModalCancel"
		class="booking-contract-modal-cancel"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
		:class="{ 'fullscreen-modal': isFullscreenModal }"
	>
		<div class="booking-cancel-container">
			<div class="modal-cancel-img">
				<img
					v-lazy="{
						src: '/general/img/pictures/img_booking_cancel.svg'
					}"
					alt="img_booking_cancel"
					title="Booking Cancel"
				/>
			</div>

			<div class="modal-cancel-caption">
				<span>Booking Anda berhasil dibatalkan</span>
			</div>

			<div class="modal-cancel-button">
				<button type="button" class="btn btn-primary" @click="closeModal">
					Ok
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		isFullscreenModal: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		closeModal() {
			window.open('/user/booking', '_self');
		}
	}
};
</script>

<style lang="scss">
#bookingContractModalCancel {
	.modal-header,
	.modal-footer {
		display: none !important;
	}

	&.fullscreen-modal {
		.modal-dialog {
			width: 100vw;
			height: 100vh;
		}
	}

	@media (max-width: 767px) {
		&.fullscreen-modal {
			.modal-dialog {
				position: absolute;
				bottom: 0;
				margin: 0 auto;
				width: 100%;
				border: none;
			}
		}

		.modal-content {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			bottom: 0;
			position: absolute;
			width: 100%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			height: auto;
		}

		&.modal.fade .modal-dialog {
			transform: translate3d(0, 100vh, 0) !important;
		}

		&.modal.in .modal-dialog {
			transform: translate3d(0, 1px, 0) !important;
		}
	}
}

.modal {
	&.in {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
}
</style>

<style lang="scss" scoped>
.booking-contract-modal-cancel {
	.booking-cancel-container {
		.modal-cancel-img {
			text-align: center;

			img {
				height: 150px;
			}
		}

		.modal-cancel-caption {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
			margin: 2.5rem 0;
		}

		.modal-cancel-button {
			button {
				width: 100%;
			}
		}
	}
}
</style>
