<template>
	<div class="booking-contract-date">
		<div class="date-checkin">
			<label>Durasi Sewa</label>
			<span>{{ durationString }}</span>
		</div>

		<div class="date-checkin">
			<label>Mulai Sewa</label>
			<span>{{ removeDayStringDate(checkinDate) }}</span>
		</div>

		<div class="date-checkin">
			<label>Selesai Sewa</label>
			<span>{{ removeDayStringDate(checkoutDate) }}</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		durationString: {
			type: String,
			required: true
		},
		checkinDate: {
			type: String,
			required: true
		},
		checkoutDate: {
			type: String,
			required: true
		}
	},

	methods: {
		removeDayStringDate(strDate) {
			return strDate.replace(/\w+,\s/, '');
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-contract-date {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
	padding-top: 2rem;

	.date-checkin {
		display: flex;
		flex-direction: column;
		label {
			font-size: 1em;
			font-weight: 500;
			color: #595959;
		}

		span {
			color: #383746;
			font-weight: bold;
			font-size: 1.143em;
		}
	}
}
</style>
