<template>
	<modal
		id="bookingModalFacilities"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="false"
		class="booking-modal-facilities"
		:class="{ 'modal-fullscreen': isFullscreenModal }"
	>
		<div
			v-if="withNavbar"
			slot="modal-header"
			class="modal-header booking-fac-navbar"
		>
			<img
				class="--icon"
				src="/general/img/icons/ic_full-arrow-left_s_dark.svg"
				alt="ic_full-arrow-left_s_dark"
				@click="closeModal"
			/>
			<span class="--title">Fasilitas Kost</span>
		</div>

		<div v-if="!withNavbar" class="booking-fac-header">
			<filter-close-button @press="closeModal"></filter-close-button>
		</div>

		<div
			v-for="(facGroup, index) in roomFacility"
			:key="index"
			class="booking-fac-content"
		>
			<label v-if="facGroup.value">{{ facGroup.label }}</label>

			<div v-if="facGroup.value" class="room-facility-box">
				<div
					v-for="(facItem, index) in facGroup.value"
					:key="index"
					class="room-facility col-xs-6 col-sm-3"
				>
					<img
						v-lazy="{
							src: facItem.small_photo_url,
							error: '/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						:alt="facItem.name"
					/>
					<span>{{ facItem.name }}</span>
				</div>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		roomFacility: {
			type: Array,
			required: true
		},
		isFullscreenModal: {
			type: Boolean,
			default: false
		},
		withNavbar: {
			type: Boolean,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
#bookingModalFacilities {
	.modal-content {
		padding-bottom: 0 !important;
	}

	.modal-dialog {
		max-height: 100vh;
		overflow: auto;
	}

	@media (min-width: 768px) {
		.modal-header,
		.modal-footer {
			display: none !important;
		}

		.modal-dialog {
			overflow: auto;
		}
	}

	&.modal-fullscreen {
		.modal-header {
			padding: 2rem;

			&.booking-fac-navbar {
				display: flex;
				width: 100%;
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				background-color: white;
				z-index: 1;
			}
		}
	}

	.btn-close-filter {
		margin-top: -2rem;

		@media (min-width: 768px) {
			&:after {
				content: '';
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.booking-modal-facilities {
	&.modal-fullscreen {
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;

		.modal-body {
			padding: 0 1.5rem;
		}
	}

	.booking-fac-navbar {
		img.--icon {
			float: left;
			width: 1.8rem;
			height: 1.8rem;
			position: fixed;
		}

		.--title {
			font-size: 1.6rem;
			font-weight: bold;
			width: 100%;
		}
	}

	.booking-fac-content {
		margin-bottom: 1.5rem;

		.room-facility-box {
			display: flex;
			padding: 0;
			flex-wrap: wrap;
			margin-top: 0.5rem;

			.room-facility {
				display: flex;
				align-items: center;
				padding: 0.5rem 1rem;

				img {
					height: 1.75em;
					margin-right: 1rem;
				}
			}
		}
	}
}
</style>
