<template>
	<div id="userBookingList" class="user-booking-list row content">
		<div class="col-xs-12">
			<div v-show="isLoading" class="row">
				<mami-loading-inline></mami-loading-inline>
			</div>

			<div v-show="!isLoading">
				<div class="row">
					<div v-if="listBooking.total == 0" class="col-md-12">
						<div class="list-empty-wrapper">
							<img
								v-lazy="'/general/img/icons/ic_empty.svg'"
								class="icon-empty"
							/>
							<p v-if="isFilterNull">
								Kamu belum punya transaksi pada kategori ini.
							</p>
							<p v-else>
								Kamu belum booking kost nih, yuk mulai booking kosan yang kamu
								inginkan
							</p>
							<a v-if="!isFilterNull" href="/cari" class="btn btn-primary"
								>Cari Kos</a
							>
						</div>
					</div>

					<div v-else class="col-xs-12">
						<div
							v-for="(data, index) in listBooking.data"
							:key="index"
							class="booking-list-card"
						>
							<booking-list-card
								:booking-detail="data"
								@openSettlementConfirmModal="isModalSettlementConfirm = true"
								@setInvoiceSettlement="setInvoiceSettlement"
							></booking-list-card>
						</div>

						<booking-basic-modal
							:show-modal.sync="isModalAcceptCheckinWithInstruction"
						>
							<div class="row">
								<div
									class="col-xs-12 col-md-6 wrapper-success-checkin hidden-sm hidden-xs"
								>
									<img
										src="/general/img/pictures/img_booking_list_card_want_checkin.svg"
										alt="ic_sucess_checkin"
									/>

									<p class="image-description">
										Pastikan kamu sudah berada di kos sebelum lakukan Check-in
									</p>
								</div>

								<div class="col-xs-12 col-md-6 wrapper-success-checkin">
									<booking-checkin-instruction
										:is-checkin-modal="true"
										:room-name="roomCheckinInfo.roomName"
										:coordinate-number="roomCheckinInfo.coordinate"
										:invoice-url="roomCheckinInfo.invoiceUrl"
									></booking-checkin-instruction>

									<button
										type="button"
										class="btn btn-primary --is-button-custom hidden-sm hidden-xs"
										:disabled="isDisabledCheckinButton"
										@click="goCheckin"
									>
										Check-in
									</button>
								</div>
							</div>

							<div slot="footer" class="footer-buttons two-button">
								<button
									type="button"
									class="btn btn-success hidden-md hidden-lg"
									@click="isModalAcceptCheckinWithInstruction = false"
								>
									Kembali
								</button>

								<button
									type="button"
									class="btn btn-primary hidden-md hidden-lg"
									:disabled="isDisabledCheckinButton"
									@click="goCheckin"
								>
									Check-in
								</button>
							</div>
						</booking-basic-modal>

						<booking-action-modal :show-modal.sync="isModalSettlementConfirm">
							<span slot="textHeader">Kamu belum bayar pelunasan sewa</span>
							<span slot="textDescription"
								>Mohon bayar pelunasan sewa sebelum melakukan Check-in Kos.
								Setelah pelunasan di bayar kamu baru bisa melakukan Check-in
								untuk menempati kamar
							</span>
							<div slot="button">
								<button
									class="btn btn-primary --is-custom-btn"
									:disabled="isDisabledCheckinButton"
									@click="goInvoiceSettlement"
								>
									Bayar Pelunasan Sekarang
								</button>
							</div>
						</booking-action-modal>

						<booking-action-modal :show-modal.sync="isModalNotTimeCheckin">
							<span slot="textHeader"
								>Maaf kamu belum bisa melakukan Check-in saat ini</span
							>
							<span slot="textDescription"
								>Check-in kos hanya bisa di lakukan pada Tanggal Masuk (
								{{ checkinDateTime }} )</span
							>
							<div slot="button">
								<button
									class="btn btn-primary --is-custom-btn"
									@click="isModalNotTimeCheckin = false"
								>
									Saya Mengerti
								</button>
							</div>
						</booking-action-modal>

						<booking-action-modal :show-modal.sync="isModalAcceptCheckin">
							<span slot="textHeader"
								>Sekali lagi, Pastikan kamu sudah berada di
								{{ roomCheckinInfo.roomName }}</span
							>
							<span slot="textDescription"
								>Setelah kamu menekan tombol “Check-in” pembayaran sewa yang
								sudah di bayar tidak bisa di kembalikan</span
							>
							<div slot="button">
								<button
									class="btn btn-primary --is-custom-btn"
									:disabled="isDisabledCheckinButton"
									@click="goCheckin"
								>
									Check-in
								</button>
							</div>
						</booking-action-modal>

						<booking-basic-modal
							:close-redirect-url="'/user/booking'"
							:show-modal.sync="isModalSuccessCheckin"
						>
							<div class="row">
								<div class="col-xs-12 col-md-6 wrapper-success-checkin">
									<img
										src="/general/img/pictures/img_booking_list_card_success_checkin.svg"
										alt="ic_sucess_checkin"
									/>
								</div>

								<div class="col-xs-12 col-md-6 wrapper-success-checkin">
									<h1>
										Kamu telah berhasil melakukan Check-in di
										{{ roomCheckinInfo.roomName }}
									</h1>
									<p>
										Check-in telah dilakukan pada <br />
										<b>{{ $dayjs().format('dddd, D MMMM YYYY') }}</b> di jam
										<b>{{ $dayjs().format('HH:mm') }}</b>
									</p>
									<button
										type="button"
										class="btn btn-primary hidden-sm hidden-xs"
										@click="goToMyKost"
									>
										Selesai & ke Kos Saya
									</button>
								</div>
							</div>

							<div slot="footer" class="footer-buttons one-button">
								<button
									type="button"
									class="btn btn-primary hidden-md hidden-lg"
									@click="goToMyKost"
								>
									Selesai & ke Kos Saya
								</button>
							</div>
						</booking-basic-modal>
					</div>
				</div>
			</div>

			<div v-show="!isLoading" class="booking-list-filter-mobile">
				<div class="filter-button-mobile">
					<div class="filter-item-mobile" @click="showModalFilter(true)">
						<img
							src="/general/img/icons/ic_black_filter.svg"
							alt="ic_black_filter"
						/>
						<span class="text-primary">Filter</span>
						<span
							v-if="statusValue !== 'none' && statusValue !== 'all'"
							class="filter-badge"
							>&#8226;</span
						>
					</div>

					<div class="filter-border-mobile"></div>

					<div class="filter-item-mobile" @click="showModalSort(true)">
						<img
							src="/general/img/icons/ic_black_sort.svg"
							alt="ic_black_sort"
						/>
						<span class="text-primary">Urutkan</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 pagination-section">
					<detached-pagination
						v-if="paginationShow && listBooking.total !== 0 && !isLoading"
						:total-page="totalPage"
						:value="bookingPagination.page"
						@input="pageChanged"
					/>
				</div>
			</div>

			<booking-modal-filter
				:show-modal="isModalFilter"
				@close="showModalFilter(false)"
				@set="setFilterMobile"
			></booking-modal-filter>

			<booking-modal-sort
				:show-modal="isModalSort"
				@close="showModalSort(false)"
				@set="setSortMobile"
			></booking-modal-sort>
		</div>

		<transition name="fade">
			<user-kost-review-add
				v-if="isAddReview"
				:kost-id="roomId"
				:edit-data="lastReview"
				:detail="roomDetail"
				:is-just-review="isReview"
				@close="closeAddReview"
			></user-kost-review-add>
		</transition>
	</div>
</template>

<script>
import _get from 'lodash/get';
import _isEmpty from 'lodash/isEmpty';
import _find from 'lodash/find';

import UserKostReviewAdd from '../../user-kost/UserKostReviewAdd';
import BookingBasicModal from './BookingBasicModal';
import BookingActionModal from './BookingActionModal';
import BookingListCard from './BookingListCard';
import BookingCheckinInstruction from './BookingCheckinInstruction';
import BookingModalFilter from './BookingModalFilter';
import BookingModalSort from './BookingModalSort';

import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

import EventBus from '../../../event-bus/event-bus';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

const DetachedPagination = () => import('Js/@components/DetachedPagination');

export default {
	components: {
		MamiLoadingInline,
		UserKostReviewAdd,
		BookingBasicModal,
		BookingActionModal,
		BookingListCard,
		BookingModalFilter,
		BookingModalSort,
		BookingCheckinInstruction,
		DetachedPagination
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			isModalAcceptCheckin: false,
			isModalAcceptCheckinWithInstruction: false,
			isModalSuccessCheckin: false,
			isModalSettlementConfirm: false,
			isModalNotTimeCheckin: false,
			isLoading: false,
			isInitialLoad: true,
			paginationShow: false,
			bookingPagination: {
				total: 0,
				limit: 0,
				offset: 0,
				page: 1
			},
			sortValue: 'none',
			statusValue: 'none',
			isModalFilter: false,
			isModalSort: false,
			isFilterSet: false,
			isFilterNull: false,
			bookingIdCheckin: '',
			isDisabledCheckinButton: false,
			roomCheckinInfo: {
				roomName: '',
				coordinate: '',
				invoiceUrl: ''
			},
			checkinDateTime: '',
			settlementInvoceUrl: '',
			listBooking: {},
			roomDetail: {},
			tenantReview: {
				reviewStatus: 'empty'
			},
			lastReview: {},
			isAddReview: false,
			roomId: '',
			isReview: false
		};
	},

	computed: {
		authData() {
			return this.$store.state.authData;
		},
		totalPage() {
			const total = Math.ceil(
				this.listBooking.total / this.listBooking.per_page
			);

			return Number(total);
		},
		redirectionSource() {
			if (document.referrer.includes('room')) {
				return 'Form Booking';
			} else if (document.referrer.includes('user')) {
				return 'User Profile';
			} else {
				return 'Booking Navbar';
			}
		}
	},

	activated() {
		if (_isEmpty(this.listBooking)) {
			this.getBookingList(true);
		} else {
			this.trackHistoryBooking();

			if (this.listBooking.total > this.listBooking.per_page) {
				this.paginationShow = true;
			}
		}
	},

	mounted() {
		this.eventRoomReview();
		this.checkinControl();
		this.$store.commit('setMenu', 'user-menu');
	},

	methods: {
		async getRoomDetail(roomId) {
			await axios
				.get(`/stories/${roomId}`)
				.then(response => {
					if (response.data.status) {
						this.roomDetail = response.data.story;
						this.isAddReview = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getMyReview(reviewData) {
			return _find(reviewData, review => {
				return review.is_me;
			});
		},
		async getReviewData(roomId) {
			await axios
				.get(`/stories/review/${roomId}`)
				.then(async response => {
					const { review } = response.data;
					if (review !== null && review.length !== 0) {
						const lastData = this.getMyReview(review);
						if (lastData) {
							this.isReview = true;
							const {
								clean,
								safe,
								happy,
								room_facilities,
								public_facilities,
								pricing,
								content,
								is_anonim,
								photo
							} = lastData;

							this.lastReview = {
								clean,
								safe,
								happy,
								room_facilities,
								public_facilities,
								pricing,
								share_word: content,
								is_anonim,
								photo
							};

							this.tenantReview = {
								reviewStatus: lastData.status,
								reviewScore: parseFloat(lastData.rating).toFixed(1),
								reviewContent: lastData.content
							};
						} else {
							this.isReview = false;
						}
					}
					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
				});
		},

		eventRoomReview() {
			EventBus.$on('showRoomReview', async data => {
				EventBus.$emit('eventLoadingReview', {
					status: true
				});
				this.roomId = data.roomId;
				await this.getReviewData(data.roomId);
				await this.getRoomDetail(data.roomId);
				EventBus.$emit('eventLoadingReview', {
					status: false
				});
			});
		},

		closeAddReview() {
			this.isAddReview = false;
			document.body.style.overflow = 'auto';
		},

		goToMyKost() {
			window.open('/user/kost-saya?from=checkin', '_self');
		},

		setInvoiceSettlement(invoiceUrl) {
			this.settlementInvoceUrl = invoiceUrl;
		},

		goInvoiceSettlement() {
			window.open(this.settlementInvoceUrl);
			this.isModalSettlementConfirm = false;
		},

		goCheckin() {
			const data = {
				booking_code: this.bookingIdCheckin
			};

			data.booking_code !== '' && this.goCheckinProccess(data);
		},

		goCheckinProccess(data) {
			this.isDisabledCheckinButton = true;
			axios
				.post(`/user/booking/check-in`, data, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const responseData = response.data;
					if (responseData.status) {
						this.isModalAcceptCheckin = false;
						this.isModalAcceptCheckinWithInstruction = false;
						this.isModalSuccessCheckin = true;
						this.isDisabledCheckinButton = false;
					} else {
						const errorMessage = responseData.meta.message;
						this.swalError(null, errorMessage);
					}
					this.isDisabledCheckinButton = false;
				})
				.catch(error => {
					this.isDisabledCheckinButton = false;
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		isPaidCondition(statusVal) {
			return (
				statusVal === 'paid' ||
				statusVal === 'paid_late' ||
				statusVal === 'verified'
			);
		},

		isCheckinTime(checkinDate) {
			const nowDate = this.$dayjs();
			const dueDate = this.$dayjs(checkinDate).format('YYYY-MM-DD');
			const isSameDate = nowDate.isSame(dueDate, 'day');
			const isAfterDate = nowDate.isAfter(dueDate, 'day');
			return isSameDate || isAfterDate;
		},

		checkinControl() {
			EventBus.$on('proccessCheckinEvent', bookingData => {
				this.roomCheckinInfo.roomName = bookingData.roomName;
				this.roomCheckinInfo.coordinate = bookingData.coordinate;
				this.roomCheckinInfo.invoiceUrl = bookingData.invoiceUrl;

				const isCheckedInTime =
					this.isCheckinTime(bookingData.checkinTime) &&
					this.isPaidCondition(bookingData.bookingStatus) &&
					!bookingData.checkInStatus;

				if (isCheckedInTime) {
					if (bookingData.isCheckinWithInstruction)
						this.isModalAcceptCheckinWithInstruction = true;
					else this.isModalAcceptCheckin = true;
				} else {
					this.isModalNotTimeCheckin = true;
					this.checkinDateTime = this.$dayjs(bookingData.checkinTime).format(
						'dddd, D MMMM YYYY'
					);
				}
				this.bookingIdCheckin = bookingData.bookingId;
			});
		},

		getBookingList(track = false) {
			this.isLoading = true;

			const sortingValue =
				this.sortValue !== 'none' && this.sortValue !== 'default'
					? this.sortValue
					: '';

			const statusBooking =
				this.statusValue !== 'none' && this.statusValue !== 'all'
					? this.statusValue
					: '';

			const url = `/user/booking?page=${this.bookingPagination.page}&sort=${sortingValue}&status=${statusBooking}`;

			axios
				.get(url)
				.then(response => {
					if (response.data.status) {
						this.listBooking = response.data.data;

						this.bookingPagination.total = this.listBooking.total;
						this.bookingPagination.limit = this.listBooking.per_page;

						if (this.listBooking.total === 0 && this.isFilterSet) {
							this.isFilterNull = true;
						}

						this.openTenantBookingChat();

						this.isLoading = false;

						if (this.listBooking.total !== 0) {
							this.isInitialLoad = false;
						}

						this.closeSwalLoading();

						track && this.moengageEventTrack(this.listBooking.data);
						if (this.listBooking.total > this.listBooking.per_page) {
							this.paginationShow = true;
						}

						track && this.trackHistoryBooking();
					} else {
						this.swalError(null, response.data.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		setFilter() {
			this.bookingPagination.page = 1;

			if (this.$refs.pagination) {
				this.$refs.pagination.detachedPagination.innerValue = 1;
			}

			this.isFilterSet = true;

			this.getBookingList();
		},

		setFilterMobile(val) {
			this.statusValue = val;
			this.isModalFilter = false;
			this.setFilter();
		},

		setSortMobile(val) {
			this.sortValue = val;
			this.isModalSort = false;
			this.setFilter();
		},

		openTenantBookingChat() {
			if (typeof Cookies.get('mami-tenant-booking-chat') !== 'undefined') {
				const chatData = Cookies.getJSON('mami-tenant-booking-chat');

				sbWidget.showChannel(chatData.group_channel_url);

				Cookies.remove('mami-tenant-booking-chat');

				const bookingData = this.findKostDetail(chatData.group_channel_url);

				this.trackSendMessage(bookingData);
			}
		},

		findKostDetail(channel) {
			for (var i = 0; i < this.listBooking.data.length; i++) {
				if (this.listBooking.data[i].group_channel_url === channel) {
					return this.listBooking.data[i];
				}
			}
		},

		trackSendMessage(bookingData) {
			tracker('moe', [
				'[User] Chat Owner After Booking Submitted',
				{
					user_id: _get(this.authData, 'all.id', null),
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					property_name: _get(bookingData, 'room.name', ''),
					property_id: _get(bookingData, 'room._id', ''),
					property_city: _get(bookingData, 'room.address', ''),
					property_subdistrict: _get(bookingData, 'room.address', ''),
					request_date: new Date(bookingData.created_at),
					booking_id: _get(bookingData, 'booking_code', ''),
					redirection_source: 'Booking Success Landing Page',
					owner_id: this.getQueryString('id')
				}
			]);
		},

		pageChanged(page) {
			this.bookingPagination.page = page;
			this.getBookingList();
		},

		moengageEventTrack(items) {
			for (const item of items) {
				tracker('moe', [
					'[User] Visit List Booking',
					{
						user_id: this.authData.all.id,
						booking_status: item.status,
						payment_status: item.payment_status,
						booking_duration: item.duration_string,
						booking_start_time: item.checkin_date_formatted,
						booking_end_time: item.checkout_date_formatted,
						booking_id: item.booking_code,
						property_rent_type: item.rent_count_type,
						property_name: item.room.name,
						property_city: item.room.address,
						property_photo_medium: item.room.photo.medium,
						property_url: item.room.url,
						total_property_count: this.listBooking.total
					}
				]);
			}
		},

		showModalFilter(state) {
			this.isModalFilter = state;
		},

		showModalSort(state) {
			this.isModalSort = state;
		},

		trackHistoryBooking() {
			tracker('moe', [
				'[User] Riwayat Booking Page Visited',
				{
					tenant_name: _get(this.authData, 'all.name', ''),
					total_booking_count: _get(this.listBooking, 'total', 0),
					redirection_source: this.redirectionSource,
					interface: navigator.isMobile ? 'mobile' : 'desktop'
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.user-booking-list {
	.form-wrapper {
		padding-bottom: 7rem;
	}
}

p {
	margin: 0 auto;
	text-align: center;
	margin-top: 2.8571rem;
	margin-bottom: 2.8571rem;
	color: #3b445b;
	max-width: 26.7143em;
}

a {
	margin: 0 auto;
	display: block;
	max-width: 22.8571em;
}

.list-empty-wrapper {
	padding: 1.1rem 0rem;
	.icon-empty {
		display: block;
		margin: 0 auto;
	}
}

.booking-list-filter-mobile {
	position: sticky;
	bottom: 35px;
	width: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
	margin-bottom: 2.8rem;
	margin-top: 1.5rem;

	.filter-button-mobile {
		background-color: white;
		border-radius: 6px;
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 1rem 1.5rem;
		background-color: #fff;
	}

	.filter-border-mobile {
		border-left: 2px solid rgba(219, 219, 219, 0.5);
		height: 100%;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.filter-item-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		img {
			margin-right: 0.5rem;
		}
	}

	.filter-badge {
		color: #ff4422;
		font-size: 2rem;
		line-height: 1;
		margin-left: 0.8rem;
		margin-top: -5px;
	}
}

.pagination-section {
	margin-bottom: 10rem;
	display: flex;
	justify-content: center;
}
</style>
