<template>
	<modal
		id="bookingModalCancel"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="false"
	>
		<div class="booking-cancel-header">
			<filter-close-button @press="closeModal"></filter-close-button>
		</div>

		<div class="booking-cancel-content">
			<div class="cancel-container">
				<div class="cancel-header">
					<label>Berikan alasan pembatalan booking terhadap pemilik kost</label>
				</div>

				<div class="cancel-form">
					<div class="form-options">
						<div v-for="(val, index) in selectedVal" :key="index">
							<radio
								v-model="cancelReason"
								:selected-value="val"
								type="success"
							>
								{{ val.description }}
							</radio>
						</div>
					</div>

					<transition name="fade">
						<div v-if="isOtherReason" class="form-text">
							<textarea
								class="form-control"
								rows="3"
								placeholder="Masukkan alasan lainnya"
								v-model="cancelReasonOther"
								@focus="toggleScroll"
							></textarea>
							<span v-if="isWarningText" class="warning-text"
								>Maksimal 200 karakter</span
							>
							<span v-if="cancelReasonOther == ''" class="warning-text"
								>Alasan harus diisi</span
							>
						</div>
					</transition>
				</div>

				<div class="cancel-footer">
					<div class="footer-warning">
						<span
							>Anda tidak dapat melakukan pembayaran setelah membatalkan pesanan
							ini</span
						>
					</div>

					<div class="footer-buttons">
						<button
							type="button"
							class="btn btn-success btn-cancel-no"
							@click="closeModal"
						>
							Tidak Jadi
						</button>

						<button
							type="button"
							class="btn btn-primary btn-cancel-yes"
							:class="{
								'--disabled': isBookingCancelDisabled
							}"
							:disabled="isBookingCancelDisabled"
							@click="assignCancelParams"
						>
							Ya, Batalkan
						</button>
					</div>
				</div>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal, radio } from 'vue-strap';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton,
		modal,
		radio
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		bookingCode: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			cancelReason: {},
			cancelReasonOther: '',
			isOtherReason: false,
			isWarningText: false,
			selectedVal: []
		};
	},

	computed: {
		isBookingCancelDisabled() {
			const MAX_OTHER_REASON_CHARS = 200;
			return (
				this.isOtherReason &&
				(this.cancelReasonOther == '' ||
					this.cancelReasonOther.length > MAX_OTHER_REASON_CHARS)
			);
		}
	},

	watch: {
		showModal: {
			immediate: true,
			handler(state) {
				if (state && this.selectedVal.length === 0) {
					this.getCancelReasons();
				}
			}
		},
		cancelReason: {
			immediate: true,
			handler(val) {
				this.isOtherReason = this.cancelReason.description === 'Lainnya';
			}
		},
		cancelReasonOther(val) {
			this.isWarningText = val.length > 200;
		}
	},

	methods: {
		assignCancelParams() {
			let params = this.cancelReason;

			if (this.isOtherReason) {
				params = { description: this.cancelReasonOther, id: null };
			}

			this.sendCancelBooking(params);
		},
		sendCancelBooking(params) {
			this.openSwalLoading('', null);
			axios
				.post('/user/booking/cancel/' + this.bookingCode, {
					cancel_reason: params.description,
					reason_id: params.id
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.$emit('success');
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		getCancelReasons() {
			this.openSwalLoading('', null);
			axios
				.get('/booking/get-reject-reason/cancel')
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.selectedVal = response.data.data;
						this.selectedVal.push({ description: 'Lainnya', id: null });
						this.cancelReason = this.selectedVal[0];
					} else {
						const errorMessage =
							response.data.meta.message || 'Terjadi galat. Silakan coba lagi';

						this.swalError(null, errorMessage);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		toggleScroll() {
			const bookingModalCancelEl = document.querySelector(
				'#bookingModalCancel'
			);

			bookingModalCancelEl.scrollTop = bookingModalCancelEl.scrollHeight;
		},
		closeModal() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
#bookingModalCancel {
	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-dialog {
		width: 100%;
		margin: 0;
	}

	.modal-content {
		height: 100vh;
		border-radius: 0;
	}

	.radio {
		> label {
			> .icon {
				right: 0;
				left: auto;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
#bookingModalCancel {
	.booking-cancel-content {
		margin-top: 6rem;
		display: flex;
		justify-content: center;

		.cancel-form {
			.form-options {
				margin-left: -2rem;
			}
		}

		.cancel-footer {
			@media (max-width: 767px) {
				margin-top: 5rem;
			}

			@media (min-width: 768px) {
				position: fixed;
				bottom: 0;
				padding-bottom: 5rem;
			}

			.footer-warning {
				font-size: 0.9em;
				margin-bottom: 1rem;
			}

			.footer-buttons {
				width: 100%;
				display: flex;
				justify-content: space-between;

				button {
					width: 100%;

					&.btn-cancel-no {
						margin-right: 1.5rem;
					}

					&.btn-cancel-yes {
						&:active {
							box-shadow: none;
						}
					}

					&.--disabled {
						background-color: #9e9e9e;
						border-color: #9e9e9e;
						cursor: not-allowed;

						&:hover,
						&:focus,
						&:active,
						&:active:hover,
						&:active:focus {
							background-color: #9e9e9e;
							border-color: #9e9e9e;
						}
					}
				}
			}
		}
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.5s;
	}
	.fade-enter,
	.fade-leave-to {
		opacity: 0;
	}

	.warning-text {
		color: #f95516;
		font-size: 0.85em;
	}
}
</style>
