<template>
	<div class="detail-card-tenant-info">
		<label>Data Penyewa</label>
		<div class="tenant-item">
			<span>Nama</span>
			<span class="--name">
				<b>{{ name }}</b>
			</span>
		</div>

		<div class="tenant-item">
			<span>Nomor Telepon</span>
			<span>
				<b>{{ phoneNumber }}</b>
			</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			required: true
		},
		phoneNumber: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-card-tenant-info {
	border-radius: 6px;
	border: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem 2rem;
	margin-top: 1.5rem;

	.tenant-item {
		display: flex;
		justify-content: space-between;

		.--name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 250px;
		}
	}
}
</style>
