<template>
	<div class="booking-menu">
		<dropdown class="button-setting">
			<a href="#" slot="button"
				><img class="image-setting" v-lazy="'/general/img/icons/ic_setting.svg'"
			/></a>
			<ul
				v-if="status == 'booked'"
				slot="dropdown-menu"
				class="dropdown-menu setting-booking"
			>
				<li><a target="_blank" :href="link">Lihat kost</a></li>
				<li><a :href="`/booking-detail/?id=${id}`">Detail booking</a></li>
				<li>
					<a :href="`/booking-detail/?id=${id}&cancel=true`"
						>Batalkan Booking</a
					>
				</li>
			</ul>
			<ul v-else slot="dropdown-menu" class="dropdown-menu setting-booking">
				<li><a target="_blank" :href="link">Lihat kost</a></li>
				<li><a :href="`/booking-detail/?id=${id}`">Detail booking</a></li>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
export default {
	props: {
		status: String,
		id: Number,
		link: String
	},

	components: {
		dropdown
	}
};
</script>

<style lang="scss" scoped>
.booking-menu {
	width: 5em;
}

.setting-booking {
	top: 1em;
	left: -9em;
	border: 0px solid;
	@media (min-width: 768px) {
		top: 0em;
	}
}
</style>

<style lang="scss">
.button-setting {
	.btn {
		border: 0px;
		.caret {
			display: none;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: #ffffff !important;
			box-shadow: none;
		}
	}
}
</style>
