<template>
	<div id="bookingCheckinInstruction">
		<div class="row">
			<div v-if="isCheckinModal" class="col-md-12 header-instruction">
				<h1 class="single">
					Lakukan langkah berikut ini sebelum kamu melakukan check-in kos
				</h1>
			</div>

			<div v-else class="col-md-12 header-instruction">
				<h1>Instruksi Check-in</h1>
				<p>Lakukan langkah berikut ini sebelum Anda melakukan check-in kos</p>
			</div>

			<div class="col-md-12">
				<ul class="list-instruction">
					<li>
						<span class="list-number">①</span>
						<span class="list-text"
							>Chat pemilik kos untuk konfirmasi jam kedatangan kamu ke
							kos</span
						>
					</li>
					<li>
						<span class="list-number">②</span>
						<span class="list-text"
							>Mohon datang ke
							<a :href="urlMaps" target="_blank" rel="noopener"
								>Lokasi {{ roomName }}</a
							>
							sesuai tanggal masuk</span
						>
					</li>
					<li>
						<span class="list-number">③</span
						><span class="list-text"
							>Tunjukan
							<a target="_blank" :href="invoiceUrl">bukti pembayaran</a> kepada
							Pemilik</span
						>
					</li>
					<li>
						<span class="list-number">④</span
						><span class="list-text"
							>Tekan tombol “Check-in” apabila Anda sudah menempati kamar</span
						>
					</li>
					<li>
						<span class="list-number">⑤</span
						><span class="list-text"
							>Berikan review selama Anda tinggal di kos</span
						>
					</li>
				</ul>
			</div>

			<div v-if="isCheckinModal" class="col-md-12">
				<p>
					Setelah kamu menekan tombol “Check-in” pembayaran sewa yang sudah di
					bayar tidak bisa di kembalikan
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		isCheckinModal: {
			type: Boolean,
			default: false
		},
		roomName: {
			type: String,
			default: '-'
		},
		coordinateNumber: {
			type: String,
			default: '-'
		},
		invoiceUrl: {
			type: String,
			default: '-'
		}
	},

	computed: {
		urlMaps() {
			return `https://www.google.com/maps/search/?api=1&query=${this.coordinateNumber}`;
		}
	}
};
</script>

<style lang="scss" scoped>
.bookingCheckinInstruction {
	.header-instruction {
		h1 {
			font-size: 1em;
			font-weight: bold;
			color: #383746;
			&.single {
				font-size: 1.3em;
				line-height: 1.3em;
			}
		}

		p {
			line-height: 1.4em;
			max-width: 328px;
		}
	}

	ul.list-instruction {
		padding: 0;
		li {
			list-style: none;
			padding-top: 0.7rem;
			display: flex;
			.list-number {
				display: inline-block;
				font-size: 1em;
				margin-right: 1rem;
			}

			.list-text {
				display: inline-block;
				font-size: 1em;
			}
		}
	}
}
</style>
