<template>
	<modal v-model="showModal" class="wrapper-booking-basic-modal">
		<div slot="modal-header" class="modal-header">
			<div class="container">
				<span class="modal--title hidden-sm hidden-xs"></span>
				<span class="modal--close pull-right" @click="closeModal">&times;</span>
			</div>
		</div>

		<slot></slot>
		<slot name="footer"></slot>

		<div slot="modal-footer" class="modal-footer"></div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		closeRedirectUrl: {
			type: String,
			default: ''
		}
	},

	methods: {
		closeModal() {
			if (this.closeRedirectUrl) {
				window.open(this.closeRedirectUrl, '_self');
			} else {
				this.$emit('update:showModal', false);
			}
		}
	}
};
</script>

<style lang="scss">
.wrapper-booking-basic-modal {
	.modal-dialog {
		margin: 0;
		height: 100%;
		width: 100% !important;

		.modal-header {
			font-size: 1.6rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: sticky;
			top: 0px;
			left: 0;
			z-index: 1;
			background: white;
			width: 100%;

			padding: 0;

			&:after,
			&:before {
				content: none;
			}

			> span {
				line-height: 1;
			}

			span.modal--close {
				font-size: 2em;
				cursor: pointer;
				display: inline-block;
				background-color: transparent;
				border: none;
				box-shadow: none;

				@media (max-width: 768px) {
					float: left !important;
					min-width: 500px;
					display: block;
				}
			}
		}

		.modal-body {
			height: 100%;
			position: relative;

			@media (max-width: 768px) {
				max-width: 768px;
				margin: 0 auto;
			}

			@media (min-width: 769px) {
				max-width: 1170px;
				margin: 0 auto;
				padding-top: 6rem;
			}
		}

		.modal-content {
			border-radius: 0;
			border: unset;
			box-shadow: unset;
			padding-top: 0;
			padding-bottom: 0rem;
			height: 100%;
			overflow-y: scroll;
		}

		.modal-footer {
			display: none;
		}
	}

	.footer-buttons {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		margin-top: 3rem;
		position: absolute;
		bottom: 0;
		width: 100% !important;
		left: 0;
		padding: 0rem 1rem;

		@media (max-width: 991px) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&.one-button {
			.btn {
				height: 48px;
				width: 100%;
			}
		}

		&.two-button {
			background-color: #ffffff;
			padding: 2rem 0rem;
			.btn {
				height: 48px;
				width: 43%;
			}
		}

		.--is-button-custom {
			height: 48px;
			width: 328px;
			margin-top: 2rem;
		}

		button,
		a {
			height: 48px;
			width: 153px;

			@media (min-width: 992px) {
				margin-left: 1.5rem;
			}

			@media (max-width: 991px) {
				width: 100%;
				margin: 0 0.5rem;
			}

			@media (max-width: 767px) {
				height: 36px;
			}
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.wrapper-success-checkin {
		img {
			width: 223px;
			margin: 0 auto;
			display: block;
			padding-top: 2.9rem;

			@media (min-width: 767px) {
				width: 340px;
			}
		}

		h1 {
			font-size: 1.5em;
			font-weight: bold;
			line-height: 1.5em;
		}

		p {
			text-align: left;
			margin-left: 0;
			margin-top: 1rem;
			font-size: 1.1em;

			&.image-description {
				display: block;
				font-weight: bolder;
				text-align: center;
				width: 400px;
				margin: 0 auto;
				font-size: 1.5em;
				margin-top: 1.8rem;
			}
		}
	}
}
</style>
