<template>
	<div class="detail-tenant-spending" @click="goHistoryTransaction">
		<div class="spending-header">
			<label>Total Pengeluaran</label>
			<img
				v-lazy="{
					src: '/general/img/icons/ic_arrow-right-mamipay_grey.svg'
				}"
				alt="arrow right"
				class="visible-xs"
			/>
		</div>

		<mami-loading-inline v-if="totalPayment === ''"></mami-loading-inline>
		<div v-else class="desc-detail">
			<span v-if="totalDiscount" class="discount">
				Hemat Rp{{ formattedTotalDiscount }}
			</span>

			<span class="rent">
				Selama {{ duration }} menyewa kamu telah membayar tagihan dengan total
				sebesar Rp{{ formattedTotalPayment }}
			</span>
			<a @click="goHistoryTransaction">Lihat Riwayat Transaksi</a>
		</div>
	</div>
</template>

<script>
const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline
	},

	props: {
		totalPayment: {
			type: [Number, String],
			default: 0
		},
		totalDiscount: {
			type: [Number, String],
			default: 0
		},
		duration: {
			type: String,
			default: '1 Bulan'
		}
	},

	computed: {
		formattedTotalPayment() {
			return parseInt(this.totalPayment).toLocaleString('id');
		},
		formattedTotalDiscount() {
			return parseInt(this.totalDiscount).toLocaleString('id');
		}
	},

	methods: {
		goHistoryTransaction() {
			this.$emit('view-transaction');
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-tenant-spending {
	border-radius: 6px;
	border: 1px solid rgba(219, 219, 219, 0.5);
	padding: 1rem 2rem;
	margin-top: 1.5rem;
	cursor: pointer;

	@media (max-width: 767px) {
		border: none;
		padding: 15px 0;
		margin-top: 0;
	}

	.spending-header {
		@media (max-width: 767px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.desc-detail {
		.discount {
			border: 1px solid #dddddd;
			display: block;
			width: fit-content;
			padding: 0rem 1.1rem;
			border-radius: 20px;
			margin-top: 1.3rem;
			margin-bottom: 1rem;
			color: #484848;
		}

		.rent {
			display: block;
			color: #484848;
			line-height: 1.8em;
		}

		a {
			font-weight: bold;
		}
	}
}
</style>
