<template>
	<div id="bookingModalHistorySort">
		<select-modal
			:show="showModal"
			:initial-option="sortSelected"
			:active-option="sortSelected"
			:options="sortOptions"
			:title="'Urutkan'"
			:on-click-option="setSort"
			:close-modal="closeModal"
		/>
	</div>
</template>

<script>
const SelectModal = () => import('Js/@components/PickABooSelectModal');

export default {
	components: {
		SelectModal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			sortOptions: [
				{ name: 'Booking Terbaru', value: 'default' },
				{ name: 'Booking Terlama', value: 'first_requested' }
			],
			sortSelected: { name: 'Booking Terbaru', value: 'default' }
		};
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		setSort(val) {
			this.sortSelected = val;
			this.$emit('set', val.value);
		}
	}
};
</script>

<style lang="scss">
#bookingModalHistorySort {
	@media (min-width: 768px) {
		.modal-dialog {
			position: relative !important;
			width: 300px !important;
		}
		.modal-content {
			border-radius: 6px !important;
		}

		#pickABooSelectModal {
			&.modal.fade .modal-dialog {
				transform: translate(0, -25%) !important;
			}

			&.modal.in .modal-dialog {
				transform: translate(0, 0) !important;
			}

			.pick-a-boo-header {
				border-bottom: none !important;

				button {
					margin-top: -30px !important;
					margin-right: -10px !important;
				}

				h3 {
					margin-top: 40px;
				}
			}
		}
	}
}

.modal-open {
	position: relative !important;
	top: 0 !important;
}
</style>
