<template>
	<div class="booking-status">
		<span v-if="status === 'cancel_by_admin'" class="box-status cancel"
			>Dibatalkan</span
		>
		<span v-else class="box-status" :class="boxStatusClasses">{{
			detail
		}}</span>
		<a
			v-if="status == 'confirmed'"
			:href="invoiceUrl"
			class="btn btn-primary btn-sm button-pay"
		>
			Bayar Kost
		</a>
	</div>
</template>

<script>
export default {
	props: {
		detail: String,
		status: String,
		id: Number
	},

	data() {
		return {
			invoiceUrl: ''
		};
	},

	computed: {
		isCanceled() {
			const { status } = this;
			return (
				status === 'cancel_by_admin' ||
				status === 'terminated' ||
				status === 'cancel' ||
				status === 'expired' ||
				status === 'expired_date' ||
				status === 'cancelled' ||
				status === 'rejected'
			);
		},
		isWaitingPayment() {
			return this.status === 'confirmed' || this.status === 'booked';
		},
		isAccepted() {
			return this.status === 'paid' || this.status === 'verified';
		},
		boxStatusClasses() {
			return {
				accept: this.isAccepted,
				cancel: this.isCanceled,
				'waiting-payment': this.isWaitingPayment
			};
		}
	},

	mounted() {
		if (this.status === 'confirmed') {
			this.getBookingDetail(this.id);
		}
	},

	methods: {
		getBookingDetail(id) {
			axios
				.get('/user/booking/detail/' + id)
				.then(response => {
					if (response.data.status) {
						this.invoiceUrl = response.data.data.booking_data.invoice_url;
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					alert(error);
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-status {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	@media (min-width: 768px) {
		margin-top: 2rem;
	}
	.box-status {
		padding: 0.2rem 1rem;
		border-radius: 1em;
		font-size: 0.8em;
	}
	.accept {
		border: solid 0.5px #22c264;
		color: #2ecc71;
		height: 2em;
	}
	.waiting-payment {
		border: solid 0.5px #48dbfb;
		color: #48dbfb;
		height: 24.2px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.cancel {
		border: solid 0.5px #f95516;
		color: #f95516;
	}
}

.button-pay {
	position: relative;
	top: -0.3em;
	height: 100%;
	@media (min-width: 992px) {
		left: -6em;
	}

	@media (min-width: 1200px) {
		left: -17em;
	}
}
</style>
