<template>
	<div class="modal-action">
		<div class="modal-action__content">
			<form
				v-cloak
				method="POST"
				action="/auth/google"
				name="formLogin"
				class="form-login-google"
				:class="disableGoogleAuth ? 'hidden-xs hidden-sm' : ''"
			>
				<input type="hidden" name="_token" :value="_token" />
				<input type="hidden" name="url" :value="convertedUrl" />
				<button type="submit" class="btn btn-action btn-google">
					<img
						src="/assets/icons/svg/ic_google.svg"
						alt="ic_google"
						title="Google"
						class="btn-action__logo"
					/>
					<span class="modal-action__content-text">Sign in with Google</span>
				</button>
			</form>

			<form
				v-cloak
				method="POST"
				action="/auth/facebook"
				name="formLogin"
				class="form-login-facebook"
			>
				<input type="hidden" name="_token" :value="_token" />
				<input type="hidden" name="url" :value="convertedUrl" />
				<button type="submit" class="btn btn-action btn-facebook">
					<img
						src="/assets/icons/svg/ic_facebook.svg"
						alt="ic_facebook"
						title="Facebook"
						class="btn-action__logo"
					/>
					<span class="modal-action__content-text">Sign in with Facebook</span>
				</button>
			</form>

			<form v-cloak method="POST" action="/auth/apple" name="formLogin">
				<input type="hidden" name="_token" :value="_token" />
				<input type="hidden" name="url" :value="convertedUrl" />
				<button type="submit" class="btn btn-action btn-action--apple">
					<img
						src="/assets/icons/svg/ic_apple.svg"
						alt="ic_apple"
						title="Apple"
						class="btn-action__logo"
					/>
					<span class="modal-action__content-text">Sign in with Apple</span>
				</button>
			</form>
		</div>

		<div class="separator">
			<div class="strike">
				<span>atau</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		redirectPath: {
			type: String,
			default: ''
		}
	},
	computed: {
		_token() {
			return document.head.querySelector('meta[name="csrf-token"]').content;
		},
		convertedUrl() {
			// str_replace('http','https',request()->url())
			if (this.redirectPath) {
				return `${window.location.origin}${decodeURI(this.redirectPath)}`;
			}
			return window.location.href;
		},
		disableGoogleAuth() {
			return (
				window.location.pathname.indexOf(
					'freelancer-mamikos-campus-ambassador-mca-pt-mama-teknologi-properti-depok-sleman'
				) > -1
			);
		}
	}
};
</script>

<style lang="scss" scoped>
.modal-action {
	padding-top: 20px;
	margin-bottom: -24px;
}

.modal-action__header {
	text-align: center;
}
.modal-action__content {
	display: flex;
	flex-direction: column;
}

.modal-action__content button:hover {
	text-decoration: none !important;
}

.modal-action__content-text {
	margin-left: 10px;
}

.modal-action__content-text:hover {
	text-decoration: none !important;
}

.action-title {
	margin-bottom: 10px;
	text-align: center;
}

.btn-action {
	display: flex;
	width: 100%;
	padding: 12px;
	margin-bottom: 16px;
	font-size: 20px;
	line-height: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	justify-content: center;
	align-items: center;

	&__logo {
		width: 24px;
	}

	&--apple {
		color: #fff;
		background-color: #000;
	}
}

.action-button-divider {
	padding: 0 8px;
	margin-top: 30px;
	text-align: center;
}

.separator {
	width: 100%;
}

.strike {
	display: block;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}
.strike > span {
	position: relative;
	display: inline-block;
}
.strike > span::before,
.strike > span::after {
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	content: '';
	background: #ddd;
}
.strike > span::before {
	right: 100%;
	margin-right: 15px;
}
.strike > span::after {
	left: 100%;
	margin-left: 15px;
}

.login-owner {
	margin-top: 30px;
}
</style>
