<template>
	<div v-cloak class="login-select-container">
		<img
			v-if="!isModal"
			class="exit"
			src="/general/img/icons/ic_close_black.svg"
			alt="ic_arrow_left"
			@click="redirectToHome"
		/>

		<p class="modal-login-title" :class="!isModal ? 'login-title' : ''">
			Login Akun
		</p>

		<p>Saya ingin masuk sebagai</p>
		<div class="select-buttons">
			<button
				class="btn btn-success btn-login-selector login-owner-home"
				@click="selectState('owner')"
			>
				Pemilik Kos
			</button>
			<button
				class="btn btn-success btn-login-selector login-user-home"
				@click="selectState('tenant')"
			>
				Pencari Kos
			</button>
			<!-- practically useless for now -->
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	props: {
		isModal: {
			type: Boolean,
			default: false
		}
	},

	mixins: [mixinGetQueryString],

	computed: {
		isWebview() {
			return (
				this.getQueryString('interface') === 'ios' ||
				this.getQueryString('interface') === 'android'
			);
		}
	},

	methods: {
		selectState(state) {
			if (this.isModal) {
				this.$emit('stateChanged', state);
			} else {
				const url = state === 'owner' ? 'login-pemilik' : 'login-pencari';
				this.$router.push(url);
			}
		},
		redirectToHome() {
			this.isWebview
				? window.location.replace(`bang.kerupux.com://owner_profile?home=true`)
				: (window.location.href = '/');
		}
	}
};
</script>

<style lang="css" scoped>
.login-select-container {
	text-align: left;
}
.modal-login-title {
	font-size: 24px;
	margin-bottom: 58px;
	font-weight: bold;
}
.exit {
	margin-top: 7vh;
	margin-bottom: 3vh;
}
.select-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 48px;
}
.btn-success {
	color: #1baa56 !important;
	background-color: #fff !important;
	border-color: #229622;
}
.btn-login-selector {
	width: 46%;
}
.btn-login-selector:hover {
	text-decoration: none !important;
}
</style>
