<template>
	<div class="form-login">
		<img
			v-if="backButton"
			class="login-exit"
			src="/general/img/icons/ic_arrow_left.svg"
			alt="ic_arrow_left"
			@click="handleBackButton"
		/>
		<hr class="login-header-divider" />
		<p class="login-title">Login {{ userTypeText }} Kos</p>

		<form-login-social v-if="user === 'tenant'" :redirect-path="redirectPath" />

		<form
			class="input-form"
			@input="isSubmitTerminated = false"
			@submit.prevent="submitLogin"
		>
			<!--  -->
			<fieldset>
				<input-with-validator
					v-model="phoneNumber"
					:input-name="'Nomor Handphone'"
					:input-label="'Nomor Handphone'"
					:input-type="'tel'"
					:input-placeholder="'Nomor Handphone'"
					:input-length="14"
					:custom-class-input="'form-login-input'"
					class="login-input"
					:validation-option="phoneValidationRules"
				></input-with-validator>
				<input-with-validator
					v-model="password"
					:input-name="'Password'"
					:input-label="'Password'"
					:input-type="'password'"
					:input-placeholder="'Masukkan password'"
					:custom-class-input="'form-login-input'"
					:custom-error-message="passwordCustomErrorMessage"
					class="login-input"
					:validation-option="passwordValidationRules"
				></input-with-validator>
				<button
					type="submit"
					class="btn btn-primary btn-mamigreen login-button"
					:class="gtmTrackLoginClass"
					:disabled="isLoading || isSubmitDisabled"
				>
					<span v-if="isLoading">
						<i class="fa fa-circle-o-notch fa-spin">&nbsp;</i>
						Sedang login...
					</span>
					<span v-else :class="gtmTrackLoginClass">Login</span>
				</button>
			</fieldset>

			<p class="text-center register-caption">
				Belum punya akun Mamikos?
				<a v-if="mode === 'modal'" :href="routerLinkRegister"
					>Daftar Sekarang</a
				>
				<router-link v-else :to="routerLinkRegister">
					<a>Daftar Sekarang</a>
				</router-link>
			</p>

			<p class="text-center register-caption">
				<a data-path="btn_goToResetPassword" @click="gotoResetPassword">
					Lupa password?
				</a>
			</p>
			<!--  -->
		</form>
	</div>
</template>

<script>
import _get from 'lodash/get';
import md5 from 'md5';
import InputWithValidator from '../InputWithValidator';
import FormLoginSocial from './FormLoginSocial';

export default {
	components: {
		InputWithValidator,
		FormLoginSocial
	},

	props: {
		backButton: {
			type: Boolean,
			defaut: false
		},
		mode: {
			type: String,
			default: ''
		},
		user: {
			type: String,
			required: true
		},
		fromBookingLanding: {
			type: Boolean,
			default: false
		},
		redirectPath: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			token: document.head.querySelector('meta[name="csrf-token"]').content,
			phoneNumber: '',
			password: '',
			isLoading: false,
			isSubmitTerminated: false
		};
	},

	computed: {
		userTypeText() {
			return this.user === 'owner' ? 'Pemilik' : 'Pencari';
		},
		routerLinkRegister() {
			return this.user === 'owner' ? '/register-pemilik' : '/register-pencari';
		},
		trackerTag() {
			return this.user === 'owner' ? '[Owner]' : '[User]';
		},
		routleLinkResetPassword() {
			return this.user === 'owner'
				? '/lupa-password-pemilik'
				: '/lupa-password-pencari';
		},
		isSubmitDisabled() {
			return this.phoneNumber === '' || this.password === '';
		},
		gtmTrackLoginClass() {
			return this.user === 'owner' ? 'track-login-owner' : 'track-login-tenant';
		},
		passwordValidationRules() {
			return {
				required: true,
				min: this.user === 'owner' ? 6 : 8,
				isSubmitTerminated: this.isSubmitTerminated
			};
		},
		phoneValidationRules() {
			return { required: true, regex: /^(\+62|08)[\d-]+$/ };
		},
		passwordCustomErrorMessage() {
			return [
				{
					typeValidation: 'isSubmitTerminated',
					text: 'Nomor dan password tidak sesuai'
				}
			];
		}
	},

	created() {
		this.trackVisitLoginPage();
	},

	methods: {
		submitLogin() {
			this.isLoading = true;
			setTimeout(() => {
				const parameterLogin = {
					password: md5(this.password),
					_token: this.token
				};
				if (this.validatePhone(this.phoneNumber)) {
					parameterLogin.phone_number = this.phoneNumber;
					this.submitLoginApi(parameterLogin);
				} else {
					this.isLoading = false;
					this.alertSwal({
						title: 'Login gagal',
						type: 'error',
						desc: 'Nomor handphone Anda tidak valid',
						buttonTxt: 'Login kembali'
					});
				}
			}, 500);
		},

		submitLoginApi(parameterLogin) {
			axios
				.post(`/auth/${this.user}/login`, parameterLogin)
				.then(response => {
					if (response.data.status) {
						tracker('moe', [
							`${this.trackerTag} Login`,
							{
								login_result: true,
								fail_reason: null
							}
						]);

						if (this.user === 'owner') {
							const accessToken = _get(
								response.data,
								'login.oauth.access_token',
								null
							);
							const refreshToken = _get(
								response.data,
								'login.oauth.refresh_token',
								null
							);

							const options = {
								samesite: 'strict',
								domain: oxOauth2Domain,
								'max-age': '604800' // 7 days
							};
							Cookies.set('access_token', accessToken, options);
							Cookies.set('refresh_token', refreshToken, options);

							const redirectPath = _get(
								response.data,
								'login.redirect_path',
								null
							);

							if (this.fromBookingLanding) {
								this.getOwnerData();
							} else {
								if (redirectPath) {
									window.location.replace(redirectPath);
								} else {
									window.location.replace(oxWebUrl);
								}
							}
						} else if (
							this.user === 'tenant' &&
							this.mode !== 'modal' &&
							!!this.redirectPath
						) {
							window.location.replace(decodeURI(this.redirectPath));
						} else if (this.user === 'tenant') {
							response.data.redirect_path
								? window.location.replace(response.data.redirect_path)
								: window.location.replace('/user');
						} else {
							window.location.replace('/');
						}
					} else {
						this.isSubmitTerminated = true;
						this.isLoading = false;

						tracker('moe', [
							`${this.trackerTag} Login`,
							{
								login_result: false,
								fail_reason: _get(response, 'data.meta.message')
							}
						]);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.' + error);
					this.isLoading = false;
				});
		},

		validateEmail(email) {
			const emailValidatorRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return emailValidatorRegex.test(email);
		},
		validatePhone(phone) {
			const phoneValidatorRegex = /^(\+62|08)[\d-]+$/;
			return phoneValidatorRegex.test(phone);
		},

		alertSwal(dataAlert) {
			swal({
				title: dataAlert.title,
				type: dataAlert.type,
				text: dataAlert.desc,
				confirmButtonColor: '#EC4A0C',
				confirmButtonText: dataAlert.buttonTxt,
				showCloseButton: true
			});
		},

		handleBackButton() {
			this.$router.push('login');
		},

		gotoResetPassword() {
			this.trackForgetPassword();

			const location =
				this.user === 'owner'
					? '/lupa-password-pemilik'
					: '/lupa-password-pencari';

			this.mode === 'modal'
				? (window.location = location)
				: this.$router.push(location);
		},

		gotoRegisterPage() {
			if (this.mode === 'modal') {
				window.location = '/login?user=tenant';
			} else {
				this.handleBackButton();
			}
		},

		trackForgetPassword() {
			tracker('moe', [
				`${this.trackerTag} Login - Click Forget Password`,
				{ interface: navigator.isMobile ? 'mobile' : 'desktop' }
			]);
		},

		getOwnerData() {
			axios
				.get('/owner/data/profile')
				.then(response => {
					if (response.data.status) {
						this.redirectOwnerFromBookingLanding(
							response.data.membership.is_mamipay_user
						);
					} else {
						bugsnagClient.notify(JSON.stringify(response));
						alert(
							'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		redirectOwnerFromBookingLanding(isBBKActive) {
			const link = isBBKActive
				? '/ownerpage/manage/all/bill'
				: '/ownerpage/manage/activate';

			window.location.replace(link);
		},

		trackVisitLoginPage() {
			tracker('moe', [
				`${this.trackerTag} Visit Login Page`,
				{
					current_page: window.location.href,
					interface: navigator.isMobile ? 'mobile' : 'desktop'
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.form-login {
	text-align: left;
}

.login- {
	&title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #2e2d39;
		margin-top: 18px;
		margin-bottom: 10px;
	}
	&input {
		margin-top: 48px;
	}
	&button {
		margin-top: 32px;
		width: 100%;
		font-size: 16px;
		height: 48px;
		text-decoration: none !important;
	}
	&button[disabled] {
		background-color: #f4f4f4;
		border-color: #f4f4f4;
		color: #dbdbdb;
		opacity: 1;
	}
	&button[disabled]:hover {
		background: #f4f4f4;
		opacity: 1;
	}
	&exit {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	&header-divider {
		border-top: none;
		margin: 0;
	}
	@media (max-width: 425px) {
		&header-divider {
			margin: 0;
			width: 200vh;
			margin-left: -20%;
			position: absolute;
			border-top-width: 1px;
			border-color: #f4f4f4;
			border-top-style: solid;
		}
	}
}

.register-caption {
	margin-top: 16px;
}
</style>

<style lang="scss">
.form-login-input {
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #dbdbdb;
	border-radius: 0;
	padding: 0;
}
.input-form {
	.default-label {
		height: 24px;
	}
	.form-control {
		height: 3em;
		&:focus {
			box-shadow: none;
		}
	}
}
</style>
