<template>
	<div class="app-wrapper">
		<promotion-navbar></promotion-navbar>
		<main>
			<promotion-hero></promotion-hero>
			<promotion-feature></promotion-feature>
			<promotion-quotes></promotion-quotes>
			<promotion-faqs></promotion-faqs>
			<promotion-service></promotion-service>
		</main>
		<promotion-footer></promotion-footer>
	</div>
</template>

<script>
import PromotionNavbar from './PromotionNavbar';
import PromotionHero from './PromotionHero';
import PromotionFeature from './PromotionFeature';
import PromotionQuotes from './PromotionQuotes';
import PromotionFaqs from './PromotionFaqs';
import PromotionService from './PromotionService';
import PromotionFooter from './PromotionFooter';

import mixinPromoteRedirect from '../mixins/MixinPromoteRedirect';

export default {
	name: 'App',
	components: {
		PromotionNavbar,
		PromotionHero,
		PromotionFeature,
		PromotionQuotes,
		PromotionFaqs,
		PromotionService,
		PromotionFooter
	},
	mixins: [mixinPromoteRedirect],
	mounted() {
		this.checkingPromoteRedirect();
	}
};
</script>

<style lang="scss">
.app-wrapper {
	font-family: 'Lato', sans-serif;
	@media screen and (max-width: 767px) {
		font-size: 13px;
	}
}

.title {
	font-family: 'Merriweather', serif;
}

::selection {
	background-color: #f3b054;
}
strong {
	font-weight: 600;
}
.shadow {
	box-shadow: 0px 20px 53px -13px rgba(140, 140, 140, 1);
}
.shadow-orange {
	box-shadow: 0px 10px 20px -5px rgba(249, 85, 22, 0.75);
}
.gradient-orange {
	background: rgba(254, 93, 84, 1);
	background: -moz-linear-gradient(
		left,
		rgba(254, 93, 84, 1) 0%,
		rgba(241, 147, 30, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, rgba(254, 93, 84, 1)),
		color-stop(100%, rgba(241, 147, 30, 1))
	);
	background: -webkit-linear-gradient(
		left,
		rgba(254, 93, 84, 1) 0%,
		rgba(241, 147, 30, 1) 100%
	);
	background: -o-linear-gradient(
		left,
		rgba(254, 93, 84, 1) 0%,
		rgba(241, 147, 30, 1) 100%
	);
	background: -ms-linear-gradient(
		left,
		rgba(254, 93, 84, 1) 0%,
		rgba(241, 147, 30, 1) 100%
	);
	background: linear-gradient(
		to right,
		rgba(254, 93, 84, 1) 0%,
		rgba(241, 147, 30, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5d54', endColorstr='#f1931e', GradientType=1 );
}

.btn-swal-cancel-custom {
	background-color: #ffffff !important;
	border: 1px solid #63ac56 !important;
	color: #63ac56 !important;
}
</style>

<style lang="scss" scoped></style>
