<template>
	<footer id="footer" class="footer-wrapper gradient-orange">
		<ComplaintModal
			v-if="isComplaintModalLoaded"
			:open-modal.sync="isComplaintModalOpened"
		/>

		<div
			class="footer-cloud footer-cloud-background"
			v-lazy:background-image="'/general/img/pictures/promotion/bg-cloud.svg'"
		></div>

		<div class="footer-promotional">
			<div class="footer-promotional-text">
				<p class="title">Jenis - Jenis Bisnis Kos Kosan</p>
				<p class="content">
					<strong>Bisnis Kos Kosan</strong> adalah bisnis yang tidak ada
					matinya. <strong>Bisnis property</strong> dalam bidang kost ini selain
					membuat pemilik bisnis nya memiliki lahan yang harganya terus
					berkembang setiap tahun, juga menambahkan pemasukan dari biaya sewa
					kost tersebut. Namun keuntungan dari biaya
					<strong>sewa kost</strong> ini, baru akan tercapai apabila kost itu
					selalu penuh atau paling tidak selalu terisi setiap bulannya. Itulah
					kenapa kamu perlu mempromosikan Rumah kost kamu di situs pencarian
					kost dan social media.
				</p>
				<p class="content">
					Kabar gembira! Promosikan iklan kost kini lebih mudah dan nikmati
					okupansi di kost Anda bertambah. <strong>Mamikos</strong> akan
					membantu Anda dengan beragam fitur profesional untuk membuat
					kolaborasi ini semakin menguntungkan. Penasaran ingin tahu lebih
					lanjut mengenai <strong>Promosi Kost</strong> di Mamikos? Simak
					<strong>Cara Promosikan Kost di Mamikos</strong>. Anda juga bisa
					langsung download <strong>aplikasi Mamikos</strong> dan pilih tambah
					kost dari halaman utamanya untuk mulai promosikan kost Anda.
				</p>
			</div>
			<div class="footer-promotional-container">
				<div class="footer-promotional-text">
					<p class="title">Bisnis Kost Eksklusif</p>
					<p class="content">
						<strong>Bisnis kos kosan mewah</strong> atau
						<strong>bisnis kost eksklusif</strong> merupakan bisnis yang banyak
						digemari belakangan ini. Bisnis Rumah kos kostan eksklusif ini
						dinilai lebih efektif, karena dengan ruangan yang sama lebarnya,
						dapat disewakan dengan <strong>harga kos</strong> lebih mahal.
						Sebuah Rumah Kost dapat dikatakan kost mewah/ eksklusif apabila kost
						memenuhi beberapa kriteria, ruangan kost cukup luas,
						<strong>desain kos kosan</strong> menarik, sudah terisi kasur dan
						beberapa peralatan lain, beberapa ditambah AC, Wifi, dan Kamar Mandi
						dalam.
					</p>
					<p class="content">
						Dalam <strong>bisnis kost eksklusif</strong> memastikan setiap kamar
						kost selalu penuh atau terisi akan jadi hal mudah apabila lokasi
						rumah kost kamu sudah ada di pinggir jalan dan dekat kampus. Program
						promosi cukup sekedar memasang spanduk Terima Kost di gerbang rumah
						kost ditambah brosur di kampus-kampus. Namun lain halnya jika kostmu
						tidak berada di posisi strategis, kamu juga dapat mempromosikan kost
						kamu di twitter, group facebook, atau situs-situs terkenal untuk
						<strong>pencarian kost</strong> seperti Mamikos. Rumah kost yang
						dipromosikan di Mamikos akan dibantu diiklankan, dilisting dan juga
						dipromosikan melalui sosial media kami dan aplikasi serta website
						kami. Dengan promosi rumah kost di Mamikos, kau tidak perlu lagi
						mengeluarkan lebih banyak budget untuk promosi online. Kamu juga
						bisa request ke admin sosmed kami untuk menampilkan post mengenai
						rumah kost kamu. Cukup chat admin kami di Instagram, Facebook atau
						twitter dengan memberikan link mamikos untuk rumah kost kamu.
					</p>
				</div>
				<div class="footer-promotional-text">
					<p class="title">Bisnis Kost Modal Ringan</p>
					<p class="content">
						<strong>Bisnis kost</strong> adalah investasi jangka panjang yang
						memiliki banyak peminat di Indonesia. Di tengah-tengah persaingan
						ketat untuk mendapat penghuni, kami hadir membawa solusi.
						<strong>Promosikan rumah kost</strong> Anda di
						<strong>Mamikos</strong>, aplikasi pencari kost terkemuka dan
						tepercaya di Indonesia. Pendaftarannya sangat mudah, membuat kost
						Anda lebih dikenal dengan dibantu promosi di media lain. Tim Mamikos
						membuatkan halaman khusus untuk <strong>rumah kost</strong> yang
						Anda miliki, baik di website ataupun di aplikasi Mamikos. Halaman
						tersebut dapat Anda update secara berkala mengenai foto dan detail
						<strong>informasi rumah kost</strong> Anda. Kabar baiknya, Anda bisa
						membagikan halaman tersebut di berbagai media yang Anda inginkan.
					</p>
					<p class="content">
						Saat ini, Mamikos digunakan oleh lebih dari
						<strong>15.000</strong> pengguna di seluruh Indonesia
						<strong>setiap harinya</strong>. Mamikos membuka peluang bagi
						pemilik <strong>bisnis kost</strong> untuk mempromosikan langsung
						bisnis kost yang dimilikinya. Tunggu apalagi?
						<strong>promosikan rumah kost</strong> kamu di MAMIKOS, sekarang!
					</p>
				</div>
			</div>
		</div>

		<div class="footer-label text-center">
			<figure class="label-icon">
				<img
					v-lazy="'general/img/pictures/promotion/mamikos_logo_white.svg'"
					alt="mamikos_logo"
				/>
			</figure>
			<p class="label-text">Dapatkan info kost murah hanya di Mamikos</p>
			<p class="label-text">Mau sewa kost murah?</p>
			<p class="label-text"><strong>Download Mamikos App Sekarang</strong></p>
		</div>

		<div class="footer-link-mamikos text-center">
			<a href="/career" target="_blank" class="link-mamikos">Job Mamikos</a>
			<span class="separator">|</span>
			<a href="/tentang-kami" class="link-mamikos">About us</a>
			<span class="separator">|</span>
			<a href="/promosi-kost" class="link-mamikos">Promosikan Kost Anda</a>
			<span class="separator">|</span>
			<a href="/privacy" class="link-mamikos">Kebijakan Privasi</a>
			<span class="separator">|</span>
			<a
				href="https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&subCategory=syarat-dan-ketentuan-umum&slug=syarat-dan-ketentuan-umum"
				class="link-mamikos"
				>Syarat dan Ketentuan Umum</a
			>
		</div>

		<div class="footer-link-social text-center">
			<a href="https://instagram.com/mamikosapp" rel="noopener">
				<img
					class="footer-icon"
					v-lazy="'general/img/pictures/promotion/004-instagram-logo.svg'"
					alt="instagram-icon"
				/>
			</a>
			<span class="separator"></span>
			<a href="https://twitter.com/mamikosapp" rel="noopener">
				<img
					class="footer-icon"
					v-lazy="'general/img/pictures/promotion/005-twitter-logo.svg'"
					alt="twitter-icon"
				/>
			</a>
			<span class="separator"></span>
			<a href="https://facebook.com/mamikosapp" rel="noopener">
				<img
					class="footer-icon"
					v-lazy="'general/img/pictures/promotion/006-facebook-logo.svg'"
					alt="facebook-icon"
				/>
			</a>
		</div>

		<hr class="footer-line" />

		<div class="footer-link-contact text-center">
			<a
				href="mailto:cs@mamikos.com"
				class="link-mamikos"
				rel="noopener"
				@click.prevent="openComplaintModal"
			>
				<img
					v-lazy="'general/img/pictures/promotion/001-envelope.svg'"
					alt="email-icon"
				/>
				<span class="separator"></span>
				cs@mamikos.com
			</a>
			<a href="https://wa.me/6281325111171" class="link-mamikos" rel="noopener">
				<img
					v-lazy="'general/img/pictures/promotion/002-whatsapp-logo.svg'"
					alt="whatsapp-icon"
				/>
				<span class="separator"></span>
				0813-2511-1171 (Whatsapp Only)
			</a>
			<a
				href="http://line.me/ti/p/V-6yV1X-28"
				class="link-mamikos"
				rel="noopener"
			>
				<img
					v-lazy="'general/img/pictures/promotion/003-line-logo.svg'"
					alt="line-icon"
				/>
				<span class="separator"></span>
				mamikosapp
			</a>
		</div>
	</footer>
</template>

<script>
import MixinComplaintHandler from 'Js/@mixins/MixinComplaintHandler';

export default {
	mixins: [MixinComplaintHandler]
};
</script>

<style lang="scss" scoped>
.footer-wrapper {
	margin-top: 15rem;
	padding-bottom: 5rem;
	padding-top: 25rem;
	position: relative;
}

.footer-cloud {
	position: absolute;
	height: 30em;
	top: -180px;
	width: 100%;
}
.footer-cloud-background {
	background-size: auto;
	background-repeat: no-repeat;
	background-position-x: center;
}

.footer-promotional {
	width: 85%;
	margin: auto;
	.footer-promotional-container {
		display: flex;

		@media screen and (max-width: 767px) {
			flex-direction: column;
		}
	}
	.footer-promotional-text {
		color: #fff;
		padding: 0 5rem;
		flex: 1;
		margin-top: 1rem;
		margin-bottom: 4rem;

		@media screen and (max-width: 767px) {
			padding: 0;
		}

		.title {
			font-size: 2em;
			font-weight: 600;
			text-align: center;
		}
	}
}

.footer-label {
	color: #fff;

	.label-icon {
		margin-bottom: 3rem;
	}
	.label-text {
		margin-bottom: 0;
	}
}

.footer-link-mamikos {
	color: #fff;
	margin-top: 2rem;
	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}

	.separator {
		margin: 0 1rem;
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.footer-link-social {
	margin-top: 2rem;

	.separator {
		margin: 0 2rem;
	}
}

.footer-line {
	width: 80%;
	border-width: 2px;
	border-color: #fff6;
}

.footer-link-contact {
	display: flex;
	justify-content: space-between;
	max-width: 40em;
	margin: auto;

	.separator {
		margin: 0 0.3rem;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}
}

.link-mamikos {
	color: #fff;
}
</style>
