<template>
	<div>
		<nav class="promotion-nav" :class="[navClassFixed, navClassSlide]">
			<div slot="brand" class="brand-logo-wrapper">
				<div v-if="isBack" class="back-button-wrapper visible-xs">
					<a @click="goBack">
						<img
							class="back-button"
							src="/general/img/icons/ic_full-arrow-left_s_green.svg"
						/>
					</a>
				</div>
				<div class="logo-konten">
					<figure class="nav-logo">
						<a href="/">
							<img
								v-lazy="'general/img/pictures/promotion/mamikos_logo.svg'"
								alt="Logo Mamikos"
							/>
						</a>
					</figure>
				</div>
			</div>
			<div v-if="isNavbarFixed" class="nav-items">
				<span class="nav-item">
					<button
						class="btn btn-info btn-box shadow-orange"
						@click="openLink()"
					>
						Upgrade ke Premium
					</button>
				</span>
			</div>
			<div v-else class="nav-items">
				<span class="nav-item">
					<a @click="goToSection('#feature')">Fasilitas</a></span
				>
				<span class="nav-item">
					<a @click="goToSection('#quotes')">Testimonial</a></span
				>
			</div>
		</nav>

		<navbar class="navbar-promotion" placement="static" type="default">
			<div v-if="isBack" slot="brand" class="brand-logo-wrapper">
				<div class="back-button-wrapper visible-xs">
					<a @click="goBack">
						<img
							class="back-button"
							src="/general/img/icons/ic_full-arrow-left_s_green.svg"
						/>
					</a>
				</div>
				<div class="logo-konten">
					<figure class="nav-logo">
						<a href="/">
							<img
								v-lazy="'general/img/pictures/promotion/mamikos_logo.svg'"
								alt="Logo Mamikos"
							/>
						</a>
					</figure>
				</div>
			</div>

			<figure v-else slot="brand" class="nav-logo">
				<a href="/">
					<img
						v-lazy="'general/img/pictures/promotion/mamikos_logo.svg'"
						alt="Logo Mamikos"
					/>
				</a>
			</figure>

			<li slot="right" class="view-menu">
				<a class="btn btn-link text-primary" @click="goToSection('#feature')"
					>Fasilitas</a
				>
				<a class="btn btn-link text-primary" @click="goToSection('#quotes')"
					>Testimonial</a
				>
			</li>
		</navbar>
	</div>
</template>

<script>
import { navbar } from 'vue-strap';

import mixinPromoteRedirect from '../mixins/MixinPromoteRedirect';

import mixinListenerBurgerNavigation from 'Js/@mixins/MixinListenerBurgerNavigation';

export default {
	components: {
		navbar
	},

	mixins: [mixinPromoteRedirect, mixinListenerBurgerNavigation],

	data() {
		return {
			isNavbarFixed: false,
			isScrolledPast: false,
			stateNavbarToggle: false,
			iconBar: document.getElementsByClassName('icon-bar'),
			navbarToggle: document.getElementsByClassName('navbar-toggle')
		};
	},

	computed: {
		authCheck() {
			return this.$root.state.authCheck;
		},
		showPromotionNavbar() {
			return this.authCheck.user ? false : true;
		},
		navClassFixed() {
			return this.isNavbarFixed ? 'nav-fixed' : '';
		},
		navClassSlide() {
			if (this.isNavbarFixed && this.showPromotionNavbar) {
				return this.isScrolledPast ? 'nav-slides-down' : 'nav-slides-up';
			} else {
				return '';
			}
		},
		isBack() {
			return document.referrer === '' ||
				document.referrer === document.location.href
				? false
				: true;
		}
	},

	mounted() {
		window.onscroll = () => {
			if (window.pageYOffset >= 800) {
				this.isScrolledPast = false;
				this.isNavbarFixed = true;

				if (window.pageYOffset >= 1400) {
					this.isScrolledPast = true;
					this.isNavbarFixed = true;
				} else {
					this.isScrolledPast = false;
					this.isNavbarFixed = true;
				}
			} else {
				this.isScrolledPast = false;
				this.isNavbarFixed = false;
			}
		};
	},

	methods: {
		goBack() {
			window.history.go(-1);
		},
		openLink() {
			window.open('/promosi-kost/premium-package');
		},
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.brand-logo-wrapper {
	display: flex;
	.back-button-wrapper {
		width: calc(50% + 27px);
		padding-top: 0.3rem;
		padding-left: 2rem;

		@media (max-width: 425px) {
			width: calc(50% + -9px);
		}

		img.back-button {
			width: 20px;
			margin-top: 13px;
		}
	}
	.logo-konten {
		width: 100%;
	}
}

.view-menu {
	display: flex;

	@media (max-width: 767px) {
		display: block;
	}
}

.navbar-promotion {
	margin-bottom: 0;
}

.promotion-nav {
	position: absolute;
	top: -25px;
	display: flex;
	width: 100%;
	min-height: 50px;
	padding: 0.9em 8em;
	overflow: hidden;
	background-color: #f6f4f4;
	justify-content: space-between;
	border: 1px solid transparent;
	align-items: center;
	transition: transform 0.3s ease;

	@media screen and (max-width: 767px) {
		padding: 1em 2em 1em 1em;
	}
}

.nav-fixed {
	position: fixed;
	top: -160px;
	z-index: 999;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-slides-down {
	transform: translateY(160px);
}
.nav-slides-up {
	transform: translateY(-160px);
}

.nav-logo {
	height: 52px;
	padding: 1.5rem;
	cursor: pointer;

	// @media screen and (max-width: 767px) {
	// 	height: 1.5em;
	// }

	img {
		height: 100%;
	}
}
.nav-items {
	display: flex;
	width: 12em;
	justify-content: space-between;

	@media screen and (max-width: 767px) {
		width: 10em;
	}

	> .nav-item {
		font-weight: 700;

		> a {
			color: #333;
			cursor: pointer;
		}
	}

	.btn-box {
		padding: 1rem 2rem;
		border-radius: 2px;
		font-weight: 600;
		border-color: #ec4a0c;

		@media screen and (max-width: 767px) {
			padding: 0.5rem 0.8rem;
		}
	}
}
</style>

<style lang="scss">
.navbar-toggle {
	background-color: transparent !important;
	border-color: transparent !important;

	.icon-bar {
		background-color: #1baa56 !important;
	}

	span {
		transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
	}

	span:nth-child(2) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(3) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(4) {
		float: right;
		width: 11px;
	}
}
</style>
