<template>
	<section id="quotes" class="quotes-container">
		<div class="testimony-container">
			<figure class="icon-quote container">
				<img
					class="icon-quote-off"
					v-lazy="'general/img/pictures/promotion/009-icon-quote.svg'"
					alt="icon-quote"
				/>
			</figure>

			<div class="testimony-slide-container">
				<div class="testimony-text">
					<transition name="list" mode="out-in">
						<div
							v-for="(slide, slideTextIndex) in slideList"
							:key="slideTextIndex"
							v-if="currentSlide == slideTextIndex"
							class="testimony-text-container"
						>
							<p class="testimony-text-content title">"{{ slide.text }}"</p>
							<p class="testimony-text-owner">
								<strong>{{ slide.name }}</strong>
								- {{ slide.occupation }}
							</p>
						</div>
					</transition>

					<div class="carousel-selector-container">
						<span
							v-for="(slide, index) in slideList"
							:key="index"
							class="carousel-selector"
							:class="{ 'carousel-selector-active': index == currentSlide }"
							@click="changeSlide(index)"
						>&#9679;</span>
					</div>
				</div>
				<transition name="list" mode="out-in">
					<div
						v-for="(slide, slideImageIndex) in slideList"
						v-if="currentSlide == slideImageIndex"
						:key="slideImageIndex"
						class="testimony-image"
					>
						<figure class="testimony-image-container">
							<img
								class="shadow testimony-image-big"
								v-lazy="slide.imagePrimary"
								:alt="`Foto ${slide.occupation}`"
							/>
							<img
								class="shadow testimony-image-small"
								v-lazy="slide.imageSecondary"
								:alt="`Foto ${slide.occupation}`"
							/>
						</figure>
					</div>
				</transition>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			slideList: [
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-alona.png',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-alona.jpg',
					text:
						'Thanks a lot MamiKos yg sudah berkerjasama dengan kami. Alhamdulillah beberapa apartment dan kost2an cabang Kia Residences sudah full.',
					name: 'Cynthiara Alona',
					occupation: 'Pemilik Rumah Kost Kia Residences Tangerang'
				},
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-aloha.jpg',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-aloha.jpg',
					text:
						'Saya bergabung dengan mamikost sudah 1 tahun 5 bulan dan saya telah memasang iklan promosi untuk penghuni baru sehingga mendapatkan 281 favorite terhadap Aloha kost. Aloha kost menjadi terkenal dan mendapatkan banyak peminat. Terima kasih mamikos. Saya akan tetap berlanggang dengan anda',
					name: 'Erlyn Yentina',
					occupation: 'Kost Aloha (Alloggio Hall) Gading Serpong Tangerang'
				},
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-elioti.jpg',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-elioti.jpg',
					text:
						'Mamikos? Tempat promo kos nomor #1 saat ini. Capaian promo yang dilakukan Mamikos yang mengarah ke tempat kami cukup baik. Occupancy lumayan cepat meningkat. Luar biasa Mamikos.',
					name: 'Fajar Surya',
					occupation: 'Luxury Guest House Elliottii Jakarta Selatan '
				},
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-rumah-berkat.jpg',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-rumah-berkat.jpg',
					text:
						'Sejak saya member platinum, tempat kos saya terbantu 60 sd 70 persen, thanks kerjasamanya Mamikos.',
					name: 'Pemilik',
					occupation: 'Kost Rumah Berkat Cicendo Bandung'
				},
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-sumber-rejeki.jpg',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-sumber-rejeki.jpg',
					text:
						'Semenjak saya bergabung dan iklan Premium di Mamikos, setiap hari ada saja yang chat iklan saya dan 90% pasti jadi penghuni kost saya.',
					name: 'Pemilik',
					occupation: 'Kost Sumber Rejeki Menteng Jakarta Pusat'
				},
				{
					imagePrimary:
						'general/img/pictures/promotion/quotes/testimony-dparagon.jpg',
					imageSecondary:
						'general/img/pictures/promotion/quotes/testimony-room-dparagon.jpg',
					text:
						"Terimakasih untuk Mamikos kami dari pihak D'Paragon sangat terbantu dalam penjualan kami. Kami sangat puas dengan sistem Mamikos!",
					name: 'Pemilik',
					occupation: "Kost D'Paragon Seturan Sleman Yogyakarta"
				}
			],

			currentSlide: 0,
			autoSlideTimeout: 15000
		};
	},
	mounted() {
		this.startAutoSlide();
	},
	methods: {
		changeSlide(nextIndex) {
			if (nextIndex >= this.slideList.length) {
				this.currentSlide = 0;
				this.changeSlide(this.currentSlide);
			} else {
				this.currentSlide = nextIndex;
			}
		},
		startAutoSlide() {
			setInterval(() => {
				this.changeSlide(this.currentSlide + 1);
			}, this.autoSlideTimeout);
		}
	}
};
</script>

<style lang="scss">
.list-enter-active,
.list-leave-active {
	transition: all 0.3s;
}

.list-enter,
.list-leave-to {
	opacity: 0;
}
</style>

<style lang="scss" scoped>
.quotes-container {
	padding-top: 55px; //same with navbar
	margin-top: 6rem;
	overflow: hidden;
}

.testimony-container {
	background-color: #fcfcfc;
	min-height: 50em;

	.icon-quote-off {
		margin-top: -7rem;
	}

	.testimony-slide-container {
		display: flex;
		width: 65em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
		margin-bottom: 8em;

		@media screen and (max-width: 767px) {
			flex-direction: column-reverse;
			width: auto;
		}
	}

	.testimony-text {
		padding: 10em 3em 6rem;
		flex: 1;
		height: 35em;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.testimony-text-content {
			font-size: 1.5em;
			@media screen and (max-width: 767px) {
				font-size: 1.2em;
			}
		}

		.carousel-selector-container {
			.carousel-selector {
				font-size: 1.5em;
				color: #fbd1c1;
				cursor: pointer;
				&-active {
					color: #f95516;
				}
			}
		}
	}

	.testimony-image {
		flex: 1;
		.testimony-image-container {
			position: relative;
			width: fit-content;
			@media screen and (max-width: 767px) {
				margin: auto;
			}

			.testimony-image-big {
				max-width: 30rem;
				max-height: 50rem;
			}
			.testimony-image-small {
				width: 200px;
				position: absolute;
				bottom: -10rem;
				right: -4rem;
			}
		}
	}
}
</style>
