<template>
	<section id="feature" class="facility-container">
		<header class="caption">
			<p class="title">Fitur-fitur Premium</p>
			<p class="subtitle">
				Buat Iklan kostmu lebih menarik bagi calon penyewa
			</p>
		</header>

		<div
			class="facility facility-doodle"
			v-lazy:background-image="
				'/general/img/pictures/promotion/bg-feature-doodle.png'
			"
		>
			<div class="facility-item-container">
				<div class="facility-item first-item shadow gradient-orange">
					<p class="title">Iklan di list teratas</p>
					<p>
						Jual kamar kosong lebih cepat dengan fitur Top Listing. Kost Anda
						akan ditampilkan di list teratas untuk area terkait.
					</p>
				</div>
				<div class="facility-item shadow">
					<p class="title">Cek Properti Sekitar</p>
					<p>
						Cari tahu informasi bisnis kos di sekitar Anda, seperti rentang harga sewa dan jumlah pencari kos di area Anda.
					</p>
				</div>
			</div>
			<div class="facility-item-container facility-item-container--bottom">
				<div class="facility-item shadow">
					<p class="title">Statistik iklan kos</p>
					<p>
						Lihat berapa kali kost Anda dilihat dan disukai calon penyewa,
						mengetahui data user survey dan seluruh data pencari kost.
					</p>
				</div>
				<div class="facility-item shadow">
					<p class="title">Foto dan video kos</p>
					<p>
						Kost Anda bisa bisa tampil lebih menarik dengan fasilitas foto dan
						video dari fotografer profesional Mamikos.
					</p>
				</div>
			</div>
		</div>
	</section>
</template>

<style lang="scss" scoped>
.facility-container {
	background-color: #f6f4f4;
	padding-top: 8rem;
	padding-bottom: 10rem;
	margin-bottom: -12rem;
	margin-top: 7rem;
}

.caption,
.facility {
	max-width: 65em;
	margin: auto;
}

.caption {
	margin-top: 2rem;
	padding: 0 20px;

	.title {
		font-weight: 600;
		font-size: 2em;
	}
	.subtitle {
		font-weight: 100;
		color: #ababab;
		max-width: 14em;
		line-height: 1.2;
		font-size: 2em;
	}
}

.facility {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 51rem;
	padding: 7rem 0;

	.facility-item-container {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 767px) {
			justify-content: center;
			flex-wrap: wrap;
		}

		&--bottom {
			margin-top: 3em;
			@media screen and (max-width: 767px) {
				margin-top: 0;
			}
		}

		.facility-item {
			padding: 2rem 3rem;
			background-color: #fff;
			width: 20em;
			border-radius: 10px;
			@media screen and (max-width: 767px) {
				margin: 10px;
			}

			&.first-item {
				color: #fff;
			}

			.title {
				font-weight: 600;
			}
		}
	}
}
.facility-doodle {
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	@media screen and (max-width: 767px) {
		background: none;
	}
}
</style>
