<template>
	<section id="service" class="service-wrapper">
		<div class="booking-service">
			<div class="caption">
				<p class="title">Layanan Booking</p>
				<p class="subtitle">Tingkatkan pendapatan kost dengan sistem Booking</p>
				<button class="btn btn-info btn-box" @click="showModal = !showModal">
					Daftarkan kost untuk Booking
				</button>
			</div>
			<figure>
				<img
					class="picture shadow"
					v-lazy="'general/img/pictures/promotion/bg-booking.png'"
					alt="booking-image"
				/>
			</figure>
		</div>

		<div class="standard-service">
			<figure class="increase-z-index">
				<img
					class="picture shadow"
					v-lazy="'general/img/pictures/promotion/bg-standarization.png'"
					alt="booking-image"
				/>
			</figure>
			<div class="caption">
				<p class="title">Standarisasi Layanan</p>
				<p class="subtitle">
					Kelola kost dengan lebih mudah dan efektif dengan layanan Standarisasi
				</p>
				<button class="btn btn-info btn-box" @click="showModal = !showModal">
					Daftarkan kost untuk Standarisasi
				</button>
			</div>
		</div>

		<!-- ////////////////////// the modal   ////////////////////// -->

		<promotion-subscribe-modal
			:show="showModal"
			@close-modal="showModal = false"
		></promotion-subscribe-modal>
	</section>
</template>

<script>
import PromotionSubscribeModal from './modal/PromotionSubscribeModal';

export default {
	components: {
		PromotionSubscribeModal
	},
	data() {
		return {
			showModal: false
		};
	}
};
</script>

<style lang="scss" scoped>
.service-wrapper {
	margin-top: -10rem;
}

.booking-service,
.standard-service {
	display: flex;
	justify-content: space-between;
	width: 60em;
	margin: auto;

	@media screen and(max-width: 767px) {
		width: auto;
		flex-direction: column;
		align-items: center;
	}

	.picture {
		width: 28em;
		border-radius: 0.7em;

		@media screen and(max-width: 767px) {
			width: 16em;
			margin-bottom: 2rem;
		}
	}

	.caption {
		width: 20em;

		@media screen and(max-width: 767px) {
			order: 2;
			text-align: center;
			margin-top: 2em;
		}
	}

	.title {
		font-size: 2em;
		font-weight: 600;
	}
	.subtitle {
		color: #999;
	}
	.btn {
		margin-top: 2rem;
	}
}

.standard-service {
	margin-top: 7rem;

	.caption {
		text-align: right;

		@media screen and(max-width: 767px) {
			text-align: center;
		}
	}
}

.increase-z-index {
	z-index: 2;
}

.btn-box {
	padding: 1rem 2rem;
	border-radius: 2px;
	font-weight: 600;
	border-color: #ec4a0c;
}
</style>
