<template>
	<section id="hero" class="hero-container">
		<div class="big-hero text-center">
			<header class="big-text title">
				<p>Tak sampai satu bulan, langsung penuh!</p>
			</header>
			<p class="smaller-text">
				<strong>Pasang Iklan Kost Sekarang</strong> dan dapatkan
				<strong>Fitur-Fitur Terbaik.</strong>
			</p>
			<p class="smaller-text">
				Buat iklan kost mu lebih menarik bagi calon penyewa.
			</p>
			<div class="button-container --is-custom-button-container">
				<button class="btn btn-info btn-box shadow-orange" @click="openLink()">
					Pasang Iklan Kost Sekarang
				</button>
				<button
					class="btn btn-warning btn-box btn-box--inverse"
					@click="goToSection('#feature')"
				>
					Pelajari Lebih Lanjut
				</button>
			</div>
		</div>

		<div class="tiled-feature">
			<p class="tiled-feature-title title">Kenapa promosi kost di Mamikos?</p>
			<div class="tile">
				<article class="tiled-article">
					<figure>
						<img
							v-lazy="'general/img/pictures/promotion/Group_1423.svg'"
							class="image"
							alt="image-active-user"
						/>
					</figure>
					<p class="title">1.400.000+</p>
					<p class="subtitle">Pengguna aktif Mamikos yang terdaftar</p>
				</article>
				<article class="tiled-article">
					<figure>
						<img
							v-lazy="'general/img/pictures/promotion/Group_1424.svg'"
							class="image"
							alt="image-verified-user"
						/>
					</figure>
					<p class="title">70.000+</p>
					<p class="subtitle">Kos aktif yang terdaftar dan terverifikasi</p>
				</article>
				<article class="tiled-article">
					<figure>
						<img
							v-lazy="'general/img/pictures/promotion/Group_1425.svg'"
							class="image"
							alt="image-visitor"
						/>
					</figure>
					<p class="title">75.000+</p>
					<p class="subtitle">Pengguna mengunjungi Mamikos setiap hari</p>
				</article>
				<article class="tiled-article">
					<figure>
						<img
							v-lazy="'general/img/pictures/promotion/Group_1426.svg'"
							class="image"
							alt="image-caller"
						/>
					</figure>
					<p class="title">20.000+</p>
					<p class="subtitle">
						Pengguna menghubungi kost lewat Mamikos setiap hari
					</p>
				</article>
			</div>
		</div>
	</section>
</template>

<script>
import mixinPromoteRedirect from '../mixins/MixinPromoteRedirect';

export default {
	mixins: [mixinPromoteRedirect],

	data() {
		return {
			showVideo: false
		};
	},

	computed: {
		authCheck() {
			return this.$root.state.authCheck;
		},
		isMobile() {
			return navigator.isMobile;
		}
	},

	methods: {
		openLink() {
			if (!this.authCheck.all) {
				window.open('/promosi-kost/premium-package');
			} else if (this.authCheck.user) {
				this.setRedirectCookie();
			} else {
				window.open('/ownerpage');
			}
		},
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.big-hero {
	padding: 5rem 1rem 10rem;
	background-color: #f6f4f4;

	.button-container {
		display: flex;
		width: 33rem;
		justify-content: space-between;
		margin: auto;

		&.--is-custom-button-container {
			display: flex;
			justify-content: space-between;
			width: 400px;
			@media screen and (max-width: 767px) {
				width: fit-content;
			}
		}

		@media screen and (max-width: 767px) {
			width: 20rem;
			flex-direction: column;
		}
	}

	.btn-box {
		padding: 1rem 2rem;
		font-weight: 600;
		border-color: #ec4a0c;
		border-radius: 2px;

		&--inverse {
			background-color: transparent;

			@media screen and (max-width: 767px) {
				margin-top: 2rem;
			}

			&:hover {
				color: #f42f01;
				border-color: #f42f01;
			}
		}
	}

	.big-text {
		margin-bottom: 1em;
		font-size: 3em;
		font-weight: 600;

		@media screen and (max-width: 767px) {
			font-size: 2em;
		}
	}
	.smaller-text {
		font-size: 1.3em;
	}

	.button-container {
		margin-top: 5rem;
	}
}

.tiled-feature {
	display: flex;
	margin-top: 12rem;
	text-align: center;
	flex-direction: column;
	align-items: center;

	> .tiled-feature-title {
		font-size: 2.5em;
	}

	.tile {
		display: flex;
		justify-content: space-evenly;
		width: 52em;
		flex-wrap: wrap;

		@media screen and (max-width: 767px) {
			width: auto;
			flex-direction: columns;
		}
	}

	.tiled-article {
		width: 20em;

		.image {
			height: 15em;
		}
		.title {
			font-size: 2em;
		}
		.subtitle {
			font-size: 1.2em;
			color: #999;
		}
	}
}
</style>
