<template>
	<div class="history-kos-detail-wrapper">
		<div class="detail-nav-back" @click="backToList">
			<icon-arrow-left class="nav-back-icon" />
			<span>Kembali</span>
		</div>

		<div class="detail-content">
			<booking-list-card-info
				:booking-detail="bookingDetail"
				custom-date-label="Selesai Sewa"
				:custom-date-value="checkoutDateFormatted"
			/>

			<div class="detail-price-facilities">
				<flash-sale-label
					v-if="bookingDetail.is_flash_sale"
					class="flash-sale-label-box"
				/>
				<booking-detail-card-price
					:booking-detail="bookingDetail"
					:rent-count="rentCount"
					:is-discount-applied="isDiscountApplied"
				/>

				<span class="text-primary" @click="toggleModalFac(true)">
					<b>Lihat Fasilitas</b>
				</span>
			</div>

			<div class="detail-sections">
				<user-review-card
					:room-id="bookingDetail.room.id"
					:room-data="formattedRoomDetail"
					:review-data="reviewData"
					:rating="ratingReview"
				/>

				<booking-detail-card-tenant-info
					:name="bookingDetail.tenant.name"
					:phone-number="bookingDetail.tenant.phone"
				/>

				<booking-detail-card-spending
					:total-payment="bookingDetail.total_contract_amount"
					:total-discount="Math.abs(bookingDetail.total_discount)"
					:duration="bookingDetail.duration_string"
					@view-transaction="goToTransaction"
				/>

				<booking-detail-card-contract-info
					:booking-detail="bookingDetail"
					:rent-type="rentCount.rentType"
					:checkin-date="checkinDate"
					:checkout-date="checkoutDate"
				/>
			</div>

			<div class="detail-action-buttons">
				<button
					type="button"
					class="btn btn-success"
					@click="openGroupChannel(bookingDetail.group_channel_url)"
				>
					Chat Pemilik
				</button>

				<a
					role="button"
					class="btn btn-primary"
					:href="bookingFormUrl"
					target="_blank"
				>
					Booking Ulang
				</a>
			</div>
		</div>

		<booking-modal-facilities
			:show-modal="isShowFacilities"
			:room-facility="roomFacilities"
			@close="toggleModalFac(false)"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import IconArrowLeft from 'Js/@icons/ArrowLeft';
import BookingDetailCardContractInfo from '../booking/history/BookingDetailCardContractInfo';
import BookingDetailCardPrice from '../booking/history/BookingDetailCardPrice';
import BookingDetailCardTenantInfo from '../booking/history/BookingDetailCardTenantInfo';
import BookingDetailCardSpending from '../booking/history/BookingDetailCardSpending';
import BookingListCardInfo from '../booking/history/BookingListCardInfo';
import BookingModalFacilities from '../booking/history/BookingModalFacilities';
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';
import UserReviewCard from '../UserReviewCard';

import mixinOpenChat from 'Js/@mixins/MixinOpenChat';

export default {
	components: {
		IconArrowLeft,
		BookingDetailCardContractInfo,
		BookingDetailCardPrice,
		BookingDetailCardTenantInfo,
		BookingDetailCardSpending,
		BookingListCardInfo,
		BookingModalFacilities,
		FlashSaleLabel,
		UserReviewCard
	},

	mixins: [mixinOpenChat],

	props: {
		rentCount: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			isShowFacilities: false
		};
	},

	computed: {
		bookingDetail() {
			return this.$store.state.historyKostDetail;
		},
		formattedRoomDetail() {
			return {
				...this.bookingDetail.room,
				'room-title': this.bookingDetail.room.name,
				checker: !!this.bookingDetail.room.checker
			};
		},
		checkinDate() {
			return this.$store.state.historyDetailCheckin;
		},
		checkoutDate() {
			return this.$store.state.historyDetailCheckout;
		},
		checkoutDateFormatted() {
			return this.$dayjs(this.bookingDetail.end_date)
				.locale('id')
				.format('DD MMM YYYY');
		},
		ratingReview() {
			return _get(this.bookingDetail, 'review.rating', '');
		},
		reviewData() {
			return this.bookingDetail.review || {};
		},
		contractId() {
			return this.$route.params.contractId;
		},
		isDiscountApplied() {
			return (
				!!this.bookingDetail.is_flash_sale &&
				!!this.bookingDetail.flash_sale.discount
			);
		},
		roomFacilities() {
			return [
				{ label: 'Fasilitas Kamar', value: this.bookingDetail.room.fac_room },
				{
					label: 'Fasilitas Kamar Mandi',
					value: this.bookingDetail.room.fac_bath
				},
				{ label: 'Fasilitas Umum', value: this.bookingDetail.room.fac_share },
				{ label: 'Parkir', value: this.bookingDetail.room.fac_park },
				{ label: 'Akses Lingkungan', value: this.bookingDetail.room.fac_near }
			];
		},
		bookingFormUrl() {
			return decodeURI(
				`/room/${this.bookingDetail.room.slug}?booking_form=true&redirection_source=riwayat kos`
			);
		}
	},

	methods: {
		toggleModalFac(state) {
			this.isShowFacilities = state;
		},
		goToTransaction() {
			this.contractId &&
				this.$router.push(
					`/riwayat-transaksi?contract=${Number(this.contractId)}`
				);
		},
		backToList() {
			this.$router.push('/riwayat-kos');
		}
	}
};
</script>

<style lang="scss">
.history-kos-detail-wrapper {
	.booking-modal-facilities {
		&.modal {
			&.in {
				display: flex !important;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.history-kos-detail-wrapper {
	.detail-nav-back {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin: 20px 0;
		font-weight: bold;

		.nav-back-icon {
			height: 15px;
		}
	}

	.detail-content {
		background: #ffffff;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 4px;

		.detail-price-facilities {
			display: flex;
			flex-direction: column;
			margin-left: 12rem;
			margin-top: -1rem;

			.text-primary {
				cursor: pointer;
			}

			.flash-sale-label-box {
				margin: 7px;
			}
		}

		.detail-sections {
			margin: 15px;
			line-height: 2.5;
		}

		.detail-action-buttons {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			padding: 15px;
			margin-top: 50px;

			button,
			a {
				font-weight: bold;
				border-radius: 4px;
			}

			.btn-primary {
				margin-left: 15px;
				border: none;
			}

			.btn-success,
			.btn-success:hover,
			.btn-success:active,
			.btn-success:visited {
				border: 1px solid #e8e8e8;
				color: inherit;
				background-color: #fff;
			}
		}
	}
}
</style>
