<template>
	<div class="history-kost-card">
		<div class="history-kost-card__property">
			<div>
				<div class="property-info font-small">
					<div class="property-gender">{{ roomData.type }}</div>
					<div class="property-address color-grey">
						{{ roomData.area_label }}
					</div>
				</div>
				<div class="property-name">
					<b>{{ roomData.name }}</b>
				</div>
				<table class="property-date">
					<tr class="color-grey">
						<td>Mulai Sewa</td>
						<td>Sewa Berakhir</td>
					</tr>
					<tr>
						<td class="start-date">
							<b>{{ formatDate(startDate) || '-' }}</b>
						</td>
						<td class="end-date">
							<b>{{ formatDate(endDate) || '-' }}</b>
						</td>
					</tr>
				</table>
			</div>
			<img
				v-lazy="{
					src: kostPhoto,
					error: defaultKostPhoto,
					loading: defaultKostPhoto
				}"
				class="property-photo"
				alt="property photo"
			/>
		</div>
		<user-review-card
			class="history-kost-card__review"
			redirection-source="riwayat kos"
			:room-id="roomData.id"
			:room-data="formattedRoomDetail"
			:review-data="reviewItemScore"
			:rating="rating"
		/>
		<router-link
			class="history-kost-card__detail-link"
			:to="{
				name: 'HistoryKostDetail',
				params: {
					contractId: contractId
				}
			}"
		>
			<b>Lihat Detail</b>
		</router-link>
	</div>
</template>

<script>
import _get from 'lodash/get';
import UserReviewCard from '../UserReviewCard';

export default {
	components: {
		UserReviewCard
	},

	props: {
		roomData: {
			type: Object,
			required: true
		},
		contractId: {
			type: Number,
			required: true
		},
		startDate: {
			type: String,
			required: true
		},
		endDate: {
			type: String,
			required: true
		},
		reviewData: {
			type: Object,
			default: null
		}
	},

	data() {
		return {
			defaultKostPhoto:
				'/general/img/pictures/placeholder/placeholder_loading.svg'
		};
	},

	computed: {
		kostPhoto() {
			return this.roomData.photo && this.roomData.photo.medium
				? this.roomData.photo.medium
				: this.defaultKostPhoto;
		},
		rating() {
			return _get(this.reviewData, 'rating', '');
		},
		reviewItemScore() {
			if (this.reviewData) {
				return {
					clean: this.reviewData.clean,
					safe: this.reviewData.safe,
					happy: this.reviewData.happy,
					room_facilities: this.reviewData.room_facilities,
					public_facilities: this.reviewData.public_facilities,
					pricing: this.reviewData.pricing,
					share_word: this.reviewData.content,
					is_anonim: this.reviewData.is_anonim,
					photo: this.reviewData.photo
				};
			}
			return {};
		},
		formattedRoomDetail() {
			return {
				...this.roomData,
				'room-title': this.roomData.name,
				checker: !!this.roomData.checker
			};
		}
	},

	methods: {
		formatDate(date) {
			if (!!date && this.$dayjs(date).isValid()) {
				return this.$dayjs(date)
					.locale('id')
					.format('D MMM YYYY');
			}
			return '';
		}
	}
};
</script>

<style lang="scss" scoped>
.history-kost-card {
	padding: 16px;
	font-size: 14px;
	line-height: 21px;
	color: #404040;
	border-radius: 8px;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	.font-small {
		font-size: 12px;
		line-height: 18px;
	}

	.color-grey {
		color: #949494;
	}

	&__property {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.property-info {
			display: flex;
			align-items: center;
		}

		.property-address {
			margin-left: 16px;
		}

		.property-name {
			margin: 4px 0;
		}
	}

	&__review {
		margin: 24px 0;
	}

	&__detail-link {
		color: #1baa56;

		&:hover {
			color: #6ecf91;
			text-decoration: none;
		}

		&:active {
			color: #008742;
		}
	}

	.property-photo {
		flex-shrink: 0;
		width: 64px;
		height: 96px;
		object-fit: cover;
		object-position: center;
		background-color: #e8e8e8;
		border-radius: 4px;

		@media (min-width: 768px) {
			width: 100px;
			height: 100px;
		}
	}

	.property-date {
		tr > td:not(:first-of-type) {
			padding-left: 24px;
		}

		tr:not(:first-of-type) > td {
			padding-top: 4px;
		}
	}
}
</style>
