<template>
	<div class="history-kost-card-skeleton">
		<div>
			<skeleton-loader :height="skeletonHeight" width="48px" />
			<skeleton-loader
				class="large-gap"
				:height="skeletonHeight"
				width="115px"
			/>
		</div>
		<skeleton-loader class="long-skeleton" :height="skeletonHeight" />
		<div>
			<skeleton-loader :height="skeletonHeight" width="90px" />
			<skeleton-loader
				class="small-gap"
				:height="skeletonHeight"
				width="90px"
			/>
		</div>
		<skeleton-loader class="long-skeleton" :height="skeletonHeight" />
		<skeleton-loader :height="skeletonHeight" width="97px" />
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';

export default {
	components: {
		SkeletonLoader
	},
	data() {
		return {
			skeletonHeight: '24px'
		};
	}
};
</script>

<style lang="scss">
.history-kost-card-skeleton {
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: flex-start;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	> *:not(:last-of-type) {
		display: inline-flex;
		margin-bottom: 24px;
	}

	.long-skeleton {
		width: 288px !important;
		max-width: 100%;
	}

	.large-gap {
		margin-left: 27px;
	}

	.small-gap {
		margin-left: 19px;
	}
}
</style>
