<template>
	<div class="history-kost-detail-mobile">
		<div class="detail-content">
			<history-kost-detail-mobile-info
				:booking-detail="bookingDetail"
				:rent-count="rentCount"
			/>

			<booking-detail-card-mobile-date
				:checkin-date="checkinDate"
				:checkout-date="checkoutDate"
				:duration-string="bookingDetail.duration_string"
			/>

			<user-review-card
				:room-id="bookingDetail.room.id"
				:room-data="formattedRoomDetail"
				:review-data="reviewData"
				:rating="ratingReview"
			/>

			<history-kost-detail-mobile-chat
				:owner-name="bookingDetail.owner.name"
				:channel-group-url="bookingDetail.group_channel_url"
			/>

			<div class="content-item --tenant">
				<label>Penyewa</label>
				<span>{{ bookingDetail.tenant.name }}</span>
			</div>

			<booking-detail-card-spending
				:total-payment="bookingDetail.total_contract_amount"
				:total-discount="Math.abs(bookingDetail.total_discount)"
				:duration="bookingDetail.duration_string"
				@view-transaction="goToTransaction"
			/>

			<booking-detail-card-contract-info
				:booking-detail="bookingDetail"
				:rent-type="rentCount.rentType"
				:checkin-date="checkinDate"
				:checkout-date="checkoutDate"
			/>
		</div>

		<div class="detail-action-button">
			<a
				role="button"
				class="btn btn-primary"
				:href="bookingFormUrl"
				target="_blank"
			>
				Booking Ulang
			</a>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import HistoryKostDetailMobileChat from './HistoryKostDetailMobileChat';
import HistoryKostDetailMobileInfo from './HistoryKostDetailMobileInfo';
import BookingDetailCardContractInfo from '../booking/history/BookingDetailCardContractInfo';
import BookingDetailCardMobileDate from '../booking/history/BookingDetailCardMobileDate';
import BookingDetailCardSpending from '../booking/history/BookingDetailCardSpending';
import UserReviewCard from '../UserReviewCard';

export default {
	components: {
		HistoryKostDetailMobileChat,
		HistoryKostDetailMobileInfo,
		BookingDetailCardContractInfo,
		BookingDetailCardMobileDate,
		BookingDetailCardSpending,
		UserReviewCard
	},

	props: {
		rentCount: {
			type: Object,
			required: true
		}
	},

	computed: {
		bookingDetail() {
			return this.$store.state.historyKostDetail;
		},
		checkinDate() {
			return this.$store.state.historyDetailCheckin;
		},
		checkoutDate() {
			return this.$store.state.historyDetailCheckout;
		},
		contractId() {
			return this.$route.params.contractId;
		},
		formattedRoomDetail() {
			return {
				...this.bookingDetail.room,
				'room-title': this.bookingDetail.room.name,
				checker: !!this.bookingDetail.room.checker
			};
		},
		bookingFormUrl() {
			return decodeURI(
				`/room/${this.bookingDetail.room.slug}?booking_form=true&redirection_source=riwayat kos`
			);
		},
		ratingReview() {
			return _get(this.bookingDetail, 'review.rating', '');
		},
		reviewData() {
			return this.bookingDetail.review || {};
		}
	},

	methods: {
		goToTransaction() {
			this.contractId &&
				this.$router.push(
					`/riwayat-transaksi?contract=${Number(this.contractId)}`
				);
		}
	}
};
</script>

<style lang="scss">
.history-kost-detail-mobile {
	.detail-tenant-spending,
	.detail-booking {
		border-top: 1px solid rgba(219, 219, 219, 0.5) !important;
		line-height: 2.5;
	}
}
</style>

<style lang="scss" scoped>
.history-kost-detail-mobile {
	.detail-content {
		padding: 15px;
		margin: 70px 0;

		.content-item {
			border-top: 1px solid rgba(219, 219, 219, 0.5);
			padding: 15px 0;

			&.--tenant {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.detail-action-button {
		position: fixed;
		bottom: 0;
		border-top: 1px solid #ddd;
		padding: 15px;
		width: 100%;
		background-color: #fff;

		.btn-primary {
			border: none;
			font-weight: bold;
			width: 100%;
			height: 40px;
		}
	}
}
</style>
