<template>
	<div class="history-kost-empty-state">
		<img
			v-lazy="'/general/img/pictures/img_empty_user_kost.svg'"
			class="empty-image"
			alt="img_empty_user_kost"
			title="Empty Kost"
		/>

		<div class="empty-desc">
			<h4 class="empty-title">Belum Ada Kos</h4>
			<span>
				Semua kos yang pernah kamu sewa di Mamikos nantinya akan muncul di
				halaman ini.
			</span>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.history-kost-empty-state {
	display: flex;
	width: 375px;
	max-width: 100%;
	padding: 32px 0;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
	color: #404040;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.empty-image {
		width: 245px;
		max-width: 100%;
		margin: 0 auto;
	}

	.empty-title {
		margin-top: 0;
		margin-bottom: 12px;
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;
		color: #303030;
		text-align: center;
	}

	.empty-desc {
		margin: 32px 0;
		text-align: center;
	}
}
</style>
