<template>
	<div class="history-kost-main row content">
		<div class="col-xs-12">
			<h1 class="title">Riwayat Kos</h1>
			<div class="history-kost-content row">
				<router-view />
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.history-kost-main {
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dadada;
	border-radius: 4px;

	.title {
		margin-bottom: 0;
	}

	.history-kost-content {
		padding: 0 24px 24px;
	}

	@media (max-width: 767px) {
		border: 0;

		.history-kost-content {
			padding: 0 16px 16px;
		}
	}
}
</style>
