<template>
	<div class="history-kost-info">
		<div class="info-item">
			<div class="kost-title">
				<span>
					{{ bookingDetail.room.name }}
				</span>
			</div>

			<div class="kost-info">
				<div class="property-gender">
					<span>{{ gender }}</span>
				</div>

				<span class="separator">&#8226;</span>

				<div class="kost-room">
					<span>Kamar {{ bookingDetail.room.number }}</span>
				</div>
			</div>

			<flash-sale-label
				v-if="bookingDetail.is_flash_sale"
				class="flash-sale-label-box"
			/>

			<booking-detail-card-price
				:is-discount-applied="isDiscountApplied"
				:booking-detail="bookingDetail"
				:rent-count="rentCount"
				:is-default-format="false"
			/>
		</div>

		<div class="info-item">
			<img
				v-lazy="{
					src: bookingDetail.room.photo.small,
					error: '/general/img/pictures/placeholder/placeholder_loading.svg'
				}"
				class="room-image"
				alt="kost image"
			/>
			<a :href="`/room/${bookingDetail.room.slug}`" target="_blank">
				<b>Lihat Iklan</b>
			</a>
		</div>
	</div>
</template>

<script>
import BookingDetailCardPrice from '../booking/history/BookingDetailCardPrice';
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';

export default {
	components: {
		BookingDetailCardPrice,
		FlashSaleLabel
	},

	props: {
		bookingDetail: {
			type: Object,
			required: true
		},
		rentCount: {
			type: Object,
			required: true
		}
	},

	computed: {
		gender() {
			if (this.bookingDetail.room.gender === 1) {
				return 'Putra';
			} else if (this.bookingDetail.room.gender === 2) {
				return 'Putri';
			}

			return 'Campur';
		},
		isDiscountApplied() {
			return (
				!!this.bookingDetail.is_flash_sale &&
				!!this.bookingDetail.flash_sale.discount
			);
		}
	}
};
</script>

<style lang="scss" scoped>
.history-kost-info {
	display: flex;
	justify-content: space-between;

	.info-item {
		.kost-title {
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 220px;
		}

		.kost-info {
			display: flex;
			font-size: 12px;
			align-items: center;

			.separator {
				color: rgba(36, 36, 36, 0.1);
				margin: 0 7px;
			}
		}

		.flash-sale-label-box {
			margin: 7px 0;
		}

		.room-image {
			border-radius: 4px;
			display: block;
			width: 64px;
			height: 64px;
			object-fit: cover;
		}
	}
}
</style>
