<template>
	<div class="history-kost-desktop-skeleton">
		<div class="header-desktop">
			<div class="header-item__photo">
				<skeleton-loader height="84px" width="90px" />
			</div>

			<div class="header-item">
				<skeleton-loader :height="skeletonHeight" width="180px" />
				<skeleton-loader :height="skeletonHeight" width="80px" />

				<div class="header-date">
					<div v-for="index in 2" class="date-item" :key="index">
						<skeleton-loader
							v-for="index in 2"
							:height="skeletonHeight"
							width="100px"
							:key="index"
						/>
					</div>
				</div>

				<skeleton-loader :height="skeletonHeight" width="125px" />
				<skeleton-loader :height="skeletonHeight" width="120px" />
			</div>
		</div>

		<div class="header-review">
			<skeleton-loader height="50px" width="100%" />
		</div>
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';

export default {
	components: {
		SkeletonLoader
	},

	data() {
		return {
			skeletonHeight: '24px'
		};
	}
};
</script>

<style lang="scss">
.history-kost-desktop-skeleton {
	.block-loader {
		margin-bottom: 10px;
	}
}
</style>

<style lang="scss" scoped>
.history-kost-desktop-skeleton {
	margin-top: 50px;
	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 15px;

	.header-desktop {
		display: flex;

		.header-item {
			display: flex;
			flex-direction: column;

			&__photo {
				margin-right: 15px;
			}

			.header-date {
				display: flex;

				.date-item {
					display: flex;
					flex-direction: column;
					margin-right: 7px;
				}
			}
		}
	}

	.header-review {
		margin-top: 20px;
	}
}
</style>
