<template>
	<div
		class="history-detail-mobile-chat"
		@click="openGroupChannel(channelGroupUrl)"
	>
		<div class="chat-section">
			<label>Pemilik Kos</label>
			<span>{{ ownerName }}</span>
		</div>

		<div class="chat-section">
			<icon-chat color="#1BAA56" :height="30" :width="30" />
		</div>
	</div>
</template>

<script>
import IconChat from 'Js/@icons/Chat';
import mixinOpenChat from 'Js/@mixins/MixinOpenChat';

export default {
	components: {
		IconChat
	},

	mixins: [mixinOpenChat],

	props: {
		ownerName: {
			type: String,
			default: ''
		},
		channelGroupUrl: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.history-detail-mobile-chat {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 15px 0;

	.chat-section {
		display: flex;
		flex-direction: column;
	}

	* {
		cursor: pointer;
	}
}
</style>
