<template>
	<div class="history-kos-detail">
		<div class="detail-mobile" v-if="isMobile">
			<div class="detail-header">
				<div class="header-item">
					<img
						src="/general/img/icons/ic_arrow-left_alt_black.svg"
						alt="arrow left"
						@click="backToList"
					/>
					<span>Riwayat Kos</span>
				</div>

				<div class="header-item">
					<filter-close-button :has-text="false" @press="backToList" />
				</div>
			</div>

			<history-kost-detail-mobile-skeleton v-if="isLoading" />
			<history-kost-detail-mobile v-else :rent-count="rentCount" />
		</div>

		<div v-else>
			<history-kost-detail-desktop-skeleton v-if="isLoading" />
			<history-kost-detail-desktop v-else :rent-count="rentCount" />
		</div>

		<mami-modal-error
			:show-modal="isModalError"
			@close="toggleModalError(false)"
		/>
	</div>
</template>

<script>
import HistoryKostDetailDesktop from './HistoryKostDetailDesktop';
import HistoryKostDetailDesktopSkeleton from './HistoryKostDetailDesktopSkeleton';
import HistoryKostDetailMobile from './HistoryKostDetailMobile';
import HistoryKostDetailMobileSkeleton from './HistoryKostDetailMobileSkeleton';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');
const MamiModalError = () => import('Js/@components/MamiModalError');

export default {
	components: {
		HistoryKostDetailDesktop,
		HistoryKostDetailDesktopSkeleton,
		HistoryKostDetailMobile,
		HistoryKostDetailMobileSkeleton,
		FilterCloseButton,
		MamiModalError
	},

	data() {
		return {
			isLoading: false,
			isModalError: false
		};
	},

	computed: {
		isMobile() {
			const width =
				window.innerWidth ||
				document.documentElement.clientWidth ||
				document.body.clientWidth;

			return width < 768;
		},
		bookingDetail() {
			return this.$store.state.historyKostDetail;
		},
		rentCount() {
			if (this.bookingDetail.rent_count_type === 'yearly') {
				return {
					rentType: 'tahun',
					rentPrice: this.bookingDetail.room.price.yearly
				};
			} else if (this.bookingDetail.rent_count_type === 'daily') {
				return {
					rentType: 'hari',
					rentPrice: this.bookingDetail.room.price.daily
				};
			} else if (this.bookingDetail.rent_count_type === 'quarterly') {
				return {
					rentType: '3 bulan',
					rentPrice: this.bookingDetail.room.price.quarterly
				};
			} else if (this.bookingDetail.rent_count_type === 'semiannually') {
				return {
					rentType: '6 bulan',
					rentPrice: this.bookingDetail.room.price.semiannualy
				};
			} else if (this.bookingDetail.rent_count_type === 'weekly') {
				return {
					rentType: 'minggu',
					rentPrice: this.bookingDetail.room.price.weekly
				};
			}

			return {
				rentType: 'bulan',
				rentPrice: this.bookingDetail.room.price.monthly
			};
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(params) {
				if (params.params.contractId) {
					this.getHistoryDetail(params.params.contractId);
				} else {
					this.$router.push('/riwayat-kos');
				}
			}
		}
	},

	methods: {
		getHistoryDetail(contractId) {
			this.isLoading = true;
			axios
				.get(`/user/contract/${contractId}`)
				.then(response => {
					if (response.data.status) {
						this.$store.commit('setHistoryKostDetail', response.data.data);

						this.updateDateFormat(
							'id',
							response.data.data.start_date,
							response.data.data.end_date
						);
					} else {
						this.toggleModalError(true);
					}
					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.toggleModalError(true);
				});
		},
		backToList() {
			this.$router.push('/riwayat-kos');
		},
		toggleModalError(state) {
			this.isModalError = state;
		},
		updateDateFormat(localeId = 'en', checkin, checkout) {
			this.$store.commit(
				'setHistoryDetailCheckin',
				this.$dayjs(checkin)
					.locale(localeId)
					.format('dddd, DD MMM YYYY')
			);
			this.$store.commit(
				'setHistoryDetailCheckout',
				this.$dayjs(checkout)
					.locale(localeId)
					.format('dddd, DD MMM YYYY')
			);
		}
	}
};
</script>

<style lang="scss">
.history-kos-detail {
	.btn-close-filter {
		font-size: 45px !important;
		font-weight: 300 !important;
	}
}
</style>

<style lang="scss" scoped>
.history-kos-detail {
	.detail-mobile {
		position: fixed;
		z-index: 1050;
		background-color: #fff;
		top: 0;
		left: 0;
		height: 100%;
		overflow: scroll;
		width: 100%;

		.detail-header {
			position: fixed;
			background-color: #fff;
			width: 100%;
			height: 63px;
			border-bottom: 1px solid #e5e5e5;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px;
			font-size: 18px;
			font-weight: bold;

			.header-item {
				img {
					margin-right: 5px;
				}
			}
		}

		.header-loading {
			margin-top: 100px;
		}
	}
}
</style>
