<template>
	<div class="history-kost-mobile-skeleton">
		<div class="header">
			<div class="header-item">
				<skeleton-loader :height="skeletonHeight" width="180px" />
				<skeleton-loader :height="skeletonHeight" width="100px" />
				<skeleton-loader :height="skeletonHeight" width="180px" />
			</div>

			<div class="header-item">
				<skeleton-loader height="80px" width="90px" />
			</div>
		</div>

		<div class="section-date">
			<div v-for="index in 3" class="date-item" :key="index">
				<skeleton-loader
					class="item-first"
					:height="skeletonHeight"
					width="100px"
				/>
				<skeleton-loader :height="skeletonHeight" width="100px" />
			</div>
		</div>

		<div class="section-last">
			<skeleton-loader height="50px" width="100%" />
		</div>
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';

export default {
	components: {
		SkeletonLoader
	},

	data() {
		return {
			skeletonHeight: '24px'
		};
	}
};
</script>

<style lang="scss" scoped>
.history-kost-mobile-skeleton {
	padding: 15px;
	margin-top: 80px;

	.header {
		display: flex;
		justify-content: space-between;
	}

	.section-date {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;

		.date-item {
			display: flex;
			flex-direction: column;

			.item-first {
				margin-bottom: 7px;
			}
		}
	}

	.section-last {
		margin-top: 25px;
	}
}
</style>
