<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title :grid="'col-md-12 col-xs-12'" :text="'Klaim Kost'">
		</section-title>

		<div class="col-md-12 col-xs-12 section-info">
			<p>
				Nomor Handphone / kost Anda sudah terdaftar. Apakah kost tersebut milik
				Anda?
			</p>
			<p>
				Jika kost tersebut milik Anda, silakan klaim kost tersebt di bawah ini.
			</p>
		</div>

		<field-claim :grid="'col-md-8 col-sm-10 col-xs-12 stretch'"> </field-claim>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="nextSection($store.state.section)"
				v-text="'Lewati'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.section-info {
	margin-bottom: 30px;
}
</style>
