<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Data Kost'"
		></section-title>

		<!-- <p class="col-md-12 col-xs-12">
			Isikan data kost yang ingin Anda tambahkan
		</p> -->
		<br />

		<div class="col-md-12 col-xs-12">
			<field-name
				:label="'Nama kost'"
				:placeholder="'Tulis nama kost'"
			></field-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<div class="form-group">
				<label
					>Alamat kost
					<a @click="previousSection($store.state.section)">Edit</a></label
				>
				<p>{{ $store.state.params.address }}</p>
			</div>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-gender :label="'Tipe kost'"></field-gender>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-room-size :label="'Luas kamar'"></field-room-size>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-year-building
				:label="'Tahun dibangun'"
				placeholder="Tahun dibangun atau terakhir renovasi"
			></field-year-building>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-room-count
				:label="'Jumlah kamar total'"
				:placeholder="'Tulis angka'"
				:disable="isEdit"
			></field-room-count>
		</div>

		<section-alert
			v-if="
				$store.state.params.room_count > 50 &&
					$store.state.params.room_count <= 500 &&
					!isEdit
			"
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Jika Anda memiliki lebih dari 50 kamar, silakan lengkapi data lebih dahulu. Admin akan menghubungi Anda untuk verifikasi.'
			"
			:icons="'glyphicon glyphicon-info-sign'"
			alert-type="alert-warning"
		></section-alert>

		<section-alert
			v-if="$store.state.params.room_count > 500 && !isEdit"
			:grid="'col-md-12 col-xs-12'"
			:text="'Jumlah kamar tidak bisa lebih dari 500.'"
			:icons="'glyphicon glyphicon-info-sign'"
		></section-alert>

		<div class="col-md-12 col-xs-12">
			<field-room-available
				:label="'Jumlah kamar kosong saat ini'"
				:placeholder="'Tulis angka'"
				:disable="isEdit"
			></field-room-available>
		</div>

		<section-alert
			v-if="isEdit"
			:grid="'col-md-12 col-xs-12'"
			:text="'Edit jumlah kamar di menu update kamar.'"
			:icons="'glyphicon glyphicon-info-sign'"
			alert-type="alert-success"
		></section-alert>

		<div class="col-md-12 col-xs-12">
			<field-price
				:label="'Harga kamar'"
				:placeholder="'Tulis angka'"
			></field-price>
		</div>

		<div v-if="isEdit" class="col-md-12 col-xs-12">
			<field-price-remark
				:label="'Keterangan biaya lainnya'"
				:placeholder="
					'Contoh: listrik, parkir, wifi, iuran kebersihan, laundry, tambahan elektronik, biaya tambahan tamu menginap/sekamar berdua, dll'
				"
			></field-price-remark>
		</div>

		<div v-if="isEdit" class="col-md-12 col-xs-12">
			<field-description
				:label="'Deskripsi kost'"
				:placeholder="'Maksimal 500 karakter'"
			></field-description>
		</div>

		<div v-if="isEdit" class="col-md-12 col-xs-12">
			<field-remarks
				:label="'Keterangan lain'"
				:placeholder="'Maksimal 500 karakter'"
			></field-remarks>
		</div>

		<section-alert
			v-show="
				$store.state.params.building_year == 0 ||
					$store.state.params.building_year == null ||
					$store.state.params.name == '' ||
					$store.state.params.room_size == '' ||
					$store.state.params.room_available == null ||
					$store.state.params.room_count < 1 ||
					$store.state.params.room_count == null ||
					$store.state.params.price_monthly == '' ||
					($store.state.params.price_remark &&
						$store.state.params.price_remark.trim() &&
						$store.state.params.price_remark.length < 10) ||
					($store.state.params.description &&
						$store.state.params.description.trim() &&
						$store.state.params.description.length < 10) ||
					($store.state.params.remarks &&
						$store.state.params.remarks.trim() &&
						$store.state.params.remarks.length < 10)
			"
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="!isDataComplete || disabledButton"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	data() {
		return {
			disabledButton: true
		};
	},
	computed: {
		isEdit() {
			return this.$store.state.extras.is_edit;
		},
		priceMonthly() {
			return this.$store.state.params.price_monthly;
		},
		isDataComplete() {
			if (
				this.$store.state.params.building_year === 0 ||
				this.$store.state.params.building_year === null ||
				this.$store.state.params.name === '' ||
				this.$store.state.params.room_size === '' ||
				this.$store.state.params.room_available === null ||
				this.$store.state.params.room_available >
					this.$store.state.params.room_count ||
				this.$store.state.params.room_count < 1 ||
				this.$store.state.params.room_count === null ||
				this.$store.state.params.price_monthly === '' ||
				this.$store.state.params.room_count > 500 ||
				(this.$store.state.params.price_remark &&
					this.$store.state.params.price_remark.trim() &&
					this.$store.state.params.price_remark.length < 10) ||
				(this.$store.state.params.description &&
					this.$store.state.params.description.trim() &&
					this.$store.state.params.description.length < 10) ||
				(this.$store.state.params.remarks &&
					this.$store.state.params.remarks.trim() &&
					this.$store.state.params.remarks.length < 10)
			) {
				return false;
			} else {
				return true;
			}
		}
	},
	watch: {
		priceMonthly(val) {
			if (val === '') {
				this.disabledButton = true;
			} else {
				this.disabledButton = false;
			}
		}
	},
	mounted() {
		this.disabledButton = this.priceMonthly === '';
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
</style>
