<template>
	<section
		class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2
    col-xs-12 section-container"
	>
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="
				propertyType == 'Kost'
					? 'Input Data Pemilik / Pengelola'
					: 'Input Data Pemilik / Pengelola / Agen'
			"
		>
		</section-title>

		<div class="col-md-12 col-xs-12">
			<field-owner-name :label="'Nama'" :placeholder="'Tulis nama Anda'">
			</field-owner-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-owner-email :label="'Email'" :placeholder="'Tulis email Anda'">
			</field-owner-email>
		</div>

		<div v-if="userKey === 'false'" class="col-md-12 col-xs-12">
			<field-password
				:label="['Password', 'Konfirmasi password']"
				:placeholder="['Buat password akun Anda', 'Ulangi password Anda']"
			></field-password>
		</div>

		<div v-if="propertyType == 'Kost'" class="col-md-12 col-xs-12">
			<div class="form-group">
				<div class="checkbox checkbox-success checkbox-inline price-checkbox">
					<input id="checkPriceMonthly" v-model="checkTerm" type="checkbox" />

					<label for="checkPriceMonthly">
						Dengan menampilkan kost Anda di Mamikos, Anda telah menyatakan
						setuju dengan
						<a href="/privacy" target="_blank">kebijakan privasi</a>
						yang berlaku di Mamikos dan setuju menerima review tentang kost Anda
						dari pengguna Mamikos.
					</label>
				</div>
			</div>
		</div>

		<div v-if="userKey === 'false'">
			<section-alert
				v-if="propertyType == 'Kost'"
				v-show="ownerName == '' || userPassword == '' || checkTerm == false"
				:grid="'col-md-12 col-xs-12'"
				:text="
					`Anda belum bisa submit data apabila
                isian wajib Anda belum lengkap`
				"
			></section-alert>

			<section-alert
				v-else
				v-show="ownerName == '' || userPassword == ''"
				:grid="'col-md-12 col-xs-12'"
				:text="
					`Anda belum bisa submit data apabila
                isian wajib Anda belum lengkap`
				"
			></section-alert>
		</div>
		<div v-if="userKey === 'true'">
			<section-alert
				v-if="propertyType == 'Kost'"
				v-show="ownerName == '' || checkTerm == false"
				:grid="'col-md-12 col-xs-12'"
				:text="
					`Anda belum bisa submit data apabila
                isian wajib Anda belum lengkap`
				"
			></section-alert>

			<section-alert
				v-else
				v-show="ownerName == ''"
				:grid="'col-md-12 col-xs-12'"
				:text="
					`Anda belum bisa submit data apabila
                isian wajib Anda belum lengkap`
				"
			></section-alert>
		</div>

		<template v-if="!isLoadingData">
			<div
				v-if="userKey === 'false'"
				class="col-md-12 col-xs-12 input-footer-btn"
			>
				<button
					v-if="!showBbkInterception"
					type="button"
					class="btn btn-kost  btn-mamiorange"
					@click="previousSection(stateSection)"
					v-text="'Kembali'"
				></button>

				<button
					v-if="propertyType == 'Kost'"
					type="button"
					class="btn btn-kost  btn-mamiorange"
					:disabled="
						ownerName !== '' && userPassword !== '' && checkTerm == true
							? false
							: true
					"
					@click="submitInputData(stateParams)"
				>
					{{ showBbkInterception ? 'Lanjutkan' : 'Submit Data Kost' }}
				</button>

				<button
					v-else
					type="button"
					class="btn btn-kost  btn-mamiorange"
					:disabled="ownerName !== '' && userPassword !== '' ? false : true"
					@click="submitInputData(stateParams)"
				>
					Submit Data Apartemen
				</button>
			</div>
			<div
				v-if="userKey === 'true'"
				class="col-md-12 col-xs-12 input-footer-btn"
			>
				<button
					v-if="!showBbkInterception"
					type="button"
					class="btn btn-kost  btn-mamiorange"
					@click="previousSection(stateSection)"
					v-text="'Kembali'"
				></button>

				<button
					v-if="propertyType == 'Kost'"
					type="button"
					class="btn btn-kost  btn-mamiorange"
					:disabled="ownerName !== '' && checkTerm == true ? false : true"
					@click="submitInputData(stateParams)"
				>
					{{ showBbkInterception ? 'Lanjutkan' : 'Submit Data Kost' }}
				</button>

				<button
					v-else
					type="button"
					class="btn btn-kost  btn-mamiorange"
					:disabled="ownerName !== '' ? false : true"
					@click="submitInputData(stateParams)"
				>
					Submit Data Apartemen
				</button>
			</div>
		</template>

		<mami-loading></mami-loading>

		<modal-input-success
			:message="message.success"
			:survey="survey"
			:property="postUrl"
			:is-room-allotment-intercept="isRoomAllotmentModalIntercept"
		>
		</modal-input-success>
		<modal-input-failed :messages="message.failed"> </modal-input-failed>
		<!-- create new success modal in order to make it simple, because the old modal has multiple cases.  -->
		<modal
			effect="fade"
			:value="showSuccessModal"
			:backdrop="false"
			:small="true"
		>
			<div class="success-modal">
				<img
					src="/assets/booking_sedang_diproses.svg"
					class="success-modal__image"
				/>
				<h2 class="success-modal__title">Permintaan Aktivasi Dikirimkan</h2>
				<p class="success-modal__description">
					Data berhasil dikirim dan akan diverifikasi admin dalam 2x24 jam.
					Mohon menunggu, ya.
				</p>

				<a href="/ownerpage/kos" class="btn btn-mamigreen">
					Ke Properti Saya
				</a>
			</div>
		</modal>
	</section>
</template>

<script>
import { modal } from 'vue-strap';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import mixinMoengageInputProperti from 'Js/@mixins/MixinMoengageInputProperti';

export default {
	components: { modal },
	mixins: [mixinScrollTop, mixinMoengageInputProperti],
	data() {
		return {
			postUrl: '',
			message: {
				success: '',
				failed: []
			},
			survey: true,
			checkTerm: false,
			isRoomAllotmentModalIntercept: false,
			showBbkInterception: false,
			showSuccessModal: false,
			isLoadingData: true,
			currentPosition: 'Create Kos', // for redirection_source tracker in pms,
			urlIklanSaya: window.location.origin + '/ownerpage/kos'
		};
	},
	computed: {
		propertyType() {
			return this.$store.state.extras.property_type;
		},
		ownerName() {
			return this.$store.state.params.owner_name;
		},
		userKey() {
			return this.$store.state.extras.user_key;
		},
		userPassword() {
			return this.$store.state.params.password;
		},
		stateSection() {
			return this.$store.state.section;
		},
		stateParams() {
			return this.$store.state.params;
		}
	},
	created() {
		if (this.propertyType === 'Kost') {
			this.postUrl = 'stories';
			this.isRoomAllotmentModalIntercept = true;
		} else if (this.propertyType === 'Apartment') {
			this.postUrl = 'apartment';
			this.$store.commit('setPositionForm', '1');
		}

		// get bbk kos status
		this.getBbkKosStatus();
	},

	methods: {
		getBbkKosStatus() {
			if (this.propertyType === 'Kost') {
				this.isLoadingData = true;
				axios.get('/owner/bbk/status').then(res => {
					this.isLoadingData = false;
					if (!res.data.status) return;
					const { approve, other, waiting, reject } = res.data.bbk_status;
					if (
						(other > 0 && approve === 0) || // story 2
						(!this.$store.state.membership.is_mamipay_user &&
							other + approve + waiting === 0) || // story 1
						(waiting > 0 && approve + other === 0) || // story 1.1
						(approve > 0 && (other > 0 || reject > 0)) // story 3
					) {
						this.showBbkInterception = true;
					}
				});
			} else {
				this.isLoadingData = false;
			}
		},
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		submitInputData(params) {
			if (this.propertyType === 'Kost') {
				swal({
					allowOutsideClick: false,
					confirmButtonColor: '#1BAA56',
					width: '200px',
					onOpen() {
						swal.showLoading();
					}
				});
			} else {
				$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });
			}

			axios
				.post('/' + this.postUrl + '/input', params)
				.then(response => {
					if (this.propertyType === 'Kost') {
						// swal.hideLoading();
						swal.close();
					} else {
						$('#mamiLoading').modal('hide');
					}

					if (response.data.status) {
						this.kosId = response.data.data.room._id;
						this.message.success = response.data.data.dialog_message;
						if (Cookies.get('surveyUxInput')) {
							this.survey = false;
						}

						if (this.propertyType === 'Kost') {
							this.$store.commit('setIdKos', this.kosId);
							$(document).on(
								'shown.bs.modal',
								'#modalInputSuccess',
								function() {
									window.onbeforeunload = event => {
										event.returnValue = `Are you sure you want to leave?`;
									};
								}
							);

							// always show success modal when bbk interception isn't showed
							!this.showBbkInterception && (this.showSuccessModal = true);

							// old modal will be commented for a while till autobbk is finished
							// $('#modalInputSuccess').modal({
							// 	backdrop: 'static',
							// 	keyboard: false
							// });
						} else {
							$('#modalInputSuccess').modal({
								backdrop: 'static',
								keyboard: false
							});
							$('#modalInputSuccess').on('hide.bs.modal', e => {
								window.open('/ownerpage', '_self');
							});
						}

						this.moengageInputPropertiEvent(
							this.propertyType,
							'new data',
							params
						);

						// show bbk interception for owner that isn't mamipay user or they has non-bbk kos
						if (this.propertyType === 'Kost') {
							/* eslint-disable camelcase */
							const {
								room: {
									room_title,
									available_room,
									photo_url: { small }
								}
							} = response.data.data;
							this.showBbkInterception &&
								window.location.replace(
									`${oxWebUrl}${
										this.$store.state.membership &&
										this.$store.state.membership.is_mamipay_user
											? '/kos/booking/activation'
											: '/kos/booking/register'
									}?autobbk=true&previous-page=${
										this.currentPosition
									}&redirect_url=${
										this.urlIklanSaya
									}&kos_name=${room_title}&room_count=${available_room}&image=${small}`
								);
							/* eslint-enable */
						}

						// unuse this temporarily for experiment
						// showMoengageOptin(
						// 	'Terima notifikasi tepat setelah iklan Anda disetujui. Pilih OKE'
						// );
					} else {
						this.message.failed = response.data.messages;
						if (this.propertyType === 'Kost') {
							swal({
								title: 'Input Gagal',
								text:
									'Cek koneksi internet dan isian Anda kemudian silakan coba lagi.',
								type: 'error',
								confirmButtonColor: '#1BAA56',
								onClose() {
									window.open('/ownerpage', '_self');
								}
							});
						} else {
							$('#modalInputFailed').modal();
						}
					}
				})
				.catch(error => {
					if (this.propertyType === 'Kost') {
						swal.hideLoading();
					} else {
						$('#mamiLoading').modal('hide');
					}
					alert('Terjadi galat. Silakan coba lagi.');
					this.$store.commit('changeSection', this.$store.state.section - 1);
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 20px;
}
.btn {
	width: auto;
}
.btn-submit {
	margin-left: 10px;
}
.success-modal {
	&__image {
		display: block;
		margin: auto auto 30px;
	}

	&__title {
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #242424;
		text-align: center;
	}

	&__description {
		margin-bottom: 33px;
		font-size: 16px;
		line-height: 24px;
		color: #484848;
		text-align: center;
	}

	.btn-mamigreen {
		width: 100%;
		padding: 11px;
		font-size: 16px;
		line-height: 24px;
	}
}
</style>
<style lang="scss">
.section-container {
	.modal-header,
	.modal-footer {
		display: none;
	}
	@media (min-width: 768px) {
		.modal-sm {
			width: 444px;
		}
	}
}
</style>
