<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title :grid="'col-md-12 col-xs-12'" :text="'Input Data Lokasi'">
		</section-title>

		<label for="propertyMap" class="col-md-12 col-xs-12"
			>Peta lokasi kost
			<span class="text-danger">*wajib diisi</span>
		</label>

		<field-map
			:grid="'col-md-12 col-xs-12'"
			:pac-id="'propertyMap'"
			:marker-width="50"
			:marker-height="50"
		>
		</field-map>

		<div class="col-md-12 col-xs-12 address-container">
			<field-address
				:label="'Alamat lengkap kost'"
				:placeholder="'Tulis alamat lengkap kost'"
			>
			</field-address>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				`Anda belum bisa melanjutkan apabila
						isian wajib Anda belum lengkap`
			"
			v-show="
				$store.state.params.city == '' ||
					$store.state.params.subdistrict == '' ||
					$store.state.params.address == '' ||
					$store.state.params.address.length < 10
			"
		>
		</section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<a
				role="button"
				class="btn btn-kost  btn-mamiorange"
				:href="cancelLink"
				v-text="'Batal'"
			></a>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.city !== '' &&
					$store.state.params.subdistrict !== '' &&
					$store.state.params.address !== '' &&
					$store.state.params.address.length >= 10
						? false
						: true
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	},

	computed: {
		cancelLink() {
			return this.$store.state.isConsultantOnly
				? `/consultant-tools/property/${this.$store.state.property_id}?from=property_edit_page`
				: '/ownerpage/kos';
		}
	}
};
</script>

<style lang="scss" scoped>
.address-container {
	margin-top: 30px;
}
</style>
