<template>
	<section
		class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 section-container"
	>
		<section-title
			:grid="'col-xs-12'"
			:text="
				propertyType == 'Kost'
					? 'Input Data Pemilik / Pengelola'
					: 'Input Data Pemilik / Pengelola / Agen'
			"
		></section-title>

		<div class="col-xs-12">
			<field-owner-name
				:label="'Nama'"
				:placeholder="'Tulis nama Anda'"
			></field-owner-name>
		</div>

		<div class="col-xs-12">
			<field-owner-email
				:label="'Email'"
				:placeholder="'Tulis email Anda'"
			></field-owner-email>
		</div>

		<div class="col-xs-12">
			<field-owner-phone
				:label="'Nomor pemilik kost'"
				:placeholder="'Tuliskan nomor handphone'"
			></field-owner-phone>
		</div>

		<div>
			<section-alert
				:grid="'col-xs-12'"
				:text="
					'Anda belum bisa submit data apabila isian wajib Anda belum lengkap'
				"
				v-show="
					$store.state.params.owner_name == '' ||
						$store.state.params.owner_phone == ''
				"
			></section-alert>
		</div>

		<div class="col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.owner_name == '' ||
					$store.state.params.owner_phone == ''
						? true
						: false
				"
				@click="submitInputData($store.state.params)"
				v-text="
					propertyType == 'Kost' ? 'Submit Data Kost' : 'Submit Data Apartemen'
				"
			></button>
		</div>

		<mami-loading></mami-loading>
		<modal-input-success
			:message="message.success"
			:isRoomAllotmentIntercept="isRoomAllotmentModalIntercept"
		></modal-input-success>
		<modal-input-failed :messages="message.failed"></modal-input-failed>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinMoengageInputProperti from 'Js/@mixins/MixinMoengageInputProperti';

export default {
	mixins: [mixinScrollTop, mixinGetQueryString, mixinMoengageInputProperti],
	data() {
		return {
			message: {
				success: '',
				failed: []
			},
			isRoomAllotmentModalIntercept: false
		};
	},
	created() {
		if (this.propertyType == 'Kost') {
			this.postUrl = 'stories';
			this.isRoomAllotmentModalIntercept = true;
		} else if (this.propertyType == 'Apartment') {
			this.postUrl = 'apartment';
		}
	},
	computed: {
		propertyType() {
			return this.$store.state.extras.property_type;
		},
		propertyId() {
			return this.$store.state.property_id;
		}
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		submitInputData(params) {
			$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });

			if (this.getQueryString('for') == 'new_type') {
				this.$store.state.params.input_as = 'Pemilik Kos';
				axios
					.post('/' + this.postUrl + '/input', params)
					.then(response => {
						$('#mamiLoading').modal('hide');
						if (response.data.status == true) {
							this.message.success = response.data.data.dialog_message;
							$(document).on('shown.bs.modal','#modalInputSuccess', function () {
								window.onbeforeunload = (event) => {
									event.returnValue = `Are you sure you want to leave?`;
								};
							});
							
							$('#modalInputSuccess').modal({
								backdrop: 'static',
								keyboard: false
							});

							this.moengageInputPropertiEvent(
								this.propertyType,
								'new data',
								params
							);

							// unuse this temporarily for experiment
							// showMoengageOptin(
							// 	'Terima notifikasi tepat setelah update data iklan Anda disetujui. Pilih OKE'
							// );
						} else {
							this.message.failed = response.data.messages;
							$('#modalInputFailed').modal();
						}
					})
					.catch(error => {
						$('#mamiLoading').modal('hide');
						alert('Terjadi galat. Silakan coba lagi.');
						this.$store.commit('changeSection', this.$store.state.section - 1);
						bugsnagClient.notify(error);
					});
			} else {
				axios
					.post('/owner/updateroom/' + this.propertyId, params)
					.then(response => {
						$('#mamiLoading').modal('hide');
						if (response.data.status == true) {
							this.message.success = response.data.data.dialog_message;

							$(document).on('shown.bs.modal','#modalInputSuccess', function () {
								window.onbeforeunload = (event) => {
									event.returnValue = `Are you sure you want to leave?`;
								};
							});

							$('#modalInputSuccess').modal({
								backdrop: 'static',
								keyboard: false
							});

							this.moengageInputPropertiEvent(
								this.propertyType,
								'edit data',
								params
							);

							// unuse this temporarily for experiment
							// showMoengageOptin(
							// 	'Terima notifikasi tepat setelah update data iklan Anda disetujui. Pilih OKE'
							// );
						} else {
							this.message.failed = response.data.messages;
							$('#modalInputFailed').modal();
						}
					})
					.catch(error => {
						$('#mamiLoading').modal('hide');
						alert('Terjadi galat. Silakan coba lagi.');
						this.$store.commit('changeSection', this.$store.state.section - 1);
						bugsnagClient.notify(error);
					});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 20px;
}
.btn {
	width: auto;
}
.btn-submit {
	margin-left: 10px;
}
</style>
