<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-xs-12'"
			:text="'Input Fasilitas Kost'"
			v-if="inputAs != 'Agen'"
		></section-title>

		<div class="col-xs-12" v-if="facTagsLoading == true">
			<span>Sedang memuat fasilitas... </span>
			<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
		</div>

		<div class="col-md-12 col-xs-12" v-if="facTagsLoading == false">
			<field-min-payment
				:label="'Minimal Pembayaran'"
				:tags="facTags.minPayment"
			></field-min-payment>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-facility-room
				:label="'Fasilitas kamar'"
				:tags="facTags.room"
			></field-facility-room>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-facility-bath
				:label="'Fasilitas kamar mandi'"
				:tags="facTags.bath"
			></field-facility-bath>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-facility-share
				:label="'Fasilitas umum kost'"
				:tags="facTags.share"
			></field-facility-share>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-facility-parking
				:label="'Parkir'"
				:tags="facTags.parking"
			></field-facility-parking>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-facility-near
				:label="'Akses lingkungan'"
				:tags="facTags.near"
			></field-facility-near>
		</div>

		<div class="col-xs-12 has-margin-bottom" v-if="facTagsLoading == false">
			<field-photos
				:label="'Foto-foto Kost'"
				:tags="facTags.photoExample"
			></field-photos>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="'Fasilitas kamar mandi kost wajib diisi'"
			v-show="
				$store.state.params.fac_bath.length == 0 && facTagsLoading == false
			"
			v-if="inputAs != 'Agen'"
		></section-alert>
		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="'Fasilitas kamar mandi dan foto kost wajib wajib diisi'"
			v-show="
				($store.state.params.fac_bath.length == 0 ||
					$store.state.params.photos.cover.length == 0 ||
					$store.state.params.photos.main.length == 0 ||
					$store.state.params.photos.bedroom.length == 0 ||
					$store.state.params.photos.bath.length == 0) &&
					facTagsLoading == false
			"
			v-else-if="inputAs == 'Agen'"
		></section-alert>

		<div class="col-xs-12 input-footer-btn" v-if="facTagsLoading == false">
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="isButtonNextOrSubmitDisabled"
				@click="handleNextOrSubmit($store.state.section)"
				v-text="
					$store.state.isConsultantOnly ? 'Submit Data Kos' : 'Selanjutnya'
				"
				v-if="inputAs != 'Agen'"
			></button>
			<button
				type="button"
				class="btn btn-kost  btn-mamiorange"
				:disabled="
					$store.state.params.fac_bath.length == 0 ||
					$store.state.params.photos.cover.length == 0 ||
					$store.state.params.photos.main.length == 0 ||
					$store.state.params.photos.bedroom.length == 0 ||
					$store.state.params.photos.bath.length == 0
						? true
						: false
				"
				@click="submitInputData($store.state.params)"
				v-text="'Submit Data Kost'"
				v-else-if="inputAs == 'Agen'"
			></button>
		</div>

		<mami-loading ref="mamiLoading"></mami-loading>
		<modal-input-success :message="message.success"></modal-input-success>
		<modal-input-failed :messages="message.failed"></modal-input-failed>
	</section>
</template>

<script>
import * as storage from 'Js/@utils/storage';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';

export default {
	mixins: [mixinScrollTop],
	data() {
		return {
			facTags: {
				all: [],
				minPayment: this.$store.state.extras.fac_tags.min_payment,
				room: this.$store.state.extras.fac_tags.room,
				bath: this.$store.state.extras.fac_tags.bath,
				parking: this.$store.state.extras.fac_tags.parking,
				share: this.$store.state.extras.fac_tags.share,
				near: this.$store.state.extras.fac_tags.near,
				photoExample: this.$store.state.extras.fac_tags.photo_example
			},
			facTagsLoading: false,
			message: {
				success: '',
				failed: []
			},
			errorImage: {
				photoOther: false,
				photoCover: false,
				photoMain: false,
				photoBedroom: false,
				photoBath: false
			}
		};
	},
	computed: {
		facTagsLoaded() {
			return this.facTags.minPayment.length == 0 &&
				this.facTags.room.length == 0 &&
				this.facTags.bath.length == 0 &&
				this.facTags.parking.length == 0 &&
				this.facTags.share.length == 0 &&
				this.facTags.near.length == 0 &&
				this.facTags.photoExample == ''
				? false
				: true;
		},
		isButtonNextOrSubmitDisabled() {
			const {
				params: { fac_bath, photos },
				extras: { errorMessage }
			} = this.$store.state;
			return (
				!fac_bath.length ||
				!photos.cover.length ||
				!photos.main.length ||
				!photos.bedroom.length ||
				!photos.bath.length ||
				errorMessage.photoCover ||
				errorMessage.photoMain ||
				errorMessage.photoBedroom ||
				errorMessage.photoBath
			);
		},
		propertyId() {
			return this.$store.state.property_id;
		},
		inputAs() {
			return (this.$store.state.params.input_as =
				this.$store.state.params.input_as != undefined
					? this.$store.state.params.input_as
					: 'Other');
		}
	},
	created() {
		this.initDataFacilities();
	},
	methods: {
		initDataFacilities() {
			const URL = this.$store.state.isConsultantOnly
				? '/property/facility-list'
				: '/tags?categorized=true';
			if (this.facTagsLoaded == false) {
				this.facTagsLoading = true;
				axios
					.get(URL)
					.then(response => {
						this.facTagsLoading = false;
						this.facTags.all = response.data.tags;
						this.facTags.all.forEach((item, index) => {
							if (item.type == 'keyword') {
								this.facTags.minPayment = item.tags;
							}
							if (item.type == 'fac_room') {
								this.facTags.room = item.tags;
							}
							if (item.type == 'fac_bath') {
								this.facTags.bath = item.tags;
							}
							if (item.type == 'fac_park') {
								this.facTags.parking = item.tags;
							}
							if (item.type == 'fac_share') {
								this.facTags.share = item.tags;
							}
							if (item.type == 'fac_near') {
								this.facTags.near = item.tags;
							}
							this.facTags.photoExample =
								'/uploads/cache/data/style/2017-03-14/dp7jjH2u-360x480.jpg';
							this.$store.commit('setExtrasFacTags', this.facTags);
						});
					})
					.catch(error => {
						alert('Terjadi galat. Silakan coba lagi.');
						this.$store.commit('changeSection', this.$store.state.section - 1);
						bugsnagClient.notify(error);
					});
			}
		},
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		handleNextOrSubmit(currentSection) {
			if (this.$store.state.isConsultantOnly) {
				this.submitDataKos();
			} else {
				this.$store.commit('changeSection', currentSection + 1);
			}
		},
		async submitDataKos() {
			this.showLoading();
			try {
				const response = await axios.post(
					`/property/update/${this.propertyId}`,
					this.$store.state.params
				);
				this.hideLoading();
				if (response.data.status) {
					storage.local.setItem('EDIT_PROPERTY', true);
					window.location.replace(
						`${window.location.origin}/consultant-tools/property/${this.propertyId}?from=property_edit_page`
					);
				}
			} catch (error) {
				this.hideLoading();
				alert('Terjadi galat. Silakan coba lagi.');
				this.$store.commit('changeSection', this.$store.state.section - 1);
				bugsnagClient.notify(error);
			}
		},
		showLoading() {
			this.$refs.mamiLoading.openModal();
		},
		hideLoading() {
			this.$refs.mamiLoading.closeModal();
		},
		submitInputData(params) {
			this.showLoading();

			axios
				.post('/stories/input', params)
				.then(response => {
					this.hideLoading();
					if (response.data.status == true) {
						if (this.inputAs == 'Anak Kos') {
							this.message.promo = response.data.data.dialog_message;
							this.roomId = response.data.data.room.room_id;
							$('#modalInputPromo').modal({
								backdrop: 'static',
								keyboard: false
							});
						} else {
							this.message.success =
								'Terima kasih. Data kost Anda akan segera diverifikasi Tim Mamikos.';
							$('#modalInputSuccess').modal({
								backdrop: 'static',
								keyboard: false
							});
							$('#modalInputSuccess').on('hide.bs.modal', e => {
								location.reload();
							});
						}
					} else {
						this.message.failed = response.data.messages;
						$('#modalInputFailed').modal();
					}
				})
				.catch(error => {
					this.hideLoading();
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style>
.fac-checkbox {
	margin-right: 0 !important;
	height: 36px;
}
@media (max-width: 1199px) and (min-width: 992px) {
	.fac-checkbox {
		height: 54px;
	}
}
</style>

<style scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
</style>
