<template>
	<div class="form-group">
		<label>{{ label }} <span class="text-danger">*harus landscape</span></label>
		<p class="text-danger">Contoh foto landscape:</p>
		<div
			class="col-sm-4 col-xs-12 stretch photo-example"
			@click="openExamplePhoto(tags)"
			v-lazy:background-image="{
				src: tags
			}"
		></div>
		<div class="clearfix"></div>
		<div
			class="photos-toggle"
			v-if="$store.state.params.input_as == 'Anak Kos'"
		>
			<button
				type="button"
				class="btn btn-mamigreen"
				@click="addPhotos(true)"
				v-if="!showAddPhotos"
			>
				Tambah Foto Sekarang
			</button>
			<button
				type="button"
				class="btn btn-mamigreen"
				@click="addPhotos(false)"
				v-if="showAddPhotos"
			>
				Tidak Jadi Tambah Foto
			</button>
		</div>
		<field-photos-upload
			:grid="'col-sm-12 col-xs-12'"
			:photos-before="photosBefore"
			:post-url="'/garuda/media'"
			v-show="showAddPhotos"
		></field-photos-upload>
	</div>
</template>

<script>
export default {
	data() {
		return {
			photosBefore: this.$store.state.extras.photosBefore,
			showAddPhotos: false
		};
	},
	created() {
		if (this.$store.state.params.input_as == 'Anak Kos') {
			if (
				this.$store.state.params.photos.cover !== null ||
				this.$store.state.params.photos.bedroom !== null ||
				this.$store.state.params.photos.bath !== null
			) {
				this.showAddPhotos = true;
			} else {
				this.showAddPhotos = false;
			}
		} else {
			this.showAddPhotos = true;
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: String,
			required: true
		}
	},
	methods: {
		openExamplePhoto(url) {
			window.open(url, '_blank');
		},
		addPhotos() {
			this.showAddPhotos = !this.showAddPhotos;
		}
	}
};
</script>

<style scoped>
.photo-example {
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}
.photos-toggle {
	padding-top: 15px;
	padding-bottom: 15px;
}
</style>
