<template>
	<div class="form-group">
		<label>{{ label }}</label>
		<div class="distance-label">
			<div
				class="checkbox checkbox-success checkbox-inline fac-checkbox col-sm-3 col-xs-12"
				v-for="(tag, index) in orderBy(tags, 'name')"
				:key="index"
			>
				<input
					type="checkbox"
					:id="'facNear' + index"
					:value="tag.tag_id"
					v-model="facNear"
				/>
				<label :for="'facNear' + index"> {{ tag.name }} </label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			facNear: this.$store.state.extras.fac_near
		};
	},
	created() {
		this.$store.commit('setParamsFacProperty', true);
	},
	watch: {
		facNear(val) {
			this.$store.commit('setExtrasFacNear', val);
			this.$store.commit('setParamsFacProperty', true);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}
</style>
