<template>
	<div class="form-group">
		<label for="minPayment">{{ label }}</label>
		<div class="distance-label">
			<select
				id="minPayment"
				class="form-control"
				:name="label"
				v-model="minPayment"
			>
				<option :value="null">Tidak ada ketentuan</option>
				<option v-for="(tag, index) in tags" :key="index" :value="tag.tag_id">{{
					tag.name
				}}</option>
			</select>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			minPayment: this.$store.state.params.concern_ids
		};
	},
	created() {
		if (this.minPayment.length == 0) {
			this.minPayment = null;
		} else {
			this.minPayment = this.minPayment[0];
		}
	},
	watch: {
		minPayment(val) {
			let minPaymentFinal = [];
			if (val !== null) {
				minPaymentFinal.push(val);
			}
			this.$store.commit('setParamsConcernIds', minPaymentFinal);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
.form-control {
	width: auto;
}
</style>
