<template>
	<div class="form-group">
		<label
			>{{ label }} <span class="text-danger">*minimal pilih satu </span></label
		>
		<div class="distance-label">
			<div
				class="checkbox checkbox-success checkbox-inline fac-checkbox col-sm-3 col-xs-12"
				v-for="(tag, index) in orderBy(tags, 'name')"
				:key="index"
			>
				<input
					type="checkbox"
					:id="'facBath' + index"
					:value="tag.tag_id"
					v-model="facBath"
				/>
				<label :for="'facBath' + index"> {{ tag.name }} </label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			facBath: this.$store.state.params.fac_bath
		};
	},
	watch: {
		facBath(val) {
			this.$store.commit('setParamsFacBath', val);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}
</style>
