h3 {
	&.section-title {
		color: #9c9c9c;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 4rem;

		&:after {
			border-bottom: none !important;
		}
	}
}

%label-form {
	color: #707070;
	font-weight: 600;
}

label {
	@extend %label-form;
}

.form-group {
	margin-bottom: 3rem;

	label {
		@extend %label-form;
	}

	&.disabled {
		label {
			color: #dddddd;
		}
		input {
			color: #dddddd;
			background-color: #fff;
			border: 1px solid #dddddd;
			&[type=number] {
				-moz-appearance:textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}
}

input {
	&.form-control:not(.input-search) {
		height: 3em;
		font-size: 1em !important;
		margin: 1rem 0rem;
		box-shadow: none !important;
		border-radius: 3px;
	}
}

.wrapper-photo-kost {
	display: block;

	@media (max-width: 515px) {
		flex-wrap: wrap;
	}
}

.dropzone-custom {
	padding: 0;
	margin-bottom: 3rem !important;

	@media (max-width: 515px) {
		margin-bottom: 0rem !important;
	}

	p {
		&.dropzone-title {
			color: #707070;
			font-weight: 600;
			height: 29px;

			&.center-title {
				text-align: center;
				margin-top: 1rem;
			}
		}
	}

	.vue-dropzone {
		background-color: #f3f3f3;
		border-radius: 5px;

		&:hover {
			background-color: #e6e6e6 !important;
		}
	}

	&.photo-kost {
		@media (max-width: 515px) {
			width: 100%;
			margin-top: 1rem;
		}
	}
}

.photo-example {
	height: 246px !important;
	border-radius: 8px !important;
	margin-bottom: 10px !important;
	cursor: pointer !important;
	background-size: cover;
	background-position: center;
	width: 100%;
}

%btn-kost {
	width: 163.6px;
	height: 56.1px;
	border-radius: 3px;
	border: 0;
}

a {
	&.btn-kost {
		@extend %btn-kost;
		line-height: 3.1;
	}
}

.btn-kost {
	@extend %btn-kost;
}

.btn-primary {
	color: #fff;
}

.btn-green {
	background-color: #22c264;

	&:hover {
		background-color: #1baa56;
	}

	&:focus {
		background-color: #1baa56;
	}

	&:disabled {
		background-color: #acdfc1;
	}
}

.btn-orange {
	background-color: #f95516;

	&:hover {
		background-color: #e94607 !important;
	}

	&:focus {
		background-color: #c13600 !important;
	}

	&:disabled {
		background-color: #e4b09b;
	}
}

/* ------------------------------------- */

.photo-example {
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}

.distance-label {
	margin-top: 1rem;

	> textarea {
		margin-bottom: 1rem;
	}
}

.mami-wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;

	&.gender-width,
	&.form-group-radio {
		@media (max-width: 375px) {
			justify-content: start;
		}
	}

	&.mami-wrap-checkbox {
		@media (max-width: 425px) {
			justify-content: space-between;
		}
	}
}

.form-group-radio {
	> .radio-inline {
		@media (max-width: 312px) {
			padding-left: 0px !important;
			margin-left: 0.5rem;
		}

		&:first-child {
			padding-left: 0.5rem;
		}

		&:last-child {
			@media (max-width: 425px) {
				padding-left: 0px;
				margin-left: 0.5rem;
			}
		}
	}
}

.gender-width {
	max-width: 490px;
	margin-top: 1rem;

	> .radio-inline {
		@media (max-width: 312px) {
			padding-left: 0px !important;
			margin-left: 0.5rem;
		}

		&:first-child {
			padding-left: 0.5rem;
		}

		&:nth-child(even) {
			@media (max-width: 484px) {
				margin-left: 1rem;
				padding-left: 0.5rem;
			}
			@media (max-width: 413px) {
				margin-top: 0;
				margin-left: 10px;
				padding-left: 20px;
			}
			@media (max-width: 320px) {
				margin-left: 0.5rem;
			}
		}

		&:last-child {
			@media (max-width: 484px) {
				margin-left: 1rem;
				padding-left: 0.5rem;
			}
			@media (max-width: 413px) {
				padding-left: 0px;
				margin-left: 0.5rem;
			}
		}
	}
}

.radio-mami {
	margin-bottom: 10px;

	> label {
		width: 138.1px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px #cbcbcb;
		background-color: #ffffff;
		-webkit-appearance: none;
		z-index: -1;
		cursor: pointer;
		color: #cbcbcb;
		text-align: center;
		font-weight: 500;
		line-height: 33px;
	}

	&.radio-txt > label {
		width: 138.1px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px #cbcbcb;
		background-color: #ffffff;
		-webkit-appearance: none;
		z-index: -1;
		cursor: pointer;
		color: #cbcbcb;
		text-align: center;
		font-weight: 500;
		font-size: 2em;
		line-height: 80px;
	}

	&.radio-lg {
		&.radio-txt > label {
			width: 138.1px;
			height: 36.7px;
			border-radius: 3px;
			border: solid 1px #cbcbcb;
			background-color: #ffffff;
			-webkit-appearance: none;
			z-index: -1;
			cursor: pointer;
			color: #cbcbcb;
			text-align: center;
			font-weight: 500;
			font-size: 2em;
			line-height: 80px;
		}

		> label {
			width: 98.9px !important;
			height: 90.7px !important;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;

			> img {
				width: 70.9px;
				height: 46.9px;
				margin-top: 11px;
			}
		}
	}
}

.checkbox-mami.checkbox-lg > label > img {
	width: 70.9px;
	height: 46.9px;
	margin-top: 11px;
}

.radio-mami.radio-lg > input[type='radio']:checked ~ label > img,
.checkbox-mami.checkbox-lg > input[type='checkbox']:checked ~ label > img {
	filter: invert(0%) sepia(84%) saturate(476%) hue-rotate(79deg) brightness(88%)
		contrast(77%);
}

.radio-mami > input[type='radio'] {
	position: relative;
	top: 6px;
	left: 23px;
	z-index: -1;
}

.radio-mami {
	> input[type='radio']:checked ~ label {
		width: 138.6px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px #2ecc71;
		background-color: #ebfff3;
		-webkit-appearance: none;
		z-index: -1;
		color: #2ecc71;
		font-weight: 500;
		text-align: center;
		line-height: 33px;
	}

	&.radio-lg {
		> input[type='radio']:checked ~ label {
			width: 98.9px !important;
			height: 90.7px !important;
			border-radius: 3px;
			border: solid 1px #2ecc71;
			background-color: #ebfff3;
			-webkit-appearance: none;
			z-index: -1;
			color: #2ecc71;
			font-weight: 500;
			text-align: center;
			line-height: 33px;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;
		}

		&.radio-txt {
			> input[type='radio']:checked ~ label {
				width: 98.9px !important;
				height: 90.7px !important;
				border-radius: 3px;
				border: solid 1px #2ecc71;
				background-color: #ebfff3;
				-webkit-appearance: none;
				z-index: -1;
				color: #2ecc71;
				font-weight: 500;
				text-align: center;
				font-size: 2em;
				line-height: 80px;
			}

			> input[type='radio']:checked ~ label:after {
				content: ' ';
				display: block;
				width: 12.8px;
				height: 12.8px;
				background-color: #2ecb71;
				background-image: url('/assets/icons/svg/ic_check.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 9px;
				border-radius: 100%;
				position: relative;
				right: -89px;
				top: -83px;
			}
		}

		> input[type='radio']:checked ~ label:after {
			content: ' ';
			display: block;
			width: 12.8px;
			height: 12.8px;
			background-color: #2ecb71;
			background-image: url('/assets/icons/svg/ic_check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 9px;
			border-radius: 100%;
			position: relative;
			right: -89px;
			top: -94px;
		}
	}

	> input[type='radio']:checked ~ label:after {
		content: ' ';
		display: block;
		width: 12.8px;
		height: 12.8px;
		background-color: #2ecb71;
		background-image: url('/assets/icons/svg/ic_check.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px;
		border-radius: 100%;
		position: relative;
		right: -129px;
		top: -37px;
	}
}

.checkbox-mami {
	> label {
		width: 138.1px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px #cbcbcb;
		background-color: #ffffff;
		-webkit-appearance: none;
		z-index: -1;
		cursor: pointer;
		color: #cbcbcb;
		text-align: center;
		font-weight: 500;
		line-height: 33px;
	}

	&.checkbox-lg > label {
		width: 98.9px !important;
		height: 90.7px !important;
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: 700;
	}

	> input[type='checkbox'] {
		position: relative;
		top: 5px;
		left: 25px;
		z-index: -1;
	}
}

.checkbox-inline {
	&.checkbox-mami {
		@media (max-width: 375px) {
			padding-left: 0.5rem !important;
			margin-left: 0;
		}

		@media (max-width: 425px) {
			padding-left: 0;
			margin-bottom: 0;
		}
	}

	&.checkbox-mami:first-child {
		margin-left: 10px;
	}

	&.checkbox-mami:nth-child(odd) {
		@media (max-width: 569px) {
			padding-left: 0.5rem;
			margin-left: 0;
		}
	}
}

.checkbox-mami {
	> input[type='checkbox']:checked ~ label {
		width: 138.6px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px #2ecc71;
		background-color: #ebfff3;
		-webkit-appearance: none;
		z-index: -1;
		color: #2ecc71;
		font-weight: 500;
		text-align: center;
		line-height: 33px;
	}

	&.checkbox-lg {
		> input[type='checkbox']:checked ~ label {
			width: 98.9px !important;
			height: 90.7px !important;
			border-radius: 3px;
			border: solid 1px #2ecc71;
			background-color: #ebfff3;
			-webkit-appearance: none;
			z-index: -1;
			color: #2ecc71;
			font-weight: 500;
			text-align: center;
			line-height: 33px;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;
		}

		> input[type='checkbox']:checked ~ label:after {
			content: ' ';
			display: block;
			width: 12.8px;
			height: 12.8px;
			background-color: #2ecb71;
			background-image: url('/assets/icons/svg/ic_check.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 9px;
			border-radius: 100%;
			position: relative;
			right: -89px;
			top: -94px;
		}
	}

	> input[type='checkbox']:checked ~ label:after {
		content: ' ';
		display: block;
		width: 12.8px;
		height: 12.8px;
		background-color: #2ecb71;
		background-image: url('/assets/icons/svg/ic_check.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px;
		border-radius: 100%;
		position: relative;
		right: -129px;
		top: -37px;
	}
}

//colors
$color_celeste_approx: #cbcbcb;
$white: #ffffff;
$color_emerald_approx: #2ecc71;
$color_aqua_spring_approx: #ebfff3;
//urls
$url_0: url(/assets/icons/svg/ic_check.svg);

.radio-mami {
	margin-bottom: 10px;

	> label {
		width: 138.1px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px $color_celeste_approx;
		background-color: $white;
		z-index: -1;
		cursor: pointer;
		color: $color_celeste_approx;
		text-align: center;
		font-weight: 500;
		line-height: 33px;
	}

	&.radio-lg {
		&.radio-txt {
			> label {
				width: 138.1px;
				height: 36.7px;
				border-radius: 3px;
				border: solid 1px $color_celeste_approx;
				background-color: $white;
				z-index: -1;
				cursor: pointer;
				color: $color_celeste_approx;
				text-align: center;
				font-weight: 500;
				font-size: 2em;
				line-height: 80px;
			}

			> input[type='radio']:checked ~ label {
				width: 98.9px !important;
				height: 90.7px !important;
				border-radius: 3px;
				border: solid 1px $color_emerald_approx;
				background-color: $color_aqua_spring_approx;
				z-index: -1;
				color: $color_emerald_approx;
				font-weight: 500;
				text-align: center;
				font-size: 2em;
				line-height: 80px;

				&:after {
					content: ' ';
					display: block;
					width: 12.8px;
					height: 12.8px;
					background-color: $color_emerald_approx;
					background-image: $url_0;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 9px;
					border-radius: 100%;
					position: relative;
					right: -89px;
					top: -83px;
				}
			}
		}

		> label {
			width: 98.9px !important;
			height: 90.7px !important;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;

			> img {
				width: 70.9px;
				height: 46.9px;
				margin-top: 11px;
			}
		}

		> input[type='radio']:checked ~ label {
			width: 98.9px !important;
			height: 90.7px !important;
			border-radius: 3px;
			border: solid 1px $color_emerald_approx;
			background-color: $color_aqua_spring_approx;
			z-index: -1;
			color: $color_emerald_approx;
			font-weight: 500;
			text-align: center;
			line-height: 33px;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 700;

			> img {
				filter: invert(0%) sepia(84%) saturate(476%) hue-rotate(79deg)
					brightness(88%) contrast(77%);
			}

			&:after {
				content: ' ';
				display: block;
				width: 12.8px;
				height: 12.8px;
				background-color: $color_emerald_approx;
				background-image: $url_0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 9px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
				position: relative;
				right: -89px;
				top: -94px;
			}
		}
	}

	> input[type='radio'] {
		position: relative;
		top: 5px;
		left: 25px;
		z-index: -1;

		&:checked ~ label {
			width: 138.6px;
			height: 36.7px;
			border-radius: 3px;
			border: solid 1px $color_emerald_approx;
			background-color: $color_aqua_spring_approx;
			z-index: -1;
			color: $color_emerald_approx;
			font-weight: 500;
			text-align: center;
			line-height: 33px;

			&:after {
				content: ' ';
				display: block;
				width: 12.8px;
				height: 12.8px;
				background-color: $color_emerald_approx;
				background-image: $url_0;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 9px;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 100%;
				position: relative;
				right: -129px;
				top: -37px;
			}
		}
	}

	&.radio-txt > label {
		width: 138.1px;
		height: 36.7px;
		border-radius: 3px;
		border: solid 1px $color_celeste_approx;
		background-color: $white;
		z-index: -1;
		cursor: pointer;
		color: $color_celeste_approx;
		text-align: center;
		font-weight: 500;
		font-size: 2em;
		line-height: 80px;
	}
}

.radio-inline {
}

.checkbox-mami.checkbox-lg {
	> label > img {
		width: 70.9px;
		height: 46.9px;
		margin-top: 11px;
	}

	> input[type='checkbox']:checked ~ label > img {
		filter: invert(0%) sepia(84%) saturate(476%) hue-rotate(79deg)
			brightness(88%) contrast(77%);
	}
}

textarea {
	&.form-control {
		box-shadow: none;

		&:focus {
			border-color: #27ab27;
			box-shadow: none;
		}
	}
}

.form-group {
	width: 100%;
}

select {
	&.form-control {
		width: 100% !important;
		height: 3em;
		box-shadow: none;

		&:focus {
			border-color: #27ab27;
			box-shadow: none;
		}
	}
}
