.panel-group .panel {
	width: 100%;
	height: auto;
	background-color: #fff;
	border: 0.5px solid #dbdbdb;
	border-radius: 3px;
	padding: 2rem 3rem;
	margin-bottom: 3rem;
}

.panel-primary > .panel-heading {
	color: #2e2d39;
	border: none;
	background-color: inherit;
	font-size: 1.143em;
	padding: 0;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #fff;
}

.input-date-custom {
	div {
		width: 100%;
		input {
			height: 60px;
			box-shadow: none;
			border: 0.5px solid #dbdbdb;
			border-radius: 3px;
			text-indent: 17px;
			width: 100%;
		}
	}
}

@import 'BillingManagementLabelCustom';
