.label-custom {
	padding: 0.5rem;
	font-size: 0.8em;

	&.label-primary {
		background-color: #3f8c5621;
		color: #3f8cff;
	}
	&.label-danger {
		background-color: #fff4f2;
		color: #9b292d;
	}
	&.label-success {
		background-color: #edf9f4;
		color: #016034;
	}
	&.label-warning {
		background-color: #e68d5621;
		color: #e68d3c;
	}

	&.label-default {
		background-color: #f6f6f6;
		color: #757575;
	}
}
