$color_gallery_approx: #f0f0f0;
$color_gunsmoke_approx: #838383;
$black: #000000;
$black_mine_shaft: #303030;
$mercury: #e5e5e5;
$color_green_haze_5_approx: rgba(27, 170, 86, 0.05);
$white: #fff;

.vgt-responsive {
	display: block;
	border-radius: 5px;
	overflow-x: unset;
}
.vgt-table {
	thead {
		border-bottom: 2px solid #e8e8e8;

		th {
			background: $white !important;
			color: $black_mine_shaft;
			font-weight: 600;
			border: none !important;
			height: 57px;
			vertical-align: inherit;
			padding: 0.75em 1.75em 0.75em 1.75em !important;
		}
	}

	tbody {
		td {
			border: none !important;
			height: 85px;
			color: $black;
			vertical-align: inherit;
			padding: 0.75em 1.75em 0.75em 1.75em !important;
		}
	}
	&.striped {
		&.empty-data tbody tr:nth-of-type(odd) {
			background: $mercury !important;
		}
		tbody tr {
			border-bottom: 1px solid #e8e8e8;
			&:nth-of-type(odd) {
				background: $white !important;
			}
			&:nth-of-type(even) {
				background: $white;
			}
		}
	}
}
