<template>
	<div class="container input-container">
		<navbar-custom
			:show-promotion="true"
			:navigations="navigations"
		></navbar-custom>
		<breadcrumb-pills
			v-if="$store.state.section !== 0"
			:contents="['Langkah 1', 'Langkah 2']"
			:grid="'col-md-6 col-xs-6'"
		></breadcrumb-pills>

		<keep-alive v-if="$store.state.section === 1">
			<step-first></step-first>
		</keep-alive>

		<keep-alive v-else-if="$store.state.section === 2">
			<data-owner></data-owner>
		</keep-alive>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			claim: this.$store.state.extras.claim,
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	},

	created() {
		this.$store.commit('changeSection', 1);
	}
};
</script>

<style lang="scss">
@import 'Sass/form/style.scss';

@media (max-width: 767px) {
	.wrapper {
		margin-top: 65px;
	}
	.new-label {
		right: auto;
	}
}
#navbarCustomize {
	.dropdown-toggle {
		font-weight: 400 !important;
	}
	.input-group-btn > .btn {
		height: 34px;
	}
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
</style>
