<template>
	<div class="form-group">
		<label
			>{{ label }} <span class="text-danger">*pilih salah satu</span></label
		>
		<div class="distance-label">
			<div class="col-xs-12 stretch" v-if="tags.length == 0">
				Memuat..
				<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
			</div>
			<div
				class="checkbox checkbox-success checkbox-inline fac-checkbox col-sm-3 col-xs-6"
				v-for="(tag, index) in tags"
				:key="index"
				v-else
			>
				<input
					type="checkbox"
					:id="'facUnit' + index"
					:value="tag.tag_id"
					v-model="facUnit"
				/>
				<label :for="'facUnit' + index"> {{ tag.name }} </label>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			facUnit: this.$store.state.params.fac_unit
		};
	},
	watch: {
		facUnit(val) {
			this.$store.commit('setParamsFacUnit', val);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}
</style>
