<template>
	<div class="form-group">
		<label for="inputPriceMonthly"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>
		<br />
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input
				type="checkbox"
				id="checkPriceMonthly"
				v-model="priceMonthly.checked"
				checked
			/>
			<label for="checkPriceMonthly"> Perbulan </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input
				type="checkbox"
				id="checkPriceDaily"
				v-model="priceDaily.checked"
			/>
			<label for="checkPriceDaily"> Perhari </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input
				type="checkbox"
				id="checkPriceWeekly"
				v-model="priceWeekly.checked"
			/>
			<label for="checkPriceWeekly"> Perminggu </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input
				type="checkbox"
				id="checkPriceYearly"
				v-model="priceYearly.checked"
			/>
			<label for="checkPriceYearly"> Pertahun </label>
		</div>

		<div class="form-inline">
			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
				v-if="priceMonthly.checked"
			>
				<input
					type="number"
					id="inputPriceMonthly"
					class="form-control"
					min="10000"
					max="999999999"
					step="1000"
					name="Harga sewa"
					:placeholder="placeholder"
					v-model="priceMonthly.value"
					v-validate="'numeric|min_value:10000|max_value:999999999'"
				/>
				<label> /bulan</label>
				<p class="text-danger" v-show="errors.has('Harga sewa')">
					{{ errors.first('Harga sewa') }}
				</p>
			</div>
			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
				v-if="priceDaily.checked"
			>
				<input
					type="number"
					id="inputPriceDaily"
					class="form-control"
					min="10000"
					max="999999999"
					step="1000"
					name="Harga perhari"
					:placeholder="placeholder"
					v-model="priceDaily.value"
					v-validate="'numeric|min_value:10000|max_value:999999999'"
				/>
				<label for="inputPriceDaily"> /hari</label>
				<p class="text-danger" v-show="errors.has('Harga perhari')">
					{{ errors.first('Harga perhari') }}
				</p>
			</div>

			<div class="clearfix"></div>

			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
				v-if="priceWeekly.checked"
			>
				<input
					type="number"
					id="inputPriceWeekly"
					class="form-control"
					min="10000"
					max="999999999"
					step="1000"
					name="Harga perminggu"
					:placeholder="placeholder"
					v-model="priceWeekly.value"
					v-validate="'numeric|min_value:10000|max_value:999999999'"
				/>
				<label for="inputPriceWeekly"> /minggu</label>
				<p class="text-danger" v-show="errors.has('Harga perminggu')">
					{{ errors.first('Harga perminggu') }}
				</p>
			</div>
			<div
				class="form-group price-input"
				:class="{ 'has-error': errors.has('Harga sewa') }"
				v-if="priceYearly.checked"
			>
				<input
					type="number"
					id="inputPriceYearly"
					class="form-control"
					min="10000"
					max="999999999"
					step="1000"
					name="Harga pertahun"
					:placeholder="placeholder"
					v-model="priceYearly.value"
					v-validate="'numeric|min_value:10000|max_value:999999999'"
				/>
				<label for="inputPriceYearly"> /tahun</label>
				<p class="text-danger" v-show="errors.has('Harga pertahun')">
					{{ errors.first('Harga pertahun') }}
				</p>
			</div>
		</div>
		<div class="clearfix"></div>

		<br />
		<label for="showPrice"
			>Tampilkan Harga (pilih harga yang ingin anda tampilkan)
			<span class="text-danger"></span
		></label>
		<br />
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input
				type="checkbox"
				id="showPriceMonthly"
				v-model="priceMonthly.shown"
			/>
			<label for="showPriceMonthly"> Perbulan</label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input type="checkbox" id="showPriceDaily" v-model="priceDaily.shown" />
			<label for="showPriceDaily"> Perhari </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input type="checkbox" id="showPriceWeekly" v-model="priceWeekly.shown" />
			<label for="showPriceWeekly"> Perminggu </label>
		</div>
		<div class="checkbox checkbox-success checkbox-inline price-checkbox">
			<input type="checkbox" id="showPriceYearly" v-model="priceYearly.shown" />
			<label for="showPriceYearly"> Pertahun </label>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			priceMonthly: {
				shown: true,
				checked: true,
				value: this.$store.state.params.price_monthly.toString()
			},
			priceDaily: {
				shown: false,
				checked: false,
				value: this.$store.state.params.price_daily.toString()
			},
			priceWeekly: {
				shown: false,
				checked: false,
				value: this.$store.state.params.price_weekly.toString()
			},
			priceYearly: {
				shown: false,
				checked: false,
				value: this.$store.state.params.price_yearly.toString()
			},
			priceShown: ['monthly'],
		}
	},
	watch: {
		'priceMonthly.shown': function (val) {
			if (val == true) {
				this.priceShown.push('monthly');
				this.$store.commit('setParamsPriceShown', this.priceShown);
			} else {
				if (this.priceShown.indexOf('monthly') != -1) {
					this.priceShown.splice(this.priceShown.indexOf('monthly'), 1);
					this.$store.commit('setParamsPriceShown', this.priceShown);
				}
			}
		},
		'priceDaily.shown': function (val) {
			if (val == true) {
				this.priceShown.push('daily');
				this.$store.commit('setParamsPriceShown', this.priceShown);
			} else {
				if (this.priceShown.indexOf('daily') != -1) {
					this.priceShown.splice(this.priceShown.indexOf('daily'), 1);
					this.$store.commit('setParamsPriceShown', this.priceShown);
				}
			}
		},
		'priceWeekly.shown': function (val) {
			if (val == true) {
				this.priceShown.push('weekly');
				this.$store.commit('setParamsPriceShown', this.priceShown);
			} else {
				if (this.priceShown.indexOf('weekly') != -1) {
					this.priceShown.splice(this.priceShown.indexOf('weekly'), 1);
					this.$store.commit('setParamsPriceShown', this.priceShown);
				}
			}
		},
		'priceYearly.shown': function (val) {
			if (val == true) {
				this.priceShown.push('yearly');
				this.$store.commit('setParamsPriceShown', this.priceShown);
			} else {
				if (this.priceShown.indexOf('yearly') != -1) {
					this.priceShown.splice(this.priceShown.indexOf('yearly'), 1);
					this.$store.commit('setParamsPriceShown', this.priceShown);
				}
			}
		},


		'priceDaily.checked': function (val) {
			if (val == false) {
				this.priceDaily.value = '';
			}
		},
		'priceWeekly.checked': function (val) {
			if (val == false) {
				this.priceWeekly.value = '';
			}
		},
		'priceYearly.checked': function (val) {
			if (val == false) {
				this.priceYearly.value = '';
			}
		},


		'priceMonthly.value': debounce(
			function (val) {
				validator.attach('Harga sewa', 'required|numeric|min_value:10000|max_value:999999999');
				validator.validate('Harga sewa', val).then((result) => {
					if (result) {
						this.$store.commit('setParamsPriceMonthly', parseInt(val));
					}
					else {
						this.$store.commit('setParamsPriceMonthly', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			},
			500
		),
		'priceDaily.value': debounce(
			function (val) {
				validator.attach('Harga perhari', 'numeric|min_value:10000|max_value:999999999');
				validator.validate('Harga perhari', val).then((result) => {
					if (result) {
						this.$store.commit('setParamsPriceDaily', parseInt(val));
					}
					else {
						this.$store.commit('setParamsPriceDaily', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		),
		'priceWeekly.value': debounce(
			function (val) {
				validator.attach('Harga perminggu', 'numeric|min_value:10000|max_value:999999999');
				validator.validate('Harga perminggu', val).then((result) => {
					if (result) {
						this.$store.commit('setParamsPriceWeekly', parseInt(val));
					}
					else {
						this.$store.commit('setParamsPriceWeekly', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		),
		'priceYearly.value': debounce(
			function (val) {
				validator.attach('Harga pertahun', 'numeric|min_value:10000|max_value:999999999');
				validator.validate('Harga pertahun', val).then((result) => {
					if (result) {
						this.$store.commit('setParamsPriceYearly', parseInt(val));
					}
					else {
						this.$store.commit('setParamsPriceYearly', '');
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
.price-checkbox {
	margin-bottom: 10px;
}
.price-input {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: top;
	> p {
		margin-bottom: 5px;
	}
}
@media (max-width: 767px) {
	.form-inline .form-control {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.form-inline .form-control {
		width: 160px;
	}
}
.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
}
</style>
