<template>
	<div class="form-group" :class="{ 'has-error': errors.has(label) }">
		<label for="propertyName"
			>{{ label }}
			<span class="text-danger"> *wajib diisi </span>
			<i
				class="fa fa-circle-o-notch fa-spin loading-spinner-default"
				v-show="checking.isLoading"
			>
			</i>
			<a v-if="checking.isSuggested" @click="resetSuggestion(false)">Edit</a>
		</label>
		<input
			type="text"
			id="propertyName"
			class="form-control"
			minlength="5"
			maxlength="200"
			:name="label"
			:placeholder="placeholder"
			v-model="projectName"
			v-validate="'required|min:5|max:200'"
			v-show="!checking.isSuggested"
			@blur="resetInput"
		/>
		<input
			type="text"
			class="form-control"
			minlength="5"
			maxlength="200"
			disabled
			:placeholder="placeholder"
			:value="projectName"
			v-show="checking.isSuggested"
		/>
		<p class="text-danger" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
		<ul
			id="dropdownSuggestion"
			class="dropdown-menu dropdown-suggestion"
			:class="{ show: suggestions.length > 0 }"
		>
			<li>
				<p class="small text-center">Pilih salah satu</p>
			</li>
			<li role="separator" class="divider"></li>
			<li
				v-for="(suggestion, index) in suggestions"
				:key="index"
				:title="suggestion.name"
			>
				<a @click="useSuggestion(suggestion, true)">{{ suggestion.name }} </a>
			</li>

			<!-- <li>
					<button 
						type="button" 
						class="btn btn-mamigreen" 
						@click="useInput(checking.inputName)"
						>Tambahkan Baru</button>
					</li> -->
		</ul>
	</div>
</template>

<script>
export default {
	data() {
		return {
			inputAs: this.$store.state.params.input_as,
			projectName: this.$store.state.params.project_name,
			projectId: this.$store.state.params.project_id,
			suggestions: [],
			checking: {
				inputName: '',
				isLoading: false,
				isSuggested: false
			}
		};
	},
	watch: {
		projectName: debounce(function (val) {
			if (this.checking.isSuggested == false) {
				validator.attach(this.label, 'required|min:5|max:200');
				validator
					.validate(this.label, val)
					.then(result => {
						if (result) {
							this.checking.inputName = val;
							this.checking.isLoading = true;

							this.fetchSuggestions();
						} else {
							this.restoreProjectIdName();
						}
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		}, 1000)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	},
	methods: {
		fetchSuggestions() {
			axios
				.post('/apartment/suggestion/name', {
					name: this.checking.inputName
				})
				.then(response => {
					this.checking.isLoading = false;
					this.suggestions = response.data.data;

					this.$store.commit('setParamsProjectId', null);
					this.$store.commit('setParamsProjectName', this.checking.inputName);
				})
				.catch(error => {
					this.checking.isLoading = false;
					alert('Terjadi galat saat pengecekan nama. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		},
		useSuggestion(suggestion, state) {
			this.checking.isSuggested = state;

			this.resetInput();

			this.checking.inputName = suggestion.name;
			this.projectName = suggestion.name;
			this.projectId = suggestion._id;

			this.storeProjectIdName();
		},
		useInput(inputName) {
			alert(`"${inputName}" akan ditambahkan sebagai project / apartemen baru`);
			$('#dropdownSuggestion').removeClass('show');

			this.resetInput();

			this.projectName = inputName;
			this.projectId = null;

			this.storeProjectIdName();
		},
		resetInput() {
			this.suggestions.length = 0;
		},
		resetSuggestion(state) {
			this.checking.isSuggested = state;
		},
		storeProjectIdName() {
			this.$store.commit('setParamsProjectId', this.projectId);
			this.$store.commit('setParamsProjectName', this.projectName);
		},
		restoreProjectIdName() {
			this.$store.commit('setParamsProjectId', null);
			this.$store.commit('setParamsProjectName', '');
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_green_haze_approx: #1baa56;
$color_hint_of_green_approx: #e9fee9;

.loading-spinner-default {
	font-weight: normal;
}
.dropdown-suggestion {
	position: relative;
	width: 100%;
	.btn {
		width: 100%;
		text-align: center;
	}
	> li > a {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $color_green_haze_approx;
		&:hover {
			background-color: $color_hint_of_green_approx;
		}
		&:active {
			background-color: $color_hint_of_green_approx;
		}
		&:focus {
			background-color: $color_hint_of_green_approx;
		}
	}
}
</style>
