<template>
	<div class="form-group">
		<label for="inputPriceMonthly"
			>{{ label }} <span class="text-danger">*wajib diisi </span></label
		>

		<label class="label-kurs-opt">Satuan harga dalam</label>

		<div class="kurs-option">
			<div class="radio radio-success radio-inline col-sm-3 col-xs-6">
				<input type="radio" id="isOptIdr" :value="'idr'" v-model="price_type" />
				<label for="isOptIdr">Rupiah (IDR)</label>
			</div>
			<div class="radio radio-success radio-inline col-sm-3 col-xs-6">
				<input type="radio" id="isOptUsd" :value="'usd'" v-model="price_type" />
				<label for="isOptUsd">Dollar (USD)</label>
			</div>
		</div>

		<div class="clearfix"></div>

		<label class="label-price-opt">Wajib pilih dan isi salah satu harga</label>

		<div class="prices-option">
			<div class="checkbox checkbox-success">
				<input type="checkbox" id="priceDaily" v-model="priceDaily.checked" />
				<label for="priceDaily" class="checkbox-label">
					<div class="form-group input-price" v-show="priceDaily.checked">
						<input
							type="number"
							id="inputPriceDaily"
							class="form-control"
							min="10000"
							max="999999999"
							step="1000"
							name="Harga perhari"
							:placeholder="placeholder"
							v-model="priceDaily.valueIdr"
							v-validate="'numeric|min_value:10000|max_value:999999999'"
							v-if="price_type == 'idr'"
							:title="[
								errors.has('Harga perhari') ? errors.first('Harga perhari') : ''
							]"
						/>
						<input
							type="number"
							id="inputPriceDaily"
							class="form-control"
							max="999999999"
							step="10"
							name="Harga usd perhari"
							:placeholder="placeholder"
							v-model="priceDaily.valueUsd"
							v-validate="'numeric|max_value:999999999'"
							:title="[
								errors.has('Harga perhari') ? errors.first('Harga perhari') : ''
							]"
							v-else
						/>
						<p class="text-danger" v-show="errors.has('Harga perhari')">
							{{ errors.first('Harga perhari') }}
						</p>
					</div>
					<span :class="{ 'price-label': priceDaily.checked }">
						Perhari
					</span></label
				>
			</div>
			<div class="checkbox checkbox-success">
				<input type="checkbox" id="priceWeekly" v-model="priceWeekly.checked" />
				<label for="priceWeekly" class="checkbox-label">
					<div class="form-group input-price" v-show="priceWeekly.checked">
						<input
							type="number"
							id="inputPriceWeekly"
							class="form-control"
							min="10000"
							max="999999999"
							step="1000"
							name="Harga perminggu"
							:placeholder="placeholder"
							v-model="priceWeekly.valueIdr"
							v-validate="'numeric|min_value:10000|max_value:999999999'"
							v-if="price_type == 'idr'"
							:title="[
								errors.has('Harga perminggu')
									? errors.first('Harga perminggu')
									: ''
							]"
						/>
						<input
							type="number"
							id="inputPriceWeekly"
							class="form-control"
							max="999999999"
							step="10"
							name="Harga usd perminggu"
							:placeholder="placeholder"
							v-model="priceWeekly.valueUsd"
							v-validate="'numeric|max_value:999999999'"
							:title="[
								errors.has('Harga perminggu')
									? errors.first('Harga perminggu')
									: ''
							]"
							v-else
						/>
						<p class="text-danger" v-show="errors.has('Harga perminggu')">
							{{ errors.first('Harga perminggu') }}
						</p>
					</div>
					<span :class="{ 'price-label': priceWeekly.checked }"
						>Perminggu</span
					></label
				>
			</div>
			<div class="checkbox checkbox-success">
				<input
					type="checkbox"
					id="priceMonthly"
					v-model="priceMonthly.checked"
				/>
				<label for="priceMonthly" class="checkbox-label">
					<div class="form-group input-price" v-show="priceMonthly.checked">
						<input
							type="number"
							id="inputPriceMonthly"
							class="form-control"
							min="10000"
							max="999999999"
							step="1000"
							name="Harga perbulan"
							:placeholder="placeholder"
							v-model="priceMonthly.valueIdr"
							v-validate="'numeric|min_value:10000|max_value:999999999'"
							v-if="price_type == 'idr'"
							:title="[
								errors.has('Harga perbulan')
									? errors.first('Harga perbulan')
									: ''
							]"
						/>
						<input
							type="number"
							id="inputPriceMonthly"
							class="form-control"
							max="999999999"
							step="10"
							name="Harga usd perbulan"
							:placeholder="placeholder"
							v-model="priceMonthly.valueUsd"
							v-validate="'numeric|max_value:999999999'"
							:title="[
								errors.has('Harga perbulan')
									? errors.first('Harga perbulan')
									: ''
							]"
							v-else
						/>
						<p class="text-danger" v-show="errors.has('Harga perbulan')">
							{{ errors.first('Harga perbulan') }}
						</p>
					</div>
					<span :class="{ 'price-label': priceMonthly.checked }"
						>Perbulan</span
					></label
				>
			</div>
			<div class="checkbox checkbox-success">
				<input type="checkbox" id="priceYearly" v-model="priceYearly.checked" />
				<label for="priceYearly" class="checkbox-label">
					<div class="form-group input-price" v-show="priceYearly.checked">
						<input
							type="number"
							id="inputPriceYearly"
							class="form-control"
							min="10000"
							max="999999999"
							step="1000"
							name="Harga pertahun"
							:placeholder="placeholder"
							v-model="priceYearly.valueIdr"
							v-validate="'numeric|min_value:10000|max_value:999999999'"
							v-if="price_type == 'idr'"
							:title="[
								errors.has('Harga pertahun')
									? errors.first('Harga pertahun')
									: ''
							]"
						/>
						<input
							type="number"
							id="inputPriceYearly"
							class="form-control"
							max="999999999"
							step="10"
							name="Harga usd pertahun"
							:placeholder="placeholder"
							v-model="priceYearly.valueUsd"
							v-validate="'numeric|max_value:999999999'"
							:title="[
								errors.has('Harga pertahun')
									? errors.first('Harga pertahun')
									: ''
							]"
							v-else
						/>
						<p class="text-danger" v-show="errors.has('Harga pertahun')">
							{{ errors.first('Harga pertahun') }}
						</p>
					</div>
					<span :class="{ 'price-label': priceYearly.checked }"
						>Pertahun</span
					></label
				>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: String
	},
	data() {
		return {
			price_type: this.$store.state.params.price_type,
			priceDaily: {
				checked: this.$store.state.extras.price_daily_checked,
				valueIdr: this.$store.state.params.price_daily.toString(),
				valueUsd: this.$store.state.params.price_daily.toString()
			},
			priceWeekly: {
				checked: this.$store.state.extras.price_daily_checked,
				valueIdr: this.$store.state.params.price_weekly.toString(),
				valueUsd: this.$store.state.params.price_weekly.toString()
			},
			priceMonthly: {
				checked: this.$store.state.extras.price_daily_checked,
				valueIdr: this.$store.state.params.price_monthly.toString(),
				valueUsd: this.$store.state.params.price_monthly.toString()
			},
			priceYearly: {
				checked: this.$store.state.extras.price_daily_checked,
				valueIdr: this.$store.state.params.price_yearly.toString(),
				valueUsd: this.$store.state.params.price_yearly.toString()
			}
		};
	},
	created() {
		if (
			this.$store.state.params.price_monthly !== '' &&
			this.$store.state.params.price_monthly !== 0
		) {
			this.priceMonthly.checked = true;
			this.$store.state.extras.price_monthly_checked = true;
		}
		if (
			this.$store.state.params.price_daily !== '' &&
			this.$store.state.params.price_daily !== 0
		) {
			this.priceDaily.checked = true;
			this.$store.state.extras.price_daily_checked = true;
		}
		if (
			this.$store.state.params.price_weekly !== '' &&
			this.$store.state.params.price_weekly !== 0
		) {
			this.priceWeekly.checked = true;
			this.$store.state.extras.price_weekly_checked = true;
		}
		if (
			this.$store.state.params.price_yearly !== '' &&
			this.$store.state.params.price_yearly !== 0
		) {
			this.priceYearly.checked = true;
			this.$store.state.extras.price_yearly_checked = true;
		}
	},
	watch: {
		price_type(val) {
			this.$store.commit('setParamsRateType', val);
		},

		'priceDaily.checked': function (val) {
			if (val == true) {
				this.$store.commit('setExtrasPriceDaily', true);
			} else if (val == false) {
				this.priceDaily.valueIdr = 0;
				this.$store.commit('setParamsPriceDaily', 0);
				this.$store.commit('setExtrasPriceDaily', false);
			}
		},
		'priceWeekly.checked': function (val) {
			if (val == true) {
				this.$store.commit('setExtrasPriceWeekly', true);
			} else if (val == false) {
				this.priceWeekly.valueIdr = 0;
				this.$store.commit('setParamsPriceWeekly', 0);
				this.$store.commit('setExtrasPriceWeekly', false);
			}
		},
		'priceMonthly.checked': function (val) {
			if (val == true) {
				this.$store.commit('setExtrasPriceMonthly', true);
			} else if (val == false) {
				this.priceMonthly.valueIdr = 0;
				this.$store.commit('setParamsPriceMonthly', 0);
				this.$store.commit('setExtrasPriceMonthly', false);
			}
		},
		'priceYearly.checked': function (val) {
			if (val == true) {
				this.$store.commit('setExtrasPriceYearly', true);
			} else if (val == false) {
				this.priceYearly.valueIdr = 0;
				this.$store.commit('setParamsPriceYearly', 0);
				this.$store.commit('setExtrasPriceYearly', false);
			}
		},

		'priceMonthly.valueIdr': debounce(function (val) {
			validator.attach(
				'Harga perbulan',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perbulan', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceMonthly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceMonthly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceMonthly.valueUsd': debounce(function (val) {
			validator.attach('Harga usd perbulan', 'numeric|max_value:999999999');
			validator
				.validate('Harga usd perbulan', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceMonthly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceMonthly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceDaily.valueIdr': debounce(function (val) {
			validator.attach(
				'Harga perhari',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perhari', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceDaily', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceDaily', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceDaily.valueUsd': debounce(function (val) {
			validator.attach('Harga usd perhari', 'numeric|max_value:999999999');
			validator
				.validate('Harga usd perhari', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceDaily', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceDaily', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceWeekly.valueIdr': debounce(function (val) {
			validator.attach(
				'Harga perminggu',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga perminggu', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceWeekly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceWeekly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceWeekly.valueUsd': debounce(function (val) {
			validator.attach('Harga usd perminggu', 'numeric|max_value:999999999');
			validator
				.validate('Harga usd perminggu', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceWeekly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceWeekly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceYearly.valueIdr': debounce(function (val) {
			validator.attach(
				'Harga pertahun',
				'numeric|min_value:10000|max_value:999999999'
			);
			validator
				.validate('Harga pertahun', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceYearly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceYearly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200),

		'priceYearly.valueUsd': debounce(function (val) {
			validator.attach('Harga usd pertahun', 'numeric|max_value:999999999');
			validator
				.validate('Harga usd pertahun', val)
				.then(result => {
					if (result) {
						this.$store.commit('setParamsPriceYearly', parseInt(val));
					} else {
						this.$store.commit('setParamsPriceYearly', 0);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200)
	}
};
</script>

<style lang="scss">
.label-kurs-opt {
	font-weight: normal;
}

.checkbox-label {
	display: flex !important;
	.price-label {
		line-height: 3em;
	}
}

.input-price {
	margin-top: -7px;
	margin-right: 7px;
}

.label-price-opt {
	margin-top: 10px;
}

.form-group.input-price {
	margin-bottom: 0;
}

.checkbox + .checkbox {
	margin-top: 0;
}
</style>
