<template>
	<div class="col-md-12 col-xs-12 stretch">
		<!-- Cover -->
		<div>
			<div :class="[grid, 'stretch dropzone-custom']">
				<p class="dropzone-title">
					Foto Depan / Cover (1 foto)
					<span class="text-danger">*wajib diisi</span>
				</p>
				<dropzone
					ref="photoCover"
					id="photoCover"
					:options="dropzoneOptionsCover"
					:destroyDropzone="false"
					class="fit-wrapper-photo"
					@vdropzone-thumbnail="checkDimension('photoCover', $event)"
					@vdropzone-removed-file="removePhoto('photoCover', $event)"
					@vdropzone-success="uploadSuccess"
					@vdropzone-file-added="fileAdded('photoCover', $event)"
				>
				</dropzone>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- Bedroom -->
		<div>
			<div>
				<div :class="[grid, 'dropzone-custom']">
					<p class="dropzone-title">
						Foto Kamar (bisa masukan lebih dari satu foto)
						<span class="text-danger">*wajib diisi</span>
					</p>
					<dropzone
						ref="photoBedroom"
						id="photoBedroom"
						:destroyDropzone="false"
						:options="dropzoneOptions"
						@vdropzone-thumbnail="checkDimension('photoBedroom', $event)"
						@vdropzone-removed-file="removePhoto('photoBedroom', $event)"
						@vdropzone-success="uploadSuccess"
						@vdropzone-file-added="fileAdded('photoBedroom', $event)"
					>
					</dropzone>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- Bath -->
		<div>
			<div>
				<div :class="[grid, 'dropzone-custom']">
					<p class="dropzone-title">
						Foto Kamar Mandi (bisa masukan lebih dari satu foto)
						<span class="text-danger">*wajib diisi</span>
					</p>
					<dropzone
						ref="photoBath"
						id="photoBath"
						:destroyDropzone="false"
						:options="dropzoneOptions"
						@vdropzone-thumbnail="checkDimension('photoBath', $event)"
						@vdropzone-removed-file="removePhoto('photoBath', $event)"
						@vdropzone-success="uploadSuccess"
						@vdropzone-file-added="fileAdded('photoBath', $event)"
					>
					</dropzone>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- Other -->
		<div>
			<div>
				<div :class="[grid, 'dropzone-custom']">
					<p class="dropzone-title">
						Foto Fasilitas Lainnya (bisa masukan lebih dari satu foto)
						<span class="text-danger">*wajib diisi</span>
					</p>
					<dropzone
						ref="photoOther"
						id="photoOther"
						:destroyDropzone="false"
						:options="dropzoneOptions"
						@vdropzone-thumbnail="checkDimension('photoOther', $event)"
						@vdropzone-removed-file="removePhoto('photoOther', $event)"
						@vdropzone-success="uploadSuccess"
						@vdropzone-file-added="fileAdded('photoOther', $event)"
					>
					</dropzone>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</template>

<script>
import Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone: Dropzone
	},
	data() {
		return {
			lastDropzone: '',
			dropzoneOptions: {
				url: this.postUrl,
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: null,
				autoProcessQueue: true,
				maxFileSize: 5,
				createImageThumbnails: true,
				addRemoveLinks: true,
				thumbnailHeight: 180,
				thumbnailWidth: 180,

				dictDefaultMessage: ' Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$store.state.token,
					watermarking: true,
					watermarking_type: 'reguler'
				}
			},
			dropzoneOptionsCover: {
				url: this.postUrl,
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: false,
				maxFileSize: 5,
				createImageThumbnails: true,
				addRemoveLinks: true,
				thumbnailHeight: 180,
				thumbnailWidth: 180,

				dictDefaultMessage: ' Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$store.state.token,
					watermarking: true,
					watermarking_type: 'reguler'
				}
			},
			dropzoneObjects: {
				cover: 0,
				main: [],
				bedroom: [],
				bath: [],
				other: []
			},
			dropzonePhotoCoverOn: false,
			photos: {
				cover: this.$store.state.params.photos.cover,
				bedroom: this.$store.state.params.photos.bedroom,
				bath: this.$store.state.params.photos.bath,
				other: this.$store.state.params.photos.other
			},
			photosUrl: {
				cover: this.$store.state.extras.photosUrl.cover,
				bedroom: this.$store.state.extras.photosUrl.bedroom,
				bath: this.$store.state.extras.photosUrl.bath,
				other: this.$store.state.extras.photosUrl.other
			}
		};
	},
	mounted() {
		if (this.photos.cover != undefined && this.photos.cover !== 0) {
			const file = { name: 'thumbnail', type: 'image/png' };
			const url = this.photosUrl.cover[0].medium;
			this.$refs.photoCover.manuallyAddFile(file, url);
		}
		if (this.photos.bedroom != undefined && this.photos.bedroom.length > 0) {
			let file = {};
			let url = '';
			this.photosUrl.bedroom.forEach(item => {
				url = item.medium;
				this.$refs.photoBedroom.manuallyAddFile(file, url);
			});
		}
		if (this.photos.bath != undefined && this.photos.bath.length > 0) {
			let file = {};
			let url = '';
			this.photosUrl.bath.forEach(item => {
				url = item.medium;
				this.$refs.photoBath.manuallyAddFile(file, url);
			});
		}
		if (this.photos.other != undefined && this.photos.other.length > 0) {
			let file = {};
			let url = '';
			this.photosUrl.other.forEach(item => {
				url = item.medium;
				this.$refs.photoOther.manuallyAddFile(file, url);
			});
		}
	},
	created() {},
	props: {
		grid: {
			type: String,
			required: true
		},
		postUrl: {
			type: String,
			required: true
		}
	},
	computed: {
		positionForm() {
			return this.$store.state.params.positionForm;
		}
	},
	methods: {
		conditionFailedUpload(id, file) {
			swal({
				title: 'Upload Gagal',
				text: `Foto gagal diupload. Silakan cek kembali ukuran foto, maksimal file ${this.dropzoneOptions.maxFileSize}Mb.`,
				type: 'warning',
				confirmButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(result => {
				this.$refs[id].removeFile(file);
			});
		},

		fileAdded(id, file) {
			this.lastDropzone = id;
			setTimeout(() => {
				if (!file.accepted) {
					if (this.positionForm == '1') {
						this.$store.commit('setPositionForm', '0');
					} else {
						this.$refs.photoCover.removeFile(file);
					}
				}
			}, 1000);
		},

		checkDimension(id, file) {
			const _this = this;
			if (file.width < file.height) {
				swal('', 'Foto harus Landscape', 'error');
				_this.$refs[id].removeFile(file);
			} else {
				_this.$refs[id].processQueue();
			}
		},

		removePhoto(id, file) {
			const mediaId = JSON.parse(file.xhr.response).media.id;

			if (id == 'photoCover') {
				this.photos.cover = '';
			}

			if (id == 'photoBedroom') {
				this.photos.bedroom = this.photos.bedroom.filter(id => {
					return id !== mediaId;
				});
			}

			if (id == 'photoBath') {
				this.photos.bath = this.photos.bath.filter(id => {
					return id !== mediaId;
				});
			}

			if (id == 'photoOther') {
				this.photos.other = this.photos.other.filter(data => {
					return data.id !== mediaId;
				});
			}

			this.$store.commit('setParamsPhotos', this.photos);
			this.$store.commit('setExtrasPhotosBeforeEdit', this.photosBeforeTemp);
		},
		uploadSuccess(file, response) {
			if (response.media) {
				const id = file.previewElement.parentElement.id;
				if (id.indexOf('photoCover') > -1) {
					this.photos.cover = response.media.id;
					this.photosUrl.cover.push(response.media.url);
				} else if (id.indexOf('photoMain') > -1) {
					this.photos.main.push(response.media.id);
					this.photosUrl.main.push(response.media.url);
				} else if (id.indexOf('photoBedroom') > -1) {
					this.photos.bedroom.push(response.media.id);
					this.photosUrl.bedroom.push(response.media.url);
				} else if (id.indexOf('photoBath') > -1) {
					this.photos.bath.push(response.media.id);
					this.photosUrl.bath.push(response.media.url);
				} else if (id.indexOf('photoOther') > -1) {
					let photosOther = {
						id: response.media.id,
						description: `Foto-foto lainnya - ${parseInt(
							this.photos.other.length + 1
						)}`
					};
					this.photos.other.push(photosOther);
					this.photosUrl.other.push(response.media.url);
				}
				this.$store.commit('setParamsPhotos', this.photos);
				this.$store.commit('setExtrasPhotosUrl', this.photosUrl);
			} else {
				this.conditionFailedUpload(this.lastDropzone, file);

				// alert(
				// 	'Terjadi galat saat upload foto. Silakan ulangi upload foto Anda.'
				// );
				// this.$store.commit('changeSection', this.$store.state.section - 1);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.fit-wrapper-photo {
	width: fit-content;
}

.fit-border-photo {
	margin: 0;
	border: 8px solid #f3f3f3;
}
</style>

<style lang="scss">
//colors
$color_green_haze_approx: #1baa56;
$white: #fff;
$color_salem_approx: #109e4b;

//fonts
$font_0: Lato;
$font_1: sans-serif;

.dropzone-custom {
	margin-bottom: 10px;
	@media (max-width: 515px) {
		margin-bottom: 2.5rem !important;
	}
	> .vue-dropzone {
		font-family: $font_0, $font_1;
		padding: 0;
		.dz-message {
			min-width: 230px;
			margin: 4em 0;
			> span {
				font-size: 16px;
				font-weight: bold;
				background-color: $color_green_haze_approx;
				color: $white;
				padding: 5px;
				border-radius: 4px;
				border-color: $color_green_haze_approx;
				&:active {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				&:hover {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				&:focus {
					color: $white;
					background-color: $color_salem_approx;
					border-color: $color_salem_approx;
					text-decoration: none;
				}
				> .fa {
					color: $white;
				}
			}
		}
		.dz-preview {
			.dz-remove {
				font-size: 0.75em;
				font-weight: bold;
				border-radius: 4px;
			}
			&.dz-image-preview {
				margin: 0;
				border: 8px solid #f3f3f3;
			}
			&.dz-file-preview .dz-details {
				background-color: $color_green_haze_approx;
				padding: 0;
				opacity: 0;
			}
			&:hover .dz-details {
				background-color: $color_green_haze_approx;
				opacity: 1;
			}
		}
	}
}
.dropzone-title {
	font-weight: bold;
	margin-bottom: 0;
	@media (max-width: 515px) {
		height: auto !important;
		margin-bottom: 1rem;
	}
}

@media (max-width: 1199px) and(min-width: 992px) {
	.dropzone-title {
		height: 42px;
	}
}
</style>
