<template>
	<div class="form-group">
		<label for="propertyFloor"
			>{{ label }} <span class="text-danger">*wajib diisi</span></label
		>
		<div class="form-group" :class="{ 'has-error': errors.has(label) }">
			<input
				type="number"
				id="propertyFloor"
				class="form-control has-custom-width"
				min="0"
				max="999"
				:name="label"
				:placeholder="placeholder"
				v-model="floor"
				v-validate="'required|numeric|min_value:0|max_value:999'"
			/>
			<p class="text-danger" v-show="errors.has(label)">
				{{ errors.first(label) }}
			</p>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			floor: this.$store.state.params.floor
		}
	},
	watch: {
		floor: debounce(
			function (val) {
				validator.attach(this.label, 'required|numeric|min_value:0|max_value:999');
				validator.validate(this.label, val).then((result) => {
					if (result) {
						this.$store.commit('setParamsFloor', parseInt(val));
					}
					else {
						this.$store.commit('setParamsFloor', null);
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
.form-control.has-custom-width {
	width: 160px;
}
</style>
