<template>
	<div class="form-group">
		<div class="form-inline">
			<label for="unitSize"
				>{{ label }} <span class="text-danger">*wajib diisi</span></label
			>
			<br />
			<div class="form-group" :class="{ 'has-error': errors.has(label) }">
				<input
					type="number"
					id="unitSize"
					class="form-control has-custom-width"
					min="1"
					max="9999"
					:name="label"
					:placeholder="placeholder"
					v-model="unitSize"
					v-validate="'required|numeric|min_value:1|max_value:9999'"
				/>
				<label> m²</label>
				<p class="text-danger" v-show="errors.has(label)">
					{{ errors.first(label) }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			unitSize: this.$store.state.params.unit_size
		}
	},
	watch: {
		unitSize: debounce(
			function (val) {
				validator.attach(this.label, 'required|numeric|min_value:0|max_value:9999');
				validator.validate(this.label, val).then((result) => {
					if (result) {
						this.$store.commit('setParamsUnitSize', parseInt(val));
					}
					else {
						this.$store.commit('setParamsUnitSize', null);
					}
				})
					.catch((error) => {
						bugsnagClient.notify(error);
					});
			}, 500
		)
	},
	props: {
		label: {
			type: String,
			required: true
		},
		placeholder: {
			type: String
		}
	}
}
</script>

<style lang="scss" scoped>
.form-inline .form-control {
	display: inline-block;
}
.form-control.has-custom-width {
	width: 160px;
}
</style>
