<template>
	<div class="form-group">
		<label>{{ label }} <span class="text-danger">*harus landscape</span></label>
		<p class="text-danger">Contoh foto landscape:</p>

		<p v-if="tags == ''">
			Memuat contoh foto..
			<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
		</p>

		<div
			id="photosExample"
			class="col-sm-4 col-xs-12 stretch photo-example"
			@click="openExamplePhoto(tags)"
			v-lazy:background-image="{
				src: tags
			}"
			v-else
		></div>
		<div class="clearfix"></div>

		<div class="photos-toggle" v-if="inputAs == 'Anak Kos'">
			<button
				type="button"
				class="btn btn-mamigreen btn-toggle-photos"
				data-toggle="tooltip"
				data-placement="right"
				title="Foto lengkap memperbesar peluang dapat pulsa!"
				@click="addPhotos(true)"
				v-if="!showAddPhotos"
			>
				Tambah Foto Sekarang
			</button>
			<button
				type="button"
				class="btn btn-mamigreen btn-toggle-photos"
				data-toggle="tooltip"
				data-placement="right"
				title="Foto lengkap memperbesar peluang dapat pulsa!"
				@click="addPhotos(false)"
				v-if="showAddPhotos"
			>
				Tidak Jadi Tambah Foto
			</button>
		</div>

		<field-photos-upload
			:grid="'col-xs-12'"
			:dropzone-objects="dropzoneObjects"
			:post-url="'/garuda/media'"
			v-show="showAddPhotos"
		></field-photos-upload>
	</div>
</template>

<script>
export default {
	data() {
		return {
			dropzoneObjects: [],
			showAddPhotos: false
		};
	},
	created() {
		if (this.property_type == 'Kost') {
			let dropzoneObjects = [
				{
					id: 'photoCover',
					title: '1. Foto dalam kamar'
				},
				{
					id: 'photoBedroom',
					title: '2. Foto bangunan kost'
				},
				{
					id: 'photoBath',
					title: '3. Foto dalam kamar mandi'
				}
			];

			this.dropzoneObjects = dropzoneObjects;
		} else if (this.property_type == 'Apartment') {
			let dropzoneObjects = [
				{
					id: 'photoCover',
					title: '1. Foto ruang tengah'
				},
				{
					id: 'photoBedroom',
					title: '2. Foto kamar'
				},
				{
					id: 'photoBath',
					title: '3. Foto kamar mandi'
				}
			];

			this.dropzoneObjects = dropzoneObjects;
		}

		if (this.$store.state.params.input_as == 'Anak Kos') {
			if (
				this.$store.state.params.photos.cover !== null ||
				this.$store.state.params.photos.bedroom !== null ||
				this.$store.state.params.photos.bath !== null
			) {
				this.showAddPhotos = true;
			} else {
				this.showAddPhotos = false;
			}
		} else {
			this.showAddPhotos = true;
		}
	},
	mounted() {
		if (this.inputAs == 'Anak Kos') {
			$('.btn-toggle-photos').tooltip('show');

			setTimeout(() => {
				$('.btn-toggle-photos').tooltip('hide');
			}, 5000);
		}
	},
	computed: {
		property_type() {
			return this.$store.state.extras.property_type;
		},
		inputAs() {
			return this.$store.state.params.input_as;
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		tags: {
			type: String,
			required: true
		}
	},
	methods: {
		openExamplePhoto(url) {
			window.open(url, '_blank');
		},
		addPhotos() {
			this.showAddPhotos = !this.showAddPhotos;
		}
	}
};
</script>

<style lang="scss">
.photo-example {
	margin-bottom: 2.2rem !important;
}
</style>



<style lang="scss" scoped>
.photo-example {
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
	cursor: pointer;
}
.photos-toggle {
	padding-top: 15px;
	padding-bottom: 15px;
}
</style>
