<template>
	<div class="form-group">
		<label
			>{{ label }}
			<span class="text-danger" v-show="isFurnished"
				>*pilih salah satu</span
			></label
		>
		<div class="distance-label">
			<div
				class="col-xs-12 stretch"
				v-if="furnishedTags.length == 0 && semiFurnishedTags == 0"
			>
				Memuat..
				<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
			</div>

			<div v-else>
				<div class="radio radio-success radio-inline col-sm-3 col-xs-6">
					<input
						type="radio"
						id="isFurnished0"
						:value="0"
						v-model="isFurnished"
					/>
					<label for="isFurnished0"> Not Furnished </label>
				</div>

				<div class="radio radio-success radio-inline col-sm-3 col-xs-6">
					<input
						type="radio"
						id="isFurnished1"
						:value="2"
						v-model="isFurnished"
					/>
					<label for="isFurnished1"> Semi Furnished </label>
				</div>

				<div class="radio radio-success radio-inline col-sm-3 col-xs-6">
					<input
						type="radio"
						id="isFurnished2"
						:value="1"
						v-model="isFurnished"
					/>
					<label for="isFurnished2"> Furnished</label>
				</div>

				<div class="clearfix"></div>

				<div
					class="checkbox checkbox-success checkbox-inline fac-checkbox col-sm-3 col-xs-6"
					v-if="isFurnished == 1"
					v-for="(tag, index) in furnishedTags"
					:key="'facRoom' + index"
				>
					<input
						type="checkbox"
						:id="'facRoom' + index"
						:value="tag.tag_id"
						v-model="facRoom"
					/>
					<label :for="'facRoom' + index"> {{ tag.name }} </label>
				</div>

				<div
					class="checkbox checkbox-success checkbox-inline fac-checkbox col-sm-3 col-xs-6"
					v-if="isFurnished == 2"
					v-for="(tag, index) in semiFurnishedTags"
					:key="'semiFurnished' + index"
				>
					<input
						type="checkbox"
						:id="'semiFurnished' + index"
						:value="tag.tag_id"
						v-model="facRoom"
					/>
					<label :for="'semiFurnished' + index"> {{ tag.name }} </label>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isFurnished: this.$store.state.params.is_furnished,
			facRoom: this.$store.state.params.fac_room,
			microwaveValue: 150,
			diningTableValue: 149,
			isMicrowave: false,
			isDiningTable: false
		};
	},
	mounted() {
		let indexMicrowave = this.facRoom.indexOf(this.microwaveValue);

		if (indexMicrowave !== -1) {
			this.isMicrowave = true;
		}

		let indexDiningTable = this.facRoom.indexOf(this.diningTableValue);

		if (indexDiningTable !== -1) {
			this.isDiningTable = true;
		}
	},
	watch: {
		isFurnished(val) {
			if (val == 0) {
				this.facRoom.length = 0;
			} else if (val == 1) {
				let indexMicrowave = this.facRoom.indexOf(this.microwaveValue);

				if (this.isMicrowave == true && this.indexMicrowave == undefined) {
					this.facRoom.push(this.microwaveValue);
				}

				let indexDiningTable = this.facRoom.indexOf(this.diningTableValue);

				if (this.isDiningTable == true && this.indexDiningTable == undefined) {
					this.facRoom.push(this.diningTableValue);
				}
			} else if (val == 2) {
				let indexMicrowave = this.facRoom.indexOf(this.microwaveValue);

				if (indexMicrowave !== -1) {
					this.facRoom.splice(indexMicrowave, 1);
				}

				let indexDiningTable = this.facRoom.indexOf(this.diningTableValue);

				if (indexDiningTable !== -1) {
					this.facRoom.splice(indexDiningTable, 1);
				}
			}
			this.$store.commit('setParamsIsFurnished', val);
		},
		facRoom(val) {
			if (val.length == 0) {
				this.isFurnished = 0;
			}
			this.$store.commit('setParamsFacRoom', val);
		}
	},
	props: {
		label: {
			type: String,
			required: true
		},
		furnishedTags: {
			type: Array,
			required: true
		},
		semiFurnishedTags: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	margin-bottom: 0;
}
.radio-inline {
	margin-bottom: 15px;
}
</style>
