<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<section-title
			:grid="'col-md-12 col-xs-12'"
			:text="'Input Data Apartemen'"
		></section-title>

		<!-- <p class="col-md-12 col-xs-12">
			Isikan data unit apartemen yang ingin Anda tambahkan
		</p> -->
		<br />

		<div class="col-md-12 col-xs-12">
			<field-name
				:label="'Nama project / apartemen'"
				:placeholder="'Tulis nama project'"
			></field-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-unit-name
				:label="'Nama unit'"
				:placeholder="'Tulis nama unit'"
			></field-unit-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-unit-number
				:label="'Nomor unit'"
				:placeholder="'Tulis nomor unit'"
			></field-unit-number>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-type
				:label="'Tipe unit'"
				:placeholder="'Tuliskan tipe di sini'"
				:tags="facTags.unitType"
			></field-type>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-floor
				:label="'Lantai'"
				:placeholder="'Tulis angka'"
				:tags="facTags.unitType"
			></field-floor>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-size
				:label="'Luas unit'"
				:placeholder="'Tulis angka'"
				:tags="facTags.unitType"
			></field-size>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-price-apartment
				:label="'Harga sewa'"
				:placeholder="'Tulis angka'"
			/>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-price-extra
				:placeholder="'Tulis angka'"
				:tags="facTags.minPayment"
			></field-price-extra>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-description
				:label="'Deskipsi Apartemen'"
				:placeholder="'Tuliskan deskripsi apartemen'"
			></field-description>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-facility-unit
				:label="'Fasilitas unit'"
				:tags="facTags.unit"
			></field-facility-unit>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-facility-room
				:label="'Fasilitas kamar'"
				:furnishedTags="facTags.furnished"
				:semiFurnishedTags="facTags.semiFurnished"
			></field-facility-room>
		</div>

		<div class="col-md-12 col-xs-12 has-margin-bottom">
			<field-photos
				:label="'Foto-foto Apartemen'"
				:tags="facTags.photoExample"
			></field-photos>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.project_name == '' ||
					$store.state.params.unit_name == '' ||
					$store.state.params.unit_number == '' ||
					($store.state.params.unit_type == 'Lainnya' &&
						$store.state.params.unit_type_name == '') ||
					$store.state.params.floor == null ||
					$store.state.params.unit_size == null ||
					$store.state.params.fac_unit.length == 0 ||
					($store.state.params.is_furnished &&
						$store.state.params.fac_room.length == 0) ||
					($store.state.params.price_daily ||
						$store.state.params.price_weekly ||
						$store.state.params.price_monthly ||
						$store.state.params.price_yearly) == 0 ||
					$store.state.params.photos.cover == null
			"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<a
				role="button"
				class="btn btn-mamiorange btn-kost  track-owner-cancel-form"
				href="/ownerpage/apartment"
				v-text="'Batal'"
			></a>
			<button
				type="button"
				class="btn btn-mamiorange btn-kost "
				:disabled="
					$store.state.params.project_name == '' ||
						$store.state.params.unit_name == '' ||
						$store.state.params.unit_number == '' ||
						($store.state.params.unit_type == 'Lainnya' &&
							$store.state.params.unit_type_name == '') ||
						$store.state.params.floor == null ||
						$store.state.params.unit_size == null ||
						$store.state.params.fac_unit.length == 0 ||
						($store.state.params.is_furnished &&
							$store.state.params.fac_room.length == 0) ||
						($store.state.params.price_daily ||
							$store.state.params.price_weekly ||
							$store.state.params.price_monthly ||
							$store.state.params.price_yearly) == 0 ||
						($store.state.params.photos.cover == null ||
							$store.state.params.photos.cover == 0) ||
						($store.state.params.photos.bath == null ||
							$store.state.params.photos.bath.length == 0) ||
						($store.state.params.photos.bedroom == null ||
							$store.state.params.photos.bedroom.length == 0) ||
						($store.state.params.photos.other == null ||
							$store.state.params.photos.other.length == 0)
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	data() {
		return {
			facTags: {
				unitType: this.$store.state.extras.fac_tags.unit_type,
				minPayment: this.$store.state.extras.fac_tags.min_payment,
				unit: this.$store.state.extras.fac_tags.unit,
				furnished: this.$store.state.extras.fac_tags.furnished,
				semiFurnished: this.$store.state.extras.fac_tags.semi_furnished,
				photoExample: this.$store.state.extras.fac_tags.photo_example
			},
			facTagsLoading: false
		};
	},
	created() {
		this.facTagsLoading = true;
		axios
			.get('/stories/input/tags/apartment')
			.then(response => {
				this.facTagsLoading = false;
				this.facTags = {
					unitType: response.data.data.unit_type,
					minPayment: response.data.data.min_payment,
					unit: response.data.data.unit_facilities,
					furnished: response.data.data.room_facilities,
					semiFurnished: response.data.data.room_facilities_semi_furnished,
					photoExample: response.data.data.photo_example
				};

				this.$store.commit('setExtrasFacTags', this.facTags);
			})
			.catch(error => {
				alert('Terjadi galat. Silakan coba lagi.');
				bugsnagClient.notify(error);
			});
	},
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
</style>
