/**
 * Hair GIT Style
 *
 * @author Faisal Ahmad Sulhan
 *
 */

/**
 * Responsive Style
 *
 * Extra small devices (phones, less than 768px)
 * No media query since this is the default in Bootstrap
 *
 * Small devices (tablets, 768px and up)
 * @media (min-width: @screen-sm-min) { ... }
 *
 * Medium devices (desktops, 992px and up)
 * @media (min-width: @screen-md-min) { ... }
 *
 * Large devices (large desktops, 1200px and up)
 * @media (min-width: @screen-lg-min) { ... }
 *
 */

/* Fonts
-------------------------------------------------- */

	@font-face {
	  font-family: 'Source Sans Pro';
	  src: url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
	}

/* Body and structure
-------------------------------------------------- */

	body {
		background: whitesmoke;

	  font-family: 'Source Sans Pro', 'Trebuchet', 'Helvetica';

	  font-size: 12px;
	}

/* Modal Loader */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .4)
                url('/assets/main/img/loader.GIF')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .modal {
    display: block;
}

/* Google Map */
#map-canvas { height: 100% }
.wrapper-map-canvas { background: #EEE; width: 100%; height: 300px; }

/* Typography
-------------------------------------------------- */

/* Panel
-------------------------------------------------- */
	.panel .date {
		color: gray;
		font-size: 12px;
		margin-top: 3px;
	}

	.panel .label {
		padding: 0.1em .4em .2em;
	}

	.panel-collapse img {
		width: 100%;
	}

	.panel-collapse iframe {
		width: 100%;
	}

	.panel-group .panel {
		border-radius: 0px;
	}

	.panel-heading:hover {
		cursor: pointer;
	}

	.panel-body {
		background: whitesmoke;
	}

	.panel-title a:hover {
		text-decoration: none;
	}

	.panel-group .panel+.panel {
		border-top: 1px solid #ddd;
		margin-top: 0;
	}

	.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size: 16px;
		margin-top: -25px;
	}

	.panel-heading.accordion-toggle.collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
	}

body > .header .navbar {
height: 51px;
}

/* HEADER */
.skin-black {
    background: none repeat scroll 0% 0% #E4E7EA;
    font-size: 13px;
}
.skin-black .left-side {
    /*background: #1D2939;*/
}
.sidebar-logo {
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    background: url("sidebar-divider.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Side Menu */
.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a {
    background: none repeat scroll 0% 0% #242424;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: none repeat scroll 0% 0% #242424;
}
.skin-black .treeview-menu > li.active > a, .skin-black .treeview-menu > li > a:hover {
    color: #3C8DBC;
}
.skin-black .sidebar > .sidebar-menu > li {
    /*border-top: 1px solid #444;*/
    border-top: 1px solid rgba(63, 63, 63, 1);
}
.sidebar .sidebar-menu .treeview-menu > li > a {
 font-size: 13px;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
margin: 0 0px;
padding-bottom: 10px;
}
.sidebar .sidebar-menu {
    /*border-bottom: 1px solid #444;*/
    border-bottom: 1px solid rgba(63, 63, 63, 1);
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
    /*border-top: 1px solid #444;*/
    border-top: 1px solid rgba(63, 63, 63, 1);
}
.skin-black .navbar .nav > li > a:hover, .skin-black .navbar .nav > li > a:active, .skin-black .navbar .nav > li > a:focus, .skin-black .navbar .nav .open > a, .skin-black .navbar .nav .open > a:hover, .skin-black .navbar .nav .open > a:focus {
background: #ffffff;
color: #777777;
}

/* CONTENT */
.content {
    background: none repeat scroll 0% 0% #E4E7EA;
    min-height: 800px;
}
.content-header {
    /*border-top: 1px solid #EEE;*/
    background: none repeat scroll 0% 0% #F7F7F7;
    border-bottom: 1px solid #D3D7DB;
}
.content .alert-success {
    border: 1px solid rgba(77, 167, 91, 1);
}
.content-header h1 {
    color: #1D2939;
}

/* BOX */
.box {
    border-radius: 3px;
    background: none repeat scroll 0% 0% #FFF;
    /*border: 0px none;*/
    box-shadow: 0px 3px 0px rgba(12, 12, 12, 0.03);
}
.box .box-border-side {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

/* TABLE */
table {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #636E7B;
    /*font-weight: 600;*/
    background: #FCFCFC;
}
table th {
    color: #444;
    /*text-align: center;*/
}
table .table-action-column {
    text-align: center;
	width: 120px;
}
.btn-action-group a {
    width: 10px;
    display: inline-block;
    margin-right: 8px;
    color: #666;
}
.btn-action-group a .hide {
    visibility: none;
}
.btn-action-group a:hover {
    color: #333;
}
.horizontal-wrapper {
    border-top: 1px solid #EEE;
    margin-bottom: 15px;
    /*border-top: 1px solid #D3D7DB;*/
}
.horizontal-wrapper .btn-horizontal-group {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}
.btn-add {
    z-index: 999;
    margin-left: 10px;
}
.dataTables_wrapper {
    padding-bottom: 10px;
}
.dataTables_length {
    padding-left: 10px;
}
.dataTables_filter {
    padding-right: 10px;
}
.dataTables_filter input {
    border: 1px solid #C9C9C9;
    padding: 4px;
}

.dataTables_info {
    padding-left: 10px;
}
.dataTables_paginate {
    padding-right: 10px;
}
.bg-default {
    background: #FCFCFC;
    /*background: yellow;*/
}
.bg-info {
  background: #EDF8FD;
}
.form-group.divider {
  font-weight: bold;
  text-align: left;
  padding-right: 3px;
}
.form-horizontal .has-feedback .input-group .form-control-feedback {
    top: 0px;
    right: 0px;
    z-index: 99;
}
.has-error .input-group-addon {
    color: #FCFCFC !important;
    background-color: #F56954 !important;
    border-color: #F56954;
}
.has-success .input-group-addon {
    color: #FCFCFC;
    border-color: #00A65A !important;
    background-color: #00A65A !important;
}
.form-group.has-error .help-block {
    color: #F56954;
    margin-top: 5px;
    margin-bottom: 0;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.form-bordered {
    border-top: 1px solid #EEE;
    /*border-top: 1px solid #D3D7DB;*/
}
.form-bordered .form-group {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEE;
}
.box-tools .divider {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-left: 1px solid #EEE;
}

.radio label span {
  padding-left: 5px;
}
.checkbox-inline label span {
  padding-left: 5px;
  font-weight: normal;
}


/* DESIGNER->SORT */

#sortable-designer {
    margin-left: 36px ;
    padding: 0;
    width: 90%;
}
#sortable-designer li { margin: 0 3px 3px 3px;
    padding: 0.1em;
    padding-left: 1em;
    font-size: 1.4em;
    height: 80px;
}
#sortable-designer li span { position: absolute;
    margin-left: -1.3em;
}
.pull-right-sort {
    margin-right: 10px;
}

/* RECOMMENDATION KOST (TOP KOST) */

.results {
    padding-left: 35px;
    background-color: beige;
    cursor: pointer;
}
