<template>
	<div class="container">
		<div class="col-xs-12 notif-center-head">
			<span class="head-title">
				Notifikasi
				<template v-if="notifCount > 0">({{ notifCount }})</template>
			</span>

			<filter-close-button
				class="head-close"
				:has-text="false"
				@press="hideNotifCenter"
			></filter-close-button>
		</div>
	</div>
</template>

<script>
const FilterCloseButton = () => import('Js/@components/FilterCloseButton');

export default {
	components: {
		FilterCloseButton
	},

	props: {
		notifCount: {
			type: Number,
			required: true
		}
	},

	data() {
		return {};
	},

	methods: {
		hideNotifCenter() {
			this.$emit('closed');
		}
	}
};
</script>

<style lang="scss" scoped>
#notifCenter {
	.container {
		padding: 15px 0;
		border-bottom: 1px solid #f4f4f4;
		width: 100%;
	}

	.notif-center-head {
		display: flex;
		align-items: center;
		justify-content: center;

		> .head-title {
			font-size: 16px;
		}

		> .head-close {
			position: absolute;
			right: 16px;
			padding: 0;
		}
	}
}
</style>
