<template>
	<div
		class="container notif-center-menu"
		:class="{ 'notif-center-menu-border': authCheckUser }"
	>
		<div
			v-for="(notifCategoryItem, index) in notifCategory.notifCategoryData"
			:key="index"
			class="menu-slide"
			:class="{ 'menu-slide-homepage': isHomepage }"
		>
			<button
				class="btn btn-default"
				:class="{ 'btn--active': selectedId == notifCategoryItem.id }"
				@click="
					selectCategory(
						notifCategoryItem,
						getUnreadByCategory(notifCategoryItem.id)
					)
				"
			>
				{{ notifCategoryItem.name }}
			</button>
			<span
				v-if="
					getUnreadByCategory(notifCategory.id) &&
						!notifCategory.notifCategoryClicked[notifCategory.id]
				"
				class="unread-dot"
			></span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		notifCategory: {
			type: Object,
			required: true
		},
		isHomepage: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			selectedId: 0,
			defaultCategoryId: 0
		};
	},

	computed: {
		authCheckUser() {
			return this.$store
				? this.$store.state.authCheck.user
				: this.$root.state.authCheck.user;
		}
	},

	methods: {
		selectCategory(category, unread) {
			this.selectedId = category.id;
			this.$emit('selected-menu', category);
			if (unread) {
				this.sendNotifCategoryRead(category.id);
				this.notifCategory.notifCategoryClicked[category.id] = true;
			}
		},
		sendNotifCategoryRead(categoryId) {
			axios
				.post('/notifications', {
					category: categoryId
				})
				.then(response => {})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getUnreadByCategory(categoryId) {
			let result = false;
			if (
				this.notifCategory.notifCategoryCounter != null &&
				this.notifCategory.notifCategoryCounter.length > 0
			) {
				this.notifCategory.notifCategoryCounter.forEach(counterData => {
					if (counterData.category_id == categoryId && counterData.unread > 0) {
						result = true;
					}
				});
			}
			return result;
		}
	}
};
</script>

<style lang="scss" scoped>
#notifCenter {
	.notif-center-menu {
		display: flex;
		width: 100%;
		padding: 16px;
		overflow-x: auto;
		overflow-y: hidden;
		align-items: center;

		.menu-slide {
			position: relative;
			margin-right: 16px;
		}

		button.btn {
			padding: 8px 20px !important;
			min-width: 80px;
			color: #999;
			border: 1px solid #dbdbdb !important;
			border-radius: 30px;
			text-transform: capitalize;

			&:hover,
			&:focus {
				color: #1baa56;
				background-color: #f4f4f4;
				border-color: 1px solid #1baa56 !important;
				text-decoration: none;
			}
			&:active,
			&--active {
				color: #1baa56;
				border-color: 1px solid #1baa56 !important;
			}
		}

		.unread-dot {
			position: absolute;
			top: 8px;
			right: 17px;
			display: inline-block;
			width: 8px;
			height: 8px;
			background-color: red;
			border-radius: 100%;
		}
	}

	.notif-center-menu-border {
		border-bottom: 1px solid #f4f4f4;
	}
}
</style>
