.<template>
	<ct-card class="sales-motion-card">
		<ct-card-body slot="body">
			<div class="row">
				<div class="col-xs-12">
					<shimmer width="80px" height="19px" margin-bottom="15px"></shimmer>
				</div>
				<div class="col-xs-12">
					<shimmer width="80%" height="17px" margin-bottom="15px"></shimmer>
					<shimmer width="70%" height="17px" margin-bottom="15px"></shimmer>
				</div>
				<div class="col-xs-12">
					<shimmer width="100px" height="19px" margin-bottom="15px"></shimmer>
				</div>
				<div class="col-xs-12">
					<shimmer width="100%" height="24px" margin-bottom="15px"></shimmer>
				</div>
				<div class="col-xs-12 el-center-on-end">
					<shimmer width="50%" height="17px" margin-bottom="15px"></shimmer>
				</div>
			</div>
		</ct-card-body>
	</ct-card>
</template>

<script>
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

export default {
	components: {
		CtCard,
		CtCardBody,
		Shimmer
	}
};
</script>
