<template>
	<div class="sales-motion-detail-header">
		<div class="sales-motion-status active" v-if="data.is_active">
			Aktif
		</div>

		<div class="sales-motion-status non-active" v-else>
			Tidak Aktif
		</div>

		<h2>
			{{ data.task_name }}
		</h2>

		<div class="mb-2">
			<i class="mamikos-icon icon-stopwatch"></i> {{ data.is_active ? 'Akan' : 'Sudah' }} berakhir pada <strong>{{ $dayjs(data.due_date).format('DD MMM YYYY') }}</strong>
		</div>

		<div class="sales-motion-type">
			{{ data.sales_type }}
		</div>

		<hr />

		<p class="created-by">
			Dibuat: {{ $dayjs(data.start_date).format('DD MMM YYYY') }} oleh {{ data.created_by_division }}
			<br />
			Update Terakhir: {{ $dayjs(data.updated_at).format('DD MMM YYYY') }}
		</p>

		<div class="tambah-laporan">
			<Button large block @click="addReport">
				<i class="mamikos-icon icon-add-square"></i> Tambah Laporan
			</Button>
		</div>
	</div>
</template>

<script>
import Button from 'Consultant/components/ConsultantButton';

export default {
	name: 'SalesMotionDetailHeader',

	props: {
		data: {
			type: Object
		}
	},

	components: {
		Button
	},

	data() {
		return {
			formattedDueDate: this.data.due_date
		};
	},

	methods: {
		addReport() {
			this.$emit('addReport');
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-detail-header {

}

h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.04em;
	margin: 8px 0;
}

.tambah-laporan {
	padding: 24px 16px;
	border-top: 12px solid #F8FAFB;
	border-bottom: 12px solid #F8FAFB;
}

.created-by {
	color: #8293A1;
	padding-bottom: 24px;
}

hr {
	margin: 16px 0 8px;
}
</style>
