<template>
	<div class="sales-motion-detail-info">
		<ul>
			<li>
				<div class="title">
					Objektif
				</div>
				<div class="content">
					{{ data.objective }}
				</div>
			</li>

			<li>
				<div class="title">
					Syarat dan Ketentuan
				</div>
				<div class="content term-condition">
					{{ data.terms_and_condition }}
				</div>
			</li>

			<li>
				<div class="title">
					Requirements
				</div>
				<div class="content">
					{{ data.requirement }}
				</div>
			</li>

			<li>
				<div class="title">
					Keuntungan yang diperoleh
				</div>
				<div class="content">
					{{ data.benefit }}
				</div>
			</li>

			<li>
				<div class="title">
					Tanggal Mulai
				</div>
				<div class="content">
					{{ $dayjs(data.start_date).format('DD MMMM YYYY') }}
				</div>
			</li>

			<li>
				<div class="title">
					Tanggal Berakhir
				</div>
				<div class="content">
					{{ $dayjs(data.due_date).format('DD MMMM YYYY') }}
				</div>
			</li>

			<li>
				<div class="title">
					Dibuat Oleh
				</div>
				<div class="content">
					{{ data.created_by_division }}
				</div>
			</li>

			<li>
				<div class="title">
					Maksimum Partisipan
				</div>
				<div class="content">
					{{ data.max_participant }}
				</div>
			</li>

			<li>
				<div class="title">
					Lampiran Dokumen
				</div>
				<div class="content">
					<template v-if="data.photo">
						<a :href="data.photo.large" target="_blank">
							<img :src="data.photo.small" />
						</a>
					</template>
				</div>
			</li>

			<li>
				<div class="title">
					Link Dokumen
				</div>
				<div class="content">
					<a :href="data.url" target="_blank">{{ data.url }}</a>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'SalesMotionDetailInfo',

	props: {
		data: {
			type: Object
		}
	}
};
</script>

<style lang="scss" scoped>
ul {
	list-style-type: none;
	padding-left: 0;
	li + li {
		padding-top: 32px;
	}
}

.content {
	font-size: 16px;

	&.term-condition {
		line-height: 22px;
		white-space: pre-line;
	}
}
</style>
