.<template>
	<router-link class="sales-motion-card" :to="link">
		<ct-card>
			<ct-card-body slot="body">
				<div class="row">
					<div class="col-xs-12">
						<chip :type="status.color">
							{{ status.label }}
						</chip>
					</div>
					<div class="col-xs-12">
						<h4>
							<strong>{{ item.name }}</strong>
						</h4>
						<p>
							<i class="mamikos-icon icon-stopwatch"></i>&nbsp; Akan berakhir
							pada
							<strong>{{ endDate }}</strong>
						</p>
					</div>
					<div class="col-xs-12 mb-1">
						<chip class="custom-chip">
							{{ item.type }}
						</chip>
					</div>
					<div class="col-xs-12">
						<div class="sales-motion-detail mb-1">
							<b>{{ deal }}</b> Setuju ・ <b>{{ interested }}</b> Berminat ・
							<b>{{ notInterested }}</b> menolak
						</div>
					</div>
					<div class="col-xs-12 el-center-on-end">
						<span class="text-muted"
							><i>Update terakhir: {{ lastUpdated }}</i></span
						>
					</div>
				</div>
			</ct-card-body>
		</ct-card>
	</router-link>
</template>

<script>
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import Chip from 'Consultant/components/Chip';

export default {
	name: 'SalesMotionCard',

	components: {
		CtCard,
		CtCardBody,
		Chip
	},

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	computed: {
		link() {
			return {
				name: 'sm.detail',
				params: {
					id: this.item.id
				}
			};
		},
		status() {
			const isActive = this.item.is_active;
			return {
				color: isActive ? 'success' : 'error',
				label: isActive ? 'Aktif' : 'Tidak Aktif'
			};
		},
		deal() {
			return this.item.progress_status_deal || 0;
		},
		interested() {
			return this.item.progress_status_interested || 0;
		},
		notInterested() {
			return this.item.progress_status_not_interested || 0;
		},
		lastUpdated() {
			const lastDate = this.item.updated_at.date.replace(' ', 'T');
			return this.$dayjs(lastDate).format('DD MMM YYYY');
		},
		endDate() {
			const endDate = (() => {
				if (this.item.end_date && this.item.end_date.date) {
					return this.item.end_date.date;
				} else {
					return this.item.end_date;
				}
			})();

			return this.$dayjs(endDate).format('DD MMM YYYY');
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-detail {
	padding: 4px 8px;
	color: #8293a1;
	text-align: center;
	background-color: #f0f4f7;

	/* stylelint-disable-next-line */
	b {
		color: darken(#8293a1, 10%);
	}
}

.sales-motion-card {
	color: unset !important;

	::v-deep .custom-chip.chip.chip--default {
		text-transform: capitalize;
		background-color: #f0f4f7;
	}
}
</style>
