<template>
	<section id="detailApartmentContainer">
		<div class="breadcrumb-container">
			<breadcrumb-trails
				:contents="breadcrumbs"
				:version="2"
				custom-style="max-width: 1140px"
			></breadcrumb-trails>
		</div>

		<detail-header :has-media="hasMedia"></detail-header>

		<div class="content-container container">
			<div class="col-xs-12 col-md-7 detail-container">
				<detail-title></detail-title>

				<badge-swiper
					v-if="detailType == 'apartment' && activeBadges.length > 0"
					:active-badges="activeBadges"
				/>

				<detail-apartment-price-mobile
					class="hidden-md hidden-lg"
				></detail-apartment-price-mobile>

				<detail-kost-share-love
					v-if="isDesktopFavShare"
					class="detail-container__share"
				></detail-kost-share-love>

				<detail-apartment-facilities></detail-apartment-facilities>

				<div class="loc-map">
					<label>Lokasi {{ detailTypeName }}</label>
					<detail-map></detail-map>
				</div>

				<div class="report-box">
					<detail-report></detail-report>
				</div>
			</div>

			<breadcrumb-trails
				:contents="breadcrumb"
				:fixed="false"
				:overflow="true"
				class="hidden-sm hidden-md hidden-lg"
			>
			</breadcrumb-trails>

			<div
				id="priceCard"
				class="col-md-5 hidden-xs hidden-sm card-container --sticky"
			>
				<detail-apartment-price-desktop></detail-apartment-price-desktop>
			</div>
		</div>

		<detail-apartment-price-modal
			:show-modal="isModalPrice"
			@close="closeModalPrice"
		></detail-apartment-price-modal>

		<detail-modal-chat
			ref="detailModalChat"
			:price-monthly="priceMonthly"
		></detail-modal-chat>

		<detail-modal-promo
			:show-modal="isModalPromo"
			:promo-content="promotion"
			:is-checkin="false"
			@close="closeModalPromo"
		></detail-modal-promo>

		<modal-form-login
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="closeModalLogin"
		>
		</modal-form-login>
	</section>
</template>

<script>
import EventBus from '../../event-bus';
import DetailApartmentFacilities from './DetailApartmentFacilities';
import DetailApartmentPriceDesktop from './DetailApartmentPriceDesktop';
import DetailApartmentPriceMobile from './DetailApartmentPriceMobile';
import DetailApartmentPriceModal from './DetailApartmentPriceModal';

import BadgeSwiper from '../BadgeSwiper';
import DetailHeader from '../DetailHeader';
import DetailMap from '../DetailMap';
import DetailModalChat from '../DetailModalChat';
import DetailModalPromo from '../DetailModalPromo';
import DetailReport from '../DetailReport';
import DetailTitle from '../DetailTitle';
import DetailKostShareLove from '../kost/DetailKostShareLove';

import mixinContainerKost from '../../mixins/MixinContainerKost';

const BreadcrumbTrails = () =>
	import(
		/* webpackChunkName: "detail_BreadcrumbTrails" */ 'Js/@components/BreadcrumbTrails'
	);
/* istanbul ignore next */
const ModalFormLogin = () =>
	import(
		/* webpackChunkName: "detail_ModalFormLogin" */ 'Js/_login/components/ModalFormLogin'
	);

export default {
	components: {
		BreadcrumbTrails,
		ModalFormLogin,
		DetailApartmentFacilities,
		DetailApartmentPriceDesktop,
		DetailApartmentPriceMobile,
		DetailApartmentPriceModal,
		DetailHeader,
		DetailMap,
		DetailModalChat,
		DetailModalPromo,
		DetailReport,
		DetailTitle,
		BadgeSwiper,
		DetailKostShareLove
	},

	mixins: [mixinContainerKost],

	data() {
		return {
			isModalLoginVisible: false,
			isModalPrice: false,
			isModalPromo: false,
			modalLoginState: 'default'
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		breadcrumb() {
			return this.$store.state.detail.breadcrumbs || [];
		},
		promotion() {
			return this.$store.state.detail.promotion || {};
		},
		priceMonthly() {
			return (
				this.$store.state.detail.price_monthly.toLocaleString('id-ID') || '0'
			);
		},
		photo360() {
			return this.$store.state.detail.photo_360 || null;
		},
		matterportId() {
			return this.$store.state.detail.matterport_id || null;
		},
		youtubeId() {
			return this.$store.state.detail.youtube_id || null;
		},
		hasMedia() {
			return !(
				this.photo360 === null &&
				this.matterportId === null &&
				this.youtubeId === null
			);
		},
		isDesktopFavShare() {
			return this.authCheck.user || !this.authCheck.all;
		}
	},

	mounted() {
		this.listenEventBus();
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLogin', payload => {
				this.openModalLogin();
			});

			EventBus.$on('openModalPrice', payload => {
				this.isModalPrice = true;
			});

			EventBus.$on('openModalChat', payload => {
				if (!this.authCheck.all) {
					this.openModalLogin();
				} else if (this.authCheck.all) {
					if (this.authCheck.user) {
						this.checkOpenedChatSection();

						this.$refs.detailModalChat.showModal = true;

						if (typeof payload !== 'undefined') {
							this.$refs.detailModalChat.assignSelectedQuestion(payload);
						} else {
							this.$refs.detailModalChat.assignSelectedQuestion(null);
						}
					} else {
						this.swalError(
							null,
							'Silakan logout akun Pemilik dan login akun Pencari terlebih dahulu'
						);
					}
				}
			});

			EventBus.$on('openModalPromo', payload => {
				this.isModalPromo = true;
			});
		},
		checkOpenedChatSection() {
			const chatSectionChildCount = document.querySelector('.chat-section')
				.childElementCount;

			if (chatSectionChildCount > 0) {
				const closeChatSections = document.querySelectorAll(
					'#sb_widget .ic-close'
				);

				for (const closeChatSection of closeChatSections) {
					closeChatSection.click();
				}
			}
		},
		openModalLogin() {
			this.isModalLoginVisible = true;
		},
		closeModalPrice() {
			this.isModalPrice = false;
		},
		closeModalLogin() {
			this.isModalLoginVisible = false;
			this.modalLoginState = 'default';
		},
		closeModalPromo() {
			this.isModalPromo = false;
		}
	}
};
</script>

<style lang="scss">
.modal-header,
.modal-footer {
	display: none;
}

.popover-report {
	z-index: 1000 !important;
}
</style>

<style lang="scss" scoped>
#detailApartmentContainer {
	margin-bottom: 10rem;
}

.--sticky {
	position: sticky;
	top: 74px;
}

.content-container {
	margin-top: 1.5rem;

	@media (max-width: 767px) {
		padding: 0;
	}

	.detail-container {
		display: flex;
		flex-direction: column;

		.loc-map {
			position: relative;
			height: 250px;
			padding-bottom: 5rem;

			@media (min-width: 768px) {
				border: solid 1px rgba(74, 72, 72, 0.1);
				border-left: 0;
				border-right: 0;
				padding: 1.5rem 0;
				height: 350px;
			}
		}

		.report-box {
			@media (min-width: 768px) {
				margin: 2rem -1.5rem 0 -1.5rem;
			}
		}
	}

	.card-container {
		margin-top: 2rem;
		display: flex;
		justify-content: flex-end;
	}
}
.breadcrumb-container {
	width: 100%;
	padding: 12px 24px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;

	@media (max-width: 991px) {
		display: none;
	}
}
</style>
