<template>
	<div class="price-card-container">
		<div class="card-status">
			<div>
				<h2 class="card-status__room text-primary">UNIT APARTEMEN</h2>
			</div>

			<span class="card-status__update">
				<span>Update </span>
				<span v-html="updatedAt"></span>
			</span>
			<span
				class="card-status__disclaimer"
				v-if="!isBooking || checker === null"
			>
				Data bisa berubah sewaktu-waktu
			</span>
		</div>

		<div class="card-price">
			<div
				v-if="priceMonthly != 0 && priceMonthly !== null"
				class="card-price__box"
			>
				<span>Rp {{ priceMonthly.toLocaleString('id-ID') }}</span>
				<span>/bulan</span>
			</div>

			<div
				v-if="priceDaily != 0 && priceDaily !== null"
				class="card-price__box"
			>
				<span>Rp {{ priceDaily.toLocaleString('id-ID') }}</span>
				<span>/hari</span>
			</div>

			<div
				v-if="priceWeekly != 0 && priceWeekly !== null"
				class="card-price__box"
			>
				<span>Rp {{ priceWeekly.toLocaleString('id-ID') }}</span>
				<span>/minggu</span>
			</div>

			<div
				v-if="priceYearly != 0 && priceYearly !== null"
				class="card-price__box"
			>
				<span>Rp {{ priceYearly.toLocaleString('id-ID') }}</span>
				<span>/tahun</span>
			</div>
		</div>

		<div class="card-info">
			<div v-for="(price, i) in priceComponents" class="card-info__components">
				<span>{{ price.label }}</span>
				<span>
					<strong>{{ price.price_reguler_formatted }}</strong>
				</span>
			</div>

			<div
				v-if="Object.keys(promotion).length !== 0"
				class="card-info__payment --apt-promo"
			>
				<div class="promo-title">
					<img
						v-lazy="'/general/img/icons/ic_promotion.svg'"
						alt="ic_promotion"
						title="promo icon"
					/>
					<span>{{ promotion.title }}</span>
				</div>

				<span class="text-primary" @click="openModalPromo">Lihat Promo</span>
			</div>

			<div class="card-info__payment">
				<span v-if="priceMin.length != 0 && priceMin[0] != null">
					Pembayaran {{ priceMin[0] }}
				</span>
				<span v-else>Tidak ada ketentuan min. pembayaran</span>
			</div>

			<div class="card-info__contact">
				<span>Nomor Telepon : </span>
				<span
					class="text-primary"
					:class="phoneTracking"
					@click="openModalChat"
				>
					Lihat Nomor Telepon
				</span>
			</div>
		</div>

		<div class="card-footer">
			<button
				type="button"
				class="btn btn-info"
				:class="msgTracking"
				@click="openModalChat"
			>
				Hubungi Pengelola
			</button>
		</div>
	</div>
</template>

<script>
import EventBus from '../../event-bus';

export default {
	data() {
		return {
			phoneTracking: 'track-message track-ask-phone-number-apt'
		};
	},

	computed: {
		updatedAt() {
			return this.$store.state.detail.updated_at;
		},
		priceDaily() {
			return this.$store.state.detail.price_daily || 0;
		},
		priceWeekly() {
			return this.$store.state.detail.price_weekly || 0;
		},
		priceMonthly() {
			return this.$store.state.detail.price_monthly || 0;
		},
		priceYearly() {
			return this.$store.state.detail.price_yearly || 0;
		},
		priceComponents() {
			return this.$store.state.detail.price_components || [];
		},
		priceMin() {
			return this.$store.state.detail.fac_keyword || [];
		},
		isBooking() {
			return this.$store.state.detail.is_booking || false;
		},
		checker() {
			return this.$store.state.detail.checker || null;
		},
		promotion() {
			return this.$store.state.detail.promotion || {};
		},
		msgTracking() {
			return `track-message ${this.$store.state.detail.msg_tracking}`;
		}
	},

	methods: {
		openModalChat() {
			EventBus.$emit('openModalChat');
		},
		openModalPromo() {
			EventBus.$emit('openModalPromo');
		}
	}
};
</script>

<style lang="scss" scoped>
.price-card-container {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.07);
	border-radius: 3px;
	width: 305px;
	padding: 2.5rem;
}

.card-status {
	display: flex;
	flex-direction: column;

	.card-status__room {
		font-size: 1.2em;
		line-height: inherit;
		margin: 0 0 1.5rem 0;
		font-weight: 700;
		text-transform: capitalize;
	}

	.card-status__update {
		font-size: 0.85em;
	}

	.card-status__disclaimer {
		font-size: 0.85em;
		font-weight: 700;
	}
}

.card-price {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	.card-price__box {
		font-weight: 700;
		padding: 1rem 0;
		display: flex;
		font-size: 1.1em;
		justify-content: space-between;
		border-bottom: 1px solid #f2f2f2;
		pointer-events: none;

		&:last-child {
			border-bottom: none;
		}
	}
}

.card-info {
	margin-bottom: 2.5rem;

	.card-info__components {
		display: flex;
		justify-content: space-between;
	}

	.card-info__payment {
		margin-top: 1.5rem;

		&.--apt-promo {
			display: flex;
			justify-content: space-between;
			margin-right: -1rem;

			.promo-title {
				display: flex;
				align-items: center;
				margin-right: 1rem;

				img {
					height: 1em;
					margin-right: 0.5rem;
				}
			}

			.text-primary {
				color: #1baa56;
				cursor: pointer;
			}
		}
	}

	.card-info__contact {
		font-weight: bold;
		margin-top: 1.5rem;

		.text-primary {
			cursor: pointer;
		}
	}
}

.card-footer {
	.btn-info,
	.btn-disabled {
		width: 100%;
		display: flex;
		font-weight: 700;
		align-items: center;
		justify-content: center;
	}
}
</style>
