<template>
	<section id="detailAptFacilities">
		<div class="apt-fac-container col-md-12">
			<div class="fac-section">
				<div class="section-title">
					<h2 class="label-normalize">Detail Apartment</h2>
				</div>

				<div :class="classFacBox">
					<div :class="classFacItem">
						<img
							v-lazy="'/general/img/icons/ic_villa_building.svg'"
							alt="ic_villa_building"
						/>
						<h3 class="text-normalize">Luas Unit {{ unitProp.size }}</h3>
					</div>

					<div :class="classFacItem">
						<img
							v-lazy="'/general/img/icons/ic_villa_floor.svg'"
							alt="ic_villa_floor"
						/>
						<h3 class="text-normalize">Lantai {{ unitProp.floor }}</h3>
					</div>

					<div :class="classFacItem">
						<img
							v-lazy="'/general/img/icons/ic_apartment_building.svg'"
							alt="ic_villa_building"
						/>
						<h3 class="text-normalize">Unit {{ unitProp.unit_type }}</h3>
					</div>
				</div>
			</div>

			<div class="fac-section">
				<div class="section-title">
					<h2 class="label-normalize">Fasilitas Unit</h2>
				</div>

				<div :class="classFacBox">
					<div v-for="(fac, i) in facUnit" :class="classFacItem" :key="i">
						<img v-lazy="fac.small_photo_url" class="--room" />
						<h3 class="label-normalize">{{ fac.name }}</h3>
					</div>
				</div>
			</div>

			<div class="fac-section">
				<div class="section-title">
					<h2 class="label-normalize">Deskripsi Apartemen</h2>
				</div>

				<div class="fac-desc">
					<span v-html="facDesc"></span>
				</div>
			</div>

			<div class="fac-section">
				<div class="section-title">
					<h2 class="label-normalize">Fasilitas Proyek</h2>
				</div>

				<div :class="classFacBox">
					<div v-for="(fac, i) in facProject" :class="classFacItem" :key="i">
						<img v-lazy="fac.small_photo_url" class="--room" />
						<h3 class="label-normalize">{{ fac.name }}</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			classFacBox: 'col-xs-12 fac-box',
			classFacItem: 'col-xs-6 col-sm-3 col-md-4 col-mlg-3 fac-detail'
		};
	},

	computed: {
		unitProp() {
			return this.$store.state.detail.unit_properties;
		},
		facUnit() {
			return this.$store.state.detail.fac_room_icon;
		},
		facDesc() {
			return this.$store.state.detail.description;
		},
		facProject() {
			return this.$store.state.detail.project.facilities;
		}
	}
};
</script>

<style lang="scss" scoped>
.apt-fac-container {
	margin-top: 2rem;

	@media (max-width: 767px) {
		padding: 0;
	}

	.fac-box {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;

		.fac-detail {
			margin-bottom: 1.5rem;
			display: flex;
			align-items: center;

			img {
				height: 1.15em;
				margin-right: 1rem;

				&.--room {
					height: 2.15em;
				}
			}
		}
	}

	.fac-desc {
		margin-bottom: 2.5rem;

		span {
			word-wrap: break-word;
		}
	}
}
</style>
