<template>
	<div class="container-fluid">
		<not-found-navbar></not-found-navbar>

		<not-found-header-info class="container-info"></not-found-header-info>

		<div v-for="i in listOf" :key="i">
			<not-found-landing-city
				:infoListOf="i"
				:cityList="cityList"
			></not-found-landing-city>
		</div>

		<mami-footer class="container-footer"></mami-footer>
	</div>
</template>

<script>
import MamiFooter from '../../@components/MamiFooter';
import NotFoundHeaderInfo from './NotFoundHeaderInfo.vue';
import NotFoundLandingCity from './NotFoundLandingCity.vue';
import NotFoundNavbar from './NotFoundNavbar';

export default {
	components: {
		MamiFooter,
		NotFoundHeaderInfo,
		NotFoundLandingCity,
		NotFoundNavbar
	},

	data() {
		return {
			listOf: ['Kost', 'Apartemen', 'Loker'],
			cityList: [
				{
					name: 'Jogjakarta',
					url: {
						kost: '/kost/kost-jogja-murah',
						apartemen: '/daftar/apartemen-di-jogja',
						loker: '/loker/1/lowongan-kerja-jogja'
					}
				},
				{
					name: 'Jabodetabek',
					url: {
						kost: 'kost/kost-jakarta-murah',
						apartemen: '/daftar/apartemen-di-jakarta',
						loker: '/loker/1/lowongan-kerja-dki-jakarta'
					}
				},
				{
					name: 'Surabaya',
					url: {
						kost: '/kost/kost-surabaya-murah',
						apartemen: '/daftar/apartemen-di-surabaya',
						loker: '/loker/1/lowongan-kerja-surabaya'
					}
				},
				{
					name: 'Bandung',
					url: {
						kost: '/kost/kost-bandung-murah',
						apartemen: '/daftar/apartemen-di-bandung',
						loker: '/loker/1/lowongan-kerja-bandung'
					}
				},
				{
					name: 'Malang',
					url: {
						kost: '/kost/kost-malang-murah',
						apartemen: '/daftar/apartemen-di-malang',
						loker: '/loker/1/lowongan-kerja-malang'
					}
				},
				{
					name: 'Semarang',
					url: {
						kost: '/kost/kost-semarang-murah',
						apartemen: '/daftar/apartemen-di-semarang',
						loker: '/loker/1/lowongan-kerja-semarang'
					}
				},
				{
					name: 'Bali',
					url: {
						kost: '/kost/kost-denpasar-bali-murah',
						apartemen: '/daftar/apartemen-di-bali',
						loker: '/loker/1/lowongan-kerja-bali'
					}
				},
				{
					name: 'Makassar',
					url: {
						kost: '/kost/kost-makassar-murah',
						apartemen: '/daftar/apartemen-di-makassar',
						loker: '/loker/1/lowongan-kerja-makassar'
					}
				},
				{
					name: 'Medan',
					url: {
						kost: '/kost/kost-medan-murah',
						apartemen: '/daftar/apartemen-di-medan',
						loker: '/loker/1/lowongan-kerja-medan'
					}
				}
			]
		};
	}
};
</script>

<style>
.desktop-label {
	margin-top: 70px !important;
}
button:hover {
	background-color: #1baa56 !important;
}
</style>

<style scoped>
.container-info {
	margin-top: 100px;
}
.container-footer {
	margin-top: 50px;
}
</style>
