<template>
	<nav
		id="notFoundNavbar"
		class="navbar navbar-default navbar-fixed-top container"
	>
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<img
					src="/general/img/logo/logo_mamikos_green.svg"
					title="mamikos"
					alt="logo_mamikos_green"
				/>
			</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/cari">Cari Iklan</a></li>
		</ul>
	</nav>
</template>

<style lang="scss" scoped>
#notFoundNavbar {
	display: flex;

	&.navbar-default {
		@media (min-width: 768px) {
			background-color: #fff;
			border-color: #fff;
		}
	}

	.navbar-header {
		.navbar-brand {
			img {
				width: 9em;
			}
		}
	}

	.navbar-right {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		position: relative;
		right: 2rem;

		li {
			a {
				font-weight: 700;
				font-size: 1.2em;
				color: #1baa56;
			}
		}
	}
}
</style>
