<template>
	<div class="container-fluid container-main-city">
		<div class="title text-center">
			<span>Cari Info {{ infoListOf }} lain di: </span>
			<br />
		</div>

		<div class="list-of-cities">
			<div v-for="(name, i) in cityList" :key="i">
				<div v-if="infoListOf == 'Kost'">
					<a :href="cityList[i].url.kost">
						<button class="btn">
							{{ cityList[i].name }}
						</button>
					</a>
				</div>

				<div v-else-if="infoListOf == 'Apartemen'">
					<a :href="cityList[i].url.apartemen">
						<button class="btn">
							{{ cityList[i].name }}
						</button>
					</a>
				</div>

				<div v-else>
					<a :href="cityList[i].url.loker">
						<button class="btn">
							{{ cityList[i].name }}
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		infoListOf: {
			type: String,
			required: true
		},
		cityList: {
			type: Array,
			required: true
		}
	}
};
</script>

<style scoped>
.container-main-city {
	margin-bottom: 30px;
}

.title {
	margin-bottom: 10px;
}

.title span {
	font-size: 20px;
}

.list-of-cities {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

button {
	margin: 5px;
	padding: 6px 12px;
	border-radius: 30px;
	color: black;
}

button:hover {
	background-color: #14b255;
	color: white;
}
</style>
