@import '../functions/string';

@mixin variant($selectors...) {
	@each $selector in $selectors {
		@at-root #{$selector}#{&} {
			@content;
		}
	}
}

@mixin parent($parentNumber: 1) {
	$current-selectors: str-split(#{&});
	$lastIndexParent: if(
		length($current-selectors) > 1,
		length($current-selectors) - $parentNumber,
		1
	);
	$parentSelector: '';

	@if $parentNumber > length($current-selectors) - 1 {
		@error "parent argument must be smaller than " + length($current-selectors);
	}

	@for $i from 1 through $lastIndexParent {
		$parentSelector: $parentSelector + ' ' + nth($current-selectors, $i);
	}
	@at-root #{$parentSelector} {
		@content;
	}
}
