<template>
	<div class="kost-location">
		<bg-divider />

		<div class="kost-location__content">
			<span class="kost-location__title">Lokasi</span>

			<div class="kost-location__map">
				<div v-if="isLimitedContent">
					<bg-button
						variant="tertiary-inversed"
						class="kost-location__map-button"
						@click="openModalLogin"
						>Lihat peta</bg-button
					>
					<div class="kost-location__map-overlay"></div>
				</div>

				<div
					:class="[
						'kost-location__pinpoint',
						{
							'kost-location__pinpoint--disable':
								navigator.isMobile || isLimitedContent
						}
					]"
				>
					<detail-kost-location-map
						:is-overlay="isLimitedContent"
						:is-mobile="navigator.isMobile"
					></detail-kost-location-map>
				</div>

				<bg-button
					v-if="!navigator.isMobile"
					class="kost-location__map-ask"
					:class="{ 'kost-location__map-ask--blur': isLimitedContent }"
					@click="openModalChat"
					>Tanya alamat lengkap</bg-button
				>
				<bg-button
					v-else
					class="kost-location__map-open"
					:class="{ 'kost-location__map-open--blur': isLimitedContent }"
					@click="openModalMap"
					>Buka peta</bg-button
				>
			</div>

			<div class="kost-location__address">{{ fullCityName }}</div>

			<!-- login -->
			<modal-form-login
				v-if="isLimitedContent"
				:show-modal-login="isModalLoginVisible"
				:starting-state="modalLoginState"
				@closeModal="closeModalLogin"
			>
			</modal-form-login>

			<!-- map modal for mobile -->
			<detail-kost-location-map-modal
				:show-modal-map="isModalMapVisible"
				@close-modal="closeModalMap"
				@ask-address="openModalChat"
			></detail-kost-location-map-modal>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import EventBus from '../../../event-bus';
import mixinDetailChat from '../../../mixins/MixinDetailChat';

import ModalFormLogin from 'Js/_login/components/ModalFormLogin';
import DetailKostLocationMap from './DetailKostLocationMap';
import DetailKostLocationMapModal from './DetailKostLocationMapModal';

import { BgButton, BgDivider } from 'bangul-vue';

export default {
	components: {
		ModalFormLogin,
		DetailKostLocationMap,
		DetailKostLocationMapModal,
		BgButton,
		BgDivider
	},
	mixins: [mixinDetailChat],
	data() {
		return {
			map: {},
			isModalLoginVisible: false,
			isModalMapVisible: false,
			modalLoginState: 'default'
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		isLimitedContent() {
			return this.$store.state.extras.isLimitedContent;
		},
		subdistrict() {
			return _get(this.$store, 'state.detail.area_subdistrict', '');
		},
		city() {
			return _get(this.$store, 'state.detail.area_city', '');
		},
		bigCity() {
			return _get(this.$store, 'state.detail.area_city_keyword', '');
		},
		fullCityName() {
			const cityNameResult = [];

			this.subdistrict && cityNameResult.push(this.subdistrict);
			this.city && cityNameResult.push(this.city);
			this.bigCity && cityNameResult.push(this.bigCity);

			return cityNameResult.join(', ');
		}
	},

	methods: {
		openModalChat() {
			EventBus.$emit('sendPretextChat', {
				string: 'Tanya alamat ?',
				for:
					this.detailTypeName === 'Kost'
						? 'kos'
						: this.detailTypeName.toLowerCase()
			});
		},
		openModalLogin() {
			this.isModalLoginVisible = true;
			this.sendMapTracker();
		},
		openModalMap() {
			this.isModalMapVisible = true;
		},
		closeModalLogin() {
			this.isModalLoginVisible = false;
			this.modalLoginState = 'default';
		},
		closeModalMap() {
			this.isModalMapVisible = false;
		},
		sendMapTracker() {
			tracker('moe', [
				'[User] Detail Property - Click Lihat Peta',
				{
					is_limitedcontent: this.isLimitedContent,
					is_premium: _get(this.detail, 'is_premium_owner', false),
					is_promoted: _get(this.detail, 'is_promoted', false),
					is_booking: _get(this.detail, 'is_booking', false),
					is_login: this.authCheck.all || null,
					property_type: this.detailTypeName || null,
					property_id: _get(this.detail, 'seq', null),
					property_city: _get(this.detail, 'area_city', null),
					property_name: _get(this.detail, 'room_title', null)
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-location__map-ask {
	position: absolute;
	bottom: 16px;
	left: 50%;
	z-index: 950;
	transform: translate(-50%, 0);
}

.kost-location__map-open {
	position: absolute;
	right: 8px;
	bottom: 8px;
	z-index: 950;
}

.kost-location__map {
	position: relative;
	width: 100%;
	height: 360px;
	margin-top: 24px;

	@media (max-width: 767px) {
		height: 220px;
	}
}

.kost-location__map-overlay {
	position: absolute;
	z-index: 951;
	width: 100%;
	height: 360px;
	background: rgba(0, 0, 0, 0.5);

	@media (max-width: 767px) {
		height: 220px;
		border-radius: 8px;
	}
}

.kost-location__map-button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 952;
	transform: translate(-50%, -50%);
}

.kost-location__map-ask--blur,
.kost-location__map-open--blur {
	filter: blur(4px);
}

.kost-location {
	display: block;

	@media (max-width: 767px) {
		padding: 0 16px;
		background: #fff;
	}

	&__title {
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;
		color: #303030;

		@media (max-width: 767px) {
			font-size: 20px;
			line-height: 28px;
		}
	}
}

.kost-location__content {
	padding: 48px 0;

	@media (max-width: 767px) {
		padding: 32px 0;
	}
}

.kost-location__address {
	margin-top: 16px;

	@media (max-width: 767px) {
		margin-top: 12px;
	}
}

.kost-location__pinpoint {
	display: block;
}

.kost-location__pinpoint--disable {
	pointer-events: none;
}
</style>
