<template>
	<div :id="mapId" :ref="mapId" class="map-container">
		<div class="map-container__hide">
			<detail-kost-location-marker ref="marker" />
		</div>
	</div>
</template>

<script>
/* eslint-disable no-undef */
import _get from 'lodash/get';
import DetailKostLocationMarker from './DetailKostLocationMarker';

export default {
	components: {
		DetailKostLocationMarker
	},

	props: {
		mapId: {
			type: String,
			default: 'detailMap'
		},
		isMobile: {
			type: Boolean,
			default: false
		},
		isOverlay: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			map: null,
			isMapCalled: false
		};
	},

	computed: {
		osmHost() {
			return osmHost;
		},
		longitude() {
			return Number(this.$store.state.detail.location[0]);
		},
		latitude() {
			return Number(this.$store.state.detail.location[1]);
		},
		latLng() {
			return {
				lat: this.latitude || null,
				lng: this.longitude || null
			};
		},
		mapContainerRefs() {
			return this.$refs[this.mapId];
		},
		isDisabled() {
			return (
				_get(this.$store.state, 'extras.isLimitedContent', false) ||
				navigator.isMobile
			);
		}
	},

	watch: {
		isOverlay(value) {
			if (!value) {
				this.mapContainerRefs.style.filter = 'none';
			}
		}
	},

	mounted() {
		this.initMap();
	},

	methods: {
		initMap() {
			this.$nextTick(() => {
				if (!this.isMapCalled) {
					this.initMapObject();
					this.initMapLayer();
					this.initCustomMarker();
					this.initMapCustomControl();
				}
			});

			if (this.isOverlay) {
				this.mapContainerRefs.style.filter = 'blur(4px)';
			}
		},
		initMapObject() {
			this.isMapCalled = true;

			this.map = L.map(this.mapId, {
				center: this.latLng,
				zoom: 14,
				minZoom: 10,
				maxZoom: 18,
				zoomControl: false,
				attributionControl: false
			});
		},
		initMapLayer() {
			L.tileLayer(`${this.osmHost}/hot/{z}/{x}/{y}.png`).addTo(this.map);
		},
		initCustomMarker() {
			const markerEl = _get(this.$refs, 'marker.$el', null);

			if (markerEl) {
				const markerIcon = L.divIcon({
					className: `${this.isDisabled ? 'marker--disabled' : ''}`,
					html: markerEl
				});

				L.marker(this.latLng, { icon: markerIcon }).addTo(this.map);
				return;
			}

			const homeIcon = L.icon({
				iconUrl: '/general/img/icons/ic_owner_placeholder.png',
				iconSize: this.isMobile ? [32, 32] : [48, 48],
				className: 'marker-unclickable'
			});

			const circle = L.circleMarker(this.latLng, {
				stroke: false,
				fillOpacity: 0.2,
				fillColor: 'rgb(0, 135, 66)',
				radius: this.isMobile ? 32 : 36,
				className: 'marker-unclickable'
			});

			const marker = L.marker(this.latLng, { icon: homeIcon });

			L.layerGroup([circle, marker]).addTo(this.map);
		},
		initMapCustomControl() {
			if (this.isMobile) this.map.scrollWheelZoom.disable();
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#detailMap {
	@media (max-width: 767px) {
		border-radius: 8px;
	}

	.marker-unclickable {
		cursor: default;
	}

	.leaflet-marker-icon {
		position: relative;
	}

	.marker--disabled {
		pointer-events: none;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.map-container {
	width: 100%;
	height: 360px;

	@media (max-width: 767px) {
		height: 220px;
	}

	.map-container__hide {
		visibility: hidden;
	}
}

/* stylelint-disable */
#detailMapModal {
	height: 100%;
}
/* stylelint-enable */
</style>
