<template>
	<div class="marker">
		<span class="marker__radius">
			<bg-icon-two-tones
				name="home"
				:size="navigator.isMobile ? 'sm' : 'md'"
				color-secondary="#008742"
				color-primary="#fff"
			/>
		</span>
	</div>
</template>

<script>
import { BgIconTwoTones } from 'bangul-vue';

export default {
	name: 'DetailKostLocationMarker',
	components: {
		BgIconTwoTones
	}
};
</script>

<style lang="scss" scoped>
.marker {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: 72px;
	height: 72px;
	cursor: context-menu;
	background: rgba(0, 135, 66, 0.2);
	border-radius: 36px;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;

	@media (max-width: 767px) {
		width: 64px;
		height: 64px;
		border-radius: 32px;
	}

	.marker__radius {
		display: flex;
		width: 48px;
		height: 48px;
		background: #008742;
		border-radius: 24px;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			width: 32px;
			height: 32px;
			border-radius: 16px;
		}
	}
}
</style>
