<template>
	<div class="consultant-navbar" :class="parentNavbarClassName">
		<template v-if="hasSidebar && componentWasMounted">
			<consultant-sidebar v-model="sidebarOpen" right></consultant-sidebar>
		</template>
		<nav class="navbar" :style="navbarStyles">
			<div class="container-for-mobile">
				<div class="consultant-navbar__content">
					<div class="left-action navbar-action">
						<button
							v-if="icons.back"
							class="navbar-btn-action arrow-right"
							@click="handleRouteBack"
						>
							<i class="mamikos-icon icon-arrow-right-long"></i>
						</button>
					</div>
					<div class="navbar-title">
						{{ isPrimaryNavbar ? 'Konsultan Mamikos' : navbarOptions.title }}
						<p v-if="hasSubtitle" class="navbar-subtitle">
							{{ navbarOptions.subtitle }}
						</p>
					</div>
					<div class="right-action navbar-action">
						<button
							v-if="icons.burger"
							class="navbar-btn-action drawer-activator"
							@click="handleOpenSidebar"
						>
							<i class="mamikos-icon icon-burger-menu"></i>
						</button>
						<consultant-menu
							v-if="icons.menu"
							:options="menuOptions"
							offset-left
							@select="handleSelectMenu"
						>
							<button slot="activator" class="navbar-btn-action menu-activator">
								<i class="mamikos-icon icon-more-vertical"></i>
							</button>
							<div slot="item" slot-scope="props" class="navbar-menu-title">
								<i :class="`mamikos-icon icon-${props.item.icon}`"></i> &nbsp;
								{{ props.item.title }}
							</div>
						</consultant-menu>
					</div>
				</div>
			</div>
			<div v-if="navbarExtended" class="consultant-navbar__extended"></div>
		</nav>
	</div>
</template>
<script>
import ConsultantSidebar from 'Consultant/components/sidebar/ConsultantSidebar.vue';
import ConsultantMenu from 'Consultant/components/ConsultantMenu.vue';
import { toKebebCase } from 'Consultant/helpers/stringManipulation';
import EventBus from 'Consultant/event-bus';

export default {
	name: 'Navbar',

	components: {
		ConsultantSidebar,
		ConsultantMenu
	},

	data() {
		return {
			navbarOptions: {
				subtitle: ''
			},
			navbarExtended: false,
			sidebarOpen: false,
			componentWasMounted: false,
			navbarStyles: ''
		};
	},

	computed: {
		isPrimaryNavbar() {
			const { primary = false } = this.navbarOptions;

			return primary;
		},

		parentNavbarClassName() {
			return {
				'consultant-navbar--primary': this.isPrimaryNavbar,
				'consultant-navbar--secondary': !this.isPrimaryNavbar,
				'has-extend': this.navbarExtended
			};
		},
		icons() {
			const { actionIcons = {} } = this.navbarOptions;

			return {
				back: true,
				burger: false,
				menu: false,
				...actionIcons
			};
		},
		hasSidebar() {
			return this.icons.burger;
		},
		menuOptions() {
			const {
				menuOptions: { options }
			} = this.navbarOptions;

			return options;
		},
		hasSubtitle() {
			return this.navbarOptions.subtitle !== '';
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(value) {
				if (value) {
					this.navbarOptions = this.getOptionNavbarFromRoute(value);
					this.navbarExtended = this.checkNavbarExtended(value);
					this.navbarStyles = this.getStyleFromRoute(value);

					if (this.sidebarOpen) {
						this.sidebarOpen = false;
					}
				}
			}
		}
	},

	created() {
		EventBus.$on('OPEN_DRAWER_MENU', this.handleOpenSidebar);
	},

	mounted() {
		this.componentWasMounted = true;
	},

	methods: {
		getOptionNavbarFromRoute(route) {
			if (
				Object.hasOwnProperty.call(route.meta, 'navbarOptions') &&
				route.meta.navbarOptions
			) {
				return route.meta.navbarOptions;
			} else {
				return {};
			}
		},

		checkNavbarExtended(route) {
			return (
				Object.hasOwnProperty.call(route.meta, 'navbarExtended') &&
				route.meta.navbarExtended
			);
		},

		handleOpenSidebar() {
			this.sidebarOpen = true;
		},

		handleRouteBack() {
			const { navbarOptions = {} } = this.$route.meta;
			if (typeof navbarOptions.onClickBack === 'function') {
				navbarOptions.onClickBack();
			} else {
				if (navbarOptions.prevPathName) {
					this.$router.push({
						name: navbarOptions.prevPathName
					});
				} else {
					this.$router.go(-1);
				}
			}
		},

		getStyleFromRoute({ meta }) {
			let styles = '';
			const navbarOptions = meta.navbarOptions || {};
			if (navbarOptions.style) {
				for (const [prop, value] of Object.entries(navbarOptions.style)) {
					styles += `${toKebebCase(prop)}: ${value};`;
				}
			}

			return styles;
		},

		handleSelectMenu(value) {
			const {
				menuOptions: { prefix = '' }
			} = this.navbarOptions;
			const busPrefix = prefix ? `_${prefix}` : '';

			EventBus.$emit(`NAVBAR_MENU${busPrefix}`, value);
		}
	}
};
</script>
<style lang="scss" scoped>
@import 'Consultant/styles/variables/theme.scss';
@import 'Consultant/styles/mixins/_selector.scss';

/* stylelint-disable primer/no-unused-vars */
$border-color: #dbdbdb;
$red-mamikos: #e04205;

.logout-message {
	font-size: 16px;
	font-weight: 500;
}

.consultant-navbar {
	// position: relative;
	min-height: 60px;

	.navbar {
		background-color: #fff;
	}

	.consultant-navbar__content {
		position: relative;
		display: flex;
		height: 60px;
		align-items: center;
		justify-content: space-between;

		.navbar-action {
			display: flex;
			align-items: center;
			flex: 0 0 38px;
		}

		.left-action {
			justify-content: flex-start;
			.navbar-btn-action {
				padding-left: 8px;
			}
		}

		.right-action {
			justify-content: flex-end;
			.navbar-btn-action {
				padding-right: 8px;
			}
		}

		.navbar-title {
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: bold;
			line-height: 19px;
			text-align: center;
			letter-spacing: 0.15px;
		}

		.navbar-subtitle {
			margin-bottom: 0;
			font-weight: normal;
		}
	}

	.navbar-btn-action {
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		border: unset;
		outline: none;

		.mamikos-icon {
			font-size: 30px;
			color: #647482;

			@include variant('.consultant-navbar--primary') {
				color: #fff;
			}

			&.icon-more-vertical {
				font-size: 22px;
			}
		}

		&.arrow-right {
			transform: rotateY(180deg);
		}
	}

	// extend navbar
	&.has-extend {
		&.consultant-navbar--primary {
			.consultant-navbar__extended {
				width: 100%;
				height: 90px;
			}
		}
	}

	/* stylelint-disable */
	&.consultant-navbar--primary {
		nav.navbar {
			background-color: $mamikos-green;
			border-bottom-right-radius: 8%;
			border-bottom-left-radius: 8%;
			box-shadow: rgba(119, 119, 119, 0.4);

			.consultant-navbar__content {
				* {
					color: #fff;
				}
			}
		}
	}

	&.consultant-navbar--secondary {
		nav.navbar {
			background-color: #fff;

			* {
				color: #2e2d39;
			}
		}
	}

	.navbar-menu-title {
		display: flex;
		align-items: center;
		min-width: 100px;
	}

	::v-deep .consultant-menu {
		.menu__content {
			top: 15px !important;
			left: -75px !important;
		}
	}

	/* stylelint-enable */
}
</style>
