<template>
	<div class="mobile-filter hidden-md hidden-lg">
		<button
			class="btn btn-primary btn-mobile-filter"
			@click="showModal = !showModal"
		>
			<strong>FILTER & URUTKAN</strong>
		</button>

		<v-modal v-model="showModal">
			<a
				href="javascript:void(0)"
				class="btn-close-overlay"
				title="Batal mengubah filter"
				@click="showModal = false"
			>
				<span>&times;</span>
			</a>
			<label class="filter-header">Filter Pencarian</label>

			<div class="form-wrapper" v-if="isSelectedSpecific">
				<label for="">Pilih Lokasi</label>
				<v-select
					v-model="filter.specificPlace"
					:options="specificPlaces"
					options-value="value"
					placeholder="Cari nama tempat atau alamat.."
					search
					justified
					clear-button
					close-on-select
					class="form-custom"
				></v-select>
			</div>

			<div class="form-wrapper">
				<filter-kost-sort
					:sort-val="filter.sorting"
					@setFilter="setFilterSort"
				></filter-kost-sort>
			</div>

			<hr />

			<div class="form-wrapper">
				<filter-kost-type
					:genderVal="filter.gender"
					@setFilter="setFilterType"
				></filter-kost-type>
			</div>

			<div class="form-wrapper">
				<filter-time
					:durationVal="filter.rent_type"
					@setFilter="setFilterTime"
				></filter-time>
			</div>

			<div class="form-wrappe	r">
				<filter-price
					:property-type="'kost'"
					:display-button="false"
					:rent-type="filter.rent_type"
					@filterPriceMin="changePriceMin"
					@filterPriceMax="changePriceMax"
				/>
			</div>

			<div slot="modal-footer" class="modal-footer">
				<button class="btn btn-info btn-set-filter" @click="setAllFilters()">
					<strong>SET FILTER</strong>
				</button>
			</div>
		</v-modal>
	</div>
</template>

<script>
import EventBus from 'Js/_promo/event-bus/event-bus';
import { select, modal } from 'vue-strap';
const FilterPrice = () => import('Js/@components/FilterPrice');
const FilterKostSort = () => import('Js/@components/FilterKostSort');
const FilterKostType = () => import('Js/@components/FilterKostType');
const FilterTime = () => import('Js/@components/FilterTime');

export default {
	name: 'SharedPromoFilterMobile',

	components: {
		FilterPrice,
		FilterTime,
		FilterKostSort,
		FilterKostType,
		vModal: modal,
		vSelect: select
	},

	props: {
		cityList: {
			type: Object,
			required: true,
			default: ['Semua Kota']
		},
		isBooking: {
			type: Boolean,
			default: false
		},
		parentLanding: {
			type: Array
		},
		landingType: {
			type: String,
			default: false
		}
	},

	data() {
		return {
			showModal: false,

			filter: {
				gender: [0, 1, 2],
				price_range: [0, 15000000],
				rent_type: 2,
				sorting: ['price', '-'],
				specificPlace: null
			}
		};
	},

	computed: {
		cityListObject() {
			let places = [
				{
					label: 'Semua Kota',
					value: 'all'
				}
			];
			Object.keys(this.cityList).forEach(element => {
				places.push({
					label: this.cityList[element].label,
					value: element
				});
			});
			return places;
		},
		specificPlaces() {
			const specificPlaces = [];

			if (this.landingType === 'booking') {
				this.parentLanding.forEach((element, index) => {
					specificPlaces.push({
						label: this.parentLanding[index].label,
						value: element
					});
				});
			}
			return specificPlaces;
		},
		isSelectedSpecific() {
			return this.parentLanding.length > 0 ? true : false;
		}
	},

	watch: {
		'filter.specificPlace'(item) {
			if (item !== null && item.id !== this.parentId) {
				EventBus.$emit('filterSpecificPlaceChanged', item);
			}
		},
		'filter.rent_type'(item) {
			this.filter.rent_type = item;
			this.setInitialPrice(item);
			let payload = {
				rentType: item,
				priceRange: this.filter.price_range
			};
		}
	},

	created() {
		this.setInitialSpecificPlace();
	},

	methods: {
		setAllFilters() {
			let payload = this.filter;
			EventBus.$emit('filterSetFromModal', payload);
			this.sendGoogleAnalyticPrice();
			this.showModal = false;
		},

		//HANDLER
		setFilterSort(item) {
			this.filter.sorting = item;
		},
		setFilterType(item) {
			this.filter.gender = item;
		},
		setFilterTime(item) {
			this.filter.rent_type = item;
		},

		setInitialPrice(item) {
			if (item === 3) {
				this.filter.price_range = [0, 50000000];
			} else if (item === 2) {
				this.filter.price_range = [0, 15000000];
			} else if (item === 1) {
				this.filter.price_range = [0, 10000000];
			} else if (item === 0) {
				this.filter.price_range = [0, 5000000];
			}
		},
		changePriceMin(payload) {
			this.filter.price_range[0] = parseInt(payload);
		},
		changePriceMax(payload) {
			this.filter.price_range[1] = parseInt(payload);
		},
		setInitialSpecificPlace(item) {
			Object.keys(this.parentLanding).forEach((element, index) => {
				if (this.parentLanding[element].id === this.parentId) {
					this.filter.specificPlace = this.parentLanding[element];
				}
			});
		},

		sendGoogleAnalyticPrice() {
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'all',
					eventLabel:
						'Min: ' +
						this.filter.price_range[0] +
						' & Max: ' +
						this.filter.price_range[1]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'min',
					eventLabel: this.filter.price_range[0]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'max',
					eventLabel: this.filter.price_range[1]
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.btn-mobile-filter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	border-radius: 0;
	padding: 12px 0;
	font-size: 18px;
}
.btn-set-filter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	padding: 12px 0;
	font-size: 18px;
}

.filter-header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.filter-header:after {
	content: '';
	display: block;
	width: 120px;
	height: 50%;
	border-bottom: 2px solid #1baa56;
	margin-top: 10px;
}

.form-wrapper {
	padding: 0 12px;
	height: 46px;
	margin-bottom: 50px;
}

.form-custom {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.filter-gender-female {
	font-size: 18px;
	color: #f26389;
	padding-right: 2px;
	padding-left: 5px;
}
.filter-gender-male {
	font-size: 18px;
	color: #3498db;
	padding-right: 2px;
	padding-left: 2px;
}
.filter-gender-all {
	font-size: 18px;
	color: #9b59b6;
	padding-right: 2px;
	padding-left: 2px;
}

.btn-close-overlay {
	text-align: center;
	float: right;
	color: inherit;
	text-decoration: none;
	line-height: 1;
	margin-top: -30px;
}
.btn-close-overlay span {
	line-height: 30px;
}
.btn-close-overlay:hover {
	color: #000;
	text-decoration: none;
}
.btn-close-overlay:after {
	display: block;
	text-align: center;
	font-weight: normal;
}
@media (max-width: 767px) {
	.btn-close-overlay {
		font-size: 40px;
	}
	.btn-close-overlay:after {
		font-size: 14px;
		content: 'tutup';
	}
}
@media (min-width: 768px) {
	.btn-close-overlay {
		font-size: 45px;
	}
	.btn-close-overlay:after {
		font-size: 16px;
		content: 'esc';
	}
}
</style>

<style lang="scss">
.mobile-filter {
	.modal-dialog {
		margin: 0;
		width: 100%;
		height: 100%;
		border: none;
	}

	.modal-content {
		position: relative;
		border: none;
		border-radius: 0;
		height: 100%;
		z-index: 9;
	}
	.modal-header {
		display: none;
	}
	.modal-body {
		padding-top: 40px;
	}
	.modal-footer {
		border: none;
	}
}

.form-custom {
	.form-control.dropdown-toggle {
		height: 100%;
		padding-top: 12px;
	}

	.dropdown-menu {
		width: 100%;
	}
}

.form-wrapper {
	.field-price .form-control {
		height: 46px;
	}
}
</style>
