<template>
	<div class="container container-article">
		<p v-html="article"></p>
	</div>
</template>

<script>
export default {
	name: 'SharedPromoArticle',

	props: {
		article: {
			type: String,
			required: true,
			default: ''
		}
	}
};
</script>

<style lang="css" scoped>
.container-article {
	margin-top: 25px;
	margin-bottom: 50px;
}
</style>
