<template>
	<div
		class="filter"
		:class="[
			filterTransform,
			{
				'--short': isLogin
			}
		]"
	>
		<div class="container filter-container">
			<div id="filter" class="row main-filter" :class="[filterShadow]">
				<!-- place -->
				<div
					class="form-wrapper col-xs-12 col-md-2"
					:class="[isSelectedSpecific ? 'col-lg-2' : 'col-lg-3']"
				>
					<v-select
						v-model="filter.place"
						:options="cityListObject"
						options-value="value"
						placeholder="Cari nama tempat atau alamat.."
						search
						justified
						clear-button
						close-on-select
						class="form-custom"
					></v-select>
				</div>

				<div
					class="form-wrapper hidden-xs hidden-sm col-md-2 "
					v-if="isSelectedSpecific"
				>
					<v-select
						v-model="filter.specificPlace"
						:options="specificPlaces"
						options-value="value"
						placeholder="Cari nama tempat atau alamat.."
						search
						justified
						clear-button
						close-on-select
						class="form-custom"
					></v-select>
				</div>

				<!-- gender type -->
				<div class="form-wrapper hidden-xs hidden-sm col-md-2">
					<filter-kost-type
						:label="false"
						:genderVal="filter.gender"
						@setFilter="setFilterType"
					></filter-kost-type>
				</div>

				<!-- rent type -->
				<div class="form-wrapper hidden-xs hidden-sm col-md-2">
					<filter-time
						:label="false"
						:durationVal="filter.rent_type"
						@setFilter="setFilterTime"
					></filter-time>
				</div>

				<!-- price range -->
				<div
					class=" form-wrapper hidden-xs hidden-sm col-md-6 col-lg-4"
					:class="[isSelectedSpecific ? 'col-lg-4' : 'col-lg-5']"
				>
					<filter-price
						:property-type="'kost'"
						:label="false"
						:rent-type="filter.rent_type"
						@filterPrice="setFilterPrice"
					/>
				</div>
				<!-- end -->
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from 'Js/_promo/event-bus/event-bus';
import { select, option } from 'vue-strap';
import _get from 'lodash/get';

const FilterPrice = () => import('Js/@components/FilterPrice');
const FilterKostType = () => import('Js/@components/FilterKostType');
const FilterTime = () => import('Js/@components/FilterTime');

export default {
	name: 'SharedPromoFilter',

	components: {
		FilterPrice,
		FilterKostType,
		FilterTime,
		vSelect: select,
		vOption: option
	},

	props: {
		cityList: {
			type: Object,
			required: true,
			default: ['Semua Kota']
		},
		landingType: {
			type: String,
			default: false
		},
		parentLanding: {
			type: Array
		}
	},

	computed: {
		parentId() {
			return this.$root.state.parentId;
		},
		cityListObject() {
			const places = [];
			if (this.landingType === 'booking') {
				places.push({
					label: 'Semua Kota',
					value: 'all'
				});
			}
			Object.keys(this.cityList).forEach(element => {
				places.push({
					label: this.cityList[element].label,
					value: element
				});
			});
			return places;
		},
		specificPlaces() {
			const specificPlaces = [];

			if (this.landingType === 'booking') {
				this.parentLanding.forEach((element, index) => {
					specificPlaces.push({
						label: this.parentLanding[index].label,
						value: element
					});
				});
			}
			return specificPlaces;
		},
		filterExists() {
			return this.$root.state.filters.length === 0 ? false : true;
		},

		// AESTHETIC
		filterShadow() {
			if (this.isScrolledPast) {
				return 'filter-no-shadow';
			} else {
				return '';
			}
		},
		filterTransform() {
			if (this.isScrolledPast) {
				return 'filter-fill';
			} else {
				return '';
			}
		},
		isSelectedSpecific() {
			return this.parentLanding.length > 0 ? true : false;
		},
		isLogin() {
			return _get(this.$root.state.authCheck, 'all', false);
		}
	},

	data() {
		return {
			filter: {
				place: this.$root.state.selectedArea.value,
				specificPlace: null,
				gender: [0, 1, 2],
				price_range: [0, 15000000],
				rent_type: 2
			},

			isScrolledPast: false
		};
	},

	created() {
		this.setInitialFilters();
		this.setInitialSpecificPlace();
		window.onscroll = () => {
			if (window.pageYOffset >= 140) {
				this.isScrolledPast = true;
			} else {
				this.isScrolledPast = false;
			}
		};
	},

	watch: {
		'filter.place'(item) {
			if (item !== null) {
				EventBus.$emit('filterPlaceChanged', item);
			}
		},
		'filter.specificPlace'(item) {
			if (item !== null && item.id !== this.parentId) {
				EventBus.$emit('filterSpecificPlaceChanged', item);
			}
		}
	},

	methods: {
		//HANDLER
		setFilterType(item) {
			EventBus.$emit('filterGenderChanged', item);
		},
		setFilterTime(item) {
			this.filter.rent_type = item;
			this.setInitialPrice(item);
			let payload = {
				rentType: item,
				priceRange: this.filter.price_range
			};
			EventBus.$emit('filterRentTypeChanged', payload);
		},
		setFilterPrice(payload) {
			this.filter.price_range[0] = payload.min;
			this.filter.price_range[1] = payload.max;
			if (!this.isBusy) {
				EventBus.$emit('filterPriceRangeChanged', this.filter.price_range);
				this.sendGoogleAnalyticPrice();
			}
		},

		// MISC
		setInitialFilters() {
			if (this.landingType === 'kost-harian') {
				this.filter.rent_type = 0;
			} else {
				this.filter.rent_type = this.filterExists
					? this.$root.state.filters.rent_type
					: 2;
			}
			this.filter.gender =
				this.filterExists && this.$root.state.filters.gender != undefined
					? this.$root.state.filters.gender
					: [0, 1, 2];
			this.filter.price_range = this.filterExists
				? this.$root.state.filters.price_range
				: [0, 15000000];
		},
		setInitialPrice(item) {
			if (item === 3) {
				this.filter.price_range = [0, 50000000];
			} else if (item === 2) {
				this.filter.price_range = [0, 15000000];
			} else if (item === 1) {
				this.filter.price_range = [0, 10000000];
			} else if (item === 0) {
				this.filter.price_range = [0, 5000000];
			}
		},
		setInitialSpecificPlace(item) {
			Object.keys(this.parentLanding).forEach((element, index) => {
				if (this.parentLanding[element].id === this.parentId) {
					this.filter.specificPlace = this.parentLanding[element];
				}
			});
		},

		sendGoogleAnalyticPrice() {
			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'all',
					eventLabel:
						'Min: ' +
						this.filter.price_range[0] +
						' & Max: ' +
						this.filter.price_range[1]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'min',
					eventLabel: this.filter.price_range[0]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'max',
					eventLabel: this.filter.price_range[1]
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.filter {
	transition: all 0.2s;
	position: sticky;
	top: 104px;
	z-index: 10;

	@media (max-width: 991px) {
		top: 54px;
	}

	::-webkit-scrollbar {
		width: 1px;
		height: 1px;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		width: 1px;
		background: transparent;
	}
}

.--short {
	top: 80px;

	@media (max-width: 991px) {
		top: 54px;
	}
}

.filter-container {
	padding: 0 40px;
	transition: all 0.2s;
}

.main-filter {
	padding: 40px 20px;
	border-radius: 6px;
	transition: all 0.3s;
	background-color: #fff;
	box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);

	@media (max-width: 991px) {
		padding: 5px;
	}

	@media (min-width: 425px) and (max-width: 1199px) {
		display: flex;
	}
}
.filter-no-shadow {
	box-shadow: none;
	@media (max-width: 991px) {
		box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
		padding: 0;
	}
}
.filter-fill {
	background-color: #fff;
	padding: 0 40px;
	@media (max-width: 991px) {
		padding: 20px 0 10px;
	}
}
.form-wrapper {
	padding: 0 12px;
	height: 46px;
	@media (max-width: 991px) {
		padding: 0;
	}
}
.form-custom {
	width: 100%;
	height: 100%;
}
</style>

<style lang="scss">
.form-custom {
	.form-control.dropdown-toggle {
		height: 100%;
		padding-top: 12px;
		overflow: hidden;

		@media (max-width: 991px) {
			border: none;
			box-shadow: none !important;
		}

		&:focus {
			border-color: #1baa56 !important;
		}
	}

	.dropdown-menu {
		width: 100%;
		max-height: 300px;
		overflow-y: auto;
		text-transform: capitalize;
		@media (max-width: 991px) {
			top: calc(100% + 4px);
		}
	}

	.dropdown-menu > li > a {
		color: #333;
	}
	.dropdown-menu > li > a:hover {
		color: #fff;
		background-color: #1baa56;
	}
}

.form-wrapper {
	.form-control {
		height: 46px;
	}
}
</style>
