<template>
	<section id="listing" class="container listing-container">
		<list-placeholder v-show="isLoading" :mode="5"></list-placeholder>

		<div class="sub-filter" v-show="!isLoading && !isRoomEmpty">
			<span>
				<strong v-if="landingType === 'booking'">
					{{ roomsDisplayNumber }} Kost Bisa Anda Booking
				</strong>
				<strong v-else>{{ roomsDisplayNumber }} Kos-kosan</strong>
			</span>
			<div form-wrapper class="hidden-xs hidden-sm">
				<filter-kost-sort
					:sort-val="filter.sorting"
					@setFilter="setFilterSort"
					:label="false"
				></filter-kost-sort>
			</div>
		</div>

		<template v-if="!isLoading && isRoomEmpty">
			<div class="stats-not-found col-xs-12">
				<p><strong>Kost tidak ditemukan.</strong></p>
				<img src="/assets/history_zero.png" alt="Kost tidak ditemukan" />
			</div>
		</template>
		<template v-else-if="!isLoading && !isRoomEmpty">
			<room-list
				:rooms="rooms"
				grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
				@toggleLoginModal="toggleLoginModal"
			></room-list>
		</template>
	</section>
</template>

<script>
import EventBus from 'Js/_promo/event-bus/event-bus';
const FilterKostSort = () => import('Js/@components/FilterKostSort');

export default {
	name: 'SharedPromoListing',

	components: {
		FilterKostSort
	},

	data() {
		return {
			filter: {
				sorting: ['price', '-'],
				firstLoad: true
			}
		};
	},

	props: {
		rooms: {
			type: Array,
			required: true
		},
		roomsDisplayNumber: {
			type: String,
			required: true
		},
		isRoomEmpty: {
			type: Boolean,
			required: true
		},
		isLoading: {
			type: Boolean,
			required: true
		},
		landingType: {
			type: String,
			default: 'all-kost'
		}
	},
	methods: {
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		setFilterSort(item) {
			EventBus.$emit('filterSortingChanged', item);
		}
	}
};
</script>

<style lang="scss" scoped>
.listing-container {
	margin-top: 30px;
}
.sub-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
}
.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}
</style>
