<template>
	<div class="dbet-tenant" :class="shrinkContentClass">
		<dbet-tenant-navbar
			:is-allow-back="isAllowBack"
			:back-icon-mobile="navBackIcon"
			@back="onBackClicked"
		/>
		<router-view />
	</div>
</template>

<script>
import DbetTenantNavbar from './DbetTenantNavbar';

export default {
	components: {
		DbetTenantNavbar
	},
	computed: {
		isAllowBack() {
			return !this.$route.meta.noBack;
		},
		navBackIcon() {
			return this.$route.meta.isCloseTypeNav ? 'close' : 'back';
		},
		shrinkContentClass() {
			const contentWidth = this.$route.meta.width;
			return contentWidth ? `dbet-tenant--shrink-${contentWidth}` : '';
		},
		isOnboardingFinished() {
			return this.$store.state.isOnboardingFinished;
		}
	},
	created() {
		/* eslint-disable no-undef */
		if (dbetData) {
			this.$store.dispatch('initData', dbetData);
		}
		this.$store.commit('dbet/setDbetCodeFormatted', `dbet-${dbetCode}`);
		/* eslint-enable */
	},
	methods: {
		onBackClicked() {
			if (this.$route.name === 'form' && !this.isOnboardingFinished) {
				this.$router.replace({ name: 'onboarding', query: { step: 'last' } });
			} else {
				this.$router.go(-1);
			}
		}
	}
};
</script>

<style lang="scss">
.dbet-tenant {
	.bg-c-modal--open .bg-c-modal__wrapper {
		z-index: 9999; // set to below swal z-index
	}

	@media (max-width: 991px) {
		.bg-c-modal--popup {
			.bg-c-modal__inner {
				max-height: calc(100% - 54px) !important;

				/* stylelint-disable-next-line */
				.bg-c-modal__body {
					max-height: 100% !important;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.dbet-tenant {
	&,
	* {
		word-break: break-word;
	}

	width: 100%;
	max-width: 100%;
	padding-top: 64px;
	margin: 0 auto;

	&--shrink-sm {
		width: 360px;
	}

	&--shrink-md {
		width: 768px;
	}

	@media (max-width: 575px) {
		&--shrink-sm {
			width: 100%;
		}
	}
}
</style>
