<template>
	<bg-text
		ref="stickyTitle"
		class="dbet-sticky-title"
		tag="h4"
		:size="isStickOnTop ? 'heading-6' : 'heading-4'"
		:class="{ 'dbet-sticky-title--stick': isStickOnTop }"
	>
		{{ title }}
	</bg-text>
</template>

<script>
import { BgText } from 'bangul-vue';

export default {
	components: { BgText },
	props: {
		title: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isStickOnTop: false
		};
	},
	mounted() {
		window.addEventListener('scroll', this.setStickyTitle);
	},
	beforeDestroy() {
		window.removeEventListener('scroll', this.setStickyTitle);
	},
	methods: {
		setStickyTitle() {
			const titleTopStickyPosition = 16;
			const stickyTitle = this.$refs.stickyTitle;
			if (!this.navigator.isMobile && !stickyTitle) return;

			const titleFromTop = stickyTitle.$el.getBoundingClientRect().top;
			this.isStickOnTop = titleFromTop <= titleTopStickyPosition;
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-sticky-title {
	position: sticky;
	top: 16px;
	z-index: 2;
	margin-bottom: 16px;
	transition: 0.2s;

	&--stick {
		max-width: calc(100% - 72px);
		margin-left: 40px !important;
	}
}
</style>
