<template>
	<div class="dbet-navbar">
		<div class="dbet-navbar__left">
			<template v-if="isAllowBack">
				<bg-icon
					class="dbet-navbar__icon-back hidden-xs hidden-sm"
					size="md"
					role="button"
					alt="icon back"
					name="back"
					@click.native="$emit('back')"
				/>
				<bg-icon
					class="dbet-navbar__icon-back hidden-md hidden-lg"
					size="md"
					role="button"
					:alt="`icon ${backIconMobile}`"
					:name="backIconMobile"
					@click.native="$emit('back')"
				/>
			</template>
			<bg-link to="/" class="hidden-xs hidden-sm">
				<img
					v-lazy="'/assets/logo/svg/logo_mamikos_green.svg'"
					class="dbet-navbar__brand"
					alt="mamikos brand"
				/>
			</bg-link>
		</div>
		<div class="dbet-navbar__right">
			<bg-icon
				v-if="isRightClose"
				class="dbet-navbar__icon-close"
				size="md"
				role="button"
				alt="icon close"
				name="close"
				@click.native="$emit('close')"
			/>
		</div>
	</div>
</template>

<script>
import { BgIcon, BgLink } from 'bangul-vue';

export default {
	components: {
		BgIcon,
		BgLink
	},
	props: {
		backIconMobile: {
			type: String,
			default: 'back'
		},
		isAllowBack: {
			type: Boolean,
			default: false
		},
		isRightClose: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
.dbet-navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 64px;
	padding: 0 35px;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e8e8e8;

	> * {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__brand {
		width: 183px;
	}

	&__icon-back {
		margin-right: 16px;
		cursor: pointer;
	}

	@media (max-width: 991px) {
		left: 50%;
		width: inherit !important;
		height: 56px;
		padding: 16px;
		border: 0;
		transform: translateX(-50%);
	}
}
</style>
