<template>
	<bg-modal
		:value="true"
		:backdrop="false"
		:close-on-click-backdrop="false"
		:class="{ 'dbet-modal-swiper--hide-close': !isClosable }"
		desktop-size="md"
		mobile-size="fullpage"
		class="dbet-modal-swiper"
		@close="onModalClose"
	>
		<swiper
			ref="dbetModalSwiper"
			class="dbet-modal-swiper__swiper"
			:options="swiperOptions"
			@slideChange="onSwipe"
			@ready="setActiveIndex"
		>
			<swiper-slide
				v-for="(step, i) in steps"
				:key="`dbet-modal-swiper-${i}`"
				class="dbet-modal-swiper__swiper-slide"
			>
				<div class="dbet-modal-swiper__illustration">
					<bg-illustration :name="step.illustration" :alt="step.illustration" />
				</div>
				<bg-text v-if="step.title" tag="h4" size="heading-4" class="step-title">
					{{ step.title }}
				</bg-text>
				<div v-if="$slots[`step-${i + 1}`]">
					<slot :name="`step-${i + 1}`"></slot>
				</div>
				<div v-else-if="step.content" class="dbet-modal-swiper__content">
					<bg-text
						class="dbet-modal-swiper__content-text"
						tag="p"
						size="body-2"
					>
						{{ step.content }}
					</bg-text>
					<bg-link
						v-if="step.link"
						class="dbet-modal-swiper__content-link"
						variant="medium"
						target="_blank"
						rel="noopener"
						:href="step.link.href || step.link.hrefDefault"
					>
						<bg-text tag="span" size="body-2">
							{{ step.link.text }}
						</bg-text>
					</bg-link>
				</div>
			</swiper-slide>
		</swiper>
		<template #footer>
			<div class="dbet-modal-swiper__navigation">
				<div class="dbet-modal-swiper__navigation-item">
					<div slot="pagination" class="dbet-modal-swiper__swiper-pagination" />
				</div>
				<div class="dbet-modal-swiper__navigation-item">
					<bg-button
						variant="tertiary-naked"
						size="lg"
						class="dbet-modal-swiper__button dbet-modal-swiper__button-prev"
						@click="onButtonPrevClicked"
					>
						<span
							:class="{
								'hidden-md hidden-lg': isFirstStep,
								'hidden-xs hidden-sm': isFirstStep && isHideFirstBackMobile
							}"
						>
							Kembali
						</span>
					</bg-button>
				</div>
				<div class="dbet-modal-swiper__navigation-item">
					<bg-button
						variant="primary-naked"
						size="lg"
						class="dbet-modal-swiper__button dbet-modal-swiper__button-next"
						@click="onNextButtonClicked"
					>
						<span v-if="isLastStep">{{ lastStepNextText }}</span>
						<span v-else>Selanjutnya</span>
					</bg-button>
				</div>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { BgButton, BgIllustration, BgModal, BgText, BgLink } from 'bangul-vue';
import _get from 'lodash/get';

export default {
	components: {
		swiper,
		swiperSlide,
		BgButton,
		BgIllustration,
		BgModal,
		BgText,
		BgLink
	},
	props: {
		steps: {
			type: Array,
			required: true
		},
		isHideFirstBackMobile: {
			type: Boolean,
			default: false
		},
		lastStepNextText: {
			type: String,
			default: 'Selanjutnya'
		}
	},
	data() {
		return {
			swiperOptions: {
				slidesPerView: 1,
				simulateTouch: false,
				pagination: {
					el: '.dbet-modal-swiper__swiper-pagination',
					clickable: true
				},
				navigation: {
					nextEl: '.dbet-modal-swiper__button-next',
					prevEl: '.dbet-modal-swiper__button-prev'
				}
			},
			activeSlideIndex: 0
		};
	},
	computed: {
		isLastStep() {
			return this.activeSlideIndex >= this.steps.length - 1;
		},
		isFirstStep() {
			return this.activeSlideIndex === 0;
		},
		isClosable() {
			return !!this.steps[this.activeSlideIndex].closable;
		}
	},
	watch: {
		activeSlideIndex(step) {
			this.$emit('step-change', step);
		}
	},
	methods: {
		setActiveIndex() {
			const step = this.$route.query.step;
			if (step && !isNaN(step)) {
				this.updateActiveStep(Math.floor(parseInt(step) - 1));
			} else if (step && step === 'last') {
				this.updateActiveStep(this.steps.length);
			}
		},
		updateActiveStep(stepIndex) {
			this.$refs.dbetModalSwiper.swiper.activeIndex = stepIndex;
			this.activeSlideIndex = stepIndex;
			this.$refs.dbetModalSwiper.update();
		},
		onSwipe() {
			this.activeSlideIndex =
				_get(this.$refs, 'dbetModalSwiper.swiper.activeIndex') || 0;

			if (this.$route.query.step !== this.activeSlideIndex + 1) {
				this.$router.replace({
					query: Object.assign({}, this.$route.query, {
						step: this.activeSlideIndex + 1
					})
				});
			}
		},
		onModalClose() {
			this.$emit('close');
		},
		onButtonPrevClicked() {
			this.$emit('back', this.activeSlideIndex);
			this.isFirstStep && this.$emit('first-step-prev-clicked');
		},
		onNextButtonClicked() {
			this.$emit('next', this.activeSlideIndex);
			this.isLastStep && this.$emit('last-step-next-clicked');
		}
	}
};
</script>

<style lang="scss">
.dbet-modal-swiper {
	.bg-c-modal__inner {
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}

	&__swiper-pagination {
		flex-shrink: 0;

		> *:not(:first-of-type) {
			margin-left: 8px;
		}

		> .swiper-pagination-bullet {
			&:focus {
				outline: none !important;
			}
		}

		> .swiper-pagination-bullet-active {
			background-color: #1baa56 !important;
		}
	}

	&__button {
		padding-right: 0;
		padding-left: 0;
	}

	.bg-c-modal__action {
		height: 72px;
	}

	&--hide-close {
		.bg-c-modal__action-closable {
			display: none;
		}
	}

	@media (max-width: 991px) {
		&.bg-c-modal--fullpage .bg-c-modal__action-closable {
			margin: 6px 6px 0;
		}

		.bg-c-modal__footer {
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			padding-bottom: 12px;
		}

		.bg-c-modal__action {
			height: 54px;
		}
	}

	@media (min-width: 992px) {
		&.bg-c-modal--open .bg-c-modal__wrapper {
			position: relative;
			z-index: 0;
			min-height: 0;

			.bg-c-modal__body {
				max-height: 100% !important;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.dbet-modal-swiper {
	display: flex;
	width: 596px;
	max-width: 100%;
	padding: 24px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&:focus {
		outline: none;
	}

	&__swiper {
		display: flex;
		width: 100%;
		min-height: 100%;
		flex-direction: column;
		align-items: center;
	}

	&__swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;

		> *:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__navigation {
		position: relative;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	&__illustration {
		display: flex;
		justify-content: center;
	}

	&__navigation-item {
		flex-shrink: 0;

		&:nth-of-type(2) {
			flex-grow: 1;
			text-align: right;
		}

		&:last-of-type {
			margin-left: 48px;
		}
	}

	@media (max-width: 991px) {
		&__navigation-item {
			&:nth-of-type(1) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			&:nth-last-of-type(2) {
				flex-grow: 0;
				text-align: left;
			}

			&:last-of-type {
				margin-left: 0;
			}
		}
	}
}
</style>
