<template>
	<dbet-tenant-modal-swiper
		v-if="isLoadedOnboarding"
		class="dbet-tenant-onboarding"
		:steps="onboardingStepsRender"
		last-step-next-text="Mulai isi data"
		@first-step-prev-clicked="goToHomepage"
		@last-step-next-clicked="onLastStepNextClicked"
		@close="goToHomepage"
	/>
</template>

<script>
import _get from 'lodash/get';
import _map from 'lodash/map';
import { mapState, mapGetters, mapMutations } from 'vuex';
import DbetTenantModalSwiper from './DbetTenantModalSwiper';

export default {
	components: {
		DbetTenantModalSwiper
	},
	data() {
		return {
			staticOnboardingSteps: [
				{
					title: 'Mengapa isi data di Mamikos?',
					content:
						'Nikmati kemudahan transaksi selama ngekos, dengan pembayaran cashless yang tercatat rapi dan dukungan keamanan dari Mamikos.',
					illustration: 'talking-with-owner',
					closable: false
				},
				{
					type: 'safe-payment',
					title: 'Gunakan akun kamu di Mamikos',
					content:
						'Mamikos menjaga kenyamanan dan keamanan transaksi penggunanya. Untuk isi data, pastikan kamu sudah punya akun dan login.',
					illustration: 'safe-payment',
					closable: false,
					link: {
						text: 'Baca kebijakan privasi Mamikos',
						href: '',
						hrefDefault: 'https://mamikos.com/privacy'
					}
				}
			],
			ownerDashboard: oxWebUrl,
			isLoadedOnboarding: false
		};
	},
	computed: {
		...mapState('dbet', [
			'dbetCodeFormatted',
			'promoContent',
			'privacyLink',
			'isLoadedPromo'
		]),
		...mapGetters(['isTenant', 'isOwner']),
		dynamicOnboardingStep() {
			return {
				title: 'Isi data, dapat promo',
				illustration: 'owner-benefits',
				closable: false,
				content: this.promoContent
			};
		},
		onboardingStepsRender() {
			let steps = _map(this.staticOnboardingSteps, step => {
				step.closable = false;
				if (step.type === 'safe-payment' && step.link) {
					step.link.href = this.privacyLink;
				}
				return step;
			});
			if (this.dynamicOnboardingStep.content) {
				steps = [{ ...this.dynamicOnboardingStep }, ...steps];
			}
			steps[0].closable = true;

			return steps;
		}
	},
	created() {
		this.getDynamicOnboarding();
		this.trackOnboardingVisited();
	},
	methods: {
		...mapMutations('dbet', ['setPromo', 'setLoadedPromo']),
		goToHomepage() {
			window.location.replace('/');
		},
		onLastStepNextClicked() {
			if (this.isOwner) {
				window.location.replace(this.ownerDashboard);
			} else if (this.isTenant) {
				this.$store.commit('setOnboardingFinishedState', true);
				this.$router.push({ name: 'form' });
			} else {
				window.location.replace(`/ob/${this.dbetCodeFormatted}/form`);
			}
		},
		async getDynamicOnboarding() {
			if (this.isLoadedPromo) {
				this.isLoadedOnboarding = true;
				return;
			}

			this.isLoadedOnboarding = false;
			this.setLoadedPromo(false);
			this.openSwalLoading();
			try {
				const response = await axios.get(
					'/user/contract-submission/onboarding'
				);

				const responseStatus = _get(response, 'data.status', false);

				if (responseStatus) {
					this.setPromo({
						privacyLink: _get(response, 'data.data.privacy_link', ''),
						content: _get(response, 'data.data.dynamic_onboarding_label', '')
					});
				}

				this.closeSwalLoading();
				this.isLoadedOnboarding = true;
				this.setLoadedPromo(true);
			} catch (error) {
				bugsnagClient.notify(error);
				this.isLoadedOnboarding = true;
				this.closeSwalLoading();
				this.setLoadedPromo(true);
			}
		},
		trackOnboardingVisited() {
			tracker('moe', [
				'[User] DBET Tenant On-boarding - Visited',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					kos_link: window.location.href.split(this.$route.fullPath)[0]
				}
			]);
		}
	}
};
</script>
