<template>
	<div class="app-wrapper">
		<navbar-custom :show-promotion="true" :navigations="navigations">
		</navbar-custom>

		<breadcrumb-trails :contents="newestBreadcrumb"></breadcrumb-trails>
		<div class="container newest-list-container">
			<router-view></router-view>
			<!--  -->
		</div>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';

const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

const NavbarCustom = () => import('Js/@components/NavbarCustom');
export default {
	components: {
		NavbarCustom,
		LoginUser
	},

	data() {
		return {
			newestBreadcrumb: [
				{ name: 'Home', url: '/' },
				{ name: 'List Kost Terbaru', url: '/terbaru' }
			],
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			isModalLogin: false
		};
	},

	created() {
		this.listenEventBus();
	},

	mounted() {
		let bannerIsHidden = Cookies.get('bannerHidden');
		if (bannerIsHidden) {
			$('.app-wrapper').addClass('banner-is-hidden');
			Cookies.set('bannerHidden', true, { expires: 1, path: '/' });
		}
	},

	methods: {
		listenEventBus() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		},
		closeModalLogin() {
			this.isModalLogin = false;
		}
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
	.promo-title {
		display: inline-block !important;
	}
}

@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
	}
}
</style>

<style scoped>
.newest-list-container {
	margin: auto;
}
@media (min-width: 768px) {
	.newest-list-container {
		padding-top: 91px;
	}
}
</style>
