<template>
	<div class="stats-not-found col-xs-12">
		<p>Belum ada kost terbaru.</p>
		<img src="/assets/history_zero.png" alt="Belum ada kost terbaru">
	</div>
</template>

<script>
	export default {

	}
</script>

<style scoped>
.stats-not-found{
	padding:30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img{
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

</style>