<template>
	<div>
		<div
			v-infinite-scroll="loadMore"
			infinite-scroll-disabled="busy"
			infinite-scroll-distance="100"
			class="display-hack col-xs-12"
		>
			<div class="promo-title">
				<span>
					<img src="/assets/icons/ic_kost_terbaru.png" alt="ic_kost_terbaru" />
					<span>Kost Terbaru 7 Hari Terakhir</span>
				</span>
				<button
					class="btn btn-mamigreen-inverse btn-refresh"
					v-show="showTopButton"
					@click="refreshList"
				>
					<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
				</button>
			</div>

			<div class="clearfix"></div>

			<transition name="fade">
				<empty-room v-if="totalKost == 0" v-show="showTopButton"></empty-room>
				<room-list :rooms="kostData" v-else></room-list>
			</transition>
		</div>

		<div class="clearfix"></div>

		<div class="row flex-center" v-show="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';

export default {
	mixins: [mixinGetQueryString, mixinScrollTop],

	data() {
		return {
			kostData: [],
			limit: 9,
			offset: 0,
			isLoading: false,
			busy: false,
			kostLimit: 9,
			requestLimit: 90,
			showTopButton: false,
			totalKost: 0
		};
	},

	created() {
		this.getList();
	},

	methods: {
		getList() {
			this.isLoading = true;
			const filters = {
				flash_sale: false
			};
			axios
				.post('/stories/newest', {
					filters,
					limit: this.limit,
					offset: this.offset
				})
				.then(response => {
					if (response.data.status) {
						this.totalKost = response.data.total;
						this.kostData = this.kostData.concat(response.data.rooms);
						this.isLoading = false;
						this.showTopButton = true;
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		openRoom(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		loadMore() {
			if (
				this.kostData.length == this.kostLimit &&
				this.kostData.length < this.requestLimit
			) {
				this.busy = true;
				this.kostLimit += 9;
				this.offset += 9;
				this.getList(true);
				this.busy = false;
			}
		},
		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},
		refreshList() {
			this.limit = 9;
			this.offset = 0;
			this.showTopButton = false;
			this.kostData = [];
			this.kostLimit = 9;
			this.busy = false;
			this.getList();
		}
	}
};
</script>

<style scoped>
/*hack display on infinite scrolls*/
.display-hack {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

.promo-title {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.promo-title img {
	width: 50px;
	height: 37.5px;
}
.promo-title span {
	font-weight: bold;
	font-size: 22px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 70px;
}

.btn-refresh {
}

@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 0px;
	}
}
</style>
