<template>
	<div>
		<div>
			<div class="promo-title">
				<span>
					<img src="/assets/icons/ic_kost_terbaru.png" alt="ic_kost_terbaru" />
					<span
						>Kost {{ titleText }} Terbaru {{ titleMonth }} {{ titleYear }}</span
					>
				</span>
				<button
					class="btn btn-mamigreen-inverse btn-refresh"
					v-show="showTopButton"
					@click="refreshList"
				>
					<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
				</button>
			</div>

			<div class="clearfix"></div>

			<transition name="fade" v-if="!isLoading">
				<empty-room v-if="totalKost == 0" v-show="showTopButton"></empty-room>
				<room-list
					v-else
					:rooms="roomData.rooms"
					grids="col-md-3 col-sm-4 col-xs-12 col-custom-12"
					@toggleLoginModal="toggleLoginModal"
				></room-list>
			</transition>
		</div>

		<div class="clearfix"></div>

		<div class="row flex-center" v-show="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div
			v-if="!(roomData.page == 1 && !roomData['has-more'])"
			class="pagination-section"
		>
			<paginate
				:page-count="roomData.page < 10 ? totalPage : totalPageAll"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			></paginate>
		</div>
	</div>
</template>

<script>
import EventBus from 'Js/@global/event-bus';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import paginate from 'vuejs-paginate';
export default {
	mixins: [mixinGetQueryString, mixinScrollTop],
	components: {
		paginate
	},

	data() {
		return {
			roomData: {
				total: 0,
				page: 1,
				offset: 0,
				rooms: []
			},
			isLoading: false,
			busy: false,
			limit: 20,
			requestLimit: 90,
			showTopButton: false,
			totalKost: 0,
			paginationOptions: {
				offset: 1,
				alwaysShowPrevNext: false,
				pageSize: 9
			}
		};
	},

	created() {
		this.getList();
	},

	computed: {
		titleText() {
			return document.head.querySelector('meta[name="title"]').content;
		},
		titleMonth() {
			var months = [
				'Januari',
				'Februari',
				'Maret',
				'April',
				'Mei',
				'Juni',
				'Juli',
				'Agustus',
				'September',
				'Oktober',
				'November',
				'Desember'
			];
			return months[new Date().getMonth()];
		},
		titleYear() {
			return new Date().getFullYear();
		},
		place() {
			return [document.head.querySelector('meta[name="place"]').content];
		},
		tags() {
			if (document.head.querySelector('meta[name="tags"]').content == '') {
				return [];
			} else {
				return document.head
					.querySelector('meta[name="tags"]')
					.content.split(',')
					.map(Number);
			}

			return document.head.querySelector('meta[name="tags"]').content == ''
				? []
				: document.head
						.querySelector('meta[name="tags"]')
						.content.split(',')
						.map(Number);
		},
		totalPage() {
			let total = Math.ceil(this.roomData.total / this.roomData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			let total = Math.ceil(this.roomData.total / this.roomData.limit);

			return Number(total);
		}
	},

	methods: {
		toggleLoginModal() {
			EventBus.$emit('openModalLoginFav');
		},
		getList() {
			this.isLoading = true;
			const filters = {
				place: this.place,
				tag_ids: this.tags,
				flash_sale: false
			};
			axios
				.post('/stories/newest', {
					limit: this.limit,
					offset: this.roomData.offset,
					filters
				})
				.then(response => {
					if (response.data.status) {
						this.roomData = response.data;
						this.totalKost = response.data.total;
						this.isLoading = false;
						this.showTopButton = true;
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		openRoom(link) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = link;
			} else {
				window.open(link, '_blank');
			}
		},
		refreshList() {
			this.roomData.offset = 0;
			this.showTopButton = false;
			this.busy = false;
			this.getList();
		},
		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.roomData.offset = dataOffset;
			this.getList();
		}
	}
};
</script>

<style scoped>
/*hack display on infinite scrolls*/

.display-hack {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

.promo-title {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.promo-title img {
	width: 50px;
	height: 37.5px;
}
.promo-title span {
	font-weight: bold;
	font-size: 22px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 70px;
}

.btn-refresh {
}

@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 0px;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
