<template>
	<div :class="grid">
		<h3 class="section-title">{{ text }}</h3>
	</div>
</template>

<script>
export default {
	props: {
		grid: {
			type: String,
			required: true
		},
		text: {
			type: String,
			required: true
		}
	}
};
</script>

<style scoped>
.section-title {
	margin-bottom: 15px;
}
.section-title:after {
	content: '';
	display: block;
	width: 120px;
	height: 50%;
	border-bottom: 2px solid #1baa56;
	margin-top: 10px;
}
</style>
