<template>
	<!-- eslint-disable vue/no-v-html -->
	<div class="booking-benefits-item">
		<img
			v-lazy="itemIcon"
			class="booking-benefits-item__icon"
			data-path="img_bookingBenefits"
		/>
		<p class="booking-benefits-item__title">{{ itemTitle }}</p>
		<p class="booking-benefits-item__text" v-html="itemText"></p>
	</div>
</template>

<script>
export default {
	name: 'BookingBenefitsItem',
	props: {
		itemIcon: {
			type: String,
			default: null,
			required: true
		},
		itemTitle: {
			type: String,
			default: null,
			required: true
		},
		itemText: {
			type: String,
			default: null,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.booking-benefits-item {
	@media (min-width: 768px) {
		min-height: 450px;
	}

	&__icon {
		width: 100%;
		margin-bottom: 2rem;
	}

	&__title {
		margin-bottom: 4px;
		font-size: 20px;
		font-weight: bold;
	}

	&__text {
		padding: 0 10px;
		font-size: 16px;
	}
}
</style>
