<template>
	<div class="booking-benefits-list">
		<booking-benefits-item
			v-for="(item, i) in items"
			:key="i"
			:item-icon="item.icon.src"
			:item-title="item.title"
			:item-text="item.text"
			class="col-md-4 col-sm-12"
		></booking-benefits-item>
	</div>
</template>

<script>
import BookingBenefitsItem from './BookingBenefitsItem';

export default {
	name: 'BookingBenefitsList',
	components: { BookingBenefitsItem },
	props: {
		items: {
			type: Array,
			default: null,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped></style>
