<template>
	<div class="booking-shadow booking-benefits-activation-block">
		<div class="row booking-benefits-activation-block__row">
			<div class="col-md-8">
				<h1
					class="booking-section__heading booking-benefits-activation-block_-title"
				>
					Ingin kelola kos dengan lebih mudah dan fleksibel? Aktifkan Booking
					Langsung
				</h1>
			</div>
			<div class="col-md-4">
				<booking-activate-button
					class="booking-benefits-activation-block__button"
					extra-class="booking-shadow--green"
					@activateBooking="activateBooking('body')"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import BookingActivateButton from '../BookingActivateButton';
import MixinActivateBooking from '../../mixins/MixinActivateBooking';

export default {
	name: 'BookingBenefitsActivationBlock',
	components: { BookingActivateButton },
	mixins: [MixinActivateBooking]
};
</script>

<style lang="scss" scoped>
@import '../../style/main.scss';

.booking-benefits-activation-block {
	position: absolute;
	left: 50%;
	width: 90%;
	padding: 4rem 8rem;
	color: #242424;
	text-align: left;
	background-color: #fff;
	border-radius: 8px;
	transform: translateX(-50%);

	@media (min-width: 1280px) {
		width: 1170px;
	}

	@media (max-width: 768px) {
		padding: 40px 16px;
		text-align: center;
	}

	@media (min-width: 1440px) {
		margin-top: 50px;
	}

	&__row {
		@media (min-width: 769px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__title {
		line-height: 1.5;
	}

	&__button {
		@media (min-width: 769px) {
			float: right;
		}
	}
}
</style>
