<template>
	<div class="sales-motion-add-report">
		<div v-show="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<section class="header">
			<h2>
				{{ salesMotionData.task_name }}
			</h2>

			<div class="mb-2">
				<i class="mamikos-icon icon-stopwatch"></i>
				{{ salesMotionActive }} berakhir pada
				<strong>{{ salesMotionDueDate }}</strong>
			</div>

			<div class="sales-motion-type">
				{{ salesMotionData.sales_type }}
			</div>

			<hr />

			<p class="created-by">
				Dibuat: {{ salesMotionStartDate }} oleh
				{{ salesMotionData.created_by_division }}
				<br />
				Update Terakhir:
				{{ $dayjs(salesMotionData.updated_at).format('DD MMM YYYY') }}
			</p>
		</section>

		<section class="type-data">
			<radio-group-icon
				:value="type"
				:items="dataType"
				label="Tipe Data"
				@input="handleChangeType"
			></radio-group-icon>

			<ct-input-text
				:value="associatedData.name"
				:radius="4"
				prepend-icon="search"
				placeholder="Masukkan detail data"
				label="Detail Data"
				outlined
				readonly
				hide-invalid-message
				@click.native="goToSearchPage"
			/>
		</section>

		<section class="form">
			<div class="one-input">
				<input-radio
					v-model="submitData.status"
					:legend="'Hasil Penawaran'"
					:options="options"
				/>
			</div>

			<div class="one-input">
				<input-textarea
					v-model="submitData.remark"
					label="Catatan"
					placeholder="Jelaskan catatan di sini"
					:max-length="600"
					:rows="2"
					counter
					outlined
				/>
			</div>
		</section>

		<section class="upload-dokumen">
			<div class="title-label">Upload Dokumen</div>
			<file-uploader
				ref="imageUpload"
				url="/api/media/upload"
				:accepted-files="['jpg', 'jpeg', 'gif', 'png']"
				:max-filesize="5"
				@delete="deleteUploaded('image')"
				@success="uploadSuccess($event, 'image')"
			>
				<div class="upload-text">
					<div class="big-icon">
						<i class="mamikos-icon icon-image"></i>
					</div>
					<p class="mb-1">
						Upload gambar (Max 5MB)
					</p>
				</div>
			</file-uploader>

			<file-uploader
				ref="docUploadOne"
				url="/api/document/sales-motion-progress"
				:accepted-files="['pdf', 'doc']"
				class="mt-2"
				:max-filesize="5"
				@delete="deleteUploaded('docOne')"
				@success="uploadSuccess($event, 'docOne')"
			>
				<div class="upload-text">
					<p class="mb-0">
						<i class="mamikos-icon icon-file-filled"></i> Upload Dokumen (.doc,
						.pdf)
					</p>
				</div>
			</file-uploader>

			<file-uploader
				v-show="secondDocUpload"
				ref="docUploadTwo"
				url="/api/document/sales-motion-progress"
				:accepted-files="['pdf', 'doc']"
				class="mt-2"
				:max-filesize="5"
				@delete="deleteUploaded('docTwo')"
				@success="uploadSuccess($event, 'docTwo')"
			>
				<div class="upload-text">
					<p class="mb-0">
						<i class="mamikos-icon icon-file-filled"></i> Upload Dokumen (.doc,
						.pdf)
					</p>
				</div>
			</file-uploader>
		</section>

		<div class="button-container">
			<Button large block :disabled="submitDisable" @click="submit"
				>Simpan Laporan</Button
			>
		</div>

		<SearchAssociatedActionSheet
			ref="searchAssociated"
			:type="type"
			:selected-id="associatedData.id"
			@selectData="setAssociatedData"
		/>
	</div>
</template>

<script>
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import Button from 'Consultant/components/ConsultantButton';
import RadioGroupIcon from 'Consultant/components/CtRadioGroupIcon';
import CtInputText from 'Consultant/components/CtInputText';
import InputRadio from 'Consultant/components/ConsultantRadioGroup';
import InputTextarea from 'Consultant/components/InputTextarea';
import FileUploader from 'Consultant/components/CtFileUploader';
import SearchAssociatedActionSheet from './components/SearchAssociatedActionSheet';

export default {
	name: 'SalesMotionAddReport',

	components: {
		MamiLoadingInline,
		Button,
		RadioGroupIcon,
		InputRadio,
		InputTextarea,
		CtInputText,
		FileUploader,
		SearchAssociatedActionSheet
	},

	data() {
		return {
			salesMotionData: {},
			dataType: [
				{
					label: 'Properti',
					icon: 'building',
					value: 'property'
				},
				{
					label: 'DBET',
					icon: 'users',
					value: 'dbet'
				},
				{
					label: 'Kontrak',
					icon: 'file-bookmark',
					value: 'contract'
				}
			],
			options: [
				{
					label: 'Tidak Setuju',
					value: 'not_interested'
				},
				{
					label: 'Follow Up',
					value: 'interested'
				},
				{
					label: 'Setuju',
					value: 'deal'
				}
			],
			secondDocUpload: false,
			associatedData: {
				id: null,
				name: ''
			},
			type: 'property',
			submitData: {
				consultant_sales_motion_id: this.$route.params.id,
				progressable_type: '',
				progressable_id: null,
				status: '',
				remark: '',
				media_id: '',
				document_ids: []
			},
			submitDisable: true,
			showLoading: true
		};
	},

	computed: {
		salesMotionId() {
			return this.$route.params.id;
		},
		salesMotionStartDate() {
			return this.$dayjs(this.salesMotionData.start_date).format('DD MMM YYYY');
		},
		salesMotionDueDate() {
			return this.$dayjs(this.salesMotionData.due_date).format('DD MMM YYYY');
		},
		salesMotionActive() {
			return this.salesMotionData.is_active ? 'Akan' : 'Sudah';
		}
	},

	watch: {
		submitData: {
			deep: true,
			handler(value) {
				if (
					!!value.consultant_sales_motion_id &&
					!!value.progressable_type &&
					!!value.progressable_id &&
					!!value.status
				) {
					this.submitDisable = false;
				} else {
					this.submitDisable = true;
				}
			}
		},
		type: {
			immediate: true,
			handler(value) {
				if (value === 'property') {
					this.submitData.progressable_type = 'property';
				}

				if (value === 'dbet') {
					this.submitData.progressable_type = 'potential_tenant';
				}

				if (value === 'contract') {
					this.submitData.progressable_type = 'mamipay_contract';
				}
			}
		}
	},

	created() {
		this.initAPIData();
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPIData() {
			this.salesMotionData = await this.getSalesMotionDetail();
			this.showLoading = false;
		},

		async getSalesMotionDetail() {
			const data = { success: false, result: {} };

			try {
				const response = await axios.get(
					`/api/sales-motion/${this.salesMotionId}`
				);
				if (response.data.status) {
					data.success = true;
					data.result = response.data.sales_motion;
					this.showLoading = false;
				} else {
					alert(response.data.meta.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.result);
		},

		async deleteUploaded(whichOne) {
			try {
				let response;

				if (whichOne === 'image') {
					this.$refs.imageUpload.deleteLoading = true;
					response = await axios.delete(
						`/api/media/${this.submitData.media_id}`
					);
				}
				if (whichOne === 'docOne') {
					this.$refs.docUploadOne.deleteLoading = true;
					response = await axios.delete(
						`/api/document/${this.submitData.document_ids[0]}`
					);
				}

				if (whichOne === 'docTwo') {
					this.$refs.docUploadTwo.deleteLoading = true;
					if (this.submitData.document_ids.length > 1) {
						response = await axios.delete(
							`/api/document/${this.submitData.document_ids[1]}`
						);
					} else {
						response = await axios.delete(
							`/api/document/${this.submitData.document_ids[0]}`
						);
					}
				}

				if (response.data.status) {
					if (whichOne === 'image') {
						this.$refs.imageUpload.reset();
						this.submitData.media_id = '';
					}

					if (whichOne === 'docOne') {
						this.$refs.docUploadOne.reset();
						this.submitData.document_ids.shift();
					}

					if (whichOne === 'docTwo') {
						this.$refs.docUploadTwo.reset();
						this.submitData.document_ids.pop();
					}
				} else {
					alert(response.data.meta.message);
				}
			} catch (error) {
				alert(error);
			}
		},

		async submit() {
			try {
				this.submitDisable = true;
				const response = await axios.post(
					`/api/sales-motion/progress/store`,
					this.submitData
				);

				if (response.data.status) {
					this.$router.push({
						name: 'sm.detail',
						params: { id: this.salesMotionId }
					});
				} else {
					alert(response.data.message);
					this.submitDisable = false;
				}
			} catch (error) {
				alert(error);
				this.submitDisable = false;
			}
		},

		// ----------------------------------------------------------------------
		// EVENT
		// ----------------------------------------------------------------------
		goToSearchPage() {
			this.$refs.searchAssociated.open();
		},

		uploadSuccess(event, whichOne) {
			if (event.status) {
				if (whichOne === 'image') {
					this.submitData.media_id = event.id;
				}

				if (whichOne === 'docOne') {
					this.submitData.document_ids.unshift(event.document_id);
					this.secondDocUpload = true;
				}

				if (whichOne === 'docTwo') {
					this.submitData.document_ids.push(event.document_id);
				}
			}
		},

		setAssociatedData(data) {
			this.associatedData = { ...data };
			this.submitData.progressable_id = data.id;
		},

		handleChangeType(data) {
			this.type = data;

			if (this.associatedData.id) {
				this.$refs.searchAssociated.reset();
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-add-report {
	::v-deep .input-textarea .textarea__body .textarea__input {
		width: 100%;
		min-height: 100px;
		box-sizing: border-box;
		padding: 12px;
		resize: vertical;
		border: 1px solid #c9d1d9;
		border-radius: 4px;
	}

	::v-deep .ct-input--outlined.ct-input-text .ct-input__body {
		cursor: pointer;
	}

	::v-deep .ct-input-text .ct-input__field .input[readonly] {
		cursor: pointer;
	}
}

h2 {
	margin: 8px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	letter-spacing: -0.04em;
}
.created-by {
	margin-bottom: 0;
	color: #8293a1;
}

hr {
	margin: 16px 0 8px;
}

section {
	padding: 24px 0;
	border-bottom: 12px solid #f8fafb;
	&:first-child {
		padding-top: 0;
	}
}

.button-container {
	padding-top: 16px;
}

.title-label {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #383746;
}

.one-input + .one-input {
	margin-top: 40px;
}

.one-input {
	.tar {
		text-align: right;
	}
}

.upload-text {
	.big-icon {
		text-align: center;
		.mamikos-icon {
			font-size: 40px;
		}
	}
}
</style>
