<template>
	<div class="sales-motion-detail">
		<div v-show="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<component-header :data="salesMotionData" @addReport="addReport" />

		<Tabs
			:items="tabLabel"
			:value="0"
			class="tab-border"
			@change="changeTabContent"
		/>

		<div v-show="showContent === 'Detail'" class="tab-content">
			<detail-info :data="salesMotionData" />
		</div>

		<div v-show="showContent === 'Laporan'" class="tab-content">
			Laporan
		</div>
	</div>
</template>

<script>
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import Tabs from 'Consultant/components/CtTabs';
import ComponentHeader from './components/DetailHeader';
import DetailInfo from './components/DetailInfo';

export default {
	name: 'SalesMotionDetail',

	components: {
		MamiLoadingInline,
		ComponentHeader,
		DetailInfo,
		Tabs
	},

	data() {
		return {
			showLoading: true,
			tabLabel: [{ label: 'Detail' }, { label: 'Laporan' }],
			tabActive: 0,
			showContent: 'Detail',
			salesMotionData: {}
		};
	},

	computed: {
		salesMotionId() {
			return this.$route.params.id;
		}
	},

	created() {
		this.initAPIData();
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPIData() {
			this.salesMotionData = await this.getSalesMotionDetail();
		},

		async getSalesMotionDetail() {
			const data = { success: false, result: {} };

			try {
				const response = await axios.get(
					`/api/sales-motion/${this.salesMotionId}`
				);
				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.result = response.data.sales_motion;
					this.showLoading = false;
				} else {
					alert(response.data.meta.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.result);
		},

		changeTabContent(selected, index) {
			this.showContent = selected.label;
		},

		addReport() {
			this.$router.push({
				name: 'sm.report.add',
				params: { id: this.salesMotionId }
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.tab-border {
	border-bottom: 1px solid #e1e9f1;
}

.tab-content {
	padding: 24px 16px;
}
</style>
