<template>
	<div class="sales-motion-report-detail">
		Sales motion detail report
	</div>
</template>

<script>
export default {
	name: 'SalesMotionReportDetail'
};
</script>

<style lang="scss" scoped>
/** your style */
</style>
