<template>
	<div class="sales-motion-lists">
		<div class="gap-side mt-1 mb-1">
			<ct-input-text
				placeholder="Cari Sales Motion"
				prepend-icon="search"
				background-color="#F0F4F7"
				:radius="4"
				readonly
				hide-invalid-message
				flat
				@click.native="goToSearchSalesMotion"
			></ct-input-text>
		</div>

		<div class="sales-motion-tabs">
			<ct-tabs
				v-model="tabActiveIndex"
				:items="tabItems"
				@change="handleTabChange"
			></ct-tabs>
		</div>

		<div class="filter-container">
			<ct-button color="secondary" small outline @click="openAction('filter')">
				<i class="mamikos-icon icon-slider-h"></i> Filter
				{{ activeFilterLength ? `・ ${activeFilterLength}` : '' }}
			</ct-button>
			<ct-button color="secondary" small outline @click="openAction('sort')">
				<i class="mamikos-icon icon-sort"></i> {{ activeSort }}
			</ct-button>
		</div>

		<div class="gap-side">
			<template v-if="loading">
				<div v-for="i in 2" :key="i" class="mb-2">
					<card-placeholder></card-placeholder>
				</div>
			</template>
			<template v-else>
				<template v-if="salesMotions.length">
					<div
						v-for="salesMotion in salesMotions"
						:key="salesMotion.id"
						class="mb-2"
					>
						<sales-motion-card :item="salesMotion"></sales-motion-card>
					</div>
					<div v-if="pagination.totalData > pagination.limit" class="mt-3 mb-2">
						<consultant-pagination
							class="ct-pagination--green"
							:total-data="pagination.totalData"
							:page-active="pagination.page"
							green-version
							@change="paginationChanged"
						></consultant-pagination>
					</div>
				</template>
				<div v-else class="mt-3">
					<empty-state
						title="Belum ada sales motion"
						subtitle="Sales Motion yang ditawarkan akan tampil di sini."
						relative
					></empty-state>
				</div>
			</template>
		</div>

		<SalesMotionListAction ref="action" />
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';
import CtTabs from 'Consultant/components/CtTabs';
import CtButton from 'Consultant/components/ConsultantButton';
import SalesMotionCard from './components/SalesMotionCard';
import CardPlaceholder from './components/CardPlaceholder';
import EmptyState from 'Consultant/components/ConsultantEmptyState';
import SalesMotionListAction from './components/SalesMotionListAction';

import salesMotionTabList from './data/salesMotionTabList.json';

import mixinPagination from 'Consultant/mixins/mixinPagination';

import EventBus from 'Consultant/event-bus';
import { createMultipleParam, makeQueryParam } from 'Consultant/helpers/url';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

import { findIndex } from 'lodash';
import { mapMutations } from 'vuex';

export default {
	name: 'SalesMotionLists',

	components: {
		CtInputText,
		CtTabs,
		CtButton,
		SalesMotionCard,
		CardPlaceholder,
		EmptyState,
		SalesMotionListAction
	},

	mixins: [mixinPagination],

	data() {
		return {
			tabActiveIndex: 0,
			tabItems: salesMotionTabList,
			loading: false,
			salesMotions: [],
			activeSort: 'Terbaru',
			activeFilterLength: 0,
			tracker: null
		};
	},

	computed: {
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		EventBus.$on('SET_ACTION_LABEL', this.handleSetActionLabel);
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Sales Motion',
			{ consultant_id: consultant.id || null }
		]);
	},

	methods: {
		...mapMutations({
			mutSetQuery: 'route/setPrevQuery'
		}),

		goToSearchSalesMotion() {
			this.mutSetQuery({ type: 'sales-motion', query: this.$route.query });
			this.$router.push({ name: 'sm.search' });
		},

		/** *********** QUERY HANDLER ****************** */
		/**
		 * will executed on route change
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		defaultPagination(route) {
			this.pagination.sort_by = route.query.sort_by || 'updated_at';
			this.setStatusQuery(route.query);
		},

		/**
		 * set status query based on query url
		 * @param {Object} query - vue router's query
		 */
		setStatusQuery({ active = 1 }) {
			this.customPagination.active = active;
		},

		/**
		 * watching route changed
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		triggerRouteChanged(route) {
			const { active } = route.query;

			if (typeof active !== 'undefined') {
				const tabValue = (() => {
					if (typeof active === 'string') {
						/* istanbul ignore next */
						return active === '1' ? 'active' : 'deactive';
					} else {
						/* istanbul ignore next */
						return active ? 'active' : 'deactive';
					}
				})();
				const indexActiveTab = findIndex(this.tabItems, { tabValue });
				this.tabActiveIndex = indexActiveTab;
			}
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData(pagination) {
			// eslint-disable-next-line camelcase
			const { offset, limit, filters, sort_by } = pagination;
			const { active } = this.customPagination;
			const paginationQuery = makeQueryParam({
				is_active: active,
				offset,
				limit,
				sort_by
			});

			const typeQuery = createMultipleParam(filters, 'type');

			this.initSalesMotion(
				paginationQuery + (typeQuery ? '&' + typeQuery : '')
			);
		},

		/** ********* END QUERY HANDLER **************** */

		initSalesMotion(queries) {
			this.loading = true;
			axios
				.get('/api/sales-motion/list?' + queries)
				.then(res => {
					if (res.data.status) {
						this.salesMotions = res.data.data.data;
						this.pagination.totalData = res.data.total;
					}
				})
				/* istanbul ignore next */
				.catch(error => {
					console.error(error);
				})
				.finally(() => {
					this.loading = false;
				});
		},

		handleTabChange(tab) {
			const { name, query } = this.$route;
			const isActive = tab.tabValue === 'active';

			this.$router.push({
				name,
				query: {
					...query,
					page: 1,
					active: Number(isActive)
				}
			});
		},

		openAction(type) {
			this.$refs.action.open(type);
		},

		handleSetActionLabel({ type, value }) {
			switch (type) {
				case 'sort':
					this.activeSort = value;
					break;

				case 'filter':
					this.activeFilterLength = value;
					break;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-lists {
	padding-top: 10px;

	.gap-side {
		padding: 0 20px;
	}

	.sales-motion-tabs {
		padding: 0 20px;
		border-bottom: 1px solid #e0e8f0;
	}

	.filter-container {
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
	}
}
</style>
