<template>
	<search-wrapper autofocus @search="handleSearch" @onBack="goToAddReport">
		<div class="sales-motion-search-data">
			<template v-if="loading">
				<MamiLoadingInline />
			</template>
			<template v-else>
				<template v-if="associatedData.length">
					<div
						v-for="associate in associatedData"
						:key="`associate-${associate.id}`"
						class="mb-3"
					>
						<ct-card @click="handleSelectData(associate)">
							<ct-card-body slot="body" class="space-between">
								<div class="card-title">{{ associate.name }}</div>
								<i class="mamikos-icon icon-add-square"></i>
							</ct-card-body>
						</ct-card>
					</div>
				</template>
				<EmptyState
					v-else-if="searched && !associatedData.length"
					title="Data tidak ditemukan"
					subtitle="Silahkan periksa kembali penulisan nama di kolom pencarian"
				/>
			</template>
		</div>
	</search-wrapper>
</template>

<script>
import SearchWrapper from 'Consultant/components/templates/SearchWrapper';
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import EmptyState from 'Consultant/components/ConsultantEmptyState';

import EventBus from 'Consultant/event-bus';
import { mapMutations } from 'vuex';

export default {
	name: 'SalesMotionSearchData',

	components: {
		SearchWrapper,
		CtCard,
		CtCardBody,
		MamiLoadingInline,
		EmptyState
	},

	data() {
		return {
			loading: false,
			searched: false,
			associatedData: []
		};
	},

	computed: {
		type() {
			return this.$route.query.type;
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				const {
					query: { type, search }
				} = route;
				if (type && search && search.length > 5) {
					this.searchData(search, type);
				}
			}
		}
	},

	methods: {
		...mapMutations('salesMotion', ['setAssociatedData']),

		handleSearch(search) {
			if (search && this.type) {
				if (search.length < 6) {
					EventBus.$emit('openAlert', 'search minimal 6 karakter');
					return;
				}

				this.$router.push({
					name: this.$route.name,
					query: {
						...this.$route.query,
						search
					}
				});
			}
		},

		searchData(search, type) {
			const query = `type=${type}&search=${search}`;
			this.loading = true;
			this.searched = true;

			axios
				.get('/api/sales-motion/progress/data-associated?' + query)
				.then(res => {
					if (res.data.status) {
						this.associatedData = res.data.data;
					}
				})
				.catch(console.error)
				.finally(() => {
					this.loading = false;
				});
		},

		goToAddReport() {
			this.$router.push({
				name: 'sm.report.add',
				query: { from: 'sm.report.search-data' }
			});
		},

		handleSelectData(data) {
			this.setAssociatedData(data);
			this.goToAddReport();
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-search-data {
	padding: 20px;

	.space-between {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> * {
			color: #647482;
		}

		> .card-title {
			padding-right: 20px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	.icon-add-square {
		font-size: 25px;
	}
}
</style>
