<template>
	<search-wrapper autofocus @search="handleSearch" @onBack="handleBack">
		<div class="sales-motion-search">
			<template v-if="loading">
				<div v-for="i in 2" :key="i" class="mb-2">
					<CardPlaceholder />
				</div>
			</template>
			<template v-else>
				<template v-if="salesMotions.length">
					<div
						v-for="salesMotion in salesMotions"
						:key="salesMotion.id"
						class="mb-2"
					>
						<sales-motion-card :item="salesMotion"></sales-motion-card>
					</div>
					<div v-if="pagination.totalData > pagination.limit" class="mt-3 mb-2">
						<consultant-pagination
							class="ct-pagination--green"
							:total-data="pagination.totalData"
							:page-active="pagination.page"
							green-version
							@change="paginationChanged"
						></consultant-pagination>
					</div>
				</template>
				<div v-else class="mt-3">
					<empty-state
						v-if="searched"
						title="Sales Motion Tidak Ditemukan"
						subtitle="Silakan cek kembali penulisan nama Sales Motion di kolom pencarian."
					></empty-state>
				</div>
			</template>
		</div>
	</search-wrapper>
</template>

<script>
import SearchWrapper from 'Consultant/components/templates/SearchWrapper';
import SalesMotionCard from './components/SalesMotionCard';
import CardPlaceholder from './components/CardPlaceholder';
import EmptyState from 'Consultant/components/ConsultantEmptyState';
import mixinPagination from 'Consultant/mixins/mixinPagination';

import { makeQueryParam } from 'Consultant/helpers/url';
import { mapGetters, mapMutations } from 'vuex';

export default {
	name: 'SalesMotionSearch',

	components: {
		SearchWrapper,
		SalesMotionCard,
		CardPlaceholder,
		EmptyState
	},

	mixins: [mixinPagination],

	data() {
		return {
			loading: false,
			salesMotions: [],
			searched: false
		};
	},

	computed: {
		...mapGetters('route', ['getPrevQuery'])
	},
	beforeRouteLeave(to, from, next) {
		if (to.name === 'sales-motion') {
			this.clearPrevQuery('sales-motion');
		}
		next();
	},

	methods: {
		...mapMutations('route', ['clearPrevQuery']),

		handleBack() {
			this.$router.push({
				name: 'sales-motion',
				query: this.getPrevQuery('sales-motion')
			});
		},

		handleSearch(search) {
			if (search && search !== this.pagination.search) {
				this.pagination.search = search;
				this.handleChangeRoute({
					...this.pagination,
					page: 1,
					search: search
				});
			}
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData(pagination) {
			// eslint-disable-next-line camelcase
			const { offset, limit, sort_by, search } = pagination;
			if (search) {
				this.initSalesMotion(
					makeQueryParam({ offset, limit, sort_by, search })
				);
				if (search && !this.searched) {
					this.searched = true;
				}
			}
		},

		initSalesMotion(queries) {
			this.loading = true;
			axios
				.get('/api/sales-motion/list?' + queries)
				.then(res => {
					if (res.data.status) {
						this.salesMotions = res.data.data.data;
						this.pagination.totalData = res.data.total;
					}
				})
				.catch(error => {
					console.error(error);
				})
				.finally(() => {
					this.loading = false;
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.sales-motion-search {
	padding: 10px 20px;
}
</style>
