<template>
	<div class="report-result">
		<h5 class="text-muted">HASIL LAPORAN</h5>
		<ul class="report-list">
			<template v-for="(report, index) in reportDataProcessed">
				<li :key="index" class="list__item">
					<p class="text-muted">{{ report.label }}</p>
					<div v-if="report.type === 'file'" class="report-image">
						<img v-lazy="report.value" class="image" :alt="report.label" />
					</div>
					<h4 v-else>{{ report.value || '-' }}</h4>
				</li>
			</template>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'ReportResult',

	props: {
		reports: {
			type: Array,
			required: true
		}
	},

	data() {
		return {
			reportDataProcessed: [],
			ignoredTypes: ['image']
		};
	},

	watch: {
		reports: {
			immediate: true,
			handler(value) {
				this.reportDataProcessed = this.updatingReportData(value);
			}
		}
	},

	methods: {
		updatingReportData(reports) {
			const updatedData = [];

			for (const report of reports) {
				if (!this.ignoredTypes.includes(report.type)) {
					updatedData.push({
						...report,
						value: this.transformDataByType(report.value, report.type)
					});
				}
			}

			return updatedData;
		},

		transformDataByType(data, type) {
			if (data) {
				switch (type) {
					case 'date':
						return this.$dayjs(data).format('MMM DD, YYYY');

					case 'file':
						return data.medium || '';

					case 'checkbox':
						return Object.values(data).join(', ');

					default:
						return data;
				}
			}

			return data;
		}
	}
};
</script>

<style lang="scss" scoped>
.report-result {
	padding: 20px;
}

.report-list {
	padding: unset;
	margin-top: 20px;
	list-style: none;

	.list__item {
		margin-bottom: 24px;

		> * {
			margin: 0 0 10px;
		}
	}
}

.report-image {
	width: 100%;

	.image {
		max-width: 60%;
		height: auto;
		border-radius: 4px;
	}
}
</style>
