<template>
	<div class="property-list-page">
		<PropertyActions />

		<template v-if="loadingGetData">
			<PropertyCardPlaceholder />
		</template>
		<template v-else>
			<div v-if="!propertyLists.length" class="property--empty">
				<img
					v-lazy="'/general/img/pictures/consultant/consultant_empty_state.png'"
					alt="Consultant empty state"
					title="Consultant empty state"
				/>
				<div class="el-center flex-col">
					<h3>Belum Ada Properti</h3>
					<p>Daftar properti yang anda kelola akan tampil di sini</p>
				</div>
			</div>
			<template v-else>
				<div class="property-list">
					<card-list
						v-for="(propertyList, index) in propertyLists"
						:key="`property-${index}`"
						:to="{ name: 'property.detail', params: { id: propertyList.id } }"
						no-arrow
					>
						<div class="property-list-head">
							<div class="row">
								<div class="col-xs-6 el-center-on-start">
									<div class="card-id">ID Kos: {{ propertyList.id }}</div>
								</div>
								<div
									v-if="propertyList.statusDetail"
									class="col-xs-6 el-center-on-end"
								>
									<chip
										:type="propertyList.statusDetail.type"
										class="no-margin"
									>
										{{ propertyList.statusDetail.label }}
									</chip>
								</div>
							</div>
						</div>

						<div class="property-list-body">
							<div class="card-title">
								<p>
									{{ ellipsis(propertyList.name, 48) }}
								</p>
							</div>
							<div class="kos-level">
								{{ propertyList.kost_level.name || '-' }}
							</div>
							<div class="room-status row">
								<div class="col-xs-6 card-descriptions">
									<p>Kamar kosong: {{ propertyList.available_room }}</p>
								</div>
								<div class="col-xs-6 card-descriptions">
									<p>Kamar terisi: {{ propertyList.used_room }}</p>
								</div>
							</div>
						</div>

						<div class="property-list-footer">
							<div class="property-status">
								<b>Update terakhir: </b
								><span>{{
									$dayjs(propertyList.updated_at).format('DD MMM YYYY, HH:ss') +
										' WIB'
								}}</span>
							</div>
						</div>
					</card-list>
				</div>
				<consultant-pagination
					v-if="pagination.totalData > pagination.limit"
					:total-data="pagination.totalData"
					:page-active="pagination.page"
					@change="changePagination"
				></consultant-pagination>
			</template>
		</template>
	</div>
</template>
<script>
import CardList from 'Consultant/components/CardList.vue';
import Chip from 'Consultant/components/Chip.vue';
import PropertyActions from './components/PropertyActions';

import mixinPagination from 'Consultant/mixins/mixinPagination.js';
import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';
import checkGoldplusIds from './mixins/checkGoldplusIds';

import {
	createMultipleParam,
	makeQueryParam,
	mergeParams
} from 'Consultant/helpers/url';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

export default {
	name: 'PropertyLists',

	components: {
		CardList,
		PropertyActions,
		Chip,
		PropertyCardPlaceholder: () =>
			import('./components/PropertyCardPlaceholder')
	},

	mixins: [mixinPagination, mixinEllipsis, checkGoldplusIds],

	data() {
		return {
			loadingGetData: false,
			propertyLists: [],
			statusSettings: [
				{
					status: ['verified'],
					label: 'Verifikasi Berhasil',
					type: 'success'
				},
				{
					status: ['unverified', 'rejected'],
					label: 'Verifikasi Ditolak',
					type: 'error'
				},
				{
					status: ['draft2'],
					label: 'Menunggu Verifikasi',
					type: 'info'
				}
			]
		};
	},

	computed: {
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Kelola Properti',
			{ consultant_id: consultant.id || null }
		]);
	},

	methods: {
		defaultPagination({ query }) {
			this.pagination.search = query.search || '';
			this.pagination.kost_level_ids = query.kost_level_ids
				? this.checkGoldplusIds(query.kost_level_ids.split(','))
				: [];
		},

		triggerGetData(pagination) {
			const {
				limit,
				offset,
				search,
				sort_by: sortBy,
				filters,
				kost_level_ids: kostLevelIds
			} = pagination;

			const queryString = makeQueryParam({
				limit,
				offset,
				search,
				sort_by: sortBy
			});

			const multipleQuery = createMultipleParam(filters, 'filter');
			const kostLevelIdsQuery = createMultipleParam(
				kostLevelIds,
				'kost_level_ids'
			);

			this.initDataPropertyLists(
				mergeParams(queryString, multipleQuery, kostLevelIdsQuery)
			);
		},

		async initDataPropertyLists(queries) {
			this.loadingGetData = true;
			const { success, result } = await this.getPropertyLists(queries);
			if (success) {
				this.propertyLists = this.mappingPropertyData(result.data);
				this.changeQueryPaginate({
					totalData: Number(result.total)
				});
			}
			this.loadingGetData = false;
		},

		async getPropertyLists(queries) {
			const data = { success: false, result: {} };
			try {
				const response = await axios.get('/api/property?' + queries);
				if (response.data.status) {
					data.success = true;
					data.result = response.data;
				}
			} catch (error) {
				data.success = false;
			}

			return data;
		},

		mappingPropertyData(propertyData) {
			return propertyData.map(eachProperty => {
				const statusMatched = this.statusSettings.find(eachStatus =>
					eachStatus.status.includes(eachProperty.status)
				);
				return {
					...eachProperty,
					statusDetail: statusMatched ? { ...statusMatched } : null
				};
			});
		},

		changePagination(page) {
			const { name, query } = this.$route;
			this.$router
				.push({
					name,
					query: {
						...query,
						page
					}
				})
				.catch(() => {});
		}
	}
};
</script>
<style lang="scss" scoped>
.property--empty {
	position: absolute;
	top: 50vh;
	left: 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
}
.property-filter-and-search {
	margin-bottom: 20px;
}

.property-list-head {
	padding: 2px 12px 12px;
	margin: auto -10px;
	border-bottom: 1px solid #e8e8e8;
}

.property-list-body {
	padding: 12px;
	margin: auto -10px;
	border-bottom: 1px solid #e8e8e8;
}

.property-list-footer {
	padding: 12px 12px 0;
	margin: auto -10px;
	font-size: 12px;
	color: #949494;
}

.card-descriptions p {
	margin-bottom: 0;
	color: #949494;
}

.chip.no-margin {
	margin: 0;
}

.card-title p {
	margin-bottom: 8px;
	font-size: 16px;
}

.kos-level {
	margin-bottom: 8px;
}
</style>
