<template>
	<modal
		effect="fade"
		:value="open"
		:backdrop="false"
		:small="true"
		class="property-modal-success"
	>
		<div class="modal__container">
			<div class="modal__img">
				<img
					src="/general/img/pictures/consultant/img_property_room-price-success.png"
					alt="property room price success"
					title="Property room and price success"
				/>
			</div>

			<div class="modal__caption">
				<span>Berhasil update kamar & harga</span>
			</div>

			<div class="modal__button" @click="closeModal">
				<button type="button" class="btn btn-primary btn-block btn-lg">
					Oke
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		open: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	methods: {
		closeModal() {
			this.$emit('update:open', false);
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
.property-modal-success.modal {
	.modal-dialog {
		top: 20%;
		.modal-content {
			.modal-header,
			.modal-footer {
				display: none;
			}

			.modal-body {
				.modal__img {
					padding: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.modal__caption {
					font-size: 16px;
					font-weight: bold;
					margin: 20px 0;
				}
			}
		}
	}
}
</style>
