<template>
	<div class="property-detail-page">
		<property-modal-success
			:open.sync="showModalSuccess"
			@close="handleCloseModalSuccess"
		></property-modal-success>
		<consultant-success-page
			:open.sync="showPageSuccess"
			@close="handleClosePageSuccess"
		>
			<h4 class="title">Data berhasil diunggah</h4>
			<p class="subtitle">Menunggu verifikasi oleh tim Mamikos</p>
		</consultant-success-page>
		<detail-card>
			<detail-placeholder v-if="loadingGetPropertyDetail"></detail-placeholder>
			<template v-else>
				<template slot="header">
					<div class="text-muted">ID Kos: {{ propertyDetail.id }}</div>
					<div class="title">{{ ellipsis(propertyDetail.name, 45) }}</div>
					<div>
						<a class="link" :href="propertyDetail.link" target="_blank">{{
							ellipsis(propertyDetail.link, 50)
						}}</a>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<consultant-button
								large
								block
								outline
								disabled
								@click="goToEditPage"
							>
								Ubah Detail Kos
							</consultant-button>
						</div>
						<div class="col-xs-6">
							<consultant-button
								large
								block
								outline
								@click="goToEditRoomAndPrice"
								:disabled="disableEditButton"
							>
								Update Kamar & Harga
							</consultant-button>
						</div>
					</div>
				</template>
				<card-list
					v-for="(eachProperty, index) in propertyDetailProcessed"
					:key="index"
					:label="eachProperty.label"
					:content="eachProperty.value"
					:type="eachProperty.type"
					:link="eachProperty.link"
				></card-list>
			</template>
		</detail-card>
	</div>
</template>

<script>
import DetailCard from 'Consultant/components/detail-card/DetailCard.vue';
import CardList from 'Consultant/components/detail-card/CardList.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import PropertyModalSuccess from './PropertyModalSuccess.vue';
import DetailPlaceholder from 'Consultant/components/placeholders/PropertyDetailPlaceholder.vue';

import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';
import mixinProcessingDataList from 'Consultant/mixins/mixinProcessingDataList.js';
import propertyDetailLists from './data/propertyDetailLists.json';

import * as storage from 'Js/@utils/storage';

const ConsultantSuccessPage = () =>
	import('Consultant/components/ConsultantSuccessPage.vue');

export default {
	name: 'PropertyDetail',

	components: {
		DetailCard,
		CardList,
		ConsultantButton,
		PropertyModalSuccess,
		ConsultantSuccessPage,
		DetailPlaceholder
	},

	mixins: [mixinEllipsis, mixinProcessingDataList],

	data() {
		return {
			propertyDetail: {},
			propertyDetailProcessed: [],
			loadingGetPropertyDetail: true,
			showModalSuccess: false,
			showPageSuccess: false,
			editableStatus: ['verified', 'rejected', 'unverified']
		};
	},

	computed: {
		disableEditButton() {
			return (
				!this.editableStatus.includes(this.propertyDetail.status) ||
				!this.$store.getters.isAdminConsultant
			);
		}
	},

	created() {
		this.initDataPropertyDetail();
		this.checkRouteBefore(this.$route);
		this.checkingLocalStorage();
	},

	methods: {
		checkRouteBefore(route) {
			const {
				query: { from = '' }
			} = route;
			if (from === 'property_edit_page') {
				this.$route.meta.navbarOptions.onClickBack = () =>
					this.$router.push({ name: 'property' });
			} else {
				this.$route.meta.navbarOptions.onClickBack = null;
			}
		},

		checkingLocalStorage() {
			if (storage.local.getItem('UPDATE_PROPERTY')) {
				this.showModalSuccess = true;
			}

			if (storage.local.getItem('EDIT_PROPERTY')) {
				this.showPageSuccess = true;
			}
		},

		handleCloseModalSuccess() {
			storage.local.removeItem('UPDATE_PROPERTY');
		},

		handleClosePageSuccess() {
			storage.local.removeItem('EDIT_PROPERTY');
		},

		async initDataPropertyDetail() {
			const propertyId = this.$route.params.id;
			this.loadingGetPropertyDetail = true;
			const responseGetPropertyDetail = await this.getPropertyDetail(
				propertyId
			);
			if (responseGetPropertyDetail.success) {
				this.propertyDetail = responseGetPropertyDetail.data;
				this.propertyDetailProcessed = this.updateDetailPropertyValue(
					responseGetPropertyDetail.data,
					propertyDetailLists
				);
			}
			this.loadingGetPropertyDetail = false;
		},

		async getPropertyDetail(propertyId) {
			const result = { success: false, data: {} };
			try {
				const response = await axios.get(`/api/property/${propertyId}`);
				if (response.data.status && response.data.data.length) {
					result.success = true;
					result.data = response.data.data[0];
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return Promise.resolve(result);
		},

		updateDetailPropertyValue(propertyDetail, propertyDetailLists) {
			return propertyDetailLists.map(eachPropertyList => {
				const updatedPropertyList = { ...eachPropertyList };
				if (updatedPropertyList.key === 'type_kos') {
					const lists = [];
					if (propertyDetail.is_booking) {
						lists.push('Bisa Booking');
					} else {
						lists.push('Free Listing');
					}

					if (propertyDetail.is_premium) {
						lists.push('Premium');
					}
					updatedPropertyList.value = lists.join('<br>');
				} else if (updatedPropertyList.key === 'kost_level') {
					const kostLevel = propertyDetail.kost_level;
					updatedPropertyList.value = kostLevel && kostLevel.name || '-';
				} else if (propertyDetail.hasOwnProperty(updatedPropertyList.key)) {
					if (updatedPropertyList.type === 'email') {
						updatedPropertyList.link = `mailto:${
							propertyDetail[updatedPropertyList.key]
						}`;
					} else if (updatedPropertyList.type === 'phone') {
						updatedPropertyList.link = `tel:${
							propertyDetail[updatedPropertyList.key]
						}`;
					}
					const value = propertyDetail[updatedPropertyList.key];
					updatedPropertyList.link = this.getDataLink(
						updatedPropertyList.type,
						value
					);
					updatedPropertyList.value = this.mixinChangeDataValueByType(
						updatedPropertyList.type,
						value
					);
				}

				return updatedPropertyList;
			});
		},

		goToEditPage() {
			window.location.href = `${this.propertyDetail.id}/edit`;
		},

		goToEditRoomAndPrice() {
			this.$router.push({
				name: 'property.edit.room-price',
				params: { id: this.propertyDetail.id }
			});
		}
	}
};
</script>
