<template>
	<div class="update-room-and-price">
		<div class="row">
			<div class="col-xs-12 mb-2">
				<input-field
					v-model="updateData.name"
					class="input-transparent"
					legend="Nama Kos"
					placeholder="Nama Kos"
					regular
					readonly
				></input-field>
			</div>
			<div class="col-xs-12 mb-2">
				<consultant-button
					block
					large
					outline
					:to="{ name: 'room-allotment', params: { song_id: propertyId } }"
				>
					Update Ketersediaan Kamar
				</consultant-button>
			</div>
			<div class="col-xs-12 mb-2">
				<h4 class="mb-1">Harga Kos</h4>
				<input-currency
					v-model="updateData.price_daily"
					currency="Rp"
					separator="."
					:min="0"
					label="Perhari"
				></input-currency>
			</div>
			<div class="col-xs-12 mb-2">
				<input-currency
					v-model="updateData.price_weekly"
					currency="Rp"
					separator="."
					:min="0"
					label="Perminggu"
				></input-currency>
			</div>
			<div class="col-xs-12 mb-2">
				<input-currency
					v-model="updateData.price_monthly"
					currency="Rp"
					separator="."
					:min="0"
					label="Perbulan"
				></input-currency>
			</div>
			<div class="col-xs-12 mb-2">
				<input-currency
					v-model="updateData.price_3_month"
					currency="Rp"
					separator="."
					:min="0"
					label="Per 3 bulan"
				></input-currency>
			</div>
			<div class="col-xs-12 mb-2">
				<input-currency
					v-model="updateData.price_6_month"
					label="Per 6 bulan"
					currency="Rp"
					separator="."
					:min="0"
				></input-currency>
			</div>
			<div class="col-xs-12 mb-2">
				<input-currency
					v-model="updateData.price_yearly"
					currency="Rp"
					separator="."
					:min="0"
					label="Pertahun"
				></input-currency>
			</div>
			<div class="col-xs-12 mt-3">
				<consultant-button
					large
					block
					:disabled="isSaveButtonDisabled"
					:loading="loadingSaveData"
					loading-text="Mengupdate..."
					@click="toggleOpenSnackbar"
				>
					Update
				</consultant-button>
			</div>
		</div>
		<snackbar v-model="isSnackbarOpened" swipe>
			<h4>Apakah anda yakin?</h4>
			<p>Pastikan data yang anda unggah tepat</p>
			<div class="row mt-3">
				<div class="col-xs-6">
					<consultant-button outline block large @click="toggleOpenSnackbar"
						>Tidak</consultant-button
					>
				</div>
				<div class="col-xs-6">
					<consultant-button
						block
						large
						:loading="loadingGetData"
						@click="handleSubmitData"
						>Ya</consultant-button
					>
				</div>
			</div>
		</snackbar>
	</div>
</template>
<script>
import InputField from 'Consultant/components/InputField.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import Snackbar from 'Consultant/components/Snackbar.vue';
import InputCurrency from 'Consultant/components/InputCurrency.vue';

import * as storage from 'Js/@utils/storage';

export default {
	name: 'UpdateRoomAndPrice',

	components: {
		InputField,
		ConsultantButton,
		Snackbar,
		InputCurrency
	},

	data() {
		return {
			updateData: {
				name: '',
				price_daily: '',
				price_weekly: '',
				price_monthly: '',
				price_3_month: '',
				price_6_month: '',
				price_yearly: ''
			},
			loadingGetData: false,
			loadingSaveData: false,
			isSnackbarOpened: false
		};
	},

	computed: {
		propertyId() {
			return this.$route.params.id;
		},
		isSaveButtonDisabled() {
			return !this.isPricesHasBeenFilled;
		},
		isPricesHasBeenFilled() {
			const IGNORED_FIELD = ['name'];
			return Object.entries(this.updateData).some(([key, value]) => {
				return !IGNORED_FIELD.includes(key) && value;
			});
		}
	},

	created() {
		this.initDataPropertyForUpdate();
	},

	methods: {
		async initDataPropertyForUpdate() {
			try {
				const responseGetProperty = await this.getProperty(this.propertyId);
				if (responseGetProperty.success) {
					this.updateData = this.sortAndGetUpdatingData(
						responseGetProperty.data
					);
				} else {
					this.$router.go(-1);
				}
			} catch (error) {
				console.error(error);
			}
		},

		async getProperty(id) {
			const result = { success: false, data: {} };
			try {
				const response = await axios.get(`/api/property/${id}`);
				if (response.data.status && response.data.data.length) {
					result.success = true;
					result.data = response.data.data[0];
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}

			return result;
		},

		sortAndGetUpdatingData(propertyDetail) {
			/* eslint-disable camelcase */
			const {
				name,
				price_daily,
				price_weekly,
				price_monthly,
				price_yearly,
				price_3_month,
				price_6_month
			} = propertyDetail;
			return {
				name,
				price_daily,
				price_weekly,
				price_monthly,
				price_yearly,
				price_3_month,
				price_6_month
			};
			/* eslint-enable camelcase */
		},

		toggleOpenSnackbar() {
			this.isSnackbarOpened = !this.isSnackbarOpened;
		},

		async handleSubmitData() {
			this.loadingGetData = true;
			const IGNORED_FIELDS_TO_CHANGE = [];
			const responseSaveData = await this.updateRoomAndPrice(
				this.propertyId,
				this.changeZeroValueToEmptyString(
					this.updateData,
					IGNORED_FIELDS_TO_CHANGE
				)
			);
			if (responseSaveData.success) {
				storage.local.setItem('UPDATE_PROPERTY', true);
				document.body.style.overflowY = null;
				this.$router.push({
					name: 'property.detail',
					params: { id: this.propertyId },
					query: { from: 'property_edit_page' }
				});
			} else {
				this.isSnackbarOpened = false;
			}
			this.loadingGetData = false;
		},

		changeZeroValueToEmptyString(data, ignoredFields = []) {
			const updatedData = {};
			for (const [key, value] of Object.entries(data)) {
				if (!ignoredFields.includes(key)) {
					// eslint-disable-next-line eqeqeq
					updatedData[key] = value == 0 ? '' : value;
				} else {
					updatedData[key] = value;
				}
			}
			return updatedData;
		},

		async updateRoomAndPrice(id, data) {
			const result = { success: false, data: {} };
			try {
				const response = await axios.post(
					`/api/property/update/price/${id}`,
					data
				);
				if (response.data.status) {
					result.success = true;
				} else {
					result.data = response.data.messages;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		}
	}
};
</script>
<style lang="scss" scoped>
/* stylelint-disable primer/no-override */
.mt-3 {
	margin-top: 30px;
}
.mb-2 {
	margin-bottom: 20px;
}
/* stylelint-enable primer/no-override */
.input-transparent {
	opacity: 0.5;
}
</style>
