<template>
	<bg-modal
		v-model="isModalShown"
		:title="modalTitle"
		:close-on-click-backdrop="isModalCloseable"
		:closable="isModalCloseable"
		data-testid="form-modal"
	>
		<div v-if="isLoadingDetailData" data-testid="loading-detail-data">
			Loading...
		</div>
		<div v-else-if="!!detailDataError" data-testid="detail-data-error-msg">
			{{ detailDataError }}
		</div>
		<div v-else>
			<bg-field :message="errors.first('name')" :error="!!errors.first('name')">
				<bg-input
					v-model="formsData.experimentName"
					v-validate="'required|validExperimentName'"
					name="name"
					type="text"
					placeholder="Experiment Name"
					data-testid="nameForm"
				/>
			</bg-field>

			<bg-field
				:message="errors.first('duration')"
				:error="!!errors.first('duration')"
			>
				<bg-input
					v-model="formsData.dayDuration"
					v-validate="'required'"
					name="duration"
					type="number"
					placeholder="Duration"
					data-testid="dayDuration"
				/>
			</bg-field>

			<bg-field
				:message="errors.first('sampleUser')"
				:error="!!errors.first('sampleUser')"
			>
				<bg-input
					v-model="formsData.sampleUser"
					v-validate="'required'"
					name="sampleUser"
					type="number"
					placeholder="Sample User"
					data-testid="sampleUserForm"
				/>
			</bg-field>

			<bg-field label="Choose user type">
				<bg-select
					v-model="formsData.userType"
					:options="userTypeOptions"
					data-testid="userTypeForm"
				/>
			</bg-field>

			<template v-if="formsData.userType === 'owner'">
				<bg-field label="Owner Options">
					<bg-select
						v-model="formsData.ownerOptions"
						:options="ownerOptions"
						data-testid="ownerOptions"
					/>
				</bg-field>

				<bg-field label="Only Active Listing">
					<bg-select
						v-model="formsData.onlyActiveListing"
						:options="onlyActiveListingOptions"
						data-testid="onlyActiveListing"
					/>
				</bg-field>
			</template>

			<bg-input
				v-model="formsData.controlName"
				type="text"
				placeholder="Control Name"
				data-testid="controlNameForm"
			/>
			<br />

			<bg-input
				v-model="formsData.experimentGoals"
				type="text"
				placeholder="Experiment Goals. Separate by comma (e.g Clickbooking,Sendchat)"
				data-testid="experimentGoalsForm"
			/>
			<br />

			<bg-input
				v-model="formsData.weightControl"
				type="number"
				placeholder="Weight Control"
				data-testid="weightControlForm"
			/>
			<br />

			<bg-input
				v-model="formsData.variantAName"
				placeholder="Varian A Name"
				data-testid="variantANameForm"
			/>
			<br />
			<bg-input
				v-model="formsData.variantAWeight"
				type="number"
				placeholder="Varian A Weight (%)"
				data-testid="variantAWeightForm"
			/>
			<br />
			<bg-input
				v-model="formsData.variantBName"
				placeholder="Varian B Name"
				data-testid="variantBNameForm"
			/>
			<br />
			<bg-input
				v-model="formsData.variantBWeight"
				type="number"
				placeholder="Varian B Weight (%)"
				data-testid="variantBWeightForm"
			/>
		</div>

		<template #footer>
			<div class="action-button-wrapper">
				<bg-button
					:disabled="isSubmitting || isLoadingDetailData"
					data-testid="cancel-form-btn"
					@click="isModalShown = false"
				>
					Cancel
				</bg-button>
				&nbsp;
				<bg-button
					variant="primary"
					:loading="isSubmitting"
					:disabled="isFormInValid || isSubmitting || isLoadingDetailData"
					data-testid="submit-form-btn"
					@click="submitAction"
				>
					Submit
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
/* eslint-disable camelcase */

import { BgModal, BgField, BgInput, BgSelect, BgButton } from 'bangul-vue';

import {
	EP_ADD_EXPERIMENT,
	EP_UPDATE_EXPERIMENT,
	EP_DETAIL_EXPERIMENT
} from '../constants/endpoints';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';

const formsDataInitialState = {
	experimentName: '',
	dayDuration: '',
	userType: 'all',
	sampleUser: '',
	weightControl: '',
	variantAName: '',
	variantAWeight: '',
	variantBName: '',
	variantBWeight: '',
	controlName: '',
	ownerOptions: 'all',
	onlyActiveListing: 'false',
	experimentGoals: ''
};

export default {
	components: {
		BgModal,
		BgField,
		BgInput,
		BgSelect,
		BgButton
	},
	props: {
		/* To control modal visibility. Used internally for v-model */
		value: {
			type: Boolean,
			default: false
		},

		/** Experiment id. Should be exist when modalType === 'edit' */
		experimentId: {
			type: Number,
			default: null
		},

		/** Used to decide the confirmation message to be shown */
		modalType: {
			type: String,
			default: null,
			validator(value) {
				return ['add', 'edit'].includes(value);
			}
		}
	},
	data() {
		return {
			isModalShown: this.value,
			isLoadingDetailData: false,
			isSubmitting: false,
			detailDataError: null,
			userTypeOptions: [
				{ val: 'all', label: 'All' },
				{ val: 'owner', label: 'Owner' },
				{ val: 'user', label: 'User' },
				{ val: 'tenant', label: 'Tenant' }
			],
			onlyActiveListingOptions: [
				{ val: 'false', label: 'No' },
				{ val: 'true', label: 'Yes' }
			],
			ownerOptions: [
				{ val: 'all', label: 'All' },
				{ val: 'non_gp', label: 'Non GP' },
				{ val: 'non_premium', label: 'Non Premium' },
				{ val: 'non_gp_premium', label: 'Non GP Premium' }
			],

			/** Controlled forms state */
			formsData: { ...formsDataInitialState }
		};
	},
	computed: {
		modalTitle() {
			return this.modalType === 'add'
				? 'Add New Experiment'
				: 'Edit Experiment';
		},

		isModalCloseable() {
			if (this.isSubmitting || this.isLoadingDetailData) return false;

			return true;
		},

		isFormInValid() {
			return Object.keys(this.fields).some(key => this.fields[key].invalid);
		}
	},
	watch: {
		async isModalShown(isShown) {
			this.$emit('input', isShown);

			if (isShown) {
				if (this.modalType === 'edit') {
					try {
						this.isLoadingDetailData = true;

						const detailData = await makeAPICall({
							method: 'post',
							url: EP_DETAIL_EXPERIMENT,
							data: {
								experiment_id: this.experimentId
							}
						});

						const {
							max_user,
							name_experiment,
							control_name,
							control_value,
							user_type,
							day_duration,
							owner_option,
							only_active_listing,
							varian_a_name,
							varian_a_value,
							varian_b_name,
							varian_b_value,
							goals = []
						} = detailData.data;

						this.formsData = {
							experimentName: name_experiment,
							dayDuration: day_duration,
							userType: user_type,
							sampleUser: max_user,
							weightControl: control_value,
							variantAName: varian_a_name,
							variantAWeight: varian_a_value,
							variantBName: varian_b_name,
							variantBWeight: varian_b_value,
							controlName: control_name,
							ownerOptions: owner_option,
							onlyActiveListing: only_active_listing ? 'true' : 'false',
							experimentGoals: goals.map(i => i.goal).join(',')
						};

						this.isLoadingDetailData = false;
					} catch (err) {
						this.isLoadingDetailData = false;
						this.detailDataError =
							'Something went wrong when fetching the data';
					}
				} else {
					this.formsData = { ...formsDataInitialState };
				}
			}
		},
		value(val) {
			this.isModalShown = val;
		}
	},
	methods: {
		async submitAction() {
			const { experimentId, modalType } = this;
			let endpoint = '';
			let successMsg = '';

			switch (modalType) {
				case 'add':
					endpoint = EP_ADD_EXPERIMENT;
					successMsg = 'Succesfully create the experiment';
					break;
				case 'edit':
					endpoint = EP_UPDATE_EXPERIMENT;
					successMsg = 'Succesfully update the experiment';
					break;
				default:
					throw new Error('Invalid modal type!');
			}

			try {
				this.isSubmitting = true;

				const data = {
					name_experiment: this.formsData.experimentName,
					day_duration: this.formsData.dayDuration,
					control_value: this.formsData.weightControl,
					control_name: this.formsData.controlName,
					varian: [],
					max_user: this.formsData.sampleUser,
					user_type: this.formsData.userType,
					goals: this.formsData.experimentGoals
				};

				if (this.formsData.variantAName && this.formsData.variantAWeight) {
					data.varian.push({
						varian_type: 'varian_a',
						varian_name: this.formsData.variantAName,
						varian_value: this.formsData.variantAWeight
					});
				}

				if (this.formsData.variantBName && this.formsData.variantBWeight) {
					data.varian.push({
						varian_type: 'varian_b',
						varian_name: this.formsData.variantBName,
						varian_value: this.formsData.variantBWeight
					});
				}

				if (this.formsData.userType === 'owner') {
					data.owner_option = this.formsData.ownerOptions;
					data.only_active_listing =
						this.formsData.onlyActiveListing === 'true';
				}

				if (modalType === 'edit') {
					data.id = experimentId;
				}

				const response = await makeAPICall({
					method: 'post',
					url: endpoint,
					data
				});

				if (response) {
					this.isModalShown = false;
					this.isSubmitting = false;

					this.$emit('submit-succeed-callback', successMsg);
				} else {
					throw new Error();
				}
			} catch (err) {
				this.isSubmitting = false;
				alert('Something went wrong. Please try again');
			}
		}
	}
};
</script>

<style>
.bg-c-input__field[type='time']::-webkit-calendar-picker-indicator {
	display: none !important;
	background: none !important;
}

.bg-c-modal__body {
	max-height: 500px;
	overflow-x: auto;
}

.action-button-wrapper {
	display: flex;
	justify-content: flex-end;
}
</style>
