<template>
	<div class="other-costs">
		<template v-if="costs.length">
			<label class="other-cost__label">{{ label }}</label>
			<ul class="other-costs__list">
				<!-- eslint-disable-next-line vue/no-template-shadow -->
				<li v-for="(cost, index) in costs" :key="index" class="list__item">
					<div class="list__content">
						<h5 class="content__title">{{ cost.name }}</h5>
						<p>{{ cost.price | currencyID }}</p>
					</div>
					<div class="action__right">
						<consultant-menu
							:options="menuOptions"
							content-class="other-cost-menu"
							offset-left
							@select="handleSelectMenu($event, cost, index)"
						>
							<div slot="activator" class="menu-activator-btn">
								<img
									src="/general/img/icons/ic_ellipsis-h_black.svg"
									alt="ic_ellipsis-h_black"
								/>
							</div>
						</consultant-menu>
					</div>
				</li>
			</ul>
		</template>
		<h4
			v-if="!isCostUpdate"
			class="other-costs__activator link-action"
			@click="toggleOpenAddCostForm"
		>
			<img
				v-lazy="'/general/img/icons/ic_plus_green.svg'"
				class="activator__icon"
				alt="icon_plus"
			/>
			<span class="activator__title link__title">
				<slot name="activator"></slot>
			</span>
		</h4>
		<div class="other-costs__form" :class="{ 'is--open': isAddCostActive }">
			<div class="row">
				<div class="col-xs-6">
					<input-field
						v-model="cost.name"
						legend="Nama Biaya"
						placeholder="Contoh: Wifi"
						regular
						input-delay="100"
					></input-field>
				</div>
				<div class="col-xs-6">
					<input-currency
						v-model="cost.price"
						currency="Rp"
						separator="."
						:min="0"
						label="Jumlah"
					></input-currency>
				</div>
			</div>
			<div class="col-xs-12 el-center-on-end">
				<h4 class="link-action btn-save" @click="handleSaveAdditionalPrice">
					<span class="link__title">Simpan</span>
				</h4>
			</div>
		</div>
	</div>
</template>
<script>
import InputField from 'Consultant/components/InputField.vue';
import InputCurrency from 'Consultant/components/InputCurrency.vue';
import ConsultantMenu from 'Consultant/components/ConsultantMenu.vue';

import mixinFilterCurrency from 'Consultant/mixins/mixinFilterCurrency.js';

export default {
	name: 'AddOtherCosts',

	components: {
		InputField,
		InputCurrency,
		ConsultantMenu
	},

	mixins: [mixinFilterCurrency],

	props: {
		value: {
			type: Array,
			required: true
		},
		label: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			cost: {
				name: '',
				price: ''
			},
			costs: [],
			isAddCostActive: false,
			isCostUpdate: false,
			indexCostActive: -1,
			menuOptions: [
				{
					key: 'edit',
					title: 'Ubah'
				},
				{
					key: 'delete',
					title: 'Hapus',
					class: 'red--text'
				}
			]
		};
	},

	watch: {
		value: {
			immediate: true,
			handler(value) {
				if (!this.costs.length) {
					this.costs = [...value];
				}
			}
		}
	},

	methods: {
		sendValueToParent() {
			this.$emit('input', this.costs);
		},

		toggleOpenAddCostForm() {
			this.isAddCostActive = !this.isAddCostActive;
		},

		handleSaveAdditionalPrice() {
			if (this.isCostUpdate) {
				if (this.indexCostActive !== -1) {
					this.costs[this.indexCostActive] = {
						...this.costs[this.indexCostActive],
						...this.cost
					};
					this.isCostUpdate = false;
					this.indexCostActive = -1;
				}
			} else {
				if (this.cost.price && this.cost.name) {
					this.costs.push({ ...this.cost });
				}
			}

			const WAITING_FORM_COLLAPSE = 300;
			this.sendValueToParent();
			this.isAddCostActive = false;
			setTimeout(() => {
				this.resetCost();
			}, WAITING_FORM_COLLAPSE);
		},

		resetCost() {
			this.cost = {
				name: '',
				price: ''
			};
		},

		handleSelectMenu(action, cost, index) {
			if (action.key === 'edit') {
				this.cost = { ...cost };
				this.toggleOpenAddCostForm();
				this.isCostUpdate = true;
				this.indexCostActive = index;
			} else if (action.key === 'delete') {
				this.costs.splice(index, 1);
				this.isCostUpdate = false;
				this.indexCostActive = -1;
				this.toggleOpenAddCostForm();
				this.resetCost();
			}
		}
	}
};
</script>
<style scoped lang="scss">
@import 'Consultant/styles/variables/theme.scss';

.other-costs {
	.link-action {
		display: inline-block;
		cursor: pointer;

		.link__title {
			font-size: 14px;
			font-weight: bold;
			color: $mamikos-green;
		}

		&.other-costs__activator {
			display: inline-flex;
			font-size: 16px;
			align-items: center;

			.activator__title {
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

	.other-cost__label {
		display: block;
		margin-bottom: 10px;
	}
}

.other-costs__form {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s linear;

	&.is--open {
		max-height: 300px;
		transition: max-height 0.3s linear;
	}
}

.other-costs__list {
	padding: unset;
	list-style: none;

	.list__item {
		position: relative;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 20px;
		}
	}

	.list__item .list__content {
		width: 100%;
		padding: 10px;
		background: #fff;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	}

	.list__item .action__right {
		position: absolute;
		top: 5px;
		right: 10px;

		/* stylelint-disable-next-line */
		menu-activator-btn {
			display: flex;
			height: 24px;
			align-items: center;
			cursor: pointer;
		}
	}

	.list__content > * {
		margin: unset;
	}

	.list__content .content__title {
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: 600;
	}
}
</style>

<style lang="scss">
.other-cost-menu {
	&.list-container {
		min-width: 80px !important;
		/* stylelint-disable */
		.list__tile.red--text {
			.tile__title {
				color: #e04205;
			}
		}
		/* stylelint-enable */
	}
}
</style>
