<template>
	<consultant-success-page :open="open">
		<h4 class="text--success">Kontrak berhasil dibuat</h4>
		<div v-if="!isFromPotentialTenant" slot="button" class="row">
			<div class="col-xs-12 px-2">
				<p class="caption">
					Klik tambah kontrak baru apabila kamu ingin menambahkan kontrak lagi
				</p>
			</div>
			<div class="col-xs-12 mb-1">
				<consultant-button large block @click="backToCreateContract">
					Tambah kontrak baru
				</consultant-button>
			</div>
			<div class="col-xs-12">
				<consultant-button large block flat @click="goToContractList">
					Tidak, terimakasih
				</consultant-button>
			</div>
		</div>
		<div v-else slot="button" class="row">
			<div class="col-xs-12">
				<consultant-button large block @click="goToPotentialList">
					Saya Mengerti
				</consultant-button>
			</div>
		</div>
	</consultant-success-page>
</template>
<script>
import ConsultantSuccessPage from 'Consultant/components/ConsultantSuccessPage.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';

import { mapMutations } from 'vuex';

import EventBus from 'Consultant/event-bus';
import { contract } from 'Consultant/event-bus/eventNames';

import uniqueId from 'Consultant/helpers/uniqueId';

export default {
	name: 'CreateContractSuccessPage',

	components: {
		ConsultantSuccessPage,
		ConsultantButton
	},

	props: {
		open: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		isFromPotentialTenant() {
			// eslint-disable-next-line camelcase
			const { prev_page, tenant_phone, property_id } = this.$route.query;

			// eslint-disable-next-line camelcase
			return !!prev_page && !!tenant_phone && !!property_id;
		}
	},

	beforeDestroy() {
		document.body.classList.remove('success-page-open');
	},

	methods: {
		...mapMutations({
			mutResetAllState: 'createContract/resetAllState',
			mutChangeSection: 'createContract/changeSection'
		}),
		backToCreateContract() {
			this.mutResetAllState();
			EventBus.$emit(contract.resetPropertyState);
			EventBus.$emit(contract.resetPhoneState);
			EventBus.$emit(contract.resetImageUpload);
			this.mutChangeSection(1);
			this.$emit('update:open', false);
			this.$router.push({
				name: 'contract.create',
				query: { create_id: uniqueId() }
			});
		},

		goToContractList() {
			this.mutResetAllState();
			this.$emit('update:open', false);
			this.$router.push({ name: 'contract' });
		},

		goToPotentialList() {
			this.mutResetAllState();
			this.$router.push({
				name: 'potential-tenant',
				query: {
					prev_page: 'contract.create',
					property_id: this.$route.query.property_id
				}
			});
		}
	}
};
</script>
<style scoped>
/* stylelint-disable-next-line */
.mb-1 {
	margin-bottom: 10px;
}

.row {
	width: 100%;
}

.caption {
	padding: 0 20px;
	text-align: center;
}

.text--success {
	font-size: 16px;
	font-weight: bold;
}
</style>
