<template>
	<div class="property-search-result">
		<div v-if="loadingSearch">
			<shimmer-placeholder
				v-for="i in 4"
				:key="i"
				height="20px"
				width="80%"
			></shimmer-placeholder>
		</div>
		<div v-else class="result__body">
			<consultant-empty-state
				v-if="!propertyLists.length"
				title="Kos tidak ditemukan"
				subtitle="Pastikan kembali nama kos sudah sesuai"
			>
				<consultant-button slot="button" block large @click="hideResultPage">
					Saya Mengerti
				</consultant-button>
			</consultant-empty-state>
			<template v-else>
				<div class="radio-option">
					<consultant-radio-group
						v-model="propertyIdSelected"
						:options="propertyLists"
					></consultant-radio-group>
				</div>
				<div class="button-action">
					<consultant-button
						large
						block
						:disabled="!propertyIdSelected"
						@click="handleNextSection"
					>
						Lanjutkan
					</consultant-button>
				</div>
			</template>
		</div>
	</div>
</template>
<script>
import { mapMutations } from 'vuex';
import ConsultantRadioGroup from 'Consultant/components/ConsultantRadioGroup.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';
import ConsultantEmptyState from 'Consultant/components/ConsultantEmptyState';

export default {
	name: 'PropertySearchResult',

	components: {
		ConsultantRadioGroup,
		ShimmerPlaceholder,
		ConsultantButton,
		ConsultantEmptyState
	},

	props: {
		loadingSearch: {
			type: Boolean,
			default: false
		},
		propertyLists: {
			type: Array,
			required: true
		}
	},

	data() {
		return {
			propertyIdSelected: ''
		};
	},

	methods: {
		...mapMutations('createContract', ['nextSection', 'setPropertySelected']),

		getPropertySelectedById(propertyId, propertyLists) {
			const propertySelected = propertyLists.find(
				property => property.value === propertyId
			);
			return propertySelected || /* istanbul ignore next */ {};
		},

		handleNextSection() {
			const property = this.getPropertySelectedById(
				this.propertyIdSelected,
				this.propertyLists
			);
			this.setPropertySelected(property);

			this.nextSection();
		},

		hideResultPage() {
			this.$emit('hide-result-page');
		}
	}
};
</script>
<style lang="scss">
/* stylelint-disable */
$navbarHeight: 60px;

.property-search-result {
	.radio-option {
		min-height: calc(85vh - #{$navbarHeight});
		max-height: calc(85vh - #{$navbarHeight});
		padding: 0 10px;
		overflow-y: auto;
		.consultant-radio-group {
			.radio-group__content .radio {
				position: relative;

				label {
					position: relative;
					width: 100%;

					.radio-label {
						position: absolute;
						left: 0;
						display: inline-block;
						width: calc(100% - 40px);
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					input,
					.icon {
						position: absolute;
						top: unset;
						right: 0;
						left: unset;
					}
				}
			}
		}
	}
}
/* stylelint-enable */
</style>
