<template>
	<div class="search-property">
		<property-search-result
			v-if="showSearchResultPage"
			:property-lists="propertyLists"
			:loading-search="loadingSearch"
			@hide-result-page="hideSearchResultPage"
		></property-search-result>
		<template v-else>
			<h4 class="title">Cari kos yang akan dibuat kontrak baru</h4>
			<div class="search-section">
				<div class="row">
					<div class="col-xs-12 mb-3">
						<ct-input-text
							v-model="searchText"
							v-validate="'min:3'"
							placeholder="Tulis nama kos di sini"
							label="Nama Kos"
							mandatory-sign
							data-vv-name="searchProperty"
							data-vv-scope="createContract"
							data-vv-as="Nama Kos"
							:invalid-message="errors.first('createContract.searchProperty')"
						></ct-input-text>
					</div>
					<div class="col-xs-12">
						<consultant-button
							:disabled="!searchText"
							large
							block
							loading-text="Mencari..."
							:loading="loadingSearch"
							@click="handleSearchProperty"
						>
							Cari Kos
						</consultant-button>
					</div>
				</div>
			</div>
		</template>
	</div>
</template>
<script>
import CtInputText from 'Consultant/components/CtInputText.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import PropertySearchResult from './PropertySearchResult.vue';

import { mapMutations } from 'vuex';

import EventBus from 'Consultant/event-bus';
import { contract } from 'Consultant/event-bus/eventNames';

export default {
	name: 'SearchProperty',

	components: {
		CtInputText,
		ConsultantButton,
		PropertySearchResult
	},

	data() {
		return {
			searchText: '',
			loadingSearch: false,
			propertyLists: [],
			showSearchResultPage: false
		};
	},

	created() {
		this.listenResetState();
	},

	methods: {
		...mapMutations('createContract', ['setPropertySelected']),

		listenResetState() {
			EventBus.$on(contract.resetPropertyState, () => {
				this.showSearchResultPage = false;
				this.propertyLists = [];
				this.searchText = '';
			});
		},

		async handleSearchProperty() {
			const isValid = await this.$validator.validate(
				'createContract.searchProperty'
			);
			if (isValid) {
				this.loadingSearch = true;
				const [resultSearchProperty] = await Promise.all([
					this.searchProperty(this.searchText),
					this.goToResultPage()
				]);

				if (resultSearchProperty.success) {
					this.propertyLists = this.mappingDataProperty(
						resultSearchProperty.data
					);
				}
				this.loadingSearch = false;
			}
		},

		mappingDataProperty(propertyLists) {
			if (propertyLists.length) {
				return propertyLists.map(eachProperty => {
					return {
						value: eachProperty.id,
						label: eachProperty.name,
						checked: false
					};
				});
			} else {
				return [];
			}
		},

		async searchProperty(propertyName) {
			const result = { success: false, data: [] };
			try {
				const response = await axios.get(
					'/api/contract/search-property/' + propertyName
				);
				if (response.status && response.data) {
					result.success = true;
					result.data = response.data.data;
				}
			} catch (error) {
				console.error(error);
			}
			return Promise.resolve(result);
		},

		goToResultPage() {
			return new Promise(resolve => {
				const TIMEOUT_GO_TO_RESULT_PAGE = 500;
				setTimeout(() => {
					this.showSearchResultPage = true;
					resolve();
				}, TIMEOUT_GO_TO_RESULT_PAGE);
			});
		},

		handleClickBackAction() {
			if (this.showSearchResultPage) {
				this.hideSearchResultPage();
			} else {
				if (this.$route.query.prev_page) {
					this.goToPreviousPage();
				} else {
					this.$router.push({
						name: this.$route.meta.navbarOptions.prevPathName
					});
				}
			}
		},

		hideSearchResultPage() {
			this.showSearchResultPage = false;
			this.loadingSearch = false;
			this.propertyLists = [];
			this.setPropertySelected({});
		},

		goToPreviousPage() {
			const routes = this.$router.options.routes;
			/* eslint-disable camelcase */
			const { prev_page = '' } = this.$route.query;

			if (prev_page && routes.find(route => route.name === prev_page)) {
				this.$router.push({ name: prev_page });
				/* eslint-enable camelcase */
			} else {
				this.$router.push({
					name: this.$route.meta.navbarOptions.prevPathName
				});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable-next-line primer/no-override */
.mb-3 {
	margin-bottom: 30px;
}
.search-property {
	position: relative;
	height: calc(90vh - 60px);

	.search-section {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}
}
</style>
