<template>
	<div class="tenant-informations">
		<div v-if="loadingGetTenant" class="row">
			<div v-for="i in 6" :key="i" class="col-xs-12">
				<shimmer-placeholder height="30px"></shimmer-placeholder>
			</div>
		</div>
		<div v-else class="row">
			<div class="col-xs-12">
				<input-field
					v-model="tenantData.name"
					legend="Nama"
					placeholder="Tulis nama penyewa disini"
					rules="required"
					mandatory-sign
					regular
				></input-field>
			</div>
			<div class="col-xs-12">
				<input-field
					v-model="tenantData.phone_number"
					legend="Nomor HP"
					placeholder="Tulis nomor HP disini"
					rules="required|phone"
					mandatory-sign
					regular
					type="tel"
				></input-field>
			</div>
			<div class="col-xs-12">
				<input-field
					v-model="tenantData.email"
					legend="Email"
					placeholder="Tulis email valid disini"
					rules="required|email"
					mandatory-sign
					regular
					type="email"
				></input-field>
			</div>
			<div class="col-xs-12">
				<consultant-select
					v-model="tenantData.gender_value"
					legend="Jenis Kelamin"
					placeholder="Pilih jenis kelamin"
					:options="genderOptions"
					insensitive
					regular
					mandatory-sign
				></consultant-select>
			</div>
			<div class="col-xs-12">
				<identity-uploader
					v-model="photos"
					:identity-photo="identityPhoto"
					:document-photo="documentPhoto"
				></identity-uploader>
			</div>
			<div class="col-xs-12">
				<consultant-select
					v-model="tenantData.marital_status"
					legend="Status"
					placeholder="Pilih status"
					:options="statusOptions"
					insensitive
					regular
					mandatory-sign
				></consultant-select>
			</div>
			<div class="col-xs-12">
				<consultant-select
					v-model="tenantData.occupation"
					legend="Okupasi"
					placeholder="Okupasi"
					:options="occupationOptions"
					insensitive
					regular
					mandatory-sign
				></consultant-select>
			</div>
			<template v-if="isMahasiswaSelected">
				<div class="col-xs-12">
					<input-field
						v-model="tenantData.parent_name"
						legend="Nama Penanggung Jawab"
						placeholder="Tulis nama penanggung jawab disini"
						rules="required"
						mandatory-sign
						regular
					></input-field>
				</div>
				<div class="col-xs-12">
					<input-field
						v-model="tenantData.parent_phone_number"
						legend="Nomor Kontak Penanggung Jawab"
						placeholder="Tulis nomor kontak penanggung jawab disini"
						rules="required|phone"
						mandatory-sign
						regular
						type="tel"
					></input-field>
				</div>
			</template>
			<div class="col-xs-12 mt-3">
				<consultant-button
					large
					block
					outline
					:disabled="isButtonNextDisabled"
					@click="handleClickNext"
				>
					Selanjutnya
				</consultant-button>
			</div>
		</div>
	</div>
</template>

<script>
import InputField from 'Consultant/components/InputField.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import ConsultantSelect from 'Consultant/components/ConsultantSelect.vue';
import IdentityUploader from '../identity-upload/IdentityUploader.vue';
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder.vue';

import { mapState, mapMutations, mapGetters } from 'vuex';

import EventBus from 'Consultant/event-bus';
import { input } from 'Consultant/event-bus/eventNames';

export default {
	name: 'TenantInformations',

	components: {
		InputField,
		ConsultantButton,
		ConsultantSelect,
		IdentityUploader,
		ShimmerPlaceholder
	},

	data() {
		return {
			tenantData: {
				name: '',
				phone_number: '',
				email: '',
				occupation: '',
				gender_value: '',
				marital_status: '',
				parent_name: '',
				parent_phone_number: ''
			},
			photos: {
				document: null,
				identity: null
			},
			identityPhoto: null,
			documentPhoto: null,
			loadingGetProperty: false,
			occupationOptions: [
				{
					label: 'Mahasiswa',
					value: 'Mahasiswa'
				},
				{
					label: 'Karyawan',
					value: 'Karyawan'
				}
			],
			genderOptions: [
				{
					label: 'Laki-laki',
					value: 'male'
				},
				{
					label: 'Perempuan',
					value: 'female'
				}
			],
			statusOptions: [
				{
					label: 'Belum Kawin',
					value: 'Belum Kawin'
				},
				{
					label: 'Kawin',
					value: 'Kawin'
				},
				{
					label: 'Kawin dan Memiliki Anak',
					value: 'Kawin dan Memiliki Anak'
				}
			],
			loadingGetTenant: false
		};
	},

	computed: {
		...mapState('createContract', ['tenant', 'section']),
		...mapGetters('createContract', ['hasUniqueId', 'tempPhotos']),
		isMahasiswaSelected() {
			return this.tenantData.occupation === 'Mahasiswa';
		},
		isButtonNextDisabled() {
			const almostTrue = Object.entries(this.tenantData).some(
				([key, value]) => {
					if (this.isMahasiswaSelected) {
						return !value;
					} else {
						return (
							!value && key !== 'parent_name' && key !== 'parent_phone_number'
						);
					}
				}
			);

			return almostTrue || !this.photos.identity || !this.photos.document;
		}
	},

	watch: {
		tenant: {
			immediate: true,
			handler(tenantData) {
				this.tenantData = this.mergingTenantData(this.tenantData, tenantData);
				this.documentPhoto = this.createManuallyUploadData('doc', tenantData);
				this.identityPhoto = this.createManuallyUploadData('id', tenantData);
			}
		},
		$route: {
			immediate: true,
			handler(routeChanges) {
				this.handleRouteChanges(routeChanges);
			}
		},
		section: {
			immediate: true,
			handler(value, oldValue) {
				if (value === 3) {
					EventBus.$emit(input.resetErrors);
				}
			}
		}
	},

	methods: {
		...mapMutations('createContract', [
			'prevSection',
			'nextSection',
			'setTenantData',
			'setPropertySelected',
			'resetAllState',
			'changeSection',
			'setPhotos'
		]),

		mergingTenantData(tenantDataLocal, tenantDataGlobal) {
			const updatedTenantData = {};
			for (const key of Object.keys(tenantDataLocal)) {
				updatedTenantData[key] = tenantDataGlobal[key] || null;
			}
			return updatedTenantData;
		},

		async handleClickNext() {
			this.setTenantData(this.tenantData);
			this.setPhotos(this.photos);
			this.nextSection();
		},

		handleClickBackAction() {
			const routes = this.$router.options.routes;
			/* eslint-disable camelcase */
			const { prev_page = '' } = this.$route.query;

			if (prev_page && routes.find(route => route.name === prev_page)) {
				this.$router.push({ name: prev_page });
				/* eslint-enable camelcase */
			} else {
				this.prevSection();
			}
		},

		async handleRouteChanges(route) {
			/* eslint-disable camelcase */
			const { prev_page, tenant_phone, property_id, unique_id } = route.query;

			/* istanbul ignore else */
			if (prev_page) {
				if (tenant_phone && property_id && this.isPhoneValid(tenant_phone)) {
					if (this.hasUniqueId(unique_id)) {
						// set property id into store
						this.setPropertySelected({ value: property_id });
						this.loadingGetTenant = true;
						const result = await this.searchTenantByPhone(tenant_phone);
						/* istanbul ignore else */
						if (result.success) {
							this.setTenantData(result.data);
						}
						this.loadingGetTenant = false;
					} else {
						this.$router.push({ name: 'potential-tenant' });
					}
				} else {
					this.resetAllState();
					this.changeSection(1);
				}
			}
		},

		async searchTenantByPhone(phone) {
			const result = { success: false, data: {} };

			try {
				const response = await axios.get(
					'/api/tenant/search?phone_number=' + phone
				);
				/* istanbul ignore else */
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data.tenant;
				}
			} catch (error) {
				/* istanbul ignore next */
				bugsnagClient.notify(error);
			}
			return result;
		},

		isPhoneValid(phone) {
			return /^(08(\d)+)$/.test(phone);
		},

		checkingAutoFillForm() {
			this.photos = this.tempPhotos;
			this.documentPhoto = this.tempPhotos.document;
			this.identityPhoto = this.tempPhotos.identity;
		},

		createManuallyUploadData(type, tenantData) {
			const {
				photo_document_id: docId,
				photo_document: doc,
				photo_identifier_id: identityId,
				photo_identifier: identity
			} = tenantData;
			switch (type) {
				case 'doc':
					return docId
						? {
								id: docId,
								urls: doc
						  }
						: null;

				case 'id':
					return identityId
						? {
								id: identityId,
								urls: identity
						  }
						: null;

				default:
					return null;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.tenant-informations {
	.col-xs-12 {
		margin-bottom: 20px;
	}
}
</style>
