<template>
	<div v-inviewport:50="handleFetchBenefit" class="detail-kost-benefit">
		<div
			v-if="!isRendered || isShowBenefitContent"
			class="detail-kost-benefit-divider"
		>
			<bg-divider />
		</div>

		<div v-if="isShowBenefitContent" class="detail-kost-benefit-content">
			<div
				v-for="(benefit, index) in kosAndalanBenefit"
				:key="`${benefit.title}-${index}`"
				class="detail-kost-benefit-content-wrapper"
			>
				<div class="detail-kost-benefit-content-wrapper-img">
					<img
						v-lazy="{
							src: benefit.icon_url,
							error:
								'/general/img/pictures/placeholder/placeholder_loading.svg',
							loading:
								'/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						class="detail-kost-benefit-content-wrapper-img__source"
					/>
				</div>
				<div class="detail-kost-benefit-content-wrapper-information">
					<span
						class="detail-kost-benefit-content-wrapper-information__title"
						>{{ benefit.title }}</span
					>
					<p class="detail-kost-benefit-content-wrapper-information__subtitle">
						{{ benefit.description }}
					</p>
				</div>
			</div>
		</div>

		<detail-kost-benefit-skeleton v-else-if="!isRendered" />
	</div>
</template>

<script>
import _get from 'lodash/get';
import InViewPortDirective from 'Js/@directives/InViewPortDirective';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import { BgDivider } from 'bangul-vue';
import MixinAbTestHelper from '../../../mixins/MixinAbTestHelper';

import DetailKostBenefitSkeleton from './DetailKostBenefitSkeleton';

export default {
	components: {
		BgDivider,
		DetailKostBenefitSkeleton
	},
	directives: InViewPortDirective,
	mixins: [MixinAbTestHelper],
	data() {
		return {
			kosAndalanBenefit: [],
			isRendered: false
		};
	},
	computed: {
		isShowBenefitContent() {
			const isKostBenefitAvailable = Boolean(this.kosAndalanBenefit.length);

			return this.isRendered && isKostBenefitAvailable;
		}
	},
	watch: {
		isAbTestChecked: {
			handler(isDoneChecking) {
				isDoneChecking &&
					this.isViewedBeforeCheckingAbTest &&
					this.handleFetchBenefit();
			},
			immediate: true
		}
	},
	methods: {
		async handleFetchBenefit() {
			if (!this.isAbTestChecked) {
				this.isViewedBeforeCheckingAbTest = true;
				return;
			}

			const kostId = _get(this.$store.state, 'detail._id', null);

			if (!kostId) {
				this.isRendered = true;
				return;
			}

			const response = await makeAPICall({
				method: 'get',
				url: `/stories/benefit/${kostId}?variant=${this.isUserAbTest}`
			});

			if (response && typeof response === 'object') {
				this.kosAndalanBenefit = _get(response, 'benefits', []);
			}

			this.isRendered = true;
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-kost-benefit-content {
	display: flex;
	padding: 48px 0;
	flex-direction: column;

	@media (max-width: 767px) {
		padding: 32px 16px;
		background: #fff;
	}

	.detail-kost-benefit-content-wrapper {
		display: flex;

		&:not(:first-of-type) {
			margin-top: 24px;
		}
	}
}

.detail-kost-benefit-content-wrapper-img {
	display: flex;
	align-items: flex-start;
	width: 32px;
	margin-right: 16px;

	.detail-kost-benefit-content-wrapper-img__source {
		width: 32px;
		height: auto;
	}
}

.detail-kost-benefit-content-wrapper-information {
	display: flex;
	flex-direction: column;

	.detail-kost-benefit-content-wrapper-information__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		line-height: 100%;
		color: #303030;
	}

	.detail-kost-benefit-content-wrapper-information__subtitle {
		margin: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		color: #757575;
	}
}

.detail-kost-benefit-divider {
	@media (max-width: 767px) {
		padding: 0 16px;
	}
}
</style>
