<template>
	<div class="kost-benefit-placeholder">
		<div
			v-for="indexDescription in 3"
			:key="indexDescription"
			class="kost-benefit-placeholder__content"
		>
			<div class="kost-benefit-placeholder__content-icon">
				<bg-skeleton :width="32" :height="32" ellipsed />
			</div>
			<div class="kost-benefit-placeholder__content-text">
				<bg-skeleton width="50%" :height="16" />
				<bg-skeleton width="100%" :height="48" />
			</div>
		</div>
	</div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	components: {
		BgSkeleton
	}
};
</script>

<style lang="scss" scoped>
@import 'Js/_detail/style/index.scss';

.kost-benefit-placeholder {
	display: block;
	padding: 48px 0;

	@media (max-width: 767px) {
		padding: 32px 0;
		background: #fff;
	}

	.kost-benefit-placeholder__content {
		display: flex;
		align-items: center;

		@media (max-width: 767px) {
			margin-left: 16px;
		}

		&:not(:first-of-type) {
			margin-top: 16px;
		}

		.kost-benefit-placeholder__content-icon {
			margin-right: 16px;
			margin-bottom: auto;
		}

		.kost-benefit-placeholder__content-text {
			width: 75%;
		}
	}
}
</style>
