<template>
	<div class="app-wrapper container">
		<navbar-custom :navigations="navigations"></navbar-custom>
		<!-- <breadcrumb-trails></breadcrumb-trails> -->
		<promo-title></promo-title>

		<promo-filter></promo-filter>

		<div class="clearfix"></div>

		<promo-list-pagination />
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' }
			]
		};
	}
};
</script>

<style>
.app-wrapper {
	padding-top: 54px;
}
@media (max-width: 767px) {
	.app-wrapper {
		padding-top: 0;
	}
}

/*Normalize*/
h1,
h2,
h3,
strong {
	font-size: inherit;
	line-height: 1.15;
	font-weight: inherit;
	margin: 0;
	color: inherit;
	display: inline-block;
}
</style>
