<template>
	<div>
		<div class="flex flex-spaced-between title-icon">
			<span class="flex">
				<img src="assets/owner/ic_owner_kat_loker.png" title="ic_owner_kat_loker">
				<span><h1><strong>{{ metaTitle }}</strong></h1></span>
			</span>
		</div>
	</div>
</template>

<script>
import EventBus from './event-bus';

export default {
	data() {
		return {
			urlParams: urlParams,
			metaTitle: metaTitle
		};
	},
	mounted() {
		EventBus.$on('filterJobStatusChanged', (payload) => {
			this.jobType = payload;
			this.generateTitle();
		});
		EventBus.$on('filterEducationChanged', (payload) => {
			this.lastEducation = payload;
			this.generateTitle();
		});
		EventBus.$on('filterPlaceChanged', (payload) => {
			this.city = (payload == 'all') ? '' : payload;	
			this.generateTitle();
		});
	},
	methods: {
		generateTitle() {
			document.title = 'Loker ' + this.lastEducation + ' ' + this.city + ' ' + this.jobType + ' Bulan ' + this.calendar + ' - Mamikos';
		}
	},
	computed: {
		city: {
			get() {
				return (this.urlParams.cityFilter == 'Semua Kota') ? '' : this.urlParams.cityFilter;
			},
			set(value) {
				this.urlParams.cityFilter = value;
			}
		},
		jobType: {
			get() {
				var jobTypeList = {
					all: '',
					'full-time': 'Full Time',
					'part-time': 'Part Time',
					freelance: 'Freelance',
				};
				return jobTypeList[this.urlParams.jobTypeFilter];
			},
			set(value) {
				this.urlParams.jobTypeFilter = value;
			}
		},
		lastEducation: {
			get() {
				var lastEducationList = {
					all: 'Semua Jurusan',
					high_school: 'SMA/SMK',
					diploma: 'D1/D2/D3',
					bachelor: 'Sarjana/S1',
					master: 'Master/S2',
					doctor: 'Doktor/S3',
					college: 'Mahasiswa',
					fresh_grad: 'Fresh Graduate'
				};
				return lastEducationList[this.urlParams.lastEducationFilter];
			},
			set(value) {
				this.urlParams.lastEducationFilter = value;
			}
		},
		calendar() {
			return this.urlParams.monthCalendar;
		}
	}
};
</script>

<style scoped>
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-vertical-center {
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.flex-spaced-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.title-icon {
	margin-top: 35px;
}
.title-icon span {
	font-weight: bold;
	font-size: 22px;
}
.title-icon img {
	width: 40px;
	height: 37.5px;
	margin-right: 10px;
}

.mobile-button {
	margin-top: 10px;
	text-align: right;
}
</style>