<template>
	<div>
		<div class="col-xs-12 filter-container stretch">
			<div class="col-xs-12 col-md-3 filter-component">
				<form @submit.prevent="searchCriteria()">
					<label for="vacancyCriteria"
						><h2><strong>Masukkan Kata Kunci</strong></h2></label
					>
					<div class="input-group">
						<input
							type="text"
							id="vacancyCriteria"
							class="form-control"
							placeholder="Ketik yang Anda cari..."
							required
							v-model="filter.criteria"
						/>
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="fa fa-search search-icon"></i>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div class="col-xs-12 col-md-9 stretch">
				<div class="col-xs-12 col-sm-3 filter-component">
					<label
						><h2><strong>Kota dan Area</strong></h2></label
					>
					<v-select
						v-model="filter.place"
						:options="place_select_items"
						:placeholder="'Cari kota disini...'"
						id="areaFilter"
					>
						<span slot="no-options">Kota yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<button
					type="button"
					class="btn btn-mamigreen btn-filter-toggle visible-xs"
					data-toggle="collapse"
					data-target="#filterHidden"
					@click="toggleFilter"
				>
					<span v-if="showSlide">Sembunyikan Filter</span>
					<span v-else>Lebih Banyak Filter</span>
					<i class="fa fa-chevron-up" v-if="showSlide"></i>
					<i class="fa fa-chevron-down" v-else></i>
				</button>
				<div id="filterHidden" class="collapse hidden-xs">
					<div class="col-xs-12 col-sm-3 filter-component">
						<label
							><h3><strong>Status Pekerjaan</strong></h3></label
						>
						<select class="form-control" v-model="filter.job_status">
							<option v-for="(item, key) in jobTypeOptions" :value="key">{{
								item
							}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 filter-component">
						<label
							><h3><strong>Pendidikan Terakhir</strong></h3></label
						>
						<select class="form-control" v-model="filter.education">
							<option v-for="item in educationOptions" :value="item.key">{{
								item.value
							}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 filter-component">
						<label
							><h3><strong>Urutkan</strong></h3></label
						>
						<select class="form-control" v-model="filter.sorting">
							<option :value="'default'">Via Mamikos</option>
							<option :value="'new'">Dari Lowongan Terbaru</option>
							<option :value="'old'">Dari Lowongan Terlama</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from './event-bus';

export default {
	components: {
		'v-select': vSelect
	},
	data() {
		return {
			filter: {
				job_status: urlParams.jobTypeFilter,
				education: urlParams.lastEducationFilter,
				sorting: 'default',
				price_range: [0, 10000000],
				place: urlParams.cityFilter,
				criteria: urlParams.criteriaFilter
			},
			slider_option: {
				show: true,
				lazy: true,
				min: 0,
				max: 10000000,
				height: 8,
				interval: 500000,
				tooltip: 'always',
				tooltipDir: ['bottom', 'bottom'],
				piecewise: true,
				formatter(value) {
					return 'Rp. ' + Number(value).toLocaleString('id');
				},
				bgStyle: {
					backgroundColor: '#fff',
					boxShadow: 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)'
				},
				sliderStyle: { backgroundColor: '#1BAA56' },
				tooltipStyle: {
					backgroundColor: '#fff',
					borderColor: '#1BAA56',
					fontSize: '11px',
					color: '#1BAA56'
				},
				processStyle: { backgroundColor: '#1BAA56' },
				piecewiseStyle: {
					backgroundColor: '#ccc',
					visibility: 'visible',
					width: '8px',
					height: '8px'
				},
				piecewiseActiveStyle: { backgroundColor: '#078b07' }
			},

			jobTypeOptions: jobTypeOptions,
			educationOptions: educationOptions,

			showSlide: false,

			place_select_items: [],
			placeList: {}
		};
	},
	computed: {
		isBusy: {
			get() {
				return this.$root.state.extras.isBusy;
			},
			set(val) {
				this.$root.state.extras.isBusy = val;
			}
		}
	},
	watch: {
		'filter.job_status'(item) {
			EventBus.$emit('filterJobStatusChanged', item);
			this.pushUrl();
		},
		'filter.education'(item) {
			EventBus.$emit('filterEducationChanged', item);
			this.pushUrl();
		},
		'filter.sorting'(item) {
			EventBus.$emit('filterSortingChanged', item);
		},
		// 'filter.price_range'(item) {
		// 	EventBus.$emit('filterPriceRangeChanged', item);
		// },
		'filter.place'(item) {
			EventBus.$emit('filterPlaceChanged', item.value);
			this.pushUrl();
		}
	},
	mounted() {
		this.getFiltersList();

		$('#filterHidden').on('show.bs.collapse', () => {
			this.showSlide = true;
		});
	},
	methods: {
		toggleFilter() {
			this.showSlide = !this.showSlide;
		},
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				this.placeList = response.cities;

				for (var item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		},
		pushUrl() {
			const educationList = {
				all: 'semua-jurusan',
				high_school: 'sma-smk',
				diploma: 'diploma',
				bachelor: 'sarjana',
				master: 'master',
				doctor: 'doktor',
				college: 'mahasiswa',
				fresh_grad: 'fresh-graduate'
			};

			let location = '';
			if (this.filter.place.value == undefined) {
				for (var element in this.placeList) {
					if (element == this.filter.place) {
						location = element.toLowerCase().replace(' ', '-');
						break;
					} else {
						location = 'semua-kota';
					}
				}
			} else {
				location = this.filter.place.label.toLowerCase().replace(' ', '-');
			}

			const keywordSearch = this.filter.criteria
				.toLowerCase()
				.replace(' ', '-');

			var link =
				'/loker/pekerjaan/' +
				location +
				'/' +
				educationList[this.filter.education] +
				'/' +
				this.filter.job_status +
				'/' +
				keywordSearch;

			// this.$router.push(link)
			window.location = link;
		},
		searchCriteria(val) {
			EventBus.$emit('filterCriteriaChanged', val);
			this.pushUrl();
		}
	}
};
</script>

<style scoped>
.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}
	.filter-component {
		padding-bottom: 6px;
		margin-bottom: 5px;
	}
}

.refresh-button {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: right;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #1baa56;
	background-color: #fff;
	border: none;
}

.btn-filter-toggle {
	box-shadow: none !important;
}

.btn-refresh:active,
.btn-refresh:focus {
	background-color: #fff;
}

.btn-refresh:hover {
	background-color: #e6e6e6;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}
.search-icon {
	color: #ec4a0c;
}
</style>

<style>
.v-select {
	font-family: inherit !important;
}
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select .selected-tag {
	position: absolute;
	margin: 3px 1px 0 3px;
}
.v-select .open-indicator {
	bottom: 3px;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
</style>
