<template>
	<div>
		<div v-if="!isLoading && jobs.vacancy.length !== 0">
			<h2 class="count-label" v-if="jobs.offset == 0">
				1 - {{ jobs.vacancy.length }} Lowongan Kerja dari
				{{ jobs.total }} Lowongan Kerja
			</h2>
			<h2 class="count-label" v-else>
				{{ jobsCount }} - {{ jobsLoaded }} Lowongan Kerja dari {{ jobs.total }}
			</h2>
		</div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<vacancy-list :jobs="jobs.vacancy" v-if="!isLoading"></vacancy-list>

		<div class="clearfix"></div>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Lowongan pekerjaan tidak ditemukan.</p>
			<img
				src="/assets/history_zero.png"
				alt="Lowongan pekerjaan tidak ditemukan"
			/>
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>

		<div class="pagination-section">
			<paginate
				v-if="!(jobs.page == 1 && !jobs['has-more'])"
				ref="pagination"
				:page-count="totalPage"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
				v-model="lastPage"
			></paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from './event-bus';
import paginate from 'vuejs-paginate';

export default {
	components: {
		paginate
	},

	data() {
		return {
			lastPage: 1,
			jobs: {
				total: 0,
				page: 1,
				offset: 0,
				vacancy: []
			},
			filter: {
				type: urlParams.jobTypeFilter,
				last_education: urlParams.lastEducationFilter,
				price_range: [0, 10000000],
				criteria: urlParams.criteriaFilter,
				random_seeds: Math.floor(Math.random() * (1000 - 0 + 1)) + 0
			},

			place: urlParams.cityFilter, // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,
			limit: 18,
			jobsCount: 1,
			jobsLoaded: 18,

			requestLimit: 90,

			showTopButton: false
		};
	},

	computed: {
		isBusy: {
			get() {
				return this.$root.state.extras.isBusy;
			},
			set(val) {
				this.$root.state.extras.isBusy = val;
			}
		},
		article() {
			return this.$root.state.article;
		},
		totalPage() {
			let total = Math.ceil(this.jobs.total / this.jobs.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		}
	},

	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getJobList();
		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterJobStatusChanged', payload => {
			this.filter.type = payload;
			// this.refreshList();
		});
		EventBus.$on('filterEducationChanged', payload => {
			this.filter.last_education = payload;
			// this.refreshList();
		});
		EventBus.$on('filterSortingChanged', payload => {
			if (payload == 'default') {
				delete this.filter.sort;
			} else {
				this.filter.sort = payload;
			}
			this.refreshList();
			this.lastPage = 1;
		});
		// EventBus.$on('filterPriceRangeChanged', payload => {
		// 	this.filter.price_range = payload;
		// 	this.refreshList();
		// });
	},

	methods: {
		getJobList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			let places = [];
			if (this.place != 'all' && this.place != 'Semua Kota') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			let filters = this.filter;
			let sorting = this.sorting;

			if (this.isBusy == false) {
				this.isBusy = true;
				axios
					.post('/stories/jobs/list', {
						filters,
						sorting,
						limit: this.limit,
						offset: this.jobs.offset
					})
					.then(response => {
						if (response.data.status) {
							this.jobs = response.data;
							this.isLoading = false;
							this.isBusy = false;

							if (response.data.total == 0) {
								this.isRoomEmpty = true;
							}
						} else {
							bugsnagClient.notify(JSON.stringify(response));
						}
					})
					.catch(error => {
						bugsnagClient.notify(error);
					});
			}
		},

		refreshList() {
			this.jobs.offset = 0;
			this.busy = false;
			if (this.$refs.pagination) this.$refs.pagination.currentPage = 1;
			this.getJobList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},

		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.jobs.offset = dataOffset;

			let count = 18 * (page - 1) + 1;
			this.jobsCount = count;

			let inpage = 18 * (page - 1) + this.jobs.vacancy.length;
			this.jobsLoaded = inpage;

			this.getJobList();
			this.gotoTop();
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
	padding: 0 10px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.count-label {
	color: #006634;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
