<template>
	<div>
		<div
			class="vacancy-list col-md-4 col-sm-6 col-xs-12 track-open-detail"
			v-for="(vacancy, index) in jobs"
			:key="index"
		>
			<div
				class="box-vacancy track-open-detail"
				@click="openDetailVacancy(vacancy.share_slug)"
				:title="vacancy.title"
			>
				<div class="middle" v-show="vacancy.apply == true">
					<span class="text">SUDAH DILAMAR</span>
				</div>
				<div :class="{ overlay: vacancy.apply == true }">
					<div class="vacancy-header track-open-detail">
						<img
							v-if="vacancy.photo.small !== null && vacancy.photo.small !== ''"
							v-lazy="{
								src: vacancy.photo.small,
								error: '/assets/icons/company_placeholder/01.jpg',
								loading: '/assets/icons/company_placeholder/01.jpg'
							}"
							class="company-logo"
							alt="company_logo"
						/>
						<span class="vacancy-title track-open-detail">{{
							vacancy.title
						}}</span>
						<span
							class="badge-vacancy badge-fulltime track-open-detail"
							v-if="vacancy.type == 'FULL-TIME'"
							>FULLTIME</span
						>
						<span
							class="badge-vacancy badge-parttime track-open-detail"
							v-else-if="vacancy.type == 'PART-TIME'"
							>PARTTIME</span
						>
						<span
							class="badge-vacancy badge-freelance track-open-detail"
							v-else-if="vacancy.type == 'FREELANCE'"
							>FREELANCE</span
						>
						<span
							class="badge-vacancy badge-internship track-open-detail"
							v-else-if="vacancy.type == 'MAGANG'"
							>MAGANG</span
						>
					</div>
					<div class="vacancy-body track-open-detail">
						<div class="company-name track-open-detail">
							<span class="company-label track-open-detail">{{
								vacancy.place_name
							}}</span>
							<div
								class="apply-via from-mamikos"
								v-if="vacancy.apply_other_web == false"
							>
								<div class="apply-icon"><i class="fa fa-check"></i></div>
								<span>via mamikos</span>
							</div>
							<div class="apply-via from-others" v-else>
								<div class="apply-icon"><i class="fa fa-ellipsis-h"></i></div>
								<span>via web lain</span>
							</div>
						</div>
						<div class="company-location track-open-detail">
							<span class="track-open-detail">{{ vacancy.subdistrict }}</span>
							<span
								class="track-open-detail"
								v-if="
									vacancy.subdistrict !== null &&
										vacancy.subdistrict !== '' &&
										vacancy.city !== null &&
										vacancy.city !== ''
								"
								>,&nbsp;</span
							>
							<span class="track-open-detail">{{ vacancy.city }}</span>
						</div>
					</div>
					<div
						class="vacancy-salary flex justify-space-between track-jobs-open-detail"
					>
						<span
							class="salary track-jobs-open-detail"
							v-if="vacancy.salary == null"
							>Gaji Dirahasiakan</span
						>
						<span class="salary track-jobs-open-detail" v-else>{{
							vacancy.salary
						}}</span>
					</div>
					<div
						class="vacancy-date flex justify-space-between track-jobs-open-detail"
					>
						<span class="exp-date text-danger track-jobs-open-detail">{{
							vacancy.expired_string
						}}</span>
						<span class="post-date track-jobs-open-detail">{{
							vacancy.created_at
						}}</span>
					</div>
					<!-- <div class="vacancy-footer track-open-detail">
						<span class="salary track-open-detail" v-if="vacancy.salary == null">Gaji Dirahasiakan</span>
						<span class="salary track-open-detail" v-else>{{ vacancy.salary }}</span>
						<span class="post-date track-open-detail">{{ vacancy.created_at }}</span>
					</div> -->
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</template>

<script>
import VueLazyload from 'vue-lazyload';
Vue.use(VueLazyload);

export default {
	data() {
		return {
			isOwner: false,
			isUser: false
		};
	},
	props: {
		jobs: {
			type: Array,
			required: true
		}
	},
	computed: {
		authCheck() {}
	},
	created() {},
	methods: {
		openDetailVacancy(slug) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = '' + slug;
			} else {
				window.open('' + slug, '_blank');
			}
		}
	}
};
</script>

<style scoped>
.vacancy-null {
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
}
.add-vacancy-icon {
	margin-bottom: 7px;
}
.add-vacancy-title {
	font-size: 22px;
	font-weight: bold;
	color: #1baa56;
}
.add-vacancy-text {
	margin-top: 7px;
	margin-bottom: 7px;
}
.vacancy-list {
	text-decoration: none;
}
.add-vacancy-button {
	margin-top: 15px;
}
.add-vacancy-button button {
	width: 250px;
	font-size: 18px;
	font-weight: bold;
}
.box-vacancy {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 15px;
	height: 195px;
	padding: 15px;
	background-color: #fff;
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

@media (max-width: 375px) {
	.box-vacancy {
		height: 205px;
	}
}

.box-vacancy:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.vacancy-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	padding-bottom: 10px;
}
.company-logo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.vacancy-title {
	color: #1baa56;
	font-size: 16px;
	width: 300px;
	height: 2.6em;
	/*font-weight: 700;*/
	text-overflow: ellipsis;
}
.vacancy-body,
.vacancy-salary .post-date {
	color: #3e5168;
}
.badge-vacancy {
	font-weight: 400;
	padding: 4px 7px;
	border-radius: 5px;
	font-size: 13px;
	color: #fff;
	width: 80px;
	height: 27px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
}
.badge-fulltime {
	background-color: #a25390;
}
.badge-parttime {
	background-color: #e89122;
}
.badge-freelance {
	background-color: #5eaca6;
}
.badge-internship {
	background-color: #a3c502;
}
.vacancy-body {
	padding-bottom: 10px;
}
.company-name {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-weight: 600;
	padding-bottom: 10px;
}
.company-label {
	padding-right: 7px;
	max-width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.company-location {
	font-size: 13px;
}
.vacancy-salary,
.vacancy-date {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.vacancy-date {
	padding-top: 7px;
}
.salary {
	font-weight: bold;
	font-size: 13px;
	color: #1baa56;
}
.post-date {
	font-size: 13px;
}
.overlay {
	opacity: 0.3;
}
.middle {
	transition: 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	z-index: 2;
}
.text {
	color: #000;
	font-size: 14px;
	padding: 16px 32px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #fff;
}
.apply-via {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	width: 105px;
	padding-right: 5px;
	border-radius: 1000px;
	color: #fff;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;
}
.apply-icon {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #1baa56;
	border-radius: 1000px;
	font-size: 10px;
	height: 14px;
	width: 14px;
	padding: 0 2px;
}
.from-mamikos {
	background-color: #fff;
	color: #1baa56;
	border: 1px solid #1baa56;
}
.from-mamikos .apply-icon {
	color: #fff;
}
.from-others {
	background-color: #7a7a7a;
}
.from-others .apply-icon {
	color: #7a7a7a;
}

@media (max-width: 350px) {
	.company-label {
		max-width: 150px;
	}
}
@media (min-width: 992px) {
	.vacancy-title {
		width: 210px;
	}
}
@media (min-width: 992px) and (max-width: 1190px) {
	.company-label {
		padding-right: 1px;
		max-width: 150px;
	}
}

.vacancy-title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*.vacancy-title {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}
.vacancy-title:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.vacancy-title:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}*/
</style>
