<template>
	<section>
		<div v-if="isMobile" class="singgahsini-navbar" @click="prevPageAction">
			<button class="singgahsini-navbar__btn">
				<bg-icon name="back"></bg-icon>
			</button>
			<img
				class="singgahsini-navbar__logo"
				title="Singgahsini"
				src="/assets/logo/svg/logo_singgahsini_full_color.svg"
				alt="Singgahsini Logo"
			/>
		</div>
		<div v-else class="singgahsini-navbar">
			<img
				class="singgahsini-navbar__logo"
				title="Singgahsini"
				src="/assets/logo/svg/logo_singgahsini_full_color.svg"
				alt="Singgahsini Logo"
			/>
		</div>
		<div class="singgahsini-form-container">
			<div class="singgahsini-form-container__header">
				<bg-link
					v-if="!isMobile"
					variant="high"
					class="singgahsini-form-container__link-text"
					@click="prevPageAction"
				>
					Kembali
				</bg-link>
				<h1 class="title">Selamat datang!</h1>
				<p class="subtitle">
					Silakan isi data diri Anda dan kos yang ingin didaftarkan ke
					Singgahsini.
				</p>
				<bg-grid>
					<bg-grid-item>
						<div class="input-field full-name">
							<bg-field
								label="Nama Lengkap Anda"
								:message="errors.first('registerOwner.name')"
								:error="!!errors.first('registerOwner.name')"
							>
								<bg-input
									v-model="ownerName"
									v-validate="'required|min:3|max:50'"
									placeholder="Isi sesuai KTP"
									size="lg"
									required
									name="name"
									data-vv-name="name"
									data-vv-scope="registerOwner"
									data-vv-as="Nama lengkap"
								/>
							</bg-field>
						</div>
						<div class="input-field phone-number">
							<bg-field
								label="No. Handphone Aktif"
								:message="errors.first('registerOwner.phone')"
								:error="!!errors.first('registerOwner.phone')"
							>
								<bg-input
									v-model="ownerPhoneNumber"
									v-validate="'required|min:9|max:15'"
									placeholder="Masukan no. HP yang bisa dihubungi"
									size="lg"
									name="phone"
									data-vv-name="phone"
									data-vv-scope="registerOwner"
									data-vv-as="No. Handphone"
									type="number"
								/>
							</bg-field>
						</div>
						<div class="input-field kos-name">
							<bg-field
								label="Nama Kos"
								:message="errors.first('registerOwner.kosName')"
								:error="!!errors.first('registerOwner.kosName')"
							>
								<bg-input
									v-model="kosName"
									v-validate="'required|min:3|max:30'"
									placeholder="Masukkan nama kos Anda"
									name="kosName"
									data-vv-name="kosName"
									data-vv-scope="registerOwner"
									data-vv-as="Nama kos"
									required
								/>
							</bg-field>
						</div>
						<div class="input-field kos-name">
							<bg-field
								label="Kabupaten / Kota"
								:message="errors.first('registerOwner.city')"
								:error="!!errors.first('registerOwner.city')"
							>
								<bg-select
									v-model="valueOfSelectedCity"
									v-validate="'required'"
									:options="city"
									searchable
									scrollable
									name="city"
									data-vv-name="city"
									data-vv-scope="registerOwner"
									data-vv-as="Kabupaten / Kota"
									required
									placeholder="Pilih kabupaten / kota kos Anda"
									@input="setSelectedCityName"
								/>
							</bg-field>
						</div>
						<bg-field
							label="Alamat Lengkap Kos"
							:message="errors.first('registerOwner.fullAddress')"
							:error="!!errors.first('registerOwner.fullAddress')"
						>
							<bg-textarea
								v-model="fullAddress"
								v-validate="'required|min:3'"
								name="fullAddress"
								data-vv-name="fullAddress"
								data-vv-scope="registerOwner"
								data-vv-as="Alamat lengkap Kos"
								required
								placeholder="Masukkan alamat lengkap kos Anda"
								:max-char="300"
							></bg-textarea>
						</bg-field>
						<div class="register-btn-container">
							<button class="register-btn" @click="validateInput">
								Daftar
							</button>
						</div>
					</bg-grid-item>
				</bg-grid>
			</div>
		</div>

		<singgahsini-register-modal
			v-if="showModal"
			:is-loading="isLoading"
			:modal-error="modalError"
			@resubmit="validateInput"
			@close="closeErrorModal"
		></singgahsini-register-modal>
		<singgahsini-confirmation-modal
			v-if="confirmModal"
			@close="closeModal"
		></singgahsini-confirmation-modal>
	</section>
</template>

<script>
import { mapState } from 'vuex';

import SinggahsiniRegisterModal from './SinggahsiniRegisterModal.vue';
import SinggahsiniConfirmationModal from './SinggahsiniConfirmationModal.vue';
import {
	BgGrid,
	BgGridItem,
	BgField,
	BgInput,
	BgTextarea,
	BgLink,
	BgSelect,
	BgIcon
} from 'bangul-vue';

import MixinIsMobile from '../mixins/MixinIsMobile';
import MixinFilledInput from '../mixins/MixinFilledInput';

export default {
	components: {
		BgGrid,
		BgGridItem,
		BgField,
		BgInput,
		BgTextarea,
		BgLink,
		BgSelect,
		BgIcon,
		SinggahsiniRegisterModal,
		SinggahsiniConfirmationModal
	},

	mixins: [MixinIsMobile, MixinFilledInput],

	data() {
		const temp = [];
		for (let index = 0; index < 513; index++) {
			temp.push({});
		}
		return {
			needsError: false,
			showModal: false,
			isLoading: false,
			modalError: false,
			confirmModal: false,
			customMessages: {
				custom: {
					name: {
						required: 'Masukkan nama lengkap Anda terlebih dahulu.'
					},
					phone: {
						required: 'Masukkan no. HP Anda terlebih dahulu.',
						max: 'Harus terdiri dari 9-15 angka.',
						min: 'Harus terdiri dari 9-15 angka.'
					},
					kosName: {
						required: 'Masukkan nama kos Anda terlebih dahulu.'
					},
					city: {
						required: 'Anda belum memasukkan kabupaten / kota kos Anda.'
					},
					fullAddress: {
						required: 'Anda belum memasukkan alamat kos Anda.'
					}
				}
			},
			valueOfSelectedCity: null,
			city: temp
		};
	},

	computed: {
		...mapState(['registrationData']),
		ownerName: {
			get() {
				return this.registrationData.ownerData.owner_name;
			},
			set(val) {
				this.$store.commit('setOwnerDataName', val);
			}
		},
		ownerPhoneNumber: {
			get() {
				return this.registrationData.ownerData.phone_number;
			},
			set(val) {
				this.$store.commit('setOwnerDataPhoneNumber', val);
			}
		},
		kosName: {
			get() {
				return this.registrationData.ownerData.kost_name;
			},
			set(val) {
				this.$store.commit('setOwnerDataKosName', val);
			}
		},
		fullAddress: {
			get() {
				return this.registrationData.ownerData.address;
			},
			set(val) {
				this.$store.commit('setOwnerDataAddressNote', val);
			}
		}
	},

	mounted() {
		this.$validator.localize('id', this.customMessages);
		this.getCity();
	},

	methods: {
		renderSelect() {
			return this.city.length > 0;
		},
		prevPageAction() {
			this.confirmModal = true;
		},
		closeModal() {
			this.confirmModal = false;
		},
		closeErrorModal() {
			this.modalError = false;
			this.showModal = false;
		},
		validateInput() {
			this.$validator.validate('registerOwner.*').then(async result => {
				if (result) {
					this.showModal = true;
					this.isLoading = true;

					const responseSaveData = await this.submitSinggahsiniRegister();
					if (responseSaveData.success) {
						this.isLoading = false;
						this.modalError = false;
					} else {
						this.isLoading = false;
						this.modalError = true;
					}
				}
			});
		},
		async submitSinggahsiniRegister() {
			const result = { success: false, data: {} };

			const registerData = {
				...this.registrationData.ownerData
			};

			try {
				const response = await axios.post('/singgahsini/register/', {
					...registerData
				});

				if (response.data.status) {
					result.success = true;
					this.moengageTracker(registerData);
				} else {
					result.data = response.data.messages;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
			return result;
		},
		moengageTracker(registerData) {
			const trackInterface = this.interfaceCheck();

			tracker('moe', [
				`Singgahsini - Registration Form Submited`,
				{
					...registerData,
					is_owner: window.authCheck.owner,
					interface: trackInterface
				}
			]);
		},
		interfaceCheck() {
			const userAgent = navigator.userAgent.toLowerCase();
			let userDevice = 'desktop';
			const operatingSystemList = {
				android: {
					regex: /(android)/g,
					os: 'mobile-android'
				},
				ios: {
					regex: /(iPod|iPad|iPhone)/g,
					os: 'mobile-ios'
				},
				mobile: {
					regex: /(windows phone 8|windows phone os 7|blackberry|playbookwebos)/g,
					os: 'mobile'
				}
			};

			const found = false;
			Object.keys(operatingSystemList).forEach(key => {
				if (!found && operatingSystemList[key].regex.test(userAgent)) {
					userDevice = operatingSystemList[key].os;
				}
			});

			return userDevice;
		},
		getCity() {
			axios
				.get('/area/city')
				.then(response => {
					if (response.data.status) {
						const dataCity = response.data.cities;
						for (const city in dataCity) {
							this.city[city] = {
								val: parseInt(city) + 1,
								label: dataCity[city].name
							};
						}
						this.$store.commit('setAllCity', this.city);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		setSelectedCityName() {
			const index = this.valueOfSelectedCity - 1;
			const selectedCityName = this.city[index].label;

			this.$store.commit('setOwnerDataCity', selectedCityName);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.input-field {
	.bg-c-input__field:focus:not(.bg-c-input__field--error),
	.bg-c-input__field--active {
		box-shadow: inset 0 0 0 1px #932571;
	}

	&.phone-number {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type='number'] {
			-moz-appearance: textfield;
		}
	}
}
</style>

<style lang="scss" scoped>
.singgahsini-form-container {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	&__link-text {
		font-weight: 900;
	}

	&__header {
		width: 384px;
		.title {
			font-size: 32px;
			font-weight: 900;

			@media (max-width: 768px) {
				margin-top: 0;
			}
		}

		.subtitle {
			font-size: 20px;
			font-weight: 400;
			color: #404040;
		}
	}

	@media (max-width: 768px) {
		margin: 24px 16px 0 16px;
	}
}

.register-btn {
	width: 100%;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #ffffff;
	background-color: #932571;
	border: none;
	border-radius: 4px;

	&-container {
		margin-top: 50px;

		@media (max-width: 768px) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 12px 16px;
			background-color: #ffffff;
			border-top: 1px solid #e8e8e8;
		}
	}
}

.singgahsini-navbar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e8e8e8;
	align-items: center;

	&__btn {
		margin-left: 18px;
		padding: 0;
		background-color: transparent;
		border: none;

		&:active,
		&:focus {
			border: none;
		}
	}

	&__logo {
		height: 41px;
		margin: 20px 0 20px 70px;

		@media (max-width: 768px) {
			height: 32px;
			margin-left: 18px;
		}
	}
}
</style>
