<template>
	<div class="singgahsini-modal">
		<div v-if="isLoading" class="singgahsini-modal__loading">
			<div class="singgahsini-modal__loader"></div>
		</div>

		<div v-else class="singgahsini-modal__card">
			<div class="singgahsini-modal__success">
				<div
					v-if="modalError"
					class="singgahsini-modal__close"
					@click="$emit('close', '')"
				>
					<img
						src="/general/img/pictures/landing-singgahsini/singgahsini-close.svg"
						alt="close"
					/>
				</div>
				<img
					v-lazy="modalStatus.image"
					alt="Singgahsini Register Status"
					class="singgahsini-modal__ilustration"
				/>

				<h1 class="singgahsini-modal__title">
					{{ modalStatus.title }}
				</h1>
				<p class="singgahsini-modal__subtitle">
					{{ modalStatus.subtitle }}
				</p>

				<div v-if="!isMobile">
					<a v-if="!modalError" :href="redirectUrl">
						<button class="singgahsini-modal__btn">Oke</button>
					</a>
					<button
						v-else
						class="singgahsini-modal__btn"
						@click="$emit('resubmit', '')"
					>
						Coba Lagi
					</button>
				</div>
				<div v-else class="singgahsini-modal__btn-container">
					<a v-if="!modalError" :href="redirectUrl">
						<button class="singgahsini-modal__btn">Oke</button>
					</a>
					<button
						v-else
						class="singgahsini-modal__btn"
						@click="$emit('resubmit', '')"
					>
						Coba Lagi
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	mixins: [MixinIsMobile],

	props: {
		isLoading: {
			type: Boolean,
			default: false
		},
		modalError: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			modalSuccess: {
				image:
					'/general/img/pictures/landing-singgahsini/singgahsini-register-success.svg',
				title: 'Anda berhasil mendaftar Singgahsini',
				subtitle:
					'Terima kasih telah mendaftar. Tim Singahsini akan menghubungi Anda.'
			},
			modalFailed: {
				image:
					'/general/img/pictures/landing-singgahsini/singgahsini-register-failed.svg',
				title: 'Kendala Koneksi',
				subtitle:
					'Mohon maaf, sepertinya sedang ada kendala. Silakan coba lagi.'
			}
		};
	},

	computed: {
		modalStatus() {
			return this.modalError ? this.modalFailed : this.modalSuccess;
		},
		redirectUrl() {
			const patt = /\/singgahsini\/daftar/g;
			const redirect = patt.test(window.location.pathname)
				? '/singgahsini'
				: '/';

			return redirect;
		}
	}
};
</script>

<style lang="scss" scoped>
.singgahsini-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;

	@media (max-width: 769px) {
		display: block;
		background-color: #ffffff;
	}

	&__card {
		display: flex;
		width: 382px;
		height: 464px;
		padding: 44px;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 16px;

		@media (max-width: 769px) {
			width: 100%;
			height: 100vh;
			padding-bottom: 73px;
			border-radius: 16px;
		}
	}

	&__success {
		text-align: center;
	}

	&__ilustration {
		width: 168px;
		height: auto;
		margin-bottom: 36px;
	}

	&__title {
		margin: 0 0 24px;
		font-size: 23px;
		font-weight: 900;
		line-height: 32px;
	}

	&__subtitle {
		margin: 0 0 24px;
		font-size: 16px;
		line-height: 24px;
	}

	&__btn {
		width: 200px;
		height: 48px;
		padding: 12px 16px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #ffffff;
		background: #932571;
		border-radius: 4px;
		border: none;

		@media (max-width: 769px) {
			width: 100%;
		}

		&-container {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 12px 16px;
			border-top: 1px solid #e8e8e8;
		}
	}

	&__loading {
		@media (max-width: 769px) {
			display: flex;
			width: 100%;
			height: calc(100% - 70px);
			justify-content: center;
			align-items: center;
		}
	}

	&__loader {
		width: 100px;
		height: 100px;
		border: 5px solid #f3f3f3;
		border-top: 5px solid #932571;
		border-radius: 50%;
		-webkit-animation: spin 1s linear infinite; /* Safari */
		animation: spin 1s linear infinite;
	}

	&__close {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 34px;

		@media (max-width: 769px) {
			position: absolute;
			top: 30px;
			right: 30px;
		}
	}
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>
