<template>
	<div class="singgahsini-modal">
		<div v-if="isLoading" class="singgahsini-modal__loading">
			<div class="singgahsini-modal__loader"></div>
		</div>

		<div v-else class="singgahsini-modal__card">
			<div class="singgahsini-modal__success">
				<img
					v-lazy="modalConfirm.image"
					alt="Singgahsini Register Status"
					class="singgahsini-modal__ilustration"
				/>

				<h1 class="singgahsini-modal__title">
					{{ modalConfirm.title }}
				</h1>
				<p class="singgahsini-modal__subtitle">
					{{ modalConfirm.subtitle }}
				</p>

				<div v-if="!isMobile" class="singgahsini-modal__btn-wrapper">
					<a :href="redirectUrl">
						<button class="singgahsini-modal__btn-exit">Keluar</button>
					</a>
					<button class="singgahsini-modal__btn" @click="$emit('close', '')">
						Lanjut Isi
					</button>
				</div>
				<div v-else class="singgahsini-modal__btn-container">
					<a :href="redirectUrl">
						<button class="singgahsini-modal__btn-exit">Keluar</button>
					</a>
					<button class="singgahsini-modal__btn" @click="$emit('close', '')">
						Lanjut Isi
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	mixins: [MixinIsMobile],

	props: {
		isLoading: {
			type: Boolean,
			default: false
		},
		confirmModal: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			modalConfirm: {
				image:
					'/general/img/pictures/landing-singgahsini/singgahsini-back-confirmation.svg',
				title: 'Anda yakin ingin keluar dari halaman ini?',
				subtitle: 'Data yang telah Anda isi akan terhapus.'
			}
		};
	},

	computed: {
		redirectUrl() {
			const path = /\/singgahsini\/daftar/g;
			const redirect = path.test(window.location.pathname)
				? '/singgahsini'
				: '/';

			return redirect;
		}
	}
};
</script>

<style lang="scss" scoped>
.singgahsini-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;

	@media (max-width: 769px) {
		display: block;
		background-color: #ffffff;
	}

	&__card {
		display: flex;
		width: 382px;
		height: 464px;
		padding: 44px;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 16px;

		@media (max-width: 769px) {
			width: 100%;
			height: 100vh;
			padding-bottom: 73px;
			border-radius: 16px;
		}
	}

	&__success {
		text-align: center;
	}

	&__ilustration {
		width: 168px;
		height: auto;
		margin-bottom: 36px;
	}

	&__title {
		margin: 0 0 24px;
		font-size: 23px;
		font-weight: 900;
		line-height: 32px;
	}

	&__subtitle {
		margin: 0 0 24px;
		font-size: 16px;
		line-height: 24px;
	}

	&__btn-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		width: 130px;
		height: 48px;
		padding: 12px 16px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #ffffff;
		background: #932571;
		border-radius: 4px;
		border: none;

		@media (max-width: 769px) {
			width: 50%;
		}

		&-container {
			display: flex;
			justify-content: space-between;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 12px 16px;
			border-top: 1px solid #e8e8e8;
		}
	}

	&__btn-exit {
		width: 130px;
		height: 48px;
		padding: 12px 16px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
		background: #ffffff;
		border-radius: 4px;
		border: 1px solid #e8e8e8;

		&-container {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 12px 16px;
			border-top: 1px solid #e8e8e8;
		}
	}

	&__loading {
		@media (max-width: 769px) {
			display: flex;
			width: 100%;
			height: calc(100% - 70px);
			justify-content: center;
			align-items: center;
		}
	}

	&__loader {
		width: 100px;
		height: 100px;
		border: 5px solid #f3f3f3;
		border-top: 5px solid #932571;
		border-radius: 50%;
		-webkit-animation: spin 1s linear infinite; /* Safari */
		animation: spin 1s linear infinite;
	}
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
</style>
