<template>
	<div class="singgahsini-navbar">
		<button v-if="isMobile" class="singgahsini-navbar__btn">
			<bg-icon name="back"></bg-icon>
		</button>
		<img
			class="singgahsini-navbar__logo"
			title="Mamikos"
			src="/assets/logo/svg/logo_singgahsini_full_color.svg"
			alt="Singgahsini Logo"
		/>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import MixinIsMobile from '../mixins/MixinIsMobile';

export default {
	components: {
		BgIcon
	},

	mixins: [MixinIsMobile],

	computed: {
		redirectUrl() {
			const path = /\/singgahsini\/daftar/g;
			const redirect = path.test(window.location.pathname)
				? '/singgahsini'
				: '/';

			return redirect;
		}
	},

	methods: {
		goBack() {
			if (this.isRoot) {
				const path = /\/singgahsini\/daftar/g;
				const redirect = path.test(window.location.pathname)
					? '/singgahsini'
					: '/';

				location.href = redirect;
			} else {
				this.$router.push({ path: '/' });
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.singgahsini-navbar {
	height: 56px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e8e8e8;
	align-items: center;

	&__btn {
		margin-left: 18px;
		padding: 0;
		background-color: transparent;
		border: none;

		&:active,
		&:focus {
			border: none;
		}
	}

	&__logo {
		height: 41px;
		margin-left: 50px;

		@media (max-width: 768px) {
			height: 32px;
		}
	}
}
</style>
