<template>
	<section class="singgahsini-register">
		<div class="sidebar">
			<singgahsini-navbar v-if="isMobile" :is-root="true"></singgahsini-navbar>
		</div>
		<router-view class="register-form"></router-view>
	</section>
</template>

<script>
import MixinIsMobile from '../mixins/MixinIsMobile';
import SinggahsiniNavbar from './SinggahsiniNavbar';

export default {
	components: {
		SinggahsiniNavbar
	},

	mixins: [MixinIsMobile]
};
</script>

<style lang="scss" scoped>
.singgahsini-register {
	display: flex;

	@media (max-width: 769px) {
		flex-wrap: wrap;
	}

	&__title {
		margin: 48px 0;
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;

		@media (max-width: 769px) {
			padding: 16px;
			margin: 0;
		}
	}

	&__menu {
		padding: 0;
		list-style: none;

		@media (max-width: 769px) {
			padding: 0 16px;
		}
	}

	&__list {
		padding: 12px 0;

		@media (max-width: 769px) {
			padding: 22px 0;
			border-bottom: 1px solid #ebebeb;
		}

		> a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #303030;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}

			.icon {
				color: #932571;
			}
		}
	}

	&__start-btn {
		width: 68px;
		height: 40px;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		color: #ffffff;
		background-color: #932571;
		border: none;
		border-radius: 4px;
	}
}

.sidebar {
	@media (max-width: 769px) {
		width: 100%;
		padding: 0;
	}
}

.register-form {
	width: 100%;

	@media (max-width: 769px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		background-color: #ffffff;
	}
}
</style>
