<template>
	<div>
		<div class="main">
			<div v-if="totalListData > 0">
				<div v-for="(item, key) in history" :key="key">
					<h1 v-if="item.is_recent" class="title">
						{{ toMonth(item.date) }}
					</h1>
					<div class="b-list">
						<p class="b-list__title">{{ item.title }}</p>
						<div class="content">
							<p class="content__date">
								{{ formatDate(item.date) }}
							</p>
							<p v-if="!isPoinUsed(item.value)" class="content__poin">
								{{ `+ ${toThousand(item.value)} Poin` }}
							</p>
							<p v-else class="content__poin-expired">
								{{ `${toThousand(item.value)} Poin` }}
							</p>
						</div>
						<hr class="line" />
					</div>
				</div>
			</div>
			<mamipoin-skeleton v-if="isLoading" />
		</div>
		<mamipoin-empty v-if="!isLoading && totalListData < 1" />
	</div>
</template>

<script>
import moment from 'moment';
import MamipoinEmpty from '../MamipoinEmpty';
import MamipoinSkeleton from '../MamipoinSkeleton';
import mixinMamipoin from '../../../mixins/mixinMamipoin';
export default {
	name: 'MamipoinListData',
	components: {
		MamipoinSkeleton,
		MamipoinEmpty
	},
	mixins: [mixinMamipoin],
	props: {
		history: {
			type: Array,
			required: true
		},
		isLoading: {
			type: Boolean,
			default: true
		}
	},
	computed: {
		totalListData() {
			return this.history.length;
		},

		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	methods: {
		isPoinUsed(poin) {
			return poin.toString().includes('-');
		},
		toMonth(date) {
			moment.locale('id');
			return moment(date).format('MMMM YYYY');
		},
		formatDate(date) {
			moment.locale('id');
			return moment(date).format('DD MMM YYYY');
		}
	}
};
</script>

<style lang="scss" scoped>
.main {
	margin: 24px 0 0;

	@media (min-width: 768px) and (max-width: 1024px) {
		margin: 12px 0 0 14px;
	}

	@media (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}
}
.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 28px;
	margin: 0;

	@media (min-width: 768px) and (max-width: 1024px) {
		font-family: Lato;
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		line-height: 28px;
		margin: 0;
		position: relative;
		top: 15px;
		right: 15px;
	}

	@media (max-width: 767px) {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		position: relative;
		font-size: 16px;
		line-height: 24px;
		margin-top: 24px;
		right: 5px;
	}
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;

	@media (min-width: 768px) and (max-width: 1024px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px;
	}

	@media (max-width: 767px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px;
	}

	&__poin {
		background: #edf9f4;
		border-radius: 24px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #1baa56;
		padding: 8px 24px 8px 24px;
		position: relative;
		bottom: 8px;

		@media (min-width: 768px) and (max-width: 1024px) {
			margin-right: 20px;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			background: #e8f7ee;
			border-radius: 20px;
			padding: 8px 24px 8px 24px;
			color: #016034;
		}
	}
	&__poin-expired {
		background: #fff4f2;
		border-radius: 24px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #9b292d;
		padding: 8px 24px 8px 24px;
		position: relative;
		bottom: 8px;
		@media (min-width: 768px) and (max-width: 1024px) {
			margin-right: 20px;
		}

		@media (max-width: 767px) {
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 21px;
			background: #fff4f2;
			border-radius: 20px;
			color: #9b292d;
			padding: 8px 24px 8px 24px;
		}
	}

	&__date {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		margin: 8px 0px 16px 16px;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
		@media (min-width: 768px) and (max-width: 1024px) {
			font-family: Lato;
			font-style: normal;
			font-weight: normal;
			margin: 35px 0px 16px 4px;
			font-size: 16px;
			line-height: 24px;
			color: #404040;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
			color: #757575;
		}
	}
}
.line {
	margin: 0px;
	width: 655px;
	height: 1px;
	background: #dddddd;

	@media (min-width: 768px) and (max-width: 1024px) {
		margin: 0px;
		width: 465px;
		height: 1px;
		background: #dddddd;
	}

	@media (max-width: 767px) {
		margin-top: -6px;
		width: 100%;
		height: 1px;
		background: #dddddd;
	}
}
.b-list {
	width: 655px;
	height: 92px;
	margin-top: 16px;
	background: #ffffff;

	@media (min-width: 768px) and (max-width: 1024px) {
		width: 485px;
		height: 120px;
		margin-top: 16px;
		background: #ffffff;
	}

	@media (max-width: 767px) {
		width: 326px;
		height: 50px;
		margin-top: 16px;
		background: #ffffff;
	}

	&__title {
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #303030;
		margin: 16px 399px 0px 16.2px;
		position: relative;
		top: 2px;

		@media (min-width: 768px) and (max-width: 1024px) {
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			color: #303030;
			margin: 0;
			position: relative;
			top: 17px;
		}

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
			color: #303030;
			margin: 0px 130px 0px 14px;
		}
	}
}
</style>
