<template>
	<div class="add-tenant-select-kost">
		<add-tenant-select-kost-skeleton v-if="isShowFullLoading" />
		<template v-else>
			<div v-if="!isAllBbk" class="add-tenant-select-kost__disclaimer">
				<p class="add-tenant-select-kost__disclaimer-text">
					Penyewa hanya bisa ditambahkan di kos yang terdaftar Booking Langsung.
				</p>
			</div>
			<add-tenant-kost-list
				v-if="kostList.length > 0"
				:kost-list="kostList"
				@select-not-available-room="showKostFullModal"
				@select-room="selectKost"
			/>
			<add-tenant-select-kost-skeleton
				v-if="isLoadingKostList && !isShowFullLoading"
				:count="1"
			/>
		</template>
	</div>
</template>

<script>
import _get from 'lodash/get';

import AddTenantKostList from './AddTenantKostList';
import AddTenantSelectKostSkeleton from './AddTenantSelectKostSkeleton';

import MixinAddTenant from '../../../mixins/MixinAddTenant';

export default {
	name: 'AddTenantSelectKost',
	components: {
		AddTenantKostList,
		AddTenantSelectKostSkeleton
	},

	mixins: [MixinAddTenant],

	created() {
		this.checkPageSource();
		this.setSelectedFromQuery();
		if (!this.kostList || this.kostList.length === 0) {
			this.getOwnerKostList();
		}
	},

	mounted() {
		window.addEventListener('scroll', this.setScrollBottomToLoadMoreKost);
		this.updateSourceSelectKos();
		this.updateSourceCheckPhone();
		this.trackSelectKosVisited();
	},

	beforeDestroy() {
		window.removeEventListener('scroll', this.setScrollBottomToLoadMoreKost);
	},

	methods: {
		setScrollBottomToLoadMoreKost() {
			const isOnBottom =
				document.documentElement.scrollTop + window.innerHeight >=
				document.getElementById('addTenantProfileContainer').offsetHeight;

			if (
				isOnBottom &&
				this.kostListParams.hasMore &&
				!this.isLoadingKostList &&
				!this.isLoadingKostDetail
			) {
				this.getOwnerKostList();
			}
		},
		trackSelectKosVisited() {
			tracker('moe', [
				'[Owner] Tambah Penyewa Pilih Kos - Page Visited',
				{
					interface: this.userInterface,
					owner_name: _get(this.userData, 'name', ''),
					owner_phone_number: _get(this.userData, 'phone_number', ''),
					redirection_source: this.redirectionSourceSelectKos
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.add-tenant-select-kost {
	&__disclaimer {
		padding: 16px 0 32px;
		font-size: 16px;
		line-height: 24px;

		&-text {
			margin-bottom: 0;
		}
	}

	@media (max-width: 767px) {
		&__disclaimer {
			padding: 0 0 16px;
		}
	}
}
</style>
