<template>
	<ul v-if="!!kostList" class="add-tenant-kost-list">
		<li
			v-for="kostItem in kostList"
			:key="kostItem.id"
			class="add-tenant-kost-list__item"
			@click="onKostItemClicked(kostItem)"
		>
			<add-tenant-kost-item
				:kost-name="kostItem.room_title"
				:kost-location="kostItem.area_formatted"
			/>
		</li>
	</ul>
</template>

<script>
import AddTenantKostItem from './AddTenantKostItem.vue';

export default {
	name: 'AddTenantKostList',
	components: {
		AddTenantKostItem
	},
	props: {
		kostList: {
			type: Array,
			required: true
		}
	},
	methods: {
		onKostItemClicked(kostInfo) {
			if (!!kostInfo.room_available && kostInfo.room_available >= 1) {
				this.$emit('select-room', kostInfo);
			} else {
				this.$emit('select-not-available-room', kostInfo.id);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.add-tenant-kost-list {
	width: 100%;
	padding: 0;
	list-style: none;

	&__item {
		cursor: pointer;
	}
}
</style>
