<template>
	<div class="select-kost-skeleton">
		<div v-for="i in count" :key="i" class="select-kost-skeleton__container">
			<div class="--skeleton-item"></div>
			<div class="--skeleton-item"></div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		count: {
			type: Number,
			default: 5
		}
	}
};
</script>

<style lang="scss" scoped>
.select-kost-skeleton {
	overflow-x: hidden;

	&__container {
		position: relative;
		padding: 15px 0;

		.--skeleton-item {
			height: 24px;
			overflow: hidden;
			color: transparent;
			pointer-events: none;
			background-color: #e9e9e9;
			border-radius: 4px;
		}

		.--skeleton-item:first-of-type {
			width: 90%;
		}

		.--skeleton-item:last-of-type {
			width: 70%;
			margin-top: 4px;
		}
	}

	&__container::after {
		position: absolute;
		top: 0;
		z-index: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(
			90deg,
			transparent,
			rgba(255, 255, 255, 0.3),
			transparent
		);
		transform: translateX(-100%);
		animation: loading 1.5s infinite;
	}

	@keyframes loading {
		100% {
			transform: translateX(100%);
		}
	}
}
</style>
