<template>
	<div class="add-tenant-kost-item">
		<div class="add-tenant-kost-item__content">
			<b class="add-tenant-kost-item__name">{{ kostName }}</b>
			<span class="add-tenant-kost-item__location">{{ kostLocation }}</span>
		</div>
		<img
			v-lazy="
				'/general/img/icons/ic_chevron-consultant-pagination_right_black.svg'
			"
			class="add-tenant-kost-item__arrow"
			alt="icon chevron right"
		/>
	</div>
</template>

<script>
export default {
	name: 'AddTenantKostItem',
	props: {
		kostName: {
			type: String,
			default: ''
		},
		kostLocation: {
			type: String,
			default: ''
		}
	}
};
</script>

<style lang="scss" scoped>
.add-tenant-kost-item {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	border-bottom: 1px solid #e8e8e8;

	&__content {
		display: flex;
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		flex-direction: column;
	}

	&__name {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		max-height: 48px;
		margin-bottom: 4px;
		overflow: hidden;
		color: #303030;
	}

	&__location {
		color: #949494;
	}

	&__arrow {
		width: 14px;
	}
}
</style>
