<template>
	<mami-select-options
		v-model="rentDuration"
		label="Durasi Sewa"
		placeholder="Pilih durasi sewa"
		is-required
		is-value-index
		:options="rentDurationList"
		:error-message="errorMessage"
		:disabled="disabledSelect"
	/>
</template>

<script>
const MamiSelectOptions = () =>
	import('Js/@components/mami-components/MamiSelectOptions.vue');

export default {
	components: {
		MamiSelectOptions
	},
	data() {
		return {
			isValid: true
		};
	},
	computed: {
		rentDurationList() {
			return this.$store.state.addTenant.rentDurationList;
		},
		rentDuration: {
			get() {
				return this.$store.state.addTenant.params.duration;
			},
			set(duration) {
				this.$store.commit('addTenant/setRentDuration', duration);
				this.validateRentDuration();
			}
		},
		disabledSelect() {
			return !this.rentDurationList || this.rentDurationList.length === 0;
		},
		errorMessage() {
			return !this.isValid ? 'Wajib diisi' : '';
		}
	},
	methods: {
		validateRentDuration() {
			this.isValid = !!this.rentDuration;
		}
	}
};
</script>
