<template>
	<mami-input-wrapper
		v-click-outside="closeDatePicker"
		class="add-tenant-due-date"
		is-required
		input-label="Jatuh Tempo"
		:error-message="errorMessage"
	>
		<input
			:value="selectedDateLabel"
			class="form-control add-tenant-due-date__input"
			type="text"
			placeholder="Pilih tanggal jatuh tempo"
			readonly
			@click="$refs.dueDatePicker.showCalendar()"
		/>
		<datepicker
			ref="dueDatePicker"
			v-model="selectedDate"
			class="add-tenant-due-date__date-picker"
			maximum-view="day"
			full-month-name
			:language="id"
		/>
	</mami-input-wrapper>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import Datepicker from 'vuejs-datepicker';
import { id } from 'vuejs-datepicker/dist/locale';

const MamiInputWrapper = () =>
	import('Js/@components/mami-components/MamiInputWrapper.vue');

export default {
	components: {
		MamiInputWrapper,
		Datepicker
	},
	directives: {
		ClickOutside
	},
	data() {
		return {
			isValid: true,
			id
		};
	},
	computed: {
		selectedDateLabel() {
			if (!!this.selectedDate && this.$dayjs(this.selectedDate).isValid()) {
				return this.formatDate(this.selectedDate, 'DD MMMM YYYY');
			}
			return '';
		},
		selectedDate: {
			get() {
				return this.$store.state.addTenant.params.start_date;
			},
			set(date) {
				this.$store.commit(
					'addTenant/setDueDate',
					this.formatDate(date, 'YYYY-MM-DD')
				);
				this.validateRentDueDate();
			}
		},
		errorMessage() {
			if (!this.isValid) {
				if (!this.selectedDate) {
					return 'Wajib diisi';
				} else {
					return 'Tanggal tidak valid';
				}
			}
			return '';
		}
	},
	methods: {
		validateRentDueDate() {
			this.isValid =
				!!this.selectedDate && this.$dayjs(this.selectedDate).isValid();
		},
		formatDate(date, format) {
			return this.$dayjs(date)
				.locale('id')
				.format(format);
		},
		closeDatePicker() {
			if (
				this.$refs.dueDatePicker &&
				typeof this.$refs.dueDatePicker.close === 'function'
			) {
				this.$refs.dueDatePicker.close();
			}
		}
	}
};
</script>

<style lang="scss">
.add-tenant-due-date {
	&__input {
		padding-right: 44px;
		background-image: url('/general/img/icons/ic_date-mamipay_grey.svg');
		background-repeat: no-repeat;
		background-position: right 17px center;
		background-size: 20px;

		&[readonly] {
			background-color: #fff;
		}
	}

	&__date-picker {
		input {
			display: none;
		}

		.vdp-datepicker__calendar {
			width: 100%;
			margin-bottom: 32px;
		}

		.cell.day {
			&:not(.blank):not(.disabled):hover {
				background-color: #e8f7ee;
				border: 1px solid #e8f7ee !important;
				border-radius: 4px;
			}

			&.selected {
				color: #fff;
				background-color: #1baa56;
				border: 1px solid #1baa56;
				border-radius: 4px;
			}
		}
	}
}
</style>
