<template>
	<div class="add-tenant-price-input">
		<mami-input-wrapper
			:is-required="isRequired"
			:input-label="fieldLabel"
			:input-info="fieldInfo"
			:error-message="errorMessage"
		>
			<manage-currency-input
				v-model="price"
				class="form-control"
				maxlength="9"
				@input="validateRentPrice"
			/>
		</mami-input-wrapper>
	</div>
</template>

<script>
import ManageCurrencyInput from 'Js/_ownerpage/mamipay/components/page-tenant-profile/form-input/ManageCurrencyInput.vue';

const MamiInputWrapper = () =>
	import('Js/@components/mami-components/MamiInputWrapper.vue');

export default {
	components: {
		ManageCurrencyInput,
		MamiInputWrapper
	},

	props: {
		priceVal: {
			type: Number,
			required: true
		},
		isRequired: {
			type: Boolean,
			default: false
		},
		fieldLabel: {
			type: String,
			default: 'Harga Sewa'
		},
		fieldInfo: String
	},

	data() {
		return {
			isValid: true
		};
	},

	computed: {
		price: {
			get() {
				return this.priceVal;
			},
			set(price) {
				this.$emit('set-price', price);
				this.validateRentPrice(price);
			}
		},
		errorMessage() {
			if (
				this.price.toString().length >= 1 &&
				this.price.toString().length < 4 &&
				this.price >= 1
			) {
				return 'Minimal mengandung 4 karakter';
			} else if (!this.isValid && this.isRequired) {
				return 'Wajib diisi';
			}
			return '';
		}
	},

	methods: {
		validateRentPrice(price) {
			this.isValid = !!price && price >= 1;
		}
	}
};
</script>
