<template>
	<form
		novalidate
		class="add-tenant-payment-info add-tenant-payment-info__form"
		@submit.prevent="submitPaymentInfo"
	>
		<add-tenant-rent-count-select />
		<add-tenant-price-input
			is-required
			field-label="Harga Sewa"
			:price-val="rentTypeVal"
			@set-price="setRentType"
		/>
		<add-tenant-duration-select />
		<add-tenant-due-date />
		<bg-alert
			description="Tanggal jatuh tempo adalah tanggal penagihan pembayaran sewa di setiap bulannya."
			variant="info"
			:closable="false"
		/>
		<div class="add-tenant-payment-info__button-action">
			<button
				type="submit"
				class="btn btn-primary"
				:class="{ '--disabled': !isValidPaymentInfo }"
				:disabled="!isValidPaymentInfo"
			>
				Selanjutnya
			</button>
		</div>
	</form>
</template>

<script>
import _get from 'lodash/get';
import { BgAlert } from 'bangul-vue';
import { mapGetters } from 'vuex';
import AddTenantRentCountSelect from './AddTenantRentCountSelect';
import AddTenantPriceInput from './AddTenantPriceInput';
import AddTenantDurationSelect from './AddTenantDurationSelect';
import AddTenantDueDate from './AddTenantDueDate';

export default {
	components: {
		BgAlert,
		AddTenantRentCountSelect,
		AddTenantPriceInput,
		AddTenantDurationSelect,
		AddTenantDueDate
	},

	computed: {
		...mapGetters('addTenant', ['userInterface']),
		userData() {
			return this.$store.state.authData.all;
		},
		isValidPaymentInfo() {
			const {
				start_date,
				duration,
				amount,
				rent_type
			} = this.$store.state.addTenant.params;

			const isValidDueDate = !!start_date && this.$dayjs(start_date).isValid();
			const isValidRentDuration = !!duration && duration >= 1;
			const isValidRentPrice = !!amount && amount >= 1;

			return (
				!!rent_type && isValidDueDate && isValidRentDuration && isValidRentPrice
			);
		},
		rentTypeVal() {
			return this.$store.state.addTenant.params.amount;
		}
	},

	mounted() {
		this.trackPaymentInfoVisited();
	},

	methods: {
		setRentType(price) {
			this.$store.commit('addTenant/setRentPrice', price);
		},
		submitPaymentInfo() {
			if (this.isValidPaymentInfo) {
				this.$router.push({ name: 'addTenantPaymentOthers' });
			}
		},
		trackPaymentInfoVisited() {
			tracker('moe', [
				'[Owner] Tambah Penyewa Informasi Pembayaran - Page Visited',
				{
					interface: this.userInterface,
					owner_name: _get(this.userData, 'name', ''),
					owner_phone_number: _get(this.userData, 'phone_number', '')
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.add-tenant-payment-info {
	&__form > *:not(:last-of-type) {
		margin-bottom: 32px;
	}

	&__due-date-info {
		padding: 12px 40px 12px 16px !important;
	}
}
</style>

<style lang="scss" scoped>
.add-tenant-payment-info {
	padding: 8px 0 72px;

	&__button-action {
		position: fixed;
		bottom: 0;
		width: 460px;
		padding: 12px 16px;
		margin-top: 8px;
		background-color: #fff;
		border-top: 1px solid #e8e8e8;

		.btn {
			width: 100%;
			height: 48px;
			font-weight: bold;
			border: 0;
		}
	}

	@media (max-width: 767px) {
		&__button-action {
			margin-left: -16px;
		}
	}

	@media (max-width: 460px) {
		&__button-action {
			width: 100%;
		}
	}
}
</style>
