<template>
	<div class="add-tenant-select-options">
		<mami-select-options
			v-model="rentCount"
			:options="rentCountOptions"
			:error-message="errorMessage"
			label="Hitungan Sewa"
			placeholder="Pilih hitungan sewa"
			options-value="type"
			options-label="label"
			is-required
		/>
	</div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import _get from 'lodash/get';
import EventBus from '../../../event-bus/event-bus';

const MamiSelectOptions = () =>
	import('Js/@components/mami-components/MamiSelectOptions.vue');

export default {
	components: {
		MamiSelectOptions
	},
	data() {
		return {
			isValid: true
		};
	},
	computed: {
		...mapGetters('addTenant', ['rentCountOptions', 'selectedRoomId']),
		rentCount: {
			get() {
				return this.$store.state.addTenant.rentCountInfoType;
			},
			set(rentCountType) {
				this.$store.commit('addTenant/setLoadedAdditionalCostGroup', false);
				this.getRentCountDurations(rentCountType);
			}
		},
		errorMessage() {
			return !this.isValid ? 'Wajib diisi' : '';
		}
	},
	methods: {
		...mapMutations('addTenant', ['setRentDurationList']),
		...mapActions('addTenant', ['resetRentCount', 'applyRentCount']),
		async getRentCountDurations(rentCount) {
			try {
				if (!rentCount) return;
				this.openSwalLoading();
				this.applyRentCount(rentCount);
				this.setRentDurationList([]);
				const response = await axios.get(
					`/user/booking/rent-count/${rentCount}/room/${this.selectedRoomId}`,
					{
						baseURL: '/garuda'
					}
				);

				const responseStatus = _get(response, 'data.status', false);
				if (responseStatus) {
					const responseData = _get(response, 'data.data', []);
					this.applyRentCount(rentCount);
					this.setRentDurationList(responseData);
				} else {
					this.resetRentCount();
					EventBus.$emit('showModalError');
				}
				this.validateRentCount();
				this.closeSwalLoading();
			} catch (error) {
				this.validateRentCount();
				this.resetRentCount();
				EventBus.$emit('showModalError');
			}
		},
		validateRentCount() {
			this.isValid = !!this.rentCount;
		}
	}
};
</script>

<style lang="scss">
.add-tenant-select-options {
	.btn-group {
		width: 100%;
		height: 48px;

		.dropdown-toggle {
			width: 100%;
			height: 100%;
			padding: 12px 48px 12px 16px;

			span {
				font-size: 16px;
				line-height: 24px;
			}

			&:focus {
				border-color: #1baa56 !important;
			}

			&::after {
				right: 18px;
				border-top-width: 6px;
				border-right-width: 6px;
				border-left-width: 6px;
			}
		}

		.dropdown-menu {
			width: 100%;

			.check-mark {
				display: none;
			}

			a {
				padding: 8px 16px;
				font-size: 16px;
				line-height: 24px;

				&:hover {
					color: #1baa56;
					background-color: #e8f7ee;
					outline: none;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}
}
</style>
