<template>
	<div class="app-wrapper">
		<navbar-custom
			:show-input-search="true"
			:navigations="navigations"
		></navbar-custom>

		<breadcrumb-trails :contents="landingBreadcrumb"></breadcrumb-trails>
		<div class="container stretch landing-container">
			<landing-title :title="landingTitle"></landing-title>
			<landing-unit></landing-unit>
			<landing-data></landing-data>
			<landing-map></landing-map>
			<landing-recommendation
				:suggestions="suggestions"
			></landing-recommendation>
			<landing-description
				:halfwidth="false"
				:description="landingDescription"
			></landing-description>
		</div>
		<mami-footer></mami-footer>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
import EventBus from '../../event-bus';
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom,
		LoginUser
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen lainnya', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			isModalLogin: false
		};
	},

	computed: {
		landingCity() {
			return this.$store.state.project.city;
		},
		landingName() {
			return this.$store.state.project.name;
		},
		landingBreadcrumb() {
			return this.$store.state.project.breadcrumb;
		},
		landingTitle() {
			return (
				this.$store.state.project.name + ' - ' + this.$store.state.project.city
			);
		},
		landingDescription() {
			return this.$store.state.project.description !== null
				? this.$store.state.project.description
				: '';
		},
		landingTotalUnit() {
			return this.$store.state.project.unit_total;
		},
		suggestions() {
			return this.$store.state.suggestions;
		}
	},

	created() {
		this.initListener();
	},

	methods: {
		closeModalLogin() {
			this.isModalLogin = false;
		},
		initListener() {
			EventBus.$on('openModalLoginFav', payload => {
				this.isModalLogin = true;
			});
		}
	}
};
</script>

<style>
@media (max-width: 767px) {
	.breadcrumb-trails {
		margin-top: 0 !important;
	}
	.select-container.track-switch-category {
		padding: 50px 0 0 15px !important;
	}
}
</style>

<style scoped>
.landing-container {
	margin: auto;
}
@media (min-width: 768px) {
	.landing-container {
		padding-top: 91px;
	}
}
.landing-section {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
</style>
