<template>
	<div class="app-wrapper">
		<navbar-custom :navigations="navigations"></navbar-custom>
		<div
			class="container agent-container col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
		>
			<section-title
				:grid="'stretch col-xs-12 col-md-12 '"
				:text="'Cek Properti Terdaftar'"
			></section-title>

			<div class="form-group" :class="{ 'has-error': errors.has(label) }">
				<label for="checkCriteria">
					{{ label }}
					<i
						class="fa fa-circle-o-notch fa-spin loading-spinner-default"
						v-show="checking.isLoading"
					></i>
				</label>
				<input
					type="text"
					id="checkCriteria"
					class="form-control"
					placeholder="Isikan kriteria pencarian rumah kost / unit apartemen yang ingin Anda cek"
					:name="label"
					v-model="criteria"
					v-validate="'required|min:3|max:200'"
				/>
				<p class="text-danger" v-show="errors.has(label)">
					{{ errors.first(label) }}
				</p>
			</div>

			<div
				class="col-xs-12 minilist-wrapper"
				v-if="checking.isChecked"
				v-for="(room, index) in rooms"
			>
				<div
					class="minilist-container clickable flex material-card-1"
					@click="getPhotos(room._id, room.name)"
				>
					<div class="minilist-photo">
						<img v-if="room.photo != null" :src="room.photo.medium" />
						<img v-else src="assets/default.svg" />
					</div>
					<div class="minilist-info">
						<p>{{ room.name }}</p>
					</div>
				</div>
			</div>

			<div
				class="alert alert-info"
				v-show="rooms.length < 1 && checking.isChecked"
			>
				<strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
				Belum ditemukan properti dengan nama / nomor pemilik
				<b>"{{ criteria }}"</b> di Mamikos.
			</div>

			<!-- PHOTO MODAL -->
			<div
				class="modal fade"
				id="photosModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="modalPhotos"
			>
				<div class="modal-dialog modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<b>{{ photoName }}</b>
							<button type="button" class="close" data-dismiss="modal">
								<i class="fa fa-close fa-lg"></i>
							</button>
						</div>
						<div class="modal-body">
							<div class="row flex-center" v-show="photoIsLoading">
								<mami-loading-inline></mami-loading-inline>
							</div>
							<div
								class="row flex-center"
								v-show="photos == null && !photoIsLoading"
							>
								<p>Kost / Apartemen ini belum memiliki foto</p>
							</div>
							<div class="swiper" v-show="photos != null && !photoIsLoading">
								<swiper :options="swiperOption" ref="mySwiper">
									<swiper-slide
										class="swiper-image-container track-poster-promo"
										v-for="(photo, index) in photos"
										:key="index"
										:style="
											'background-size: cover; background-image: url(' +
												photo.photo_url.medium +
												')'
										"
									>
									</swiper-slide>

									<div
										class="swiper-pagination track-promo-others"
										slot="pagination"
									></div>
									<div
										class="swiper-button-prev track-promo-others"
										slot="button-prev"
									>
										<i class="fa fa-chevron-left"></i>
									</div>
									<div
										class="swiper-button-next track-promo-others"
										slot="button-next"
									>
										<i class="fa fa-chevron-right"></i>
									</div>
								</swiper>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- END OF PHOTO MODAL -->
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');
const NavbarCustom = () => import('Js/@components/NavbarCustom');
const SectionTitle = () => import('Js/@components/SectionTitle');

export default {
	components: {
		swiper,
		swiperSlide,
		MamiLoadingInline,
		NavbarCustom,
		SectionTitle
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			],
			label: 'Nama properti / No. handphone pemilik',
			criteria: '',
			checking: {
				isLoading: false,
				isChecked: false
			},
			swiperOption: {
				slidesPerView: 1,
				spaceBetween: 20,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				}
			},
			rooms: [],
			photos: [],
			photoName: '',
			photoIsLoading: true
		};
	},

	mounted() {
		let bannerIsHidden = Cookies.get('bannerHidden');
		if (bannerIsHidden) {
			$('.app-wrapper').addClass('banner-is-hidden');
			Cookies.set('bannerHidden', true, { expires: 1, path: '/' });
		}
	},

	computed: {
		token() {
			return document.head.querySelector('meta[name="csrf-token"]').content;
		}
	},

	watch: {
		criteria: debounce(function(val) {
			this.checking.isChecked = false;
			validator.attach('Nama properti', 'required|min:3|max:200');
			validator
				.validate('Nama properti', val)
				.then(result => {
					if (result) {
						this.checking.isLoading = true;
						axios
							.post('/stories/exist', {
								_token: this.token,
								criteria: this.criteria
							})
							.then(response => {
								this.checking.isLoading = false;
								this.checking.isChecked = true;
								this.rooms = response.data.rooms;
							})
							.catch(error => {
								this.checking.isLoading = false;
								this.checking.isChecked = false;
								alert('Terjadi galat saat pengecekan. Silakan coba lagi.');
								bugsnagClient.notify(error);
							});
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 750)
	},

	methods: {
		getPhotos(id, name) {
			this.photos = [];
			this.photoName = name;
			this.photoIsLoading = true;

			$('#photosModal').modal('show');

			axios
				.get('/stories/exist/photo/' + id)
				.then(response => {
					this.photos = response.data.photos;
					this.photoIsLoading = false;
				})
				.catch(error => {
					alert('Terjadi galat saat pengecekan. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>

<style scoped>
@media (min-width: 768px) {
	.agent-container {
		padding-top: 91px;
	}
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.minilist-container {
	margin: 15px;
	max-height: 100px;
}

.minilist-photo,
.minilist-info {
	display: inline-block;
}

.minilist-photo {
	min-width: 100px;
	max-width: 100px;
	height: 100px;
}
.minilist-photo img {
	width: 100%;
	height: 100%;
}

.minilist-info {
	padding: 10px;
}
.minilist-info p {
	font-weight: 700;
}

#photosModal .modal-dialog {
	margin-top: 60px !important;
}
#photosModal .swiper-slide {
	height: 400px;
}

.swiper-container {
	text-align: center;
}
.swiper-pagination {
	position: relative;
	margin-top: 20px;
}
.swiper-pagination-bullet-active {
	background: #1baa56;
}
.swiper-button-next,
.swiper-button-prev {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	color: #fff;
	background-color: #1baa56;
	background-image: none;
}
</style>
