.btn {
	&.consultant-btn-large:not(.btn-large) {
		height: 48px;
		.consultant-btn__content {
			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: bold;
			line-height: 17px;
		}
	}
}

.ct-btn {
	background-color: #e8e8e8;
	border: unset;
	outline: none;

	&.btn-flat {
		font-weight: 600;
		background-color: transparent;
	}
}

.btn-icon {
	&.consultant-btn {
		.btn {
			display: flex;
			align-items: center;
			justify-content: center;

			.mamikos-icon {
				font-size: 25px;
			}
		}
	}
}
