%flex-center {
	display: flex;
	align-items: center;
}

.el-center {
	@extend %flex-center;
	justify-content: center;
}

.el-center-on-start {
	@extend %flex-center;
	justify-content: flex-start;

	&.flex-col {
		justify-content: center;
		align-items: flex-start;
	}
}

.el-center-on-end {
	@extend %flex-center;
	justify-content: flex-end;

	&.flex-col {
		justify-content: center;
		align-items: flex-end;
	}
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}
