.title {
	font-weight: bold;
	font-size: 16px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sales-motion-status {
	border-radius: 4px;
	padding: 4px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	&.active {
		background-color:#E3F9E8;
		color: #198343;
	}
	&.non-active {
		background-color: #FEF1ED;
		color: #DA2B2E;
	}
}

.sales-motion-type {
	display: inline-block;
	border-radius: 1000px;
	background-color: #F0F4F7;
	padding: 2px 8px;
	font-size: 12px;
	line-height: 18px;
	color: #485664;
	font-weight: 500;
	text-transform: capitalize;
}