@import 'theme';
@import 'space';
@import 'text';
@import 'button';
@import 'display';
@import 'label';
@import 'input';

@import 'Sass/_mamikos-icon.scss';
/* stylelint-disable-next-line */
body.success-page-open,
body.overflow-hidden {
	overflow: hidden !important;
}

.consultant-page {
	* {
		font-family: Lato, sans-serif;
	}

	.container-for-mobile {
		max-width: 480px;
		padding: 0 20px;
		margin: auto;
	}
}

/* stylelint-disable-next-line */
hr {
	@each $style in dashed dotted solid {
		&.#{$style} {
			border: 1px $style #999;
		}
	}
}

// ---------------------------------------------------
// CUSTOM CHECKBOX FOR CONTRACT LIST FILTER
.custom-checkbox {
	input[type='checkbox'] {
		display: none;
	}

	label {
		position: relative;
		display: block;
		margin-bottom: 0;
		font-weight: bold;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			font-size: 20px;
			line-height: 24px;
			color: #fff;
			text-align: center;
			content: '';
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 2px;
			transition: background-color 0.1s ease-in-out 0s,
				content 0.1s ease-in-out 0s;
		}
	}

	input[type='checkbox']:checked + label {
		&::after {
			font-family: 'mamikos-icon';
			content: '';
			background: #1baa56;
			border: 0;
		}
	}
}

// ---------------------------------------------------
// CUSTOM SIMPLE DROPDOWN (SELECT STYLING)
.custom-simple-select {
	position: relative;
	display: inline-block;
	&::after {
		position: absolute;
		top: 50%;
		right: 12px;
		font-family: 'mamikos-icon';
		font-size: 24px;
		line-height: 1;
		color: #1baa56;
		pointer-events: none;
		content: '';
		transform: translateY(-50%);
	}
	select {
		padding: 12px;
		padding-right: 42px;
		color: #000;

		background: none;
		background: #fff;
		border: 0;
		border-radius: 3px;
		outline: 0;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		-webkit-appearance: none;
		appearance: none;
	}
}

// ---------------------------------------------------
// CUSTOM SIMPLE DROPDOWN (SELECT STYLING)
.preloader-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	align-items: center;
	justify-content: center;
}
