<template>
	<div ref="wrapper" id="mamiroomsLanding" class="app-wrapper">
		<mamirooms-navbar
			v-show="!stateGallery && !stateRegister"
			@change-gallery="changeGallery"
			:isNavbarFixed="isNavbarFixed"
			:isScrolledPast="isScrolledPast"
		></mamirooms-navbar>

		<main v-show="!stateGallery && !stateRegister">
			<mamirooms-hero></mamirooms-hero>
			<mamirooms-about></mamirooms-about>
			<mamirooms-features></mamirooms-features>
			<mamirooms-quotes></mamirooms-quotes>
			<mamirooms-preview-galery
				@change-gallery="changeGallery"
			></mamirooms-preview-galery>
			<mamirooms-team></mamirooms-team>
			<mamirooms-stats></mamirooms-stats>
		</main>

		<keep-alive v-if="stateGallery">
			<main>
				<mamirooms-galery @change-gallery="changeGallery"></mamirooms-galery>
			</main>
		</keep-alive>

		<keep-alive v-if="stateRegister">
			<main>
				<mamirooms-register @cancel-register="cancelModal"></mamirooms-register>
			</main>
		</keep-alive>
		<mamirooms-footer></mamirooms-footer>
	</div>
</template>

<script>
import MamiroomsNavbar from './MamiroomsNavbar';
import MamiroomsHero from './MamiroomsHero';
import MamiroomsAbout from './MamiroomsAbout';
import MamiroomsFeatures from './MamiroomsFeatures';
import MamiroomsQuotes from './MamiroomsQuotes';
import MamiroomsPreviewGalery from './MamiroomsPreviewGalery';
import MamiroomsTeam from './MamiroomsTeam';
import MamiroomsStats from './MamiroomsStats';
import MamiroomsGalery from './MamiroomsGalery';
import MamiroomsFooter from './MamiroomsFooter';
import MamiroomsModalRegister from './MamiroomsModalRegister';
import MamiroomsRegister from './MamiroomsRegister';
import EventBus from '../event-bus';

export default {
	components: {
		MamiroomsNavbar,
		MamiroomsHero,
		MamiroomsAbout,
		MamiroomsFeatures,
		MamiroomsQuotes,
		MamiroomsPreviewGalery,
		MamiroomsTeam,
		MamiroomsStats,
		MamiroomsGalery,
		MamiroomsFooter,
		MamiroomsModalRegister,
		MamiroomsRegister
	},

	data() {
		return {
			modalShow: false,
			stateGallery: false,
			stateRegister: false,
			isNavbarFixed: false,
			isScrolledPast: false
		};
	},

	mounted() {
		this.listenEventBus();

		window.onscroll = () => {
			if (window.pageYOffset >= 800) {
				this.isScrolledPast = false;
				this.isNavbarFixed = true;

				if (window.pageYOffset >= 1400) {
					this.isScrolledPast = true;
					this.isNavbarFixed = true;
				} else {
					this.isScrolledPast = false;
					this.isNavbarFixed = true;
				}
			} else {
				this.isScrolledPast = false;
				this.isNavbarFixed = false;
			}
		};
	},

	methods: {
		listenEventBus() {
			EventBus.$on('toggleModalRegister', payload => {
				this.stateRegister = payload;
				window.scrollTo(0, 0);
			});
		},
		cancelModal() {
			this.modalShow = false;
		},
		changeGallery(state) {
			this.stateGallery = state;
			if (state == false) {
				setTimeout(() => {
					document.querySelector('#buttonGallery').scrollIntoView({
						behavior: 'auto',
						block: 'center'
					});
				}, 500);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
#mamiroomsLanding {
	overflow: hidden;
}
</style>

<style lang="scss">
.title {
	font-family: 'Tiempos Headline', serif;
	font-size: 2em;
	line-height: 1.7;
}

.btn-box {
	font-weight: 600;

	@media screen and (max-width: 767px) {
		padding: 0.5rem 0.8rem;
	}
}

.shadow {
	box-shadow: 0px 20px 53px -13px rgba(140, 140, 140, 1);
}
.shadow-orange {
	box-shadow: 0px 10px 20px -5px rgba(249, 85, 22, 0.75);
}

.btn-download:hover {
	border: 1px solid #e54d0d;
}
</style>
