<template>
	<div>
		<section id="mamiroomsGalery" class="mamirooms-galery">
			<div class="container container-header-galery">
				<a @click="closeGallery" class="link-exit" href="#"
					><img src="/general/img/icons/ic_remove_s.svg"
				/></a>
				<div class="header-galery">
					<h1>Ratusan kost sudah bergabung dengan MAMIROOMS</h1>
					<button
						@click="toggleModalRegister"
						class="btn btn-info btn-download"
					>
						Bergabung dengan MAMIROOMS
					</button>
				</div>
			</div>
		</section>
		<section id="mamiroomsGaleryPicture" class="mamirooms-galery-picture">
			<div class="container">
				<div class="row">
					<div
						class="col-md-6 col-sm-12 list-galery"
						v-for="(img, key) in listImage"
					>
						<img
							v-lazy="`/general/img/pictures/mamirooms/galery-picture/${img}`"
						/>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {
			listImage: [
				'kost-bella_luna.jpg',
				'kost-dream_house.jpg',
				'kost-griya_jagadhita.jpg',
				'kost-griya_moerti.jpg',
				'kost-jasmine_lempongsari.jpg',
				'kost-rumah_74.jpg'
			]
		};
	},

	created() {
		this.initEscKeyup();
	},

	mounted() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	},

	methods: {
		initEscKeyup() {
			window.addEventListener('keyup', this.closeKeyGallery);
		},
		toggleModalRegister() {
			this.$emit('change-gallery', false);
			EventBus.$emit('toggleModalRegister', true);
		},
		closeKeyGallery(e) {
			if (e.key == 'Escape') {
				this.$emit('change-gallery', false);
			}
		},
		closeGallery() {
			this.$emit('change-gallery', false);
		}
	}
};
</script>


<style lang="scss" scoped>
.mamirooms-galery {
	// margin-top: 5.8rem;
	text-align: center;
	background-color: #f8f8f8;
}

.container-header-galery {
	height: 112rem;
	position: relative;

	@media (max-width: 768px) {
		height: 50rem;
	}
}

.link-exit {
	position: absolute;
	right: 38px;
	top: 33px;

	> img {
		width: 2em;
	}
}

.header-galery {
	padding-top: 15%;
	max-width: 59rem;
	margin: 0 auto;

	> h1 {
		line-height: 1.4em;
		margin-bottom: 4rem;
		font-size: 3.1em;
	}

	.btn-download {
		margin: auto;
		display: block;
		margin-top: 7rem;
		width: auto;
		height: 60.7px;
		font-weight: 600;
		box-shadow: 0 10px 20px 0 rgba(236, 74, 12, 0.35);
		background-color: #ec4a0c;
	}
}

.mamirooms-galery-picture {
	position: relative;
	top: -47.6rem;

	@media (max-width: 768px) {
		top: 0;
	}
}

.list-galery {
	padding: 0;

	@media (max-width: 768px) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	> img {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 475px;
		object-position: left;

		@media (max-width: 768px) {
			height: auto;
			width: 100%;
			margin-bottom: 5rem;
			border-radius: 4px;
		}
	}
}
</style>
