<template>
	<section
		id="mamiroomsHero"
		class="mamirooms-hero mamirooms-hero-bg"
		v-lazy:background-image="backgroundImageHero"
	>
		<div class="container container-hero">
			<h1 class="hero-title title">
				Lebih dari 2.000 kamar di 200 kost sudah bergabung dengan MAMIROOMS!
			</h1>
			<button
				class="btn btn-info btn-box hero-button"
				@click="toggleModalRegister()"
				role="button"
			>
				Daftar MAMIROOMS
			</button>
		</div>
	</section>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {};
	},

	computed: {
		backgroundImageHero() {
			let breakpoint;

			if (window.innerWidth <= 1199) {
				breakpoint = '1199';
			} else if (window.innerWidth > 1200) {
				breakpoint = '1439';
			}

			return {
				src: `/general/img/pictures/mamirooms/bg_hero_home-mamirooms-${breakpoint}.jpg`,
				loading: '/general/img/pictures/mamirooms/bg_hero_home-mamirooms-0.jpg'
			};
		}
	},

	methods: {
		toggleModalRegister() {
			EventBus.$emit('toggleModalRegister', true);
		}
	}
};
</script>

<style lang="scss" scoped>
.mamirooms-hero {
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(190, 190, 190, 1) 0%,
		rgba(235, 235, 235, 1) 100%
	);
	height: 80rem;
	padding-top: 5rem;
	// TEMPORARY
	color: #2e2d39;

	@media (max-width: 768px) {
		height: auto;
		padding-top: 0rem;
	}
}

.container-hero {
	@media (max-width: 767px) {
		background-color: rgba(0, 0, 0, 0.25);
		padding: 0rem 5.1rem;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

.mamirooms-hero-bg {
	background-origin: content-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero-title {
	margin-top: 24rem;
	max-width: 60rem;
	line-height: 1.7;
	margin-bottom: 3.7rem;

	@media (max-width: 425px) {
		font-size: 1.7em;
		font-weight: 500;
	}

	@media (max-width: 768px) {
		margin-top: 4rem;
	}
}
.hero-subtitle {
	max-width: 60rem;
	font-size: 2rem;
	font-weight: normal;
	margin: 4rem 0 6rem 0;
	line-height: 1.7;

	@media (max-width: 768px) {
		margin: 4rem 0 3rem 0;
	}
}
.hero-button {
	width: 219.4px;
	height: 60.7px;

	@media (max-width: 425px) {
		width: 187.4px;
		height: 50.7px;
	}

	@media (max-width: 768px) {
		margin-bottom: 5rem;
	}
}

.mamirooms-logo {
	@media (min-width: 768px) {
		display: none;
	}

	img {
		margin-top: 4rem;
	}
}
</style>
