<template>
	<section id="mamiroomsPreviewGalery" class="mamirooms-preview-galery">
		<div class="line-spacing"></div>
		<div class="container">
			<div class="header-section">
				<h1>
					Lebih dari ribuan kamar di ratusan kost sudah bergabung dengan
					MAMIROOMS
				</h1>
			</div>

			<div class="wrapper-preview">
				<div class="row row-spacing bg-list-konten">
					<div class="col-md-4" v-for="(data, key) in listGalery" :key="key">
						<div class="konten-galery">
							<img
								class="image-kost"
								v-lazy="
									`/general/img/pictures/mamirooms/galery-room/${data.image}`
								"
							/>
							<div class="detail">
								<div class="text-detail">
									<h4>{{ data.name }}</h4>
									<h5>{{ data.address }}</h5>
								</div>
								<div class="love-button">
									<span class="icon-love"></span>
								</div>
							</div>
						</div>
					</div>
					<div id="buttonGallery" class="col-md-12">
						<button @click="changeToGallery" class="btn btn-info btn-download">
							Lihat galeri kost
							<img
								class="icon-arrow"
								v-lazy="'/general/img/pictures/mamirooms/icon-arrow.svg'"
							/>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	data() {
		return {
			listGalery: [
				{
					name: 'Kost Jasmine Lempongsari',
					address: 'Sleman, Yogyakarta',
					image: 'user-kost_jasmine_lempongsari.jpg'
				},
				{
					name: 'Kost Star Residence',
					address: 'Palmerah, Jakarta Barat',
					image: 'user-kost_start-residence.jpg'
				},
				{
					name: 'Kost Permata Hijau',
					address: 'Kebayoran Lama, Jakarta Selatan',
					image: 'user-kost_permata_hijau.jpg'
				}
			]
		};
	},

	methods: {
		changeToGallery() {
			this.$emit('change-gallery', true);
		}
	}
};
</script>


<style lang="scss" scoped>
.line-spacing {
	border-top: 1px solid #e6e6e6;
	width: 75%;
	margin: auto;
	margin-bottom: 15rem;
}

.mamirooms-preview-galery {
}

.container {
}

.header-section {
	> h1 {
		text-align: center;
		max-width: 59rem;
		margin: auto;
		font-weight: 500;
		margin-bottom: 9rem;
		font-size: 1.9em;
		line-height: 1.7em;

		@media (max-width: 425px) {
			font-size: 2em;
		}
	}
}

.bg-list-konten {
	background-image: url('/general/img/pictures/mamirooms/bg-ornamen-dot_lg.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

.row-spacing {
	padding-bottom: 19rem;
	padding-top: 5rem;
}

.konten-galery {
	height: 21em;
	border-radius: 10px;
	box-shadow: 0 10px 40px 0 rgba(26, 26, 26, 0.1);
	background-color: #ffffff;
	overflow: hidden;

	@media (max-width: 991px) {
		margin-bottom: 6rem;
	}

	img.image-kost {
		object-fit: cover;
		width: 100%;
		height: 20rem;
	}
}

.detail {
	display: flex;
	position: relative;

	.text-detail {
		padding: 2.4rem;
		> h4 {
			margin: 0;
			margin-bottom: 0.5rem;
		}

		> h5 {
			margin: 0;
			color: #a0a0a0;
		}
	}

	.love-button {
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
		position: absolute;
		right: 35px;
		top: -15px;
		box-shadow: 0 5px 10px 0 rgba(252, 0, 69, 0.25);
		background-color: #fc0045;

		> span.icon-love {
			mask: url('/general/img/icons/ic_love_red.svg');
			width: 2em;
			height: 2em;
			background-color: #fff;
			display: block;
			-webkit-mask-size: cover;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			position: relative;
			top: 5px;
			right: -4px;
		}
	}
}

.btn-download {
	margin: auto;
	display: block;
	margin-top: 7rem;
	width: 219.4px;
	height: 60.7px;
	font-weight: 800;
	box-shadow: 0 10px 20px 0 rgba(236, 74, 12, 0.35);
	background-color: #ec4a0c;
	img.icon-arrow {
		margin-left: 1rem;
		position: relative;
		top: -1.2px;
	}
}
</style>

