<template>
	<section id="mamiroomsFeatures" class="mamirooms-features">
		<div class="container">
			<!-- FEATURES LIST -->
			<div class="features">
				<p class="title">
					Kenapa Bergabung dengan MAMIROOMS?
				</p>
				<p class="subtitle">
					Saat ini sudah lebih dari 2.000 kamar tersebar di kota besar seluruh
					Indonesia yang telah dikelola sesuai standar MAMIROOMS dengan berbagai
					keuntungan yang kami berikan.<br />
					*data Februari 2020
				</p>

				<div class="features-list">
					<div
						class="features-list-item"
						v-for="(feature, key) in listFeatures"
						:key="key"
					>
						<p class="features-list-text">
							{{ feature }}
						</p>
						<img
							class="features-list-image"
							v-lazy="'/general/img/pictures/mamirooms/check-single_lg.png'"
							alt=""
						/>
					</div>
				</div>

				<div class="feature-photo">
					<img
						v-lazy="'/general/img/pictures/mamirooms/mamirooms-box-lg.png'"
						alt=""
					/>
				</div>
			</div>

			<div class="download">
				<div class="download-container container">
					<h2 class="download-title">
						Ingin bergabung dengan <strong>MAMIROOMS?</strong>
					</h2>
					<div class="download-button-container">
						<button
							@click="toggleModalRegister"
							class="btn btn-info btn-download"
							role="button"
						>
							Daftar MAMIROOMS
						</button>
					</div>
				</div>
			</div>

			<hr class="features-separator" />

			<!-- FEATURES HELP -->
			<div class="features-help">
				<h3 class="title">Bantuan Tim Professional</h3>
				<h4 class="subtitle">
					MAMIROOMS didukung oleh tim yang handal dan profesional untuk
					meningkatkan nilai jual kost yang telah bergabung di MAMIROOMS.
				</h4>

				<div class="help-list">
					<div class="help-list-item">
						<img
							class="help-icon-image"
							v-lazy="
								'/general/img/pictures/mamirooms/icon-business-analytic_lg.png'
							"
							alt=""
						/>
						<h4 class="help-text">Business Analytics</h4>
					</div>
					<div class="help-list-item">
						<img
							class="help-icon-image"
							v-lazy="'/general/img/pictures/mamirooms/icon-interior_lg.png'"
							alt=""
						/>
						<h4 class="help-text">Interior</h4>
					</div>
					<div class="help-list-item">
						<img
							class="help-icon-image"
							v-lazy="'/general/img/pictures/mamirooms/icon-hospitality_lg.png'"
							alt=""
						/>
						<h4 class="help-text">Hospitality</h4>
					</div>
					<div class="help-list-item">
						<img
							class="help-icon-image"
							v-lazy="'/general/img/pictures/mamirooms/icon-operation_lg.png'"
							alt=""
						/>
						<h4 class="help-text">Operation</h4>
					</div>
					<div class="help-list-item">
						<img
							class="help-icon-image"
							v-lazy="'/general/img/pictures/mamirooms/icon-financing_lg.png'"
							alt=""
						/>
						<h4 class="help-text">Financing</h4>
					</div>
				</div>
			</div>
		</div>

		<!-- FEATURES PROPERTIES -->
		<div class="featured-properties">
			<div class="container flex">
				<div class="featured-properties-cards">
					<div class="featured-properties-card-1 shadow">
						<div class="featured-properties-image-container">
							<img
								class="featured-properties-image"
								v-lazy="'/general/img/pictures/mamirooms/foto-mamirooms-1.jpg'"
								alt=""
							/>
						</div>
						<div class="featured-properties-kost-detail">
							<p class="featured-properties-kost-name">Kost Kemala Residence</p>
							<p class="featured-properties-kost-address">
								Residence
							</p>
						</div>
					</div>
					<div class="featured-properties-card-2 shadow">
						<div class="featured-properties-image-container">
							<img
								class="featured-properties-image"
								v-lazy="'/general/img/pictures/mamirooms/foto-mamirooms-2.jpg'"
								alt=""
							/>
						</div>
						<div class="featured-properties-kost-detail">
							<p class="featured-properties-kost-name">Kost Permata Hijau</p>
							<p class="featured-properties-kost-address">Exclusive</p>
						</div>
					</div>
					<div class="featured-properties-card-3 shadow">
						<div class="featured-properties-image-container">
							<img
								class="featured-properties-image"
								v-lazy="'/general/img/pictures/mamirooms/foto-mamirooms-3.jpg'"
								alt=""
							/>
						</div>
						<div class="featured-properties-kost-detail">
							<p class="featured-properties-kost-name">Kost Kanaka Allana</p>
							<p class="featured-properties-kost-address">Basic</p>
						</div>
					</div>
				</div>

				<div class="featured-properties-text">
					<h3 class="title">MAMIROOMS untuk semua properti</h3>
					<h4 class="konten">
						Tidak perlu khawatir, setiap kost Anda bisa bergabung dengan syarat
						memenuhi klasifikasi tipe kamar yang ada di MAMIROOMS
					</h4>
					<hr />
					<div class="featured-helper">
						<img
							class="featured-helper-icon"
							v-lazy="'/general/img/pictures/mamirooms/featured-icon_lg.jpg'"
							alt=""
						/>
						<p class="featured-helper-text">
							Tim professional kami akan membantu Anda
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {
			listFeatures: [
				'Optimalkan pricing dan pendapatan Kost berdasarkan Data Mamikos',
				'Pengurusan Izin dan pajak kost',
				'Maksimalkan Listing anda dengan foto, video, foto 360 di Mamikos',
				'Standarisasi fasilitas, interior kamar, dan layanan Kost',
				'Rekrut Operator, Training dan SOP',
				'Menggunakan Teknologi Tagihan, Reminder, Kontrak Digital',
				'Perawatan Aset anda : Perawatan furnitur dan interior kamar rutin, Maintenance AC, Heater.',
				'Jasa Repair standby untuk penghuni kost anda apabila ada kerusakan',
				'Memberikan layanan tambahan ke penghuni : laundry, kios.',
				'Mengontrol pengeluaran kost anda hingga maksimalkan profit kost anda.',
				'Membuatkan laporan keuangan sesuai standar perbankan.'
			]
		};
	},

	methods: {
		toggleModalRegister() {
			EventBus.$emit('toggleModalRegister', true);
		}
	}
};
</script>

<style lang="scss" scoped>
.mamirooms-features {
	background-color: #fce4da;
	padding: 10rem 0 0;
}

.features {
	background-color: #fff;
	padding: 6rem 22rem 6rem 8rem;
	max-width: 80rem;
	position: relative;
	margin: auto;

	.title,
	.subtitle {
		width: 137%;
		max-width: 40rem;
	}

	.subtitle {
		color: #999;

		@media (max-width: 768px) {
			width: 108%;
		}
	}

	@media (max-width: 768px) {
		padding: 4rem 10rem 6rem 3rem;
	}
}
.features-list {
	max-width: 58rem;
	margin-top: 6rem;

	@media (max-width: 536px) {
		min-width: 115%;
	}
}
.features-list-item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px #ddd solid;
	padding-bottom: 1rem;
	margin-bottom: 3rem;

	@media (max-width: 425px) {
		width: 110%;
	}
}
.features-list-image {
	height: 20px;

	@media (max-width: 425px) {
		padding-left: 2rem;
	}
}

.feature-photo {
	position: absolute;
	top: 24rem;
	right: -20rem;
	width: 40rem;

	img {
		width: 100%;
	}

	@media (max-width: 834px) {
		display: none;
	}

	@media (max-width: 1186px) {
		position: absolute;
		top: 24rem;
		right: -6rem;
		width: 27rem;
	}
}

.features-separator {
	border-color: #ccc;
	margin-top: 12rem;
	margin-bottom: 14rem;

	@media (max-width: 768px) {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
}

//  THE HELPS

.features-help {
	.title,
	.subtitle {
		text-align: center;
		width: 42rem;
		margin: auto;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
	.subtitle {
		margin-top: 3rem;
		line-height: 1.7;
	}
}

.help-list {
	display: flex;
	margin-top: 14rem;

	@media (max-width: 768px) {
		margin-top: 5rem;
		flex-wrap: wrap;
	}
}
.help-list-item {
	margin: 0 1rem;
	flex: 1;
	text-align: center;
	transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);

	@media (max-width: 768px) {
		margin: 0;
		flex: none;
		text-align: center;
		width: 50%;
		margin-bottom: 3.5rem;
	}

	&:hover {
		box-shadow: 30px 50px 60px 0 rgba(0, 0, 0, 0.09);
		transform: translate(0, -20px);
		transition-delay: 0s !important;
	}

	.help-icon-image {
		height: 8rem;
	}
	.help-text {
		margin-top: 2rem;
	}
}

// THE FEATURED

.featured-properties {
	margin-top: 20rem;
	padding-top: 6rem;
	background-color: #fff;
}

.flex {
	display: flex;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}

	@media (max-width: 594px) and (min-width: 421px) {
		display: block;
	}
}

.featured-properties-cards {
	flex: 3;
	background-image: url('/general/img/pictures/mamirooms/bg-circle-orange.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	height: 60rem;

	@media (max-width: 768px) {
		flex: 10;
	}
}
.featured-properties-text {
	flex: 2;
	padding-left: 5rem;
	padding-left: 9rem;
	margin-top: 5rem;

	@media (max-width: 425px) {
		margin-top: 12rem;
	}

	@media (max-width: 375px) {
		padding: 0rem 1.8rem !important;
	}

	.title {
		font-size: 2em;
		line-height: 1.4;
		font-weight: normal;
		margin-top: 0rem;
		margin-bottom: 3rem;
		width: 30rem;

		@media (max-width: 768px) {
			font-size: 2em;
			line-height: 1.4;
			font-weight: normal;
			margin-bottom: 3rem;
			margin-top: -8rem;
		}
	}

	.konten {
		line-height: 3rem;
		font-size: 1.2em;
		margin-bottom: 4rem;
		width: 32rem;

		@media (max-width: 768px) {
			line-height: 3rem;
			font-size: 1.2em;
			margin-bottom: 4rem;
		}
	}

	@media (max-width: 768px) {
		flex: 10;
		padding: 0rem 3.8rem;
	}
}

.featured-properties-image {
	width: 100%;
	height: 24rem;
	object-fit: cover;

	@media (max-width: 375px) {
		height: 19rem;
	}
}

.featured-properties-card-1,
.featured-properties-card-2,
.featured-properties-card-3 {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: auto;
}

.featured-properties-card-1 {
	top: -14rem;
	width: 27rem;

	@media (max-width: 768px) {
		top: -8rem;
		width: 19rem;
	}
}
.featured-properties-card-2 {
	top: 24rem;
	width: 27rem;

	@media (max-width: 768px) {
		top: 22rem;
		width: 19rem;
	}

	@media (max-width: 425px) {
		top: 28rem;
	}
}
.featured-properties-card-3 {
	right: 0rem;
	width: 25rem;
	top: 9rem;

	@media (max-width: 768px) {
		right: 1rem;
		width: 16rem;
		top: 9rem;
	}
}

.featured-helper {
	display: flex;
	height: 10rem;
	align-items: center;

	@media (max-width: 768px) {
		margin-top: 4rem;
	}
}

.featured-properties-kost-detail {
	padding: 1rem 2rem;
	background-color: #fff;
}
.featured-properties-kost-address {
	color: #999;
}

.featured-helper-icon {
	height: 73%;

	@media (max-width: 768px) {
		height: 73%;
	}
}
.featured-helper-text {
	margin: 0;
	line-height: 1.7;
	margin-left: 2.4rem;
	font-size: 1.8rem;
	font-weight: bold;
	max-width: 16em;

	@media (max-width: 768px) {
		margin-left: 2.4rem;
		font-size: 1.8rem;
		font-weight: bold;
	}
}

.featured-properties-kost-name {
	margin-bottom: 0;
}

// DOWNLOAD
.download-container {
	padding-top: 10rem;

	@media (max-width: 768px) {
		padding-top: 4rem;
	}
}
.download-title {
	text-align: center;
	font-size: 2.6em;
	margin-bottom: 4.9rem;

	@media (max-width: 768px) {
		font-size: 1.5em;
	}
}
.download-subtitle {
	text-align: center;
	font-size: 1.4em;
	width: 44.3rem;
	margin: 0 auto;
	margin-bottom: 4rem;
	margin-top: 3rem;

	@media (max-width: 768px) {
		font-size: 1.2em;
		margin: 4rem 2rem;
		width: auto;
		line-height: 1.4em;
	}
}
.download-button-container {
	text-align: center;
}

.phone-image {
	max-width: 65rem;
	margin: auto;
	margin-top: 6rem;
	img {
		width: 100%;
	}
}

.btn-download {
	width: 219.4px;
	height: 60.7px;
	border-radius: 3px;
	box-shadow: 0 5px 40px 0 rgba(236, 74, 12, 0.25);

	@media (max-width: 768px) {
		width: 219.4px;
		height: 60.7px;
	}
}
</style>
