<template>
	<div>
		<section id="mamiroomsGalery" class="mamirooms-galery">
			<div class="container container-header-galery">
				<a @click="closeRegister" class="link-exit" href="#"
					><img src="/general/img/icons/ic_remove_s.svg"
				/></a>

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form
								@submit.prevent="sendData"
								class="form-custom"
								enctype="multipart/form-data"
							>
								<h1 class="modal-title">
									Mohon untuk mengisi form dibawah ini agar kami bisa
									menghubungi Anda
								</h1>
								<div class="form-group input-custom">
									<label for="inputKostName"
										>Nama kost:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										ref="kostName"
										type="text"
										minlength="10"
										maxlength="200"
										class="form-control"
										id="inputKostName"
										v-model="params.kostName"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputFullAddress"
										>Alamat lengkap:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										ref="fullAddress"
										type="text"
										class="form-control"
										id="inputFullAddress"
										minlength="10"
										maxlength="200"
										v-model="params.fullAddress"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputNumberOfRooms"
										>Jumlah total kamar:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										ref="numberOfRooms"
										type="number"
										class="form-control"
										id="inputNumberOfRooms"
										min="1"
										max="999"
										v-model="params.numberOfRooms"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputNumberOfEmptyRoom"
										>Jumlah kamar kosong:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										ref="numberOfEmptyRoom"
										type="number"
										class="form-control"
										id="inputNumberOfEmptyRoom"
										min="0"
										:max="params.numberOfRooms"
										v-model="params.numberOfEmptyRoom"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputPricePerMonth"
										>Harga per-bulan:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										type="number"
										class="form-control"
										id="inputPricePerMonth"
										min="10000"
										max="999999999"
										step="10000"
										v-model="params.pricePerMonth"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputPricePerMonth"
										>Kondisi kost
										<span class="text-danger">*isian wajib</span></label
									>
									<div class="wrapper-flex">
										<radio
											v-for="(condition, key) in conditions"
											:key="key"
											v-model="params.conditionKost"
											:selected-value="condition"
											class="checkbox-inline"
											type="success"
											required
											>{{ condition }}</radio
										>
									</div>
								</div>
								<div class="form-group input-custom">
									<label for="inputPricePerMonth"
										>Fasilitas
										<span class="text-danger">*isian wajib</span></label
									>
									<div class="wrapper-flex">
										<checkbox
											v-for="(facility, key) in facilities.slice().reverse()"
											:key="key"
											class="checkbox-inline"
											v-model="params.facility[varNormalize(facility.name)]"
											:true-value="facility.id"
											type="success"
											:disabled="checkDisabled(varNormalize(facility.name))"
											>{{ facility.name }}</checkbox
										>
									</div>
								</div>
								<div class="form-group input-custom">
									<label for="inputPricePerMonth"
										>Sudah punya akun Mamikos?
										<span class="text-danger">*isian wajib</span></label
									>
									<div class="wrapper-flex">
										<radio
											v-model="params.accountMamikos"
											selected-value="0"
											class="checkbox-inline"
											type="success"
											>Sudah</radio
										>
										<radio
											v-model="params.accountMamikos"
											selected-value="1"
											class="checkbox-inline"
											type="success"
											>Belum</radio
										>
									</div>
								</div>
								<div class="form-group input-custom">
									<label for="inputNearBuilding"
										>Universitas/Gedung perkantoran terdekat:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										type="text"
										minlength="2"
										maxlength="50"
										class="form-control"
										id="inputNearBuilding"
										v-model="params.nearBuilding"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputOwnerName"
										>Nama pemilik:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										type="text"
										minlength="4"
										maxlength="30"
										class="form-control"
										id="inputOwnerName"
										v-model="params.ownerName"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label for="inputPhoneNumberOwner"
										>No handphone pemilik:
										<span class="text-danger">*isian wajib</span></label
									>
									<input
										minlength="6"
										maxlength="13"
										pattern="^0(\d{3,4}-?){2}\d{3,4}$"
										type="tel"
										class="form-control"
										id="inputPhoneNumberOwner"
										v-model="params.phoneNumberOwner"
										required
									/>
								</div>
								<div class="form-group input-custom">
									<label>Upload foto kost (opsional):</label>
									<mamirooms-modal-upload-photo
										@depan-kost="photoFrontKost"
										@kamar-kost="photoRoomKost"
										@button-disabled="buttonDisabled"
									></mamirooms-modal-upload-photo>
								</div>

								<div
									v-if="inputError"
									class="alert alert-danger custom-size-alert"
								>
									<strong>Perhatian!</strong> Kondisi kost, facility, dan apakah
									sudah memiliki akun mamikos, harus diisi.
								</div>

								<div slot="modal-footer" class="modal-footer">
									<button
										type="submit"
										class="btn btn-info btn-box shadow-orange btn-custom"
										:disabled="isDisabled"
									>
										Kirim Data
									</button>
									<button
										type="button"
										class="btn btn-default btn-custom btn-cancel"
										@click="cancelModal"
									>
										Batal
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import { modal, radio, checkbox } from 'vue-strap';

import MamiroomsModalUploadPhoto from './MamiroomsModalUploadPhoto';

import EventBus from '../event-bus';

export default {
	components: {
		modal,
		radio,
		checkbox,
		MamiroomsModalUploadPhoto
	},

	props: {
		show: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			showMyModal: false,
			radioValue: '0',
			params: {
				kostName: '',
				fullAddress: '',
				numberOfRooms: '',
				numberOfEmptyRoom: '',
				pricePerMonth: '',
				conditionKost: '',
				facility: {
					kamarmandiluar: 4
				},
				accountMamikos: '0',
				nearBuilding: '',
				ownerName: '',
				phoneNumberOwner: '',
				photos: {
					frontKost: 0,
					roomKost: 0
				}
			},
			inputError: false,
			isDisabled: false,
			activeCheckbox: 0,
			lastCheckbox: ''
		};
	},

	computed: {
		showModal: {
			get() {
				return this.show;
			},
			set(val) {
				this.showMyModal = val;
			}
		},
		conditions() {
			return this.$root.state.register.conditions;
		},
		facilities() {
			return this.$root.state.register.facilities;
		}
	},

	watch: {
		'params.facility'(val) {
			// this.checkDisabled(val);
		}
	},

	created() {
		this.initEscKeyup();
	},

	mounted() {
		this.params.conditionKost = this.conditions[0];
		this.$el.querySelector('input').addEventListener('invalid', function(e) {
			console.log(e.target.id);
			setTimeout(() => {
				document.getElementById(e.target.id).focus();
			}, 1000);
		});
	},

	methods: {
		buttonDisabled(state) {
			this.isDisabled = state;
		},
		initEscKeyup() {
			window.addEventListener('keyup', this.closeKeyRegister);
		},
		closeKeyRegister(e) {
			if (e.key == 'Escape') {
				EventBus.$emit('toggleModalRegister', false);
			}
		},
		closeRegister() {
			EventBus.$emit('toggleModalRegister', false);
		},
		photoFrontKost(id) {
			this.params.photos.frontKost = id;
		},
		photoRoomKost(id) {
			this.params.photos.roomKost = id;
		},
		checkDisabled(val) {
			if (this.params.facility[val]) {
				this.lastCheckbox = val;
			}

			let b = Object.values(this.params.facility).filter(el => {
				return el != false;
			});

			if (b.length == 1 && this.lastCheckbox == val) {
				return true;
			} else {
				return false;
			}
		},
		varNormalize(val) {
			return val.toLowerCase().replace(/\s/g, '');
		},
		successRequest() {
			window.location.href = '/mamirooms';
		},
		cancelModal() {
			EventBus.$emit('toggleModalRegister', false);
		},
		sendData() {
			if (
				this.params.conditionKost &&
				this.params.facility &&
				this.params.accountMamikos
			) {
				this.isDisabled = true;

				let data = {
					name: this.params.kostName,
					address: this.params.fullAddress,
					room_total: this.params.numberOfRooms,
					room_available: this.params.numberOfEmptyRoom,
					price_monthly: this.params.pricePerMonth,
					room_condition: this.params.conditionKost,
					is_register: this.params.accountMamikos,
					owner_phone: this.params.phoneNumberOwner,
					owner_name: this.params.ownerName,
					location_detail: this.params.nearBuilding,
					photo: [this.params.photos.frontKost, this.params.photos.roomKost],
					facility: Object.values(this.params.facility).filter(el => {
						return el != false;
					})
				};

				axios
					.post('/mamiroom/landing/input', data)
					.then(response => {
						if (response.data.status) {
							this.swalSuccess(
								'Anda telah terdaftar!',
								'Tunggu kabar dari kami yaaa....',
								this.successRequest
							);
						} else {
							this.swalError(null, response.data.meta.message);
						}
						this.isDisabled = false;
					})
					.catch(error => {
						bugsnagClient.notify(error);
						this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
					});
			} else {
				this.inputError = true;
			}
		}
	}
};
</script>


<style lang="scss" scoped>
.mamirooms-galery {
	text-align: center;
}

.container-header-galery {
	height: auto;
	position: relative;
}

.link-exit {
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 99999;

	> img {
		width: 2em;
	}
}

.header-galery {
	padding-top: 15%;
	max-width: 59rem;
	margin: 0 auto;

	> h1 {
		line-height: 1.4em;
		margin-bottom: 4rem;
		font-size: 3.1em;
	}

	.btn-download {
		margin: auto;
		display: block;
		margin-top: 7rem;
		width: auto;
		height: 60.7px;
		font-weight: 600;
		box-shadow: 0 10px 20px 0 rgba(236, 74, 12, 0.35);
		background-color: #ec4a0c;
	}
}

.mamirooms-galery-picture {
	position: relative;
	top: -47.6rem;

	@media (max-width: 768px) {
		top: 0;
	}
}

.list-galery {
	padding: 0;

	@media (max-width: 768px) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	> img {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 475px;
		object-position: left;

		@media (max-width: 768px) {
			height: auto;
			width: 100%;
			margin-bottom: 5rem;
			border-radius: 4px;
		}
	}
}

label {
	width: 100%;
}

h1 {
	&.modal-title {
		font-size: 0.7em;
		font-weight: bold;
		margin-bottom: 2rem;
	}
}

.input-custom {
	> label {
		font-size: 0.6em;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	> input[type='text'],
	input[type='number'],
	input[type='tel'] {
		background: #f6f6f6;
		height: 5rem;
		border-radius: 3px;
		box-shadow: unset;
		border: solid 0.5px #d4d4d4;
		font-weight: 600;
		&:focus {
			border: solid 0.5px #d4d4d4 !important;
			background-color: #f6f6f6 !important;
		}
		&:valid {
			border: solid 0.5px #00a525;
			background-color: #f6f6f6;
		}
		&.input-error {
			&:invalid {
				border: solid 0.5px #ff7777;
				background-color: #fff1f1;
			}
		}
	}

	> input[type='number'] {
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.wrapper-flex {
		display: flex;
		flex-wrap: wrap;
		> .checkbox-inline {
			width: 48%;
			margin-top: 1rem;
			line-height: 0.7rem;
			margin-left: 0;
			&.checkbox {
				margin-left: 0 !important;
				font-size: 0.5em;
				font-weight: normal;
				line-height: 1.7rem;
				margin: 0;
				margin-bottom: 0.9rem;
				margin-left: 0.6rem;
				margin-top: 1rem;
			}
			> .open {
				font-size: 1em;
			}
		}
	}
}

.btn-custom {
	width: 77%;
	display: block;
	margin: 0 auto;
	height: 6.4rem;
	margin-bottom: 1.2rem;
	&.btn-cancel {
		margin-left: auto;
		border: 0px;
		color: #e54d0d;
		font-weight: 900;
		background-color: #faebd700;
	}
}

.modal-footer {
	border-top: 0;
	margin-top: 4rem;
}

.shadow-orange {
	box-shadow: 0 10px 20px -5px rgba(249, 85, 22, 0.75);
}

.custom-size-alert {
	font-size: 0.5em;
}

.form-custom {
	font-size: 2em;
	text-align: left;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 11rem;
	margin-bottom: 9rem;
}
</style>

<style lang="scss">
.modal-dialog {
	width: 574.8px;
	@media (max-width: 768px) {
		width: auto;
		margin: 0;
	}
	.modal-content {
		font-size: 2em;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

		@media (max-width: 768px) {
			border-radius: 0;
		}

		.modal-header {
			border-bottom: 0px;
		}
		.modal-body {
			padding: 0rem 7.8rem;
			@media (max-width: 768px) {
				padding: 0rem 3.8rem;
			}
		}
	}
}

.wrapper-flex {
	> .checkbox-inline {
		> .open {
			font-size: 0.5em;
			margin-left: -1.6rem;
			top: 1rem;
			line-height: 1.9rem;
		}
	}
}

.close {
	font-size: 1em;
	color: #fd0019;
	opacity: unset;
}
</style>
