<template>
	<section id="mamiroomsAbout" class="mamirooms-about background-vase">
		<div class="container about-container">
			<div class="image">
				<img
					v-lazy="'/general/img/pictures/mamirooms/about-room-photo_lg.png'"
					alt="Tentang mamirooms"
				/>
			</div>
			<div class="caption">
				<p class="title">
					Apa itu MAMIROOMS?
				</p>
				<hr class="separator" />
				<p class="subtitle">
					MAMIROOMS adalah produk Mamikos yang meliputi manajemen pemasaran dan
					pengelolaan kamar kost, selain itu MAMIROOMS juga melakukan
					standarisasi terhadap properti Anda yang akan meningkatkan nilai jual
					properti. Standarisasi tersebut meliputi interior, fasilitas,
					operator, pelayanan (hospitality), serta teknologi pembayaran uang
					kost (MamiPAY)
				</p>
				<button
					@click="toggleModalRegister"
					class="btn btn-info btn-box btn-about shadow-orange "
					role="button"
				>
					Hubungi MAMIROOMS
				</button>
			</div>
		</div>
	</section>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {};
	},

	mounted() {
		window.onscroll = () => {
			if (window.pageYOffset >= 800) {
				this.isScrolledPast = false;
				this.isNavbarFixed = true;

				if (window.pageYOffset >= 1400) {
					this.isScrolledPast = true;
					this.isNavbarFixed = true;
				} else {
					this.isScrolledPast = false;
					this.isNavbarFixed = true;
				}
			} else {
				this.isScrolledPast = false;
				this.isNavbarFixed = false;
			}
		};
	},

	methods: {
		toggleModalRegister() {
			EventBus.$emit('toggleModalRegister', true);
		}
	}
};
</script>

<style lang="scss" scoped>
.mamirooms-about {
	margin-top: 10rem;
	padding-bottom: 10rem;

	@media (max-width: 768px) {
		margin-top: 5rem;
	}
}
.background-vase {
	background-image: url('/general/img/pictures/mamirooms/plant_lg.png');
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.about-container {
	display: flex;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}

.image {
	flex-basis: 50%;
	background-image: url('/general/img/pictures/mamirooms/bg-doodle_lg.png');
	background-size: contain;
	background-repeat: no-repeat;

	img {
		width: 100%;
	}

	@media (max-width: 768px) {
		flex-basis: 100%;
	}
}

.caption {
	flex-basis: 50%;
	padding: 8rem 6rem 0;

	@media (max-width: 768px) {
		flex-basis: 100%;
		padding: 1rem 3.6rem 0;
	}

	.title {
		font-size: 2em;
		@media (max-width: 768px) {
			text-align: center;
			font-size: 2.4em;
		}
	}

	.separator {
		border-color: #ec4a0c;
		width: 50px;
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}

	.btn-about {
		margin-top: 2rem;

		@media (max-width: 768px) {
			display: block;
			margin: 0 auto;
			width: 173.4px;
			height: 47.7px;
			margin-top: 3rem;
		}
	}
}

p {
	&.subtitle {
		@media (max-width: 768px) {
			text-align: center;
			font-size: 1.2em;
			line-height: 1.7em;
		}
	}
}
</style>
