<template>
	<footer id="mamiroomsFooter" class="mamirooms-footer">
		<div class="footer-container container">
			<div class="footer-logo">
				<a href="/mamirooms">
					<img
						v-lazy="'general/img/pictures/promotion/mamirooms_logo.svg'"
						alt="Logo Mamikos"
					/>
				</a>
			</div>

			<div class="footer-contact">
				<p class="title-contact">Hubungi tim kami</p>
				<p class="contact">
					<a href="tel:+6281293052351">+62812-9305-2351</a>
					– Garcia / Surabaya dan Malang
				</p>
				<p class="contact">
					<a href="tel:+6282246817775">+62822-4681-7775</a>
					– Tania / Jabodetabek dan Bandung
				</p>
				<p class="contact">
					<a href="tel:+6287739772971">+62877-3977-2971</a>
					– Krisna / Yogyakarta, Solo dan Semarang
				</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	data() {
		return {};
	}
};
</script>

<style lang="scss" scoped>
.mamirooms-footer {
	background-color: #ffffff;
	// box-shadow: 0 -10px 90px 0 rgba(41, 41, 41, 0.1);
	background-image: url('/general/img/pictures/mamirooms/bg-footer.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.footer-container {
	padding: 8rem 0;
	color: #000000;
	text-align: center;
}

.title-contact {
	font-size: 1.3em;
	font-weight: 700;

	@media (max-width: 768px) {
		font-size: 1.3em;
	}
}

.contact {
	font-size: 1.6rem;
	margin-bottom: 5px;

	@media (max-width: 768px) {
		font-size: 1.6rem;
	}
}

.footer-logo {
	margin-bottom: 6rem;
	img {
		width: 18em;
	}
}
</style>
