<template>
	<section id="quotes" class="mamirooms-quotes">
		<div class="line-spacing"></div>
		<div class="slide-container container">
			<div class="quotes-text">
				<transition name="list" mode="out-in">
					<div
						v-for="(quote, index) in quotesList"
						:key="index"
						v-if="currentSlide == index"
						class="quotes-text-container"
					>
						<p class="quotes title quotes-title">"{{ quote.text }}"</p>
						<div class="quotes-profile">
							<div class="quotes-photo">
								<img
									class="quotes-photo-image"
									v-lazy="quote.photo"
									alt="Orang Pentestimoni"
								/>
							</div>
							<p class="quotes-name">{{ quote.name }}</p>
							<p class="quotes-occupation">{{ quote.occupation }}</p>
						</div>
					</div>
				</transition>

				<div class="carousel-selector-container">
					<span
						v-for="(quote, index) in quotesList"
						:key="index"
						class="carousel-selector"
						:class="{ 'carousel-selector-active': index == currentSlide }"
						@click="changeSlide(index)"
						>&#9679;
					</span>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'MamiroomsQuotes',

	data() {
		return {
			quotesList: [
				{
					photo: 'general/img/pictures/mamirooms/owner/people_fuah.jpeg',
					text:
						'Di tengah persaingan bisnis kos-kosan, MamiRooms hadir sebagai harapan baru. Kosan saya kini memiliki unique selling point tersendiri dan segala fasilitas maupun perawatannya lebih eksklusif. Soal pemasaran, MamiRooms yang berada di dalam naungan Mamikos ini udah ahlinya. Pokoknya win-win solution!',
					name: 'Siti Asfuah',
					occupation: 'Owner Kos MamiRooms Nurdiono House'
				},
				{
					photo: 'general/img/pictures/mamirooms/owner/people_yos.jfif',
					text:
						'Bergabung dengan MamiRooms, membuat kos lebih mudah dicari dan disewa oleh para mahasiswa melalui aplikasi Mamikos. Bukan cuma meningkatkan okupansi, tim MamiRooms juga membantu operasional dan renovasi kos untuk memberikan layanan terbaik ke penghuni kos.',
					name: 'Yosrizal',
					occupation: 'Owner Kos MamiRooms Padjadjaran'
				},
				{
					photo: 'general/img/pictures/mamirooms/owner/people_sri_hastuti.jpeg',
					text:
						'Saya sangat senang  bisa bekerjasama dengan  MAMIROOMS , karena tidak ribet mengurusi kost exclusive saya, kerjasama yg  menguntungkan juga buat saya krn setiap bulan saya sudah mendapat kepastian penghasilan tanpa melihat kamar kost saya penuh atau masih ada yg kosong saya tetap mendapat income sesuai kesepakatan.. terimakasih MAMIROOMS, sukses terus MAMIROOMS 👍👍',
					name: 'Sri Hastuti',
					occupation: 'Owner Kos MamiRooms Rumah Eyang'
				},
				{
					photo: 'general/img/pictures/mamirooms/owner/people_fathu_bagus.jpeg',
					text:
						'Terima kasih banyak kepada Mamikos yang telah membantu AYANA eksklusif kost jogja di dalam hal occupancy serta pelayanannya. Sangat puas dengan program MAMIROOMS-nya.',
					name: 'Fathu Bagus Septian',
					occupation: 'Owner Kos MamiRooms Ayana'
				},
				{
					photo: 'general/img/pictures/mamirooms/owner/people_endang.jpg',
					text:
						'Tinggal di tempat yang jauh dari kos milik saya pribadi, tak lagi jadi masalah. MamiRooms adalah solusi terpercaya yang membantu saya memasarkan dan mengelola kos dengan pelayanan optimal. Kerja sama dengan MamiRooms sangat menguntungkan.',
					name: 'Endang Murtiningsih',
					occupation: 'Owner Kos MamiRooms Griya Moerti'
				}
			],

			currentSlide: 0,
			autoSlideTimeout: 15000
		};
	},

	mounted() {
		this.startAutoSlide();
	},

	methods: {
		changeSlide(nextIndex) {
			if (nextIndex >= this.quotesList.length) {
				this.currentSlide = 0;
				this.changeSlide(this.currentSlide);
			} else {
				this.currentSlide = nextIndex;
			}
		},
		startAutoSlide() {
			setInterval(() => {
				this.changeSlide(this.currentSlide + 1);
			}, this.autoSlideTimeout);
		}
	}
};
</script>

<style lang="scss">
.list-enter-active,
.list-leave-active {
	transition: all 0.3s;
}

.list-enter,
.list-leave-to {
	opacity: 0;
}
</style>

<style lang="scss" scoped>
.line-spacing {
	border-top: 1px solid #e6e6e6;
	width: 75%;
	margin: auto;
	margin-bottom: 8rem;
}

.mamirooms-quotes {
	margin-top: 20rem;
	margin-bottom: 10rem;

	@media (max-width: 768px) {
		margin-top: 6rem;
	}
}

.slide-container {
	margin-top: 20rem;
	text-align: center;

	@media (max-width: 768px) {
		margin-top: 6rem;
	}
}

.quotes-name,
.quotes-occupation {
	font-family: 'Merriweather', serif;
	font-weight: 700;
}

.quotes-occupation {
	margin-bottom: 4rem;
	@media (max-width: 768px) {
		margin-bottom: 4rem;
	}
}

.quotes-name {
	font-size: 1.5rem;
	margin-bottom: 0;
}

.carousel-selector-container {
	.carousel-selector {
		font-size: 2em;
		color: #fbd1c1;
		cursor: pointer;
		&-active {
			color: #f95516;
		}
	}
}

.quotes-photo {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	overflow: hidden;
	margin: 4rem auto;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.16);

	@media (max-width: 768px) {
		margin: 3rem auto;
	}
}

.quotes-photo-image {
	height: 100%;
}

.quotes-title {
	font-family: 'Lato', serif;

	@media (max-width: 768px) {
		font-size: 1.4em;
		line-height: 1.7;
	}
}

.quotes-text-container {
	min-height: 367px;
}

.title {
	font-size: 1.6em;

	@media (max-width: 425px) {
		font-size: 1.2em;
	}
}
</style>
