<template>
	<div>
		<div class="wrapper-photo-kost row">
			<div
				:class="['col-md-6', 'dropzone-custom', 'photo-kost']"
				v-for="(dropzoneObject, index) in dropzoneObjects"
				:key="index"
			>
				<dropzone
					:ref="dropzoneObject.id"
					:id="dropzoneObject.id"
					:options="dropzoneOptions"
					:destroyDropzone="false"
					@vdropzone-file-added="showAdded(dropzoneObject.id, $event)"
					@vdropzone-success="showSuccess"
					@vdropzone-removed-file="removePhoto(dropzoneObject.id, $event)"
					@vdropzone-sending="uploadProgress"
				>
				</dropzone>

				<p class="dropzone-title center-title">
					{{ dropzoneObject.title }}
				</p>
				<p v-if="isError[dropzoneObject.id]" class="failed-alert error-center">
					File foto terlalu besar atau tipe file tidak didukung
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone
	},

	data() {
		return {
			dropzoneOptions: {
				url: '/garuda/mamiroom/landing/photo',
				paramName: 'photo',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				autoProcessQueue: true,
				maxFilesize: 6,
				createImageThumbnails: true,
				addRemoveLinks: true,

				dictDefaultMessage: ' Pilih Foto',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$root.state.token
				}
			},
			dropzoneObjects: [
				{ id: 'frontKost', title: 'Foto depan kost' },
				{ id: 'roomKost', title: 'Foto kamar kost' }
			],
			photosAdded: false,
			isError: {
				photoCover: false,
				photoBedroom: false,
				photoBath: false
			},
			lastImage: '',
			lastFile: ''
		};
	},

	methods: {
		uploadProgress() {
			this.$emit('button-disabled', true);
		},
		removePhoto(id, event) {
			if (id == 'frontKost') {
				this.$emit('depan-kost', '');
			} else {
				this.$emit('kamar-kost', '');
			}
			this.$emit('button-disabled', false);
		},
		showAdded(id, event) {
			this.lastImage = id;
			this.lastFile = event;
		},
		showSuccess(file, response) {
			if (response.status == true) {
				if (this.lastImage == 'frontKost') {
					this.$emit('depan-kost', response.photo_id);
				} else {
					this.$emit('kamar-kost', response.photo_id);
				}
			} else {
				this.conditionFailedUpload(this.lastImage, file);
			}
			this.$emit('button-disabled', false);
		},
		conditionFailedUpload(id, file) {
			swal({
				title: 'Upload Gagal',
				text:
					'Foto gagal diupload. Silakan cek kembali ukuran foto atau koneksi internet Anda.',
				type: 'warning',
				confirmButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(result => {
				this.$refs[id].removeFile(file);
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-photo-kost {
	display: flex;
	justify-content: space-between;
}

.error-center {
	margin: 0 auto;
	text-align: center;
	color: #c51f1f;
}
</style>

<style lang="scss">
//colors
$color_green_haze_approx: #1baa56;
$white: #fff;
$color_salem_approx: #109e4b;
$mercury: #e5e5e5;

//fonts
$font_0: Lato;
$font_1: sans-serif;

.dropzone-custom {
	margin-bottom: 10px;
	padding: 0;
	width: 45%;
	> .vue-dropzone {
		border: 2px dashed #e5e5e5;
		font-family: $font_0, $font_1;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: 0.2em;
		background-color: #f5f5f5;
		&:hover {
			background-color: #ffffff !important;
		}
		.dz-preview {
			.dz-details {
				background-color: $color_green_haze_approx;
				padding: 0;
			}
			.dz-remove {
				&:active {
					text-decoration: none;
				}
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
		.dz-message > span {
			font-size: 16px;
			font-weight: bold;
			background-color: $color_green_haze_approx;
			color: $white;
			padding: 5px;
			border-radius: 4px;
			border-color: $color_green_haze_approx;
			&:active {
				color: $white;
				background-color: $color_salem_approx;
				border-color: $color_salem_approx;
				text-decoration: none;
			}
			&:hover {
				color: $white;
				background-color: $color_salem_approx;
				border-color: $color_salem_approx;
				text-decoration: none;
			}
			&:focus {
				color: $white;
				background-color: $color_salem_approx;
				border-color: $color_salem_approx;
				text-decoration: none;
			}
			> .fa {
				color: $white;
			}
		}
	}
	.dropzone .dz-preview {
		min-height: 172px;
		&.dz-image-preview {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.dz-image img {
			max-width: 100%;
			object-fit: cover !important;
		}
	}
	.dz-preview .dz-image {
		width: 100% !important;
	}
}
.dropzone-title {
	font-weight: normal;
	margin-bottom: 0;
	font-size: 0.5em;
	text-align: center;
	margin-top: 0.8rem;
}
@media (max-width: 1199px) and(min-width: 992px) {
	.dropzone-title {
		height: 42px;
	}
}
.dropzone-uploaded {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 146px;
	border: 2px solid $mercury;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 0;
}

.dz-error-message {
	top: 0% !important;
	height: 100%;
	font-weight: bold;
	padding-top: 4.8rem !important;
	background: #c1400f !important;
	border-radius: 0px !important;
	text-align: center;
}

.dz-remove {
	z-index: 9999 !important;
	margin-top: -1.3rem !important;
}
</style>
