<template>
	<section id="mamiroomsTeam" class="mamirooms-team">
		<div class="wrapper-team" v-lazy:background-image="backgroundImageFooter">
			<h1>Kami siap membantu Anda</h1>
		</div>
	</section>
</template>

<script>
export default {
	computed: {
		backgroundImageFooter() {
			let breakpoint;

			if (window.innerWidth <= 767) {
				breakpoint = '767';
			} else if (window.innerWidth > 768 && window.innerWidth <= 991) {
				breakpoint = '991';
			} else if (window.innerWidth > 992 && window.innerWidth <= 1199) {
				breakpoint = '1199';
			} else if (window.innerWidth > 1200) {
				breakpoint = '1439';
			}

			return {
				src: `/general/img/pictures/mamirooms/bg_footer-mamirooms-mamikos-${breakpoint}.jpg`,
				loading:
					'/general/img/pictures/mamirooms/bg_footer-mamirooms-mamikos-0.jpg'
			};
		}
	}
};
</script>


<style lang="scss" scoped>
.mamirooms-team {
	height: 80rem;

	@media (max-width: 425px) {
		height: auto;
	}
}

.wrapper-team {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(5, 5, 5, 0.75));
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	padding-top: 0;
	position: relative;

	@media (max-width: 425px) {
		background-position: center;
		background-size: cover;
		padding-top: 0;
		position: relative;
		height: 206px;
	}

	h1 {
		text-align: center;
		color: #fff;
		font-size: 3.2em;
		background-color: rgba(0, 0, 0, 0.45);
		height: 100%;
		position: absolute;
		top: 0;
		margin: 0;
		width: 100%;
		padding-top: 26rem;

		@media (max-width: 425px) {
			font-size: 1.6em;
			padding-top: 6.4rem;
		}
	}

	p {
		text-align: center;
		color: #fff;
		width: 21em;
		margin: auto;
		font-size: 1.1em;
		padding-top: 1rem;
	}
}
</style>

