<template>
	<section id="mamiroomsStats" class="mamiroom-stats">
		<div class="statistic">
			<div class="statistic-container container">
				<img
					class="icon-stats"
					v-lazy="'general/img/pictures/mamirooms/mamirooms_statistik.svg'"
					alt="Icon Statistik"
				/>
				<p class="statistic-text">
					Mamikos adalah aplikasi pencari kost no. 1 di Indonesia dengan jutaan
					pengguna aktif dan ribuan kost terdaftar
				</p>
				<div class="statistic-figure-list">
					<div class="statistic-figure-item">
						<p class="statistic-figure-number title">3.000.000+</p>
						<p class="statistic-figure-title title">Pengguna Terdaftar</p>
					</div>
					<div class="statistic-figure-item">
						<p class="statistic-figure-number title">120.000+</p>
						<p class="statistic-figure-title title">Kost Terdaftar</p>
					</div>
					<div class="statistic-figure-item">
						<p class="statistic-figure-number title">40.000+</p>
						<p class="statistic-figure-title title">
							Pengguna app setiap hari nya
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'MamiroomsStats'
};
</script>

<style lang="scss" scoped>
.statistic {
	background-color: #fce4da;
}

.statistic-container {
	padding-top: 6rem;
	padding-bottom: 12rem;
}

.statistic-text {
	max-width: 65rem;
	text-align: center;
	font-size: 2.3rem;
	margin: auto;
	margin-bottom: 8rem;
	font-weight: 600;
}
.statistic-figure-list {
	display: flex;
	justify-content: space-between;
	max-width: 71rem;
	margin: auto;

	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}
.statistic-figure-item {
	text-align: center;

	@media (max-width: 768px) {
		width: 100%;
		margin-bottom: 6rem;
	}
}
.statistic-figure-number {
	font-size: 4.5rem;

	@media (max-width: 768px) {
		font-size: 4em;
		margin-bottom: -1rem;
	}
}
.statistic-figure-title {
	font-size: 1.6rem;

	@media (max-width: 768px) {
		font-size: 2em;
	}
}

img {
	&.icon-stats {
		margin: 0 auto;
		width: 13rem;
		display: block;
		margin-bottom: 4rem;
	}
}
</style>
