<template>
	<div>
		<navbar class="mamirooms-navbar-mobile">
			<div slot="brand" class="brand-logo-wrapper" v-if="isBack">
				<div class="back-button-wrapper visible-xs">
					<a @click="goBack">
						<img
							class="back-button"
							src="/general/img/icons/ic_full-arrow-left_s_green.svg"
						/>
					</a>
				</div>
				<div class="logo-konten">
					<a href="/" title="Home" class="navbar-brand navbar-brand-custom">
						<img
							alt="Logo Mamikos"
							class="logo-mamikos"
							v-lazy="'/general/img/pictures/promotion/mamirooms_logo.svg'"
						/>
					</a>
				</div>
			</div>

			<a slot="brand" href="/" title="Home" class="navbar-brand" v-else>
				<img
					alt="Logo Mamikos"
					class="logo-mamikos"
					v-lazy="'/general/img/pictures/promotion/mamirooms_logo.svg'"
				/>
			</a>
			<li slot="right" v-for="(menu, key) in menuNavbar">
				<a
					@click="goToSection(menu.hashTag)"
					class="btn btn-link text-primary"
					>{{ menu.title }}</a
				>
			</li>
		</navbar>

		<nav class="mamirooms-nav" :class="[navClassFixed, navClassSlide]">
			<figure class="nav-logo">
				<a href="/">
					<img
						v-lazy="'/general/img/pictures/promotion/mamirooms_logo.svg'"
						alt="Logo Mamirooms"
					/>
				</a>
			</figure>
			<div class="nav-items" v-if="isNavbarFixed">
				<span class="nav-item">
					<button
						class="btn btn-info btn-box shadow-orange"
						@click="toggleModalRegister"
					>
						Gabung MAMIROOMS
					</button>
				</span>
			</div>
			<div class="nav-items" v-else>
				<span class="nav-item" v-for="(menu, key) in menuNavbar">
					<a @click="goToSection(menu.hashTag)">{{ menu.title }}</a></span
				>
			</div>
		</nav>
	</div>
</template>

<script>
import { navbar } from 'vue-strap';

import EventBus from '../event-bus';

import mixinListenerBurgerNavigation from 'Js/@mixins/MixinListenerBurgerNavigation';

export default {
	components: {
		navbar
	},

	mixins: [mixinListenerBurgerNavigation],

	props: {
		isNavbarFixed: {
			type: Boolean,
			default: false
		},
		isScrolledPast: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			menuNavbar: [
				{
					hashTag: '#mamiroomsFeatures',
					title: 'Fasilitas'
				},
				{
					hashTag: '#quotes',
					title: 'Testimonial'
				}
			],
			iconBar: document.getElementsByClassName('icon-bar'),
			navbarToggle: document.getElementsByClassName('navbar-toggle')
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		navClassFixed() {
			return this.isNavbarFixed ? 'nav-fixed' : '';
		},
		navClassSlide() {
			if (this.isNavbarFixed) {
				return this.isScrolledPast ? 'nav-slides-down' : 'nav-slides-up';
			} else {
				return '';
			}
		},
		isBack() {
			return document.referrer == '' ||
				document.referrer === document.location.href
				? false
				: true;
		}
	},

	methods: {
		goBack() {
			window.history.go(-1);
		},
		toggleModalRegister() {
			EventBus.$emit('toggleModalRegister', true);
		},
		openLink() {
			if (this.authCheck.owner) {
				window.open('/promosi-kost/premium-package');
			} else if (this.authCheck.user) {
				this.setRedirectCookie();
			} else {
				window.open('/ownerpage');
			}
		},
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.brand-logo-wrapper {
	display: flex;
	.back-button-wrapper {
		padding-top: 0.3rem;
		padding-left: 2rem;
		width: calc(50% + 58px);

		@media (max-width: 425px) {
			width: calc(50% + -35px);
		}

		img.back-button {
			width: 20px;
			margin-top: 13px;
			margin-left: 8px;
		}
	}
	.logo-konten {
		width: 100%;
	}
}

.navbar-brand {
	padding: 17px 15px;
}

.navbar {
	margin-bottom: 0;
}

.mamirooms-nav {
	display: flex;
	position: absolute;
	width: 100%;
	justify-content: space-between;
	min-height: 50px;
	border: 1px solid transparent;
	padding: 1em 8em;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(190, 190, 190, 1) 0%,
		rgba(235, 235, 235, 1) 100%
	);
	align-items: center;
	transition: transform 0.3s ease;

	@media screen and (max-width: 767px) {
		padding: 1em 2em 1em 1em;
	}

	@media (max-width: 768px) {
		display: none;
	}
}

.mamirooms-navbar-mobile {
	@media (max-width: 768px) {
		display: block;
	}

	@media (min-width: 768px) {
		display: none;
	}
}

.nav-fixed {
	top: -160px;
	position: fixed;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.nav-slides-down {
	transform: translateY(160px);
	background: #ffffff;
}
.nav-slides-up {
	transform: translateY(-160px);
}

.nav-logo {
	height: 2em;
	cursor: pointer;

	@media screen and (max-width: 767px) {
		height: 1.5em;
	}

	img {
		height: 1.1em;
	}
}
.nav-items {
	width: 12em;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 767px) {
		width: 10em;
	}

	> .nav-item {
		font-weight: 700;

		> a {
			color: #2e2d39;
			cursor: pointer;
		}
	}

	.btn-box {
		padding: 1rem 2rem;
		border-radius: 2px;
		font-weight: 600;
		border-color: #ec4a0c;

		@media screen and (max-width: 767px) {
			padding: 0.5rem 0.8rem;
		}
	}
}

img.logo-mamikos {
	width: 12em;
	margin-bottom: -1em;
	@media (max-width: 768px) {
		width: 9em;
	}
}
</style>

<style lang="scss">
.navbar-toggle {
	margin-top: 6px;
	background-color: transparent !important;
	border-color: transparent !important;

	.icon-bar {
		background-color: #1baa56 !important;
	}

	span {
		transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
	}

	span:nth-child(2) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(3) {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	span:nth-child(4) {
		width: 11px;
		float: right;
	}
}
</style>
