<template>
	<div class="app-wrapper">
		<navbar-custom :navigations="navigations"></navbar-custom>

		<div v-if="isLoading" class="vacancy-container">
			<div class="row flex-center">
				<mami-loading-inline></mami-loading-inline>
			</div>
		</div>
		<container-company-landing></container-company-landing>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			isLoading: false,
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	}
};
</script>

<style>
.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
</style>

<style scoped>
.vacancy-container {
	margin: auto;
}
@media (min-width: 768px) {
	.vacancy-container {
		padding-top: 91px;
	}
}
</style>
