<template>
	<div class="container filter-wrapper">
		<div class="col-xs-12 filter-container stretch">
			<div class="col-xs-12 col-md-9 stretch">
				<div class="col-xs-12 col-sm-3 filter-component form-group">
					<label for="vacancyAreaFilter"><h3>Nama Perusahaan</h3></label>
					<input
						id="vacancyAreaFilter"
						v-model="filter.name"
						type="text"
						class="form-control"
						placeholder="Cari perusahaan disini..."
					/>
				</div>

				<div class="col-xs-12 col-sm-3 filter-component">
					<label for="vacancyAreaFilter"><h3>Kota dan Area</h3></label>
					<v-select
						id="vacancyAreaFilter"
						v-model="filter.place"
						:options="place_select_items"
						:placeholder="'Cari kota disini...'"
					>
						<span slot="no-options">Kota yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<div class="col-xs-12 col-sm-3 filter-component">
					<label for="vacancyAreaFilter"><h3>Industri</h3></label>
					<v-select
						id="vacancyAreaFilter"
						v-model="filter.industry"
						:options="industry_options"
						:placeholder="'Cari industri disini...'"
					>
						<span slot="no-options">Industri yang Anda cari tidak ada</span>
					</v-select>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from '../event-bus';

export default {
	components: {
		'v-select': vSelect
	},
	data() {
		return {
			filter: {
				sort: 'old',
				name: '',
				industry: 'Semua Industri',
				place: 'Semua Kota'
			},

			place_select_items: [],
			company_options: [],
			industry_options: []
		};
	},
	computed: {
		industryOptions() {
			return this.$store.state.industryOptions;
		}
	},
	watch: {
		'filter.name': debounce(function(val) {
			EventBus.$emit('filterCompanyChanged', val);
		}, 750),
		'filter.place'(val) {
			EventBus.$emit('filterPlaceChanged', val.value);
		},
		'filter.industry'(val) {
			EventBus.$emit('filterIndustryChanged', val.value);
		}
	},
	mounted() {
		this.getFiltersList();
		this.getIndustryOptions();
	},
	methods: {
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				for (const item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		getIndustryOptions() {
			if (this.industryOptions) {
				for (const index in this.industryOptions) {
					this.industry_options.push({
						label: this.industryOptions[index].value,
						value: this.industryOptions[index].key
					});
				}
			}
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		}
	}
};
</script>

<style scoped>
@media (min-width: 768px) {
	.filter-wrapper {
		margin-top: -30px;
	}
}

.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}
.filter-component label h3 {
	font-size: inherit;
	font-weight: bold;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}
	.filter-component {
		padding-bottom: 6px;
		margin-top: -15px;
	}
}

.refresh-button {
	text-align: right;
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	font-size: 12px;
	margin-bottom: 5px;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}
</style>

<style>
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select.single .selected-tag {
	position: absolute;
	font-family: 'Lato', sans-serif;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
	font-family: 'Lato', sans-serif;
}
</style>
