<template>
	<div class="title-wrapper container">
		<img src="/assets/owner/ic_owner_kat_loker.png">
		<span><h1>Daftar perusahaan di indonesia dari berbagai industri 2018</h1></span>
	</div>
</template>

<script>
</script>

<style scoped>
.title-wrapper {
	margin-top: 60px;
	padding-left: 27px;
}
.title-wrapper span h1 {
	padding-left: 15px;
	font-size: 22px;
	font-weight: bold;
}
.title-wrapper img {
	width: 45px;
	float: left;
	padding-right: 10px;
	padding-top: 12px;
}

@media (max-width: 335px) {
	.title-wrapper img {
		padding-top: 25px;
	}
}
</style>
