<template>
	<div
		v-infinite-scroll="getMoreRoomList"
		infinite-scroll-disabled="busy"
		infinite-scroll-distance="250"
		class="promo-list-container"
	>
		<company-list :company="companyData"></company-list>

		<div class="clearfix"></div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Perusahaan tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Perusahaan tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>
	</div>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {
			companyData: [],
			filter: {
				sort: 'old',
				name: '',
				industry: 'Semua Industri'
			},

			place: 'all', // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,

			roomLimit: 12,
			requestLimit: 90,
			offset: 0,

			showTopButton: false
		};
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getCompanyList();

		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterCompanyChanged', payload => {
			this.filter.name = payload;
			this.refreshList();
		});
		EventBus.$on('filterIndustryChanged', payload => {
			this.filter.industry = payload;
			this.refreshList();
		});
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		getCompanyList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			let places = [];
			if (this.place != 'all') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			let filters = this.filter;

			axios
				.post('/stories/jobs/company/list', {
					filters,
					limit: 12,
					offset: this.offset
				})
				.then(response => {
					if (response.data.status) {
						this.companyData = this.companyData.concat(response.data.data);
						this.isLoading = false;
						if (response.data.total == 0) {
							this.isRoomEmpty = true;
						}
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		getMoreRoomList() {
			if (
				this.companyData.length == this.roomLimit &&
				this.companyData.length < this.requestLimit
			) {
				this.busy = true;
				this.roomLimit += 12;
				this.offset += 12;
				this.getCompanyList(true);
				this.busy = false;
				ga('create', 'UA-71556143-1', 'auto');
				tracker('ga', ['send', 'pageview']);
			}
		},

		refreshList() {
			this.offset = 0;
			this.companyData = [];
			this.roomLimit = 12;
			this.busy = false;
			this.getCompanyList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		}
	}
};
</script>

<style scoped>
.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}
</style>
