<template>
	<div class="container-wrapper">
		<company-landing-title></company-landing-title>
		<company-landing-filter></company-landing-filter>
		<div class="clearfix"></div>

		<div class="container">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>

</script>

<style scoped>
.container-wrapper {
	margin-top: 54px;
}
</style>