<template>
	<div class="container-company-landing">
		<company-list :company="companyData.data" v-if="!isLoading"></company-list>

		<div class="clearfix"></div>

		<list-placeholder v-if="isLoading" type="job"></list-placeholder>

		<div class="stats-not-found col-xs-12" v-if="isRoomEmpty">
			<p>Perusahaan tidak ditemukan.</p>
			<img src="/assets/history_zero.png" alt="Perusahaan tidak ditemukan" />
		</div>

		<transition name="fade">
			<i
				id="scrollToTop"
				class="fa fa-arrow-circle-o-up scroll-top material-card-3"
				aria-hidden="true"
				v-show="showTopButton"
				@click="gotoTop"
			></i>
		</transition>

		<div class="pagination-section">
			<paginate
				v-if="!(companyData.page == 1 && !companyData['has-more'])"
				:page-count="companyData.page < 10 ? totalPage : totalPageAll"
				:click-handler="pageChanged"
				:prev-text="'<'"
				:next-text="'>'"
				:container-class="'pagination'"
				:break-view-link-class="'break-pagination'"
				:page-class="'page-item'"
			></paginate>
		</div>

		<div
			class="content-custom col-md-12 col-sm-12 col-xs-12"
			v-html="article"
		></div>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import paginate from 'vuejs-paginate';

export default {
	components: {
		paginate
	},
	data() {
		return {
			companyData: {
				total: 0,
				limit: 12,
				offset: 0,
				page: 1,
				data: []
			},
			filter: {
				sort: 'old',
				name: '',
				industry: 'Semua Industri'
			},

			place: 'all', // area is set to all by default

			isLoading: true,
			isInitialLoading: true,
			isRoomEmpty: false,
			busy: false,

			requestLimit: 90,

			showTopButton: false
		};
	},
	computed: {
		article() {
			return this.$store.state.article;
		},
		totalPage() {
			let total = Math.ceil(this.companyData.total / this.companyData.limit);
			if (total >= 10) {
				total = 10;
			}
			return Number(total);
		},
		totalPageAll() {
			let total = Math.ceil(this.companyData.total / this.companyData.limit);

			return Number(total);
		}
	},
	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			let newScrollPosition = window.pageYOffset;

			if (newScrollPosition < lastScrollPosition) {
				this.showTopButton = false;
			} else {
				this.showTopButton = true;
			}
			lastScrollPosition = newScrollPosition;
		};

		this.getCompanyList();

		EventBus.$on('refreshedList', payload => {
			this.refreshList();
		});
		EventBus.$on('filterCompanyChanged', payload => {
			this.filter.name = payload;
			this.refreshList();
		});
		EventBus.$on('filterIndustryChanged', payload => {
			this.filter.industry = payload;
			this.refreshList();
		});
		EventBus.$on('filterPlaceChanged', payload => {
			this.place = payload;
			this.refreshList();
		});
	},
	methods: {
		getCompanyList() {
			this.isLoading = true;
			this.isRoomEmpty = false;

			let places = [];
			if (this.place != 'all') {
				places.push(this.place);
				this.filter.place = places;
			} else {
				delete this.filter.place;
			}

			let filters = this.filter;

			axios
				.post('/stories/jobs/company/list', {
					filters,
					limit: 12,
					offset: this.companyData.offset
				})
				.then(response => {
					if (response.data.status) {
						this.companyData = response.data;
						this.isLoading = false;
						if (response.data.total == 0) {
							this.isRoomEmpty = true;
						}
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},

		refreshList() {
			this.companyData.offset = 0;
			this.busy = false;
			this.getCompanyList();
		},

		gotoTop() {
			$('html, body').animate(
				{
					scrollTop: $('html').offset().top
				},
				1000
			);
		},

		pageChanged(page) {
			let dataOffset = page * 9 - 9;
			this.companyData.offset = dataOffset;
			this.getCompanyList();
		}
	}
};
</script>

<style scoped>
.container-company-landing {
	margin-bottom: 100px;
}

.promo-list-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.stats-not-found {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #999;
}
.stats-not-found img {
	margin-top: 20px;
	max-width: 100px;
	min-width: 100px;
}

.scroll-top {
	color: #009b4c;
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 50px;
	background-color: #fff;
	border-radius: 50%;
	line-height: 0.86;
	padding: 7px;
}
.content-custom {
	margin-top: 25px;
	margin-bottom: 50px;
}
@media (max-width: 1199px) {
	.scroll-top {
		bottom: 15px;
		right: 15px;
	}
}
@media (max-width: 991px) {
	.scroll-top {
		bottom: 15px;
		right: 10px;
	}
}
@media (max-width: 767px) {
	.scroll-top {
		bottom: 15px;
		right: 5px;
	}
}

.pagination-section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>

<style>
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>
