<template>
	<div class="app-wrapper">
		<global-navbar
			fixed
			need-search-box
			:max-width="1140"
			need-back-arrow
			:redirection-source="redirectionSource"
			:redirection-source-navbar="redirectionSourceNavbar"
		/>

		<div v-if="isLoading" class="loading-wrapper">
			<mami-loading-inline></mami-loading-inline>
		</div>
		<div v-else>
			<div class="breadcrumb-container">
				<breadcrumb-trails
					v-if="!isVoucherDetail"
					:contents="profileBreadcrumb"
					:version="2"
					custom-style="max-width: 1140px"
				></breadcrumb-trails>
			</div>
			<div v-if="!isVoucherDetail" class="container profile-container">
				<div v-if="userMenuActive != 'no-menu'" class="row">
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<user-menu v-if="userMenuActive == 'user-menu'"></user-menu>

						<user-mamipay-menu
							v-if="userMenuActive == 'user-menu-mamipay'"
						></user-mamipay-menu>
					</div>

					<div id="contentBox" class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
						<router-view></router-view>
					</div>
				</div>

				<div v-else class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<router-view></router-view>
					</div>
				</div>
			</div>
			<div v-else class="container-fluid profile-container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<router-view></router-view>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import UserMenu from './UserMenu.vue';
import UserMamipayMenu from './UserMamipayMenu.vue';
import GlobalNavbar from 'Js/@components/GlobalNavbar';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		GlobalNavbar,
		MamiLoadingInline,
		UserMenu,
		UserMamipayMenu
	},

	data() {
		return {
			isLoading: false
		};
	},

	computed: {
		redirectionSourceNavbar() {
			let redirectionSourceNavbar = '';
			const activePath = this.$route.path;
			if (activePath === '/kost-saya') {
				redirectionSourceNavbar = 'my kos page';
			} else if (activePath === '/voucherku') {
				redirectionSourceNavbar = 'voucher ku';
			} else if (activePath === '/verifikasi-akun') {
				redirectionSourceNavbar = 'verifikasi akun';
			} else if (activePath === '/booking') {
				redirectionSourceNavbar = 'booking list';
			} else if (activePath === '/riwayat-transaksi') {
				redirectionSourceNavbar = 'riwayat transaksi';
			}

			return redirectionSourceNavbar;
		},
		userMenuActive() {
			return this.$store.state.userMenuActive;
		},
		profileBreadcrumb() {
			return this.$store.state.profileBreadcrumb;
		},
		isVoucherDetail() {
			return this.$store.state.isVoucherDetail;
		},
		redirectionSource() {
			let redirectionSource = '';
			const activePath = this.$route.path;
			if (activePath === '/booking/draft') {
				redirectionSource = 'draft booking';
			} else if (activePath === '/booking/last-seen') {
				redirectionSource = 'baru dilihat';
			} else if (activePath === '/booking') {
				redirectionSource = 'riwayat booking';
			}

			return redirectionSource;
		}
	},

	created() {
		this.getUser();
		this.getDraftNotification();
	},

	methods: {
		defaultRoute() {
			if (this.$route.path == '/') {
				this.$router.push({ path: '/kost-saya' });
			}
		},

		async getDraftNotification() {
			try {
				const response = await axios.get('/user/draft-booking/notification');
				const { status, data } = response.data;
				if (status) {
					this.$store.commit('setDraftNotification', data.total_of_draft);
					this.$store.commit(
						'setLastSeenNotification',
						data.total_of_last_seen
					);
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
		},

		getUser() {
			this.isLoading = true;

			axios
				.get('/user/profile')
				.then(response => {
					if (response.data.status) {
						this.$store.commit('setProfileUser', response.data.profile);
						this.$store.commit('setJobs', response.data.profile.jobs);
						this.$store.commit('setProfileUser', response.data.profile);
						this.defaultRoute();

						this.moengageUserAttr(response.data);
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.then(() => {
					this.getUserIsLoggedInViaSocial();
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		getUserIsLoggedInViaSocial() {
			axios
				.get('/user/user-social')
				.then(response => {
					if (response.data) {
						this.$store.commit(
							'setIsUserLoggedInViaSocial',
							response.data.status
						);
					}

					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		getFirstName(name) {
			const splitName = name.split(' ');
			return splitName[0];
		},

		moengageUserAttr(data) {
			Moengage.add_user_attribute('is_tenant', data.profile.is_tenant);
			Moengage.add_user_attribute(
				'is_verify_phone_number',
				data.profile.is_verify_phone_number
			);
			Moengage.add_user_attribute(
				'is_verify_email',
				data.profile.is_verify_email
			);
			Moengage.add_user_attribute(
				'is_verify_identity_card',
				data.profile.is_verify_identity_card
			);
			Moengage.add_user_attribute('kos_time', data.profile.kos_time);
			Moengage.add_user_attribute('product_count', data.profile.product_count);
			Moengage.add_first_name(this.getFirstName(data.profile.name));
			Moengage.add_user_name(data.profile.name);
		}
	}
};
</script>

<style lang="scss">
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.loading-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumb-trails {
	@media (max-width: 767px) {
		margin-top: 0 !important;
	}
}

.new-label.desktop-label {
	@media (max-width: 767px) {
		position: relative;
		top: -0.9375em;
	}
}

.new-label {
	@media (max-width: 767px) {
		right: auto;
	}
}

.d-flex {
	display: flex;
}

.form-control:not(.input-search) {
	width: 100%;
	box-shadow: inset 0 0em 0em rgba(255, 255, 255, 0.075);
	&:focus {
		box-shadow: none;
		border-color: rgba(34, 194, 100, 0.4);
	}
}

.input-control {
	h1,
	label {
		font-size: 1.1em;
	}
	.custom-input {
		&:focus {
			box-shadow: none;
			border-color: rgba(34, 194, 100, 0.4);
		}
	}
}

.input-control-custom {
	@media (max-width: 768px) {
		margin-bottom: 1.0625rem;
	}
	label.title-input {
		font-weight: 100;
		width: 14.0625em;
		margin: 0;
		margin-top: 0.6rem;
		margin-bottom: 0.8rem;
	}
	@media (min-width: 768px) {
		display: flex;
		margin-top: 1.5625rem;
		padding: 0rem 10rem;
		h1 {
			width: 14.0625em;
			margin: 0;
			margin-top: 0.75rem;
		}
		label.title-input {
			font-weight: 100;
			width: 14.0625em;
			margin: 0;
			margin-top: 0.6rem;
		}
	}
}

.form-group {
	@media (min-width: 768px) {
		width: 100%;
		margin-bottom: 0rem;
		padding-top: 0.5rem;
	}
}

p.failed-alert {
	position: relative;
	top: 0.125em;
	color: #c51f1f;
	margin: 0;
	max-width: 36.375em;
}

span.star-required {
	color: #e20000;
}

%h1-title {
	font-size: 1.4em;
	color: #3b445b;
	font-weight: 600;
	margin-bottom: 2.1313rem;
}

.content {
	h1.title {
		line-height: 1.4em;
		@extend %h1-title;
		@media (min-width: 768px) {
			width: calc(100% + 32px);
			height: 2.5em;
			margin: 0;
			position: relative;
			left: -0.8em;
			padding: 15px 20px;
			margin-bottom: 2.375rem;
		}
	}
}

.identity-content {
	h1.title-identity {
		@extend %h1-title;
	}
}

.form-wrapper:not(.identity-wrapper) {
	padding-bottom: 1.375rem;
	@media (max-width: 767px) {
		border-bottom: 0.9375em solid #f2f2f2;
	}
	@media (min-width: 768px) {
		border: 0.0625em solid rgba(112, 112, 112, 0.28);
		margin-bottom: 1.4375rem;
		border-radius: 0.25em;
	}
}

.list-with-button {
	display: flex;
	position: relative;
	max-width: 52.9375em;
	min-width: 18.0625em;
	margin-bottom: 2.0625rem;
	.icon-list {
		img {
			position: relative !important;
			top: -0.1875em !important;
		}
	}
	img.list-image {
		width: 2.25em;
		margin-right: 0.9375rem;
		position: relative;
		top: -0.8125em;
	}
	img.list-image.social-image {
		width: 1.6875em;
		height: 4em;
	}
	.detail-text:not(.edit-detail) {
		@media (max-width: 320px) {
			max-width: 9.0625em;
		}
	}
	.detail-text {
		h1 {
			color: #383746;
			font-size: 1.3em;
			margin: 0;
			margin-bottom: 0.1875rem;
		}
		p.notif-phone-verification {
			color: #686868 !important;
			font-size: 1.1em;
			margin-top: 0.6875rem;
		}
		p {
			color: #9e9e9e;
			@media (max-width: 412px) {
				max-width: 25.75em;
			}
		}
		.control-pin {
			display: flex;
			margin-bottom: 0.625rem;
			input.pin-textbox {
				max-width: 6.125em;
				margin-right: 0.8125rem;
			}
			p.otp-desc {
				color: #686868 !important;
				font-size: 1em;
				position: relative;
				top: 0.4375em;
			}
		}
		p.patient-text {
			color: #686868;
			font-size: 1em;
			margin-bottom: 0;
			span.countdown {
				color: #1baa56;
			}
		}
		a.send-back-otp {
			color: #9e9e9e;
			font-size: 1em;
		}
		.btn-otp-verification {
			display: block;
			margin-top: 0.625rem;
		}
	}
	.btn-list-with-button {
		height: 2.125em;
		width: 6.125em;
		position: absolute;
		right: 0;
		padding: 0px;
	}
}

.edit-detail {
	width: 100%;
	height: 7.5625em;
	input.input-email {
		margin-top: 0.625rem;
	}
	button {
		height: 2.125em;
		width: 6.125em;
		margin-top: 1rem;
		padding: 0px;
		margin-right: 6px;
	}
}

.form-group-custom {
	margin-top: 0.625rem;
	margin-bottom: 0rem;
}

.btn-mamisocial-facebook:active,
.btn-mamisocial-facebook:hover,
.btn-mamisocial-facebook:focus {
	color: #fff;
	background-color: #3c5a99;
	border-color: #ec4a0c;
	text-decoration: none;
}

p.notif-email {
	max-width: 17.8125em !important;
	color: #686868 !important;
	font-size: 1.1em;
}

.btn-custom {
	margin-top: 1.3125rem;
}

.btn-custom-big {
	width: 9.5625em;
	height: 3.4375em;
	margin: 0;
	margin-left: -0.9375rem;
	margin-bottom: 3.125rem;
}

.big-button {
	position: absolute;
	border-radius: 0em;
	width: 100vw;
	height: 3.4375em;
	right: 0;
	box-shadow: 0 -0.1875em 0.375em 0 rgba(0, 0, 0, 0.16);
}

.radio {
	margin: 0 !important;
}

.property-gender {
	display: inline-block;
	padding: 4px 8px;
	font-weight: bold;
	text-transform: capitalize;
	border: 1px solid #dadada;
	border-radius: 4px;
}
</style>

<style type="text/css" scoped>
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
</style>

<style lang="scss" scoped>
.profile-container {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}
.breadcrumb-container {
	width: 100%;
	padding: 12px 24px;
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
</style>
