<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Verifikasi Identitas</h1>

			<img
				class="not-found"
				v-lazy="'/general/img/icons/ic_tarik-saldo-not-found_o.png'"
			/>

			<p>
				Saat ini fitur <b>Verifikasi Identitas</b> hanya bisa dilakukan di apps
				<b>Mamikos</b>, yuuk download apps nya
			</p>

			<a
				href="https://play.google.com/store/apps/details?id=com.git.mami.kos&hl=in"
				rel="noopener"
				class="btn btn-primary custom"
				>Download Aplikasi Mamikos</a
			>
		</div>
	</div>
</template>

<style lang="scss" scoped>
img {
	&.not-found {
		margin: 0 auto;
		display: block;
	}
}

p {
	margin: 0 auto;
	text-align: center;
	margin-top: 2.8571rem;
	margin-bottom: 2.8571rem;
	color: #3b445b;
	max-width: 26.7143em;
}

a {
	margin: 0 auto;
	display: block;
	max-width: 22.8571em;
}

.custom {
	margin-bottom: 3rem;
}
</style>
