<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Kost Saya</h1>

			<div class="search-box">
				<form @submit.prevent="searchRooms">
					<div class="search-bar col-sm-6 col-xs-12">
						<input
							type="text"
							name="search"
							placeholder="Masukan nama kost"
							class="form-control"
							v-model="search"
						/>
					</div>

					<div class="search-bar col-sm-6 col-xs-12">
						<button type="submit" class="btn btn-primary">Cari Kost</button>

						<span>atau</span>

						<a role="button" href="/input-kost" class="btn btn-success"
							>Tambah Kos Baru</a
						>
					</div>
				</form>
			</div>

			<div class="search-article col-sm-6 col-xs-12">
				<div v-if="total == 0" class="alert alert-danger">
					<i class="fa fa-info-circle" aria-hidden="true"></i> Tidak ditemukan
					kost dengan kriteria pencarian "{{ searchText }}"
				</div>

				<p v-else>
					Masukan nama kost Anda dan CARI KOST, apabila kost sudah terpasang,
					Anda bisa pilih lalu CHECK IN. Kalau belum, bisa TAMBAH KOST BARU
				</p>
			</div>

			<div class="clearfix"></div>

			<div class="search-result" id="searchResult">
				<mini-list :rooms="roomsData" :reference="ref"></mini-list>
			</div>
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

import MiniList from './UserKostMiniList';

export default {
	components: {
		MiniList
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			search: '',
			searchText: '',
			roomsData: [],
			hasMore: false,
			limit: 0,
			nextPage: 0,
			offset: 0,
			page: 0,
			total: -1,
			totalStr: '',
			ref: '',
			isLoading: false
		};
	},

	methods: {
		searchRooms() {
			this.total = -1;
			if (this.search.length > 0) {
				this.openSwalLoading();

				axios
					.post('/stories/free-search', {
						filters: {
							criteria: this.search,
							property_type: 'all'
						},
						limit: 30,
						offset: 0
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.searchText = this.search;
							this.roomsData = response.data.rooms;
							this.hasMore = response.data['has-more'];
							this.limit = response.data.limit;
							this.nextPage = response.data['next-page'];
							this.offset = response.data.offset;
							this.page = response.data.page;
							this.total = response.data.total;
							this.totalStr = response.data.totalStr;
						} else {
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
					});
			} else {
				swal('Ups', 'Kotak pencarian masih kosong', 'info');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.search-bar {
	padding: 0.5rem;
}

.search-article {
	margin-top: 1.0714rem;
}

span {
	padding-left: 0.3571rem;
	padding-right: 0.3571rem;
}

@media (max-width: 767px) {
	.search-container {
		margin-top: 3.5714rem;
	}
	.search-box {
		text-align: center;
	}
}
.button-wrapper {
	margin-top: 1.0714rem;
	margin-bottom: 2.5rem;
}
</style>
