<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Kost Saya</h1>

			<div class="clearfix"></div>

			<div v-if="!kostData">
				<p>
					Apabila Anda check in nanti kami akan memberikan informasi diskon dan
					update di sekitar lokasi Anda.
				</p>
				<div class="button-wrapper button-wrapper-right">
					<router-link
						class="btn btn-mamigreen-inverse btn-profile"
						to="/cari-kost"
						v-if="kostData"
						exact
						>Pindah Kost</router-link
					>
					<router-link class="btn btn-success" to="/cari-kost" v-else exact
						>Cari Kost</router-link
					>
				</div>
			</div>

			<!-- kost info placed here -->
			<div v-else class="checkin-kost flex spaced-between vertical-sm">
				<!-- review button shows up if user has checked in a room -->
				<span class="">
					<div class="room-title">
						<a :href="kostData.share_url">{{ kostData['room-title'] }}</a>
					</div>
					<div class="room-detail">
						<span v-if="kostData.gender == 0" class="type-gender mixed"
							>Campur</span
						>
						<span v-if="kostData.gender == 1" class="type-gender male"
							>Putra</span
						>
						<span v-if="kostData.gender == 2" class="type-gender female"
							>Putri</span
						>
						&bull;
						{{ kostData.area_label }}
					</div>
					<p class="room-duration" v-if="kostTime != ''">
						Tinggal disini selama <label>{{ kostTime }}</label>
					</p>
				</span>

				<span>
					<div class="button-wrapper button-wrapper-right" v-if="kostData">
						<a
							role="button"
							:href="kostData.share_url + '?review=true'"
							v-if="kostData.available_rating"
							class="btn btn-success"
							>Tambah Review</a
						>

						<a
							role="button"
							:href="kostData.share_url + '?review=true'"
							v-else
							class="btn btn-success"
							>Lihat Review</a
						>
					</div>

					<div class="button-wrapper button-wrapper-right">
						<router-link
							class="btn btn-success"
							to="/cari-kost"
							v-if="kostData"
							exact
							>Pindah Kost</router-link
						>

						<router-link class="btn btn-success" to="/cari-kost" v-else exact
							>Cari Kost</router-link
						>
					</div>
				</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			kostData: '',
			kostTime: ''
		};
	},

	mounted() {
		this.getUser();
	},

	methods: {
		getUser() {
			this.openSwalLoading();
			axios
				.get('/user/profile')
				.then(response => {
					if (response.data.status) {
						this.kostData = response.data.kos;
					} else {
						this.swalError(null, response.data.meta.message);
					}
					this.closeSwalLoading();
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.room-title {
	margin-bottom: 10px;
	font-size: 1.1em;
	> a {
		color: inherit;
	}
}

.button-wrapper {
	margin-bottom: 10px;
}

.room-detail {
	margin-bottom: 3rem;
	margin-top: -1rem;

	.type-gender {
		font-weight: 800;
	}

	.male {
		color: #066baf;
	}

	.female {
		color: #d80c42;
	}

	.mixed {
		color: #860eb7;
	}
}
</style>
