<template>
	<div>
		<div class="loading-wrapper" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>
		<div class="row content spacer" v-else>
			<div class="col-xs-12 form-wrapper">
				<h1 class="title">Data Pribadi</h1>

				<input-photos
					@updated="onPhotoUploaded"
					@errorImage="onErrorImage"
					:photos="photo_url"
				></input-photos>

				<input-full-name></input-full-name>

				<input-gender></input-gender>

				<input-date-birth></input-date-birth>

				<input-hometown></input-hometown>

				<input-status></input-status>

				<input-last-education></input-last-education>

				<input-phone-emergency
					@is-error="checkInputEmergencyPhone"
				></input-phone-emergency>
			</div>

			<div class="col-xs-12 form-wrapper">
				<h1 class="title">Profesi</h1>
				<input-profession class="profession-custom"></input-profession>

				<button
					@click="updateData"
					:disabled="btnDisabled || validPhoneDisabled"
					class="btn btn-primary btn-lg custom-btn visible-xs"
				>
					Simpan
				</button>

				<button
					@click="cancelBtn"
					class="btn btn-danger btn-lg visible-xs distance"
				>
					Batal
				</button>
			</div>

			<div class="col-xs-12 wrapper-button">
				<button
					@click="updateData"
					:disabled="btnDisabled || validPhoneDisabled || isErrorImage"
					class="btn btn-primary btn-lg hidden-xs"
				>
					Simpan
				</button>

				<button
					@click="cancelBtn"
					class="btn btn-danger btn-lg hidden-xs distance"
				>
					Batal
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import InputPhotos from './forms/InputPhotos';
import InputFullName from './forms/InputFullName';
import InputGender from './forms/InputGender';
import InputDateBirth from './forms/InputDateBirth';
import InputHometown from './forms/InputHometown';
import InputStatus from './forms/InputStatus';
import InputLastEducation from './forms/InputLastEducation';
import InputPhoneEmergency from './forms/InputPhoneEmergency';
import InputProfession from './forms/InputProfession';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		MamiLoadingInline,
		InputPhotos,
		InputFullName,
		InputGender,
		InputDateBirth,
		InputHometown,
		InputStatus,
		InputLastEducation,
		InputPhoneEmergency,
		InputProfession
	},

	mixins: [mixinGetQueryString],

	data() {
		return {
			isLoading: false,
			photo_id: '',
			btnDisabledProcess: false,
			conditionInputPhoneEmergency: true,
			isErrorImage: false
		};
	},

	computed: {
		photo_url() {
			return (
				this.$store.state.userPhoto || {
					medium: '/general/img/pictures/default-user-image.png'
				}
			);
		},
		btnDisabled() {
			return this.validWorkPlace ||
				this.$store.state.userEditProfile.city == null ||
				this.$store.state.userEditProfile.name == '' ||
				this.$store.state.userEditProfile.gender == '-' ||
				this.$store.state.userEditProfile.birthday == '0000-00-00'
				? true
				: false;
		},
		validPhoneDisabled() {
			return this.conditionInputPhoneEmergency ? true : false;
		},
		validWorkPlace() {
			return (this.$store.state.userEditProfile.work_place == null ||
				this.$store.state.userEditProfile.work_place == '') &&
				(this.$store.state.userEditProfile.description == null ||
					this.$store.state.userEditProfile.description == '')
				? true
				: false;
		}
	},

	created() {
		this.getEditUserData();
		// this.btnDisabledProcess = false;
		this.$store.commit('setMenu', 'no-menu');

		tracker('moe', [
			'[User] Edit Profile Page Visited',
			{
				user_id: this.$store.state.authData.all.id,
				update_from: 'User Profile'
			}
		]);
	},

	methods: {
		onErrorImage(condition) {
			this.isErrorImage = condition;
		},
		getEditUserData() {
			this.isLoading = true;
			axios
				.get('/user/edit')
				.then(response => {
					if (response.data.status) {
						this.$store.commit('setPhotoUser', response.data.data.photo);
						this.$store.commit('setuserEditProfile', response.data.data);
					} else {
						this.swalError(null, response.data.meta.message);
					}

					this.isLoading = false;
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		cancelBtn() {
			if (this.getQueryString('change') === 'gender') {
				window.location.href = document.referrer;
			} else {
				this.$router.push('/kost-saya');
			}
		},
		updateDataSuccessAction() {
			if (this.getQueryString('change') === 'gender') {
				window.location.href = document.referrer;
			} else {
				window.location.href = '/user/';
			}
		},
		updateData() {
			this.btnDisabledProcess = true;
			let token = {
				_token: this.$store.state.token
			};
			this.$store.commit('setValue', token);
			axios
				.post('/user/update', this.$store.state.userEditProfile)
				.then(response => {
					if (response.data.status) {
						this.btnDisabledProcess = false;

						this.swalSuccess(
							'Profil Disimpan',
							'Kamu telah berhasil menyimpan profil',
							this.updateDataSuccessAction
						);

						const {
							authCheck,
							userProfile: {
								is_verify_email,
								is_verify_identity_card,
								is_verify_phone_number
							}
						} = this.$store.state;
						tracker('moe', [
							'[User] Profile Updated',
							{
								is_owner: authCheck.owner,
								user_id: authData.all.id,
								update_from: 'User Profile',
								tenant_work_place: authData.all.work_place,
								tenant_job: authData.all.job,
								tenant_name: authData.all.name,
								tenant_phone_number: authData.all.phone_number,
								user_email: authData.all.email,
								tenant_gender: authData.all.gender,
								tenant_birthday: authData.all.birthday,
								tenant_marital_status: authData.all.marital_status,
								tenant_last_education: authData.all.education,
								tenant_city: authData.all.city,
								tenant_phone_additional: authData.all.phone_number_additional,
								is_verify_email,
								is_verify_identity_card,
								is_verify_phone_number
							}
						]);
					} else {
						this.btnDisabledProcess = false;

						this.swalError(null, response.data.message || response.data.meta.message);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		onPhotoUploaded(val) {
			this.photo_id = val;
		},
		checkInputEmergencyPhone(val) {
			this.conditionInputPhoneEmergency = val;
		}
	}
};
</script>

<style lang="scss" scoped>
.content {
	h1.title {
		font-size: 1.4em;
		color: #3b445b;
		font-weight: 600;
		margin-bottom: 2.4357rem;
		@media (min-width: 768px) {
			width: calc(100% + 31px);
			background-color: rgba(113, 235, 164, 0.1);
			border-bottom: 0.0714em solid rgba(112, 112, 112, 0.28);
			margin: 0;
			position: relative;
			padding: 1.2143rem;
			margin-bottom: 1.5714rem;
		}
	}
}

.form-wrapper {
	padding-bottom: 1.5714rem;
	@media (max-width: 767px) {
		border-bottom: 1.0714em solid #f2f2f2;
	}

	@media (min-width: 768px) {
		border: 0.0714em solid rgba(112, 112, 112, 0.28);
		margin-bottom: 1.6429rem;
		border-radius: 0.2857em;
		padding-bottom: 2rem;
	}
}

.distance {
	margin-left: 0.7143rem;
}

.big-right {
	right: 0 !important;
	width: 50vw !important;
}

.big-left {
	left: 0 !important;
	width: 50vw !important;
}

.wrapper-button {
	margin-bottom: 2.1429rem;
	padding: 0;
}

.custom-btn {
	float: left;
	margin-right: 0.7143rem;
}

.profession-custom {
	margin-bottom: 1.2143rem;
}

.spacer {
	@media (min-width: 992px) and (max-width: 1119px) {
		margin-left: 5rem;
		margin-right: 5rem;
	}

	@media (min-width: 1200px) {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}
</style>
