<template>
	<div id="userBookingList" class="user-booking-list row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Riwayat Transaksi</h1>

			<a v-if="contractId" class="link-back" @click="$router.go(-1)"
				><img
					v-lazy="{
						src: '/general/img/icons/ic_left-pagination-mamipay_s.svg'
					}"
					alt="ic_left-pagination-mamipay_s"
				/>
				<span>Kembali ke Booking</span></a
			>

			<div v-if="!contractId" class="wrapper-history-transaction-search">
				<history-input-text-search
					class="box-input-search"
					@textSearch="onSearchTextChange"
				></history-input-text-search>
				<history-input-date-search
					class="box-date-search"
					date-picker-position="left"
					label="Dari"
					date-type="start"
					:disabled-dates="disabledDatesFrom"
					:initial-date-selected="search.startDate"
				></history-input-date-search>
				<history-input-date-search
					label="Sampai"
					class="box-date-search"
					date-type="end"
					:disabled-dates="disabledDatesUntil"
					:initial-date-selected="search.endDate"
				></history-input-date-search>

				<!-- THIS CODE BELOW IS TEMPORARILY HIDDEN -->

				<!-- <history-modal-desktop-filter
					class="box-filter-search hidden-xs"
				></history-modal-desktop-filter> -->
			</div>

			<div v-if="isLoading" class="row">
				<mami-loading-inline></mami-loading-inline>
			</div>

			<div v-else>
				<div v-if="transactionData.length >= 1">
					<history-list-transaction
						v-for="(data, i) in transactionData"
						:key="i"
						:transaction="separateData(data)"
					></history-list-transaction>
				</div>

				<empty-state
					v-else
					:image="emptyState.imgSrc"
					:title="emptyState.title"
					:subtitle="emptyState.desc"
				></empty-state>

				<!-- THIS CODE BELOW IS TEMPORARILY HIDDEN -->

				<!-- <div v-if="!contractId" class="row hidden-sm hidden-md hidden-lg">
					<button-mobile-filter
						@showModalFilter="showModalFilter"
					></button-mobile-filter>
				</div> -->

				<!-- THIS CODE BELOW IS TEMPORARILY HIDDEN -->

				<!-- <history-modal-mobile-filter
					:show-modal="isModalFilter"
					@close="showModalFilter(false)"
					@set="setFilterMobile"
				></history-modal-mobile-filter> -->
			</div>

			<div class="row">
				<div class="col-md-12 pagination-section">
					<paginate
						v-if="transactionData.length >= 1"
						v-model="selectedPage"
						:page-count="pagination.pageCount"
						:click-handler="onPageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						search-start-date
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>
			</div>
		</div>

		<!-- THIS CODE BELOW IS MOBILE VIEW -->

		<div class="card-toggle visible-xs visible-sm">
			<modal
				:value="isModalOpen"
				class="modal-booking-detail"
				:style="{ height: fullMobileHeight }"
			>
				<div slot="modal-header" class="modal-header">
					<span class="modal--close" @click="$router.go(-1)">&times;</span>
					<span class="modal--title">Tagihan 27 Jan 2020</span>
				</div>

				<div v-if="isLoading" class="row">
					<mami-loading-inline></mami-loading-inline>
				</div>

				<div v-else>
					<history-list-transaction
						v-for="(data, i) in transactionData"
						v-if="transactionData.length >= 1"
						:key="i"
						:transaction="separateData(data)"
					></history-list-transaction>

					<empty-state
						v-else
						:image="emptyState.imgSrc"
						:title="emptyState.title"
						:subtitle="emptyState.desc"
					></empty-state>
				</div>

				<div class="row">
					<div class="col-md-12 pagination-section">
						<paginate
							v-if="transactionData.length >= 1"
							v-model="selectedPage"
							:page-count="pagination.pageCount"
							:click-handler="onPageChanged"
							:prev-text="'<'"
							:next-text="'>'"
							:container-class="'pagination'"
							:break-view-link-class="'break-pagination'"
							:page-class="'page-item'"
						></paginate>
					</div>
				</div>

				<div slot="modal-footer" class="modal-footer"></div>
			</modal>
		</div>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';
import { modal } from 'vue-strap';

import HistoryListTransaction from './history-transaction/HistoryListTransaction';
import HistoryModalMobileFilter from './history-transaction/HistoryModalMobileFilter';
import HistoryInputTextSearch from './history-transaction/HistoryInputTextSearch';
import HistoryInputDateSearch from './history-transaction/HistoryInputDateSearch';
import HistoryModalDesktopFilter from './history-transaction/HistoryModalDesktopFilter';

import EventBus from '../event-bus/event-bus';

const EmptyState = () => import('Js/@components/EmptyState');

const ButtonMobileFilter = () => import('Js/@components/ButtonMobileFilter');

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		modal,
		paginate,
		HistoryListTransaction,
		HistoryModalMobileFilter,
		HistoryModalDesktopFilter,
		HistoryInputTextSearch,
		HistoryInputDateSearch,
		EmptyState,
		ButtonMobileFilter,
		MamiLoadingInline
	},

	data() {
		return {
			isProgressFetchData: false,
			contractId: '',
			fullMobileHeight: '',
			isModalOpen: false,
			isModalFilter: false,
			emptyState: {
				imgSrc:
					'/general/img/pictures/mamipay/owner/ilustration_empty-bill.png',
				imgAlt: 'ilustration_empty-bill',
				title: 'Belum Ada Transaksi Baru',
				desc:
					'Untuk mencari transaksi lebih dari 30 hari yang lalu, silakan atur rentang waktu atau gunakan filter'
			},
			pagination: {
				pageCount: 0,
				offset: 0,
				limit: 5
			},
			search: {
				kostName: '',
				startDate: '',
				endDate: '',
				gender: [],
				rentPrice: []
			},
			transactionData: [],
			selectedPage: 1,
			onDateSearch: false
		};
	},

	computed: {
		isLoading() {
			return this.isProgressFetchData;
		},
		disabledDatesFrom() {
			const nowDate = this.$dayjs().format('YYYY-MM-DD');
			return {
				to: this.$dayjs('2014-01-01').$d,
				from: this.$dayjs(nowDate).subtract(30, 'day').$d
			};
		},
		disabledDatesUntil() {
			const nowDate = this.$dayjs(this.search.startDate).format('YYYY-MM-DD');
			return {
				to: this.$dayjs(nowDate).add(1, 'day').$d,
				from: this.$dayjs().add(1, 'day').$d
			};
		}
	},

	watch: {
		$route: 'fetchDataTransaction'
	},

	mounted() {
		this.initialMobileConfiguration();
		this.showHistoryTransactionBooking();
		this.onDateChange();
		this.initialDateSearch();
	},

	created() {
		this.fetchDataTransaction();
	},

	beforeDestroy() {
		window.removeEventListener('resize', this.setFullHeightForMobile);
		window.removeEventListener(
			'orientationchange',
			this.setFullHeightForMobile
		);
	},

	methods: {
		initialMobileConfiguration() {
			this.setFullHeightForMobile();
			window.addEventListener('resize', () => {
				this.setFullHeightForMobile();
			});
			window.addEventListener('orientationchange', () => {
				this.setFullHeightForMobile();
			});
		},

		routerGo(location) {
			this.$router.push(location).catch(err => {
				this.fetchDataTransaction();
			});
		},

		initialDateSearch() {
			const formattingNowDate = this.$dayjs().format('YYYY-MM-DD');
			const formattingOldDate = this.$dayjs()
				.subtract(30, 'day')
				.format('YYYY-MM-DD');
			this.search.startDate = formattingOldDate;
			this.search.endDate = formattingNowDate;
		},

		onDateChange() {
			EventBus.$on('dateSearchChange', data => {
				this.onDateSearch = true;
				const { dateType, date } = data;
				const formatDateValue = this.$dayjs(date).format('YYYY-MM-DD');

				if (dateType === 'start') {
					this.search.startDate = formatDateValue;
				} else if (dateType === 'end') {
					this.search.endDate = formatDateValue;
				}

				this.pagination.offset = 0;

				const query = {
					page: 0
				};

				this.routerGo({
					path: `/riwayat-transaksi`,
					query
				});
			});
		},

		onSearchTextChange(value) {
			this.search.kostName = value;
			this.pagination.offset = 0;

			const query = {
				page: 0
			};

			this.routerGo({
				path: `/riwayat-transaksi`,
				query
			});
		},

		onPageChanged(page) {
			const totalOffset = (page - 1) * this.pagination.limit;
			const contractId = this.$route.query.contract;

			this.pagination.offset = totalOffset;

			const query = {
				page: totalOffset
			};

			if (contractId) {
				query.contract = contractId;
			}

			this.routerGo({
				path: `/riwayat-transaksi`,
				query
			});
		},

		separateData(data) {
			return {
				paidDate: data.paid_date,
				type: data.invoice_name,
				price: data.paid_amount,
				kostName: data.kost_name,
				status: data.paid_status,
				invoiceId: data.invoice_id
			};
		},

		calculatePagination(totalData) {
			const totalPage = Math.ceil(totalData / this.pagination.limit);
			this.pagination.pageCount = Number(totalPage);
		},

		fetchDataTransaction() {
			const { offset, limit } = this.pagination;

			const isEmptyStartDateAndEndDate =
				!this.search.startDate && !this.search.endDate;
			const contractId = this.$route.query.contract;
			const pageCount = this.$route.query.page || 0;

			if (isEmptyStartDateAndEndDate) {
				this.initialDateSearch();
			}

			this.pagination.offset = pageCount || 0;
			this.selectedPage = pageCount / limit + 1;

			const kostNameSearch = this.search.kostName ? this.search.kostName : '';

			const startDateSearch =
				this.search.startDate && !contractId && this.onDateSearch
					? this.search.startDate
					: '';

			const endDateSearch =
				this.search.endDate && !contractId && this.onDateSearch
					? this.search.endDate
					: '';

			const byContractIdSearch = contractId || '';

			const urlListHistoryTransaction = '/transactions/history';

			this.isProgressFetchData = true;

			axios
				.get(urlListHistoryTransaction, {
					baseURL: '/user/mamipay/request',
					params: {
						offset,
						limit,
						kost_name: kostNameSearch,
						start_date: startDateSearch,
						end_date: endDateSearch,
						contract_id: byContractIdSearch
					}
				})
				.then(response => {
					const { status, data, meta } = response.data;

					if (status) {
						if (data.total >= 1) {
							this.transactionData = data.transactions;
							this.calculatePagination(data.total);
						} else {
							this.transactionData = [];
						}
					} else {
						this.swalError(null, meta.message);
					}
					this.isProgressFetchData = false;
				})
				.catch(error => {
					this.isProgressFetchData = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		showModalFilter(state) {
			this.isModalFilter = state;
		},
		setFullHeightForMobile() {
			this.fullMobileHeight = window.innerHeight + 'px';
		},
		showHistoryTransactionBooking() {
			const contractId = this.$route.query.contract;
			if (contractId) {
				this.isModalOpen = true;
				this.contractId = contractId;
			}
		}
	}
};
</script>

<style lang="scss">
.modal-open {
	overflow: auto;
}

.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}

.consultant-empty-state {
	position: relative !important;
	top: 0 !important;
	transform: none !important;

	img {
		width: 223px;
	}

	.el-center {
		width: 320px;
		h3 {
			font-size: 1.5em;
			font-weight: bold;
		}
	}
}
</style>

<style lang="scss" scoped>
.user-booking-list {
	.form-wrapper {
		padding-bottom: 7rem;
	}
}

.wrapper-history-transaction-search {
	display: flex;
	justify-content: space-between;
	@media (max-width: 991px) {
		flex-wrap: wrap;
	}

	@media (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.box-input-search {
		width: 44%;
		@media (max-width: 991px) {
			width: 100%;
			margin-right: 0;
		}
	}

	.box-date-search {
		width: 26%;
		@media (max-width: 991px) {
			width: 48%;
		}

		@media (max-width: 767px) {
			width: 49%;
			margin-right: 0;
		}
	}
}

.pagination-center {
	width: fit-content;
	margin: 0 auto;
}

.pagination-section {
	display: flex;
	justify-content: center;
}

.link-back {
	margin-bottom: 2rem;
	display: block;
	span {
		font-size: 1em;
		font-weight: bold;
	}
}
</style>
