<template>
	<div id="my-voucher" class="row content my-voucher">
		<div class="col-xs-12 from-wrapper">
			<h1 class="title">Voucherku</h1>

			<div v-if="isMobile" class="other-promo">
				<span class="other-promo__text">Promo Lainnya</span>
				<a href="https://promo.mamikos.com" target="_blank" rel="noopener">
					<button class="other-promo__button" @click="otherPromoClick">
						Lihat
					</button>
				</a>
			</div>

			<tabs
				id="voucher-tab"
				ref="voucherTabs"
				nav-style="tabs"
				class="voucher-tab"
			>
				<tab v-for="(tab, index) in tabs" :key="index" :header="tab.label">
					<voucher-container
						:label="tab.label"
						:is-available="tab.isAvailable"
						:is-mobile="isMobile"
						:type="tab.type"
						:empty-text="tab.emptyText"
						:empty-title="tab.emptyTitle"
					/>
				</tab>
			</tabs>
		</div>
	</div>
</template>

<script>
import { tabs, tab } from 'vue-strap';

import VoucherContainer from './voucher/VoucherContainer';
import mixinVoucherTracker from '../mixins/mixinVoucherTracker';

export default {
	components: {
		tabs,
		tab,
		VoucherContainer
	},

	mixins: [mixinVoucherTracker],

	data() {
		return {
			tabs: [
				{
					label: 'Tersedia',
					isAvailable: true,
					type: 'active',
					emptyTitle: 'Belum Ada Voucher',
					emptyText: 'Voucher yang dapat kamu gunakan akan tersedia di sini'
				},
				{
					label: 'Terpakai',
					isAvailable: false,
					type: 'used',
					emptyTitle: 'Terpakai',
					emptyText: 'Voucher yang telah kamu gunakan akan tampil di sini'
				},
				{
					label: 'Kedaluwarsa',
					isAvailable: false,
					type: 'expired',
					emptyTitle: 'Kedaluwarsa',
					emptyText: 'Voucher yang habis masa berlakunya akan tampil di sini'
				}
			]
		};
	},

	computed: {
		indexActiveTabs() {
			try {
				return this.$refs.voucherTabs.index;
			} catch (error) {
				return 0;
			}
		},
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	mounted() {
		this.$store.commit('setMenu', 'user-menu');

		this.checkUserDevice();
		this.moengageTrackEvent('[User] Voucherku Page Visited');

		this.$nextTick(() => {
			this.tabsEventListener();
		});

		this.$store.commit('setDetailVoucher', false);
	},

	methods: {
		moengageTrackEvent(actionTrack) {
			tracker('moe', [
				actionTrack,
				{
					user_id: this.authData.all.id,
					interface: this.userInterface
				}
			]);
		},

		refreshVoucherCount() {
			this.$store.dispatch('getVoucherCount');
		},

		tabsEventListener() {
			const list = document
				.getElementById('voucher-tab')
				.querySelectorAll('li');

			list.forEach(el => el.addEventListener('click', this.tabsClick));
		},

		tabsClick() {
			if (this.indexActiveTabs === 1) {
				this.moengageTrackEvent('[User] Terpakai Tab Viewed');
			}

			if (this.indexActiveTabs === 2) {
				this.moengageTrackEvent('[User] Kedaluwarsa Tab Viewed');
			}

			this.refreshVoucherCount();
		},

		otherPromoClick() {
			this.moengageTrackEvent('[User] Promo Lainnya Clicked');
		}
	}
};
</script>

<style lang="scss" scoped>
.my-voucher {
	border: 1px solid #dbdbdb;
	border-radius: 4px;

	.title {
		margin-bottom: 0;
		color: #484848;
	}

	@media (max-width: 767px) {
		border: transparent;
		border-radius: 0;
	}
}

.other-promo {
	display: flex;
	height: 56px;
	padding: 16px;
	margin-top: 12px;
	margin-bottom: 10px;
	justify-content: space-between;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);
	align-items: center;

	&__text {
		font-size: 14px;
		font-weight: bold;
		line-height: 21px;
	}

	&__button {
		height: 40px;
		box-sizing: border-box;
		padding: 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 21px;
		color: #1baa56;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 4px;
	}
}
</style>

<style lang="scss">
.my-voucher {
	.voucher-tab {
		position: relative;
		left: -1.07em;
		width: calc(100% + 30px);
		margin: 0;

		.nav-tabs {
			> li {
				&.active > a {
					color: #484848;
					background-color: transparent;
					border: 0;
					border-bottom: 1px solid #dbdbdb;

					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						content: '';
						background-color: #1baa56;
					}

					@media (max-width: 767px) {
						font-weight: bold;
						color: #1baa56;
					}
				}

				> a {
					color: #999;
					text-align: center;

					&:hover {
						border-radius: 0;
					}
				}

				@media (max-width: 767px) {
					flex-grow: 1;
				}
			}

			@media (max-width: 767px) {
				display: flex;
				justify-content: space-between;
			}
		}

		.tab-content {
			margin: 0 0 0 15px;

			@media (max-width: 767px) {
				margin-right: 15px;
			}
		}
	}
}
</style>
