<template>
	<div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<user-profile></user-profile>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 menu-profil">
				<ul>
					<li
						v-for="(menu, index) in profilMenu"
						v-if="!menu.hidden"
						:key="index"
						:class="{
							counter: menu.counter
						}"
						@click="refreshVoucherCount"
					>
						<router-link :to="menu.url">
							<img v-lazy="`/general/img/icons/${menu.icon}`" />

							<span
								class="title-link"
								@click="hideNewLabel(menu.title)"
								:class="{
									'link-active':
										sanitizeUrl($route.path) === sanitizeUrl(menu.url)
								}"
							>
								{{ menu.title }}
							</span>
							<span
								v-if="voucherCount > 0 && menu.title === 'Voucherku'"
								class="count-badge"
							>
								{{ voucherCount }}
							</span>

							<span
								v-if="menu.notification && menu.title !== 'Voucherku'"
								class="dot-notification"
							></span>

							<span v-if="menu.isNew" class="label-new">
								Baru
							</span>
							<span class="coin" v-if="menu.title === 'Poin Saya'">
								<img class="icon" v-lazy="`/general/img/icons/${menu.coin}`" />
								{{ totalPoint }}
							</span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
import * as storage from 'Js/@utils/storage';

import UserProfile from './UserProfile';

export default {
	components: {
		UserProfile
	},

	data() {
		return {
			profilMenu: {
				kostSaya: {
					icon: 'ic_kost_o.svg',
					title: 'Kos Saya',
					notification: 0,
					url: '/kost-saya',
					hidden: false,
					counter: false,
					isNew: false
				},
				booking: {
					icon: 'ic_waiting-list_o.svg',
					title: 'Booking',
					notification: 0,
					url: '/booking',
					hidden: false,
					counter: false,
					isNew: false
				},
				riwayatKos: {
					icon: 'ic_history-kost_o.svg',
					title: 'Riwayat Kos',
					notification: 0,
					url: '/riwayat-kos',
					hidden: false,
					counter: false,
					isNew: true
				},
				riwayatTransaksi: {
					icon: 'ic_history-transaction_o.svg',
					title: 'Riwayat Transaksi',
					notification: 0,
					url: '/riwayat-transaksi',
					hidden: false,
					counter: false,
					isNew: false
				},
				mamipoin: {
					icon: 'ic_mamipoin.svg',
					title: 'Poin Saya',
					notification: 0,
					url: '/mamipoin',
					hidden: true,
					counter: true,
					isNew: true,
					coin: 'ic_coin.svg'
				},
				voucherku: {
					icon: 'ic_voucher_o.svg',
					title: 'Voucherku',
					notification: 0,
					url: '/voucherku',
					hidden: false,
					counter: true,
					isNew: false
				},
				verifikasiAkun: {
					icon: 'ic_verifikasi-akun_o.svg',
					title: 'Verifikasi Akun',
					notification: 0,
					url: '/verifikasi-akun',
					hidden: false,
					counter: false,
					isNew: false
				},
				verifikasiIdentitas: {
					icon: 'ic_verifikasi-identitas_o.svg',
					title: 'Verifikasi Identitas',
					notification: 0,
					url: '/verifikasi-identitas',
					hidden: true,
					counter: false,
					isNew: false
				},
				settings: {
					icon: 'ic_setting-gear.svg',
					title: 'Pengaturan',
					notification: 0,
					url: '/pengaturan',
					hidden: false,
					counter: false,
					isNew: false
				}
			}
		};
	},

	computed: {
		isVerifyEmail() {
			return this.$store.state.userProfile.is_verify_email;
		},
		isVerifyPhoneNumber() {
			return this.$store.state.userProfile.is_verify_phone_number;
		},
		isVerifyIdentityCard() {
			return this.$store.state.userProfile.is_verify_identity_card;
		},
		voucherCount() {
			return this.$store.state.voucherCount;
		},
		bookingNotification: {
			get() {
				return this.$store.getters.bookingNotificationCount;
			},
			set(total) {
				this.profilMenu.booking.notification = total;
			}
		},
		isMobile() {
			return navigator.isMobile;
		},
		isTenantBlacklist() {
			return this.$store.state.totalPoin.point === null ? true : false;
		},

		totalPoint() {
			if (
				this.$store.state.totalPoin.point !== null &&
				this.$store.state.totalPoin.point !== 0
			) {
				return this.toThousand(this.$store.state.totalPoin.point);
			}
			return '0';
		}
	},

	watch: {
		bookingNotification: {
			immediate: true,
			handler(total) {
				this.bookingNotification = total;
			}
		},
		isVerifyEmail(val) {
			if (val) {
			} else {
				this.profilMenu.verifikasiAkun.notification =
					this.profilMenu.verifikasiAkun.notification + 1;
			}
		},
		isVerifyPhoneNumber(val) {
			if (val) {
			} else {
				this.profilMenu.verifikasiAkun.notification =
					this.profilMenu.verifikasiAkun.notification + 1;
			}
		},
		isVerifyIdentityCard(val) {
			if (val !== 'No Valid') {
			} else {
				this.profilMenu.verifikasiIdentitas.notification =
					this.profilMenu.verifikasiIdentitas.notification + 1;
			}
		},

		isTenantBlacklist(val) {
			val === true
				? (this.profilMenu.mamipoin.hidden = true)
				: (this.profilMenu.mamipoin.hidden = false);
		}
	},

	mounted() {
		this.$store.commit('setBreadcrumb', 'user');
		if (
			this.$store.state.userProfile.is_verify_email === false ||
			this.$store.state.userProfile.is_verify_phone_number === false
		) {
			this.profilMenu.verifikasiAkun.notification =
				this.profilMenu.verifikasiAkun.notification + 1;
		}

		if (this.$store.state.userProfile.is_verify_identity_card === 'No Valid') {
			this.profilMenu.verifikasiIdentitas.notification =
				this.profilMenu.verifikasiIdentitas.notification + 1;
		}

		if (!this.isTenantBlacklist) {
			this.profilMenu.mamipoin.hidden = false;
		}

		this.$store.dispatch('getVoucherCount');
		this.$store.dispatch('getTotalPoin');
		this.setSettingsMenuVisibility();
		this.isMamipoinVisited();
	},

	methods: {
		sanitizeUrl(route) {
			const URL_REGEX = /\/(.+)\/|\/(.+)\?|\/(.+)/g;
			const result = route.match(URL_REGEX);

			if (result) {
				const replaceTextResult = result[0].replace(/\/|\?/g, '');

				return replaceTextResult;
			}

			return route;
		},
		refreshVoucherCount() {
			this.$store.dispatch('getVoucherCount');
		},
		setSettingsMenuVisibility() {
			this.profilMenu.settings.hidden = this.$store.state.isUserLoggedInViaSocial;
		},

		hideNewLabel(menu) {
			if (menu === 'Poin Saya') {
				if (!storage.local.getItem('mamipoinVisited')) {
					storage.local.setItem('mamipoinVisited', true);
					this.profilMenu.mamipoin.isNew = false;
				}
			}
		},
		isMamipoinVisited() {
			if (storage.local.getItem('mamipoinVisited')) {
				this.profilMenu.mamipoin.isNew = false;
			}
		},
		toThousand(poin) {
			if (poin > 0) {
				return poin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.menu-profil {
	margin-top: 2.5rem;
	ul {
		padding: 0;
		li {
			list-style: none;
			border-bottom: 1px solid #dbdbdb;
			padding: 18px 0;

			&:last-child {
				border-bottom: none;
			}

			&.counter {
				a {
					width: 100%;
				}

				span {
					&.count-badge {
						display: inline-block;
						background-color: #ec4a0c;
						position: absolute;
						color: #fff;
						padding: 1px 8px;
						border-radius: 13px;
						font-size: 12px;
						right: 22px;
						top: 0;

						@media (max-width: 767px) {
							right: 0;
						}
					}

					&.coin {
						font-weight: bold;
						font-family: Lato;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 24px;
						color: #2e2d39;
						float: right;
					}
				}
			}

			a {
				position: relative;
				text-decoration: none;
				width: fit-content;
				display: block;
				img {
					margin-right: 1rem;
					width: 1.786em;
					height: 1.786em;
					margin-top: -5px;
					&.icon {
						max-width: 24px !important;
						max-height: 24px !important;
						margin-right: 8px !important;
					}
				}
				span.title-link {
					color: #9e9e9e;
					font-size: 1.1em;
					&:active {
						color: #3b445b;
						font-weight: bold;
						text-decoration: none;
					}
				}
				span.dot-notification {
					display: block;
					width: 8px;
					height: 8px;
					background-color: #ec4a0c;
					position: absolute;
					border-radius: 100%;
					top: 0;
					right: -1.2rem;
				}
			}
		}
	}
	@media (max-width: 767px) {
		border-bottom: 1em solid #f2f2f2;

		span {
			&.coin {
				display: none;
			}
		}
	}
}

.link-active {
	color: #2e2d39 !important;
	font-weight: bold;
	text-decoration: none;
}

.hidden {
	display: none;
}

.label-new {
	background-color: #fad686;
	font-weight: bold;
	color: #303030;
	padding: 0.5rem 1.3rem;
	border-radius: 100px;
	font-size: 0.9em;
	margin-left: 1.1rem;
}
</style>
