<template>
	<div>
		<div class="row desktop-wrapper-first" v-if="state == 'first'">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img class="logo" v-lazy="'/general/img/logo/mamipay-logo-full.png'" />

				<h1 class="head-activation">Konfirmasi Nomor Handphone</h1>

				<p class="desc-activation">
					Jika nomor Anda sudah tidak aktif, silakan ubah nomor Anda di halaman
					profil <span class="bold">Profil > Verifikasi Akun</span>
				</p>

				<div class="detail-form">
					<p class="label-form">
						No. Handphone baru
					</p>

					<div class="control-phone-number">
						<span class="code-phone">+62</span>

						<input
							maxlength="14"
							class="form-control"
							v-model="userPhoneCountryCode"
							disabled
						/>

						<p class="text-under-input">
							Kami akan mengirimkan Kode verifikasi ke nomor
							<span class="user-phone">{{ userPhone }}</span>
						</p>
					</div>

					<p class="term-text">
						Dengan melanjutkan, Anda menyetujui segala Syarat dan Ketentuan.
					</p>

					<button
						class="btn btn-primary btn-otp-verification custom-activation"
						@click="checkValidation"
						:disabled="verificationDisabled"
					>
						Verifikasi
						<img v-lazy="'/general/img/icons/ic_angle-right_s_white.svg'" />
					</button>
				</div>
			</div>
		</div>

		<div class="row desktop-wrapper-second" v-else-if="state == 'second'">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img class="logo" v-lazy="'/general/img/logo/mamipay-logo-full.png'" />

				<h1 class="head-activation">Masukan OTP</h1>

				<p class="desc-activation pin-state">
					Kami telah mengirimkan Kode OTP ke nomor {{ this.userPhone }}
				</p>

				<div class="detail-form">
					<div class="control-pin">
						<div class="input-wrapper">
							<input maxlength="4" class="form-control" v-model="otpCode" />

							<p class="error-otp" v-if="errorOtp">
								<img v-lazy="'/general/img/icons/ic_error_s.svg'" />
								<span class="text-error">Kode OTP Salah</span>
							</p>
						</div>

						<p class="text-under-input">
							Masukan 4 digit kode OTP
						</p>
					</div>

					<p class="term-text">
						Mohon tunggu <span class="countdown">{{ timer }}</span> untuk
						mengirim ulang kode OTP ?
					</p>

					<a class="link-send-again" v-if="sendAgain" @click="checkValidation"
						>Kirim ulang kode OTP</a
					>

					<button
						class="btn btn-primary btn-otp-verification custom-activation"
						@click="goActivation"
						:disabled="nextDisabled"
					>
						Lanjutkan
						<img v-lazy="'/general/img/icons/ic_angle-right_s_white.svg'" />
					</button>
				</div>
			</div>
		</div>

		<div class="row desktop-wrapper-second" v-else-if="state == 'third'">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img
					class="success"
					v-lazy="'/general/img/icons/ic_success-verification_o.svg'"
				/>

				<h1 class="desc-success">Hore Aktivasi Mamipay Berhasil!</h1>

				<a class="btn btn-primary custom-btn" href="/user">Kembali</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			state: 'first',
			timer: '',
			countTimer: 60 * 3,
			errorOtp: false,
			sendAgain: false,
			otpCode: '',
			nextDisabled: true,
			verificationDisabled: false
		};
	},

	computed: {
		userPhone() {
			return this.$store.state.userProfile.phone;
		},
		userPhoneCountryCode() {
			let s = this.$store.state.userProfile.phone;
			while (s.charAt(0) === '0') {
				s = s.substr(1);
			}
			return s;
		}
	},

	watch: {
		otpCode(val) {
			if (val.length == 4) {
				this.nextDisabled = false;
			} else {
				this.nextDisabled = true;
			}
		}
	},

	methods: {
		startTimer(duration) {
			var timer = duration,
				minutes,
				seconds;
			var myInterval = setInterval(() => {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? '0' + minutes : minutes;
				seconds = seconds < 10 ? '0' + seconds : seconds;

				this.timer = minutes + ':' + seconds;

				if (--timer < 0) {
					timer = duration;
					clearInterval(myInterval);
					this.sendAgain = true;
				}
			}, 1000);
		},
		checkValidation() {
			this.sendAgain = false;
			this.verificationDisabled = true;
			let data = {
				phone_number: this.userPhone,
				for: 'activation_mamipay'
			};
			axios
				.post('/user/activation-mamipay/check-valid-account', data)
				.then(response => {
					if (response.data.status) {
						this.state = 'second';
						this.startTimer(this.countTimer);
					} else {
						this.swalError(null, response.data.meta.message);
					}
					this.verificationDisabled = true;
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		goActivation() {
			this.nextDisabled = true;
			let data = {
				phone_number: this.userPhone,
				verification_code: this.otpCode
			};
			axios
				.post('/user/activation-mamipay', data)
				.then(response => {
					if (response.data.status) {
						this.state = 'third';
					} else {
						this.errorOtp = true;
						this.nextDisabled = false;
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	},

	mounted() {
		this.$store.commit('setBreadcrumb', 'mamipay');
		this.$store.commit('setMenu', 'no-menu');
	}
};
</script>

<style lang="scss" scoped>
img.logo {
	width: 10em;
	display: block;
	margin: 0 auto;
}

img.success {
	width: 14.2857em;
	display: block;
	margin: 0 auto;
}

h1.desc-success {
	color: #686868;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 2.7857rem;
}

h1.head-activation {
	color: #22c264;
	font-size: 1.2em;
	margin-top: 2.5rem;
	@media (min-width: 425px) {
		text-align: center;
	}
}

p.desc-activation {
	color: #686868;
	font-size: 1em;
}

.bold {
	font-weight: 700;
}

.detail-form {
	margin-top: 1.7143rem;
	p.label-form {
		color: #999999;
		font-weight: 600;
	}
}

.control-phone-number {
	position: relative;
	.code-phone {
		position: absolute;
		color: #2e2d39;
		font-weight: 700;
		top: 0.6429em;
		left: 1.1429em;
		font-size: 1em;
	}
	input {
		background-color: #f6f6f6;
		text-indent: 2.3571em;
		font-size: 1em;
		color: #2e2d39;
		font-weight: 700;
	}
	p.text-under-input {
		margin-top: 1.1429rem;
		color: #686868;
		font-size: 1em;
		span.user-phone {
			color: #22c264;
		}
	}
}

.term-text {
	color: #3b445b;
	font-size: 1em;
	margin-top: 1.5714rem;
	margin-bottom: 1.4286rem;
}

.custom-activation {
	color: #fff;
	background-color: #1baa56;
	width: 10.2857em;
	height: 3.2143em;
	border-radius: 0.2143em;
	box-shadow: 0 0.2143em 0.4286em 0 rgba(0, 0, 0, 0.16);
	background-color: #22c264;
	font-weight: 700;
	padding-left: 1.8571rem;
	border-color: #22c264;
}

.desktop-wrapper-first {
	@media (min-width: 425px) {
		max-width: 46.3571em;
		margin: 0 auto;
	}
}

.desktop-wrapper-second {
	@media (min-width: 425px) {
		max-width: 27.4286em;
		margin: 0 auto;
	}
}

.pin-state {
	margin-top: 1.4286rem;
	margin-bottom: -1.1429rem;
}

.control-pin {
	display: flex;
	input {
		max-width: 9.5em;
		display: block;
		margin-right: 1rem;
		background-color: #f6f6f6;
		text-align: center;
		letter-spacing: 0.5714em;
	}
	p.text-under-input {
		color: #686868;
		font-size: 1em;
		position: relative;
		top: 0.5714em;
	}
}

a.link-send-again {
	display: block;
	margin-bottom: 1.7857rem;
	color: #22c264;
}

.countdown {
	color: #1baa56;
}

p.error-otp {
	margin-top: 0.7143rem;
	margin-bottom: 0rem;
	span {
		color: #f95516;
		position: relative;
		top: 0.1429em;
	}
}

.custom-btn {
	margin: 0 auto;
	display: block;
	margin-top: 1.8571rem;
}
</style>
