<template>
	<div>
		<h1 class="title">MamiPoin</h1>
		<div class="row-item">
			<div class="box-card">
				<mamipoin-skeleton v-if="!totalPoint" :type="'card'" />
				<mamipoin-card-total-poin
					v-else
					:title="card.totalPoint.title"
					:poin="totalPoint"
					:content="card.totalPoint.content"
					:info="
						`${pointExpired} poin kedaluwarsa pada ${toMonth(dateExpired)}`
					"
					:nearExpiredPoin="pointExpired.toString()"
					:url="card.totalPoint.url"
				/>
			</div>
			<div class="box-card">
				<mamipoin-skeleton v-if="!totalPoint" :type="'card'" />
				<mamipoin-card
					v-else
					:title="card.historyPoint.title"
					:content="card.historyPoint.content"
					:url="card.historyPoint.url"
				/>
				<hr class="mobile-line" />
			</div>
		</div>
		<div class="row-item">
			<div class="box-card last">
				<mamipoin-skeleton v-if="!totalPoint" :type="'card'" />
				<mamipoin-card
					v-else
					:title="card.howToGetPoint.title"
					:content="card.howToGetPoint.content"
					:url="card.howToGetPoint.url"
					:is-content-long="false"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment';
import MamipoinCard from './mamipoin/MamipoinCard';
import mixinMamipoin from '../mixins/mixinMamipoin';
import MamipoinSkeleton from './mamipoin/MamipoinSkeleton';
import MamipoinCardTotalPoin from './mamipoin/MamipoinCardTotalPoin';
export default {
	name: 'UserMamipoin',
	components: {
		MamipoinCard,
		MamipoinCardTotalPoin,
		MamipoinSkeleton
	},
	mixins: [mixinMamipoin],
	data() {
		return {
			card: {
				totalPoint: {
					title: 'Poin Saya',
					url: 'mamipoin/expired'
				},
				historyPoint: {
					title: 'Riwayat Poin',
					content: 'Daftar poin yang sudah didapat dan ditukarkan',
					url: 'mamipoin/history'
				},
				howToGetPoint: {
					title: 'Dapatkan Poin',
					content: 'Cara-cara mendapatkan poin',
					url: 'mamipoin/guideline'
				}
			}
		};
	},
	computed: {
		totalPoint() {
			if (
				this.$store.state.totalPoin.point !== null &&
				this.$store.state.totalPoin.point !== 0
			) {
				return this.toThousand(this.$store.state.totalPoin.point);
			}
			return '0';
		},
		pointExpired() {
			if (
				this.$store.state.totalPoin.near_expired_point !== null &&
				this.$store.state.totalPoin.near_expired_point !== 0
			) {
				return this.toThousand(this.$store.state.totalPoin.near_expired_point);
			}
			return '0';
		},
		dateExpired() {
			if (this.$store.state.totalPoin.near_expired_date !== null) {
				return this.$store.state.totalPoin.near_expired_date;
			}
			return '0';
		},

		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},

	watch: {
		isTenantBlacklist(status) {
			if (status === true) {
				this.$router.push({ path: '/kost-saya' });
			}
		}
	},
	created() {
		this.sendMamipoinTrackerEvent();
	},

	methods: {
		toMonth(date) {
			moment.locale('id');
			return moment(date).format('DD MMM YYYY');
		},
		sendMamipoinTrackerEvent(menuSelected) {
			this.$store.state.redirectionSource = '[User] MamiPoin Page';
			tracker('moe', [
				'[User] MamiPoin Page Visited',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: 'user profile',
					point_total: this.totalPoint
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.row-item {
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 767px) {
		justify-content: center;
	}
}

.box-card {
	display: flex;
	margin: 12px 0px 12px 0px;
	padding: 0px 8px 0px 8px;

	@media (max-width: 767px) {
		margin: 2px 0px 4px;
		padding: 0px 8px 1px 8px;
		display: flex;
	}
}

@media (max-width: 767px) {
	.last {
		position: relative;
		bottom: 6px;
	}
}
.title {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #303030;
	margin: 0pc 0px 12px 12px;

	@media (max-width: 767px) {
		margin: 16px 0px 24px 6px;
	}
}

.mobile-line {
	display: none;
	@media (max-width: 767px) {
		position: absolute;
		top: 389px;
		display: block;
		width: 328px;
		margin: 0;
		background-color: #ffffff;
		z-index: 1;
		border-top: none;
		border-bottom: 1px solid #e8e8e8;
	}
}
</style>
