<template>
	<div class="wrapper-list">
		<div
			class="col-lg-6 col-sm-6 col-xs-12"
			v-for="(room, index) in rooms"
			:key="index"
		>
			<div
				class="mini-list-container material-card-1"
				@click="openRoom(room.share_url, reference)"
			>
				<div class="mini-photo" v-if="room.photo_url.medium == ''">
					<div class="mini-status one" v-if="room.available_room == 1">
						Tinggal 1 Kamar
					</div>

					<div class="mini-status available" v-if="room.available_room > 1">
						Ada {{ room.available_room }} Kamar
					</div>

					<div class="mini-status full" v-if="room.available_room == 0">
						Penuh
					</div>
				</div>

				<div
					class="mini-photo"
					v-else
					:style="{ backgroundImage: 'url(' + room.photo_url.medium + ')' }"
					:class="room.available_room <= 0 ? 'mini-photo-fade' : ''"
				>
					<div class="detail-kost">
						<p>
							{{ room.price_title_time }}
							<span
								v-if="room.gender == 0"
								class="mini-tag-gender mini-tag-gender-mixed"
								>Campur</span
							>
							<span
								v-if="room.gender == 1"
								class="mini-tag-gender mini-tag-gender-male"
								>Putra</span
							>
							<span
								v-if="room.gender == 2"
								class="mini-tag-gender mini-tag-gender-female"
								>Putri</span
							>
						</p>
						<p>{{ room['room-title'] }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	mixins: [mixinGetQueryString],

	props: {
		rooms: {
			type: Array,
			required: true
		},
		reference: {
			type: String,
			required: true
		}
	},

	methods: {
		openRoom(link, ref) {
			if (ref == 'edit') {
				window.open(link + '?checkin=true&ref=edit', '_self');
			} else {
				window.open(link + '?checkin=true', '_self');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.mini-list-container {
	margin-top: 1.0714rem;
	margin-bottom: 1.0714rem;
	cursor: pointer;
	max-width: 25em;
	display: flex;
	justify-content: space-between;
}

.mini-photo {
	display: inline-block;
	background-size: cover;
	background-position: center;
	height: 11.5714em;
	width: 100%;
	vertical-align: top;
	background-image: url('/assets/default.svg');
	position: relative;
}

.mini-photo-fade {
	opacity: 0.5;
}

.mini-status {
	font-size: 1.1429em;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin-top: 7.8571rem;
	padding-bottom: 0.2143rem;

	@media (max-width: 425px) {
		font-size: 0.8571em;
		padding: 0.2857rem 0;
	}

	&.one {
		background-color: #e81a29;
	}
	&.full {
		background-color: #000;
	}
	&.available {
		background-color: #1baa56;
	}
}

.mini-info {
	display: inline-block;
	max-width: 15.7143em;
	padding: 0.5714rem;
}

.mini-price {
	text-align: right;
	font-weight: 700;
}

.mini-title {
	height: 5.3571em;
}

.mini-detail {
	text-align: right;
}

.mini-tag-gender {
	display: inline-block;
	background-color: #eee;
	color: #fff;
	border-radius: 0.3571em;
	padding: 0.1429rem 0.3571rem;
	margin: 0 0.2143rem;
}

.mini-tag-gender-male {
	background-color: #3498db;
}

.mini-tag-gender-female {
	background-color: #f26389;
}

.mini-tag-gender-mixed {
	background-color: #9b59b6;
}

.wrapper-list {
	@media (max-width: 425px) {
		width: 96%;
		margin: 0 auto;
	}
}

.detail-kost {
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	text-align: center;
	background-color: #0000005c;
	height: 8rem;
	position: absolute;
	right: 0;
	width: 100%;
	bottom: 0;
	> p {
		margin-bottom: 0;
		&:first-child {
			margin-bottom: 0;
			margin-top: 1.3rem;
		}
		&:last-child {
			width: 93%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			margin: 0 auto;
		}
	}
}
</style>
