<template>
	<div id="userBookingList" class="user-booking-list row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">
				Tagihan <span v-if="!isLoading">{{ simpleDate }}</span>
			</h1>

			<div v-if="isLoading" class="row">
				<mami-loading-inline></mami-loading-inline>
			</div>

			<div v-else>
				<a class="link-back" @click="$router.go(-1)"
					><img
						v-lazy="{
							src: '/general/img/icons/ic_left-pagination-mamipay_s.svg'
						}"
						alt="ic_left-pagination-mamipay_s"
					/>
					<span>Kembali ke Riwayat Transaksi</span></a
				>

				<detail-history-transaction
					:transaction="detailTransaction"
				></detail-history-transaction>
			</div>

			<div class="card-toggle visible-xs visible-sm">
				<modal
					v-model="isModalOpen"
					class="modal-booking-detail modal-history-transaction"
					:style="{ height: fullMobileHeight }"
				>
					<div slot="modal-header" class="modal-header">
						<span class="modal--close" @click="$router.go(-1)">&times;</span>
						<span v-if="!isLoading" class="modal--title"
							>Tagihan {{ simpleDate }}</span
						>
						<a
							v-if="isCanShare"
							class="modal--share"
							@click="shareDetailHistory"
							><img
								v-lazy="{
									src: '/general/img/icons/ic_share-mamipay_grey.svg'
								}"
								alt="ic_share-mamipay_grey"
						/></a>
					</div>
					<div v-if="isLoading" class="row">
						<mami-loading-inline></mami-loading-inline>
					</div>

					<div v-else>
						<detail-history-transaction
							:transaction="detailTransaction"
						></detail-history-transaction>
						<div slot="modal-footer" class="modal-footer"></div>
					</div>
				</modal>
			</div>
		</div>
	</div>
</template>

<script>
import { modal } from 'vue-strap';

import html2canvas from 'html2canvas';

import DetailHistoryTransaction from './history-transaction-detail/DetailHistoryTransaction';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		modal,
		DetailHistoryTransaction,
		MamiLoadingInline
	},

	data() {
		return {
			isProgressFetchData: false,
			fullMobileHeight: '',
			isModalOpen: true,
			detailTransaction: {},
			file: ''
		};
	},

	computed: {
		invoiceId() {
			return this.$route.params.invoiceId;
		},
		isLoading() {
			return this.isProgressFetchData;
		},
		simpleDate() {
			const formating = this.$dayjs(this.detailTransaction.paidDate).format(
				'D MMM YYYY'
			);
			return formating;
		},
		isCanShare() {
			return 'canShare' in navigator;
		}
	},

	watch: {
		$route: 'fetchDataDetailTransaction'
	},

	created() {
		this.fetchDataDetailTransaction();
	},

	mounted() {
		this.initialMobileConfiguration();
	},

	beforeDestroy() {
		window.removeEventListener('resize', this.setFullHeightForMobile);
		window.removeEventListener(
			'orientationchange',
			this.setFullHeightForMobile
		);
	},

	methods: {
		async urltoFile(url, filename, mimeType) {
			return fetch(url)
				.then(function(res) {
					return res.arrayBuffer();
				})
				.then(function(buf) {
					return new File([buf], filename, { type: mimeType });
				});
		},
		async proccessToImage() {
			const options = {
				type: 'dataURL'
			};

			const modalBody = document.querySelector(
				'.modal-history-transaction > .modal-dialog > .modal-content > .modal-body'
			);

			await html2canvas(modalBody, options).then(async canvas => {
				const dataUrl = canvas.toDataURL();
				await this.urltoFile(
					dataUrl,
					'detailTransaction.png',
					'image/png'
				).then(file => {
					this.file = file;
				});
			});
		},
		async shareDetailHistory() {
			await this.proccessToImage();

			const files = [this.file];

			setTimeout(() => {
				if (navigator.share) {
					navigator
						.share({
							files: files,
							title: 'Riwayat Transaksi',
							text: `Tagihan ${this.simpleDate}`
						})
						.then(() => {})
						.catch(error => {});
				}
			}, 3000);
		},
		initialMobileConfiguration() {
			this.setFullHeightForMobile();
			window.addEventListener('resize', () => {
				this.setFullHeightForMobile();
			});
			window.addEventListener('orientationchange', () => {
				this.setFullHeightForMobile();
			});
		},
		setFullHeightForMobile() {
			this.fullMobileHeight = window.innerHeight + 'px';
		},
		normalizeData(data) {
			const {
				flash_sale,
				invoice_number,
				payment_date,
				invoice_name,
				payment_amount,
				kost_name,
				kost_type,
				room_number,
				rent_type,
				kost_slug,
				kost_image,
				owner_name,
				tenant_name,
				invoice_url,
				payment_status,
				payment_description,
				detailed_costs,
				group_channel_id
			} = data;

			return {
				flashSale: flash_sale,
				invoiceNumber: invoice_number,
				paidDate: payment_date,
				invoiceName: invoice_name,
				price: payment_amount,
				kostName: kost_name,
				kostType: kost_type,
				roomNumber: room_number,
				rentType: rent_type,
				kostSlug: kost_slug,
				kostImage: kost_image.medium,
				ownerName: owner_name,
				tenantName: tenant_name,
				invoiceUrl: invoice_url,
				status: payment_status,
				statusDescription: payment_description,
				detailCost: detailed_costs,
				channelId: group_channel_id
			};
		},
		fetchDataDetailTransaction() {
			this.isProgressFetchData = true;
			const idTransaction = this.invoiceId;
			const url = `/transactions/history/${idTransaction}`;

			axios
				.get(url, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const { status, data, meta } = response.data;

					if (status) {
						this.detailTransaction = this.normalizeData(data);
					} else {
						this.swalError(null, meta.message);
					}
					this.isProgressFetchData = false;
				})
				.catch(error => {
					this.isProgressFetchData = false;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss">
.modal-open {
	overflow: auto;
}

.modal-booking-detail {
	.modal-dialog {
		margin: 0;
		height: 100%;

		.modal-header {
			justify-content: space-between;
			font-size: 1.6rem;
			font-weight: bold;
			display: flex;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			background: white;
			width: 100%;

			&:after,
			&:before {
				content: none;
			}

			> span {
				line-height: 1;
			}

			span.modal--close {
				font-size: 2em;
				cursor: pointer;
				display: inline-block;
				background-color: transparent;
				border: none;
				box-shadow: none;
				margin-right: 1rem;
				font-weight: 400;
				color: #484848;
			}

			span.modal--title {
				color: #484848;
				flex-grow: 2;
			}
		}

		.modal-content {
			border-radius: 0;
			border: unset;
			box-shadow: unset;
			padding-top: 6.4rem;
			padding-bottom: 8.7rem;
			height: 100%;
			overflow-y: scroll;
		}

		.modal-footer {
			display: none;
		}
	}
}
</style>

<style lang="scss" scoped>
.user-booking-list {
	.form-wrapper {
		padding-bottom: 7rem;
	}
}

.link-back {
	margin-bottom: 2rem;
	display: block;
	span {
		font-size: 1em;
		font-weight: bold;
	}
}
</style>
