<template>
	<div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img class="logo" v-lazy="'/general/img/logo/mamipay-logo-full.png'" />

				<h1 class="menu-desc">Hai, Saldo MamiPAY kamu saat ini</h1>

				<p class="menu-balance">Rp. {{ formatPrice(userSaldo) }}</p>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 menu-profil">
				<ul>
					<li v-for="(menu, index) in profilMenu" :key="index">
						<router-link :to="menu.url">
							<img v-lazy="`/general/img/icons/${menu.icon}`" />

							<span
								class="title-link"
								:class="{
									'link-active': $route.path == menu.url
								}"
								>{{ menu.title }}</span
							>

							<span v-if="menu.notification" class="dot-notification"></span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	components: {},

	data() {
		return {
			profilMenu: [
				{
					icon: 'ic_isi-saldo_o.svg',
					title: 'Isi Saldo',
					notification: false,
					url: '/isi-saldo'
				},
				{
					icon: 'ic_tarik-saldo_o.svg',
					title: 'Tarik Saldo',
					notification: false,
					url: '/tarik-saldo'
				},
				{
					icon: 'ic_riwayat-transaksi_o.svg',
					title: 'Riwayat Transaksi',
					notification: false,
					url: '/riwayat-transaksi'
				}
			]
		};
	},

	computed: {
		userSaldo() {
			return this.$store.state.userBalance;
		}
	},

	mounted() {
		this.$store.commit('setBreadcrumb', 'mamipay');
	},

	methods: {
		formatPrice(value) {
			let val = (value / 1).toFixed(0).replace('.', ',');
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
		}
	}
};
</script>

<style lang="scss" scoped>
.menu-profil {
	margin-top: 2.1429rem;
	ul {
		padding: 0;
		li {
			@media (max-width: 767px) {
				list-style: none;
				margin-bottom: 1.7857rem;
				border-bottom: 0.0714em solid #efefef;
				padding-bottom: 0.9286rem;
			}
			list-style: none;
			margin-bottom: 1.7857rem;
			a {
				position: relative;
				text-decoration: none;
				width: fit-content;
				display: block;
				img {
					margin-right: 0.7143rem;
					width: 1.7857em;
					height: 1.7857em;
				}
				span.title-link {
					color: #9e9e9e;
					font-size: 1.1em;
					&:active {
						color: #3b445b;
						font-weight: bold;
						text-decoration: none;
					}
				}
				span.dot-notification {
					display: block;
					width: 0.7143em;
					height: 0.7143em;
					background-color: #ec4a0c;
					position: absolute;
					border-radius: 100%;
					top: 0;
					right: -1.2143em;
				}
			}
		}
	}
	@media (max-width: 767px) {
		border-bottom: 1em solid #f2f2f2;
	}
}

img.logo {
	width: 10em;
	display: block;
	margin: 0 auto;
}

h1.menu-desc {
	font-size: 1em;
	text-align: center;
	color: #3b445b;
	margin: 0;
	margin-top: 1.2857rem;
}

p.menu-balance {
	font-size: 1.8em;
	text-align: center;
	font-weight: 600;
	margin: 0;
	margin-top: 0.2143rem;
	border-bottom: 0.0714em solid #e5e5e5;
}

.link-active {
	color: #2e2d39 !important;
	font-weight: bold;
	text-decoration: none;
}
</style>
