<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Booking</h1>
			<div class="row" v-show="isLoading">
				<mami-loading-inline></mami-loading-inline>
			</div>
			<div v-show="!isLoading">
				<div class="row">
					<div class="col-md-12" v-if="listBooking.total == 0">
						<div class="list-empty-wrapper">
							<img
								class="icon-empty"
								v-lazy="'/general/img/icons/ic_empty.svg'"
							/>
							<p>
								Kamu belum booking kost nih, yuk mulai booking kosan yang kamu
								inginkan
							</p>
							<a href="/cari" class="btn btn-primary">Cari kost</a>
						</div>
					</div>
					<div
						class="col-md-12"
						v-for="(data, index) in listBooking.data"
						:key="index"
						v-else
					>
						<a class="link-booking" :href="`/booking-detail/?id=${data._id}`">
							<div class="booking-wrapper-list">
								<div
									class="kost-image"
									v-lazy:background-image="data.room.photo.medium"
								></div>
								<div class="booking-detail">
									<h1>{{ data.room.name }}</h1>
									<booking-time
										:duration="data.duration_string"
										:checkin="data.checkin_date"
										:checkout="data.checkout_date"
									></booking-time>
									<booking-status
										:detail="data.payment_status"
										:status="data.status"
										:id="data._id"
									></booking-status>
								</div>
								<booking-list-menu
									:status="data.status"
									:id="data._id"
									:link="data.room.url"
								></booking-list-menu>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row" v-if="listBooking.total != 0">
				<div class="col-md-12 pagination-section">
					<paginate
						v-if="paginationShow"
						:page-count="totalPage"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';
import BookingListMenu from './booking/BookingListMenu';
import BookingStatus from './booking/BookingStatus';
import BookingTime from './booking/BookingTime';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');

export default {
	components: {
		paginate,
		MamiLoadingInline,
		BookingListMenu,
		BookingStatus,
		BookingTime
	},

	data() {
		return {
			listBooking: {},
			bookingPagination: {
				total: 0,
				limit: 0,
				offset: 0,
				page: 1
			},
			paginationShow: false,
			isLoading: true
		};
	},

	computed: {
		authData() {
			return this.$store.state.authData;
		},
		totalPage() {
			let total = Math.ceil(
				this.bookingPagination.total / this.bookingPagination.limit
			);

			return Number(total);
		}
	},

	mounted() {
		this.getBookingList();
	},

	methods: {
		getBookingList() {
			this.isLoading = true;
			axios
				.get(`/user/booking?page=${this.bookingPagination.page}`)
				.then(response => {
					if (response.data.status) {
						this.listBooking = response.data.data;

						this.bookingPagination.total = this.listBooking.total;
						this.bookingPagination.limit = this.listBooking.per_page;

						this.openTenantBookingChat();

						this.isLoading = false;
						this.closeSwalLoading();

						this.moengageEventTrack(this.listBooking.data);
						if (this.bookingPagination.total <= this.bookingPagination.limit) {
							this.paginationShow = false;
						} else {
							this.paginationShow = true;
						}
					} else {
						this.swalError(null, response.data.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		openTenantBookingChat() {
			if (typeof Cookies.get('mami-tenant-booking-chat') != 'undefined') {
				const chatData = Cookies.getJSON('mami-tenant-booking-chat');

				sbWidget.showChannel(chatData.group_channel_url);

				Cookies.remove('mami-tenant-booking-chat');
			}
		},

		goDetail(id) {
			window.location.href = '/booking-detail/?id=' + id;
		},

		pageChanged(page) {
			this.bookingPagination.page = page;
			this.getBookingList();
		},

		moengageEventTrack(items) {
			for (let item of items) {
				tracker('moe', [
					'[User] Visit List Booking',
					{
						user_id: this.authData.all.id,
						booking_status: item.status,
						payment_status: item.payment_status,
						booking_duration: item.duration_string,
						booking_start_time: item.checkin_date_formatted,
						booking_end_time: item.checkout_date_formatted,
						booking_id: item.booking_code,
						property_rent_type: item.rent_count_type,
						property_name: item.room.name,
						property_city: item.room.address,
						property_photo_medium: item.room.photo.medium,
						property_url: item.room.url,
						total_property_count: this.listBooking.total
					}
				]);
			}
		}
	}
};
</script>

<style lang="scss">
.pagination > li > a,
.pagination > li > span {
	color: #1baa56;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #ccc !important;
}
</style>

<style lang="scss" scoped>
a.link-booking {
	max-width: 100%;
	&:hover {
		text-decoration: none;
	}
}

img.not-found {
	margin: 0 auto;
	display: block;
}

p {
	margin: 0 auto;
	text-align: center;
	margin-top: 2.8571rem;
	margin-bottom: 2.8571rem;
	color: #3b445b;
	max-width: 26.7143em;
}

a {
	margin: 0 auto;
	display: block;
	max-width: 22.8571em;
}

.booking-wrapper-list {
	display: flex;
	height: fit-content;
	overflow: hidden;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 0.4em;
	margin-bottom: 3rem;

	&:hover {
		cursor: pointer;
	}

	@media (min-width: 768px) {
		box-shadow: none;
		height: 11em;
		border-bottom: 1px solid #e4e4e4;
		border-radius: 0em;
		margin-bottom: 2rem;
	}

	.kost-image {
		min-width: 8.5em;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-right: 1em;
		@media (min-width: 768px) {
			border-radius: 0.4em;
			height: 9em;
		}
	}
	.booking-detail {
		overflow: hidden;
		width: 100%;
		padding-bottom: 2rem;
		> h1 {
			font-size: 1em;
			color: #3b445b;
			font-weight: 600;
			margin: 0;
			margin-top: 1.2em;
			/* display: inline-block; */
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			max-width: fit-content;
			@media (min-width: 768px) {
				font-size: 1.1em;
				margin-top: 0.2em;
			}
		}
	}
}

img.image-setting {
	width: 1.3em;
	position: relative;
	left: 0.5em;
	top: 0.4em;
	@media (min-width: 768px) {
		top: 0em;
	}
}

.list-empty-wrapper {
	padding: 1.1rem 0rem;
	.icon-empty {
		display: block;
		margin: 0 auto;
	}
}

.pagination-center {
	width: fit-content;
	margin: 0 auto;
}

.pagination-section {
	display: flex;
	justify-content: center;
}
</style>
