<template>
	<div class="wrapper-widget">
		<img
			class="logo-mamipay"
			v-lazy="'/general/img/logo/mamipay-logo-full.png'"
		/>

		<a href="#">
			<span class="activation">Coming Soon</span>
		</a>

		<!-- <a @click="validate" v-if="!isTenant">
			<span class="activation">Aktivasi</span>
		</a>
		<router-link to="/riwayat-transaksi" v-else>
			<span class="user-balance"
				>Rp. {{ formatPrice(userSaldo) }}
				<img class="icon-left" v-lazy="'/general/img/icons/ic_down_s.svg'" />
			</span>
		</router-link> -->
	</div>
</template>

<script>
export default {
	computed: {
		userSaldo() {
			return this.$store.state.userBalance;
		},
		isTenant() {
			return this.$store.state.userProfile.is_tenant;
		},
		isVerifyPhone() {
			return this.$store.state.userProfile.is_verify_phone_number;
		},
		isVerifyEmail() {
			return this.$store.state.userProfile.is_verify_email;
		}
	},

	mounted() {
		// this.$store.dispatch('getSaldo');
	},

	methods: {
		formatPrice(value) {
			let val = (value / 1).toFixed(0).replace('.', ',');
			return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
		},
		validateSuccessAction() {
			this.$router.push('/verifikasi-akun');
		},
		validate() {
			if (this.isVerifyPhone && this.isVerifyEmail) {
				this.$router.push('/aktivasi-mamipay');
			} else {
				this.swalError(
					null,
					'Verifikasi Nomor Handphone dan Email terlebih dahulu.'
				);
			}
		}
	}
};
</script>
<style lang="scss" scoped>
.wrapper-widget {
	display: flex;
	justify-content: space-between;
	margin-top: 2.3571rem;
	height: 1.5em;
	@media (min-width: 768px) {
		max-width: 18.5em;
	}
	img.logo-mamipay {
		width: 7.4286em;
		height: 1.2857em;
	}

	img.icon-left {
		transform: rotate(-90deg);
		position: relative;
		top: -0.0714em;
	}

	.user-balance {
		color: #2e2d39;
		font-weight: 800;
		font-size: 1.1em;
		position: relative;
		top: -0.2143em;
	}

	.activation {
		color: #f95516;
		font-weight: 600;
		font-size: 1.1em;
		position: relative;
		top: -0.2143em;
	}
}
</style>
