<template>
	<div id="user-profile-settings" class="row content user-profile-settings">
		<alert
			v-model="showAlert"
			:placement="navigator.isMobile ? 'bottom' : 'top'"
			width="300px"
			:class="{ '--mobile': navigator.isMobile }"
			class="user-profile-settings__alert"
		>
			<span>{{ alertMessage }}</span>
			<span
				class="pull-right user-profile-settings__alert-close-button"
				@click="closeAlert"
			>
				&#x2715;
			</span>
		</alert>
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Pengaturan</h1>
			<div class="user-profile-settings__setting-item">
				<div class="row">
					<div class="col-xs-6">
						<div class="align-middle user-profile-settings__setting-name">
							Ubah Password
						</div>
					</div>
					<div class="col-xs-6">
						<a
							v-if="!settingContentActive"
							type="button"
							class="btn btn-success pull-right user-profile-settings__setting-button"
							data-path="tgl_settingContent"
							@click="toggleSettingContent"
						>
							Ubah
						</a>
					</div>
				</div>
				<div class="user-profile-settings__setting-content">
					<user-settings-password-change
						v-if="settingContentActive"
						@finishSetting="finishSetting"
					></user-settings-password-change>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { alert } from 'vue-strap';
import UserSettingsPasswordChange from './user-profile-settings/UserSettingsPasswordChange';

export default {
	name: 'UserProfileSettings',
	components: {
		alert,
		UserSettingsPasswordChange
	},
	data() {
		return {
			settingContentActive: false,
			showAlert: false,
			alertMessage: null
		};
	},
	methods: {
		toggleSettingContent() {
			this.settingContentActive = true;
		},
		finishSetting(message) {
			this.settingContentActive = false;
			this.showAlert = true;
			this.alertMessage = message;
		},
		closeAlert() {
			this.showAlert = false;
			this.alertMessage = null;
		}
	}
};
</script>

<style lang="scss" scoped>
.user-profile-settings {
	position: relative;

	&__setting-item {
		padding-bottom: 8px;
		border-bottom: 1px solid #f4f4f4;
	}

	&__setting-name {
		margin: 5px 0;
		font-size: 16px;
		font-weight: bold;
	}

	&__setting-button {
		width: 140px;
	}

	&__setting-content {
		margin-top: 24px;
	}

	&__alert {
		margin-top: 30px;
		color: #fff;
		background: #383746;
		box-shadow: 0 10px 39px -21px #383746;

		&-close-button {
			cursor: pointer;
		}

		&.--mobile {
			position: fixed;
			top: 82%;
			right: 0;
			left: 0;
			z-index: 1;
			margin-right: auto;
			margin-left: auto;
		}
	}
}
</style>
