<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Email and Phone</h1>

			<div class="verification-desc">
				<span class="text-primary">Mengapa Verifikasi Penting?</span>
				<span
					>Verifikasi bisa mencegah akun kamu diretas oleh orang lain, Karena
					untuk mengakses akun tetap membutuhkan kode verifikasi yang hanya
					diketahui oleh Anda.</span
				>
			</div>

			<verification-email></verification-email>

			<verification-phone></verification-phone>
		</div>

		<div class="col-xs-12 form-wrapper">
			<h1 class="title">Verifikasi Identitas</h1>

			<verification-form></verification-form>
		</div>

		<!-- <div class="col-xs-12 form-wrapper">
			<h1 class="title">Linked Account</h1>
			<verification-facebook></verification-facebook>
			<verification-google></verification-google>
		</div> -->
	</div>
</template>

<script>
import VerificationEmail from './verification-account/VerificationEmail';
import VerificationPhone from './verification-account/VerificationPhone';
import VerificationFacebook from './verification-account/VerificationFacebook';
import VerificationGoogle from './verification-account/VerificationGoogle';
import VerificationForm from './verification-identity/VerificationForm';

export default {
	components: {
		VerificationEmail,
		VerificationPhone,
		VerificationFacebook,
		VerificationGoogle,
		VerificationForm
	},

	mounted() {
		this.$store.commit('setMenu', 'user-menu');
	}
};
</script>

<style lang="scss" scoped>
.verification-desc {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}
</style>
