<template>
	<div class="row content">
		<div class="col-xs-12 form-wrapper user-kost-wrapper">
			<h1 v-if="!isClaimDetail" class="title">Kos Saya</h1>

			<div class="clearfix"></div>

			<div v-if="isLoading">
				<mami-loading-inline></mami-loading-inline>
			</div>

			<div v-if="isUserKostEmpty && !isLoading">
				<user-kost-empty></user-kost-empty>
			</div>

			<div
				v-else-if="!isEmpty && !isClaimDetail && !isLoading"
				class="user-kost-content"
			>
				<user-kost-header
					:review-data="lastReview"
					:tenant-review="tenantReview"
				/>

				<div class="kost-data-content">
					<div class="content-tab">
						<div
							class="tab-pills"
							:class="{ '--active text-primary': isClaim }"
							@click="toggleClaim"
						>
							<span>Tagihan</span>
						</div>

						<div
							class="tab-pills"
							:class="{ '--active text-primary': isContract }"
							@click="toggleContract"
						>
							<span>Kontrak</span>
						</div>
					</div>

					<mami-info
						v-if="
							isClaim &&
								(getStatusRent.status === 'waiting' ||
									getStatusRent.status === 'rejected')
						"
						class="bill-alert"
						:variant="getStatusRent.status === 'waiting' ? 'info' : 'error'"
						is-rounded
					>
						{{ getStatusRent.message }}
					</mami-info>

					<div
						v-else-if="isClaim && getStatusRent.status === 'confirmed'"
						class="bill-alert bill-alert-action"
					>
						<mami-info variant="info" is-rounded>
							Pemilik kos telah mengakhiri kontrak sewa kamu. Mohon hubungi
							pemilik untuk info lebih lanjut
						</mami-info>
						<button
							class="btn alert-action-button"
							type="button"
							@click="openChatToOwner"
						>
							<span>Hubungi Pemilik</span>
							<icon-chat class="alert-action-button__icon" />
						</button>
					</div>

					<mami-info
						v-if="contractAlert"
						class="bill-alert"
						variant="info"
						alignment="top"
						is-rounded
					>
						Dengan melakukan pembayaran, maka otomatis kontrak sewa akan
						diperpanjang. Jika kamu tidak ingin meneruskan, silakan klik
						Berhenti Sewa.
					</mami-info>

					<div class="content-pane">
						<div v-if="isContract">
							<user-kost-contract :is-reviewed="isReviewed" />
						</div>

						<div v-if="isClaim">
							<user-kost-claim @open="getDetailClaim"></user-kost-claim>
						</div>

						<div
							v-if="isDownPayment && isSettlement && !hasCheckedIn"
							class="wrapper-checkin-button"
						>
							<button
								type="button"
								class="btn btn-primary"
								@click="actionCheckin"
							>
								Check-in Kos
							</button>
						</div>
					</div>
				</div>
			</div>

			<div v-else-if="!isEmpty && isClaimDetail">
				<user-kost-claim-detail
					:claim-index="claimDataIndex"
					:claim-data="claimData"
					:claim-detail="claimDetail"
					@back="closeDetailClaim"
				></user-kost-claim-detail>
			</div>
		</div>

		<div v-if="!isEmpty && isClaimDetail" class="col-xs-12 form-wrapper">
			<user-kost-claim-detail-bill
				:claim-index="claimDataIndex"
				:claim-data="claimData"
				:claim-detail="claimDetail"
			></user-kost-claim-detail-bill>
		</div>

		<user-kost-modal-stop-rent
			:edit-data="lastReview"
		></user-kost-modal-stop-rent>

		<booking-action-modal :show-modal.sync="isModalSettlementConfirm">
			<span slot="textHeader">Kamu belum bayar pelunasan sewa</span>
			<span slot="textDescription"
				>Mohon bayar pelunasan sewa sebelum melakukan Check-in Kos. Setelah
				pelunasan di bayar kamu baru bisa melakukan Check-in untuk menempati
				kamar
			</span>
			<div slot="button">
				<button
					class="btn btn-primary --is-custom-btn"
					@click="goSettlementInvoice"
				>
					Bayar Pelunasan Sekarang
				</button>
			</div>
		</booking-action-modal>

		<booking-action-modal :show-modal.sync="isModalNotTimeCheckin">
			<span slot="textHeader"
				>Maaf kamu belum bisa melakukan Check-in saat ini</span
			>
			<span slot="textDescription"
				>Check-in kos hanya bisa di lakukan pada Tanggal Masuk (
				{{ checkInDateFormatted }} )</span
			>
			<div slot="button">
				<button class="btn btn-primary --is-custom-btn" @click="goCheckin">
					Saya Mengerti
				</button>
			</div>
		</booking-action-modal>

		<booking-action-modal :show-modal.sync="isModalAcceptCheckin">
			<span slot="textHeader"
				>Sekali lagi, Pastikan kamu sudah berada di {{ roomName }}</span
			>
			<span slot="textDescription"
				>Setelah kamu menekan tombol “Check-in” pembayaran sewa yang sudah di
				bayar tidak bisa di kembalikan</span
			>
			<div slot="button">
				<button
					class="btn btn-primary --is-custom-btn"
					:disabled="isDisabledCheckinButton"
					@click="goCheckin"
				>
					Check-in
				</button>
			</div>
		</booking-action-modal>

		<booking-basic-modal
			:close-redirect-url="'/user/booking'"
			:show-modal.sync="isModalSuccessCheckin"
		>
			<div class="row">
				<div class="col-xs-12 col-md-6 wrapper-success-checkin">
					<img
						src="/general/img/pictures/img_booking_list_card_success_checkin.svg"
						alt="ic_sucess_checkin"
					/>
				</div>

				<div class="col-xs-12 col-md-6 wrapper-success-checkin">
					<h1>Kamu telah berhasil melakukan Check-in di {{ roomName }}</h1>
					<p>
						Check-in telah dilakukan pada <br />
						<b>{{ todayDate }}</b> di jam
						<b>{{ todayTime }}</b>
					</p>
					<button
						type="button"
						class="btn btn-primary hidden-sm hidden-xs"
						@click="goToMyKost"
					>
						Selesai & ke Kos Saya
					</button>
				</div>
			</div>

			<div slot="footer" class="footer-buttons one-button">
				<button
					type="button"
					class="btn btn-primary hidden-md hidden-lg"
					@click="goToMyKost"
				>
					Selesai & ke Kos Saya
				</button>
			</div>
		</booking-basic-modal>
	</div>
</template>

<script>
import _find from 'lodash/find';
import _get from 'lodash/get';

import UserKostClaim from './user-kost/UserKostClaim';
import UserKostClaimDetail from './user-kost/UserKostClaimDetail';
import UserKostClaimDetailBill from './user-kost/UserKostClaimDetailBill';
import UserKostContract from './user-kost/UserKostContract';
import UserKostHeader from './user-kost/UserKostHeader';
import UserKostEmpty from './user-kost/UserKostEmpty';
import UserKostModalStopRent from './user-kost/UserKostModalStopRent';
import BookingActionModal from './booking/history/BookingActionModal';
import BookingBasicModal from './booking/history/BookingBasicModal';

import IconChat from 'Js/@icons/Chat';

import mixinUserKost from '../mixins/mixinUserKost';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

const MamiLoadingInline = () => import('Js/@components/MamiLoadingInline');
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		MamiLoadingInline,
		UserKostClaim,
		UserKostClaimDetail,
		UserKostClaimDetailBill,
		UserKostContract,
		UserKostHeader,
		UserKostEmpty,
		UserKostModalStopRent,
		BookingActionModal,
		BookingBasicModal,
		MamiInfo,
		IconChat
	},
	mixins: [mixinUserKost, mixinGetQueryString],

	data() {
		return {
			isContract: true,
			isClaim: false,
			isClaimDetail: false,
			isEmpty: false,
			isLoading: true,
			claimDataIndex: '',
			claimData: {},
			claimDetail: {},
			tenantReview: {
				reviewStatus: 'empty'
			},
			lastReview: {},
			numberActiveInvoice: 0,
			isModalSettlementConfirm: false,
			isModalNotTimeCheckin: false,
			isModalSuccessCheckin: false,
			isModalAcceptCheckin: false,
			isDisabledCheckinButton: false,
			redirectionSource: 'user profile',
			previousPath: '',
			kostSayaData: null
		};
	},
	computed: {
		authData() {
			return this.$store.state.authData.all;
		},
		rentCountType() {
			return this.$store.state.userKost.booking_data.rent_count_type;
		},
		userKost() {
			return this.$store.state.userKost;
		},
		roomId() {
			return _get(this.userKost.room_data, '_id', null);
		},
		roomName() {
			return _get(this.userKost.room_data, 'name', '-');
		},
		checkinDate() {
			return _get(this.userKost.booking_data, 'checkin', null);
		},
		hasCheckedIn() {
			return _get(this.userKost.booking_data, 'has_checked_in', false);
		},
		isDownPayment() {
			return (
				_get(this.userKost, 'invoice[0].invoice_number', '').substring(0, 2) ===
				'DP'
			);
		},
		bookingIdCheckin() {
			return _get(this.userKost.booking_data, 'booking_code', '-');
		},
		isSettlement() {
			return (
				_get(this.userKost, 'invoice[1].invoice_number', '-').substring(
					0,
					2
				) === 'ST'
			);
		},
		isSettlementPaid() {
			const isInvoiceSettlement =
				_get(this.userKost, 'invoice[1].invoice_number', '-').substring(
					0,
					2
				) === 'ST';
			const invoiceStatus = _get(this.userKost, 'invoice[1].status');
			const isInvoicePaid =
				invoiceStatus === 'paid' ||
				invoiceStatus === 'paid_late' ||
				invoiceStatus === 'verified';

			return isInvoiceSettlement && isInvoicePaid;
		},
		urlInvoiceSettlement() {
			return this.userKost.invoice[1].shortlink;
		},
		checkingMustPayBill(dueDateBill) {
			const nowDate = this.$dayjs();
			const dueDate = this.$dayjs(dueDateBill);
			const distanceDayResult = nowDate.diff(dueDate, 'day');
			return distanceDayResult > 0;
		},
		checkoutDateRent() {
			return this.getStatusRent.checkout_date
				? this.$dayjs(this.getStatusRent.checkout_date).format(
						'dddd, D MMMM YYYY'
				  )
				: '';
		},
		contractAlert() {
			return (
				this.isContract &&
				this.rentCountType !== 'weekly' &&
				!this.getStatusRent.status &&
				this.userKost.booking_data.status === 'verified' &&
				this.numberActiveInvoice !== 0
			);
		},
		isUserKostEmpty() {
			return (this.isEmpty && !this.isLoading) || !this.hasCheckedIn;
		},
		checkInDateFormatted() {
			return this.$dayjs(this.checkinDate).format('dddd, D MMMM YYYY');
		},
		todayDate() {
			return this.$dayjs().format('dddd, D MMMM YYYY');
		},
		todayTime() {
			return this.$dayjs().format('HH:mm');
		},
		activeTabLabel() {
			if (this.isContract) {
				return 'kontrak';
			} else if (this.isClaim) {
				return 'tagihan';
			}
			return '';
		},
		isReviewed() {
			return (
				_get(this.userKost, 'room_data.available_rating', false) &&
				['live', 'waiting'].includes(
					_get(this.tenantReview, 'reviewStatus', '')
				)
			);
		}
	},

	watch: {
		activeTabLabel(label) {
			if (!!this.kostSayaData && !!label) {
				this.trackKostSayaVisited(this.kostSayaData);
			}
		}
	},

	beforeRouteEnter(to, from, next) {
		if (
			from.path === '/booking' &&
			_get(to, 'query.from', '') === 'booking_history'
		) {
			next(vm => {
				vm.redirectionSource = 'riwayat booking';
			});
		}

		next();
	},

	created() {
		this.getUserKost();
		this.setRedirectionSource();
		this.$store.commit('setMenu', 'user-menu');
	},

	methods: {
		setRedirectionSource() {
			const { referrer } = window.document;
			if (referrer) {
				if (
					(referrer.includes('/user/kost-saya') ||
						referrer.includes('/user/booking')) &&
					this.getQueryString('from') === 'checkin'
				) {
					this.redirectionSource = 'check in';
				}
			}
		},
		checkQueryString(referrer, path, value) {
			return referrer.includes(path) && this.getQueryString('from') === value;
		},
		isCheckinTime(checkinDate) {
			const nowDate = this.$dayjs();
			const dueDate = this.$dayjs(checkinDate).format('YYYY-MM-DD');
			const isSameDate = nowDate.isSame(dueDate, 'day');
			const isAfterDate = nowDate.isAfter(dueDate, 'day');
			return isSameDate || isAfterDate;
		},
		actionCheckin() {
			if (!this.isCheckinTime(this.checkinDate) && this.isSettlementPaid) {
				this.isModalNotTimeCheckin = true;
			} else if (!this.isSettlementPaid) {
				this.isModalSettlementConfirm = true;
			} else {
				this.isModalAcceptCheckin = true;
			}
		},
		goSettlementInvoice() {
			this.isModalSettlementConfirm = false;
			window.open(this.urlInvoiceSettlement);
		},
		goToMyKost() {
			window.open('/user/kost-saya?from=checkin', '_self');
		},

		goCheckin() {
			const data = {
				booking_code: this.bookingIdCheckin
			};

			data.booking_code !== '' && this.goCheckinProccess(data);
		},

		goCheckinProccess(data) {
			this.isDisabledCheckinButton = true;
			axios
				.post(`/user/booking/check-in`, data, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					const responseData = response.data;
					if (responseData.status) {
						this.isModalAcceptCheckin = false;
						this.isModalSuccessCheckin = true;
						this.isDisabledCheckinButton = false;
					} else {
						const errorMessage = responseData.meta.message;
						this.swalError(null, errorMessage);
					}
					this.isDisabledCheckinButton = false;
				})
				.catch(error => {
					this.isDisabledCheckinButton = false;
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},

		checkingActiveInvoice() {
			axios
				.get(
					`/user/booking/invoice/filter/${this.userKost.contract_id}?nearest=true`,
					{
						baseURL: '/user/mamipay/request'
					}
				)
				.then(response => {
					const dataResponse = response.data;
					if (dataResponse.status) {
						this.numberActiveInvoice = dataResponse.schedules.length;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat ini. Silakan coba lagi.');
				});
		},
		openChatToOwner() {
			try {
				document.querySelector('#sb_widget .widget').click();
			} catch (e) {
				console.error(e);
			}
		},
		isMyReview(reviewData) {
			return _find(reviewData, review => {
				return review.is_me;
			});
		},
		getReviewData() {
			axios
				.get(`/stories/review/${this.roomId}`)
				.then(response => {
					if (
						response.data.review !== null &&
						response.data.review.length !== 0
					) {
						const lastData = this.isMyReview(response.data.review);
						if (lastData) {
							this.lastReview.clean = lastData.clean;
							this.lastReview.safe = lastData.safe;
							this.lastReview.happy = lastData.happy;
							this.lastReview.room_facilities = lastData.room_facilities;
							this.lastReview.public_facilities = lastData.public_facilities;
							this.lastReview.pricing = lastData.pricing;
							this.lastReview.share_word = lastData.content;
							this.lastReview.is_anonim = lastData.is_anonim;
							this.lastReview.photo = lastData.photo;

							this.tenantReview = {
								reviewStatus: lastData.status,
								reviewScore: parseFloat(lastData.rating).toFixed(1),
								reviewContent: lastData.content
							};

							this.$store.commit('setReviewData', {
								lastReview: this.lastReview,
								tenantReview: this.tenantReview
							});
						}
					}
					this.isLoading = false;
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
				});
		},
		getUserKost() {
			this.kostSayaData = null;
			this.isLoading = true;
			axios
				.get('/user/booking/room')
				.then(response => {
					if (response.data.status) {
						this.isEmpty = false;
						this.$store.commit('setUserKost', response.data.data);
						this.getStatusRentTenant();
						this.getReviewData();
						this.checkingActiveInvoice();
						const responseData = _get(response, 'data.data', null);
						if (responseData) {
							this.kostSayaData = responseData;
							this.trackKostSayaVisited(responseData);
						}
					} else {
						this.isLoading = false;
						this.isEmpty = true;
					}
				})
				.catch(error => {
					this.isLoading = false;
					this.isEmpty = true;
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		toggleContract() {
			this.isContract = true;
			this.isClaim = false;
		},
		toggleClaim() {
			this.isClaim = true;
			this.isContract = false;
		},
		closeDetailClaim() {
			this.isClaimDetail = false;
		},
		getDetailClaim({ data, index }) {
			axios
				.get(`/payment-schedule/detail/${data.id}`, {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					if (response.data.status) {
						this.claimDataIndex = index;
						this.claimData = data;
						this.claimDetail = response.data.data;
						this.isClaimDetail = true;
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		propertyRentType(rentCountType) {
			const rentCountLabel = {
				daily: 'Harian',
				monthly: 'Bulanan',
				weekly: 'Mingguan',
				quarterly: '3 Bulanan',
				semiannually: '6 Bulanan',
				yearly: 'Tahunan'
			};

			return rentCountLabel[rentCountType] || '';
		},
		dateTrackerValue(dateValue) {
			if (!!dateValue && this.$dayjs(dateValue).isValid()) {
				return new Date(dateValue);
			}
			return null;
		},
		trackKostSayaVisited(trackerData) {
			const { booking_data: bookingData, room_data: roomData } = trackerData;

			tracker('moe', [
				'[User] Kost Saya Visited',
				{
					booking_status: _get(bookingData, 'status', ''),
					payment_status: _get(bookingData, 'payment_status', ''),
					booking_periode: _get(bookingData, 'duration', ''),
					booking_checkin_time: this.dateTrackerValue(
						_get(bookingData, 'checkin', '')
					),
					property_rent_type: this.propertyRentType(
						_get(bookingData, 'rent_count_type')
					),
					booking_id: _get(bookingData, 'booking_code', ''),
					tenant_name: _get(this.authData, 'name', ''),
					request_date: this.dateTrackerValue(
						_get(bookingData, 'request_date.date', '')
					),
					property_name: _get(roomData, 'name', ''),
					property_city: _get(roomData, 'area_city', ''),
					redirection_source: this.redirectionSource,
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					active_tab: this.activeTabLabel
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.user-kost-wrapper {
	.wrapper-link-stop-contract {
		margin-top: 24px 0;

		.link-stop-contract {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 48px;
			box-sizing: border-box;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #404040;
			background: #fff;
			border: 1px solid #e8e8e8;
			border-radius: 4px;

			&:hover {
				color: #949494;
				text-decoration: none;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.user-kost-wrapper {
	.user-kost-content {
		padding: 0 17px;

		@media (max-width: 767px) {
			padding: 0;
		}
	}
}

.kost-data-content {
	margin-top: 2.5rem;

	.bill-alert {
		margin-top: 24px;
	}

	.bill-alert-action {
		display: flex;
		align-items: center;

		.alert-action-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;
			margin-left: 16px;
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			color: #404040;
			background-color: transparent;
			border: 0;

			&__icon {
				width: 16px;
				min-width: 16px;
				margin-left: 8px;
			}

			&:hover {
				color: #757575;
			}

			&:active {
				color: #303030;
				box-shadow: none;
			}
		}

		@media (max-width: 767px) {
			flex-direction: column;

			.alert-action-button {
				margin-top: 16px;
				margin-left: 0;
			}
		}
	}

	.content-tab {
		display: flex;

		.tab-pills {
			position: relative;
			padding: 10px 0;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #757575;
			cursor: pointer;

			&:not(:first-of-type) {
				margin-left: 16px;
			}

			&.--active {
				color: #303030;
			}

			&.--active::after {
				position: absolute;
				bottom: -2px;
				display: block;
				width: 100%;
				height: 2px;
				font-weight: bold;
				content: '';
				background-color: #1baa56;
				border-radius: 4px 4px 0 0;
			}
		}
	}

	.wrapper-checkin-button {
		position: sticky;
		border-top: 1px solid #dddddd;
		padding-top: 2rem;
		background-color: #fff;
		bottom: 0;
		padding-bottom: 2rem;
		margin-left: -1.5rem;
		width: calc(100% + 30px);
		.btn {
			max-width: 453px;
			height: 40px;
			margin: 0 auto;
			display: block;
			min-width: 68%;
		}
	}
}
</style>
