<template>
	<div class="user-review-card">
		<div v-if="rating" class="user-review-card--reviewed">
			<div>
				<div class="user-review-card__description">
					Kamu memberikan nilai:
					<span class="user-review-card__rating">{{ rating }}</span>
					<icon-star-outline class="user-review-card__icon--small" />
				</div>
			</div>
			<button
				class="btn btn-flat"
				type="button"
				@click="toggleReviewModal(true)"
			>
				Ubah
			</button>
		</div>
		<div
			v-else
			class="user-review-card--empty"
			@click="toggleReviewModal(true)"
		>
			<div>
				<div class="user-review-card__title">
					Bagaimana rasanya ngekos di sini?
				</div>
				<div class="user-review-card__description">
					Menyenangkan? Atau, ada yang perlu ditingkatkan? Yuk, berikan
					penilaianmu!
				</div>
			</div>
			<icon-star-outline class="user-review-card__icon" />
		</div>
		<transition name="fade">
			<user-kost-review-add
				v-if="isAddReview"
				class="user-review-card__modal"
				:kost-id="roomId"
				:edit-data="reviewData"
				:detail="roomData"
				:redirection-source="redirectionSource"
				@close="toggleReviewModal(false)"
			></user-kost-review-add>
		</transition>
	</div>
</template>

<script>
import IconStarOutline from 'Js/@icons/StarOutline';
import UserKostReviewAdd from './user-kost/UserKostReviewAdd';

export default {
	components: {
		IconStarOutline,
		UserKostReviewAdd
	},
	props: {
		roomId: {
			type: Number,
			required: true
		},
		rating: {
			type: [String, Number],
			default: ''
		},
		roomData: {
			type: Object,
			required: true
		},
		reviewData: {
			type: Object,
			default: () => {}
		},
		redirectionSource: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isAddReview: false
		};
	},
	methods: {
		toggleReviewModal(isShow) {
			this.isAddReview = isShow;
			document.body.style.overflow = isShow ? 'hidden' : 'auto';
		}
	}
};
</script>

<style lang="scss">
.user-review-card {
	.user-review-card__modal {
		font-size: 14px;
		line-height: 1.75;
	}
}
</style>

<style lang="scss" scoped>
.user-review-card {
	padding: 16px;
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 4px;

	&--empty,
	&--reviewed {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		line-height: 20px;
	}

	&--empty {
		cursor: pointer;
	}

	&__icon {
		width: 24px;
		min-width: 24px;
		height: 24px;
		margin-left: 18px;
		color: #757575;

		&--small {
			width: 16px;
			min-width: 16px;
			height: 16px;
			margin-bottom: -2px;
			margin-left: 0;
			color: #404040;
		}
	}

	&__rating {
		margin-right: 4px;
		margin-left: 4px;
	}

	&__title {
		margin-bottom: 5px;
		font-weight: bold;
		color: #1baa56;
	}

	.btn-flat {
		padding: 0;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		color: #1baa56;
		background-color: transparent;
		border: 0;

		&:hover {
			color: #6ecf91;
		}

		&:active {
			color: #008742;
			outline: none;
			box-shadow: none;
		}
	}
}
</style>
