<template>
	<ul class="user-booking-tabs">
		<li
			v-for="(tab, i) in tabs"
			:key="i"
			class="user-booking-tabs-item"
			:class="tabClass(tab)"
		>
			<a
				class="tab-item-link"
				href="#"
				@click.prevent="setActive(selectedValue ? tab[selectedValue] : i)"
			>
				{{ tab[tabLabel] }}
			</a>
		</li>
	</ul>
</template>

<script>
export default {
	model: {
		prop: 'value',
		event: 'change'
	},
	props: {
		tabs: {
			type: Array,
			required: true
		},
		value: {
			type: [Number, String],
			required: true
		},
		selectedValue: {
			type: [Number, String],
			default: 0
		},
		tabLabel: {
			type: String,
			default: ''
		},
		redDot: {
			type: String,
			default: ''
		}
	},
	computed: {
		tabClass() {
			return function(tab) {
				return {
					'--active': this.value === tab[this.selectedValue],
					'--red-dot': this.redDot ? tab[this.redDot] : false
				};
			};
		}
	},
	watch: {
		value(value) {
			this.setActive(value);
		}
	},
	methods: {
		setActive(activeValue) {
			this.$emit('change', activeValue);
		}
	}
};
</script>

<style lang="scss" scoped>
$green: #1baa56;
$green-hover: #6ecf91;
$green-focus: #008742;
$red: #fe522a;

.user-booking-tabs {
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	border-bottom: 2px solid #ddd;
}

.user-booking-tabs-item {
	position: relative;
	display: block;
	float: left;
	margin-bottom: -2px;
}

.tab-item-link {
	position: relative;
	display: block;
	padding: 14px 36px;
	color: #9e9e9e;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.--red-dot .tab-item-link::after {
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 8px;
	content: '';
	background-color: $red;
	border-radius: 50%;
}

.--active {
	border-bottom: 2px solid $green;

	.tab-item-link {
		font-weight: bold;
		color: $green;
	}
}

li:hover {
	border-bottom: 2px solid $green-hover;

	.tab-item-link {
		color: $green-hover;
		font-weight: bold;
	}
}

li.--active:hover {
	border-bottom: 2px solid $green-focus;

	.tab-item-link {
		color: $green-focus;
		font-weight: bold;
	}
}

@media (max-width: 767px) {
	.user-booking-tabs {
		position: sticky;
		top: 54px;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		background-color: #fff;
	}

	.user-booking-tabs-item {
		flex-grow: 1;
	}

	.tab-item-link {
		padding: 14px 0;
	}
}
</style>
