<template>
	<div class="detail-profil-wrap d-flex col-xs-12">
		<div v-lazy:background-image="userPhoto" class="image-user col-xs-6"></div>

		<div class="profil col-xs-6">
			<h1>{{ userName }}</h1>

			<p v-if="verifyPhoneNumber">
				{{ userPhone }}
				<img
					v-lazy="`/general/img/icons/ic_verified_green_s.png`"
					class="icon-verif"
				/>
			</p>

			<router-link to="/edit-profil" class="btn btn-success custom-size"
				>Edit Profil</router-link
			>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';

export default {
	computed: {
		photoMedium() {
			return _get(this.$store.state, 'userProfile.photo.medium', null);
		},
		verifyPhoneNumber() {
			return this.$store.state.userProfile.is_verify_phone_number;
		},
		userPhone() {
			return this.$store.state.userProfile.phone;
		},
		userName() {
			const userName = this.$store.state.userProfile.name;

			if (userName.split(' ')[0].length > 19) {
				return userName.substring(0, 19).concat('...');
			}

			return userName;
		},
		userPhoto() {
			return {
				src: this.photoMedium,
				loading: '/general/img/pictures/default-user-image.png',
				error: '/general/img/pictures/default-user-image.png'
			};
		}
	}
};
</script>

<style lang="scss" scoped>
.image-user {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	position: relative;
	top: 0em;
	margin-right: 1em;
}

.profil {
	h1 {
		color: #484848;
		font-size: 1.3em;
		font-weight: bold;
		margin: 0;
		margin-top: 1rem;
		margin-bottom: 0.2rem;
	}
	p {
		font-weight: bold;
		color: #484848;
		margin-bottom: -0.1rem;
	}
	button.custom-size {
		width: 8.1429em;
	}
}

.custom-size {
	width: 7em;
	margin-top: 1rem;
}

.detail-profil-wrap {
	padding: 0;

	@media (max-width: 767px) {
		margin: 0 auto;
	}
}

img.icon-verif {
	position: relative;
	top: -0.1429em;
}
</style>
