<template>
	<div id="otherCustomActionModal">
		<modal
			v-model="showModal"
			:backdrop="false"
			effect="fade"
			@closed="closeModal"
		>
			<div slot="modal-header" class="modal-header">
				<a class="icon-close" @click="closeModal">
					<img v-lazy="'/general/img/icons/ic_remove_s.svg'" alt="Icon Close" />
				</a>
			</div>
			<h1 class="text-header"><slot name="textHeader"></slot></h1>
			<p class="text-description"><slot name="textDescription"></slot></p>
			<div slot="modal-footer" class="modal-footer">
				<slot name="button"></slot>
			</div>
		</modal>
	</div>
</template>

<script>
import { modal } from 'vue-strap';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		backdropValue: {
			type: Boolean,
			default: true
		}
	},

	methods: {
		closeModal() {
			this.$emit('update:showModal', false);
		}
	}
};
</script>

<style lang="scss">
#otherCustomActionModal {
	font-size: 14px;

	.modal-dialog {
		width: 328px !important;
		margin: calc(49vh / 2) auto 30px auto !important;
	}

	.modal.in .modal-dialog {
		width: 328px !important;
	}

	.modal-body {
		width: 87%;
		margin: 0 auto;
		padding: 0;
	}

	.modal-header {
		padding: 13px 0px 0px 0px;
		border-bottom: none;
		margin-bottom: 1.5rem;
	}

	.modal-footer {
		width: 87%;
		margin: 0 auto;
		border-top: none;
		text-align: left;
		padding: 2rem 0rem;
		div {
			display: flex;
			.btn {
				width: 50%;
				&.--is-custom-btn {
					color: #1baa56;
					font-weight: bolder;
					background: none;
				}
				&.--custom-button-confirm-end-contract {
					width: 100%;
				}
			}
		}
	}

	.modal-footer .btn + .btn {
		margin-left: 15px;
		margin-bottom: 0;
		height: 40px;
		font-weight: bold;
		border: none;
		border-radius: 4px;
	}

	h1 {
		&.text-header {
			margin: 0;
			margin-top: 0.8rem;
			margin-bottom: 1.3rem;
			color: #000000;
			font-weight: bold;
			font-size: 1.7em;
			line-height: 1.5em;
		}
	}

	p {
		&.text-description {
			width: 100%;
			color: #383746;
			line-height: 1.5em;
			font-size: 1.1em;
			font-size: 1.143em;
		}
	}

	.button-wrapper-footer {
		display: flex;
		height: 50px;
		margin: 0 auto;

		button {
			&.btn-success {
				width: 42%;
			}

			&.btn-primary {
				width: 42%;
				line-height: 35px;
			}
		}

		a {
			&.btn-primary {
				width: 42%;
				line-height: 35px;
			}
		}
	}

	.--custom-button-confirm-end-contract {
		width: 88%;
		height: 60px;
	}

	.reason {
		font-weight: bold;
		display: block;
		margin: 2rem 0rem;
	}
}
</style>

<style lang="scss" scoped>
a {
	&.icon-close {
		float: right;
		margin-right: 1rem;
		padding: 0.3rem 1rem;

		img {
			width: 17px;
		}
	}
}
</style>
