<template>
	<div>
		<hr class="intercept-header-divider" />
		<p class="intercept-title">Hai {{ storedUsername }},</p>
		<p class="intercept-subtitle">
			Selamat, Anda berhasil terdaftar sebagai
			<strong>{{ userTypeText }} Kos.</strong>
		</p>

		<div class="intercept-image">
			<img src="/general/img/pictures/login/login_intercept.png" alt="" />
		</div>

		<p class="intercept-caption">{{ interceptCaption }}</p>

		<button
			type="button"
			class="btn btn-primary btn-mamigreen intercept-button track-owner-login"
			@click="handleInterceptButton"
		>
			{{ interceptButtonText }}
		</button>
		<a class="intercept-link" @click.prevent="handleLink">Nanti Saja</a>
	</div>
</template>

<script>
export default {
	props: {
		userTypeText: {
			type: String,
			required: true
		},
		user: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			interceptCaptionTenant:
				'Cari dan sewa kos kini lebih mudah dengan Mamikos. Yuk, mulai cari kos yang cocok untukmu!',
			interceptCaptionOwner:
				'Mamikos memudahkan bisnis kos Anda agar cepat tersewa penuh. Segera daftarkan kos Anda.'
		};
	},

	computed: {
		storedUsername() {
			return this.$store.state.profile.username || '';
		},
		interceptCaption() {
			return this.user === 'owner'
				? this.interceptCaptionOwner
				: this.interceptCaptionTenant;
		},
		interceptButtonText() {
			return this.user === 'owner' ? 'Pasang Iklan' : 'Cari Kos Sekarang';
		}
	},

	methods: {
		handleInterceptButton() {
			if (this.user === 'owner') {
				this.$emit('add-kost');
			} else {
				window.location = '/cari';
			}
		},
		handleLink() {
			if (this.user === 'owner') {
				window.location = oxWebUrl;
			} else {
				window.location = '/';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.intercept- {
	&header-divider {
		border-top: none;
		margin: 0;

		@media (max-width: 425px) {
			margin: 0;
			width: 200vh;
			margin-left: -20%;
			position: absolute;
			border-top-width: 1px;
			border-color: #f4f4f4;
			border-top-style: solid;
		}
	}

	&exit {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	&title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #2e2d39;
		margin-top: 37px;
	}

	&subtitle {
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 40px;
	}

	&caption {
		margin-top: 60px;
	}

	&button {
		margin-top: 40px;
		width: 100%;
		font-size: 16px;
		padding: 12px;
	}
	&link {
		display: block;
		text-align: center;
		margin-top: 28px;
	}
	&image {
		width: 240px;
		margin: auto;

		img {
			width: 100%;
		}
	}
}
</style>
