<template>
	<div class="register-form">
		<img
			class="register-exit"
			src="/general/img/icons/ic_close_black.svg"
			alt="ic_close_black"
			@click="handleCloseButton"
		/>
		<hr class="register-header-divider" />
		<p class="register-title">Daftar {{ userTypeText }} Kos</p>

		<form
			class="input-form"
			@input="resetErrorMessage"
			@submit.prevent="submitRegistration"
		>
			<fieldset>
				<input-with-validator
					v-model="username"
					:input-name="'Nama'"
					:input-label="'Nama Lengkap'"
					:input-type="'text'"
					:input-placeholder="'Nama Lengkap'"
					:input-length="25"
					:custom-class-input="'form-login-input'"
					:custom-error-message="nameCustomErrorMessage"
					class="register-input"
					:validation-option="nameValidationRules"
				>
				</input-with-validator>
				<input-with-validator
					v-model="phoneNumber"
					:input-name="'Nomor handphone'"
					:input-label="'Nomor Handphone'"
					:input-type="'tel'"
					:input-placeholder="'Nomor Handphone'"
					:input-length="14"
					:custom-class-input="'form-login-input'"
					:custom-error-message="phoneCustomErrorMessage"
					class="register-input"
					:validation-option="phoneValidationRules"
				>
				</input-with-validator>
				<input-with-validator
					v-model="email"
					:input-name="'Alamat email'"
					:input-label="'Alamat Email'"
					:input-type="'email'"
					:input-placeholder="'Alamat Email'"
					:custom-class-input="'form-login-input'"
					:custom-error-message="emailCustomErrorMessage"
					class="register-input"
					:validation-option="emailValidationRules"
				>
				</input-with-validator>
				<input-with-validator
					v-model="password"
					:input-name="'Password'"
					:input-label="'Password'"
					:input-type="'password'"
					:input-placeholder="'Masukkan password'"
					:custom-class-input="'form-login-input'"
					:custom-error-message="passwordCustomErrorMessage"
					class="register-input"
					validation-option="required|min:8"
				>
				</input-with-validator>

				<div v-if="isCaptchaVisible" class="recaptcha-container">
					<vue-recaptcha
						ref="recaptcha"
						:load-recaptcha-script="true"
						:sitekey="captchaKey"
						@verify="verifyCaptcha"
						@expired="resetCaptcha"
					>
					</vue-recaptcha>
					<p
						v-if="isCaptchaWarningVisible"
						class="captcha-warning error-message"
					>
						Click captcha di atas untuk melanjutkan
					</p>
				</div>

				<button
					type="submit"
					class="btn btn-primary btn-mamigreen track-owner-register register-button"
					:class="gtmTrackRegisterClass"
					:disabled="isLoading || isSubmitDisabled"
				>
					<span v-if="isLoading">
						<i class="fa fa-circle-o-notch fa-spin">&nbsp;</i>
						Sedang login...
					</span>
					<span v-else :class="gtmTrackRegisterClass">Daftar</span>
				</button>
			</fieldset>
			<p class="text-center register-caption">
				Sudah punya akun Mamikos?
				<router-link v-if="user === 'owner'" to="/login-pemilik">
					<a>Log in</a>
				</router-link>
				<router-link v-else to="/login-pencari">
					<a>Log in</a>
				</router-link>
			</p>
		</form>
	</div>
</template>

<script>
import InputWithValidator from '../InputWithValidator';
import VueRecaptcha from 'vue-recaptcha';

export default {
	components: {
		InputWithValidator,
		VueRecaptcha
	},

	props: {
		userTypeText: {
			type: String,
			required: true
		},
		user: {
			type: String,
			required: true
		},
		errorRegisterMessages: {
			type: Object,
			default: null
		}
	},

	data() {
		return {
			isLoading: false,
			token: document.head.querySelector('meta[name="csrf-token"]').content,
			username: '',
			phoneNumber: '',
			email: '',
			password: '',
			captchaResponse: '',
			isVerifiedByCaptcha: false,
			isCaptchaVisible: false,
			isCaptchaWarningVisible: false,

			emailValidatorRegex: /^(?:[a-z0-9!#$%\'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/
		};
	},
	computed: {
		captchaKey() {
			return this.$store.state.captchaKey;
		},
		isSubmitDisabled() {
			return (
				this.username === '' ||
				this.phoneNumber === '' ||
				this.email === '' ||
				this.password === ''
			);
		},
		trackerTag() {
			return this.user === 'owner' ? '[Owner]' : '[User]';
		},
		gtmTrackRegisterClass() {
			return this.user === 'owner'
				? 'track-register-owner'
				: 'track-register-tenant';
		},
		phoneValidationRules() {
			return {
				required: true,
				regex: /^(\+62|08)[\d-]+$/,
				isSubmitTerminated: this.checkErrorField('phone_number')
			};
		},
		emailValidationRules() {
			return {
				required: true,
				regex: this.emailValidatorRegex,
				isSubmitTerminated: this.checkErrorField('email')
			};
		},
		nameValidationRules() {
			return {
				required: true,
				regex: /^[a-zA-Z ]*$/,
				min: 3
			};
		},
		phoneCustomErrorMessage() {
			return [
				{
					typeValidation: 'regex',
					text: 'Mohon di awali dengan 08'
				},
				{
					typeValidation: 'isSubmitTerminated',
					text: this.checkErrorField('phone_number')
						? this.errorRegisterMessages.phone_number
						: ''
				}
			];
		},
		emailCustomErrorMessage() {
			return [
				{
					typeValidation: 'regex',
					text: 'Mohon masukan email yang valid'
				},
				{
					typeValidation: 'isSubmitTerminated',
					text: this.checkErrorField('email')
						? this.errorRegisterMessages.email
						: ''
				}
			];
		},
		nameCustomErrorMessage() {
			return [
				{
					typeValidation: 'regex',
					text: 'Mohon masukkan karakter alfabet'
				},
				{
					typeValidation: 'min',
					text: 'Minimal 3 karakter'
				}
			];
		},
		passwordCustomErrorMessage() {
			return [
				{
					typeValidation: 'min',
					text: 'Password kurang dari 8 karakter'
				}
			];
		}
	},

	created() {
		// when click back button from code verification,
		// register form will be filled automatically
		const { username, phoneNumber, email } = this.$store.state.profile;
		this.username = username;
		this.phoneNumber = phoneNumber;
		this.email = email;

		tracker('moe', [
			`${this.trackerTag} Visit Register Page`,
			{
				current_page: window.location.href,
				interface: navigator.isMobile ? 'mobile' : 'desktop'
			}
		]);
	},

	methods: {
		handleCloseButton() {
			window.location.href = '/';
		},
		submitRegistration() {
			if (this.validateRegistrationData()) {
				this.isCaptchaWarningVisible = false;
				if (this.isCaptchaVisible && this.isVerifiedByCaptcha) {
					this.goToVerification();
				} else if (this.isCaptchaVisible && !this.isVerifiedByCaptcha) {
					this.isCaptchaWarningVisible = true;
				} else {
					this.isCaptchaVisible = true;
				}
			} else {
				swal({
					title: 'Pendaftaran gagal',
					type: 'info',
					text: 'Mohon periksa kembali data yang Anda isi.',
					confirmButtonColor: '#EC4A0C',
					showCloseButton: true
				});
			}
		},
		validateRegistrationData() {
			return !(
				this.username === '' ||
				this.username.length < 3 ||
				this.phoneNumber === '' ||
				this.phoneNumber.length < 8 ||
				this.email === '' ||
				this.password === '' ||
				this.password.length < 8
			); // returns not invalid
		},
		goToVerification() {
			setTimeout(() => {
				this.storeRegistrationData();
				this.resetCaptcha();
				this.$emit('register');
			}, 100);
		},
		storeRegistrationData() {
			this.$store.commit('setRegistrationData', {
				username: this.username,
				phoneNumber: this.phoneNumber,
				email: this.email,
				password: md5(this.password),
				captcha: this.captchaResponse
			});
		},

		// captcha
		resetCaptcha() {
			this.isVerifiedByCaptcha = false;
			this.$refs.recaptcha.reset(); // Direct call reset method
		},
		verifyCaptcha(response) {
			this.isCaptchaWarningVisible = false;
			this.captchaResponse = response;
			this.isVerifiedByCaptcha = true;
		},
		checkErrorField(field) {
			return this.errorRegisterMessages
				? Object.keys(this.errorRegisterMessages).includes(field)
				: false;
		},
		resetErrorMessage() {
			this.$emit('reset', this.errorRegisterMessages);
		}
	}
};
</script>

<style lang="scss" scoped>
.register- {
	&title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #2e2d39;
		margin-top: 37px;
	}

	@media (max-width: 991px) {
		&title {
			margin-top: 16px;
		}
	}
	&header-divider {
		border-top: none;
		margin: 0;
	}
	@media (max-width: 425px) {
		&header-divider {
			margin: 0;
			width: 200vh;
			margin-left: -20%;
			position: absolute;
			border-top-width: 1px;
			border-color: #f4f4f4;
			border-top-style: solid;
		}
	}

	&exit {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	@media (max-width: 991px) {
		&exit {
			margin: 19px auto;
		}
	}

	&button {
		margin-top: 32px;
		width: 100%;
		font-size: 16px;
		padding: 12px;
	}
	&button[disabled] {
		background-color: #f4f4f4;
		border-color: #f4f4f4;
		color: #dbdbdb;
		opacity: 1;
	}
	&button[disabled]:hover {
		background: #f4f4f4;
		opacity: 1;
	}
	&caption {
		margin-top: 24px;
	}
	&input {
		margin-top: 32px;
	}
}

.recaptcha-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 42px;
	margin-bottom: 14px;

	.captcha-warning {
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		color: #ec4a0c;
		text-align: left;
		width: 100%;
		margin-top: 7px;
		margin-left: 24px;
		margin-bottom: -28px;
	}
}
</style>

<style lang="scss">
.form-login-input {
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #dbdbdb;
	border-radius: 0;
	padding: 0;
}
.register-form {
	.form-control:focus {
		box-shadow: none;
	}
}
</style>
