<template>
	<div>
		<img
			class="intercept-exit"
			src="/general/img/icons/ic_close_black.svg"
			alt="ic_close_black"
			@click="handleCloseIntercept"
		/>
		<hr class="intercept-header-divider" />
		<p class="intercept-title">Halo, Anda ingin memasang iklan apa?</p>

		<p class="intercept-subtitle">Saya ingin memasang iklan</p>
		<div
			v-for="(listingTypeOption, listingTypeOptionIndex) in listingTypeOptions"
			:key="listingTypeOptionIndex"
			class="radio radio-success intercept-radio"
		>
			<input
				:id="`inlineRadio${listingTypeOption.value}`"
				v-model="listingType"
				type="radio"
				name="property_type"
				:value="listingTypeOption.value"
			/>
			<label :for="`inlineRadio${listingTypeOption.value}`">
				{{ listingTypeOption.text }}
			</label>
		</div>

		<!-- user type selection -->

		<div class="intercept-user-select">
			<p v-if="listingType !== 'vacancy'" class="intercept-user-select-label">
				Saya input sebagai
			</p>

			<select
				v-if="listingType == 'kost'"
				v-cloak
				v-model="inputAs"
				class="form-control material-field"
				name="input_as"
			>
				<option
					v-for="(kostUserOption, kostUserOptionIndex) in kostUserOptions"
					:key="kostUserOptionIndex"
					:value="kostUserOption.value"
				>
					{{ kostUserOption.text }}
				</option>
			</select>

			<select
				v-else-if="listingType == 'apartment'"
				v-cloak
				v-model="inputAs"
				class="form-control material-field"
				name="input_as"
			>
				<option
					v-for="(apartmentUserOption,
					apartmentUserOptionIndex) in apartmentUserOptions"
					:key="apartmentUserOptionIndex"
					:value="apartmentUserOption.value"
				>
					{{ apartmentUserOption.text }}
				</option>
			</select>
		</div>

		<!-- redirecting to /input-properti but using form -->

		<form v-if="listingType == 'kost'" action="/input-properti" method="POST">
			<input type="hidden" name="_token" :value="token" />
			<input type="hidden" name="property_type" value="Kost" />
			<input type="hidden" name="input_as" value="Pemilik Kos" />
			<input type="hidden" name="phone_number" :value="storedPhoneNumber" />
			<button
				type="submit"
				class="btn btn-primary btn-mamigreen intercept-button track-owner-login"
			>
				Pasang Iklan
			</button>
		</form>

		<form
			v-else-if="listingType == 'apartment'"
			action="/input-properti"
			method="POST"
		>
			<input type="hidden" name="_token" :value="token" />
			<input type="hidden" name="property_type" value="Apartment" />
			<input type="hidden" name="input_as" value="Pemilik Apartemen" />
			<input type="hidden" name="phone_number" :value="storedPhoneNumber" />
			<button
				type="submit"
				class="btn btn-primary btn-mamigreen intercept-button track-owner-login"
			>
				Pasang Iklan
			</button>
		</form>
		<form v-if="listingType == 'vacancy'" @submit.prevent="openInputVacancy">
			<button
				type="submit"
				class="btn btn-primary btn-mamigreen intercept-button track-owner-login"
			>
				Pasang Iklan
			</button>
		</form>
	</div>
</template>

<script>
export default {
	data() {
		return {
			listingType: 'kost',
			inputAs: 'Pemilik kos',

			listingTypeOptions: [
				{
					value: 'kost',
					text: 'Kos-kosan'
				},
				{
					value: 'apartment',
					text: 'Apartemen'
				},
				{
					value: 'vacancy',
					text: 'Lowongan kerja'
				}
			],

			kostUserOptions: [
				{
					value: 'Pemilik kos',
					text: 'Pemilik kos'
				},
				{
					value: 'Pengelola kos',
					text: 'Pengelola kos'
				}
			],

			apartmentUserOptions: [
				{
					value: 'Pemilik apartemen',
					text: 'Pemilik apartemen'
				},
				{
					value: 'Pengelola apartemen',
					text: 'Pengelola apartemen'
				},
				{
					value: 'Agen apartemen',
					text: 'Agen'
				}
			]
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		storedPhoneNumber() {
			return this.$store.state.profile.phoneNumber || '';
		}
	},

	watch: {
		listingType(val) {
			this.watchListingType(val);
		}
	},

	methods: {
		handleCloseIntercept() {
			this.$emit('closed');
		},

		watchListingType(val) {
			if (val === 'kost') {
				this.inputAs = 'Pemilik kos';
			} else if (val === 'apartment') {
				this.inputAs = 'Pemilik apartemen';
			} else if (val === 'vacancy') {
				this.inputAs = 'Employer';
			}
		},

		openInputVacancy() {
			window.open('/input-loker', '_self');
		}
	}
};
</script>

<style lang="scss" scoped>
.intercept- {
	&header-divider {
		border-top: none;
		margin: 0;

		@media (max-width: 425px) {
			margin: 0;
			width: 200vh;
			margin-left: -20%;
			position: absolute;
			border-top-width: 1px;
			border-color: #f4f4f4;
			border-top-style: solid;
		}
	}

	&exit {
		text-align: left;
		font-size: 24px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	&title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #2e2d39;
		margin-top: 37px;
	}

	&subtitle {
		margin-top: 42px;
		margin-bottom: 24px;
		font-size: 16px;
	}

	&caption {
		margin-top: 60px;
	}

	&button {
		margin-top: 40px;
		width: 100%;
		font-size: 16px;
		padding: 12px;
	}
	&link {
		display: block;
		text-align: center;
		margin-top: 28px;
	}
	&radio {
		margin-top: 16px;
		font-size: 16px;
	}
	&user-select {
		margin-top: 36px;
	}
	&user-select-label {
		font-size: 16px;
		font-weight: bold;
	}
}

select.material-field {
	border: none;
	border-bottom: 2px solid #cacaca;
	border-radius: 0;
	box-shadow: none;
	background: url('/assets/icons/svg/ic_angle-down_s_grey.svg') no-repeat right
		#fff;
	background-size: 3%;
	transition: ease-in-out, background 0.35s ease-in-out;
	&:focus {
		border-bottom: 2px solid #1baa56;
		outline: none;
		background: url('/assets/icons/svg/ic_angle-down_s_green.svg') no-repeat
			right #fff;
		background-size: 3%;
	}
}
</style>

<style lang="scss">
.intercept- {
	&custom-select {
		width: 100%;
		.form-control {
			border: none;
			box-shadow: none;
			border-bottom: 2px #dbdbdb solid;
			border-radius: 0;
			font-size: 18px;
			&.dropdown-toggle {
				&:focus {
					border-color: #1baa56 !important;
					box-shadow: none;
				}
			}
		}
		.dropdown-menu {
			width: 100%;
		}
	}
}
</style>
