<template>
	<div class="countdown-section">
		<div
			:class="needCountDown ? 'content-container' : 'content-static-container'"
		>
			<div class="yellow-line" />
			<header
				:class="[
					'content-title-container',
					{ 'title-row': !needCountDown, shimmer: getIsLoading }
				]"
			>
				<img
					v-if="!getIsLoading"
					class="content-icon"
					data-path="img_flashSaleIcon"
					src="/general/img/pictures/flashsale/flashsale-icon.svg"
					alt="icon flashsale"
				/>
				<h1
					v-if="!getIsLoading"
					class="content-title"
					data-path="lbl_flashSaleTitle"
				>
					{{ title }}
				</h1>
			</header>
			<template v-if="needCountDown">
				<div class="countdown-timer-container">
					<div
						v-for="(count, remainingIndex) in remaining"
						:key="remainingIndex"
						class="countdown-box-container"
					>
						<count-down-box
							:is-loading="showCondition"
							:value="count.value"
							:text="count.tag"
						/>
						<div v-if="remainingIndex < 3" class="countdown-divider">
							<div v-if="remainingIndex > 0" class="countdown-bullet" />
							<div v-if="remainingIndex > 0" class="countdown-bullet" />
						</div>
					</div>
				</div>
				<div class="countdown-period-container">
					<h3
						:class="['period-title', { shimmer: getIsLoading }]"
						data-path="lbl_flashSalePeriod"
					>
						{{ duration }}
					</h3>
					<button
						v-if="status === 'running' || status === ''"
						:class="['period-button', { shimmer: getIsLoading }]"
						data-path="btn_searchFlashSale"
						@click="$emit('goToList', 'top')"
					>
						<h2 class="text-normalize">Cari Kos Promo Ngebut</h2>
					</button>
				</div>
			</template>
		</div>
		<slot name="illustration"> </slot>
		<template v-if="needCountDown">
			<div class="countdown-top-background" />
			<div v-if="status === 'running'" class="countdown-bottom-background" />
		</template>
	</div>
</template>

<script>
import CountDownBox from 'Js/@components/CountDownBox';
import { mapGetters, mapActions, mapMutations } from 'vuex';
import MixinFlashSale from '../mixins/MixinFlashSale';

export default {
	components: {
		CountDownBox
	},
	mixins: [MixinFlashSale],
	props: {
		title: {
			type: String,
			required: true
		},
		status: {
			type: String,
			default: ''
		},
		duration: {
			type: String,
			default: ''
		},
		needCountDown: {
			type: Boolean,
			default: false
		},
		timeDetectionOnly: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		...mapGetters([
			'getIsLoading',
			'getFlashSaleTimeline',
			'getFlashSaleStatus'
		])
	},
	watch: {
		getFlashSaleTimeline: {
			handler() {
				if (this.needCountDown || this.timeDetectionOnly) {
					this.callCountdownTimer();
				}
			},
			deep: true,
			immediate: true
		}
	},
	destroyed() {
		if (this.needCountDown || this.timeDetectionOnly) this.resetTimer();
	},
	methods: {
		...mapActions(['fetchFlashSaleData']),
		...mapMutations(['setSearchStatus', 'setLoading'])
	}
};
</script>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.countdown-section {
	position: relative;
	display: flex;
	flex-direction: column;
}
.yellow-line {
	width: 100%;
	height: 8px;
	background: #efd358;
}
.content-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	background-image: url('/general/img/pictures/flashsale/countdown-background.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto 387px;

	@media (max-width: 767px) {
		background-size: auto 345px;
	}

	@media (max-width: 575px) {
		background-size: auto 285px;
	}

	@media (min-width: 1360px) {
		background-size: 1366px auto;
	}
}
.content-static-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 278px;
	flex-direction: column;
	background: linear-gradient(63.39deg, #14a01d 24.71%, #6dcf73 94.69%);
	box-shadow: 0 16px 32px rgba(98, 197, 105, 0.15);

	@media (max-width: 767px) {
		height: 150px;
	}
}
.countdown-top-background {
	position: absolute;
	left: 0;
	z-index: -1;
	display: none;
	width: 100%;
	height: 285px;
	background: linear-gradient(54.52deg, #14a01d 24.71%, #6dcf73 94.69%);
	box-shadow: 0 16px 32px rgba(98, 197, 105, 0.15);

	@media (min-width: 1360px) {
		display: block;
	}
}
.countdown-bottom-background {
	position: absolute;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}
.content-title-container {
	display: flex;
	min-width: 500px;
	min-height: 30px;
	margin-top: 90px;
	align-items: center;

	@media (max-width: 767px) {
		min-width: 280px;
		min-height: 100px;
		margin-top: 36px;
		flex-direction: column;
	}

	.content-icon {
		width: 25px;
		height: 35px;
		margin-top: 2px;
	}

	.content-title {
		margin-left: 20px;
		font-size: 32px;
		font-weight: bold;
		line-height: 40px;
		color: #fff;

		@media (max-width: 767px) {
			margin-top: 26px;
			margin-left: 0;
			font-size: 26px;
		}

		@media (max-width: 575px) {
			width: 260px;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
		}
	}
}
.title-row {
	min-width: 330px;

	@media (max-width: 767px) {
		min-width: 230px;
		min-height: 30px;
		flex-direction: row;
	}

	.content-icon {
		@media (max-width: 767px) {
			width: 15px;
			height: 21px;
		}
	}

	.content-title {
		@media (max-width: 767px) {
			margin-top: 0;
			margin-left: 12.5px;
			font-size: 20px;
			line-height: 24px;
		}

		@media (max-width: 575px) {
			width: auto;
		}
	}
}
.countdown-timer-container {
	display: flex;
	margin-top: 95px;

	.countdown-box-container {
		display: flex;
	}

	@media (max-width: 767px) {
		margin-top: 70px;
	}

	@media (max-width: 575px) {
		margin-top: 40px;
	}
}
.countdown-divider {
	display: flex;
	width: 58px;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (max-width: 767px) {
		width: 40px;
	}

	@media (max-width: 575px) {
		width: 24px;
	}

	.countdown-bullet {
		display: block;
		width: 10px;
		height: 10px;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 50%;

		&:first-child {
			margin-bottom: 12px;

			@media (max-width: 575px) {
				margin-bottom: 4px;
			}
		}

		@media (max-width: 767px) {
			width: 6px;
			height: 6px;
		}

		@media (max-width: 575px) {
			width: 4px;
			height: 4px;
		}
	}
}
.countdown-period-container {
	display: flex;
	align-items: center;
	margin: 80px 0 118px;
	flex-direction: column;

	@media (max-width: 575px) {
		margin: 39px 0 56px;
	}

	.period-title {
		position: relative;
		z-index: 0;
		min-width: 250px;
		min-height: 25px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #303030;
		text-align: center;

		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 24px;
		}

		&::after {
			position: absolute;
			bottom: -5px;
			left: 50%;
			z-index: -1;
			display: block;
			width: 90%;
			height: 20px;
			content: '';
			background: #d8ede3;
			transform: translate(-50%, 0);

			@media (max-width: 575px) {
				bottom: -3px;
				width: 190px;
				height: 15px;
			}
		}
	}

	.period-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 275px;
		height: 50px;
		margin-top: 29px;
		font-size: 16px;
		font-weight: bold;
		line-height: 27px;
		color: #fff;
		cursor: pointer;
		background: linear-gradient(250.39deg, #14a01d 6.88%, #6dcf73 98.27%);
		border: 0;
		border-radius: 100px;
		outline: none;
		box-shadow: 0 8px 40px rgba(98, 197, 105, 0.5);

		@media (max-width: 575px) {
			width: 229px;
			height: 36px;
			margin-top: 24px;
			font-size: 14px;
			line-height: 20px;
		}
	}
}
</style>
