<template>
	<fragment>
		<div
			ref="filterMainWrapper"
			:class="['filter-main-wrapper', { 'top-less': navigator.isMobile }]"
		>
			<div ref="filterWrapper" class="filter-wrapper-container">
				<div id="mainFilterContainer">
					<div class="form-wrapper col-lg-3">
						<div v-if="showLabel" class="form-wrapper-label-container">
							<label class="form-wrapper-label">Pilih Lokasi</label>
						</div>
						<v-select
							:value.sync="selectedLocationTemp"
							:options="location"
							options-value="value"
							placeholder="Cari nama tempat atau alamat"
							search
							justified
							clear-button
							close-on-select
							:disabled="isLoading"
							class="form-custom"
							@change="setLocation"
						></v-select>
					</div>
					<div class="form-wrapper col-lg-2 hidden-sm hidden-xs">
						<div v-if="showLabel" class="form-wrapper-label-container">
							<label class="form-wrapper-label">Tipe Kost</label>
							<div v-for="bullet in 3" :key="bullet" class="bullet-style"></div>
						</div>
						<filter-kost-type
							:label="false"
							:disabled="isLoading"
							:gender-val="filterTemp.gender"
							@setFilter="setFilterType"
						></filter-kost-type>
					</div>
					<div
						v-if="needTime"
						class="form-wrapper col-lg-2 hidden-sm hidden-xs"
					>
						<div v-if="showLabel" class="form-wrapper-label-container">
							<label class="form-wrapper-label">Jangka Waktu</label>
						</div>
						<filter-time
							:label="false"
							:disabled="isLoading"
							:duration-val="filterTemp.rent_type"
							@setFilter="setFilterTime"
						></filter-time>
					</div>
					<div class="form-wrapper col-lg-5 hidden-sm hidden-xs">
						<div v-if="showLabel" class="form-wrapper-label-container">
							<label class="form-wrapper-label">Rentang harga</label>
						</div>
						<filter-price
							property-type="kost"
							:label="false"
							:display-button="searchDirectly"
							:is-disabled="isLoading"
							:rent-type="filterTemp.rent_type"
							:no-reset="true"
							:first-value="filterTemp.price_range"
							@filterPrice="setFilterPrice"
							@filterPriceMin="changePriceMin"
							@filterPriceMax="changePriceMax"
						/>
					</div>
					<div
						v-if="!searchDirectly"
						class="form-wrapper col-lg-2 hidden-sm hidden-xs"
					>
						<button
							class="search-button"
							:disabled="isLoading"
							@click="setAllFilter"
						>
							Cari
						</button>
					</div>
				</div>
			</div>
		</div>
		<div v-if="!isEmptyList" class="sub-filter">
			<span :class="['sub-filter-information', { shimmer: isLoading }]">
				<strong v-if="!isLoading">
					{{ displayNumber }} Kost Promo Ngebut Bisa Anda Booking
				</strong>
			</span>
			<div class="form-wrapper hidden-xs hidden-sm">
				<filter-kost-sort
					:sort-val="sortingTemp"
					:disabled="isLoading"
					:label="false"
					@setFilter="setFilterSort"
				></filter-kost-sort>
			</div>
		</div>
	</fragment>
</template>

<script>
import { select } from 'vue-strap';
import Fragment from 'vue-fragment';
import FilterKostType from 'Js/@components/FilterKostType';
import FilterKostSort from 'Js/@components/FilterKostSort';
import FilterPrice from 'Js/@components/FilterPrice';
import FilterTime from 'Js/@components/FilterTime';

/* eslint-disable-next-line */
Vue.use(Fragment.Plugin);

export default {
	components: {
		FilterKostType,
		FilterPrice,
		FilterTime,
		FilterKostSort,
		vSelect: select
	},
	props: {
		showLabel: {
			type: Boolean,
			default: true
		},
		searchDirectly: {
			type: Boolean,
			default: true
		},
		needTime: {
			type: Boolean,
			default: true
		},
		isEmptyList: {
			type: Boolean,
			default: false
		},
		location: {
			type: Array,
			default() {
				return [];
			}
		},
		filter: {
			type: Object,
			default() {
				return {};
			}
		},
		isLoading: {
			type: Boolean,
			default: false
		},
		displayNumber: {
			type: String,
			default: ''
		},
		sorting: {
			type: Array,
			default() {
				return [];
			}
		},
		selectedLocation: {
			type: [Number, String],
			required: true
		}
	},
	data() {
		return {
			firstTime: false,
			filterTemp: {},
			sortingTemp: [],
			selectedLocationTemp: null
		};
	},
	created() {
		window.addEventListener('scroll', this.handleScroll);
		this.filterTemp = this.filter;
		this.sortingTemp = this.sorting;
		this.selectedLocationTemp = this.selectedLocation;
	},
	destroyed() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	methods: {
		handleScroll() {
			const wrapperElement = this.$refs.filterWrapper;
			const mainWrapperElement = this.$refs.filterMainWrapper;
			const tagTop = window.pageYOffset;
			const comparison = window.innerWidth <= 991 ? 118 : 215;
			if (tagTop >= comparison) {
				wrapperElement.classList.add('fixed-filter');
				mainWrapperElement.classList.add('fixed-background');
			} else {
				wrapperElement.classList.remove('fixed-filter');
				mainWrapperElement.classList.remove('fixed-background');
			}
		},
		setFilterType(type) {
			if (this.searchDirectly) {
				this.$emit('filterTypeHandler', type);
			} else {
				this.filterTemp.gender = type;
			}
		},
		setFilterTime(time) {
			if (this.searchDirectly) {
				this.$emit('filterTimeHandler', time);
			} else {
				this.filterTemp.rent_type = time;
			}
		},
		setFilterPrice(price) {
			if (this.searchDirectly) {
				this.$emit('filterPriceHandler', price);
			}
		},
		setFilterSort(sorting) {
			if (this.searchDirectly) {
				this.$emit('sortingHandler', sorting);
			} else {
				this.sortingTemp = sorting;
			}
		},
		setLocation(value) {
			if (!this.firstTime) {
				this.firstTime = true;
			} else {
				this.locationChangeHandler(value);
			}
		},
		locationChangeHandler(value) {
			if (this.searchDirectly) {
				this.$emit('locationHandler', value);
			} else {
				this.selectedLocationTemp = value;
			}
		},
		changePriceMin(payload) {
			this.filterTemp.price_range[0] = parseInt(payload);
		},
		changePriceMax(payload) {
			this.filterTemp.price_range[1] = parseInt(payload);
		},
		setAllFilter() {
			const payload = {
				selectedLocationPayload: this.selectedLocationTemp,
				filterPayload: this.filterTemp,
				sortingPayload: this.sortingTemp
			};
			this.$emit('searchHandler', payload);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.filter-main-wrapper {
	position: sticky;
	z-index: 10;
	top: 80px;
	margin-top: -60px !important;
	padding: 0 5% !important;

	@media (max-width: 991px) {
		height: 80px;
		margin-top: -30px !important;
	}

	@media (min-width: 1366px) {
		padding: 0 calc((100% - 1230px) / 2) !important;
	}

	.filter-wrapper-container {
		display: flex;
		align-items: center;
		height: 120px;
		padding: 24px 20px !important;
		background-color: #fff;
		border-radius: 6px;
		box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
		transition: 0.3s;

		@media (max-width: 991px) {
			padding: 0 !important;
			height: 56px;
		}

		#mainFilterContainer {
			display: flex;
			height: 100%;
			width: 100%;

			.form-wrapper {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding-left: 0px;

				.form-wrapper-label-container {
					display: flex;
					align-items: center;
					margin-bottom: 8px;

					@media (max-width: 991px) {
						display: none;
					}

					.form-wrapper-label {
						font-size: 14px;
						font-weight: bold;
						line-height: 17px;
						color: #303030;
						white-space: nowrap;
					}
				}

				&:first-of-type {
					flex: 1;
				}

				&:not(:last-child) {
					padding-right: 32px;

					@media (max-width: 991px) {
						box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
						padding-right: 0;
					}
				}

				&:last-child {
					padding: 0;
				}

				.form-custom {
					width: 100%;
					height: 47px;

					@media (max-width: 991px) {
						height: 56px;
					}

					.dropdown-toggle {
						display: flex;
						align-items: center;
						height: 100%;

						@media (max-width: 991px) {
							border: 0;
						}

						&:focus,
						&:active {
							border-color: #1baa56 !important;
						}

						.btn-content {
							display: flex;
							flex: 1;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					.dropdown-menu {
						max-height: 250px;
						overflow-y: auto;
					}
				}

				.filter-type,
				.filter-time,
				.container-field-price,
				.container-field-price > form,
				.container-field-price > form > .field-price,
				.container-field-price > form > .field-price > .form-control {
					display: flex;
					flex: 1;
					height: 100%;

					select {
						height: 100%;
					}
				}
			}
		}
	}
}
.top-less {
	top: 55px;
}
/* stylelint-enable */
</style>
<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.bullet-style {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;

	&:nth-of-type(1) {
		margin-left: 12px;
		background: #c9389b;
	}

	&:nth-of-type(2) {
		margin-left: 4px;
		background: #0074db;
	}

	&:nth-of-type(3) {
		margin-left: 4px;
		background: #9259cd;
	}
}
.search-button {
	display: block;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 24px;
	color: #fff;
	background: #1baa56;
	border: 0;
	border-radius: 4px;

	@media (max-width: 1199px) {
		width: 100px;
	}
}
.sub-filter {
	display: flex;
	width: 100%;
	max-width: 1230px;
	padding: 0 50px;
	margin: 48px auto 0;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 991px) {
		width: auto;
		padding: 0 12px;
	}
	@media (min-width: 1366px) {
		padding: 0;
	}

	.sub-filter-information {
		min-width: 200px;
		min-height: 20px;
	}
}
.fixed-filter {
	border-radius: 0;
	box-shadow: none;

	@media (max-width: 991px) {
		padding: 10px 0 !important;
	}
}
.fixed-background {
	height: 120px;
	background: #fff;

	@media (max-width: 991px) {
		height: 80px;
	}
}
</style>
