<template>
	<div class="flashsale-footer-container">
		<h5 class="flashsale-footer-title" data-path="lbl_flashSaleFooterTitle">
			Enggak mau ketinggalan update seputar Mamikos Promo Ngebut? Cek terus di:
		</h5>
		<div class="flashsale-footer-socmed">
			<a
				ref="nofollow noopener"
				href="https://www.instagram.com/mamikosapp/"
				target="_blank"
			>
				<img
					class="flashsale-footer-img"
					src="/assets/home-mobile/instagram.png"
					title="instagram"
					alt="instagram"
				/>
			</a>
			<a
				ref="nofollow noopener"
				href="https://twitter.com/mamikosapp"
				target="_blank"
			>
				<img
					class="flashsale-footer-img"
					src="/assets/home-mobile/twitter.png"
					title="twitter"
					alt="twitter"
				/>
			</a>
			<a
				ref="nofollow noopener"
				href="https://www.facebook.com/Mamikos-Cari-Kos-Gampang-1043376389026435/?fref=ts"
				target="_blank"
			>
				<img
					class="flashsale-footer-img"
					src="/assets/home-mobile/facebook.png"
					title="facebook"
					alt="facebook"
				/>
			</a>
		</div>
	</div>
</template>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 100%;
	outline: none;
}
.flashsale-footer-container {
	display: flex;
	width: 100%;
	padding: 64px 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-bottom: 1px solid #dadada;

	@media (max-width: 575px) {
		padding: 40px 0;
	}
}
.flashsale-footer-title {
	max-width: 380px;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;

	@media (max-width: 575px) {
		max-width: 296px;
		font-size: 16px;
		line-height: 24px;
	}
}
.flashsale-footer-socmed {
	display: flex;
	width: 120px;
	height: 28px;
	margin-top: 32px;
	justify-content: space-between;

	@media (max-width: 575px) {
		margin-top: 24px;
	}
}
.flashsale-footer-img {
	width: auto;
	height: 28px;
}
</style>
