<template>
	<div class="flashsale-information-container">
		<div class="content-container">
			<div class="content-wrapper">
				<h3 :class="['content-title', { shimmer: getIsLoading }]">
					Temukan semua Kos bertanda Mamikos Promo Ngebut di area yang kamu
					inginkan!
				</h3>
				<button
					:class="['content-button', { shimmer: getIsLoading }]"
					@click="$emit('goToList', 'bottom')"
				>
					<h2 class="text-normalize">Cari Sekarang</h2>
				</button>
			</div>
			<div class="content-illustrator">
				<img
					class="--flashsale-information-image"
					src="/general/img/pictures/flashsale/flashsale-information-illustration.svg"
					alt="flashsale information illustration"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	computed: { ...mapGetters(['getIsLoading']) }
};
</script>

<style lang="scss" scoped>
@import 'Js/_flash-sale/style/index.scss';

.flashsale-information-container {
	display: block;
	width: 100%;
	max-width: 1366px;
	height: 575px;
	margin: 0 auto;

	.content-container {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		overflow: hidden;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('/general/img/pictures/flashsale/flashsale-information-background.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: auto 550px;

		.content-illustrator {
			position: absolute;
			bottom: 110px;
			left: 50%;
			transform: translate(-50%, 0);

			@media (max-width: 575px) {
				bottom: 50px;
				width: 125%;
			}

			@media (max-width: 450px) {
				bottom: 70px;
			}

			@media (max-width: 360px) {
				bottom: 90px;
			}
		}

		@media (min-width: 1366px) {
			background-size: 100% auto;
		}

		@media (max-width: 575px) {
			background-size: auto 355px;

			.--flashsale-information-image {
				width: 100%;
				height: 275px;
			}
		}
	}

	@media (min-width: 1366px) {
		height: 600px;
	}

	@media (max-width: 575px) {
		height: 380px;
	}
}
.content-wrapper {
	position: absolute;
	bottom: 100px;
	left: 50%;
	z-index: 1;
	display: flex;
	width: 520px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, 0);

	@media (max-width: 575px) {
		bottom: 80px;
	}
}
.content-title {
	width: 640px;
	min-height: 100px;
	font-size: 32px;
	font-weight: bold;
	line-height: 48px;
	color: #fff;
	text-align: center;

	@media (max-width: 640px) {
		width: 90vw;
	}

	@media (max-width: 575px) {
		width: 400px;
		min-height: 50px;
		font-size: 20px;
		line-height: 24px;
	}

	@media (max-width: 420px) {
		width: 90vw;
	}
}
.content-button {
	display: flex;
	width: 250px;
	padding: 12px 0;
	margin-top: 32px;
	font-size: 20px;
	font-weight: bold;
	line-height: 27px;
	color: #1baa56;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background: #fff;
	border: 0;
	border-radius: 100px;
	box-shadow: 0 8px 40px rgba(255, 255, 255, 0.5);

	@media (max-width: 575px) {
		width: 165px;
		padding: 8px 0;
		margin-top: 24px;
		font-size: 14px;
		line-height: 27px;
	}
}
</style>
