<template>
	<div class="title-wrapper container">
		<span><h1>Lowongan Kerja</h1></span>
	</div>
</template>

<script>
	
</script>

<style scoped>
.title-wrapper span h1 {
	padding-left: 15px;
	font-size: 22px;
	font-weight: bold;
}
</style>