<template>
	<div class="header-wrapper">
		<div class="container-header">
			<div class="container">
				<img class="company-logo" src="/assets/photos/mamikos_apartemen.png" alt="company_logo">
				<div class="company-name">
					<span>PT LININDO PACIFIC INTERNATIONAL GROUP</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	
</script>

<style scoped>
.header-wrapper {
	background-image: url(/assets/icons/pattern.jpg);
	background-repeat-x: repeat;
	background-size: 12%;
	margin-top: 54px;
	height: 83px;
	padding-top: 10px;
}
.container-header {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}
.company-logo {
	height: 55px;
	width: 55px;
	border-radius: 10px;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
	margin-right: 20px;
}
.company-name {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-top: 7px;
}

@media (max-width: 300px) {
	.company-name {
		font-size: 16px;
	}
}
@media (min-width: 301px) and (max-width: 500px) {
	.company-name {
		font-size: 18px;
	}
}
@media (max-width: 463px) {
	.company-name {
		margin-top: 1px;
	}
}
@media (min-width: 464px) and (max-width: 500px) {
	.company-name {
		margin-top: 10px;
	}
}
@media (min-width: 501px) and (max-width: 580px) {
	.company-name {
		font-size: 20px;
		margin-top: 9px;
	}
}
</style>