<template>
	<div>
		<company-vacancy-header></company-vacancy-header>
		<company-vacancy-title></company-vacancy-title>
		<company-vacancy-filter></company-vacancy-filter>
		<div class="clearfix"></div>

		<div class="container">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	
</script>

<style scoped>
</style>