<template>
	<div
		class="search-input"
		:class="{
			'is--focused': isFocused,
			'is--dirty': isDirty,
			'search-input__custom': isCustom
		}"
	>
		<div class="search-input__bg"></div>
		<div class="search-input__body">
			<div class="search-input__close el-center">
				<img
					src="/general/img/icons/ic_chevron_left_black.svg"
					alt="Icon chevron left"
					@click="handleCloseInput"
				/>
			</div>
			<div class="search-input__input input-group">
				<input
					type="text"
					class="input-control"
					:placeholder="placeholder"
					v-model="searchText"
					@focus="isFocused = true"
					@keypress.enter="handleSearchInput"
					ref="input"
				/>
				<img
					src="/general/img/icons/ic_search-consultant_black.svg"
					alt="Icon search"
					@click="handleSearchInput"
				/>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'SearchInput',

	props: {
		value: {
			type: String,
			required: true
		},
		placeholder: {
			type: String,
			required: ''
		}
	},

	data() {
		return {
			searchText: '',
			isFocused: false,
			isSearched: false
		};
	},

	watch: {
		value: {
			immediate: true,
			handler(searchTextParent) {
				this.searchText = searchTextParent;
				this.isSearched = true;
			}
		}
	},

	computed: {
		isDirty() {
			return !!this.searchText;
		},
		isCustom() {
			return this.$attrs.hasOwnProperty('is-custom');
		}
	},

	methods: {
		emitToParent() {
			this.$emit('input', this.searchText);
		},

		handleCloseInput() {
			if (this.isCustom) {
				if (this.isFocused) {
					this.inputBlur();
				} else {
					this.$emit('onSearchCancel');
				}
			} else {
				if (this.isSearched && this.isFocused) {
					this.inputBlur();
					// auto fill input if user cancel search with no inputed
					if (this.value && !this.isDirty) {
						this.searchText = this.value;
					}
					return;
				}
				this.$emit('close');
				this.searchText = '';
				this.emitToParent();
				if (this.isSearched && this.value) {
					this.$emit('onSearch', this.searchText);
				}

				this.isSearched = false;
			}
		},

		focus() {
			this.$refs.input.focus();
		},

		handleSearchInput() {
			if (!this.searchText) {
				return;
			}
			this.isSearched = true;
			this.inputBlur();
			this.$emit('onSearch', this.searchText);
		},

		inputBlur() {
			this.$refs.input.blur();
			this.isFocused = false;
		}
	}
};
</script>
<style lang="scss" scoped>
@import '../../styles/mixins/selector';

.search-input {
	.search-input__bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: rgba(0, 0, 0, 0.58);
		display: none;

		@include variant('.is--focused') {
			display: block;
		}
	}
	.search-input__body {
		padding: 5px 10px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		background-color: #fff;
		transform: translateY(-200%);
		transition: transform 0.3s linear;

		@include variant('.is--focused', '.is--dirty', '.search-input__custom') {
			transform: translateY(0%);
			transition: transform 0.3s linear;
			transition-delay: 0.1s;
		}

		.search-input__close {
			width: 10%;
			img {
				cursor: pointer;
			}
		}

		.search-input__input {
			width: 90%;
			position: relative;
			margin-right: 20px;

			input {
				width: 100%;
				border: 1px solid #dbdbdb;
				box-sizing: border-box;
				border-radius: 10px;
				font-size: 18px;
				color: #595959;
				padding: 5px 15px;
				outline: none;
				padding-right: 40px;
			}

			img {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}
	}
}
</style>
