<template>
	<div class="room-allotment-card">
		<ct-card v-if="loading">
			<ct-card-body slot="body">
				<shimmer height="25px" width="70px"></shimmer>
				<shimmer height="18px" margin-bottom="30px"></shimmer>
				<shimmer height="18px" margin-bottom="30px"></shimmer>
				<div class="el-center">
					<shimmer height="20px" width="80%"></shimmer>
				</div>
			</ct-card-body>
		</ct-card>
		<ct-card v-else>
			<ct-card-header
				slot="header"
				class="flex-parent"
				style="background-color: #fafafa;"
			>
				<div>
					<div class="numbering">
						{{ numbering }}
					</div>
				</div>
				<div>
					<button
						class="delete-button"
						:class="{ 'delete--disabled': isHasContract }"
						@click="clickDelete"
					>
						<i class="mamikos-icon icon-delete"></i>
					</button>
				</div>
			</ct-card-header>

			<ct-card-body slot="body">
				<InputText
					v-validate="`required|max:50|unique_value:${listRoomNames}`"
					:data-vv-name="uniqueId"
					data-vv-scope="roomAllotment"
					data-vv-as="Nomor Kamar"
					data-vv-delay="500"
					:invalid-message="errors.first(`roomAllotment.${uniqueId}`)"
					label="Nomor / Nama Kamar"
					:disabled="isHasContract"
					mandatory-sign
					:value="roomNameOrNumber"
					@input="changeName"
				/>
				<InputText
					label="Lantai"
					:disabled="isHasContract"
					:value="roomFloor"
					@input="changeFloor"
				/>
			</ct-card-body>

			<ct-card-footer
				slot="footer"
				class="flex-parent"
				style="background-color: #fafafa;"
			>
				<div class="text-occupied el-center-on-start">
					Sudah Berpenghuni &nbsp;
					<span
						v-if="isHasContract"
						v-tooltip="{
							content:
								'Kamar terkait dengan kontrak aktif. Untuk menghapus dan mengosongkan, silakan ubah melalui halaman Kelola Kontrak.',
							placement: 'bottom',
							trigger: navigator.isMobile ? 'click' : 'hover'
						}"
						class="room-tooltip"
					>
						<i class="mamikos-icon icon-info"></i>
					</span>
				</div>
				<div>
					<toggle-button
						:value="occupied"
						:disabled="isHasContract"
						sync
						@change="changeToggle"
					/>
				</div>
			</ct-card-footer>
		</ct-card>
	</div>
</template>

<script>
import CtCard, {
	CtCardHeader,
	CtCardBody,
	CtCardFooter
} from 'Consultant/components/ct-card';

import { ToggleButton } from 'vue-js-toggle-button';
import InputText from 'Consultant/components/CtInputText';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

import { VTooltip } from 'v-tooltip';
import 'Consultant/styles/_tooltip.scss';

export default {
	name: 'RoomAllotmentCard',

	directives: {
		VTooltip
	},

	components: {
		CtCard,
		CtCardHeader,
		CtCardBody,
		CtCardFooter,
		ToggleButton,
		InputText,
		Shimmer
	},

	props: {
		numbering: {
			type: Number,
			default: 0
		},
		roomNameOrNumber: {
			type: [String, Number],
			default: ''
		},
		roomFloor: {
			type: [String, Number],
			default: ''
		},
		isDisabled: {
			type: Boolean,
			default: false
		},
		occupied: {
			type: Boolean,
			default: false
		},
		uniqueId: {
			type: [String, Number],
			required: true
		},
		listRoom: {
			type: Array,
			required: true
		},
		errorFields: {
			type: Array,
			default: () => []
		},
		loading: Boolean
	},

	data() {
		return {
			selected: false
		};
	},

	computed: {
		classes() {
			return {
				disabled: this.isDisabled
			};
		},
		listRoomNames() {
			return this.listRoom
				.filter(room => room.unique_id !== this.uniqueId)
				.map(room => room.name);
		},
		isHasContract() {
			return this.isDisabled;
		}
	},

	watch: {
		errors: {
			immediate: true,
			deep: true,
			handler(value) {
				if (value.items.length) {
					if (this.errorFields.indexOf(this.uniqueId) === -1) {
						const errors = [...this.errorFields, this.uniqueId];
						this.$emit('update:errorFields', errors);
					}
				} else {
					const errors = [...this.errorFields];
					const index = errors.indexOf(this.uniqueId);
					if (index !== -1) {
						errors.splice(index, 1);
						this.$emit('update:errorFields', errors);
					}
				}
			}
		}
	},

	methods: {
		clickDelete(event) {
			if (!this.isHasContract) {
				this.$emit('clickDelete', event);
			}
		},

		changeToggle(event) {
			this.$emit('changeToggle', event);
		},

		changeName(event) {
			this.$emit('changeName', event);
		},

		changeFloor(event) {
			this.$emit('changeFloor', event);
		},

		async validate() {
			await this.$validator.validate('roomAllotment.*');
			return Promise.resolve();
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */
.room-allotment-card {
	::v-deep .vue-js-switch.toggled.disabled {
		opacity: 0.4;
	}
}

.flex-parent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	padding: 0;
	padding: 4px;
	font-size: 24px;
	color: #757575;
	background-color: transparent;
	border: 0;
}

.numbering {
	width: 32px;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	background-color: #e8e8e8;
	border-radius: 50%;
}

.text-occupied {
	font-weight: bold;
}

.delete-button {
	&.delete--disabled {
		pointer-events: none;
		.icon-delete {
			color: #e6e6e6;
		}
	}
}

.room-tooltip {
	.icon-info {
		font-size: 25px;
	}
}
</style>
