<template>
	<snackbar
		v-model="isOpen"
		show-button-close
		class="room-allotment-confirmation"
	>
		<div class="row">
			<div v-if="type === 'back'" class="col-xs-12 el-center">
				<img
					v-lazy="'/general/img/pictures/consultant/mami_stop.png'"
					alt="Back Confirmation"
				/>
			</div>
			<div class="col-xs-12">
				<h4>
					<strong>{{ content.title }}</strong>
				</h4>
			</div>
			<div class="col-xs-12">
				<p class="text-muted">{{ content.subtitle }}</p>
			</div>
			<div class="col-xs-12 mb-2">
				<div class="row">
					<div class="col-xs-6">
						<Button
							color="secondary"
							outline
							large
							block
							@click="isOpen = false"
						>
							{{ content.cancelText || 'Batalkan' }}
						</Button>
					</div>
					<div class="col-xs-6">
						<Button
							:loading="loadingButton"
							large
							block
							@click="handleClickButtonRight"
						>
							{{ content.buttonText }}
						</Button>
					</div>
				</div>
			</div>
		</div>
	</snackbar>
</template>

<script>
import Snackbar from 'Consultant/components/Snackbar';
import Button from 'Consultant/components/ConsultantButton.vue';

export default {
	name: 'RoomAllotmentConfirmation',

	components: {
		Snackbar,
		Button
	},

	props: {
		loadingButton: Boolean
	},

	data() {
		return {
			isOpen: false,
			type: '',
			listContent: {
				add: {
					title: 'Yakin ingin tambah kamar baru?',
					subtitle: 'Pastikan jumlah kamar sesuai dengan yang dimiliki kos.',
					buttonText: 'Tambah Kamar'
				},
				delete: {
					title: 'Yakin ingin hapus kamar ini?',
					subtitle: 'Kamu akan menghapus kamar dari kos.',
					buttonText: 'Hapus'
				},
				back: {
					title: 'Mohon Perhatiannya Sebentar',
					subtitle:
						'Data yang telah dimasukkan pada halaman ini belum disimpan. Yakin ingin pindah halaman?',
					buttonText: 'Ya, Pindahkan'
				},
				activateSwitch: {
					title: 'Yakin ingin menandai kamar ini “Sudah Berpenghuni”?',
					subtitle: 'Kamar akan ditandai terisi/sudah berpenghuni.',
					buttonText: 'Ya',
					cancelText: 'Tidak'
				},
				deactivateSwitch: {
					title: 'Yakin ingin menghapus tanda “Sudah Berpenghuni”?',
					subtitle: 'Kamar akan ditandai kosong/tidak berpenghuni.',
					buttonText: 'Ya',
					cancelText: 'Tidak'
				}
			}
		};
	},

	computed: {
		content() {
			return (
				this.listContent[this.type] || {
					title: '',
					subtitle: '',
					buttonText: ''
				}
			);
		}
	},

	watch: {
		isOpen(value) {
			if (!value) {
				this.$emit('close');
			}
		}
	},

	methods: {
		/**
		 * @public
		 */
		confirmation(isOpen, type = '') {
			this.type = type;
			this.$nextTick(() => {
				this.isOpen = isOpen;
			});
		},

		handleClickButtonRight() {
			switch (this.type) {
				case 'add':
					this.$emit('addRoom');
					break;

				case 'delete':
					this.$emit('deleteRoom');
					break;

				case 'back':
					this.$emit('onBack');
					break;

				case 'activateSwitch':
					this.$emit('onToggleSwitch');
					break;

				case 'deactivateSwitch':
					this.$emit('onToggleSwitch');
					break;
			}
		}
	}
};
</script>
