<template>
	<div class="box box-primary list-page">
		<form-modal
			v-model="isFormModalShown"
			:experiment-id="$route.params.id"
			modal-type="edit"
			data-testid="modalForm"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<confirmation-modal
			v-model="isConfirmationModalShown"
			:experiment-id="$route.params.id"
			:modal-type="confirmationModalType"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<extend-duration-modal
			v-model="isExtendDurationModalShown"
			:experiment-id="$route.params.id"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<bg-alert
			v-if="isSuccessAlertShown"
			variant="success"
			style="margin: 6px 16px;"
			:closable="false"
			:title="submitSucceedMsg"
			data-testid="success-alert"
		/>

		<div v-if="isLoadingExperiment" data-testid="loading-indicator">
			Loading ...
		</div>
		<div v-else-if="errorLoadExperimentMsg" data-testid="error-msg">
			{{ errorLoadExperimentMsg }}
		</div>
		<div v-else>
			<div class="box-header">
				<div class="row">
					<div class="col-md-6">
						<h3 class="box-title">
							{{ detailData.name_experiment.toUpperCase() }}
						</h3>
					</div>
					<div class="col-md-6">
						<div class="pull-right" style="margin-top: 5px;">
							<bg-button
								v-if="experimentStatus === 'Not Yet'"
								variant="primary"
								size="sm"
								data-testid="start-btn"
								@click="showConfirmationModal('start')"
							>
								Start
							</bg-button>
							<bg-button
								v-if="experimentStatus === 'Running'"
								variant="destructive"
								size="sm"
								data-testid="stop-btn"
								@click="showConfirmationModal('stop')"
							>
								Stop
							</bg-button>
							<bg-button
								v-if="experimentStatus === 'Not Yet'"
								variant="destructive"
								size="sm"
								data-testid="delete-btn"
								@click="showConfirmationModal('delete')"
							>
								Delete
							</bg-button>
							<bg-button
								v-if="experimentStatus === 'Not Yet'"
								variant="secondary"
								size="sm"
								data-testid="edit-btn"
								@click="isFormModalShown = true"
							>
								Edit
							</bg-button>
							<bg-button
								v-if="experimentStatus === 'Running'"
								variant="secondary"
								size="sm"
								data-testid="extend-btn"
								@click="isExtendDurationModalShown = true"
							>
								Extend
							</bg-button>
							&nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box-body no-padding">
				<div class="horizontal-wrapper bg-default">
					<br />
					<dl class="dl-horizontal">
						<dt>Experiment Start Date</dt>
						<dd>{{ detailData.start_date || '-' }}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>Experiment End Date</dt>
						<dd>{{ detailData.end_date || '-' }}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>Actual End Date</dt>
						<dd>{{ detailData.stopped_at || '-' }}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>Status</dt>
						<dd>{{ experimentStatus }}</dd>
					</dl>

					<div class="clearfix"></div>
				</div>
			</div>

			<div class="box-header">
				<h3 class="box-title">COMPARISONS</h3>
			</div>

			<div class="box-body no-padding">
				<table class="table">
					<tbody>
						<tr>
							<td colspan="3"></td>
							<td>
								<b>Control</b>
							</td>
							<td>
								<b>Variant A</b>
							</td>
							<td>
								<b>Variant B</b>
							</td>
						</tr>
						<tr>
							<td colspan="3"><b>Name</b></td>
							<td>{{ detailData.control_name }}</td>
							<td>{{ detailData.varian_a_name }}</td>
							<td>{{ detailData.varian_b_name || '-' }}</td>
						</tr>
						<tr>
							<td colspan="3"><b>Weight (%)</b></td>
							<td>{{ detailData.control_value }}%</td>
							<td>{{ detailData.varian_a_value }}%</td>
							<td>{{ detailData.varian_b_value }}%</td>
						</tr>
						<tr>
							<td colspan="3"><b>Participants</b></td>
							<td>{{ detailData.total_user_control }}</td>
							<td>{{ detailData.total_user_varian_a }}</td>
							<td>{{ detailData.total_user_varian_b }}</td>
						</tr>
					</tbody>

					<!-- Goals Section -->
					<tbody v-for="(key, index) in goalsData" :key="index">
						<tr>
							<td>
								<b>{{ index === 0 ? 'Goals' : '' }}</b>
							</td>
							<td>{{ key.goal }}</td>
							<td>Conversion</td>
							<td>{{ key.conversion_control }}</td>
							<td>{{ key.conversion_varian_a }}</td>
							<td>{{ key.conversion_varian_b }}</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td>Conversion Rates</td>
							<td>{{ key.conversion_rates_control }}</td>
							<td>
								{{ key.conversion_rates_varian_a }}
								<span
									:style="{
										color: growthColorStyle(
											rateGrowth(
												key.conversion_rates_varian_a,
												key.conversion_rates_control
											)
										),
										'font-weight': 'bold'
									}"
								>
									({{
										rateGrowth(
											key.conversion_rates_varian_a,
											key.conversion_rates_control
										)
									}}%)
								</span>
							</td>
							<td>
								{{ key.conversion_rates_varian_b }}
								<span
									:style="{
										color: growthColorStyle(
											rateGrowth(
												key.conversion_rates_varian_a,
												key.conversion_rates_control
											)
										),
										'font-weight': 'bold'
									}"
								>
									({{
										rateGrowth(
											key.conversion_rates_varian_b,
											key.conversion_rates_control
										)
									}}%)
								</span>
							</td>
						</tr>
						<tr
							v-if="
								ABResultWinner(experimentStatus, {
									control: key.conversion_rates_control,
									variantA: key.conversion_rates_varian_a,
									variantB: key.conversion_rates_varian_b
								}) !== ''
							"
						>
							<td><b>Result</b></td>
							<td colspan="2"></td>
							<td>
								<b>
									{{
										ABResultWinner(experimentStatus, {
											control: key.conversion_rates_control,
											variantA: key.conversion_rates_varian_a,
											variantB: key.conversion_rates_varian_b
										}) === 'control'
											? 'WINNER'
											: ''
									}}
								</b>
							</td>
							<td>
								<b>
									{{
										ABResultWinner(experimentStatus, {
											control: key.conversion_rates_control,
											variantA: key.conversion_rates_varian_a,
											variantB: key.conversion_rates_varian_b
										}) === 'variantA'
											? 'WINNER'
											: ''
									}}
								</b>
							</td>
							<td>
								<b>
									{{
										ABResultWinner(experimentStatus, {
											control: key.conversion_rates_control,
											variantA: key.conversion_rates_varian_a,
											variantB: key.conversion_rates_varian_b
										}) === 'variantB'
											? 'WINNER'
											: ''
									}}
								</b>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<br />
	</div>
</template>

<script>
/* eslint-disable camelcase */
import { BgButton, BgAlert } from 'bangul-vue';
import _get from 'lodash/get';

import ConfirmationModal from '../components/ConfirmationModal';
import ExtendDurationModal from '../components/ExtendDurationModal';
import FormModal from '../components/FormModal';
import { EP_DETAIL_EXPERIMENT } from '../constants/endpoints';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import {
	getStatus,
	conversionRatesGrowth,
	growthColor
} from '../utils/helpers';

export default {
	components: {
		BgButton,
		BgAlert,
		ConfirmationModal,
		ExtendDurationModal,
		FormModal
	},
	data() {
		return {
			detailData: {},
			confirmationModalType: null,
			isLoadingExperiment: true,
			isConfirmationModalShown: false,
			isExtendDurationModalShown: false,
			isSuccessAlertShown: false,
			isFormModalShown: false,
			errorLoadExperimentMsg: null,
			submitSucceedMsg: '',
			experimentStatus: ''
		};
	},
	computed: {
		goalsData() {
			return _get(this.detailData, 'goals', []);
		}
	},
	watch: {
		isSuccessAlertShown(isShown) {
			if (isShown) {
				setTimeout(() => {
					this.isSuccessAlertShown = false;
				}, 5000);
			}
		}
	},
	mounted() {
		this.fetchExperimentDetail();
	},
	methods: {
		async fetchExperimentDetail() {
			try {
				const { id } = this.$route.params;

				this.isLoadingExperiment = true;

				const response = await makeAPICall({
					method: 'post',
					url: EP_DETAIL_EXPERIMENT,
					data: { experiment_id: id }
				});

				if (response) {
					this.detailData = response.data;

					this.experimentStatus = getStatus(
						response.data.is_active,
						response.data.start_date
					);

					this.isLoadingExperiment = false;
				} else {
					throw new Error();
				}
			} catch (err) {
				this.isLoadingExperiment = false;
				this.errorLoadExperimentMsg = 'Something went wrong. Please try again';
			}
		},

		showConfirmationModal(actionType) {
			this.isConfirmationModalShown = true;
			this.confirmationModalType = actionType;
		},

		submitSucceedCallback(successMsg = 'Data is successfully updated') {
			if (this.confirmationModalType === 'delete') {
				this.$router.replace('/');
			} else {
				this.fetchExperimentDetail();
			}

			this.submitSucceedMsg = successMsg;
			this.isSuccessAlertShown = true;
		},

		ABResultWinner(experimentStatus, conversionRateValues) {
			if (experimentStatus !== 'Done') return '';

			const { control = 0, variantA = 0, variantB = 0 } = conversionRateValues;

			if (control > variantA && control > variantB) {
				return 'control';
			} else if (variantA > control && variantA > variantB) {
				return 'variantA';
			} else if (variantB > control && variantB > variantA) {
				return 'variantB';
			}

			return '';
		},

		/** This function is just a tunnel to the real function */
		rateGrowth(variantRate, controlRate) {
			return conversionRatesGrowth(variantRate, controlRate);
		},

		growthColorStyle(value) {
			return growthColor(value);
		}
	}
};
</script>
