<template>
	<div class="box box-primary list-page">
		<form-modal
			v-model="isFormModalShown"
			:experiment-id="selectedId"
			:modal-type="formModalType"
			data-testid="modalForm"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<confirmation-modal
			v-model="isConfirmationModalShown"
			:experiment-id="selectedId"
			:modal-type="confirmationModalType"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<extend-duration-modal
			v-model="isExtendDurationModalShown"
			:experiment-id="selectedId"
			@submit-succeed-callback="submitSucceedCallback"
		/>

		<div class="box-header">
			<h3 class="box-title">Experiments</h3>
		</div>

		<div class="box-body no-padding" style="overflow-x: scroll;">
			<div class="horizontal-wrapper">
				<div class="btn-horizontal-group bg-default form-inline">
					<div class="col-md-6 bg-default">
						<!-- <bg-input size="md" placeholder="Search by experiment name" /> -->
					</div>
					<div class="col-md-6 bg-default">
						<bg-button-icon
							variant="primary"
							icon="add-plus"
							class="pull-right"
							data-testid="add-new-btn"
							@click="showFormModal('add')"
						>
							Add New
						</bg-button-icon>
					</div>
				</div>
			</div>

			<br />

			<bg-alert
				v-if="isSuccessAlertShown"
				variant="success"
				style="margin: 6px 16px;"
				:closable="false"
				:title="submitSucceedMsg"
				data-testid="success-alert"
			/>

			<div v-if="isLoadingExperiment" data-testid="loading-indicator">
				Loading ...
			</div>
			<div v-else-if="errorLoadExperimentMsg" data-testid="error-msg">
				{{ errorLoadExperimentMsg }}
			</div>
			<table v-else class="table table-striped" style="min-width: 1500px;">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Duration (day)</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Actual End Date</th>
						<th>Is Active</th>
						<th>Status</th>
						<th>Min. Sample</th>
						<th>User Type</th>
						<th>Control Name</th>
						<th>Weight Control (%)</th>
						<th>Varian A Name</th>
						<th>Varian A (%)</th>
						<th>Varian B Name</th>
						<th>Varian B (%)</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(value, index) in experimentData" :key="index">
						<td>{{ ++index }}.</td>
						<td>{{ value.name_experiment }}</td>
						<td>{{ value.day_duration }}</td>
						<td>{{ value.start_date }}</td>
						<td>{{ value.end_date }}</td>
						<td>{{ value.stopped_at }}</td>
						<td>{{ value.is_active }}</td>
						<td>{{ statusName(value.is_active, value.start_date) }}</td>
						<td>{{ value.max_user }}</td>
						<td>{{ value.user_type }}</td>
						<td>{{ value.control_name }}</td>
						<td>{{ value.control_value }}</td>
						<td>{{ value.varian[0] ? value.varian[0].varian_name : '-' }}</td>
						<td>{{ value.varian[0] ? value.varian[0].varian_value : '-' }}</td>
						<td>{{ value.varian[1] ? value.varian[1].varian_name : '-' }}</td>
						<td>{{ value.varian[1] ? value.varian[1].varian_value : '-' }}</td>
						<td width="100">
							<bg-dropdown
								menu-size="fit-to-content"
								menu-text-size="md"
								trigger-size="sm"
								trigger-text="Option"
								data-testid="option-btn"
							>
								<bg-dropdown-item
									v-if="
										statusName(value.is_active, value.start_date) === 'Not Yet'
									"
									@click="showConfirmationModal('start', value.id)"
								>
									Start
								</bg-dropdown-item>
								<bg-dropdown-item @click="$router.push(`detail/${value.id}`)">
									Monitor
								</bg-dropdown-item>
								<bg-dropdown-item
									v-if="
										statusName(value.is_active, value.start_date) === 'Running'
									"
									@click="showConfirmationModal('stop', value.id)"
								>
									Stop
								</bg-dropdown-item>
								<bg-dropdown-item
									v-if="
										statusName(value.is_active, value.start_date) === 'Not Yet'
									"
									@click="showConfirmationModal('delete', value.id)"
								>
									Delete
								</bg-dropdown-item>
								<bg-dropdown-item
									v-if="
										statusName(value.is_active, value.start_date) === 'Not Yet'
									"
									data-testid="edit-btn"
									@click="showFormModal('edit', value.id)"
								>
									Edit
								</bg-dropdown-item>
								<bg-dropdown-item
									v-if="
										statusName(value.is_active, value.start_date) === 'Running'
									"
									data-testid="extend-btn"
									@click="showExtendDurationModal(value.id)"
								>
									Extend
								</bg-dropdown-item>
							</bg-dropdown>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- <div class="box-body no-padding">
			<div class="col-md-12 bg-default">
				Pagination here
			</div>
		</div> -->
	</div>
</template>

<script>
import { BgDropdown, BgDropdownItem, BgButtonIcon, BgAlert } from 'bangul-vue';

import { EP_LIST_EXPERIMENTS } from '../constants/endpoints';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import FormModal from '../components/FormModal';
import ConfirmationModal from '../components/ConfirmationModal';
import ExtendDurationModal from '../components/ExtendDurationModal';
import { getStatus } from '../utils/helpers';

export default {
	components: {
		BgDropdown,
		BgDropdownItem,
		FormModal,
		ConfirmationModal,
		// BgInput,
		ExtendDurationModal,
		BgButtonIcon,
		BgAlert
	},
	data() {
		return {
			selectedId: 0,
			confirmationModalType: null,
			formModalType: null,
			experimentData: [],
			isFormModalShown: false,
			isConfirmationModalShown: false,
			isExtendDurationModalShown: false,
			isLoadingExperiment: true,
			isSubmitting: false,
			isSuccessAlertShown: false,
			errorLoadExperimentMsg: null,
			submitSucceedMsg: ''
		};
	},
	watch: {
		isSuccessAlertShown(isShown) {
			if (isShown) {
				setTimeout(() => {
					this.isSuccessAlertShown = false;
				}, 5000);
			}
		}
	},
	mounted() {
		this.fetchExperimentData();
	},
	methods: {
		async fetchExperimentData() {
			try {
				this.isLoadingExperiment = true;

				const response = await makeAPICall({
					method: 'post',
					url: EP_LIST_EXPERIMENTS,
					data: { page: 1, limit: 100 }
				});

				if (response) {
					const { data } = response;

					this.experimentData = data.experiments;

					this.isLoadingExperiment = false;
				} else {
					throw new Error();
				}
			} catch (err) {
				this.isLoadingExperiment = false;
				this.errorLoadExperimentMsg = 'Something went wrong. Please try again';
			}
		},

		showConfirmationModal(actionType, experimentId) {
			this.isConfirmationModalShown = true;
			this.selectedId = experimentId;
			this.confirmationModalType = actionType;
		},

		showExtendDurationModal(experimentId) {
			this.isExtendDurationModalShown = true;
			this.selectedId = experimentId;
		},

		showFormModal(actionType, experimentId = null) {
			this.isFormModalShown = true;
			this.formModalType = actionType;

			if (actionType === 'edit') this.selectedId = experimentId;
		},

		submitSucceedCallback(successMsg = 'Data is successfully updated') {
			this.fetchExperimentData();
			this.isSuccessAlertShown = true;
			this.submitSucceedMsg = successMsg;
		},

		statusName(isActive, startDate) {
			return getStatus(isActive, startDate);
		}
	}
};
</script>
