<template>
	<div class="main-container">
		<hr class="main_container__line" />
		<h1 class="title">Tidak Ada Poin yang Tersedia</h1>
		<div class="subtitle">
			<p class="subtitle__content">
				Yuk mulai kumpulkan poin Kamu.
			</p>
			<p class="link" @click="sendMamipoinGuidelineTrackerEvent">
				<router-link to="/mamipoin/guideline">Lihat Caranya</router-link>
			</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MamipoinExpiredEmpty',
	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	},
	methods: {
		sendMamipoinGuidelineTrackerEvent() {
			tracker('moe', [
				'[User] MamiPoin Guideline Tab Viewed',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: '[User] MamiPoin Expired Info Page',
					point_total: this.$store.state.totalPoin.point
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
.main-container {
	width: 655px;

	&__Line {
		height: 1px;
		margin: 0px;
		background: #e8e8e8;
		margin: 48px 0px 0px 0px;
	}
}

.title {
	color: #303030;
	font-family: Lato;
	text-align: center;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 28px;
	margin: 80px 0px 0px 0px;
}

.subtitle {
	&__content {
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #757575;
		margin-top: 12px;
	}
}
a {
	text-decoration: none;
}
.link {
	margin: 0;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	color: #1baa56;
	text-align: center;
	text-decoration: none;
	position: relative;
	bottom: 5px;
	text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.main-container {
		width: 100%;
		&__Line {
			height: 1px;
			margin: 0px;
			background: #e8e8e8;
			margin: 0px;
			margin-top: 80px;
		}
	}
}

@media (max-width: 767px) {
	.main-container {
		width: 100%;
	}
}
</style>
