<template>
	<div>
		<div v-if="allListData" class="main-container">
			<div class="main-container__table">
				<h1 class="table-title">Tanggal Kedaluwarsa</h1>
				<h1 class="table-title-right">Jumlah MamiPoin</h1>
			</div>
			<hr class="main-container__line" />
			<div v-for="(item, key) in listData" :key="key">
				<div class="list">
					<div class="list__date">{{ toMonth(item.expired_date) }}</div>
					<div class="list__poin">
						<span
							><img
								class="list__coin"
								v-lazy="`/general/img/icons/ic_coin.svg`"/></span
						>{{ toThousand(item.total_point) }}
					</div>
				</div>
				<hr class="line" />
			</div>
		</div>
		<mamipoin-expired-empty v-if="!loadListData && !allListData" />
		<div v-if="loadListData" class="skeleton">
			<mamipoin-skeleton />
		</div>
	</div>
</template>

<script>
import moment from 'moment';
import MamipoinExpiredEmpty from './MamipoinExpiredEmpty';
import MamipoinSkeleton from '../MamipoinSkeleton';
export default {
	name: 'MamipoinExpiredList',
	components: {
		MamipoinExpiredEmpty,
		MamipoinSkeleton
	},
	props: {
		listData: {
			type: Array,
			required: true
		},
		loadListData: {
			type: Boolean,
			default: true
		}
	},
	computed: {
		allListData() {
			return this.listData.length > 0 ? true : false;
		}
	},
	methods: {
		toMonth(date) {
			moment.locale('id');
			return moment(date).format('DD MMM YYYY');
		},
		toThousand(poin) {
			if (poin > 0) {
				return poin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.main-container {
	width: 656px;
	margin-top: 27px;
	font-family: Lato;
	font-style: normal;
	&__table {
		display: flex;
		margin-top: 18px;
	}
	&__line {
		height: 1px;
		margin: 0px;
		background: #dbdbdb;
		border: 0px;
	}
}
.table-title {
	width: 328px;
	height: 56px;
	padding: 14px 0px 14px 32px;
	margin: 0;
	font-size: 20px;
	font-weight: 900;
	line-height: 28px;
	color: #303030;
}
.table-title-right {
	width: 328px;
	height: 56px;
	padding: 14px 0px 14px 32px;
	margin: 0;
	font-size: 20px;
	font-weight: 900;
	line-height: 28px;
	color: #303030;
}

.list {
	display: flex;
	margin: 0;
	&__date {
		width: 328px;
		height: 56px;
		font-weight: normal;
		font-size: 20px;
		line-height: 30px;
		color: #303030;
		padding: 16px 24px 16px 32px;
	}

	&__poin {
		width: 328px;
		height: 56px;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #303030;
		padding: 16px 0px 12px 32px;
	}

	&__coin {
		max-width: 24px;
		max-height: 24px;
		margin: 0px 8px 0px 0px;
		position: relative;
		bottom: 4px;
	}
}
.line {
	height: 1px;
	margin: 0px;
	background: #dbdbdb;
	border: 0px;
}

.skeleton {
	margin-top: 25px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.main-container {
		width: 100%;
		&__line {
			height: 1px;
			margin: 30px 0px 0px 0px;
			background: #dbdbdb;
			border: 0px;
		}
	}

	.table-title-right {
		width: 328px;
		height: 56px;
		padding: 14px 12px 14px 32px;
		margin: 0;
		font-size: 20px;
		font-weight: 900;
		line-height: 28px;
		color: #303030;
	}
}

@media (max-width: 767px) {
	.main-container {
		width: 100%;
		margin-top: 24px;
		&__line {
			height: 1px;
			margin: 30px 0px 0px 0px;
			background: #dbdbdb;
			border: 0px;
		}
	}

	.table-title {
		width: 124px;
		height: 45px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		margin: 0px 64px 0px 0px;
		line-height: 24px;
		color: #303030;
	}

	.table-title-right {
		width: 124px;
		height: 45px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		margin: 0px 64px 0px 0px;
		line-height: 24px;
		color: #303030;
	}
	.skeleton {
		margin-top: 2px;
	}

	.list {
		&__coin {
			max-width: 20px;
			max-height: 20px;
			margin: 0px 8px 0px 0px;
			position: relative;
			bottom: 3px;
		}

		&__date {
			font-size: 16px;
			line-height: 24px;
		}

		&__poin {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

@media (min-width: 412px) and (max-width: 420px) {
	.table-title-right {
		width: 124px;
		height: 45px;
		font-family: Lato;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		margin: 0px 64px 0px 24px;
		line-height: 24px;
		color: #303030;
	}
}

@media (max-width: 327px) {
	.table-title {
		margin: 0px 44px 0px 0px;
	}
}
</style>
