.booking-section {
	&__container {
		width: 1170px;
		padding: 4rem 0;
		margin: 0 auto;

		@media (max-width: 1024px) {
			width: 90%;
		}

		@media (max-width: 767px) {
			width: 100%;
			padding: 44px 16px;
			text-align: center;
		}
	}

	&__heading {
		margin-bottom: 21px;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.5;
		color: #242424;

		@media (max-width: 767px) {
			font-size: 24px;
		}
	}

	&__subheading {
		font-size: 20px;
	}

	&__title {
		font-size: 24px;
		font-weight: bold;
		color: #242424;

		@media (max-width: 767px) {
			font-size: 20px;
		}
	}

	&__text {
		font-size: 20px;
		color: #484848;

		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
}

.booking-button {
	padding: 10px 22px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #1baa56;
	border: 0;
	border-radius: 4px;

	&:hover,
	&:focus {
		background-color: #1baa56;
	}

	&.--small,
	&.--small-outline {
		padding: 8px 12px;
		margin: 7px 15px;
		font-size: 14px;
		border: 1px solid #1baa56;
		border-radius: 4px;
		transition: 0.1s ease-in-out;
	}

	&.--small {
		@media (max-width: 767px) {
			float: right;
			width: 131px;
			padding: 7px 16px;
			margin-left: 0;
			font-size: 12px;
		}

		&:hover,
		&:focus {
			color: #fff;
			background-color: #1baa56;
		}
	}

	&.--small-outline {
		color: #1baa56;
		background-color: #fff;

		&:hover,
		&:focus {
			color: #1baa56;
			background-color: #fff;
		}
	}
}

.booking-shadow {
	box-shadow: 0 10px 15px 2px rgba(219, 219, 219, 1);

	&--green {
		box-shadow: 0 10px 20px -10px rgba(27, 170, 86, 1);
	}
}
