.custom-dashed {
	margin: 16px 0;
	border-top: 1px dashed #e8e8e8;
	&.small-margin {
		margin: 8px 0;
	}
}

.section-title {
	margin: 0;
	font-size: 18px;
	font-weight: 900;
}

.section-divider {
	position: relative;
	padding-top: 28px;
	padding-bottom: 40px;
	&.small-padding {
		padding-bottom: 32px;
	}
	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: calc(100% + 40px);
		height: 12px;
		margin: 0 -20px;
		content: '';
		background-color: #f5f5f5;
		box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
	}
}

ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.fake-table {
	li {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		align-items: flex-start;
		div {
			flex: 0 1 auto;
		}
		div:last-child {
			font-weight: bold;
		}
		& + li {
			padding-top: 8px;
		}
	}

	&.soft {
		li div:first-child {
			font-weight: normal;
			color: #949494;
		}
	}

	&.normal {
		li div:first-child {
			font-weight: normal;
		}
	}
}
