<template>
    <div class="singgahsini-form-container__section">

    <div v-if="isMobile" class="singgahsini-form-popup" id="formPopupDepanKamar">
        <span class="singgahsini-form-popup__close" id="formPopupCloseDepanKamar">
        </span>
        <div class="singgahsini-form-popup__container">
          <div class="singgahsini-form-popup__drag-icon">
            <bg-icon name="add-minus" size="md" />
          </div>
          <div class="singgahsini-form-popup__title">
            Anda Belum Memilih Foto
          </div>
          <div class="singgahsini-form-popup__subtitle">
            Silakan ambil foto terlebih dahulu atau pilih gambar yang tersedia di galeri foto Anda.
          </div>
          <div class="singgahsini-form-popup__button">
            <div class="take-photo">
              <button
							@click="capturePhotoMobileDepanKamar"
							 class="btn-take-photo">
							 Ambil Foto
							 </button>
								<input
									type="file" 
									accept="image/*"
									capture="user"
									id="captureFileDepanKamarId"
									style="display: none;"
									@change="previewDepanKamar"
								/>
            </div>
            <div class="choose-photo">
              <button 
              @click="uploadMobileDepanKamar" 
              class="btn-choose-photo">
              Pilih dari Galeri
              </button>
          </div>
        </div>
      </div>
    </div>

      <!-- Form components will be here -->
        <div class="singgahsini-form-container__card-container">
            <h2 class="singgahsini-form-container__card-title">
              Foto depan kamar (tidak wajib)
            </h2>
            <h4 class="singgahsini-form-container__card-subtitle">
              Foto bagian depan kamar dari pintu dengan cahaya terang dan jelas.
            </h4>

            <div class="singgahsini-form-container__card">
                <input
                  ref="imageInput"
                  type="file"
                  accept="image/png,image/jpeg,image/jpg"
                  id="inputFileDepanKamar"
                  style="display: none;"
                  @change="previewDepanKamar"
                />
                <div 
                v-if="this.getDepanKamarLength().length === 0"
                @click="uploadDesktopDepanKamar"
                @dragover.prevent
                @drop="onDrop"
                id="cardClickDepanKamar"
                class="singgahsini-form-container__card-unfilled-wrapper">
									<div class="singgahsini-form-container__card-unfilled">
										<bg-icon name="upload" size="md" />
										<div class="singgahsini-form-container__card-caption-drag">
											Tarik dan lepaskan file Anda di sini
										</div>
										<div class="singgahsini-form-container__card-caption-atau">
											atau
										</div>
											<div class="singgahsini-form-container__card-caption-telusuri">
												<span class="desktop-caption">Buka file Anda</span>
												<span class="mobile-caption">Pilih file di sini</span>
										</div>
									</div>
									<div 
									v-if="isMaxUpload" class="singgahsini-form-container__validation">
										Ukuran file foto terlalu besar (Max 2MB)
									</div>
                </div>
                <div 
                v-for="(photoDepanKamar, index) in getDepanKamar" 
                :key="index" 
                class="singgahsini-form-container__card-filled" id="imagePreviewContainer">

                <div
                  @click="deleteImage(photoDepanKamar)"
                  class="close-icon">
                  <bg-icon 
                  name="error-round-glyph"
                  size="md" />
                </div>
                  
                  <img 
                  :src="`${photoDepanKamar.pict}`" 
                  alt="Image Preview" 
                  class="image-preview">

                </div>
                <div 
								v-if="this.getDepanKamarLength().length > 0 && this.getDepanKamarLength().length < 2">
									<div 
										@click="uploadDesktopDepanKamar"
										@dragover.prevent
										@drop="onDrop"
										class="singgahsini-form-container__add-photos">
											Tambah Foto
									</div>
									<div 
										v-if="isMaxUpload" class="singgahsini-form-container__validation">
											Ukuran file foto terlalu besar (Max 2MB)
									</div>
								</div>
              </div>
            </div>
          </div>
</template>

<script>
import MixinIsMobile from '../../mixins/MixinIsMobile';
import { BgIcon } from 'bangul-vue';

export default {
	name: 'RegisterPhotoDataDepanKamar',
	data(){
		return {
			imagePreview: null,
			loadedImage: null,
			DepanKamarLength: 0,
			isCaptured : false,
			MAX_UPLOAD : 2000000,
			isMaxUpload : false
		}
	},
	components: {
		BgIcon
	},
	mounted(){
		if(this.isMobile){
			this.addFormPopupEventListener()	
		}
	},
	methods:{
		addFormPopupEventListener(){
		var formPopupContainer = document.getElementById('formPopupDepanKamar');
		var forms = document.getElementById('cardClickDepanKamar');
		var formPopupClose = document.getElementById('formPopupCloseDepanKamar');

		
			forms.addEventListener('click', () => {
				formPopupContainer.style.display = 'flex';
			});

		formPopupClose.addEventListener('click', () => {
				formPopupContainer.style.display = 'none';
			});

		},
		uploadDesktopDepanKamar(){
			if(!this.isMobile){
				this.uploadMobileDepanKamar();
			} else {
				this.captureMobileDepanKamar();
			}
		},
		uploadMobileDepanKamar(){
			document.getElementById('inputFileDepanKamar').click();
		},
		captureMobileDepanKamar(){
			document.getElementById('formPopupDepanKamar').style.display = 'flex';
		},
		capturePhotoMobileDepanKamar(){
			document.getElementById('captureFileDepanKamarId').click();
		},
		handlerIsCaptured(payload){
				this.isCaptured=payload
		},
		getIsCaptured(){
			return this.$store.state.isCaptured;
		},
		async previewDepanKamar(event){
			if(this.isMobile){
				document.getElementById('formPopupDepanKamar').style.display = 'none';
			}
			let imageFiles = event.target.files[0];
			
			if(imageFiles.size < this.MAX_UPLOAD){
				this.isMaxUpload = false;
				const responseSaveImage = await this.uploadImages(imageFiles, 4);
	
				if (imageFiles.type.includes('image') && responseSaveImage.success){
					this.$store.dispatch('addDepanKamarPhotoId', responseSaveImage.data.photo_id);
					let getPhotoId = responseSaveImage.data.photo_id;
					this.getPhotoDepanKamar(imageFiles, getPhotoId);
				}
			}
			else{
				this.isMaxUpload = true;
			}
		},
		deleteImage(photoDepanKamar){
			this.isMaxUpload = false;
			//delete photo.jpg file
			this.$store.dispatch('deleteDepanKamarPhoto', photoDepanKamar);
			//delete photo_id
			this.$store.dispatch('deleteDepanKamarPhotoId', photoDepanKamar.photo_id);
			let getDepanKamarLength = this.$store.state.photo.previewDepanKamar.length;
			this.DepanKamarLength = getDepanKamarLength;
		},
		async onDrop(event){
			let imageFiles = event.dataTransfer.files[0];
			event.preventDefault();
			event.stopPropagation();

			if(imageFiles.size < this.MAX_UPLOAD){
				this.isMaxUpload = false;
				const responseSaveImage = await this.uploadImages(imageFiles, 4);
	
				if (imageFiles.type.includes('image') && responseSaveImage.success){
					event.preventDefault();
					event.stopPropagation();
					let getPhotoId = responseSaveImage.data.photo_id;
					this.$store.dispatch('addDepanKamarPhotoId', getPhotoId);
					this.getPhotoDepanKamar(imageFiles, getPhotoId)
				}
			}
			else{
				this.isMaxUpload = true;
			}
		},
		getDepanKamarLength(){
			return this.$store.state.photo.previewDepanKamar;
		},
		getPhotoDepanKamar(imageFiles, getPhotoId){
			// Create FileReader object.
			let fileReader = new FileReader();
			// Get file's base64 Data URI.
			fileReader.readAsDataURL(imageFiles)
			// Listen to fileReader's 'load' event.
			fileReader.onload = (readerEvent) => {
				this.loadedImage = readerEvent.target.result
				this.$store.dispatch('addDepanKamarPhoto', {
					pict: readerEvent.target.result,
					photo_id: getPhotoId
					});
				}
			let getDepanKamarLength = this.$store.state.photo.previewDepanKamar.length;
			this.DepanKamarLength = getDepanKamarLength + 1;
		},
		async uploadImages(imageFile, type) {
			const result = { success: false, data: {} };
			const formData = new FormData();
			
			formData.append('photo', imageFile);
			formData.append('type', type);

			try {
				const response = await axios.post('singgahsini/upload-photo/', formData,
				{
					headers: {
						'Content-Type': 'multipart/form-data'
    			}
				});

				if (response.data.status && response.data.data.message !== undefined) {
					result.success = true;
					result.data = response.data.data;
				} else {
					result.data = response.data.message;
				}
			} catch (error) {
				bugsnagClient.notify(error);
				console.log('error', error)
			}

			return result;
		}
	},
	computed:{
		getDepanKamar(){
			return this.$store.state.photo.previewDepanKamar;
		},
	},
	mixins: [MixinIsMobile],
};
</script>

<style lang="scss" scoped>
.singgahsini-form-popup{
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	&__close{
		position: absolute;
		top: 0px;
		left: 0px;
    height: 100%;
    width: 100vw;
	}

	&__title{
		font-weight: 900;
		font-size: 20px;
	}

	&__subtitle{
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
	}
	
	&__container{
		padding: 0px 16px;
		background-color: white;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 236px;
		border-radius: 16px 16px 0px 0px;

    @media (max-width: 769px) {
			min-height: 236px;
		}
	}

	&__drag-icon{
		text-align: center;
	}

	&__button{
		display: flex;
		width: 100%;
		margin: 24px 0px 12px 0px;

		.take-photo{
			width: 100%;
			align-items: center;
			padding-right: 5px;

			.btn-take-photo{
				margin: auto;
				color: black;
				font-weight: 700;
				font-size: 16px;
				background-color: white;
				border: 1px solid #E8E8E8;
				border-radius: 4px;
				padding: 12px 16px;
				width: 100%;
			}
		}
		.choose-photo{
			width: 100%;
			align-items: center;
			padding-left: 5px;

			.btn-choose-photo{
				margin: auto;
				color: white;
				font-weight: 700;
				font-size: 16px;
				background-color: #932571;
				border: none;
				border-radius: 4px;
				padding: 12px 10px;
				width: 100%;
			}
		}

	}
}
.singgahsini-form-container{
  &__section{
    height: auto;

    @media (max-width: 769px) {
			height: auto;
		}
  }

	&__capture{
		position: fixed;
		z-index: 1005;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100%;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9);
	}

	&__title{
		font-size: 32px;
		font-weight: 900;
		
		@media (max-width: 769px) {
			font-size: 24px;
		}
	}

	&__subtitle{
		font-size: 20px;

		@media (max-width: 769px) {
			font-size: 16px;
		}
		
	}

	&__card-title{
		font-size: 24px;
		font-weight: 700;

		@media (max-width: 769px) {
			font-size: 20px;
		}
	}

	&__card-subtitle{
		font-size: 16px;

		@media (max-width: 769px) {
			font-size: 16px;
			line-height: 28px;
		}
	}

	&__card{
		width: 404px;
		min-height: 256px;
		text-align: center;
		box-sizing: border-box;

		@media (max-width: 769px) {
			width: auto;
			min-height: 185px;
		}
	}

	&__card-unfilled{
		padding-top: 75px;
		padding-bottom: 72px;
		border: 1px dashed #E8E8E8; ;
		border-radius: 4px;
	}

	&__validation{
		text-align: left;
		color: red;
		font-size: 14px;
	}

	&__card-filled{
		width: 100%;
		border: 2px solid #dddddd;
		border-radius: 4px;
		padding: 8px;
		margin-bottom: 8px;
		position: relative;

    @media (max-width: 769px) {
			height: auto;
		}

		.close-icon{
			float: right;
			position: absolute;
			margin: 10px;
			z-index: 10;
			top: 6px;
			right: 6px;
			color: #757575;
		}

		.image-preview{
			width: 100%;
			min-height: 100px;
			border-radius: 4px;
		}
	}

	&__add-photos{
		border: 1px solid #932571;
		margin-top: 8px;
		color: #932571;
		font-weight: bold;
		font-size: 16px;
		padding: 12px 16px;
		border-radius: 4px;
	}

	&__card-caption-drag{
		font-size: 16px;
		font-weight: 700;

		@media (max-width: 769px) {
			display: none;
		}
	}

	&__card-caption-atau{
		font-size: 14px;
		font-weight: 400;
		color: #949494;

		@media (max-width: 769px) {
			display: none;
		}
	}

	&__card-caption-telusuri{
		font-size: 16px;
		font-weight: 700;
		color: #303030;
		text-decoration: underline;

		.mobile-caption{
			display: none;
		}

		@media (max-width: 769px) {
			.desktop-caption{
			display: none;
		}

		.mobile-caption{
			display: block;
		}
		}
	}
}
</style>