@function str-split($string, $separator: ' ') {
	$separatorIndex: str-index($string, $separator);
	$list: ();
	@if $separatorIndex == null {
		$list: ($string);
	} @else {
		$list: (str-slice($string, 1, $separatorIndex - 1));
		$list: join($list, str-split(str-slice($string, $separatorIndex + 1)));
	}
	@return $list;
}
