<template>
	<div>
		<landing-navbar :target="'#agenForm'" :label="'Jadi Agen'"></landing-navbar>
		<landing-agent-big-banner></landing-agent-big-banner>
		<landing-agent-testimonial></landing-agent-testimonial>
		<landing-agent-form></landing-agent-form>
		<landing-agent-modal></landing-agent-modal>
	</div>
</template>

<script>
export default {

};
</script>

<style scoped>
</style>
