<template>
	<div>
		<div class="close-button">
			<div v-show="showInfoModal" @click="showInfoModal = false">&times;</div>
		</div>
		<b-modal
			id="tutorialInfo"
			:hide-header="true"
			:hide-footer="true"
			v-model="showInfoModal"
		>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<p class="info-title">Informasi Sistem Kerja dan Gaji Agen Mamikos</p>
				</div>
				<div class="col-2"></div>
			</div>

			<div class="info-container">
				<div class="info-content lefted">
					<p class="info-header lefted">
						1. Bagaimana Sistem Kerja Agen Mamikos?
					</p>
					<p class="info-caption lefted">
						Sistem kerja agen Mamikos terbilang cukup simpel. Pada intinya, agen
						Mamikos akan memiliki tugas atau job untuk mendata kos-kosan yang
						belum ditampilkan di aplikasi dan website Mamikos. Untuk detail
						sistem kerjanya, kalian bisa lihat di bawah ini:
					</p>
					<ul class="lefted">
						<li>
							Agen Mamikos mendatangi kos-kosan yang datanya belum ada di
							aplikasi dan website Mamikos. (wajib)
						</li>
						<li>
							Agen Mamikos bertemu dengan pemilik kost dan memperkenalkan diri
							sebagai Agen Mamikos (Aplikasi pencari kost nomor 1 di Indonesia)
						</li>
						<li>
							Agen Mamikos memperkenalkan maksud dan tujuan kedatangannya
							(mendata kost tersebut agar bisa masuk di database Mamikos) pada
							pemilik kost.
						</li>
						<li>
							Agen Mamikos menjelaskan jika pendaftaran/ menampilkan data kost
							di Mamikos tidak dipungut biaya sama sekali (gratis), dan proses
							memasukkan data dibantu oleh agen Mamikos.
						</li>
						<li>
							Apabila pihak kost bersedia, inputkan data kost di form berikut
							<a href="https://mamikos.com/form-agen ">
								https://mamikos.com/form-agen
							</a>
							atau langsung melalui aplikasi Mamikos (input sebagai agen)
						</li>
					</ul>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">
						2. Bagaimana Tata Cara Saat Mendatangi Kost?
					</p>
					<p class="info-caption lefted">
						Agar proses pendataan kost oleh agen bisa berjalan lancar, tata cara
						yang benar saat mendatangi kost harus sangat diperhatikan. Berikut
						ini adalah tata cara yang benar yang wajib dilaksanakan oleh agen
						saat mendatangi kos-kosan yang datanya belum terinput di database
						Mamikos:
					</p>
					<ul class="lefted">
						<li>
							Datang ke kos-kosan, bertemu dengan pemilik kost/ pengurus kost,
							dan memperkenalkan diri sebagai agen Mamikos.
						</li>
						<li>
							Setelah memperkenalkan diri, tunjukkan aplikasi Mamikos pada
							pemilik kost dan tunjukkan beberapa kost yang sudah tertampil di
							area tersebut.
						</li>
						<li>
							Mintalah ijin dari pemilik kost untuk menampilkan data kos-kosan
							tersebut di aplikasi Mamikos dan dijelaskan data yang ditampilkan
							gratis, tidak dikenakan biaya sama sekali.
						</li>
						<li>
							Jelaskan keuntungan dari menampilkan kos-kosan di website dan
							aplikasi Mamikos. Beberapa keuntungannya adalah:
						</li>
					</ul>
					<ol>
						<li>
							Data kostnya tertampil di aplikasi dan website Mamikos secara
							gratis.
						</li>
						<li>Pemilik kost lebih mudah mendapatkan para pencari kost.</li>
						<li>Kostnya lebih dikenal oleh para pencari kost.</li>
					</ol>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">
						3. Bagaimana Tahapan Kerja Agen Mamikos?
					</p>
					<p class="info-caption lefted">
						Tahapan kerja atau proses kerja agen Mamikos secara singkat dapat
						dijelaskan dengan memahami alur berikut ini :
						<br />
						Agen survey kost mendatangi kos-kosan (yang datanya belum ada di
						database Mamikos) >> Agen memperkenalkan diri ke pemilik
						kost/pengelola kost >> Jika pemilik kost atau pengelola kost
						bersedia data kosnya ditampilkan di Mamikos, agen mendata dan
						memfoto kost tersebut>> Agen memasukkan (input) data ke aplikasi
						Mamikos atau melalui link
						<a href="https://mamikos.com/form-agen "
							>https://mamikos.com/form-agen</a
						>
						>> Data yang diinputkan tadi akan diverifikasi oleh tim verifikator
						Mamikos (via telepon) ke pemilik kost >>Jika pemilik kost bersedia,
						data kost baru akan ditampilkan di aplikasi dan website Mamikos >>
						Agen Mamikos menerima kompensasi.
					</p>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">
						4. Bagaimana Cara Mengecek Data Kost Sudah Tertampil di Mamikos atau
						Belum?
					</p>
					<p class="info-caption lefted">
						Sebelum agen Mamikos datang ke kos-kosan, agen harus memastikan
						bahwa kos-kosan yang akan didatangi belum ada atau belum tertampil
						pada aplikasi Mamikos. Untuk memastikannya, cek data kost yang sudah
						tertampil atau belum berdasar nomor atau nama kost dengan
						menggunakan link di berikut ini:
						<a href="https://mamikos.com/cek-properti"
							>https://mamikos.com/cek-properti</a
						>
					</p>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">
						5. Apa Saja Syarat Data Kost yang Wajib Diperhatikan oleh Agen?
					</p>
					<p class="info-caption lefted">
						Agar proses input data kost dan verifikasi data kost dapat
						berlangsung dengan mudah, agen Mamikos harus mengetahui bagaimana
						data dan foto kos-kosan yang wajib ditampilkan. Berikut adalah
						catatan foto dan data yang harus diperhatikan oleh agen:
					</p>
					<p class="info-caption"><strong>Catatan Foto:</strong></p>
					<ul class="lefted">
						<li>
							Semua foto yang diambil oleh agen Mamikos berorientasi Landscape
							(tidak boleh potrait), jelas (tidak blur), dan real foto / asli/
							tidak boleh ambil dari internet.
						</li>
						<li>Foto yang diambil termasuk foto bangunan depan kos-kosan.</li>
						<li>Foto yang diambil termasuk foto dalam kamar.</li>
						<li>Foto yang diambil termasuk foto kamar mandi.</li>
						<li>Foto yang diambil termasuk foto fasilitas umum.</li>
						<li>
							Untuk foto dalam kamar, apabila kost penuh bisa diambil foto depan
							kamar.
						</li>
						<li>
							Apabila dalam 1 kost ada beberapa tipe kamar, maka foto kamar
							tidak boleh sama.
						</li>
						<li>
							Untuk foto kamar mandi, perlihatkan kloset,bak mandi (jika ada)
							dan shower (jika ada).
						</li>
					</ul>
					<p class="info-caption"><strong>Catatan Data:</strong></p>
					<ul class="lefted">
						<li>
							1 kost = 1 data (tipe). Jika 1 kost memiliki beberapa tipe
							(maksimal 3 tipe A,B,C) dan memiliki perbedaan harga dan fasilitas
							kamar, pihak Mamikos akan menghitung per datanya.<br />
							<strong>Keterangan:</strong>
							Tipe A : harga paling rendah <br />
							Tipe B : harga lebih tinggi <br />
							Tipe C : harga paling tinggi <br />
						</li>
					</ul>
					<p class="info-caption lefted">
						Contoh : 1 kost ada tipe kamar A (1 juta per bulan) dan B (1,5 juta
						per bulan karena lebih luas), maka agen berhak menginputkan data
						tersebut menjadi 2 data yang berbeda.
					</p>
					<ul class="lefted">
						<li>
							Agen wajib mengisi lengkap alamat ( Nama Jalan/ nama kampung, No
							rumah, RT/RW, Kelurahan, Kecamatan, Kota)
						</li>
					</ul>
					<p class="info-caption lefted">
						Format penamaan kost yaitu Kost_NamaKost_Kecamatan_Kota/Kabupaten
					</p>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">
						6. Bagaimana Sistem Kompensasi yang Diterima Agen Mamikos?
					</p>
					<p class="info-caption lefted">
						Untuk masalah kompensasi atau gaji yang akan diterima agen Mamikos,
						kalian gak perlu khawatir karena sistem kompensasinya menguntungkan
						kok. Simak info selengkapnya di bawah ini:
					</p>
					<p class="info-caption lefted">
						Agen akan mendapat full Gaji Pokok saat bisa aktif bekerja selama 25
						hari dalam 1 bulan, semisal kurang dari 25 hari akan dihitung
						berdasarkan prorate sebagai berikut (jumlah hari aktif
						bekerja/25)*Gaji Pokok. Dalam satu hari Agen dihitung aktif bekerja
						saat input minimal 6 data kost.
					</p>
					<p class="info-caption lefted">
						Selain mendapat Gaji Pokok, Agen juga akan mendapat tunjangan
						operasional sebagai berikut :
					</p>
					<ul class="lefted">
						<li>
							Setiap agen mendapat tunjangan operasional sebesar Rp 1.200.000,-
							sd Rp 1.400.000,-
						</li>
						<li>
							Tunjangan operasional dibayarkan dalam 4 tahap, dihitung per tahap
							setiap minggu.
						</li>
						<li>
							Setiap Tahap dibayarkan 3 hari setelah Agen menginput data valid
							minimal 30 Data/Minggu dan setelah masa kerja satu minggu selesai.
						</li>
						<li>
							Jika data inputan agen kurang dari 30 data setiap minggunya, maka
							tunjangan operasional tidak diberikan.
						</li>
					</ul>
					<p class="info-caption lefted">
						Syarat dan Ketentuan:
					</p>
					<ul class="lefted">
						<li>
							Data berhasil diverifikasi via telpon oleh tim verifikasi Mamikos.
						</li>
						<li>
							Data dan foto dianggap benar dan valid oleh tim verifikasi
							Mamikos.
						</li>
						<li>
							Kost wajib ditampilkan di aplikasi dan website Mamikos.
						</li>
					</ul>
				</div>
				<div class="info-content lefted">
					<p class="info-header lefted">7. Sistem Pembayaran Agen Mamikos</p>
					<p class="info-caption lefted">
						Sistem pembayaran agen Mamikos akan dikirim oleh pihak Mamikos via
						transfer ke rekening agen. Pihak Mamikos akan melakukan konfirmasi
						terlebih dahulu pada pihak agen jika data memenuhi dan juga sebelum
						pembayaran. Sebelumnya, agen Mamikos juga wajib mengirimkan data
						nomor rekening yang akan digunakan untuk menerima pembayaran.
						Formatnya sebagai berikut: Nomor Rekening – Nama Bank – Cabang –
						Nama Pemilik Rekening.
					</p>
					<p class="info-caption lefted">
						Contoh : 037.654.32.10 – BCA – Sudirman, Yogyakarta – Robet
						Pangestu.
					</p>
					<p class="info-caption lefted">
						Itu dia hal-hal yang kamu wajib ketahui tentang menjadi seorang agen
						Mamikos. Nah, sekarang kamu udah tau semuanya, kan, termasuk tentang
						sistem kerja dan gaji agen Mamikos. Gak perlu ragu lagi deh, kerja
						sebagai agen Mamikos emang bisa mendatangkan banyak untung. Selain
						job mendata kos-kosan yang bisa kalian lakukan kapan aja, kalian
						juga pasti bisa dapat bonus yang gede tiap bulannya. Makanya, jangan
						ragu lagi untuk daftar sebagai agen Mamikos, ya!
					</p>
				</div>
			</div>
		</b-modal>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showInfoModal: false
		};
	}
};
</script>

<style scoped>
.lefted {
	text-align: left;
}

.close-button {
	position: fixed;
	z-index: 2000;
	font-size: 54px;
	top: -2px;
	right: 5%;
	cursor: pointer;
}

.info-container {
	overflow-y: auto;
}

.info-content {
	width: 100%;
}

.info-title {
	font-size: 20px;
	color: #1baa56;
	line-height: 2;
}

.info-header {
	font-weight: bold;
	margin-top: 40px;
	font-size: 18px;
}
.info-caption {
}

@media (min-width: 768px) {
	.info-title {
		font-size: 30px;
	}
	.info-content {
		width: 768px;
		margin: auto;
	}
}
</style>

<style>
#tutorialInfo .modal-dialog {
	max-width: 100%;
	width: 100%;
	margin: 0;
	position: absolute;
}
#tutorialInfo .modal-content {
	border: none;
	border-radius: 0;
}
</style>
