<template>
	<div class="big-banner" id="bigBanner">
		<!-- Banner text -->
		<b-container>
			<b-row>
				<b-col cols="12" md="7" class="caption-container">
					<p class="dark-green subtitle">
						Dapatkan gaji hingga jutaan rupiah<br />dengan bergabung menjadi
					</p>
					<h1 class="main-green maintitle">
						<strong>Agen Survey Mamikos</strong>
					</h1>
					<p class="dark-green subtitle">
						Simak langkah-langkahnya di bawah ini
					</p>
				</b-col>
				<b-col cols="12" md="5" class="image-container">
					<b-img
						src="assets/icons/landing-agent/illustrasi.png"
						fluid-grow
						alt="Illustrasi"
					/>
				</b-col>
			</b-row>

			<div align-h="center">
				<landing-agent-big-banner-swiper></landing-agent-big-banner-swiper>
			</div>

			<b-row class="button-container" align-h="center">
				<b-button
					class="btn-custom"
					variant="material-orangeinverse"
					@click="goToTestimonial"
					>Cerita Sukses Agen</b-button
				>
				<b-button class="btn-custom" variant="material-orange" @click="goToForm"
					>Daftar Jadi Agen</b-button
				>
			</b-row>
		</b-container>
	</div>
</template>

<script>
export default {
	methods: {
		goToTestimonial() {
			document.querySelector('#agenTestimonial').scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		},
		goToForm() {
			document.querySelector('#agenForm').scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	}
};
</script>

<style scoped>
.big-banner {
	background-image: url('/assets/icons/landing-agent/background_atas.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 75px;
	margin-bottom: 130px;
	min-height: 100vh;
	max-height: 999px;
}

@media (max-width: 767px) {
	.big-banner {
		background-size: cover;
		background-position-x: center;
	}
}

.btn-custom {
	width: 150px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.button-container {
	margin-bottom: 50px;
	margin-top: 35px;
}

.bottom-bar {
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;
	background-color: #e9fee9;
	border-bottom: 3px solid #1baa56;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}

.caption-container {
	padding-top: 40px;
}

.maintitle {
	font-size: 50px;
	padding-bottom: 12px;
}
.subtitle {
	font-size: 20px;
	font-weight: 600;
}

@media (max-width: 767px) {
	.caption-container {
		order: 2;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.image-container {
		order: 1;
		max-width: 66.6666%;
	}
	.subtitle[data-v-7611267a] {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 0.3rem;
	}
	.maintitle {
		font-size: 30px;
	}
}
</style>
