<template>
	<div>
		<div class="swiper">
			<swiper :options="swiperOption">
				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">1</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/1.png" />
							<span class="caption"
								>Download Aplikasi<br />
								Mamikos.</span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">2</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/2.png" />
							<span class="caption"
								>Cek apakah kost yang<br />disurvey sudah tampil<br />di
								Aplikasi atau belum.</span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">3</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/3.png" />
							<span class="caption"
								>Datangi kost untuk<br />melakukan survey.</span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">4</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/4.png" />
							<span class="caption"
								>Memperkenalkan diri<br />sebagai agen Mamikos.</span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">5</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/5.png" />
							<span class="caption"
								>Menjelaskan maksud dan <br />tujuan pengambilan data <br />kost
								tersebut.</span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">6</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/6.png" />
							<span class="caption"
								>Menginputkan data kost<br />melalui aplikasi atau
								<a href="httpsn://mamikos.com/form">di link ini</a></span
							>
						</div>
					</div>
				</swiper-slide>

				<swiper-slide>
					<div class="swiper-wrapper">
						<div class="title">
							<span class="big-number">7</span>
						</div>
						<div class="content" v-lazy-container="{ selector: 'img' }">
							<img data-src="assets/icons/landing-agent/7.png" />
							<span class="caption"
								>Data yang terverifikasi<br />akan mendapatkan kompensasi.</span
							>
						</div>
					</div>
				</swiper-slide>

				<div
					class="swiper-pagination track-promo-others"
					slot="pagination"
				></div>
				<div class="swiper-button-prev track-promo-others" slot="button-prev">
					<i class="fa fa-chevron-left"></i>
				</div>
				<div class="swiper-button-next track-promo-others" slot="button-next">
					<i class="fa fa-chevron-right"></i>
				</div>
			</swiper>
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import Swiper from 'swiper';

export default {
	data() {
		return {
			swiperOption: {
				slidesPerView: 4,
				centeredSlides: false,
				roundLengths: true,
				spaceBetween: 50,
				slidesOffsetBefore: 50,
				slidesOffsetAfter: 50,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				},
				autoplay: {
					delay: 12000,
					disableOnInteraction: false
				},
				breakpoints: {
					1024: {
						slidesPerView: 3,
						spaceBetween: 40
					},
					768: {
						slidesPerView: 2,
						spaceBetween: 30
					},
					576: {
						slidesPerView: 1,
						spaceBetween: 20,
						slidesOffsetBefore: 0,
						slidesOffsetAfter: 0
					}
				}
			}
		};
	},
	components: {
		swiper,
		swiperSlide
	}
};
</script>

<style scoped>
.title {
	display: flex;
	align-items: flex-start;
	padding-top: 100px;
}
.title > .big-number {
	line-height: 0.8;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.content img {
	height: 100px;
}

.content .caption {
	width: 140px;
}

@media (min-width: 768px) {
	.content .caption {
		width: 180px;
	}
}

.swiper-wrapper {
	margin: auto;
	width: auto;
}

.big-number {
	font-size: 45px;
	color: #fcac87;
	font-weight: bold;
	margin-right: 7px;
}
.caption {
	font-size: 16px;
	text-align: left;
}

@media (max-width: 767px) {
	.caption {
		font-size: 13px;
	}
}
</style>

<style>
.swiper-container {
	padding-top: 20px;
	text-align: center;
}
.swiper-slide {
	padding: 0 28px;
	display: flex;
}
.swiper-pagination {
	position: relative;
	margin-top: 20px;
}
.swiper-pagination-bullet-active {
	background: #1baa56;
}
.swiper-button-next,
.swiper-button-prev {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	color: #1baa56;
	background-color: #fff;
	background-image: none;
}

.swiper-button-next {
	margin-right: -10px;
}
.swiper-button-prev {
	margin-left: -10px;
}

@media (min-width: 768px) {
	.swiper-slide {
		padding: 0;
	}
}
</style>
