<template>
	<div class="green-background" id="agenTestimonial">
		<b-container
			class="testimonial-content"
			:class="
				testimonialSlides ? 'testimonial-slides-up' : 'testimonial-slides-down'
			"
		>
			<b-row align-h="center" class="testimonial-title">
				<b-col cols="12" class="title-container">
					<h2 class="main-green">
						<strong>Cerita Sukses Agen Survey Mamikos</strong>
					</h2>
				</b-col>
			</b-row>

			<transition
				name="slide"
				mode="out-in"
				enter-active-class="slideInRight"
				leave-active-class="slideOutLeft"
			>
				<!-- set 1 -->
				<b-row
					class="testimonial-container"
					v-if="currentPage == 1"
					:key="'set1'"
				>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Muh. Aswar Mustari'"
								:area="'Agen Makassar'"
								:description="
									'Penghasilan Muhammad Aswar, salah satu mahasiswa asal Makkasar, yang tergabung sebagai penghasilan agen survey Mamikos pernah mencapai 10Juta.'
								"
								:photo_agent="'/assets/testimoni/agen/agen_makassar_aswar.jpg'"
								:link_youtube="'https://www.youtube.com/embed/yPQd6gxo8hg'"
							></landing-agent-story>
						</div>
					</b-col>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Kiky Erlani'"
								:area="'Agen Solo'"
								:description="
									'Kiky Erlani, makasiswi Fakultas Hukum Pascasarjana UNS tertarik gabung jadi agen Mamikos!'
								"
								:photo_agent="'/assets/testimoni/agen/agen_solo_kiky.jpg'"
								:link_youtube="'https://www.youtube.com/embed/AV669nInXeA'"
							></landing-agent-story>
						</div>
					</b-col>
				</b-row>

				<b-row
					class="testimonial-container"
					v-if="currentPage == 2"
					:key="'set2'"
				>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Fitrotin'"
								:area="'Agen Malang'"
								:description="
									'Mahasiswa S2 asal Malang ragu tergabung jadi agen survey Mamikos, sampai akhirnya terbukti dengan penghasilan 9Juta. ini komentarnya'
								"
								:photo_agent="'/assets/testimoni/agen/agen_malang_fitrotin.jpg'"
								:link_youtube="'https://www.youtube.com/embed/FSEEzAyZHxw'"
							></landing-agent-story>
						</div>
					</b-col>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Dito Darmawan'"
								:area="'Agen Bandung'"
								:description="
									'Pengusaha kuliner dan kain, tapi masih ingin gabung sebagai agen survey Mamikos?'
								"
								:photo_agent="'/assets/testimoni/agen/agen_bandung_dito.jpg'"
								:link_youtube="'https://www.youtube.com/embed/WsaoxUS2-Jg'"
							></landing-agent-story>
						</div>
					</b-col>
				</b-row>

				<b-row
					class="testimonial-container"
					v-if="currentPage == 3"
					:key="'set3'"
				>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Iga Andika'"
								:area="'Agen Bandung'"
								:description="
									'Awalnya coba-coba mencari kost melalui Mamikos.com, dan akhirnya tertarik gabung jadi Agen Survey Mamikos area Bandung. Ini komentar Iga Andika '
								"
								:photo_agent="'/assets/testimoni/agen/agen_bandung_iga.jpg'"
								:link_youtube="'https://www.youtube.com/embed/MHiwQi3M_9Y'"
							></landing-agent-story>
						</div>
					</b-col>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Moh. Asep'"
								:area="'Agen Bogor'"
								:description="
									'Kenapa ingin gabung di Mamikos ? Padahal sudah ada kerjaan tetap jadi surveyor Bank'
								"
								:photo_agent="'/assets/testimoni/agen/agen_bogor_asep.jpg'"
								:link_youtube="'https://www.youtube.com/embed/MRxB5NOCb8o'"
							></landing-agent-story>
						</div>
					</b-col>
				</b-row>

				<b-row
					class="testimonial-container"
					v-if="currentPage == 4"
					:key="'set3'"
				>
					<b-col cols="12" lg="6">
						<div class="story-container">
							<landing-agent-story
								:name_agent="'Candra '"
								:area="'Agen Surabaya'"
								:description="
									'Baru bergabung awal Desember 2017, pendapatan Candra saat ini sudah mencapai 9 Juta'
								"
								:photo_agent="'/assets/testimoni/agen/agen_surabaya_candra.jpg'"
								:link_youtube="'https://www.youtube.com/embed/13IV5F3EABg'"
							></landing-agent-story>
						</div>
					</b-col>
				</b-row>
			</transition>

			<!-- pagination -->
			<b-row align-h="center">
				<paginate
					:page-count="4"
					:click-handler="pageChanged"
					:prev-text="'<'"
					:next-text="'>'"
					:container-class="'pagination'"
					:break-view-link-class="'break-pagination'"
					:page-class="'page-item'"
				>
				</paginate>
				<br />
			</b-row>

			<b-row align-h="center">
				<b-button
					class="btn-custom margin15"
					variant="mamigreen"
					v-b-modal="'tutorialInfo'"
					>Informasi Sistem Kerja & Gaji</b-button
				>
			</b-row>

			<!-- tutorial modal - start -->

			<!-- tutorial modal - end -->
		</b-container>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';

require('vue2-animate/dist/vue2-animate.min.css');
import EventBus from '../../eventbus/event-bus';

export default {
	components: {
		paginate
	},
	data() {
		return {
			currentPage: 1,
			testimonialSlides: false
		};
	},
	methods: {
		pageChanged(page) {
			this.currentPage = page;
		}
	},
	mounted() {
		EventBus.$on('testimonialSlides', payload => {
			this.testimonialSlides = payload;
		});
	}
};
</script>

<style scoped>
.green-background {
	margin-top: -85px;
	background-color: #e9fee9;
	padding-top: 70px;
}

.testimonial-content {
	transform: translateY(200px);
	opacity: 0;
	transition: 0.7s;
	transition-timing-function: ease;
}

.testimonial-slides-up {
	transform: translateY(0px);
	opacity: 1;
}
.testimonial-slides-down {
	transform: translateY(200px);
	opacity: 0;
}

.title-container {
	text-align: center;
	margin-bottom: 20px;
}

.story-container {
	padding: 20px 70px;
}
@media (max-width: 587px) {
	.story-container {
		padding: 20px 15px;
	}
}

.margin15 {
	margin-top: 15px;
}
</style>

<style>
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #1baa56;
	background-color: #fff;
	border: 1px solid #1baa56;
}

.page-link:hover {
	color: #1baa56;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: inherit;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #1baa56;
	border-color: #1baa56;
}
.page-item.disabled .page-link {
	border-color: #1baa56;
}

.pagination {
	height: 36px;
	margin: 0;
	padding: 0;
}
.pager,
.pagination ul {
	margin-left: 0;
	*zoom: 1;
}
.pagination ul {
	padding: 0;
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
	display: inline;
}
.pagination a {
	float: left;
	padding: 0 12px;
	line-height: 30px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination .active a,
.pagination a:hover {
	background-color: #f5f5f5;
	color: #94999e;
}
.pagination .active a {
	color: #94999e;
	cursor: default;
}
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled span {
	color: #94999e;
	background-color: transparent;
	cursor: default;
}
.pagination li:first-child a,
.pagination li:first-child span {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
</style>
