<template>
	<div>
		<div class="navbar-custom">
			<b-navbar toggleable="md">
				<b-navbar-brand
					:class="{
						'navbar-brand-custom': isBack
					}"
				>
					<div class="brand-logo-wrapper" v-if="isBack">
						<div class="back-button-wrapper visible-xs">
							<a @click="goBack">
								<img
									class="back-button"
									src="/general/img/icons/ic_full-arrow-left_s_green.svg"
								/>
							</a>
						</div>
						<div class="logo-konten">
							<a href="/"
								><img
									class="navbar-icon"
									src="assets/icons/landing-agent/header.png"
							/></a>
						</div>
					</div>

					<a href="/" v-else
						><img
							class="navbar-icon"
							src="assets/icons/landing-agent/header.png"
					/></a>
				</b-navbar-brand>
			</b-navbar>
		</div>

		<div
			class="nav-colored"
			id="navbarCustom"
			:class="isScrolled ? 'nav-slides-down' : 'nav-slides-up'"
		>
			<b-navbar toggleable="md">
				<b-navbar-brand
					:class="{
						'navbar-brand-custom-two': isBack
					}"
				>
					<div class="brand-logo-wrapper" v-if="isBack">
						<div class="back-button-wrapper back-button-wrapper-two visible-xs">
							<a @click="goBack">
								<img
									class="back-button"
									src="/general/img/icons/ic_full-arrow-left_s_green.svg"
								/>
							</a>
						</div>
						<div class="logo-konten logo-konten-two">
							<a href="/"
								><img
									class="navbar-icon"
									src="assets/icons/landing-agent/header.png"
							/></a>
						</div>
					</div>

					<a href="/" v-else
						><img
							class="navbar-icon"
							src="assets/icons/landing-agent/header.png"
					/></a>
				</b-navbar-brand>

				<b-button
					class="btn-custom"
					variant="mamiorange"
					@click="goToSection(target)"
					>{{ label }}</b-button
				>
			</b-navbar>
		</div>
	</div>
</template>

<script>
import EventBus from '../../eventbus/event-bus';

export default {
	data() {
		return {
			isScrolled: false
		};
	},

	computed: {
		isBack() {
			return document.referrer == '' ||
				document.referrer === document.location.href
				? false
				: true;
		}
	},

	mounted() {
		window.onscroll = () => {
			if (window.pageYOffset >= 400) {
				this.isScrolled = true;
			} else {
				this.isScrolled = false;
			}

			if (window.pageYOffset >= 300) {
				EventBus.$emit('testimonialSlides', true);
			} else {
				EventBus.$emit('testimonialSlides', false);
			}
		};
	},
	methods: {
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		},
		goBack() {
			window.history.go(-1);
		}
	},
	props: {
		target: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_green_haze_approx: #1baa56;
$color_hint_of_green_approx: #e9fee9;
$black_20: rgba(0, 0, 0, 0.2);
$black_10: rgba(0, 0, 0, 0.1);

.navbar-custom {
	width: 100%;
	top: 0;
	position: absolute;
}
.navbar-icon {
	height: 40px;
}
@media (min-width: 768px) {
	.nav-colored .navbar-expand-md {
		justify-content: space-between;
	}
}
@media (max-width: 767px) {
	.btn-custom {
		width: auto !important;
		text-align: left;
		background: none;
		border: none;
		color: $color_green_haze_approx;
		font-weight: 600;
	}
}
.nav-colored {
	position: fixed;
	width: 100%;
	background-color: $color_hint_of_green_approx;
	border-bottom: 1px solid $color_green_haze_approx;
	box-shadow: 0 4px 20px $black_20, 0 4px 10px $black_10;
	z-index: 999;
	transition: top 0.5s;
	transition-timing-function: ease;
}
.nav-slides-down {
	top: 0;
}
.nav-slides-up {
	top: -160px;
}
.btn-custom {
	width: 120px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0.1rem;
	padding: 0;
}
.btn-transparent {
	background: none;
	border: none;
	color: $color_green_haze_approx;
	font-weight: 600;
}

.brand-logo-wrapper {
	display: flex;
	.back-button-wrapper {
		width: 50%;
		img.back-button {
			width: 20px;
			margin-top: 7px;
			margin-left: 8px;
		}
	}
	.logo-konten {
		width: 100%;
	}
}

.navbar-brand {
	margin-right: 0;
}

.navbar-brand-custom {
	width: 100%;
}

.navbar-brand-custom-two {
	width: 69%;
}

.back-button-wrapper-two {
	width: 43% !important;
}

.logo-konten-two {
	width: fit-content !important;
}

.visible-xs {
	@media (min-width: 768px) {
		display: none !important;
	}
}
</style>

<style>
#nav_collapse {
	justify-content: flex-end;
}
</style>
