<template>
	<div>
		<b-row class="story-header">
			<span class="story-profile-picture" v-lazy:background-image="photo_agent">
			</span>
			<span class="story-profile-container">
				<div class="name">{{ name_agent }}</div>
				<div class="area">{{ area }}</div>
				<div class="decoration"></div>
			</span>
		</b-row>
		<b-row class="story-content">
			<p>
				{{ description }}
			</p>
		</b-row>
		<b-row class="story-video">
			<iframe
				class="story-video-frame"
				:src="link_youtube"
				width="430"
				height="320"
				frameborder="0"
				allow="encrypted-media"
				allowfullscreen
			></iframe>
		</b-row>
	</div>
</template>

<script>
export default {
	props: {
		name_agent: {
			type: String,
			required: true
		},
		photo_agent: {
			type: String,
			required: true
		},
		area: {
			type: String,
			required: true
		},
		description: {
			type: String,
			required: true
		},
		link_youtube: {
			type: String,
			required: true
		}
	}
};
</script>

<style scoped>
.story-video {
	height: 320px;
}
.story-video-frame {
	margin: auto;
}

.story-profile-picture {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #ddd;
	margin-right: 15px;
	background-position: center;
	background-size: contain;
}

.story-profile-container .name {
	color: #010101;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 5px;
}
.story-profile-container .area {
	color: #383746;
	font-size: 16px;
	margin-bottom: 10px;
}
.story-profile-container .decoration {
	width: 90px;
	border-bottom: 2px solid #1baa56;
}

.story-content {
	padding-top: 20px;
	height: 100px;
}

@media (max-width: 767px) {
	.story-content {
		font-size: 13px;
	}
}
</style>
