<template>
	<div class="kost-owner-section-placeholder">
		<div class="kost-owner-section-placeholder__information">
			<div class="kost-owner-section-placeholder__information-online">
				<bg-skeleton width="70%" :height="navigator.isMobile ? 20 : 24" />
				<bg-skeleton
					width="50%"
					:height="navigator.isMobile ? 18 : 20"
					class="kost-owner-section-placeholder__information-time"
				/>
			</div>
			<bg-skeleton
				ellipsed
				:width="navigator.isMobile ? 48 : 56"
				:height="navigator.isMobile ? 48 : 56"
				class="kost-owner-section-placeholder__photo"
			/>
		</div>
		<bg-skeleton
			:width="200"
			:height="32"
			class="kost-owner-section-placeholder__verified-status"
		/>
		<bg-skeleton
			:width="navigator.isMobile ? '100%' : '40%'"
			:height="100"
			class="kost-owner-section-placeholder__kost-keeper"
		/>
	</div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	name: 'DetailKostOwnerSectionSkeleton',
	components: {
		BgSkeleton
	}
};
</script>

<style lang="scss" scoped>
.kost-owner-section-placeholder {
	display: flex;
	width: 100%;
	flex-direction: column;

	.kost-owner-section-placeholder__information {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.kost-owner-section-placeholder__information-online {
			display: flex;
			width: 70%;
			flex-direction: column;
		}
	}

	.kost-owner-section-placeholder__verified-status {
		margin-top: 16px;
	}

	.kost-owner-section-placeholder__kost-keeper {
		margin-top: 24px;
	}
}

.kost-owner-section-placeholder__information-time {
	margin-top: 8px;
}
</style>
