<template>
	<div class="property-actions">
		<CtSearchFilter
			search-placeholder="Cari Properti"
			:has-active-filter="hasActivefilter"
			@open-filter="toggleFilterActionSheet(true)"
		/>

		<action-sheet v-model="isFilterOpen" reset-padding fullscreen>
			<div class="property-action">
				<div class="property-action__header gap-side">
					<button class="close-btn" @click="toggleFilterActionSheet(false)">
						<ct-icon size="27px">cross</ct-icon>
					</button>
					<h4><strong>Filter dan Urutkan</strong></h4>
				</div>

				<div class="property-action__body">
					<section>
						<h4 class="filter-label mb-2">Filter</h4>
						<ct-checkbox
							v-for="(item, index) in filterItems"
							:key="`filter-item-${index}`"
							v-model="selectedFilters"
							:value="item.value"
							block
						>
							{{ item.label }}
						</ct-checkbox>
					</section>

					<section>
						<h4 class="filter-label mb-2">Filter GoldPlus</h4>

						<template v-if="loadingGetGoldplus">
							<Placeholder
								v-for="i in 3"
								:key="i"
								width="60%"
								height="22px"
								margin-bottom="15px"
							/>
						</template>
						<template v-else>
								<ct-checkbox
									v-for="(item, index) in filterGoldplus"
									:key="`filter-goldplus-item-${index}`"
									v-model="selectedGoldplusIds"
									:value="item.id"
									block
								>
									{{ item.name }}
								</ct-checkbox>
						</template>
					</section>

					<section>
						<h4 class="filter-label">Urutkan</h4>
						<CtRadioGroup
							v-model="selectedSort"
							:options="sortItems"
						/>
					</section>
				</div>

				<div class="property-action__footer gap-side">
					<div class="row">
						<div class="col-xs-6">
							<ct-button
								color="secondary"
								outline
								large
								block
								@click="resetAllFilter"
								>Reset</ct-button
							>
						</div>
						<div class="col-xs-6">
							<ct-button large block @click="applyFilter">Terapkan</ct-button>
						</div>
					</div>
				</div>
			</div>
		</action-sheet>
	</div>
</template>

<script>
import CtSearchFilter from 'Consultant/components/CtSearchFilter';
import ActionSheet from 'Consultant/components/Snackbar.vue';
import CtCheckbox from 'Consultant/components/CtCheckbox';
import CtRadioGroup from 'Consultant/components/ConsultantRadioGroup';
import CtButton from 'Consultant/components/ConsultantButton';

import filterItems from '../data/filterLists.json';
import sortItems from '../data/sortLists.json';
import { DEFAULT_SORT, DEFAULT_FILTER } from '../data/defaultState';

import checkGoldplusIds from '../mixins/checkGoldplusIds';

export default {
	name: 'PropertyActions',

	components: {
		CtSearchFilter,
		ActionSheet,
		CtCheckbox,
		CtRadioGroup,
		CtButton,
		Placeholder: () =>
			import('Consultant/components/placeholders/ShimmerPlaceholder.vue')
	},

	mixins: [ checkGoldplusIds ],

	data() {
		return {
			isFilterOpen: false,
			filterItems: filterItems,
			sortItems: sortItems,
			selectedFilters: [],
			selectedSort: DEFAULT_SORT,
			loadingGetGoldplus: false,
			isInvalidGetGoldplus: false,
			filterGoldplus: [],
			selectedGoldplusIds: []
		};
	},

	computed: {
		hasActivefilter() {
			const { filters, kost_level_ids: kostLevelIds } = this.$route.query;
			return !!filters || !!kostLevelIds;
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				this.setFilterAndSort(route)
			}
		},

		isFilterOpen: {
			immediate: false,
			handler(isOpen) {
				if (isOpen) {
					this.setFilterAndSort(this.$route)

					if (!this.filterGoldplus.length) {
						this.initGoldPlusFilter()
					}
				}
			}
		},
	},

	methods: {
		toggleFilterActionSheet(isOpen) {
			this.isFilterOpen = isOpen;
		},

		moveRouteByFilter(filters) {
			this.changeRoute({ filters: filters.join(',') });
		},

		changeRoute(updatedQuery) {
			const { query, name } = this.$route;
			this.$router
				.push({
					name,
					query: {
						...query,
						page: 1,
						...updatedQuery
					}
				})
				.catch(() => {});
		},

		setFilterAndSort(route) {
			this.setSortActive(route.query);
			this.setFilterActive(route.query);
			this.setFilterGoldplus(route.query)
		},

		setFilterGoldplus(query) {
			const goldplusId = query.kost_level_ids;
			if (goldplusId) {
				this.selectedGoldplusIds = this.checkGoldplusIds(goldplusId.split(','))

			} else {
				this.selectedGoldplusIds = [];
			}
		},

		setSortActive(query) {
			if (query.sort_by) {
				this.selectedSort = query.sort_by || DEFAULT_SORT;
			}
		},

		setFilterActive(query) {
			const filters = query.filters || '';
			if (filters) {
				this.selectedFilters = filters.split(',');
			} else {
				this.selectedFilters = DEFAULT_FILTER;
			}
		},

		applyFilter() {
			this.changeRoute({
				sort_by: this.selectedSort,
				filters: this.selectedFilters.join(','),
				kost_level_ids: this.selectedGoldplusIds.join(',')
			});

			this.toggleFilterActionSheet(false);
		},

		resetAllFilter() {
			this.selectedSort = DEFAULT_SORT;
			this.selectedFilters = DEFAULT_FILTER;
			this.selectedGoldplusIds = [];
		},

		initGoldPlusFilter() {
			this.loadingGetGoldplus = true;
			axios.get('/api/booking-management/list-status-level')
				.then(response => {
					if (response.data.status) {
						this.isInvalidGetGoldplus = false;
						this.filterGoldplus = this.grabGoldplusFrom(
							response.data.data.level
						);
					} else {
						this.isInvalidGetGoldplus = true;
					}
				})
				.catch(() => {
					this.isInvalidGetGoldplus = true;
				})
				.finally(() => {
					this.loadingGetGoldplus = false;
				})
		},

		grabGoldplusFrom(kostLevels) {
			return kostLevels.filter(kost => /goldplus|GP|gold plus/i.test(kost.name))
		}
	}
};
</script>

<style lang="scss" scoped>
.gap-side {
	padding: 15px 20px;
}

.property-action {
	.filter-label {
		margin: unset;
		font-size: 16px;
		font-weight: bold;

		/* stylelint-disable-next-line */
		&.mb-2 {
			margin-bottom: 10px;
		}
	}

	.close-btn {
		position: absolute;
		top: 50%;
		left: 10px;
		background-color: transparent;
		border: unset;
		outline: unset;
		outline: none;
		transform: translateY(-50%);
	}

	.property-action__header {
		position: relative;
		margin-bottom: 20px;
		border-bottom: 1px solid #e1e9f1;

		/* stylelint-disable-next-line */
		h4 {
			margin: unset;
			font-size: 18px;
			text-align: center;
		}
	}

	.property-action__body {
		max-height: calc(100vh - 150px);
		padding: 0 20px;
		overflow-y: auto;

		/* stylelint-disable-next-line */
		> section {
			margin-bottom: 20px;
		}

		::v-deep .ct-checkbox__label,
		::v-deep .radio-label {
			font-size: 16px !important;
			font-weight: normal !important;
		}
	}
}

.property-action__footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.04);
	}
</style>
