<template>
	<router-link class="property-list-card" :to="link">
		<ct-card>
			<ct-card-body slot="body">
				<div class="row">
					<div class="col-xs-12">
						<h4>
							<strong>{{ item.name }}</strong>
						</h4>
					</div>
					<div class="col-xs-12">
						<div class="detail-icon">
							<ct-icon name="area" /> &nbsp;&nbsp;
							{{ item.area_city | handleEmpty }}
						</div>
						<div class="detail-icon">
							<ct-icon name="location" /> &nbsp;&nbsp;
							{{ item.province | handleEmpty }}
						</div>

						<div class="detail-icon custom">
							<div>
								<ct-icon name="product" />&nbsp;&nbsp;<span>Product yang Ditawarkan</span>
							</div>
							<template v-if="item.product_offered && item.product_offered.length">
								<ul
									v-for="(offered, index) in item.product_offered"
									:key="`offered-${index}`"
									class="product-list"
								>
									<li>{{ offered }}</li>
								</ul>
							</template>
							<div v-else class="product-list">-</div>
						</div>

						<div class="detail-icon">
							<ct-icon name="priority" /> &nbsp;&nbsp;
							{{ priority }}
						</div>
					</div>

					<div class="col-xs-12">
						<hr />
					</div>

					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-6">
								<div class="status-chip">
									<p>BBK Status</p>
									<div v-if="item.bbk_status">
										<chip :type="chipColorValue(item.bbk_status)" outlined>{{ item.bbk_status }}</chip>
									</div>
									<div v-else>
										-
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="status-chip">
									<p>Follow Up Status</p>
									<div v-if="item.followup_status">
										<chip :type="chipColorValue(item.followup_status)" outlined>{{ item.followup_status }}</chip>
									</div>
									<div v-else>
										-
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<hr />
					</div>

					<div class="col-xs-12">
						<span class="text-muted">
							<i>Dibuat oleh {{ item.created_by }}, {{ createdAt }}</i>
						</span>
					</div>
				</div>
			</ct-card-body>
		</ct-card>
	</router-link>
</template>

<script>
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import Chip from 'Consultant/components/Chip';

import priorityLabels from '../data/priorityLabels.json';
import chipColors from '../data/chipColors.json';

export default {
	name: 'PropertyListCard',

	components: {
		CtCard,
		CtCardBody,
		Chip
	},

	filters: {
		handleEmpty(value) {
			return value || '-';
		}
	},

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	computed: {
		link() {
			return {
				name: 'potential-property.detail',
				params: {
					ownerId: this.item.owner_id,
					id: this.item.id
				}
			};
		},
		createdAt() {
			const createdAt = this.item.created_at;
			return this.$dayjs(createdAt).format('DD MMMM YYYY');
		},
		priority() {
			const priority = priorityLabels.find(({ value }) => {
				return value.toLowerCase() === this.item.priority.toLowerCase();
			});

			return priority ? priority.label : '-';
		}
	},

	methods: {
		chipColorValue(text) {
			if (text) {
				const color = chipColors.find(({ value }) => {
					return value.toLowerCase() === text.toLowerCase();
				});
				if (color) {
					return color.color;
				} else {
					return 'success';
				}
			} else {
				return 'success';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.property-list-card {
	color: unset !important;

	.detail-icon {
		display: flex;
		align-items: center;
		color: #303030;

		.mamikos-icon {
			font-size: 20px;
		}

		span {
			color: #757575;
		}

		&.custom {
			flex-direction: column;
			align-items: start;
			& > div {
				flex: 0 0 100%;
			}
		}
	}
}

.status-chip {
	text-transform: capitalize;
	p {
		margin-bottom: 6px;
	}
}

hr {
	margin-top: 16px;
	margin-bottom: 16px;
}

.product-list {
	flex: 0 0 100%;
	list-style-type: none;
	padding-left: 25px;
	margin-top: 4px;
	list-style-type: none;
}
</style>
