<template>
	<action-sheet v-model="isOpen" reset-padding :fullscreen="type === 'filter'">
		<div class="list-action__wrapper" :class="`action--${type}`">
			<div v-if="type === 'filter'" class="list-action__header gap-side">
				<button class="close-btn" @click="close">
					<i class="mamikos-icon icon-cross"></i>
				</button>
				<h4><strong>Filter</strong></h4>
			</div>
			<div class="list-action__body gap-side">
				<div v-if="type === 'filter'" class="row">
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Dibuat oleh</strong></h4>
						<div
							v-for="(filter, i) in creatorFilterItems"
							:key="`creator-filter-${i}`"
						>
							<ct-checkbox v-model="selectedFilter" :value="filter.value">
								{{ filter.label }}
							</ct-checkbox>
						</div>
					</div>
					<div class="col-xs-12 mb-2">
						<h4 class="mb-2"><strong>Prioritas</strong></h4>
						<div
							v-for="(filter, i) in priorityFilterItems"
							:key="`priority-filter-${i}`"
						>
							<ct-checkbox v-model="selectedFilter" :value="filter.value">
								{{ filter.label }}
							</ct-checkbox>
						</div>
					</div>
				</div>
				<div v-else-if="type === 'sort'" class="mt-2 mb-2">
					<ct-radio-group
						v-model="selectedSort"
						:options="sortItems"
					></ct-radio-group>
				</div>
			</div>
			<div
				class="list-action__footer gap-side"
				:class="{ '--fixed': type === 'filter' }"
			>
				<div class="row">
					<div class="col-xs-6">
						<ct-button
							color="secondary"
							outline
							large
							block
							@click="handleLeftButton"
							>{{ type === 'filter' ? 'Reset' : 'Batal' }}</ct-button
						>
					</div>
					<div class="col-xs-6">
						<ct-button large block @click="applyAction">Terapkan</ct-button>
					</div>
				</div>
			</div>
		</div>
	</action-sheet>
</template>

<script>
/* eslint-disable camelcase */
import ActionSheet from 'Consultant/components/Snackbar';
import CtButton from 'Consultant/components/ConsultantButton';
import CtCheckbox from 'Consultant/components/CtCheckbox';
import CtRadioGroup from 'Consultant/components/ConsultantRadioGroup';

import EventBus from 'Consultant/event-bus';
import { find } from 'lodash';

export default {
	name: 'PropertyListAction',

	components: {
		ActionSheet,
		CtButton,
		CtCheckbox,
		CtRadioGroup
	},

	data() {
		return {
			isOpen: false,
			creatorFilterItems: [
				{
					label: 'Pemilik',
					value: 'owner'
				},
				{
					label: 'Konsultan',
					value: 'consultant'
				}
			],
			priorityFilterItems: [
				{
					label: 'Tinggi',
					value: 'high'
				},
				{
					label: 'Rendah',
					value: 'low'
				}
			],
			sortItems: [
				{
					label: 'Update Terakhir',
					value: 'last_updated'
				},
				{
					label: 'Prioritas Tinggi',
					value: 'priority_high'
				},
				{
					label: 'Prioritas Rendah',
					value: 'priority_low'
				}
			],
			type: 'sort',
			selectedFilter: [],
			selectedSort: ''
		};
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				this.checkActiveFilterAndSort(route.query);
			}
		}
	},

	methods: {
		/**
		 * @public
		 */
		open(type) {
			this.type = type;

			if (type === 'filter') {
				this.setCurrentActiveFilter();
			}

			this.isOpen = true;
		},

		close() {
			this.isOpen = false;
		},

		/**
		 * set active filter after component appeared
		 */
		setCurrentActiveFilter() {
			const { filters } = this.$route.query;

			if (filters) {
				this.selectedFilter = filters.split(',');
			} else {
				this.selectedFilter = [];
			}
		},

		handleLeftButton() {
			switch (this.type) {
				case 'filter':
					this.selectedFilter = [];
					break;

				case 'sort':
					this.close();
					break;
			}
		},

		applyAction() {
			switch (this.type) {
				case 'filter':
					this.chnageRoute({ filters: this.selectedFilter.join(',') });
					break;

				case 'sort':
					this.chnageRoute({ sort_by: this.selectedSort });
					break;
			}

			this.close();
		},

		chnageRoute(updatedQuery) {
			this.$router.push({
				name: this.$route.name,
				query: {
					...this.$route.query,
					page: 1,
					...updatedQuery
				}
			});
		},

		checkActiveFilterAndSort(query) {
			this.setActiveSort(query);
			this.setActiveFilter(query);
		},

		setActiveSort({ sort_by = 'last_updated' }) {
			const selectedSort = find(this.sortItems, {
				value: sort_by
			});

			if (selectedSort) {
				this.selectedSort = selectedSort.value;
				this.setParentLabel('sort', selectedSort.label);
			} else {
				this.selectedSort = 'last_updated';
				this.setParentLabel('sort', 'Update Terakhir');
			}
		},

		setActiveFilter({ filters }) {
			let activeFilterLength = 0;

			if (filters) {
				this.selectedFilter = filters.split(',');
				activeFilterLength += this.selectedFilter.length;
			}

			this.setParentLabel('filter', activeFilterLength);
		},

		setParentLabel(type, value) {
			EventBus.$emit('SET_PROPERTY_ACTION_LABEL', { type, value });
		}
	}
};
</script>

<style lang="scss" scoped>
.gap-side {
	padding: 15px 20px;
}

.list-action__wrapper {
	position: relative;

	&.action--filter {
		min-height: 100vh;
	}

	.close-btn {
		position: absolute;
		top: 50%;
		left: 10px;
		background-color: transparent;
		border: unset;
		outline: unset;
		transform: translateY(-50%);

		.mamikos-icon {
			font-size: 27px;
		}
	}

	.list-action__header {
		position: relative;
		border-bottom: 1px solid #e1e9f1;

		/* stylelint-disable-next-line */
		h4 {
			margin: unset;
			font-size: 18px;
			text-align: center;
		}
	}

	.list-action__footer {
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.04);

		&.--fixed {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
</style>
