<template>
	<ct-card>
		<ct-card-body slot="body">
			<div class="row">
				<div class="col-xs-12 mb-1">
					<shimmer width="50%" height="19px" margin-bottom="15px"></shimmer>
				</div>
				<div class="col-xs-12">
					<shimmer width="70%" height="17px" margin-bottom="17px"></shimmer>
					<shimmer width="70%" height="17px" margin-bottom="17px"></shimmer>
					<shimmer width="70%" height="17px" margin-bottom="0px"></shimmer>
				</div>
				<div class="col-xs-12">
					<hr />
				</div>
				<div class="col-xs-12">
					<shimmer width="80%" height="16px" margin-bottom="0px"></shimmer>
				</div>
			</div>
		</ct-card-body>
	</ct-card>
</template>

<script>
import CtCard, { CtCardBody } from 'Consultant/components/ct-card';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';

export default {
	name: 'PropertyListCardPlaceholder',

	components: {
		CtCard,
		CtCardBody,
		Shimmer
	}
};
</script>
