<template>
	<div
		id="addTenantProfileContainer"
		:class="{ '--auto-height': $route.name === 'addTenantSelectKost' }"
	>
		<add-tenant-navbar
			:active-step-index="activeStepIndex"
			:total-step="steps.length"
			:step-title="stepTitle"
		/>

		<div class="add-tenant-step-container">
			<div ref="titleTenantForm" class="profile-tenant-title">
				<h3 ref="titleTenantFormLabel" class="profile-tenant-title-label">
					<span class="hidden-xs visible-sm visible-md visible-lg">{{
						formTitle
					}}</span>
					<span class="hidden-sm visible-xs">{{ stepTitle }}</span>
				</h3>
			</div>

			<router-view class="add-tenant-step" />
		</div>

		<add-tenant-kost-full-modal
			:is-show-modal="kostFullModal.show"
			:room-id="kostFullModal.id"
			@close="closeAddTenantKostFullModal"
		/>
	</div>
</template>

<script>
import _filter from 'lodash/filter';
import AddTenantNavbar from './AddTenantNavbar';
import AddTenantKostFullModal from './select-kost/AddTenantKostFullModal';
import { addTenantSteps } from 'Js/_ownerpage/mamipay/router/addTenantRoute';

export default {
	components: {
		AddTenantNavbar,
		AddTenantKostFullModal
	},

	data() {
		return {
			addTenantSteps: addTenantSteps
		};
	},

	computed: {
		kostFullModal() {
			return this.$store.state.addTenant.kostFullModal;
		},
		formTitle() {
			return this.$route.meta.formTitle;
		},
		stepTitle() {
			return this.$route.meta.stepTitle || '';
		},
		activeStepIndex() {
			return this.$route.meta.stepIndex || 0;
		},
		steps() {
			return _filter(this.addTenantSteps, step => !!step.meta.stepIndex);
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler() {
				window.scrollTo(0, 0);
			}
		}
	},

	created() {
		window.addEventListener('scroll', this.addClassOnTitle);
	},

	destroyed() {
		window.removeEventListener('scroll', this.addClassOnTitle);
	},

	methods: {
		closeAddTenantKostFullModal() {
			this.$store.commit('addTenant/setKostFullModal', {
				show: false,
				id: 0
			});
		},
		addClassOnTitle() {
			const titleTopStickyPosition = 13;
			const titleTenantForm = this.$refs.titleTenantForm;
			const titleTopPosition = titleTenantForm.getBoundingClientRect().top;
			const titleTenantFormLabel = this.$refs.titleTenantFormLabel;

			if (titleTopPosition <= titleTopStickyPosition) {
				titleTenantFormLabel.classList.add('--sticky-title');
				titleTenantForm.classList.add('--on-stick');
			} else {
				titleTenantFormLabel.classList.remove('--sticky-title');
				titleTenantForm.classList.remove('--on-stick');
			}
		}
	}
};
</script>

<style lang="scss">
#addTenantProfileContainer {
	button {
		height: 48px;
		font-size: 16px;

		&.btn-primary {
			border: none;

			&:hover {
				background-color: #6ecf91;
			}

			&:focus {
				background-color: #008742;
			}

			&.--disabled,
			&.--disabled:hover,
			&.--disabled:focus {
				background-color: #f6f6f6;
				color: #bbbbbb;
			}
		}

		&.btn-default {
			border: none;
			border-radius: 8px;
			display: flex;
			align-items: center;

			&:hover,
			&:focus {
				background-color: #f6f6f6;
			}
		}
	}

	.form-control {
		font-size: 16px;
	}
}
</style>

<style lang="scss">
body {
	background-color: #fff;
}
</style>

<style lang="scss" scoped>
#addTenantProfileContainer {
	background-color: #fff;
	height: 100%;

	&.--auto-height {
		height: auto;
	}

	.add-tenant-step-container {
		width: 460px;
		max-width: 100%;
		padding-top: 36px;
		margin: 0 auto;
		margin-top: 54px;
	}

	.add-tenant-step {
		width: 100%;
	}

	.profile-tenant-title-label {
		margin-top: 0;
		margin-bottom: 16px;
		font-size: 28px;
		font-weight: 900;
		line-height: 36px;
	}

	@media (max-width: 767px) {
		.add-tenant-step-container {
			padding: 0 16px 16px;
		}

		.profile-tenant-title {
			&.--on-stick {
				height: 42px;
			}
		}

		.profile-tenant-title-label {
			position: relative;
			font-size: 24px;
			line-height: 32px;
			z-index: 2;
			transition: margin-left 0.5s;

			&.--sticky-title {
				position: fixed;
				top: 13px;
				margin-left: 30px;
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
}
</style>
