<template>
	<div id="addTenantCheckPhone" class="check-phone-container">
		<div class="check-phone-form">
			<form @submit.prevent="checkPhoneNumber">
				<mami-field-select
					class="field-item"
					:option-values="kostListOptions"
					:default-value="selectedKost"
					:display-value="displayKostValue"
					:is-loading="isLoadingKostList"
					:has-more="kostListParams.hasMore"
					is-infinite
					@load-more="getOwnerKostList"
					@select="assignDisplayKostValue"
				/>

				<div class="field-item">
					<mami-field-phone-number
						field-label="Nomor Handphone"
						placeholder-label="Isi dengan nomor Handphone penyewa"
						is-required
						input-id="phoneNumberField"
						:default-value="tenantPhone"
						@input="onInputPhoneNumber"
					/>

					<p class="mami-input-error text-danger">{{ phoneErrorMessage }}</p>
				</div>

				<mami-field-select
					field-label="Nomor Kamar"
					class="room-allotment-select field-item"
					:is-required="true"
					placeholder-label="Pilih nomor kamar kos"
					:display-value="displayRoomValue"
					@on-open-options="toggleRoomAllotment(true)"
				/>

				<bg-alert
					description="Mamikos menjaga keamanan data identitas setiap penggunanya."
					variant="info"
					:closable="false"
				>
					<template slot="footer">
						<bg-link variant="medium" @click="openDisclaimerLink"
							>Bagaimana caranya?</bg-link
						>
					</template>
				</bg-alert>

				<div class="form-button">
					<button
						type="submit"
						class="btn btn-primary"
						:class="{
							'--disabled': isSubmitDisabled,
							'--loading': isLoadingCheckPhone
						}"
						:disabled="isSubmitDisabled"
					>
						<mami-button-loading v-show="isLoadingCheckPhone" />
						<span v-show="!isLoadingCheckPhone">Tambah Penyewa</span>
					</button>
				</div>
			</form>
		</div>

		<room-allotment-wrapper
			:show-modal="isShowRoomAllotment"
			:is-can-select-on-location="false"
			:is-show-previous-selected-room="false"
			:is-add-tenant="true"
			@close="toggleRoomAllotment(false)"
		/>

		<add-tenant-modal
			:is-show-modal="isModalContractActive"
			modal-title="Penyewa masih memiliki kontrak lain"
			modal-description="Anda baru bisa menambahkan penyewa ini jika masa sewanya berakhir maksimal 2 bulan lagi."
			image-src="/general/img/pictures/img_booking_full.svg"
			image-alt="image contract active"
			primary-button-text="Kembali"
			@primary-button-clicked="toggleModalContract(false)"
			@close="toggleModalContract(false)"
		/>

		<add-tenant-modal-gender-mismatch
			:is-show-modal="isShowModalGenderMismatch"
			@primary-button-clicked="isShowModalGenderMismatch = false"
			@close="isShowModalGenderMismatch = false"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { BgAlert, BgLink } from 'bangul-vue';
import 'bangul-vue/dist/bangul.css';

import _forEach from 'lodash/forEach';
import EventBus from '../../event-bus/event-bus';

import RoomAllotmentWrapper from '../room-allotment/RoomAllotmentWrapper';
import AddTenantModal from './AddTenantModal';
import AddTenantModalGenderMismatch from './biodata/AddTenantModalGenderMismatch';

import MixinAddTenant from '../../mixins/MixinAddTenant';

const MamiButtonLoading = () =>
	import('Js/@components/mami-components/MamiButtonLoading');
const MamiFieldPhoneNumber = () =>
	import('Js/@components/mami-components/MamiFieldPhoneNumber');
const MamiFieldSelect = () =>
	import('Js/@components/mami-components/MamiFieldSelect');

export default {
	components: {
		BgAlert,
		BgLink,
		RoomAllotmentWrapper,
		AddTenantModal,
		MamiButtonLoading,
		MamiFieldPhoneNumber,
		MamiFieldSelect,
		AddTenantModalGenderMismatch
	},

	mixins: [MixinAddTenant],

	data() {
		return {
			tenantPhone: '',
			displayKostValue: '',
			phoneErrorMessage: '',
			isShowRoomAllotment: false,
			isModalContractActive: false,
			isLoadingCheckPhone: false,
			isShowModalGenderMismatch: false
		};
	},

	computed: {
		selectedKost() {
			return this.$store.state.addTenant.selectedKost;
		},
		ownerKostList() {
			return this.$store.state.addTenant.ownerKostList;
		},
		kostListOptions() {
			return (this.ownerKostList || []).map(kost => {
				return {
					val: kost,
					label: kost.room_title
				};
			});
		},
		roomAllotment() {
			return this.$store.state.tenantProfile.tenantProfile.roomAllotment;
		},
		isSubmitDisabled() {
			return (
				!this.tenantPhone ||
				!this.displayKostValue ||
				!this.displayRoomValue ||
				this.phoneErrorMessage.length !== 0
			);
		},
		kostGender() {
			return this.$store.state.addTenant.selectedKost.gender;
		},
		tenantPhoneVal() {
			return this.$store.state.addTenant.params.phone_number;
		},
		displayRoomValue: {
			get() {
				return this.$store.state.addTenant.selectedTenantRoom;
			},
			set(value) {
				this.$store.commit('addTenant/setSelectedTenantRoom', value);
			}
		},
		disclaimerText() {
			return this.$store.state.addTenant.disclaimerText;
		}
	},

	watch: {
		selectedKost: {
			immediate: true,
			handler(value) {
				this.assignDisplayKostValue(value);
				this.resetRoomAllotmentValue();
			}
		},
		roomAllotment: {
			immediate: true,
			handler(value) {
				this.assignDisplayRoomValue(value);
			}
		},
		tenantPhoneVal: {
			immediate: true,
			handler(value) {
				this.tenantPhone = this.tenantPhoneVal;
			}
		}
	},

	mounted() {
		this.trackCheckPhoneVisited();
	},

	methods: {
		assignDisplayKostValue(kost) {
			const tenantPhone = this.tenantPhoneVal;
			this.$store.dispatch('addTenant/setSelectedKost', kost);
			this.$store.commit('setUserRoom', kost);
			this.displayKostValue = `${kost.room_title}, ${kost.area_formatted}`;
			this.$store.commit('addTenant/setTenantPhone', tenantPhone);
		},
		assignDisplayRoomValue(room) {
			if (room.name) {
				this.displayRoomValue = `${room.name} ${room.floor}`;
				this.$store.commit('addTenant/setDesignerRoomId', room.id);
			} else {
				this.displayRoomValue = '';
				this.$store.commit('addTenant/setDesignerRoomId', '');
			}
		},
		resetRoomAllotmentValue() {
			this.displayRoomValue = '';
			this.$store.commit('addTenant/setDesignerRoomId', '');
		},
		onInputPhoneNumber(phoneNumber) {
			this.tenantPhone = phoneNumber;
			const phoneNumberFormat = phoneNumber.substring(0, 2);
			this.validatePhoneNumber(phoneNumber);
		},
		validatePhoneNumber(phoneNumber) {
			if (!/^08[0-9]+$/.test(phoneNumber)) {
				this.phoneErrorMessage = 'Nomor HP harus angka dan diawali dengan 08';
			} else {
				if (phoneNumber.length < 10) {
					this.phoneErrorMessage = 'Nomor HP minimal 10 karakter';
				} else {
					this.phoneErrorMessage = '';
				}
			}
		},
		toggleRoomAllotment(value) {
			const phoneField = document.getElementById('phoneNumberField').blur();
			setTimeout(() => {
				this.isShowRoomAllotment = value;
			}, 850);
		},
		validateGender(gender) {
			return !(
				(gender === 'female' && this.kostGender.toString() === '1') ||
				(gender === 'male' && this.kostGender.toString() === '2')
			);
		},
		checkPhoneNumber() {
			this.isLoadingCheckPhone = true;

			axios
				.get(`tenant/phone-number/${this.tenantPhone}`)
				.then(response => {
					this.isLoadingCheckPhone = false;
					if (response.data.status) {
						if (response.data.tenant.is_active_contract) {
							this.toggleModalContract(true);
						} else {
							if (this.validateGender(response.data.tenant.gender_value)) {
								this.$store.commit('addTenant/setTenantInitialProfile', {
									...response.data.tenant,
									room_number: ''
								});
								this.nextSection();
							} else {
								this.isShowModalGenderMismatch = true;
							}
						}
					} else {
						this.$store.commit('addTenant/setTenantPhone', this.tenantPhone);
						this.nextSection();
					}
				})
				.catch(error => {
					this.isLoadingCheckPhone = false;
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		},
		nextSection() {
			this.$router.push({ name: 'addTenantBiodata' });
		},
		toggleModalContract(state) {
			this.isModalContractActive = state;
		},
		openDisclaimerLink() {
			window.open(
				'https://help.mamikos.com/info-umum/?category=tentang-akun&subCategory=verifikasi-akun-dan-identitas&slug=bagaimana-cara-mamikos-menjaga-keamanan-data-saya-sebagai-pengguna',
				'_blank'
			);
		},
		trackCheckPhoneVisited() {
			tracker('moe', [
				'[Owner] Tambah Penyewa Informasi Penyewa Handphone - Page Visited',
				{
					interface: this.userInterface,
					owner_name: _get(this.userData, 'name', ''),
					owner_phone_number: _get(this.userData, 'phone_number', ''),
					redirection_source: this.redirectionSourceCheckPhone
				}
			]);
		}
	}
};
</script>

<style lang="scss">
#addTenantCheckPhone {
	#roomAllotmentWrapper.modal.in {
		z-index: 1052;
	}

	.room-allotment-select {
		select {
			option {
				display: none;
			}
		}
	}

	.mami-info {
		&--info {
			background-color: #fff;
			color: inherit;
			font-weight: bold;
			border-color: 1px solid #e8e8e8;
		}
	}
}
</style>

<style lang="scss" scoped>
.check-phone-container {
	font-size: 16px;

	input {
		width: 100%;
	}

	.check-phone-form {
		max-width: 767px;
		margin-top: 35px;

		.field-item {
			margin-bottom: 15px;

			.mami-input-error {
				margin-top: 4px;
				font-size: 14px;
				line-height: 21px;
			}
		}

		.form-button {
			margin-top: 35px;

			button {
				width: 100%;
				border: none;
				height: 48px;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;

				&.--loading {
					background-color: #6ecf91;
				}
			}
		}
	}
}
</style>
