<template>
	<mami-modal-wrap
		class="add-tenant-modal"
		:show-modal="isShowModal"
		@close="onModalClose"
	>
		<div class="add-tenant-modal__content">
			<img
				v-if="imageSrc"
				v-lazy="{
					src: imageSrc
				}"
				:alt="imageAlt"
				class="add-tenant-modal__image"
			/>
			<h2 v-if="modalTitle" class="add-tenant-modal__title">
				{{ modalTitle }}
			</h2>
			<p v-if="modalDescription" class="add-tenant-modal__description">
				{{ modalDescription }}
			</p>
			<div class="add-tenant-modal__footer">
				<button
					type="button"
					class="btn btn-primary add-tenant-modal__primary-btn"
					@click="onPrimaryButtonClicked"
				>
					{{ primaryButtonText }}
				</button>
				<button
					v-if="secondaryButtonText"
					type="button"
					class="btn text-primary add-tenant-modal__secondary-btn"
					@click="onSecondaryButtonClicked"
				>
					{{ secondaryButtonText }}
				</button>
			</div>
		</div>
	</mami-modal-wrap>
</template>

<script>
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	name: 'AddTenantModalWrapper',
	components: {
		MamiModalWrap
	},
	props: {
		isShowModal: {
			type: Boolean,
			default: false
		},
		imageSrc: {
			type: String,
			default: ''
		},
		imageAlt: {
			type: String,
			default: ''
		},
		modalTitle: {
			type: String,
			default: ''
		},
		modalDescription: {
			type: String,
			default: ''
		},
		primaryButtonText: {
			type: String,
			default: ''
		},
		secondaryButtonText: {
			type: String,
			default: ''
		}
	},
	beforeDestroy() {
		this.removeModalOpenClassFromBody();
	},
	methods: {
		onModalClose() {
			this.$emit('close');
		},
		onPrimaryButtonClicked() {
			this.$emit('primary-button-clicked');
		},
		onSecondaryButtonClicked() {
			this.$emit('secondary-button-clicked');
		},
		removeModalOpenClassFromBody() {
			document.body.classList.remove('modal-open');
			document.body.style.paddingRight = 0;
		}
	}
};
</script>

<style lang="scss">
.add-tenant-modal {
	.btn-close-filter {
		margin-right: 4px;

		&.has-text {
			&::after {
				display: none !important;
			}
		}
	}

	.modal-content {
		width: 100%;
		border-color: transparent;
		border-radius: 16px;

		.modal-header {
			display: none;
		}

		.modal-footer {
			display: none;
		}
	}

	.modal-dialog {
		display: flex;
		width: 574px;
		max-width: 100%;
		height: 100%;
		align-items: center;
		margin: 0 auto;
	}

	&.modal.fade .modal-dialog {
		transform: translate(0, -5%);
	}

	&.modal.in .modal-dialog {
		transform: translate(0, 0);
	}

	.modal-body {
		padding: 32px !important;
	}

	@media (max-width: 767px) {
		.modal-dialog {
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: auto;
			max-height: 100%;
			margin: 0 auto;
			border: 0;
		}

		.modal-body {
			padding: 16px !important;
		}

		.modal-content {
			max-height: 100%;
			overflow-y: auto;
			border: 0;
			border-radius: 0;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		.modal-button-close {
			margin-bottom: -20px;
		}

		&.modal.fade .modal-dialog {
			transform: translate3d(0, 100vh, 0) !important;
		}

		&.modal.in .modal-dialog {
			transform: translate3d(0, 1px, 0) !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.add-tenant-modal {
	text-align: left;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__footer {
		display: flex;
		width: 100%;
		margin-top: 24px;
		justify-content: space-between;
		flex-direction: row-reverse;

		.btn {
			width: 100%;
			padding: 12px;
			font-size: 14px;
			font-weight: bold;
			line-height: 22px;
			border-radius: 4px;
		}

		.btn:nth-of-type(2) {
			margin-right: 8px;
		}
	}

	&__description {
		width: 100%;
		margin-bottom: 0;
		font-size: 16px;
		line-height: 24px;
	}

	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
	}

	&__image {
		width: 224px;
		max-width: 100%;
		margin-bottom: 48px;
	}

	&__primary-btn {
		background-color: #1baa56;
		border: 1px solid #1baa56;

		&:hover {
			background-color: #6ecf91;
			border-color: #6ecf91;
		}

		&:focus {
			background-color: #008742;
			border-color: #008742;
		}
	}

	&__secondary-btn {
		color: #404040;
		background-color: transparent;
		border: 1px solid #e8e8e8;
	}

	@media (max-width: 767px) {
		&__footer {
			flex-direction: column;

			.btn {
				width: 100%;
			}

			.btn:nth-of-type(2) {
				margin-top: 16px;
			}
		}

		&__title {
			font-size: 20px;
			line-height: 28px;
		}

		&__image {
			margin-bottom: 32px;
		}
	}
}
</style>
