<template>
	<div id="addTenantProfileNavbar" class="add-tenant-navbar">
		<div class="navbar-container">
			<img
				class="navbar-back-icon"
				src="/general/img/icons/ic_full-arrow-left_s_dark.svg"
				alt="ic full arrow left"
				@click="backToPrevStep"
			/>
			<img
				v-if="!activeStepIndex"
				class="navbar-mamikos-logo hidden-xs"
				src="/general/img/logo/logo_mamikos_green.svg"
				alt="ic mamikos logo"
			/>

			<template v-if="stepTitle && activeStepIndex">
				<span class="caption-large hidden-xs">
					Langkah {{ activeStepIndex }}: {{ stepTitle }}
				</span>
				<span class="caption-small visible-xs">
					Langkah {{ activeStepIndex }} dari {{ totalStep }}
				</span>
			</template>
		</div>

		<progressbar
			class="navbar-progressbar hidden-xs"
			:now="stepProgress"
			type="success"
		/>
	</div>
</template>

<script>
import { progressbar } from 'vue-strap';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	components: {
		progressbar
	},
	mixins: [mixinGetQueryString],

	props: {
		activeStepIndex: {
			type: Number,
			default: 0
		},
		totalStep: {
			type: Number,
			default: 0
		},
		stepTitle: {
			type: String,
			default: ''
		}
	},

	computed: {
		stepProgress() {
			return (this.activeStepIndex * 100) / this.totalStep;
		}
	},

	methods: {
		backToPrevStep() {
			if (this.$route.name === 'addTenantSelectKost') {
				const { journey } = this.$store.state.addTenant;
				if (
					this.getQueryString('interface') === 'android' ||
					this.getQueryString('interface') === 'ios'
				) {
					window.location.replace(`bang.kerupux.com://owner_profile`);
				} else if (!!journey && journey.length > 0) {
					if (journey[0].includes('router-path-')) {
						const routerPath = journey[0].replace('router-path-', '');
						if (
							!routerPath ||
							routerPath.includes('add-tenant') ||
							routerPath === '/'
						) {
							window.location.href = oxWebUrl;
						} else {
							this.$router.push(routerPath);
						}
					} else if (journey[0].includes('add-tenant')) {
						window.location.href = oxWebUrl;
					} else {
						window.location.href = journey[0];
					}
				} else {
					window.location.href = oxWebUrl;
				}
			} else {
				this.$router.go(-1);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.add-tenant-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	height: 54px;
	display: flex;
	align-items: center;
	z-index: 2;

	@media (min-width: 768px) {
		border-bottom: 1px solid #e8e8e8;

		&.--is-progressbar-active {
			border-bottom: 4px solid #e8e8e8;
		}
	}

	.navbar-container {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;

		@media (max-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				color: #949494;
			}
		}

		img {
			&.navbar-back-icon {
				height: 18px;
				margin-right: 20px;
				cursor: pointer;
			}

			&.navbar-mamikos-logo {
				height: 25px;
			}
		}
	}

	.navbar-progressbar {
		height: 4px;
		position: absolute;
		bottom: -3px;
	}
}
</style>
