<template>
	<div id="tenantDescription" class="tenant-description">
		<label for="tenantDescriptionText" class="tenant-description__label">
			Deskripsikan diri Anda
			<span class="text-muted">(opsional)</span>
		</label>
		<textarea
			id="tenantDescriptionText"
			v-model="tenantDescription"
			name="tenant-description__textarea"
			rows="3"
			class="tenant-description__textarea bordered-form"
			:maxlength="maxDescriptionChars"
			:placeholder="tenantDescriptionPlaceholder"
		></textarea>
		<span class="tenant-description__textarea-counter">{{
			tenantDescriptionCounter
		}}</span>
	</div>
</template>

<script>
export default {
	data() {
		return {
			maxDescriptionChars: 200,
			tenantDescriptionPlaceholder:
				'Misal: Salam kenal, Bapak/Ibu. Nama saya Andi. Saya adalah karyawan di Mamikos yang membutuhkan tempat tinggal di dekat tempat kerja saya. Mohon bantuannya dari Bapak/Ibu.'
		};
	},
	computed: {
		tenantDescription: {
			get() {
				return this.$store.state.params.contact_introduction;
			},
			set(value) {
				this.$store.commit('setTenantDesc', value);
			}
		},
		tenantDescriptionCounter() {
			return `${this.tenantDescription.length}/${this.maxDescriptionChars}`;
		}
	},
	watch: {
		tenantDescription: {
			immediate: true,
			handler(description) {
				const notAllowedCharRegex = /[^a-zA-Z0-9,. ]/g;
				this.tenantDescription = description.replace(notAllowedCharRegex, '');
			}
		}
	}
};
</script>

<style lang="scss" scoped>
#tenantDescription {
	.tenant-description {
		margin-bottom: 8px;

		&__label {
			.text-muted {
				font-weight: normal;
			}
		}

		&__textarea {
			display: block;
			width: 100%;
			height: 100%;
			resize: vertical;

			&-counter {
				color: #999999;
				width: 100%;
				text-align: right;
				display: block;
			}
		}
	}
}
</style>
