<template>
	<div id="bookingInputTenantData" :class="{ '--is-edit': isEdit }">
		<div v-if="isEdit" class="navbar-edit">
			<filter-close-button :has-text="false" @press="cancelEdit" />
		</div>

		<div class="booking-input-tenant-data">
			<div class="input-caption">
				<h2>Masukkan informasi penyewa</h2>
				<p>
					Beri tahu data diri sesuai kartu identitas, agar pemilik dapat
					verifikasi saat menerimamu di kos.
				</p>
				<mami-info
					variant="default"
					alignment="center"
					class="input-tenant-warning"
				>
					Pada saat masuk kos, mohon siapkan kartu identitas asli untuk
					verifikasi.
				</mami-info>
			</div>

			<div class="tenant-data-form">
				<booking-tenant-data-form
					@old-data="saveOldData"
				></booking-tenant-data-form>

				<booking-placeholder-id-verif class="tenant-data-id" />
			</div>

			<div v-if="isEdit" class="booking-save-edit">
				<button
					type="button"
					class="btn btn-primary"
					:class="{ '--disabled': isPhoneError || isNameError }"
					:disabled="isPhoneError || isNameError"
					@click="nextStep"
				>
					<span>Simpan</span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { propertyRentTypes } from 'Js/@utils/kostFilter';

import BookingPlaceholderIdVerif from '../booking-id-verification/BookingPlaceholderIdVerif';
import BookingTenantDataForm from './BookingTenantDataForm';

const FilterCloseButton = () => import('Js/@components/FilterCloseButton');
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		FilterCloseButton,
		BookingPlaceholderIdVerif,
		BookingTenantDataForm,
		MamiInfo
	},

	data() {
		return {
			oldDataTenant: {}
		};
	},

	computed: {
		isEdit() {
			return this.$route.params.editTenant;
		},
		authData() {
			return this.$store.state.authData;
		},
		bookingParams() {
			return this.$store.state.params;
		},
		detailKost() {
			return this.$store.state.detail;
		},
		idVerifStatus() {
			return (
				this.$store.state.extras.idVerifStatus === 'waiting' ||
				this.$store.state.extras.idVerifStatus === 'verified'
			);
		},
		emailVerifStatus() {
			return this.$store.state.extras.emailVerifStatus;
		},
		isPhoneError() {
			return this.$store.state.formError.phone_number;
		},
		isNameError() {
			return this.$store.state.formError.name;
		}
	},

	methods: {
		saveOldData(value) {
			this.oldDataTenant = value;
		},
		cancelEdit() {
			this.$store.commit('setUserDataName', this.oldDataTenant.name);
			this.$store.commit('setUserDataPhone', this.oldDataTenant.phone_number);
			this.$store.commit('setUserDataGender', this.oldDataTenant.gender);
			this.$store.commit('setTenantDesc', this.oldDataTenant.description);
			this.$store.commit('setUserDataJob', this.oldDataTenant.job);
			this.$store.commit('setUserDataWorkPlace', this.oldDataTenant.work_place);
			this.$store.commit(
				'setUserDataIsMarriedStatus',
				this.oldDataTenant.is_married
			);
			this.$store.commit(
				'setUserDataTotalRenter',
				this.oldDataTenant.total_renter
			);

			this.nextStep();
		},
		nextStep() {
			this.trackUpdateTenantInfo();
			this.$router.push({ name: 'booking-summary' });
		},
		trackUpdateTenantInfo() {
			const checkinDate = this.bookingParams.checkin
				.replace(/-/g, '/')
				.replace('T', ' ');
			const birthDate = this.authData.all.birthday
				.replace(/-/g, '/')
				.replace('T', ' ');

			tracker('moe', [
				'[User] Booking Personal Information Updated',
				{
					user_id: _get(this.authData, 'all.id', null),
					interface: 'mobile',
					property_name: _get(this.detailKost, 'room_title', null),
					property_type: 'kost',
					property_id: _get(this.detailKost, 'seq', null),
					property_city: _get(this.detailKost, 'area_city', null),
					property_subdistrict: _get(this.detailKost, 'area_subdistrict', null),
					booking_checkin_time: new Date(checkinDate),
					booking_periode: _get(this.bookingParams, 'duration', 0),
					property_rent_type:
						propertyRentTypes[
							_get(this.bookingParams, 'rent_count_type', 'monthly')
						],
					tenant_gender:
						_get(this.bookingParams, 'contact_gender') === 'female'
							? 'Perempuan'
							: 'Laki-Laki',
					tenant_work_place: _get(this.bookingParams, 'contact_work_place', ''),
					tenant_job: _get(this.bookingParams, 'contact_job', null),
					tenant_name: _get(this.bookingParams, 'contact_name', null),
					tenant_phone_number: _get(this.bookingParams, 'contact_phone', null),
					user_email: _get(this.authData, 'all.email', null),
					total_renter: _get(this.bookingParams, 'total_renter', 1),
					tenant_birthday: new Date(birthDate),
					tenant_marital_status: _get(
						this.authData,
						'all.marital_status',
						'Belum Kawin'
					),
					tenant_city: _get(this.authData, 'all.city', null),
					tenant_phone_additional: _get(
						this.authData,
						'all.phone_number_additional'
					),
					is_verify_phone_number: _get(this.authData, 'all.is_verify', false),
					is_verify_email: this.emailVerifStatus,
					is_verify_identity_card: this.idVerifStatus
				}
			]);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable selector-max-specificity, selector-max-id, selector-max-type */
#bookingInputTenantData {
	.btn-close-filter {
		margin-left: 1.5rem;

		span {
			font-size: 50px;
			font-weight: 100;
			color: #757575;
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
/* stylelint-disable selector-max-specificity, selector-max-id, selector-max-type, selector-max-compound-selectors, max-nesting-depth */
#bookingInputTenantData {
	@media (max-width: 767px) {
		margin: 0 -15px;
	}

	&.--is-edit {
		position: fixed;
		top: 0;
		z-index: 2011;
		display: flex;
		width: 100%;
		height: 100%;
		padding-bottom: 72px;
		overflow-y: scroll;
		flex-direction: column;
		background-color: #fff;
		align-items: flex-start;

		.navbar-edit {
			width: 100%;
			padding: 15px;
			border-bottom: 1px solid #e8e8e8;
		}
	}

	.info-kost {
		padding: 1.6rem;
		padding-top: 1.8rem;
		margin-bottom: 1.6rem;
		border-bottom: 4px solid #f4f4f4;
	}

	.booking-input-tenant-data {
		width: 100%;

		.input-caption {
			width: 100%;
			padding-left: 0;

			h2 {
				font-size: 20px;
				font-weight: bold;
			}

			h3 {
				margin-top: 0;
				margin-bottom: 2rem;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.5;
			}

			p {
				margin-bottom: 0;
				font-size: 16px;
			}

			.input-tenant-warning {
				margin-top: 2.4rem;
			}
		}

		.tenant-data-form {
			width: 100%;
			margin-top: 25px;

			@media (max-width: 767px) {
				padding-bottom: 50px;
			}
		}

		.tenant-data-id {
			width: 100%;
			margin-top: 36px;
		}

		@media (max-width: 767px) {
			padding: 2rem 1.6rem;
			padding-top: 0;
		}

		@media (max-width: 992px) {
			flex-direction: column;

			.input-caption {
				width: 100%;
				max-width: 100%;
				padding-right: 0;
				margin-bottom: 2.2rem;

				h3 {
					margin-bottom: 1.2rem;
					font-size: 20px;
					line-height: 30px;
				}

				p {
					font-size: 14px;
					font-weight: normal;
					line-height: 21px;
				}
			}
		}

		@media (max-height: 800px) {
			padding-bottom: 2.4rem;
		}
	}

	.booking-save-edit {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		width: 100%;
		padding: 16px 20px;
		background-color: #fff;
		box-shadow: 0 -3px 6px 0 hsla(0, 4%, 66%, 0.16);
		justify-content: center;

		button {
			width: 100%;
			height: 40px;
			font-weight: bold;
			letter-spacing: 0.75px;
		}
	}
}
/* stylelint-enable */
</style>
