<template>
	<div id="bookingTenantJob" class="tenant-job">
		<label class="tenant-job__label">Pekerjaan</label>
		<div class="tenant-job__radio">
			<mami-radio
				v-for="jobOption in jobOptions"
				:key="jobOption.value"
				v-model="tenantJob"
				:label="jobOption.label"
				:selected-value="jobOption.value"
				is-button-style
			>
			</mami-radio>
		</div>

		<div class="tenant-job__description">
			<label v-if="jobLabel">
				{{ jobLabel }}
				<span class="text-muted">(opsional)</span>
			</label>

			<input
				v-if="tenantJob === 'lainnya'"
				id="tenantWorkPlace"
				v-model="userParamsWorkPlace"
				type="text"
				class="bordered-form"
				minlength="2"
				maxlength="100"
				:placeholder="placeholderOtherWorkPlace"
			/>

			<div v-else class="tenant-job__workplace">
				<job-select
					v-if="userJobs[tenantJob]"
					ref="job-select"
					v-model="tenantWorkPlace"
					class="tenant-job__workplace-select"
					:class="{ '--empty': !tenantWorkPlace }"
					:options="userJobs[tenantJob].options"
					options-value="name"
					options-label="name"
					:placeholder="userJobs[tenantJob].placeholder"
					search
				/>

				<template v-if="isSelectedOtherWorkPlaceOption">
					<label for="other-workplace" class="other-workplace__label"
						>Lainnya</label
					>
					<input
						v-model="userParamsOtherWorkPlace"
						type="text"
						name="other-workplace"
						:placeholder="userJobs[tenantJob].placeholderOther"
						class="bordered-form"
					/>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
import { select } from 'vue-strap';
import universities from 'Json/universities.json';
import companies from 'Json/companies.json';

const MamiRadio = () => import('Js/@components/mami-components/MamiRadio');

export default {
	components: {
		jobSelect: select,
		MamiRadio
	},

	data() {
		return {
			placeholderOtherWorkPlace: 'Contoh: Wiraswasta',
			isSelectedOtherWorkPlaceOption: false,
			jobOptions: [
				{
					value: 'kuliah',
					label: 'Mahasiswa'
				},
				{
					value: 'kerja',
					label: 'Karyawan'
				},
				{
					value: 'lainnya',
					label: 'Lainnya'
				}
			],
			userJobs: {
				kuliah: {
					options: universities,
					label: 'Nama Universitas',
					placeholder: 'Masukkan nama perguruan tinggi',
					placeholderOther: 'Masukkan nama perguruan tinggi lainnya'
				},
				kerja: {
					options: companies,
					label: 'Nama Perusahaan',
					placeholder: 'Masukkan nama perusahaan',
					placeholderOther: 'Masukkan nama perusahaan lainnya'
				}
			}
		};
	},

	computed: {
		userParamsOtherWorkPlace: {
			get() {
				return this.$store.state.otherWorkPlace;
			},
			set(val) {
				this.$store.commit('setOtherWorkPlace', val);
			}
		},
		userParamsWorkPlace: {
			get() {
				return this.$store.state.params.contact_work_place;
			},
			set(val) {
				this.$store.commit('setUserDataWorkPlace', val);
			}
		},
		tenantJob: {
			get() {
				return this.$store.state.params.contact_job;
			},
			set(val) {
				this.$store.commit('setUserDataJob', val);
			}
		},
		tenantWorkPlace: {
			get() {
				return this.userParamsWorkPlace;
			},
			set(val) {
				this.isSelectedOtherWorkPlaceOption = val === 'Lainnya';
				this.userParamsWorkPlace = val;
			}
		},
		jobLabel() {
			if (this.tenantJob === 'kuliah') {
				return 'Nama Perguruan Tinggi';
			} else if (this.tenantJob === 'kerja') {
				return 'Nama Perusahaan';
			} else if (this.tenantJob === 'lainnya') {
				return 'Deskripsi';
			}

			return '';
		}
	},

	watch: {
		tenantJob(val) {
			this.tenantWorkPlace = null;
			this.userParamsOtherWorkPlace = null;
		}
	},

	created() {
		this.checkWorkPlace();
		this.assignInitialWorkPlace();
	},

	methods: {
		checkWorkPlace() {
			if (
				this.tenantJob &&
				this.tenantJob !== 'lainnya' &&
				this.tenantWorkPlace &&
				this.userJobs[this.tenantJob]
			) {
				const type = this.userJobs[this.tenantJob];
				this.isSelectedOtherWorkPlaceOption = !type.options.some(option => {
					return option.name === this.tenantWorkPlace;
				});
			}
		},
		assignInitialWorkPlace() {
			if (this.isSelectedOtherWorkPlaceOption) {
				this.userParamsOtherWorkPlace = this.tenantWorkPlace;
				this.tenantWorkPlace = 'Lainnya';
			}
		}
	}
};
</script>

<style lang="scss">
#bookingTenantJob {
	.tenant-job {
		&__label {
			margin-bottom: 0;
		}

		&__radio {
			display: flex;
			flex-wrap: wrap;
			margin: 16px 0;

			.radio {
				padding: 8px 12px;
				border: 1px solid #dbdbdb;
				color: #595959;
				margin: 0 6px;
				border-radius: 30px;

				label {
					font-weight: bold;
					font-size: 12px;
					line-height: 18px;
					padding: 0;
					min-height: 0;
				}

				input[type='radio'],
				.icon {
					visibility: hidden;
				}

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}

				&.active {
					border-color: #e8f7ee;
					background-color: #e8f7ee;
					color: #1baa56;
				}
			}
		}

		&__description {
			margin-top: 30px;

			input {
				display: block;
				width: 100%;
			}

			.text-muted {
				font-weight: normal;
			}
		}

		&__workplace {
			.other-workplace__label {
				margin-top: 16px;
			}

			&-select {
				width: 100%;

				.dropdown-toggle {
					display: flex;
					align-items: center;
					width: 100%;
					box-shadow: none;
					position: relative;
					height: 48px;

					&:focus {
						border-color: #1baa56 !important;
					}

					span {
						font-size: 16px;
						line-height: 24px;
						color: inherit;
					}
				}

				.dropdown-menu {
					max-height: 300px;
					overflow-y: auto;
					right: 0;
					bottom: 100%;
					top: unset;
				}

				&.open {
					.dropdown-toggle {
						border-color: #1baa56 !important;
					}
				}

				&.--empty {
					.dropdown-toggle {
						span {
							color: #dbdbdb;
						}
					}
				}
			}
		}
	}
}
</style>
