<template>
	<div class="kost-rules-placeholder">
		<span class="shimmer kost-rules-placeholder__title" />
		<div
			v-if="navigator.isMobile"
			class="shimmer kost-rules-placeholder__cover-gallery"
		/>
		<div class="kost-rules-placeholder__gallery">
			<div
				v-for="indexGallery in 2"
				:key="indexGallery"
				class="shimmer kost-rules-placeholder__gallery-item"
			/>
		</div>
		<div
			v-for="indexDescription in 3"
			:key="indexDescription"
			class="kost-rules-placeholder__description"
		>
			<span class="shimmer kost-rules-placeholder__description-icon" />
			<span class="shimmer kost-rules-placeholder__description-text" />
		</div>
		<span class="shimmer kost-rules-placeholder__link" />
	</div>
</template>

<style lang="scss" scoped>
@import 'Js/_detail/style/index.scss';

.kost-rules-placeholder {
	display: block;
	padding: 48px 0;

	@media (max-width: 767px) {
		padding: 32px 0;
		background: #fff;
	}

	.kost-rules-placeholder__title {
		display: block;
		width: 60%;
		height: 32px;

		@media (max-width: 767px) {
			margin-left: 16px;
		}
	}

	.kost-rules-placeholder__cover-gallery {
		display: block;
		width: calc(100% - 32px);
		height: 220px;
		margin: 24px auto 0;
	}

	.kost-rules-placeholder__gallery {
		display: flex;
		margin-top: 20px;
		overflow: auto;

		@media (max-width: 767px) {
			max-width: calc(100vw - 16px);
			margin-left: 16px;
		}

		.kost-rules-placeholder__gallery-item {
			display: flex;
			width: 200px;
			height: 136px;
			flex-shrink: 0;

			@media (max-width: 767px) {
				width: 96px;
				height: 64px;
			}

			&:not(:first-of-type) {
				margin-left: 12px;
			}
		}
	}

	.kost-rules-placeholder__description {
		display: flex;
		margin-top: 24px;
		align-items: center;

		@media (max-width: 767px) {
			margin-left: 16px;
		}

		&:not(:first-of-type) {
			margin-top: 16px;
		}

		.kost-rules-placeholder__description-icon {
			display: block;
			width: 24px;
			height: 24px;
			border-radius: 12px;
		}

		.kost-rules-placeholder__description-text {
			display: block;
			width: 75%;
			height: 24px;
			margin-left: 12px;
		}
	}

	.kost-rules-placeholder__link {
		display: block;
		width: 30%;
		height: 24px;
		margin-top: 16px;

		@media (max-width: 767px) {
			margin-left: 16px;
		}
	}
}
</style>
