<template>
	<div class="kost-rules-gallery">
		<div
			v-for="(rulePhoto, rulePhotoIndex) in rulesGallery.photos"
			:key="`kost-rules-image-${rulePhotoIndex}`"
			class="kost-rules-gallery__item"
		>
			<picture
				class="kost-rules-gallery__item-photo"
				@click="$emit('handle-toggle-rules-modal', true, rulePhotoIndex)"
			>
				<source media="(min-width:768px)" :srcset="rulePhoto.large" />
				<source media="(max-width:767px)" :srcset="rulePhoto.medium" />
				<img
					v-lazy="{
						src: rulePhoto.large,
						error: '/general/img/pictures/placeholder/placeholder_loading.svg',
						loading: '/general/img/pictures/placeholder/placeholder_loading.svg'
					}"
					class="kost-rules-gallery__item-image"
					alt="foto peraturan kos"
				/>
				<span
					v-if="
						rulesGallery.hasMore &&
							rulePhotoIndex === rulesGallery.photos.length - 1
					"
					class="kost-rules-gallery__item-photo--overlay"
					>{{ rulesGallery.label }}
				</span>
			</picture>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DetailKostRulesGallery',
	props: {
		rulesGallery: {
			type: Object,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-rules-gallery {
	display: flex;

	@media (max-width: 767px) {
		padding: 0 16px;
	}

	.kost-rules-gallery__item {
		display: flex;

		&:not(:first-of-type) {
			margin-left: 12px;
		}
	}
}

.kost-rules-gallery__item-photo {
	position: relative;
	display: flex;
	flex-shrink: 0;
	width: 200px;
	height: 136px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	background-color: #c4c4c4;
	border-radius: 8px;

	@media (max-width: 767px) {
		width: 96px;
		height: 64px;
	}

	.kost-rules-gallery__item-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.kost-rules-gallery__item-photo--overlay {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
	}
}
</style>
