<template>
	<div class="kost-rules-list">
		<div
			v-for="(rule, ruleIndex) in rules"
			:key="`kost-rules-${ruleIndex}`"
			class="kost-rules-list__item"
		>
			<img
				v-lazy="{
					src: rule.small_icon_url,
					error: '/general/img/pictures/navbar/ic_profile.svg',
					loading: '/general/img/pictures/navbar/ic_profile.svg'
				}"
				class="kost-rules-list__item-img"
				:alt="`icon ${rule.name}`"
			/>
			<span class="kost-rules-list__item-label">
				{{ rule.name }}
			</span>
		</div>
		<button
			v-if="availableRules.length > 3 && isLimited"
			class="kost-rules-list__see-all"
			@click="$emit('handle-show-all-data')"
		>
			Lihat semua aturan kos
		</button>
	</div>
</template>

<script>
export default {
	name: 'DetailKostRulesItem',
	props: {
		rules: {
			type: Array,
			required: true
		},
		availableRules: {
			type: Array,
			required: true
		},
		isLimited: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-rules-list {
	display: block;

	@media (max-width: 767px) {
		padding: 0 16px;
	}

	.kost-rules-list__item {
		display: flex;
		margin-top: 20px;
		align-items: flex-start;

		&:not(:first-of-type) {
			margin-top: 12px;
		}

		@media (max-width: 767px) {
			margin-top: 24px;

			&:not(:first-of-type) {
				margin-top: 16px;
			}
		}
	}

	.kost-rules-list__see-all {
		padding: 0;
		margin-top: 24px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
		cursor: pointer;
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid #303030;
		outline: 0;
	}
}

.kost-rules-list__item-img {
	width: auto;
	height: 24px;
	margin-right: 12px;
	filter: grayscale(100%) brightness(30%);
}

.kost-rules-list__item-label {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #404040;
}
</style>
