<template>
	<div v-inviewport:250="handleFetchRules" class="kost-rules">
		<div class="kost-rules__divider">
			<bg-divider />
		</div>

		<div v-if="isRendered && isDataAvailable" class="kost-rules__content">
			<h2 class="kost-rules__title">
				Peraturan selama ngekos
			</h2>
			<template v-if="availableRulesGallery.length">
				<div
					v-if="navigator.isMobile && rulesGalleryCover"
					class="kost-rules__gallery-cover"
					@click="handleToggleRulesModal(true, -1)"
				>
					<img
						v-lazy="{
							src: rulesGalleryCover.medium,
							error:
								'/general/img/pictures/placeholder/placeholder_loading.svg',
							loading:
								'/general/img/pictures/placeholder/placeholder_loading.svg'
						}"
						class="kost-rules__img"
						alt="Foto cover peraturan kos"
					/>
				</div>
				<div class="kost-rules__gallery">
					<detail-kost-rules-gallery
						v-if="rulesGallery && rulesGallery.photos.length"
						:rules-gallery="rulesGallery"
						@handle-toggle-rules-modal="handleToggleRulesModal"
					/>
				</div>
			</template>
			<detail-kost-rules-item
				:rules="rules"
				:available-rules="availableRules"
				:is-limited="isLimited"
				@handle-show-all-data="handleShowAllData"
			/>
			<detail-kost-rules-gallery-modal
				:is-show="isRulesModalShow"
				:is-mobile-gallery="isMobileGallery"
				:modal-effect="modalEffect"
				:images="availableRulesGallery"
				:is-thumbnail-centered="isThumbnailCentered"
				:is-single="availableRulesGallery.length === 1"
				:swiper-initial-slide="swiperInitialSlide"
				entry-point="Overview Kos Rule"
				@close="handleToggleRulesModal"
			/>
		</div>
		<detail-kost-rules-skeleton v-else-if="!isRendered" />
	</div>
</template>

<script>
import InViewPortDirective from 'Js/@directives/InViewPortDirective';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import _get from 'lodash/get';
import { BgDivider } from 'bangul-vue';

import DetailKostRulesItem from './DetailKostRulesItem';
import DetailKostRulesGallery from './DetailKostRulesGallery';
import DetailKostRulesSkeleton from './DetailKostRulesSkeleton';
import DetailKostRulesGalleryModal from '../DetailKostSwiperGalleryModal';

export default {
	name: 'DetailKostRules',
	components: {
		DetailKostRulesItem,
		DetailKostRulesGallery,
		DetailKostRulesGalleryModal,
		DetailKostRulesSkeleton,
		BgDivider
	},
	directives: InViewPortDirective,
	data() {
		return {
			isLimited: true,
			isRendered: false,
			isRulesModalShow: false,
			swiperInitialSlide: 0,
			availableRules: [],
			availableRulesGallery: []
		};
	},
	computed: {
		rules() {
			return this.isLimited
				? this.availableRules.slice(0, 3)
				: this.availableRules;
		},
		rulesGallery() {
			const hasMore = !this.navigator.isMobile
				? this.availableRulesGallery.length > 3
				: false;
			const leftOver = hasMore ? this.availableRulesGallery.length - 3 : 0;

			return {
				photos: hasMore
					? this.availableRulesGallery.slice(0, 3)
					: this.navigator.isMobile
					? this.availableRulesGallery.slice(1)
					: this.availableRulesGallery,
				hasMore,
				label: hasMore ? `+${leftOver} foto` : ''
			};
		},
		rulesGalleryCover() {
			return this.availableRulesGallery.length
				? this.availableRulesGallery[0]
				: null;
		},
		isMobileGallery() {
			return window.innerWidth <= 800;
		},
		modalEffect() {
			/**
			 * the use of empty string is intended since we don't need fade effect on
			 * mobile device
			 */
			return this.isMobileGallery ? '' : 'fade';
		},
		isThumbnailCentered() {
			if (this.isMobileGallery) {
				const currentWindowWidth = window.innerWidth;
				const totalThumbnails = this.availableRulesGallery.length;
				const totalThumbnailsWidth = totalThumbnails * 96 + 4;

				return totalThumbnailsWidth < currentWindowWidth;
			}

			return this.availableRulesGallery.length < 6;
		},
		isDataAvailable() {
			return (
				!!this.availableRules.length || !!this.availableRulesGallery.length
			);
		}
	},
	methods: {
		handleShowAllData() {
			this.isLimited = false;
		},
		handleToggleRulesModal(payload, indexSwiper) {
			if (payload) {
				const swiperInitialSlide = navigator.isMobile
					? indexSwiper + 1
					: indexSwiper;
				this.swiperInitialSlide = swiperInitialSlide;
			}
			this.isRulesModalShow = payload;
		},
		async handleFetchRules() {
			const kostId = _get(this.$store.state, 'detail._id', null);

			if (!kostId) return;

			const response = await makeAPICall({
				method: 'get',
				url: `/stories/${kostId}/rules`
			});

			if (response && typeof response === 'object') {
				this.availableRules = _get(response, 'rules', []);
				this.availableRulesGallery = _get(response, 'photos', []);
			}

			this.isRendered = true;
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-rules {
	.kost-rules__divider {
		@media (max-width: 767px) {
			padding: 0 16px;
		}
	}

	.kost-rules__content {
		display: block;
		padding: 48px 0;

		@media (max-width: 767px) {
			padding: 32px 0;
			background: #fff;
		}
	}

	.kost-rules__title {
		margin: 0;
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
		color: #303030;

		@media (max-width: 767px) {
			padding: 0 16px;
			font-size: 20px;
			line-height: 28px;
		}
	}
}

.kost-rules__gallery-cover {
	display: flex;
	flex-shrink: 0;
	width: auto;
	height: 220px;
	margin: 24px 16px 0;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	background-color: #c4c4c4;
	border-radius: 8px;
}

.kost-rules__gallery {
	display: flex;
	margin-top: 20px;
	overflow: auto;

	@media (max-width: 767px) {
		width: 100vw;
	}
}

.kost-rules__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
</style>
