<template>
	<div>
		<div id="billingManagementMain" class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper-back">
						<a @click.prevent="backPrevPage">
							<img
								v-lazy="'/general/img/icons/ic_arrow-right-mamipay_green.svg'"
								alt="Icon turn back"
							/>
							<span>Kembali</span>
						</a>
					</div>
				</div>
				<div id="sideLeft" class="col-lg-3 col-sm-12">
					<profile-menu
						:nearest-checkout-date="nearestCheckoutDate"
					></profile-menu>
				</div>

				<div id="sideRight" class="col-lg-9 col-sm-12">
					<div class="row">
						<div v-if="statusPage === 'member'" class="col-xs-12">
							<manage-profile-termination-card
								v-if="isShowTerminationCard"
								class="manage-profile-termination-card"
								:status="terminationInfo.status"
								:tenant-name="terminationInfo.tenant_name"
								:room-number="tenantRoom"
								:termination-id="terminationInfo.request_id"
								:is-allow-reject="terminationInfo.allow_to_reject"
								@confirmed="handleTerminateRequestSubmitted(true)"
								@rejected="handleTerminateRequestSubmitted(false)"
								@submit-error="
									swalError(null, 'Terjadi galat. Silakan coba lagi.')
								"
							/>

							<div
								v-else-if="isTenantCheckin && !isBannerCheckinClose"
								class="wrapper-notification --is-background-size-contain --is-green-background"
							>
								<div class="row">
									<div class="col-xs-10 notification-area">
										<p class="notification-title">
											Penyewa telah melakukan Check-in kos
										</p>
										<p class="notification-description">
											Check-in telah dilakukan pada {{ checkinTextTime }}
										</p>
									</div>
									<div class="col-xs-2">
										<img
											v-lazy="
												'/general/img/icons/ic_delete-mamipay_s_green.svg'
											"
											class="image-close-checkin"
											alt="Icon close"
											@click="closeCheckinNotificationBanner"
										/>
									</div>
								</div>
							</div>

							<progress-billing class="bm-progress-billing"></progress-billing>

							<hr class="custom-line" />
						</div>

						<div
							v-if="isLoadingContractForm && statusPage === 'member'"
							class="skeleton-loader-title col-xs-12"
						>
							<skeleton-loader width="45%" height="32px" :radius="4" />
							<skeleton-loader width="30%" height="32px" :radius="4" />
						</div>

						<template v-else>
							<div
								v-if="statusPage === 'newMember' || statusPage === 'member'"
								class="col-md-8 col-xs-12"
							>
								<h1 class="title-right">{{ titlePage }}</h1>
							</div>

							<div v-if="statusPage === 'member'" class="col-md-4 col-xs-12">
								<div
									v-if="$route.name === 'paymentTenant'"
									class="custom-select-strap"
								>
									<datepicker
										v-model="dateSelected"
										:format="formatDate"
										:minimum-view="'year'"
										:maximum-view="'year'"
										@selected="getDataPayment"
									></datepicker>
								</div>
							</div>
						</template>

						<div v-if="statusPage === 'newMember'" class="col-xs-12">
							<div
								v-if="$route.name === 'biodataTenant'"
								class="custom-select-strap"
							>
								<v-select
									v-model="roomtenantIdProfile"
									:class="{ 'input-error': roomtenantIdProfile === '' }"
									:options="roomList"
									options-value="id"
									options-label="room_title"
									name="room[]"
									placeholder="Pilih Kos"
									search
									required
									@change="getRoom"
								></v-select>
								<p v-if="roomtenantIdProfile === ''" class="text-danger">
									Pilihan kos tidak boleh kosong.
								</p>
							</div>
						</div>

						<div v-if="statusPage === 'acceptBooking'" class="col-xs-12">
							<div
								v-lazy:background-image="
									'/general/img/pictures/img_background_mamipay_accept_booking.svg'
								"
								class="wrapper-notification"
							>
								<p>
									Anda akan menerima {{ tenantDataName }}, pilih kamar untuknya
								</p>
							</div>
						</div>

						<div v-if="statusPage === 'acceptBooking'" class="col-xs-12">
							<div class="box-link-wrapper">
								<div class="row">
									<div
										class="col-xs-4 box-link"
										:class="{
											'active-link': $route.name === 'biodataTenant'
										}"
									>
										<a href="#">Penempatan Kamar</a>
									</div>
									<div
										class="col-xs-4 box-link"
										:class="{
											'active-link': $route.name === 'tenantBill'
										}"
									>
										<a href="#">Atur Kontrak &amp; Tagihan</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<router-view :previous-route="previousRoute"></router-view>
				</div>
			</div>
		</div>

		<manage-modal-stop-rent></manage-modal-stop-rent>
	</div>
</template>

<script>
import { select } from 'vue-strap';
import Datepicker from 'vuejs-datepicker';

import ProfileMenu from './ProfileMenu';
import ProgressBilling from './ProgressBilling';
import ManageModalStopRent from 'Js/_ownerpage/mamipay/components/ManageModalStopRent';
import ManageProfileTerminationCard from 'Js/_ownerpage/mamipay/components/page-tenant-profile/ManageProfileTerminationCard';

import SkeletonLoader from 'Js/@components/SkeletonLoader';

import MixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import MixinTenantProfile from 'Js/_ownerpage/mamipay/mixins/MixinTenantProfile';
import MixinMamipayBooking from 'Js/_ownerpage/mamipay/mixins/MixinMamipayBooking';
import MixinBookingRoom from 'Js/_ownerpage/mamipay/mixins/MixinBookingRoom';

import EventBus from '../../event-bus/event-bus';
import * as storage from 'Js/@utils/storage';

export default {
	components: {
		ProfileMenu,
		ProgressBilling,
		ManageModalStopRent,
		ManageProfileTerminationCard,
		Datepicker,
		vSelect: select,
		SkeletonLoader
	},

	mixins: [
		MixinGetQueryString,
		MixinTenantProfile,
		MixinMamipayBooking,
		MixinBookingRoom
	],

	data() {
		return {
			dateSelected: '',
			isTenantCheckin: false,
			tenantCheckinTime: '',
			terminationInfo: '',
			nearestCheckoutDate: [],
			isFirstPageAfter: true,
			previousRoute: null,
			isHomeReturn: false,
			ownerDashboardUrl: oxWebUrl
		};
	},

	computed: {
		widgetRoomNumber() {
			return this.$store.state.tenantProfile.widgetInfo.roomNumber;
		},
		roomAllotment() {
			return this.tenantProfile.roomAllotment;
		},
		tenantRoom() {
			if (this.roomAllotment && this.roomAllotment.name) {
				let roomName = this.roomAllotment.name;
				if (this.roomAllotment.floor) {
					roomName += ` ${this.roomAllotment.floor}`;
				}
				return roomName;
			} else if (this.widgetRoomNumber) {
				return 'Kamar ' + this.sanitizeStr(this.widgetRoomNumber, 'kamar');
			}
			return 'Kamar Pilih di Tempat';
		},
		tenantDataName() {
			return this.$store.state.manageBooking.acceptBookingProfile.name;
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		titlePage() {
			if (this.statusPage === 'newMember') {
				return this.$route.name === 'biodataTenant'
					? 'Tambah Biodata Penyewa untuk'
					: 'Tambah Kontrak & Tagihan Penyewa';
			} else {
				return this.$route.name === 'biodataTenant'
					? 'Biodata Penyewa'
					: this.$route.name === 'tenantBill'
					? 'Atur Kontrak & Tagihan Penyewa'
					: 'Tagihan Pembayaran';
			}
		},
		roomId() {
			return this.$store.state.userRoom.id;
		},
		roomIdUserBooking() {
			return this.$store.state.manageBooking.listBookingSelected.room_id;
		},
		roomtenantIdProfile: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.roomId;
			},
			set(val) {
				this.$store.commit('setRoomId', val);
			}
		},
		roomList() {
			const list = this.$store.state.userRooms.filter(room => {
				return room.booking_status === true;
			});
			return Object.values(list);
		},
		checkinTextTime() {
			const formatedDate = this.$dayjs(this.tenantCheckinTime).format(
				'dddd D MMMM YYYY'
			);
			const formatedHour = this.$dayjs(this.tenantCheckinTime).format('HH:mm');

			return `${formatedDate} di jam ${formatedHour}`;
		},
		isBannerCheckinClose() {
			return (
				storage.local.getItem(`banner-checkin-close-${this.bookingId}`) ===
				'true'
			);
		},
		isTenantBillPage() {
			return this.$route.name === 'tenantBill' && this.statusPage === 'member';
		},
		isLoadingContractForm() {
			return this.isTenantBillPage && this.$store.getters.isLoadingContractForm;
		},
		isShowTerminationCard() {
			return (
				this.terminationInfo &&
				['confirmed', 'waiting'].includes(this.terminationInfo.status)
			);
		}
	},

	beforeRouteEnter(to, from, next) {
		next(vm => {
			if (vm.isFirstPageAfter) {
				vm.previousRoute = from;
				vm.isFirstPageAfter = false;
			}
		});
	},

	created() {
		const yearNow = this.$dayjs().format('YYYY');
		this.$store.dispatch('resetTenantProfile');
		this.$store.dispatch('resetTenantBill');
		this.$store.dispatch('resetWidgetInfo');
		this.changeStatusPage();

		if (this.statusPage === 'newMember') {
			if (this.roomId) {
				this.roomtenantIdProfile = this.roomId;
				this.getAllDetailRoom(this.roomtenantIdProfile);
			} else {
				this.getUserRooms();
			}
			this.getUserDetail(this.$route.params.tenantId);
		} else if (this.statusPage === 'acceptBooking') {
			this.getProfileBooking(this.$route.params.tenantId, this.getRoom);
		} else {
			this.getContract(this.$route.params.tenantId, !this.isTenantBillPage);
			this.getContractBill(
				this.$route.params.tenantId,
				yearNow,
				!this.isTenantBillPage
			);
		}

		this.checkHomeReturn();
	},

	mounted() {
		this.dateSelected = this.$dayjs().format('YYYY');
	},

	methods: {
		closeCheckinNotificationBanner() {
			storage.local.setItem(`banner-checkin-close-${this.bookingId}`, true);
			this.isTenantCheckin = false;
		},
		getContract(contractId, isShowSwal = true) {
			!!isShowSwal && this.openSwalLoading();
			this.$store.commit('setLoadingState', {
				type: 'contract',
				value: true
			});
			axios
				.get(`/contract/${contractId}`)
				.then(response => {
					const dataTenant = response.data;
					if (dataTenant.status) {
						const contractProfile = dataTenant.contract_profile;
						const billingRule = dataTenant.billing_rule;
						const contractType = dataTenant.contract_type;
						const terminationInfo = dataTenant.termination_info;
						const tenantCheckinStatus = dataTenant.has_checked_in;
						const tenantCheckinTime = dataTenant.checkin_time;

						const widgetInfo = {
							contractId: contractId,
							profilePicture: contractProfile.tenant_photo,
							tenantName: contractProfile.tenant_name,
							roomNumber: contractProfile.room_number,
							phoneNumber: contractProfile.phone_number,
							billingDate:
								dataTenant.billing_date ||
								this.$dayjs(contractProfile.start_date_raw).format('D'),
							contractType: contractType,
							totalTransferredAmount: dataTenant.total_transferred_amount,
							totalContractAmount: dataTenant.total_contract_amount,
							settlementAmount: dataTenant.settlement_amount,
							isFlashSaleContract: dataTenant.is_flash_sale,
							terminationInfo
						};

						this.$store.commit('setWidgetInfo', widgetInfo);
						this.getUserRoomById(billingRule.room_id, isShowSwal);
						this.fillToProfile(dataTenant);
						this.setToProfile(contractProfile);
						this.$store.commit('setRoomId', billingRule.room_id);

						this.terminationInfo = terminationInfo;
						EventBus.$emit('isEndedContract', !!terminationInfo);

						this.isTenantCheckin = tenantCheckinStatus;
						this.tenantCheckinTime = tenantCheckinTime;

						this.nearestCheckoutDate =
							dataTenant.nearest_checkout_date_multiple;
						this.$store.commit('setLoadingState', {
							type: 'contract',
							value: false
						});
					} else {
						this.$emit('error');
						this.$store.commit('setLoadingState', {
							type: 'contract',
							value: false
						});
					}
				})
				.catch(error => {
					this.$store.commit('setLoadingState', {
						type: 'contract',
						value: false
					});
					bugsnagClient.notify(error);
					this.$emit('error');
				});
		},

		handleTerminateRequestSubmitted(isConfirmed) {
			this.terminationInfo.status = isConfirmed ? 'confirmed' : 'rejected';
			this.getContract(this.$route.params.tenantId);
		},

		formatDate(val) {
			const selectedYear = this.$dayjs(val).format('YYYY');
			this.dateSelected = selectedYear;
			this.$store.commit('setSelectedPaymentYear', selectedYear);
			return `Periode ${this.dateSelected}`;
		},

		getDataPayment(val) {
			this.getContractBill(
				this.$route.params.tenantId,
				this.$dayjs(val).format('YYYY')
			);
		},

		changeStatusPage() {
			if (this.$route.params.typeProfile === 'new-member') {
				this.$store.commit('setStatusPage', 'newMember');
			} else if (this.$route.params.typeProfile === 'accept-booking') {
				this.$store.commit('setStatusPage', 'acceptBooking');
			} else {
				this.$store.commit('setStatusPage', 'member');
			}
		},

		getRoom(idRoom) {
			this.getUserRoomById(idRoom, this.$route.params.tenantId);
			this.getAllDetailRoom(idRoom);
		},
		backPrevPage() {
			if (this.getQueryString('from') === 'accept-contract') {
				window.open(this.ownerDashboardUrl, '_self');
			} else {
				if (!this.isHomeReturn) {
					window.location.reload();
				} else {
					if (window.history.go(-1)) {
						window.history.go(-1);
					} else {
						window.close();
					}
				}
			}
		},
		checkHomeReturn() {
			if (
				document.referrer == '' ||
				document.referrer === document.location.href
			) {
				this.isHomeReturn = false;
			} else {
				this.isHomeReturn = true;
			}
		}
	}
};
</script>

<style lang="scss">
body {
	background-color: #f9f9f9;
}

.accordion-icon.--is-closed {
	transform: rotate(-180deg);
}

.custom-select-strap {
	.btn-group {
		width: 100%;
	}

	.form-control.dropdown-toggle {
		height: 54px;
		width: 100%;
	}

	.open > .dropdown-menu {
		width: 100%;
		li > a {
			display: flex;
			> span:first-child {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.btn-content {
		height: 100%;
		display: block;
		padding-top: 0.7rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.vdp-datepicker {
		input {
			width: 52%;
			height: 40px;
			float: right;
			background: #ffffff;
			border: 1px solid #dadada;
			box-sizing: border-box;
			border-radius: 4px;
			text-indent: 20px;
			position: relative;
			top: 10px;
			background-image: url('/general/img/icons/ic_caret-down-mamipay_grey.svg');
			background-repeat: no-repeat;
			background-position: right 12px center;
		}
	}

	.vdp-datepicker__calendar {
		border-radius: 5px;
		border: 1px solid #e4e4e4;
		top: 52px;
		right: 0px;
	}
}

@media only screen and (max-width: 438px) {
	body {
		background-color: #ffffff;
	}

	.custom-select-strap {
		.vdp-datepicker__calendar {
			left: 0px;
		}

		.vdp-datepicker input {
			width: 100%;
			height: 48px;
			background: #ffffff;
			border: 1px solid #dadada;
			background-image: url('/general/img/icons/ic_caret-down-mamipay_grey.svg');
			background-repeat: no-repeat;
			background-position: right 12px center;
		}
	}
}

@import '../../style/BillingManagementProfileContentGlobal';
@import '../../style/BillingManagementProfileContentLocal';
</style>

<style lang="scss" scoped>
#billingManagementMain {
	margin-top: 8rem;
	margin-bottom: 7rem;
	font-size: 14px;
	padding: 0 10rem;
	/* min-width: 1199px; */

	.wrapper-back {
		margin: 1.25rem 0;
		a {
			img {
				transform: rotate(180deg);
				width: 17px;
				height: 17px;
				position: relative;
				top: -1.4px;
				margin-right: 1rem;
			}

			span {
				color: #109e4b;
				font-weight: 600;
				font-size: 1.1em;
			}
		}
	}

	.manage-profile-termination-card {
		margin-bottom: 2rem;
	}

	.wrapper-notification {
		width: 100%;
		height: auto;
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 2rem;

		p {
			height: auto;
			margin: 0 auto;
			display: block;
			font-size: 1.4em;
			padding: 2rem 5rem;
			font-weight: 600;
		}

		&.--is-green-background {
			background-color: #e8f7ee;
			border-radius: 4px;
		}

		.notification-area {
			padding: 1.4rem 3.7rem;
		}

		.notification-title {
			padding: 0;
			font-size: 1em;
			color: #1baa56;
		}

		.image-close-checkin {
			position: relative;
			top: 24px;
			right: -61px;
			width: 16px;
			cursor: pointer;
		}

		.notification-description {
			padding: 0;
			color: #484848;
			font-size: 0.9em;
			font-weight: normal;
		}

		.--is-background-size-contain {
			background-size: contain;
		}

		.--is-custom-text-header {
			font-size: 1.429em;
			color: #ec4a0c;
			padding-top: 1.6rem;
		}

		.--color-grey {
			color: #999999;
			padding-top: 3.1rem !important;
		}

		.--is-custom-confirm-stop-rent {
			border: 1px solid #ec4a0c;
			color: #ec4a0c;
			background-color: #ffffff00;
			position: relative;
			top: 31px;
		}
	}

	.box-link-wrapper {
		margin-top: 1rem;
		overflow: hidden;

		.box-link {
			text-align: center;
			padding: 2rem 0rem;
			border-bottom: 3px solid #dbdbdb;

			a {
				color: #999999;
			}

			&.active-link {
				font-weight: 600;
				border-bottom: 2px solid #1baa56;

				a {
					color: #2e2d39;
				}
			}
		}
	}
}

#sideLeft {
	position: sticky;
	z-index: 1;
}

#sideRight {
	position: relative;
	h1 {
		&.title-right {
			margin: 0;
			font-size: 1.9em;
			font-weight: 600;
			color: #2e2d39;
			margin-top: 1.5rem;
		}
	}

	.skeleton-loader-title {
		display: flex;
		margin: 28px 0 16px;
		flex-direction: column;

		> *:nth-of-type(2) {
			margin-top: 20px;
		}
	}
}

.custom-line {
	border-top: 1px solid #d2d2d2;
}

.input-error {
	border: 1px solid #ff4422 !important;
	border-radius: 4px;
}

.bm-progress-billing {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 438px) {
	.custom-line {
		border: 0;
	}

	#billingManagementMain {
		padding: 0 2rem;

		#sideLeft {
			position: relative;
			top: 0px;
			margin-bottom: 2rem;
		}

		#sideRight {
			position: relative;

			h1 {
				&.title-right {
					margin-bottom: 1rem;
				}
			}
		}

		.wrapper-back {
			display: none;
		}

		.bm-progress-billing {
			display: none;
		}
	}
}
</style>
