<template>
	<div id="billingManagementBillMenu">
		<dropdown class="button-setting">
			<a slot="button"
				><img
					v-lazy="'/general/img/icons/ic_setting.svg'"
					alt="Icon Setting"
					class="image-setting"
			/></a>
			<ul slot="dropdown-menu" class="dropdown-menu">
				<li>
					<a
						class="menu-link"
						:href="
							`${ownerDashboardUrl}/billing-management/${invoiceId}/detail-bill?fromTenantProfile=true`
						"
						><img
							src="/general/img/icons/ic_bill-mamipay_o_gray.svg"
							alt="Icon bill"
						/>
						<span class="gray">Detail Tagihan</span></a
					>
				</li>
				<li
					v-if="
						billingTenant.status !== 'paid' &&
							billingTenant.status !== 'not_in_mamipay'
					"
				>
					<a
						class="menu-link"
						:href="
							`${ownerDashboardUrl}/billing-management/${invoiceId}/detail-bill?fromTenantProfile=true&changePrice=true`
						"
					>
						<img
							src="/general/img/icons/ic_saldo-mamipay_o_gray.svg"
							alt="Icon user"
						/>
						<span>Tambah Biaya</span>
					</a>
				</li>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';
import { mapState } from 'vuex';

export default {
	components: {
		dropdown
	},

	props: {
		dataIndex: {
			type: Number,
			required: true
		},
		invoiceId: {
			type: Number,
			required: true
		}
	},

	data() {
		return {
			ownerDashboardUrl: oxWebUrl
		};
	},

	computed: {
		...mapState({
			billingProfile: state => state.tenantProfile.billingProfile
		}),
		billingTenant() {
			return this.billingProfile[this.dataIndex];
		}
	}
};
</script>

<style lang="scss">
.button-setting {
	.btn {
		border: 0px;
		.caret {
			display: none;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: #ffffff !important;
			box-shadow: none;
		}
	}
}

.open {
	> .dropdown-menu {
		padding: 1rem;
		left: unset;
		right: 0;
	}
}
</style>

<style lang="scss" scoped>
.menu-link {
	padding: 8px;

	> img {
		margin-right: 0.8rem;
		width: 20px;
		height: 20px;
	}
}
</style>
