<template>
	<div id="billingManagementContentPayment">
		<vue-good-table
			v-if="billingProfile && !navigator.isMobile"
			:columns="columns"
			:rows="billingProfile"
			:sort-option="{
				enabled: true
			}"
			style-class="vgt-table striped hidden-xs"
			@on-cell-click="openDetailBill"
		>
			<template slot="table-column" slot-scope="props">
				<span v-if="props.column.label == 'menu'" class="menu-setting">
					<img
						v-lazy="'/general/img/icons/ic_setting.svg'"
						alt="Icon Setting"
					/>
				</span>
				<span v-else>
					{{ props.column.label }}
				</span>
			</template>

			<template slot="table-row" slot-scope="props">
				<span v-if="props.column.field == 'billingAmount'">
					<span class="--whitespace-nowrap">
						Rp
						{{ props.formattedRow[props.column.field].toLocaleString('id-ID') }}
					</span>
				</span>
				<span v-else-if="props.column.field == 'dateBill'">
					{{
						$dayjs(props.formattedRow[props.column.field]).format('DD MMM YYYY')
					}}
				</span>
				<span v-else-if="props.column.field == 'status'">
					<span
						v-if="
							props.formattedRow[props.column.field] == 'paid' ||
								props.formattedRow[props.column.field] == 'not_in_mamipay'
						"
						class="label label-success label-custom"
						>Dibayar</span
					>
					<span v-else class="label label-danger label-custom"
						>Belum Dibayar</span
					>
				</span>
				<span v-else-if="props.column.field == 'reminder'">
					<button
						v-if="props.formattedRow[props.column.field]"
						class="btn-reminder --text-success"
						@click="openModalSendNotification(props.formattedRow['menu'])"
					>
						<span>Ingatkan</span>
						<img
							v-lazy="'/general/img/icons/ic_mamipay_notification_green.svg'"
							class="notification"
							alt="Icon notification"
						/>
					</button>
					<button
						v-else-if="props.formattedRow['status'] == 'unpaid'"
						class="btn-reminder --text-muted"
						disabled
					>
						<span>Sudah Diingatkan</span>
					</button>
				</span>
				<span v-else-if="props.column.field == 'menu'" class="menu-setting">
					<bill-menu
						:invoice-id="props.formattedRow['menu']"
						:data-index="props.row.originalIndex"
					></bill-menu>
				</span>
			</template>
		</vue-good-table>

		<template v-if="navigator.isMobile">
			<div
				class="row content-payment-mobile"
				:class="{ '--is-border-bottom': index !== billingProfile.length - 1 }"
				v-for="(bill, index) in billingProfile"
				:key="index"
			>
				<div
					class="col-xs-12 content-payment-mobile__item"
					@click="openDetailBill(bill.menu)"
				>
					<span
						v-if="bill.status === 'paid' || bill.status === 'not_in_mamipay'"
						class="label label-success label-custom"
						>Dibayar</span
					>
					<span v-else class="label label-danger label-custom"
						>Belum Dibayar</span
					>
					<span v-if="diffFromToday(bill.dateBill) > 0" class="error-messages"
						>Telat {{ diffFromToday(bill.dateBill) }} Hari</span
					>
				</div>
				<div
					class="col-xs-12 content-payment-mobile__item"
					@click="openDetailBill(bill.menu)"
				>
					<div>
						<span class="content-payment-mobile__item-title">Jatuh Tempo</span>
						<span class="content-payment-mobile__item-text">
							{{ $dayjs(bill.dateBill).format('DD MMM YYYY') }}</span
						>
					</div>
					<div class="--text-right">
						<span class="content-payment-mobile__item-title"
							>Total Tagihan</span
						>
						<span class="content-payment-mobile__item-text">
							Rp {{ bill.billingAmount.toLocaleString('id-ID') }}</span
						>
					</div>
				</div>
				<div class="col-xs-12 content-payment-mobile__item-action">
					<a
						v-if="bill.reminder"
						@click.prevent="openModalSendNotification(bill.menu)"
						>Ingatkan Lagi</a
					>
					<span class="--text-muted" v-else-if="bill.status === 'unpaid'">
						Sudah Diingatkan</span
					>
				</div>
			</div>
		</template>

		<manage-other-custom-action-modal :show-modal.sync="isModalNotification">
			<span slot="textHeader">Ingatkan Penyewa untuk Bayar</span>
			<span slot="textDescription"
				>Apakah Anda yakin ingin mengirimkan pengingat pembayaran ?</span
			>
			<div slot="button">
				<button
					class="btn --is-custom-btn"
					@click="isModalNotification = false"
				>
					Batalkan
				</button>
				<button class="btn btn-primary" @click="sendNotification()">
					Ya, Ingatkan
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';

import BillMenu from './BillMenu';
import ManageOtherCustomActionModal from 'Js/_ownerpage/mamipay/components/other-custom/ManageOtherCustomActionModal';

import mixinTenantProfile from 'Js/_ownerpage/mamipay/mixins/MixinTenantProfile';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	components: {
		VueGoodTable,
		BillMenu,
		ManageOtherCustomActionModal
	},
	mixins: [mixinGetQueryString, mixinTenantProfile],

	data() {
		return {
			ownerDashboardUrl: oxWebUrl,
			lastInvoiceId: 0,
			isModalNotification: false,
			rowsBillReport: [],
			columns: [
				{
					label: 'Jatuh Tempo',
					field: 'dateBill'
				},
				{
					label: 'Status Tagihan',
					field: 'status'
				},
				{
					label: 'Keterangan',
					field: 'paymentDescription'
				},
				{
					label: 'Total Tagihan',
					field: 'billingAmount',
					type: 'number'
				},
				{
					label: 'Ingatkan',
					field: 'reminder',
					sortable: false
				},
				{
					label: 'menu',
					field: 'menu',
					sortable: false
				}
			]
		};
	},

	computed: {
		billingProfile() {
			return this.$store.state.tenantProfile.billingProfile;
		}
	},

	mounted() {
		this.showAcceptContractToast();
	},

	methods: {
		openDetailBill(params) {
			if (this.navigator.isMobile) {
				const invoiceId = params;
				window.location = `${this.ownerDashboardUrl}/billing-management/${invoiceId}/detail-bill?fromTenantProfile=true`;
			} else {
				const COLUMN_FIELD = params.column.field;
				const invoiceId = params.row.menu;
				if (
					COLUMN_FIELD !== 'menu' &&
					COLUMN_FIELD !== 'reminder' &&
					COLUMN_FIELD !== 'invoiceLink'
				) {
					window.location = `${this.ownerDashboardUrl}/billing-management/${invoiceId}/detail-bill?fromTenantProfile=true`;
				}
			}
		},
		diffFromToday(date) {
			return this.$dayjs(Date.now()).diff(date, 'day');
		},
		openModalSendNotification(invoiceId) {
			this.lastInvoiceId = invoiceId;
			this.isModalNotification = true;
		},
		sendNotification() {
			this.sendNotificationToTenant(this.lastInvoiceId);
			this.isModalNotification = false;
		},
		showAcceptContractToast() {
			if (this.getQueryString('from') === 'accept-contract') {
				this.$toasted.show('Penyewa Diterima', {
					type: 'info',
					className: 'toasted-default',
					position: 'bottom-left',
					duration: 2000
				});
			}
		}
	}
};
</script>

<style lang="scss">
@import '../../style/BillingManagementTable.scss';
</style>

<style lang="scss" scoped>
#billingManagementContentPayment {
	margin-top: 3rem;

	.--is-border-bottom {
		border-bottom: 1px solid #e8e8e8;
	}

	.--text-right {
		text-align: right;
	}

	.--text-muted {
		color: #bbbbbb;
	}

	.--text-success {
		color: #1baa56;
	}

	.--is-bold {
		font-weight: 700;
	}

	.--whitespace-nowrap {
		white-space: nowrap;
	}

	.btn-reminder {
		font-size: 12px;
		line-height: 16px;
		background: transparent;
		text-decoration: none;
		border: 0;
		text-align: left;
		white-space: nowrap;

		img {
			width: 10px;
			height: 10px;
		}
	}

	img {
		&.notification {
			width: 16px;
			height: 16px;
			margin-left: 0.6rem;
		}
	}

	.menu-setting {
		display: flex;
		justify-content: center;
	}

	.content-payment-mobile {
		cursor: pointer;
		padding: 1rem 0rem;

		&__item {
			display: flex;
			justify-content: space-between;
			align-content: center;
			margin: 1rem 0rem;

			&-title {
				display: block;
				font-size: 14px;
				line-height: 20px;
				color: #949494;
			}

			&-text {
				display: block;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
			}

			&-action {
				display: flex;
				justify-content: flex-end;
				margin: 1rem 0rem;
			}
		}

		.error-messages {
			display: block;
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			color: #da3438;
		}
	}
}
</style>
