<template>
	<div id="billingManagementProfileMenu">
		<profile-tenant></profile-tenant>

		<div class="wrapper-menu">
			<ul>
				<li v-if="isMember">
					<router-link
						class="parent"
						:to="`/profile-tenant/${tenantId}/payment-tenant`"
						:class="{
							'parent-active': $route.name === 'paymentTenant'
						}"
					>
						<span class="parent-link" :class="anchorStyleTenant('payment')"
							>Tagihan Pembayaran</span
						>
					</router-link>
				</li>
				<li>
					<a class="parent" :href="urlLinkTenant('profile')">
						<span class="parent-link" :class="anchorStyleTenant('profile')">
							Biodata Penyewa
						</span>
					</a>
				</li>
				<li>
					<a class="parent" :href="urlLinkTenant('bill')">
						<span class="parent-link" :class="anchorStyleTenant('bill')">
							Atur Kontrak
						</span>
					</a>
				</li>
				<li v-if="isShowTerminationMenu">
					<a
						class="parent"
						:href="
							`/ownerpage/manage/profile-tenant/${tenantId}/billing-tenant?isOpenStopRentModal=true`
						"
					>
						<span class="parent-link text-default">Hentikan Kontrak</span>
					</a>
				</li>
			</ul>
		</div>

		<manage-other-custom-action-modal :show-modal.sync="isModalEndContract">
			<span slot="textHeader"
				>Apakah Anda yakin mengakhiri kontrak Penghuni ini ?</span
			>
			<span slot="textDescription"
				>Setelah Anda mengakhiri kontrak Penghuni ini, data kontrak penghuni
				perlu dimasukan kembali secara manual</span
			>
			<div slot="button">
				<button class="btn" @click="isModalEndContract = !isModalEndContract">
					Batal
				</button>
				<button class="btn btn-danger" @click="deleteTenant(contractId, true)">
					Akhiri kontrak
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import { mapState } from 'vuex';

import ProfileTenant from './ProfileTenant';
import ManageOtherCustomActionModal from 'Js/_ownerpage/mamipay/components/other-custom/ManageOtherCustomActionModal';

import MixinMamipayBill from 'Js/_ownerpage/mamipay/mixins/MixinMamipayBill';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		ProfileTenant,
		ManageOtherCustomActionModal
	},
	mixins: [MixinMamipayBill],

	props: {
		nearestCheckoutDate: {
			type: Array,
			default: () => {
				return [];
			}
		}
	},

	data() {
		return {
			isModalEndContract: false,
			isHiddenExtendContractMenu: true,
			isHiddenDateBill: true
		};
	},

	computed: {
		...mapState({
			tenantProfile: state => state.tenantProfile
		}),
		terminationInfo() {
			const widgetInfo = this.tenantProfile.widgetInfo;
			return widgetInfo ? widgetInfo.terminationInfo : null;
		},
		isShowTerminationMenu() {
			return (
				this.isMember &&
				(!this.terminationInfo ||
					!['waiting', 'confirmed'].includes(this.terminationInfo.status))
			);
		},
		contractId() {
			return this.tenantProfile.widgetInfo.contractId;
		},
		statusPage() {
			return this.tenantProfile.statusPage;
		},
		tenantId() {
			return this.$route.params.tenantId;
		},
		isMember() {
			return this.statusPage === 'member';
		}
	},
	methods: {
		anchorStyleTenant(menu) {
			const routeName =
				menu === 'profile'
					? 'biodataTenant'
					: menu === 'payment'
					? 'paymentTenant'
					: 'tenantBill';
			return {
				'text-primary': this.$route.name === routeName,
				'text-default': this.$route.name !== routeName
			};
		},
		urlLinkTenant(menu) {
			const link = menu === 'profile' ? 'biodata-tenant' : 'billing-tenant';
			const url = `/ownerpage/manage/profile-tenant/${this.tenantId}/${link}`;
			return url;
		}
	}
};
</script>

<style lang="scss" scoped>
#billingManagementProfileMenu {
	width: 100%;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 1rem;

	&.addition-top-padding {
		padding-top: 2rem;
	}
}

.wrapper-menu {
	ul {
		padding-left: 0;
		li {
			list-style: none;
			margin: 6px 0;

			a.parent {
				display: block;
				width: 100%;
				padding: 12px 14px;
				text-decoration: none;

				span {
					&.parent-link {
						font-family: Lato;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 24px;
						text-decoration: none;
						&.default-color {
							color: #404040;
						}
						&.active {
							color: #1baa56;
						}
					}
				}

				&:hover {
					background-color: #f6f6f6;
					border-radius: 4px;
				}
			}
		}
	}
}

::-webkit-scrollbar {
	width: 4px;
	&-track {
		background-color: #f5f5f5;
		border-radius: 10px;
	}
	&-thumb {
		background: #ddd;
		border-radius: 10px;
	}
}
</style>
