<template>
	<div id="detailHistoryTransaction" class="detail-history-transaction">
		<div class="label-transaction">
			<div class="left-label">
				<span>{{ transaction.status }}</span>
				<span>{{ detailDate }}</span>
			</div>
			<div class="right-label">
				{{ transaction.statusDescription }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<span class="type-transaction">{{ transaction.invoiceName }}</span>

				<div class="wrapper-detail --is-custom-line">
					<div class="first-column wrapper-room-detail">
						<span class="room-title">{{ transaction.kostName }}</span>
						<div class="room-detail">
							<span class="room-gender" :class="typeKostStyle">{{
								typeKost
							}}</span>
						</div>
						<div class="room-detail">
							<span class="room-number"
								>Kamar <b>{{ transaction.roomNumber }}</b></span
							>
						</div>
					</div>
					<div class="second-column wrapper-room-detail">
						<img
							:src="transaction.kostImage"
							alt="room-photo"
							class="room-image"
						/>
						<a
							data-html2canvas-ignore
							:href="`/room/${transaction.kostSlug}`"
							target="_blank"
							>Lihat Iklan</a
						>
					</div>
				</div>

				<div class="other-info --is-custom-line">
					<div class="data-info">
						<span class="title">Pemilik Kos</span>
						<span class="desc">{{ transaction.ownerName }}</span>
					</div>
				</div>

				<div class="other-info --is-custom-line">
					<div class="data-info">
						<span class="title">Penyewa</span>
						<span class="desc">{{ transaction.tenantName }}</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="other-info --is-custom-line">
					<div class="data-info">
						<span class="title">No. Invoice</span>
						<span class="desc">{{ transaction.invoiceNumber }}</span>
					</div>
				</div>

				<detail-history-price
					:total-cost="Number(transaction.price)"
					:list-cost="transaction.detailCost"
					:paid-date="transaction.paidDate"
					:invoice-url="transaction.invoiceUrl"
					:is-flash-sale="transaction.flashSale"
					:invoice-number="transaction.invoiceNumber"
				></detail-history-price>
			</div>
			<div class="col-md-12">
				<div class="footer-detail-transaction">
					<span class="title">Ada masalah dengan transaksi ini ?</span>
					<span class="desc">
						<a href="mailto:pay@mamikos.com" target="_blank">
							<img
								src="/general/img/icons/ic_headphone_green.svg"
								alt="ic_headphone_green"
							/>
							<span>Hubungi CS Mamikos</span>
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';

import DetailHistoryPrice from './DetailHistoryPrice';

export default {
	components: {
		DetailHistoryPrice
	},

	props: {
		transaction: {
			type: Object,
			default: () => {
				return {
					flashSale: '',
					invoiceNumber: '',
					paidDate: '',
					invoiceName: '',
					price: '',
					kostName: '',
					kostType: '',
					roomNumber: '',
					rentType: '',
					kostSlug: '',
					kostImage: '',
					ownerName: '',
					tenantName: '',
					invoiceUrl: '',
					status: '',
					statusDescription: '',
					detailCost: '',
					channelId: ''
				};
			}
		}
	},

	data() {
		return {
			kostGender: {
				mixed: {
					style: 'is-all',
					text: 'Campur'
				},
				male: {
					style: 'is-male',
					text: 'Pria'
				},
				female: {
					style: 'is-female',
					text: 'Wanita'
				}
			},
			rentType: {
				day: 'Per Hari',
				month: 'Per Bulan',
				week: 'Per Minggu',
				'3_month': 'Per 3 Bulan',
				'6_month': 'Per 6 Bulan',
				year: 'Per Tahun'
			}
		};
	},

	computed: {
		rentTypeLabel() {
			const rentTypeId = this.transaction.rentType;
			return this.rentType[rentTypeId];
		},
		typeKost() {
			const kostType = this.transaction.kostType;
			return _get(this.kostGender[kostType], 'text');
		},
		typeKostStyle() {
			const kostType = this.transaction.kostType;
			return _get(this.kostGender[kostType], 'style');
		},
		detailDate() {
			const formating = this.$dayjs(this.transaction.paidDate).format(
				'D MMM YYYY, HH:mm'
			);
			return formating;
		},
		price() {
			return `Rp${Number(this.transaction.price).toLocaleString('id')}`;
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-history-transaction {
	font-size: 13px;
}

.wrapper-detail {
	@media screen and (min-width: 1024px) {
		margin-top: -1.3rem;
	}

	.first-column {
		.text-label {
			font-size: 1em;
			color: #000000;
			font-weight: 500;

			.bull-style {
				margin-right: 0.6rem;
			}
		}

		&.--no-padding-left-right {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.second-column {
		.invoice-text {
			font-weight: bold;
			margin-right: 0.4rem;
		}
	}

	.--is-font-size-bigger {
		font-size: 1.143em;
		font-weight: bold;
	}

	.--is-color-black-light {
		color: #383746;
	}

	.--is-vertical-align-sub {
		vertical-align: sub;
	}

	.wrapper-room-detail {
		.room-title {
			color: #2e2d39;
			font-weight: bold;
			font-size: 1.143em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: auto;
			display: block;
			margin-bottom: 0.3rem;
		}

		.room-detail {
			font-size: 1em;
			margin-bottom: 0.1rem;

			.room-gender {
				&.is-male {
					color: #078fca;
				}

				&.is-female {
					color: #f26389;
				}

				&.is-all {
					color: #860eb7;
				}
			}

			.separator {
				color: #c4c4c4;
			}

			.room-number {
				color: #383746;
			}
		}

		.room-image {
			border-radius: 4px;
			display: block;
			width: 64px;
			height: 64px;
			object-fit: cover;
		}

		.room-rent {
			font-size: 1em;
			color: #383746;
		}
	}

	&.booking-id-label {
		background: #fcfcfc;
		position: relative;
		left: -8px;
		width: calc(100% + 40px);
		padding: 0rem 0.7rem;
		margin-bottom: 1.5rem;

		@media screen and (min-width: 1023px) {
			left: -14px;
			width: calc(100% + 52px);
			margin-bottom: 0.9rem;
			top: -5px;
			padding-top: 0.2rem;
		}
	}

	.info-detail-rent {
		span {
			display: block;
			&.info-label {
				font-size: 0.857em;
				color: #595959;
			}

			&.info-value {
				color: #383746;
				font-weight: 700;
				font-size: 1.143em;
				margin-top: 0.5rem;
			}
		}
	}

	.tenant-name {
		color: #383746;
		font-size: 1.143em;
	}

	.--is-no-padding-top {
		padding-top: 0;
	}
}

.label-transaction {
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 0.9rem 1.2rem;
	margin: 0rem 0rem 2rem;
	display: flex;
	justify-content: space-between;

	font-size: 1em;
	color: #484848;

	.left-label {
		span:first-child {
			display: block;
			font-weight: bold;
			font-size: 1.167em;
		}
	}
}

.type-transaction {
	font-weight: bold;
	color: #242424;
	font-size: 1.333em;
	display: block;
	margin-bottom: 2rem;
}

.wrapper-detail {
	display: flex;
	width: 100%;
	justify-content: space-between;

	.first-column {
		width: 72%;
	}

	.second-column {
		a {
			font-weight: bold;
			font-size: 1em;
			margin-top: 0.7rem;
			display: block;
		}
	}
}

.--is-custom-line {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.other-info {
	display: flex;
	justify-content: space-between;
	img.chat-to-owner {
		cursor: pointer;
	}

	.data-info {
		overflow: hidden;

		.title {
			display: block;
			font-size: 1.333em;
			color: #484848;
			font-weight: bold;
		}

		.desc {
			font-size: 1.167em;
			color: #484848;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			display: block;
		}
	}

	a.look-invoice {
		font-size: 1.167em;
		font-weight: bold;
		padding-top: 3rem;
	}
}

.footer-detail-transaction {
	background-color: #fcfcfc;
	margin-top: 3rem;
	margin-bottom: -7rem;
	width: calc(100% + 29px);
	position: relative;
	right: 14px;
	padding: 2rem 1.8rem;
	span {
		display: block;

		&.title {
			color: #484848;
			font-size: 1.167em;
		}

		&.desc {
			a {
				display: flex;
				color: #1baa56;
				font-weight: bold;
				font-size: 1.167em;

				img {
					margin-right: 1rem;
					width: 19px;
				}
			}
		}
	}
}
</style>
