<template>
	<div id="userKostClaimDetailBill">
		<transition name="fade">
			<div v-if="isShowDetail" class="wrapper-toggle">
				<h1 class="header-detail">Rincian Tagihan {{ detailDate }}</h1>

				<div class="wrapper-bill --have-line-bottom">
					<div class="row">
						<div class="col-xs-6">
							{{ baseCost.name }}
						</div>
						<div class="col-xs-6 text-right">
							<b>Rp{{ formatToRupiah(baseCost.amount) }}</b>
						</div>
					</div>

					<div v-if="!isEmpty(dpCost)" class="row">
						<div class="col-xs-6">
							{{ dpCost.name }}
						</div>
						<div class="col-xs-6 text-right">
							<b>{{ formatToRupiah(dpCost.amount) }}</b>
						</div>
					</div>

					<div v-if="isFlashSale && !isDownPayment" class="row">
						<div class="col-xs-6">
							<span class="total-title --is-discount">{{
								isFlashSale.title
							}}</span
							><br />
							<span class="sub-title">Hanya berlaku untuk Harga Sewa</span>
						</div>
						<div class="col-xs-6 text-right">
							<span class="total-value --is-discount">{{
								formatToRupiah(isFlashSale.amount)
							}}</span>
						</div>
					</div>

					<div v-if="!isEmpty(otherCost)" class="row">
						<div class="col-xs-12">
							Biaya tambahan lain
						</div>
					</div>
					<div
						v-for="(cost, i) in otherCost"
						v-if="!isEmpty(otherCost)"
						:key="i"
						class="row"
					>
						<div class="col-xs-6">&bull; {{ cost.name }}</div>
						<div class="col-xs-6 text-right">
							<b>Rp {{ formatToRupiah(cost.amount) }}</b>
						</div>
					</div>

					<div v-if="!isEmpty(deposit)" class="row">
						<div class="col-xs-6">{{ deposit.name }}</div>
						<div class="col-xs-6 text-right">
							<b> Rp{{ formatToRupiah(deposit.amount) }} </b>
						</div>
					</div>

					<div v-if="!isEmpty(fine)" class="row">
						<div class="col-xs-6">{{ fine.name }}</div>
						<div class="col-xs-6 text-right">
							<b> Rp{{ formatToRupiah(fine.amount) }} </b>
						</div>
					</div>

					<div v-if="!isEmpty(admin)" class="row">
						<div class="col-xs-6">{{ admin.name }}</div>
						<div class="col-xs-6 text-right">
							<b> Rp{{ formatToRupiah(admin.amount) }} </b>
						</div>
					</div>
				</div>

				<div v-if="!isEmpty(discount)" class="wrapper-bill">
					<div class="row">
						<div class="col-xs-6">
							<span class="total-title --is-discount">{{ discount.name }}</span>
						</div>
						<div class="col-xs-6 text-right">
							<span class="total-value --is-discount">{{
								discount.amount
							}}</span>
						</div>
					</div>
				</div>
			</div>
		</transition>

		<div class="wrapper-bill">
			<div class="row">
				<div class="col-xs-6">
					<span class="total-title">Total Pembayaran</span>
				</div>
				<div class="col-xs-6 text-right">
					<span class="total-value">{{ formattedTotalCost }}</span>
				</div>
			</div>
		</div>

		<a
			data-html2canvas-ignore
			class="btn-toggle"
			@click="isShowDetail = !isShowDetail"
			>{{ toggleTitle }}</a
		>

		<button
			data-html2canvas-ignore
			class="btn btn-success --is-custom-button"
			@click="pdfDownloader"
		>
			<mami-button-loading v-if="isLoadingButton" class="--is-custom-loading" />
			<span v-else>
				<img
					v-lazy="{
						src: '/general/img/icons/ic_download_green_o.svg'
					}"
					alt="ic_download_green_o"
				/>
				<span>Download Invoice</span>
			</span>
		</button>

		<detail-history-alert
			v-model="showAlert.show"
			:message="showAlert.message"
			@change="closeAlert"
		></detail-history-alert>
	</div>
</template>

<script>
import _isEmpty from 'lodash/isEmpty';
import { saveAs } from 'file-saver';

import DetailHistoryAlert from './DetailHistoryAlert';

const MamiButtonLoading = () =>
	import('Js/@components/mami-components/MamiButtonLoading');

export default {
	components: {
		DetailHistoryAlert,
		MamiButtonLoading
	},
	props: {
		paidDate: {
			type: String,
			default: ''
		},
		invoiceNumber: {
			type: String,
			default: ''
		},
		listCost: {
			type: Array,
			default: () => {
				return [];
			}
		},
		totalCost: {
			type: Number,
			default: 0
		},
		invoiceUrl: {
			type: String,
			default: ''
		},
		isFlashSale: {
			type: Object,
			default: null
		}
	},

	data() {
		return {
			showAlert: {
				show: false,
				message: 'Download bukti pembayaran berhasil'
			},
			isLoadingButton: false,
			isShowDetail: false
		};
	},

	computed: {
		isDownPayment() {
			return this.invoiceNumber.substring(0, 2) === 'DP';
		},
		formattedTotalCost() {
			return `Rp${Number(this.totalCost).toLocaleString('id')}`;
		},
		paidAtDate() {
			return this.$dayjs(this.paidDate).format('YYYYMMDD');
		},
		detailDate() {
			const formating = this.$dayjs(this.paidDate).format('D MMM YYYY');
			return formating;
		},
		baseCost() {
			const baseCost = this.listCost.filter(cost => cost.type === 'base_cost');
			return { ...baseCost[0] };
		},
		dpCost() {
			const dpCost = this.listCost.filter(cost => cost.type === 'dp_cost');
			return { ...dpCost[0] };
		},
		discount() {
			const discount = this.listCost.filter(cost => cost.type === 'discount');
			return { ...discount[0] };
		},
		fine() {
			const fineCost = this.listCost.filter(cost => cost.type === 'fine');
			return { ...fineCost[0] };
		},
		deposit() {
			const deposit = this.listCost.filter(cost => cost.type === 'deposit');
			return { ...deposit[0] };
		},
		admin() {
			const adminCost = this.listCost.filter(cost => cost.type === 'admin');
			return { ...adminCost[0] };
		},
		otherCost() {
			const otherCost = this.listCost.filter(
				cost => cost.type === 'other' || cost.type === 'fixed'
			);
			return otherCost;
		},
		toggleTitle() {
			return this.isShowDetail ? 'Sembunyikan' : 'Lihat Rincian';
		}
	},

	methods: {
		closeAlert(val) {
			this.showAlert.show = val;
		},
		getShortlinkCode(url) {
			const regex = /.+:\/\/.+\/(.+)/;
			let result;

			result = regex.exec(url);
			return result[1];
		},
		pdfDownloader() {
			const shortlinkCode = this.getShortlinkCode(this.invoiceUrl);
			const url = `/invoice/receipt/${shortlinkCode}/download`;

			this.isLoadingButton = true;

			axios
				.get(url, {
					baseURL: '/user/mamipay/request',
					responseType: 'blob'
				})
				.then(response => {
					const blobFile = response.data;
					const reportFile = new Blob([blobFile], {
						type: 'application/pdf'
					});
					saveAs(reportFile, `MAMIKOS_INV_${this.paidAtDate}.pdf`);
					this.showAlert.show = true;
					this.isLoadingButton = false;
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		},
		isEmpty(data) {
			return _isEmpty(data);
		},
		formatToRupiah(val) {
			return Number(val).toLocaleString('id');
		}
	}
};
</script>

<style lang="scss" scoped>
#userKostClaimDetailBill {
	font-size: 14px;

	h1 {
		&.header-detail {
			font-size: 1.429em;
			font-weight: bold;
			color: #000000;
			letter-spacing: 0.25px;
			margin-bottom: 2rem;
			margin-top: 1rem;
		}
	}

	.wrapper-bill {
		font-size: 1em;
		margin-top: 2rem;

		.row {
			margin-bottom: 1rem;
		}

		.total-title {
			font-size: 1.143em;
			color: #383746;
			font-weight: bold;
		}

		.--is-discount {
			color: #1baa56 !important;
			font-size: 1em !important;
		}

		.total-value {
			font-size: 1.143em;
			font-weight: bold;
			color: #e04205;
		}

		&.--have-line-bottom {
			border-bottom: 2px dashed #dbdbdb;
			padding-bottom: 2rem;
		}
	}

	.wrapper-link-stop-contract {
		padding: 4rem 0rem;
		a.link-stop-contract {
			font-size: 1.143em;
			font-weight: bold;
			color: #ec4a0c;
		}
	}

	.--is-custom-loading {
		margin: 0 auto;
		width: fit-content;
	}

	.--is-custom-button {
		width: 100%;
		margin-top: 2rem;
		padding: 1.4rem 0rem;
		font-size: 1.143em;
		font-weight: bolder;

		img {
			margin-right: 1rem;
		}
	}

	.--modify-alert-banner {
		position: relative;
		left: -15px;
		border-radius: 0;
		width: calc(100% + 30px);
		border: none;
		margin-bottom: 0;

		&.--success-alert-banner {
			background-color: #d1eedd;
			color: #109e4b;
		}

		&.--default-alert-banner {
			background-color: #f4f4f4;
			color: #595959;
		}

		.wrapper-alert-description {
			width: 80%;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;

			img.image-alert {
				margin-right: 1rem;
			}

			span.description-alert {
				width: 90%;
			}
		}
	}

	.btn-toggle {
		font-weight: bold;
		font-size: 1em;
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.25s ease-out;
	}

	.fade-enter,
	.fade-leave-to {
		opacity: 0;
	}

	.sub-title {
		font-size: 0.8em;
		color: #aaaaaa;
	}
}
</style>
