<template>
	<section class="section-detail">
		<global-navbar
			fixed
			join-premium-menu
			need-search-box
			need-back-arrow
			:max-width="1140"
			redirection-source="property detail page"
		/>

		<container-detail v-if="detailType !== 'apartment'"></container-detail>

		<container-detail-apartment v-else></container-detail-apartment>

		<overlay-stepper-modal
			v-if="flashSaleData.isShowModal && flashSaleData.steps.length > 0"
			:is-show="flashSaleData.isShowModal"
			:on-close="closeFlashSaleModal"
			:steps="flashSaleData.steps"
			:redirect="flashSaleData.redirect"
			:need-bullet="false"
			last-button-label="Mau Dong!"
			no-padding
			same-width-button-action
			@redirectTracker="redirectFlashSaleTracker"
		/>

		<overlay-stepper-modal
			v-if="bookingBenefit.isShowModal && bookingBenefit.steps.length > 0"
			:is-closable="bookingBenefit.isModalCloseable"
			:is-show="bookingBenefit.isShowModal"
			:hightlighted-target="bookingBenefit.highlightedTarget"
			:on-close="closeBookingBenefitModal"
			:steps="bookingBenefit.steps"
			:cover="bookingBenefit.cover"
			storage-name="booking-benefit-ftue"
			:redirect="bookingBenefit.redirect"
			@redirectTracker="redirectBenefitTracker"
			@swipeTracker="BenefitOnSwipTracker"
		/>
	</section>
</template>

<script>
/* eslint-disable no-undef */
import { getParams } from 'Js/@utils/queryString';
import _find from 'lodash/find';
import _get from 'lodash/get';
import _last from 'lodash/last';
import * as storage from 'Js/@utils/storage';

import ContainerDetail from './ContainerDetail';
import ContainerDetailApartment from './apartment/ContainerDetailApartment';

import mixinDetailAds from '../mixins/MixinDetailAds';
import MixinBookingAcceptanceRate from '../mixins/MixinBookingAcceptanceRate';
import MixinPriceDetail from '../mixins/MixinPriceDetail';

import { genderLabels } from 'Js/@utils/kostFilter';
import { isExistInStorage, setFTUEStorage } from 'Js/@utils/flashSaleHelper';

import GlobalNavbar from 'Js/@components/GlobalNavbar';

/* istanbul ignore next */
const OverlayStepperModal = () =>
	import(
		/* webpackChunkName: "detail_OverlayStepperModal" */ 'Js/@components/OverlayStepperModal'
	);

// limitation for idkamar cookie in byte.
// 650 byte can afford 50 roomId (separated by comma) inside idkamar cookie .
const IDKAMAR_COOKIE_LIMIT = 650;
const ITEM_TO_REMOVE = 10;

export default {
	components: {
		OverlayStepperModal,
		ContainerDetailApartment,
		ContainerDetail,
		GlobalNavbar
	},

	mixins: [mixinDetailAds, MixinBookingAcceptanceRate, MixinPriceDetail],

	computed: {
		showBookingRequest() {
			return (
				!!this.$route.meta.booking_request &&
				this.$store.state.bookingRequestProcess
			);
		},
		authCheckUser() {
			return this.$store.state.authCheck;
		},
		navigations() {
			if (this.detailType === 'house' || this.detailType === 'apartment') {
				return [
					{ name: 'Cari kost', url: '/cari' },
					{ name: 'Cari apartemen', url: '/apartemen' },
					{ name: 'Cari loker', url: '/loker' }
				];
			}

			return [
				{ name: 'Cari di sekitar sini', url: '' },
				{ name: 'Cari kost', url: '/kost' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari loker', url: '/loker' }
			];
		},
		detail() {
			return this.$store.state.detail;
		},
		detailTypeName() {
			return this.$store.state.detailTypeName;
		},
		isLimitedContent() {
			return this.$store.state.extras.isLimitedContent;
		},
		bookingBenefit() {
			return this.$store.state.bookingBenefit;
		},
		isShowBookingRequestProcess() {
			return this.$store.state.showBookingRequestProcess;
		},
		flashSaleData() {
			return this.$store.state.flashSaleData;
		},
		deviceType() {
			return this.navigator.isMobile ? 'mobile' : 'desktop';
		}
	},

	mounted() {
		const params = getParams(null);
		const acquiredParams =
			params.redirection_source && document.referrer
				? decodeURIComponent(params.redirection_source[0])
				: null;
		const additionalProperties = {
			redirection_source: acquiredParams
				? acquiredParams.replace(/_/g, ' ')
				: undefined
		};
		this.moengageEventTrack(additionalProperties);

		if (!this.isShowBookingRequestProcess) {
			this.getBookingBenefitData();
			this.$nextTick(() => {
				this.checkFTUE();
			});
		}
	},

	created() {
		this.assignLocValue();
		this.checkRoute();
		this.getBookingPriceEstimation();
		this.generateLimitedContent();
		if (this.detail.type === 'kost' || this.detail.type === 'apartment')
			this.setIdKamarCookies(this.detail._id);
	},

	methods: {
		setIdKamarCookies(
			seq,
			cookieLimit = IDKAMAR_COOKIE_LIMIT,
			itemToRemove = ITEM_TO_REMOVE
		) {
			const roomIdCollectionNew = seq.toString();
			const roomIdCollectionStore = Cookies.get('idkamar');

			if (!roomIdCollectionStore)
				return Cookies.set('idkamar', roomIdCollectionNew, { expires: 15 });

			const roomIdCollectionStoreArr = roomIdCollectionStore.split(',');
			const isExistIndex = roomIdCollectionStoreArr.indexOf(
				roomIdCollectionNew
			);
			let roomIdCollectionJoin = `${roomIdCollectionStore},${roomIdCollectionNew}`;

			if (isExistIndex !== -1) {
				roomIdCollectionStoreArr.splice(isExistIndex, 1);
				roomIdCollectionStoreArr.push(roomIdCollectionNew);
				roomIdCollectionJoin = roomIdCollectionStoreArr.join(',');
			}

			const roomIdCollectionJoinSize = new Blob([
				encodeURIComponent(roomIdCollectionJoin)
			]).size;

			// if the incoming cookie exceed the limit
			if (roomIdCollectionJoinSize >= cookieLimit) {
				// Remove the first ${itemToRemove} idkamar
				roomIdCollectionJoin = roomIdCollectionJoin
					.split(',')
					.slice(itemToRemove)
					.join(',');
			}

			Cookies.remove('idkamar');

			Cookies.set('idkamar', roomIdCollectionJoin, { expires: 15 });
		},
		checkFTUE() {
			const isAlreadyShown = isExistInStorage(
				this.detail.flash_sale && this.detail.flash_sale.id
					? this.detail.flash_sale.id
					: null
			);
			if (
				this.detailType === 'kost' &&
				this.detail.is_flash_sale &&
				!isAlreadyShown
			) {
				const endDate = this.detail.flash_sale.end
					? this.$dayjs(this.detail.flash_sale.end).isValid()
						? this.$dayjs(this.detail.flash_sale.end)
								.locale('id')
								.format('D MMMM YYYY')
						: ''
					: '';

				const payload = {
					tag: 'flashSaleData',
					data: {
						isShowModal: true,
						steps: [
							{
								title: 'Mamikos Promo Ngebut',
								showTitle: true,
								content: `Diskon bayar sewa Kos mulai dari Rp100.000, sampai tanggal <b>${endDate}</b>.`,
								image: {
									large:
										'/general/img/pictures/flashsale/flashsale-detail-FTUE.png'
								}
							}
						],
						redirect: {
							label: 'Saya Mengerti',
							url: null
						}
					}
				};
				this.flashSaleOnShowTracker(this.deviceType);
				this.$store.commit('setFTUEPayload', payload);
			} else if (
				this.detailType === 'kost' &&
				this.detail.is_booking &&
				!storage.local.getItem('booking-benefit-ftue')
			) {
				const payload = {
					tag: 'bookingBenefit',
					data: {
						isShowModal: true,
						highlightedTarget: this.navigator.isMobile ? '.btn-spotlight' : null
					}
				};
				this.$store.commit('setFTUEPayload', payload);
				tracker('moe', [
					'In-App Booking Benefit',
					{
						is_first_time_user_exp: true,
						interface: this.deviceType
					}
				]);
			}
		},
		flashSaleOnShowTracker(deviceName) {
			const moEngageData = {
				interface: deviceName,
				redirection_source: 'property detail page',
				is_owner: _get(this.$store.state.authCheck, 'owner', false)
			};

			tracker('moe', ['Discount Pop Up Appeared', moEngageData]);
		},
		redirectFlashSaleTracker(deviceName) {
			const moEngageData = {
				interface: deviceName,
				is_owner: _get(this.$store.state.authCheck, 'owner', false)
			};

			tracker('moe', ['Discount Pop Up Clicked', moEngageData]);
			document.body.classList.remove('action-disable');
			this.setFlashSaleModal();
			setFTUEStorage(this.detail.flash_sale.id);
		},
		setFlashSaleModal() {
			const payload = {
				tag: 'flashSaleData',
				data: {
					isShowModal: false
				}
			};
			this.$store.commit('setFTUEPayload', payload);
		},
		redirectBenefitTracker(deviceName) {
			tracker('moe', [
				'[User] Booking Benefit Pelajari Lebih Lanjut',
				{
					interface: deviceName
				}
			]);
		},
		BenefitOnSwipTracker(payload) {
			tracker('moe', [
				'Booking Benefit Clicked',
				{
					interface: payload.deviceName,
					benefit_wording: payload.content,
					benefit_order: payload.activeSlide + 1
				}
			]);
		},
		checkRoute() {
			if (
				!this.$store.state.bookingRequestProcess &&
				this.$route.path !== '/'
			) {
				this.$store.commit('setBookingRequestProcess', false);
				this.$router.replace('/');
			}
		},
		generateLimitedContent() {
			if (!this.authCheckUser.all) {
				this.$store.commit('setLimitedContent', true);
			}
		},
		assignLocValue() {
			this.navigations[0].url =
				'/cari/sekitar|' +
				this.$store.state.detail.latitude +
				'|' +
				this.$store.state.detail.longitude +
				'/all/bulanan/0-15000000';
		},
		convertArrToString(source, data) {
			const dataArr = _get(source, data, []);
			return dataArr.length ? dataArr.join() : null;
		},
		moengageEventTrack(additionalProperties = {}) {
			const acceptanceRate = _get(
				this.bookingAcceptanceRate,
				'acceptanceRate',
				null
			);

			const fullDateTime = _get(
				this.bookingAcceptanceRate,
				'fullDateTime',
				null
			);

			let avgAcceptanceTime = _get(
				this.bookingAcceptanceRate,
				'averageTime',
				null
			);

			if (avgAcceptanceTime)
				avgAcceptanceTime = `Booking diproses sekitar ${avgAcceptanceTime}`;

			// eslint-disable-next-line no-undef
			const propertyLastUpdatedDate =
				this.detailType === 'apartment'
					? _get(this.detail, 'formatted_updated_at', null)
					: _get(this.detail, 'updated_at', null);

			let isExpiredPhone = _get(this.detail, 'expired_phone', '');
			isExpiredPhone = isExpiredPhone.toString() || null;
			const ownerSuccessTransaction = _get(
				this.$store.state,
				'detail.number_success_owner_trx',
				null
			);
			const kostSuccessTransaction = _get(
				this.$store.state,
				'detail.number_success_kos_trx',
				null
			);
			const priceTitleFormats = _get(this.detail, 'price_title_formats', {});
			const rentTypeArr = [];
			for (const key in priceTitleFormats) {
				const eachRentTypeData = priceTitleFormats[key];
				if (eachRentTypeData && eachRentTypeData.rent_type_unit) {
					rentTypeArr.push(eachRentTypeData.rent_type_unit);
				}
			}
			const rentTypeUnits = rentTypeArr.length ? rentTypeArr.join() : null;

			tracker('moe', [
				'[User] Visit Detail Property',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					is_promo_ngebut: _get(this.detail, 'is_flash_sale', false),
					is_booking: _get(this.detail, 'is_booking', false),
					is_mamirooms: _get(this.detail, 'is_mamirooms', false),
					is_premium: _get(this.detail, 'is_premium_owner', false),
					is_promoted: _get(this.detail, 'is_promoted', false),
					goldplus_status: _get(this.detail, 'goldplus_status', null),
					is_limitedcontent: this.isLimitedContent,
					property_id: _get(this.detail, 'seq', null),
					property_type: this.detailTypeName || null,
					property_name: _get(this.detail, 'room_title', null),
					property_monthly_price: _get(this.detail, 'price_monthly', null)
						? parseInt(this.detail.price_monthly)
						: null,
					property_rent_type: rentTypeUnits,
					property_last_updated_date: propertyLastUpdatedDate,
					property_update_status: _get(this.detail, 'not_updated', null),
					property_url: _get(this.detail, 'slug', null)
						? `https://mamikos.com/room${_get(this.detail, 'slug')}`
						: null,
					property_gender:
						genderLabels[_get(this.detail, 'gender', '0').toString()],
					property_room_available: _get(this.detail, 'available_room', null),
					property_photo_url_medium: _get(
						this.detail,
						'photo_url.medium',
						null
					),
					property_status: null,
					owner_phone: _get(this.detail, 'phone', null),
					property_click_count: null,
					property_city: _get(this.detail, 'area_city', null),
					property_subdistrict: _get(this.detail, 'area_subdistrict', null),
					property_area: _get(this.detail, 'area_city_keyword', null),
					property_label: null,
					property_video_url: _get(this.detail, 'youtube_id', null)
						? `https://www.youtube.com/watch?v=${_get(
								this.detail,
								'youtube_id'
						  )}`
						: null,
					property_promo: _get(this.detail, 'promotion.title', null),
					property_unit_type: _get(
						this.detail,
						'unit_properties.unit_type',
						null
					),
					property_room_type: null,
					property_furnished_status: _get(
						this.detail,
						'unit_properties.condition',
						null
					),
					property_fac_bath: this.convertArrToString(this.detail, 'fac_bath'),
					property_fac_room: this.convertArrToString(this.detail, 'fac_room'),
					property_fac_share: this.convertArrToString(this.detail, 'fac_share'),
					property_loved_status: _get(this.detail, 'love_by_me', null),
					property_promoted: _get(this.detail, 'is_promoted', null),
					property_expired_status: isExpiredPhone,
					property_visited: _get(
						this.detail,
						'verification_status.is_visited_kost',
						null
					),
					property_checker: Boolean(_get(this.detail, 'checker', null)),
					source_page: document.referrer ? document.referrer : null,
					lpl_criteria: _get(this.detail, 'lpl', null),
					is_user_testing: _get(this.$store, 'state.isCheckinDateFirst', false),
					acceptance_rate: acceptanceRate,
					avg_acceptance_time: avgAcceptanceTime,
					active_booking_date: fullDateTime,
					number_success_owner_trx: ownerSuccessTransaction,
					number_success_kos_trx: kostSuccessTransaction,
					...additionalProperties
				}
			]);
		},
		closeBookingBenefitModal() {
			this.isShowBookingBenefitModal = false;
			const payload = {
				tag: 'bookingBenefit',
				data: {
					isShowModal: false
				}
			};
			this.$store.commit('setFTUEPayload', payload);
		},
		closeFlashSaleModal() {
			this.setFlashSaleModal();
			setFTUEStorage(this.detail.flash_sale.id);
			window.open('/promo-ngebut?from=discount_pop_up');
		},
		getBookingBenefitData() {
			axios
				.get('/sliders')
				.then(res => {
					const bookingBenefitEndpoint = _find(
						res.data.sliders,
						slider => slider.name === 'BOOKING BENEFIT'
					);

					if (bookingBenefitEndpoint) {
						axios
							.get(bookingBenefitEndpoint.endpoint)
							.then(res => {
								if (res.data) {
									const { pages } = res.data.slider;
									const cover = _find(pages, page => page.is_cover);
									const steps = pages.filter(page => !page.is_cover);
									const redirect = _get(_last(pages), 'redirect', null);
									const payload = {
										tag: 'bookingBenefit',
										data: {
											cover,
											steps,
											redirect
										}
									};
									this.$store.commit('setFTUEPayload', payload);
								}
							})
							.catch(error => {
								bugsnagClient.notify(error);
								this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
							});
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss">
#navbarCustomize {
	height: 54px;
}

#desktopBannerWrapped,
#mobileBannerWrapped {
	pointer-events: auto;
}

.nav-history,
.nav-chat,
.nav-promotion {
	a:hover {
		padding-bottom: 1.4rem !important;
	}
}

.btn {
	border-radius: 3px;
}

.modal-content {
	border-radius: 4px;
}

.modal-body {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.text-danger {
	color: #f95516;
}

.swal2-container {
	pointer-events: auto;
}
</style>

<style lang="scss" scoped>
.section-detail {
	@media (max-width: 767px) {
		background: #fafafa;
	}
}
</style>
