<template>
	<label
		:class="[
			'available-label',
			availableData.style ? `--${availableData.style}` : '',
			'mobile-label-black'
		]"
		>{{ availableData.title }}</label
	>
</template>

<script>
export default {
	props: {
		availableRoom: {
			type: Number,
			required: true
		}
	},
	computed: {
		availableData() {
			return this.availableRoom === 0
				? { title: 'Penuh', style: 'grey' }
				: this.availableRoom > 0 && this.availableRoom <= 5
				? { title: `Sisa ${this.availableRoom} Kamar`, style: 'red' }
				: { title: `Tersedia ${this.availableRoom} Kamar`, style: 'green' };
		}
	}
};
</script>

<style lang="scss" scoped>
.available-label {
	display: inline-block;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	border-radius: 4px;
}
.--red {
	color: #e04205;
	background-color: rgba(224, 66, 5, 0.1);
}
.--green {
	color: #1baa56;
	background-color: rgba(27, 170, 86, 0.1);
}
.--grey {
	color: #999;
	background-color: hsla(0, 0%, 60%, 0.1);
}
.mobile-label-black {
	@media (max-width: 767px) {
		padding: 2px 8px;
		margin: 0;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		color: #303030;
		background: none;
		border: 1px solid #dadada;
	}
}
</style>
