<template>
	<div class="badges-slider">
		<swiper :options="swiperOption" class="badges-slider-list">
			<swiper-slide
				v-for="badgeName in activeBadges"
				v-show="badges[badgeName].isActive"
				:key="badgeName"
				class="badges-slider-item"
				:class="badges[badgeName].class || ''"
			>
				<div class="badges-slider-image">
					<img
						v-lazy="badges[badgeName].imgSrc"
						v-tooltip="badges[badgeName].tooltip"
						:alt="badges[badgeName].label"
					/>
				</div>
				<p class="badges-slider-text">
					{{ badges[badgeName].label }}
				</p>
			</swiper-slide>
		</swiper>
	</div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';

const triggerType = navigator.isMobile ? 'click' : 'hover focus';

export default {
	components: {
		swiper,
		swiperSlide
	},
	props: {
		activeBadges: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			badges: {
				moneyBackGuarantee: {
					tooltip: {
						triggerType,
						content: 'Uang kembali 100% jika kos tidak sama dengan iklan'
					},
					imgSrc: '/assets/icons/svg/ic_garansi_uang_kembali.svg',
					label: 'Garansi Uang Kembali',
					class: '--lg',
					isActive: true
				},
				premiumApartment: {
					tooltip: {
						triggerType,
						content: 'Apartemen ini diiklankan oleh pengguna Premium'
					},
					imgSrc: '/assets/icons/svg/ic_premium.svg',
					label: 'Premium',
					isActive: true
				},
				superKost: {
					tooltip: {
						triggerType,
						content:
							'Kos dengan level Super memiliki respon booking  dan kualitas layanan terbaik dari kos lainnya'
					},
					imgSrc: '/assets/icons/svg/ic_kos_super.svg',
					label: 'Kos Super',
					isActive: false
				},
				okeKost: {
					tooltip: {
						triggerType,
						content:
							'Kos dengan level Oke memiliki respon booking  dan kualitas layanan lebih baik dari kos lainnya'
					},
					imgSrc: '/assets/icons/svg/ic_kos_oke.svg',
					label: 'Kos Oke',
					isActive: false
				},
				verified: {
					tooltip: {
						triggerType,
						content: 'Kos sudah dikunjungi dan diverifikasi oleh Mami-Checker'
					},
					imgSrc: '/assets/icons/svg/ic_mamichecker.svg',
					label: 'Diverifikasi Mami-Checker',
					class: '--lg',
					isActive: true
				}
			},
			swiperOption: {
				slidesPerView: 'auto',
				spaceBetween: 16,
				freeMode: true,
				grabCursor: true
			}
		};
	},
	created() {
		this.getKostLevel();
	},
	methods: {
		getKostLevel() {
			axios
				.get('/config/general')
				.then(response => {
					if (!response.data['kost-level'].campaign.internal) {
						this.badges.superKost.isActive = true;
						this.badges.okeKost.isActive = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss">
.tooltip {
	display: block !important;
	z-index: 10000;

	&-inner {
		box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.26);
		background-color: #2e2d39;
		color: white;
		border-radius: 3px;
		padding: 12px;
		text-align: left;
		font-size: 12px;
	}

	&-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: #2e2d39;
		z-index: 1;
	}

	&[x-placement^='top'] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^='bottom'] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^='right'] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^='left'] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.popover {
		$color: #f9f9f9;

		.popover-inner {
			background: $color;
			color: black;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, 0.1);
		}

		.popover-arrow {
			border-color: $color;
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s, visibility 0.15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.15s;
	}
}
</style>

<style lang="scss" scoped>
.badges-slider {
	&-item {
		width: 60px;
		text-align: center;

		&.--lg {
			width: 80px;
		}
	}

	&-image {
		margin-bottom: 8px;

		img {
			height: 56px;

			@media (max-width: 767px) {
				height: 42px;
			}
		}
	}

	&-text {
		color: #999999;
		font-size: 12px;
		margin: 0;
	}
}
</style>
