<template>
	<div>
		<div class="bookin-benefit-trigger" @click="handleClickInsideComponent">
			Mengapa harus booking di Mamikos?
			<a @click.prevent="onLearnMore">
				Pelajari selengkapnya
			</a>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		onLearnMore: {
			type: Function,
			required: true
		}
	},
	methods: {
		handleClickInsideComponent(e) {
			e.stopPropagation();
		}
	}
};
</script>

<style lang="scss" scoped>
.bookin-benefit-trigger {
	padding: 16px 0;
	margin: 0;
	font-weight: bold;
	border-top: 1px solid #f2f2f2;

	a {
		display: block;
		font-weight: normal;
	}

	@media (max-width: 767px) {
		padding: 4px 10px;
		margin: 0;
		overflow: hidden;
		font-size: 12px;
		font-weight: normal;
		text-overflow: ellipsis;
		white-space: nowrap;
		border: 0;
		border-bottom: 1px solid #f2f2f2;

		a {
			display: inline-block;
			margin-left: 4px;
		}
	}
}
</style>
