<template>
	<section id="detailKostContainer">
		<div class="breadcrumb-container">
			<breadcrumb-trails
				:contents="breadcrumbs"
				:version="2"
				custom-style="max-width: 1140px"
			></breadcrumb-trails>
		</div>

		<detail-header
			:has-media="hasMedia"
			@toggle-login-modal="openModalLogin"
		></detail-header>

		<div class="content-container">
			<div class="col-xs-12 col-md-7 detail-container">
				<section class="detail-container__kost-overview">
					<detail-title />
					<detail-kost-overview
						@open-modal-login="openModalLogin"
						@scroll-to-component="scrollToComponent"
					/>
					<detail-kost-owner-section />
				</section>
				<section class="detail-container__kost-benefit">
					<detail-kost-benefit />
				</section>
				<section class="detail-container__facilities">
					<div class="detail-container__facilities-divider">
						<bg-divider />
					</div>
					<div class="detail-container__facilities-content">
						<h2 class="detail-container__facilities-title">
							Fasilitas
						</h2>
						<detail-price-card-mobile
							ref="detailPriceCardMobile"
							:price-card-info="priceCardInfo"
							:price-daily="priceDaily"
							:price-weekly="priceWeekly"
							:price-monthly="priceMonthly"
							:price-yearly="priceYearly"
							:price-quarterly="priceQuarterly"
							:price-semiannually="priceSemiannually"
							:is-checkin="isCheckIn"
						/>

						<detail-kost-share-love
							v-if="isDesktopFavShare"
							class="detail-container__share"
						/>
						<detail-facilities></detail-facilities>
					</div>
				</section>
				<detail-kost-rules />
				<detail-kost-location></detail-kost-location>
				<detail-kost-review ref="detailKostReview" />
				<section v-if="description" class="detail-container__others">
					<detail-desc></detail-desc>
				</section>
				<detail-kost-owner-information />
				<detail-report v-if="isKost"></detail-report>
			</div>

			<div
				id="priceCard"
				:class="[
					'col-md-5 hidden-xs hidden-sm card-container --sticky',
					hasMedia ? 'card-container-media' : '',
					!isLogin ? '--tall' : ''
				]"
			>
				<detail-kost-booking-card
					v-if="isKost && !isOwner"
					:price-info="priceCardInfo"
				/>

				<detail-price-card-desktop
					v-else
					:price-card-info="priceCardInfo"
					:price-daily="priceDaily"
					:price-weekly="priceWeekly"
					:price-monthly="priceMonthly"
					:price-quarterly="priceQuarterly"
					:price-semiannually="priceSemiannually"
					:price-yearly="priceYearly"
					:is-checkin="isCheckIn"
				></detail-price-card-desktop>

				<detail-kost-promo-card
					v-if="isKost && promotion"
					class="detail-kost-promo-card"
					:title="promotion.title"
					:content="promotion.content"
					:start-date="promotion.from"
					:end-date="promotion.to"
				/>
			</div>
		</div>
		<div class="breadcrumb-mobile-container">
			<breadcrumb-trails
				:contents="breadcrumbs"
				:fixed="false"
				:overflow="true"
				class="hidden-sm hidden-md hidden-lg"
				custom-style="width: 100%"
			>
			</breadcrumb-trails>
		</div>

		<div v-if="isKost" class="related-container container">
			<related-card
				ref="detailKostRelated"
				:params="{ seq: seq }"
				:see-more="seeMoreUrl"
				:latitude="latitude"
				:longitude="longitude"
				@toggleLoginModal="openModalLogin"
			></related-card>
		</div>

		<div class="clearfix"></div>

		<div v-if="priceCardInfo.promotion !== null">
			<detail-modal-promo
				:show-modal="isModalPromo"
				:promo-content="priceCardInfo.promotion"
				:is-checkin="isCheckIn"
				@close="closeModalPromo"
			></detail-modal-promo>
		</div>

		<detail-modal-claim
			:show-modal="isModalClaim"
			@close="closeModalClaim"
		></detail-modal-claim>

		<detail-modal-checkin
			:show-modal="isModalCheckin"
			@close="closeModalCheckin"
		>
		</detail-modal-checkin>

		<detail-modal-chat
			ref="detailModalChat"
			:price-daily="priceDaily"
			:price-weekly="priceWeekly"
			:price-monthly="priceMonthly"
			:price-yearly="priceYearly"
			:price-quarterly="priceQuarterly"
			:price-semiannually="priceSemiannually"
		></detail-modal-chat>

		<detail-modal-mobile-price
			:price-card-info="priceCardInfo"
			:price-daily="priceDaily"
			:price-weekly="priceWeekly"
			:price-monthly="priceMonthly"
			:price-yearly="priceYearly"
			:price-quarterly="priceQuarterly"
			:price-semiannually="priceSemiannually"
			:show-modal="isModalMobilePrice"
			@close="closeModalMobilePrice"
		></detail-modal-mobile-price>

		<detail-kost-modal-booking
			:show-modal="isModalBooking"
			@close="closeModalBooking"
		></detail-kost-modal-booking>

		<booking-modal-gender-mismatch
			:show-modal="isModalGenderMismatch"
			@close="closeModalGenderMismatch"
		></booking-modal-gender-mismatch>

		<booking-modal-gender-mismatch
			:show-modal="isModalGenderNull"
			:is-modal-gender-null="true"
			@close="closeModalGenderNull"
		></booking-modal-gender-mismatch>

		<modal-form-login
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="closeModalLogin"
		>
		</modal-form-login>

		<detail-kost-modal
			:is-show="priceInfoModal.show"
			:z-index="1051"
			:size="navigator.isMobile ? 'extra-small' : 'small'"
			@close="closePriceInfoModal"
		>
			<template v-if="priceInfoModal.items && priceInfoModal.items.length">
				<detail-kost-price-item
					v-for="(price, i) in priceInfoModal.items"
					:key="`modal-additionals-${i}`"
					:price="price"
				/>
			</template>
			<template v-else-if="priceInfoModal">{{ priceInfoModal.info }}</template>
		</detail-kost-modal>

		<detail-kost-price-estimation-modal
			v-model="isShowPriceEstimationModal"
			:booking-button-text="bookingButtonText"
			@booking-clicked="handleEstimatePriceBookingClicked"
			@chat-clicked="openModalChat"
		/>
	</section>
</template>

<script>
import EventBus from '../event-bus';
import _get from 'lodash/get';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import { mapMutations } from 'vuex';
import * as storage from 'Js/@utils/storage';

import BookingModalGenderMismatch from '../../_booking/request/components/BookingModalGenderMismatch';
import DetailDesc from './DetailDesc';
import DetailFacilities from './DetailFacilities';
import DetailHeader from './DetailHeader';
import DetailModalChat from './DetailModalChat';
import DetailModalCheckin from './DetailModalCheckin';
import DetailModalClaim from './DetailModalClaim';
import DetailModalPromo from './DetailModalPromo';
import DetailModalMobilePrice from './DetailModalMobilePrice';
import DetailPriceCardDesktop from './DetailPriceCardDesktop';
import DetailPriceCardMobile from './DetailPriceCardMobile';
import DetailVerifStatus from './DetailVerifStatus';
import DetailReport from './DetailReport';
import DetailTitle from './DetailTitle';
import DetailKostBenefit from './kost/kost-benefit/DetailKostBenefit';
import DetailKostRules from './kost/kost-rules/DetailKostRules';
import DetailKostModalBooking from './kost/DetailKostModalBooking';
import DetailKostReview from './kost/kost-review/DetailKostReview';
import DetailKostOwnerInformation from './kost/kost-owner-information/DetailKostOwnerInformation';
import DetailKostShareLove from './kost/DetailKostShareLove';
import DetailKostModal from './kost/DetailKostModal';
import DetailKostPriceItem from './kost/kost-price/DetailKostPriceItem';
import DetailKostPriceEstimationModal from './kost/kost-price/DetailKostPriceEstimationModal';
import DetailKostBookingCard from './kost/booking-card/DetailKostBookingCard';
import DetailKostPromoCard from './kost/booking-card/DetailKostPromoCard';
import DetailKostOverview from './kost/kost-overview/DetailKostOverview';
import DetailKostLocation from './kost/kost-location/DetailKostLocation';
import DetailKostOwnerSection from './kost/kost-owner-section/DetailKostOwnerSection';

import { BgDivider } from 'bangul-vue';

import mixinContainerKost from '../mixins/MixinContainerKost';
import mixinPriceDetail from '../mixins/MixinPriceDetail';

/* istanbul ignore next */
const ModalFormLogin = () =>
	import(
		/* webpackChunkName: "detail_ModalFormLogin" */ 'Js/_login/components/ModalFormLogin'
	);

/* istanbul ignore next */
const BreadcrumbTrails = () =>
	import(
		/* webpackChunkName: "detail_BreadcrumbTrails" */ 'Js/@components/BreadcrumbTrails'
	);

/* istanbul ignore next */
const RelatedCard = () =>
	import(
		/* webpackChunkName: "detail_RelatedCard" */ 'Js/@components/RelatedCard'
	);

const LOCAL_STORAGE_EVENT_NAME = 'ownersection-type';

export default {
	components: {
		BreadcrumbTrails,
		BookingModalGenderMismatch,
		DetailDesc,
		DetailFacilities,
		DetailHeader,
		DetailModalChat,
		DetailModalCheckin,
		DetailModalClaim,
		DetailModalPromo,
		DetailModalMobilePrice,
		DetailPriceCardDesktop,
		DetailPriceCardMobile,
		DetailVerifStatus,
		DetailReport,
		DetailTitle,
		DetailKostModalBooking,
		DetailKostReview,
		DetailKostShareLove,
		DetailKostBookingCard,
		DetailKostPromoCard,
		DetailKostModal,
		DetailKostPriceEstimationModal,
		DetailKostPriceItem,
		RelatedCard,
		ModalFormLogin,
		DetailKostBenefit,
		DetailKostOverview,
		DetailKostOwnerInformation,
		DetailKostLocation,
		DetailKostRules,
		DetailKostOwnerSection,
		BgDivider
	},
	mixins: [mixinContainerKost, mixinPriceDetail],
	data() {
		return {
			isListenEventBus: true
		};
	},
	computed: {
		seeMoreUrl() {
			return '/cari?redirection_source=view all detail recommendation';
		},
		isKost() {
			return this.detailType === 'kost';
		},
		photo360() {
			return this.$store.state.detail.photo_360 || null;
		},
		description() {
			return _get(this.$store.state, 'detail.description', '');
		},
		matterportId() {
			return this.$store.state.detail.matterport_id || null;
		},
		youtubeId() {
			return this.$store.state.detail.youtube_id || null;
		},
		hasMedia() {
			return !(
				this.photo360 === null &&
				this.matterportId === null &&
				this.youtubeId === null
			);
		},
		authData() {
			return this.$store.state.authData;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		isLogin() {
			return _get(this.authCheck, 'all', false);
		},
		isOwner() {
			return this.isLogin && this.authCheck.owner;
		},
		isDesktopFavShare() {
			return (
				this.detailType === 'apartment' &&
				(this.authCheck.user || !this.authCheck.all)
			);
		},
		latitude() {
			return _get(this.$store.state, 'detail.latitude', 0);
		},
		longitude() {
			return _get(this.$store.state, 'detail.longitude', 0);
		},
		promotion() {
			return _get(this.$store.state, 'priceCardInfo.promotion', null);
		},
		bookingButtonText() {
			return process.env.MIX_BOOKING_BUTTON_TEXT || 'Ajukan Sewa';
		},
		isCheckinDateFirst() {
			return _get(this.$store, 'state.isCheckinDateFirst', false);
		},
		userId() {
			return _get(this.$store, 'state.authData.all.id', null);
		}
	},
	created() {
		this.getBookingPriceEstimation();
	},
	mounted() {
		this.handleCheckAbTestValue();
	},
	methods: {
		...mapMutations(['setUserAbTest', 'setAbTestCheckedStatus']),
		handleCheckAbTestValue() {
			if (this.userId) {
				const abTestStorageData = JSON.parse(
					storage.local.getItem(LOCAL_STORAGE_EVENT_NAME)
				);
				const currentSessionId = this.getSessionIdFromStorage();
				const isSameSession = abTestStorageData
					? currentSessionId === abTestStorageData.sessionId
					: false;

				/**
				 * if the user have a same session then
				 * get the current variant data on the storage
				 * otherwise we need to get the new variant
				 */

				if (abTestStorageData && isSameSession) {
					const isUserAbTesting = abTestStorageData.value !== 'control';

					this.setUserAbTest(isUserAbTesting);
					this.setAbTestCheckedStatus(true);

					return;
				}

				this.handleUserAbTest();
			} else {
				this.setAbTestCheckedStatus(true);
			}
		},
		async handleUserAbTest() {
			const response = await makeAPICall({
				method: 'get',
				url: '/config/ab-test/discovery-communication'
			});

			if (response && typeof response === 'object') {
				const ownerBadgesData = _get(response, 'owner_badges', null);

				if (!ownerBadgesData) {
					this.setAbTestCheckedStatus(true);
					this.setAbTestValueToLocalStorage('control');
					return;
				}

				/**
				 * if the response API return use_variant = true
				 * we don't need to call API splitter and
				 * use the varian response from BE and vice versa
				 */
				const isUseCurrentVariant = _get(
					response,
					'owner_badges.use_variant',
					false
				);

				/**
				 * if the variant is control it means
				 * the user not included in the AB Testing
				 * and vice versa
				 */
				const currentVariant = _get(
					response,
					'owner_badges.variant',
					'control'
				);
				const experimentId = _get(response, 'owner_badges.experiment_id', null);
				const isUserAbTesting = currentVariant !== 'control';

				if (isUseCurrentVariant) {
					this.setUserAbTest(isUserAbTesting);
					this.setAbTestCheckedStatus(true);
					this.setAbTestValueToLocalStorage(currentVariant);
				} else if (experimentId) {
					this.handleCallApiSplitter(
						isUserAbTesting,
						experimentId,
						currentVariant
					);
				} else {
					this.setAbTestCheckedStatus(true);
					this.setAbTestValueToLocalStorage('control');
				}
			} else {
				this.setAbTestCheckedStatus(true);
				this.setAbTestValueToLocalStorage('control');
			}
		},
		getDevideIdFromCookie() {
			return Cookies && Cookies.get('USER_DATA')
				? JSON.parse(Cookies.get('USER_DATA')).deviceUuid
				: storage.local.getItem('MOE_DATA')
				? JSON.parse(storage.local.getItem('MOE_DATA')).USER_DATA.deviceUuid
				: null;
		},
		getSessionIdFromStorage() {
			return storage.local.getItem('MOE_DATA') &&
				JSON.parse(storage.local.getItem('MOE_DATA')).SESSION
				? JSON.parse(storage.local.getItem('MOE_DATA')).SESSION.sessionKey
				: null;
		},
		setAbTestValueToLocalStorage(value) {
			const currentSessionId = this.getSessionIdFromStorage();
			const abTestData = JSON.stringify({
				value,
				sessionId: currentSessionId
			});

			storage.local.setItem(LOCAL_STORAGE_EVENT_NAME, abTestData);
		},
		async handleCallApiSplitter(isUserAbTesting, experimentId, currentVariant) {
			const deviceId = this.getDevideIdFromCookie();
			const sessionId = this.getSessionIdFromStorage();

			const response = await makeAPICall({
				method: 'post',
				url: AB_TEST_URL,
				data: {
					user_id: this.userId,
					experiment_id: experimentId,
					device_id: deviceId,
					session_id: sessionId
				},
				timeout: 5000,
				transformRequest: [
					function(data, headers) {
						headers.Authorization = AB_TEST_API_AUTHORIZATION;
						headers['x-api-key'] = AB_TEST_API_KEY;
						headers['Content-Type'] = 'application/json';
						delete headers['X-GIT-Time'];
						return JSON.stringify(data);
					}
				]
			});

			if (response && typeof response === 'object') {
				const isExperimentActive = _get(response, 'is_active', false);
				const splitterExperimentId = _get(response, 'experiment_id', false);
				const experimentVariant = _get(response, 'experiment_value', 'control');
				const isEligibleForAbTesting = splitterExperimentId === experimentId;
				const isGetVariant = experimentVariant !== 'control';

				isExperimentActive &&
					isEligibleForAbTesting &&
					this.setUserAbTest(isGetVariant);

				this.setAbTestCheckedStatus(true);
				this.setAbTestValueToLocalStorage(experimentVariant);
			} else {
				/**
				 * if there is an error on splitter API
				 * we use default varian data from BE
				 */
				this.setUserAbTest(isUserAbTesting);
				this.setAbTestCheckedStatus(true);
				this.setAbTestValueToLocalStorage(currentVariant);
			}
		},
		scrollToComponent(componentRef) {
			if (componentRef === 'detailKostRelated') {
				window.scrollTo({
					top: document.body.scrollHeight,
					behavior: 'smooth'
				});
			} else {
				const componentPosition = _get(this.$refs, `${componentRef}.$el`, null);
				if (componentPosition) {
					window.scrollTo({
						top: componentPosition.getBoundingClientRect().top,
						behavior: 'smooth'
					});
				}
			}
		},
		openModalChat() {
			EventBus.$emit('openModalChat');
		},
		handleEstimatePriceBookingClicked() {
			const redirectionSource = 'estimation_price';
			if (this.isCheckinDateFirst) {
				this.$refs.detailPriceCardMobile.setBookingRedirectionSource(
					redirectionSource
				);
				this.$refs.detailPriceCardMobile.showBookingInputCheckinModal();
			} else {
				this.$refs.detailPriceCardMobile.bookingKost(true, redirectionSource);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.--sticky {
	position: sticky;
	top: 100px;
}

.--tall {
	top: 120px;
}

#priceCard {
	> * {
		width: 100%;
		max-width: 384px;
	}
}

.content-container {
	display: table;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;

	@media (max-width: 1199px) {
		max-width: 940px;
	}

	@media (max-width: 991px) {
		max-width: 690px;
	}

	@media (max-width: 767px) {
		max-width: none;
		padding: 0;
	}

	.detail-container {
		display: flex;
		padding: 0;
		flex-direction: column;

		.detail-container__share {
			@media (max-width: 991px) {
				display: flex !important;
			}
		}

		.detail-container__kost-overview {
			display: block;
			padding: 32px 0;

			@media (max-width: 767px) {
				padding: 24px 16px;
				background: #fff;
			}
		}

		.detail-container__kost-benefit {
			display: flex;
			flex-direction: column;
		}

		.detail-container__others {
			display: flex;
			flex-direction: column;

			@media (max-width: 767px) {
				padding: 0 16px;
				background: #fff;
			}
		}

		.detail-container__facilities {
			.detail-container__facilities-divider {
				@media (max-width: 767px) {
					padding: 0 16px;
				}
			}

			.detail-container__facilities-title {
				margin: 0 0 32px;
				font-size: 24px;
				font-weight: bold;
				line-height: 32px;
				color: #303030;

				@media (max-width: 767px) {
					margin: 0 0 24px;
					font-size: 20px;
					line-height: 28px;
				}
			}

			.detail-container__facilities-content {
				display: flex;
				padding: 48px 0;
				flex-direction: column;

				@media (max-width: 767px) {
					padding: 32px 16px;
					background: #fff;
				}
			}
		}
	}
	.card-container {
		z-index: 1;
		display: flex;
		padding-right: 0;
		margin-top: 18px;
		flex-direction: column;
		align-items: flex-end;
	}

	.card-container-media {
		margin-top: -55px;
	}
}

.detail-kost-promo-card {
	margin-top: 16px;
}

.related-container {
	position: relative;
	z-index: 0;
	background: #fff;
}

.clearfix {
	@media (max-width: 991px) {
		margin-bottom: 100px;
	}

	@media (min-width: 991px) {
		margin-bottom: 1rem;
	}
}
.breadcrumb-container {
	width: 100%;
	padding: 12px 24px;
	background: #fff;

	@media (max-width: 991px) {
		display: none;
	}
}
.breadcrumb-mobile-container {
	display: flex;
	height: auto;
}
</style>
