<template>
	<div id="detailPriceCardDesktop" class="price-card-container">
		<div class="card-status col-xs-12">
			<available-room-label
				v-if="detailType == 'kost'"
				:available-room="priceCardInfo.available_room"
			/>

			<div class="card-status__info">
				<last-update-text
					v-if="!navigator.isMobile"
					:updated-date="priceCardInfo.updated_at"
				/>

				<h4
					v-if="!isBooking || !checker"
					class="text-normalize card-status__disclaimer"
				>
					Data bisa berubah kapanpun
				</h4>
			</div>
		</div>

		<div class="card-price">
			<detail-price-card-pop-up :price-list="priceListShow.slice(0, 3)" />

			<div v-if="priceListShow.length > 3" class="price-more">
				<span class="text-primary" @click="toggleAllPrice"
					>Lihat harga sewa lainnya</span
				>
			</div>
		</div>

		<div
			v-if="detailType == 'kost' || detailType == 'house'"
			class="card-info"
			:class="{
				'--is-booking':
					isBooking && !authCheck.owner && priceCardInfo.available_room !== 0
			}"
		>
			<div
				v-if="detailType == 'kost'"
				class="card-info__electricity card-info-item"
			>
				<div
					v-if="
						priceCardInfo.fac_price_icon.length !== 0 &&
							priceCardInfo.fac_price_icon[0].id === 84
					"
					class="info-electricity"
				>
					<div class="col-xs-1 info-icon">
						<img
							v-lazy="'/general/img/icons/ic_electric.svg'"
							alt="ic_electric"
							title="listrik icon"
						/>
					</div>

					<h4 class="text-normalize">Termasuk listrik</h4>
				</div>

				<div v-else class="info-electricity">
					<div class="col-xs-1 info-icon">
						<img
							v-lazy="'/general/img/icons/ic_electric_no.svg'"
							alt="ic_electric_no"
							title="listrik icon"
						/>
					</div>

					<h4 class="text-normalize">Tidak termasuk listrik</h4>
				</div>
			</div>

			<div class="card-info__payment card-info-item">
				<div v-if="priceCardInfo.min_month !== null" class="info-payment">
					<div class="col-xs-1 info-icon">
						<img
							v-lazy="'/general/img/icons/ic_min_payment.svg'"
							alt="ic_min_payment"
							title="min pembayaran icon"
						/>
					</div>

					<span>
						<template v-if="detailType == 'house'">Sewa</template>

						<template v-else>Bayar</template>
						{{ priceCardInfo.min_month }}
					</span>
				</div>

				<div v-else class="info-payment">
					<div class="col-xs-1 info-icon">
						<img
							v-lazy="'/general/img/icons/ic_min_payment_no.svg'"
							alt="ic_min_payment_no"
							title="min pembayaran icon"
						/>
					</div>

					<span>Tidak ada min. pembayaran</span>
				</div>
			</div>

			<div
				v-if="priceCardInfo.promotion !== null && detailType == 'kost'"
				class="card-info__promo card-info-item"
			>
				<div class="promo-title">
					<div class="col-xs-1 info-icon">
						<img
							v-lazy="'/general/img/icons/ic_promotion.svg'"
							alt="ic_promotion"
							title="promo icon"
						/>
					</div>

					<span class="text-primary">{{ priceCardInfo.promotion.title }}</span>
				</div>
				<a class="promo-see text-primary" @click="openModalPromo">
					<h3 class="text-normalize">Lihat Promo</h3>
				</a>
			</div>
		</div>

		<div v-if="isShowCheckinDateSection" class="checkin-date-section">
			<booking-input-checkin
				ref="bookingInputCheckin"
				placeholder="Isi tanggal mulai sewa kos"
				is-absolute
				is-close-from-outside
				is-scroll-on-open
				:scroll-top-offset="74"
				@opened="handleDatePickerOpened(true)"
				@closed="handleDatePickerOpened(false)"
				@date-selected="handleOnDateSelected"
			/>
		</div>

		<div
			class="card-footer"
			:class="{
				'--is-booking': isBooking && !authCheck.owner
			}"
		>
			<div v-if="!disabledChat" class="btn-item-box box-primary">
				<button
					v-if="authCheck.owner && detailType == 'kost'"
					type="button"
					class="btn btn-info"
					@click="claimKost"
				>
					<img
						v-lazy="'/general/img/icons/ic_claim_property.svg'"
						alt="ic_claim_property"
						title="claim icon"
					/>

					<span>Klaim {{ detailTypeName }}</span>
				</button>

				<button
					v-else-if="authCheck.user && isCheckin && detailType == 'kost'"
					type="button"
					class="btn btn-primary"
					@click="checkinKost"
				>
					<img
						v-if="!isBooking"
						v-lazy="'/general/img/icons/ic_mark_kost.svg'"
						alt="ic_mark_kost"
						title="mark icon"
					/>

					<span v-if="isBooking && !authCheck.owner"
						>Tandai {{ detailTypeName }}</span
					>

					<span v-else>Tandai {{ detailTypeName }} Saya</span>
				</button>

				<button
					v-else-if="!authCheck.owner"
					type="button"
					class="btn"
					:class="[
						isBooking && !authCheck.owner ? 'btn-warning' : 'btn-info',
						msgTracking
					]"
					@click="openModalChat"
				>
					<img
						v-if="!isBooking"
						v-lazy="'/general/img/icons/ic_chat_o_white.svg'"
						:class="msgTracking"
						alt="ic_chat"
						title="chat icon"
					/>

					<h2 class="text-normalize" :class="msgTracking">
						Hubungi {{ detailTypeName === 'Kost' ? 'Kos' : detailTypeName }}
					</h2>
				</button>
			</div>

			<div
				v-if="isBooking && !authCheck.owner"
				class="btn-item-box box-secondary"
			>
				<button
					type="button"
					class="btn track_request_booking"
					:disabled="isBookingDisabled || priceCardInfo.available_room == 0"
					:class="{
						'btn-info': priceCardInfo.available_room != 0
					}"
					@click="bookingKost"
				>
					<h2 class="text-normalize track_request_booking">
						{{ bookingButtonText }}
					</h2>
				</button>
			</div>
		</div>

		<div v-if="isBooking && !authCheck.owner" class="card-disclaimer">
			<h4 class="text-normalize">
				Pastikan kamu telah membaca deskripsi & fasilitas kos ini
			</h4>
		</div>

		<transition name="slide-fade">
			<div v-show="isShowAllPrice" class="card-price --all-price">
				<detail-price-card-pop-up
					:price-list="priceList"
					:is-show-close="true"
					@close="toggleAllPrice"
				/>
			</div>
		</transition>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import _get from 'lodash/get';
import _forEach from 'lodash/forEach';

import AvailableRoomLabel from './AvailableRoomLabel';
import DetailPriceCardPopUp from './DetailPriceCardPopUp';
import LastUpdateText from './LastUpdateText';
import BookingInputCheckin from '../../_booking/request/components/booking-date/BookingInputCheckin';
import MixinBookingAfterNightValidation from '../../_booking/request/mixins/MixinBookingAfterNightValidation';

export default {
	components: {
		AvailableRoomLabel,
		LastUpdateText,
		BookingInputCheckin,
		DetailPriceCardPopUp
	},
	mixins: [MixinBookingAfterNightValidation],
	props: {
		priceCardInfo: {
			type: Object,
			required: true
		},
		priceMonthly: {
			type: String,
			required: true
		},
		priceDaily: {
			type: String,
			default: ''
		},
		priceWeekly: {
			type: String,
			default: ''
		},
		priceQuarterly: {
			type: String,
			default: ''
		},
		priceSemiannually: {
			type: String,
			default: ''
		},
		priceYearly: {
			type: String,
			default: ''
		},
		isCheckin: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			isOpenBooking: false,
			isShowAllPrice: false
		};
	},
	computed: {
		checkinDate() {
			return _get(this.$store, 'state.params.checkin', '');
		},
		isShowCheckinDateSection() {
			return (
				this.isBooking && !this.isBookingDisabled && this.isCheckinDateFirst
			);
		},
		isCheckinDateFirst() {
			return _get(this.$store, 'state.isCheckinDateFirst', false);
		},
		isValidBookingFlow() {
			return (
				!this.isShowCheckinDateSection ||
				(this.isShowCheckinDateSection &&
					this.checkIsValidDate(this.checkinDate))
			);
		},
		disabledChat() {
			return _get(this.$store, 'state.extras.disabledChat');
		},
		authCheck() {
			return _get(this.$store, 'state.authCheck');
		},
		isBooking() {
			return _get(this.$store, 'state.detail.is_booking', false);
		},
		checker() {
			return _get(this.$store, 'state.detail.checker', null);
		},
		msgTracking() {
			return `track-message ${_get(this.$store, 'state.detail.msg_tracking')}`;
		},
		priceZero() {
			return (
				this.priceDaily !== '0' &&
				this.priceMonthly === '0' &&
				this.priceWeekly === '0' &&
				this.priceYearly === '0' &&
				this.priceQuarterly === '0' &&
				this.priceSemiannually === '0'
			);
		},
		isBookingDisabled() {
			return (
				_get(this.priceCardInfo, 'available_room') === 0 ||
				this.priceZero ||
				this.nightValidation
			);
		},
		bookingButtonText() {
			return process.env.MIX_BOOKING_BUTTON_TEXT || 'Ajukan Sewa';
		},
		priceList() {
			const priceListName = [
				'daily',
				'weekly',
				'monthly',
				'quarterly',
				'semiannually',
				'yearly'
			];
			const priceListLabel = [
				'Per Hari',
				'Per Minggu',
				'Per Bulan',
				'Per 3 Bulan',
				'Per 6 Bulan',
				'Per Tahun'
			];
			const priceListAmount = [
				this.priceDaily,
				this.priceWeekly,
				this.priceMonthly,
				this.priceQuarterly,
				this.priceSemiannually,
				this.priceYearly
			];
			const priceListData = [];

			for (let i = 0; i < 6; i++) {
				priceListData.push({
					name: priceListName[i],
					label: priceListLabel[i],
					show: this.isShowPrice(
						`price_${priceListName[i]}`,
						priceListAmount[i]
					),
					discount: this.discountPrice(`price_${priceListName[i]}`),
					amount: priceListAmount[i]
				});
			}

			return priceListData;
		},
		priceListShow() {
			const priceListShowData = [];
			const newPriceListShow = [];
			priceListShowData.push(this.priceList[2]);
			priceListShowData.push(this.priceList[4]);
			priceListShowData.push(this.priceList[5]);
			priceListShowData.push(this.priceList[0]);
			priceListShowData.push(this.priceList[1]);
			priceListShowData.push(this.priceList[3]);

			_forEach(priceListShowData, price => {
				if (price.show) {
					newPriceListShow.push(price);
				}
			});
			return newPriceListShow;
		}
	},

	methods: {
		isShowPrice(priceItem, priceType) {
			return (
				_get(this.priceCardInfo, `price.${priceItem}`) !== null &&
				priceType !== '0'
			);
		},
		discountPrice(priceItem) {
			return _get(this.priceCardInfo, `price.${priceItem}.discount_price`)
				? _get(this.priceCardInfo, `price.${priceItem}.price`)
				: null;
		},
		toggleAllPrice() {
			this.isShowAllPrice = !this.isShowAllPrice;
		},
		openModalPromo() {
			EventBus.$emit('openModalPromo');
		},
		openModalChat() {
			EventBus.$emit('openModalChat');
		},
		claimKost() {
			EventBus.$emit('openModalClaim');
		},
		checkinKost() {
			EventBus.$emit('openModalCheckin');
		},
		checkIsValidDate(date) {
			return !!date && this.$dayjs(date).isValid();
		},
		bookingKost() {
			if (this.isValidBookingFlow) {
				EventBus.$emit('openBookingKost', {
					isAvailable: !this.isBookingDisabled
				});
			} else {
				EventBus.$emit('trackClickBooking');
				EventBus.$emit('validateOpenBookingKost', {
					isAvailable: !this.isBookingDisabled,
					callback: this.openBookingInputCheckin
				});
			}
		},
		openBookingInputCheckin() {
			const bookingInputCheckin = this.$refs.bookingInputCheckin;
			if (bookingInputCheckin) {
				bookingInputCheckin.openDatePickerFromOutside();
			}
		},
		handleDatePickerOpened(isOpen) {
			const priceCard = document.getElementById('priceCard');
			if (priceCard) {
				priceCard.classList[isOpen ? 'remove' : 'add']('--sticky');
			}
		},
		handleOnDateSelected() {
			this.$store.commit('setIsOverrideDraftCheckin', true);
			this.trackDateSelected();
		},
		trackDateSelected() {
			const { detail, authData } = this.$store.state;
			tracker('moe', [
				'[User] Booking - Click Booking on Datepicker',
				{
					property_type: this.detailType || '',
					property_id: _get(detail, '_id', ''),
					property_city: _get(detail, 'area_city', ''),
					property_subdistrict: _get(detail, 'area_subdistrict', ''),
					property_name: _get(detail, 'room_title', ''),
					property_monthly_price: _get(detail, 'price_monthly', 0),
					tenant_name: _get(authData, 'all.name', ''),
					booking_checkin_time: this.checkinDate
						? new Date(this.checkinDate)
						: '',
					goldplus_status: _get(detail, 'level_info.name', ''),
					interface: 'desktop'
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */
.price-card-container {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #f4f4f4;
}

.card-price {
	padding: 8px 20px;
	padding-top: 0;
	border-bottom: 8px solid #f4f4f4;

	&.--all-price {
		position: absolute;
		left: -270px;
		background-color: #fff;
		box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.07);
		border-radius: 4px;
		border-bottom: none;
		width: 360px;
	}

	.price-more {
		padding: 8px;

		span {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.card-status {
	display: flex;
	padding: 0;
	align-items: center;
	border-bottom: 1px solid #f4f4f4;
	padding: 16px 20px 8px;

	.card-status__info {
		display: flex;
		margin-left: 10px;
		flex-direction: column;
		padding: 0;
	}

	.card-status__disclaimer {
		line-height: 1;
		font-size: 12px;
		color: #999;
	}
}

.card-info {
	padding: 12px 20px 16px;
	font-size: 12px;

	.info-icon {
		display: flex;
		justify-content: center;
		margin-right: 1rem;
	}

	.card-info-item {
		&:not(:last-of-type) {
			margin-bottom: 1rem;
		}

		.info-electricity,
		.info-payment {
			display: flex;
			align-items: center;
		}
	}

	.card-info__electricity {
		img {
			height: 20px;
		}
	}

	.card-info__payment {
		img {
			height: 15px;
		}
	}

	.card-info__promo {
		display: flex;

		.promo-title {
			display: flex;
			align-items: center;

			span {
				max-width: 200px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			img {
				height: 20px;
			}
		}

		.promo-see {
			font-weight: bold;
		}
	}
}

.checkin-date-section {
	padding: 16px 20px 24px;
	border-top: 8px solid #f4f4f4;
}

.card-footer {
	padding: 12px 20px;
	padding-top: 0;

	&.--is-booking {
		display: flex;
		justify-content: space-between;

		.btn-item-box {
			width: 100%;

			&.box-primary {
				margin-right: 0.5rem;
			}

			&.box-secondary {
				margin-left: 0.5rem;
			}

			button {
				width: 100%;
				font-weight: bold;
			}
		}
	}

	.btn-info,
	.btn-primary,
	.btn-warning,
	.btn-disabled {
		display: flex;
		width: 100%;
		height: 40px;
		font-weight: 700;
		align-items: center;
		justify-content: center;

		img {
			height: 1.2em;
			margin-right: 0.5rem;
		}
	}
}

.card-disclaimer {
	color: #999;
	font-size: 12px;
	padding: 2rem;
	padding-top: 0;
}

.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.3s cubic-bezier(0.5, 0.25, 0.4, 0.5);
}
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
</style>
