<template>
	<div id="detailPriceCardPopUp">
		<div
			v-for="(price, index) in priceList"
			:key="index"
			v-if="price.show"
			class="card-price__box"
			:class="{
				'--daily-price': price.name === 'daily',
				'--last-price': index === priceList.length - 1
			}"
		>
			<div class="price-label">
				<span class="price-type">{{ price.label }}</span>

				<tooltip
					v-if="price.name === 'daily'"
					effect="scale"
					:content="dailyPriceInfo"
					placement="bottom"
					trigger="hover"
				>
					<img
						src="/general/img/icons/ic_warning_circle_gray.svg"
						alt="ic_warning_circle_gray"
					/>
				</tooltip>
			</div>

			<span
				class="price-tag"
				:data-path="
					`txt_price${price.name.charAt(0).toUpperCase() + price.name.slice(1)}`
				"
			>
				<span v-if="price.discount != null" class="price-original"
					>Rp {{ price.discount }}</span
				>
				Rp {{ price.amount }}
			</span>
		</div>

		<div v-if="isShowClose" class="price-close">
			<span class="text-primary" @click="closePrice">Tutup</span>
		</div>
	</div>
</template>

<script>
import { tooltip } from 'vue-strap';

export default {
	components: {
		tooltip
	},

	props: {
		priceList: {
			type: Array,
			required: true
		},
		isShowClose: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			dailyPriceInfo:
				'Saat ini hitungan sewa Per Hari belum bisa di booking melalui Mamikos'
		};
	},

	methods: {
		closePrice() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
#detailPriceCardPopUp {
	.tooltip-inner {
		text-align: left;
		max-width: 215px;
	}
}
</style>

<style lang="scss" scoped>
.card-price__box {
	display: flex;
	padding: 8px;
	font-size: 1.1em;
	font-weight: 700;
	justify-content: space-between;
	pointer-events: none;
	border-bottom: 1px solid #f2f2f2;

	&.--last-price,
	&:last-child {
		border-bottom: 0;
	}

	&.--daily-price {
		pointer-events: unset;

		.price-label {
			display: flex;
			justify-content: center;

			img {
				margin-left: 0.5rem;
				margin-top: -0.5rem;
				transform: rotate(180deg);
			}
		}
	}

	.price-type {
		font-weight: normal;
	}
}

.price-tag {
	display: flex;
	align-items: center;
}

.price-original {
	margin-left: 8px;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
	margin-right: 8px;
}

.price-close {
	display: flex;
	justify-content: flex-end;
	padding: 8px;

	span {
		cursor: pointer;
		font-weight: bold;
	}
}
</style>
