<template>
	<div class="photo-round-container">
		<span>360</span>
	</div>
</template>

<script>
export default {
	computed: {
		photoRound() {
			return this.$store.state.detail.photo_360;
		}
	}
};
</script>
