<template>
	<div class="gallery-switcher">
		<div
			v-for="(switcher, index) in switcherData"
			:key="`${switcher.name}-${index}`"
		>
			<div
				v-if="switcher.showCondition"
				:class="[
					'gallery-switcher__button',
					{
						'gallery-switcher__button--active': switcher.isActive
					}
				]"
				@click="switchGallery(switcher.paramName)"
			>
				<bg-icon :name="switcher.icon" size="md" />
				<span class="gallery-switcher__text">{{ switcher.name }}</span>
			</div>
		</div>
	</div>
</template>

<script>
import EventBus from '../event-bus';
import _get from 'lodash/get';
import { BgIcon } from 'bangul-vue';
import 'bangul-vue/dist/bangul.css';

export default {
	name: 'DetailGallerySwitcher',
	components: {
		BgIcon
	},
	data() {
		return {
			isPhoto: true,
			is360: false,
			isTour: false,
			isVideo: false,
			placeHolder: {
				photo: '/assets/placeholders/thumb_photo.jpg',
				video: '/assets/placeholders/thumb_video.jpg',
				video_tour: '/assets/placeholders/thumb_video_tour.jpg',
				virtual: '/assets/placeholders/thumb_virtual.jpg'
			}
		};
	},
	computed: {
		photo360() {
			return _get(this.$store.state, 'detail.photo_360', null);
		},
		matterportId() {
			return _get(this.$store.state, 'detail.matterport_id', null);
		},
		youtubeId() {
			return _get(this.$store.state, 'detail.youtube_id', null);
		},
		isChecker() {
			return _get(this.$store.state, 'detail.checker', null);
		},
		placeHolderVideo() {
			return this.isChecker
				? this.placeHolder.video_tour
				: this.placeHolder.video;
		},
		switcherData() {
			return [
				{
					showCondition: true,
					isActive: this.isPhoto,
					paramName: 'photo',
					name: 'Foto',
					icon: 'picture'
				},
				{
					showCondition: !!this.youtubeId,
					isActive: this.isVideo,
					paramName: 'video',
					name: `Video ${this.isChecker ? 'Tour' : ''}`,
					icon: 'video'
				},
				{
					showCondition: !!this.matterportId,
					isActive: this.isTour,
					paramName: 'tour',
					name: 'Virtual Tour',
					icon: 'virtual-tour-360'
				},
				{
					showCondition: !!this.photo360 && !this.matterportId,
					isActive: this.is360,
					paramName: '360',
					name: '360°',
					icon: 'virtual-tour-360'
				}
			];
		}
	},
	methods: {
		switchGallery(target) {
			if (target === 'tour') {
				if (this.navigator.isMobile) {
					window.open(`/vrtour/matterport/${this.matterportId}`);
				} else {
					EventBus.$emit('switchTour');
					this.isPhoto = false;
					this.is360 = false;
					this.isVideo = false;
					this.isTour = true;
				}
			} else {
				this.isPhoto = false;
				this.is360 = false;
				this.isVideo = false;
				this.isTour = false;

				if (target === 'photo') {
					EventBus.$emit('switchPhoto');

					this.isPhoto = true;
				} else if (target === '360') {
					EventBus.$emit('switch360');

					this.is360 = true;
				} else if (target === 'video') {
					EventBus.$emit('switchVideo');
					this.isVideo = true;
				}
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.gallery-switcher {
	display: flex;
	height: 100%;
	margin-top: 12px;
}

.gallery-switcher__button {
	position: relative;
	display: flex;
	width: 96px;
	height: 64px;
	margin-right: 16px;
	color: #303030;
	cursor: pointer;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	.gallery-switcher__text {
		margin-top: 4px;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
	}

	&.gallery-switcher__button--active {
		border: 1px solid #1baa56;
	}
}
</style>
