<template>
	<modal
		id="modalMobilePrice"
		effect="fade"
		:value="showModal"
		:backdrop="true"
		:small="true"
		@ok="closeModal"
		@cancel="closeModal"
	>
		<div class="mobile-price-container">
			<div class="mobile-price-close">
				<filter-close-button @press="closeModal"></filter-close-button>
			</div>

			<div class="mobile-price-content">
				<label>Harga Sewa</label>

				<div
					v-if="priceCardInfo.price.price_monthly && priceMonthly != '0'"
					class="price-list"
				>
					<span>Per Bulan</span>
					<span>
						<span v-if="discountMonthly != null" class="modal-original-price">
							Rp {{ discountMonthly }}
						</span>
						<strong>Rp {{ priceMonthly }}</strong>
					</span>
				</div>

				<div
					v-if="priceCardInfo.price.price_daily && priceDaily != '0'"
					class="price-list --daily-price"
				>
					<div class="price-label">
						<span>Per Hari</span>

						<tooltip
							effect="scale"
							:content="dailyPriceInfo"
							placement="top"
							trigger="click"
						>
							<img
								src="/general/img/icons/ic_warning_circle_gray.svg"
								alt="ic_warning_circle_gray"
							/>
						</tooltip>
					</div>

					<span>
						<span v-if="discountDaily != null" class="modal-original-price">
							Rp {{ discountDaily }}
						</span>
						<strong>Rp {{ priceDaily }}</strong>
					</span>
				</div>

				<div
					v-if="priceCardInfo.price.price_weekly && priceWeekly != '0'"
					class="price-list"
				>
					<span>Per Minggu</span>
					<span>
						<span v-if="discountWeekly != null" class="modal-original-price">
							Rp {{ discountWeekly }}
						</span>
						<strong>Rp {{ priceWeekly }}</strong>
					</span>
				</div>

				<div
					v-if="priceCardInfo.price.price_quarterly && priceQuarterly != '0'"
					class="price-list"
				>
					<span>Per 3 Bulan</span>
					<span>
						<span v-if="discountQuarterly != null" class="modal-original-price">
							Rp {{ discountQuarterly }}
						</span>
						<strong>Rp {{ priceQuarterly }}</strong>
					</span>
				</div>

				<div
					v-if="
						priceCardInfo.price.price_semiannually && priceSemiannually != '0'
					"
					class="price-list"
				>
					<span>Per 6 Bulan</span>
					<span>
						<span
							v-if="discountSemianually != null"
							class="modal-original-price"
						>
							Rp {{ discountSemianually }}
						</span>
						<strong>Rp {{ priceSemiannually }}</strong>
					</span>
				</div>

				<div
					v-if="priceCardInfo.price.price_yearly && priceYearly != '0'"
					class="price-list --no-border"
				>
					<span>Per Tahun</span>
					<span>
						<span v-if="discountYearly != null" class="modal-original-price">
							Rp {{ discountYearly }}
						</span>
						<strong>Rp {{ priceYearly }}</strong>
					</span>
				</div>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal, tooltip } from 'vue-strap';
import EventBus from '../event-bus';

const FilterCloseButton = () =>
	import(
		/* webpackChunkName: "detail_FilterCloseButton" */ 'Js/@components/FilterCloseButton'
	);

export default {
	components: {
		FilterCloseButton,
		modal,
		tooltip
	},

	props: {
		priceCardInfo: {
			type: Object,
			required: true
		},
		priceMonthly: {
			type: String,
			required: true
		},
		priceDaily: {
			type: String,
			default: ''
		},
		priceWeekly: {
			type: String,
			default: ''
		},
		priceQuarterly: {
			type: String,
			default: ''
		},
		priceSemiannually: {
			type: String,
			default: ''
		},
		priceYearly: {
			type: String,
			default: ''
		},
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			checkinDate: '',
			dailyPriceInfo:
				'Saat ini hitungan sewa Per Hari belum bisa di booking melalui Mamikos'
		};
	},

	computed: {
		discountDaily() {
			return this.priceCardInfo.price.price_daily.discount_price
				? this.priceCardInfo.price.price_daily.price
				: null;
		},
		discountWeekly() {
			return this.priceCardInfo.price.price_weekly.discount_price
				? this.priceCardInfo.price.price_weekly.price
				: null;
		},
		discountMonthly() {
			return this.priceCardInfo.price.price_monthly.discount_price
				? this.priceCardInfo.price.price_monthly.price
				: null;
		},
		discountQuarterly() {
			return this.priceCardInfo.price.price_quarterly.discount_price
				? this.priceCardInfo.price.price_quarterly.price
				: null;
		},
		discountSemianually() {
			return this.priceCardInfo.price.price_semiannually.discount_price
				? this.priceCardInfo.price.price_semiannually.price
				: null;
		},
		discountYearly() {
			return this.priceCardInfo.price.price_yearly.discount_price
				? this.priceCardInfo.price.price_yearly.price
				: null;
		}
	},

	methods: {
		closeModal() {
			EventBus.$emit('closeModalMobilePrice');
		}
	}
};
</script>

<style lang="scss" scoped>
.mobile-price-content {
	padding: 0 16px 40px;
	margin-top: -1.5rem;

	@media (max-width: 767px) {
		padding: 16px 16px 36px;
	}

	label {
		font-size: 18px;
	}

	.price-list {
		display: flex;
		justify-content: space-between;
		pointer-events: none;
		border-bottom: 1px solid #f4f4f4;
		padding: 1.5rem 0;

		&.--no-border {
			border-bottom: none;
			padding-bottom: 2rem;
		}

		&.--daily-price {
			pointer-events: unset;

			.price-label {
				display: flex;
				justify-content: center;

				img {
					margin-left: 0.5rem;
					margin-top: -0.5rem;
					transform: rotate(180deg);
				}
			}
		}
	}
}

.mobile-price-close {
	display: flex;
	justify-content: flex-end;
	padding: 1.5rem;
	padding-bottom: 0;
}

.mobile-price-close-button {
	font-size: 2.5rem;
	line-height: 1;
	cursor: pointer;
}

.modal-original-price {
	color: #999999;
	font-size: 12px;
	text-decoration: line-through;
	margin-right: 8px;
}
</style>

<style>
#modalMobilePrice .tooltip-inner {
	text-align: left;
	max-width: 215px;
}

#modalMobilePrice .tooltip.top {
	left: 16px !important;
}

#modalMobilePrice .tooltip.top .tooltip-arrow {
	left: 29%;
}

#modalMobilePrice {
	z-index: 1029;
}

#modalMobilePrice .modal-content {
	border-radius: 25px 25px 0 0;
	margin: 0 -1px;
	border: none;
	height: 100%;
}

#modalMobilePrice .modal-body {
	padding: 0 !important;
}

#modalMobilePrice .modal-dialog {
	position: absolute;
	width: 100%;
	bottom: 6rem;
	margin: 0;
}

#modalMobilePrice.modal.fade .modal-dialog {
	transform: translate3d(0, 100vh, 0);
}

#modalMobilePrice.modal.in .modal-dialog {
	transform: translate3d(0, 1px, 0);
}

#modalMobilePrice .btn-close-filter {
	color: #999;
}

#modalMobilePrice .btn-close-filter.has-text:after {
	display: none;
}
</style>
