<template>
	<modal
		id="modalClaim"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
		@ok="closeModal"
	>
		<form class="claim-container" @submit.prevent="sendClaimKost">
			<div class="claim-close">
				<span @click="closeModal">&times;</span>
			</div>

			<div class="claim-content">
				<div class="content-title">
					<label>Anda melakukan klaim sebagai:</label>
				</div>

				<div class="content-form">
					<div class="form-item col-xs-12">
						<div class="form-label col-xs-4">
							<span>Status</span>
						</div>

						<div class="form-input col-xs-8">
							<select v-model="claimer">
								<option :value="'Agen'">Agen</option>
								<option :value="'Pemilik Kost'">Pemilik Kost</option>
								<option :value="'Pengelola Kost'">Pengelola Kost</option>
								<option :value="'Anak Kost'">Anak Kost</option>
							</select>
						</div>
					</div>

					<div class="form-item col-xs-12">
						<div class="form-label col-xs-4">
							<span>Nama Kost</span>
						</div>

						<div class="form-input col-xs-8">
							<textarea class="form-control" readonly>{{ roomTitle }}</textarea>
						</div>
					</div>

					<div class="form-item col-xs-12">
						<div class="form-label col-xs-4">
							<span>Alamat Kost</span>
						</div>

						<div class="form-input col-xs-8">
							<textarea class="form-control" readonly
								>{{ subdistrict }}, {{ city }}</textarea
							>
						</div>
					</div>
				</div>
			</div>

			<div class="claim-action">
				<button class="btn btn-info">
					<span>Submit Klaim</span>
				</button>
			</div>
		</form>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import EventBus from '../event-bus';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			claimer: 'Pemilik Kost'
		};
	},

	computed: {
		roomTitle() {
			return this.$store.state.detail.room_title;
		},
		subdistrict() {
			return this.$store.state.detail.area_subdistrict;
		},
		city() {
			return this.$store.state.detail.area_city;
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		sendClaimKost() {
			EventBus.$emit('sendClaimKost', this.claimer);
		}
	}
};
</script>

<style lang="scss" scoped>
.claim-container {
	display: flex;
	flex-direction: column;

	.claim-close {
		display: flex;
		justify-content: flex-end;
		font-size: 2em;
		margin-top: -1.5rem;

		span {
			cursor: pointer;
		}
	}

	.claim-content {
		.content-form {
			.form-item {
				padding: 0;
				margin: 0.5rem 0;

				.form-label {
					padding-left: 0;
				}

				.form-input {
					padding-right: 0;

					select {
						width: 100%;
						background-color: #fff;
						color: #1baa56;
						border-bottom: 1px solid #1baa56;
						border-top: none !important;
						border-right: none !important;
						border-left: none !important;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}

	.claim-action {
		margin-top: 2rem;

		.btn-info {
			width: 100%;
			font-weight: 700;
		}
	}
}
</style>
