<template>
	<div class="price-card-container">
		<bg-divider
			v-show="priceCardInfo.promotion && detailType === 'kost'"
			dashed
		/>

		<div class="card-price">
			<div
				v-if="detailType === 'kost' || detailType == 'house'"
				class="card-price__info"
			>
				<div
					v-if="detailType === 'kost'"
					class="card-price__item info-electricity"
				>
					<div
						v-if="
							priceCardInfo.fac_price_icon &&
								priceCardInfo.fac_price_icon.length &&
								priceCardInfo.fac_price_icon[0].id === 84
						"
					>
						<bg-icon
							name="include-electricity"
							class="card-price__icon"
							size="md"
						/>
						<h4 class="text-normalize">Termasuk Listrik</h4>
					</div>

					<div v-else>
						<bg-icon
							name="exclude-electricity"
							class="card-price__icon"
							size="md"
						/>
						<h4 class="text-normalize">Tidak termasuk listrik</h4>
					</div>
				</div>

				<div class="card-price__item info-payment">
					<div v-if="priceCardInfo.min_month">
						<bg-icon
							name="minimum-payment"
							class="card-price__icon"
							size="md"
						/>
						<span>
							<template v-if="detailType === 'house'">
								Sewa min.
							</template>
							<template v-else>
								Bayar min.
							</template>
							&nbsp;{{ priceCardInfo.min_month }}
						</span>
					</div>

					<div v-else>
						<bg-icon
							name="without-minimum-payment"
							class="card-price__icon"
							size="md"
						/>
						<span>Tidak ada min. pembayaran</span>
					</div>
				</div>

				<div v-if="hasDp" class="card-price__item info-dp">
					<div>
						<bg-icon
							name="minimum-payment"
							class="card-price__icon"
							size="md"
						/>
						<span>Bisa DP</span>
					</div>
				</div>
			</div>

			<div
				v-if="detailType === 'kost' && priceCardInfo.promotion"
				class="card-price__item card-price__promo"
			>
				<div class="promo-title">
					<div class="promo-icon">
						<bg-icon name="voucher" class="card-price__icon" size="md" />
					</div>

					<span>Diskonnya JUTAAN!</span>
				</div>
				<a class="promo-see text-primary" @click="openModalPromo">
					<h3 class="text-normalize">Lihat Promo</h3>
				</a>
			</div>

			<div
				class="card-price__footer col-xs-12"
				:class="{ '--is-booking': isBooking && !authCheck.owner }"
			>
				<div v-if="priceDefault.discount" class="footer-discount">
					Hemat {{ priceDefault.discount }}
					<span class="footer-discount-original">
						Rp {{ priceDefault.price }}
					</span>
				</div>
				<div v-else-if="otherDiscount !== ''" class="footer-discount">
					{{ otherDiscount }}
				</div>
				<div class="card-price__footer-wrapper">
					<div class="footer-room">
						<span class="price-room " @click="openModalPriceEstimation">
							{{ priceFooterFormated }}
						</span>
						<span
							class="price-room-sub text-primary"
							@click="openModalPriceEstimation"
						>
							Lihat estimasi pembayaran
						</span>
					</div>

					<div class="footer-button">
						<div v-if="!disabledChat" class="btn-item-primary">
							<button
								v-if="authCheck.owner && detailType === 'kost'"
								type="button"
								class="btn btn-info"
								@click="claimKost"
							>
								<img
									v-lazy="'/general/img/icons/ic_claim_property.svg'"
									alt="ic_claim_property"
									title="claim icon"
								/>
								<span>Klaim {{ detailTypeName }}</span>
							</button>

							<button
								v-else-if="authCheck.user && isCheckin && detailType == 'kost'"
								type="button"
								class="btn btn-primary"
								@click="checkinKost"
							>
								<img
									v-if="!isBooking"
									v-lazy="'/general/img/icons/ic_mark_kost.svg'"
									alt="ic_mark_kost"
									title="mark icon"
								/>
								<span v-if="isBooking">Tandai</span>
								<span v-else>Tandai {{ detailTypeName }} Saya</span>
							</button>
						</div>
						<div class="footer-button__booking">
							<span class="btn-spotlight" />
							<div
								v-if="isBooking && !authCheck.owner"
								class="btn-item-secondary"
								:class="{ '--disabled-chat': disabledChat }"
							>
								<mami-button
									class="track_request_booking"
									size="large"
									:disabled="
										priceCardInfo.available_room == 0 || isBookingDisabled
									"
									@click="handleBookingFlow"
								>
									<h2 class="text-normalize track_request_booking">
										{{ bookingButtonText }}
									</h2>
								</mami-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<booking-input-checkin-modal
			title="Pilih tanggal mulai ngekos"
			:is-show-modal.sync="isShowBookingInputCheckinModal"
			:action-button-text="bookingButtonText"
			@action-button-clicked="handleCheckinActionButtonClicked"
			@date-selected="handleOnDateSelected"
		/>

		<bg-divider
			v-show="priceCardInfo.promotion && detailType === 'kost'"
			dashed
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import BookingInputCheckinModal from '../../_booking/request/components/booking-date/BookingInputCheckinModal';
import EventBus from '../event-bus';
import MamiButton from 'Js/@components/mami-components/MamiButton';
import MixinBookingAfterNightValidation from 'Js/_booking/request/mixins/MixinBookingAfterNightValidation';
import MixinBookingRequestDate from 'Js/_booking/request/mixins/MixinBookingRequestDate';
import { BgIcon, BgDivider } from 'bangul-vue';

export default {
	components: {
		BookingInputCheckinModal,
		MamiButton,
		BgIcon,
		BgDivider
	},
	mixins: [MixinBookingAfterNightValidation, MixinBookingRequestDate],
	props: {
		priceCardInfo: {
			type: Object,
			required: true
		},
		priceMonthly: {
			type: String,
			required: true
		},
		priceDaily: {
			type: String,
			default: ''
		},
		priceWeekly: {
			type: String,
			default: ''
		},
		priceQuarterly: {
			type: String,
			default: ''
		},
		priceSemiannually: {
			type: String,
			default: ''
		},
		priceYearly: {
			type: String,
			default: ''
		},
		isCheckin: {
			type: Boolean,
			required: true
		},
		isShowCheckinDateModal: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			isShowBookingInputCheckinModal: false,
			bookingRedirectionSource: ''
		};
	},

	computed: {
		isKostBenefitAvailable() {
			const kostBenefit = _get(this.$store.state, 'detail.benefit', []);
			return Boolean(kostBenefit.length);
		},
		checkinDate() {
			return _get(this.$store, 'state.params.checkin', '');
		},
		isCheckinDateFirst() {
			return _get(this.$store, 'state.isCheckinDateFirst', false);
		},
		disabledChat() {
			return this.$store.state.extras.disabledChat;
		},
		authCheck() {
			return this.$store.state.authCheck;
		},
		isBooking() {
			return this.$store.state.detail.is_booking || false;
		},
		msgTracking() {
			return `track-message ${this.$store.state.detail.msg_tracking}`;
		},
		priceDefault() {
			if (this.priceMonthly && this.priceMonthly !== '0') {
				return this.priceCardInfo.price.price_monthly;
			} else if (this.priceSemiannually && this.priceSemiannually !== '0') {
				return this.priceCardInfo.price.price_semiannually;
			} else if (this.priceYearly && this.priceYearly !== '0') {
				return this.priceCardInfo.price.price_yearly;
			} else if (this.priceDaily && this.priceDaily !== '0') {
				return this.priceCardInfo.price.price_daily;
			} else if (this.priceWeekly && this.priceWeekly !== '0') {
				return this.priceCardInfo.price.price_weekly;
			} else if (this.priceQuarterly && this.priceQuarterly !== '0') {
				return this.priceCardInfo.price.price_quarterly;
			}

			return this.priceCardInfo.price.price_monthly;
		},
		priceFooterFormated() {
			return this.priceDefault.discount_price
				? `Rp ${this.priceDefault.discount_price} / ${this.priceDefault.rent_type_unit}`
				: `Rp ${this.priceDefault.price} / ${this.priceDefault.rent_type_unit}`;
		},
		otherDiscount() {
			if (!this.priceDefault.discount_price) {
				let otherDiscountText = '';
				const sequence = [
					'price_monthly',
					'price_semiannually',
					'price_yearly',
					'price_daily',
					'price_weekly',
					'price_quarterly'
				];

				for (let i = 0; i < sequence.length; i++) {
					const discountData = this.priceCardInfo.price[sequence[i]];
					if (discountData && discountData.discount) {
						otherDiscountText = `Diskon ${discountData.discount} untuk sewa ${discountData.rent_type_unit}an`;
						break;
					}
				}
				return otherDiscountText;
			} else {
				return '';
			}
		},
		isBookingDisabled() {
			return (
				this.priceDaily !== '0' &&
				this.priceMonthly === '0' &&
				this.priceWeekly === '0' &&
				this.priceYearly === '0' &&
				this.priceQuarterly === '0' &&
				this.priceSemiannually === '0'
			);
		},
		bookingButtonText() {
			return process.env.MIX_BOOKING_BUTTON_TEXT || 'Ajukan Sewa';
		},
		priceDetailData() {
			return _get(this.$store.state, 'priceDetailData', null);
		},
		hasDp() {
			if (!this.priceDetailData) return false;

			const priceKeys = Object.keys(this.priceDetailData);
			if (priceKeys && priceKeys.length >= 1) {
				let hasDp = false;
				priceKeys.forEach(key => {
					const priceData = this.priceDetailData[key];
					if (
						priceData &&
						priceData.down_payment &&
						priceData.down_payment > 0
					) {
						hasDp = true;
					}
				});

				return hasDp;
			}
			return false;
		}
	},

	watch: {
		isShowCheckinDateModal(val) {
			if (val !== this.isShowBookingInputCheckinModal) {
				this.isShowBookingInputCheckinModal = val;
			}
		},
		isShowBookingInputCheckinModal(val) {
			this.$emit('update:isShowCheckinDateModal', val);
		}
	},

	created() {
		this.handleNightValidation();
	},

	methods: {
		openModalPromo() {
			EventBus.$emit('openModalPromo');
		},
		openModalChat() {
			EventBus.$emit('openModalChat');
		},
		openModalPriceEstimation() {
			EventBus.$emit('showPriceEstimationModal', true);
		},
		claimKost() {
			EventBus.$emit('openModalClaim');
		},
		checkinKost() {
			EventBus.$emit('openModalCheckin');
		},
		showBookingInputCheckinModal() {
			this.isShowBookingInputCheckinModal = true;
		},
		setBookingRedirectionSource(redirectionSource = '') {
			this.bookingRedirectionSource = redirectionSource;
		},
		bookingKost(isSendTracker = true, redirectionSource = '') {
			const trackerAttributes = {
				isAvailable: !this.isBookingDisabled,
				isSendTracker
			};
			if (redirectionSource) {
				trackerAttributes.redirectionSource = redirectionSource;
			}
			EventBus.$emit('openBookingKost', trackerAttributes);
			this.isShowBookingInputCheckinModal = false;
		},
		handleBookingFlow() {
			if (this.isCheckinDateFirst) {
				EventBus.$emit('trackClickBooking');
				EventBus.$emit('validateOpenBookingKost', {
					isAvailable: !this.isBookingDisabled,
					callback: this.showBookingInputCheckinModal
				});
				this.trackViewedCalendar();
				this.nightValidation && this.trackTimeWarningExecuted();
			} else {
				this.bookingKost(true);
			}
		},
		handleOnDateSelected() {
			this.$store.commit('setIsOverrideDraftCheckin', true);
		},
		handleCheckinActionButtonClicked() {
			this.trackCheckinActionButtonClicked();
			this.bookingKost(true, this.bookingRedirectionSource || '');
			this.bookingRedirectionSource = '';
		},
		trackCheckinActionButtonClicked() {
			const { detail, authData } = this.$store.state;
			tracker('moe', [
				'[User] Booking - Click Booking on Datepicker',
				{
					property_type: this.detailType || '',
					property_id: _get(detail, '_id', ''),
					property_city: _get(detail, 'area_city', ''),
					property_subdistrict: _get(detail, 'area_subdistrict', ''),
					property_name: _get(detail, 'room_title', ''),
					property_monthly_price: _get(detail, 'price_monthly', 0),
					tenant_name: _get(authData, 'all.name', ''),
					booking_checkin_time: this.checkinDate
						? new Date(this.checkinDate)
						: '',
					goldplus_status: _get(detail, 'level_info.name', ''),
					interface: 'mobile'
				}
			]);
		}
	}
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */

.nav-tabs {
	display: flex;
	border-bottom: 0;

	> li {
		width: 100%;
		text-align: center;

		&:focus {
			outline: none !important;
		}

		> a {
			padding: 1rem 0.5rem;
			color: inherit;
			border-bottom: 1px solid #f2f2f2;

			&:hover,
			&:focus {
				background-color: #fff;
				border: 0;
				outline: none !important;
			}

			&.active {
				font-weight: 700;
				color: #1baa56;
				background-color: #fff;
				border: 0;
				border-bottom: 1px solid #1baa56;
			}
		}
	}
}

.card-price {
	margin: 16px 0;
}

.card-price__amount {
	font-size: 1.5em;
}

.card-price__info {
	margin-top: 0.7rem;

	img {
		width: 24px;
		height: 24px;
		margin-right: 16px;
	}

	.info-electricity {
		margin-right: 1rem;

		> div {
			display: flex;
			align-items: center;
		}
	}

	.info-payment {
		margin-right: 1rem;

		> div {
			display: flex;
			align-items: center;
		}
	}

	.info-dp {
		> div {
			display: flex;
			align-items: center;
		}
	}

	.promo-title {
		display: flex;
		align-items: center;

		img {
			width: 24px;
			height: 24px;
			margin-right: 16px;
		}

		span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;
		}
	}

	.promo-see {
		margin-left: 0.5rem;
		text-decoration-line: underline;

		@media (min-width: 768px) {
			display: none;
		}
	}

	.card-price__icon {
		margin-right: 16px;
	}

	.card-price__item {
		margin-bottom: 16px;
	}
}

.card-price__promo {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.promo-title {
		display: flex;
		align-items: center;

		.promo-icon {
			display: flex;
			align-items: center;
		}

		img {
			width: 24px;
			height: 24px;
			margin-right: 16px;
		}

		span {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.promo-see {
		margin-left: 0.5rem;
		text-decoration-line: underline;

		@media (min-width: 768px) {
			display: none;
		}
	}

	.card-price__icon {
		margin-right: 16px;
	}

	.card-price__item {
		margin-bottom: 16px;
	}
}

.card-price__footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 -3px 6px 0 rgba(172, 165, 165, 0.16);

	@media (min-width: 768px) {
		display: none;
	}

	.card-price__footer-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 16px;
	}

	.footer-discount {
		flex: 0 0 100%;
		padding: 2px 10px;
		margin-top: -0.8rem;
		font-size: 12px;
		color: #fff;
		background-color: #1baa56;
	}

	.footer-discount-original {
		text-decoration: line-through;
	}

	.btn-msg-full,
	.btn-info,
	.btn-primary,
	.btn-warning,
	.btn-disabled {
		display: flex;
		width: 100%;
		height: 40px;
		font-weight: 700;
		align-items: center;
		justify-content: center;

		img {
			height: 1.2em;
			margin-right: 0.5rem;
		}

		&.--disabled {
			background-color: #9e9e9e;
			border-color: #9e9e9e;
		}

		@media (max-width: 320px) {
			padding: 6px;
			font-size: 12px;
		}
	}

	.btn-msg-full {
		height: 100%;

		img {
			height: 1.5em;
			margin-right: 0px;
		}
	}

	&.--is-booking {
		.footer-button {
			display: flex;

			.btn-item-primary {
				margin-right: 16px;
			}
		}
	}
}

.footer-room {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) and (max-width: 991px) {
		justify-content: center;
	}
}

.price-room {
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;

	@media (max-width: 320px) {
		font-size: 12px;
		line-height: 14px;
	}

	@media (min-width: 768px) {
		font-size: 16px;
		line-height: 24px;
	}

	&.--last {
		color: #ec4a0c;
	}

	&.--full {
		color: #7d7d7d;
	}
}

.price-room-sub {
	margin-top: 9px;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;

	@media (max-width: 320px) {
		font-size: 10px;
	}

	img {
		height: 1rem;
	}
}

.footer-button {
	flex-shrink: 0;

	.footer-button__booking {
		position: relative;
		display: flex;
	}
}
</style>
