<template>
	<div id="kostTitleSection" class="kost-title-container">
		<div class="kost-info">
			<div v-if="showHeaderCondition" class="kost-detail">
				<a v-if="isKosAndalan" @click="goToGoldPlusLanding">
					<img
						v-lazy="'/assets/icons/svg/ic_kos_andalan.svg'"
						alt="Singgah sini logo"
						class="kost-detail__kos-logo"
					/>
				</a>
				<a v-else-if="isMamirooms" @click="goToLanding">
					<img
						v-lazy="'/assets/icons/svg/ic_singgah_sini_full.svg'"
						alt="Singgah sini logo"
						class="kost-detail__kos-logo"
					/>
				</a>
			</div>

			<div v-else-if="detailType === 'apartment'" class="kost-detail-apartemen">
				<div class="kost-detail__type">
					<h4 class="kost-type">{{ unitCondition }}</h4>
				</div>
			</div>

			<div class="kost-name">
				<div class="kost-name__box">
					<div class="name-title">
						<div class="name">
							<h1
								:class="[
									'detail-title',
									{
										'--kost-title': isKost
									}
								]"
							>
								<strong>{{ kostName }}</strong>
							</h1>
						</div>

						<div v-if="detailType === 'apartment'" class="apt-address">
							<span>{{ aptAddress }}</span>
						</div>
					</div>
				</div>

				<div v-if="kostClass && !isKosAndalan" class="kost-class">
					<img v-lazy="kostClassBadge" class="kost-class-image" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import mixinContainerKost from '../mixins/MixinContainerKost';

export default {
	mixins: [mixinContainerKost],
	computed: {
		kostName() {
			const detailData = _get(this.$store, 'state.detail');
			if (detailData.is_booking && this.detailType === 'kost') {
				return `${detailData.room_title} ${detailData.unique_code}`;
			}
			return detailData.room_title;
		},
		isKosAndalan() {
			const goldPlusStatus = _get(this.$store.state, 'detail.goldplus', 0);
			return Boolean(goldPlusStatus);
		},
		isKost() {
			return this.detailType === 'kost';
		},
		kosAndalanTitle() {
			return process.env.MIX_GOLDPLUS_TITLE || 'Kos Andalan';
		},
		kostClass() {
			return _get(this.$store, 'state.detail.class', 0);
		},
		kostClassBadge() {
			return _get(this.$store, 'state.detail.class_badge', null);
		},
		unitCondition() {
			return _get(this.$store, 'state.detail.unit_properties.condition', null);
		},
		aptAddress() {
			return _get(this.$store, 'state.detail.project.address', '');
		},
		showHeaderCondition() {
			return this.isKost && (this.isKosAndalan || this.isMamirooms);
		}
	}
};
</script>

<style lang="scss">
@import '../../../sass/rainbow-label.scss';
</style>

<style lang="scss" scoped>
.kost-title-container {
	display: flex;
	padding-right: 0;
	padding-left: 0;
	flex-direction: column;
}

.kost-name {
	@media (max-width: 991px) {
		padding-right: 0;
		padding-left: 0;
	}
}

.kost-detail-apartemen {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.kost-type {
	margin: 0;
	font-size: inherit;
	font-weight: 700;
	line-height: inherit;
}

.kost-detail__label {
	display: flex;
	align-items: center;
	padding: 4px 12px;
	margin-right: 12px;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #303030;
	text-decoration: none;
	border: 1px solid #dadada;
	border-radius: 4px;

	@media (max-width: 767px) {
		padding: 2px 8px;
		font-size: 16px;
		line-height: 24px;
	}
}

.kos-logo {
	width: auto;
	height: 32px;
}

.kost-detail {
	display: flex;
	align-items: center;
	margin-bottom: 12px;

	.kost-detail__type {
		margin-right: 12px;
	}
}

.kost-detail__type {
	margin-right: 16px;
}

.kost-detail__address {
	margin: 0;
	font-size: inherit;
	line-height: inherit;

	span {
		font-weight: 700;
		text-transform: capitalize;
	}
}

.kost-name__box {
	display: flex;
	margin-bottom: 8px;

	img {
		position: absolute;
		right: 1rem;
		height: 3em;

		@media (max-width: 767px) {
			margin-left: 1rem;
		}
		@media (min-width: 768px) {
			margin-left: 2rem;
		}
	}
}

.detail-title {
	margin: 0;
	font-size: 1.4em;
	line-height: inherit;

	@media (max-width: 991px) {
		font-size: 16px;
		line-height: 1.5;
	}
}

.--kost-title {
	font-size: 24px;
	font-weight: 900;
	line-height: 32px;
	color: #303030;

	@media (max-width: 991px) {
		font-size: 18px;
		font-weight: bold;
		line-height: 26px;
	}
}

.kost-status {
	display: flex;
	font-size: 12px;
}

.kost-status__verif {
	display: flex;
	align-items: center;
	margin-right: 1.5rem;

	img {
		width: 0.7em;
		height: 0.7em;
		margin-right: 0.7rem;
	}
}

.kost-class {
	height: 2rem;
	margin-top: 7px;
	margin-bottom: 10px;

	img {
		height: 100%;
	}
}

.apt-address {
	padding: 0;
	margin: 0.5rem 0;
	color: #999;
}
</style>
