<template>
	<modal
		id="modalPromo"
		effect="fade"
		:value="showModal"
		:backdrop="false"
		:small="true"
		@ok="closeModal"
	>
		<div class="promo-content">
			<div class="promo-content__close">
				<span @click="closeModal">&times;</span>
			</div>

			<div class="promo-content__title">
				<label>{{ promoContent.title }}</label>
			</div>

			<div class="promo-content__desc">
				<label>Deskripsi:</label>
				<span>{{ promoContent.content }}</span>
			</div>

			<div class="promo-content__date">
				<label>Periode Promo: </label>
				<span>{{ promoContent.from }} - {{ promoContent.to }}</span>
			</div>

			<div v-if="!authCheck.owner && !isCheckin" class="promo-content__button">
				<button
					type="button"
					class="btn btn-info"
					:class="`${msgTracking} ${msgTracking}-promo`"
					@click="openModalChat"
				>
					<img
						v-lazy="'/general/img/icons/ic_chat.svg'"
						alt="ic_chat"
						title="chat icon"
						:class="`${msgTracking} ${msgTracking}-promo`"
					/>
					<span :class="`${msgTracking} ${msgTracking}-promo`"
						>Hubungi {{ detailTypeName }}</span
					>
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { modal } from 'vue-strap';
import EventBus from '../event-bus';

export default {
	components: {
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		},
		promoContent: {
			type: Object
		},
		isCheckin: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		msgTracking() {
			return `track-message ${this.$store.state.detail.msg_tracking}`;
		}
	},

	methods: {
		closeModal() {
			this.$emit('close', false);
		},
		openModalChat() {
			this.closeModal();

			if (this.authCheck.all) {
				if (this.authCheck.user) {
					EventBus.$emit('openModalChat');
				} else {
					this.swalError(
						null,
						'Silakan logout akun Pemilik dan login akun Pencari terlebih dahulu'
					);
				}
			} else {
				EventBus.$emit('openModalLogin');
			}
		}
	}
};
</script>

<style lang="scss">
.modal-header,
.modal-footer {
	display: none;
}
</style>

<style lang="scss" scoped>
.promo-content__close {
	display: flex;
	justify-content: flex-end;
	margin-top: -1.5rem;
	font-size: 2em;

	span {
		cursor: pointer;
	}
}

.promo-content__title {
	padding-right: 14px;
	margin-top: -3.75rem;
	margin-bottom: 2rem;
	font-size: 1.2em;
}

.promo-content__desc {
	display: flex;
	margin-bottom: 2rem;
	flex-direction: column;
}

.promo-content__date {
	color: #1baa56;
}

.promo-content__button {
	margin-top: 2rem;

	.btn-info {
		display: flex;
		width: 100%;
		font-weight: 700;
		align-items: center;
		justify-content: center;

		img {
			height: 1em;
			margin-right: 0.5rem;
		}
	}
}
</style>
