<template>
	<section class="map-section">
		<div v-if="!isMapShown" class="map-overlay">
			<button
				class="btn btn-default"
				@click="isLimitedContent ? openModalLogin() : initMap()"
			>
				Lihat Peta
			</button>
		</div>

		<div v-else id="detailMap" ref="detailMap" class="map-container"></div>

		<!-- login -->
		<modal-form-login
			v-if="isLimitedContent"
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="closeModalLogin"
		>
		</modal-form-login>
	</section>
</template>

<script>
/* eslint-disable no-undef */
import _get from 'lodash/get';
import EventBus from '../event-bus';

import mixinDetailChat from '../mixins/MixinDetailChat';

/* istanbul ignore next */
const ModalFormLogin = () =>
	import(
		/* webpackChunkName: "detail_ModalFormLogin" */ 'Js/_login/components/ModalFormLogin'
	);

export default {
	components: {
		ModalFormLogin
	},
	mixins: [mixinDetailChat],
	data() {
		return {
			map: {},
			isMapShown: false,
			isMapCalled: false,
			isModalLoginVisible: false,
			modalLoginState: 'default'
		};
	},

	computed: {
		authCheck() {
			return this.$store.state.authCheck;
		},
		osmHost() {
			return osmHost;
		},
		longitude() {
			return Number(this.$store.state.detail.location[0]);
		},
		latitude() {
			return Number(this.$store.state.detail.location[1]);
		},
		latLng() {
			return {
				lat: this.latitude || null,
				lng: this.longitude || null
			};
		},
		subdistrict() {
			return this.$store.state.detail.area_subdistrict || '';
		},
		city() {
			return this.$store.state.detail.area_city || '';
		},
		bigCity() {
			return this.$store.state.detail.area_city_keyword || '';
		},
		fullCityName() {
			const cityNameResult = [];

			this.subdistrict && cityNameResult.push(this.subdistrict);
			this.city && cityNameResult.push(this.city);
			this.bigCity && cityNameResult.push(this.bigCity);

			return cityNameResult.join(', ');
		},
		msgTracking() {
			return `track-message ${this.$store.state.detail.msg_tracking}`;
		},
		msgTrackingRaw() {
			return this.$store.state.detail.msg_tracking || '';
		},
		msgTrackingMap() {
			return `${this.$store.state.detail.msg_tracking}-map`;
		},
		isLimitedContent() {
			return this.$store.state.extras.isLimitedContent;
		}
	},

	methods: {
		initMap() {
			this.isMapShown = true;

			this.$nextTick(() => {
				if (!this.isMapCalled) {
					this.initMapObject();

					this.initMapAttribution();

					this.initMapLayer();

					this.initMapMarkerTooltip();

					this.initMapCustomControl();
				}
			});

			this.sendMapTracker();
		},
		initMapObject() {
			this.isMapCalled = true;

			this.map = L.map('detailMap', {
				center: this.latLng,
				zoom: 16,
				minZoom: 10,
				maxZoom: 18,
				zoomControl: false
			});
		},
		initMapAttribution() {
			this.map.attributionControl.addAttribution(
				'&copy; <a href="https://www.openstreetmap.org">OpenStreetMap</a>'
			);

			this.map.attributionControl.addAttribution(
				'<a href="https://mamikos.com">Mamikos</a>'
			);
		},
		initMapLayer() {
			L.tileLayer(`${this.osmHost}/hot/{z}/{x}/{y}.png`).addTo(this.map);
		},
		initMapMarkerTooltip() {
			const marker = L.circleMarker(this.latLng, {
				color: '#fff',
				fillOpacity: 0.7,
				weight: 1,
				radius: 25,
				fillColor: '#41BA41',
				className: 'marker-unclickable'
			}).addTo(this.map);

			const tooltip = L.tooltip({
				permanent: true,
				direction: 'top',
				interactive: true,
				className: 'detail-map-tooltip'
			});

			if (this.detailType !== 'apartment') {
				tooltip.setContent(`
				<p
					class="text-default ${this.msgTracking} ${this.msgTracking}-map"
				>
					${this.fullCityName}
				</p>
				<p
					class="text-primary ${this.msgTracking} ${this.msgTracking}-map"
				>
					Tanya Alamat
				</p>
			`);
			} else {
				tooltip.setContent(`
				<p
					class="text-default ${this.msgTracking} ${this.msgTracking}-map"
				>
					${this.fullCityName}
				</p>
			`);
			}

			marker.bindTooltip(tooltip).openTooltip();

			const tooltipElem = tooltip.getElement();

			tooltipElem.classList.add('track-message');
			tooltipElem.classList.add(this.msgTrackingRaw);
			tooltipElem.classList.add(this.msgTrackingMap);

			tooltipElem.addEventListener('click', () => {
				this.openModalChat();
			});
		},
		initMapCustomControl() {
			L.control
				.zoom({
					position: 'bottomright'
				})
				.addTo(this.map);

			this.map.scrollWheelZoom.disable();
		},
		openModalChat() {
			EventBus.$emit('sendPretextChat', {
				string: 'Tanya alamat ?',
				for:
					this.detailTypeName === 'Kost'
						? 'kos'
						: this.detailTypeName.toLowerCase()
			});
		},
		openModalLogin() {
			this.isModalLoginVisible = true;
			this.sendMapTracker();
		},
		closeModalLogin() {
			this.isModalLoginVisible = false;
			this.modalLoginState = 'default';
		},
		sendMapTracker() {
			tracker('moe', [
				'[User] Detail Property - Click Lihat Peta',
				{
					is_limitedcontent: this.isLimitedContent,
					is_premium: _get(this.detail, 'is_premium_owner', false),
					is_promoted: _get(this.detail, 'is_promoted', false),
					is_booking: _get(this.detail, 'is_booking', false),
					is_login: this.authCheck.all || null,
					property_type: this.detailTypeName || null,
					property_id: _get(this.detail, 'seq', null),
					property_city: _get(this.detail, 'area_city', null),
					property_name: _get(this.detail, 'room_title', null)
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.marker-unclickable {
	cursor: default;
}

.detail-map-tooltip {
	margin-top: -20px;

	> p {
		margin-bottom: 0;
		font-size: 1.2em;
		text-transform: capitalize;
	}
}
</style>

<style lang="scss" scoped>
.map-section {
	height: 100%;
	width: 100%;
}

.map-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('/general/img/pictures/detail/map-overlay-blurred.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;

	> .btn {
		background: transparent;
		border-color: #fff;
		color: #fff;
		width: 13rem;
	}
}

.map-container {
	height: 100%;
	width: 100%;
}
</style>
