<template>
	<div id="detailVideo" class="video-container">
		<youtube
			v-if="youtubeId !== null || tourId !== null"
			:video-id="tourId ? tourId : youtubeId"
			ref="youtube"
		/>
	</div>
</template>

<script>
import VueYoutube from 'vue-youtube';
import EventBus from '../event-bus';

export default {
	components: {
		VueYoutube
	},

	data() {
		return {
			tourId: null
		};
	},

	computed: {
		youtubeId() {
			return this.$store.state.detail.youtube_id || null;
		}
	},

	mounted() {
		this.assignVideoTourId();
		this.pauseYoutubeVideo();
	},

	methods: {
		assignVideoTourId() {
			EventBus.$on('videoTour', payload => {
				this.tourId = this.$youtube.getIdFromUrl(payload);
			});
		},
		pauseYoutubeVideo() {
			EventBus.$on('pauseVideo', payload => {
				if (!payload) this.$refs.youtube.player.pauseVideo();
			});
		}
	}
};
</script>

<style lang="scss">
#detailVideo {
	iframe {
		height: 100%;
		height: -webkit-fill-available;
		width: 100%;
	}
}
</style>

<style lang="scss" scoped>
.video-container {
	height: 100%;
}
</style>
