<template>
	<section class="detail-small-carousel">
		<div
			v-for="(card, index) in slideGallery"
			:key="index"
			:class="[
				'detail-small-carousel__img-wrapper',
				{ 'detail-small-carousel__img-wrapper--active': activeSlide === index }
			]"
			@click="updateSlide(index)"
		>
			<img
				v-lazy="{
					src: card.photo_url.large,
					error: '/general/img/pictures/placeholder/placeholder_loading.svg',
					loading: card.photo_url.small
				}"
				class="detail-small-carousel__img"
				:src="card.photo_url.large"
				:alt="`${card.category_title} - Mamikos`"
				:title="card.category_title"
			/>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		slideGallery: {
			type: Array,
			required: true
		},
		activeSlide: {
			type: Number,
			required: true
		},
		updateSlide: {
			type: Function,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
* {
	box-sizing: border-box;
}

.detail-small-carousel {
	display: flex;
	width: 100%;
	min-height: 120px;
	padding: 24px 0 0;
	margin: 0 auto;
	align-items: center;
	justify-content: center;

	@media (max-width: 991px) {
		min-height: 104px;
	}

	@media (max-width: 767px) {
		position: fixed;
		bottom: 0;
		width: 100%;
		min-height: 64px;
		padding: 0;
		overflow: auto;
	}

	.detail-small-carousel__img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 144px;
		height: 100%;
		overflow: hidden;
		background: #ecf0f1;
		opacity: 0.4;

		&:not(:first-child) {
			margin-left: 16px;
		}

		@media (max-width: 991px) {
			width: 120px;
			height: 80px;
		}

		@media (max-width: 767px) {
			width: 96px;
			flex-shrink: 0;
			height: 64px;
			border: 2px solid #000;
			opacity: 1;

			&:not(:first-child) {
				margin-left: 0;
			}
		}

		&:hover {
			opacity: 1;
		}

		.detail-small-carousel__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
		}

		&.detail-small-carousel__img-wrapper--active {
			border: 2px solid #000;
			opacity: 1;

			@media (max-width: 767px) {
				border: 2px solid #fff;
			}
		}
	}
}
</style>
