<template>
	<header class="container detail-header">
		<div class="detail-header__content">
			<detail-photo
				v-show="toggleStatus.isPhoto"
				@toggleLoginModal="$emit('toggle-login-modal')"
			></detail-photo>

			<detail-photo-360
				v-if="toggleStatus.is360 && !toggleStatus.isTour"
			></detail-photo-360>

			<detail-video v-show="toggleStatus.isVideo"></detail-video>

			<detail-photo-tour
				v-show="toggleStatus.isTour"
				:is-tour="toggleStatus.isTour"
			></detail-photo-tour>
		</div>
		<div v-if="hasMedia" class="detail-header__switcher">
			<detail-gallery-switcher></detail-gallery-switcher>
		</div>
	</header>
</template>

<script>
import EventBus from '../event-bus';
import _get from 'lodash/get';
import DetailPhoto from './DetailPhoto';
import DetailPhoto360 from './DetailPhoto360';
import DetailVideo from './DetailVideo';
import DetailPhotoTour from './DetailPhotoTour';
import DetailGallerySwitcher from './DetailGallerySwitcher';

export default {
	components: {
		DetailPhoto,
		DetailPhoto360,
		DetailVideo,
		DetailPhotoTour,
		DetailGallerySwitcher
	},
	props: {
		hasMedia: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			toggleStatus: {
				isPhoto: true,
				isMap: false,
				is360: false,
				isVideo: false,
				isTour: false
			}
		};
	},
	computed: {
		photoGallery() {
			return _get(this.$store, 'state.detail.cards', []);
		}
	},
	watch: {
		toggleStatus: {
			deep: true,
			handler(val) {
				if (val.is360) {
					EventBus.$emit('pause360', val.is360);
				} else if (val.isVideo) {
					EventBus.$emit('pauseVideo', val.isVideo);
				}
			}
		}
	},
	mounted() {
		this.listenGallerySwitcher();
	},
	methods: {
		handleMoEngage(media) {
			let mediaName = null;
			switch (media) {
				case 'isPhoto':
					mediaName = 'Photo';
					break;
				case 'is360':
					mediaName = 'Photo 360';
					break;
				case 'isVideo':
					mediaName = 'Video Tour';
					break;
				case 'isTour':
					mediaName = 'Video Tour';
					break;
				default:
					mediaName = 'Photo';
			}
			tracker('moe', [
				'Gallery Tab Clicked',
				{
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					tab_name: mediaName,
					is_owner: _get(authCheck, 'owner', null),
					user_id: _get(authData, 'all.id', null)
				}
			]);
		},
		setActiveToggler(media) {
			this.handleMoEngage(media);
			const toggleCopy = this.toggleStatus;
			Object.keys(toggleCopy).forEach(function(key) {
				toggleCopy[key] = key === media;
			});
			window.scrollTo({ top: 0, behavior: 'smooth' });
		},
		listenGallerySwitcher() {
			EventBus.$on('switchPhoto', payload => {
				this.setActiveToggler('isPhoto');
			});

			EventBus.$on('switchMap', payload => {
				this.setActiveToggler('isMap');
			});

			EventBus.$on('switch360', payload => {
				this.setActiveToggler('is360');
			});

			EventBus.$on('switchVideo', payload => {
				this.setActiveToggler('isVideo');
			});

			EventBus.$on('switchTour', payload => {
				this.setActiveToggler('isTour');
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.detail-header {
	position: relative;
	height: 100%;
	padding-top: 15px;

	@media (max-width: 991px) {
		padding: 15px 30px 0;
	}

	@media (max-width: 767px) {
		padding: 0;
	}

	.detail-header__switcher {
		height: auto;
		overflow: auto;

		@media (max-width: 767px) {
			padding: 0 16px;
			background: #fff;
		}
	}

	.detail-header__content {
		height: 420px;
		overflow: hidden;

		@media (max-width: 1199px) {
			height: calc(0.75 * 345px);
		}

		@media (max-width: 767px) {
			height: 75vw;
		}

		@media (max-width: 576px) {
			border-radius: 0;
		}
	}
}
</style>
