<template>
	<modal
		id="modalChat"
		effect="fade"
		:value="showModal"
		:backdrop="true"
		:small="true"
		@closed="closeModal"
	>
		<form class="modal-chat" @submit.prevent="sendChat('modal')">
			<div class="modal-chat__close">
				<span @click="closeModal">&times;</span>
			</div>

			<div class="modal-chat__title">
				<span>Hubungi {{ detailTypeName }}</span>
			</div>

			<div class="modal-chat__caption">
				Anda akan terhubung dengan pemilik langsung melalui chatroom mamikos
			</div>

			<div class="modal-chat__question">
				<label>Pilih Pertanyaan</label>

				<div class="wrapper-question">
					<radio
						v-for="(question, i) in questions"
						:key="i"
						v-model="selectedQuestionId"
						:selected-value="question.id"
						type="primary"
					>
						{{ question.question }}
					</radio>
				</div>
			</div>

			<div class="modal-chat__question modal-chat__agreement">
				<p>
					Dengan mengirim pesan, anda menyetujui untuk berkomunikasi dengan
					pemilik hanya melalui chatroom mamikos untuk melindungi pengguna kami.
					<a
						href="https://help.mamikos.com/syarat-dan-ketentuan/?category=pemilik-dan-penghuni&subCategory=syarat-dan-ketentuan-umum&slug=syarat-dan-ketentuan-umum"
					>
						Lihat Syarat & Ketentuan.
					</a>
				</p>
			</div>

			<div class="modal-chat__button">
				<button
					v-if="selectedQuestion.button === 'booking' && bookingAvailable"
					type="button"
					class="btn btn-primary btn-modal-chat"
					@click="bookingKost"
				>
					{{ bookingButtonText }}
				</button>

				<button
					v-else
					type="submit"
					class="btn btn-primary btn-modal-chat"
					:class="msgTrackingSubmit"
				>
					Kirim
				</button>
			</div>
		</form>
	</modal>
</template>

<script>
import { modal, radio } from 'vue-strap';
import _get from 'lodash/get';

import mixinDetailChat from '../mixins/MixinDetailChat';

import EventBus from '../event-bus';

export default {
	components: {
		modal,
		radio
	},

	mixins: [mixinDetailChat],

	props: {
		priceMonthly: {
			type: String,
			required: true
		},
		priceDaily: {
			type: String,
			default: ''
		},
		priceWeekly: {
			type: String,
			default: ''
		},
		priceQuarterly: {
			type: String,
			default: ''
		},
		priceSemiannually: {
			type: String,
			default: ''
		},
		priceYearly: {
			type: String,
			default: ''
		}
	},

	data() {
		return {
			showModal: false
		};
	},

	computed: {
		msgTrackingSubmit() {
			return `${_get(this.$store, 'state.detail.msg_tracking')}-submit`;
		},
		isBooking() {
			return _get(this.$store, 'state.detail.is_booking', false);
		},
		availableRoomRaw() {
			return _get(this.$store, 'state.detail.available_room', 0);
		},
		availableRoom() {
			return this.availableRoomRaw;
		},
		bookingAvailable() {
			return this.isBooking && this.availableRoom > 0;
		},
		isBookingDisabled() {
			return (
				this.priceDaily !== '0' &&
				this.priceMonthly === '0' &&
				this.priceWeekly === '0' &&
				this.priceYearly === '0' &&
				this.priceQuarterly === '0' &&
				this.priceSemiannually === '0'
			);
		},
		bookingButtonText() {
			return process.env.MIX_BOOKING_BUTTON_TEXT || 'Ajukan Sewa';
		}
	},

	created() {
		this.assignSelectedQuestion(null);
	},

	methods: {
		bookingKost() {
			EventBus.$emit('openBookingKost', {
				isAvailable: !this.isBookingDisabled,
				redirectionSource: 'pretext'
			});
		}
	}
};
</script>

<style lang="scss">
.open {
	> .dropdown-menu {
		width: 100%;
	}
}
.modal-header,
.modal-footer {
	display: none;
}

.radio {
	margin-bottom: 15px;

	.icon {
		margin-top: 5px;
	}
}
</style>

<style lang="scss" scoped>
.btn-group {
	width: 100%;
}

.modal-chat__close {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
	margin-top: -1.5rem;
	color: #888;

	span {
		cursor: pointer;
	}
}

.modal-chat__title {
	display: flex;
	font-weight: 700;
	font-size: 1.2em;
	margin-top: -1.5rem;
}

.modal-chat__caption {
	background-color: #ddf2e6;
	padding: 15px;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 15px;
	color: #1baa56;
	font-size: 12px;
	line-height: 1.4;
}

.modal-chat__question {
	margin-top: 2rem;
}

.modal-chat__agreement {
	color: #999;
	font-size: 12px;
	padding-top: 15px;
	border-top: 1px #f4f4f4 solid;
	line-height: 1.4;
}

.modal-chat__tel {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;

	.input-phone {
		margin-top: 1.5rem;
	}
}

.modal-chat__button {
	margin-top: 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		width: 100%;
		font-weight: 700;
	}
}

.btn-modal-chat {
	padding: 10px;
}

.wrapper-question {
	height: 20rem;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fafafa;
	padding: 1rem 1rem 0rem 1rem;
	box-shadow: inset 0px -9px 14px -5px rgba(94, 94, 94, 0.48);
	margin-top: 1rem;
}
</style>
