<template>
	<div id="detailPhoto360" class="photo360-container"></div>
</template>

<script>
import EventBus from '../event-bus';

export default {
	data() {
		return {
			viewer: {},
			viewerLoaded: false
		};
	},

	computed: {
		photo360() {
			return this.$store.state.detail.photo_360 || null;
		}
	},

	mounted() {
		this.initViewer();

		this.pauseViewer();
	},

	methods: {
		initViewer() {
			this.viewer = new PhotoSphereViewer({
				container: 'detailPhoto360',
				panorama: this.photo360.large,
				navbar: ['autorotate', 'zoom', 'caption', 'fullscreen'],
				loading_txt: 'Memuat...',
				mousewheel: false
			});
		},

		pauseViewer() {
			EventBus.$on('pause360', payload => {
				if (!payload) this.viewer.stopAutorotate();
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.photo360-container {
	height: 100%;
}
</style>
