<template>
	<div>
		<booking-request-app
			v-if="isBookingRequestProcess && is_booking"
		></booking-request-app>
		<detail-app v-show="!isBookingRequestProcess"></detail-app>
	</div>
</template>

<script>
import BookingRequestApp from '../../_booking/request/components/App.vue';
import DetailApp from './App.vue';

export default {
	components: {
		DetailApp,
		BookingRequestApp
	},
	data: function() {
		return {
			// eslint-disable-next-line no-undef
			is_booking: detail.is_booking
		};
	},
	computed: {
		isBookingRequestProcess() {
			return this.$route.meta.booking_request;
		}
	}
};
</script>
