<template>
	<div id="detailPhotoTour" class="photo-tour-container">
		<iframe
			width="640"
			height="360"
			frameborder="0"
			allowfullscreen
			allow="vr"
			:src="iframeSource"
			v-if="matterportId !== null"
		></iframe>
	</div>
</template>

<script>
export default {
	props: {
		isTour: {
			type: Boolean,
			required: false
		}
	},
	computed: {
		matterportId() {
			return this.$store.state.detail.matterport_id || null;
		},
		iframeSource() {
			return this.isTour
				? 'https://my.matterport.com/show/?m=' +
						this.matterportId +
						'&hl=1&play=1'
				: '';
		}
	}
};
</script>

<style lang="scss">
#detailPhotoTour {
	iframe {
		height: 100%;
		height: -webkit-fill-available;
		width: 100%;
	}
}
</style>

<style lang="scss" scoped>
.photo-tour-container {
	height: 100%;
}
</style>
