<template>
	<div id="detailCarouselContainer">
		<div class="detail-carousel-header">
			<span class="detail-carousel-header__description">{{ activeDesc }}</span>
			<div
				slot="pagination"
				class="detail-carousel-header__navigation-info"
			></div>
			<span class="detail-carousel-header__close" @click="closeCarousel">
				<bg-icon name="close" size="md" />
			</span>
		</div>
		<div class="detail-carousel-content">
			<swiper
				ref="swiperTop"
				:options="swiperOptionTop"
				class="detail-carousel-content__gallery"
				@slideChange="updateIndex"
			>
				<swiper-slide
					v-for="(card, index) in carouselGalleryPhoto"
					:key="index"
				>
					<div class="detail-carousel-content__gallery-container">
						<img
							:data-src="card.photo_url.large"
							src="/general/img/pictures/placeholder/placeholder_loading.svg"
							class="swiper-lazy detail-carousel-content__gallery-img"
						/>
					</div>
					<div class="swiper-lazy-preloader">
						<img
							class="swiper-lazy-placeholder"
							src="/general/img/pictures/placeholder/placeholder_loading.svg"
						/>
					</div>
				</swiper-slide>
				<template v-if="carouselGalleryPhoto.length > 1">
					<div
						slot="button-prev"
						class="detail-carousel-content__nav-prev swiper-arrow"
					>
						<bg-icon name="chevron-left" size="md" />
					</div>
					<div
						slot="button-next"
						class="detail-carousel-content__nav-next swiper-arrow"
					>
						<bg-icon name="chevron-right" size="md" />
					</div>
				</template>
			</swiper>
			<swiper
				v-if="!isSmallNumber"
				ref="swiperThumbs"
				:options="swiperOptionThumbs"
				class="detail-carousel-content__thumbnail"
			>
				<swiper-slide
					v-for="(card, index) in carouselGalleryPhoto"
					:key="index"
					:ref="`swiperSlideRef${index + 1}`"
					class="detail-carousel-content__thumbnail-item"
				>
					<div class="detail-carousel-content__thumbnail-container">
						<img
							:src="card.photo_url.large"
							class="detail-carousel-content__thumbnail-img"
							:alt="`${card.category_title} - Mamikos`"
							:title="card.category_title"
						/>
					</div>
				</swiper-slide>
			</swiper>
			<detail-small-carousel
				v-else
				:slide-gallery="carouselGalleryPhoto"
				:active-slide="activeSlide"
				:update-slide="updateSlide"
			/>
		</div>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import 'bangul-vue/dist/bangul.css';
import _get from 'lodash/get';
import { BgIcon } from 'bangul-vue';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import DetailSmallCarousel from './DetailSmallCarousel';

export default {
	components: {
		swiper,
		BgIcon,
		swiperSlide,
		DetailSmallCarousel
	},

	props: {
		carouselGalleryPhoto: {
			type: Array,
			required: true
		},
		initialState: {
			type: [String, Number],
			required: true
		}
	},

	data() {
		return {
			activeSlide: 0,
			activeDesc: '',
			swiperOptionTop: {
				lazy: true,
				loop: true,
				loopedSlides: 5,
				initialSlide: 0,
				navigation: {
					nextEl: '.detail-carousel-content__nav-next',
					prevEl: '.detail-carousel-content__nav-prev'
				},
				keyboard: {
					enabled: true
				},
				pagination: {
					el: '.detail-carousel-header__navigation-info',
					type: 'fraction'
				}
			},
			swiperOptionThumbs: {
				lazy: true,
				spaceBetween: 12,
				slidesPerView: 5,
				initialSlide: 0,
				touchRatio: 0.2,
				loop: true,
				loopedSlides: 5,
				slideToClickedSlide: true
			}
		};
	},

	computed: {
		isSmallNumber() {
			return window.innerWidth <= 500
				? this.carouselGalleryPhoto.length < 4
				: this.carouselGalleryPhoto.length < 6;
		},
		isKost() {
			return this.detailType.toLowerCase() === 'kost';
		}
	},

	created() {
		this.checkInitialSlide();

		if (this.navigator.isMobile) {
			this.swiperOptionThumbs.spaceBetween = 0;
		}

		if (window.innerWidth <= 500) {
			this.swiperOptionThumbs.slidesPerView = 4;
		}

		if (this.carouselGalleryPhoto.length === 1) {
			this.swiperOptionTop.loop = false;
			this.swiperOptionTop.keyboard.enabled = false;
			this.swiperOptionTop.simulateTouch = false;
		}

		window.addEventListener('keydown', this.handleKeyDown);
	},

	destroyed() {
		window.removeEventListener('keydown', this.handleKeyDown);
	},

	mounted() {
		this.$nextTick(() => {
			const swiperTop = this.$refs.swiperTop.swiper;

			if (!this.isSmallNumber) {
				const swiperThumbs = this.$refs.swiperThumbs.swiper;
				swiperTop.controller.control = swiperThumbs;
				swiperThumbs.controller.control = swiperTop;
			}
		});
	},

	methods: {
		handleKeyDown(e) {
			if (e.keyCode === 27) {
				this.closeCarousel();
			}
		},
		setSliderData(index) {
			this.swiperOptionTop.initialSlide = index;
			this.swiperOptionThumbs.initialSlide = index;
			this.activeSlide = index;
			this.activeDesc = _get(
				this.carouselGalleryPhoto,
				`[${index}].category_title`,
				''
			);
		},
		checkInitialSlide() {
			const slideData = this.carouselGalleryPhoto.filter(
				card => card.type === 'image' || card.type === 'style_photo'
			);

			let slideIndex = 0;

			if (typeof this.initialState === 'string') {
				const imageIndex = slideData.findIndex(
					slide => slide.photo_url.large === this.initialState
				);

				if (slideIndex !== -1) slideIndex = imageIndex;
			} else {
				slideIndex = this.initialState;
			}

			this.setSliderData(slideIndex);
		},
		updateIndex() {
			const swiper = this.$refs.swiperTop.swiper;
			const activeIndex = swiper.realIndex;
			this.activeSlide = activeIndex;
			this.activeDesc = _get(
				this.carouselGalleryPhoto,
				`[${activeIndex}].category_title`,
				''
			);
		},
		updateSlide(index) {
			const swiperTop = this.$refs.swiperTop.swiper;
			swiperTop.slideTo(index);
		},
		closeCarousel() {
			this.$emit('close-carousel', this.activeSlide);
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#detailCarouselContainer {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	background-color: #fff;
	outline: 0;

	@media (max-width: 767px) {
		background: #000;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;

		.detail-carousel-content__gallery-container {
			position: relative;
			width: 100%;
			max-width: 1012px;
			height: 100%;
			overflow: hidden;
			background: none;

			img[src='/general/img/pictures/placeholder/placeholder_loading.svg'] {
				display: none;
			}

			.detail-carousel-content__gallery-img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: auto;
				height: 100%;
				object-fit: contain;
				transform: translate(-50%, -50%);
				cursor: pointer;

				@media (max-width: 767px) {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			.swiper-lazy {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.detail-carousel-content__thumbnail-container {
			display: flex;
			height: 100%;

			.detail-carousel-content__thumbnail-img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
		}
	}

	.swiper-lazy-preloader {
		background: none;
		background-image: none;
		animation: none;

		.swiper-lazy-placeholder {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 200px;
			height: auto;
			transform: translate(-50%, -50%);
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.detail-carousel-header {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1012px;
	height: 64px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1050px) {
		max-width: calc(100% - 80px);
	}

	@media (max-width: 767px) {
		max-width: none;
		height: 60px;
		padding: 0 16px;
		flex-direction: row-reverse;
		justify-content: flex-start;
	}

	.detail-carousel-header__description {
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		color: #303030;

		@media (max-width: 767px) {
			display: block;
			width: 100%;
			margin-right: 68px;
			margin-left: 16px;
			overflow: hidden;
			font-size: 16px;
			line-height: 24px;
			color: #fff;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.detail-carousel-header__navigation-info {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		font-size: 16px;
		font-weight: bold;
		line-height: 100%;
		color: #404040;
		transform: translate(-50%, -50%);

		@media (max-width: 767px) {
			right: 16px;
			left: auto;
			font-size: 14px;
			font-weight: normal;
			line-height: 20px;
			color: #fff;
			transform: translate(0, -50%);
		}
	}

	.detail-carousel-header__close {
		line-height: 100%;
		cursor: pointer;

		@media (max-width: 767px) {
			color: #fff;
		}
	}
}

.detail-carousel-content {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	width: 100vw;
	height: calc(100vh - 128px);
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);

	@media (max-width: 767px) {
		justify-content: flex-start;
		top: 60px;
		left: auto;
		height: calc(100vh - 60px);
		transform: none;
	}

	.detail-carousel-content__gallery {
		width: 100%;
		height: 100%;
		max-height: 560px;

		@media (max-width: 767px) {
			position: fixed;
			top: 50%;
			left: 50%;
			height: calc(100% - 124px);
			padding: 30px 0 50px;
			transform: translate(-50%, -50%);
		}
	}

	.detail-carousel-content__thumbnail {
		width: 768px;
		min-height: 120px;
		padding: 24px 0 0;

		@media (max-width: 991px) {
			width: 648px;
			min-height: 104px;
		}

		@media (max-width: 767px) {
			position: fixed;
			bottom: 0;
			width: 100%;
			min-height: 64px;
			padding: 0;
		}

		.detail-carousel-content__thumbnail-item {
			position: relative;
			width: 144px !important;
			height: 96px;
			overflow: hidden;
			cursor: pointer;
			background-color: #999;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}

			@media (max-width: 991px) {
				width: 120px !important;
				height: 80px;
			}

			@media (max-width: 767px) {
				width: 20% !important;
				height: 64px;
				border: 2px solid #000;
				opacity: 1;
			}

			@media (max-width: 500px) {
				width: 25% !important;
			}
		}

		.swiper-slide-active {
			border: 2px solid #000;
			opacity: 1;

			@media (max-width: 767px) {
				border: 2px solid #fff;
			}
		}
	}
}

.detail-carousel-content__nav-prev,
.detail-carousel-content__nav-next {
	position: absolute;
	z-index: 1;
	display: flex;
	width: 48px;
	height: 48px;
	background-color: #fff;
	background-image: none;
	justify-content: center;
	align-items: center;
	border: 1px solid #dadada;
	border-radius: 24px;
	box-shadow: 0 -2px 40px rgba(0, 0, 0, 0.04), 0 16px 40px rgba(0, 0, 0, 0.06);

	@media (max-width: 767px) {
		display: none;
	}
}

.detail-carousel-content__nav-prev {
	top: 50%;
	left: calc(50% - 546px);
	transform: translate(-50%, -50%);

	@media (max-width: 1200px) {
		left: 40px;
		transform: translate(0, -50%);
	}
}

.detail-carousel-content__nav-next {
	top: 50%;
	left: calc(50% + 546px);
	transform: translate(-50%, -50%);

	@media (max-width: 1200px) {
		right: 40px;
		left: auto;
		transform: translate(0, -50%);
	}
}
</style>
