<template>
	<modal
		id="modalCheckin"
		effect="fade"
		:value="showModal"
		:backdrop="true"
		:small="true"
		@ok="closeModal"
	>
		<div class="checkin-container">
			<div class="checkin-close">
				<span @click="closeModal">&times;</span>
			</div>

			<div class="checkin-content">
				<label>Saya mulai kost di sini sejak:</label>
				<datepicker v-model="checkinDate" :format="formatDate"></datepicker>
			</div>

			<div class="checkin-action">
				<button type="button" class="btn btn-info" @click="sendCheckinKost">
					<span>Submit</span>
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
import { datepicker, modal } from 'vue-strap';
import EventBus from '../event-bus';

export default {
	components: {
		datepicker,
		modal
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			checkinDate: '',
			formatDate: 'yyyy-MM-dd'
		};
	},

	created() {
		this.assignDefaultDate();
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		assignDefaultDate() {
			const today = new Date();
			if (today.getMonth() < 10) {
				this.checkinDate =
					today.getFullYear() +
					'-0' +
					(today.getMonth() + 1) +
					'-' +
					today.getDate();
			} else {
				this.checkinDate =
					today.getFullYear() +
					'-' +
					(today.getMonth() + 1) +
					'-' +
					today.getDate();
			}
		},
		sendCheckinKost() {
			EventBus.$emit('sendCheckinKost', this.checkinDate);
		}
	}
};
</script>

<style lang="scss" scoped>
.checkin-container {
	.checkin-close {
		display: flex;
		justify-content: flex-end;
		font-size: 2em;
		margin-top: -1.5rem;

		span {
			cursor: pointer;
		}
	}

	.checkin-content {
		label {
			margin-bottom: 1.5rem;
		}
	}

	.checkin-action {
		margin-top: 2rem;

		.btn-info {
			width: 100%;
			font-weight: 700;
		}
	}
}
</style>
