<template>
	<modal id="modalReport" effect="fade" :value="showModal" :backdrop="false">
		<form class="modal-promo" @submit.prevent="sendReport">
			<div class="modal-promo__close">
				<span @click="closeModal">&times;</span>
			</div>

			<div class="modal-promo__title">
				<span>Laporkan {{ detailTypeName }}</span>
			</div>

			<div class="row modal-promo__body">
				<div class="col-xs-12 col-sm-6 group">
					<button-group :buttons="false" v-model="report.type">
						<checkbox
							v-for="(reportType, i) in reportTypes"
							:true-value="reportType.type"
							:type="'primary'"
							:key="i"
							v-if="i < reportTypes.length - 1"
						>{{ reportType.name }}</checkbox>
					</button-group>
				</div>

				<div class="col-xs-12 col-sm-6 group">
					<label for="reportArea">Laporkan lebih detail di sini</label>
					<textarea
						id="reportArea"
						class="form-control"
						placeholder="Tulis lebih detail tentang laporan Anda"
						maxlength="300"
						v-model="report.description"
					></textarea>

					<button
						class="btn btn-info"
						:disabled="
							report.type.length === 0 && report.description.trim() === ''
						"
					>Kirim Laporan</button>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
import { modal, buttonGroup, checkbox } from 'vue-strap';

export default {
	components: {
		modal,
		buttonGroup,
		checkbox
	},

	props: {
		showModal: {
			type: Boolean,
			required: true,
			default: false
		}
	},

	data() {
		return {
			report: {
				type: [],
				description: ''
			}
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},
		seq() {
			return this.$store.state.detail.seq;
		},
		reportTypes() {
			return this.$store.state.detail.report_types;
		},
		authData() {
			return this.$store.state.authData;
		},
		detail() {
			return this.$store.state.detail;
		},
		detailTypeName() {
			return this.$store.state.detailTypeName;
		}
	},

	methods: {
		closeModal() {
			this.$emit('close', false);
		},
		sendReport() {
			this.closeModal();

			this.openSwalLoading();

			axios
				.post(`/stories/${this.seq}/flag`, {
					_token: this.token,
					report_type: this.report.type,
					report_description: this.report.description
				})
				.then(response => {
					this.closeSwalLoading();

					if (response.data.status) {
						this.swalSuccess(null, 'Laporan Anda berhasil dikirim', null);
					} else {
						this.swalError(null, response.data.meta.message);
					}

					tracker('moe', [
						'[User] Submit Report',
						{
							user_id: this.authData.all.id,
							is_booking: this.detail.is_booking
								? this.detail.is_booking
								: false,
							is_premium: this.detail.is_premium_owner
								? this.detail.is_premium_owner
								: false,
							is_promoted: this.detail.is_promoted
								? this.detail.is_promoted
								: false,
							success_status: response.data.status,
							property_type: this.detailTypeName ? this.detailTypeName : null,
							property_id: this.seq ? this.seq : null,
							property_city: this.detail.area_city
								? this.detail.area_city
								: null,
							property_name: this.detail.room_title
								? this.detail.room_title
								: null
						}
					]);
				})
				.catch(error => {
					this.closeSwalLoading();

					bugsnagClient.notify(error);

					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.modal-promo__close {
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
	margin-top: -1.5rem;

	span {
		cursor: pointer;
	}
}

.modal-promo__title {
	color: #ec4a0c;
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 1.2em;
	margin-top: -3rem;
}

.modal-promo__body {
	margin-top: 2rem;

	> .group {
		&:first-child {
			@media (max-width: 767px) {
				height: 200px;
			}
		}

		@media (min-width: 768px) {
			height: 250px;
		}

		textarea {
			resize: none;
			height: 150px;
		}

		.btn {
			margin-top: 20px;
			width: 100%;
		}
	}
}
</style>
