<template>
	<div class="remaining-room">
		<label class="rainbow-label" :class="[activeGender.class]">{{
			activeGender.text
		}}</label>
	</div>
</template>

<script>
export default {
	data() {
		return {
			genders: [
				{
					text: 'Campur',
					class: '--purple'
				},
				{
					text: 'Putra',
					class: '--blue'
				},
				{
					text: 'Putri',
					class: '--pink'
				}
			]
		};
	},
	props: {
		genderId: {
			type: Number,
			required: true
		}
	},
	computed: {
		activeGender() {
			return this.genders[this.genderId];
		}
	}
};
</script>