`<template>
	<h4 class="text-normalize last-update-text">
		Terakhir update {{ updatedDateFormatted }}
	</h4>
</template>

<script>
export default {
	props: {
		updatedDate: {
			type: String,
			required: true
		}
	},

	computed: {
		updatedDateFormatted() {
			return this.$dayjs(this.updatedDate)
				.locale('id')
				.format('D MMMM YYYY');
		}
	}
};
</script>

<style lang="scss" scoped>
.last-update-text {
	margin-bottom: 0.7rem;
	font-size: 12px;
	font-weight: 500;

	@media (max-width: 767px) {
		font-size: 12px;
	}
}
</style>
