<template>
	<div class="rating">
		<div class="rating-star">
			<star-rating :rating="rating" />
		</div>
		<div class="rating-text">{{ parseFloat(rating).toFixed(1) }}</div>
	</div>
</template>

<script>
import StarRating from 'Js/@components/StarRating';

export default {
	components: {
		StarRating
	},
	props: {
		rating: {
			type: Number,
			required: true
		},
		maxRating: {
			type: Number,
			required: false,
			default: 4
		}
	}
};
</script>

<style lang="scss">
$green: #1baa56;
$grey: #dbdbdb;

.rating {
	display: flex;
	align-items: center;
	margin-bottom: 12px;

	&-star {
		margin-right: 8px;

		.glyphicon {
			margin-right: 4px;

			&.--green {
				color: $green;
			}

			&.--grey {
				color: $grey;
			}
		}
	}

	&-text {
		color: $green;
		font-weight: bold;
	}

	@media (max-width: 360px) {
		&-text,
		.glyphicon {
			font-size: 12px;
		}
	}
}
</style>
