<template>
	<div>
		<div
			class="image-user"
			v-lazy:background-image="{
				src: $store.state.userProfile.photo.medium,
				error: '/general/img/pictures/default-user-image.png'
			}"
		>
			<input class="inputfile" type="file" name="file" id="file-photo" />
			<label class="input-label" for="file-photo"
				><img src="/general/img/icons/ic_camera_s.svg"
			/></label>
		</div>
	</div>
</template>

<script></script>

<style lang="scss" scoped>
.image-user {
	width: 8em;
	height: 8em;
	background-size: cover;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
}

input.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label.input-label {
	margin: 0 auto;
	display: block;
	width: 8em;
	height: 8em;
	background-color: #3a3a3a3d;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	z-index: 1;
	img {
		margin: 0 auto;
		width: 32px;
		display: block;
		padding-top: 40px;
	}
}
</style>
