<template>
	<div class="input-control input-control-custom">
		<label for="profileStatus" class="title-input"
			>Status <span class="text-danger">*</span></label
		>

		<div class="wrapper-date">
			<select id="profileStatus" class="form-control" v-model="valueStatus">
				<option value="Belum Kawin" selected>Belum Kawin</option>
				<option value="Kawin">Kawin</option>
				<option value="Kawin Memiliki Anak">Kawin Memiliki Anak</option>
			</select>
			<p v-if="errorInput" class="failed-alert">
				Periksa kembali dan pastikan kota asal benar.
			</p>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			errorInput: false
		}
	},

	computed: {
		valueStatus: {
			get() {
				if (!this.$store.state.userEditProfile.marital_status) {
					this.$store.commit('updateMartial', 'Belum Kawin');
				}
				return this.$store.state.userEditProfile.marital_status;
			},
			set(value) {
				this.$store.commit('updateMartial', value);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-date {
	width: 100%;
}
</style>
