<template>
	<div class="input-control input-control-custom">
		<label for="profileDateBirth" class="title-input"
			>Tanggal Lahir <span class="text-danger">*</span></label
		>

		<div class="wrapper-date">
			<flat-pickr
				id="profileDateBirth"
				v-model="valueBirthday"
				:config="calendarConfigs"
				:class="{
					'error-field': errorInput
				}"
				class="form-control bg-input"
			></flat-pickr>
			<p v-if="errorInput" class="failed-alert">
				Periksa kembali dan pastikan tanggal lahir benar.
			</p>
		</div>
	</div>
</template>

<script>
import 'flatpickr/dist/flatpickr.css';
import flatPickr from 'vue-flatpickr-component';

export default {
	components: {
		flatPickr
	},

	data() {
		return {
			errorInput: false,
			format: 'yyyy-MM-dd',
			clear: false,
			placeholder: 'Pilih Tanggal Lahir',
			calendarConfigs: {
				altFormat: 'd M Y',
				altInput: true,
				dateFormat: 'Y-m-d'
			}
		};
	},

	computed: {
		valueBirthday: {
			get() {
				const birthDate = new Date(this.$store.state.userEditProfile.birthday);
				if (moment(birthDate).isValid()) {
					return this.$store.state.userEditProfile.birthday;
				} else {
					return '1990-01-01';
				}
			},
			set(value) {
				this.$store.commit('updateBirthday', value);
			}
		}
	},

	watch: {
		valueBirthday(val) {
			this.checkingDate(val);
		}
	},

	mounted() {
		this.checkingDate(this.valueBirthday);
	},

	methods: {
		checkingDate(val) {
			let now = moment();
			let selected = moment(val);
			let result = now.diff(selected, 'year');
			if (result == 0 || result < 0 || result <= 5) {
				this.errorInput = true;
				this.valueBirthday = '1990-01-01';
			} else {
				this.errorInput = false;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-date {
	width: 100%;
}
</style>

<style lang="scss">
.datepicker {
	width: 100%;
}

.error-field {
	> input {
		border-color: rgba(194, 34, 34, 0.4) !important;
		&:focus {
			border-color: rgba(194, 34, 34, 0.4) !important;
		}
	}
}

.bg-input {
	background-color: #ffff !important;
}
</style>
