<template>
	<div class="input-control input-control-custom">
		<label for="profileLastEducation" class="title-input"
			>Pendidikan Terakhir <span class="text-danger">*</span></label
		>

		<select
			id="profileLastEducation"
			v-model="valueLastEducation"
			class="form-control"
		>
			<option selected disabled>Pilih Pendidikan Terakhir</option>
			<option v-for="(edu, index) in dataEducation" :key="index">
				{{ edu }}
			</option>
		</select>
	</div>
</template>

<script>
export default {
	data() {
		return {
			dataEducation: [
				'SD/MI',
				'SMP/MTS',
				'SMA/MA',
				'SMK/MAK',
				'Diploma',
				'S1',
				'S2',
				'S3'
			],
			last_education: this.$store.state.userEditProfile.last_education
		};
	},

	computed: {
		valueLastEducation: {
			get() {
				if (!this.$store.state.userEditProfile.last_education) {
					this.$store.commit('updateEducation', 'S1');
				} else if (this.$store.state.userEditProfile.last_education == 'D3') {
					this.$store.commit('updateEducation', 'Diploma');
				}
				this.$store.commit(
					'updateEducation',
					this.$store.state.userEditProfile.last_education
				);
				return this.$store.state.userEditProfile.last_education;
			},
			set(value) {
				this.$store.commit('updateEducation', value);
			}
		}
	}
};
</script>
