<template>
	<div class="input-control input-control-custom clear">
		<label for="profileUserName" class="title-input">
			{{ label }} <span class="text-danger">*</span>
		</label>

		<div class="wrapper-input">
			<input
				id="profileUserName"
				type="text"
				placeholder="Masukan nama lengkap kamu"
				class="form-control custom-input"
				:class="{
					'error-field': errorInput
				}"
				:name="label"
				:value="name"
				@input="updateName"
				v-validate="'required'"
			/>
			<p v-show="errors.has(label)" class="failed-alert">
				{{ errors.first(label) }}
			</p>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex';
export default {
	data() {
		return {
			fullName: this.name,
			alert: {
				status: false,
				text: ''
			},
			errorInput: false,
			label: 'Nama Lengkap'
		};
	},

	methods: {
		updateName(e) {
			let val = e.target.value;
			validator.attach(this.label, 'required');
			validator.validate(this.label, val).then(result => {
				if (!result) {
					this.errorInput = true;
					this.$store.commit('setFormState', true);
				} else {
					this.errorInput = false;
					this.$store.commit('setFormState', false);
				}
			});
			this.$store.commit('updateName', val);
		}
	},

	computed: {
		...mapState({
			name: state => state.userEditProfile.name
		})
	}
};
</script>

<style lang="scss" scoped>
.wrapper-input {
	width: 100%;
}

.clear {
	clear: both;
}
</style>
