<template>
	<div id="inputProfessionSection">
		<div class="input-control input-control-custom">
			<label for="profileProfession" class="title-input title-profession"
				>Pekerjaan <span class="text-danger">*</span></label
			>

			<div class="form-group" id="profileProfession">
				<div class="radio-wrapper" @click="setEmpty">
					<radio v-model="profession" selected-value="kuliah" type="danger"
						><span class="text-radio">Mahasiswa</span></radio
					>
				</div>

				<div class="radio-wrapper" @click="setEmpty">
					<radio v-model="profession" selected-value="kerja" type="danger"
						><span class="text-radio">Karyawan</span></radio
					>
				</div>

				<div class="radio-wrapper" @click="setEmpty">
					<radio v-model="profession" selected-value="lainnya" type="danger"
						><span class="text-radio">Lainnya</span></radio
					>
				</div>
			</div>
		</div>

		<div v-if="this.profession !== 'lainnya'">
			<div class="input-control input-control-custom">
				<label class="title-input"
					>{{ userJobs[profession].label }}
					<span class="text-danger">*</span></label
				>

				<div class="form-group custom-wrapper">
					<v-select
						v-model="kuliahKerjaValue"
						:options="userJobs[profession].options"
						options-value="name"
						options-label="name"
						:placeholder="userJobs[profession].placeholder"
						search
						required
					>
					</v-select>
					<input
						v-if="isOtherDropdownOptionSelected"
						v-model="work_place"
						type="text"
						:placeholder="userJobs[profession].placeholderOther"
						class="form-control custom-input other-input"
					/>
					<p v-if="inputError.university" class="failed-alert">
						{{ userJobs[profession].errorMessage }}
					</p>
				</div>
			</div>
		</div>

		<div v-else>
			<div class="input-control input-control-custom">
				<label for="profileDescription" class="title-input"
					>Deskripsi <span class="text-danger">*</span></label
				>

				<div class="form-group custom-wrapper">
					<input
						id="profileDescription"
						type="text"
						placeholder="Deskripsikan tentang Anda disini"
						class="form-control custom-input"
						v-model="description"
					/>
					<p v-if="inputError.description" class="failed-alert">
						Periksa kembali dan pastikan deskripsi tidak kosong.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { radio, select } from 'vue-strap';
import universities from 'Json/universities.json';
import companies from 'Json/companies.json';

export default {
	components: {
		vSelect: select,
		radio
	},

	data() {
		return {
			first: 1,
			inputProfession: {
				title: '',
				placeholder: ''
			},
			inputError: {
				description: false,
				university: false,
				work_place: false
			},
			userJobs: {
				kuliah: {
					options: universities,
					label: 'Nama Universitas',
					placeholder: 'Pilih Universitas',
					placeholderOther: 'Tulis nama universitas Anda di sini',
					errorMessage:
						'Periksa kembali dan pastikan nama universitas tidak kosong.'
				},
				kerja: {
					options: companies,
					label: 'Nama Kantor',
					placeholder: 'Pilih Instansi',
					placeholderOther: 'Tulis nama instansi Anda di sini',
					errorMessage: 'Periksa kembali dan pastikan nama kantor tidak kosong.'
				}
			},
			isOtherDropdownOptionSelected: false
		};
	},

	watch: {
		description(val) {
			if (!val) {
				this.inputError.description = true;
				this.setEmpty();
			} else {
				this.inputError.description = false;
			}
		},
		university(val) {
			if (!val) {
				this.inputError.university = true;
				this.setEmpty();
			} else {
				this.inputError.university = false;
			}
		},
		work_place(val) {
			if (!val) {
				this.inputError.work_place = true;
				this.setEmpty();
			} else {
				this.inputError.work_place = false;
			}
		}
	},

	computed: {
		semester: {
			get() {
				return this.$store.state.userEditProfile.semester;
			},
			set(val) {
				this.$store.commit('updateSemester', val);
			}
		},
		university: {
			get() {
				return this.$store.state.userEditProfile.work_place;
			},
			set(val) {
				this.$store.commit('updateWorkPlace', val);
			}
		},
		major: {
			get() {
				return this.$store.state.userEditProfile.work;
			},
			set(val) {
				this.$store.commit('updatePosition', val);
			}
		},
		description: {
			get() {
				return this.$store.state.userEditProfile.description;
			},
			set(val) {
				this.$store.commit('updateDescription', val);
			}
		},
		position: {
			get() {
				return this.$store.state.userEditProfile.work;
			},
			set(val) {
				this.$store.commit('updatePosition', val);
			}
		},
		work_place: {
			get() {
				return this.$store.state.userEditProfile.work_place;
			},
			set(val) {
				this.$store.commit('updateWorkPlace', val);
			}
		},
		profession: {
			get() {
				if (!this.$store.state.userEditProfile.jobs) {
					this.$store.commit('setJobs', 'kuliah');
				}
				return this.$store.state.userEditProfile.jobs;
			},
			set(value) {
				this.$store.commit('setJobs', value);
			}
		},
		kuliahKerjaValue: {
			get() {
				return this.isOtherDropdownOptionSelected ? 'Lainnya' : this.work_place;
			},
			set(val) {
				if (val === 'Lainnya') {
					!this.isOtherDropdownOptionSelected && (this.work_place = null);
					this.isOtherDropdownOptionSelected = true;
				} else {
					this.work_place = val;
					this.isOtherDropdownOptionSelected = false;
				}
			}
		}
	},

	mounted() {
		this.checkInput();

		// check whether JSON option has work_place
		if (this.profession && this.profession !== 'lainnya' && this.work_place) {
			const type = this.userJobs[this.profession];
			this.isOtherDropdownOptionSelected = !type.options.some(option => {
				return option.name === this.work_place;
			});
		}
	},

	methods: {
		checkInput() {
			if (!this.description) {
				this.inputError.description = true;
			} else {
				this.inputError.description = false;
			}

			if (!this.university) {
				this.inputError.university = true;
			} else {
				this.inputError.university = false;
			}

			if (!this.work_place) {
				this.inputError.work_place = true;
			} else {
				this.inputError.work_place = false;
			}
		},
		setEmpty() {
			this.description = '';
			this.work_place = null;
		}
	}
};
</script>

<style lang="scss">
// override dropdown-menu vue-strap
#inputProfessionSection {
	.dropdown-menu {
		max-height: 300px;
		overflow-y: auto;
		right: 0;
		bottom: 100%;
		top: unset;
	}
}
</style>

<style lang="scss" scoped>
.form-group {
	display: flex;
	.radio-wrapper {
		margin-right: 18px;
	}
}

.text-radio {
	display: block;
	position: relative;
	top: -3px;
}

.title-profession {
	margin-top: 0rem !important;
}

.custom-wrapper {
	width: 100%;
	display: block;

	> .other-input {
		margin-top: 10px;
	}
}
</style>
