<template>
	<div class="input-control input-control-custom">
		<label for="profileGender" class="title-input"
			>Kota Asal <span class="text-danger">*</span></label
		>

		<div class="wrapper-date">
			<v-select
				id="profileGender"
				ref="vSelect"
				v-model="valueCity"
				search
				:placeholder="cityHolder"
				class="select-custom"
				:class="{
					'error-field': errorInput
				}"
			>
				<v-option
					v-for="city in $store.state.allCity"
					:value="city.label"
					v-bind:key="city.label"
					>{{ city.label }}</v-option
				>
			</v-select>
			<p v-if="errorInput" class="failed-alert">
				Periksa kembali dan pastikan kota asal benar.
			</p>
		</div>
	</div>
</template>

<script>
import { select, option } from 'vue-strap';
export default {
	components: {
		vSelect: select,
		vOption: option
	},

	data() {
		return {
			city: [],
			cityHolder: this.$store.state.userEditProfile.city || 'Pilih Kota',
			errorInput: false
		};
	},

	computed: {
		valueCity: {
			get() {
				return this.$store.state.userEditProfile.city;
			},
			set(value) {
				this.$store.commit('updateCity', value);
			}
		}
	},

	watch: {
		valueCity(val) {
			if (val == null) {
				this.errorInput = true;
			} else {
				this.errorInput = false;
			}
		}
	},

	mounted() {
		this.getCity();
		if (this.valueCity == null) {
			this.errorInput = true;
		} else {
			this.errorInput = false;
		}
	},

	methods: {
		getCity() {
			axios
				.get('area/city')
				.then(response => {
					if (response.data.status) {
						let dataCity = response.data.cities;
						for (let city in dataCity) {
							this.city[city] = {
								val: parseInt(city),
								label: dataCity[city].name
							};
						}
						this.$store.commit('setAllCity', this.city);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-date {
	width: 100%;
}
</style>

<style lang="scss">
.btn-group {
	width: 100%;
}

.open.btn-group {
	ul.dropdown-menu {
		min-width: 100%;
	}
}

.select-custom > .form-control.dropdown-toggle {
	height: 3em !important;
	&:focus {
		box-shadow: none !important;
		border-color: #1baa56 !important;
	}
	span.btn-content {
		position: relative;
		top: 1px;
	}
}

.select-custom > ul.dropdown-menu > li.bs-searchbox > input {
	&:focus {
		box-shadow: none !important;
		border-color: #1baa56 !important;
	}
}

.select-custom.open.btn-group ul.dropdown-menu {
	min-width: 100%;
	height: 269px;
	overflow-y: scroll;
}

.error-field {
	> input {
		border-color: rgba(194, 34, 34, 0.4) !important;
		&:focus {
			border-color: rgba(194, 34, 34, 0.4) !important;
		}
	}
}
</style>
