<template>
	<div>
		<div class="input-control input-control-custom">
			<label for="profileGender" class="title-input"
				>Jenis Kelamin <span class="text-danger">*</span></label
			>

			<div class="form-group">
				<div class="radio-wrapper">
					<radio
						id="profileGender"
						v-model="gender"
						selected-value="male"
						type="danger"
						><span class="text-radio">Laki-Laki</span></radio
					>
				</div>

				<div class="radio-wrapper">
					<radio
						id="profileGender"
						v-model="gender"
						selected-value="female"
						type="danger"
						><span class="text-radio">Perempuan</span></radio
					>
				</div>
			</div>
		</div>

		<div
			v-if="gender != 'male' && gender != 'female'"
			class="input-control input-control-custom no-margin"
		>
			<label for="profileGender" class="title-input"></label>

			<div class="form-group">
				<p class="failed-alert">
					Periksa kembali dan pastikan jenis kelamin benar.
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import { radio } from 'vue-strap';
export default {
	components: {
		radio
	},

	computed: {
		gender: {
			get() {
				return this.$store.state.userEditProfile.gender;
			},
			set(value) {
				this.$store.commit('updateGender', value);
			}
		}
	},

	watch: {
		gender(value) {
			if (value == 'Laki-Laki') {
				this.gender = 'male';
			} else if (value == 'Perempuan') {
				this.gender = 'female';
			}
		}
	},

	mounted() {
		if (this.gender == 'Laki-Laki') {
			this.gender = 'male';
		} else if (this.gender == 'Perempuan') {
			this.gender = 'female';
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	display: flex;
	.radio-wrapper {
		margin-right: 18px;
	}
}

.text-radio {
	display: block;
	position: relative;
	top: -3px;
}

.title-input {
	margin-top: 0rem !important;
}

.no-margin {
	margin-top: 0;
}
</style>

<style lang="scss">
.open > .btn-danger.dropdown-toggle {
	background-color: #1baa56 !important;
	border-color: #1baa56 !important;
}
</style>
