<template>
	<div class="input-control input-control-custom">
		<label for="profilePhoneEmergency" class="title-input">{{ label }}</label>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">+62</div>
				<input
					type="number"
					class="form-control"
					:class="{
						'error-field': errorInput
					}"
					placeholder="xxxx xxxx"
					:name="label"
					v-model="valuePhone"
					v-validate="'min:8|max:14|numeric'"
					maxlength="14"
				/>
			</div>

			<p v-show="errors.has(label)" class="failed-alert">
				{{ errors.first(label) }}
			</p>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'No. Handphone Darurat',
			errorInput: false
		};
	},

	computed: {
		valuePhone: {
			get() {
				return this.$store.state.userEditProfile.phone_number_additional;
			},
			set(value) {
				this.$store.commit('updateEmergency', value);
			}
		}
	},

	watch: {
		valuePhone: debounce(function (val) {
			this.validatorPhone(val);
		})
	},

	mounted() {
		this.validatorPhone(this.valuePhone);
	},

	methods: {
		validatorPhone(val) {
			validator.attach(this.label, 'min:8|max:14|numeric');
			validator.validate(this.label, val).then(result => {
				if (!result) {
					this.errorInput = true;
					this.$emit('is-error', true);
				} else {
					this.errorInput = false;
					this.$emit('is-error', false);
				}
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	@media (min-width: 768px) {
		width: 100%;
		margin-bottom: 0px;
		padding-top: 0px;
	}
}

.title-input {
	padding-top: 0.1rem;
}
</style>

<style lang="scss">
.error-field:focus {
	border-color: rgba(194, 34, 34, 0.4) !important;
}
</style>
