<template>
	<div class="form-group user-settings-input-text">
		<label
			v-if="inputLabel"
			:for="inputName"
			class="user-settings-input-text__label"
			data-path="lbl_userTextFieldLabel"
		>
			{{ inputLabel }}
		</label>
		<input
			ref="textField"
			:type="localType || inputType"
			:name="inputName"
			:placeholder="inputPlaceholder"
			class="form-control user-settings-input-text__default-input"
			:class="{ '--error': errorMessage.length }"
			:value="inputValue"
			data-path="txt_userTextField"
			@input="updateInputValue"
		/>
		<i
			v-if="inputType === 'password'"
			class="show-password-icon"
			data-path="icn_userShowPasswordIcon"
			@click="handleShowPassword"
		></i>
		<p
			class="user-settings-input-text__error-message"
			data-path="lbl_userErrorMessage"
		>
			{{ errorMessage }}
		</p>
	</div>
</template>

<script>
export default {
	model: {
		prop: 'inputValue',
		event: 'input'
	},
	props: {
		inputLabel: {
			type: String,
			default: ''
		},
		inputName: {
			type: String,
			default: ''
		},
		inputType: {
			type: String,
			default: 'text',
			validator: value => {
				// The value must match one of these strings
				return ['text', 'password', 'email', 'tel'].indexOf(value) !== -1;
			}
		},
		inputValue: {
			type: String,
			default: ''
		},
		inputPlaceholder: {
			type: String,
			default: ''
		},
		errorMessage: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			localType: null
		};
	},
	methods: {
		updateInputValue() {
			this.$emit('input', this.$refs.textField.value);
		},
		handleShowPassword(e) {
			this.$refs.textField.focus();
			e.target.classList.toggle('--open');
			this.localType = e.target.classList.contains('--open') ? 'text' : null;
		}
	}
};
</script>

<style lang="scss" scoped>
.user-settings-input-text {
	position: relative;

	&__label {
		margin-bottom: 0;
		color: #999;
	}

	&__default-input {
		padding: 0;
		border: hidden;
		border-bottom: 2px solid #dbdbdb;
		border-radius: 0;

		&.--error,
		&.--error:focus {
			border-color: #ec4a0c !important;
		}
	}

	&__error-message {
		line-height: 21px;
		color: #ec4a0c;
	}
}

.show-password-icon {
	position: absolute;
	top: 36px;
	right: 2px;
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('/assets/icons/svg/ic_eye_closed_grey.svg') no-repeat;

	&.--open {
		top: 42px;
		right: 0;
		background: url('/assets/icons/svg/ic_eye_grey.svg') no-repeat;
	}
}
</style>
