* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 100%;
	outline: none;
}

.shimmer {
	position: relative;
	overflow: hidden;
	color: transparent !important;
	pointer-events: none;
	background-color: #e9e9e9 !important;
	border-radius: 4px;

	&::after {
		position: absolute;
		top: 0;
		z-index: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background: linear-gradient(
			90deg,
			transparent,
			rgba(255, 255, 255, 0.3),
			transparent
		);
		transform: translateX(-100%);
		animation: loading 1.5s infinite;
	}
}

@keyframes loading {
	100% {
		transform: translateX(100%);
	}
}
