<template>
	<div class="container input-container">
		<navbar-custom
			:show-promotion="true"
			:navigations="navigations"
		></navbar-custom>
		<breadcrumb-pills
			:contents="['Langkah 1', 'Langkah 2', 'Langkah 3']"
			:grid="'col-md-4 col-xs-4'"
		></breadcrumb-pills>

		<keep-alive v-if="$store.state.section === 1">
			<step-first></step-first>
		</keep-alive>

		<keep-alive v-else-if="$store.state.section === 2">
			<step-second></step-second>
		</keep-alive>

		<keep-alive v-else-if="$store.state.section === 3">
			<step-third></step-third>
		</keep-alive>

		<widget-form-bookmark v-if="inputAs === 'Agen'"></widget-form-bookmark>
	</div>
</template>

<script>
const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom
	},

	data() {
		return {
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	},

	computed: {
		inputAs() {
			return this.$store.state.params.input_as;
		}
	}
};
</script>

<style lang="scss">
@import 'Sass/form/style.scss';

@media (max-width: 767px) {
	.wrapper {
		margin-top: 65px;
	}
	.new-label {
		right: auto;
	}
}
#navbarCustomize {
	.dropdown-toggle {
		font-weight: 400 !important;
	}
	.input-group-btn > .btn {
		height: 34px;
	}
}
.new-label.desktop-label {
	position: relative;
	top: -15px;
}

.section-container {
	margin-bottom: 19px;
}
</style>

<style lang="scss" scoped>
@media (max-width: 991px) {
	.input-container {
		padding-bottom: 45px;
	}
}
</style>
