<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<div class="col-md-12 col-xs-12">
			<field-name
				:label="'Nama kost'"
				:placeholder="'Tulis nama kost'"
			></field-name>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-owner-name
				:label="'Nama pemilik kost'"
				:placeholder="'Tulis nama panggilan atau nama lengkap'"
			></field-owner-name>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Anak Kos'">
			<field-owner-phone
				:label="'Nomor pemilik kost'"
				:placeholder="'Tuliskan nomor handphone'"
			></field-owner-phone>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-owner2-phone
				:label="'Nomor pemilik kost'"
				:placeholder="'Tuliskan nomor handphone'"
			></field-owner2-phone>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-manager-name
				:label="'Nama pengelola kost'"
				:placeholder="'Tulis nama panggilan atau nama lengkap'"
			></field-manager-name>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-manager-phone
				:label="'Nomor pengelola kost'"
				:placeholder="'Tuliskan nomor handphone'"
			></field-manager-phone>
		</div>

		<div class="col-md-12 col-xs-12">
			<div class="form-group">
				<label
					>Alamat kost
					<a @click="previousSection($store.state.section)">Edit</a></label
				>
				<p>{{ $store.state.params.address }}</p>
			</div>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-gender :label="'Tipe kost'"></field-gender>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-room-size :label="'Luas kamar'"></field-room-size>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-room-count
				:label="'Jumlah kamar total'"
				:placeholder="'Tulis angka'"
			></field-room-count>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-room-available
				:label="'Jumlah kamar kosong saat ini'"
				:placeholder="'Isi 0 jika penuh'"
			></field-room-available>
		</div>

		<div class="col-md-12 col-xs-12">
			<field-price
				:label="'Harga kamar'"
				:placeholder="'Tulis angka'"
			></field-price>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-price-remark
				:label="'Keterangan biaya lainnya'"
				:placeholder="
					'Contoh: listrik, parkir, wifi, iuran kebersihan, laundry, tambahan elektronik, biaya tambahan tamu menginap/sekamar berdua, dll'
				"
			></field-price-remark>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-description
				:label="'Deskripsi kost'"
				:placeholder="'Maksimal 500 karakter'"
			></field-description>
		</div>

		<div class="col-md-12 col-xs-12" v-if="inputAs == 'Agen'">
			<field-remarks
				:label="'Keterangan lain'"
				:placeholder="'Maksimal 500 karakter'"
			></field-remarks>
		</div>

		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.name == '' ||
					$store.state.params.owner_name == '' ||
					$store.state.params.owner_phone == '' ||
					$store.state.params.room_size == '' ||
					$store.state.params.price_monthly == ''
			"
			v-if="inputAs != 'Agen'"
		></section-alert>
		<section-alert
			:grid="'col-md-12 col-xs-12'"
			:text="
				'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
			"
			v-show="
				$store.state.params.name == '' ||
					$store.state.params.owner_name == '' ||
					$store.state.params.owner_phone == '' ||
					$store.state.params.room_size == '' ||
					$store.state.params.room_available == null ||
					($store.state.params.room_count < 1 ||
						$store.state.params.room_count == null) ||
					$store.state.params.price_monthly == ''
			"
			v-else-if="inputAs == 'Agen'"
		></section-alert>

		<div class="col-md-12 col-xs-12 input-footer-btn">
			<button
				type="button"
				class="btn btn-kost btn-mamiorange"
				@click="previousSection($store.state.section)"
				v-text="'Kembali'"
			></button>
			<button
				type="button"
				class="btn btn-kost btn-mamiorange"
				:disabled="
					$store.state.params.name == '' ||
					$store.state.params.owner_name == '' ||
					$store.state.params.owner_phone == '' ||
					$store.state.params.room_size == '' ||
					$store.state.params.price_monthly == ''
						? true
						: false
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
				v-if="inputAs != 'Agen'"
			></button>
			<button
				type="button"
				class="btn btn-kost btn-mamiorange"
				:disabled="
					$store.state.params.name == '' ||
					$store.state.params.owner_name == '' ||
					$store.state.params.owner_phone == '' ||
					$store.state.params.room_size == '' ||
					$store.state.params.room_available == null ||
					($store.state.params.room_count < 1 ||
						$store.state.params.room_count == null) ||
					$store.state.params.price_monthly == ''
						? true
						: false
				"
				@click="nextSection($store.state.section)"
				v-text="'Lanjutkan'"
				v-else-if="inputAs == 'Agen'"
			></button>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinScrollTop],
	computed: {
		inputAs() {
			return this.$store.state.params.input_as;
		}
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
</style>
