<template>
	<section class="col-md-8 col-md-offset-2 col-xs-12 section-container">
		<div class="col-md-12 col-xs-12" v-if="facTagsLoading == true">
			<span>Sedang memuat fasilitas... </span>
			<i class="fa fa-circle-o-notch fa-spin loading-spinner-default"></i>
		</div>

		<div
			class="col-md-12 col-xs-12 has-margin-bottom"
			v-if="facTagsLoading == false"
		>
			<field-facility-property
				:label="'Fasilitas kost dan kamar'"
				:tags="facTags.property"
			></field-facility-property>
		</div>

		<div
			class="col-md-12 col-xs-12 has-margin-bottom"
			v-if="facTagsLoading == false"
		>
			<field-facility-room
				:label="'Fasilitas kamar lainnya'"
				:tags="facTags.room"
			></field-facility-room>
		</div>

		<div
			class="col-md-12 col-xs-12 has-margin-bottom"
			v-if="facTagsLoading == false"
		>
			<field-facility-bath
				:label="'Kamar mandi'"
				:tags="facTags.bath"
			></field-facility-bath>
		</div>

		<div
			class="col-md-12 col-xs-12 has-margin-bottom"
			v-if="facTagsLoading == false"
		>
			<field-photos
				:label="'Foto-foto Kost'"
				:tags="facTags.photoExample"
			></field-photos>
		</div>

		<div
			class="col-md-12 col-xs-12 input-footer-btn"
			v-if="facTagsLoading == false"
		>
			<div v-if="inputAs == 'Anak Kos'">
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					@click="previousSection($store.state.section)"
					v-text="'Kembali'"
				></button>
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					@click="submitInputData($store.state.params)"
					v-text="'Submit Data Kost'"
				></button>
			</div>

			<div class="full-width" v-else-if="inputAs == 'Agen'">
				<section-alert
					:grid="'col-md-12 col-xs-12 stretch'"
					:text="'Anda harus melengkapi foto kost terlebih dahulu'"
					v-show="
						$store.state.params.photos.cover == null ||
							($store.state.params.photos.cover == null &&
								$store.state.params.photos.bedroom == null &&
								$store.state.params.photos.bath == null)
					"
				></section-alert>

				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					:disabled="
						$store.state.params.photos.cover == null ||
						($store.state.params.photos.cover == null &&
							$store.state.params.photos.bedroom == null &&
							$store.state.params.photos.bath == null)
							? true
							: false
					"
					@click="previousSection($store.state.section)"
					v-text="'Kembali'"
				></button>
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					:disabled="
						$store.state.params.photos.cover == null ||
						($store.state.params.photos.cover == null &&
							$store.state.params.photos.bedroom == null &&
							$store.state.params.photos.bath == null)
							? true
							: false
					"
					@click="submitInputData($store.state.params)"
					v-text="'Submit Data Kost'"
				></button>
			</div>
		</div>

		<mami-loading></mami-loading>
		<modal-input-promo
			:message="message.promo"
			:room-id="roomId"
			v-if="inputAs == 'Anak Kos'"
		></modal-input-promo>
		<modal-input-success
			:message="message.success"
			:survey="true"
			v-if="inputAs == 'Agen'"
		></modal-input-success>
		<modal-input-failed :messages="message.failed"></modal-input-failed>
	</section>
</template>

<script>
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
export default {
	mixins: [mixinGetQueryString, mixinScrollTop],
	data() {
		return {
			facTags: {
				property: this.$store.state.extras.fac_tags.property,
				room: this.$store.state.extras.fac_tags.room,
				bath: this.$store.state.extras.fac_tags.bath,
				photoExample: this.$store.state.extras.fac_tags.photo_example
			},
			facTagsLoading: false,
			message: {
				promo: '',
				success: '',
				failed: []
			},
			roomId: 0
		};
	},
	computed: {
		inputAs() {
			return this.$store.state.params.input_as;
		}
	},
	created() {
		if (
			this.facTags.property.length == 0 &&
			this.facTags.room.length == 0 &&
			this.facTags.bath.length == 0 &&
			this.facTags.photoExample == ''
		) {
			this.facTagsLoading = true;
			axios
				.get('/stories/input/tags/kost')
				.then(response => {
					this.facTagsLoading = false;
					this.facTags = {
						property: response.data.data.kost_facilities,
						room: response.data.data.room_facilities,
						bath: response.data.data.bath_facilities,
						photoExample: response.data.data.photo_example
					};

					this.$store.commit('setExtrasFacTags', this.facTags);
				})
				.catch(error => {
					alert('Terjadi galat. Silakan coba lagi.');
					this.$store.commit('changeSection', this.$store.state.section - 1);
					bugsnagClient.notify(error);
				});
		}
	},
	methods: {
		previousSection(currentSection) {
			this.$store.commit('changeSection', currentSection - 1);
		},
		submitInputData(params) {
			$('#mamiLoading').modal({ backdrop: 'static', keyboard: false });

			if (this.inputAs == 'Anak Kos') {
				if (
					this.getQueryString('source') == 'user_login' ||
					Cookies.get('persuadeUserLoginPulsa')
				) {
					params.input_source = 'input_kost_after_user_login_web';
				} else if (
					this.getQueryString('source') == 'user_chat' ||
					Cookies.get('persuadeUserNotifPulsa')
				) {
					params.input_source = 'input_kost_after_user_chat_end';
				} else if (
					this.getQueryString('source') == 'sms_reward' ||
					Cookies.get('persuadeUserSmsPulsa')
				) {
					params.input_source = 'sms_reward';
				} else if (
					this.getQueryString('source') == 'kaskus' ||
					Cookies.get('persuadeUserKaskusPulsa')
				) {
					params.input_source = 'kaskus';
				}
			}

			axios
				.post('/stories/input', params)
				.then(response => {
					$('#mamiLoading').modal('hide');
					if (response.data.status == true) {
						if (this.inputAs == 'Anak Kos') {
							this.message.promo = response.data.data.dialog_message;
							this.roomId = response.data.data.room.room_id;
							$('#modalInputPromo').modal({
								backdrop: 'static',
								keyboard: false
							});
						} else {
							this.message.success =
								'Terima kasih. Data kost Anda akan segera diverifikasi Tim Mamikos.';
							$('#modalInputSuccess').modal({
								backdrop: 'static',
								keyboard: false
							});
							$('#modalInputSuccess').on('hide.bs.modal', e => {
								location.reload();
							});

							if (Cookies.get('bookmarkFormAgentKost') != undefined) {
								Cookies.remove('bookmarkFormAgentKost');
							}
						}
					} else {
						this.message.failed = response.data.messages;
						$('#modalInputFailed').modal();
					}
				})
				.catch(error => {
					$('#mamiLoading').modal('hide');
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style lang="scss">
.fac-checkbox {
	margin-right: 0 !important;
}
</style>

<style lang="scss" scoped>
.has-margin-bottom {
	margin-bottom: 30px;
}
.btn {
	width: auto;
}
.btn-submit {
	margin-left: 10px;
}
.input-footer-btn {
	justify-content: flex-start;
}
</style>
