<template>
	<section
		id="firstStep"
		class="col-md-8 col-md-offset-2 col-xs-12 section-container"
	>
		<div v-if="inputAs == 'Agen'">
			<div class="col-md-12 col-xs-12">
				<field-agent-name
					:label="'Nama agen'"
					:placeholder="'Tuliskan nama'"
				></field-agent-name>
			</div>

			<div class="col-md-12 col-xs-12">
				<field-agent-email
					:label="'Email agen'"
					:placeholder="'Tuliskan alamat email'"
				></field-agent-email>
			</div>

			<div class="col-md-12 col-xs-12">
				<field-agent-phone
					:label="'Nomor agen'"
					:placeholder="'Tuliskan nomor handphone'"
				></field-agent-phone>
			</div>
		</div>

		<label for="propertyMap" class="col-md-12 col-xs-12"
			>Peta lokasi kost <span class="text-danger">*wajib diisi</span></label
		>

		<field-map
			:grid="'col-md-12 col-xs-12'"
			:pac-id="'propertyMap'"
			:marker-width="50"
			:marker-height="50"
		></field-map>

		<div class="col-md-12 col-xs-12 address-container">
			<field-address
				:label="'Alamat lengkap kost'"
				:placeholder="'Tulis alamat lengkap kost'"
			></field-address>
		</div>

		<div v-if="inputAs == 'Anak Kos'">
			<section-alert
				:grid="'col-md-12 col-xs-12'"
				:text="
					'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
				"
				v-show="
					$store.state.params.city == '' ||
						$store.state.params.subdistrict == '' ||
						$store.state.params.address == ''
				"
			></section-alert>

			<div class="col-md-12 col-xs-12 input-footer-btn">
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					:disabled="
						$store.state.params.city !== '' &&
						$store.state.params.subdistrict !== '' &&
						$store.state.params.address !== ''
							? false
							: true
					"
					@click="nextSection($store.state.section)"
					v-text="'Lanjutkan'"
				></button>
			</div>
		</div>

		<div v-else-if="inputAs == 'Agen'">
			<section-alert
				:grid="'col-md-12 col-xs-12'"
				:text="
					'Anda belum bisa melanjutkan apabila isian wajib Anda belum lengkap'
				"
				v-show="
					$store.state.params.agent_name == '' ||
						$store.state.params.agent_email == '' ||
						$store.state.params.agent_phone == '' ||
						$store.state.params.city == '' ||
						$store.state.params.subdistrict == '' ||
						$store.state.params.address == ''
				"
			></section-alert>

			<div class="col-md-12 col-xs-12 input-footer-btn">
				<button
					type="button"
					class="btn btn-kost btn-mamiorange"
					:disabled="
						$store.state.params.agent_name !== '' &&
						$store.state.params.agent_email !== '' &&
						$store.state.params.agent_phone !== '' &&
						$store.state.params.city !== '' &&
						$store.state.params.subdistrict !== '' &&
						$store.state.params.address !== ''
							? false
							: true
					"
					@click="nextSection($store.state.section)"
					v-text="'Lanjutkan'"
				></button>
			</div>
		</div>
	</section>
</template>

<script>
import mixinScrollTop from 'Js/@mixins/MixinScrollTop';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';

export default {
	mixins: [mixinScrollTop, mixinGetQueryString],
	computed: {
		inputAs() {
			return this.$store.state.params.input_as;
		}
	},
	mounted() {
		if (this.getQueryString('source') == 'user_chat') {
			Cookies.set('persuadeUserNotifPulsa', true, { expires: 30 });
		} else if (this.getQueryString('source') == 'sms_reward') {
			Cookies.set('persuadeUserSmsPulsa', true, { expires: 30 });
		} else if (this.getQueryString('source') == 'kaskus') {
			Cookies.set('persuadeUserKaskusPulsa', true, { expires: 30 });
		}
	},
	methods: {
		nextSection(currentSection) {
			this.$store.commit('changeSection', currentSection + 1);
		}
	}
};
</script>

<style lang="scss" scoped>
.address-container {
	margin-top: 30px;
}
</style>
