<template>
	<div class="row user-password-change">
		<div class="col-lg-6 col-sm-12">
			<user-text-field
				v-model="oldPassword"
				v-validate="'required'"
				data-vv-name="old_password"
				input-label="Password lama"
				input-name="Password lama"
				input-type="password"
				input-placeholder="Masukkan password lama"
				:error-message="getErrorMessage('old_password')"
				@input="validateInput('old_password', oldPassword)"
			></user-text-field>
			<user-text-field
				v-model="newPassword"
				v-validate="newPasswordRule"
				data-vv-name="new_password"
				input-label="Password baru"
				input-name="Password baru"
				input-type="password"
				input-placeholder="Masukkan password baru"
				:error-message="getErrorMessage('new_password')"
				@input="validateInput('new_password', newPassword)"
			></user-text-field>
			<user-text-field
				v-model="confirmationPassword"
				v-validate="'confirmed_new_pass'"
				data-vv-name="confirmation_password"
				input-label="Ketik ulang password"
				input-name="Password konfirmasi"
				input-type="password"
				input-placeholder="Ketik ulang password"
				:error-message="getErrorMessage('confirmation_password')"
				@input="validateInput('confirmation_password', confirmationPassword)"
			></user-text-field>
			<mami-button
				color="primary"
				block
				:disabled="!inputIsValid || saveLoading"
				class="user-password-change__submit-button"
				data-path="btn_submitPasswordChange"
				@click="submitData"
			>
				{{ saveLoading ? 'Menyimpan...' : 'Simpan' }}
			</mami-button>
		</div>
	</div>
</template>

<script>
import UserTextField from '../forms/UserTextField';
import MamiButton from 'Js/@components/mami-components/MamiButton';

export default {
	name: 'UserSettingsPasswordChange',
	components: {
		UserTextField,
		MamiButton
	},
	data() {
		return {
			dictionary: {
				// custom validation messages
				custom: {
					old_password: {
						required: 'Password lama harus diisi'
					},
					new_password: {
						required: 'Password baru harus diisi',
						min: 'Password minimal 8 karakter',
						max: 'Password maksimal 25 karakter',
						regex: 'Gunakan kombinasi huruf dan angka'
					}
				}
			},
			oldPassword: '',
			newPassword: '',
			confirmationPassword: '',
			saveLoading: false
		};
	},
	computed: {
		newPasswordRule() {
			return {
				required: true,
				min: 8,
				max: 25,
				regex: /^(?=.*[0-9])(?=.*[a-zA-Z|!@#$%^&*])([a-zA-Z0-9!@#$%^&*]+)$/,
				different_with_old: true
			};
		},
		inputIsValid() {
			return (
				!this.errors.items.length &&
				this.oldPassword.length &&
				this.newPassword.length &&
				this.confirmationPassword.length
			);
		},
		userPasswordPayload() {
			return {
				_token: this.token,
				old_password: md5(this.oldPassword),
				new_password: md5(this.newPassword)
			};
		},
		token() {
			return this.$store.state.token;
		}
	},
	mounted() {
		this.extendValidationRules();
		this.$validator.localize('id', this.dictionary);
	},
	methods: {
		extendValidationRules() {
			this.$validator.extend('different_with_old', {
				getMessage: field => 'Password tidak boleh sama',
				validate: value => {
					return this.newPassword !== this.oldPassword;
				}
			});

			this.$validator.extend('confirmed_new_pass', {
				getMessage: field => 'Password tidak sama',
				validate: value => {
					return this.confirmationPassword === this.newPassword;
				}
			});
		},
		validateInput(field, value) {
			this.$validator.validate(field, value).then(result => {
				if (result) {
					// condition below re-validates whether the confirmation password is the same with new password which should be true
					if (field !== 'old_password') {
						this.$validator.validateAll().then(result => {});
					}
					// condition below re-validates whether the new password isn't the same with old password which should be true
					else if (field === 'old_password' && this.newPassword.length) {
						this.$validator.validate('new_password', this.newPassword);
					}
				}
			});
		},
		getErrorMessage(label) {
			return this.errors.has(label)
				? this.errors.items.find(e => e.field === label).msg
				: '';
		},
		addNewError(field, messages) {
			this.errors.add({
				scope: null,
				field: field,
				msg: messages.map(item => item).join(', ')
			});
		},
		submitData() {
			if (this.inputIsValid) {
				this.saveLoading = true;

				axios
					.post('/user/change-password', this.userPasswordPayload)
					.then(response => {
						if (response.data.status) {
							tracker('moe', [
								'[User] Update Password Success',
								{
									interface: navigator.isMobile ? 'mobile' : 'desktop',
									success_status: true
								}
							]);
							this.$emit('finishSetting', 'Password berhasil diubah');
						} else {
							if ('old_password' in response.data.meta.messages) {
								this.addNewError(
									'old_password',
									response.data.meta.messages.old_password
								);
							} else if ('new_password' in response.data.meta.messages) {
								this.addNewError(
									'new_password',
									response.data.meta.messages.new_password
								);
							}
						}

						this.saveLoading = false;
					})
					.catch(error => {
						this.saveLoading = false;
						bugsnagClient.notify(error);
						this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
					});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.user-password-change {
	&__submit-button {
		height: 48px;
		margin: 32px 0;
	}
}
</style>
