<template>
	<draft-booking-wrapper
		:sort-options="sortOptions"
		class="draft-booking-last-seen"
		endpoint="user/draft-booking/last-seen"
		delete-title="Yakin menghapus Kos ini dari daftar Baru Dilihat?"
		delete-action-text="Hapus"
		delete-toast-text="Kos Baru Dilihat berhasil dihapus"
		empty-list-text="Belum ada Kos yang baru kamu lihat. Yuk, mulai cari & booking Kos yang kamu inginkan"
		@track-page-visited="trackLastSeenPageVisited"
		@content-loaded="onLastSeenLoaded"
	>
		<template #list-data="slotProps">
			<last-seen-booking-list
				:drafts="slotProps.drafts"
				@delete="slotProps.delete($event)"
			></last-seen-booking-list>
		</template>
	</draft-booking-wrapper>
</template>

<script>
import _map from 'lodash/map';
import _get from 'lodash/get';
import DraftBookingWrapper from '../draft/DraftBookingWrapper';
import LastSeenBookingList from './LastSeenBookingList';

export default {
	components: {
		DraftBookingWrapper,
		LastSeenBookingList
	},
	data() {
		return {
			sortOptions: [
				{ name: 'Terbaru', val: 'DESC' },
				{ name: 'Terlama', val: 'ASC' }
			]
		};
	},
	methods: {
		trackLastSeenPageVisited({ listData, authData }) {
			tracker('moe', [
				'[User] Baru Dilihat Page Visited',
				{
					tenant_name: _get(authData, 'all.name', ''),
					total_history_count: _get(listData, 'total', 0),
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					redirection_source: 'User Profile'
				}
			]);
		},
		onLastSeenLoaded() {
			this.$store.commit('setLastSeenNotification', 0);
		}
	}
};
</script>
