<template>
	<div class="draft-last-seen-list">
		<draft-booking-card
			v-for="(draft, i) in drafts"
			:key="i"
			:draft-room="draft"
			:delete-id="draft.room_id"
			is-last-seen
			redirection-source="baru dilihat"
			@delete="onDraftDelete"
		/>
	</div>
</template>

<script>
import DraftBookingCard from '../draft/DraftBookingCard';

export default {
	components: {
		DraftBookingCard
	},
	props: {
		drafts: {
			type: Array,
			required: true
		}
	},
	methods: {
		onDraftDelete(id) {
			this.$emit('delete', id);
		}
	}
};
</script>
