<template>
	<div class="owner-settings-document-verification-capture-controls">
		<div
			v-for="(controlItem, i) in controlItems"
			:key="i"
			class="owner-settings-document-verification-capture-controls__item"
			:class="controlItem.columnClass"
		>
			<div
				class="owner-settings-document-verification-capture-controls__item-button-group"
			>
				<button
					class="owner-settings-document-verification-capture-controls__item-button"
					@click="onControlClicked(controlItem.value)"
				>
					<img :src="controlItem.iconPath" :alt="`icon-${controlItem.label}`" />
				</button>
				<p
					class="owner-settings-document-verification-capture-controls__item-label"
				>
					{{ controlItem.label }}
				</p>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
	name: 'OwnerSettingsDocumentVerificationCaptureControls',
	computed: {
		...mapState('settingsDocumentVerification', ['isSwitchCamera']),
		controlItems() {
			return [
				{
					iconPath: '/general/img/icons/ic_camera_shoot_white.svg',
					label: 'Ambil Foto',
					value: 'capture',
					columnClass: 'two-third-column'
				},
				{
					iconPath: this.isSwitchCamera
						? '/general/img/icons/ic_switch_camera_filled_white.svg'
						: '/general/img/icons/ic_switch_camera_outline_white.svg',
					label: 'Putar',
					columnClass: 'three-third-column'
				}
			];
		}
	},
	methods: {
		...mapActions('settingsDocumentVerification', [
			'switchCamera',
			'capturePhoto'
		]),
		onControlClicked(value) {
			value === 'capture' ? this.capturePhoto() : this.switchCamera();
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-capture-controls {
	display: flex;
	width: 100%;
	padding: 24px 0;
	align-items: flex-end;

	&__item {
		position: absolute;
		text-align: center;
		transform: translateX(-50%);

		&.two-third-column {
			left: 50%;
		}

		&.three-third-column {
			right: 0;
		}

		&-button {
			background: transparent;
			border: 0;
			outline: 0;
		}

		&-label {
			margin-top: 4px;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			color: #fff;
		}
	}
}
</style>
