<template>
	<div
		class="owner-settings-document-verification-capture-timer"
		:class="{ selfie: currentPhotoStep === 2 }"
	>
		<h1 class="owner-settings-document-verification-capture-timer__digit">
			{{ timerCount / 1000 }}
		</h1>
		<img
			src="/general/img/icons/ic_ellipsis-h_filled_white.svg"
			alt="icon timer is on"
			class="owner-settings-document-verification-capture-timer__ellipsis-icon"
		/>
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	name: 'OwnerSettingsDocumentVerificationCaptureTimer',
	computed: {
		...mapState('settingsDocumentVerification', [
			'currentPhotoStep',
			'timerCount'
		])
	}
};
</script>

<style lang="scss" scoped>
.owner-settings-document-verification-capture-timer {
	width: 100%;
	height: 100%;
	text-align: center;

	&__digit,
	&__ellipsis-icon {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&__digit {
		bottom: 122px;
		font-size: 64px;
		font-weight: 900;
		line-height: 80px;
		color: #fff;

		.selfie & {
			top: 10%;
			bottom: unset;
			left: 85%;
		}
	}

	&__ellipsis-icon {
		bottom: 52px;
	}
}
</style>
