<template>
	<div class="contract-list-page">
		<div class="contract-list-filter-and-search">
			<search-box-and-filter
				v-if="hasFilterAndSearchActivator || isLoadingFilterAndSearch"
				ref="searchBoxFilter"
				:loading="isLoadingFilterAndSearch"
				:indicator="true"
				search-placeholder="Cari Kontrak"
				contract-list
				:is-search-disabled="disableSearch"
				@onSearch="handleSearch"
			>
				<ContractFilter
					slot="filter"
					ref="filter"
					@clicked-apply-filter="closeSnackbar"
				></ContractFilter>
				<template slot="snackbar-header">
					<div class="contract-list-filter-header">
						<div>
							<img
								v-lazy="'/general/img/icons/ic_close-consultant_grey.svg'"
								alt="Icon close"
								@click="closeSnackbar"
							/>
						</div>
						<div class="title">
							Filter
						</div>
						<div>
							<a @click="resetFilter"><strong>Reset</strong></a>
						</div>
					</div>
				</template>
			</search-box-and-filter>
		</div>

		<div v-if="isAdminConsultant" class="add-contract-button">
			<ConsultantButton large block @click="handleClickContractCreate">
				<img
					v-lazy="'/general/img/icons/plus.svg'"
					alt="Plus icon"
					title="Plus icon"
				/>
				Tambah Kontrak Baru
			</ConsultantButton>
		</div>

		<ul class="contract-list-items">
			<li
				v-for="item in contractLists"
				:key="item.id"
				class="contract-list-item"
			>
				<div
					class="item-container contract-card-container"
					@click="
						handleClickContractItem(
							item.id,
							item.from_booking,
							item.contract_status
						)
					"
				>
					<div
						:class="[
							invContStatus(item.contract_status, item.status)[0],
							'payment-status'
						]"
					>
						<div>
							{{ invContStatus(item.contract_status, item.status)[1] }}
						</div>
						<div>
							<span
								v-if="
									item.paid_from === 'not_in_mamipay' &&
										item.contract_status === 'active'
								"
							>
								Bayar di Luar MamiPAY
							</span>
						</div>
					</div>
					<div class="tenant-name">
						{{ item.name }}
					</div>
					<div class="kost-address">
						{{ item.property_name }}
					</div>

					<div class="kost-detail">
						<div>
							Nomor Kamar
						</div>
						<div>
							{{ item.room_number }}
						</div>
						<div>
							Jatuh Tempo
						</div>
						<div>
							{{ dateConverter(item.scheduled_date) }}
						</div>
						<div>
							Sewa Berakhir
						</div>
						<div>
							{{ dateConverter(item.end_date) }}
						</div>
						<div>
							Harga
						</div>
						<div>
							{{ rupiahConverter(item.price) }}
						</div>
					</div>

					<div class="created-by">
						<div>
							Dibuat oleh :
							<strong>
								{{ createdBy(item.from_booking, item.consultant_name) }}
							</strong>
						</div>
						<div>
							<a @click.prevent>Lihat Detail</a>
						</div>
					</div>
				</div>

				<div
					v-if="showContractButtons(item) && isAdminConsultant"
					id="cancel-terminate"
					class="button-container"
				>
					<div class="row">
						<div class="col-xs-6">
							<ConsultantButton
								color="warning"
								outline
								block
								:disabled="!item.from_booking"
								@click="handleClickCancelContract(item.id)"
							>
								Batalkan Kontrak
							</ConsultantButton>
						</div>
						<div class="col-xs-6">
							<ConsultantButton
								color="warning"
								outline
								block
								@click="handleClickTerminateContract(item.id)"
							>
								Akhiri Kontrak
							</ConsultantButton>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div
			v-if="!contractLists.length && !isLoadingFilterAndSearch"
			class="contract-empty"
		>
			<img
				v-lazy="'/general/img/pictures/consultant/consultant_empty_state.png'"
				alt="Consultant empty state"
				title="Consultant empty state"
			/>
			<h3>Belum Ada Kontrak</h3>
			<p>Daftar kontrak yang anda kelola akan tampil di sini</p>
		</div>

		<consultant-pagination
			v-if="pagination.totalData > pagination.limit"
			:total-data="pagination.totalData"
			:page-active="pagination.page"
			green-version
			class="contract-list-pagination"
			@change="changePagination"
		></consultant-pagination>

		<Snackbar v-model="snackbarCancel">
			<div class="cancel-terminate-snackbar">
				<h4>Yakin ingin membatalkan kontrak dengan penyewa ini?</h4>
				<p>
					Kontrak yang telah dikonfirmasi batal tidak dapat dilanjutkan kembali.
				</p>
				<div class="button-container">
					<div class="row">
						<div class="col-xs-6">
							<ConsultantButton
								large
								block
								outline
								:disabled="loadingButton"
								@click="snackbarCancel = false"
								>Tidak</ConsultantButton
							>
						</div>
						<div class="col-xs-6">
							<ConsultantButton
								large
								block
								:loading="loadingButton"
								@click="handleCancelingContract"
								>Ya</ConsultantButton
							>
						</div>
					</div>
				</div>
			</div>
		</Snackbar>

		<Snackbar v-model="snackbarTerminate">
			<div class="cancel-terminate-snackbar">
				<h4>Yakin ingin mengakhiri kontrak dengan penyewa ini?</h4>
				<p>
					Kontrak yang telah dikonfirmasi berakhir tidak dapat dilanjutkan
					kembali.
				</p>
				<div class="button-container">
					<div class="row">
						<div class="col-xs-6">
							<ConsultantButton
								large
								block
								outline
								:disabled="loadingButton"
								@click="snackbarTerminate = false"
								>Tidak</ConsultantButton
							>
						</div>
						<div class="col-xs-6">
							<ConsultantButton
								large
								block
								:loading="loadingButton"
								@click="handleTerminatingContract"
								>Ya</ConsultantButton
							>
						</div>
					</div>
				</div>
			</div>
		</Snackbar>
	</div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

import SearchBoxAndFilter from 'Consultant/components/search-and-filter/SearchBoxAndFilter.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import mixinPagination from 'Consultant/mixins/mixinPagination.js';
import ContractFilter from './ContractFilter.vue';
import Snackbar from 'Consultant/components/Snackbar.vue';

import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

import {
	makeQueryParam,
	mergeParams,
	transformToArray
} from 'Consultant/helpers/url';

export default {
	name: 'ContractList',

	components: {
		SearchBoxAndFilter,
		ConsultantButton,
		ContractFilter,
		Snackbar
	},

	mixins: [mixinPagination],

	data() {
		return {
			contractLists: [],
			isLoadingFilterAndSearch: false,
			data: null,
			filledFilter: false,
			changedFilter: false,
			disableSearch: false,
			snackbarCancel: false,
			snackbarTerminate: false,
			selectedContract: '',
			loadingButton: false
		};
	},

	computed: {
		...mapGetters(['isAdminConsultant']),
		...mapState('contract', ['selectedDateFrom', 'selectedDateTo']),
		hasFilterAndSearchActivator() {
			const { query } = this.$route;
			if (!this.contractLists.length && !this.filledFilter) {
				return query.search;
			}
			return true;
		},
		selectedDateFromValue() {
			return this.selectedDateFrom.value;
		},
		selectedDateToValue() {
			return this.selectedDateTo.value;
		},
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Kelola Kontrak',
			{ consultant_id: consultant.id || /* istanbul ignore next */ null }
		]);
	},

	beforeRouteLeave(to, from, next) {
		if (to.name === 'invoice') {
			this.setPrevQuery(this.$route.query);
		}

		next();
	},

	methods: {
		/* eslint-disable camelcase */
		...mapMutations('contract', [
			'setPrevQuery',
			'setSelectedDateFrom',
			'setSelectedDateTo'
		]),

		closeSnackbar() {
			this.$refs.searchBoxFilter.snackbarOpened = false;
		},

		resetFilter() {
			this.$router.push({ name: this.$route.name, query: {} }).catch(() => {});
			this.$refs.searchBoxFilter.snackbarOpened = false;
		},

		getDefaultFilterDate() {
			const date = new Date();
			const firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
			const lastDay = new Date(date.getFullYear(), date.getMonth() + 2, 0);

			return { firstDay, lastDay };
		},

		storeSelectedDate(date) {
			const dateFromObj = {
				label: date.firstDay,
				value: this.$dayjs(date.firstDay).format('YYYY-MM-DD')
			};
			const dateToObj = {
				label: date.lastDay,
				value: this.$dayjs(date.lastDay).format('YYYY-MM-DD')
			};

			this.setSelectedDateFrom(dateFromObj);
			this.setSelectedDateTo(dateToObj);
		},

		// ---------------------------------------------------
		// HANDLING VUE ROUTE
		defaultPagination({ query }) {
			let dateFrom = query.date_from;
			let dateTo = query.date_to;
			if (!dateFrom || !dateTo) {
				const defaultDate = this.getDefaultFilterDate();
				dateFrom = this.$dayjs(defaultDate.firstDay).format('YYYY-MM-DD');
				dateTo = this.$dayjs(defaultDate.lastDay).format('YYYY-MM-DD');
				this.storeSelectedDate(defaultDate);
			} else {
				// execute when reload
				/* istanbul ignore next */
				if (!this.selectedDateFromValue || !this.selectedDateToValue) {
					this.storeSelectedDate({
						firstDay: new Date(dateFrom),
						lastDay: new Date(dateTo)
					});
				}
			}

			this.changeQueryPaginate({
				date_from: dateFrom,
				date_to: dateTo,
				contract_status: transformToArray(query.contract_status),
				paid_status: transformToArray(query.paid_status),
				created_by: transformToArray(query.created_by),
				promotion_type: transformToArray(query.promotion_type)
			});
		},

		// HANDLING API
		triggerGetData(pagination) {
			const contractUrl = '/api/contract?';
			const {
				offset,
				limit,
				date_from,
				date_to,
				contract_status,
				paid_status,
				created_by,
				promotion_type,
				search
			} = pagination;

			const paginationQuery = makeQueryParam({
				offset,
				limit,
				sort_by: 'updated_at',
				date_from,
				date_to,
				contract_status,
				paid_status,
				created_by,
				search
			});

			const bookingQuery = promotion_type.includes('booking')
				? 'is_booking=true'
				: '';

			this.initDataContractLists(
				contractUrl + mergeParams(paginationQuery, bookingQuery)
			);
		},

		async initDataContractLists(queries) {
			this.isLoadingFilterAndSearch = true;
			const { success, result } = await this.getContractLists(queries);
			if (success) {
				this.contractLists = result.data;
				this.disableSearch = !this.contractLists.length;
				this.changeQueryPaginate({
					totalData: Number(result.total)
				});
			}

			this.isLoadingFilterAndSearch = false;
		},

		async getContractLists(queries) {
			const data = { success: false, result: [] };
			try {
				const response = await axios.get(queries);
				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.result = response.data;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}

			return Promise.resolve(data);
		},

		// ---------------------------------------------------
		changePagination(page) {
			this.moveQuery({ page });
		},

		// HANDLING EVENT
		handleSearch(searchText) {
			this.changeQueryPaginate({ search: searchText });
			this.moveQuery({
				page: 1,
				search: searchText
			});
		},

		moveQuery(newQuery) {
			const { name, query } = this.$route;
			this.$router
				.push({
					name,
					query: {
						...query,
						...newQuery
					}
				})
				.catch(() => {});
		},

		handleClickContractItem(id, booking, contractStatus) {
			this.$router.push({
				name: 'invoice',
				params: { id: id, booking: booking, contract_status: contractStatus }
			});
		},

		handleClickContractCreate() {
			this.$router.push({ name: 'contract.create' });
		},

		handleClickCancelContract(id) {
			this.snackbarCancel = true;
			this.selectedContract = id;
		},

		handleClickTerminateContract(id) {
			this.snackbarTerminate = true;
			this.selectedContract = id;
		},

		async handleCancelingContract() {
			this.loadingButton = true;
			await axios.post(`/api/contract/cancel/${this.selectedContract}`);
			this.snackbarCancel = false;
			this.loadingButton = false;
			this.resetFilter();
			this.$router.go();
		},

		async handleTerminatingContract() {
			this.loadingButton = true;
			await axios.post(`/api/contract/terminate/${this.selectedContract}`);
			this.snackbarTerminate = false;
			this.loadingButton = false;
			this.resetFilter();
			this.$router.go();
		},

		// ---------------------------------------------------
		// HELPERS
		dateConverter(dateString) {
			return this.$dayjs(dateString)
				.locale('id')
				.format('DD MMMM YYYY');
		},

		rupiahConverter(value) {
			let temp = value;

			// if the value is not a number, convert into number using unary plus
			if (typeof temp !== 'number') {
				temp = +temp;
			}

			return temp.toLocaleString('id', {
				style: 'currency',
				currency: 'IDR',
				minimumFractionDigits: 0
			});
		},

		invContStatus(contract, status) {
			if (contract === 'active') {
				if (status === 'paid') {
					return ['success', 'Dibayar'];
				} else {
					return ['warning', 'Belum Dibayar'];
				}
			} else {
				const temp = contract === 'terminated' ? 'Sewa Berakhir' : 'Dibatalkan';
				return ['disabled', temp];
			}
		},

		createdBy(booking, name) {
			if (!booking) {
				if (name) {
					return name;
				} else {
					return 'Pemilik Kos';
				}
			} else {
				return 'Calon Penyewa';
			}
		},

		showContractButtons(item) {
			return !(
				item.contract_status === 'terminated' ||
				item.contract_status === 'cancelled'
			);
		}
	}
};
</script>

<style lang="scss" scoped>
@mixin flex-container($wrap: nowrap) {
	display: flex;
	flex-wrap: $wrap;
	justify-content: space-between;
	align-items: flex-start;
}

$color-soft-grey: #f4f4f4;

.contract-list-items {
	padding: 16px 0 0;
	margin-bottom: 0;
	list-style-type: none;
}

.contract-list-item {
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 8px 24px rgba(56, 55, 70, 0.08);
	&:last-child {
		margin-bottom: 0;
	}

	.button-container {
		padding: 16px;
		border-top: 1px solid $color-soft-grey;
	}
}

.item-container {
	width: 100%;
	padding: 16px 16px 14px;
	cursor: pointer;
	&.disabled {
		pointer-events: none;
	}
}

.payment-status {
	@include flex-container;
	padding: 10px 16px;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;

	&.success {
		color: #1baa56;
		background-color: #e8f7ee;
	}

	&.warning {
		color: #e04205;
		background-color: #fdede7;
	}

	&.disabled {
		color: #595959;
		background-color: #ebeaec;
	}

	div {
		flex: 1 1 auto;
		img {
			vertical-align: sub;
		}
		&:last-child {
			text-align: right;
		}
	}
}

.tenant-name {
	margin-bottom: 8px;
	font-weight: bold;
}

.kost-detail {
	@include flex-container(wrap);
	width: 100%;
	padding: 16px 0;
	margin: 16px 0 13px;
	border-top: 1px dashed $color-soft-grey;
	border-bottom: 1px dashed $color-soft-grey;
	div {
		flex: 0 1 50%;
		padding-bottom: 8px;
		&:nth-child(odd) {
			color: #999;
		}

		&:nth-child(even) {
			font-weight: bold;
			text-align: right;
		}

		&:nth-last-child(-n + 2) {
			padding-bottom: 0;
		}
	}
}

.created-by {
	@include flex-container;
	padding-bottom: 4px;
	div {
		flex: 0 1 auto;
		&:last-child {
			flex: 0 0 auto;
		}
	}
}

.add-contract-button {
	padding: 16px 0 0;
	img {
		margin-right: 4px;
		vertical-align: sub;
	}
}

.contract-empty {
	width: 100%;
	padding: 48px 0 24px;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}

.cancel-terminate-snackbar {
	padding-top: 24px;
	h4 {
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		color: #000;
	}
	p {
		margin-bottom: 40px;
		color: #ec4a0c;
	}
}

.contract-list-pagination {
	margin-top: 16px;
}
</style>

<style lang="scss">
.contract-list-page {
	// HIJACKING SNACKBAR FOR FULL SCREEN FILTER
	.consultant-search-and-filter {
		.consultant-snackbar {
			.consultant-snackbar__body {
				top: 0;
				min-height: 100vh;
				overflow-y: auto;
				border-radius: 0;
				transition: transform 0.6s ease-in-out;
			}
			&.consultant-snackbar--open {
				.consultant-snackbar__body {
					transition: transform 0.6s ease-in-out;
				}
			}
		}
	}

	.contract-list-item {
		.consultant-btn .btn {
			font-size: 12px;
			font-weight: bold;
		}
	}
}
</style>
