<template>
	<div class="edit-invoice-page">
		<router-view></router-view>
	</div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
	name: 'EditInvoiceBase',

	beforeDestroy() {
		this.resetInvoiceState();
	},

	methods: {
		...mapMutations('invoice', ['resetInvoiceState'])
	}
};
</script>
