<template>
	<div class="edit-amount">
		<div class="row">
			<div class="col-xs-12">
				<input-currency
					v-model="updatedAmount"
					currency="Rp"
					separator="."
					:min="0"
					label="Harga Sewa"
					mandatory-sign
				></input-currency>
			</div>
			<div class="col-xs-12 submit-button-container">
				<consultant-button
					large
					block
					:loading="loadingSubmit"
					loading-text="Menyimpan..."
					:disabled="!updatedAmount"
					@click="handleSubmit"
				>
					Simpan
				</consultant-button>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex';

import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import InputCurrency from 'Consultant/components/InputCurrency.vue';

import EventBus from 'Consultant/event-bus';

import handleUniqueId from './mixins/handleUniqueQuery';

export default {
	name: 'EditAmount',

	components: {
		ConsultantButton,
		InputCurrency
	},

	mixins: [handleUniqueId],

	data() {
		return {
			updatedAmount: '',
			loadingSubmit: false
		};
	},

	computed: {
		...mapState('invoice', ['amount']),
		invoiceId() {
			return this.$route.params.invoiceId;
		}
	},

	watch: {
		amount: {
			immediate: true,
			handler(value) {
				this.updatedAmount = value;
			}
		}
	},

	methods: {
		async handleSubmit() {
			try {
				this.loadingSubmit = true;
				const amount = { amount: this.updatedAmount };
				const result = await this.saveAmount(amount, this.invoiceId);
				if (result.success) {
					const query = this.$route.query;
					if (query.from_booking && query.tenant_id && query.contract_status) {
						this.$router.push({
							name: 'invoice',
							params: {
								id: query.tenant_id,
								booking: query.from_booking,
								contract_status: query.contract_status
							}
						});
					} else {
						this.$router.go(-1);
					}
				} else {
					EventBus.$emit('openAlert', 'Terjadi galat. Silakan coba lagi.');
				}
				this.loadingSubmit = false;
			} catch (error) {
				/* istanbul ignore next */
				console.error(error);
			}
		},

		async saveAmount(amount, id) {
			const data = { success: false, data: null };
			try {
				const response = await axios.post(
					`/api/contract/invoice/update/${id}/amount`,
					amount
				);

				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.data = response.data.data;
				} else {
					data.success = false;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}

			return data;
		}
	}
};
</script>
<style lang="scss" scoped>
.edit-amount {
	> .row {
		margin-top: 20px;
	}

	.submit-button-container {
		margin-top: 50px;
	}
}
</style>
