<template>
	<div class="edit-prices">
		<div class="row">
			<div class="col-xs-12">
				<add-other-cost
					v-model="fineCost"
					label="Tambahan Biaya Tetap"
					@delete="handleDeleteCost($event, 'fixed')"
				>
					<template slot="activator">Tambah Biaya Tetap</template>
				</add-other-cost>
			</div>
			<div class="col-xs-12">
				<add-other-cost
					v-model="otherCost"
					label="Tambahan Biaya Lainya"
					@delete="handleDeleteCost($event, 'other')"
				>
					<template slot="activator">Tambah Biaya Lain</template>
				</add-other-cost>
			</div>
			<div class="col-xs-12 mt-3">
				<consultant-button
					large
					block
					:loading="loadingSubmit"
					loading-text="Menyimpan..."
					@click="handleSubmitInvoice"
				>
					Simpan
				</consultant-button>
			</div>
		</div>
	</div>
</template>

<script>
import AddOtherCost from './AdditionalCost.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';

import EventBus from 'Consultant/event-bus';

import handleUniqueId from './mixins/handleUniqueQuery';

import { mapState } from 'vuex';

export default {
	name: 'EditCosts',

	components: {
		AddOtherCost,
		ConsultantButton
	},

	mixins: [handleUniqueId],

	data() {
		return {
			fineCost: [],
			otherCost: [],
			loadingSubmit: false,
			displayError: false,
			costsDeleted: []
		};
	},

	computed: {
		...mapState('invoice', ['additionalCosts']),
		invoiceId() {
			return this.$route.params.invoiceId;
		}
	},

	watch: {
		additionalCosts: {
			immediate: true,
			handler(value) {
				if (value.length) {
					this.mappingCosts(value);
				}
			}
		}
	},

	methods: {
		mappingCosts(costs) {
			for (const cost of costs) {
				const costData = {
					additional_cost_id: cost.id,
					invoice_id: cost.invoice_id,
					cost_title: cost.cost_title,
					cost_value: cost.cost_value,
					cost_type: cost.cost_type,
					action: 'UPDATE'
				};
				/* istanbul ignore else */
				if (cost.cost_type === 'fixed') {
					this.fineCost.push(costData);
				} else if (cost.cost_type) {
					this.otherCost.push(costData);
				}
			}
		},

		async handleSubmitInvoice() {
			try {
				this.loadingSubmit = true;
				const costData = this.generateCostData(
					this.fineCost,
					this.otherCost,
					this.costsDeleted,
					this.invoiceId
				);
				const result = await this.saveAdditionalCost({
					additional_costs: costData
				});
				if (result.success) {
					const query = this.$route.query;
					if (query.from_booking && query.tenant_id && query.contract_status) {
						this.$router.push({
							name: 'invoice',
							params: {
								id: query.tenant_id,
								booking: query.from_booking,
								contract_status: query.contract_status
							}
						});
					} else {
						this.$router.go(-1);
					}
				} else {
					EventBus.$emit('openAlert', 'Terjadi galat. Silakan coba lagi.');
				}
				this.loadingSubmit = false;
			} catch (error) {
				/* istanbul ignore next */
				console.error(error);
			}
		},

		async saveAdditionalCost(costData) {
			const data = { success: false, data: null };
			try {
				const response = await axios.post(
					'/api/contract/invoice/update/additional-cost',
					costData
				);

				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.data = response.data.data;
				} else {
					data.success = false;
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}

			return data;
		},

		generateCostData(fixedCost, otherCost, deletedCost, invoiceId) {
			return [
				...fixedCost.map(cost => ({
					...cost,
					cost_type: 'fixed',
					invoice_id: invoiceId
				})),
				...otherCost.map(cost => ({
					...cost,
					cost_type: 'other',
					invoice_id: invoiceId
				})),
				...deletedCost
			];
		},

		handleDeleteCost(cost, type) {
			/* istanbul ignore else */
			if (cost.additional_cost_id) {
				this.costsDeleted.push({
					...cost,
					action: 'DELETE',
					cost_type: type
				});
			}
		}
	}
};
</script>
