<template>
	<div>
		<div
			v-if="isReady && isShowHeaderNavigation"
			class="header-navigation visible-xs"
		>
			<a
				class="header-navigation__link"
				:href="`${ownerDashboardUrl}/manage-kos`"
			>
				<bg-icon class="header-navigation__icon" name="back" />
				<span class="header-navigation__title">
					{{ titleNameHeader }}
				</span>
			</a>
		</div>

		<navbar-owner ref="navbar-owner" is-chat-only-on-mobile />
		<navbar-owner-bottom
			v-if="!isHideBottomNav && isReady"
			ref="navbar-owner-bottom"
			class="visible-xs"
			is-emit-chat-clicked
			:is-chat-open="isChatOpen"
			@chat-clicked="handleBottomNavChatClicked"
			@chat-close="closeChat"
		/>

		<div
			:class="{ 'with-header-navigation': isShowHeaderNavigation }"
			class="owner-content"
		>
			<container-owner-page
				v-if="isReady"
				:class="[
					'owner-content__wrapper',
					{ 'owner-content__wrapper--no-bottom-nav': isHideBottomNav }
				]"
			></container-owner-page>

			<div v-else class="mami-loading-wrapper flex-center">
				<div class="hidden-md hidden-lg">
					<mami-loading-inline
						:message="'Memuat halaman pemilik...'"
					></mami-loading-inline>
				</div>
				<div class="hidden-xs hidden-sm custom-loading">
					<owner-tips-loading></owner-tips-loading>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { BgIcon } from 'bangul-vue';
import { getProductNameTranslation } from 'Js/@utils/getProductNameTranslation';
const NavbarOwner = () => import('Js/@components/NavbarOwner');
const NavbarOwnerBottom = () => import('Js/@components/NavbarOwnerBottom');

export default {
	components: {
		BgIcon,
		NavbarOwner,
		NavbarOwnerBottom
	},

	data() {
		return {
			isReady: false,
			ownerDashboardUrl: oxWebUrl,
			propertySayaRoute: ['/kos', '/apartment', '/vacancy', '/add']
		};
	},

	computed: {
		isHideBottomNav() {
			return [
				'/settings/document-verification',
				...this.propertySayaRoute
			].includes(this.$route.path);
		},
		isShowHeaderNavigation() {
			return this.propertySayaRoute.includes(this.$route.path);
		},
		titleNameHeader() {
			if (this.$route.query.title) {
				return this.$route.query.title;
			} else {
				return getProductNameTranslation(this.$route.name);
			}
		},
		isChatOpen() {
			const navbarOwner = this.$refs['navbar-owner'];
			return !!(navbarOwner && navbarOwner.isChatOpen);
		}
	},

	watch: {
		isHideBottomNav(value) {
			if (value) {
				const sbWidgetElement = document.querySelector('#sb_widget');
				if (sbWidgetElement) {
					sbWidgetElement.classList.add('show_sb_widget');
				}
			}
		}
	},

	created() {
		axios
			.get('/owner/data/profile')
			.then(async response => {
				if (response.data.status) {
					this.$store.commit('setProfile', response.data);
					this.$store.commit(
						'setNotifCount',
						response.data.user.notification_count
					);
					this.$store.commit(
						'setMembershipStatus',
						response.data.membership.status
					);
					this.$store.commit(
						'setBalanceStatus',
						response.data.membership.balance_status
					);
					this.$store.commit(
						'setIsBookingAllRoom',
						response.data.is_booking_all_room
					);

					if (this.$route.path === '/') {
						const hasKost = response.data.user.kost_total > 0;
						const hasApartement = response.data.user.apartment_total > 0;
						const hasVacancy = response.data.user.vacancy_total > 0;

						if (this.$route.query['payment-premium'] === 'true') {
							this.$router.push({ name: 'payment' });
						} else {
							if (hasKost) {
								this.$router.push({ name: 'kos' });
							} else if (hasApartement) {
								this.$router.push({ name: 'apartment' });
							} else if (hasVacancy) {
								this.$router.push({ name: 'vacancy' });
							} else {
								this.$router.push({ name: 'add' });
							}
						}
					}

					await this.getMamipayDetail();
					await this.getBbkStatus();
					this.moengageOwnerAttr(response.data);

					this.isReady = true;
				} else if (!response.data.membership) {
					// If user accessing this component with no membership data (means they're not being in authenticated state), then redirect to login page.
					window.location.href = '/login-pemilik';
				} else {
					bugsnagClient.notify(`Error status: ${response.status}`);

					if (
						confirm(
							'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi. Reload?'
						)
					) {
						window.location.reload();
					}
				}
			})
			.catch(error => {
				bugsnagClient.notify(error);
				alert(
					'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
				);
			});
		this.cekAbTest();
		this.getInvoice();
	},

	beforeDestroy() {
		const selectorWidget = document.querySelector('#sb_widget');
		if (selectorWidget && selectorWidget.classList.contains('show_sb_widget')) {
			selectorWidget.classList.remove('show_sb_widget');
		}
	},

	mounted() {
		Cookies.remove('ownerUpdateListSuggestions');
		setInterval(() => {
			axios
				.get('/owner/data/profile')
				.then(async response => {
					if (response.data.status) {
						this.$store.commit('setProfile', response.data);
						this.$store.commit(
							'setNotifCount',
							response.data.user.notification_count
						);

						await this.getMamipayDetail();

						this.isReady = true;
					} else {
						bugsnagClient.notify(JSON.stringify(response));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 1800000);
	},

	methods: {
		handleBottomNavChatClicked(isClose) {
			const navbarOwner = this.$refs['navbar-owner'];

			if (navbarOwner) {
				if (isClose) {
					if (this.isChatOpen) {
						navbarOwner.handleToggleChat();
					}
				} else {
					navbarOwner.handleToggleChat();
				}
			}
		},
		closeChat() {
			this.handleBottomNavChatClicked(true);
		},
		cekAbTest() {
			axios
				.get('/owner/premium/ab-test/check')
				.then(response => {
					this.$store.commit('setAbTestResult', response.data.result);
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getInvoice() {
			axios
				.get('/owner/premium/invoice')
				.then(response => {
					if (response.status) {
						this.$store.commit('setInvoice', _get(response, 'data', {}));
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		moengageOwnerAttr(data) {
			Moengage.add_user_attribute('created_at', data.user.created_at);
			Moengage.add_user_attribute('is_verify', data.user.is_verify);
			Moengage.add_user_attribute('kost_total', data.user.kost_total);
			Moengage.add_user_attribute(
				'kost_total_active',
				data.user.kost_total_active
			);
			Moengage.add_user_attribute('apartment_total', data.user.apartment_total);
			Moengage.add_user_attribute('vacancy_total', data.user.vacancy_total);
			Moengage.add_user_attribute('status', data.membership.status);
			Moengage.add_user_attribute(
				'premium_expired_date',
				data.membership.expired_date
			);
			Moengage.add_user_attribute(
				'premium_balance',
				data.membership.balance_price
			);
			Moengage.add_user_attribute(
				'premium_package_id',
				data.membership.package_id
			);
		},
		getBbkStatus() {
			// get bbk kos status
			return axios.get('/owner/bbk/status').then(res => {
				if (!res.data.status) return;
				this.$store.commit('setBbkKosStatus', res.data.bbk_status);
			});
		},
		async getMamipayDetail() {
			axios
				.get('/owner/detail?access=mamikos', {
					baseURL: '/user/mamipay/request'
				})
				.then(response => {
					if (response.data.status) {
						this.$store.commit('setMamipayDetail', response.data);
					} else {
						bugsnagClient.notify(JSON.stringify(response));
						this.swalError(
							null,
							'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
						);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
@media (max-width: 767px) {
	#sb_widget {
		right: 999999px;

		&.show_sb_widget {
			right: 20px;
		}

		.channel-board {
			height: calc(100% - 56px);

			&.sb-fade-in {
				box-shadow: none;
			}

			.ic-minimize {
				display: none !important;
			}
		}
	}
}
/* stylelint-enable */

.new-label.desktop-label {
	position: relative;
	top: -15px;
}
@media (max-width: 767px) {
	.new-label {
		right: auto;
	}
}
/* stylelint-disable */
a:focus {
	outline: none !important;
}
</style>

<style lang="scss" scoped>
.owner-content__wrapper {
	@media (max-width: 767px) {
		padding-bottom: 56px;

		&--no-bottom-nav {
			padding-bottom: 0;
		}
	}
}
.mami-loading-wrapper .custom-loading {
	max-width: 768px;
}
.with-header-navigation {
	padding-top: 56px;
}
.header-navigation {
	min-height: 56px;
	padding: 16px 18px;
	position: fixed;
	background: #fff;
	z-index: 10;
	border-bottom: 1px solid #ddd;
	width: 100%;
	&__link {
		display: flex;
		align-items: center;
		color: #303030;
	}
	&__title {
		font-size: 16px;
		font-weight: 600;
		margin-left: 10px;
	}
}
</style>
