<template>
	<div class="topup-container">
		<div class="purchase-box">
			<label class="purchase-label topup-label">Beli Saldo Iklan</label>
			<select class="form-control purchase-val" v-model="balance">
				<option disabled value="">Pilih nominal saldo</option>
				<option value="50.000">Rp. 50.000</option>
				<option value="100.000">Rp. 100.000</option>
				<option value="150.000">Rp. 150.000</option>
				<option value="200.000">Rp. 200.000</option>
				<option value="250.000">Rp. 250.000</option>
				<option value="300.000">Rp. 300.000</option>
				<option value="350.000">Rp. 350.000</option>
				<option value="400.000">Rp. 400.000</option>
				<option value="450.000">Rp. 450.000</option>
				<option value="500.000">Rp. 500.000</option>
			</select>
		</div>
		<div class="balance-box">
			<label class="balance-label topup-label">Harga</label><br />
			<label class="balance-val">Rp.&nbsp;{{ balance }}</label>
		</div>
		<div class="control-btn">
			<br class="hidden-xs" /><button class="btn btn-mamigreen">CANCEL</button>
			<button class="btn btn-mamiorange">OK</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			balance: ''
		};
	}
};
</script>

<style scoped>
.topup-container {
	padding-top: 20px;
}
.topup-label {
	font-size: 18px;
}
.balance-val {
	color: #1baa56;
	font-size: 18px;
}
.purchase-box,
.balance-box,
.control-btn {
	padding: 15px;
}
.purchase-box select {
	width: 200px;
}
.control-btn button {
	font-weight: bold;
}

@media (min-width: 768px) {
	.topup-container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.purchase-box {
		width: 250px;
	}
	.balance-box {
		width: 150px;
	}
	.control-btn {
		width: 240px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		-ms-justify-content: flex-end;
		justify-content: flex-end;
	}
	.control-btn button {
		margin: 2px;
		margin-top: 15px;
	}
}
</style>
