<template>
	<div
		id="containerOwnerPage"
		:class="['app-wrapper', { 'app-wrapper--bg-grey': isAtSettingsPages }]"
	>
		<alert
			v-model="isAlert"
			:type="'warning'"
			placement="top"
			width="100%"
			duration="0"
			:dismissable="true"
		>
			<a class="alert-message" @click="addEmail"
				>Tingkatkan keamanan. Masukkan email&nbsp;&nbsp;<i
					class="fa fa-chevron-right"
				></i
			></a>
		</alert>
		<div class="container-fluid stretch owner-container">
			<div
				class="owner-content"
				:class="{ 'owner-content--full': isOnPurchaseDetail }"
			>
				<owner-header v-if="isHeaderShown" />
				<owner-body
					class="col-xs-12"
					:on-purchase-detail="isOnPurchaseDetail"
				/>
			</div>
			<owner-menu v-if="!isOnPurchaseDetail" class="hidden-xs" />
			<owner-modal-email-verification ref="ownerModalEmailVerification" />
		</div>
	</div>
</template>

<script>
import { alert } from 'vue-strap';
import ownerModalEmailVerification from './OwnerModalEmailVerification';
import mixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import OwnerMixinSupportChat from '../mixins/OwnerMixinSupportChat';

export default {
	components: {
		alert,
		ownerModalEmailVerification
	},

	mixins: [mixinGetQueryString, OwnerMixinSupportChat],

	data() {
		return {
			isAlert: true
		};
	},
	computed: {
		email() {
			return this.$store.state.profile.user.email;
		},
		isOnPurchaseDetail() {
			return (
				this.$route.name === 'balance_confirmation' ||
				this.$route.name === 'premium_confirmation'
			);
		},
		isAtSettingsPages() {
			return this.$route.path.includes('settings');
		},
		isHeaderShown() {
			return !this.isOnPurchaseDetail && !this.isAtSettingsPages;
		}
	},

	created() {
		this.toggleAlert();
		window.currentChatSource = 'owner dashboard';
	},

	mounted() {
		const bannerIsHidden = Cookies.get('bannerHidden');

		if (bannerIsHidden) {
			$('.app-wrapper').addClass('banner-is-hidden');
			Cookies.set('bannerHidden', true, {
				expires: 1,
				path: '/'
			});
		}

		this.checkEmailVerification();

		if (this.getQueryString('chat-cs') === 'true') {
			this.openZendeskChat();
		}
	},

	methods: {
		addEmail() {
			this.$router.push('settings');
			this.isAlert = false;
		},
		toggleAlert() {
			if (this.email === '') {
				this.isAlert = true;
			} else {
				this.isAlert = false;
			}
		},
		checkEmailVerification() {
			if (window.location.href.indexOf('?email_verification=success') !== -1) {
				this.$refs.ownerModalEmailVerification.openModal();
			}
		}
	}
};
</script>

<style>
/* stylelint-disable-next-line */
#containerOwnerPage .alert.top {
	top: 90px;
	z-index: 110 !important;
}
</style>

<style lang="scss" scoped>
.app-wrapper {
	min-height: calc(100vh - 92px); // window height minus navbar

	@media (max-width: 767px) {
		margin-top: 0 !important;
	}

	&--bg-grey {
		@media (min-width: 768px) {
			background-color: #f6f6f6;
		}
	}
}

.owner-content {
	display: flex;
	margin-left: 262px;
	flex-direction: column;
}
.owner-content--full {
	margin-left: 0;
}
.owner-container {
	position: relative;
	margin: auto;
}
.alert-message {
	display: flex;
	font-weight: bold;
	color: #fff;
	align-items: center;
	justify-content: center;
}
.alert-message:hover,
.alert-message:focus {
	text-decoration: none;
}

@media (min-width: 768px) {
	.with-header-navigation {
		.owner-container {
			padding-top: 35px;
		}
	}
	.owner-container {
		padding-top: 91px;
	}
}
@media (max-width: 768px) {
	.owner-content {
		margin-left: 0;
	}
}
</style>

<style>
.alert-warning {
	top: 85px !important;
	color: #fff;
	background-color: rgb(254, 82, 42, 0.8);
	border-color: rgb(254, 82, 42, 0.8);
	border-radius: 0;
}
.close {
	color: #fff !important;
	opacity: 1;
}
</style>
