<template>
	<div>
		<div class="search-room-container">
			<form
				class="form-inline search-room hidden-xs"
				@submit.prevent="searchRoom"
			>
				<div class="form-group">
					<input
						type="text"
						name="kost-name"
						class="form-control"
						placeholder="Masukkan nama kost atau unit apartemen"
						required
						minlength="3"
						maxlength="200"
						v-model="criteria"
					/>
				</div>
				<button type="submit" class="btn btn-mamigreen">
					<i class="fa fa-search" aria-hidden="true"></i>&nbsp;Cari Iklan
				</button>
				<span>Atau</span>
				<button
					type="button"
					class="btn btn-mamigreen-inverse"
					id="ownerAddBtnLg"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Klik untuk Tambahkan Data Iklan Kost / Apartemen / Loker"
					@click="openModalOwnerAdd"
				>
					<i class="fa fa-plus"></i> Tambah Iklan Baru
				</button>
			</form>
			<form
				class="search-room-xs hidden-sm hidden-md hidden-lg visible-xs"
				@submit.prevent="searchRoom"
			>
				<div class="form-group">
					<input
						type="text"
						name="kost-name"
						class="form-control"
						placeholder="Masukkan nama kost atau unit apartemen"
						required
						minlength="3"
						maxlength="200"
						v-model="criteria"
					/>
				</div>
				<button type="submit" class="btn btn-mamigreen ad-search">
					<i class="fa fa-search" aria-hidden="true"></i>&nbsp;Cari Iklan
				</button>
				<span class="or-text">Atau</span>
				<button
					type="button"
					class="btn btn-mamigreen-inverse ad-add"
					data-toggle="tooltip"
					data-placement="bottom"
					title="Klik untuk Tambahkan Data Iklan Kost / Apartemen / Loker"
					@click="openModalOwnerAdd"
				>
					<i class="fa fa-plus"></i> Tambah Iklan Baru
				</button>
			</form>

			<div
				class="stretch col-xs-12 flex-center search-room-loading"
				v-if="isLoading"
			>
				<mami-loading-inline></mami-loading-inline>
			</div>
			<div v-else>
				<room-list :rooms="result" v-if="isResultExists"></room-list>
				<owner-list-null :custom="resultAlert" v-else></owner-list-null>
			</div>
		</div>

		<owner-modal-add
			ref="ownerModalAdd"
			@openAutoBookingModal="openAutoBookingModal"
			@hook:mounted="checkInputPropertyFromDashboard"
		></owner-modal-add>

		<owner-modal-trial ref="ownerModalTrial" />
		<owner-auto-booking-modal
			v-if="autoBookingModalActive"
			:show-modal.sync="autoBookingModalActive"
		></owner-auto-booking-modal>
	</div>
</template>

<script>
const OwnerAutoBookingModal = () => import('./OwnerAutoBookingModal');

export default {
	components: {
		OwnerAutoBookingModal
	},
	data() {
		return {
			isLoading: false,
			isResultExists: false,
			result: [],
			resultAlert: 'Data iklan tidak ditemukan',
			criteria: '',
			autoBookingModalActive: false
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile ? true : false;
		},
		token() {
			return this.$store.state.token;
		},
		openModalAdd() {
			return this.$route.params.openModalAdd;
		},
		isKos() {
			return this.$route.params.isKos;
		},
		isApartment() {
			return this.$route.params.isApartment;
		},
		isVacancy() {
			return this.$route.params.isVacancy;
		},
		profile() {
			return this.$store.state.profile;
		},
		isBBKActive() {
			return this.profile && this.profile.membership.is_mamipay_user;
		}
	},
	created() {
		this.isLoading = true;
		this.isResultExists = true;
		axios
			.get('/owner/suggested')
			.then(response => {
				if (response.data.rooms.length != 0) {
					this.isLoading = false;
					this.isResultExists = true;
					this.result = response.data.rooms;
				} else {
					this.isLoading = false;
					this.isResultExists = false;
					this.resultAlert =
						'Data iklan milik Anda belum ditemukan. Silakan cari atau tambahkan iklan baru.';
				}
				this.closeSwalLoading();
			})
			.catch(error => {
				bugsnagClient.notify(error);
			});
	},
	mounted() {
		this.showBtnTooltip();
		if (this.openModalAdd) {
			this.hideButtonAddTooltip();

			if (this.isKos) {
				this.$refs.ownerModalAdd.openModal('Kost');
			}
			if (this.isApartment) {
				this.$refs.ownerModalAdd.openModal('Apartment');
			}
			if (this.isVacancy) {
				this.$refs.ownerModalAdd.openModal('Vacancy');
			}
		}
	},
	methods: {
		showBtnTooltip() {
			$('[data-toggle="tooltip"]').tooltip();
			if (this.isMobile) {
				$('#ownerAddBtnXs').tooltip('show');
			} else {
				$('#ownerAddBtnLg').tooltip('show');
			}
			setTimeout(() => {
				if (this.isMobile) {
					$('#ownerAddBtnXs').tooltip('hide');
				} else {
					$('#ownerAddBtnLg').tooltip('hide');
				}
			}, 5000);
		},
		searchRoom() {
			if (this.criteria.length >= 3 && this.criteria.length <= 200) {
				this.result = [];
				this.isResultExists = true;
				this.openSwalLoading('Sedang mencari...', null);
				axios
					.post('/owner/search', {
						filters: { room_name: this.criteria },
						_token: this.token
					})
					.then(response => {
						if (response.data.rooms.length != 0) {
							this.isResultExists = true;
							this.result = response.data.rooms;
						} else {
							this.isResultExists = false;
							this.resultAlert =
								'Data iklan tidak ditemukan. Silakan cari dengan kriteria pencarian lainnya atau tambahkan iklan baru.';
						}
						this.closeSwalLoading();
					})
					.catch(error => {
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			}
		},
		hideButtonAddTooltip() {
			if (this.isMobile) {
				$('#ownerAddBtnXs').tooltip('hide');
			} else {
				$('#ownerAddBtnLg').tooltip('hide');
			}
		},
		openModalOwnerAdd() {
			this.hideButtonAddTooltip();
			this.$refs.ownerModalAdd.openModal();
		},

		// This method is called by @hook:mounted event since OwnerModalAdd is loaded asynchronously
		checkInputPropertyFromDashboard() {
			if (this.$route.query['input-property'] === 'true') {
				const elementModal = this.$refs.ownerModalAdd.$el;
				elementModal.querySelector('button[type=submit]').click();
			}
		},

		openAutoBookingModal() {
			this.autoBookingModalActive = true;
		}
	}
};
</script>

<style scoped>
.search-room-container {
	padding-top: 20px;
}
.search-room span {
	padding: 0 15px;
	font-weight: bold;
}
.search-room-xs span {
	font-weight: bold;
	padding: 0 10px;
}
@media (max-width: 480px) {
	.search-room-xs span {
		font-weight: bold;
		margin-right: 300px;
	}
	.ad-add {
		margin-top: 10px;
	}
	.ad-search {
		margin-bottom: 10px;
	}
}
@media (max-width: 991px) {
	.search-room .form-group input {
		width: 260px;
	}
}
@media (min-width: 992px) {
	.search-room .form-group input {
		width: 450px;
	}
}
.search-room-loading {
	padding-top: 30px;
}
</style>
