<template>
	<div class="body-container">
		<router-view :key="$route.fullPath"></router-view>

		<owner-modal-trial
			v-if="canTrial && isKostActive > 0 && isVerify"
			ref="ownerModalTrial"
		/>

		<owner-modal-need-password
			v-if="profile.user.need_password"
			ref="ownerModalNeedPassword"
			@closed="handleModalNeedPasswordClose"
		></owner-modal-need-password>

		<owner-modal-phone-verify
			v-if="!profile.user.is_verify"
			ref="ownerModalPhoneVerify"
			@closed="handleModalPhoneVerifyClose"
		></owner-modal-phone-verify>

		<owner-modal-survey-premium
			v-if="profile.survey !== null"
			ref="ownerModalSurveyPremium"
			:package-name="profile.membership.package_name"
			:package-id="profile.membership.active_package"
			:surveys="surveyPremium"
			@closed="handleModalSurveyPremiumClose"
		></owner-modal-survey-premium>

		<owner-modal-survey-room
			v-if="profile.survey !== null"
			ref="ownerModalSurveyRoom"
			:el="'ownerModalSurveyRoomBody'"
			:param-id="profile.membership.active_package"
			:data-for="'premium_expired'"
			:has-query-string="true"
			@closed="handleModalSurveyRoomClose"
		></owner-modal-survey-room>
	</div>
</template>

<script>
export default {
	props: {
		onPurchaseDetail: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		isMobile() {
			return navigator.isMobile;
		},
		token() {
			return this.$store.state.token;
		},
		profile() {
			return this.$store.state.profile;
		},
		surveyPremium() {
			return this.$store.state.profile.survey == null
				? []
				: this.$store.state.profile.survey;
		},
		canTrial() {
			return this.$store.state.profile.user.can_trial;
		},
		isKostActive() {
			return this.$store.state.profile.user.kost_total_active;
		},
		isVerify() {
			return this.$store.state.profile.user.is_verify;
		}
	},
	created() {
		const isNameChanged = Cookies.get('isNameChanged');

		if (isNameChanged !== '1') {
			axios
				.post('/owner/chat/change_name', {
					_token: this.token,
					name: this.profile.user.chat_name,
					email: this.profile.user.email
				})
				.then(response => {
					Cookies.set('isNameChanged', '1', { expires: 1 });
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	},
	mounted() {
		if (this.profile.user.need_password) {
			this.$refs.ownerModalNeedPassword.openModal();
		} else if (!this.profile.user.is_verify) {
			this.$refs.ownerModalPhoneVerify.openModal();
		} else if (this.profile.user.is_verify) {
			if (this.canTrial && this.isKostActive > 0 && this.isVerify) {
				if (Cookies.get('pop-up-trial') === undefined) {
					this.$refs.ownerModalTrial && this.$refs.ownerModalTrial.openModal();
				}
			} else if (this.profile.survey !== null) {
				this.$refs.ownerModalSurveyPremium.openModal();
			}
		}
	},
	methods: {
		handleModalTrialPremiumClose() {
			if (this.profile.survey) {
				this.$refs.ownerModalSurveyPremium.openModal();
			}
		},
		handleModalNeedPasswordClose(state) {
			if (state.closed && state.changed) {
				setTimeout(() => {
					this.reloadOwnerProfile();
				}, 3000);
				if (!this.profile.user.is_verify) {
					this.$refs.ownerModalPhoneVerify.openModal();
				}
			}
		},
		handleModalPhoneVerifyClose(state) {
			if (state.closed && state.changed) {
				setTimeout(() => {
					this.reloadOwnerProfile();
				}, 3000);
			}
		},
		handleModalSurveyPremiumClose(state) {
			if (state.closed && state.changed && !state.survey) {
				setTimeout(() => {
					this.reloadOwnerProfile();
				}, 3000);
			} else if (state.closed && state.changed && state.survey) {
				this.$refs.ownerModalSurveyRoom.openModal();
			}
		},
		handleModalSurveyRoomClose(state) {
			if (state.closed && state.changed) {
				setTimeout(() => {
					this.reloadOwnerProfile();
				}, 3000);
			}
		}
	}
};
</script>

<style lang="scss">
// create button list kos, apartemen, pekerjaan
.btn-create-list {
	padding: 12px 24px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;

	/* stylelint-disable-next-line */
	img {
		position: relative;
		top: -1px;
		margin-right: 5px;
	}
}
.create-list-wrapper {
	.head-label,
	.create-list-label {
		display: none;
	}
	@media (max-width: 767px) {
		padding: 0 15px;
		margin-right: -15px;
		margin-bottom: 15px;
		margin-left: -15px;
		border-bottom: 1px solid #f2f2f2;
		&.detail {
			border-bottom: 0;
			.head-label {
				margin-bottom: 10px;
			}
		}
		.head-label {
			display: block;
			margin-bottom: 18px;
			font-size: 20px;
			font-weight: bold;
			color: #000;
		}
		.create-list-label {
			display: block;
			margin-bottom: 8px;
			font-size: 16px;
		}
		.btn-create-list {
			padding: 6px 12px;
			font-size: 14px;
		}
	}
}
</style>

<style lang="scss" scoped>
.body-container {
	position: relative;
}

@media (min-width: 768px) {
	.body-container {
		padding-top: 10px;
		padding-right: 32px;
		padding-bottom: 150px;
		padding-left: 28px;
	}
}
</style>
