<template>
	<form @submit.prevent="submitSpecialPromo">
		<modal
			id="specialPromoModal"
			v-model="showModal"
			class="special-promo-modal"
			effect="fade"
			:backdrop="false"
		>
			<div slot="modal-header" class="modal-header">
				<h3>
					<strong>Promo {{ detail.room_title }}</strong>
				</h3>
				<p>Silakan tulis tawaran promo Anda untuk calon penyewa</p>
			</div>

			<div slot="modal-body" class="modal-body">
				<div class="form-group">
					<label for="title">
						Judul Promo
						<em>
							<small>(maksimal 30 huruf)</small>
						</em>
					</label>
					<br />
					<input
						v-model="promoTitle"
						type="text"
						name="title"
						required
						maxlength="30"
						class="input-title"
					/>
				</div>

				<div class="form-group">
					<label for="detail">Detail Promo</label>
					<br />
					<textarea
						id="detail"
						v-model="promoDetail"
						name="detail"
						maxlength="500"
						placeholder="Jelaskan lebih detail tentang syarat dan ketentuan promo kost anda kepada calon penyewa di sini"
						required
						class="input-detail"
					></textarea>
					<p>
						<small>
							Contoh : Diskon 50% untuk penyewa baru, gratis bantal & guling,
							diskon uang listrik bulan pertama kost, dll.
						</small>
					</p>
				</div>

				<div class="form-group">
					<label>Periode Promo</label>
					<div class="date-container">
						<div class="start">
							<strong>Mulai</strong>
							<datepicker
								v-model="promoStartDate"
								:language="id"
								:disabled-dates="disableDate"
							></datepicker>
						</div>
						<div class="end">
							<strong>Berakhir</strong>
							<datepicker
								v-model="promoEndDate"
								:language="id"
								:disabled-dates="disableDate"
							></datepicker>
						</div>
					</div>
					<span v-if="invalidPromoDuration">
						<p class="text-danger">Durasi yang Anda masukan tidak valid.</p>
					</span>
				</div>
			</div>

			<div slot="modal-footer" class="modal-footer">
				<button type="submit" class="btn btn-mamigreen">
					<span v-if="!isLoading">Pasang Promo</span>
					<i v-else class="fa fa-circle-o-notch fa-spin"></i>
				</button>
				<br />
				<button
					v-if="!isLoading"
					type="button"
					class="btn btn-mamigreen-inverse"
					@click="toggleModal(false)"
				>
					Batal
				</button>
			</div>
		</modal>
	</form>
</template>

<script>
import { modal } from 'vue-strap';
import Datepicker from 'vuejs-datepicker';
import { id } from 'vuejs-datepicker/dist/locale';
import * as moment from 'moment';

export default {
	components: {
		modal,
		Datepicker
	},

	props: {
		detail: {
			type: Object,
			required: true
		},

		seq: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			id: id,
			token: document.head.querySelector('meta[name="csrf-token"]').content,
			showModal: false,
			isLoading: false,
			isDoneSubmit: false,
			promoTitle: '',
			promoDetail: '',
			promoStartDate: '',
			promoEndDate: '',
			promoDisableDate: {},
			invalidPromoDuration: false
		};
	},

	computed: {
		disableDate() {
			this.promoDisableDate.to = new Date();
			return this.promoDisableDate;
		},

		validPromoDuration() {
			const validDuration =
				moment(this.promoStartDate).isAfter(this.disableDate) &&
				moment(this.promoEndDate).isSameOrAfter(this.promoStartDate);

			return validDuration;
		}
	},

	methods: {
		toggleModal(payload) {
			this.showModal = payload;
		},

		async getSpecialPromoStatus() {
			try {
				const response = await axios.get(`/owner/promotion/${this.seq}`);
				if (response.data.promo.length !== 0) {
					this.promoTitle = response.data.promo.title;
					this.promoDetail = response.data.promo.content;
					this.promoStartDate = response.data.promo.from;
					this.promoEndDate = response.data.promo.to;
				} else {
					this.promoStartDate = moment()
						.add(1, 'day')
						.format('YYYY-MM-DD');
					this.promoEndDate = moment()
						.add(2, 'day')
						.format('YYYY-MM-DD');
				}
				this.toggleModal(true);
			} catch (error) {
				this.toggleModal(false);
				bugsnagClient.notify(error);
				alert('Terjadi galat. Silakan coba lagi.');
			}
		},

		submitSpecialPromo() {
			if (!this.validPromoDuration) {
				this.invalidPromoDuration = true;
				setTimeout(() => (this.invalidPromoDuration = false), 3000);
			} else {
				const promoData = {
					token: this.token,
					song_id: this.seq,
					title: this.promoTitle,
					content: this.promoDetail,
					from: this.promoStartDate,
					to: this.promoEndDate
				};
				this.sendPromo(promoData);
			}
		},

		async sendPromo(promoData) {
			try {
				this.isLoading = true;
				const response = await axios.post('/owner/promotion', promoData);
				if (response.status === 200) {
					this.isLoading = false;
					this.toggleModal(false);
					swal({
						title: 'Sukses',
						text: 'Promo berhasil dipasang',
						type: 'success',
						timer: 3000,
						allowOutsideClick: false,
						allowEscapeKey: false,
						allowEnterKey: false,
						confirmButtonColor: '#27ab27'
					});
				}
			} catch (error) {
				this.isLoading = false;
				bugsnagClient.notify(error);
				alert('Terjadi galat. Silakan coba lagi.');
			}
		}
	}
};
</script>

<style lang="scss">
.special-promo-modal {
	z-index: 99999; // to make this modal in front of chat widget

	.modal-content {
		border: 0 !important;
		border-radius: 8px;
	}

	.vdp-datepicker {
		input {
			width: 100%;
			border: 0;
			border-bottom: 1px solid #ddd;
		}

		input:focus {
			border-bottom: 1px solid #1baa56;
			outline: 0;
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-header {
	padding: 0 15px;
	border-bottom: 0;
}

.modal-body {
	.input-title,
	.input-detail {
		width: 100%;
		padding: 5px 0;
		border: 0;
		border-bottom: 1px solid #ddd;
	}

	.input-detail {
		overflow: auto;
	}

	.input-title:focus,
	.input-detail:focus {
		border-bottom: 1px solid #1baa56;
		outline: 0;
	}

	.date-container {
		display: flex;

		.end {
			margin-left: 1rem;
		}

		@media (max-width: 495px) {
			flex-direction: column;

			.end {
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}
}

.modal-footer {
	border-top: 0;

	.btn-mamigreen,
	.btn-mamigreen-inverse {
		width: 100%;
	}

	.btn-mamigreen-inverse {
		margin-top: 5px;
		border: 0;
	}
}
</style>
