<template>
	<div>
		<div class="stretch col-xs-12 flex-center" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div class="stretch col-xs-12" v-else>
			<owner-detail-back
				:direction="'/vacancy/' + slug + '/' + seq"
				:menu="'Daftar Pelamar Loker'"
				:position="'left'"
			></owner-detail-back>

			<div class="section-container stretch-xs col-xs-12 col-md-12">
				<table class="table table-striped table-applicant" v-if="status">
					<tbody>
						<tr>
							<td>Nama Pelamar</td>
							<td v-if="applicant.name == null">-</td>
							<td v-else>{{ applicant.name }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td v-if="applicant.email == null">-</td>
							<td v-else>{{ applicant.email }}</td>
						</tr>
						<tr>
							<td>No. Handphone</td>
							<td v-if="applicant.phone == null">-</td>
							<td v-else>{{ applicant.phone }}</td>
						</tr>
						<tr>
							<td>Keterampilan</td>
							<td v-if="applicant.skill == null">-</td>
							<td v-else>{{ applicant.skill }}</td>
						</tr>
						<tr>
							<td>Pengalaman</td>
							<td v-if="applicant.experience == null">-</td>
							<td v-else>{{ applicant.experience }}</td>
						</tr>
						<tr>
							<td>Gaji Terakhir</td>
							<td v-if="applicant.last_salary == null">-</td>
							<td v-else>{{ applicant.last_salary }}</td>
						</tr>
						<tr>
							<td>Ekspektasi Gaji</td>
							<td v-if="applicant.expectation_salary == null">-</td>
							<td v-else>{{ applicant.expectation_salary }}</td>
						</tr>
						<tr>
							<td>Bersedia Ditempatkan Sesuai Lokasi</td>
							<td v-if="applicant.workplace_status == 0">Tidak</td>
							<td v-else-if="applicant.workplace_status == 1">Ya</td>
						</tr>
						<tr class="applicant-action">
							<td colspan="2">
								<button
									class="btn btn-mamiorange"
									disabled
									v-if="applicant.cv == null"
								>
									Tidak Ada CV
								</button>
								<a
									:href="applicant.cv"
									target="_blank"
									rel="noopener"
									role="button"
									class="btn btn-mamiorange"
									v-else
									>Download CV</a
								>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoading: false,
			status: false,
			applicant: {}
		};
	},
	created() {
		this.isLoading = true;
		axios
			.get('owner/data/list/jobs/apply/' + this.number)
			.then(response => {
				this.isLoading = false;
				this.status = response.data.status;
				this.applicant = response.data.data;
			})
			.catch(error => {
				this.isLoading = false;
				bugsnagClient.notify(error);
				alert('Terjadi galat. Silakan coba lagi.');
			});
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		slug() {
			return this.$route.params.slug;
		},
		seq() {
			return this.$route.params.seq;
		},
		number() {
			return this.$route.params.number;
		}
	}
};
</script>

<style scoped>
.table-applicant {
	margin-top: 20px;
	margin-bottom: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.table-applicant tr td {
	width: 50%;
}

.table-applicant .applicant-action {
	text-align: center;
}

.table-applicant .applicant-action td {
	background: #fff;
}
</style>
