<template>
	<bg-modal
		:value="value"
		class="has-no-property-modal"
		desktop-size="md"
		mobile-size="popup"
		title="Anda Belum Memiliki Properti Aktif"
		description="Tambahkan properti terlebih dahulu."
		illustration-name="kos-not-found"
		illustration-alt="no property found"
		@input="$emit('input', $event)"
		@close="closeModal"
	>
		<template #footer>
			<div class="has-no-property-modal__action">
				<bg-button
					class="has-no-property-modal__action-close"
					size="lg"
					@click="closeModal"
				>
					Nanti Saja
				</bg-button>
				<bg-button
					class="has-no-property-modal__action-confirm"
					variant="primary"
					size="lg"
					@click="addProperty"
				>
					Tambah Properti
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import { BgButton, BgModal } from 'bangul-vue';

export default {
	name: 'OwnerModalHasNoProperty',

	components: {
		BgButton,
		BgModal,
	},

	props: {
		value: {
			type: Boolean,
			default: false,
		},
	},

	data() {
		return {
			isShowModal: false,
		};
	},

	methods: {
		closeModal() {
			this.$emit('input', false);
		},
		addProperty() {
			window.location.href = `${process.env.MAMIKOS_URL}/ownerpage/add?input-property=true`;
			this.closeModal();
		},
	},
};
</script>

<style lang="scss" scoped>
/* stylelint-disable */
.has-no-property-modal {
	::v-deep {
		.bg-c-modal__body {
			max-height: 100% !important;
		}
	}

	&__action {
		display: flex;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	@media (max-width: 991px) {
		&__action {
			justify-content: space-between;

			> * {
				width: 100%;
			}
		}
	}
}
</style>
