<template>
	<div>
		<alert
			v-model="statusAlert.state"
			:type="'warning'"
			:placement="isMobile ? 'top' : 'alert-bottom-right'"
			:width="isMobile ? '300px' : '400px'"
			:duration="5000"
			:dismissable="true"
		>
			<strong>Perhatian!</strong>
			<p>{{ statusAlert.label }}</p>
		</alert>

		<div
			class="card-container stretch-xs col-xs-12 col-sm-6 col-md-4"
			v-for="(vacancy, index) in vacancies"
			:key="index"
			@click="openVacancy(vacancy)"
		>
			<div
				class="card-box material-card"
				:class="{
					'material-card-1 clickable': vacancy.status == 'verified',
					'material-card-2 arrowdefault': vacancy.status == 'waiting'
				}"
			>
				<div class="card-status" v-if="vacancy.status == 'waiting'">
					<span class="status-title">TUNGGU DISETUJUI</span>
				</div>
				<div
					class="card-info col-xs-12 col-sm-8"
					:class="{ verified: vacancy.status == 'verified' }"
				>
					<div class="info-main">
						<span class="info-title" :title="vacancy.title">
							{{ vacancy.title }}
						</span>
						<span
							class="badge-vacancy badge-fulltime"
							v-if="vacancy.type == 'FULL-TIME'"
						>
							FULLTIME
						</span>
						<span
							class="badge-vacancy badge-parttime"
							v-else-if="vacancy.type == 'PART-TIME'"
						>
							PARTTIME
						</span>
						<span
							class="badge-vacancy badge-freelance"
							v-else-if="vacancy.type == 'FREELANCE'"
						>
							FREELANCE
						</span>
						<span
							class="badge-vacancy badge-internship"
							v-else-if="vacancy.type == 'MAGANG'"
							>MAGANG</span
						>
					</div>
					<div class="info-company">
						<span>{{ vacancy.place_name }}</span>
					</div>
					<div class="info-extra">
						<span class="info-salary">{{ vacancy.salary }}</span>
						<span class="info-created-date">{{ vacancy.created_at }}</span>
					</div>
				</div>
				<div
					class="card-action flex-center col-xs-12"
					:class="{
						'is-verified': vacancy.status == 'verified',
						'is-waiting': vacancy.status == 'waiting'
					}"
				>
					<span v-if="vacancy.status == 'verified'">
						Lihat Statistik Lowongan Ini
					</span>
					<span v-else-if="vacancy.status == 'waiting'">
						Lihat Statistik Lowongan Ini Setelah Disetujui
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { alert } from 'vue-strap';

export default {
	components: {
		alert
	},
	data() {
		return {
			statusAlert: {
				state: false,
				label: ''
			}
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile ? true : false;
		}
	},
	props: {
		vacancies: {
			type: Array,
			required: true
		}
	},
	methods: {
		openVacancy(vacancy) {
			if (vacancy.status == 'verified') {
				this.$router.push({
					name: 'vacancy_detail',
					params: { slug: vacancy.slug }
				});
			} else if (vacancy.status == 'waiting') {
				this.statusAlert.state = true;
				this.statusAlert.label = 'Tunggu data ' + vacancy.title + ' disetujui';
			}
		}
	}
};
</script>

<style scoped>
.badge-vacancy {
	font-weight: normal;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 27px;
	display: flex;
	justify-content: center;
}
.badge-fulltime {
	background-color: #a25390;
}
.badge-parttime {
	background-color: #e89122;
}
.badge-freelance {
	background-color: #5eaca6;
}
.badge-internship {
	background-color: #a3c502;
}
.card-container {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3e5168;
}
.card-box {
	height: 226px;
	display: inline-block;
}
.card-info {
	height: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.card-status {
	background-color: #007137;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 5px;
}
.status-title {
	color: #ffff00;
	font-weight: 600;
	text-transform: uppercase;
}
.verified .info-main {
	margin-top: 5px;
	height: 83px;
}
.info-company {
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-main {
	margin-top: 30px;
	height: 60px;
	display: flex;
	justify-content: space-between;
}
.info-title {
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 10px;
}
.info-extra {
	display: flex;
	justify-content: space-between;
}
.info-salary {
	font-weight: bold;
	font-size: 16px;
	flex: 2;
}
.info-created-date {
	flex: 1;
	padding-left: 5px;
}

.card-action {
	height: 40px;
	border-top: 1px solid #eee;
	color: #1baa56;
	text-align: center;
	font-weight: bold;
}
.card-action > span {
	vertical-align: middle;
}
.card-action.is-verified {
	color: #1baa56;
}
.card-action.is-waiting {
	color: #777;
}
</style>

<style lang="scss">
.alert-bottom-right {
	position: fixed;
	top: auto !important;
	right: 100px;
	z-index: 1050;
	bottom: 20px;
}
</style>
