<template>
	<div>
		<!-- hide waiting for confirmation for showing again -->
		<!-- <form class="col-md-12 create-list-wrapper" @submit.prevent="openInputVacancy">
			<label class="head-label">Iklan Lowongan Kerja</label>
			<label class="create-list-label">Data Iklan</label>
			<button type="submit" class="btn btn-mamigreen btn-create-list">
				<img
					src="/general/img/icons/icon_plus_white.svg"
					class="activator__icon"
					alt="icon_plus"
				/>
				Tambahkan Lowongan Kerja
			</button>
		</form> -->
		<div class="property-list-header" v-if="canShowPagination">
			<div
				class="stretch flex-center"
				v-if="!(jobs.page == 1 && !jobs['has-more'])"
			>
				<!-- :total="rooms.total"
				:page-size="rooms.limit" -->
				<paginate
					:page-count="totalPage"
					:click-handler="pageChanged"
					:prev-text="'<'"
					:next-text="'>'"
					:container-class="'pagination'"
					:break-view-link-class="'break-pagination'"
					:page-class="'page-item'"
				>
				</paginate>
			</div>
		</div>
		<div class="stretch col-xs-12 flex-center" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div class="stretch col-xs-12" v-else>
			<owner-list-null
				:menu="'lowongan kerja'"
				:redirect="{ type: 'vacancy', link: '/input-loker' }"
				v-if="jobs.vacancy.length == 0"
			></owner-list-null>

			<owner-list-vacancy :vacancies="jobs.vacancy"></owner-list-vacancy>
		</div>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';

export default {
	components: {
		paginate
	},

	data() {
		return {
			isLoading: false,
			canShowPagination: false,
			jobs: {},
			currentPage: 1
		};
	},

	computed: {
		totalPage() {
			let total = Math.ceil(this.jobs.total / this.jobs.limit);
			return Number(total);
		}
	},

	created() {
		this.getJobs();
	},
	methods: {
		toAdd() {
			const setTitleQuery = navigator.isMobile
				? { query: { title: 'Pekerjaan' } }
				: '';
			this.$router.push({
				name: 'add',
				params: { openModalAdd: true, isVacancy: true },
				...setTitleQuery
			});
		},

		getJobs() {
			this.isLoading = true;
			axios
				.get(`/owner/data/list/jobs?page=${this.currentPage}`)
				.then(response => {
					this.isLoading = false;
					this.jobs = response.data;
					if (this.jobs.vacancy.length == 0) {
						this.toAdd();
					}
					this.canShowPagination = response.data.total_page > 1 ? true : false;
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},

		pageChanged(page) {
			this.currentPage = page;
			this.getJobs();
		},

		openInputVacancy(){
			window.open('/input-loker', '_self');
		}
	}
};
</script>

<style lang="scss">
.property-list-header {
	display: flex;
	justify-content: right;
	height: 34px;
	margin-bottom: 20px;
	margin-top: 8px;

	@media screen and (max-width: 703px) {
		flex-direction: column;
		height: 84px;
	}
}

.pagination {
	@media screen and (max-width: 375px) {
		font-size: 13px;
	}

	> li > a:focus,
	> li > a:hover,
	> li > span:focus,
	> li > span:hover {
		background-color: #fff;
	}
}
</style>
