<template>
	<div id="ownerModalAdd" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><b>Saya ingin menambahkan data:</b></h4>
					<h4 class="modal-title">(pilih salah satu)</h4>
				</div>
				<div class="modal-body">
					<div class="listing-type">
						<div class="radio radio-success">
							<input
								id="addListingKos"
								v-model="listingType"
								type="radio"
								:value="'Kost'"
							/>
							<label for="addListingKos">
								Kost
							</label>
						</div>
						<div class="radio radio-success">
							<input
								id="addListingApartment"
								v-model="listingType"
								type="radio"
								:value="'Apartment'"
							/>
							<label for="addListingApartment">
								Apartemen
							</label>
						</div>
						<div class="radio radio-success">
							<input
								id="addListingVacancy"
								v-model="listingType"
								type="radio"
								:value="'Vacancy'"
							/>
							<label for="addListingVacancy">
								Lowongan Kerja
							</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div v-if="listingType == 'Kost'">
						<form
							v-if="isDaftarBookingIntercept"
							@submit.prevent="submitInputProperty"
						>
							<button type="submit" class="btn btn-mamiorange">
								Tambahkan Data
							</button>
							<button
								type="button"
								class="btn btn-default"
								data-dismiss="modal"
							>
								Batal
							</button>
						</form>
						<form v-else action="/input-properti" method="POST">
							<input type="hidden" name="_token" :value="token" />
							<input type="hidden" name="property_type" value="Kost" />
							<input type="hidden" name="input_as" value="Pemilik Kos" />
							<input
								type="hidden"
								name="phone_number"
								:value="profile.user.phone_number"
							/>
							<button type="submit" class="btn btn-mamiorange">
								Tambahkan Data
							</button>
							<button
								type="button"
								class="btn btn-default"
								data-dismiss="modal"
							>
								Batal
							</button>
						</form>
					</div>
					<form
						v-else-if="listingType == 'Apartment'"
						action="/input-properti"
						method="POST"
					>
						<input type="hidden" name="_token" :value="token" />
						<input type="hidden" name="property_type" value="Apartment" />
						<input type="hidden" name="input_as" value="Pemilik Apartemen" />
						<input
							type="hidden"
							name="phone_number"
							:value="profile.user.phone_number"
						/>
						<button type="submit" class="btn btn-mamiorange">
							Tambahkan Data
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Batal
						</button>
					</form>
					<form
						v-if="listingType == 'Vacancy'"
						@submit.prevent="openInputVacancy"
					>
						<button type="submit" class="btn btn-mamiorange">
							Tambahkan Data
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Batal
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			listingType: 'Kost'
		};
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		profile() {
			return this.$store.state.profile;
		},
		bbkKosStatus() {
			return this.$store.state.bbkKosStatus;
		},
		isDaftarBookingIntercept() {
			const { approve, reject, other, waiting } = this.bbkKosStatus;

			return (
				(approve > 0 && reject + other + waiting === 0) || // all kos bbk active
				(this.profile &&
					this.profile.membership.is_mamipay_user &&
					approve + reject + other + waiting === 0) || // only mamipay active
				(approve > 0 && waiting > 0 && other === 0) // active & waiting bbk
			);
		}
	},
	methods: {
		openModal(val) {
			// eslint-disable-next-line no-undef
			$('#ownerModalAdd').modal({
				backdrop: 'static',
				keyboard: false
			});

			if (val !== undefined) {
				this.listingType = val;
			}
		},
		closeModal() {
			// eslint-disable-next-line no-undef
			$('#ownerModalAdd').modal('hide');
		},
		openInputVacancy() {
			window.open('/input-loker', '_self');
		},
		submitInputProperty() {
			this.closeModal();
			this.$emit('openAutoBookingModal');
		}
	}
};
</script>

<style scoped>
.modal-header,
.modal-footer {
	border: 0;
}
.modal-body {
	padding-top: 0;
	padding-bottom: 0;
}
.modal-body .listing-type {
	padding-right: 30px;
	padding-left: 30px;
}
.modal-body .listing-type .radio {
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16px;
}
.modal-footer .btn {
	font-size: 16px;
}
</style>
