<template>
	<div>
		<bg-skeleton v-if="!currentTime" :height="60" width="100%" />
		<div v-else class="countdown-timer">
			<div class="countdown-timer__image">
				<img
					v-lazy="'/general/img/icons/ic_clock_yellow.svg'"
					alt="ic_clock_yellow"
				/>
			</div>
			<div class="countdown-timer__title-desc-wrapper">
				<div class="countdown-timer__timer">
					Selesaikan pembayaran sebelum:
				</div>
				<div class="countdown-timer__limit">
					<div>{{ expiredDate }}</div>
					<div class="countdown-timer__countdown">
						<span v-if="hours">{{ hours | formatTime }}:</span>
						<span>{{ minutes | formatTime }}:{{ seconds | formatTime }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="countdown-timer__title">Mohon Konfirmasi Pembayaran</div>
		<div class="countdown-timer__description">
			Silakan lakukan konfirmasi pembayaran untuk mengaktifkan
			<strong>{{ purchaseName }}</strong> Anda.
		</div>
	</div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	name: 'OwnerCountdownTimer',
	filters: {
		formatTime(value) {
			if (value < 10) {
				return '0' + value;
			}
			return value;
		}
	},
	components: {
		BgSkeleton
	},
	props: {
		speed: {
			type: Number,
			default: 1000
		}
	},
	data() {
		return {
			currentTime: this.expiredDate - this.timeNow
		};
	},
	computed: {
		seconds() {
			return Math.floor((this.currentTime / 1000) % 60);
		},
		minutes() {
			return Math.floor((this.currentTime / 1000 / 60) % 60);
		},
		hours() {
			return Math.floor((this.currentTime / (1000 * 60 * 60)) % 24);
		},
		invoice() {
			return this.$store.state.invoice.invoice;
		},
		purchaseName() {
			return this.invoice.detail_package.name;
		},
		expiredDate() {
			return this.$dayjs(this.invoice.expired_date).format(
				'dddd, D MMM YYYY, HH:mm'
			);
		},
		timeNow() {
			return this.$dayjs(new Date()).format('dddd, D MMM YYYY, HH:mm');
		}
	},
	mounted() {
		setTimeout(this.countdown, 1000);
	},
	methods: {
		countdown() {
			this.currentTime = Date.parse(this.expiredDate) - Date.parse(new Date());
			if (this.currentTime > 0) {
				setTimeout(this.countdown, this.speed);
			} else {
				this.currentTime = null;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.countdown-timer {
	height: 65px;
	padding: 12px;
	margin: auto;
	background-color: #fcf7e3;
	border-radius: 4px;

	&__image {
		display: flex;
		float: left;
		width: 5%;
		height: 40px;
		margin-right: 10px;
		align-items: center;

		.clock-icon {
			color: #fff;
			background-color: #d48011;
			border-radius: 18px;
		}
	}

	&__title-desc-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__timer {
		font-size: 12px;
		color: #8c3b00;
	}

	&__limit {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: bold;
		color: #5b1b00;
	}

	&__countdown {
		right: 0;
	}

	&__title {
		margin-top: 24px;
		font-size: 24px;
		font-weight: 900;
		color: #303030;
	}

	&__description {
		font-size: 16px;
		color: #404040;
	}
}
</style>
