<template>
	<div class="text-center">
		<h4 class="visible-xs">Silakan pilih kategori pada "MENU"</h4>
		<h4 class="visible-sm visible-md visible-lg">Silakan pilih kategori di samping kiri</h4>
		<h3 class="text-mamigreen">
			<i class="fa fa-hand-o-left shake" aria-hidden="true"></i>
		</h3>
	</div>
</template>

<style scoped>
	.text-mamigreen > .fa-hand-o-left {
		margin: 0;
		-webkit-animation-duration: 3s;
		animation-duration: 3s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
	}

	@keyframes shake {
		0%, 100% {transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
		20%, 40%, 60%, 80% {transform: translateX(5px);}
	}
	.shake {
		-webkit-animation-name: shake;
		animation-name: shake;
	}
</style>
