<template>
  <div>
    <!-- hide waiting for confirmation for showing again -->
    <!-- <form action="/input-properti" class="create-list-wrapper" method="POST">
			<input type="hidden" name="_token" :value="token">
      <input type="hidden" name="property_type" value="Apartment">
      <input type="hidden" name="input_as" value="Pemilik Apartemen">
      <label class="head-label">Iklan Apartemen</label>
			<label class="create-list-label">Data Iklan</label>
      <input type="hidden" name="phone_number" :value="profile.user.phone_number">
			<button type="submit" class="btn btn-mamigreen btn-create-list">
				<img
					src="/general/img/icons/icon_plus_white.svg"
					class="activator__icon"
					alt="icon_plus"
				/>
				Tambahkan Apartemen
			</button>
		</form> -->
    <div class="property-list-header" v-if="canShowPagination">
      <v-select
        v-model="roomSuggestions"
        :options="roomListSuggestions"
        options-value="value"
        :limit="10"
        placeholder="Cari apartemen Anda disini..."
        search
        justified
        clear-button
        close-on-select
      ></v-select>

      <paginate
        :page-count="totalPage"
        :click-handler="pageChanged"
        :prev-text="'<'"
        :next-text="'>'"
        :container-class="'pagination'"
        :break-view-link-class="'break-pagination'"
        :page-class="'page-item'"
      >
      </paginate>

      <!-- <div
        class="stretch flex-center col-xs-12"
        v-if="!(apartment.page == 1 && !apartment['has-more'])"
      >
        <button
          class="btn btn-mamiorange btn-offset prev"
          @click="getApartment('prev')"
          :disabled="apartment.page == 1"
        >
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          Sebelumnya
        </button>
        <button
          class="btn btn-mamiorange btn-offset next"
          @click="getApartment('next')"
          :disabled="!apartment['has-more']"
        >
          Selanjutnya
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div> -->
    </div>

    <div class="stretch col-xs-12 flex-center" v-if="isLoading">
      <mami-loading-inline></mami-loading-inline>
    </div>

    <div class="stretch col-xs-12" v-else>
      <owner-list-null
        :menu="'unit apartemen'"
        :redirect="{ type: 'property', link: '/add' }"
        v-if="apartment.rooms.length == 0"
      >
      </owner-list-null>
      <owner-list-property
        v-for="(apartment, apartmentKey) in apartment.rooms"
        :key="apartmentKey"
        :room="apartment"
        :property-type="'apartment'"
        @deleteSuccess="getApartment('init')"
      >
      </owner-list-property>
    </div>
  </div>
</template>

<script>
import paginate from 'vuejs-paginate';
import { select } from 'vue-strap';

export default {
  components: {
    'v-select': select,
    paginate
  },
  data() {
    return {
      isLoading: false,
      canShowPagination: false,
      limit: 3,
      offset: 0,
      apartment: {},

      roomListSuggestions: [],
      roomSuggestions: ''
    };
  },
  computed: {
    totalPage() {
      let total = Math.ceil(this.apartment.total / this.apartment.limit);

      return Number(total);
    },
    token() {
			return this.$store.state.token;
		},
		profile() {
			return this.$store.state.profile;
		}
  },
  created() {
    this.getApartment('init');
  },
  mounted() {
    this.getSuggestionSearch();
  },
  watch: {
    roomSuggestions(item) {
      this.clearRoomList();
      this.getApartment('init', item);
    }
  },
  methods: {
    getApartment(state, roomId) {
      this.isLoading = true;

      if (state == 'next') {
        this.offset += this.limit;
      } else if (state == 'prev') {
        this.offset -= this.limit;
      }

      let roomIdParams = roomId != null ? `&room_id=${roomId}` : '';

      axios
        .get(
          `/owner/data/list/apartment?limit=${this.limit}&offset=${this.offset}${roomIdParams}`
        )
        .then(response => {
          this.isLoading = false;
          this.canShowPagination = true;
          this.apartment = response.data;
          window.scrollTo(0, 0);
          if (this.apartment.rooms.length == 0) {
            this.toAdd();
          }
        })
        .catch(error => {
          bugsnagClient.notify(error);
          alert('Terjadi galat. Silakan coba lagi.');
        });
    },
    toAdd() {
      const setTitleQuery = navigator.isMobile
				? { query: { title: 'Apartemen' } }
				: '';
      this.$router.push({
        name: 'add',
        params: { openModalAdd: true, isApartment: true },
        ...setTitleQuery
      });
    },
    clearRoomList() {
      this.offset = 0;
      this.rooms = [];
    },

    getSuggestionSearch() {
      this.getSuggestionApi();
    },
    getSuggestionApi() {
      axios
        .get(`/owner/search/update/?type=apartment&status=all`)
        .then(response => {
          this.roomListSuggestions = this.createSearchOptionsSuggestions(
            response.data.data
          );
        })
        .catch(error => {
          bugsnagClient.notify(error);
          alert('Terjadi galat. Silakan coba lagi.');
        });
    },
    createSearchOptionsSuggestions(response) {
      let roomListSuggestions = [];
      for (var item in response) {
        roomListSuggestions.push({
          label: response[item].name,
          value: response[item].id
        });
      }
      return roomListSuggestions;
    },
    pageChanged(page) {
      let dataOffset = page * this.limit - this.limit;
      this.offset = dataOffset;
      this.getApartment();
    }
  }
};
</script>

<style scoped>
.btn-offset {
  margin-top: 15px;
}
.btn-offset.prev {
  margin-right: 5px;
}
.btn-offset.next {
  margin-left: 5px;
}

.property-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  margin-bottom: 20px;
  margin-top: 8px;
}
@media screen and (max-width: 703px) {
  .property-list-header {
    flex-direction: column;
    height: 84px;
  }
}
</style>

<style>
.form-control.dropdown-toggle {
  height: auto;
  padding-right: 24px;
  width: 260px;
}

.btn-group .dropdown-menu .bs-searchbox input:focus,
.btn-group .form-control.dropdown-toggle:focus {
  border-color: #1baa56 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1baa5655 !important;
}

.dropdown-menu {
  min-width: 100%;
  max-height: 420px;
  overflow-y: auto;
}

.dropdown-menu > li > a {
  color: #383746 !important;
}
.dropdown-menu > li > a:hover {
  color: #fff !important;
  background-color: #1baa56 !important;
}

@media screen and (max-width: 703px) {
  .property-list-header .btn-group {
    width: 100%;
  }
  .form-control.dropdown-toggle {
    width: 100%;
  }
}
</style>

<style lang="scss">
.pagination {
  @media screen and (max-width: 375px) {
    font-size: 13px;
  }

  > li > a:focus,
  > li > a:hover,
  > li > span:focus,
  > li > span:hover {
    background-color: #fff;
  }
}
</style>
