<template>
	<div class="">
		<router-link
			:to="direction"
			class="btn btn-mamigreen-inverse"
			:class="{'pull-left': position == 'left', 'pull-right': position == 'right'}"
		>
		<i class="fa fa-chevron-left" aria-hidden="true"></i> Kembali ke <span class="text-capitalize">{{ menu }}</span>
		</router-link>
	</div>
</template>

<script>
export default {
	props: {
		direction: {
			type: String
		},
		menu: {
			type: String
		},
		position: {
			type: String
		}
	}
};
</script>
