<template>
	<div v-show="isChatOpen" class="owner-sendbird">
		<div class="owner-sendbird__header">
			<bg-text size="heading-4" class="owner-sendbird__header-title">
				Chat
			</bg-text>
			<span class="owner-sendbird__header-close" @click="handleCloseChat">
				<bg-icon name="close" />
			</span>
		</div>
		<div class="owner-sendbird__body">
			<div v-if="isEmptyChatList" class="owner-sendbird__body-content">
				<bg-illustration name="empty-invoice" alt="owner empty chat" />
				<bg-text size="body-3">
					Belum Ada Obrolan
				</bg-text>
				<bg-text size="body-4">
					Penyewa akan bertanya seputar informasi kos Anda dengan fitur ini.
				</bg-text>
			</div>
			<!-- isWidgetElementExist is sendbird variable that comes from sendbird blade helper -->
			<div
				v-if="!isWidgetElementExist && !isEmptyChatList"
				id="sb_widget"
			></div>
		</div>
		<div class="owner-sendbird__footer">
			<bg-text size="body-2" class="owner-sendbird__footer-unread-text">
				{{ footerText }}
			</bg-text>
			<span class="owner-sendbird__footer-dot" />
		</div>
	</div>
</template>

<script>
import { BgIcon, BgText, BgIllustration } from 'bangul-vue';

const MAX_RETRY_CONNECTION = 3;
const SENDBRID_ERROR_CONNECTION = 800101;

export default {
	name: 'OwnerChatWidget',
	components: {
		BgIcon,
		BgText,
		BgIllustration
	},
	props: {
		isChatOpen: {
			type: Boolean,
			default: false
		},
		footerText: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isEmptyChatList: false,
			retryConnectionCount: 0
		};
	},
	computed: {
		isWidgetElementExist() {
			// eslint-disable-next-line no-undef
			return isWidgetReady;
		}
	},
	watch: {
		isChatOpen() {
			this.handleCheckSendbirdState();
		},
		isEmptyChatList() {
			this.handleCheckSendbirdState();
		}
	},
	mounted() {
		this.handleConnectToSendbird();
	},
	methods: {
		handleConnectToSendbird() {
			if (this.retryConnectionCount < MAX_RETRY_CONNECTION) {
				/* eslint-disable */
				startSendBirdWidget(() => {
					this.handleGetChatUnreadCount();
					this.handleGetChannelList();

					this.$nextTick(() => {
						this.handleCheckSendbirdState();
					});

					try {
						const chatElement = document.querySelector('#sb_widget .widget');
						chatElement.click();
					} catch (e) {
						bugsnagClient.notify(e);
					}

					if (typeof sbWidget === 'object') {
						sbWidget.registerLocalHandlerCb('onMessageReceived', () => {
							this.handleGetChatUnreadCount();
							this.isEmptyChatList = false;
						});
						sbWidget.registerLocalHandlerCb('onChannelChanged', () => {
							this.handleGetChatUnreadCount();
							this.isEmptyChatList = false;
						});
						sbWidget.registerLocalHandlerCb('onReconnectSucceeded', () => {
							this.handleGetChatUnreadCount();
							this.handleGetChannelList();
						});
					}

					this.$nextTick(() => {
						document.body.style.overflow = 'unset';
					});
				});
				/* eslint-enable */
			}
		},
		handleCheckSendbirdState() {
			try {
				const sendbirdWidgetElement = document.querySelector('#sb_widget');
				const sendbirdChannelListElement = document.querySelector(
					'.channel-list'
				);
				if (!this.isChatOpen) {
					sendbirdWidgetElement.style.display = 'none';
				} else {
					sendbirdWidgetElement.style.display = 'block';
					sendbirdChannelListElement.style.display = this.isEmptyChatList
						? 'none'
						: 'block';
				}
			} catch (e) {
				bugsnagClient.notify(e);
			}
		},
		handleGetChatUnreadCount() {
			if (typeof sb !== 'undefined') {
				try {
					sb.getTotalUnreadChannelCount((count, error) => {
						if (error) {
							if (error.code === SENDBRID_ERROR_CONNECTION) {
								this.retryConnectionCount++;
								this.handleConnectToSendbird();
							}
							bugsnagClient.notify(error);
							return;
						}

						this.retryConnectionCount = 0;
						this.$emit('handle-set-unread-messages', count);
					});
				} catch (e) {
					bugsnagClient.notify(e);
				}
			}
		},
		handleCloseChat() {
			this.$emit('handle-close-chat');
		},
		handleGetChannelList() {
			try {
				const channelListQuery = sb.GroupChannel.createMyGroupChannelListQuery();
				channelListQuery.includeEmpty = true;
				channelListQuery.limit = 1;

				if (channelListQuery.hasNext) {
					channelListQuery.next((channelList, error) => {
						if (error) {
							return;
						}

						this.isEmptyChatList = !channelList.length;
					});
				}
			} catch (e) {
				bugsnagClient.notify(e);
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#sb_widget {
	.widget {
		visibility: hidden;
	}

	@media (min-width: 768px) {
		.channel-board {
			position: fixed;
			top: 148px;
			right: 0;
			bottom: 48px;
			width: 366px;
			height: calc(100% - 196px);
			border-width: 1px 0 0;
			box-shadow: none;

			.channel-list {
				height: 100% !important;
			}

			.board-top {
				display: none;
			}
		}

		.chat-section {
			height: calc(100vh - 80px);

			.content {
				height: 100%;
			}

			.chat-board {
				width: 366px;
			}
		}
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.owner-sendbird {
	position: fixed;
	top: 80px;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	width: 366px;
	flex-direction: column;
	background: #fff;

	.owner-sendbird__header {
		display: flex;
		width: 100%;
		height: 68px;
		justify-content: space-between;
		align-items: center;
		padding: 16px;

		.owner-sendbird__header-title {
			font-weight: 700;
		}

		.owner-sendbird__header-close {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 68px;
			cursor: pointer;
		}
	}

	.owner-sendbird__body {
		display: flex;
		height: calc(100% - 116px);
		padding: 0 16px;
		flex-direction: column;
		align-items: center;

		.owner-sendbird__body-content {
			text-align: center;
		}
	}

	.owner-sendbird__footer {
		display: flex;
		width: 100%;
		height: 48px;
		padding: 0 16px;
		align-items: center;
		justify-content: flex-end;
		text-align: right;
		background: #1baa56;

		.owner-sendbird__footer-unread-text {
			padding-right: 32px;
			color: #fff;
		}

		.owner-sendbird__footer-dot {
			display: flex;
			width: 9px;
			height: 9px;
			background: #f39c12;
			border-radius: 5px;
		}
	}
}
</style>
