<template>
	<div id="ownerModalTrial" class="modal fade trial-container" role="dialog">
		<div class="modal-dialog trial-dialog modal-sm">
			<div class="modal-close">
				<button
					type="button"
					class="btn btn-trial-close track-close-pop-up-trial"
					@click="closeModal"
				>
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-content modal-trial">
				<div class="modal-body">
					<div class="modal-image">
						<img
							v-lazy="'/assets/owner/trial_premium.png'"
							class="img-trial"
							alt="trial_premium"
							title="Premium"
						/>
					</div>
					<div class="modal-text">
						<span class="title-text --bold">Selamat!</span><br />
						<span class="content-text">Iklan Anda berada di atas dengan</span>
						<span class="content-text --bold">PREMIUM GRATIS</span>
					</div>
					<div class="modal-action">
						<button
							type="button"
							class="btn btn-mamiorange-inverse btn-trial track-pop-up-trial"
							@click="tryTrial"
						>
							OK
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		token() {
			return this.$store.state.token;
		}
	},

	methods: {
		openModal() {
			$('#ownerModalTrial').modal({
				backdrop: 'static',
				keyboard: false
			});
		},

		closeModal() {
			$('#ownerModalTrial').modal('hide');
			Cookies.set('pop-up-trial', '', { expires: 2, path: '/ownerpage' });
		},

		tryTrial() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/owner/premium/trial')
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status === true) {
						swal({
							title: 'Berhasil!',
							text: 'Anda berhasil mendapatkan PREMIUM GRATIS!',
							type: 'success',
							confirmButtonColor: '#1BAA56',
							confirmButtonText: 'OK'
						}).then(result => {
							window.open('/ownerpage', '_self');
						});
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					alert('Terjadi galat. Silakan coba lagi.');
					bugsnagClient.notify(error);
				});
		}
	}
};
</script>

<style>
.trial-container {
	padding-left: 0 !important;
}
.trial-dialog {
	margin-top: 10% !important;
}
.modal-trial {
	padding: 15px 0;
	background-image: linear-gradient(#f09819, #ff5858);
	border: none;
}
.modal-body {
	margin: 15px;
}
.modal-text {
	margin-bottom: 15px;
	text-align: center;
}
.modal-action {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.title-text {
	font-size: 25px;
	color: #fff;
}
.content-text {
	font-size: 16px;
	color: #fff;
}
.btn-trial {
	width: 130px;
	font-weight: bold;
	box-shadow: 0px 5px 20px 3px #db5347;
	border: none;
}
.--bold {
	font-weight: bold;
}
.img-trial {
	display: block;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

.modal-close {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.btn-trial-close {
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	margin-bottom: -15px;
	margin-right: -10px;
	background-color: #ff6e6e;
	border-radius: 1000px;
	z-index: 2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
</style>
