<template>
	<div id="ownerHeader" class="owner-header">
		<div class="clearfix"></div>

		<div class="header-row stretch" :class="{ 'sticky-header': stickyHeader }">
			<div class="header-container">
				<div class="header-content col-xs-6 col-sm-4 col-md-3">
					<label>Data Iklan</label>
					<router-link class="btn btn-mamigreen" :to="redirectToAdd">
						<span class="hidden-sm hidden-lg">Tambahkan Data</span>
						<span class="hidden-xs hidden-md">Tambahkan Data Iklan</span>
					</router-link>
				</div>

				<div
					v-if="
						profile.membership.balance_status === 'verif' ||
							profile.membership.balance_status === ''
					"
					:class="[
						isMembershipExpired ? 'col-sm-7' : 'col-sm-4',
						hideMembershipMenu
					]"
					class="header-content header-membership hidden-xs cek col-xs-6 col-md-3"
				>
					<label :class="hideMembershipMenu">
						Membership
						<span
							v-if="profile.membership.status == 'Proses Verifikasi'"
							class="text-mamigreen"
						>
							Proses Verifikasi
						</span>
					</label>

					<div
						v-if="profile.membership.status == 'Premium' && !isOnBScenario"
						:class="hideMembershipMenu"
					>
						<a
							v-if="isVerify && hasProperty"
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="goToPremiumPackage"
							>Premium</a
						>
						<a
							v-else-if="!isVerify && hasProperty"
							href="javascript:void(0)"
							class="btn btn-mamiorange"
							role="button"
							@click="locationReload"
							>Verifikasi Nomor</a
						>
						<a
							v-else
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="openWaitForVerification"
							>Premium</a
						>
						<p class="info-message has-margin-top">
							Premium berakhir: {{ profile.membership.active }}
						</p>
					</div>

					<div
						v-else-if="
							profile.membership.status == 'Coba Trial' && !isOnBScenario
						"
					>
						<a
							v-if="isVerify && hasProperty"
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="goToPremiumPackage"
							>Premium Gratis</a
						>
						<a
							v-else-if="isVerify && isKostActive == 0"
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="openWaitForVerification"
							>Premium Gratis</a
						>
						<a
							v-else
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="locationReload"
							>Premium Gratis</a
						>
					</div>

					<div
						v-else-if="
							profile.membership.status == 'Konfirmasi Pembayaran' &&
								!isOnBScenario
						"
					>
						<a
							class="btn btn-mamiorange track-purchase-confirm"
							:disabled="isOnBScenario"
							:href="`${invoiceUrl}`"
						>
							{{ profile.membership.status }}
						</a>
					</div>

					<div
						v-else-if="
							profile.membership.status == 'Proses Verifikasi' && !isOnBScenario
						"
					>
						<router-link
							to="/invoice"
							class="btn btn-mamiorange track-purchase-confirm"
							role="button"
							>Rincian Pembayaran</router-link
						>
					</div>

					<div
						v-else-if="
							profile.membership.status == 'Upgrade ke Premium' &&
								!isOnBScenario
						"
					>
						<a
							v-if="isVerify && hasProperty"
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="goToPremiumPackage"
							>Upgrade ke Premium</a
						>
						<a
							v-else-if="!isVerify && hasProperty"
							href="javascript:void(0)"
							class="btn btn-mamiorange"
							role="button"
							@click="locationReload"
							>Verifikasi Nomor</a
						>
						<a
							v-else
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="openWaitForVerification"
							>Upgrade ke Premium</a
						>
					</div>
				</div>

				<div
					v-else
					:class="[
						isMembershipExpired ? 'col-sm-7' : 'col-sm-4',
						hideMembershipMenu
					]"
					class="header-content header-membership hidden-xs col-xs-6 col-md-3"
				>
					<label> Membership </label>
					<div>
						<button
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							type="button"
							:disabled="isOnBScenario"
							@click="openBusyTransaction('saldo')"
						>
							{{ profile.membership.status }}
						</button>
						<p
							v-if="profile.membership.status == 'Premium'"
							class="info-message has-margin-top"
						>
							Premium berakhir: {{ profile.membership.active }}
						</p>
					</div>
				</div>

				<div
					v-if="
						!profile.membership.expired &&
							profile.membership.status === 'Premium'
					"
					class="header-content header-saldo col-xs-6 col-sm-4 col-md-3"
				>
					<label>
						<span class="hidden-sm hidden-md hidden-lg">Saldo:</span>
						<span class="hidden-xs">Saldo Iklan:</span>
						<span
							class="info-message content-info"
							:class="
								profile.membership.views > 0 ? 'text-mamigreen' : 'text-danger'
							"
							>{{ profile.membership.views_rp }}</span
						>
					</label>

					<router-link
						v-if="profile.membership.balance_status == 'waiting'"
						to="/premium/balance/confirmation"
						class="btn btn-mamiorange track-owner-increase"
					>
						Proses Verifikasi
					</router-link>
					<a
						v-else-if="profile.membership.balance_status == 'add'"
						:href="invoiceUrl"
						class="btn btn-mamiorange track-owner-increase"
					>
						Konfirmasi
					</a>
					<template v-else-if="profile.membership.balance_status == 'verif'">
						<a
							v-if="buyBalanceEligibility === 'has-property'"
							href="/ownerpage/premium/balance"
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							>Tambah Saldo</a
						>
						<a
							v-else-if="buyBalanceEligibility === 'no-property'"
							class="btn btn-mamiorange track-owner-increase"
							role="button"
							@click="openWaitForVerification"
							>Tambah Saldo</a
						>
						<a
							v-else-if="buyBalanceEligibility === 'on-trial'"
							class="btn btn-mamiorange track-owner-increase"
							role="button"
							@click="alertForBalanceEligibility"
							>Tambah Saldo</a
						>
					</template>
					<p
						v-if="profile.membership.message_premium !== ''"
						class="content-info text-danger"
					>
						{{ profile.membership.message_premium }}
					</p>
				</div>

				<div
					v-else-if="isOnVerifOrConfirmation"
					class="header-content header-saldo col-xs-6 col-sm-4 col-md-3"
				>
					<label>
						<span class="hidden-sm hidden-md hidden-lg">Saldo:</span>
						<span class="hidden-xs">Saldo Iklan:</span>
						<span
							class="info-message content-info"
							:class="
								profile.membership.views > 0 ? 'text-mamigreen' : 'text-danger'
							"
							>{{ profile.membership.views_rp }}</span
						>
					</label>
					<div>
						<button
							class="btn btn-mamiorange track-owner-upgrade"
							role="button"
							@click="openBusyTransaction('paket')"
						>
							Tambah Saldo
						</button>
					</div>
				</div>

				<div
					class="header-content header-cs hidden-xs hidden-sm"
					:class="isMembershipExpired ? 'col-md-6' : 'col-md-3'"
				>
					<label>
						WA CS:
						<a
							href="https://wa.me/6281325111171"
							target="_blank"
							rel="noopener"
						>
							0813-2511-1171
						</a>
					</label>
					<button
						v-if="profile.user.enable_chat"
						class="btn btn-mamiorange-inverse"
						@click="openZendeskChat"
					>
						Chat CS
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ownerMixinSupportChat from '../mixins/OwnerMixinSupportChat';
import ownerMixinPremiumConfirmCountdown from '../mixins/OwnerMixinPremiumConfirmCountdown';
import { getProductNameTranslation } from 'Js/@utils/getProductNameTranslation';
import mixinVoucherTracker from '../../_user/mixins/mixinVoucherTracker.js';
import mixinBuyBalanceEligibility from '../mixins/OwnerBuyBalanceEligibility';

export default {
	mixins: [
		ownerMixinSupportChat,
		ownerMixinPremiumConfirmCountdown,
		mixinVoucherTracker,
		mixinBuyBalanceEligibility
	],

	data() {
		return {
			stickyHeader: false
		};
	},

	computed: {
		isMobile() {
			return navigator.isMobile;
		},
		routeName() {
			return this.$route.name;
		},
		profile() {
			return this.$store.state.profile;
		},
		notifCount() {
			return this.$store.state.extras.notifCount;
		},
		isVerify() {
			return this.$store.state.profile.user.is_verify;
		},
		isKostActive() {
			return this.$store.state.profile.user.kost_total_active;
		},
		invoiceUrl() {
			return this.$store.getters.invoiceUrl;
		},
		isVacancyAd() {
			const routeName = [
				'vacancy',
				'vacancy_detail',
				'vacancy_detail_report',
				'vacancy_detail_number'
			];
			return routeName.includes(this.routeName);
		},
		isOnVerifOrConfirmation() {
			return (
				!this.profile.membership.expired &&
				(this.profile.membership.status === 'Proses Verifikasi' ||
					this.profile.membership.status === 'Konfirmasi Pembayaran')
			);
		},
		isMembershipExpired() {
			return this.profile.membership.expired;
		},
		isOnAbTesting() {
			return (
				this.$store.state.abTestResult.is_active &&
				this.$store.state.abTestResult.experiment_id > 0
			);
		},
		abTestingScenario() {
			if (this.isOnAbTesting) {
				return this.$store.state.abTestResult.experiment_value === 'control'
					? 'A'
					: 'B';
			} else {
				return false;
			}
		},
		isOnBScenario() {
			return this.abTestingScenario === 'B';
		},
		hideMembershipMenu() {
			return this.isOnBScenario ? 'hide-membership-menu' : '';
		},
		redirectToAdd() {
			if (this.isMobile) {
				let nameProperty = '';

				if (this.$route.query.title) {
					nameProperty = this.$route.query.title;
				} else {
					nameProperty = getProductNameTranslation(this.$route.name);
				}

				return `/add?title=${nameProperty}`;
			} else {
				return '/add';
			}
		}
	},

	created() {
		if (
			this.profile.membership.status === 'Konfirmasi Pembayaran' &&
			this.profile.membership.countdown !== null
		) {
			this.premiumConfirmCountdown(this.profile.membership.countdown);
		}
	},

	mounted() {
		let lastScrollPosition = 0;
		window.onscroll = () => {
			const newScrollPosition = window.pageYOffset;
			this.stickyHeader = newScrollPosition < lastScrollPosition;
			lastScrollPosition = newScrollPosition;
		};
		this.checkUserDevice();
	},

	methods: {
		openOwnerSidebar() {
			this.$refs.ownerSidebar.showLeft = !this.$refs.ownerSidebar.showLeft;
		},
		locationReload() {
			location.reload();
		},
		goToPremiumPackage() {
			this.moengageEventTracker();
			window.location.replace('/promosi-kost/premium-package');
		},
		moengageEventTracker() {
			tracker('moe', [
				'[Owner] Premium Package List Visited',
				{
					owner_id: this.profile.user.user_id,
					owner_premium_status: this.profile.membership.status === 'Premium',
					owner_premium_package_id: this.profile.membership.package_id,
					owner_premium_start_date: '',
					owner_premium_end_date: this.$dayjs(
						this.profile.membership.active_date
					).format('YYYY-MM-DDTHH:mm:ss'),
					redirection_source: document.location.href,
					interface: this.userInterface
				}
			]);
		},
		alertPremium() {
			alert(
				'Saat ini Premium Membership hanya berlaku untuk data iklan kost dan apartemen.'
			);
		},
		openBusyTransaction(type) {
			swal(
				'Perhatian!',
				`Mohon selesaikan proses pembelian ${type} Anda terlebih dahulu.`,
				'info'
			);
		},
		openWaitForVerification() {
			swal(
				'Perhatian!',
				`Pastikan Anda memiliki kost atau apartemen aktif terlebih dahulu`,
				'warning'
			);
		}
	}
};
</script>

<style scoped>
/* stylelint-disable selector-max-type, value-no-vendor-prefix, property-no-vendor-prefix */
.header-content > label {
	display: block;
}

.router-link-active.btn {
	color: #1baa56;
	background-color: #d8f9c6;
	border-color: #1baa56;
}

.header-content .popover {
	z-index: inherit;
}

.content-refresh {
	font-size: larger;
	color: inherit;
	cursor: pointer;
}
.content-membership {
	font-size: larger;
	color: inherit;
	vertical-align: middle;
}
.content-info {
	padding: 3px 0;
	margin: 0;
}

.header-saldo .content-info,
.header-cs .content-info {
	font-weight: bold;
}

.header-cs .btn {
	width: 180px;
}

@media (max-width: 767px) {
	.header-row {
		border-bottom: 1px solid #eee;
	}
	.header-content {
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		vertical-align: top;
	}
	.header-top.sticky-header {
		position: fixed;
	}
	.header-top {
		z-index: 100;
		margin-top: 0;
	}
	.header-trigger {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
		padding: 10px 15px;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
	}
	.header-trigger img {
		height: 20px;
	}
	.header-trigger > .trigger-title {
		margin-right: 3px;
		margin-left: 3px;
		font-size: 18px;
		font-weight: bold;
		color: #1baa56;
	}
	.header-trigger > .trigger-notif {
		padding: 0 6px;
		margin-left: 3px;
		font-size: 14px;
		color: #fff;
		background-color: #fa1300;
		border-radius: 50%;
	}
	.header-trigger > .trigger-notif.is-many {
		padding: 1px 3px;
	}
	.header-trigger > .trigger-notif.is-zero {
		padding: 0 3px;
		font-size: 8px;
		color: #fa1300;
	}
	.header-title {
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
		padding: 10px 15px;
		font-size: 18px;
		font-weight: bold;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		-ms-justify-content: flex-end;
		justify-content: flex-end;
	}
}

@media (max-width: 991px) {
	.header-content .btn {
		font-size: 12px;
	}
	.header-membership .content-info {
		font-size: 12px;
	}
	.header-saldo .content-info.text-danger {
		font-size: 12px;
	}
	.header-cs {
		font-size: 12px;
	}
	.info-message {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	.header-row .header-content {
		padding-top: 15px;
		padding-bottom: 15px;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.header-content {
		height: 106px;
	}
}

@media (min-width: 992px) {
	.header-content {
		height: 109px;
	}
	.header-saldo .content-info {
		font-size: 15px;
	}
}
.header-saldo {
	background-color: #dff9ff;
}

.hide-membership-menu {
	opacity: 0;
}
</style>
