<template>
	<div class="modal fade" role="dialog" id="ownerModalNeedPassword">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<form @submit.prevent="setupPassword">
					<div class="modal-header">
						<h4 class="modal-title">Password Akun</h4>
					</div>
					<div class="modal-body">
						<p>Buat password untuk melanjutkan ke Halaman Pemilik</p>

						<div class="form-group">
							<div class="input-group">
								<input
									type="password"
									class="form-control"
									maxlength="20"
									required
									placeholder="Masukkan password"
									v-model="password.setup"
									v-if="!password.shown"
								/>
								<input
									type="text"
									class="form-control"
									maxlength="20"
									required
									placeholder="Masukkan password"
									v-model="password.setup"
									v-else
								/>
								<span
									class="input-group-addon"
									title="Lihat / Sembunyikan Password"
									@click="togglePassword"
								>
									<i
										class="fa fa-eye-slash text-muted"
										aria-hidden="true"
										v-if="password.shown"
									></i>
									<i class="fa fa-eye" aria-hidden="true" v-else></i>
								</span>
							</div>
						</div>

						<div class="form-group no-margin-bottom">
							<div class="input-group">
								<input
									type="password"
									class="form-control"
									maxlength="20"
									required
									placeholder="Ulangi Password"
									v-model="passwordRepeat.setup"
									v-if="!passwordRepeat.shown"
								/>
								<input
									type="text"
									class="form-control"
									maxlength="20"
									required
									placeholder="Ulangi Password"
									v-model="passwordRepeat.setup"
									v-else
								/>
								<span
									class="input-group-addon"
									title="Lihat / Sembunyikan Password"
									@click="togglePasswordRepeat"
								>
									<i
										class="fa fa-eye-slash text-muted"
										aria-hidden="true"
										v-if="passwordRepeat.shown"
									></i>
									<i class="fa fa-eye" aria-hidden="true" v-else></i>
								</span>
							</div>
						</div>
						<p class="error-alert" v-if="errorAlert">
							&bull; {{ messageAlert }}
						</p>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-mamiorange">
							Submit Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import md5 from 'md5';

export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			password: {
				setup: '',
				shown: false
			},
			passwordRepeat: {
				setup: '',
				shown: false
			},
			errorAlert: false,
			messageAlert: '',
			minimumLengthPassword: 6
		};
	},
	mounted() {
		$('#ownerModalNeedPassword').on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;
		});
		$('#ownerModalNeedPassword').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged
				});
			} else {
				this.$emit('opened', val);
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		}
	},
	methods: {
		openModal() {
			$('#ownerModalNeedPassword').modal({
				backdrop: 'static',
				keyboard: false
			});
		},

		closeModal() {
			$('#ownerModalNeedPassword').modal('hide');
		},

		setPassword() {
			const confirmPassword = confirm(
				'Anda yakin untuk menggunakan password tersebut?\nPilih OK untuk melanjutkan.'
			);

			if (confirmPassword) {
				this.openSwalLoading('Menyimpan password...', null);
				axios
					.post('/owner/password/set', {
						_token: this.token,
						password: md5(this.password.setup)
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.isChanged = true;
							this.swalSuccessTimer(
								'Sukses',
								'Password berhasil disimpan',
								this.closeModal()
							);
						} else {
							this.isChanged = false;
							this.closeModal();
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			}
		},

		setupPassword() {
			if (this.password.setup != this.passwordRepeat.setup) {
				this.errorAlert = true;
				this.messageAlert = 'Ulangi password tidak sama dengan Password.';
			} else {
				if (this.password.setup.length < this.minimumLengthPassword) {
					this.errorAlert = true;
					this.messageAlert = `Password minimal ${this.minimumLengthPassword} karakter.`;
				} else {
					this.errorAlert = false;
					this.setPassword();
				}
			}
		},
		togglePassword() {
			this.password.shown = !this.password.shown;
		},
		togglePasswordRepeat() {
			this.passwordRepeat.shown = !this.passwordRepeat.shown;
		}
	}
};
</script>

<style lang="scss" scoped>
//colors
$color_green_haze_approx: #1baa56;
$white: #fff;

.modal-header {
	background-color: $color_green_haze_approx;
}
.modal-title {
	color: $white;
	text-align: center;
}
.modal-body {
	padding-bottom: 1rem;
	p {
		font-size: 16px;
		margin-bottom: 2rem;
	}
	.form-control {
		font-size: 16px;
	}
	.fa {
		font-size: 16px;
	}
}
.no-margin-bottom {
	margin-bottom: 0;
}
.modal-footer .btn {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
}

p {
	&.error-alert {
		margin-bottom: 0;
		font-size: small;
		color: #ff4c00;
		margin-top: 1rem;
	}
}
</style>
