<template>
	<div class="popper-wrapper">
		<popper
			ref="popper"
			:trigger="trigger"
			:options="{
				placement: 'bottom'
			}"
		>
			<div class="popper">
				<p class="popper-hl-title">Update Semua Kos</p>

				<p class="popper-hl-body">
					Silakan tetap klik Update Semua Kos, meskipun tidak ada perubahan
					data, agar informasi di iklan kos Anda tetap akurat.
				</p>

				<div class="popper-hl-footer">
					<button
						id="popperConfirmation"
						class="btn"
						type="button"
						@click="hide"
					>
						Saya Mengerti
					</button>
				</div>
			</div>
			<slot slot="reference" />
		</popper>
	</div>
</template>

<script>
import Popper from 'vue-popperjs';
import 'vue-popperjs/dist/vue-popper.css';
import MixinNavigatorIsMobile from 'Js/@mixins/MixinNavigatorIsMobile';
export default {
	name: 'OwnerPopperUpdateProperty',
	components: {
		Popper
	},
	mixins: {
		MixinNavigatorIsMobile
	},
	computed: {
		trigger() {
			return navigator.isMobile ? 'click' : 'hover';
		}
	},
	methods: {
		hide() {
			this.$refs.popper.doClose();
		}
	}
};
</script>

<style lang="scss">
.popper[x-placement^='bottom'] .popper__arrow {
	border-color: transparent;
}
</style>

<style lang="scss" scoped>
.popper {
	padding: 15px;
	border: none;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
	background-color: #2e2d39;
	color: #fff;
	text-align: left;
	width: 328px;
	font-size: 12px;
	margin-top: 20px;
}

.popper-hl-title {
	font-size: 14px;
	font-weight: bold;
}

.popper-hl-body {
	font-size: 12px;
}

.popper-hl-footer {
	display: flex;
	justify-content: flex-end;

	> .btn {
		color: #fff;
		background-color: #1baa56;
		border-color: #1baa56;
		font-size: 12px;
		width: 120px;

		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: #109e4b;
			border-color: #109e4b;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.popper-wrapper {
		position: relative;
		.popper {
			right: 0;
		}
	}
}
</style>
