<template>
	<div>
		<aside class="owner-menu">
			<bg-sidebar class="owner-menu__wrapper">
				<template v-for="(sidebarItem, i) in sidebarItems">
					<template v-if="!getIsHiddenState(sidebarItem)">
						<bg-sidebar-item-multi
							v-if="sidebarItem.children && sidebarItem.children.length > 0"
							:id="`sidebarItem${sidebarItem.id || i}`"
							:key="`sidebarItem${sidebarItem.id || i}`"
							:icon-name="sidebarItem.icon"
							:label="sidebarItem.name"
							:opened="getOpenedState(sidebarItem.children)"
							class="owner-menu__item-multiple"
						>
							<template
								v-for="(sidebarItemChild, childIndex) in sidebarItem.children"
							>
								<bg-sidebar-item
									v-if="!getIsHiddenState(sidebarItemChild)"
									:key="childIndex"
									:label="sidebarItemChild.name"
									:active="findSelected(sidebarItemChild)"
									class="owner-menu__item-multiple-child"
									@click="handleItemClicked(sidebarItemChild)"
								/>
							</template>
						</bg-sidebar-item-multi>
						<bg-sidebar-item
							v-else
							:key="`sidebarItem${sidebarItem.id || i}`"
							:icon-name="sidebarItem.icon"
							:label="sidebarItem.name"
							:active="findSelected(sidebarItem)"
							:counter="getBadgeCounter(sidebarItem)"
							class="owner-menu__item"
							@click="handleItemClicked(sidebarItem)"
						/>
					</template>
				</template>
			</bg-sidebar>
		</aside>
		<owner-modal-on-confirmation v-model="isConfirmModalActive" />
		<owner-modal-has-no-property v-model="isNoPropertyModalActive" />
	</div>
</template>

<script>
import _get from 'lodash/get';
import _includes from 'lodash/includes';
import _indexOf from 'lodash/indexOf';
import * as storage from 'Js/@utils/storage';
import sidebarItems from './data/sidebarItems';
import { BgSidebar, BgSidebarItem, BgSidebarItemMulti } from 'bangul-vue';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import mixinPremiumEntryAction from '../mixins/OwnerMixinPremiumEntryAction';
import OwnerModalHasNoProperty from './OwnerModalHasNoProperty';
import OwnerModalOnConfirmation from './OwnerModalOnCofirmation';

export default {
	name: 'OwnerMenu',
	components: {
		BgSidebar,
		BgSidebarItem,
		BgSidebarItemMulti,
		OwnerModalHasNoProperty,
		OwnerModalOnConfirmation
	},
	mixins: [mixinPremiumEntryAction],
	props: {
		isApartementActive: {
			type: Boolean,
			default: false
		},
		isKosActive: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			ownerDashboardUrl: oxWebUrl,
			activeSidebarItem: '',
			sidebarItems,
			profileData: {}
		};
	},
	computed: {
		ownerHasProfileData() {
			return this.$store && this.$store.state.profile;
		},
		checkOwnerStatisticPage() {
			const state = window.location.href;
			return _includes(state, '/ownerpage/statistics');
		},
		isMobile() {
			return !!navigator.isMobile;
		},
		isBooking() {
			return _get(this, '$store.state.isBookingAllRoom', false);
		},
		userData() {
			const rootAuthData = _get(this, '$root.state.authData', {});
			const authData = _get(this, '$store.state.authData', null);
			return authData || rootAuthData;
		},
		profile() {
			if (this.ownerHasProfileData) {
				return this.$store.state.profile;
			} else {
				return this.profileData;
			}
		},
		isNewOwner() {
			const activeKos = _get(this.profile, 'user.kost_total_active') || 0;
			return activeKos === 0;
		},
		isBlacklistMamipoin() {
			if (this.ownerHasProfileData) {
				return !!this.profile.is_blacklist_mamipoin;
			}
			return false;
		},
		interfaceLabel() {
			return navigator.isMobile ? 'mobile' : 'desktop';
		},
		isPremium() {
			return (
				_get(this.profile, 'membership.expired', false) &&
				_get(this.profile, 'membership.status', '') === 'Premium'
			);
		},
		isMamirooms() {
			return (
				_get(this.profile, 'is_mamirooms', false) &&
				_get(this.profile, 'is_booking_all_room', false)
			);
		},
		isBbk() {
			return (
				_get(this.profile, 'membership.is_mamipay_user', false) &&
				_get(this.profile, 'is_booking_all_room', false)
			);
		},
		sidebarTrackerData() {
			return {
				owner_name: _get(this.userData, 'all.name') || '',
				owner_phone_number: _get(this.userData, 'all.phone_number') || '',
				owner_email: _get(this.userData, 'all.email') || '',
				goldplus_status: _get(this.profile, 'gp_status') || null,
				is_premium: !!this.isPremium,
				is_mamirooms: !!this.isMamirooms,
				is_booking: !!this.isBbk,
				interface: this.interfaceLabel
			};
		},
		routeName() {
			return this.$route ? this.$route.name : '';
		},
		noRouteMatchSidebarItem() {
			return !this.checkHasSelected(sidebarItems);
		}
	},
	watch: {
		noRouteMatchSidebarItem(val) {
			if (val) this.activeSidebarItem = '';
		}
	},
	created() {
		if (this.checkOwnerStatisticPage) {
			this.getProfile();
		}
		this.checkIfMenuActive();
	},
	methods: {
		checkHasSelected(items) {
			for (let i = 0; i < items.length; i++) {
				const children = items[i].children;
				if (
					(children && this.checkHasSelected(children)) ||
					(!children && this.findSelected(items[i]))
				) {
					return true;
				}
			}

			return false;
		},
		checkIfMenuActive() {
			if (this.isApartementActive) {
				this.activeSidebarItem = 'other_apartment';
			} else if (this.isKosActive) {
				this.activeSidebarItem = 'other_kos';
			}
		},
		async getProfile() {
			try {
				const response = await makeAPICall({
					method: 'get',
					url: '/owner/data/profile',
					baseURL: '/garuda'
				});

				if (response && response.status) {
					this.profileData = response;
				} else {
					throw new Error(response);
				}
			} catch (error) {
				bugsnagClient.notify(JSON.stringify(error));
				alert(
					'Galat tidak diketahui.\nSilakan cek koneksi internet Anda dan coba lagi.'
				);
			}
		},
		getOpenedState(children) {
			if (children && children.length > 0) {
				for (let i = 0; i < children.length; i++) {
					if (this.findSelected(children[i])) {
						return true;
					}
				}
			}
			return false;
		},
		getBadgeCounter({ counter, counterFn }) {
			if (counterFn && typeof counterFn === 'function') {
				return counterFn(this);
			}
			return counter || 0;
		},
		getIsHiddenState({ isHidden, isHiddenFn }) {
			if (isHiddenFn && typeof isHiddenFn === 'function') {
				return !!isHiddenFn(this);
			}
			return !!isHidden;
		},
		findSelected({ urlNames, type }) {
			const selectedUrlNameIndex = _indexOf(urlNames, this.routeName);
			if (this.routeName && selectedUrlNameIndex >= 0) {
				this.activeSidebarItem = `${type}_${urlNames[selectedUrlNameIndex]}`;
				return true;
			}

			return this.activeSidebarItem === `other_${urlNames[0]}`;
		},
		getPathName() {
			let { pathname = '' } = window.location;
			if (!!pathname && String(pathname).charAt(0) !== '/')
				pathname = `/${pathname || ''}`;

			return pathname;
		},
		hasSameBaseWithCurrent(base) {
			if (!(this.$route && this.$route.path)) {
				return false;
			}

			const currentPath = this.getPathName();
			const currentRoutePath = this.$route.path;
			if (currentPath.split(base)[0] === '') {
				if (!currentRoutePath || currentRoutePath === '/') {
					const splittedPath = currentPath.split(base);

					return (
						splittedPath[0] === '' &&
						(splittedPath[1] === '' || splittedPath[1] === '/')
					);
				}

				const currentBase = currentPath.split(currentRoutePath)[0];
				return currentBase === base;
			}

			return false;
		},
		isCancelNaviation(type, urlNames) {
			if (urlNames && urlNames[0]) {
				return this.activeSidebarItem === `${type}_${urlNames[0]}`;
			}
			return false;
		},
		handleItemClicked({ type, data, base = '/ownerpage', urlNames }) {
			if (this.isCancelNaviation(type, urlNames)) return;

			switch (type) {
				case 'internal':
					if (this.hasSameBaseWithCurrent(base)) {
						this.$router.push(data);
					} else {
						window.location.href = `${base}${data}`;
					}
					break;
				case 'pms':
					if (data === '/premium-dashboard') {
						this.handlePremiumEntryAction();
					} else {
						window.location.href = `${this.ownerDashboardUrl}${data}`;
					}
					break;
				case 'external':
					window.location.href = data;
					break;
				case 'action':
					data(this);
					break;
			}
		},
		openOwnerSidebar() {
			this.$refs.ownerSidebar.showLeft = !this.$refs.ownerSidebar.showLeft;
		},
		openBookingOwner() {
			if (this.routeName === 'manageBooking') return;

			if (
				storage.local.getItem('activate_booking_redirection_source') !==
				'Kelola Tagihan dan Booking'
			) {
				storage.local.setItem(
					'activate_booking_redirection_source',
					'Kelola Tagihan dan Booking'
				);
			}

			window.open('/ownerpage/manage/all/booking', '_self');
		},
		sendMamipoinTrackerEvent() {
			tracker('moe', [
				'[Owner] MamiPoin Page Visited',
				{
					interface: this.isMobile ? 'mobile' : 'desktop',
					redirection_source: `[Owner] ${document.title}`,
					is_owner: true,
					is_mamipay: _get(this.profile, 'membership.is_mamipay_user', false),
					is_booking: this.isBooking,
					is_premium_owner: this.isPremium,
					point_total: _get(this.profile, 'total_mamipoin', 0)
				}
			]);
		},
		sendSidebarODTracker(eventName, { ...payload }) {
			tracker('moe', [
				eventName,
				{
					...this.sidebarTrackerData,
					...payload
				}
			]);
		}
	}
};
</script>

<style lang="scss">
.toasted.no-kos-toasted-default {
	min-width: 341px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background: #303030;
	.action {
		font-size: 14px;
		color: #1baa56;
		text-transform: none;
	}
}
</style>

<style lang="scss" scoped>
.owner-menu {
	position: fixed;
	top: 80px;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 262px;
	height: calc(100% - 80px);
	overflow-y: auto;
	background: transparent;

	&__wrapper {
		height: auto;
		min-height: 100%;
		padding: 36px 0;
		overflow-y: auto;
		background-color: #fff;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #bbb;
		border-radius: 10px;
	}
}
</style>
