<template>
	<div class="kos-card">
		<div class="kos-card__text">
			<div>
				<span v-if="gender.text" :class="`kos-card__gender${gender.class}`">
					{{ gender.text }}
				</span>

				<span
					v-if="kos.gp_badge && kos.gp_badge.show"
					class="kos-card__goldplus-badge"
				>
					{{ kos.gp_badge.label }}
				</span>
			</div>

			<div v-ellipsis class="kos-card__title">
				<div class="text">
					{{ kos.room_title + ' ' + kos.unique_code }}
				</div>
			</div>
			<div v-ellipsis class="kos-card__address">
				<div class="text">{{ kos.address }}</div>
			</div>

			<a
				v-if="
					kos.status_kos === 'verified' &&
					!kos.hidden &&
					kos.bbk_request_status !== 'reject'
				"
				:href="kos.share_url"
				class="kos-card__show"
			>
				Lihat Kos
			</a>
		</div>

		<img v-lazy="kos.photo_url.small" class="kos-card__img" alt="kos_photo" />

		<!-- KOS STATUS START -->
		<div class="kos-card__status">
			<template v-if="kosStatusComputed.isRejectedStatus">
				<div class="kos-card__rejected-status">
					<div :class="`kos-card__status-name--${kosStatusComputed.class}`">
						{{ kosStatusComputed.text }}
					</div>

					<div v-if="kosStatusComputed.message" class="kos-card__rejected-box">
						{{ kosStatusComputed.title }}
						<div
							v-ellipsis:addmore="kosStatusComputed.message"
							class="kos-card__rejected-message"
						>
							<div ref="kosRejectStatusMessage" class="text">
								{{ kosStatusComputed.message }}
							</div>
						</div>
					</div>

					<div class="kos-card__rejected-actions">
						<button
							class="btn btn-mamigreen-inverse"
							:class="{
								'kos-card__rejected-actions--disabled': isDisabledDeleteKosButton,
							}"
							:disabled="isDisabledDeleteKosButton"
							@click="showKosDeletionConfirmation"
						>
							Hapus Kos
						</button>
						<a :href="kosStatusComputed.link" class="btn btn-mamigreen-inverse">
							{{ kosStatusComputed.buttonLabel }}
						</a>
					</div>
				</div>
			</template>
			<div v-else :class="`kos-card__status-name--${kosStatusComputed.class}`">
				{{ kosStatusComputed.text }}
			</div>
		</div>
		<!-- KOS STATUS END -->

		<!-- KOS DETAIL START -->
		<div v-if="showKosDetail" class="kos-card__detail">
			<div v-if="isExpanded" class="kos-card__detail-wrapper detail-kos">
				<div class="detail-kos__data-box">
					Kamar Kosong
					<div class="detail-kos__data-desc">
						<div class="detail-kos__data-count">{{ kos.available_room }}</div>
						<div
							class="detail-kos__update-price"
							:disabled="canEditPrice"
							@click="goToKosRoomPage"
						>
							Update Kamar
						</div>
					</div>
				</div>

				<div class="detail-kos__data-box">
					Harga sewa per bulan
					<div class="detail-kos__data-desc">
						<div class="detail-kos__cost-rp">
							{{ kos.price_monthly | currencyID }}
						</div>
						<div
							class="detail-kos__update-price"
							:disabled="canEditPrice"
							@click="goToKosPricePage"
						>
							Update Harga
						</div>
					</div>
				</div>

				<div class="detail-kos__statistic statistic">
					<p class="statistic__choice-title">Lihat Berdasarkan</p>
					<select v-model="statisticId" class="statistic__choice">
						<option value="6">Statistik Hari Ini</option>
						<option value="1">Statistik Kemarin</option>
						<option value="2">Statistik 7 Hari</option>
						<option value="3">Statistik 14 Hari</option>
						<option value="4">Statistik 30 Hari</option>
						<option value="5">Semua Statistik</option>
					</select>

					<a
						:href="
							authorizeFeature('read:chat') &&
							`/ownerpage/statistics/${kos._id}#chat`
						"
					>
						<div class="detail-kos__data-box">
							Chat
							<img
								v-if="authorizeFeature('read:chat')"
								class="detail-kos__data-link"
								src="/general/img/icons/ic_chevron_right_black.svg"
							/>
							<div class="detail-kos__data-count">{{ kos.chat_count }}</div>
						</div>
					</a>

					<a
						:href="
							authorizeFeature('read:review') &&
							`/ownerpage/statistics/${kos._id}#review`
						"
					>
						<div class="detail-kos__data-box">
							Review
							<img
								v-if="authorizeFeature('read:review')"
								class="detail-kos__data-link"
								src="/general/img/icons/ic_chevron_right_black.svg"
							/>
							<div class="detail-kos__data-count">{{ kos.review_count }}</div>
						</div>
					</a>

					<div class="detail-kos__data-box">
						Difavoritkan
						<div class="detail-kos__data-count">{{ kos.love_count }}</div>
					</div>

					<div class="detail-kos__data-box">
						Total Klik
						<div class="detail-kos__data-count">{{ kos.view_count }}</div>
					</div>

					<button
						:class="{
							'detail-kos__manage-premium-link--disabled': isDisabledManagePremiumButton,
						}"
						class="btn btn-mamigreen-inverse detail-kos__manage-premium-link"
						:disabled="isDisabledManagePremiumButton"
						@click="handleManagePremiumClicked"
					>
						Atur Premium
					</button>
				</div>

				<div class="detail-kos__actions">
					<button
						:class="{
							'detail-kos__actions--disabled': isDisabledDeleteKosButton,
						}"
						class="btn btn-mamigreen-inverse"
						:disabled="isDisabledDeleteKosButton"
						@click="showKosDeletionConfirmation"
					>
						Hapus Kos
					</button>
					<a
						:href="!isDisabledEditKosButton && `/ownerpage/edit-kos/${kos._id}`"
						:class="{
							'detail-kos__actions--disabled': isDisabledEditKosButton,
						}"
						class="btn btn-mamigreen-inverse"
						:disabled="isDisabledEditKosButton"
					>
						Edit Data Kos
					</a>
				</div>
			</div>

			<div class="kos-card__expandable" @click="isExpanded = !isExpanded">
				<template v-if="!isExpanded">
					Lihat Selengkapnya
					<img src="/general/img/icons/ic_chevron_down.svg" />
				</template>
				<template v-else>
					Tampilkan Lebih Sedikit
					<img src="/general/img/icons/ic_chevron_up.svg" />
				</template>
			</div>
		</div>
		<!-- KOS DETAIL END -->
	</div>
</template>

<script>
import VueLazyload from 'vue-lazyload';
Vue.use(VueLazyload, {
	preLoad: 1.3,
	error: '/assets/loading/mamikos_placeholder_load.svg',
	attempt: 2,
});

export default {
	name: 'OwnerKosListCard',
	directives: {
		ellipsis: {
			inserted(el, { arg, value }) {
				let isShrinked = false;
				const childNode = el.querySelector('.text');
				while (el.clientHeight < childNode.clientHeight) {
					isShrinked = true;
					childNode.innerText =
						childNode.innerText.slice(0, childNode.innerText.length - 5) +
						'...';
				}

				if (isShrinked && arg === 'addmore') {
					// add "Lihat Selanjutnya" and its click event
					childNode.innerHTML =
						childNode.innerHTML +
						'<div class="kos-card__rejected-message-seemore">Lihat Selanjutnya</div>';
					childNode.childNodes.item(1).addEventListener('click', () => {
						childNode.innerText = value;
					});
					// add more margin bottom for the parent
					childNode.parentElement.style.maxHeight = `none`;
				}
			},
		},
	},
	filters: {
		currencyID: value => {
			if (value && isFinite(value)) {
				return 'Rp ' + Number(value).toLocaleString('id');
			} else {
				return '';
			}
		},
	},
	props: {
		kos: {
			type: Object,
			required: true,
		},
	},
	data() {
		return {
			ownerDashboardUrl: oxWebUrl,
			isExpanded: false,
			statisticId: 5,
			kosStatus: {
				unverified: {
					class: 'kos-non-active',
					text: 'Ditolak',
				},
				incomplete: {
					class: 'kos-non-active',
					text: 'Draft',
				},
				claim: {
					class: 'kos-waiting',
					text: 'Proses Klaim',
				},
				add: {
					class: 'kos-waiting',
					text: 'Diperiksa Admin',
				},
				edited: {
					class: 'kos-waiting',
					text: 'Diperiksa Admin',
				},
				verified: {
					class: 'kos-verified',
					text: 'Aktif',
				},
			},
			currentPosition: 'Iklan Saya', // for redirection_source tracker in pms
			currentUrl: window.location.href,
		};
	},
	computed: {
		isMobile() {
			return navigator.isMobile && window.innerWidth < 768;
		},
		gender() {
			switch (this.kos.gender) {
				case 0:
					return { text: 'Kos Campur', class: '--mx' };
				case 1:
					return { text: 'Kos Putra', class: '--m' };
				case 2:
					return { text: 'Kos Putri', class: '--f' };
				default:
					return { text: '', class: '' };
			}
		},
		showKosDetail() {
			if (this.kos.hidden) return false;
			else if (
				this.kos.status_kos === 'verified' ||
				this.kos.status_kos === 'edited'
			) {
				if (
					['approve', 'waiting', null, 'not_active'].includes(
						this.kos.bbk_request_status
					)
				)
					return true;
			}

			return false;
		},
		kosStatusComputed() {
			if (this.kos.hidden) {
				return {
					isRejectedStatus: true,
					class: 'kos-non-active',
					text: 'Non Aktif',
					title: 'Iklan Kos Tidak Ditampilkan',
					buttonLabel: 'Update Kos',
					link: `${this.ownerDashboardUrl}/kos/${
						navigator.isMobile ? `rooms` : `rooms-price`
					}/${this.kos._id}${
						navigator.isMobile
							? `/price?redirect_url=${this.currentUrl}`
							: `?single=true&redirect_url=${this.currentUrl}`
					}`,
					message: 'Kos yang tidak diupdate dalam 2 minggu akan non-aktif.',
				};
			}

			if (this.kos.status_kos === 'unverified') {
				return {
					isRejectedStatus: true,
					class: 'kos-non-active',
					text: 'Data Kos Ditolak',
					title: 'Mohon perbaiki data kos berikut',
					buttonLabel: 'Edit Data Kos',
					link: `/ownerpage/edit-kos/${this.kos._id}`,
					message: this.kos.reject_remark && this.kos.reject_remark.trim(),
				};
			}

			if (this.kos.status_kos === 'incomplete') {
				return {
					isRejectedStatus: true,
					class: 'kos-non-active',
					text: 'Draft',
					title: 'Lengkapi Data Kos',
					message: 'Iklan kos ini belum tampil di halaman pencarian kos.',
					buttonLabel: 'Lengkapi Data Kos',
					link: `/ownerpage/edit-kos/${this.kos._id}`,
				};
			}

			if (
				this.kos.bbk_request_status === 'reject' ||
				(!this.kos.bbk_request_status && this.kos.status_kos === 'add')
			) {
				return {
					isRejectedStatus: true,
					class: 'kos-non-active',
					text: 'Lengkapi Data Pribadi',
					title: 'Mohon perbaiki data pribadi',
					buttonLabel: 'Edit Data Pribadi',
					link: `${this.ownerDashboardUrl}/kos/booking/register?edit-data=true&previous-page=${this.currentPosition}&redirect_url=${this.currentUrl}`,
					message: this.kos.bbk_reject_reason,
				};
			}

			return this.kosStatus[this.kos.status_kos];
		},
		isDisabledEditKosButton() {
			return (
				this.kos.status_kos === 'edited' || !this.authorizeFeature('write:room')
			);
		},
		isDisabledDeleteKosButton() {
			return this.kos.is_promoted || !this.authorizeFeature('delete:room');
		},
		isDisabledManagePremiumButton() {
			return (
				this.kos.status_kos === 'edited' ||
				!this.authorizeFeature('write:click')
			);
		},
		canEditPrice() {
			return (
				!this.authorizeFeature('read:room-unit') ||
				!this.authorizeFeature('read:price') ||
				this.kos.status_kos === 'edited'
			);
		},
		token() {
			return this.$store.state.token;
		},
		invoiceUrl() {
			return this.$store.getters.invoiceUrl;
		},
	},
	watch: {
		statisticId(val) {
			this.getStatisticsByTime(val);
		},
	},
	methods: {
		authorizeFeature(featurePermission) {
			return this.kos.permissions.includes(featurePermission);
		},
		goToKosRoomPage() {
			// prevent running this method on these conditions
			if (this.canEditPrice) return;

			if (this.isMobile) {
				window.location.href = `${this.ownerDashboardUrl}/kos/rooms/${this.kos._id}/edit?redirect_url=${this.currentUrl}`;
			} else {
				window.location.href = `${this.ownerDashboardUrl}/kos/rooms/${this.kos._id}?redirect_url=${this.currentUrl}`;
			}
		},
		goToKosPricePage() {
			// prevent running this method on these conditions
			if (this.canEditPrice) return;

			if (this.isMobile) {
				window.location.href = `${this.ownerDashboardUrl}/kos/rooms/${this.kos._id}/price?redirect_url=${this.currentUrl}`;
			} else {
				window.location.href = `${this.ownerDashboardUrl}/kos/rooms-price/${this.kos._id}?redirect_url=${this.currentUrl}`;
			}
		},
		showKosDeletionConfirmation() {
			if (this.isDisabledDeleteKosButton) return;

			if (this.kos._id === 0) {
				swal(
					'Tunggu sebentar',
					'Data anda sedang diolah oleh server',
					'warning'
				);
			} else {
				swal({
					title: `Hapus kos Ini?`,
					text: `Apakah anda yakin? Kos yang terhapus tidak bisa dikembalikan lagi.`,
					type: 'error',
					showCancelButton: true,
					confirmButtonColor: '#e81a29',
					cancelButtonColor: '#bbb',
					confirmButtonText: 'Hapus',
					cancelButtonText: 'Batal',
				}).then(result => {
					if (result) {
						this.deleteKos();
					}
				});
			}
		},
		deleteKos() {
			this.openSwalLoading();
			axios
				.delete(`/owner/delete_room/${this.kos._id}`, {
					_token: this.token,
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						window.location.reload();
					} else {
						swal('Gagal', 'Gagal menghapus data :(', 'error');
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
				});
		},
		getStatisticsByTime(statisticTime) {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.get(`/stories/${this.kos._id}/report?type=${statisticTime}`)
				.then(response => {
					this.closeSwalLoading();
					this.kos.love_count = response.data.love_count;
					this.kos.view_count = response.data.view_count;
					this.kos.survey_count = response.data.survey_count;
					this.kos.chat_count = response.data.message_count;
					this.kos.review_count = response.data.review_count;
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		handleManagePremiumClicked() {
			// prevent running this method on these conditions
			if (this.isDisabledManagePremiumButton) return;

			const showAlert = (text, path) => {
				swal({
					text,
					title: '',
					type: 'info',
					confirmButtonColor: '#27ab27',
					confirmButtonText: 'OK',
				}).then(result => {
					window.open(`${this.invoiceUrl}`, '_self');
				});
			};
			const membershipStatus = this.$store.state.profile.membership.status;
			if (
				membershipStatus === 'Coba Trial' ||
				membershipStatus === 'Upgrade ke Premium'
			) {
				window.location.href = '/promosi-kost/premium-package';
			} else if (membershipStatus === 'Konfirmasi Pembayaran') {
				showAlert('Silakan konfirmasi pembayaran anda terlebih dahulu');
			} else if (membershipStatus === 'Proses Verifikasi') {
				showAlert(
					'Mohon maaf, proses pembayaran paket anda sedang menunggu verifikasi admin.'
				);
			} else {
				window.open(
					`${this.ownerDashboardUrl}/premium-dashboard/kelola-iklan/${this.kos._id}`,
					'_blank'
				);
			}
		},
	},
};
</script>

<style lang="scss" scoped>
@mixin disableButton() {
	color: #bbb;
	background: #f6f6f6;
	border: 1px solid #e8e8e8;
	border-radius: 4px;

	&:hover {
		background-color: #f6f6f6;
	}
}

.kos-card {
	$kosCard: &;
	min-width: 300px;
	max-width: 328px;
	padding: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 8px;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);

	&__text {
		display: inline-block;
		width: 69%;
	}

	&__goldplus-badge {
		padding: 4px 8px;
		margin-left: 8px;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		color: #016034;
		background: #fad686;
		border: 1px solid #d8ede3;
		border-radius: 4px;
	}

	&__img {
		float: right;
		width: 68px;
		height: 68px;
		border-radius: 8px;
		object-fit: cover;
	}

	&__gender {
		@mixin gender() {
			margin-bottom: 8px;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
		}

		&--mx {
			@include gender();
			color: #9d5ab0;
		}
		&--f {
			@include gender();
			color: #f76288;
		}
		&--m {
			@include gender();
			color: #289ad6;
		}
	}

	&__title {
		max-height: 48px;
		margin-top: 8px;
		margin-bottom: 8px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #242424;
	}

	&__address {
		max-height: 36px;
		margin-bottom: 16px;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		color: #242424;
	}

	&__show {
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		color: #1baa56;
		cursor: pointer;
	}

	&__status {
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px;
		margin-top: 16px;
		margin-right: -16px;
		margin-left: -16px;
		border-top: solid 1px #e8e8e8;
	}

	&__expandable {
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px;
		margin-top: 16px;
		margin-right: -16px;
		margin-left: -16px;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		cursor: pointer;
		border-top: solid 1px #e8e8e8;

		// stylelint-disable-next-line
		img {
			width: 14px;
			margin-left: 10px;
			vertical-align: middle;
		}
	}

	&__status-name {
		@mixin status() {
			display: inline-block;
			padding: 2px 8px;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			border: 1px solid;
			border-radius: 4px;
		}

		&--kos-non-active {
			@include status();
			color: #9b292d;
			background-color: #fff4f2;
			border-color: #ffe2db;
		}

		&--kos-waiting {
			@include status();
			color: #0052a4;
			background-color: #f1f7ff;
			border-color: #dbe9ff;
		}

		&--kos-verified {
			@include status();
			color: #016034;
			background-color: #edf9f4;
			border-color: #d8ede3;
		}
	}

	&__rejected-status:nth-child(2) {
		margin-top: 16px;
	}

	&__rejected-box {
		padding: 12px 48px;
		margin-top: 8px;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		background-image: url('/general/img/icons/ic_error_round.svg');
		background-repeat: no-repeat;
		background-position-x: 16px;
		background-position-y: 12px;
		border: 1px solid #e8e8e8;
		border-radius: 8px;
	}

	&__rejected-message {
		max-height: 40px;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 20px;
	}

	::v-deep {
		#{$kosCard}__rejected-message-seemore {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	&__rejected-actions {
		$rejectedActions: &;
		display: flex;
		justify-content: space-between;
		height: 40px;
		box-sizing: content-box;
		margin-top: 12px;
		font-size: 14px;
		text-align: center;

		:first-child {
			width: 50%;
			margin-right: 16px;
			font-weight: 700;
			line-height: 24px;
			color: #404040;
			border-color: #e8e8e8;

			&#{$rejectedActions}--disabled {
				@include disableButton();
			}
		}
		:last-child {
			width: 50%;
			font-weight: 700;
			line-height: 24px;
		}
	}
}

.detail-kos {
	&__data-box {
		padding: 16px;
		margin-top: 8px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #000;
		border: 1px solid #e8e8e8;
		border-radius: 8px;
	}

	&__data-desc {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 5px;
	}

	&__data-count {
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;
		color: #303030;
	}

	&__data-link {
		float: right;
		height: 14px;
		margin-top: 5px;
		cursor: pointer;
	}

	&__cost {
		margin-top: 8px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #949494;

		&-rp {
			font-size: 18px;
			font-weight: 900;
			line-height: 26px;
			color: #303030;
		}
	}

	&__update-price {
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		color: #1baa56;
		cursor: pointer;

		&[disabled='disabled'] {
			color: #bbb;
		}
	}

	&__statistic {
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px;
		margin-top: 16px;
		margin-right: -16px;
		margin-left: -16px;
		border-top: solid 1px #e8e8e8;
	}

	&__actions {
		$actions: &;
		display: flex;
		justify-content: space-between;
		height: 40px;
		box-sizing: content-box;
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px;
		margin-top: 16px;
		margin-right: -16px;
		margin-left: -16px;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		border-top: solid 1px #e8e8e8;

		:first-child {
			width: 50%;
			margin-right: 16px;
			font-weight: 700;
			color: #404040;
			border-color: #e8e8e8;

			&#{$actions}--disabled {
				@include disableButton();
			}
		}
		:last-child {
			width: 50%;
			font-weight: 700;
			line-height: 24px;

			&#{$actions}--disabled {
				@include disableButton();
			}
		}
	}

	&__manage-premium-link {
		width: 100%;
		height: 40px;
		margin-top: 16px;
		line-height: 28px;

		&--disabled {
			@include disableButton();
		}
	}
}

.statistic {
	margin-bottom: 16px;

	&__choice-title {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}

	&__choice {
		width: 100%;
		height: 48px;
		padding: 12px 16px;
		margin-top: 8px;
		background-image: url('/general/img/icons/ic_caret_down.svg');
		background-size: 12px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;
		outline: none;
	}
}
</style>
