<template>
	<div>
		<div class="stretch col-xs-12 flex-center" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div class="stretch col-xs-12" v-else>
			<div class="row back-button-container">
				<owner-detail-back
					:direction="'/vacancy'"
					:menu="'List Loker'"
					:position="'left'"
				></owner-detail-back>
			</div>

			<div class="clear-fix"></div>

			<div class="card-container stretch-xs col-xs-12 col-md-6">
				<div class="card-box material-card material-card-2">
					<div class="card-info col-xs-12 col-sm-8">
						<div class="info-main">
							<span class="info-title" :title="detail.vacancy.title">{{
								detail.vacancy.title
							}}</span>
							<span
								class="badge-fulltime"
								v-if="detail.vacancy.type == 'FULL-TIME'"
								>FULLTIME</span
							>
							<span
								class="badge-parttime"
								v-else-if="detail.vacancy.type == 'PART-TIME'"
								>PARTTIME</span
							>
							<span
								class="badge-freelance"
								v-else-if="detail.vacancy.type == 'FREELANCER'"
								>FREELANCE</span
							>
						</div>
						<div class="info-active" v-if="detail.vacancy.active == 0">
							<label>Non-Aktif</label>
						</div>
						<div class="info-company">
							<span>{{ detail.vacancy.place_name }}</span>
						</div>
						<div class="info-extra">
							<span class="info-salary">{{ detail.vacancy.salary }}</span>
							<span>{{ detail.vacancy.created_at }}</span>
						</div>

						<button
							class="btn btn-mamigreen btn-edit full-width"
							@click="editVacancy"
						>
							Edit Data Lowongan Kerja
						</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="card-container stretch-xs col-xs-12 col-md-6">
				<div class="card-stats material-card material-card-2 col-xs-12">
					<div class="form-group">
						<select class="form-control stats-control" v-model="report.type">
							<option :value="5">Semua Statistik</option>
							<option :value="6">Statistik Hari Ini</option>
							<option :value="1">Statistik Kemarin</option>
							<option :value="2">Statistik 7 Hari</option>
							<option :value="3">Statistik 14 Hari</option>
							<option :value="4">Statistik 30 Hari</option>
						</select>
					</div>
					<div class="stats-list">
						<span>
							<i class="fa fa-file stats-icon" aria-hidden="true"></i> Pelamar
							Pekerjaan
						</span>
						<span
							>{{ report.apply }}
							<router-link
								:to="'/vacancy/' + slug + '/' + detail.vacancy.id"
								v-text="'Lihat'"
							></router-link>
						</span>
					</div>
				</div>
			</div>

			<owner-modal-edit-vacancy
				ref="ownerModalEditVacancy"
				:vacancy="detail.vacancy"
				@closed="handleModalEditVacancyClose"
			></owner-modal-edit-vacancy>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoading: false,
			detail: {},
			report: {
				type: 5,
				apply: null,
				postUrl: ''
			}
		};
	},
	created() {
		this.getDetail();
	},
	watch: {
		'report.type'(val) {
			if (val == 5) {
				this.postUrl = '/report';
			} else {
				this.postUrl = '/report?type=' + val;
			}

			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.get('/owner/data/list/jobs/' + this.slug + this.postUrl)
				.then(response => {
					this.closeSwalLoading();
					this.report.apply = response.data.report.apply;
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		slug() {
			return this.$route.params.slug;
		}
	},
	methods: {
		getDetail() {
			this.isLoading = true;
			axios
				.get('/owner/data/list/jobs/' + this.slug)
				.then(response => {
					this.detail = response.data;
					axios
						.get('/owner/data/list/jobs/' + this.slug + '/report')
						.then(response => {
							this.isLoading = false;
							this.report.apply = response.data.report.apply;
						})
						.catch(error => {
							this.isLoading = false;
							bugsnagClient.notify(error);
							alert('Terjadi galat. Silakan coba lagi.');
						});
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		editVacancy() {
			this.$refs.ownerModalEditVacancy.openModal();
		},
		handleModalEditVacancyClose(state) {
			if (state.closed && state.changed) {
				this.getDetail();
			}
		},
		openStatistic(stat) {
			this.$router.push({
				name: 'vacancy_statistics',
				params: { seq: '1' }
			});
		}
	}
};
</script>

<style scoped>
.badge-fulltime {
	font-weight: normal;
	background-color: #a25390;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 27px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-parttime {
	font-weight: normal;
	background-color: #e89122;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 27px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.badge-freelance {
	font-weight: normal;
	background-color: #5eaca6;
	padding: 3px 12px;
	border-radius: 2px;
	color: #fff;
	width: 100px;
	height: 27px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.card-container {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3e5168;
}
.card-box {
	height: 200px;
}
.card-info {
	height: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.card-status {
	background-color: #007137;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 5px;
}
.status-title {
	color: #ffff00;
	font-weight: 600;
	text-transform: uppercase;
}
.info-company {
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-main {
	margin-top: 5px;
	height: 50px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.info-title {
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-active > label {
	background-color: #eeefec;
	color: #adadad;
	padding: 0 8px 1px 8px;
	border-radius: 4px;
}
.info-extra {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.info-salary {
	font-weight: bold;
	font-size: 16px;
}
.btn-edit {
	margin-top: 10px;
	font-weight: bold;
}
.card-stats {
	padding-top: 10px;
	padding-bottom: 10px;
}
.stats-control {
	width: 50%;
}
.stats-list {
	padding-top: 5px;
	padding-bottom: 5px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
@media (min-width: 768px) {
	.stats-list {
		font-size: 16px;
	}
}
.stats-list .stats-icon {
	color: #a2a1a1;
	margin-right: 5px;
	width: 18px;
}
.stats-list a {
	margin-left: 5px;
}

.back-button-container {
	margin: 0;
}
</style>
