<template>
	<div class="modal fade" role="dialog" id="ownerModalSurveyPremium">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
					<h4 class="modal-title">Terima kasih sudah memakai Premium!</h4>
				</div>
				<div class="modal-body">
					<p> Demi meningkatkan pelayanan Kami, mohon beritahu alasan Anda tidak 
						memperpanjang paket Premium. Anda boleh memilih lebih dari satu.</p>
					<form @submit.prevent="submitSurvey">
						<div class="survey-answer">
							<div
								v-for="(survey, index) in surveys" :key="index"
								class="checkbox checkbox-success checkbox-circle"
							>
								<input
									:id="'surveyPremium' + index"
									type="checkbox"
									:value="survey"
									v-model="reason"
								/>
								<label :for="'surveyPremium' + index">
									{{ survey }}
								</label>
							</div>
							<div v-if="isRoomCountShow" class="form-group">
								<label>Berapa kamar yang berhasil terisi berkat paket premium Anda 
									kemarin?</label>
								<input 
									id="surveyPremiumFullBookedRoom"
									type="text"
									v-model="roomCount"
								/>
							</div>
							<div v-if="isDesiredPriceShow" class="form-group">
								<label>Menurut Anda, berapa harga yang sesuai untuk 
									Premium?</label>
								<input
									id="surveyPremiumDesiredPrice"
									type="text"
									v-model="desiredPrice"
								/>
							</div>
							<p>Terima kasih atas masukan Anda!</p>
						</div>
						<button type="submit" class="btn btn-mamigreen">SUBMIT</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>	

<script>
export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			nextSurvey: false,
			reason: [],
			roomCount: 0,
			desiredPrice: 0,
			isRoomCountShow: false,
			isDesiredPriceShow: false
		};
	},
	mounted() {
		$('#ownerModalSurveyPremium').on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;
		});
		$('#ownerModalSurveyPremium').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged,
					survey: this.nextSurvey
				});
			} else {
				this.$emit('opened', val);
			}
		},
		reason(val) {
			if (val.includes('Kamar masih terisi penuh')) {
				this.isRoomCountShow = true;
			} else {
				this.isRoomCountShow = false;
			}

			if (val.includes('Harga dan keuntungan tidak sesuai')) {
				this.isDesiredPriceShow = true;
			} else {
				this.isDesiredPriceShow = false;
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		}
	},
	props: {
		packageName: {
			type: String,
			required: true
		},
		packageId: {
			type: Number,
			required: true
		},
		surveys: {
			type: Array,
			required: true
		}
	},
	methods: {
		openModal() {
			$('#ownerModalSurveyPremium').modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#ownerModalSurveyPremium').modal('hide');
		},
		submitSurvey() {
			if (this.reason.length > 0) {
				this.openSwalLoading('Mohon tunggu...', null);
				axios
					.post('/owner/data/survey/premium', {
						_token: this.token,
						reason: this.reason,
						premium_id: this.packageId,
						data_for: 'premium_expired',
						price: this.desiredPrice,
						room_count: this.roomCount,
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.nextSurvey = response.data.room_survey;
							this.isChanged = true;
							this.swalSuccessTimer(
								null,
								'Sukses mengisi survey',
								this.closeModal()
							);
						} else {
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			} else {
				this.swalError(null, 'Silakan pilih salah satu alasan');
			}
		}
	}
};
</script>

<style scoped>
.modal-header {
	border-bottom: none;
}
.modal-title {
	color: #1baa56;
	text-align: center;
}
.modal-body {
	text-align: center;
}
.modal-body p,
.modal-body label,
.modal-body .form-control {
	font-size: 16px;
}
.modal-body h4 {
	margin-top: 10px;
	margin-bottom: 15px;
}
.modal-body .survey-answer {
	text-align: left;
	padding-right: 30px;
	padding-left: 30px;
}
.modal-body .survey-answer .checkbox {
	margin-top: 15px;
	margin-bottom: 15px;
}
.modal-body .btn {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-top: 15px;
}
</style>
