<template>
	<mami-modal-wrap
		class="contract-termination-modal"
		is-bottom-drawer
		:show-modal="showModal"
		@close="handleCloseModal"
	>
		<div class="contract-termination-modal__wrapper">
			<div class="contract-termination-modal__image-wrapper">
				<img
					v-lazy="
						'/general/img/pictures/mamipay/owner/illustration_need_help.svg'
					"
					alt="illustration contract termination"
					class="contract-termination-modal__image"
				/>
			</div>

			<h1 class="contract-termination-modal__title">
				{{ tenantName }} Ingin Berhenti Sewa Kamar {{ roomNumber }}
			</h1>

			<div class="contract-termination-modal__body">
				<p class="contract-termination-modal__body-reason normal-text">
					<b>Alasan: {{ reason || '-' }}</b>
				</p>
				<p class="contract-termination-modal__body-caption normal-text">
					Dengan melakukan konfirmasi pada pengajuan pemberhentian sewa, maka
					penyewa ini tidak akan menerima tagihan baru berikutnya.
				</p>
			</div>

			<div class="contract-termination-modal__footer">
				<mami-button
					v-if="isAllowReject"
					color="tertiary"
					size="large"
					min-width="140px"
					class="contract-terminate-action__button-reject"
					:loading="isRejecting"
					:disabled="isConfirming"
					@click="handleOnReject"
				>
					Tolak
				</mami-button>
				<mami-button
					color="primary"
					size="large"
					min-width="140px"
					class="contract-terminate-action__button-confirm"
					:disabled="isRejecting"
					:loading="isConfirming"
					@click="handleOnConfirm"
				>
					Konfirmasi
				</mami-button>
			</div>
		</div>
	</mami-modal-wrap>
</template>

<script>
import _get from 'lodash/get';
import MamiButton from 'Js/@components/mami-components/MamiButton';

const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	name: 'OwnerNotifContractTerminationModal',
	components: {
		MamiModalWrap,
		MamiButton
	},
	props: {
		tenantName: {
			type: String,
			default: ''
		},
		roomNumber: {
			type: String,
			default: ''
		},
		reason: {
			type: String,
			default: ''
		},
		terminationId: {
			type: Number,
			default: 0
		},
		showModal: {
			type: Boolean,
			default: false
		},
		redirectionPath: {
			type: String,
			default: '/'
		},
		isAllowReject: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			isRejecting: false,
			isConfirming: false,
			axiosOptions: {
				baseURL: '/ownerpage/mamipay/request'
			}
		};
	},
	computed: {
		isLoading() {
			return this.isRejecting || this.isConfirming;
		}
	},
	methods: {
		showToast(message) {
			this.$toasted.show(message, {
				theme: 'toasted-primary',
				position: 'bottom-left',
				duration: 5000
			});
		},
		async handleOnConfirm() {
			if (this.isLoading) return;
			this.isConfirming = true;
			try {
				const res = await axios.get(
					`/contract/terminate/${this.terminationId}`,
					this.axiosOptions
				);
				const responseStatus = _get(res, 'data.status', false);
				const responseMessage = _get(res, 'data.meta.message', '');

				if (responseStatus) {
					this.showToast(responseMessage);
					window.open(this.redirectionPath);
					this.$emit('close');
				} else
					this.showToast(
						responseMessage || 'Terjadi galat. Silakan coba lagi.'
					);

				this.isConfirming = false;
			} catch (error) {
				this.isConfirming = false;
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				bugsnagClient.notify(error);
			}
		},
		async handleOnReject() {
			if (this.isLoading) return;
			this.isRejecting = true;
			try {
				const res = await axios.post(
					`/contract/reject-terminate/${this.terminationId}`,
					null,
					this.axiosOptions
				);
				const responseStatus = _get(res, 'data.status', false);
				const responseMessage = _get(res, 'data.meta.message', '');

				if (responseStatus) {
					this.showToast(responseMessage);
					this.$emit('close');
				} else
					this.showToast(
						responseMessage || 'Terjadi galat. Silakan coba lagi.'
					);

				this.isRejecting = false;
			} catch (error) {
				this.isRejecting = false;
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
				bugsnagClient.notify(error);
			}
		},
		handleCloseModal() {
			!(this.isRejecting || this.isConfirming) && this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
.contract-termination-modal {
	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		height: auto !important;
		border: 0;
		border-radius: 16px !important;
	}

	.modal-container {
		padding: 15px;
	}

	.modal-dialog {
		width: 100% !important;
	}

	.btn-close-filter {
		font-weight: 100;
		color: #757575;
	}

	@media (max-width: 767px) {
		&__footer {
			> * {
				width: 100%;
				min-width: 0;
			}
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
			display: flex;
			width: 558px !important;
			align-items: center;
			height: 100%;
			margin: 0 auto;
		}
	}
}
</style>

<style lang="scss" scoped>
.contract-termination-modal {
	* {
		word-break: break-word;
	}

	.normal-text {
		margin: 0;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
	}

	&__image-wrapper {
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	&__image {
		width: 224px;
		margin: 0 auto;
	}

	&__title {
		margin: 0 0 8px;
		font-size: 24px;
		font-weight: 900;
		line-height: 32px;
		color: #303030;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 24px;

		> *:not(:first-of-type) {
			margin-left: 16px;
		}
	}

	@media (max-width: 767px) {
		&__image-wrapper {
			margin-bottom: 32px;
		}

		&__title {
			font-size: 20px;
			line-height: 28px;
		}

		& &__body-reason {
			margin-bottom: 8px;
		}
	}
}
</style>
