<template>
	<div>
		<div class="stretch col-xs-12 flex-center" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div class="stretch col-xs-12" v-else>
			<owner-detail-back
				:direction="'/vacancy/' + slug"
				:menu="'Detail Lowker'"
				:position="'left'"
			></owner-detail-back>

			<div class="section-container stretch-xs col-xs-12 col-md-12">
				<table class="table table-apply" v-if="reports !== null">
					<tbody>
						<tr v-for="(report, index) in reports">
							<td class="count">{{ index + 1 }}</td>
							<td class="apply-date">{{ report.date_apply }}</td>
							<td class="apply-name">{{ report.name }}</td>
							<td class="take-cv">
								<router-link
									class="btn btn-mamigreen-inverse"
									:to="'/vacancy/' + slug + '/' + seq + '/' + report.identifier"
									v-text="'Lihat Profil'"
								></router-link>
							</td>
						</tr>
						<tr class="load-button-container" v-if="hasMore">
							<td colspan="4" class="text-center">
								<button
									@click="loadMoreApplicantData()"
									class="btn btn-success"
									:disabled="isLoadingMore"
								>
									<template v-if="isLoadingMore">
										Memuat <i class="fa fa-spinner fa-spin fa-fw"></i>
									</template>
									<template v-else>
										Tampilkan Lebih Banyak
									</template>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<owner-list-null
					:custom="'Belum ada pelamar untuk lowongan ini'"
					v-else
				></owner-list-null>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoading: true,
			isLoadingMore: false,
			hasMore: false,
			page: 1,

			reports: []
		};
	},
	created() {
		this.getApplicantData();
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		slug() {
			return this.$route.params.slug;
		},
		seq() {
			return this.$route.params.seq;
		}
	},
	methods: {
		getApplicantData() {
			axios
				.get(`owner/data/list/jobs/apply/jobs/${this.seq}?page=${this.page}`)
				.then(response => {
					this.isLoading = false;
					this.isLoadingMore = false;
					this.reports = this.reports.concat(response.data.data);
					this.hasMore = response.data.show === 20;
				})
				.catch(error => {
					this.isLoading = false;
					this.isLoadingMore = false;
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		loadMoreApplicantData() {
			this.page += 1;
			this.isLoadingMore = true;
			this.getApplicantData();
		}
	}
};
</script>

<style scoped>
.table-apply {
	margin-top: 20px;
}
.table-apply tr {
	border-bottom: 2px solid #eee;
	border-top: 2px solid #eee;
}
.table-apply tr.load-button-container {
	padding-top: 15px;
	border-bottom: none;
}

.table-apply td {
	vertical-align: middle;
}
.table-apply .count {
	width: 30px;
	text-align: center;
}
.table-apply .count,
.table-apply .apply-name {
	font-weight: bold;
}
.table-apply .take-cv {
	width: 150px;
	text-align: center;
}

@media (min-width: 768px) {
	.table-apply .apply-date {
		padding-left: 30px;
		width: 200px;
	}
}
</style>
