<template>
	<div>
		<div class="create-list-wrapper detail">
			<label v-if="propertyType === 'kos'" class="head-label">Iklan Kos</label>
			<label v-else class="head-label">Iklan Apartemen</label>
		</div>
		<div class="property-update-header">
			<owner-detail-back
				:direction="'/' + propertyType"
				:menu="'List ' + propertyType"
				:position="'left'"
			></owner-detail-back>
		</div>

		<mami-loading-inline v-if="isLoading"></mami-loading-inline>

		<div v-else class="card material-card-2 col-xs-12 col-sm-6 col-md-4">
			<div class="row bottom-space">
				<span class="col-xs-6">
					<p v-if="propertyType == 'apartment'" class="title-label-main">
						<strong>Unit Apartemen</strong>
					</p>
					<p v-else-if="detail.room.gender == 0" class="gender-mx">
						<strong>Kost Campur</strong>
					</p>
					<p v-else-if="detail.room.gender == 1" class="gender-m">
						<strong>Kost Putra</strong>
					</p>
					<p v-else-if="detail.room.gender == 2" class="gender-f">
						<strong>Kost Putri</strong>
					</p>
					<p class="room-title">{{ detail.room.room_title }}</p>
				</span>
				<span class="col-xs-6 stretch-l">
					<img
						class="image-display"
						:src="detail.room.photo_url.small"
						alt="Preview Foto Kos"
					/>
				</span>
			</div>

			<p class="sub-text">Klik dibawah ini dan pilih salah satu</p>

			<div class="bottom-space">
				<p>
					<strong>
						Saldo Iklan
						<span class="text-mamigreen">{{ membership.views_rp }}</span>
					</strong>
				</p>
				<a
					v-if="buyBalanceEligibility === 'on-trial'"
					role="button"
					class="btn btn-mamiorange btn-promo"
					@click="alertForBalanceEligibility"
				>
					Tambah Saldo
				</a>
				<a
					v-else
					href="/ownerpage/premium/balance"
					role="button"
					class="btn btn-mamiorange btn-promo"
				>
					<span v-if="balanceStatus === 'add'">Konfirmasi</span>
					<span v-else-if="balanceStatus === 'waiting'">Proses Verifikasi</span>
					<span v-else>Tambah Saldo</span>
				</a>
			</div>

			<div class="bottom-space">
				<p>
					<strong>Tingkatkan Klik</strong>
				</p>
				<b :class="{ 'is-off': promote.toggle }">TIDAK</b>
				<toggle-button
					:value="promote.toggle"
					:color="'#1BAA56'"
					:width="60"
					:height="30"
					:sync="true"
					:class="'vue-js-switch-changed-font'"
					:disabled="false"
					@change="togglePromote"
				></toggle-button>
				<b :class="{ 'is-off': !promote.toggle }">YA</b>
			</div>

			<div class="bottom-space">
				<p>
					<strong>Sisa Alokasi / Saldo</strong>
				</p>
				<p class="text-mamigreen">
					{{ detail.room.view_unused_string }} /
					{{ detail.room.total_promote_rp_single }}
				</p>
				<button
					class="btn btn-mamigreen btn-promo"
					:disabled="!promote.toggle"
					:class="{ 'btn-disabled': !promote.toggle }"
					@click="editPromote(true)"
				>
					Edit
				</button>
			</div>

			<div class="bottom-space">
				<span :class="{ 'is-off': !promote.toggle }">
					{{ detail.room.view_history.title }} /
					{{ detail.room.view_history.total }}
				</span>
			</div>

			<div class="bottom-space">
				<p>
					<span v-if="propertyType === 'kos'"
						>Promo Spesial untuk calon anak kos</span
					>
					<span v-else>Promo Spesial untuk calon penyewa apartemen</span>
				</p>
				<a class="btn btn-mamigreen btn-promo" @click="addSpecialPromote">
					<span v-if="!specialPromo.loading">Buat Promo</span>
					<i v-else class="fa fa-circle-o-notch fa-spin"></i>
				</a>
			</div>

			<owner-modal-promote
				ref="ownerModalPromote"
				:detail="detail"
				@closed="handleModalPromoteClose"
			></owner-modal-promote>

			<owner-modal-special-promo
				ref="specialPromoModal"
				:detail="detail.room"
				:seq="seq"
			></owner-modal-special-promo>
		</div>
	</div>
</template>

<script>
import mixinBuyBalanceEligibility from '../mixins/OwnerBuyBalanceEligibility';

export default {
	mixins: [mixinBuyBalanceEligibility],

	props: {
		propertyType: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			room: [],
			membership: {},
			detail: {},
			isLoading: false,
			promote: {
				status: false,
				toggle: false,
				edit: false,
				payFor: 'click',
				payForChat: false,
				payForClick: false,
				payForChanged: false
			},
			specialPromo: {
				loading: false
			}
		};
	},

	computed: {
		seq() {
			return this.$route.params.seq;
		},

		token() {
			return this.$store.state.token;
		},

		balanceStatus() {
			return this.$store.state.profile.membership.balance_status;
		}
	},

	created() {
		this.getRoomDetail();
	},

	methods: {
		getRoomDetail() {
			this.isLoading = true;
			axios
				.get('/owner/data/list/' + this.propertyType + '/' + this.seq)
				.then(response => {
					this.isLoading = false;
					this.detail = response.data;
					this.membership = response.data.membership;

					this.promote.status =
						this.detail.room.status_promote === 0 ? false : true;
					this.promote.toggle = this.promote.status;

					if (this.detail.room.telp_count > 0) {
						this.telpZero = false;
					}

					if (
						this.detail.room.pay_for == null ||
						this.detail.room.pay_for === 'click'
					) {
						this.promote.payFor = 'click';
						this.promote.payForClick = true;
					} else if (this.detail.room.pay_for === 'chat') {
						this.promote.payFor = 'chat';
						this.promote.payForChat = true;
					}

					this.$nextTick(() => {
						if (this.detail.popup_allocated != null) {
							this.$refs.ownerModalPromote.openModal('allocated');
						}
					});
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},

		togglePromote(evt) {
			this.promote.toggle = evt.value;
			if (this.promote.toggle) {
				if (this.detail.room.status_promote === 0) {
					if (
						!this.detail.room.promote_saldo ||
						!this.detail.room.before_promote ||
						parseInt(this.detail.room.percen_promote === 100)
					) {
						this.editPromote(true);
					} else {
						this.promoteOnContinue();
					}
				}
			} else {
				swal({
					title: 'Matikan Iklan',
					text: 'Anda akan mematikan promosi di data iklan ini.',
					type: 'warning',
					confirmButtonColor: '#1BAA56',
					confirmButtonText: 'Ya'
				}).then(result => {
					this.promoteOff();
					swal('', 'Iklan Anda telah dimatikan.', 'info');
				});
			}
		},

		editPromote(state) {
			if (state) {
				this.promote.edit = state;
			}
			this.promote.payForChanged = false;
			this.$refs.ownerModalPromote.openModal('edit');
		},

		async addSpecialPromote() {
			this.specialPromo.loading = true;
			await this.$refs.specialPromoModal.getSpecialPromoStatus();
			this.specialPromo.loading = false;
		},

		promoteOnContinue() {
			this.$refs.ownerModalPromote.openModal('continue');
		},

		promoteOff() {
			this.openSwalLoading('Menonaktifkan Iklan...', null);
			axios
				.post('/owner/pinned', {
					_token: this.token,
					song_id: this.detail.room._id,
					status: 0
				})
				.then(response => {
					if (response.data.status) {
						this.swalSuccessTimer(
							null,
							response.data.message,
							this.getRoomDetail()
						);
						setTimeout(() => {
							this.reloadOwnerProfile();
						}, 3000);
					} else {
						this.swalError(null, response.data.message);
						this.getRoomDetail();
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},

		handleModalPromoteClose(state) {
			if (state.closed && state.changed) {
				this.reloadOwnerProfile();
				this.getRoomDetail();
			} else if (state.closed && !state.changed) {
				if (this.promote.toggle && !this.promote.edit) {
					this.promote.toggle = false;
				} else if (this.promote.toggle && this.promote.edit) {
					this.promote.toggle =
						this.detail.room.status_promote === 0 ? false : true;
					if (this.promote.payForChanged) {
						this.promote.payFor =
							this.promote.payFor === 'chat' ? 'click' : 'chat';
						this.detail.room.pay_for = this.promote.payFor;
					}
				} else if (!this.promote.toggle) {
					this.promote.toggle = false;
				}
			}
		},

		togglePayForSaldo(info) {
			if (this.promote.toggle && this.promote.payFor !== info) {
				console.log(info);
				this.promote.edit = true;
				this.promote.payFor = info;
				this.promote.payForChanged = true;
				this.detail.room.pay_for = this.promote.payFor;
				this.$refs.ownerModalPromote.openModal('edit');
			}
		}
	}
};
</script>

<style scoped>
/* Global */
.gender-mx {
	color: #9d5ab0;
}
.gender-f {
	color: #f76288;
}
.gender-m {
	color: #289ad6;
}
.stretch-l {
	padding-left: 0;
}
.sub-text {
	margin-top: -10px;
	font-size: 13px;
	color: #989898;
}
.bottom-space {
	margin-bottom: 10px;
}

/* Component */

.property-update-header {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	margin-bottom: 20px;
}

.col-separator {
	padding-right: 5px;
	padding-bottom: 25px;
}

.card {
	padding: 10px 10px 0;
	border-radius: 8px;
}

.title-label-main {
	color: #1baa56;
}

.image-display {
	width: 100%;
	height: 100px;
	border-radius: 5px;
}

.room-title {
	height: 60px;
}
.select-green {
	width: 150px;
	color: #1baa56;
	border: 1px #1baa56 solid;
}

.is-off {
	color: #bfcbd9;
}

.btn-promo {
	width: 125px;
	padding: 6px;
}

.btn-disabled {
	background-color: #bfcdd9;
	border-color: #bfcdd9;
	opacity: 1;
}
</style>
