<template>
	<div id="ownerModalAddListing" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><b>Saya ingin menambahkan data:</b></h4>
				</div>
				<div class="modal-body">
					<div class="radio radio-success radio-info radio-inline">
						<input type="radio" id="listingKost" name="listing_type" value="Kost" v-model="listingType">
						<label for="listingKost"> Kost </label>
					</div>
					<div class="radio radio-success radio-inline">
						<input type="radio" id="listingApartment" name="listing_type" value="Apartment" v-model="listingType">
						<label for="listingApartment"> Apartemen </label>
					</div>
				</div>
				<div class="modal-footer">
					<form action="/input-properti" method="POST" v-if="listingType == 'Kost'">
						<input type="hidden" name="_token" :value="token">
						<input type="hidden" name="property_type" value="Kost">
						<input type="hidden" name="input_as" value="Pemilik Kos">
						<input type="hidden" name="phone_number" :value="authData.all.phone_number">
						<button type="submit" class="btn btn-mamiorange">Tambahkan Data</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
					</form>

					<form action="/input-properti" method="POST" v-else-if="listingType == 'Apartment'">
						<input type="hidden" name="_token" :value="token">
						<input type="hidden" name="property_type" value="Apartment">
						<input type="hidden" name="input_as" value="Pemilik Apartemen">
						<input type="hidden" name="phone_number" :value="authData.all.phone_number">
						<button type="submit" class="btn btn-mamiorange">Tambahkan Data</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				listingType: 'Kost'
			}		
		},
		computed: {
			token () {
				return this.$store.state.token;
			},
			authData () {
				return this.$store.state.authData;
			} 
		},
		methods: {
			openModal () {
		    	$('#ownerModalAddListing').modal('show'); 
		    },
		    closeModal () {
		    	$('#ownerModalAddListing').modal('hide');
		    }
		}
	}
</script>

<style scoped>
	#ownerModalAddListing .modal-footer .btn {
		font-size: larger;
	}
</style>