<template>
	<bg-modal
		:value="value"
		class="confirm-payment-modal"
		desktop-size="md"
		mobile-size="popup"
		@input="$emit('input', $event)"
		@close="closeModal"
	>
		<owner-countdown-timer />
		<template #footer>
			<div v-if="isMobile" class="confirm-payment-modal__action">
				<bg-button
					class="confirm-payment-modal__action-confirm"
					variant="primary"
					size="lg"
					@click="handleConfirmationBtn"
				>
					Konfirmasi Pembayaran
				</bg-button>
				<bg-button
					class="confirm-payment-modal__action-close"
					size="lg"
					@click="handleChangePurchase"
				>
					Ganti {{ purchaseType }}
				</bg-button>
			</div>
			<div v-else class="confirm-payment-modal__action">
				<bg-button
					class="confirm-payment-modal__action-close"
					size="lg"
					@click="handleChangePurchase"
				>
					Ganti {{ purchaseType }}
				</bg-button>
				<bg-button
					class="confirm-payment-modal__action-confirm"
					variant="primary"
					size="lg"
					@click="handleConfirmationBtn"
				>
					Konfirmasi Pembayaran
				</bg-button>
			</div>
		</template>
	</bg-modal>
</template>

<script>
import { BgButton, BgModal } from 'bangul-vue';
import OwnerCountdownTimer from './OwnerCountdownTimer.vue';

export default {
	name: 'OwnerModalOnConfirmation',

	components: {
		BgButton,
		BgModal,
		OwnerCountdownTimer,
	},

	props: {
		value: {
			type: Boolean,
			default: false,
		},
	},

	data() {
		return {
			isShowModal: false,
		};
	},

	computed: {
		isMobile() {
			return navigator.isMobile && window.innerWidth < 768;
		},
		invoice() {
			return this.$store.state.invoice.invoice;
		},
		invoiceUrl() {
			return this.invoice.invoice_url;
		},
		purchaseType() {
			return this.invoice.detail_package.type === 'balance' ? 'Saldo' : 'Paket';
		},
		changePurchaseUrl() {
			return this.purchaseType === 'Saldo'
				? `/ownerpage/premium/balance?change-package=true`
				: `/promosi-kost/premium-package`;
		},
	},

	methods: {
		closeModal() {
			this.$emit('input', false);
		},
		handleConfirmationBtn() {
			window.location.href = this.invoiceUrl;
			this.closeModal();
		},
		handleChangePurchase() {
			window.location.href = this.changePurchaseUrl;
			this.closeModal();
		},
	},
};
</script>

<style lang="scss" scoped>
/* stylelint-disable  */
.confirm-payment-modal {
	::v-deep {
		.bg-c-modal__body {
			max-height: 100% !important;
		}
	}

	&__action {
		display: flex;
		justify-content: flex-end;

		> *:not(:first-child) {
			margin-left: 16px;
		}
	}

	@media (max-width: 991px) {
		&__action {
			justify-content: space-between;

			> * {
				width: 100%;
			}
		}
	}

	@media (max-width: 767px) {
		&__action {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__action-close {
			margin-right: 15px;
		}

		&__action-confirm {
			margin-bottom: 16px;
		}
	}
}
</style>
