<template>
	<div>
		<div
			class="card-container stretch-xs col-xs-12 col-md-6"
			v-for="(room, index) in rooms"
			:key="index"
			@click="openRoom(room)"
			:title="room.room_title"
		>
			<div class="card-box material-card material-card-1 clickable">
				<div class="card-title hidden-xs hidden-sm col-xs-12">
					{{ room.room_title }}
				</div>
				<div
					class="card-photo col-xs-12 col-md-4"
					:class="{
						'photo-full':
							room.apartment_project_id == 0 && room.kamar_available == 0
					}"
					:style="
						room.photo_url !== null
							? { backgroundImage: 'url(' + room.photo_url.medium + ')' }
							: { backgroundImage: 'url(/assets/placeholder-cover.jpg)' }
					"
				>
					<div
						class="card-status status-more"
						v-text="'ADA ' + room.kamar_available + ' KAMAR'"
						v-if="room.apartment_project_id == 0 && room.kamar_available > 1"
					></div>
					<div
						class="card-status status-one"
						v-text="'TINGGAL 1 KAMAR'"
						v-if="room.apartment_project_id == 0 && room.kamar_available == 1"
					></div>
					<div
						class="card-status status-full"
						v-text="'PENUH'"
						v-if="room.apartment_project_id == 0 && room.kamar_available == 0"
					></div>
				</div>
				<div class="card-title hidden-md hidden-lg col-xs-12">
					{{ room.room_title }}
				</div>
				<div class="card-promote stretch col-xs-12 col-md-8">
					<div class="promote promote-saldo flex-between">
						<span>Saldo Iklan</span>
						<span
							class="saldo-info"
							:class="{
								'is-on':
									room.status_promote == 1 &&
									parseInt(room.percen_promote) < 90,
								'is-danger':
									room.status_promote == 1 &&
									parseInt(room.percen_promote) >= 90,
								'is-off': room.status_promote == 0
							}"
							:title="
								room.status_promote == 1 && parseInt(room.percen_promote) >= 90
									? 'Saldo hampir habis'
									: ''
							"
							v-text="room.progress_promote"
						></span>
					</div>
					<div class="promote promote-usage flex-between">
						<span>{{ room.chat_history.title }}</span>
						<span class="usage-info">
							{{ room.chat_history.total }}
						</span>
					</div>
					<div class="promote promote-usage flex-between">
						<span>{{ room.view_history.title }}</span>
						<span class="usage-info">
							{{ room.view_history.total }}
						</span>
					</div>
					<div class="promote promote-toggle stretch">
						<span v-if="room.status_promote == 1">Edit Saldo Iklan</span>
						<span v-else>Promosikan Iklan</span>

						<span v-if="room.apartment_project_id == 0"> Kost Ini</span>
						<span v-else> Apartemen Ini</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	computed: {
		isMobile() {
			return navigator.isMobile ? true : false;
		}
	},
	props: {
		rooms: {
			type: Array,
			required: true
		}
	},
	methods: {
		openRoom(room) {
			if (room._id !== 0) {
				if (room.apartment_project_id == 0) {
					this.$router.push({
						name: 'kos_detail',
						params: { seq: room._id.toString() }
					});
				} else {
					this.$router.push({
						name: 'apartment_detail',
						params: { seq: room._id.toString() },
						props: { propertyType: this.propertyType }
					});
				}
			} else {
				alert(
					room.room_title +
						' sedang disiapkan oleh sistem. Silakan coba beberapa saat lagi.'
				);
			}
		}
	}
};
</script>

<style scoped>
.card-container {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3e5168;
}

@media (max-width: 767px) {
	.card-box {
		height: 330px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.card-box {
		height: 330px;
	}
}

@media (min-width: 992px) {
	.card-box {
		height: 180px;
	}
}

.card-title {
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-align: center;
	border-bottom: 1px solid #eee;
	font-weight: bold;
}

.card-photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
	height: 150px;
}
.card-photo.photo-full {
	opacity: 0.7;
}

.card-status {
	color: #fff;
}

.card-status {
	width: 100%;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.card-status.status-more {
	background-color: #1baa56;
}
.card-status.status-one {
	background-color: #e81a29;
}
.card-status.status-full {
	background-color: #000;
}

.card-promote {
	position: relative;
	height: 150px;
}
.card-promote > .promote {
	padding: 5px 15px;
}

.saldo-info,
.usage-info {
	font-weight: bold;
}
.saldo-info.is-on {
	color: #1baa56;
}
.saldo-info.is-off {
	color: #bfcbd9;
}
.saldo-info.is-danger {
	color: #a94442;
}

.promote-usage img {
	width: 20px;
	margin-right: 5px;
}
.promote-toggle {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #eee;
	color: #1baa56;
}
</style>
