<template>
	<div class="modal fade" role="dialog" id="ownerModalEdit">
		<div class="modal-dialog modal-sm">
			<form @submit.prevent="submitRoomPrice">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-menu" v-if="propertyType == 'kos'">
							<label>Jumlah Kamar Kosong</label>
							<select class="form-control" v-model="roomAvailable">
								<option v-for="n in 101" :value="n - 1" :key="n"
									>{{ n - 1 }} Kamar</option
								>
							</select>
						</div>
						<div class="modal-menu" v-else>
							<div class="form-group">
								<label for="room-available"
									>Kamar Saat Ini <span class="text-danger">*</span></label
								>
								<div>
									<div class="btn-group colors">
										<label
											class="btn btn-mamigreen-inverse"
											:class="isRadio1Active ? 'active' : ''"
										>
											<input
												type="radio"
												name="room-available"
												:value="0"
												v-model="roomAvailable"
												@click="activateRadio('penuh')"
											/>
											Penuh
										</label>
										<label
											class="btn btn-mamigreen-inverse"
											:class="isRadio2Active ? 'active' : ''"
										>
											<input
												type="radio"
												name="room-available"
												:value="1"
												v-model="roomAvailable"
												@click="activateRadio('kosong')"
											/>
											Kosong
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-menu">
							<label
								>Harga Bulanan
								<span class="text-uppercase">({{ priceType }})</span></label
							>
							<input
								type="number"
								class="form-control"
								min="0"
								max="999999999"
								:step="priceStep"
								required
								placeholder="Masukkan harga"
								v-model="price.monthly"
							/>
						</div>
						<div class="modal-menu">
							<label
								>Harga Harian
								<span class="text-uppercase">({{ priceType }})</span></label
							>
							<input
								type="number"
								class="form-control"
								min="0"
								max="999999999"
								:step="priceStep"
								placeholder="Masukkan harga"
								v-model="price.daily"
							/>
						</div>
						<div class="modal-menu">
							<label
								>Harga Mingguan
								<span class="text-uppercase">({{ priceType }})</span></label
							>
							<input
								type="number"
								class="form-control"
								min="0"
								max="999999999"
								:step="priceStep"
								placeholder="Masukkan harga"
								v-model="price.weekly"
							/>
						</div>
						<div class="modal-menu">
							<label
								>Harga Tahunan
								<span class="text-uppercase">({{ priceType }})</span></label
							>
							<input
								type="number"
								class="form-control"
								min="0"
								max="999999999"
								:step="priceStep"
								placeholder="Masukkan harga"
								v-model="price.yearly"
							/>
						</div>
					</div>
					<div class="modal-footer">
						<div class="modal-menu">
							<button type="submit" class="btn btn-mamigreen">SIMPAN</button>
						</div>
						<hr />
						<div class="modal-menu">
							<a
								:href="'/ownerpage/edit-kos/' + room._id"
								role="button"
								class="btn btn-mamigreen-inverse"
								v-if="propertyType == 'kos'"
								>EDIT DATA {{ propertyTypeTitle }}</a
							>
							<a
								:href="'/ownerpage/edit-apartment/' + room._id"
								role="button"
								class="btn btn-mamigreen-inverse"
								v-else-if="propertyType == 'apartment'"
								>EDIT DATA {{ propertyTypeTitle }}</a
							>
						</div>
						<div class="modal-menu">
							<a role="button" class="btn-delete" @click="deleteRoom"
								>HAPUS {{ propertyTypeTitle }}</a
							>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			showSurvey: false,
			roomAvailable: null,
			price: {
				monthly: null,
				daily: null,
				weekly: null,
				yearly: null
			},
			priceType: '',
			priceStep: 1
		};
	},
	mounted() {
		$('#ownerModalEdit').on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;

			this.roomAvailable = this.room.kamar_available;
			this.priceType = this.room.price_type;
			this.priceStep = this.priceType == 'idr' ? 1000 : 1;
			this.price = {
				monthly:
					this.priceType == 'idr'
						? this.room.price_monthly_time
						: this.room.price_monthly_usd,
				daily:
					this.priceType == 'idr'
						? this.room.price_daily
						: this.room.price_daily_usd,
				weekly:
					this.priceType == 'idr'
						? this.room.price_weekly_time
						: this.room.price_weekly_usd,
				yearly:
					this.priceType == 'idr'
						? this.room.price_yearly_time
						: this.room.price_yearly_usd
			};
		});
		$('#ownerModalEdit').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged,
					survey: this.showSurvey
				});
			} else {
				this.$emit('opened', val);
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		propertyTypeTitle() {
			if (this.propertyType == 'kos') {
				return 'Kost';
			} else if (this.propertyType == 'apartment') {
				return 'Apartemen';
			}
		},
		isRadio1Active() {
			return this.roomAvailable == 0 ? true : false;
		},
		isRadio2Active() {
			return this.roomAvailable > 0 ? true : false;
		}
	},
	props: {
		room: {
			type: Object
		},
		propertyType: {
			type: String,
			required: true
		}
	},
	methods: {
		openModal() {
			$('#ownerModalEdit').modal('show');
		},
		closeModal() {
			$('#ownerModalEdit').modal('hide');
		},
		activateRadio(param) {
			if (param == 'penuh') {
				this.isRadio1Active = true;
				this.isRadio2Active = false;
			} else {
				this.isRadio1Active = false;
				this.isRadio2Active = true;
			}
		},
		submitRoomPrice() {
			this.openSwalLoading('Mohon tunggu...', null);

			let params = {
				_token: this.token,
				room_id: this.room._id,
				room_available: this.roomAvailable,
				price_monthly: this.price.monthly,
				price_daily: this.price.daily,
				price_weekly: this.price.weekly,
				price_yearly: this.price.yearly,
				price_type: this.priceType
			};

			axios
				.post('/owner/update_room_price', params)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.showSurvey = response.data.show_survey;
						this.isChanged = true;
						this.swalSuccessTimer(
							null,
							'Edit data berhasil',
							this.closeModal()
						);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		deleteRoom() {
			if (
				confirm(
					'HAPUS DATA IKLAN : Anda akan menghapus data iklan ini dari akun Anda. Lanjutkan?'
				)
			) {
				this.openSwalLoading('Mohon tunggu...', null);
				axios
					.delete('/owner/delete_room/' + this.room._id, {
						_token: this.token
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.$router.push({
								name: 'kos'
							});
							this.swalSuccessTimer(
								'',
								'Data iklan berhasil dihapus dari akun Anda',
								this.closeModal()
							);
						} else {
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			}
		}
	}
};
</script>

<style scoped>
.modal-header {
	padding: 5px 15px 0 15px;
	border: none;
}
.modal-body {
	padding-top: 5px;
	padding-bottom: 5px;
}
.modal-footer {
	padding: 5px 15px 5px 15px;
	border: none;
}
.modal-footer hr {
	margin-top: 5px;
	margin-bottom: 5px;
}
.modal-menu {
	margin: 5px 0;
	text-align: center;
}
.modal-menu label {
	margin-bottom: 0;
}
.modal-menu .btn,
.modal-menu .btn-delete {
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
}
.modal-menu .btn-delete {
	color: red;
	font-weight: bold;
}

.btn-group .btn {
	width: auto;
}

.btn-mamigreen-inverse:active,
.btn-mamigreen-inverse:checked,
.btn-mamigreen-inverse:hover,
.btn-mamigreen-inverse.active {
	background-color: #1baa56;
	color: #fff;
}
</style>
