<template>
	<div class="modal fade" role="dialog" id="ownerModalEditVacancy">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<div class="modal-menu">
						<a
							:href="'/ownerpage/edit-vacancy/' + vacancy.id"
							role="button"
							class="btn btn-mamigreen-inverse"
							>EDIT LOWONGAN KERJA</a
						>
					</div>
					<div class="modal-menu">
						<button
							type="submit"
							class="btn btn-mamiorange"
							@click="toggleActiveVacancy(vacancy.active)"
							v-if="vacancy.active == 1"
						>
							NONAKTIFKAN LOWONGAN KERJA
						</button>
						<button
							type="submit"
							class="btn btn-mamigreen"
							@click="toggleActiveVacancy(vacancy.active)"
							v-else
						>
							AKTIFKAN LOWONGAN KERJA
						</button>
					</div>
					<div class="modal-menu">
						<a role="button" class="btn-delete" @click="deleteVacancy"
							>HAPUS LOWONGAN KERJA</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			roomAvailable: null,
			price: {
				monthly: null,
				daily: null,
				weekly: null,
				yearly: null
			}
		};
	},
	mounted() {
		$('#ownerModalEditVacancy').on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;
		});
		$('#ownerModalEditVacancy').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged
				});
			} else {
				this.$emit('opened', val);
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		}
	},
	props: {
		vacancy: {
			type: Object
		}
	},
	methods: {
		openModal() {
			$('#ownerModalEditVacancy').modal('show');
		},
		closeModal() {
			$('#ownerModalEditVacancy').modal('hide');
		},
		toggleActiveVacancy(active) {
			if (active == 1) {
				if (
					confirm(
						'NONAKTIFKAN DATA LOWONGAN KERJA : Anda akan menonaktfikan data lowongan kerja ini untuk tidak ditayangkan pada website / app. Lanjutkan?'
					)
				) {
					this.openSwalLoading('Mohon tunggu...', null);
					axios
						.get('owner/data/list/jobs/' + this.vacancy.slug + '/deactive')
						.then(response => {
							this.closeSwalLoading();
							if (response.data.status) {
								this.isChanged = true;
								this.swalSuccessTimer(
									'',
									'Lowongan berhasil dinonaktifkan',
									this.closeModal()
								);
							}
						})
						.catch(error => {
							this.closeSwalLoading();
							bugsnagClient.notify(error);
							alert('Terjadi galat. Silakan coba lagi.');
						});
				}
			} else {
				if (
					confirm(
						'AKTIFKAN DATA LOWONGAN KERJA : Anda akan mengaktfikan data lowongan kerja ini untuk ditayangkan pada website / app. Lanjutkan?'
					)
				) {
					this.openSwalLoading('Mohon tunggu...', null);
					axios
						.get('owner/data/list/jobs/' + this.vacancy.slug + '/active')
						.then(response => {
							this.closeSwalLoading();
							if (response.data.status) {
								this.isChanged = true;
								this.swalSuccessTimer(
									'',
									'Lowongan berhasil diaktifkan',
									this.closeModal()
								);
							}
						})
						.catch(error => {
							this.closeSwalLoading();
							bugsnagClient.notify(error);
							alert('Terjadi galat. Silakan coba lagi.');
						});
				}
			}
		},
		deleteVacancy() {
			if (
				confirm(
					'HAPUS DATA LOWONGAN KERJA : Anda akan menghapus data lowongan kerja ini dari akun Anda. Lanjutkan?'
				)
			) {
				this.openSwalLoading('Mohon tunggu...', null);
				axios
					.get('owner/data/list/jobs/' + this.vacancy.slug + '/delete')
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.$router.push({
								name: 'vacancy'
							});
							this.swalSuccessTimer(
								'',
								'Lowongan berhasil dihapus dari akun Anda',
								this.closeModal()
							);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			}
		}
	}
};
</script>

<style scoped>
.modal-header {
	padding: 5px 15px 0 15px;
	border: none;
}
.modal-body {
	padding: 0 5px;
}
.modal-footer {
	padding: 5px 15px 5px 15px;
	border: none;
}
.modal-menu {
	margin: 5px 0;
	text-align: center;
}
.modal-menu label {
	margin-bottom: 0;
}
.modal-menu .btn,
.modal-menu .btn-delete {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
}
.modal-menu .btn-delete {
	color: red;
	font-weight: bold;
}
</style>
