<template>
	<div class="modal fade" role="dialog" id="ownerModalPhoneVerify">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Verifikasi Akun</h4>
				</div>
				<div class="modal-body">
					<p v-if="!code.requested">
						Mohon verifikasi nomor Anda agar calon penyewa bisa langsung
						menghubungi Anda
					</p>
					<p v-else>
						Silakan masukkan kode verifikasi yang telah kami kirimkan melalui
						SMS ke no. handphone Anda
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-mamigreen-inverse"
						:disabled="code.requested ? true : false"
						@click="requestVerifCode"
						v-text="'Verifikasi No. Handphone'"
					></button>
					<a
						href="javascript:void(0)"
						role="button"
						data-dismiss="modal"
						v-text="'Nanti Saja'"
						v-if="!code.requested"
					></a>

					<form @submit.prevent="storeVerifCode" v-else>
						<input
							type="text"
							class="form-control"
							minlength="1"
							maxlength="4"
							required
							placeholder="Masukkan kode verifikasi di sini"
							v-model="code.value"
						/>
						<button type="submit" class="btn btn-mamiorange">
							Submit Kode
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			code: {
				requested: false,
				value: ''
			}
		};
	},
	mounted() {
		$('#ownerModalPhoneVerify').on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;
		});
		$('#ownerModalPhoneVerify').on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged
				});
			} else {
				this.$emit('opened', val);
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		}
	},
	methods: {
		openModal() {
			$('#ownerModalPhoneVerify').modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#ownerModalPhoneVerify').modal('hide');
		},
		requestVerifCode() {
			this.openSwalLoading('Mengirim kode...', null);
			axios
				.post('/owner/verification/code', {
					_token: this.token
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.swalSuccessTimer(
							'Sukses',
							'Kami telah mengirimkan SMS kode verifikasi ke no. handphone Anda',
							null
						);
						this.code.requested = true;
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		storeVerifCode() {
			this.openSwalLoading('Memverifikasi kode...', null);
			axios
				.post('/owner/verification/store', {
					_token: this.token,
					code: this.code.value
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.isChanged = true;
						this.swalSuccessTimer(
							'Sukses',
							'Verifikasi no. handphone berhasil',
							this.closeModal()
						);
					} else {
						this.swalError(null, response.data.meta.message);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style scoped>
.modal-header {
	background-color: #1baa56;
}
.modal-title {
	color: #fff;
	text-align: center;
}
.modal-body {
	font-size: 16px;
	padding-bottom: 0;
	text-align: center;
}
.modal-footer {
	border-top: none;
	padding-top: 0;
	text-align: center;
}
.modal-footer .btn {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.modal-footer .form-control {
	font-size: 16px;
	text-align: center;
}
</style>
