<template>
	<div class="modal fade" id="ownerModalEmailVerification">
		<div class="modal-dialog">
			<div class="modal-content modal-email">
				<div class="modal-section --left">
					<img class="modal-logo" src="assets/owner/email_verification.svg" alt="email_verification" title="Email Verification">
				</div>
				<div class="modal-section --right">
					<div class="section-item">
						<label class="item-title">VERIFIKASI BERHASIL</label>
					</div>
					<div class="section-item">
						<span class="item-desc">Selamat, verifikasi email Anda telah berhasil.</br> Buka pengaturan di akun Anda untuk melakukan pengecekan email.</span>
					</div>
					<div class="section-item">
						<button type="button" class="btn btn-mamigreen btn-verif" @click="goToSetting">OK, SAYA MENGERTI</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		openModal() {
			$('#ownerModalEmailVerification').modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#ownerModalEmailVerification').modal('hide');
		},
		goToSetting() {
			this.closeModal();
			this.$router.push('settings');
		}
	}
};
</script>

<style scoped>
.modal-email {
	border: none;
	padding: 50px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
@media (max-width: 767px) {
	.modal-email {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
@media (min-width: 768px) {
	.modal-section.--right {
		margin-left: 20px;
	}
}

.section-item {
	padding: 7px;
	margin-top: 10px;
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.item-title {
	font-size: 20px;
	font-weight: 700px;
}
.item-desc {
	font-size: 14px;
	text-align: center;
}
.btn-verif {
	font-weight: 700;
}
.modal-logo {
	width: 200px;
}
@media (max-width: 767px) {
	.modal-logo {
		width: 150px;
		margin-bottom: 20px;
	}
}
</style>
