<template>
	<div class="modal fade" role="dialog" :id="el">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">TERIMA KASIH PEMILIK KOST</h4>
				</div>
				<div class="modal-body">
					<p>
						Kami, tim Mamikos berterimakasih karena Anda sudah mempercayakan
						iklan kost Anda kepada Mamikos selama ini sampai kamar kost Anda
						penuh.
					</p>
					<h4>
						Berapa kamar dari kost Anda yang disewa oleh pengguna Mamikos?
					</h4>
					<form class="form-inline" @submit.prevent="submitSurvey">
						<div class="form-group">
							<input
								type="number"
								class="form-control"
								min="0"
								required
								placeholder="tulis angka"
								:id="el + 'Count'"
								v-model="count"
							/>
							<label :for="el + 'Count'">Kamar</label>
						</div>
						<button type="submit" class="btn btn-mamigreen">SUBMIT</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isClosed: false,
			isChanged: false,
			count: ''
		};
	},
	mounted() {
		$('#' + this.el).on('show.bs.modal', e => {
			this.isClosed = false;
			this.isChanged = false;
		});
		$('#' + this.el).on('hide.bs.modal', e => {
			this.isClosed = true;
		});
	},
	watch: {
		isClosed(val) {
			if (val) {
				this.$emit('closed', {
					closed: val,
					changed: this.isChanged
				});
			} else {
				this.$emit('opened', val);
			}
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		postUrl() {
			return this.hasQueryString
				? '/owner/data/survey/updateroom?premium_survey=true'
				: '/owner/data/survey/updateroom';
		}
	},
	props: {
		el: {
			type: String,
			required: true
		},
		paramId: {
			type: Number,
			required: true
		},
		dataFor: {
			type: String,
			required: true
		},
		hasQueryString: {
			type: Boolean,
			required: true
		}
	},
	methods: {
		openModal() {
			$('#' + this.el).modal({
				backdrop: 'static',
				keyboard: false
			});
		},
		closeModal() {
			$('#' + this.el).modal('hide');
		},
		submitSurvey() {
			if (this.count !== '') {
				this.openSwalLoading('Mohon tunggu...', null);
				axios
					.post(this.postUrl, {
						_token: this.token,
						room_id: this.paramId,
						room_count: parseInt(this.count),
						data_for: this.dataFor
					})
					.then(response => {
						this.closeSwalLoading();
						if (response.data.status) {
							this.isChanged = true;
							this.swalSuccessTimer(
								null,
								'Sukses mengisi survey',
								this.closeModal()
							);
						} else {
							this.swalError(null, response.data.meta.message);
						}
					})
					.catch(error => {
						this.closeSwalLoading();
						bugsnagClient.notify(error);
						alert('Terjadi galat. Silakan coba lagi.');
					});
			}
		}
	}
};
</script>

<style scoped>
.modal-header {
	border-bottom: none;
}
.modal-title {
	color: #1baa56;
	text-align: center;
}
.modal-body {
	text-align: center;
}
.modal-body p,
.modal-body label,
.modal-body .form-control {
	font-size: 16px;
}
.modal-body .form-control {
	text-align: center;
}
.modal-body h4 {
	margin-top: 20px;
}
.modal-body .btn {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-top: 15px;
}
</style>
