<template>
	<div>
		<div class="stretch col-xs-12 flex-center" v-if="isLoading">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div class="stretch col-xs-12" v-else>
			<owner-detail-back
				:direction="'/' + propertyType"
				:menu="'List ' + propertyTypeTitle"
				:position="'left'"
			></owner-detail-back>

			<div class="stretch-xs col-xs-12 col-md-6">
				<div class="card-container stretch container-fluid">
					<div
						class="card-box material-card material-card-2"
						:class="{ 'outline-red': detail.room.status_kost == 'unverified' }"
					>
						<div
							class="card-photo col-xs-12 col-sm-4"
							:style="{
								backgroundImage: 'url(' + detail.room.photo_url.medium + ')'
							}"
						>
							<div class="card-status">
								<span
									class="status-title"
									v-if="
										detail.room.status_kost == 'edited' ||
											detail.room.status_kost == 'add' ||
											detail.room.status_kost == 'claim'
									"
									v-text="'TUNGGU DISETUJUI'"
								></span>
								<span
									class="status-title"
									v-else-if="detail.room.status_kost == 'unverified'"
									v-text="'DATA IKLAN DITOLAK'"
								></span>
								<span
									class="status-title"
									v-else-if="detail.room.status_kost == 'incomplete'"
									v-text="'DATA BELUM LENGKAP'"
								></span>
							</div>
						</div>
						<div class="card-info col-xs-12 col-sm-8">
							<p class="info-title">
								<a
									:href="'/room/' + detail.room.slug"
									target="_blank"
									rel="noopener"
									>{{ detail.room.room_title }}</a
								>
							</p>

							<p class="info-price" v-if="propertyType == 'kos'">
								<span v-show="detail.room.kamar_available > 0"
									>ADA {{ detail.room.kamar_available }} KAMAR</span
								>
								<span v-show="detail.room.kamar_available == 0">PENUH</span>
								<span> | </span>
								<span>{{ detail.room.price_title_time }}</span>
							</p>

							<p class="info-price" v-else-if="propertyType == 'apartment'">
								<span v-if="detail.room.price_type == 'idr'">{{
									detail.room.price_title_time
								}}</span>
								<span v-else>{{ detail.room.price_title_time_usd }}</span>
							</p>

							<a
								:href="'/ownerpage/addpromo/' + seq"
								class="btn btn-mamiorange-inverse full-width btn-promo"
								v-if="detail.room.can_promotion"
							>
								<span v-if="detail.room.promotion"
									>Edit Promo {{ propertyTypeTitle }}</span
								>
								<span v-else>Tambahkan Promo {{ propertyTypeTitle }}</span>
							</a>

							<a
								:href="'/ownerpage/addpromo/' + seq"
								role="button"
								class="btn btn-mamiorange-inverse full-width btn-promo"
								v-else-if="!detail.room.can_promotion && detail.room.promotion"
							>
								<span>Edit Promo {{ propertyTypeTitle }}</span>
							</a>

							<button
								class="btn btn-mamigreen full-width"
								@click="editProperty"
							>
								<span v-if="propertyType == 'kos'"
									>Edit Kamar, Harga & Data {{ propertyTypeTitle }}</span
								>
								<span v-if="propertyType == 'apartment'"
									>Edit Harga & Data {{ propertyTypeTitle }}</span
								>
							</button>

							<a
								v-if="propertyType == 'kos'"
								:href="`/ownerpage/edit-kos/${detail.room._id}?for=new_type`"
								class="btn btn-mamigreen-inverse full-width add-type"
							>
								<span>Tambahkan Tipe Kamar Lain</span>
							</a>
						</div>
					</div>
				</div>
				<div class="clearfix" v-if="detail.membership.expired"></div>

				<div
					class="card-container stretch container-fluid"
					v-if="
						!detail.membership.expired && detail.room.status_kost == 'verified'
					"
				>
					<div class="card-promote material-card material-card-2 col-xs-12">
						<div class="promote promote-toggle">
							<span
								><b>Promosikan Iklan {{ propertyTypeTitle }} Ini</b></span
							>
							<span class="flex-center">
								<b :class="{ 'is-off': promote.toggle }">TIDAK</b>
								<toggle-button
									:value="promote.toggle"
									:color="
										paymentStatus == 'Konfirmasi Pembayaran'
											? '#bfcbd9'
											: '#1BAA56'
									"
									:width="60"
									:height="30"
									:sync="true"
									:class="'vue-js-switch-changed-font'"
									:disabled="
										(detail.membership.views == 0 &&
											detail.room.status_promote == 0) ||
											paymentStatus == 'Konfirmasi Pembayaran'
									"
									@change="togglePromote"
								></toggle-button>
								<b :class="{ 'is-off': !promote.toggle }">YA</b>
							</span>
						</div>
						<div class="promote promote-saldo is-set">
							<span>Alokasi Saldo Iklan</span>
							<span
								class="saldo-info"
								:class="{
									'is-on':
										promote.toggle && parseInt(detail.room.percen_promote) < 90,
									'is-danger':
										promote.toggle &&
										parseInt(detail.room.percen_promote) >= 90,
									'is-off': !promote.toggle
								}"
								v-text="detail.room.total_promote_rp_single"
							></span>
						</div>
						<div class="promote promote-saldo">
							<span>Saldo Iklan Terpakai</span>
							<span
								class="saldo-info"
								:class="{
									'is-on':
										promote.toggle && parseInt(detail.room.percen_promote) < 90,
									'is-danger':
										promote.toggle &&
										parseInt(detail.room.percen_promote) >= 90,
									'is-off': !promote.toggle
								}"
								v-text="detail.room.total_used_rp_single"
							></span>
						</div>
						<div class="promote promote-edit" v-if="promote.toggle">
							<button
								type="button"
								class="btn"
								title="Edit saldo iklan"
								:class="{
									'btn-mamigreen': promote.toggle,
									'btn-mamigrey': !promote.toggle
								}"
								@click="editPromote(true)"
								v-text="'Edit Saldo Iklan'"
							></button>
						</div>
						<div
							class="promote promote-usage"
							:class="{
								'is-on is-active': promote.payFor == 'chat' && promote.toggle,
								'is-on is-inactive': promote.payFor != 'chat' && promote.toggle,
								'is-off': !promote.toggle
							}"
							@click="togglePayForSaldo('chat')"
						>
							<div
								class="radio radio-success radio-inline"
								v-if="promote.toggle"
							>
								<input
									type="radio"
									id="saldoPayForChat"
									:value="'chat'"
									v-model="promote.payFor"
									@change="togglePayForSaldo('chat')"
								/>
								<label for="saldoPayForChat">
									{{ detail.room.chat_history.title }}
								</label>
							</div>
							<span v-else> {{ detail.room.chat_history.title }} </span>
							<span class="usage-info">
								{{ detail.room.chat_history.total }}
							</span>
						</div>
						<div
							class="promote promote-usage"
							:class="{
								'is-on is-active': promote.payFor == 'click' && promote.toggle,
								'is-on is-inactive':
									promote.payFor != 'click' && promote.toggle,
								'is-off': !promote.toggle
							}"
							@click="togglePayForSaldo('click')"
						>
							<div
								class="radio radio-success radio-inline"
								v-if="promote.toggle"
							>
								<input
									type="radio"
									id="saldoPayForClick"
									:value="'click'"
									v-model="promote.payFor"
									@change="togglePayForSaldo('click')"
								/>
								<label for="saldoPayForClick">
									{{ detail.room.view_history.title }}
								</label>
							</div>
							<span v-else> {{ detail.room.view_history.title }} </span>
							<span class="usage-info">
								{{ detail.room.view_history.total }}
							</span>
						</div>
					</div>
				</div>
				<div class="clearfix" v-if="!detail.membership.expired"></div>

				<div
					class="card-container stretch container-fluid"
					v-if="detail.room.status_kost == 'unverified'"
				>
					<div class="card-reject material-card material-card-2 col-xs-12">
						<h4><b>Alasan Data Iklan Ditolak:</b></h4>
						<p class="text-danger">{{ detail.room.reject_remark }}</p>
					</div>
				</div>
			</div>

			<div class="stretch-xs col-xs-12 col-md-6">
				<div
					class="card-container stretch container-fluid"
					v-if="
						detail.room.status_kost == 'verified' ||
							detail.room.status_kost == 'edited'
					"
				>
					<div class="card-stats material-card material-card-2 col-xs-12">
						<div class="form-group">
							<select class="form-control stats-control" v-model="report">
								<option :value="5">Semua Statistik</option>
								<option :value="6">Statistik Hari Ini</option>
								<option :value="1">Statistik Kemarin</option>
								<option :value="2">Statistik 7 Hari</option>
								<option :value="3">Statistik 14 Hari</option>
								<option :value="4">Statistik 30 Hari</option>
							</select>
						</div>
						<div class="stats-list" v-if="detail.membership.expired">
							<span
								><img
									src="assets/icons/klik_statistik.png"
									alt="klik_statistik"
									class="stats-icon"
								/>
								Klik Total</span
							>
							<span
								>{{ detail.room.view_count }}
								<a href="/promosi-kost/premium-package" class="track-owner-upgrade"
									>Tingkatkan Klik
									<img
										src="assets/icons/ad_view.gif"
										alt="ad_view"
										class="green-arrow track-owner-upgrade"
									/>
								</a>
							</span>
						</div>
						<div class="stats-list">
							<span
								><i class="fa fa-map-marker stats-icon" aria-hidden="true"></i>
								Permintaan Survey</span
							>
							<span
								>{{ detail.room.survey_count }}
								<a
									:href="
										telpZero
											? '/ownerpage/statistics/' + seq + '#survey'
											: '/ownerpage/statistics/' + seq + '?telp=true#survey'
									"
									>Lihat</a
								>
							</span>
						</div>
						<div class="stats-list">
							<span
								><i class="fa fa-comment stats-icon" aria-hidden="true"></i>
								Chat</span
							>
							<span
								>{{ detail.room.message_count }}
								<a
									:href="
										telpZero
											? '/ownerpage/statistics/' + seq + '#chat'
											: '/ownerpage/statistics/' + seq + '?telp=true#chat'
									"
									>Lihat</a
								>
							</span>
						</div>
						<div class="stats-list">
							<span
								><i class="fa fa-star stats-icon" aria-hidden="true"></i>
								Review</span
							>
							<span
								>{{ detail.room.review_count }}
								<a
									:href="
										telpZero
											? '/ownerpage/statistics/' + seq + '#review'
											: '/ownerpage/statistics/' + seq + '?telp=true#review'
									"
									>Lihat</a
								>
							</span>
						</div>
						<div class="stats-list">
							<span
								><i class="fa fa-heart stats-icon" aria-hidden="true"></i>
								Favorit</span
							>
							<span>{{ detail.room.love_count }}</span>
						</div>
					</div>
				</div>
			</div>

			<owner-modal-edit
				ref="ownerModalEdit"
				:room="detail.room"
				:property-type="propertyType"
				@closed="handleModalEditClose"
			></owner-modal-edit>

			<owner-modal-promote
				ref="ownerModalPromote"
				:detail="detail"
				@closed="handleModalPromoteClose"
			></owner-modal-promote>

			<owner-modal-survey-room
				ref="ownerModalSurveyRoom"
				:el="'ownerModalSurveyRoomDetail'"
				:param-id="detail.room._id"
				:data-for="'update_room'"
				:has-query-string="false"
				@closed="handleModalSurveyRoomClose"
			></owner-modal-survey-room>
		</div>
	</div>
</template>

<script>
import radio from 'vue-strap/src/Radio.vue';

export default {
	components: {
		radio
	},
	data() {
		return {
			isLoading: false,
			detail: {},
			promote: {
				status: false,
				toggle: false,
				edit: false,
				payFor: 'click',
				payForChanged: false
			},
			report: 5,
			telpZero: true
		};
	},
	created() {
		this.getDetail();
	},
	watch: {
		report(val) {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.get('/stories/' + this.seq + '/report?type=' + this.report)
				.then(response => {
					this.closeSwalLoading();
					this.detail.room.love_count = response.data.love_count;
					this.detail.room.view_count = response.data.view_count;
					this.detail.room.survey_count = response.data.survey_count;
					this.detail.room.message_count = response.data.message_count;
					this.detail.room.review_count = response.data.review_count;
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	},
	computed: {
		token() {
			return this.$store.state.token;
		},
		seq() {
			return this.$route.params.seq;
		},
		propertyTypeTitle() {
			if (this.propertyType == 'kos') {
				return 'Kost';
			} else if (this.propertyType == 'apartment') {
				return 'Apartemen';
			}
		},
		paymentStatus() {
			return this.$store.state.profile.membership.status;
		}
	},
	props: {
		propertyType: {
			type: String,
			required: true
		}
	},
	methods: {
		getDetail() {
			this.isLoading = true;
			axios
				.get('/owner/data/list/' + this.propertyType + '/' + this.seq)
				.then(response => {
					this.isLoading = false;
					this.detail = response.data;
					this.promote.status =
						this.detail.room.status_promote == 0 ? false : true;
					this.promote.toggle = this.promote.status;

					if (this.detail.room.telp_count > 0) {
						this.telpZero = false;
					}

					if (
						this.detail.room.pay_for == null ||
						this.detail.room.pay_for == 'click'
					) {
						this.promote.payFor = 'click';
					} else if (this.detail.room.pay_for == 'chat') {
						this.promote.payFor = 'chat';
					}

					this.$nextTick(() => {
						if (this.detail.popup_allocated != null) {
							this.$refs.ownerModalPromote.openModal('allocated');
						}
					});
				})
				.catch(error => {
					this.isLoading = false;
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		editProperty() {
			this.$refs.ownerModalEdit.openModal();
		},
		handleModalEditClose(state) {
			if (state.closed && state.changed && !state.survey) {
				this.getDetail();
			} else if (state.closed && state.changed && state.survey) {
				this.$refs.ownerModalSurveyRoom.openModal();
			}
		},
		togglePayForSaldo(info) {
			if (this.promote.toggle && this.promote.payFor != info) {
				this.promote.edit = true;
				this.promote.payFor = info;
				this.promote.payForChanged = true;
				this.detail.room.pay_for = this.promote.payFor;
				this.$refs.ownerModalPromote.openModal('edit');
			}
		},
		editPromote(state) {
			if (state) {
				this.promote.edit = state;
			}
			this.promote.payForChanged = false;
			this.$refs.ownerModalPromote.openModal('edit');
		},
		handleModalPromoteClose(state) {
			if (state.closed && state.changed) {
				this.reloadOwnerProfile();
				this.getDetail();
			} else if (state.closed && !state.changed) {
				if (this.promote.toggle && !this.promote.edit) {
					this.promote.toggle = false;
				} else if (this.promote.toggle && this.promote.edit) {
					this.promote.toggle =
						this.detail.room.status_promote == 0 ? false : true;
					if (this.promote.payForChanged) {
						this.promote.payFor =
							this.promote.payFor == 'chat' ? 'click' : 'chat';
						this.detail.room.pay_for = this.promote.payFor;
					}
				} else if (!this.promote.toggle) {
					this.promote.toggle = false;
				}
			}
		},
		promoteOff() {
			this.openSwalLoading('Menonaktifkan Iklan...', null);
			axios
				.post('/owner/pinned', {
					_token: this.token,
					song_id: this.seq,
					status: 0
				})
				.then(response => {
					// this.closeSwalLoading();
					if (response.data.status) {
						this.swalSuccessTimer(
							null,
							response.data.message,
							this.getDetail()
						);
						setTimeout(() => {
							this.reloadOwnerProfile();
						}, 3000);
					} else {
						this.swalError(null, response.data.message);
						this.getDetail();
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		promoteOnContinue() {
			this.$refs.ownerModalPromote.openModal('continue');
		},
		togglePromote(evt) {
			this.promote.toggle = evt.value;

			if (this.promote.toggle) {
				if (this.detail.room.status_promote == 0) {
					if (
						!this.detail.room.promote_saldo ||
						!this.detail.room.before_promote ||
						parseInt(this.detail.room.percen_promote == 100)
					) {
						this.editPromote(true);
					} else {
						this.promoteOnContinue();
					}
				}
			} else {
				alert('MATIKAN IKLAN : Anda akan mematikan promosi di data iklan ini.');
				this.promoteOff();
			}
		},
		handleModalSurveyRoomClose(state) {
			if (state.closed && state.changed) {
				this.getDetail();
			}
		}
	}
};
</script>

<style scoped>
a.add-type {
	margin-top: 10px;
}

.card-container {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3e5168;
}

.card-box.outline-red {
	outline: 1px solid #a94442;
}

@media (max-width: 767px) {
	.card-box {
		height: 406px;
	}
	.card-photo {
		height: 40%;
	}
	.card-info {
		height: 60%;
	}
}

@media (min-width: 768px) {
	.card-box {
		min-height: 262px;
	}
	.card-photo,
	.card-info {
		height: 100%;
	}
}

.card-photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
	height: 166px;
}
.card-status {
	background-color: #007137;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.status-title {
	color: #ffff00;
	font-weight: 600;
	text-transform: uppercase;
}
.card-info {
	padding-top: 10px;
	padding-bottom: 10px;
}
.info-title > a {
	display: block;
	color: inherit;
}
@media (max-width: 767px) {
	.info-title {
		height: 60px;
	}
}

@media (min-width: 768px) {
	.info-title {
		height: 80px;
	}
}
.info-price {
	font-weight: bold;
	font-size: 16px;
}
.btn-promo {
	margin-bottom: 10px;
}

.card-stats {
	padding-top: 10px;
	padding-bottom: 10px;
}
.stats-control {
	width: 50%;
}
.stats-list {
	border-bottom: 1px solid #eee;
	padding-top: 5px;
	padding-bottom: 5px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
@media (min-width: 768px) {
	.stats-list {
		font-size: 16px;
	}
}
.stats-list .stats-icon {
	width: 18px;
	color: #a2a1a1;
	margin-right: 5px;
	text-align: center;
}
.stats-list a {
	margin-left: 5px;
}
.stats-list .green-arrow {
	height: 22px;
}

.card-promote {
	padding-right: 0;
	padding-left: 0;
}
.card-promote > .promote {
	padding: 10px 15px;
	margin: 10px 0;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.card-promote .vue-js-switch {
	font-size: inherit;
	font-family: inherit !important;
	margin-bottom: 0;
}

.promote-toggle .flex-center > b:first-child {
	margin-right: 5px;
}
.promote-toggle .flex-center > b:last-child {
	margin-left: 5px;
}
.promote-toggle .flex-center > b.is-off {
	color: #bfcbd9;
}

.promote-saldo.is-set {
	background-color: #dff9ff;
}
.promote-saldo .btn {
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 5px;
}
.saldo-info,
.usage-info {
	font-weight: bold;
}
.saldo-info.is-on {
	color: #1baa56;
}
.saldo-info.is-off {
	color: #bfcbd9;
}
.saldo-info.is-danger {
	color: #a94442;
}
.promote-usage.is-on {
	cursor: pointer;
}
.promote-usage.is-active {
	background-color: #d8f9c6;
}
.promote-usage.is-inactive,
.promote-usage.is-off {
	background-color: #fff;
	color: #bfcbd9;
}
.promote.promote-edit {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.promote-edit .btn {
	width: 100%;
}

.card-reject {
	padding-top: 5px;
	padding-bottom: 5px;
	outline: 1px solid #a94442;
}
</style>
