<template>
	<div class="owner-notif">
		<div v-if="isLoading" class="stretch col-xs-12 flex-center">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-else-if="notif.data" class="stretch col-xs-12 col-md-12">
			<owner-list-null
				v-if="!notif.data.length"
				menu="notifikasi terbaru"
			></owner-list-null>

			<div v-else class="stretch col-xs-12 col-md-6">
				<div
					v-for="(notif, index) in notif.data"
					:key="index"
					type="button"
					class="notification-list"
					:class="{ 'is-new': !notif.is_read }"
					@click="openNotif(notif)"
				>
					<img v-lazy="notif.photo" alt="notif.title" />
					<span>{{ notif.title }}</span>
				</div>
			</div>
		</div>

		<owner-notif-contract-termination-modal
			:show-modal="isShowContractTerminationModal"
			:termination-id="terminateInfo.terminationId"
			:tenant-name="terminateInfo.tenantName"
			:room-number="terminateInfo.roomNumber"
			:redirection-path="terminateInfo.redirectionPath"
			:is-allow-reject="terminateInfo.allowToReject"
			:reason="terminateInfo.reason"
			@close="handleCloseTerminateRequestModal"
		/>
	</div>
</template>

<script>
import _get from 'lodash/get';
import { mapMutations } from 'vuex';
import OwnerNotifContractTerminationModal from './OwnerNotifContractTerminationModal';
import MixinGetQueryString from 'Js/@mixins/MixinGetQueryString';
import VueLazyload from 'vue-lazyload';
Vue.use(VueLazyload, {
	preLoad: 1.3,
	error: '/assets/loading/mamikos_placeholder_load.svg',
	attempt: 2
});
const initTerminateInfo = () => {
	return {
		terminationId: 0,
		tenantName: '',
		roomNumber: '',
		reason: '',
		redirectionPath: '',
		allowToReject: false
	};
};
export default {
	components: {
		OwnerNotifContractTerminationModal
	},
	mixins: [MixinGetQueryString],
	data() {
		return {
			isLoading: false,
			notif: {},
			isShowContractTerminationModal: false,
			terminateInfo: initTerminateInfo()
		};
	},
	computed: {
		profile() {
			return this.$store.state.profile;
		}
	},
	created() {
		this.isLoading = true;
		axios
			.get('/owner/data/notification')
			.then(response => {
				this.notif = response.data;
				this.$store.commit('setNotifCount', 0);
				this.isLoading = false;

				// unuse this temporarily for experiment
				// showMoengageOptin(
				// 	'Terima info penting lebih cepat melalui notifikasi. Pilih OKE'
				// );
			})
			.catch(error => {
				this.isLoading = false;
				bugsnagClient.notify(error);
				alert('Terjadi galat. Silakan coba lagi.');
			});
	},
	methods: {
		...mapMutations(['setIsChatOpen']),
		openNotif(notif) {
			const oldUrl = ['list-penyewa', 'laporan-keuangan', 'kelola-tagihan'];
			if (notif.type == 'survey' || notif.type == 'chat') {
				if (this.profile.membership.expired) {
					window.open(
						'/ownerpage/statistics/' + notif.room_id + '#' + notif.type
					);
				} else {
					if (notif.type == 'survey') {
						if (notif.survey_data.chat_group_id !== null) {
							this.setIsChatOpen(true);
							sbWidget.showChannel(notif.survey_data.group_channel_url);
						} else {
							channelListQuery.next((groupChannels, error) => {
								if (error) {
									return;
								}

								const groups = groupChannels;
								const groupName =
									'Survey - ' + notif.user_name + ' : ' + notif.room_name;

								for (const group of groups) {
									if (
										group.name.trim().toLowerCase() ===
										groupName.trim().toLowerCase()
									) {
										this.insertMetadata({
											groupChannel: group,
											room: notif.room_id
										});
										this.setIsChatOpen(true);
										sbWidget.showChannel(group.url);
									}

									break;
								}
							});
						}
					} else if (notif.type == 'chat') {
						if (notif.chat_data.group_id !== null) {
							this.setIsChatOpen(true);
							sbWidget.showChannel(notif.chat_data.group_channel_url);
						} else {
							channelListQuery.next((groupChannels, error) => {
								if (error) {
									return;
								}

								const groups = groupChannels;
								const groupName = notif.user_name + ' : ' + notif.room_name;

								for (const group of groups) {
									if (
										group.name.trim().toLowerCase() ===
										groupName.trim().toLowerCase()
									) {
										this.insertMetadata({
											groupChannel: group,
											room: notif.room_id
										});
										this.setIsChatOpen(true);
										sbWidget.showChannel(group.url);
									}

									break;
								}
							});
						}
					}
				}
			} else if (notif.type == 'review') {
				window.open(
					'/ownerpage/statistics/' + notif.room_id + '#' + notif.type
				);
			} else if (
				[
					'premium_verify',
					'premium_request_reminder',
					'premium_payment_reminder',
					'premium_near_expire',
					'premium_low_balance',
					'premium_allocation'
				].includes(notif.type)
			) {
				this.$router.push({ path: '/invoice' });
			} else if (
				['balance_verify', 'balance_request_reminder'].includes(notif.type)
			)
				this.$router.push({ path: '/premium/balance/confirmation' });
			else if (notif.type === 'contract_termination') {
				this.handleTerminateContractNotif(notif);
			} else if (notif.type === 'booking_rejected') {
				window.location.href = `${notif.url}&redirect_url=${window.location.href}`;
			} else if (oldUrl.some(url => notif.url.includes(url))) {
				if (notif.url.includes('list-penyewa')) {
					notif.url.replace('list-penyewa', 'tenant-list');
				} else if (notif.url.includes('kelola-tagihan')) {
					notif.url.replace('kelola-tagihan', 'billing-management');
				} else if (notif.url.includes('laporan-keuangan')) {
					notif.url.replace('laporan-keuangan', 'financial-report');
				}
				window.open(notif.url);
			} else if (notif.url != '') {
				window.open(notif.url);
			}
		},
		insertMetadata(params) {
			const metadata = {
				room: params.room,
				chat_support: false
			};

			const upsertIfNotExist = true;

			params.groupChannel.updateMetaData(
				metadata,
				upsertIfNotExist,
				(response, error) => {
					error && bugsnagClient.notify(JSON.stringify(error));
				}
			);
		},
		async handleTerminateContractNotif(notif) {
			this.openSwalLoading();
			const contractId = this.getQueryString('contract', notif.scheme);
			try {
				const res = await axios.get(`contract/terminate-status/${contractId}`, {
					baseURL: '/ownerpage/mamipay/request'
				});

				const responseStatus = _get(res, 'data.status', false);
				const responseData = _get(res, 'data.data', null);

				if (responseStatus && responseData) {
					if (responseData.status === 'waiting') {
						this.terminateInfo = {
							terminationId: responseData.terminate_request_id,
							tenantName: responseData.tenant_name,
							roomNumber: responseData.room_number,
							allowToReject: responseData.allow_to_reject,
							reason: responseData.reason,
							redirectionPath: notif.url
						};

						this.isShowContractTerminationModal = true;
						this.closeSwalLoading();
					} else {
						this.closeSwalLoading();
						window.open(notif.url);
					}
				} else {
					const responseMessage = _get(res, 'data.meta.message', '');
					this.swalError(
						null,
						responseMessage || 'Terjadi galat. Silakan coba lagi.'
					);
				}
			} catch (error) {
				this.closeSwalLoading();
				bugsnagClient.notify(error);
				this.swalError(null, 'Terjadi galat. Silakan coba lagi.');
			}
		},
		handleCloseTerminateRequestModal() {
			this.isShowContractTerminationModal = false;
			this.terminateInfo = initTerminateInfo();
		}
	}
};
</script>

<style scoped>
.notification-list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 15px;
	border-bottom: 2px solid #eee;
	cursor: pointer;
	color: inherit;
	text-decoration: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.notification-list:hover {
	background-color: #d8f9c6;
}
.notification-list img {
	width: 40px;
	height: 40px;
	object-fit: contain;
}
.notification-list span {
	font-weight: bold;
	padding: 0 5px;
}
.notification-list.is-new {
	background-color: #dff9ff;
}
</style>
