<template>
	<!-- loop here -->
	<div class="col-separator" :class="[grid]">
		<div class="card material-card-2">
			<div class="row bottom-space">
				<span class="col-xs-6">
					<p v-if="propertyType === 'apartment'" class="title-label-main">
						<strong>Unit Apartemen</strong>
					</p>
					<p v-else-if="room.gender === 0" class="gender-mx">
						<strong>Kost Campur</strong>
					</p>
					<p v-else-if="room.gender === 1" class="gender-m">
						<strong>Kost Putra</strong>
					</p>
					<p v-else-if="room.gender === 2" class="gender-f">
						<strong>Kost Putri</strong>
					</p>
					<p class="room-title">{{ room.room_title }}</p>
				</span>
				<span class="col-xs-6 stretch-l">
					<img
						class="image-display"
						:src="room.photo_url.small"
						alt="Preview Foto Kos"
					/>
				</span>
			</div>

			<div class="bottom-space">
				<p v-if="propertyType === 'apartment'">
					<strong>Kamar saat ini</strong>
				</p>
				<p v-else>
					<strong>Jumlah Kamar Kosong</strong>
				</p>
				<p class="sub-text">Klik dibawah ini dan pilih salah satu</p>
				<div v-if="propertyType === 'apartment'" class="form-group">
					<div class="btn-group colors">
						<label
							class="btn btn-mamigreen-inverse btn-room-availability"
							:class="availableRoom === 0 ? 'active' : ''"
						>
							<input
								v-model="availableRoom"
								type="radio"
								name="room-available"
								:value="0"
								@click="changeRoomAvailability('penuh')"
							/>
							Penuh
						</label>
						<label
							class="btn btn-mamigreen-inverse btn-room-availability"
							:class="availableRoom === 0 ? '' : 'active'"
						>
							<input
								v-model="availableRoom"
								type="radio"
								name="room-available"
								:value="1"
								@click="changeRoomAvailability('kosong')"
							/>
							Kosong
						</label>
					</div>
				</div>
				<div v-else class="form-group">
					<select
						:id="`selectUpdate${parentKey}`"
						v-model="availableRoom"
						class="form-control select-green"
					>
						<option :value="0">Kamar Penuh</option>
						<option v-for="count in totalRoom" :value="count">
							{{ count }} Kamar
						</option>
					</select>
				</div>
			</div>

			<form class="bottom-space form-group">
				<p>
					<strong>
						Harga {{ propertyType === 'kos' ? 'Kost' : 'Apartemen' }}
					</strong>
				</p>
				<p class="sub-text">Wajib pilih dan isi harga bulanan</p>
				<div class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkDaily${parentKey}`"
							v-model="price.dailyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkDaily${parentKey}`">Harian</label>
					</span>
					<input
						v-show="price.dailyCheck"
						:ref="`checkDaily`"
						v-model="price.dailyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga harian"
						:max="price.dailyMax"
						min="10000"
						step="1000"
					/>
				</div>
				<div class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkWeekly${parentKey}`"
							v-model="price.weeklyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkWeekly${parentKey}`">Mingguan</label>
					</span>
					<input
						v-show="price.weeklyCheck"
						:ref="`checkWeekly`"
						v-model="price.weeklyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga mingguan"
						:max="price.weeklyMax"
						min="10000"
						step="1000"
					/>
				</div>
				<div class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkMonthly${parentKey}`"
							v-model="price.monthlyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkMonthly${parentKey}`">Bulanan</label>
					</span>
					<input
						v-show="price.monthlyCheck"
						:ref="`checkMonthly`"
						v-model="price.monthlyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga bulanan"
						:max="price.monthlyMax"
						min="10000"
						step="1000"
					/>
				</div>
				<div v-if="propertyType === 'kos'" class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkThreeMonthly${parentKey}`"
							v-model="price.threeMonthlyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkThreeMonthly${parentKey}`">3 Bulanan</label>
					</span>
					<input
						v-show="price.threeMonthlyCheck"
						:ref="`checkThreeMonthly`"
						v-model="price.threeMonthlyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga 3 bulanan"
						:max="price.threeMonthlyMax"
						min="10000"
						step="1000"
					/>
				</div>

				<div v-if="propertyType === 'kos'" class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkSixMonthly${parentKey}`"
							v-model="price.sixMonthlyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkSixMonthly${parentKey}`">6 Bulanan</label>
					</span>
					<input
						v-show="price.sixMonthlyCheck"
						:ref="`checkSixMonthly`"
						v-model="price.sixMonthlyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga 6 bulanan"
						:max="price.sixMonthlyMax"
						min="10000"
						step="1000"
					/>
				</div>
				<div class="price-input-wrapper">
					<span class="checkbox checkbox-inline checkbox-success">
						<input
							:id="`checkYearly${parentKey}`"
							v-model="price.yearlyCheck"
							type="checkbox"
							:value="true"
						/>
						<label :for="`checkYearly${parentKey}`">Tahunan</label>
					</span>
					<input
						v-show="price.yearlyCheck"
						:ref="`checkYearly`"
						v-model="price.yearlyValue"
						type="number"
						class="price-input"
						placeholder="Tuliskan harga tahunan"
						:max="price.yearlyMax"
						min="10000"
						step="1000"
					/>
				</div>
			</form>

			<div
				v-if="isUpdateStatus === 'success'"
				class="update-footer update-footer-success bottom-space"
			>
				<span class="update-footer-text">SUKSES UPDATE DATA!</span>
				<button
					class="btn btn-mamigreen update-footer-button"
					:disabled="!canUpdate"
					@click="submitRoomData()"
				>
					Update
				</button>
				<div class="clearfix"></div>
			</div>

			<div
				v-if="isUpdateStatus === 'error'"
				class="update-footer update-footer-error bottom-space"
			>
				<span class="update-footer-text">
					Maaf gagal update coba klik update lagi
				</span>
				<button
					class="btn btn-mamigreen update-footer-button"
					:disabled="!canUpdate"
					@click="submitRoomData()"
				>
					Update
				</button>
				<div class="clearfix"></div>
			</div>

			<div
				v-if="isUpdateStatus === 'default' || isUpdateStatus == 'busy'"
				class="update-footer update-footer-default bottom-space"
			>
				<span class="update-footer-text">
					Jika tidak ada perubahan data silakan tetap klik update
				</span>
				<button
					class="btn btn-mamigreen update-footer-button"
					:disabled="!canUpdate"
					@click="submitRoomData()"
				>
					<i
						v-if="isUpdateStatus === 'busy'"
						class="fa fa-spinner fa-pulse fa-fw"
					>
					</i>
					Update
				</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</template>

<script>
import 'Js/@mixins/MixinSwalSuccessError';

export default {
	props: {
		room: {
			type: Object,
			required: true
		},
		parentKey: {
			type: Number
		},
		propertyType: {
			type: String
		},
		grid: {
			type: String,
			default: 'col-xs-12 col-lg-4'
		}
	},

	data() {
		return {
			availableRoom: 0,
			totalRoom: 0,
			minPrice: 10000,
			maxPrice: 999999000,
			price: {
				dailyCheck: false,
				dailyValue: '',
				dailyMax: 999999000,
				weeklyCheck: false,
				weeklyValue: '',
				weeklyMax: 999999000,
				monthlyCheck: false,
				monthlyValue: '',
				monthlyMax: 999999000,
				yearlyCheck: false,
				yearlyValue: '',
				yearlyMax: 999999000,
				threeMonthlyCheck: false,
				threeMonthlyValue: '',
				threeMonthlyMax: 999999000,
				sixMonthlyCheck: false,
				sixMonthlyValue: '',
				sixMonthlyMax: 999999000
			},
			isUpdateStatus: 'default'
		};
	},

	computed: {
		token() {
			return this.$store.state.token;
		},

		prices() {
			const PRICES = [
				{
					duration: 'daily',
					value: this.price.dailyValue,
					isChecked: this.price.dailyCheck
				},
				{
					duration: 'weekly',
					value: this.price.weeklyValue,
					isChecked: this.price.weeklyCheck
				},
				{
					duration: 'monthly',
					value: this.price.monthlyValue,
					isChecked: this.price.monthlyCheck
				},
				{
					duration: 'threeMonthly',
					value: this.price.threeMonthlyValue,
					isChecked: this.price.threeMonthlyCheck
				},
				{
					duration: 'sixMonthly',
					value: this.price.sixMonthlyValue,
					isChecked: this.price.sixMonthlyCheck
				},
				{
					duration: 'yearly',
					value: this.price.yearlyValue,
					isChecked: this.price.yearlyCheck
				}
			];

			return PRICES;
		},

		canUpdate() {
			const isNotChecked = price => price.isChecked === false;

			if (this.isUpdateStatus === 'busy') {
				return false;
			} else if (this.prices.every(isNotChecked)) {
				return false;
			} else {
				return true;
			}
		},

		selectedDuration() {
			const selectedDuration = [];

			this.prices.forEach(price => {
				if (price.isChecked) {
					selectedDuration.push(price);
				}
			});

			return selectedDuration;
		},

		validatePriceInput() {
			let validPrice = false;

			this.selectedDuration.every(
				price => price.value >= this.minPrice && price.value < this.maxPrice
			)
				? (validPrice = true)
				: (validPrice = false);

			return validPrice;
		},

		getUpdateParams() {
			const params = {
				_token: this.token,
				room_id: this.room._id,
				room_available: this.availableRoom,
				price_daily: this.price.dailyCheck ? this.price.dailyValue : 0,
				price_weekly: this.price.weeklyCheck ? this.price.weeklyValue : 0,
				price_monthly: this.price.monthlyCheck ? this.price.monthlyValue : 0,
				price_yearly: this.price.yearlyCheck ? this.price.yearlyValue : 0,
				'3_month': this.price.threeMonthlyCheck
					? this.price.threeMonthlyValue
					: 0,
				'6_month': this.price.sixMonthlyCheck ? this.price.sixMonthlyValue : 0
			};

			return params;
		}
	},

	watch: {
		'price.dailyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkDaily.focus();
				});
			}
		},

		'price.weeklyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkWeekly.focus();
				});
			}
		},

		'price.monthlyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkMonthly.focus();
				});
			}
		},

		'price.yearlyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkYearly.focus();
				});
			}
		},

		'price.threeMonthlyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkThreeMonthly.focus();
				});
			}
		},

		'price.sixMonthlyCheck'(value) {
			if (value) {
				this.$nextTick(() => {
					this.$refs.checkSixMonthly.focus();
				});
			}
		}
	},

	mounted() {
		this.setDefaultPrice();
		this.setDefaultAvailableRoom();
	},

	methods: {
		submitRoomData() {
			if (this.validatePriceInput) {
				this.sendRoomData();
			} else {
				swal(
					'Perhatian',
					'Mohon periksa kembali harga anda. Mungkin ada yang masih kosong atau harga terlalu tinggi/rendah.',
					'info'
				);
			}
		},

		sendRoomData() {
			this.isUpdateStatus = 'busy';
			axios
				.post('/owner/update_room_price', this.getUpdateParams)
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.isUpdateStatus = 'success';
					} else {
						this.isUpdateStatus = 'error';
						this.swalError(response.data.messages, null, null);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					this.isUpdateStatus = 'error';
				});
		},

		setDefaultPrice() {
			if (this.room.price_daily > 0) {
				this.price.dailyCheck = true;
				this.price.dailyValue = this.room.price_daily;
			}
			if (this.room.price_weekly > 0) {
				this.price.weeklyCheck = true;
				this.price.weeklyValue = this.room.price_weekly;
			}
			if (this.room.price_monthly > 0) {
				this.price.monthlyCheck = true;
				this.price.monthlyValue = this.room.price_monthly;
			}
			if (this.room.price_yearly > 0) {
				this.price.yearlyCheck = true;
				this.price.yearlyValue = this.room.price_yearly;
			}
			if (this.room.price_3_month > 0) {
				this.price.threeMonthlyCheck = true;
				this.price.threeMonthlyValue = this.room.price_3_month;
			}
			if (this.room.price_6_month > 0) {
				this.price.sixMonthlyCheck = true;
				this.price.sixMonthlyValue = this.room.price_6_month;
			}
		},

		setDefaultAvailableRoom() {
			this.availableRoom = this.room.available_room;
			this.totalRoom = this.room.room_total;
		},

		changeRoomAvailability(param) {
			if (param === 'penuh') {
				this.availableRoom = 0;
			} else {
				this.availableRoom = 1;
			}
		}
	}
};
</script>

<style scoped>
/* Global */
.gender-mx {
	color: #9d5ab0;
}
.gender-f {
	color: #f76288;
}
.gender-m {
	color: #289ad6;
}
.stretch-l {
	padding-left: 0;
}
.sub-text {
	margin-top: -10px;
	font-size: 13px;
	color: #989898;
}
.bottom-space {
	margin-bottom: 10px;
}

/* Component */
.col-separator {
	padding: 0;
}

.card {
	padding: 10px 10px 0;
	border-radius: 8px;
}

.title-label-main {
	color: #1baa56;
}

.image-display {
	width: 100%;
	height: 100px;
	border-radius: 5px;
}

.room-title {
	height: 60px;
}
.select-green {
	width: 150px;
	color: #1baa56;
	border: 1px #1baa56 solid;
}
.btn-room-availability:active,
.btn-room-availability:checked,
.btn-room-availability:hover,
.btn-room-availability.active {
	color: #fff;
	background-color: #1baa56;
}

.price-input-wrapper {
	padding-bottom: 5px;
}
.price-input-wrapper label {
	width: 75px;
}
.price-input {
	width: 150px;
	height: 20px;
	padding-left: 5px;
	border: none;
	border-bottom: 2px solid #ccc;
	transition: border 250ms ease-out;
}
.price-input:focus {
	border-bottom: 2px solid #1baa56;
	outline: none;
}

.price-input::placeholder {
	font-size: 12px;
	color: #9a9a9a;
}

.update-footer {
	position: relative;
	height: 60px;
	padding: 10px;
	margin: 0 -10px;
	overflow: hidden;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.update-footer-default {
	color: #626262;
	background-color: #efefef;
}
.update-footer-success {
	color: #1baa56;
	background-color: #ddffdd;
}
.update-footer-error {
	color: #e84c4c;
	background-color: #ffdad5;
}
.update-footer-text {
	display: inline-block;
	float: left;
	width: 200px;
}
.update-footer-button {
	float: right;
}
</style>
