<template>
	<div id="ownerKosContainer">
		<!-- hide waiting for confirmation for showing again -->
		<!-- <form action="/input-properti" class="create-list-wrapper" method="POST">
			<input type="hidden" name="_token" :value="token">
			<input type="hidden" name="property_type" value="Kost">
			<input type="hidden" name="input_as" value="Pemilik Kos">
			<input type="hidden" name="phone_number" :value="profile.user.phone_number">
			<label class="head-label">Iklan Kos</label>
			<label class="create-list-label">Data Iklan</label>
			<button type="submit" class="btn btn-mamigreen btn-create-list">
				<img
					src="/general/img/icons/icon_plus_white.svg"
					class="activator__icon"
					alt="icon_plus"
				/>
				Tambahkan Kos
			</button>
		</form> -->

		<div v-if="canShowPagination" class="stretch col-md-12">
			<div class="property-list-header">
				<v-select
					v-model="roomSuggestions"
					:options="roomListSuggestions"
					options-value="val"
					:limit="10"
					placeholder="Cari kos Anda disini..."
					search
					justified
					clear-button
					close-on-select
				></v-select>
				<div class="update-activity-wrapper">
					<button
						:disabled="isUpdatingAllProperties || !roomCount"
						class="btn btn-mamigreen update-activity-button"
						@click="handleUpdateAllPropertyButton"
					>
						<template v-if="isUpdatingAllProperties">
							<span class="loader"></span>
						</template>
						<template v-else>Update Semua Kos</template>
					</button>
					<owner-popper-update-property class="image-wrapper">
						<img
							src="general/img/icons/ic_question_mark.svg"
							alt="icon question"
							class="image"
						/>
					</owner-popper-update-property>
				</div>
				<div
					v-if="!(rooms.page == 1 && !rooms['has-more'])"
					class="stretch flex-center pagination-container"
				>
					<paginate
						v-model="page"
						:page-count="totalPage"
						:click-handler="pageChanged"
						:prev-text="'<'"
						:next-text="'>'"
						:container-class="'pagination'"
						:break-view-link-class="'break-pagination'"
						:page-class="'page-item'"
					></paginate>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div v-if="isLoading" class="stretch col-xs-12 flex-center">
			<mami-loading-inline></mami-loading-inline>
		</div>

		<div v-else class="stretch col-md-12">
			<owner-list-null
				v-if="rooms.data.rooms.length == 0"
				:menu="'kost'"
				:redirect="{
					type: 'property',
					link: '/add'
				}"
			></owner-list-null>
		</div>

		<div v-if="rooms.data" class="owner-kos-list col-xs-12">
			<owner-kos-list-card
				v-for="(room, roomDetailKey) in rooms.data.rooms"
				:key="roomDetailKey"
				:kos="room"
			></owner-kos-list-card>
		</div>

		<modal
			v-if="showModalInterceptBBK && !isLoadingSuggestionModal"
			:value="showModalInterceptBBK"
			:effect="navigator.isMobile ? 'zoom' : 'fade'"
			:backdrop="closableSuggestionModal"
			class="owner-intercept-booking-modal is-active"
			@closed="handleSuggestionModalClosed"
			@opened="handleSuggestionModalOpened"
		>
			<div
				slot="modal-header"
				class="modal-header owner-intercept-booking-modal__header"
			>
				<a
					v-if="closableSuggestionModal"
					class="owner-intercept-booking-modal__close-button"
					@click.prevent="closeModalInterceptBBK"
				></a>
			</div>

			<div class="owner-intercept-booking-modal__body">
				<img
					v-lazy="'/general/img/pictures/booking/img_booking_join_booking.svg'"
					alt="Auto Booking Icon"
					class="owner-intercept-booking-modal__body-icon"
				/>
				<h3 class="owner-intercept-booking-modal__body-title">
					{{
						isBBKKosApproveEmpty
							? 'Ingin Kamar Kosong Anda Cepat Terisi?'
							: 'Beberapa Kos Belum Dapat Dibooking '
					}}
				</h3>
				<p class="owner-intercept-booking-modal__body-message">
					{{
						isBBKKosApproveEmpty
							? 'Yuk, aktifkan fitur Booking Langsung agar kos bisa dipesan online dan Anda bisa atur tagihan otomatis.'
							: `${bbkKosNotActive} kos Anda belum aktifkan fitur Booking Langsung. Yuk, aktifkan agar bisa dipesan online.`
					}}
				</p>
			</div>

			<div
				slot="modal-footer"
				class="modal-footer owner-intercept-booking-modal__footer"
			>
				<a
					:href="
						oxUrl +
							`/kos/booking/register?previous-page=${currentPosition}&redirect_url=${currentUrl}`
					"
					class="owner-intercept-booking-modal__action-button"
				>
					Pelajari Booking Langsung
				</a>
			</div>
		</modal>
	</div>
</template>

<script>
import * as storage from 'Js/@utils/storage';

import paginate from 'vuejs-paginate';
import { select, modal } from 'vue-strap';
import OwnerPopperUpdateProperty from './OwnerPopperUpdateProperty';
import OwnerMixinUpdateProperty from 'Js/owner/mixins/OwnerMixinUpdateProperty';
import OwnerAbTest from 'Js/owner/mixins/OwnerAbTest';

export default {
	components: {
		paginate,
		OwnerPopperUpdateProperty,
		'v-select': select,
		modal
	},
	mixins: [OwnerMixinUpdateProperty, OwnerAbTest],

	data() {
		return {
			isLoading: false,
			isUpdatingAllProperties: false,
			canShowPagination: false,
			limit: 3,
			offset: 0,
			page: 1,
			rooms: {},

			roomListSuggestions: [],
			roomSuggestions: '',
			oxUrl: oxWebUrl,
			showModalInterceptBBK: false,
			isBBKKosApproveEmpty: false,
			currentPosition: 'Pop Up Intercept Iklan Saya', // for redirection_source tracker in pms
			isLoadingSuggestionModal: true,
			closableSuggestionModal: true,
			currentUrl: window.location.href
		};
	},

	computed: {
		totalPage() {
			const total = Math.ceil(this.rooms.total / this.rooms.limit);

			return Number(total);
		},
		roomCount() {
			return this.$store.state.profile.room_count;
		},
		token() {
			return this.$store.state.token;
		},
		profile() {
			return this.$store.state.profile;
		},
		bbkKosStatus() {
			return this.$store.state.bbkKosStatus;
		},
		bbkKosNotActive() {
			const { other, reject } = this.bbkKosStatus;
			return other + reject;
		}
	},

	watch: {
		roomSuggestions(item) {
			if (item != null) {
				this.clearRoomList();
				this.getRooms('init', item);
			}
		},
		showModalInterceptBBK(val) {
			if (val) {
				this.forceBbk({
					userId: this.profile.user.user_id,
					onDefaultReceived: () => {
						this.isLoadingSuggestionModal = false;
						this.closableSuggestionModal = true;
					},
					onVariantAReceived: () => {
						this.isLoadingSuggestionModal = false;
						this.closableSuggestionModal = false;
					}
				});
			}
		}
	},

	created() {
		this.getRooms('init');
	},

	mounted() {
		this.getSuggestionSearch();
		this.checkModalInterceptBBK();
	},

	methods: {
		handleSuggestionModalOpened() {
			window.forceBbkHandler = () => {
				this.$toasted.show('Mohon aktifkan Booking Langsung dahulu.', {
					position: 'bottom-center',
					containerClass: 'toasted-suggestion-bbk',
					duration: 2000
				});
			};
			if (!this.closableSuggestionModal) {
				document
					.querySelector('.owner-intercept-booking-modal')
					.addEventListener('click', window.forceBbkHandler);
			} else {
				document
					.querySelector('.owner-intercept-booking-modal')
					.removeEventListener('click', window.forceBbkHandler);
			}
		},
		handleSuggestionModalClosed() {
			document
				.querySelector('.owner-intercept-booking-modal')
				.classList.remove('is-active');
		},
		async handleUpdateAllPropertyButton(e) {
			this.isUpdatingAllProperties = true;
			// call mixin's method
			await this.updateAllProperties();
			this.isUpdatingAllProperties = false;
		},
		getRooms(state, roomId) {
			this.isLoading = true;
			if (state === 'init') {
				const {
					query: { page }
				} = this.$route;
				if (page) {
					const pageNumber = parseInt(page, 10);
					this.offset = pageNumber * this.limit - this.limit;
					this.page = pageNumber;
				} else {
					this.offset = 0;
				}
			} else if (state === 'next') {
				this.offset += this.limit;
			} else if (state === 'prev') {
				this.offset -= this.limit;
			}

			const roomIdParams = roomId != null ? `&room_id=${roomId}` : '';

			axios
				.get(
					`/owner/data/kos?limit=${this.limit}&offset=
					${this.offset}
					${roomIdParams}`
				)
				.then(response => {
					this.isLoading = false;
					this.canShowPagination = true;
					this.rooms = response.data;
					if (this.rooms.data) {
						if (this.rooms.data.rooms.length === 0) {
							this.toAdd();
						}
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					if (error) {
						window.location.href = '/auth/logout';
					}
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		toAdd() {
			const setTitleQuery = navigator.isMobile
				? { query: { title: 'Kos' } }
				: '';
			this.$router.push({
				name: 'add',
				params: { openModalAdd: true, isKos: true },
				...setTitleQuery
			});
		},
		clearRoomList() {
			this.offset = 0;
			this.rooms = [];
		},
		pageChanged(page) {
			this.offset = page * this.limit - this.limit;

			this.$router.replace({
				name: 'kos',
				query: { page }
			});
			this.getRooms();
		},

		getSuggestionSearch() {
			this.getSuggestionApi();
		},
		getSuggestionApi() {
			axios
				.get(`/owner/search/update/?type=kos&status=all`)
				.then(response => {
					this.roomListSuggestions = this.createSearchOptionsSuggestions(
						response.data.data
					);
				})
				.catch(error => {
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		},
		createSearchOptionsSuggestions(response) {
			const roomListSuggestions = [];
			for (var item in response) {
				roomListSuggestions.push({
					label: response[item].name,
					val: response[item].id
				});
			}
			return roomListSuggestions;
		},
		trackOwnerVisitBookingLanding() {
			tracker('moe', [
				'[Owner] Dashboard Kos - Landing Page Booking Langsung',
				{
					interface: navigator.isMobile ? 'mobile' : 'desktop',
					is_booking: this.$store.state.profile.membership.is_mamipay_user,
					is_premium:
						!this.$store.state.profile.membership.expired &&
						this.$store.state.profile.membership.status === 'Premium',
					redirection_source: 'lihat selengkapnya'
				}
			]);
		},
		goToBooking() {
			if (
				storage.local.getItem('activate_booking_redirection_source') !==
				'Dashboard Owner'
			) {
				storage.local.setItem(
					'activate_booking_redirection_source',
					'Dashboard Owner'
				);
			}
		},
		checkModalInterceptBBK() {
			const checkBbk = isForceBbk => {
				const { approve, waiting } = this.bbkKosStatus;
				if (approve === 0 && waiting === 0 && this.bbkKosNotActive > 0) {
					this.showModalInterceptBBK = true;
					this.isBBKKosApproveEmpty = true;
				}
				// Step1.0 bbk revamp
				else if (approve > 0 && this.bbkKosNotActive > 0) {
					this.showModalInterceptBBK = true;
					this.isBBKKosApproveEmpty = false;
				}
				// Step1.1 bbk revamp
				else if (waiting > 0 && this.bbkKosNotActive === 0) {
					this.showModalInterceptBBK = false;
				}
			};
			if (typeof Storage !== 'undefined') {
				if (
					sessionStorage.AbTestForceBbkVarianHandler === 'onVariantAReceived'
				) {
					checkBbk();
				} else if (!sessionStorage.isShowmodalInterceptBBK) {
					sessionStorage.isShowmodalInterceptBBK = 'true';
					checkBbk();
				}
			}
		},
		closeModalInterceptBBK() {
			this.showModalInterceptBBK = false;
		}
	}
};
</script>

<style lang="scss">
// stylelint-disable
#ownerKosContainer {
	.pagination > .disabled > span,
	.pagination > .disabled > span:hover,
	.pagination > .disabled > span:focus,
	.pagination > .disabled > a,
	.pagination > .disabled > a:hover,
	.pagination > .disabled > a:focus {
		color: #ccc !important;
	}
}
.toasted-suggestion-bbk {
	z-index: 100002;
}
// stylelint-enable
</style>

<style lang="scss" scoped>
.btn-offset {
	margin-top: 15px;
}
.btn-offset.prev {
	margin-right: 5px;
}
.btn-offset.next {
	margin-left: 5px;
}

.property-list-header {
	display: block;
	height: 34px;
	margin-top: 8px;
	margin-bottom: 20px;
	>>> .form-control {
		.btn-content {
			display: inline-block;
			width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
		}
	}
}

@media screen and (max-width: 960px) {
	.property-list-header {
		display: flex;
		height: auto;
		flex-direction: column;
	}
}

.btn-pagination {
	margin: 0 3px;
	color: #1baa56;
	background: transparent;
	border: 1px solid transparent;
}
.btn-pagination:active,
.btn-pagination:hover,
.btn-pagination:focus {
	color: #1baa56;
	text-decoration: none;
	border: 1px solid #1baa56;
}
.btn-pagination-active {
	color: #1baa56;
	text-decoration: none;
	border: 1px solid #1baa56;
}

// stylelint-disable-next-line
.text-desc > h1 {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.5em;
	font-weight: 600;
}

// stylelint-disable-next-line
.text-desc > h1 > .title-label {
	position: relative;
	top: -9px;
	right: -4px;
	font-size: 0.5em;
	color: #e54e2a;
}

// stylelint-disable-next-line
.text-desc > h1 > .title-label > .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 4px;
	background: #e54e2a;
	border-radius: 100%;
}

.btn-aktifkan {
	padding-top: 1.1rem;
}

.owner-kos-list {
	display: flex;
	padding: 0;
	flex-direction: row;
	align-items: flex-start;

	@media screen and (max-width: 1166px) {
		flex-direction: column;
		align-items: center;
	}
}
</style>

<style lang="scss">
.form-control.dropdown-toggle {
	width: 260px;
	height: auto;
	padding-right: 24px;
}

// stylelint-disable
@media screen and (max-width: 960px) {
	#ownerKosContainer {
		.form-control.dropdown-toggle {
			width: 100%;
		}
	}
}
// stylelint-enable

// stylelint-disable-next-line
.btn-group .dropdown-menu .bs-searchbox input:focus,
.btn-group .form-control.dropdown-toggle:focus {
	border-color: #1baa56 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1baa56 !important;
}

.dropdown-menu {
	min-width: 100%;
	max-height: 420px;
	overflow-y: auto;
}

// stylelint-disable-next-line
.dropdown-menu > li > a {
	color: #383746 !important;
}
// stylelint-disable-next-line
.dropdown-menu > li > a:hover {
	color: #fff !important;
	background-color: #1baa56 !important;
}

@media screen and (max-width: 703px) {
	.form-control.dropdown-toggle {
		width: 100%;
	}
}
.update-activity-wrapper {
	display: inline-block;

	.update-activity-button {
		width: 168px;
		margin-left: 20px;

		.loader {
			display: block;
			width: 15px;
			height: 15px;
			margin: auto;
			border: 2px solid #fff;
			border-top: 2px solid #3a694d;
			border-radius: 50%;
			animation: spin 2s linear infinite;
		}

		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	.image-wrapper {
		display: inline;
	}
	@media screen and (max-width: 960px) {
		display: flex;
		margin: 10px 0;

		.update-activity-button {
			margin-left: 0;
			flex-grow: 9;
		}

		.image-wrapper {
			flex-grow: 1;

			.image {
				display: block;
				height: 100%;
				margin: auto;
			}
		}
	}
}

.pagination-container {
	float: right;
}

.pagination {
	@media screen and (max-width: 375px) {
		font-size: 13px;
	}
	// stylelint-disable-next-line
	> li > a:focus,
	> li > a:hover,
	> li > span:focus,
	> li > span:hover {
		background-color: #fff;
	}

	margin: 0;
}

.owner-intercept-booking-modal {
	z-index: 100000;
	align-items: center;

	&.is-active {
		display: flex !important;
	}

	> .modal-dialog {
		> .modal-content {
			border: 0;
		}

		@media (max-width: 767px) {
			width: 100%;
			margin: 0;
			align-self: flex-end;

			> .modal-content {
				width: 100%;
				border-radius: 20px 20px 0 0;
			}
		}
	}

	&__header,
	&__body,
	&__footer {
		border: 0;

		@media (min-width: 768px) {
			padding: 3rem;
		}
	}

	&__header {
		padding-bottom: 0;

		@media (max-width: 767px) {
			display: flex;
			justify-content: center;
		}
	}

	&__close-button {
		float: right;

		&::after {
			content: url('/general/img/icons/ic_close_black.svg');

			@media (max-width: 767px) {
				content: url('/general/img/icons/ic_popup_pill.svg');
			}
		}
	}

	&__body {
		padding-top: 0;
		padding-bottom: 0;
		color: #484848;
		text-align: center;

		&-title {
			font-weight: bold;
			line-height: 36px;

			@media (min-width: 768px) {
				padding: 0 2rem;
			}
		}

		&-message {
			margin: 2rem 0 0;
			font-size: 16px;
			line-height: 24px;
		}

		@media (max-width: 767px) {
			&-icon {
				width: 100%;
			}

			&-title {
				margin: 0;
				font-size: 14px;
				line-height: 21px;
			}

			&-message {
				margin-top: 0;
				font-size: 14px;
				line-height: 21px;
			}
		}
	}

	&__footer {
		padding-top: 10px;
		text-align: center;
	}

	&__action-button {
		display: inline-block;
		width: 50%;
		padding: 12px 20px;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		text-align: center;
		background-color: #1baa56;
		border: 0;
		border-radius: 4px;

		@media (max-width: 767px) {
			width: 100%;
		}

		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
			outline: none;
		}
	}

	&__action-form {
		width: 50%;

		> .owner-auto-booking-modal__action-button {
			width: 100%;
		}
	}
}
</style>
