<template>
	<div>
		<alert
			v-model="readyAlert.state"
			:type="'warning'"
			:placement="isMobile ? 'top' : 'top-right'"
			:width="isMobile ? '300px' : '400px'"
			:duration="5000"
			:dismissable="true"
		>
			<strong>Perhatian!</strong>
			<p>{{ readyAlert.label }}</p>
		</alert>

		<alert
			v-model="statusAlert.state"
			:type="'warning'"
			:placement="isMobile ? 'top' : 'top-right'"
			:width="isMobile ? '300px' : '400px'"
			:duration="5000"
			:dismissable="true"
		>
			<strong>Perhatian!</strong>
			<p>{{ statusAlert.label }}</p>
		</alert>

		<div
			class="card-container stretch-xs col-xs-12 col-md-6"
			v-for="(room, index) in rooms"
			:key="index"
			@click="openRoom(room)"
		>
			<div
				class="card-box material-card"
				:class="{
					'material-card-1 clickable':
						room._id !== 0 &&
						(room.status_kos == 'verified' ||
							room.status_kos == 'edited' ||
							room.status_kos == 'incomplete' ||
							room.status_kos == 'unverified'),
					'material-card-2 arrowdefault':
						room._id === 0 ||
						room.status_kos == 'add' ||
						room.status_kos == 'klaim',
					'outline-red': room.status_kos == 'unverified'
				}"
			>
				<div
					class="card-photo col-xs-12 col-sm-4"
					:style="
						room.photo_url !== null
							? { backgroundImage: 'url(' + room.photo_url.medium + ')' }
							: { backgroundImage: 'url(/assets/placeholder-cover.jpg)' }
					"
				>
					<div class="card-status">
						<span
							class="status-title"
							v-if="
								room.status_kos == 'edited' ||
									room.status_kos == 'add' ||
									room.status_kos == 'claim'
							"
							v-text="'TUNGGU DISETUJUI'"
						></span>
						<span
							class="status-title"
							v-if="room.status_kos == 'unverified'"
							v-text="'DATA IKLAN DITOLAK'"
						></span>
						<span
							class="status-title"
							v-if="room.status_kos == 'incomplete'"
							v-text="'DATA BELUM LENGKAP'"
						></span>
					</div>
				</div>
				<div class="card-info col-xs-12 col-sm-8">
					<p class="info-title">{{ room.room_title }}</p>

					<p class="info-price" v-if="propertyType == 'kos'">
						<span v-show="room.available_room > 0"
							>ADA {{ room.available_room }} KAMAR</span
						>
						<span v-show="room.available_room == 0">PENUH</span>
						<span> | </span>
						<span>{{ room.price_title_time }}</span>
					</p>
					<p class="info-price" v-else-if="propertyType == 'apartment'">
						<span v-if="room.price_type == 'idr'">{{
							room.price_title_time
						}}</span>
						<span v-else>{{ room.price_title_time_usd }}</span>
					</p>
				</div>
				<div class="card-action flex-center col-xs-12">
					<span
						class="is-verified"
						v-text="textToDetail + propertyTypeTitle + ' Ini'"
						v-if="room.status_kos == 'verified' || room.status_kos == 'edited'"
					></span>
					<span
						class="is-verified"
						v-text="'Lengkapi Data ' + propertyTypeTitle + ' Ini'"
						v-else-if="room.status_kos == 'incomplete'"
					></span>
					<span
						class="is-waiting"
						v-text="'Tunggu Data ' + propertyTypeTitle + ' Disetujui'"
						v-else-if="room.status_kos == 'add' || room.status_kos == 'claim'"
					></span>
					<span
						class="is-rejected"
						v-text="'Lihat Alasan Ditolak ' + propertyTypeTitle + ' Ini'"
						v-else-if="room.status_kos == 'unverified'"
					></span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { alert } from 'vue-strap';

export default {
	components: {
		alert
	},
	data() {
		return {
			readyAlert: {
				state: false,
				label: ''
			},
			statusAlert: {
				state: false,
				label: ''
			}
		};
	},
	computed: {
		textToDetail() {
			if (this.$store.state.extras.textToDetail === 'A') {
				return 'Update, Edit, dan Promosikan ';
			} else if (this.$store.state.extras.textToDetail === 'B') {
				return 'Lihat Statistik ';
			}
		},
		isMobile() {
			return navigator.isMobile ? true : false;
		},
		propertyTypeTitle() {
			if (this.propertyType == 'kos') {
				return 'Kost';
			} else if (this.propertyType == 'apartment') {
				return 'Apartemen';
			}
		}
	},
	props: {
		rooms: {
			type: Array,
			required: true
		},
		propertyType: {
			type: String
		}
	},
	mounted() {
		//track if text to detail A/B test show up
		for (let room of this.rooms) {
			if (room._id !== 0) {
				if (room.status_kos == 'verified' || room.status_kos == 'edited') {
					tracker('ga', ['send', 'event', {
						eventCategory: 'Owner List ' + this.propertyType,
						eventAction: 'show',
						eventLabel: this.textToDetail
					}]);

					break;
				}
			}
		}
	},
	methods: {
		openRoom(room) {
			if (room._id !== 0) {
				if (
					room.status_kos == 'verified' ||
					room.status_kos == 'edited' ||
					room.status_kos == 'incomplete'
				) {
					if (this.propertyType == 'kos') {
						this.$router.push({
							name: 'kos_update',
							// params: { seq: room._id.toString() },
							props: { propertyType: this.propertyType }
						});
					} else if (this.propertyType == 'apartment') {
						this.$router.push({
							name: 'apartment_detail',
							params: { seq: room._id.toString() },
							props: { propertyType: this.propertyType }
						});
					}

					//track if text to detail A/B test clicked
					if (room.status_kos == 'verified' || room.status_kos == 'edited') {
						tracker('ga', ['send', 'event', {
							eventCategory: 'Owner List ' + this.propertyType,
							eventAction: 'click',
							eventLabel: this.textToDetail
						}]);
					}
				} else if (room.status_kos == 'add' || room.status_kos == 'klaim') {
					this.statusAlert.state = true;
					this.statusAlert.label =
						'Tunggu data ' + room.room_title + ' disetujui';
				} else if (room.status_kos == 'unverified') {
					// this.rejectAlert.state = true;
					// this.rejectAlert.label = room.reject_remark;
					if (this.propertyType == 'kos') {
						this.$router.push({
							name: 'kos_update',
							// params: { seq: room._id.toString() },
							props: { propertyType: this.propertyType }
						});
					} else if (this.propertyType == 'apartment') {
						this.$router.push({
							name: 'apartment_detail',
							params: { seq: room._id.toString() },
							props: { propertyType: this.propertyType }
						});
					}
				}
			} else {
				this.readyAlert.state = true;
				this.readyAlert.label =
					room.room_title +
					' sedang disiapkan oleh sistem. Silakan coba beberapa saat lagi.';
			}
		}
	}
};
</script>

<style scoped>
.card-container {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #3e5168;
}

.card-box.outline-red {
	outline: 1px solid #a94442;
}

@media (max-width: 767px) {
	.card-box {
		height: 260px;
	}
	.card-photo {
		height: 100px;
	}
	.card-info {
		height: 120px;
	}
}

@media (min-width: 768px) {
	.card-box {
		height: 180px;
	}
	.card-photo,
	.card-info {
		height: 140px;
	}
}

.card-photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
}
.card-status {
	background-color: #007137;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.status-title {
	color: #ffff00;
	font-weight: 600;
	text-transform: uppercase;
}
.card-info {
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (max-width: 767px) {
	.info-title {
		height: 60px;
	}
}

@media (min-width: 768px) {
	.info-title {
		height: 80px;
	}
}
.info-price {
	font-weight: bold;
	font-size: 16px;
}
.card-action {
	height: 40px;
	border-top: 1px solid #eee;
	text-align: center;
	font-weight: bold;
}
.card-action > span {
	vertical-align: middle;
}
.card-action .is-verified {
	color: #1baa56;
	cursor: pointer;
}
.card-action .is-waiting {
	color: #777;
	cursor: default;
}
.card-action .is-rejected {
	color: #a94442;
	cursor: default;
}
</style>
