<template>
	<div class="search-wrapper">
		<header class="search-wrapper__header">
			<div class="arrow-back-wrapper">
				<button class="arrow-btn" @click="handleClickBack">
					<img
						src="
              /general/img/icons/ic_arrow-left_alt_black.svg
              "
						alt="Icon turn back"
					/>
				</button>
			</div>
			<div class="search-input-wrapper">
				<ct-input-text
					ref="input"
					v-model="search"
					:radius="4"
					background-color="#F3F6FB"
					prepend-icon="search"
					flat
					hide-invalid-message
					clearable
					@enter="handleEnter"
				></ct-input-text>
			</div>
		</header>
		<div class="search-wrapper__body">
			<slot></slot>
		</div>
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';

export default {
	name: 'SearchWrapper',

	components: {
		CtInputText
	},

	props: {
		autofocus: Boolean,
		searchQuery: {
			type: String,
			default: 'search'
		}
	},

	data() {
		return {
			search: ''
		};
	},

	computed: {
		hasBackHandler() {
			return typeof this.$listeners.onBack === 'function';
		}
	},

	watch: {
		$route: {
			immediate: true,
			handler(route) {
				if (route.query[this.searchQuery]) {
					this.search = route.query[this.searchQuery];
				}
			}
		}
	},

	mounted() {
		if (this.autofocus && !this.search) {
			this.$refs.input.focus();
		}
	},

	methods: {
		handleEnter() {
			this.$emit('search', this.search);
		},
		handleClickBack() {
			if (this.hasBackHandler) {
				this.$emit('onBack');
			} else {
				this.$router.go(-1);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.search-wrapper {
	.search-wrapper__header {
		display: flex;
		align-items: center;
		padding: 20px;

		.arrow-back-wrapper {
			margin-right: 15px;
		}

		.search-input-wrapper {
			width: 100%;
		}
	}

	.arrow-btn {
		padding: unset;
		background-color: transparent;
		border: unset;
		outline: none;
	}
}
</style>
