<template>
	<div class="selection" :class="rootClassNames">
		<ul class="selection__wrapper">
			<li
				v-for="(item, index) in items"
				:key="`selection-item-${index}`"
				class="selection__item"
				:class="selectionItemClassNames(item)"
				@click="handleItemClick(item)"
			>
				<slot
					name="item"
					v-bind="{ item, index, active: isItemActive(item) }"
				></slot>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Selection',

	props: {
		/**
		 * value of selected item
		 * @model
		 */
		value: {
			type: [String, Number, Object, Array],
			default: null
		},
		/**
		 * lists of selections
		 */
		items: {
			type: Array,
			required: true
		},
		/**
		 * allow to select multiply
		 */
		multiple: Boolean,
		/**
		 * make width of wach item to 100%
		 */
		block: Boolean,
		/**
		 * disallow click from this component even the item isn't disabled
		 * you can handle click from the "item" slot
		 */
		silent: Boolean
	},

	data() {
		return {
			valueSelected: null
		};
	},

	computed: {
		selectionItemClassNames() {
			return item => {
				const itemToObj = this.convertToObject(item);
				return {
					'--disabled': !!itemToObj.disabled
				};
			};
		},
		rootClassNames() {
			return {
				'selection--block': this.block,
				'selection--multiple': this.multiple
			};
		}
	},

	watch: {
		value: {
			immediate: true,
			handler(valueChange) {
				if (!this.isValueSame(valueChange, this.valueSelected)) {
					this.valueSelected = valueChange;
				}
			}
		}
	},

	methods: {
		handleItemClick(item) {
			if (!this.silent && !this.convertToObject(item).disabled) {
				if (this.multiple) {
					/* istanbul ignore next */
					if (!Array.isArray(this.valueSelected)) {
						this.valueSelected = [];
					}

					this.valueSelected = this.toggleValueSelected(item);
				} else {
					this.valueSelected = item;
				}

				this.sendToParent(this.valueSelected);
			}
		},

		toggleValueSelected(item) {
			const valueSelected = [...this.valueSelected];
			const index = this.indexValue(item);
			if (index !== -1) {
				valueSelected.splice(index, 1);
			} else {
				valueSelected.push(item);
			}

			return valueSelected;
		},

		sendToParent(value) {
			this.$emit('input', value);
			this.$emit('change', value);
		},

		/**
		 * @helpers
		 * ******************************************************
		 */
		isValueSame(value1, value2) {
			return JSON.stringify(value1) === JSON.stringify(value2);
		},

		convertToObject(item) {
			return item.constructor === Object ? item : {};
		},

		isItemActive(item) {
			if (this.multiple) {
				return this.indexValue(item) !== -1;
			} else {
				return this.isValueSame(item, this.valueSelected);
			}
		},

		indexValue(item) {
			return (this.valueSelected || []).findIndex(value =>
				this.isValueSame(value, item)
			);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Consultant/styles/mixins/_selector.scss';

.selection {
	.selection__wrapper {
		display: flex;
		padding: unset;
		list-style: none;

		@include variant('.selection--block') {
			display: block;
		}

		.selection__item {
			margin: 0 16px 16px 0;
			cursor: pointer;

			&.--disabled {
				cursor: default;
			}
		}
	}
}
</style>
