<template>
	<div class="login-page">
		<snackbar v-model="openSnackbar" show-button-close>
			<div class="error-message-login el-center flex-col align-center">
				<p>Data yang kamu masukkan salah<br />Harap periksa kembali</p>
				<consultant-button @click="openSnackbar = false">
					Coba Lagi
				</consultant-button>
			</div>
		</snackbar>
		<h2 class="login-title">Silahkan Login Disini</h2>
		<ct-input-text
			v-model="loginData.email"
			type="email"
			label="Email"
			placeholder="contoh@email.com"
			rules="email"
			background-color="#fff"
			:radius="10"
			flat
			hide-invalid-message
		></ct-input-text>
		<ct-input-text
			v-model="loginData.password"
			type="password"
			label="Password"
			placeholder="********"
			background-color="#fff"
			:radius="10"
			flat
			hide-invalid-message
		></ct-input-text>
		<br />
		<consultant-button large block :loading="loading" @click="submitLogin">
			Login
			<span slot="loading">
				<i class="fas fa-circle-o-notch fa-spin">&nbsp;</i>
				Sedang login...
			</span>
		</consultant-button>
	</div>
</template>
<script>
import CtInputText from 'Consultant/components/CtInputText.vue';
import ConsultantButton from 'Consultant/components/ConsultantButton.vue';
import Snackbar from 'Consultant/components/Snackbar.vue';
import { setToken } from 'Consultant/helpers/cookiesToken';
import { saveCredential } from 'Consultant/helpers/credentials';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

export default {
	name: 'LoginPage',

	components: {
		CtInputText,
		ConsultantButton,
		Snackbar
	},

	data() {
		return {
			loginData: {
				email: '',
				password: ''
			},
			loading: false,
			openSnackbar: false
		};
	},

	methods: {
		async submitLogin() {
			this.loading = true;
			const { success, data } = await this.checkCredentialUser(this.loginData);
			if (success) {
				const { oauth, consultant, user_id: userId } = data;
				const userdata = { id: userId, consultant };

				setToken(oauth);
				saveCredential(userdata);
				this.$store.commit('setAuthData', userdata);
				this.trackUserLoggin(userdata, request => {
					this.loading = false;
					if (request.status === 200) {
						const baseURL = window.location.origin;
						window.location.replace(baseURL + '/consultant-tools/dashboard');
					}
				});
			} else {
				this.openSnackbar = true;
				this.loading = false;
			}
		},

		async checkCredentialUser(loginData) {
			const result = { success: false, message: '', data: {} };
			try {
				const response = await axios.post('/login', loginData);
				if (response.data.status === 'success') {
					result.data = response.data;
					result.success = true;
					result.message = response.data.message;
				} else {
					result.success = false;
					result.message = response.data.message;
				}
			} catch (error) {
				result.success = false;
			}

			return result;
		},

		trackUserLoggin(user, callback) {
			const tracker = new CreateTracker(TRACKERS.LOGGER, user);
			tracker.logger(
				[
					'Consultant Tools Login',
					{ consultant_id: user.consultant ? user.consultant.id : null }
				],
				callback
			);
		}
	}
};
</script>
<style lang="scss" scoped>
.login-title {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.error-message-login {
	height: 100%;
	/* stylelint-disable selector-max-type */
	p {
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		text-align: center;
	}
}
</style>
