* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}
.base-filter-button {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	font-size: 16px;
	line-height: 24px;
	color: #404040;
	background: none;
	border: 1px solid #dadada;
	border-radius: 100px;
	outline: none;

	&:hover {
		@media (min-width: 1281px) {
			border: 1px solid #303030;
		}
	}
}
.--small {
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 20px;
}
.--active {
	font-weight: bold;
	color: #303030;
	border: 1px solid #303030;
}
.custom-checkbox {
	position: relative;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dadada;
	border-radius: 4px;
}
.custom-radio {
	position: relative;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dadada;
	border-radius: 12px;
}
.input-container {
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 24px;
	align-items: center;
	justify-content: flex-start;

	@media (max-width: 991px) {
		width: 100%;
		margin-top: 10px;
	}

	.input-label {
		display: flex;
		align-items: center;
		margin: 0;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		color: #404040;
		cursor: pointer;
		user-select: none;

		/* stylelint-disable */
		input {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			cursor: pointer;
		}

		input[type='checkbox']:checked ~ .custom-checkbox {
			border: 1px solid #1baa56;
			background-color: #1baa56;

			&::after {
				content: '';
				position: absolute;
				top: 3px;
				left: 8px;
				width: 6px;
				height: 12px;
				border: solid white;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}

		input[type='radio']:checked ~ .custom-radio {
			border: 1px solid #1baa56;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				background-color: #1baa56;
				transform: translate(-50%, -50%);
			}
		}

		input[type='radio']:checked ~ .--label-active {
			font-weight: bold;
		}
		/* stylelint-enable */
	}
}
.count-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 18px;
	height: 18px;
	padding: 0 4px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
	background: #303030;
	border-radius: 8px;
}
.count-filter--single {
	border-radius: 100px;
}
.icon-filter {
	display: flex;
	align-items: center;
	margin-right: 8px;
	color: #757575;
}
.--icon-active {
	color: #303030;
}
.input-label-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;

	/* stylelint-disable */
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	/* stylelint-enable */

	.slider {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
		background-color: #ccc;
		border-radius: 12px;
		transition: 0.4s;

		&::before {
			position: absolute;
			bottom: 2px;
			left: 2px;
			width: 20px;
			height: 20px;
			content: '';
			background-color: #fff;
			border-radius: 10px;
			transition: 0.4s;
		}
	}

	/* stylelint-disable */
	input:checked + .slider {
		background-color: #1baa56;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #1baa56;
	}

	input:checked + .slider:before {
		transform: translateX(16px);
	}
	/* stylelint-enable */
}
.search-btn-base {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	border-radius: 4px;
	outline: 0;
}
.search-btn-reset {
	/* stylelint-disable */
	@extend .search-btn-base;
	/* stylelint-enable */
	width: 116px;
	color: #404040;
	background: #fff;
	border: 1px solid #e8e8e8;
}
.search-btn-save {
	/* stylelint-disable */
	@extend .search-btn-base;
	/* stylelint-enable */
	padding: 0 16px;
	margin-left: 20px;
	color: #fff;
	white-space: nowrap;
	background: #1baa56;
	border: 0;
	border-radius: 4px;
}
.search-btn-block {
	flex: 1;
}
