<template>
	<div>
		<global-navbar
			fixed
			need-search-box
			:max-width="1140"
			need-back-arrow
			:redirection-source="redirectionSource"
			:redirection-source-navbar="redirectionSourceNavbar"
		/>

		<bg-grid is-container>
			<div class="download-exam">
				<bg-grid h-align="center">
					<bg-grid-item :col="10">
						<div class="download-exam__title">
							<bg-text size="heading-2" tag="h2">
								{{ article.title }}
							</bg-text>
						</div>

						<file-list
							v-if="showFiles"
							title="Silakan download soal dari link berikut:"
							:files="examFiles"
						/>

						<bg-grid v-else h-align="center">
							<bg-grid-item :col="8">
								<bg-text class="download-exam__content" size="body-2">
									<span v-html="article.content"></span>
								</bg-text>

								<bg-text class="download-exam__excercp" size="body-2">
									<span v-html="article.excerpt"></span>
								</bg-text>

								<subscribe-form
									:is-submit-loading="isSubmitLoading"
									@submit="handleSubmitSubscribe"
								/>
							</bg-grid-item>
						</bg-grid>
					</bg-grid-item>
				</bg-grid>
			</div>
		</bg-grid>

		<mami-footer></mami-footer>
		<modal-form-login
			v-if="isModalLoginVisible"
			:show-modal-login="isModalLoginVisible"
			:starting-state="modalLoginState"
			@closeModal="handleCloseModalLogin"
		></modal-form-login>
	</div>
</template>

<script>
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import * as storage from 'Js/@utils/storage';

import { BgGrid, BgGridItem, BgText } from 'bangul-vue';
import GlobalNavbar from 'Js/@components/GlobalNavbar';
import FileList from './FileList';
import SubscribeForm from './SubscribeForm';

import 'bangul-vue/dist/bangul.css';

const MamiFooter = () => import('Js/@components/MamiFooter');
/* istanbul ignore next */
const ModalFormLogin = () => import('Js/_login/components/ModalFormLogin');

export default {
	components: {
		GlobalNavbar,
		MamiFooter,
		ModalFormLogin,
		BgGrid,
		BgGridItem,
		BgText,
		FileList,
		SubscribeForm
	},
	data() {
		return {
			token: document.head.querySelector('meta[name="csrf-token"]').content,
			redirectionSource: '',
			redirectionSourceNavbar: '',
			isModalLoginVisible: false,
			modalLoginState: 'tenant',
			requestBody: null,
			isSubmitLoading: false
		};
	},
	computed: {
		isLoggedin() {
			return authCheck && authCheck.all;
		},
		article() {
			// eslint-disable-next-line no-undef
			return downloadArticle;
		},
		showFiles() {
			// eslint-disable-next-line no-undef
			return isSubscribed && this.isLoggedin;
		},
		examFiles() {
			// eslint-disable-next-line no-undef
			return examFiles;
		},
		storageInitial() {
			return `download-exam-${this.article.slug}`;
		}
	},
	created() {
		if (this.isLoggedin) {
			if (storage.local.getItem(this.storageInitial)) {
				this.handleSubmitSubscribe(
					JSON.parse(storage.local.getItem(this.storageInitial))
				);
			}
		}
	},
	methods: {
		handleCloseModalLogin() {
			document.body.classList.remove('modal-open');
			this.isModalLoginVisible = false;
		},
		getRequestBody({
			name,
			email,
			phoneNumber,
			currentLocation,
			destination,
			gender,
			university
		}) {
			return {
				name,
				email,
				phone: phoneNumber,
				location: [
					[106.800156, -6.618229],
					[106.933365, -6.113246]
				],
				filters: {
					gender: [0, 1],
					price_range: [100000, 2000000]
				},
				form_detail: {
					name,
					email,
					gender,
					university,
					destination,
					phone_number: phoneNumber,
					current_location: currentLocation,
					exam_id: this.article.examId
				},
				_token: this.token
			};
		},
		async handleSubmitSubscribe(formData) {
			if (!formData) {
				return;
			}

			if (!this.isLoggedin) {
				storage.local.setItem(this.storageInitial, JSON.stringify(formData));

				this.isModalLoginVisible = true;
				this.isSubmitLoading = false;

				return;
			}

			this.isSubmitLoading = true;

			const response = await makeAPICall({
				method: 'post',
				url: `/stories/subscribe_download`,
				headers: {
					'Content-Type': 'application/json',
					'X-GIT-Time': '1406090202',
					Authorization: 'GIT WEB:WEB'
				},
				data: this.getRequestBody(formData)
			});

			if (response) {
				location.reload();
				storage.local.removeItem(this.storageInitial);
			}

			this.isSubmitLoading = false;
		}
	}
};
</script>

<style lang="scss">
.download-exam {
	width: 100%;
	padding: 32px 16px;

	img {
		max-width: 100% !important;
	}

	&__form {
		margin-top: 36px;
	}

	&__title {
		margin-bottom: 36px;
		text-align: center;
	}

	h3 {
		margin-bottom: 24px;
	}
}
</style>
