<template>
	<div class="download-exam__form">
		<bg-text size="title-4" tag="h3">
			Silakan isi form dibawah ini untuk mendownload kumpulan soal dan
			pembahasannya.
		</bg-text>
		<form @submit.prevent="handleSubmit">
			<bg-field
				:label="formFields.name.label"
				:message="errors.first(formFields.name.name)"
				:error="!!errors.first(formFields.name.name)"
			>
				<bg-input
					v-model="name"
					v-validate="'required|min:3|max:25'"
					:name="formFields.name.name"
					:data-vv-as="formFields.name.errorPrefix"
					:placeholder="formFields.name.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.currentLocation.label"
				:message="errors.first(formFields.currentLocation.name)"
				:error="!!errors.first(formFields.currentLocation.name)"
			>
				<bg-input
					v-model="currentLocation"
					v-validate="'required|min:3|max:20'"
					:name="formFields.currentLocation.name"
					:data-vv-as="formFields.currentLocation.errorPrefix"
					:placeholder="formFields.currentLocation.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.university.label"
				:message="errors.first(formFields.university.name)"
				:error="!!errors.first(formFields.university.name)"
			>
				<bg-input
					v-model="university"
					v-validate="'required|min:3|max:30'"
					:name="formFields.university.name"
					:data-vv-as="formFields.university.errorPrefix"
					:placeholder="formFields.university.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.destination.label"
				:message="errors.first(formFields.destination.name)"
				:error="!!errors.first(formFields.destination.name)"
			>
				<bg-input
					v-model="destination"
					v-validate="'required|min:3|max:20'"
					:name="formFields.destination.name"
					:data-vv-as="formFields.destination.errorPrefix"
					:placeholder="formFields.destination.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.gender.label"
				:message="errors.first(formFields.gender.name)"
				:error="!!errors.first(formFields.gender.name)"
			>
				<bg-select
					v-model="gender"
					v-validate="'required'"
					:name="formFields.gender.name"
					size="md"
					:options="genderOptions"
					:data-vv-as="formFields.gender.errorPrefix"
					:placeholder="formFields.gender.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.email.label"
				:message="errors.first(formFields.email.name)"
				:error="!!errors.first(formFields.email.name)"
			>
				<bg-input
					v-model="email"
					v-validate="'required|email'"
					:name="formFields.email.name"
					type="email"
					:data-vv-as="formFields.email.errorPrefix"
					:placeholder="formFields.email.placeholder"
					required
				/>
			</bg-field>
			<bg-field
				:label="formFields.phoneNumber.label"
				:message="errors.first(formFields.phoneNumber.name)"
				:error="!!errors.first(formFields.phoneNumber.name)"
			>
				<bg-input
					v-model="phoneNumber"
					v-validate="'required|min:5|max:15'"
					:name="formFields.phoneNumber.name"
					type="tel"
					:data-vv-as="formFields.phoneNumber.errorPrefix"
					:placeholder="formFields.phoneNumber.placeholder"
					required
				/>
			</bg-field>

			<bg-button
				size="lg"
				variant="primary"
				:loading="isSubmitLoading"
				block
				type="submit"
				value="submit"
				>Download Soal</bg-button
			>
		</form>
	</div>
</template>

<script>
import { BgText, BgField, BgInput, BgButton, BgSelect } from 'bangul-vue';
import subscribeFormFields from '../data/subscribeFormFields.json';

export default {
	components: {
		BgText,
		BgField,
		BgInput,
		BgButton,
		BgSelect
	},
	props: {
		isSubmitLoading: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			formFields: subscribeFormFields,
			name: '',
			email: '',
			phoneNumber: '',
			currentLocation: '',
			university: '',
			destination: '',
			gender: '0,1',
			genderOptions: [
				{
					val: '0,1',
					label: 'Putra'
				},
				{
					val: '0,2',
					label: 'Putri'
				}
			]
		};
	},
	methods: {
		handleSubmit(e) {
			this.$emit('submit', {
				name: this.name,
				email: this.email,
				phoneNumber: this.phoneNumber,
				currentLocation: this.currentLocation,
				destination: this.destination,
				gender: this.gender,
				university: this.university
			});
		}
	}
};
</script>
