<template>
	<button
		class="voucher-code__button"
		:class="{ disable: !isAvailable }"
		type="button"
		:disabled="!isAvailable"
		@click="copyPromoCode"
	>
		<transition name="fade">
			<span v-if="showTooltip" class="voucher-code__tooltip">{{
				tooltipMessage
			}}</span>
		</transition>
		<img
			v-if="isAvailable"
			v-lazy="`/general/img/icons/${icons.copyActive}`"
			class="voucher-code__icon"
		/>
		<img
			v-else
			v-lazy="`/general/img/icons/${icons.copyInactive}`"
			class="voucher-code__icon"
		/>
		<span class="button-text" :class="{ disable: !isAvailable }">Salin</span>
	</button>
</template>

<script>
import mixinVoucherTracker from '../../../mixins/mixinVoucherTracker';

export default {
	mixins: [mixinVoucherTracker],

	props: {
		voucherId: {
			type: Number,
			required: true
		},
		code: {
			type: String,
			required: true
		},
		isMobile: {
			type: Boolean,
			required: true
		},
		isAvailable: {
			type: Boolean,
			required: true
		}
	},

	data() {
		return {
			icons: {
				copyActive: 'ic_voucher_copy_green.svg',
				copyInactive: 'ic_voucher_copy_grey.svg'
			},
			copying: false,
			tooltipMessage: '',
			showTooltip: false
		};
	},

	computed: {
		pageLocation() {
			return this.$store.state.isVoucherDetail
				? 'voucher detail'
				: 'voucher list';
		}
	},

	methods: {
		copyPromoCode(e) {
			this.$copyText(this.code).then(
				e => {
					tracker('moe', [
						'[User] Voucher Code Copied',
						{
							user_id: this.authData.all.id,
							voucher_id: this.voucherId,
							voucher_code: this.code,
							source_page: this.pageLocation
						}
					]);

					this.promoCodeCopied('Kode berhasil disalin');
				},
				e => {
					this.promoCodeCopied('Gagal salin kode voucher');
				}
			);
		},
		promoCodeCopied(message) {
			if (!this.copying) {
				this.copying = true;

				if (this.isMobile) {
					this.$toasted.show(message, {
						className: 'toasted-default',
						theme: 'bubble',
						position: 'bottom-center',
						duration: 1000
					});
				} else {
					this.tooltipMessage = message;
					this.showTooltip = true;

					setTimeout(() => (this.showTooltip = false), 1000);
				}

				setTimeout(() => (this.copying = false), 1500);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher-code {
	&__button {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px 16px;
		background-color: transparent;
		border: 1px solid #1baa56;
		border-radius: 6px;

		&.disable {
			border: 1px solid #ddd;
		}

		.button-text {
			font-size: 16px;
			font-weight: bold;
			line-height: 21px;
			color: #1baa56;

			&.disable {
				color: #ddd;
			}

			@media (max-width: 350px) {
				display: none;
			}
		}
	}

	&__icon {
		margin-right: 6px;

		@media (max-width: 350px) {
			margin-right: 0;
		}
	}

	&__tooltip {
		position: absolute;
		top: -70px;
		left: -40px;
		width: 159px;
		padding: 16px;
		border-radius: 8px;
		background-color: #242424;
		color: #fff;
		font-size: 14px;
		line-height: 21px;

		&::after {
			content: '';
			position: absolute;
			bottom: -13px;
			left: 50%;
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 14px solid #242424;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
</style>