<template>
	<div class="voucher-valid">
		<span
			v-if="isAvailable"
			class="voucher-valid__container--active text--active"
			:class="{ detail: isDetailPage }"
			>Berlaku {{ voucherValidDate }}</span
		>
		<span
			v-else
			class="voucher-valid__container--disable text--disable"
			:class="{ detail: isDetailPage }"
			>{{ label }}</span
		>
	</div>
</template>

<script>
export default {
	props: {
		voucherValidDate: {
			type: String,
			required: true
		},
		isAvailable: {
			type: Boolean,
			required: true
		},
		label: {
			type: String,
			required: false,
			default: null
		}
	},

	computed: {
		isDetailPage() {
			return this.$store.state.isVoucherDetail;
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher-valid {
	margin-bottom: 8px;

	&__container {
		&--active {
			padding: 2px 8px;
			background-color: #e8f7ee;
			border-radius: 4px;
		}

		&--disable {
			padding: 2px 8px;
			background-color: #f5f5f5;
			border-radius: 4px;
		}
	}
}

.text {
	&--active {
		font-size: 12px;
		font-weight: bold;
		color: #1baa56;
	}

	&--disable {
		font-size: 12px;
		font-weight: bold;
		color: #484848;
	}
}

.detail {
	font-size: 14px;

	@media (max-width: 767px) {
		font-size: 12px;
	}
}
</style>
