<template>
	<div class="voucher-code">
		<div class="voucher-code__container">
			<p class="voucher-code__text" :class="{ disable: !isAvailable }">
				Kode Voucher
			</p>
			<span class="voucher-code__code" :class="{ disable: !isAvailable }">{{
				code
			}}</span>
		</div>
		<div class="voucher-code__container">
			<voucher-copy-button
				:voucher-id="voucherId"
				:code="code"
				:is-mobile="isMobile"
				:is-available="isAvailable"
			/>
		</div>
	</div>
</template>

<script>
import VoucherCopyButton from './VoucherCopyButton';

export default {
	components: {
		VoucherCopyButton
	},

	props: {
		voucherId: {
			type: Number,
			required: true
		},
		code: {
			type: String,
			required: true
		},
		isAvailable: {
			type: Boolean,
			required: true
		}
	},

	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	}
};
</script>

<style lang="scss" scoped>
.voucher-code {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	&__text {
		margin-bottom: 0;
		font-size: 14px;
		line-height: 18px;
		color: #727272;

		&.disable {
			color: #ddd;
		}

		@media (max-width: 350px) {
			font-size: 12px;
		}
	}

	&__code {
		font-size: 14px;
		font-weight: bold;
		line-height: 21px;
		color: #484848;

		&.disable {
			color: #ddd;
		}

		@media (max-width: 450px) {
			font-size: 13px;
		}

		@media (max-width: 360px) {
			font-size: 12px;
		}
	}
}
</style>
