<template>
	<div id="manageBookingDetail">
		<div class="row">
			<div class="col-xs-7 row">
				<div
					v-if="bookingDetail.managed_by_label"
					class="booking-property-info__managed-by-label col-xs-12"
				>
					{{ bookingDetail.managed_by_label }}
				</div>
				<h6 class="col-xs-12">Properti yang dipesan:</h6>
				<manage-booking-property-info
					:booking-detail="bookingDetail"
					class="col-xs-12 booking-property-info"
				/>
				<manage-booking-tenant-info
					class="col-xs-12 booking-tenant-info"
					:booking-detail="bookingDetail"
				/>
			</div>

			<div class="col-xs-5 booking-info-card">
				<manage-booking-info-card :booking-detail="bookingDetail" />
			</div>
		</div>
	</div>
</template>

<script>
import ManageBookingPropertyInfo from './manage-booking-detail/ManageBookingPropertyInfo';
import ManageBookingInfoCard from './manage-booking-detail/ManageBookingInfoCard';
import ManageBookingTenantInfo from './manage-booking-detail/ManageBookingTenantInfo';

import MixinCheckingExpiredDate from '../../mixins/MixinCheckingExpiredDate';

export default {
	components: {
		ManageBookingPropertyInfo,
		ManageBookingInfoCard,
		ManageBookingTenantInfo,
	},

	mixins: [MixinCheckingExpiredDate],

	props: {
		bookingDetail: {
			type: Object,
			required: true,
		},
	},

	data() {
		return {
			autoScrollInterval: null,
		};
	},

	computed: {
		isShowEmptyRoomToast() {
			const { status } = this.bookingDetail;
			const isConfirmedAndNotExpired =
				status === 'confirmed' && !this.isExpired();
			const isEmptyRoomAllotment = !this.bookingDetail.room_allotment;
			const isPaidOrVerified = status === 'paid' || status === 'verified';
			return (
				isEmptyRoomAllotment && (isConfirmedAndNotExpired || isPaidOrVerified)
			);
		},
		isAutoScrollToBottom() {
			const { status } = this.bookingDetail;
			return (
				status === 'booked' ||
				status === 'confirmed' ||
				status === 'paid' ||
				status === 'verified'
			);
		},
	},

	mounted() {
		window.scrollTo(0, 0);
		this.setRoomPlacementToast();
		this.setContentSectionOverflow('unset');
		if (this.isAutoScrollToBottom) {
			this.setAutoScrollToBottom(4000);
			this.toggleAutoScroll('add');
		}
	},

	beforeDestroy() {
		this.setContentSectionOverflow('auto');
		this.toggleAutoScroll('remove');
	},

	methods: {
		setRoomPlacementToast() {
			if (this.isShowEmptyRoomToast) {
				this.$toasted.show(
					'Kamar belum dipilih. Silahkan tentukan kamar Penyewa',
					{
						position: 'bottom-left',
						duration: 4000,
					}
				);
			}
		},
		isExpired() {
			return (
				this.checkingConfirmExpiredDate(
					this.bookingDetail.confirm_expired_date
				) < 0
			);
		},
		setContentSectionOverflow(type) {
			const contentSection = document.getElementById('contentSection');
			if (contentSection) {
				contentSection.style.overflow = type;
			}
		},
		setAutoScrollToBottom(duration) {
			const to = document.body.scrollHeight;
			const from = window.scrollY;
			const start = new Date().getTime();
			this.autoScrollInterval = setInterval(() => {
				const step = Math.min(1, (new Date().getTime() - start) / duration);
				window.scrollTo(0, from + step * (to - from) + 1);
				if (step === 1) {
					clearInterval(this.autoScrollInterval);
				}
			}, 25);
			window.scrollTo(0, from + 1);
		},
		toggleAutoScroll(type) {
			const eventListenerType = `${type}EventListener`;
			const wheelEvent =
				'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';
			window[eventListenerType]('DOMMouseScroll', this.onUserScroll);
			window[eventListenerType](wheelEvent, this.onUserScroll);
			window[eventListenerType]('touchmove', this.onUserScroll);
			window[eventListenerType]('keydown', this.onUserScrollByKeys);
		},
		onUserScroll() {
			if (this.autoScrollInterval) {
				clearInterval(this.autoScrollInterval);
				this.toggleAutoScroll('remove');
			}
		},
		onUserScrollByKeys(e) {
			const UP = 38;
			const DOWN = 40;
			if (this.autoScrollInterval && (e.keyCode === UP || e.keyCode === DOWN)) {
				clearInterval(this.autoScrollInterval);
				this.toggleAutoScroll('remove');
			}
		},
	},
};
</script>

<style lang="scss">
@import '../../style/StyleTooltip.scss';
.flash-sale-disclaimer {
	.mami-info__icon {
		color: #aaa;
	}

	.mami-info__content {
		font-size: 14px;
		line-height: 21px;
		color: #aaa;
	}
}
</style>

<style lang="scss" scoped>
#manageBookingDetail {
	margin-top: -12px;
	font-size: 14px;

	h6 {
		margin: 0;
		font-size: 18px;
		font-weight: 900;
		line-height: 26px;
		color: #303030;
	}

	.booking-property-info {
		padding-bottom: 32px;
		margin-top: 12px;

		&__managed-by-label {
			width: calc(100% + 2px);
			height: 29px;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			padding: 4px 0px;
			margin-bottom: 32px;
			line-height: 20px;
			color: #757575;
			background: #f6f6f6;
		}
	}

	.booking-info-card {
		position: sticky;
		top: 100px;

		> * {
			margin-left: 10px;
		}
	}
}
</style>
