<template>
	<span class="manage-booking-status" :class="bookingStatusClass">{{
		statusLabel
	}}</span>
</template>

<script>
export default {
	props: {
		statusBooking: {
			type: String,
			required: true
		},
		statusLabel: {
			type: String,
			required: true
		}
	},

	computed: {
		bookingStatusClass() {
			return {
				'status-process': ['booked', 'confirmed'].includes(this.statusBooking),
				'status-success': ['paid', 'verified'].includes(this.statusBooking),
				'status-end': [
					'terminated',
					'finished',
					'rejected',
					'cancel_by_admin',
					'cancelled',
					'expired',
					'expired_date'
				].includes(this.statusBooking)
			};
		}
	}
};
</script>

<style lang="scss" scoped>
$variants: (
	'success': (
		color: #016034,
		backgroundColor: #edf9f4,
		borderColor: #d8ede3
	),
	'process': (
		color: #8c3b00,
		backgroundColor: #fcf7e3,
		borderColor: #f9e7b4
	),
	'end': (
		color: #757575,
		backgroundColor: #f6f6f6,
		borderColor: #e8e8e8
	)
);

.manage-booking-status {
	box-sizing: border-box;
	padding: 4px 8px;
	font-weight: bold;
	color: #757575;
	background-color: #f6f6f6;
	border: 1px solid #e8e8e8;
	border-radius: 4px;

	&.status {
		@each $variant, $states in $variants {
			&-#{$variant} {
				color: map-get($states, 'color');
				background-color: map-get($states, 'backgroundColor');
				border-color: map-get($states, 'borderColor');
			}
		}
	}
}
</style>
