<template>
	<div class="manage-booking-pagination">
		<paginate
			v-model="selectedNumberPagination"
			:page-count="totalPage"
			:click-handler="pageChanged"
			:prev-text="`<i class='mamikos-icon icon-chevron-right --reversed' />`"
			:next-text="`<i class='mamikos-icon icon-chevron-right' />`"
			:container-class="'pagination-table'"
			:break-view-link-class="'break-pagination'"
			:page-class="'page-item'"
			:class="{ 'is-first-page': isFirstPage, 'is-last-page': isLastPage }"
		>
		</paginate>
	</div>
</template>

<script>
import paginate from 'vuejs-paginate';

import MixinMamipayBooking from '../../mixins/MixinMamipayBooking';

export default {
	components: {
		paginate
	},

	mixins: [MixinMamipayBooking],

	computed: {
		totalPage() {
			return this.$store.state.manageBooking.searchBooking.totalPage;
		},
		selectedNumberPagination: {
			get() {
				return this.$store.state.manageBooking.searchBooking
					.selectedNumberPagination;
			},
			set(val) {
				this.$store.commit('setBookingSelectedNumberPagination', val);
			}
		},
		isFirstPage() {
			return this.selectedNumberPagination === 1;
		},
		isLastPage() {
			return this.selectedNumberPagination === this.totalPage;
		}
	},

	methods: {
		pageChanged(activePage) {
			const pageOffset =
				this.searchBookingLimit * activePage - this.searchBookingLimit;
			this.$store.commit('setSearchBookingOffset', pageOffset);
			this.getBookingList({ offset: pageOffset });
		}
	}
};
</script>

<style lang="scss">
.manage-booking-pagination {
	display: flex;
	justify-content: flex-end;

	.pagination-table {
		margin: 0;

		> li {
			box-sizing: border-box;
			padding: 4px 6px;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: bold;
			color: #404040;
			background-color: #fff;
			border: 1px solid #e8e8e8;
			border-radius: 4px;

			> a,
			&:not(.page-item) > a {
				color: #404040;
			}

			&:last-of-type > a,
			&:first-of-type > a {
				font-size: 26px;
				line-height: 1;
			}

			&.disabled > a {
				cursor: default;
			}
		}

		&.is-last-page {
			> li:last-of-type {
				&:hover {
					background-color: inherit;
				}

				a {
					color: #e8e8e8;
				}
			}
		}

		&.is-first-page {
			> li:first-of-type {
				&:hover {
					background-color: inherit;
				}

				a {
					color: #e8e8e8;
				}
			}
		}
	}

	.page-item {
		&.active {
			background-color: #1baa56;
			border: 0;

			> a {
				color: #fff;
			}
		}
	}

	.--reversed::before {
		transform: rotate(180deg);
	}
}
</style>
