<template>
	<mami-modal-wrap
		:show-modal="showModal"
		class="manage-booking-intercept-modal"
		@close="closeModal"
	>
		<div class="manage-booking-intercept-modal__title">
			<span>{{ modalTitle }}</span>
		</div>

		<div class="manage-booking-intercept-modal__caption">
			<span>{{ modalCaption }}</span>
		</div>

		<div class="manage-booking-intercept-modal__action">
			<button type="button" class="btn btn-primary" @click="closeModal">
				{{ confirmText }}
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
import MamiModalWrap from 'Js/@components/MamiModalWrap';

export default {
	name: 'ManageBookingIntercept',

	components: {
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			default: false
		},
		modalTitle: {
			type: String,
			default: ''
		},
		modalCaption: {
			type: String,
			default: ''
		},
		confirmText: {
			type: String,
			default: 'Saya Mengerti'
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		}
	}
};
</script>

<style lang="scss">
.manage-booking-intercept-modal {
	&__caption {
		margin-bottom: 48px;
		font-size: 16px;
		line-height: 24px;
	}

	&__action {
		margin-top: 16px;
		margin-bottom: 0;
	}

	&.modal {
		.modal-dialog {
			margin-top: calc(50vh - 128px);
			margin-bottom: 0;
		}
	}

	&.modal.in {
		display: flex !important;
		align-items: center;
		justify-content: center;

		.modal-dialog {
			margin: 0;
		}
	}

	.modal-button-close {
		padding: 14px;
		margin: 0;
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		min-width: 388px;
		padding: 9px;
		border-radius: 16px;
	}
}
</style>

<style lang="scss" scoped>
.manage-booking-intercept-modal {
	&__title {
		margin-top: 12px;
		margin-bottom: 16px;
		font-size: 24px;
		font-weight: bold;
		line-height: 30px;
	}

	&__action {
		display: flex;
		margin-top: 20px;
		margin-bottom: 10px;
		justify-content: space-between;

		.btn {
			padding: 12px 16px;
			margin-left: auto;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
		}
	}
}
</style>
