<template>
	<div id="manageBookingCountdown">
		{{ countdown }}
	</div>
</template>

<script>
export default {
	data() {
		return {
			countdown: ''
		};
	},

	props: {
		expiredDate: {
			type: String,
			required: true
		}
	},

	created() {
		this.runTheCountdown();
	},

	methods: {
		runTheCountdown() {
			let timer = setInterval(() => {
				const dayInMilliseconds = 1000 * 60 * 60 * 24;
				const distance = this.$dayjs(this.expiredDate) - this.$dayjs();

				const additionalDays = Math.floor(distance / dayInMilliseconds);
				const getHoursCountdown = Math.floor(
					(distance / (1000 * 60 * 60)) % 24
				);

				const getTotalHours = getHoursCountdown + additionalDays * 24;
				const getMinuteAndSecodCountdown = this.$dayjs(distance).format(
					'mm:ss'
				);

				if (distance < 0) {
					this.countdown = '00:00:00';
					clearInterval(timer);
				} else {
					this.countdown = `${getTotalHours}:${getMinuteAndSecodCountdown}`;
				}
			}, 1000);
		}
	}
};
</script>
