<template>
	<div class="user-identification">
		<div class="user-identification__photo">
			<div v-for="id in ids" :key="id.id">
				<div class="user-identification__photo-wrapper">
					<div class="user-identification__photo-container">
						<img
							v-lazy="{
								src: id.photo,
								error: onImageIdentifierError
							}"
							:class="{ '--clickable': !!id.photo }"
							:alt="id.alt"
							:data-path="`img_${id.id}`"
							@click="showImageModal(id.photo)"
						/>
					</div>
				</div>
				<span>
					<i>{{ id.label }}</i>
				</span>
			</div>
		</div>
		<div
			v-if="notFullyFilledID || photoRequestError"
			class="user-identification__disclaimer"
		>
			<mami-info
				class="tenant-id-disclaimer"
				variant="info"
				alignment="top"
				is-rounded
			>
				Penyewa akan menunjukkan kartu identitas asli ketika check-in kos
			</mami-info>
		</div>
		<modal v-model="isShowImageModal" effect="fade" @closed="closeImageModal">
			<img
				alt="Close Icon"
				src="/general/img/icons/ic_close-mamipay_white.svg"
				class="close-button"
				data-path="img_closeImageModal"
				@click="closeImageModal"
			/>
			<img
				alt="Image Identifier"
				:src="showedPhotoSrc"
				data-path="img_showedIdPhoto"
			/>
		</modal>
	</div>
</template>

<script>
import { modal } from 'vue-strap';
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		modal,
		MamiInfo
	},
	props: {
		idPhoto: {
			type: String,
			default: ''
		},
		selfiePhoto: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			onImageIdentifierError:
				'/general/img/pictures/default-profile-avatar.svg',
			isShowImageModal: false,
			showedPhotoSrc: '',
			photoRequestError: false
		};
	},
	computed: {
		notFullyFilledID() {
			return !(this.idPhoto && this.selfiePhoto);
		},
		ids() {
			return [
				{
					id: 'idPhoto',
					alt: 'Identification Image',
					label: 'Foto KTP',
					photo: this.idPhoto
				},
				{
					id: 'selfiePhoto',
					alt: 'Selfie Image',
					label: 'Foto Selfie dengan KTP',
					photo: this.selfiePhoto
				}
			];
		}
	},
	mounted() {
		const self = this;
		this.$Lazyload.$on('error', function({ src }) {
			self.ids.forEach(id => {
				if (id.photo && id.photo === src) {
					self.photoRequestError = true;
				}
			});
		});
	},
	methods: {
		showImageModal(photoUrl) {
			if (photoUrl) {
				this.showedPhotoSrc = photoUrl;
				this.isShowImageModal = true;
			}
		},
		closeImageModal() {
			this.isShowImageModal = false;
		}
	}
};
</script>

<style lang="scss">
.user-identification {
	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-body {
		position: relative;

		.close-button {
			position: absolute;
			top: 2px;
			right: 1px;
			width: 30px;
			height: 30px;
			cursor: pointer;
		}

		img {
			width: 100%;
		}
	}

	.modal-content {
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
}
</style>

<style lang="scss" scoped>
.user-identification {
	&__photo {
		display: flex;
		justify-content: space-between;

		> div {
			width: calc(50% - 8px);
		}
	}

	&__photo-wrapper {
		padding: 8px;
		margin-bottom: 12px;
		border: 1px solid #e8e8e8;
		border-radius: 4px;

		+ span {
			font-size: 14px;
			line-height: 20px;
			color: #949494;
		}
	}

	&__disclaimer {
		margin-top: 16px;
	}

	&__photo-container {
		position: relative;
		width: 100%;
		padding-top: calc(100% * 14 / 23);
		background-color: #ddd;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			object-fit: cover;
			object-position: center;
			pointer-events: auto;
			cursor: pointer;

			&[lazy='error'] {
				object-fit: contain;
				pointer-events: none;
				cursor: default;
			}
		}
	}
}
</style>
