<template>
	<div id="inputSearchBooking">
		<input
			placeholder="Cari nama / nomor booking"
			class="input-filter-kost"
			type="text"
			v-model="textSearch"
			@keyup.enter="getSearch"
		/>
		<img
			class="icon-down"
			v-lazy="'/general/img/icons/ic_search-magnifier_green.svg'"
			alt="Image Magnifier"
		/>
	</div>
</template>

<script>
import MixinMamipayBill from '../../mixins/MixinMamipayBill';

export default {
	mixins: [MixinMamipayBill],

	data() {
		return {
			textSearch: ''
		};
	},

	computed: {
		userRoomId() {
			return this.$store.state.userRoom.id;
		}
	},

	methods: {
		getSearch() {
			this.getBill(this.userRoomId, this.textSearch);
		}
	}
};
</script>

<style lang="scss" scoped>
#inputSearchBooking {
	width: 236px;
	max-width: 236px;
	position: relative;

	img {
		&.icon-down {
			position: absolute;
			top: 17px;
			right: 14px;
		}
	}
}

.input-filter-kost {
	width: 100%;
	height: 53px;
	background: #ffffff;
	border: 0.5px solid #e4e4e4;
	box-sizing: border-box;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	text-indent: 20px;
}
</style>
