<template>
	<div id="manageRoomPrice">
		<div class="header-section margin-custom-header-section">
			<div class="left-header-section">
				<h1 class="title-section">
					Perbarui harga dan kamar tersedia
				</h1>
			</div>
			<div class="right-header-section"></div>
		</div>

		<div v-if="allUserRooms.length == 0">
			<manage-message-page
				image-message="/general/img/pictures/mamipay/owner/ilustration_nothing-kost.png"
				title-message="Belum ada Kos di sini"
				description-message="Kos Anda belum ada yang terdaftar untuk fitur Booking. Yuk, daftar sekarang!"
				alt-image="Ilustration Room list not found"
			>
				<a
					target="_blank"
					href="/ownerpage/add"
					slot="button"
					class="btn btn-primary"
				>
					+ Tambah data properti
				</a>
			</manage-message-page>
		</div>

		<div v-else>
			<div
				v-if="
					!selectedUserRooms.booking_status && bookingActiveStatus == 'waiting'
				"
				class="wrapper-section"
			>
				<manage-message-page
					image-message="/general/img/pictures/mamipay/owner/ilustration_waiting-proccess.png"
					description-message="Terima kasih sudah mendaftar Booking Langsung. Mohon menunggu pemberitahuan berikutnya dari kami."
					alt-image="Ilustration Waiting Proccess"
				></manage-message-page>
			</div>

			<div
				v-else-if="
					!selectedUserRooms.booking_status || bookingActiveStatus == 'reject'
				"
				class="wrapper-section message-padding-bottom"
			>
				<manage-message-page
					image-message="/general/img/pictures/voucherku/img_voucher_empty.svg"
					title-message="Kos Anda belum bisa di-booking langsung"
					description-message="Agar lebih mudah dicari dan disewa oleh penyewa, daftarkan kos Anda untuk pakai Booking Langsung."
					alt-image="Ilustration Booking is not active"
				>
					<button
						slot="button"
						class="btn btn-primary"
						@click="openModalActiveBooking"
					>
						Daftar Sekarang
					</button>
				</manage-message-page>
			</div>

			<div class="wrapper-room-price" v-else>
				<div class="wrapper-section-white">
					<div class="row">
						<div class="col-xs-6">
							<div class="row">
								<div class="col-xs-6">
									<p class="desc-room-available">
										Tersedia
										<span>{{ allDetailRoom.room_available }} kamar kosong</span>
									</p>
								</div>
								<div class="col-xs-6">
									<a class="link-edit" @click="openUpdateRoomAndPrice(false)"
										><img v-lazy="'/general/img/icons/ic_edit_o.svg'" /><span
											>Edit</span
										></a
									>
								</div>
								<div class="col-xs-12">
									<hr class="custom-line" />
								</div>
								<div class="col-xs-12">
									<p class="title-alocation">
										Alokasi jumlah kamar bisa dibooking
									</p>
									<select disabled v-model="emptyRoom" class="form-control">
										<option :value="0">Kamar Penuh</option>
										<option v-for="n in 50" :value="n">{{ n }} Kamar</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="row column-price-room-now">
								<div class="col-xs-6">
									<p class="title-alocation">Harga sewa kamar saat ini</p>
								</div>
								<div class="col-xs-6">
									<a class="link-edit" @click="openUpdateRoomAndPrice(true)"
										><img v-lazy="'/general/img/icons/ic_edit_o.svg'" /><span
											>Edit</span
										></a
									>
								</div>
							</div>
							<div class="wrapper-addition">
								<div
									class="row-addition"
									:class="{
										'on-active': priceDaily != 0
									}"
								>
									<span class="label-add bold">Harian</span>
									<span class="cost-add bold"
										>Rp. {{ priceDaily.toLocaleString('id-ID') }}</span
									>
								</div>
								<div
									class="row-addition"
									:class="{
										'on-active': priceWeekly != 0
									}"
								>
									<span class="label-add bold">Mingguan</span>
									<span class="cost-add bold"
										>Rp. {{ priceWeekly.toLocaleString('id-ID') }}</span
									>
								</div>
								<div
									class="row-addition"
									:class="{
										'on-active': priceMonthly != 0
									}"
								>
									<span class="label-add bold">Bulanan</span>
									<span class="cost-add bold"
										>Rp. {{ priceMonthly.toLocaleString('id-ID') }}</span
									>
								</div>
								<div
									class="row-addition"
									:class="{
										'on-active': priceQuarterly != 0
									}"
								>
									<span class="label-add bold">3 Bulanan</span>
									<span class="cost-add bold"
										>Rp. {{ priceQuarterly.toLocaleString('id-ID') }}</span
									>
								</div>
								<div
									class="row-addition"
									:class="{
										'on-active': priceSemiannualy != 0
									}"
								>
									<span class="label-add bold">6 Bulanan</span>
									<span class="cost-add bold"
										>Rp. {{ priceSemiannualy.toLocaleString('id-ID') }}</span
									>
								</div>
								<div
									class="row-addition"
									:class="{
										'on-active': priceYearly != 0
									}"
								>
									<span class="label-add bold">Tahunan</span>
									<span class="cost-add bold"
										>Rp. {{ priceYearly.toLocaleString('id-ID') }}</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ManageMessagePage from '../ManageMessagePage';

import MixinMamipayBooking from '../../mixins/MixinMamipayBooking';

import EventBus from '../../event-bus/event-bus';

export default {
	mixins: [MixinMamipayBooking],

	components: {
		ManageMessagePage
	},

	computed: {
		bookingActiveStatus() {
			return this.$store.state.userRoomStatus.booking_active_status;
		},
		allDetailRoom() {
			return this.$store.state.allDetailRoom;
		},
		selectedUserRooms() {
			return this.$store.state.userRoom;
		},
		allUserRooms() {
			return this.$store.state.userRooms;
		},
		hasRequest() {
			return (
				sessionStorage.getItem(
					`mami_waiting_booking_${this.selectedUserRooms.id}`
				) || null
			);
		},
		originalKostPrice() {
			const OWNER_ROOM = this.$store.state.userRoomStatus;
			return OWNER_ROOM.room ? OWNER_ROOM.room.original_price : '';
		},
		priceDaily() {
			let price = this.originalKostPrice.price_daily;
			return typeof price !== 'undefined' ? price : 0;
		},
		priceMonthly() {
			let price = this.originalKostPrice.price_monthly;
			return typeof price !== 'undefined' ? price : 0;
		},
		priceWeekly() {
			let price = this.originalKostPrice.price_weekly;
			return typeof price !== 'undefined' ? price : 0;
		},
		priceQuarterly() {
			let price = this.originalKostPrice.price_quarterly;
			return typeof price !== 'undefined' ? price : 0;
		},
		priceSemiannualy() {
			let price = this.originalKostPrice.price_semiannualy;
			return typeof price !== 'undefined' ? price : 0;
		},
		priceYearly() {
			let price = this.originalKostPrice.price_yearly;
			return typeof price !== 'undefined' ? price : 0;
		},
		isDisabledButtonUpdate() {
			return this.emptyRoom >= this.allDetailRoom.room_count ? true : false;
		},
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		},
		checkUrlOwnerHasBackSlash() {
			return this.ownerDashboardUrl.substr(-1) !== '/'
				? this.ownerDashboardUrl + '/'
				: this.ownerDashboardUrl;
		}
	},

	watch: {
		allDetailRoom(val) {
			this.emptyRoom = val.room_available;
		},
		emptyRoom(val) {
			if (val > this.allDetailRoom.room_count) {
				if (this.selectedUserRooms.booking_status) {
					this.$toasted.show(
						'Jumlah kamar kosong, tidak boleh lebih dari total kamar.',
						{
							type: 'info',
							className: 'toasted-default',
							theme: 'bubble',
							position: 'bottom-center',
							duration: 2000
						}
					);
				}
			}
		}
	},

	created() {
		const ROOM_ID = this.$route.params.seq;
		const USER_ROOM_LENGTH = Object.keys(this.selectedUserRooms).length;
		const USER_ROOMS_LENGTH = this.allUserRooms.length;
		const ALL_DETAIL_ROOM = Object.keys(this.allDetailRoom).length;
		if (
			ROOM_ID != 'all' ||
			!USER_ROOM_LENGTH ||
			!USER_ROOMS_LENGTH ||
			!ALL_DETAIL_ROOM
		) {
			this.getUserRooms(ROOM_ID);
		}
		this.emptyRoom = this.allDetailRoom.room_available;
	},

	methods: {
		openModalActiveBooking() {
			EventBus.$emit('modalActiveBooking', true);
		},
		openUpdateRoomAndPrice(value) {
			if (!this.isMobile) {
				const params = value ? '?single=true' : '/edit';
				window.location.href = `${this.checkUrlOwnerHasBackSlash}kos/rooms/${this.selectedUserRooms.id}${params}`;
			} else {
				const params = value ? '/price' : '/edit';
				window.location.href = `${this.checkUrlOwnerHasBackSlash}kos/rooms/${this.selectedUserRooms.id}${params}`;
			}
		}
	},

	data() {
		return {
			emptyRoom: '',
			isDisplayButton: false,
			ownerDashboardUrl: oxWebUrl
		};
	}
};
</script>

<style lang="scss" scoped>
@import '../../style/PageStyle.scss';

#manageRoomPrice {
	border-radius: 5px;
	margin: 3rem 2rem 0rem 2rem;
	font-size: 14px;

	.wrapper-room-price {
		background-color: #fff;
		box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.02);
		border-radius: 5px;
		padding: 0rem 4rem 2rem 4rem;
		border: 1px solid #f9f9f9;
		margin-top: 1rem;
	}

	.wrapper-section-white {
		margin-top: 4rem;
	}

	.message-padding-bottom {
		padding-bottom: 6rem;
	}

	p {
		&.desc-room-available {
			color: #999999;
			font-size: 1.1em;
			font-weight: 600;
			span {
				color: #f54a4a;
			}
		}
	}

	.custom-line {
		margin: 0;
		margin-bottom: 1rem;
	}

	a {
		&.link-edit {
			float: right;

			img {
				position: relative;
				top: -2px;
			}

			span {
				font-size: 1.1em;
				font-weight: 700;
				margin-left: 1rem;
			}
		}
	}

	.title-alocation {
		font-weight: 600;
	}

	.wrapper-addition {
		.line-add {
			border: 0.5px solid rgba(0, 0, 0, 0.15);
			margin-bottom: 1rem;
		}

		.row-addition {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1rem;
			padding: 0.5rem 1.8rem;

			&.on-active {
				background-color: rgba(27, 170, 86, 0.05);
				color: #1baa56;
				.label-add {
					color: #1baa56;
				}
			}

			.label-add {
				color: #999999;
			}

			.cost-add {
				&.bold {
					font-weight: 600;
				}

				&.green {
					color: #109e4b;
				}

				&.red {
					color: #ec4a0c;
				}
			}
		}
	}

	.column-price-room-now {
		padding: 0.5rem 1.8rem;
	}

	.custom-save-btn {
		padding: 1.5rem 4rem;
		font-weight: 700;
	}
}
</style>
