<template>
	<div :class="`manage-booking-action-button is-${size}`">
		<a
			v-if="isChatButtonShown"
			class="btn btn-action-secondary"
			role="button"
			@click.prevent="openLinkWithTracker('', 'chat')"
		>
			{{ actionText || 'Chat Calon Penyewa' }}
		</a>

		<template v-else-if="isCustomerServiceButtonShown">
			<bg-button variant="secondary" @click="sendToCS"
				>Hubungi Mamikos</bg-button
			>
		</template>

		<template
			v-else-if="
				bookingData.status === 'booked' &&
					isEnabled(bookingData.room_permissions, 'write:booking')
			"
		>
			<button
				type="button"
				class="btn btn-action-secondary"
				@click="showUpModalRejectBooking"
			>
				Tolak
			</button>
			<button
				type="button"
				class="btn btn-primary btn-action-primary"
				@click="showUpModalAcceptBooking"
			>
				Terima
			</button>
		</template>

		<a
			v-else-if="bookingData.status === 'paid'"
			class="btn btn-action-secondary"
			@click.prevent="
				openLinkWithTracker(
					`/ownerpage/manage/profile-tenant/${bookingData.contract_id}/biodata-tenant`,
					'contract detail'
				)
			"
		>
			Lihat Kontrak
		</a>

		<a
			v-else-if="bookingData.status === 'verified'"
			class="btn btn-action-secondary"
			@click.prevent="openLinkWithTracker(bookingData.first_invoice, 'invoice')"
		>
			Lihat Bukti Pembayaran
		</a>
	</div>
</template>

<script>
import _get from 'lodash/get';
import EventBus from '../../event-bus/event-bus';

import MixinCheckingExpiredDate from '../../mixins/MixinCheckingExpiredDate';
import MixinBookingRoom from '../../mixins/MixinBookingRoom';
import MixinTrackBookingConfirmationClick from '../../mixins/MixinTrackBookingConfirmationClick';

import { BgButton } from 'bangul-vue';

export default {
	components: {
		BgButton
	},
	mixins: [
		MixinBookingRoom,
		MixinTrackBookingConfirmationClick,
		MixinCheckingExpiredDate
	],
	props: {
		bookingData: {
			type: Object,
			required: true
		},
		isDetailBooking: {
			type: Boolean,
			default: false
		},
		size: {
			type: String,
			default: 'medium'
		},
		actionText: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: ''
		},
		// is props from info-card component in detail page
		isInfoCard: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		authData() {
			return this.$store.state.authData.all;
		},
		actionButtonLocation() {
			if (this.isDetailBooking) {
				return {
					from: 'detail',
					label: 'Detail Booking',
					labelLowerCase: 'detail booking'
				};
			}
			return {
				from: 'list',
				label: 'List Booking',
				labelLowerCase: 'list booking'
			};
		},
		isEnabled() {
			return (permissions, permissionToCheck) =>
				permissions.includes(permissionToCheck);
		},
		isCustomerServiceButtonShown() {
			return (
				(this.bookingData.status === 'rejected' ||
					this.bookingData.status === 'expired') &&
				this.isInfoCard &&
				this.isEnabled(
					this.bookingData.room_permissions,
					'read:customer-service'
				)
			);
		},
		isChatButtonShown() {
			return (
				(this.type === 'chat' || this.bookingData.status === 'confirmed') &&
				this.isEnabled(this.bookingData.room_permissions, 'read:chat')
			);
		}
	},
	methods: {
		isExpired(bookingData) {
			return (
				this.checkingConfirmExpiredDate(bookingData.confirm_expired_date) < 0
			);
		},
		showUpModalAcceptBooking() {
			this.trackClickAcceptBooking(
				this.bookingData,
				this.actionButtonLocation.labelLowerCase
			);
			if (this.isExpired(this.bookingData)) {
				EventBus.$emit('activeExpiredPage', true);
			} else if (!this.isKostFull) {
				const confirmBooking = {
					from: this.actionButtonLocation.from,
					data: this.bookingData
				};

				EventBus.$emit('showUpBookingAcceptModal', confirmBooking);
			} else {
				EventBus.$emit('showKostFullModal');
			}

			this.trackButtonClicked('confirm');
		},
		showUpModalRejectBooking() {
			const rejectParams = {
				data: this.bookingData,
				from: this.actionButtonLocation.label
			};

			this.trackClickRejectBooking(
				this.bookingData,
				this.actionButtonLocation.labelLowerCase
			);
			if (this.isExpired(this.bookingData)) {
				EventBus.$emit('activeExpiredPage', true);
			} else {
				EventBus.$emit('showUpBookingRejectModal', rejectParams);
			}

			this.trackButtonClicked('reject');
		},
		openLinkWithTracker(link, action) {
			this.trackButtonClicked(action);
			window.open(link || oxWebUrl, '_blank');
		},
		trackButtonClicked(action) {
			tracker('moe', [
				`[Owner] Click Button di ${this.actionButtonLocation.label}`,
				{
					type_of_button: action,
					phone_number_click: 0,
					channel_url_chat: _get(this.bookingData, 'channel_url_chat', ''),
					booking_status: _get(this.bookingData, 'status_label', ''),
					booking_id: _get(this.bookingData, 'booking_id', ''),
					booking_start_time: new Date(this.bookingData.checkin_date),
					booking_periode: _get(this.bookingData, 'duration_count', 0),
					tenant_job: _get(this.bookingData, 'job', ''),
					tenant_name: _get(this.bookingData, 'name', ''),
					tenant_phone_number: _get(this.bookingData, 'phone_number', ''),
					user_email: _get(this.bookingData, 'email', ''),
					tenant_gender:
						_get(this.bookingData, 'gender') === 2 ? 'perempuan' : 'laki-laki',
					property_id: _get(this.bookingData, 'room_id', 0),
					owner_name: _get(this.authData, 'name', ''),
					owner_phone_number: _get(this.authData, 'phone_number', ''),
					owner_email: _get(this.authData, 'email', ''),
					requestDate: new Date(this.bookingData.request_date),
					tenant_marital_status: _get(this.bookingData, 'marital_status', '')
				}
			]);
		},
		sendToCS() {
			const mamikosNumber = '6282228090158';
			const preText =
				'Halo, Mamikos. Mohon bantuannya untuk menindaklanjuti pengelolaan booking dari Account Manager dengan detail sbb:';
			const detailText = [
				`- Nama Calon Penyewa: ${this.bookingData.name}`,
				`- Nama Kos ${this.bookingData.room_name}`,
				`- Status booking: ${
					this.bookingData.status === 'rejected'
						? 'Ditolak'
						: this.bookingData.status_label
				}`
			];
			const closingText =
				'Mohon diinformasikan alasan penolakan booking dari Account Manager.';

			const whatsappUrl = `https://api.whatsapp.com/send?phone=
				${mamikosNumber}&text=${preText}%0a${detailText.join('%0a')}%0a
				${this.bookingData.status === 'rejected' ? closingText : ''}`;

			window.open(whatsappUrl);
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-action-button {
	display: flex;

	> * {
		width: 100%;
		height: 40px;
	}

	> *:not(:first-of-type) {
		margin-left: 16px;
	}

	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		border-radius: 4px;
	}

	&.is-medium {
		> * {
			height: 40px;
			font-size: 14px;
			line-height: 24px;
		}
	}

	&.is-large {
		> * {
			height: 48px;
			font-size: 16px;
			line-height: 24px;
		}
	}

	.btn-action-secondary {
		color: #404040;
		background-color: #fff;
		border: 1px solid #e8e8e8;
		border-radius: 4px;

		&:hover {
			color: #949494;
		}

		&:active,
		&:focus {
			color: #303030;
			outline: none;
		}
	}

	.btn-action-primary {
		color: #fff;
		background-color: #1baa56;
		border-radius: 4px;

		&:hover {
			background-color: #6ecf91;
			border: 0;
		}

		&:active,
		&:focus {
			background-color: #008742;
			border: 0;
			outline: none;
		}
	}
}
</style>
