<template>
	<div id="manageBookingList">
		<div v-if="!selectedDetailBooking" class="manage-booking-list__container">
			<manage-booking-list-card
				v-for="booking in bookingList"
				:key="booking.action.id"
				:booking-data="booking.action"
				class="manage-booking-list__item"
				@view-detail-clicked="selectBooking"
			/>
			<manage-booking-pagination v-if="isShowPagination" />
		</div>
		<manage-booking-detail
			v-else
			:booking-detail="selectedDetailBooking"
		></manage-booking-detail>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import _get from 'lodash/get';

import ManageBookingDetail from './ManageBookingDetail';
import ManageBookingPagination from './ManageBookingPagination';
import ManageBookingListCard from './ManageBookingListCard';

import MixinCheckingExpiredDate from '../../mixins/MixinCheckingExpiredDate';
import MixinTrackBookingConfirmationClick from '../../mixins/MixinTrackBookingConfirmationClick';
import MixinBookingRoom from '../../mixins/MixinBookingRoom';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		ManageBookingDetail,
		ManageBookingPagination,
		ManageBookingListCard
	},

	mixins: [
		MixinCheckingExpiredDate,
		MixinTrackBookingConfirmationClick,
		MixinBookingRoom
	],

	computed: {
		...mapState({
			bookingList: state => {
				const { listBooking } = state.manageBooking;
				return listBooking && listBooking.data;
			},
			bookingActiveStatus: state => state.userRoomStatus.booking_active_status
		}),

		isShowPagination() {
			return (
				this.bookingList &&
				this.bookingActiveStatus !== 'waiting' &&
				this.bookingActiveStatus !== 'reject'
			);
		},

		allDetailRoom() {
			return this.$store.state.allDetailRoom;
		},

		selectedDetailBooking: {
			get() {
				return this.$store.state.manageBooking.selectedDetailBooking;
			},
			set(detailBooking) {
				this.$store.commit('setSelectedDetailBooking', detailBooking);
			}
		}
	},

	methods: {
		selectBooking(dataBooking) {
			this.selectedDetailBooking = dataBooking;
			EventBus.$emit('showFilterCategories', false);
			this.addEventTrackDetail(dataBooking);
			this.scrollToTop();
		},
		scrollToTop() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		},
		addEventTrackDetail(bookingData) {
			tracker('moe', [
				'[Owner] Visit Detail Booking',
				{
					user_id: _get(bookingData, 'user_id', 0),
					booking_status: _get(bookingData, 'status_label', null),
					payment_status: _get(bookingData, 'status_label', null),
					booking_periode: _get(bookingData, 'duration_count', null),
					booking_start_time: new Date(bookingData.checkin_date),
					booking_end_time: new Date(bookingData.checkout_date),
					booking_id: _get(bookingData, 'booking_id', null),
					property_rent_type: _get(bookingData, 'duration_type', null),
					property_name: _get(bookingData, 'room_name', null),
					property_id: _get(bookingData, 'room_id', null),
					property_city: _get(this.allDetailRoom, 'area_city', null),
					tenant_id_photo: _get(bookingData, 'id_photo.medium', null),
					tenant_selfie_photo: _get(bookingData, 'selfie_photo.medium', null),
					tenant_description: _get(bookingData, 'about_renter', ''),
					tenant_gender: _get(bookingData, 'gender', null),
					tenant_marital_status: _get(bookingData, 'marital_status', ''),
					tenant_job: _get(bookingData, 'job', '')
				}
			]);
		}
	}
};
</script>
