<template>
	<div>
		<dropdown class="button-setting">
			<a href="#" slot="button"
				><img class="image-setting" v-lazy="'/general/img/icons/ic_setting.svg'"
			/></a>
			<ul slot="dropdown-menu" class="dropdown-menu">
				<li>
					<a @click="openDetail" class="menu-link"
						><img
							src="/general/img/icons/ic_accept-mamipay_o.svg"
							alt="Icon bill"
						/>
						<span class="green">Detail Permintaan</span></a
					>
				</li>
				<li v-if="statusBooking == 'booked'">
					<a @click="openReject" class="menu-link">
						<img
							src="/general/img/icons/ic_remove-mamipay_o.svg"
							alt="Icon user"
						/>
						<span>Tolak Permintaan</span>
					</a>
				</li>
			</ul>
		</dropdown>
	</div>
</template>

<script>
import { dropdown } from 'vue-strap';

export default {
	components: {
		dropdown
	},

	props: {
		statusBooking: {
			type: String
		}
	},

	methods: {
		openDetail() {
			this.$emit('openDetailBooking', true);
		},
		openReject() {
			this.$emit('openRejectBooking', true);
		}
	}
};
</script>

<style lang="scss">
.button-setting {
	.btn {
		border: 0px;
		background-color: #f3fbf6;
		.caret {
			display: none;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: #ffffff !important;
			box-shadow: none;
		}
	}
}

.open {
	> .dropdown-menu {
		left: unset;
		right: 0;
	}
}
</style>

<style lang="scss" scoped>
.menu-link {
	> img {
		margin-right: 0.8rem;
		width: 14px;
		height: 14px;
	}

	> span {
		&.green {
			color: #27ab27;
		}

		&.red {
			color: #ff6f55;
		}
	}
}
</style>