<template>
	<div id="manageModalEditRoom">
		<modal v-model="showModal" effect="fade" @closed="closeModal">
			<div slot="modal-header" class="modal-header">
				<a class="icon-close" @click="closeModal">
					<img v-lazy="'/general/img/icons/ic_remove_s.svg'" alt="Icon Close" />
				</a>
			</div>

			<div class="wrapper-content">
				<div class="profile-tenant">
					<div class="row">
						<div class="col-xs-3">
							<img
								v-if="detailBooking.photo"
								:src="detailBooking.photo.medium"
								@error="onImageError"
								class="image-tenant"
								alt="Photo User"
							/>
							<img
								v-else
								src="/general/img/pictures/default-user-image.png"
								class="image-tenant"
								alt="Photo User Default"
							/>
						</div>
						<div class="col-xs-9">
							<div class="wrapper-detail">
								<p class="black-bold-title">{{ detailBooking.name }}</p>
								<p class="grey-small">{{ detailBooking.phone_number }}</p>
								<span
									v-if="detailBooking.status == 'booked'"
									class="label label-primary label-custom"
									>Tunggu konfirmasi Admin</span
								>
								<span
									v-else-if="detailBooking.status == 'success'"
									class="label label-success label-custom"
									>Sudah terbayar</span
								>
								<span
									v-else-if="detailBooking.status == 'verified'"
									class="label label-success label-custom"
									>Diterima</span
								>
								<span
									v-else-if="detailBooking.status == 'cancelled'"
									class="label label-danger label-custom"
									>Cancel</span
								>
								<span
									v-else-if="detailBooking.status == 'rejected'"
									class="label label-danger label-custom"
									>Ditolak</span
								>
								<span
									v-else-if="detailBooking.status == 'expired'"
									class="label label-danger label-custom"
									>Waktu Bayar Habis</span
								>
								<span
									v-else-if="
										detailBooking.status == 'terminated' ||
											detailBooking.status == 'finished'
									"
									class="label label-danger label-custom"
									>Diakhiri</span
								>
								<span
									v-else-if="detailBooking.status == 'cancel_by_admin'"
									class="label label-danger label-custom"
									>Cancel</span
								>
								<span
									v-else-if="detailBooking.status == 'confirmed'"
									class="label label-warning label-custom"
									>Belum dibayar</span
								>
							</div>
						</div>
					</div>
				</div>

				<div class="reason-rejected" v-if="detailBooking.reject_reason">
					<p class="title-reason">Alasan Penolakan :</p>
					<p class="desc-reason">{{ detailBooking.reject_reason }}</p>
				</div>

				<div class="rent-duration">
					<div class="row">
						<div class="col-xs-4">
							<div class="wrapper-detail">
								<p class="grey-small">ID Booking</p>
								<p class="black-bold-title">{{ detailBooking.booking_id }}</p>
							</div>
						</div>
						<div class="col-xs-8">
							<div class="wrapper-detail">
								<p class="grey-small">Waktu Pemesanan</p>
								<p class="black-bold-title">{{ detailBooking.request_date }}</p>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="rent-duration">
					<div class="row">
						<div class="col-xs-4">
							<div class="wrapper-detail">
								<p class="grey-small">Durasi Sewa</p>
								<p class="black-bold-title">{{ detailBooking.duration }}</p>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="wrapper-detail">
								<p class="grey-small">Tanggal Masuk</p>
								<p class="black-bold-title">{{ detailBooking.checkin_date }}</p>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="wrapper-detail">
								<p class="grey-small">Tanggal Keluar</p>
								<p class="black-bold-title">
									{{ detailBooking.checkout_date }}
								</p>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="kost-detail">
					<div class="row">
						<div class="col-xs-12">
							<div class="wrapper-detail">
								<p class="grey-small margin-bottom-custom">
									Kost yang di booking:
								</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="wrapper-detail">
								<p class="grey-small margin-bottom-custom">
									Kost {{ genderType || '-' }}
								</p>
								<p class="black-bold-title">
									{{ detailBooking.room_name || '-' }}
								</p>
								<p class="grey-small">{{ detailBooking.room_name || '-' }}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<img
								v-if="detailBooking.room_photo"
								class="image-kost"
								v-lazy="detailBooking.room_photo.medium"
								alt="Image Room"
							/>
							<img
								v-else
								class="image-kost"
								v-lazy="
									'/general/img/pictures/mamirooms/about-room-photo_lg.png'
								"
								alt="Image Room"
							/>
						</div>
					</div>
				</div>
			</div>

			<div
				class="wrapper-footer"
				v-if="!detailBooking.reject_reason && detailBooking.status == 'booked'"
			>
				<div class="row">
					<div class="col-xs-12">
						<hr />
					</div>
					<div class="col-xs-6">
						<button
							@click="openModalAcceptBooking"
							class="btn btn-primary btn-update-custom"
						>
							Terima Booking
						</button>
					</div>
					<div class="col-xs-6">
						<button
							@click="openModalReasonReject"
							class="btn btn-success btn-update-custom"
						>
							Tolak
						</button>
					</div>
				</div>
			</div>

			<div slot="modal-footer" class="modal-footer"></div>
		</modal>
	</div>
</template>

<script>
import { modal, checkbox } from 'vue-strap';

export default {
	components: {
		modal,
		checkbox
	},

	data() {
		return {
			cekbox: ''
		};
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		}
	},

	computed: {
		detailBooking() {
			return this.$store.state.manageBooking.listBookingSelected;
		},
		genderType() {
			if (this.detailBooking) {
				let gender =
					this.detailBooking.gender == 0
						? 'Campur'
						: this.detailBooking.gender == 1
						? 'Laki - laki'
						: 'Perempuan';
				return gender;
			}
		}
	},

	methods: {
		onImageError(event) {
			event.target.src = '/general/img/pictures/default-user-image.png';
		},
		closeModal() {
			this.$emit('closeModal', false);
		},
		openModalReasonReject() {
			this.$emit('closeModal', false);
			this.$emit('modalDialogReason', true);
		},
		openModalAcceptBooking() {
			this.$emit('closeModal', false);
			this.$emit('modalAcceptBooking', true);
		}
	}
};
</script>

<style lang="scss">
#manageModalEditRoom {
	font-size: 14px;

	.modal.in .modal-dialog {
		width: 500px;
	}

	.modal-body {
		padding: 0rem 4rem;
	}

	.modal-header {
		padding: 17px 0px 0px 0px;
		border-bottom: none;
	}

	.modal-footer {
		padding: 17px 0px 30px 37px;
		border-top: none;
		text-align: left;
	}

	h1 {
		&.text-header {
			font-weight: 600;
			line-height: 1.3em;
			margin: 0;
			margin-top: 0.8rem;
			margin-bottom: 1.3rem;
			font-size: 1.9em;
		}
	}

	p {
		&.text-description {
			width: 298px;
			font-size: 1.1em;
		}
	}
}
</style>

<style lang="scss" scoped>
@import '../../style/LabelCustom.scss';

a {
	&.icon-close {
		float: right;
		margin-right: 3rem;
		padding: 0.3rem 1rem;
		background: #dadada;
		border-radius: 100%;
	}
}

.profile-tenant {
	margin-bottom: 3rem;
	margin-top: 2rem;

	img {
		&.image-tenant {
			width: 85px;
			height: 85px;
			object-fit: cover;
			border-radius: 100%;
			margin-right: 1rem;
		}
	}

	.wrapper-detail {
		p {
			&.grey-small {
				color: grey;
				margin-bottom: 1rem;
			}

			&.black-bold-title {
				margin-bottom: 0;
				font-weight: 700;
				font-size: 1.2em;
			}
		}
	}
}

.reason-rejected {
	width: 100%;
	background-color: #dbdbdb;
	padding: 1rem 2rem;
	margin: 3rem 0rem;

	p {
		margin-bottom: 0rem;
		&.title-reason {
			font-size: 1em;
			color: #7d7d7d;
		}

		&.desc-reason {
			color: #7d7d7d;
			font-weight: 700;
		}
	}
}

.rent-duration {
	.wrapper-detail {
		p {
			&.grey-small {
				color: grey;
				margin-bottom: 0.2rem;
			}

			&.black-bold-title {
				margin-bottom: 0;
				font-weight: 700;
				font-size: 1em;
			}
		}
	}
}

.kost-detail {
	margin-top: 5rem;

	.wrapper-detail {
		p {
			&.grey-small {
				color: grey;

				&.margin-bottom-custom {
					margin-bottom: 0.4rem;
				}
			}

			&.black-bold-title {
				margin-bottom: 0;
				font-weight: 700;
				font-size: 1.2em;
			}
		}
	}

	img {
		&.image-kost {
			width: 100%;
			height: 95px;
			object-fit: cover;
			border-radius: 5px;
		}
	}
}

.wrapper-footer {
	.btn-update-custom {
		width: 100%;
		height: 60px;
		font-weight: 700;
	}
}
</style>
