<template>
	<div class="manage-booking-categories">
		<swiper :options="swiperOptions">
			<swiper-slide
				v-for="(category, i) in dataCategories"
				:key="`${i}-${category.label}`"
				class="category-swiper-item"
			>
				<p-check
					v-model="category.value"
					class="p-icon p-plain"
					:disabled="toggleAll && i === 0"
					toggle
					@change="categoriesChange(i)"
				>
					<div slot="extra" class="item-categories active">
						{{ category.label }}
					</div>

					<div slot="off-extra" class="item-categories non-active">
						{{ category.label }}
					</div>
				</p-check>
			</swiper-slide>
		</swiper>
		<div class="category-swiper-button">
			<button
				slot="button-prev"
				type="button"
				class="category-swiper-button__prev"
			>
				<i
					class="category-swiper-button__icon mamikos-icon icon-chevron-right --reversed"
				/>
			</button>
			<button
				slot="button-next"
				type="button"
				class="category-swiper-button__next"
			>
				<i
					class="category-swiper-button__icon mamikos-icon icon-chevron-right"
				/>
			</button>
		</div>
	</div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import 'swiper/dist/css/swiper.css';
import PrettyCheck from 'pretty-checkbox-vue/check';
import 'pretty-checkbox/src/pretty-checkbox.scss';

import MixinMamipayBooking from '../../mixins/MixinMamipayBooking';

import EventBus from '../../event-bus/event-bus';

export default {
	components: {
		'p-check': PrettyCheck,
		swiper,
		swiperSlide
	},

	mixins: [MixinMamipayBooking],

	data() {
		return {
			dataCategories: [
				{
					label: 'Semua',
					value: true,
					idCategories: 0
				},
				{
					label: 'Butuh Konfirmasi',
					value: false,
					idCategories: 1
				},
				{
					label: 'Tunggu Pembayaran',
					value: false,
					idCategories: 2
				},
				{
					label: 'Terbayar',
					value: false,
					idCategories: 3
				},
				{
					label: 'Pembayaran Diterima',
					value: false,
					idCategories: 6
				},
				{
					label: 'Sewa Berakhir',
					value: false,
					idCategories: 8
				},
				{
					label: 'Anda Tolak',
					value: false,
					idCategories: 4
				},
				{
					label: 'Dibatalkan',
					value: false,
					idCategories: 5
				},
				{
					label: 'Kedaluwarsa',
					value: false,
					idCategories: 7
				}
			],
			swiperOptions: {
				slidesPerView: 'auto',
				spaceBetween: 16,
				navigation: {
					nextEl: '.category-swiper-button__next',
					prevEl: '.category-swiper-button__prev'
				}
			}
		};
	},

	computed: {
		toggleAll() {
			return this.dataCategories[0].value;
		},
		toggleNeedConfirmation() {
			return this.dataCategories[1].value;
		},
		toggleWaitingPayment() {
			return this.dataCategories[2].value;
		},
		togglePaid() {
			return this.dataCategories[3].value;
		},
		togglePaidGet() {
			return this.dataCategories[4].value;
		},
		toggleRentOver() {
			return this.dataCategories[5].value;
		},
		toggleReject() {
			return this.dataCategories[6].value;
		},
		toggleCancel() {
			return this.dataCategories[7].value;
		},
		toggleExpired() {
			return this.dataCategories[8].value;
		},
		dataCategorie() {
			return this.dataCategories;
		}
	},

	mounted() {
		const evtParams = {
			offset: 0,
			group: this.generateParameterString(),
			callback: this.reconditionToggleTo
		};

		this.activateToggleEventFor('All', {
			...evtParams,
			callbackParams: 'All'
		});

		this.activateToggleEventFor('Reject', {
			...evtParams,
			callbackParams: 'Reject'
		});

		const showNeedConfirmation =
			this.$route.query.status &&
			this.$route.query.status === 'need_confirmation';
		if (showNeedConfirmation) {
			this.dataCategories[1].value = true;
			this.dataCategories[0].value = false;
			this.categoriesChange(1);
		}
	},

	methods: {
		activateToggleEventFor(status, bookingListParams) {
			EventBus.$on(`activeToggle${status}`, () => {
				if (status === 'Reject') {
					bookingListParams.group = '&group[]=4';
				}
				this.getBookingList(bookingListParams);
				EventBus.$emit('showBookingList');
				EventBus.$emit('showFilterCategories', true);
			});
		},

		categoriesChange(toggleIndex) {
			const falseToggleCondition = currentValue => !currentValue;

			const toggleValues = [
				this.toggleAll,
				this.toggleNeedConfirmation,
				this.toggleWaitingPayment,
				this.togglePaid,
				this.togglePaidGet,
				this.toggleRentOver,
				this.toggleReject,
				this.toggleCancel,
				this.toggleExpired
			];

			const params = {
				offset: 0,
				callback: this.reconditionToggle
			};

			const otherCondition =
				toggleValues.every(falseToggleCondition) || toggleIndex === 0;

			if (this.isAllToggleActive() || otherCondition) {
				if (otherCondition) this.reconditionToggleTo('All');
				params.callback = this.reconditionToggleTo;
				params.callbackParams = 'All';
			} else {
				this.reconditionToggle();
			}

			this.generateParameterString();
			this.getBookingList(params, true);
			this.setNumberPaginationToFirst();
		},
		setNumberPaginationToFirst() {
			this.$store.commit('setBookingSelectedNumberPagination', 1);
		},
		generateParameterString() {
			let stringParameter = '';
			this.dataCategorie.forEach(categories => {
				if (categories.value) {
					stringParameter = `${stringParameter}&group[]=${categories.idCategories}`;
				}
			});
			this.$store.commit('setSearchBookingGroup', stringParameter);
			return stringParameter;
		},

		reconditionToggleTo(status) {
			const [
				toggleAll,
				toggleNeedConfirmation,
				toggleWaitingPayment,
				togglePaid,
				togglePaidGet,
				toggleRentOver,
				toggleReject,
				toggleCancel,
				toggleExpired
			] = this.dataCategories;

			toggleAll.value = status === 'All';
			toggleNeedConfirmation.value = false;
			toggleWaitingPayment.value = false;
			togglePaid.value = false;
			togglePaidGet.value = false;
			toggleRentOver.value = false;
			toggleReject.value = status === 'Reject';
			toggleCancel.value = false;
			toggleExpired.value = false;

			this.generateParameterString();
		},
		isAllToggleActive() {
			return (
				this.toggleNeedConfirmation &&
				this.toggleWaitingPayment &&
				this.togglePaid &&
				this.togglePaidGet &&
				this.toggleRentOver &&
				this.toggleReject &&
				this.toggleCancel &&
				this.toggleExpired &&
				!this.toggleAll
			);
		},
		isThereToggleSelected() {
			return (
				(this.toggleNeedConfirmation ||
					this.toggleWaitingPayment ||
					this.togglePaid ||
					this.togglePaidGet ||
					this.toggleRentOver ||
					this.toggleReject ||
					this.toggleCancel ||
					this.toggleExpired) &&
				this.toggleAll
			);
		},
		reconditionToggle() {
			const [toggleAll] = this.dataCategories;
			if (this.isThereToggleSelected()) {
				toggleAll.value = false;
			} else if (this.isAllToggleActive()) {
				this.reconditionToggleTo('All');
			}
		}
	}
};
</script>

<style lang="scss">
.manage-booking-categories {
	.pretty {
		margin-right: 0;
	}

	// stylelint-disable-next-line
	.pretty .state label {
		display: none;
	}

	.category-swiper-item {
		width: auto;

		&:hover {
			.item-categories {
				background-color: #f6f6f6;
			}
		}
	}

	.category-swiper-button {
		> .swiper-button-disabled {
			color: #bbb !important;
		}
	}
}
</style>

<style lang="scss" scoped>
.manage-booking-categories {
	position: relative;

	.category-swiper-button {
		position: absolute;
		top: -54px;
		right: 0;
		display: flex;

		> * {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			min-width: 32px;
			height: 32px;
			color: #404040;
			background: #fff;
			border: 1px solid #e8e8e8;
			border-radius: 50%;

			&:focus,
			&:active {
				outline: none;
			}

			&:last-of-type {
				margin-left: 16px;
			}
		}

		&__icon {
			font-size: 26px;
			line-height: 1;

			&.--reversed {
				margin-top: -2px;

				// stylelint-disable-next-line
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}

	.item-categories {
		padding: 6px 12px;
		font-size: 14px;
		line-height: 20px;
		color: #404040;
		border: 1px solid #e8e8e8;
		border-radius: 20px;

		&.active {
			border-color: #404040;
		}
	}
}
</style>
