<template>
	<div class="manage-booking-list-card">
		<div
			v-if="bookingData.managed_by_label"
			class="manage-booking-list-card__managed-by-label"
		>
			{{ bookingData.managed_by_label }}
		</div>
		<div class="manage-booking-list-card__header">
			<div class="header__status-label">
				<manage-booking-status-handle
					:status-booking="bookingData.status"
					:status-label="bookingData.status_label"
				/>
				<flash-sale-label v-if="bookingData.is_flash_sale" />
			</div>
			<div class="header__warning-text">
				<manage-booking-due-date
					:status="bookingData.status"
					:due-date="bookingData.confirm_expired_date"
				/>
			</div>
		</div>
		<div class="manage-booking-list-card__body">
			<div class="card-body__left">
				<div class="tenant-avatar">
					<img
						v-lazy="{ src: tenantAvatar, error: defaultTenantAvatar }"
						class="tenant-avatar__image"
						:alt="bookingData.photo ? 'tenant avatar' : 'tenant avatar default'"
					/>
				</div>
				<div class="card-body__room-info">
					<h5 class="tenant-name text-ellipsis">
						{{ bookingData.name }}
					</h5>
					<div class="room-info__property-name content-text text-ellipsis">
						{{ bookingData.room_name }}
					</div>
					<div class="room-info__room-name">
						<span class="content-text-bold">{{ roomName }}</span>
						<span v-if="isGoldPlus" class="goldplus-label"> GoldPlus </span>
					</div>
					<button
						class="room-info__see-more btn btn-flat"
						@click="$emit('view-detail-clicked', bookingData)"
					>
						Lihat Detail
					</button>
				</div>
			</div>
			<div class="card-body__booking-info">
				<div class="booking-info__checkin">
					<div class="content-text">Mulai Sewa:</div>
					<div class="content-text-bold">{{ checkinDate || '-' }}</div>
				</div>
				<div class="booking-info__checkout">
					<div class="content-text">Durasi Sewa:</div>
					<div class="content-text-bold">{{ bookingData.duration || '-' }}</div>
				</div>
				<manage-booking-action-button
					class="booking-info__action-button"
					:booking-data="bookingData"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import _get from 'lodash/get';
import ManageBookingStatusHandle from './ManageBookingStatusHandle';
import ManageBookingDueDate from './ManageBookingDueDate';
import ManageBookingActionButton from './ManageBookingActionButton';
import FlashSaleLabel from 'Js/_booking/flash-sale/FlashSaleLabel';

import MixinBookingRoom from '../../mixins/MixinBookingRoom';

export default {
	components: {
		ManageBookingStatusHandle,
		ManageBookingDueDate,
		ManageBookingActionButton,
		FlashSaleLabel
	},

	mixins: [MixinBookingRoom],

	props: {
		bookingData: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			defaultTenantAvatar: '/general/img/pictures/default-user-image.png'
		};
	},

	computed: {
		tenantAvatar() {
			return _get(this.bookingData, 'photo.medium') || this.defaultTenantAvatar;
		},
		checkinDate() {
			const checkinDate = _get(this.bookingData, 'checkin_date');
			if (!!checkinDate && this.$dayjs(checkinDate).isValid()) {
				return this.$dayjs(checkinDate).format('D MMMM YYYY');
			}
			return '';
		},
		roomName() {
			if (this.bookingData.room_allotment) {
				const { name, floor } = this.bookingData.room_allotment;
				let roomName = name;
				if (floor) {
					roomName += ` ${floor}`;
				}
				return roomName;
			} else if (this.bookingData.room_number) {
				const {
					room_number: roomNumber,
					room_floor: roomFloor
				} = this.bookingData;
				let roomName = 'Kamar ' + this.sanitizeStr(roomNumber, 'kamar');
				if (roomFloor) {
					roomName += ` Lantai ${this.sanitizeStr(roomFloor, 'lantai')}`;
				}
				return roomName;
			} else if (this.isStatusNotConfirmed) {
				return 'Kamar Belum Dikonfirmasi';
			}
			return 'Kamar Pilih di Tempat';
		},
		isStatusNotConfirmed() {
			return ['booked', 'cancelled', 'rejected', 'expired'].includes(
				this.bookingData.status
			);
		},
		isGoldPlus() {
			return _get(this.bookingData, 'room_allotment.is_gold_plus', false);
		}
	}
};
</script>

<style lang="scss" scoped>
.manage-booking-list-card {
	margin-bottom: 28px;
	background-color: #fff;
	border: 1px solid #f6f6f6;
	border-radius: 16px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		box-sizing: content-box;
		padding: 24px 24px 16px;
		border-bottom: 1px solid #e8e8e8;
	}

	&__managed-by-label {
		position: relative;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: 29px;
		padding: 4px 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		color: #757575;
		text-align: center;
		background: #f6f6f6;
	}

	.header {
		&__status-label {
			display: flex;
			align-items: center;

			> *:not(:first-child) {
				margin-left: 24px;
			}
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		padding: 16px 24px 24px;
	}

	.card-body {
		&__left {
			display: flex;
			justify-content: flex-start;
			padding-right: 16px;
		}

		&__booking-info {
			display: flex;
			width: 60%;
			justify-content: space-between;
			flex-shrink: 0;
			margin-top: 36px;
		}
	}

	.room-info {
		&__see-more {
			margin-top: 24px;
		}

		&__room-name {
			display: flex;
			align-items: flex-end;
			margin-top: 8px;

			> *:first-of-type {
				margin-top: 0;
				word-break: break-word;
			}

			> .goldplus-label {
				flex-shrink: 0;
				padding: 2px 8px;
				font-size: 12px;
				line-height: 18px;
			}
		}
	}

	.booking-info {
		&__action-button {
			flex-shrink: 0;
			width: 208px;
		}
	}

	.tenant-avatar {
		flex-shrink: 0;
		margin-right: 16px;

		&__image {
			width: 48px;
			min-width: 48px;
			height: 48px;
			object-fit: cover;
			object-position: center;
			background-color: #e8e8e8;
			border-radius: 50%;
		}
	}

	.tenant-name {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 20px;
		font-weight: 900;
		line-height: 28px;
	}

	.content-text-bold {
		margin-top: 4px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #404040;
	}

	.content-text {
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		color: #949494;
	}

	.text-ellipsis {
		max-width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (max-width: 1366px) {
			max-width: 216px;
		}
	}

	.btn {
		box-sizing: border-box;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		border-radius: 4px;
	}

	.btn-flat {
		height: auto;
		padding: 0;
		font-weight: bold;
		color: #1baa56;
		background-color: transparent;
		border: 0;

		&:active {
			box-shadow: none;
		}
	}
}
</style>
