<template>
	<div class="tenant-info-list">
		<div>
			<div class="information-box">
				<img
					src="/general/img/icons/ic_renter_kos_black.svg"
					alt="icon renter kos"
				/>
				<span class="label-information">Jumlah Penyewa:</span>
				<span class="content-information">
					<ul class="content-list">
						<li>
							<span>{{ bookingDetail.total_renter }} penyewa</span>
						</li>
						<li v-if="bookingDetail.is_married">
							<span>Pasangan Suami Istri</span>
						</li>
					</ul>
				</span>
			</div>
		</div>

		<div>
			<div class="information-box">
				<img src="/general/img/icons/ic_account_black.svg" alt="icon account" />
				<span class="label-information">Profil Penyewa:</span>
				<span class="content-information">
					<ul class="content-list">
						<li v-if="tenantGender">
							<span>{{ tenantGender }}</span>
						</li>
						<li>
							<span>
								{{ bookingDetail.marital_status || 'Belum Kawin' }}
							</span>
						</li>
						<li v-if="tenantJob">
							{{ tenantJob }}
						</li>
						<li>
							<span v-if="isStatusSuccessOrVerified">
								<a :href="`mailto:${bookingDetail.email}`">
									{{ bookingDetail.email || '-' }}
								</a>
							</span>
							<span v-else>{{ bookingDetail.email || '-' }}</span>
						</li>
					</ul>
				</span>
			</div>
		</div>

		<div>
			<div class="information-box">
				<img src="/general/img/icons/ic_contact_black.svg" alt="icon contact" />
				<span class="label-information">Kontak Penanggung Jawab:</span>
				<span class="content-information">
					<ul class="content-list">
						<li>
							<span>{{ bookingDetail.parent_name || '-' }}</span>
						</li>
						<li>
							<span>
								{{
									maskingPhoneNumber(bookingDetail.parent_phone_number) || '-'
								}}
							</span>
						</li>
						<li v-if="!isStatusPaidOrVerified">
							<mami-info
								class="tenant-phone-disclaimer"
								variant="info"
								alignment="top"
								is-rounded
							>
								Nomor Handphone akan muncul setelah penyewa membayar
							</mami-info>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</template>

<script>
const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		MamiInfo
	},

	props: {
		bookingDetail: {
			type: Object,
			required: true
		},
		isStatusSuccessOrVerified: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		tenantGender() {
			const { gender } = this.bookingDetail;
			if (typeof gender === 'number') {
				return gender === 2 ? 'Perempuan' : 'Laki-Laki';
			} else {
				return gender;
			}
		},
		tenantJob() {
			const { job, work_place: workPlace } = this.bookingDetail;
			return workPlace ? `${job} - ${workPlace}` : job;
		},
		isStatusPaidOrVerified() {
			return ['paid', 'verified'].includes(this.bookingDetail.status);
		}
	},

	methods: {
		maskingPhoneNumber(phoneNumber) {
			return this.isStatusSuccessOrVerified
				? phoneNumber
				: phoneNumber.replace(/\d{3}$/g, 'XXX');
		}
	}
};
</script>

<style lang="scss" scoped>
.tenant-info-list {
	.information-box {
		padding: 32px 0;
		border-top: 1px solid #e8e8e8;

		span {
			display: block;
			&.label-information {
				display: block;
				margin: 4px 0;
				font-size: 16px;
				font-weight: bold;
				line-height: 24px;
			}

			&.content-information {
				ul.content-list {
					padding: 0;
					li {
						list-style: none;
						display: flex;
						margin-bottom: 4px;
						> span {
							width: fit-content;
							display: block;
						}
					}
				}
			}
		}
	}

	.phone-tooltip {
		margin-left: 6px;
	}
}
</style>
