<template>
	<mami-modal-wrap
		id="manageModalDialog"
		:show-modal="showModal"
		@close="closeModal"
	>
		<div class="modal-title">
			<span>{{ modalTitle }}</span>
		</div>

		<div class="modal-caption">
			<span>{{ modalCaption }}</span>
		</div>

		<div class="modal-action">
			<button type="button" class="btn btn-success" @click="rejectAction">
				{{ rejectText }}
			</button>

			<button type="button" class="btn btn-primary" @click="confirmAction">
				{{ confirmText }}
			</button>
		</div>
	</mami-modal-wrap>
</template>

<script>
const MamiModalWrap = () => import('Js/@components/MamiModalWrap');

export default {
	components: {
		MamiModalWrap
	},

	props: {
		showModal: {
			type: Boolean,
			required: true
		},
		modalTitle: {
			type: String,
			default: ''
		},
		modalCaption: {
			type: String,
			default: ''
		},
		rejectText: {
			type: String,
			default: 'Tidak'
		},
		confirmText: {
			type: String,
			default: 'Ya'
		}
	},

	methods: {
		closeModal() {
			this.$emit('close');
		},
		rejectAction() {
			this.$emit('reject');
		},
		confirmAction() {
			this.$emit('confirm');
		}
	}
};
</script>

<style lang="scss">
#manageModalDialog {
	&.modal {
		.modal-dialog {
			margin-top: calc(50vh - 128px);
			margin-bottom: 0;
		}
	}

	&.modal.in {
		display: flex !important;
		align-items: center;
		justify-content: center;

		.modal-dialog {
			margin: 0;
		}
	}

	.modal-header,
	.modal-footer {
		display: none;
	}

	.modal-content {
		border-radius: 8px;
	}

	.modal-button-close {
		margin-top: 0;
	}

	.modal-body {
		padding: 16px;
	}

	.modal-action {
		margin-top: 16px;
		margin-bottom: 0;
	}

	.btn-close-filter {
		color: #999;
		display: flex;
		align-items: center;
		padding: 2px;

		&.has-text {
			&:after {
				display: none;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.modal-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 16px;
}

.modal-action {
	margin-top: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;

	button {
		width: 48%;
		height: 48px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;

		&.btn-success {
			border: 0;
		}
	}
}
</style>
