<template>
	<div class="about-us-info row" :class="{ 'reverse-col': isReverse }">
		<div class="col col-xs-12 col-sm-6">
			<div class="about-us-info-image">
				<img v-lazy="content.imageUrl" :alt="content.title" />
			</div>
		</div>
		<div class="col col-xs-12 col-sm-6">
			<about-us-info-description
				:title="content.title"
				:description="content.description"
			></about-us-info-description>
		</div>
	</div>
</template>

<script>
import AboutUsInfoDescription from './AboutUsInfoDescription';

export default {
	name: 'AboutUsInfo',
	components: {
		AboutUsInfoDescription
	},
	props: {
		isReverse: {
			type: Boolean,
			default: false
		},
		content: {
			type: Object,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.about-us-info {
	margin-top: 10rem;
	display: flex;

	.col {
		display: flex;
		align-items: center;
	}

	&.reverse-col {
		flex-direction: row-reverse;

		.col {
			float: right;
		}
	}

	.about-us-info-image {
		width: 100%;

		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.about-us-info {
		margin-top: 4rem;
		flex-direction: column;

		&.reverse-col {
			flex-direction: column;
		}
	}
}
</style>
