<template>
	<div class="about-us-info-description">
		<h2 v-text="title"></h2>
		<p v-text="description"></p>
	</div>
</template>

<script>
export default {
	name: 'AboutUsInfoDescription',
	props: {
		title: {
			type: String,
			required: true
		},
		description: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.about-us-info-description {
	h2 {
		font-size: 42px;
		margin-bottom: 2rem;
		line-height: 1.5;
		font-weight: bold;
	}

	p {
		font-size: 18px;
		line-height: 2.5;
	}

	@media screen and (max-width: 991px) {
		p {
			line-height: 2;
		}
	}

	@media screen and (max-width: 767px) {
		h2 {
			font-size: 32px;
		}

		p {
			font-size: 14px;
		}
	}
}
</style>
