<template>
	<mami-footer
		id="about-us-footer"
		:is-show-download-card="false"
		has-contact-us-label
		is-about-us-page
	></mami-footer>
</template>

<script>
import MamiFooter from 'Js/@components/MamiFooter2.vue';
export default {
	name: 'AboutUsFooter',
	components: {
		MamiFooter
	}
};
</script>

<style lang="scss">
#about-us-footer {
	padding-top: 15rem;
	background-image: url('/general/img/pictures/green-background-footer.svg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	a,
	.link-footer > span {
		color: white;
	}

	.link-footer {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding-top: 4rem;
		padding-bottom: 3.2rem;
	}

	.social-footer {
		display: flex;
		align-items: center;

		> a {
			&:nth-of-type(2) {
				.icon-social-footer {
					margin: 0 6.4rem;
					height: 32px;
				}

				@media screen and (max-width: 372px) {
					.icon-social-footer {
						margin: 0 4.4rem;
					}
				}
			}

			.icon-social-footer {
				height: 34px;

				&:not(:last-of-type) {
					margin-right: 6.4rem;
				}
			}
		}
	}

	.contact-footer {
		padding-top: 0;

		> .contact-footer-label {
			margin-right: 1.3rem;
			font-size: 14px;
			line-height: 1;
			font-weight: bold;
			margin-top: 1.3rem;
		}

		> .contact-footer-action {
			a {
				color: #fff;
				font-weight: bold;
				font-size: 12px;

				h3 {
					margin-top: 1.3rem;
					line-height: 2;
				}

				.icon-contact-footer {
					height: 18px;
					margin-right: 0.2rem;
				}

				&:not(:last-of-type) {
					margin-right: 1.5rem;
				}
			}
		}

		@media screen and (max-width: 340px) {
			> .contact-footer-label {
				margin-right: 0;
			}

			> .contact-footer-action {
				a {
					&:not(:last-of-type) {
						margin-right: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 2000px) {
	#about-us-footer {
		padding-top: 18rem;
	}
}
</style>
