<template>
	<div id="aboutUsMamikos">
		<navbar-custom
			:navigations="navigations"
			:show-promotion="true"
			:has-chat-menu="true"
			:is-show-download-button="false"
		></navbar-custom>

		<about-us-header></about-us-header>

		<div class="about-us-info-container container">
			<about-us-info
				v-for="(content, i) in aboutMamikos"
				:key="i"
				:content="content"
				:is-reverse="i === 1"
			></about-us-info>
		</div>
		<about-us-footer></about-us-footer>
	</div>
</template>

<script>
import AboutUsHeader from './AboutUsHeader';
import AboutUsInfo from './AboutUsInfo';
import AboutUsFooter from './AboutUsFooter';

const NavbarCustom = () => import('Js/@components/NavbarCustom');

export default {
	components: {
		NavbarCustom,
		AboutUsHeader,
		AboutUsInfo,
		AboutUsFooter
	},
	data() {
		return {
			aboutMamikos: [
				{
					imageUrl: '/general/img/pictures/about-us/about_us_kost_info.svg',
					title: 'Informasi Data Kos Yang Lengkap',
					description:
						'Mamikos memanfaatkan teknologi dengan mengelola dan menyajikan daftar kos dengan penjelasan fasilitas secara terperinci dan dilengkapi dengan foto serta detail dari setiap kos. Kami memiliki tim Mamichecker, yang tugasnya mengecek dan membuat profil setiap properti. Temukan properti dengan tanda Mamichecker sebagai properti yang sudah dicek oleh tim kami!'
				},
				{
					imageUrl:
						'/general/img/pictures/about-us/about_us_kost_connector.svg',
					title: 'Penghubung Pemilik dan Pencari Kos',
					description:
						'Mamikos telah menghubungkan lebih dari 110 ribu pemilik kos dengan 6-8 juta pencari kos setiap bulannya, untuk memberikan akomodasi yang lebih baik. Inovasi yang kami lakukan bertujuan untuk memberikan kenyamanan dan kemudahan bagi penyewa dan pemilik kos.'
				},
				{
					imageUrl: '/general/img/pictures/about-us/about_us_kost_data.svg',
					title: 'Data Kos Seluruh Indonesia',
					description:
						'Saat ini kami memiliki lebih dari 2 juta kamar kos yang tersebar di lebih dari 140 kota di seluruh Indonesia. Mamikos berusaha untuk bisa terus menyajikan data ketersediaan kamar yang akurat, agar calon penghuni mendapatkan kemudahan dalam pencarian kos.'
				}
			],
			navigations: [
				{ name: 'Cari kost', url: '/cari' },
				{ name: 'Cari apartemen', url: '/apartemen' },
				{ name: 'Cari lowongan kerja', url: '/loker' }
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.about-us-info-container {
	margin-bottom: 10rem;
}
</style>
