<template>
	<div>
		<landing-navbar
			:target="'#networkKost'"
			:label="'Daftar Gratis'"
		></landing-navbar>
		<standard-section-one></standard-section-one>
		<standard-section-two></standard-section-two>
		<standard-section-three></standard-section-three>
		<standard-section-four></standard-section-four>
	</div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>