<template>
	<div class="container-section-four">
		<div class="hidden-xs hidden-sm">
			<div class="section-title">
				<div class="d-flex justify-content-center">
					<span>Proses Bergabung di</span>
				</div>
				<div class="d-flex justify-content-center">
					<span>Mamikos Kost-Network</span>
				</div>
				<div class="d-flex justify-content-center"><hr class="line" /></div>
			</div>
			<div class="process-content d-flex flex-wrap col-12">
				<div class="process-list col-md-12 col-lg-2 offset-lg-1">
					<div class="process-heading d-flex align-items-center">
						<span class="process-number">01</span>
						<span class="process-title">Daftar</span>
					</div>
					<div class="process-desc">
						<p>
							Daftarkan kost anda di dalam MAMIKOS network, atau apabila anda
							ingin berinvestasi dari awal daftarkan nama dan kontak anda.
						</p>
					</div>
				</div>
				<div class="process-list col-md-12 col-lg-2">
					<div class="process-heading d-flex align-items-center">
						<span class="process-number">02</span>
						<span class="process-title">Evaluasi</span>
					</div>
					<div class="process-desc">
						<p>
							MAMIKOS akan meninjau properti anda baik yang sudah dalam bentuk
							kost maupun masih dalam bentuk tanah maupun bangunan yang akan
							direnovasi. Kami akan mengevaluasi layanan yang sudah ada atau
							properti anda dan merumuskan proposal perhitungan investasi anda.
						</p>
					</div>
				</div>
				<div class="process-list col-md-12 col-lg-2">
					<div class="process-heading d-flex align-items-center">
						<span class="process-number">03</span>
						<span class="process-title">Proposal</span>
					</div>
					<div class="process-desc">
						<p>
							MAMIKOS akan mengajukan proposal investasi kost beserta proyeksi
							dan jaminan pendapatan 3 tahun. Apabila disetujui akan dilakukan
							perjanjian.
						</p>
					</div>
				</div>
				<div class="process-list col-md-12 col-lg-2">
					<div class="process-heading d-flex align-items-center">
						<span class="process-number">04</span>
						<span class="process-title">Perbaikan</span>
					</div>
					<div class="process-desc">
						<p>Pasca perjanjian, perbaikan kost dilaksanakan sesuai jadwal.</p>
					</div>
				</div>
				<div class="process-list col-md-12 col-lg-2">
					<div class="process-heading d-flex align-items-center">
						<span class="process-number">05</span>
						<span class="process-title">Launching</span>
					</div>
					<div class="process-desc">
						<p>Pasca perbaikan, MAMIKOS akan segera memasarkan kost anda.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-section hidden-md hidden-lg hidden-xl">
			<div class="section-title-xs">
				<div><span>Proses Bergabung di</span></div>
				<div><span>Mamikos Kost-Network</span></div>
				<div><hr class="line" /></div>
			</div>
			<b-carousel
				id="carouselSection"
				controls
				indicators
				background="#fff"
				:interval="4000"
				img-width="1024"
				img-height="480"
				v-model="slide"
				@sliding-start="onSlideStart"
				@sliding-end="onSlideEnd"
			>
				<b-carousel-slide img-blank img-alt="Blank image">
					<div class="process-list col-md-12 col-lg-2 offset-lg-1">
						<div class="process-heading d-flex align-items-center">
							<span class="process-number">01</span>
							<span class="process-title">Daftar</span>
						</div>
						<div class="process-desc">
							<p>
								Daftarkan kost anda di dalam MAMIKOS network, atau apabila anda
								ingin berinvestasi dari awal daftarkan nama dan kontak anda.
							</p>
						</div>
					</div>
				</b-carousel-slide>

				<b-carousel-slide img-blank img-alt="Blank image">
					<div class="process-list col-md-12 col-lg-2">
						<div class="process-heading d-flex align-items-center">
							<span class="process-number">02</span>
							<span class="process-title">Evaluasi</span>
						</div>
						<div class="process-desc">
							<p>
								MAMIKOS akan meninjau properti anda baik yang sudah dalam bentuk
								kost maupun masih dalam bentuk tanah maupun bangunan yang akan
								direnovasi. Kami akan mengevaluasi layanan yang sudah ada atau
								properti anda dan merumuskan proposal perhitungan investasi
								anda.
							</p>
						</div>
					</div>
				</b-carousel-slide>

				<b-carousel-slide img-blank img-alt="Blank image">
					<div class="process-list col-md-12 col-lg-2">
						<div class="process-heading d-flex align-items-center">
							<span class="process-number">03</span>
							<span class="process-title">Proposal</span>
						</div>
						<div class="process-desc">
							<p>
								MAMIKOS akan mengajukan proposal investasi kost beserta proyeksi
								dan jaminan pendapatan 3 tahun. Apabila disetujui akan dilakukan
								perjanjian.
							</p>
						</div>
					</div>
				</b-carousel-slide>

				<b-carousel-slide img-blank img-alt="Blank image">
					<div class="process-list col-md-12 col-lg-2">
						<div class="process-heading d-flex align-items-center">
							<span class="process-number">04</span>
							<span class="process-title">Perbaikan</span>
						</div>
						<div class="process-desc">
							<p>
								Pasca perjanjian, perbaikan kost dilaksanakan sesuai jadwal.
							</p>
						</div>
					</div>
				</b-carousel-slide>

				<b-carousel-slide img-blank img-alt="Blank image">
					<div class="process-list col-md-12 col-lg-2">
						<div class="process-heading d-flex align-items-center">
							<span class="process-number">05</span>
							<span class="process-title">Launching</span>
						</div>
						<div class="process-desc">
							<p>Pasca perbaikan, MAMIKOS akan segera memasarkan kost anda.</p>
						</div>
					</div>
				</b-carousel-slide>
			</b-carousel>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			slide: 0,
			sliding: null
		};
	},
	methods: {
		onSlideStart(slide) {
			this.sliding = true;
		},
		onSlideEnd(slide) {
			this.sliding = false;
		}
	}
};
</script>

<style scoped>
.container-section-four {
	padding: 3em 1em;
}
.section-title span {
	color: #2d482d;
	font-size: 2em;
	font-weight: bold;
}
.section-title-xs {
	color: #2d482d;
	font-weight: bold;
	font-size: 1.25em;
	text-align: center;
}
.process-content {
	margin-top: 2em;
}
.process-number {
	color: #1baa56;
	font-weight: bold;
	font-size: 1.5em;
}
.process-title {
	color: #000;
	font-weight: bold;
	padding-left: 0.5em;
}
.process-desc {
	color: #323232;
	font-size: 0.875em;
}
.line {
	border-top: 0.2em solid #2d482d;
	width: 4em;
}

@media (max-width: 389px) {
	.section-title-xs {
		padding-bottom: 2em;
	}
}
@media (max-width: 575.98px) {
	.container-section-four {
		padding-top: 1em;
	}
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
	.section-title-xs {
		text-align: center;
		padding-bottom: 0;
	}
	.process-list {
		margin-bottom: 2em;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.container-section-four {
		padding-left: 2em;
		padding-right: 2em;
	}
}
</style>

<style>
.carousel-section .carousel {
	margin-top: 3em;
}
.carousel-section .carousel-caption {
	text-align: left;
	height: 100%;
	padding-bottom: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.carousel-section .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2325ab25' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-section .carousel-indicators .active {
	background-color: #1baa56;
}
.carousel-section .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2325ab25' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-section .carousel-indicators {
	top: 12.5em;
}
.carousel-section .carousel-indicators li {
	background-color: #ccc;
}
.carousel-section .carousel-inner {
	overflow: visible;
}
.carousel-section .carousel-control-prev,
.carousel-section .carousel-control-next {
	top: -4.5em;
}

@media (max-width: 575.98px) {
	.carousel-secction .carousel-indicators {
		margin-bottom: 1em;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.carousel-section .carousel-caption {
		padding-top: 0;
	}
}
</style>
