<template>
	<div class="container-section-three col-12" id="networkKost">
		<div class="section-title">
			<div>
				<span class="form-title-pre">Bergabung Menjadi Bagian dari</span>
			</div>
			<div><span class="form-title">Mamikos Kost - Network</span></div>
		</div>
		<div class="section-form col-12 d-flex justify-content-center">
			<b-form @submit.prevent="submitKostNetwork">
				<b-form-group>
					<b-form-input
						id="inputName"
						name="Nama Lengkap"
						type="text"
						required
						placeholder="Nama Lengkap"
						v-model="name"
						v-validate="'required|min:3'"
					>
					</b-form-input>
					<span
						v-show="errors.has('Nama Lengkap')"
						class="text-danger mini-danger"
						>{{ errors.first('Nama Lengkap') }}</span
					>
				</b-form-group>

				<b-form-group>
					<b-form-input
						id="inputPhone"
						name="Nomor Handphone"
						type="tel"
						required
						placeholder="Nomor Handphone"
						v-model="phone"
						v-validate="'required|numeric|min:9|max:15'"
					>
					</b-form-input>
					<span
						v-show="errors.has('Nomor Handphone')"
						class="text-danger mini-danger"
						>{{ errors.first('Nomor Handphone') }}</span
					>
				</b-form-group>

				<b-form-group>
					<b-form-input
						id="inputEmail"
						name="Email"
						type="email"
						required
						placeholder="Email"
						v-model="email"
						v-validate="'required|email'"
					>
					</b-form-input>
					<span v-show="errors.has('Email')" class="text-danger mini-danger">{{
						errors.first('Email')
					}}</span>
				</b-form-group>

				<b-form-group
					label="Pilih Status Anda Saat Ini"
					label-for="inputStatus"
				>
					<b-form-select
						id="inputStatus"
						:options="inputStatus"
						required
						v-model="form.status"
					>
					</b-form-select>
				</b-form-group>

				<b-form-group
					label="Pilih Lokasi Properti Anda"
					label-for="inputAddress"
				>
					<b-form-select
						id="inputAddress"
						:options="address"
						required
						v-model="form.address"
					>
					</b-form-select>
				</b-form-group>

				<b-form-group v-if="form.address == 'Lainnya'">
					<b-form-input
						id="inputAddress"
						name="Lokasi Kost"
						type="text"
						placeholder="Input Lokasi Kost disini..."
						v-model="inputAddress"
						v-validate="'required|min:5|max:200'"
					>
					</b-form-input>
					<span
						v-show="errors.has('Lokasi Kost')"
						class="text-danger mini-danger"
						>{{ errors.first('Lokasi Kost') }}</span
					>
				</b-form-group>

				<b-form-group
					v-if="
						form.status == 'sudah memiliki kost' ||
							form.status == 'sudah memiliki tanah/bangunan bukan kost'
					"
				>
					<b-form-input
						id="inputDetailAddress"
						name="Alamat Detail Kost"
						type="text"
						placeholder="Alamat Detail Kost"
						v-model="urlKost"
						v-validate="'min:10|max:200'"
					>
					</b-form-input>
					<span
						v-show="errors.has('Alamat Detail Kost')"
						class="text-danger mini-danger"
						>{{ errors.first('Alamat Detail Kost') }}</span
					>
				</b-form-group>
				<b-button
					type="submit"
					variant="primary"
					:disabled="
						name == '' || address == '' || phone == '' || email == ''
							? true
							: false
					"
					>DAFTAR SEKARANG</b-button
				>
			</b-form>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			name: '',
			inputAddress: '',
			phone: '',
			email: '',
			urlKost: '',
			form: {
				status: 'sudah memiliki kost',
				address: 'Bali'
			},
			inputStatus: [
				{ value: 'sudah memiliki kost', text: 'Sudah memiliki kost' },
				{
					value: 'sudah memiliki tanah/bangunan bukan kost',
					text: 'Sudah memiliki tanah/bangunan bukan kost'
				},
				{
					value: 'belum memiliki baru mau investasi',
					text: 'Belum memiliki baru mau investasi'
				}
			],
			address: [
				{ value: 'Bali', text: 'Bali' },
				{ value: 'Bandung', text: 'Bandung' },
				{ value: 'Jabodetabek', text: 'Jabodetabek' },
				{ value: 'Jogjakarta', text: 'Jogjakarta' },
				{ value: 'Makassar', text: 'Makassar' },
				{ value: 'Malang', text: 'Malang' },
				{ value: 'Medan', text: 'Medan' },
				{ value: 'Semarang', text: 'Semarang' },
				{ value: 'Surabaya', text: 'Surabaya' },
				{ value: 'Lainnya', text: 'Lainnya...' }
			]
		};
	},
	methods: {
		submitKostNetwork() {
			this.openSwalLoading('Mohon tunggu...', null);
			axios
				.post('/premium/register-network', {
					name: this.name,
					status: this.form.status,
					phone: this.phone,
					email: this.email,
					address: this.form.address,
					'input-address': this.inputAddress,
					'detail-kost': this.urlKost
				})
				.then(response => {
					this.closeSwalLoading();
					if (response.data.status) {
						this.swalSuccessTimer('', 'Data Anda berhasil dikirim', e => {
							location.reload();
						});
					} else {
						this.swalError(
							null,
							'Data gagal terkirim. Silakan ulangi kembali'
						);
						// console.log(response.data.status);
					}
				})
				.catch(error => {
					this.closeSwalLoading();
					bugsnagClient.notify(error);
					alert('Terjadi galat. Silakan coba lagi.');
				});
		}
	}
};
</script>

<style scoped>
.container-section-three {
	background-color: #e7feea;
	padding: 2em;
	padding-top: 5em;
}
.section-title {
	text-align: center;
	font-weight: bold;
}
.section-title .form-title-pre {
	color: #2d482d;
	font-size: 1.25em;
}
.section-title .form-title {
	color: #1baa56;
	font-size: 2em;
}
.section-form {
	padding-top: 1em;
}
.mini-danger {
	font-size: 0.875em;
}

@media (max-width: 575.98px) {
	.container-section-three {
		padding: 1em;
		padding-top: 5em;
	}
	.section-form {
		padding-bottom: 1em;
	}
}
@media (max-width: 767.98px) {
	.section-form {
		padding-left: 0;
		padding-right: 0;
	}
	.section-title .form-title-pre {
		font-size: 1em;
	}
	.section-title .form-title {
		font-size: 1.25em;
	}
}
</style>

<style>
.section-form form {
	width: 40em;
}
.section-form .form-control:focus {
	border: 0.15em solid;
	border-color: #1baa56;
	box-shadow: none;
}
.section-form .form-control::placeholder,
.section-form .form-control::-moz-placeholder {
	font-style: italic;
}
.section-form .btn-primary {
	margin-left: 35%;
	width: 12.5em;
	font-weight: bold;
	color: #fff;
	background-color: #ec4a0c;
	border-color: #ec4a0c;
	border-top-color: rgb(228, 73, 37);
	border-right-color: rgb(228, 73, 37);
	border-bottom-color: rgb(228, 73, 37);
	border-left-color: rgb(228, 73, 37);
	-moz-box-shadow: 3px 3px 3px 3px #f59e80;
	-webkit-box-shadow: 3px 3px 3px 3px #f59e80;
	box-shadow: 3px 3px 3px 3px #f59e80;
}
.section-form .btn-primary:hover,
.section-form .btn-primary:active,
.section-form .btn-primary:focus {
	box-shadow: none;
	background-color: #e04205;
	border-color: #e04205;
}

@media (max-width: 575.98px) {
	.section-form .form-control {
		font-size: 0.875em;
	}
	.section-form .col-form-label {
		font-size: 0.875em;
	}
	.section-form .btn-primary {
		margin-left: 0;
		width: 100%;
	}
}
</style>
