<template>
	<div class="container-section-one d-flex flex-wrap col-12">
		<div class="section-left col-12 col-md-6 col-lg-6 col-lg-6">
			<div class="back-bar-wrapper visible-xs" v-if="isBack">
				<div class="button-wrapper">
					<a @click="goBack">
						<img
							class="back-button"
							src="/general/img/icons/ic_full-arrow-left_s_green.svg"
						/>
					</a>
				</div>
				<div class="logo-konten">
					<a href="/"><img class="logo" src="assets/icons/header.png"/></a>
				</div>
			</div>

			<a v-else href="/"><img src="assets/icons/header.png"/></a>

			<div class="landing-text">
				<span class="heading-pre">Bergabung dengan<br /></span>
				<span class="heading-title">MAMIKOS <br /></span>
				<span class="heading-title">KOST-NETWORK <br /></span>
				<span class="heading-post"
					>Tingkatkan penghasilan kost jadi 3 kali lipat <br />
					dengan MAMIKOS Network</span
				>
			</div>
			<div class="landing-button">
				<button
					type="button"
					class="btn btn-material-orange"
					@click="goToSection('#sectionTwo')"
				>
					LIHAT KEUNTUNGAN
				</button>
			</div>
		</div>
		<div
			class="section-right d-flex align-items-end col-12 col-md-6 col-lg-6 col-lg-6"
			:class="backgroundImage"
		>
			<div class="kost-standard">
				<div class="kost-detail-data" v-if="kostOne">
					<a
						class="kost-title"
						href="https://mamikos.com/room/kost-jakarta-barat-kost-campur-eksklusif-kost-shell-river-tomang-jakarta-barat"
						target="_blank"
						>Kost Shell River - Tomang Jakarta <br
					/></a>
					<div class="kost-stat">
						<span class="chat-count">dihubungi: 894 kali</span>
						<span class="click-count">diklik: 31.417 kali</span>
					</div>
				</div>
				<div class="kost-detail-data" v-if="kostTwo">
					<a
						class="kost-title"
						href="https://mamikos.com/room/kost-sleman-kost-putra-eksklusif-kost-kuning-yogyakarta-1"
						target="_blank"
						>Kost Kuning - Yogyakarta<br
					/></a>
					<div class="kost-stat">
						<span class="chat-count">dihubungi: 1.123 kali</span>
						<span class="click-count">diklik: 27.216 kali</span>
					</div>
				</div>
				<div class="kost-detail-data" v-if="kostThree">
					<a
						class="kost-title"
						href="https://mamikos.com/room/kost-kost-campur-eksklusif-kost-exclusive-btx-31-bintaro-tangerang-selatan"
						target="_blank"
						>Kost Exclusive BTX 31 Bintaro Tangerang Selatan<br
					/></a>
					<div class="kost-stat">
						<span class="chat-count">dihubungi: 909 kali</span>
						<span class="click-count">diklik: 19.098 kali</span>
					</div>
				</div>
				<div class="kost-image" v-lazy-container="{ selector: 'img' }">
					<img
						data-src="assets/landing-standard/kost-shell-river-tomang-jakbar_.jpg"
						:class="activeKostOne"
						@click="clickKost(1)"
					/>
					<img
						data-src="assets/landing-standard/kost-kuning-yogyakarta_.jpg"
						:class="activeKostTwo"
						@click="clickKost(2)"
					/>
					<img
						data-src="assets/landing-standard/kost-eksklusif-btx-31-bintaro_.jpg"
						:class="activeKostThree"
						@click="clickKost(3)"
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			kostOne: true,
			kostTwo: false,
			kostThree: false,
			backgroundImage: 'kost-one',
			activeKostOne: 'kost-image',
			activeKostTwo: 'kost-image',
			activeKostThree: 'kost-image'
		};
	},

	computed: {
		isBack() {
			return document.referrer == '' ||
				document.referrer === document.location.href
				? false
				: true;
		}
	},

	mounted() {
		let kost = 1;
		setInterval(() => {
			this.clickKost(kost);
			if (kost < 3) {
				kost++;
			} else {
				kost = 1;
			}
		}, 3000);
	},
	methods: {
		goBack() {
			window.history.go(-1);
		},
		clickKost(val) {
			if (val == 1) {
				this.kostOne = true;
				this.kostTwo = false;
				this.kostThree = false;
				this.backgroundImage = 'kost-one';
				this.activeKostOne = 'kost-image-active';
				this.activeKostTwo = 'kost-image';
				this.activeKostThree = 'kost-image';
			} else if (val == 2) {
				this.kostOne = false;
				this.kostTwo = true;
				this.kostThree = false;
				this.backgroundImage = 'kost-two';
				this.activeKostOne = 'kost-image';
				this.activeKostTwo = 'kost-image-active';
				this.activeKostThree = 'kost-image';
			} else if (val == 3) {
				this.kostOne = false;
				this.kostTwo = false;
				this.kostThree = true;
				this.backgroundImage = 'kost-three';
				this.activeKostOne = 'kost-image';
				this.activeKostTwo = 'kost-image';
				this.activeKostThree = 'kost-image-active';
			}
		},
		goToSection(target) {
			document.querySelector(target).scrollIntoView({
				behavior: 'smooth',
				block: 'start'
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.back-bar-wrapper {
	display: flex;
	padding: 5% 3.9%;

	.button-wrapper {
		width: 33%;

		@media (max-width: 320px) {
			width: 23%;
		}

		img.back-button {
			width: 20px;
			margin-top: 7px;
			margin-left: 8px;
		}
	}

	.logo-konten {
		img.logo {
			height: 40px;
		}
	}
}
//colors
$color_snowy_mint_approx: #d5fbd4;
$color_everglade_approx: #2d482d;
$color_green_haze_approx: #1baa56;
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$black_90: rgba(0, 0, 0, 0.9);

//urls
$url_0: url(/assets/landing-standard/background.png);
$url_1: url(/assets/landing-standard/kost-shell-river-tomang-jakbar_.jpg);
$url_2: url(/assets/landing-standard/kost-kuning-yogyakarta_.jpg);
$url_3: url(/assets/landing-standard/kost-eksklusif-btx-31-bintaro_.jpg);

%extend_1 {
	background-color: $white;
	color: $color_green_haze_approx;
	font-weight: bold;
	padding: 0.25em;
	margin-right: 0.25em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	border-radius: 0.25em;
}

.container-section-one {
	padding-left: 0;
	padding-right: 0;
	height: 100vh;
}
.section-left {
	height: 100%;
	background-color: $color_snowy_mint_approx;
	background-image: $url_0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 3em;
	padding-right: 0;
	img {
		margin-left: 0.5em;
	}
}
.landing-text {
	margin-top: 4em;
	margin-left: 1.25em;
}
.heading-pre {
	color: $color_everglade_approx;
	font-weight: bold;
	font-size: 1.5em;
}
.heading-post {
	color: $color_everglade_approx;
	font-weight: bold;
	font-size: 1.25em;
}
.heading-title {
	color: $color_green_haze_approx;
	font-size: 3em;
	font-weight: bold;
}
.section-right {
	height: 100%;
	transition: all 0.5s;
}
.landing-button {
	margin-left: 1.25em;
	margin-top: 3em;
	button {
		width: 15em;
	}
}
.kost-standard {
	margin-bottom: 1em;
}
.kost-detail-data {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			text-decoration: none;
			color: $white;
		}
		&:active {
			text-decoration: none;
			color: $white;
		}
		&:focus {
			text-decoration: none;
			color: $white;
		}
	}
}
.kost-title {
	font-weight: bold;
	color: $white;
	font-size: 1.5em;
}
.chat-count {
	@extend %extend_1;
}
.click-count {
	@extend %extend_1;
}
.kost-stat {
	margin-top: 0.5em;
}
.kost-image {
	border: none;
	img {
		width: 8em;
		height: 7em;
		border-radius: 0.6em;
		margin: 0.5em;
		&:hover {
			border: 0.25em solid $color_green_haze_approx;
			cursor: pointer;
		}
		&:active {
			border: 0.25em solid $color_green_haze_approx;
			cursor: pointer;
		}
		&:focus {
			border: 0.25em solid $color_green_haze_approx;
			cursor: pointer;
		}
	}
}
.kost-image-active {
	border: 0.25em solid $color_green_haze_approx;
	cursor: pointer;
}
.kost-one {
	background-image: linear-gradient($black_10, $black_90), $url_1;
	background-position: center;
	background-size: cover;
	transition: opacity 1s ease-in-out;
}
.kost-two {
	background-image: linear-gradient($black_10, $black_90), $url_2;
	background-position: center;
	background-size: cover;
	transition: opacity 1s ease-in-out;
}
.kost-three {
	background-image: linear-gradient($black_10, $black_90), $url_3;
	background-position: center;
	background-size: cover;
	transition: opacity 1s ease-in-out;
}
@media (max-width: 767.98px) {
	.section-left {
		height: 50vh;
		padding-left: 0;
	}
	.section-right {
		height: 50vh;
	}
	.landing-text {
		margin-top: 0;
		margin-top: 0.5em;
	}
	.landing-button {
		margin-top: 0;
		margin-top: 0.5em;
		button {
			font-size: 0.75em;
			width: 11em;
			padding: 0.2rem 0.5rem;
		}
	}
	.heading-pre {
		font-size: 0.875em;
	}
	.kost-title {
		font-size: 0.875em;
	}
	.heading-title {
		font-size: 1.5em;
	}
	.heading-post {
		font-size: 0.75em;
	}
	.chat-count {
		font-size: 0.75em;
	}
	.click-count {
		font-size: 0.75em;
	}
	.kost-image {
		padding-bottom: 0.25em;
		img {
			width: 5em;
			height: 4em;
			margin: 0.25em;
		}
	}
	.kost-detail-data {
		margin-left: 0;
	}
	.kost-standard {
		margin-bottom: 0;
	}
}
@media (min-width: 768px) and(max-width: 991.98px) {
	.heading-title {
		font-size: 2.5em;
	}
	.heading-pre {
		font-size: 1.25em;
	}
	.kost-title {
		font-size: 1.25em;
	}
	.heading-post {
		font-size: 1em;
	}
	.chat-count {
		font-size: 0.875em;
	}
	.click-count {
		font-size: 0.875em;
	}
	.kost-image img {
		width: 6em;
		height: 5em;
	}
}
</style>
