<template>
	<div class="complaint-attachment-upload" :class="uploadClassName">
		<div class="complaint-attachment-upload__picker" @click="openFilePicker">
			<div class="picker__placeholder">
				<template v-if="isDirty">
					<bg-alert
						v-if="isFileInvalid"
						variant="error"
						title="Gagal upload"
						:description="errorMessage"
						:closable="false"
					/>
					<p>{{ fileDetail.name }}</p>
					<p class="text-muted">({{ fileDetail.size }})</p>
					<div class="mt-2 picker-action">
						<button type="button" class="picker-action__item">
							Ganti file
						</button>
						<button
							type="button"
							class="picker-action__item"
							@click.stop="handleRemoveFile"
						>
							hapus file
						</button>
					</div>
				</template>
				<template v-else>
					<p>Drag and drop your attachment here (max 5MB)</p>
					<p class="text-muted">Or</p>
					<p><u>Choose File</u></p>
				</template>
			</div>
		</div>
		<input
			ref="inputFile"
			type="file"
			:accept="acceptInputAttribute"
			style="display: none"
			@change="handleInputChange"
		/>
	</div>
</template>

<script>
import { BgAlert } from 'bangul-vue';

export default {
	name: 'ComplaintAttachmentUpload',

	components: {
		BgAlert
	},

	data() {
		return {
			acceptedFiles: ['jpg', 'jpeg', 'png', 'pdf', 'doc', 'docx'],
			loading: false,
			isFileInvalid: false,
			isDirty: false,
			errorMessage: '',
			fileDetail: {
				name: '',
				size: '',
				type: ''
			}
		};
	},

	computed: {
		acceptInputAttribute() {
			return this.acceptedFiles.reduce((acc, cur) => {
				return acc + `.${cur},`;
			}, '');
		},
		uploadClassName() {
			return {
				'complaint-attachment-upload--dirty': this.isDirty,
				'complaint-attachment-upload--is-invalid': this.isFileInvalid,
				'complaint-attachment-upload--loading': this.loading
			};
		}
	},

	methods: {
		openFilePicker() {
			this.$refs.inputFile.click();
		},

		async handleInputChange(event) {
			const file = event.target.files[0];

			if (!file) return;

			this.isFileInvalid = false;
			this.loading = true;
			this.fileDetail = {
				name: file.name,
				size: this.getReadableSize(file.size),
				type: file.type
			};
			this.isDirty = true;
			const { isValid, message } = await this.validationFile(file);

			if (!isValid) {
				this.isFileInvalid = true;
				this.errorMessage = message;
			}

			this.loading = false;
			this.$emit('change', isValid ? file : null);
		},

		async validationFile(file) {
			const result = {
				isValid: true,
				message: ''
			};

			const maxSize = 5;

			if (file.size > maxSize * 1024 * 1024) {
				result.isValid = false;
				result.message = 'File tidak boleh lebih dari 5MB';
			} else if (this.isFileNotAllow(file)) {
				result.isValid = false;
				result.message = `File ini tidak diizinkan, gunakan file ${this.acceptedFiles.join(
					', '
				)}`;
			}

			return result;
		},

		isFileNotAllow(file) {
			const name = file.name;
			let ext = null;
			const lastIndexOfDot = name.lastIndexOf('.');

			if (lastIndexOfDot !== -1) {
				ext = name.substring(lastIndexOfDot + 1);
			}

			if (ext) {
				if (this.acceptedFiles.length) {
					return !this.acceptedFiles.includes(ext);
				} else {
					return false;
				}
			} else {
				return true;
			}
		},

		handleRemoveFile() {
			this.removeFile();
			this.$emit('change', null);
		},

		removeFile() {
			const input = this.$refs.inputFile;
			input.value = '';
			this.fileDetail = {
				name: '',
				size: '',
				type: ''
			};
			this.isFileInvalid = false;
			this.isDirty = false;
			this.errorMessage = '';

			/* istanbul ignore next */
			if (!/safari/i.test(navigator.userAgent)) {
				input.type = '';
				input.type = 'file';
			}
		},

		getReadableSize(size) {
			const units = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
			let i = -1;
			do {
				size = size / 1024;
				i++;
			} while (size > 1024);

			return Math.max(size, 0.1).toFixed(1) + units[i];
		}
	}
};
</script>

<style lang="scss">
.complaint-attachment-upload {
	$root: &;

	#{&}__picker {
		width: 100%;
		padding: 8px;
		cursor: pointer;
		border: 1px dashed #dadada;
		border-radius: 4px;
	}

	.picker__placeholder {
		display: flex;
		min-height: 190px;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		/* stylelint-disable-next-line */
		> p {
			margin-bottom: unset;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			color: #303030;
			text-align: center;

			/* stylelint-disable */
			&.text-muted {
				font-weight: 400;
				color: #949494;
			}
		}
	}

	.picker-action {
		display: flex;
		align-items: center;
		justify-content: center;

		.picker-action__item {
			border: unset;
			background-color: transparent;
			cursor: pointer;
			&:last-child {
				margin-left: 10px;
			}
		}
	}

	&#{$root}--is-invalid {
		#{$root}__picker {
			border-color: red;
		}

		.picker__placeholder {
			> p {
				opacity: 0.6;
			}
		}
	}
}
</style>
