<template>
	<bg-modal
		:value="isComplaintModalOpened"
		class="complaint-modal"
		:closable="!isComplaintSucceed"
		@close="closeComplaintModal"
	>
		<ComplaintSuccess v-if="isComplaintSucceed" @click="closeComplaintModal" />
		<form v-else @submit.prevent="handleSubmitComplaint">
			<bg-grid is-container>
				<bg-grid-item :col="12">
					<h3>Form Bantuan</h3>
					<p>
						Halo, ada yang bisa kami bantu? Mohon isi form di bawah ini dengan
						lengkap.
					</p>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="name"
						label="Nama"
						:message="getErrorMessage('name')"
						:error="!!errorMessages.name"
					>
						<bg-input
							v-model="complaint.name"
							placeholder="Tulis nama di sini"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="email"
						label="Email"
						:message="getErrorMessage('email')"
						:error="!!errorMessages.email"
					>
						<bg-input
							v-model="complaint.email"
							type="email"
							placeholder="Tulis email di sini"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="phone-number"
						label="Nomor HP"
						:message="getErrorMessage('phone_number')"
						:error="!!errorMessages.phone_number"
					>
						<bg-input
							v-model="complaint.phone_number"
							placeholder="Tulis nomor HP di sini"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="category"
						label="Kategori Permasalahan"
						:message="getErrorMessage('category')"
						:error="!!errorMessages.category"
					>
						<bg-select
							v-model="complaint.category"
							placeholder="Pilih Kategori Permasalahan"
							:options="complaintCategories"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="kost-name"
						label="Nama Kos"
						optional-label-text="Pilihan"
						:message="getErrorMessage('kost_name')"
						:error="!!errorMessages.kost_name"
						optional
					>
						<bg-input
							v-model="complaint.kost_name"
							placeholder="Tulis nama kos di sini"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="kost-location"
						label="Lokasi Kos"
						optional-label-text="Pilihan"
						:message="getErrorMessage('kost_location')"
						:error="!!errorMessages.kost_location"
						optional
					>
						<bg-input
							v-model="complaint.kost_location"
							placeholder="Contoh: Pasar Minggu, Jakarta Selatan"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="detail-problem"
						label="Detail Permasalahan"
						:message="getErrorMessage('detail_problem')"
						:error="!!errorMessages.detail_problem"
					>
						<bg-textarea
							v-model="complaint.detail_problem"
							placeholder="Jelaskan detail masalah yang dialami"
							:has-counter="false"
						/>
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-field
						label-for="attachment"
						label="Lampiran"
						optional-label-text="Pilihan"
						:message="getErrorMessage('attachment')"
						:error="!!errorMessages.attachment"
						optional
					>
						<ComplaintAttachmentUpload @change="handleAttachmentFileChange" />
					</bg-field>
				</bg-grid-item>

				<bg-grid-item :col="12">
					<bg-button
						type="submit"
						variant="primary"
						size="lg"
						:loading="loadingSubmitData"
						block
					>
						Kirim
					</bg-button>
				</bg-grid-item>
			</bg-grid>
		</form>
	</bg-modal>
</template>

<script>
import 'bangul-vue/dist/bangul.css';
import {
	BgModal,
	BgGrid,
	BgGridItem,
	BgInput,
	BgSelect,
	BgTextarea,
	BgButton,
	BgField
} from 'bangul-vue';
import complaintCategories from './complaint-categories.json';
import Axios from 'axios';
import _get from 'lodash/get';

export default {
	name: 'ComplaintModal',

	components: {
		BgModal,
		BgGrid,
		BgGridItem,
		BgInput,
		BgSelect,
		BgTextarea,
		BgButton,
		BgField,
		ComplaintAttachmentUpload: () => import('./ComplaintAttachmentUpload'),
		ComplaintSuccess: () => import('./ComplaintSuccess')
	},

	props: {
		openModal: Boolean
	},

	data() {
		return {
			isComplaintSucceed: false,
			complaintCategories: [],
			errorMessages: {},
			loadingSubmitData: false,
			complaint: {
				name: '',
				email: '',
				phone_number: '',
				category: '',
				kost_name: '',
				kost_location: '',
				detail_problem: '',
				attachment: null
			}
		};
	},

	computed: {
		isComplaintModalOpened: {
			get() {
				return this.openModal;
			},
			set() {
				this.$emit('update:open-modal', false);
			}
		},
		getErrorMessage() {
			return field => _get(this.errorMessages, [field, '0'], '');
		}
	},

	watch: {
		openModal: {
			immediate: true,
			handler(isModalOpened) {
				const body = document.body || document.getElementsByTagName('body')[0];
				if (isModalOpened) {
					body.style.overflow = 'hidden';
					this.isComplaintSucceed = false;
					this.autoFillForm();
					this.errorMessages = {};
				} else {
					body.style.overflow = null;
				}
			}
		}
	},

	created() {
		this.complaintCategories = complaintCategories.map(category => ({
			val: category,
			label: category
		}));
	},

	methods: {
		closeComplaintModal() {
			if (!this.loadingSubmitData) {
				this.complaint = {
					name: '',
					email: '',
					phone_number: '',
					category: '',
					kost_name: '',
					kost_location: '',
					detail_problem: '',
					attachment: null
				};
			}
			this.isComplaintModalOpened = false;
			this.isComplaintSucceed = false;
		},

		handleSubmitComplaint() {
			this.errorMessages = {};
			this.loadingSubmitData = true;
			Axios.post('/garuda/cs-email', this.getDataFormComplaint(), {
				headers: {
					'Content-Type': this.complaint.attachment
						? 'multipart/form-data'
						: 'application/json'
				}
			})
				.then(this.handlingSuccess, this.handlingError)
				.catch(this.handlingError)
				.finally(() => {
					this.loadingSubmitData = false;
				});
		},

		handlingSuccess({ data }) {
			if (data.status && !data.errors) {
				this.isComplaintSucceed = true;
			} else {
				this.handlingError();
			}
		},

		handlingError(error) {
			if (error && error.response) {
				const { data, status } = error.response;
				if (status === 500) {
					console.error(data.message);
					bugsnagClient.notify(new Error(data.message));
					alert(data.message);
					return;
				}
				this.errorMessages = data.errors;
			}
		},

		getDataFormComplaint() {
			if (this.complaint.attachment) {
				const complaintForm = new FormData();
				for (const [key, value] of Object.entries(this.complaint)) {
					complaintForm.append(key, value);
				}
				return complaintForm;
			} else {
				return this.complaint;
			}
		},

		handleAttachmentFileChange(file) {
			this.complaint.attachment = file;
		},

		autoFillForm() {
			if (authData && authData.all) {
				// eslint-disable-next-line camelcase
				const { name, email, phone_number } = authData.all;
				this.complaint = {
					...this.complaint,
					name,
					email,
					phone_number
				};
			}
		}
	}
};
</script>

<style lang="scss">
.complaint-modal.bg-c-modal {
	.bg-c-modal__inner {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: unset !important;
		margin: unset;
		border-radius: 0;

		.bg-c-modal__body {
			max-height: calc(100vh - 20px) !important;
		}

		.bg-c-modal__footer {
			display: none;
		}
	}

	.bg-c-modal__body {
		&.bg-c-modal__body--has-top-line,
		&.bg-c-modal__body--has-bottom-line {
			border: unset;
		}
	}
}

.complaint-modal {
	color: #000;

	.bg-c-dropdown {
		.bg-c-dropdown__menu-item {
			color: #303030 !important;
		}
	}
}
</style>
