<template>
	<div class="complaint-modal-success">
		<BgEmptyState
			title="Form Bantuan Terkirim"
			description="Tim CS Mamikos akan segera merespon permasalahan Anda"
			illustration-name="booking-is-being-processed"
			illustration-alt="Complaint Succeed"
			button-text="Kembali"
			v-on="$listeners"
		/>
	</div>
</template>

<script>
import { BgEmptyState } from 'bangul-vue';

export default {
	name: 'ComplaintSuccess',

	components: {
		BgEmptyState
	}
};
</script>

<style lang="scss" scoped>
.complaint-modal-success >>> .bg-c-empty-state {
	.bg-c-button.bg-c-empty-state__CTA {
		width: 100%;
	}
}
</style>
