<template>
	<div class="activity-list">
		<div class="white-card">
			<div @click.stop="goToActivitySearch">
				<ct-input-text
					class="search-activator"
					placeholder="Cari Data"
					:radius="4"
					background-color="#e8e8e8"
					prepend-icon="search"
					readonly
					flat
				></ct-input-text>
			</div>

			<Funnel />
		</div>

		<div class="white-card no-margin">
			<div class="title mb-2">
				Daftar Tugas Aktif
			</div>
			<div class="el-center-on-start">
				<div class="mr-2">Filter:</div>
				<ct-swiper :items="filterItems">
					<template slot="items" slot-scope="props">
						<chip
							:type="props.active ? 'success' : 'default'"
							pill
							outlined
							medium
							class="filter-chip"
							@click="handleOpenFilterBy"
						>
							{{ props.item.label }}
						</chip>
					</template>
				</ct-swiper>
			</div>
		</div>

		<div v-if="loadingGetActivities" class="white-card activity-list-container">
			<div v-for="i in 5" :key="i" class="mb-2">
				<shimmer-placeholder
					style="margin-bottom: 15px"
					width="80%"
					height="17px"
				></shimmer-placeholder>
				<shimmer-placeholder width="40%" height="18px"></shimmer-placeholder>
			</div>
		</div>
		<template v-else>
			<template v-if="!activities.length">
				<consultant-empty-state
					relative
					title="Belum Ada Tugas Aktif"
					subtitle="Silakan aktifkan tugas di halaman Daftar Tugas untuk mulai bekerja."
				>
					<consultant-button
						slot="button"
						large
						block
						class="btn-icon"
						@click="goToFunnelList"
					>
						<span>Aktifkan Tugas</span>
						<i class="mamikos-icon icon-arrow-right-long"></i>
					</consultant-button>
				</consultant-empty-state>
			</template>
			<template v-else>
				<div class="white-card no-padding-right activity-list-container">
					<template v-for="(activity, index) in activities">
						<ct-activity-item
							:key="index"
							item-type="icon"
							:text="activity.name"
							:subtext="activity.label"
							:icon="activity.icon"
							hide-progress
							@click.native="goToDetailActivity(activity)"
						></ct-activity-item>
					</template>
					<div class="mt-3 mb-2">
						<consultant-pagination
							v-if="pagination.totalData > pagination.limit"
							class="ct-pagination--green"
							:total-data="pagination.totalData"
							:page-active="pagination.page"
							green-version
							@change="paginationChanged"
						></consultant-pagination>
					</div>
				</div>
			</template>
		</template>

		<filter-activity-list ref="filter"></filter-activity-list>
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';
import CtSwiper from 'Consultant/components/CtSwiper';
import Chip from 'Consultant/components/Chip';
import CtActivityItem from 'Consultant/components/CtActivityItem';
import ConsultantEmptyState from 'Consultant/components/ConsultantEmptyState';
import ConsultantButton from 'Consultant/components/ConsultantButton';
import ShimmerPlaceholder from 'Consultant/components/placeholders/ShimmerPlaceholder';
import FilterActivityList from './components/FilterActivityList';
import Funnel from './components/ActivityListFunnels.vue';

import mixinPagination from 'Consultant/mixins/mixinPagination';
import mixinUpdateActivityData from './mixins/updateActivityData';

import { createMultipleParam, makeQueryParam } from 'Consultant/helpers/url';
import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

export default {
	name: 'ActivityList',

	components: {
		CtInputText,
		CtSwiper,
		Chip,
		CtActivityItem,
		ConsultantEmptyState,
		ConsultantButton,
		ShimmerPlaceholder,
		FilterActivityList,
		Funnel
	},

	mixins: [mixinPagination, mixinUpdateActivityData],

	data() {
		return {
			loadingGetActivities: false,
			filterItems: [
				{
					label: 'Tipe Data',
					key: 'data_type',
					active: false
				}
			],
			activities: []
		};
	},

	computed: {
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		this.scrollTop = false;
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Kelola Tugas',
			{ consultant_id: consultant.id || null }
		]);
	},

	methods: {
		goToActivitySearch() {
			this.$router.push({ name: 'activity.search' });
		},

		/**
		 * watching route changed
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		triggerRouteChanged(route) {
			this.checkFilterActive(route);
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData({ offset, limit, filters }) {
			const paginationQuery = makeQueryParam({ offset, limit });
			const dataTypeQuery = createMultipleParam(filters, 'data_type');

			this.initActivityLists(
				paginationQuery + (dataTypeQuery ? '&' + dataTypeQuery : '')
			);
		},

		async initActivityLists(params) {
			this.loadingGetActivities = true;
			try {
				const result = await this.getActivities(params);
				if (result.success) {
					this.activities = this.mixUpdateDataActivity(result.data);
					this.changeQueryPaginate({
						totalData: Number(result.total)
					});
				} else {
					console.error(result.error);
				}
			} catch (error) {
				console.error(error);
			}
			this.loadingGetActivities = false;
		},

		async getActivities(params) {
			const result = { success: false, data: [], total: 0, error: null };
			try {
				const response = await axios.get(
					'/api/dashboard/activity-list?' + params
				);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
					result.total = response.data.total;
				}
			} catch (error) {
				result.error = error;
				return Promise.reject(result);
			}

			return result;
		},

		handleOpenFilterBy() {
			this.$refs.filter.open();
		},

		checkFilterActive(route) {
			const { filters = '' } = route.query;
			const keys = filters.split(',').filter(key => key);
			this.filterItems = this.filterItems.map(filter => ({
				...filter,
				label: 'Tipe Data' + (keys.length ? ` • ${keys.length}` : ''),
				active: keys.length > 0
			}));
		},
		/* eslint-enable camelcase */

		goToDetailActivity(activity) {
			this.$router.push({
				name: 'activity.detail',
				query: {
					funnel_id: activity.funnel_id,
					progress_id: activity.progressable.id,
					task_id: activity.id || 0,
					progress: activity.current_stage
				}
			});
		},
		/* eslint-enable camelcase */

		goToFunnelList() {
			this.$router.push({
				name: 'activity.funnels'
			});
		}
	}
};
</script>
<style lang="scss">
.ct-input-text.search-activator {
	.ct-input__wrapper .ct-input__subtext {
		display: none;
	}
}

.filter-chip.chip {
	margin-bottom: unset !important;
}

.activity-list {
	.white-card {
		.ct-activity-item:last-child {
			/* stylelint-disable-next-line */
			.item--has-divider .ct-list__content {
				border-bottom: unset !important;
			}
		}
	}

	.ct-input-text.search-activator {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			cursor: pointer;
			content: '';
		}
		.ct-input__body {
			cursor: pointer;
		}
	}

	.consultant-empty-state {
		padding: 20px;
		margin-top: 20px;
		/* stylelint-disable-next-line */
		p {
			padding: 0 30px;
		}
	}
}
</style>

<style lang="scss" scoped>
.white-card {
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	&.no-margin {
		margin-bottom: 0;
	}

	&.no-padding-right {
		padding-right: 0;
	}

	&.activity-list-container {
		min-height: 390px;
	}
}

.potential-card-container {
	padding: 20px;
	margin-top: 50px;
}
</style>
