<template>
	<div class="activity-detail">
		<section class="bg-white detail-card">
			<task-type-information
				:loading="loadingGetData"
				:detail="detail"
			></task-type-information>
		</section>

		<section class="bg-white detail-card">
			<template v-if="loadingGetData">
				<div class="row">
					<div class="col-xs-12">
						<shimmer height="16px" width="100px"></shimmer>
					</div>
					<div class="col-xs-10 offset-xs-1">
						<shimmer height="17px" width="100px"></shimmer>
						<shimmer height="17px" width="100px"></shimmer>
					</div>
				</div>
			</template>
			<template v-else>
				<h5 class="text-muted">DITUGASKAN KE:</h5>
				<ct-list-item :divider="false">
					<span slot="action" class="icon-green"
						><i class="mamikos-icon icon-user"></i
					></span>
					<h4>
						<strong>{{ getConsultantName }}</strong>
					</h4>
					<p class="text-muted">
						Konsultan {{ getConsultantRole | capitalize }}
					</p>
				</ct-list-item>
			</template>
		</section>

		<section class="section-step">
			<ct-stage-step
				:stage-label="stage.funnel_name"
				:header-color="taskId == 0 ? '#787878' : '#067F7D'"
				:stage-title="stage.label"
				:stage-subtitle="stage.target"
				:steps="stageSteps"
				:loading="loadingGetData"
				@click:detail="goToLogPage"
			></ct-stage-step>
		</section>

		<section v-show="isShowReport" ref="report" class="section-report bg-white">
			<div v-if="loadingGetReport" class="placeholder-report">
				<div v-for="i in 4" :key="i" class="mb-3">
					<shimmer height="17px" width="60%"></shimmer>
					<shimmer height="17px" width="100px"></shimmer>
				</div>
			</div>
			<report-result v-else :reports="reports"></report-result>
		</section>

		<section class="section-float bg-white">
			<div class="row container-for-mobile">
				<div v-if="loadingGetData" class="col-xs-12 el-center">
					<shimmer height="40px" width="80%"></shimmer>
				</div>
				<template v-else>
					<template v-if="taskId == 0">
						<div class="col-xs-12">
							<ct-button
								:disabled="!isConsultant"
								:loading="loadingActivateTask"
								loading-text="Mengaktifkan..."
								large
								block
								@click="activateTask"
								>Aktifkan Tugas</ct-button
							>
						</div>
					</template>
					<template v-else>
						<div class="col-xs-6">
							<ct-button
								:loading="loadingGetStageData"
								large
								outline
								block
								:disabled="!isShowReport || !isConsultant"
								@click="getStageData"
							>
								Edit Data
							</ct-button>
						</div>
						<div class="col-xs-6">
							<ct-button
								:disabled="!isConsultant"
								large
								block
								class="btn-icon"
								@click="openMoveStage"
							>
								Selanjutnya <i class="mamikos-icon icon-arrow-right-long"></i>
							</ct-button>
						</div>
					</template>
				</template>
			</div>
		</section>

		<move-stage
			ref="moveStage"
			:funnel-id="funnelId"
			:task-id="taskId"
			:progress-id="progressId"
		></move-stage>
	</div>
</template>

<script>
import CtListItem from 'Consultant/components/CtListItem';
import CtStageStep from 'Consultant/components/CtStageStep';
import CtButton from 'Consultant/components/ConsultantButton';
import ReportResult from './components/ReportResult';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';
import TaskTypeInformation from './components/TaskTypeInformation';
import MoveStage from './components/MoveStage';

import EventBus from 'Consultant/event-bus';

import SpyingElement from 'Consultant/helpers/spyingElement';
import { capitalize } from 'Consultant/helpers/stringManipulation';
import { makeQueryParam } from 'Consultant/helpers/url';
import * as storage from 'Js/@utils/storage';

export default {
	name: 'ActivityDetail',

	components: {
		CtListItem,
		CtStageStep,
		CtButton,
		ReportResult,
		Shimmer,
		TaskTypeInformation,
		MoveStage
	},

	filters: {
		capitalize: value => capitalize(value)
	},

	data() {
		return {
			loadingActivateTask: false,
			loadingGetReport: false,
			loadingGetData: false,
			loadingGetStageData: false,
			stageSteps: [],
			reports: [],
			stage: {},
			detail: {},
			reportLoaded: false,
			currentStageId: null
		};
	},

	computed: {
		funnelId() {
			return this.$route.query.funnel_id;
		},
		progressId() {
			return this.$route.query.progress_id;
		},
		taskId() {
			return this.$route.query.task_id;
		},
		progress() {
			return Number(this.$route.query.progress);
		},
		getConsultantName() {
			return this.$store.getters.getConsultantFirstName;
		},
		getConsultantRole() {
			return this.$store.getters.getConsultantRoles;
		},
		currentStage() {
			return this.stage.current_stage || {};
		},
		isShowReport() {
			// eslint-disable-next-line camelcase
			const { current_stage = {} } = this.stage;
			return !!(current_stage.number && current_stage.number > 1);
		},
		isConsultant() {
			return this.$store.getters.isAdminConsultant;
		}
	},

	beforeRouteLeave(to, from, next) {
		if (to.name === 'activity.staging') {
			to.params.funnel_name = this.$route.query.funnel_name;
		}
		next();
	},

	watch: {
		$route: {
			immediate: true,
			handler(value) {
				this.checkingIdentityOnRoute(value.query);
			}
		}
	},

	created() {
		this.initData();
	},

	destroyed() {
		document.body.style.overflowY = null;
	},

	methods: {
		goToLogPage() {
			const data = {
				name: this.detail.name || this.detail.property_name,
				staging_name:
					this.stage.current_stage.name || this.stage.current_stage.detail
			};

			if (/owner/i.test(this.detail.type)) {
				data.name = this.detail.property_owner_name;
			}

			storage.local.setItem('staging_log', JSON.stringify(data));
			this.$router.push({
				name: 'activity.staging-log',
				params: { taskId: this.taskId }
			});
		},

		openMoveStage() {
			this.$refs.moveStage.open();
		},

		async initData() {
			this.loadingGetData = true;
			try {
				const [detail, stage] = await Promise.all([
					this.fetchDetail(this.funnelId, this.progressId),
					this.fetchStageProgress(this.funnelId, this.taskId)
				]);

				if (detail.success) {
					this.detail = detail.data;
				}

				if (stage.success) {
					this.stage = this.updateStageData(stage.data);
					this.stageSteps = this.updateStageSteps(stage.data.progress);
					this.updateNavbarTitle(stage.data);
					this.initReportListener();
				}
			} catch (error) {
				/* istanbul ignore next */
				console.error(error);
			}

			this.loadingGetData = false;
		},

		async fetchDetail(funnelId, progressId) {
			const result = { success: false, data: {}, error: null };
			try {
				const URL = `/api/activity-management/funnel/${funnelId}/data/${progressId}`;
				const response = await axios.get(URL);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
				}
				return Promise.resolve(result);
			} catch (error) {
				return Promise.reject(error);
			}
		},

		async fetchStageProgress(funnelId, taskId) {
			const result = { success: false, data: {}, error: null };
			try {
				const URL = `/api/activity-management/task/${funnelId}/${taskId}/status`;
				const response = await axios.get(URL);
				if (response.data.status) {
					result.success = true;
					result.data = response.data;
				}
				return Promise.resolve(result);
			} catch (error) {
				return Promise.reject(error);
			}
		},

		initReportListener() {
			if (this.isShowReport) {
				const reportSection = new SpyingElement(this.$refs.report);
				reportSection.spy(({ percentage }) => {
					if (
						this.reports.length === 0 &&
						percentage > 50 &&
						!this.loadingGetReport &&
						!this.reportLoaded
					) {
						this.initReportData();
					}
				});
			}
		},

		async initReportData() {
			this.loadingGetReport = true;
			const result = await this.fetchReport(this.taskId);

			if (result.success) {
				this.reports = result.data;
			}
			this.loadingGetReport = false;
			this.reportLoaded = true;
		},

		async fetchReport(taskId) {
			const result = { success: false, data: [], error: null };
			try {
				const response = await axios.get(
					`/api/activity-management/progress/detail/${taskId}`
				);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
				}
			} catch (error) {
				result.error = error;
			}

			return result;
		},

		updateStageSteps(steps) {
			return steps.map((step, index) => {
				const latestCompleted = ((current, next) => {
					if (!next) return true;
					else return current.completed && !next.completed;
				})(step, steps[index + 1]);

				return {
					...step,
					activated: step.completed,
					showIcon: latestCompleted
				};
			});
		},

		updateStageData(stage) {
			const isStageNameDaftarTugas = /Daftar Tugas/i.test(
				stage.current_stage.name
			);
			const label = isStageNameDaftarTugas
				? stage.current_stage.name
				: `Tahap ${stage.current_stage.number}: ${stage.current_stage.name}`;
			const target = isStageNameDaftarTugas ? '' : stage.current_stage.detail;
			return {
				...stage,
				label,
				target
			};
		},

		checkingIdentityOnRoute(query) {
			const requiredProperties = [
				'funnel_id',
				'progress_id',
				'task_id',
				'progress'
			];
			if (
				requiredProperties.some(prop => Object.keys(query).indexOf(prop) === -1)
			) {
				EventBus.$emit('openAlert', 'Url anda salah, silahkan cek lagi');
				this.$router.push({ name: 'dashboard' });
			}
		},

		async activateTask() {
			this.loadingActivateTask = true;
			try {
				const data = {
					funnel_id: Number(this.funnelId),
					tasks: [Number(this.progressId)]
				};

				const response = await axios.post(
					`/api/activity-management/tasks/activate`,
					data
				);

				if (response.data.status) {
					EventBus.$emit(
						'openAlert',
						'Tugas berhasil diaktifkan. Cek halaman utama untuk melihat daftar tugas aktif.',
						'dark',
						{
							placement: 'bottom'
						}
					);

					const query = makeQueryParam({
						...this.$route.query,
						progress: 0,
						task_id: response.data.task_ids[0]
					});
					window.location.replace(window.location.pathname + '?' + query);
				}
			} catch (error) {
				/* istanbul ignore next */
				console.error(error);
			}
			this.loadingActivateTask = false;
		},

		updateNavbarTitle(stage) {
			if (stage.funnel_name) {
				this.$route.meta.navbarOptions.title = stage.funnel_name;
			}
		},

		async getStageData() {
			if (this.isShowReport) {
				this.loadingGetStageData = true;
				try {
					const URL = `/api/activity-management/task/${this.funnelId}/${this.taskId}/stages`;
					const response = await axios.get(URL);
					if (response.data.status) {
						const activeIndex = response.data.stages.findIndex(
							task => task.is_current_stage
						);

						this.currentStageId = response.data.stages[activeIndex].id;
						this.editStage();
					}
				} catch (error) {
					/* istanbul ignore next */
					console.error(error);
				} finally {
					this.loadingGetStageData = false;
				}
			}
		},

		editStage() {
			this.$router.push({
				name: 'activity.staging-form.edit',
				params: {
					edit: 'edit',
					stage_id: this.currentStageId,
					task_id: this.taskId,
					funnel_id: this.funnelId,
					progress_id: this.progressId
				}
			});
		}
	}
};
</script>

<style lang="scss">
.activity-detail {
	/* stylelint-disable-next-line selector-max-type */
	p,
	h4,
	h5 {
		margin-bottom: unset;
		line-height: 20px;
	}
}
</style>

<style lang="scss" scoped>
.activity-detail {
	position: relative;

	.detail-card {
		padding: 16px;
		border-bottom: 1px solid #e8e8e8;
	}

	.section-step {
		padding: 16px;
		margin: 20px 0 40px;
	}

	.section-report {
		min-height: 300px;
		padding-bottom: 30px;
		border-top: 1px solid #e8e8e8;
	}

	.section-float {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 12px;
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.08);
	}

	.icon-green {
		$green: #12a19f;
		display: inline-flex;
		width: 32px;
		height: 32px;
		padding: 5px;
		align-items: center;
		justify-content: center;
		background-color: rgba($green, 0.2);
		border-radius: 50%;

		.mamikos-icon {
			color: $green;
		}
	}

	.placeholder-report {
		padding: 25px 16px 16px;

		::v-deep .shimmer-placeholder {
			margin-bottom: 10px;
		}
	}
}
</style>
