<template>
	<div class="activity-staging">
		<div v-if="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<template v-else>
			<swiper ref="stagingSwiper" :options="swiperOption">
				<swiper-slide
					v-for="(staging, index) in stagings"
					:key="`staging-${index}-${staging.id}`"
				>
					<card-task
						:header-color="stageColor(index)"
						:task-type="stageLabel(index)"
						:task-title="staging.name"
						:task-subtitle="staging.detail"
						:lists="staging.tasks"
						:total-list="staging.tasks_count"
						:data-type="dataType"
						@click:button="handleClickSeeAll(index, staging.id, staging.name)"
					>
						<div
							slot="lists"
							slot-scope="props"
							class="task-list"
							@click="handleClickToDetail(props.list)"
						>
							{{ props.list.name }}
						</div>
					</card-task>
				</swiper-slide>

				<div slot="pagination" class="swiper-pagination"></div>
			</swiper>
		</template>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import numberToRomanNumeral from 'Consultant/helpers/numberToRomanNumeral.js';

import { swiper, swiperSlide } from 'vue-awesome-swiper';
import cardTask from 'Consultant/components/CtCardTaskList';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';

export default {
	name: 'ActivityStaging',

	components: {
		swiper,
		swiperSlide,
		cardTask,
		MamiLoadingInline
	},

	data() {
		return {
			showLoading: true,
			stagings: [],
			loader: true,
			type: '',
			swiperOption: {
				loop: false,
				slidesPerView: 1,
				spaceBetween: 30,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				}
			}
		};
	},

	computed: {
		swiper() {
			return this.$refs.stagingSwiper.swiper;
		},
		funnelId() {
			return this.$route.params.funnel_id;
		},
		dataType() {
			return this.$route.params.funnel_type;
		},
		funnelName() {
			return this.$route.params.funnel_name;
		}
	},

	beforeRouteEnter(to, from, next) {
		const titleName = to.params.funnel_name;
		to.meta.navbarOptions.title = titleName;
		next();
	},

	created() {
		this.initAPIData();
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPIData() {
			const tempStagings = await this.APIGetActivityStaging();
			this.stagings = tempStagings;
			this.showLoading = false;
		},

		async APIGetActivityStaging(e) {
			const data = { ok: false, value: {} };

			try {
				const response = await axios.get(
					`/api/activity-management/funnel/${this.funnelId}/tasks`
				);
				if (response.data.status) {
					data.ok = true;
					data.value = response.data.stages;
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.value);
		},

		// ----------------------------------------------------------------------
		// Etc.
		// ----------------------------------------------------------------------
		handleClickSeeAll(index, id, stageName) {
			let stage = '';

			switch (index) {
				case 0:
					stage = 'backlog';
					break;
				case 1:
					stage = 'todo';
					break;
				default:
					stage = id;
					break;
			}

			this.$router.push({
				name: 'activity.staging-search',
				params: {
					funnel_id: this.funnelId,
					stage: stage,
					stage_name: stageName,
					funnel_name: this.funnelName,
					data_type: this.dataType
				}
			});
		},

		handleClickToDetail(param) {
			this.$router.push({
				name: 'activity.detail',
				query: {
					funnel_id: this.funnelId,
					progress_id: param.progressable_id,
					task_id: param.id || 0,
					progress: param.progress,
					funnel_name: this.funnelName
				}
			});
		},

		stageLabel(index) {
			switch (index) {
				case 0:
					return 'Daftar Tugas';
				case 1:
					return 'Tahap I';
				default:
					return `Tahap ${numberToRomanNumeral(index)}`;
			}
		},

		stageColor(index) {
			switch (index) {
				case 0:
					return '#787878';
				case this.stagings.length - 1:
					return '#198343';
				default:
					return '#067F7D';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.activity-staging {
	padding-top: 24px;
	::v-deep .swiper-pagination {
		position: relative;
		bottom: 0;
		margin-top: 24px;

		.swiper-pagination-bullet {
			bottom: -0.5rem !important;
			background-color: #c4c4c4;
		}

		.swiper-pagination-bullet:focus {
			outline: none !important;
		}

		.swiper-pagination-bullet-active {
			background: #888 !important;
		}
	}

	::v-deep .list-container {
		& > div:last-child .task-list {
			border-bottom: 0;
		}
	}
}

.task-list {
	padding: 12px 0;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8;
}
</style>
