<template>
	<div class="activity-staging-log">
		<section class="bg-white status-card">
			<h5 class="mb-2">
				<strong>{{ stage.name || '-' }}</strong>
			</h5>
			<ct-status-text
				label="STATUS"
				:content-text="stage.staging_name || '-'"
				class="mb-3"
			></ct-status-text>
		</section>

		<section class="mt-2">
			<template v-if="loading">
				<div v-for="i in 2" :key="i" class="mb-3">
					<shimmer class="mb-1" height="18px"></shimmer>
					<shimmer class="mb-1" height="17px" width="100px"></shimmer>
					<shimmer class="mb-1" height="17px" width="100px"></shimmer>
				</div>
			</template>
			<template v-else>
				<ct-timeline :items="logs"> </ct-timeline>
			</template>
		</section>
	</div>
</template>

<script>
import CtStatusText from 'Consultant/components/CtStatusText';
import CtTimeline from 'Consultant/components/CtTimeline';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';
import dateFormatter from 'Consultant/helpers/dateFormatter.js';
import * as storage from 'Js/@utils/storage';

import EventBus from 'Consultant/event-bus';

export default {
	name: 'ActivityStagingLog',

	components: {
		CtStatusText,
		CtTimeline,
		Shimmer
	},

	data() {
		return {
			loading: false,
			logs: [],
			stage: {}
		};
	},

	computed: {
		taskId() {
			return this.$route.params.taskId;
		}
	},

	created() {
		this.fetchDataLogs();
		this.getDetailStage();
	},

	methods: {
		async fetchDataLogs() {
			this.loading = true;

			const result = await this.getLogs(this.taskId);
			if (result.success) {
				this.logs = this.updateLog(result.data);
			} else {
				if (result.error.message) {
					EventBus.$emit('openAlert', result.error.message);
				} else {
					EventBus.$emit('openAlert', 'Terjadi galat, silahkan coba lagi');
				}
			}

			this.loading = false;
		},

		async getLogs(taskId) {
			const result = { success: false, data: [], error: null };
			try {
				const response = await axios.get(
					`/api/activity-management/progress/history/${taskId}`
				);
				if (response.data.status) {
					result.success = true;
					result.data = response.data.data;
				} else {
					result.error = { message: response.data.message };
				}
			} catch (error) {
				result.error = error;
			}

			return result;
		},

		updateLog(logs) {
			return logs.map(log => {
				const logDate =
					log.date.constructor === Object ? log.date.date : log.date;
				return {
					...log,
					label: log.status_name,
					date: dateFormatter(logDate)
				};
			});
		},

		getDetailStage() {
			if (storage.local.getItem('staging_log')) {
				const stage = storage.local.getItem('staging_log');
				this.stage = JSON.parse(stage);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.activity-staging-log {
	/* stylelint-disable-next-line selector-max-type */
	section {
		padding: 16px;
	}
	.status-card {
		border-bottom: 1px solid #e8e8e8;
	}
}
</style>
