<template>
	<div class="activity-staging-form" :class="classes">
		<div v-show="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<div v-for="data in getForms" :key="data.id" class="mb-3">
			<template v-if="data.type === 'text'">
				<input-text
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:label="data.label"
					:placeholder="data.placeholder"
					:mandatory-sign="true"
					type="text"
				/>
			</template>

			<template v-if="data.type === 'number'">
				<input-text
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:label="data.label"
					:placeholder="data.placeholder"
					:mandatory-sign="true"
					type="text"
					only-numbers
				/>
			</template>

			<template v-if="data.type === 'date'">
				<div class="label-text">{{ data.label }}</div>
				<datepicker
					:value="postForms[postFormsIndex(data.id)].value[0]"
					:disabled-dates="{}"
					placeholder="test"
					:format="'dd-MM-yyyy'"
					@selected="addValueDate(data.id, $event)"
				/>
			</template>

			<template v-if="data.type === 'text_area'">
				<input-textarea
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:max-length="100"
					:label="data.label"
					:placeholder="data.placeholder"
				/>
			</template>

			<template v-if="data.type === 'radio'">
				<input-radio
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:legend="data.label"
					:mandatory-sign="true"
					:options="data.values"
					label-value
				/>
			</template>

			<template v-if="data.type === 'file'">
				<div class="label-text">{{ data.label }}</div>
				<input-image
					url="/consultant-tools/api/media/upload"
					:current-image="
						isEdit && filledValue[postFormsIndex(data.id)]
							? filledValue[postFormsIndex(data.id)].value.real
							: ''
					"
					@updated="uploadedImage(data.id, $event)"
				/>
			</template>

			<template v-if="data.type === 'time'">
				<div class="label-text">{{ data.label }}</div>
				<InputHour
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:placeholder="data.placeholder"
				/>
			</template>

			<template v-if="data.type === 'select'">
				<div class="label-text">{{ data.label }}</div>
				<input-select
					v-model="postForms[postFormsIndex(data.id)].value[0]"
					:show-invalid-message="false"
					:options="data.values"
					:placeholder="data.placeholder"
				/>
			</template>

			<template v-if="data.type === 'checkbox'">
				<div class="label-text">{{ data.label }}</div>
				<template v-for="(item, index) in data.values">
					<input-checkbox
						:key="`${data.id}-checkbox-${index}`"
						v-model="postForms[postFormsIndex(data.id)].value"
						:value="item"
						:label="`${item}`"
						block
					/>
				</template>
			</template>
		</div>

		<bottom-container>
			<div class="row">
				<div class="col-xs-6">
					<Button large block outline @click="$router.go(-1)">Batal</Button>
				</div>
				<div class="col-xs-6">
					<Button
						large
						block
						:disabled="!checkingNotEmpty"
						@click="APIPostFormsList"
						>Simpan</Button
					>
				</div>
			</div>
		</bottom-container>
	</div>
</template>

<script>
import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';

import InputText from 'Consultant/components/CtInputText';
import Datepicker from 'Consultant/components/ConsultantDatepicker';
import InputTextarea from 'Consultant/components/InputTextarea';
import InputRadio from 'Consultant/components/ConsultantRadioGroup';
import InputImage from 'Consultant/components/CtFormUploadImage';
import InputHour from 'Consultant/components/CtFormInputHour';
import InputCheckbox from 'Consultant/components/CtCheckbox';
import InputSelect from 'Consultant/components/CtSelect';

import Button from 'Consultant/components/ConsultantButton.vue';
import BottomContainer from 'Consultant/components/CtBottomContainer.vue';

export default {
	name: 'ActivityStagingForm',

	components: {
		MamiLoadingInline,
		InputText,
		Datepicker,
		InputTextarea,
		InputRadio,
		InputImage,
		InputHour,
		InputCheckbox,
		InputSelect,
		Button,
		BottomContainer
	},

	mixins: [mixinEllipsis],

	data() {
		return {
			getForms: [],
			temp: null,
			postForms: [],
			showLoading: true,
			checkboxValue: [],
			gettingFilledValue: false,
			filledValue: [],
			checkingNotEmpty: false,
			classes: ''
		};
	},

	computed: {
		stageId() {
			return this.$route.params.stage_id;
		},
		taskId() {
			return this.$route.params.task_id;
		},
		funnelId() {
			return this.$route.params.funnel_id;
		},
		progressId() {
			return this.$route.params.progress_id;
		},
		isEdit() {
			return !!this.$route.params.edit;
		}
	},

	watch: {
		postForms: {
			immediate: false,
			deep: true,
			handler(value) {
				for (const form of value) {
					if (!form.value.length) {
						this.checkingNotEmpty = false;
						return;
					} else if (!form.value[0].toString().length) {
						this.checkingNotEmpty = false;
						return;
					} else {
						this.checkingNotEmpty = true;
					}
				}
			}
		}
	},

	created() {
		this.initAPIData();
	},

	methods: {
		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPIData() {
			this.getForms = (await this.APIGetFormsList()).sort((a, b) => {
				const earlier = Number(a.order);
				const later = Number(b.order);
				return earlier > later ? 1 : later > earlier ? -1 : 0;
			});

			if (this.getForms.length > 1 && this.getForms[this.getForms.length - 2].type === 'date') {
				this.classes = 'pb200';
			} else if (this.getForms[this.getForms.length - 1].type === 'date') {
				this.classes = 'pb340';
			}

			this.postForms = this.getForms.map(data => {
				if (data.type === 'checkbox') {
					return { id: data.id, value: [] };
				} else {
					return { id: data.id, value: [''] };
				}
			});

			await this.APIGetDetail();

			if (this.isEdit) {
				this.filledValue = await this.APIGetFilledForm();

				for (const [index, form] of this.postForms.entries()) {
					if (this.filledValue[index].type === 'file') {
						form.value = [`${this.filledValue[index].media_id}`];
					} else if (this.filledValue[index].type === 'checkbox') {
						form.value = Object.values(this.filledValue[index].value);
					} else {
						form.value = [this.filledValue[index].value];
					}
				}
			}

			this.showLoading = false;
		},

		async APIGetFormsList() {
			const data = { ok: false, value: {} };

			try {
				const response = await axios.get(
					`/api/activity-management/stage/${this.stageId}/form`
				);

				if (response.data.status) {
					data.ok = true;
					data.value = response.data.form;
				} else {
					alert(response.data.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.value);
		},

		async APIGetDetail() {
			try {
				const response = await axios.get(
					`/api/activity-management/funnel/${this.funnelId}/data/${this.progressId}`
				);

				if (response.data.status) {
					const detail = response.data.data;
					let navbarTitle = '';

					if (/owner/i.test(detail.type)) {
						navbarTitle = detail.property_owner_name;
					} else {
						navbarTitle =
							detail.name || this.ellipsis(detail.property_name, 30);
					}

					this.$route.meta.navbarOptions.title = navbarTitle;
				} else {
					alert(response.data.message);
				}
			} catch (error) {
				alert(error);
			}
		},

		async APIGetFilledForm() {
			const data = { ok: false, value: {} };

			try {
				const response = await axios.get(
					`/api/activity-management/progress/detail/${this.taskId}`
				);

				if (response.data.status) {
					data.ok = true;
					data.value = response.data.data;
				} else {
					alert(response.data.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.value);
		},

		async APIPostFormsList() {
			this.showLoading = true;

			try {
				const response = await axios.post(
					`/api/activity-management/task/${this.taskId}`,
					{
						stage_id: this.stageId,
						inputs: this.postForms
					}
				);

				if (response.data.status) {
					this.$router.go(-1);
				} else {
					alert(response.message);
				}
			} catch (error) {
				alert(error);
			} finally {
				this.showLoading = false;
			}
		},

		// ----------------------------------------------------------------------
		// etc
		// ----------------------------------------------------------------------

		addValueDate(id, value) {
			const tempValue = this.$dayjs(value).format('YYYY-MM-DD');
			const indexInputted = this.postForms.findIndex(
				inputted => inputted.id === id
			);

			this.postForms[indexInputted].value = [tempValue];
		},

		postFormsIndex(id) {
			const indexInputted = this.postForms.findIndex(
				inputted => inputted.id === id
			);

			return indexInputted;
		},

		uploadedImage(id, event) {
			if (event.response.status) {
				const indexInputted = this.postForms.findIndex(
					inputted => inputted.id === id
				);
				const arrayValue = [`${event.response.id}`];
				this.postForms[indexInputted].value = arrayValue;
			} else {
				alert(event.response.meta.message);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.activity-staging-form {
	padding: 20px 0 72px;

	&.pb200 {
		padding-bottom: 200px;
	}

	&.pb340 {
		padding-bottom: 340px;
	}

	.label-text {
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
		&::after {
			display: inline-block;
			margin-left: 1.5px;
			font-size: 15px;
			color: #f00;
			content: '*';
		}
	}

	/* stylelint-disable scss/selector-no-redundant-nesting-selector */
	::v-deep .textarea__label {
		&::after {
			display: inline-block;
			margin-left: 1.5px;
			font-size: 15px;
			color: #f00;
			content: '*';
		}
	}

	::v-deep .ct-form-input-hour {
		.ct-input__body {
			width: 100px;
		}
	}

	::v-deep .consultant-menu .menu__content {
		z-index: 21;
	}

	::v-deep .input-textarea .textarea__input {
		min-height: 75px;
	}
	/* stylelint-enable scss/selector-no-redundant-nesting-selector */
}
</style>
