<template>
	<section class="area-body">
		<button-select-option
			:options="options"
			:text="selectedAreaTitle"
			modal-title="Pilih Kota"
			:on-click-option="handleSelectOption"
		/>
		<area-list :areas="filteredAreas" />
	</section>
</template>

<script>
import AreaList from '../AreaList';
import ButtonSelectOption from './ButtonSelectOption';

const DEFAULT_OPTION = 'Semua Kota';

export default {
	components: {
		AreaList,
		ButtonSelectOption
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		areas: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			selectedAreaTitle: DEFAULT_OPTION,
			filteredAreas: this.areas
		};
	},
	computed: {
		options() {
			return this.areas.reduce(
				(areaTitles, area, index) => {
					areaTitles.push(area.title);

					return areaTitles;
				},
				[DEFAULT_OPTION]
			);
		}
	},
	methods: {
		handleSelectOption(option, index) {
			this.selectedAreaTitle = option;
			this.filteredAreas =
				option === DEFAULT_OPTION ? this.areas : [this.areas[index - 1]];
		}
	}
};
</script>

<style lang="scss" scoped>
.area-body {
	padding: 16px;

	.button-select {
		margin-bottom: 24px;
	}
}
</style>
