<template>
	<div id="home">
		<global-navbar
			fixed
			:overlay="navigator.isMobile"
			:max-width="1138"
			homepage-style
			need-brand-mobile
			need-back-arrow
			need-bottom-navigation
			:need-chat-feature="false"
			:need-favourite-feature="false"
			redirection-source-navbar="homepage"
			@setLeftPoint="setLeftPoint"
		/>
		<template v-if="isMobile">
			<product-search
				:user-name="userName"
				:open-modal-search="openSearchModal"
			/>

			<promo-banner
				v-if="promoBanners && promoBanners.length > 0"
				:banners="promoBanners"
				:on-click-banner="handleClickBanner"
			/>
		</template>

		<template v-else>
			<promo-banner
				:open-modal-search="openSearchModal"
				:banners="promoBanners"
				:on-click-banner="handleClickBanner"
				:left-point="leftPoint"
			/>
		</template>

		<dbet-status-alert v-if="isTenant" />

		<draft-booking-shortcut v-if="isTenant" />

		<login-owner-c-t-a v-if="!isLogin && isMobile" />
		<flash-sale @toggleLoginModal="openModalLogin" />
		<testimonial
			v-if="!isLogin && testimonies && testimonies.length > 0"
			:testimonies="testimonies"
		/>

		<recommendation @toggleLoginModal="openModalLogin" />

		<promoted @toggleLoginModal="openModalLogin" />

		<popular-area />

		<kost-near-campus />

		<home-article></home-article>

		<mami-footer></mami-footer>

		<keep-alive>
			<search-box-modal
				:is-shown="isSearchModalShow"
				:criteria-gender="'all'"
				redirection-source="homepage"
				@hide-modal="closeSearchModal"
			></search-box-modal>
		</keep-alive>
		<login-user :show-modal="isModalLogin" @close="closeModalLogin">
		</login-user>
	</div>
</template>

<script>
/* eslint-disable no-undef */
import _get from 'lodash/get';

/* istanbul ignore next */
import LoginOwnerCTA from './mobile/LoginOwnerCTA';
/* istanbul ignore next */
import PopularArea from './PopularArea';
/* istanbul ignore next */
import HomeArticle from './HomeArticle';
/* istanbul ignore next */
import KostNearCampus from './KostNearCampus';

const GlobalNavbar = () => import('Js/@components/GlobalNavbar');
/* istanbul ignore next */
const MamiFooter = () => import('Js/@components/MamiFooter');
/* istanbul ignore next */
const SearchBoxModal = () => import('Js/@components/SearchBoxModal');
/* istanbul ignore next */
const LoginUser = () =>
	import(
		/* webpackChunkName: "detail_LoginUser" */ 'Js/@global/components/LoginUser'
	);

/* istanbul ignore next */
const Testimonial = () => import('./Testimonial');

const isMobile = navigator.isMobile || window.innerWidth < 768;

export default {
	components: {
		HomeArticle,
		KostNearCampus,
		LoginOwnerCTA,
		MamiFooter,
		PopularArea,
		PromoBanner: () =>
			isMobile
				? import('./mobile/PromoBanner')
				: import('./desktop/HomeTopSection'),
		ProductSearch: () =>
			isMobile
				? import('./mobile/ProductSearch')
				: import('./desktop/ProductSearch'),
		Promoted: () =>
			isMobile ? import('./mobile/Promoted') : import('./desktop/Promoted'),
		Recommendation: () =>
			isMobile
				? import('./mobile/Recommendation')
				: import('./desktop/Recommendation'),
		SearchBoxModal,
		Testimonial,
		LoginUser,
		DraftBookingShortcut: () =>
			import('./draft-booking-shortcut/DraftBookingShortcut'),
		FlashSale: () =>
			isMobile ? import('./mobile/FlashSale') : import('./desktop/FlashSale'),
		GlobalNavbar,
		DbetStatusAlert: () => import('./DbetStatusAlert')
	},

	data() {
		return {
			isSearchModalShow: false,
			promoBanners: [],
			testimonies: [],
			leftPoint: 0,
			isModalLogin: false
		};
	},

	computed: {
		userName() {
			return _get(authData, 'all.name');
		},
		isLogin() {
			return _get(authCheck, 'all');
		},
		isTenant() {
			return _get(authCheck, 'user');
		},
		isOwner() {
			return _get(authCheck, 'owner', false);
		},
		isMobile() {
			tracker('moe', [
				'Homepage',
				{
					is_login: this.isLogin,
					user_location_city: '',
					interface: this.navigator.isMobile ? 'mobile' : 'desktop',
					is_owner: this.isLogin ? this.isOwner : null
				}
			]);

			return this.navigator.isMobile;
		}
	},

	created() {
		this.getPromoBanners();
		this.getTestimonies();
	},

	methods: {
		setLeftPoint(point) {
			this.leftPoint = point;
		},
		closeModalLogin() {
			this.isModalLogin = false;
		},
		openModalLogin() {
			this.isModalLogin = true;
		},
		getPromoBanners() {
			axios
				.get('/events')
				.then(response => {
					this.promoBanners = _get(response, 'data.homes.posters', []);
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		getTestimonies() {
			axios
				.get('/testimony')
				.then(response => {
					this.testimonies = _get(response, 'data.testimonies', []);
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		},
		handleClickBanner(banner, bannerIndex) {
			tracker('moe', [
				'Banner Click',
				{
					banner_name: banner.title,
					banner_order: bannerIndex,
					is_owner: this.isLogin ? this.isOwner : null
				}
			]);

			window.location.href = banner.scheme;
		},
		openSearchModal() {
			this.isSearchModalShow = true;
		},
		closeSearchModal() {
			this.isSearchModalShow = false;
		}
	}
};
</script>

<style lang="scss">
@import '~swiper/dist/css/swiper.css';
#home {
	#login {
		.modal-dialog {
			margin-top: 25vh;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.container {
		padding-right: 16px;
		padding-left: 16px;
	}

	padding-bottom: 30px;
}
</style>

<style lang="scss" scoped>
.content-container {
	padding-top: 106px;
}
</style>
