<template>
	<div
		v-if="isShowDbetAlert"
		class="dbet-status-alert container"
		:class="statusClass"
	>
		<bg-alert
			:variant="statusData.type"
			:description="statusData.description"
			:closable="statusData.closable"
			class="col-md-8"
			@close="onAlertClosed"
		>
			<template #footer>
				<bg-link @click="openChat">
					<bg-text size="body-1" tag="span">Hubungi Pemilik</bg-text>
				</bg-link>
			</template>
		</bg-alert>
	</div>
</template>

<script>
import _get from 'lodash/get';
import * as storage from 'Js/@utils/storage';

import { BgAlert, BgLink, BgText } from 'bangul-vue';
import MixinOpenChat from 'Js/@mixins/MixinOpenChat';

export default {
	components: {
		BgAlert,
		BgLink,
		BgText
	},
	mixins: [MixinOpenChat],
	data() {
		return {
			statusDisclaimer: {
				pending: {
					type: 'info',
					closable: false,
					description:
						'Data dirimu berhasil dikirim ke pemilik. Mohon menunggu konfirmasi.'
				},
				rejected: {
					type: 'error',
					closable: true,
					description:
						'Data kontrak tidak disetujui oleh pemilik kos. Hubungi pemilik kos untuk info mengenai data yang kamu isi.'
				}
			},
			dbetRequestId: '',
			status: '',
			groupChannelUrl: '',
			localStorageKey: 'home_dbet_alert_close',
			isShowDbetAlert: false
		};
	},
	computed: {
		statusData() {
			return this.status ? this.statusDisclaimer[this.status] || null : null;
		},
		statusClass() {
			return this.status ? `dbet-status-alert--${this.status}` : '';
		}
	},
	created() {
		this.getDbetRequestState();
	},
	methods: {
		openChat() {
			if (this.groupChannelUrl) {
				this.openGroupChannel(this.groupChannelUrl);
			}
		},
		onAlertClosed() {
			this.setLocalStorageDbetId();
			this.isShowDbetAlert = false;
		},
		getLocalStorageDbetId() {
			return storage.local.getItem(this.localStorageKey) || '';
		},
		setLocalStorageDbetId() {
			if (this.dbetRequestId) {
				storage.local.setItem(this.localStorageKey, String(this.dbetRequestId));
			}
		},
		removeLocalStorageDbetState() {
			storage.local.removeItem(this.localStorageKey);
		},
		getDbetAlertShowState() {
			if (!this.statusData || !this.dbetRequestId) return false;

			if (this.status === 'pending') {
				this.removeLocalStorageDbetState();
				return true;
			} else {
				const storedDbetId = this.getLocalStorageDbetId();
				if (!storedDbetId) return true;
				else if (String(storedDbetId) !== String(this.dbetRequestId)) {
					this.removeLocalStorageDbetState();
					return true;
				}
				return false;
			}
		},
		async getDbetRequestState() {
			try {
				const response = await axios.get('/user/contract-submission/shortcut');
				const responseStatus = _get(response, 'data.status', false);

				if (responseStatus) {
					this.status = _get(response, 'data.data.status', '');
					this.dbetRequestId = _get(response, 'data.data.id', '');
					this.groupChannelUrl = _get(
						response,
						'data.data.group_channel_url',
						''
					);
					const roomName = _get(response, 'data.data.room_name', '');
					if (this.status === 'pending') {
						this.statusDisclaimer.pending.description = `Data dirimu berhasil dikirim ke pemilik ${roomName}. Mohon menunggu konfirmasi.`;
					}
					this.isShowDbetAlert = this.getDbetAlertShowState();
				}
			} catch (error) {
				bugsnagClient.notify(error);
			}
		}
	}
};
</script>

<style lang="scss">
.dbet-status-alert {
	&--rejected {
		.bg-c-alert__content-description {
			padding-right: 24px;
			word-break: break-word;
		}
	}
}
</style>

<style lang="scss" scoped>
.dbet-status-alert {
	margin-bottom: 60px;
}
</style>
