<template>
	<section class="article">
		<div class="hidden-md hidden-lg article-mobile">
			<h4 class="container-fluid text-primary text-center">
				<strong>Mamikos - Aplikasi Pencari Info Kost No 1 Di Indonesia</strong>
			</h4>

			<accordion type="default" class="container-fluid stretch">
				<panel header="Tentang Mamikos">
					<p>
						MAMIKOS menyajikan informasi Kamar kosan, lengkap dengan fasilitas
						kost, harga kost, dan dekorasi kamar beserta foto desain kamar yang
						sebisa mungkin menggambarkan kondisi sebenarnya. Kami memiliki tim,
						Agen dan Mamichecker, yang saat ini mengunjungi, memastikan dan
						mengecek properti kost satu per satu. Adapun kost yang sudah dicek
						memiliki tanda Mamichecker. Informasi ketersediaan kamar kost dan
						harga kost kami upayakan selalu update untuk memastikan info kost
						kami akurat dan bermanfaat untuk anak kost. Saat ini kami memiliki
						lebih dari 100.000+ info kost dan masih terus bertambah di
						Indonesia. Data kamar kosan yang kami miliki telah mencakup Kost di
						Depok, Kost Jakarta, Kost Jogja, hingga Kost Bandung dan Kost di
						Surabaya. Pengembangan data kosan masih terus kami usahakan. Namun
						demikian, kamu dapat request penambahan info kosan di seputar area
						yang kamu inginkan dengan mengisi data di
						<a
							href="http://bit.ly/komplainform"
							target="_blank"
							rel="nofollow noopener noreferrer"
						>
							Form Komplain.
						</a>
						Kamu juga dapat menambahkan masukan, saran dan kritikan untuk
						mamikos di form tersebut. Dukungan kamu, akan mempercepat
						pengembangan data kosan yang kami miliki.
					</p>

					<p>
						Jika kamu ingin mendapatkan inspirasi desain kamar minimalis atau
						kamar kost minimalis kamu bisa cek kost eksklusif yang ada di
						Mamikos. Dengan luas ruangan yang hampir sama, kebanyakan Kamar kost
						eksklusif hanya diberikan desain kamar atau dekorasi kamar yang
						lebih menarik, ditambah tempat tidur beserta atributnya dan kamar
						mandi dalam plus AC, dengan tambahan internet. kosan ini tentunya
						dapat menjadi alternatif untuk kamu anak kost yang ingin mendesain
						kamar kost minimalis namun tetap eksklusif. Di Mamikos kini juga
						telah ditambahkan berbagai info kosan dengan harga murah ataupun
						beberapa tipe kosan lain sesuai masukan dari pengguna Mamikos.
					</p>
				</panel>

				<panel header="Informasi Akurat Mamikos">
					<p>Berbagai Informasi akurat yang dapat kamu lihat di Mamikos :</p>
					<ul>
						<li>
							Alamat Rumah Kost yang Akurat dilengkapi peta lokasi kost yang
							relevan
						</li>
						<li>Foto-foto lengkap fasilitas kosan dan desain kamar kost</li>
						<li>Harga Kost yang selalu diupdate</li>
						<li>
							Informasi ketersediaan kamar kost yang selalu diupdate 2 minggu
							sekali
						</li>
						<li>
							Layanan Customer Service yang lebih terintegrasi melalui chat
							(Maksimal pelayanan 1 x 24 jam)
						</li>
						<li>Google Map untuk membantu navigasi kamu ke kosan</li>
						<li>
							Filter pencarian kost untuk membantumu menemukan kosan idamanmu
						</li>
						<li>
							Penambahan fitur clustering atau pengelompokan kost untuk
							mempermudah pencarian dan mempercepat loading
						</li>
					</ul>
				</panel>

				<panel header="Fitur Pencarian Mamikos">
					<p>Fitur Pencarian kosan di Mamikos:</p>
					<ul>
						<li>Cari kost dekat Kampus/Universitas di masing-masing kota</li>
						<li>
							Cari kost di Jogja, Depok, Jakarta, Surabaya, Bandung, dan Kota
							besar lainnya
						</li>
						<li>Cari kost di sekitar lokasi saya saat ini</li>
						<li>
							Fitur Berlangganan (dapatkan update info kosan yang kamu inginkan
							lewat email)
						</li>
						<li>
							Fitur Favorit kost (sukai dan simpan kamar kost yang kamu suka)
						</li>
						<li>
							Fitur History (tampilkan kembali kosan yang pernah kamu kunjungi
							atau pernah kamu hubungi)
						</li>
						<li>
							Filter Pencarian Kost berdasarkan Tipe Kost (Kost Putra, Kost
							Putri, Kost Campur), Spesifikasi Kost (Kost Bebas, Kost Pasutri,
							Kost AC, Kost Kamar mandi dalam, Kost Wifi dll), Tipe Pembayaran
							Kost (Kost Harian, Kost Bulanan, Kost Tahunan)
						</li>
					</ul>
				</panel>
			</accordion>
		</div>

		<div class="hidden-xs hidden-sm container-fluid">
			<div class="col-md-6">
				<p><b>Mamikos - Aplikasi Pencari Info Kost No 1 Di Indonesia</b></p>

				<p>
					MAMIKOS menyajikan informasi Kamar kosan, lengkap dengan fasilitas
					kost, harga kost, dan dekorasi kamar beserta foto desain kamar yang
					sebisa mungkin menggambarkan kondisi sebenarnya. Kami memiliki tim,
					Agen dan Mamichecker, yang saat ini mengunjungi, memastikan, dan
					mengecek properti kost satu per satu. Adapun kost yang sudah dicek
					memiliki tanda Mamichecker. Informasi ketersediaan kamar kost dan
					harga kost kami upayakan selalu update untuk memastikan info kost kami
					akurat dan bermanfaat untuk anak kost. Saat ini kami memiliki lebih
					dari 100.000+ info kost dan masih terus bertambah di Indonesia. Data
					kamar kosan yang kami miliki telah mencakup kost di Depok, Kost
					Jakarta, Kost Jogja, hingga Kost Bandung dan Kost di Surabaya.
					Pengembangan data kosan masih terus kami usahakan. Namun demikian,
					kamu dapat request penambahan info kosan di seputar area yang kamu
					inginkan dengan mengisi data di
					<a
						href="http://bit.ly/komplainform"
						target="_blank"
						rel="nofollow noopener noreferrer"
					>
						Form Komplain.
					</a>
					Kamu juga dapat menambahkan masukan, saran dan kritikan untuk mamikos
					di form tersebut. Dukungan kamu, akan mempercepat pengembangan data
					kosan yang kami miliki.
				</p>

				<p>
					Jika kamu ingin mendapatkan inspirasi desain kamar minimalis atau
					kamar kost minimalis kamu bisa cek kost eksklusif yang ada di Mamikos.
					Dengan luas ruangan yang hampir sama, kebanyakan Kamar kost eksklusif
					hanya diberikan desain kamar atau dekorasi kamar yang lebih menarik,
					ditambah tempat tidur beserta atributnya dan kamar mandi dalam plus
					AC, dengan tambahan internet. kosan ini tentunya dapat menjadi
					alternatif untuk kamu anak kost yang ingin mendesain kamar kost
					minimalis namun tetap eksklusif. Di Mamikos kini juga telah
					ditambahkan berbagai info kosan dengan harga murah ataupun beberapa
					tipe kosan lain sesuai masukan dari pengguna Mamikos.
				</p>
			</div>

			<div class="col-md-6">
				<p>Berbagai Informasi akurat yang dapat kamu lihat di Mamikos :</p>
				<ul>
					<li>
						Alamat Rumah Kost yang Akurat dilengkapi peta lokasi kost yang
						relevan
					</li>
					<li>Foto-foto lengkap fasilitas kosan dan desain kamar kost</li>
					<li>Harga Kost yang selalu diupdate</li>
					<li>
						Informasi ketersediaan kamar kost yang selalu diupdate 2 minggu
						sekali
					</li>
					<li>
						Layanan Customer Service yang lebih terintegrasi melalui chat
						(Maksimal pelayanan 1 x 24 jam)
					</li>
					<li>Google Map untuk membantu navigasi kamu ke kosan</li>
					<li>
						Filter pencarian kost untuk membantumu menemukan kosan idamanmu
					</li>
					<li>
						Penambahan fitur clustering atau pengelompokan kost untuk
						mempermudah pencarian dan mempercepat loading
					</li>
				</ul>

				<p>Fitur Pencarian kosan di Mamikos:</p>
				<ul>
					<li>Cari kost dekat Kampus/Universitas di masing-masing kota</li>
					<li>
						Cari kost di Jogja, Depok, Jakarta, Surabaya, Bandung, dan Kota
						besar lainnya
					</li>
					<li>Cari kost di sekitar lokasi saya saat ini</li>
					<li>
						Fitur Berlangganan (dapatkan update info kosan yang kamu inginkan
						lewat email)
					</li>
					<li>
						Fitur Favorit kost (sukai dan simpan kamar kost yang kamu suka)
					</li>
					<li>
						Fitur History (tampilkan kembali kosan yang pernah kamu kunjungi
						atau pernah kamu hubungi)
					</li>
					<li>
						Filter Pencarian Kost berdasarkan Tipe Kost (Kost Putra, Kost Putri,
						Kost Campur), Spesifikasi Kost (Kost Bebas, Kost Pasutri, Kost AC,
						Kost Kamar mandi dalam, Kost Wifi dll), Tipe Pembayaran Kost (Kost
						Harian, Kost Bulanan, Kost Tahunan)
					</li>
				</ul>
			</div>
		</div>

		<div class="clearfix"></div>
	</section>
</template>

<script>
import { accordion, panel } from 'vue-strap';

export default {
	components: {
		accordion,
		panel
	}
};
</script>

<style lang="scss">
.article-mobile {
	.panel-group {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin-bottom: 0;

		.panel {
			border-radius: 0;
			border-right: none;
			border-left: none;
			margin: 0;

			> .panel-heading {
				padding: 2rem 1.5rem;
				border: none;
				color: #888;

				> .panel-title {
					text-align: center;
				}
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.article {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@media (min-width: 992px) {
		background-color: whitesmoke;
	}

	h4 {
		margin-top: 0;
	}
}
</style>
