<template>
	<section class="kost-near-campus container">
		<title-section text="Kos Sekitar Kampus" />
		<div class="popular-campus">
			<a
				v-for="(campus, i) in popularCampus"
				:key="i"
				class="popular-campus-item"
				:href="campus.url"
				@click="handleMoEngage(campus)"
			>
				<img
					v-lazy="{
						src: campus.imgSrc,
						error: '/general/img/pictures/placeholder/placeholder_loading.svg'
					}"
					:alt="campus.name"
				/>
				<div>
					<h3>{{ campus.name }}</h3>
					<h3>{{ campus.location }}</h3>
				</div>
			</a>

			<a href="/kampus" class="kost-kampus-home link-cta">
				<h3>
					Lihat semua →
				</h3>
			</a>
		</div>
	</section>
</template>

<script>
import _get from 'lodash/get';

import TitleSection from './TitleSection';

export default {
	components: {
		TitleSection
	},
	data() {
		return {
			popularCampus: [
				{
					name: 'UGM',
					location: 'Jogja',
					imgSrc: '/assets/logo-kampus/UGM.png',
					url: '/kost/kost-dekat-ugm-murah'
				},
				{
					name: 'UNDIP',
					location: 'Semarang',
					imgSrc: '/assets/logo-kampus/UNDIP.png',
					url: '/kost/kost-dekat-undip-semarang-murah'
				},
				{
					name: 'UI',
					location: 'Depok',
					imgSrc: '/assets/logo-kampus/UI.png',
					url: '/kost/kost-dekat-ui-depok-murah'
				},
				{
					name: 'UNPAD',
					location: 'Jatinagor',
					imgSrc: '/assets/logo-kampus/UNPAD.png',
					url: '/kost/kost-dekat-unpad-jatinangor-murah'
				},
				{
					name: 'STAN',
					location: 'Jakarta',
					imgSrc: '/assets/logo-kampus/STAN.png',
					url: '/kost/kost-dekat-stan-jakarta-murah'
				},
				{
					name: 'UB',
					location: 'Malang',
					imgSrc: '/assets/logo-kampus/UB.png',
					url: '/kost/kost-dekat-ub-malang-murah'
				},
				{
					name: 'UNAIR',
					location: 'Surabaya',
					imgSrc: '/assets/logo-kampus/UNAIR.png',
					url: '/kost/kost-dekat-unair-surabaya-murah'
				}
			]
		};
	},
	computed: {
		isOwner() {
			return _get(authCheck, 'owner');
		},
		isLogin() {
			return _get(authCheck, 'all');
		},
		imgPrefixPath() {
			return `/assets/area/${this.navigator.isMobile ? 'mobile' : 'desktop'}/`;
		}
	},
	methods: {
		handleMoEngage(campus) {
			const moEngageData = {
				city_name: campus.location,
				university_name: campus.name
			};

			if (this.isLogin) moEngageData.is_owner = this.isOwner;
			tracker('moe', ['Homepage Kos Near University', moEngageData]);
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-near-campus {
	margin-bottom: 36px;
}

.popular-campus {
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;

	@media (min-width: 768px) {
		margin-right: -24px;
	}

	.popular-campus-item {
		padding: 12px;
		border: 1px solid rgba(219, 219, 219, 0.92);
		border-radius: 8px;
		height: 68px;
		display: flex;
		align-items: center;
		transition: box-shadow 0.1s;
		flex: 1 0 40%;
		margin-right: 12px;
		margin-bottom: 12px;

		@media (min-width: 768px) {
			flex: 1 0 20%;
			padding: 20px;
			height: 104px;
			margin-right: 24px;
			margin-bottom: 24px;
		}

		img {
			margin-right: 8px;
			height: 32px;

			@media (min-width: 768px) {
				height: 52px;
				margin-right: 24px;
			}
		}

		h3 {
			font-size: 12px;
			line-height: 14px;
			color: #2e2d39;
			margin: 0;

			@media (min-width: 768px) {
				font-size: 16px;
				line-height: 19px;
			}
		}

		h3:first-child {
			font-weight: bold;
			margin-bottom: 4px;

			@media (min-width: 768px) {
				margin-bottom: 8px;
			}
		}

		&:hover {
			text-decoration: none;
			box-shadow: 0px 1px 8px rgba(153, 153, 153, 0.2),
				0px 3px 4px rgba(153, 153, 153, 0.12),
				0px 3px 3px rgba(153, 153, 153, 0.14);
		}
	}

	.link-cta {
		padding: 8px;
		border: 1px solid rgba(219, 219, 219, 0.92);
		color: #000000;
		border-radius: 8px;
		height: 68px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: box-shadow 0.1s;
		flex: 1 0 40%;
		margin-right: 12px;
		margin-bottom: 12px;

		@media (min-width: 768px) {
			flex: 1 0 20%;
			padding: 20px;
			height: 104px;
			margin-right: 24px;
			margin-bottom: 24px;
		}

		h3 {
			font-size: 16px;
			font-weight: bold;
			display: block;
			margin: auto;
		}

		&:hover {
			text-decoration: none;
			box-shadow: 0px 1px 8px rgba(153, 153, 153, 0.2),
				0px 3px 4px rgba(153, 153, 153, 0.12),
				0px 3px 3px rgba(153, 153, 153, 0.14);
		}
	}
}
</style>
