<template>
	<section id="testimonial" class="testimonial container">
		<title-section text="Kata Pemilik Kos" />

		<div class="testimonial-wrapper">
			<swiper
				ref="testimonial"
				:options="swiperOptions"
				@slideChange="handleMoEngage"
			>
				<swiper-slide
					v-for="(testimony, i) in testimonies"
					:key="i"
					class="testimonial-item"
				>
					<div class="testimonial-identity">
						<div
							v-lazy:background-image="{
								src: testimony.photo_url.small,
								error: '/assets/icons/ic_akun_user.png'
							}"
							class="identity-image"
						/>
						<div>
							<h3>{{ testimony.owner_name }}</h3>
							<p>{{ testimony.kost_name }}</p>
						</div>
					</div>
					<div class="testimonial-content">{{ testimony.quote }}</div>
				</swiper-slide>
			</swiper>
			<div
				slot="button-prev"
				class="testimonial-swiper-button-prev testimonial-swiper-arrow hidden-xs hidden-sm"
			>
				<icon-arrow-left />
			</div>
			<div
				slot="button-next"
				class="testimonial-swiper-button-next testimonial-swiper-arrow hidden-xs hidden-sm"
			>
				<icon-arrow-right />
			</div>
		</div>
		<div class="testimonial-cta">
			<link-c-t-a
				class="--mobile"
				gtm-tracking-class="pasang-iklan-homepage"
				text="Daftarkan Kos Sekarang"
				:on-click="handleClickRegister"
			/>
			<button-c-t-a
				class="--desktop"
				gtm-tracking-class="pasang-iklan-homepage"
				text="Daftarkan Kos Sekarang"
				:on-click="handleClickRegister"
			/>
		</div>
	</section>
</template>

<script>
import _get from 'lodash/get';

import IconArrowRight from 'Js/@icons/ArrowRight';
import IconArrowLeft from 'Js/@icons/ArrowLeft';
import TitleSection from './TitleSection';
import LinkCTA from 'Js/@components/LinkCTA';
import ButtonCTA from 'Js/@components/ButtonCTA';

export default {
	components: {
		IconArrowRight,
		IconArrowLeft,
		TitleSection,
		LinkCTA,
		ButtonCTA
	},
	props: {
		testimonies: {
			type: Array
		}
	},
	computed: {
		isOwner() {
			return _get(authCheck, 'owner');
		},
		isLogin() {
			return _get(authCheck, 'all');
		}
	},
	data() {
		return {
			swiperOptions: {
				slidesPerView: 3,
				spaceBetween: 24,
				navigation: {
					nextEl: '.testimonial-swiper-button-next',
					prevEl: '.testimonial-swiper-button-prev'
				}
			}
		};
	},
	created() {
		if (this.navigator && this.navigator.isMobile) {
			this.swiperOptions.feeMode = true;
			this.swiperOptions.slidesPerView = 'auto';
			this.swiperOptions.spaceBetween = 12;
		}
	},
	mounted() {
		if (this.navigator && this.navigator.isMobile) this.handleMoEngage(1);
	},
	methods: {
		handleMoEngage(index = null) {
			const moEngageData = {
				testimonial_nav_click: true
			};
			if (this.navigator && this.navigator.isMobile) {
				const swiper = this.$refs.testimonial.swiper;
				const swiperIndex = swiper.realIndex + 1;
				moEngageData.testimonial_order_seen = index || swiperIndex;
			}
			if (this.isLogin) moEngageData.is_owner = this.isOwner;
			tracker('moe', ['Homepage Owner Testimonial Click', moEngageData]);
		},

		handleClickRegister() {
			tracker('moe', [
				'Homepage Register Kos Click',
				{
					register_kos_click: true
				}
			]);

			window.location.href = '/promosi-kost';
		}
	}
};
</script>

<style lang="scss">
#testimonial {
	margin-bottom: 36px;

	@media (min-width: 768px) {
		margin-bottom: 60px;
	}

	.swiper-container {
		padding: 8px 16px 24px;
		margin: -8px -16px -24px;
	}

	.testimonial-swiper-arrow {
		background-image: none;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		z-index: 10;
	}

	.testimonial-swiper-button-prev {
		left: -20px;
	}

	.testimonial-swiper-button-next {
		right: -20px;
	}

	.swiper-button-disabled {
		display: none;
	}
}
</style>

<style lang="scss" scoped>
.testimonial {
	.testimonial-wrapper {
		color: #383746;
		position: relative;
	}

	.testimonial-item {
		padding: 20px;
		box-shadow: 0px 7px 8px rgba(153, 153, 153, 0.2),
			0px 5px 22px rgba(153, 153, 153, 0.12),
			0px 12px 17px rgba(153, 153, 153, 0.14);
		border-radius: 6px;
		background: #ffffff;
		height: auto;

		@media (max-width: 767px) {
			width: 282px !important;
			padding: 16px;
		}
	}

	.testimonial-identity {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		.identity-image {
			background-color: #999999;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 50%;
			margin-right: 16px;
			height: 66px;
			flex: 0 0 66px;

			@media (max-width: 767px) {
				flex: 0 0 56px;
				height: 56px;
			}
		}

		h3 {
			font-weight: bold;
			font-size: 16px;
			color: #383746;
			margin: 0;
			margin-bottom: 12px;

			@media (max-width: 767px) {
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 8px;
			}
		}

		p {
			font-weight: normal;
			font-style: italic;
			letter-spacing: 0.002em;
			color: #999999;
			margin: 0;
			font-size: 14px;
			line-height: 17px;

			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	.testimonial-cta {
		text-align: center;
		margin-top: 40px;

		.--desktop {
			display: inline-block;
		}

		.--mobile {
			display: none;
		}

		@media (max-width: 767px) {
			text-align: left;
			margin-top: 20px;

			.--desktop {
				display: none;
			}

			.--mobile {
				display: inline-block;
			}
		}
	}
}
</style>
