<template>
	<h2>
		{{ text }}
	</h2>
</template>

<script>
export default {
	props: {
		text: {
			type: String,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 34px;
	margin-top: 0px;
	margin-bottom: 32px;
	margin-top: 0;

	@media (max-width: 767px) {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}
}
</style>