<template>
	<div>
		<div class="col-xs-12 filter-container stretch">
			<div class="col-xs-12 col-md-12 stretch">
				<div
					v-if="filterActive.city"
					class="col-xs-12 col-sm-3 col-md-3 filter-component"
				>
					<label
						><h3><strong>Kota dan Area</strong></h3></label
					>
					<v-select
						id="areaFilter"
						v-model="filter.place"
						:options="place_select_items"
						:placeholder="'Cari kota disini...'"
					>
						<span slot="no-options">Kota yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<button
					type="button"
					class="btn btn-mamigreen btn-filter-toggle visible-xs"
					data-toggle="collapse"
					data-target="#filterHidden"
					@click="toggleFilter"
				>
					<span v-if="showSlide">Sembunyikan Filter</span>
					<span v-else>Lebih Banyak Filter</span>
					<i v-if="showSlide" class="fa fa-chevron-up"></i>
					<i v-else class="fa fa-chevron-down"></i>
				</button>
				<div id="filterHidden" class="collapse hidden-xs">
					<div
						v-if="filterActive.furnished"
						class="col-xs-12 col-sm-3 col-md-2 filter-component"
					>
						<label
							><h3><strong>Perabotan</strong></h3></label
						>
						<select v-model="filter.furnished" class="form-control">
							<option :value="'all'">Semua</option>
							<option :value="0">Not furnished</option>
							<option :value="2">Semi Furnished</option>
							<option :value="1">Furnished</option>
						</select>
					</div>

					<div
						v-if="filterActive.rentType"
						class="col-xs-12 col-sm-3 col-md-2 filter-component"
					>
						<label
							><h3><strong>Jangka Waktu</strong></h3></label
						>
						<select v-model="filter.rent_type" class="form-control">
							<option :value="0">Harian</option>
							<option :value="1">Mingguan</option>
							<option :value="2">Bulanan</option>
							<option :value="3">Tahunan</option>
						</select>
					</div>

					<div
						v-if="filterActive.sorting"
						class="col-xs-12 col-sm-3 col-md-2 filter-component"
					>
						<label
							><h3><strong>Urutkan</strong></h3></label
						>
						<select v-model="filter.sorting" class="form-control">
							<option :value="'-'">Acak</option>
							<option :value="'asc'">Harga Termurah</option>
							<option :value="'desc'">Harga Termahal</option>
							<option :value="'availability'">Kosong ke Penuh</option>
						</select>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-3 filter-price">
						<filter-price
							:property-type="'apartment'"
							:rent-type="filter.rent_type"
							@filterPrice="filterPriceRangeChanged"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from '../../event-bus/event-bus';

const FilterPrice = () => import('Js/@components/FilterPrice');

export default {
	components: {
		'v-select': vSelect,
		FilterPrice
	},
	data() {
		return {
			filterActive: {
				city: false,
				furnished: false,
				rentType: false,
				sorting: false
			},

			filter: {
				furnished: listingOptions.furnished,
				rent_type: 0,
				sorting: listingOptions.sorting,
				price_range: [0, 10000000],
				place: listingOptions.city
			},

			showSlide: false,

			place_select_items: []
		};
	},
	watch: {
		'filter.furnished'(item) {
			EventBus.$emit('filterApartmentFurnishedChanged', item);
		},
		'filter.rent_type'(item) {
			this.setInitialPrice(item);
			EventBus.$emit('filterApartmentRentTypeChanged', item);
		},
		'filter.sorting'(item) {
			EventBus.$emit('filterApartmentSortingChanged', item);
		},
		'filter.place'(item) {
			EventBus.$emit('filterApartmentPlaceChanged', item.value);
		},
		'filter.price_range'(item) {
			EventBus.$emit('filterApartmentPriceChanged', item);
		}
	},
	created() {
		this.setInitialPrice(this.filter.rent_type);
	},
	mounted() {
		this.getFilterActive();

		if (this.filterActive.city) {
			this.getFiltersList();
		}

		$('#filterHidden').on('show.bs.collapse', () => {
			this.showSlide = true;
		});
	},
	methods: {
		toggleFilter() {
			this.showSlide = !this.showSlide;
		},
		filterPriceRangeChanged(payload) {
			this.filter.price_range[0] = payload.min;
			this.filter.price_range[1] = payload.max;
			EventBus.$emit('filterApartmentPriceChanged', this.filter.price_range);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'all',
					eventLabel:
						'Min: ' +
						this.filter.price_range[0] +
						' & Max: ' +
						this.filter.price_range[1]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'min',
					eventLabel: this.filter.price_range[0]
				}
			]);

			tracker('ga', [
				'send',
				'event',
				{
					eventCategory: 'Price Filter',
					eventAction: 'max',
					eventLabel: this.filter.price_range[1]
				}
			]);
		},
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				for (const item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		getFilterActive() {
			if (listingOptions.active_filter.indexOf('city') > -1) {
				this.filterActive.city = true;
			}
			if (listingOptions.active_filter.indexOf('gender') > -1) {
				this.filterActive.furnished = true;
			}
			if (listingOptions.active_filter.indexOf('min_payment') > -1) {
				this.filterActive.rentType = true;
			}
			if (listingOptions.active_filter.indexOf('sorting') > -1) {
				this.filterActive.sorting = true;
			}
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		},
		setInitialPrice(item) {
			if (item === 3) {
				this.filter.price_range = [0, 1000000000];
			} else if (item === 2) {
				this.filter.price_range = [0, 75000000];
			} else if (item === 1) {
				this.filter.price_range = [0, 25000000];
			} else if (item === 0) {
				this.filter.price_range = [0, 1000000];
			}
		}
	}
};
</script>

<style scoped>
.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}
	.filter-component {
		padding-bottom: 6px;
	}
}

.refresh-button {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	color: #1baa56;
	margin-bottom: 5px;
	border: none;
	background-color: #fff;
}
.btn-filter-toggle {
	box-shadow: none !important;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}
</style>

<style>
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select.single .selected-tag {
	position: absolute;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
</style>
