<template>
	<div class="booking-card-skeleton">
		<skeleton-loader width="193px" height="28px" />
		<div class="booking-card-skeleton__inline">
			<skeleton-loader width="100%" height="48px" />
			<skeleton-loader width="100%" height="48px" />
		</div>
		<skeleton-loader width="100%" height="41px" />
		<skeleton-loader width="100%" height="48px" />
	</div>
</template>

<script>
import SkeletonLoader from 'Js/@components/SkeletonLoader';
export default {
	components: {
		SkeletonLoader
	}
};
</script>

<style lang="scss" scoped>
.booking-card-skeleton {
	padding: 20px 16px;

	&__inline {
		display: flex;
		justify-content: space-between;

		> *:not(:first-of-type) {
			margin-left: 25px;
		}
	}

	> * {
		&:nth-child(2) {
			margin: 20px 0 24px;
		}

		&:last-child {
			margin-top: 35px;
		}
	}
}
</style>
