<template>
	<div class="booking-card">
		<detail-kost-booking-card-skeleton v-if="isLoadingPriceEstimation" />
		<template v-else>
			<section class="booking-card__info">
				<div class="booking-card__info-price">
					<h5 class="booking-card__info-price-amount">
						{{ kostPriceAmountLabel }}
					</h5>
					<span class="booking-card__info-price-amount-unit"
						>/ {{ showedRentPrice ? showedRentPrice.unit : '' }}</span
					>
				</div>
				<div class="booking-card__info-select">
					<booking-input-checkin
						v-if="isCheckinDateFirst"
						ref="bookingDatePicker"
						class="booking-card__info-select-date"
						placeholder="Mulai kos"
						format="DD/MM/YY"
						is-absolute
						is-scroll-on-open
						is-close-from-outside
						:scroll-top-offset="74"
						:disabled="!isBbk"
						@date-selected="handleOnDateSelected"
					/>
					<detail-kost-booking-rent-type
						ref="bookingRentType"
						v-model="rentTypeParams"
						:placeholder="defaultRentTypeLabel"
						:options="availablePrices"
						@input="validateBookingCardInput"
					/>
				</div>
				<detail-kost-booking-disclaimer />
			</section>
			<hr v-if="selectedRentPrice" class="booking-card__content-separator" />
			<section class="booking-card__booking">
				<detail-kost-prices
					v-if="selectedRentPrice"
					:is-show-title="false"
					is-collapsed
				/>

				<div
					v-if="selectedRentPrice && nightValidation"
					class="booking-card__booking--after-night-validation"
				>
					<booking-after-night-validation :with-rules="true" />
					{{ nightValidation ? trackTimeWarningExecuted() : '' }}
				</div>

				<mami-button
					color="primary"
					size="large"
					block
					class="booking-card__booking-action track_request_booking"
					:disabled="isBookingDisabled"
					@click="handleBookingButtonClicked"
				>
					<h2 class="track_request_booking text-normalize">
						{{ bookingButtonText }}
					</h2>
				</mami-button>
			</section>
		</template>
	</div>
</template>

<script>
import EventBus from '../../../event-bus';
import _get from 'lodash/get';
import DetailKostBookingRentType from './DetailKostBookingRentType';
import DetailKostBookingDisclaimer from './DetailKostBookingDisclaimer';
import DetailKostBookingCardSkeleton from './DetailKostBookingCardSkeleton';
import DetailKostPrices from '../kost-price/DetailKostPrices';
import BookingInputCheckin from 'Js/_booking/request/components/booking-date/BookingInputCheckin';
import MixinPriceDetail from '../../../mixins/MixinPriceDetail';
import MamiButton from 'Js/@components/mami-components/MamiButton';
import BookingAfterNightValidation from 'Js/_booking/request/components/BookingAfterNightValidation.vue';
import MixinBookingAfterNightValidation from 'Js/_booking/request/mixins/MixinBookingAfterNightValidation';

export default {
	components: {
		DetailKostPrices,
		DetailKostBookingRentType,
		DetailKostBookingDisclaimer,
		DetailKostBookingCardSkeleton,
		BookingInputCheckin,
		MamiButton,
		BookingAfterNightValidation
	},
	mixins: [MixinPriceDetail, MixinBookingAfterNightValidation],
	computed: {
		showedRentPrice() {
			const rentType = this.rentTypeParams || this.defaultRentType;
			return rentType ? this.availablePrices[rentType] : {};
		},
		detailKost() {
			return _get(this.$store.state, 'detail', {});
		},
		kostPriceAmountLabel() {
			const formattedPrice = _get(this.showedRentPrice, 'priceFormatted', '');
			const currencySymbol = _get(this.showedRentPrice, 'currencySymbol', 'Rp');
			return `${currencySymbol}${formattedPrice}`;
		},
		isDailyOnly() {
			return (
				this.availablePriceKeys.length === 1 &&
				this.availablePriceKeys[0] === 'daily'
			);
		},
		isBbk() {
			return this.detailKost.is_booking;
		},
		isRoomAvailable() {
			const roomAvailable = this.detailKost.available_room;
			return !!roomAvailable && roomAvailable > 0;
		},
		isBookingDisabled() {
			return (
				this.isDailyOnly ||
				!this.availablePriceKeys.length ||
				this.rentTypeParams === 'daily' ||
				!this.isRoomAvailable ||
				!this.isBbk ||
				this.nightValidation
			);
		},
		bookingButtonText() {
			return process.env.MIX_BOOKING_BUTTON_TEXT || 'Ajukan Sewa';
		},
		checkinDate() {
			return _get(this.$store.state, 'params.checkin', '');
		},
		isCheckinDateFirst() {
			return _get(this.$store, 'state.isCheckinDateFirst', false);
		}
	},
	methods: {
		handleBookingButtonClicked() {
			if (this.validateBookingCardInput()) {
				EventBus.$emit('openBookingKost', {
					isAvailable: !this.isBookingDisabled
				});
			} else {
				EventBus.$emit('trackClickBooking');
			}
		},
		validateBookingCardInput() {
			if (this.isCheckinDateFirst) {
				if (!this.checkinDate) {
					this.openCheckinDatePicker();
					return false;
				}
			}

			if (!this.rentTypeParams) {
				this.openRentTypeOption();
				return false;
			}
			return true;
		},
		handleOnDateSelected() {
			this.$store.commit('setIsOverrideDraftCheckin', true);
			this.trackDateSelected();
			this.$nextTick(() => {
				this.validateBookingCardInput();
			});
		},
		trackDateSelected() {
			tracker('moe', [
				'[User] Booking - Click Booking on Datepicker',
				{
					property_type: this.detailType || '',
					property_id: _get(this.detailKost, '_id', ''),
					property_city: _get(this.detailKost, 'area_city', ''),
					property_subdistrict: _get(this.detailKost, 'area_subdistrict', ''),
					property_name: _get(this.detailKost, 'room_title', ''),
					property_monthly_price: _get(this.detailKost, 'price_monthly', 0),
					tenant_name: _get(this.$store.state, 'authData.all.name', ''),
					booking_checkin_time: this.checkinDate
						? new Date(this.checkinDate)
						: null,
					goldplus_status: _get(this.detailKost, 'level_info.name', ''),
					interface: 'desktop'
				}
			]);
		},
		openCheckinDatePicker() {
			this.$refs.bookingDatePicker.openDatePickerFromOutside();
		},
		openRentTypeOption() {
			this.$refs.bookingRentType.showRentTypeOptionsFromOutside();
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
.booking-card {
	& &__info-select-date {
		.booking-input-checkin__input {
			width: 100%;
			height: auto;
			padding: 12px 44px 12px 16px;
			font-size: 16px;
			line-height: 24px;
			color: #404040;
			cursor: pointer;
			background-color: #fff;
			border: 1px solid #dadada;
			border-radius: 4px;
		}
	}

	& &__booking {
		.detail-kost-prices__list:first-child {
			padding-top: 0;
		}
	}
}
</style>

<style lang="scss" scoped>
/* stylelint-disable max-nesting-depth */
.booking-card {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	background-color: #f6f6f6;
	border-radius: 8px;
	box-shadow: 0 -2px 40px rgba(0, 0, 0, 0.04), 0 16px 40px rgba(0, 0, 0, 0.06);

	> * {
		background: #fff;
	}

	&__info {
		padding: 20px;

		&-price {
			display: flex;
			font-size: 16px;
			line-height: 24px;
			align-items: center;
			color: #303030;
		}

		&-price-amount {
			margin: 0 4px 0 0;
			font-size: 20px;
			font-weight: 900;
			line-height: 28px;

			&-unit {
				text-transform: capitalize;
			}
		}

		&-select {
			display: flex;
			justify-content: space-between;

			> * {
				width: 100%;

				&:not(:first-child) {
					margin-left: 16px;
				}
			}
		}

		> * {
			margin: 0;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}

	&__booking {
		padding: 20px 16px;
	}

	&__content-separator {
		height: 8px;
		margin: 0;
		background-color: transparent;
		border: 0;
	}
}

.booking-card__booking--after-night-validation {
	margin-bottom: 20px;
}
</style>
