<template>
	<div
		class="booking-rent-type"
		data-path="ddl_bookingRentType"
		:class="{ '--open': isShowRentTypeOptions }"
		@click="showRentTypeOptions(!isShowRentTypeOptions)"
	>
		<input
			v-click-outside="handleClickOutside"
			class="booking-rent-type__input"
			type="text"
			readonly
			:placeholder="placeholder"
			:value="value && options[value] ? `per ${options[value].unit}` : ''"
		/>
		<div
			v-if="options"
			v-show="isShowRentTypeOptions"
			class="booking-rent-type__options"
		>
			<div
				v-for="price in options"
				:key="price.type"
				class="booking-rent-type__options-item"
			>
				<mami-radio
					v-model="selectedRentType"
					:selected-value="price.type"
					:data-path="`rdb_${price.type}BookingOption`"
				>
					{{ `Per ${price.unit}` }}
				</mami-radio>
			</div>
		</div>
	</div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
const MamiRadio = () =>
	import(
		/* webpackChunkName: "detail_MamiRadio" */ 'Js/@components/mami-components/MamiRadio'
	);

export default {
	directives: {
		ClickOutside
	},
	components: {
		MamiRadio
	},
	props: {
		options: {
			type: Object,
			default: null
		},
		value: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isShowRentTypeOptions: false,
			isOpenFromOutsite: false
		};
	},
	computed: {
		selectedRentType: {
			get() {
				return this.value;
			},
			set(rentType) {
				this.showRentTypeOptions(false);
				this.$emit('input', rentType);
			}
		}
	},
	methods: {
		showRentTypeOptions(state) {
			this.isShowRentTypeOptions = state;
		},
		showRentTypeOptionsFromOutside() {
			this.isOpenFromOutsite = true;
			this.showRentTypeOptions(true);
		},
		handleClickOutside() {
			if (!this.isOpenFromOutsite) {
				this.showRentTypeOptions(false);
			}

			this.isOpenFromOutsite = false;
		}
	}
};
</script>

<style lang="scss">
.booking-rent-type {
	& &__options-item {
		.mami-radio {
			width: 100%;
			padding: 8px;
			font-size: 16px;
			line-height: 24px;
			color: #303030;
			cursor: pointer;
			border-radius: 4px;

			&:hover {
				background-color: #f6f6f6;
			}

			/* stylelint-disable selector-max-compound-selectors */
			.mami-radio-icon {
				margin-right: 16px;
			}
		}
	}
}
</style>

<style lang="scss" scoped>
.booking-rent-type {
	position: relative;

	&__input,
	&__input:read-only {
		width: 100%;
		padding: 12px 44px 12px 16px;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
		text-transform: capitalize;
		cursor: pointer;
		background: #fff;
		border: 1px solid #dadada;
		border-radius: 4px;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #949494;
			opacity: 1;
		}
	}

	&::after {
		position: absolute;
		top: calc(50% - 3px);
		right: 16px;
		width: 0;
		height: 0;
		content: '';
		border-top: 6px solid #404040;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		transition: 0.25s;
	}

	&.--open::after {
		transform: rotate(180deg);
	}

	&__options {
		position: absolute;
		right: 0;
		z-index: 1;
		width: 334px;
		padding: 12px;
		margin-top: 4px;
		background-color: #fff;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
	}

	&__options-item {
		text-transform: capitalize;
	}
}
</style>
