<template>
	<div class="invoice-item">
		<div
			class="flex status"
			:class="{
				paid: item.status === 'paid',
				'not-paid': item.status !== 'paid'
			}"
		>
			<div v-if="item.status === 'paid'">Dibayar</div>
			<div v-if="item.status === 'unpaid'">Belum Dibayar</div>
			<div v-if="item.status === 'cancelled'">Dibatalkan</div>
			<div v-if="item.status === 'terminated'">Diakhiri</div>
			<div v-if="item.transfer_reference === 'not_in_mamipay'">
				Dibayar di Luar MamiPAY
			</div>
		</div>

		<div class="flex information">
			<div>
				Jumlah Tagihan
			</div>
			<div>
				Jatuh Tempo
			</div>
		</div>

		<div class="flex price">
			<div>{{ mixRupiahConverter(item.total_cost) }}</div>
			<div>{{ mixDateConverter(item.scheduled_date, true) }}</div>
		</div>

		<!-- <div class="copy-invoice">
			Invoice&nbsp;<a :href="" target="_blank">{{ noHttpText }}</a
			>&nbsp;<i class="mamikos-icon icon-copy" @click="copyLink"
				><span>Link copied</span></i
			>
		</div> -->

		<div v-if="isAdminConsultant" class="flex flag-note">
			<div>
				Catatan
			</div>
			<div @click="childClickOpenNotes">
				<i class="mamikos-icon icon-edit"></i>
			</div>
		</div>

		<div v-if="item.note" class="note-content">
			{{ noteDisplay }}&nbsp;<a v-if="hideExpand" @click="toggleShorten">{{
				noteLink
			}}</a>
		</div>

		<div
			v-if="item.status !== 'paid' && !cancelledTerminated && isAdminConsultant"
			class="change-price"
		>
			<div @click="handleChangeAmount">
				<i class="mamikos-icon icon-edit"></i>&nbsp;Ubah Harga Sewa
			</div>
			<div @click="handleChangeAdditionalCost">
				<i class="mamikos-icon icon-edit"></i>&nbsp;Ubah Biaya Lain
			</div>
		</div>

		<div v-if="showReminder" class="reminder-button">
			<Button
				large
				block
				:disabled="item.disabled"
				@click="childClickRemindTenant"
				>Ingatkan Penyewa</Button
			>
		</div>
	</div>
</template>

<script>
import Button from 'Consultant/components/ConsultantButton.vue';
import mixinConverter from 'Consultant/mixins/mixinConverter.js';

import { mapMutations, mapGetters } from 'vuex';

export default {
	name: 'InvoiceItem',

	components: {
		Button
	},

	mixins: [mixinConverter],

	props: {
		item: {
			type: Object,
			default: null
		},
		index: {
			type: Number,
			default: null
		},
		indexUnpaid: {
			type: Number,
			default: null
		},
		disableReminder: {
			type: Boolean,
			default: false
		},
		cancelledTerminated: {
			type: Boolean,
			default: false
		}
	},

	data() {
		return {
			checked: false,
			noteLong: '',
			noteShort: '',
			shorten: true
		};
	},

	computed: {
		...mapGetters(['isAdminConsultant']),

		noteDisplay() {
			return this.shorten ? this.noteShort : this.noteLong;
		},
		noteLink() {
			return this.shorten ? 'Selengkapnya' : 'Lebih sedikit';
		},
		noHttpText() {
			// if (this.item.link.indexOf('https://') !== -1) {
			// 	return this.item.link.substr(8);
			// }
			// return this.item.link;
			return '';
		},
		hideExpand() {
			return !(this.noteLong.length <= 80);
		},
		showReminder() {
			return (
				this.item.status !== 'paid' &&
				this.index === this.indexUnpaid &&
				!this.cancelledTerminated &&
				this.isAdminConsultant
			);
		}
	},

	created() {
		this.noteLong = this.item.note;
		this.noteShort = this.shortenNote(this.noteLong, 80);
	},

	beforeUpdate() {
		this.noteLong = this.item.note;
		this.noteShort = this.shortenNote(this.noteLong, 80);
	},

	methods: {
		...mapMutations('invoice', [
			'setUniqueId',
			'setAdditionalCost',
			'setAmount'
		]),

		shortenNote(str, maxLen, separator = ' ') {
			if (str.length <= maxLen) return str;
			return str.substr(0, str.lastIndexOf(separator, maxLen));
		},

		async copyLink(e) {
			if (!navigator.clipboard) {
				return;
			}

			const parent = e.target.parentNode;

			try {
				const text = parent.querySelector('a').getAttribute('href');
				await navigator.clipboard.writeText(text);
				parent.querySelector('span').classList.add('active');
				setTimeout(() => {
					parent.querySelector('span').classList.remove('active');
				}, 2000);
			} catch (error) {
				console.error('Copy failed', error);
			}
		},

		childClickOpenNotes() {
			this.$emit('childClickOpenNotes', this.item.id);
		},

		childClickRemindTenant() {
			this.$emit('childClickRemindTenant', this.item.id);
		},

		toggleShorten() {
			this.shorten = !this.shorten;
		},

		uniqueId() {
			return (
				Math.random()
					.toString(36)
					.substr(2, 5) +
				Math.random()
					.toString(36)
					.substr(2, 9)
			);
		},

		handleChangeAdditionalCost() {
			const uniqueId = 'invoice-' + this.uniqueId();
			this.setUniqueId(uniqueId);
			this.setAdditionalCost(this.item.additional_costs);
			setTimeout(() => {
				this.$router.push({
					name: 'invoice.edit-costs',
					params: {
						invoiceId: this.item.id
					},
					query: {
						unique_id: uniqueId,
						tenant_id: this.$route.params.id,
						from_booking: this.$route.params.booking,
						constract_status: this.$route.params.contract_status
					}
				});
			}, 0);
		},

		handleChangeAmount() {
			const uniqueId = 'invoice-' + this.uniqueId();
			this.setUniqueId(uniqueId);
			this.setAmount(this.item.amount);
			setTimeout(() => {
				this.$router.push({
					name: 'invoice.edit-amount',
					params: {
						invoiceId: this.item.id
					},
					query: {
						unique_id: uniqueId,
						tenant_id: this.$route.params.id,
						from_booking: this.$route.params.booking,
						constract_status: this.$route.params.contract_status
					}
				});
			}, 0);
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Sass/_mamikos-icon.scss';
@import 'Sass/_variables.scss';
@import 'Sass/_function.scss';

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	div {
		flex: 0 1 auto;
		&:last-child {
			text-align: right;
		}
	}
}

.invoice-item {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 8px rgba(36, 36, 36, 0.14);
	margin-bottom: 16px;
	&:last-child {
		margin-bottom: 24px;
	}
}

.status {
	padding: 8px 16px;
	margin-bottom: 24px;
	border-radius: 4px;
	div {
		&:first-child {
			font-weight: bold;
		}
	}

	&.paid {
		color: color(brand, primary);
		background-color: color(background, success);
	}
	&.not-paid {
		color: color(text, payment-warning);
		background-color: color(background, warning);
	}
}

.information {
	margin-bottom: 16px;
	color: color(text, information);
}

.price {
	align-items: baseline;
	margin-bottom: 16px;
	div:first-child {
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
	}
	div:last-child {
		font-size: 16px;
		font-weight: bold;
	}
}

.copy-invoice {
	margin-bottom: 16px;
	a {
		font-weight: bold;
		color: color(brand, primary);
	}
	.mamikos-icon {
		padding: 2px;
		font-size: 16px;
		color: color(brand, primary);
		vertical-align: baseline;
		cursor: pointer;
		position: relative;
	}
	span {
		padding: 0 3px;
		color: #fff;
		pointer-events: none;
		background-color: color(brand, primary);
		border-radius: 2px;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 85px;
		text-align: center;
	}
	.active {
		opacity: 0.7;
		transition: opacity 0.2s ease-in-out;
	}
}

.flag-mamipay {
	margin-bottom: 20px;
	.custom-checkbox {
		label::after {
			position: static;
			display: block;
		}
	}
}

.flag-note {
	margin-bottom: 16px;
	.mamikos-icon {
		font-size: 24px;
		cursor: pointer;
	}
}

.change-price {
	display: table;
	width: 100%;
	margin-bottom: 16px;
	border-top: 1px solid color(border, grey);
	border-bottom: 1px solid color(border, grey);
	div {
		display: table-cell;
		width: 50%;
		padding: 10px;
		font-weight: bold;
		color: color(brand, primary);
		text-align: center;
		cursor: pointer;
		&:first-child {
			padding-left: 0;
			border-right: 1px solid color(border, grey);
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

.note-content {
	border-bottom: 2px solid #ddd;
	padding-bottom: 8px;
	margin-bottom: 16px;
}
</style>