<template>
	<div class="invoice-profile">
		<div
			class="profile-container"
			:class="{ disabled: disableProfileDetail }"
			@click="childProfileClick"
		>
			<div class="avatar">
				<img :src="avatarImage" :alt="`Avatar ${profileName}`" />
			</div>

			<div class="information">
				<p class="name">{{ profileName }}</p>
				<p class="link-indicator">Lihat Profil Penyewa</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'InvoiceProfile',

	props: {
		disableProfileDetail: {
			type: Boolean,
			default: false
		},
		avatarImage: {
			type: String,
			default: ''
		},
		profileName: {
			type: String,
			default: ''
		}
	},

	methods: {
		childProfileClick() {
			this.$emit('childProfileClick');
		}
	}
};
</script>

<style lang="scss" scoped>
@import 'Sass/_variables.scss';
@import 'Sass/_function.scss';

.profile-container {
	padding: 16px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 8px 24px rgba(56, 55, 70, 0.1);

	&.disabled {
		pointer-events: none;
		.link-indicator {
			color: color(link, disabled);
		}
	}

	.avatar {
		position: relative;
		float: left;
		width: 60px;
		height: 60px;
		overflow: hidden;
		border-radius: 50%;
		img {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
		}
	}

	.information {
		min-height: 60px;
		padding-left: 76px;
		min-height: 60px;
		padding-left: 76px;
	}

	.name {
		margin-bottom: 11px;
		font-weight: bold;
	}

	.link-indicator {
		margin-bottom: 0;
		font-size: 12px;
		font-weight: bold;
		color: color(link, active);
	}
}
</style>
