<template>
	<section id="feature" class="container">
		<div class="advantages">
			<landing-billing-advantages-mobile
				v-if="isMobile"
				:advantages="list"
			></landing-billing-advantages-mobile>
			<landing-billing-advantages-desktop
				v-else
				:advantages="list"
				:start-index="startIndex"
			></landing-billing-advantages-desktop>
		</div>
	</section>
</template>

<script>
import LandingBillingAdvantagesMobile from './LandingBillingAdvantagesMobile';
import LandingBillingAdvantagesDesktop from './LandingBillingAdvantagesDesktop';

export default {
	name: 'LandingBillingAdvantage',

	components: {
		LandingBillingAdvantagesMobile,
		LandingBillingAdvantagesDesktop
	},

	data() {
		return {
			startIndex: 0,
			list: [
				{
					title: 'Kelola Tagihan',
					description:
						'Atur semua tagihan sewa kos Anda langsung di satu tempat.',
					image: {
						src:
							'/general/img/pictures/landing-billing/advantages/webp/landing-billing-kelola-tagihan.webp',
						error:
							'/general/img/pictures/landing-billing/advantages/jpg/landing-billing-kelola-tagihan.jpg'
					},
					hasVideo: false
				},
				{
					title: 'Kelola Penyewa',
					description: 'Lihat seluruh detail info dan chat penyewa Kos Anda.',
					image: {
						src:
							'/general/img/pictures/landing-billing/advantages/webp/landing-billing-kelola-penyewa.webp',
						error:
							'/general/img/pictures/landing-billing/advantages/jpg/landing-billing-kelola-penyewa.jpg'
					},
					hasVideo: false
				},
				{
					title: 'Laporan Keuangan',
					description:
						'Pembukuan pengeluaran dan penghasilan kos secara otomatis dan terstruktur.',
					image: {
						src:
							'/general/img/pictures/landing-billing/advantages/webp/landing-billing-laporan-keuangan.webp',
						error:
							'/general/img/pictures/landing-billing/advantages/jpg/landing-billing-laporan-keuangan.jpg'
					},
					hasVideo: false
				},
				{
					title: 'Pengingat Pembayaran',
					description:
						'Ingatkan penyewa Anda untuk membayar tagihan sewa kos tanpa repot.',
					image: {
						src:
							'/general/img/pictures/landing-billing/advantages/webp/landing-billing-pengingat-pembayaran.webp',
						error:
							'/general/img/pictures/landing-billing/advantages/jpg/landing-billing-pengingat-pembayaran.jpg'
					},
					hasVideo: false
				},
				{
					title: 'Kelola Booking',
					description:
						'Terima dan tolak permintaan sewa kos Anda di mana dan kapan saja.',
					image: {
						src:
							'/general/img/pictures/landing-billing/advantages/webp/landing-billing-kelola-booking.webp',
						error:
							'/general/img/pictures/landing-billing/advantages/jpg/landing-billing-kelola-booking.jpg'
					},
					hasVideo: false
				}
			]
		};
	},

	computed: {
		isMobile() {
			return navigator.isMobile || window.innerWidth < 768;
		}
	}
};
</script>

<style lang="scss" scoped>
.advantages {
	margin-top: 44px;
	padding: 60px 45px;

	@media (max-width: 769px) {
		margin-top: 28px;
		padding: 0;
	}
}
</style>
