<template>
	<div id="advantage-mobile" class="advantage-mobile">
		<swiper class="swiper" :options="swiperOption">
			<swiper-slide v-for="(advantage, index) in advantages" :key="index">
				<div class="advantage-mobile__content">
					<h5 class="advantage-mobile__title">{{ advantage.title }}</h5>
					<p class="advantage-mobile__description">
						{{ advantage.description }}
					</p>
				</div>
				<div class="advantage-mobile__image-container">
					<img
						v-lazy="advantage.image"
						class="advantage-mobile__image"
						alt="adventages"
					/>
				</div>
			</swiper-slide>
			<div slot="pagination" class="swiper-pagination"></div>
		</swiper>
	</div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';

export default {
	components: {
		swiper,
		swiperSlide
	},

	filters: {
		padNumber(val) {
			const queue = val + 1;
			return String(queue).padStart(2, '0');
		}
	},

	props: {
		advantages: {
			type: Array,
			required: true
		}
	},

	data() {
		return {
			swiperOption: {
				spaceBetween: 30,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				}
			}
		};
	}
};
</script>

<style lang="scss">
.swiper-pagination {
	position: initial;
	margin-top: 40px;

	&-bullet-active {
		background-color: #1baa56;
	}
}
</style>

<style lang="scss" scoped>
.advantage-mobile {
	margin-bottom: 40px;

	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
		color: #404040;
	}

	&__description {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 48px;
		color: #303030;
		min-height: 128px;
	}

	&__image {
		max-width: 100%;
		max-height: 278px;

		&-container {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}
</style>
