<template>
	<div class="add-potential-property">
		<div v-if="loadingGetProperty" class="row form-container">
			<div v-for="i in 5" :key="i" class="col-xs-12">
				<shimmer height="20px" width="80%"></shimmer>
			</div>
		</div>
		<div v-else class="row form-container">
			<div class="col-xs-12 mb-1">
				<ct-input-text
					v-model="property.name"
					v-validate="`required`"
					label="Nama Properti"
					placeholder="Masukkan Nama Properti"
					data-vv-name="name"
					data-vv-scope="potentialProperty"
					data-vv-as="Nama Properti"
					:invalid-message="errors.first('potentialProperty.name')"
					:disabled="isEdit"
					outlined
				></ct-input-text>
			</div>

			<div class="col-xs-12 mb-1">
				<ct-input-text
					v-model="property.address"
					v-validate="`required`"
					label="Alamat Lengkap"
					placeholder="Isi alamat properti di sini"
					data-vv-name="address"
					data-vv-scope="potentialProperty"
					data-vv-as="Alamat Lengkap"
					:invalid-message="errors.first('potentialProperty.address')"
					:disabled="isEdit"
					outlined
				></ct-input-text>
			</div>

			<div class="col-xs-12 mb-1">
				<ct-input-text
					v-model="property.area_city"
					v-validate="`required`"
					label="Area Kota"
					placeholder="Isi kota di sini"
					data-vv-name="area"
					data-vv-scope="potentialProperty"
					data-vv-as="Kota"
					:invalid-message="errors.first('potentialProperty.area_city')"
					:disabled="isEdit"
					outlined
				></ct-input-text>
			</div>

			<div class="col-xs-12 mb-1">
				<ct-input-text
					v-model="property.province"
					v-validate="`required`"
					label="Provinsi"
					placeholder="Isi provinsi di sini"
					data-vv-name="province"
					data-vv-scope="potentialProperty"
					data-vv-as="Provinsi"
					:invalid-message="errors.first('potentialProperty.province')"
					:disabled="isEdit"
					outlined
				></ct-input-text>
			</div>

			<div class="col-xs-12 mb-1">
				<ct-input-text
					v-model="property.total_room"
					v-validate="`numeric`"
					label="Jumlah Kamar"
					placeholder="Isi jumlah kamar di sini"
					data-vv-name="total_room"
					data-vv-scope="potentialProperty"
					data-vv-as="Jumlah kamar"
					:invalid-message="errors.first('potentialProperty.total_room')"
					:disabled="isEdit"
					outlined
				></ct-input-text>
			</div>

			<div class="col-xs-12 mb-2">
				<input-radio
					v-model="property.product_offered"
					legend="Produk yang Ditawarkan"
					:options="options.product_offered"
				/>
			</div>

			<div v-if="!isEdit" class="col-xs-12 mb-2">
				<label class="ct-label">Foto Properti</label>
				<ct-form-upload-image
					url="/consultant-tools/api/media/upload"
					:current-image="temporaryImage"
					@updated="handleImageUploaded"
					@remove="handleRemoveImage"
				></ct-form-upload-image>
			</div>

			<div class="col-xs-12 mb-1">
				<input-select
					v-model="property.priority"
					label="Level Prioritas"
					:options="options.priority"
				/>
			</div>

			<div class="col-xs-12 mb-2">
				<label class="ct-label">Notes</label>
				<input-textarea
					v-model="property.remark"
					:max-length="100"
					:rows="2"
					outlined
				/>
			</div>

			<div class="col-xs-12">
				<input-radio
					v-model="property.followup_status"
					legend="Follow Up Status"
					:options="options.followup_status"
				/>
			</div>
		</div>

		<bottom-container>
			<div class="row">
				<div class="col-xs-12">
					<ct-button
						:loading="loadingSubmitData"
						:disabled="isProductOffered"
						block
						large
						loading-text="Menyimpan..."
						@click="handleSubmit"
						>Simpan</ct-button
					>
				</div>
			</div>
		</bottom-container>
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';
import CtFormUploadImage from 'Consultant/components/CtFormUploadImage';
import CtButton from 'Consultant/components/ConsultantButton';
import InputSelect from 'Consultant/components/CtSelect';
import Shimmer from 'Consultant/components/placeholders/ShimmerPlaceholder';
import BottomContainer from 'Consultant/components/CtBottomContainer';
import InputTextarea from 'Consultant/components/InputTextarea';
import InputRadio from 'Consultant/components/ConsultantRadioGroup';

import EventBus from 'Consultant/event-bus';

import { getErrorMessage } from 'Consultant/helpers/errorMessage';
import { mapMutations, mapGetters } from 'vuex';

export default {
	name: 'AddPotentialProperty',

	components: {
		CtInputText,
		CtFormUploadImage,
		CtButton,
		InputSelect,
		Shimmer,
		BottomContainer,
		InputTextarea,
		InputRadio
	},

	data() {
		return {
			loadingSubmitData: false,
			loadingGetProperty: false,
			property: {
				property_id: null,
				name: '',
				address: '',
				area_city: '',
				province: '',
				total_room: null,
				product_offered: '',
				photo: null,
				priority: 'high',
				remark: '',
				followup_status: ''
			},
			options: {
				product_offered: [
					{ label: 'goldPlus 1', value: 'gp1' },
					{ label: 'goldPlus 2', value: 'gp2' },
					{ label: 'goldPlus 3', value: 'gp3' }
				],
				followup_status: [
					{ label: 'New', value: 'new' },
					{ label: 'In-Progress', value: 'in-progress' },
					{ label: 'Paid', value: 'paid' },
					{ label: 'Approved', value: 'approved' },
					{ label: 'Rejected', value: 'rejected' }
				],
				priority: [
					{ label: 'High', value: 'high' },
					{ label: 'Low', value: 'low' }
				]
			},
			temporaryImage: ''
		};
	},

	computed: {
		...mapGetters('route', ['getPrevQuery']),
		ownerId() {
			return this.$route.params.ownerId;
		},
		propertyId() {
			return this.$route.params.id;
		},
		isEdit() {
			return !!this.propertyId;
		},
		redirectToOwnerQuery() {
			if (this.$route.query.from === 'owner_detail') {
				return { redirect_to: 'list_property_owner' };
			}

			return {};
		},
		isProductOffered() {
			return !(this.property.product_offered.length > 0);
		}
	},

	created() {
		this.$route.meta.navbarOptions.onClickBack = this.handleGoBack;
		if (this.isEdit) {
			this.initDataProperty();
		}
	},

	methods: {
		...mapMutations('route', ['clearPrevQuery']),

		handleGoBack() {
			if (this.$route.query.from === 'owner_detail') {
				this.$router.push({
					name: 'po.detail',
					params: { id: this.ownerId }
				});
			} else {
				if (this.isEdit) {
					this.$router.push({
						name: 'potential-property.detail',
						params: { id: this.propertyId, ownerId: this.ownerId }
					});
				} else {
					this.$router.push({
						name: 'potential-property',
						query: this.getPrevQuery('potential-property')
					});
				}
			}
		},

		async initDataProperty() {
			this.loadingGetProperty = true;
			try {
				const response = await axios.get(
					`/api/potential-property/detail/${this.propertyId}`
				);

				if (response.data.status) {
					this.mappingDataForEdit(response.data.data);
				}
			} catch (error) {
				console.error(error);
			}
			this.loadingGetProperty = false;
		},

		mappingDataForEdit(property) {
			this.property = {
				property_id: this.propertyId,
				name: property.name,
				address: property.address,
				area_city: property.area_city,
				province: property.province,
				total_room: property.total_room,
				product_offered: property.product_offered[0],
				photo: property.media_id,
				priority: property.priority,
				remark: property.notes,
				followup_status: property.followup_status
			};

			this.temporaryImage = '';
			setTimeout(() => {
				this.temporaryImage = property.photo.medium;
			});
		},

		async handleSubmit() {
			const isValid = await this.$validator.validate('potentialProperty.*');
			if (isValid) {
				this.loadingSubmitData = true;

				const data = {
					owner_id: this.ownerId,
					...this.property,
					total_room: Number(this.property.total_room)
				};

				if (!this.isEdit) {
					delete data.property_id;
				}

				const {
					success,
					message,
					propertyResult
				} = await this.savePotentialProperty(data);

				if (success) {
					let successMessage = '';
					let propertyId = null;

					if (this.isEdit) {
						successMessage = 'Properti potensial berhasil diedit.';
						propertyId = this.propertyId;
					} else {
						successMessage = 'Properti potensial baru berhasil ditambahkan.';
						propertyId = propertyResult.id;
					}

					EventBus.$emit('openAlert', successMessage, 'dark', {
						placement: 'bottom'
					});

					this.$router.push({
						name: 'potential-property.detail',
						query: this.redirectToOwnerQuery,
						params: { id: propertyId, ownerId: this.ownerId }
					});
				} else {
					EventBus.$emit('openAlert', message);
				}
				this.loadingSubmitData = false;
			}
		},

		async savePotentialProperty(property) {
			const result = { success: false, message: [], propertyResult: null };
			let response;
			try {
				if (!this.isEdit) {
					response = await axios.post('/api/potential-property/', property);
				} else {
					response = await axios.put(
						`/api/potential-property/${this.propertyId}`,
						property
					);
				}

				if (response.data.status) {
					result.success = true;
					result.propertyResult = response.data.data;
				} else {
					result.message = getErrorMessage(response.data);
				}
			} catch (error) {
				console.error(error);
				result.message.push('Terjadi galat, silahkan coba lagi');
			}

			return result;
		},

		goToPotentialProperty() {
			this.$router.go(-1);
		},

		handleImageUploaded({ response }) {
			if (response.status) {
				this.property.photo = response.id;
			} else {
				EventBus.$emit('openAlert', response.meta.message);
			}
		},

		handleRemoveImage() {
			this.property.photo = null;
		}
	}
};
</script>

<style lang="scss" scoped>
.add-potential-property {
	position: relative;
	.form-container {
		padding: 0 20px;
		margin-bottom: 40px;

		.ct-label {
			display: inline-block;
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: bold;
		}
	}

	.floating-area {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.08);

		> .row {
			padding: 10px 20px;
		}
	}

	::v-deep .consultant-menu .menu__content {
		margin-bottom: 80px;
	}
}
</style>
