<template>
	<div class="detail-potential-property">
		<div v-show="showLoading" class="preloader-container">
			<MamiLoadingInline />
		</div>

		<div class="information-container">
			<div class="img-container">
				<img
					:src="property.photo.medium"
					:alt="property.name"
					:title="property.name"
				/>
			</div>

			<div class="kos-name">
				{{ property.name }}
			</div>

			<div class="kos-address">
				{{ property.address }}
			</div>

			<div class="detail">
				<div>
					<ct-icon name="area" />
					<span>{{ property.area_city }}</span>
				</div>
				<div>
					<ct-icon name="location" />
					<span>{{ property.province }}</span>
				</div>
				<div>
					<ct-icon name="product" />
					<span style="color: #757575">Produk yang Ditawarkan</span>
					<template
						v-if="property.product_offered && property.product_offered.length"
					>
						<div
							v-for="(offered, index) in property.product_offered"
							:key="`offered-${index}`"
							class="product-list"
						>
							<div>{{ offered }}</div>
						</div>
					</template>
					<div v-else>-</div>
				</div>
				<div>
					<ct-icon name="priority" />
					<span
						>Prioritas
						{{ property.priority === 'high' ? 'Tinggi' : 'Rendah' }}</span
					>
				</div>
				<div class="mb-2">
					<ct-icon name="room-inside" />
					<span>{{ property.total_room }} Kamar</span>
				</div>
				<div>
					<ct-icon name="user" />
					<span>{{ owner.name }}</span>
				</div>
				<div class="mb-2">
					<ct-icon name="phone" />
					<span>0{{ owner.phone_number }}</span>
				</div>

				<div class="note-container">
					<ct-icon name="note" />
					<div class="note-text">{{ property.notes || '-' }}</div>
				</div>
			</div>

			<div class="bbk-follow-up-status">
				<hr />
				<div class="row">
					<div class="col-xs-6">
						<p>BBK Status</p>
						<chip :type="chipColorValue(property.bbk_status)" outlined>
							{{ property.bbk_status }}
						</chip>
					</div>
					<div class="col-xs-6">
						<p>Follow Up Status</p>
						<chip :type="chipColorValue(property.followup_status)" outlined>
							{{ property.followup_status }}
						</chip>
					</div>
				</div>
			</div>

			<div class="created-info">
				<hr />
				<div v-if="owner.updated_by">
					Update terakhir: {{ property.updated_by }}, {{ updatedFormattedTime }}
				</div>
				<div>
					Dibuat oleh: {{ property.created_by }}, {{ createdFormattedTime }}
				</div>
			</div>
		</div>

		<snackbar v-model="openSnackbar">
			<div class="row">
				<div class="col-xs-12">
					<div class="warning-text">
						<h3>Yakin ingin hapus data ini?</h3>
						<p>
							Data properti potensial yang dihapus tidak dapat dikembalikan.
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<ct-button
						color="secondary"
						outline
						large
						block
						:disabled="deletingProperty"
						:loading="deletingProperty"
						@click="triggerDelete"
					>
						Hapus
					</ct-button>
				</div>
				<div class="col-xs-6">
					<ct-button
						color="danger"
						large
						block
						:disabled="deletingProperty"
						@click="openSnackbar = false"
					>
						Batalkan
					</ct-button>
				</div>
			</div>
		</snackbar>
	</div>
</template>

<script>
import EventBus from 'Consultant/event-bus';

import MamiLoadingInline from 'Js/@components/MamiLoadingInline.vue';
import Snackbar from 'Consultant/components/Snackbar';
import CtButton from 'Consultant/components/ConsultantButton';
import Chip from 'Consultant/components/Chip';

import chipColors from './data/chipColors.json';

import mixinEllipsis from 'Consultant/mixins/mixinEllipsis.js';
import { mapMutations, mapGetters } from 'vuex';

export default {
	name: 'DetailPotentialProperty',

	components: {
		MamiLoadingInline,
		Snackbar,
		CtButton,
		Chip
	},

	mixins: [mixinEllipsis],

	data() {
		return {
			showLoading: true,
			openSnackbar: false,
			deletingProperty: false,
			property: {
				photo: {},
				product_offered: []
			},
			owner: {}
		};
	},

	computed: {
		...mapGetters('route', ['getPrevQuery']),
		propertyId() {
			return this.$route.params.id;
		},
		ownerId() {
			return this.$route.params.ownerId;
		},
		updatedFormattedTime() {
			return this.$dayjs(this.property.updated_at).format('DD MMM YYYY');
		},
		createdFormattedTime() {
			return this.$dayjs(this.property.created_at).format('DD MMM YYYY');
		}
	},

	created() {
		this.$route.meta.navbarOptions.onClickBack = this.goToPotentialPropertyList;
		EventBus.$on('NAVBAR_MENU_PROPERTY', this.menuHandler);
		this.initAPIData();
	},

	beforeDestroy() {
		EventBus.$off('NAVBAR_MENU_PROPERTY', this.menuHandler);
	},

	methods: {
		...mapMutations('route', ['clearPrevQuery']),

		goToPotentialPropertyList() {
			if (this.$route.query.redirect_to === 'list_property_owner') {
				this.$router.push({
					name: 'potential-property',
					query: {
						...this.getPrevQuery('potential-property'),
						owner_id: this.ownerId
					}
				});
			} else {
				this.$router.push({
					name: 'potential-property',
					query: this.getPrevQuery('potential-property')
				});
			}

			this.clearPrevQuery('potential-property');
		},

		// ----------------------------------------------------------------------
		// API
		// ----------------------------------------------------------------------
		async initAPIData() {
			[this.property, this.owner] = await Promise.all([
				this.getAPIPropertyDetail(),
				this.getAPIOwnerDetail()
			]);

			this.showLoading = false;
			this.$route.meta.navbarOptions.title = this.ellipsis(
				this.property.name,
				30
			);
		},

		async getAPIPropertyDetail() {
			const data = { success: false, result: {} };
			try {
				const response = await axios.get(
					`/api/potential-property/detail/${this.propertyId}`
				);
				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.result = response.data.data;
				} else {
					alert(response.data.meta.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.result);
		},

		async getAPIOwnerDetail() {
			const data = { success: false, result: {} };
			try {
				const response = await axios.get(
					`/api/potential-owner/${this.ownerId}`
				);
				/* istanbul ignore else */
				if (response.data.status) {
					data.success = true;
					data.result = response.data.owner;
				} else {
					alert(response.data.meta.message);
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data.result);
		},

		async deleteAPIProperty() {
			const data = { success: false, result: {} };
			try {
				const response = await axios.delete(
					`/api/potential-property/${this.propertyId}`
				);
				/* istanbul ignore else */
				if (response.data.status) {
					data.success = response.data.status;
					data.result = response.data.message;
				}
			} catch (error) {
				alert(error);
			}

			return Promise.resolve(data);
		},

		// ----------------------------------------------------------------------
		// events
		// ----------------------------------------------------------------------
		menuHandler(value) {
			if (value.type === 'edit') {
				let query = {};

				if (this.$route.query.redirect_to === 'list_property_owner') {
					query = { from: 'owner_detail' };
				}

				this.$router.push({
					name: 'potential-property.edit',
					query,
					params: {
						ownerId: this.ownerId,
						id: this.propertyId
					}
				});
			}

			if (value.type === 'delete') {
				this.openSnackbar = true;
			}
		},

		async triggerDelete() {
			this.deletingProperty = true;
			const response = await this.deleteAPIProperty();
			if (response.success) {
				EventBus.$emit(
					'openAlert',
					'Data properti potensial berhasil dihapus',
					'dark',
					{ placement: 'bottom' }
				);
				this.$router.push({
					name: 'potential-property',
					query: {
						owner_id: this.ownerId
					}
				});
			} else {
				this.deletingProperty = false;
			}
		},

		chipColorValue(text) {
			if (text) {
				const color = chipColors.find(({ value }) => {
					return value.toLowerCase() === text.toLowerCase();
				});
				if (color) {
					return color.color;
				} else {
					return 'success';
				}
			} else {
				return 'success';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.img-container {
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	img {
		width: 100%;
	}
}

.kos-name {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}

.kos-address {
	margin-bottom: 8px;
}

.detail {
	margin-bottom: 20px;
	font-size: 0;
	.mamikos-icon {
		font-size: 14px;
	}
	span {
		margin-left: 16px;
		font-size: 14px;
	}
}

.label-text {
	margin-bottom: 8px;
	color: rgba(0, 0, 0, 0.6);
}

.copy-text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 24px;
}

.product-list {
	padding-left: 30px;
	margin-bottom: 20px;
	div {
		font-size: 14px;
	}
}

.bbk-follow-up-status {
	text-transform: capitalize;
	hr {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 6px;
	}
}

.created-info {
	font-style: italic;
	hr {
		margin-top: 20px;
		margin-bottom: 8px;
	}
	div + div {
		margin-top: 8px;
	}
}

.warning-text {
	h3 {
		margin-top: 10px;
		font-size: 20px;
		font-weight: bold;
	}
	p {
		margin-bottom: 24px;
		font-size: 16px;
	}
}

.note-container {
	position: relative;
	::v-deep .mamikos-icon {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.note-text {
	padding-left: 30px;
	font-size: 14px;
	color: #383746;
	white-space: pre-line;
	a {
		color: inherit;
	}
}
</style>
