<template>
	<div class="potential-property-lists">
		<div class="gap-side mb-2">
			<ct-input-text
				v-model="pagination.search"
				placeholder="Cari Properti Potensial"
				prepend-icon="search"
				background-color="#F0F4F7"
				:radius="4"
				hide-invalid-message
				flat
				clearable
				@enter="searchProperty"
				@blur="handleBlurSearch"
			></ct-input-text>
		</div>

		<div class="filter-container">
			<ct-button color="secondary" small outline @click="openAction('filter')">
				<i class="mamikos-icon icon-slider-h"></i> Filter
				{{ activeFilterLength ? `・ ${activeFilterLength}` : '' }}
			</ct-button>
			<ct-button color="secondary" small outline @click="openAction('sort')">
				<i class="mamikos-icon icon-sort"></i> {{ activeSort }}
			</ct-button>
		</div>

		<div class="row list-container">
			<template v-if="loading">
				<div v-for="i in 2" :key="i" class="col-xs-12 mb-2">
					<PropertyListCardPlaceholder />
				</div>
			</template>
			<template v-else>
				<template v-if="properties.length">
					<div
						v-for="property in properties"
						:key="`property-card-${property.id}`"
						class="col-xs-12 mb-2"
					>
						<PropertyListCard :item="property" />
					</div>
					<div v-if="pagination.totalData > pagination.limit" class="col-xs-12">
						<consultant-pagination
							class="ct-pagination--green"
							:total-data="pagination.totalData"
							:page-active="pagination.page"
							green-version
							@change="handlePaginationChange"
						></consultant-pagination>
					</div>
				</template>
				<div v-else class="col-xs-12 mt-3">
					<EmptyState
						title="Belum Ada Properti Potensial"
						subtitle="Daftar Properti potensial akan tampil di sini."
						relative
					/>
				</div>
			</template>
		</div>

		<!-- <ct-bottom-container v-if="ownerId">
			<ct-button block large :to="addPotentialPropertyRoute">
				<i class="mamikos-icon icon-add"></i> &nbsp; Tambah Properti Potensial
			</ct-button>
		</ct-bottom-container> -->

		<PropertyListAction ref="action" />
	</div>
</template>

<script>
import CtInputText from 'Consultant/components/CtInputText';
import CtButton from 'Consultant/components/ConsultantButton';
import PropertyListCard from './components/PropertyListCard';
import PropertyListAction from './components/PropertyListAction';
import CtBottomContainer from 'Consultant/components/CtBottomContainer';

import findFilterQuery from './mixins/findFilterQuery';
import mixinPagination from 'Consultant/mixins/mixinPagination';

import EventBus from 'Consultant/event-bus';
import { makeQueryParam, mergeParams } from 'Consultant/helpers/url';
import { mapMutations } from 'vuex';

import CreateTracker, { TRACKERS } from 'Consultant/helpers/tracker';

export default {
	name: 'PotentialPropertyLists',

	components: {
		CtInputText,
		CtButton,
		PropertyListCard,
		PropertyListAction,
		CtBottomContainer,
		EmptyState: () => import('Consultant/components/ConsultantEmptyState'),
		PropertyListCardPlaceholder: () =>
			import('./components/PropertyListCardPlaceholder')
	},

	mixins: [mixinPagination, findFilterQuery],

	data() {
		return {
			activeFilterLength: 0,
			activeSort: '',
			loading: false,
			properties: [],
			tracker: null
		};
	},

	computed: {
		ownerId() {
			return this.$route.query.owner_id || null;
		},
		addPotentialPropertyRoute() {
			return {
				name: 'potential-property.add',
				params: {
					ownerId: this.ownerId
				}
			};
		},
		userData() {
			return this.$store.state.authData;
		}
	},

	created() {
		EventBus.$on('SET_PROPERTY_ACTION_LABEL', this.handleSetActionLabel);
		this.$route.meta.navbarOptions.onClickBack = this.handleNavbarBack;
		this.tracker = new CreateTracker(TRACKERS.LOGGER, this.userData);
	},

	mounted() {
		const { consultant = {} } = this.userData;
		this.tracker.logger([
			'Homepage Properti Potensial',
			{ consultant_id: consultant.id || null }
		]);
	},

	beforeRouteLeave(to, from, next) {
		if (
			to.name === 'potential-property.detail' ||
			to.name === 'potential-property.add'
		) {
			this.mutSetQuery({
				type: 'potential-property',
				query: this.$route.query
			});
		}
		next();
	},

	methods: {
		/* eslint-disable camelcase */
		...mapMutations({
			mutSetQuery: 'route/setPrevQuery'
		}),

		/** *********** QUERY HANDLER ****************** */
		/**
		 * will executed on route change
		 * called from the mixin
		 * @param {object} route - object of vue router
		 */
		defaultPagination(route) {
			const { sort_by = 'last_updated' } = route.query;

			this.pagination.sort_by = sort_by;
		},

		/**
		 * listen get data after route changed
		 * called from the mixin
		 * @param {object} pagination - object of pagination
		 */
		triggerGetData(pagination) {
			let createdByQuery, priorityQuery;
			const { offset, limit, sort_by, filters, search } = pagination;
			const filterCreatedBy = this.mixFindFilterQuery(filters, 'creator');
			const filterPriority = this.mixFindFilterQuery(filters, 'priority');

			const paginationQuery = makeQueryParam({
				offset,
				limit,
				sort_by,
				search
			});

			if (filterCreatedBy.length === 1) {
				createdByQuery = `created_by=${filterCreatedBy[0]}`;
			}

			if (filterPriority.length === 1) {
				priorityQuery = `priority=${filterPriority[0]}`;
			}

			this.initPotentialProperty(
				mergeParams(paginationQuery, createdByQuery, priorityQuery),
				this.ownerId
			);
		},

		/** ********* END QUERY HANDLER **************** */

		initPotentialProperty(query, ownerId) {
			this.loading = true;
			const ownerURI = ownerId ? `/${ownerId}` : '';
			axios
				.get(`/api/potential-property${ownerURI}?` + query)
				.then(res => {
					if (res.data.status) {
						this.properties = res.data.data;
						this.pagination.totalData = res.data.total;
					}
				})
				/* istanbul ignore next */
				.catch(error => {
					console.error(error);
				})
				.finally(() => {
					this.loading = false;
				});
		},

		openAction(type) {
			this.$refs.action.open(type);
		},

		handleSetActionLabel({ type, value }) {
			switch (type) {
				case 'sort':
					this.activeSort = value;
					break;

				case 'filter':
					this.activeFilterLength = value;
					break;
			}
		},

		searchProperty() {
			const { name, query } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					page: 1,
					search: this.pagination.search
				}
			});
		},

		/**
		 * search potential property when doesn't have search query
		 */
		handleBlurSearch() {
			if (!this.pagination.search) {
				this.searchProperty();
			}
		},

		handleNavbarBack() {
			if (this.ownerId) {
				this.$router.push({
					name: 'po.detail',
					params: {
						id: this.ownerId
					}
				});
			} else {
				this.$router.push({ name: 'dashboard' });
			}
		},

		handlePaginationChange(page) {
			const { name, query } = this.$route;
			this.$router.push({
				name,
				query: {
					...query,
					page
				}
			});
		}
		/* eslint-enable camelcase */
	}
};
</script>

<style lang="scss" scoped>
.filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.potential-property-lists ::v-deep .ct-bottom-container {
	z-index: 2;
}

.list-container {
	margin: 30px 0 70px;
}
</style>
