<template>
	<div class="app-wrapper">
		<div v-if="isLoading" class="vacancy-container">
			<div class="row flex-center">
				<mami-loading-inline></mami-loading-inline>
			</div>
		</div>
		<container-company-related></container-company-related>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isLoading: false
		};
	}
};
</script>

<style scoped>
.vacancy-container {
	margin: auto;
}
@media (min-width: 768px) {
	.vacancy-container {
		padding-top: 91px;
	}  
}
</style>
