<template>
	<div class="container filter-wrapper">
		<div class="col-xs-12 filter-container stretch">
			<div class="col-xs-12 col-md-9 stretch">
				<div class="col-xs-12 col-sm-3 filter-component">
					<label for="companyFilter"><h3>Nama Perusahaan</h3></label>
					<v-select
						v-model="filter.company"
						:options="company_options"
						:placeholder="'Cari kota disini...'"
						id="companyFilter"
					>
						<span slot="no-options">Perusahaan yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<div class="col-xs-12 col-sm-3 filter-component">
					<label for="companyAreaFilter"><h3>Kota dan Area</h3></label>
					<v-select
						v-model="filter.place"
						:options="place_select_items"
						:placeholder="'Cari kota disini...'"
						id="companyAreaFilter"
					>
						<span slot="no-options">Kota yang Anda cari tidak ada</span>
					</v-select>
				</div>

				<div class="more-company">
					<span class="hidden-xs">atau</span>
					<button type="button" class="btn btn-mamigreen" @click="moreCompany">
						Cari Perusahaan di Industri Lain
					</button>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="col-xs-12 refresh-button">
			<button
				class="btn btn-mamigreen-inverse btn-refresh"
				@click="refreshList"
			>
				<i class="fa fa-refresh" aria-hidden="true"></i> Segarkan
			</button>
		</div>
	</div>
</template>

<script>
import vSelect from 'vue-select';

import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import EventBus from '../event-bus';

export default {
	components: {
		'v-select': vSelect
	},
	data() {
		return {
			filter: {
				price_range: [0, 10000000],
				place: 'Semua Kota',
				company: ''
			},
			slider_option: {
				show: true,
				lazy: true,
				min: 0,
				max: 10000000,
				height: 8,
				interval: 500000,
				tooltip: 'always',
				tooltipDir: ['bottom', 'bottom'],
				piecewise: true,
				formatter(value) {
					return 'Rp. ' + Number(value).toLocaleString('id');
				},
				bgStyle: {
					backgroundColor: '#fff',
					boxShadow: 'inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)'
				},
				sliderStyle: { backgroundColor: '#1BAA56' },
				tooltipStyle: {
					backgroundColor: '#fff',
					borderColor: '#1BAA56',
					fontSize: '11px',
					color: '#1BAA56'
				},
				processStyle: { backgroundColor: '#1BAA56' },
				piecewiseStyle: {
					backgroundColor: '#ccc',
					visibility: 'visible',
					width: '8px',
					height: '8px'
				},
				piecewiseActiveStyle: { backgroundColor: '#078b07' }
			},

			showSlide: false,

			place_select_items: [],
			company_options: []
		};
	},
	watch: {
		// 'filter.price_range'(item) {
		// 	EventBus.$emit('filterPriceRangeChanged', item);
		// },
		'filter.place'(item) {
			EventBus.$emit('filterPlaceChanged', item.value);
		}
	},
	mounted() {
		this.getFiltersList();
	},
	methods: {
		async getFiltersList() {
			const response = await makeAPICall({
				method: 'get',
				url: '/filters/promo?type=daily'
			});

			if (response && typeof response === 'object' && response.cities) {
				for (var item in response.cities) {
					this.place_select_items.push({
						label: response.cities[item],
						value: item
					});
				}
			}
		},
		refreshList() {
			EventBus.$emit('refreshedList', true);
		},
		moreCompany() {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = '/company-landing';
			} else {
				window.open('/company-landing', '_blank');
			}
		}
	}
};
</script>

<style scoped>
@media (min-width: 768px) {
	.filter-wrapper {
		margin-top: -30px;
	}
}

.filter-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.slider-grid-small {
	position: absolute;
	top: 11px;
	left: 4.5px;
	width: 1px;
	height: 6px;
	background: #c0c0c0;
}
.filter-component label h3 {
	font-size: inherit;
	font-weight: bold;
}

@media (max-width: 767px) {
	.filter-container {
		padding-right: 0;
		padding-left: 0;
		margin-top: 15px;
	}
	.filter-component {
		padding-bottom: 6px;
	}
}

.refresh-button {
	text-align: right;
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	#filterHidden.in,
	#filterHidden.collapsing {
		display: block !important;
	}
}
@media (min-width: 768px) {
	#filterHidden.collapse {
		display: block !important;
		height: auto !important;
	}
}

.btn-filter-toggle {
	width: 90%;
	margin: auto;
	font-size: 12px;
	margin-bottom: 5px;
}

.more-company {
	margin-top: 50px;
}
.more-company span {
	padding-right: 15px;
}

@media (max-width: 767px) {
	.more-company button {
		margin-top: 15px;
		margin-left: 15px;
	}
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
	display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
	display: none;
}
</style>

<style>
.v-select .dropdown-toggle .clear {
	bottom: 6px;
	color: #000;
}
.v-select .dropdown-menu {
	z-index: 10;
}
.v-select.single .selected-tag {
	position: absolute;
	font-family: 'Lato', sans-serif;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
}
.v-select input[type='search'],
.v-select input[type='search']:focus {
	height: 32px;
	font-family: 'Lato', sans-serif;
}
</style>
