<template>
	<div>
		<div
			class="vacancy-list col-md-4 col-sm-6 col-xs-12"
			v-for="(company, index) in company"
			:key="index"
		>
			<div
				class="box-vacancy"
				@click="openDetailCompany(company.slug)"
				:title="company.name"
			>
				<div class="list-header">
					<div
						class="company-logo"
						:style="{ 'background-image': 'url(' + company.logo.small + ')' }"
					></div>
					<div class="company-name">
						<h3>{{ company.name }}</h3>
					</div>
					<span class="company-vacancy">{{ company.vacancy }}</span>
				</div>
				<div class="btn-follow">
					<!-- <button type="button" class="btn btn-mamiorange">Ikuti</button> -->
				</div>
				<div class="company-desc">
					<p>{{ company.description }}...</p>
				</div>
				<div class="company-detail">
					<span>Lihat lebih lengkap tentang perusahaan ini ></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isOwner: false,
			isUser: false
		};
	},
	props: {
		company: {
			type: Array,
			required: true
		}
	},
	computed: {
		authCheck() {}
	},
	created() {},
	methods: {
		openDetailCompany(slug) {
			if (
				(typeof window.matchMedia == 'function' &&
					window.matchMedia('(display-mode: standalone)').matches) ||
				('standalone' in navigator && navigator.standalone)
			) {
				window.location.href = 'perusahaan/profil/' + slug;
			} else {
				window.open('perusahaan/profil/' + slug, '_blank');
			}
		}
	}
};
</script>

<style scoped>
.vacancy-list {
	text-decoration: none;
}
.box-vacancy {
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 15px;
	/*height: 220px;*/
	height: 180px;
	padding: 15px;
	background-color: #fff;
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
}
.box-vacancy:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.company-logo {
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.company-name {
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.company-name h3 {
	font-size: 18px;
	margin-top: 0;
}
.company-vacancy {
	font-weight: bold;
	font-size: 16px;
	color: #1baa56;
}
.btn-follow {
	margin-top: 15px;
}
.btn-follow button {
	width: 100px;
	padding: 3px 12px;
}
.company-desc {
	margin-top: 5px;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 60px;
}
.company-desc:after {
	content: '';
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30%;
	height: 1.25em;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1) 50%
	);
}
@supports (-webkit-line-clamp: 3) {
	.company-desc {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		max-height: 60px; /* I needed this to get it to work */
	}
	.company-desc:after {
		display: none;
	}
}
.company-detail {
	margin-top: 5px;
}
.company-detail span {
	color: #1baa56;
}
.company-detail span:hover {
	text-decoration: underline;
}

@media (max-width: 281px) {
	.box-vacancy {
		/*height: 255px;*/
		height: 220px;
	}
}
@media (min-width: 282px) and (max-width: 350px) {
	.box-vacancy {
		/*height: 230px;*/
		height: 200px;
	}
}
@media (max-width: 767px) {
	.company-name {
		max-width: 500px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.box-vacancy {
		/*height: 240px;*/
		height: 200px;
	}
}
</style>
