<template>
	<div class="container-wrapper">
		<company-related-title></company-related-title>
		<company-related-filter></company-related-filter>
		<div class="clearfix"></div>

		<div class="container">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	
</script>

<style scoped>
.container-wrapper {
	margin-top: 54px;
}
</style>