<template>
	<div>
		<navbar
			:user-name="userName"
			:profil-picture="profilPicture"
			:has-promotion-menu="true"
			:open-modal-search="toggleSearchModal"
			:is-login="isLogin"
			:is-tenant="isTenant"
			:title="activeLink.name"
			@button-click="handleGoBack"
		/>
		<area-body
			v-if="areaList && areaList.length > 0"
			:active-link="activeLink"
			:areas="areaList"
			:content-links="contentLinks"
			:title="activeLink.name"
		/>
		<mami-footer />
		<keep-alive>
			<search-box-modal
				:is-shown="isSearchModalShow"
				:criteria-gender="'all'"
				redirection-source="lp-area"
				@hide-modal="toggleSearchModal"
			></search-box-modal>
		</keep-alive>
	</div>
</template>

<script>
import _get from 'lodash/get';
import AreaBodyMobile from './mobile/AreaBody';
import AreaBodyDesktop from './desktop/AreaBody';
import NavbarMobile from 'Js/@components/TitleNavbar';
import NavbarDesktop from '../../_home/components/Navbar';

const SearchBoxModal = () => import('Js/@components/SearchBoxModal');
const MamiFooter = () => import('Js/@components/MamiFooter');

const isMobile = navigator.isMobile || window.innerWidth < 768;

export default {
	components: {
		AreaBody: isMobile ? AreaBodyMobile : AreaBodyDesktop,
		MamiFooter,
		Navbar: isMobile ? NavbarMobile : NavbarDesktop,
		SearchBoxModal
	},
	data() {
		return {
			isSearchModalShow: false,
			isModalLogin: false,
			contentLinks: [
				{
					name: 'Kos di Area Populer',
					url: '/area'
				},
				{
					name: 'Kos Deket Kampus di Indonesia',
					url: '/kampus'
				}
			],
			activeLink: {
				name: 'Kos di Area Populer',
				url: '/area'
			},
			areaList: [],
			// This component will be used in /area and /kampus
			isAreaPage: location.pathname === '/area'
		};
	},
	computed: {
		userName() {
			return _get(authData, 'all.name');
		},
		profilPicture() {
			return _get(authData, 'all.photo_user');
		},
		isTenant() {
			return _get(authCheck, 'user');
		},
		isLogin() {
			return _get(authCheck, 'all');
		}
	},
	mounted() {
		this.getAreaListData();
		!this.isAreaPage &&
			(this.activeLink = {
				name: 'Kos Deket Kampus di Indonesia',
				url: '/kampus'
			});
	},
	methods: {
		async getAreaListData() {
			const areaJSON = this.isAreaPage
				? await import('../data/popularArea.json')
				: await import('../data/kostNearCampus.json');

			if (areaJSON) {
				this.areaList = areaJSON.data;
			}
		},
		toggleSearchModal() {
			this.isSearchModalShow = !this.isSearchModalShow;
		},
		handleGoBack() {
			window.history.go(-1);
		}
	}
};
</script>
