<template>
	<div class="area-group">
		<ul
			class="area-group-list"
			v-for="(area, areaIndex) in areas"
			:key="areaIndex"
		>
			<li>
				<h2>{{ area.title }}</h2>
				<ul class="area-group-list-item">
					<li
						v-for="(kostArea, kostAreaIndex) in area.kostList"
						:key="kostAreaIndex"
					>
						<a :href="kostArea.url">
							{{ kostArea.name }}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		areas: {
			type: Array,
			required: true
		}
	}
};
</script>

<style lang='scss' scoped>
.area-group {
	color: #2e2d39;
	column-count: 2;
	column-gap: 24px;

	@media (max-width: 767px) {
		column-count: 1;
		column-gap: 0;
	}

	.area-group-list {
		display: inline-block;
		width: 100%;
		margin-bottom: 28px;
	}

	h2,
	a,
	li,
	ul {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
	}

	h2 {
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 20px;
		color: inherit;

		@media (max-width: 767px) {
			margin-bottom: 16px;
		}
	}

	li a {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 16px;
		color: inherit;
		display: inline-block;
		width: 100%;

		@media (max-width: 767px) {
			padding-bottom: 16px;
			border-bottom: 1px solid #dbdbdb;
		}
	}
}
</style>