<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M17.3537 12C17.3532 12.1893 17.2781 12.3708 17.1447 12.505L7.86469 21.784C7.73075 21.9179 7.5491 21.9932 7.35969 21.9932C7.17027 21.9932 6.98862 21.9179 6.85469 21.784C6.72075 21.6501 6.64551 21.4684 6.64551 21.279C6.64551 21.0896 6.72075 20.9079 6.85469 20.774L15.6297 12L6.85469 3.22601C6.78837 3.1597 6.73576 3.08097 6.69987 2.99432C6.66398 2.90767 6.64551 2.8148 6.64551 2.72101C6.64551 2.5316 6.72075 2.34995 6.85469 2.21601C6.98862 2.08208 7.17027 2.00684 7.35969 2.00684C7.5491 2.00684 7.73075 2.08208 7.86469 2.21601L17.1447 11.495C17.2781 11.6293 17.3532 11.8107 17.3537 12Z"
			fill="currentColor"
			fill-opacity="0.87"
		/>
	</svg>
</template>