<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		width="24"
		height="24"
		fill="none"
	>
		<path
			d="M10.28 3.72a.71.71 0 0 0-.504.209L2.21 11.494c-.066.066-.118.146-.154.232S2 11.906 2 12s.02.187.055.273a.71.71 0 0 0 .154.23l7.57 7.566c.066.066.143.118.23.154a.71.71 0 0 0 .271.055c.14 0 .28-.043.396-.12a.71.71 0 0 0 .262-.32c.054-.13.068-.274.04-.412s-.096-.265-.195-.365l-6.346-6.346h16.848c.19 0 .372-.075.506-.21S22 12.19 22 12a.71.71 0 0 0-.209-.504.72.72 0 0 0-.506-.211H4.438l6.346-6.346c.134-.134.21-.317.21-.506a.71.71 0 0 0-.713-.713z"
			fill="currentColor"
		/>
	</svg>
</template>