<template>
	<svg
		width="20"
		height="19"
		viewBox="0 0 20 19"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M19.0008 7.99456H3.43309L9.70813 1.70861C9.89423 1.52136 9.99869 1.26808 9.99869 1.00406C9.99869 0.740045 9.89423 0.486756 9.70813 0.299514C9.61524 0.205846 9.50473 0.1315 9.38296 0.0807637C9.2612 0.0300277 9.1306 0.00390625 8.99869 0.00390625C8.86678 0.00390625 8.73618 0.0300277 8.61442 0.0807637C8.49265 0.1315 8.38214 0.205846 8.28925 0.299514L0.295565 8.29436C0.20191 8.38727 0.127575 8.4978 0.0768462 8.61958C0.0261176 8.74136 0 8.87198 0 9.00391C0 9.13583 0.0261176 9.26645 0.0768462 9.38824C0.127575 9.51002 0.20191 9.62055 0.295565 9.71345L8.28925 17.7083C8.38214 17.802 8.49265 17.8763 8.61442 17.927C8.73618 17.9778 8.86678 18.0039 8.99869 18.0039C9.1306 18.0039 9.2612 17.9778 9.38296 17.927C9.50473 17.8763 9.61524 17.802 9.70813 17.7083C9.89423 17.5211 9.99869 17.2678 9.99869 17.0038C9.99869 16.7397 9.89423 16.4864 9.70813 16.2992L3.42309 9.99327H19.0008C19.2658 9.99327 19.52 9.88798 19.7073 9.70056C19.8947 9.51315 20 9.25896 20 8.99391C20 8.72887 19.8947 8.47468 19.7073 8.28726C19.52 8.09985 19.2658 7.99456 19.0008 7.99456Z"
			fill="white"
		/>
	</svg>
</template>
