<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		fill="currentColor"
	>
		<path
			d="M12.5 5.383c-1.2 0-2.192-.983-2.192-2.192S11.3 1 12.5 1s2.192.983 2.192 2.192-.983 2.2-2.192 2.2zm0-2.922a.731.731 0 1 0 0 1.461.731.731 0 1 0 0-1.461zm0 20.942a3.66 3.66 0 0 1-3.654-3.653.73.73 0 0 1 .731-.731h5.846a.73.73 0 0 1 .731.731 3.66 3.66 0 0 1-3.654 3.653z"
			opacity=".5"
		/>
		<path
			d="M20.54 16.232v-4.274A8.04 8.04 0 0 0 12.5 3.922a8.04 8.04 0 0 0-8.038 8.036v4.274C3.612 16.534 3 17.336 3 18.29a2.19 2.19 0 0 0 2.192 2.191h14.615c1.21 0 2.192-.98 2.192-2.19 0-.953-.612-1.756-1.462-2.057z"
		/>
	</svg>
</template>