<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M21 4.62H18.13V3C18.13 2.73478 18.0246 2.48043 17.8371 2.29289C17.6496 2.10536 17.3952 2 17.13 2C16.8648 2 16.6104 2.10536 16.4229 2.29289C16.2354 2.48043 16.13 2.73478 16.13 3V4.62H7.86V3C7.86 2.73478 7.75464 2.48043 7.56711 2.29289C7.37957 2.10536 7.12522 2 6.86 2C6.59478 2 6.34043 2.10536 6.15289 2.29289C5.96536 2.48043 5.86 2.73478 5.86 3V4.62H3C2.73478 4.62 2.48043 4.72536 2.29289 4.91289C2.10536 5.10043 2 5.35478 2 5.62V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V5.62C22 5.35478 21.8946 5.10043 21.7071 4.91289C21.5196 4.72536 21.2652 4.62 21 4.62ZM20 6.62V8.68H4V6.62H20ZM4 20V10.68H20V20H4Z"
			fill="currentColor"
		/>
		<path
			d="M17 12.27H7C6.73478 12.27 6.48043 12.3754 6.29289 12.5629C6.10536 12.7504 6 13.0048 6 13.27C6 13.5352 6.10536 13.7896 6.29289 13.9771C6.48043 14.1647 6.73478 14.27 7 14.27H17C17.2652 14.27 17.5196 14.1647 17.7071 13.9771C17.8946 13.7896 18 13.5352 18 13.27C18 13.0048 17.8946 12.7504 17.7071 12.5629C17.5196 12.3754 17.2652 12.27 17 12.27Z"
			fill="currentColor"
		/>
		<path
			d="M13 16.1899H7C6.73478 16.1899 6.48043 16.2953 6.29289 16.4828C6.10536 16.6704 6 16.9247 6 17.1899C6 17.4552 6.10536 17.7095 6.29289 17.897C6.48043 18.0846 6.73478 18.1899 7 18.1899H13C13.2652 18.1899 13.5196 18.0846 13.7071 17.897C13.8946 17.7095 14 17.4552 14 17.1899C14 16.9247 13.8946 16.6704 13.7071 16.4828C13.5196 16.2953 13.2652 16.1899 13 16.1899Z"
			fill="currentColor"
		/>
	</svg>
</template>
