<template>
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
		<path
			d="M12 3C6.454 3 2 6.78 2 11.402c0 2.605 1.43 4.96 3.697 6.47.168 1.093.084 1.346-.756 2.438-1.43 1.765 2.69 1.597 5.293-.672.588.084 1.177.168 1.766.168 5.546 0 10-3.78 10-8.404C22 6.696 17.546 3 12 3zM7.127 9.807a1.261 1.261 0 0 1 0 2.521 1.261 1.261 0 0 1 0-2.521zm4.875 0a1.261 1.261 0 0 1 0 2.521 1.261 1.261 0 0 1 0-2.521zm4.875 0a1.261 1.261 0 0 1 0 2.521 1.261 1.261 0 0 1 0-2.521z"
			fill="currentColor"
		/>
	</svg>
</template>