<template>
	<svg
		:width="width"
		:height="height"
		viewBox="0 0 16 17"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M10.7006 5.16675H4.63273C4.46492 5.16675 4.30398 5.23699 4.18532 5.36201C4.06666 5.48703 4 5.6566 4 5.83341C4 6.01023 4.06666 6.1798 4.18532 6.30482C4.30398 6.42984 4.46492 6.50008 4.63273 6.50008H10.7006C10.8684 6.50008 11.0294 6.42984 11.148 6.30482C11.2667 6.1798 11.3333 6.01023 11.3333 5.83341C11.3333 5.6566 11.2667 5.48703 11.148 5.36201C11.0294 5.23699 10.8684 5.16675 10.7006 5.16675Z"
			:fill="color"
		/>
		<path
			d="M9.35484 7.83325H4.64516C4.47405 7.83325 4.30995 7.90349 4.18896 8.02851C4.06797 8.15354 4 8.32311 4 8.49992C4 8.67673 4.06797 8.8463 4.18896 8.97132C4.30995 9.09635 4.47405 9.16659 4.64516 9.16659H9.35484C9.52595 9.16659 9.69005 9.09635 9.81104 8.97132C9.93203 8.8463 10 8.67673 10 8.49992C10 8.32311 9.93203 8.15354 9.81104 8.02851C9.69005 7.90349 9.52595 7.83325 9.35484 7.83325Z"
			:fill="color"
		/>
		<path
			d="M12.6663 1.83325H3.33301C2.80257 1.83325 2.29387 2.05048 1.91879 2.43716C1.54372 2.82383 1.33301 3.34827 1.33301 3.89511V10.3281C1.33301 10.8749 1.54372 11.3994 1.91879 11.786C2.29387 12.1727 2.80257 12.39 3.33301 12.39H3.80634V14.4862C3.80725 14.6254 3.84918 14.7611 3.92656 14.8753C4.00395 14.9894 4.11314 15.0766 4.23967 15.1253C4.31483 15.1518 4.3936 15.1657 4.47301 15.1666C4.56766 15.1665 4.66121 15.1456 4.74742 15.1053C4.83363 15.065 4.91053 15.0062 4.97301 14.9329L7.15301 12.39H12.6663C13.1968 12.39 13.7055 12.1727 14.0806 11.786C14.4556 11.3994 14.6663 10.8749 14.6663 10.3281V3.89511C14.6663 3.34827 14.4556 2.82383 14.0806 2.43716C13.7055 2.05048 13.1968 1.83325 12.6663 1.83325ZM13.333 10.3281C13.333 10.5104 13.2628 10.6852 13.1377 10.8141C13.0127 10.943 12.8432 11.0154 12.6663 11.0154H6.85967C6.76502 11.0155 6.67147 11.0364 6.58526 11.0767C6.49905 11.117 6.42215 11.1757 6.35967 11.2491L5.13967 12.6717V11.6958C5.13967 11.5135 5.06944 11.3387 4.94441 11.2098C4.81939 11.0809 4.64982 11.0085 4.47301 11.0085H3.33301C3.1562 11.0085 2.98663 10.9361 2.8616 10.8072C2.73658 10.6783 2.66634 10.5035 2.66634 10.3212V3.89511C2.66634 3.71283 2.73658 3.53801 2.8616 3.40912C2.98663 3.28023 3.1562 3.20782 3.33301 3.20782H12.6663C12.8432 3.20782 13.0127 3.28023 13.1377 3.40912C13.2628 3.53801 13.333 3.71283 13.333 3.89511V10.3281Z"
			:fill="color"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		},
		width: {
			type: Number,
			default: 16
		},
		height: {
			type: Number,
			default: 17
		}
	}
};
</script>
