<template>
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17317C0.00433284 8.00043 -0.193701 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8079C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7363 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0ZM8.52663 13.4389C8.61329 13.4747 8.70619 13.4931 8.79998 13.493C8.89441 13.4934 8.988 13.4752 9.07536 13.4393C9.16272 13.4035 9.24212 13.3507 9.30898 13.284L14.866 7.726C14.9999 7.59206 15.0752 7.41041 15.0752 7.221C15.0752 7.03159 14.9999 6.84993 14.866 6.716C14.732 6.58206 14.5504 6.50682 14.361 6.50682C14.1716 6.50682 13.9899 6.58206 13.856 6.716L8.80398 11.769L6.14398 9.109C6.01005 8.97506 5.82839 8.89982 5.63898 8.89982C5.44957 8.89982 5.26792 8.97506 5.13398 9.109C5.00005 9.24293 4.9248 9.42459 4.9248 9.614C4.9248 9.80341 5.00005 9.98506 5.13398 10.119L8.29498 13.284C8.36124 13.3504 8.43997 13.403 8.52663 13.4389Z"
			:fill="color"
		/>
	</svg>
</template>

<script>
export default {
	props: {
		color: {
			type: String,
			default: 'currentColor'
		}
	}
};
</script>
