<template>
	<svg
		width="23"
		height="24"
		viewBox="0 0 23 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M11.7559 3.429C13.451 3.429 15.1082 3.93168 16.5177 4.87347C17.9272 5.81527 19.0257 7.15387 19.6744 8.72002C20.3232 10.2862 20.4929 12.0095 20.1622 13.6721C19.8315 15.3347 19.0152 16.8619 17.8165 18.0606C16.6178 19.2593 15.0906 20.0756 13.428 20.4063C11.7654 20.737 10.042 20.5673 8.47588 19.9186C6.90974 19.2699 5.57113 18.1713 4.62934 16.7618C3.68754 15.3523 3.18486 13.6952 3.18486 12C3.18751 9.72764 4.09137 7.54911 5.69817 5.94231C7.30498 4.33551 9.48351 3.43165 11.7559 3.429ZM11.7559 2C9.77805 2 7.84465 2.58649 6.20016 3.6853C4.55567 4.78412 3.27394 6.3459 2.51707 8.17317C1.76019 10.0004 1.56216 12.0111 1.94801 13.9509C2.33386 15.8907 3.28627 17.6725 4.6848 19.0711C6.08332 20.4696 7.86515 21.422 9.80496 21.8079C11.7448 22.1937 13.7554 21.9957 15.5827 21.2388C17.41 20.4819 18.9717 19.2002 20.0706 17.5557C21.1694 15.9112 21.7559 13.9778 21.7559 12C21.7559 10.6868 21.4972 9.38642 20.9947 8.17317C20.4921 6.95991 19.7555 5.85752 18.8269 4.92893C17.8983 4.00035 16.796 3.26375 15.5827 2.7612C14.3694 2.25866 13.0691 2 11.7559 2Z"
			fill="#109E4B"
		/>
		<path
			d="M10.5558 15.493C10.462 15.4932 10.3692 15.4748 10.2825 15.4389C10.1958 15.403 10.1171 15.3504 10.0508 15.284L6.88984 12.119C6.75591 11.9851 6.68066 11.8034 6.68066 11.614C6.68066 11.4246 6.75591 11.2429 6.88984 11.109C7.02378 10.9751 7.20543 10.8998 7.39484 10.8998C7.58425 10.8998 7.76591 10.9751 7.89984 11.109L10.5598 13.769L15.6118 8.71601C15.7458 8.58208 15.9274 8.50684 16.1168 8.50684C16.3063 8.50684 16.4879 8.58208 16.6218 8.71601C16.7558 8.84995 16.831 9.0316 16.831 9.22101C16.831 9.41042 16.7558 9.59208 16.6218 9.72601L11.0648 15.284C10.998 15.3507 10.9186 15.4035 10.8312 15.4394C10.7439 15.4752 10.6503 15.4935 10.5558 15.493Z"
			fill="#109E4B"
		/>
	</svg>
</template>
