<template>
	<svg
		width="40"
		height="40"
		viewBox="0 0 40 40"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M20 10C18.0222 10 16.0888 10.5865 14.4443 11.6853C12.7998 12.7841 11.5181 14.3459 10.7612 16.1732C10.0043 18.0004 9.8063 20.0111 10.1922 21.9509C10.578 23.8907 11.5304 25.6725 12.9289 27.0711C14.3275 28.4696 16.1093 29.422 18.0491 29.8079C19.9889 30.1937 21.9996 29.9957 23.8268 29.2388C25.6541 28.4819 27.2159 27.2002 28.3147 25.5557C29.4135 23.9112 30 21.9778 30 20C30 18.6868 29.7413 17.3864 29.2388 16.1732C28.7363 14.9599 27.9997 13.8575 27.0711 12.9289C26.1425 12.0003 25.0401 11.2638 23.8268 10.7612C22.6136 10.2587 21.3132 10 20 10ZM17.089 23.625C16.9478 23.6251 16.8097 23.5832 16.6922 23.5048C16.5747 23.4263 16.4832 23.3148 16.4291 23.1843C16.3751 23.0538 16.3609 22.9102 16.3885 22.7716C16.4161 22.6331 16.4841 22.5059 16.584 22.406L18.991 19.999L16.584 17.594C16.5177 17.5277 16.4651 17.449 16.4292 17.3623C16.3933 17.2757 16.3748 17.1828 16.3748 17.089C16.3748 16.9952 16.3933 16.9023 16.4292 16.8157C16.4651 16.7291 16.5177 16.6503 16.584 16.584C16.6503 16.5177 16.729 16.4651 16.8157 16.4292C16.9023 16.3933 16.9952 16.3748 17.089 16.3748C17.1828 16.3748 17.2757 16.3933 17.3623 16.4292C17.4489 16.4651 17.5277 16.5177 17.594 16.584L20 18.99L22.406 16.584C22.4723 16.5177 22.5511 16.4651 22.6377 16.4292C22.7244 16.3933 22.8172 16.3748 22.911 16.3748C23.0048 16.3748 23.0977 16.3933 23.1843 16.4292C23.271 16.4651 23.3497 16.5177 23.416 16.584C23.4823 16.6503 23.5349 16.729 23.5708 16.8157C23.6067 16.9023 23.6252 16.9952 23.6252 17.089C23.6252 17.1828 23.6067 17.2757 23.5708 17.3623C23.5349 17.449 23.4823 17.5277 23.416 17.594L21.01 20L23.416 22.406C23.5159 22.5059 23.5839 22.6331 23.6115 22.7716C23.6391 22.9102 23.6249 23.0538 23.5709 23.1843C23.5168 23.3148 23.4253 23.4263 23.3078 23.5048C23.1903 23.5832 23.0522 23.6251 22.911 23.625C22.7233 23.624 22.5436 23.5489 22.411 23.416L20.0015 21.0085L17.594 23.416C17.5277 23.4824 17.449 23.535 17.3624 23.5709C17.2757 23.6068 17.1828 23.6251 17.089 23.625Z"
			fill="#BBBBBB"
		/>
	</svg>
</template>
