<template>
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17317C0.00433284 8.00043 -0.193701 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8079C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7363 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0ZM7.08901 13.625C6.94776 13.6251 6.80966 13.5832 6.6922 13.5048C6.57474 13.4263 6.48318 13.3148 6.42912 13.1843C6.37506 13.0538 6.36092 12.9102 6.38849 12.7716C6.41606 12.6331 6.4841 12.5059 6.58401 12.406L8.99103 9.99898L6.58399 7.594C6.51768 7.52769 6.46507 7.44895 6.42918 7.36231C6.39329 7.27566 6.37482 7.18279 6.37482 7.089C6.37482 6.99522 6.39329 6.90235 6.42918 6.8157C6.46507 6.72905 6.51768 6.65032 6.58399 6.584C6.65031 6.51768 6.72904 6.46508 6.81569 6.42919C6.90234 6.3933 6.99521 6.37482 7.08899 6.37482C7.18278 6.37482 7.27565 6.3933 7.3623 6.42919C7.44895 6.46508 7.52768 6.51768 7.594 6.584L10 8.99001L12.406 6.584C12.4723 6.51768 12.5511 6.46508 12.6377 6.42919C12.7244 6.3933 12.8172 6.37482 12.911 6.37482C13.0048 6.37482 13.0977 6.3933 13.1843 6.42919C13.271 6.46508 13.3497 6.51768 13.416 6.584C13.4823 6.65032 13.5349 6.72905 13.5708 6.8157C13.6067 6.90235 13.6252 6.99521 13.6252 7.089C13.6252 7.18279 13.6067 7.27566 13.5708 7.36231C13.5349 7.44895 13.4823 7.52768 13.416 7.594L11.01 10L13.416 12.406C13.5159 12.5059 13.5839 12.6331 13.6115 12.7716C13.6391 12.9102 13.6249 13.0538 13.5709 13.1843C13.5168 13.3148 13.4253 13.4263 13.3078 13.5048C13.1903 13.5832 13.0522 13.6251 12.911 13.625C12.7233 13.624 12.5436 13.5489 12.411 13.416L10.0015 11.0085L7.59401 13.416C7.52775 13.4824 7.44902 13.535 7.36236 13.5709C7.2757 13.6068 7.1828 13.6251 7.08901 13.625Z"
			fill="currentColor"
		/>
	</svg>
</template>
