<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		width="24"
		height="24"
		fill="none"
	>
		<path
			d="M4.432 3.71a.72.72 0 0 0-.723.723.72.72 0 0 0 .211.512L10.977 12 3.92 19.057c-.1.1-.17.23-.197.37s-.014.286.04.418a.72.72 0 0 0 .266.324c.12.08.26.123.402.123.095 0 .19-.02.277-.057a.72.72 0 0 0 .234-.156L12 13.023l7.057 7.057a.72.72 0 0 0 .234.156c.088.036.182.057.277.057.143 0 .283-.043.402-.123a.72.72 0 0 0 .266-.324c.055-.132.07-.277.04-.418s-.096-.27-.197-.37L13.023 12l7.057-7.057a.72.72 0 0 0 .156-.234c.036-.088.057-.182.057-.277s-.02-.19-.057-.277a.72.72 0 0 0-.391-.391c-.088-.036-.182-.055-.277-.055s-.19.018-.277.055a.72.72 0 0 0-.234.156L12 10.977 4.943 3.92a.72.72 0 0 0-.512-.211z"
			fill="currentColor"
		/>
	</svg>
</template>