<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M11.4092 9.99915L19.7044 1.71324C19.8926 1.52503 19.9983 1.26977 19.9983 1.0036C19.9983 0.737425 19.8926 0.482157 19.7044 0.293946C19.5162 0.105736 19.2609 0 18.9948 0C18.7286 0 18.4734 0.105736 18.2852 0.293946L10 8.58984L1.7148 0.293946C1.62162 0.200754 1.51099 0.12683 1.38924 0.0763942C1.26749 0.0259588 1.137 0 1.00522 0C0.873433 0 0.74294 0.0259588 0.621189 0.0763942C0.499438 0.12683 0.388811 0.200754 0.295627 0.293946C0.107432 0.482157 0.00170573 0.737425 0.00170573 1.0036C0.00170573 1.26977 0.107432 1.52503 0.295627 1.71324L8.59082 9.99915L0.295627 18.285C0.201953 18.378 0.127602 18.4885 0.0768624 18.6103C0.0261231 18.7321 0 18.8628 0 18.9947C0 19.1266 0.0261231 19.2573 0.0768624 19.3791C0.127602 19.5009 0.201953 19.6114 0.295627 19.7043C0.388536 19.798 0.499073 19.8724 0.620862 19.9231C0.74265 19.9739 0.87328 20 1.00522 20C1.13715 20 1.26778 19.9739 1.38957 19.9231C1.51136 19.8724 1.62189 19.798 1.7148 19.7043L10 11.4184L18.2852 19.7043C18.3781 19.798 18.4886 19.8724 18.6104 19.9231C18.7322 19.9739 18.8629 20 18.9948 20C19.1267 20 19.2574 19.9739 19.3791 19.9231C19.5009 19.8724 19.6115 19.798 19.7044 19.7043C19.798 19.6114 19.8724 19.5009 19.9231 19.3791C19.9739 19.2573 20 19.1266 20 18.9947C20 18.8628 19.9739 18.7321 19.9231 18.6103C19.8724 18.4885 19.798 18.378 19.7044 18.285L11.4092 9.99915Z"
			fill="#757575"
		/>
	</svg>
</template>
