<template>
	<svg
		width="15"
		height="14"
		viewBox="0 0 15 14"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M3.16185 9C3.66323 9.00096 4.1509 9.16416 4.55229 9.46532C4.95368 9.76648 5.24734 10.1895 5.38956 10.6714H13.5C13.6769 10.6714 13.8466 10.7419 13.9716 10.8673C14.0967 10.9926 14.167 11.1627 14.167 11.34C14.167 11.5173 14.0967 11.6874 13.9716 11.8128C13.8466 11.9382 13.6769 12.0086 13.5 12.0086H5.38956C5.26473 12.4225 5.02763 12.7934 4.70473 13.0801C4.38182 13.3668 3.9858 13.5579 3.56085 13.6321C3.13591 13.7063 2.69876 13.6606 2.29818 13.5003C1.89759 13.3399 1.54933 13.0712 1.29226 12.724C1.03518 12.3768 0.879395 11.9648 0.842289 11.5341C0.805182 11.1033 0.888211 10.6707 1.08211 10.2844C1.27601 9.8982 1.57316 9.57358 1.9404 9.34678C2.30763 9.11998 2.73051 8.99992 3.16185 9ZM3.16185 12.3429C3.35973 12.3429 3.55316 12.2841 3.71768 12.1739C3.88221 12.0637 4.01044 11.907 4.08616 11.7238C4.16189 11.5405 4.1817 11.3389 4.1431 11.1444C4.10449 10.9498 4.00921 10.7711 3.86929 10.6309C3.72937 10.4906 3.5511 10.3951 3.35703 10.3564C3.16296 10.3177 2.9618 10.3376 2.77899 10.4135C2.59618 10.4894 2.43993 10.6179 2.32999 10.7829C2.22006 10.9478 2.16138 11.1417 2.16138 11.34C2.16138 11.606 2.26679 11.8611 2.45442 12.0492C2.64204 12.2372 2.89651 12.3429 3.16185 12.3429Z"
			fill="currentColor"
		/>
		<path
			d="M11.8365 5.00016C11.3349 4.99814 10.8472 4.83453 10.4456 4.53352C10.044 4.23252 9.74984 3.8101 9.60653 3.32872H1.5013C1.32423 3.32872 1.15441 3.25828 1.02921 3.1329C0.903998 3.00752 0.833658 2.83746 0.833658 2.66014C0.833658 2.48283 0.903998 2.31277 1.02921 2.18739C1.15441 2.06201 1.32423 1.99157 1.5013 1.99157H9.60653C9.73148 1.57769 9.96882 1.20673 10.292 0.920062C10.6153 0.633395 11.0117 0.442303 11.4371 0.368108C11.8624 0.293912 12.3 0.339532 12.701 0.499876C13.102 0.66022 13.4506 0.928982 13.7079 1.27617C13.9653 1.62337 14.1212 2.03533 14.1584 2.4661C14.1955 2.89687 14.1124 3.32951 13.9183 3.71574C13.7242 4.10196 13.4268 4.42658 13.0591 4.65339C12.6915 4.88019 12.2682 5.00024 11.8365 5.00016ZM11.8365 1.65728C11.6396 1.65993 11.4478 1.72065 11.2852 1.83185C11.1225 1.94306 10.9963 2.09981 10.9221 2.2825C10.848 2.46519 10.8293 2.66572 10.8683 2.859C10.9074 3.05228 11.0025 3.22974 11.1418 3.36919C11.281 3.50863 11.4582 3.60387 11.6512 3.64299C11.8443 3.68211 12.0445 3.66338 12.2269 3.58914C12.4094 3.51489 12.5659 3.38844 12.677 3.22558C12.788 3.06273 12.8486 2.8707 12.8513 2.67352C12.8531 2.53956 12.8281 2.40661 12.7777 2.2825C12.7273 2.15839 12.6527 2.04565 12.5581 1.95092C12.4635 1.85619 12.3509 1.78141 12.2269 1.73097C12.103 1.68054 11.9702 1.65548 11.8365 1.65728Z"
			fill="currentColor"
		/>
		<path
			d="M13.5002 6.33824H9.72016C9.57931 5.856 9.28618 5.43247 8.88474 5.13116C8.48329 4.82985 7.99515 4.66699 7.4935 4.66699C6.99184 4.66699 6.5037 4.82985 6.10226 5.13116C5.70081 5.43247 5.40769 5.856 5.26683 6.33824H1.50016C1.32335 6.33824 1.15378 6.40859 1.02876 6.53382C0.903734 6.65904 0.833496 6.82888 0.833496 7.00598C0.833496 7.18307 0.903734 7.35291 1.02876 7.47814C1.15378 7.60336 1.32335 7.67371 1.50016 7.67371H5.26683C5.40955 8.1533 5.70304 8.57393 6.10364 8.87301C6.50423 9.1721 6.99052 9.33366 7.49016 9.33366C7.9898 9.33366 8.47609 9.1721 8.87669 8.87301C9.27728 8.57393 9.57077 8.1533 9.7135 7.67371H13.5002C13.677 7.67371 13.8465 7.60336 13.9716 7.47814C14.0966 7.35291 14.1668 7.18307 14.1668 7.00598C14.1668 6.82888 14.0966 6.65904 13.9716 6.53382C13.8465 6.40859 13.677 6.33824 13.5002 6.33824ZM7.50016 8.0009C7.23547 8.00093 6.98142 7.89653 6.79301 7.71032C6.60461 7.52411 6.497 7.27107 6.4935 7.00598C6.4935 6.80788 6.55215 6.61423 6.66203 6.44952C6.77191 6.2848 6.92809 6.15643 7.11081 6.08062C7.29354 6.00481 7.49461 5.98497 7.68859 6.02362C7.88257 6.06227 8.06075 6.15766 8.2006 6.29774C8.34046 6.43781 8.4357 6.61628 8.47428 6.81057C8.51287 7.00487 8.49306 7.20626 8.41738 7.38928C8.34169 7.57229 8.21352 7.72872 8.04907 7.83878C7.88462 7.94884 7.69128 8.00758 7.4935 8.00758L7.50016 8.0009Z"
			fill="currentColor"
		/>
	</svg>
</template>
