<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M16 6C16 5.44772 16.4477 5 17 5C17.5523 5 18 5.44772 18 6C18 6.55228 17.5523 7 17 7C16.4477 7 16 6.55228 16 6ZM17 3C15.3432 3 14 4.34315 14 6C14 7.01154 14.5006 7.90615 15.2677 8.44957C14.429 8.91686 13.7901 9.71671 13.5448 10.6977L12.0299 16.7575C11.9552 17.0562 12.0223 17.3727 12.2118 17.6154C12.4013 17.8581 12.6921 18 13 18H14V21C14 21.5523 14.4477 22 15 22C15.5523 22 16 21.5523 16 21V18H18V21C18 21.5523 18.4477 22 19 22C19.5523 22 20 21.5523 20 21V18H21C21.3079 18 21.5987 17.8581 21.7882 17.6154C21.9777 17.3727 22.0448 17.0562 21.9702 16.7575L20.4552 10.6977C20.21 9.71671 19.571 8.91686 18.7324 8.44957C19.4994 7.90615 20 7.01154 20 6C20 4.34315 18.6569 3 17 3ZM19 16H19.7192L18.5149 11.1828C18.3411 10.4877 17.7166 10 17 10C16.2835 10 15.6589 10.4877 15.4851 11.1828L14.2808 16H15H19Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M7 3C5.34315 3 4 4.34315 4 6C4 6.99108 4.48059 7.86992 5.22144 8.41618C3.90478 9.07086 3 10.4298 3 12V17C3 17.5523 3.44772 18 4 18V21C4 21.5523 4.44772 22 5 22C5.55228 22 6 21.5523 6 21V18H8V21C8 21.5523 8.44772 22 9 22C9.55228 22 10 21.5523 10 21V18C10.5523 18 11 17.5523 11 17V12C11 10.4298 10.0952 9.07086 8.77856 8.41618C9.51941 7.86992 10 6.99108 10 6C10 4.34315 8.65685 3 7 3ZM6 6C6 5.44772 6.44772 5 7 5C7.55228 5 8 5.44772 8 6C8 6.55228 7.55228 7 7 7C6.44772 7 6 6.55228 6 6ZM9 16V12C9 10.8954 8.10457 10 7 10C5.89543 10 5 10.8954 5 12V16H9Z"
			fill="currentColor"
		/>
	</svg>
</template>
