<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		fill="currentColor"
	>
		<path
			d="M2 3.25a.75.75 0 1 0 0 1.5h20a.75.75 0 1 0 0-1.5zm0 8a.75.75 0 1 0 0 1.5h20a.75.75 0 1 0 0-1.5zm0 8a.75.75 0 1 0 0 1.5h20a.75.75 0 1 0 0-1.5z"
			dominant-baseline="auto"
		/>
	</svg>
</template>