<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M6 16.0001H12C12.2652 16.0001 12.5196 15.8947 12.7071 15.7072C12.8946 15.5196 13 15.2653 13 15.0001C12.9978 14.3689 12.8462 13.7472 12.5577 13.1858C12.2692 12.6245 11.8519 12.1393 11.34 11.7701C11.6656 11.3 11.84 10.7419 11.84 10.1701C11.84 9.41686 11.5408 8.6945 11.0082 8.16189C10.4756 7.62929 9.75321 7.33008 9 7.33008C8.24679 7.33008 7.52442 7.62929 6.99182 8.16189C6.45921 8.6945 6.16 9.41686 6.16 10.1701C6.16 10.7419 6.33443 11.3 6.66 11.7701C6.14809 12.1393 5.73082 12.6245 5.44231 13.1858C5.1538 13.7472 5.00223 14.3689 5 15.0001C5 15.2653 5.10536 15.5196 5.29289 15.7072C5.48043 15.8947 5.73478 16.0001 6 16.0001ZM7.27 14.0001C7.44536 13.6963 7.69752 13.4441 8.00116 13.2685C8.30481 13.093 8.64927 13.0004 9 13.0001C9.3422 13.0091 9.67637 13.1057 9.97052 13.2808C10.2647 13.4559 10.509 13.7036 10.68 14.0001H7.27ZM8.16 10.1701C8.15802 10.0035 8.20559 9.84015 8.29668 9.70071C8.38777 9.56126 8.51825 9.45204 8.67156 9.38693C8.82486 9.32181 8.99406 9.30374 9.15766 9.33502C9.32126 9.36629 9.47186 9.44549 9.59034 9.56256C9.70882 9.67963 9.78982 9.82928 9.82305 9.99249C9.85628 10.1557 9.84024 10.3251 9.77697 10.4792C9.7137 10.6333 9.60605 10.765 9.4677 10.8578C9.32936 10.9505 9.16656 11.0001 9 11.0001C8.88932 11.0014 8.77949 10.9806 8.67697 10.9389C8.57445 10.8971 8.48131 10.8353 8.40304 10.757C8.32477 10.6788 8.26295 10.5856 8.22121 10.4831C8.17947 10.3806 8.15866 10.2708 8.16 10.1601V10.1701Z"
			fill="#757575"
		/>
		<path
			d="M13.8101 10H18.0001C18.2653 10 18.5196 9.89464 18.7072 9.70711C18.8947 9.51957 19.0001 9.26522 19.0001 9C19.0001 8.73478 18.8947 8.48043 18.7072 8.29289C18.5196 8.10536 18.2653 8 18.0001 8H13.8101C13.5448 8 13.2905 8.10536 13.103 8.29289C12.9154 8.48043 12.8101 8.73478 12.8101 9C12.8101 9.26522 12.9154 9.51957 13.103 9.70711C13.2905 9.89464 13.5448 10 13.8101 10Z"
			fill="#757575"
		/>
		<path
			d="M13.8101 13H18.0001C18.2653 13 18.5196 12.8946 18.7072 12.7071C18.8947 12.5196 19.0001 12.2652 19.0001 12C19.0001 11.7348 18.8947 11.4804 18.7072 11.2929C18.5196 11.1054 18.2653 11 18.0001 11H13.8101C13.5448 11 13.2905 11.1054 13.103 11.2929C12.9154 11.4804 12.8101 11.7348 12.8101 12C12.8101 12.2652 12.9154 12.5196 13.103 12.7071C13.2905 12.8946 13.5448 13 13.8101 13Z"
			fill="#757575"
		/>
		<path
			d="M18.0001 14H14.8101C14.5448 14 14.2905 14.1054 14.103 14.2929C13.9154 14.4804 13.8101 14.7348 13.8101 15C13.8101 15.2652 13.9154 15.5196 14.103 15.7071C14.2905 15.8946 14.5448 16 14.8101 16H18.0001C18.2653 16 18.5196 15.8946 18.7072 15.7071C18.8947 15.5196 19.0001 15.2652 19.0001 15C19.0001 14.7348 18.8947 14.4804 18.7072 14.2929C18.5196 14.1054 18.2653 14 18.0001 14Z"
			fill="#757575"
		/>
		<path
			d="M21 4H3C2.73478 4 2.48043 4.10536 2.29289 4.29289C2.10536 4.48043 2 4.73478 2 5V19C2 19.2652 2.10536 19.5196 2.29289 19.7071C2.48043 19.8946 2.73478 20 3 20H21C21.2652 20 21.5196 19.8946 21.7071 19.7071C21.8946 19.5196 22 19.2652 22 19V5C22 4.73478 21.8946 4.48043 21.7071 4.29289C21.5196 4.10536 21.2652 4 21 4ZM20 18H4V6H20V18Z"
			fill="#757575"
		/>
	</svg>
</template>
