<template>
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M4.41925 18.2666C6.05434 19.3589 7.97662 19.9418 9.943 19.9416C12.5787 19.9384 15.1056 18.8899 16.9692 17.0261C18.8328 15.1623 19.8811 12.6353 19.884 9.99962C19.884 8.03324 19.3009 6.11101 18.2084 4.47604C17.1159 2.84106 15.5631 1.56677 13.7464 0.814316C11.9297 0.0618587 9.93064 -0.134968 8.00205 0.248728C6.07346 0.632423 4.30197 1.57941 2.9116 2.96992C1.52122 4.36043 0.574417 6.13202 0.190915 8.06065C-0.192586 9.98927 0.00444144 11.9883 0.757081 13.805C1.50972 15.6216 2.78417 17.1743 4.41925 18.2666ZM9.10909 14.9996H10.8764V7.02777H9.10909V14.9996ZM9.25455 4.27224C9.08485 4.45398 9 4.68238 9 4.95744C9 5.22759 9.08485 5.45353 9.25455 5.63527C9.42909 5.81209 9.67636 5.9005 9.99636 5.9005C10.3164 5.9005 10.5636 5.81209 10.7382 5.63527C10.9127 5.45353 11 5.22759 11 4.95744C11 4.68238 10.9127 4.45398 10.7382 4.27224C10.5636 4.0905 10.3164 3.99963 9.99636 3.99963C9.67636 3.99963 9.42909 4.0905 9.25455 4.27224Z"
			fill="currentColor"
		/>
	</svg>
</template>
