<template>
	<svg
		width="20"
		height="20"
		viewBox="0 0 20 20"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M19.2058 19.7216H0.800847C0.671497 19.7218 0.544295 19.6886 0.431564 19.6251C0.318833 19.5617 0.224396 19.4702 0.157402 19.3596C0.0904087 19.2489 0.0531303 19.1229 0.0491787 18.9936C0.0452271 18.8643 0.0747366 18.7362 0.134848 18.6216L9.33485 0.849635C9.40466 0.735658 9.50255 0.641505 9.61916 0.576184C9.73577 0.510864 9.86719 0.476562 10.0008 0.476562C10.1345 0.476562 10.2659 0.510864 10.3825 0.576184C10.4991 0.641505 10.597 0.735658 10.6668 0.849635L19.8668 18.6266C19.927 18.7412 19.9565 18.8693 19.9525 18.9986C19.9486 19.1279 19.9113 19.2539 19.8443 19.3646C19.7773 19.4752 19.6829 19.5667 19.5701 19.6301C19.4574 19.6936 19.3302 19.7268 19.2008 19.7266L19.2058 19.7216ZM10.0068 14.7226C9.80792 14.7226 9.61716 14.6436 9.47651 14.503C9.33585 14.3623 9.25684 14.1716 9.25684 13.9726V7.61365C9.25684 7.41474 9.33585 7.22397 9.47651 7.08332C9.61716 6.94267 9.80792 6.86365 10.0068 6.86365C10.2057 6.86365 10.3965 6.94267 10.5372 7.08332C10.6778 7.22397 10.7568 7.41474 10.7568 7.61365V13.9726C10.7568 14.1716 10.6778 14.3623 10.5372 14.503C10.3965 14.6436 10.2057 14.7226 10.0068 14.7226ZM9.48083 16.9336C9.6217 17.0737 9.8122 17.1524 10.0108 17.1526C10.1073 17.1534 10.2028 17.1332 10.2908 17.0936C10.3849 17.0593 10.4703 17.0047 10.5408 16.9336C10.6106 16.8641 10.666 16.7815 10.7038 16.6906C10.7416 16.5996 10.761 16.5021 10.761 16.4036C10.761 16.3051 10.7416 16.2076 10.7038 16.1167C10.666 16.0257 10.6106 15.9431 10.5408 15.8736C10.3973 15.7388 10.2078 15.6637 10.0108 15.6637C9.81389 15.6637 9.62436 15.7388 9.48083 15.8736C9.40975 15.942 9.35209 16.023 9.31083 16.1126C9.25868 16.2516 9.24696 16.4024 9.27705 16.5477C9.30714 16.693 9.3778 16.8268 9.48083 16.9336Z"
			fill="currentColor"
		/>
	</svg>
</template>
