<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M12 22C13.9778 22 15.9112 21.4135 17.5557 20.3147C19.2002 19.2159 20.4819 17.6541 21.2388 15.8268C21.9957 13.9996 22.1937 11.9889 21.8078 10.0491C21.422 8.10929 20.4696 6.32746 19.0711 4.92893C17.6725 3.53041 15.8907 2.578 13.9509 2.19215C12.0111 1.80629 10.0004 2.00433 8.17316 2.7612C6.3459 3.51808 4.78411 4.79981 3.6853 6.4443C2.58649 8.08879 2 10.0222 2 12C2 13.3132 2.25865 14.6136 2.7612 15.8268C3.26375 17.0401 4.00034 18.1425 4.92893 19.0711C5.85751 19.9997 6.9599 20.7362 8.17316 21.2388C9.38642 21.7413 10.6868 22 12 22ZM12 4C13.5822 4 15.129 4.46919 16.4446 5.34824C17.7602 6.22729 18.7855 7.47672 19.391 8.93853C19.9965 10.4003 20.155 12.0089 19.8463 13.5607C19.5376 15.1126 18.7757 16.538 17.6568 17.6569C16.538 18.7757 15.1126 19.5376 13.5607 19.8463C12.0089 20.155 10.4003 19.9965 8.93853 19.391C7.47672 18.7855 6.22729 17.7602 5.34824 16.4446C4.46919 15.129 4 13.5823 4 12C4 9.87827 4.84285 7.84344 6.34314 6.34315C7.84343 4.84285 9.87826 4 12 4Z"
			fill="#FAFAFA"
		/>
		<path
			d="M12 18.5698C12.2652 18.5698 12.5196 18.4645 12.7071 18.2769C12.8946 18.0894 13 17.835 13 17.5698L13 9.56982C13 9.30461 12.8946 9.05025 12.7071 8.86272C12.5196 8.67518 12.2652 8.56982 12 8.56982C11.7348 8.56982 11.4804 8.67518 11.2929 8.86272C11.1054 9.05025 11 9.30461 11 9.56982L11 17.5698C11 17.835 11.1054 18.0894 11.2929 18.2769C11.4804 18.4645 11.7348 18.5698 12 18.5698Z"
			fill="#FAFAFA"
		/>
		<path
			d="M12 5.5498C11.4477 5.5498 11 5.99752 11 6.5498C11 7.10209 11.4477 7.5498 12 7.5498C12.5523 7.5498 13 7.10209 13 6.5498C13 5.99752 12.5523 5.5498 12 5.5498Z"
			fill="#FAFAFA"
		/>
	</svg>
</template>
