<template>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
		<path
			d="M9.45 3.86c-3.3 0-6.033 2.618-6.033 5.86s2.723 5.86 6.033 5.86c1.434 0 2.758-.492 3.8-1.312l3.36 3.26a.75.75 0 1 0 1.045-1.076l-3.357-3.258a5.7 5.7 0 0 0 1.188-3.473c0-3.24-2.725-5.86-6.035-5.86zm0 1.5c2.526 0 4.535 1.957 4.535 4.36s-2.01 4.36-4.535 4.36-4.533-1.957-4.533-4.36S6.923 5.36 9.45 5.36z"
			dominant-baseline="auto"
			fill="currentColor"
		/>
	</svg>
</template>
