<template>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 12 12"
		fill="none"
	>
		<path
			d="M6 1a3.74 3.74 0 0 0-3.742 3.742c0 1.944 3.114 5.708 3.47 6.13.034.04.076.072.123.094S5.948 11 6 11s.103-.01.15-.033.09-.054.123-.094c.355-.422 3.47-4.187 3.47-6.13A3.74 3.74 0 0 0 6 1zm0 .715c.803.001 1.573.32 2.14.89s.886 1.336.887 2.14c0 1.3-1.982 4.036-3.027 5.336-1.045-1.3-3.027-4.036-3.027-5.336.001-.803.32-1.57.887-2.14s1.338-.888 2.14-.89zm.14 1.646a1.44 1.44 0 0 0-1.158.414 1.44 1.44 0 0 0-.312 1.568A1.44 1.44 0 0 0 6 6.232a1.44 1.44 0 0 0 1.439-1.439c0-.285-.084-.564-.242-.8a1.44 1.44 0 0 0-1.057-.631zM6 4.068c.192 0 .376.077.512.213s.21.32.21.512c0 .143-.042.283-.12.402a.72.72 0 0 1-.324.266.73.73 0 0 1-.42.041.72.72 0 0 1-.369-.197c-.1-.1-.17-.23-.2-.37s-.014-.286.04-.418a.73.73 0 0 1 .268-.326c.12-.08.26-.12.402-.12z"
			fill="currentColor"
		/>
	</svg>
</template>