<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M21 12.0001V10.1201C20.9995 9.45711 20.7795 8.81298 20.3742 8.28832C19.969 7.76366 19.4013 7.38801 18.76 7.22006C19.84 5.41006 20 3.66006 19 2.67006C17.63 1.30006 14.78 2.10006 12.36 4.52006L12 4.91006L11.64 4.52006C9.22 2.10006 6.37 1.31006 5 2.67006C4 3.67006 4.16 5.41006 5.24 7.22006C4.59867 7.38801 4.03104 7.76366 3.62578 8.28832C3.22053 8.81298 3.00047 9.45711 3 10.1201V19.0001C3 19.7957 3.31607 20.5588 3.87868 21.1214C4.44129 21.684 5.20435 22.0001 6 22.0001H18C18.7956 22.0001 19.5587 21.684 20.1213 21.1214C20.6839 20.5588 21 19.7957 21 19.0001V12.0001ZM17.58 4.08006C17.84 4.34006 17.58 5.61006 16.4 7.08006H13.53C13.44 6.89006 13.33 6.70006 13.22 6.51006C13.3957 6.29378 13.5827 6.08683 13.78 5.89006C15.61 4.10006 17.3 3.80006 17.58 4.08006ZM6.42 4.08006C6.7 3.80006 8.42 4.08006 10.22 5.93006C10.5864 6.28337 10.921 6.66818 11.22 7.08006H7.6C6.39 5.61006 6.16 4.34006 6.42 4.08006ZM6 9.12006H18C18.2652 9.12006 18.5196 9.22542 18.7071 9.41295C18.8946 9.60049 19 9.85484 19 10.1201V11.0001H5V10.1201C5 9.85484 5.10536 9.60049 5.29289 9.41295C5.48043 9.22542 5.73478 9.12006 6 9.12006ZM13 13.0001V20.0001H11V13.0001H13ZM5 19.0001V13.0001H9V20.0001H6C5.73478 20.0001 5.48043 19.8947 5.29289 19.7072C5.10536 19.5196 5 19.2653 5 19.0001ZM18 20.0001H15V13.0001H19V19.0001C19 19.2653 18.8946 19.5196 18.7071 19.7072C18.5196 19.8947 18.2652 20.0001 18 20.0001Z"
			fill="currentColor"
		/>
	</svg>
</template>
