<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z"
			fill="currentColor"
		/>
		<path
			d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
			fill="currentColor"
		/>
		<path
			d="M13.0424 6.16641C12.587 6.01193 12.0998 5.96405 11.6213 6.02677C11.1428 6.08948 10.6869 6.26098 10.2914 6.52697C9.89597 6.79296 9.57245 7.14575 9.34782 7.55597C9.12319 7.96619 9.00394 8.42196 9 8.88535C9 9.13748 9.10438 9.37929 9.29019 9.55758C9.476 9.73587 9.728 9.83603 9.99077 9.83603C10.2535 9.83603 10.5055 9.73587 10.6914 9.55758C10.8772 9.37929 10.9815 9.13748 10.9815 8.88535C10.9792 8.71983 11.0194 8.55632 11.0986 8.40924C11.1777 8.26217 11.2934 8.13608 11.4354 8.0421C11.5774 7.94812 11.7414 7.88916 11.9128 7.87042C12.0842 7.85169 12.2578 7.87375 12.4182 7.93467C12.5497 7.99185 12.6667 8.07593 12.7608 8.18103C12.8549 8.28613 12.924 8.40971 12.9631 8.5431C13.0141 8.66724 13.0389 8.79986 13.0361 8.93327C13.0333 9.06669 13.0029 9.19824 12.9467 9.32029C12.8905 9.44233 12.8095 9.55245 12.7086 9.64425C12.6077 9.73605 12.4887 9.8077 12.3587 9.85504C11.9674 9.9868 11.6266 10.2288 11.3809 10.5493C11.1352 10.8699 10.996 11.2541 10.9815 11.6518V13.0493C10.9815 13.3015 11.0859 13.5433 11.2717 13.7216C11.4575 13.8998 11.7096 14 11.9723 14C12.2351 14 12.4871 13.8998 12.6729 13.7216C12.8587 13.5433 12.9631 13.3015 12.9631 13.0493L13.0424 11.5948C13.4139 11.4606 13.7542 11.2576 14.0439 10.9972C14.3336 10.7368 14.567 10.4242 14.7308 10.0773C14.8946 9.73032 14.9855 9.3558 14.9984 8.97512C15.0113 8.59443 14.9459 8.21504 14.8059 7.85862C14.6573 7.4708 14.4226 7.11862 14.1181 6.82644C13.8136 6.53425 13.4465 6.30905 13.0424 6.16641Z"
			fill="currentColor"
		/>
	</svg>
</template>
