<template>
	<svg
		width="14"
		height="14"
		viewBox="0 0 14 14"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M13.4304 12.4867L10.4136 9.46993C11.3082 8.33466 11.7354 6.90048 11.6076 5.46071C11.4799 4.02094 10.8069 2.68437 9.72637 1.72434C8.64582 0.764306 7.23932 0.253357 5.79452 0.295986C4.34973 0.338615 2.9758 0.931601 1.95373 1.95367C0.931662 2.97574 0.338676 4.34967 0.296047 5.79446C0.253418 7.23926 0.764367 8.64575 1.7244 9.72631C2.68443 10.8069 4.021 11.4798 5.46077 11.6076C6.90054 11.7353 8.33472 11.3082 9.46999 10.4135L12.4868 13.4303C12.5486 13.4926 12.622 13.542 12.703 13.5757C12.784 13.6095 12.8708 13.6269 12.9586 13.6269C13.0463 13.6269 13.1331 13.6095 13.2141 13.5757C13.2951 13.542 13.3686 13.4926 13.4304 13.4303C13.4926 13.3685 13.5421 13.295 13.5758 13.2141C13.6095 13.1331 13.6269 13.0462 13.6269 12.9585C13.6269 12.8708 13.6095 12.7839 13.5758 12.703C13.5421 12.622 13.4926 12.5485 13.4304 12.4867ZM1.66222 5.98135C1.66222 5.1271 1.91554 4.29203 2.39014 3.58174C2.86474 2.87145 3.5393 2.31785 4.32853 1.99094C5.11776 1.66403 5.98621 1.5785 6.82405 1.74516C7.66189 1.91181 8.43149 2.32318 9.03554 2.92723C9.63959 3.53128 10.051 4.30088 10.2176 5.13872C10.3843 5.97656 10.2987 6.84501 9.97183 7.63424C9.64492 8.42347 9.09132 9.09803 8.38103 9.57263C7.67074 10.0472 6.83567 10.3005 5.98142 10.3005C4.83643 10.2988 3.73885 9.84317 2.92923 9.03354C2.1196 8.22392 1.66398 7.12634 1.66222 5.98135Z"
			fill="#303030"
		/>
	</svg>
</template>
