<template>
	<svg
		width="14"
		height="14"
		viewBox="0 0 14 14"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M4.18786 0.932617C4.53027 0.932617 4.80785 1.2102 4.80785 1.55261V11.7803C4.80785 12.1227 4.53027 12.4002 4.18786 12.4002C3.84545 12.4002 3.56787 12.1227 3.56787 11.7803V1.55261C3.56787 1.2102 3.84545 0.932617 4.18786 0.932617Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M0.937451 9.19624C1.17957 8.95412 1.57213 8.95412 1.81425 9.19624L4.1879 11.5699L6.56156 9.19624C6.80368 8.95412 7.19623 8.95412 7.43836 9.19624C7.68048 9.43836 7.68048 9.83092 7.43836 10.073L4.6263 12.8851C4.38418 13.1272 3.99163 13.1272 3.7495 12.8851L0.937451 10.073C0.695329 9.83092 0.695329 9.43836 0.937451 9.19624Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M9.81214 12.4004C9.46973 12.4004 9.19215 12.1228 9.19215 11.7804L9.19215 2.21942C9.19215 1.87701 9.46973 1.59943 9.81214 1.59943C10.1545 1.59943 10.4321 1.87701 10.4321 2.21942L10.4321 11.7804C10.4321 12.1228 10.1545 12.4004 9.81214 12.4004Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M13.0625 4.80278C12.8204 5.04491 12.4279 5.04491 12.1857 4.80278L9.8121 2.42913L7.43844 4.80278C7.19632 5.04491 6.80377 5.04491 6.56164 4.80278C6.31952 4.56066 6.31952 4.16811 6.56164 3.92598L9.3737 1.11393C9.48997 0.99766 9.64766 0.93234 9.8121 0.932339C9.97653 0.932339 10.1342 0.99766 10.2505 1.11393L13.0625 3.92598C13.3047 4.16811 13.3047 4.56066 13.0625 4.80278Z"
			fill="currentColor"
		/>
	</svg>
</template>
