<template>
	<svg
		width="16"
		height="16"
		viewBox="0 0 16 16"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M11.7072 14.6595C11.5986 14.6581 11.4916 14.6319 11.3937 14.5827L7.98495 12.7113L4.58286 14.5827C4.47239 14.6435 4.34784 14.6707 4.22336 14.6611C4.09888 14.6515 3.97948 14.6055 3.87872 14.5284C3.77796 14.4513 3.69988 14.3461 3.65337 14.2249C3.60686 14.1036 3.59377 13.9712 3.6156 13.8425L4.28268 9.88317L1.53433 7.08998C1.44743 7.00114 1.38534 6.88915 1.35478 6.76609C1.32421 6.64303 1.32633 6.51357 1.36089 6.39168C1.398 6.26722 1.46766 6.15613 1.56198 6.07097C1.65629 5.98582 1.7715 5.93001 1.89455 5.90985L5.69688 5.33026L7.39792 1.72006C7.45325 1.60386 7.53843 1.50611 7.64389 1.43778C7.74935 1.36945 7.87093 1.33325 7.99496 1.33325C8.11898 1.33325 8.24056 1.36945 8.34602 1.43778C8.45149 1.50611 8.53666 1.60386 8.59199 1.72006L10.293 5.32328L14.0954 5.90287C14.2189 5.92163 14.3349 5.97631 14.4303 6.06068C14.5256 6.14504 14.5964 6.25572 14.6346 6.38012C14.6728 6.50452 14.6769 6.63765 14.6465 6.76437C14.616 6.89109 14.5522 7.00632 14.4623 7.09696L11.7139 9.89015L12.381 13.8495C12.3977 13.9506 12.3928 14.0543 12.3669 14.1533C12.3409 14.2522 12.2944 14.344 12.2307 14.422C12.167 14.5 12.0877 14.5623 11.9984 14.6046C11.909 14.6469 11.8119 14.668 11.7139 14.6665L11.7072 14.6595ZM7.98495 11.2239C8.09163 11.2235 8.19686 11.2498 8.2918 11.3007L10.8067 12.6973L10.3264 9.77144C10.3077 9.65919 10.3156 9.54387 10.3494 9.43554C10.3831 9.32721 10.4416 9.22917 10.5198 9.14996L12.5544 7.05506L9.7527 6.60815C9.64582 6.59135 9.54445 6.54761 9.4573 6.48071C9.37015 6.41381 9.29983 6.32574 9.25239 6.22409L7.98495 3.58452L6.73752 6.25202C6.69008 6.35367 6.61976 6.44174 6.53261 6.50864C6.44546 6.57554 6.34409 6.61928 6.23721 6.63608L3.42215 7.06204L5.45673 9.15694C5.53497 9.23615 5.59349 9.3342 5.62721 9.44252C5.66093 9.55085 5.66882 9.66617 5.65018 9.77842L5.16989 12.6833L7.68477 11.2867C7.77961 11.2443 7.88182 11.2229 7.98495 11.2239Z"
			fill="currentColor"
		/>
	</svg>
</template>
