<template>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
		<path
			d="M10 3.7c-.012.113-.068.216-.156.288l-2.18 2.127.517 3a.91.91 0 0 1 .006.12c.002.076-.02.15-.063.213s-.11.09-.183.087c-.085-.003-.168-.027-.24-.072L5 8.047 2.3 9.465a.51.51 0 0 1-.24.072c-.074.005-.145-.028-.19-.087s-.065-.137-.063-.213c.002-.04.006-.08.012-.12l.517-3L.15 3.984A.46.46 0 0 1 0 3.7q0-.222.337-.276l3.017-.44L4.706.25Q4.82 0 5 0q.18 0 .294.246L6.646 2.98l3.017.44q.337.055.337.28z"
			fill="currentColor"
		/>
	</svg>
</template>