<template>
	<svg
		width="5"
		height="10"
		viewBox="0 0 5 10"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M1.92385 9.31665C2.80385 10.092 4.33118 9.36265 4.77185 9.18931L4.90185 8.65665C4.57785 8.80931 3.92118 8.92865 3.64385 8.70398C3.36185 8.47665 3.54385 7.70931 3.64451 7.36131L4.13118 5.63998C4.21518 5.35998 4.25518 4.95465 4.25518 4.72331C4.25518 3.92065 3.63251 3.49865 2.78651 3.49865C2.22251 3.49865 1.56385 3.75865 1.03918 3.97198L0.90918 4.50465C1.14451 4.41665 1.40451 4.33331 1.63918 4.33331C2.11985 4.33331 2.29718 4.45731 2.29718 4.92465C2.29718 5.19531 2.21251 5.53665 2.14318 5.79998C1.74918 7.19265 1.53051 7.77265 1.53051 8.43798C1.53051 8.79331 1.66118 9.08598 1.92385 9.31665Z"
			fill="currentColor"
		/>
		<path
			d="M2.96785 1.33331C2.96785 1.88531 3.41585 2.33331 3.96785 2.33331C4.51985 2.33331 4.96785 1.88531 4.96785 1.33331C4.96785 0.781313 4.51985 0.333313 3.96785 0.333313C3.41585 0.333313 2.96785 0.781313 2.96785 1.33331Z"
			fill="currentColor"
		/>
	</svg>
</template>
