<template>
	<svg
		width="32"
		height="32"
		viewBox="0 0 32 32"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M9.33317 7.38014V24.5083L15.9998 26.21V5.76794L9.33317 7.38014ZM7.69445 4.96085C7.09216 5.1065 6.6665 5.65887 6.6665 6.29479V25.5799C6.6665 26.2095 7.08392 26.7581 7.67845 26.9099L17.0118 29.2923C17.8528 29.507 18.6665 28.853 18.6665 27.9624V4.03772C18.6665 3.15404 17.8647 2.50139 17.0278 2.70379L7.69445 4.96085Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M18.6667 7.78882V24.2332H22.6667V7.78882H18.6667ZM17.3333 5.0481C16.597 5.0481 16 5.66163 16 6.41846V25.6035C16 26.3604 16.597 26.9739 17.3333 26.9739H24C24.7364 26.9739 25.3333 26.3604 25.3333 25.6035V6.41846C25.3333 5.66163 24.7364 5.0481 24 5.0481H17.3333Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M21.333 25.6035C21.333 24.8467 21.93 24.2332 22.6663 24.2332H27.9997C28.7361 24.2332 29.333 24.8467 29.333 25.6035C29.333 26.3603 28.7361 26.9739 27.9997 26.9739H22.6663C21.93 26.9739 21.333 26.3603 21.333 25.6035Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M2.6665 25.6035C2.6665 24.8467 3.26346 24.2332 3.99984 24.2332H7.99984C8.73622 24.2332 9.33317 24.8467 9.33317 25.6035C9.33317 26.3603 8.73622 26.9739 7.99984 26.9739H3.99984C3.26346 26.9739 2.6665 26.3603 2.6665 25.6035Z"
			fill="currentColor"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M15.9998 17.3813L13.9998 17.3813C13.2635 17.3813 12.6665 16.7678 12.6665 16.011C12.6665 15.2542 13.2635 14.6406 13.9998 14.6406L15.9998 14.6406C16.7362 14.6406 17.3332 15.2542 17.3332 16.011C17.3332 16.7678 16.7362 17.3813 15.9998 17.3813Z"
			fill="currentColor"
		/>
	</svg>
</template>
