<template>
	<svg
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M20.5925 13.565C20.5925 13.565 19.8393 14.6529 18.6678 16.0755C17.5799 11.6403 11.9731 5.02931 11.9731 5.02931L12.0568 4.94563C12.0568 4.94563 12.2242 4.86195 12.3916 4.69458C14.651 2.43514 18.3331 2.43514 20.5088 4.69458C22.7683 6.95402 22.1825 11.2219 20.5925 13.565Z"
			fill="currentColor"
			fill-opacity="0.6"
		/>
		<path
			d="M18.7512 15.9922C16.9102 18.2516 14.065 21.1805 12.0566 21.1805C8.79293 21.1805 3.43722 13.4817 3.43722 13.4817C1.76355 11.2222 1.26146 6.95441 3.5209 4.69497C5.44561 2.77026 8.62556 2.51921 10.885 4.10919C11.0524 4.19287 11.2197 4.36024 11.3034 4.44392C11.4708 4.61129 11.6382 4.69497 11.8055 4.86234C15.1528 7.79124 17.5796 11.6407 18.7512 15.9922Z"
			fill="currentColor"
		/>
	</svg>
</template>
