<template>
	<div class="card-sent">
		<img
			v-lazy="'/general/img/icons/ic_mamipay_widget_sent.svg'"
			alt="Icon Widget Sent"
		/>
		<p>Total dikirim dari Mamikos</p>
		<p class="nominal">
			<strong>Rp{{ parseInt(totalTransfer).toLocaleString('id-ID') }}</strong>
		</p>
	</div>
</template>

<script>
export default {
	computed: {
		totalTransfer() {
			return this.$store.state.totalTransfer;
		}
	}
};
</script>

<style lang="scss" scoped>
.card-sent {
	width: 300px;
	height: 125px;
	margin-right: 30px;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	background-color: #ffffff;
	color: #999999;
	padding: 10px 20px;
}

p {
	margin: 10px 0 5px;
	@media (max-width: 1023px) {
		margin: 0;
	}
}

.nominal {
	margin: 0;
	font-size: 24px;
	color: #000000;
}
</style>
