<template>
	<div class="card-accepted">
		<img
			v-lazy="'/general/img/icons/ic_mamipay_widget_accepted.svg'"
			alt="Icon Widget Accepted"
		/>
		<p>Total diterima dari penyewa</p>
		<p class="nominal">
			<strong>Rp{{ parseInt(totalIncome).toLocaleString('id-ID') }}</strong>
		</p>
	</div>
</template>

<script>
export default {
	computed: {
		totalIncome() {
			return this.$store.state.totalIncome;
		}
	}
};
</script>

<style lang="scss" scoped>
.card-accepted {
	width: 300px;
	height: 125px;
	margin-left: 18px;
	margin-right: 30px;
	border-radius: 10px;
	box-shadow: 0px 10px 40px rgba(35, 175, 93, 0.26);
	background-color: #1baa56;
	background-image: url('/general/img/pictures/mamipay/owner/bg_doddle_accepted.png'),
		url('/general/img/pictures/mamipay/owner/bg_ellipse_accepted.png');
	background-position: center, right top;
	background-repeat: no-repeat;
	color: #ffffff;
	padding: 10px 20px;
}

p {
	margin: 10px 0 5px;
	@media (max-width: 1023px) {
		margin: 0;
	}
}

.nominal {
	margin: 0;
	font-size: 24px;
	color: #ffffff;
}
</style>
