<template>
	<div class="widget-card">
		<manage-widget-card-accepted></manage-widget-card-accepted>
		<manage-widget-card-sent></manage-widget-card-sent>
	</div>
</template>

<script>
import ManageWidgetCardAccepted from './ManageWidgetCardAccepted';
import ManageWidgetCardSent from './ManageWidgetCardSent';
import ManageWidgetCardInfoMamirooms from './ManageWidgetCardInfoMamirooms';

export default {
	components: {
		ManageWidgetCardAccepted,
		ManageWidgetCardSent,
		ManageWidgetCardInfoMamirooms
	}
};
</script>

<style lang="scss" scoped>
.widget-card {
	display: flex;
	flex-direction: row;
	margin: 2rem 0rem;
}
</style>
