<template>
	<div class="kost-review-placeholder__user-feedback">
		<div class="kost-review-placeholder__user-feedback-overview">
			<bg-skeleton
				ellipsed
				:width="navigator.isMobile ? 40 : 56"
				:height="navigator.isMobile ? 40 : 56"
			/>
			<div class="kost-review-placeholder__user-feedback-profile">
				<bg-skeleton
					:width="navigator.isMobile ? 70 : 240"
					:height="navigator.isMobile ? 20 : 24"
				/>
				<bg-skeleton
					:width="100"
					:height="20"
					class="kost-review-placeholder__user-feedback-date"
				/>
			</div>
			<div class="kost-review-placeholder__user-feedback-overview-rating">
				<bg-skeleton
					:width="navigator.isMobile ? 20 : 24"
					:height="navigator.isMobile ? 20 : 24"
				/>
				<bg-skeleton
					:width="22"
					:height="20"
					class="kost-review-placeholder__user-feedback-overview-value"
				/>
			</div>
		</div>
		<div class="kost-review-placeholder__user-feedback-description">
			<bg-skeleton
				v-for="indexReviewDescription in 4"
				:key="indexReviewDescription"
				width="80%"
				:height="20"
				class="kost-review-placeholder__user-feedback-description-text"
			/>
		</div>
	</div>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	name: 'DetailKostReviewwModalSkeleton',
	components: {
		BgSkeleton
	}
};
</script>

<style lang="scss" scoped>
.kost-review-placeholder__user-feedback {
	display: flex;
	flex-direction: column;

	@media (max-width: 767px) {
		padding: 0 16px;
	}
}

.kost-review-placeholder__user-feedback-overview {
	display: flex;
	height: 56px;

	.kost-review-placeholder__user-feedback-profile {
		display: flex;
		height: 100%;
		margin: 0 0 0 16px;
		flex-direction: column;
		justify-content: center;

		.kost-review-placeholder__user-feedback-date {
			margin: 4px 0 0;
		}
	}

	.kost-review-placeholder__user-feedback-overview-rating {
		display: flex;
		flex: 1;
		justify-content: flex-end;

		.kost-review-placeholder__user-feedback-overview-value {
			margin: 2px 0 0 4px;

			@media (max-width: 767px) {
				margin: 0;
			}
		}
	}
}

.kost-review-placeholder__user-feedback-description {
	display: flex;
	margin: 12px 0 0;
	flex-direction: column;

	.kost-review-placeholder__user-feedback-description-text {
		margin: 4px 0 0;
	}
}
</style>
