<template>
	<fragment>
		<modal
			id="modalAllReview"
			:value="isShow"
			:effect="modalEffect"
			@opened="handleSetScrollPosition"
			@closed="handleCloseRulesModal"
		>
			<div slot="modal-header" class="kost-review-modal-header">
				<span
					class="kost-review-modal-header__close"
					@click="handleCloseRulesModal"
				>
					<bg-icon name="close" size="md" />
				</span>
			</div>
			<div slot="modal-body" ref="allReview" class="kost-review-modal-content">
				<div class="kost-review-modal-content__header">
					<bg-icon name="star-glyph" size="md" />
					<span class="kost-review-modal-content__title">{{
						reviewTitle
					}}</span>
				</div>
				<detail-kost-review-fac-rating
					:facilities-rating-set="facilitiesRatingSet"
				/>
				<div class="kost-review-modal-content__sorting">
					<base-main-filter
						filter-type="sorting"
						list-style="radio"
						bold-value-on-active
						size="small"
						dropdown-style="width: 220px"
						:need-indicator="false"
						:is-mobile-props="navigator.isMobile"
						:dropdown-data="reviewSortedData"
						@set-value="handleSortingValue"
					/>
				</div>
				<div class="kost-review-modal-content__users-feedback">
					<detail-kost-review-modal-skeleton v-if="isLoadingSorting" />
					<detail-kost-review-users-feedback
						v-else
						ref="usersFeedbackComponent"
						identifier="Modal"
						:kost-reviews="kostReviews"
						:use-card-on-mobile="false"
						:review-modal-scroll-position="reviewModalScrollPosition"
						@handle-toggle-review-gallery="handlePassReviewGalleryValue"
					/>
				</div>
				<div class="kost-review-modal-content__loading">
					<bg-button
						size="md"
						variant="primary-naked"
						block
						:loading="isAllReviewLoading"
					/>
				</div>
			</div>
		</modal>
		<detail-kost-review-sorting-modal
			:is-show="isSortingModalOpen"
			:review-sorted-data="reviewSortedData"
			@handle-set-sorting="handleSetSorting"
			@handle-toggle-sorting-modal="handleToggleSortingModal"
		/>
	</fragment>
</template>

<script>
import { modal } from 'vue-strap';
import _get from 'lodash/get';
import { BgIcon, BgButton } from 'bangul-vue';
import BaseMainFilter from 'Js/@components/BaseMainFilter';

import DetailKostReviewSortingModal from './DetailKostReviewSortingModal';
import DetailKostReviewFacRating from './DetailKostReviewFacRating';
import DetailKostReviewUsersFeedback from './DetailKostReviewUsersFeedback';
import DetailKostReviewModalSkeleton from './DetailKostReviewModalSkeleton';

export default {
	name: 'DetailKostReviewModal',
	components: {
		modal,
		BgIcon,
		BgButton,
		DetailKostReviewSortingModal,
		DetailKostReviewFacRating,
		DetailKostReviewUsersFeedback,
		BaseMainFilter,
		DetailKostReviewModalSkeleton
	},
	props: {
		isShow: {
			type: Boolean,
			default: false
		},
		totalReviews: {
			type: Number,
			default: 0
		},
		modalEffect: {
			type: String,
			default: ''
		},
		isAllReviewLoading: {
			type: Boolean,
			default: false
		},
		isLoadingSorting: {
			type: Boolean,
			default: false
		},
		facilitiesRatingSet: {
			type: Array,
			default() {
				return [
					[
						{
							name: 'Kebersihan',
							rating: 0.0
						},
						{
							name: 'Kenyamanan',
							rating: 0.0
						},
						{
							name: 'Keamanan',
							rating: 0.0
						}
					],
					[
						{
							name: 'Harga',
							rating: 0.0
						},
						{
							name: 'Fasilitas Kamar',
							rating: 0.0
						},
						{
							name: 'Fasailitas Umum',
							rating: 0.0
						}
					]
				];
			}
		},
		reviewSortedData: {
			type: Object,
			required: true
		},
		reviewTitle: {
			type: String,
			default: ''
		},
		kostReviews: {
			type: Array,
			required: true
		},
		reviewModalScrollPosition: {
			type: Object,
			default() {
				return {
					indexUserFeedback: 0,
					type: 'top'
				};
			}
		}
	},
	data() {
		return {
			isScrollEventAssigned: false,
			isSortingModalOpen: false
		};
	},
	watch: {
		isShow(value) {
			const allReviewEl = this.$refs.allReview;

			if (value && !this.isScrollEventAssigned && allReviewEl) {
				this.isScrollEventAssigned = true;
				allReviewEl.addEventListener('scroll', this.handleScroll);
			}
		}
	},
	beforeDestroy() {
		const allReviewEl = this.$refs.allReview;

		if (allReviewEl && this.isScrollEventAssigned) {
			allReviewEl.removeEventListener('scroll', this.handleScroll);
		}
	},
	methods: {
		handleCloseRulesModal() {
			this.$emit('handle-toggle-all-review-modal', false);
		},
		handleScroll() {
			const allReviewEl = this.$refs.allReview;
			const hasMoreReviews = this.kostReviews.length < this.totalReviews;

			if (!allReviewEl || !this.isShow || !hasMoreReviews) return;

			const scrollPosition = allReviewEl.scrollTop;
			const totalElHeight = allReviewEl.scrollHeight - allReviewEl.offsetHeight;

			if (scrollPosition + 50 >= totalElHeight && !this.isAllReviewLoading) {
				this.$emit('handle-fetch-all-review');
			}
		},
		handleSortingValue(payload) {
			this.navigator.isMobile
				? (this.isSortingModalOpen = true)
				: this.handleSetSorting(payload);
		},
		handleSetSorting(payload) {
			this.$emit('handle-set-sorting', payload);
		},
		handleToggleSortingModal(payload) {
			this.isSortingModalOpen = payload;
		},
		handlePassReviewGalleryValue(payload) {
			this.$emit('handle-toggle-review-gallery', payload);
		},
		handleSetScrollPosition() {
			if (!this.navigator.isMobile) return;

			const allReviewEl = this.$refs.allReview;
			const type = _get(this.reviewModalScrollPosition, 'type', 'top');

			const indexPosition = _get(
				this.reviewModalScrollPosition,
				'indexUserFeedback',
				'0'
			);

			const userReviewEl = _get(
				this.$refs.usersFeedbackComponent,
				`$refs.userReviewModal${indexPosition}`,
				[]
			);

			const ownerReplyEl = _get(
				this.$refs.usersFeedbackComponent,
				`$refs.ownerReplyModal${indexPosition}`,
				[]
			);

			const sourceElement =
				type === 'section'
					? userReviewEl
					: type === 'owner'
					? ownerReplyEl
					: [];

			if (!allReviewEl || (!sourceElement.length && type !== 'top')) return;

			if (type === 'top') {
				allReviewEl.scrollTo(0, 0);
			} else {
				const elTopPosition =
					type === 'section'
						? sourceElement[0].offsetTop
						: sourceElement[0].$el.offsetTop;

				// 60 is header height
				const scrollTopPosition = elTopPosition - 60;
				allReviewEl.scrollTo(0, scrollTopPosition);
			}
		}
	}
};
</script>

<style lang="scss">
/* stylelint-disable */
#modalAllReview {
	.modal-dialog {
		width: 767px;
		margin: 40px auto;

		@media (max-width: 767px) {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}

	.modal-content {
		width: 100%;
		margin: 0 auto;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
		border-radius: 16px;
		overflow: hidden;
		border: 0;

		.modal-footer {
			display: none;
		}

		@media (max-width: 767px) {
			height: 100%;
			border-radius: 0;
			background: #fff;
		}
	}

	.dropdown-menu {
		width: auto;
		right: 0;
		left: auto;
	}
}
/* stylelint-enable */
</style>

<style lang="scss" scoped>
.kost-review-modal-header {
	position: relative;
	display: block;
	width: 100%;
	height: 80px;

	@media (max-width: 767px) {
		height: 56px;
		padding: 0 16px;
	}

	.kost-review-modal-header__close {
		position: absolute;
		top: 38px;
		right: 38px;
		line-height: 100%;
		color: #303030;
		cursor: pointer;

		@media (max-width: 767px) {
			top: 16px;
			left: 16px;
		}
	}
}

.kost-review-modal-content {
	display: block;
	max-height: calc(100vh - 160px);
	padding: 0 32px;
	overflow: auto;

	@media (max-width: 767px) {
		max-height: calc(100% - 56px);
		padding: 0;
	}

	.kost-review-modal-content__header {
		display: flex;
		align-items: center;
		height: 56px;
		margin: 0 0 24px;
		color: #1baa56;

		@media (max-width: 767px) {
			height: auto;
			padding: 0 16px;
		}

		.kost-review-modal-content__title {
			margin-left: 8px;
			font-size: 24px;
			font-weight: bold;
			line-height: 32px;
			color: #303030;

			@media (max-width: 767px) {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}

	.kost-review-modal-content__sorting {
		display: flex;
		margin: 64px 0 0;
		justify-content: flex-end;

		@media (max-width: 767px) {
			padding: 0 16px;
			margin: 28px 0 0;
		}
	}

	.kost-review-modal-content__users-feedback {
		margin: 24px 0 0;

		@media (max-width: 767px) {
			margin: 16px 0 0;
		}
	}

	.kost-review-modal-content__loading {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		margin: 20px 0 16px;
	}
}
</style>
