<template>
	<div class="kost-empty-review">
		<span class="kost-empty-review__title">Belum ada review</span>
		<p class="kost-empty-review__description">
			Kos ini belum di-review oleh penyewa.
		</p>
	</div>
</template>

<script>
export default {
	name: 'DetailKostReviewEmptyState'
};
</script>

<style lang="scss" scoped>
.kost-empty-review {
	display: block;
	padding: 48px 0;

	@media (max-width: 767px) {
		padding: 32px 16px;
		background: #fff;
	}

	.kost-empty-review__title {
		font-size: 24px;
		font-weight: bold;
		line-height: 32px;
		color: #303030;

		@media (max-width: 767px) {
			font-size: 20px;
			line-height: 28px;
		}
	}

	.kost-empty-review__description {
		margin: 20px 0 0;
		font-size: 16px;
		line-height: 24px;
		color: #404040;

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
</style>
