<template>
	<div class="owner-feedback">
		<span class="owner-feedback__title">Balasan dari Pemilik kos</span>
		<span class="owner-feedback__date">{{ ownerFeedback.ownerReplyDate }}</span>
		<p class="owner-feedback__description">
			{{ ownerFeedback.reply }}
		</p>
	</div>
</template>

<script>
export default {
	name: 'DetailKostReviewOwnerFeedback',
	props: {
		ownerFeedback: {
			type: Object,
			required: true
		}
	}
};
</script>

<style lang="scss" scoped>
.owner-feedback {
	position: relative;
	display: flex;
	padding-left: 36px;
	margin-top: 24px;
	flex-direction: column;

	@media (max-width: 767px) {
		padding-left: 20px;
	}

	&::before {
		position: absolute;
		left: 0;
		display: block;
		width: 2px;
		height: 100%;
		content: '';
		background-color: #e8e8e8;
	}

	.owner-feedback__title {
		overflow: hidden;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.owner-feedback__date {
		font-size: 14px;
		line-height: 20px;
		color: #757575;
	}

	.owner-feedback__description {
		margin: 12px 0 0;
		font-size: 16px;
		line-height: 24px;
		color: #404040;
	}
}
</style>
