<template>
	<div class="kost-review-fac-rating">
		<div
			v-for="(facilitiesRating, setIndex) in facilitiesRatingSet"
			:key="`facilities-rating-${setIndex}`"
			class="kost-review-fac-rating__column"
		>
			<div
				v-for="(facRating, facRatingIndex) in facilitiesRating"
				:key="`facilities-rating-${setIndex}-${facRatingIndex}`"
				class="kost-review-fac-rating__item"
			>
				<span class="kost-review-fac-rating__title">
					{{ facRating.name }}
				</span>
				<div class="kost-review-fac-rating__value">
					<star-rating
						:rating="facRating.rating"
						active-color="#404040"
						custom-style="margin-left: 2px"
					/>
					<span class="kost-review-fac-rating__value-text">{{
						facRating.rating | ratingText
					}}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import StarRating from 'Js/@components/StarRating';
import MixinKostReview from 'Js/_detail/mixins/MixinKostReview';

export default {
	name: 'DetailKostReviewFacRating',
	components: {
		StarRating
	},
	mixins: [MixinKostReview],
	props: {
		facilitiesRatingSet: {
			type: Array,
			default() {
				return [
					[
						{
							name: 'Kebersihan',
							rating: 0.0
						},
						{
							name: 'Kenyamanan',
							rating: 0.0
						},
						{
							name: 'Keamanan',
							rating: 0.0
						}
					],
					[
						{
							name: 'Harga',
							rating: 0.0
						},
						{
							name: 'Fasilitas Kamar',
							rating: 0.0
						},
						{
							name: 'Fasilitas Umum',
							rating: 0.0
						}
					]
				];
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-review-fac-rating {
	display: flex;
	justify-content: space-between;

	@media (max-width: 767px) {
		padding: 0 16px;
		flex-direction: column;
	}

	.kost-review-fac-rating__column {
		display: block;
		width: calc(50% - 20px);

		@media (max-width: 767px) {
			width: 100%;

			&:not(:first-of-type) {
				margin-top: 12px;
			}
		}
	}
}

.kost-review-fac-rating__item {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 24px;

	&:not(:first-of-type) {
		margin-top: 12px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 20px;
	}

	.kost-review-fac-rating__title {
		display: flex;
		flex: 1;
		color: #404040;
	}

	.kost-review-fac-rating__value {
		display: flex;
		align-items: center;
	}
}

.kost-review-fac-rating__value-text {
	margin-left: 16px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #404040;
}
</style>
