<template>
	<fragment>
		<div v-if="!isReviewSectionRendered" class="kost-review-placeholder">
			<div class="kost-review-placeholder__overview">
				<bg-skeleton :width="24" :height="24" />
				<bg-skeleton
					:width="140"
					:height="navigator.isMobile ? 28 : 32"
					class="kost-review-placeholder__overview-text"
				/>
			</div>
			<div class="kost-review-placeholder__fac-rating-overview">
				<div
					v-for="indexFacSection in 2"
					:key="indexFacSection"
					class="kost-review-placeholder__fac-rating-section"
				>
					<div
						v-for="indexFacRating in 3"
						:key="indexFacRating"
						class="kost-review-placeholder__fac-rating"
					>
						<bg-skeleton
							width="50%"
							:height="navigator.isMobile ? 20 : 24"
							class="kost-review-placeholder__fac-rating-text"
						/>
						<bg-skeleton :width="90" :height="16" />
						<bg-skeleton
							:width="20"
							:height="20"
							class="kost-review-placeholder__fac-rating-value"
						/>
					</div>
				</div>
			</div>
			<div class="kost-review-placeholder__user-feedback">
				<div class="kost-review-placeholder__user-feedback-overview">
					<bg-skeleton
						ellipsed
						:width="navigator.isMobile ? 40 : 56"
						:height="navigator.isMobile ? 40 : 56"
					/>
					<div class="kost-review-placeholder__user-feedback-profile">
						<bg-skeleton
							:width="navigator.isMobile ? 70 : 240"
							:height="navigator.isMobile ? 20 : 24"
						/>
						<bg-skeleton
							:width="100"
							:height="20"
							class="kost-review-placeholder__user-feedback-date"
						/>
					</div>
					<div class="kost-review-placeholder__user-feedback-overview-rating">
						<bg-skeleton
							:width="navigator.isMobile ? 20 : 24"
							:height="navigator.isMobile ? 20 : 24"
						/>
						<bg-skeleton
							:width="22"
							:height="20"
							class="kost-review-placeholder__user-feedback-overview-value"
						/>
					</div>
				</div>
				<div class="kost-review-placeholder__user-feedback-description">
					<bg-skeleton
						v-for="indexReviewDescription in 4"
						:key="indexReviewDescription"
						width="80%"
						:height="20"
						class="kost-review-placeholder__user-feedback-description-text"
					/>
				</div>
			</div>
		</div>
		<div v-if="!isAllReviewRendered" class="kost-review-placeholder-see-all">
			<bg-skeleton :width="navigator.isMobile ? '100%' : 200" :height="40" />
		</div>
	</fragment>
</template>

<script>
import { BgSkeleton } from 'bangul-vue';

export default {
	name: 'DetailKostReviewSkeleton',
	components: {
		BgSkeleton
	},
	props: {
		isAllReviewRendered: {
			type: Boolean,
			default: false
		},
		isReviewSectionRendered: {
			type: Boolean,
			default: false
		}
	}
};
</script>

<style lang="scss">
.kost-review-placeholder {
	display: flex;
	padding: 48px 0;
	flex-direction: column;

	@media (max-width: 767px) {
		padding: 32px 16px;
		background: #fff;
	}

	.kost-review-placeholder__overview {
		display: flex;
		align-items: center;

		.kost-review-placeholder__overview-text {
			margin-left: 8px;
		}
	}

	.kost-review-placeholder__fac-rating-overview {
		display: flex;
		margin: 36px 0 0;
		justify-content: space-between;

		@media (max-width: 767px) {
			margin: 24px 0 0;
			flex-direction: column;
		}

		.kost-review-placeholder__fac-rating-section {
			display: flex;
			width: calc(50% - 20px);
			flex-direction: column;

			@media (max-width: 767px) {
				width: 100%;

				/* stylelint-disable */
				&:not(:first-of-type) {
					margin: 12px 0 0;
				}
				/* stylelint-enable */
			}
		}
	}

	.kost-review-placeholder__user-feedback {
		display: flex;
		margin: 48px 0 0;
		flex-direction: column;

		@media (max-width: 767px) {
			width: 280px;
			padding: 16px;
			margin: 24px 0 0;
			border: 1px solid #dadada;
			border-radius: 8px;
		}
	}
}

.kost-review-placeholder__fac-rating {
	display: flex;
	align-items: center;

	&:not(:first-of-type) {
		margin: 12px 0 0;
	}

	.kost-review-placeholder__fac-rating-text {
		margin: 0 20px 0 0;
	}

	.kost-review-placeholder__fac-rating-value {
		margin: 0 0 0 16px;
	}
}

.kost-review-placeholder__user-feedback-overview {
	display: flex;
	height: 56px;

	@media (max-width: 767px) {
		height: 40px;
	}

	.kost-review-placeholder__user-feedback-profile {
		display: flex;
		height: 100%;
		margin: 0 0 0 16px;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 767px) {
			margin: 0 0 0 12px;
		}

		.kost-review-placeholder__user-feedback-date {
			margin: 4px 0 0;
		}
	}

	.kost-review-placeholder__user-feedback-overview-rating {
		display: flex;
		flex: 1;
		justify-content: flex-end;

		.kost-review-placeholder__user-feedback-overview-value {
			margin: 2px 0 0 4px;

			@media (max-width: 767px) {
				margin: 0 0 0 4px;
			}
		}
	}
}

.kost-review-placeholder__user-feedback-description {
	display: flex;
	margin: 12px 0 0;
	flex-direction: column;

	.kost-review-placeholder__user-feedback-description-text {
		margin: 4px 0 0;
	}
}

.kost-review-placeholder-see-all {
	padding: 0 0 48px;

	@media (max-width: 767px) {
		width: 100%;
		padding: 0 16px 32px;
		background: #fff;
	}
}
</style>
