<template>
	<div
		:class="[
			'users-feedback-container',
			{
				'users-feedback-container--card': useCardOnMobile
			}
		]"
	>
		<div class="users-feedback">
			<div
				v-for="(userReview, indexUserFeedback) in kostReviews"
				:ref="`userReview${identifier}${userReview.review_id}`"
				:key="`user-review-${indexUserFeedback}`"
				class="users-feedback__section"
			>
				<div class="user-feedback__header">
					<img
						v-lazy="{
							src: userReview.user_photo_profile_url,
							error: '/general/img/pictures/navbar/ic_profile.svg',
							loading: '/general/img/pictures/navbar/ic_profile.svg'
						}"
						class="user-feedback__photo"
						alt="foto profile"
					/>
					<div class="user-feedback__profile">
						<span class="user-feedback__profile-name">{{
							userReview.name
						}}</span>
						<span class="user-feedback__profile-time">{{
							userReview.reviewDate
						}}</span>
					</div>
					<div class="user-feedback__rating">
						<bg-icon name="star-glyph" size="sm" />
						<span class="user-feedback__rating-text">{{
							userReview.rating
						}}</span>
					</div>
				</div>
				<div class="user-feedback__body">
					<p class="user-feedback__description">
						{{ limitedContent ? userReview.reviewContent : userReview.content }}
						<span
							v-if="userReview.isLimitedDescription && useCardOnMobile"
							class="user-feedback__description-action"
							@click.stop="handleOpenFromSection(userReview.review_id)"
						>
							selengkapnya
						</span>
					</p>
					<detail-kost-review-photos
						v-if="userReview.hasPhoto"
						:use-card-on-mobile="useCardOnMobile"
						:user-photo="userReview.photo"
						:index-user-feedback="userReview.review_id"
						@handle-pass-review-gallery-value="handlePassReviewGalleryValue"
					/>
					<template v-if="userReview.hasOwnerReply">
						<detail-kost-review-owner-feedback
							v-if="!navigator.isMobile || !useCardOnMobile"
							:ref="`ownerReply${identifier}${userReview.review_id}`"
							:owner-feedback="userReview.reply_owner"
						/>
						<div v-else class="user-feedback__owner-reply">
							<span
								class="user-feedback__owner-reply-text"
								@click.stop="handleOpenFromOwner(userReview.review_id)"
							>
								Lihat balasan pemilik
							</span>
						</div>
					</template>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { BgIcon } from 'bangul-vue';
import MixinKostReview from 'Js/_detail/mixins/MixinKostReview';

import DetailKostReviewPhotos from './DetailKostReviewPhotos';
import DetailKostReviewOwnerFeedback from './DetailKostReviewOwnerFeedback';

export default {
	name: 'DetailKostReviewUsersFeedback',
	components: {
		BgIcon,
		DetailKostReviewPhotos,
		DetailKostReviewOwnerFeedback
	},
	mixins: [MixinKostReview],
	props: {
		kostReviews: {
			type: Array,
			required: true
		},
		limitedContent: {
			type: Boolean,
			default: false
		},
		useCardOnMobile: {
			type: Boolean,
			default: true
		},
		identifier: {
			type: String,
			default: ''
		}
	},
	methods: {
		handleOpenAllReviewModal(payload) {
			this.$emit('handle-toggle-all-review-modal', {
				isOpen: true,
				...payload
			});
		},
		handlePassReviewGalleryValue(payload) {
			this.$emit('handle-toggle-review-gallery', {
				...payload,
				entryPoint:
					this.identifier === 'Modal' ? 'Detail Review' : 'Overview Review'
			});
		},
		handleOpenFromOwner(payload) {
			this.handleOpenAllReviewModal({
				indexUserFeedback: payload,
				type: 'owner'
			});
		},
		handleOpenFromSection(payload) {
			if (this.useCardOnMobile && this.navigator.isMobile) {
				this.handleOpenAllReviewModal({
					indexUserFeedback: payload,
					type: 'section'
				});
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.users-feedback-container {
	display: block;

	@media (max-width: 767px) {
		padding: 0 16px;
	}
}

.users-feedback {
	display: block;
}

.users-feedback__section {
	display: flex;
	flex-direction: column;

	&:not(:first-of-type) {
		margin: 24px 0 0;

		@media (max-width: 767px) {
			margin: 40px 0 0;
		}
	}

	.user-feedback__header {
		display: flex;

		.user-feedback__photo {
			width: 48px;
			height: 48px;
			margin: 0 16px 0 0;
			border-radius: 24px;
			object-fit: cover;

			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
				margin: 0 12px 0 0;
				border-radius: 20px;
			}
		}
	}

	.user-feedback__body {
		display: flex;
		margin: 16px 0 0;
		flex-direction: column;

		@media (max-width: 767px) {
			margin-top: 12px;
		}

		.user-feedback__description {
			padding: 0;
			margin: 0;
			font-size: 16px;
			line-height: 24px;
			color: #404040;
		}
	}
}

.user-feedback__owner-reply {
	display: flex;
	flex: 1;
	align-items: flex-end;

	.user-feedback__owner-reply-text {
		font-size: 12px;
		font-weight: bold;
		line-height: 18px;
		color: #757575;
		border-bottom: 1px solid #757575;
	}
}

.user-feedback__description-action {
	padding-bottom: 1px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #404040;
	border-bottom: 1px solid #404040;
}

.user-feedback__profile {
	display: flex;
	width: 100%;
	max-width: calc(100% - 124px);
	height: 100%;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 767px) {
		max-width: calc(100vw - 126px);
	}

	.user-feedback__profile-name {
		overflow: hidden;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		color: #303030;
		text-overflow: ellipsis;
		white-space: nowrap;

		@media (max-width: 767px) {
			line-height: 20px;
		}
	}

	.user-feedback__profile-time {
		font-size: 14px;
		line-height: 20px;
		color: #757575;
	}
}

.user-feedback__rating {
	display: flex;
	width: 52px;
	justify-content: flex-end;

	@media (max-width: 767px) {
		width: 44px;
		padding-top: 2px;
	}

	.user-feedback__rating-text {
		margin-left: 4px;
		font-size: 16px;
		font-weight: bold;
		line-height: 100%;
		color: #303030;

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 16px;
		}
	}
}

@media (max-width: 767px) {
	.users-feedback-container--card {
		display: flex;
		width: 100vw;
		padding: 0;
		overflow: auto;

		.users-feedback {
			display: flex;
			width: auto;
			padding: 0 16px;

			.users-feedback__section {
				width: 280px;
				height: 208px;
				padding: 16px;
				background: #fff;
				border: 1px solid #dadada;
				border-radius: 8px;

				&:not(:first-of-type) {
					margin: 0 0 0 16px;
				}
			}
		}

		.user-feedback__profile {
			max-width: calc(100% - 92px);

			.user-feedback__profile-name {
				font-size: 14px;
				line-height: 20px;
			}
		}

		.user-feedback__body {
			height: 100%;

			.user-feedback__description {
				font-size: 14px;
				line-height: 20px;
			}
		}

		.user-feedback__rating {
			width: auto;
		}
	}
}
</style>
