<template>
	<div v-inviewport:150="handleFetchReview" class="kost-review">
		<div class="kost-review__divider">
			<bg-divider />
		</div>
		<template v-if="isRendered">
			<div v-if="totalReviews" class="kost-review__content">
				<div class="kost-review__overview">
					<bg-icon name="star-glyph" size="md" />
					<span class="kost-review__overview-rating">
						{{ reviewTitle }}
					</span>
				</div>
				<div class="kost-review__fac-rating">
					<detail-kost-review-fac-rating
						:facilities-rating-set="facilitiesRatingSet"
					/>
				</div>
				<div class="kost-review__users-feedback">
					<detail-kost-review-users-feedback
						:kost-reviews="overviewKostReviews"
						:limited-content="navigator.isMobile"
						@handle-toggle-all-review-modal="handleToggleAllReviewModal"
						@handle-toggle-review-gallery="handleToggleReviewGallery"
					/>
				</div>
				<detail-kost-review-modal
					:is-show="isAllReviewModalShow"
					:kost-reviews="kostReviews"
					:facilities-rating-set="facilitiesRatingSet"
					:review-title="reviewTitle"
					:review-sorted-data="reviewSortedData"
					:modal-effect="modalEffect"
					:total-reviews="totalReviews"
					:is-all-review-loading="isAllReviewLoading"
					:is-loading-sorting="isLoadingSorting"
					:review-modal-scroll-position="reviewModalScrollPosition"
					@handle-toggle-all-review-modal="handleToggleAllReviewModal"
					@handle-fetch-all-review="handleFetchAllReview"
					@handle-set-sorting="handleSetSorting"
					@handle-toggle-review-gallery="handleToggleReviewGallery"
				/>
				<detail-kost-review-gallery-modal
					:is-show="reviewGalleryData.isShowReviewGallery"
					:images="reviewGalleryData.images"
					:is-single="reviewGalleryData.isSingle"
					:is-mobile-gallery="navigator.isMobile"
					:modal-effect="modalEffect"
					is-thumbnail-centered
					:swiper-initial-slide="reviewGalleryData.swiperInitialSlide"
					re-init-swiper-on-update
					:entry-point="galleryEntryPoint"
					@close="handleToggleReviewGallery"
				/>
				<bg-button
					v-if="totalReviews > 3 && isAllReviewRendered"
					size="lg"
					class="kost-review__see-all"
					:block="navigator.isMobile"
					@click="handleSeeAllReview"
				>
					{{ reviewButtonText }}
				</bg-button>
			</div>
			<detail-kost-review-empty-state v-else />
		</template>
		<detail-kost-review-skeleton
			v-if="!isRendered || !isAllReviewRendered"
			:is-review-section-rendered="isRendered"
			:is-all-review-rendered="isAllReviewRendered"
		/>
	</div>
</template>

<script>
import { BgIcon, BgButton, BgDivider } from 'bangul-vue';
import _get from 'lodash/get';
import InViewPortDirective from 'Js/@directives/InViewPortDirective';
import { makeAPICall } from 'Js/@utils/makeAPICall.js';
import MixinKostReview from 'Js/_detail/mixins/MixinKostReview';
import { reviewSortingOptions } from 'Js/@utils/kostFilter';

import DetailKostReviewFacRating from './DetailKostReviewFacRating';
import DetailKostReviewUsersFeedback from './DetailKostReviewUsersFeedback';
import DetailKostReviewModal from './DetailKostReviewModal';
import DetailKostReviewGalleryModal from '../DetailKostSwiperGalleryModal';
import DetailKostReviewEmptyState from './DetailKostReviewEmptyState';
import DetailKostReviewSkeleton from './DetailKostReviewSkeleton';

export default {
	name: 'DetailKostReview',
	components: {
		BgIcon,
		BgButton,
		BgDivider,
		DetailKostReviewFacRating,
		DetailKostReviewUsersFeedback,
		DetailKostReviewModal,
		DetailKostReviewGalleryModal,
		DetailKostReviewSkeleton,
		DetailKostReviewEmptyState
	},
	directives: InViewPortDirective,
	mixins: [MixinKostReview],
	data() {
		return {
			isRendered: false,
			isAllReviewRendered: false,
			isAllReviewLoading: false,
			isLoadingSorting: false,
			isAllReviewModalShow: false,
			isReviewModalHidden: false,
			galleryEntryPoint: '',
			kostReviews: [],
			overviewKostReviews: [],
			totalReviews: 0,
			kostRating: 0,
			activeSorting: 'new',
			facilitiesRating: [
				{
					name: 'Kebersihan',
					rating: 0,
					tag: 'clean'
				},
				{
					name: 'Kenyamanan',
					rating: 0,
					tag: 'happy'
				},
				{
					name: 'Keamanan',
					rating: 0,
					tag: 'safe'
				},
				{
					name: 'Harga',
					rating: 0,
					tag: 'pricing'
				},
				{
					name: 'Fasilitas Kamar',
					rating: 0,
					tag: 'room_facilities'
				},
				{
					name: 'Fasilitas Umum',
					rating: 0,
					tag: 'public_facilities'
				}
			],
			reviewGalleryData: {
				isShowReviewGallery: false,
				images: [],
				isSingle: false,
				swiperInitialSlide: 0
			},
			reviewModalScrollPosition: {
				indexUserFeedback: 0,
				type: 'top'
			}
		};
	},
	computed: {
		facilitiesRatingSet() {
			return [
				this.facilitiesRating.slice(0, 3),
				this.facilitiesRating.slice(3, 6)
			];
		},
		reviewTitle() {
			return `${this.kostRating} (${this.totalReviews} review)`;
		},
		reviewButtonText() {
			return `Lihat semua review (${this.totalReviews})`;
		},
		kostId() {
			return _get(this.$store.state, 'detail._id', null);
		},
		kostReviewsLastId() {
			return this.kostReviews.length
				? this.kostReviews[this.kostReviews.length - 1].review_id
				: null;
		},
		modalEffect() {
			/**
			 * the use of empty string is intended since we don't need fade effect on
			 * mobile device
			 */
			return this.navigator.isMobile ? '' : 'fade';
		},
		reviewSortedData() {
			const sortText = reviewSortingOptions.find(
				sort => sort.value === this.activeSorting
			);

			return {
				active: false,
				data: reviewSortingOptions,
				getValue: this.activeSorting,
				icon: 'sorting-icon',
				title: sortText ? sortText.name : 'Review terbaru'
			};
		}
	},
	watch: {
		activeSorting() {
			this.handleFetchAllReview(true);
		}
	},
	methods: {
		handleGetDateInReview(date) {
			const today = this.$dayjs(new Date());

			const userReviewDate = this.$dayjs(date);
			const days = today.diff(userReviewDate, 'd');

			return typeof days === 'number' && !isNaN(days)
				? this.handleCalculateReviewDate(days + 1)
				: date;
		},
		handleGenerateKostReviews(kostReviews) {
			return kostReviews.map(review => {
				const hasPhoto = !!_get(review, 'photo', []).length;
				const hasOwnerReply = _get(review, 'reply_owner.is_show', false);
				let reviewDate = _get(review, 'tanggal', null);
				let reviewContent = _get(review, 'content', '');
				let replyDate = _get(review, 'reply_owner.date', null);
				let isLimitedDescription = false;

				reviewDate = reviewDate
					? this.handleGetDateInReview(reviewDate)
					: reviewDate;

				replyDate = replyDate
					? this.handleGetDateInReview(replyDate)
					: replyDate;

				if (this.navigator.isMobile) {
					let breakingPoint = 200;

					if (hasPhoto && hasOwnerReply) breakingPoint = 55;
					if (hasPhoto && !hasOwnerReply) breakingPoint = 95;
					if (!hasPhoto && hasOwnerReply) breakingPoint = 135;

					if (reviewContent.length > breakingPoint) {
						reviewContent = `${reviewContent.substring(0, breakingPoint)}... `;
						isLimitedDescription = true;
					}
				}

				return {
					...review,
					hasPhoto,
					hasOwnerReply,
					reviewContent,
					reviewDate,
					reply_owner: {
						...review.reply_owner,
						ownerReplyDate: replyDate
					},
					isLimitedDescription
				};
			});
		},
		async handleFetchAllReview(isFromSorting = false) {
			if (!this.kostId) return;

			isFromSorting
				? (this.isLoadingSorting = true)
				: (this.isAllReviewLoading = true);

			const limit = isFromSorting ? this.kostReviews.length : 10;
			const lastId = isFromSorting ? null : this.kostReviewsLastId;

			let url = `/stories/${this.kostId}/reviews?sort=${this.activeSorting}&limit=${limit}`;

			if (lastId) url += `&last_id=${lastId}`;

			const response = await makeAPICall({
				method: 'get',
				url
			});

			if (response && typeof response === 'object') {
				let kostReviews = _get(response, 'data', []);

				if (kostReviews.length)
					kostReviews = this.handleGenerateKostReviews(kostReviews);

				this.kostReviews = isFromSorting
					? kostReviews
					: [...this.kostReviews, ...kostReviews];
			}

			if (!this.isAllReviewRendered) this.isAllReviewRendered = true;

			isFromSorting
				? (this.isLoadingSorting = false)
				: (this.isAllReviewLoading = false);
		},
		async handleFetchReview() {
			if (!this.kostId) return;

			const response = await makeAPICall({
				method: 'get',
				url: `/stories/review/${this.kostId}?sort=new`
			});

			if (response && typeof response === 'object') {
				const rating = parseFloat(_get(response, 'rating', 0));
				const totalReviews = _get(response, 'total', 0);
				let kostReviews = _get(response, 'review', []);

				if (kostReviews && kostReviews.length)
					kostReviews = this.handleGenerateKostReviews(kostReviews);

				this.overviewKostReviews = kostReviews;
				this.totalReviews = totalReviews;
				this.kostRating =
					typeof rating === 'number' && !isNaN(rating) ? rating.toFixed(1) : 0;
				this.facilitiesRating = this.facilitiesRating.map(fac => {
					const ratingValue = _get(response, `all_rating.${fac.tag}`, 0);
					return {
						...fac,
						rating: ratingValue
					};
				});

				this.handleFetchAllReview();
			}

			if (!this.isRendered) this.isRendered = true;
		},
		handleToggleAllReviewModal(payload) {
			/**
			 * There is 3 type when user togle the all review
			 * the purpose of this type to differentiate the scroll path
			 * top = scroll will go to the top
			 * section = scroll will go to the spesific user feedback section
			 * owner = scroll will go to the spesific owner reply
			 */

			const isOpen = _get(payload, 'isOpen', false);

			if (!isOpen) {
				this.isAllReviewModalShow = isOpen;
				return;
			}

			const indexUserFeedback = _get(payload, 'indexUserFeedback', 0);
			const type = _get(payload, 'type', 'top');

			this.reviewModalScrollPosition = {
				indexUserFeedback,
				type
			};
			this.isAllReviewModalShow = isOpen;
		},
		handleSetSorting(value) {
			this.activeSorting = value;
		},
		handleMultipleModal(payload) {
			if (!payload && this.isReviewModalHidden) {
				this.isReviewModalHidden = false;

				setTimeout(() => {
					this.isAllReviewModalShow = true;
				}, 400);
			}
		},
		handleToggleReviewGallery(payload) {
			let updatedReviewGalleryDate = this.reviewGalleryData;

			if (typeof payload === 'boolean') {
				!this.navigator.isMobile && this.handleMultipleModal(payload);

				this.reviewGalleryData = {
					...updatedReviewGalleryDate,
					isShowReviewGallery: payload
				};
				return;
			}

			this.galleryEntryPoint = _get(payload, 'entryPoint', 'Overview Review');
			const isOpen = _get(payload, 'isOpen', false);
			const indexUserFeedback = _get(payload, 'indexUserFeedback', 0);
			const indexImage = _get(payload, 'indexImage', 0);

			let reviewData = this.kostReviews.find(
				review => review.review_id === indexUserFeedback
			);

			if (!reviewData)
				reviewData = this.overviewKostReviews.find(
					review => review.review_id === indexUserFeedback
				);

			const reviewPhotoData = _get(reviewData, `photo`, []);

			const imagesData = reviewPhotoData.length
				? reviewPhotoData.map(photo => photo.photo_url)
				: [];

			updatedReviewGalleryDate = {
				isShowReviewGallery: isOpen,
				images: imagesData,
				isSingle: reviewPhotoData.length === 1,
				swiperInitialSlide: indexImage
			};

			if (!this.navigator.isMobile && this.isAllReviewModalShow) {
				this.isReviewModalHidden = true;
				this.isAllReviewModalShow = false;

				setTimeout(() => {
					this.reviewGalleryData = updatedReviewGalleryDate;
				}, 400);

				return;
			}

			this.reviewGalleryData = updatedReviewGalleryDate;
		},
		handleSeeAllReview() {
			this.handleToggleAllReviewModal({
				isOpen: true,
				indexReview: 0,
				type: 'top'
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.kost-review {
	.kost-review__content {
		display: block;
		padding: 48px 0;

		@media (max-width: 767px) {
			padding: 32px 0;
			background: #fff;
		}
	}

	.kost-review__divider {
		@media (max-width: 767px) {
			padding: 0 16px;
		}
	}

	.kost-review__overview {
		display: flex;
		align-items: center;
		color: #1baa56;

		@media (max-width: 767px) {
			padding: 0 16px;
		}

		.kost-review__overview-rating {
			margin-left: 8px;
			font-size: 24px;
			font-weight: bold;
			line-height: 32px;
			color: #303030;

			@media (max-width: 767px) {
				font-size: 20px;
				line-height: 28px;
			}
		}
	}

	.kost-review__fac-rating {
		margin-top: 36px;

		@media (max-width: 767px) {
			margin-top: 24px;
		}
	}

	.kost-review__users-feedback {
		margin: 40px 0 0;

		@media (max-width: 767px) {
			margin: 24px 0 0;
		}
	}

	.kost-review__see-all {
		margin: 32px 0 0;

		@media (max-width: 767px) {
			max-width: calc(100% - 32px);
			margin: 32px auto 0;
		}
	}
}
</style>
