<template>
	<div class="user-photo-review">
		<img
			v-for="(photo, indexImage) in userPhoto"
			:key="`user-photo-${photo.photo_id}`"
			v-lazy="{
				src: photo.photo_url.small,
				error: '/general/img/pictures/navbar/ic_profile.svg',
				loading: '/general/img/pictures/navbar/ic_profile.svg'
			}"
			:class="[
				'user-photo-review__image',
				{
					'user-photo-review__image--card': useCardOnMobile
				}
			]"
			alt="foto review"
			@click.stop="handlePassReviewGalleryValue(indexImage)"
		/>
	</div>
</template>

<script>
export default {
	name: 'DetailKostReviewPhotos',
	props: {
		userPhoto: {
			type: Array,
			required: true
		},
		useCardOnMobile: {
			type: Boolean,
			default: true
		},
		indexUserFeedback: {
			type: Number,
			default: 0
		}
	},
	methods: {
		handlePassReviewGalleryValue(payload) {
			this.$emit('handle-pass-review-gallery-value', {
				indexUserFeedback: this.indexUserFeedback,
				indexImage: payload,
				isOpen: true
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.user-photo-review {
	display: flex;
	margin: 16px 0 0;

	@media (max-width: 767px) {
		margin: 12px 0 0;
	}

	.user-photo-review__image {
		width: 120px;
		height: 80px;
		object-fit: cover;
		cursor: pointer;
		background-color: #dadada;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;

		@media (max-width: 767px) {
			width: 96px;
			height: 64px;
			border: 0;
		}

		&:not(:first-of-type) {
			margin-left: 8px;
		}
	}

	@media (max-width: 767px) {
		.user-photo-review__image--card {
			width: 60px;
			height: 40px;
			border: 0;
		}
	}
}
</style>
