<template>
	<div class="form-group">
		<label for="inputParentPhoneNumber"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<input
			type="number"
			class="form-control input-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			id="inputParentPhoneNumber"
			v-model="inputParentPhone"
			v-validate="validator"
			:name="label"
			placeholder="Masukan no telpon orang tua / wali"
		/>
		<p class="text-danger is-position-absolute" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'No Telepon Orang tua / Wali',
			validator: 'required|min:8|max:14|numeric',
			isError: false
		};
	},

	computed: {
		inputParentPhone: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.parentNumber;
			},
			set(val) {
				this.$emit('validation', this.errors.first(this.label));
				this.$store.commit('setParentNumber', val);
			}
		}
	},

	watch: {
		inputParentPhone: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputParentPhone = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
					this.$emit('validation', this.errors.first(this.label));
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200)
	}
};
</script>
