<template>
	<div class="form-group">
		<label for="inputStatus"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<select
			id="inputStatus"
			v-model="inputStatus"
			v-validate="validator"
			class="form-control input-select-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			:name="label"
			:disabled="statusPage === 'member'"
		>
			<option :value="null" disabled selected>{{
				placeholderCondition
			}}</option>
			<option v-for="(status, key) in dataStatus" :key="key" :value="status">{{
				status
			}}</option>
		</select>
		<p v-show="errors.has(label)" class="text-danger is-position-absolute">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Status',
			validator: 'required',
			dataStatus: ['Belum Kawin', 'Kawin', 'Kawin Memiliki Anak'],
			isError: false
		};
	},

	computed: {
		placeholderCondition() {
			return !this.inputStatus && this.statusPage === 'member'
				? 'Belum Kawin'
				: 'Pilih status';
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		inputStatus: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.status;
			},
			set(val) {
				this.$store.commit('setStatus', val);
			}
		}
	},

	watch: {
		inputStatus: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputStatus = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	}
};
</script>
