<template>
	<div class="form-group">
		<label for="inputTenantName">
			Nomor Kamar
			<span class="text-danger">*</span>
		</label>
		<div
			class="room-number-container form-control"
			@click="showRoomNumberModal(true)"
		>
			<input
				id="inputRoomNumber"
				class="room-number-label"
				name="input-room-number"
				placeholder="Silakan pilih nomor kamar"
				readonly
				:value="roomNumberLabel"
			/>
		</div>
		<span v-if="isShowRoomAvailableTag" class="room-available text-primary">
			{{ roomAvailableStr }}
		</span>

		<mami-info
			v-if="!roomAllotment.id && roomAllotment.name"
			class="disclaimer-info"
			variant="info"
			is-rounded
		>
			Dengan pilih di tempat, Anda harus memilih nomor/nama kamar ketika penyewa
			mulai menghuni kos Anda.
		</mami-info>

		<room-allotment-wrapper
			:show-modal="showRoomAllotmentModal"
			:status-page="statusPage"
			@close="showRoomNumberModal(false)"
			@select-on-location="showSelectOnLocationToast"
			@room-loaded="setRoomAvailability"
		/>
	</div>
</template>

<script>
import RoomAllotmentWrapper from '../../room-allotment/RoomAllotmentWrapper';
import MixinBookingRoom from '../../../mixins/MixinBookingRoom';

const MamiInfo = () => import('Js/@components/mami-components/MamiInfo');

export default {
	components: {
		RoomAllotmentWrapper,
		MamiInfo
	},

	mixins: [MixinBookingRoom],

	data() {
		return {
			showRoomAllotmentModal: false
		};
	},

	computed: {
		isShowRoomAvailableTag() {
			const { id } = this.roomAllotment;
			return this.statusPage !== 'member' || id === null;
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		roomAllotment() {
			return this.$store.state.tenantProfile.tenantProfile.roomAllotment;
		},
		widgetRoomNumber() {
			return this.$store.state.tenantProfile.widgetInfo.roomNumber;
		},
		roomNumberLabel() {
			const { id, name, floor } = this.roomAllotment;
			if (id === null) {
				return '';
			} else if (id === '') {
				if (this.widgetRoomNumber) {
					return 'Kamar ' + this.sanitizeStr(this.widgetRoomNumber, 'kamar');
				}
				return 'Pilih di Tempat';
			}

			return `${name} ${floor}`;
		},
		roomId() {
			return this.$store.state.userRoom.id;
		}
	},

	methods: {
		showRoomNumberModal(show) {
			if (show && !this.roomId) {
				return;
			}
			this.showRoomAllotmentModal = show;
		},
		showSelectOnLocationToast() {
			this.$toasted.show('Nomor kamar akan dipilih secara acak', {
				theme: 'toasted-primary',
				className: 'on-location-toast',
				position: 'bottom-left',
				duration: 5000
			});
		},
		setRoomAvailability(roomAvailable) {
			this.roomAvailable = roomAvailable || 0;
		}
	}
};
</script>

<style lang="scss">
.on-location-toast {
	padding: 14px 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	opacity: 0;
}

.form-group {
	.mami-info {
		margin-top: 10px !important;
	}
}
</style>

<style lang="scss" scoped>
.room-available {
	display: block;
	margin-top: 8px;
}

.room-number-container {
	position: relative;
	display: flex;
	height: 60px;
	align-items: center;
	cursor: pointer;
	border: 0.5px solid #dbdbdb;
	box-shadow: none;

	.room-number-label {
		width: calc(100% - 32px);
		overflow: hidden;
		text-indent: 6px;
		text-overflow: ellipsis;
		word-wrap: break-word;
		white-space: nowrap;
		cursor: pointer;
		border: 0;

		&::placeholder {
			color: #999;
			opacity: 1;
		}

		&:focus {
			outline: none;
		}
	}

	&::after {
		position: absolute;
		top: calc(50% - 5px);
		right: 16px;
		display: block;
		width: 0;
		height: 0;
		content: '';
		border-top: 10px solid #484848;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
	}
}
</style>
