<template>
	<div class="form-group">
		<label for="inputTenantName">Biaya Deposit</label>
		<manage-currency-input
			id="inputCostDeposit"
			v-model="inputCostDeposit"
			class="form-control input-custom"
			:disabled="isDisabledCostDeposit"
			@change="$emit('change')"
		/>
	</div>
</template>

<script>
import ManageCurrencyInput from './ManageCurrencyInput';

export default {
	components: {
		ManageCurrencyInput
	},

	computed: {
		isDisabledCostDeposit() {
			return this.statusPage === 'member';
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		fixedBilling() {
			return this.$store.state.tenantProfile.tenantBill.fixedBilling;
		},
		inputCostDeposit: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.costDeposit;
			},
			set(val) {
				this.$store.commit('setCostDeposit', val);
			}
		}
	}
};
</script>
