<template>
	<div class="form-group">
		<label for="inputTenantName">Total yang diterima Pemilik Kos</label>
		<br />
		<span>
			Jumlah harga sewa yang ditentukan Pemilik Kos. Tidak termasuk biaya selain
			harga sewa dan diskon dari Mamikos.
		</span>
		<vue-numeric
			id="filterPriceMin"
			class="form-control input-custom"
			:value="displayPrice"
			:currency="'Rp'"
			:separator="'.'"
			:min="0"
			disabled
		/>
	</div>
</template>

<script>
import VueNumeric from 'vue-numeric';

export default {
	components: {
		VueNumeric
	},

	computed: {
		displayPrice() {
			return this.realProratedPrice || this.rentPrice;
		},
		realProratedPrice() {
			return this.$store.state.tenantProfile.tenantBill.realProrated;
		},
		originalPriceRoom() {
			return this.$store.state.userRoom.original_price;
		},
		rentPrice() {
			const { rentCount } = this.$store.state.tenantProfile.tenantBill;
			if (!this.originalPriceRoom) return '0';

			const {
				price_yearly,
				price_monthly,
				price_quarterly,
				price_semiannualy,
				price_weekly
			} = this.originalPriceRoom;
			let price = '0';

			if (rentCount === 'year') {
				price = price_yearly;
			} else if (rentCount === 'month') {
				price = price_monthly;
			} else if (rentCount === '3_month') {
				price = price_quarterly;
			} else if (rentCount === '6_month') {
				price = price_semiannualy;
			} else if (rentCount === 'week') {
				price = price_weekly;
			}

			this.$store.commit('setRentPrice', price);
			return price;
		}
	}
};
</script>

<style lang="scss" scoped>
.form-control.input-custom {
	margin-top: 10px;
}

.form-group > label {
	margin-bottom: 0;
}
</style>
