<template>
	<div class="form-group">
		<label for="inputParentName"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<input
			type="text"
			class="form-control input-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			id="inputParentName"
			:name="label"
			v-model="inputParentName"
			v-validate="validator"
			placeholder="Masukan nama orang tua / wali"
		/>
		<p class="text-danger is-position-absolute" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Nama Orang tua / Wali',
			validator: 'required|min:10|max:200',
			isError: false
		};
	},

	computed: {
		inputParentName: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.parentName;
			},
			set(val) {
				this.$store.commit('setParentName', val);
			}
		}
	},

	watch: {
		inputParentName: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputParentName = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	}
};
</script>