<template>
	<div class="form-group">
		<label for="inputEmail"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<input
			id="inputEmail"
			v-model="inputEmail"
			v-validate="validator"
			type="email"
			class="form-control input-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			:name="label"
			placeholder="nama@example.com"
		/>
		<p v-show="errors.has(label)" class="text-danger is-position-absolute">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Email',
			validator: 'required|email',
			isError: false
		};
	},

	computed: {
		inputEmail: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.email;
			},
			set(val) {
				this.$store.commit('setEmail', val);
			}
		}
	},

	watch: {
		inputEmail: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputEmail = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	}
};
</script>
