<template>
	<div>
		<div v-for="(cost, key) in costData" :key="key" class="form-group">
			<label for="inputTenantName">Biaya {{ key + 1 }}</label>

			<div class="wrapper-input-question">
				<div class="row">
					<div class="col-xs-7">
						<input
							id="inputTenantName"
							v-model="costData[key].field_title"
							type="text"
							class="form-control input-custom"
							placeholder="Contoh : Listrik Bulanan"
							@change="$emit('change')"
						/>
					</div>
					<div class="col-xs-5">
						<manage-currency-input
							id="filterPriceMin"
							v-model="costData[key].field_value"
							class="form-control input-custom"
							:class="{
								'input-error':
									costData[key].field_title && costData[key].field_value == 0
							}"
							@change="$emit('change')"
						/>
						<p
							v-if="costData[key].field_title && costData[key].field_value == 0"
							class="text-danger is-position-absolute"
						>
							Biaya tidak boleh 0
						</p>
					</div>
				</div>
				<a class="link-delete-question" @click="deleteCost(key)">
					<img
						v-lazy="'/general/img/icons/ic_delete-mamipay_s_red.svg'"
						alt="Icon Delete"
					/>
				</a>
			</div>
		</div>
		<div>
			<a class="add-question" @click="addCost">+ Tambah biaya lain</a>
		</div>

		<div class="checkbox-wrapper">
			<checkbox v-model="forOtherTenant" :true-value="true" type="success"
				><span class="checkbox-label"
					>Tandai biaya lainnya untuk diterapkan ke semua penghuni</span
				></checkbox
			>
		</div>
	</div>
</template>

<script>
import ManageCurrencyInput from './ManageCurrencyInput';
import { checkbox } from 'vue-strap';
import EventBus from '../../../event-bus/event-bus';

export default {
	components: {
		ManageCurrencyInput,
		checkbox
	},

	computed: {
		costData: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.otherCost;
			},
			set(val) {
				this.$store.commit('setOtherCost', val);
			}
		},
		forOtherTenant: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.forOtherTenant;
			},
			set(val) {
				this.$store.commit('setForOtherTenant', val);
			}
		}
	},

	methods: {
		addCost() {
			const isExistingCostValid = this.validateExistingCost();
			if (isExistingCostValid) {
				this.costData.push({
					field_title: '',
					field_value: '',
					id: 0
				});
				this.$emit('add');
			} else {
				this.$toasted.show('Tolong lengkapi informasi biaya lainnya', {
					type: 'info',
					className: 'toasted-default',
					theme: 'bubble',
					position: 'bottom-center',
					duration: 2000
				});
			}
		},
		validateExistingCost() {
			for (let i = 0; i < this.costData.length; i++) {
				const { field_title, field_value } = this.costData[i];
				if (!field_title || !Number(field_value)) {
					return false;
				}
			}

			return true;
		},
		deleteCost(costFieldIndexArray) {
			const COST_DATA_ID = this.costData[costFieldIndexArray].id;
			if (COST_DATA_ID) {
				this.deleteAdditionalCostField(COST_DATA_ID, costFieldIndexArray);
			} else {
				this.costData.splice(costFieldIndexArray, 1);
				this.$emit('delete');
			}
		},
		deleteAdditionalCostField(additionalFieldId, additionalFieldIndex) {
			this.openSwalLoading();
			axios
				.delete(`/additional-cost-field/delete/${additionalFieldId}`)
				.then(response => {
					const DATA_RESPONSE = response.data;
					if (DATA_RESPONSE.status) {
						this.costData.splice(additionalFieldIndex, 1);
						this.$emit('delete');
					}
					this.closeSwalLoading();
				})
				.catch(error => {
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		}
	}
};
</script>

<style lang="scss" scoped>
.checkbox-wrapper {
	margin-top: 3rem;
	.checkbox-label {
		color: #999999;
		position: relative;
		top: -3px;
		margin-left: 0.6rem;
	}
}
</style>
