<template>
	<div class="form-group">
		<label for="inputTenantName">Biaya Down Payment</label>
		<manage-currency-input
			id="filterPriceMin"
			v-model="inputCostDownPayment"
			class="form-control input-custom"
			:class="{
				'input-error': validationInput
			}"
			:disabled="!downPayment"
			@change="$emit('change')"
		/>
		<p v-if="validationInput" class="text-danger is-position-absolute">
			Biaya Down Payment tidak boleh 0 atau melebihi Harga Sewa.
		</p>
	</div>
</template>

<script>
import ManageCurrencyInput from './ManageCurrencyInput';

export default {
	components: {
		ManageCurrencyInput
	},

	computed: {
		validationInput() {
			if (
				this.downPayment &&
				(this.inputCostDownPayment === 0 ||
					this.inputCostDownPayment >= this.discountPrice ||
					this.inputCostDownPayment >= this.totalSimulatedCalculation)
			) {
				return true;
			} else {
				return false;
			}
		},
		totalSimulatedCalculation() {
			return this.$store.state.tenantProfile.tenantBill
				.totalSimulatedCalculation;
		},
		rentPrice() {
			return this.$store.state.tenantProfile.tenantBill.rentPrice;
		},
		discountPrice() {
			return this.$store.state.tenantProfile.tenantBill.discountRentPrice;
		},
		downPayment() {
			return this.$store.state.tenantProfile.tenantBill.downPayment;
		},
		inputCostDownPayment: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.costDownPayment;
			},
			set(val) {
				this.$store.commit('setCostDownPayment', val);
			}
		}
	}
};
</script>
