<template>
	<div id="formInputToggleExtension">
		<toggle-button
			:width="75"
			:height="32"
			:value="inputToggleRentDurationNew"
			color="#1BAA56"
			:sync="true"
			:labels="{ checked: 'YA', unchecked: 'TIDAK' }"
			@change="changeValueToggleExtension"
		/>
		<manage-other-custom-action-modal
			:showModal.sync="isModal"
			:backdropValue="false"
		>
			<span slot="textHeader"
				>Apakah yakin ingin perpanjang Kontrak Sewa penghuni ?</span
			>
			<div slot="button">
				<button @click="changeToggleExtension" class="btn btn-primary">
					Ya
				</button>
				<button @click="cancelToggleExtension" class="btn">
					Tidak
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import { ToggleButton } from 'vue-js-toggle-button';

import ManageOtherCustomActionModal from '../../other-custom/ManageOtherCustomActionModal';

export default {
	components: { ToggleButton, ManageOtherCustomActionModal },

	computed: {
		inputToggleRentDurationNew() {
			return this.$store.state.tenantProfile.tenantBill.toggleRentDurationNew;
		}
	},

	data() {
		return {
			isModal: false
		};
	},

	methods: {
		changeValueToggleExtension(data) {
			if (data.value == true) {
				this.isModal = true;
				this.$store.commit('setToggleRentDurationNew', true);
			} else {
				this.$store.commit('setToggleRentDurationNew', false);
				this.$store.commit('setNewRentDuration', 0);
			}
		},
		cancelToggleExtension() {
			this.$store.commit('setToggleRentDurationNew', false);
			this.$store.commit('setNewRentDuration', 0);
			this.isModal = false;
		},
		changeToggleExtension() {
			this.$store.commit('setToggleRentDurationNew', true);
			this.isModal = false;
		}
	}
};
</script>

<style lang="scss" scoped>
#formInputToggleExtension {
	position: relative;
	top: -59px;
	right: -149px;
}
</style>
