<template>
	<div class="wrapper-addition">
		<div class="row-addition">
			<span class="label-add">Harga Sewa</span>
			<span class="cost-add"
				>Rp. {{ rentPriceReal.toLocaleString('id-ID') }}</span
			>
		</div>
		<div v-if="costDeposit" class="row-addition">
			<span class="label-add">Deposit</span>
			<span class="cost-add"
				>Rp. {{ costDeposit.toLocaleString('id-ID') }}</span
			>
		</div>
		<div
			class="row-addition"
			v-for="(data, i) in otherCost"
			:key="i"
			v-if="data.field_title"
		>
			<span class="label-add">{{ data.field_title }}</span>
			<span class="cost-add"
				>Rp. {{ data.field_value.toLocaleString('id-ID') }}</span
			>
		</div>
		<div class="row-addition">
			<span class="label-add">Total</span>
			<span class="cost-add bold"
				>Rp. {{ totalAddition.toLocaleString('id-ID') }}</span
			>
		</div>
		<div class="line-add"></div>
		<div class="row-addition">
			<span class="label-add">Down Payment (DP)</span>
			<span class="cost-add bold green"
				>- Rp. {{ costDownPayment.toLocaleString('id-ID') }}</span
			>
		</div>
		<div class="row-addition">
			<span class="label-add">Sisa Pelunasan</span>
			<span class="cost-add bold red"
				>Rp. {{ remainingPrice.toLocaleString('id-ID') }}</span
			>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		rentPriceReal() {
			if (this.prorated != '') {
				return Math.ceil(this.prorated);
			} else {
				return this.rentPrice;
			}
		},
		prorated() {
			return this.$store.state.tenantProfile.tenantBill.prorated;
		},
		rentPrice() {
			return this.$store.state.tenantProfile.tenantBill.discountRentPrice;
		},
		otherCost() {
			return this.$store.state.tenantProfile.tenantBill.otherCost;
		},
		costDownPayment() {
			return this.$store.state.tenantProfile.tenantBill.costDownPayment;
		},
		costDeposit() {
			return this.$store.state.tenantProfile.tenantBill.costDeposit;
		},
		totalAddition() {
			let total = 0;
			let totalResult = 0;
			this.otherCost.forEach(data => {
				total = total + data.field_value;
			});
			totalResult = this.rentPriceReal + total + this.costDeposit;
			this.$store.commit('setTotalSimulatedCalculation', totalResult);
			return totalResult;
		},
		remainingPrice() {
			return this.totalAddition - this.costDownPayment;
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-addition {
	.line-add {
		border: 0.5px solid rgba(0, 0, 0, 0.15);
		margin-bottom: 1rem;
	}

	.row-addition {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		.label-add {
			color: #999999;
		}

		.cost-add {
			&.bold {
				font-weight: 600;
			}

			&.green {
				color: #109e4b;
			}

			&.red {
				color: #ec4a0c;
			}
		}
	}
}
</style>
