<template>
	<input
		ref="amount-input"
		min="0"
		type="tel"
		:maxlength="maxlength"
		:disabled="disabled"
		:value="inputAmount"
		:data-value="realAmount"
		@change="$emit('change')"
		@keyup.enter="$refs['amount-input'].blur()"
		@input="onInput"
		@keypress="validateInput"
		@click="handleMaskedAmountSelect"
		@focus="handleMaskedAmountSelect"
		@blur="onAmountInputBlur"
	/>
</template>

<script>
export default {
	name: 'CurrencyInput',
	props: {
		disabled: {
			type: Boolean,
			default: false
		},
		value: {
			type: [Number, String],
			default: 0
		},
		maxlength: String
	},
	data() {
		return {
			maskedAmount: 'Rp 0',
			isFocused: false,
			realAmount: this.value
		};
	},
	computed: {
		inputAmount() {
			return this.isFocused ? this.realAmount : this.maskedAmount;
		}
	},
	watch: {
		realAmount: {
			handler(value) {
				if (!value) {
					this.realAmount = 0;
				}
				const realAmount = Number(this.realAmount);
				this.maskedAmount = `Rp ${realAmount.toLocaleString('id')}`;
				this.$emit('input', realAmount);
			}
		},
		value: {
			immediate: true,
			handler(value) {
				if (value !== this.realAmount) {
					this.realAmount = value;
				}
			}
		}
	},
	created() {
		this.onAmountInputBlur();
		if (!this.value || isNaN(this.value)) {
			this.realAmount = 0;
		}
	},
	methods: {
		onInput(e) {
			this.realAmount = e.target.value;
		},
		onAmountInputBlur() {
			this.isFocused = false;
			const realAmount = Number(this.realAmount);
			this.maskedAmount = `Rp ${realAmount.toLocaleString('id')}`;
		},
		handleMaskedAmountSelect() {
			if (!this.disabled) {
				this.isFocused = true;
				this.$refs['amount-input'].focus();
				this.$refs['amount-input'].select();
			}
		},
		validateInput(e) {
			var eventOnKeypress = e || window.event;
			let key;
			if (eventOnKeypress.type === 'paste') {
				key = window.event.clipboardData.getData('text/plain');
			} else {
				key = eventOnKeypress.keyCode || eventOnKeypress.which;
				key = String.fromCharCode(key);
			}

			var regex = /[0-9]/;
			if (!regex.test(key)) {
				eventOnKeypress.returnValue = false;
				if (eventOnKeypress.preventDefault) eventOnKeypress.preventDefault();
			}
		}
	}
};
</script>
