<template>
	<div class="form-group">
		<label for="inputTenantName">Biaya Denda Keterlambatan Pembayaran</label>
		<ManageCurrencyInput
			id="inputCostFine"
			v-model="inputCostFine"
			class="form-control input-custom"
			@change="$emit('change')"
		/>
	</div>
</template>

<script>
import ManageCurrencyInput from './ManageCurrencyInput';

export default {
	components: {
		ManageCurrencyInput
	},

	computed: {
		fixedBilling() {
			return this.$store.state.tenantProfile.tenantBill.fixedBilling;
		},
		inputCostFine: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.costFine;
			},
			set(val) {
				this.$store.commit('setCostFine', val);
			}
		}
	}
};
</script>
