<template>
	<div class="form-group">
		<label for="inputStatus">Masa biaya prorata dari tanggal</label>
		<div class="wrapper-simulated">
			<div class="box-simulated">
				<span>{{ firstCheckin }}</span>
			</div>
			<div class="dashed-line"></div>
			<div class="box-simulated">
				<span>{{ proratedDate }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		fixedBilling() {
			return this.$store.state.tenantProfile.tenantBill.fixedBilling;
		},
		checkInDate() {
			return this.$store.state.tenantProfile.tenantBill.checkInDate;
		},
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		proratedDate() {
			return this.$store.state.tenantProfile.tenantBill.proratedDate;
		},
		firstCheckin() {
			if (this.fixedBilling || this.statusPage == 'member') {
				return this.$dayjs(this.checkInDate).format('D MMMM YYYY');
			} else {
				return '';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.wrapper-simulated {
	display: flex;

	.dashed-line {
		margin: 1.8rem 1rem 0rem 1rem;
		border: 1px dashed #e04205;
		width: 100px;
		height: 1px;
	}

	.box-simulated {
		background-color: rgba(236, 74, 12, 0.33);
		color: #e04205;
		padding: 0.8rem 2rem;
		min-width: 123px;
		min-height: 35px;
	}
}
</style>
