<template>
	<div class="form-group">
		<label for="inputStatus">Lama Durasi Sewa Baru</label>
		<select
			id="inputStatus"
			class="form-control input-select-custom"
			v-model="rentNewDuration"
			:disabled="!toggleRentDurationNew"
		>
			<option value="" disabled selected>Pilih durasi sewa</option>
			<option
				v-for="(duration, key) in getListDurationCount"
				:key="key"
				:value="key + 1"
				>{{ duration }}</option
			>
		</select>
		<p class="text-danger" v-if="inputValidation">
			Durasi sewa tidak boleh kosong.
		</p>
	</div>
</template>

<script>
export default {
	computed: {
		toggleRentDurationNew() {
			return this.$store.state.tenantProfile.tenantBill.toggleRentDurationNew;
		},
		getListDurationCount() {
			return this.$store.state.tenantProfile.roomSelectedDetail
				.rentDurationList;
		},
		rentNewDuration: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.newRentDuration;
			},
			set(val) {
				this.$store.commit('setNewRentDuration', val);
			}
		},
		inputValidation() {
			return this.toggleRentDurationNew && !this.rentNewDuration;
		}
	}
};
</script>