<template>
	<div class="form-group">
		<label for="inputGender"
			>Jenis Kelamin <span class="text-danger">*</span></label
		>
		<div class="wrapper-radio">
			<radio
				v-model="inputGender"
				class="radio-control no-margin"
				selected-value="male"
				type="success"
				:disabled="statusPage == 'member'"
				><span class="label-radio">Laki - laki</span></radio
			>
			<radio
				v-model="inputGender"
				class="radio-control no-margin custom-position"
				selected-value="female"
				type="success"
				:disabled="statusPage == 'member'"
				><span class="label-radio">Perempuan</span></radio
			>
		</div>
	</div>
</template>

<script>
import { radio } from 'vue-strap';

export default {
	components: {
		radio
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		roomGender() {
			return this.$store.state.allDetailRoom.gender;
		},
		inputGender: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.gender;
			},
			set(val) {
				this.$store.commit('setGender', val);
			}
		}
	},

	watch: {
		inputGender(val) {
			if (this.roomGender) {
				const codeGender = val == 'male' ? 1 : val == 'female' ? 2 : 0;
				if (this.roomGender != 0 && this.roomGender != codeGender) {
					swal({
						title: 'Jenis kelamin tidak sama!',
						text: 'Jenis kelamin penghuni kost harus sama dengan detail kost.',
						type: 'warning',
						confirmButtonText: 'Ya'
					}).then(
						result => {
							if (result) {
								this.changeGender(val);
							}
						},
						dismiss => {
							this.changeGender(val);
						}
					);
				}
			}
		}
	},

	methods: {
		changeGender(val) {
			if (val == 'male') {
				this.inputGender = 'female';
			} else {
				this.inputGender = 'male';
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.custom-position {
	position: relative;
	top: 4px;
}
</style>
