<template>
	<div class="form-group">
		<label>Upload Foto <span class="text-danger">*</span></label>
		<div class="wrapper-upload-foto">
			<dropzone
				id="dropzone"
				ref="imagePhoto"
				class="custom-distance"
				:options="dropzoneOptionsPhoto"
				:destroy-dropzone="false"
				@vdropzone-success="uploadSuccessPhoto"
				@vdropzone-file-added="fileAdded('imagePhoto', $event)"
				@vdropzone-removed-file="removePhoto('imagePhoto', $event)"
			>
			</dropzone>

			<dropzone
				id="dropzone"
				ref="identifierPhoto"
				class="custom-distance"
				:options="dropzoneOptionsIdentifier"
				:destroy-dropzone="false"
				@vdropzone-success="uploadSuccessIdentifier"
				@vdropzone-file-added="fileAdded('identifierPhoto', $event)"
				@vdropzone-removed-file="removePhoto('identifierPhoto', $event)"
			>
			</dropzone>
		</div>
	</div>
</template>

<script>
import Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
	components: {
		Dropzone
	},

	data() {
		return {
			lastDropzone: '',
			dropzoneOptionsPhoto: {
				url: '/ownerpage/mamipay/request/media/upload',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				maxFilesize: 2,
				addRemoveLinks: true,

				dictDefaultMessage: 'Foto diri Penyewa',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$store.state.token,
					type: 'photo',
					user_id: this.tenantId || null
				}
			},
			dropzoneOptionsIdentifier: {
				url: '/ownerpage/mamipay/request/media/upload',
				paramName: 'media',
				acceptedFiles: '.jpg, .jpeg, .png',
				maxFiles: 1,
				maxFilesize: 2,
				addRemoveLinks: true,

				dictDefaultMessage: 'Foto KTP',
				dictFileTooBig: 'File foto terlalu besar',
				dictInvalidFileType: 'Tipe file ini tidak diperbolehkan',
				dictCancelUpload: 'Batal Unggah',
				dictCancelUploadConfirmation: 'Anda yakin untuk membatalkan?',
				dictRemoveFile: 'Ganti Foto',

				params: {
					_token: this.$store.state.token,
					type: 'identifier',
					user_id: this.tenantId || null
				}
			}
		};
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		tenantId() {
			return this.$store.state.tenantProfile.tenantProfile.id;
		},
		photoImageId() {
			return this.$store.state.tenantProfile.tenantProfile.picture;
		},
		photoImageTenant() {
			return this.$store.state.tenantProfile.tenantProfile.lastPictureImage;
		},
		photoIdentifierId() {
			return this.$store.state.tenantProfile.tenantProfile.cardIdentity;
		},
		photoIdentifierTenant() {
			return this.$store.state.tenantProfile.tenantProfile.lastIdentifierImage;
		}
	},

	mounted() {
		if (
			this.statusPage != 'newMember' ||
			(this.statusPage == 'newMember' && this.$route.params != 0)
		) {
			if (this.photoImageId && this.photoImageTenant) {
				this.$refs.imagePhoto.manuallyAddFile(
					{
						name: 'Photo',
						id: this.photoImageId
					},
					this.photoImageTenant.medium
				);
			}

			if (this.photoIdentifierId && this.photoIdentifierTenant) {
				this.$refs.identifierPhoto.manuallyAddFile(
					{
						name: 'Kartu Identitas',
						id: this.photoIdentifierId
					},
					this.photoIdentifierTenant.medium
				);
			}
		}
	},

	methods: {
		conditionFailedUpload(id, file) {
			swal({
				title: 'Upload Gagal',
				text:
					'Foto gagal diupload. Silakan cek kembali ukuran foto, maksimal file 2Mb.',
				type: 'warning',
				confirmButtonColor: '#d33',
				confirmButtonText: 'OK'
			}).then(result => {
				this.$refs[id].removeFile(file);
			});
		},
		fileAdded(id, file) {
			this.lastDropzone = id;
			this.$nextTick(() => {
				if (!file.accepted && !file.manuallyAdded) {
					this.conditionFailedUpload(this.lastDropzone, file);
				}
			});
		},
		removePhoto(file, response) {
			if (file == 'imagePhoto') {
				this.$store.commit('setPicture', '');
			} else if (file == 'identifierPhoto') {
				this.$store.commit('setCardIdentity', '');
			}
		},
		uploadSuccessPhoto(file, response) {
			if (response.media) {
				if (response.media.id) {
					this.$store.commit('setPicture', response.media.id);
					this.$store.commit('setLastPictureImage', response.media.urls);
				}
			} else {
				this.conditionFailedUpload(this.lastDropzone, file);
			}
		},
		uploadSuccessIdentifier(file, response) {
			if (response.media) {
				if (response.media.id) {
					this.$store.commit('setCardIdentity', response.media.id);
					this.$store.commit('setLastIdentifierImage', response.media.urls);
				}
			} else {
				this.conditionFailedUpload(this.lastDropzone, file);
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.custom-distance {
	width: 100%;
	margin-right: 2rem;
}
</style>

<style lang="scss">
.dropzone {
	padding: 0;
	.dz-preview {
		width: 100%;
		height: 100%;
		margin: 0;

		.dz-image {
			img {
				width: 100% !important;
				height: 100% !important;
				object-fit: contain;
			}
		}
	}

	.dz-default {
		&.dz-message {
			font-weight: 800;
		}
	}

	.dz-image {
		width: 185px !important;
		height: 128px !important;
		margin: 0 auto;
		position: relative !important;
		top: 9px;

		img {
			height: inherit;
			object-fit: contain;
			margin: 0 auto;
		}
	}
}

.dropzone-custom-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.dropzone-custom-title {
	margin-top: 0;
	color: #00b782;
}

.subtitle {
	color: #314b5f;
}
</style>
