<template>
	<div class="form-group">
		<label for="inputPhoneNumber"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<input
			id="inputPhoneNumber"
			v-model="inputPhoneNumber"
			v-validate="validator"
			type="number"
			class="form-control input-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			:name="label"
			placeholder="08xx"
		/>
		<p v-show="errors.has(label)" class="text-danger is-position-absolute">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Nomor Handphone',
			validator: 'required|min:8|max:14|numeric',
			isError: false
		};
	},

	computed: {
		inputPhoneNumber: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.phoneNumber;
			},
			set(val) {
				this.$store.commit('setPhoneNumber', val);
			}
		},
		newTenantPhoneNumber: {
			get() {
				return this.$store.state.tenantProfile.newTenantNumberPhone;
			},
			set(val) {
				this.$emit('validation', this.errors.first(this.label));
				this.$store.commit('setNewTenantNumberPhone', val);
			}
		}
	},

	mounted() {
		if (this.inputPhoneNumber == '') {
			this.inputPhoneNumber = this.newTenantPhoneNumber;
		}
	},

	watch: {
		inputPhoneNumber: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputPhoneNumber = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
					this.$emit('validation', this.errors.first(this.label));
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 200)
	}
};
</script>
