<template>
	<div class="form-group">
		<label for="inputTenantName">Tanggal Masuk</label>
		<datepicker
			v-if="isDisabledCheckIn"
			class="input-date-custom"
			:format="formatDate"
			ref="datePicker"
			v-model="dateSelected"
			:disabled="isDisabledCheckIn"
		></datepicker>

		<datepicker
			v-else
			class="input-date-custom"
			:format="formatDate"
			ref="datePicker"
			v-model="selected"
			:disabled="isDisabledCheckIn"
		></datepicker>
		<input
			@click="$refs.datePicker.showCalendar()"
			class="input-mask"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			type="text"
			v-model="selected"
			placeholder="Pilih tanggal"
			:disabled="isDisabledCheckIn"
		/>
		<p class="text-danger is-position-absolute" v-show="errors.has(label)">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
	components: {
		Datepicker
	},

	data() {
		return {
			label: 'Mulai Masuk',
			validator: 'required',
			isError: false,
			selected: ''
		};
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		dateSelected: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.checkInDate;
			},
			set(val) {
				this.$store.commit('setCheckInDate', val);
			}
		},
		isDisabledCheckIn() {
			if (this.statusPage == 'acceptBooking' || this.statusPage == 'member') {
				return true;
			} else {
				return false;
			}
		}
	},

	watch: {
		dateSelected: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.dateSelected = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	},

	created() {
		this.selected = this.dateSelected;
	},

	methods: {
		formatDate(val) {
			this.selected = this.$dayjs(val).format('dddd, D MMMM YYYY');
			this.dateSelected = this.$dayjs(val).format('YYYY-MM-DD');
		}
	}
};
</script>

<style lang="scss" scoped>
.form-group {
	position: relative;
	.input-mask {
		position: absolute;
		top: 58px;
		width: 97%;
		border: none;
		text-indent: 13px;
		margin: 0 auto;
		margin-left: 1px;

		&:focus {
			outline: none !important;
		}
	}
}
</style>
