<template>
	<div class="form-group">
		<label for="inputTenantName"
			>Biaya prorata untuk sewa pertama
			<span class="text-danger">*</span></label
		>
		<vue-numeric
			id="filterPriceMin"
			class="form-control input-custom"
			:value="proratedNominal"
			:currency="'Rp'"
			:separator="'.'"
			:min="0"
			disabled
		/>
	</div>
</template>

<script>
import VueNumeric from 'vue-numeric';

export default {
	components: {
		VueNumeric
	},

	computed: {
		proratedNominal() {
			if (this.checkInDate && this.rentCount && this.dateBill) {
				this.proratedCalculation(this.originalPrice, this.discountPrice);
				return this.inputProrated;
			} else {
				return '';
			}
		},
		checkInDate() {
			return this.$store.state.tenantProfile.tenantBill.checkInDate;
		},
		dateBill() {
			return this.$store.state.tenantProfile.tenantBill.dateBill || 0;
		},
		discountPrice() {
			return this.$store.state.tenantProfile.tenantBill.discountRentPrice;
		},
		originalPrice() {
			return this.$store.state.tenantProfile.tenantBill.rentPrice;
		},
		rentCount() {
			return this.$store.state.tenantProfile.tenantBill.rentCount;
		},
		inputProrated: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.prorated;
			},
			set(val) {
				this.$store.commit('setProrated', val);
			}
		}
	},

	methods: {
		proratedCalculation(originalPrice, discountPrice) {
			const DATA_BILLING = {
				billing_date: this.dateBill,
				start_date: this.checkInDate,
				amount: originalPrice,
				original_amount: discountPrice,
				rent_type: this.rentCount
			};
			axios
				.post(`/calculate-prorata`, DATA_BILLING)
				.then(response => {
					const DATA_RESPONSE = response.data;
					if (DATA_RESPONSE.status) {
						this.$store.commit(
							'setRealProrated',
							DATA_RESPONSE.data.prorata_amount
						);
						this.$store.commit(
							'setProrated',
							DATA_RESPONSE.data.prorata_amount_to_owner
						);
						this.$store.commit('setProratedDate', DATA_RESPONSE.data.end_date);
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
					this.swalError(
						null,
						'Terjadi galat saat menghitung prorata. Silakan coba lagi.'
					);
				});
		}
	}
};
</script>
