<template>
	<div class="form-group">
		<label for="inputStatus">Hitungan Sewa</label>
		<select
			id="inputStatus"
			v-model="rentCount"
			class="form-control input-select-custom"
			placeholder="Pilih durasi sewa"
			:disabled="isDisabledRentCount"
		>
			<option value="" disabled selected>Pilih hitungan sewa</option>
			<option
				v-for="(rent, key) in getListRentCount"
				:key="key"
				:value="rent.value"
				>{{ rent.label }}</option
			>
		</select>
	</div>
</template>

<script>
import _get from 'lodash/get';
import _find from 'lodash/find';
import MixinTenantProfile from '../../../mixins/MixinTenantProfile';

export default {
	mixins: [MixinTenantProfile],

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		isDisabledRentCount() {
			if (this.statusPage == 'acceptBooking' || this.statusPage == 'member') {
				return true;
			} else {
				return false;
			}
		},
		getListRentCount() {
			return this.$store.state.tenantProfile.roomSelectedDetail.rentCountList;
		},
		rentCount: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.rentCount;
			},
			set(val) {
				this.$store.commit('setRentCount', val);
			}
		},
		rentDuration: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.rentDuration;
			},
			set(val) {
				this.$store.commit('setRentDuration', val);
			}
		},
		unavailableRent() {
			return this.$store.state.tenantProfile.unavailableRent;
		},
		originalPriceRoom() {
			return _get(this.$store.state.userRoomStatus, 'room.original_price', '');
		}
	},

	watch: {
		rentCount(value) {
			const RENT_NOT_AVAILABLE = _find(this.unavailableRent, rentCountItem => {
				return rentCountItem == value;
			});
			if (RENT_NOT_AVAILABLE) {
				this.swalError(null, 'Hitungan sewa pilihan anda belum tersedia');
				this.rentCount = '';
				this.$store.commit('setRentDurationList', '');
				this.rentDuration = '';
			} else {
				this.getDuration(value);
			}
		}
	},

	mounted() {
		this.getDuration(this.rentCount);
	},

	methods: {
		setRentPrice(rentCount) {
			let price = '0';
			if (rentCount == 'year') {
				price = this.originalPriceRoom.price_yearly;
			} else if (rentCount == 'month') {
				price = this.originalPriceRoom.price_monthly;
			} else if (rentCount == '3_month') {
				price = this.originalPriceRoom.price_quarterly;
			} else if (rentCount == '6_month') {
				price = this.originalPriceRoom.price_semiannualy;
			} else if (rentCount == 'week') {
				price = this.originalPriceRoom.price_weekly;
			}
			this.$store.commit('setRentPrice', price);
		},
		getDuration(value) {
			let durationType = '';
			if (value == 'year') {
				durationType = 'yearly';
			} else if (value == 'month') {
				durationType = 'monthly';
			} else if (value == '3_month') {
				durationType = 'quarterly';
			} else if (value == '6_month') {
				durationType = 'semiannually';
			} else if (value == 'week') {
				durationType = 'weekly';
			}

			this.setRentPrice(value);

			if (durationType) {
				this.getRentDuration(durationType);
			}
		}
	}
};
</script>
