<template>
	<div>
		<div v-for="(question, key) in questionData" :key="key" class="form-group">
			<label for="inputQuestion">Pertanyaan {{ key + 1 }} </label>
			<div class="wrapper-input-question">
				<input
					id="inputQuestion"
					v-model="questionData[key].field_title"
					type="text"
					class="form-control input-custom"
					placeholder="Contoh : Apakah membawa hewan peliharaan"
				/>
				<a class="link-delete-question" @click="deleteQuestion(key)">
					<img
						v-lazy="'/general/img/icons/ic_delete-mamipay_s_red.svg'"
						alt="Icon Delete"
					/>
				</a>
			</div>
		</div>
		<div>
			<a class="add-question" @click="addQuestion">+ Tambah pertanyaan baru</a>
		</div>
	</div>
</template>

<script>
import EventBus from '../../../event-bus/event-bus';

export default {
	computed: {
		questionData: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.question;
			},
			set(val) {
				this.$store.commit('setQuestion', val);
			}
		}
	},

	methods: {
		addQuestion() {
			this.questionData.push({ field_title: '', field_value: '' });
		},
		deleteQuestion(questionFieldIndexArray) {
			const QUESTION_DATA_ID = this.questionData[questionFieldIndexArray].id;
			if (QUESTION_DATA_ID) {
				this.deleteQuestionField(QUESTION_DATA_ID, questionFieldIndexArray);
			} else {
				this.questionData.splice(questionFieldIndexArray, 1);
			}
		},
		deleteQuestionField(additionalFieldId, additionalFieldIndex) {
			this.openSwalLoading();
			axios
				.delete(`/question-field/delete/${additionalFieldId}`)
				.then(response => {
					const DATA_RESPONSE = response.data;
					if (DATA_RESPONSE.status) {
						this.questionData.splice(additionalFieldIndex, 1);
					}
					this.closeSwalLoading();
				})
				.catch(error => {
					bugsnagClient.notify(error);
					EventBus.$emit('showModalError');
				});
		}
	}
};
</script>
