<template>
	<div class="form-group">
		<label for="inputWork"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<select
			id="inputWork"
			v-model="inputWork"
			v-validate="validator"
			class="form-control input-select-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			:name="label"
			:disabled="statusPage === 'member'"
		>
			<option :value="null" disabled selected>Pilih pekerjaan</option>
			<option v-for="(work, key) in dataWork" :key="key" :value="work">{{
				work
			}}</option>
		</select>
		<p v-show="errors.has(label)" class="text-danger is-position-absolute">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Pekerjaan',
			validator: 'required',
			dataWork: ['Mahasiswa', 'Karyawan', 'Lainnya'],
			isError: false
		};
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		inputWork: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.work;
			},
			set(val) {
				this.$store.commit('setWork', val);
			}
		}
	},

	watch: {
		inputWork: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputWork = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	}
};
</script>