<template>
	<div class="form-group">
		<label for="inputDurationFine"
			>Durasi denda keterlambatan jika melewati</label
		>
		<div class="row">
			<div class="col-xs-8">
				<input
					id="inputDurationFine"
					ref="inputDurationFine"
					v-model="inputDurationDay"
					type="number"
					class="form-control input-custom"
					:class="{
						'input-error': validationInput
					}"
					:disabled="costFine <= 0"
					@change="$emit('change')"
				/>
			</div>
			<div class="col-xs-4">
				<select
					id="inputStatus"
					v-model="inputDayType"
					class="form-control input-select-custom"
					:disabled="costFine <= 0"
					@change="$emit('change')"
				>
					<option value="day" selected>Hari</option>
					<option value="week">Minggu</option>
					<option value="month">Bulan</option>
				</select>
			</div>
			<div class="col-xs-12">
				<p v-if="validationInput" class="text-danger">
					Durasi denda tidak boleh kosong
				</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	computed: {
		validationInput() {
			return (
				this.costFine > 0 &&
				(this.inputDurationDay <= 0 || !this.inputDurationDay)
			);
		},
		costFine() {
			return this.$store.state.tenantProfile.tenantBill.costFine;
		},
		fixedBilling() {
			return this.$store.state.tenantProfile.tenantBill.fixedBilling;
		},
		inputDurationDay: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.durationDay;
			},
			set(val) {
				this.$store.commit('setDurationDay', val);
			}
		},
		inputDayType: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.dayType;
			},
			set(val) {
				this.$store.commit('setDayType', val);
			}
		}
	},

	watch: {
		costFine(val) {
			if (val === 0 || !val) {
				this.$store.commit('setCostFine', 0);
			}
		}
	},

	mounted() {
		this.removeScrollFunctionalInputNumber();
	},

	methods: {
		removeScrollFunctionalInputNumber() {
			const input = document.getElementById('inputDurationFine');
			input.addEventListener('mousewheel', event => input.blur());
		}
	}
};
</script>

<style lang="scss" scoped>
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>
