<template>
	<div class="form-group">
		<label for="inputTenantName"
			>{{ label }} <span class="text-danger">*</span></label
		>
		<input
			id="inputTenantName"
			v-model="inputFullName"
			v-validate="validator"
			type="text"
			class="form-control input-custom"
			:class="{
				'input-error': isError || errors.has(label)
			}"
			:name="label"
			:disabled="statusPage == 'member'"
			placeholder="Masukan nama lengkap Penyewa"
		/>
		<p v-show="errors.has(label)" class="text-danger is-position-absolute">
			{{ errors.first(label) }}
		</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			label: 'Nama Lengkap Penyewa',
			validator: 'required|min:10|max:200|alpha_spaces',
			isError: false
		};
	},

	computed: {
		statusPage() {
			return this.$store.state.tenantProfile.statusPage;
		},
		inputFullName: {
			get() {
				return this.$store.state.tenantProfile.tenantProfile.fullName;
			},
			set(val) {
				this.$store.commit('setFullName', val);
			}
		}
	},

	watch: {
		inputFullName: debounce(function(val) {
			validator.attach(this.label, this.validator);
			validator
				.validate(this.label, val)
				.then(result => {
					if (result) {
						this.inputFullName = val;
						this.isError = false;
					} else {
						this.isError = true;
					}
				})
				.catch(error => {
					bugsnagClient.notify(error);
				});
		}, 2000)
	}
};
</script>
