<template>
	<div id="formInputDownPayment">
		<toggle-button
			v-if="statusPage != 'new-member'"
			:width="75"
			:height="32"
			:value="inputDownPayment"
			color="#1BAA56"
			:sync="true"
			:labels="{ checked: 'YA', unchecked: 'TIDAK' }"
			@change="toggleDownPayment"
		/>

		<toggle-button
			v-else
			:width="75"
			:height="32"
			:value="inputDownPayment"
			v-model="inputDownPayment"
			color="#1BAA56"
			:sync="true"
			:labels="{ checked: 'YA', unchecked: 'TIDAK' }"
			@change="toggleDownPayment"
		/>

		<manage-other-custom-action-modal
			:show-modal.sync="isModal"
			class="dp-disable-alert"
		>
			<span slot="textHeader">Apakah yakin ingin mematikan Down Payment ?</span>
			<span slot="textDescription"
				>Setelah Anda mematikan Down Payment, akan mempengaruhi perubahan total
				tagihan untuk penghuni</span
			>
			<div class="button-wrapper-footer" slot="button">
				<button @click="cancelDownPayment" class="btn btn-success">
					Batal
				</button>
				<button @click="changeDownPayment" class="btn btn-primary">
					Matikan Down Payment
				</button>
			</div>
		</manage-other-custom-action-modal>
	</div>
</template>

<script>
import { ToggleButton } from 'vue-js-toggle-button';

import ManageOtherCustomActionModal from '../../other-custom/ManageOtherCustomActionModal';

export default {
	components: { ToggleButton, ManageOtherCustomActionModal },

	computed: {
		inputDownPayment: {
			get() {
				return this.$store.state.tenantProfile.tenantBill.downPayment;
			},
			set(val) {
				this.$store.commit('setDownPayment', val);
			}
		},
		statusPage() {
			return this.$route.params.typeProfile;
		}
	},

	data() {
		return {
			isModal: false
		};
	},

	methods: {
		toggleDownPayment(data) {
			if (data.value) {
				this.$emit('active');
				this.inputDownPayment = true;
			} else {
				this.isModal = true;
				this.inputDownPayment = false;
			}
		},
		cancelDownPayment() {
			this.inputDownPayment = true;
			this.isModal = false;
		},
		changeDownPayment() {
			this.inputDownPayment = false;
			this.isModal = false;
			this.$store.commit('setCostDownPayment', 0);
		}
	}
};
</script>

<style lang="scss">
#formInputDownPayment {
	.dp-disable-alert {
		.modal-footer .btn.btn-success {
			border: 0;
			font-weight: bold;
		}

		.modal-footer .btn + .btn {
			height: 100%;
			width: 100%;
		}
	}
}
</style>

<style lang="scss" scoped>
#formInputDownPayment {
	position: relative;
	top: -59px;
	right: -149px;
}
</style>
