<template>
	<div class="card-list" :class="cardListClassName">
		<div class="card-list__content">
			<div class="card-list__label" @click="handleLabelClick">
				<span class="label">{{ label }}</span>
				<img v-if="labelIcon" :src="labelIcon" :alt="label" />
			</div>
			<div class="card-list__value">
				<a v-if="link" :href="link" class="link">{{ content }}</a>
				<!-- eslint-disable-next-line vue/no-v-html -->
				<p v-else class="ma-0" v-html="content"></p>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'DetailCardList',

	props: {
		label: {
			type: String,
			required: true
		},
		content: {
			type: [String, Number],
			required: true
		},
		type: {
			type: String,
			required: true
		},
		link: {
			type: String,
			default: ''
		},
		labelIcon: {
			type: String,
			default: ''
		},
		classes: {
			type: String,
			default: ''
		}
	},

	computed: {
		isValueAsLabel() {
			return this.type === 'value_as_label';
		},
		cardListClassName() {
			const dynamicClass = {
				'is-value-as-label': this.isValueAsLabel
			};

			this.classes.split(' ').forEach(eachClass => {
				dynamicClass[eachClass] = true;
			});

			return dynamicClass;
		}
	},

	methods: {
		handleLabelClick() {
			this.$emit('label-clicked');
		}
	}
};
</script>
<style scoped lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.card-list {
	#{&}__content {
		display: flex;
		padding: 8px 3px;
		margin-bottom: 5px;
		border-bottom: 1px dashed #595959;
		align-items: center;
		justify-content: space-between;

		@include variant('.is-value-as-label') {
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}

		.card-list__label {
			width: 40%;

			.label {
				font-size: 14px;
				font-weight: bold;
				color: #383746;
			}

			@include variant('.is-value-as-label') {
				width: 100%;
				margin-bottom: 10px;

				.label {
					font-size: 16px;
				}
			}
		}

		.card-list__value {
			width: 60%;
			font-size: 14px;
			color: #595959;
			text-align: right;
			text-align: right;
			word-wrap: break-word;

			@include variant('.potential-notes') {
				font-size: 12px;
			}

			@include variant('.is-value-as-label') {
				width: 100%;
				font-weight: bold;
				color: #383746;
				text-align: left;
			}

			.link {
				color: #0789b2;
			}
		}
	}
}
</style>
