<template>
	<div class="card-list-image" :class="{ 'is-image--open': imageHasOpened }">
		<div class="image__preview" v-if="isImagePreviweLoaded">
			<div class="preview__content">
				<img
					class="close-btn"
					src="/general/img/icons/ic_close-consultant_white.svg"
					alt="Icon close"
					@click="toggleLoadImagePreview"
				/>
				<img class="image__image" v-lazy="largeImageSource" :alt="title" />
			</div>
		</div>
		<div class="card-list-image__content">
			<img
				ref="image"
				@click="toggleLoadImagePreview"
				class="image__image"
				v-lazy="smallImageSource"
				:alt="title"
			/>
			<div class="image__title">({{ title }})</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'DetailCardListImage',

	props: {
		src: {
			type: Object,
			required: true
		},
		title: {
			type: String,
			required: true
		}
	},

	data() {
		return {
			isImagePreviweLoaded: false,
			imageHasOpened: false
		};
	},

	computed: {
		smallImageSource() {
			return this.src.small;
		},
		largeImageSource() {
			return this.src.large;
		}
	},

	watch: {
		isImagePreviweLoaded(isLoaded) {
			this.handleImagePreviewLoaded(isLoaded);
		}
	},

	methods: {
		toggleLoadImagePreview() {
			this.isImagePreviweLoaded = !this.isImagePreviweLoaded;
		},
		
		handleImagePreviewLoaded(isLoaded) {
			const TIMEOUT_DELAY = isLoaded ? 100 : 0;
			setTimeout(() => {
				this.imageHasOpened = isLoaded;
			}, TIMEOUT_DELAY);
		}
	}
};
</script>
<style scoped lang="scss">
@import 'Consultant/styles/mixins/_selector.scss';

.card-list-image {
	#{&}__content {
		padding: 8px 3px;
		margin-bottom: 5px;

		> .image__image {
			max-width: 100%;
			border-radius: 3px;
			cursor: pointer;
		}

		.image__title {
			margin-top: 15px;
			text-align: center;
			font-size: 14px;
			color: #919191;
		}
	}

	.image__preview {
		visibility: hidden;
		pointer-events: auto;
		position: fixed;
		background: rgba(0, 0, 0, 0.54);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 99999;
		opacity: 0;

		.preview__content {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-direction: column;
			padding: 0 20px;

			.close-btn {
				align-self: flex-end;
				margin-bottom: 10px;
				cursor: pointer;
				visibility: hidden;
				@include variant('.is-image--open') {
					visibility: visible;
					transition: 0.3s;
					transition-delay: 0.6s;
				}
			}

			> .image__image {
				transform: scale(0);
				margin: auto;
				width: 100%;
				height: auto;
				@include variant('.is-image--open') {
					transform: scale(1);
					transition: transform 0.3s;
					transition-delay: 0.1s;
				}
			}
		}

		@include variant('.is-image--open') {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
}
</style>