<template>
	<div class="consultant-detail-card">
		<div class="detail-card__content">
			<div class="detail-card-header">
				<slot name="header"></slot>
			</div>
			<slot></slot>
		</div>
	</div>
</template>
<script>
export default {
	name: 'DetailCard'
};
</script>
<style lang="scss">
.consultant-detail-card {
	.detail-card__content {
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
		padding: 20px 15px;

		.detail-card-header {
			> * {
				margin-bottom: 15px;
			}

			.text-muted {
				font-size: 14px;
				color: #595959;
			}

			.title {
				font-size: 14px;
				color: #383746;
				font-weight: 600;
			}

			.link {
				color: #0789b3;
				font-size: 14px;
			}
		}
	}
}
</style>